/** 自动化活动页面样式文件**/
#wrapper{margin:0; width: 100%;}
.main { width:1008px; margin:0 auto; padding-bottom:20px; }
.main .product_list { margin-bottom:20px; }
.tb_box{display: none;}

/* 楼层头部 */
.product_list h2{ height:50px; line-height:50px; padding: 0 20px; background-color: #f4f4f4; font-size:18px;  font-weight:bold; }
.product_list h2 span { font-size:16px; font-weight:normal; margin-left: 20px; }

/* 商品样式 */
.product_list .product_border { width:172px; float:left; padding:20px 3px 20px 22px; overflow: hidden; }
.product_border .product { width:172px; position:relative; }

.product_border .product .pic { border:1px solid #f4f4f4; width:170px; height:170px; margin-bottom: 10px; }
.product_border .product .pic img {width:170px; height:170px; }

.product_border .product .price_now { color:#d4062e; font-size:12px; margin-right:10px; }
.product_border .product .price_now strong { font-size:18px; font-weight:bold; }
.product_border .product .price_old { color: #666; padding-right: 10px; text-decoration: line-through; font-size:12px; }

.product_border .product h3{font-size: 14px;}
.product_border .product .miaoshu{padding: 5px 0; font-size: 14px; font-weight: bold;}

.product_border .product a.buy { font-size:14px; display:block; width:120px; height:31px; line-height:26px; margin:10px auto 0; color:#fff; background:url(/yohohk/img/button_bj.png) no-repeat 0 0;  text-align: center;}

/* 底部活动列表 */
.act_content { width:990px; overflow: hidden; margin:auto; padding:10px 8px 20px 10px; }
.act_content .list_title { color:#434343; font-size:22px; font-weight:normal; border-bottom:1px solid #bbb; }
.act_content ul{margin-right: -10px;}
.act_content li { float: left;  height: 160px;  padding: 8px 8px 0 0;  width: 325px;}
.act_content li.last { padding-right:0; }