.alipay-payment-form-container {
    display: flex;
    flex-direction: column;
}

.alipay-payment-form-container > .alipay-payment-form-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.alipay-payment-form-container > .alipay-payment-form-logo-container > img {
    height: 40px;
    padding-bottom: 1.5rem;
}

.alipay-payment-form {
    display:flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
}

.alipay-payment-form > .qr-code {
    width: 230px;
    height: 230px;
    border-radius: 3px;
    box-shadow:0px 0px 12px -2px rgba(20%,20%,40%,0.5);
}

.alipay-payment-form > .qr-code > iframe{
    margin:15px;
    border:none;
    width:200px;
    height:200px;
    border-radius: 3px;
}

.alipay-payment-form > .instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    
}

.alipay-payment-form > .instruction > .scan-code,
.alipay-payment-form > .instruction > .download-app {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.2rem 5rem 1.2rem 3rem;
}

.alipay-payment-form > .instruction > .scan-code > .icon,
.alipay-payment-form > .instruction > .download-app > .icon {
    width: 50px;
    height: 50px;
    padding-right: 20px;
}

.alipay-payment-form > .instruction > .scan-code > .icon > img,
.alipay-payment-form > .instruction > .download-app > .icon > img {
    width: 100%;
    height: 100%;
}

.alipay-payment-form > .instruction > .scan-code {
    color: white;
    background-color: #b4cad5;
    border-radius: 0 5px 0 0;
}

.alipay-payment-form > .instruction > .download-app {
    background-color: #c6e2fb;
    border-radius: 0 0 5px 0;
}