﻿/**
* article.css
* 文章頁面
**/

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC');
body {
    font-size: 14px;
    color: #7e7e7e;
}

a {
    color: #7e7e7e;
}

.faq-left-heading {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #EC4659;
    margin: 0;
    margin-right: 12px;
    padding: 4px 12px;
}

.faq-menu h4.title {
    margin-right: 12px;
}

.faq-menu a.faq-menu-item {
    display: block;
    padding: 2px 8px;
    -webkit-transition: background-color .2s, color .2s;
    -moz-transition: background-color .2s, color .2s;
    -o-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
}

.faq-menu a.faq-menu-item:hover,
.faq-menu a.faq-menu-item.current {
    background-color: #eee;
    text-decoration: none;
}

.main-wrapper > .faq-divider {
    border-left: 4px solid #eee;
    position: absolute;
    left: 206px;
    top: 0;
    bottom: 4px;
}
.main-content .section-block>.content {
    max-width: 800px;
    float: left;
    padding-top: 0;
}
.main-content .section-block>.right-content {
    max-width: 150px;
    float: right;
    padding-top: 0;
    width: 150px;
    z-index: 100px;
    background: white;
}

/* article cat */

.article-cat-list {
    display: block;
    padding: 0 4px;
}

.article-cat-item {
    display: block;
    line-height: 32px;
    font-size: 14px;
    float: left;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    width: 100%;
    margin-bottom: 5px;
}

.article-cat-item:last-child {
    border-bottom: 0px solid #eee;
    margin-bottom: 10px;
}

/* article item */

.article-cat-item > .article {
    float: left;
    padding: 5px 0;
    width: calc(100% - 185px);
}

.article-cat-item > .article  > .title {
    font-size: 20px;
    color: #00ACEE;
    font-weight: 600;
    float: left;
    width: 100%;
    background: white;
    padding: 5px 0;
}

a.article-cat-item:hover >.article  >.title, a.article-cat-item:hover >.article  >.description  {
    text-decoration: underline;
}

.article-cat-item > .article  > .description {
    width: 100%;
    float: left;
    line-height: 20px;
}

/* Left Menu */
.article-left-content{
    float: left;
    min-width: 75px;
    margin-right: 10px;
    border-right: 1px solid #e3e3e3;
    width: 6%;
}
.article-left-content a {
    color: black;
}

.article-menu{
    float: left;
}

.article-menu .title {
    font-size: 1em;
    text-align: center;
}

.icon-image{
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

.icon-image img {
    max-height: 60px;
    max-width: 60px;
}

a:hover .icon-image>img {
    opacity: 0.7;
}

.main-wrapper > .main-content {
    float: left;
    width: 74%;
}

.main-wrapper > .main-content img {
    max-width: 800px;
    height: auto;
}

.section-block h4.main-title {
    font-size: 24px;
    height: inherit;
    line-height: 36px;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    text-overflow: ellipsis;
    color: #454545;
}

.section-block h4.main-title span {
    display: inline-block;
    position: relative;
    padding: 5px 7px;
    min-width: 15%;
    color: #00acee;
    margin-bottom: -2px;
    font-size: 18px;
    font-weight: 600;
    border-left: 4px solid #00acee;
}

.sub-title {
    float: left;
    width: 100%;
    margin-top: 5px;
}

.date{
    float:left;
    padding-top: 8px;
    padding-bottom: 8px;
}

.date span {
    display: inline-block;
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
}


/* Share buttons */
.share-btns {
    font-size: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    float: right;
}
.share-btn {
    background-image: url('/yohohk/img/share-btns.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.share-btn:hover {
    opacity: 0.7;
}
.share-btn.facebook {
    background-position: -5px -5px;
}
.share-btn.google-plus {
    background-position: -39px -5px;
}
.share-btn.pinterest {
    background-position: -73px -5px;
}
.share-btn.twitter {
    background-position: -107px -5px;
}
.share-btn.weibo {
    background-position: -141px -5px;
}
.share-btn + .share-btn {
    margin-left: 15px;
}

.rp-col {
    margin: 0 7px;
    width: 160px;
    height: 160px;
    float: left;
    background-color: #eee;
}

/* right content */
.article-sidebar{
    float: right;
}
.block-title {
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
}

.block-title span {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    padding-right: 4px;
    border-left: 4px solid #00acee;
}

.block > ul {
    list-style: none;
    padding: 0 10px 0 0px;
    margin-bottom: 0;
}

.block > ul>li{
    padding: 10px 0 10px 5px;
    border-top: #666666 1px dotted;
}

.article-sidebar > div{
    margin-top: 10px;
}

.article-sidebar .ad {
    width: 206px;
    background-color: #e2e2e2;
    height: 108px;
}

/* article feature image */
.article-cat-item > .feature-img {
    display: block;
    line-height: 32px;
    font-size: 14px;
    width: 175px;
    height: 100px;
    float: left;
    margin: 0px 10px 0px 0px;
}

.article-cat-item > .feature-img>img {
    width: 175px ;
    height: 100px;
}

#price_main h2 {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    border-left: 4px solid #00acee;
    margin-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}

/*  related product */
.product-list {
    padding: 0 3px;
    margin-top: 10px;
}

.breadcrumbs {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    float: left;
    width: 100%;
}

/*article content*/
.article-content body, .article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6, .article-content p, .article-content blockquote, .article-content dl, .article-content dt, .article-content dd, .article-content ul, .article-content ol, .article-content li, .article-content pre, .article-content form, .article-content fieldset, .article-content legend, .article-content button, .article-content input, .article-content textarea, .article-content th, .article-content td {
    margin: initial;
    padding: inherit;
}
.article-content li {
    padding: 0;
    margin: 0;
}
.article-content hr{
	margin: initial;
	padding: 0;
}
.article-content ol{
    list-style-type: decimal;
    padding: 0 20px;
}
.article-content ul{
    list-style-type: disc;
    padding: 0 20px;
}
.article-content img {
    max-width: 100%;
}
.main-content .section-block>.right-content img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px !important;
}
.article_goods_list {
    float: left;
    width: 100%;
}

.article-content {
    font-size: 17px;
    font-family: "Noto Sans TC", "Noto Sans SC", 'Microsoft JhengHei',Arial,sans-serif;
    width: 100%;
    float: left;
    box-sizing: border-box;
    line-height: 25px;
    color: #303030;
    letter-spacing: 1.5px;
    font-weight: initial;
    margin-top: 10px;
	margin-bottom: 5px;
}

.article-content > h3 {
    color: #000000;
    font-size: 20px;
    padding: 10px 0;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.article-content > h3 > strong {
    color: #00aeef;
    font-size: 20px;
}

.article-content a.click-to-buy {
    color: #00acee;
    font-weight: bold;
}

.article-cat.main-content, .article-page.main-content {
    min-width: 950px;
}
.current-cat {
    border: 1px solid #00acee;
    float: left;
    padding: 1px 6px;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #00acee;
    font-weight: bolder;
}
.article-main-content {
    float: left;
    width: 75%;
    max-width: 960px;
}
h1.article-title {
    float: left;
    width: 100%;
    font-weight: 600;
    color: #303030;
    letter-spacing: 1.5px;
    padding: 20px 0 5px 0;
    font-size: 22px;
}
.sub-title.date {
    margin: 0;
    padding: 5px 0;
    color: #7f7f7f;
    font-weight: 500;
    letter-spacing: 1px;
}
.article-header {
    float: left;
    width: 100%;
    padding: 18px 0px;
    border-bottom: 2px solid #00acee;
}

section.article-desc {
    float: left;
    width: 100%;
    padding: 28px 20px;
    background: #e3f4f8;
    color: #000000;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.5px;
    box-sizing: border-box;
    margin: 30px 0;
    font-weight: 400;
}

.article-post-goods-list .list-title {
    color: #00acee;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 20px 0 5px 0;
    display: inline-block;
    position: relative;
}

.article-post-goods-list .list-title::before {
    width: 100%;
    height: 2px;
    background: #00acee;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}

.article-post-goods-list {
    background: #f5f5f5;
    width: 100%;
    margin-top: 10px;
}
.article-post-goods-list .container {
    background: #f5f5f5;
    display: flow-root;
}
.article-sidebar {
    width: 300px;
    margin-top: 15px;
}
.article-sidebar.category {
    padding-left: 45px;
    border-left: 2px solid #ecf7fa;
}
.article-sidebar img {
    width: 300px;
    height: auto;
}
.block-title span {
    border: 0;
    background: #007ec5;
    width: 100%;
    color: white;
    box-sizing: border-box;
    letter-spacing: 1.5px;
    font-weight: 500;
    padding: 3px 0 3px 20px;
}
.block-title {
    margin-bottom: 0;
    margin-top: 20px;
    height: auto;
}
ul.article-hot-list {
    padding: 0;
}
ul.article-hot-list>li {
    border: 0;
    font-size: 16px;
    letter-spacing: 1.5px;
    padding: 15px 0;
    line-height: 25px;
    border-bottom: 1px solid #00acee;
    font-weight: 600;
}
a.go-to-home {
    display: inline-block;
    border: 1px solid #007ec5;
    color: #007ec5;
    padding: 2px 12px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-left: 10px;
}
.article-top-content {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    background: white;
    z-index: 100;
    box-shadow: 0px 0px 8px 2px #d7d7d7d7;
    margin-bottom: 5px;
}
.article-container {
    display: flow-root;
}
.article-post-menu.left {
    float: left;
    width: 15%;
}
.article-post-menu.right {
    float: right;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.article-top-menu-item {
    /*width: 20%;*/
    font-size: 16px;
    letter-spacing: 1.5px;
    padding: 0px 0;
    text-align: center;
    line-height: 26px;
    font-weight: 600;
}
a.selected.article-top-menu-item {
    color: #00acee;
    border-bottom: 3px solid #00acee;
    margin-bottom: -13px;
}
.article-top-menu-item:hover {
    text-decoration: none;
}
.article-bottom-content.post {
    float: left;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
}
.next-article, .prev-article {
    padding: 5px 0;
}
.next-article >a, .prev-article >a {
    color: #00acee;
    font-weight: 400;
    letter-spacing: 1.5px;
    padding-left: 10px;
}
/* social network link */
.article-social {
    margin-top: 10px;
}
.article-social a {
    color: transparent;
    text-align: left;
    padding-right: 15px;
}

.article-social a > .social-network-icon {
    fill: #00acee;
    color: #00acee;
    width: 40px;
    height: 40px;
}

.article-social a:hover {
    color: transparent;
}

.article-social a:hover > .social-network-icon {
    fill: #005EA7;
    color: #005EA7;
}
#apContainer {
    float: left;
}
.main-wrapper.article {
    width: 100%;
}
.new-article-list {
    box-sizing: border-box;
    padding: 0px 30px;
    margin-bottom: 20px;
}
.new-article-list > h2 {
    box-sizing: border-box;
    width: 100%;
    font-size: 22px;
    text-align: center;
    padding: 15px 0;
    color: #000;
    border-bottom: 2px solid #00acee;
}
.article-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    justify-content: space-between;
}
.article-grid.focus>.col.first {
    width: 67%;
    margin: 0;
}
.article-grid .col {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin: 5px 0;
    max-width: 845px;
}
.four .col {
    width: calc(25% - 5px);
    max-width: 312px;
}
.two .col {
    width: calc(50% - 5px);
}
.normal.col {
    max-width: 410px;
    margin-right: auto;
}
.three .article-col {
    max-height: 364px;
}
.three .col {
    width: calc(33% - 5px);
    max-width: 410px;
}
.two .col.first {
    width: 100%;
}
.article-cat-main .two .col.first {
    width: 100%;
    box-shadow: none;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.article-cat-main .two .col.first:after {
    content: "";
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #00acee;
    height: 5px;
}
.article-grid.focus>.col {
    width: 100%;
}
.col img {
    width: 100%;
}
.four img, .small img {
    width: 312px;
    height: 179px;
}
.first img, .large img {
    width: 845px;
    height: 478px;
}
.three img, .normal img {
    width: 410px;
    height: 236px;
}
.group-cols > .col {
    margin: auto;
}
.group-cols > .col img {
    width: 100%;
    max-height: 234px;
}
.article-grid.focus > .group-cols {
    width: 33%;
    max-width: 410px;
    display: flex;
    flex-wrap: wrap;
}
.article-grid.focus > .group-cols > .col:nth-child(n+2) {
    margin-top: 10px;
}
.article-col-title.outside {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.8) 30% , transparent);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.8) 30% , transparent);
    background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.8) 30% , transparent);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 30% , transparent);
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
    background-size: 1px 150px;
}
a:hover .article-col-title.outside {
    background-position: 50px;
}
.article-col-title .cat-title {
    border: 1px solid;
    padding: 1px 8px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
}
.article-col-title > .article-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
    max-height: 3em;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    letter-spacing: 1.5px;
}
/* article category columns theme css */
.article-sub-cat {
    margin: 0px auto;
    width: 100%;
    text-align: center;
    display: flow-root;
    padding: 40px 30px;
    box-sizing: border-box;
    background: transparent;
}
.article-sub-cat h2 {
    font-size: 22px;
    text-align: center;
    border-bottom: 1px solid #00acee;
    padding-bottom: 10px;
    color: #000;
}
.article-sub-cat .col {
    background: white;
    box-shadow: 3px 1px 8px 1px rgba(119, 119, 119, 0.5);
}
.column-theme-0 button, .column-theme-1 button {
    background: #00acee;
    color: white;
    border: 0;
    margin: auto;
    padding: 3px 12px;
    left: 0;
    right: 0;
    width: 85px;
}
.column-theme-2 button {
    background: transparent;
    color: #00acee;
    border: 1px solid #00acee;
    margin: auto;
    padding: 3px 12px;
    left: 0;
    right: 0;
    width: 85px;
    font-size: 12px;
}
.column-theme-2 .nav, .column-theme-2 .article-grid {
    float: left;
    width: 50%;
}
.column-theme-2 .article-grid {
    padding: 0px 1px;
    box-sizing: border-box;
}
.column-theme-2 .nav {
    padding-left: 15%;
    box-sizing: border-box;
    padding-top: 100px;
}
.column-theme-2 h2 {
    border: 0;
    position: relative;
    padding-bottom: 16px;
}
.column-theme-2 h2:after {
    content: "";
    background: #00acee;
    position: absolute;
    width: 15%;
    height: 1px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0px;
}
.nav .btn-primary {
    margin-top: 20px;
}
.article-col-feature-img {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.article-col-title {
    flex: 1;
    text-align: left;
    padding: 15px;
    color: #000;
    font-weight: bold;
}
a.col:hover {
    text-decoration: none;
    color: #000;
}
.col .article-desc {
    line-height: 1.5em;
    max-height: 3em;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    min-height: 1.5em;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    letter-spacing: 1px;
}
[class^="column-theme-"] {
    background-attachment: local !important;
    background-repeat: no-repeat!important;
    background-position:center !important;
    display: -webkit-box;
}
.article-ad-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
}
.article-cat-cols-section {
    margin-top: 40px;
}
a.go-to-home:hover {
    text-decoration: none;
    background: #007ec5;
    color: white;
}
.article-cat-title {
    box-sizing: border-box;
    width: 100%;
    font-size: 22px;
    text-align: center;
    padding: 15px 0;
    color: #000;
    border-bottom: 2px solid #00acee;
}

.article-cat-main {
    float: left;
    width: 70%;
    max-width: 900px;
    box-sizing: border-box;
    padding: 0px 27px;
}
.article-cat-main .article-desc {
    max-height: 4.5em;
    -webkit-line-clamp: 3;
}
.normal.col>.btn-primary {
    margin: auto;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 5px 25px;
}

.about-section {
    background: url('/yohohk/img/about-yoho.jpg');
    background-attachment: local ;
    background-repeat: no-repeat;
    background-position:center ;
    display: -webkit-box;
}
.cooper-section {
    background: url('/yohohk/img/cooper.jpg');
    background-attachment: local ;
    background-repeat: no-repeat;
    background-position:center ;
    display: -webkit-box;
}
.statics-page {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 100%;
}
.statics-page>section {
    width: 100%;
}
.statics-page h2 {
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: #000;
    position: relative;
    padding: 20px 0;
    margin-bottom: 20px;
    text-align: center;
}
.statics-page .left {
    text-align: left;
}
.statics-page .right {
    text-align: right;
}
.statics-page h2:after {
    margin: auto;
    content: "";
    background: #00acee;
    position: absolute;
    width: 10%;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0px;
}
.statics-page h2.left:after {
    margin-right: auto;
    margin-left: 0;
}
.statics-page h2.right:after {
    margin-left: auto;
    margin-right: 0;
}
.statics-page>section .container {
    background: transparent;
    width: 100%;
}
.statics-page .content {
    padding: 40px 0 60px 0;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}
.about-section .content {
    float: left;
    width: 50%;
    padding-right: 7%;
    padding-left:  7%;
}
.cooper-section .content {
    float: right;
    width: 50%;
}
.cooper-section .content p {
    width: 80%;
    margin: auto;
}
.statics-page p {
    font-size: 17px;
    line-height: 25px;
    color: #000;
    letter-spacing: 1.5px;
}
.contact-section {
    background: #e3f4f8;
}
.contact-section .content {
    float: left;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.article-col-feature-img:after {
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.new-article-list a:hover .article-col-feature-img:after {
    opacity:1;
}
.article-col-feature-img img {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.article-col:hover .article-col-feature-img img {
    transform: scale(1.1);
}
.article-cat-ad img {
    width: 100% !important;
}