/*購物車*/

.top-next{color: #666; padding-bottom: 10px;}
.top-next a{margin-left: 5px;}
.top-next .fl{padding-top: 5px;}
.top-next .fl a{font-weight: bold;}
.top-next .fr{padding-bottom: 2px;}
.top-next .fr span{margin-right: 10px;}
.top-next .fr span.red{margin-right: 0; color: #00acee;}

.warn{border: 1px solid #8fc075; height: 20px; background-color: #d3e8c8; padding: 6px 12px; margin-bottom: 6px; position: relative; border-radius: 2px;}
.warn .close{position: absolute; top: 7px; right: 10px; }
.warn .close:hover{text-decoration: none;}
.warn strong{font-size: 14px; color: #1c5e05; margin-right: 10px; font-weight: 400;}
.warn strong i{margin-right: 6px; font-size: 16px;}
.warn b{margin: 0 5px;}
.warn a.ud{margin:0 8px; text-decoration: underline;}

.warn-red{border-color: #e9b9bf; background-color: #fff2f2;}
.warn-red strong{color: #c03;}
.warn-red .close i{color: #c03;}


/*購物車 頁頭*/
.cart-box .hd{border: 1px solid #e4e4e4; border-bottom-color: #bbb; background-color: #fff; padding: 15px; color: #111; font-size: 0; font-family: monospace;}
.cart-box .hd span{display: inline-block; width: 78px; font-size: 14px;}
.cart-box .hd span.no2{width: 550px;}
.cart-box .hd span.no3{width: 215px;}
.cart-box .hd span.no4{width: 94px; text-align: center; margin-right: 85px;}
.cart-box .hd span.no5{width: 130px;}

/*購物車 商品列表*/
.goods-list {
    float: left;
    width: 100%;
    border: 1px solid #e4e4e4;
    margin-bottom: 6px;
    margin-right: 10px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.goods-list>ul{
    margin-bottom: 10px;
}

.goods-list li{*display:inline; zoom:1; width: 100%; border-bottom: 1px dotted #cbcbcb; color: #666; font-size: 14px;padding: 5px 0;}
.goods-list li a{color: #666;}

.goods-list li .check{height: 48px; width: 35px; padding: 32px 0 0 15px; float: left;}
.goods-list li .pic{height: 70; width: 70px; padding: 5px; float: left;}
.goods-list li .pic img{height: 70px; width: 70px; vertical-align: top;}
.goods-list li .goods_info {float: left;width: 700px; padding:0px 5px 0; height: 80px; line-height: 80px;}
.goods-list li .goods_info>.name{height: 80px;line-height: 20px;width: 450px; padding-left: 20px;float: left;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.goods-list li .name i{font-size: 12px; background-color: #fff2f2; color: #f37; padding:1px 2px; border-radius: 2px;}
.goods-list li .name .isfree{background-color: #298808; color: #fff;}
.goods-list li .name .ispreorder{background-color: #f05; color: #fff;}
.goods-list li .name .isrequiregoods{background-color: #36d0eb; color: #fff;}
.goods-list li .name .isInsurance{color: #00acee; background-color: transparent; text-decoration: underline; font-weight: bold; letter-spacing: 0px; display: block; font-size: 13px; padding: 0 0 2px; line-height: 11px;}
.goods-list li .name .isInsurance a{color: #00acee;}
.isfree{background-color: #298808; color: #fff; padding: 2px 5px;}
.ispreorder{background-color: #f05; color: #fff; padding: 2px 5px;}
.isrequiregoods{background-color: #36d0eb; color: #fff; padding: 2px 5px;}
.isInsurance{color: #00acee; background-color: transparent; text-decoration: underline;  font-weight: bold; font-size: 13px; letter-spacing: 0px; padding: 2px 5px;}
.fd.cle p i{margin-left: 10px}
.goods-list li .name div {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.goods-list li .name .insuranceOfName {
    display: block;
    font-size: 12px;
}

.package_info_popup_name {
    color: #00acee;
    font-weight: 900;
    cursor: pointer;
}
.package_info_popup_name:hover {
    text-decoration: underline;
}
.package_info_popup {
    display: none;
    position: fixed;
    width: 400px;
    z-index: 300;
    border: 1px solid #00acee;
    background: #f0fbff;
}
.package_info_popup.show {
    display: block;
}
.package_info_popup_item {
    display: inline-block;
    width: 120px;
    padding: 10px 5px;
    vertical-align: top;
}
.package_info_popup_item div {
    width: 110px;
    margin: auto;
}
.package_info_popup img {
    width: 100%;
}

.package_info_popup .item_thumb_container{
    position: relative;
}

.package_info_popup .item_thumb_container .package-qty-image {
    bottom: 5px;
    right: 0px;
    width: 50px;
    height: 42px;
    border-radius: 25px;
    font-size: 24px;
    line-height: 30px;
    padding-top: 8px;
    position: absolute;
    background-color: #5AC4BF;
    -webkit-box-shadow: inset 0 -3px #5AC4BF;
    box-shadow: inset 0 -3px #5AC4BF;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.package_info_popup .item_thumb_container .package-qty-image .package-qty-small-text {
    font-size: 0.6em;
}

.goods-list li .price-one{float: left; font-size: 13px;}
.goods-list li .price-one p.mt{margin-top: -14px;}
.goods-list li .price-one em{font-size: 14px;}
.goods-list li .price-one span{margin-right: 4px;}
.goods-list li .price-one cite{font-size: 14px; margin-right: 3px;}

.goods-list li .nums{padding-top: 28px; width: 150px; float: left; position: relative; }
.goods-list li .nums span{float: left; display: block; visibility: hidden; width: 20px; height: 20px; border: 1px solid #e8e8e8; background-color: #e8e8e8;text-shadow: 1px 1px 1px #fff; text-align: center; font-size: 18px; cursor: pointer; overflow: hidden; line-height: 18px;}
.goods-list li .nums span:hover{background-color: #fff;}
.goods-list li .nums span.disabled{cursor: not-allowed; color: #ddd; background-color:#f1f1f1;}
.goods-list li .nums span{visibility: visible;}
.goods-list li .nums input{float: left; width: 30px; height: 18px; padding-bottom: 2px; border: 1px solid #e8e8e8; border-left: 0; border-right: 0; text-align: center; color: #666;}
.goods-list li .nums .only1{margin-left: 33px;}

.goods-list li .price-xj{float: left;padding:0px 5px 0;line-height: 80px;height: 80px; font-size: 16px;color: #E75768;font-weight: 600;}
.goods-list li .price-xj cite{font-size: 14px; color: #00acee; margin:0 3px;}

.goods-list li .del{text-align:center;line-height:80px; width: 78px; height: 80px; overflow: hidden; float: left;}
.goods-list li .del p{margin-top: -12px;}
.goods-list li .del a{font-size: 12px;border:2px solid #ccc;border-radius: 50%;padding: 2px 5px;color: #ccc;}
.goods-list li .del a:hover{border-color: #00acee;color: #00acee;}

/*套餐商品*/
.goods-list li.multi-item .item-list{float: left; width: 380px;}
.goods-list li.multi-item .item-list div{margin-bottom: 1px;}

/*鼠標移入狀態*/
/* .goods-list li.hover {border: 1px solid #00acee;} */

/*缺貨，活動過期狀態*/
.goods-list li.disabled,
.goods-list li.disabled em,
.goods-list li.disabled input,
.goods-list li.disabled a{color: #999;}
.goods-list li.disabled .nums span{visibility: hidden;}
.goods-list li.disabled .nums input{background: none; border: none;}
.goods-list li.disabled .del{line-height: 24px;}
.goods-list li.disabled .del span.red{padding: 3px 8px; font-size: 12px; background-color: #CEF1FF; border-radius: 2px;}

/*最多99件警示*/
.numlimit-tip{position: absolute; top: 54px; left: 0; z-index: 100;}
.numlimit-tip p{border: 1px solid #f7cecd; background-color: #f9f9f9; color: #cc001e; padding: 3px 10px; font-size: 12px;}
.numlimit-tip i{position: absolute; top: -10px; left: 30px; z-index: 2; font-size: 24px; line-height: 20px; color:#f7cecd; font-family: Arial;}
.numlimit-tip i.btm{top: -8px; z-index: 3; color: #f9f9f9;}

.hover-warn{margin-left:-25px; box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.3); }
.hover-warn p{border-color: #bdbdbd; color: #666;}
.hover-warn i{color: #bdbdbd;}

.infotip{color: #bbb; cursor: pointer; padding: 0 5px; font-size: 14px;}

/*滿減活動商品*/
.goods-list .list-hd{background-color: #f3f3f3; border-bottom:1px solid #e4e4e4; height: 34px; line-height: 34px; padding:0 15px; overflow: hidden;}
.goods-list .list-hd .red{margin:0 5px;}
.goods-list .list-hd .fl i.iconfont{font-size: 16px; margin-right: 4px;}
.goods-list .list-hd .fr i{margin:0 5px; color: #00acee; font-size: 16px;}


/*購物車頁腳*/
.cart-box .fd{
    padding-top: 20px;
    float: left;
    width: 100%;
    background: white;
    padding: 25px 10px 0;
    border-top: 1px solid #e7e7e7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cart-box .fd .no1{padding-left:15px;}
.cart-box .fd .no1 input{vertical-align: -2px;}
.cart-box .fd .no1 a{padding: 3px 5px;}
.cart-box .fd .no1 a:hover{text-decoration: none; background-color: #EEFBFF;}
.cart-box .fd .graybtn{font-size: 14px; padding: 10px 15px; color: #333;}
.cart-box .fd .graybtn i{margin-right: 2px; vertical-align: 1px;}
.cart-box .fd .btn{font-size: 14px; padding: 10px 15px; margin-left: 20px;}
.cart-box .fd .btn i{vertical-align: 2px; margin-left: 2px;}
.cart-box .fd .btn img{vertical-align: -3px;}
.cart-box .fd p{margin-bottom: 20px;}
.cart-box .fd strong{font-size: 20px; font-family: arial; margin:0 3px;}
.cart-box .fd .fr{margin-top: -11px;}
.cart-box .fd .fr p{text-align: right; margin-bottom: 20px;}
.btn-off, .btn-off:hover{cursor: default; box-shadow: none; background: #efefef; border-color: #ddd; color: #999; text-shadow: none;}


/*頁尾促銷商品區域*/
.page-btm{border-top: 1px solid #dcdcdc; background-color: #fff; padding-bottom: 50px;}
.page-btm .line{background-color: #f8f8f8; height: 1px; overflow: hidden;}
.cuxiao-box{width: 1008px; margin: 20px auto 0;}
.cuxiao-box .hd{position: relative; height: 30px; border-bottom: 1px solid #d7d7d7;}
.cuxiao-box .hd h3{font-size: 16px; font-weight: bold;}
.cuxiao-box .hd h3 span{font-size: 12px; font-weight: 400; margin-left: 15px;}
.cuxiao-box .hd .hd-fr{position: absolute; right: 10px; top: 5px; font-size: 14px;}

.refresh-group a i{color: #298808; margin-right: 5px;}
.refresh-group a:hover{text-decoration: none;}


.price-add9 a{height: 25px; padding-bottom: 3px; display: inline-block; margin-left: 30px;}
.price-add9 a.on{color: #f37; border-bottom: 3px solid #f37; padding-bottom: 0;}
.price-add9 a:hover{text-decoration: none;}

.cuxiao-bd ul{margin-right: -20px;}
.cuxiao-bd li{width: 160px; padding: 15px; margin-right: 14px; background-color: #fff; float: left; -webkit-transition: background-color .2s;-moz-transition: background-color .2s;-o-transition: background-color .2s; -ms-transition: background-color .2s;transition: background-color .2s;}
.cuxiao-bd li .bd{height: 250px; overflow: hidden;}
.cuxiao-bd li .info{ height: 32px; line-height: 32px; background-color: #f8f8f8; color: #888; text-align: center; font-size: 14px; overflow: hidden;}
.cuxiao-bd li .pic{text-align: center; height: 160px; overflow: hidden;}
.cuxiao-bd li .pic img{width: 160px; height: 160px;}
.cuxiao-bd li .price strong{font-size: 16px; font-weight: 400; margin: 0 2px 0 4px;}
.cuxiao-bd li .price span{margin-left: 20px; color: #bababa;}
.cuxiao-bd li .name{padding-top: 5px;}
.cuxiao-bd li .name a{color: #666;}
.cuxiao-bd li .intro{ color: #bababa;}

.cuxiao-bd li.hover{background-color: #f0f0f0;}
.cuxiao-bd li.hover .price{color: #f37;}

/* ------------------------------------------------------------------------------------- */
/*空的購物車頁面*/

.none-box{background:#fff url(/yohohk/img/cart-none-bg.png) 60px 38px no-repeat; padding: 40px 0 70px 470px; height: 250px; margin-bottom: 14px; font-size: 14px;position: relative;}
.none-box a.btn{margin-left: 36px; font-size: 12px;}
.none-box .txt{float: left; margin: 20px 15px 0 0;}
.none-box-info {
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 25%;
}

/*搜索欄*/
.search_box {float: left; width:192px; height:20px; background-color: #fff; border: 1px solid #d9d9d9; border-radius: 3px; margin-top: 16px; padding: 5px; overflow: hidden;}
.search_box span {float: left; }
.search_box input { border:none; background: none; }
.search_box .sea_input { width:163px; height: 20px; line-height: 20px; float:left; color:#999; outline:none; font-size: 12px; }
.search_box .sea_submit{font-size: 19px; line-height: 18px; color: #c9c9c9; float: right; height: 20px; cursor: pointer;}
.search_box .sea_submit:hover{color: #00acee;}

/*分類*/
.cate-box{position: relative; border: 1px solid #e3e3e3; padding: 15px 20px; background-color: #fff; margin-bottom: 100px;}
.cate-box .tip{position: absolute; top: -85px; left: 30%; background:url(/yohohk/img/cart-none-tip.png) 0 0 no-repeat; width: 397px; height: 78px;}
.cate-box .bd a{display: block; float: left; width: 93px; height: 30px; text-align: center; padding-top: 70px; background:url(/yohohk/img/cartpage-cate-ico.png) 0 -9999px no-repeat; color: #666; font-size: 14px;}
.cate-box .bd a:hover{background-color: #f4f4f4; color: #f37;}
.cate-box .bd a.no1{background-position: 25px 15px;}
.cate-box .bd a.no2{background-position: -75px 15px;}
.cate-box .bd a.no3{background-position: -175px 15px;}
.cate-box .bd a.no4{background-position: -275px 15px;}
.cate-box .bd a.no5{background-position: -375px 15px; border-left: 1px solid #e3e3e3;}
.cate-box .bd a.no6{background-position: -475px 15px;}
.cate-box .bd a.no7{ background:url(/yohohk/img/cartpage-cate-ico2.png) no-repeat center 15px;}
.key-hot{position: absolute; right: 0;top: 28px; width: 315px;}
.key-hot h3{color: #999; font-size: 12px; margin-bottom: 5px;}
.key-hot a{ margin-right: 10px; line-height: 22px;}

.youmaylike-box{position: relative; border: 1px solid #e3e3e3; padding: 15px 20px; background-color: #fff; margin-bottom: 100px;}
.youmaylike-link:hover{text-decoration: none; background-color: #eefbff;}
.youmaylike-price{width: 120px; display: block; text-align: left; color: #d4062e; font-size: 14px; font-weight: bold;}
.youmaylike-name{width: 120px; height: 38px; line-height: 19px; display: block; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-align: left;}
.youmaylike-addtocart {
    height: 35px;
    line-height: 35px;
    background: transparent;
    border: 1px solid #e7e7e7;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    color: #7e7e7e;
    font-weight: 700;
    width: 120px;
    padding: 0 6px;
    text-align: center;
    display: inline-block;
}
.youmaylike-addtocart:hover{
    text-decoration: none;
    background: #00acee;
    color: white;
}

.cart-adjusted-box{position: relative; border: 1px solid #e3e3e3; padding: 15px 20px; background-color: #fff; margin-bottom: 12px;}
.cart-adjusted-title{font-size: 16px; font-weight: bold; padding: 2px 0 16px 20px;}
.cart-adjusted-box ul{font-size: 14px; color: #666; list-style: disc outside none; margin: 1em 0; padding: 0 0 0 24px;}

.favourable-list{border: 1px solid #e7e7e7; padding: 10px;background: white; position: relative;}
.favourable-activity{margin-bottom: 8px; white-space: normal;float: left;width: 100%;padding-bottom: 10px;}
.favourable-activity:nth-child(n+2){
    border-top: 1px solid #e7e7e7;
    padding-top: 20px;
}
.favourable-title, .youmaylike-title{
    margin-top: 5px;
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-left: 4px solid #00acee;
}
.favourable-goods-list, .youmaylike-list{display: block;float: left; width: 98%;padding-left: 2%}
/* .favourable-goods-list {
    height: 630px;
    overflow-y: auto;
} */
.favourable-goods, .youmaylike-goods{display: inline-block; position: relative; margin: 0px 0px  12px; white-space: normal;}
.favourable-goods-link, .youmaylike-link{display: inline-block;min-height: 205px; width:120px; padding: 6px; border: 1px solid #e7e7e7; border-radius: 4px 4px 0 0;}
.favourable-goods-link:hover{text-decoration: none; background: #eefbff;}
.favourable-goods-img, .youmaylike-img{width: 120px; height: 120px;}
.favourable-goods-price-row{width: 120px; display: block; font-size: 13px; font-weight: bold;text-align: left;margin-bottom: 5px;}
.favourable-goods-promo-price-label{color: #d4062e;}
.favourable-goods-promo-price{color: #d4062e;}
.favourable-goods-shop-price-label{color: #333; font-size: 11px;}
.favourable-goods-shop-price{color: #333; font-size: 11px; text-decoration: line-through;white-space: nowrap;}
.favourable-goods-name{width: 120px; height: 38px; line-height: 19px; display: block; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-align: left;}
.favourable-addtocart {
    height: 35px;
    background: transparent;
    border: 1px solid #e7e7e7;
    border-top: 0;
    padding: 0 5px;
    width: 134px;
    border-radius: 0 0 4px 4px;
    color: #7e7e7e;
    font-weight: 700;
}
.favourable-addtocart>i, .youmaylike-addtocart>i {
    margin-right: 10px;
    font-size: 18px;
}
.favourable-addtocart:hover {
    background: #00acee;
    color: white;
}

.favourable-goods, .youmaylike-goods {
	position: relative;
	min-width: 120px;
	padding: 4px 0;
	white-space: normal;
	font-size: 14px;
    width: 12%;
}
/* .favourable-goods {width: 32%;} */
.goods-list-right-ads {
    float: right;
    width: 400px;
    height: 400px;
    border: 1px solid #e7e7e7;
}

hr.checkout_notice {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    margin: 30px 0;
}

span.price-xj {
    color: #E75768;
    padding-left: 15px;
}

button.require_addtocart {
    margin-left: 30px;
}