/*
** checkout 订单页面
*/

.bold{font-weight: bold;}
.fs_14{ font-size:14px; }
/* 按钮 */
.btn{cursor: pointer;}
.btn_disable{ background-color:#EDEDED; color:#A9A9A9; }
.btn_disable:hover{ background-color:#EDEDED !important; color:#A9A9A9; }

/* 按钮loading */
.btn_loading,.btn_loading:hover{cursor: default; background: url('/images/loading_yoho.gif') center center no-repeat #FFF ;  text-indent: 900px ; border:none; box-shadow: none;  }

.content {background-color: #fff; padding:15px 20px 12px; margin-bottom:15px; }
.top_fn_zone{ margin-bottom:12px; }
.top_fn_zone .right_part { float:right; text-align:right; color:#bbb; }

/* 商品列表 */
.content .procuct_list{ width:100%; }
.content .procuct_list th { font-size:14px; font-weight:normal; padding:8px 6px; text-align:left; }
.content .procuct_list td { font-size:14px; color:#666; height:80px; padding:0 6px; }
.content .procuct_list td em{ font-size:15px; margin-left:6px; }
.content .procuct_list td a{ color:#666; }
.content .procuct_list td .amount{ display:block; width:60px; height:30px; line-height:30px; font-size:15px; text-align:center; }
.content .procuct_list td.product_img{ width:80px; padding:0 20px 0 0; }
.content .procuct_list th.product_count{ width:120px; text-indent:26px; }
.content .procuct_list td.product_name{ width:500px; word-wrap:break-word; word-break:break-all; }
a.link_btn span.ico_x{ display:inline-block; width:10px; height:20px; background-position:-110px -141px; vertical-align: middle; margin-right:3px; }
a.link_btn:hover span.ico_x{ background-position:-90px -141px; }
.content .cartkuang{ margin-bottom:20px; width:100%; height:15px; background:#f6f6f6}
.content dt{ border-left:solid 6px #C52E01; padding-left:6px; font-size:14px; line-height:14px; font-weight: 400; color:#000}
.content dd{ padding:10px 10px 20px; }
.content h3 {font-size: 16px; color: #7e7e7e; padding-left: 7px; border-left: 4px solid #00acee;}

/* 解决ie6,7中li标签line-height失效问题*/
/*
.addr_queue li{font-size:14px; float:left; clear:left;*white-space:nowrap; width: 100%; border: 1px solid #e7e7e7;margin-bottom: 10px;padding-bottom: 5px;}


.addr_queue li.line_hover{ border-color: #C52E01; }
.addr_queue li.red{ border-color: #00acee; }
.addr_queue li .ico_ok{ width:30px; height:18px; background-position:-129px -1px; vertical-align:middle; display:none; }
.addr_queue a.edit_btn {float: right;color: white;}
.addr_queue a.edit_btn:hover {text-decoration: none;color: #777;}
.addr_queue li.current{display:block; border-color: #00acee;}
.addr_queue li.current .radio{ display:none; }
.addr_queue li.current .ico_ok{ display:inline-block; }
.addr_queue li .consignee {float: left; font-weight: 600; padding: 10px 5px; width: 100%; margin-bottom: 5px; font-size: 16px; color: #7e7e7e; border-bottom: 1px solid #e7e7e7;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.addr_queue li .consignee>input.radio {margin-right: 5px;}
.addr_queue li .address_info{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding: 5px;float: left;width:100%;}
.addr_queue li.current .edit_btn{ display:inline-block !important; }
.addr_queue li .edit_btn{ display:none !important; }
*/
.other_addr{ padding:12px 0; font-size: 14px; }

.confirm_new_addr{ padding:12px 0; display:none; }
.confirm_new_addr .btn{ margin-right:10px; padding: 5px 20px;}

/* 下拉框 */
.combobox { display:inline-block; white-space:nowrap; font-size:12px; margin:0; padding:0 0 0 6px; border:1px solid #EDEDED; height:28px; overflow:hidden; background-color:#FFF; }
.combobox-text {border: none; height:18px; line-height:18px; padding:5px 0; margin:0; }
.combobox-text-empty{ color:#A6A6A6; }
.combobox-arrow { background:url(/yohohk/img/myselect_bg.png) no-repeat right -2px; width:28px; height:28px; overflow:hidden; display:inline-block; vertical-align:top; cursor:pointer; }
.combobox-content { position:absolute; background:#fff; display:none; border:1px solid #d3d3d3; overflow-x:hidden; overflow-y:auto; z-index:2999; }
.combobox-item { font-size:12px; padding:6px; padding-right:0px; cursor:default; }
.combobox-item-hover { background:#F5F5F5; }
.combobox-item-selected { background:#FFEBEC; color:#C52E01; }
.combobox-item-menu li{ padding:2px 6px; }

.addr_edit_win{width: 550px; padding-bottom: 20px;}
.addr_edit_win li{ padding:6px 0; position: relative;}
.addr_edit_win li.last{padding-top: 20px;}
.addr_edit_win li.last > a{margin-right: 10px;}
.addr_edit_win select{margin-right: 5px;padding: 6px;}
.addr_edit_win label{display:inline-block; max-width: 100px; padding-right:15px; text-align:left; text-transform: capitalize; vertical-align: middle;}
.addr_edit_win li.addr-li label,
.addr_edit_win li.addr-li span{float: left; margin-top: 6px;}
.addr_edit_win li.addr-li span{margin-right: 20px;}
.addr_edit_win .error{ margin-right:5px; color:#C52E01; display: none; }
.addr_edit_win .info{ color:#bbb; _vertical-align:middle; }
/*.addr_edit_win .btn{padding: 10px 20px; font-size: 14px;}*/
.addr_edit_win .btn-off{padding-left: 30px;}
input.txt{ width: 150px; padding:6px; overflow: hidden; border: 1px solid #eee; border-top-color: #ccc; margin-right: 10px; box-shadow: 0px 1px 3px rgba(200, 200, 200, 0.3) inset; vertical-align: middle; }
input.txt-short{width: 100px;}
input.txt-long{width: 400px;}

.dialog_address .graybtn{
    margin-left: 5px;
}


.dialog_address .aui_close,
.dialog_address_edit .email-li{display: none;}
.dialog_address_edit .graybtn{margin-left: 20px;}


/* 送货方式, 支付方式 */
.content .shipping_method h3{ border-left:solid 6px #C52E01; padding-left:6px; font-size:14px; line-height:14px; font-weight: 400; color:#000}
.content .shipping_method { margin-left:10px; padding-bottom:15px}
.content .shipping_method ul, .content .payment_method ul{ float:left; width: 100%;}
.content .shipping_method li, .content .payment_method li {
    float: left;
    margin: 0 1px 6px 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 1px solid transparent;
}
.content .shipping_method li .shipping_title, .content .payment_method li .payment_title {
    float: left;
    width: 23%;
    border: 1px solid #e7e7e7;
    padding: 10px 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.content li.current .title>span {
    float: left;
}
.content li.current .title {
    background: #00acee;
    color: white;
    border: 1px solid #00acee;
}
.content .shipping_method li .shipping_title>em{float: right;}
.content .shipping_method li .shipping_info, .content .payment_method li .payment_info {
    float: right;
    width: 72%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 5px;
}
.payment_title.title {
    line-height: 30px;
    min-height: 60px;
}
.payment_logo, .shipping_logo {
    float: left;
    width: 70px;
    height: 1px;
}
.shipping_title.title .shipping_logo_container {
    max-width: 70px;
    height: 30px;
}
.payment_title.title img, .shipping_title.title img {
    width: 50px;
    position: relative;
    top: 10px;
}
.shipping_title.title img {
    top: 0px;
}
/* 使用优惠 */
.content .product_queue h3{ border-left:solid 6px #C52E01; padding-left:6px; font-size:14px; line-height:14px; font-weight: 400; color:#000}
.content .product_queue table{ margin-top:20px; margin-left:10px; padding-bottom:10px;}
.content .product_queue .fn_zone{ border-top:dashed 1px #D4D4D4; margin-top:10px; padding-top:12px; min-height:90px; _height:90px; }
.content .product_queue .fn_zone .price_subtotal{ float:right; font-size:14px; text-align:right; line-height:30px; }
.content .product_queue .fn_zone .price_subtotal p{ font-size:14px; color:#777; display: none; }
.content .product_queue .fn_zone .price_subtotal p span{ margin-left:4px; }
.content .product_queue .fn_zone .price_subtotal em{ font-size:15px; }
.content .product_queue .fn_zone .price_subtotal .price{ color:#C52E01; }
.content .product_queue .fn_zone .price_subtotal .price em{ margin-left:6px; }
.content .product_queue .fn_zone .privilege{ width:567px;}
.content .product_queue .switchable_nav{ height:36px; }
.content .product_queue .switchable_nav li { float:left; margin-right:1px; position:relative; }
.content .product_queue .switchable_nav li p { height:25px; line-height:14px; width:168px; padding:11px 10px 0; position:relative; font-size:14px; cursor:pointer;  background:#FFEBEC; }
.content .product_queue .switchable_nav li p .ico_ok{ display:inline-block; width:18px; height:18px; background-position:-92px -207px; vertical-align:middle; *margin-right:3px; }
.content .product_queue .switchable_nav li p .success{ display:none; }
.content .product_queue .switchable_nav li .bevel { border-right:solid 10px #00ACEE; border-bottom:dashed 10px transparent; width:0; height:26px; float:left; _font-size:0; display:none; }
.content .product_queue .switchable_nav li.use .bevel { display:block; border-right:solid 10px #00ACEE; border-bottom:solid 10px #EDEDED; }
.content .product_queue .switchable_nav li.no_bevel .bevel{ display:none; }
.content .product_queue .switchable_nav li.click .bevel { display:block; border-right:solid 10px #C52E01; border-bottom:solid 10px #EDEDED; }
.content .product_queue .switchable_nav li.use p .ico_ok{ background-position:-137px -1px; }
.content .product_queue .switchable_nav li.use p .success{ display:inline; }
.content .product_queue .switchable_nav li.click p .ico_ok{ background-position:-62px -207px; }
.content .product_queue .switchable_nav li.click p .success{ display:none; }
.content .product_queue .switchable_nav li.use p,.content .product_queue .switchable_nav li.click p { color:#FFF; float:left; padding-left:0; }
.content .product_queue .switchable_nav li.use p{ background:#00ACEE; }
.content .product_queue .switchable_nav li.no_bevel p{ padding-left:10px; }
.content .product_queue .switchable_nav li.click p{ background:#C52E01; padding-left:0; }
.content .product_queue .switchable_nav li .use_success{ position:absolute; z-index:9; width:188px; background-color:#EDEDED; top:36px; left:0; display:none; }
.content .product_queue .switchable_nav li .use_success .number{ display:inline-block; padding:2px 3px; width:120px; overflow:hidden; white-space:nowrap; vertical-align:middle; }
.content .product_queue .switchable_nav li .use_success a{ display:inline-block; width:27px; height:27px; vertical-align:middle; }
.content .product_queue .switchable_nav li .use_success .modify_btn{ background-position:-131px -33px; }
.content .product_queue .switchable_nav li .use_success .del_btn{ background-position:-129px -221px; }
.content .product_queue .switchable_nav li .use_success .modify_btn:hover{ background-position:-131px -72px; background-color:#404040; }
.content .product_queue .switchable_nav li .use_success .del_btn:hover{ background-position:-129px -255px; background-color:#404040; }
.content .product_queue .switchable_content li{ width:400px; background-color:#EDEDED; padding:10px; position:relative; z-index:99; display:none; }
.content .product_queue .switchable_content li .close_btn{ display:block; float:right; width:13px; height:13px; background-position:-136px -228px; font-size:0; }
.content .product_queue .switchable_content li .close_btn:hover{ background-position:-136px -261px; background-color:#404040; }
.content .product_queue .switchable_content li .combobox{ vertical-align:top; }
.content .product_queue .switchable_content li .integral_btn{ margin-left:10px; vertical-align:middle; }
.content .product_queue .switchable_content li .coupon_info{ margin: 6px 6px 0; color:#C52E01; display: none;  }


.message{background-color: #fff; padding:18px 28px; border-bottom:1px dashed #D4D4D4; }
.message dt{ padding-bottom:5px; font-size:14px; }
.message dd textarea{ width: 350px; height:90px; padding: 5px; border:1px solid #EDEDED; }
.sub_line{ padding:18px 0 60px; text-align:right; }
.sub_line .btn{ font-size: 14px; padding: 11px 38px; }
.sub_line .btn img { vertical-align: middle; }

#dia_info{ display:none; padding:16px 10px 16px 48px; background-position: 0 center; background-repeat: no-repeat; font-size: 14px;  }
.icon_success{ background-image: url("/yohohk/img/statusicon/succeed.png"); }
.icon_error{ background-image: url("/yohohk/img/statusicon/error.png"); }
.icon_warning{ background-image: url("/yohohk/img/statusicon/warning.png"); }
.icon_question{ background-image: url("/yohohk/img/statusicon/question.png"); }
.icon_face-sad{ background-image: url("/yohohk/img/statusicon/face-sad.png"); }
.icon_face-smile{ background-image: url("/yohohk/img/statusicon/face-smile.png"); }




/*模拟select*/
.select_div{position:relative; float: left; margin-right: 5px;}
.select_div .select_title{border:1px solid #eee; border-top-color: #ccc; padding:0 25px 0 10px; height:30px; line-height:30px; cursor:pointer; background:url(/yohohk/img/myselect_bg.png) right 0 no-repeat; color:#999;overflow:hidden;}
.select_div .select_list{display:none; position:absolute; z-index:10; top:31px; left:0; overflow:hidden; background:#fff;border:1px solid #eee; border-top-color: #ccc;}
.select_div .select_list a{display:block; padding:0 10px; height:24px; line-height:24px;}
.select_div .select_list a.s0{height:30px; line-height:30px;}
.select_div .select_list a:hover{background-color:#f5f5f5; text-decoration: none;}
/*表格样式*/
tr.odd{
  background: #000;
 }
 tr.even{
  background: #eee;
}
div.datagrid_div{
 width: 100%;
 border: 1px solid #999;
}
/*****************样式1*******************/
 table.datagrid1{
  border-collapse: collapse;
  border-bottom: 1px solid #666;
    width: 100%;
 }
 table.datagrid1 th{
  color: #333;
  padding: 3px;
  font-family: monospace;

  text-align: left;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
 }
 table.datagrid1 td{
  padding: 3px;
  border-top: 1px solid #ccc;
 }
 /*****************样式2*******************/
 table.datagrid2{
  border-collapse: collapse;
 }
 table.datagrid2 th{
  text-align: left;
  padding: 3px;
  border: 1px #333 solid;
 }
 table.datagrid2 td{
  padding: 3px;
  border: none;
  border:1px #333 solid;
 }

 /*****************样式3*******************/
 table.datagrid3{
  border-collapse: separate;
 }
 table.datagrid3 th{
  text-align: left;
  background: #ddd;
  padding: 3px;
  border: 0px solid #fff;
 }
 table.datagrid3 td{
  padding: 3px;
  border: 0px solid #fff;
 }

 /*****************样式4*******************/
 table.datagrid4{
  border-collapse: collapse;
 }
 table.datagrid4 th{
  text-align: left;
  background: #ddd;
  padding: 3px;
  border: none;
 }
 table.datagrid4 td{
  padding: 3px;
  border: none;
  border-top: 1px solid #fff;
 }


div:not(#foo) div.shipping_fee_on_delivery > input[type="checkbox"] {
    opacity: 0;
    float: left;
    width: 20px;
}

div:not(#foo) div.shipping_fee_on_delivery > input[type="checkbox"] + label {
    margin: 0;
    margin-left: -20px;
    clear: none;
    padding: 5px 0 4px 24px;
    cursor: pointer;
    background: url('/yohohk/img/checkbox-off.png') left center no-repeat;
}

div:not(#foo) div.shipping_fee_on_delivery > input[type="checkbox"]:checked + label {
    background-image: url('/yohohk/img/checkbox-on.png');
}
#map {
    height: 100%;
}

/* Google Autocomplete */
#pac-input {
    margin-top: 5px;
    width: 350px;
    position: relative;
    margin-left: 18px;
}
.pac-container {
    background-color: #fff;
    position: absolute!important;
    z-index: 9999;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: Arial,sans-serif;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
div#address_dialog {
    background-color: rgba(0, 0, 0, 0.55);
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.addr_edit_win{
    background: white;
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: auto;
    min-width: 450px;
    max-height: 75%;
    overflow-y: auto;
    padding: 30px;
}
#detail_address {
    display:none;
    margin-right: 15px;
}
li#detail_address>label {
    margin-bottom: 5px;
    margin-right: 15px;
}
input[name="email"] {
    margin-left: 4px;
}
div#format_address_display,div#formated_address {
    /* display: inline-block; */
    /* width: 70%; */
}
div#formated_address {
    font-size: 15px;
    font-weight: bold;
}
select[name="country"] {
    padding: 6px;
    overflow: hidden;
    border: 1px solid #eee;
    border-top-color: #ccc;
    margin-right: 10px;
    box-shadow: 0px 1px 3px rgba(200, 200, 200, 0.3) inset;
    vertical-align: middle;
}
input[name=floor], input[name=room] {
    width: 10%;
}

.or_line {
    float: left;
    height: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    margin: auto;
    background: #eee;
}
.or_span {
    text-align: center;
    position: relative;
    background: white;
    z-index: 100;
    margin-left: 40%;
    font-size: 16px;
    font-weight: 900;
    margin-right: 40%;
}
a.edit_address {
    cursor: pointer;
    color: #00acee;
    font-weight: 600;
}
li.auto_address, li.building_info, li.consignee_info, li.full_address_info.hide {
    height: 0px;
    overflow: hidden;
    padding: 0;
    transition: height 0.3s ease-out, padding 0.6s ease-out;
}

#select_address_type {
    margin-top: 10px;
}

#select_address_type.hide {
    height: 0px !important;
    overflow: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
    transition: height 0.3s ease-out, padding 0.6s ease-out;
}

#save_info, #next_info, #prev_info {
    display: none;
}

.last a{
    float: right;
}
.last a:last-child{
    float: left;
}

.show#save_info, .show#next_info, .show#prev_info {
    display: inline-block;
}

li.auto_address input, li.auto_address select {
    border: 1px solid transparent;
    border-top-color: transparent;
    box-shadow: 0px 0px 0px rgba(200, 200, 200, 0.3) inset;
    transition: all 0.3s;
}

.show#confirm_address{
    height: auto;
}

li.auto_address.show, li.consignee_info.show, li.building_info.show {
    height: 30px;
    padding: 6px 0;
}
li.consignee_info.show > label {
    width: 100px;
    vertical-align: middle;

}
li.auto_address.show input, li.auto_address.show select  {
    border: 1px solid #eee;
    border-top-color: #ccc;
    box-shadow: 0px 1px 3px rgba(200, 200, 200, 0.3) inset;
}
input[name=zipcode] {
    width: 70px;
}
i.iconfont.arrow.edit_address {
    font-size: 20px;
    right: -15px;
    position: relative;
    cursor: pointer;
}
div#format_address_display label {
    max-width: 90%;
    padding-left: 5px;
}
div#format_address_display>div{
    padding: 2px 0;
}

div#format_address_display{
    padding-bottom: 5px;
}

div#format_address_display_block {
    display: inline-block;
    width: 70%;
}

li.consignee_info#id_doc.show {
    height: 125px;
}

li.consignee_info#id_doc .id_remark {
    padding: 12px;
    margin: 10px 10px 0;
    background-color: #F0FBFF;
}

li.consignee_info#id_doc .id_remark p {
    color: #000;
}

li.consignee_info#id_doc .id_remark .p1 {
    line-height: 110%;
    margin-bottom: 5px;
}

li.consignee_info#id_doc .id_remark p span {
    font-weight: bold;
}

.edit_address.address_not_found_btn,.edit_address.address_not_on_list_btn {
    display: none;
    text-decoration: none;
}

.edit_address.address_edit_btn{
    display: none;
}

.edit_address.address_not_found_btn b,.edit_address.address_not_on_list_btn b{
  text-decoration: underline;
}

.btn.show.fa.fa-search{
    margin-top: 5px;
    margin-left: -6px;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

#map_show {
    cursor: pointer;
}

.addr_edit_win>li>h1>img {
    width: 18px;
    padding-right: 5px;
}

#chatra.chatra--pos-right {
    right: 100px !important;
    bottom: 23px !important;
}
.locker select {
    width: 20%;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
}
div#locker_m {
    padding: 10px;
    box-sizing: border-box;
}
table#locker_table {
    width: 100%;
}

input.lockerCode {
    width: 15px;
    height: 15px;
    margin-right: 25px;
    margin-top: 3px;
}

table#locker_table label {
    font-size: 15px;
    display: inline-flex;
    color: #000;
    font-weight: 400;
}
table .locker_label.over_size {
    position: relative;
}
table .locker_label.over_size:before {
    content: attr(data-over_size_lang);
    position: absolute;
    background: white;
    width: 100%;
    opacity: 0.9;
    color: red;
    height: 25px;
    text-align: center;
}
table#locker_table tr {
    border-bottom: 1px solid #d7d7d7;
}

.pickup_remarks {
    color: red;
    font-size: 14px;
    display: inline-flex;
    font-weight: 400;
}

.locked_time {
    color: #929292;
    background: white;
    z-index: 100;
    margin-left: 40px;
    display: none;
    font-size: 12px;
}

.locker_info {
    max-height: 575px;
    overflow-y: auto;
    margin-top: 5px;
}
span.isHot {
    margin-left: 40px;
    color: #E85667;
    font-size: 12px;
}
span.isFull{
    margin-left: 40px;
    color: #00acee;
    font-weight: 600;
    font-size: 12px;
}

select[name="ar_select"] {
    padding: 6px;
    border-radius: 4px;
    margin: 5px 0;
    width: 100%;
}
.locker_label {
    padding: 15px 0px;
    /*position: relative;*/
}

/* New UI */
.checkout {
    background: #f5f5f5;
}
.checkout > form > .left {
    float: left;
    margin-top: 20px;
    width: 69%;
}
.checkout > form > .right {
    float: right;
    margin-top: 20px;
    width: 30%;
}

.checkout .goods_list .title {
    color: white;
    background: #00acee;
    text-align: center;
    padding: 20px 20px;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
}
.checkout .goods_list > div {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}
.checkout .product_queue {
    background: white;
    float: left;
    width: 100%;
    padding: 10px 0;
    max-height: 530px;
    overflow: auto;
    box-sizing: border-box;
}
.product_queue > div {
    float: left;
    color: #494949;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
}
.product_img {
    float: left;
    width: 85px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}
.product_img>img {
    width: 50px;
    height: 50px;
}
.product_info {
    float: left;
    width: calc( 100% - 110px);
    /* height: 85px; */
    box-sizing: border-box;
    padding: 10px 0 5px;
}
.product_name {
    /*float: left;*/
    width: 100%;
    min-height: 30px;
    overflow: hidden;
    font-size: 14px;
    text-align: left;
}
.product_detail, .package_detail {
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}
.product_detail .insuranceOfName {
    text-align: left;
    font-size: 11px;
    margin-bottom: 5px;
    letter-spacing: -0.45px;
}
.package_detail {
    text-align: left;
}
.package_detail li:before {
    content: "-";
    text-indent: -5px;
}
.package_detail>.package_items {
    color: #494949;
    font-size: 12px;
}
.product_name>a, .package_items>a {
    color: #494949;
    
}
.product_label {
    float: left;
    background: #E85667;
    padding: 1px 6px;
    color: white;
    border-radius: 4px;
    position: relative;
    bottom: 5px;
    font-size: 12px;
}

.product_price {
    float: right;
    font-weight: 400;
    font-size: 13px;
    color: #E85667;

}
.goods_list {
    float: left;
    width: 100%;
    background: white;
}

.coupon_integral {
    background: white;
    float: left;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px dashed #d7d7d7;
    box-sizing: border-box;
}

.checkout .goods_list .canuse_points {
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 600;
    color: #494949;
}
.checkout .goods_list .coupon, .checkout .goods_list .integral {
    width: 100%;
    float: left;
    margin: 5px;
}

input.txt.txt_long.coupon_txt, input.txt.txt_long.integral_txt, input.txt.txt_long.promote_txt {
    border-radius: 2px;
    border: 1px solid #494949;
}

a.integral_btn {
    color: white;
    background: #5AC4BF;
    padding: 6px 20px;
    border-radius: 2px;
    display: inline-block;
    width: 100px;
}

a.coupon_use_btn {
    color: white;
    background: #E85667;
    padding: 6px 20px;
    border-radius: 2px;
    display: inline-block;
    width: 100px;
}

a.integral_btn:hover, a.coupon_use_btn:hover {
    text-decoration: none;
}
.checkout .goods_list > .content > div {
    float: left;
    width: 100%;
    padding: 10px 0 10px;
}
.checkout .goods_list .price_subtotal {
    text-align: right;
    font-weight: 600;
}
.content .fn_zone .price_subtotal p{
    display: none;
}
.content .integral .integral_msg, .content .coupon .coupon_msg, .content .coupon .coupon_info, .content .integral .coupon_info {
    text-align: left;
    left: 0;
    right: 0;
    margin: 5px auto;
    width: 315px;
    position: relative;
    color: #E85667;
    display: none;
}
.message .total_price {font-size: 16px;text-align: right;font-weight: bold;}
.message .total_price .price{ color:#E85667; font-size:12px; }
.message .total_price .price em{ font-size:32px; }
.message .total_price p{ color:#777; font-size:14px; font-weight:normal; }

.message .postscript {
    font-size: 16px;
    text-align: right;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    float: left;
}
.message .postscript > label {
    text-align: left;
    float: left;
}
.message .postscript > textarea {
    width: 100%;
    margin-top: 5px;
    height: 70px;
    border-radius: 2px;
    border: 1px solid #494949;
    float: left;
    box-sizing: border-box;
}

.checkout_submit {
    color: white;
    background: #00acee;
    padding: 15px 20px;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.checkout_submit:hover {
    text-decoration: none;
    color: white;
}
.applied_coupon {
    left: 0;
    right: 0;
    margin: 5px auto;
    width: 315px;
    position: relative;
    text-align: left;
}
.using_coupon {
    display: inline-block;
    border-radius: 5px;
    padding: 2px 5px;
    box-sizing: border-box;
    background: #E85667;
    color: white;
    margin-right: 5px;
}
.using_coupon > span.number {
    margin-right: 5px;
}
.using_coupon > a.coupon_cancel {
    color: white;
}

.shadow {
    box-sizing: border-box;
    -ms-box-shadow: 0px 3px 5px 0px #BCBEC0;
    -o-box-shadow: 0px 3px 5px 0px #BCBEC0;
    box-shadow: 0px 3px 5px 0px #BCBEC0;
    border-radius: 3px;
    border: 0;
}
.checkout_step {
    float: left;
    width: 100%;
    background: white;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.checkout_step > h3 {
    color: #00acee;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

.shipping_type:last-child {
    margin-right: 0;
}

.shipping_type {
    float: left;
    width: 32%;
    border: 1px solid #d7d7d7;
    margin-right: 2%;
    box-sizing: border-box;
    min-height: 100px;
    padding: 10px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    font-size: 16px;
    color: #6f6f6f;
    cursor: pointer;
    font-weight: 600;
}

.shipping_type > span {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
}
.shipping_type > img {
    width: 50px;
    height: 50px;
}

ul.addr_queue > li {
    padding: 10px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    border-left: 0;
    border-right: 0;
}
input[name="address_radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.address_radio {
    float: left;
    width: 5%;
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.address_radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #646464;
}

.address_radio .checkmark:after {
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #858586;
    content: "";
    position: absolute;
    display: none;
}
.address_radio input:checked ~ .checkmark:after {
    display: block;
}
.address_radio input:checked ~ .checkmark {
    background-color: white;
}
.address_radio:hover input ~ .checkmark {
    background-color: #ccc;
}
label.consignee.title {
    float: left;
    width: 20%;
    font-size: 15px;
    font-weight: 600;
}
.address_info {
    float: left;
    width: 70%;
}
.address_info i.fa.fa-map-marker {
    font-size: 20px;
    margin-right: 10px;
    color: #00acee;
}
ul.addr_queue.cle_float>li .tel {
    float: left;
    width: 15%;
}
ul.addr_queue > li:not(:first-child) {
    border-top: 0;
}
.checkout_step div#shipyyy > ul {
    display: flex;
    flex-wrap: wrap;
}
.checkout_step div#shipyyy > ul > li, .checkout_step div.payment_method.cle_float > ul > li {
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 5px;
    box-sizing: border-box;
    min-height: 100px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    font-size: 16px;
    color: #6f6f6f;
    /* letter-spacing: 1px; */
    font-weight: 600;
}
.checkout_step div#shipyyy > ul > li:nth-child(3n), .checkout_step div.payment_method.cle_float > ul > li:nth-child(3n) {
    margin-right: 0;
}

.checkout_step .shipping_title.title,.checkout_step  .payment_title.title {
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 5px;
    float: left;
    width: 100%;
    cursor: pointer;
    min-height: 100px;
}
li.online.current .shipping_title, li.online.current .payment_title {
    border-color: #00acee;
}
.shipping_logo, .payment_logo {
    float: left;
    width: 100%;
    height: 40px;
}
.shipping_logo {
    margin-bottom: 5px;
}
.shipping_title.title .shipping_logo_container {
    max-width: 70px;
    height: 30px;
    left: 4px;
    right: 0;
    position: relative;
    top: 10px;
    bottom: 0;
    box-sizing: border-box;
    margin: auto;
}
.shipping_title.title .name, .payment_title .name {
    float: left;
    width: 100%;
    text-align: center;
}
.shipping_type.current {
    border-color: #00acee;
}
.checkout form#receiverForm {
    float: left;
    width: 100%;
}
.payment_title .name {
    position: relative;
    bottom: -15px;
    line-height: 20px;
}
.checkout_step .shipping_info, .checkout_step .payment_info {
    display: none;

}
ul.addr_queue.cle_float {
    margin-bottom: 10px;
}
div#shipping_type_info,.checkout_step .global_shipping_info, .checkout_step .global_payment_info  {
    margin: 10px 0;
    float: left;
    width: 100%;
    text-align: center;
    color: #6f6f6f;
}

.checkout_step .global_shipping_info, .checkout_step .global_payment_info  {
    margin: 5px 0;
}

.checkout_step .global_shipping_info a  {
    color: #00acee !important;
}

a.pay_bg.edit_btn {
    background: url('/yohohk/img/icon_fill.png');
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: 15px;
    background-repeat: no-repeat;
    margin-top: 5px;
}

a.link_btn.new_addr {
    color: #95979a;
}

a.link_btn.new_addr:hover>i.fa-plus {
    background: #00acee;
}
a.link_btn.new_addr:hover {
    text-decoration: none;
    color: #00acee;
}
a.link_btn.new_addr>i.fa-plus {
    margin-left: 3px;
    color: white;
    background: #95979a;
    padding: 2px 3px 1px 3px;
    font-size: 12px;
    border-radius: 50%;
}

div#selected_locker {
    float: left;
    width: 100%;
    margin: 10px 10px;
}
.lockerConsignee {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
}
.lockerConsignee>.consignee_info {
    float: left;
    width: 300px;
    box-sizing: border-box;
}
.checkout .goods_list.disabled {
    pointer-events:none;
    opacity: 0.6;
}
.checkout .goods_list > .content > div.need_removal {
    border-bottom: 1px solid #d7d7d7;
    text-align: left;
    padding: 5px 0 10px;
}
input[name="need_removal"] {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}
input[name="need_removal"] + span {
    float: left;
    color: #7e7e7e;
    font-weight: bold;
}
.need_removal_list {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0 0px;
}
.nr_item {
    float: left;
    min-width: 50%;
    margin: 5px 0 0;
}
input.nr_input {
    border-radius: 2px;
    border: 1px solid #d7d7d7;
    width: 40px;
    padding: 0 6px;
    margin-left: 5px;
}
input.nr_input::-webkit-outer-spin-button,
input.nr_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input.nr_input {
    -moz-appearance: textfield;
}
.nr_consignee {
    float: left;
    width: 100%;
    margin: 10px 0 0px;
}
.nr_consignee>div {
    margin-bottom: 5px;
    float: left;
    width: 100%;
}
.nr_consignee>div>label {
    min-width: 48%;
    float: left;
    margin-top: 8px;
}
table#locker_table label>.pickup_shop_icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: -3px;
}
div.coupon_promote {
    margin-top: 20px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 20px;
}
div.coupon_promote .promote_title {
    color: #3a3a3a;
    font-weight: 700;
    font-size: 18px;
}
div.coupon_promote .promote_title #the_club_icon {
    display: inline-block;
    height: 20px;
    margin-bottom: -3px;
}
input.promote_txt[name=theClubId] {
    width: 300px;
    margin-right: 0;
    text-align: center;
    letter-spacing: 7px;
    padding-left: 7px;
    font-size: 16px;
    font-weight: 900;
}
div#theClubHint {
    text-align: left;
    width: 300px;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}
ul#theClubTerms {
    list-style: square;
    text-align: left;
    margin-top: 15px;
    width: 300px;
    display: inline-block;
    font-size: 12px;
}
input.promote_txt.error[name=theClubId] {
    border-color: #fd6969;
    color: #fd6969;
}
div.error#theClubHint {
    color: #fd6969;
}

/* tooltip-related */
.browser-payment-tooltip{
    position: absolute;
    size: 1rem;
    top: calc(50% - 1rem);
    right: 10%;
    background: #b6b6b6;
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6rem;
    margin-right: 5px;
    text-align: center;
    width: 1.6rem; 
}

.payment-method-tooltip {
    list-style-type:circle;
    left:1rem;
    position:relative;
    width:calc(100% - 1rem);
}

.ui-tooltip {
    padding: 10px 15px 0px;
    background-color: #ffffff;
}

.ui-tooltip, .ui-tooltip .arrow:after {
	background: white;
	border: 1px solid #00acee;
	width: 15%;
}
.ui-tooltip {
	padding: 10px 15px;
	color: #6e6e6e;
    font-size: 14px;
    line-height: 120%;
	border-radius: 0;
}
.ui-tooltip .arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.ui-tooltip .arrow.top {
	top: -16px;
	bottom: auto;
}
.ui-tooltip .arrow.left {
	left: 50%;
}
.ui-tooltip .arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.ui-tooltip .arrow.top:after {
	bottom: -20px;
	top: auto;
}
