.user_rank {
    width: 70px;
    color: #646464;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
    display: inline-block;
}

span.user_name {
    float: left;
    font-size: 14px;
    color: #36AAE1;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment_profile {
    width: 100%;
}

.br-wrapper.br-theme-my-awesome-theme {
    float: left;
    padding: 5px;
}

span.date,
span.user_rating {
    font-size: 14px;
    float: left;
    padding: 5px 15px;
}

span.user_rating {
    padding-right: 0px;
    padding-left: 0px;
}

.comment_box {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 0px;
}

.goods-tab-box>a.comment_header {
    display: inline-block;
}

.comment-header {
    float: left;
    padding: 10px 0px;
    box-sizing: border-box;
    color: #5f5d5d;
    font-size: 16px;
    font-weight: 600;
}

.displayrating {
    float: left;
    margin: 5px 0;
}

.sectionbox.comment {
    float: left;
    padding: 10px 0px;
    box-sizing: border-box;
    letter-spacing: 2px;
    width: 100%;
}

.comment_profile>.left {
    float: left;
    width: 120px;
    text-align: center;
}

.comment_profile>.right {
    float: left;
    margin-left: 20px;
    max-width: 85%;
    box-sizing: border-box;
}

.avatar_box {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

img.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.comment_content:before {
    content: "";
    width: 25px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 5px;
    background-image: url(/yohohk/img/icon_bubble.png);
    background-repeat: no-repeat;
}

.comment_content {
    float: left;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-left: 50px;
    word-break: break-all;
    line-height: 25px;
}

.comment_rank {
    float: left;
    width: 100%;
}

div#ping-list>.pagenav {
    float: right;
}
.comment_image {
    float: left;
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    padding-left: 50px;
}
.comment_image ul{
    float: left;
}
.comment_image ul li{
    display: inline;
}
.comment_image ul li img{
    border: 1px solid #d7d7d7;
}

.comment_image ul li.current img {
    border: 1px solid #00acee;
}
.ping-photo-viewer {
    float: left;
    width: 100%;
    padding: 5px 0;
}

.ping-photo-viewer > img {
    max-width: 100%;
}