.icon_bg,.spinner-arrow i
{
  background:url(/images/detail_icon_bg.gif) 0 -9999px no-repeat;
}

.breadcrumbs
{
  padding:0 5px 0 0;
  line-height:38px;
  color:#636363;
}

.breadcrumbs .number
{
  float:right;
  color:#999;
}

.breadcrumbs .menus a
{
  margin-right:6px;
}

.detail
{
  border:1px solid #f4f4f4;
  border-top-color:#666;
}

.detail_img
{
  width:493px;
  border-right:1px solid #f4f4f4;
  position:relative;
  float:left;
}

.detail_img a.detail_brand
{
  width:100px;
  height:50px;
  position:absolute;
  top:12px;
  left:12px;
  z-index:10;
}

.detail_img .detail_brand img
{
  width:100px;
  height:50px;
  vertical-align:top;
}

.privileges-flag
{
  background-color:#fff;
  width:120px;
  position:absolute;
  top:12px;
  left:12px;
  z-index:20;
}

.privileges-flag li a
{
  height:48px;
  line-height:48px;
  font-size:14px;
  border:1px solid #f4f4f4;
  padding:0 11px;
  display:block;
  color:#333;
}

.privileges-flag li a i
{
  padding-right:5px;
}

.privileges-flag li a:hover
{
  color:#333;
  text-decoration:none;
}

.privileges-flag li .con
{
  display:none;
  background:#fff url(/images/detail_promotion_bg.jpg) no-repeat -20px 0;
  color:#999;
  margin-top:-5px;
  padding:9px 6px 0;
  border:1px solid #e7e7e7;
  border-top:none;
  height:112px;
}

.detail_img .pic_view
{
  width:380px;
  height:380px;
  margin:20px auto 0;
  position:relative;
}

.detail_img .pic_view img
{
  width:380px;
  height:380px;
}

#pic-view
{
  position:absolute;
  top:0;
  left:0;
  z-index:2;
}

.item-thumbs
{
  padding:9px 0;
  height:50px;
  overflow:hidden;
}

.item-thumbs ul
{
  text-align:center;
  height:50px;
  overflow:hidden;
}

.item-thumbs li
{
  width:46px;
  height:46px;
  overflow:hidden;
  border:2px solid #fff;
  margin-right:8px;
  display:inline-block;
  display:inline;
  zoom:1;
  cursor:pointer;
}

.item-thumbs li.current
{
  border-color:#ddd;
}

.item-thumbs li img
{
  width:46px;
  height:46px;
}

.item-info
{
  float:right;
  width:512px;
  color:#999;
  border-left:1px solid #f4f4f4;
  margin-left:-1px;
  position:relative;
}

.item-info dl
{
  height:350px;
  padding-bottom:50px;
  background:url(/images/loading_yoho.gif) center center no-repeat;
}

.item-info dl.loaded
{
  height:auto;
  background:none;
}

.item-info .product_name
{
  color:#333;
  margin:0 15px;
  padding:18px 6px 0;
  border-bottom:1px solid #F4F4F4;
}

.item-info .product_name h2
{
  font-size:18px;
}

.item-info .product_name h2 span.free
{
  background-color:#CE2226;
  color:#fff;
  margin-left:8px;
  padding:0 5px;
  border-radius:2px;
  display:inline-block;
}

.item-info .product_name .desc
{
  line-height:18px;
  padding:6px 0 12px;
  display:block;
}

.item-info .product_name .desc span.red
{
  margin-right:13px;
}

.item-info dd
{
  padding:9px 16px 0 21px;
}

.item-info dd .lbl
{
  display:inline-block;
  width:45px;
}

.item-info dd li
{
  padding:5px 0;
  position:relative;
  width:100%;
}

.item-info dd li em.cancel
{
  text-decoration:line-through;
}

.item-info dd.gift
{
  background-color:#f8f8f8;
  border-bottom:1px solid #F4F4F4;
  padding:4px 16px 5px 21px;
  margin-top:7px;
}

.item-info dd.gift .lbl
{
  color:#111;
  float:left;
  margin-top:5px;
}

.item-info dd.gift ul
{
  float:left;
  width:424px;
}

.item-info dd.gift li a
{
  color:#666;
}

.item-info .property .J_sellList:hover,.detail .property .J_reviewList:hover
{
  text-decoration:none;
}

.item-info .property .unit
{
  display:inline-block;
  line-height:23px;
}

.item-info .property .unit em
{
  color:#666;
  margin-right:4px;
}

.item-info .property .unit em.red
{
  color:#CE2226;
  margin-right:0;
}

.item-info .property .vip_lbl
{
  float:right;
  position:relative;
  _padding-top:7px;
  z-index:10;
}

.item-info .property .vip_tip_trigger
{
  display:inline-block;
  width:16px;
  height:16px;
  line-height:16px;
  color:#FFF;
  text-align:center;
  background-position:0 0;
  vertical-align:middle;
  text-decoration:none;
}

.item-info .property .vip_lbl .hint
{
  position:absolute;
  padding:6px 10px;
  background-color:#FFF;
  line-height:20px;
  border:1px solid #D9DBE8;
  z-index:99;
  color:#333;
  border-radius:2px;
  top:30px;
  left:-2px;
  display:none;
  width:220px;
}

.item-info .property .vip_lbl .hint .arrow
{
  display:inline;
  border-color:#D9DBE8 transparent;
  left:50%;
  margin-left:-8px;
  top:-8px;
}

.item-info .property .vip_lbl .hint .arrow_in
{
  border-color:#FDFDFD transparent;
  left:-8px;
  top:1px;
  _overflow:hidden;
}

.item-info .property .vip_lbl .hint .gray
{
  font-weight:normal;
}

.item-info .property .vip_lbl .hint dt
{
  font-weight:bold;
}

.item-info .property .vip_lbl .hint dd
{
  margin:0 0 6px 6px;
  padding:0;
}

.item-info .property .vip_lbl dd.list
{
  padding-top:6px;
}

.item-info .property .vip_lbl dd.list table
{
  width:100%;
}

.item-info .property .vip_lbl dd.list th,.detail .property .vip_lbl dd.list td
{
  border:1px solid #E9E8F6;
  text-align:center;
}

.item-info .property .vip_lbl dd.list th
{
  background-color:#F3F4F9;
}

.item-info .property .vip_lbl .detail_lnk
{
  color:#FF7C8D;
}

.item-info .property .icon_promo
{
  background-color:#CE2226;
  color:#fff;
  display:inline-block;
  height:20px;
  line-height:20px;
  position:relative;
  top:-2px;
  margin-right:7px;
  padding:0 5px;
}

.item-info .property .nala_price
{
  font-size:26px;
  font-weight:bold;
  vertical-align:baseline;
  padding:0 9px 0 0;
}

.item-info .property .grade
{
  font-size:18px;
  margin:0 6px 0 -4px;
}

.item-info dd.tobuy-box .lbl
{
  color:#111;
  float:left;
  width:40px;
  margin-top:10px;
}

.item-info .sku
{
  float:left;
  width:435px;
}

.sku_box
.sku_list
{
  padding:5px 5px 0;
  padding-bottom:5px;
  -webkit-transition:background-color .1s;
  -moz-transition:background-color .1s;
  -o-transition:background-color .1s;
  -ms-transition:background-color .1s;
  transition:background-color .1s;
  margin-bottom:15px;
}

.sku_box .sku_list
a
{
  display:block;
  float:left;
  height:18px;
  line-height:18px;
  padding:0 6px;
  border:1px solid #e7e7e7;
  background-color:#fff;
  color:#999;
  position:relative;
  margin:0 15px 6px 0;
  border-radius:2px;
}

.sku_box .sku_list a
span
{
  display:none;
}

.sku_box .sku_list a:hover
{
  border-color:#FF7C8C;
  color:#ff7d8e;
  text-decoration:none;
}

.sku_box .sku_list
a.selected
{
  border-color:#ce2226;
  color:#333;
}

.sku_box .sku_list a.selected
span
{
  background-color:#CE2226;
  background-position:2px -42px;
  display:block;
  height:0;
  overflow:hidden;
  padding-top:20px;
  position:absolute;
  right:-11px;
  top:-1px;
  width:12px;
  border-radius:0 2px 2px 0;
}

.sku_box .warn-color
{
  background-color:#FF7C8C;
}

.sku_box
.count_box
{
  padding:0 5px 15px;
  color:#666;
}

.sku_box .count_box
.spinner
{
  display:inline-block;
  white-space:nowrap;
  font-size:0;
  border:1px solid #CFD0E3;
  vertical-align:middle;
  margin-right:6px;
  border-radius:2px;
  height:29px;
}

.sku_box .count_box .spinner-text
{
  width:80px;
  font-size:16px;
  border:0;
  line-height:24px;
  height:24px;
  padding:3px 5px 2px;
  height:22px;
  line-height:22px;
  text-align:center;
}

.sku_box .count_box .spinner-arrow
{
  display:inline-block;
  vertical-align:top;
  border-left:1px solid #CFD0E3;
}

.sku_box .count_box .spinner-arrow-up,.count_box .spinner-arrow-down
{
  display:block;
  background-color:#fbfbfd;
  font-size:1px;
  width:17px;
  height:14px;
  cursor:pointer;
}

.sku_box .count_box .spinner-arrow-up
{
  background-position:-20px 3px;
  border-bottom:1px solid #CFD0E3;
}

.sku_box .count_box .spinner-arrow-down
{
  background-position:-38px 6px;
}

.sku_box .count_box .spinner-arrow-up:hover
{
  background-position:-20px -15px;
  background-color:#f4f4f4;
}

.sku_box .count_box .spinner-arrow-down:hover
{
  background-position:-38px -6px;
  background-color:#f4f4f4;
}

.tobuy-box .add_cart_li
{
  padding-left:5px;
  width:430px;
  _height:50px;
  overflow:hidden;
}

.tobuy-box .add_cart_li p
{
  margin-bottom:5px;
}

.tobuy-box .add_cart_li .btn
{
  font-size:16px;
  padding:10px 20px 12px;
}

.tobuy-box .add_cart_li i.iconfont
{
  vertical-align:1px;
  margin-right:3px;
}

.tobuy-box .add_cart_li .graybtn
{
  margin-left:9px;
  padding:8px 15px;
}

.tobuy-box .add_cart_li .off
{
  background-color:#E9E9E9;
  border-radius:2px 2px 2px 2px;
  font-size:16px;
  color:#cacaca;
  display:inline-block;
  width:148px;
  height:44px;
  line-height:44px;
  text-align:center;
}

#fav-btn
{
  font-size:14px;
}

#fav-btn i
{
  font-size:16px;
  color:#999;
}

#fav-btn:hover,#fav-btn:hover i
{
  color:#c03;
}

#fav-btn.fav-btn-ok
{
  background:#f4f4f4;
  color:#bbb;
}

#fav-btn.fav-btn-ok i
{
  color:#bbb;
}

#fav-btn.fav-btn-ok:hover,#fav-btn.fav-btn-ok:hover i
{
  color:#bbb;
}

.tobuy-box .add_cart_li .count-down
{
  font-size:20px;
  font-weight:bold;
  font-family:arial;
  color:#FF7D8F;
  margin-left:10px;
  vertical-align:-4px;
}

.item-info .quehuo_li span
{
  display:inline-block;
  width:90px;
  padding:12px 0 0 46px;
  height:31px;
  color:#999;
  font-size:14px;
  vertical-align:middle;
  background:url(/images/quehuo_dialog_bg.png) 0 -70px no-repeat;
  margin-right:8px;
  margin-left:5px;
}

.item-info .quehuo_li .graybtn
{
  padding:11px 32px;
}

.membership
{
  position:absolute;
  right:0;
  top:12px;
  color:#999;
}

.membership:hover
{
  text-decoration:none;
}

.membership i
{
  font-size:14px;
  color:#bbb;
}

.membership_con
{
  position:absolute;
  width:254px;
  z-index:100;
  overflow:hidden;
  position:absolute;
  top:32px;
  right:0;
  border:1px solid #e7e7e7;
  padding-top:5px;
  background-color:#fff;
  line-height:18px;
}

.membership_con h3
{
  color:#333;
  font-size:16px;
  padding:8px 0;
  margin:0 15px;
}

.membership_con p
{
  margin:0 15px;
}

.membership_con .how-bd
{
  background-color:#f8f8f8;
  padding:0 0 4px;
  margin-top:15px;
}

.membership_con .how-bd h3
{
  border-bottom:1px solid #e7e7e7;
}

.membership_con table
{
  margin:4px 15px;
}

.membership_con table td
{
  color:#333;
}

.membership_con p.gray a
{
  color:#333;
  font-weight:bold;
  margin-left:5px;
}

.membership_jifen
{
  padding-left:45px;
  width:150px;
  padding-bottom:8px;
}

.membership_jifen i.iconfont
{
  font-size:30px;
  position:absolute;
  left:15px;
  top:15px;
}

.privileges
{
  padding-top:20px;
}

.privileges ul
{
  float:left;
  width:590px;
}

.privileges li
{
  float:left;
  padding:0 8px;
  background:url(/images/header-ico.png) right -60px no-repeat;
  position:relative;
  color:#999;
}

.privileges li a
{
  color:#999;
  display:inline-block;
}

.privileges li a:hover
{
  color:#333;
  text-decoration:none;
}

.privileges li.pri-gui a,.privileges li.pri-gui a:hover
{
  color:#ce2226;
}

.privileges li a i.iconfont
{
  font-size:14px;
  margin-right:3px;
}

.privileges li .privileges_con
{
  visibility:hidden;
  background-color:#fff;
  border:1px solid #e7e7e7;
  height:98px;
  left:0;
  position:absolute;
  top:-120px;
  width:142px;
  color:#999;
  padding:10px 0 0 60px;
  z-index:100;
}

.privileges li .privileges_con strong
{
  color:#333;
  display:block;
  font:normal 16px/32px SimHei;
}

.privileges li .privileges_con i
{
  position:absolute;
  font-size:28px;
  left:12px;
  top:12px;
}

.privileges li.pri-gui .privileges_con
{
  width:250px;
}

.zhengpin_icon
{
  background:url(/images/zhengpin_icon.png) no-repeat 0 -9999px;
}

.privileges .zhengpin_icon
{
  padding-top:2px;
  padding-left:20px;
  background-position:0 1px;
}

.privileges .privileges_con .zhengpin_icon
{
  height:35px;
  width:35px;
  background-position:0 -18px;
}

.privileges .brand_entrance
{
  float:right;
}

.privileges .brand_entrance i.iconfont
{
  vertical-align:1px;
  margin-right:4px;
}

.privileges .brand_entrance a
{
  color:#999;
  padding-bottom:5px;
}

.privileges .brand_entrance a:hover
{
  color:#333;
  text-decoration:none;
}

.privileges .brand_entrance span
{
  margin-left:10px;
}

.detail_bgcolor
{
  padding-top:16px;
  padding-bottom:40px;
}

.package_header
{
  line-height:32px;
  color:#999;
}

.package_header h3.title
{
  display:inline;
  font-size:16px;
  font-weight:400;
  color:#333;
  padding-left:10px;
}

.package
{
  border-bottom:1px solid #fff;
  margin-bottom:15px;
  position:relative;
}

.package .triggers
{
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  border:1px solid #d9dbe8;
  width:117px;
  border-right:none;
  overflow:hidden;
  height:187px;
}

.package .triggers li .trigger_in
{
  width:116px;
  height:51px;
  padding-top:10px;
  background:url(/images/bg44.png) repeat-x 0 0;
  cursor:pointer;
  border-bottom:1px solid #e8e9f6;
  border-right:1px solid #e8e9f6;
  text-align:center;
}

.package .triggers li.trigger_tit3 .trigger_in
{
  border-bottom:none;
  height:53px;
}

.package .triggers li .trigger_text span
{
  color:#666;
}

.package .triggers li .trigger_text .step
{
  display:block;
  font-size:16px;
  margin-bottom:0;
}

.package .triggers li .trigger_text .icon_step
{
  display:inline-block;
  width:16px;
  height:15px;
  line-height:15px;
  color:#FFF;
  font-weight:bold;
  background:url(/images/bg45.png) no-repeat 0 0;
}

.package .triggers li.current .trigger_in
{
  border-bottom-color:#D9DBE8;
  border-right-color:#fff;
  background:#FFF;
}

.package .triggers li.current .trigger_text .icon_step
{
  background-image:url(/images/bg47.png);
}

.package .triggers li.current .trigger_text .number
{
  color:#CE0D22;
}

.package .package_t2 li .trigger_in
{
  height:73px;
  padding-top:20px;
}

.package .package_t1 li .trigger_in
{
  height:128px;
  padding-top:60px;
}

.package .panel_container
{
  float:right;
  width:890px;
  border:1px solid #d9dbe8;
  border-left:none;
  background-color:#FFF;
  overflow:hidden;
  height:187px;
}

.cosmetics_bags .packageproducts
{
  padding:10px 0 7px 22px;
  position:relative;
}

.cosmetics_bags .packageproducts li
{
  float:left;
  width:102px;
  text-align:center;
  margin-right:20px;
}

.cosmetics_bags .packageproducts li img
{
  width:93px;
  height:93px;
}

.cosmetics_bags .packageproducts li.first_plus
{
  background-position:center -19px;
  width:16px;
}

.cosmetics_bags .packageproducts li.plus
{
  background:url(/images/bg46.png) no-repeat 0 0;
  height:19px;
  margin-top:56px;
}

.cosmetics_bags .packageproducts li .producttitle
{
  max-height:50px;
  overflow:hidden;
  line-height:16px;
  margin-top:3px;
  height:32px;
  overflow:hidden;
}

.cosmetics_bags .packageproducts li .imgdv
{
  display:block;
  width:93px;
  height:93px;
  border:solid 1px #f8f8f8;
}

.cosmetics_bags .packageproducts .remark
{
  margin-bottom:0;
  color:#666;
  font-size:14px;
  width:650px;
  height:21px;
  overflow:hidden;
}

.cosmetics_bags .price_info
{
  position:absolute;
  width:180px;
  line-height:21px;
  right:6px;
  top:50%;
  margin-top:-60px;
}

.cosmetics_bags .price_info .price_gray
{
  color:#999;
  display:block;
  margin-top:7px;
}

.cosmetics_bags .price_info .count
{
  font-weight:700;
  margin-right:0;
  font-size:16px;
}

.cosmetics_bags .price_info .price
{
  font-weight:700;
  font-size:14px;
}

.cosmetics_bags .horn
{
  background:url(/images/bg42.png) no-repeat;
  display:block;
  height:188px;
  overflow:hidden;
  position:absolute;
  width:6px;
  right:200px;
  top:0;
  margin-top:0;
}

.cosmetics_bags .price_info .package_btn
{
  width:110px;
  margin:15px 0 0 18px;
}

.cosmetics_bags .price_info input.package_addcart_button
{
  width:110px;
  height:31px;
  color:#FFF;
  font-size:12px;
  border:none;
  line-height:31px;
  background:url(/images/bg41.png) no-repeat;
  cursor:pointer;
  outline:none;
}

.cosmetics_bags .price_info input.package_addcart_button:hover
{
  background-position:0 bottom;
}

.cosmetics_bags .pricedv label
{
  color:#999;
}

.product_info
{
  width:1008px;
  margin:0 auto;
  background-color:#fff;
  padding-bottom:20px;
}

.product_tabs
{
  float:left;
  width:790px;
  overflow:hidden;
}

.tabs_bar_wrap
{
  height:48px;
  z-index:999;
}

.tabs_bar
{
  z-index:999;
  height:48px;
  border-style:solid;
  border-color:#f4f4f4 #f4f4f4 #2e2e2e;
  border-width:1px 1px 2px;
  background-color:#fff;
}

.tabs_bar ul
{
  height:48px;
  width:1006px;
}

.tabs_bar li
{
  float:left;
  margin-right:1px;
  height:48px;
  line-height:48px;
}

.tabs_bar li a
{
  display:inline-block;
  height:48px;
  padding:0 20px;
  text-align:center;
  text-decoration:none;
  font-size:14px;
}

.tabs_bar li a:hover
{
  text-decoration:none;
}

.tabs_bar li.hover,.tabs_bar li.current_select
{
  background-color:#f6f6f6;
}

.tabs_bar li.tab-buy
{
  color:#c03;
  float:right;
  padding-right:94px;
  position:relative;
  text-align:right;
  width:200px;
  margin-right:0;
}

.tabs_bar li.tab-buy strong
{
  font:24px/48px arial;
  padding:0 4px;
}

.tabs_bar li.tab-buy a.btn
{
  position:absolute;
  right:8px;
  top:6px;
  font-size:16px;
  height:34px;
  line-height:34px;
}

.tabs_bar li.tab-buy a.graybtn
{
  position:absolute;
  right:8px;
  top:6px;
  height:34px;
  line-height:34px;
  cursor:default;
  background:#f4f4f4;
  padding:0 12px;
  border-color:#ddd;
  box-shadow:none;
}

.product_tabs .sectionbox
{
  margin-top:10px;
}

.product_tabs .sectionbox div img
{
  vertical-align:top;
}

.sectionbox h4
{
  height:28px;
  line-height:28px;
  padding:0 15px;
  font-weight:bold;
  border:1px solid #e7e7e7;
  background-color:#f1f1f1;
}

.sectionbox h4.title span
{
  margin-left:5px;
  font-weight:normal;
}

.sectionbox div.content
{
  padding:10px;
  border:1px solid #e7e7e7;
}

.sectionbox .ping_more a
{
  display:block;
  margin-top:20px;
  height:31px;
  line-height:31px;
  text-align:center;
  font-weight:bold;
  background-color:#f4f4f4;
  background-image:0;
  background-image:0;
  background-image:linear-gradient(#fff,#f2f2f2);
  background-repeat:repeat-x;
  border:1px solid #e4e4e4;
}

.sectionbox .ping_more a span
{
  color:#666;
  font-weight:normal;
}

.sectionbox .ping_more a:hover
{
  background-color:#eee;
  background-image:0;
  background-image:0;
  background-image:linear-gradient(#fff,#eee);
  background-repeat:repeat-x;
  text-decoration:none;
}

#ping_content
{
  border:1px solid #e4e4e4;
  padding:10px;
}

#ping_content .top_con
{
  border-bottom:1px solid #e4e4e4;
  padding-bottom:15px;
}

#ping_content .top_con .pro_img
{
  width:110px;
  float:left;
  margin-left:10px;
  _margin-left:0;
}

#ping_content .top_con .pro_img img
{
  margin-bottom:5px;
}

#ping_content .top_con .pro_img p.pro_name
{
  width:110px;
  height:36px;
  color:#666;
  overflow:hidden;
}

#ping_content .top_con .product_fen
{
  width:150px;
  float:left;
  margin-left:20px;
  margin-top:25px;
}

#ping_content .top_con .product_fen .fen_bj
{
  width:115px;
  height:23px;
  background:url(/images/product_detail_huistar.png) repeat-x 0 0;
  position:relative;
}

#ping_content .top_con .product_fen .fen_bj .fen_de
{
  width:115px;
  height:23px;
  background:url(/images/product_detail_redstar.png) repeat-x 0 0;
  position:absolute;
  top:0;
  left:0;
}

#ping_content .top_con .product_fen .fen
{
  display:block;
  width:125px;
  color:#d4062e;
  text-align:center;
}

#ping_content .top_con .product_fen .fen strong
{
  font-size:30px;
  font-weight:bold;
  margin:0 5px;
}

#ping_content .top_con .product_fen .pin_people
{
  display:block;
  color:#666;
}

#ping_content .top_con .suit_list
{
  width:240px;
  float:left;
  background:url(/images/left_tip_bj2.png) no-repeat 0 10px;
  padding-left:90px;
  margin-top:25px;
}

#ping_content .top_con .suit_list li
{
  height:20px;
  list-style:20px;
}

#ping_content .top_con .suit_list .suit
{
  height:15px;
  overflow:hidden;
}

#ping_content .top_con .suit_list .suit span
{
  display:block;
  width:50px;
  height:15px;
  text-align:center;
  float:left;
}

#ping_content .top_con .suit_list .suit .tiao_bj
{
  width:115px;
  height:11px;
  border:1px solid #e4e4e4;
  float:left;
  position:relative;
  margin-top:2px;
  margin-left:5px;
  padding:0 1px;
}

#ping_content .top_con .suit_list .suit .tiao_bj .tiao
{
  background:#d4062e;
  width:124px;
  height:11px;
  position:absolute;
  top:0;
  left:0;
}

#ping_content .top_con .suit_list .suit i
{
  float:left;
  margin-left:5px;
}

#ping_content .top_con .all_ping
{
  width:140px;
  height:60px;
  float:right;
  border-left:1px solid #e4e4e4;
  margin-top:40px;
}

#ping_content .top_con .all_ping a
{
  display:block;
  width:100px;
  height:34px;
  line-height:34px;
  text-align:center;
  background-color:#efefef;
  background-image:0;
  background-image:0;
  background-image:linear-gradient(#fff,#efefef);
  background-repeat:repeat-x;
  border:1px solid #e4e4e4;
  margin:10px 0 0 20px;
}

#ping_content .top_con .all_ping a:hover
{
  text-decoration:none;
}

#ping_content .top_con .all_peo
{
  width:180px;
  float:left;
  margin:63px 10px 0;
  color:#666;
}

#ping_content .ping_list
{
  margin-top:10px;
}

#ping_content .ping_list .user_name
{
  width:50px;
  padding:10px;
  float:left;
}

#ping_content .ping_list .user_name span
{
  display:block;
  width:42px;
  height:9px;
  overflow:hidden;
  background:url(/images/ping_vip_body.png) no-repeat;
  margin-left:2px;
}

#ping_content .ping_list .user_name span.vip_u
{
  background-position:0 -11px;
}

#ping_content .ping_list .user_name span.svip_u
{
  background-position:0 0;
}

#ping_content .ping_list .ping_inf
{
  width:680px;
  float:left;
  background:#f6f6f6;
  padding:10px 0;
  position:relative;
  margin-left:5px;
}

#ping_content .ping_list .ping_inf .san_left
{
  display:block;
  width:11px;
  height:15px;
  background:url(/images/left_tip_bj.png) no-repeat 0 0;
  position:absolute;
  left:-11px;
  top:15px;
}

#ping_content .ping_list .ping_inf p
{
  width:660px;
  margin:0 auto;
}

#ping_content .ping_list .ping_inf p span
{
  float:right;
  font-size:12px;
  color:#666;
}

#ping_content .ping_list .ping_inf p.ping_tip
{
  height:20px;
}

#ping_content .ping_list .ping_inf p.nala_say i
{
  color:#d4062e;
}

#ping_content .ping_list .ping_inf .bird
{
  width:100%;
  height:19px;
  background:url(/images/bird.gif) no-repeat 0 0;
  margin-bottom:5px;
}

#ping-list .pagenav
{
  padding:20px 14px 10px 0;
}

#cjjl .contact
{
  height:33px;
  line-height:33px;
  padding:5px 0 5px 20px;
}

#cjjl table
{
  margin:5px 0 10px;
}

#cjjl table th
{
  height:30px;
  line-height:30px;
  padding-left:15px;
  text-align:center;
  white-space:nowrap;
  background-color:#f1f1f1;
}

#cjjl table th span
{
  margin:0;
}

#cjjl table th.col1
{
  width:90px;
  text-align:left;
}

#cjjl table th.col2
{
  width:270px;
}

#cjjl table th.col3
{
  width:70px;
  text-align:left;
}

#cjjl table th.col4
{
  width:60px;
}

#cjjl table th.col4 span
{
  margin:0;
}

#cjjl table th.col5
{
  width:145px;
  text-align:left;
}

#cjjl table th.col6
{
  text-align:left;
}

#cjjl table td
{
  height:35px;
  padding:10px 0 10px 15px;
  border-bottom:1px solid #e7e7e7;
  vertical-align:middle;
}

.right_planes
{
  float:right;
  width:206px;
  padding-top:10px;
}

.right_planes .plane
{
  border:solid 1px #E6E6E6;
  margin-bottom:10px;
  zoom:1;
  overflow:hidden;
}

.right_planes .header
{
  height:30px;
  line-height:30px;
  overflow:hidden;
  padding:0 10px;
  border-bottom:solid 1px #E6E6E6;
  background:url(/images/tabs_bg.jpg) repeat-x;
}

.right_planes .bb_recommend .recommend_title
{
}

.right_planes .product_list
{
  width:172px;
  margin:2px auto 0;
  border-bottom:solid 1px #E7E7E7;
}

.right_planes .product_list li
{
  position:relative;
}

.right_planes .plane .plane_con
{
  padding:10px;
}

.right_planes .plane .sell_hot li
{
  padding:10px 0 10px 16px;
  position:relative;
  border-bottom:solid 1px #E7E7E7;
}

.right_planes .plane .product_img
{
  display:block;
  height:55px;
  width:55px;
  border:solid 1px #ECECEC;
}

.right_planes .plane .product_property
{
  float:right;
  width:104px;
  line-height:14px;
}

.right_planes .plane .sell_hot .number
{
  position:absolute;
  display:block;
  height:18px;
  width:18px;
  left:-6px;
  top:3px;
  text-align:right;
  font-size:18px;
  font-weight:bold;
  color:#D5022B;
}

.right_planes .box_background
{
  background:url(/images/index_bg.png) 0 0 no-repeat;
}

.right_planes .box_r
{
  border:1px solid #E4E4E4;
  position:relative;
}

.right_planes .box_r h3
{
  height:27px;
  text-indent:-100px;
  overflow:hidden;
  background-position:-8px -28px;
  position:relative;
}

.right_planes .box_r h3 .timer
{
  position:absolute;
  display:block;
  right:0;
  top:0;
  height:27px;
  width:110px;
  background-position:-112px -28px;
}

.right_planes .box_r .box_r_pic
{
  overflow:hidden;
  padding:5px;
  width:194px;
}

.right_planes .box_r .hour
{
  color:#D31728;
  font-size:14px;
  font-weight:bold;
  height:16px;
  left:118px;
  position:absolute;
  text-align:center;
  top:2px;
  width:16px;
}

.right_planes .box_r .minite
{
  color:#D31728;
  font-size:14px;
  font-weight:bold;
  height:16px;
  left:146px;
  position:absolute;
  text-align:center;
  top:2px;
  width:16px;
}

.right_planes .box_r .second
{
  color:#D31728;
  font-size:14px;
  font-weight:bold;
  height:16px;
  left:174px;
  position:absolute;
  text-align:center;
  top:2px;
  width:16px;
}

.right_planes .box_tuan
{
  background-position:0 -799px;
  border-top:1px solid #e5e5e5;
  overflow:hidden;
  padding:52px 4px 5px;
  width:196px;
  position:relative;
  margin-bottom:10px;
}

.right_planes .box_tuan .tuan_header
{
  position:absolute;
  display:block;
  right:-1px;
  top:0;
  background-position:-110px -799px;
  width:126px;
  height:27px;
}

a.viewbrandproducts
{
  background:#fff url(/images/icon_pagenum_red_right.png) no-repeat 105px center;
  border:1px solid #E7E7E7;
  display:block;
  height:28px;
  line-height:28px;
  margin:20px auto;
  text-indent:13px;
  width:123px;
}

a.viewbrandproducts:hover
{
  background:#D4062E url(/images/icon_pagenum_white.png) no-repeat 105px center;
  border-color:#D4062E;
  color:#fff;
  text-decoration:none;
}

.class_tabs
{
  border:solid 1px #DBDBDB;
  width:200px;
  margin:6px 0 10px 2px;
}

.class_tabs .switchable_nav li
{
  float:left;
  width:65px;
  height:28px;
  line-height:28px;
  background-color:#F5F5F5;
  border-bottom:solid 1px #DBDBDB;
  text-align:center;
  font-weight:bold;
  cursor:pointer;
}

.class_tabs .switchable_nav .partition
{
  border-left:solid 1px #DBDBDB;
  border-right:solid 1px #DBDBDB;
}

.class_tabs .switchable_nav li.current
{
  width:68px;
  border-bottom:none;
  background:#FFF;
}

.class_tabs .switchable_content li
{
  padding:6px 0;
  line-height:22px;
  font-size:0;
}

.class_tabs .switchable_content li a
{
  display:inline-block;
  font-size:12px;
  margin:0 6px;
  color:#666;
  white-space:nowrap;
}

.class_tabs .switchable_content li a.root
{
  color:#2E9CDC;
}

a.viewbutton
{
  height:23px;
  float:left;
  display:block;
  line-height:23px;
  padding:0 12px;
  border:1px solid #e7e7e7;
  text-decoration:none;
  cursor:pointer;
}

a.viewbutton:hover
{
  text-decoration:none;
  cursor:pointer;
}

a.viewbutton span.bg
{
  width:15px;
  height:23px;
  display:block;
  float:left;
  background:url(/images/icon_pagenum_red_right.png) right center no-repeat;
}

#zheng_main img
{
  display:block;
  margin:5px auto;
}

#zheng_main .zheng_nav
{
  width:720px;
  height:84px;
  overflow:hidden;
  background:url(/images/wn_02.png) no-repeat 0 0;
  border-bottom:1px solid #e8e6e7;
}

#zheng_main .zheng_nav ul
{
  display:none;
}

#addcart-success .panel_con
{
  height:160px;
  padding-top:14px;
}

#addcart-success .ok-txt
{
  border-bottom:1px dashed #eee;
  margin-bottom:8px;
  padding-bottom:8px;
}

#addcart-success .arrow-right
{
  position:absolute;
  display:block;
  right:-13px;
  top:17px;
  width:0;
  height:0;
  overflow:hidden;
  border:6px solid transparent;
  border-left-color:#9699a2;
  _border-top-color:#FF6347;
  _border-right-color:#FF6347;
  _border-bottom-color:#FF6347;
  _filter:chroma(color=tomato);
}

.addcart-success-info
{
  padding:20px 10px 20px 15px;
}

.addcart-success-info p
{
  margin-bottom:5px;
}

.addcart-success-info b
{
  font-size:14px;
}

.addcart-success-info .gocart
{
  padding-top:10px;
}

.quehuo-form
{
  width:400px;
}

.quehuo-form div
{
  padding:8px 0;
}

.quehuo-form div input
{
  width:200px;
  padding:8px;
  height:16px;
  overflow:hidden;
  border:1px solid #eee;
  border-top-color:#ccc;
  box-shadow:0 1px 3px rgba(200,200,200,0.3) inset;
  color:#333;
  font-size:14px;
  margin-left:3px;
  vertical-align:middle;
}

.quehuo-form .submit
{
  padding-left:64px;
  font-size:14px;
}

.quehuo-form .submit a
{
  display:block;
  background-position:0 -40px;
  width:58px;
  height:24px;
  line-height:24px;
  overflow:hidden;
  text-align:center;
}

.same_effect
{
  border:1px solid #E6E6E6;
  width:756px;
  padding:20px 16px;
  margin:10px 0;
}

.same_effect .headline
{
  color:#C03;
  font-size:16px;
  background:url(/images/icon_stockout.jpg) no-repeat;
  padding-left:20px;
  margin-bottom:20px;
}

.same_effect .titlebar
{
  line-height:30px;
  padding-left:20px;
  margin-bottom:6px;
}

.same_effect .titlebar .more_lnk
{
  float:right;
  padding-right:18px;
  background:url(/images/icon_more.jpg) right 7px no-repeat;
  color:#666;
}

.same_effect .titlebar h3
{
  font-size:16px;
}

.same_effect .product_list
{
  padding-left:12px;
}

.same_effect .product_list .item
{
  float:left;
  _display:inline;
  padding:10px;
  width:150px;
  position:relative;
  margin:0 8px;
  height:277px;
}

.same_effect .product_list .item:hover
{
  background-color:#F6F6F6;
}

.same_effect .product_list .bg_gray
{
  background-color:#F6F6F6;
}

.same_effect .product_list .item .price
{
  color:#D4062E;
}

.same_effect .product_list .item .price em
{
  font-size:18px;
  font-weight:bold;
  margin-left:3px;
}

.same_effect .product_list .item .pic_wrap
{
  width:150px;
  height:150px;
  overflow:hidden;
  margin-bottom:6px;
}

.same_effect .product_list .item .pic_wrap img
{
  max-width:150px;
  max-height:150px;
}

.same_effect .product_list .item .product_name
{
  line-height:20px;
  display:block;
  height:40px;
  overflow:hidden;
  text-decoration:none;
}

.same_effect .product_list .item .desc
{
  color:#999;
}

.same_effect .product_list .item .traded
{
  color:#999;
}

.same_effect .product_list .item .traded em
{
  color:#D4062E;
}

.same_effect .product_list .item .add_cart_lnk
{
  right:16px;
  top:170px;
}

.intro-pic
{
  background-color:#fff;
}

.intro-pic .hd
{
  height:84px;
  background:url(/images/intro_hd.png) center -1px no-repeat;
  padding-left:73px;
  font-size:0;
}

.intro-pic .hd a
{
  display:inline-block;
  width:83px;
  height:84px;
  margin-right:14px;
  background-color:#eee;
  background:url(/images/intro_hd2.png) 0 -9999px no-repeat;
}

.intro-pic .hd a.on0
{
  background-position:-68px -1px;
}

.intro-pic .hd a.on1
{
  background-position:-164px -1px;
}

.intro-pic .hd a.on2
{
  background-position:-262px -1px;
}

.intro-pic .hd a.on3
{
  background-position:-359px -1px;
}

.intro-pic .hd a.on4
{
  background-position:-457px -1px;
}

.intro-pic .hd a.on5
{
  background-position:-556px -1px;
}

.intro-pic .hd a.on6
{
  background-position:-653px -1px;
}

.intro-pic .bd
{
  padding-top:1px;
  overflow:hidden;
}

.intro-pic .bd .pic
{
  display:none;
  font-size:0;
}

.intro-pic .bd .pic img
{
  margin:5px auto;
  display:block;
}

.ping-photos
{
  width:410px;
  overflow:hidden;
  padding-top:10px;
  padding-left:10px;
}

.ping-photos .ping-photos-thumb
{
  height:50px;
}

.ping-photos-thumb li
{
  float:left;
  border:1px solid #ccc;
  padding:2px;
  margin-right:5px;
  position:relative;
  transition:border-color .2s ease-out;
  height:40px;
}

.ping-photos-thumb li:hover
{
  border-color:#c03;
}

.ping-photos-thumb li img
{
  display:block;
  width:40px;
  height:40px;
  cursor:url(/images/zoom-in.png),url(/images/zoom-in.cur), pointer;
}

.ping-photos-thumb li b
{
  position:absolute;
  top:45px;
  left:50%;
  margin-left:-6px;
  display:none;
  width:0;
  height:0;
  overflow:hidden;
  border-width:6px;
  border-style:solid;
  border-color:#c03 #f6f6f6 #f6f6f6;
}

.ping-photos-thumb li.current
{
  border-color:#c03;
}

.ping-photos-thumb li.current img
{
  cursor:url(/images/zoom-out.png),url(/images/zoom-out.cur),pointer;
}

.ping-photos-thumb li.current b
{
  display:block;
}

.ping-photo-viewer
{
  display:none;
  padding:3px;
  float:left;
  background-color:#fff;
  border:1px solid #ccc;
  transition:width .3s ease-out;
  margin-top:10px;
}

.ping-photo-viewer img
{
  cursor:url(/images/zoom-out.png),url(/images/zoom-out.cur),pointer;
  display:block;
}

.ask-form
{
  margin-bottom:20px;
  padding:5px;
}

.ask-form .fl
{
  width:500px;
}

.ask-form .fr
{
  width:250px;
  color:#999;
}

.ask-form textarea
{
  display:block;
  margin-bottom:10px;
  width:480px;
  padding:5px;
  height:75px;
  overflow-y:auto;
  border:1px solid #eee;
  border-top-color:#ccc;
  box-shadow:0 1px 3px rgba(200,200,200,0.3) inset;
  color:#333;
}

.ask-list
{
  margin:5px;
  zoom:1;
}

.ask-list dl
{
  padding-bottom:15px;
  width:100%;
}

.ask-list dt
{
  background:url(/images/detail-ask-title-ico.png) 0 0 no-repeat;
  padding:4px 220px 20px 40px;
  position:relative;
  z-index:10;
}

.ask-list dt h3
{
  font-weight:bold;
}

.ask-list dt .q-info
{
  position:absolute;
  right:15px;
  top:6px;
  color:#bbb;
}

.ask-list dt .q-info .time
{
  margin-left:10px;
}

.ask-list dd
{
  position:relative;
  z-index:1;
  zoom:1;
  background-color:#f8f8f8;
  padding:0 15px 15px;
}

.ask-list dd .arrow
{
  position:absolute;
  top:-22px;
  left:7px;
  display:block;
  width:0;
  height:0;
  overflow:hidden;
  border-width:12px 8px;
  border-style:solid;
  border-color:#fff #fff #f8f8f8;
}

.ask-list .ans-bd
{
  padding-top:15px;
}

.ask-list .ans-bd .author
{
  float:left;
  width:60px;
  overflow:hidden;
  text-align:right;
}

.ask-list .ans-nala .author
{
  color:#f37;
}

.ask-list .ans-bd .con
{
  margin-left:62px;
  padding-right:180px;
  position:relative;
  zoom:1;
}

.ask-list .ans-bd .con .time
{
  position:absolute;
  right:0;
  top:0;
  color:#bbb;
}

.ask-list .ans-bd .con a:hover
{
  color:#111;
}

.ask-list .ans-bd .con a.from,.ask-list .ans-bd .con a.from:hover
{
  color:#f37;
}

.ask-list dd .more-link
{
  text-align:right;
}

.ask-list dd .more-link a.graybtn
{
  padding:3px 8px;
}

.ask-list .pagenav a
{
  margin-left:2px;
}

.to-detail-link
{
  border:1px solid #e4e4e4;
  background-color:#f1f1f1;
  text-align:center;
  font-size:20px;
  padding:15px;
  margin-bottom:10px;
}

.attention
{
  background:url(/images/attention_shadow.jpg) no-repeat scroll right bottom;
  margin:0 2px 10px;
  padding-bottom:12px;
}

.attention_con
{
  border:1px solid #ddd;
}

.attention .weibo_attention
{
  width:150px;
  margin:0 auto;
  border-bottom:1px dashed #ddd;
}

.attention .weixin_attention
{
  width:150px;
  margin:0 auto;
  padding:13px 0 8px;
}

.attention .weixin_attention h2.weixin_title
{
  background:url(/images/weixin_title_icon.jpg) no-repeat 0 2px;
  color:#333;
  font-weight:normal;
  text-indent:28px;
  line-height:21px;
  padding-bottom:10px;
}

.attention .weixin_attention .two-dimension_code
{
  border:1px solid #ccc;
  height:79px;
  margin:0 auto;
  padding:4px;
  width:79px;
}

.attention .weixin_attention p
{
  text-align:center;
  color:#333;
  line-height:20px;
}

.attention .weixin_attention p .red
{
  color:#f37;
  font-size:14px;
}

.attention .weixin_attention p.weixin_name
{
  padding:6px 0 0;
}

.attention .weixin_attention p.weixin_name
{
  font-size:14px;
}

.act_content
{
  margin:auto;
  padding:15px 30px 0;
}

.act_content .list_title
{
  color:#434343;
  font-size:22px;
  font-weight:normal;
  border-bottom:1px solid #bbb;
}

.act_content li
{
  float:left;
  height:160px;
  padding:15px 20px 0;
  width:325px;
}

#spxqitem
{
  font-size:13px;
}

#spxqitem h2
{
  background-color:#efefef;
  height:34px;
  line-height:34px;
  font-size:16px;
  padding:0 15px;
  margin:15px 0 10px;
}

#spxqitem h3
{
  background-color: #F9F9F9;
  height:30px;
  line-height:30px;
  font-size:13px;
  padding:0 10px;
  margin:10px 0 10px;
}

#spxqitem .nala_say
{
  background:url(/images/nalasay-bg.jpg) 20px 0 no-repeat;
  padding:10px 20px 0 140px;
  min-height:110px;
  height:110px;
}

#spxqitem table
{
  width:100%;
  margin-bottom:30px;
}

#spxqitem table td
{
  border:1px solid #e5e5e5;
  padding:5px 10px;
}

#spxqitem table td.th
{
  background-color:#f5f5f5;
  font-weight:bold;
  width:68px;
  text-align:right;
}

#spxqitem table td img
{
  width:220px;
  height:220px;
  margin:0 auto;
  display:block;
}

#spxqitem h3
{
  font-size:20px;
  margin:20px 0 10px;
  color:#c03;
  border-bottom:1px solid #c03;
  padding-bottom:5px;
}

#spxqitem p
{
  margin-bottom:10px;
}

/* //Powered By UUECS QQ909065309 HTTP://Www.UUECS.Com 2014/5/19 */
.goods_yuding
{
  height:30px;
  width:510px;
  font-size:16px;
  list-style:none;
  color:#555;
  background:#E4F5FF;
  padding:10px 0;
  height:140px;
}

.goods_yuding h3
{
  height:30px;
  width:490px;
  font-size:16px;
  list-style:none;
  color:#555;
  padding-left:20px;
  background:#E4F5FF;
}

.goods_yuding a
{
  height:30px;
  width:480px;
  font-size:16px;
  color:#000;
}

.goods_yuding dd
{
  background:url(../img/goods/2014_goods.gif) #E4F5FF 20px 7px no-repeat;
  padding-left:50px;
  width:444px;
}

.goods_yuding input
{
  width:200px;
}

.goods_yuding table
{
  margin:10px 0;
  margin-left:20px;
}

.goods_yuding .pre_sumbit
{
  width:50px;
  height:24px;
  margin-left:10px;
  top:5px;
  background:url(../img/bg_17.png) 0 0 no-repeat;
}

.goods_yuding .pre_value
{
  width:125px;
}

.goods_yuding .dai_sumbit
{
  width:50px;
  height:24px;
  margin-left:10px;
  top:5px;
  background:url(../img/bg_17.png) 0 0 no-repeat;
}

.goods_yuding .dai_value
{
  width:125px;
}
