/**
 * detail.css
 * 產品詳情頁面
 **/

@charset "utf-8";

.spinner-arrow i {
  background: url(/images/detail_icon_bg.gif) 0 -9999px no-repeat;
}

.detail_img {
  width: 400px;
  position: relative;
  float: left;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}
.goods-tab-content {
  float: left;
  width: 100%;
  position: relative;
  transition: height 1s;
  min-height: 450px;
}
i.icon_people {
  background-image: url(/yohohk/img/icon_people.png);
  width: 16px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  display: inline-block;
  margin-top: -5px;
  position: relative;
  bottom: -5px;
  left: -2px;
}

.goods-tab-content .sectionbox {
  float: left;
  width: 100%;
}
.detail_img .pic_view {
  width: 400px;
  height: 400px;
  position: relative;

}

.detail_img .pic_view img {
  width: 400px;
  height: 400px;
}

#pic-view {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.goods-image-discount-box {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 90px;
  height: 76px;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  background-color: #FD495C;
  -webkit-box-shadow: inset 0 -3px #FD495C;
  box-shadow: inset 0 -3px #FD495C;
  color: #fff;
  text-align: center;
  font-size: 28px;
  line-height: 32px;
  padding-top: 14px;
  overflow: hidden;
  z-index: 3;
}

.item-thumbs {
  padding: 9px 0;
  overflow: hidden;
}

.item-thumbs ul {
  text-align: left;
  overflow: hidden;
}

.item-thumbs li {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border: 1px solid #fff;
  margin-right: 5px;
  display: inline-block;
  zoom: 1;
  cursor: pointer;
}
.item-thumbs li:last-child {
  margin-right: 0px;
  margin-left: 0px;
}

.item-thumbs li.current {
  border-color: #00acee;
}

.item-thumbs li img {
  width: 70px;
  height: 70px;
}

.item-info {
  float: right;
  color: #777;
  position: relative;
  width: 59%;
  border-left: 1px solid #fcfcfc;
}

.item-info dl {
  height: 350px;
  background: url(/images/loading_yoho.gif) center center no-repeat;
}

.item-info dl.loaded {
  height: auto;
  background: none;
}

.item-info .product_name {
  color: #333;
  margin: 0 15px;
  padding: 18px 0px 5px 21px;
  border-bottom: 1px solid #F4F4F4;
}

.item-info .product_name .desc {
  line-height: 18px;
  padding: 6px 0 12px;
  display: block;
}

.item-info dd {
  padding: 9px 16px 0 21px;
}

table.goods-info-table {
  color: #333;
  width: 100%;
  background-color: #f6f6f6;
  border-collapse: initial;
}

.goods-info-table th {
  color: #666;
  width: 60px;
  font-weight: bold;
  text-align: left;
}

.goods-info-table td {
  padding: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  position: relative;
}

.goods-price {
  color: #ee4861;
  font-size: 22px;
}

.goods-market-price {
  color: #999;
  font-style: italic;
  text-decoration: line-through;
}

.goods-savings {
  color: #e75768;
  font-weight: bold;
  border: 1px solid #e75768;
  margin-left: 10px;
  border-radius: 4px;
  padding: 2px 6px;

}

.goods-lowest-price {
  color: #ee4861;
}
.yoho-goods-popover {
  display: inline-block;
}

.lowest-price-hint {
  font-size: 10px;
  display: none;
  position: relative;
  min-width: 20px;
  padding: 5px;
  line-height: 0;
  height: 10px;
  background-color: rgba(0,0,0,.65);
  top: 15px;
  color: #fff;
  border-radius: 5px;
  z-index: 10;
}

.yoho-goods-popover:hover .lowest-price-hint {
  display: initial;
}

.goods-promote-price {
  /* color: #F11000; */
}

.goods-vip-price {
  /* color: #F2276A; */
}
.goods-vip-banner {
    width: 100%;
    height: 50px;
}

.goods-promote-price-text, .goods-vip-price-text, span.goods-sp-price-text {
  color: white;
  background-color: #EC4659;
  border-radius: 4px;
  padding: 2px 2px;
  display: inline-block;
  width: 16%;
  font-size: 14px;
  text-align: center;
}

.goods-vip-price-text {
  /* color: white; */
  background-color: #F2276A;
  /* border-radius: 4px;
  padding: 2px 0;
  display: inline-block;
  width: 100%; */
}

.goods-promote-original-price {
  color: #999;
  font-style: italic;
  text-decoration: line-through;
}
.goods-vip-text {
  color: #f96979;
  border: 1px solid #f96979;
  border-radius: 4px;
  padding: 2px 6px;
  display: inline-block;
  font-weight: bold;
}

.goods-promote-countdown {
  color: #777777;
}

.goods-vip-text:hover {
  text-decoration: underline;
  color: #f96979;
}

.goods-reward-text {
  color: white;
  background-color: #EC4659;
  border-radius: 4px;
  padding: 2px 6px;
  display: inline-block;
}

.goods-free-shipping-text {
  color: #00acee;
  border: 1px solid #00acee;
  border-radius: 4px;
  padding: 2px 6px;
  display: inline-block;
  font-weight: bold;
}

.goods-free-shipping-text:hover {
  color: #00acee;
}

.related-articles td a{
  color: #4d4d4d;
}

/* 贈品部分 */
.gift-container {
  padding: 10px 0px 0px;
  margin-bottom: -10px;
}

.gift-set {
  clear: both;
  margin-bottom: 15px;
  position: relative;
}

.offer-set-left, .gift-info-left, .exchange-info-left, .discount-info-left {
  padding: 5px;
}

.gift-label, .gift-info, .gift-info-right, .exchange-info, .exchange-info-right, .offer-set-right, .offer-set-left,
 .offer-info-right, .offer-info-left, .gift-info-left, .exchange-info-left, .discount-info-left {
  display: inline-block;
}

.gift-label, .offer-set-label, .offer-info-label, .redeem-label {
  width: 15px;
  background-color: #00b2e3;
  color: #fff;
  padding:  3px 5px;
  border-radius: 3px 0px 0px 3px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  font-size: 14px;
  line-height: 14px;
  height: 64px;
  display: inline-table;
  /* word-break: break-all; */
}

.gift-label span, .offer-set-label span, .offer-info-label span, .redeem-label span {
  display: table-cell;
  vertical-align: middle;
}

.gift-label {
  background-color: #FD495C;
}

.gift-info-container, .offer-set-container, .offer-info-container, .redeem-info-container {
  box-shadow: 1px 1px 5px #e6e6e6;
  width: 85%;
  display: inline-block;
}

.gift-info, .exchange-info {
  width: 100%;
  background-color: #fff;
  position: relative;
  padding: 0px;
}

.gift-info-right, .exchange-info-right, .discount-info-right, .offer-info-right, .offer-set-right {
  vertical-align: top;
  margin: 9px 0px;
  width: 50%;
}

.gift-set, .gift-header, .gift-value, .gift-container .more-btn, .gift-info, .exchange-info, .offer-header {
  font-size: 0px;
}

/*
.gift-header span, .exchange-header span, .offer-set-header span, .offer-info-header span {
  display: inline-block;
}
*/
.gift-type, .exchange-type {
  vertical-align: bottom;
}

.gift-header, .exchange-header, .offer-set-header, .offer-info-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gift-value {
  margin-top: 10px;
}

.gift-type, .gift-name, .exchange-type, .exchange-name, .gift-value-text {
  font-size: 14px;
  color: #000;
}

.gift-value-text del {
  color: #898989;
  font-weight: normal;
  margin-left: 10px;
}

.gift-type, .exchange-type, .gift-value, .bold {
  font-weight: bold;
}

.gift-container .more-btn {
  background-color: #00b2e3;
  display: inline-block;
  padding: 0px 0px 0px 8px;
  position: absolute;
  bottom: 5px;
  right: 8px;
  cursor: pointer;
}

.more-text {
  color: #fff;
  font-size: 12px;
}

.triangle {
  height: 0px;
  width: 0px;
  overflow: hidden;
  font-size: 0px;
  line-height: 0px;
  display: inline-block;
}

.triangle-left-white {  
  border-color: transparent transparent transparent #fff;
  border-style: dashed solid dashed dashed;
  border-width: 4px 8px;
  margin-left: 5px;
}

.triangle-bottom-blue {
  border-color: transparent transparent #02acee transparent;
  border-style: dashed dashed solid dashed;
  border-width: 10px 6px;
  margin-left: 5px;
}

.triangle-top-right-blue {
  border-color: #00acee transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  border-width: 12px 12px 0px 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
}

.triangle-bottom-left-blue {
  border-color: transparent transparent #00acee transparent;
  border-style: dashed dashed solid dashed;
  border-width: 0px 0px 12px 12px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.item-info dd.tobuy-box .lbl {
  color: #111;
  float: left;
  width: 40px;
  margin-top: 10px;
}

.buybox-left-top {
  position: relative;
}

.item-info .sku {
  /*float: left;*/
  /*width: 320px;*/
  padding-top: 4px;
}

.sku_box
.count_box {
  padding: 20px 0px;
  color: #666;
  font-weight: bold;
}

.sku_box .count_box
.goods-quantity-title {
  display: inline-block;
  width: 66px;
  vertical-align: middle;
  height: 29px;
  line-height: 29px;
  color: #666;
  text-align: left;
}


.sku_box .count_box
.spinner {
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
  /* border: 1px solid #CFD0E3; */
  vertical-align: middle;
  margin-right: 6px;
  border-radius: 2px;
  height: 29px;
}

.sku_box .count_box .spinner-text {
  width: 80px;
  font-size: 16px;
  border: 0;
  line-height: 20px;
  height: 24px;
  padding: 3px 5px 2px;
  line-height: 17px;
  text-align: center;
  font-weight: bold;
  vertical-align: bottom;
}

.sku_box .count_box .spinner-arrow {
  display: inline-block;
  width: 29px;
  height: 25px;
  text-align: center;
  padding-top: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.sku_box .count_box .spinner-arrow-up,
.count_box .spinner-arrow-down {
  display: inline-block;
  background-color: #fbfbfd;
  font-size: 1px;
  width: 20px;
  height: 20px;
  
  width: 20px;
  height: 20px;
}

.sku_box .count_box .spinner-arrow-up {
  background-position: -18px 6px;
  /* border-bottom: 1px solid #CFD0E3; */
}

.sku_box .count_box .spinner-arrow-down {
  background-position: -37px 9px;
}

.sku_box .count_box .spinner-arrow-up:hover {
  background-position: -18px -12px;
  background-color: #f4f4f4;
}

.sku_box .count_box .spinner-arrow-down:hover {
  background-position: -37px -3px;
  background-color: #f4f4f4;
}

.sku .add_cart_li {
  margin-bottom: 35px;
}

.tobuy-box {
  height: auto;
}

.tobuy-box .buybox-left {
  width: auto;
  overflow: hidden;
}

.tobuy-box .buybox-right {
  width: 180px;
  float: right;
  padding-left: 20px;
  position: relative;
}

.tobuy-box .action-button {
	border-bottom: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
  border-radius: 0px;
  padding: 8px 80px;
  letter-spacing: 4px;
  font-weight: bold;
}
.tobuy-box .action-button:hover {
	text-decoration: none;
	color: white;
	background-color: #0087BB;
	border-bottom-color: #006D97;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.tobuy-box .action-button:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.goods-extra-info {
  color: #25aae1;
  margin-bottom: 35px;
}
.goods-extra-info-item {
  display: inline-block;
  -webkit-transition: background-color .2s, color .2s;
     -moz-transition: background-color .2s, color .2s;
       -o-transition: background-color .2s, color .2s;
          transition: background-color .2s, color .2s;
}
.goods-extra-info-item:hover {
  background-color: #eee;
}
.goods-extra-info-item img {
  vertical-align: middle;
}
.goods-extra-info-item a {
  color: #25aae1;
  text-decoration: underline;
}
.goods-extra-info-item a:hover {
  text-decoration: none;
}

.goods-extra-info-item {
  padding-right: 4px;
}

.detail_bgcolor {
  padding-top: 16px;
  padding-bottom: 40px;
}

.product_info {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 20px;
  float: left;
}
.product_info .goods_slide{
  max-width: 1059px;
}
@media(max-width: 1340px){
  .product_info .goods_slide{
    max-width: 1007px;
  }
}
.left_planes {
  float: left;
  width: 100%;
  overflow: hidden;
}

.left_planes .sectionbox div img {
  vertical-align: top;
}

h4.title>span {
  float: left;
  width: 15%;
  padding: 7px 5px 7px 15px;
  margin-bottom: -2px;
  color: #00acee;
  border-left: 4px solid #00acee;
}

.sectionbox h4.title {
  color: white;
  font-size: 16px;
  font-weight: 600;
  float: left;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #e7e7e7;
  margin: 10px 0;
}

.sectionbox h4.tabs {
  color: white;
  font-size: 16px;
  font-weight: 600;
  float: left;
  width: 100%;
  text-align: left;
  border-top: 2px #00abed solid;
  margin: 10px 0;
}
.sectionbox h4.tabs span {
  float: left;
  /* width: 15%; */
  background: #d3d3d3;
  padding: 2px 12px;
  /* margin-right: 5px; */
  /* min-width: 180px; */
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
  color: white;
  cursor: pointer;
  margin-bottom: -2px;
}
.sectionbox h4.tabs span.on {
  background: #00acee;
}

.sectionbox div.content {
  padding: 10px 0 10px 0;
  font-family: Arial,"Microsoft JhengHei","Microsoft YaJei",sans-serif;
}

.offerbox {
  background-color: #f9f9f9;
  padding-bottom: 10px;
}

.offerbox div.offer{
  padding-top: 55px;
}

.offerbox h4.tabs {
  border-top: 2px #5ac4bf solid;
  margin-top: 10px;
}

.offerbox h4.tabs span.on {
  background: #5ac4bf;
}

.offerbox h4.tabs .tab{
  display: inline-table; 
}

.offerbox h4.tabs span {
  position: absolute;
  display: inline-block;
  width: 15px;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  padding: 8px 6px;
  background-color: #5ac4bf;
  color: white;
}

.offerbox .offer-goods {
  display: inline-block;
  white-space: normal;
  position: relative;
  vertical-align: top;
  font-size: 14px;
  width: 130px;
  box-shadow: 0px 2px 10px #e2dfdf;
  -webkit-box-shadow: 0px 2px 10px #e2dfdf;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  vertical-align: middle;
  background-color: #fff;
}

.offerbox .offer-goods .cle{
  text-align: center;
}

.offerbox .offer-goods .product-img {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.offerbox .offer-goods .goods-image {
  width: 130px;
}

.offerbox .offer-goods .goods-name {
  font-size: 14px;
  line-height: 16px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  width: 130px;
  text-align: left;
  color: #524e4d;
}

.offerbox ul.offer-list {
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
}

.offerbox .per-offer {
  display: inline-block;
  width: 100%;
}

.offerbox .plus {
  display: inline-block;
  font-size: 36px;

  color: #ccc;
}

.offerbox .cart_section {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 10px;
}

.offerbox .offer-discount, .offerbox .offer-price {
  font-size: 22px;
  font-weight: bold;
  color: #4d4d4d;
}

.red {
  color: red;
}

.offerbox .original-price {
  font-size: 16px;
  color: #4d4d4d;
}

.offerbox .action-button {
  border-bottom: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  padding: 8px 10px;
  letter-spacing: 4px;
  font-weight: bold;
  margin-top: 10px;
}

.offerbox .product_info {
  padding-bottom: 0px;
}

.right_planes {
  float: right;
  width: 206px;
  padding-top: 10px;
}

.right_planes .plane {
  margin-bottom: 10px;
  zoom: 1;
  overflow: hidden;
}

.right_planes .header {
  font-size: 16px;
  height: 28px;
  line-height: 28px;
  padding: 0;
  font-weight: bold;
  border-bottom: 2px solid #e7e7e7;
  position: relative;
  margin-bottom: 8px;
}
.right_planes .header span {
  display: inline-block;
  position: relative;
}
.right_planes .header span:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #00ACEE;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.right_planes .section-block {
  margin-top: 0;
  margin-bottom: 10px;
}

a.viewbrandproducts {
  background-color: white;
  border: 1px solid #e7e7e7;
  display: block;
  height: 28px;
  line-height: 28px;
  margin: 20px auto;
  text-indent: 13px;
  width: 123px;
  -webkit-transition: background-color .2s, border-color .2s, color .2s;
     -moz-transition: background-color .2s, border-color .2s, color .2s;
       -o-transition: background-color .2s, border-color .2s, color .2s;
          transition: background-color .2s, border-color .2s, color .2s;
}
a.viewbrandproducts:hover {
  background-color: #00ACEE;
  border-color: #188FB5;
  color: white;
  text-decoration: none;
}
a.viewbrandproducts i.fa {
  text-indent: 8px;
  color: #00ACEE;
}
a.viewbrandproducts:hover i.fa {
  color: white;
}

.intro-pic {
  background-color: #fff;
}

.ask-form {
  margin-bottom: 20px;
  padding: 5px;
}

.ask-form .fl {
  width: 500px;
}

.ask-form .fr {
  width: 250px;
  color: #777;
}

.ask-form textarea {
  display: block;
  margin-bottom: 10px;
  width: 480px;
  padding: 5px;
  height: 75px;
  overflow-y: auto;
  border: 1px solid #eee;
  border-top-color: #ccc;
  box-shadow: 0 1px 3px rgba(200,200,200,0.3) inset;
  color: #333;
}

.ask-list {
  margin: 5px;
  zoom: 1;
}

#spxqitem {
  font-size: 14px;
}

#spxqitem h2 {
  background-color: #efefef;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  padding: 0 15px;
  margin: 15px 0 10px;
}

#spxqitem h3
{
  color: #4690B7;
  font-size: 20px;
  font-weight: normal;
  margin:10px 0;
}

#spxqitem table {
  width: 100%;
  margin-bottom: 30px;
}

#spxqitem table td {
  border: 1px solid #e5e5e5;
  padding: 5px 10px;
}

#spxqitem table td img {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  display: block;
}

#spxqitem p {
  margin: 15px 0;
  padding: 0;
}

#spxqitem ul {
  list-style: disc outside none;
}
#spxqitem ol {
  list-style: decimal outside none;
}

#spxqitem ul,
#spxqitem ol {
  margin: 1em 0;
  padding: 0 0 0 24px;
}

.buybox-info-container {
  padding: 0px 0px 0px;
  border: 1px solid #e5f7fd;
  border-top: 1px solid #e6e6e6;
}

.buybox-info-container .buybox-info-left, .buybox-info-container .buybox-info-right {
  display: inline-block;
  width: 46%;
  vertical-align: top;
  padding-left: 15px;
}

.buybox-info-container .buybox-info-mid {
  border-left:1px solid #bfeafb; 
  display: inline-block;
  height: 60px;
  margin-top: 25px;
}

.insurance-info-container .buybox-header {
  margin-bottom: 8px;
}

.buybox-info-container .buybox-header svg, .insurance-info-container .buybox-header svg, .buybox-info-right .store {
  height: 27px;
  width: 27px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 6px;
}

.insurance-info-container .buybox-header svg {
  height: 17px;
  width: 17px;
  margin-right: 2px;
}

.insurance-info-container .buybox-header span {
  vertical-align: middle;
}

.insurance-info-container .ins-button {
  margin: 2px;
  background-color: #fdfdfd;
  overflow: hidden;
  display: inline-block;
}

.insurance-info-container .ins-button:hover {
  background-color: white;
}

.insurance-info-container .ins-button label {
  border:1px solid #a8a8a8;
  cursor: pointer;
  float: left;
  overflow: hidden;
  padding: 2px 16px 1px;
}

.insurance-info-container .ins-button label span.duration {
  font-size: 26px;
  font-weight: bold;
  font-family: Arial,sans-serif;
  word-spacing: 3.5px
}

.insurance-info-container .ins-button label .right-group {
  font-size: 10px;
  line-height: 14px;
  float: right;
  margin-top: 5px;
  margin-left: 4px;
  overflow-x: visible;
  width: 30px;
}

.insurance-info-container .ins-button label .right-group .month-en {
  letter-spacing: 0px;
}

.insurance-info-container .ins-button label span.price {
  font-family: Arial,sans-serif;
}

.insurance-info-container .ins-button label span.price {
  font-family: Arial,sans-serif;
  font-weight: bold;
  font-size: 11px;
}

.insurance-info-container .ins-button.btn-no-need label {
  font-weight: bold;
  font-size: 13px;
  height: 39px;
}

.insurance-info-container .ins-button.btn-no-need label div {
  padding: 8px 0px;
  text-align: center;
}

.insurance-info-container .ins-button input {
  display: none;
}

.insurance-info-container .ins-button input:checked + label {
  border:2px solid #00acee;
  padding: 1px 15px 0px;
  background-color: white;
}

.insurance-info-container .ins-button input:checked ~ label > .right-group > span.price {
  color: #00acee;
}

.insurance-info-container .ins-terms-cons {
  color: #00acee;
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 0.5px;
}

.insurance-info-container .ins-terms-cons a {
  color: #00acee;
}

.insurance-info-container .ins-title, .insurance-info-container .ins-terms-cons {
  line-height: 10px;
}

.insurance-info-container .div-hidden {
  display: none;
}

h4.buybox-header {
  color: #000;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  margin: 15px 0;
}

h4.buybox-header i.fa {
  color: #444;
  font-size: 16px;
}

ul.buybox-info {
  padding: 0px;
  font-size: 15px;
  list-style: none;
  margin: 10px 0;
}

ul.buybox-info li.delivery{
  padding-left: 15px;
}

ul.buybox-info li {
  line-height: 16px;
  margin: 0 0 5px 0;
  position: relative;
}

ul.buybox-info li.good-status .sub-title {
  font-size: 14px;
}

ul.buybox-info li.good-status span {
  display: block;
  font-size: 14px;
}

ul.buybox-info li.good-status .status_unavailable, ul.buybox-info li.good-status .status_available, ul.buybox-info li.good-status .sub-title {
  display: inline-block;
}

ul.buybox-info li.good-status .status_unavailable {
  background-color: #66cdf5;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;

}

ul.buybox-info li.good-status .status_available {
  background-color: #5ac4bf;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;

}

ul.buybox-info li.delivery:before {
  background-position: -1px -1px;
}

ul.buybox-info li.payment:before {
  background-position: -2px -25px;
}

ul.buybox-info li.calendar:before {
  background-position: -2px -49px;
}



ul.buybox-info li.unavailable:before {
  background-position: -2px -89px;
}

.lr-btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 36px;
  height: 39px;
  background: url('/yohohk/img/left-right-btns.png') no-repeat;
}
.lr-btn.left-btn {
  background-position: 0 0;
}
.lr-btn.left-btn:hover {
  background-position: 0 -50px;
}
.lr-btn.left-btn:active {
  background-position: 0 -100px;
}
.lr-btn.right-btn {
  background-position: -40px 0;
}
.lr-btn.right-btn:hover {
  background-position: -40px -50px;
}
.lr-btn.right-btn:active {
  background-position: -40px -100px;
}
.lr-btn span {
  position: absolute;
  left: -123px;
}

/* Make YouTube video responsive */
/* ref: http://avexdesigns.com/responsive-youtube-embed/ */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* padding-top: 30px; */
  /* height: 0; */
  /* overflow: hidden; */
  float: left;
  width: 100%;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* goods_article */
.goods_article_header {
  font-weight: bold;
  color: #000;
  background-color: #f7f7f7;
  padding: 5px 10px;
  border: 1px solid #f7f7f7;
}

.goods_article_table {
  font-size: 12px;
  border: 1px solid #f7f7f7;
}
.goods_article_table tr {
  margin: 10px 4px;
  display: block;
}
.goods_article_table tr :first-child{
  margin-right: 5px;
}
.goods_article_table td {
  vertical-align: top;
}
.goods_article_table img{
  width: 30px;
  height: 30px;
}

/* Share buttons */
.share-btns {
  font-size: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}
.share-btn {
  background-image: url('/yohohk/img/share-btns.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.share-btn:hover {
  opacity: 0.7;
}
.share-btn.facebook {
  background-position: -5px -5px;
}
.share-btn.google-plus {
  background-position: -39px -5px;
}
.share-btn.pinterest {
  background-position: -73px -5px;
}
.share-btn.twitter {
  background-position: -107px -5px;
}
.share-btn.weibo {
  background-position: -141px -5px;
}
.share-btn + .share-btn {
  margin-left: 15px;
}
.social-btn {
  text-align: center;
  margin-top: 10px;
}
.social-btn a {
  display: inline-block;
  vertical-align: middle;
}
.social-btn a:hover {
	text-decoration: none;
}
.social-btn a > .social-network-icon {
	fill: white;
	color: #00ACEE;
	width: 24px;
  height: 24px;
  margin: 3px;
}
.social-btn a:hover > .social-network-icon {
	fill: #005EA7;
	color: #005EA7;
}

.buybox-right .doubt {
  background-color: #00ACEE;
  display: inline-block;
  padding: 10px 0px;
  cursor: pointer;
  margin: 10px 0px;
  width: 100%;
  text-align: center;
}

.buybox-right .doubt:hover {
  background-color: #006D97;
}

.buybox-right .doubt span {
  color: #fff;
  font-size: 14px;
}

/* Buy / wishlist button */
.action-button + .action-button {
  margin-left: 8px;
}

/* Not on sale box */
.goods-not-on-sale {
  margin-top: 12px;
  padding: 4px 8px;
  color: #555;
  background-color: #f1f1f1;
}

.goods-not-on-sale h3 {
  font-size: 20px;
}

/* Stay tuned box */
.goods-stay-tuned {
  margin-top: 12px;
}

.goods-stay-tuned-header {
  padding: 4px 8px;
  color: #333;
  background-color: #f1f1f1;
  border-radius: 8px;
}
.goods-stay-tuned-header h3 {
  font-size: 18px;
  color: #555;
}
.goods-stay-tuned-header-text {
  line-height: 2em;
}

.goods-stay-tuned-table {
  margin: 10px 0;
  *zoom: 1;
}
.goods-stay-tuned-table:before,
.goods-stay-tuned-table:after {
  content: " ";
  display: table;
}
.goods-stay-tuned-table:after {
  clear: both;
}

.goods-stay-tuned-methods {
  float: left;
  width: 40px;
}

.goods-stay-tuned-method {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 8px;
  color: #999;
  -webkit-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}
.goods-stay-tuned-method.on,
.goods-stay-tuned-method:hover {
  color: #555;
}
.goods-stay-tuned-method i.fa {
  line-height: 40px;
  font-size: 22px;
}
.goods-stay-tuned-method + .goods-stay-tuned-method {
  margin-top: 6px;
}

.goods-stay-tuned-divider {
  float: left;
  width: 10px;
  position: relative;
}
.goods-stay-tuned-divider .goods-stay-tuned-indicator {
  position: absolute;
  margin-top: 10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f1f1f1;
}

.goods-stay-tuned-info {
  margin-left: 50px;
  width: 100%;
  height: 162px;
  padding: 8px;
  background-color: #f1f1f1;
  border-radius: 8px;
}
.goods-stay-tuned-info input {
  display: block;
  width: 85%;
  height: 28px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 2px solid #f1f1f1;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.goods-stay-tuned-info input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.goods-stay-tuned-info input::-moz-placeholder {
  color: #777777;
  opacity: 1;
}
.goods-stay-tuned-info input:-ms-input-placeholder {
  color: #777777;
}
.goods-stay-tuned-info input::-webkit-input-placeholder {
  color: #777777;
}
.goods-stay-tuned-info label {
  display: block;
  margin-bottom: 4px;
}

/* Enquiry Box */
.goods-enquiry-table {
  width: 100%;
  border-top: 4px solid #26aae1;
  /*border-bottom: 4px solid #26aae1;*/
}
.goods-enquiry-table tr {
  height: 40px;
}
.goods-enquiry-table td {
  padding-left: 40px;
  vertical-align: middle;
  line-height: 20px;
  text-align: center;
  background-image: url('/yohohk/img/enquiry-icons.png');
  background-repeat: no-repeat;
}
.goods-enquiry-table td.odd {
  color: #26aae1;
  background-color: #ffffff;
}
.goods-enquiry-table td.odd a {
  color: #26aae1;
}
.goods-enquiry-table td.even {
  color: #ffffff;
  background-color: #26aae1;
}
.goods-enquiry-table td.even a {
  color: #ffffff;
}

/* Affiliate Link */
a.goods-affiliate-link {
  display: block;
  padding: 4px 8px;
  border: 1px solid #00ACEE;
  border-radius: 4px;
  color: white;
  background-color: #00ACEE;
  -webkit-transition: background-color .2s, color .2s;
     -moz-transition: background-color .2s, color .2s;
       -o-transition: background-color .2s, color .2s;
          transition: background-color .2s, color .2s;
  text-align: center;
  margin-bottom: 5px;
}
a.goods-affiliate-link:hover {
  color: #00ACEE;
  background-color: white;
  text-decoration: none;
}

/* Suggest a price / Report a problem */
a.goods-feedback-btn {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #333;
  border-radius: 4px;
  color: #333;
  -webkit-transition: border-color .2s, color .2s;
     -moz-transition: border-color .2s, color .2s;
       -o-transition: border-color .2s, color .2s;
          transition: border-color .2s, color .2s;
}
a.goods-feedback-btn:hover {
  text-decoration: none;
  color: #00ACEE;
  border-color: #00ACEE;
}

a.goods-report-a-problem {
  font-size: 11px;
}

a.goods-suggest-a-price {
  display: block;
  text-align: center;
}
a.goods-suggest-a-price i.fa {
  margin-right: 4px;
}
table.suggest-a-price-table {
  border-collapse: collapse;
}
table.suggest-a-price-table th,
table.suggest-a-price-table td {
  border: 0px transparent none;
  padding: 2px 4px;
}
.brand-banner-box img{
  width: calc(100% + 2px);
}

.brand-logo{
  width: 50%;
  margin: auto;
}

.brand-logo img{
  width: 80px !important;
  height: auto !important;
}

.brand-logo-box{
  width:50%;
  border: 1px solid #F7F7F7;
  margin-left: 25%;
}

.right-content {
  float: right;
  min-width: 200px;
  margin-right: 5px;
  background: white;
  width: 218px;
}

.main-content {
  float: left;
  width: 80%;
}

.detail {
  float: left;
  width: 100%;
  border: 1px #bfeafb solid;
  position: relative;
}

/* Tinymce Anyspecs css */
#goods_desc > .content, #shipping_note > .content {
  font: 13px/1.5 Arial, "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
}

#goods_desc > .content h3, #shipping_note > .content h3 {
/*
  color: #4690B7;
  font-size: 20px;
  font-weight: normal;
  margin:10px 0;
*/
  font-weight: 600;
  /* float: left; */
  width: 100%;
  text-align: left;
  padding: 20px 5px;
  color: #00acee;
  border: 0;
  font-size: 20px;
  letter-spacing: 1px;
}

#goods_desc > .content table {
  width: 100%;
  margin-bottom: 30px;
}
#goods_desc > .content table td {
  border: 1px solid #e5e5e5;
  padding: 5px 10px;
}
#goods_desc > .content p {
  margin: 15px 0;
  padding: 0;
}

#goods_desc > .content ul, #goods_desc > .content ol {
  margin: 1em 0;
  padding: 0 0 0 24px;
}

#goods_desc > .content ul {
  list-style: disc outside none;
}
#goods_desc > .content ol {
  list-style: decimal outside none;
}
.related_flashdeal h4.tabs span.on {
  background: #FFB339;
}
.related_flashdeal h4.tabs span.flashdeal_logo {
  background-image: url(/yohohk/img/flashdeal_logo_white.png);
  background-size: 20px;
  /* background-position: 0px 0px; */
  padding-left: 10px;
  background-repeat: no-repeat;
  margin-left: -5px;
  height: 10px;
  background-color: transparent;
}
.sectionbox h4.tabs span.flashdeal_img_timer {
  width: auto;
  background: transparent;
  color: #FFB339;
}
.related_flashdeal h4.tabs span.goods_promote_second, .related_flashdeal h4.tabs span.goods_promote_miniute, .related_flashdeal h4.tabs span.goods_promote_hour, .related_flashdeal h4.tabs span.flashdeal-countdown {
  float: initial;
  background: transparent;
  padding: 0;
  color: #FFB339;
  margin-right: 0px;
}

td.goods_rating_td, #goods_total_rating, .rating_box {
  padding-left: 0;
  position: relative;
}

div.goods_rating_td {
  position: absolute;
  right: 24px;
  zoom: 70%;
  z-index: 1;
  top: 22px;
}

div.goods_rating_td.flashdeal {
  top: 60px;
} 

#goods_total_rating {
  float: left;
}
.goods_total_comment {
  float: left;
  margin: -2px 10px 0px 10px;
}
.rating_box {
  float: left;
}

.rating_box div.counter {
  display: none;
  position: absolute;
  min-width: 20px;
  padding: 5px;
  font-size: 15px;
  line-height: 0px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  right: -36px;
  margin-top: -10px;
  color: white;
  z-index: 10;
}

.rating_box:hover div.counter {
  display: block;
}

.rating_box div.counter::before {
  content: "";
  width: 0;
  height: 0;
  top: 50%;
  margin-top: -5px;
  display: block;
  border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
  border-width: 5px 5px 5px 0px;
  left: -10px;
  border-style: solid;
  position: relative;
}
a.write_review {
  float: left;
  width: 25px;
  height: 20px;
  background-image: url('/yohohk/img/icon_bubble.png');
  background-repeat: no-repeat;
  margin-top: 3px;
  margin-bottom: -3px;
  margin-left: 5px;
}

.goods_sells_amount {
  position: absolute;
  right: 18px;
  top: 45px;
  font-size: 12px;
}

.goods_sells_amount.flashdeal {
  top: 70px;
}

.goods_sells_amount .bag, .goods_give_points .reward {
  height: 25px;
  width: 25px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 2px;

}

.goods_give_points .coin svg#Layer_1 .st1 {
  fill: #00ADEE;
  stroke: #007DC4;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.goods-tab-box {
  border: 1px solid #e3e3e3;
  margin: 10px 0;
  border-left: 0;
  border-right: 0;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-top: 30px;
  font-size: 15px;
}
.goods-tab-box > a:hover {
  text-decoration: none;
}
.goods-tab-box > a.comment_header {
  display: none;
}
.goods-tab-box > a.active {
  color: #00acee;
  position: relative;
  font-weight: 600;
}
.goods-tab-box > a {
  padding: 10px 15px 5px 15px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
  box-sizing: border-box;
  display: inline-block;
}
.goods-tab-box > a > span {
  position: relative;
  padding: 0 10px;
  box-sizing: border-box;
}
.goods-tab-box > a.active > span:after {
  content: "";
  position: absolute;
  height: 5px;
  background: #00acee;
  width: 100%;
  bottom: -10px;
  left: 0;
}

.goods-tab-box.fixed {
  position: fixed;
  top: 50px !important;
  background: white;
  z-index: 100;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0.95;
}

#popupcomment {
  border-top: 10px solid #00acee;
  max-width: 800px;
}
#popupcomment .aui_titleBar .aui_title {
  border: 0px;
}

#popupcomment .aui_close:hover {
  background-position: 0 -16px;
}
#popupcomment .aui_close {
  background-image: url(/yohohk/img/ico.png);
  background-position: 0 0;
  top: 12px;
  right: 12px;
  position: absolute;
  text-indent: -9999px;
  width: 15px;
  height: 15px;
  overflow: hidden;
  margin-right: 0;
  background-size: 20px;
  background-repeat: no-repeat;
}
.writeComment {
  float: left;
  width: 100%;
}

.writeComment > div {
  width: 100%;
  margin: 10px 0px;
  float: left;
  text-align: center;
}

.writeComment textarea {
  width: 100%;
  float: left;
  height: 100px;
  border: 1px solid #e7e7e7;
  padding: 10px;
  box-sizing: border-box;
}
.writeComment > div.star {
  margin: 0 0 25px 0;
}

#popupcomment div#comment_rating {
  left: 0;
  right: 0;
  margin: auto;
}

a#goods_to_review {
  cursor: pointer;
  color: #afafaf;
}

a#goods_to_review:hover {
  text-decoration: none;
  color: #afafaf;
}

.goods-tab-content .sectionbox div.content {
  position: relative;
  padding-bottom: 30px;
  float: left;
  width: 100%;
}
/*
.goods-tab-content .sectionbox div.content:after {
  position: absolute;
  content: "";
  width: 150px;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #d7d7d7;
}

.goods-tab-content .sectionbox:last-child div.content:after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  left: 0;
  bottom: 0;
  background: #d7d7d7;
}
*/
.goods-tab-content .sectionbox h4.title {
  border: 0px;
  margin: 0;
}
.goods-tab-content h4.title>span {
  padding: 20px 5px;
  color: #00acee;
  border: 0;
  font-size: 20px;
  letter-spacing: 1px;
}
.writeComment .comment_intro {
  font-size: 12px;
  color: #afafaf;
}
span.goods-sp-price-text {
  /* color: white; */
  background-color: #55b154;
  /* border-radius: 4px;
  padding: 2px 6px;
  display: inline-block; */
}
.goods-info-table.flashdeal {
  border: 1px solid #FF8200;
}
td.goods_flashdeal_td, td.goods_promote_td {
  padding: 0;
  letter-spacing: 1.5px;
  background: #FF8200;
  color: white;
  padding: 6px 10px;
}
.goods_flashdeal_td .detail_flashdeal_img_timer, .goods_promote_td .promote-goods-hint {
  float: right;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  padding-top: 2px;
}

.goods_flashdeal_td .title, .goods_promote_td .title {
  font-weight: bold;
  float:left;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
}
.flashdeal-qty {
  background: #ff9e1b;
  font-weight: 600;
  border-radius: 4px;
  padding: 3px 9px;
  font-size: 12px;
  box-sizing: border-box;
  letter-spacing: 1px;
  margin: 4px 2px;
  color: white;
  display: inline-block;
}
td.flashdeal-qty-td {
  padding-top: 0;
}
form#buyForm {
  display: inline;
}
.flashdeals-item {
  float: left;
  width: 20%;
  padding: 5px;
  box-sizing: border-box;
}
.flashdeal-widget-image {
	height: 150px;
}
.flashdeal-widget-image img {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  top: 0;
  right: 0;
}
.flashdeal-qty.sold-out {
  background: #999999;
}
.flashdeal-online-only,.flashdeal-vip-only {
  padding: 3px 9px;
	display: inline-block;
	border-radius: 4px;
  font-size: 12px;
  margin: 4px 2px;
}
button.action-button.sold-out {
  color: #454545;
  background-color: #999999;
  border-bottom-color: #999999;
  -webkit-box-shadow: inset 0 0px #ACB2B7;
  cursor: no-drop;
  box-shadow: inset 0 0px #999999;
  color: white;
}
.sold-out-text {
  margin-top: -5px;
  margin-bottom: 5px;
  color: #ec4458;
  font-weight: 600;
  letter-spacing: 1.5px;
}

/*
.flashdeal-tag-bottom-1 {
	bottom: 10px !important;
}

.flashdeal-tag-bottom-2 {
	bottom: 60px !important;
}

.flashdeal-tag-bottom-3 {
	bottom: 110px !important;
}

.flashdeal-tag-bottom-4 {
	bottom: 160px !important;
}
/*

/* jQuery Ui tooltip start */
.ui-tooltip, .ui-tooltip .arrow:after {
	background: white;
	border: 1px solid #00acee;
	width: 300px;
}
.ui-tooltip {
	padding: 10px 15px;
	color: #6e6e6e;
  font-size: 14px;
  line-height: 120%;
	border-radius: 0;
}
.ui-tooltip .arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.ui-tooltip .arrow.top {
	top: -16px;
	bottom: auto;
}
.ui-tooltip .arrow.left {
	left: 20%;
}
.ui-tooltip .arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.ui-tooltip .arrow.top:after {
	bottom: -20px;
	top: auto;
}

.ui-helper-hidden-accessible {
  display: none !important;
}
/* jQuery Ui tooltip end */
/* show more info dialog */
.more_dialog{
  height: auto;
}
.dialog_more_info .aui_header {
  display: block;
}
.dialog_more_info .aui_inner {
  border-radius: 0px;
}
.dialog_more_info .aui_close {
  top: -11px;
  right: -8px;
  background-color: #00ACEE;
  border-radius: 12px;
  background-image: none;
  text-indent: 0px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 20px;
}
.dialog_more_info .aui_close:hover {
  text-decoration: none;
}
.dialog_more_info .top {
  background-color: #f9f9f9;
  font-weight: bold;
  padding: 20px;
  position: relative;
}
.dialog_more_info .top .header {
  color: #02acee;
  font-size: 16px;
}
.dialog_more_info .top .hint {
  color: #333333;
  font-size: 14px;
  word-wrap: break-word;
}

.dialog_more_info .left{
  width: 214px;
  display: inline-block;
  padding-right: 15px;
  border-right: 1px solid #f5f5f5;
  height: 445px;
  margin-top: 15px;
  margin-right: 15px;
}
.dialog_more_info .left img {
  width: 200px;
  margin-top: 15px;
}
.dialog_more_info .product-name {
  font-weight: bold;
  color: #333333;
  font-size: 14px;
  margin: 5px 0px;
  width: 200px;
  text-align: center;
}
.dialog_more_info .goods-price {
  font-size: 16px;
  color: #FD495C;
  font-weight: bold;
  text-align: center;
  width: 200px;
}
.dialog_more_info .goods-market-price {
  font-size: 12px;
  color: #999;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 200px;
  font-style: normal;
}
.dialog_more_info .right {
  width: 755px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.dialog_more_info .full {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.dialog_more_info .attached-product-lists{
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
}

.dialog_more_info .attached-products{
  margin: 15px 0px 0px 0px;
}
/*normal*/
.dialog_more_info .attached-products li{
  list-style: none;
  display: inline-block;
  width: 22%;
  margin-right: 15px;
}

.dialog_more_info .attached-products .attached-product-lists li{
  width: 176px;
}

.dialog_more_info .attached-products .bottom li{
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}

.dialog_more_info .attached-products .bottom .right-btn{
  margin-left: 10px;
  margin-right: 0px;
}

.dialog_more_info .attached-products .attached_product{
  padding: 5%;
  width: 90%;
  border: 1px solid #f5f5f5;
}
/*normal*/
/*bundle*/

.dialog_more_info ul.bundle_list {
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
}

.dialog_more_info ul.bundle_list li.bundle_container{
  width: 455px;
  margin: 0 15px;
}

.dialog_more_info ul.bundle_list li.bundle_container ul.attached-product-lists li{
  margin-right: 15px;
  width: 135px;
}

.dialog_more_info ul.bundle_list li.bundle_container ul.attached-product-lists li .attached_product img{
  width: 127px;
}

.dialog_more_info li.bundle_container .attached_container{
  background: #F7F7F7;
  padding-bottom: 15px;
}

.dialog_more_info li.bundle_container .attached_container .offer-set-info {
  font-weight: bold;
  margin-top: 15px;
  border-bottom: 1px solid #f8f8f8;
  color: #000;
  font-size: 16px;
  text-align: center;
}

.dialog_more_info .attached-products.bundle li{
  list-style: none !important;
  display: inline-block;
  width: 22%;
  margin-right: 15px;
}

.dialog_more_info .attached-products.bundle li{
  list-style: none;
  display: inline-block;
  width: 22%;
  margin-right: 15px;
}

.dialog_more_info .attached-products.bundle .bottom li{
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}

.dialog_more_info .attached-products.bundle .bottom .right-btn{
  margin-left: 10px;
  margin-right: 0px;
}

.dialog_more_info .attached-products.bundle .attached_product{
  padding: 5%;
  width: 90%;
  border: 1px solid #f5f5f5;
}

/*bundle*/
.dialog_more_info .attached-products a{
  display: inline-block;
  width: 100%;
}
.dialog_more_info .product-img{
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.dialog_more_info .product-img-container{
  position: relative;
}
.dialog_more_info .product-img-container .product-img-qty{
  bottom: 5px;
  right: 0px;
  width: 50px;
  height: 42px;
  border-radius: 25px;
  font-size: 24px;
  line-height: 30px;
  padding-top: 8px;
  position: absolute;
  background-color: #5AC4BF;
  -webkit-box-shadow: inset 0 -3px #5AC4BF;
  box-shadow: inset 0 -3px #5AC4BF;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.dialog_more_info .product-img-container .product-img-qty .product-img-qty-small-text{
  font-size: 0.6em;
}

.dialog_more_info .attached-products a:hover{
  text-decoration: none;
}
.dialog_more_info .attached-products img{
  width:  150px;
}
.dialog_more_info .promote-price {
  color: #FD495C;
  font-size: 14px;
  font-weight: bold;
}
.dialog_more_info .original-price{
  color: #b6b6b6;
  font-weight: normal;
  font-size: 14px;
  /*margin-left: 10px;*/
  font-weight: bold;
  text-decoration: line-through;
  margin-top: 10px;
}
.dialog_more_info .attached-product-name {
  font-weight: bold;
  color: #625e5d;
  font-size: 12px;
  margin-top: 10px;
  width: 100%;
  text-align: left;
  line-height: 16px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: initial;
}
.dialog_more_info .label span {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  background-color: #FD495C;
  padding: 4px 15px;
  font-weight: bold;
  display: inline-block;
  border-radius: 4px;
  margin-top: 10px;
}

.dialog_more_info .label .remarks{
  color: #000;
  background-color: unset;
}

.dialog_more_info .label .remarks .reminder_highlight{
  padding: unset;
  border-radius: 0px;
  background-color: unset;
  color: #00acee;
}



.dialog_more_info .label span.bg-blue {
  background-color: #00b2e3;
}
.dialog_more_info .tabs {
  border-bottom: 2px solid #ebebeb;
  margin-top: 15px
}
.dialog_more_info .tab {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  width: 110px;
  line-height: 14px;
  color: #0f0f0f;
  text-align: center;
  padding-bottom: 5px;
  position: relative;
  top: 2px;
  cursor: pointer;
}
.dialog_more_info .tab.on {
  border-bottom: 3px solid #00b2e3;
  padding: 15px 0px;

}
.dialog_more_info .cart {
  text-align: center;
  margin-top: 20px;

}
.dialog_more_info .fa-shopping-cart{
  margin-right: 5px;
}
.dialog_more_info li .add-to-cart, .dialog_more_info li .added{
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 14px;
  color: #00b2e3;
  border: 1px solid #00b2e3;
}
.dialog_more_info li .add-to-cart:hover {
	text-decoration: none;
	color: white;
	background-color: #0087BB;
  border: 1px solid #0087BB;
}
.dialog_more_info li .add-to-cart, .dialog_more_info li .added {
  height: 30px;
  padding-top: 5px;
}


.dialog_more_info li .added {
  background-color: #00b2e3;
  color: #fff;
  cursor: default;
}
.dialog_more_info .action-button {
  border-bottom: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  padding:7px 25px 1px;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 16px;
  width: 175px !important;
  height: 35px !important;
  border-radius: 4px;
}
.dialog_more_info .bottom {
  text-align: center;
  width: 100%;
  font-weight: bold;
  margin: 15px 0;
}
.dialog_more_info .dialog-btn {
  display: inline-block;
  font-size: 16px;
  color: #35aae1;
  cursor: pointer;
  margin-right: 10px;
}
.dialog_more_info .bottom ul {
  display: inline;
}
.dialog_more_info .bottom li {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: inline-block;
  margin-right: 10px;
  color: #00ACEE;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
}
.dialog_more_info .bottom .cur_pos {
  background-color: #35aae1;
  color: #fff;
}

.dialog_more_info .dialog-pagination {
  text-align: center;
  width: 100%;
  margin: 20px 0px;
  font-weight: bold;
}

.dialog_more_info .dialog-pagination ul {
  display: inline;
}
.dialog_more_info .dialog-pagination li {
  width: 10px;
  height: 10px;
  border-radius: 12px;
  display: inline-block;
  margin-right: 10px !important;
  background-color: #C4C4C4;
  font-size: 12px;
  line-height: 10px;
  cursor: pointer;
}
.dialog_more_info .dialog-pagination .cur_pos {
  background-color: #35aae1;
  color: #fff;
}

.discount-box-small-text{
  font-size: 0.8em;
}

