.error-info {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 45px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.error-info>img {
    padding-bottom: 15px;
    width: 220px;
}
.error-title {
    font-weight: 600;
    font-size: 28px;
    color: #0e7dc1;
    margin-bottom: 25px;
}
.error-reason h2 {
    font-weight: 600;
    font-size: 20px;
    color: #0e7dc1;
}
.error-info span {
    padding-top: 15px;
    display: block;
}
.error-info span {
    padding-top: 15px;
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #999999;
}
.btn-primary {
    padding: 10px 50px;
    background: #00acee;
    display: inline-block;
    margin-top: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}