.flashdeal-cf:before,
.flashdeal-cf:after {
  content: " ";
  display: table;
}
.flashdeal-cf:after {
  clear: both;
}
.flashdeal-cf {
  *zoom: 1;
}

.flashdeal-heading-banner {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  max-height: 300px;
}

.flashdeal-heading-banner img {
  width: 100%;
}
.today_flashdeal {
  float: left;
  width: 100%;
  margin: 10px 0;
}
.flashdeal_img_timer {
  /*position: relative;*/
  /*top: -70px;*/
  /*font-size: 30px;*/
  /*color: #006FB9;*/
  /*font-weight: 700;*/
  /*left: 50%;*/
  /*display: inline-block;*/
}
.flashdeal-product-buy-and-share {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
.single_flashdeal_item {
  position: relative;
  float: left;
  width: 18%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 1%;
  padding: 10px;
  margin-bottom: 5px;
  background: transparent;
  height: 345px;
  transition: background-color 0.5s ease;
}
.single_flashdeal_item:hover, .single-upcoming-item:hover, .single_flashdeal_item.active {
  position: relative;
  left: 1px;
  top: 1px;
  box-shadow: 0 2px 10px #999;
}
.single_flashdeal_item.active {
  background: rgba(0, 172, 238, 0.2);
}
.single_flashdeal_item > img, .product-thumb {
  width: 176px;
  left: 0;
  display: block;
  right: 0;
  margin: auto;
}
.flashdeal-product-detail {
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
  padding: 10px;
  border: 1px solid #e7e7e7;
  width: 50%;
  border-radius: 4px;
  z-index: 1000;
  padding-top: 30px;
}
#spxqitem {
  font-size: 14px;
  max-height: 500px;
  overflow: auto;
}
.flashdeal-product-detail a.close-btn {
  float: right;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-image: url(/yohohk/img/ico.png);
  background-size: 25px;
  cursor: pointer;
}
.flashdeal-product-row {
  display: block;
  width: 100%;
  background-color: rgb(255, 227, 155);
  /* background-color: rgb(255, 211, 100); */
  margin-bottom: 12px;
}

.flashdeal-product-image {
  display: block;
  float: left;
  width: 400px;
  vertical-align: top;
}

.flashdeal-product-image-container {
  position: relative;
  width: 360px;
  height: 360px;
  margin: 20px;
}

.flashdeal-product-image-container img {
  width: 100%;
  height: 100%;
}

.flashdeal-product-image-discount {
  position: absolute;
  top: 120px;
  left: 20px;
  width: 60px;
  height: 49px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: #E55767;
  -moz-box-shadow: inset 0 -3px #C44A59;
  -webkit-box-shadow: inset 0 -3px #C44A59;
  box-shadow: inset 0 -3px #C44A59;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  padding-top: 11px;
  overflow: hidden;
}

.flashdeal-product-info {
  display: block;
  float: left;
  width: 388px;
  vertical-align: top;
  padding-top: 12px;
  padding-bottom: 12px;
}

.flashdeal-product-name {
  font-size: 15px;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 176px;
  line-height: 19px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  -webkit-line-clamp: 2;
  /* margin-left: 15px; */
  margin-right: auto;
  overflow: hidden;
  color: #7e7e7e;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.flashdeal-price-table th {
	text-align: left;
    padding-left: 8px;
    font-size: 14px;
    font-weight: normal;
    width: 60px;
}

.flashdeal-price-table td {
  text-align: left;
  padding-left: 5px;
}

span.flashdeal-deal-price-title {
  color: #fff;
  background-color: #ec4659;
  border-radius: 4px;
  padding: 2px 6px;
  display: inline-block;
  min-width: 42px;
  text-align: center;
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}

.flashdeal_deal_price{
  width: 176px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}
span.flashdeal-deal-price {
  color: #c23815;
  float: left;
  padding-right: 5px;
  font-size: 18px;
  font-weight: bold;
  vertical-align: baseline;
  line-height: 20px;
}
.remaining_qty {
  text-align: left;
  vertical-align: bottom;
  float: left;
  width: 50%;
  margin-top: 7px;
  line-height: 20px;
}
del.flashdeal-original-price {
  text-decoration: line-through;
  color: #666;
  font-size: 14px;
  float: left;
  width: 45%;
  line-height: 20px;
}

.flashdeal-price-table td.flashdeal-lowest-price-hint {
	color: #666;
	font-size: 12px;
	padding: 0px 8px 5px;
}

.flashdeal-price-table td.flashdeal-countdown-cell {
  color: #333;
  font-size: 12px;
  padding-left:0px;
}

.flashdeal-product-features-heading {
  font-size: 16px;
}

.flashdeal-learn-more {
    color: #333;
    cursor: pointer;
}
.flashdeal-learn-more:hover {
  text-decoration: none;
}

.flashdeal-product-features {
	padding: 5px;
	position: absolute;
	left: 8px;
	width: 90%;
	margin: auto;
	right: 10px;
	top: 125px;
	border: 2px solid #eee;
	border-radius: 4px;
	background: white;
	max-height: 90px;
  overflow-y: auto;
  overflow: hidden;
}

.flashdeal-product-shipping {
  float:left;
  width:100%;
  padding:8px;
  padding-top:0px;
}

.flashdeal-sold-out-btn {
  font-size: 16px;
  padding: 10px 20px 12px;
  color: #666;
  background-color: #e5e5e5;
  display: inline-block;
  height: 16px;
  line-height: 16px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(200, 200, 200, 0.3);
  text-shadow: 0 1px #fff;
  vertical-align: top;
  margin-right: 8px;
}

.action-button + .action-button {
  margin-left: 8px;
}

.flashdeal-product-extra-info {
  display: block;
  float: right;
  vertical-align: top;
  width: 180px;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
}

.share-btns {
  font-size: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
.share-btn {
  background-image: url('/yohohk/img/share-btns.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.share-btn:hover {
  opacity: 0.7;
}
.share-btn.facebook {
  background-position: -5px -5px;
}
.share-btn.google-plus {
  background-position: -39px -5px;
}
.share-btn.pinterest {
  background-position: -73px -5px;
}
.share-btn.twitter {
  background-position: -107px -5px;
}
.share-btn.weibo {
  background-position: -141px -5px;
}
.share-btn + .share-btn {
  margin-left: 15px;
}

.flashdeal-products-table {
  width: 100%;
  border-top: white 2px solid;
}
.flashdeal-products-table .flashdeal-product-cell {
  width: 32%;
  height: 100%;
  vertical-align: top;
  margin: 5px 5px;
  background-color: rgb(255, 227, 155);
  /* background-color: rgb(255, 211, 100); */
  background-clip: padding-box;
  float: left;
  border-radius: 4px;
}
.flashdeal-products-table .flashdeal-product-cell.first {
  border-right: white 2px solid;
}
.flashdeal-products-table .flashdeal-product-row {
  height: 100%;
  background-color: transparent;
  margin-bottom: 0;
}
.flashdeal-products-table .flashdeal-product-image {
  width: 50%;
  margin-top: 5px;
}
.flashdeal-products-table .flashdeal-product-image-container {
  width: 160px;
  height: 160px;
  margin: auto;
}
.flashdeal-products-table .flashdeal-product-image-discount {
  bottom: 4px;
  left: auto;
  right: 4px;
  width: 60px;
  height: 49px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  font-size: 18px;
  line-height: 20px;
  padding-top: 11px;
}
.flashdeal-products-table .flashdeal-product-info {
    width: 50%;
}
.flashdeal-products-table .flashdeal-price-table td span.flashdeal-deal-price {
  font-size: 15px;
  width: 100%;
}
.flashdeal-products-table .flashdeal-price-table td del.flashdeal-original-price {
  font-size: 14px;
}
.flashdeal-products-table .flashdeal-price-table td.flashdeal-lowest-price {
    font-size: 12px;
    padding: 5px 0;
	padding-left: 5px;
}
.flashdeal-products-table .flashdeal-product-info-cont {
    float: left;
    width: 100%;
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 2px;
}
.flashdeal-products-table .flashdeal-product-buy-and-share .share-btns {
  display: inline-block;
  margin-left: 8px;
}

.flashdeal-past,
.flashdeal-upcoming {
  padding-bottom: 12px;
}

.flashdeal-past table,
.flashdeal-upcoming table {
  border-collapse: collapse;
}

.flashdeal-past table td{
  vertical-align: top;
  width: 166px;
  padding: 2px 3px;
}

.flashdeal-past table td img.product-thumb,
img.product-thumb {
  width: 148px;
  height: 148px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 8px;
}

div.flashdeal-discount-box, div.flashdeal-discount-box {
  position: absolute;
  top: 85px;
  left: 20px;
  width: 60px;
  height: 49px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: #E55767;
  -moz-box-shadow: inset 0 -3px #C44A59;
  -webkit-box-shadow: inset 0 -3px #C44A59;
  box-shadow: inset 0 -3px #C44A59;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  padding-top: 11px;
  overflow: hidden;
}

span.upcoming-text {
  display: block;
  font-size: 16px;
  margin-left: 15px;
}

.flashdeal-past table td span.product-name,
span.product-name {
  width: 148px;
  height: 57px;
  line-height: 19px;
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

span.deal-date {
  font-weight: 700;
}

.upcoming-prices {
  width: 176px;
  line-height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.price-to-be-announced {
  width: 148px;
  display: block;
  font-size: 14px;
  margin: 0 auto 2px auto;
}

.deal-price {
  font-size: 18px;
  color: #E75768;
  font-weight: 600;
}

.market-price {
  color: #555;
  text-decoration: line-through;
}

.deal-quantity {
  margin-top: 5px;
  width: 176px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  font-size: 14px;
  color: #7e7e7e;
}

.flashdeal-read-more-btn > img {
    width: 12px;
    height: 12px;
    padding-left: 5px;
}

.flashdeal-price-table {
    float: left;
    width: 50%;
}

.flashdeal-add-to-cart-btn{
  position: inherit;
  width: 150px;
}

.upcoming-deals-session {
  float: left;
  width: 100%;
  margin: 10px 0;
  padding-top: 50px;
  margin-top: -40px;
}
.upcoming-deals-countdown{
  margin: 5px 0;
}
.upcoming-deals-title, .upcoming-deals-item {
  float: left;
  width: 100%;
}
.upcoming-deals-item {
  border: 1px solid #e7e7e7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 0;
}
.single-upcoming-item {
  float: left;
  width: 18%;
  margin: 5px 1%;
  position: relative;
}
.upcoming-deals-countdown {
  margin: 0;
  float: left;
  border: 1px solid #ec4659;
  padding: 10px 5px;
  font-size: 16px;
  color: #ec4659;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.upcoming-deals-countdown .goods_promote_hour,.upcoming-deals-countdown .goods_promote_miniute,.upcoming-deals-countdown .goods_promote_second {
  background: white;
  color: #ec4659;
  padding: 0;
  border-radius: 0;
}
.upcoming-deals-countdown .goods_promote_day{
  padding-right: 5px;
}
a:hover {
  text-decoration: none;
  color: #7e7e7e;
}

.upcoming-deals-index {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  position: relative;
}
.upcoming-date {
  background: #ec4659;
  color: white;
  float: left;
  width: 25%;
  padding: 10px;
  border: 1px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.upcoming-date:nth-child(4n){
  border-right: 1px solid transparent;
}

.upcoming-date:hover{
  text-decoration: none;
  background: white;
  color: #ec4659;
  border-color: #ec4659;
  cursor: pointer;
}
.single_flashdeal_item .product-watermark {
  width: 176px;
  margin: auto;
  left: -15px;
  right: 0;
  top: 0;
}
.single-upcoming-item + .pagenav {
  position: relative;
  z-index: 999;
}
.pagenav {
  width: 100%;
  float: left;
  padding-right: 5px;
  box-sizing: border-box;
}

.flashdeal-sessions {
  float: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 0 0;
}

.flashdeal-session {
  color: #666666;
  font-weight: 600;
  font-size: 16px;
  width: 20%;
  flex-grow: 1;
  background: #f5f5f5;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 5px;
}

.flashdeal-session:nth-child(n+6) {
  flex-grow: unset;
}

.flashdeal-session.current {
  color: white;
  background: #00acee;
}
.flashdeal-session.disabled {
  opacity: 0.3;
}
.flashdeal-session:after {
  content: "";
  position: absolute;
  background: #e3e3e3;
  width: 1px;
  top: 5px;
  bottom: 5px;
  right: 0px;
}

.flashdeal-session:last-child:after, .flashdeal-session:nth-child(5n):after {
  display: none;
}

.flashdeal-session > span {
  border: 1px solid #ff9e1b;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 2px;
  color: #ff9e1b;
  display: -webkit-inline-box;
}

.flashdeal-session.current > span {
  color: white;
  border-color: white;
}

.flashdeal-session > span.current {
  background: #ff9e1b;
  border-color: #ff9e1b;
  color: white;
  font-size: 14px;
}

.flashdeal_img_timer {
  float: left;
  width: 100%;
  background: #0083cc;
  box-sizing: border-box;
  padding: 5px;
  color: white;
  font-size: 15px;
  margin-top: 5px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.5px;
}

span.flashdeal-countdown {
  font-size: 20px;
}

.flashdeal_img_timer:before {
  display: none;
}

.flashdeal-widget-image-discount {
  right: 0;
}

.flashdeal-session.current.expired {
  background: #0083cc;
  opacity: 0.6;
}

.flashdeal-session.expired {
  background: #999999;
  color: #cacaca;
}

.flashdeal-session.expired > span {
  border-color: white;
  color: white;
}

.flashdeal-session.current.expired {
  background: #00acee;
  opacity: 0.6;
  color: white;
}

.flashdeal-widget-qty.coming_soon {
  position: relative;
  bottom: 0;
  border: 1px solid #ff9f14;
  margin: 0px 0px;
  box-sizing: border-box;
  display: flex;
}

button.flashdeal-notify-btn {
  background: #ffa00c;
  border: 0;
  color: white;
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

.flashdeal-category {
  position: relative;
  float: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.flashdeal-category.have-cat {
  width: calc(100% - 70px);
}
.empty-cat {
  float: right;
  width: 70px;
  padding-top: 8px;
  text-align: right;
}
.flashdeal-category > ul {
  width: 20%;
  flex-grow: 1;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 20%;
  flex-grow: 1;
}

.dropbtn {
  width: 100%;
}

.flashdeal-bottom-button-box {
  float: left;
  width: 100%;
  margin: 10px 0;
  text-align: center;
}
.flashdeal-session br {
  display: inline-block;
  content: "";
  margin-left: 5px;
}
.flashdeal-category .dropdown i {
  float: right;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}
a.flashdeal-widget-link>.rating_box {
  margin: 5px 0;
}
.rating_box>.goodsColRating.jq-ry-container {
  padding-left: 0;
  width: 115px;
}
a.flashdeal-widget-link.selling {
  float: left;
  width: 100%;
  padding: 12px;
  background: #fff;
  box-sizing: border-box;
  position: relative;
  min-height: 320px;
}

.flashdeal-widget-qty {
  position: absolute;
  bottom: 0;
  border: 1px solid #0055b8;
  margin: 0 -12px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}
.flashdeal-widget-qty-left {
  background: white;
}
.all-in-cart > .flashdeal-widget-qty-full {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  background: #00acee;
  color: white;
}
.flashdeal-widget-qty.all-in-cart {
  border: 1px solid #00acee;
}

.flashdeal-widget-qty.expired {
	border: 1px solid #999999;
}

.expired .flashdeal-widget-qty-right {
	background: #999999;
}