.container {
	max-width:1330px;
	min-width:1330px;
	width: 100%;
	margin: auto;
}
/* Footer */
footer {
	min-width: 1330px;
	float: left;
	font-size: 14px;
	background: #fcfcfc;
	color: #000000;
	border-top: 1px solid #00acee;
	margin-top: 30px;
}
footer .container {
	background: transparent;
}
.footer-tac-block {
	width: 100%;
	background: #00acee;
	float: left;
}
.footer-session.right {
	float: right;
	width: auto;
}
.footer-social a:hover {
	text-decoration: none;
}
.footer-social a > .social-network-icon {
	fill: white;
	color: white;
	width: 40px;
	height: 40px;
}
.footer-social a:hover > .social-network-icon {
	fill: #005EA7;
	color: #005EA7;
}
.footer-session {
	float: left;
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
}
.footer-session.top-line {
	border-top: 1px solid #cccccc;
}
.footer-icon-session {
	padding: 30px 60px;
}
.footer-icon-item {
	float: left;
	width: 25%;
	display: flex;
	align-items: center;
}
svg.footer-icon {
	height: 50px;
	width: 50px;
}
.footer-icon.discount, .footer-icon.pickup {
    width: 35px;
}
.footer-icon.shipping {
    width: 45px;
}
.footer-icon-title {
	padding-left: 10px;
	font-size: 18px;
	letter-spacing: 1px;
	color: #007dc4;
	font-weight: 600;
}
.footer-block.footer-logo {
	padding: 0 30px;
	float: left;
	width: 20%;
	text-align: center;
	box-sizing: border-box;
}
.footer-block.footer-help {
	float: right;
	width: 74%;
}
.footer-help-menu {
	text-align: left;
	width: 200px;
	display: table-cell;
}
.footer-icon.yoho-logo {
    width: 180px;
    height: 50px;
    margin-bottom: 25px;
}
.footer-payment-menu {
	text-align: left;
	width: 35%;
	display: table-cell;
}
.footer-support-btn {
	display: inline-block;
	border: 1px solid #00acee;
	color: #00acee;
	padding: 10px;
	width: 100%;
	font-size: 18px;
	letter-spacing: 1px;
	box-sizing: border-box;
	font-weight: 600;
}
.footer-support-btn:hover {
	text-decoration: none;
	color: white;
	background: #00acee;
}
.footer-tittle {
	font-size: 17px;
	letter-spacing: 1.5px;
	font-weight: 600;
	color: #000;
	margin-bottom: 15px;
}
.help-menu-title {
	overflow: hidden;
	width: 150px;
	float: left;
	height: 25px;
	font-size: 14px;
	letter-spacing: 1.5px;
	color: #000;
	font-weight: 600;
}
.footer-paymnet-icon > img {
	width: 65px;
	height: 25px;
	padding: 5px;
}
.footer-social>a {
	float: left;
	margin-right: 15px;
}
.footer-button {
	border: 1px solid white;
	vertical-align: middle;
	margin: 5px 0;
	padding: 5px 30px;
	box-sizing: border-box;
	line-height: 20px;
	font-size: 14px;
	letter-spacing: 1.5px;
	color: #fff;
	font-weight: 600;
}
.footer-button:hover,.dropdown.footer-button>a:hover,.dropdown.footer-button:hover>a {
	background: #fff;
	color: #00ACEE;
}
.dropdown.footer-button>a {
	color: white;
}
.dropdown.footer-button {
	border: 1px solid;
	color: white;
	width: auto;
	margin: 5px 0;
	cursor: pointer;
}
.dropdown.footer-button > .dropdown-content {
	left: -1px;
	box-sizing: border-box;
	right: -1px;
	bottom: 31px;
	box-shadow: none;
	background: #00acee;
	width: auto;
	padding: 0;
	text-align: center;
	border: 1px solid white;
}
.dropdown.footer-button > .dropdown-content a {
	color: white;
}
.dropdown.footer-button > .dropdown-content a:hover {
	background-color: white;
	color: #00acee;
}
.language-dropdown.footer-button{
	border: none !important;
	padding: 0 !important;
}
.language-dropdown.footer-button:hover{
	background-color: transparent;
}
.language-dropdown.footer-button .dropdown-content.language-dropdown-content a.language-toggle{
	border-bottom: transparent;
}
.language-dropdown.footer-button a.language-toggle{
	display: block;
	width: 124px;
	padding: 5px 0 !important;
	text-align: center;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
.language-dropdown.footer-button a.language-toggle.last:hover, .language-dropdown.footer-button a.language-toggle.current:hover{
	color: #00ACEE !important;
	background: #fff !important;
	border-top-color: #fff;
	border-bottom-color: #fff;
	border-right-color: #fff;
	border-left-color: #fff;
}
.language-dropdown.footer-button a.language-toggle:hover{
	color: #00ACEE !important;
	background: #fff !important;
	border-top-color: #00ACEE;
	border-bottom-color: #00ACEE;
	border-right-color: #00ACEE;
	border-left-color: #00ACEE;
}
.language-dropdown.footer-button:hover,.language-dropdown.dropdown.footer-button>a:hover,.language-dropdown.dropdown.footer-button:hover>a {
	background: transparent;
	color: #fff;
}
.language-dropdown.dropdown.footer-button > .dropdown-content {
	border: none;
}
.language-dropdown.dropdown.footer-button * {
	left: 0px !important;
	right: 0px !important;
	bottom: 32px !important;
}
.footer-links-copyright {
	float: right;
	padding: 20px 0 0 0;
	color: white;
}
.footer-links-copyright a {
	font-size: 14px;
	letter-spacing: 1.5px;
	color: white;
	margin-left: 7px;
	position: relative;
	padding-left: 7px;
}
.footer-links-copyright a:nth-child(n+2):before {
	content: '';
	top: 4px;
	bottom: 2px;
	width: 1px;
	position: absolute;
	background: white;
	left: 0;
}
/* ---- Other ----     */
a.fb-msg-btn {
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: #0084ff;
    border: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    height: 0;
}
a.fb-msg-btn>img {
    position: relative;
    width: 35px;
    height: 35px;
}
.footer-enquiry-facebookmessenger{
	height: 35px;
	line-height: 35px;
}
.flashdeal-cart-countdown {
	position: fixed;
	width: 100%;
	bottom: 0px;
	padding: 10px;
	text-align: center;
	background: #096AB3;
	color: #FFFFFF;
	left: 0;
	right: 0;
	margin: auto;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: 600;
}
.flashdeal_cart_timer {
	color: #FFE600;
}