body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
html{ background-color:#f8f8f8; color:#333;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,
button,input,select,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{ font: 12px/1.5 Arial, "Microsoft JhengHei", "Microsoft YaHei", sans-serif; }
address,cite,em,var,i{font-style:normal;}
ul,ol{list-style:none;}
fieldset,img{border:0;}
iframe{ display:block;}
input,textarea,button,select{font-size:100%; outline:none; resize:none;}
button{cursor: pointer;}
table{border-collapse:collapse; border-spacing:0;}
th{text-align:inherit;}
h1{font-size:18px;}
h2{font-size:14px; font-weight:bold;}
h3{font-size:14px; font-weight:400;}
h4,h5{font-size:12px; font-weight:400;}

a{text-decoration:none; color:#333;}
a:hover{text-decoration:underline; color: #f37;}
a:focus{outline:none;}
/*::selection {background:#f37; color:#fff;}*/
canvas {-ms-touch-action: double-tap-zoom;}

.clear {clear:both; height:0; font-size:0; line-height:0; overflow:hidden;}
.cle:after, .clearfix:after, .clear_f:after, .cle_float:after{visibility:hidden; display:block; font-size:0; content:'\20'; clear:both; height:0;}
.cle, .clearfix, .clear_f, .cle_float{*zoom:1}
.fl {float:left;}
.fr {float:right;}

/*字体图标*/
@font-face{font-family:"iconfont";font-display: block;
src:url("/yohohk/img/font/iconfont.eot");
src:url("/yohohk/img/font/iconfont.eot?#iefix") format("embedded-opentype"),
    url("/yohohk/img/font/iconfont.ttf") format("truetype"),
    url("/yohohk/img/font/iconfont.woff") format("woff"),
    url("/yohohk/img/font/iconfont.svg#svgFontName") format("svg");
}
.iconfont{font-family:"iconfont"; font-size:100%;}


.red{color: #c03;}
.green{color: #298808;}
.pink, a.pink, a.pink:hover{color: #f37;}
.gray, a.gray, a.gray:hover{color: #999;}

#main{ width:1008px; margin:30px auto 50px;}

/*头部*/
#header{ width:100%; }

#header .hd_bar{background-color: #222; height:57px;}
.hd_bar .bd{ padding-left: 182px; width:826px; height:57px; margin:0 auto; position: relative; z-index: 100;} 
.hd_bar .hd_lbar{ float:left; padding-left: 6px;}
.hd_bar .hd_lbar a{ display: inline-block; height: 17px; line-height: 17px; color:#eee; padding:20px 12px; background-color: #222; vertical-align: top;}
.hd_bar .hd_lbar a:hover{background-color: #444; color:#fff; text-decoration: none;}
.hd_bar .hd_lbar .iconfont{margin-right:5px; color: #666; vertical-align: top;}
.hd_bar .level{font-family: \5b8b\4f53; color: #bf001a; margin-left: 5px; font-size: 12px;}
.hd_bar .hd_rbar{ float: right; width: 300px; color:#eee; text-align: right;}
.hd_bar .hd_rbar a{display: inline-block; height: 57px; line-height: 57px; color:#eee; padding:0 12px; background-color: #222;}
.hd_bar .hd_rbar a:hover{background-color: #444; color:#fff; text-decoration: none;}

#header .logo{position: absolute; top: 0; left: 0;}
#header .logo a{display: block; width: 153px; height: 0; padding-top: 60px; overflow: hidden; background:rgb(0,173,238) url(/yohohk/img/logo.png) center 0px no-repeat;}
.hd-step{float: right; width: 484px; padding-top: 18px;}
.hd-step li{float: left; width: 116px; height: 28px; color: #bbb; background:url(/yohohk/img/page-step-bg.png) 0 0 no-repeat; font-size: 14px; position: relative;}
.hd-step li em{font-weight: bold; font-size: 16px; color: #fff; padding:0 12px 0 8px; font-family: arial; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
.hd-step li i{position: absolute; top: 23px; left: 50%; width: 0; height: 0; overflow: hidden; border-width: 8px; border-style: solid; border-color: #222 #222 #f8f8f8 #222; display: none;}
.hd-step li.first{width: 102px;}
.hd-step li.first em{padding-left: 7px;}
.hd-step li.jt{width:72px; background-position: center -141px;}
.hd-step li.on{background-position: 0 -33px;}
.hd-step li.on i{display: block;}

/*用户悬浮导航*/
.hd_bar .hd_lbar a.hover{background-color: #444; color:#fff;}
.hd_bar .hd_lbar a.usernav-link{position: relative; padding-right: 25px; overflow: hidden;}
.hd_bar .hd_lbar a.usernav-link .arow{font-size: 24px; color: #fafafa; position: absolute; top: 20px; +top:15px; right: 12px; margin-right: 0;}
.usernav-bd{visibility: hidden; opacity: 0; width:150px; border:1px solid #c9c9c9; position:absolute; z-index:1100; left:0; top:72px; background:#fafafa; box-shadow: 0px 1px 5px rgba(100, 100, 100, 0.3); -webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s; transition: all .5s;}
.usernav-show{visibility: visible; opacity: 1; top:62px; }
.usernav-bd a{display: block; height: 34px; line-height: 34px; margin: 0 10px; border-bottom: 
1px dashed #e5e5e5;}
.usernav-bd a:hover{margin: 0; background-color: #ddd; border-bottom:1px solid #ddd; color: #333; text-decoration: none; padding-left:10px;}
.usernav-bd a.last{border-bottom: none;}

/*全站按钮*/
/*
.btn,
.btn-css3{display: inline-block; padding: 5px 12px; height: 16px; line-height: 16px; _line-height: 18px; border: 1px solid #337fed; border-radius: 2px; box-shadow: inset 1px 1px 0px 0px #97c4fe; font-size: 100%; color: #fff; text-shadow: 0 -1px #1570cd; background-color:#3d94f6;background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% ); background:-ms-linear-gradient( top, #3d94f6 5%, #1e62d0 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0'); background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0) ); vertical-align: middle;}
.btn-css3{padding: 0 30px; height: 34px; line-height: 34px; font-size: 14px;}

.btn:hover,
.btn-css3:hover{text-decoration: none; color: #fff; background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% ); background:-ms-linear-gradient( top, #1e62d0 5%, #3d94f6 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6'); background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #1e62d0), color-stop(100%, #3d94f6) ); background-color:#1e62d0; }

.btn:hover,
.btn-css3:active{ position:relative; top:1px; }
*/
.btn-loading,
.btn-loading:hover{border: 1px solid #ddd; box-shadow: 0px 1px 1px rgba(200, 200, 200, 0.2); text-shadow: 0 1px #fff; background:#efefef url(/images/loading.gif) 10px center no-repeat; cursor: default; color: #bbb; padding-left: 30px;}
/*
.graybtn{display: inline-block; padding: 5px 12px; height: 16px; line-height: 16px; border: 1px solid #c4c4c4; border-radius: 2px; box-shadow: 0px 1px 1px rgba(200, 200, 200, 0.3); font-size: 100%; color: #666; text-shadow: 0 1px #fff; background-color:#efefef; background-image:-webkit-linear-gradient(#f8f8f8, #e5e5e5); background-image:-moz-linear-gradient(#f8f8f8, #e5e5e5); background-image:linear-gradient(#f8f8f8, #e5e5e5); background-repeat:repeat-x; vertical-align: middle;}
.graybtn:hover{text-decoration: none; color: #666; background:#e5e5e5;}
*/
/*ok，warn, 疑问提示*/
.ok-tip,
.warn-tip,
.confirm-tip {font-size: 14px; font-weight: 400;}

.ok-tip .iconfont,
.warn-tip .iconfont,
.confirm-tip .iconfont {color: #f60; font-size: 24px; margin-right: 10px;}

.ok-tip{font-size: 22px;}
.ok-tip .iconfont{color: #298808; font-size: 26px;}

.confirm-tip .iconfont{color: #0baee4; font-size: 22px;}

/* 弹窗样式 */
.aui_inner table{width: 100%;}
.aui_loading {padding:20px 0 0; background:url(/images/loading.gif) center 0 no-repeat; text-align:center; overflow:hidden; color:#bbb;}
.aui_inner {background:#fafafa; box-shadow: 1px 1px 3px rgba(100, 100, 100, 0.3); border:1px solid #989898;}
.aui_main {vertical-align: top; }
.aui_titleBar { position:relative; border-bottom: 1px solid #fff;}
.aui_titleBar .aui_title{font-size: 20px; padding: 10px 20px; border-bottom: 1px solid #e0e0e0;}
.aui_close{ background-image: url(/yohohk/img/ico.png); background-position:0 0; top:12px; right:12px; position:absolute;text-indent: -9999px;width:24px; height:24px; overflow:hidden;  margin-right: 0;}
.aui_close:hover{ background-position:0 -24px;}
.aui_buttons { background-color:#F6F6F6; border-top:1px solid #eee;padding:6px 10px;text-align:right; }
.aui_dialog button { margin-left:15px; padding: 6px 8px; cursor: pointer; display: inline-block; text-align: center; line-height: 1; *padding:4px 6px; *height:2em; letter-spacing:2px; color: #999; border: solid 1px #ddd; border-radius: 2px; background: #eee; box-shadow: 0px 1px 1px rgba(200, 200, 200, 0.3); }
.aui_dialog button:hover{background: #f4f4f4;}

.aui_dialog button.highlight{ color: #fff; border: solid 1px #38abe4; background: #59bbec;}
.aui_dialog button.highlight:hover{background: #7accf4;}

.dialog_success{ opacity:.9; }
.dialog_success .aui_close,
.dialog_confirm .aui_close,
.dialog_warn .aui_close{display: none;}

/*登录弹窗*/
.login_dialog{width: 560px; padding:10px 20px 80px; color: #666; }
.login_dialog h5{font-size: 14px;}
.login_dialog h5 a{font-size: 12px;}
.login_dialog li.last .btn{padding: 8px 20px; font-size: 14px;}

.dialog_login .history-go{display: none; position: absolute; right: 15px; top: 25px;}
.dialog_login .history-go i{vertical-align: 1px; margin-right: 3px;}
.dialog_login .history-go:hover{text-decoration: none;}

.login_dialog .lbox{float: left; width: 340px; height: 210px; border-right: #ccc 1px solid; margin-right: 18px;}

.login_dialog span.iconfont{display: inline-block; width: 14px; padding-right: 8px; color: #bbb;}
.login_dialog input.text{width: 200px; padding:8px; height: 16px; overflow: hidden; border: 1px solid #eee; border-top-color: #ccc; margin-right: 12px; box-shadow: 0px 1px 3px rgba(200, 200, 200, 0.3) inset; color: #555; vertical-align: middle;}
.login_dialog input.text:-moz-placeholder { color: #999999; text-transform: capitalize; }
.login_dialog input.text::-moz-placeholder { color: #999999; text-transform: capitalize; opacity: 1; }
.login_dialog input.text:-ms-input-placeholder { color: #999999; text-transform: capitalize; }
.login_dialog input.text::-webkit-input-placeholder { color: #999999; text-transform: capitalize; }
.login_dialog .intl-tel-input input.text { width: 218px; height: 34px; }

.login-form{width: 280px; float: left; }
.login-form li h5 b{margin-left: 40px;}
.login-form li b a{color: #666;}
.login-form li{padding-bottom: 12px;}
.login-form li.last{padding: 10px 0 0 22px;}
.login-form li.last i.yoho-load{display: inline-block; width: 100px; height: 34px; border: 1px solid #e0e0e0; background-color: #fff; margin-left: 10px; vertical-align: top;}

/* Section Block */
.section-block {
    margin-top: 12px;
}

.section-block h4 {
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    font-weight: bold;
    border-bottom: 2px solid #e7e7e7;
    position: relative;
}

.section-block h4.title span {
    display: inline-block;
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
}
.section-block h4.title span:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #00ACEE;
    position: absolute;
    left: 0;
    bottom: -2px;
}

.section-block h4.tabs span.tab {
    display: inline-block;
    position: relative;
    margin-right: 8px;
    padding-left: 4px;
    padding-right: 4px;
    color: #777;
    cursor: pointer;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}
.section-block h4.tabs span.tab:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: transparent;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
.section-block h4.tabs span.tab:hover,
.section-block h4.tabs span.tab.on {
    color: #333;
}
.section-block h4.tabs span.tab:hover:after,
.section-block h4.tabs span.tab.on:after {
    background-color: #00ACEE;
}

.section-block .content {
    padding: 10px 0;
}

/* Social Network Icons */
.small-social-icon {
    background-image: url('/yohohk/img/small-social-icons.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.small-social-icon.facebook {
    background-position: -4px -4px;
}
.small-social-icon.google-plus {
    background-position: -32px -4px;
}
.small-social-icon.instagram {
    background-position: -60px -4px;
}
.small-social-icon.pinterest {
    background-position: -88px -4px;
}
.small-social-icon.twitter {
    background-position: -116px -4px;
}
.small-social-icon.weibo {
    background-position: -144px -4px;
}
.small-social-icon.youtube {
    background-position: -172px -4px;
}
.small-social-icon.issuu {
    background-position: -200px -4px;
}

/* Action Buttons */
.action-button,.btn,.btn-css3,.graybtn {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 6px 20px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-align: center;
    /*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);*/
    background: #00ACEE;
    border: 0;
    border-bottom: 2px solid #188FB5;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #188FB5;
    box-shadow: inset 0 -2px #188FB5;
    border-radius: 4px;
}
.action-button:hover,.btn:hover,.btn-css3:hover,.graybtn:hover {
    text-decoration: none;
    color: white;
    background-color: #0087BB;
    border-bottom-color: #006D97;
    -webkit-box-shadow: inset 0 -2px #006D97;
    box-shadow: inset 0 -2px #006D97;
}
.action-button:active,.btn:active,.btn-css3:active,.graybtn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Alternative Colors */
.graybtn {
    color:#454545;
    background: #ECF0F1;
    border-bottom-color: #DADEDF;
    -webkit-box-shadow: inset 0 -2px #DADEDF;
    box-shadow: inset 0 -2px #DADEDF;
}
.graybtn:hover {
    color: #454545;
    background-color: #CED4D8;
    border-bottom-color: #ACB2B7;
    -webkit-box-shadow: inset 0 -2px #ACB2B7;
    box-shadow: inset 0 -2px #ACB2B7;
}
.graybtn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropbtn {
    background-color: white;
    color: #666666;
    padding: 5px 10px;
    font-size: 15px;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    font-weight: 600;
    box-sizing: border-box;
    text-align: left;
    line-height: 26px;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 10px 0 0 0;
    box-sizing: border-box;
    border: 1px solid #999999;
    letter-spacing: 1px;
}
.dropdown:nth-child(n+6) {
    flex-grow: unset;
}
.dropdown:nth-child(6n) {
    border-left: 1px solid #999999;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #999999;
    padding: 5px 20px;
    text-decoration: none;
    display: block;
    font-size: 13px;
}
.dropdown-content a:hover, .dropdown-content a.hover {background-color: #f1f1f1;color: #00acee;}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn, .dropdown .dropbtn.hover {
    color: #00acee;
}
.dropdown-content a.subcategories-list-tittle {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px 5px;
    position: relative;
}
.dropdown-content a.subcategories-list-tittle:before {
    content: "";
    position: absolute;
    border-top: 1px solid #d3d3d3;
    top: 0;
    left: 10px;
    right: 10px;
}
.dropdown-content a.categories-list-tittle {
    font-size: 18px;
    font-weight: 600;
}