html{ background-color:#f8f8f8; color:#7e7e7e;}
html{
    height: 100%;
    font-size: 14px;
    letter-spacing: 1px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

header{
    /* We want the header to have a static height,
    it will always take up just as much space as it needs.  */
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}
header * {
    box-sizing: content-box;
}
.yoho-main-content{
    /* By setting flex-grow to 1, the main content will take up
    all of the remaining space on the page.
    The other elements have flex-grow: 0 and won't contest the free space. */
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
}

footer{
    /* Like the header, the footer will have a static height - it shouldn't grow or shrink.  */
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,
button,input,select,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{ font: 14px/1.5 Arial, "Microsoft JhengHei", "Microsoft YaHei", sans-serif; }
body, html {
	font-family: "微軟正黑體", 'Microsoft JhengHei',Arial,sans-serif; /*, "微軟正黑體", Microsoft JhengHei, "Roboto Sans", Helvetica, Arial */
}
address,cite,em,var,i{font-style:normal;}
ul,ol{list-style:none;}
fieldset,img{border:0;}
iframe{ display:block;}
input,textarea,button,select{font-size:100%; outline:none; resize:none;}
button{cursor: pointer;}
table{border-collapse:collapse; border-spacing:0;}
th{text-align:inherit;}
h1{font-size:18px;}
h2{font-size:14px; font-weight:bold;}
h3{font-size:14px; font-weight:400;}
h4,h5{font-size:14px; font-weight:400;}
body{margin-top: 70px;}
a{text-decoration:none; color:#333;}
a:hover{text-decoration:underline; color: #00acee;}
a:focus{outline:none;}
/*::selection {background:#f37; color:#fff;}*/
canvas {-ms-touch-action: double-tap-zoom;}

.clear {clear:both; height:0; font-size:0; line-height:0; overflow:hidden;}
.cle:after, .clearfix:after, .clear_f:after, .cle_float:after{visibility:hidden; display:block; font-size:0; content:'\20'; clear:both; height:0;}
.cle, .clearfix, .clear_f, .cle_float{*zoom:1}
.fl {float:left;}
.fr {float:right;}

/*UX图标字体库*/
/*url("http://t.tbcdn.cn/apps/e/brix/fonts/uxiconfont.woff") format("woff")*/
@font-face{font-family:"iconfont";font-display: block;
src:url("/yohohk/img/font/iconfont.eot");
src:url("/yohohk/img/font/iconfont.eot?#iefix") format("embedded-opentype"),
    url("/yohohk/img/font/iconfont.ttf") format("truetype"),
    url("/yohohk/img/font/iconfont.woff") format("woff"),
    url("/yohohk/img/font/iconfont.svg#svgFontName") format("svg");
}
.iconfont{font-family:"iconfont"; font-size:100%;}

.red{color: #c03;}
.green{color: #298808;}
.pink, a.pink, a.pink:hover{color: #f37;}
.gray, a.gray, a.gray:hover{color: #999;}

.vip-ico, .svip-ico{background:url(/yohohk/img/vip-ico.png) 0 6px no-repeat;}
.svip-ico{background-position: 0 -18px;}

#main{ width:1008px; margin:30px auto 50px; background-color: #fff; padding: 30px 20px 24px; margin-bottom: 15px;}

/*头部*/
#header{ width:100%;  position:fixed; z-index:1000;top: 0;}

#header .hd_bar{background-color: #222; height:57px;}
.hd_bar .bd{ height:57px; margin:0 auto; position: relative; z-index: 100;}
.hd_bar .hd_lbar{ float:left;margin-left: 183px; overflow: hidden; padding-left: 6px; display: none;}
.hd_bar .hd_lbar a{ display: inline-block; height: 30px; line-height: 30px; color:#eee; padding:13px 12px; background-color: #222; vertical-align: top;}
.hd_bar .hd_lbar a:hover{background-color: #666; color:#fff; text-decoration: none;}
.hd_bar .hd_lbar .iconfont{margin-right: 5px; color: #999; vertical-align: top;}
.hd_bar .level{font-family: \5b8b\4f53; color: #bf001a; margin-left: 5px; font-size: 12px;}
.hd_bar .hd_rbar{ float: right; width: 300px; color:#eee; text-align: right;}
.hd_bar .hd_rbar a{display: inline-block; height: 57px; line-height: 57px; color:#eee; padding:0 12px; background-color: #222;}
.hd_bar .hd_rbar a:hover{background-color: #444; color:#fff; text-decoration: none;}

#header .logo{position: absolute; top: 0; left: 0;}
#header .logo a{display: block; width: 182px; height: 0; padding-top: 68px; overflow: hidden; background:#00ACEE url(/yohohk/img/logo.png) center 2px no-repeat;}
.hd-step{float: right; padding-right: 20px; padding-top: 18px;}
.hd-step li{float: left; height: 28px; color: #bbb; background:url(/yohohk/img/page-step-bg.png) 0 0 no-repeat; font-size: 14px; position: relative;}
.hd-step li em{font-weight: bold; font-size: 16px; color: #fff; padding:0 12px 0 8px; font-family: arial; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
.hd-step li i{position: absolute; top: 23px; left: 50%; width: 0; height: 0; overflow: hidden; border-width: 8px; border-style: solid; border-color: #222 #222 #f8f8f8 #222; display: none;}
/* .hd-step li.first{width: 102px;} */
.hd-step li.jt{width:72px; background-position: center -141px;}
.hd-step li.on{background-position: 0 -33px;}
.hd-step li.on i{display: block;}

/*用户悬浮导航*/
.hd_bar .hd_lbar a.usernav-link{position: relative; padding-right: 24px; overflow: hidden; }
.hd_bar .hd_lbar a.usernav-link .arrow{font-size: 24px; color: #fafafa; position: absolute; right: 5px; -webkit-transition: all .5s;-moz-transition: all .5s;-ms-transition: all .5s; transition: all .5s;}
.hd_bar .hd_lbar a.usernav-link img{width: 1px; margin-right: 5px;height: 30px; vertical-align: top;}
.hd_bar .hd_lbar a.usernav-link img.svip-ico, .hd_bar .hd_lbar a.usernav-link img.vip-ico{background-position: 0;width: 30px;background-size: 29px;}
.hd_bar .hd_lbar a.usernav-link i.arrow{margin-right: 0;}
.hd_bar .hd_lbar a.usernav-link span{display: inline-block; height: 30px; overflow: hidden; vertical-align: top;}
.hd_bar .hd_lbar a.usernav-link span.ellips{width: 148px;}
.hd_bar .hd_lbar a.hover{background-color: #666; color:#fff;}
.hd_bar .hd_lbar a.hover i.arrow{-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}

.usernav-bd{visibility: hidden; opacity: 0; width:167px; border:1px solid #c9c9c9; position:fixed; z-index:1100; left:0; top:72px; background:#fafafa; box-shadow: 0px 1px 5px rgba(100, 100, 100, 0.3); -webkit-transition: opacity .5s;-moz-transition: opacity .5s;-o-transition: opacity .5s; transition: opacity .5s;}
.usernav-show{visibility: visible; opacity: 1; top:57px; }
.usernav-bd a{display: block; height: 34px; line-height: 34px; margin: 0 10px; border-bottom:
1px dashed #e5e5e5;}
.usernav-bd a:hover{margin: 0; background-color: #ddd; border-bottom:1px solid #ddd; color: #333; text-decoration: none; padding-left:10px;}
.usernav-bd a.last{border-bottom: none;}

/*全站按钮*/
/*
.btn,.btn-css3{display: inline-block; padding: 5px 12px; height: 16px; line-height: 16px; _line-height: 18px; border: 1px solid #337fed; border-radius: 2px; box-shadow: inset 1px 1px 0px 0px #97c4fe; font-size: 100%; color: #fff; text-shadow: 0 -1px #1570cd; background-color:#3d94f6;background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% ); background:-ms-linear-gradient( top, #3d94f6 5%, #1e62d0 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0'); background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0) ); vertical-align: middle;}
.btn-css3{padding: 0 30px; height: 34px; line-height: 34px; font-size: 14px;}

.btn:hover,
.btn-css3:hover{text-decoration: none; color: #fff; background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% ); background:-ms-linear-gradient( top, #1e62d0 5%, #3d94f6 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6'); background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #1e62d0), color-stop(100%, #3d94f6) ); background-color:#1e62d0; }

.btn:hover,
.btn-css3:active{ position:relative; top:1px; }
*/
.btn-loading,
.btn-loading:hover{border: 1px solid #ddd; box-shadow: 0px 1px 1px rgba(200, 200, 200, 0.2); text-shadow: 0 1px #fff; background:#efefef url(/images/loading.gif) 10px center no-repeat; cursor: default; color: #bbb; padding-left: 30px;}
/*
.graybtn{display: inline-block; padding: 5px 12px; height: 16px; line-height: 16px; border: 1px solid #c4c4c4; border-radius: 2px; box-shadow: 0px 1px 1px rgba(200, 200, 200, 0.3); font-size: 100%; color: #666; text-shadow: 0 1px #fff; background-color:#efefef; background-image:-webkit-linear-gradient(#f8f8f8, #e5e5e5); background-image:-moz-linear-gradient(#f8f8f8, #e5e5e5); background-image:linear-gradient(#f8f8f8, #e5e5e5); background-repeat:repeat-x; vertical-align: middle;}
.graybtn:hover{text-decoration: none; color: #666; background:#e5e5e5;}
*/
/*ok，warn, 疑问提示*/
.ok-tip,
.warn-tip,
.confirm-tip {font-size: 14px;}

.ok-tip .iconfont,
.warn-tip .iconfont,
.confirm-tip .iconfont {color: #f60; font-size: 24px; margin-right: 10px;}

.ok-tip{font-size: 22px;}
.ok-tip .iconfont{color: #298808; font-size: 26px;}

.confirm-tip .iconfont{color: #0baee4; font-size: 22px;}

/* 弹窗样式 */
.aui_inner table{width: 100%;}
.aui_loading {padding:20px 0 0; background:url(/images/loading.gif) center 0 no-repeat; text-align:center; overflow:hidden; color:#bbb;}
.aui_inner {background:#fff; border-radius: 10px;}
.aui_main {vertical-align: top; }
.aui_titleBar { position:relative; border-bottom: 1px solid #fff;}
.aui_titleBar .aui_title{font-size: 20px; padding: 10px 20px; border-bottom: 1px solid #e0e0e0;}
.aui_close{ background-image: url(/yohohk/img/ico.png); background-position:0 0; top:12px; right:12px; position:absolute;text-indent: -9999px;width:24px; height:24px; overflow:hidden;  margin-right: 0;}
.aui_close:hover{ background-position:0 -24px;}
.aui_buttons { background-color:#F6F6F6; border-top:1px solid #eee;padding:6px 10px;text-align:right; }
.aui_dialog button { margin-left:15px; padding: 6px 8px; cursor: pointer; display: inline-block; text-align: center; line-height: 1; *padding:4px 6px; *height:2em; letter-spacing:2px; color: #999; border: solid 1px #ddd; border-radius: 2px; background: #eee; box-shadow: 0px 1px 1px rgba(200, 200, 200, 0.3); }
.aui_dialog button:hover{background: #f4f4f4;}

.aui_dialog button.highlight{ color: #fff; border: solid 1px #38abe4; background: #59bbec;}
.aui_dialog button.highlight:hover{background: #7accf4;}

.dialog_success .aui_inner{opacity: .9;}
.dialog_success .aui_close,
.dialog_confirm .aui_close,
.dialog_warn .aui_close{display: none;}

/*登录弹窗*/
.login_dialog{width: 560px; padding:0px 25px 80px; color: #666; }
.login_dialog h5{font-size: 14px;}
.login_dialog h5 a{font-size: 12px;}

.dialog_login .history-go{display: none; position: absolute; right: 15px; top: 25px;}
.dialog_login .history-go i{vertical-align: 1px; margin-right: 3px;}
.dialog_login .history-go:hover{text-decoration: none;}

.login_dialog .lbox{float: left; width: 340px; height: 210px; border-right: #ccc 1px solid; margin-right: 18px;}

.login_dialog span.iconfont{display: inline-block; width: 14px; padding-right: 13px; color: #fff; font-size: 110%}
.login_dialog input.text{width: 388px; height: 54px; overflow: hidden; padding-left: 10px; border: 1px solid #eee; color: #000; font-size: 22px; vertical-align: middle;}
.login_dialog input.text:-moz-placeholder { font-weight: bold; font-size: 14px; color: #b3b3b3; text-transform: capitalize; }
.login_dialog input.text::-moz-placeholder { font-weight: bold; font-size: 14px; color: #b3b3b3; text-transform: capitalize; opacity: 1; }
.login_dialog input.text:-ms-input-placeholder { font-weight: bold; font-size: 14px; color: #b3b3b3; text-transform: capitalize; }
.login_dialog input.text::-webkit-input-placeholder { font-weight: bold; font-size: 14px; color: #b3b3b3; text-transform: capitalize; }
.login_dialog input.text:disabled {
	background-color: #e6e6e6;
}
.login_dialog .intl-tel-input input.text { width: 400px; height: 55px; padding-left: 74px;}

.login-form{width: 400px; float: left; }
.login-form li h5 b{margin-left: 40px;}
.login-form li b a{color: #666;}
.login-form li{padding-bottom: 20px;}
.login-form .last{padding-bottom: 10px;}
#register-form li{padding-bottom: 10px;}
#register-form .last_one{padding-bottom: 0px;}
.login-form li.last i.yoho-load{display: inline-block; width: 100px; height: 34px; border: 1px solid #e0e0e0; background-color: #fff; margin-left: 10px; vertical-align: top;}
.login-form .checkbox_li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.login-form .intl-tel-input .country-list {
	left: 0px;
	top: 50px;
	width: 400px;
	box-shadow: none;
	margin: 0px;
	border: 1px #eee solid;
	height: 400px;
	max-height: 400px;
}

.login-form .intl-tel-input .country-list .country {
	padding: 7.5px 10px;
	font-size: 14px;
	font-weight: bold;
	color: #4d4d4d;
	font-family: 'regular';
}

.login-form .intl-tel-input .flag-container {
	border-right: 1px #eeeeee solid;
	z-index: 3;
	margin: 5px 0px;
	padding: 0px;
}

.login-form .intl-tel-input .selected-flag {
	top: -4px;
	height: 53px;
	width: 67px;
	padding: 0px;
}

.login-form .intl-tel-input .selected-flag .iti-flag {
	left: 11px;
}

.login-form .intl-tel-input .selected-flag .arrow {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 9px solid #999999;
	right: 13px;
	top: 25px;
}

.login_dialog li.last .btn,  .dialog_verify .verify_btn {
	border-bottom: 0px;
	border-radius: 0px;
	box-shadow: none;
	padding: 0px;
	width: 398px;
	font-size: 16px;
	font-weight: bold;
	height: 58px;
	line-height: 58px;
	border: 1px #00ACEE solid;
}

.login_dialog li.last_one {
	border: 1px #00ACEE solid;
	padding: 0px;
	height: 58px;
	line-height: 58px;
	width: 398px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #00ACEE;
	cursor: pointer;
}

.login_dialog .forget_password, .dialog_verify .verify_later_btn {
	display: inline-block;
	margin-top: 20px;
	width: 400px;
	color: #9b9b9b;
	text-align: center;
	font-weight: bold;
}

.login_dialog li.last .btn:hover, .login_dialog li.last_one:hover {
	color: white;
	background-color: #015ea7;
	border: 1px #015ea7 solid;
}

.login_dialog .logo, .register_dialog .logo {
	text-align: center;
}

.login_dialog img, .register_dialog img {
	width: 120px;
	margin: 30px 0px;
}

.login_dialog .login_icon{
	width: 20px;
	height: 20px;
	position: relative;
	bottom: 2px;
	margin: 0px 8px 0px 0px; 
}

.login_dialog input:focus {
	border: 1px #00acee solid!important;
}
.login_dialog input.empty:-moz-placeholder { color: #fd495c; }
.login_dialog input.empty::-moz-placeholder { color: #fd495c; }
.login_dialog input.empty:-ms-input-placeholder { color: #fd495c; }
.login_dialog input.empty::-webkit-input-placeholder { color: #fd495c;}
.login_dialog .read_agree_text, .login_dialog .tos_text, .login_dialog .privacy_text {
	font-size: 12px;
	color: #999999;
	font-weight: bold;
}
.login_dialog .tos_text, .login_dialog .privacy_text{
	color: #4d4d4d;
}

.aui_header {
	display: none;
}

#agree_checkbox {
	display: none;
}

#agree_checkbox + label {
	background-color: #fff;
	border-radius: 0px;
	border: 1px #eee solid;
	width: 17px;
	height: 17px;
	display: inline-block;
	position: relative;
	top: 5px;
	margin-right: 5px;
}

#agree_checkbox:checked + label:after {
	content: "\2714";
	position: absolute;
	left: 2px;
	bottom: -1px;
}

.login_dialog .tos_text, .login_dialog .privacy_text {
	cursor: pointer;
}

.dialog_register .box {
	position: absolute;
	background-color: #fff;
	width: 500px;
	height: 700px;
	top: 0px;
	z-index: 5;
	overflow-y: scroll;
	display: none;
}

.dialog_register .box .trig {
	position: absolute;
	right: 18px;
	top: 22px;
}

.dialog_register .box h2 {
	font-size: 24px;
	font-weight: bold;
	margin: 12px;
}

.dialog_register .box .line {
	height: 1;
	overflow: hidden;
	background-color: #fff;
	border-top: 1px solid #d9d9d9;
}

.dialog_register .box .xieyi-bd {
	padding: 12px 22px;
}

.dialog_register .reference_li {
	display: none;
}
.st0 {
	fill:none;
	stroke:#FFFFFF;
	stroke-width:4.158;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
	width: 20px;
	height: 20px;
	position: relative;
	bottom: -2px;
	margin: 0px 7px 0px 0px; 
}

.dialog_verify .login_dialog .verify_code {
	width: 268px;
}

.dialog_verify .login_dialog .send_btn {
	display: inline-block;
	height: 56px;
	width: 120px;
	background-color: #e2f4f8;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	line-height: 56px;
	color: #00acee;
	cursor: pointer;
	text-decoration: none;
}

.dialog_verify .login_dialog .disabled{
	background-color: #e6e6e6;
	cursor: not-allowed;
	color: #fff;
}
/* Section Block */
.section-block {
  margin-top: 12px;
}

.section-block h4 {
  font-size: 16px;
  height: 28px;
  line-height: 28px;
  padding: 0;
  font-weight: bold;
  border-bottom: 2px solid #e7e7e7;
  position: relative;
}

.section-block h4.title span {
  display: inline-block;
  position: relative;
  padding-left: 4px;
  padding-right: 4px;
}
.section-block h4.title span:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #00ACEE;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.section-block h4.tabs span.tab {
  display: inline-block;
  position: relative;
  margin-right: 8px;
  padding-left: 4px;
  padding-right: 4px;
  color: #777;
  cursor: pointer;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}
.section-block h4.tabs span.tab:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: transparent;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
}
.section-block h4.tabs span.tab:hover,
.section-block h4.tabs span.tab.on {
  color: #333;
}
.section-block h4.tabs span.tab:hover:after,
.section-block h4.tabs span.tab.on:after {
  background-color: #00ACEE;
}

.section-block .content {
  padding: 10px 0;
}

/* Social Network Icons */
.small-social-icon {
  background-image: url('/yohohk/img/small-social-icons.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.small-social-icon.facebook {
  background-position: -4px -4px;
}
.small-social-icon.google-plus {
  background-position: -32px -4px;
}
.small-social-icon.instagram {
  background-position: -60px -4px;
}
.small-social-icon.pinterest {
  background-position: -88px -4px;
}
.small-social-icon.twitter {
  background-position: -116px -4px;
}
.small-social-icon.weibo {
  background-position: -144px -4px;
}
.small-social-icon.youtube {
  background-position: -172px -4px;
}
.small-social-icon.issuu {
  background-position: -200px -4px;
}

/* Action Buttons */
.action-button,.btn,.btn-css3,.graybtn,#__paymentButton {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 6px 20px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-align: center;
    /*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);*/
    background: #00ACEE;
    border: 0;
    border-bottom: 2px solid #188FB5;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #188FB5;
    box-shadow: inset 0 -2px #188FB5;
    border-radius: 4px;
}
.action-button:hover,.btn:hover,.btn-css3:hover,.graybtn:hover,#__paymentButton:hover {
    text-decoration: none;
    color: white;
    background-color: #0087BB;
    border-bottom-color: #006D97;
    -webkit-box-shadow: inset 0 -2px #006D97;
    box-shadow: inset 0 -2px #006D97;
}
.action-button:active,.btn:active,.btn-css3:active,.graybtn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Alternative Colors */
.graybtn {
    color:#454545;
    background: #ECF0F1;
    border-bottom-color: #DADEDF;
    -webkit-box-shadow: inset 0 -2px #DADEDF;
    box-shadow: inset 0 -2px #DADEDF;
}
.graybtn:hover {
    color: #454545;
    background-color: #CED4D8;
    border-bottom-color: #ACB2B7;
    -webkit-box-shadow: inset 0 -2px #ACB2B7;
    box-shadow: inset 0 -2px #ACB2B7;
}
.graybtn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.quotation {
  text-align: right;
  margin-bottom: 20px;
}
.send_quotation{
  margin-bottom: 100px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.send_quotation_note{
  margin-bottom: 30px;
}
.send_quotation_note span{
  font-size: 20px;
  color: #c03;
}
.quotation_ul{
  width:100% !important;
}

.quotation_ul label {
  width: 120px!important;
  text-align: left !important;
}
.hd-step .on>em {
  background: #00acee;
  border-radius: 50%;
  padding: 4px 8px;
  margin-right: 5px;
}

.cart_content>div{
  margin-top: 10px;
  float: left;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page_alert {
    color: #ef4862;
    box-sizing: border-box;
    border: 1px solid;
    padding: 0 15px;
    font-weight: 600;
    font-size: 18px;
    background: white;
    margin: 10px 0;
    overflow: hidden;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
    /*padding-bottom: 20px;*/
    /*height: 95px;*/
}
.alert_item {
    padding: 10px 0 0 0;
    height: 65px;
    margin-bottom: 15px;
}
.alert_item i {
    font-size: 25px;
    padding-right: 5px;
}

.alert_item .content > a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 15px;
    color: #2d2a26;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 45px;
}
.alert_item .content {
    padding-left: 32px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0 !important;
}
.alert_item:nth-child(N+2) {
    display: none;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    margin-bottom: 15px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    padding: 10px 20px 0;
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.dropbtn {
    background-color: white;
    color: #666666;
    padding: 5px 10px;
    font-size: 15px;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    font-weight: 600;
    box-sizing: border-box;
    text-align: left;
    line-height: 26px;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 10px 0 0 0;
    box-sizing: border-box;
    border: 1px solid #999999;
    letter-spacing: 1px;
}
.dropdown:nth-child(n+6) {
    flex-grow: unset;
}
.dropdown:nth-child(6n) {
    border-left: 1px solid #999999;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #999999;
    padding: 5px 20px;
    text-decoration: none;
    display: block;
    font-size: 13px;
}
.dropdown-content a:hover, .dropdown-content a.hover {background-color: #f1f1f1;color: #00acee;}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn, .dropdown .dropbtn.hover {
    color: #00acee;
}
.dropdown-content a.subcategories-list-tittle {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px 5px;
    position: relative;
}
.dropdown-content a.subcategories-list-tittle:before {
    content: "";
    position: absolute;
    border-top: 1px solid #d3d3d3;
    top: 0;
    left: 10px;
    right: 10px;
}
.dropdown-content a.categories-list-tittle {
    font-size: 18px;
    font-weight: 600;
}