/* Category Menu default visible */
.hd_nav .main_cata {
  height: 360px;
  display: block;
  opacity: 1;
  filter: Alpha(opacity=100);
}

/* Navigation Bar Sale style */
/* .hd_nav {
  margin-right: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.hd_nav .sale_nav {
  margin-right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
} */

/* Slideshow */
.index-banner {
  width: 100%;
  position: relative;
  height: 360px;
}
.index-slide {
  max-width: 800px;
  min-width: 700px;
  position: relative;
  margin-right: 330px;
  margin-left: 200px;
  background: url(/images/loading_yoho.gif) center center no-repeat;
  height: auto;
}
.index-slide ul {
  overflow: hidden;
}
.index-slide li {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  max-height: 360px;
  max-width: 800px;
  width: 100%;
}
.index-slide li:first-child {
  z-index: 2;
}
.index-slide li .bg {
  overflow: hidden;
}
.index-slide li .bd {
  overflow: hidden;
}

.index-slide img {
  width: 100%;
  height: auto;
  max-height: 360px;
  max-width: 800px;
}

.index-banner .switchable-triggers {
  position: absolute;
  padding: 0 330px 0 230px;
  bottom: 6px;
  left: 0;
  right: 0;
  z-index: 10;
}
.index-banner .switchable-triggers li {
  display: inline-block;
  margin-left: 6px;
  padding: 2px 6px;
  font-size: 12px;
  color: #333;
  background-color: white;
  cursor: pointer;
}
.index-banner .switchable-triggers li.current {
  color: white;
  background-color: #00acee;
}

/* Blocks on the right side of index slides */
.index-side-blocks-container {
  position: relative;
  z-index: 20;
}
.index-side-blocks {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  text-align: left;
  width: 330px;
  height: 360px;
  background: white;
}
.index-side-block {
  display: block;
  overflow: hidden;
}

/* index page tiitle */
.index-tittle {
    border: 1px solid #eee;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}
.index-tittle > img {
  padding-right: 5px;
  width: 30px;
  height: 30px;
}

/* today flashdeal */
.index-todayFlashdeal > .index-tittle{
   color: white;
   background-color: #ffd800;
}
.index-todayFlashdeal {
    border: 1px solid #ffd800;
    border-radius: 4px;
    float: left;
    margin: 6px 0;
    width: 100%;
}
.index-todayFlashdeal .scrollable-item {
  display: inline-block;
  font-size: 13px;
  white-space: normal;
  vertical-align: top;
  width: 18%;
  padding: 10px;
}

.index-session{
  float: left;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
}

.index-session .tittle {
  color: white;
  font-size: 16px;
  font-weight: 600;
  float: left;
  width: 10%;
  margin-bottom: -2px;
  text-align: left;
  padding: 7px 5px 7px 15px;
  letter-spacing: 1px;
}

.index-session > .header {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}

/* Ranking */

.index-ranking .ranking {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.index-ranking .tittle{
  border-left: 4px solid #e77005;
  color: #e77005;
  font-size: 20px
}
.index-ranking .rank-left {
  float:left;
  width:16%;
}
.index-ranking .rank-left > div {
  border: 1px solid #eee;
  font-size: 16px;
  color: #7e7e7e;
  float: left;
  width: 98%;
  cursor: pointer;
  /* -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; */
  margin-bottom: 5px;
}
.index-ranking .rank-left > div.active {
  width: 100%;
  padding-right: 8px;
}
.index-ranking .rank-left > div.active > a {
  color: white!important;
}
.index-ranking .rank-left > div > a {
  color: white;
}

.index-ranking .rank-left > div:hover > a {
  text-decoration: none;
}
.index-ranking .rank-content {
  transition: all 2s;
  opacity: 0;
  padding: 0px 20px;
}
.index-ranking .rank-left > div > a {
  margin-left: 12px;
  line-height: 38px;
}
.index-ranking .rank-right {
  float: right;
  width: 83%;
  border: 1px solid transparent;
  /* -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; */
  padding: 5px 0;
  border-left: 4px solid;
}
.index-ranking ul.mini-product-list > li .rank{
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 40px;
}
.index-ranking ul.mini-product-list > li:first-child .rank {
  background-image: url(/yohohk/img/rank_1.png);
}
.index-ranking ul.mini-product-list > li:nth-child(2) .rank {
  background-image: url(/yohohk/img/rank_2.png);
}
.index-ranking ul.mini-product-list > li:nth-child(3) .rank {
  background-image: url(/yohohk/img/rank_3.png);
}

/* cat-session */
.index-cat-session > .header {
  position: relative;
}
.index-cat-session .hot-subcat {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
.index-cat-session .hot-subcat>a {
  padding: 3px 9px;
  float: left;
  margin: 5px;
  border: 2px solid transparent;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.7;
}
.index-cat-session .hot-subcat>a:hover {
  text-decoration: none;
  opacity: 0.8;
}
.index-cat-session .hot-subcat>a.active {
  opacity: 1;
}

.index-cat-session .index-cat-content, .index-flashdeal .index-cat-content {
  margin: 20px 0 10px 0;
  float: left;
  width: 100%;
}

/* Tags */
.tags-block a.tag {
  display: inline-block;
  color: #666;
  background-color: #eee;
  margin: 2px;
  padding: 4px 12px;
  border-radius: 4px;
  -webkit-transition: color .2s, background-color .2s;
  -moz-transition: color .2s, background-color .2s;
  -o-transition: color .2s, background-color .2s;
  transition: color .2s, background-color .2s;
}
.tags-block a.tag:hover {
  color: white;
  background-color: #00acee;
  text-decoration: none;
}

/* Blog Posts */
.blog-post-block .scrollable-inner {
  padding-bottom: 4px;
}
.blogpost-link:hover {
  color: inherit;
  text-decoration: none;
}
.blogpost-image {
  width: 200px;
  height: 112px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px #eee solid;
  border-radius: 4px;
}
.blogpost-title {
  color: #333;
  font-size: 13px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 2px;
  line-height: 17px;
  height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.blogpost-preview {
  color: #777;
  font-size: 12px;
  line-height: 16px;
  max-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.blogpost-date {
  color: #333;
  font-size: 11px;
  text-align: right;
}
.blogpost-author {
  color: #333;
  font-size: 11px;
  text-align: right;
}
.blogpost-author a {
  color: #00acee;
}

/* Newsletter Registration */
.reg-email-block {
  background-color: #21c0a0;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.reg-email-block .title {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  text-transform: uppercase;
}
.reg-email-block .input-wrap {
  margin-left: 20px;
  display: inline-block;
  background-color: white;
  height: 40px;
  vertical-align: middle;
}
.reg-email-block input {
  width: 240px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin: 5px 10px;
  outline: none;
  border: none;
  background: none;
  vertical-align: middle;
}
.reg-email-block button.action-button {
  margin-left: 20px;
  vertical-align: middle;
  text-transform: uppercase;
}
/* Ad */
.index-content-ads {
  float: left;
  width: 100%;
  margin: 20px 0 5px;
}
.index-content-ads.cat-ads {
  margin-top: 0px;
  margin-bottom: 20px;
}
.index-content-ads img {
  width: 100% !important;
}
.index-ad-box {
  float: left;
  width: 34%;
}
.index-ad-box:last-child {
  width: 32%;
}

.index-flashdeal .tittle {
  background: #FFB339;
  /* background-image: url(/yohohk/img/flashdeal_logo.png); */
  background-repeat: no-repeat;
  padding-left: 30px;
  background-size: 25px;
  background-position: 0px 5px;
  width: 100%;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  display: block;
  position: relative;
  float: none;
  font-weight: 900;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
}
span.flashdeal_logo {
  background-image: url(/yohohk/img/flashdeal_logo_white.png);
  background-size: 25px;
  /* background-position: 0px 0px; */
  padding-left: 25px;
  background-repeat: no-repeat;
}
.index-session.index-review {
  width: -webkit-calc(100% - 530px);
  width:    -moz-calc(100% - 530px);
  width:      -o-calc(100% - 530px);
  width:      calc(100% - 530px);
  box-sizing: border-box;
  /* border: 1px solid #f5f5f5; */
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  padding: 5px 20px;
  height: 80px;
  margin-top: 15px;
}
blockquote.quote-card {
  float: left;
  width: 65%;
  position: relative;
  margin-left: 5%;
  display: none;
}
.review-right {
  float: right;
  height: 35px;
  width: 20%;
  text-align: right;
  line-height: 30px;
  display: none;
  position: relative;
  margin-right: 40px;
  margin-top: 32px;
  letter-spacing: 0px;
}
.review-user img {
  display: inherit;
  width: 30px;
  margin-right: 5px;
  height: 30px;
  vertical-align: middle;
}
.facebook .review-user img {
  border-radius: 50%;
}
.facebook .review-rating{
  background: #3b5998;
  color: white;
  font-size: 13px;
  padding: 1px 5px;
  border-radius: 5px;
}
.facebook .quote-card:after, .facebook .quote-card:before {
  color: rgba(66, 103, 178, 0.4);
}
.google .quote-card:after, .google .quote-card:before {
  color: rgba(231, 112, 28, 0.4);
}
.google .review-rating{
  background: #e7701c;
  color: white;
  font-size: 13px;
  padding: 1px 5px;
  border-radius: 5px;
}
.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 2.5em;
  color: #e3e3e3;
  font-weight: normal;
}
.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  top: 25px;
  line-height: 100px;
  right: 0;
  font-size: 50px;
  color: #e3e3e3;
  font-weight: normal;
}
p.review-content {
  margin-top: 10px;
  margin-left: 15px;
  color: #564343;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
}

.index-session.index-review:before, .index-session.index-review:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 90%;
  background: #ececec;
  margin: auto;
  left: 0;
  right: 0;
}
.index-session.index-review:after {
  bottom: 0px;
}
.index-session.index-review:before {
  top: 0px;
}
.index-session.index-flashdeal {
  margin-top: 10px;
}
.index-main .flashdeal-block {
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.index-main {
  float: left;
  width: 100%;
  background: white;
}