/**
* list.css
* 產品列表
**/

/* 分類目錄 */
.cat-menu a {
  display: block;
}
.cat-menu a:hover {
  text-decoration: none;
}
.parent-cat-menu {
	float: left;
	width: 100%;
}

.cat-menu a.cat-menu-parent {
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  padding: 4px 0;
  float: left;
  width: 70%;
}
a.display-cat {
  float: right;
  padding: 10px 0;
}
.cat-menu a.cat-menu-parent i.category-icon {
  font-size: 2em;
  vertical-align: middle;
}
.cat-menu a.cat-menu-child {
  padding-left: 52px;
  line-height: 25px;
  font-size: 14px;
}
.cat-menu a.cat-menu-child.current,.cat-menu a.cat-menu-sec.current {
  background-color: #e6e6e6;
}
.cat-menu-sec {
  font-size: 15px;
  font-weight: bold;
  line-height: 26px;
  padding: 4px 0 4px 26px;
}
.cat-menu-sec > .category-icon {
  font-size: 1em;
}
.cat-menu-sec.current {
    color: #00ACEE;
}
.cat-menu-sec-box{
  overflow: hidden;
  float: left;
  width: 100%;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0px;
}
.caret.up {
  border-bottom: 4px solid;
  border-right: 4px solid transparent;
  border-top: 0px;
  border-left: 4px solid transparent;
}
/* Filter */
/* .brands-filters a {
  display: inline-block;
  font-size: 11px;
  color: #666;
  background-color: #eee;
  margin: 2px;
  padding: 4px 12px;
  border-radius: 4px;
  -webkit-transition: color .2s, background-color .2s;
  -moz-transition: color .2s, background-color .2s;
  -o-transition: color .2s, background-color .2s;
  transition: color .2s, background-color .2s;
}
.brands-filters a:hover,
.brands-filters a.current {
  color: white;
  background-color: #00acee;
  text-decoration: none;
}
.brands-filter-more {
  display: block;
  text-align: right;
  cursor: pointer;
}
.brands-filter-more:hover {
  text-decoration: none;
} */
.filter-session > div {
  border: 1px solid #f3f3f3;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 10px 0;
  float: left;
  width: 100%;
}
.filter-session > div.attr-filter-block {
  padding: 0;
}
.filter-session > div:last-child {
  border-bottom: 0;
}
.filter-session {
  float: left;
  width: 100%;
  margin: 10px 0 20px 0;
}
.brands-filter-block {
  float: left;
  width: 100%;
}
.filter-session > div .title {
  float: left;
  width: 10%;
  line-height: 50px;
  font-size: 14px;
}
.filter-session > div .content {
  float: left;
  width: 90%;
}
.brands-filters{
  float: left;
}
.brands-filter-more {
  float: right;
  margin: 10px 0 0 5px;
  cursor: pointer;
}
@media(max-width:1282px){
  .brands-filter-more {
    float: right;
    margin-right: 75px;
    cursor: pointer;
  }
}
.brands-filters > a {
  float: left;
  border-left: 0px;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #7e7e7e;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid #e7e7e7;
  border-left: 1px solid transparent;
  overflow: hidden;
  font-size: 12px;
}

@media(min-width:1325px){
  .brands-filters > a:nth-child(9n+1) {
    border-left: 1px solid #e7e7e7;
  }
  .brands-filters > a:nth-child(n+10) {
    border-top: 1px solid transparent;
  }
}
@media(max-width:1324px){
  .brands-filters > a:nth-child(8n+1) {
    border-left: 1px solid #e7e7e7;
  }
  .brands-filters > a:nth-child(n+9) {
    border-top: 1px solid transparent;
  }
}

.brands-filters > a:hover {
  color: #00acee;
  text-decoration: none;
}
.brands-filters > a.current{
  text-decoration: none;
  cursor: auto;
  border-color: #00acee;
}

.brands-filters > a > img {
  width: 100px;
  height: 50px;
}

.attr-filters {
  padding: 15px 0;
}
.attr-filters > a {
  padding: 4px 9px;
  color: #00acee;
  /* border-radius: 4px; */
  border: 1px solid #00acee;
  text-decoration: none;
}
.attr-filters > a:hover {
  background: #e7e7e7;
}
.attr-filters > a.current {
   color: white;
  background: #00acee;
}
/* Price Range Slider */
.slider-container {
  margin: 22px auto;
}

/* jQuery Range Slider */
.slider-container {
  width: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
}
.slider-container .back-bar {
  height: 10px;
  position: relative;
}
.slider-container .back-bar .selected-bar {
  position: absolute;
  height: 100%;
}
.slider-container .back-bar .pointer {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  cursor: col-resize;
  opacity: 1;
  z-index: 2;
}
.slider-container .back-bar .pointer.last-active {
  z-index: 3;
}
.slider-container .back-bar .pointer-label {
  position: absolute;
  top: -17px;
  font-size: 10px;
  background: white;
  white-space: nowrap;
  line-height: 1;
}
.slider-container .back-bar .focused {
  z-index: 10;
}
.slider-container .clickable-dummy {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slider-container .scale {
  top: 2px;
  position: relative;
}
.slider-container .scale span {
  position: absolute;
  height: 5px;
  border-left: 1px solid #999;
  font-size: 0;
}
.slider-container .scale ins {
  font-size: 9px;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 5px;
  color: #999;
  line-height: 1;
}
.slider-container.slider-readonly .clickable-dummy,
.slider-container.slider-readonly .pointer {
  cursor: auto;
}
.theme-blue .back-bar {
  height: 5px;
  border-radius: 2px;
  background-color: #eeeeee;
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0);
}
.theme-blue .back-bar .selected-bar {
  border-radius: 2px;
  background-color: #00acee;
  background-image: -moz-linear-gradient(top, #b1d1f9, #00acee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b1d1f9), to(#00acee));
  background-image: -webkit-linear-gradient(top, #b1d1f9, #00acee);
  background-image: -o-linear-gradient(top, #b1d1f9, #00acee);
  background-image: linear-gradient(to bottom, #b1d1f9, #00acee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb1d1f9', endColorstr='#ff64a8f9', GradientType=0);
}
.theme-blue .back-bar .pointer {
  width: 14px;
  height: 14px;
  top: -5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #AAA;
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0);
}
.theme-blue .back-bar .pointer-label {
  color: #999;
}
.theme-blue .back-bar .focused {
  color: #333;
}
.theme-blue .scale span {
  border-left: 1px solid #e5e5e5;
}
.theme-blue .scale ins {
  color: #999;
}

/* Category Header Image */
.category-header img {
  display: block;
  width: 1064px;
  max-width: 100%;
}

/* Simple Select */
.hidden_select_container {
  width: 0;
  height: 0;
  overflow: hidden;
  display: inline-block;
}
.simpleselect,
.simpleselect * {
  box-sizing: content-box;
}
.simpleselect {
  position: relative;
  width: 140px;
  height: 28px;
  color: #666;
  font-size: 13px;
  display: inline-block;
  margin-top: -5px;
}
.simpleselect .options {
  width: 138px;
}
.simpleselect .placeholder,
.simpleselect .options .option,
.simpleselect .options .optgroup .optgroup-label {
    padding: 4px 10px;
    line-height: 18px;
    cursor: pointer;
}
.simpleselect .options .optgroup .optgroup-label {
  cursor: default;
  font-weight: bold;
}
.simpleselect .options .optgroup .option {
  padding-left: 20px;
}
.simpleselect .placeholder,
.simpleselect .options {
  background: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.simpleselect .placeholder {
  position: relative;
}
.simpleselect .placeholder:after {
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  width: 20px;
  height: 22px;
  border: 1px solid #ddd;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0d7"; /* fa-caret-down */
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  color: #999;
}
.simpleselect .placeholder:hover {
  background: #fafafa;
}
.simpleselect .options {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
.simpleselect .options .option.active {
  background: #666;
  color: #fff;
}
.simpleselect.disabled .placeholder,
.simpleselect.disabled .placeholder:hover {
  background: #fafafa;
  color: #aaa;
  border-color: #eee;
  cursor: default;
}
.simpleselect.disabled .placeholder:after {
  opacity: .5;
}

.brand-banner>img {
  max-width: 1050px;
  width: 100%;
    /* width: 790px;
    height: 90px; */
}

/* Category Page */
.hot-cat-img {
  border: 1px solid transparent;
  width: 80px;
  margin: 10px 0;
}
a:hover .hot-cat-img {
  border: 1px solid #00acee;
}
.hot-category {
  float: left;
  width: 100%;
}
.hot-category-list {
  float: left;
  width: 100%;
}
.hot-category-item {
  float: left;
  width: 14%;
  margin: auto;
  text-align: center;
}
.hot-category-item:first-child {
  margin-left: 2%;
}
.hot-category-item a {
  float: left;
  text-align: center;
  width: 100%;
}
.hot-category-header {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 5px;
}
.hot-category-session .title {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  background: #00acee;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: -2px;
  color: white;
  padding: 7px 12px;
  width: 15%;
}
.hot-category-session {
  float: left;
  width: 100%;
  margin: 20px 0;
}
.sub-category-session {
  float: left;
  width: 100%;
  margin: 5px 0 5px 0;
}
.sub-category-item {
  float: left;
  width: 12%;
  text-align: center;
  margin: 8px 0;
}
.sub-category-item.en_us {
  height: 115px;
}
.sub-category-list {
  float: left;
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 10px 0px;
  min-height: 100px;
}
.sub-category-item>img {
  width: 60px;
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  margin-bottom: 10px;
}
.sub-category-header {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.sub-category-session .title {
  padding: 7px 12px;
  font-size: 16px;
  font-weight: 600;
  color: #7e7e7e;
  margin-bottom: -2px;
  border-left: 4px solid;
}
.product-session {
  float: left;
  width: 100%;
  margin: 10px 0;
}