/**
 * login.css
 * 
 * 登入註冊忘記密碼介面
 **/

html{background:url(/yohohk/img/login-bg.png) 0 60px repeat;}
.hd_bar .hd_rbar{width: 300px; background: #222;}
.hd_bar .hd_rbar a i{color: #999; font-size: 14px; margin-right: 4px;}
#main{margin: 15px auto 40px; width: 1038px; position: relative; overflow: hidden; height: 450px; padding-bottom: 15px;}
#footer .ft-bg{padding-bottom: 14px;}
.hide{display: none;}

.box-pic{position: absolute; top: 0; width: 500px; height: 450px; overflow: hidden;}
.box-pic .img{position: absolute; z-index: 1; widows: 100%; margin-top: 15px;}
#reg-pic{right: -500px;}
#login-pic{left: -500px;}

.box{position: absolute; top: 0; border: 1px solid #868686; background-color: #f7f7f7; width: 418px; height: 448px; box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15); }
.pwd_box {border:none; background-color: #fff;}
#login-box{right: -450px;}
#reg-box{left: -450px;}

/*.box h2,*/
.reg-form-trg a,
#find-list span.txt{background:url(/yohohk/img/login-page-bg.png) -9999px 0 no-repeat;}

.box .trig{position: absolute; right: 18px; top: 22px;}
.box .trig a{font-weight: bold;}

.box h2{font-size: 24px; font-weight: 400; margin: 12px 0 8px 22px;}
.pwd_box h2{
    text-align: center;
    margin:  16px 0px;
    color: #00ACEE;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}
/*#login-box h2{background-position: 0 6px; text-indent: -9999px;}
#reg-box h2{background-position: 0 -25px; text-indent: -9999px;}*/

.box .line{height: 1px; overflow: hidden; background-color: #fff; border-top: 1px solid #d9d9d9;}
.pwd_box .line { 
    border-top: 1px solid #00ACEE;
    margin: 0px 15px;
    height: 0px;
}
/*表单*/
.form-bd{margin:15px 20px 20px 24px; height: 202px; position: relative; overflow: hidden;}
.form-bd ul{position: absolute; width: 100%; top: 0; left: 0;}
.form-bd ul.country-list{top: auto; width: auto;}

.form input:-moz-placeholder { color: #999999; text-transform: capitalize; }
.form input::-moz-placeholder { color: #999999; text-transform: capitalize; opacity: 1; }
.form input:-ms-input-placeholder { color: #999999; text-transform: capitalize; }
.form input::-webkit-input-placeholder { color: #999999; text-transform: capitalize; }

.form li h5{font-size: 14px; color: #999;}
.form li h5 em.msg{color: #f00; display: none; font-size: 12px; margin-left: 20px;}
.form li b a{color: #666;}
.form li{padding-bottom: 12px;}
.form li.msg{color: #f00; min-height: 20px; overflow: hidden; padding-bottom: 2px; font-size: 12px;}
.form li.msg em{font-size: 14px; font-weight: bold;}
.form li span.txt{display: inline-block; width: 90px; color: #999; font-size: 14px; vertical-align: middle; text-transform: capitalize;}
.form li span.desc{display: inline-block; color: #999; font-size: 14px;}
.form li span.iconfont{display: inline-block; width: 14px; padding-right: 4px; color: #bbb;}
.form li input.text{width: 180px; padding:8px; height: 16px; overflow: hidden; border: 1px solid #eee; border-top-color: #ccc; margin-right: 8px; box-shadow: 0px 1px 3px rgba(200, 200, 200, 0.3) inset; color: #333; vertical-align: middle;}
.form li .intl-tel-input input.text{width:198px; height:34px; padding-left: 48px;}
.form li input.disabled{color: #bbb; border-color: #ddd; background: #f4f4f4; box-shadow: none;}
.form li.last{padding: 10px 0 0 64px;}
.form li.last p{margin-bottom: 10px;}
.form li.last .remember-me{margin: 0 2px 0 20px; vertical-align: -2px;}

.form li .btn-css3{padding: 10px 25px; height: 14px; line-height: 14px;}
.form li .btn-css3 img{vertical-align: -3px;}

.form li a.disabled, .form li a.disabled:hover{padding: 5px 8px; color: #bbb; border-color: #ddd; background: #f4f4f4; box-shadow: none; cursor: default; text-decoration: none;}

.form li span.tip{font-size: 20px; vertical-align: middle;}
.form li span.tip .green{color: #090;}
.form li span.tip .red{color: #f00;}

#login-form li.last{padding-left: 22px;}


/*其他登录*/
.other-form{margin-left: 24px;}
.other-form li{padding-bottom: 8px;}
.other-login{font-size: 0;}
.other-login a{margin-top: 0; vertical-align: top; margin-right:10px;}
.other-login a.bg{background:url(/yohohk/img/last-login-bg.png) 0 0 repeat-x; font-size: 14px; text-align: center; line-height: 27px; text-shadow: 0px 1px #fff; width: 90px;}
.other-login a.bg:hover{text-decoration: none;}

.ologin-more{height: 28px; overflow: hidden;}
.ologin-more span{display: inline-block; width: 48px; padding: 0; background-color: #f7f7f7; top: 0; left: 0; z-index: 10;}
.ologin-more span.show i{border: 5px dashed transparent; border-right: 5px solid #666; right: 14px;}
.ologin-more .more-bd{position: absolute; left: -200px; top: 5px; z-index: 9;}
.ologin-more .more-bd a{margin-right: 10px;}

#reg-pic .other-form{margin: 290px 0 0 32px; position: absolute; z-index: 2;}
#reg-pic .ologin-more span{background-color: #f6fbff;}

/*上次登录*/
#login-last li{padding-bottom: 15px;}
#login-last i.iconfont{margin-right:4px; color: #999; font-size: 14px;}
.has-last #login-form{left: 400px;}

/*免登录*/
.login-free{margin-left: 24px; padding: 15px 0; color: #666;}
.login-free a{font-weight: bold;}
.login-free i{margin-right:4px; color: #999;}


/*-------------------------注 册 模 块------------------------------------*/

.reg-form-trg{padding:15px 0 0; margin-left: 24px;}
.reg-form-trg a{font-size: 14px; background-position: 0 -83px; padding-left: 18px; margin-right: 20px; display: inline-block; height: 20px; line-height: 20px;}
.reg-form-trg a.on{background-position: 0 -63px;}
.reg-form-trg a:hover{text-decoration: none;}

#reg-box .form-bd{height: 360px; margin-top: 10px;}
#reg-mobile{left: 400px;}
#reg-mobile li input.text{width: 155px;}
#reg-mobile li input.code-text{width: 90px;}


/*--------------------------注 册 协 议------------------------------------------------*/
#xieyi-box{z-index: 999; right: -450px;}
#xieyi-box .trig a:hover{text-decoration: none;}
.xieyi-bd{padding:0 20px; margin: 20px 0; height: 350px; overflow-y: scroll;}
.xieyi-bd h4{color: #000;}
.xieyi-bd p{color: #666; margin-bottom: 16px;}
#privacy-box{z-index: 999; right: -450px;}
#privacy-box .trig a:hover{text-decoration: none;}

/*滚动条美化*/
.xieyi-bd::-webkit-scrollbar{ width: 10px; background-color: #f4f4f4; border: 1px solid #d1d4d8; border-right: none;}
.xieyi-bd::-webkit-scrollbar,.xieyi-bd::-webkit-scrollbar-thumb { overflow: visible; }
.xieyi-bd::-webkit-scrollbar-thumb {border: 1px solid #d3d3d3; border-right: none; background-color: #ddd;}
.xieyi-bd::-webkit-scrollbar-button { height: 0; display: block; background-color: transparent; }

/* SMS */
#sms_verify {
    z-index: 999;
    right: -1500px;
}
.form li input.text[name="verify_code"]  {
    width: 90px;
}
.form li button[name="send_verify_code"] {
    height: 35px;
}
#sms_verify li.btn-li {
    padding: 0;
}
#sms_verify li.btn-li>a:first-child {
    margin-right: 10px;
}
#sms_verify .xieyi-bd {
    overflow-y: hidden;
}
#sms_verify li.notice{color: #f00; min-height: 20px; overflow: hidden; padding-bottom: 2px; font-size: 12px;}

/*-----------------------------忘 记 密 码-------------------------------------------------------*/
#password-box {
    width: 510px; 
    right: -550px;
    font-family: Noto Sans;
    border-radius: 10px;
    letter-spacing: 0.1em;
    margin-top: 15px;
}
#password-box .trig a:hover {
    text-decoration: none;
}
#password-box .form-bd {
    height: 331px;
    margin: 0px;
}
#password-box .form-bd ul {
    width: 510px;
    text-align: center;
}
#password-box .form-bd ul.country-list {
    width: 480px;
    text-align: left;
}
#password-box .form-bd ul.country-list li {
    width: 460px;
}
#password-box .country-list .country {
    padding: 7.5px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #4d4d4d;
    font-family: 'regular';
}
#password-box .form li {
    padding-bottom: 0px;
    width: 510px;
    line-height: 22px;
    color: #00ACEE;
}
#password-box .msg {
    margin-top: 5px;
}
#password-box li.msg em {
    font-size: 12px;
    color: #EE4861;
}
.find-step {
    margin: 20px 15px;
    color: #9D9D9D;
}
.find-step li {
    float: left; 
    height: 30px;
    font-size: 14px;
    font-weight: bold;
}
.find-step li.on {
    color: #000000;
}
.find-step li em {
    color: #9D9D9D;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
}
.find-step li.on em{
    color: #fff;
    font-weight: bold;
}

.find-step li.jt{
    width: 55px;
    height: 0px;
    border: 1px solid #9D9D9D;
    position: relative;
    top: 15px;
    margin: 0px 10px;
}
.find-step li .circle{
    width: 30px;
    height: 30px;
    background: #F4F4F4;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}
.find-step li.on .circle{
    background: #00ACEE;
}
#password-box .form li input.text {
    margin-right: 0px;
    box-sizing: border-box;
    font-weight: bold;
    width: 480px; 
    height: 60px; 
    border: 1px solid #C4C4C4;
    border-top-color: #C4C4C4;
    font-size: 22px;
    padding-left: 16px;
}
#password-box input.text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: Noto Sans;
}
#password-box input.text::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    letter-spacing: 0.1em;
    opacity: 1; 
    font-weight: bold;
    font-family: Noto Sans;
}
#password-box input.text:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: Noto Sans;
}
#password-box input.text:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: Noto Sans;
}
#password-box.pwd_box .form li .intl-tel-input input.text {   
    padding-left: 80px;
}
.pwd_box .intl-tel-input .flag-container {
    border-right: 1px #eeeeee solid;
    z-index: 3;
    margin: 5px 0px;
    padding: 0px;
}
.pwd_box .intl-tel-input .selected-flag {
    top: -5px;
    height: 60px;
    width: 67px;
    padding: 0px;
}
.pwd_box .intl-tel-input .selected-flag .iti-flag {
    left: 16px;
    top: 23px;
    margin: 0px;
}
.pwd_box .intl-tel-input .selected-flag .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid #999999;
    right: 11px;
    top: 27px;
}
#password-box.pwd_box li.or {
    margin: 15px 0px;
    color: #00ACEE;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 16px;
}
#password-box.pwd_box .btn-next {
    border-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    width: 260px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin-top: 5px;
}
#password-box.pwd_box .reset_password_hints {
    font-size: 12px;
    color: #fff;
    background: #00ACEE;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px;
    line-height: 16px;
    font-weight: bold;
}
/*找回方式 选择*/
#find-list li span.txt{
    width: 150px; 
    cursor: pointer;
    margin: 15px 0px;
    font-weight: bold;
    line-height: 14px;
}
#find-list li .graybtn{display: none;}
#find-list li input.disabled{text-indent: -9999px;}
#find-list li.on{width: 100%;}
#find-list li.on .graybtn{display: inline-block;}
#find-list li.on .graybtn.clicked{display: none;}
#find-list li .loading-img{display: none; vertical-align: middle; padding: 0 12px;}
#find-list li.country{margin-left: 0; width: auto;}

#find-step2{left: 510px;}
#find-step2 .cancel{
    display: block;
    color: #999;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}
#find-step2 .find-info {
    font-size: 16px;
    font-weight: bold;
    color: #00ACEE;
    margin-top: 30px;
}
#find-step2 .last, #find-step3 .last {
    padding: 0px;
    width: 0px;
}
#find-step2 .last .btn-css3, #find-step3 .last .btn-css3 {
    border-radius: 0px;
    box-shadow: none;
    padding: 0px;
    width: 260px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    border: 1px #00ACEE solid;
    margin-top: 75px;
    margin-bottom: 15px;
}
#find-step3 .last .btn-css3 {
    margin-top: 10px;
}
#find-step2 .find-info div {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #000;
    margin-top: 20px;
    font-family: Arial, "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
}
#find-step3{left: 510px;}
#find-step3 .find-info {
    color: #00ACEE;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 25px;
}
#find-step3 input {
    margin-bottom: 15px;
}
#find-step3 .find-info {
    margin-top: -20px;
}

/*-------------------------咨 询 弹 窗------------------------------------------*/
.zixun-box{position: absolute; top: 48px; right: 0; width: 242px; padding: 20px; background-color: #fff; border: 2px solid #E8E8E8; z-index: 999; display: none; font-family: Noto Sans;}
.zixun-box i.arw{width: 0; height: 0; overflow: hidden; position: absolute; right: 136px; top: -16px; border: 8px dashed transparent; border-bottom: 8px solid #f7f7f7;}
.zixun-box .closed{position: absolute; right: 20px; top: 15px; font-size: 16px;color: #999;}
.zixun-box .closed:hover{text-decoration: none; color: #00ACEE;}
.zixun-box h5{font-size: 16px; font-weight: bold; letter-spacing: 0.1em; color: #00ACEE;text-align: center}
.zixun-box p{font-size: 14px;text-align: center;letter-spacing: 0.05em;color: #000000;font-weight: bold;font-family: Noto Sans;line-height: 19px;}
.zixun-box .zixun-qq{padding: 20px 0;}
.zixun-box .zixun-qq a{display: block; height: 40px;}
.zixun-box .zixun-qq a:hover {text-decoration: none;}
.zixun-box .zixun-qq img {
    width: 40px;
    height: 40px;
}
.zixun-box .zixun-qq .tel-no {
    background: #F0FBFF;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
    vertical-align: top;
    display: inline-block;
}