.lucky_draw_bg {
    width:750px;
    height: 1115px;
    margin: 0 auto;
    position: relative;
}

.lucky-draw-item {
    width:150px;
    height:150px;
    line-height: 40px;
    padding: 0px;
    margin-bottom: 3px;
    margin-left: 3px;
    font-size: 18px;
    font-weight: bold;
    /* border: 4px solid #00acee; */
    display: inline-block;
    overflow: hidden;
}

.lucky-draw-item-image {
    display: none;
    width:150px;
}

.lucky-draw-item-image.active {
    display: block !important;
}

.lucky-draw-item.active {
    background-color: yellow;
}

.lucky-draw-container {
    width: 493px;
    height: 493px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 382px;
    left: 128px;
    overflow: hidden;
}

.lucky-draw-container-content {
    text-align: left;
    margin-left: 9px; 
}

.lucky-draw-text-1 {
    font-size: 30px;
    color:white;
}

.lucky-draw-text-2 {
    font-size: 20px;
    color:white;
    padding-top: 16px;
}

.lucky-draw-award-image {
    width:250px;
}

#lucky_draw_error_msg {
    margin-top:10px;
    color:red;
}

/* New user profile CSS */
.lucky-draw-info-box {
    margin: 0 auto;
    margin-top:100px;
    margin-bottom:200px;
    width: 600px;
}

.lucky-draw-info-box-header {
    width:100%;
    height: 60px;
    background-color: #00ACEE;
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
    line-height: 3;
}

.lucky-draw-info-box-content {
    width:100%;
    height: 350px;
    padding:50px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
}

.lucky-draw-info-item.small {
    width:47%;
    height: 50px;
    display: inline-block;
}

.lucky-draw-info-item .item-lable{
    font-weight: bold;
    font-size: 18px;
}

.lucky-draw-info-item.small .item-lable {
    width:100%;
    display: inline-block;
}

.lucky-draw-info-item.small .item-field {
    width: 100%;
    display: inline-block;
}

.lucky-draw-info-item.full {
    width:100%;
    height: 50px;
}

.lucky-draw-info-item {
    margin-bottom:30px;
}

.lucky-draw-info-item-save-btn {
    margin-top:52px;
    display:block;
    text-align: center;
}

.lucky-draw-info-item-save-btn input{
    width:100px;
}

.lucky-draw-info-item .item-field input {
    width: 100%;
    padding: 8px 4px;
    height: 16px;
    overflow: hidden;
    border: 1px solid #ccc;
    /* margin-right: 12px; */
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    vertical-align: middle;
    border-radius: 2px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.lucky-draw-info-item-group {
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: flex;
}

/* lucky draw */
.lucky-draw-prize-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background: rgba(0,0,0,0.5);
}

.lucky-draw-prize-popup .lucky-draw-prize-popup-container {
    display: block;
    position: absolute;
    text-align: center;
    height: 540px;
    width: 1000px;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.lucky-draw-prize-popup .lucky-draw-prize-popup-container .btnCloseSplashAd {
    float: right;
    cursor: pointer;
}

.lucky-draw-prize-popup .lucky-draw-prize-popup-container .banner {
    max-height: 600px;
    width: 600px;
    height: 600px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top:206px;
    color:white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

    /* background-image: url(/data/luckydraw/lucky_draw_result_bg.gif); */
}

.btn-close-lucky-draw-pop-up {
	background-image: url(/yohohk/img/splash_ad_close.png);
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    height: 40px;
    width: 40px;
    z-index: 1;
    right: 103px;
    top: -18px;
    position: absolute;
}

.btn-close-lucky-draw-pop-up:hover {
	background-image: url(/yohohk/img/splash_ad_close_hover.png);
}

.lucky-draw-prize-popup .lucky-draw-prize-popup-container #topBannerImg {
    display: block;
    position: absolute;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lucky-draw-intro {
    max-width: 750px;
    padding-bottom: 10px;
    margin: 0 auto;
}

.lucky-draw-content-block {
    max-width: 750px;
    padding-bottom: 10px;
    margin: 0 auto;
}

.lucky-draw-notice {
    padding: 9px;
    margin: 10px 2px;
    border: 1px solid #F2276A;
    line-height: 1.2em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #F2276A;
    color: white;
    border-color: #F2276A;
}

.lucky-draw-start {
    cursor: pointer;
}

.lucky-draw-remain-block {
    border: 2px solid black;
    width:200px;
    margin: 0 auto;
    background:white;
    font-weight: bold;
    color:black;
    position: relative;
    top: -151px;
}

.lucky-draw.action-button {
    background :#0060af;
    border-bottom: 0px;
    webkit-box-shadow:none;
    box-shadow:none;
    padding-right: 60px;
    padding-left: 60px;
}

.lucky-draw.action-button:hover {
    background :#fff200;
    color:#0060af;
    font-weight: bold;
}

.action-button.lucky-draw.start-play {
    position: relative;
    top: 855px;
    left: -50%;
}

.action-button.lucky-draw.continue-shopping {
    position: relative;
    top: 2px;
    padding-right: 30px;
    padding-left: 30px;
}

.action-button.lucky-draw.start-share {
    position: relative;
    top: -119px;
    padding-right: 30px;
    padding-left: 30px;
}

.lucky-draw-tnc {
    position: relative;
    top: 1525px;
    left: -50%;
    text-decoration: underline;
    font-weight: bold;
}

.lucky-draw-tnc-detail {
    width: 100%;
    background: #4ec6dd;
    color: white;
    position: relative;
    top: -12px;
    padding-bottom: 40px;
}

.lucky-draw-share-detail {
    position: relative;
    top: -393px;
    left: -171px;
    text-decoration: underline;
    font-weight: bold;
    color:#0060af;
}

.lucky-draw-intro-button-block {
    position: absolute; 
    left: 50%;
}
