.main-wrapper {
    background: #f9f9f9;
}
.main-wrapper > .main-content {
    width: 70%;
    max-width: 900px;
    min-width: 800px;
    margin: auto;
    float: none;
    background: #ffffff;
}

.box {
    margin: 30px;
    margin-top: 15px;
    padding: 30px 0;
}
  
.box .hd {
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}

.box .hd.upload {
    margin-top: 50px;
    padding-top: 30px;
    border-top: 2px dashed #d7d7d7;
}

.box .hd-col {
    flex: 50%;
    margin: 0 45px;
}
  
.header h3 {
    width: 30%;
    color: black;
    font-size: 23px;
    line-height: 30px;
    margin: 15px auto;
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid #00acee;
    font-weight: 900;
}

.box .ctx h4 {
    font-size: 16px;
    color: #00acee;
    font-weight: 900;
    margin-bottom: 10px;
}

.box .ctx p {
    margin-bottom: 30px;
    font-size: 16px;
    color: #6d6d6d;
    font-weight: 600;
}
.box .ctx select {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgb(169, 169, 169);
    box-shadow: 0px 0px 0px rgba(200, 200, 200, 0.3) inset;
    transition: all 0.3s;
    width: 100%;
}

.uploads {
    border: 2px dashed #d7d7d7;
    float: left;
    width: 210px;
    height: 210px;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
}
  
.uploads input[type=file] {
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
  
.uploads i.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D7D7D7;
    cursor: pointer;
    z-index: 0;
}

.uploads .preview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.uploads .preview img, .uploads .preview .unable_preview {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    position: relative;
    margin-top:50%;
    transform:translateY(-50%);
}

.uploads .preview .unable_preview {
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    background: #ffffff;
    box-sizing: border-box;
}

.or_btn {
    cursor: pointer;
    width: 300px;
    text-align: center;
    color: #ffffff;
    background: #00acee;
    margin: auto;
    padding: 10px;
    font-weight: 900;
    transition: 0.5s;
    box-sizing: border-box;
    border: 1px solid #00acee;
}
.or_btn:not(.or_btn_gray):hover {
    background: #009ad6;
}
.or_btn_gray {
    color: #00acee;
    background: #ffffff;
}
.or_btn.disabled {
    cursor: not-allowed;
}