/*
** 订单提交成功，待付款页面
*/

/*订单信息*/
.trade-info{padding: 8px; position: relative;}
.trade-info h4{color: #239700; font-size: 14px;}
.trade-info h4 span{margin-left: 20px; font-size: 12px;}
.trade-info .trade-total{font-size: 16px; color: #c03; padding-top: 5px;}
.trade-info .trade-total b{font-size: 18px; color: #333;}
.trade-info .trade-total strong{font-size: 28px; font-family: arial; color: #c03;}
.trade-info .trade-total span{font-size: 12px; margin: 8px;}
.trade-intro{position: absolute; right: 8px; top: 45px; text-align: right; padding-bottom: 2px;}
.trade-intro a.trade-showbtn{ position: relative; padding-left: 26px; display: inline-block;}
.trade-intro a.trade-showbtn i{position: absolute; top: 6px; left: 10px; display: block; color: #fff; width: 0; height: 0; overflow: hidden; border-width: 6px; border-style: solid; border-color: #999 #f8f8f8 #f8f8f8 #f8f8f8;}

.trade-detail{text-align: left; position: absolute; right: 0; top: 22px; width: 304px; box-shadow: 0px 1px 3px rgba(100, 100, 100, 0.5); border: 1px solid #ccc; background-color: #fff; padding: 10px 10px 0; display: none; z-index: 100;}
.trade-detail table{width: 100%;}
.trade-detail td{padding-bottom: 8px;}
.trade-detail td.tl{width:65px; vertical-align: top; color: #999;}
.trade-detail td p{margin-top: 10px; text-align: right;}


/*余额支付*/
.balance{background-color: #e5e5e5; border-top: 1px solid #ccc; padding: 18px 20px; color: #555;}
.balance input{vertical-align: -2px; margin-right: 2px;}
.balance span em{margin-right: 12px; font-size: 16px; font-family: Arial;}
.balance span em i{font-size: 12px; _vertical-align: -2px;}
.bal-disabled{background-color: #efefef; border-top-color: #e1e1e1; color: #bbb;}
.bal-disabled span em{color: #bbb;}

/*付款银行*/
.payment_methods{border: 6px solid #ddd; padding: 15px; background-color: #fff; margin-top: 10px;}
.payment_methods h2 { border-left: 6px solid #C52E01; font-size: 14px; line-height: 14px; padding-left: 6px; }
.payment_methods .methods_info { padding-left:10px; }
.payment_methods .methods_info dt { margin:16px 0; }
.payment_methods .methods_info dt span { margin-left:16px; }
.payment_methods .methods_info dd li { float:left; margin-bottom:20px; width: 220px;}

.methods_info li .banks-bd{padding: 6px 0 0 8px; height: 44px; width: 150px; border: 1px solid #e5e5e5; overflow: hidden; cursor: pointer; background-color: #fff;}
.methods_info li .banks-bd,
.methods_info li .banks-bd input,
.methods_info li .banks-bd label{cursor: pointer;}
.methods_info li .selected{border-color: #f37;}

.methods_info label { background:url(/yohohk/img/banks-bg.png) no-repeat; display:inline-block; width:126px; height:44px; vertical-align:middle;}
.methods_info label.jiaotong { background-position:0 -300px; }
.methods_info label.gongshang { background-position:0 4px; }
.methods_info label.zhaoshang { background-position:0 -549px; }
.methods_info label.nongye { background-position:0 -498px; }
.methods_info label.jianshe { background-position:0 -249px; }
.methods_info label.zhongguo { background-position:0 -96px; }
.methods_info label.guangda { background-position:0 -347px; }
.methods_info label.zhongxin { background-position:0 -600px; }
.methods_info label.xingye { background-position:0 -196px; }
.methods_info label.minsheng { background-position:0 -649px; }
.methods_info label.guangfa { background-position:0 -700px; }
.methods_info label.youzheng { background-position:0 -45px; }

.methods_info label.pufa{ background-position:0 -400px; }
.methods_info label.shanghai{ background-position:0 -841px; }
.methods_info label.shnong{ background-position:0 -742px; }
.methods_info label.nanjing{ background-position:0 -1240px; }
.methods_info label.hangzhou{ background-position:0 -790px; }
.methods_info label.ningbo{ background-position:0 -1149px; }
.methods_info label.shenzhenfz{ background-position:0 -145px; }
.methods_info label.beijing{ background-position:0 -892px; }
.methods_info label.huaxia{ background-position:0 -1286px; }
.methods_info label.huarun{ background-position:0 -1194px; }
.methods_info label.bohai{ background-position:0 -450px; }

.methods_info label.zhifu{ background-position:-2px -992px; }
.methods_info label.shouji{ background-position:-2px -1047px; }
.methods_info label.cft{ background-position:-2px -1102px; }
.methods_info label.wyzx{background-position:6px -940px;}
.methods_info label.sft{ background-position:-2px -1323px; }

.methods_info label.zhifubaocbc{ background-position:-2px -1361px; }
/*支付方式*/
.pay-box{border: 1px solid #ccc; background-color: #fff;}
.pay-box dl{float: left; width: 180px; height: 300px; padding: 20px; border-left: 1px solid #ccc;}
.pay-box dl dt{color: #999;}
.pay-box dl dt b{font-size: 18px; font-weight: 400; color: #333; margin-right: 10px;}

.pay-box dl dd{padding-top: 6px;}
.pay-box dd li{margin-top: 15px; height: 52px; overflow: hidden; position: relative;}
.pay-box dd li .fenqi-ico{position: absolute; right: 0; top: 0; display: block; width: 62px; height: 37px; background:url(/yohohk/img/fenqipay-ico.png) 0 0 no-repeat;}
.pay-box dd li.fenqi-bank{display: none;}

.pay-box .platform{width: 350px; overflow: hidden; border-left: none;}
.pay-box .platform li .info{position: absolute; right: 0; top: 6px; width: 168px; overflow: hidden; color: #bbb;}
.pay-box .platform li .vmid{top: 14px;}

.pay-box .banks{width: 350px; padding-right: 0;}
.pay-box .banks ul{ float: left; width: 160px; margin-right: 15px;}

#other-bank{margin-right: 0;}
.other-bank-btn{padding: 10px; margin:5px 0 5px 25px; display: inline-block; font-size: 14px;}
.other-bank-btn:hover{text-decoration: none;}
.other-bank-btn i{font-size: 12px; margin-left: 5px; vertical-align: 2px;}

.pay-box .other dd p{margin-top: 15px;}
.pay-box .other dd p a.graybtn{padding: 5px 20px;}


/*去付款*/
.pay_line{ padding:20px 10px; text-align: right;}
.pay_line .btn{ padding: 14px 25px; font-size: 16px;}
.pay_line .methods_info{ padding: 7px 20px 3px; height: 36px; display: none; overflow: hidden; background-color: #fff; margin-right: 8px; vertical-align: middle;}
.pay_line .methods_info em{font-size: 16px; font-family: Arial; margin:0 2px;}
.pay_line .methods_info label{margin-left: 8px; height: 36px; position: relative; top: -2px;}


/*去付款后弹窗*/
.pay-tipwin{padding: 20px 50px;}
.pay-tipwin h3{font-weight: bold; margin-bottom: 10px;}
.pay-tipwin .btn-p{padding: 10px 0 20px;}
.pay-tipwin .btn-p a{margin-right: 20px; font-size: 14px; padding: 10px 15px;}
.pay-tipwin a.ud{text-decoration: underline;}

/*汇款弹窗*/
.dialog_huikuan{margin: -140px 0 0 -17px; _margin-left: -32px;}
.huikuan-intro {
    width: 50%;
    left: 0;
    right: 0;
    border: 1px solid #00acee;
    margin: auto;
}
.huikuan-intro h4{ font-size: 14px; font-weight: bold; margin-top: 10px;}
.huikuan-intro h4 b{margin-right: 5px;}
.huikuan-intro p{line-height: 22px; padding-left: 15px;}

/*其他银行弹窗*/
/*.dialog_otherBanks .methods_info{width: 680px;}*/
.dialog_otherBanks .methods_info{width: 530px;}
.dialog_otherBanks .methods_info li{float: left; padding:0 5px 10px;}

/*分期弹窗*/
.fenqi-qishu{width: 420px;}
.fenqi-qishu h4{padding-bottom: 10px;}
.fenqi-qishu .methods_info label.zhaoshang{height:30px; width: 96px; background-position: 0 -552px;}
.fenqi-qishu p{margin-top: 10px; padding-left: 35px;}
.fenqi-qishu p input{margin-right: 4px;}


/*充值页面*/
.toPay-tip{ padding-bottom: 25px;}
.toPay-tip strong{ font-size: 22px; color: #f60; margin-right: 20px;}


/* Braintree form */

.braintree-frame { width: 50%; margin: auto; padding: 10px; font-size: 14px; top: 0; border: 1px solid #868686; color: #999; background-color: #f7f7f7; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);}

.brain-label { text-align: left; padding: 10px 0;}

.brain-input  { background: white; height: 15px; padding: 10px; border: 1px solid #e7e7e7;}

.brain-button-container{ padding: 10px; text-align: center;}

.brain-error { text-align: left; padding: 10px 0; color: #c03; font-size: 12px;}

.cardinfo-card-number { position: relative; margin-bottom: 15px;}

.cardinfo-wrapper { display: flex; justify-content: space-around;}

.cardinfo-exp-date{ margin-right: 10px;}

.cardinfo-exp-date,.cardinfo-cvv{ width: 100%;}
.cardinfo-card-number:hover,.cardinfo-exp-date:hover,.cardinfo-cvv:hover,.cardinfo-card-number:focus,.cardinfo-exp-date:focus,.cardinfo-cvv:focus{ color: black;}

.cardinfo-card-number:hover>.brain-input, .cardinfo-exp-date:hover>.brain-input, .cardinfo-cvv:hover >.brain-input{border-color: #00ACEE;}

#card-image { position: absolute; top: 41px; right: 5px; width: 44px; height: 28px; background-image: url(/yohohk/img/card_sprite.png); background-size: 86px 458px; border-radius: 5px; background-position: -100px 0; background-repeat: no-repeat; margin-bottom: 1em;}
#card-image.visa { background-position: 0 -398px;}
#card-image.mastercard { background-position: 0 -281px;}
#card-image.amex { background-position: 0 -370px;}
#card-image.discover { background-position: 0 -163px;}
#card-image.maestro { background-position: 0 -251px;}
#card-image.jcb { background-position: 0 -221px;}
#card-image.diners-club { background-position: 0 -133px;}
.pay-btn{ opacity: 0.4}
.pay-btn:disabled,.action-button:disabled, .graybtn:disabled{cursor: no-drop;}
.show-button{ opacity: 1;}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.hidden {
    display: none!important;
}

.bt-modal-frame {
  height: 480px;
  width: 440px;
  margin: auto;
  background-color: #eee;
  z-index: 2;
  border-radius: 6px;
}

.bt-modal-body {
  height: 400px;
  margin: 0 20px;
  background-color: white;
  border: 1px solid lightgray;
}

.bt-modal-header, .bt-modal-footer {
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.bt-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}

/* stripe */

.stripe-form {
	width: 50%;
  margin: auto;
  padding: 10px;
  font-size: 14px;
  top: 0;
  border: 1px solid #868686;
  color: #999;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0)
}

.stripe-form label {
	color: #6b7c93;
	font-weight: 500;
	font-size: 14px;
	display: block;
	margin-bottom: 8px;
}

.stripe-btn {
	text-align: center;
	padding-top: 20px;
}

.stripe-cardinfo-exp-date {
	width: 100%;
	margin-right: 10px;
	text-align: left;
}

.stripe-success, .stripe-error {
	display: none;
	font-size: 13px;
}

.stripe-success.visible, .stripe-error.visible {
	display: inline;
}

.stripe-error {
  color: #E4584C;
  text-align: left;
}

.stripe-success {
	color: #666EE8;
}

.stripe-success .token {
	font-weight: 500;
	font-size: 13px;
}

.StripeElement {
	background-color: white;
	padding: 8px 12px;
	border-radius: 4px;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
	margin: 10px 0;
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--success, input.InputElement.is-complete {
	border-color: #2ae448;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}

.stripe-form #card-image{
	top:60px;
}

.stripe-month, .stripe-year {
	width: 35%;
}
.stripe-cvv {
 width: 50%;
}

.stripe-card{
	width: 96%;
}

.stripe-cvv-label{
	padding: 10px 0;
}

.stripe-cardinfo-cvv{
	width: 100%;
	text-align: left;
	margin-left: 50px;
}

/* payment_processing model */

.payment_processing{
	position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}
.p-mask{
	position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}
.p-modal-frame{
  width: 30%;
  margin: auto;
  background-color: #eee;
  z-index: 2;
  border-radius: 6px;
}
.p-modal-body{
  margin: 10px;
  background-color: white;
  border: 1px solid lightgray;
	padding: 40px;
	text-align: center;
}
div#fps {
    padding: 10px;
}

.huikuan-intro div#fps p {
    line-height: 27px;

}

.huikuan-intro.bank {
  padding: 15px 20px;
  background-color: white;
  text-align: center;
  width: 35%;
}

.huikuan-intro.bank h4 {
  margin-bottom: 15px;
}

.huikuan-intro div#banks {
  text-align: left;
  margin-bottom: 10px;
}

.or_btn {
  cursor: pointer;
  width: 300px;
  text-align: center;
  color: #ffffff;
  background: #00acee;
  margin: auto;
  padding: 10px;
  font-weight: 900;
  transition: 0.5s;
  box-sizing: border-box;
  border: 1px solid #00acee;
  display: inline-block;
}
.or_btn:hover {
  text-decoration: none;
}
.or_btn:hover {
  background: #009ad6;
  color: #ffffff;
}
.or_btn_gray {
  color: #00acee;
  background: #ffffff;
}
.or_btn_gray:hover {
  color: #00acee;
  background: #f8f8f8;
}
.or_btn.disabled {
  cursor: not-allowed;
}