/*
** 订单支付成功页面
*/
.graybtn{padding: 8px 12px;}
.pay_info{border: 4px solid #e6e7ee; background:#fff url(/yohohk/img/bg1.png) 0 bottom repeat-x; padding: 35px 170px; min-height: 200px;}
.pay_info em.red{margin: 0 10px; font-weight: bold;}
.pay_info h1{font-size: 36px; background:url(/yohohk/img/ok-ico.png) 0 center no-repeat; padding-left: 50px;}
.pay_info h1 i{font-size: 14px; font-weight: 400; margin-left: 15px;}

.pay_info .linedot{ margin: 20px -70px; height: 1px; background:url(/yohohk/img/linedot.png) 0 bottom repeat-x;}
.pay_info .jifen{font-size: 14px;}
.pay_info .jifen .num{font-size: 12px; margin: 0 20px 0 50px;}

.pay_info .task{background-color: #fff4e0; border:1px solid #f6e5c7; padding: 8px 25px; margin-top: 15px; color: #666;}
.pay_info .task h4{color: #2a9a2d; font-size: 16px; font-weight: bold; padding-bottom: 4px;}
.pay_info .task p em{color: #333; margin-right: 5px;}

.pay_help{margin-top: 10px; font-size: 0; background-color: #fff; padding: 10px 0 20px;}
.pay_help a{display: inline-block; width: 325px; height: 60px; background:url(/yohohk/img/pay_help.png) 0 0 no-repeat;}
.pay_help a.no2{background-position: 0 -60px; margin: 0 15px;}
.pay_help a.no3{background-position: 0 -120px;}

/*网站介绍*/
.intro{background-color: #fff;}
.intro .hd{ height: 84px; background:url(/yohohk/img/intro_hd.png) center -1px no-repeat; border:1px solid #e6e7ee; padding-left: 177px; font-size: 0;}
.intro .hd a{display: inline-block; width: 83px; height: 84px; margin-right: 14px; background-color: #eee; background:url(/yohohk/img/intro_hd2.png) 0 -9999px no-repeat;}
.intro .hd a.on0{background-position: -68px -1px;}
.intro .hd a.on1{background-position: -164px -1px;}
.intro .hd a.on2{background-position: -262px -1px;}
.intro .hd a.on3{background-position: -359px -1px;}
.intro .hd a.on4{background-position: -457px -1px;}
.intro .hd a.on5{background-position: -556px -1px;}
.intro .hd a.on6{background-position: -653px -1px;}
.intro .bd{ border: 1px solid #e6e7ee; border-top: none; padding-top: 1px; width: 1006px; overflow: hidden;}
.intro .bd .pic{display: none; font-size: 0;}
.intro .bd .pic img{margin-left: -1px;}