.event-notice {
    padding: 9px;
    margin: 10px 2px;
    border: 1px solid #F2276A;
    line-height: 1.2em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #F2276A;
    color: white;
    border-color: #F2276A;
}

.event-container {
    width:750px;
    margin: auto;
    margin-bottom: 50px;
}

.event-container img {
    width: 100%;
}

.event-banner img {
    margin-bottom: 30px;
}

.verify-container {
    width: 300px;
    margin: auto;
    padding: 10px;
}

.tnc-container {
    margin-top: 10px;
    width: 200px;
    margin: auto;
    padding-top: 20px;
}

.event-content p.title  {
    color: #00acee;
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 10px;
}

.verify-container p {
    color: #7e7e7e;
    padding-bottom: 10px;
}

.verify-container div.input {
    background: #f0f0f0;
    width: 100%;
    display: flex;
}

.verify-container .number-container {
    margin-bottom: 15px;
}

.verify-container div.input #area {
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid #7e7e7e;
    margin: 10px 0;
    font-size: 14px;
    padding: 3px 10px;
}

.verify-container div.input #number {
    flex: 1;
    width: 70%;
    border: none;
    background: #f0f0f0;
    margin: 0 10px;
    font-size: 20px;
    letter-spacing: 3px;
}

.verify-container div.input #verify_code {
    flex: 1;
    width: 70%;
    border: none;
    background: #f0f0f0;
    margin: 10px;
    font-size: 20px;
    letter-spacing: 3px;
    display: none;
}

.confirm-container {
    width: 350px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.confirm-container p.confirm-title {
    color: #00acee;
    font-weight: bolder;
    font-size: 30px;
}

.confirm-container span#coupon_amount {
    font-size: 80px;
    margin-right: 10px;
}

.confirm-container span#coupon_amount::before {
    content: "$";
    font-size: 45px;
    margin-right: 10px;
}

.confirm-container .min-amount {
    margin: -10px;
}

.confirm-container #coupon_code {
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    background: #e61e67;
    color: white;
    font-size: 20px;
    font-weight: 900;
    border: 3px solid black;
    box-shadow: -8px 8px #e61e67, inset -5px 5px white;
}

.confirm-container #coupon_code .code {
    font-size: 45px;
    margin-top: -10px;
    display: block;
    width: 100%;
    border: none;
    background: none;
    color: white;
    text-align: center;
    cursor: pointer;
}

.confirm-container #reminder {
    color: #424242;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 700;
}

.btn-blue, .btn-pink, .btn-orange {
    cursor: no-drop;
    display: inline-block;
    border: 1px solid #00acee;
    color: #00acee;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 600;
    transition: all .5s;
    pointer-events: fill;
}

.btn-pink {
    border: 1px solid #e61e67;
    color: #e61e67;
}

.btn-orange {
    color: white;
    background: #f6d900;
    border: 1px solid #f6d900;
    cursor: pointer;
}

.btn-blue.success {
    color: white;
    background: #00acee;
    cursor: pointer;
}

.btn-pink.success {
    color: white;
    background: #e61e67;
    cursor: pointer;
}

#error_message {
    color: red;
}

.event-info {
    position: relative;
}

.event-info #play_now {
    position: absolute;
    top: 412px;
    left: 219px;
    width: 336px;
    height: 80px;
    cursor: pointer;
}

#validate_btn {
    display: none;
}

.countdown {
    font-size: 14px;
    margin-left: 5px;
}

#shop_btn {
    padding: 15px 0;
    font-size: 25px;
    margin-top: 30px;
}

.hover-tnc {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #00000033;
    z-index: 3000;
}

.hover-tnc .hover-tnc-container {
    position: relative;
    max-width: 750px;
    width: 80%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-tnc-container .tnc-body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tnc-body img {
    max-width: 100%;
    margin: auto;
    display: inherit;
}

.hover-tnc-container i.btnCloseSplashAd {
    right: -20px;
    top: -20px;
    cursor: pointer;
}