body {
  font-size: 12px;
  font-family: Arial;
  line-height: 150%;
  color: #666;
  margin: 0;
  padding: 0;
  background: #ffffff;
  background: linear-gradient(to bottom, #f7f7f7 0%, #ffffff 100%);
  display: block;
}

div {
  margin: 0 auto;
  padding: 0;
}

h3,
ul,
li,
form {
  border: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #00ACEE;
  text-decoration: underline;
}

.block {
  width: 960px;
  height: auto;
  overflow: hidden;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

*html .clearfix {
  height: 1%;
}

.f4_b {
  color: #00ACEE;
  font-weight: bold;
}

.bnt_blue_1 {
  background: url('/themes/skin/images/bg.gif') no-repeat 0 -663px;
  width: 78px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  color: #696363;
  border: none;
  cursor: pointer;
}

.bnt_yellow {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffdca3));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffdca3 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffdca3 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffdca3 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffdca3 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffdca3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffdca3',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #ffc670;
	display:inline-block;
	cursor:pointer;
	color:#444444;
	font-size:13px;
	padding:1px 12px;
	text-decoration:none;
	height: 27px;
	line-height:23px;
	vertical-align:middle;
}
.bnt_yellow:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffdca3), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffdca3 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffdca3 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffdca3 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffdca3 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffdca3 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdca3', endColorstr='#ffec64',GradientType=0);
	background-color:#ffdca3;
}
.bnt_yellow:active {
	position:relative;
	top:1px;
}

.box {
  overflow: hidden;
}

.box_1 {
  border: 1px solid #eaeaea;
  background-color: #fff;
}

h3 {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  background: #f5f5f5;
  text-align: right;
  border-bottom: 1px solid #eaeaea;
}

h3 span {
  float: left;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #ca0809;
}

.blank {
  height: 12px;
  line-height: 12px;
  clear: both;
  visibility: hidden;
}

.blank5 {
  height: 12px;
  line-height: 12px;
  clear: both;
  visibility: hidden;
}

/*翻页*/

a:link {
  color: #666;
  text-decoration: none;
}

.layout {
  margin-left: auto;
  margin-right: auto;
}

.layout {
  border-bottom: #dedede 1px solid;
  border-left: #dedede 1px solid;
  border-top: #dedede 1px solid;
  border-right: #dedede 1px solid;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  display: block;
  height: 0px;
  clear: both;
  content: ' ';
}

.p9 {
  padding-bottom: 9px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 9px;
}

a {
  color: #797979;
  text-decoration: none;
}

.order_modes {
  
}
.order_modes a {
  display: inline-block;
  padding: 2px 6px;
  background-color: #e2e2e2;
  border: #dedede 1px solid;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.order_modes a.active {
  background-color: #fff;
}

.ShoppingList {
  margin: auto;
  clear: both;
}

.sortable {
  width: 900px;
  border-left: 1px solid #bbbecd;
  border-top: 1px solid #bbbecd;
  border-bottom: none;
  margin: 0 auto 0px;
}

.sortable th {
  color: #666;
  border: 1px solid #bbbecd;
  text-align: center;
  background: #f2f2f2;
}

.sortable th h3 {
  font-size: 12px;
  padding: 6px 8px 8px;
  text-align: center;
}

.sortable th h4 {
  font-size: 12px;
  padding: 2px;
  text-align: center;
}

.sortable td {
  color: #000;
  padding: 4px 6px 6px;
  border-bottom: 1px solid #bbbecd;
  border-right: 1px solid #bbbecd;
}

.cart_info .cart_box {
  width: 900px;
  margin: 0 auto;
}

.cart_info .cart_box .titbar {
  background: #7A7F89;
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 25px;
  color: #FFF;
}

.cart_info .cart_box  .ke-textarea {
  width: 890px;
  border: 1px solid #ccc;
  font-family: "sans serif",tahoma,verdana,helvetica;
  background-color: #F0F0EE;
  border-collapse: separate;
  padding: 4px;
  margin: 0;
  line-height: 17px;
  min-height: 51px;
}

#cart_table a.delete {
  width:16px;
  height:18px;
  background:url(/themes/skin/images/delete.gif) 0 0 no-repeat;
  display: inline-block;
}

.address_content {
  background: #FFFFFF;
  border-bottom: 1px solid #ccc;
}

.address_content_inner {
  font-size: 1.1em;
  color: #333;
  line-height: 28px;
  vertical-align: middle;
}

.address_content_inner fieldset {
  border: none;
}

.address_content_inner label {
  display: inline-block;
}

.address_content_inner .label {
  display: inline-block;
  /*line-height: 1.8;*/
  vertical-align: top;
  width: 100px;
  /* Width of labels */
  font-size: 14px;
  text-align: right;
  padding-right: 5px;
}

.address_content_inner fieldset ol {
  margin: 0;
  padding: 0;
}

.address_content_inner fieldset li {
  list-style: none;
  padding: 6px;
  margin: 0;
}

.address_content_inner fieldset li.float_l {
  float: left;
}

.address_content_inner fieldset .clear_float {
  clear: both;
  height: 1px;
  overflow: hidden;
}

.address_content_inner input.inputtext {
  font-size: 18px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #C5C5C5;
  color: #333333;
  width: 300px;
}

.address_content_inner .intl-tel-input input.inputtext {
  width: 302px;
  height: 27px;
}

.address_content_inner input.inputtext:hover {
  border: #F90 solid 1px;
}

.address_content_inner input.inputtext1 {
  width: 120px;
}

.address_content_inner th,
.address_content_inner td {
  padding: 4px;
}

.address_content_inner th {
  text-align: right;
  font-weight: normal;
}

.comfirmSubmit {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.comfirmSubmit li {
  padding: 0px;
  margin: 0px;
}

.font200{
  font-family:Impact;
  font-size:16px;
  color:#cc0000;
}

.goods_amount {
  text-align: right;
}

.productInfo {
  font-size:12px;
  border:1px solid #777777;
  text-align:center;
  background-color:#E6EAF3;
  z-index:9999999999;
  position: absolute;
  top: 187px;
  left: 50%;
  width: 270px;
  margin-left: -135px;
}
.productInfo .miniGoodsInfo {
  margin: 10px;
  text-align: left;
}
.productInfo .miniGoodsInfo .imgInfo {
  background: #fff;
  margin-bottom: 10px;
  text-align: center;
}
.productInfo .miniGoodsInfo .goods_name {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
.productInfo .miniGoodsInfo .goods_desc {
  color: #777;
  height: 57px;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.productInfo .miniGoodsInfo .goods_sn {
  margin-top: 10px;
}

.search_goods_sn {
  color: #666;
  height: 30px;
  padding-left: 10px;
  font-size: 16px;
  width: 770px;
}

.sortable input {
  text-align: center;
}

.sortable td {
  text-align: center;
}

.round {
  border-radius: 5px;
  /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */
  -moz-border-radius: 5px;
  /* Mozilla浏览器的私有属性 */
  -webkit-border-radius: 5px;
  /* Webkit浏览器的私有属性 */
  border-radius: 5px 4px 3px 2px;
  padding: 10px 5px;
  text-align: left;
  width: 892px;
  border: 2px solid #ccc;
}

div:not(#foo) input.replace_warehousing {
    opacity: 0;
    float: left;
    width: 20px;
}

div:not(#foo) input.replace_warehousing + label {
    margin: 0;
    margin-left: -20px;
    clear: none;
    padding: 5px 0 4px 24px;
    cursor: pointer;
    background: url('/yohohk/img/checkbox-off.png') left center no-repeat;
}

div:not(#foo) input.replace_warehousing:checked + label {
    background-image: url('/yohohk/img/checkbox-on.png');
}
td > img {
  float: left;
  padding-right: 5px;
  width: 35px;
  height: 35px;
}
td#payment_list>label {
  padding-right: 17px;
}
img.confirm_order_btn {
  width: auto;
}
#shipping_list>label {
  padding-right: 20px;
}
a.delete.is_auto_add {
  display: none !important;
}