html {height: 100%;overflow-y: auto;}
html, body {font-size: 20px;}
body {
  position: relative;
  font-family: 'Noto Sans HK',Arial, sans-serif;
  font-style: normal;
  line-height: 150%;
  margin: 0;
  padding: 0; 
  display: block;
  width: 100%;
  letter-spacing: 0.1rem;

  touch-action: manipulation;
  /* -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

header {
  background-color: #00ACEE;
  padding: 0.5rem 0;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

a,a:hover {color: #000000; text-decoration: none;}
ul, ol {list-style: none;padding: 0;}
input {display: block;width: 100%;padding: 0.5rem;}
label {font-size: 1.1rem; margin-bottom: 0.5rem;}

.btn, .btn:focus, .btn:focus:active, .btn.active:focus, 
button, button:focus, button:focus:active, button.active:focus
{outline: 0;border: 0;}
.error {color:#EE4861;}
.ok-tip, .warn-tip, .confirm-tip {font-size: 0.9rem;}

.display_none {display: none;}
.pre-line {white-space: pre-line;}
span.required {color: #FF0000;}

/*** scrollbar style ***/
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {border-radius: 5px;}
::-webkit-scrollbar-thumb {background: #C4C4C4;border-radius: 5px}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.icon {
  background-color: #009BDF;
  border-radius: 50%;
  padding: 0.35rem;
  color: #FFFFFF;
}

.edit-icon {width: 1.5rem; height: 1.5rem;}

.pos-button {
  background: #00ACEE;
  border-radius: 0.5rem;
  color: #FFFFFF;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 0 1.5rem;
}
.input-inside-btn {position: relative;}
.input-inside-btn input {
  padding-right: 4rem;
  border: none;
  border-radius: 0.5rem;
}
.input-inside-btn button{
  position: absolute;
  height: 2rem;
  width: 3.5rem;
  padding: 0;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}

/*** tab button ***/
.tab-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

input[type=radio].tab-button-rb {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.tab-button-label {
  text-align: center;
  border: 0;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  margin-bottom: 0;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}

.tab-button-rb:checked + .tab-button-label {
  background-color: #007DCA;
  color: #FFFFFF;
}

/*** tag label ***/
.tag-label {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: #EE4861;
  color: #FFFFFF;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}

.tag-label.has-require-goods {background-color: #00ACEE;}

/** select radio **/
.select-radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 1.75rem;
  height: 1.75rem;
  margin: 0;
}

.select-radio-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0 !important;
  cursor: pointer;
}

.select-radio-style{
  display: block;
  position: absolute;
  border: 1px solid #C4C4C4;
  border-radius: 100%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  margin: 0;
}

/*** goods list table ***/
.goods-table::-webkit-scrollbar {width: 0.8rem;}
.goods-table::-webkit-scrollbar-track {background: #F4F4F4;}
.goods-table::-webkit-scrollbar-thumb {background: #00ACEE;}

.goods-table {max-height: 17.5rem;overflow-y: auto; margin-bottom: 1.75rem;}
.goods-table table {margin-bottom: 0;}
.goods-table table caption {
  font-weight: bold;
  font-size: 	1.1rem;
  color: #000000;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}
.goods-table table thead tr {background-color: #F4F4F4;}
.goods-table table thead tr.blue-tr {background-color: #00ACEE;color: #FFFFFF;}
.goods-table table thead tr th {border: 1px solid #F4F4F4; text-align: center; vertical-align: middle;}
.goods-table table thead tr td:first-child,
.goods-table table thead tr th:first-child {width: 50%;padding: 0.5rem 1rem; text-align: left;}
.goods-table table thead tr th:not(:first-child):not(:last-child) {
  width: 12.5%;
  white-space: nowrap;
  padding: 0.5rem 0;
}
.goods-table table thead tr th:last-child {width: 10%;}
.goods-table > table > tbody > tr {border: 1px solid #F4F4F4;}
.goods-table > table > tbody > tr > td {vertical-align: middle;}
.goods-table > table > tbody > tr > td:not(:first-child) {text-align: center; border-left: 1px solid #E6E6E6;}

.goods-table tbody td.goods-name {display: flex;align-items: center;}
.goods-table tbody td input {text-align: center; font-weight: bold;}
.goods-table tbody td input:read-only{border: 0;}
.goods-table tbody td input:read-only:focus {outline: none;}
.goods-table tbody td img {width: 3.25rem; height: 3.25rem;}

.goods-table tbody td .icon {
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.goods-table tbody td .icon.display_none {display: none;}

.goods-table tr.stocks-inquiry { border: 0;}
.goods-table tr.stocks-inquiry td {
  font-size: 0.9rem;
  line-height: 1.3rem; 
  letter-spacing: 0.05rem; 
  padding: 0;
}
.goods-table tr.stocks-inquiry td div {display: inline-block;}
.goods-table tr.stocks-inquiry .total-stocks { background-color: #F4F4F4; padding: 0.5rem 0;}
.goods-table tr.stocks-inquiry .total-stocks .stocks-title { padding-left: 1rem ;padding-right: 0.5rem;}
.goods-table tr.stocks-inquiry .total-stocks .stocks-number { 
  padding-left: 0.5rem;
  padding-right: 1rem;
  font-weight: bold;
}
.goods-table tr.stocks-inquiry .warehouse-stocks {padding: 0.5rem 1rem;}
.goods-table tr.stocks-inquiry .warehouse-stocks .line{padding:0 0.25rem;}
/**** dialog ****/
.pos-dialog {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  line-height: 0.95rem; 
  font-weight: 400;
  z-index: 15;
}

.pos-dialog .dialog-content {
  width: 32.5rem;
  position: absolute;
  background-color: #FFFFFF;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.25rem;
}

.pos-dialog .dialog-header {text-align: right;margin-bottom: 0.25rem;}
.pos-dialog .dialog-header .dialog-close {
  display: inline-block;
  font-size: 2rem;
  color: #00ACEE;
}

.pos-dialog .dialog-body {padding: 0 1.25rem;margin-bottom: 1.25rem;}
.pos-dialog .dialog-body .dialog-title {text-align: center; padding-bottom: 0.750rem; border-bottom: 1px solid #00ACEE;}
.pos-dialog .dialog-body .dialog-title .iconfont {font-size: 1.5rem; color: #00ACEE;}
.pos-dialog .dialog-body .dialog-title .title-text {
  vertical-align: text-top;
}
.pos-dialog .dialog-body section:not(:last-child) {margin-bottom: 1rem;}
.pos-dialog .dialog-body .title {
  font-weight: bold;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.pos-dialog .dialog-body .dialog-input,
.pos-dialog .dialog-body .dialog-textarea {
  border: 1px solid #C4C4C4; box-sizing: border-box;
}

.pos-dialog .dialog-body .dialog-textarea {
  width: 100%;
  height: 5rem;
  resize: none;
  padding: 0.25rem;
  line-height: 1.2;
}

.pos-dialog select {
  padding: 0.5rem;
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
}

.pos-dialog .dialog-footer {padding: 0 1rem; text-align: center;}
.pos-dialog .dialog-footer .confirm-button {
  width: 12.5rem; 
  padding: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

/** mobile input display with country **/
.mobile-input {padding: 0.5rem;}
.intl-tel-input {width: 100%;}

/** content **/
/* .container-fluid{padding: 0;height: 100%; overflow: auto;} */
.wrapper {
  min-height: 100%;
  display: flex;
  padding-top: 2.4rem;
  padding-bottom: 9.25rem;
}

main.content{
  /* height: calc(100% - 50px - 50px - 138px); */
  /* height: calc(100% - 2.5rem - 2.5rem - 6.75rem); */
  /* margin-top: 2.5rem;
  margin-bottom: 9.25rem; */
  height: 100%;
  overflow-y: auto;
}

/**** menu ****/
.content .menu{
  width: 6.25rem;
  /* height: 100%; */
  display: inline-block;
}

.content .menu ul {
  position: fixed;
  width: 6.25rem;
  height: 100%;
  text-align: center;
  background-color: #F0FBFF;
  margin: 0;
}

.content .menu li {padding: 1.25rem 0;cursor: pointer;}
.content .menu li.active {background-color: #007DCA;color: #ffffff}
.content .menu li svg{display: block;margin: auto auto 0.75rem; height: 2rem;}

/* .content .menu .menu-retail-icon { width: 1.95rem; height: 1.85rem;}
.content .menu .menu-replace-icon { width: 2.3rem; height: 2rem;}
.content .menu .menu-repair-icon { width: 1.65rem; height: 1.95rem;}
.content .menu .menu-wholesale-icon { width: 1.8rem; height: 1.8rem;}
.content .menu .menu-sales-agent-icon { width: 2.15rem; height: 2.1rem;}
.content .menu .menu-order-icon { width: 2.1rem; height: 2.05rem;} */

.content .menu li.active .menu-replace-icon-outside {stroke: #fff;}

/**** order ****/
.content .order {
  height: 100%;
  padding: 1.25rem 3rem;
  width: calc(100% - 6.25rem - 25%);
  display: inline-block;
  /* margin-left: 6.25rem; */
  /* overflow-y: auto; */
}

.content .retail-navbar {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.content .retail-navbar ul li {
  width: 7.8rem;
  background: #F4F4F4;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

.content .retail-navbar ul li a {
  border-radius: 0.5rem;
}

.content .retail-navbar ul li.active a {
  background-color: #007DCA;
}

.content .order-content .search_goods_sn{height: 2.750em;}

/**** remark ****/
.remarks-content .remarks-button {
  border: 1px solid #00ACEE;
  color: #00ACEE;
  font-weight: bold;
  padding: 0.75rem;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1.75rem;
}

.remarks-content .remarks-info {
  display: none;
  border: 1px solid #00ACEE;
  box-sizing: border-box;
  padding: 0.75rem;
  margin-bottom: 1.75rem;
}

.remarks-content .remarks-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remarks-content .remarks-info-header-title {
  text-align: center;
  width: 100%;
  color: #00ACEE;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

.remarks-content .remarks-edit-button {background-color: #00ACEE;}

.remarks-content .remarks-info-body section {
  display: none;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.3rem;  
  letter-spacing: 0.05rem; 
}
.remarks-content .remarks-info-body .title {font-weight: bold;}
.remarks-dialog textarea[name='order_remarks']:focus {outline: 0;}

/*** cart table ***/
#cartTable {display: none;}
#cartTable table thead tr th {border: 1px solid #00ACEE;}
#cartTable table tbody tr:not(.stocks-inquiry) {border: 1px solid #C4C4C4;}

#cartTable tbody .icon {background-color: #EE4861; padding: 0.4rem 0.5rem;}

/** need require goods & need removal **/
.need_removal .need_removal_selection > div, .need_requiregoods > div{display: inline-block; vertical-align: middle;}
.need_removal .need_removal_selection .title,
.need_requiregoods .title {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.6rem;
  letter-spacing: 0.05em;
  color: #000000;
}

.need_removal .need_removal_selection .tab-button-rb + .tab-button-label,
.need_requiregoods .tab-button-rb + .tab-button-label { 
  background-color: #F4F4F4;
  padding: 0.35rem 0.75rem;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.need_removal .need_removal_selection .tab-button-rb:checked + .tab-button-label,
.need_requiregoods .tab-button-rb:checked + .tab-button-label { background-color: #00ACEE; }

/** need removal (WEEE) **/
.need_removal .need_removal_form table {border-collapse: separate;border-spacing: 0 0.5rem;}
.need_removal .need_removal_form table th {padding-right: 0.5rem; font-weight: normal;}
.need_removal .need_removal_form table input {height: 2rem;}
.need_removal .need_removal_form table .nr_item {margin-top: 0.5rem;}
.need_removal .need_removal_form table .nr_input {
  width: 2.5rem;
  display: inline-block;
  text-align: center;
  line-height: 2rem;
}

/**** cart-info ****/
.content .cart-info {
  /* height: 100%; */
  width: 25%;
  background-color: #F4F4F4;
  display: inline-block;
  padding: 1.25rem;
  /* overflow-y: auto; */
}
.content .cart-info > div {margin-bottom: 1rem;}

.content .cart-info::-webkit-scrollbar {width: 0.25rem;}
.content .cart-info::-webkit-scrollbar-track {background: transparent;}
.content .cart-info::-webkit-scrollbar-thumb {background: #C4C4C4;}

.cart-info-label, .cart-info-title {text-align: center; margin-bottom: 0.75rem;font-weight: bold;}
.cart-info-title {font-size: 1.1rem;}
.cart-info-label {font-size: 0.9rem;}
.cart-info-hints {font-size: 0.8rem; text-align: center;}
.cart-info-select {
  height: 2.5rem;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 0.5rem;
  line-height: 1.45rem;
  font-size: 1rem;
}

.content .cart-info .tag-label {margin: 0.25rem 0 0 0.5rem; border-radius: 1rem;}
.content .cart-info .tag-label span {margin-right: 0.5rem;}

/*** member info ***/
.member-info {margin-bottom: 1.25rem;}
.member-info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.member-info-header .avatar-img {
  width: 2.7rem;
  height: 2.7rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.member-info-header .member-status-label {
  font-size: 1.1rem;
  width: 7rem;
  padding: 0.350rem 0;
}

.member-info-form > div {margin-bottom: 0.25rem;}
.member-info-form .member-info-mobile {position: relative;}
.member-info-form .member-info-mobile .mobile-input {
  padding-right: 4rem;
  border-width: 0.1rem;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  border-radius: 0;
}
.member-info-form .member-info-mobile .mobile-input.has-error {border:0.1rem solid #EE4861; color: #EE4861;}
.member-info-form .member-info-hints {font-size: 0.9rem;}
.member-info-form .member-info-customer-input {margin-top: 0.4rem;}
.member-info-form .member-info-customer-input .cart-info-select {display: inline-block;vertical-align: middle; width: 65%;margin-right: 0.5rem;padding: 0.25rem 0;}
.member-info-form .member-info-customer-input .refresh-customer-info {width: 30%;display: inline-block;padding: 0.5rem; vertical-align: middle;}
.member-info-form .member-info-integral-display {font-weight: bold; margin-left: 0.1rem;}

/*** payment method ***/
.payment-method .payment-list .tab-button {margin-bottom: 0.5rem; margin-right: 0.25rem;}
/* .payment-method .payment-list .tab-button-label {padding: 10px 30px;} */

/*** order calculation ***/
.order-amount-info {
  width: 100%;
  background-color: #343434;
  color: #FFFFFF;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

.order-info {
  background-color: #4C4C4C;
  color: #FFFFFF;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
}

.order-total-amount-info {color: #FFFFFF;display: flex; margin-bottom: 0.5rem;align-items: flex-end;justify-content: flex-end;width: 70%;}
.order-total-amount-info .total-amount-info {text-align: right; padding-right: 1rem;}
.order-total-amount-info .total-amount-title {font-size: 1.1rem;margin-top: 0.5rem;}
.order-total-amount-info .total-amount-display {font-size: 1.2rem;line-height: 2.15rem;}
.order-total-amount-info .total-amount-display .total-amount {font-size: 1.5rem;}
.order-total-amount-info .sales-info {padding: 0 1rem; width: 45%; color: #000; border-left: 2px solid #FFF;}
.order-total-amount-info .sales-info div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.order-total-amount-info .sales-info select[name=salesperson]{
  color: #000;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  width: 10rem;
  border: 1px solid #C4C4C4;
  background-color: #FFFFFF;
}
.order-total-amount-info .sales-info .cash-change-display {
  display: inline-block;
  margin-left: 0.5rem;
  color: #FFF;
  white-space: nowrap;
}
.order-total-amount-info .sales-info .cash_received {height: 2.3rem;}

.order-total-amount-info .confirm-order-button {
  height: 3.15rem;
  font-size: 1.5rem;
  background: #EE4861;
  line-height: 2.15rem;
}

/*** shipping method ***/
.shipping-info {width: 60%;}
.shipping-type-list {margin-bottom: 0.75rem; color: #333333;}
.shipping-type-list .tab-button {margin-right: 0.5rem;}
.shipping-type-list .tab-button-label svg{vertical-align: middle;margin-right: 0.5rem;}

.shipping-type-list .tab-button-rb:checked + .tab-button-label {background-color: #00ACEE;}
.shipping-type-list .tab-button-rb:checked + .tab-button-label svg path{stroke: #FFFFFF;}

.shipping-address .shipping-address-display {vertical-align: middle; color: #FFFFFF;}
.shipping-address .shipping-address-edit-button {display: inline-block;vertical-align: middle; background-color: #FFFFFF;}
.shipping-address .shipping-address-edit-button svg path {fill: #00ADEE;}

.shipping-type-list .tab-button-label svg {height: 1.35rem;}

/** shipper address list dialog **/
.shipper-address-list-dialog .edit-new-address-button,
.shipper-address-list-dialog .add-new-address-button {display: inline-block; font-size: 0.9rem;color: #00ACEE; border-bottom: 1px solid;}
.shipper-address-list-dialog .add-new-address-button i {margin-left: 0.25rem;font-size: 0.7rem;}
.shipper-address-list-dialog .shipper-address-list {margin-bottom: 1rem;}
.shipper-address-list-dialog .shipper-address-list-table {margin: 0;font-size: 0.8rem;}
.shipper-address-list-dialog .shipper-address-list-table tr td {border: 0; padding: 0.4rem;}
.shipper-address-list-dialog .shipper-address-list-table tr td:not(:last-child) {vertical-align: text-top;}
.shipper-address-list-dialog .shipper-address-list-table .address-edit-button {display: inline-block; background-color: #FFFFFF;}
.shipper-address-list-dialog .shipper-address-list-table .address-edit-button svg path {fill: #00ADEE;}

.select-address .select-radio-style::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 1.1rem;
  width: 1.1rem;
  top: 0.25rem;
  left: 0.25rem;
  margin: auto;
	transition: background 0.1s linear;
	-webkit-transition: background 0.1s linear;
}
.select-address .select-radio-input:checked + .select-radio-style::before {background-color: #00ACEE;}

/*** shipping address dialog ***/
.shipper-address-dialog .shipper-region {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shipper-address-dialog #searchAddressInput::placeholder {
  color: #C4C4C4;
  opacity: 1;
}
.shipper-address-dialog #format_address_display {margin-bottom: 0.5rem; line-height: 1.2;}
.shipper-address-dialog .full-address-info input {width: 30%;}
.shipper-address-dialog .full-address-info.auto-address > div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.shipper-address-dialog .full-address-info.auto-address .title {
  margin: 0 0.5rem 0 0;
  color: #808080;
  font-weight: 400;
}
.shipper-address-dialog .full-address-info.auto-address input {
  margin-right: 0.75rem;
  height: 2rem;
}

.shipper-address-dialog .full-address-info input[name="room"], 
.shipper-address-dialog .full-address-info input[name="floor"] {
  width: 15%;
}

.shipper-address-dialog .shipper-region .title {margin-bottom: 0}
.shipper-address-dialog .shipper-region select {
  width: 30%;
  border: 1px solid #C4C4C4;
  padding: 0.5rem;
  background-color: #FFFFFF;
}

.shipper-address-dialog .edit_address {
  letter-spacing: 0.05rem;
  text-decoration-line: underline;
  color: #00ACEE;
  font-size: 0.8rem;
}

.shipper-address-dialog #detail_address {margin-top: -0.5rem;}

.shipper-address-dialog #select_address_type select{
  margin-right: 0.5rem;
  padding: 0.25rem;
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
}

.shipper-address-dialog #id_doc .id_remark {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #00ACEE;
  line-height: 1.2;
}

.shipper-address-dialog #zipcodeError,
.shipper-address-dialog #liftInfoError,
.shipper-address-dialog #addressError {margin-left: 0; margin-top: 0.2rem;}

.shipper-address-dialog .error {
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 0.25rem;
}

.pac-item {font-size: 0.8rem;}
.pac-item-query {font-size: 0.9rem;}


/** pickup point dialog **/
.pickup-point-dialog .dialog-content{width: 60%;}
.pickup-point-dialog .pickup-point-method-wrapper {border-bottom: 0.5px solid #00ACEE; padding-bottom: 1rem;}
.pickup-point-dialog .pickup-point-method-wrapper .title{color: #00ADEE; margin-bottom: 1rem;}
.pickup-point-dialog .pickup-point-method-wrapper div {text-align: center;}
.pickup-point-dialog .pickup-point-list {    
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pickup-point-dialog .pickup-point-list .tab-button {width: 19%;margin-bottom: 0.5rem;}
.pickup-point-dialog .pickup-point-list .tab-button .tab-button-label {
  box-sizing: border-box;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 0;
  line-height: 1.45rem;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 0.5rem 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pickup-point-dialog .pickup-point-list .tab-button-rb:checked + .tab-button-label {
  background-color: transparent; 
  border: 1px solid #00ACEE;
  color: #000000;
}

.pickup-point-dialog .pickup-point-list span {display: block;}

.pickup-point-dialog .over-max-size-hints {
  padding: 0.5rem; 
  border: 1px solid #FF6969; 
  background-color:#FFF6bF;
}

.pickup-point-dialog .pickup-point-consignee-info {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.pickup-point-dialog .pickup-point-consignee-info > div{width: 49%;}
.pickup-point-dialog .pickup-point-address {text-align: left;}
.pickup-point-dialog .pickup-point-address select{ margin-right: 0.5rem;}
.pickup-point-dialog .pickup-point-address select:disabled {opacity: 0.65;}
.pickup-point-dialog .pickup-point-address .pickup-point-position {margin-bottom: 1.5rem; position: relative;}

.pickup-point-dialog .pickup-point-position .loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 0.75rem 0;
  text-align: center;
}
.pickup-point-dialog .pickup-point-position .loading span {
  color: #00ADEE;
}

.pickup-point-dialog .pickup-point-position .loading span:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: #00ADEE;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 #00ADEE,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 #00ADEE,
      .5em 0 0 #00ADEE;}}


.pickup-point-dialog .error {text-align: left;font-weight: normal;}

.selected-pickup-point-address { color: #00ADEE; margin-bottom: 0.5rem;font-size: 0.8rem;}
.pickup-point-address-list {
  max-height: 15rem;
  overflow-y: auto;
  margin-bottom: 1.75rem;
}

.pickup-point-address-list-table {margin-bottom: 0;}
.pickup-point-address-list-table .pickup-point-info {display: inline-block; margin-left: 1rem; width: 90%;}
.pickup-point-address-list-table .pickup-point-address .pickup-point-icon{width: 2rem;}
.pickup-point-address-list-table .pickup-point-address span {vertical-align: middle;}
.pickup-point-address-list-table .pickup-point-address span.name {color: #000000; padding:0 0.5rem;}
.pickup-point-address-list-table .pickup-point-timeslot {
  color: #929292;
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  padding-top: 0.5rem;
}
.pickup-point-address-list-table .hot-pickup-point {color: #FF0000; font-size: 0.7rem;}
.pickup-point-address-list-table .full-pickup-point {color: #00ACEE; font-size: 0.7rem;}

.pickup-point-address-list-table .select-radio {
  vertical-align: top;
  margin-top: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
}
.pickup-point-address-list-table .select-radio-style:before {
  height: 1rem;
  width: 1rem;
  top: 0.2rem;
  left: 0.2rem;
}
.pickup-point-address-list-table .over_size {position: relative;}
.pickup-point-address-list-table .over_size::before {
  content: attr(data-over_size_lang);
  display: block;
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.9;
  color: #FF0000;
  text-align: center;
  padding: 1rem 0;
}

.second-pickup-point-dialog .title {text-align: center;}
.second-pickup-point-dialog select {width: 100%;}


/** express shipping method **/
.express-shipping-method-wrapper .express-shipping-list .tab-button {margin-bottom: 0.5rem;}
.restricted-to-hk {border: 1px solid #EE4861;padding: 0.5rem;}
.restricted-to-hk-warning i{
  color: #EE4861;
  vertical-align: top;
  padding: 0.25rem 0;
}
.restricted-to-hk-warning div{
  width: 90%;
  display: inline-block;
  vertical-align: middle;
}

.restricted-to-hk .goods-list {padding-left: 0.75rem;}
.restricted-to-hk .goods-list > div {line-height: 1.2;margin-top: 0.75rem;}

/** sales agent **/
.sales-agent {margin-bottom: 1rem;}
.sales-agent-tag {margin-top: 0.25rem;}

/** promotion **/
.promotion-wrapper > div {margin-bottom: 0.5rem;}

/** reserve **/
.reserve-buttons {display: flex; justify-content: space-between;}
.reserve-buttons .tab-button {width: 45%;}
.reserve-buttons .tab-button .tab-button-label {width: 100%;}
.reserve-buttons .tab-button-rb:checked + .tab-button-label {background-color: #00ACEE;}
.reserve-buttons .tab-button-rb:disabled + .tab-button-label {opacity: .65;}

/** preview dialog **/
.preview-order-dialog .dialog-content {margin-bottom: 1rem;}
.preview-order-dialog .preview-content {font-weight: 400;max-height: 35rem;overflow-y: auto;}
.preview-order-dialog .dialog-body section.preview-section { padding: 1rem 0; margin-bottom: 0;}
.preview-order-dialog .dialog-body .preview-section:last-child {padding-bottom: 0.25rem;}
.preview-order-dialog .preview-title {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  color: #EE4861;
}
.preview-order-dialog .preview-section:not(:last-child) {border-bottom: 1px solid #808080;}
.preview-order-dialog .preview-section .preview-section-info:not(:last-child) {margin-bottom: 1rem;}
.preview-order-dialog .preview-section .info-title {
  color: #050000;
  margin-bottom:0.25rem;
}
.preview-order-dialog .preview-section .info-content {color: #808080;}
.preview-order-dialog .preview-section .info-content > div {margin-bottom: 0.25rem; line-height: 1.1;}
.preview-order-dialog .preview-section-info:last-child > div {padding-bottom: 0;}

.preview-order-dialog .preview-section.info-table {display: table; width: 100%;}
.preview-order-dialog .preview-section.info-table .info-table-row {display: table-row;}
.preview-order-dialog .preview-section.info-table .info-table-row > div {display: table-cell;padding: 0 0.5rem 0.5rem 0;}
.preview-order-dialog .preview-section.info-table .info-table-row:last-child > div {padding-bottom: 0;}
.preview-order-dialog .preview-section.info-table .info-table-row > div.info-title {width: 19%;}

.preview-order-dialog .preview-goods-info .info-content {max-height: 100px; overflow-y: auto;}
.preview-order-dialog .preview-goods-info .info-content > div {white-space: pre-line;}

/** replace order **/
body.replace .search-order {
  padding: 1.5rem 3rem;
  margin: -1.25rem -3rem 0.75rem;
  background: #F9F9F9;
}

body.replace .search-order .replace_order_sn {
  background: #FFFFFF;
  border: 1px solid #00ACEE;
  box-sizing: border-box;
  height: 2.750em;
}

#replaceTable thead tr th {width: 10%;}
#replaceTable thead tr th:first-child {width: 50%;}
#replaceTable thead tr th:last-child {width: 20%;}
#replaceTable .tab-button {display: block;}
#replaceTable .tab-button:first-child {margin-bottom: 0.5rem;}
#replaceTable .tab-button .tab-button-rb + .tab-button-label {background-color: #F4F4F4; width: 100%;}
#replaceTable .tab-button .tab-button-rb:checked + .tab-button-label {background-color: #007DCA;}
#replaceTable .replaced-goods-hints {color: #EE4861;}

.order-summary {
  margin-bottom: 1rem;
  color: #5D5D5D;
  font-size: 0.9rem;
  line-height: 1.3rem;
  letter-spacing: 0.05rem;
  max-height: 9rem;
  overflow-y: auto;
}

.order-summary a {color: #5D5D5D;}
.order-summary table {width: 100%;}
.order-summary table th {padding-bottom: 0.25rem; vertical-align: top;}

/** repair **/
/* .container-fluid.repair .content {height: calc(100% - 2.5rem - 6.25rem);} */
body.repair .wrapper { padding-bottom: 6.25rem;}
.repair-status-buttons {margin-bottom: 0.75rem;}
.repair-status-buttons .tab-button-label{background: #F4F4F4;}
.repair-status-buttons:first-child .tab-button-label{margin-right: 0.5rem;}
.repair-status-buttons .tab-button-rb:checked + .tab-button-label {background-color: #007DCA;}

#repairTable .select-radio-style.repair-radio {border: 2px solid #00ACEE; }

.select-repair-goods .select-radio-style::before {
  display: block;
  content: "\f00c";
  font-family: 'FontAwesome';
  color: #00ACEE;
  border-radius: 100%;
  opacity: 0;
	transition: opacity 0.1s linear;
	-webkit-transition: opacity 0.1s linear;
}
.select-repair-goods .select-radio-input:checked + .select-radio-style::before {opacity: 1;}

.repair-fee {width: 50%;}
.repair-fee-buttons {color: #333;margin-top: 0.5rem;}
.repair-fee-buttons .tab-button:first-child {margin-right: 0.5rem;}
.repair-fee-buttons .tab-button .tab-button-label {width: 10rem;}
.repair-fee-buttons .repair-fee-amount {
  display: inline-block;
  width: 12rem;
  height: 2.5rem;
  padding: 0.2rem;
  vertical-align: middle;
}
body.repair .order-total-amount-info {margin-bottom: 0; width: 50%;}
body.repair .cart-info-label {text-align: left; margin-bottom: 0;}
body.repair .member-info-form > div {margin-bottom: 0.5rem;}
body.repair .member-info-form .error {font-size: 0.9rem;}
.repair-remarks-dialog.pos-dialog .dialog-body .dialog-textarea {height: 10rem;}

/** pos done **/
.pos-done {height: 100%;}
.pos-done .content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.15rem;
  text-align: center;
  letter-spacing: 0.05rem
}

.pos-done .order-hints {font-size: 1.5rem;}
.pos-done .order-hints span,
.pos-done .new-member-info span {
  color: #00ACEE;
}

.pos-done .paid-success {
  margin: 4rem 0;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.9rem;
  text-align: center;
  letter-spacing: 0.05rem;
}
.pos-done .paid-success > div {display: inline-block;vertical-align: middle;}
.pos-done .paid-success .success-check {width: 5rem; height: 5rem; margin-right: 1rem;}

.pos-done .payment-info div {display: inline-block;}
.pos-done .payment-info {
  font-size: 1.2rem;
  line-height: 1.75rem;
  text-align: center;
  letter-spacing: 0.05rem;
  background: #F0FBFF;
  padding: 1.5rem 1rem;
  margin-bottom: 3rem;
}
.pos-done .payment-info .info {padding: 0 1rem;}
.pos-done .payment-info .info .title {margin-right: 0.5rem; font-weight: bold;}
.pos-done .print-order-buttons {margin-bottom: 2rem;}
.pos-done .back-button .pos-button,
.pos-done .print-order-buttons .pos-button {padding: 0.5rem 3rem; font-family: Noto Sans HK;font-size: 1.5rem;}
.pos-done .print-order-buttons .pos-button:nth-child(2) {margin-left: 2rem;}
.pos-done .back-button .pos-button {color: #000000; background-color: #EDEDED;}

@media only screen and (max-width: 1366px) {
  html, body {
    font-size: 13px;
    /* min-height: 768px;
    height: 100%; */
  }

  .content .order {width: calc(100% - 6.25rem - 20%);}
  .content .cart-info {width: 20%;}
}

@media only screen and (min-width: 1367px) {
  html, body {font-size: 14px;}
}

@media only screen and (min-width: 1600px) {
  html, body {font-size: 16px;}
}

@media only screen and (min-width: 1920px) {
  html, body {font-size: 20px;}
}


@media only screen and (max-height: 512px) {
  .pos-done .content {align-items: unset; height: auto; overflow-y: auto;}
  .pos-done .content > section {padding: 4.5rem;}

  .pos-dialog {overflow-y: auto;}
  .pos-dialog::-webkit-scrollbar-thumb {background: #D4D4D4;}
  .pos-dialog .dialog-content {
    top: 0;
    transform: translate(-50%, 0%);
    margin: 1rem 0;
  }
}
