.pos_title{
    padding-left: 5px;
}
span.title {
    color: #00acee;
}


/* stripe */

.stripe-form {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 10px;
  font-size: 14px;
  top: 0;
  border: 1px solid #868686;
  color: #999;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0)
}

.stripe-form label {
	color: #6b7c93;
	font-weight: 500;
	font-size: 14px;
	display: block;
	margin-bottom: 8px;
}

.stripe-btn {
	text-align: center;
	padding-top: 20px;
}

.stripe-cardinfo-exp-date {
	width: 100%;
	margin-right: 10px;
	text-align: left;
}

.stripe-success, .stripe-error {
	display: none;
	font-size: 13px;
}

.stripe-success.visible, .stripe-error.visible {
	display: inline;
}

.stripe-error {
  color: #E4584C;
  text-align: left;
}

.stripe-success {
	color: #666EE8;
}

.stripe-success .token {
	font-weight: 500;
	font-size: 13px;
}

.StripeElement {
	background-color: white;
	padding: 8px 12px;
	border-radius: 4px;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
	margin: 10px 0;
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--success, input.InputElement.is-complete {
	border-color: #2ae448;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}

.stripe-form #card-image{
	top:60px;
}

.stripe-month, .stripe-year {
	width: 35%;
}
.stripe-cvv {
 width: 50%;
}

.stripe-card{
	width: 96%;
}

.stripe-cvv-label{
	padding: 10px 0;
}

.stripe-cardinfo-cvv{
	width: 100%;
	text-align: left;
	margin-left: 50px;
}

/* payment_processing model */

.payment_processing{
	position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}
.p-mask{
	position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}
.p-modal-frame{
  width: 80%;
  max-width: 900px;
  margin: auto;
  background-color: #eee;
  z-index: 2;
  border-radius: 6px;
}
.p-modal-body{
  margin: 10px;
  background-color: white;
  border: 1px solid lightgray;
	padding: 40px;
	text-align: center;
}
.hidden {
    display: none;
}

.braintree-frame { width: 50%; margin: auto; padding: 10px; font-size: 14px; top: 0; border: 1px solid #868686; color: #999; background-color: #f7f7f7; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);}

.brain-label { text-align: left; padding: 10px 0;}

.brain-input  { background: white; height: 15px; padding: 10px; border: 1px solid #e7e7e7;}

.brain-button-container{ padding: 10px; text-align: center;}

.brain-error { text-align: left; padding: 10px 0; color: #c03; font-size: 12px;}

.cardinfo-card-number { position: relative; margin-bottom: 15px;}

.cardinfo-wrapper { display: flex; justify-content: space-around;}

.cardinfo-exp-date{ margin-right: 10px;}

.cardinfo-exp-date,.cardinfo-cvv{ width: 100%;}
.cardinfo-card-number:hover,.cardinfo-exp-date:hover,.cardinfo-cvv:hover,.cardinfo-card-number:focus,.cardinfo-exp-date:focus,.cardinfo-cvv:focus{ color: black;}

.cardinfo-card-number:hover>.brain-input, .cardinfo-exp-date:hover>.brain-input, .cardinfo-cvv:hover >.brain-input{border-color: #00ACEE;}

#card-image { position: absolute; top: 41px; right: 5px; width: 44px; height: 28px; background-image: url(/yohohk/img/card_sprite.png); background-size: 86px 458px; border-radius: 5px; background-position: -100px 0; background-repeat: no-repeat; margin-bottom: 1em;}
#card-image.visa { background-position: 0 -398px;}
#card-image.mastercard { background-position: 0 -281px;}
#card-image.amex { background-position: 0 -370px;}
#card-image.discover { background-position: 0 -163px;}
#card-image.maestro { background-position: 0 -251px;}
#card-image.jcb { background-position: 0 -221px;}
#card-image.diners-club { background-position: 0 -133px;}
.pay-btn{ opacity: 0.4}
.pay-btn:disabled,.action-button:disabled, .graybtn:disabled{cursor: no-drop;}
.show-button{ opacity: 1;}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.hidden {
    display: none!important;
}

.bt-modal-frame {
  height: 480px;
  width: 440px;
  margin: auto;
  background-color: #eee;
  z-index: 2;
  border-radius: 6px;
}

.bt-modal-body {
  height: 400px;
  margin: 0 20px;
  background-color: white;
  border: 1px solid lightgray;
}

.bt-modal-header, .bt-modal-footer {
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.bt-mask {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.8;
}

button#stripeBtn {
    height: auto;
}

button#stripeBtn.graybtn {
    display: inline-block;
    height: auto;
    background-color: #efefef;
    box-shadow: 0px 1px 1px rgba(200, 200, 200, 0.3);
    border-bottom: 2px solid #d8cfcf;
}
strong#pay-total {
    color: red;
    font-weight: 600;
}
.trade-info {
    padding-top: 20px;
    font-size: 16px;
    padding-bottom: 10px;
}
.trade-total {
    font-size: 18px;
    padding-top: 5px;
    font-weight: 700;
}
.unpay{
  display: none;
}
.layout.unpay.clearfix {
  padding: 10px 5px;
}
/* Responsive */
@media(max-width:900px){
  
  body{
    font-size: 14px;
  }
  input[name="vardiscount"] {
    height: 15px;
  }
  input[type="text"]{
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  .address_content_inner .intl-tel-input input.inputtext {
    height: 40px;
  }
  .block {
    width: 100%;
    float: left;
  }
  .round {
    width: 100%;
    box-sizing: border-box;
  }
  .search_goods_sn {
    width: 100%;
    box-sizing: border-box;
  }
  
  .cart_info .cart_box {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .cart_info .cart_box .ke-textarea {
    width: 100%;
    box-sizing: border-box;
  }
  .form-control, output {
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    display: block;
  }
  .form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  .has-feedback .form-control {
    padding-right: 42.5px;
  }
  .sortable{
    width: 100%;
  }
  #results_table td:nth-child(2), #results_table th:nth-child(2){
    display: none;
  }
  .sortable th h3 {
    line-height: 20px;
  }
  #user_input_select{
    margin-bottom: 5px;
    max-width: 200px;
  }
  td.cal-box>br {
    display: none;
  }
  td.cal-box>input{
    height: 20px;
  }
  input.addtocart_input {
    margin: 5px 0;
  }
  a.addtocart_btn {
    font-size: 20px;
    width: 100%;
    margin: 5px 0;
  }
  input[name="member_user_name"]{
    width: 200px !important;
  }
  #validate_account{
    display: none;
  }
  .member_tr{
    display:none !important;
  }
  input[name="replace_order_sn"] {
    width: 100% !important;
    box-sizing: border-box;
    margin: 5px 0;
    height: 34px !important;
  }
  #discount_span > span {
    float: left;
  }
}
@media (max-width:900px) and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}