.container {
    padding-top: 56.25%;
    position:relative;
    width: 100%;
    margin: 0;
    background-size:100%,100%;
    max-width: unset;
    min-width:unset;
}

.goods_screen_text {
    color: rgb(4,72,127);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.goods_image {
    position: absolute;
    top: 30%;
    left: 14%;
    width: 30vw;
}

.goods_brand {
    position: absolute;
    top: 64%;
    left: 46%;
    font-size: 4vw;
    font-weight: bold;
    width: 35vw;
}

.goods_name {
    position: absolute;
    top: 75%;
    left: 46%;
    font-size: 3vw;
    width: 50vw;
}

.goods_ranking {
    position: absolute;
    top: 35%;
    left: 78.8%;
    font-size: 8vw;
    width: 15vw;
    text-align: center;
}

.goods_additional_info {
    position: absolute;
    top: 61%;
    left: 46%;
    height: 4vh;
}

.goods_sold_num {
    position: absolute;
    top: 60%;
    left: 46%;
    width: 20vw;
    font-size: 2vw;
    font-weight: bolder;
    background-color: pink;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(4,72,127);
    text-align: center;
    border-radius: 5px;
}

.goods_additional_info > .goodsColRating {
    padding: 0;
}

.goods_shelf_date_slash {
    position: absolute;
    top: 15.2%;
    left: 83.8%;
    width: 13.4vw;
    height: 13.4vw;
}

.goods_shelf_date_slash:after {
    content: '';
    position: absolute;
    border-top: 5px solid rgb(4,72,127);
    width:9vw;
    transform: rotate(-40deg);
    transform-origin: top right;
}

.goods_shelf_date_day, .goods_shelf_date_month {
    position: absolute;
    width: 5vw;
    height: 5vw;
    font-size: 4vw;
    text-align: center;
    font-weight: bolder;
}

.goods_shelf_date_day {
    left: 84.4%;
    top: 11.8%;
}

.goods_shelf_date_month {
    left: 89.4%;
    top: 18.8%;
}