ul#addr_edit_win {
    position: inherit;
    padding: 0;
}

li.online.current .graybtn {
    color: white;
    background: #00ACEE;
    border-bottom-color: #188FB5;
    -webkit-box-shadow: inset 0 -2px #188FB5;
    box-shadow: inset 0 -2px #188FB5;
}