/* 
** 新版搜索页样式表
** 2013-3-30
*/
#main{padding-bottom: 50px;}
.transition{-webkit-transition: width 0.3s;-moz-transition: width 0.3s;-o-transition: width 0.3s;transition: width 0.3s;}

#main{width: 1008px; margin: 15px auto;}
.p-left{float: left; width: 182px; overflow: hidden;}
.p-right{float: right; width: 816px; }

.cate-box a, a.more-btn, .rmb,
.brand-intro .name a i,
.search-selected a.item,
.sort .bd a span{background:url(/yohohk/img/search-page-bg.png) 0 -9999px no-repeat;}

/*左侧分类礼包*/
/*
.cate-box{border: 1px solid #eaeaea; border-bottom-color:#c8c8c8; margin-bottom: 15px;}
.cate-box a{display: block; padding: 10px 0 10px 27px;}
.cate-box a:hover{background-color: #fafafa; text-decoration: none;}
.cate-box a i{color: #999; font-weight: 400;}
.cate-box h3 a{padding: 18px 0 18px 15px; font-weight: bold;}

.cate-box dt{border-top:1px solid #fff;}
.cate-box dt a{font-size: 14px; padding-left:15px; border-top: 1px solid #eaeaea; background-position: right -70px;}
.cate-box dd{display: none;}
.cate-box .current dt{border-top-color: #c7c7c7;}
.cate-box .current dt a{border-bottom: 1px solid #eaeaea; background-position: right -46px;}
.cate-box .current dd{display: block;}
.cate-box .current dt.on{border-top: none;}
.cate-box .current .on a,.cate-box .current .on a:hover{color: #fff; background-color: #c33; background-position: right 15px;}
.cate-box .current .on a i{color: #fff;}
*/

/*类目 目录*/
.cate-menu{margin-bottom: 15px;}
.cate-menu h3{border:1px solid #ddd;}
.cate-menu h3 a{display: block; padding: 15px 0 10px 12px; background-color: #fff; position: relative;}
.cate-menu h3 a:hover{background-color: #fafafa; text-decoration: none;}
.cate-menu h3 strong{font-size: 18px; color: #333; letter-spacing: 3px; font-weight: 400;}
.cate-menu h3 i{position: absolute; right: 10px; top: 23px; color: #999; font-size: 12px; }
.cate-menu dl{border: 1px solid #eee; padding-top: 10px;}
.cate-menu dt{font-size: 14px; padding:5px 0 5px 12px; color: #888;}
.cate-menu dd a{display: block; padding: 7px 0 7px 27px; background-color: #fff;}
.cate-menu dd a:hover{background-color: #fafafa; text-decoration: none;}
.cate-menu dd a i{color: #bbb; margin-left: 5px;}

.cate-menu dd.current a,.cate-menu dd.current a:hover{color: #996600; background-color: #eee; background-position: right 15px; font-weight:bold}

/*品牌介绍*/
.brand-intro{border: 1px solid #eaeaea; border-bottom-color:#c7c7c7; margin-bottom: 10px;}
.brand-intro table{width: 100%;} 
.brand-intro td{padding:10px 15px; color: #999;}
.brand-intro td.pic{width: 80px;}
.brand-intro td img{height: 40px; display: block;}
.brand-intro .name{font-size: 14px; border-right: 1px solid #eaeaea;background-color:#f8f8f8;background-image:-moz-linear-gradient(#fefefe, #f1f1f1);background-image:-webkit-linear-gradient(#fefefe, #f1f1f1);background-image:linear-gradient(#fefefe, #f1f1f1); text-align: center; width: 20%;}
.brand-intro .name a{white-space:nowrap;}
.brand-intro .name a:hover{text-decoration: none;}
.brand-intro .name a i{padding:0 16px 0 10px; background-position: 58px -26px;}


/*已选择项*/
.search-selected{border: 1px solid #eee; padding: 9px 10px; margin-bottom: 15px;}
.search-selected span{display: inline-block;  padding: 4px 0 4px 0;}
.search-selected a{display: inline-block;  padding: 4px 24px 4px 8px; color: #999;}
.search-selected a.item{border: 1px solid #ddd; background-color: #fff; margin-right: 8px; background-position: right -245px; box-shadow: 0px 1px 1px #eee; color: #f37;}
.search-selected a.item:hover{background-color: #f2f2f2; background-position: right -217px; text-decoration: none;}

/*筛选属性模块*/
.search-options{margin-bottom: 15px;}
.search-options .bd{border: 1px solid #eee; border-bottom: none;}
.search-options dl{padding: 10px 0; border-bottom: 1px solid #eee; width: 100%; position: relative;}
.search-options dt{position: absolute; top: 10px; left: 10px; font-size: 14px;}
.search-options dd{position: relative; padding:0 50px 0 63px; height: 24px; overflow: hidden;}
.search-options dd .items{padding-top: 2px;}
.search-options dd .items a{color: #666;}
.search-options dd .items a:hover{color: #f37; }
.search-options dd .link{float: left; width: 162px; height: 18px; margin:0 10px 8px 0; overflow: hidden;}
.search-options dd.dd-price .link{width: 102px;}

.search-options dd a.more-btn{position: absolute; top: 3px; right:5px; margin-right: 0; padding: 0 20px 0 0; background-position: 30px -306px; display: none;}
.search-options dd a.more-btn.clicked{background-position: 30px -58px;}
.search-options dd a.more-btn:hover{background-color: #fff; text-decoration: underline;}

.search-options dd.dd-price{overflow: visible; z-index: 10;}

/*价格区间 提交form*/
.priceform{position: absolute; top: -11px; left: 500px; z-index: 10; }
.priceform .form-bg{ width: 220px; +width: 221px; border: 1px solid #fff; border-top-color: #eee; padding: 8px 15px; font-size: 0;}
.priceform input{ font-size: 12px; border: 1px solid #eaeaea; padding: 3px; height: 18px; width:60px; line-height: 18px;}
.priceform input.submit{ height: 26px; padding: 0; line-height: 16px; cursor: pointer; background-color: #eaeaea; width: 68px; border-color: #e1e1e1; background-color:#eaeaea;background-image:-moz-linear-gradient(#fefefe, #eaeaea);background-image:-webkit-linear-gradient(#fefefe, #eaeaea);background-image:linear-gradient(#fefefe, #eaeaea);}
.priceform input.submit:hover{background-color: #e4e4e4;}
.priceform span{height: 26px; display: inline-block; +vertical-align: -1px; font-size: 12px; padding: 4px;}

.priceform span.rmb{background-position: -10px -272px;}
.priceform span.rmb2{padding-left: 20px; background-position: 8px -272px;}
.priceform form p{display: none; text-align: right; padding-top: 4px; }

#priceform.focus .form-bg{ background-color: #f6f6f6; border-color: #e4e4e4; height: 66px; box-shadow: 0px 1px 3px rgba(100, 100, 100, 0.1); }
#priceform.focus form p{display: block;}


/*排序*/
.sort{margin-bottom: 20px; height: 30px;}
.sort .bd{float: left; font-size: 0; padding-right: 12px;}
.sort .bd a{display: inline-block; font-size: 12px; border: 1px solid #e4e4e4;background-color:#f8f8f8;background-image:-moz-linear-gradient(#fefefe, #f1f1f1);background-image:-webkit-linear-gradient(#fefefe, #f1f1f1);background-image:linear-gradient(#fefefe, #f1f1f1); margin-right: -1px; +margin-right: -2px; position: relative; z-index: 1;}
.sort .bd a span{display: block; padding: 5px 26px 5px 15px; background-position: right -128px; +background-position: right -127px;}

.sort .sort1 a.default span,
.sort .sort2 a.no2 span,
.sort .sort3 a.no3 span,
.sort .sort4 a.no4 span,
.sort .sort5 a.no4 span{border: 1px solid #fff; padding: 4px 26px 4px 15px; background-color: #e8e8e8; background-position: right -104px; +background-position: right -102px; color: #f37; text-shadow: 1px 1px 1px #fff; }
.sort .sort4 a.no4 span{background-position: right -330px; +background-position: right -328px;}

.sort .bd a:hover{border-color: #ccc; z-index: 2; box-shadow: 0px 1px 1px #eee; text-decoration: none;}
.sort .bd a.default span{background-image: none; padding-right: 15px;}
.sort .bd a.promotion span{padding-right: 15px; padding-left: 30px; background-position: 10px -153px;}
.sort .bd a.clicked span{background-position: 10px -184px;}


/*产品列表*/
.productlist ul{margin-right: -40px;}
.productlist li { width:170px; height:276px; position:relative; float:left; padding:0 20px 15px 18px; overflow:hidden; }
.productlist li a.productitem span.productimg img{border: none;}


/*套餐列表*/
.taocan-list{border-bottom: 1px solid #e9e9e9; margin-bottom: 20px;}
.taocan-list dl{border-top: 1px solid #e9e9e9; padding: 10px;}
.taocan-list dt{font-size: 14px;}
.taocan-list .goods{float: left; width: 520px;}
.taocan-list .price-bd{float: left; width: 120px; padding-top: 40px;}
.taocan-list .price-bd strong{font-size: 18px;}
.taocan-list .buy-bd{float: left; width: 150px; padding-top: 55px;}

.taocan-list .goods a{float: left; display: block; width: 100px; padding: 8px; margin-right:12px; }
.taocan-list .goods a:hover{background-color: #f4f4f4; text-decoration: none;}
.taocan-list .goods img{display: block; width: 100px; height: 100px; vertical-align: top;}
.taocan-list .goods span{display: block;}
.taocan-list .goods .name{color: #999; padding-top: 4px; height: 30px; overflow: hidden; line-height: 15px;}
.taocan-list .goods .price{color: #bbb; text-align: center;}

.graybtn{display: inline-block; padding: 5px 12px; height: 16px; line-height: 16px; border: 1px solid #c4c4c4; border-radius: 2px; box-shadow: 0px 1px 1px rgba(200, 200, 200, 0.3); font-size: 100%; color: #666; text-shadow: 0 1px #fff; background-color:#efefef; background-image:-webkit-linear-gradient(#f8f8f8, #e5e5e5); background-image:-moz-linear-gradient(#f8f8f8, #e5e5e5); background-image:linear-gradient(#f8f8f8, #e5e5e5); background-repeat:repeat-x; vertical-align: middle;}
.graybtn:hover{text-decoration: none; color: #666; background:#e5e5e5;}

/* ------------------------------------------------------------------------------------------- */

/*
**各分辨率下样式
*/

/*1280分辨率*/
.w1280 .hd_main{width: 1088px; padding-right: 40px;}
.w1280 .search_box{width: 490px;}
.w1280 .search_box .sea_input{width: 450px;}
.w1280 .search-hotkey{width: 430px;}
.w1280 .search_result{width: 460px;}
.w1280 #main{width: 1088px; padding-right: 40px;}
.w1280 .back2top{margin-left:525px;}
.w1280 .p-right{width: 890px;}
.w1280 .productlist li{margin:0 25px 15px 20px;}

/*1360分辨率*/
.w1360 .hd_main{width: 1188px; padding-right: 40px;}
.w1360 .search_box{width: 590px;}
.w1360 .search_box .sea_input{width: 550px;}
.w1360 .search-hotkey{width: 530px;}
.w1360 .search_result{width: 560px;}
.w1360 #main{width: 1188px; padding-right: 40px;}
.w1360 .back2top{margin-left:570px;}
.w1360 .p-right{width: 990px;}
.w1360 .productlist li{margin:0 40px 15px 20px;}
.w1360 .taocan-list .goods{width: 620px;}

/*1440分辨率*/
.w1440 .hd_main{width: 1288px; padding-right: 40px;}
.w1440 .search_box{width: 690px;}
.w1440 .search_box .sea_input{width: 650px;}
.w1440 .search-hotkey{width: 630px;}
.w1440 .search_result{width: 660px;}
.w1440 #main{width: 1288px; padding-right: 40px;}
.w1440 .back2top{margin-left:600px;}
.w1440 .p-right{width: 1090px;}
.w1440 .productlist li{margin:0 40px 15px 20px;}
.w1440 .taocan-list .goods{width: 720px;}
.w1440 .taocan-list .goods a{margin-right: 30px;}


/*1680分辨率*/
.w1680 .hd_main{width: 1588px; padding-right: 40px;}
.w1680 .search_box{width: 690px;}
.w1680 .search_box .sea_input{width: 650px;}
.w1680 .search-hotkey{width: 630px;}
.w1680 .search_result{width: 660px;}
.w1680 #main{width: 1588px; padding-right: 40px;}
.w1680 .back2top{margin-left:770px;}
.w1680 .p-right{width: 1390px;}
.w1680 .productlist li{margin:0 25px 15px;}
.w1680 .taocan-list .goods{width: 720px;}
.w1680 .taocan-list .goods a{margin-right: 30px;}

/*1920分辨率*/
.w1920 .hd_main{width: 1688px; padding-right: 40px;}
.w1920 .search_box{width: 690px;}
.w1920 .search_box .sea_input{width: 650px;}
.w1920 .search-hotkey{width: 630px;}
.w1920 .search_result{width: 660px;}
.w1920 #main{width: 1688px; padding-right: 40px;}
.w1920 .back2top{margin-left:820px;}
.w1920 .p-right{width: 1490px; }
.w1920 .productlist li{margin:0 42px 12px 25px;}
.w1920 .taocan-list .goods{width: 720px;}
.w1920 .taocan-list .goods a{margin-right: 30px;}



/*--------------------------------------------------------------------------*/
/*
**搜索无结果页面
*/

.search-none{background-color: #fddfe3; padding: 5px; margin-bottom: 10px; position: relative;}
.search-none .bd{background:#fff url(/yohohk/img/namei00.png) 56px 45px no-repeat; border: 1px solid #fccfd6; padding: 45px 50px 45px 200px;}
.search-none h4{font-size: 14px; padding-bottom: 10px;}
.search-none p{color: #666; margin-bottom: 5px;}
.search-none .search-arrow{display: none;}
.search-none .btn-gray{display: inline-block; background:url(/yohohk/img/btn-bg.png) 0 0 repeat-x; height: 24px; line-height: 24px; border: 1px solid #d3d3d3; border-radius: 2px; box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.2); padding: 0 10px; margin-right: 20px;}
.search-none .btn-gray:hover{color: #111; border-color: #bbb; text-decoration: none;}
.search-none a.ud{text-decoration: underline;}

.sc-box{margin:20px 0;}
.sc-box h3{margin-bottom: 10px; font-size: 14px; color: #111;}
.sc-box .glist{margin-right: -20px;}
.sc-box .glist li{float: left; width: 172px; padding-right: 6px;}
.sc-box .blist{height: 100px; overflow: hidden;}
.sc-box .blist li{float: left; width: 144px; padding-right: 20px; }
.sc-box .blist li a{display: block; width: 124px; padding: 10px; background-color: #fff; color: #999; text-align: center;}
.sc-box .blist li a:hover{background-color: #f6f6f6; color: #333; text-decoration: none;}
.sc-box .blist li img{width: 124px; height: 62px; vertical-align: top; margin-bottom: 3px;}