/* SplashAd */
.SplashAd {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background: rgba(0,0,0,0.5);
}

.SplashAd .SplashAd-container {
    display: block;
    position: absolute;
    text-align: center;
    height: 540px;
    width: 1000px;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.SplashAd .SplashAd-container .btnCloseSplashAd {
    float: right;
    cursor: pointer;
}

.SplashAd .SplashAd-container .banner {
    max-height: 500px;
    width: 940px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.btnCloseSplashAd {
	background-image: url(/yohohk/img/splash_ad_close.png);
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    height: 40px;
    width: 40px;
    z-index: 1;
    right: 29px;
    position: absolute;
}

.btnCloseSplashAd:hover {
	background-image: url(/yohohk/img/splash_ad_close_hover.png);
}

.SplashAd .SplashAd-container #topBannerImg {
    display: block;
    position: absolute;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}