.container > .main-wrapper input[type="text"], input[type="email"]{
    width: 94%;
    padding: 8px;
    height: 16px;
    overflow: hidden;
    border: 1px solid #ccc;
    /* margin-right: 12px; */
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    vertical-align: middle;
    border-radius: 2px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
form.subscribe{
    position: relative;
    left: 50%;
    width: 400px;
    min-height: 200px;
    padding: 10px;
    transform: translate(-50%);
    border: 1px solid #bbbbbb;
    border-radius: 10px;
}
.container > .main-wrapper h3{
    font-weight: bold;
    color: #4690B7;
    font-size: 20px;
}
.tips{
    color: #ff4444;
    font-size: 12px;
}
input:disabled{
    cursor: not-allowed;    
}
.btn:disabled{
    background: #66aadd;
    border-bottom: 2px solid #44aabb;
    -webkit-box-shadow: inset 0 -2px #44aabb;
    box-shadow: inset 0 -2px #44aabb;
}
.btn2{
    display: inline-block;
    float: right;
    position: relative;
    padding: 12px 0px 0px 20px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}