.main-wrapper {
    background: #f5f5f5;
}
.support-search-label {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-size: 21px;
}
input.support-search-input {
    font-size: 16px;
    width: 100%;
    text-align: left;
    border-style: solid;
    border-color: #e7e7e7;
    border-width: 1px;
    border: none;
    box-shadow: 3px 3px 3px 3px rgba(72, 77, 80, 0.19);
    box-sizing: border-box;
    color: #2d2a26;
    letter-spacing: 1px;
    height: 48px;
    padding: 0 72px 0 20px;
    font-weight: 600;
    border-radius: 2px;
    -webkit-appearance: none;
}
form#support-search-form {
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 60%;
    left: 0;
    right: 0;
    bottom: 10%;
}
button.support-search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 35px;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-left: 5px;
    width: 40px;
    right: 15px;
    border-left: 2px solid #00acee;
    margin: auto;
}
.support-cat-menu {
    flex-flow: row wrap;
    display: flex;
    width: 100%;
    margin: 0 0 15px 0;
}
.support-cat-menu a {
    width: 24.25%;
    text-align: center;
    padding: 35px 20px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    margin-bottom: 1%;
    margin-right: 1%;
    background: white;
}

.support-cat-menu a:nth-child(4n) {
    margin-right: 0;
}
.menu-left-list {
    float: left;
    border: 1px solid #00acee;
    box-sizing: border-box;
    width: calc(100% - 810px);
}
.support-main-content {
    padding: 15px;
    box-sizing: border-box;
    float: left;
    width: 100%;
}
.support-main-content.index {
    padding: 15px 80px 0;
}
.support-left-item {
    width: 100%;
    display: inline-flex;
    padding: 10px;
    box-sizing: border-box;
    background: white;
}
.support-left-item:hover {
    text-decoration: none;
    color: black;
    background: #cceefc;
}
.support-left-item:last-child {
    border-bottom: 0px;
}
.support-left-title {
    margin: auto 0;
    letter-spacing: 1px;
    font-weight: 600;
}
img.support-left-img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.support-article img {
    max-width: 100%;
    height: auto;
}
.ans-list {
    float: left;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    background: white;
}
.article-cat-list {
    float: left;
    width: 100%;
}
.article-cat-list>.article-cat-item {
    display: block;
    border-bottom: 1px solid #dddddd;
    letter-spacing: 1px;
    float: left;
    width: 100%;
    cursor: pointer;
}
.article-cat-list>.article-cat-item:last-child {
    border-bottom: 0;
}
.support-search-bar {
    position: relative;
}
.support-search-background {
    position: relative;
    width: 100%;
}
.footer {
    margin-top: 0;
}
.support-left-content {
    float: left;
    width: 79%;
    min-width: 800px;
}
.article-cat-item.active {
    cursor: auto;
}
.article-cat-item.active .support-article-item>.title {
    color: #00acee;
}
.support-left-content .page_alert {
    max-height: 120px;
    margin-top: 0;
}
.support-left-content .page_alert .alert_item .content > a {
    -webkit-line-clamp: 3;
    overflow: hidden;
    max-height: 65px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.support-article>.date {
    padding: 0;
    color: #666666;
    margin-bottom: 10px;
    margin-top: -5px;
}
.support-right-content {
    float: right;
    width: 20%;
    box-sizing: border-box;
}
.hot-support {
    float: left;
    width: 100%;
}
.hot-support>.title {
    padding: 5px 10px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
    background: #007dc4;
}
.hot-support .menu {
    padding: 0 10px;
    background: white;
    border: 1px solid #cccccc;
}
.hot-support .menu>a {
    color: #00acee;
    padding: 10px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #007dc4;
}
.hot-support .menu>a:last-child {
    border-bottom: 0;
}
.icon-image>img {
    width: 65px;
}
.support-cat-menu a:hover {
    text-decoration: none;
}
.support-menu-content {
    float: left;
    width: 800px;
    margin-left: 10px;
}
.support-article-item .title {
    float: left;
    width: 90%;
    font-weight: 600;
    font-size: 18px;
}
.support-article-item img {
    float: right;
    width: 30px;
}
.search-keywords {
    float: left;
    width: 100%;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    margin-top: 15px;
}
.support-article-content {
    display: none;
    float: left;
    width: 100%;
}
.article-cat-item-link {
    float: left;
    width: 100%;
    padding: 20px 0;
}
.support-article {
    float: left;
    width: 100%;
    background: white;
    box-sizing: border-box;
    padding: 20px;
}
.support-article .title {
    color: #00acee;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 5px;
}
form.support-useful-form {
    width: 100%;
    border-top: 2px solid #00acee;
    letter-spacing: 1px;
    padding-top: 15px;
    color: #00acee;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
button.as-button {
    border: 1px solid #00acee;
    background: white;
    padding: 6px 21px;
    color: #00acee;
    margin-right: 15px;
}

.support-article-content>.support-article {
    padding: 0;
}
.support-article-content>.support-article>.title {
    display: none;
}
.menu-left-list>.title {
    padding: 5px 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
    background: #00acee;
}
.support-cat-menu .title {
    font-size: 18px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}
.support-article>.content {
    font-size: 16px;
}
.alert_item {
    height: auto;
}