.comparison{
  color:rgb(60, 60, 59);
  font-size:24px;
  line-height:33px;
  font-weight:400;
  font-family:"Noto Sans TC", sans-serif;
  width:801px;
  position:relative;
}
.comparison img{
  width:100%;
  position:absolute;
}

.comparison .comparison-table .theader{
  left:25px;
  width:750px;
  text-align:center;
  font-size:15px;
  font-weight:bold;
}
.comparison .comparison-table .theader > td{
  height:50px;
  top: 110px;
}

.comparison-header {
  margin-top: 10px;
  margin-bottom: 150px;
}

.comparison-detail {
  /*margin-top: 1px;*/
}

.col1{
  width:185px;
  left:25px;
  position:absolute;
}

.goods .col1{
  top:10px !important;
  z-index: 10;
}

.col1 .g_img img{
  width:130px;
  position: relative;
}

.col2{
  width:80px;
  left:210px;
  position:absolute;
}
.col3{
  width:80px;
  left:300px;
  position:absolute;
}
.col4{
  width:140px;
  left:390px;
  position:absolute;
}
.col5{
  width:125px;
  left:530px;
  position:absolute;
}
.col6{
  width:125px;
  left:650px;
  position:absolute;
}

.comparison-table .goods{
  height:215px;
  width:750px;
  left:25px;
}


.comparison-table .goods td {
    top: 25px;
}

.comparison-table .tbody{
  font-size:14px;
  font-weight:500;
  line-height:18px;
}
.comparison-table .tbody ul{
  padding-left:20px;
  padding-right:5px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  list-style-type:disc;
  text-align:left;
  font-size:13px;
}
.comparison-table .tbody .col2{
  text-align:center;
  padding-top:125px !important;
}
.comparison-table .tbody .col1{
  text-align:center;
  padding-top:15px !important;
}
.comparison-table .t_desc{
  font-size:13px;
  letter-spacing:1px;
}

div.g_img{
  width:100%;
  height:150px;
}
.p_desc{
  display:table-cell;
  vertical-align:middle;
}

.row{
  display:table;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  width:100%;
}
.cell{
  width:8%;
  display:table-cell;
  height:75px;
}

a{
  color:rgb(60, 60, 59);
}

@media (max-width: 768px){
  .cell{
	width:100%;
	display:block;
  }
}