
.main a{ text-decoration:none; }
.main img{ display:block; }
.main .current{ height:340px; margin-bottom:16px; position:relative; }
.main .current a:hover span{ text-decoration:underline; }
.main .other li.br{ margin-right:0; }
.main span{ display:block; position:absolute; left:0; bottom:0; width:100%; height:46px; line-height:46px; text-align:center; color:#FFF; font-size:14px; text-shadow: black 0 0 4px; background:rgba(0, 0, 0, 0.4); overflow: hidden; }
.main .other li a:hover span{ text-decoration:underline; }
.main .other li{
    width: 325px;
    height: 215px;
    float: left;
    position: relative;
    margin: 0 10px 16px 0;
    overflow: hidden;
}
 @media(max-width:1350px){
    .main .other li {
        width: 24%;
        height: auto;
        float: left;
        position: relative;
        margin: 0 0.5% 16px 0.5%;
        min-height: 195px;
    }
    .main img{
        width: 100%;
        height: auto;
    }
}
.section-block .title {
    background: none;
    color: #7e7e7e;
    border-left: 4px solid #00acee;
}
.cle_float {
    margin-top: 10px;
    float: left;
    width: 100%;
}
.section-block {
    margin-bottom: 0px;
}