/**
 * topic.css
 * 專題
 *
 * Created by Anthony @ 2017-09-15
 **/
 .main{margin-bottom: 15px;}
 .sidebar { width:218px; float:left;min-height: 10px;margin-right:10px;margin-top: 10px;}
 .maincon { width:800px; float:left;margin-top: 10px;}
 .right-content { width: 200px; float: right; margin-top: 10px;}
 /* 相關產品標題 */
 #price_main h2 {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    border-left: 4px solid #00acee;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px;
}
 #price_main h2 span { font-size:16px; font-weight:normal; margin-left: 20px; }
 #content_main img {
     max-width: 800px;
     height: auto;
 }
.right-content .title {
    font-size: 16px;
    border-left: 4px solid #00acee;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px;
    padding-left: 5px;
}
.right-content a:nth-child(2) {
    border-top: 0px;
}
.right-content a {
    border-top: 1px dotted #e7e7e7;
    padding-top: 10px;
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
.right-content img{
    width: 100%;
    height: auto;
}
.right-content a>span {
    width: 100%;
    background: rgba(0, 0, 0, 0.46);
    color: white;
    float: left;
    text-align: center;
    padding: 5px 0;
    bottom: 0;
    right: 0;
    position: absolute;
}
.sidebar img {
    margin: 10px 0;
}
.topic_goods_list .product-list.grid .product-item {
    margin: 0px 12px 12px 12px;
}
.section-block .title {
    background: none;
    color: #7e7e7e;
    border-left: 4px solid #00acee;
}