.notify {
	position: fixed;
	bottom: -50px;
	right: 15%;
	width: 70%;
	padding: 10px 0;
	z-index: 3000;
	color: black;
	display: none;
	cursor: pointer;
}
.notify2 {
	position: fixed;
	bottom: 70pt;
	right: 18pt;
	width: 300px;
	z-index: 3000;
	color: white;
	display: none;
	box-shadow: 0 4px 10px 4px rgba(0,0,0,0.3), 0 4px 20px 0 rgba(0,0,0,0.3);
}
.notify2 * {
	transition: all 0.3s ease-in-out;
}
.notify .notify_head {
	background: white;
	border: 3px solid #df003c;
	border-left: none;
}
.treasure_base_icon {
	display: none;
	width: 150px;
	position: fixed;
    bottom: 70pt;
    right: 18pt;
	cursor: pointer;
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
}
.treasure_base_icon:hover {
	opacity: 1;
}
.notify2.hidden {
	box-shadow: none;
}
.notify2.hidden * {
	display: none;
}
.notify2.hidden + .treasure_base_icon {
	display: block;
}
.notify2 .notify_head {
	background: #df003c;
	user-select: none;
}
.notify_title {
	padding: 8px 15px;
    background: #fc7e10;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-right: 15px;
}
.notify .notify_title {
	padding: 8px 30px;
	margin-right: 30px;
	color: white;
    background: #df003c;
}
.notify_step {
	display: inline-block;
    border-radius: 50%;
    margin-left: 15px;
	width: 22px;
    text-align: center;
	color: white;
	background: #6b6b6b7a;
    font-weight: 700;
}
.notify_step.active {
	color: #df003c;
	background:  white;
}
.notify_body {
	padding: 10px;
	background: white;
	border: 3px solid #fc7e10;
	border-top: none;
	color: black;
	position: relative;
	box-sizing: border-box;
}
.notify_image {
	position: absolute;
    left: -80px;
	width: 180px;
	top: 50%;
    transform: translateY(-50%);
	user-select: none;
}
.notify_image img {
	height: 180px;
    width: auto;
}
.notify_message {
	text-align: center;
	padding: 10px 0;
	padding-left: 80px;
	min-height: 100px;
}
.notify_btn {
	width: 80%;
	padding: 3px 0;
    margin: auto;
	border: 3px solid #df003c;
	color: #df003c;
	font-weight: 700;
	cursor: pointer;
}
.notify_btn:hover {
	background: #00000011;
}
.notify_btn + .notify_btn {
	margin-top: 5px;
}
.notify_btn.blue {
	background: #00acee;
	color: white;
}
.notify_btn.blue:hover {
	border-color: #0395ce;
	background: #0395ce;
}
.notify_btn.orange {
	border: 3px solid #fc7e10;
	background: #fc7e10;
	color: white;
}
.notify_btn.orange:hover {
	border-color: #e45e00;
	background: #e45e00;
}
.notify_btn.red {
	background: #df003c;
	color: white;
}
.notify_btn.red:hover {
	border-color: #b70031;
	background: #b70031;
}
.notify_close {
	float: right;
	margin: 13px 15px;
	cursor: pointer;
}
.notify_before {
	float: right;
	margin: 10px 15px;
	color: grey;
}
.notify2.no_prize h1 {
	margin-top: 18px;
}
.treasure_coupon {
	font-size: 22px;
    font-weight: bold;
    font-style: italic;
    border: 2px solid #fc7e10;
    padding: 4px 15px;
	color: #fc7e10;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}
.treasure_tnc_remark {
	float: left;
    color: #fc7e10;
    font-weight: 700;
}
.treasure_type {
	text-align: left;
}
.treasure_type_coupon {
    background: #fc7e10;
    color: white;
	padding: 5px 10px;
	margin-right: 5px;
	display: inline;
}
.treasure_type_prize {
    background: #df003c;
    color: white;
	padding: 5px 10px;
	margin-right: 5px;
	display: inline;
}
.treasure_type_coupon + .treasure_type_name {
	display: inline;
}
.treasure_type_prize + .treasure_type_name {
	margin-top: 5px;
}
.treasure_tnc {
	float: right;
	font-size: 12px;
	cursor: pointer;
}
.treasure_tnc_detail ul {
	list-style: decimal;
	font-size: 16px;
	margin-left: 25px;
}
#treasureCountDown {
	font-size: 45px;
    margin-top: -10px;
}