.sp_box {
    text-align: center;
}

span.sp_label {
    background: #00acee;
    color: white;
    padding: 3px 6px;
    border-radius: 3px;
    display: inline-block;
    margin: 5px auto 0;
    font-size: 12px;
}

.program_description {
    width: 100%;
    float: left;
    margin-top: 5px;
}

.rank_program_container>span {
    display: inline-block;
    margin-right: 5px;
}

div#rank_program {
    color: white;
    background: #00acee;
    padding: 6px 9px;
    border-radius: 3px;
    margin-bottom: 5px;
}

a.apply_program {
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.go_to_program {
    display: inline-block;
}

.go_to_program>a {
    color: white;
}
.program-tittle-banner img {
    width: 100%;
}

.id-insert-area {
    text-align: center;
}

.id-insert-area .program-header {
    margin-bottom: 10px;
}

.id-insert-area .program-title {
    margin: 15px 0;
}

.id-insert-area .id-input {
    display: inline-block;
    border: 1px solid #00ACEE;
    overflow: hidden;
    background-color: white;
    margin: 5px 0 10px;
}

.id-insert-area .id-input input.text-input {
    font-size: 14px;
    margin: 6px 0px 5px 4px;
    border: none;
}

.id-insert-area .id-input input.btn {
    border-radius: 0;
    border-bottom: none;
    font-weight: bold;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.id-insert-area .txt-remark {
    color: red;
}
