/**
 * user.css
 * 會員帳戶
 * 
 * Created by howang @ 2014-06-11
 * some css rules were extracted from static/css/style.css
 **/

@charset "utf-8";

.container > .main-wrapper
input[type="text"],
input[type="password"] {
  width: 94%;
  padding: 8px;
  height: 16px;
  overflow: hidden;
  border: 1px solid #ccc;
  /* margin-right: 12px; */
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  vertical-align: middle;
  border-radius: 2px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.container > .main-wrapper
textarea {
  width: 200px;
  padding:8px;
  height: 150px;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-right: 12px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  vertical-align: middle;
  border-radius: 4px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.container > .main-wrapper
select {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border-radius: 4px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  height: 32px;
}

.container > .main-wrapper
input[type='text']:focus,
input[type='password']:focus,
select:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  border-color: #66afe9;
  outline: 0;
}

.container > .main-wrapper
input[type="text"].error,
input[type="password"].error,
select.error {
  border-color: #cc4442;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.container > .main-wrapper
input[type="text"].error:focus,
input[type="password"].error:focus,
select.error:focus {
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

#content {
  display: table;
  width: 100%;
  padding: 5px 0 20px;
}

.col_main,
.col_sub {
  display: inline;
  float: left;
}

.col_main {
  width: 785px;
  margin-left: 205px;
}

.col_sub {
  width: 200px;
  margin-left: -1000px;
}

.price {
  color: #E75768;
  font-weight: 600;
}

.notice_box {
  padding: 9px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  line-height: 1.2em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.notice_box {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
  line-height: 1.3em;
}

.data_table {
  border-width: 0;
  width: 100%;
}

.data_table tr {
  background-color: #00acee;
}

.data_table .odd {
  background-color: #fff;
  color: #7d7d7d;
}

.data_table .even {
  background-color: #f8f8f8 !important;
  color: #7d7d7d;
}

.data_table td.last,
.data_table th.last {
  border-right-width: 0;
}

.data_table tr.last th,
.data_table tr.last td {
  border-bottom-width: 0;
}

.data_table th {
  padding: 8px 10px;
  color: #444;
  text-align: left;
  white-space: nowrap;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.data_table td {
  padding: 8px 10px;
}

.data_table thead th {
  background-color: #00acee;
  color: white;
  border-bottom-width: 0;
  border-right-width: 0;
}

.data_table tbody {
  border-top: 1px solid #eee;
  border-bottom: 0;
}

.data_table tfoot tbody {
  border-bottom: 1px solid #eee;
}

.data_table tbody td {
  border-bottom-width: 0;
  border-right-width: 0;
}

.data_table tbody th {
  background-color: #f6f6f6;
  border-bottom-width: 0;
  border-right: 1px solid #eee;
}

.data_table tfoot tr {
  background-color: #fcfcfc !important;
}

.data_table tfoot td {
  border-bottom-width: 0;
}

.data_table tfoot td.last {
  border-right-width: 0;
}

ul.text_list li {
  padding: 5px;
  line-height: 18px;
}

ul.text_list li.first {
  background-image: none;
}

.form {
  width: 100%;
  padding: .5em 0;
  position: relative;
}

.form fieldset {
  width: auto;
  margin: 0 1em;
}

.form h4 {
  margin: 0 0 .6em;
  color: #00acee;
  font-size: 18px;
  font-weight: bold;
}
.form h4:first-letter {
  text-transform: uppercase;
}
/*
.form label,
.form .label {
  display: block;
  padding: 5px 0;
  width: 50%;
  border-top: 1px solid #fff;
  margin: 0 auto;
  left: 0;
  height: 30px;
  right: 0;
}

.form label input,
.form .label input,
.form label textarea,
.form .label textarea,
.form label select,
.form .label select {
  float: left;
  margin-left: 10px;
}

.form label .gender_text,
.form .label .gender_text {
  text-transform: capitalize;
}
*/
.form label b,
.form .label b {
  float: left;
  width: 10em;
  line-height: 1.7;
  font-weight: normal;
  display: block;
  position: relative;
  text-transform: capitalize;
  color: #00acee;
}

 .form label b .req,
.form .label b .req {
  color: #999;
}

.form div.req {
  color: #999;
  font-size: 96%;
  font-weight: normal;
  position: absolute;
  top: .4em;
  right: 1em;
  left: auto;
  width: 13em;
  text-align: right;
}

.form div.req b {
  color: #999;
}

.form div.submit_wrap {
  float: left;
  width: 100%;
  text-align: center;
  margin: 20px 0 10px;
}

.form input.submit {
  margin: 0 5px 0 10px;
}

.form fieldset.radio_wrap {
  margin: 0 auto;
}

.form fieldset.radio_wrap fieldset {
  float: left;
  width: auto;
  margin-left: 10px;
}

.form fieldset.radio_wrap label {
  float: left;
  width: auto;
  border: none;
  margin: 0;
  padding: 4px 0;
  margin-right: 15px;
}

.form label input.radio {
  width: auto;
  float: none;
  margin: 0;
  margin-right: 3px;
}

.form span.data {
  float: left;
  font-weight: normal;
  display: block;
  line-height: 32px;
  position: relative;
  padding-right: 50px;
}
span.data.gender_text {
  line-height: 32px;
}
.form span.editdata {
  float: right;
  line-height: 32px;
  font-weight: normal;
  display: block;
  position: absolute;
  margin-right: 10px;
  color: #00ACEE;
  right: 0px;
}

.form span.editdata:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 8px 16px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-align: center;
  background: #00ACEE;
  border: 0;
  border-bottom: 2px solid #188FB5;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #188FB5;
  box-shadow: inset 0 -2px #188FB5;
  border-radius: 4px;
}

.button:hover {
  text-decoration: none;
}
.action-button, .button {
  padding: 3px 12px;
  font-size: 14px;
}
a.button:hover {
  text-decoration: none;
  color: white;
  background-color: #0087BB;
  border-bottom-color: #006D97;
  -webkit-box-shadow: inset 0 -2px #006D97;
  box-shadow: inset 0 -2px #006D97;
}
.brighter_button,
.brighter_button:hover {
  color: #fff;
}

.btn_s3,
.btn_s3_b {
  display: inline-block;
  height: 26px;
  color: #555;
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: url('/static/img/btn_bg.gif') no-repeat 0 0;
  border-width: 0;
  vertical-align: middle;
}

.btn_s3_b,
.btn_s3_b:hover {
  color: #fff;
  text-decoration: none;
}

.btn_s3 {
  background-color: #e0e0e0;
  text-shadow: 0 0 0, 0 1px 0 #fff;
}

.btn_s3_b {
  background-color: #ff8c22;
  text-shadow: 0 0 0, 0 1px 0 #c4620d;
}

.btn_s3 {
  width: 100px;
  background-position: -400px 0;
}

.btn_s3_b {
  width: 100px;
  background-position: -400px -60px;
}

.box {
  margin-bottom: 10px;
}

.box .hd {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 10px;
}

.box .hd h3 {
  padding: 5px 7px;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: -2px;
  border-left: 4px solid #00acee;
}
/* .box .hd .extra {
  float: right;
  height: 28px;
  padding: 3px 10px 0 0;
  line-height: 28px;
   background: url(/static/img/box_title.gif) no-repeat right -62px;
} */

.box .bd {
  background-color: #fff;
  border-top: 1px solid #e4e4e4;
  float: left;
  width: 100%;
  border-top: 0;
  /* margin-top: 10px; */
}

.bd:after {
  clear: both;
  content: '\0020';
  display: block;
  visibility: hidden;
  height: 0;
}

.bd {
  display: inline-block;
}

.bd {
  display: block;
}

.box .bd h2.title {
  clear: both;
  padding: 8px 15px;
  margin: 10px 0;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #ddd;
  border-left: 4px solid #00acee;
}

.box .bd h2.first_title {
  margin-top: 0;
}

.box .bd h2.title .extra {
  display: block;
  float: right;
  font-size: 14px;
}

.thin_box .hd {
  height: 4px;
  overflow: hidden;
  line-height: 4px;
  background-color: #fff;
  background-position: left -124px;
}

.thin_box .hd h3 {
  height: 1px;
  line-height: 0;
  text-indent: -999em;
  background-position: left -128px;
}

.thin_box .hd .extra {
  height: 1px;
  background-position: right -132px;
}

.thin_box .bd {
  padding: 1px 4px;
  border-top-width: 0;
}

.legend_box {
  position: relative;
  margin-top: 30px;
}

.legend_box .legend {
  position: absolute;
  left: 25px;
  top: -18px;
  height: 36px;
  width: 150px;
  text-indent: -999em;
  background: url('/static/img/box_legend.gif') no-repeat left top;
}

.full_box .bd {
  border-bottom-width: 0;
}

.full_box {
  padding-bottom: 5px;
}

.full_box {
  background-position: -1145px bottom;
}

.message_wrapper {
  margin: 40px auto 50px;
  padding: 10px 50px;
  font-size: 14px;
}

.message_info {
  padding-left: 130px;
  background: url('/static/img/info.gif') no-repeat 50px 15px;
}

.message_wrapper dt {
  margin-bottom: 15px;
  padding: 5px 0 10px;
  color: #f60;
  line-height: 24px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #d5d6d7;
}

.message_wrapper dd {
  padding: 5px 0;
}

.message_wrapper dd p {
  line-height: 1.5em;
}

.col_main .box .bd {
  border-radius: 0px 0px 6px 6px;
}

.col_main .box {
  padding-bottom: 5px;
}

.col_main .box {
  background-position: -200px bottom;
}

.tab_able_box .box {
  padding-top: 39px;
  margin-top: -39px;
}

.tab_able_box .box .hd {
  display: none;
}

.tab_able_box .box .bd {
  border-top-width: 0;
}

.tab_wrapper {
  position: relative;
  height: 39px;
  overflow: hidden;
  line-height: 39px;
  background: #ededed url('/static/img/box_title.gif') repeat-x left -229px;
  border-bottom: 2px solid #da1d1c;
}

.tab_wrapper .tabs {
  float: left;
  height: 32px;
  padding: 7px 8px 0;
  background: url('/static/img/box_title.gif') no-repeat left -268px;
}

.tab_wrapper .extra {
  float: right;
  height: 36px;
  padding: 3px 10px 0;
  background: url('/static/img/box_title.gif') no-repeat right -307px;
}

.tab_wrapper .tabs a {
  display: block;
  float: left;
  height: 32px;
  padding-left: 20px;
  margin-right: 4px;
  color: #444;
  line-height: 29px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background: #e4e4e4 url('/static/img/box_title_extra.gif') no-repeat left -40px;
  text-shadow: 0 0 0, 0 1px 0 #fff;
}

.tab_wrapper .tabs a span {
  display: block;
  float: left;
  height: 29px;
  padding: 3px 20px 0 0;
  background: url('/static/img/box_title_extra.gif') no-repeat right -80px;
}

.tab_wrapper .tabs a.current {
  color: #fafcfd;
  background-color: #e00;
  background-position: left -200px;
  text-shadow: 0 0 0, 0 1px 0 #bf0807;
}

.tab_wrapper .tabs a.current span {
  background-position: right -240px;
}

.photo {
  background: url('/static/img/loading.gif') no-repeat center center;
}

.pagination {
  padding: 15px 0 10px;
  font-size: 13px;
  font-weight: bold;
  text-align: right;
  clear: both;
}

.pagination span {
  padding: 3px 6px;
}

.user_nav_wrapper h1 {
  height: 8px;
  text-indent: -999em;
  background: #00ACEE;
  border-radius: 4px 4px 0px 0px;
  width: 182px;
}

.user_status {
  padding: 10px;
  line-height: 18px;
}

.user_status .hello {
  margin-right: 10px;
  font-size: 16px;
}

.user_status .hello em {
  padding-left: 3px;
  font-weight: bold;
}

.user_status .rank,
.user_status .log {
  margin-right: 10px;
  color: #999;
}

.user_dashboard {
  height: 151px;
  width: 745px;
  margin: 0 auto 12px auto;
  background: #b3b3b3 url('/static/img/user_dashboard.gif') no-repeat left top;
}

.user_dashboard .item {
  display: inline;
  float: left;
  height: 100px;
  width: 166px;
  margin-top: 22px;
  margin-left: 20px;
  background: #eee url('/static/img/user_dashboard.gif') no-repeat -10px -22px;
}

.user_dashboard .first {
  margin-left: 10px;
}

.user_dashboard .third {
  margin-left: 21px;
}

.user_dashboard .item .item_inner {
  display: block;
  height: 100px;
  width: 166px;
  text-decoration: none;
}

.user_dashboard .item .item_inner .count {
  display: block;
  height: 63px;
  width: 166px;
  overflow: hidden;
  text-align: center;
  font-family: arial;
  font-size: 36px;
  font-weight: bold;
  line-height: 63px;
}

.user_dashboard .item .item_inner .label {
  display: block;
  height: 37px;
  width: 166px;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 37px;
}

.user_dashboard .item .price sub {
  font-size: 18px;
  vertical-align: baseline;
}

.order_list td {
  line-height: 26px;
}

.order_list .order_id {
  font-size: 1.2em;
  line-height: 35px;
  height: 35px;
  font-weight: bold;
}

.order_list .handle,
.order_list .handler,
.order_list .order_status {
  text-align: center;
}

.order_list .order_status em,
.order_detail .status {
  padding: 1px 8px;
  line-height: 0px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding-left: 70px;
}
.order_step {
  background-image: url(/yohohk/img/yoho_process_bar_3.png);
  background-repeat: no-repeat;
  background-size: 70px 92px;
  background-position: 0 0px;
}
.order_step>span {
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}
.order_step.os0 {
  background-position: 0 -75px;
}
.order_step.os0>span {
    background: #717071;
    border: 1px solid #717071;
}
.order_step.os1 {
  background-position: 0 2px;
}
.order_step.os1>span{
  background: #FCD675;
  border: 1px solid #FCD675;
}
.order_step.os2 {
  background-position: 0 -14px;
}
.order_step.os2>span{
  background: #FAC549;
  border: 1px solid #FAC549;
}
.order_step.os3 {
  background-position: 0 -29px;
}
.order_step.os3>span{
  background: #F8B516;
  border: 1px solid #F8B516;
}
.order_step.os4 {
  background-position: 0 -44px;
}
.order_step.os4>span{
  background: #EF951C;
  border: 1px solid #EF951C;
}
.order_step.os5 {
  background-position: 0 -60px;
}
.order_step.os5>span{
  background: #DB7419;
  border: 1px solid #DB7419;
}

td.order_status>div {
  position: absolute;
}
/*
.order_status_0 {
  color: #fff;
  background-color: #ff9522;
}

.order_status_1,.order_status_5,.order_status_6 {
  color: #fff;
  background-color: #97cf4d;
}

.order_status_2,.order_status_3,.order_status_4 {
  color: #fff;
  background-color: #ff5215;
}

.pay_status_1 {
  color: #fff;
  background-color: #ff9522;
}

.pay_status_2 {
  color: #fff;
  background-color: #97cf4d;
}


.pay_status_0 {
  color: #fff;
  background-color: #ff5215;
}

.shipping_status_1,.shipping_status_3,.shipping_status_4,.shipping_status_5 {
  color: #fff;
  background-color: #ff9522;
}

.shipping_status_2 {
  color: #fff;
  background-color: #97cf4d;
}

.shipping_status_0 {
  color: #fff;
  background-color: #ff5215;
}
*/
.order_detail .status {
  margin-right: 5px;
  background-color: #eee;
}

.order_detail .order_id {
  font-size: 1.2em;
  font-weight: bold;
}

.order_goods_list p {
  margin-bottom: 5px;
  line-height: 18px;
}

.order_goods_list .photo img {
  float: left;
  height: 40px;
  width: 40px;
}

.order_goods_list .extra_info {
  color: #999;
}

/* User left column */
.user-avatar-name-block {
  position: relative;
  padding: 12px;
  background-color: #eee;
}
.user-avatar-name-block .user-avatar-wrap {
  display: block;
  width: 152px;
  height: 152px;
  padding: 12px;
  background-color: white;
  left: 0;
  right: 0;
  margin: auto;
}
.user-avatar-name-block .user-avatar {
  display: block;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  background-color: #eee;
}
.user-avatar-name-block .user-name {
  margin-top: 8px;
  text-align: center;
}
.user-avatar-name-block .vip-box {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 30px;
  border-radius: 20px;
  color: white;
  background-color: #d7003d;
  text-align: center;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  line-height: 20px;
}
.user_nav_wrapper, .user-point-block {
  float: left;
  width: 100%;
  margin-top: 10px;
}
.user-point-block {
  text-align: center;
}
.user-point-block .point {
  margin-left: 10px;
  font-weight: 600;
  float: right;
}
.user-point-block>div {
  float: left;
  width: 85%;
  border-left: 4px solid #00acee;
  text-align: left;
  padding-left: 5px;
  line-height: 25px;
}
.user_nav>a>div {
  border: 1px solid #e7e7e7;
  margin-bottom: 5px;
  border-radius: 4px;
  line-height: 25px;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
  color: #333;
}
.user_nav>a>div.current {
  color: black;
  text-decoration: none;
  background: #e7e7e7;
}
.user_nav>a:hover{
  text-decoration: none;
}
.user_nav>a:hover>div {
  color: white;
  text-decoration: none;
  background: #00acee;
}
.order-detail-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 12px;
}
.order-detail-table td {
  border: 1px solid #eee;
}
.order-detail-table .order-progress {
  width: 72px;
  height: 72px;
  padding: 8px;
  padding-right: 16px;
  border: 0px transparent none;
}
.order-detail-table .order-progress img {
  width: 72px;
  height: 72px;
}
.order-detail-table .heading {
  background-color: #f6f6f6;
  font-weight: bold;
}
.order-detail-table .heading,
.order-detail-table .value {
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
}
.order-detail-table .order-status-step {
  display: inline-block;
  background-image: url('/yohohk/img/order-step-bg.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  color: #001922;
  background-position: -5px -45px;
}
.order-detail-table .order-status-step.completed {
  color: #fdfdfd;
  background-position: -5px -5px;
}
.order-detail-table .order-status-step.pending {
  color: #00acee;
}
.order-detail-table .order-status-step.pending a {
  color: #00acee;
}
.order-detail-table .order-status-step.pending a:hover {
  text-decoration: none;
}

/* New user profile CSS */
.user_profile_header {
  margin: 0 auto;
  line-height: 35px;
  left: 0;
  right: 0;
}
.user_profile_header span {
  color: white;
  background: #00acee;
  padding: 10px 20px;
  font-size: 16px;
}
.user_profile_content {
  float: left;
  width: 100%;
  border-radius: 0 0 4px 4px;
  padding: 10px 0 20px;
}
.profile_form {
  margin: 0 auto;
  padding: 0 10px;
  width: 40%;
}
.profile_form_column {
  float: left;
  width: 100%;
}
.profile_form_label {
  float: left;
  width: 70%;
  color: #00acee;
  font-weight: 600;
  line-height: 32px;
}
.profile_form_input {
  float: left;
  width: 100%;
}
.profile_form_input>input {
  text-align: left;
}
b.req {
  font-size: 12px;
  color: red;
  margin-left: -10px;
}
.brithday_column > .profile_form_input > select:first-child {
  width: 33%;
}
.brithday_column > .profile_form_input > select {
  width: 31%;
}
.sex_column > .profile_form_label {
  width: 30%
}
.profile_form_column.sex_column {
  margin: 5px 0 -3px;
}
.sex_column > .profile_form_input {
  width: 70%;
  line-height: 32px;
}
.gender_text > label{
  margin-left: 10px;
  margin-right: 40px;
}
.container > .main-wrapper input[name="email"], .display_name_column input[type="text"]{
  padding-left: 30px !important;
  width: 87% !important;
}
.profile_form_label.info_completed {
  width: auto;
  margin-right: 10px;
}
.profile_form_input.info_completed {
  width: auto;
  line-height: 32px;
}
.img_column .profile_form_label{
  width: 35%;
}
.img_column .profile_form_input {
  width: 65%;
}
.avatar_image {
  margin: 10px 0;
  float: left;
  width: 100%;
  text-align: center;
}
span.icon1 {
  float: left;
  position: relative;
  margin-right: -35px;
  margin-top: 9px;
  padding-left: 10px;
  font-size: 16px;
}
.profile_form_column.name_column {
  float: left;
  width: 49%;
}
.profile_form_column.name_column:nth-child(3) {
  margin-left: 2%;
}

.profile_form_column.address_column:nth-child(6) {
  margin-left: 2%;
}

.profile_form_column.address_column {
  float: left;
  width: 49%;
}
.profile_form_column.address_column.first {
  margin-right: 2%;
}
.address_column select {
  width: 94%;
}

.pagination{
  margin-right: 5px;
}
.pagination .current, .pagination .next, .pagination .prev {
  margin-left: 3px;
  color: #fff;
  border: 1px solid #00ACEE;
  background-color: #00ACEE;
  border-radius: 2px;
  padding: 3px 5px;
}

.pagination a {
  margin-left: 3px;
  color: #fff;
  border: 1px solid #e7e7e7;
  background-color: #e7e7e7;
  border-radius: 2px;
  padding: 3px 5px;
}
.order_goods_list .name{
  padding-left: 5px;
  line-height: 35px;
}
.order_goods_list .name-of-insurance{
  line-height: 20px;
  color: #333;
}
.order_goods_list .package_items {
  padding-left: 20px;
}
.order_goods_list .package_items + .package_items {
  padding-left: 60px;
}
.order_list .order_id > img {
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
}
td.order_status {
  min-width: 50px;
}
.data_table.tracking_list {
  margin-bottom: 25px;
  width: 99.8%;
  float: left;
}
.data_table.tracking_list thead th {
  border: 1px solid #00acee;
}
.data_table.tracking_list tbody td{
  border: 1px solid #e7e7e7;
}
.post_message {
  margin-left: 15px;
  border-left: 2px solid #ddd;
  padding-bottom: 10px;
  min-height: 30px;
  width: 95%;
  line-height: 18px;
  font-weight: narmal;
  float: left;
}
.post_message b {
  float: left;
  width: 12px;
  height: 12px;
  background: #fff;
  border: 2px solid #555;
  margin: 0px 5px 5px -9px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
.active b {
  border: 2px solid #00acee;
}
.post_message time {
  padding-left: 7px;
  font-size: 12px;
  line-height: 18px;
  color: #555;
  width:20%;
}
.post_message time, .address, .message {
  float: left;
}
.post_message .time strong {
  color: #828282;
  font-size: 13.8px;
}
.active div span, .active .time strong, .active .time .clock {
  color: #00acee !important;
}
.post_message time strong {
  color: rgb(53, 53, 53);
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 14.4px;
  font-weight: 700;
}
.post_message .time .clock {
  color: #828282;
}
.post_message time .clock {
  color: rgb(149, 165, 166);
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 14.4px;
  text-align: right;
}
.clearfix:after, .container-layout:after, .container:after, .layout:after, .line-big:after, .line-middle:after, .line-small:after, .line:after, .nav-main:after, .nav-sub:after, .navbar:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.message {
  width: 55%;
  word-break: break-all;
  font-size: 14px;
  margin-right: 10px;
}
.post_message .address{
  width: 20%;
}
.post_message .message span {
  color: #828282;
}
.post_message:last-child {
  border-left: 2px solid #f6f6f6;
}
.result-events {
  margin-bottom: 10px;
  float: left;
  width: 95%;
}
.post_message.no_info {
  border: 0;
  text-align: center;
}
.tracking_status>img{
  float: left;
  width: 50px;
}
.tracking_status>div{
  float: left;
  line-height: 50px;
  padding-left: 10px;
}
.tab-title {
	text-align: center;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: -2px;
	display: inline-block;
	width: 200px;
	color: #bbbbbb;
	cursor: pointer;
	transition: color 0.3s ease, border-color 0.3s ease;
}
.tab-content {
	display: none;
}
.tab-content.active-tab {
	display: unset;
}
.tab-title.active-tab {
	border-bottom: 4px solid #00acee;
	color: #7e7e7e;
}
.tab-title:not(.active-tab):hover {
	border-bottom: 4px solid #84d0ee;
	color: #7e7e7e;
}

/* review css
*/
.review {
  left: 0;
  right: 0;
  position: relative;
  margin: auto;
  width: 700px;
  margin-top: 40px;
}
.review_header {
  color: white;
  background: #00acee;
  padding: 30px 115px 30px 180px;
  min-height: 130px;
  box-sizing: border-box;
  border-radius: 5px;
}

.review_header > h1 {
  font-size: 22px;
  margin-bottom: 10px;
}
.review_header > small {
  font-size: 15px;
}
.review_header:before {
  content: "";
  width: 55px;
  height: 55px;
  position: absolute;
  left: 70px;
  background-image: url(/yohohk/img/icon_review.png);
  background-repeat: no-repeat;
  top: 45px;
}

.review_content {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #F5F5F5;
  margin: 0;
  border: 0px;
  border-radius: 0px 0px 5px 5px;
}

.review_tab {
  float: left;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
}

.section-block h4.tabs.review_tab span.tab:last-child {
  margin: 0;
}

.section-block h4.tabs span.tab:hover, .section-block h4.tabs.review_tab span.tab {
  text-align: center;
  background: #D7D7D7;
  color: white;
  padding: 10px;
  width: 49%;
  margin-right: 2%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.review_tab .tab:hover {
  text-decoration: none;
}
.review .section-block h4.tabs span.tab.on {
  background: white;
  color: #00acee;
}

.review .section-block h4.tabs span.tab:after {
  content: '';
  width: 0;
  height: 0;
}

.review_tab_content {
  float: left;
  width: 100%;
  background: white;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 20px 60px;
  border-radius: 0px 0px 5px 5px;
}
.review_footer {
  float: left;
  width: 100%;
}
.review_submit{
  width: 100%;
  border: 0;
  padding: 9px 12px;
  color: white;
  background: #00acee;
  letter-spacing: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.tab_content.content .avatar {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.tab_content.content .avatar>img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.tab_content.content .avatar>span {
  width: 100%;
  display: inline-block;
  padding: 5px 0;
  font-size: 14px;
  color: #00acee;
  margin-top: 10px;
}

.tab_content.content .sub_rating {
  width: 60%;
  left: 0;
  right: 0;
  margin: 10px auto;
  box-sizing: border-box;
  position: relative;
}

.tab_content.content .sub_rating label {
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  min-width: 80px;
  float: left;
  margin: 0 30px;
}

.tab_content.content .sub_rating .star_rating {
  display: inline-block;
  /* float: left; */
}

.tab_content.content .sub_rating label.placeholder {
  color: #d7d7d7;
  position: absolute;
  left: 10px;
  top: 10px;
  margin: 0;
  font-size: 14px;
}
.tab_content.content .sub_rating:hover label.placeholder {
  color: white;
  z-index: 1;
}
.tab_content.content .sub_rating textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
  background: transparent;
  border: 1px solid #d7d7d7;
}
.tab_content.content .sub_rating textarea:hover, .tab_content.content .sub_rating textarea:active, .tab_content.content .sub_rating textarea:focus , .tab_content.content .sub_rating textarea:visited {
  background: white;
}

.review_staff {
  margin-bottom: 20px;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 20px;
}

.tab_content.content .sub_rating.textbox {
  margin-top: 25px;
}

.review_goods {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 15px 0;
  border-bottom: 1px solid #d7d7d7;
}

.review_goods:last-child {
  border: 0;
}

.review_goods .goods_thumb {
  float: left;
  width: 120px;
  text-align: center;
}

.review_goods .goods_thumb > img {
  width: 60px;
  height: 60px;
}

.review_goods .rating {
  float: left;
  width: 400px;
}

.review_goods .goods_name {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  padding-left: 5px;
}

.review_goods .star_rating {
  float: left;
}

span.review_goods_error {
  padding-left: 5px;
  color: #ff0000c2;
}

a.write_review {
  float: left;
  width: 25px;
  height: 20px;
  background-image: url('/yohohk/img/icon_bubble.png');
  background-repeat: no-repeat;
  margin-top: 3px;
  margin-bottom: -3px;
  margin-left: 5px;
}

.tab_content.content .comment_content.sub_rating {
  float: left;
  width: 100% !important;
  margin: 20px 0;
}

.uploads {
  border: 2px dashed #d7d7d7;
  float: left;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  margin-right: 5px;
}

.uploads input[type=file] {
  height: 50px;
  width: 50px;
  opacity: 0;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.uploads i.fa {
  position: absolute;
  left: 0;
  top: 0;
  color: #D7D7D7;
  margin: 12px 14px 0;
  cursor: pointer;
  z-index: 0;
}

.uploads .preview {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.uploads .preview img {
  width: 50px;
  height: 50px;
}
.review_submit[disabled] {
  cursor: not-allowed;
  background: #D7D7D7;
}
div#shop-rate-high {
  width: 80%;
}

.sp_box {
  text-align: center;
}

span.sp_label {
  background: #00acee;
  color: white;
  padding: 3px 6px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px auto 0;
  font-size: 12px;
}
.program_description {
  width: 100%;
  float: left;
  margin-top: 5px;
}
.rank_program_container>span {
  display: inline-block;
  margin-right: 5px;
}

div#rank_program {
  color: white;
  background: #00acee;
  padding: 6px 9px;
  border-radius: 3px;
}
a.apply_program {
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.go_to_program{
  display: inline-block;
}
.go_to_program>a{
  color: white;
}
input.verify_email {
  width: 86%;
  padding: 8px;
  height: 16px;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  vertical-align: middle;
  border-radius: 2px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  padding-left: 30px;
}
input.verify_email + span.icon1 {
  position: absolute;
  font-size: 16px;
  top: 8px;
  left: 7px;
  margin: 0;
  padding: 0;
}

table.order_goods_list span.isInsurance {
  color: #00acee;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 13px;
  padding: 0 0 2px 5px;
}

table.order_goods_list span.isInsurance a {
  color: #00acee;
}

table.order_goods_list span.insuranceOfName {
  padding: 0 0 0 5px;
  line-height: 16px;
  font-size: 11px;
}
}