.vip-tittle-banner > img{
	width: 100%;
	height:auto;
	padding-bottom:10px;
}

.vip-a {
	color: white;
    font-weight: 600;
	/* font-size: 14px; */
	text-decoration: underline;
}

.vip-a:hover {
	 color: black;
}

.vip-process{
	width: 400px;
	border:1px solid #e3e3e3;
	float: left;
	background: #ffffff;
}
.vip-process-bar{
	height:25px;
	background: #F2276A;
	border-radius: 3px;
}
.vip-process-rate{
    margin-left: 10px;
    line-height: 25px;
    font-weight: 600;
}

/* .vip-top-info, .vip-top-banner{
	margin-bottom: 30px;
} */

.vip-top-info{
	padding: 9px;
	margin: 10px 2px;
	border: 1px solid #F2276A;
	line-height: 1.2em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #F2276A;
	color: white;
	border-color: #F2276A;
}

.main-content .vip-banner > img{
	width: 790px;
	height:90px;
	padding-bottom:10px;
}
