#price_main h2 {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    border-left: 4px solid #00acee;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px;
}
#price_main h2 span { font-size:16px; font-weight:normal; margin-left: 20px; }
div#content_main>img {
    max-width: 100%;
}