{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<style>
  ul.bar_tabs {
      margin-top: 0 !important;
  }
</style>
<div class=" x_panel">
<ul class="nav nav-tabs bar_tabs" role="tablist">
<li role="presentation" class="active">
  <a href="#goods-div" id="goods-tab" role="tab" data-toggle="tab" aria-expanded="true">入貨價</a>
</li>
<li role="presentation">
  <a href="#price-div" id="price-tab" role="tab" data-toggle="tab" aria-expanded="true">成本過高</a>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade active in" id="goods-div" aria-labelledby="goods-tab">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" action="javascript:searchLog()" name="theForm">
        選擇查看類型:&nbsp;&nbsp;
        <select name="mode">
          <option value="normal">正常</option>
          <option value="archived">已封存</option>
        </select>&nbsp;&nbsp;
        <input class="form-control" name="goods_name" type="text" placeholder="產品名稱" style="margin-bottom: 5px;">
        <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
      </form>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
      <table class="table table-striped table-bordered bulk_action" id="goods">
        <thead>
          <tr>
            <th data-id='log_id' data-key='log_id'>{$lang.record_id}</th>
            <th data-id='goods_image' data-sort='0'>產品圖片</th>
            <th data-id='goods_name' data-value='formatted_goods_name'>產品名稱</th>
            <th data-id='goods_sn' data-value='formatted_goods_sn'>Barcode</th>
            <th data-id='difference' data-value='difference_text'>變動比率</th>
            <th data-id='original_cost' data-value='original_cost_rounded'>系統成本</th>
            <th data-id='warehousing_cost' data-value='warehousing_cost_rounded'>入貨成本</th>
            <th data-id='erp_order_id' data-value='formatted_erp_order_sn'>PO編號</th>
            <th data-id='warehousing_id' data-value='formatted_warehousing_sn'>入貨單編號</th>
            <th data-id='supplier_id' data-value='supplier_name'>供應商</th>
            <th data-id='_action'>操作</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="price-div" aria-labelledby="price-tab">
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
      <form class="form-inline" action="javascript:searchPrice()" name="theForm">
        <input class="form-control" name="price_goods_name" type="text" placeholder="產品名稱" style="margin-bottom: 5px;">
        <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
      </form>
      <table class="table table-striped table-bordered bulk_action" id="price">
        <thead>
          <tr>
            <th data-id='goods_id' data-key='goods_id'>{$lang.record_id}</th>
            <th data-id='goods_image' data-sort='0'>產品圖片</th>
            <th data-id='goods_name' data-value='formatted_goods_name'>產品名稱</th>
            <th data-id='goods_sn' data-value='formatted_goods_sn'>Barcode</th>
            <th data-id='cost'>系統成本</th>
            {foreach from=$webs item=name key=key}
            <th data-id='{$key}_price'>{$name}</th>
            {/foreach}
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

{include file="pagefooter.htm"}

<script type="text/javascript" language="JavaScript">

yohoTable.table_id = "goods";
var $table = yoho_dataTable();
yohoTables.push({
    query: 'price_query',
    table_id: "price",
});
yoho_dataTable(1);

function searchLog()
{
  $filter = [];
  $filter['mode'] = $("select[name=mode]").val();
  $filter['goods_name'] = $("input[name=goods_name]").val();
  $("#goods").data('dt_params', $filter);
  $("#goods").DataTable().draw()
}
function searchPrice()
{
  $filter = [];
  $filter['goods_name'] = $("input[name=price_goods_name]").val();
  $("#price").data('dt_params', $filter);
  $("#price").DataTable().draw()
}
</script>