<!-- $Id: about_us.htm 16654 2009-09-09 10:29:24Z liuhui $ -->
{include file="pageheader.htm"}
<div class="list-div">
<table class="table table-striped table-bordered bulk_action" id="#">
  <tr>
    <th colspan="2" class="group-title">{$lang.team_member}</th>
  </tr>
  <tr>
    <td width="20%" class="first-cell">{$lang.director}</td><td>
    Paul Gao, Weber Liu, Kelly Yang
    </td>
  </tr>
  <tr>
    <td class="first-cell">{$lang.programmer}</td><td>
      Weber Liu,
      DaMing Wen,
      Scott Ye,
      Wenjin Zhang,
      Paul Gao,
      Steven liu,
      Kai Li,
      Xiaodong Sun,<br />
      Hui Liu,
      Lei Wang,
      Xiaochuan Shi,
      Robb Liu
    </td>
  </tr>
  <tr>
    <td class="first-cell">{$lang.ui_designer}</td><td>
      JianXi Wang,
      Yecior,
      Dujuan Zhu,
      Zhibin Li,
      Qi Gao
    </td>
  </tr>
  <tr>
    <td class="first-cell">{$lang.documentation}</td><td>
      Hua Change,
      ShaoFeng Qu,
      KunPeng Liu,
      Huaixiao Ye
    </td>
  </tr>
</table>
</div>
<br />
<div class="list-div">
<table class="table table-striped table-bordered bulk_action" id="#">
  <tr>
    <th colspan="2" class="group-title">{$lang.special_thanks}</th>
  </tr>
  <tr>
    <td class="first-cell" width="20%">ZengWei Xia</td><td><a href="http://www.5dbook.com" target="_blank">http://www.5dbook.com</a></td>
  </tr>
  <tr>
    <td class="first-cell" width="20%">Gang Qin</td><td><a href="http://www.18900.com" target="_blank">http://www.18900.com</a></td>
  </tr>
  <tr>
    <td class="first-cell" width="20%">Xinggo</td><td><a href="http://www.gaicai.com" target="_blank">http://www.gaicai.com</a></td>
  </tr>
  <tr>
    <td class="first-cell" width="20%">Yan Cao</td><td><a href="http://www.shaobag.com" target="_blank">http://www.shaobag.com</a></td>
  </tr>
</table>
</div>
<br />
<div class="list-div">
<table class="table table-striped table-bordered bulk_action" id="#">
  <tr>
    <th colspan="2" class="group-title">{$lang.official_site}</th>
  </tr>
  <tr>
    <td class="first-cell" width="20%">{$lang.site_url}</td><td><a href="http://www.ecshop.com" target="_blank">http://www.ecshop.com</a></td>
  </tr>
  <tr>
    <td class="first-cell" width="20%">{$lang.support_forum}</td><td><a href="http://bbs.ecshop.com" target="_blank">http://bbs.ecshop.com</a></td>
  </tr>
</table>
</div>
{literal}
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}