<!-- $Id: account_list.htm 14928 2008-10-06 09:25:48Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div col-md-12 col-sm-12 col-xs-12">
<form method="post" action="account_log.php?act=list&user_id={$smarty.get.user_id}" name="searchForm">
  <select name="account_type" onchange="document.forms['searchForm'].submit()">
    <option value="" {if $account_type eq ''}selected="selected"{/if}>{$lang.all_account}</option>
    <!-- <option value="user_money" {if $account_type eq 'user_money'}selected="selected"{/if}>{$lang.user_money}</option>
    <option value="frozen_money" {if $account_type eq 'frozen_money'}selected="selected"{/if}>{$lang.frozen_money}</option> -->
    <option value="rank_points" {if $account_type eq 'rank_points'}selected="selected"{/if}>{$lang.rank_points}</option>
    <option value="pay_points" {if $account_type eq 'pay_points'}selected="selected"{/if}>{$lang.pay_points}</option>
  </select>
  <strong>{$lang.label_user_name}</strong>{$user.user_name}
  <!-- <strong>{$lang.label_user_money}</strong>{$user.formated_user_money}
  <strong>{$lang.label_frozen_money}</strong>{$user.formated_frozen_money} -->
  <strong>{$lang.label_rank_points}</strong>{$user.rank_points}
  <strong>{$lang.label_pay_points}</strong>{$user.pay_points}
  </form>
</div>

<form method="post" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

  <table id="#" class="table table-striped table-bordered bulk_action ">
    <tr>
      <th width="20%">{$lang.change_time}</th>
      <th width="30%">{$lang.change_desc}</th>
      <!-- <th>{$lang.user_money}</th>
      <th>{$lang.frozen_money}</th> -->
      <th>{$lang.rank_points}</th>
      <th>{$lang.pay_points}</th>
      <th>{$lang.operator}</th>
    </tr>
    {foreach from=$account_list item=account}
    <tr>
      <td>{$account.change_time}</td>
      <td>{$account.change_desc|escape:html}</td>
      <!-- <td align="right">
        {if $account.user_money gt 0}
          <span style="color:#0000FF">+{$account.user_money}</span>
        {elseif $account.user_money lt 0}
          <span style="color:#FF0000">{$account.user_money}</span>
        {else}
          {$account.user_money}
        {/if}
      </td>
      <td align="right">
        {if $account.frozen_money gt 0}
          <span style="color:#0000FF">+{$account.frozen_money}</span>
        {elseif $account.frozen_money lt 0}
          <span style="color:#FF0000">{$account.frozen_money}</span>
        {else}
          {$account.frozen_money}
        {/if}
      </td> -->
      <td align="right">
        {if $account.rank_points gt 0}
          <span style="color:#0000FF">+{$account.rank_points}</span>
        {elseif $account.rank_points lt 0}
          <span style="color:#FF0000">{$account.rank_points}</span>
        {else}
          {$account.rank_points}
        {/if}
      </td>
      <td align="right">
        {if $account.pay_points gt 0}
          <span style="color:#0000FF">+{$account.pay_points}</span>
        {elseif $account.pay_points lt 0}
          <span style="color:#FF0000">{$account.pay_points}</span>
        {else}
          {$account.pay_points}
        {/if}
      </td>
      <td>{$account.admin_name|default:系統生成}</td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="6">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
</div>
</form>

<script type="text/javascript" language="javascript">
  <!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
      // 开始检查订单
      startCheckOrder();
  }
  {/literal}
  //-->
</script>
{include file="pagefooter.htm"}
{/if}