{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <form class="form-inline" action="javascript:searchLog()">
            {$lang.start_date}&nbsp;<input class="form-control" data-type="date" type="text" name="start_date" size="15" value="{$start_date}">
            {$lang.end_date}&nbsp;<input class="form-control" data-type="date" type="text" name="end_date" size="15" value="{$end_date}">
            <select name="admin_id" class="form-control">
                <option value="-1">所有操作人</option>
                <option value="-2">所有管理員</option>
                {foreach from=$admins item=admin_name key=admin_id}
                <option value="{$admin_id}">{$admin_name}</option>
                {/foreach}
            </select>
            <input class="form-control" name="user_name" type="text" value="{$user.user_name}" placeholder="會員">
            <input class="btn btn-info" id="submit" type="submit" value="{$lang.query}" style="margin-bottom: 0">
        </form>
    </div>
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <table id="logs" class="table table-striped table-bordered dataTable no-footer">
            <thead>
                <th data-id="log_id">編號</th>
                <th data-id="user_name">用戶</th>
                <th data-id="change_time" data-value="change_date">變動時間</th>
                <th data-id="change_desc" data-sort="0">變動原因</th>
                <th data-id="rank_points" data-sort="0">等級積分帳戶</th>
                <th data-id="pay_points" data-sort="0">消費積分帳戶</th>
                <th data-id="admin_id" data-value="admin_name">{$lang.operator}</th>
            </thead>
        </table>
    </div>
</div>

{include file="pagefooter.htm"}
<script>
yohoTable.query = 'log_list_query';
var $table = yoho_dataTable();
function searchLog() {
    $filter = [];
    if ($("select[name=admin_id]").val() != -1) {
        $filter['admin_id'] = $("select[name=admin_id]").val();
    }
    if (Utils.trim($("input[name=user_name]").val()) != "") {
        $filter['user_name'] = Utils.trim($("input[name=user_name]").val());
    }
    if (Utils.trim($("input[name=start_date]").val()) != "") {
        $filter['start_date'] = Utils.trim($("input[name=start_date]").val());
    }
    if (Utils.trim($("input[name=end_date]").val()) != "") {
        $filter['end_date'] = Utils.trim($("input[name=end_date]").val());
    }
    $("#logs").data('dt_params', $filter);
    $("#logs").DataTable().draw();
}
</script>
