{include file="pageheader.htm"}

<style>
.items{
    margin-bottom: 5px;
}
</style>
<div class=" x_panel">
    {if $edit}
    <form id="edit_form" action="accounting_report.php" class="tab-content form-horizontal form-label-left">
        <input type="hidden" name="act" value="update_txn_type">
        <input type="hidden" name="type_id" value="{$txn_type}">
    {else}
    <form id="update_form" action="accounting_report.php" class="tab-content form-horizontal form-label-left">
        <input type="hidden" name="act" value="insert_txn_type">
    {/if}

    {if $edit}
    {foreach from=$txn_types item=type name=foo}
    {if $type.txn_type_id eq $txn_type}
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">分類</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" class="form-control" name="type_name" value="{$type.txn_type_name}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">子項目</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-inline">
            {if count($type.children) gt 0}
            {foreach from=$type.children item=subtype name=foo2}
            <div class="items">
                <input type="hidden" name="type_child_id[]" value="{$subtype.txn_type_id}">
                <input type="text" name="type_child[]" class="form-control" value="{$subtype.txn_type_name}">
                <a class="form-btn btn btn-danger" id="remove{$subtype.txn_type_id}" href="javascript:deleteTxnType({$subtype.txn_type_id})"> - 移除</a></div>
            {/foreach}
            {/if}
            
            <a id="add_item" class="btn btn-primary" href="javascript:void(0)"> + 添加新項目</a>
            </div>
        </div>
    </div>
    {/if}
    {/foreach}
    <div class="form-group"><div class="col-md-6 col-sm-6 col-xs-12"></div><div class="col-md-6 col-sm-6 col-xs-12"><input class="btn btn-primary" type="submit" value="提交"></div></div>
    </form>
    {else}
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">分類</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select name="txn_type_id">
                <option value="-1">新分類</option>
                {foreach from=$txn_types item=type name=foo}
                <option value="{$type.txn_type_id}">{$type.txn_type_name}</option>
                {/foreach}
            </select>
            <input type='text' name='type_name' class="form-control" value="" placeholder="輸入新分類的名稱">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">子項目</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <a id="add_item" class="btn btn-primary" href="javascript:void(0)"> + 添加新項目</a>
        </div>
    </div>
    <div class="form-group"><div class="col-md-6 col-sm-6 col-xs-12"></div><div class="col-md-6 col-sm-6 col-xs-12"><input class="btn btn-primary" type="submit" value="提交"></div></div>
    
    {/if}
    </form>
</div>
<script>
$(function(){
    /*$('a.remove').click(function(){
        console.log('A');
        $(this).parent().remove()
    })*/
    $('a#add_item').click(function(){
        $(this).before('<div class="items">{if $edit}<input type="hidden" name="type_child_id[]" value="0">{/if}<input class="form-control" type="text" name="type_child[]" value=""> <a class="form-btn btn btn-danger remove" href="javascript:void(0)"> - 移除</a></div>')
    })
    $('#edit_form').submit(function(e){
        if($('input[name=type_name]').val() == ""){     
            alert('請輸入分類名稱')
            e.preventDefault();
        }
        $('input[name=type_child[]]').get().map((v)=>$(v).val() == "" ? $(v).parent().remove() : true)   
    })
    $('#update_form').submit(function(e){
        if($('select[name=txn_type_id]').val() == -1 && $('input[name=type_name]').val() == ""){     
            alert('請輸入新分類名稱')
            e.preventDefault();
        }
        $('input[name=type_child[]]').get().map((v)=>$(v).val() == "" ? $(v).parent().remove() : true)   
    })
    $('select[name=txn_type_id]').change(function(){
        $('select[name=txn_type_id]').val() == -1 ? $('input[name=type_name]').show() : $('input[name=type_name]').hide();
    })
})
function deleteTxnType(txn_id){
    $.ajax({
        url: 'accounting_report.php',
        dataType: "json",
        data: {
            act: 'delete_txn_type',
            txn_type_id: txn_id
        },
        success:function(res){
            if(res.error == 1)
                alert(res.message)
            else
                $('#remove'+txn_id).parent().remove()
        }
    })
}
</script>
{include file="pagefooter.htm"}