<!-- $Id: account_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}

<div class=" x_panel">
<form method="post" action="account_log.php" name="theForm" onsubmit="return validate()" class="tab-content form-horizontal form-label-left">
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_user_name}</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><label class="control-label">{$user.user_name}</label></div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_change_desc}</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><textarea class="form-control" name="change_desc" cols="60" rows="4">{$smarty.request.change_desc}</textarea></div>
  </div>
  <!-- <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_user_money}</label>
    <div class="col-md-6 col-sm-6 col-xs-12 form-inline">
      <select class="form-control" name="add_sub_user_money" id="add_sub_user_money">
        <option value="1" selected="selected">{$lang.add}</option>
        <option value="-1">{$lang.subtract}</option>
      </select>
      <div class="input-group no-margin">
      <input class="form-control" name="user_money" type="text" id="user_money" style="text-align:right" value="0" size="10" />
      <div class="input-group-addon">{$lang.current_value}{$user.formated_user_money}</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_frozen_money}</label>
    <div class="col-md-6 col-sm-6 col-xs-12 form-inline">
      <select class="form-control" name="add_sub_frozen_money" id="add_sub_frozen_money">
        <option value="1" selected="selected">{$lang.add}</option>
        <option value="-1">{$lang.subtract}</option>
      </select>
      <div class="input-group no-margin">
        <input class="form-control" name="frozen_money" type="text" id="frozen_money" style="text-align:right" value="0" size="10" />
        <div class="input-group-addon">{$lang.current_value}{$user.formated_frozen_money}</div>
      </div>
    </div>
  </div> -->
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_rank_points}</label>
    <div class="col-md-6 col-sm-6 col-xs-12 form-inline">
      <select class="form-control" name="add_sub_rank_points" id="add_sub_rank_points">
        <option value="1" selected="selected">{$lang.add}</option>
        <option value="-1">{$lang.subtract}</option>
      </select>
      <div class="input-group no-margin">
        <input class="form-control" name="rank_points" type="text" id="rank_points" style="text-align:right" value="0" size="10" />
        <div class="input-group-addon">{$lang.current_value}{$user.rank_points}</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_pay_points}</label>
    <div class="col-md-6 col-sm-6 col-xs-12 form-inline">
      <select class="form-control" name="add_sub_pay_points" id="add_sub_pay_points">
        <option value="1" selected="selected">{$lang.add}</option>
        <option value="-1">{$lang.subtract}</option>
      </select>
      <div class="input-group no-margin">
        <input class="form-control" name="pay_points" type="text" id="pay_points" style="text-align:right" value="{$smarty.request.pay_points|default:0}" size="10" />
        <div class="input-group-addon">{$lang.current_value}{$user.pay_points}</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="ln_solid"></div>
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <input type="submit" class="btn btn-primary" value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="insert" />
      <input type="hidden" name="user_id" value="{$user.user_id}" />
  </div>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("change_desc",  no_change_desc);
	validator.isNumber("user_money", user_money_not_number);
	validator.isNumber("frozen_money", frozen_money_not_number);
	validator.isInt("rank_points", rank_points_not_int);
	validator.isInt("pay_points", pay_points_not_int);
    return validator.passed();
}

//-->
</script>
{/literal}
{include file="pagefooter.htm"}