{include file="pageheader.htm"}

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>


{insert_scripts files="actg.js"}

<form action="accounting_report.php" method="post" name="form" class="tab-content form-horizontal form-label-left">
<div class=" x_panel">
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">操作員</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" name="operator">
        <option value="">{$lang.select_please}</option>
        {foreach from=$salesperson_list item=salesperson}
        {if $salesperson eq $admin_name}<option selected="selected" value="{$admin_id}">{$salesperson}</option>{/if}
        {/foreach}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">帳戶</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" name="account_id">
        <option value="0">{$lang.select_please}</option>
        {foreach from=$accounts item=acc}
        <option value="{$acc.account_id}">{$acc.account_name}</option>
        {/foreach}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">金額</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input class="form-control" name="amount" type="text" />
      <span class="form-helper">支出應填寫負數，如 -100</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">付款方式</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="checkbox">
      {foreach from=$payment_types item=type name=foo}
      <label>
        <input type="radio" class="flat" name="payment_type_id" value="{$type.payment_type_id}"{if $smarty.foreach.foo.first} checked="checked"{/if}>
        {$type.payment_type_name}
      </label>
      {/foreach}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">即時交易</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="hidden" name="completed" value="0">
      <div class="checkbox">
        <label><input class="flat" type="checkbox" name="completed" value="1" checked="checked"> 一般交易即時完成，支票/期票等可以取消勾選這項</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">銀行時間</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input class="form-control" name="bank_date" type="text" id="bank_date" size="22" value="" data-type="date"/>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">會計月份</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-inline">
        <select class="form-control" name="expense_year" type="text" id="expense_year">
          <option value="0"></option>
        </select> 年
        <select class="form-control" name="expense_month" type="text" id="expense_month">
          <option value="0"></option>
        </select> 月
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">分類</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" name="txn_type_id">
        {foreach from=$txn_types item=type name=foo}
        <option value="{$type.txn_type_id}">{$type.txn_type_name}</option>
        {if count($type.children) gt 0}
        {foreach from=$type.children item=subtype name=foo2}
        <option value="{$subtype.txn_type_id}">　{$subtype.txn_type_name}</option>
        {/foreach}
        {/if}
        {/foreach}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">備注</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <textarea class="form-control" name="remark"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="hidden"  name="act"       value="insert_txn" />
      <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
    </div>
  </div>
</table>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}

$(function () {
  
  YOHO.actg.sanitizeAmountInput($('input[name="amount"]'));
  for(var i = (new Date()).getFullYear(); i >= 2017; i--)
    $('#expense_year').append('<option value="'+i+'">'+i+'</option>')
  for(var i = 1; i <= 12; i++)
    $('#expense_month').append('<option value="'+i+'">'+i+'</option>')
  $('#expense_year').val((new Date()).getFullYear());
  $('#expense_month').val((new Date()).getMonth()+1);
});

{/literal}
//-->
</script>
{include file="pagefooter.htm"}