{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
<link href="css/select2.min.css" rel="stylesheet" type="text/css" />

<style>
table.table.table-bordered tr.groupOdd {
    background: #f5f5f5;
}
table.table.table-bordered tr.groupEven {
    background: #ffffff;
}
.form-div .form-group input.form-control {
    margin-top: -8px;
}
.select2-results {
    color: black;
}
.select2-container--default .select2-results>.select2-results__options {
    max-height: 400px;
}
.select2-container--default .select2-results .parent {
    font-weight: bold;
}
.select2-container--default .select2-results .child {
    padding-left: 10px;
}

#batchHandler {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 70px;
    background: #34495e;
    z-index: 100;
    font-size: 16px;
    color: white;
    padding: 15px;
}
</style>

<div class=" x_panel">
    <div class="form-div">
        <form action="javascript:searchTxn()" class="form-inline">
            <div class="input-group" style="width: 300px;">
                <input class="form-control" type="text" name="start_date" data-type="date" placeholder="開始日期">
                <span class="input-group-addon">至</span>
                <input class="form-control" type="text" name="end_date" data-type="date" placeholder="結束日期">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="search" placeholder="備註">
            </div>
            {if $posted}
            <select name="posted_by">
                <option value="-1">- 所有審核員 -</option>
            {else}
            <select name="created_by">
                <option value="-1">- 所有操作員 -</option>
            {/if}
                <option value="0">系統生成</option>
                {foreach from=$system_user key=id item=name}
                <option value="{$id}">{$name}</option>
                {/foreach}
                {foreach from=$operators item=operator}
                <option value="{$operator.user_id}">{$operator.user_name}</option>
                {/foreach}
            </select>
            {if !$posted}
            <select name="status">
                <option value="">- 所有狀態 -</option>
                {foreach from=$lang.account_posting_status key=key item=status}
                <option value="{$key}">{$status}</option>
                {/foreach}
            </select>
            {/if}
            {if !$posted}
            <div class="form-group">
                <input type="checkbox" class="flat" name="reversed">
                <label>Reverse Transactions</label>
            </div>
            {/if}
            <div class="form-group">
                <input type="checkbox" class="flat" name="specific">
                <label>單一帳戶</label>
            </div>
            <input type="submit" class="btn btn-info">
            <br>
            <select name="actg_type_id" id="account_types" style="width: 300px"><option></option></select>
            <select name="supplier_id" id="suppliers" style="width: 300px"><option></option></select>
            <select name="wsid" id="wholesales" style="width: 300px"><option></option></select>
            <select name="sa_id" id="salesagent" style="width: 300px"><option></option></select>
        </form>
    </div>
    <table class="table table-bordered bulk_action" id="transactions">
        <thead>
            <tr>
                <th data-id="actg_txn_id" data-value="checkbox" data-noicheck="1" data-sort="0"><input type="checkbox" class="flat" name="txn_select_all"></th>
                <th data-id="actg_txn_id" data-key="actg_txn_id" data-value="group_id">編號</th>
                <th data-id="created_by" data-value="user_name">操作員</th>
                <th data-id="txn_date">交易日期</th>
                <th data-id="actg_type_code">交易帳戶編號</th>
                <th data-id="actg_type_id" data-value="actg_type_name">交易帳戶</th>
                <th data-id="remark" data-sort="0">備註</th>
                <th data-id="actg_month" data-sort="0">會計月份</th>
                <th data-id="exchanged_amount" data-value="debit">Debit</th>
                <th data-id="exchanged_amount" data-value="credit">Credit</th>
                {if $posted}
                <th data-id="posted_by" data-value="posted_admin">審核員</th>
                <th data-id="posted_date">審核日期</th>
                {else}
                <th data-id="posted" data-value="status">狀態</th>
                {/if}
            </tr>
        </thead>
    </table>
    <div id="batchHandler"></div>
</div>

{include file="pagefooter.htm"}
<script>
yohoTable.query = '{if $posted}posted_{/if}query';
yohoTable.rowCallback = function($row, $txn, $index) {
    $($row).addClass($txn.class)
}
var $table = yoho_dataTable();
$(document).on('ifChanged', 'input[name=txn_select_all]', function (e) {
    $('input[name=txn_select]').iCheck($('input[name=txn_select_all]:checked').length > 0 ? 'check' : 'uncheck');
})
$(document).on('ifChanged', 'input[name=txn_select]', function (e) {
    var sum = 0;
    var posted = 0;
    var disable_reject = 0; 
    var group_ids = [];
    $.each($("input[name=txn_select]:checked"), function (index, select) {
        var group_id = $(select).data('id');
        posted += $(select).data('posted') == '0' ? 0 : 1;
        // disable_reject += $(select).data('reject') == '0' ? 0 : 1;
        if (group_ids.indexOf(group_id) == -1) {
            group_ids.push(group_id)
        }
        $.each($("input[name=txn_amount][data-id=" + group_id + "]"), function (index, elem) {
            sum += parseFloat($(elem).data('amount'))
        })
    })
    $("#batchHandler").hide();
    var sum_format = "$" + Math.abs(sum).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
    if (group_ids.length > 0) {
        var html = "<div class='col-md-10'>總金額: " + (sum >= 0 ? (sum_format) : ("<span class='red'>(" + sum_format + ")</span>")) + "</div>" +
                    "<div class='col-md-2'>" +
                        {if $posting_approve}
                        (
                            $("input[name=specific]:checked").length > 0 && $("select[name=actg_type_id]").val() != "" || posted > 0
                                ? ""
                                : ("<button type='button' id='batchPost' class='btn btn-success' data-ids='" + group_ids.sort((a,b)=>a-b).join(",") + "'>Approve</button>" +
                                    (disable_reject > 0 ? "" : "<button type='button' id='batchReject' class='btn btn-danger' data-ids='" + group_ids.sort((a,b)=>a-b).join(",") + "'>Reject</button>"))
                        ) +
                        {/if}
                    "</div>";
        $("#batchHandler").html(html);
        $("#batchHandler").show();
    }
})

$(document).on('click', '#batchPost', function () {
    if (confirm('Confirm to post the selected entries?')) {
        $.ajax({
            url: 'accounting_system.php',
            dataType: 'json',
            data: {
                act: 'post',
                ids: $("#batchPost").data('ids'),
                status: 1,
            },
            success: function (res) {
                $('input[name=txn_select]').iCheck('uncheck');
                if (res.error == '0') {
                    alert("Entries posted");
                    $('#transactions').DataTable().draw(); 
                } else {
                    alert('Error posting entries. ' + res.msg)
                }
            }
        })
    }
})

$(document).on('click', '#batchReject', function () {
    if (confirm('Confirm to reject the selected entries?')) {
        $.ajax({
            url: 'accounting_system.php',
            dataType: 'json',
            data: {
                act: 'post',
                ids: $("#batchPost").data('ids'),
                status: -1,
            },
            success: function (res) {
                $('input[name=txn_select]').iCheck('uncheck');
                if (res.error == '0') {
                    alert("Entries reversed");
                    $('#transactions').DataTable().draw(); 
                } else {
                    alert('Error rejecting entries. ' + res.msg)
                }
            }
        })
    }
})

$(function(){
    $("#account_types").select2({
        width: 'resolve',
        matcher: modelMatcher,
        allowClear: true,
        placeholder: '所有帳戶',
        data: [
            {foreach from=$txn_types item=type}
                {foreach from=$type.children item=child}
                {
                    id: {$child.actg_type_id},
                    text: "{$child.actg_type_code} - {$child.actg_type_name}",
                    html: "<span class='parent'>{$child.actg_type_code} - {$child.actg_type_name}</span>",
                },
                {if $child.children}
                    {foreach from=$child.children item=grandchild}
                    {
                        id: {$grandchild.actg_type_id},
                        text: "{$grandchild.actg_type_code} - {$grandchild.actg_type_name}",
                        html: "<span class='child'>{$grandchild.actg_type_code} - {$grandchild.actg_type_name}</span>",
                        parent: "{$child.actg_type_code} - {$child.actg_type_name}"
                    },
                    {/foreach}
                {/if}
                {/foreach}
            {/foreach}
        ],
        escapeMarkup: function(markup) {
            return markup;
        },
        templateResult: function(data) {
            return data.html;
        },
    });
    $("#suppliers").select2({
        width: 'resolve',
        matcher: modelMatcher,
        allowClear: true,
        placeholder: '所有供應商',
        data: [
            {foreach from=$suppliers item=supplier}
                {
                    id: {$supplier.supplier_id},
                    text: "{$supplier.code} - {$supplier.name}",
                    html: "<span class='parent'>{$supplier.code} - {$supplier.name}</span>",
                },
            {/foreach}
        ],
        escapeMarkup: function(markup) {
            return markup;
        },
        templateResult: function(data) {
            return data.html;
        },
    });
    $("#wholesales").select2({
        width: 'resolve',
        matcher: modelMatcher,
        allowClear: true,
        placeholder: '所有批發客戶',
        data: [
            {foreach from=$wholesales item=wholesale}
                {
                    id: {$wholesale.wsid},
                    text: "{$wholesale.company}",
                    html: "<span class='parent'>{$wholesale.company}</span>",
                },
            {/foreach}
        ],
        escapeMarkup: function(markup) {
            return markup;
        },
        templateResult: function(data) {
            return data.html;
        },
    });
    $("#salesagent").select2({
        width: 'resolve',
        matcher: modelMatcher,
        allowClear: true,
        placeholder: '所有代理銷售',
        data: [
            {foreach from=$salesagents item=salesagent}
                {
                    id: {$salesagent.sa_id},
                    text: "{$salesagent.name}",
                    html: "<span class='parent'>{$salesagent.name}</span>",
                },
            {/foreach}
        ],
        escapeMarkup: function(markup) {
            return markup;
        },
        templateResult: function(data) {
            return data.html;
        },
    });
})
function searchTxn() {
    $filter = [];
    $filter.start_date = $("input[name=start_date]").val()
    $filter.end_date = $("input[name=end_date]").val()
    $filter.search = $("input[name=search]").val()
    $filter.created_by = $("select[name=created_by]").val()
    $filter.posted_by = $("select[name=posted_by]").val()
    $filter.actg_type_id = $("select[name=actg_type_id]").val()
    $filter.supplier_id = $("select[name=supplier_id]").val()
    $filter.wsid = $("select[name=wsid]").val()
    $filter.sa_id = $("select[name=sa_id]").val()
    $filter.status = $("select[name=status]").val()
    $filter.reversed = $("input[name=reversed]:checked").length > 0 ? 1 : 0
    $filter.specific = $("input[name=specific]:checked").length > 0 ? 1 : 0
    $('#transactions').data('dt_params', $filter);
    $('#transactions').DataTable().draw();
}

// For select2 searching with optgroup
function modelMatcher(e,t){if(t.parentText=t.parentText||"",""===$.trim(e.term))return t;if(t.children&&t.children.length>0){for(var r=$.extend(!0,{},t),n=t.children.length-1;n>=0;n--){var l=t.children[n];l.parentText+=t.parentText+" "+t.text,null==modelMatcher(e,l)&&r.children.splice(n,1)}return r.children.length>0?r:modelMatcher(e,r)}var a=(t.parentText+" "+t.text+(t.parent," "+t.parent)).toUpperCase(),h=e.term.toUpperCase();return a.indexOf(h)>-1?t:null}

</script>
{insert_scripts files="select2/select2.min.js"}