{include file="pageheader.htm"}
<form action="accounting_report.php" method="post" name="form">
<div class=" x_panel">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <th width="30%"></th>
    <th width="70%"></th>
  </tr>
  <tr>
    <td class="label">帳戶名稱</td>
    <td>
      <input name="account_name" type="text" style="width: 280px;" placeholder="例： YOHO HSBC Saving" />
      <br>
      <span class="notice-span">用於識別帳戶的名稱</span>
    </td>
  </tr>
  <tr>
    <td class="label">帳戶號碼</td>
    <td>
      <input name="account_number" type="text" style="width: 280px;" placeholder="例： 456-348739-838" />
      <br>
      <span class="notice-span">只供參考的帳戶號碼，可以省略</span>
    </td>
  </tr>
  <tr>
    <td class="label">貨幣</td>
    <td>
      {foreach from=$currencies item=currency name=foo}
      <label>
        <input type="radio" name="currency_code" value="{$currency.currency_code}"{if $smarty.foreach.foo.first} checked="checked"{/if}>
        {$currency.currency_name}
      </label>
      {/foreach}
    </td>
  </tr>
  <tr>
    <td class="label">允許負結餘</td>
    <td>
      <input type="hidden" name="allow_debit" value="0">
      <input type="checkbox" name="allow_debit" value="1">
    </td>
  </tr>
  <tr>
    <td class="label">銀行帳戶</td>
    <td>
      <input type="checkbox" name="is_bank" value="1">
    </td>
  </tr>
  <tr align="center">
    <td colspan="2">
      <input type="hidden"  name="act"       value="insert_account" />
      <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
    </td>
  </tr>
</table>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}