<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{insert_scripts files="../js/utils.js"}
<script>
  var bank_options = [
    {name: '', value: 0},
    {foreach from=$bank_options item=opt}
    {name: '{$opt.bank_code}', value: '{$opt.bank_id}'},
    {/foreach}
  ];
</script>
<div class=" x_panel">
  <form method="POST" action="" name="listForm">
    <div class="x_title">
      <span class="pull-right"><input class="flat" type="checkbox" id="show_hide" {if $show_hidden}checked{/if} onClick="show_hidden();"> 顯示隱藏帳戶</span>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
      <table class="table table-striped table-bordered bulk_action">
        <thead>
        <tr>
          <th data-id="account_id" data-key="account_id"><a href="javascript:listTable.sort('account_id'); ">{$lang.record_id}</a>{$sort_account_id}</th>
          <th data-id="account_name" data-edit="1"><a href="javascript:listTable.sort('account_name'); ">帳戶名稱</a>{$sort_account_name}</th>
          <th data-id="account_number" data-edit="1" ><a href="javascript:listTable.sort('account_number'); ">帳戶號碼</a>{$sort_account_number}</th>
          <th data-id="currency_code" data-value="currency_name"><a href="javascript:listTable.sort('currency_code'); ">貨幣</a>{$sort_currency_code}</th>
          <th data-id="account_balance" data-value="account_balance_formatted"><a href="javascript:listTable.sort('account_balance'); ">Book Records Balance</a>{$sort_account_balance}</th>
          <th data-id="bank_balance" data-value="bank_balance_formatted" data-sort="0">Bank Records Balance</th>
          <th data-id="date" data-value="bank_date_formatted" data-sort="0">銀行結餘日期</th>
          <th data-id="is_hidden" data-type="toggle" data-edit="1">隱藏</th>
          <th data-id="is_default" data-type="toggle" data-edit="1">預設退款</th>
          <th data-id="bank_id" data-value="bank_code" data-options="bank_options" data-type="select" data-edit="1" data-sort="0">CSV 模版</th>
          <th data-id="_action">{$lang.handler}</th>
        </tr>
        </thead>
      </table>
    </div>
  </form>
</div>
{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">
yohoTable.query = 'query_summary';
yohoTable.paging = false;
yohoTable.rowCallback = function($row, $account, $index) {
  if( $account.is_hidden == 1 )$($row).addClass('is_hidden');
};
yohoTable.drawCallback = function() {
  show_hidden();
};
$table = yoho_dataTable();
function show_hidden(){
  $true = $('input[type=checkbox]').attr("checked") ? 1 : 0;
  if($true) {
    $('.is_hidden').show();
  } else {
    $('.is_hidden').hide();
  }
}

function bank_callback(account_id, result) {
  $table.draw();
}
</script>
{/literal}
