{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
<link href="css/select2.min.css" rel="stylesheet" type="text/css" />
<style>
.removeTxn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 3px 4px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.txn .input-group {
    margin-bottom: 0;
}
.txn_sum {
    float: right;
    font-size: 15px;
}
.txn label {
    padding-right: 30px;
}
.txn div {
    padding: 0;
}
.txn_section {
    padding-top: 8px;
    border-right: 1px solid;
}
.txn_section label {
    text-align: center;
}
.txn_section + .txn_section {
    border: none;
    border-left: 1px solid;
    margin-left: -1px;
}
.select2-search__field {
    border-radius: 4px;
    display: block;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.select2-results {
    color: black;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 3px;
}
.select2-container--default .select2-results>.select2-results__options {
    max-height: 400px;
}
.select2-container--default .select2-results .parent {
    font-weight: bold;
}
.select2-container--default .select2-results .child {
    padding-left: 10px;
}
.txn_header div, #debit, #credit {
    text-align: center;
    padding: 0;
}
#debit, #credit {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid;
}
.txn_container input[type=number], .txn_container input.txn_currencies {
    border-color: #aaa;
    height: 38px;
}
.forex-container{
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
}
</style>

<div class='x_panel'>
    <form action="" method="post" name="insertForm" class="tab-content form-horizontal form-label-left">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">操作員</label>
            <label class="control-label col-md-3 col-sm-3 col-xs-12" style="text-align: left">{$admin_name}</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">交易資料</label>
            <div class="col-md-9 col-sm-9 col-xs-12" id="txns" style="padding:0;">
                <div class="col-md-12 txn_header">
                    <div class="col-md-4">帳戶</div>
                    <div class="col-md-1">貨幣</div>
                    <div class="col-md-2">Debit</div>
                    <div class="col-md-2">Credit</div>
                    <div class="col-md-1">HKD 價格</div>
                    <div class="col-md-1">Exchange Rate</div>
                    <div class="col-md-1"></div>
                </div>
                <div class="col-md-12 txn_container" style="padding:0;"></div>
                <div class="col-md-12 txn_footer">
                    <div class="col-md-4" style="margin-top: 10px;padding:0;">
                        <input class="btn btn-sm btn-success" type="button" value="新增" onclick="addNewData()">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2" id="debit">
                        <span class="total">HK$0.00</span>
                    </div>
                    <div class="col-md-2" id="credit">
                        <span class="total">HK$0.00</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">貨幣</label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <select name="currency_code" style="width: 250px">
                    {foreach from=$currencies item=currency}
                    <option value="{$currency.currency_code}">{$currency.currency_name}</option>
                    {/foreach}
                </select>
            </div>
        </div> -->
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">交易日期</label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <input name="txn_date" class="form-control" type='text' data-type="datetime">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">會計月份</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-3 col-sm-3 col-xs-3 input-group" style="float:inherit;padding-right:inherit;">
                    <input name="actg_month_year" class="form-control col-6" type='number' step="1" min="2000" max="3000"> <div class="input-group-addon">年</div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 input-group" style="float:inherit;padding-right:inherit;">
                    <input name="actg_month_month" class="form-control col-6" type='number' step="1" min="1" max="12"> <div class="input-group-addon">月</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">備註</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea name="remark" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div id="errorMsg" class="red"></div>
                <input name="create_by" value="{$admin_id}" type='hidden'>
                <input name="act" value="update" type='hidden'>
                <input id="submit" class="btn btn-info" type="submit" disabled>
            </div>
        </div>
    </form>
</div>

<script>
$(function() {
    addNewData('debit');
    addNewData('credit');
})
var currencies = {
    {foreach from=$currencies item=currency}
    {$currency.currency_code}: {$currency.currency_rate},
    {/foreach}
}
function addNewData(init) {
    var $html = $('<div class="col-md-12 txn">' +
                    '<div class="col-md-4">' +
                        '<select class="select2 types" name="txn_type_ids[]" style="width: 100%"><option></option></select>' +
                    '</div>' +
                    '<div class="col-md-1">' +
                        '<input name="txn_currency[]" class="form-control txn_currencies" type="text" value="HKD" readonly>' +
                    '</div>' +
                    '<div class="col-md-4">' +
                        '<div class="input-group" style="width:100.2%">' +
                            '<input name="debit_txn_amount[]" class="form-control txn_amount debit' + (init == 'credit' ? ' force" disabled' : '"') + ' type="number" min="0.00" value="0.00" step=".01" data-currency="HKD">' +
                            '<span class="input-group-btn" style="width:0px;"></span>' +
                            '<input name="credit_txn_amount[]" class="form-control txn_amount credit' + (init == 'debit' ? ' force" disabled' : '"') + ' type="number" min="0.00" value="0.00" step=".01" data-currency="HKD">' +
                        '</div>' +
                    '</div>' +
                    '<div class="col-md-1">' +
                        '<input name="exchanged_value[]" class="form-control txn_amount -fixed ' + init + '" type="number" min="0.00" step=".01" value="0.00" data-currency="HKD">' +
                    '</div>' +
                    '<div class="col-md-1 forex-container">' +
                        '<span name="forex-rate[]" class="forex-container ' + init + '">1.0000</span>' +
                    '</div>' +
                    '<div class="col-md-1">' +
                    (init ? '' : '<div class="removeTxn btn-danger"><span class="fa fa-times"></span></div>') +
                    '</div>' +
                '</div>');
    $html.find('select.select2.types').select2({
        width: 'resolve',
        matcher: modelMatcher,
        placeholder: '{$lang.select_please}',
        allowClear: true,
        data: [
            {foreach from=$txn_types item=type}
                {foreach from=$type.children item=child}
                {
                    id: {$child.actg_type_id},
                    text: '{$child.actg_type_code} - {$child.actg_type_name}',
                    html: '<span class="parent">{$child.actg_type_code} - {$child.actg_type_name}</span>',
                    currency: '{$child.currency_code|default:HKD}',
                    {if $child.children}
                    children: [
                        {foreach from=$child.children item=grandchild}
                        {
                            id: {$grandchild.actg_type_id},
                            text: '{$grandchild.actg_type_code} - {$grandchild.actg_type_name}',
                            html: '<span class="child">{$grandchild.actg_type_code} - {$grandchild.actg_type_name}</span>',
                            currency: '{$grandchild.currency_code|default:HKD}',
                        },
                        {/foreach}
                    ],
                    {/if}
                },
                {/foreach}
            {/foreach}
        ],
        escapeMarkup: function(markup) {
            return markup;
        },
        templateResult: function(data) {
            return data.html;
        },
    })
    $html.find('select.select2.types').on('select2:selecting', function(e) {
        $html.find('input.txn_currencies').val(e.params.args.data.currency)
        $html.find('.forex-container').text(parseFloat(currencies[e.params.args.data.currency]).toFixed(4).toString());
        $html.find('input.txn_amount').data('currency', e.params.args.data.currency)
    })
    $("#txns .txn_container").append($html);
}

$(document).on('click', '.removeTxn', function (e) {
    $(e.target).parents('.txn').remove()
}).on('change', 'input[name*=txn_amount], select[name*=txn_type_ids]', function (e) {
    if ($(e.target).val() == "" || Math.abs(parseFloat($(e.target).val())) == 0) {
        $(e.target).parents('.txn').find('.txn_amount:not(.force)').attr('disabled', false).val('0.00');
        $(e.target).parents('.txn').find('.forex-container').text(currencies[$(e.target).parents('.txn').find('.txn_amount.credit').data('currency')].toFixed(4).toString());
    } else {
        if ($(e.target).hasClass('credit')) {
            $(e.target).parents('.txn').find('.txn_amount.debit').attr('disabled', true).val('0.00')
        } else if ($(e.target).hasClass('debit')) {
            $(e.target).parents('.txn').find('.txn_amount.credit').attr('disabled', true).val('0.00')
        }
    }
    checkFormComplete();
}).on('dp.change', 'input[name=txn_date]', function (event) {
    var momentObj = moment($(event.target).val());
    $("input[name=actg_month_year]").val(pad(momentObj.year(), 4));
    $("input[name=actg_month_month]").val(pad(momentObj.month() + 1, 2));
    checkFormComplete();
}).on('change', 'input[name=actg_month_year]', function () {
    $("input[name=actg_month_year]").val(pad($("input[name=actg_month_year]").val(), 4));
    checkFormComplete();
}).on('change', 'input[name=actg_month_month]', function () {
    $("input[name=actg_month_month]").val(pad($("input[name=actg_month_month]").val(), 2));
    checkFormComplete();
}).on('change', '.txn_amount', function (e) {
    if ($(e.target).val() == "" || Math.abs(parseFloat($(e.target).val())) == 0) {
        $(e.target).val('0.00');
        $(e.target).closest('.txn').find('.forex-container').text(currencies[$(e.target).closest('.txn').find('.txn_amount.credit').data('currency')].toFixed(4).toString());
        // Reset HKD amount to default pre-filled value
        if ($(e.target).hasClass('-fixed')) {
            $(e.target).closest('.txn').find('.txn_amount.-fixed').val((parseFloat($(e.target).closest('.txn').find('.txn_amount:not(.-fixed,:disabled)').val()) * parseFloat(currencies[$(e.target).closest('.txn').find('.txn_amount:not(.-fixed,:disabled)').data('currency')])).toFixed(2));
        }
    } else {
        var amount = 0;
        amount = $(e.target).closest('.txn').find('.txn_amount:not(.-fixed, :disabled)').val();
        exchanged_amount = ($(e.target).hasClass('-fixed')) ? $(e.target).val() : amount * currencies[$(e.target).closest('.txn').find('.txn_amount.debit').data('currency')];
        
        $(e.target).closest('.txn').find('.txn_amount.-fixed').val(parseFloat(exchanged_amount).toFixed(2));

        if (amount == 0) {
            if ($(e.target).hasClass('credit')) {
                $(e.target).closest('.txn').find('.txn_amount.credit:not(.-fixed)').val(parseFloat($(e.target).val()) / currencies[$(e.target).closest('.txn').find('.txn_amount.credit').data('currency')]);
                amount = $(e.target).closest('.txn').find('.txn_amount.credit:not(.-fixed)').val();
            } else if ($(e.target).hasClass('debit')) {
                $(e.target).closest('.txn').find('.txn_amount.debit:not(.-fixed)').val(parseFloat($(e.target).val()) / currencies[$(e.target).closest('.txn').find('.txn_amount.debit').data('currency')]);
               amount = $(e.target).closest('.txn').find('.txn_amount.debit:not(.-fixed)').val();
            }
        }

        var exchange_rate = parseFloat(exchanged_amount) / parseFloat(amount) ;
        $(e.target).closest('.txn').find('.forex-container').text(parseFloat(exchange_rate).toFixed(4).toString());
    }
    checkFormComplete();
}).on('submit', 'form[name=insertForm]', function(e) {
    if (!checkFormComplete()) {
        e.preventDefault()
    }
    $('.txn_amount').attr('disabled', false)
}).on('click', 'input[name*=txn_amount]', function (e) {
    if (parseFloat($(e.target).val()) == 0) {
        $(e.target).val("")
    }
}).on('blur', 'input[name*=txn_amount]', function (e) {
    if ($(e.target).val() == "") {
        $(e.target).val("0.00").trigger('change')
    }
})

//### Function to add leading zero(s), curtesy of https://codepen.io/underthex/pen/txjge
function pad(num, size) {
    var s = num+"";
    while (s.length < size) s = "0" + s;
    return s;
}
//### END Function to add leading zero(s)

// For select2 searching with optgroup
function modelMatcher(e,t){if(t.parentText=t.parentText||"",""===$.trim(e.term))return t;if(t.children&&t.children.length>0){for(var r=$.extend(!0,{},t),n=t.children.length-1;n>=0;n--){var l=t.children[n];l.parentText+=t.parentText+" "+t.text,null==modelMatcher(e,l)&&r.children.splice(n,1)}return r.children.length>0?r:modelMatcher(e,r)}var a=(t.parentText+" "+t.text+(t.parent," "+t.parent)).toUpperCase(),h=e.term.toUpperCase();return a.indexOf(h)>-1?t:null}

function checkFormComplete() {
    var debit = 0;
    var credit = 0;
    $.each($('input[name*=debit_txn_amount]:not(:disabled)'), (index, elem) => {
        if ($(elem).val() == "") {
            $(elem).val(0);
        }
        var amount = Math.abs(parseFloat($(elem).val()));
        $(elem).val(amount.toFixed(2));
        $exchanged_amount = parseFloat($(elem).closest('.txn').find('.txn_amount.-fixed').val());
        debit += $exchanged_amount;
    })
    $.each($('input[name*=credit_txn_amount]:not(:disabled)'), (index, elem) => {
        if ($(elem).val() == "") {
            $(elem).val(0);
        }
        var amount = Math.abs(parseFloat($(elem).val()));
        $(elem).val(amount.toFixed(2));
        $exchanged_amount = parseFloat($(elem).closest('.txn').find('.txn_amount.-fixed').val());
        credit += $exchanged_amount;
    })
    credit *= -1;
    if (debit != 0) {
        $("#debit .total").html('<span class="green">HK$' + numberWithCommas(Math.abs(debit).toFixed(2)) + '</span>');
    } else {
        $("#debit .total").html('HK$0.00')
    }
    if (credit != 0) {
        $("#credit .total").html('<span class="red">(HK$' + numberWithCommas(Math.abs(credit).toFixed(2)) + ')</span>');
    } else {
        $("#credit .total").html('HK$0.00')
    }

    var msg = "";
    if (Math.abs(debit) > 0 && Math.abs(credit) > 0) {
        if (debit + credit != 0) {
            msg = "{$lang.mismatch_amount}";
        }
    } else {
        msg = "{$lang.empty_amount}";
    }
    
    $.each($('select[name*=txn_type_ids]'), (index, elem) => {
        if (msg == "" && $(elem).val() == "") {
            msg = "{$lang.empty_account}";
        }
    })

    if (msg == "" && $("input[name=txn_date]").val() == "") {
        msg = "{$lang.empty_date}";
    }

    if (msg == "" && (($("input[name=actg_month_year]").val() == "" || isNaN($("input[name=actg_month_year]").val())) || ($("input[name=actg_month_month]").val() == "" || isNaN($("input[name=actg_month_month]").val())))) {
        msg = "{$lang.empty_date}";
    }

    $("input#submit").attr('disabled', true)
    $("#errorMsg").text(msg)
    if (msg == "") {
        $("input#submit").attr('disabled', false)
    }
    return msg == "";
}

// Curtesy of https://stackoverflow.com/questions/2901102/how-to-print-a-number-with-commas-as-thousands-separators-in-javascript
function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
</script>

{include file="pagefooter.htm"}
{insert_scripts files="select2/select2.min.js"}