<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{insert_scripts files="../js/utils.js,listtable.js"}
<script>
  var txn_type_options = {$txn_types_json};
</script>
<div class=" x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH">
    <label>
      {$lang.start_date}
      <input name="start_date" type="text" id="start_date" size="12" value='{$start_date}' class="form-control" data-type="date" />
    </label>
    <label>
      {$lang.end_date}
      <input name="end_date" type="text" id="end_date" size="12" value='{$end_date}' class="form-control" data-type="date" />
    </label>
    <label>
      <select class="form-control" name="account">
        <option value="0">- 所有賬戶 -</option>
        {foreach from=$accounts item=account}
        <option value="{$account.account_id}"{if $account.account_id eq $filter.account} selected="selected"{/if}>{$account.account_name}</option>
        {/foreach}
      </select>
    </label>
    <label>
      <select class="form-control" name="payment_type">
        <option value="0">- 所有方式 -</option>
        {foreach from=$payment_types item=type}
        <option value="{$type.payment_type_id}"{if $type.payment_type_id eq $filter.payment_type} selected="selected"{/if}>{$type.payment_type_name}</option>
        {/foreach}
      </select>
    </label>
    <label>
      <select class="form-control" name="txn_type">
        <option value="0">- 所有交易 -</option>
        <option value="1"{if $filter.txn_type eq 1} selected="selected"{/if}>收入</option>
        <option value="2"{if $filter.txn_type eq 2} selected="selected"{/if}>支出</option>
        <option value="-1"{if $filter.txn_type eq -1} selected="selected"{/if}>未完成</option>
      </select>
    </label>
    <label>
      <select class="form-control" name="txn_type_id">
        <option value="-1">- 所有分類 -</option>
        {foreach from=$txn_types item=type name=foo}
        <option value="{$type.txn_type_id}">{$type.txn_type_name}</option>
        {if count($type.children) gt 0}
        {foreach from=$type.children item=subtype name=foo2}
        <option value="{$subtype.txn_type_id}">　{$subtype.txn_type_name}</option>
        {/foreach}
        {/if}
        {/foreach}
      </select>
    </label>
    <br>
    <label>
      <select class="form-control" name="admin_id">
        <option value="-1">- 所有操作員 -</option>
        <option value="0">系統生成</option>
        {foreach from=$operators item=operator}
        <option value="{$operator.user_id}">{$operator.user_name}</option>
        {/foreach}
      </select>
    </label>
    <label>
      <input class="form-control" name="txn_remark" type="text" id="txn_remark" size="15" placeholder="備註">
    </label>
    <input type="checkbox" class="flat" id="show_completetime" value="1" {if $filter.show_completetime}checked{/if}> 加入時間
    <input type="checkbox" id="show_reversetxn" class="flat" value="1" {if $filter.show_reversetxn}checked{/if}> Reverse Transaction
    <input type="submit" name="submit" value="{$lang.query}" class="btn btn-success form-btn" />
  </form>
</div>
<form method="POST" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
  <table class="table table-striped table-bordered bulk_action">
     <tr>
      <th><a href="javascript:listTable.sort('txn_id');">交易編號</a>{$sort_txn_id}</th>
      <th><a href="javascript:listTable.sort('account_id');">帳戶</a>{$sort_account_id}</th>
      {if $filter.show_completetime}<th><a href="javascript:listTable.sort('add_date');">加入時間</a>{$sort_add_date}</th>{/if}
      <th><a href="javascript:listTable.sort('complete_seq');">完成時間</a>{$sort_complete_seq}</th>
      {if $filter.show_bankdate}<th><a href="javascript:listTable.sort('bank_date');">銀行時間</a>{$sort_bank_date}</th>{/if}
      <th>會計月份</th>
      <th><a href="javascript:listTable.sort('txn_type_id');">分類</a>{$sort_txn_type_id}</th>
      <th><a href="javascript:listTable.sort('remark');">備註</a>{$sort_remark}</th>
      <th><a href="javascript:listTable.sort('amount');">金額</a>{$sort_amount}</th>
      {if $filter.txn_type neq -1}<th>帳戶結餘</th>{/if}
      <th><a href="javascript:listTable.sort('payment_type_id');">付款方式</a>{$sort_payment_type_id}</th>
      <th><a href="javascript:listTable.sort('admin_id');">操作員</a>{$sort_admin_id}</th>
      {if $filter.txn_type eq -1}<th>操作</th>{/if}
    </tr>
  {foreach from=$transactions item=txn name=foo}
  {if $filter.account && !$filter.txn_type && $filter.sort_by eq 'complete_seq' && strtolower($filter.sort_order) eq 'asc' && $filter.page eq 1 && $smarty.foreach.foo.first}
    <tr align="center">
      <td align="center">&nbsp;</td>
      <td align="center">{$txn.account_name}</td>
      <td align="center">&nbsp;</td>
      {if $filter.show_completetime}<td align="center">{$txn.complete_date_formatted}</td>{/if}
      {if $filter.show_bankdate}<td algin="center">&nbsp;</td>{/if}
      <td align="center">&nbsp;</td>
      <td align="left">Opening Balance</td>
      <td align="center">&nbsp;</td>
      <td align="center">{$txn.opening_balance_formatted}</td>
      <td align="center">&nbsp;</td>
    </tr>
  {/if}
    <tr align="center">
      <td align="center">{$txn.txn_id}</td>
      <td align="center">{$txn.account_name}</td>
      {if $filter.show_completetime}<td align="center">{$txn.add_date_formatted}</td>{/if}
      <td align="center">
        {if ($smarty.session.manage_cost || $smarty.session.is_accountant) && $txn.admin_id && $txn.can_edit}
        <span onclick="listTable.edit(this, 'edit_complete_date', {$txn.txn_id});showCalendar(this.firstChild, '%Y-%m-%d %H:%M', '24', false, this.firstChild);">{$txn.complete_date_formatted|default:未完成}</span>
        {else}
        {$txn.complete_date_formatted|default:未完成}
        {/if}
      </td>
      {if $filter.show_bankdate}<td align="center"><span onclick="listTable.edit(this, 'edit_txn_bank_date', {$txn.txn_id});showCalendar(this.firstChild, '%Y-%m-%d %H:%M', '24', false, this.firstChild);">{$txn.bank_date_formatted|default:N/A}</span></td>{/if}
      <td align="center">
        {if $smarty.session.manage_cost || $smarty.session.is_accountant}
        <span onclick="listTable.edit(this, 'edit_expense_year', {$txn.txn_id})">{$txn.expense_year}</span> - 
        <span onclick="listTable.edit(this, 'edit_expense_month', {$txn.txn_id})">{$txn.expense_month}</span>
        {else}
        {$txn.expense_year} - {$txn.expense_month}
        {/if}
      </td>
      <td align="center"><span onclick="listTable.dropdown(this, 'edit_txn_type_id', {$txn.txn_id}, txn_type_options)">{$txn.txn_type_name|default:N/A}</span></td>
      <td align="left">
        {if ($smarty.session.manage_cost || $smarty.session.is_accountant) && $txn.admin_id && $txn.can_edit}
        <span onclick="listTable.edit(this, 'edit_remark', {$txn.txn_id})">{$txn.remark}</span>
        {else}
        {$txn.remark}
        {/if}
      </td>
      <td align="center">{$txn.amount_formatted}</td>
      {if $filter.txn_type neq -1}<td align="center">{$txn.closing_balance_formatted}</td>{/if}
      <td align="center">{$txn.payment_type_name}</td>
      <td align="center">{$txn.admin_name}</td>
      {if $filter.txn_type eq -1}<td align="center"><a href="javascript:void(0)" onclick="javascript:completeTransaction('{$txn.txn_id}')">完成交易</a></td>{/if}
    </tr>
  {if $filter.account && !$filter.txn_type && $filter.sort_by eq 'complete_seq' && strtolower($filter.sort_order) eq 'asc' && $filter.page eq $filter.page_count && $smarty.foreach.foo.last}
    <tr align="center">
      <td align="center">&nbsp;</td>
      <td align="center">{$txn.account_name}</td>
      <td align="center">&nbsp;</td>
      {if $filter.show_completetime}<td align="center">{$txn.complete_date_formatted}</td>{/if}
      {if $filter.show_bankdate}<td align="center">&nbsp;</td>{/if}
      <td align="center">&nbsp;</td>
      <td align="left">Closing Balance</td>
      <td align="center">&nbsp;</td>
      <td align="center">{$txn.closing_balance_formatted}</td>
      <td align="center">&nbsp;</td>
    </tr>
  {/if}
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
  <table id="page-table" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
  </table>
{if $full_page}
</div>
</form>
</div>
<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  getDownUrl();
}

function getList()
{
    var frm =  document.forms['TimeInterval'];
    listTable.filter['start_date'] = frm.elements['start_date'].value;
    listTable.filter['end_date'] = frm.elements['end_date'].value;
    listTable.filter['account'] = frm.elements['account'].value;
    listTable.filter['payment_type'] = frm.elements['payment_type'].value;
    listTable.filter['txn_type'] = frm.elements['txn_type'].value;
    listTable.filter['txn_remark'] = frm.elements['txn_remark'].value;
    listTable.filter['txn_type_id'] = frm.elements['txn_type_id'].value;
    listTable.filter['show_completetime'] = document.getElementById('show_completetime').checked ? 1 : 0;
    listTable.filter['show_reversetxn'] = document.getElementById('show_reversetxn').checked ? 1 : 0;
    listTable.filter['admin_id'] = frm.elements['admin_id'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
    getDownUrl();
}

function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
  for (var i = 0; i < aTags.length; i++)
  { 
    if (aTags[i].href.indexOf('download') >= 0)
    {
      if (listTable.filter['start_date'] == "")
      {
        var frm =  document.forms['TimeInterval'];
        listTable.filter['start_date'] = frm.elements['start_date'].value;
        listTable.filter['end_date'] = frm.elements['end_date'].value;
        listTable.filter['account'] = frm.elements['account'].value;
        listTable.filter['payment_type'] = frm.elements['payment_type'].value;
        listTable.filter['txn_type'] = frm.elements['txn_type'].value;
        listTable.filter['txn_remark'] = frm.elements['txn_remark'].value;
        listTable.filter['txn_type_id'] = frm.elements['txn_type_id'].value;
        listTable.filter['admin_id'] = frm.elements['admin_id'].value;
      }
      aTags[i].href = "accounting_report.php?act=download&start_date=" + listTable.filter['start_date'] + "&end_date=" + listTable.filter['end_date'] + "&account=" + listTable.filter['account'] + "&payment_type=" + listTable.filter['payment_type'] + "&txn_type=" + listTable.filter['txn_type'] + "&txn_remark=" + listTable.filter['txn_remark'] + "&txn_type_id=" + listTable.filter['txn_type_id'] + "&admin_id=" + listTable.filter['admin_id'] + "&show_reversetxn=" + (document.getElementById('show_reversetxn').checked ? 1 : 0);
    }
  }
}

function completeTransaction(txn_id)
{
  try
  {
    Ajax.call('accounting_report.php?is_ajax=1&act=complete_txn&txn_id=' + txn_id, '', completeTransactionResponse, 'GET', 'JSON');
  }
  catch (e) { }
}

function completeTransactionResponse(result)
{
  try
  {
    alert(result.message);
    if (!result.error)
    {
      // reload the list
      getList();
    }
  }
  catch (e) { }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}