{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}

<div class=" x_panel">
    <table class="table table-striped table-bordered bulk_action">
        <thead>
            <tr>
                <th data-id="actg_type_id" data-key="actg_type_id" data-value="actg_type_code" data-sort="0">代號</th>
                <th data-id="actg_type_name" data-tree="1" data-sort="0">名稱</th>
                <th data-id="enabled" data-sort="0" data-type="toggle" data-edit='1'>啟用</th>
                <th data-id="_action">{$lang.handler}</th>
            </tr>
        </thead>
    </table>
</div>

{include file="pagefooter.htm"}
<script>
yohoTable.rowCallback = function($row, $type, $index) {
    if ($type.parent_id == 0) {
        $($row).find('span.cellEdit_toggle').removeClass('cellEdit_toggle')
    }
}
var $table = yoho_dataTable();

function insertNewCategory(id, item) {
    $.ajax({
        url: 'accounting_system_type.php',
        data: {
            act: 'get_next_code',
            actg_type_id: id,
        },
        dataType: 'json',
        success: function(res) {
            var valid_code = res.content.vcode;
            $div = $('<div class="form-div"></div>');
            $form = $('<form></form>');
            $submit = $("<input class='btn btn-sm btn-info' type='submit'>")
            var title = '';
            var type = typeof item === 'undefined' ? '類別' : '帳戶';
            if (id == 0) {
                $select = $("<select name='actg_type_code'><option value='-1'></option></select>");
                valid_code.map((v)=>$select.append('<option value="' + v + '">' + v + '</option>'));
                $form.append('<label>請選擇代號:</label>');
                $form.append($select);
                title = '建立新類別';
                
                $submit.click(function(e) {
                    if ($form.find('input[name=actg_type_name]').val() == "") {
                        alert('未輸入類別名稱');
                        e.preventDefault();
                    } else if ($select.val() == '-1') {
                        alert('未選擇代號');
                        e.preventDefault();
                    }
                })
            } else {
                $form.append('<label>主類別</label>: ' + res.content.name + '<br><label>代號:</label> ' + res.content.code + '<br><br>');
                $input = $("<input class='form-control' type='text' name='actg_type_code' onkeyup='this.value = this.value.toUpperCase()'>");
                $form.append('<label>請輸入子' + type + '代號:</label>');
                $form.append($input);
                title = '建立子' + type;
                
                $submit.click(function(e) {
                    if ($form.find('input[name=actg_type_name]').val() == "") {
                        alert('未輸入' + type + '名稱');
                        e.preventDefault();
                    } else if ($input.val() == '') {
                        alert('未輸入代號');
                        e.preventDefault();
                    } else if (typeof res.content.start !== 'undefined' && typeof res.content.end !== 'undefined') {
                        if (res.content.ucode.indexOf($input.val()) != -1 || (typeof item === 'undefined' && parseInt($input.val()) % 100 != 0) || (typeof item !== 'undefined' && parseInt($input.val()) % 100 == 0)) {
                            alert('無法使用此代號');
                            e.preventDefault();
                        }
                    } else if (valid_code.indexOf($input.val()) == -1) {
                        alert('無法使用此代號');
                        e.preventDefault();
                    }
                })
            }
            $form.append(
                '<br><label>請輸入' + type + '名稱:</label><input class="form-control" name="actg_type_name">' +
                '<input name="parent_id" value="' + id + '" type="hidden">' +
                '<input name="act" value="insert" type="hidden"><br>'
            );
            $form.append($submit);
            $div.append($form);
            $popup = modal.create(title, $div, false, 'sm')
            modal.show($popup);
        }
    })
}
</script>