{include file="pageheader.htm"}


<div class="list-div  x_panel">
    <table class="table table-striped jambo_table">
        <thead><tr><th>類別</th><th>子項目</th><th>操作</th></tr></thead>
        {foreach from=$txn_types item=type name=foo}
        <tr>
            <td><b>{$type.txn_type_name}</b></td>
            <td>
                {if count($type.children) gt 0}
                    {foreach from=$type.children item=subtype name=foo2}
                    {$subtype.txn_type_name},
                    {/foreach}
                {/if}
            </td>
            <td>
                <span class="_action" data-source="_action">
                    <div class="btn-group  btn-group-sm">
                        <a href="accounting_report.php?act=edit_txn_type&txn_type={$type.txn_type_id}" title="編輯交易類別" class="btn btn-info act_edit btn-xs"><i class="fa fa-edit"> </i> 編輯</a>
                        <a href="javascript:deleteTxnType({$type.txn_type_id})" title="移除交易類別" class="btn btn-danger act_remove btn-sm"><i class="fa fa-trash"></i> 刪除</a>
                    </div>
                </span>
            </td>
        </tr>
        {/foreach}
    </table>
</div>
<script>
function deleteTxnType(txn_id){
    confirm("移除類別會一併移除其子項目，你是否繼續?")
        ? $.ajax({
            url: 'accounting_report.php',
            dataType: "json",
            data: {
                act: 'delete_txn_type',
                txn_type_id: txn_id,
                parent: 1
            },
            success:function(res){
                if(res.error == 1)
                    alert(res.message)
                else
                    location.reload()
            }
        })
        : true;
}
</script>
{include file="pagefooter.htm"}