{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<div class=" x_panel">
<form class="tab-content form-horizontal form-label-left" action="ad_campaign.php?act=submit_campaign" method="post" name="theForm" enctype="multipart/form-data">
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.campaign_name}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" class="form-control" name="ad_campaign_name" value="{$campaign.ad_campaign_name}" size="35" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.campaign_desc}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <textarea name="ad_campaign_desc" class="form-control" cols="33" rows="6">{$campaign.ad_campaign_desc}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.start_date}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input name="start_time" class="form-control" type="text" id="start_time" size="22" value='{$campaign.start_time}' data-type="datetime" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.end_date}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input name="end_time" class="form-control" type="text" id="end_time" size="22" value='{$campaign.end_time}' data-type="datetime" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.enabled}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="radio" class="flat" name="enabled" value="1" {if $campaign.enabled eq 1} checked="true" {/if} />{$lang.is_enabled}
        <input type="radio" class="flat" name="enabled" value="0" {if $campaign.enabled eq 0} checked="true" {/if} />{$lang.no_enabled}
      </div>
    </div>
    <div class="form-group">
      <div class="ln_solid"></div>
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
          <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
          <input type="reset"  value="{$lang.button_reset}" class="btn btn-primary" />
          <input type="hidden" name="act" value="{$form_act}" />
          <input type="hidden" name="action" value="{$action}" />
          <input type="hidden" name="id"  value="{$campaign.ad_campaign_id}" />
      </div>
    </div>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}

<script language="JavaScript">
  /**
   * 检查表单输入的数据
   */
  function validate()
  {
    validator = new Validator("theForm");
    validator.required("ad_name",     ad_name_empty);
    return validator.passed();
  }

  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
    document.forms['theForm'].reset();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
