<!-- $Id: ad_campaign_list.htm $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<form method="post" action="" name="listForm">
<!-- start ad campaign list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

<table id="#" class="table table-striped table-bordered bulk_action ">
  <tr>
    <th><a href="javascript:listTable.sort('ad_campaign_name'); ">{$lang.campaign_name}</a>{$sort_ad_campaign_name}</th>
    <th><a href="javascript:listTable.sort('ad_campaign_desc'); ">{$lang.campaign_desc}</a>{$sort_ad_campaign_desc}</th>
    <th><a href="javascript:listTable.sort('start_time'); ">{$lang.start_date}</a>{$sort_start_time}</th>
    <th><a href="javascript:listTable.sort('end_time'); ">{$lang.end_date}</a>{$sort_end_time}</th>
    <th><a href="javascript:listTable.sort('click_count'); ">{$lang.click_count}</a>{$sort_click_count}</th>
    <th><a href="javascript:listTable.sort('ad_stats'); ">{$lang.ads_stats}</a>{$sort_ad_stats}</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$list item=campaign}
  <tr>
    <td class="first-cell">
      <a href="ads.php?act=list&campaign_id={$campaign.ad_campaign_id}" title="{$lang.view}">
      {$campaign.ad_campaign_name|escape:html}</a>
    </td>
    <td align="center">{$campaign.ad_campaign_desc|escape:html}</td>
    <td align="center"><span style="color: {if $campaign.after_start}#04B431{else}#8A0808{/if};">{$campaign.start_date}</span></td>
    <td align="center"><span style="color: {if $campaign.before_end}#04B431{else}#8A0808{/if};">{$campaign.end_date}</span></td>
    <td align="right"><span>{$campaign.click_count}</span></td>
    <td align="right"><span>{$campaign.ad_stats}</span></td>
    <td align="center">
      <a href="ads.php?act=list&campaign_id={$campaign.ad_campaign_id}" title="{$lang.view}">
      <img src="images/icon_view.gif" border="0" height="16" width="16" /></a>
      <a href="ad_campaign.php?act=edit&id={$campaign.ad_campaign_id}" title="{$lang.edit}">
      <img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
    </td>
  </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="7">{$lang.no_campaign}</td></tr>
  {/foreach}
  <tr>
    <td align="right" nowrap="true" colspan="7">{include file="page.htm"}</td>
  </tr>
</table>

{if $full_page}
</div>
<!-- end ad_campaign list -->
</form>

<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}
  onload = function()
  {
    // &#64138;&#53036;&#10870;鵥
    startCheckOrder();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
