<!-- $Id: ads_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js"}
<div class=" x_panel">
  <form method="post" action="" name="listForm" class="form-inline">
    <!-- start ad pos list -->
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
      <table id="#" class="table table-striped table-bordered bulk_action ">
        <thead>
          <tr class="headings">
            <th data-id="ad_name" data-class="ad_name" data-id="ad_name" data-key="ad_id">{$lang.ad_name}</th>
            <th data-id="media_type" data-value="type">{$lang.media_type}</th>
            <th data-id="preview_url" data-value="preview_url" data-sort="0">{$lang.preview_url}</th>
            <th data-id="start_time" data-value="start_date" data-order="1">{$lang.start_date}</th>
            <th data-id="end_time" data-value="end_date">{$lang.end_date}</th>
            <th class="actionsCol" data-id="_action">{$lang.handler}</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </form>
</div>
<!-- end ad_position list -->

{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">

  {literal}
  yohoTable.rowCallback = function( row, data, dataIndex ) {
    var preview = '';
    switch (data.media_type) {
      case '0':
        preview = '<img src='+data.preview_url+' width="192" height="108"/>';
        break;
      case '4':
        preview = '<video width="192" height="108">\
                    <source src="'+data.preview_url+'#t=0.5" type="video/mp4">\
                    Your browser does not support the video tag.\
                  </video>';
        break;
      default:
        preview = data.preview_url;
        break;
    }
    $(row).find('.preview_url').html(preview);
  };
  var $table = yoho_dataTable();
  {/literal}
</script>
