<!-- $Id: ad_position_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js"}
<div class=" x_panel">
<form method="post" action="" name="listForm">
<!-- start ad position list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

<table id="#" class="table table-striped table-bordered bulk_action ">
  <thead>
    <tr class="headings">
      <th data-id="position_name" data-key="position_id" data-sort="0">{$lang.position_name}</th>
      <th data-id="ad_width" data-sort="0">{$lang.posit_width}</th>
      <th data-id="ad_height" data-sort="0">{$lang.posit_height}</th>
      <th data-id="position_desc" data-sort="0">{$lang.position_desc}</th>
      <th class="actionsCol" data-id="_action">{$lang.handler}</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

{if $full_page}
</div>
</div>
<!-- end ad_position list -->
</form>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
  var $table = yoho_dataTable();
  {/literal}
</script>
{/if}
