<!-- $Id: ad_position_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class=" x_panel">
  <form class="tab-content form-horizontal form-label-left" action="ad_position.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.position_name}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input required class="form-control" type="text"  name="position_name" value="{$posit_arr.position_name}" size="30" /></div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.ad_width}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="input-group">
            <input class="form-control" type="text"  name="ad_width" value="{$posit_arr.ad_width}" size="30" />
            <div class="input-group-addon">{$lang.unit_px}</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.ad_height}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="input-group">
            <input class="form-control" type="text"  name="ad_height" value="{$posit_arr.ad_height}" size="30" />
            <div class="input-group-addon">{$lang.unit_px}</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.position_desc}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input class="form-control" type="text"  name="position_desc" size="55" value="{$posit_arr.position_desc}" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.display_once}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input class="flat" name="display_once" type="checkbox"{if $posit_arr.display_once eq 1} checked="checked"{/if} value="1" />
          {$lang.display_once_note}
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.posit_style}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <textarea class="form-control" name="position_style" cols="55" rows="6">{$posit_arr.position_style}</textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="ln_solid"></div>
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
          <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
          <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
         <input type="hidden" name="act" value="{$form_act}" />
         <input type="hidden" name="id" value="{$posit_arr.position_id}" />
       </div>
     </div>
  </form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
<script language="JavaScript">
<!--
{literal}
document.forms['theForm'].elements['position_name'].focus();

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("position_name",   posit_name_empty);
    validator.required("ad_width",        ad_width_empty);
    validator.required("ad_height",       ad_height_empty);
    validator.isNumber("ad_width",        ad_width_number, true);
    validator.isNumber("ad_height",       ad_height_number, true);
    validator.required("position_style",  empty_position_style);

    if (document.forms['theForm'].elements['ad_width'].value > 1920 || document.forms['theForm'].elements['ad_width'].value == 0)
    {
        alert(width_value);
        return false;
    }
    if (document.forms['theForm'].elements['ad_height'].value > 1920 || document.forms['theForm'].elements['ad_height'].value == 0)
    {
        alert(height_value);
        return false;
    }

    return validator.passed();
}
//-->
{/literal}
</script>

{include file="pagefooter.htm"}
