<!-- $Id: ads_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class=" x_panel">
<form action="ad_pos.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()" class="tab-content form-horizontal form-label-left">
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">
        {$lang.ad_name}
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" class="form-control"  name="ad_name" value="{$ad_pos.ad_name}" size="35" />
        <span class="form-helper"  id="NameNotic">{$lang.ad_name_notic}</span>
      </div>
    </div>

    {if $action eq "add"}
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.media_type}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
         <select class="form-control" name="media_type" onchange="showMedia(this.value)">
         <option value='0'>{$lang.ad_img}</option>
         <option value='4'>{$lang.ad_video}</option>
         </select>
        </div>
      </div>
  	{else}
	    <input type="hidden" name="media_type" value="{$ad_pos.media_type}" />
    {/if}
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.start_date}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="controls">
          <div class="input-prepend input-group">
            <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar-alt"></i></span>
            <input name="start_time" data-type="date" type="text" class="form-control"  id="start_time" size="22" value='{$ad_pos.start_time}'  />
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.end_date}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="controls">
          <div class="input-prepend input-group">
            <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar-alt"></i></span>
            <input name="end_time" data-type="date" type="text" class="form-control"  id="end_time" size="22" value='{$ad_pos.end_time}' />
          </div>
        </div>
      </div>
    </div>

    
  {if $ad_pos.media_type eq 0 OR $action eq "add"}
    <div class="media-type-0">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
          {$lang.upfile_img}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type='file' class="form-control" name='ad_img' size='35' onchange="validateImageFile(this)" />
          <span class="form-helper">{$lang.ad_code_img_pos}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.img_url}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" class="form-control"  name="img_url" value="{$ad_pos.img_url_src}" size="35" oninput="validateImageUrl(this)"/></div>
      </div>
    </div>
  {/if}

  {if $ad_pos.media_type eq 4 OR $action eq "add"}
  <div class="media-type-4" style="{if $ad_pos.media_type neq 4}display:none{/if}">
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">
        {$lang.upfile_video}
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type='file' class="form-control" name='ad_video' size='35' onchange="validateVideoFile(this)" />
        <span class="form-helper">{$lang.ad_code_video_pos}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.video_url}</label>
      <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" class="form-control"  name="video_url" value="{$ad_pos.video_url_src}" size="35" oninput="validateVideoUrl(this)"/></div>
    </div>
  </div>
  {/if}


    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.enabled}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <label><input type="radio" class="flat" name="enabled" value="1" {if $ad_pos.enabled eq 1} checked="true" {/if} />{$lang.is_enabled}</label>
        <label><input type="radio" class="flat" name="enabled" value="0" {if $ad_pos.enabled eq 0} checked="true" {/if} />{$lang.no_enabled}</label>
      </div>
    </div>

    <div class="form-group">
      <div class="ln_solid"></div>
      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
        <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
        <input type="hidden" name="act" value="{$form_act}" />
        <input type="hidden" name="id" value="{$ad_pos.ad_pos_id}" />
      </div>
    </div>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}

<script language="JavaScript">
  document.forms['theForm'].elements['ad_name'].focus();

  {literal}
  var hasImageFileError = false,
      hasImageUrlError  = false,
      hasVideoFileError = false,
      hasVideoUrlError  = false;
  var mediaList = new Array('0', '4');
  function showMedia(adMediaType)
  {
    resetMediaFile();
    for (i = 0; i < mediaList.length; i ++)
    {
      if (mediaList[i] == adMediaType)
        document.getElementsByClassName('media-type-'+adMediaType)[0].style.display = "";
      else
        document.getElementsByClassName('media-type-'+mediaList[i])[0].style.display = "none";
    }
  }

  function resetMediaFile() {
    hasImageFileError = false;
    hasImageUrlError  = false;
    hasVideoFileError = false;
    hasVideoUrlError  = false;

    $('input[name=ad_img]').val('');
    $('input[name=img_url]').val('');
    $('input[name=ad_video]').val('');
    $('input[name=video_url]').val('');
  }

  /**
   * Media validation
   */
  function validateImageFile(e) {
    hasImageFileError = false;
    var fi = e; 
    // Check if any file is selected. 
    if (fi.files.length > 0) { 
        for (var i = 0; i <= fi.files.length - 1; i++) { 
          var file = fi.files.item(i); 
          var reader = new FileReader();
          reader.onload = function (e) {
            validateImage(
              e.target.result, 
              function() {
                hasImageFileError = upfile_img_wh_error_pos;
                alert(hasImageFileError);
              }
            );
          };
          reader.readAsDataURL(file);
        } 
    } 
  }

  function validateImageUrl(e) {
    hasImageUrlError  = false;
    var imgUrl = e.value;
    validateImage(
      imgUrl,
      function() {
        hasImageUrlError = upurl_img_wh_error_pos;
        alert(hasImageUrlError);
      }
    );
  }

  function validateImage(imgUrl, errorCallback) {
    var img = new Image();      
        img.src = imgUrl;
    
        img.onload = function () {
            var w = this.width;
            var h = this.height;

            if(w != 1280 || h != 720) {
              errorCallback();
            }
        }
  }

  function validateVideoFile(e) {
    hasVideoFileError = false;
    var fi = e; 
    // Check if any file is selected. 
    if (fi.files.length > 0) { 
        for (var i = 0; i <= fi.files.length - 1; i++) { 
          var file = fi.files.item(i); 
          var reader = new FileReader();
          reader.onload = function (e) {
            validateVideo(
              e.target.result,
              function(hasError) {
                hasVideoFileError = upfile_video_wh_error_pos;
                alert(hasVideoFileError);
              }
            );
          };
          reader.readAsDataURL(file);
        } 
    } 
  }

  function validateVideoUrl(e) {
    hasVideoUrlError  = false;
    var videoUrl = e.value;
    validateVideo(
      videoUrl,
      function() {
        hasVideoUrlError = upurl_video_wh_error_pos;
        alert(hasVideoUrlError);
      }
    );
  }

  function validateVideo(videoUrl, errorCallback) {
    var video = document.createElement('video');
        video.src = videoUrl
        video.preload = 'metadata';

        video.onloadedmetadata = function() {
          var w = this.videoWidth;
          var h = this.videoHeight;

          if(w != 1280 || h != 720) {
            errorCallback();
          }
        }
  }

  /**
   * 检查表单输入的数据
   */
  function validate()
  {
    validator = new Validator("theForm");
    validator.required("ad_name",     ad_name_empty);

    var hasMediaError = ( hasImageFileError || hasImageUrlError || hasVideoFileError || hasVideoUrlError);
    if(hasMediaError) {alert(hasMediaError);}
    return !hasMediaError && validator.passed();
  }

  onload = function()
  {
    document.forms['theForm'].reset();
  }

  {/literal}
</script>
{include file="pagefooter.htm"}
