<!-- $Id: admin_logs.htm 15477 2008-12-22 03:44:50Z sunxiaodong $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
<table>
    <tr>
      <td width="50%">
      <form name="theForm" method="POST" action="admin_logs.php">
      {$lang.view_ip}
      <select name="ip">
      <option value='0'>{$lang.select_ip}</option>
      {html_options options=$ip_list selected=$ip}
      </select>
      <input type="submit" value="{$lang.comfrom}" class="btn btn-primary" />
      </form>
      </td>
      <td>
      <form name="Form2" action="admin_logs.php?act=batch_drop" method="POST">
      {$lang.drop_logs}
      <select name="log_date">
        <option value='0'>{$lang.select_date}</option>
        <option value='1'>{$lang.week_date}</option>
        <option value='2'>{$lang.month_date}</option>
        <option value='3'>{$lang.three_month}</option>
        <option value='4'>{$lang.six_month}</option>
        <option value='5'>{$lang.a_yaer}</option>
      </select>
      <input name="drop_type_date" type="submit" value="{$lang.comfrom}" class="btn btn-primary" />
      </form>
      </td>
    </tr>
</table>
</div>

<form method="POST" action="admin_logs.php?act=batch_drop" name="listForm">
<!-- start admin_logs list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

<table id="#" class="table table-striped table-bordered bulk_action ">
  <tr>
    <th><input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
    <a href="javascript:listTable.sort('log_id'); ">{$lang.log_id}</a>{$sort_log_id}</th>
    <th><a href="javascript:listTable.sort('user_id'); ">{$lang.user_id}</a>{$sort_user_id}</th>
    <th><a href="javascript:listTable.sort('log_time'); ">{$lang.log_time}</a>{$sort_log_time}</th>
    <th><a href="javascript:listTable.sort('ip_address'); ">{$lang.ip_address}</a>{$sort_ip_address}</th>
    <th>{$lang.log_info}</th>
  </tr>
  {foreach from=$log_list item=list}
  <tr>
    <td width="10%"><span><input name="checkboxes[]" type="checkbox" value="{$list.log_id}" />{$list.log_id}</span></td>
    <td width="15%" class="first-cell"><span>{$list.user_name|escape:html}</span></td>
    <td width="20%" align="center"><span>{$list.log_time}</span></td>
    <td width="15%" align="left"><span>{$list.ip_address}</span></td>
    <td width="40%" align="left"><span>{$list.log_info}</span></td>
  </tr>
  {/foreach}
  <tr>
    <td colspan="2"><input name="drop_type_id" type="submit" id="btnSubmit" value="{$lang.drop_logs}" class="btn btn-primary" /></td>
    <td align="right" nowrap="true" colspan="10">{include file="page.htm"}</td>
  </tr>
</table>

{if $full_page}
</div>
</div>
<!-- end ad_position list -->

<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}
  onload = function()
  {
    // &#65533;&#65533;&#700;&#65533;&#65533;鹜&#65533;&#65533;
    startCheckOrder();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
