
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,../yohohk/js/jquery.min.js,i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

<form id="form_template" action="javascript:saveTemplate()" method="post">
<div id="tabbody-div">
    <table width="90%" id="general-table" align="center">
    <tr>
    <td style='text-align:right'><b>優先次序</b></td>
    <td> 
         <select name="priority"  id="priority"  style="width:40%">
         {foreach from=$priority_options key=val item=str name=foo}
         <option value="{$val}" {if $smarty.foreach.foo.index eq 1} selected {/if}>{$str}</option>
         {/foreach}
         </select>
    </td>
    </tr>
    <tr>
    <td style='text-align:right'><b>預計時間</b></td>
    <td> 
        <select name="estimated_time"  id="estimated_time" style="width:40%">
        {foreach from=$estimated_time_options key=val item=str name=foo}
        <option value="{$val}"{if $smarty.foreach.foo.index eq 2} selected {/if}>{$str}</option>
        {/foreach}
         </select>
    </td>
    </tr>
    <tr>
    <td style='text-align:right'><b>*工作名稱</b></td>
    <td>
    <input type="text" id="title" name="title" maxlength="50" value="{$data.title|escape}" size="40" />
    </td>
    </tr>
    <tr>
    <td style='text-align:right'><b>工作內容</b></td>
    <td>
    <textarea name="message" id="message" cols="55" rows="8">{$data.message|escape}</textarea>
    
    </tr>
    </table>
</div>
<div class="button-div">
    <input type="hidden" name="template_id" id="template_id" value="{$data.template_id}" class="btn btn-primary">
    <input type="submit" value=" 確定 " class="btn btn-primary">
    <input type="reset" value=" 重置 " class="btn btn-primary">
</div>
</form>

</div>
<script type="Text/Javascript" language="JavaScript">
// Multiple language support

function saveTemplate(){
    if($('#title').val() == ""){
        alert("請輸入工作名稱");
    }else{
          Ajax.call('admin_task_templates.php?act=update','&template_id=' + encodeURIComponent($('#template_id').val()) + '&title=' + encodeURIComponent($('#title').val()) + "&message=" + encodeURIComponent($('#message').val()) + "&estimated_time=" + encodeURIComponent($('#estimated_time').val())+ "&priority=" + encodeURIComponent($('#priority').val()), saveTemplateResponse, "POST", "JSON");  
    }
}
function saveTemplateResponse(result)
{
  if (result.success == 1)
  {
      alert(result.message);
      window.location.replace("admin_task_templates.php?act=list");
  } else {
      alert(result.message);
      window.location.reload(window.location.href);
  }
}
</script>
{include file="pagefooter.htm"}
