
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">

<table class="table table-striped table-bordered bulk_action" id="admin_task_templates">
      <thead>
        <tr class="headings">
          <th data-id="template_id" data-key="template_id"><a href="javascript:listTable.sort('template_id'); ">{$lang.record_id}</a>{$sort_template_id}</th>
          <th data-id="title"><a href="javascript:listTable.sort('title'); ">工作名稱</a>{$sort_title}</th>
          <th data-id="message"><a href="javascript:listTable.sort('message'); ">工作內容</a>{$sort_message}</th>
          <th class="actionsCol" data-id="_action" data-sort="0">{$lang.handler}</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
var $table = yoho_dataTable();
</script>



