<!-- $Id: message_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<form name="planForm" method="post" action="admin_plan.php" style="background-color: white; padding: 8px 4px; border: 1px solid #BBDDE5;">
  <input type="hidden" name="act" value="insert">
  <table cellpadding="3" cellspacing="1" border="0" width="100%">
    <tr>
      <th>已完成工作</th>
      <th>下一天工作計劃</th>
      <th>一週工作計劃</th>
    </tr>
    <tr>
      <td align="center">
        <textarea name="finished_work" style="width: 80%;" rows="5"></textarea>
      </td>
      <td align="center">
        <textarea name="tomorrow_plan" style="width: 80%;" rows="5"></textarea>
      </td>
      <td align="center">
        <textarea name="weekly_plan" style="width: 80%;" rows="5"></textarea>
      </td>
    </tr>
    <tr>
      <td colspan="3" align="left" style="padding-left: 3.33333%;">
        {if $smarty.session.admin_name eq 'admin'}
        員工：
        <select name="admin_name" id="admin_name">
          <option value="">{$lang.select_please}</option>
          {foreach from=$admin_list item=admin_name}
          <option>{$admin_name}</option>
          {/foreach}
        </select>
        <br>
        {else}
        <input type="hidden" name="admin_name" value="{$smarty.session.admin_name}">
        {/if}
        <input type="submit" value="新增工作計劃" class="btn btn-primary" />&nbsp;&nbsp;
        <a href="javascript:;" class="cancel_edit_btn" style="display: none;">取消編輯</a>
      </td>
    </tr>
  </table>
</form>

<hr style="margin: 20px 0;">

<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form method="post" action="javascript:getList()" class="form-inline" name="theForm">
  員工&nbsp;&nbsp;
  <select name="admin_name" id="admin_name">
    <option value="">{$lang.select_please}</option>
    {foreach from=$admin_list item=admin_name}
    <option>{$admin_name}</option>
    {/foreach}
  </select>&nbsp;&nbsp;
  <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
  </form>
</div>

<!-- start admin_task_list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
  <table id="#" class="table table-striped table-bordered bulk_action ">
    <tr>
      <th><a href="javascript:listTable.sort('rec_id'); ">{$lang.record_id}</a>{$sort_rec_id}</th>
      <th><a href="javascript:listTable.sort('admin_name'); ">員工</a>{$sort_admin_name}</th>
      <th><a href="javascript:listTable.sort('add_time'); ">日期</a>{$sort_add_time}</th>
      <th>已完成工作</th>
      <th>下一天工作計劃</th>
      <th>一週工作計劃</th>
      <th>{$lang.handler}</th>
    </tr>
    {foreach from=$list item=plan}
    <tr>
      <td valign="top" align="center" nowrap="nowrap" class="rec_id">{$plan.rec_id}</td>
      <td valign="top" align="center" nowrap="nowrap" class="admin_name">{$plan.admin_name}</td>
      <td valign="top" align="center" nowrap="nowrap">{$plan.add_date}</td>
      <td valign="top" algin="left" class="finished_work">{$plan.finished_work|escape:html|nl2br}</td>
      <td valign="top" algin="left" class="tomorrow_plan">{$plan.tomorrow_plan|escape:html|nl2br}</td>
      <td valign="top" algin="left" class="weekly_plan">{$plan.weekly_plan|escape:html|nl2br}</td>
      <td valign="top" align="center" nowrap="nowrap">
        {if $plan.admin_name eq $smarty.session.admin_name || $smarty.session.admin_name eq 'admin'}
        <a href="javascript:;" onclick="javascript:editPlan(this)">{$lang.edit}</a>
        <a href="javascript:;" onclick="listTable.remove({$plan.rec_id}, '{$lang.drop_confirm}')">{$lang.remove}</a>
        {/if}
      </td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
  </table>

  <table cellpadding="4" cellspacing="0">
    <tr>
      <td>&nbsp;</td>
      <td align="right">{include file="page.htm"}</td>
    </tr>
  </table>

{if $full_page}
</div>
<script type="text/javascript" language="JavaScript">
<!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  
  var add_btn_text = '新增工作計劃';
  var edit_btn_text = '編輯工作計劃';
  var admin_name = '{$smarty.session.admin_name}';

  {literal}
  function getList()
  {
    listTable.filter.admin_name = document.forms['theForm'].elements['admin_name'].value;
    listTable.filter.page = 1;
    listTable.loadList();
  }
  
  // Add highlight function to jQuery
  jQuery.fn.highlight = function(fadeTime) {
    fadeTime = fadeTime || 500;
    $(this).each(function() {
      var el = $(this);
      el.before("<div/>");
      el.prev()
        .width(el.outerWidth())
        .height(el.outerHeight())
        .css({
          'position': 'absolute',
          'background-color': '#ffff99',
          'opacity': '.3',
          'pointer-events': 'none'
        })
        .fadeOut(fadeTime, function() {
          $(this).remove();
        });
    });
  };
  
  // Setup AJAX loader
  $(document).ajaxStart(function () {
    showLoader();
  });
  $(document).ajaxStop(function () {
    hideLoader();
  });
  
  function resetPlanForm()
  {
    var $form = $('form[name="planForm"]');
    $form.find('input[name="act"]').val('insert');
    $form.find('input[type="submit"]').val(add_btn_text);
    $form.find('a.cancel_edit_btn').hide();
    $form.find('input[name="admin_name"]').val(admin_name);
    $form.find('select[name="admin_name"]').val($('select[name="admin_name"] option:first').val());
    $form.find('textarea[name="finished_work"]').val('');
    $form.find('textarea[name="tomorrow_plan"]').val('');
    $form.find('textarea[name="weekly_plan"]').val('');
    $form.find('input[name="rec_id"]').remove();
  }
  
  function editPlan(obj)
  {
    var $tr = $(obj).closest('tr');
    var $form = $('form[name="planForm"]');
    
    var _editPlan = function () {
      $form.find('input[name="act"]').val('update');
      $form.find('input[type="submit"]').val(edit_btn_text);
      $form.find('a.cancel_edit_btn').show();
      $form.find('input[name="admin_name"],select[name="admin_name"]').val($tr.find('td[class="admin_name"]').text());
      $form.find('textarea[name="finished_work"]').val($tr.find('td[class="finished_work"]').text());
      $form.find('textarea[name="tomorrow_plan"]').val($tr.find('td[class="tomorrow_plan"]').text());
      $form.find('textarea[name="weekly_plan"]').val($tr.find('td[class="weekly_plan"]').text());
      if (!$form.find('input[name="rec_id"]').length)
      {
        $form.append($('<input name="rec_id" type="hidden">'));
      }
      $form.find('input[name="rec_id"]').val($tr.find('td[class="rec_id"]').text());
      
      //$form.find('textarea[name="finished_work"]').focus();
      $form.highlight();
    };
    
    if ($('body').scrollTop() != 0)
    {
      $('html,body').animate({ 'scrollTop': 0 }, 'fast', _editPlan);
    }
    else
    {
      _editPlan();
    }
  }
  
  $('form[name="planForm"]').submit(function (event) {
    event.preventDefault();
    var $form = $(this);
    var formData = {
      'is_ajax': 1
    };
    $.each($form.serializeArray(), function (i, ele) {
        formData[ele.name] = ele.value;
    });
    $.ajax({
      url: $form.attr('action'),
      type: $form.attr('method'),
      data: formData,
      dataType: 'json',
      success: function (result) {
        alert(result.message);
        if (!result.error)
        {
          getList();
          resetPlanForm();
        }
      }
    });
  });
  
  $('form[name="planForm"]').find('a.cancel_edit_btn').click(function () {
    resetPlanForm();
  });
  
  {/literal}
//-->
</script>

{include file="pagefooter.htm"}
{/if}