<!-- $Id: ads_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class=" x_panel">
<form action="ads.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()" class="tab-content form-horizontal form-label-left">
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">
        {$lang.ad_name}
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" class="form-control"  name="ad_name" value="{$ads.ad_name}" size="35" />
        <span class="form-helper"  id="NameNotic">{$lang.ad_name_notic}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">
        廣告標題
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" class="form-control"  name="ad_title" value="{$ads.ad_title}" size="35" />
        <span class="form-helper"  id="NameNotic">廣告標題，當滑鼠移到圖片上就會自動顯示出來</span>
      </div>
    </div>

    {if $action eq "add"}
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.media_type}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
         <select class="form-control" name="media_type" onchange="showMedia(this.value)">
         <option value='0'>{$lang.ad_img}</option>
         <option value='1'>{$lang.ad_flash}</option>
         <option value='2'>{$lang.ad_html}</option>
         <option value='3'>{$lang.ad_text}</option>
         </select>
        </div>
      </div>
	{else}
	    <input type="hidden" name="media_type" value="{$ads.media_type}" />
    {/if}
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.position_id}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select class="form-control" id="position_id_select">
            <option value="">請選擇...</option>
            {foreach from=$ad_position_name item=position_name key=position_id}
            <option value="{$position_id}" data-name="{$position_name}">{$position_name}</option>
            {/foreach}
        </select>
        <div id="selected_position_id" style="line-height: 14px;">
          {foreach from=$ads.position_id item=position_id}
          <div class="position_id_row">
            <input type="hidden" name="position_id[]" value="{$position_id}">
            <img class="remove_position_id_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;
            {if $position_id eq 0}
              {$lang.outside_posit}
            {else}
              {$ad_position_name[$position_id]}
            {/if}
          </div>
          {foreachelse}
          <span class="no_position_id_selected">站外廣告</span>
          {/foreach}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">選擇產品分類</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select class="form-control" id="cat_select">
          <option value="">請選擇...</option>
          {$cat_list}
        </select>
        
        <div id="selected_cats" style="line-height: 14px;">
          {foreach from=$ads.cat item=cat}
          <div class="cat_row">
            <input type="hidden" name="cat[]" value="{$cat}">
            <img class="remove_cat_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;
            {$cat_name[$cat]}
          </div>
          {foreachelse}
          <span class="no_cat_selected">沒有選擇產品分類</span>
          {/foreach}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">地區限定</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select class="form-control" id="area_select">
          <option value="">請選擇...</option>
          {foreach from=$country_list item=continent key=continent_code}
          <optgroup label="{$continent.name}">
            {foreach from=$continent.countries item=country_name key=country_code}
            <option value="{$country_code}" data-name="{$country_name}">{$country_code} - {$country_name}</option>
            {/foreach}
          </optgroup>
          {/foreach}
        </select>
        
        <div id="selected_areas" style="line-height: 14px;">
          {foreach from=$ads.area item=area}
          <div class="area_row">
            <input type="hidden" name="area[]" value="{$area}">
            <img class="remove_area_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;
            {$area} - {$country_names[$area]}
          </div>
          {foreachelse}
          <span class="no_area_selected">沒有限定地區</span>
          {/foreach}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">禁止地區</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select class="form-control" id="area_exclude_select">
          <option value="">請選擇...</option>
          {foreach from=$country_list item=continent key=continent_code}
          <optgroup label="{$continent.name}">
            {foreach from=$continent.countries item=country_name key=country_code}
            <option value="{$country_code}" data-name="{$country_name}">{$country_code} - {$country_name}</option>
            {/foreach}
          </optgroup>
          {/foreach}
        </select>
        
        <div id="selected_excluded_areas" style="line-height: 14px;">
          {foreach from=$ads.area_exclude item=area}
          <div class="area_row">
            <input type="hidden" name="area_exclude[]" value="{$area}">
            <img class="remove_area_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;
            {$area} - {$country_names[$area]}
          </div>
          {foreachelse}
          <span class="no_area_selected">沒有禁止地區</span>
          {/foreach}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">語言限定</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select class="form-control" id="language_select">
          <option value="">請選擇...</option>
          {foreach from=$language_list item=language_name key=language_code}
          <option value="{$language_code}" data-name="{$language_name}">{$language_code} - {$language_name}</option>
          {/foreach}
        </select>
        
        <div id="selected_languages" style="line-height: 14px;">
          {foreach from=$ads.language item=language}
          <div class="language_row">
            <input type="hidden" name="language[]" value="{$language}">
            <img class="remove_language_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;
            {$language} - {$language_list[$language]}
          </div>
          {foreachelse}
          <span class="no_language_selected">沒有限定語言</span>
          {/foreach}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">禁止語言</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select class="form-control" id="language_exclude_select">
          <option value="">請選擇...</option>
          {foreach from=$language_list item=language_name key=language_code}
          <option value="{$language_code}" data-name="{$language_name}">{$language_code} - {$language_name}</option>
          {/foreach}
        </select>
        
        <div id="selected_excluded_languages" style="line-height: 14px;">
          {foreach from=$ads.language_exclude item=language}
          <div class="language_row">
            <input type="hidden" name="language_exclude[]" value="{$language}">
            <img class="remove_language_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;
            {$language} - {$language_list[$language]}
          </div>
          {foreachelse}
          <span class="no_language_selected">沒有禁止語言</span>
          {/foreach}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.campaign_list}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select class="form-control" id="campaign_list" name="ad_campaign_id">
          <option value="">請選擇...</option>
          {foreach from=$campaign_list item=campaign}
          <option value="{$campaign.ad_campaign_id}" {if $campaign.ad_campaign_id eq $ads.ad_campaign_id}selected="selected"{/if}>{$campaign.ad_campaign_name}</option>
          {/foreach}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.start_date}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="controls">
          <div class="input-prepend input-group">
            <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar-alt"></i></span>
            <input name="start_time" data-type="datetime" type="text" class="form-control"  id="start_time" size="22" value='{$ads.start_time}'  />
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.end_date}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="controls">
          <div class="input-prepend input-group">
            <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar-alt"></i></span>
            <input name="end_time" data-type="datetime" type="text" class="form-control"  id="end_time" size="22" value='{$ads.end_time}' />
          </div>
        </div>
      </div>
    </div>
  {if $ads.media_type eq 0 OR $action eq "add"}
    <tbody id="0">
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.ad_link}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" class="form-control"  name="ad_link" value="{$ads.ad_link}" size="35" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">
        {$lang.upfile_img}
        </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type='file' class="form-control" name='ad_img' size='35' />
        <span class="form-helper"  id="AdCodeImg">{$lang.ad_code_img}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.img_url}</label>
      <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" class="form-control"  name="img_url" value="{$url_src}" size="35" /></div>
    </div>
    </tbody>
  {/if}
  {if $ads.media_type eq 1 OR $action eq "add"}
    <tbody id="1" style="{if $ads.media_type neq 1 OR $action eq 'add'}display:none{/if}">
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">
        {$lang.upfile_flash}
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type='file' name='upfile_flash' size='35' />
        <span class="form-helper"  id="AdCodeFlash">{$lang.ad_code_flash}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.flash_url}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" class="form-control"  name="flash_url" value="{$flash_url}" size="35" />
      </div>
    </div>
    </tbody>
  {/if}

  {if $ads.media_type eq 2 OR $action eq "add"}
    <tbody id="2" style="{if $ads.media_type neq 2 OR $action eq 'add'}display:none{/if}">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.enter_code}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><textarea class="form-control" name="ad_code" cols="50" rows="7">{$ads.ad_code}</textarea></div>
      </div>
    </tbody>
  {/if}

  {if $ads.media_type eq 3 OR $action eq "add"}
    <tbody id="3" style="{if $ads.media_type neq 3 OR $action eq 'add'}display:none{/if}">
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.ad_link}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" class="form-control"  name="ad_link2" value="{$ads.ad_link}" size="35" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.ad_code}</label>
      <div class="col-md-6 col-sm-6 col-xs-12"><textarea class="form-control" name="ad_text" cols="40" rows="3">{$ads.ad_code}</textarea></div>
    </div>
    </tbody>
 {/if}

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.enabled}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <label><input type="radio" class="flat" name="enabled" value="1" {if $ads.enabled eq 1} checked="true" {/if} />{$lang.is_enabled}</label>
        <label><input type="radio" class="flat" name="enabled" value="0" {if $ads.enabled eq 0} checked="true" {/if} />{$lang.no_enabled}</label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.link_man}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" class="form-control"  name="link_man" value="{$ads.link_man}" size="35" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.link_email}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" class="form-control"  name="link_email" value="{$ads.link_email}" size="35" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.link_phone}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" class="form-control"  name="link_phone" value="{$ads.link_phone}" size="35" />
      </div>
    </div>
    <div class="form-group">
      <div class="ln_solid"></div>
      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
        <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
        <input type="hidden" name="act" value="{$form_act}" />
        <input type="hidden" name="id" value="{$ads.ad_id}" />
      </div>
    </div>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}

<script language="JavaScript">
  document.forms['theForm'].elements['ad_name'].focus();
  <!--
  var MediaList = new Array('0', '1', '2', '3');
  {literal}
  function showMedia(AdMediaType)
  {
    for (I = 0; I < MediaList.length; I ++)
    {
      if (MediaList[I] == AdMediaType)
        document.getElementById(AdMediaType).style.display = "";
      else
        document.getElementById(MediaList[I]).style.display = "none";
    }
  }

  /**
   * 检查表单输入的数据
   */
  function validate()
  {
    validator = new Validator("theForm");
    validator.required("ad_name",     ad_name_empty);
    validator.required("ad_title",    '請輸入廣告標題!');
    return validator.passed();
  }

  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
    document.forms['theForm'].reset();
  }
  
  //********************
  // Position Id Selector
  //********************
  $('#position_id_select').change(function (event){
    var $sel = $(this);
    if ($sel.val())
    {
      var position_id_code = $sel.val();
      var position_id_name = $.trim($sel.find('option:selected').data('name'));
      
      var $parent = $('#selected_position_id');
      
      // if position_id already selected...
      if ($parent.find('input[name="position_id[]"][value="' + position_id_code + '"]').length > 0)
      {
        // nothing to do...
      }
      else
      {
        // if no position_id selected...
        if ($parent.find('.no_position_id_selected').length > 0)
        {
          // remove the no position_id selected prompt first
          $parent.find('.no_position_id_selected').remove();
        }
        
        // add position_id row
        var $position_id_row = $('<div class="position_id_row">' +
          '<input type="hidden" name="' + 'position_id' + '[]" value="' + position_id_code + '">' +
          '<img class="remove_position_id_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;' + position_id_name +
        '</div>');
        console.log($position_id_row);
        $parent.append($position_id_row);
      }
    }
  });
  
  $('#selected_position_id').on('click', '.position_id_row .remove_position_id_row', function () {
    var $parent = $(this).closest('#selected_position_id');
    $(this).closest('.position_id_row').remove();
    if ($parent.find('.position_id_row').length == 0)
    {
      $parent.append('<span class="no_position_id_selected">站外廣告</span>');
    }
  });


  //********************
  // Category Selector
  //********************
  $('#cat_select').change(function (event){
    var $sel = $(this);
    if ($sel.val())
    {
      var cat_code = $sel.val();
      var cat_name = $.trim($sel.find('option:selected').text());
      console.log(cat_name);
      
      var $parent = $('#selected_cats');
      
      // if cat already selected...
      if ($parent.find('input[name="cat[]"][value="' + cat_code + '"]').length > 0)
      {
        // nothing to do...
      }
      else
      {
        // if no cat selected...
        if ($parent.find('.no_cat_selected').length > 0)
        {
          // remove the no cat selected prompt first
          $parent.find('.no_cat_selected').remove();
        }
        
        // add cat row
        var $cat_row = $('<div class="cat_row">' +
          '<input type="hidden" name="' + 'cat' + '[]" value="' + cat_code + '">' +
          '<img class="remove_cat_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;' + cat_name +
        '</div>');
        $parent.append($cat_row);
      }
    }
  });
  
  $('#selected_cats').on('click', '.cat_row .remove_cat_row', function () {
    var $parent = $(this).closest('#selected_cats');
    $(this).closest('.cat_row').remove();
    if ($parent.find('.cat_row').length == 0)
    {
      $parent.append('<span class="no_cat_selected">沒有選擇產品分類</span>');
    }
  });
  
  //********************
  // Area Selector
  //********************
  $('#area_select,#area_exclude_select').change(function (event){
    var $sel = $(this);
    if ($sel.val())
    {
      var area_code = $sel.val();
      var area_name = $.trim($sel.find('option:selected').data('name'));
      
      var $parent = $sel.is('#area_select') ? $('#selected_areas') : $('#selected_excluded_areas');
      
      // if area already selected...
      if ($parent.find('input[name="area[]"][value="' + area_code + '"]').length > 0)
      {
        // nothing to do...
      }
      else
      {
        // if no area selected...
        if ($parent.find('.no_area_selected').length > 0)
        {
          // remove the no area selected prompt first
          $parent.find('.no_area_selected').remove();
        }
        
        // add area row
        var $area_row = $('<div class="area_row">' +
          '<input type="hidden" name="' + ($sel.is('#area_select') ? 'area' : 'area_exclude') + '[]" value="' + area_code + '">' +
          '<img class="remove_area_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;' +
          area_code + ' - ' + area_name +
        '</div>');
        $parent.append($area_row);
      }
    }
  });
  
  $('#selected_areas,#selected_excluded_areas').on('click', '.area_row .remove_area_row', function () {
    var $parent = $(this).closest('#selected_areas,#selected_excluded_areas');
    $(this).closest('.area_row').remove();
    if ($parent.find('.area_row').length == 0)
    {
      $parent.append('<span class="no_area_selected">沒有' + ($parent.is('#selected_areas') ? '限定' : '禁止')  + '地區</span>');
    }
  });
  
  //********************
  // Language Selector
  //********************
  $('#language_select,#language_exclude_select').change(function (event){
    var $sel = $(this);
    if ($sel.val())
    {
      var language_code = $sel.val();
      var language_name = $.trim($sel.find('option:selected').data('name'));
      
      var $parent = $sel.is('#language_select') ? $('#selected_languages') : $('#selected_excluded_languages');
      
      // if language already selected...
      if ($parent.find('input[name="language[]"][value="' + language_code + '"]').length > 0)
      {
        // nothing to do...
      }
      else
      {
        // if no language selected...
        if ($parent.find('.no_language_selected').length > 0)
        {
          // remove the no language selected prompt first
          $parent.find('.no_language_selected').remove();
        }
        
        // add language row
        var $language_row = $('<div class="language_row">' +
          '<input type="hidden" name="' + ($sel.is('#language_select') ? 'language' : 'language_exclude') + '[]" value="' + language_code + '">' +
          '<img class="remove_language_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;' +
          language_code + ' - ' + language_name +
        '</div>');
        $parent.append($language_row);
      }
    }
  });

  $('#selected_languages,#selected_excluded_languages').on('click', '.language_row .remove_language_row', function () {
    var $parent = $(this).closest('#selected_languages,#selected_excluded_languages');
    $(this).closest('.language_row').remove();
    if ($parent.find('.language_row').length == 0)
    {
      $parent.append('<span class="no_language_selected">沒有' + ($parent.is('#selected_languages') ? '限定' : '禁止')  + '語言</span>');
    }
  });

  $('#campaign_list').change(function (event){
    $.ajax({
        url: 'ads.php',
        type: 'get',
        cache: false,
        data: {
          'act': 'selected_campaign',
          'campaign_id': $(this).val()
        },
        dataType: 'json',
        success: function (result) {
          if (result.error)
          {
            alert(result.message);
          }
          else if(result.content.campaign)
          {
            var end_time   = result.content.campaign.end_time;
            var start_time = result.content.campaign.start_time;

            if(end_time) $('#end_time').val(end_time).css("color","red");
            if(start_time) $('#start_time').val(start_time).css("color","red");

            setTimeout(function(){ 
              $('#end_time').fadeIn( "slow", function() {
                $('#end_time').css("color","black");
              });
              $('#start_time').fadeIn( "slow", function() {
                $('#start_time').css("color","black");
              });
              }, 2000);

          }
        },
        error: function (xhr) {
          alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
          console.log(xhr);
        }
      });
  });

  //-->
  {/literal}
</script>
{include file="pagefooter.htm"}
