<!-- $Id: ads_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
<style>
.ad_name {
  text-align: left !important;
}
</style>
{insert_scripts files="../js/utils.js"}
<div class=" x_panel">
  <form method="post" action="" name="listForm" class="form-inline">
  <!-- start ads list -->
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
      {$lang.campaign_name}
      <select class="form-control" name="campaign_id" id="ad_campaign" onchange="filter_ads()">
        <option value="">{$lang.select_please}</option>
        {foreach from=$campaign_list item=campaign}
        <option value="{$campaign.ad_campaign_id}" {if $filter.campaign_id eq $campaign.ad_campaign_id }selected="selected"{/if}>{$campaign.ad_campaign_name}</option>
        {/foreach}
      </select>
      {$lang.position_id}
      <select class="form-control" name="position_id" id="position_id" onchange="filter_ads()">
        <option value="">{$lang.select_please}</option>
        {foreach from=$ad_position_list item=ad_position}
        <option value="{$ad_position.position_id}" {if $filter.position_id eq $ad_position.position_id }selected="selected"{/if}>{$ad_position.position_name}</option>
        {/foreach}
      </select>
      顯示生成訂單數目:
      <input class="flat" type="checkbox" name="ad_stats" id="ad_stats" value="1" onclick="filter_ads()"{if $filter.ad_stats}checked="checked"{/if}>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table id="#" class="table table-striped table-bordered bulk_action ">
      <thead>
        <tr class="headings">
          <th class="ad_name" data-class="ad_name" data-id="ad_name" data-key="ad_id">{$lang.ad_name}</th>
          <th data-id="position_id">{$lang.position_id}</th>
          <th data-id="media_type" data-value="type">{$lang.media_type}</th>
          <th data-id="start_time" data-value="start_date">{$lang.start_date}</th>
          <th data-id="end_time" data-value="end_date">{$lang.end_date}</th>
          <th data-id="click_count">{$lang.click_count}</th>
          <th data-id="ad_stats" data-hidden="true">{$lang.ads_stats}</th>
          <th class="actionsCol" data-id="_action">{$lang.handler}</th>
        </tr>
      </thead>
      {foreach from=$ads_list item=list}
      <tr>
        <td class="first-cell">
        <span onclick="javascript:listTable.edit(this, 'edit_ad_name', {$list.ad_id})">{$list.ad_name|escape:html}</span>
        </td>
        <td align="left"><span>{if $list.position_id eq 0}{$lang.outside_posit}{else}{$list.position_name}{/if}</span>
        </td>
        <td align="left"><span>{$list.type}</span></td>
        <td align="center"><span style="color: {if $list.after_start}#04B431{else}#8A0808{/if};">{$list.start_date}</span></td>
        <td align="center"><span style="color: {if $list.before_end}#04B431{else}#8A0808{/if};">{$list.end_date}</span></td>
        <td align="right"><span>{$list.click_count}</span></td>
        {if $filter.ad_stats}<td align="right"><span>{$list.ad_stats}</span></td>{/if}
        <td align="right"><span>
          {if $list.position_id eq 0}
          <a href="ads.php?act=add_js&type={$list.media_type}&id={$list.ad_id}" title="{$lang.add_js_code}"><img src="images/icon_js.gif" border="0" height="16" width="16" /></a>
          {/if}
          <a href="ads.php?act=edit&id={$list.ad_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
          <a href="javascript:;" onclick="listTable.remove({$list.ad_id}, '{$lang.drop_confirm}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a></span>
        </td>
      </tr>
      {foreachelse}
        <tr><td class="no-records" colspan="10">{$lang.no_ads}</td></tr>
      {/foreach}
    </table>
  </div>
  </form>
</div>
<!-- end ad_position list -->

{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">

  {literal}
  var $table = yoho_dataTable();

  /**
    * Filter ads
    */
  function filter_ads()
  {
    $filter = [];
    $filter['campaign_id'] = document.getElementById("ad_campaign").value;
    $filter['position_id'] = document.getElementById("position_id").value;
    $filter['ad_stats']    = $('#ad_stats').attr("checked") ? 1 : 0;
    $table.search($filter);
  }
  {/literal}
</script>
