{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
{insert_scripts files="validator.js"}
<div class="form-div col-md-12 col-sm-12 col-xs-12 x_panel row">
<form method="post" action="affiliate.php" class="form-inline">
<label class="control-label">開放推薦人功能:</label>
<input type="radio" class="flat" name="on" value="1" {if $config.on eq 1} checked="true" {/if} onClick="javascript:actDiv('separate','');"> {$lang.on} 
<input type="radio" class="flat" name="on" value="0" {if !$config.on || $config.on eq 0} checked="true" {/if} onClick="javascript:actDiv('separate','none');"> {$lang.off}
<br>
<label class="control-label">開放推廣大使功能:</label>
<input type="radio" class="flat" name="affiliate_yoho_on" value="1" {if $config.affiliate_yoho_on eq 1} checked="true" {/if}> {$lang.on} 
<input type="radio" class="flat" name="affiliate_yoho_on" value="0" {if !$config.affiliate_yoho_on || $config.affiliate_yoho_on eq 0} checked="true" {/if}> {$lang.off}
<br><br>
<input type="hidden" name="act" value="on" />
<input type="submit" value="{$lang.button_submit}" class="btn btn-primary" id="btnon"/>
</form>
</div>
<div id="separate" class=" x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
<form enctype="multipart/form-data" method="post" action="affiliate.php" class="form-inline">
        <table class="table table-bordered jambo_table"">
            <tr>
                <td colspan="2" style="border-bottom:1px dashed #dadada;">
                    <input  class="flat" type="radio" name="separate_by" value="0" {if !$config.config.separate_by || $config.config.separate_by eq 0} checked="true" {/if} onClick="actDiv('listDiv','');">
                    {$lang.separate_by.0}<input type="radio" class="flat" name="separate_by" value="1" {if $config.config.separate_by eq 1} checked="true" {/if} onClick="actDiv('listDiv','none');">
                    {$lang.separate_by.1}
                </td>
            </tr>
            <!-- 基本設定 -->
            <thead>
            <tr>
                <th colspan="2" style="text-align: center;font-weight: 600;font-size: 14px;">{$lang.form_general}</th>
            </tr>
            </thead>
            <tr>
                <td width="20%" align="right"><a href="javascript:showNotice('notice1');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}" /></a>{$lang.expire} </td>
                <td><input class="form-control" type="text" name="expire" maxlength="150" size="10" value="{$config.config.expire}" />
                    <select class="form-control" name="expire_unit">
                        {html_options options=$lang.unit selected=$config.config.expire_unit}
                    </select>
                    <br />
                    <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice1">{$lang.help_expire|nl2br}</span>                        
                    </td>
            </tr>
            <tr>
                <td align="right"><a href="javascript:showNotice('notice7');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}" /></a>{$lang.auto_ck} </td>
                <td><input type="radio" name="auto_ck" value="1" {if $config.config.auto_ck eq 1} checked="true" {/if}>{$lang.on}　<input type="radio" name="auto_ck" value="0" {if !$config.config.auto_ck || $config.config.auto_ck eq 0} checked="true" {/if}>{$lang.off}
                <br />
                <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice7">{$lang.help_ack|nl2br}</span></td>
            </tr>
            <tr>
                <td align="right"><a href="javascript:showNotice('notice6');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}" /></a>{$lang.level_order_num} </td>
                <td><input type="radio" name="level_order_num" value="1" {if $config.config.level_order_num eq 1} checked="true" {/if}>{$lang.single}　<input type="radio" name="level_order_num" value="0" {if !$config.config.level_order_num || $config.config.level_order_num eq 0} checked="true" {/if}>{$lang.all}
                <br />
                <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice6">{$lang.help_lon|nl2br}</span></td>
            </tr>
            <tr>
                <td align="right"><a href="javascript:showNotice('noticeloa');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}" /></a>{$lang.level_order_amount} </td>
                <td><input class="form-control" type="text" name="level_order_amount" maxlength="150" size="10" value="{$config.config.level_order_amount}" />
                <br />
                <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeloa">{$lang.help_loa|nl2br}</span></td>
            </tr>
            <tr>
                <td align="right"><a href="javascript:showNotice('noticeimg');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}" /></a>{$lang.affiliate_btn_img} </td>
                <td>
                    <input class="form-control" name="affiliate_btn_img" type="file" size="40" />
                        {if $affiliate_btn_img.value neq ""}
                        <img src="images/yes.gif" alt="yes" />
                        <br/>
                        <img src="{$affiliate_btn_img.value}" style="max-width:218px;height:auto;"alt="yes" />
                        {else}
                        <img src="images/no.gif" alt="no" />
                        {/if}
                <br/>
                <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeimg">請在上傳前將圖片的大小設定成218px x 115px</span></td>
                </td>
            </tr>
            <tr>
                <td align="right"><a href="javascript:showNotice('noticebimg');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}" /></a>Banner 圖片</td>
                <td>
                    <input class="form-control" name="affiliate_banner_img" type="file" size="40" />
                        {if $affiliate_banner_img.value neq ""}
                        <img src="images/yes.gif" alt="yes" />
                        <br/>
                        <img src="{$affiliate_banner_img.value}" width="400" alt="yes" />
                        {else}
                        <img src="images/no.gif" alt="no" />
                        {/if}
                <br/>
                <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticebimg">請在上傳前將圖片的大小設定成400px x 360px</span></td>
                </td>
            </tr>
            <tr>
                <td align="right"><a href="javascript:showNotice('noticebtext');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}" /></a>分享連結送出文字</td>
                <td>
                    <input class="form-control" type="text" name="affiliate_text" maxlength="250" size="150" value="{$config.config.affiliate_text}" />
                <br/>
                <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticebtext">{literal}請使用{%code}為推薦號碼, {%url}為連結 </span>{/literal}</td>
                </td>
            </tr>
            <!-- End 基本設定 -->
            <!-- 推薦人設定 -->
            <tr>
               <thead><th colspan="2" style="border-top:1px dashed #dadada;text-align: center;font-weight: 600;font-size: 14px;">{$lang.form_referrer}</th></thead>
            </tr>
            <tr>
                <td align="right"><a href="javascript:showNotice('notice2');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}" /></a>{$lang.level_point_all} </td>
                <td><input class="form-control" type="text" name="level_point_all" maxlength="150" size="10" value="{$config.config.level_point_all}" />
                <br />
                <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice2">{$lang.help_lpa|nl2br}</span></td>
            </tr>
            <tr>
                <td align="right"><a href="javascript:showNotice('notice3');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}" /></a>{$lang.level_money_all} </td>
                <td><input class="form-control" type="text" name="level_money_all" maxlength="150" size="10" value="{$config.config.level_money_all}" />
                <br />
                <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice3">{$lang.help_lma|nl2br}</span></td>
            </tr>
            <tr>
                <td align="right"><a href="javascript:showNotice('notice4');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}" /></a>{$lang.level_register_all}</td>
                <td><input class="form-control" type="text" name="level_register_all" maxlength="150" size="10" value="{$config.config.level_register_all}" />
                <br />
                <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice4">{$lang.help_lra|nl2br}</span></td>
            </tr>
            <tr>
                <td align="right"><a href="javascript:showNotice('notice5');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}" /></a>{$lang.level_register_up}</td>
                <td><input class="form-control" type="text" name="level_register_up" maxlength="150" size="10" value="{$config.config.level_register_up}" />
                <br />
                <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice5">{$lang.help_lru|nl2br}</span></td>
            </tr>
            <!-- End 推薦人設定 -->
            <!-- 被推薦人設定 -->
            <tr>
                <td colspan="2" style="border-top:1px dashed #dadada;text-align: center;font-weight: 600;font-size: 14px;">{$lang.form_referee}</td>
            </tr>
            <tr>
                <td align="right"><a href="javascript:showNotice('noticeimd');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}" /></a>{$lang.instant_money_discount} </td>
                <td><input class="form-control" type="text" name="instant_money_discount" maxlength="150" size="10" value="{$config.config.instant_money_discount}" />
                <br />
                <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeimd">{$lang.help_imd|nl2br}</span></td>
            </tr>
            <!--tr>
                <td align="right"><a href="javascript:showNotice('noticeipd');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}" /></a>{$lang.instant_point_refund} </td>
                <td><input type="text" name="instant_point_refund" maxlength="150" size="10" value="{$config.config.instant_point_refund}" />
                <br />
                <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeipd">{$lang.help_ipr|nl2br}</span></td>
            </tr-->
            <!-- End 被推薦人設定 -->
            <tr>
                <td></td>
                <td><input type="hidden" name="act" value="updata" /><input type="submit" value="{$lang.button_submit}" class="btn btn-primary" /></td>
            </tr>
        </table>
    </form>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<table class="table table-striped table-bordered bulk_action" id="#">
	<tr>
		<th name="levels" ReadOnly="true" width="10%">{$lang.levels}</th>
		<th name="level_point" Type="TextBox">{$lang.level_point}</th>
		<th name="level_money" Type="TextBox">{$lang.level_money}</th>
		<th Type="Button">{$lang.handler}</th>
	</tr>
{foreach from=$config.item item=val name=nav}
<tr align="center">
	<td>{$smarty.foreach.nav.iteration}</td>
	<td><span onclick="listTable.edit(this, 'edit_point', '{$smarty.foreach.nav.iteration}'); return false;">{$val.level_point}</span></td>
	<td><span onclick="listTable.edit(this, 'edit_money', '{$smarty.foreach.nav.iteration}'); return false;">{$val.level_money}</span></td>
	<td ><a href="javascript:confirm_redirect(lang_removeconfirm, 'affiliate.php?act=del&id={$smarty.foreach.nav.iteration}')"><img style="border:0px;" src="images/no.gif" /></a></td>
</tr>
{/foreach}
</table>
{if $full_page}
</div>
</div>
<script type="Text/Javascript" language="JavaScript">
<!--
{if !$config.on || $config.on eq 0}
actDiv('separate','none');
{else}
//actDiv('btnon','none');
{/if}
{if $config.config.separate_by eq 1}
actDiv('listDiv','none');
{/if}

var all_null = '{$lang.all_null}';
{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  cleanWhitespace(document.getElementById("listDiv"));
  if (document.getElementById("listDiv").childNodes[0].rows.length<6)
  {
    listTable.addRow(check);
  }
  
}
function check(frm)
{
  if (frm['level_point'].value == "" && frm['level_money'].value == "")
  {
     frm['level_point'].focus();
     alert(all_null);
     return false;  
  }
  
  return true;
}
function actDiv(divname, flag)
{
    document.getElementById(divname).style.display = flag;
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}
{/if}