{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>


<form action="affiliateyoho.php" method="post" name="form">
<div class=" x_panel">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <th width="30%"></th>
    <th width="70%"></th>
  </tr>
  <tr>
    <td class="label">會員</td>
    <td>
      <input id="user_search_txt" type="text" placeholder="輸入會員名稱或電郵" size="32" /><input id="user_search_btn" type="button" value=" 搜尋 " class="btn btn-primary" />
      <select id="user_search_select"></select>
      <input type="hidden" name="user_id" value="">
      <br />
      <span id="selected_user" style="line-height: 14px;">
        <img style="vertical-align: middle;" src="images/no.gif">
        <span>未選擇會員</span>
      </span>
    </td>
  </tr>
  <tr align="center">
    <td colspan="2">
      <input type="hidden"  name="act"       value="insert" />
      <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
    </td>
  </tr>
</table>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}

$(function () {
  // Setup AJAX loader
  $(document).ajaxStart(function () {
    showLoader();
  });
  $(document).ajaxStop(function () {
    hideLoader();
  });
  
  $('#user_search_btn').click(function () {
    var $txt = $('#user_search_txt');
    var $sel = $('#user_search_select');
    
    if (!$txt.val())
    {
      alert('請輸入會員名稱或電郵以進行搜尋');
      return;
    }
    
    $sel.empty();
    $sel.prop('disabled', true);
    $sel.append('<option value="">搜尋中...</option>');
    
    $.ajax({
      url: 'users.php',
      type: 'get',
      data: {
        'act': 'get_users_list',
        'keywords': $txt.val()
      },
      dataType: 'json',
      success: function (result) {
        var user_list = result.user_list;
        $sel.empty();
        $sel.prop('disabled', false);
        $sel.append('<option value="">請選擇會員</option>');
        $.each(user_list, function (i, user) {
          $opt = $('<option>');
          $opt.text(user.user_name);
          $opt.val(user.user_id);
          $opt.data('name', user.user_name);
          $sel.append($opt);
        });
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });
  });
  
  $('#user_search_txt').keypress(function (event){
    if (event.which == 13)
    {
      $('#user_search_btn').trigger('click');
      //Prevent the form from submitting
      event.preventDefault();
    }
  });
  
  $('#user_search_select').change(function (event){
    var $sel = $(this);
    if ($sel.val())
    {
      $('input[name="user_id"]').val($sel.val());
      $('#selected_user img').attr('src', 'images/yes.gif');
      var $a = $('<a>')
      $a.attr('target', '_blank');
      var user_name = $sel.find('option:selected').data('name');
      $a.attr('href', 'users.php?act=list&keywords=' + user_name);
      $a.text(user_name);
      $('#selected_user span').empty().append($a);
    }
  });
  
});

{/literal}
//-->
</script>
{include file="pagefooter.htm"}