{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
  <th><a href="javascript:listTable.sort('reward_id'); ">{$lang.record_id}</a>{$sort_reward_id}</th>
  <th><a href="javascript:listTable.sort('user_name'); ">推廣大使</a>{$sort_user_name}</th>
  <th><a href="javascript:listTable.sort('related_id'); ">範圍</a>{$sort_related_id}</th>
  <th><a href="javascript:listTable.sort('start_time'); ">開始日期</a>{$sort_start_time}</th>
  <th><a href="javascript:listTable.sort('end_time'); ">結束日期</a>{$sort_end_time}</th>
  <th><a href="javascript:listTable.sort('reward_value'); ">獎勵金額</a>{$sort_reward_value}</th>
  <th>{$lang.handler}</th>
</tr>
{foreach from=$list item=item}
<tr>
  <td align="center">{$item.reward_id}</td>
  <td align="center"><a href="users.php?act=list&amp;keywords={$item.user_name}">{$item.display_name}</a></td>
  <td align="left">
    {foreach from=$item.details item=detail name=foo}
    {if $detail.type eq 'all'}
    全部產品
    {elseif $detail.type eq 'goods'}
    產品：<a href="goods.php?act=list&amp;keyword={$detail.goods_sn}">{$detail.goods_name}</a>
    {elseif $detail.type eq 'category'}
    分類：<a href="goods.php?act=list&amp;cat_id={$detail.cat_id}">{$detail.cat_name}</a>
    {else}
    不明
    {/if}
    {if !$smarty.foreach.foo.last}<br>{/if}
    {foreachelse}
    N/A
    {/foreach}
  </td>
  <td align="center">{$item.start_date}</td>
  <td align="center">{$item.end_date}</td>
  <td align="center">{$item.reward_value}</td>
  <td align="center">
    <a href="affiliateyoho.php?act=edit_reward&amp;reward_id={$item.reward_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" width="16" height="16" border="0" /></a>
    <a href="affiliateyoho.php?act=copy_reward&amp;reward_id={$item.reward_id}" title="複製"><img src="images/icon_copy.gif" width="16" height="16" border="0" /></a>
    <a href="javascript:;" onclick="listTable.remove({$item.reward_id}, '{$lang.drop_confirm}', 'remove_reward')" title="{$lang.remove}"><img src="images/icon_drop.gif" width="16" height="16" border="0" /></a>
  </td>
</tr>
{foreachelse}
  <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
{/foreach}
</table>
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>
</div>
<script type="text/javascript" language="JavaScript">
listTable.query = 'query_rewards';
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
</script>


{include file="pagefooter.htm"}
{/if}