{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
  <table class="table table-striped table-bordered bulk_action" id="#">
  <tr>
    <th><a href="javascript:listTable.sort('user_id'); ">{$lang.record_id}</a>{$sort_user_id}</th>
    <th><a href="javascript:listTable.sort('user_name'); ">會員電話</a>{$sort_user_name}</th>
    <th><a href="javascript:listTable.sort('display_name'); ">會員名稱</a>{$sort_display_name}</th>
    <th><a href="javascript:listTable.sort('active_rewards'); ">有效</a>{$sort_active_rewards}</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$list item=item}
  <tr>
    <td align="center">{$item.user_id}</td>
    <td align="center"><a href="users.php?act=list&amp;keywords={$item.user_name}">{$item.user_name}</a></td>
    <td align="center">{$item.display_name}</td>
    <td align="center"><img src="images/{if $item.active_rewards}yes{else}no{/if}.gif" /></td>
    <td align="center">
      <a href="affiliateyoho.php?act=list_rewards&amp;user_id={$item.user_id}">管理獎勵</a>
      <a href="affiliateyoho.php?act=list_orders&amp;user_id={$item.user_id}">審批獎勵</a>
      <a href="javascript:;" onclick="listTable.remove({$item.user_id}, '你確定要開除推廣大使 {$item.display_name|escape:quotes} 嗎？')" title="{$lang.remove}">開除</a>
    </td>
  </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
  <!-- 分页 -->
  <table id="page-table" cellspacing="0">
    <tr>
      <td align="right" nowrap="true">
      {include file="page.htm"}
      </td>
    </tr>
  </table>
{if $full_page}
</div>
</div>
<script type="text/javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
</script>


{include file="pagefooter.htm"}
{/if}