{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>


<form action="affiliateyoho.php" method="post" name="form" class="form-inline">
<div class=" x_panel">
<table class="table table-bordered">
  {if $reward.reward_id}
  <tr>
    <td>編號</td>
    <td>
      {$reward.reward_id}
    </td>
  </tr>
  {/if}
  <tr>
    <td>會員</td>
    <td>
      {if $act neq 'reward_info' and !$reward.user_id}
      <input id="user_search_txt" type="text" placeholder="輸入會員名稱或電郵" size="32" /><input id="user_search_btn" type="button" value=" 搜尋 " class="btn btn-primary" />
      <select id="user_search_select"></select>
      <input type="hidden" name="user_id" value="">
      <br />
      <span id="selected_user" style="line-height: 14px;">
        <img style="vertical-align: middle;" src="images/no.gif">
        <span>未選擇會員</span>
      </span>
      {else}
      <a href="users.php?act=list&amp;keywords={$reward.user_name}">{$reward.display_name}</a>
      {/if}
    </td>
  </tr>
  <tr>
    <td>所有產品</td>
    <td>
      {if $act neq 'reward_info'}
      <input name="range[all]" type="hidden" value="0" />
      <input class="flat" name="range[all]" type="checkbox"{if $reward.range.all} checked="checked"{/if} />
      {else}
      <img src="images/{if $reward.range.all}yes{else}no{/if}.gif" />
      {/if}
    </td>
  </tr>
  <tr>
    <td>指定分類</td>
    <td>
      {if $act neq 'reward_info'}
      <select id="category_select"><option value="">請選擇分類</option>{$cat_list}</select>
      <br />
      <div id="selected_categories" style="line-height: 14px;">
        {foreach from=$reward.range.category item=category}
        <div class="category_row">
          <input type="hidden" name="range[category][]" value="{$category.cat_id}">
          <img class="remove_category_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;
          <a href="/category.php?id={$category.cat_id}" target="_blank">{$category.cat_name|escape}</a>
        </div>
        {foreachelse}
        <span class="no_category_selected">沒有選擇分類</span>
        {/foreach}
      </div>
      {else}
      {foreach from=$reward.range.category item=category}
      <a href="/category.php?id={$category.cat_id}" target="_blank">{$category.cat_name|escape}</a><br>
      {foreachelse}
      <img src="images/no.gif" />
      {/foreach}
      {/if}
    </td>
  </tr>
  <tr>
    <td>指定產品</td>
    <td>
      {if $act neq 'reward_info'}
      <input id="goods_search_txt" type="text" class="form-control" placeholder="輸入產品名稱或貨號" size="32" /><input id="goods_search_btn" type="button" value=" 搜尋 " class="btn btn-primary form-btn" />
      <select class="form-control" id="goods_search_select"></select>
      <br />
      <div id="selected_goods" style="line-height: 14px;">
        {foreach from=$reward.range.goods item=goods}
        <div class="goods_row">
          <input type="hidden" name="range[goods][]" value="{$goods.goods_id}">
          <img class="remove_goods_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;
          <a href="/goods.php?id={$goods.goods_id}" target="_blank">{$goods.goods_name|escape}</a>
        </div>
        {foreachelse}
        <span class="no_goods_selected">沒有選擇產品</span>
        {/foreach}
      </div>
      {else}
      {foreach from=$reward.range.goods item=goods}
      <a href="/goods.php?id={$goods.goods_id}" target="_blank">{$goods.goods_name|escape}</a><br>
      {foreachelse}
      <img src="images/no.gif" />
      {/foreach}
      {/if}
    </td>
  </tr>
  <tr>
    <td>獎勵金額</td>
    <td>
      {if $act neq 'reward_info'}
      <input class="form-control" name="reward_value" type="text" value="{$reward.reward_value}" size="40" placeholder="可輸入百份比(e.g. 1%)或直接輸入金額(e.g. 10)" />
      {else}
      {$reward.reward_value}
      {/if}
    </td>
  </tr>
  <tr>
    <td>有效日期</td>
    <td>
      {if $act neq 'reward_info'}
      <input class="form-control" name="start_date" type="text" id="start_date" size="22" value='{$reward.start_date}' data-type="datetime"/>
      -
      <input class="form-control" name="end_date" type="text" id="end_date" size="22" value='{$reward.end_date}' data-type="datetime"/>
      {else}
      {$reward.start_date} - {$reward.end_date}
      {/if}
    </td>
  </tr>
  {if $act neq 'reward_info'}
  <tr align="center">
    <td colspan="2">
      {if $reward.user_id}
      <input type="hidden"  name="user_id" value="{$reward.user_id}" />
      {/if}
      <input type="hidden"  name="reward_id" value="{$reward.reward_id}" />
      <input type="hidden"  name="act"       value="{if $act eq 'add_reward' or $act eq 'copy_reward'}insert_reward{else}update_reward{/if}" />
      <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
    </td>
  </tr>
  {/if}
</table>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}

$(function () {
  
  // Setup AJAX loader
  $(document).ajaxStart(function () {
    showLoader();
  });
  $(document).ajaxStop(function () {
    hideLoader();
  });
  
  // ==================== Select Category ====================
  
  var cat_leaves = {$cat_leaves|json_encode};
  
  $('#category_select option').each(function () {
    var cat_id = $(this).val();
    if (cat_id && cat_leaves.indexOf(cat_id) == -1)
    {
      $(this).prop('disabled', true);
    }
  });
  
  $('#category_select').change(function (event){
    var $sel = $(this);
    if ($sel.val())
    {
      var cat_id = $sel.val();
      var cat_name = $.trim($sel.find('option:selected').text());
      
      // if category already selected...
      if ($('#selected_categories input[name="range[category][]"][value="' + cat_id + '"]').length > 0)
      {
        // nothing to do...
      }
      else
      {
        // if no category selected...
        if ($('#selected_categories .no_category_selected').length > 0)
        {
          // remove the no category selected prompt first
          $('#selected_categories .no_category_selected').remove();
        }
        
        // add category row
        var $category_row = $('<div class="category_row">' +
          '<input type="hidden" name="range[category][]" value="' + cat_id + '">' +
          '<img class="remove_category_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;' +
          '<a href="/category.php?id=' + cat_id + '" target="_blank">' + cat_name + '</a>' +
        '</div>');
        $('#selected_categories').append($category_row);
      }
    }
  });
  
  $('#selected_categories').on('click', '.category_row .remove_category_row', function () {
    $(this).closest('.category_row').remove();
    if ($('#selected_categories .category_row').length == 0)
    {
      $('#selected_categories').append('<span class="no_category_selected">沒有選擇分類</span>');
    }
  });
  
  // ==================== Search Goods ====================
  
  $('#goods_search_btn').click(function () {
    var $txt = $('#goods_search_txt');
    var $sel = $('#goods_search_select');
    
    if (!$txt.val())
    {
      alert('請輸入產品名稱或貨號以進行搜尋');
      return;
    }
    
    $sel.empty();
    $sel.prop('disabled', true);
    $sel.append('<option value="">搜尋中...</option>');
    
    $.ajax({
      url: 'goods.php',
      type: 'get',
      data: {
        'act': 'get_goods_list',
        'JSON': JSON.stringify({
          'keyword': $txt.val()
        })
      },
      dataType: 'json',
      success: function (result) {
        var goods_list = result.content;
        $sel.empty();
        $sel.prop('disabled', false);
        $sel.append('<option value="">請選擇產品</option>');
        $.each(goods_list, function (i, goods) {
          $opt = $('<option>');
          $opt.text(goods.text + ' [$' + goods.data + ']');
          $opt.val(goods.value);
          $opt.data('name', goods.text);
          $sel.append($opt);
        });
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });
  });
  
  $('#goods_search_txt').keypress(function (event){
    if (event.which == 13)
    {
      $('#goods_search_btn').trigger('click');
      //Prevent the form from submitting
      event.preventDefault();
    }
  });
  
  $('#goods_search_select').change(function (event){
    var $sel = $(this);
    if ($sel.val())
    {
      var goods_id = $sel.val();
      var goods_name = $sel.find('option:selected').data('name');
      
      // if goods already selected...
      if ($('#selected_goods input[name="range[goods][]"][value="' + goods_id + '"]').length > 0)
      {
        // nothing to do...
      }
      else
      {
        // if no goods selected...
        if ($('#selected_goods .no_goods_selected').length > 0)
        {
          // remove the no goods selected prompt first
          $('#selected_goods .no_goods_selected').remove();
        }
        
        // add goods row
        var $goods_row = $('<div class="goods_row">' +
          '<input type="hidden" name="range[goods][]" value="' + goods_id + '">' +
          '<img class="remove_goods_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;' +
          '<a href="/goods.php?id=' + goods_id + '" target="_blank">' + goods_name + '</a>' +
        '</div>');
        $('#selected_goods').append($goods_row);
      }
    }
  });
  
  $('#selected_goods').on('click', '.goods_row .remove_goods_row', function () {
    $(this).closest('.goods_row').remove();
    if ($('#selected_goods .goods_row').length == 0)
    {
      $('#selected_goods').append('<span class="no_goods_selected">沒有選擇產品</span>');
    }
  });
  
  // ==================== Search User ====================
  
  $('#user_search_btn').click(function () {
    var $txt = $('#user_search_txt');
    var $sel = $('#user_search_select');
    
    if (!$txt.val())
    {
      alert('請輸入會員名稱或電郵以進行搜尋');
      return;
    }
    
    $sel.empty();
    $sel.prop('disabled', true);
    $sel.append('<option value="">搜尋中...</option>');
    
    $.ajax({
      url: 'users.php',
      type: 'get',
      data: {
        'act': 'get_users_list',
        'keywords': $txt.val()
      },
      dataType: 'json',
      success: function (result) {
        var user_list = result.user_list;
        $sel.empty();
        $sel.prop('disabled', false);
        $sel.append('<option value="">請選擇會員</option>');
        $.each(user_list, function (i, user) {
          $opt = $('<option>');
          $opt.text(user.user_name);
          $opt.val(user.user_id);
          $opt.data('name', user.user_name);
          $sel.append($opt);
        });
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });
  });
  
  $('#user_search_txt').keypress(function (event){
    if (event.which == 13)
    {
      $('#user_search_btn').trigger('click');
      //Prevent the form from submitting
      event.preventDefault();
    }
  });
  
  $('#user_search_select').change(function (event){
    var $sel = $(this);
    if ($sel.val())
    {
      $('input[name="user_id"]').val($sel.val());
      $('#selected_user img').attr('src', 'images/yes.gif');
      var $a = $('<a>')
      $a.attr('target', '_blank');
      var user_name = $sel.find('option:selected').data('name');
      $a.attr('href', 'users.php?act=list&keywords=' + user_name);
      $a.text(user_name);
      $('#selected_user span').empty().append($a);
    }
  });
  
});

{/literal}
//-->
</script>
{include file="pagefooter.htm"}