{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
  <th><a href="javascript:listTable.sort('order_id'); ">相關訂單</a>{$sort_order_id}</th>
  <th><a href="javascript:listTable.sort('add_time'); ">下單時間</a>{$sort_add_time}</th>
  <th>訂單狀態</th>
  <th>有獎勵的產品</th>
  <th>產品價格</th>
  <th>購買數量</th>
  <th>相關獎勵</th>
  <th>獎勵類型</th>
  <th>獎勵金額</th>
  <th>批核獎勵</th>
</tr>
{foreach from=$list item=item}
<tr>
  <td align="center" nowrap="nowrap"><a href="order.php?act=info&amp;order_id={$item.order_id}">{$item.order_sn}</a></td>
  <td align="center">{$item.add_time_formatted}</td>
  <td align="center">{$lang.ps[$item.pay_status]} {$lang.ss[$item.shipping_status]}</td>
  <td align="left" nowrap="nowrap">
    {foreach from=$item.goods item=detail name=foo}
    <a href="goods.php?act=list&amp;keyword={$detail.goods_sn}">{$detail.goods_name|truncate:40}</a>
    {if !$smarty.foreach.foo.last}<br>{/if}
    {foreachelse}
    N/A
    {/foreach}
  </td>
  <td align="center" nowrap="nowrap">
    {foreach from=$item.goods item=detail name=foo}
    {$detail.goods_price}
    {if !$smarty.foreach.foo.last}<br>{/if}
    {foreachelse}
    N/A
    {/foreach}
  </td>
  <td align="center" nowrap="nowrap">
    {foreach from=$item.goods item=detail name=foo}
    {$detail.goods_number}
    {if !$smarty.foreach.foo.last}<br>{/if}
    {foreachelse}
    N/A
    {/foreach}
  </td>
  <td align="center" nowrap="nowrap">
    {foreach from=$item.goods item=detail name=foo}
    <a href="affiliateyoho.php?act=reward_info&amp;reward_id={$detail.reward_id}">{$detail.reward_id}</a>
    {if !$smarty.foreach.foo.last}<br>{/if}
    {foreachelse}
    N/A
    {/foreach}
  </td>
  <td align="left" nowrap="nowrap">
    {foreach from=$item.goods item=detail name=foo}
    {if $detail.type eq 'all'}
    全部產品
    {elseif $detail.type eq 'goods'}
    指定產品
    {elseif $detail.type eq 'category'}
    <a href="goods.php?act=list&amp;cat_id={$detail.cat_id}">指定分類</a>
    {else}
    不明
    {/if}
    {if !$smarty.foreach.foo.last}<br>{/if}
    {foreachelse}
    N/A
    {/foreach}
  </td>
  <td align="center" nowrap="nowrap">
    {foreach from=$item.goods item=detail name=foo}
    {$detail.reward_value}
    {if !$smarty.foreach.foo.last}<br>{/if}
    {foreachelse}
    N/A
    {/foreach}
  </td>
  <td align="left" nowrap="nowrap">
    {foreach from=$item.goods item=detail name=foo}
    {if $detail.reward_time}
    已批核 <span onclick="listTable.edit(this, 'edit_reward_amount', {$detail.rec_id});">{$detail.reward_amount_formatted}</span>
    {else}
    <span class="approve_reward_span form-inline" data-rec-id="{$detail.rec_id}" data-reward-id="{$detail.reward_id}">
      <input class="form-control" type="text" size="7" value="{$detail.suggested_reward}">
      <input class="btn btn-primary form-btn" type="button" value="確定">
    </span>
    {/if}
    {if !$smarty.foreach.foo.last}<br>{/if}
    {foreachelse}
    N/A
    {/foreach}
  </td>
</tr>
{foreachelse}
  <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
{/foreach}
</table>
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>
</div>
<script type="text/javascript" language="JavaScript">
listTable.query = 'query_orders';
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

// Setup AJAX loader
$(document).ajaxStart(function () {
  showLoader();
});
$(document).ajaxStop(function () {
  hideLoader();
});

// Confirm reward for an order goods
$('.list-div').on('click', '.approve_reward_span input[type="button"]', function () {
  var $btn = $(this);
  var $parent = $btn.closest('.approve_reward_span');
  var $input = $btn.siblings('input[type="text"]');
  
  var rec_id = $parent.data('recId');
  var reward_id = $parent.data('rewardId');
  var reward_amount = $input.val();
  
  if (!reward_amount)
  {
    alert('請先輸入金額');
  }
  
  $.ajax({
    url: 'affiliateyoho.php',
    type: 'post',
    cache: false,
    data: {
      'act': 'edit_reward_amount',
      'id': rec_id,
      'reward_id': reward_id,
      'val': reward_amount
    },
    dataType: 'json',
    success: function (result) {
      if (result.error)
      {
        alert(result.message);
      }
      else
      {
        $parent.html('已批核 <span onclick="listTable.edit(this, \'edit_reward_amount\', ' + rec_id + ');">' + result.content + '</span>');
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
  });
});

</script>


{include file="pagefooter.htm"}
{/if}