<!-- $Id: article_list.htm 16783 2009-11-09 09:59:06Z liuhui $ -->
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
<style>
  #sortable {list-style-type: none; margin: 0; padding: 0; width: 90%;}
  #sortable li {margin: 0 3px 5px 3px; font-size: 15px; padding: 0; padding-left: 0px; padding-left: 15px; background-color: khaki;}
  #sortable li:hover {cursor: grab;}
  #sortable li span {position: absolute; margin-left: -1.3em;}
  .pop-article-list .cat_title {font-size: 17px; font-weight: bold; padding-left: 20px;}
  .pop-article-list .cat_title::before {content: "分類: ";}
  .pop-article-list .order-submit {margin: 8px auto; display: table;}
  #sortable.drag_list::before {content: "編號 - 標題"; padding-left: 20px; font-size: 14px; display: block;}
</style>
<div class=" x_panel">
    {insert_scripts files="../js/utils.js,i18n.js"}
    <div class="x_panel">
        <div class="form-div col-md-12 col-sm-12 col-xs-12">
            <form action="javascript:searchArticle()" name="searchForm" class="form-inline">
                <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH"/>
                <select class="form-control" name="cat_id">
                    <option value="0">{$lang.all_cat}</option>
                    {$cat_select}
                </select>
                {$lang.title} <input class="form-control" type="text" name="keyword" id="keyword"/>
                <input type="submit" value="{$lang.button_search}" class="btn btn-success form-btn"/>
            </form>
        </div>
        <div class="tab-div col-md-12 col-sm-12 col-xs-12">
            <ul class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#post-div" id="post-tab" role="tab" data-toggle="tab"
                                                          aria-expanded="true">資訊</a>
                </li>
                <li role="presentation" class=""><a href="#page-div" id="page-tab" role="tab" data-toggle="tab"
                                                    aria-expanded="true">頁面</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="post-div" aria-labelledby="post-tab">
                    <table id="post" class="table table-bordered table-striped bulk_action ">
                        <thead>
                        <tr>
                            <th data-id='article_id' data-key='article_id'>{$lang.article_id}</th>
                            <th data-id='title'>{$lang.title}</th>
                            <th data-id='cat_id' data-value="cat_name" data-order="1">{$lang.cat}</th>
                            <th data-id='sort_order' data-edit="false">{$lang.sort_order}</th>
                            <th data-id='article_type' data-type="toggle">置頂</th>
                            <th data-id='click_count'>{$lang.click_count}</th>
                            <th data-id='is_open' data-type="toggle">{$lang.is_open}</th>
                            <th data-id='add_time' data-value='date'>{$lang.add_time}</th>
                            <th data-id="_action">{$lang.handler}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="page-div" aria-labelledby="page-tab">
                    <table id="page" class="table table-bordered table-striped bulk_action ">
                        <thead>
                        <tr>
                            <th data-id='article_id' data-key='article_id'>{$lang.article_id}</th>
                            <th data-id='title'>{$lang.title}</th>
                            <th data-id='cat_id' data-value="cat_name" data-order="1">{$lang.cat}</th>
                            <th data-id='article_type' data-type="toggle">置頂</th>
                            <th data-id='click_count'>{$lang.click_count}</th>
                            <th data-id='is_open' data-type="toggle">{$lang.is_open}</th>
                            <th data-id='add_time' data-value='date'>{$lang.add_time}</th>
                            <th data-id="_action">{$lang.handler}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <form method="POST" action="article.php?act=batch_remove" name="listForm">
        <div>
            <input type="hidden" name="act" value="batch"/>
            <select name="type" id="selAction" onchange="changeAction()">
                <option value="">{$lang.select_please}</option>
                <option value="button_remove">{$lang.button_remove}</option>
                <option value="button_hide">{$lang.button_hide}</option>
                <option value="button_show">{$lang.button_show}</option>
                <option value="move_to">{$lang.move_to}</option>
            </select>
            <select name="target_cat" style="display:none">
                <option value="0">{$lang.select_please}</option>
                {$cat_select}
            </select>

            <input type="submit" value="{$lang.button_submit}" id="btnSubmit" name="btnSubmit" class="btn btn-primary"
                   disabled="true"/>
        </div>
    </form>
</div>
<!-- end cat list -->
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">

    yohoTable.table_id = "post";
    yohoTable.query = "query&type=post";
    yohoTable.lengthMenu = [50, 100, 150];
    var $table = yoho_dataTable();
    var yohoTablepage = {
        query: 'query&type=page',
        table_id: "page",
        lengthMenu: [50, 100, 150],
    };
    yohoTables.push(yohoTablepage);
    for (var i = 1; i < yohoTables.length; i++) {
        yoho_dataTable(i);
    }

    /**
     * @param: bool ext 其他条件：用于转移分类
     */
    function confirmSubmit(frm, ext) {
        if (frm.elements['type'].value == 'button_remove') {
            return confirm(drop_confirm);
        }
        else if (frm.elements['type'].value == 'not_on_sale') {
            return confirm(batch_no_on_sale);
        }
        else if (frm.elements['type'].value == 'move_to') {
            ext = (ext == undefined) ? true : ext;
            return ext && frm.elements['target_cat'].value != 0;
        }
        else if (frm.elements['type'].value == '') {
            return false;
        }
        else {
            return true;
        }
    }

    function changeAction() {

        var frm = document.forms['listForm'];

        // 切换分类列表的显示
        frm.elements['target_cat'].style.display = frm.elements['type'].value == 'move_to' ? '' : 'none';

        if (!document.getElementById('btnSubmit').disabled &&
            confirmSubmit(frm, false)) {
            frm.submit();
        }
    }

    /* 搜索資訊 */
    function searchArticle() {
	    var $filter = {};
        $filter.keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
        $filter.cat_id = parseInt(document.forms['searchForm'].elements['cat_id'].value);
	    $table.search($filter);
    }

    function sort_list() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    };

    function orderSubmit() {
      var idsInOrder = $("#sortable").sortable("toArray");
      $.ajax({
        url: 'article.php',
        type: 'post',
        cache: false,
        data: {
          'act': 'updateOrder',
          'order': JSON.stringify(idsInOrder)
        },
        success: function (result) {
          if (result.error)
          {
            alert(result.message);
          }
          else
          {
            modal.hide($popup);
            searchArticle();
          }
        },
        failure: function(errMsg) {
        alert("failure: "+errMsg);
         },
        error: function (xhr) {
          alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
          console.log("error: "+xhr);
        }
      });
      
    }
    
    function orderPopup(cat_id)
    {
      var $_table = this.$table;
      var $inner = $('<div class="pop-article-list"></div>');
      $.ajax({
        url: 'article.php',
        type: 'get',
        cache: false,
        data: {
          'act': 'getOrderList',
          'cat_id': cat_id
        },
        dataType: 'json',
        success: function (result) {
          if (result.error)
          {
            alert(result.message);
          }
          else
          {
            $inner.append("<div class='cat_title'>" + result.content.title + "</div>");
            var $rows = $("<ul id='sortable' class='drag_list'></ul>");
            $.each(result.content.list, function (i, row) {
              $rows.append("<li class='ui-state-default' id='" + row.article_id + "'><span class='ui-icon ui-icon-arrowthick-2-n-s'></span>" + row.article_id + " - " + row.title + "</li>");
            });

            $inner.append($rows);
            $inner.append("<a href='javascript:;' class='btn btn-info order-submit' onclick='orderSubmit(27)'>修改</a>");
          }
        },
        error: function (xhr) {
          alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
          console.log(xhr);
        }
      });

      $popup = modal.create('更改資訊排序', $inner);
      modal.show($popup);
      setTimeout(function() {
        sort_list();
      }, 1000);
    }

    {/literal}
</script>