<!-- $Id: article_info.htm 16780 2009-11-09 09:28:30Z sxc_shop $ -->

{include file="pageheader.htm"}
<link href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" rel="stylesheet">
<link href="css/grapesjs-preset-webpage.min.css" rel="stylesheet">
<script src="https://static.filestackapi.com/v3/filestack-0.1.10.js"></script>
<script src="https://unpkg.com/grapesjs"></script>
<script src="js/grapesjs-preset-webpage.min.js"></script>
{insert_scripts files="../js/utils.js,selectzone.js,validator.js,i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>


<style>
.calendar{
    z-index:2;
}
</style>
<!-- start form -->
<div class=" x_panel">
  <!-- tab bar -->
  <div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul class="nav nav-tabs bar_tabs" role="tablist">
      <li role="presentation" class="active" id="general-tab"><a href="#general-table"role="tab" data-toggle="tab" aria-expanded="true">{$lang.tab_general}</a></li>
      <li class="" id="detail-tab"><a href="#detail-table"role="tab" data-toggle="tab" aria-expanded="true">{$lang.tab_content}</a></li>
      {if !$support}<li class="" id="goods-tab"><a href="#goods-table"role="tab" data-toggle="tab" aria-expanded="true">{$lang.tab_goods}</a></li>{/if}
    </ul>
  </div>

  <form action="article.php" method="post" enctype="multipart/form-data" name="theForm" onsubmit="return validate();" class="tab-content form-horizontal form-label-left">
    <div role="tabpanel" class="tab-pane fade active in" id="general-table">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.title}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" class="form-control" require name="title" size ="40" maxlength="60" value="{$article.title|escape}" /></div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">永久鏈結</label>
        <div class="col-md-6 col-sm-6 col-xs-12" id="perma_link"></div>
      </div>
      <!-- {if $article.cat_id >= 0} -->
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.cat} </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select require class="form-control" name="article_cat" onchange="catChanged()">
            <option value="0">{$lang.select_plz}</option>
            {$cat_select}
          </select>
        </div>
      </div>
      <!-- {else} -->
      <input type="hidden" name="article_cat" value="-1" />
      <!-- {/if} -->
      {if $article.cat_id >= 0}
      {if !$support}
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.article_type}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input class="flat" type="radio" name="article_type" value="0" {if $article.article_type eq 0}checked{/if}>{$lang.common}
          <input class="flat" type="radio" name="article_type" value="1" {if $article.article_type eq 1}checked{/if}>{$lang.top}
        </div>
      </div>
      {/if}
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.is_open}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input class="flat" type="radio" name="is_open" value="1" {if $article.is_open eq 1}checked{/if}> {$lang.isopen}
          <input class="flat" type="radio" name="is_open" value="0" {if $article.is_open eq 0}checked{/if}> {$lang.isclose}
        </div>
      </div>
      {else}
      <tr style="display:none">
      <td colspan="2"><input type="hidden" name="article_type" value="0" /><input type="hidden" name="is_open" value="1" /></div>
      </div>
      {/if}
      <!--tr>
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.author}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" class="form-control"  name="author" maxlength="60" value="{$article.author|escape}" /></div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.email}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" class="form-control"  name="author_email" maxlength="60" value="{$article.author_email|escape}" /></div>
      </tr-->
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.add_time}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type="text" class="form-control" data-type="datetime" name="add_time" maxlength="60" id="add_time" value="{$article.add_time}" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.keywords}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" class="form-control"  name="keywords" maxlength="60" value="{$article.keywords|escape}" /></div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lable_description}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><textarea class="form-control" name="description" id="description" cols="40" rows="5">{$article.description|escape}</textarea></div>
      </div>
      {if !$support}
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.external_links}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input name="link_url" type="text" class="form-control" id="link_url" value="{if $article.link neq ''}{$article.link|escape}{else}http://{/if}" maxlength="60" /></div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.upload_file}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control" type="file" name="file">
          <span class="narrow-label">{$lang.file_url}
            <input name="file_url" type="text" class="form-control"  value="{$article.file_url|escape}" size="30" maxlength="255" />
          </span>
            <span class="form-helper" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice_upload_file">{$lang.notice_upload_file}</span>
                {if $article.file_url}
                <img src="{$article.file_url}" border="0" style=" padding-top: 5px;" />
              {/if}
        </div>
      </div>
      {/if}
    </div>

    <div role="tabpanel" class="tab-pane fade" id="detail-table">
        <div class="form-group">
          電腦版：
          <!--{ if !$usegjs} -->
          <textarea class="form-control tinymce" name="content" id="tinymce">{$article.content|escape}</textarea>
          <!-- {else} -->
          <div id="gjs" data-id="content">{$article.content}</div>
          <input type="hidden" name="content" value="{$article.content|escape}">
          <!-- {/if} -->
        </div>
        <div class="form-group">
          手機版： (如果留空，手機上會顯示電腦版本)
          <textarea class="form-control tinymce" name="mobile_content" id="tinymce">{$article.mobile_content|escape}</textarea>
        </div>
    </div>
    {if !$support}
    <div role="tabpanel" class="tab-pane fade" id="goods-table">
      <!-- 商品搜索 -->
      <div class="form-inline">
        <div class="form-group">
          <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
          <select class="form-control" name="cat_id"><option value="0">{$lang.all_category}{$goods_cat_list}</select>
          <select class="form-control" name="brand_id"><option value="0">{$lang.all_brand}{html_options options=$brand_list}</select>
          <div class="input-group no-margin">
            <input class="form-control" type="text" name="keyword" />
            <div class="input-group-btn">
              <input type="button" value="{$lang.button_search}"  class="btn btn-success"
                onclick="searchGoods()" />
            </div>
          </div>
        </div>
      </div>
      <!-- 商品列表 -->
      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-64 sz_left">
          {$lang.all_goods}
          <div class="col-xs-12 btn-group">
            <input type="button" value=">" onclick="sz.addItem(false, 'add_link_goods', articleId)" class="btn btn-default col-md-6 col-sm-6" />
            <input type="button" value=">>" onclick="sz.addItem(true, 'add_link_goods', articleId)" class="btn btn-default col-md-6 col-sm-6" />
          </div>
          <select class="form-control" name="source_select" size="20" ondblclick="sz.addItem(false, 'add_link_goods', articleId)" multiple="true">
          </select>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 sz_right">
          {$lang.send_bouns_goods}
          <div class="col-xs-12 btn-group">
            <input type="button" value="<" onclick="sz.dropItem(false, 'drop_link_goods', articleId)" class="btn btn-default col-md-6 col-sm-6" />
            <input type="button" value="<<" onclick="sz.dropItem(true, 'drop_link_goods', articleId)" class="btn btn-default col-md-6 col-sm-6" />
          </div>
          <select class="form-control" name="target_select" multiple="true" size="20" style="width:90%" ondblclick="sz.dropItem(false, 'drop_link_goods', articleId)">
            {foreach from=$goods_list item=goods}
            <option value="{$goods.goods_id}">{$goods.goods_name}</option>
            {/foreach}
        </select>
        </div>
      </div>
    </div>
    {/if}
    <div class="form-group">
      <div class="ln_solid"></div>
      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <input type="hidden" name="act" value="{$form_action}" />
        <input type="hidden" name="old_title" value="{$article.title}"/>
        <input type="hidden" name="id" value="{$article.article_id}" />
        <input type="submit" value="{$lang.button_submit}" class="btn btn-primary"  />
        <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
    </div>
  </form>

</div>
<!-- end goods form -->
<script language="JavaScript">

var articleId = {$article.article_id|default:0};
var elements  = document.forms['theForm'].elements;
var sz        = new SelectZone(1, elements['source_select'], elements['target_select'], '');

{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

function validate()
{
  var validator = new Validator('theForm');
  validator.required('title', no_title);
{/literal}
{if $article.cat_id >= 0}
  validator.isNullOption('article_cat',no_cat);
{/if}
{literal}
  {if $form_action eq 'insert'}
  if (!$("input[name=perma_link]").data('pass')) {
    alert("設先設定永久鏈結")
    return false;
  } else if ($("input[name=perma_link_raw]").val() == "") {
    alert("設先重新整理")
    return false;
  }
  {/if}

  return validator.passed();
}

/* document.getElementById("tabbar-div").onmouseover = function(e)
{
    var obj = Utils.srcElement(e);

    if (obj.className == "tab-back")
    {
        obj.className = "tab-hover";
    }
}

document.getElementById("tabbar-div").onmouseout = function(e)
{
    var obj = Utils.srcElement(e);

    if (obj.className == "tab-hover")
    {
        obj.className = "tab-back";
    }
}

document.getElementById("tabbar-div").onclick = function(e)
{
    var obj = Utils.srcElement(e);

    if (obj.className == "tab-front")
    {
        return;
    }
    else
    {
        objTable = obj.id.substring(0, obj.id.lastIndexOf("-")) + "-table";

        var tables = document.getElementsByTagName("table");
        var spans  = document.getElementsByTagName("span");

        for (i = 0; i < tables.length; i++)
        {
            if (tables[i].id == objTable)
            {
                tables[i].style.display = (Browser.isIE) ? "block" : "table";
            }
            else
            {
                tables[i].style.display = "none";
            }
        }
        for (i = 0; spans.length; i++)
        {
            if (spans[i].className == "tab-front")
            {
                spans[i].className = "tab-back";
                obj.className = "tab-front";
                break;
            }
        }
    }
} */

function showNotice(objId)
{
    var obj = document.getElementById(objId);

    if (obj)
    {
        if (obj.style.display != "block")
        {
            obj.style.display = "block";
        }
        else
        {
            obj.style.display = "none";
        }
    }
}

function searchGoods()
{
    var elements  = document.forms['theForm'].elements;
    var filters   = new Object;

    filters.cat_id = elements['cat_id'].value;
    filters.brand_id = elements['brand_id'].value;
    filters.keyword = Utils.trim(elements['keyword'].value);
    filters.is_on_sale = 1;

    sz.loadOptions('get_goods_list', filters);
}
{/literal}

/**
 * 选取上级分类时判断选定的分类是不是底层分类
 */
function catChanged()
{
  var obj = document.forms['theForm'].elements['article_cat'];

  cat_type = obj.options[obj.selectedIndex].getAttribute('cat_type');
  if (cat_type == undefined)
  {
    cat_type = 1;
  }

  if ((obj.selectedIndex > 0) && (cat_type == 2 || cat_type == 4))
  {
    alert(not_allow_add);
    obj.selectedIndex = 0;
    return false;
  }

  return true;
}

// Multiple language support
var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};
$(function() {
  {if $form_action eq 'insert'}
    $("#perma_link").permaLink({
      table: 'article',
      url: '/post/{id}-'
    });
  {else}
    $("#perma_link").permaLink({
      priv: '{if $edit_perma_link}1{else}0{/if}',
      table: 'article',
      id: '{$article.article_id}',
      origin: {$localized_versions|json_encode},
      init: '{$article.perma_link}',
      url: '/post/{$article.article_id}-'
    });
  {/if}
})
</script>
{include file="pagefooter.htm"}
