<!-- $Id: articlecat_info.htm 16752 2009-10-20 09:59:38Z wangleisvn $ -->
{include file="pageheader.htm"}
{insert_scripts files="i18n.js"}
<style>
  .demo {
    padding: 5px;
    width: 50%;
    margin: 15px 0;
    border: 1px solid #e6e6e6;
    text-align: center;
    display: flow-root;
  }
  .demo h2 {
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #00acee;
    padding-bottom: 10px;
  }
  .grid-list {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
  }
  .col {
    background: rgba(0, 172, 238, 0.2);
    position: relative;
    min-height: 80px;
  }
  .four .col {
    width: 23%;
    margin: 0 1%;
  }
  .two .col {
    width: 48%;
    margin: 0 1%;
  }
  .three .col {
    width: 31%;
    margin: 0 1%;
  }
  .col:before{
    content: "";
    display: block;
  }
  .four .col:before {
    padding-top: 100%; 	/* initial ratio of 1:1*/
  }
  .two .col:before {
    padding-top: 60%;
  }
  .demo.grid-2 .two .col:before {
    padding-top: 80%;
  }
  .demo.grid-0 button, .demo.grid-1 button {
    background: #00acee;
    color: white;
    border: 0;
    margin: auto;
    padding: 3px 12px;
    left: 0;
    right: 0;
    width: 85px;
  }
  .demo.grid-2 button {
    background: transparent;
    color: #00acee;
    border: 1px solid #00acee;
    margin: auto;
    padding: 3px 12px;
    left: 0;
    right: 0;
    width: 85px;
    font-size: 12px;
  }
  .grid-2>.nav, .grid-2>.grid-list {
    float: left;
    width: 50%;
  }
  .grid-2>.nav {
    padding-left: 15%;
    box-sizing: border-box;
  }
  .demo.grid-2 h2 {
    border: 0;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 5px;
  }
  .demo.grid-2 h2:after {
    content: "";
    background: #00acee;
    position: absolute;
    width: 10%;
    height: 1px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 5px;
  }
</style>
<div class=" x_panel">
<form method="post" action="articlecat.php" name="theForm" enctype="multipart/form-data"  onsubmit="return validate()" class="tab-content form-horizontal form-label-left">
  <!-- tab bar -->
  <div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul class="nav nav-tabs bar_tabs" role="tablist">
      <li role="presentation" class="active" id="general-tab"><a href="#general-table"role="tab" data-toggle="tab" aria-expanded="true">普通設置</a></li>
      {if $parent.cat_type eq 1 AND $parent.parent_id eq 0}<li class="" id="desktop-tab"><a href="#desktop-table"role="tab" data-toggle="tab" aria-expanded="true">桌面版 父層顯示風格</a></li>{/if}
    </ul>
  </div>
  <div role="tabpanel" class="tab-pane fade active in" id="general-table">
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.cat_name}</label>
      <div class="col-md-6 col-sm-6 col-xs-12"><input require class="form-control" type="text" name="cat_name" maxlength="60" size = "30" value="{$cat.cat_name|escape}" /></div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">永久鏈結</label>
      <div class="col-md-6 col-sm-6 col-xs-12" id="perma_link"></div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.parent_cat}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select class="form-control" name="parent_id" onchange="catChanged()" {if $disabled}disabled{/if} >
          {if $form_action neq 'insert' and $cat.parent_id eq 0}<option value="0" >{$lang.cat_top}</option>{/if}
          {$cat_select}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.sort_order}:</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input class="form-control" type="number" name='sort_order' {if $cat.sort_order}value='{$cat.sort_order}'{else} value="50"{/if} size="15" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.show_in_nav}:</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input class="flat" type="radio" name="show_in_nav" value="1" {if $cat.show_in_nav neq 0} checked="true"{/if}/> {$lang.yes}
        <input class="flat" type="radio" name="show_in_nav" value="0" {if $cat.show_in_nav eq 0} checked="true"{/if} /> {$lang.no}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.show_in_footer}:</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input class="flat" type="radio" name="show_in_footer" value="1" {if $cat.show_in_footer neq 0} checked="true"{/if}/> {$lang.yes}
        <input class="flat" type="radio" name="show_in_footer" value="0" {if $cat.show_in_footer eq 0} checked="true"{/if} /> {$lang.no}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.cat_keywords}</label>
      <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control" type="text" name="keywords" maxlength="60" size="50" value="{$cat.keywords|escape}" />
      <span class="form-helper" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice_keywords">{$lang.notice_keywords}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.cat_desc}</label>
      <div class="col-md-6 col-sm-6 col-xs-12"><textarea class="form-control" name="cat_desc" cols="60" rows="4">{$cat.cat_desc|escape}</textarea></div>
    </div>
    <!--div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">
      {$lang.cat_icon}
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input class="form-control" type="file" name="cat_icon" size="35" />
      <span class="form-helper" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice_icon">{$lang.notice_icon}</span>
      {if $cat.cat_icon_src}
        <img src="{$cat.cat_icon_src}" border="0" style=" padding-top: 5px;width: 60px;height: 60px;" />
      {/if}
    </div>
  </div-->
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">
        {$lang.m_cat_icon}
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input class="form-control" type="file" name="cat_banner" size="35" />
        <!--span class="form-helper" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice_icon">{$lang.notice_banner}</span-->
        {if $cat.cat_banner_src}
          <img src="{$cat.cat_banner_src}" border="0" style=" padding-top: 5px;max-width: 100%;height: auto;" />
        {/if}
      </div>
    </div>
  </div>
  {if $parent.cat_type eq 1 AND $parent.parent_id eq 0}
  <div role="tabpanel" class="tab-pane fade" id="desktop-table">
    <div class="parent-page-column-design"> <!-- 文章列表子分類格Style -->
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">排版</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="radio">
            <label><input class="flat" type="radio" name="desktop[grid]" value="0" {if $cat.desktop.grid eq 0} checked="true"{/if}/> 四格顯示</label>
            <div class="demo grid-0">
              <h2>title</h2>
              <div class="grid-list four">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
              </div>
              <button disabled>read more</button>
            </div>
          </div>
          <div class="radio">
            <label><input class="flat" type="radio" name="desktop[grid]" value="1" {if $cat.desktop.grid eq 1} checked="true"{/if} /> 三格顯示</label>
            <div class="demo grid-1">
              <h2>title</h2>
              <div class="grid-list three">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
              </div>
              <button disabled>read more</button>
            </div>
          </div>
          <div class="radio">
            <label><input class="flat" type="radio" name="desktop[grid]" value="2" {if $cat.desktop.grid eq 2} checked="true"{/if} /> 左右</label>
            <div class="demo grid-2">
              <div class="nav">
                <h2>title</h2>
                <button disabled>read more</button>
              </div>
              <div class="grid-list two">
                <div class="col"></div>
                <div class="col"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">背景</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          背景顏色
          <div class="input-group colorpicker-group">
            <input class="form-control" type="text" data-type="color" value="{$cat.desktop.background_color}"
                   name="desktop[background_color]">
            <span class="input-group-addon"><i></i></span>
          </div>
          或 上傳圖片
          <input class="form-control" type="file" data-type="color"
                 name="desktop[background_img]">
          {if $cat.desktop.background_img}
          <img src="{$cat.desktop.background_img}" style="width: 500px;"/><br>
          <input type="hidden" name="desktop[old_background_img]" value="{$cat.desktop.old_background_img}">
          <label><input class="flat"  type="checkbox" name="desktop[remove_background_img]" value="1">刪除背景圖片</label>
          {else}
          未有圖片
          {/if}
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
        </div>
      </div>
    </div>
  </div>
  {/if}
  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="submit" class="btn btn-primary" value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="id" value="{$cat.cat_id}" />
      <input type="hidden" name="old_catname" value="{$cat.cat_name}" />
    </div>
  </div>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
<script language="JavaScript">
<!--
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("cat_name",  no_catname);

    {if $form_action eq 'insert'}
    if (!$("input[name=perma_link]").data('pass')) {
      alert("設先設定永久鏈結")
      return false;
    } else if ($("input[name=perma_link_raw]").val() == "") {
      alert("設先重新整理")
      return false;
    }
    {/if}

    return validator.passed();
}

/**
 * 选取上级分类时判断选定的分类是不是底层分类
 */
function catChanged()
{
  var obj = document.forms['theForm'].elements['parent_id'];

  cat_type = obj.options[obj.selectedIndex].getAttribute('cat_type');
  if (cat_type == undefined)
  {
    cat_type = -1;
  }
  if ((obj.selectedIndex > 0) && (cat_type == 2 || cat_type == 3 || cat_type == 5))
  {
    alert(sys_hold);
    obj.selectedIndex = 0;
    return false;
  }

  return true;
}

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

// Multiple language support
var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};
var localizableFieldsMapping = {};

$(function() {
  {if $form_action eq 'insert'}
    $("#perma_link").permaLink({
      table: 'article_cat',
      url: '/posts/{id}-',
      ref: 'cat_name'
    });
  {else}
    $("#perma_link").permaLink({
      priv: '{if $edit_perma_link}1{else}0{/if}',
      table: 'article_cat',
      id: '{$cat.cat_id}',
      origin: {$localized_versions|json_encode},
      init: '{$cat.perma_link}',
      url: '/posts/{$cat.cat_id}-',
    });
  {/if}
})
//-->
</script>
{include file="pagefooter.htm"}