<!-- $Id: articlecat_list.htm 17020 2010-01-29 10:18:24Z liuhui $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js,i18n.js"}
{include file="includes/datatables_header.htm"}
<style>
  .dataTables_filter {
    display: none;
  }
  table.table-bordered.dataTable th, table.table-bordered.dataTable td {
    border-left-width: 0;
    text-align: left;
    vertical-align: inherit;
  }
</style>
<div class=" x_panel">
<form method="post" action="" name="listForm">
<!-- start ad position list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
  {foreach from=$articlecat key=cat_type item=type}
  <div class="x_panel">
    <div class="x_title">
      {if $cat_type eq 0}
      <h2>系統分類<small>(不顯示於前台)</small></h2>
      {elseif $cat_type eq 1}
      <h2>資訊分類<small>(Post)</small></h2>
      {elseif $cat_type eq 4}
      <h2>頁面分類<small>(Static Page)</small></h2>
      {elseif $cat_type eq 6}
      <h2>Support分類<small>(Q&A)</small></h2>
      {/if}
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table class="table table-bordered bulk_action article-cat-table">
        <thead>
        <tr>
          <th>{$lang.cat_name}</th>
          <!--th>{$lang.type}</th-->
          <th>{$lang.cat_desc}</th>
          <th>{$lang.sort_order}</th>
          <th>{$lang.show_in_nav}</th>
          <th>{$lang.show_in_footer}</th>
          <th>{$lang.handler}</th>
        </tr>
        </thead>
        <tbody>
        {foreach from=$type key=cat_id item=cat}
        <tr align="center" class="{$cat.level}" id="{$cat.level}_{$cat.cat_id}">
          <td align="left" class="first-cell nowrap" valign="top" >
            <span style="margin-left:{$cat.level}em"><a href="article.php?act=list&amp;cat_id={$cat.cat_id}{if $cat.cat_type eq 6 }&amp;support=1{/if}">{$cat.cat_name|escape}</a></span>
          </td>
          <!--td class="nowrap" valign="top">
            {$cat.type_name|escape}
          </td-->
          <td align="left" valign="top">
            {$cat.cat_desc|escape}
          </td>
          <td width="10%" align="right" class="nowrap" valign="top"><span onclick="listTable.edit(this, 'edit_sort_order', {$cat.cat_id})">{$cat.sort_order}</span></td>
          <td width="10%" class="nowrap" valign="top"><img src="images/{if $cat.show_in_nav eq '1'}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_show_in_nav', {$cat.cat_id})" /></td>
          <td width="10%" class="nowrap" valign="top"><img src="images/{if $cat.show_in_footer eq '1'}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_show_in_footer', {$cat.cat_id})" /></td>
          <td width="24%" align="right" class="nowrap" valign="top">
            <a href="articlecat.php?act=edit&amp;id={$cat.cat_id}{if $cat.cat_type eq 6 }&amp;support=1{/if}">{$lang.edit}</a>
            {if $cat.parent_id neq 0}|
            <a href="javascript:;" onclick="listTable.remove({$cat.cat_id}, '{$lang.drop_confirm}')" title="{$lang.remove}">{$lang.remove}</a>
            {/if}
          </td>
        </tr>
        {/foreach}
        </tbody>
      </table>
    </div>
  </div>

  {/foreach}
{if $full_page}
</div>
</form>
</div>
{literal}
<script language="JavaScript">
<!--
/*
$(document).ready(function() {
  $('.article-cat-table').DataTable({
    "paging": false,
    "bSort" : false
  });
} );*/
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

var imgPlus = new Image();
imgPlus.src = "images/menu_plus.gif";

/**
 * 折叠分类列表
 */
function rowClicked(obj)
{
   // 当前图像
  img = obj;
  // 取得上二级tr>td>img对象
  obj = obj.parentNode.parentNode;
  // 整个分类列表表格
  var tbl = document.getElementById("list-table");
  // 当前分类级别
  var lvl = parseInt(obj.className);
  // 是否找到元素
  var fnd = false;
  var sub_display = img.src.indexOf('menu_minus.gif') > 0 ? 'none' : (Browser.isIE) ? 'block' : 'table-row' ;
  // 遍历所有的分类
  for (i = 0; i < tbl.rows.length; i++)
  {
      var row = tbl.rows[i];
      if (row == obj)
      {
          // 找到当前行
          fnd = true;
          //document.getElementById('result').innerHTML += 'Find row at ' + i +"<br/>";
      }
      else
      {
          if (fnd == true)
          {
              var cur = parseInt(row.className);
              var icon = 'icon_' + row.id;
              if (cur > lvl)
              {
                  row.style.display = sub_display;
                  if (sub_display != 'none')
                  {
                      var iconimg = document.getElementById(icon);
                      iconimg.src = iconimg.src.replace('plus.gif', 'minus.gif');
                  }
              }
              else
              {
                  fnd = false;
                  break;
              }
          }
      }
  }

  for (i = 0; i < obj.cells[0].childNodes.length; i++)
  {
      var imgObj = obj.cells[0].childNodes[i];
      if (imgObj.tagName == "IMG" && imgObj.src != 'images/menu_arrow.gif')
      {
          imgObj.src = (imgObj.src == imgPlus.src) ? 'images/menu_minus.gif' : imgPlus.src;
      }
  }
}
//-->
</script>
{/literal}

{include file="pagefooter.htm"}
{/if}