<!-- {if $full_page} -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<div class="form-div col-md-12 col-sm-12 col-xs-12">
<form action="attention_list.php" method="post">
  {$lang.goods_name}
  <input type="hidden" name="act" value="list" />
  <input name="goods_name" type="text" size="25" /> <input type="submit" value="{$lang.button_search}" class="btn btn-primary" />
</form>
</div>
<div class="form-div col-md-12 col-sm-12 col-xs-12">
<form action="attention_list.php" method="post">
  {$lang.batch_note}
  <input type="hidden" name="act" value="batch_addtolist" />
  <input name="date" type="text" id="date" size="10" value='' data-type="date" class="form-control" />
   <select name="pri" id="pri"><option value='0'>{$lang.pri.0}</option><option value='1'>{$lang.pri.1}</option></select>
  <input type="submit" value="{$lang.attention_addtolist}" class="btn btn-primary" />
</form>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<form method="post" action="" name="listForm">
<!-- {/if} -->
<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
  <th>{$lang.goods_name}</th>
  <th width="15%">{$lang.goods_last_update}</th>
  <th width="15%">{$lang.attention_addtolist}</th>
</tr>
<!-- {foreach from=$goodsdb item=val} -->
<tr>
  <td><a href="../goods.php?id={$val.goods_id}" target="_blank">{$val.goods_name}</a></td>
  <td align="center">{$val.last_update}</td>
  <td align="center">
    <form action="attention_list.php" method="post" name="form">
    <input type="hidden" name="id" value="{$val.goods_id}" />
    <input type="hidden" name="act" value="addtolist" />
    <select name="pri" id="pri"><option value='0'>{$lang.pri.0}</option><option value='1'>{$lang.pri.1}</option></select>
    <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
    </form>
  </td>
</tr>
<!-- {foreachelse} -->
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
<!-- {/foreach} -->
</table>
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
<!-- {if $full_page} -->
</form>
</div>



<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
<!-- {foreach from=$filter item=item key=key} -->
listTable.filter.{$key} = '{$item}';
<!-- {/foreach} -->
<!--
{literal}

onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}
<!-- {/if} -->