<!-- $Id: category_list.htm 17019 2010-01-29 10:10:34Z liuhui $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}

{insert_scripts files="popupdialog.js"}
<!-- treegrid(Treeview) -->
<link href="css/jquery.treegrid.css" rel="stylesheet">
<script src="js/jquery.treegrid.min.js"></script>
<script src="js/jquery.treegrid.bootstrap3.js"></script>

<form method="post" action="" name="listForm">
<!-- start ad position list -->
<div class=" x_panel" id="listDiv">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered dataTable" id="list-table">
    <thead>
        <tr class="headings">
            <th>分類名稱</th>
            <th>{$lang.handler}</th>
        </tr>
    </thead>
    <tbody>
  {foreach from=$cat_info item=cat}
  <tr class="treegrid-{$cat.cat_id} {if $cat.parent_id neq 0} treegrid-parent-{$cat.parent_id}{/if}">
    <td class="tree-cell">
      {$cat.cat_name}
    </td>
    <td>
      <a href="attribute.php?act=cat_goods_list&amp;cat_id={$cat.cat_id}">{$lang.edit_goods_attr}</a>
    </td>
  </tr>
  {/foreach}
  </tbody>
</table>
</div>
</form>


<script language="JavaScript">
<!--
{literal}

$('#list-table').treegrid({
    initialState: 'collapsed',
    // expanderExpandedClass: 'glyphicon glyphicon-minus',
    // expanderCollapsedClass: 'glyphicon glyphicon-plus'
});
{/literal}
//-->
</script>


{include file="pagefooter.htm"}
