{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,selectzone.js,validator.js,i18n.js"}

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<div class=" x_panel">
  <form action="attribute.php" class="form-horizontal form-label-left" method="post" name="theForm" onsubmit="return validate();">
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_attr_name} <span class="required">*</span></label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input class="form-control" required="required" type='text' name='attr_name' value='{$attr.attr_name}' size='27' />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_cat_id} <span class="required">*</span></label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select class="form-control" name="cat_id" id="cat_name" onchange="onChangeGoodsType(this.value)">
          <option value={$attr.cat_id} selected id="cat_name_selected">{$attr.cat_name}</option>
        </select>
      </div>
    </div>
    <div class="form-group" id="attrGroups" style="display:none">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_cat_id} <span class="required">*</span></label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select class="form-control" name="attr_group">
          {if $attr_groups}
          {html_options options=$attr_groups selected=$attr.attr_group}
          {/if}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_attr_index}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="radio">
          <input class="flat form-control" type="radio" name="attr_index" value="0" {if $attr.attr_index eq 0} checked="true" {/if} />
          {$lang.no_index}
          <input class="flat form-control" type="radio" name="attr_index" value="1" {if $attr.attr_index eq 1} checked="true" {/if} />
          {$lang.keywords_index}
          <input class="flat form-control" type="radio" name="attr_index" value="2" {if $attr.attr_index eq 2} checked="true" {/if} />
          {$lang.range_index}
        </div>
        <span class="form-helper">{$lang.note_attr_index}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_is_linked}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="radio">
          <input class="flat form-control" type="radio" name="is_linked" value="0" {if $attr.is_linked eq 0} checked="true" {/if} /> {$lang.no}
          <input class="flat form-control" type="radio" name="is_linked" value="1" {if $attr.is_linked eq 1} checked="true" {/if} /> {$lang.yes}
        </div>
      </div>
    </div>
    <div class="form-group" style="display:none;">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_attr_type}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="radio">
          <input class="flat form-control" type="radio" name="attr_type" value="0" {if $attr.attr_type eq 0} checked="true" {/if} /> {$lang.attr_type_values[0]}
          <input class="flat form-control" type="radio" name="attr_type" value="1" {if $attr.attr_type eq 1} checked="true" {/if} /> {$lang.attr_type_values[1]}
          <input class="flat form-control" type="radio" name="attr_type" value="2" {if $attr.attr_type eq 2} checked="true" {/if} /> {$lang.attr_type_values[2]}
        </div>
        <span class="form-helper">{$lang.note_attr_type}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_attr_input_type}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="radio">
          <!--label><input class="flat form-control" type="radio" name="attr_input_type" value="0" checked="true" onclick="radioClicked(0)"/>{$lang.select}</label-->
          <input class="flat form-control" type="radio" name="attr_input_type" value="1" checked="true" onclick="radioClicked(1)"/>{$lang.select}
          <!--label><input class="flat form-control" type="radio" name="attr_input_type" value="2" checked="true" onclick="radioClicked(2)"/>{$lang.select}</label-->
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_attr_values}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <textarea class="form-control" name="attr_values" cols="30" rows="5">{$attr.attr_values}</textarea>
        <span class="form-helper">*請確定同時添加其他語言選項</span>
      </div>
    </div>
    <div class="form-group" style="display:none;">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_is_dynamic}</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="radio">
          <!--label><input class="flat form-control" type="radio" name="is_dynamic" value="1"/>{$lang.yes}</label-->
          <input class="flat form-control" type="radio" name="is_dynamic" value="1"{if $attr.is_dynamic eq 0} checked="true" {/if} />{$lang.no}
        </div>
        <span class="form-helper">{$lang.note_is_dynamic}</span>
      </div>
    </div>
    <div class="form-group">
      <div class="ln_solid"></div>
      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <input type="hidden" name="act" value="{$form_act}" />
      <input type="hidden" name="id" value="{$attr.attr_id}" />
      <input type="hidden" name="attr_id" value="{$attr.attr_id}" />
      <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
      <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
    </div>
  </form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
onload = function()
{
{/literal}
  radioClicked({$attr.attr_input_type});
  onChangeGoodsType({$attr.cat_id});
  // 开始检查订单
  startCheckOrder();
{literal}
}

/**
 * 检查表单输入的数据
 */
function validate()
{
  var ele = document.forms['theForm'].elements;
  var msg = '';

  if (Utils.trim(ele['attr_name'].value) == '')
  {
    msg += name_not_null + '\n';
  }

  if (ele['cat_id'].value == 0)
  {
    msg += cat_id_not_null + '\n';
  }

  if (ele['attr_input_type'][1].checked && Utils.trim(ele['attr_values'].value) == '')
  {
    msg += values_not_null + '\n';
  }

  if (msg.length > 0)
  {
    alert(msg);
    return false;
  }
  else
  {
    return true;
  }
}

/**
 * 点击类型按钮时切换选项的禁用状态
 */
function radioClicked(n)
{
  document.forms['theForm'].elements["attr_values"].disabled = n > 0 ? false : true;
}

/**
 * 改变商品类型的处理函数
 */
function onChangeGoodsType(catId)
{
  Ajax.call('attribute.php?act=get_attr_groups&cat_id=' + catId, '', changeGoodsTypeResponse, 'GET', 'JSON');
}

function changeGoodsTypeResponse(res)
{
  if (res.error == 0)
  {
    var row = document.getElementById('attrGroups');
    if (res.content.length == 0) {
      row.style.display = 'none';
    } else {
      row.style.display = document.all ? 'block' : 'table-row';

      var sel = document.forms['theForm'].elements['attr_group'];

      sel.length = 0;

      for (var i = 0; i < res.content.length; i++)
      {
        var opt = document.createElement('OPTION');
        opt.value = i;
        opt.text = res.content[i];
        sel.options.add(opt);
        if (i == '{$attr.attr_group}')
        {
          opt.selected=true;
        }
      }
    }
  }

  if (res.message)
  {
    alert(res.message);
  }
}

var cat_list = [];
{foreach from=$goods_type_list item=goods_type}
  cat_list.push({
      id: {$goods_type.cat_id},
      text: "{$goods_type.cat_name}",
      html: "<span>{$goods_type.cat_name_by_level}</span>",

  })
{/foreach}

$("#cat_name").select2({
    width: 'resolve',
    matcher: modelMatcher,
    allowClear: false,
    placeholder: '所有分類',
    data: cat_list,
    escapeMarkup: function(markup) {
        return markup;
    },
    templateResult: function(data) {
        return data.html;
    },
});

// Multiple language support
var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
