<!-- $Id: attribute_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
{include file="includes/datatables_header.htm"}

<link href="css/select2.min.css" rel="stylesheet" type="text/css" />
{insert_scripts files="select2/select2.min.js"}

<div class=" x_panel">
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form action="" name="searchForm" class="form-inline">
      <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
      {$lang.by_goods_type}<select name="goods_type" id="goods_type" class="form-control" onchange="searchAttr(this.value)"><option value="0">{$lang.all_goods_type}</option></select>
    </form>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table class="table table-striped table-bordered bulk_action" id="attribute">
      <thead>
        <tr class="headings">
          <th data-id="attr_id" data-key="attr_id"><input type="checkbox" id="check-all" class="flat"> {$lang.record_id}</th>
          <th data-id="attr_name" data-edit="true">{$lang.attr_name}</th>
          <th data-id="cat_name">{$lang.cat_id}</th>
          <th data-id="attr_values">{$lang.attr_values}</th>
          <th data-id="sort_order" data-edit="true">{$lang.sort_order}</th>
          <th class="actionsCol" data-id="_action" data-sort="0">{$lang.handler}</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
<!-- Start Multi function -->
  <div class="form-div col-md-5 col-sm-5 col-xs-5">
    <form class="form-inline" method="post" action="" name="listForm" onsubmit="return $attrTable.confirmBatch(this)">
      <input class="form-control" type="hidden" name="act" value="batch" />
      <input type="submit" value="{$lang.drop}" id="btnSubmit"  name="btnSubmit" class="form-btn btn btn-success" />
    </form>
  </div>

</div>

</form>
{include file="pagefooter.htm"}
<script language="JavaScript">
<!--

  {literal}

  var $attrTable = yoho_dataTable();


  /**
   * 查询商品属性
   */
  function searchAttr(goodsType)
  {
    console.log(goodsType);
    var $filter = {};
    $filter['goods_type'] = goodsType;
    // Set dynamic parameters for the data table
    $('#attribute').data('dt_params', $filter);

    // Redraw data table, causes data to be reloaded
    $('#attribute').DataTable().draw();
  }

  function removeRow(attr_id)
  {
    Ajax.call('attribute.php?act=get_attr_num&attr_id=' + attr_id, '', removeRowResponse, 'GET', 'JSON');
  }

  function removeRowResponse(result)
  {
    if (result.message.length > 0)
    {
      alert(result.message);
    }

    if (result.error == 0)
    {
      listTable.remove(result.content.attr_id, result.content.drop_confirm);
    }
  }

  var goods_type_list = [];

  goods_type_list.push({
      id: 0,
      text: "所有產品類型",
      html: "<span>所有產品類型</span>",
  }) 

  {foreach from=$goods_type_list item=goods_type}
  goods_type_list.push({
      id: {$goods_type.cat_id},
      text: "{$goods_type.cat_name}",
      html: "<span>{$goods_type.cat_name_by_level}</span>",
  }) 
  {/foreach}
  
  $("#goods_type").select2({
      width: 'resolve',
      matcher: modelMatcher,
      allowClear: false,
      placeholder: '所有分類',
      data: goods_type_list,
      escapeMarkup: function(markup) {
          return markup;
      },
      templateResult: function(data) {
          return data.html;
      },
  });


  function modelMatcher(e,t){if(t.parentText=t.parentText||"",""===$.trim(e.term))return t;if(t.children&&t.children.length>0){for(var r=$.extend(!0,{},t),n=t.children.length-1;n>=0;n--){var l=t.children[n];l.parentText+=t.parentText+" "+t.text,null==modelMatcher(e,l)&&r.children.splice(n,1)}return r.children.length>0?r:modelMatcher(e,r)}var a=(t.parentText+" "+t.text+(t.parent," "+t.parent)).toUpperCase(),h=e.term.toUpperCase();return a.indexOf(h)>-1?t:null}
  
  {/literal}
//-->
</script>
