<!-- $Id: auction_list.htm 14888 2008-09-18 03:43:21Z levie $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="javascript:searchActivity()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    {$lang.goods_name} <input type="text" name="keyword" size="30" />
    <input name="is_going" type="checkbox" id="is_going" value="1" />
    {$lang.act_is_going}
    <input type="submit" value="{$lang.button_search}" class="btn btn-primary" />
  </form>
</div>

<form method="post" action="auction.php" name="listForm" onsubmit="return confirm(batch_drop_confirm);">
<!-- start auction list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

  <table id="#" class="table table-striped table-bordered bulk_action ">
    <tr>
      <th>
        <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox" />
        <a href="javascript:listTable.sort('act_id'); ">{$lang.record_id}</a>{$sort_act_id}</th>
      <th><a href="javascript:listTable.sort('act_name'); ">{$lang.act_name}</a>{$sort_act_name}</th>
      <th><a href="javascript:listTable.sort('goods_name'); ">{$lang.goods_name}</a>{$sort_goods_name}</th>
      <th><a href="javascript:listTable.sort('start_time'); ">{$lang.start_time}</a>{$sort_start_time}</th>
      <th><a href="javascript:listTable.sort('end_time'); ">{$lang.end_time}</a>{$sort_end_time}</th>
      <th>{$lang.start_price}</th>
      <th>{$lang.end_price}</th>
      <th>{$lang.handler}</th>
    </tr>

    {foreach from=$auction_list item=auction}
    <tr>
      <td><input value="{$auction.act_id}" name="checkboxes[]" type="checkbox">{$auction.act_id}</td>
      <td>{$auction.act_name|escape:html}</td>
      <td>{$auction.goods_name|escape:html}</td>
      <td align="right">{$auction.start_time}</td>
      <td align="right">{$auction.end_time}</td>
      <td align="right">{$auction.start_price}</td>
      <td align="right">{if $auction.no_top}{$lang.label_no_top}{else}{$auction.end_price}{/if}</td>
      <td align="center">
        <a href="auction.php?act=view_log&id={$auction.act_id}"><img src="images/icon_view.gif" title="{$lang.auction_log}" border="0" height="16" width="16" /></a>
        <a href="auction.php?act=edit&amp;id={$auction.act_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
        <a href="javascript:;" onclick="listTable.remove({$auction.act_id},'{$lang.drop_confirm}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>      </td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
    {/foreach}
  </table>

  <table cellpadding="4" cellspacing="0">
    <tr>
      <td><input type="submit" name="drop" id="btnSubmit" value="{$lang.drop}" class="btn btn-primary" disabled="true" />
      <input type="hidden" name="act" value="batch" /></td>
      <td align="right">{include file="page.htm"}</td>
    </tr>
  </table>

{if $full_page}
</div>
<!-- end auction list -->
</form>

<script type="text/javascript" language="JavaScript">
<!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
    document.forms['searchForm'].elements['keyword'].focus();

    startCheckOrder();
  }

  /**
   * 搜索团购活动
   */
  function searchActivity()
  {

    var keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter['keyword'] = keyword;
    if (document.forms['searchForm'].elements['is_going'].checked)
    {
      listTable.filter['is_going'] = 1;
    }
    else
    {
      listTable.filter['is_going'] = 0;
    }
    listTable.filter['page'] = 1;
    listTable.loadList("auction_list");
  }
  {/literal}
//-->
</script>

{include file="pagefooter.htm"}
{/if}