<!-- $Id: auction_log.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{include file="pageheader.htm"}
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <strong>{$lang.label_act_name}</strong>{$auction.act_name} <strong>{$lang.label_goods_name}</strong>{$auction.goods_name}
  <a href="auction.php?act=edit&id={$auction.act_id}"> [ {$lang.view} ] </a>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
  <table id="#" class="table table-striped table-bordered bulk_action ">
    <tr>
      <th>{$lang.bid_user}</th>
      <th>{$lang.bid_price}</th>
      <th width="30%">{$lang.bid_time}</th>
      <th>{$lang.status}</th>
    </tr>
    {foreach from=$auction_log item=log name="fe_log"}
    <tr>
      <td>{$log.user_name}</td>
      <td align="right">{$log.formated_bid_price}</td>
      <td align="center">{$log.bid_time}</td>
      <td align="center">{if $smarty.foreach.fe_log.first}OK{else}&nbsp;{/if}</td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="4">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
</div>
{include file="pagefooter.htm"}