{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
<style>
    #goods_prices {
        position: absolute;
        width: 15%;
        right: 10%;
        top: 55px;
    }
    tr.batch_setting, tr.batch_updating {
        display: none;
    }
</style>
<form action="auto_pricing.php" method="GET" name="form" class="tab-content form-horizontal form-label-left" onsubmit="return validate()">
    <div class="x_panel">
        <input name="act" type="hidden" value="update">
        <input name="goods_id" type="hidden" value="{$good.goods_id}">
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="strategy_name">產品名稱</label>
            <div class="col-md-7 col-sm-7 col-xs-12" style="padding-top: 8px">{$good.goods_name}</div>
        </div>
        {if $batch}
        <input name="batch" type="hidden" value="1">
        {else}
        {foreach from=$webs item=name key=value name=webs}
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="strategy_name">{$name}</label>
            <div class="col-md-7 col-sm-7 col-xs-12" style="padding-top: 8px">
                <div class="input-group">
                    <input name="{$value}" type="text" class="form-control price_settings" value="{$good.id[$value]}" data-val="{$good.id[$value]}" size="35">
                    {if $value eq 'pricecomhk'}
                    <div class="input-group-addon" style="border-left: none">
                        <input name="{$value}_water" class="flat price_settings" type="checkbox" value="1" data-val="{$good.water[$value]|default:0}" {if $good.water[$value]}checked{/if}> 水貨
                    </div>
                    {/if}
                    <span class="input-group-btn">
                        <button class="btn btn-default check_product" type="button" data-web="{$value}" data-url="{$websites[$value]}">查看</button>
                    </span>
                </div>
            </div>
        </div>
        {/foreach}
        {/if}
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="strategy_name">策略</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="col-md-3" style="padding: 8px 0;">
                    <input class="flat" type="checkbox" id="exclude" {if $good.price_strategy neq -1}checked{/if}>
                    進行自動定價
                    <input type="hidden" name="strategy_select" value="{if $batch || $good.price_strategy neq -1}1{else}0{/if}" >
                </div>
                <table class="table table-striped table-bordered bulk_action strategy_select_table" {if $good.price_strategy eq -1}style="display: none"{/if}>
                    <tr>
                        <th width="40"></th>
                        <th width="200">策略名稱</th>
                        {if $session_manage_cost}
                        <th>設置</th>
                        {/if}
                    </tr>
                    {foreach from=$list item=strategy}
                    <tr>
                        <td><input class="flat" type="radio" name="price_strategy" value="{$strategy.strategy_id}" {if $good.price_strategy eq $strategy.strategy_id}checked{/if}></td>
                        <td>{$strategy.strategy_name}</td>
                        {if $session_manage_cost}
                        <td>{$strategy.formatted_config}</td>
                        {/if}
                    </tr>
                    {/foreach}
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <input type="submit" class="btn btn-primary" value="{$lang.button_submit}">
            </div>
        </div>
        <div id="goods_prices">
            <table class="table">
                <tr class="batch_setting">
                    <td colspan="4">
                        <button id="save_all" class="btn btn-sm btn-info" type="button" data-gid="{$good.goods_id}">全部更新</button>
                        <button id="batch_update" class="btn btn-sm btn-info update_price" style="display: none" type="button" data-gid="{$good.goods_id}">獲取價錢</button>
                    </td>
                </tr>
                <tr class="batch_updating">
                    <td colspan="4"><span class="red">更新中</span></td>
                </tr>
                {foreach from=$webs item=name key=value}
                <tr class="single_setting" data-web="{$value}" data-pid="{$good.id[$value]}">
                    <td class="name">{$name}</td>
                    <td class="min">{$good.min[$value]}</td>
                    <td class="max">{$good.max[$value]}</td>
                    <td><button class="btn btn-sm btn-info update_price" type="button" data-gid="{$good.goods_id}" data-web="{$value}">更新</button></td>
                </tr>
                {/foreach}
            </table>
        </div>
    </div>
</form>
{include file="pagefooter.htm"}
<script>
$(document).on("ifChanged", "#exclude", function (e) {
    if ($(e.target).prop("checked")) {
        $(".strategy_select_table").show();
        $("input[name=strategy_select]").val("1")
    } else {
        $(".strategy_select_table").hide();
        $("input[name=strategy_select]").val("0")
    }
})
$(document).on("click", "button.check_product", function (e) {
    var web = $(e.target).data("web");
    var base_url = $(e.target).data("url");
    var pid = $("input[name=" + web + "]").val();
    if (pid !== "") {
        window.open(base_url + pid)
    }
})
$(document).on("click", "button.update_price", function (e) {
    var web = $(e.target).data("web");
    var id = $(e.target).data("gid");
    var data = {
        act: 'update_goods_price',
        id: id,
    }
    if (web) {
        data.web = web;
    }
    $("tr.batch_updating").show();
    $("tr.batch_setting, tr.single_setting").hide();
    $.ajax({
        url: 'auto_pricing.php',
        dataType: 'json',
        data: data,
        success: function(res) {
            if (res.error == "1") {
                alert(res.message)
            } else {
                var info = res.content;
                var names = [];
                if (info.error.length > 0) {
                    alert(info.error.join("\n"));
                }
                if (info.response) {
                    for (var platform in info.response) {
                        for (var platform_id in info.response[platform]) {
                            $tr = $("tr[data-web=" + platform + "]");
                            $tr.find('.max').html(info.response[platform][platform_id].price.toFixed(2))
                            $tr.find('.min').html(info.response[platform][platform_id].discount.toFixed(2))
                            names.push($tr.find('.name').html())
                        }
                    }
                }
                if (names.length > 0) {
                    $("tr.single_setting").show();
                    $("tr.batch_updating").hide();
                    alert("已更新 " + names.join(", ") + " 價錢")
                }
            }
        }
    })
})
$(document).on("click", "#save_all", function() {
    var data = {
        act: "fast_update",
        id: $("#save_all").data('gid'),
        json: {},
    };
    var json_data = {};
    {foreach from=$webs item=name key=value}
    data.json['{$value}'] = {
        id: $("input.price_settings[name={$value}]").val()
    };
    {if $value eq 'pricecomhk'}
    data.json['{$value}'].is_water = $("input.price_settings[name={$value}_water]").prop("checked") ? '1' : '0';
    {/if}
    {/foreach}

    $.ajax({
        url: 'auto_pricing.php',
        dataType: 'json',
        data: data,
        success: function(res) {
            if (res.error == "1") {
                alert(res.message)
            } else {
                $("#batch_update").click();
            }
        }
    })
})
$(document).on("change", "input.price_settings", function () {
    check_price_setting_change();
}).on("ifChanged", "input.price_settings", function () {
    check_price_setting_change();
})
function check_price_setting_change() {
    var change = false;
    $.each($("input.price_settings"), function(i, elem) {
        if (change) return;
        if ($(elem).is(':checkbox')) {
            var checked = $(elem).prop("checked") ? '1' : '0';
            if (checked != $(elem).data('val')) {
                change = true;
            }
        } else {
            if ($(elem).val() != $(elem).data('val')) {
                change = true;
            }
        }
    })
    if (change) {
        $("tr.batch_setting").show();
        $("tr.single_setting").hide();
    } else {
        $("tr.batch_setting").hide();
        $("tr.single_setting").show();
    }
}
</script>