{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style>
td .icheckbox_flat-green {
    float: none !important;
}
.edit-web {
    cursor: pointer;
}
ul.bar_tabs {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.toggle_auto, .set_promote {
    cursor: pointer;
}
span.purple {
    color: #c536ff;
}
span.orange {
    color: #ffa026;
}
span.pink {
    color: #f38ae5;
}
</style>
<div class="x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <form class="form-inline" action="javascript:searchProduct()">
            <select name="cat_id" id="cat_name">
                <option value="0">所有分類</option>
            </select>
            <select name="brand_id" id="brand_name">
                <option value="0">所有品牌</option>
            </select>
            <select name="supplier_id" id="supplier_name">
                <option value="0">所有供應商</option>
            </select>
            <select name="goods_warehouse" >
              <option value="0">所有貨倉產品</option>
                {foreach from=$goods_warehouse_list item=warehouse}
                <option value="{$warehouse.code}">{$warehouse.name}</option>
                {/foreach}
            </select>
            <!--input type="text" class="form-control" name="goods_name" placeholder="產品名稱" style="margin-bottom: 5px;" value="{$smarty.request.goods_name}"-->
            <input placeholder="{$lang.include_goods_hint}" class="form-control" type="text" name="include_goods" style="margin-bottom: 5px;" value="{$smarty.request.include_goods}"/>
            自動定價建議 <input type="checkbox" class="flat" name="show_auto_price" value="1" checked>
            <input type="submit" class="btn btn-info" value="{$lang.button_search}">
        </form>
    </div>
    <div class="tab-div col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active"><a href="#goods-div" id="goods-tab" role="tab" data-toggle="tab" aria-expanded="true">所有產品</a>
            </li>
            {if $smarty.session.manage_cost}
            {foreach from=$suggest_types key=key item=item}
            <li role="presentation" class="" onclick="if($('#suggest{$key}-div div.active').length == 0)$('#suggest{$key}-div ul.nav li:first-child a').click()"><a href="#suggest{$key}-div" role="tab" id="suggest{$key}-tab" data-toggle="tab" aria-expanded="false">{$item}建議</a>
            </li>
            {/foreach}
            {/if}
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="goods-div" aria-labelledby="goods-tab">
                <table id="goods" class="table table-bordered table-striped bulk_action ">
                    <thead>
                        <tr>
                            <th data-id='goods_id' data-key='goods_id'>編號</th>
                            <th data-id='goods_name' data-edit="true">產品名稱</th>
                            <th data-id='market_price' data-edit="true">市價</th>
                            <th data-id='cost'>成本</th>
                            <th data-id='goods_number'>可銷售庫存</th>
                            <th data-id='thirtydayssales' data-value="last30_sold">過去30天銷量</th>
                            <th data-id='shop_price' data-edit="true">價格</th>
                            <th data-id='vip_price' data-edit="true">VIP價</th>
                            <th data-id="dead_day" data-value='dead_stock'>呆壞貨</th>
                            {foreach from=$webs item=name key=key}
                            <th data-id='{$key}_high' data-value='{$key}_formatted'>{$name}</th>
                            {/foreach}
                            <th data-id='price_strategy' data-value="formatted_price_strategy">策略</th>
                            <th data-id="pre_sale_days" data-edit="true">訂貨</th>
                            <th data-id='is_promote' data-value='promote_detail'>促銷</th>
                            <th data-id='suggest_normal_price'>自動定價</th>
                            <th data-id='suggest_vip_price'>建議vip</th>
                            <th data-id='suggest_sale_price' data-value='on_sale'>促銷建議</th>
                            <th data-id="_action">{$lang.handler}</th>
                        </tr>
                    </thead>
                </table>
                <div class="form-div col-md-12 col-sm-12 col-xs-12">
                    <input id="batch_edit" type="button" class="btn btn-default" value="批量編輯" data-gid="" disabled>
                </div>
            </div>
            {if $smarty.session.manage_cost}
            {foreach from=$suggest_types key=key item=item}
            <div role="tabpanel" class="tab-pane fade" id="suggest{$key}-div" aria-labelledby="suggest{$key}-tab">
                <ul class="nav nav-tabs bar_tabs" role="tablist">
                    {foreach from=$lang.formatted_status item=item2 key=key2}
                    <li role="presentation"><a href="#suggest{$key}_{$key2}-div" id="suggest{$key}_{$key2}-tab" role="tab" data-toggle="tab" aria-expanded="true">{$item2}</a>
                    </li>
                    {/foreach}
                </ul>
                <div class="tab-content">
                    {foreach from=$lang.formatted_status item=item2 key=key2}
                    <div role="tabpanel" class="tab-pane fade" id="suggest{$key}_{$key2}-div" aria-labelledby="suggest{$key}_{$key2}-tab">
                        <table id="suggest{$key}_{$key2}" class="table table-bordered table-striped bulk_action ">
                            <thead>
                                <tr>
                                    <th data-id='suggest_id' data-key="suggest_id">編號</th>
                                    <th data-id='goods_name'>產品名稱</th>
                                    <th data-id='market_price'>市價</th>
                                    <th data-id='cost'>成本</th>
                                    <th data-id='shop_price'>價格</th>
                                    <th data-id='vip_price'>VIP價</th>
                                    {if $key eq 0}
                                    <th data-id='goods_number'>存貨</th>
                                    <th data-id='formatted_gp' data-sort='0'>GP</th>
                                    {foreach from=$webs item=name key=web_key}
                                    <th data-id='{$web_key}_price'>{$name}</th>
                                    {/foreach}
                                    <th data-id='selected_value'>參考</th>
                                    {/if}
                                    <th data-id='suggest_price'>{if $key eq 0}建議售價{elseif $key eq 1}建議促銷價{elseif $key eq 2}建議VIP價{/if}</th>
                                    <th data-id='suggest_date'>建議日期</th>
                                    {if $key2 eq 0}<th data-id='_action'>操作</th>{/if}
                                </tr>
                            </thead>
                        </table>
                        {if $key2 eq 0}
                        <div class="form-div col-md-12 col-sm-12 col-xs-12">
                            <input id="batch{$key}_ignore" type="button" class="btn btn-default" value="批量忽略" data-gid="" disabled>
                        </div>
                        {/if}
                    </div>
                    {/foreach}
                </div>
            </div>
            {/foreach}
            {/if}
        </div>
    </div>
</div>

{include file="pagefooter.htm"}
<script>
$(function(){
    if($BODY.outerWidth() >= 1400) {
        $MENU_TOGGLE.click();
    }
})

yohoTable.table_id = "goods";
yohoTable.rowCallback = function($row, $account, $index) {
    if ($("#goods thead > tr > th#batch").length == 0) {
        $("#goods thead > tr").prepend("<th id='batch'><input class='flat' id='select_all' type='checkbox'></th>")
    }
    if($account.goods_name) {
        $($row).find("span[data-source=goods_name]").removeClass("cellEdit_text");
    }
    $($row).prepend($account.batch_select);
};
yohoTable.lengthMenu = [50, 100, 150];
var $table = yoho_dataTable();

{foreach from=$suggest_types item=item key=key}
{foreach from=$lang.formatted_status item=item2 key=key2}
var yohoTable{$key}_{$key2} = {
    query: 'suggestion_query&suggest_type={$key}&status={$key2}',
    table_id: "suggest{$key}_{$key2}",
    lengthMenu: [50, 100, 150],
};
{if $key2 eq 0}
yohoTable{$key}_{$key2}.rowCallback = function($row, $account, $index) {
    if ($("#suggest{$key}_{$key2} thead > tr > th#batch{$key}").length == 0) {
        $("#suggest{$key}_{$key2} thead > tr").prepend("<th id='batch{$key}'><input class='flat' id='select_all{$key}' type='checkbox'></th>")
    }
    $($row).prepend($account.batch_select{$key});
}
$(document).on("ifChanged", "#select_all{$key}", function(e) {
    if ($(e.target).prop("checked")) {
        $("input[name=batch{$key}][type=checkbox]").iCheck("check");
    } else {
        $("input[name=batch{$key}][type=checkbox]").iCheck("uncheck");
    }
})
$(document).on("click", "#batch{$key}_ignore", function() {
    var selected = [];
    $("input[name=batch{$key}][type=checkbox]:checked").get().map((v)=>selected.push($(v).val()));
    updateSuggestion(selected.join(","), 3);
    $("#batch{$key}_ignore").prop("disabled", true);
})
$(document).on("ifChanged", "input[name=batch{$key}][type=checkbox]", function(e) {
    if ($("input[name=batch{$key}][type=checkbox]:checked").length > 1) {
        $("#batch{$key}_ignore").prop("disabled", false);
    } else {
        $("#batch{$key}_ignore").prop("disabled", true);
    }
})
{/if}
yohoTables.push(yohoTable{$key}_{$key2});
{/foreach}
{/foreach}
for(var i = 1; i < yohoTables.length; i++) {
    yoho_dataTable(i);
}

function searchProduct() {
    var ids = ["goods"{foreach from=$suggest_types key=key item=item}{foreach from=$lang.formatted_status item=item2 key=key2},"suggest{$key}_{$key2}"{/foreach}{/foreach}];
    $filter = [];
    if ($("select[name=cat_id]").val() != 0) {
        $filter['cat_id'] = $("select[name=cat_id]").val();
    }
    if ($("select[name=brand_id]").val() != 0) {
        $filter['brand_id'] = $("select[name=brand_id]").val();
    }
    if ($("select[name=supplier_id]").val() != 0) {
        $filter['supplier_id'] = $("select[name=supplier_id]").val();
    }
    if (Utils.trim($("input[name=goods_name]").val()) != "") {
        $filter['goods_name'] = Utils.trim($("input[name=goods_name]").val());
    }
    if (Utils.trim($("input[name=include_goods]").val()) != "") {
        $filter['include_goods'] = Utils.trim($("input[name=include_goods]").val());
    }
    if (Utils.trim($("input[name=goods_warehouse]").val()) != "") {
        $filter['goods_warehouse'] = Utils.trim($("select[name=goods_warehouse]").val());
    }
    ids.map((v)=>($("#" + v).data('dt_params', $filter), $("#" + v).DataTable().draw()))
}

function showAbnormal(log_id) {
    $.ajax({
        url: 'abnormal_cost_log.php',
        dataType: 'json',
        data: {
            act: 'ajax',
            log_id: log_id
        },
        success: function (res) {
            var result = res.content;
            $table = $("<table class='table table-bordered bulk_action'></table>");
            $table.append("<thead><tr><th>系統成本</th><th>入貨成本</th><th>變動比率</th><th>PO編號</th><th>入貨單編號</th><th>供應商</th></tr></thead>");
            result.map((v) => $table.append("<tr><td>" + v.original_cost + "</td><td>" + v.warehousing_cost + "</td><td>" + v.difference_text + "</td><td>" + v.erp_order_sn + "</td><td>" + v.warehousing_sn + "</td><td>" + v.supplier_name + "</td></tr>"))
            $popup = modal.create("成本異常", $table);
            modal.show($popup);
        }
    })
}

function updateSuggestion (suggest_id, step) {
    $.ajax({
        url: 'auto_pricing.php',
        dataType: "json",
        data: {
            act: "suggest",
            suggest_id: suggest_id,
            step: step
        },
        success: function (res) {
            if (res.error == 1) {
                alert(res.message);
            } else {
                var active = $(".active[role=presentation] a[aria-expanded=true]");
                if (active.length > 1) {
                    $("#" + $($(".active[role=presentation] a[aria-expanded=true]")[1]).prop("id").replace("-tab", "")).DataTable().draw();
                    $("#" + $($(".active[role=presentation] a[aria-expanded=true]")[1]).prop("id").split("_")[0] + "_" + step).DataTable().draw();
                }
            }
        }
    })
}

$(document).on("click", "#batch_edit", function() {
    var selected = [];
    $("input[name=batch][type=checkbox]:checked").get().map((v)=>selected.push($(v).val()));
    location.href = "auto_pricing.php?act=edit&ids=" + selected.join(",")
})
$(document).on("ifChanged", "input[name=batch][type=checkbox]", function(e) {
    if ($("input[name=batch][type=checkbox]:checked").length > 1) {
        $("#batch_edit").prop("disabled", false);
    } else {
        $("#batch_edit").prop("disabled", true);
    }
})
$(document).on("ifChanged", "#select_all", function(e) {
    if ($(e.target).prop("checked")) {
        $("input[name=batch][type=checkbox]").iCheck("check");
    } else {
        $("input[name=batch][type=checkbox]").iCheck("uncheck");
    }
})
$(document).on("ifChanged", "input[name=show_auto_price]", function(e) {
    var table = $("#goods").DataTable().column($(this).attr('data-column'));
    table.column(table.columns()[0].length - 2).visible(!table.column(table.columns()[0].length - 2).visible());
    table.column(table.columns()[0].length - 3).visible(!table.column(table.columns()[0].length - 3).visible());
    table.column(table.columns()[0].length - 4).visible(!table.column(table.columns()[0].length - 4).visible());
    if ($("#goods thead > tr > th#batch").length == 0) {
        $("#goods thead > tr").prepend("<th id='batch'><input class='flat' id='select_all' type='checkbox'></th>");
        turn_on_icheck();
    }
})
{if !$smarty.request.show_auto_price}$("input[name=show_auto_price]").iCheck("uncheck"){/if}

$(document).on("click", ".edit-web", function (e) {
    var web = typeof $(e.target).data("web") == "undefined" ? $(e.target).parents(".edit-web").data("web")  : $(e.target).data("web");
    var gid = typeof $(e.target).data("gid") == "undefined" ? $(e.target).parents(".edit-web").data("gid")  : $(e.target).data("gid");
    $.ajax({
        url: 'auto_pricing.php',
        dataType: 'json',
        data: {
            act: "web_price",
            web: web,
            goods_id: gid
        },
        success: function (res) {
            if (res.error == 1) {
                alert(res.message)
            } else {
                var result = res.content;
                $html = $("<form class='form' name='udpate_web_price'></form>");
                $html.append("<input type='hidden' name='goods_id' value='" + result.goods_id + "'>")
                $html.append("<input type='hidden' name='web' value='" + result.web + "'>")
                $html.append("<div class='form-group'><label class='control-label'>最高價</label><input class='form-control' type='number' name='max' value='" + result.max + "'></div>")
                $html.append("<div class='form-group'><label class='control-label'>最低價</label><input class='form-control' type='number' name='min' value='" + result.min + "'></div>")
                $btn = $("<input class='btn btn-primary' type='button' value='確定'>");
                $btn_delete = $("<input class='btn btn-danger' type='button' value='刪除'>");
                $btn_view = $("<input class='btn btn-info' type='button' value='查看'>");
                $html.append($btn_view)
                $html.append($btn)
                $html.append($btn_delete)
                $popup = modal.create("修改價錢", $html, false, "sm");
                modal.show($popup);
                $btn.click(function () {
                    $.ajax({
                        url: 'auto_pricing.php?act=update_web&' + $('form[name=udpate_web_price]').serialize(),
                        success: function (res) {
                            modal.hide($popup);
                            $("#goods").DataTable().draw();
                        }
                    })
                })
                $btn_delete.click(function () {
                    $.ajax({
                        url: 'auto_pricing.php?act=delete_web&' + $('form[name=udpate_web_price]').serialize(),
                        success: function (res) {
                            modal.hide($popup);
                            $("#goods").DataTable().draw();
                        }
                    })
                })
                $btn_view.click(function () {
                    window.open(result.link)
                })
            }
        }
    })
})

$(document).on("click", ".toggle_auto", function (e) {
    $.ajax({
        url: 'auto_pricing.php?act=update_goods_strategy&strategy_id=' + $(e.target).data("sid") + '&goods_id=' + $(e.target).data('gid'),
        dataType: 'json',
        success: function (res) {
            if (res.error == 1) {
                alert(res.message)
            } else {
                $(e.target).parent().html(res.content)
            }
        }
    })
})
$(document).on("click", ".set_promote", function (e) {
    $html = $("<form id='111' action='a.php'>" +
                "<div class='input-group' id='promote_price'>" +
                    "<div class='input-group-addon' id='is_promote'></div>" +
                    "<div class='input-group-addon'>$</div>" +
                "</div>" +
                "<div class='input-group' id='promote_date'>" +
                    "<div class='input-group-addon'><i class='glyphicon glyphicon-calendar fa fa-calendar-alt'></i></div>" +
                "</div>" +
                "<input type='hidden' name='act' value='ajaxEdit'>" +
                "<input type='hidden' name='action' value='list'>" +
                "<input type='hidden' name='col' value='promote'>" +
                "<input type='hidden' name='id' value='" + $(e.target).data('gid') + "'>" +
            "</form>");
    $is_promote = $("<input type='checkbox' name='is_promote' class='flat' value='1' checked>");
    $promote_price = $("<input type='text' name='promote_price' class='form-control' value='" + $(e.target).data('p') + "'>");
    $promote_date = $("<input type='text' name='promote_date' data-type='daterangetime' class='form-control' value='" + $(e.target).data('sd') + " to " + $(e.target).data('ed') + "'>");
    $btn = $("<input type='button' class='btn btn-primary' value='確認'>");
    $promote_date.daterangepicker({
        timePicker: true,
        timePickerIncrement: 1,
        opens: "left",
        locale: {
            format: 'YYYY-MM-DD HH:mm:ss',
            separator: " to "
        }
    });
    $is_promote.on('ifChanged', function(){
        $promote_price.prop('disabled', !$(this).prop("checked"))
        $promote_date.prop('disabled', !$(this).prop("checked"))
    });
    $html.find('#is_promote').append($is_promote)
    $html.find('#promote_price').append($promote_price)
    $html.find('#promote_date').append($promote_date)
    $html.append($btn);
    $popup = modal.create("產品促銷", $html, false, "sm");
    $btn.click(function() {
        $.ajax({
            url: 'auto_pricing.php?' + $html.serialize(),
            success: function (res) {
                modal.hide($popup);
                $("#goods").DataTable().draw();
            }
        })
    })
    modal.show($popup);
    turn_on_icheck();
    $is_promote.iCheck($(e.target).data('on') ? "check" : "uncheck")
})

var cat_list = [];

cat_list.push({
    id: 0,
    text: "所有分類",
    html: "<span>所有分類</span>",

});
{foreach from=$categorys item=cat}        
  cat_list.push({
      id: {$cat.cat_id},
      text: "{$cat.cat_name}",
      html: "<span>{$cat.cat_name}</span>",
  
  }) 
{/foreach}

$("#cat_name").select2({
    width: 'resolve',
    matcher: modelMatcher,
    allowClear: false,
    placeholder: '所有分類',
    data: cat_list,
    escapeMarkup: function(markup) {
        return markup;
    },
    templateResult: function(data) {
        return data.html;
    },
});

var brand_list = [];

brand_list.push({
    id: 0,
    text: "所有品牌",
    html: "<span>所有品牌</span>",

});
{foreach from=$brands item=brand}        
  brand_list.push({
      id: {$brand.brand_id},
      text: "{$brand.brand_name}",
      html: "<span>{$brand.brand_name}</span>",
  
  }) 
{/foreach}
$("#brand_name").select2({
    width: 'resolve',
    matcher: modelMatcher,
    allowClear: false,
    placeholder: '所有品牌',
    data: brand_list,
    escapeMarkup: function(markup) {
        return markup;
    },
    templateResult: function(data) {
        return data.html;
    },
});

var suppliers_list = [];
suppliers_list.push({
    id: 0,
    text: "所有供應商",
    html: "<span>所有供應商</span>",

});
{foreach from=$suppliers item=supplier}        
suppliers_list.push({
      id: {$supplier.supplier_id},
      text: "{$supplier.name}",
      html: "<span>{$supplier.name}</span>",
  
  }) 
{/foreach}
$("#supplier_name").select2({
    width: 'resolve',
    matcher: modelMatcher,
    allowClear: false,
    placeholder: '所有品牌',
    data: suppliers_list,
    escapeMarkup: function(markup) {
        return markup;
    },
    templateResult: function(data) {
        return data.html;
    },
});


</script>
