{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
<link href="css/multiselect.css" rel="stylesheet" type="text/css" />
<style>
    .dropdown-menu {
        min-width: 250px;
    }
    .multiselect-search-container {
        width: 250px;
    }
</style>

<form action="auto_pricing.php" method="GET" name="form" class="tab-content form-horizontal form-label-left" onsubmit="return validate()">
    <div class="x_panel">
        <input name="act" type="hidden" value="rule_update">
        <input name="rule_id" type="hidden" value="{$rule.rule_id}">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="type">規則名稱</label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                    <input name="rule_name" type="text" class="form-control" value="{$rule.rule_name}" size="35">
                </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rule_type">規則種類</label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <select name="rule_type" class="form-control">
                    {foreach from=$rule_types item=item key=key}
                    <option value="{$key}">{$item}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enable">啟用</label>
            <div class="col-md-3 col-sm-3 col-xs-12" style="padding-top: 8px">
                <input type="checkbox" class="flat" {if $rule.enable}checked{/if} name="enable" value="1">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="type">設置</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dropdown pull-left">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownTypeList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                分類
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownTypeList">
                                <li class='multiselect-search-container'>
                                    <input class="form-control multiselect-search" type="text" data-name="cats" placeholder="搜尋分類..."> 
                                </li>
                                {foreach from=$cat_list item=cat}
                                <li data-name="cats" data-label="{$cat.to_lower}">
                                    <label class="multiselect">
                                        {$cat.cat_name}
                                        <input type="checkbox" name="cats" value="{$cat.cat_id}" data-select="{if $cat.selected}1{else}0{/if}" data-callback="updateCatIds()" data-name="{$cat.cat_name}">
                                        <span class="checkmark {if $cat.selected}selected{/if}">
                                            {if $cat.selected}
                                            <i class='fa fa-check'></i>
                                            {/if}
                                        </span>
                                    </label>
                                </li>
                                {/foreach}
                                <li data-name="cats" class='no_result'><label class="multiselect">{$lang.no_records}</label></li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" name="cat_ids" value="{$rule.config.cat_ids}">
                </div>
                <div class="row">
                    <div class="col-md-12"><b><span id="cat_names">{$rule.cat_names}</span></b></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for=""></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dropdown pull-left">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownTypeList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                品牌
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownTypeList">
                                <li class='multiselect-search-container'>
                                    <input class="form-control multiselect-search" type="text" data-name="brands" placeholder="搜尋品牌..."> 
                                </li>
                                {foreach from=$brand_list item=brand}
                                <li data-name="brands" data-label="{$brand.to_lower}">
                                    <label class="multiselect">
                                        {$brand.brand_name}
                                        <input type="checkbox" name="brands" value="{$brand.brand_id}" data-select="{if $brand.selected}1{else}0{/if}" data-callback="updateBrandIds()" data-name="{$brand.brand_name}">
                                        <span class="checkmark {if $brand.selected}selected{/if}">
                                            {if $brand.selected}
                                            <i class='fa fa-check'></i>
                                            {/if}
                                        </span>
                                    </label>
                                </li>
                                {/foreach}
                            </ul>
                        </div>
                        <input type="hidden" name="brand_ids" value="{$rule.config.brand_ids}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><b><span id="brand_names">{$rule.brand_names}</span></b></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-3 col-sm-3 col-xs-12" style="padding-top: 8px">
                <input type="submit" class="btn btn-primary" value="{$lang.button_submit}">
            </div>
        </div>
    </div>
</form>
{include file="pagefooter.htm"}
<script>
function updateCatIds() {
    var selected = [];
    var names = [];
    $("input[name=cats]").get().filter((v)=>$(v).data("select") == 1).map((v)=>(selected.push($(v).val()), names.push($(v).data("name"))));
    $("input[name=cat_ids]").val(selected.join(","))
    $("#cat_names").html(names.length == 0 ? "N/A" : names.join(", "))
}
function updateBrandIds() {
    var selected = [];
    var names = [];
    $("input[name=brands]").get().filter((v)=>$(v).data("select") == 1).map((v)=>(selected.push($(v).val()), names.push($(v).data("name"))));
    $("input[name=brand_ids]").val(selected.join(","))
    $("#brand_names").html(names.length == 0 ? "N/A" : names.join(", "))
}
function validate() {
    var cats = $("input[name=cats]").get().filter((v)=>$(v).data("select") == 1);
    var brands = $("input[name=brands]").get().filter((v)=>$(v).data("select") == 1);
    if ($("input[name=rule_name]").val() == "") {
        alert("請輸入規則名稱");
        return false;
    }
    if (cats.length == 0 && brands.length == 0) {
        alert("請選擇品牌或分類");
        return false;
    }
}
</script>
{insert_scripts files="multiselect.js"}
