{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<style>
    b {
        font-weight: 600;
        font-size: 14.5px;
    }
</style>
<div class="x_panel">
    <table class="table table-striped table-bordered bulk_action">
        <thead>
            <tr>
                <th data-id='strategy_id' data-key="strategy_id">編號</th>
                <th data-id='strategy_name'>策略名稱</th>
                <th data-id='formatted_config'>設置</th>
                <th data-id='enable' data-type="toggle" data-edit="1">啟用</th>
                <th data-id='_action'>操作</th>
            </tr>
        </thead>
    </table>
</div>
{include file="pagefooter.htm"}
<script>
yohoTable.query = 'strategy_query';
var $table = yoho_dataTable();
</script>