{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<div class="x_panel">
        <table class="table table-striped table-bordered bulk_action">
            <thead>
                <tr>
                    <th data-id='rule_id' data-key="rule_id">編號</th>
                    <th data-id='rule_name'>策略名稱</th>
                    <th data-id='formatted_type'>種類</th>
                    <th data-id='formatted_config'>設置</th>
                    <th data-id='enable' data-type="toggle" data-edit="1">啟用</th>
                    <th data-id='_action'>操作</th>
                </tr>
            </thead>
        </table>
    </div>
{include file="pagefooter.htm"}
<script>
yohoTable.query = 'rule_query';
var $table = yoho_dataTable();
</script>