{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}

<form action="auto_pricing.php" method="GET" name="form" class="tab-content form-horizontal form-label-left" onsubmit="return validate()">
    <div class="x_panel">
        <input name="act" type="hidden" value="strategy_default_update">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">預設定價策略</label>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <table class="table table-striped table-bordered bulk_action strategy_select_table">
                    <tr>
                        <th width="37"></th>
                        <th width="200">策略名稱</th>
                        <th>設置</th>
                    </tr>
                    {foreach from=$list item=strategy}
                    <tr>
                        <td><input class="flat strategy_select" type="radio" name="price_strategy" value="{$strategy.strategy_id}" {if $strategy_id eq $strategy.strategy_id}checked{/if}></td>
                        <td>{$strategy.strategy_name}</td>
                        <td>{$strategy.formatted_config}</td>
                    </tr>
                    {/foreach}
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-sm-3 col-xs-12"></div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="submit" class="btn btn-primary" value="{$lang.button_submit}">
            </div>
        </div>
    </div>
</form>
{include file="pagefooter.htm"}