{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
<style>
#strategy_preview {
    position: fixed;
    right: 50px;
    top: 250px;
    border: 1px solid grey;
    min-width: 320px;
    z-index: 1000;
    padding: 10px;
    background: white;
}
#strategy_preview b {
    font-size: 16px;
}
</style>
<form action="auto_pricing.php" method="GET" name="form" class="tab-content form-horizontal form-label-left" onsubmit="return validate()">
    <div id="strategy_preview"></div>
    <div class="x_panel">
        <input name="act" type="hidden" value="strategy_update">
        <input name="strategy_id" type="hidden" value="{$strategy.strategy_id}">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="strategy_name">策略名稱</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input name="strategy_name" type="text" class="form-control" value="{$strategy.strategy_name}" size="35">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enable">啟用</label>
            <div class="col-md-3 col-sm-3 col-xs-12" style="padding-top: 8px">
                <input type="checkbox" class="flat" {if $strategy.enable}checked{/if} name="enable" value="1">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">設置</label>
            <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 8px">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>普通定價</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    啟用<span style="padding-left: 10px"><input name="auto_normal" type="checkbox" class="flat" value="1" {if $strategy.normal}checked{/if}></span>
                                </th>
                                <th></th>
                            </tr>
                        </table>
                        <table class="table table-striped auto_normal" {if !$strategy.normal}style="display: none"{/if}>
                            <tr>
                                <th width="200">參考網站</th>
                                <th width="200"></th>
                            </tr>
                            <tr>
                                <td>
                                    {foreach from=$webs item=item key=key}
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span class="col-md-9" style="padding-top: 8px">{$item}<span class='pull-right'>({$webs_column[$key]})</span></span>
                                            <span class="col-md-3" style="padding-top: 8px">
                                                <input name="value_reference[]" type="checkbox" class="flat" {if $strategy[$key] eq 1 || $smarty.request.act eq "strategy_add"}checked="true"{/if} value="{$key}">
                                            </span>
                                        </div>
                                    </div>
                                    {/foreach}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>條件</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>
                                    {foreach from=$values key=value item=name}
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span class="col-md-9" style="padding-top: 8px">{$name}{if $webs_column[$value]}<span class='pull-right'>({$webs_column[$value]})</span>{/if}</span>
                                            <span class="col-md-3" style="padding-top: 8px"><input name="value_condition" type="radio" class="flat" value="{$value}" {if $strategy.condition eq $value}checked="true"{/if}></span>
                                        </div>
                                    </div>
                                    {/foreach}
                                </td>
                                <td>
                                    <div class="row">
                                        <span class="col-md-3" style="padding-top: 8px">相差百分比</span>
                                        <span class="col-md-5">
                                            <div class="input-group">
                                                <input name="value_condition_percent" type="number" step="1" min="0" class="form-control" value="{if $strategy.condition_percent}{$strategy.condition_percent}{else}0{/if}">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>取值</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>
                                    {foreach from=$values key=value item=name}
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span class="col-md-9" style="padding-top: 8px">{$name}{if $webs_column[$value]}<span class='pull-right'>({$webs_column[$value]})</span>{/if}</span>
                                            <span class="col-md-3" style="padding-top: 8px"><input name="value_select" type="radio" class="flat" value="{$value}" {if $strategy.select eq $value}checked="true"{/if}></span>
                                        </div>
                                    </div>
                                    {/foreach}
                                </td>
                                <td>
                                    <div class="row">
                                        <span class="col-md-3" style="padding-top: 8px">百分比</span>
                                        <span class="col-md-5">
                                            <div class="input-group">
                                                <input name="value_percent" type="number" step="1" min="1" class="form-control" value="{if $strategy.percent}{$strategy.percent}{else}100{/if}">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="row" style="border-top: 1px solid #ccc; margin-top: 10px; padding-top: 10px;">
                                        <span class="col-md-3" style="padding-top: 8px; padding-bottom: 8px"><b>價格下限</b></span>
                                        <span class="col-md-2" style="padding-top: 8px; padding-bottom: 8px">
                                            <input name="price_limit" type="checkbox" class="flat" {if $strategy.price_limit}checked="true"{/if} value="1">
                                        </span>
                                    </div>
                                    <div class="row price_limit" {if !$strategy.price_limit}style="display: none"{/if}>
                                        <span class="col-md-3" style="padding-top: 8px; padding-bottom: 16px">金額<br>(成本 + $x)</span>
                                        <span class="col-md-2" style="padding-top: 8px; padding-bottom: 16px">
                                            <input name="price_limit_type" type="radio" class="flat" {if $strategy.price_limit.type eq 1}checked="true"{/if} value="1" data-target="price_limit">
                                        </span>
                                        <span class="col-md-4">
                                            <div class="input-group price_limit_amount" {if $strategy.price_limit.type neq 1}style="display: none"{/if}>
                                                <span class="input-group-addon">$</span>
                                                <input class="form-control price_limit_type1" type="number" step="1" name="price_limit_amount" value="{if $strategy.price_limit.type eq 1}{$strategy.price_limit.amount|default:0}{/if}">
                                            </div>
                                        </span>
                                    </div>
                                    <div class="row price_limit" {if !$strategy.price_limit}style="display: none"{/if}>
                                        <span class="col-md-3" style="padding-top: 8px; padding-bottom: 16px">百分比<br>(成本 + x%)</span>
                                        <span class="col-md-2" style="padding-top: 8px; padding-bottom: 16px">
                                            <input name="price_limit_type" type="radio" class="flat" {if $strategy.price_limit.type eq 2}checked="true"{/if} value="2" data-target="price_limit">
                                        </span>
                                        <span class="col-md-4">
                                            <div class="input-group price_limit_amount" {if $strategy.price_limit.type neq 2}style="display: none"{/if}>
                                                <input class="form-control price_limit_type2" type="number" step="1" name="price_limit_amount" value="{if $strategy.price_limit.type eq 2}{$strategy.price_limit.amount|default:0}{/if}">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>呆壞貨</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    自動促銷<span style="padding-left: 10px"><input name="auto_on_sale" type="checkbox" class="flat" value="1" {if $strategy.on_sale}checked{/if}></span>
                                </th>
                                <th></th>
                            </tr>
                            <tr class="auto_on_sale" {if !$strategy.on_sale}style="display: none"{/if}>
                                <td colspan="2">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span class="col-md-3" style="padding-top: 8px">促銷日數</span>
                                            <span class="col-md-4">
                                                <div class="input-group">
                                                    <input name="on_sale_duration" type="number" step="1" min="1" class="form-control" value="{$strategy.on_sale.duration|default:3}">
                                                    <span class="input-group-addon">天</span>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span class="col-md-3" style="padding-top: 8px">促銷目標</span>
                                            <span class="col-md-5">
                                                <select name="on_sale_target" class="form-control">
                                                    {foreach from=$dead_section item=section key=key}
                                                    {if $key < 120}<option value="{$key}" {if $strategy.on_sale.target eq $key}selected{/if}>{$section}</option>{/if}
                                                    {/foreach}
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <span class="col-md-3" style="padding-top: 16px">促銷幅度<br>(毛利減少幅度)</span>
                                            <span class="col-md-4" style="padding-top: 8px">
                                                <div class="row">
                                                    <span class="col-md-8" style="padding-top: 8px; padding-bottom: 16px">百分比</span>
                                                    <span class="col-md-4" style="padding-top: 8px; padding-bottom: 16px">
                                                        <input name="on_sale_type" type="radio" class="flat" checked="true" value="2">
                                                    </span>
                                                </div>
                                            </span>
                                            <span class="col-md-5" style="padding-top: 8px">
                                                <div class="row on_sale_amount_detail {if $strategy.on_sale.amount.default || !$strategy.on_sale.amount}active{/if}" {if !($strategy.on_sale.amount.default || !$strategy.on_sale.amount)}style="display: none"{/if}>
                                                    <span class="col-md-12">
                                                        <div class="input-group on_sale_amount">
                                                            <span class="input-group-addon">預設</span>
                                                            <input class="form-control on_sale_amount_detail" type="number" step="1" min="1" name="on_sale_amount_default" value="{$strategy.on_sale.amount.default}">
                                                        </div>
                                                    </span>
                                                </div>
                                                {foreach from=$dead_section item=section key=key}
                                                {if $key > 0}
                                                <div class="row on_sale_amount_detail {if !($strategy.on_sale.amount.default || !$strategy.on_sale.amount)}active{/if}" {if $strategy.on_sale.amount.default || !$strategy.on_sale.amount}style="display: none"{/if}>
                                                    <span class="col-md-12">
                                                        <div class="input-group on_sale_amount">
                                                            <span class="input-group-addon">{$section}</span>
                                                            <input class="form-control on_sale_amount_detail" type="number" step="1" min="1" name="on_sale_amount_{$key}" value="{$strategy.on_sale.amount[$key]}">
                                                        </div>
                                                    </span>
                                                </div>
                                                {/if}
                                                {/foreach}
                                            </span>
                                        </div>
                                        <div class="col-md-3" style="padding-top: 16px; cursor: pointer">
                                            <span id='on_sale_amount_toggle'>較{if $strategy.on_sale.amount.default || !$strategy.on_sale.amount}多{else}少{/if}</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>VIP價</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    啟用<span style="padding-left: 10px"><input name="auto_vip" type="checkbox" class="flat" value="1" {if $strategy.vip}checked{/if}></span>
                                </th>
                                <th></th>
                            </tr>
                        </table>
                        <div class="row auto_vip" {if !$strategy.vip}style="display: none"{/if}>
                            <div class="col-md-8">
                                <span class="col-md-3" style="padding-top: 8px">百分比</span>
                                <span class="col-md-4">
                                    <div class="input-group price_limit_amount">
                                        <input type="number" min="1" max="99" step="1" class="form-control" name="vip_percent" value="{$strategy.vip_percent|default:90}">
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-sm-3 col-xs-12"></div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="submit" class="btn btn-primary" value="{$lang.button_submit}">
            </div>
        </div>
    </div>
</form>
<script>
    var webs_raw = {$webs|json_encode};
    var values_raw = {$values|json_encode};
    var webs = [{foreach from=$webs item=name key=value}"{$value}",{/foreach}];
    function displayPreview() {
        var html = "";
        var msgs = [];
        var msg = "<h4>普通定價</h4>";
        if ($("input[name=auto_normal]").prop("checked")) {
            var referenced = $("input[name*=value_reference]:checked").get().map((v)=>$(v).val());
            if (referenced.length == 0) {
                msg += "<span class='red'>請選擇參考網站</span>";
            } else {
                msg += "參考 <b>" + referenced.map((v)=>values_raw[v]).join(", ") + "</b><br>";
                var condition = $("input[name=value_condition]:checked").val();
                if (typeof condition === "undefined") {
                    msg += "<span class='red'>條件錯誤: 請選擇條件</span>";
                } else {
                    if (webs.indexOf(condition) != -1 && referenced.indexOf(condition) == -1) {
                        msg += "<span class='red'>條件錯誤: 參考網站需選擇 " + values_raw[condition] + "</span>";
                    } else {
                        var condition_percent = parseInt($("input[name=value_condition_percent]").val());
                        if (isNaN(condition_percent)){
                            msg += "<span class='red'>條件錯誤: 請填寫正確的百分比</span>";
                        } else {
                            msg += "當門店價格" + (condition_percent == 0 ? "不等於" : "相差") + " <b>" + values_raw[condition] + "</b> 價" + (condition_percent == 0 ? "" : "多於 <b>" + condition_percent + "%</b> ") + "時,<br>";

                            var selected = $("input[name=value_select]:checked").val();
                            if (typeof selected === "undefined") {
                                msg += "<span class='red'>取值錯誤: 請選擇取值</span>";
                            } else {
                                if (webs.indexOf(selected) != -1 && referenced.indexOf(selected) == -1) {
                                    msg += "<span class='red'>取值錯誤: 參考網站需選擇 " + values_raw[selected] + "</span>";
                                } else {
                                    var percent = parseInt($("input[name=value_percent]").val());
                                    if (isNaN(percent)){
                                        msg += "<span class='red'>取值錯誤: 請填寫正確的百分比</span>";
                                    } else {
                                        msg += "調整門店價格為 <b>" + values_raw[selected] + "</b> 價之 <b>" + percent + "%</b>,<br>";
                                        if ($("input[name=price_limit]").prop("checked")) {
                                            var price_limit_type = $("input[name=price_limit_type]:checked").val();
                                            if (typeof price_limit_type == "undefined") {
                                                msg += "<span class='red'>價格下限錯誤: 請選擇金額 / 百分比</span>";
                                            } else {
                                                var price_limit_amount = $("input.price_limit_type" + price_limit_type + "[name=price_limit_amount]").val();
                                                if (price_limit_amount == "") {
                                                    msg += "<span class='red'>價格下限錯誤: 請填寫正確的金額 / 百分比</span>";
                                                } else {
                                                    price_limit_amount = parseInt(price_limit_amount)
                                                    if (price_limit_type == 1) {
                                                        msg += "且價格不低於 <b>成本 " + (price_limit_amount == 0 ? "" : (price_limit_amount > 0 ? "+" : "-") + " $" + Math.abs(price_limit_amount)) + "</b>";
                                                    } else if(price_limit_type == 2) {
                                                        msg += "且價格不低於 <b>成本 " + (price_limit_amount == 0 ? "" :(price_limit_amount > 0 ? "+" : "-") + " " + Math.abs(price_limit_amount) + "%") + "</b>";
                                                    }
                                                }
                                            }
                                        } else {
                                            msg += "且 <b>沒有最低價格</b>";
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        } else {
            msg += "<span class='red'><b>未啟用</b></span>";
        }
        msgs.push(msg);
        msg = "<h4>呆壞貨</h4>";
        if ($("input[name=auto_on_sale]").prop("checked")) {
            var on_sale_duration = parseInt($("input[name=on_sale_duration]").val())
            if (!on_sale_duration || on_sale_duration < 1) {
                msg += "<span class='red'>促銷日數錯誤: 請填寫正確的促銷日數</span>";
            } else {
                var on_sale_type = $("input[name=on_sale_type]:checked").val();
                var on_sale_amount = [];
                if (typeof on_sale_type == "undefined") {
                    msg += "<span class='red'>促銷幅度錯誤: 請選擇促銷幅度</span>";
                } else {
                    var fail = false;
                    if ($("div.on_sale_amount_detail.active input.on_sale_amount_detail").length == 1) {
                        var on_sale_amount_detail = $("div.on_sale_amount_detail.active input.on_sale_amount_detail").val();
                        if (on_sale_amount_detail == "") {
                            fail = true;
                        } else {
                            on_sale_amount.push(on_sale_amount_detail);
                        }
                    } else {
                        $("div.on_sale_amount_detail.active input.on_sale_amount_detail").get().map(function (v) {
                            if (!fail && $(v).val() == "") {
                                fail = true;
                            } else if (!fail) {
                                on_sale_amount.push($(v).val());
                            }
                        })
                    }
                    if (fail) {
                        msg += "<span class='red'>促銷幅度錯誤: 請填寫正確的金額 / 百分比</span>";
                    } else {
                        var on_sale_amount_formated = priceOrPercent(on_sale_amount[0], on_sale_type);
                        if (on_sale_amount.length > 1) {
                            on_sale_amount_formated = priceOrPercent(Math.min(...on_sale_amount), on_sale_type) + " - " + priceOrPercent(Math.max(...on_sale_amount), on_sale_type)
                        }
                        msg += "每次自動促銷維持 <b>" + on_sale_duration + "</b> 日,<br>" +
                                "促銷幅度為當前毛利減 <b>" + on_sale_amount_formated + "</b>,<br>" +
                                "直至產品變為 <b>" + $("select[name=on_sale_target]").find(":selected").text() + "</b>";
                    }
                }
            }
        } else {
            msg += "<span class='red'><b>未啟用</b></span>";
        }
        msgs.push(msg);
        msg = "<h4>VIP價</h4>";
        if ($("input[name=auto_vip]").prop("checked")) {
            var vip_percent = $("input[name=vip_percent]").val();
            if (vip_percent == "") {
                msg += "<span class='red'>錯誤: 請填寫正確的VIP價百分比</span>";
            } else {
                msg += "VIP價調整為新售價 / 促銷價之 <b>" + vip_percent + "</b>%"
            }
        } else {
            msg += "<span class='red'><b>未啟用</b></span>";
        }
        msgs.push(msg);
        $("#strategy_preview").html(msgs.join("<br><br>"))
    }
    function validate () {
        if ($("input[name=strategy_name]").val() == ""){
            alert("請填寫策略名稱")
            return false;
        }

        if (!($("input[name=auto_normal]").prop("checked") || $("input[name=auto_on_sale]").prop("checked") || $("input[name=auto_vip]").prop("checked"))) {
            return confirm("確定儲存此定價策略?")
        }

        var msgs = [];

        if ($("input[name=auto_normal]").prop("checked")) {
            var referenced = $("input[name*=value_reference]:checked").get().map((v)=>$(v).val());
            if (referenced.length == 0) {
                alert("請選擇參考網站");
                return false;
            }
            var msg = "";

            var condition = $("input[name=value_condition]:checked").val();
            if (typeof condition === "undefined") {
                alert("請選擇條件")
                return false;
            } else {
                if (webs.indexOf(condition) != -1 && referenced.indexOf(condition) == -1) {
                    alert("條件錯誤!!!!!\n參考網站需選擇 " + values_raw[condition])
                    return false;
                }
            }

            var selected = $("input[name=value_select]:checked").val();
            if (typeof selected === "undefined") {
                alert("請選擇取值")
                return false;
            } else {
                if (webs.indexOf(selected) != -1 && referenced.indexOf(selected) == -1) {
                    alert("取值錯誤!!!!!\n參考網站需選擇 " + values_raw[selected])
                    return false;
                }
            }

            var percent = parseInt($("input[name=value_percent]").val());
            if (isNaN(percent)){
                alert("請填寫取值百分比");
                return false;
            }
            $("input[name=value_percent]").val(percent)

            var condition_percent = parseInt($("input[name=value_condition_percent]").val());
            if (isNaN(condition_percent)){
                alert("請填寫取值百分比");
                return false;
            }
            $("input[name=value_condition_percent]").val(condition_percent)

            msg += "參考 " + referenced.map((v)=>values_raw[v]).join(", ") + "\n" +
                    "當門店價格 " + (condition_percent == 0 ? "不等於" : "相差") + values_raw[condition] + " 價" + (condition_percent == 0 ? "" : "多於 " + condition_percent + "% ") +"時,\n" +
                    "調整門店價格為 " + values_raw[selected] + " 價之 " + percent + "%,\n" +
                    "且";

            if ($("input[name=price_limit]").prop("checked")) {
                var price_limit_type = $("input[name=price_limit_type]:checked").val();
                if (typeof price_limit_type == "undefined") {
                    alert("請選擇價格下限之金額 / 百分比");
                    return false;
                } else {
                    var price_limit_amount = $("input.price_limit_type" + price_limit_type + "[name=price_limit_amount]").val();
                    if (price_limit_amount == "") {
                        alert("請填寫金額 / 百分比");
                        return false;
                    }
                    price_limit_amount = parseInt(price_limit_amount)
                    $("input[name=price_limit_amount]").val(price_limit_amount)
                    if (price_limit_type == 1) {
                        msg += "價格不低於 成本 " + (price_limit_amount == 0 ? "" : (price_limit_amount > 0 ? "+" : "-") + " $" + Math.abs(price_limit_amount));
                    } else if(price_limit_type == 2) {
                        msg += "價格不低於 成本 " + (price_limit_amount == 0 ? "" :(price_limit_amount > 0 ? "+" : "-") + " " + Math.abs(price_limit_amount) + "%");
                    }
                }
            } else {
                msg += "沒有最低價格";
            }
            msgs.push(msg);
        }

        if ($("input[name=auto_on_sale]").prop("checked")) {
            var on_sale_duration = parseInt($("input[name=on_sale_duration]").val())
            var msg = "";
            if (!on_sale_duration || on_sale_duration < 1) {
                alert("請填寫促銷日數");
                return false;
            }
            var on_sale_type = $("input[name=on_sale_type]:checked").val();
            var on_sale_amount = [];
            if (typeof on_sale_type == "undefined") {
                alert("請選擇促銷幅度");
                return false;
            } else {
                if ($("div.on_sale_amount_detail.active input.on_sale_amount_detail").length == 1) {
                    var on_sale_amount_detail = $("div.on_sale_amount_detail.active input.on_sale_amount_detail").val();
                    if (!onSaleCheck(on_sale_amount_detail, on_sale_type)) {
                        return false
                    }
                    on_sale_amount.push(on_sale_amount_detail);
                } else {
                    var success = true;
                    $("div.on_sale_amount_detail.active input.on_sale_amount_detail").get().map(function (v) {
                        if (success && !onSaleCheck($(v).val(), on_sale_type)) {
                            success = false;
                        }
                        on_sale_amount.push($(v).val());
                    })
                    if (!success) {
                        return false;
                    }
                }
            }
            var on_sale_amount_formated = priceOrPercent(on_sale_amount[0], on_sale_type);
            if (on_sale_amount.length > 1) {
                on_sale_amount_formated = priceOrPercent(Math.min(...on_sale_amount), on_sale_type) + " - " + priceOrPercent(Math.max(...on_sale_amount), on_sale_type)
            }
            msg += "每次自動促銷維持 " + on_sale_duration + " 日,\n" +
                    "促銷幅度為當前毛利減 " + on_sale_amount_formated + ",\n" +
                    "直至產品變為 " + $("select[name=on_sale_target]").find(":selected").text();
            msgs.push(msg);
        } else {
            $("input[name=on_sale_type], input[name=on_sale_duration], input.on_sale_amount_detail, select[name=on_sale_target]").val("")
        }

        if ($("input[name=auto_vip]").prop("checked")) {
            var vip_percent = $("input[name=vip_percent]").val();
            var msg = "";
            if (vip_percent == "") {
                alert("請填寫VIP價百分比");
                return false;
            }
            msg += "VIP價調整為新售價 / 促銷價之 " + vip_percent + "%"
            msgs.push(msg);
        }

        return confirm(msgs.join("\n\n"))
    }

    function priceOrPercent (value, type) {
        if (type == 1) {
            return "$" + value;
        } else {
            return value + "%";
        }
    }

    function onSaleCheck (value, type) {
        if (value == "") {
            alert("請填寫金額 / 百分比");
            return false;
        } else {
            // if (type == 2 && parseInt(value) > 100) {
            //     alert("促銷幅度不可高於100%");
            //     return false;
            // }
        }
        return true;
    }

    $(document).on("ifChanged", "input[name=price_limit]", function (e) {
        if ($(e.target).prop("checked")) {
            $(".price_limit").show();
        } else {
            $(".price_limit").hide();
            $("input[name=price_limit_type]").iCheck("uncheck");
            $("input[name=price_limit_amount]").val("");
        }
    })
    $(document).on("ifChanged", "input[name=price_limit_type], input[name=on_sale_type]", function (e) {
        var target = $(e.target).data("target");
        if ($(e.target).prop("checked")) {
            $(e.target).parents("div." + target).find("." + target + "_amount").show();
        } else {
            $(e.target).parents("div." + target).find("." + target + "_amount").hide();
        }
    })
    $(document).on("ifChanged", "input[name=auto_on_sale], input[name=auto_normal], input[name=auto_vip]", function (e) {
        if ($(e.target).prop("checked")) {
            $("." + $(e.target).attr("name")).show();
        } else {
            $("." + $(e.target).attr("name")).hide();
        }
    })
    $(document).on("click", "#on_sale_amount_toggle", function() {
        $("div.on_sale_amount_detail").toggle();
        $("div.on_sale_amount_detail").toggleClass("active");
        if ($("#on_sale_amount_toggle").html() == "較多") {
            $("#on_sale_amount_toggle").html("較少");
        } else {
            $("#on_sale_amount_toggle").html("較多");
        }
        $("input.on_sale_amount_detail").prop("disabled", true);
        $("div.on_sale_amount_detail.active input.on_sale_amount_detail").prop("disabled", false);
    })
    var timer = setInterval(function(){displayPreview()}, 500)
</script>
{include file="pagefooter.htm"}