<!-- $Id: order_info.htm 15544 2009-01-09 01:54:28Z zblikai $ -->

{include file="pageheader.htm"}
{insert_scripts files="topbar.js,../js/utils.js,selectzone.js,../js/common.js"}

<div class=" x_panel list-div" style="margin-bottom: 5px">
  <table class="table jambo_table table-bordered">
    <thead>
    <tr>
      <th colspan="4">{$lang.base_info}</th>
    </tr>
    </thead>
    <tr>
      <td><div align="right"><strong>{$lang.return_time}</strong></div></td>
      <td>{$back_order.formated_return_time}</td>
      <td><div align="right"><strong></strong></div></td>
      <td></td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.delivery_sn_number}</strong></div></td>
      <td>{$back_order.delivery_sn}</td>
      <td><div align="right"><strong>{$lang.label_shipping_time}</strong></div></td>
      <td>{$back_order.formated_update_time}</td>
    </tr>
    <tr>
      <td width="18%"><div align="right"><strong>{$lang.label_order_sn}</strong></div></td>
    <td width="34%">{$back_order.order_sn}{if $back_order.extension_code eq "group_buy"}<a href="group_buy.php?act=edit&id={$back_order.extension_id}">{$lang.group_buy}</a>{elseif $back_order.extension_code eq "exchange_goods"}<a href="exchange_goods.php?act=edit&id={$back_order.extension_id}">{$lang.exchange_goods}</a>{/if}
      <td><div align="right"><strong>{$lang.label_order_time}</strong></div></td>
      <td>{$back_order.formated_add_time}</td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_user_name}</strong></div></td>
      <td>{$back_order.user_name|default:$lang.anonymous}</td>
      <td><div align="right"><strong>{$lang.label_how_oos}</strong></div></td>
      <td>{$back_order.how_oos}</td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_shipping}</strong></div></td>
      <td>{if $exist_real_goods}{if $back_order.shipping_id > 0}{$back_order.shipping_name}{else}{$lang.require_field}{/if} {if $back_order.insure_fee > 0}（{$lang.label_insure_fee}{$back_order.formated_insure_fee}）{/if}{/if}</td>
      <td><div align="right"><strong>{$lang.label_shipping_fee}</strong></div></td>
      <td>{$back_order.shipping_fee}</td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_insure_yn}</strong></div></td>
      <td>{if $insure_yn}{$lang.yes}{else}{$lang.no}{/if}</td>
      <td><div align="right"><strong>{$lang.label_insure_fee}</strong></div></td>
      <td>{$back_order.insure_fee|default:0.00}</td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_invoice_no}</strong></div></td>
      <td colspan="3">{$back_order.invoice_no}</td>
    </tr>
    <thead>
      <tr>
        <th colspan="4">{$lang.consignee_info}</th>
      </tr>
    </thead>
    <tr>
      <td><div align="right"><strong>{$lang.label_consignee}</strong></div></td>
      <td>{$back_order.consignee|escape}</td>
      <td><div align="right"><strong>{$lang.label_email}</strong></div></td>
      <td>{$back_order.email}</td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_address}</strong></div></td>
      <td>[{$back_order.region}] {$back_order.address|escape}</td>
      <td><div align="right"><strong>{$lang.label_zipcode}</strong></div></td>
      <td>{$back_order.zipcode|escape}</td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_tel}</strong></div></td>
      <td>{$back_order.tel}</td>
      <td><div align="right"><strong>{$lang.label_mobile}</strong></div></td>
      <td>{$back_order.mobile|escape}</td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_sign_building}</strong></div></td>
      <td>{$back_order.sign_building|escape}</td>
      <td><div align="right"><strong>{$lang.label_best_time}</strong></div></td>
      <td>{$back_order.best_time|escape}</td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_postscript}</strong></div></td>
      <td colspan="3">{$back_order.postscript}</td>
    </tr>
  </table>

  <table class="table jambo_table table-bordered">
    <thead>
      <tr>
        <th colspan="7" scope="col">{$lang.goods_info}</th>
      </tr>
    </thead>
    <tr>
      <td scope="col"><div align="center"><strong>{$lang.goods_name_brand}</strong></div></td>
      <td scope="col"><div align="center"><strong>{$lang.goods_sn}</strong></div></td>
      <td scope="col"><div align="center"><strong>{$lang.product_sn}</strong></div></td>
      <td scope="col"><div align="center"><strong>{$lang.goods_attr}</strong></div></td>
      <td scope="col"><div align="center"><strong>{$lang.label_send_number}</strong></div></td>
    </tr>
    {foreach from=$goods_list item=goods}
    <tr>
      <td>
      {if $goods.goods_id gt 0 && $goods.extension_code neq 'package_buy'}
      <a href="../goods.php?id={$goods.goods_id}" target="_blank">{$goods.goods_name} {if $goods.brand_name}[ {$goods.brand_name} ]{/if}
      {/if}
      </td>
      <td><div align="left">{$goods.goods_sn}</div></td>
      <td><div align="left">{$goods.product_sn}</div></td>
      <td><div align="left">{$goods.goods_attr|nl2br}</div></td>
      <td><div align="left">{$goods.send_number}</div></td>
    </tr>
    {/foreach}
  </table>
  <table id="#" class="table table-striped table-bordered bulk_action ">
    <tr>
      <th colspan="6">{$lang.action_info}</th>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.action_user}</strong></div></td>
      <td>{$back_order.action_user}</td>
      <td><div align="right"><strong>{$lang.label_agency}</strong></div></td>
      <td>{$back_order.agency_name}</td>
    </tr>
  </table>
</div>
{literal}
<script language="JavaScript">
{/literal}
  var oldAgencyId = {$back_order.agency_id|default:0};
{literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }

</script>
{/literal}

{include file="pagefooter.htm"}