{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js"}
<div class=" x_panel">
  <!-- 订单搜索 -->
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form action="javascript:searchOrder()" name="searchForm" class="form-inline">
      <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
      {$lang.label_delivery_sn}<input class="form-control" name="delivery_sn" type="text" id="delivery_sn" size="15">
      {$lang.order_sn}<input class="form-control" name="order_sn" type="text" id="order_sn" size="15">
      {$lang.consignee|escape}<input class="form-control" name="consignee" type="text" id="consignee" size="15">
      <input type="submit" value="{$lang.button_search}" class="btn btn-success form-btn" />
    </form>
  </div>

<!-- 订单列表 -->
<form method="post" action="order.php?act=operate" name="listForm" onsubmit="return check()">
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table id="#" class="table table-striped table-bordered bulk_action ">
      <thead>
        <tr class="headings">
          <th data-id="delivery_sn" data-key="delivery_sn">
            <!--input type="checkbox" id="check-all" class="flat"--> {$lang.label_delivery_sn}
          </th>
          <th data-id="order_sn">{$lang.order_sn}</th>
          <th data-id="add_time">{$lang.label_add_time}</th>
          <th data-id="consignee">{$lang.consignee}</th>
          <th data-id="update_time">{$lang.label_update_time}</th>
          <th data-id="return_time">{$lang.label_return_time}</th>
          <th data-id="action_user">{$lang.operator}</th>
          <th class="actionsCol" data-id="_action">{$lang.handler}</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <!--div>
    <input name="remove_back" type="submit" id="btnSubmit3" value="{$lang.remove}" class="btn btn-primary" disabled="true" onclick="" />
  </div-->
</form>
{include file="pagefooter.htm"}
<script language="JavaScript">
{literal}

    yohoTable.query = "back_query";
    var $table = yoho_dataTable();
    /**
     * 搜索订单
     */
    function searchOrder()
    {
        $filter['order_sn'] = Utils.trim(document.forms['searchForm'].elements['order_sn'].value);
        $filter['consignee'] = Utils.trim(document.forms['searchForm'].elements['consignee'].value);
        $filter['delivery_sn'] = document.forms['searchForm'].elements['delivery_sn'].value;
        $table.search();
    }

    function check()
    {
      $(frm).append('<input type="hidden" name="id" value="'+$goodsTable.getSelectValue()+'" />');
      var snArray = new Array();
      var eles = document.forms['listForm'].elements;
      for (var i=0; i<eles.length; i++)
      {
        if (eles[i].tagName == 'INPUT' && eles[i].type == 'checkbox' && eles[i].checked && eles[i].value != 'on')
        {
          snArray.push(eles[i].value);
        }
      }
      if (snArray.length == 0)
      {
        return false;
      }
      else
      {
        eles['order_id'].value = snArray.toString();
        return true;
      }
    }
</script>
{/literal}