{if $full_page}
{include file="pageheader.htm"}
<style>
/*
th.head{
    background: #80BDCB;
}*/
td.supp{
    background: #e7fdb2
}
td.cons{
    background: #fdd0b2
}
td.blank{
    height: 35px !important;
}
</style>
<div class="list-div  x_panel">
    <table class="table table-striped table-bordered">
    {if $overview}
        <tr>
            {foreach from=$table item=side}
            <td style="vertical-align:top;">
                <table class="table table-striped table-bordered jambo_table">
                    <thead><tr><th style="width: 250px;">項目</th><th style="width: 250px;">金額</th></tr></thead>
                    {foreach from=$side item=row}
                    {if $row[0] neq ""}
                    <tr><td class="{$row[1]}"><a href="balance_sheet.php?act=info&item={$row[2]}">{$row[0]}</a></td><td class="{$row[1]}">{$row[3]}</td></tr>
                    {else}
                    <tr><td class="{$row[1]} blank"></td><td class="{$row[1]} blank"></td></tr>
                    {/if}
                    {/foreach}
                </table>
            </td>
            {/foreach}
            <!--td></td-->
        </tr>
    {else}
        <tr>
            <td style="vertical-align:top;">
                {if $type eq 'sou'}
                <table  class="table table-striped table-bordered jambo_table">
                    <thead><tr><th colspan='3' class="head">採購訂單列表</th></tr></thead>
                    <tr><th>採購訂單編號</th><th>供應商</th><th>金額</th></tr>
                    {foreach from=$sou item=row}
                    <tr>
                        <td><a target="_blank" href="erp_order_manage.php?act=view_order&order_id={$row.order_id}">{$row.order_sn}</a>
                            (<a target="_blank" href="erp_warehousing_manage.php?act=list&order_id={$row.order_id}">入貨單</a>)
                        </td>
                        <td>{$row.name}</td>
                        <td>{$row.cost}</td>
                    </tr>
                    {foreachelse}
                    <tr><td colspan='3'>找不到任何記錄</td></tr>
                    {/foreach}
                    {if $ignore > 0}
                    <tr><td colspan='3'><span style="color:red">已隱藏 {$ignore}條 金額為0或2014年前之記錄</span></td></tr>
                    {/if}
                </table>
                {elseif $type eq 'woc'}
                <table  class="table table-striped table-bordered jambo_table">
                    <thead><tr><th colspan='2' class="head">訂單列表</th></tr></thead>
                    <tr><th style="width: 150px;">訂單編號</th><th style="width: 150px;">金額</th></tr>
                    {foreach from=$woc item=row}
                    <tr>
                        <td><a target="_blank" href="order.php?act=info&order_id={$row.order_id}">{$row.order_sn}</a></td>
                        <td>{$row.cost}</td>
                    </tr>
                    {foreachelse}
                    <tr><td colspan='2'>找不到任何記錄</td></tr>
                    {/foreach}
                    {if $ignore > 0}
                    <tr><td colspan='2'><span style="color:red">已隱藏 {$ignore}條 金額為0或2014年前之記錄</span></td></tr>
                    {/if}
                </table>
                {elseif $type eq 'wosn'}
                <table  class="table table-striped table-bordered jambo_table">
                    <thead><tr><th colspan='3' class="head">採購訂單列表</th></tr></thead>
                    <tr><th style="width: 150px;">採購訂單編號</th><th>供應商</th><th style="width: 150px;">金額</th></tr>
                    {foreach from=$wosn item=row}
                    <tr>
                        <td><a target="_blank" href="erp_order_manage.php?act=view_order&order_id={$row.order_id}">{$row.order_sn}</a>
                            (<a target="_blank" href="erp_warehousing_manage.php?act=list&order_id={$row.order_id}">入貨單</a>)
                        </td>
                        <td>{$row.name}</td>
                        <td>{$row.cost}</td>
                    </tr>
                    {foreachelse}
                    <tr><td colspan='3'>找不到任何記錄</td></tr>
                    {/foreach}
                    {if $ignore > 0}
                    <tr><td colspan='3'><span style="color:red">已隱藏 {$ignore}條 金額為0或2014年前之記錄</span></td></tr>
                    {/if}
                </table>
                {elseif $type eq 'wosc'}
                <table  class="table table-striped table-bordered jambo_table">
                    <thead><tr><th colspan='3' class="head">採購訂單列表</th></tr></thead>
                    <tr><th style="width: 150px;">採購訂單編號</th><th>供應商</th><th style="width: 150px;">金額</th></tr>
                    {foreach from=$wosc item=row}
                    <tr>
                        <td><a target="_blank" href="erp_order_manage.php?act=view_order&order_id={$row.order_id}">{$row.order_sn}</a>
                            (<a target="_blank" href="erp_warehousing_manage.php?act=list&order_id={$row.order_id}">入貨單</a>)
                        </td>
                        <td>{$row.name}</td>
                        <td>{$row.cost}</td>
                    </tr>
                    {foreachelse}
                    <tr><td colspan='3'>找不到任何記錄</td></tr>
                    {/foreach}
                    {if $ignore > 0}
                    <tr><td colspan='3'><span style="color:red">已隱藏 {$ignore}條 金額為0或2014年前之記錄</span></td></tr>
                    {/if}
                </table>
                {elseif $type eq 'wsou'}
                <table  class="table table-striped table-bordered jambo_table">
                    <thead><tr><th colspan='2' class="head">訂單列表</th></tr></thead>
                    <tr><th style="width: 150px;">訂單編號</th><th style="width: 150px;">金額</th></tr>
                    {foreach from=$wsou item=row}
                    <tr>
                        <td><a target="_blank" href="order.php?act=info&order_id={$row.order_id}">{$row.order_sn}</a></td>
                        <td>{$row.cost}</td>
                    </tr>
                    {foreachelse}
                    <tr><td colspan='2'>找不到任何記錄</td></tr>
                    {/foreach}
                    {if $ignore > 0}
                    <tr><td colspan='2'><span style="color:red">已隱藏 {$ignore}條 金額為0之記錄</span></td></tr>
                    {/if}
                </table>
                {elseif $type eq 'wows'}
                <table  class="table table-striped table-bordered jambo_table">
                    <thead><tr><th colspan='2' class="head">訂單列表</th></tr></thead>
                    <tr><th style="width: 150px;">訂單編號</th><th style="width: 150px;">金額</th></tr>
                    {foreach from=$wows item=row}
                    <tr>
                        <td><a target="_blank" href="order.php?act=info&order_id={$row.order_id}">{$row.order_sn}</a></td>
                        <td>{$row.cost}</td>
                    </tr>
                    {foreachelse}
                    <tr><td colspan='2'>找不到任何記錄</td></tr>
                    {/foreach}
                    {if $ignore > 0}
                    <tr><td colspan='2'><span style="color:red">已隱藏 {$ignore}條 金額為0或2014年前之記錄</span></td></tr>
                    {/if}
                </table>
                {elseif $type eq 'ref'}
                <table class="table table-striped table-bordered jambo_table">
                    <thead><tr><th colspan='3' class="head">訂單列表</th></tr></thead>
                    <tr><th style="width: 100px;">訂單編號</th><th style="width: 50px;">退還款項</th><th style="width: 50px;">退還積分</th></tr>
                    {foreach from=$ref item=row}
                    <tr>
                        <td><a target="_blank" href="refund_requests.php?act=list&order_sn={$row.order_sn}">{$row.order_sn}</a></td>
                        <td>${$row.total_refund_amount}</td>
                        <td>{$row.total_integral_amount}</td>
                    </tr>
                    {foreachelse}
                    <tr><td colspan='3'>找不到任何記錄</td></tr>
                    {/foreach}
                </table>
                {/if}
            </td>
            <!--td></td-->
            <td style="vertical-align:top;">
                {if $type eq 'sou'}
                <table  class="table table-striped table-bordered jambo_table">
                    <thead><tr><th colspan='2' class="head">供應商列表</th></tr></thead>
                    <tr><th>供應商</th><th>產品數量 (訂單數)</th></tr>
                    {foreach from=$sou_s item=row}
                    <tr>
                        <td><a target="_blank" href="erp_order_manage.php?act=order_list&s_id={$row.supplier_id}">{$row.name}</a>
                        </td>
                        <td>{$row.count} ({$row.count2})</td>
                    </tr>
                    {foreachelse}
                    <tr><td colspan='2'>找不到任何記錄</td></tr>
                    {/foreach}
                </table>
                {elseif $type eq 'woc'}
                <table  class="table table-striped table-bordered jambo_table">
                    <thead><tr><th colspan='2' class="head">產品列表</th></tr></thead>
                    <tr><th>產品</th><th>產品數量 (訂單數)</th></tr>
                    {foreach from=$woc_p item=row}
                    <tr>
                        <td><a target="_blank" href="goods.php?act=edit&goods_id={$row.goods_id}">{$row.goods_name}</a>
                            (<a target="_blank" href="erp_stock_inquiry.php?act=warehouse_stock_detail&wid=1&pid={$row.goods_id}">庫存</a>)
                        </td>
                        <td>{$row.count} ({$row.count2})</td>
                    </tr>
                    {foreachelse}
                    <tr><td colspan='2'>找不到任何記錄</td></tr>
                    {/foreach}
                </table>
                {elseif $type eq 'wosn'}
                <table  class="table table-striped table-bordered jambo_table">
                    <thead><tr><th colspan='2' class="head">供應商列表</th></tr></thead>
                    <tr><th style="width: 150px;">供應商</th><th style="width: 150px;">產品數量 (訂單數)</th></tr>
                    {foreach from=$wosn_s item=row}
                    <tr>
                        <td><a target="_blank" href="erp_order_manage.php?act=order_list&s_id={$row.supplier_id}">{$row.name}</a>
                        </td>
                        <td>{$row.count} ({$row.count2})</td>
                    </tr>
                    {foreachelse}
                    <tr><td colspan='2'>找不到任何記錄</td></tr>
                    {/foreach}
                </table>
                {elseif $type eq 'wosc'}
                <table  class="table table-striped table-bordered jambo_table">
                    <thead><tr><th colspan='2' class="head">供應商列表</th></tr></thead>
                    <tr><th style="width: 150px;">供應商</th><th style="width: 150px;">產品數量 (訂單數)</th></tr>
                    {foreach from=$wosc_s item=row}
                    <tr>
                        <td><a target="_blank" href="erp_order_manage.php?act=order_list&s_id={$row.supplier_id}">{$row.name}</a>
                        </td>
                        <td>{$row.count} ({$row.count2})</td>
                    </tr>
                    {foreachelse}
                    <tr><td colspan='2'>找不到任何記錄</td></tr>
                    {/foreach}
                </table>
                {elseif $type eq 'wsou'}
                <table  class="table table-striped table-bordered jambo_table" >
                    <thead><tr><th colspan='2' class="head">會員列表</th></tr></thead>
                    <tr><th style="width: 150px;">會員</th><th style="width: 150px;">訂單數</th></tr>
                    {foreach from=$wsou_c item=row}
                    <tr>
                        <td><a target="_blank" href="order.php?act=list&is_wholesale=1&user_id={$row.user_id}">{$row.name}</a></td>
                        <td>{$row.count}</td>
                    </tr>
                    {foreachelse}
                    <tr><td colspan='2'>找不到任何記錄</td></tr>
                    {/foreach}
                </table>
                {elseif $type eq 'wows'}
                <table  class="table table-striped table-bordered jambo_table">
                    <thead><tr><th colspan='2' class="head">會員列表</th></tr></thead>
                    <tr><th style="width: 150px;">會員</th><th style="width: 150px;">訂單數</th></tr>
                    {foreach from=$wows_c item=row}
                    <tr>
                        <td><a target="_blank" href="order.php?act=list&is_wholesale=1&user_id={$row.user_id}">{$row.name}</a></td>
                        <td>{$row.count}</td>
                    </tr>
                    {foreachelse}
                    <tr><td colspan='2'>找不到任何記錄</td></tr>
                    {/foreach}
                </table>
                {/if}
            </td>
        </tr>
    {/if}
    </table>
</div>
<script language="JavaScript">
{literal}
{/literal}
</script>
{include file="pagefooter.htm"}
{/if}