{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<style>
.table > tbody > tr > td {
    vertical-align: middle;
}
.rec{
    display: block;
}
.getTxn{
    padding: 4px !important;
    cursor: pointer;
}
tr:nth-child(even) .rec:nth-child(even){
    background-color: #fff;
}
.rec:nth-child(even){
    background-color: #eee;
}
#botBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 1235;
    background-color: #8fa6b9!important;
    display: none;
    color: #000;
}
.label {
    margin: 3px;
    float: left;
}
.label:before {
    content: "";
    padding: 3px;
}
.label:after {
    content: "";
    padding: 3px;
}
.locked, .locked .rec {
    background: #c0c0c0 !important;
}
th, td {
    text-align: center;
}
#selTxn::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
span.fa-check.green {
    cursor: pointer;
}
.searchGroup {
    text-align: center;
}
.searchGroup .row div {
    padding: 5px;
}
.searchGroup .title {
    font-size: 14px;
    background: #00416B;
    color: #ECF0F1;
}
</style>
<div class=" x_panel">
{/if}
{if $act eq 'list' || $act eq 'query'}
{if $full_page}

<div class='form-div form-inline'>
    日期
    <input class="form-control" name="start_date" type="text" id="start_date" size="12" value='{$filter.start_date}' data-type="date" />
    <select class="form-control" name='account_id' required>
        <option value="">{$lang.select_please}</option>
        {foreach from=$pay_methods item=method}
        <option data-b="{$method.bank_id}" value="{$method.account_id}" {if $filter.account_id eq $method.account_id}selected{/if}>{$method.account_name}</p>
        {/foreach}
    </select>
    備註<input class="form-control" name="remark" type="text" id="remark" size="12" value='' />
    <input type="hidden" name="bank_id" value="0">
    <input type="submit" class="btn btn-success form-btn" value="{$lang.query}" onclick="searchRecord()">
</div>
<div class='main-div'>
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
    <table class="table table-striped jambo_table">
        <thead><tr>
            <th>編號</th>
            <th>日期</th>
            <th>戶口</th>
            <th>備註</th>
            <th>支出</th>
            <th>收入</th>
            <th>已對數</th>
        </tr></thead>
        {foreach from=$records item=row}
        <tr>
        {if $row.type eq 0}
            <td>{$row.rec_id}</td>
            <td>{$row.formatted_date}</td>
            <td>{$row.account_name}</td>
            <td>{$row.remark}</td>
            {if $row.amount > 0}
            <td> - </td>
            <td>{$row.formatted_amount}</td>
            {else}
            <td>{$row.formatted_amount}</td>
            <td> - </td>
            {/if}
            <td><span class="fa fa-{if $row.txn_group_id}check green{else}times red{/if}" data-t="{$row.txn_group_id}"></span></td>
        {elseif $row.type eq 1}
            <td colspan="7" style="text-align: center; background-color: #ddd;" class="fixed">Open Balance ({$row.formatted_amount})</td>
        {elseif $row.type eq 2}
            <td colspan="7" style="text-align: center; background-color: #ddd;" class="fixed">Close Balance ({$row.formatted_amount})</td>
        {/if}
        </tr>
        {foreachelse}
        <tr>
            <td colspan="7">{$lang.no_records}</td>
        </tr>
        {/foreach}
    </table>
    <table id="page-table" cellspacing="0">
        <tr>
            <td align="right" nowrap="true">
            {include file="page.htm"}
            </td>
        </tr>
    </table>
{if $full_page}
    </div>
</div>
{/if}
{elseif $act eq 'import'}
<div class='form-div'>
    <form action='bank_reconciliation.php' method='post' enctype='multipart/form-data' class="tab-content form-horizontal form-label-left">

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_order_sn}
            CSV 檔案</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type='file' class="form-control" name='import_excel' accept='.csv,.xls,.xlsx' required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_order_sn}
            CSV 模版</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name='account_id' required>
                    <option value="">{$lang.select_please}</option>
                    {foreach from=$pay_methods item=method}
                    <option data-b="{$method.bank_id}" value="{$method.account_id}">{$method.account_name}</p>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="ln_solid"></div>
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <input class="btn btn-primary" type='submit'>
            </div>
        </div>

        <input type='hidden' name='act' value='upload'>
        <input type="hidden" name="bank_id" value="0">
    </form>
</div>
{elseif $act eq 'matched'}
<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form method="post" class="form-inline" name="matched_filter_form">
        戶口
        <select name='account_id'>
            <option value="">{$lang.select_please}</option>
            {foreach from=$pay_methods item=method}
            <option data-b="{$method.bank_id}" value="{$method.account_id}" {if $filter.account_id eq $method.account_id}selected{/if}>{$method.account_name}</p>
            {/foreach}
        </select>
        開始日期
        <input name="start_date" type="text" id="start_date" size="12" value='{$filter.start_date}' class="form-control" data-type="date" />
        結束日期
        <input name="end_date" type="text" id="end_date" size="12" value='{$filter.end_date}' data-type="date" class="form-control" />
        交易編號
        <input type="text" name="transaction_code" id="transaction_code" class="form-control" value="{$filter.transaction_code}"/>
        <input type='checkbox' name='not_match' value='1' class="flat" {if $filter.not_match}checked="checked"{/if}> 顯示不匹配
        <input type='hidden' name='act' value='matched'>
        <input class="btn btn-success form-btn" id="matched_filter_form_submit_btn" type='submit'>
    </form>
</div>
<div class="list-div">
    <table class="table jambo_table table-striped table-bordered bulk_action" id="match">
        <thead>
            <tr>
                <th rowspan="2"></th>
                <th colspan="5">會計紀錄</th>
                <th colspan="4">銀行紀錄</th>
                <th rowspan="2">差額</th>
            </tr>
            <tr>
                <th>交易編號</th>
                <th>交易日期</th>
                <th>戶口</th>
                <th width="350px">備註</th>
                <!-- <th>分類</th> -->
                <th>金額</th>
                <th>交易編號</th>
                <th>交易日期</th>
                <th width="350px">備註</th>
                <th>金額</th>
            </tr>
        </thead>
        {foreach from=$txns item=txn}
        <tr>
            <td {if $txn.count gt 1}rowspan="{$txn.count}"{/if}><input name="txn_group_select" class="flat" data-txn-group-id="{$txn.bank_rec[0].txn_group_id}" type="checkbox"></td>
            <td {if $txn.count gt 1}rowspan="{$txn.count}"{/if}>
                {foreach from=$txn.txns item=group_txn}<span class='rec'>{$group_txn.txn_id}</span>{/foreach}
                {foreach from=$txn.actg_txns item=group_txn}<span class='rec'>{$group_txn.txn_id}</span>{/foreach}
            </td>
            <td {if $txn.count gt 1}rowspan="{$txn.count}"{/if}>
                {foreach from=$txn.txns item=group_txn}<span class='rec'>{$group_txn.formatted_txn_date}</span>{/foreach}
                {foreach from=$txn.actg_txns item=group_txn}<span class='rec'>{$group_txn.formatted_txn_date}</span>{/foreach}
            </td>
            <td {if $txn.count gt 1}rowspan="{$txn.count}"{/if}>
                <span class='rec'>{$txn.account_name}</span>
            </td>
            <td {if $txn.count gt 1}rowspan="{$txn.count}"{/if}>
                {foreach from=$txn.txns item=group_txn}<span class='rec'>{$group_txn.t_remark}</span>{/foreach}
                {foreach from=$txn.actg_txns item=group_txn}<span class='rec'>{$group_txn.t_remark}</span>{/foreach}
            </td>
            <!-- <td {if $txn.count gt 1}rowspan="{$txn.count}"{/if}>
                <span class='rec'>{$txn.payment_type_name}</span>{foreach from=$txn.group_txns.txns item=group_txn}<span class='rec'>{$group_txn.payment_type_name}</span>{/foreach}
            </td> -->
            <td {if $txn.count gt 1}rowspan="{$txn.count}"{/if}>
                {foreach from=$txn.txns item=group_txn}<span class='rec'>{$group_txn.formatted_t_amount}</span>{/foreach}
                {foreach from=$txn.actg_txns item=group_txn}<span class='rec'>{$group_txn.formatted_t_amount}</span>{/foreach}
                <span class='rec'>{$txn.formatted_t_amount}</span>
            </td>
            <td>{$txn.bank_rec[0].rec_id}</td>
            <td>{$txn.bank_rec[0].formatted_bank_date}</td>
            <td>{$txn.bank_rec[0].b_remark}</td>
            <td>{$txn.bank_rec[0].formatted_b_amount}</td>
            <td {if $txn.diff gt 0} style="color:red;"{/if} {if $txn.count gt 1}rowspan="{$txn.count}"{/if}>HK$ {$txn.diff}</td>
        </tr>
        {if $txn.count gt 1}
        {foreach from=$txn.bank_rec item=rec key=key}
        {if $key neq 0}
        <tr>
            <td>{$rec.rec_id}</td>
            <td>{$rec.formatted_bank_date}</td>
            <td>{$rec.b_remark}</td>
            <td>{$rec.formatted_b_amount}</td>
        </tr>
        {/if}
        {/foreach}
        {/if}
        {foreachelse}
        <tr>
            <td colspan="12">{$lang.no_records}</td>
        </tr>
        {/foreach}
    </table>
    <div>
        <button class="btn btn-default" id="export_reconciliation_btn">匯出紀錄</button>
    </div>
</div>
<div id="batchHandler"></div>
{elseif $act eq 'match'}
<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form method="post" class="form-inline">
        戶口
        <select name='account_id' class="form-control">
            <option value="">{$lang.select_please}</option>
            {foreach from=$pay_methods item=method}
            <option data-b="{$method.bank_id}" value="{$method.account_id}" {if $account_id eq $method.account_id}selected{/if}>{$method.account_name}</p>
            {/foreach}
        </select>
        <input type='hidden' name='act' value='match'>
        <label>
            <input type="checkbox" name="unmatched_item_only" {if $unmatched_item_only}checked{/if}>未確認紀錄
        </label>
        <input class="btn btn-success form-btn" type='submit'>
    </form>
</div>
{if $account_id}
<div class="list-div">
    <table id="match" class="table table-striped jambo_table">
        <thead>
            <tr>
                <th colspan="5">會計紀錄</th>
                <th rowspan="2" colspan="2">操作</th>
                <th colspan="4">銀行紀錄</th>
            </tr>
            <tr>
                <th></th>
                <th>交易編號</th>
                <th>交易日期</th>
                <th width="350px">備註</th>
                <!-- <th>分類</th> -->
                <th>金額</th>
                <th>交易編號</th>
                <th>交易日期</th>
                <th>備註</th>
                <th>金額</th>
            </tr>
        </thead>
        {if !$unmatched_item_only}
        {foreach from=$result_txns item=txn}
        <tr>
            <td><input type="checkbox" class="combine flat" data-t="{$txn.formatted_txn_id}" data-a="{if $txn.temp_sum}{$txn.temp_sum}{else}{$txn.amount}{/if}" {if $txn.temp_ids}data-tid="{$txn.temp_ids}"{/if}></td>
            <td><span class='rec'>{$txn.formatted_txn_id}</span>{foreach from=$txn.group_txns.txns item=group_txn}<span class='rec'>{$group_txn.formatted_txn_id}</span>{/foreach}</td>
            <td><span class='rec'>{$txn.formatted_date}</span>{foreach from=$txn.group_txns.txns item=group_txn}<span class='rec'>{$group_txn.formatted_date}</span>{/foreach}</td>
            <td><span class='rec'>{$txn.remark}</span>{foreach from=$txn.group_txns.txns item=group_txn}<span class='rec'>{$group_txn.remark}</span>{/foreach}</td>
            <!-- <td><span class='rec'>{$txn.payment_type_name}</span>{foreach from=$txn.group_txns.txns item=group_txn}<span class='rec'>{$group_txn.payment_type_name}</span>{/foreach}</td> -->
            <td><span class='rec'>{$txn.formatted_amount}</span>{foreach from=$txn.group_txns.txns item=group_txn}<span class='rec'>{$group_txn.formatted_amount}</span>{/foreach}</td>
            {if $txn.bank_rec}
                <td>
                    <input type="button" class="btn btn-sm btn-info change_ac" data-t="{$txn.formatted_txn_id}" data-a="{$txn.account_id}" value="轉移" {if $txn.temp_ids}data-tid="{$txn.temp_ids}"{/if}>
                </td>
                <td>
                    <input type="button" id="but2_{$txn.formatted_txn_id}" class="btn btn-sm btn-primary select" data-t="{$txn.formatted_txn_id}" data-b="0" data-a="{if $txn.temp_sum}{$txn.temp_sum}{elseif $txn.actg_txn_id}{$txn.exchanged_amount}{else}{$txn.amount}{/if}" value="選擇" style="display: none">
                    <input type="button" id="but_{$txn.formatted_txn_id}" class="btn btn-sm btn-success confirm" value="確認" data-t="{$txn.formatted_txn_id}" data-b="{$txn.bank_rec.rec_id}">
                    <input type="button" id="can_but_{$txn.formatted_txn_id}"class="btn btn-sm btn-danger cancel" value="取消" data-t="{$txn.formatted_txn_id}" data-b="{$txn.bank_rec.rec_id}" data-a="{$txn.bank_rec.amount}" data-fa="{$txn.bank_rec.formatted_amount}" data-fd="{$txn.bank_rec.formatted_date}" data-r="{$txn.bank_rec.remark}">
                </td>
                <td>{$txn.bank_rec.rec_id}</td>
                <td>{$txn.bank_rec.formatted_date}</td>
                <td>{$txn.bank_rec.remark}</td>
                <td>{$txn.bank_rec.formatted_amount} <i class="btn btn-sm glyphicon glyphicon-search fa fa-search getTxn" data-a="{$txn.bank_rec.amount}" data-d="{$txn.bank_rec.formatted_date}"></i></td>
            {else}
                <td width="80px">
                    <input type="button" class="btn btn-sm btn-info change_ac" data-t="{$txn.formatted_txn_id}" data-a="{$txn.account_id}" value="轉移" {if $txn.temp_ids}data-tid="{$txn.temp_ids}"{/if}>
                </td>
                <td width="150px">
                    <input type="button" id="but2_{$txn.formatted_txn_id}" class="btn btn-sm btn-primary select" data-t="{$txn.formatted_txn_id}" data-b="0" data-a="{if $txn.temp_sum}{$txn.temp_sum}{else}{$txn.amount}{/if}" value="選擇">
                    <input type="button" id="but_{$txn.formatted_txn_id}" class="btn btn-sm btn-success confirm" value="確認" data-t="{$txn.formatted_txn_id}" data-b="0" style="display: none">
                </td>
                <td id="td_{$txn.formatted_txn_id}" colspan="4" style="text-align: center;" class="locked">{$lang.no_records}</td>
            {/if}
        </tr>
        {foreachelse}
        <tr>
            <td colspan="7">{$lang.no_records}</td>
            <td colspan="4" class="locked"></td>
        </tr>
        {/foreach}
        {/if}
        {foreach from=$banks item=bank}
        <tr id="tr_{$bank.rec_id}">
            <td colspan="7"></td>
            <td>{$bank.rec_id}</td>
            <td>{$bank.formatted_date}</td>
            <td>{$bank.remark}</td>
            <td>{$bank.formatted_amount} <i class="btn btn-sm glyphicon glyphicon-search fa fa-search getTxn" data-a="{$bank.amount}" data-d="{$bank.formatted_date}"></i></td>
        </tr>
        {/foreach}
    </table>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="change_ac_dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    轉移交易帳戶
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="select_dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    連結交易紀錄
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button></div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="get_txn_dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    相關交易紀錄
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</div>
{/if}
<footer class="page-footer font-small pt-4 mt-4">
    <div class="container-fluid text-center text-md-left" id="botBar"></div>
</footer>
{/if}
{if $full_page}
</div>
{include file="pagefooter.htm"}

<script>
    {literal}
{if $act eq 'list' || $act eq 'query'}
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{/if}

{if $act eq 'match'}
var account_name = "{foreach from=$pay_methods item=method}{if $account_id eq $method.account_id}{$method.account_name}{/if}{/foreach}";
var rec_ids = {$banks|json_encode};
var txns = {$result_txns|json_encode};
var accounts = {$accounts|json_encode};
var total = 0;
rec_ids = rec_ids ? rec_ids : [];
{/if}

function searchRecord(){
    listTable.filter['account_id'] = $('select[name=account_id]').val();
    listTable.filter['start_date'] = $('input[name=start_date]').val();
    listTable.filter['remark'] = $('input[name=remark]').val();
    listTable.loadList();
}

$(function(){
    $(document).on('mouseover', '.fixed', function(e){
        $(e.target).css('background-color', '#ddd');
    }).on('mouseout', '.fixed', function(e){
        $(e.target).css('background-color', '#ddd');
    });
    $(document).on('click', 'span.fa-check.green', function(e){
        let txn_group_id  =$(e.target).data('t')
        if (txn_group_id) {
            $.ajax({
                url: 'bank_reconciliation.php',
                dataType: 'json',
                data: {
                    act: 'searchGroup',
                    txn_group_id: txn_group_id,
                }, success: function(res) {
                    if ('txn_rec' in res.content) {
                        if (res.content.txn_rec.length != 0) {
                            $html = $("<div class='searchGroup row'></div>");
                            $bank = $("<div class='col-md-12'></div>");
                            $txn = $("<div class='col-md-12'></div>");
                            $bank.append("<div class='row'>" +
                                "<div class='col-md-2 title'>銀行編號</div>" +
                                "<div class='col-md-2 title'>銀行日期</div>" +
                                "<div class='col-md-6 title'>備註</div>" +
                                "<div class='col-md-2 title'>金額</div>" +
                            "</div>")
                            $.each(res.content.bank_rec, function (i, v) {
                                $bank.append("<div class='row'>" +
                                                "<div class='col-md-2'>" + v.rec_id + "</div>" +
                                                "<div class='col-md-2'>" + v.formatted_date + "</div>" +
                                                "<div class='col-md-6'>" + v.remark + "</div>" +
                                                "<div class='col-md-2'>" + v.amount + "</div>" +
                                            "</div>")
                            })
                            $txn.append("<br><div class='row'>" +
                                "<div class='col-md-2 title'>交易編號</div>" +
                                "<div class='col-md-2 title'>交易日期</div>" +
                                "<div class='col-md-6 title'>備註</div>" +
                                "<div class='col-md-2 title'>金額</div>" +
                            "</div>")
                            $.each(res.content.txn_rec, function (i, v) {
                                $txn.append("<div class='row'>" +
                                                "<div class='col-md-2'>" + v.formatted_txn_id + "</div>" +
                                                "<div class='col-md-2'>" + v.formatted_date + "</div>" +
                                                "<div class='col-md-6'>" + v.remark + "</div>" +
                                                "<div class='col-md-2'>" + v.amount + "</div>" +
                                            "</div>")
                            })
                            $html.append($bank);
                            $html.append($txn);
                            $popup = modal.create("對數紀錄", $html, false, "lg");
                            modal.show($popup);
                        } else {
                            alert("沒有交易紀錄")
                        }
                    } else {
                        alert("沒有交易紀錄")
                    }
                }
            })
        }
    })
    $(document).on('change', 'select[name=account_id]', function(e){
        $('input[name=bank_id]').val($(e.target).find(':selected').data('b'))
    })
    $(document).on('click', 'input.select', function(e){
        var t = $(e.target).data('t');
        var am = parseFloat($(e.target).data('a'));
        var matchPanel = "<div>";
        matchPanel += "<div style='text-align: center'><h3>會計紀碌</h3><div class='list-div' style='overflow-y: scroll; max-height: 150px'><table class='table table-striped jambo_table'><tr><th>交易編號</th><th>交易日期</th><th>備註</th><th>金額</th></tr><tr>";
        var matchTxn = "";
        for(var i = 0; i < txns.length; i++){
            if(txns[i].txn_id == t){
                matchTxn = "<td style='text-align: center'>" + txns[i].txn_id + "</td><td style='text-align: center'>" + txns[i].formatted_date + "</td><td style='text-align: center'>" + txns[i].remark + "</td><td style='text-align: center'>" + txns[i].formatted_amount + "</td>";
                if(typeof txns[i].group_txns !== 'undefined'){
                    for(var j = 0; j < txns[i].group_txns.txns.length; j++){
                        matchTxn += "</tr><tr><td style='text-align: center'>" + txns[i].group_txns.txns[j].txn_id + "</td><td style='text-align: center'>" + txns[i].group_txns.txns[j].formatted_date + "</td><td style='text-align: center'>" + txns[i].group_txns.txns[j].remark + "</td><td style='text-align: center'>" + txns[i].group_txns.txns[j].formatted_amount + "</td>"
                    }
                }
            }
        }
        if(matchTxn == ""){
            matchTxn = "<td style='text-align: center' colspan='4'>{$lang.no_records}</td>";
        }
        matchPanel += matchTxn + "</tr></table></div>";
        var matchBank = "<h3>銀行紀錄</h3><div class='list-div' style='overflow-y: scroll; max-height: 280px'><table class='table table-striped jambo_table'><th></th><th>交易編號</th><th>交易日期</th><th>備註</th><th>金額</th></tr>";
        matchBank += rec_ids.length > 0 ? rec_ids.sort((a,b)=>am == a.amount ? -1 : am == b.amount ? 1 : b.amount - a.amount).reduce((p,c)=>p += "<tr><td><input type='checkbox' class='flat' name='rec_id' value='" + c.rec_id + "' data-am='" + c.amount + "'></td><td style='text-align: center'>" + c.rec_id + "</td><td style='text-align: center'>" + c.formatted_date + "</td><td style='text-align: center'>" + c.remark + "</td><td style='text-align: center'>" + (am == c.amount ? "<span style='color:red'>" + c.formatted_amount + "</span>" : c.formatted_amount) + "</td></tr>", "") : "<tr><td style='text-align: center' colspan='5'>{$lang.no_records}</td></tr>";
        matchPanel += matchBank + "</table></div>";
        matchPanel += "<br><br><p><input type='button' class='btn btn-success confirm2' value='確認'><input type='button' class='btn btn-danger cancel2' value='取消'></p><p id='selRemark'></p></div>";
        $('#select_dialog').find('.modal-body').html(matchPanel);
        $('input.cancel2').click(function(){
            total = 0;
            $('#select_dialog').modal('hide');
        })
        $('input.confirm2').click(function(){
            if(total == 0){
                alert('選擇要連結的銀行紀錄');
            }else if(total == am || confirm("所選金額 ($" + total.toFixed(2) + ") 與 交易金額 ($" + am.toFixed(2) + ") 不符，你確定要繼續嗎？")){
                $('#but_' + t).click();
                if($('#but_' + t).data('b')){
                    $('#select_dialog').modal('hide');
                }
                total = 0;
            }
        })
        $('input[name=rec_id]').on('ifChanged', function(e){
            var id = [];
            total = 0;
            $.each($('input[name=rec_id]:checked'), function(){
                id.push($(this).val());
                total += Number($(this).data('am'));
            })
            $('#selRemark').html("(已選擇 <span style='color:green'>" + total.toFixed(2) + "</span> 餘 <span style='color:red'>" + (am - total).toFixed(2) + "</span>)");
            $('#but_' + t).data('b', id.join(','));
        })
        turn_on_icheck();
        $('#select_dialog').modal('show');
    })
    $(document).on('click', '.getTxn', function(e){
        var amount = $(e.target).data('a');
        var date = $(e.target).data('d');
        if(parseFloat(amount)){
            $.ajax({
                url: 'bank_reconciliation.php',
                method: 'post',
                dataType: "json",
                data: {
                    act: 'suggest2',
                    amount: parseFloat(amount),
                    date: date,
                    account_id: $('select[name=account_id]').val()
                },
                success: function(res){
                    $table = $("<table class='table table-striped jambo_table'><tr><th>戶口</th><th>交易編號</th><th>交易日期</th><th>金額</th></tr></table>");
                    $div = $("<div class='list-div' style='overflow-y: scroll; max-height: 300px; margin-top: 10px;'></div>");
                    res.content[0].map((v)=>$table.append(
                        "<tr>" +
                            "<td style='text-align: center'>" + v.account_name + "</td>" +
                            "<td style='text-align: center'>" + v.txn_id + "</td>" +
                            "<td style='text-align: center'>" + v.formatted_date + "</td>" +
                            "<td style='text-align: center'>" + v.formatted_amount + "</td>" +
                        "</tr>")
                    );
                    res.content[1].map((v)=>$table.append(
                        "<tr>" +
                            "<td style='text-align: center' rowspan='" + v.txns.length + "'>" + v.account_name + "</td>" +
                            "<td style='text-align: center'>" + v.txns[0].txn_id + "</td>" +
                            "<td style='text-align: center'>" + v.txns[0].formatted_date + "</td>" +
                            "<td style='text-align: center'>" + v.txns[0].formatted_amount + "</td>" +
                        "</tr>") +
                        v.txns.map((v2,i)=>$table.append(
                            i > 0
                            ? "<tr>" +
                                    "<td style='text-align: center'>" + v2.txn_id + "</td>" +
                                    "<td style='text-align: center'>" + v2.formatted_date + "</td>" +
                                    "<td style='text-align: center'>" + v2.formatted_amount + "</td>" +
                                "</tr>"
                            : ""
                        ))
                    );
                    $table.append(res.content[0].length == 0 && res.content[1].length == 0 ? "<tr><td style='text-align: center' colspan='4'>{$lang.no_records}</td></tr>" : "");
                    $table2 = $("<table class='table table-striped jambo_table'><tr><th>戶口</th><th>會計編號</th><th>交易日期</th><th>金額</th></tr></table>");
                    res.content[2].map((v)=>$table2.append(
                        "<tr>" +
                            "<td style='text-align: center'>" + v.account_name + "</td>" +
                            "<td style='text-align: center'>" + v.actg_txn_id + "</td>" +
                            "<td style='text-align: center'>" + v.formatted_date + "</td>" +
                            "<td style='text-align: center'>" + v.formatted_amount + "</td>" +
                        "</tr>")
                    );
                    res.content[3].map((v)=>$table2.append(
                        "<tr>" +
                            "<td style='text-align: center' rowspan='" + v.txns.length + "'>" + v.account_name + "</td>" +
                            "<td style='text-align: center'>" + v.txns[0].actg_txn_id + "</td>" +
                            "<td style='text-align: center'>" + v.txns[0].formatted_date + "</td>" +
                            "<td style='text-align: center'>" + v.txns[0].formatted_amount + "</td>" +
                        "</tr>") +
                        v.txns.map((v2,i)=>$table2.append(
                            i > 0
                            ? "<tr>" +
                                    "<td style='text-align: center'>" + v2.actg_txn_id + "</td>" +
                                    "<td style='text-align: center'>" + v2.formatted_date + "</td>" +
                                    "<td style='text-align: center'>" + v2.formatted_amount + "</td>" +
                                "</tr>"
                            : ""
                        ))
                    );
                    $table2.append(res.content[2].length == 0 && res.content[3].length == 0 ? "<tr><td style='text-align: center' colspan='4'>{$lang.no_records}</td></tr>" : "");
                    $div.append($table);
                    $div.append($table2);
                    $('#get_txn_dialog').find('.modal-body').html($div);
                    $('#get_txn_dialog').modal('show');
                }
            })
        }
    })
    $(document).on('click', '.confirm', function(e){
        var t = $(e.target).data('t');
        var b = $(e.target).data('b');
        if(b){
            $.ajax({
                url: 'bank_reconciliation.php',
                method: 'post',
                dataType: "json",
                data: {
                    act: 'link',
                    txn_id: t,
                    rec_id: b
                },
                success: function(){
                    var b_all = b.toString().split(',');
                    var index = [];
                    $(e.target).parents('tr').children('td').attr('rowspan', b_all.length);
                    for(var i = 0; i < rec_ids.length; i++){
                        if(rec_ids[i].rec_id == b_all[0]){
                            $('#tr_' + b_all[0]).find('img').remove();
                            $('#td_' + t).replaceWith($('#tr_' + b_all[0]).html().replace(/<td colspan="7"><\/td>/g, ''));
                            $('#tr_' + b_all[0]).remove();
                            index.push(i);
                        }else if(b_all.indexOf(rec_ids[i].rec_id.toString()) != -1){
                            $('#tr_' + rec_ids[i].rec_id).find('img').remove();
                            $('<tr class="finish">' + $('#tr_' + rec_ids[i].rec_id).html().replace(/<td colspan="7"><\/td>/g, '') + '</tr>').insertAfter($(e.target).parents('tr'))
                            $('#tr_' + rec_ids[i].rec_id).remove();
                            index.push(i);
                        }
                    }
                    index.sort().map((v,i)=>rec_ids.splice(i > 0 ? v - i : v, 1));
                    $(e.target).parents('tr').children('td').css('background', '#c0c0c0');
                    $(e.target).parents('tr').children('td').addClass('locked');
                    $(e.target).parents('tr').find('input[type=checkbox].combine').prop({
                        'disabled': true,
                        'checked': false
                    }).change();
                    $(e.target).parents('tr').find('img').remove();
                    $('.finish td').css('background', '#c0c0c0');
                    $(e.target).parents('tr').find('td:nth-child(6)').attr('colspan',2).html('已完成')
                    $(e.target).parents('tr').find('td:nth-child(7)').remove();
                }
            })
        }else{
            alert('未選擇交易編號')
        }
    })
    $(document).on('click', '.cancel', function(e){
        var t = $(e.target).data('t');
        var b = $(e.target).data('b');
        var a = $(e.target).data('a');
        var fd = $(e.target).data('fd');
        var r = $(e.target).data('r');
        var fa = $(e.target).data('fa');
        if(b){
            rec_ids.push({
                rec_id: b,
                formatted_date: fd,
                amount: a,
                formatted_amount: fa,
                remark: r,
            });
            $tr = '<tr id="tr_' + b + '"><td colspan="7"></td></tr>';
            $($(e.target).parents('table')).find("tbody").append($tr);
            $(e.target).parents('tbody').children("tr:last").append($(e.target).parents('tr').children('td:nth-child(n+8)'));
            $(e.target).parents('tr').append('<td id="td_' + t + '" colspan="4">{$lang.no_records}</td>');
            $(e.target).parents('tr').children('td:nth-child(8)').addClass('locked');
        }
        $('#but_' + t).data('b',0);
        $('#but_' + t).hide();
        $('#but2_' + t).show();
        $(e.target).hide();
    })
    $(document).on('click', '.change_ac', function(e){
        var a = $(e.target).data('a');
        var t = $(e.target).data('tid') ? $(e.target).data('tid') : $(e.target).data('t');

        $.ajax({
            url: 'bank_reconciliation.php',
            method: 'post',
            dataType: 'json',
            data: {
                act: 'suggest',
                txn_id: t,
                account_id: a
            },
            success: function(res){
                if (res.error == '1') {
                    alert(res.message)
                } else {
                var change_panel = "<div style='text-align: center'><h3>其他戶口紀錄</h3><div class='list-div' style='overflow-x: hidden; max-height: 200px'><table class='table table-striped jambo_table'><tr><th>戶口</th><th>交易編號</th><th>交易日期</th><th>備註</th><th>金額</th></tr>";
                change_panel += res.content.length > 0 ? res.content.reduce((p,c)=>p+="<tr><td style='text-align: center'>"+c.account_name+"</td><td style='text-align: center'>"+c.rec_id+"</td><td style='text-align: center'>"+c.formatted_date+"</td><td style='text-align: center'>"+c.remark+"</td><td style='text-align: center'>"+c.formatted_amount+"</td></tr>","") : "<tr><td style='text-align: center' colspan='10'>{$lang.no_records}</td></tr>";
                change_panel += "</table></div></div><br><div style='text-align: center;margin-bottom: 30px;'><h3>轉移交易</h3>";console.log(accounts,a);
                change_panel += accounts.reduce((p,c)=>p += c.account_id != a ? '<option value="' + c.account_id + '"' + (res.content.length > 0 && res.content[0].account_id == c.account_id ? 'selected' : '') + '>' + c.account_name + '</option>' : '','轉移至 <select name="new_account_id" style="width: 200px;">') + '</select>';
                change_panel += "<br><br><p><input type='button' class='btn btn-success confirm3' data-c='0' value='確認'><input type='button' class='btn btn-danger cancel3' value='取消'></p></div>";
                $('#change_ac_dialog').find('div.modal-body').html(change_panel);
                $('#change_ac_dialog').modal('show');
                $('input.confirm3').click(function(e){
                    if($(e.target).data('c') || confirm('是否將交易從 ' + account_name + ' 轉移至 ' + $('select[name=new_account_id]').find(':selected').text() + ' ？')){
                        $.ajax({
                            url: 'bank_reconciliation.php',
                            dataType: 'json',
                            method: 'post',
                            data: {
                                act: 'change_account',
                                txn_id: t,
                                new_account_id: $('select[name=new_account_id]').val(),
                                confirm: $(e.target).data('c')
                            },
                            success: function(res){
                                if(res.error == 0){
                                    $('#change_ac_dialog').modal('hide');
                                    $('#can_but_' + t).click();
                                    $('#but2_' + t).parents('tr').children('td').css('background', '#c0c0c0').addClass('locked').html('&nbsp;');
                                }else{
                                    if(res.message == 'confirm'){
                                        if(confirm("你是否轉移此合併之交易？")){
                                            $(e.target).data('c', 1);
                                            $(e.target).click();
                                        }
                                    }else{
                                        alert(res.message);
                                    }
                                }
                            }
                        })
                    }
                })
                $('input.cancel3').click(function(){
                    $('#change_ac_dialog').modal('hide');
                })
            }
            }
        })
    })
    $(document).on('ifChanged', '.combine', function(){
        if($('.combine').get().reduce((p,c)=>p=p||$(c).prop('checked'),false) && $('.combine:checked').length >= 2){
            var sum = $('.combine:checked').get().reduce((p,c)=>p+=parseFloat($(c).data('a')),0);
            var match_sum = rec_ids.filter((v)=>v.amount==sum).length;
            var label = ['primary', 'success', 'info', 'warning', 'danger']
            var html = $('.combine:checked').get().reduce((p,c,i)=>p+="<span class='label label-" + label[i % label.length] + "'>"+($(c).data('tid') ? $(c).data('tid') : $(c).data('t'))+"</span>","<div class='row' style='margin-top: 3px'><div class='col-md-1' style='margin-top: 15px;'>已選擇：</div><div id='selTxn' class='col-md-9' style='height: 50px; overflow-y: scroll'>")
            html += '</div><div class="col-md-2" style="margin-top: 10px;">';
            html += "<div style='font-size: 14px; font-weight: bold; text-align: right;'>共： $" + sum.toFixed(2) + "<span style='margin-left:10px;color:#c00'>(" + (match_sum > 0 ? "找到 " + match_sum + " 個紀錄" : "沒有紀錄") + ")</span><input type='button' class='btn-sm btn-success' id='combine' value='合併' style='margin-left: 15px;'></div></div>";
            $('#botBar').html(html);
            $('#botBar').fadeIn('fast');
        }else{
            $('#botBar').fadeOut('fast');
        }
    })
    $(document).on('click', '#combine', function(){
        if(confirm('確定合併選取的交易 ($' + $('.combine:checked').get().reduce((p,c)=>p+=parseFloat($(c).data('a')),0).toFixed(2) + ') ？')){
            var temp_txn = [];
            $('.combine:checked').get().map((v)=>temp_txn.push($(v).data('t')));
            $.ajax({
                url: 'bank_reconciliation.php',
                method: 'post',
                dataType: 'json',
                data: {
                    act: 'merge',
                    txn_ids: temp_txn.join(',')
                },
                success: function(res){
                    if(res.error == 0){
                        $('.combine:checked').get().map((v)=>($('#can_but_' + $(v).data('t')).click(),$(v).parents('tr').children('td').html('&nbsp;').css('background','#c0c0c0')));
                        $('#botBar').fadeOut('fast');
                    }else{
                        alert(res.message);
                    }
                }
            })
        }
    })
    $(document).on('ifChanged', 'input[name=txn_group_select]', function (e) {
        var txn_group_ids = [];
        $.each($("input[name=txn_group_select]:checked"), function (index, select) {
            txn_group_ids.push($(select).data('txn-group-id'));
        }); 
        $("#batchHandler").hide();
        if (txn_group_ids.length > 0) {
            var html = "<div class='col-md-2 pull-right' style='padding: 0;'>" +
                            "<button type='button' id='batchPost' class='btn btn-danger pull-right' style='margin-right:0;' data-ids='" + txn_group_ids.sort((a,b)=>a-b).join(",") + "'>Unbind</button>"
                        "</div>";
            $("#batchHandler").html(html);
            $("#batchHandler").show();
        }
    })
    $(document).on('click', '#batchPost', function(e) {
        var ids = $(e.target).data(ids);
        if (confirm("Confirm to unbind selected entries? \n")) {
            $.ajax({
                url: 'bank_reconciliation.php',
                dataType: 'json',
                data: {
                    act: 'unbind',
                    ids: $("#batchPost").data('ids'),
                },
                success: function (res) {
                    $('input[name=txn_group_select]').iCheck('uncheck');
                    if (res.error == '0') {
                        $(document).find('form').submit();
                    } else {
                        alert('Error rejecting entries. \n' + res.message)
                    }
                }
            })
        }
    })
    $(document).on('click', '#export_reconciliation_btn', function(e){
        e.preventDefault();
        let filterForm = $('form[name="matched_filter_form"]');
        filterForm.find('input[name="act"]').val('matched_report_export');
        filterForm.submit();
    });
    $(document).on('click', '#matched_filter_form_submit_btn', function(e){
        e.preventDefault();
        let filterForm = $('form[name="matched_filter_form"]');
        filterForm.find('input[name="act"]').val('matched');
        filterForm.submit();
    });
})
    {/literal}
</script>
{/if}