<!-- $Id: batch_card_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}

<div class=" x_panel">
<form method="post" action="virtual_card.php" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">{$lang.separator}</td>
    <td><input type="text" name="separator" maxlength="60" size="6" value="," />{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">{$lang.uploadfile}</td>
    <td><input type="file" name="uploadfile" maxlength="60" size="40" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><br />
      <input type="submit" class="btn btn-primary" value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="batch_confirm" />
      <input type="hidden" name="goods_id" value="{$goods_id}" />
    </td>
  </tr>
</table>

</form>
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td>&nbsp;</td>
    <td width="80%">{$lang.use_help}</td>
    <td>&nbsp;</td>
  </tr>
</table>

</div>

<script language="javascript" src="js/validator.js"></script>
<script language="JavaScript">
<!--
{literal}
document.forms['theForm'].elements['separator'].focus();

onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

/**
 * 检查表单输入的数据
 */
function validate()
{
  validator = new Validator("theForm");
  validator.required("separator",  separator_not_null);
  validator.required("uploadfile", uploadfile_not_null);
  return validator.passed();
}
//-->
{/literal}
</script>
{include file="pagefooter.htm"}