<!-- $Id: bonus_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<form method="POST" action="bonus.php?act=batch&bonus_type={$smarty.get.bonus_type}" name="listForm">
<!-- start user_bonus list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

  <table id="#" class="table table-striped table-bordered bulk_action ">
    <tr>
      <th>
        <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
        <a href="javascript:listTable.sort('bonus_id'); ">{$lang.record_id}</a>{$sort_bonus_id}</th>
      {if $show_bonus_sn}
      <th><a href="javascript:listTable.sort('bonus_sn'); ">{$lang.bonus_sn}</a>{$sort_bonus_sn}</th>
      {/if}
      <th><a href="javascript:listTable.sort('type_name'); ">{$lang.bonus_type}</a>{$sort_type_name}</th>
      <th><a href="javascript:listTable.sort('order_id'); ">{$lang.order_id}</a>{$sort_order_id}</th>
      <th><a href="javascript:listTable.sort('user_id'); ">{$lang.user_id}</a>{$sort_user_id}</th>
      <th><a href="javascript:listTable.sort('used_time'); ">{$lang.used_time}</a>{$sort_use_time}{$sort_used_time}</th>
      {if $show_mail}
      <th><a href="javascript:listTable.sort('emailed'); ">{$lang.emailed}</a>{$sort_emailed}{$sort_emailed}</th>
      {/if}
      <th>{$lang.handler}</th>
    </tr>
    {foreach from=$bonus_list item=bonus}
    <tr>
      <td><span><input value="{$bonus.bonus_id}" name="checkboxes[]" type="checkbox">{$bonus.bonus_id}</span></td>
      {if $show_bonus_sn}
      <td>{$bonus.bonus_sn}</td>
      {/if}
      <td>{$bonus.type_name}</td>
      <td>{$bonus.order_sn}</td>
      <td>{if $bonus.email}<a href="mailto:{$bonus.email}">{$bonus.user_name}</a>{else}{$bonus.user_name}{/if}</td>
      <td align="right">{$bonus.used_time}</td>
      {if $show_mail}
      <td align="center">{$bonus.emailed}</td>
      {/if}
      <td align="center">
        <a href="javascript:;" onclick="listTable.remove({$bonus.bonus_id}, '{$lang.drop_confirm}', 'remove_bonus')">{$lang.remove}</a>
        {if $show_mail and $bonus.order_id eq 0 and $bonus.email}<a href="bonus.php?act=send_mail&bonus_id={$bonus.bonus_id}">{$lang.send_mail}</a>{/if}</td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="11">{$lang.no_records}</td></tr>
    {/foreach}
  </table>

  <table cellpadding="4" cellspacing="0">
    <tr>
      <td><input type="submit" name="drop" id="btnSubmit" value="{$lang.drop}" class="btn btn-primary" disabled="true" />
      {if $show_mail}<input type="submit" name="mail" id="btnSubmit1" value="{$lang.send_mail}" class="btn btn-primary" disabled="true" />{/if}</td>
      <td align="right">{include file="page.htm"}</td>
    </tr>
  </table>

{if $full_page}
</div>
<!-- end user_bonus list -->
</form>

<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  listTable.query = "query_bonus";

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
    document.forms['listForm'].reset();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}