<!-- $Id: bonus_by_print.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class=" x_panel">
<form action="bonus.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<table width="100%">
  <tr>
    <td class="label">{$lang.bonus_type_id}</td>
    <td>
    <select name="bonus_type_id">
      {html_options options=$type_list selected=$smarty.get.id}
    </select>
    </td>
  </tr>
   <tr>
      <td class="label">{$lang.send_bonus_count}</td>
      <td>
      <input type="text" name="bonus_sum" size="30" maxlength="6" />
      </td>
    </tr>
    <td class="label">&nbsp;</td>
    <td>{$lang.bonus_sn_notic}</td>
   </tr>
   <tr>
   <td class="label">&nbsp;</td>
   <td>
    <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
    <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
  </td>
 </tr>
</table>
<input type="hidden" name="act" value="send_by_print" />
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['bonus_sum'].focus();
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("bonus_type_id",   bonus_type_empty);
    validator.required("bonus_sum",   bonus_sum_empty);
    validator.isNumber("bonus_sum",   bonus_sum_number, true);
    return validator.passed();
}

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}