<!-- $Id: booking_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="javascript:searchGoodsname()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    {$lang.goods_name} <input type="text" name="keyword" /> <input type="submit" value="{$lang.button_search}" class="btn btn-primary" />
  </form>
</div>

<form method="POST" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

  <table id="#" class="table table-striped table-bordered bulk_action ">
    <tr>
      <th><a href="javascript:listTable.sort('rec_id'); ">{$lang.record_id}</a>{$sort_rec_id}</th>
      <th><a href="javascript:listTable.sort('link_man'); ">{$lang.link_man}</a>{$sort_link_man}</th>
      <th><a href="javascript:listTable.sort('goods_name'); ">{$lang.goods_name}</a>{$sort_goods_name}</th>
      <th><a href="javascript:listTable.sort('goods_number'); ">{$lang.number}</a>{$sort_goods_number}</th>
      <th><a href="javascript:listTable.sort('booking_time'); ">{$lang.booking_time}</a>{$sort_booking_time}</th>
      <th><a href="javascript:listTable.sort('is_dispose'); ">{$lang.is_dispose}</a>{$sort_is_dispose}</th>
      <th>{$lang.handler}</th>
    </tr>
    {foreach from=$booking_list item=booking}
    <tr>
      <td>{$booking.rec_id}</td>
      <td>{$booking.link_man}</td>
      <td><a href="../goods.php?id={$booking.goods_id}" target="_blank" title="{$lang.view}">{$booking.goods_name}</a></td>
      <td align="right">{$booking.goods_number}</td>
      <td align="right">{$booking.booking_time}</td>
      <td align="center"><img src="images/{if $booking.is_dispose}yes{else}no{/if}.gif" /></td>
      <td align="center">
        <a href="?act=detail&amp;id={$booking.rec_id}" title="{$lang.detail}"><img src="images/icon_view.gif" border="0" height="16" width="16" /></a>
        <a href="javascript:;" onclick="listTable.remove({$booking.rec_id},'{$lang.drop_confirm}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
      </td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
  </table>

  <table cellpadding="4" cellspacing="0">
    <tr>
      <td align="right">{include file="page.htm"}</td>
    </tr>
  </table>

{if $full_page}
</div>
</form>

<script type="text/javascript" language="JavaScript">
<!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }

  /**
   * 搜索标题
   */
  function searchGoodsname()
  {
      var keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
      listTable.filter['keywords'] = keyword;
      listTable.filter['page'] = 1;
      listTable.loadList("get_bookinglist");
  }
  {/literal}
//-->
</script>
{include file="pagefooter.htm"}
{/if}