<!-- $Id: brand_list.htm 15898 2009-05-04 07:25:41Z liuhui $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
<!-- 品牌搜索 -->
{include file="brand_search.htm"}
<form method="post" action="" name="listForm">
<!-- start brand list -->

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
  <table class="table table-striped table-bordered" id="brand">
    <thead>
      <tr class="headings">
        <th data-id="brand_id" data-key="brand_id">ID</th>
        <th data-id="brand_name" data-edit="true">{$lang.brand_name}</th>
        <th data-id="has_logo" data-type="toggle">品牌logo</th>
        <th data-id="site_url">{$lang.site_url}</th>
        <th data-id="brand_desc">{$lang.brand_desc}</th>
        <th data-id="sort_order" data-edit="true">{$lang.sort_order}</th>
        <th data-id="is_show" data-type="toggle" data-edit="true">{$lang.is_show}</th>
        <th data-id="is_update" data-type="toggle" data-edit="true">{$lang.is_update}</th>
        <th data-id="only_market_invoice" data-type="toggle" data-edit="true">{$lang.only_market_invoice}</th>
        <th class="actionsCol" data-id="_action">{$lang.handler}</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<!-- end brand list -->
</div>
</form>
{include file="pagefooter.htm"}
<script type="text/javascript" language="javascript">
  <!--
  var $brandTable = yoho_dataTable();
  {literal}
  onload = function()
  {
      // 开始检查订单
      startCheckOrder();
  }
  {/literal}
  //-->
</script>