<!-- $Id: brand_search.htm 2009-05-04 liuhui $ -->
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="javascript:search_brand()" name="searchForm" class="form-inline">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    {$lang.keyword} <input class="form-control" type="text" name="brand_name" size="15" />
    <input type="submit" value="{$lang.button_search}" class="form-btn btn btn-success"/>
  </form>
</div>

<script language="JavaScript">
    function search_brand()
    {
        var $filter = {};
        $filter['brand_name'] = Utils.trim(document.forms['searchForm'].elements['brand_name'].value);
        $filter['page'] = 1;

        // Set dynamic parameters for the data table
        $('#brand').data('dt_params', $filter);

        // Redraw data table, causes data to be reloaded
        $('#brand').DataTable().draw();
    }

</script>
