<!-- $Id: category_info.htm 16752 2009-10-20 09:59:38Z wangleisvn $ -->
{include file="pageheader.htm"}
{insert_scripts files="i18n.js"}
<!-- start add new category form -->

<form action="category.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()" class="form-horizontal form-label-left">
  <div class=" x_panel">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.cat_name}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input class="form-control" type='text' name='cat_name' maxlength="22" value='{$cat_info.cat_name|escape:html}' size='27' />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">永久鏈結</label>
        <div class="col-md-6 col-sm-6 col-xs-12" id="perma_link"></div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.parent_id}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select class="form-control"name="parent_id">
            <option value="0">{$lang.cat_top}</option>
            {$cat_select}
          </select>
        </div>
      </div>

      <div class="form-group" id="measure_unit">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.measure_unit}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type="text" class="form-control" name='measure_unit' value='{$cat_info.measure_unit}' size="12" />
        </div>
      </div>
      <div class="form-group sort-order">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.sort_order}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type="text" class="form-control" name='sort_order' {if $cat_info.sort_order}value='{$cat_info.sort_order}'{else} value="50"{/if} size="15" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">產品預設尺寸</label>
        <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
          <div class="col-md-4"><div class="input-group">
            <div class="input-group-addon">長</div>
            <input type="text" class="form-control" name="default_length" value="{$cat_info.default_length}" size="20" />
            <div class="input-group-addon">CM</div>
          </div></div>
          <div class="col-md-4"><div class="input-group">
            <div class="input-group-addon">闊</div>
            <input type="text" class="form-control" name="default_width" value="{$cat_info.default_width}" size="20" />
            <div class="input-group-addon">CM</div>
          </div></div>
          <div class="col-md-4"><div class="input-group">
            <div class="input-group-addon">高</div>
            <input type="text" class="form-control" name="default_height" value="{$cat_info.default_height}" size="20" />
            <div class="input-group-addon">CM</div>
          </div></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.is_show}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input class="form-control flat" type="radio" name="is_show" value="1" {if $cat_info.is_show neq 0} checked="true"{/if}/> {$lang.yes}
          <input class="form-control flat" type="radio" name="is_show" value="0" {if $cat_info.is_show eq 0} checked="true"{/if} /> {$lang.no}
        </div>
      </div>
      {if $cat_info.parent_id neq 0 || $form_act == 'insert'}
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.is_update}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input class="form-control flat" type="radio" name="is_update" value="1" {if $cat_info.is_update neq 0} checked="true"{/if}/> {$lang.yes}
          <input class="form-control flat" type="radio" name="is_update" value="0" {if $cat_info.is_update eq 0} checked="true"{/if} /> {$lang.no}
        </div>
      </div>
      {/if}
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.show_in_nav}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input class="form-control flat" type="radio" name="show_in_nav" value="1" {if $cat_info.show_in_nav neq 0} checked="true"{/if}/> {$lang.yes}
          <input class="form-control flat" type="radio" name="show_in_nav" value="0" {if $cat_info.show_in_nav eq 0} checked="true"{/if} /> {$lang.no}
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.show_in_index}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input class="form-control flat" type="checkbox" name="cat_recommend[]" value="1" {if $cat_recommend[1] eq 1} checked="true"{/if}/> {$lang.index_best}
          <input class="form-control flat" type="checkbox" name="cat_recommend[]" value="2" {if $cat_recommend[2] eq 1} checked="true"{/if} /> {$lang.index_new}
          <input class="form-control flat" type="checkbox" name="cat_recommend[]" value="3" {if $cat_recommend[3] eq 1} checked="true"{/if} /> {$lang.index_hot}
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.grade}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type="text" class="form-control" name="grade" value="{$cat_info.grade|default:0}" size="40" />
          <span class="form-helper" id="noticeGrade">{$lang.notice_grade}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.cat_style}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="input-group colorpicker-group">
            <input type="text" class="form-control"id="cat_style" name="style" value="{$cat_info.style|escape}" size="20"/>
            <span class="input-group-addon"><i></i></span>
          </div>
          <span class="form-helper" id="noticeGoodsSN">{$lang.notice_style}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.keywords}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" class="form-control" name="keywords" value='{$cat_info.keywords}' size="50">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.cat_desc}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <textarea class="form-control" name='cat_desc' rows="6" cols="48">{$cat_info.cat_desc}</textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="ln_solid"></div>
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
          <input type="hidden" name="act" value="{$form_act}" />
          <input type="hidden" name="old_cat_name" value="{$cat_info.cat_name}" />
          <input type="hidden" name="cat_id" value="{$cat_info.cat_id}" />
          <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
          <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
        </div>
      </div>
  </div>
</form>

{insert_scripts files="../js/utils.js,validator.js"}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['cat_name'].focus();
/**
 * 检查表单输入的数据
 */
function validate()
{
  validator = new Validator("theForm");
  validator.required("cat_name",      catname_empty);
  if (parseInt(document.forms['theForm'].elements['grade'].value) >10 || parseInt(document.forms['theForm'].elements['grade'].value) < 0)
  {
    validator.addErrorMsg('{$lang.grade_error}');
  }
  {if $form_act eq 'insert'}
  if (!$("input[name=perma_link]").data('pass')) {
    alert("設先設定永久鏈結")
    return false;
  } else if ($("input[name=perma_link_raw]").val() == "") {
    alert("設先重新整理")
    return false;
  }
  {/if}
  return validator.passed();
}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

/**
 * 新增一个筛选属性
 */
function addFilterAttr(obj)
{
  var src = obj.parentNode.parentNode;
  var tbl = document.getElementById('tbody-attr');

  var validator  = new Validator('theForm');
  var filterAttr = document.getElementsByName("filter_attr[]");

  if (filterAttr[filterAttr.length-1].selectedIndex == 0)
  {
    validator.addErrorMsg(filter_attr_not_selected);
  }
  
  for (i = 0; i < filterAttr.length; i++)
  {
    for (j = i + 1; j <filterAttr.length; j++)
    {
      if (filterAttr.item(i).value == filterAttr.item(j).value)
      {
        validator.addErrorMsg(filter_attr_not_repeated);
      } 
    } 
  }

  if (!validator.passed())
  {
    return false;
  }

  var row  = tbl.insertRow(tbl.rows.length);
  var cell = row.insertCell(-1);
  cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addFilterAttr)(.*)(\[)(\+)/i, "$1removeFilterAttr$3$4-");
  filterAttr[filterAttr.length-1].selectedIndex = 0;
}

/**
 * 删除一个筛选属性
 */
function removeFilterAttr(obj)
{
  var row = rowindex(obj.parentNode.parentNode);
  var tbl = document.getElementById('tbody-attr');

  tbl.deleteRow(row);
}
// Multiple language support
var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};
var localizableFieldsMapping = {};
$(function() {
  var parent_level = $("select[name='parent_id'] option:selected").data("level");
  {if $form_act eq 'insert'}
    $("#perma_link").permaLink({
      table: 'category',
      url: '/cat/{id}-',
      ref: 'cat_name'
    });
  {else}
    $("#perma_link").permaLink({
      priv: '{if $edit_perma_link}1{else}0{/if}',
      table: 'category',
      id: '{$cat_info.cat_id}',
      origin: {$localized_versions|json_encode},
      init: '{$cat_info.perma_link}',
      url: '/cat/{$cat_info.cat_id}-'
    });
    var cat_desc = $('textarea[name="cat_desc"]').val();
    var cat_name =  $("input[name='cat_name']").val()
    if((parent_level == "0" || parent_level == "1") && !cat_desc) {
      cat_desc = "購買 " + cat_name + " 2019 香港最新型號，比較不同牌子" + cat_name + "功能及價錢，另有專業推薦，更可享各式折扣優惠及送貨服務。" ;
      $('textarea[name="cat_desc"]').val(cat_desc);
    }
  {/if}
  $(".form-control.edit-language-select").change(function(e) {
      var lang = $(e.target).val();
      cat_name =  $("input[name='cat_name']").val()      
      if((parent_level == "0" || parent_level == "1")) {
        if(lang == "en_us" && (!localizedVersions["en_us"] ? !localizedVersions["en_us"] : !localizedVersions["en_us"]["cat_desc"])) {
          cat_desc = cat_name + " 2019 hk latest models, comparison of different " + cat_name + " brands, functions, price and recommendation. On sale and discount, delivery service is available." ;
          $('textarea[name="cat_desc"]').val(cat_desc);
        }
      }
    });
  if(parent_level == "1") {
    $(".sort-order").hide();
  }
  $("select[name='parent_id']").change(function(){
    parent_level = $(this).find("option:selected").data("level");
    if(parent_level == "1" ) {
      $(".sort-order").hide();
    }
    else {
      $(".sort-order").show();
      if(parent_level == "2" ) {
        $('textarea[name="cat_desc"]').val('');
      }
    }
    {if $form_act eq 'insert'}
      if((parent_level == "0" || parent_level == "1")) {     
          var cat_name =  $("input[name='cat_name']").val()
          var cur_lang = $(".form-control.edit-language-select").val();
          var cat_desc = "購買 " + cat_name + " 2019 香港" + cat_name + "最新型號，比較不同牌子" + cat_name + "功能及價錢，另有專業推薦，更可享各式折扣優惠及送貨服務。" ;
          $('textarea[name="cat_desc"]').val(cat_desc);   
      } else {
        $('textarea[name="cat_desc"]').val('');
      }
    {/if}
  }); 
})

//-->
</script>
{include file="pagefooter.htm"}
