<!-- $Id: category_move.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class=" x_panel">
  <form action="category.php" method="post" name="theForm" enctype="multipart/form-data" class="form-horizontal form-label-left">
    <p>{$lang.cat_move_notic}</p>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.source_cat}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select class="form-control" name="cat_id">
          <option value="0">{$lang.select_please}</option>
          {$cat_select}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.target_cat}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select class="form-control" name="target_cat_id">
          <option value="0">{$lang.select_please}</option>
          {$cat_select}
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="ln_solid"></div>
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
          <input type="hidden" name="act" value="{$form_act}" />
          <input type="submit" name="move_cat" value="{$lang.start_move_cat}" class="btn btn-primary" />
          <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
        </div>
      </div>
  </form>
</div>

{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

//-->
</script>
{/literal}
{include file="pagefooter.htm"}