<!-- $Id: category_list.htm 17019 2010-01-29 10:10:34Z liuhui $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}

{insert_scripts files="../yohohk/js/fix-orientation-0.0.2.min.js"}
{insert_scripts files="../yohohk/js/jquery.cropit.js"}
{insert_scripts files="../yohohk/js/cropit.howang.js"}
{insert_scripts files="popupdialog.js"}
<link href="../yohohk/css/jquery.cropit.css" rel="stylesheet" type="text/css" />
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
<form method="post" action="" name="listForm">

</form>
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered" id="category">
  <thead>
    <tr class="headings">
      <th data-id="tree_sort" data-hidden="1" data-order="1" data-orderby="asc"></th><!--  data-hidden="true" -->
      <th data-id="cat_id" data-key="cat_id" data-sort="0">{$lang.cat_id}</th>
      <th data-id="cat_name" data-sort="0" data-tree="1">{$lang.cat_name}</th>
      <th data-id="goods_num" data-sort="0">{$lang.goods_number}</th>
      <th data-id="show_in_nav" data-sort="0" data-type="toggle" data-edit="true">{$lang.nav}</th>
      <!-- <th data-id="hot_category" data-sort="0" data-type="toggle" data-edit="true">熱門分類</th> -->
      <th data-id="is_show" data-sort="0" data-type="toggle" data-edit="true">{$lang.is_show}</th>
      <th data-id="is_update" data-sort="0" data-type="toggle" data-edit="true">{$lang.is_update}</th>
      <th data-id="only_market_invoice" data-sort="0" data-type="toggle" data-edit="true">{$lang.only_market_invoice}</th>
      <th data-id="need_removal" data-sort="0" data-type="toggle" data-edit="true">可除舊</th>
      <th data-id="grade" data-sort="0">{$lang.short_grade}</th>
      <th data-id="sort_order" data-sort="0">{$lang.sort_order}</th>
      <th class="actionsCol" data-id="_action" data-sort="0">{$lang.handler}</th>
    </tr>
  </thead>
  <tbody>
  </tbody>

</table>
</div>

{include file="pagefooter.htm"}
<script language="JavaScript">

yohoTable.paging = false;
var $categoryTable = yoho_dataTable();
<!--
{literal}

onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

// Setup image uploader
function setupUploader(cat_id, img_url, upload_act, $outer, width, height, transparent_background)
{
  var $container = buildCropit(upload_act, width, height);
  $container.css({'margin-left':'auto','margin-right':'auto'});
  // Add text field and button to the container
  var $extraDiv = $('<div>').css({'margin-top': '6px'});
  var $btn = $('<input type="button" value="上傳圖片" class="btn btn-success">');
  $extraDiv.append($btn);
  $extraDiv.appendTo($container);
  // We need to test for image existence before displaying the uploader
  var afterExistenceTest = function (default_image_url) {
    // Add cropit container to our upload area
    $outer.empty().append($container);
    // Do we need transparent background?
    var extraOpts = {};
    if (transparent_background)
    {
      extraOpts['fillColor'] = 'transparent';
    }
    // Bind cropit events
    initCropit($container, default_image_url, extraOpts);
    // Add transparent background
    if (transparent_background)
    {
      $('<div></div>').css({
        'position': 'absolute',
        'top': 0,
        'left': 0,
        'width': $container.find('.cropit-image-preview').width(),
        'height': $container.find('.cropit-image-preview').height(),
        'background-color': '#ccc',
        'background-repeat': 'repeat',
        'background-image': " url('data:image/png;base64," +
          "iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAGElEQVR4AWP8zwABZ6H0QAmcgTKMB1YAAATeFmmHeIMnAAAAAElFTkSuQmCC" +
        "')"
      }).insertBefore($container.find('.cropit-image-preview'));
    }
    // Handle upload button clicks
    $btn.click(function (event) {
      event.preventDefault();
      // Hide controls
      $container.find('input[type="file"]').hide();
      $btn.hide();
      // Set uploading text
      var $uploadingText = $('<span style="text-align: center;">上傳中...</span>');
      $container.append($uploadingText);
      // setTimeout with 0 timeout to allow browser update display before proceeding
      setTimeout(function() {
        // Exporting is slow if the image is large
        cropitExport($container, function (blob) {
          // Upload file with FormData + XHR2
          var formData = new FormData();
          // Add parameters to formData
          $.each({
            'act': upload_act,
            'id': cat_id
          }, function (key, val) {
            formData.append(key, val);
          });
          // Add the image to formData
          formData.append('image', blob, 'image.png');
          // AJAX POST the formData to server
          $.ajax({
            url: 'category.php',
            type: 'post',
            // pass FormData to XHR2 directly
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: function (result) {
              if (result.error)
              {
                alert(result.message);
              }
              else
              {
                alert('上傳成功！');
              }
              // Re-initialize the uploader
              setupUploader(cat_id, img_url, upload_act, $outer, width, height);
            },
            error: function (xhr) {
              alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
              $container.find('input[type="file"]').show();
              $btn.show();
              $uploadingText.remove();
              console.log(xhr);
            }
          });
        });
      }, 0);
    });
  }
  // Test image existance
  $.ajax({
    url: img_url,
    type: 'head',
    cache: false,
    success: function () {
      afterExistenceTest(img_url + '?' + (new Date()).getTime());
    },
    error: function () {
      afterExistenceTest('');
    }
  });
}

function editMenu(cat_id)
{
  var dialog = new PopupDialog({
    popupCss: {
      'width': '1130px',
      'height': '600px'
    }
  });
  
  dialog.show();
  
  // Setup area for upload / brands respectively
  var $uploadArea = $('<div></div>');
  $uploadArea.css({
    'position': 'absolute',
    'top': 0,
    'left': 0,
    'width': '730px',
    'height': '100%',
    'border-right': 'solid 1px black',
    'background-color': 'white',
    'text-align': 'center'
  });
  dialog.$popup.append($uploadArea);
  var $brandsArea = $('<div></div>');
  $brandsArea.css({
    'position': 'absolute',
    'top': 0,
    'left': '770px',
    'width': '300px',
    'height': '100%',
    'background-color': 'white',
    'background-position': 'center center',
    'background-repeat': 'no-repeat'
  });
  dialog.$popup.append($brandsArea);
  
  // Setup image uploader
  setupUploader(cat_id, '/data/afficheimg/category/' + cat_id + '_menu.png', 'save_category_menu_image', $uploadArea, 700, 360);
  
  // Setup brands edit area
  $.ajax({
    url: 'category.php',
    type: 'get',
    data: {
      act: 'get_category_brands',
      id: cat_id
    },
    dataType: 'json',
    success: function (result) {
      var brandSelector = '<select class="form-control">' +
        '<option value="0" data-logo="/images/no_picture.gif">-- 請選擇品牌 --</option>';
      $.each(result.content.available_brands, function (i, brand) {
        brandSelector += '<option value="' + brand.brand_id + '" data-logo="' + (brand.brand_logo ? '/data/brandlogo/' + brand.brand_logo : '/images/no_picture.gif') + '">' + brand.brand_name + '</option>';
      });
      brandSelector += '</select>';
      
      var $table = $('<div></div>');
      $table.css({
        'padding-top': '20px',
        'background-color': 'white',
        'width': '100%'
      });
      
      var cnt = 0;
      $.each(result.content.selected_brands, function (i, brand) {
        var $row = $('<div class="form-inline col-md-12">' +
            '<div class="col-md-5">' +
              '<img src="' + (brand.brand_logo ? '/data/brandlogo/' + brand.brand_logo : '/images/no_picture.gif') + '" alt="' + brand.brand_name + '" title="' + brand.brand_name + '" width="100" height="50">' +
            '</div>' +
            '<td align="center">' + brandSelector + '</td>' +
          '</div>');
        $row.find('select').val(brand.brand_id);
        $table.append($row);
        cnt++;
      });
      for (var i = cnt; i < 7; i++)
      {
        var $row = $('<div class="form-inline col-md-12">' +
            '<div class="col-md-5">' +
              '<img src="/images/no_picture.gif" width="100" height="50">' +
            '</div>' +
            '<td align="center">' + brandSelector + '</td>' +
          '</div>');
        $table.append($row);
      }
      $table.append('<div class="form-inline col-md-12">' +
          '<td colspan="2" align="center">' +
            '<input type="button" class="btn btn-success" value=" 儲存 ">' +
          '</td>' +
        '</div>');
      
      $table.appendTo($brandsArea);
      
      $table.find('select').change(function () {
        var $this = $(this);
        var $img = $this.closest('div').find('img');
        var $opt = $this.find('option:selected');
        var logo = $opt.data('logo');
        $img.attr('src', logo);
      });
      $table.find('input[type="button"]').click(function () {
        var $btn = $(this);
        $btn.prop('disabled', true);

        var postData = {
          act: 'save_category_brands',
          id: cat_id
        };
        $table.find('select').each(function (idx) {
          postData['brand[' + idx + ']'] = $(this).val();
        });

        $.ajax({
          url: 'category.php',
          type: 'post',
          data: postData,
          dataType: 'json',
          success: function (result) {
            if (result.error)
            {
              alert(result.message);
            }
            else
            {
              alert('儲存成功！');
            }
            $btn.prop('disabled', false);
          },
          error: function (xhr) {
            alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
            $btn.prop('disabled', false);
            console.log(xhr);
          }
        });
      });
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
  });
}

function editImages(cat_id, level)
{
  var dialog = new PopupDialog({
    popupCss: {
      'width': '1100px',
      'height': '600px'
    }
  });
  
  dialog.show();
  if(level!=2){
    // Setup area for uploading header image / icon respectively
    var $headerArea = $('<div></div>');
    $headerArea.css({
      'position': 'absolute',
      'top': 0,
      'left': 0,
      'width': '100%',
      'height': '249px',
      'border-bottom': 'solid 1px black',
      'background-color': 'white',
      'text-align': 'center'
    });
    dialog.$popup.append($headerArea);
    var $iconArea = $('<div></div>');
    $iconArea.css({
      'position': 'absolute',
      'top': '250px',
      'left': 0,
      'width': '100%',
      'height': '190px',
      'background-color': 'white',
      'text-align': 'center'
    });
    dialog.$popup.append($iconArea);
    
    var $headerUploadTitle = $('<h3>分類頁上方橫幅</h3>');
    $headerArea.append($headerUploadTitle);
    $headerUploadTitle.append('&nbsp;<span localizable.png" style="width: 13px; height: 13px;">');
    var $headerUploadArea = $('<div></div>');
    $headerArea.append($headerUploadArea);
    var language_suffix = (YOHO.admin.i18n.current_lang == YOHO.admin.i18n.default_lang) ? '' : '_' + YOHO.admin.i18n.current_lang;
    var header_image_url = '/data/afficheimg/category/' + cat_id + '_header' + language_suffix + '.png';
    setupUploader(cat_id, header_image_url, 'save_category_header_image' + language_suffix, $headerUploadArea, 1050, 90);
    
    $iconArea.append('<h3 style="display: inline-block; width: 100%;">分類圖示</h3>');
    //$iconArea.append('<h3 style="display: inline-block; width: 50%;">分類圖示(反白)</h3>');
    var $iconUploadArea = $('<div style="display: inline-block; width: 50%;"></div>');
    $iconArea.append($iconUploadArea);
    setupUploader(cat_id, '/data/afficheimg/category/' + cat_id + '_icon.png', 'save_category_icon_image', $iconUploadArea, 200, 72, true);
    var $icon2UploadArea = $('<div style="display: inline-block; width: 50%;"></div>');
    //$iconArea.append($icon2UploadArea);
    //setupUploader(cat_id, '/data/afficheimg/category/' + cat_id + '_icon2.png', 'save_category_icon2_image', $icon2UploadArea, 28, 28, true);

    $iconArea.append('<h3 style="display: inline-block; width: 100%;">手機版分類圖示</h3>');
    //$iconArea.append('<h3 style="display: inline-block; width: 50%;">分類圖示(反白)</h3>');
    var $iconUploadArea3 = $('<div style="display: inline-block; width: 50%;"></div>');
    $iconArea.append($iconUploadArea3);
    setupUploader(cat_id, '/data/afficheimg/category/' + cat_id + '_mobile_icon.png', 'save_category_mobile_icon_image', $iconUploadArea3, 90, 90, true);

  } else {
    //level 3 category mobile 圖片設定
    var $productIDArea = $('<div></div>');
    $productIDArea.css({
      'width': '60%',
      'margin': '20px',
      'background-color': '#f8f8f8',
      'padding': '10px',
    });
    dialog.$popup.append($productIDArea);
    var $productID = $('<span>產品編號：</span>');
    var $productIDInput = $('<input type="text">');
    $productIDInput.css({
      'width': '80%',
      'margin-right': '10px'
    });
    var $productSearchBtn = $('<input type="button" value="搜索">');
    $productIDArea.append($productID);
    $productIDArea.append($productIDInput);
    $productIDArea.append($productSearchBtn);

    var $productNameArea = $('<div></div>');
    $productNameArea.css({
      'display': 'none'
    });
    dialog.$popup.append($productNameArea);
    var $productName = $('<div>產品名稱</div>');
    $productName.css({
      'width': '60%',
      'margin-left': '20px',
      'background-color': '#f8f8f8',
      'padding': '10px',
      'border': '1px solid #bec1cf',
      'text-align': 'center',
      'box-shadow': '0px 2px 0px 0px inset #7a7f89'
    });
    var $product = $('<div><img  title="goods_thumb"><span class="product_name"></span></div>');
    $product.css({
      'width': '60%',
      'margin-left': '20px',
      'padding': '10px',
      'border': '1px solid #bec1cf',
      'margin-bottom': '20px'
    });
    $product.find('img').css({
      'width': '50px',
      'vertical-align': 'text-top'
    });
    $product.find('span').css({
      'color': '#000'
    });
    var $goods_thumb_id = $(' <input type="hidden">');
    var $catSetThumbBtn = $('<input type="button" class="btn btn-primary" value="設定確認">');
    $catSetThumbBtn.css({
      'margin-left': '20px',
    });
    $productNameArea.append($productName);
    $productNameArea.append($product);
    $productNameArea.append($goods_thumb_id);
    $productNameArea.append($catSetThumbBtn);
    $.ajax({
      url: '../ajax/cat_thumb.php',
      type: 'post',
      data: {
        type: 'select',
        cat_id: cat_id
      },
      dataType: 'json',
      success: function (result) {
        if (result.status=="1") {
          $product.find('img').attr('src',"../"+result.goods_thumb);
          $product.find('.product_name').text(result.goods_name);
          $productNameArea.show();
        }          
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      }
    });
    $productSearchBtn.click(function () {
      var itemId = $productIDInput.val();
      if(itemId==""){
        alert("請輸入產品編號！")
        return;
      }
      $.ajax({
        url: '../ajax/goodsinfo.php',
        type: 'post',
        data: {itemId:itemId},
        dataType: 'json',
        success: function (result) {
          if (result) {
            $goods_thumb_id.val(result.goods_id);
            $product.find('img').attr('src',"../"+result.goods_thumb);
            $product.find('.product_name').text(result.goods_name);
            $productNameArea.show();
          } else {
            alert('無該產品！');
          }
          
        },
        error: function (xhr) {
          alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        }
      });
    });
    $catSetThumbBtn.click(function () {
      var itemId = $productIDInput.val();
      var goods_thumb_id = $goods_thumb_id.val();
      if(itemId==""){
        alert("請輸入產品編號！")
        return;
      }
      $.ajax({
        url: '../ajax/cat_thumb.php',
        type: 'post',
        data: {
          type: 'update',
          goods_thumb_id: goods_thumb_id,
          cat_id: cat_id
        },
        dataType: 'json',
        success: function (result) {
          if (result.status=="1") {
            alert("設定成功！")
            $productIDArea.prev().trigger('click');
          }          
        },
        error: function (xhr) {
          alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        }
      });
    });
  }

}



{/literal}
//-->
</script>

