<!-- $Id: comment_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<div class="x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="javascript:searchComment()" name="searchForm" class="form-inline">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    {$lang.search_comment} <input type="text" class="form-control" name="keyword" /> <input type="submit" class="btn btn-primary form-btn" value="{$lang.button_search}" />
  </form>
</div>

<form method="POST" action="comment_manage.php?act=batch_drop" name="listForm" onsubmit="return confirm_bath()">

<!-- start comment list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

<table id="#" class="table table-striped table-bordered bulk_action ">
  <thead>
    <tr class="headings">
      <th data-id="comment_id" data-key="comment_id">
        <input type="checkbox" id="check-all" class="flat">{$lang.record_id}
      </th>
      <th data-id="user_id" data-value="user_name" data-url="users.php?act=list&keywords={user_name}">{$lang.user_name}</th>
      <!--th data-id="comment_type">{$lang.comment_type}</th-->
      <th data-id="id_value" data-value="title" data-url="/goods.php?id={id_value}">{$lang.comment_obj}</th>
       <th data-id="content" data-sort="0" >評論內容</th>
      <th data-id="comment_rank">評分</th>
      <th data-id="ip_address">{$lang.ip_address}</th>
      <th data-id="add_time">{$lang.comment_time}</th>
      <th data-id="status" data-type="toggle">{$lang.comment_flag}</th>
      <th data-id="have_image" data-type="toggle" data-sort="0">圖片</th>
      <th class="actionsCol" data-id="_action" width="150" data-sort="0">{$lang.handler}</th>
    </tr>
  </thead>
  <tbody>
</table>

</div>
<!-- end comment list -->
    <div>
      <select name="sel_action">
        <!--option value="remove">{$lang.drop_select}</option-->
        <option value="allow">{$lang.allow}</option>
        <option value="deny">{$lang.forbid}</option>
      </select>
      <input type="hidden" name="act" value="batch" />
      <input type="submit" name="drop" id="btnSubmit" value="{$lang.button_submit}" class="btn btn-primary" />
    </div>
</form>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">

  cfm = new Object();
  cfm['allow'] = '{$lang.cfm_allow}';
  cfm['remove'] = '{$lang.cfm_remove}';
  cfm['deny'] = '{$lang.cfm_deny}';
  $filter = [];
  $table = yoho_dataTable();
  {literal}
  onload = function()
  {
      document.forms['searchForm'].elements['keyword'].focus();
  }
  /**
   * 搜索评论
   */
  function searchComment()
  {
      var keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
      if (keyword.length > 0)
      {
       $filter['keywords'] = keyword;
        $table.search($filter);
      }
      else
      {
          document.forms['searchForm'].elements['keyword'].focus();
      }
  }
  {/literal}

  function confirm_bath()
  {
    var action = document.forms['listForm'].elements['sel_action'].value;
    selected = $table.getSelectValue();
    $(document.forms['listForm']).append('<input type="hidden" name="checkboxes" value="' + selected + '" />');
    return confirm(cfm[action]);
  }

</script>
