<!-- $Id: comment_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->

{include file="pageheader.htm"}
<!-- comment content list -->
<div class=" x_panel">
  <table width="100%">
    <tr>
      <td>
      <a href="mailto:{$msg.email}"><b>{if $msg.user_name}{$msg.user_name}{else}{$lang.anonymous}{/if}</b></a>&nbsp;{$lang.from}
      &nbsp;{$msg.add_time}&nbsp;{$lang.to}&nbsp;<b>{$id_value}</b>&nbsp;{$lang.send_comment}&nbsp;{$msg.comment_rank}分
    </td>
    </tr>
    <tr>
      <td><hr color="#dadada" size="1"></td>
    </tr>
    <tr>
      <td>
        <div style="overflow:hidden; word-break:break-all;">{$msg.content}</div>
        <div style="border-top: 1px solid #d7d7d7;margin-top: 10px;padding-top: 5px;">
          {if $msg.image}
              <div class="comment_image">
              {foreach from=$msg.image item=img key=key}
                <a href="{$img.source}" target="_blank"><img src="{$img.thumb}"></a>
              {/foreach}
              </div>
          {/if}
        </div>
        <div align="right"><!--b>{$lang.comment_rank}:</b> {$msg.comment_rank}&nbsp;&nbsp;<b-->{$lang.ip_address}</b>: {$msg.ip_address}</div>
      </td>
    </tr>
    <tr>
      <td align="center">
        {if $msg.status eq "0"}
        <input type="button" onclick="location.href='comment_manage.php?act=check&check=allow&id={$msg.comment_id}'" value="{$lang.allow}" class="btn btn-primary" />
        {else}
        <input type="button" onclick="location.href='comment_manage.php?act=check&check=forbid&id={$msg.comment_id}'" value="{$lang.forbid}" class="btn btn-primary" />
        {/if}
    </td>
    </tr>
  </table>
</div>

{if $reply_info.content}
<!-- reply content list -->
<div class=" x_panel">
  <table width="100%">
    <tr>
      <td>
      {$lang.admin_user_name}&nbsp;<a href="mailto:{$msg.email}"><b>{$reply_info.user_name}</b></a>&nbsp;{$lang.from}
      &nbsp;{$reply_info.add_time}&nbsp;{$lang.reply}
    </td>
    </tr>
    <tr>
      <td><hr color="#dadada" size="1"></td>
    </tr>
    <tr>
      <td>
        <div style="overflow:hidden; word-break:break-all;">{$reply_info.content}</div>
        <div align="right"><b>{$lang.ip_address}</b>: {$reply_info.ip_address}</div>
      </td>
    </tr>
  </table>
</div>
{/if}

{if $send_fail}
<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
<li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;" >{$lang.mail_send_fail}</li>
</ul>
{/if}

<div class=" x_panel" style="display:none;">
<form method="post" action="comment_manage.php?act=action" name="theForm" onsubmit="return validate()">
<table border="0" align="center">
  <tr><th colspan="2">
  <strong>{$lang.reply_comment}</strong>
  </th></tr>
  <tr>
    <td>{$lang.user_name}:</td>
    <td><input name="user_name" type="text" {if $reply_info.user_name eq ""}value="{$admin_info.user_name}"{else} value="{$reply_info.user_name}"{/if} size="30" readonly="true" /></td>
  </tr>
  <tr>
    <td>{$lang.email}:</td>
    <td><input name="email" type="text" {if $reply_info.email eq ""}value="{$admin_info.email}"{else} value="{$reply_info.email}"{/if} size="30" readonly="true" /></td>
  </tr>
  <tr>
    <td>{$lang.reply_content}:</td>
    <td><textarea name="content" cols="50" rows="4" wrap="VIRTUAL">{$reply_info.content}</textarea></td>
  </tr>
  {if $reply_info.content}
  <tr>
    <td>&nbsp;</td>
    <td>{$lang.have_reply_content}</td>
  </tr>
  {/if}
  <tr>
    <td></td>
    <td><input name="send_email_notice" type="checkbox" value='1'/>{$lang.send_email_notice}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input name="submit" type="submit" value="{$lang.button_submit}" class="btn btn-primary">
      <input type="reset" value="{$lang.button_reset}" class="btn btn-primary">
      {if $reply_info.content}<input type="submit" name="remail" value="{$lang.remail}" class="btn btn-primary">{/if}
      <input type="hidden" name="comment_id" value="{$msg.comment_id}">
      <input type="hidden" name="comment_type" value="{$msg.comment_type}">
      <input type="hidden" name="id_value" value="{$msg.id_value}">
    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['content'].focus();

/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("content",  no_content);
    return validator.passed();
}

onload = function() {
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}