{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,../js/region.js"}
<div class=" x_panel">
  <form enctype="multipart/form-data" name="theForm" action="?act=update_config" method="post" class="tab-content form-horizontal form-label-left">
    {foreach from=$config item=var key=key}
    {include file="shop_config_form.htm"}
    {/foreach}
    <div class="form-group">
      <div class="ln_solid"></div>
      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <input name="submit" type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
        <input name="reset" type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
        <input type="hidden"  name="act"       value="update_config" />
      </div>
  </div>
  </form>
</div>
{insert_scripts files="tab.js,validator.js"}
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}

{/literal}
//-->
</script>
{include file="pagefooter.htm"}