{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>


<div class=" x_panel">
<form action="coupon.php" method="post" name="form" class="tab-content form-horizontal form-label-left">

  {if $act neq 'add'}
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">優惠券編號</label>
      <div class="col-md-6 col-sm-9 col-xs-12">{$coupon.coupon_id}</div>
    </div>
  {/if}
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">優惠券名稱</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
        <input required="required" class="form-control" name="coupon_name" type="text" value="{$coupon.coupon_name|escape}" size="40" />
        {else}
        {$coupon.coupon_name|escape}
        {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">優惠券號碼</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add'}
        <input required="required" class="form-control" name="coupon_code" type="text" size="40" />
        <span class="form-helper">注意：優惠券號碼輸入後不能更改</span>
        {else}
        {$coupon.coupon_code|escape}
        {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">折扣金額</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
        <input name="coupon_amount" class="form-control" type="text" value="{$coupon.coupon_amount|default:0.00}" size="40" />
        {else}
        {$coupon.coupon_amount_formatted}
        {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">折扣比例</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
        <div class="input-group">
          <input name="coupon_discount" class="form-control" type="text" value="{$coupon.coupon_discount|default:0.00}" size="39" />
          <div class="input-group-addon">%</div>
        </div>
        {else}
        {$coupon.coupon_discount_formatted}
        {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">免運費</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
        <input name="free_shipping" type="hidden" value="0" />
        <input class="flat" name="free_shipping" type="checkbox"{if $coupon.free_shipping} checked="checked"{/if} />
        {else}
        <img src="images/{if $coupon.free_shipping}yes{else}no{/if}.gif" />
        {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">全單計算</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
        <input name="cartwide" type="hidden" value="0" />
        <input class="flat" name="cartwide" type="checkbox"{if $coupon.cartwide} checked="checked"{/if} />
        {else}
        <img src="images/{if $coupon.cartwide}yes{else}no{/if}.gif" />
        {/if}
        <span class="form-helper">如果啟用了「全單計算」，「折扣比例」、「最低訂單金額」及「免運費」會計算整張訂單中不含「不適用分類」/「不適用品牌」產品，否則只會計算「適用產品」/「適用分類」/「適用品牌」的產品。(預設：啟用)</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">適用分類</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
        <div class="form-inline">
          <div class="input-group no-margin">
            <input class="form-control" name="keyword" type="text" id="keyword">
            <span class="input-group-btn">
              <input name="search" type="button" id="search" value="{$lang.button_search}" class="btn btn-success" onclick="searchItem(1, this)" />
            </span>
          </div>
          <div class="input-group no-margin">
            <select class="form-control" name="result" id="result"></select>
            <span class="input-group-btn">
              <input type="button" name="add_range" value="+" class="btn btn-success" data-name="cat_list" onclick="addRange(1, this)" />
            </span>
          </div>
        </div>
        <div id="range-div">
          {foreach from=$coupon.cat_list_arr item=item}
          <input name="cat_list[]" type="checkbox" value="{$item.cat_id}" checked="checked" /> {$item.cat_name}
          {/foreach}
        </div>
      {else}
      {foreach from=$coupon.cat_list_arr item=cat name=foo}
        {$cat.cat_name}<br>
        {/foreach}
      {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">適用品牌</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
        <div class="form-inline">
          <div class="input-group no-margin">
            <input class="form-control" name="keyword" type="text" id="keyword">
            <span class="input-group-btn">
              <input name="search" type="button" id="search" value="{$lang.button_search}" class="btn btn-success" onclick="searchItem(2, this)" />
            </span>
          </div>
          <div class="input-group no-margin">
            <select class="form-control" name="result" id="result"></select>
            <span class="input-group-btn">
              <input type="button" name="add_range" value="+" class="btn btn-success" data-name="brand_list" onclick="addRange(2, this)" />
            </span>
          </div>
        </div>
        <div id="range-div">
          {foreach from=$coupon.brand_list_arr item=item}
          <input name="brand_list[]" type="checkbox" value="{$item.brand_id}" checked="checked" /> {$item.brand_name}
          {/foreach}
        </div>
        {else}
        {foreach from=$coupon.brand_list_arr item=brand name=foo}
        {$brand.brand_name}<br>
        {/foreach}
      {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">不適用分類</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
        <div class="form-inline">
          <div class="input-group no-margin">
            <input class="form-control" name="keyword" type="text" id="keyword">
            <span class="input-group-btn">
              <input name="search" type="button" id="search" value="{$lang.button_search}" class="btn btn-success" onclick="searchItem(1, this)" />
            </span>
          </div>
          <div class="input-group no-margin">
            <select class="form-control" name="result" id="result"></select>
            <span class="input-group-btn">
              <input type="button" name="add_range" value="+" class="btn btn-success" data-name="exclude_cat_list" onclick="addRange(1, this)" />
            </span>
          </div>
        </div>
        <div id="range-div">
          {foreach from=$coupon.exclude_cat_list_arr item=item}
          <input name="exclude_cat_list[]" type="checkbox" value="{$item.cat_id}" checked="checked" /> {$item.cat_name}
          {/foreach}
        </div>
        {else}
        {foreach from=$coupon.exclude_cat_list_arr item=cat name=foo}
        {$cat.cat_name}<br>
        {/foreach}
      {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">不適用品牌</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
        <div class="form-inline">
          <div class="input-group no-margin">
            <input class="form-control" name="keyword" type="text" id="keyword">
            <span class="input-group-btn">
              <input name="search" type="button" id="search" value="{$lang.button_search}" class="btn btn-success" onclick="searchItem(2, this)" />
            </span>
          </div>
          <div class="input-group no-margin">
            <select class="form-control" name="result" id="result"></select>
            <span class="input-group-btn">
              <input type="button" name="add_range" value="+" class="btn btn-success" data-name="exclude_brand_list" onclick="addRange(2, this)" />
            </span>
          </div>
        </div>
        <div id="range-div">
          {foreach from=$coupon.exclude_brand_list_arr item=item}
          <input name="exclude_brand_list[]" type="checkbox" value="{$item.brand_id}" checked="checked" /> {$item.brand_name}
          {/foreach}
        </div>
        {else}
        {foreach from=$coupon.exclude_brand_list_arr item=brand name=foo}
        {$brand.brand_name}<br>
        {/foreach}
      {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">適用產品</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
        <input class="form-control" name="goods_list" type="text" value="{$coupon.goods_list|escape}" size="40" />
        {else}
        {foreach from=$coupon.goods_list_arr item=goods_set name=foo}
        {foreach from=$goods_set item=goods name=foo2}
        <a href="../goods.php?id={$goods.goods_id}" target="_blank">{$goods.goods_name}</a>
        {if !$smarty.foreach.foo2.last}<br/>{/if}
        {/foreach}
        {if !$smarty.foreach.foo.last}<br/>----------<br/>{/if}
        {foreachelse}
        全部產品
        {/foreach}
        {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">適用會員</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
        <div class="form-inline">
          <select class="form-control" onchange="searchUser(this);" id="user_select">
            <option value="">{$lang.select_please}</option>
            <option value="goods">曾購買此產品(產品ID)</option>
            <option value="birthday">生日月份</option>
            <option value="rank">會員積分(大於)</option>
          </select>
          <div class="input-group no-margin">
            <select class="form-control" name="birthday_month" style="display:none;">
              <option value="">{$lang.select_please}</option> 
              <option value="1">一月</option>
              <option value="2">二月</option>
              <option value="3">三月</option>
              <option value="4">四月</option>
              <option value="5">五月</option>
              <option value="6">六月</option>
              <option value="7">七月</option>
              <option value="8">八月</option>
              <option value="9">九月</option>
              <option value="10">十月</option>
              <option value="11">十一月</option>
              <option value="12">十二月</option>
            </select>
            <input class="form-control" name="goods_user" type="text" size="20" style="display:none;"/>
            <input class="form-control" name="rank_user" type="text" size="20" style="display:none;"/>
            <span class="input-group-btn">
              <input class="btn btn-default" type="button" id="search_user_btn" onclick="addUser();" value="添加" style="display:none;"/>
            </span>
          </div>
        </div>
        <input class="form-control users_list" style="margin-top:5px;" name="users_list" type="text" value="{$coupon.users_list|escape}" size="40" />
        {else}
        {foreach from=$coupon.users_list_arr item=user name=foo}
        <a href="users.php?act=list&amp;keywords={$user.user_name}" title="{$user.user_name}">{if $user.display_name}{$user.display_name}{else}{$user.user_name}{/if}</a>
        {if !$smarty.foreach.foo.last},{/if}
        {foreachelse}
        全部會員
        {/foreach}
        {/if}
      </div>
    </div>
    <div class="form-group">
     <label class="control-label col-md-3 col-sm-3 col-xs-12">最低訂單金額</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input class="form-control" name="min_goods_amount" type="text" value="{$coupon.min_goods_amount|default:0.00}" size="40" />
        </div>
        {else}
        {$coupon.min_goods_amount_formatted}
        {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">使用條件</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
        <div>
          <span>
            使用人數限制：      
            <input class="form-control" style="width: 100px; height: 20px; display: inline-block;" name="max_user_used" type="text" {if $coupon.user_limit} value="{$coupon.max_user_used}" {else} value="" readonly="readonly" {/if} />人
          </span>
          <span>
            <input name="user_limit" type="checkbox" value="0" {if $coupon.user_limit eq 0 } checked="checked"{/if} />
            不限制使用人數
          </span>
        </div>
        <div>
          <span>
            使用次數限制：
            <input class="form-control" style="width: 100px; height: 20px; display: inline-block;" name="max_times_used" type="text" {if $coupon.times_limit } value="{$coupon.max_times_used}"{else} value="" readonly="readonly" {/if}  />次/人
          </span>
          <span>
            <input name="times_limit" type="checkbox" value="0" {if $coupon.times_limit eq 0} checked="checked"  {/if}/>
            不限制使用次數
          </span>
        </div>     
        {else}
          {if $coupon.user_limit}
          限制人數：{$coupon.max_user_used}人;
          {else}
          不限制使用人數;
          {/if}
          {if $coupon.times_limit}
            限制使用次數：{$coupon.max_times_used}次/人
          {else}
            不限制使用次數
          {/if}
        {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">需要通過會員SMS驗證</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
        <input name="sms_verified" type="hidden" value="0" />
        <input class="flat" name="sms_verified" type="checkbox"{if $coupon.sms_verified} checked="checked"{/if} />
        {else}
        <img src="images/{if $coupon.sms_verified}yes{else}no{/if}.gif" />
        {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">不可用於閃購訂單</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
        <input name="exclude_flashdeal" type="hidden" value="0" />
        <input class="flat" name="exclude_flashdeal" type="checkbox"{if $coupon.exclude_flashdeal} checked="checked"{/if} />
        {else}
        <img src="images/{if $coupon.exclude_flashdeal}yes{else}no{/if}.gif" />
        {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">必須單獨使用</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
        <input name="exclusive" type="hidden" value="0" />
        <input class="flat" name="exclusive" type="checkbox"{if $coupon.exclusive} checked="checked"{/if} />
        {else}
        <img src="images/{if $coupon.exclusive}yes{else}no{/if}.gif" />
        {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">報表中排除</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
          <input name="sale_exclude" type="hidden" value="0" />
          <input class="flat" name="sale_exclude" type="checkbox"{if $coupon.sale_exclude} checked="checked"{/if} />
        {else}
          <img src="images/{if $coupon.sale_exclude}yes{else}no{/if}.gif" />
        {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">顯示備註</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
          <input name="is_remark" type="hidden" value="0" />
          <input class="flat" name="is_remark" type="checkbox"{if $coupon.is_remark} checked="checked"{/if} />
        {else}
          <img src="images/{if $coupon.is_remark}yes{else}no{/if}.gif" />
        {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">開始時間</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
        <div class="controls">
          <div class="input-prepend input-group">
            <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
            <input name="start_date" data-type="date" class="form-control" type="text" id="start_date" size="22" value='{$coupon.start_date}' />
          </div>
        </div>
        {else}
        {$coupon.start_date}
        {/if}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">結束時間</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        {if $act eq 'add' or $act eq 'edit'}
        <div class="controls">
          <div class="input-prepend input-group">
            <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
            <input data-type="date" class="form-control" name="end_date" type="text" id="end_date" size="22" value='{$coupon.end_date}'/>
          </div>
        </div>
        {else}
        {$coupon.end_date}
        {/if}
      </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">推廣計劃</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <div class="controls">
        <select class="form-control" name="promote_id">
          <option value="0">{$lang.select_please}</option>
          {foreach from=$coupon_promote item=item}
          <option value="{$item.promote_id}" {if $item.promote_id eq $coupon.promote_id}selected{/if}>{$item.promote_name}</option>
          {/foreach}
        </select>
      </div>
      {else}
        {foreach from=$coupon_promote item=item}
          {if $item.promote_id eq $coupon.promote_id}
          {$item.promote_name}
            <a href="coupon.php?act=promote_info&promote_id={$coupon.promote_id}"><input type='button' class='btn btn-info btn-sm' value="查看紀錄" style='margin-left: 20px'></a>
          {/if}
        {/foreach}
      {/if}
    </div>
  </div>
  {if $act eq 'add' or $act eq 'edit'}
    <div class="form-group">
      <div class="ln_solid"></div>
      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <input type="hidden"  name="coupon_id" value="{$coupon.coupon_id}" />
        <input type="hidden"  name="act"       value="{if $act eq 'add'}insert{else}update{/if}" />
        <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
        <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
      </div>
    </div>
  {/if}
</form>
</div>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
    //活動開始後不能修改優惠券使用條件
    var d = new Date();
    var start_date   = new Date("{$coupon.start_date}");
    var act = "{$act}";
    if ($('.users_list').val() != "") {
      $('input[name="user_limit"],input[name="max_user_used"],input[name="max_times_used"]').closest("span").hide();
		}
		// if(act == "edit" && start_date != 'Invalid Date' && d > start_date) {
    //   $('input[name="max_user_used"],input[name="max_times_used"]').attr("readonly",true);
    //   $('input[name="user_limit"],input[name="times_limit"],input[name="max_user_used"],input[name="max_times_used"]').click(function(){
    //     alert("優惠券已生效，不能修改使用條件！");
    //     return false;
    //   });
		// } else {
      $('input[name="user_limit"],input[name="times_limit"]').click(function(){
        if($(this).prop("checked")){
          $(this).closest('div').find('input[type="text"]').val("");
          $(this).closest('div').find('input[type="text"]').attr("readonly",true);
          $(this).attr("checked",true);
        } else {
          $(this).closest('div').find('input[type="text"]').attr("readonly",false);
          $(this).attr("checked",false);
        }
      });
    // }
}
{/literal}
//-->
$('.users_list').keyup(function () { 
  if ($('.users_list').val() != "") {
    $('input[name="user_limit"],input[name="max_user_used"],input[name="max_times_used"]').closest("span").hide();
  }else{
    $('input[name="user_limit"],input[name="max_user_used"],input[name="max_times_used"]').closest("span").show();
  }
});
$('input[name="max_user_used"],input[name="max_times_used"]').keyup(function () { 
  this.value = this.value.replace(/^[0]|[^0-9]/g,'');
});
function searchUser(sel)
{
  var value = sel.value;
  if(value=="goods"){
    $('input[name="goods_user"]').show();
    $('select[name="birthday_month"]').hide();
    $('input[name="rank_user"]').hide();
    $("#search_user_btn").show();
  } else if(value=="birthday") {
    $('input[name="goods_user"]').hide();
    $('select[name="birthday_month"]').show();
    $('input[name="rank_user"]').hide();
    $("#search_user_btn").show();
  } else if(value=="rank") {
    $('input[name="goods_user"]').hide();
    $('select[name="birthday_month"]').hide();
    $('input[name="rank_user"]').show();
    $("#search_user_btn").show();
  } else {
    $('input[name="goods_user"]').hide();
    $('select[name="birthday_month"]').hide();
    $('input[name="rank_user"]').hide();
    $("#search_user_btn").show();
  }
}

function addUser(){
  var sel = $("#user_select").val();
  var value = "";
  var users_list = $('input[name="users_list"]').val();
  if(sel=="goods"){
    value = $('input[name="goods_user"]').val();
  } else if(sel=="birthday") {
    value = $('select[name="birthday_month"]').val();
  } else if(sel=="rank") {
    value = $('input[name="rank_user"]').val();
  }

  if(value.length > 0){
    $.ajax({
      url: 'coupon.php',
      type: 'get',
      data: {
        'act': 'search_user',
        'type': sel,
        'value': value,
        'users_list': users_list

      },
      dataType: 'json',
      success: function (result) {
        $('input[name="users_list"]').val(result);
        if ($('.users_list').val() != "") {
          $('input[name="user_limit"],input[name="max_user_used"],input[name="max_times_used"]').closest("span").hide();
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });
  }
}

function searchItem($act_range, $this)
{
  var filter = new Object;
  filter.keyword  = $($this).closest('.form-inline').find('input[name="keyword"]').val();
  filter.act_range = $act_range;
  if (filter.act_range == 0)
  {
    alert(all_need_not_search);
    return;
  }
  $.ajax({
    url: "favourable.php?is_ajax=1&act=search",
    data: {JSON: JSON.stringify(filter)},
    type: "GET",
    dataType: 'JSON',
    success: function(response) {
      searchResponse(response, $this);
    },
    error: function(xhr) {

    }
});
}

function searchResponse(result, $this)
{
  if (result.error == '1' && result.message != '')
  {
    alert(result.message);
	return;
  }
  var sel = $($this).closest('.form-inline').find('select[name="result"]');
  $(sel).empty();

  /* 创建 options */
  var goods = result.content;
  if (goods)
  {
    for (i = 0; i < goods.length; i++)
    {
      var opt = document.createElement("OPTION");
      opt.value = goods[i].id;
      opt.text  = goods[i].name;
      $(sel).append(opt);
    }
  }

  return;
}
function addRange($act_range, $this)
{
  var selRange = 1;

  var selResult = $($this).closest('.form-inline').find('select[name="result"]');
  var arr_name = $($this).data('name');
  if (selResult.value == 0)
  {
    alert(pls_search);
    return;
  }
  var id = selResult.children("option").filter(":selected").val();
  var name = selResult.children("option").filter(":selected").text();

  // 检查是否已经存在
  var exists = false;
  var eles = document.forms['form'].elements;
  for (var i = 0; i < eles.length; i++)
  {
    if (eles[i].type=="checkbox" && eles[i].name == arr_name+"[]")
    {
      if (eles[i].value == id)
      {
        exists = true;
        alert(range_exists);
        break;
      }
    }
  }

  // 创建checkbox
  if (!exists)
  {
    var html = '<input name="'+arr_name+'[]" type="checkbox" value="' + id + '" checked="checked" />' + name + '<br />';
    $($this).closest('.form-inline').parent().find('#range-div').append(html);
  }
}

</script>
{include file="pagefooter.htm"}