{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{if $remain_point <= 0}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <strong>已用盡所有積分!</strong>
</div>
{/if}
<div class="x_panel">
    <h3>{$promote_name}<span style='float: right; font-size: 14px;'>剩餘積分: {$remain_point} (<span class="red" title="合資格而未扣數">{$estimate_remain_point}</span>)</span></h3>
    <table class="table table-striped table-bordered bulk_action">
        <thead>
            <th data-id="rec_id">編號</th>
            <th data-id="order_id" data-value="order_sn">訂單</th>
            <th data-id="pay_time" data-value="pay_date">付款時間</th>
            <th data-id="coupon_id" data-value="coupon_code">優惠券</th>
            {if $promote_id eq 1}
            <th data-id="theClubId" data-sort="0">The Club ID</th>
            <th data-id="goods_amount" data-sort="0">消費金額</th>
            <th data-id="valid_reward" data-sort="0">可得積分</th>
            <th data-id="valid_accrual" data-sort="0">組別</th>
            <th data-id="exported" data-sort="0" data-type="toggle">已傳送資料</th>
            {/if}
        </thead>
    </table>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
yohoTable.query = "promote_info_query";
var $table = yoho_dataTable();
</script>
