<!-- $Id: tag_edit.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="validator.js,../js/transport_jquery.js"}
{insert_scripts files="../js/utils.js,i18n.js"}
<div class=" x_panel">
<form method="post" action="coupon_promote_manage.php" name="theForm" onSubmit="return validate()" class="form-horizontal form-label-left">
<div class=" x_panel">
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">名稱</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input class="form-control" name="promote_name" type="text" id="promote_name" value="{$coupon_promote.promote_name}" maxlength="60" />
      <inpty type="hidden" value="1" name="promote_type" />
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">描述</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <textarea class="form-control col-md-7 col-xs-12" id="promote_desc" name="promote_desc" rows="5" cols="54" placeholder="">{$coupon_promote.promote_desc}</textarea>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">信用卡(BIN)</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <textarea class="form-control col-md-7 col-xs-12" id="promote_bin" name="promote_bin" rows="5" cols="54" placeholder="">{$coupon_promote.bin}</textarea>
    </div>
  </div>


  <div class="form-group">
    <div class="ln_solid"></div>
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <input type="submit" class="form-btn btn btn-primary" value="{$lang.button_submit}" />
      <input type="hidden" name="id" value="{$coupon_promote.promote_id}" />
      <input type="hidden" name="act" value="{$insert_or_update}" />
    </div>
  </div>
</div>
</form>
</div>

{literal}
<script language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
//    startCheckOrder();
  //  changeType();
}
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required('promote_name', '請填寫名稱');
    return validator.passed();
}

var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};
var localizableFieldsMapping = {};
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
