{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
  <div class="form-div col-md-12 col-sm-12 col-xs-12">

  </div>
<!-- start tag list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive ">

<table class="table table-striped table-bordered bulk_action" id="coupon_promote">
  <thead>
      <tr class="headings">
      <th data-id="promote_id" data-key="promote_id" data-sort="0">編號
      </th>
      <th data-id="promote_name">名稱</th>
      <th class="actionsCol" data-id="_action" data-sort="0">操作</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
<!-- end tag list -->
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
  var $tagTable = yoho_dataTable();

</script>
