<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form action="javascript:searchCoupon()" name="searchForm" class="form-inline">
      <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
      <!-- 关键字 -->
      {$lang.keyword} <input type="text" class="form-control" name="keyword" size="17" value="{$keyword}" placeholder="優惠券名稱/優惠券號碼" />
      <input type="submit" value="{$lang.button_search}" class="form-btn btn btn-success" />
    </form>
</div>
<script language="JavaScript">
    var $filter = []; 
    function searchCoupon() {
        $filter = [];
        $filter['keyword'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
        $filter['page'] = 1;
        // Set dynamic parameters for the data table
        $('#coupon').data('dt_params', $filter);
  
        // Redraw data table, causes data to be reloaded
        $('#coupon').DataTable().draw();
    } 
</script>