
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
  <!-- 優惠券搜索 -->
  {include file="coupon_search.htm"}
  <!-- 優惠券列表 -->
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

  <table class="table table-striped table-bordered bulk_action" id="coupon">
    <thead>
      <tr>
        <th data-id="coupon_id" data-key="coupon_id">{$lang.record_id}</th>
        <th data-id="coupon_name">優惠券名稱</th>
        <th data-id="coupon_code">優惠券號碼</th>
        <th data-id="coupon_amount">折扣金額</th>
        <th data-id="coupon_discount">折扣比例</th>
        <th data-id="free_shipping" data-type="toggle">免運費</th>
        <th data-id="cartwide" data-type="toggle">全單計算</th>
        <th data-id="goods_list" data-value="have_goods" data-type="toggle">產品限定</th>
        <th data-id="users_list" data-value="have_users" data-type="toggle">會員限定</th>
        <th data-id="min_goods_amount">最低訂單金額</th>
        <th data-id="user_used_exclude_os_unconfirmed">已使用人數(已付款)</th>
        <th data-id="user_used_include_os_unconfirmed">已使用人數(未付款)</th>
        <th data-id="exclusive" data-type="toggle">必須單獨使用</th>
        <th data-id="sale_exclude" data-type="toggle">報表中排除</th>
        <th data-id="start_time" data-value="start_date">開始時間</th>
        <th data-id="end_time" data-value="end_date">結束時間</th>
        {if $allow_manage}<th class="actionsCol" data-id="_action">{$lang.handler}</th>{/if}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </div>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
  var $table = yoho_dataTable();
</script>



