{include file="pageheader.htm"}
{include file="datatables_header.htm"}

<div class="x_panel">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action" id="#">
  <thead>
    <tr>
      <th data-id="log_id">{$lang.record_id}</th>
      <th data-id="coupon_code">優惠券號碼</th>
      <th data-id="user_name" data-value="display_name">會員</th>
      <th data-id="use_time" data-value="use_date">使用時間</th>
      <th data-id="order_id" data-value="order_sn">使用訂單</th>
    </tr>
  </thead>
</table>
</div>
</div>

{include file="pagefooter.htm"}
<script>
  yohoTable.query = 'query_log';
  $table = yoho_dataTable();
</script>