{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}

 {insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form name="TimeInterval" action="" class="form-inline">
        {$lang.start_date}&nbsp;
        <input class="form-control" name="start_date" id="start_date" value='{$start_date}' data-type="date" type="text" />
        {$lang.end_date}&nbsp;
        <input class="form-control" name="end_date" id="end_date" value='{$end_date}' data-type="date" type="text" />
        供應商&nbsp;
        <select class="form-control" name="supplier_id">
            <option value="0">- 所有供應商 -</option>
            {foreach from=$suppliers item=supplier}
            <option value="{$supplier.supplier_id}" {if $supplier.supplier_id eq $filter.supplier} selected="selected" {/if}>{$supplier.supplier_name}</option>
            {/foreach}
        </select>
        類型&nbsp;
        <select class="form-control" name="txn_type">
            <option value="0">- 所有交易 -</option>
            <option value="1" {if $filter.txn_type eq 1} selected="selected" {/if}>收入</option>
            <option value="2" {if $filter.txn_type eq 2} selected="selected" {/if}>支出</option>
        </select>
        備註&nbsp;
        <input class="form-control" name="txn_remark" type="text" id="txn_remark">
        <input type="checkbox" name="show_reversetxn" id="show_reversetxn" value="1" {if $filter.show_reversetxn}checked{/if}>顯示Reverse Transaction
        <input type="submit" name="submit" value="{$lang.query}" class="btn btn-success form-btn" />
    </form>
</div>
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
        <table class="table table-striped table-bordered bulk_action">
            <thead>
                <tr>
                    <th data-id="cn_txn_id" data-key="cn_txn_id">交易編號</th>
                    <th data-id="name" data-url="credit_note_report.php?act=list&supplier_id={supplier_id}">供應商</th>
                    <th data-id="cn_sn" data-url="credit_note_report.php?act=list&cn_id={cn_id}">Credit Note編號</th>
                    <th data-id="create_at" data-value="create_date_formatted">建立時間</th>
                    <th data-id="remark" data-sort="0">備註</th>
                    <th data-id="amount" data-sort="0" data-value="amount_formatted">金額</th>
                    {if ($smarty.request.cn_id || $smarty.request.cn_sn) && !$smarty.request.show_reversetxn}
                    <th class="actionsCol" data-id="_action">{$lang.handler}</th>
                    {/if}
                </tr>
            </thead>
        </table>
    </div>
{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">
onload = function()
{
// getDownUrl();
}

var $table = yoho_dataTable();
function sort_by(type){
  if(document.getElementById('sort_by').value == type){
    document.getElementById('sort_order').value = document.getElementById('sort_order').value == "DESC" ? "ASC" : "DESC";
  } else {
    document.getElementById('sort_by').value = type;
    document.getElementById('sort_order').value = "DESC";
  }
  document.getElementById('selectForm').submit();
}

function getList()
{
    var frm =  document.forms['TimeInterval'];
    listTable.filter['start_date'] = frm.elements['start_date'].value;
    listTable.filter['end_date'] = frm.elements['end_date'].value;
    listTable.filter['supplier_id'] = frm.elements['supplier_id'].value;
    listTable.filter['txn_type'] = frm.elements['txn_type'].value;
    listTable.filter['txn_remark'] = frm.elements['txn_remark'].value;
    listTable.filter['show_reversetxn'] = document.getElementById('show_reversetxn').checked ? 1 : 0;
    listTable.filter['page'] = 1;
    listTable.loadList();
    getDownUrl();
}

function getDownUrl()
{
    var aTags = document.getElementsByTagName('A');
    for (var i = 0; i < aTags.length; i++)
    { 
        if (aTags[i].href.indexOf('download') >= 0)
        {
        if (listTable.filter['start_date'] == "")
        {
            var frm =  document.forms['TimeInterval'];
            listTable.filter['start_date'] = frm.elements['start_date'].value;
            listTable.filter['end_date'] = frm.elements['end_date'].value;
            listTable.filter['supplier_id'] = frm.elements['supplier_id'].value;
            listTable.filter['txn_type'] = frm.elements['txn_type'].value;
            listTable.filter['txn_remark'] = frm.elements['txn_remark'].value;
            listTable.filter['show_reversetxn'] = frm.elements['show_reversetxn'].checked
        }
        aTags[i].href = "credit_note_report.php?act=download&start_date=" + listTable.filter['start_date'] + "&end_date=" + listTable.filter['end_date'] + "&supplier_id=" + listTable.filter['supplier_id'] + "&txn_type=" + listTable.filter['txn_type'] + "&txn_remark=" + listTable.filter['txn_remark'] + '&show_reversetxn=' + listTable.filter['show_reversetxn'];
        }
    }
}
function deleteCreditNotePayment(cn_txn_id)
{
    if(cn_txn_id && confirm('您確定要刪除此項交易？'))
    {
        $.ajax({
            url: "credit_note_report.php",
            dataType: "json",
            data: {
                act: 'reverse_payment',
                cn_txn_id: cn_txn_id
            },
            success: function(result) {
                if(result.error) {
                    alert(result.message)
                } else {
                    var res = result.content;
                    var payment_method_opts = '';
                    $.each(res.payment_methods, function (i, payment_method) {
                        payment_method_opts += '<option value="' + payment_method.payment_method_id + '"' + (payment_method.payment_method_id == res.default_payment_method_id ? ' selected' : '') + '>' + payment_method.payment_type_name + ' - ' + payment_method.account_name + '</option>';
                    });
                    var $refund_pane = $('<div style="text-align: center; padding: 30px 20px;">' +
                    '<div class="notice" style="text-align: left; margin-bottom: 8px;">' +
                    '若移除採購訂單交易，將會：<br>1. 在 Accounting System 返還已付之款項<br>2. 該次交易牽涉的所有Credit Note會一併返還' +
                    '</div>' +
                    '<table border="0" width="100%">' +
                    '<tr>' +
                    '<th align="right">返還方式：</th>' +
                    '<td align="left"><select name="payment_method_id" style="width: 100%;">' + payment_method_opts + '</select></td>' +
                    '</tr>' +
                    '<tr>' +
                    '<th align="right">戶口返還金額：</th>' +
                    '<td align="left">' + res.refund_amount_formatted + '</td>' +
                    '</tr>' +
                    '<tr><td colspan="2"><input class="btn btn-primary" type="button" value="返還"></td></tr>' +
                    '</table>' +
                    '</div>');
                    $popup = modal.create("移除交易", $refund_pane, false, "md");
                    modal.show($popup)
                    var postToApproveResponse = function (res) {
                        alert(res.content);
                        if (res.error == 0)
                        {
                            listTable.loadList();
                            modal.hide($popup);
                        }
                    }
                    $refund_pane.find('input[type="button"][value="返還"]').click(function () {
                        Ajax.call('credit_note_report.php?act=reverse_credit', 'cn_txn_id='+cn_txn_id+'&payment_method_id='+$('select[name=payment_method_id]').val(), postToApproveResponse, 'POST', 'JSON');
                    });
                }
            }
        })
        
        // Ajax.call('credit_note_report.php?act=reverse_credit', 'cn_txn_id='+cn_txn_id, postToApproveResponse, 'POST', 'JSON')
    }
}
{/literal}
</script>