
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<style>
.zero.hide{
    display: none
}
</style>
<div class=" x_panel">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <span style="float:right"><input class="flat" id="non_zero" name="non_zero" type="checkbox" value="1" onClick="show_hidden();"> 顯示結餘為0之Credit Note</span>

    {if $act eq 'summary'}
    <table class="table table-striped table-bordered bulk_action ">
        <thead>
            <tr>
                <th data-id="supplier_id" data-key="supplier_id">{$lang.record_id}</th>
                <th data-id="supplier_name" data-url="credit_note_report.php?act=list_credit&supplier_id={supplier_id}">供應商名稱</th>
                <th data-id="supplier_balance">帳戶結餘</th>
                <th class="actionsCol" data-id="_action">{$lang.handler}</th>
            </tr>
        </thead>
    </table>
    {elseif $act eq 'list_credit'}
    <table id="list_order" class="table table-striped table-bordered bulk_action ">
        <thead>
            <tr>
                <th data-id="cn_id" data-key="cn_id">序號</th>
                <th data-id="supplier_id" data-value="name" data-url="credit_note_report.php?act=list_credit&supplier_id={supplier_id}">供應商名稱</th>
                <th data-id="cn_sn" data-url="credit_note_report.php?act=list&cn_id={cn_id}">{$lang.record_id}</th>
                <th data-id="curr_amount" data-value="curr_amount_balance">結餘</th>
                <th data-id="remark" data-sort="0">備注</th>
            </tr>
        </thead>
    </table>
    {/if}
</div>
</form>
</div>
{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

yohoTable.query = {if $suppliers}'query_summary'{else}'query_list_credit'{/if};
yohoTable.rowCallback = function($row, $cn, dataIndex) {
    if ($cn.curr_amount == 0) $($row).addClass('zero hide')
}
var $table = yoho_dataTable();
function show_hidden(){
    $('.zero').toggleClass('hide');
}
function sort_by(type){
  if(document.getElementById('sort_by').value == type){
    document.getElementById('sort_order').value = document.getElementById('sort_order').value == "DESC" ? "ASC" : "DESC";
  } else {
    document.getElementById('sort_by').value = type;
    document.getElementById('sort_order').value = "DESC";
  }
  document.getElementById('selectForm').submit();
}

{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
//-->
</script>
{/literal}

