{include file="pageheader.htm"}

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
  {insert_scripts files="actg.js"}

<form action="credit_note_report.php" method="post" name="form">
    <div class=" x_panel">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <th width="30%"></th>
                <th width="70%"></th>
            </tr>
            <tr>
                <td class="label">供應商</td>
                <td>
                    <select name="supplier_id">
                        <option value="0"> -- 選擇供應商 -- </option>
                        {foreach from=$supplier_list item=supplier}
                        <option value="{$supplier.supplier_id}">{$supplier.name}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr class="cn">
                <td class="label">Credit Note</td>
                <td>
                    Credit Note編號：
                    <span id="cn_sns"></span>
                    <br> 總金額：
                    <span id="due_amount">HK$0.00</span>
                    <br>
                    <input type="hidden" id="cn_id" name="cn_id" value="0"> 選擇Credit note
                    <input type="button" class="button cn" value="重新整理">
                    <div class="list-div cn" id="cn_container" style="width:280px"></div>
                </td>
            </tr>
            <tr>
                <td class="label">操作員</td>
                <td>
                    <select name="operator" style="width: 280px;">
                        <option value="">{$lang.select_please}</option>
                        {foreach from=$salesperson_list item=salesperson}
                        <option{if $salesperson eq $smarty.session.admin_name} selected="selected" {/if}>{$salesperson}</option>
                            {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">帳戶</td>
                <td>
                    <select name="account_id" style="width: 280px;">
                        <option value="0">{$lang.select_please}</option>
                        {foreach from=$accounts item=acc}
                        <option value="{$acc.account_id}">{$acc.account_name} - {$acc.currency_name}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">金額</td>
                <td>
                    <input id="amount" name="amount" type="text" style="width: 280px;" value="0" />
                </td>
            </tr>
            <tr>
                <td class="label">全數付款</td>
                <td>
                    <input type="hidden" name="fully_paid" value="0">
                    <input type="checkbox" name="fully_paid" value="1" checked="checked"> 我確認這個訂單已全數付款
                    <br>
                    <span class="notice-span">如仍有尾數未付，請取消勾選這項</span>
                </td>
            </tr>
            <tr>
                <td class="label">付款方式</td>
                <td>
                    {foreach from=$payment_types item=type name=foo}
                    <label>
                        <input type="radio" name="payment_type_id" value="{$type.payment_type_id}" {if $smarty.foreach.foo.first} checked="checked"
                            {/if}> {$type.payment_type_name}
                    </label>
                    {/foreach}
                </td>
            </tr>
            <tr>
                <td class="label">即時交易</td>
                <td>
                    <input type="hidden" name="completed" value="0">
                    <input type="hidden" name="due" value="{$due}">
                    <input type="checkbox" name="completed" value="1" checked="checked">
                    <br>
                    <span class="notice-span">一般交易即時完成，支票/期票等可以取消勾選這項</span>
                </td>
            </tr>
            <tr>
                <td class="label">銀行時間</td>
                <td>
                    <input name="bank_date" type="text" id="bank_date" size="22" value="" readonly="readonly" />
                    <input type="button" id="bank_date_btn" onclick="return showCalendar('bank_date', '%Y-%m-%d %H:%M', '24', false, 'bank_date_btn');"
                        value="{$lang.btn_select}" class="btn btn-primary" />
                </td>
            </tr>
            <tr>
                <td class="label">會計月份</td>
                <td>
                    <select name="expense_year" type="text" id="expense_year">
                        <option value="0"></option>
                    </select> 年
                    <select name="expense_month" type="text" id="expense_month">
                        <option value="0"></option>
                    </select> 月
                </td>
            </tr>
            <tr>
                <td class="label">備注</td>
                <td>
                    <textarea name="remark" style="width: 280px;"></textarea>
                </td>
            </tr>
            <tr align="center">
                <td colspan="2">
                    <input type="hidden" name="act" value="insert_credit" />
                    <input type="submit" class="btn btn-primary" name="Submit" value="{$lang.button_submit}" />
                    <input type="reset" class="btn btn-primary" name="Reset" value="{$lang.button_reset}" />
                </td>
            </tr>
        </table>
    </div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
$(function () {
    for(var i = (new Date()).getFullYear(); i >= 2017; i--)
        $('#expense_year').append('<option value="'+i+'">'+i+'</option>')
    for(var i = 1; i <= 12; i++)
        $('#expense_month').append('<option value="'+i+'">'+i+'</option>')
    $('#expense_year').val((new Date()).getFullYear());
    $('#expense_month').val((new Date()).getMonth()+1);
    $('.cn').hide();
    $(document).on('change','.cn_check',function(e){
        var due = 0, cn_ids = [], cn_sns = [];
        $('.cn_check').get().map(function(v){
            $(v).prop('checked') ? (
                due += Number($(v).data('amount')),
                cn_ids.push($(v).val()),
                cn_sns.push($(v).data('sn'))
            ) : true
        })
        due = -due;
        $('#due_amount').text('HK$' + due.toFixed(2));
        $('#amount').val(due.toFixed(2));
        $('#cn_id').val(cn_ids.join(','))
        $('#cn_sns').html(cn_sns.reduce((p,c)=>p+='<tr><td>'+c+'</td></tr>',''))
    })
    $(document).on("change","#check_all",function(e){
        $('.cn_check').prop('checked',$('#check_all').prop('checked')).change();
    })
    $('.button.cn').click(function() {
        $.ajax({
        url: 'credit_note_report.php',
        dataType: 'JSON',
        data: {
            act: 'paid_credit',
            ajax: 1,
            supplier_id: $('select[name=supplier_id]').val()
        },
        success: function(res){
            $('.cn').show();
            $('#amount').val("0");
            $('#cn_sns').html("");
            $('#due_amount').text(" HK$0.00");
            if(!res.error){
            var table = '<table id="cn_table" style="text-align:center"><tr><th><input id="check_all" type="checkbox"></th><th>編號</th><th>目前金額</th></tr>';
            res.content.length > 0 
                ? res.content.map((v)=>table += '<tr><td><input class="cn_check" type="checkbox" data-amount="' + v.curr_amount + '" data-sn="' + v.cn_sn + '" value="' + v.cn_id + '" id="ch_'+ v.cn_id + '"></td><td>' + v.cn_sn + '</td><td id="am_'+ v.cn_id + '">HK$' + parseFloat(v.curr_amount).toFixed(2) + '</td></tr>')
                : table += '<tr><td colspan="3">沒有供應商之Credit Note</td></tr>';
            $('#cn_container').html(table + '</table>')
            }
        }
        })
    })
    $('select[name=supplier_id]').change(function(){
        $('.button.cn').click();
    })
});

{/literal}
//-->
</script> {include file="pagefooter.htm"}