{include file="pageheader.htm"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
{insert_scripts files="i18n.js"}
{insert_scripts files="dropzone.min.js"}
{insert_scripts files="Chart.min.js"}
{insert_scripts files="Chart.PieceLabel.min.js"}
<link rel="stylesheet" href="css/dropzone.min.css">
<script src="https://apis.google.com/js/api.js"></script>
<script src="js/base64.min.js"></script>
<link rel="stylesheet" href="css/crm.css">
<div class="x_panel">
    <div class="x_content">
        <div class="row" id="crm_container">
            <div id="offline_search_bar">
                <div class='input-group'>
                    <input class='form-control' name="offline_search_date" type='text' data-type="date" placeholder='付款日期'>
                    <span class='input-group-btn'>
                        <input name="offline_search_confirm" type='button' class='btn btn-info' value='確認'>
                    </span>
                </div>
                <div id="offline_search_result"></div>
            </div>
            <div class="col-md-1 mail_list_column" id="platform_nav">
                <a class="active" href="#dashboard" id="dashboard_tab" role="tab" data-toggle="tab" aria-expanded="true">
                    <div class="mail_list">
                        <img src="images/crm_logo/dashboard.png">
                    </div>
                </a>
                <a href="#gmail" id="gmail_tab" role="tab" data-toggle="tab" aria-expanded="true" data-init="loadEmail()">
                    <div class="mail_list">
                        <img src="images/crm_logo/gmail.png">
                    </div>
                </a>
                <a href="#chatra" id="chatra_tab" role="tab" data-toggle="tab" aria-expanded="true" data-init="loadChatra()">
                    <div class="mail_list">
                        <img src="images/crm_logo/chatra.png">
                    </div>
                </a>
                <!-- <a href="#aircall" id="aircall_tab" role="tab" data-toggle="tab" aria-expanded="true" data-init="loadAircall()">
                    <div class="mail_list">
                        <img src="images/crm_logo/aircall.png">
                    </div>
                </a> -->
                <!-- <a href="#wechat" id="wechat_tab" role="tab" data-toggle="tab" aria-expanded="true">
                    <div class="mail_list">
                        <img src="images/crm_logo/wechat.png">
                    </div>
                </a>
                <a href="#facebook" id="facebook_tab" role="tab" data-toggle="tab" aria-expanded="true">
                    <div class="mail_list">
                        <img src="images/crm_logo/facebook.png">
                    </div>
                </a> -->
                <a href="#twilio" id="twilio_tab" role="tab" data-toggle="tab" aria-expanded="true" data-init="loadTwilio()">
                    <div class="mail_list">
                        <img src="images/crm_logo/twilio.png">
                    </div>
                </a>
            </div>
            <div class="col-md-7" id="platform_content">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="dashboard" aria-labelledby="dashboard_tab">
                        <div id="dashboard_search">
                            <form class="form-inline">
                                <div class='input-group' style='margin-bottom: 7px;'>
                                    <span class='input-group-addon alert-info'>搜尋</span>
                                    <span class="input-group-btn">
                                        <select class="form-control" name="dashboard_search_type">
                                            <option value="-1">所有類別</option>
                                            {foreach from=$lang.ivr_type key=key item=val}
                                            <option value="{$key}">{$val}</option>
                                            {/foreach}
                                        </select>
                                    </span>
                                    <span class="input-group-btn">
                                        <select class="form-control" name="dashboard_search_status">
                                            <option value="-1">所有狀態</option>
                                            {foreach from=$lang.crm_status key=key item=val}
                                            <option value="{$key}">{$val}</option>
                                            {/foreach}
                                        </select>
                                    </span>
                                    <span class="input-group-btn">
                                        <select class="form-control" name="dashboard_search_platform">
                                            <option value="0">所有平台</option>
                                            {foreach from=$lang.crm_platform key=key item=val}
                                            <option value="{$key}">{$val}</option>
                                            {/foreach}
                                        </select>
                                    </span>
                                    <!-- <span class="input-group-btn">
                                        <select class="form-control" name="dashboard_search_priority">
                                            <option value="-1">優先次序</option>
                                            {foreach from=$lang.crm_priority key=key item=val}
                                            <option value="{$key}">{$val}</option>
                                            {/foreach}
                                        </select>
                                    </span> -->
                                    <span class='input-group-addon alert-default'><i class='fa fa-calendar-alt'></i></span>
                                    <input class='form-control' type='text' name='dashboard_date' data-type='daterange'>
                                    <span class='input-group-btn'>
                                        <button class='btn btn-info' type='button' onclick='loadDashboard()' style='margin: 0px'><i class='fa fa-search'></i></button>
                                    </span>
                                </div>
                                <button class='btn btn-warning' type='button' onclick='switchDashbord()' style='margin-left: 20px; padding: 9px 12px;'><i id="dashbord_switch" class='fa fa-chart-bar'></i></button>
                                <div class='input-group pull-right' style='margin-bottom: 7px; margin-right: 7px;'>
                                    <span class='input-group-btn'>
                                        <button id="dashboard_search_prev" class='btn btn-default' type='button' onclick='loadDashboard("prev")' style='margin: 0px' disabled><i class='fa fa-chevron-left'></i></button>
                                    </span>
                                    <input type="hidden" name="dashboard_search_max" value="0">
                                    <input type="hidden" name="dashboard_search_page" value="0">
                                    <span class='input-group-btn'>
                                        <button id="dashboard_search_next" class='btn btn-default' type='button' onclick='loadDashboard("next")' style='margin: 0px' disabled><i class='fa fa-chevron-right'></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="row dashboard_result dashboard_result_header">
                            <div class="col-md-1">查詢</div>
                            <div class="col-md-1">平台</div>
                            <div class="col-md-4">發送人</div>
                            <div class="col-md-1">類別</div>
                            <div class="col-md-1">狀態</div>
                            <div class="col-md-2">最近更新</div>
                            <div class="col-md-2">操作</div>
                        </div>
                        <div id="dashboard_result" class="dashboard_result"></div>
                        <div id="dashboard_stat"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="gmail" aria-labelledby="gmail_tab">
                        <div id="gmail_ticket_status" data-tid=""></div>
                        <div id="email_display" data-page="" data-tid=""></div>
                        <div id="email" data-tid=""></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="chatra" aria-labelledby="chatra_tab">
                        <div class="row">
                            <div class="col-md-4" id="chatra_nav"></div>
                            <div class="col-md-4" id="chatra_user_info"></div>
                            <div class="col-md-8" id="chatra_ticket_info">
                                <div id="chatra_ticket_status" data-tid=""></div>
                            </div>
                            <div class="col-md-8" id="chatra_display">
                                <div class="panel">
                                    <div class="panel-body"></div>
                                    <div class="panel-footer">
                                        <div class="input-group">
                                            <span class="input-group-addon btn btn-default"><i class="fa fa-paperclip"></i></span>
                                            <textarea class="form-control custom-control msg_input_area" style="resize:none" rows="4" id="chatra_textarea" data-button="chatra_send"></textarea>
                                            <span class="input-group-addon btn btn-default" id="chatra_send"><i class="fa fa-play"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div role="tabpanel" class="tab-pane fade" id="aircall" aria-labelledby="aircall_tab">
                        <div class="row">
                            <div class="col-md-5" id="aircall_nav"></div>
                            <div class="col-md-7" id="aircall_ticket_info">
                                <div id="aircall_ticket_status" data-tid=""></div>
                            </div>
                            <div class="col-md-7" id="aircall_display"></div>
                        </div>
                    </div> -->
                    <div role="tabpanel" class="tab-pane fade" id="wechat" aria-labelledby="wechat_tab"></div>
                    <div role="tabpanel" class="tab-pane fade" id="facebook" aria-labelledby="facebook_tab"></div>
                    <div role="tabpanel" class="tab-pane fade" id="twilio" aria-labelledby="twilio_tab">
                        <div class="row">
                            <div class="col-md-5" id="twilio_nav"></div>
                            <div class="col-md-7" id="twilio_ticket_info">
                                <div id="twilio_ticket_status" data-tid=""></div>
                            </div>
                            <div class="col-md-7" id="twilio_display"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="information"></div>
        </div>
    </div>
</div>
{include file="pagefooter.htm"}
<script>
    var admin_name = "{$smarty.session.admin_name}";
    admin_name = admin_name.charAt(0).toUpperCase() + admin_name.slice(1);
</script>
<script type="text/javascript" src="https://media.twiliocdn.com/sdk/js/client/v1.6/twilio.min.js"></script>
{if $crm_js}{$crm_js}{/if}