{if $ticket_status}
<h3 style="display: inline-block;">[#{$ticket.ticket_id}]</h3>
<div id="crm_status_label" style="display: inline-block; cursor: pointer;">
    <span>{$ticket.formatted_status}</span>
    <div class="dropdown pull-left" id="crm_type_link">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownStatusList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="display: none">
            狀態
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownStatusList" style="margin-top: 8px;">
            {foreach from=$lang.crm_status key=key item=val}
            {if $key && $key eq 2}
            <li>
                <label class="multiselect">
                    {$val}
                    <input type="checkbox" name="crm_status" value="{$key}" data-select="{if $ticket.status eq $key}1{else}0{/if}" data-tid="{$ticket_id}" data-multiselect="disable">
                    <span class="checkmark {if $ticket.status eq $key}selected{/if}">
                        {if $ticket.status eq $key}
                        <i class='fa fa-check'></i>
                        {/if}
                    </span>
                </label>
            </li>
            {/if}
            {/foreach}
        </ul>
    </div>
</div>
<div id="crm_type_label" class="{if !$ticket.type}editable{/if}" style="display: inline-block; {if !$ticket.type}cursor: pointer;{/if}">
    <span>{$ticket.formatted_type}</span>
    {if !$ticket.type}
    <div class="dropdown pull-left" id="crm_type_link">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownTypeList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="display: none">
            類別
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownTypeList" style="margin-top: 8px;">
            {foreach from=$lang.ivr_type key=key item=val}
            {if $key}
            <li>
                <label class="multiselect">
                    {$val}
                    <input type="checkbox" name="crm_type" value="{$key}" data-select="0" data-tid="{$ticket_id}" data-multiselect="disable">
                    <span class="checkmark"></span>
                </label>
            </li>
            {/if}
            {/foreach}
        </ul>
    </div>
    {/if}
</div>
<!-- <div id="crm_priority_label" style="display: inline-block; cursor: pointer;">
    <span>{if $ticket.formatted_priority}{$ticket.formatted_priority}{else}<span class='label label-default'>優先次序</span>{/if}</span>
    <div class="dropdown pull-left" id="crm_priority_link">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownPriorityList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="display: none">
            優先
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownPriorityList" style="margin-top: 8px;">
            {foreach from=$lang.crm_priority key=key item=val}
            {if $key}
            <li>
                <label class="multiselect">
                    {$val}
                    <input type="checkbox" name="crm_priority" value="{$key}" data-select="{if $ticket.priority eq $key}1{else}0{/if}" data-tid="{$ticket_id}" data-multiselect="disable">
                    <span class="checkmark {if $ticket.priority eq $key}selected{/if}">
                        {if $ticket.priority eq $key}
                        <i class='fa fa-check'></i>
                        {/if}
                    </span>
                </label>
            </li>
            {/if}
            {/foreach}
        </ul>
    </div>
</div> -->
{elseif !$mail}
<div class="email_page" id="{$currPageToken}" style="padding-top: 15px">
    <div class="row" id="email_search">
        <div class="col-md-2">
            <i class="fa fa-sync-alt btn btn-default" title="重新整理" id="refresh"></i>
            <i class="fa fa-edit btn btn-danger" title="撰寫郵件" id="new_draft">撰寫</i>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-btn" id="dopen">
                    <button class="btn btn-default dropdown-toggle disableClick" type="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-filter"></i><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li style="padding: 10px;">
                            {foreach from=$saved_labels key=key item=labels}
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdown_{$key}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {if $key eq 'category'}類別{elseif $key eq 'system'}系統標籤{else}標籤{/if}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-scroll" aria-labelledby="dropdown_{$key}">
                                    {foreach from=$labels item=row}
                                    <li>
                                        <label class="multiselect">
                                            {$row.name}
                                            <input type="checkbox" name="{$key}" value="{$row.key}:{$row.value}" data-select="{if $row.class eq 'selected'}1{elseif $row.class eq 'intermediate'}2{else}0{/if}" data-accept="intermediate">
                                            <span class="checkmark {$row.class}">
                                                {if $row.class eq 'selected'}
                                                <i class='fa fa-check'></i>
                                                {elseif $row.class eq 'intermediate'}
                                                <i class='fa fa-times'></i>
                                                {/if}
                                            </span>
                                        </label>
                                    </li>
                                    {/foreach}
                                </ul>
                            </div>
                            {/foreach}
                        </li>
                    </ul>
                </span>
                <input type="text" class="form-control" name="mail_query" value="{$query}">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" id="email_search_btn"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <i class="fa fa-chevron-right btn btn-default pull-right" title="下一頁" id="next_inbox" onclick="inboxPage('{$pageToken}')"></i>
            <i class="fa fa-chevron-left btn btn-default pull-right" title="上一頁" id="prev_inbox" onclick="inboxPage(this)"></i>
            <i class='fa fa-archive btn btn-info pull-right' id='mass_archive' title="批量"> 封存</i>
        </div>
    </div>
    <div class="row" id="inbox_container">
        <div class="col-md-12">
            {foreach from=$mail_list item=row key=mail_id}
            <div class="ml_div{foreach from=$row.labels item=label} {$label}{/foreach}" data-mid="{$mail_id}" data-token="{$currPageToken}" data-tid="{$row.ticket_id}">
                <div class="row">
                    <div class="col-md-1"><input name="archiveMail" value="{$mail_id}" type="checkbox" class="flat"><span class="pull-right">{$row.ticket_id}</span></div>
                    <div class="ml_user col-md-2" title="{$row.info.From_mail}">{$row.info.From_user|default:$row.info.From_mail}</div>
                    {if $row.info.Amount}
                    <div class="ml_subject col-md-3">{$row.info.Subject|default:(沒有主旨)}</div>
                    <div class="ml_subject col-md-2"><span class="pull-right">{$row.info.Amount}</span></div>
                    {else}
                    <div class="ml_subject col-md-5">{$row.info.Subject|default:(沒有主旨)}</div>
                    {/if}
                    <div class="col-md-2" style="text-align: center; padding-left: 5px;     padding-right: 5px;">
                        {if $row.ticket.type eq 3 && $row.ticket.status neq 3 && $row.info.Amount}<span class=" btn btn-sm btn-success payment_confirm" style="margin: 0px; padding: 1px 5px" data-tid="{$row.ticket_id}" data-mid="{$mail_id}">完成</span>
                        {else}
                        <!-- <div class="ml_priority">{$row.ticket.priority_formatted}</div> -->
                        <div class="ml_status">{$row.ticket.status_formatted}</div>
                        <div class="ml_type">{$row.ticket.type_formatted}</div>
                        {/if}
                    </div>
                    <div class="ml_date col-md-2">{$row.ticket.last_update}</div>
                </div>
            </div>
            {foreachelse}
            <div class="ml_div" data-mid="" data-token="" data-tid="">{$lang.no_records}</div>
            {/foreach}
        </div>
    </div>
</div>
{elseif $mail}
<script>
$(function(){
    {if $order_sn}
    $("#info_search_form input[name=order_sn]").val("{$order_sn}");
    {elseif $mail.From_mail neq 'info@yohohongkong.com'}
    $("#info_search_form input[name=user_name]").val("{$user_name}");
    {/if}
    downloadAttachment();
    loadInfo();
})
</script>
{if $mail_only}
<div class="row">
    <div class="col-md-12">
        {if $mail.From_mail eq 'info@yohohongkong.com'}
        <div class="user_icon_img">
            <a href="javascript:void(0)"><img src="{$mail.avatar}"></a>
        </div>
        {else}
        <div class="user_icon">
            <i class="fa fa-user"></i>
        </div>
        {/if}
        <div style="float: left; cursor: pointer;" onclick="searchEmail('from:{$mail.From_mail}')">
            <span class="from_user">{$mail.From_user|default:$mail.From_mail} {if $mail.admin_reply}<span class="from_admin_user">{$mail.admin_reply}</span>{/if}</span><br>
            <span class="from_mail">{$mail.From_mail}</span>
        </div>
        <div style="float: right; margin-right: 15px;">
            <span>{$mail.Date}</span>
            {if $is_draft}
            <span class="label label-warning" style='font-size: 14px; font-weight: 500;'>草稿</span>
            {/if}
            <br>
        </div>
        <div class="clearfix"></div>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">{$mail.html_body}</div>
</div>
{else}
<div class="row" id="email_search">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                <i class="fa fa-arrow-left btn btn-default" title="返回收件匣" id="back_inbox"></i>
                <h4 id="email_title" style="display: inline;">
                    {$mail.Subject|default:(沒有主旨)}
                </h4>
            </div>
            <div class="col-md-4">
                <div class="dropdown" style="display: inline-flex;" title="標籤">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownSysLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-tag"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-scroll" aria-labelledby="dropdownSysLabel">
                        {foreach from=$saved_labels.label key=key item=row}
                        <li>
                            <label class="multiselect">
                                {$row.name}
                                <input type="checkbox" name="modify" value="{$key}" data-select="{if $row.class eq 'selected'}1{else}0{/if}" data-mail="{$smarty.request.mail_id}">
                                <span class="checkmark {$row.class}">
                                    {if $row.class eq 'selected'}
                                    <i class='fa fa-check'></i>
                                    {/if}
                                </span>
                            </label>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="pull-right" style="margin-right: 10px;">
            {if !$is_draft}
            <i class='fa fa-archive btn btn-info' id='archive' data-mid="{$thread_id}" data-ticket="{$ticket_id}"> 封存</i>
            <i class='fa fa-reply btn btn-warning' id='reply' data-tid="{$thread_id}" data-mid="{$smarty.request.mail_id}" data-ticket="{$ticket_id}"> 回覆</i>
            <span class="btn btn-sm" onclick="window.open('https://mail.google.com/mail/u/0/#inbox/{$smarty.request.mail_id}')" title="在Gmail中開啟"><i class="fa fa-external-link-alt"></i></span>
            {/if}
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-md-12" id="email_body">
        {foreach from=$thread key=key item=msg}
        <div class="thread_item {if $key eq $last_msg_id}active{/if}" {if $key neq $last_msg_id}data-mid="{$key}"{/if}>
            {if $key eq $last_msg_id}
            <div class="row">
                <div class="col-md-12">
                    {if $mail.From_mail eq 'info@yohohongkong.com'}
                    <div class="user_icon_img">
                        <a href="javascript:void(0)"><img src="{$mail.avatar}"></a>
                    </div>
                    {else}
                    <div class="user_icon">
                        <i class="fa fa-user"></i>
                    </div>
                    {/if}
                    <div style="float: left; cursor: pointer;" onclick="searchEmail('from:{$mail.From_mail}')">
                        <span class="from_user">{$mail.From_user|default:$mail.From_mail} {if $mail.admin_reply}<span class="from_admin_user">{$mail.admin_reply}</span>{/if}</span><br>
                        <span class="from_mail">{$mail.From_mail}</span>
                    </div>
                    <div style="float: right; margin-right: 15px;">
                        <span>{$mail.Date}</span>
                        {if $is_draft}
                        <span class="label label-warning" style='font-size: 14px; font-weight: 500;'>草稿</span>
                        {/if}
                        <br>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">{$mail.html_body}</div>
            </div>
            {else}
            <div class="row">
                <div class="col-md-12">
                    {if $msg.info.From_mail eq 'info@yohohongkong.com'}
                    <div class="user_icon_img">
                        <a href="javascript:void(0)"><img src="{$msg.avatar}"></a>
                    </div>
                    {else}
                    <div class="user_icon">
                        <i class="fa fa-user"></i>
                    </div>
                    {/if}
                    <div style="float: left; cursor: pointer;">
                        <span class="from_user">{$msg.info.From_user|default:$msg.info.From_mail} {if $msg.reply}<span class="from_admin_user">{$msg.reply}</span>{/if}</span><br>
                        <span class="from_mail">{$msg.info.From_mail}</span>
                    </div>
                    <div style="float: right; margin-top: 15px; margin-right: 15px;">
                        <span>{$msg.info.Date}</span>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                </div>
            </div>
            {/if}
        </div>
        {/foreach}
    </div>
</div>
{/if}
{/if}