{if $tickets}
{foreach from=$tickets key=key item=ticket}
<div class="chatra_nav_item" data-tid="{$ticket.ticket_id}">
    <div class="row">
        <div class="col-md-2">
            <div class="chatra_icon" style="background: {$ticket.user.color}">
                <i class="fa fa-user"></i>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8">
                    <span class="from_user" style="display: block;">{$ticket.user.displayedName}</span>
                </div>
                <div class="col-md-4">
                    <span class="pull-right">{$ticket.msg.date}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <span class="from_mail" style="display: block;">{$ticket.msg.text}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{if $key eq 9}
<div id="chatra_nav_load" data-page="{$page}">
    <div class="row" style="margin: 0px">
        <div class="col-md-12">
            <div id="chatra_nav_load_icon">
                <i class="fa fa-angle-double-down"></i>
            </div>載入更多
        </div>
    </div>
</div>
{/if}
{/foreach}
{elseif $only_message}
<script>
$(function(){
    {if $same_date}
    $(".chatra_date_divide.page_{$lastpage}_0").remove();
    {/if}
})
</script>
{if $page}
<div class="row chatra_message_load">
    <div class="col-md-12" style="text-align: center">
        <span class="label label-default" style="padding: 5px 10px; cursor: pointer;" onclick="displayChatra({$ticket_id}, {$page})"><i class="fa fa-angle-double-up"></i> 載入更多</span>
    </div>
</div>
{/if}
{foreach from=$messages item=message key=key}
{if $message.date}
<div class="row chatra_date_divide page_{$page}_{$key}">
    <div class="col-md-12" style="text-align: center">
        <span class="label label-info" style="line-height: 2;">
            {if $today eq $message.date}今日{elseif $yesterday eq $message.date}昨日{else}{$message.date}{/if}
        </span>
    </div>
</div>
{/if}
<div class="row chatra_message {if $message.msg.type eq 'agent'}chatra_message_agent{/if}">
    <div class="col-md-6 chatra_message_content {if $message.msg.type eq 'agent'}pull-right{/if}">
        {if $message.user}
        <div class="row chatra_message_info">
            <div class="col-md-8 from_user">{$message.user.displayedName}</div>
        </div>
        {/if}
        <div class="row chatra_message_body">
            <div class="col-md-9">
                {if $message.msg.file}
                <a class='email_attachment a_dl chatra_attachment' href='{$message.msg.file.url}' download='{$message.msg.file.name}'>
                    {if $message.msg.file.is_image}
                    <img src="{$message.msg.file.url}" title='{$message.msg.file.name}'>
                    {else}
                    <div class='a_title'>{$message.msg.file.name}</div>
                    <div class='a_name'>
                        <div class='f_name'>{$message.msg.file.name}</div>
                        <div class='f_dl'>下載 <span>({$message.msg.file.formatted_size})</span></div>
                    </div>
                    <div class='f_ext'><i class='f_icon fa fa-file{$message.msg.file.icon}'></i><div></div></div>
                    {/if}
                </a>
                {else}
                {$message.msg.text}
                {/if}
            </div>
            <div class="col-md-3"><span class="pull-right">{$message.time}</span></div>
        </div>
    </div>
</div>
{/foreach}
{elseif $messages}
<script>
$(function(){
    {if $order_sn}
    $("#info_search_form input[name=order_sn]").val("{$order_sn}");
    {elseif $user_name}
    $("#info_search_form input[name=user_name]").val("{$user_name}");
    {/if}
    loadInfo();
})
</script>
<div class="panel">
    <div class="panel-body">
        {if $page}
        <div class="row chatra_message_load">
            <div class="col-md-12" style="text-align: center">
                <span class="label label-default" style="padding: 5px 10px; cursor: pointer;" onclick="displayChatra({$ticket_id}, {$page})"><i class="fa fa-angle-double-up"></i> 載入更多</span>
            </div>
        </div>
        {/if}
        {foreach from=$messages item=message key=key}
        {if $message.date}
        <div class="row chatra_date_divide page_{$page}_{$key}">
            <div class="col-md-12" style="text-align: center">
                <span class="label label-info" style="line-height: 2;">
                    {if $today eq $message.date}今日{elseif $yesterday eq $message.date}昨日{else}{$message.date}{/if}
                </span>
            </div>
        </div>
        {/if}
        <div class="row chatra_message {if $message.msg.type eq 'agent'}chatra_message_agent{/if}">
            <div class="col-md-6 chatra_message_content {if $message.msg.type eq 'agent'}pull-right{/if}">
                {if $message.user}
                <div class="row chatra_message_info">
                    <div class="col-md-8 from_user">{$message.user.displayedName}</div>
                </div>
                {/if}
                <div class="row chatra_message_body">
                    <div class="col-md-9">
                        {if $message.msg.file}
                        <a class='email_attachment a_dl chatra_attachment' href='{$message.msg.file.url}' download='{$message.msg.file.name}'>
                            {if $message.msg.file.is_image}
                            <img src="{$message.msg.file.url}" title='{$message.msg.file.name}'>
                            {else}
                            <div class='a_title'>{$message.msg.file.name}</div>
                            <div class='a_name'>
                                <div class='f_name'>{$message.msg.file.name}</div>
                                <div class='f_dl'>下載 <span>({$message.msg.file.formatted_size})</span></div>
                            </div>
                            <div class='f_ext'><i class='f_icon fa fa-file{$message.msg.file.icon}'></i><div></div></div>
                            {/if}
                        </a>
                        {else}
                        {$message.msg.text}
                        {/if}
                    </div>
                    <div class="col-md-3"><span class="pull-right">{$message.time}</span></div>
                </div>
            </div>
        </div>
        {/foreach}
    </div>
    <div class="panel-footer">
        <div class="input-group">
            <span class="input-group-addon btn btn-default"><i class="fa fa-paperclip"></i></span>
            <textarea class="form-control custom-control" style="resize:none" rows="4"></textarea>     
            <span class="input-group-addon btn btn-default"><i class="fa fa-play"></i></span>
        </div>
    </div>
</div>    
{/if}