{$sql}
{foreach from=$list item=row}
<div class="row">
    <div class="col-md-1">{$row.ticket_id}</div>
    <div class="col-md-1"><img class="dashboard_platform" title="{$row.formatted_platform}" src="images/crm_logo/{$row.platform_img}.png"></div>
    <div class="col-md-4">{$row.sender}</div>
    <div class="col-md-1">{$lang.ivr_type_label[$row.type]}</div>
    <div class="col-md-1">{if $row.status eq 3 && $row.platform eq 6}{$lang.crm_status_label_auto}{else}{$lang.crm_status_label[$row.status]}{/if}</div>
    <div class="col-md-2">{$row.formatted_create_at}</div>
    <div class="col-md-2">{if !($row.status eq 3 && $row.platform eq 6) && !($row.status eq 0 && $row.type eq 0 && $row.platform eq 6)}{$row.actions}{/if}</div>
</div>
{foreachelse}
<div class="row">
    <div class="col-md-12"><b>{$lang.no_records}</b></div>
</div>
{/foreach}
<script>
$(function(){
    var titles = {
        'total_ticket': "總查詢數",
        'total_status': "查詢狀態",
        'total_type': "查詢類別",
        'total_priority': "查詢優次",
        'total_platform': "平台來源",
        'total_process': "未完成查詢",
        'total_twilio': "Twilio 接聽比率",
    }
    var stat = $.parseJSON('{$data|json_encode}');
    var max = Math.floor(stat['total_record'] / 50);
    var page = parseInt($("input[name=dashboard_search_page]").val());
    $("input[name=dashboard_search_max]").val(max);
    $("#dashboard_search_prev").prop("disabled", page > 0 ? false : true);
    $("#dashboard_search_next").prop("disabled", max > page ? false : true);
    if (page == 0) {
        var colors = ["#0082ca", "#25cad2", "#f9485c", "#b8d432", "#9b59b6"];
        $('div.dashboard_data').remove();
        for (var key in stat) {
            var color = "";
            var icon = "";
            if (key == "total_ticket") {
                color = "#3498DB";
                icon = "ticket-alt";
            } else if (key == "total_process") {
                color = "#FD495C";
                icon = "eye-slash";
            }
            if (color != "" && icon != "") {
                $('<div class="col-md-6 dashboard_data"><div class="tile-stats"><div class="icon"><i class="fa fa-' + icon + '" style="color: ' + color + '"></i></div><div class="count" style="color: ' + color + '">' + stat[key] + '</div><h3>' + titles[key] + '</h3></div></div>').appendTo("#dashboard_stat");
            }
        }
        for (var key in stat) {
            if (key == "total_status" || key == "total_type" || key == "total_platform" || key == "total_twilio") {
                var labels = [];
                var data = [];
                var backgroundColor = [];
                $('<div class="col-md-4 dashboard_data"><div class="dashboard_chart"><canvas id="' + key + '" height="250"></canvas></div></div>').appendTo("#dashboard_stat");
                var ctx = document.getElementById(key).getContext("2d");
                for (var label in stat[key])  {
                    labels.push(label);
                    data.push(stat[key][label]);
                    backgroundColor.push(colors[backgroundColor.length % colors.length]);
                }
                var status_chart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: data,
                            backgroundColor: backgroundColor
                        }]
                    },
                    options: {
                        pieceLabel: {
                            render: 'percent',
                            fontColor: '#ffffff',
                            position: 'border',
                            fontSize: 14
                        },
                        title: {
                            display: true,
                            position: 'bottom',
                            text: titles[key]
                        },
                    }
                })
            }
        }
    }
})
</script>