<div id="info_frame" class="container">
    <div class="info_tab_container">
        <a class="col-md-6 info_tab {if $tab eq 'crm_info'}active{/if}" href="#crm_info" id="crm_info_tab" role="tab" data-toggle="tab" aria-expanded="true">客戶服務</a>
        <a class="col-md-6 info_tab {if $tab eq 'basic_info'}active{/if}" href="#basic_info" id="basic_info_tab" role="tab" data-toggle="tab" aria-expanded="true">訂單 / 會員</a>
    </div>
    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <form class="inline-form" id="info_search_form" action="crm.php">
                    <input type="hidden" name="act" value="info">
                    <input type="hidden" class="form-control" name="hidden_order_sn" value="{$order_sn}">
                    <input type="hidden" class="form-control" name="hidden_user_name" value="{$user_name}">
                    <div class="input-group">
                        <span class="input-group-addon alert-default">查詢</span>
                        <input type="text" class="form-control" name="ticket_id" value="">
                        <span class="input-group-addon alert-default">電話</span>
                        <input type="text" class="form-control" name="user_name" value="">
                        <span class="input-group-addon alert-default">訂單號</span>
                        <input type="text" class="form-control" name="order_sn" value="">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" onclick="loadInfo();">{$lang.query}</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade {if $tab eq 'crm_info'}active in{/if}" id="crm_info" aria-labelledby="crm_info_tab">
            <div class="row">
                <div class="col-md-12">
                    {foreach from=$crm_list item=crm}
                    <div class="crm_list">
                        <table class="table table-striped">
                            <tr>
                                <th>查詢編號</th><td><a href="javascript:$('#info_search_form input[name=ticket_id]').val('{$crm.ticket_id}');loadInfo();">{$crm.ticket_id}</a></td>
                            </tr>
                            <tr>
                                <th>更新日期</th><td>{$crm.last_update}</td>
                            </tr>
                            <tr>
                                <th>平台</th><td>{$crm.platform}</td>
                            </tr>
                            <tr>
                                <th>查詢狀態</th><td>{$crm.label_type} {$crm.label_status} {$crm.label_priority}</td>
                            </tr>
                        </table>
                        {if $crm_detail}
                        <table class="table table-striped">
                            <tr>
                                <th>{if $crm.platform neq "Gmail"}<i class="fa fa-search" onclick="displayTicketDetail({$crm.ticket_id}, '{$crm.platform}')" style="cursor: pointer;"></i>{/if}</th>
                                <th>發送人</th>
                                <th>發送時間</th>
                            </tr>
                            
                            {foreach from=$crm.message item=msg key=key}
                            <tr>
                                {if $crm.platform eq "Gmail"}
                                <td><i class="fa fa-search" onclick="$('#gmail_tab .mail_list').click();displayEmail('{$msg.unique_id}', $('#email_display').data('currPage'), {$crm.ticket_id})" style="cursor: pointer;"></i></td>
                                <td onclick="$('#gmail_tab .mail_list').click();$('#gmail_ticket_status').data('tid', '');$('#gmail_ticket_status').html('');searchEmail('from:{$msg.sender}');" style="cursor: pointer;">{$msg.sender}</td>
                                {else}
                                <td></td>
                                <td>{$msg.sender}</td>
                                {/if}
                                <td>{$msg.create_at}</td>
                            </tr>
                            {/foreach}
                            {if !$crm.message}
                            <tr><td colspan="3">{$lang.no_records}</td></tr>
                            {/if}
                        </table>
                        {/if}
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade {if $tab eq 'basic_info'}active in{/if}" id="basic_info" aria-labelledby="basic_info_tab">
            <div class="row">
                <div class="col-md-12">
                {if $user}
                    <div class="row">
                        <div class="col-md-12">
                            <h3>會員資料</h3>
                            <table class="table table-striped">
                                <tr>
                                    <td rowspan="10" style="text-align: center; vertical-align: middle;"><img src="{insert name='avatar_url' id=$user.user_id}"></td>
                                </tr>
                                <tr>
                                    <th style="width: 80px">電話</th><td colspan="3">{$user.user_name}<label class="label label-warning link_ticket" style="cursor: pointer;margin-left: 20px;" data-uid="{$user.user_id}" data-oid="">連結查詢</label></td>
                                </tr>
                                <tr>
                                    <th>電郵</th><td colspan="3">{$user.email}</td>
                                </tr>
                                <tr>
                                    <th>姓氏</th><td>{$user.first_name}</td>
                                    <th>名字</th><td>{$user.last_name}</td>
                                </tr>
                                <tr>
                                    <th>性別</th><td>{if $user.sex eq 1}男{elseif $user.sex eq 2}女{else}--{/if}</td>
                                    <th>生日</th><td>{$user.birthday}</td>
                                </tr>
                                <tr>
                                    <th>會員積分</th><td colspan="3">{$user.rank_points}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>最近訂單</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>訂單號</th>
                                    <th>金額</th>
                                    <th style="text-align: center">訂單狀態</th>
                                    <th style="text-align: center">付款狀態</th>
                                    <th style="text-align: center">出貨狀態</th>
                                </tr>
                                {foreach from=$latest_order item=row}
                                <tr>
                                    <td><a href="javascript:$('#info_search_form input[name=order_sn]').val('{$row.order_sn}');loadInfo();">{$row.order_sn}</a></td>
                                    <td>{$row.goods_amount}</td>
                                    <td style="text-align: center">{$row.order_status}</td>
                                    <td style="text-align: center"><span class="all_status">{$row.pay_status}</span></td>
                                    <td style="text-align: center"><span class="all_status">{$row.shipping_status}</span></td>
                                </tr>
                                {foreachelse}
                                <tr>
                                    <td colspan="10" style="text-align: center">{$lang.no_records}</td>
                                </tr>
                                {/foreach}
                            </table>
                        </div>
                    </div>
                {elseif $users}
                    <table class="table table-striped">
                        <tr>
                            <th>會員名稱</th>
                        </tr>
                        {foreach from=$users item=row}
                        <tr>
                            <td><a href="javascript:$('#info_search_form input[name=user_name]').val('{$row.user_name}');loadInfo();">{$row.user_name}</a></th>
                        </tr>
                        {/foreach}
                    </table>
                {elseif $order}
                    <div id="order_page">
                        <div class="x_panel shadow" style="border-radius: 5px">
                            <div class="x_title" style="background: #F6F6F7;">
                                <h2>
                                    訂單資料 | {$order.order_status} {$order.pay_status} {$order.shipping_status}
                                    <label class="label label-warning link_ticket" style="cursor: pointer;margin-left: 20px;" data-uid="" data-oid="{$order.order_id}">連結查詢</label>
                                </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a target="_blank" href="javascript:toggleOrder({$order.order_id});"><i class="fa fa-search-plus"></i></a></li>
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table">
                                    <tr>
                                        <th style='width: 80px'>訂單號</th>
                                        <td colspan="3">{$order.order_sn}</td>
                                    </tr>
                                    <tr>
                                        <th>購貨人</th>
                                        <td>{$order.user_name}</td>
                                        <th>下單時間</th>
                                        <td>{$order.formated_add_time}</td>
                                    </tr>
                                    <tr>
                                        <th>訂單來源</th>
                                        <td>
                                            {$order.platform_display}
                                            {if $order.platform neq ''} | {/if}
                                            {$order.referer}
                                            {foreach from=$goods_list item=goods}{if $goods.flashdeal_id}{assign var=is_flashdeal value=1}{/if}{/foreach}
                                            {if $is_flashdeal}(閃購){/if}
                                        </td>
                                        <th>支付方式</th>
                                        <td>{$order.origin_pay_name}</td>
                                    </tr>
                                    <tr>
                                        <th>配送方式</th>
                                        <td>{$order.shipping_name}</td>
                                        <th>訂單總金額</th>
                                        <td>{$order.formated_total_fee}</td>
                                    </tr>
                                    <tr>
                                        <th style='vertical-align: top;'>物流</th>
                                        <td colspan="3">
                                            {if $order.delivery_list}
                                            {foreach from=$order.delivery_list item=item}
                                            <p>
                                                <span style='width: 120px; display: inline-block'><b>{$item.logistics_name}</b></span>
                                                <span>[{$item.invoice_no}]</span>
                                                <span class='pull-right' style='margin-right: 30px;'>{$item.update_time}</span>
                                            </p>
                                            {/foreach}
                                            {else}
                                            N/A
                                            {/if}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-inline" style="text-align: center">
                            {if $order.op_list.pay && (!$order.is_online_pay || $order_pay)}
                            <input name="pay" type="submit" value="{$lang.op_pay}" class="btn btn-round btn-primary" onclick="triggerPay({$order.order_id})"/>
                            {/if} {if $order.op_list.wholesale_pay}
                            <input name="wholesale_pay" type="button" value="批發訂單付款" class="btn btn-round btn-primary" onclick="triggerWSPay({$order.order_id}, {$order.order_sn})" />
                            {/if} {if $order.op_list.invalid && $order_refund}
                            <input name="invalid" type="submit" value="{$lang.op_invalid}" class="btn btn-round btn-cancel" onclick="triggerRefund({$order.order_sn}, 0)" />
                            {/if} {if $order.op_list.customer_service && $order_after_service}
                            <input name="compensate" type="button" value="{$lang.op_compensate}" class="btn btn-round btn-money" onclick="triggerRefund({$order.order_sn}, 1)" />
                            {/if}
                            <input name="after_service" type="submit" value="{$lang.op_after_service}" class="btn btn-round btn-dark" onclick="triggerRemark({$order.order_id}, {$order.order_sn})" />
                        </div>
                        <div class="x_panel shadow" style="border-radius: 5px">
                            <div class="x_title" style="background: #F6F6F7;">
                                <h2>產品</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table">
                                    <tr>
                                        <th>產品名稱</th>
                                        <th>數量</th>
                                        <th>小計</th>
                                    </tr>
                                    {foreach from=$order.all_goods item=goods}
                                    <tr>
                                        <td>{$goods.goods_name}</td>
                                        <td>{$goods.goods_number}</td>
                                        <td>{$goods.formated_subtotal}</td>
                                    </tr>
                                    {foreachelse}
                                    <tr>
                                        <td colspan="10" style="text-align: center">{$lang.no_records}</td>
                                    </tr>
                                    {/foreach}
                                </table>
                            </div>
                        </div>
                        <div class="x_panel shadow" style="border-radius: 5px">
                            <div class="x_title" style="background: #F6F6F7;">
                                <h2>收貨人</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table">
                                    <tr>
                                        <th style='width: 80px'>收貨人</th>
                                        <td>{$order.consignee|escape}</td>
                                        <th style='width: 80px'>電話</th>
                                        <td>{$order.tel|escape}</td>
                                    </tr>
                                    <tr>
                                        <th>地址</th>
                                        <td colspan="3">
                                            [{$order.region}] {$order.address|escape}
                                            {if $order.zipcode}&nbsp;[{$lang.label_zipcode} {$order.zipcode|escape}]{/if}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                {elseif $orders}
                    <table class="table table-striped">
                        <tr>
                            <th>訂單號</th>
                            <th>金額</th>
                            <th style="text-align: center">訂單狀態</th>
                            <th style="text-align: center">付款狀態</th>
                            <th style="text-align: center">出貨狀態</th>
                        </tr>
                        {foreach from=$orders item=row}
                        <tr>
                            <td><a href="javascript:$('#info_search_form input[name=order_sn]').val('{$row.order_sn}');loadInfo();">{$row.order_sn}</a></td>
                            <td>{$row.order_amount}</td>
                            <td style="text-align: center">{$row.order_status}</td>
                            <td style="text-align: center"><span class="all_status">{$row.pay_status}</span></td>
                            <td style="text-align: center"><span class="all_status">{$row.shipping_status}</span></td>
                        </tr>
                        {foreachelse}
                        <tr>
                            <td colspan="10" style="text-align: center">{$lang.no_records}</td>
                        </tr>
                        {/foreach}
                    </table>
                {elseif $user_name || $order_sn}
                    <table class="table table-striped">
                        <tr>
                            <td colspan="10" style="text-align: center">{$lang.no_records}</td>
                        </tr>
                    </table>
                {/if}
                </div>
            </div>
        </div>
    </div>
</div>