{include file="pageheader.htm"}
{insert_scripts files="validator.js"}
<style>
.cron_ttype + .cron_ttype {
    margin-top: 10px;
}
</style>
<form action="cron.php" method="post" name="form">
<div class=" x_panel">
<table class="table table-borderless" cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <th width="200px">{$lang.cron_name}</th>
    <td width="500px">
      <input class="form-control" name="cron_name" type="text" value="{$cron.cron_name|escape}" size="40" readonly="readonly" style="background:#dddddd" />
    </td>
  </tr>
  <tr>
    <th>{$lang.cron_desc}</th>
    <td><textarea class="form-control" name="cron_desc" cols="80" rows="5" style="" readonly="readonly" style="background:#dddddd" >{$cron.cron_desc|escape}</textarea></td>
  </tr>
  {foreach from=$cron.cron_config item=config}
  <tr>
    <th>{$config.label}</th>
    <!-- {if $config.type == "text"} -->
    <td><input class="form-control" name="cfg_value[]" type="{$config.type}" value="{$config.value}" size="40" /></td>
    <!-- {elseif $config.type == "textarea"} -->
    <td><textarea class="form-control" name="cfg_value[]" cols="80" rows="5">{$config.value}</textarea></td>
    <!-- {elseif $config.type == "select"} -->
    <td><select name="cfg_value[]">{html_options options=$config.range selected=$config.value}</select></td>
    <!-- {/if} -->
    <input name="cfg_name[]" type="hidden" value="{$config.name}" />
    <input name="cfg_type[]" type="hidden" value="{$config.type}" />
  </tr>
  {/foreach}
  <tr>
    <th>{$lang.cron_time}</th>
    <td>
      <div class="col-md-3">
        <div class="cron_ttype">
          <input class="flat" type="radio" name="ttype" id="ttype_day" value="day" />{$lang.cron_month}
          <select class="cron_ttype_option" name="cron_day" id="cron_day" disabled="true">{html_options options=$days selected=$cron.cronday}</select>&nbsp;{$lang.cron_day}
        </div>
        <div class="cron_ttype">
          <input class="flat" type="radio" name="ttype" id="ttype_week" value="week"/>{$lang.cron_week}
          <select class="cron_ttype_option" name="cron_week" id="cron_week" disabled="true">{html_options options=$week selected=$cron.cronweek}</select>
        </div>
        <div class="cron_ttype">
          <input class="flat" type="radio" name="ttype" id="ttype_unlimit" value="unlimit">{$lang.cron_unlimit}
        </div>
        <div class="cron_ttype">
        </div>
      </div>
      <div class="col-md-3">
        <div class="cron_ttype">
            <input class="flat" type="radio" name="ttype_hour" value="once">{$lang.cron_thatday}
            <select name="cron_hour">{html_options options=$hours selected=$cron.cronhour}</select>&nbsp;{$lang.cron_hour}
        </div>
        <div class="cron_ttype">
          <input class="flat" type="radio" name="ttype_hour" value="hourly">{$lang.cron_hourly}
          <input type="hidden" name="cron_hour" value="24">
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <th><a href="javascript:showNotice('notice_minute');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.cron_minute}</th>
    <td><input class="form-control" name="cron_minute" type="text" value="{$cron.cronminute}" size="40" />
    <br>
    <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice_minute">{$lang.notice_minute}</span>
  </td>
  </tr>
  <tr>
    <th>{$lang.cron_run_once}</th>
    <td><input class="flat" name="cron_run_once" type="checkbox" value="1" {$cron.autoclose} /></td>
  </tr>
  <tr>
    <th>{$lang.cron_advance}</th>
    <td><label><input class="flat" name="show_advance" id="show_advance" type="checkbox" value="1" />{$lang.cron_show_advance}</label></td>
  </tr>
  <tr class="advance_setting">
    <th><a href="javascript:showNotice('notice_alow_ip');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.cron_allow_ip}</th>
    <td>
      <input name="allow_ip" type="text" value="{$cron.allow_ip}" size="40" /><br>
      <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice_alow_ip">{$lang.notice_alow_ip}</span>
    </td>
  </tr>
  <tr class="advance_setting">
    <th><a href="javascript:showNotice('notice_alow_files');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.cron_alow_files}</th>
    <td>
    {foreach from=$page_list key=page_list item=list}
    <div style="width:200px;float:left;">
    <label><input class="flat" type="checkbox" name="alow_files[]" value="{$page_list}.php" id="{$page_list}" class="checkbox" {if $list eq 1} checked="true" {/if} />
    {$lang.page.$page_list}</label>
    </div>
    {/foreach}
    <br>
    <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice_alow_files">{$lang.notice_alow_files}</span>
  </td>
  </tr>
  <tr align="center">
    <td colspan="2">
      <input type="hidden"  name="cron_id"       value="{$cron.cron_id}" />
      <input type="hidden"  name="step"       value="2" />
      <input type="hidden"  name="act"       value="{$cron.cron_act}" />
      <input type="hidden"  name="cron_code"     value="{$cron.cron_code}" />
      <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
    </td>
  </tr>
</table>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
function dotype(type)
{
    var a,b;
    if(type=='unlimit')
    {
      document.getElementById('cron_day').disabled = true;
      document.getElementById('cron_week').disabled = true;
      document.getElementById('ttype_unlimit').checked = true;
    }
    else if(type == 'day')
    {
      document.getElementById('cron_day').disabled = false;
      document.getElementById('cron_week').disabled = true;
      document.getElementById('ttype_day').checked = true;
    }
    else if(type == 'week')
    {
      document.getElementById('cron_day').disabled = true;
      document.getElementById('cron_week').disabled = false;
      document.getElementById('ttype_week').checked = true;
    }
}
function show()
{
    if(document.form.show_advance.checked)
    {
        document.getElementById('advance_1').style.display="";
        document.getElementById('advance_2').style.display="";
        document.getElementById('advance_3').style.display="";
        document.getElementById('advance_4').style.display="";
    }
    else
    {
        document.getElementById('advance_1').style.display="none";
        document.getElementById('advance_2').style.display="none";
        document.getElementById('advance_3').style.display="none";
        document.getElementById('advance_4').style.display="none";
    }
}
{/literal}
$(function() {
  $("input[name=ttype]").on('ifChanged', function(e) {
    $(".cron_ttype_option").prop("disabled", true)
    if ($(e.target).val() == 'day') {
      $("#cron_day").prop("disabled", false)
    } else if ($(e.target).val() == 'week') {
      $("#cron_week").prop("disabled", false)
    }
  })
  $("input[name=ttype_hour]").on('ifChanged', function(e) {
    $("[name=cron_hour]").prop("disabled", true)
    if ($(e.target).val() == 'hourly') {
      $("input[name=cron_hour]").prop("disabled", false)
    } else if ($(e.target).val() == 'once') {
      $("select[name=cron_hour]").prop("disabled", false)
    }
  })
  {if $cron.cronday > 0}
  $("input[name=ttype][value=day]").iCheck("check");
  {elseif $cron.cronweek > 0}
  $("input[name=ttype][value=week]").iCheck("check");
  {else}
  $("input[name=ttype][value=unlimit]").iCheck("check");
  {/if}
  {if $cron.cronhour eq 24}
  $("input[name=ttype_hour][value=hourly]").iCheck("check");
  {else}
  $("input[name=ttype_hour][value=once]").iCheck("check");
  {/if}
  $("#show_advance").on('ifChanged', function() {
    $(".advance_setting").toggle();
  })
})
$(".advance_setting").hide();
//-->
</script>
{include file="pagefooter.htm"}