{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<!-- start payment list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action" id="#">
  <thead><tr>
    <th width="13%">{$lang.cron_name}</th>
    <th >{$lang.cron_desc}</th>
    <th width="5%">{$lang.version}</th>
    <th width="13%">{$lang.cron_author}</th>
    <th width="16%">{$lang.cron_this}</th>
    <th width="16%">{$lang.cron_next}</th>
    <th width="3%">{$lang.if_open}</th>
    <th width="12%">{$lang.handler}</th>
  </tr></thead>
  {foreach from=$modules item=module}
  <tr>
    <td class="first-cell" valign="top">
      {if $module.install == 1}
        {$module.name}
      {else}
        {$module.name}
      {/if}
    </td>
    <td>{$module.desc|nl2br}</td>
    <td valign="top">{$module.version}</td>
    <td valign="top"><a href="{$module.website}" target="_blank">{$module.author}</a></td>
    <td align="center">{$module.thistime}</td>
    <td align="center">{$module.nextime}</td>

    <td align="center">
      {if $module.install == "1"}
        <img src="images/{if $module.enable eq 1}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_show', '{$module.code}')" />
      {else}－{/if}</td>
    <td align="center" valign="top">
      {if $module.install == "1"}
        <a href="javascript:confirm_redirect(lang_removeconfirm, 'cron.php?act=uninstall&code={$module.code}')">{$lang.uninstall}</a>|<a href="cron.php?act=edit&code={$module.code}">{$lang.edit}</a>|<a href="cron.php?act=do&code={$module.code}">{$lang.cron_do}</a>
      {else}
        <a href="cron.php?act=install&code={$module.code}">{$lang.install}</a>
      {/if}
    </td>
  </tr>
  {/foreach}
</table>
</div>
<!-- end payment list -->
</div>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}