{include file="pageheader.htm"}
<form action="currencies.php" method="post" name="form">
<div class=" x_panel">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <th width="30%"></th>
    <th width="70%"></th>
  </tr>
  <tr>
    <td class="label">貨幣代號</td>
    <td>
      <input name="currency_code" type="text" style="width: 280px;" placeholder="例： HKD" />
      <br>
      <span class="notice-span">通常是三個英文字母的貨幣代號</span>
    </td>
  </tr>
  <tr>
    <td class="label">貨幣名稱</td>
    <td>
      <input name="currency_name" type="text" style="width: 280px;" placeholder="例： 港幣" />
      <br>
      <span class="notice-span">用於識別貨幣的名稱</span>
    </td>
  </tr>
  <tr>
    <td class="label">貨幣滙率</td>
    <td>
      <input name="currency_rate" type="text" style="width: 280px;" placeholder="例： 7.768" />
      <br>
      <span class="notice-span">該貨幣兌換港元的滙率，例如美金可輸入 7.768</span>
    </td>
  </tr>
  <tr>
    <td class="label">顯示格式</td>
    <td>
      <input name="currency_format" type="text" style="width: 280px;" placeholder="例： HK$%s" />
      <br>
      <span class="notice-span">貨幣的顯示格式，「%s」會換成銀碼，如輸入「HK$%s」會顯示為「HK$123.00」</span>
    </td>
  </tr>
  <tr align="center">
    <td colspan="2">
      <input type="hidden"  name="act"       value="insert" />
      <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
    </td>
  </tr>
</table>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}