<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
  <table class="table table-striped table-bordered bulk_action">
     <tr>
      <th><a href="javascript:listTable.sort('currency_code'); ">貨幣代號</a>{$sort_currency_code}</th>
      <th><a href="javascript:listTable.sort('currency_name'); ">貨幣名稱</a>{$sort_currency_name}</th>
      <th><a href="javascript:listTable.sort('currency_rate'); ">貨幣滙率</a>{$sort_currency_rate}</th>
      <th><a href="javascript:listTable.sort('currency_format'); ">顯示格式</a>{$sort_currency_format}</th>
    </tr>
  {foreach from=$currencies item=currency name=foo}
    <tr align="center">
      <td align="center">{$currency.currency_code}</td>
      <td align="center"><span onclick="listTable.edit(this, 'edit_currency_name', '{$currency.currency_code}')">{$currency.currency_name|default:N/A}</span></td>
      <td align="center"><span onclick="listTable.edit(this, 'edit_currency_rate', '{$currency.currency_code}')">{$currency.currency_rate}</span></td>
      <td align="center"><span onclick="listTable.edit(this, 'edit_currency_format', '{$currency.currency_code}')">{$currency.currency_format}</span></td>
    </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
{if $full_page}
</div>

<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}