{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
  <th><a href="javascript:listTable.sort('exchange_id'); ">{$lang.record_id}</a>{$sort_exchange_id}</th>
  <th><a href="javascript:listTable.sort('exchange_date'); ">日期</a>{$sort_exchange_date}</th>
  <th><a href="javascript:listTable.sort('from_account'); ">來源帳戶</a>{$sort_from_account}</th>
  <th><a href="javascript:listTable.sort('from_currency'); ">來源貨幣</a>{$sort_from_currency}</th>
  <th><a href="javascript:listTable.sort('from_amount'); ">來源金額</a>{$sort_from_amount}</th>
  <th><a href="javascript:listTable.sort('from_payment_type'); ">來源付款方式</a>{$sort_from_payment_type}</th>
  <th><a href="javascript:listTable.sort('to_account'); ">目標帳戶</a>{$sort_to_account}</th>
  <th><a href="javascript:listTable.sort('to_currency'); ">目標貨幣</a>{$sort_to_currency}</th>
  <th><a href="javascript:listTable.sort('to_amount'); ">目標金額</a>{$sort_to_amount}</th>
  <th><a href="javascript:listTable.sort('to_payment_type'); ">目標付款方式</a>{$sort_to_payment_type}</th>
  <th><a href="javascript:listTable.sort('operator'); ">操作員</a>{$sort_operator}</th>
  <th><a href="javascript:listTable.sort('remark'); ">備注</a>{$sort_remark}</th>
</tr>
{foreach from=$list item=exchange}
<tr>
  <td align="center">{$exchange.exchange_id}</td>
  <td align="center">{$exchange.exchange_date_formatted}</td>
  <td align="center">{$exchange.from_account_name}</td>
  <td align="center">{$exchange.from_currency_name}</td>
  <td align="center">{$exchange.from_amount_formatted}</td>
  <td align="center">{$exchange.from_payment_type_name}</td>
  <td align="center">{$exchange.to_account_name}</td>
  <td align="center">{$exchange.to_currency_name}</td>
  <td align="center">{$exchange.to_amount_formatted}</td>
  <td align="center">{$exchange.to_payment_type_name}</td>
  <td align="center">{$exchange.admin_name}</td>
  <td align="center">{$exchange.remark|default:N/A}</td>
</tr>
{foreachelse}
  <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
{/foreach}
</table>
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>

<script type="text/javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
</script>


{include file="pagefooter.htm"}
{/if}