{include file="pageheader.htm"}


{insert_scripts files="actg.js"}

<form action="currency_exchanges.php" method="post" name="form">
<div class=" x_panel">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <th width="30%"></th>
    <th width="70%"></th>
  </tr>
  <tr>
    <td class="label">操作員</td>
    <td>
      <select name="operator" style="width: 280px;">
        <option value="">{$lang.select_please}</option>
        {foreach from=$salesperson_list item=salesperson}
        {if $salesperson eq $admin_name}<option selected="selected" value="{$admin_id}">{$salesperson}</option>{/if}
        {/foreach}
      </select>
    </td>
  </tr>
  <tr>
    <td class="label">來源帳戶</td>
    <td>
      <select name="from_account" style="width: 280px;">
        <option value="0">{$lang.select_please}</option>
        {foreach from=$accounts item=acc}
        <option value="{$acc.account_id}">{$acc.account_name} - {$acc.currency_name}</option>
        {/foreach}
      </select>
    </td>
  </tr>
  <tr>
    <td class="label">來源金額</td>
    <td>
      <input name="from_amount" type="text" style="width: 280px;" />
    </td>
  </tr>
  <tr>
    <td class="label">來源付款方式</td>
    <td>
      {foreach from=$payment_types item=type name=foo}
      <label>
        <input type="radio" name="from_payment_type" value="{$type.payment_type_id}"{if $smarty.foreach.foo.first} checked="checked"{/if}>
        {$type.payment_type_name}
      </label>
      {/foreach}
    </td>
  </tr>
  <tr>
    <td class="label">目標帳戶</td>
    <td>
      <select name="to_account" style="width: 280px;">
        <option value="0">{$lang.select_please}</option>
        {foreach from=$accounts item=acc}
        <option value="{$acc.account_id}">{$acc.account_name} - {$acc.currency_name}</option>
        {/foreach}
      </select>
    </td>
  </tr>
  <tr>
    <td class="label">目標金額</td>
    <td>
      <input name="to_amount" type="text" style="width: 280px;" readonly />
    </td>
  </tr>
  <tr>
    <td class="label">目標付款方式</td>
    <td>
      {foreach from=$payment_types item=type name=foo}
      <label>
        <input type="radio" name="to_payment_type" value="{$type.payment_type_id}"{if $smarty.foreach.foo.first} checked="checked"{/if}>
        {$type.payment_type_name}
      </label>
      {/foreach}
    </td>
  </tr>
  <tr>
    <td class="label">備注</td>
    <td>
      <textarea name="remark" style="width: 280px;"></textarea>
    </td>
  </tr>
  <tr align="center">
    <td colspan="2">
      <input type="hidden"  name="act"       value="insert" />
      <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
    </td>
  </tr>
</table>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}

$(function () {
  
  YOHO.actg.sanitizeAmountInput($('input[name="from_amount"]'));
  YOHO.actg.sanitizeAmountInput($('input[name="to_amount"]'));
  
  // Setup AJAX loader
  $(document).ajaxStart(function () {
    showLoader();
  });
  $(document).ajaxStop(function () {
    hideLoader();
  });
  
  var calcTargetAmount = function() {
    var from_account = $('select[name="from_account"]').val();
    var from_amount = $('input[name="from_amount"]').val();
    var to_account = $('select[name="to_account"]').val();
    
    if (!from_account || from_account == '0' || !from_amount || from_amount == '0' || !to_account || to_account == '0') return;
    
    $.ajax({
      url: 'currency_exchanges.php',
      type: 'get',
      data: {
        is_ajax: 1,
        act: 'calc_target_amount',
        from_account: from_account,
        from_amount: from_amount,
        to_account: to_account,
      },
      cache: false,
      dataType: 'json',
      success: function(result) {
        if (result.error)
        {
          alert(result.message);
          return;
        }
        $('input[name="to_amount"]').val(Number(result.amount).toString());
      }
    });
  }
  
  $('select[name="from_account"],input[name="from_amount"],select[name="to_account"]').change(calcTargetAmount);
  
  $('input[name="from_payment_type"]').change(function() {
    var idx = $('input[name="from_payment_type"]:checked').index('input[name="from_payment_type"]');
    $('input[name="to_payment_type"]:eq(' + idx + ')').prop('checked', true);
  });
  
});

{/literal}
//-->
</script>
{include file="pagefooter.htm"}