{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}


<style type"text/css">
  /* Action Buttons */
  .action-button {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 8px 16px;
    font-size: 16px;
    color: white !important;
    text-decoration: none;
    text-align: center;
    background: #00ACEE;
    border: 0;
    border-bottom: 2px solid #188FB5;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #188FB5;
    box-shadow: inset 0 -2px #188FB5;
    border-radius: 4px;
  }
  .action-button:hover {
    text-decoration: none;
    color: white;
    background-color: #0087BB;
    border-bottom-color: #006D97;
    -webkit-box-shadow: inset 0 -2px #006D97;
    box-shadow: inset 0 -2px #006D97;
  }
  .action-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  /* Action Button Alternative Sizes */
  .action-button.action-button-sm {
    padding: 4px 8px;
    font-size: 12px;
  }
  .action-button.action-button-md {
    padding: 6px 12px;
    font-size: 14px;
  }
  /* Action Button Alternative Colors */
  .action-button.action-button-gray {
    color:#454545;
    background: #ECF0F1;
    border-bottom-color: #DADEDF;
    -webkit-box-shadow: inset 0 -2px #DADEDF;
    box-shadow: inset 0 -2px #DADEDF;
  }
  .action-button.action-button-gray:hover {
    color: #454545;
    background-color: #CED4D8;
    border-bottom-color: #ACB2B7;
    -webkit-box-shadow: inset 0 -2px #ACB2B7;
    box-shadow: inset 0 -2px #ACB2B7;
  }
  .action-button.action-button-gray:active {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .action-button.action-button-black {
    color: white;
    background: #454545;
    border-bottom-color: #2F2E2E;
    -webkit-box-shadow: inset 0 -2px #2F2E2E;
    box-shadow: inset 0 -2px #2F2E2E;
  }
  .action-button.action-button-black:hover {
    color: white;
    background: #454545;
    border-bottom-color: #2F2E2E;
    -webkit-box-shadow: inset 0 -2px #2F2E2E;
    box-shadow: inset 0 -2px #2F2E2E;
  }
  .action-button.action-button-black:active {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  /* Action Block */
  .danger-action-block {
    display: block;
    margin: 8px;
    padding: 8px;
    border: 1px #ccc solid;
    background-color: white;
    color: black;
  }
  .danger-action-block h3 {
    margin: 4px 0;
    padding-bottom: 4px;
    border-bottom: 1px #ccc solid;
  }
  .danger-action-block label {
    display: inline-block;
    margin-bottom: 2px;
  }
</style>


<div class=" x_panel">
  <div style="color: red; text-align: center;">DangerZone™ 顧名思義是危險區域，所有在此進行的操作都有一定風險，使用前請先諮詢技術人士。</div>
  <div class="danger-action-block send-verify-email-block">
    <h3>發送驗證電郵</h3>
    <p>若發現會員填錯電郵地址並手動修改之後，可以手動發送一封驗證電郵到會員的正確電郵地址。</p>
    <label>會員電話號碼 <input type="text" name="user_name"></label><br>
    <a href="javascript:void(0);" class="action-button">發送驗證電郵</a>
  </div>
  <br>
  <div class="danger-action-block send-order-receipt-block">
    <h3>發送訂單收據</h3>
    <p>註：訂單必須附有電郵地址，否則不能發送。</p>
    <label>訂單號 <input type="text" name="order_sn"></label><br>
    <a href="javascript:void(0);" class="action-button">發送訂單收據</a>
  </div>
  <br>
  <div class="danger-action-block resend-delivery-email-block">
    <h3>重發寄貨通知</h3>
    <label>訂單號 <input type="text" name="order_sn"></label><br>
    <a href="javascript:void(0);" class="action-button">重發寄貨通知</a>
  </div>
  <br>
  <div class="danger-action-block unsubscribe-edm-email-block">
    <h3>強制取消訂閱電子報</h3>
    <label>電郵地址 <input type="text" name="edm-email"></label><br>
    <a href="javascript:void(0);" class="action-button">取消訂閱電子報</a>
  </div>
  <br>
  {if $zone_2 || $zone_3}<hr><br>{/if}
  {if $zone_2}
  <div class="danger-action-block edit-user-name-block">
    <h3>修改會員電話號碼</h3>
    <label>舊電話號碼 <input type="text" name="old_user_name"></label><br>
    <label>新電話號碼 <input type="text" name="new_user_name"></label><br>
    <a href="javascript:void(0);" class="action-button">修改會員電話號碼</a>
  </div>
  <br>
  <div class="danger-action-block merge-users-block">
    <h3>合併會員</h3>
    <p>將來源帳戶的積分及訂單資料合併到目標帳戶中，並刪除來源帳戶。</p>
    <label>來源帳戶電話號碼 <input type="text" name="from_user_name"></label><br>
    <label>目標帳戶電話號碼 <input type="text" name="to_user_name"></label><br>
    <a href="javascript:void(0);" class="action-button">合併會員</a>
  </div>
  <br>
  <div class="danger-action-block edit-order-email-block">
    <h3>修改訂單電郵地址</h3>
    <label>訂單號 <input type="text" name="order_sn"></label><br>
    <label>新電郵 <input type="text" name="email"></label><br>
    <a href="javascript:void(0);" class="action-button">修改訂單電郵地址</a>
  </div>
  <br>
  <div class="danger-action-block reset-order-send-number-block">
    <h3>訂單產品出貨數量值歸零</h3>
    <p>若生成物流單時，出現「貨已發完」字句但未出貨，可使用此功能重設訂單中的所有產品出貨數量為零。</p>
    <label>訂單號 <input type="text" name="order_sn"></label><br>
    <a href="javascript:void(0);" class="action-button">重設出貨數量為零</a>
  </div>
  <br>
  {if $zone_3}<hr><br>{/if}
  {/if}
  {if $zone_3}
  <div class="danger-action-block">
    <h3>重新計算所有產品銷量</h3>
    <p>為提升系統運行速度，產品銷量數字並非即時從訂單資料計算，而是快取在產品資料表中。重新計算所有產品銷量可以修正錯誤的快取數字。</p>
    <a href="danger_zone.php?act=recalc_goods_sales" class="action-button">立即重新計算所有產品銷量</a>
  </div>
  <br>
  <div class="danger-action-block">
    <h3>Accounting System - 重新計算所有交易</h3>
    <p>重新計算所有交易，並清除已逆轉的交易。此操作可能可以修正 Accounting System 中的計算錯誤。<br>注：由於此操作有一定風險，所以必須使用 admin 帳號執行。</p>
    <a href="accounting_report.php?act=clear_txns" class="action-button">立即重新計算所有交易</a>
  </div>
  <br>
  <div class="danger-action-block">
    <h3>清除 mod_pagespeed 快取</h3>
    <p>如果網站出現奇怪問題，如 css / javascript / image 不能正常載入，可嘗試清除 mod_pagespeed 快取。</p>
    <a href="danger_zone.php?act=flush_pagespeed_cache" class="action-button">立即清除 mod_pagespeed 快取</a>
  </div>
  {/if}
</div>

<script type="text/javascript" language="JavaScript">
<!--
  {literal}
  (function ($) {
    $(function () {
      // Setup AJAX loader
      $(document).ajaxStart(function () {
        showLoader();
      });
      $(document).ajaxStop(function () {
        hideLoader();
      });
      
      // Edit user name
      $('.edit-user-name-block a.action-button').click(function () {
        var $block = $(this).closest('.edit-user-name-block');
        var old_name = $block.find('input[name="old_user_name"]').val();
        var new_name = $block.find('input[name="new_user_name"]').val();
        
        if (!old_name || !new_name) return;
        
        $.ajax({
          'url': 'danger_zone.php',
          'type': 'post',
          'data': {
            'act': 'edit_user_name',
            'old_name': old_name,
            'new_name': new_name
          },
          'dataType': 'json',
          success: function (result) {
            alert(result.message);
            if (!result.error)
            {
              // Clear input fields
              $block.find('input[type="text"]').val('');
            }
          }
        });
      });
      
      // Merge users
      $('.merge-users-block a.action-button').click(function () {
        var $block = $(this).closest('.merge-users-block');
        var from_name = $block.find('input[name="from_user_name"]').val();
        var to_name = $block.find('input[name="to_user_name"]').val();
        
        if (!from_name || !to_name) return;
        
        $.ajax({
          'url': 'danger_zone.php',
          'type': 'post',
          'data': {
            'act': 'merge_users',
            'from_name': from_name,
            'to_name': to_name
          },
          'dataType': 'json',
          success: function (result) {
            alert(result.message);
            if (!result.error)
            {
              // Clear input fields
              $block.find('input[type="text"]').val('');
            }
          }
        });
      });
      
      // Send verify email
      $('.send-verify-email-block a.action-button').click(function () {
        var $block = $(this).closest('.send-verify-email-block');
        var user_name = $block.find('input[name="user_name"]').val();
        
        if (!user_name) return;
        
        $.ajax({
          'url': 'danger_zone.php',
          'type': 'post',
          'data': {
            'act': 'send_verify_email',
            'user_name': user_name
          },
          'dataType': 'json',
          success: function (result) {
            alert(result.message);
            if (!result.error)
            {
              // Clear input fields
              $block.find('input[type="text"]').val('');
            }
          }
        });
      });
      
      // Edit order email
      $('.edit-order-email-block a.action-button').click(function () {
        var $block = $(this).closest('.edit-order-email-block');
        var order_sn = $block.find('input[name="order_sn"]').val();
        var email = $block.find('input[name="email"]').val();
        
        if (!order_sn || !email) return;
        
        $.ajax({
          'url': 'danger_zone.php',
          'type': 'post',
          'data': {
            'act': 'edit_order_email',
            'order_sn': order_sn,
            'email': email
          },
          'dataType': 'json',
          success: function (result) {
            alert(result.message);
            if (!result.error)
            {
              // Clear input fields
              $block.find('input[type="text"]').val('');
            }
          }
        });
      });

      // Resend Delivery Email
      $('.resend-delivery-email-block a.action-button').click(function () {
        var $block = $(this).closest('.resend-delivery-email-block');
        var order_sn = $block.find('input[name="order_sn"]').val();

        if (!order_sn) return;
        
        $.ajax({
          'url': 'danger_zone.php',
          'type': 'post',
          'data': {
            'act': 'resend_delivery_email',
            'order_sn': order_sn
          },
          'dataType': 'json',
          success: function (result) {
            alert(result.message);
            if (!result.error)
            {
              // Clear input fields
              $block.find('input[type="text"]').val('');
            }
          }
        });
      });

      // Force unsubscribe EDM
      $('.unsubscribe-edm-email-block a.action-button').click(function () {
        var $block = $(this).closest('.unsubscribe-edm-email-block');
        var email = $block.find('input[name="edm-email"]').val();

        if (!email) return;
        
        $.ajax({
          'url': 'danger_zone.php',
          'type': 'post',
          'data': {
            'act': 'force_unsubscribe_edm',
            'email': email
          },
          'dataType': 'json',
          success: function (result) {
            alert(result.message);
            if (!result.error)
            {
              // Clear input fields
              $block.find('input[type="text"]').val('');
            }
          }
        });
      });
      
      // Send order receipt email
      $('.send-order-receipt-block a.action-button').click(function () {
        var $block = $(this).closest('.send-order-receipt-block');
        var order_sn = $block.find('input[name="order_sn"]').val();
        
        if (!order_sn) return;
        
        $.ajax({
          'url': 'danger_zone.php',
          'type': 'post',
          'data': {
            'act': 'send_order_receipt',
            'order_sn': order_sn
          },
          'dataType': 'json',
          success: function (result) {
            alert(result.message);
            if (!result.error)
            {
              // Clear input fields
              $block.find('input[type="text"]').val('');
            }
          }
        });
      });
      
      // Reset order_goods send_number column to 0 for an order
      $('.reset-order-send-number-block a.action-button').click(function () {
        var $block = $(this).closest('.reset-order-send-number-block');
        var order_sn = $block.find('input[name="order_sn"]').val();
        
        if (!order_sn) return;
        
        $.ajax({
          'url': 'danger_zone.php',
          'type': 'post',
          'data': {
            'act': 'reset_order_send_number',
            'order_sn': order_sn
          },
          'dataType': 'json',
          success: function (result) {
            alert(result.message);
            if (!result.error)
            {
              // Clear input fields
              $block.find('input[type="text"]').val('');
            }
          }
        });
      });
      
      // Allow pressing Enter to trigger the action
      $('.danger-action-block input[type="text"]').keypress(function (event) {
        // ASCII cod 13 = Enter
  			if (event.which == 13)
  			{
  				event.preventDefault();
          $(this).closest('.danger-action-block').find('a.action-button').trigger('click');
  			}
      });
    });
  })(jQuery);
  {/literal}
//-->
</script>

{include file="pagefooter.htm"}