{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
  <th><a href="javascript:listTable.sort('model_id'); ">{$lang.record_id}</a>{$sort_model_id}</th>
  <th><a href="javascript:listTable.sort('model_name'); ">產品型號</a>{$sort_model_name}</th>
  <th>{$lang.handler}</th>
</tr>
{foreach from=$list item=model}
<tr>
  <td align="center">{$model.model_id}</td>
  <td align="center"><span onclick="listTable.edit(this, 'edit_name', {$model.model_id})">{$model.model_name|default:N/A}</td>
  <td align="center">
    <a href="javascript:confirm_redirect('刪除 {$model.model_name|escape} ?', 'deal_model.php?act=remove&amp;model_id={$model.model_id}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
  </td>
</tr>
{foreachelse}
  <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
{/foreach}
</table>
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>
</div>
<script type="text/javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
</script>


{include file="pagefooter.htm"}
{/if}