{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
  <th><a href="javascript:listTable.sort('reg_id'); ">{$lang.record_id}</a>{$sort_reg_id}</th>
  <th><a href="javascript:listTable.sort('model'); ">產品型號</a>{$sort_model}</th>
  <th><a href="javascript:listTable.sort('mobile'); ">手提電話號碼</a>{$sort_mobile}</th>
  <th><a href="javascript:listTable.sort('email'); ">電子郵件地址</a>{$sort_email}</th>
  <th><a href="javascript:listTable.sort('reg_time'); ">登記時間</a>{$sort_reg_time}</th>
</tr>
{foreach from=$list item=log}
<tr>
  <td align="center">{$log.reg_id}</td>
  <td align="center">{$log.model}</td>
  <td align="center">{$log.mobile}</td>
  <td align="center">{$log.email}</td>
  <td align="center">{$log.reg_date}</td>
</tr>
{foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
{/foreach}
</table>
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>
</div>
<script type="text/javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
</script>


{include file="pagefooter.htm"}
{/if}