<!-- $Id: order_info.htm 15544 2009-01-09 01:54:28Z zblikai $ -->

{include file="pageheader.htm"}
{insert_scripts files="topbar.js,../js/utils.js,listtable.js,selectzone.js,../js/common.js"}
<div class=" x_panel">
<form action="order.php" method="post" name="theForm" onsubmit="return checkOperator();" class="form-inline">
  <div class="col-sm-6 col-xs-12">
    <table class="table jambo_table table-bordered">
      <thead>
        <tr><th colspan="4" align="center">{$lang.base_info}</th></tr>
      </thead>
      <tbody>
        <tr>
          <td><div align="right"><strong>{$lang.delivery_sn_number}</strong></div></td>
          <td>{$delivery_order.delivery_sn}</td>
          <td><div align="right"><strong>{$lang.label_shipping_time}</strong></div></td>
          <td>{$delivery_order.formated_update_time}</td>
        </tr>
        <tr>
          <td width="18%"><div align="right"><strong>{$lang.label_order_sn}</strong></div></td>
        <td width="34%"><a href="order.php?act=info&order_id={$delivery_order.order_id}">{$delivery_order.order_sn}</a> {if $delivery_order.extension_code eq "group_buy"}<a href="group_buy.php?act=edit&id={$delivery_order.extension_id}">{$lang.group_buy}</a>{elseif $delivery_order.extension_code eq "exchange_goods"}<a href="exchange_goods.php?act=edit&id={$delivery_order.extension_id}">{$lang.exchange_goods}</a>{/if}
          <td><div align="right"><strong>{$lang.label_order_time}</strong></div></td>
          <td>{$delivery_order.formated_add_time}</td>
        </tr>
        <tr>
          <td><div align="right"><strong>{$lang.label_user_name}</strong></div></td>
          <td>{$delivery_order.user_name|default:$lang.anonymous}</td>
          <td><div align="right"><strong>{$lang.label_how_oos}</strong></div></td>
          <td>{$delivery_order.how_oos}</td>
        </tr>
        <tr>
          <td><div align="right"><strong>{$lang.label_shipping}</strong></div></td>
          <td>{if $exist_real_goods}{if $delivery_order.shipping_id > 0}{$delivery_order.shipping_name}{else}{$lang.require_field}{/if} {if $delivery_order.insure_fee > 0}（{$lang.label_insure_fee}{$delivery_order.formated_insure_fee}）{/if}{/if}</td>
          <td><div align="right"><strong>{$lang.label_shipping_fee}</strong></div></td>
          <td>{$delivery_order.shipping_fee} {if $order.shipping_fod} 運費到付 {/if}</td>
        </tr>
        <tr>
          <td><div align="right"><strong>{$lang.label_insure_yn}</strong></div></td>
          <td>{if $insure_yn}{$lang.yes}{else}{$lang.no}{/if}</td>
          <td><div align="right"><strong>{$lang.label_insure_fee}</strong></div></td>
          <td>{$delivery_order.insure_fee|default:0.00}</td>
        </tr>
        <tr>
          <td><div align="right"><strong>{$lang.label_invoice_no}</strong></div></td>
          <td colspan="3">
            {if $delivery_order.status neq 1}
            <select class="form-control" name="logistics_id" id="logistics_id">
              <option value="-1">{$lang.select_please}</option>
              {foreach from=$logistics_list item=logistics}
              <option value="{$logistics.logistics_id}" {if $delivery_order.logistics_id eq $logistics.logistics_id}selected="selected"{/if}>{$logistics.logistics_name}</option>
            {/foreach}
            </select>
            <input class="form-control" name="invoice_no" type="text" value="{$delivery_order.invoice_no}"> {$delivery_status}
            <a class="btn btn-info form-btn" id="check_tracking">查看物流單狀態</a>
            {if $delivery_order.status eq 0}<a id="update_tracking" class="btn btn-success form-btn"> 更新物流單號及物流</a>{/if}
            {else}
            {$delivery_order.logistics_name} {$delivery_order.invoice_no}
            {/if}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6 col-xs-12">
    <table class="table jambo_table table-bordered">
      <thead>
        <tr>
          <th colspan="4" align="center">{$lang.consignee_info}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><div align="right"><strong>{$lang.label_consignee}</strong></div></td>
          <td>{$delivery_order.consignee|escape}</td>
          <td><div align="right"><strong>{$lang.label_email}</strong></div></td>
          <td>{$delivery_order.email}</td>
        </tr>
        <tr>
          <td><div align="right"><strong>{$lang.label_address}</strong></div></td>
          <td>[{$delivery_order.region}] {$delivery_order.address|escape}</td>
          <td><div align="right"><strong>{$lang.label_zipcode}</strong></div></td>
          <td>{$delivery_order.zipcode|escape}</td>
        </tr>
        <tr>
          <td><div align="right"><strong>{$lang.label_tel}</strong></div></td>
          <td>{$delivery_order.tel}</td>
          <td><div align="right"><strong>{$lang.label_mobile}</strong></div></td>
          <td>{$delivery_order.mobile|escape}</td>
        </tr>
        <tr>
          <td><div align="right"><strong>{$lang.label_sign_building}</strong></div></td>
          <td>{$delivery_order.sign_building|escape}</td>
          <td><div align="right"><strong>{$lang.label_best_time}</strong></div></td>
          <td>{$delivery_order.best_time|escape}</td>
        </tr>
        <tr>
          <td><div align="right"><strong>產品序號：</strong></div></td>
          <td colspan="3">{$delivery_order.serial_numbers|nl2br}</td>
        </tr>
        <tr>
          <td><div align="right"><strong>{$lang.label_postscript}</strong></div></td>
          <td colspan="3">{$delivery_order.postscript|nl2br}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12 col-xs-12 tracking_info" id="tracking_info" style="display:none;">
  </div>
  <div class="col-sm-12 col-xs-12">
    <table class="table jambo_table table-bordered">
      <thead>
        <tr>
          <th>{$lang.goods_name_brand}</th>
          <th>{$lang.goods_sn}</th>
          <th>{$lang.goods_attr}</th>
          <th>{$lang.label_send_number}</th>
        </tr>
      </thead>
      {foreach from=$goods_list item=goods}
      <tr>
        <td>
        <a href="../goods.php?id={$goods.goods_id}" target="_blank">{$goods.goods_name} {if $goods.brand_name}[ {$goods.brand_name} ]{/if}
        </td>
        <td><div align="left">{$goods.goods_sn}</div></td>
        <td><div align="left">{$goods.goods_attr|nl2br}</div></td>
        <td><div align="left">{$goods.send_number}</div></td>
      </tr>
      {/foreach}
    </table>
  </div>
  <div class="col-sm-12 col-xs-12">
    <table class="table jambo_table table-bordered">
      <thead>
        <tr>
          <th colspan="6">{$lang.op_ship}{$lang.action_info}</th>
        </tr>
      </thead>
      <tr>
        <td><div align="right"><strong>操作員：</strong></div></td>
        <td>
          <select class="form-control" name="operator">
            <option value="">{$lang.select_please}</option>
            {foreach from=$salesperson_list item=salesperson}
            <option>{$salesperson}</option>
            {/foreach}
          </select>
        </td>
        <td><div align="right"><strong>{$lang.action_user}</strong></div></td>
        <td>{$delivery_order.action_user}</td>
        <td><div align="right"><strong>{$lang.label_agency}</strong></div></td>
        <td>{$delivery_order.agency_name}</td>
      </tr>
      {if $delivery_order.status neq 1}
      <tr>
        <td><div align="right"><strong>{$lang.label_action_note}</strong></div></td>
      <td colspan="5"><textarea class="form-control" name="action_note" cols="80" rows="3"></textarea></td>
      </tr>
      <tr>
        <td><div align="right"><strong>{$lang.label_operable_act}</strong></div></td>
        <td colspan="5" align="left">
            {if $delivery_order.status eq 2}
            <input name="delivery_confirmed" type="submit" value="{$lang.op_ship}" class="btn btn-primary"/>
            {else}
            <input name="unship" type="submit" value="{$lang.op_cancel_ship}" class="btn btn-danger" />
            {/if}
            <input name="order_id" type="hidden" value="{$delivery_order.order_id}">
            <input name="delivery_id" type="hidden" value="{$delivery_order.delivery_id}">
            <input name="act" type="hidden" value="{$action_act}">
        </td>
      </tr>
      {/if}
      <thead>
        <tr>
          <th>{$lang.action_user}</th>
          <th>{$lang.action_time}</th>
          <th>{$lang.order_status}</th>
          <th>{$lang.pay_status}</th>
          <th>{$lang.shipping_status}</th>
          <th>{$lang.action_note}</th>
        </tr>
      </thead>
      {foreach from=$action_list item=action}
      <tr>
        <td><div align="center">{$action.action_user}</div></td>
        <td><div align="center">{$action.action_time}</div></td>
        <td><div align="center">{$action.order_status}</div></td>
        <td><div align="center">{$action.pay_status}</div></td>
        <td><div align="center">{$action.shipping_status}</div></td>
        <td>{$action.action_note|nl2br}</td>
      </tr>
      {/foreach}
    </table>
  </div>
</form>
</div>
<script language="JavaScript">
  var oldAgencyId = {$delivery_order.agency_id|default:0};
{literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
    check_tracking();
    update_tracking();
  }
  var submit_token=false;
  
  function checkOperator()
  {
    if(submit_token==true){
      return false;
    }else{
      submit_token=true;
    }
    var sel_operator = null;
    var selects = document.getElementsByTagName('select');
    for (var i = 0; i < selects.length; i++)
    {
      if (selects[i].name == 'operator')
      {
        sel_operator = selects[i];
      }
    }
    if (sel_operator.value == '')
    {
      alert('必須填寫操作員');
      submit_token=false;
      return false;
    }
    return check_selected_logistics();

  }

  function check_tracking() {
    $("#check_tracking").click(function(){
      $(".tracking_info").html("查找中....");
      $.ajax({
        url: 'order.php',
        type: 'get',
        cache: false,
        data: {
          'act': 'check_invoice',
          'order_id': "{$delivery_order.order_id}",
          'invoice': "{$delivery_order.invoice_no}"
        },
        dataType: 'json',
        success: function (result) {
          if (result.error)
          {
            alert(result.message);
          }
          else
          {
            var data = result.content;
            var $html ="";
            var $actionTable = $('<table class="table jambo_table table-bordered"></table>');
            $actionTable.append('<thead><tr><th colspan="3">快遞狀態</th></tr></thead>');
            var trackinfo = data.trackinfo;
            var $length = trackinfo !== null ? Object.keys(trackinfo).length : 0;
					  if($length > 0){
              $.each(trackinfo, function (i, ti) {
              $actionTable.append('<tr>'+
                '<td>' + ti.Date + '</td>' +
                '<td>' + ti.StatusDescription + '</td>' +
                '<td>' + ti.Details + '</td>' +
                '</tr>');
              });
            } else {
              $actionTable.append('<tr>'+
                '<td colspan="3">未有相關資訊</td>' +
              '</tr>');
            }
            $(".tracking_info").html($html);
            $(".tracking_info").append($actionTable);
            $(".tracking_info").css('display', 'block');
          }
        }
      });
    });
  }

  function update_tracking() {
    $("#update_tracking").click(function(){

      // tracking number
      var originalVal = $("input[name='invoice_no']")[0].getAttribute('value');
      var newVal = $("input[name='invoice_no']").val();
      var confirm = window.confirm("你確定更新物流單號("+originalVal+" -> "+newVal+")?");
      if(confirm == true && check_selected_logistics()){
        $.ajax({
        url: 'order.php',
        type: 'get',
        cache: false,
        data: {
          'act': 'update_invoice_no',
          'delivery_id': "{$delivery_order.delivery_id}",
          'invoice_no': newVal,
          'order_id': "{$delivery_order.order_id}",
          'logistics_id': $( "#logistics_id option:selected" ).val()
        },
        dataType: 'json',
        success: function (result) {
          if (result.error)
          {
            alert(result.message);
          }
          else
          {
            if(result.content == true){
              alert("更新成功!");
              if(window.top.frames['main-frame']){
                window.top.frames['main-frame'].document.location.reload();
              } else {
                location.reload();
              }
            }
          }
        }
      });
      }

    });
  }

  function check_selected_logistics() {
    var $value = $( "#logistics_id option:selected" ).val();
    if($value > 0){
      return true;
    } else {
      alert('必須選擇物流公司');
      return false;
    }
  }
  {/literal}
</script>

{include file="pagefooter.htm"}