<table id="background-table" style="table-layout: fixed; background-color: #ececec; min-width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr style="border-collapse: collapse;">
<td style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" align="center" bgcolor="#ececec">
<table class="w640" style="margin: 0 10px;" border="0" width="640" cellspacing="0" cellpadding="0">
<tbody>
<tr style="border-collapse: collapse;">
<td class="w640" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="640" height="20">&nbsp;</td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w640" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="640">
<table id="top-bar" class="w640" style="border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0; -webkit-font-smoothing: antialiased; background-color: #00acee; color: #fff;" border="0" width="640" cellspacing="0" cellpadding="0" bgcolor="#4cc5f5">
<tbody>
<tr style="border-collapse: collapse;">
<td class="w15" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="15">&nbsp;</td>
<td class="w325" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" align="left" valign="middle" width="350">
<table class="w325" border="0" width="350" cellspacing="0" cellpadding="0">
<tbody>
<tr style="border-collapse: collapse;">
<td class="w325" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" valign="middle" width="325">
<h1 style="font-size: 20px; margin: 10px 4px; font-weight: bold;"><a href="http://www.yohohongkong.com"><img src="http://www.yohohongkong.com/images/edm/logo.png" alt="友和 YOHO" width="110" height="35" border="0" /></a></h1>
</td>
</tr>
</tbody>
</table>
</td>
<td class="w30" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="30">&nbsp;</td>
<td class="w255" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" align="right" valign="middle" width="255">
<table class="w255" border="0" width="255" cellspacing="0" cellpadding="0">
<tbody>
<tr style="border-collapse: collapse;">
<td class="w255" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="255" height="8">&nbsp;</td>
</tr>
</tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr style="border-collapse: collapse;">
<td style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" valign="middle"><a style="color: white; text-decoration: none;" href="https://www.facebook.com/yohohongkong"><img style="outline: none; text-decoration: none; display: block;" src="http://email.yohohongkong.com/images/upload/fblike-glyph.png" alt="" width="8" height="14" border="0" /></a></td>
<td style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="3">&nbsp;</td>
<td style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" valign="middle">
<div class="header-content" style="-webkit-text-size-adjust: none; -ms-text-size-adjust: none; font-size: 12px; color: #fff;"><a style="color: white; text-decoration: none;" href="https://www.facebook.com/yohohongkong">讚好</a></div>
</td>
<td class="w10" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="10">&nbsp;</td>
<td style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" valign="middle"><img style="outline: none; text-decoration: none; display: block;" src="http://email.yohohongkong.com/images/upload/forward-glyph.png" alt="Forward icon" width="19" height="14" border="0" /></td>
<td style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="3">&nbsp;</td>
<td style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" valign="middle">
<div class="header-content" style="-webkit-text-size-adjust: none; -ms-text-size-adjust: none; font-size: 12px; color: #fff;"><a style="color: white; text-decoration: none;" href="http://email.yohohongkong.com/r/[FORWARDURL]">轉寄</a></div>
</td>
</tr>
</tbody>
</table>
<table class="w255" border="0" width="255" cellspacing="0" cellpadding="0">
<tbody>
<tr style="border-collapse: collapse;">
<td class="w255" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="255" height="8">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
<td class="w15" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="15">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="border-collapse: collapse;">
<td id="header" class="w640" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" align="center" bgcolor="#4cc5f5" width="640">
<div style="text-align: center;" align="center"><a href="{$header.url}"> <img id="customHeaderImage" class="w640" style="display: inline; outline: none; text-decoration: none; max-width: 100%; height: auto;" src="{$header.img}" alt="" width="640" height="300" align="top" border="0" /></a></div>
</td>
</tr>
<tr id="gallery-content-row" style="border-collapse: collapse;">
<td class="w640" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" bgcolor="#ffffff" width="640">
<table class="w640" border="0" width="640" cellspacing="0" cellpadding="0">
<tbody>
<tr style="border-collapse: collapse;">
<td class="w30" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="30">&nbsp;</td>
<td class="w580" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="580">
<table class="w580" border="0" width="580" cellspacing="0" cellpadding="0">
<tbody>
<tr style="border-collapse: collapse;">
<td class="w580" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="580">
{if $block1.title}<h3 align="left"><a style="color: #00acee; text-decoration: none;" href="{$block1.url}">{$block1.title}</a></h3>{/if}
{if $block1.content}<div class="article-content" style="font-size: 13px; line-height: 18px; color: #444; margin-top: 0; margin-bottom: 18px; font-family: Arial,Microsoft JhengHei,Microsoft YaHei,sans-serif;" align="left">{$block1.content}</div>{/if}
</td>
</tr>
</tbody>
</table>
{foreach from=$rows item=row}
<table class="w580" border="0" width="580" cellspacing="0" cellpadding="0">
<tbody>
<tr style="border-collapse: collapse;">
<td class="w280" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" valign="top" width="280">
<table class="w280" border="0" width="280" cellspacing="0" cellpadding="0">
<tbody>
<tr style="border-collapse: collapse;">
<td class="w280" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="280"><img class="w280" style="outline: none; text-decoration: none; display: block;" alt="" width="280" border="0" /></td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w280" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="280" height="10">&nbsp;</td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w280" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif; text-align: center;" width="280"><a style="text-decoration: none;" href="{$row.left_url}"><img style="display: block; margin-left: auto; margin-right: auto;" src="{$row.left_img}" alt="" width="280" height="280" border="0" /></a></td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w280" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif; text-align: center;" width="280" height="10">
<h3 align="left"><a style="color: #00acee; text-decoration: none;" href="{$row.left_url}">{$row.left_title}</a></h3>
</td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w280" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif; text-align: center;" height="10">
<div class="article-content" style="font-size: 13px; line-height: 18px; color: #444; margin-top: 0; margin-bottom: 18px; font-family: Arial,Microsoft JhengHei,Microsoft YaHei,sans-serif;" align="left">{$row.left_content}</div>
</td>
</tr>
</tbody>
</table>
</td>
<td style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="20">&nbsp;</td>
<td class="w280" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" valign="top" width="280">
<table class="w280" border="0" width="280" cellspacing="0" cellpadding="0">
<tbody>
<tr style="border-collapse: collapse;">
<td class="w280" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="280"><img class="w280" style="outline: none; text-decoration: none; display: block;" alt="" width="280" border="0" /></td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w280" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="280" height="10">&nbsp;</td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w280" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif; text-align: center;" width="280"><a style="text-decoration: none;" href="{$row.right_url}"><img style="display: block; margin-left: auto; margin-right: auto;" src="{$row.right_img}" alt="" width="280" height="280" border="0" /></a></td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w280" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif; text-align: center;" width="280" height="10">
<h3 align="left"><a style="color: #00acee; text-decoration: none;" href="{$row.right_url}">{$row.right_title}</a></h3>
</td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w280" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif; text-align: center;" height="10">
<div class="article-content" style="font-size: 13px; line-height: 18px; color: #444; margin-top: 0; margin-bottom: 18px; font-family: Arial,Microsoft JhengHei,Microsoft YaHei,sans-serif;" align="left">
<div align="left">{$row.right_content}</div>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
{/foreach}
</td>
<td class="w30" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="30">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w640" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" bgcolor="#ffffff" height="15">
<div align="center"><img src="http://www.yohohongkong.com/images/edm/row.png" alt="" width="580" height="10" /></div>
</td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w640" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" bgcolor="#ffffff" height="15">
<div align="center"><a href="http://www.yohohongkong.com/new?u=134890"><img src="http://www.yohohongkong.com/images/edm/edm-footer-01.png" alt="最新產品" width="194" height="60" border="0" /></a><a href="http://www.yohohongkong.com/promotions/3-%E5%B0%88%E9%A1%8C%E7%B2%BE%E9%81%B8?u=134890"><img src="http://www.yohohongkong.com/images/edm/edm-footer-02-1.png" alt="專題精選" width="194" height="60" border="0" /></a><a href="http://www.yohohongkong.com/sale?u=134890"><img src="http://www.yohohongkong.com/images/edm/edm-footer-03.png" alt="限時特價" width="194" height="60" border="0" /></a><a href="http://www.yohohongkong.com/promotions?u=134890"><img src="http://www.yohohongkong.com/images/edm/edm-footer-04.png" alt="著數優惠" width="194" height="60" border="0" /></a><a href="http://www.yohohongkong.com/cat/23-%E7%BE%8E%E5%AE%B9%E5%8F%8A%E8%AD%B7%E7%90%86?u=134890"><img src="http://www.yohohongkong.com/images/edm/edm-footer-05.png" alt="美容及護理" width="194" height="60" border="0" /></a><a href="http://www.yohohongkong.com/cat/171-%E7%A9%BF%E6%88%B4%E5%BC%8F%E8%A3%9D%E7%BD%AE?u=134890"><img src="http://www.yohohongkong.com/images/edm/edm-footer-06.png" alt="穿戴式裝置" width="194" height="60" border="0" /></a><a href="http://www.yohohongkong.com/cat/1-%E6%B5%81%E5%8B%95%E7%94%A2%E5%93%81?u=134890"><img src="http://www.yohohongkong.com/images/edm/edm-footer-07.png" alt="流動產品" width="194" height="60" border="0" /></a><a href="http://www.yohohongkong.com/cat/184-%E5%AE%B6%E5%BA%AD%E9%9B%BB%E5%99%A8?u=134890"><img src="http://www.yohohongkong.com/images/edm/edm-footer-08.png" alt="家庭電器" width="194" height="60" border="0" /></a><a href="http://www.yohohongkong.com/cat/230-%E6%95%B8%E7%A2%BC%E5%BD%B1%E5%83%8F?u=134890"><img src="http://www.yohohongkong.com/images/edm/edm-footer-09.png" alt="數碼影像" width="194" height="60" border="0" /></a></div>
</td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w640" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" bgcolor="#ffffff" width="640" height="15">&nbsp;</td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w640" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="640">
<table id="footer" class="w640" style="border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; -webkit-font-smoothing: antialiased; background-color: #00acee; color: #fff;" border="0" width="640" cellspacing="0" cellpadding="0" bgcolor="#00ACEE">
<tbody>
<tr style="border-collapse: collapse;">
<td class="w30" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="30">&nbsp;</td>
<td class="w580 h0" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="360" height="18">&nbsp;</td>
<td class="w0" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="60">&nbsp;</td>
<td class="w0" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="160">&nbsp;</td>
<td class="w30" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="30">&nbsp;</td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w30" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="30">&nbsp;</td>
<td class="w580" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" valign="top" width="360">
<p id="permission-reminder" class="footer-content-left" style="-webkit-text-size-adjust: none; -ms-text-size-adjust: none; font-size: 12px; line-height: 15px; color: #fff; margin-top: 0; margin-bottom: 15px; white-space: normal;" align="left">感謝您對友和的支持 :)</p>
</td>
<td class="hide w0" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="60">&nbsp;</td>
<td class="hide w0" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" valign="top" width="160">
<p class="footer-content-left" style="-webkit-text-size-adjust: none; -ms-text-size-adjust: none; font-size: 12px; line-height: 15px; color: #fff; margin-top: 0; margin-bottom: 15px;" align="right"><a style="color: white; text-decoration: none;" href="http://email.yohohongkong.com/r/[PREFERENCESURL]">設定頁面</a> | <a style="color: white; text-decoration: none;" href="http://email.yohohongkong.com/r/[UNSUBSCRIBEURL]">取消訂閱</a></p>
</td>
<td class="w30" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="30">&nbsp;</td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w30" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="30">&nbsp;</td>
<td class="w580 h0" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="360" height="15">&nbsp;</td>
<td class="w0" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="60">&nbsp;</td>
<td class="w0" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="160">&nbsp;</td>
<td class="w30" style="border-collapse: collapse; font-family: HelveticaNeue, sans-serif;" width="30">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="border-collapse: collapse;">
<td class="w640" style="border-collapse: collapse; font-size: 9px; font-family: HelveticaNeue, sans-serif;" width="640" height="60">
<div align="center">&copy; {$smarty.getdate.year} 友和 YOHO<br /> 6/F Union Building 112 How Ming Street<br /> Kwun Tong Kowloon Hong Kong</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
