<!-- $Id: message_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{include file="pageheader.htm"}


<style type="text/css">
  .choose_image_btn {
    vertical-align: middle;
    cursor: pointer;
  }
  table.edm_table {
    width: auto;
    line-height: 1.2em;
  }
  table.edm_table td {
    padding: 8px;
  }
  table.edm_table td.label {
    width: 120px;
  }
  table.edm_table td.data {
    width: 620px;
  }
  tr.row_start td {
    border: 1px #ccc solid;
    border-bottom: 0px transparent none;
  }
  tr.row_start td.label {
    border-right: 0px transparent none;
  }
  tr.row_start td.data {
    border-left: 0px transparent none;
  }
  tr.row_middle td {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
  }
  tr.row_middle td.label {
    border-right: 0px transparent none;
  }
  tr.row_middle td.data {
    border-left: 0px transparent none;
  }
  tr.row_separate td {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc dashed;
  }
  tr.row_separate td.label {
    border-right: 0px transparent none;
  }
  tr.row_separate td.data {
    border-left: 0px transparent none;
  }
  tr.row_end td {
    border: 1px #ccc solid;
    border-left: 0px transparent none;
    border-top: 0px transparent none;
  }
  tr.row_end td.label {
    border-left: 1px #ccc solid;
    border-right: 0px transparent none;
  }
  .product_loader {
    margin-top: 8px;
  }
  .product_loader select {
    margin-top: 8px;
    display: none;
  }
</style>

<form id="theForm">
<div class="main-div" style="background-color: white;">
  <table cellspacing="0" cellpadding="0" align="center" class="edm_table">
    <tr>
      <td class="label">開頭圖片網址</td>
      <td class="data">
        <input name="header[img]" type="text" value="{$header.img}" size="80" />
        <img src="images/icon_view.gif" width="16" height="16" class="choose_image_btn">
      </td>
    </tr>
    <tr>
      <td class="label">開頭圖片鏈結</td>
      <td class="data">
        <input name="header[url]" type="text" value="{$header.url}" size="80" />
      </td>
    </tr>
    <tr>
      <td class="label">主內容標題</td>
      <td class="data">
        <input name="block1[title]" type="text" value="{$block1.title}" size="80" />
      </td>
    </tr>
    <tr>
      <td class="label">主內容標題鏈結</td>
      <td class="data">
        <input name="block1[url]" type="text" value="{$block1.url}" size="80" />
      </td>
    </tr>
    <tr>
      <td class="label">主內容</td>
      <td class="data">
        <textarea name="block1[content]" cols="80" rows="4">{$block1.content|escape}</textarea>
      </td>
    </tr>
    <tr>
      <td class="label">產品行數</td>
      <td class="data">
        <select class="num-of-rows">
          <option{if $rows_count eq 1} selected="selected"{/if}>1</option>
          <option{if $rows_count eq 2} selected="selected"{/if}>2</option>
          <option{if $rows_count eq 3} selected="selected"{/if}>3</option>
          <option{if $rows_count eq 4} selected="selected"{/if}>4</option>
          <option{if $rows_count eq 5} selected="selected"{/if}>5</option>
          <option{if $rows_count eq 6} selected="selected"{/if}>6</option>
          <option{if $rows_count eq 7} selected="selected"{/if}>7</option>
          <option{if $rows_count eq 8} selected="selected"{/if}>8</option>
          <option{if $rows_count eq 9} selected="selected"{/if}>9</option>
          <option{if $rows_count eq 10} selected="selected"{/if}>10</option>
        </select>
      </td>
    </tr>
    {foreach from=$rows item=row name=foo}
    <tr class="row_start">
      <td colspan="2" align="center">
        <strong>第{$smarty.foreach.foo.iteration}行 - 左</strong>
        <div class="product_loader">
          載入產品資料
          <input class="goods_search_txt" type="text" placeholder="輸入產品名稱或貨號" size="32" />
          <input class="goods_search_btn" type="button" value=" 搜尋 " class="btn btn-primary" />
          <select class="goods_search_select" data-row="{$smarty.foreach.foo.index}" data-pos="left"></select>
        </div>
      </td>
    </tr>
    <tr class="row_middle">
      <td class="label">鏈結</td>
      <td class="data">
        <input name="rows[{$smarty.foreach.foo.index}][left_url]" type="text" value="{$row.left_url}" size="80" />
      </td>
    </tr>
    <tr class="row_middle">
      <td class="label">圖片網址</td>
      <td class="data">
        <input name="rows[{$smarty.foreach.foo.index}][left_img]" type="text" value="{$row.left_img}" size="80" />
        <img src="images/icon_view.gif" width="16" height="16" class="choose_image_btn">
      </td>
    </tr>
    <tr class="row_middle">
      <td class="label">標題</td>
      <td class="data">
        <input name="rows[{$smarty.foreach.foo.index}][left_title]" type="text" value="{$row.left_title}" size="80" />
      </td>
    </tr>
    <tr class="row_separate">
      <td class="label">內容</td>
      <td class="data">
        <textarea name="rows[{$smarty.foreach.foo.index}][left_content]" cols="80" rows="4">{$row.left_content|escape}</textarea>
      </td>
    </tr>
    <tr class="row_middle">
      <td colspan="2" align="center">
        <strong>第{$smarty.foreach.foo.iteration}行 - 右</strong>
        <div class="product_loader">
          載入產品資料
          <input class="goods_search_txt" type="text" placeholder="輸入產品名稱或貨號" size="32" />
          <input class="goods_search_btn" type="button" value=" 搜尋 " class="btn btn-primary" /><br>
          <select class="goods_search_select" data-row="{$smarty.foreach.foo.index}" data-pos="right"></select>
        </div>
      </td>
    </tr>
    <tr class="row_middle">
      <td class="label">鏈結</td>
      <td class="data">
        <input name="rows[{$smarty.foreach.foo.index}][right_url]" type="text" value="{$row.right_url}" size="80" />
      </td>
    </tr>
    <tr class="row_middle">
      <td class="label">圖片網址</td>
      <td class="data">
        <input name="rows[{$smarty.foreach.foo.index}][right_img]" type="text" value="{$row.right_img}" size="80" />
        <img src="images/icon_view.gif" width="16" height="16" class="choose_image_btn">
      </td>
    </tr>
    <tr class="row_middle">
      <td class="label">標題</td>
      <td class="data">
        <input name="rows[{$smarty.foreach.foo.index}][right_title]" type="text" value="{$row.right_title}" size="80" />
      </td>
    </tr>
    <tr class="row_end">
      <td class="label">內容</td>
      <td class="data">
        <textarea name="rows[{$smarty.foreach.foo.index}][right_content]" cols="80" rows="4">{$row.right_content|escape}</textarea>
      </td>
    </tr>
    {if !$smarty.foreach.foo.last}
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    {/if}
    {/foreach}
    <tr>
      <td colspan="2" align="center">
        <input type="button" class="btn btn-primary" id="preview_btn" value="預覽" />
        <input type="button" class="btn btn-primary" id="get_code_btn" value="查看源始碼" />
      </td>
    </tr>
  </table>
  <iframe name="iframe0" id="iframe0" style="width: 100%; max-width: 100%; display: none;"></iframe>
</div>
</form>
<script src="/yohohk/js/iframeResizer.min.js"></script>
<script type="text/javascript" language="JavaScript">
<!--
  {literal}
  // Add highlight function to jQuery
  jQuery.fn.extend({
    highlight: function(fadeTime) {
      fadeTime = fadeTime || 500;
      $(this).each(function() {
        var el = $(this);
        el.before("<div/>");
        el.prev()
          .width(el.outerWidth())
          .height(el.outerHeight())
          .css({
            'position': 'absolute',
            'background-color': '#ffff99',
            'opacity': '.3',
            'pointer-events': 'none'
          })
          .fadeOut(fadeTime, function() {
            $(this).remove();
          });
      });
    }
  });
  
  // Setup AJAX loader
  $(document).ajaxStart(function () {
    showLoader();
  });
  $(document).ajaxStop(function () {
    hideLoader();
  });
  
  /**** Number of rows ****/
  
  $('.num-of-rows').change(function () {
    $('#theForm').append($('<input type="hidden">').prop('name', 'row_count').val($(this).val()));
    $('#theForm').attr('action', 'edmgen.php');
    $('#theForm').attr('method', 'post');
    $('#theForm').submit();
  });
  
  /**** Preview / Gen Code ****/
  
  $('#preview_btn,#get_code_btn').click(function () {
    var $iframe = $('#iframe0');
    var $form = $('<form action="edmgen.php" method="post" name="iform0" target="iframe0"></form>');
    var data = $('#theForm').serializeArray();
    data.push({name: 'act', value: 'gen'});
    data.push({name: 'mode', value: ($(this).attr('id') == 'preview_btn') ? 'preview' : 'code'});
    $.each(data, function (idx, field) {
      var $input = $('<input type="hidden">');
      $input.prop('name', field.name);
      $input.val(field.value);
      $form.append($input);
    });
    $form.appendTo('body');
    $form.get(0).submit();
    
    $iframe.on('load', function () {
      $iframe.show();
      $iframe.iFrameResize({log:true,checkOrigin:false});
      $form.remove();
    });
  });
  
  /**** Choose Image ****/
  
  var chooseImageElement = null;
  $('.choose_image_btn').click(function (){
    chooseImageElement = $(this).siblings('input').get(0);
    window.open('http://email.yohohongkong.com/admin/?pi=TinyMCEPlugin&page=elfinder_standalone', 'elfinder', 'width=900,height=450,menubar=no');
  });
  
  function receiveMessage(event)
  {
    if (event.data.cmd === 'elFinder_ready')
    {
      event.source.postMessage({
        'cmd': 'elFinder_usePostMessage',
        'val': true
      }, event.origin);
    }
    if (event.data.cmd === 'elFinder_callback')
    {
      if (chooseImageElement)
      {
        $(chooseImageElement).val('http://email.yohohongkong.com' + event.data.val);
        $(chooseImageElement).highlight();
        chooseImageElement = null;
      }
      event.source.postMessage({
        'cmd': 'elFinder_close'
      }, event.origin);
    }
  }
  window.addEventListener('message', receiveMessage, false);
  
  /**** Choose Product ****/
  
  $('.goods_search_btn').click(function () {
    var $txt = $(this).siblings('.goods_search_txt');
    var $sel = $(this).siblings('.goods_search_select');
    
    if (!$txt.val())
    {
      alert('請輸入產品名稱或貨號以進行搜尋');
      return;
    }
    
    // Display our select box
    $sel.css('display', 'block');
    
    $sel.empty();
    $sel.prop('disabled', true);
    $sel.append('<option value="">搜尋中...</option>');
    
    $.ajax({
      url: 'edmgen.php',
      type: 'post',
      data: {
        'act': 'search_goods',
        'keyword': $txt.val()
      },
      dataType: 'json',
      success: function (result) {
        var goods_list = result.content;
        $sel.empty();
        $sel.prop('disabled', false);
        $sel.append('<option value="">請選擇產品</option>');
        $.each(goods_list, function (i, goods) {
          $opt = $('<option>');
          $opt.text(goods.goods_name + ' [貨號: ' + goods.goods_sn + ']');
          $opt.val(goods.goods_id);
          $opt.data('goods_id', goods.goods_id);
          $opt.data('goods_name', goods.goods_name);
          $opt.data('goods_url', goods.goods_url);
          $opt.data('goods_img', goods.goods_img);
          $opt.data('goods_brief', goods.goods_brief);
          $sel.append($opt);
        });
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });
  });
  
  $('.goods_search_txt').keypress(function (event){
    if (event.which == 13)
    {
      $(this).siblings('.goods_search_btn').trigger('click');
      //Prevent the form from submitting
      event.preventDefault();
    }
  });
  
  $('.goods_search_select').change(function (event){
    var $sel = $(this);
    var pos_str = $sel.data('row') + '][' + $sel.data('pos') + '_';
    var $e = function (element, name) {
      return $(element + '[name="rows[' + pos_str + name + ']"]');
    };
    if ($sel.val())
    {
      $selected = $sel.find('option:selected');
      $e('input','url').val($selected.data('goods_url')).highlight();
      $e('input','img').val($selected.data('goods_img')).highlight();
      $e('input','title').val($selected.data('goods_name')).highlight();
      $e('textarea','content').val($selected.data('goods_brief')).highlight();
    }
  });
  
  {/literal}
//-->
</script>

{include file="pagefooter.htm"}