{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <input type="button" name="export" value="{$lang.export}" onclick="location.href='email_list.php?act=export';" class="btn btn-primary" />
</div>
<form method="post" action="email_list.php" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
<th width="5%"><input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox"><a href="javascript:listTable.sort('id'); ">{$lang.id}</a>{$sort_id}</th>
<th><a href="javascript:listTable.sort('email'); ">{$lang.email_val}</a>{$sort_email}</th>
<th width="15%"><a href="javascript:listTable.sort('stat'); ">{$lang.stat.name}</a>{$sort_stat}</th>
</tr>
{foreach from=$emaildb item=val}
<tr>
  <td><input name="checkboxes[]" type="checkbox" value="{$val.id}" />{$val.id}</td>
  <td>{$val.email}</td>
  <td align="center">{$lang.stat[$val.stat]}</td>
</tr>
{foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
{/foreach}
</table>
<table id="page-table" cellspacing="0">
  <tr>
    <td>
      <input type="hidden" name="act" value="" />
      <input type="button" id="btnSubmit1" value="{$lang.button_exit}" disabled="true" class="btn btn-primary" onClick="javascript:document.listForm.act.value='batch_exit';document.listForm.submit();" />
      <input type="button" id="btnSubmit2" value="{$lang.button_remove}" disabled="true" class="btn btn-primary" onClick="javascript:document.listForm.act.value='batch_remove';document.listForm.submit();" />
      <input type="button" id="btnSubmit3" value="{$lang.button_unremove}" disabled="true" class="btn btn-primary" onClick="javascript:document.listForm.act.value='batch_unremove';document.listForm.submit();" />
    </td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
//-->
</script>
{include file="pagefooter.htm"}
{/if}