<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
  {$lang.start_date}&nbsp;
    <input name="start_date" class="form-control" data-type="date" type="text" id="start_date" size="15" value='{$start_date}' />&nbsp;&nbsp;
    {$lang.end_date}&nbsp;
    <input name="end_date" class="form-control" data-type="date" type="text" id="end_date" size="15" value='{$end_date}'/>&nbsp;&nbsp;
    <input type="submit" id="submit" name="submit" value="{$lang.query}" class="btn btn-success form-btn" />
    {insert name=daterange_group}
      <div style="text-align:right">
  *<b>「處理工作清單時間」</b>只是建立工作時輸入的"預計時間"<br>
  *<b>「處理工作清單數目」</b>只包括已更新為下列狀態的工作:"完成並提交覆核", "已完成", "已封存"
  </div>
  </form>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
  <table class="table table-striped table-bordered bulk_action ">
     <tr>
      <th><a href="javascript:listTable.sort('sales_name', 'DESC'); ">員工名稱</a>{$sort_sales_name}</th>
      <th><a href="javascript:listTable.sort('orders', 'DESC'); ">POS訂單數目</a>{$sort_orders}</th>
      <th><a href="javascript:listTable.sort('volume', 'DESC'); ">POS銷售金額</a>{$sort_volume}</th>
      <th><a href="javascript:listTable.sort('shop_buy_orders', 'DESC'); ">POS門市購買訂單數目</a>{$sort_shop_buy_orders}</th>
      <th><a href="javascript:listTable.sort('shop_buy_volume', 'DESC'); ">POS門市購買銷售金額</a>{$sort_shop_buy_volume}</th>
      <th><a href="javascript:listTable.sort('avg_goods', 'DESC'); ">POS訂單平均產品數</a>{$sort_avg_goods}</th>
      <th><a href="javascript:listTable.sort('book_reply', 'DESC'); ">預售登記回覆</a>{$sort_book_reply}</th>
      <th><a href="javascript:listTable.sort('dai_reply', 'DESC'); ">缺貨登記回覆</a>{$sort_dai_reply}</th>
      <th><a href="javascript:listTable.sort('purchase', 'DESC'); ">採購</a>{$sort_purchase}</th>
      <th><a href="javascript:listTable.sort('warehousing', 'DESC'); ">入貨</a>{$sort_warehousing}</th>
      <th><a href="javascript:listTable.sort('warehousing_item', 'DESC'); ">入貨產品數</a>{$sort_warehousing_item}</th>
      <th><a href="javascript:listTable.sort('order_pay', 'DESC'); ">訂單付款</a>{$sort_order_pay}</th>
      <th><a href="javascript:listTable.sort('order_delivery', 'DESC'); ">訂單出貨</a>{$sort_order_delivery}</th>
      <th><a href="javascript:listTable.sort('order_remark', 'DESC'); ">訂單備註</a>{$sort_order_remark}</th>
      <th><a href="javascript:listTable.sort('task_count', 'DESC'); ">處理工作清單數目</a>{$sort_task_count}</th>
      <th><a href="javascript:listTable.sort('task_time', 'DESC'); ">處理工作清單時間</a>{$sort_task_time}</th>
      <th><a href="javascript:listTable.sort('sales_rating1', 'DESC'); ">服務態度</a>{$sort_sales_rating1}</th>
      <th><a href="javascript:listTable.sort('sales_rating2', 'DESC'); ">產品知識</a>{$sort_sales_rating2}</th>
      <th><a href="javascript:listTable.sort('sales_rating3', 'DESC'); ">整體評分</a>{$sort_sales_rating3}</th>
      <th><a href="javascript:listTable.sort('shop_rating1', 'DESC'); ">友和寄貨</a>{$sort_shop_rating1}</th>
    </tr>
  {foreach from=$evaluation_list item=list}
    <tr align="center">
      <td align="center">{$list.sales_name|default:N/A}</td>
      <td align="right"><a href="order.php?act=list&amp;start_time={$filter.start_date}&amp;end_time={$filter.end_date}&amp;salesperson={$list.sales_name}">{$list.orders}</a></td>
      <td align="right">{$list.volume}</td>
      <td align="right"><a href="order.php?act=list&amp;start_time={$filter.start_date}&amp;end_time={$filter.end_date}&amp;salesperson={$list.sales_name}&amp;shipping_id=2">{$list.shop_buy_orders}</a></td>
      <td align="right">{$list.shop_buy_volume}</td>
      <td align="right">{$list.avg_goods}</td>
      <td align="right">{$list.book_reply}</td>
      <td align="right">{$list.dai_reply}</td>
      <td align="right">{$list.purchase}</td>
      <td align="right">{$list.warehousing}</td>
      <td align="right">{$list.warehousing_item}</td>
      <td align="right">{$list.order_pay}</td>
      <td align="right">{$list.order_delivery}</td>
      <td align="right">{$list.order_remark}</td>
      <td align="right"><a href="tasklist.php?act=list&amp;start_finish_time={$filter.start_date}&amp;end_finish_time={$filter.end_date}&amp;status=4&amp;pic={$list.sales_name}">{$list.task_count}</a></td>
      <td align="right">{$list.task_time}</td>
      <td align="right">{$list.sales_rating1}</td>
      <td align="right">{$list.sales_rating2}</td>
      <td align="right">{$list.sales_rating3}</td>
      <td align="right">{$list.shop_rating1}</td>
    </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
  <table id="page-table" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
  </table>
{if $full_page}
</div>
</div>
<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  getDownUrl();
}

function getList()
{
    var frm =  document.forms['TimeInterval'];
    listTable.filter['start_date'] = frm.elements['start_date'].value;
    listTable.filter['end_date'] = frm.elements['end_date'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
    getDownUrl();
}

function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
  for (var i = 0; i < aTags.length; i++)
  { 
    if (aTags[i].href.indexOf('download') >= 0)
    {
      if (listTable.filter['start_date'] == "")
      {
        var frm =  document.forms['TimeInterval'];
        listTable.filter['start_date'] = frm.elements['start_date'].value;
        listTable.filter['end_date'] = frm.elements['end_date'].value;
      }
      aTags[i].href = "employee_evaluation.php?act=download&start_date=" + listTable.filter['start_date'] + "&end_date=" + listTable.filter['end_date'];
    }
  }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}