{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
<script src="js/jquery.jeditable.min.js"></script>
<script src="js/jquery.jeditable.datepicker.min.js"></script>
<link href="styles/erp_order.css" rel="stylesheet" type="text/css" />
<style>
#goods_sn_tips{width:200px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_sn_tips li{line-height:20px; list-style:none;}

#goods_name_tips{width:400px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_name_tips li{line-height:20px; list-style:none;padding: 5px;}

#goods_barcode_tips{width:200px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_barcode_tips li{line-height:20px; list-style:none;padding: 5px;}
</style>
<script language="javascript">

$(document).ready(function(){
	$("button[id^='img_submit_specs_']").click(function(){
		{if $order_info.available_act.edit eq 1}
			{if $act eq 'edit'}
				var order_id='{$order_info.order_id}';
				var order_item_id=$(this).attr('id');
				order_item_id=order_item_id.substr('img_submit_specs_'.length,order_item_id.length-'img_submit_specs_'.length);

				var specific_desc=$("#textarea_specific_desc_"+order_item_id).val();;
				function changeSpecsResponse(res)
				{
					if(res.error!=0)
					{
						alert(res.message);
					}
					else{
						$("#order_specs_"+order_item_id).modal('hide');
					}
				}
				Ajax.call('erp_order.php?act=change_specs', 'order_id='+order_id+'&order_item_id='+order_item_id +'&specific_desc='+specific_desc, changeSpecsResponse, 'POST', 'JSON');
			{else}
				$("#order_specs_"+order_item_id).modal('hide');
			{/if}
		{else}
			$("#order_specs_"+order_item_id).modal('hide');
		{/if}

	});
});
</script>


{if $order_info.available_act.approve eq 1}
<script language="javascript">
	
	function withdrawal_to_rate(order_id)
	{
		function withdrawalToRateResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.document.location="./erp_order_manage.php?act=order_list";
			}
		}
		if(confirm('{$lang.erp_order_sure_to_withdrawal_to_rate}'))
		{	
			Ajax.call('erp_order.php?act=withdrawal_to_rate', 'order_id=' + order_id, withdrawalToRateResponse, 'POST', 'JSON');
		}			
	}	
	
	$(document).ready(function(){
		$("#img_close_approve_remark").click(function(){
			$.unblockUI();
		});
	});
	
	function approve_order(order_id,act)
	{
		function approveOrderResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				alert(res.message);
				window.document.location="./erp_order_manage.php?act=order_list";
			}
		}
		
		
		if(act=='pass')
		{
			$("#img_submit_approve").bind('click',function(){
			var approve_remark=$("#textarea_approve_remark").attr('value');
			if(confirm('{$lang.erp_order_sure_to_approve}'))
			{
				Ajax.call('erp_order.php?act=approve_pass',
					'order_id=' + encodeURIComponent(order_id) +
					'&approve_remark=' + encodeURIComponent(approve_remark),
					approveOrderResponse, 'POST', 'JSON');
				 window.location.reload="./erp_order_manage.php?act=order_list";
			}
			else{
				$.unblockUI();
				$(this).unbind('click');			
			}					
			});

			$.blockUI({
		   	message: $('#approve_remark'), css: { 
		    top:  ($(window).height()-200) /2 + 'px', 
		    left: ($(window).width()-500) /2 + 'px'
		   }
		});	
		}
		else if(act=='reject')
		{
			$("#img_submit_approve").bind('click',function(){
			var approve_remark=$("#textarea_approve_remark").attr('value');
			if(confirm('{$lang.erp_order_sure_to_approve}'))
			{
				Ajax.call('erp_order.php?act=approve_reject',
					'order_id=' + encodeURIComponent(order_id) +
					'&approve_remark=' + encodeURIComponent(approve_remark),
					approveOrderResponse, 'POST', 'JSON');
			}
			else{
				$.unblockUI();
				$(this).unbind('click');			
			}					
			});
			$.blockUI({
		   	message: $('#approve_remark'), css: { 
		    top:  ($(window).height()-200) /2 + 'px', 
		    left: ($(window).width()-500) /2 + 'px'
		   }			
			});
		}
	}
	function one_key_confirm(order_id)
	{
		function approveOrderResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				alert(res.message);
				window.document.location="./erp_order_manage.php?act=order_list";
			}
		}

		Ajax.call('erp_order.php?act=to_confirm', 'order_id='+order_id+'&approve_remark=%E4%B8%80%E9%8D%B5%E5%AF%A9%E6%A0%B8', approveOrderResponse, 'POST', 'JSON');
	}
	
	function one_key_approve(order_id)
	{
		function approveOrderResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				alert(res.message);
				window.document.location="./erp_order_manage.php?act=order_list";
			}
		}
		
		Ajax.call('erp_order.php?act=approve_pass', 'order_id='+order_id+'&approve_remark=%E4%B8%80%E9%8D%B5%E5%AF%A9%E6%A0%B8', approveOrderResponse, 'POST', 'JSON');
	}

</script>
{/if}

{if $order_info.available_act.confirm eq 1 or $order_info.available_act.rate eq 1}
<script language="javascript">

	function withdrawal_to_edit(order_id)
	{
		function withdrawalToEditResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.document.location="./erp_order_manage.php?act=order_list";
			}
		}
		if(confirm('{$lang.erp_order_sure_to_withdrawal_to_edit}'))
		{	
			Ajax.call('erp_order.php?act=withdrawal_to_edit', 'order_id=' + order_id, withdrawalToEditResponse, 'POST', 'JSON');
		}			
	}
	
	function post_to_approve(order_id)
	{
		var order_id='{$order_info.order_id}';	
		if(confirm('{$lang.erp_order_sure_to_post_to_approve}'))
		{
			Ajax.call('erp_order.php?act=post_to_approve', 'order_id='+order_id, postToApprove, 'POST', 'JSON');
			//window.document.location="./erp_order_manage.php?act=order_list";
		}
		function postToApprove(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				alert(res.message);
				window.document.location="./erp_order_manage.php?act=order_list";
			}
		}
	}
	
	function rate_all()
	{
		$("span[id^='span_price_']").hide();
		$("input[id^='input_price_']").show();
	}
	
	function rate_it(order_item_id)
	{
		$("#span_price_"+order_item_id).hide();
		$("#input_price_"+order_item_id).show();
	}
	
	$(document).ready(function(){
		$("span[id^='span_price_']").mouseover(function(){
			$(this).css('color','red');
		});
	
		$("span[id^='span_price_']").mouseout(function(){
			$(this).css('color','black');
		});

		$("span[id^='span_shipping_']").mouseover(function(){
			$(this).css('color','red');
		});
	
		$("span[id^='span_shipping_']").mouseout(function(){
			$(this).css('color','black');
		});
	
		$("span[id^='span_price_']").css('cursor','pointer');
		$("span[id^='span_shipping_']").css('cursor','pointer');
		
		$("span[id^='span_price_']").click(function(){
			var order_item_id=$(this).attr('id');
			order_item_id=order_item_id.substr('span_price_'.length,order_item_id.length-'span_price_'.length);		
			
			$(this).hide();
			$("#input_price_"+order_item_id).show().focus();
		});
		$("span[id^='span_shipping_']").click(function(){
			var order_item_id=$(this).attr('id');
			order_item_id=order_item_id.substr('span_shipping_'.length,order_item_id.length-'span_shipping_'.length);		
			
			$(this).hide();
			$("#input_shipping_"+order_item_id).show().focus();
		});
		
		$("input[id^='input_price_']").keypress(function(event){
			if (event.which == 13)
			{
				$(this).blur();
			}
		});
		
		$("input[id^='input_shipping_']").keypress(function(event){
			if (event.which == 13)
			{
				$(this).blur();
			}
		});
			
		$("input[id^='input_price_']").blur(function(){
			var order_item_id=$(this).attr('id');
			order_item_id=order_item_id.substr('input_price_'.length,order_item_id.length-'input_price_'.length);
			
			var order_id='{$order_info.order_id}';	
			var price=$(this).val();
			
			if(isNaN(price))
			{
				alert('{$lang.erp_not_a_number}');
			}
			else
			{
				function changePriceResponse(res)
				{
					if(res.error!=0)
					{
						alert(res.message);
					}
					else
					{
						//window.document.location="./erp_order_manage.php?act=rate_order&order_id="+order_id;
						$('span#amount_' + order_item_id).text(res.amount);
						$('#span_price_' + order_item_id).text(res.price).show();
						$('#input_price_' + order_item_id).val(res.price).hide();
						//$('#span_total_order_amount').text(res.total_amount);
						$.ajax({
							url: 'erp_order.php',
							dataType: 'json',
							data: {
								act: 'change_cn',
								order_id: order_id,
								order_item_id: order_item_id
							},
							success: function(res){
								if(res.error == 0)
								{
									$('#span_total_order_amount').text(res.total_amount);
									$('#cn_amount_'+order_item_id).html(res.amount ? (-res.amount).toFixed(2) : "選擇");
								}
								else
								{
									alert(res.message);
								}
							}
						})
					}
				}
				
				Ajax.call('erp_order.php?act=change_price', 'order_id='+order_id+'&order_item_id='+order_item_id+'&price='+price, changePriceResponse, 'POST', 'JSON');
			}
		});
		
		$("input[id^='input_shipping_']").blur(function(){
			var order_item_id=$(this).attr('id');
			order_item_id=order_item_id.substr('input_shipping_'.length,order_item_id.length-'input_shipping_'.length);
			
			var order_id='{$order_info.order_id}';	
			var shipping=$(this).val();
			
			if(isNaN(shipping))
			{
				alert('{$lang.erp_not_a_number}');
			}
			else
			{
				function changeShippingResponse(res)
				{
					if(res.error!=0)
					{
						alert(res.message);
					}
					else
					{
						//window.document.location="./erp_order_manage.php?act=rate_order&order_id="+order_id;
						$('#span_shipping_' + order_item_id).text(res.shipping).show();
						$('#input_shipping_' + order_item_id).val(res.shipping).hide();
						$('#span_total_order_amount').text(res.total_amount);
					}
				}
				
				Ajax.call('erp_order.php?act=change_shipping', 'order_id='+order_id+'&order_item_id='+order_item_id+'&shipping='+shipping, changeShippingResponse, 'POST', 'JSON');
			}
		});
		
		
	});

</script>
{/if}
{if $order_info.available_act.edit eq 1}
{if $act eq 'edit'}
<script language="javascript">	

function set_goods_sn(order_item_id,sn)
{
	$("#input_goods_sn_"+order_item_id).val(sn);
}

/*
 * 修改订单信息
 */	
$(document).ready(function(){
   		
			var current_goods_sn='';
		
			//订单描述
			$("#span_order_description").mouseover(function(){
				$(this).css('color','red');
			});
			
			$("#span_order_description").mouseout(function(){
				$(this).css('color','black');
			});

			$("#span_order_description").css('cursor','pointer');
		
			$("#span_order_description").click(function(){
				$(this).hide();
				$("#input_order_description").show();
				$("#input_order_description").focus();
			});
			
			var old_description=$("#span_order_description").text();
			
			$("#input_order_description").change(function(){
				var order_id='{$order_info.order_id}';
				var new_description=$(this).val();

				function changeDescriptionResponse(res)
				{
					if(res.error!=0)
					{	
						alert(res.message);
						}
					else
					{
						window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;	
					}
				}
				
				Ajax.call('erp_order.php?act=change_description',
					'order_id=' + encodeURIComponent(order_id) +
					'&new_description=' + encodeURIComponent(new_description),
					changeDescriptionResponse, 'POST', 'JSON');
			});
			$("#input_order_description").blur(function(){
					$("#input_order_description").hide();
					$("#span_order_description").show();					
			});

			//更改類別
			$("#span_type_name, #span_currency_code").mouseover(function(){
				$(this).css('color','red');
			});
			
			$("#span_type_name, #span_currency_code").mouseout(function(){
				$(this).css('color','black');
			});
			
			$("#span_type_name, #span_currency_code").css('cursor','pointer');
			
			$("#span_type_name").click(function(){
				$(this).hide();
				$("#select_type").show();
			});
			
			$("#span_currency_code").click(function(){
				$(this).hide();
				$("#select_currency").show();
			});

			var old_type_id=$("#input_type").attr('value');
			
			$("#input_type").change(function(){
				var type_id=$(this).val();
				var order_id='{$order_info.order_id}';
				
				function changesupplierResponse(res)
				{
					if(res.error==0)
					{
						window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;				
					}
					else
					{
						alert(res.message);
					}										
				}
				
				Ajax.call('erp_order.php?act=change_type',
					'order_id=' + encodeURIComponent(order_id) +
					'&type_id=' + encodeURIComponent(type_id),
					changesupplierResponse, 'POST', 'JSON');
			});
			$("#input_type").blur(function(){
				$("#select_type").hide();
				$(this).hide();
				$("#span_type_name").show();
			});
			
			$("#select_type").change(function(){
				var type_id=$(this).val();
				var order_id='{$order_info.order_id}';
				
				function changeSupplierResponse(res)
				{
					if(res.error==0)
					{
						window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;				
					}
					else if(res.error=='rdr'){
						alert(res.message);
						window.document.location=res.url;
						
					}
					else
					{
						alert(res.message);
					}				
				}
				if(type_id!='')
				{
					Ajax.call('erp_order.php?act=change_type',
						'order_id=' + encodeURIComponent(order_id) +
						'&type_id=' + encodeURIComponent(type_id),
						changeSupplierResponse, 'POST', 'JSON');				
				}			
			});

			// Change currency
			$("#input_currency").change(function(){
				var currency_code=$(this).val();
				var order_id='{$order_info.order_id}';

				function changeCurrencyResponse(res)
				{
					if(res.error==0)
					{
						window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;
					}
					else
					{
						alert(res.message);
					}
				}

				Ajax.call('erp_order.php?act=change_currency',
					'order_id=' + encodeURIComponent(order_id) +
					'&currency_code=' + encodeURIComponent(currency_code),
					changeCurrencyResponse, 'POST', 'JSON');
			});
			$("#input_currency").blur(function(){
				$("#select_currency").hide();
				$(this).hide();
				$("#span_currency_code").show();
			});

			$("#select_currency").change(function(){
				var currency_code=$(this).val();
				var order_id='{$order_info.order_id}';

				function changeCurrencyResponse(res)
				{
					if(res.error==0)
					{
						window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;
					}
					else if(res.error=='rdr'){
						alert(res.message);
						window.document.location=res.url;
					}
					else
					{
						alert(res.message);
					}
				}
				if(currency_code!='')
				{
					Ajax.call('erp_order.php?act=change_currency',
						'order_id=' + encodeURIComponent(order_id) +
						'&currency_code=' + encodeURIComponent(currency_code),
						changeCurrencyResponse, 'POST', 'JSON');
				}
			});

			//更改供应商
			$("#span_supplier_name").mouseover(function(){
				$(this).css('color','red');
			});
			
			$("#span_supplier_name").mouseout(function(){
				$(this).css('color','black');
			});
			
			$("#span_supplier_name").css('cursor','pointer');
			
			$("#span_supplier_name").click(function(){
				$(this).hide();
				$("#select_supplier").show();
			});
			
			var old_supplier_code=$("#input_supplier").attr('value');
			
			$("#input_supplier").change(function(){
				var supplier_code=$(this).val();
				var order_id='{$order_info.order_id}';
				
				function changesupplierResponse(res)
				{
					if(res.error==0)
					{
						window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;				
					}
					else
					{
						alert(res.message);
					}										
				}
				
				Ajax.call('erp_order.php?act=change_supplier',
					'order_id=' + encodeURIComponent(order_id) +
					'&supplier_code=' + encodeURIComponent(supplier_code),
					changesupplierResponse, 'POST', 'JSON');
			});
			$("#input_supplier").blur(function(){
				$("#select_supplier").hide();
				$(this).hide();
				$("#span_supplier_name").show();
			});
			
			$("#select_supplier").change(function(){
				var supplier_code=$(this).val();
				var order_id='{$order_info.order_id}';
				
				function changeSupplierResponse(res)
				{
					if(res.error==0)
					{
						window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;				
					}
					else
					{
						alert(res.message);
					}				
				}
				if(supplier_code!='')
				{
					Ajax.call('erp_order.php?act=change_supplier',
						'order_id=' + encodeURIComponent(order_id) +
						'&supplier_code=' + encodeURIComponent(supplier_code),
						changeSupplierResponse, 'POST', 'JSON');				
				}			
			});
			
			// Change operator
			$('#span_operator').mouseover(function() {
				$(this).css('color','red');
			}).mouseout(function() {
				$(this).css('color','black');
			}).css({
				'cursor': 'pointer'
			}).click(function() {
				$(this).hide();
				$('select[name="operator"]').show();
			});
			
			$('select[name="operator"]').change(function() {
				var operator = $(this).val();
				var order_id='{$order_info.order_id}';
				
				function changeOperatorResponse(res)
				{
					if(res.error==0)
					{
						window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;				
					}
					else
					{
						alert(res.message);
					}				
				}
				if(operator != '')
				{
					Ajax.call('erp_order.php?act=change_operator',
						'order_id=' + encodeURIComponent(order_id) +
						'&operator=' + encodeURIComponent(operator),
						changeOperatorResponse, 'POST', 'JSON');				
				}	
			});
			
			//修改产品数量
			$("span[id^='span_order_qty_']").css('cursor','pointer');	
			$("span[id^='span_order_qty_']").mouseover(function(){
				$(this).css('color','red');
			});
			$("span[id^='span_order_qty_']").mouseout(function(){
				$(this).css('color','black');
			});			
			$("span[id^='span_order_qty_']").click(function(){
				var order_item_id=$(this).attr('id');
				order_item_id=order_item_id.substr('span_order_qty_'.length,order_item_id.length-'span_order_qty_'.length);
				
				$("#input_order_qty_"+order_item_id).show().focus();
				$(this).hide();  
			});	
			
			$("input[id^='input_order_qty_']").blur(function(){
				var order_item_id=$(this).attr('id');
				order_item_id=order_item_id.substr('input_order_qty_'.length,order_item_id.length-'input_order_qty_'.length);			
				
				var order_qty=$(this).val();
				var order_id='{$order_info.order_id}';
				
				var $span_order_qty=$('#span_order_qty_'+order_item_id);
				var $input_order_qty=$('#input_order_qty_'+order_item_id);
				
				if(isNaN(order_qty))
				{
					alert('{$lang.erp_not_a_number}');
				}
				else{
					
					function changeOrderQtyResponse(res)
					{
						if(res.error!=0)
						{
							alert(res.message);
						}
						else
						{
							window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;
						}
					}
					
					order_qty=parseInt(order_qty);
					
					Ajax.call('erp_order.php?act=change_order_qty',
						'order_id=' + encodeURIComponent(order_id) +
						'&order_item_id=' + encodeURIComponent(order_item_id) +
						'&order_qty=' + encodeURIComponent(order_qty),
						changeOrderQtyResponse, 'POST', 'JSON');
										
				}
			});

			$("#edit_expected_date").editable("erp_order_manage.php?act=edit_expected_delivery_date", {
				"submitdata": function (revert, settings, result) {
					return {
						id: $(this).data('id'),
					};
				},
				'before': function () {

				},
				'type': 'datepicker',
				'placeholder': '',
				"intercept": function (jsondata) {
					result = jQuery.parseJSON(jsondata);
					if (result.error > 0) {
						alert(result.message);
						return (this.revert);
					} else {
						return (result.content);
					}
				},
				'width': function (value, settings) {
					$input_width = $("#edit_expected_date").width();
					return $input_width + 'px';
				},
				"onblur": "submit"
			});
			
	
   });   

/*
 * 删除订单
 */	  
function delete_order(order_id)
{
		function deleteOrderResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.document.location='erp_order_manage.php?act=order_list';
			}
		}
				
		if(confirm('{$lang.erp_order_sure_to_delete_order}'))
		{
			Ajax.call('erp_order.php?act=delete_order', 'order_id=' + order_id, deleteOrderResponse, 'POST', 'JSON');
		}
}
			
function edit_order(order_id)
{
	//$("#input_supplier").show();
	$("#select_supplier").show();	
	$("#span_supplier_name").hide();
	
	$("#select_type").show();	
	$("#span_type_name").hide();
	
	$("#input_order_description").show();
	$("#span_order_description").hide();	
}
			
function post_to_rate(order_id)
{
	function postToRateResponse(res)
	{
		if(res.error!=0)
		{
			alert(res.message);
		}
		else{
			alert(res.message);
			window.document.location="./erp_order_manage.php?act=order_list";
		}
	}
	if(confirm('{$lang.erp_order_sure_to_post_order}'))
	{	
		Ajax.call('erp_order.php?act=post_to_rate', 'order_id=' + order_id, postToRateResponse, 'POST', 'JSON');
		}
}
			
function edit_order_item(order_item_id)
{
	var $span_goods_sn=$('#span_goods_sn_'+order_item_id);
	var $input_goods_sn=$('#input_goods_sn_'+order_item_id);
	var $span_goods_attr=$('#span_goods_attr_'+order_item_id);
	var $input_goods_attr=$('#input_goods_attr_'+order_item_id);
	var $span_order_qty=$('#span_order_qty_'+order_item_id);
	var $input_order_qty=$('#input_order_qty_'+order_item_id);
				
	$span_goods_sn.hide();
	$input_goods_sn.show();
	$span_goods_attr.hide();
	$input_goods_attr.show();
	$span_order_qty.hide();
	$input_order_qty.show();
	}
			
function delete_order_item(order_item_id)
{
	var order_id='{$order_info.order_id}';
				
	function deleteOrderItemResponse(res)
	{
		if(res.error!=0)
		{
			alert(res.message);
		}
		else{
			window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;	
		}
	}
	if(confirm('{$lang.erp_order_sure_to_delete_order_item}'))
	{
		Ajax.call('erp_order.php?act=delete_order_item', 'order_id=' + order_id + '&order_item_id=' + order_item_id, deleteOrderItemResponse, 'POST', 'JSON');
	}
				
}


</script>
{/if}
{/if}
<div class=" x_panel">
{if $act neq 'view'}
{if $order_info.available_act.edit eq 1}

<div class="goods_attr" id="goods_attr">
<div class="goods_attr_head">
	<table class="table table-striped">
		<tr>
			<td>
				<img src="./images/goods_attr.gif" />
			</td>
			<td align="right">
				<span><img style="cursor:pointer;" id="img_close_goods_attr" src="./images/close_erp.gif" /></span>
			</td>
		</tr>
	</table>
</div>

<div class="goods_attr_box" id="goods_attr_box">

</div>
<div class="div_submit_goods_attr">
	<img style="cursor:pointer;" id="img_submit_goods_attr" src="./images/submit.gif" />
</div>	
</div>
 
<script type="text/javascript">
	
	var attr_num=0;
	var orderItemId=0;
	
	function change_attr(order_item_id)
	{
		attr_num=0;
		
		orderItemId=order_item_id;
		
		var order_id='{$order_info.order_id}';
		
		Ajax.call('erp_order.php?act=get_goods_attr', 'order_id=' + order_id + '&order_item_id=' + order_item_id, getAttrResponse, 'POST', 'JSON');
		
		function getAttrResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message)
			}
			else{
				$("#tb_goods_attr").empty();
				$("#goods_attr_box").html(res.attr_info);
				attr_num=res.attr_num;
				
				//显示属性选择
				$.blockUI({
		   			message: $('#goods_attr'), css: { 
		   	 		top:  ($(window).height()-200) /2 + 'px', 
		    		left: ($(window).width()-500) /2 + 'px'
		   		}
				});
				}
		}
	}
	
	$(document).ready(function(){
		
		$("#img_close_goods_attr").click(function(){
			$.unblockUI();
		});
		
		$("#img_submit_goods_attr").attr('style','cursor:pointer');
		
		$("#img_submit_goods_attr").click(function(){
				
				var order_id='{$order_info.order_id}';
				var ids='';
				var selected_attr_num=0;
				
				$("input[id^='goods_attr_']").each(function(i){
						
						var is_checked=$($("input[id^='goods_attr_']")[i]).attr('checked');
			
						if(is_checked==true)
						{
							var id=$($("input[id^='goods_attr_']")[i]).attr('id');
							id=id.substr('goods_attr_'.length,id.length-'goods_attr_'.length);	
							
							selected_attr_num=selected_attr_num+1;	
							
							if(selected_attr_num<attr_num)	
							{
								ids=ids+id+',';	
							}
							else{
								ids=ids+id;	
							}	
						}
				});	
				
				if(selected_attr_num<attr_num)
				{
					alert('{$lang.erp_order_attr_not_select}');
				}
				else{

					function setAttrResponse(res)
					{
						if(res.error!=0)
						{
							alert(res.message);
						}
						else{
							window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;	
						}
					}
					
					Ajax.call('erp_order.php?act=set_goods_attr', 'order_id=' + order_id + '&order_item_id=' + orderItemId + '&ids=' + ids, setAttrResponse, 'POST', 'JSON');
					
				}				
		});
		
	});
	
</script>
 
{/if}
{/if}

<!-- start approve remark -->
{if $order_info.available_act.approve eq 1}
 
<div class="approve_remark" id="approve_remark">
<div class="approve_remark_head">
	<table>
		<tr>
			<td>
				<img src="./images/approve_remark.gif" />
			</td>
			<td align="right">
				<span><img id="img_close_approve_remark" src="./images/close_erp.gif" style="cursor:pointer;" /></span>
			</td>
		</tr>
	</table>
</div>

<div class="approve_remark_box">
<table >
	 <tr>
    	<td width="60">{$lang.erp_approve_remark}</td>	
		<td>
			<textarea rows="8" cols="55" id="textarea_approve_remark">{$order_info.approve_remark}</textarea>
		</td>
	</tr>	
</table>
</div>
<div class="div_submit_approve">
	<img id="img_submit_approve" src="./images/submit.gif" style="cursor:pointer;" />
</div>	
</div>
 
{/if}
<!-- end approve remark -->

<!--<ul id="goods_sn_tips"></ul>-->

 <!-- start order info -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table jambo_table table-striped">
	<thead>
		<tr>
			<th>{$lang.erp_order_sn}</th>
			<th>操作員</th>
			<th>收貨貨倉</th>
			<th>{$lang.erp_order_description}</th>
			<th>{$lang.erp_order_type}</th>
			<th>{$lang.erp_order_supplier}</th>
			<th>{$lang.erp_order_date}</th>
			<th>預計送貨日期</th>
			<th>貨幣</th>
			<th>{$lang.erp_order_status}</th>
			{if $act neq 'view' or $order_info.order_status eq 4}<th>{$lang.erp_operation}</th>{/if}
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{$order_info.order_sn}</td>
			<td>
				<span id="span_operator">{if $order_info.operator}{$order_info.operator}{else}{$lang.erp_NULL}{/if}</span>
				{if $act eq 'edit'}
				<select class="form-control" name="operator" style="display: none;">
					<option value="">{$lang.select_please}</option>
					{foreach from=$salesperson_list item=salesperson}
					<option{if $salesperson eq $order_info.operator} selected="selected"{/if}>{$salesperson}</option>
					{/foreach}
				</select>
				{/if}
			</td>
			<td id="order_warehouse">
				<span id="span_warehouse_name">{if $order_info.warehouse_name}{$order_info.warehouse_name}{else}{$lang.erp_NULL}{/if}</span>
				{if $order_info.available_act.edit eq 1}
					<input style="display:none;" id="input_warehouse" size="5" maxlength="5" value="{$order_info.warehouse_id}" />
					<select class="form-control"  style="display:none;" id="select_warehouse">
						<option value="" >--請選擇--</option>
						{foreach from=$warehouse_list key=warehouse_id item=warehouse}
							<option value="{$warehouse.warehouse_id}" {if $order_info.warehouse_id eq $warehouse.warehouse_id}selected="selected"{/if}>{$warehouse.name}</option>
						{/foreach}
					</select>
				{/if}
			</td>

			<td>
				<span id="span_order_description">{if $order_info.description}{$order_info.description}{else}{$lang.erp_NULL}{/if}</span>
				<input id="input_order_description" class="form-control" style="display:none;" value="{$order_info.description}"/>
			</td>
			<td id="order_type">
				<span id="span_type_name">{if $order_info.type_name}{$order_info.type_name}{else}{$lang.erp_NULL}{/if}</span>
				{if $order_info.available_act.edit eq 1}
					<input style="display:none;" id="input_type" size="5" maxlength="5" value="{$order_info.type}" />
					<select class="form-control"  style="display:none;" id="select_type">
						{foreach from=$po_order_type key=type_id item=type}
							<option value="{$type_id}" {if $order_info.type eq $type_id}selected="selected"{/if}>{$type}</option>
						{/foreach}
					</select>
				{/if}
			</td>
			<td id="order_supplier">
				<span {if $supplier_info} id="span_supplier_name"{/if}>{if $order_info.supplier_name}{$order_info.supplier_name}{else}{$lang.erp_NULL}{/if}</span>
				{if $order_info.available_act.edit eq 1}
					{if $supplier_info}
					<input style="display:none;" id="input_supplier" size="5" maxlength="5" value="{$order_info.supplier_code}" />
					<select class="form-control"  style="display:none;" id="select_supplier">
					<option value="">{$lang.erp_order_select_supplier}</option>
					{foreach from=$supplier_info item=supplier}
							<option value="{$supplier.code}" {if $order_info.supplier_code eq $supplier.code}selected="selected"{/if}>{$supplier.name}</option>
					{/foreach}
					</select>
					{/if}
				{/if}
			</td>
			<td>{$order_info.create_date}</td>
			<td>
				<span id="edit_expected_date" data-id="{$order_info.order_id}">{$order_info.expected_delivery_date|default:N/A}</span>
			</td>
			<td>
				<span id="span_currency_code" class="red">{if $order_info.currency_code}{$order_info.currency_code}{else}HKD{/if}</span>
				{if $order_info.available_act.edit eq 1}
					<input style="display:none;" id="input_currency" size="5" maxlength="5" value="{$order_info.currency_code|default:HKD}" />
					<select class="form-control"  style="display:none;" id="select_currency">
						{foreach from=$currencies item=currency}
							<option value="{$currency.currency_code}" {if ($order_info.currency_code eq $currency.currency_code && $order_info.currency_code) || (!$order_info.currency_code && $currency.currency_code eq 'HKD')}selected="selected"{/if}>{$currency.currency_code}</option>
						{/foreach}
					</select>
				{/if}
			</td>
			<td>
				{if $order_info.order_status eq 1}{$lang.erp_order_status_inputing}{/if}
				{if $order_info.order_status eq 2}{$lang.erp_order_status_rating}{/if}
				{if $order_info.order_status eq 3}{$lang.erp_order_status_approving}{/if}
				{if $order_info.order_status eq 4}{$lang.erp_order_status_approve_pass}{/if}
				{if $order_info.order_status eq 5}{$lang.erp_order_status_approve_reject}{/if}
				{if $order_info.revise_id > 0}<br><span style="font-size: 12px;">({$lang.erp_gathering_status_revised})</span>{/if}
			</td>
			{if $act neq 'view' or $order_info.order_status eq 4}	
			<td>
				{if $order_info.available_act.confirm eq 1}
				<a href="javascript:edit_order({$order_info.order_id})">{$lang.erp_operation_edit}</a>
				<a href="javascript:delete_order({$order_info.order_id})">{$lang.erp_operation_delete}</a>
				<a href="javascript:one_key_confirm({$order_info.order_id})">提交確認</a>
				{else}

					{if $order_info.available_act.edit eq 1}<a href="javascript:edit_order({$order_info.order_id})">{$lang.erp_operation_edit}</a>{/if}
					{if $order_info.available_act.delete eq 1}<a href="javascript:delete_order({$order_info.order_id})">{$lang.erp_operation_delete}</a>{/if}
					{if $order_info.available_act.post_to_rate eq 1}<a href="javascript:post_to_rate({$order_info.order_id})">{$lang.erp_operation_post_to_finance}</a>{/if}
					{if $order_info.available_act.rate eq 1}
						<a href="javascript:rate_all({$order_info.order_id})">{$lang.erp_operation_rate}</a>
						<a href="javascript:withdrawal_to_edit({$order_info.order_id})">{$lang.erp_operation_withdrawal}</a>
					{/if}
					{if $order_info.available_act.post_to_approve eq 1}<a href="javascript:post_to_approve({$order_info.order_id})">{$lang.erp_operation_post_to_approve}</a>{/if}
					{if $order_info.available_act.approve eq 1}
						<a href="javascript:approve_order({$order_info.order_id},'pass')">{$lang.erp_operation_approve_pass}</a>
						<a href="javascript:approve_order({$order_info.order_id},'reject')">{$lang.erp_operation_approve_reject}</a>
						<a href="javascript:withdrawal_to_rate({$order_info.order_id})">{$lang.erp_operation_withdrawal}</a>
						<a href="javascript:one_key_approve({$order_info.order_id})">一鍵審核</a>
					{/if}
					
				{/if}
				{if $order_info.order_status eq 4}
					<a href="purchase_payments.php?act=add&amp;order_id={$order_info.order_id}">付款</a>
					<a href="purchase_payments.php?act=list&amp;order_sn={$order_info.order_sn}">付款紀錄</a>
				{/if}
			</td>
			{/if}				
		</tr>
	</tbody>
</table>
{if $order_info.type eq 1}
<table class="table jambo_table table-striped" style="width:30%;">
<tr><th>代理送貨資料</th></tr>
<tr><td><label style="padding:2%;">訂單編號</label>
{if $act neq 'view'}
<div class="input-group">
	<input class="form-control" id="input_delivery_order_sn" value="{$order_info.client_order_sn}"/>
	<span class="input-group-btn"><input type="button" class="btn btn-success" id="fill_delievery_info" value="確定"/></span>
{else}
<span id="span_client_order_sn">{if $order_info.client_order_sn}{$order_info.client_order_sn}{else}{$lang.erp_NULL}{/if}</span>
{/if}
</td></tr>
<tr><td>
<label style="padding:2%;">姓名</label>
{if $act neq 'view'}
<input style="display:none;" id="input_order_client_name" value="{$order_info.client_name}" style="width:100%"/>
{/if}
<span id="span_order_client_name">{if $order_info.client_name}{$order_info.client_name}{else}{$lang.erp_NULL}{/if}</span>
</td></tr><tr><td>
<label style="padding:2%;">電話</label>
{if $act neq 'view'}
<input style="display:none;" id="input_order_client_tel" value="{$order_info.client_tel}" style="width:100%"/>
{/if}
<span id="span_order_client_tel">{if $order_info.client_tel}{$order_info.client_tel}{else}{$lang.erp_NULL}{/if}</span>
</td></tr><tr><td>
<label style="padding:2%;">手機</label>
{if $act neq 'view'}
<input style="display:none;" id="input_order_client_mobile" value="{$order_info.client_mobile}" style="width:100%"/>
{/if}
<span id="span_order_client_mobile">{if $order_info.client_mobile}{$order_info.client_mobile}{else}{$lang.erp_NULL}{/if}</span>
</td></tr><tr><td>
<label style="padding:2%;">地址</label>
{if $act neq 'view'}
<textarea style="display:none;" id="input_order_client_address" style="width:100%">{$order_info.client_address}</textarea>
{/if}
<span id="span_order_client_address">{if $order_info.client_address}{$order_info.client_address}{else}{$lang.erp_NULL}{/if}</span>
</td></tr>
</table>{/if}

</div>
<!-- end order info -->
{if $order_info.available_act.edit eq 1}
{if $act eq 'edit'}
<span class="red col-md-12">提醒您：庫存調整必填"描述"一欄，留空即正常採購，正常採購必要對應付款紀錄</span>
{/if}
{/if}
<br />


<!-- start order item info -->
{if $order_info.available_act.edit eq 1}
{if $act eq 'edit'}



<script type="text/javascript">

	function set_goods_sn(sn)
	{
		$("#input_goods_sn").val(sn);
	}
	
	function hide_goods_sn_tips()
	{
		$("#goods_sn_tips").hide();	
	}
	
	function set_goods_name(name)
	{
		$("#input_goods_name").val(name);
	}
	
	function hide_goods_name_tips()
	{
		$("#goods_name_tips").hide();	
	}	
	
	$(document).ready(function(){

		var current_goods_sn='';
		var current_goods_name='';
		
		$("#input_goods_sn").blur(function(){
			var goods_sn=$(this).val();
	
			function checkGoodsSnResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
					$("#input_goods_sn").focus();
					$("#input_goods_sn").val('');
				}
				else{
					$("#attr_box").html(res.attr_info);
					$("#input_qty").focus();
				}
			}
			if(goods_sn!='')
			{
				Ajax.call('erp_order.php?act=check_goods_sn',
					'goods_sn=' + encodeURIComponent(goods_sn),
					checkGoodsSnResponse, 'POST', 'JSON');
			}
		});

		$("#input_goods_name").blur(function(){
			var goods_name=$(this).val();
	
			function checkGoodsNameResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
					$("#input_goods_name").focus();
					$("#input_goods_name").val('');
				}
				else{
					$("#attr_box").html(res.attr_info);
					$("#input_qty").focus();
				}
			}
			if(goods_name!='')
			{
				Ajax.call('erp_order.php?act=check_goods_name',
					'goods_name=' + encodeURIComponent(goods_name),
					checkGoodsNameResponse, 'POST', 'JSON');
			}
		});
		
		$("#input_goods_sn").keyup(function(){
			
			var goods_sn=$(this).val();

			function goodsSNTipsResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);	
				}
				else{	
					//显示货号提示
					if(res.num>0)
					{
						$("#goods_sn_tips").empty().append(res.content);
							
						var offset=$("#input_goods_sn").position();
						var offset_top=offset.top;
						var offset_left=offset.left;
	
						var ua = navigator.userAgent.toLowerCase();
							
						if(ua.match(/firefox/))
						{
							offset_top=offset_top+9;
							offset_left=offset_left;							
						}
						else{
							offset_top=offset_top+10;
							offset_left=offset_left;							
						}
							
						$("#goods_sn_tips").css('left',offset_left);
						$("#goods_sn_tips").show();	
					}
					else{
						$("#goods_sn_tips").hide();	
					}					
				}
			}

			if(goods_sn!=current_goods_sn)
			{
				current_goods_sn=goods_sn;
				if(goods_sn!='')
				{
					Ajax.call('erp_order.php?act=goods_sn_tips',
						'goods_sn=' + encodeURIComponent(goods_sn),
						goodsSNTipsResponse, 'POST', 'JSON');
				}	
			}				
		});		

		$("#input_goods_name").keyup(function(){
			
			var goods_name=$(this).val();

			function goodsNameTipsResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);	
				}
				else{	
					//显示产品名称提示
					if(res.num>0)
					{
						$("#goods_name_tips").empty().append(res.content);
						
						console.log($("#input_goods_name").position());
						var offset=$("#input_goods_name").position();
						var offset_top=offset.top;
						var offset_left=offset.left;
	
						var ua = navigator.userAgent.toLowerCase();
							
						if(ua.match(/firefox/))
						{
							offset_top=offset_top+9;
							offset_left=offset_left;							
						}
						else{
							offset_top=offset_top+10;
							offset_left=offset_left;							
						}
							
						$("#goods_name_tips").css('left',offset_left);
						$("#goods_name_tips").show();	
					}
					else{
						$("#goods_name_tips").hide();	
					}					
				}
			}

			if(goods_name!=current_goods_name)
			{
				current_goods_name=goods_name;
				if(goods_name!='')
				{
					Ajax.call('erp_order.php?act=goods_name_tips',
						'goods_name=' + encodeURIComponent(goods_name),
						goodsNameTipsResponse, 'POST', 'JSON');
				}	
			}				
		});	
		
		$("#input_qty").keyup(function(){
			var input_qty=$(this).val();
			var last_char=input_qty.substr(input_qty.length-1,1);
			if(isNaN(last_char))
			{
				$(this).val(input_qty.substr(0,input_qty.length-1));
			}
		});	
		
		$("#update_order").click(function(){
			
			var goods_sn=$("#input_goods_sn").val();
			
			var goods_name=$("#input_goods_name").val();
			
			var goods_qty=$("#input_qty").val();
			
			var order_id='{$order_info.order_id}';
			
			var ids='';
			
			$("select[id^='select_attr_']").each(function(index){
				
				var value=$($("select[id^='select_attr_']")[index]).val();
				
				ids=ids+value+',';
			});
			
			function updateOrderResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
				}
				else{
					window.document.location="erp_order_manage.php?act=edit_order&order_id="+order_id;
				}
			}
			if(goods_sn=='' && goods_name=='')
			{
				alert('{$lang.erp_order_goods_sn_or_goods_name_required}');	
			}
			else{
				Ajax.call('erp_order.php?act=update_order',
					'order_id=' + encodeURIComponent(order_id) + 
					'&goods_sn=' + encodeURIComponent(goods_sn) +
					'&goods_name=' + encodeURIComponent(goods_name) +
					'&ids=' + encodeURIComponent(ids) +
					'&goods_qty=' + encodeURIComponent(goods_qty),
					updateOrderResponse, 'POST', 'JSON');
			}			
		});
		
		$("#fill_delievery_info").click(function(){
			
			var order_sn=$("#input_delivery_order_sn").val();
			console.log(order_sn);
			var order_id='{$order_info.order_id}';

			function fillOrderResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
				}
				else{
					window.document.location="erp_order_manage.php?act=edit_order&order_id="+order_id;
				}
			}
			if(order_sn=='')
			{
				alert('{$lang.erp_order_goods_sn_or_goods_name_required}');	
			}
			else{
				Ajax.call('erp_order.php?act=fill_delievery_info',
					'order_id=' + encodeURIComponent(order_id) + 
					'&order_sn=' + encodeURIComponent(order_sn),
					fillOrderResponse, 'POST', 'JSON');
			}			
		});		
		
		//姓名
		$("#span_order_client_name").mouseover(function(){
			$(this).css('color','red');
		});
		
		$("#span_order_client_name").mouseout(function(){
			$(this).css('color','black');
		});

		$("#span_order_client_name").css('cursor','pointer');
	
		$("#span_order_client_name").click(function(){
			$(this).hide();
			$("#input_order_client_name").show();
			$("#input_order_client_name").focus();
		});
		
		var old_client_name=$("#span_order_client_name").text();
		
		$("#input_order_client_name").change(function(){
			var order_id='{$order_info.order_id}';
			var new_client_name=$(this).val();
			
			function changeClientNameResponse(res)
			{
				if(res.error!=0)
				{	
					alert(res.message);
					}
				else
				{
					window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;	
				}
			}
			
			Ajax.call('erp_order.php?act=change_client_name',
				'order_id=' + encodeURIComponent(order_id) +
				'&client_name=' + encodeURIComponent(new_client_name),
				changeClientNameResponse, 'POST', 'JSON');
		});
		$("#input_order_client_name").blur(function(){
				$("#input_order_client_name").hide();
				$("#span_order_client_name").show();					
		});
		
		// 電話
		$("#span_order_client_tel").mouseover(function(){
			$(this).css('color','red');
		});
		
		$("#span_order_client_tel").mouseout(function(){
			$(this).css('color','black');
		});

		$("#span_order_client_tel").css('cursor','pointer');
	
		$("#span_order_client_tel").click(function(){
			$(this).hide();
			$("#input_order_client_tel").show();
			$("#input_order_client_tel").focus();
		});
		
		var old_client_tel=$("#span_order_client_tel").text();
		
		$("#input_order_client_tel").change(function(){
			var order_id='{$order_info.order_id}';
			var new_client_tel=$(this).val();
			
			function changeClientTelResponse(res)
			{
				if(res.error!=0)
				{	
					alert(res.message);
					}
				else
				{
					window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;	
				}
			}
			
			Ajax.call('erp_order.php?act=change_client_tel',
				'order_id=' + encodeURIComponent(order_id) +
				'&client_tel=' + encodeURIComponent(new_client_tel),
				changeClientTelResponse, 'POST', 'JSON');
		});
		$("#input_order_client_tel").blur(function(){
				$("#input_order_client_tel").hide();
				$("#span_order_client_tel").show();					
		});
		
		// 電話
		$("#span_order_client_mobile").mouseover(function(){
			$(this).css('color','red');
		});
		
		$("#span_order_client_mobile").mouseout(function(){
			$(this).css('color','black');
		});

		$("#span_order_client_mobile").css('cursor','pointer');
	
		$("#span_order_client_mobile").click(function(){
			$(this).hide();
			$("#input_order_client_mobile").show();
			$("#input_order_client_mobile").focus();
		});
		
		var old_client_mobile=$("#span_order_client_mobile").text();
		
		$("#input_order_client_tel").change(function(){
			var order_id='{$order_info.order_id}';
			var new_client_mobile=$(this).val();
			
			function changeClientMobileResponse(res)
			{
				if(res.error!=0)
				{	
					alert(res.message);
					}
				else
				{
					window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;	
				}
			}
			
			Ajax.call('erp_order.php?act=change_client_mobile',
				'order_id=' + encodeURIComponent(order_id) +
				'&client_mobile=' + encodeURIComponent(new_client_mobile),
				changeClientMobileResponse, 'POST', 'JSON');
		});
		$("#input_order_client_mobile").blur(function(){
				$("#input_order_client_mobile").hide();
				$("#span_order_client_mobile").show();					
		});
		
		// 地址
		$("#span_order_client_address").mouseover(function(){
			$(this).css('color','red');
		});
		
		$("#span_order_client_address").mouseout(function(){
			$(this).css('color','black');
		});

		$("#span_order_client_address").css('cursor','pointer');
	
		$("#span_order_client_address").click(function(){
			$(this).hide();
			$("#input_order_client_address").show();
			$("#input_order_client_address").focus();
		});
		
		var old_client_address=$("#span_order_client_address").text();
		
		$("#input_order_client_address").change(function(){
			var order_id='{$order_info.order_id}';
			var new_client_address=$(this).val();
			function changeClientAddressResponse(res)
			{
				if(res.error!=0)
				{	
					alert(res.message);
					}
				else
				{
					window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;	
				}
			}
			
			Ajax.call('erp_order.php?act=change_client_address',
				'order_id=' + encodeURIComponent(order_id) +
				'&client_address=' + encodeURIComponent(new_client_address),
				changeClientAddressResponse, 'POST', 'JSON');
		});
		$("#input_order_client_address").blur(function(){
				$("#input_order_client_address").hide();
				$("#span_order_client_address").show();					
		});

		$("#span_warehouse_name").mouseover(function(){
			$(this).css('color','red');
		});
		
		$("#span_warehouse_name").mouseout(function(){
			$(this).css('color','black');
		});
		
		$("#span_warehouse_name").css('cursor','pointer');
		
		$("#span_warehouse_name").click(function(){
			$(this).hide();
			$("#select_warehouse").show();
		});

		$("#select_warehouse").change(function(){
			var warehouse_id=$(this).val();
			var order_id='{$order_info.order_id}';
			
			function changeWarehouseResponse(res)
			{
				if(res.error==0)
				{
					window.document.location="./erp_order_manage.php?act=edit_order&order_id="+order_id;				
				}
				else if(res.error=='rdr'){
					alert(res.message);
					window.document.location=res.url;
					
				}
				else
				{
					alert(res.message);
				}				
			}
			if(warehouse_id!='')
			{
				Ajax.call('erp_order.php?act=change_warehouse',
					'order_id=' + encodeURIComponent(order_id) +
					'&warehouse_id=' + encodeURIComponent(warehouse_id),
					changeWarehouseResponse, 'POST', 'JSON');				
			}
		});

		
	});
	
</script>

<div class="col-md-12 form-inline">
	<label>{$lang.erp_order_goods_sn}</label>
	<input class="form-control" id="input_goods_sn" value="" />
	<ul id="goods_sn_tips"></ul>
	<label>{$lang.erp_order_goods_name}</label>
	<input class="form-control" id="input_goods_name" value="" />
	<ul id="goods_name_tips"></ul>
	<label>{$lang.erp_order_input_qty}</label>
	<input class="form-control" id="input_qty" width="20px" value="" type="number" />
	<input type="button"  id="update_order" value="確定" class="form-btn btn btn-default" style="cursor:pointer;" />
</div>

{/if}
{/if}



<style type=text/css>
	table#cn_table {
		background: WHITE;
		border-radius: 5px;
	}
	.zoom_container
	{
		height:300px;
		width:311px;
		overflow:hidden;
		position:absolute;
		z-index:100;
		display:none;
	}
	.zoom_pointer
	{
		height:300px;
		width:11px;
		margin:0px;
		overflow:hidden;
		float:left;
		position:relative;
	}
	.zoom_img
	{
		height:298px;
		width:299px;
		margin:0px;
		background-color:#FFF;
		border-top:1px solid #BBDDE5;
		border-right:1px solid #BBDDE5;
		border-bottom:1px solid #BBDDE5;
		overflow:hidden;
		float:left;
		position:relative;
	}	
	#cn_container
	{
		width: 280px;
		position: fixed;
		top: 50%;
		left:50%;
		transform: translate(-50%,-50%);
	}
	span[id^='cn_amount_']:hover{
		color: red
	}
</style>

<script language="JavaScript">
   $(document).ready(function(){

	$("img[id^='goods_img_']").mouseover(function(){
			var order_item_id=$(this).attr('id');
			order_item_id=order_item_id.substr('goods_img_'.length,order_item_id.length-'goods_img_'.length);
			
			this_width=$(this).css('width');
			this_width=this_width.substr(0,this_width.length-2);
			this_width=parseInt(this_width);
			
			var position_x=$(this).offset().left;
			var position_y=$(this).offset().top;

			$("#zoom_goods_img_"+order_item_id).css('top',position_y-30);
			$("#zoom_goods_img_"+order_item_id).css('left',position_x+this_width);
			
			$("#zoom_goods_img_"+order_item_id).show();
		});
	$("img[id^='goods_img_']").mouseout(function(e){
		var order_item_id=$(this).attr('id');
		order_item_id=order_item_id.substr('goods_img_'.length,order_item_id.length-'goods_img_'.length);
		
		$("#zoom_goods_img_"+order_item_id).hide();
	});	
   });
</script>

{if $order_info.available_act.confirm eq 1 or $order_info.available_act.rate eq 1}
<script>
function get_credit_note(supplier_id,order_id,order_item_id){
	if(parseFloat($('#input_price_'+order_item_id).val())){
		$.ajax({
			url: "purchase_payments.php",
			dataType: "json",
			data: {
				act: "credit",
				supplier_id: supplier_id,
			},
			success: function(res){
				$div = $("<div></div>");
				var table = '<table id="cn_table" class="table jambo_table table-striped"><tr><th></th><th>編號</th><th>剩餘金額</th></tr>';
				res.content.length > 0
					? res.content.map((v)=>table += '<tr><td><input name="cn_check[]" type="checkbox" value="' + v.cn_id + '" id="ch_'+ v.cn_id + '"></td><td>' + v.cn_sn + '</td><td id="am_'+ v.cn_id + '">HK$' + parseFloat(v.curr_amount).toFixed(2) + '</td></tr>', "")
					: table += '<tr><td colspan="3">沒有供應商之Credit Note</td></tr>';

				$button = $('<input class="btn btn-primary btn-sm" type="button" value="確認">');
				$div.append($(table + '</table>'));
				$div.append($button);
				$popup = modal.create("選擇 Credit Note", $div, false, "sm");
				modal.show($popup);
				$('input[type=checkbox]').change(function(){
					$('input[name="' + this.name + '"]').not(this).attr('checked',false);
				})
				$button.click(function(){
					$.ajax({
						url: 'erp_order.php',
						dataType: 'json',
						data: {
							act: 'change_cn',
							order_id: order_id,
							order_item_id: order_item_id,
							amount: parseFloat($('#amount_'+order_item_id).text()),
							cn_id: $('input[type=checkbox]:checked').val()
						},
						success: function(res){
							if(res.error == 0)
							{
								$('#span_total_order_amount').text(res.total_amount);
								$('#cn_amount_'+order_item_id).html(res.amount ? (-res.amount).toFixed(2) : "選擇");
							}
							else
							{
								alert(res.message);
							}
						}
					})
					modal.hide($popup)
				});
			}
		})
	}else{
		alert('請先設定定購價格')
	}
}
</script>
{/if}
<div id="zoom_div">
{foreach from=$order_item_info item=order_item}	

	{if $order_item.goods_details}
	<div class="zoom_container" id="zoom_goods_img_{$order_item.order_item_id}">
			<div class="zoom_pointer">
				<img src="./images/line_left.gif">
			</div>
			<div class="zoom_img">
				<img width="297" weight="297" src="{$order_item.goods_details.goods_img}">
			</div>
	</div>	
	{/if}

	<div class="zoom_container" id="zoom_goods_draft_{$order_item.order_item_id}">
			<div class="zoom_pointer">
				<img src="./images/line_left.gif">
			</div>
			<div class="zoom_img">
				<img width="297" weight="297" src="{$order_item.draft_info.img_url}">
			</div>
	</div>	

	{foreach from=$order_item.stuff_info key=key item=stuff}
		{if $stuff}	
		<div class="zoom_container" id="zoom_goods_stuff_{$key}_{$order_item.order_item_id}">
			<div class="zoom_pointer">
				<img src="./images/line_left.gif">
			</div>
			<div class="zoom_img">
				<img width="297" weight="297" src="{$stuff.img_url}">
			</div>
		</div>			
		{/if}				
	{/foreach}	
	
{/foreach}
</div>

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table jambo_table table-striped">
	<thead>
	<tr>
		<th>{$lang.erp_order_item_id}</th>
		<th>{$lang.erp_order_item_goods_img}</th>
		<th>{$lang.erp_order_item_goods_sn}</th>
		<th>{$lang.erp_order_item_goods_name}</th>
		{if ($manage_cost or $is_self_po) and ($act eq 'rate' or $act eq 'edit')}
		<th>價格</th>
		<th>成本價</th>
		{/if}
		<th>{$lang.erp_order_item_order_qty}</th>
		<th>{$lang.erp_order_item_order_price}</th>
		<th>{$lang.erp_order_item_order_amount}</th>
		<th>運費</th>
		<th>Credit Note</th>
		<th>{$lang.erp_operation}</th>
	</tr>
	</thead>
	{foreach from=$order_item_info key=key item=order_item}	
		<tr id="tr_order_item_{$order_item.order_item_id}">
		<td>{$order_item.order_item_id}</td>
		<td>
			<img  {if $order_item.goods_details.goods_thumb}id="goods_img_{$order_item.order_item_id}"{/if} width="70" height="70" src="{if $order_item.goods_details.goods_thumb}{$order_item.goods_details.goods_thumb}{else}./images/no_img.gif{/if}">
		</td>
		<td>
			<span id="span_goods_sn_{$order_item.order_item_id}">
				{if $order_item.goods_details}
					<a href="goods.php?act=list&amp;keyword={$order_item.goods_details.goods_sn}">{$order_item.goods_details.goods_sn}</a>
				{else}	
					{$lang.erp_order_input_goods_sn}
				{/if}	
			</span>
			<input id="input_goods_sn_{$order_item.order_item_id}" size="10" maxlength="10" value="{$order_item.goods_details.goods_sn}" style="display:none;">		
		</td>
		<td>
			<span id="span_goods_name_{$order_item.order_item_id}">{$order_item.goods_details.goods_name}</span>
		</td>
		{if ($manage_cost or $is_self_po) and ($act eq 'rate' or $act eq 'edit')}
		<td>
			<span>{$order_item.goods_details.shop_price}</span>
		</td>
		<td>
			<span>{$order_item.goods_details.cost}</span>
		</td>
		{/if}
		<td>
			<span {if $order_item.goods_id neq 0}id="span_order_qty_{$order_item.order_item_id}"{/if}>{$order_item.order_qty}</span>
			<input size="5" style="display:none;" id="input_order_qty_{$order_item.order_item_id}" value="{$order_item.order_qty}">		
		</td>
		<td>
			<span id="span_price_{$order_item.order_item_id}">{if $manage_cost || $order_item.original_price eq 0 || ($act eq 'rate' || $act eq 'edit')}{$order_item.original_price}{/if}</span>
			<input size="5" style="display:none;" id="input_price_{$order_item.order_item_id}" value="{if $manage_cost || $order_item.original_price eq 0 || $act eq 'rate'}{$order_item.original_price}{/if}">
		</td>
		<td>
			<span id="amount_{$order_item.order_item_id}">{if $manage_cost || $order_item.original_amount eq 0 || ($act eq 'rate' || $act eq 'edit')}{$order_item.original_amount}{/if}</span>
		</td>
		<td>
			<span id="span_shipping_{$order_item.order_item_id}">{if $manage_cost || $order_item.original_amount eq 0 || ($act eq 'rate' || $act eq 'edit')}{$order_item.original_shipping_price}{/if}</span>
			<input size="5" style="display:none;" id="input_shipping_{$order_item.order_item_id}" value="{if $manage_cost || $order_item.original_price eq 0 || ($act eq 'rate' || $act eq 'edit')}{$order_item.original_shipping_price}{/if}">
		</td>
		<td>
			{if $order_info.currency_code eq 'HKD'}
			<span{if $order_info.available_act.rate eq 1} style="cursor:pointer" onclick="get_credit_note({$order_info.supplier_id},{$order_info.order_id},{$order_item.order_item_id})" id="cn_amount_{$order_item.order_item_id}"{/if}>{if $order_item.cn_id}-{$order_item.cn_amount}{else}選擇{/if}</span>
			{else}
			<span class="red">無法使用CN</span>
			{/if}
		</td>
		<td>
			{if $act neq 'view' && $order_item.selected_attr}
				{if $order_info.available_act.edit eq 1}<a href="javascript:change_attr({$order_item.order_item_id})">{$lang.erp_operation_change_attr}</a>{/if}
			{/if}
			<a data-toggle="modal" data-target='#order_specs_{$order_item.order_item_id}'>{$lang.erp_order_operation_view_details}</a>
			{if $act neq 'view'}
				{if $order_info.available_act.delete eq 1}<a href="javascript:delete_order_item({$order_item.order_item_id})">{$lang.erp_operation_delete}</a>{/if}	
			{/if}
		</td>
	</tr>
	{foreachelse}
  		<tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
  {/foreach}
</table>

<div class="col-md-12">
	<div class=" pull-right">
		{$lang.erp_order_sum_total}
		<span id="span_total_order_qty">{if $order_info.order_qty}{$order_info.order_qty}{else}0{/if}</span>
		{$lang.erp_order_qty_unit}，
		<span class="red">{if $order_info.currency_code}{$order_info.currency_code}{else}HKD{/if}</span>
		<span id="span_total_order_amount">{if $manage_cost || $order_info.original_order_amount eq 0 || ($act eq 'rate' || $act eq 'edit')}{if $order_info.original_order_amount}{$order_info.original_order_amount}{else}0{/if}{/if}</span>
		{$lang.erp_order_amount_unit}
	</div>
</div>

</div>
<!-- end order item info -->


<!-- start order specs info -->
{foreach from=$order_item_info item=order_item}
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="order_specs_{$order_item.order_item_id}">
	<div class="modal-dialog modal-xs">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">訂單要求</h4>
			</div>
			<div class="modal-body">
				<label>{$lang.erp_order_specific}</label>
				<textarea class="form-control" {if $order_info.available_act.edit eq 1}{if $act eq 'view'}disabled="disabled"{/if}{else}disabled="disabled"{/if} id="textarea_specific_desc_{$order_item.order_item_id}">{$order_item.specific_desc}</textarea>
			</div>
			<div class="modal-footer">
				<button type="button" id="img_submit_specs_{$order_item.order_item_id}" class="btn btn-default">確定</button>
			</div>
		</div>
	</div>
</div>
{/foreach}
<!-- end order specs info -->
</div>

{if $order_info.available_act.rate == 1}
<script language="JavaScript">
	$(document).ready(function(){
		if (parseInt($("input[id^='input_price_']").val()) != 0){
			$("input[id^='input_price_']").blur();
		}
	})
</script>
{/if}

{include file="pagefooter.htm"}

