<input class=" btn btn-success " id="reverse_previous_step_submit" type="button" value="返回上一步">
<div id="error_msg_back_to_previous_step" class="red"></div>
<script>
$('#reverse_previous_step_submit').click(function(){
    $.ajax({
    url: 'erp_rma_common.php',
    type: 'post',
    cache: false,
    data: {
      'act': 'post_rma_reverse_previous_step_submit',
      'rma_id' : rma_id
    },
    dataType: 'json',
    success: function (result) {
      if (result['error'] == 0) {
          var url="erp_rma_check.php?act=list&rma_id=" + rma_id ;
          window.location=url;
      } else {
          $('#error_msg_back_to_previous_step').html(result.message);
          //alert(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });

    //var url="erp_rma_finished.php?act=list&rma_id=" + rma_id;
    //window.location=url;
});
</script>
