


<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<script language="javascript">
	$(document).ready(function(){
		var first_load = true;
		$("#select_s_s").change(function(){
			var this_value=$(this).attr('value');

			if(this_value=='a')
			{
				$("option[id^='option_w_d_s_']").remove();
				$("#select_w_d_s").hide();
				
			}
			else if(this_value=='w')
			{
				function getWarehousingStyleResponse(res)
				{					
					for(var i=0;i<res.warehousing_style.length;i++)
					{
						obj_str='<option id="option_w_d_s_'+res.warehousing_style[i].warehousing_style_id+'" value="'+res.warehousing_style[i].warehousing_style_id+'">';
						obj_str+=res.warehousing_style[i].warehousing_style;
						obj_str+='</option>';
						
						$("#select_w_d_s").append(obj_str);
					}
					$("#select_w_d_s").show();
					
					if (first_load)
					{
						$("#select_w_d_s").val('{$warehousing_delivery_style_id}');
						first_load = false;
					}
				}
				
				$("option[id^='option_w_d_s_']").remove();
				
				Ajax.call('erp_stock_record.php?act=get_warehousing_style', '' , getWarehousingStyleResponse, 'POST', 'JSON');	
			}
			else if(this_value=='d')
			{
				function getDeliveryStyleResponse(res)
				{					
					for(var i=0;i<res.delivery_style.length;i++)
					{
						obj_str='<option id="option_w_d_s_'+res.delivery_style[i].delivery_style_id+'" value="'+res.delivery_style[i].delivery_style_id+'">';
						obj_str+=res.delivery_style[i].delivery_style;
						obj_str+='</option>';
						
						$("#select_w_d_s").append(obj_str);
					}
					$("#select_w_d_s").show();
					
					if (first_load)
					{
						$("#select_w_d_s").val('{$warehousing_delivery_style_id}');
						first_load = false;
					}
				}
				
				$("option[id^='option_w_d_s_']").remove();
				
				Ajax.call('erp_stock_record.php?act=get_delivery_style', '' , getDeliveryStyleResponse, 'POST', 'JSON');				
			}
		}).trigger('change');
	});
	
</script>


<div class="form-div col-md-12">
	<div style="float:left;">
	  <form action="erp_stock_record.php" name="searchForm" id="stock_record_search" class="form-inline">
	    <input type="hidden" name="act" value="W_D_record" />
		<img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
		
	 	<!-- 收或出库 -->
	    <select class="form-control" name="s_s" id="select_s_s">
	    	<option value="a" {if $stock_style eq 'a'}selected="selected"{/if}>{$lang.erp_stock_record_search_stock_style_both}</option>
			<option value="w" {if $stock_style eq 'w'}selected="selected"{/if}>{$lang.erp_stock_record_search_stock_style_only_warehousing}</option>
			<option value="d" {if $stock_style eq 'd'}selected="selected"{/if}>{$lang.erp_stock_record_search_stock_style_only_delivery}</option>
		</select>   
	
	    <!-- 出入库类型 -->
	    <select class="form-control" name="w_d_s_id" style="display:none;" id="select_w_d_s">
			<option value="0">{$lang.erp_stock_record_search_w_d_style}</option>
		</select>
		
		<!-- 收发货仓库 -->
	    <select class="form-control" name="w_id" id="w_id">
	    	<option value="0" {if $warehouse_id eq 0}selected="selected"{/if} >{$lang.erp_stock_record_search_warehouse}</option>
			{foreach from=$warehouse_list item=warehouse_info}
				<option value="{$warehouse_info.warehouse_id}" {if $warehouse_id eq $warehouse_info.warehouse_id}selected="selected"{/if}>--{$warehouse_info.name}</option>
			{/foreach}
		</select>

		<!-- 供货商 -->
	    <select class="form-control" name="s_id" id="s_id">
	    	<option value="0" {if $supplier_id eq 0}selected="selected"{/if} >{$lang.erp_stock_record_search_supplier}</option>
			{foreach from=$supplier_list item=supplier}
				<option value="{$supplier.supplier_id}" {if $supplier_id eq $supplier.supplier_id}selected="selected"{/if}>{$supplier.name}</option>
			{/foreach}
		</select>
		
		<!-- 品牌 -->
	    <select class="form-control" name="b_id" id="b_id">
	    	<option value="0" {if $brand_id eq 0}selected="selected"{/if} >{$lang.erp_stock_record_search_brand}</option>
			{foreach from=$brand_list item=brand}
				<option value="{$brand.brand_id}" {if $brand_id eq $brand.brand_id}selected="selected"{/if}>{$brand.brand_name}</option>
			{/foreach}
		</select>				
	
	    <!-- 起始期 -->
	    {$lang.erp_stock_record_search_start_date} <input class="form-control" type="text" name="s_date" size="10" id="s_date" value="{$start_date}" data-type="date" />
		
		<!-- 结束期 -->
	    {$lang.erp_stock_record_search_end_date} <input class="form-control" type="text" name="e_date" size="10" id="e_date" value="{$end_date}" data-type="date" />
	
		<!-- 产品货号 -->
	    <input class="form-control" placeholder="{$lang.erp_stock_record_search_goods_sn}" type="text" name="goods_sn" size="12" id="goods_sn" value="{$goods_sn}" />
		
		<!-- 产品名称 -->
	    <input class="form-control" placeholder="{$lang.erp_stock_record_search_goods_name}" type="text" name="goods_name" size="12" id="goods_name" value="{$goods_name}" />
		
		<input type="hidden" name="act" value="list" />
	    <input type="submit" value="{$lang.button_search}" class="btn btn-success form-btn" />
	  </form>
  	</div>
  
	<!--div style="float:right;">
		<img id="print_w_d_record" src="images/print.gif" />
	</div>
	
	<div style="float:right; margin-right:10px;">
		<img id="export_w_d_record" src="images/export.gif" />
	</div--> 
  
</div>

<script language="javascript">	
$(document).ready(function(){
	
	$("#print_w_d_record").css('cursor','pointer');
	$("#print_w_d_record").click(function(){
		
		var goods_sn=$("#goods_sn").attr('value');
		var goods_name=$("#goods_name").attr('value');
		var s_date=$("#s_date").attr('value');
		var e_date=$("#e_date").attr('value');
		var w_id=$("#w_id").attr('value');
		var w_d_s_id=$("#select_w_d_s").attr('value');
		var s_s=$("#select_s_s").attr('value');
		var s_id=$("#s_id").attr('value');
		var b_id=$("#b_id").attr('value');		
		
		var url="erp_stock_record.php?act=print&goods_sn="+goods_sn+"&goods_name="+goods_name+"&s_date="+s_date+"&e_date="+e_date+"&w_id="+w_id+"&w_d_s_id="+w_d_s_id+"&s_s="+s_s+"&s_id="+s_id+"&b_id="+b_id+"&page="+{$page};
		
		window.open(url);	
	});
	
	$("#export_w_d_record").css('cursor','pointer');
	$("#export_w_d_record").click(function(){


		var goods_sn=$("#goods_sn").attr('value');
		var goods_name=$("#goods_name").attr('value');
		var s_date=$("#s_date").attr('value');
		var e_date=$("#e_date").attr('value');
		var w_id=$("#w_id").attr('value');
		var w_d_s_id=$("#select_w_d_s").attr('value');
		var s_s=$("#select_s_s").attr('value');
		var s_id=$("#s_id").attr('value');
		var b_id=$("#b_id").attr('value');
	
		var url="erp_stock_record.php?act=export&goods_sn="+goods_sn+"&goods_name="+goods_name+"&s_date="+s_date+"&e_date="+e_date+"&w_id="+w_id+"&w_d_s_id="+w_d_s_id+"&s_s="+s_s+"&s_id="+s_id+"&b_id="+b_id+"&page="+{$page};
		
		Ajax.call(url, '' , exportStockRecordResponse, 'POST', 'JSON');
		
		function exportStockRecordResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.location=res.url;	
			}
		}
	});	
	
});

</script>

