{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style>
.calendar {
  z-index: 5000;
}

#success_message {
  color :green;
}

#error_message {
  color :red;
}

.highline {
  color:red;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #34495e;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}
</style>

{include file="erp_rma_progress_bar.htm"}
{include file="erp_rma_goods_info.htm"}

<div class=" x_panel">
<div class="x_title">
    <h2>操作</h2>
    <div class="clearfix"></div>
</div>
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">負責部門 : <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12 form_text">
            Warehouse Team
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">跟進人 :  <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control" style="width: 80%; display: inline-block;" name="user_id" id="user_id">
            {foreach from=$person_in_charge_option item=opt}
                <option {if $opt.value == $rma_basic_info.person_in_charge} selected {/if} value="{$opt.value}">{$opt.name}</option>
            {/foreach}
            </select>
            <input class=" btn btn-success" type="button" id="save_user_btn" value="儲存" class="button" />
            <div class="green" id="save_user_success"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 操作: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="checkbox">
                <input type="checkbox" id="supplier_returned" class="flat" style="position: absolute; opacity: 0;"> 維修完成(已經取回維修產品)
            </label>
        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required"></span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <textarea class="form-control col-md-7 col-xs-12" id="note" rows="2" cols="54" placeholder="填寫備註"></textarea>
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_content">
                <input class=" btn btn-success" type="button" id="continue_btn" value="下一步" class="button" />
                <div id="error_msg" class="red"></div>
            </div>
        </div>
    </div>
</form>
</div>

{if $channel == 0 && $rma_basic_info.replace_with_new == 0}
<div class=" x_panel">
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="x_title">
        <h2>特別處理</h2>
        <div class="clearfix"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">負責部門 : <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12 form_text">
            Sale Team
        </div>
    </div>
<div class="form-group">
 <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">跟進人 :  <span class="required">*</span>
 </label>
 <div class="col-md-6 col-sm-6 col-xs-12">
     <select class="form-control" name="user_id_special" id="user_id_special">
     {foreach from=$person_in_charge_option item=opt}
         <option {if $opt.value == $rma_basic_info.person_in_charge} selected {/if} value="{$opt.value}">{$opt.name}</option>
     {/foreach}
     </select>
 </div>
 </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="checkbox">
                <input type="checkbox" id="replace_with_new" class="flat" style="position: absolute; opacity: 0;">
                先給客人一個全新的,有問題的產品再之後維修.
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_content">
              <input class=" btn btn-success" type="button" id="continue_btn_special" value="確定">
              <div id="error_msg_special" class="red"></div>
            </div>
        </div>
    </div>
</form>
</div>
{/if}


{include file="erp_rma_log.htm"}


{include file="erp_rma_back_previous.htm"}


<!-- end stock check list -->
{include file="pagefooter.htm"}

<script>
var $table = yoho_dataTable();
var rma_id = {$rma_id};
var $popup2 = '';
console.log('rma_id',rma_id);

$('#continue_btn').click(function(){
    var user_id = $("#user_id").val();
    var supplier_returned = $('#supplier_returned').is(':checked');
    var note = $("#note").val();

    if (user_id == '') {
        alert('請選擇跟進人');
        return false;
    } else if (supplier_returned == false) {
        alert('要維修完成(已經取回維修產品),才可進下一步');
        return false;
    }

    $.ajax({
      url: 'erp_rma_repairing.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_rma_supplier_returned_submit',
        'user_id': user_id,
        'supplier_returned': supplier_returned,
        'note' : note,
        'rma_id' : rma_id
      },
      dataType: 'json',
      success: function (result) {
        if (result['error'] == 0) {
            var url="erp_rma_repaired.php?act=list&rma_id=" + rma_id ;
            window.location=url;
        } else {
            $('#error_msg').html(result.message);
            //alert(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});

$('#continue_btn_special').click(function(){
    var user_id = $("#user_id_special").val();
    var replace_with_new = $('#replace_with_new').is(':checked');
    
    if (user_id == '') {
        alert('請選擇跟進人');
        return false;
    }

    if (!replace_with_new) {
        alert('請選擇->先給客人一個全新的,有問題的產品再之後維修.');
        return false;
    }

    $.ajax({
    url: 'erp_rma_common.php',
    type: 'post',
    cache: false,
    data: {
      'act': 'post_rma_special_replace_with_new_submit',
      'user_id': user_id,
      'replace_with_new': replace_with_new,
      'rma_id' : rma_id
    },
    dataType: 'json',
    success: function (result) {
      if (result['error'] == 0) {
          var url="erp_rma_check.php?act=list&rma_id=" + rma_id ;
          window.location=url;
      } else {
          $('#error_msg_special').html(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });
});


</script>
{/if}
