{include file="pageheader.htm"}

<div class=" x_panel">
    <form action="erp_order_manage.php" method="POST" class="tab-content form-horizontal form-label-left">
        <div class="form-group">
           <label class="control-label col-md-3 col-sm-3 col-xs-12">供應商</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="supplier_code">
                    <option value="">{$lang.erp_order_select_supplier}</option>
                    {foreach from=$supplier_info item=supplier}
                        <option value="{$supplier.code}" {if $order_info.supplier_code eq $supplier.code}selected="selected"{/if}>{$supplier.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">金額</label>
            <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control" type="number" name="amount" step="0.01"{if !$cn_edit} min="0"{/if}></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">備注</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea name="remark" class="form-control"></textarea>
                <span class="red">* 只可添加港幣的Credit Note</span>
            </div>
        </div>
        <div class="form-group">
            <div class="ln_solid"></div>
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <input type="submit" class="btn btn-primary" value=" 確定 ">
                <input type="reset" class="btn btn-primary" value=" 重置 ">
                <input type="hidden" name="act" value="add_credit">
                <input type="hidden" name="ajax" value="1">
            </div>
        </div>
    </form>
</div>
<script>
$(function() {
    $('input[name=amount]').change(function(e){
        {if !$cn_edit}
        if(parseFloat($(e.target).val()) < 0){
            alert('Credit Note 金額不能為負');
            $(e.target).val(0.0.toFixed(2))
        }
        else
        {/if}
        $(e.target).val(parseFloat($(e.target).val()).toFixed(2))
    })
    $('input[name=search_goods]').click(function(){
        if(trim($('input[name=goods_name]').val()) != ""){
        }
    })
})
</script>
{include file="pagefooter.htm"}