{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style>
.calendar {
  z-index: 5000;
}

#success_message {
  color :green;
}

#error_message {
  color :red;
}

.highline {
  color:red;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #34495e;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}
</style>

{include file="erp_rma_progress_bar.htm"}
{include file="erp_rma_goods_info.htm"}
<div class=" x_panel">
<div class="x_title">
    <h2>操作</h2>
    <div class="clearfix"></div>
</div>
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">負責部門 : <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12 form_text">
            Sale Team
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">跟進人 :  <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control" style="width: 80%; display: inline-block;" name="user_id" id="user_id">
            {foreach from=$person_in_charge_option item=opt}
                <option {if $opt.value == $rma_basic_info.person_in_charge} selected {/if} value="{$opt.value}">{$opt.name}</option>
            {/foreach}
            </select>
            <input class=" btn btn-success" type="button" id="save_user_btn" value="儲存" class="button" />
            <div class="green" id="save_user_success"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 操作: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            {if $channel == 0}
            <label class="checkbox">
            <input type="checkbox" id="replace_with_new" class="flat" style=""> 先給客人一個全新的,有問題的產品再之後維修.
            </label>
            {/if}
            <textarea class="form-control col-md-7 col-xs-12" style="margin-top:10px" id="note" rows="2" cols="54" placeholder="填寫備註"></textarea> 
        </div>
    </div>
 
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class=" btn btn-warning submit_repair_type" type="button" data-repair-type="repair_by_supplier" data-toggle="modal" data-target="#popup_transfer_modal" value="供應商維修處理(需調回倉)"/>
            <input class=" btn btn-success submit_repair_type" type="button" data-repair-type="repair_by_ourselves" value="自行維修處理"/>
            {if $channel == 0}
            <input class=" btn btn-success submit_repair_type" type="button" data-repair-type="buy_parts_handle" value="顧客購買零件處理"/>
            {/if}
            <input class=" btn btn-success submit_repair_type" type="button" data-repair-type="no_need_to_repair" value="不需要維修處理"/>
            <input class=" btn btn-success submit_repair_type" type="button" data-repair-type="write_off" value="直接報廢"/>
            <div id="error_msg" class="red"></div>
        </div>
    </div>
</form>
</div>

<div class="modal fade" role="dialog" id="popup_transfer_modal">
    <div class="modal-dialog modal-s">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">調送到維修中心處理</h4>
        </div>
        <div class="modal-body">
            <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">維修中心 : <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                     <select class="form-control" style="width: 80%; display: inline-block;" name="repair_warehouse_id" id="repair_warehouse_id">
                     {foreach from=$repair_center_warehouse_list item=opt}
                         <option value="{$opt.warehouse_id}">{$opt.name}</option>
                     {/foreach}
                     </select>
                </div>
            </div>   
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class=" btn btn-success submit_repair_type" type="button" id="submit_popup_transfer" name="submit_popup_transfer" value="建立/加入調貨單 (維修)" data-repair-type="transfer_to_repair_center"  placeholder="">
                </div>
            </div>
            </form>
            
        </div>
    </div>
    </div>
</div>


{include file="erp_rma_log.htm"}

<!-- end stock check list -->
{include file="pagefooter.htm"}

<script>
var $table = yoho_dataTable();
var rma_id = {$rma_id};
var $popup2 = '';



$('.submit_repair_type').click(function(){
    var repair_type = $(this).data('repair-type');
    var user_id = $("#user_id").val();
    var replace_with_new = $('#replace_with_new').is(':checked');
    var note = $("#note").val();
    
    if (user_id == ''){
        alert('請選擇跟進人');
        return false;
    }

    $.ajax({
      url: 'erp_rma_check.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_rma_check_submit',
        'repair_type': repair_type,
        'replace_with_new': replace_with_new,
        'user_id': user_id,
        'note' : note,
        'rma_id' : rma_id
      },
      dataType: 'json',
      success: function (result) {
        if (result['error'] == 0){

            switch(repair_type) {
                case 'repair_by_supplier':
                    //var url="erp_rma_notify.php?act=list&rma_id=" + rma_id ;
                    var url="erp_rma_transfer.php?act=list&rma_id=" + rma_id ;
                    window.location=url;
                    break;
                case 'repair_by_ourselves':
                    var url="erp_rma_repairing.php?act=list&rma_id=" + rma_id ;
                    window.location=url;
                    break;
                case 'buy_parts_handle':
                    var url="erp_rma_finished.php?act=list&rma_id=" + rma_id ;
                    window.location=url;
                     break;
                case 'no_need_to_repair':
                    var url="erp_rma_finished.php?act=list&rma_id=" + rma_id ;
                    window.location=url;
                     break;
                case 'write_off':
                    var url="erp_rma_finished.php?act=list&rma_id=" + rma_id ;
                    window.location=url;
                     break;
            }
        }else{
            //alert(result.message);
            $("#error_msg").html(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});

$('#repair_by_own').click(function(){
    var url="erp_rma_repairing.php?act=list&rma_id=" + rma_id ;
    window.location=url;
});

$('#no_need_to_repair').click(function(){
    var url="erp_rma_finished.php?act=list&rma_id=" + rma_id ;
    window.location=url;
});


</script>
{/if}
