


<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="searchForm" action="javascript:getList()" class="form-inline">
    <input type="hidden" name="act" value="list" />
	<img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
	
    <!-- 收货仓库 -->
    <select class="form-control" name="w_id">
    	<option value="0">{$lang.erp_warehousing_warehouse}</option>
		{foreach from=$warehouse_list item=warehouse_info}
			<option {if $w_id eq $warehouse_info.warehouse_id}selected="selected"{/if} value="{$warehouse_info.warehouse_id}">--{$warehouse_info.name}</option>
		{/foreach}
	</select>

    <!-- 入库类型 -->
    <select class="form-control" name="w_s_id">
    	<option value="0">{$lang.erp_warehousing_warehousing_style}</option>
		{foreach from=$warehousing_style_list item=warehousing_style}
			<option {if $w_s_id eq $warehousing_style.warehousing_style_id}selected="selected"{/if} value="{$warehousing_style.warehousing_style_id}">--{$warehousing_style.warehousing_style}</option>
		{/foreach}
	</select>

    <!-- 订单状态-->

    <select class="form-control" name="w_s">
    	<option value="0">{$lang.erp_warehousing_status}</option>
		{foreach from=$warehousing_status item=warehousing_status}
			<option value="{$warehousing_status.status_no}">--{$warehousing_status.status_style}</option>
		{/foreach}
	</select>


    <!-- 入仓起始期 -->
    {$lang.erp_warehousing_start_date} <input size="10" type="text" name="s_date" size="15" value="{$s_date}" data-type="date" class="form-control" />
	
	<!-- 入仓结束期 -->
    {$lang.erp_warehousing_end_date} <input size="10" type="text" name="e_date" size="15" value="{$e_date}" data-type="date" class="form-control" />

	<!-- 入库单号 -->
    {$lang.erp_warehousing_sn} <input  class="form-control" size="10" type="text" name="warehousing_sn" size="15" value="{$sn}"  />

    <!-- 交货人 -->
    {$lang.erp_warehousing_from} <input  class="form-control" size="10" type="text" name="w_f" size="15"  value="{$w_f}" />
	
    <input type="submit" value="{$lang.button_search}" class="btn btn-success form-btn" />
  </form>
</div>