	
	{foreach from=$goods_attr item=attrs name=wrap key=key}
	<span>{$attrs.0.attr_name}：</span>

	<input {if $attrs.0.is_dynamic eq 1 && $is_dynamic}type="text"{else}type="hidden"{/if} id="dynamic_attr_{$key}" value="" size="10">
	
	<select id="select_attr_{$key}">
		{foreach from=$attrs item=attr}
			<option value="{$attr.goods_attr_id}">{$attr.attr_value}</option>
		{/foreach}
	</select>
	{/foreach}
		

