{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style>
.calendar {
  z-index: 5000;
}

#success_message {
  color :green;
}

#error_message {
  color :red;
}

.highline {
  color:red;
}

.form_text {
    padding-top: 7px;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #34495e;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}
</style>

{include file="erp_rma_progress_bar.htm"}
{include file="erp_rma_goods_info.htm"}

{if $rma_basic_info['repaired_transfer_id'] > 0}
    <div class=" x_panel">
    <div class="x_title">
        <h2>調貨</h2>
        <div class="clearfix"></div>
    </div>
    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">調貨資訊
            </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
          己建立調貨單 <a href="erp_warehouse_transfer_packing.php?act=list&transfer_id={$rma_basic_info.repaired_transfer_id}" target="_blank"><span class="green">({$rma_basic_info.repair_transfer_sn})</span></a> 
          {if $is_transfer_received == 1}
              <span class="green">已調貨</span>
          {else}
              <span class="red">等待收貨確認</span> <br>  調貨進行中,不能進行操作.
                    <input class=" btn btn-warning" type="button" id="rma_cancel_transfer_btn" value="取消調貨" class="button" />
          {/if}
          <div id="error_msg_transfer" class="red"></div>
          </div>
        </div>
    </form>
    </div>
{/if}

{if $rma_basic_info['repaired_transfer_id'] == 0}
<div class=" x_panel">
<div class="x_title">
    <h2>操作</h2>
    <div class="clearfix"></div>
</div>
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">負責部門 : <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12 form_text">
            Sale Team
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">跟進人 :  <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control" style="width: 80%; display: inline-block;" name="user_id" id="user_id">
            {foreach from=$person_in_charge_option item=opt}
                <option {if $opt.value == $rma_basic_info.person_in_charge} selected {/if} value="{$opt.value}">{$opt.name}</option>
            {/foreach}
            </select>
            <input class=" btn btn-success" type="button" id="save_user_btn" value="儲存" class="button" />
            <div class="green" id="save_user_success"></div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 操作: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
           <div class="radio">
               <label class="" style="padding-left:0">
               <input type="radio" class="flat" value="sale" id="returned_to" name="returned_to" style="position: absolute; opacity: 0;"> 直接轉至銷售倉銷售
               </label>
                {if $channel == 0 && $rma_basic_info.replace_with_new == 0}
                    {if $rma_basic_info['repair_transfer_id'] == 0}
                    <label class="">
                    <input type="radio" class="flat" value="customer" id="returned_to" name="returned_to" style="position: absolute; opacity: 0;"> 維修產品出貨給客人
                    </label>
                    {/if}

                    {if $rma_basic_info['warehouse_id'] != $rma_basic_info['repair_warehouse_id'] && $rma_basic_info['repaired_transfer_id'] == 0 && $rma_basic_info['repair_transfer_id'] != 0 }
                    <input type="radio"  class="flat" value="original_shop" id="returned_to" name="returned_to" style="position: absolute; opacity: 0;"> 調貨送回- {$rma_basic_info.warehouse_name} (維修產品出貨給客人)
                    {/if}

                {/if}
           </div>
        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required"></span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <textarea class="form-control col-md-7 col-xs-12" id="note" name="note" rows="2" cols="54" placeholder="填寫備註"></textarea>
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_content">
              <input class=" btn btn-success" type="button" id="continue_btn" value="完成" class="button" />
              <div id="error_msg" class="red"></div>
            </div>
        </div>
    </div>

</form>
</div>


{include file="erp_rma_special_handle.htm"}
{/if}
{include file="erp_rma_log.htm"}

{if $rma_basic_info['repaired_transfer_id'] == 0}
{include file="erp_rma_back_previous.htm"}
{/if}
<!-- end stock check list -->
{include file="pagefooter.htm"}

<script>
var $table = yoho_dataTable();
var rma_id = {$rma_id};
var $popup2 = '';

$('#rma_cancel_transfer_btn').click(function(){
    if (confirm("確定取消調貨?")) {
        $.ajax({
          url: 'erp_rma_repaired.php',
          type: 'post',
          cache: false,
          data: {
            'act': 'post_rma_cancel_transfer_submit',
            'rma_id' : rma_id
          },
          dataType: 'json',
          success: function (result) {
            if (result['error'] == 0){
                var url="erp_rma_check.php?act=list&rma_id=" + rma_id ;
                window.location=url;
            }else{
                //alert(result.message);
                $("#error_msg_transfer").html(result.message);
            }
          },
          error: function (xhr) {
            alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
            console.log(xhr);
          }
        });
    }
});



$('#continue_btn').click(function(){
    var user_id = $("#user_id").val();
    var returned_to = $("#returned_to:checked").val();
    var note = $("#note").val();
    console.log(returned_to);
  
    if (user_id == '') {
      alert('請選擇跟進人');
      return false;
    }

    if (typeof returned_to == 'undefined') {
        alert('請選擇操作');
        return false;
    }

    $.ajax({
    url: 'erp_rma_repaired.php',
    type: 'post',
    cache: false,
    data: {
      'act': 'post_rma_after_repaired_submit',
      'user_id': user_id,
      'returned_to': returned_to,
      'note' : note,
      'rma_id' : rma_id
    },
    dataType: 'json',
    success: function (result) {
      if (result['error'] == 0) {
          var url="erp_rma_finished.php?act=list&rma_id=" + rma_id ;
          window.location=url;
      } else {
          $('#error_msg').html(result.message);
          //alert(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });
});

$('#continue_btn_special').click(function(){
    var user_id = $("#user_id_special").val();
    var special_case_1 = $('#special_case_1').is(':checked');
    var note = $("#note").val();
    var special_case_2 = $('#special_case_2').is(':checked');
  
    if (user_id == '') {
        alert('請選擇跟進人');
        return false;
    }

    if (typeof returned_to == 'undefined') {
        alert('請選擇操作');
        return false;
    }

    $.ajax({
    url: 'erp_rma_repaired.php',
    type: 'post',
    cache: false,
    data: {
      'act': 'post_rma_after_repaired_special_submit',
      'user_id': user_id,
      'special_case_1': special_case_1,
      'special_case_2': special_case_2,
      'note' : note,
      'rma_id' : rma_id
    },
    dataType: 'json',
    success: function (result) {
      if (result['error'] == 0) {
          var url="erp_rma_finished.php?act=list&rma_id=" + rma_id ;
          window.location=url;
      } else {
          $('#error_msg').html(result.message);
          //alert(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });
});

</script>
{/if}
