{include file="pageheader.htm"}

<link href="styles/erp_gathering.css" rel="stylesheet" type="text/css" />


{insert_scripts files="../js/jquery.blockUI.2.23.js"}

{include file="erp_gathering_search.htm"}

<style type="text/css">
	.current_page_style
	{
		color:red;
		font-weight:bold;
	}
	
</style>

<script language="JavaScript">

	function view_approve_remark(gathering_id)
	{
		$.blockUI({   
		  message: $('#approve_remark_'+gathering_id), css: { 
		  top:  ($(window).height()-300) /2 + 'px', 
		  left: ($(window).width()-500) /2 + 'px'
		  }
		});	

		$('#img_close_approve_remark_'+gathering_id).click(function(){
			$.unblockUI();
			$('#img_close_approve_remark_'+gathering_id).unbind('click');
		});

		$('#img_submit_approve_'+gathering_id).click(function(){
			$.unblockUI();
			$('#img_submit_approve_'+gathering_id).unbind('click');
		});				
	}
	
</script>

{foreach from=$gathering_list item=gathering}
{if $gathering.gathering_status eq 2 or $gathering.gathering_status eq 3 or $gathering.gathering_status eq 4}

<div class="approve_remark" id="approve_remark_{$gathering.gathering_id}">
<div class="approve_remark_head">
	<table cellpadding="0" cellspacing="0" bgathering='0'>
		<tr>
			<td>
				<img src="./images/approve_remark.gif" />
			</td>
			<td align="right">
				<span><img style="cursor:pointer;" id="img_close_approve_remark_{$gathering.gathering_id}" src="./images/close_erp.gif" /></span>
			</td>
		</tr>
	</table>
</div>

<div class="approve_remark_box">
<table  cellpadding="5" cellspacing="0" bgathering='0'>
	 <tr>
    	<td width="60">{$lang.erp_approve_remark}</td>	
		<td>
			<textarea rows="8" cols="55" disabled="true" id="textarea_approve_remark_{$gathering.gathering_id}">{$gathering.approve_remark}</textarea>
		</td>
	</tr>	
</table>
</div>
<div class="div_submit_approve">
	<img style="cursor:pointer;" id="img_submit_approve_{$gathering.gathering_id}" src="./images/submit.gif" />
</div>	
</div>

{/if}
{/foreach}

{foreach from=$gathering_list item=gathering}

<div class="gathering_info" id="gathering_info_{$gathering.gathering_id}">
<div class="gathering_info_head">
	<table cellpadding="0" cellspacing="0" bgathering='0'>
		<tr>
			<td>
				<img src="./images/gathering_info.gif" />
			</td>
			<td align="right">
				<span><img style="cursor:pointer;" id="img_close_gathering_info_{$gathering.gathering_id}" src="./images/close_erp.gif" /></span>
			</td>
		</tr>
	</table>
</div>

<div class="gathering_info_box">
<table cellpadding="3" cellspacing="0">
	 <tr>
    	<td width="130">{$lang.erp_gathering_sn}：</td>	
		<td height="21">
			<span>{$gathering.gathering_sn}</span>
		</td>
	</tr>
	<tr>
    	<td>{$lang.erp_gathering_date}：</td>	
		<td height="21">
			<span>{$gathering.create_date}</span>
		</td>
	</tr>
	<tr>
    	<td>{$lang.erp_gathering_account}：</td>	
		<td height="21">
			<span id="span_bank_account_{$gathering.gathering_id}">{$gathering.account_info.account_name}</span>
			{if $bank_account}
			<select name="select_bank_account_{$gathering.gathering_id}" id="select_bank_account_{$gathering.gathering_id}" style="display:none;">
				{foreach from=$bank_account item=bank_account}
					<option {if $gathering.account_info.account_id eq $bank_account.account_id}selected="selected"{/if} value="{$bank_account.account_id}">{$bank_account.account_name}</option>
				{/foreach}
			</select>
			{/if}			
		</td>
	</tr>	
	<tr>
    	<td>{$lang.erp_gathering_pay_from}：</td>	
		<td height="21">
			<span id="span_username_{$gathering.gathering_id}">{if $gathering.user_info.user_name}{$gathering.user_info.user_name}{else}{$lang.erp_gathering_anonymous}{/if}</span>
		</td>
	</tr>	
	<tr>
    	<td>{$lang.erp_gathering_order_id}：</td>	
		<td height="21">
			<span  id="span_order_sn_{$gathering.gathering_id}">{$gathering.order_info.order_sn}</span>
			{if $receivable_order}
			<select name="select_order_{$gathering.gathering_id}" id="select_order_{$gathering.gathering_id}" style="display:none;">
				{foreach from=$receivable_order item=receivable_order}
					<option {if $gathering.order_info.order_id eq $receivable_order.order_id}selected="selected"{/if} value="{$receivable_order.order_id}">{$receivable_order.order_sn}</option>
				{/foreach}
			</select>
			{/if}
		</td>
	</tr>
	<tr>
    	<td>{$lang.erp_gathering_order_date}：</td>	
		<td height="21">
			<span id="span_order_date_{$gathering.gathering_id}">{$gathering.order_info.add_time}</span>
		</td>
	</tr>	
	<tr>
    	<td>{$lang.erp_gathering_order_amount}：</td>	
		<td height="21">
			<span id="span_bill_amount_{$gathering.gathering_id}">{$gathering.bill_amount}</span>
		</td>
	</tr>
	<tr>
    	<td>{$lang.erp_gathering_order_total_receivable}：</td>	
		<td height="21">
			<span id="span_total_receivable_{$gathering.gathering_id}">{$gathering.bill_total_receivable}</span>
		</td>
	</tr>
	<tr>
    	<td>{$lang.erp_gathering_order_paid_receivable}：</td>	
		<td height="21">
			<span id="span_gathered_receivable_{$gathering.gathering_id}">{$gathering.bill_gathered_receivable}</span>
		</td>
	</tr>
	<tr>
    	<td>{$lang.erp_gathering_order_receivable_balance}：</td>	
		<td height="21">
			<span id="span_receivable_balance_{$gathering.gathering_id}" >{$gathering.bill_receivable_balance}</span>
		</td>
	</tr>
	<tr>
    	<td>{$lang.erp_gathering_gather_amount}：</td>	
		<td height="23">
			<span  id="span_gather_amount_{$gathering.gathering_id}">{$gathering.gather_amount}</span>
			<input id="input_gather_amount_{$gathering.gathering_id}" type="text" size="10" value="{$gathering.gather_amount}" style="display:none;" />
		</td>
	</tr>
	<tr>
    	<td>{$lang.erp_gathering_remark}：</td>	
		<td>
			<textarea rows="4" cols="45" id="textarea_gathering_remark_{$gathering.gathering_id}" disabled="true">{$gathering.gathering_remark}</textarea>
		</td>
	</tr>							
</table>
</div>
<div class="div_submit_gathering_info">
	<img style="cursor:pointer;" id="img_submit_gathering_info_{$gathering.gathering_id}" src="./images/submit.gif" />
</div>	
</div>

{/foreach}

<!-- start  gathering list -->
 <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action">
  <tr>
    <th width="5%">{$lang.erp_gathering_id}</th>
    <th width="8%">{$lang.erp_gathering_sn}</th>
 	<th>{$lang.erp_gathering_remark}</th>
	<th width="11%">{$lang.erp_gathering_agency}</th>
	<th width="10%">{$lang.erp_gathering_pay_from}</th>
	<th width="10%">{$lang.erp_gathering_date}</th>
	<th  width="10%">{$lang.erp_gathering_status}</th>
	<th>{$lang.erp_operation}</th>
  <tr>
  {foreach from=$gathering_list item=gathering}
  <tr id="tr_{$gathering.gathering_id}">
    <td align="center">{$gathering.gathering_id}</td>
	<td align="center">{$gathering.gathering_sn}</td>	
	<td><span id="span_gathering_remark_{$gathering.gathering_id}">{$gathering.gathering_remark}</span></td>	
	<td align="center">{$gathering.agency_name}</td>	
	<td align="center">{if $gathering.user_info.user_name}{$gathering.user_info.user_name}{else}{$lang.erp_gathering_anonymous}{/if}</td>
	<td  align="center">{$gathering.create_date}</td>
	<td align="center">
		{if $gathering.gathering_status eq 1}{$lang.erp_gathering_status_inputing}{/if}
		{if $gathering.gathering_status eq 2}{$lang.erp_gathering_status_approving}{/if}
		{if $gathering.gathering_status eq 3}<span style="color:blue;">{$lang.erp_gathering_status_approve_pass}</span>{/if}
		{if $gathering.gathering_status eq 4}<span style="color:red;">{$lang.erp_gathering_status_approve_reject}</span>{/if}
	</td>
		
	<td align="center"  width="20%">
		{if $gathering.available_act.view eq 1}<a href="javascript: view_gathering({$gathering.gathering_id})">{$lang.erp_operation_view}</a>{/if}
		{if $gathering.available_act.edit eq 1}<a href="javascript: edit_gathering({$gathering.gathering_id})">{$lang.erp_operation_edit}</a>{/if}
		{if $gathering.available_act.delete eq 1}<a href="javascript:delete_gathering({$gathering.gathering_id})">{$lang.erp_operation_delete}</a>{/if}
		
		{if $gathering.available_act.post_to_approve eq 1}<a href="javascript:post_to_approve({$gathering.gathering_id})">{$lang.erp_operation_post_to_approve}</a>{/if}
		{if $gathering.available_act.approve eq 1}
			<a href="javascript: approve_gathering({$gathering.gathering_id},'pass')">{$lang.erp_operation_approve_pass}</a>
			<a href="javascript: approve_gathering({$gathering.gathering_id},'reject')">{$lang.erp_operation_approve_reject}</a>
			<a href="javascript: withdrawal_to_edit({$gathering.gathering_id})">{$lang.erp_operation_withdrawal}</a>
		{/if}	
		
		{if $gathering.gathering_status eq 3 or $gathering.gathering_status eq 4}
			<a href="javascript: view_gathering({$gathering.gathering_id})">{$lang.erp_operation_view}</a>
			<a href="javascript:view_approve_remark({$gathering.gathering_id})">{$lang.erp_gathering_operation_view_approve_remark}</a>
		{/if}
		
		{if $gathering.gathering_status eq 3}
			<!--<a target="_blank" href="erp_finance_manage.php?act=print_gathering&gathering_id={$gathering.gathering_id}&page=1">{$lang.erp_operation_print}</a>-->
		{/if}
    </td>				
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
   <tr><td colspan="10" align="right">{$pager}</td></tr> 
</table>
</div>
<!-- end gathering list -->

{literal}
<script language="JavaScript">

		function withdrawal_to_edit(gathering_id)
		{
			function withdrawalToEditResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
				}
				else{
					window.document.location="./erp_finance_manage.php?act=gathering_list";
				}
			}
			if(confirm('{$lang.erp_receivable_sure_to_withdrawal_to_edit}'))
			{	
				Ajax.call('erp_receivable.php?act=withdrawal_to_edit', 'gathering_id=' + gathering_id, withdrawalToEditResponse, 'POST', 'JSON');
			}			
		}

   		function edit_gathering(gathering_id)
		{
			Ajax.call('erp_gathering.php?act=edit_gathering', 'gathering_id=' + gathering_id, editgatheringResponse, 'POST', 'JSON');
			
			function editgatheringResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
					$.unblockUI();
					unbind_func();	
				}
				else{
					bind_func();
					$.blockUI({   
		 			message: $('#gathering_info_'+gathering_id), css: { 
		  			top:  ($(window).height()-500) /2 + 'px', 
		  			left: ($(window).width()-500) /2 + 'px'
		  			}
					});						
				}
			}
		}

   		function view_gathering(gathering_id)
		{
				$.blockUI({   
		 		message: $('#gathering_info_'+gathering_id), css: { 
		  		top:  ($(window).height()-500) /2 + 'px', 
		  		left: ($(window).width()-500) /2 + 'px'
		  		}
				});						
		
		}
		
		function unbind_func()
		{
			$("span[id^='span_order_sn_']").css('cursor','text');
			$("span[id^='span_order_sn_']").css('background-color','#FFF');		
			$("span[id^='span_order_sn_']").unbind('mouseover');
			$("span[id^='span_order_sn_']").unbind('mouseout');
			$("span[id^='span_order_sn_']").unbind('click');
			
			$("select[id^='select_order_']").unbind('blur');
			$("select[id^='select_order_']").unbind('change');
			
			$("span[id^='span_gather_amount_']").css('cursor','text');
			$("span[id^='span_gather_amount_']").css('background-color','#FFF');		
			$("span[id^='span_gather_amount_']").unbind('mouseover');
			$("span[id^='span_gather_amount_']").unbind('mouseout');
			$("span[id^='span_gather_amount_']").unbind('click');	
			
			$("input[id^='input_gather_amount_']").unbind('blur');
			$("input[id^='input_gather_amount_']").unbind('change');
			
			$("span[id^='span_bank_account_']").css('cursor','text');
			$("span[id^='span_bank_account_']").css('background-color','#FFF');	
			$("span[id^='span_bank_account_']").unbind('mouseover');
			$("span[id^='span_bank_account_']").unbind('mouseout');
			$("span[id^='span_bank_account_']").unbind('click');
			
			$("select[id^='select_bank_account_']").unbind('blur');
			$("select[id^='select_bank_account_']").unbind('change');
			
			$("textarea[id^='textarea_gathering_remark_']").attr('disabled',true);
		}
		
		function bind_func()
		{
			$("textarea[id^='textarea_gathering_remark_']").attr('disabled',false);
			
			$("span[id^='span_order_sn_']").mouseover(function(){
				$(this).css('color','red');
			});
			$("span[id^='span_order_sn_']").mouseout(function(){
				$(this).css('color','black');
			});			
			$("span[id^='span_order_sn_']").css('cursor','pointer');
			$("span[id^='span_order_sn_']").css('background-color','#DDEEF2');	
			
			$("span[id^='span_order_sn_']").click(function(){
				var this_id=$(this).attr('id');
				var gathering_id=this_id.substr('span_order_sn_'.length,this_id.length-'span_order_sn_'.length);
				$("#select_order_"+gathering_id).show().focus();
				$(this).hide();
			});					
			$("select[id^='select_order_']").blur(function(){
				var this_id=$(this).attr('id');
				var gathering_id=this_id.substr('select_order_'.length,this_id.length-'select_order_'.length);
				$("#span_order_sn_"+gathering_id).show();
				$(this).hide();
			});
			
			//更改付款单关联订单
			$("select[id^='select_order_']").change(function(){
				var this_id=$(this).attr('id');
				var gathering_id=this_id.substr('select_order_'.length,this_id.length-'select_order_'.length);				
				var order_id=$(this).attr('value');
				
				var gather_amount=$("#input_gather_amount_"+gathering_id).attr('value');
				
				if(confirm('{$lang.erp_gathering_sure_to_change_order}'))
				{
					Ajax.call('erp_gathering.php?act=change_order', 'gathering_id='+gathering_id+'&order_id='+order_id+'&gather_amount='+gather_amount, changeOrderResponse, 'POST', 'JSON');
				}
				else{
					$("#span_order_sn_"+gathering_id).show();
					$("#select_order_"+gathering_id).hide();	
				}
				
				function changeOrderResponse(res)
				{
					if(res.error!=0)
					{
						alert(res.message);
					}
					else{
						$("#span_username_"+gathering_id).text(res.pay_from);
						$("#span_order_date_"+gathering_id).text(res.bill_date);
						$("#span_bill_amount_"+gathering_id).text(res.bill_amount);
						$("#span_total_receivable_"+gathering_id).text(res.bill_total_receivable);
						$("#span_paid_receivable_"+gathering_id).text(res.bill_paid_receivable);
						$("#span_receivable_balance_"+gathering_id).text(res.bill_receivable_balance);
						$("#span_gather_amount_"+gathering_id).text(res.gather_amount);
						
						$("#span_order_sn_"+gathering_id).text(res.bill_no);;
					}
				}	
			});
			
			//更改付款金额
			$("span[id^='span_gather_amount_']").mouseover(function(){
				$(this).css('color','red');
			});
			$("span[id^='span_gather_amount_']").mouseout(function(){
				$(this).css('color','black');
			});			
			$("span[id^='span_gather_amount_']").css('cursor','pointer');				
			$("span[id^='span_gather_amount_']").css('background-color','#DDEEF2');	
			
			$("span[id^='span_gather_amount_']").click(function(){
				var this_id=$(this).attr('id');
				var gathering_id=this_id.substr('span_gather_amount_'.length,this_id.length-'span_gather_amount_'.length);
				$("#input_gather_amount_"+gathering_id).show().focus();
				$(this).hide();
			});					

			$("input[id^='input_gather_amount_']").blur(function(){
				var this_id=$(this).attr('id');
				var gathering_id=this_id.substr('input_gather_amount_'.length,this_id.length-'input_gather_amount_'.length);
				$("#span_gather_amount_"+gathering_id).show();
				$(this).hide();
			});			
			
			$("input[id^='input_gather_amount_']").change(function(){
				var this_id=$(this).attr('id');
				var gathering_id=this_id.substr('input_gather_amount_'.length,this_id.length-'input_gather_amount_'.length);
				var gather_amount=$(this).attr('value');
				var receivable=$("#span_receivable_balance_"+gathering_id).text();
				
				if(isNaN(gather_amount))
				{
					alert('{$lang.erp_not_a_number}');
				}
				else if(Number(gather_amount)==0)
				{
					$("#input_gather_amount_"+gathering_id).attr('value',$("#span_gather_amount_"+gathering_id).text());
					$("#input_gather_amount_"+gathering_id).hide();
					$("#span_gather_amount_"+gathering_id).show();					
				}
				else if(Number(gather_amount)>Number(receivable))
				{
					alert('{$lang.erp_gathering_greater_than_receivable}');
					$("#input_gather_amount_"+gathering_id).attr('value',$("#span_gather_amount_"+gathering_id).text());
					$("#input_gather_amount_"+gathering_id).hide();
					$("#span_gather_amount_"+gathering_id).show();
				}
				else{
					if(confirm('{$lang.erp_gathering_sure_to_change_gather_amount}'))
					{
						Ajax.call('erp_gathering.php?act=change_gather_amount', 'gathering_id='+gathering_id+'&gather_amount='+gather_amount, changegatherAmountResponse, 'POST', 'JSON');
					}				
					else{
						$("#input_gather_amount_"+gathering_id).attr('value',$("#span_gather_amount_"+gathering_id).text());
						$("#input_gather_amount_"+gathering_id).hide();
						$("#span_gather_amount_"+gathering_id).show();					
					}
					function changegatherAmountResponse(res)
					{
						if(res.error!=0)
						{
							alert(res.message);
						}
						else{
							$("#span_gather_amount_"+gathering_id).text(gather_amount);
							$("#input_gather_amount_"+gathering_id).hide();
							$("#span_gather_amount_"+gathering_id).show();				
						}						
					}					
				}
				
			});		

			//更改付款帐号
			$("span[id^='span_bank_account_']").mouseover(function(){
				$(this).css('color','red');
			});
			$("span[id^='span_bank_account_']").mouseout(function(){
				$(this).css('color','black');
			});			
			$("span[id^='span_bank_account_']").css('cursor','pointer');				
			$("span[id^='span_bank_account_']").css('background-color','#DDEEF2');	
			
			$("span[id^='span_bank_account_']").click(function(){
				var this_id=$(this).attr('id');
				var gathering_id=this_id.substr('span_bank_account_'.length,this_id.length-'span_bank_account_'.length);
				$("#select_bank_account_"+gathering_id).show().focus();
				$(this).hide();
			});		
			$("select[id^='select_bank_account_']").blur(function(){
				var this_id=$(this).attr('id');
				var gathering_id=this_id.substr('select_bank_account_'.length,this_id.length-'select_bank_account_'.length);
				$("#span_bank_account_"+gathering_id).show();
				$(this).hide();
			});			
			$("select[id^='select_bank_account_']").change(function(){
				var this_id=$(this).attr('id');
				var gathering_id=this_id.substr('select_bank_account_'.length,this_id.length-'select_bank_account_'.length);				
				var bank_account_id=$(this).attr('value');
				
				if(confirm('{$lang.erp_gathering_sure_to_change_bank_account}'))
				{
					Ajax.call('erp_gathering.php?act=change_bank_account', 'gathering_id='+gathering_id+'&bank_account_id='+bank_account_id, changeBankAccountResponse, 'POST', 'JSON');
				}				
				else{
					$("#span_bank_account_"+gathering_id).show();
					$("#select_bank_account_"+gathering_id).hide();
				}
				
				function changeBankAccountResponse(res)
				{
					if(res.error!=0)
					{
						alert(res.message);
					}
					else{
						//alert(res.account_name);
						$("#span_bank_account_"+gathering_id).text(res.account_name);
						$("#select_bank_account_"+gathering_id).hide();
						$("#span_bank_account_"+gathering_id).show();
					}					
				}
			});
			
		}


		$(document).ready(function(){
		
			$("img[id^='img_close_gathering_info_']").click(function(){
				$.unblockUI();
				unbind_func();
			});

			$("img[id^='img_submit_gathering_info_']").click(function(){
				var this_id=$(this).attr('id');
				var gathering_id=this_id.substr('img_submit_gathering_info_'.length,this_id.length-'img_submit_gathering_info_'.length);
				var gathering_remark=$("#textarea_gathering_remark_"+gathering_id).attr('value');
				
				if($("#textarea_gathering_remark_"+gathering_id).attr('disabled')==false)
				{
					Ajax.call('erp_gathering.php?act=change_gathering_remark', 'gathering_id='+gathering_id+'&gathering_remark='+gathering_remark, changegatheringRemarkResponse, 'POST', 'JSON');
				}
				else{
					$.unblockUI();
					unbind_func();					
				}
				
				function changegatheringRemarkResponse(res)
				{
					if(res.error!=0)
					{
						alert(res.message);
					}
					else{
						$("#span_gathering_remark_"+gathering_id).text(gathering_remark);
						$.unblockUI();
						unbind_func();
					}						
				}
			});		
		
		});

	//审核订单
	function approve_gathering(gathering_id,act)
	{
		function approveGatheringResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				alert(res.message);
				window.document.location="./erp_finance_manage.php?act=gathering_list";
			}
		}
		
		$("#img_close_approve_remark_"+gathering_id).click(function(){
			$.unblockUI();
			$(this).unbind('click');
		});
		
		$("#textarea_approve_remark_"+gathering_id).attr('disabled',false);
		
		if(act=='pass')
		{
			$("#img_submit_approve_"+gathering_id).bind('click',function(){
				var approve_remark=$("#textarea_approve_remark_"+gathering_id).attr('value');
				if(confirm('{$lang.erp_gathering_sure_to_approve}'))
				{
					Ajax.call('erp_gathering.php?act=approve_pass', 'gathering_id='+gathering_id+'&approve_remark='+approve_remark, approveGatheringResponse, 'POST', 'JSON');
				}
				else{
					$(this).unbind('click');
					$("#img_close_approve_remark_"+gathering_id).click();			
				}					
			});

			$.blockUI({
		   	message: $('#approve_remark_'+gathering_id), css: { 
		    top:  ($(window).height()-250) /2 + 'px', 
		    left: ($(window).width()-500) /2 + 'px'
		   	}
			});	
		}
		else if(act=='reject')
		{
			$("#img_submit_approve_"+gathering_id).bind('click',function(){
				var approve_remark=$("#textarea_approve_remark"+gathering_id).attr('value');
				if(confirm('{$lang.erp_gathering_sure_to_approve}'))
				{
					Ajax.call('erp_gathering.php?act=approve_reject', 'gathering_id='+gathering_id+'&approve_remark='+approve_remark, approveGatheringResponse, 'POST', 'JSON');
				}
				else{
					$(this).unbind('click');
					$("#img_close_approve_remark_"+gathering_id).click();				
				}					
				});
				$.blockUI({
		   		message: $('#approve_remark_'+gathering_id), css: { 
		   	 	top:  ($(window).height()-500) /2 + 'px', 
		   	 	left: ($(window).width()-500) /2 + 'px'
		   }			
			});
		}
	}	
	
	
		function post_to_approve(gathering_id)
		{
			function postToApproveResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
				}
				else{
					alert(res.message);
					window.document.location="./erp_finance_manage.php?act=gathering_list";
				}
			}
			if(confirm('{$lang.erp_gathering_sure_to_post_gathering}'))
			{	
				Ajax.call('erp_gathering.php?act=post_to_approve', 'gathering_id=' + gathering_id, postToApproveResponse, 'POST', 'JSON');
			}
		}

		function delete_gathering(gathering_id)
		{
				function deletegatheringResponse(res)
				{
					if(res.error==4)
					{
						alert(res.message);
						window.document.location="./erp_finance_manage.php?act=gathering_list";
					}
					else if(res.error==0)
					{
						alert(res.message);
						window.document.location="./erp_finance_manage.php?act=gathering_list";
					}
					else{
						alert(res.message);
					}
				}
				
				if(confirm('{$lang.erp_gathering_sure_to_delete_gathering}'))
				{
					Ajax.call('erp_gathering.php?act=delete_gathering', 'gathering_id=' + gathering_id, deletegatheringResponse, 'POST', 'JSON');
				}
			}
	
 
</script>
{/literal}
{include file="pagefooter.htm"}

