{include file="pageheader.htm"}
<style>
#goods_sn_tips{width:200px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_sn_tips li{line-height:20px; list-style:none;}

#goods_name_tips{width:400px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_name_tips li{line-height:20px; list-style:none;padding: 5px;}

#goods_barcode_tips{width:200px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_barcode_tips li{line-height:20px; list-style:none;padding: 5px;}
</style>
<link href="styles/erp_warehousing.css" rel="stylesheet" type="text/css" />
<div class=" x_panel">
{if $act eq 'edit'}
{if $warehousing_info.available_act.edit eq 1}
<script type=text/javascript>

	function edit_warehousing()
	{
		$("#select_warehouse").show();
		$("#span_warehouse").hide();
		$("#select_warehousing_style").show();
		$("#span_warehousing_style").hide();
		$("#span_warehousing_from").hide();
		$("#input_warehousing_from").show();
	}

	function post_warehousing(warehousing_id)
	{
		function postWarehousingResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.document.location="erp_warehousing_manage.php?act=list";
			}
		}
		if(confirm('{$lang.erp_warehousing_sure_to_post_warehousing}'))
		{
			Ajax.call('erp_warehousing.php?act=post_warehousing', 'warehousing_id='+warehousing_id, postWarehousingResponse, 'POST', 'JSON');
		}
	}

	function delete_warehousing(warehousing_id)
	{
		function deleteWarehousingResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.document.location="erp_warehousing_manage.php?act=list";;
			}			
		}
		if(confirm('{$lang.erp_warehousing_sure_to_delete_warehousing}'))
		{	
			Ajax.call('erp_warehousing.php?act=delete_warehousing', 'warehousing_id='+warehousing_id, deleteWarehousingResponse, 'POST', 'JSON');
		}			
	}
	
	function edit_warehousing_item(warehousing_item_id)
	{
		$("#span_received_qty_"+warehousing_item_id).hide();
		$("#input_received_qty_"+warehousing_item_id).show().focus();
	}
	
	function delete_warehousing_item(warehousing_item_id)
	{
		var warehousing_id='{$warehousing_info.warehousing_id}';
		
		function deleteWarehousingItemResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.document.location="erp_warehousing_manage.php?act=edit&id="+warehousing_id;
			}			
		}
		
		if(confirm('{$lang.erp_warehousing_sure_to_delete_warehousing_item}'))
		{	
			Ajax.call('erp_warehousing.php?act=delete_warehousing_item', 'warehousing_id='+warehousing_id+'&warehousing_item_id='+warehousing_item_id, deleteWarehousingItemResponse, 'POST', 'JSON');
		}		
	}	

	function set_goods_sn(sn)
	{
		$("#input_goods_sn").val(sn);
	}
	
	function hide_goods_sn_tips()
	{
		$("#goods_sn_tips").hide();	
	}

	function set_goods_name(name)
	{
		$("#input_goods_name").val(name);
	}
	
	function hide_goods_name_tips()
	{
		$("#goods_name_tips").hide();	
	}
	
	$(document).ready(function(){
		
		//更改收货仓库
		$("#span_warehouse").css('cursor','pointer');
		$("#span_warehouse").mouseover(function(){
			$(this).css('color','red');
		});
		$("#span_warehouse").mouseout(function(){
			$(this).css('color','black');
		});	
		$("#span_warehouse").click(function(){
			$(this).hide();
			$("#select_warehouse").show().focus();
		});
		$("#select_warehouse").change(function(){
			var warehouse_id=$(this).val();
			var warehousing_id='{$warehousing_info.warehousing_id}';
			
			if(warehouse_id==0)
			{
				return;
			}
			
			function changeWarehouseResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
				}
				else{
					window.document.location="erp_warehousing_manage.php?act=edit&id="+warehousing_id;
				}
			}
			
			Ajax.call('erp_warehousing.php?act=change_warehouse', 'warehousing_id='+warehousing_id+'&warehouse_id='+warehouse_id, changeWarehouseResponse, 'POST', 'JSON');
		});		
		
		//更改入库类型
		$("#span_warehousing_style").css('cursor','pointer');
		$("#span_warehousing_style").mouseover(function(){
			$(this).css('color','red');
		});
		$("#span_warehousing_style").mouseout(function(){
			$(this).css('color','black');
		});	
		$("#span_warehousing_style").click(function(){
			$(this).hide();
			$("#select_warehousing_style").show().focus();
		});
		$("#select_warehousing_style").change(function(){
			var warehousing_style_id=$(this).val();
			var warehousing_id='{$warehousing_info.warehousing_id}';
			
			function changeWarehousingStyleResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
				}
				else{
					window.document.location="erp_warehousing_manage.php?act=edit&id="+warehousing_id;
				}
			}
			
			Ajax.call('erp_warehousing.php?act=change_warehousing_style', 'warehousing_id='+warehousing_id+'&warehousing_style_id='+warehousing_style_id, changeWarehousingStyleResponse, 'POST', 'JSON');
		});			
					
		//更改关联订单
		$("#span_order").css('cursor','pointer');
		$("#span_order").mouseover(function(){
			$(this).css('color','red');
		});
		$("#span_order").mouseout(function(){
			$(this).css('color','black');
		});	
		$("#span_order").click(function(){
			$(this).hide();
			$("#select_order").show().focus();
		});
		$("#select_order").change(function(){
			var order_id=$(this).val();
			var warehousing_id='{$warehousing_info.warehousing_id}';
			
			function changeOrderResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
				}
				else{
					window.document.location="erp_warehousing_manage.php?act=edit&id="+warehousing_id;
				}
			}
			if(order_id!='')
			{
				Ajax.call('erp_warehousing.php?act=change_order', 'warehousing_id='+warehousing_id+'&order_id='+order_id, changeOrderResponse, 'POST', 'JSON');
			}
		});

		//更改交货人
		$("#span_warehousing_from").css('cursor','pointer');
		$("#span_warehousing_from").mouseover(function(){
			$(this).css('color','red');
		});
		$("#span_warehousing_from").mouseout(function(){
			$(this).css('color','black');
		});	
		$("#span_warehousing_from").click(function(){
			$(this).hide();
			$("#input_warehousing_from").show().focus();
		});	
		$("#input_warehousing_from").change(function(){
			var warehousing_from=$(this).val();
			var warehousing_id='{$warehousing_info.warehousing_id}';
			
			function changeWarehousingFromResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
				}
				else{
					window.document.location="erp_warehousing_manage.php?act=edit&id="+warehousing_id;
				}
			}
			
			if(warehousing_from=='')
			{
				alert('{$lang.erp_warehousing_warehousing_from_required}');
			}
			else{
				Ajax.call('erp_warehousing.php?act=change_warehousing_from',
					'warehousing_id=' + encodeURIComponent(warehousing_id) +
					'&warehousing_from=' + encodeURIComponent(warehousing_from),
					changeWarehousingFromResponse, 'POST', 'JSON');
			}
		});
		$("#input_warehousing_from").blur(function(){
				$("#span_warehousing_from").show();
				$("#input_warehousing_from").hide();				
		});
		
		// Change operator
		$('#span_operator').mouseover(function() {
			$(this).css('color','red');
		}).mouseout(function() {
			$(this).css('color','black');
		}).css({
			'cursor': 'pointer'
		}).click(function() {
			$(this).hide();
			$('select[name="operator"]').show();
		});
		
		$('select[name="operator"]').change(function() {
			var operator = $(this).val();
			var warehousing_id='{$warehousing_info.warehousing_id}';
			
			function changeOperatorResponse(res)
			{
				if(res.error==0)
				{
					window.document.location="./erp_warehousing_manage.php?act=edit&id="+warehousing_id;
				}
				else
				{
					alert(res.message);
				}				
			}
			if(operator != '')
			{
				Ajax.call('erp_warehousing.php?act=change_operator',
				'warehousing_id=' + encodeURIComponent(warehousing_id) +
					'&operator=' + encodeURIComponent(operator),
					changeOperatorResponse, 'POST', 'JSON');				
			}	
		});
		
		//更改实收数量
		$("span[id^='span_received_qty_']").css('cursor','pointer');
		$("span[id^='span_received_qty_']").mouseover(function(){
			$(this).css('color','red');
		});
		$("span[id^='span_received_qty_']").mouseout(function(){
			$(this).css('color','black');
		});	
		$("span[id^='span_received_qty_']").click(function(){
			var warehousing_item_id=$(this).attr('id');
			warehousing_item_id=warehousing_item_id.substr('span_received_qty_'.length,warehousing_item_id.length-'span_received_qty_'.length);			
			
			$(this).hide();
			$("#input_received_qty_"+warehousing_item_id).show().focus();
		});	
		
		$("input[id^='input_received_qty_']").change(function(){
			var warehousing_item_id=$(this).attr('id');
			warehousing_item_id=warehousing_item_id.substr('input_received_qty_'.length,warehousing_item_id.length-'input_received_qty_'.length);
			
			var warehousing_id='{$warehousing_info.warehousing_id}';
			var received_qty=$(this).val();
			
			function changeReceivedQtyResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
					$("#span_received_qty_"+warehousing_item_id).show();	
					$("#input_received_qty_"+warehousing_item_id).val($("#span_received_qty_"+warehousing_item_id).text()).hide();
				}
				else{
					$("#span_received_qty_"+warehousing_item_id).text(received_qty);
					$("#input_received_qty_"+warehousing_item_id).hide();
					$("#span_received_qty_"+warehousing_item_id).show();
				}
			}
			
			if(isNaN(received_qty))
			{
				alert('{$lang.erp_not_a_number}');
			}
			else{
				Ajax.call('erp_warehousing.php?act=change_received_qty', 'warehousing_id='+warehousing_id+'&warehousing_item_id='+warehousing_item_id+"&received_qty="+received_qty, changeReceivedQtyResponse, 'POST', 'JSON');
			}
		});
		$("input[id^='input_received_qty_']").blur(function(){
			var warehousing_item_id=$(this).attr('id');
			warehousing_item_id=warehousing_item_id.substr('input_received_qty_'.length,warehousing_item_id.length-'input_received_qty_'.length);			
			$("#span_received_qty_"+warehousing_item_id).show();
			
			$(this).hide();
		});
		
		
		$("#input_goods_sn").focus();
		
		var current_goods_sn='';
		
		var current_goods_name='';	
		
		$("#input_goods_sn").blur(function(){
			var goods_sn=$(this).val();
	
			function checkGoodsSnResponse(res)
			{
				if(res.error!=0)
				{
					//alert(res.message);
					$("#input_goods_sn").focus();
					$("#input_goods_sn").val('');
				}
				else{
					$("#attr_box").html(res.attr_info);
					$("#input_qty").focus();
				}
			}			
			if(goods_sn!='')
			{
				Ajax.call('erp_warehousing.php?act=check_goods_sn',
					'goods_sn=' + encodeURIComponent(goods_sn),
					checkGoodsSnResponse, 'POST', 'JSON');
			}
		});

		$("#input_goods_name").blur(function(){
			
			var goods_name=$(this).val();
	
			function checkGoodsNameResponse(res)
			{
				if(res.error!=0)
				{
					//alert(res.message);
					$("#input_goods_name").focus();
					$("#input_goods_name").val('');
				}
				else{
					$("#attr_box").html(res.attr_info);
					$("#input_qty").focus();
				}
			}			
			if(goods_name!='')
			{
				Ajax.call('erp_warehousing.php?act=check_goods_name',
					'goods_name=' + encodeURIComponent(goods_name),
					checkGoodsNameResponse, 'POST', 'JSON');
			}
		});
		
		$("#input_goods_sn").keyup(function(){
			
			var goods_sn=$(this).val();

			function goodsSNTipsResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);	
				}
				else{	
					//显示货号提示
					if(res.num>0)
					{
						$("#goods_sn_tips").empty().append(res.content);
							
						var offset=$("#input_goods_sn").position();
						var offset_top=offset.top;
						var offset_left=offset.left;
	
						var ua = navigator.userAgent.toLowerCase();
							
						if(ua.match(/firefox/))
						{
							offset_top=offset_top+9;
							//offset_left=offset_left;							
						}
						else{
							offset_top=offset_top+10;
							offset_left=offset_left;							
						}
							
						$("#goods_sn_tips").css('left',offset_left);
						//$("#goods_sn_tips").css('top',offset_top);
						$("#goods_sn_tips").show();	
					}
					else{
						$("#goods_sn_tips").hide();	
					}					
				}
			}

			if(goods_sn!=current_goods_sn)
			{
				current_goods_sn=goods_sn;
				if(goods_sn!='')
				{
					Ajax.call('erp_warehousing.php?act=goods_sn_tips',
						'goods_sn=' + encodeURIComponent(goods_sn),
						goodsSNTipsResponse, 'POST', 'JSON');
				}	
			}				
		});

		$("#input_goods_name").keyup(function(){
			
			var goods_name=$(this).val();

			function goodsNameTipsResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);	
				}
				else{	
					//显示货号提示
					if(res.num>0)
					{
						$("#goods_name_tips").empty().append(res.content);
							
						var offset=$("#input_goods_name").position();
						var offset_top=offset.top;
						var offset_left=offset.left;
	
						var ua = navigator.userAgent.toLowerCase();
							
						if(ua.match(/firefox/))
						{
							offset_top=offset_top+9;
							offset_left=offset_left;							
						}
						else{
							offset_top=offset_top+10;
							offset_left=offset_left;							
						}
							
						$("#goods_name_tips").css('left',offset_left);
						//$("#goods_name_tips").css('top',offset_top);
						$("#goods_name_tips").show();	
					}
					else{
						$("#goods_name_tips").hide();	
					}					
				}
			}

			if(goods_name!=current_goods_name)
			{
				current_goods_name=goods_name;
				if(goods_name!='')
				{
					Ajax.call('erp_warehousing.php?act=goods_name_tips',
						'goods_name=' + encodeURIComponent(goods_name),
						goodsNameTipsResponse, 'POST', 'JSON');
				}	
			}				
		});

		$("#input_qty").keyup(function(){
			var input_qty=$(this).val();
			var last_char=input_qty.substr(input_qty.length-1,1);
			if(isNaN(last_char))
			{
				$(this).val(input_qty.substr(0,input_qty.length-1));
			}
		});	
			
		$("#update_warehousing").click(function(){
			
			var goods_sn=$("#input_goods_sn").val();
			
			var goods_name=$("#input_goods_name").val();
			
			var goods_qty=$("#input_qty").val();
			
			var warehousing_id='{$warehousing_info.warehousing_id}';
			
			var ids='';
			
			$("select[id^='select_attr_']").each(function(index){
				
				var value=$($("select[id^='select_attr_']")[index]).val();
				
				ids=ids+value+',';
			});
							
			var dynamic_attrs='';
			
			$("input[id^='dynamic_attr_']").each(function(index){
				
				var attr_id=$($("input[id^='dynamic_attr_']")[index]).attr('id');
				
				attr_id=attr_id.substr('dynamic_attr_'.length,attr_id.length-'dynamic_attr_'.length);
				
				var value=$($("input[id^='dynamic_attr_']")[index]).val();
				
				dynamic_attrs=dynamic_attrs+attr_id+'|'+value+',';
			});	
			
			function updateWarehousingResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
					$("#input_goods_sn").val('').focus();
					$("#attr_box").html('');
				}
				else{
					window.document.location="erp_warehousing_manage.php?act=edit&id="+warehousing_id;
				}
			}
			
			if(goods_sn=='' && goods_name=='')
			{
				alert('{$lang.erp_warehousing_goods_sn_or_goods_name_or_goods_barcode_required}');	
				$("#input_goods_sn").focus();
			}
			else{
				Ajax.call('erp_warehousing.php?act=update_warehousing',
					'warehousing_id=' + encodeURIComponent(warehousing_id) +
					'&goods_sn=' + encodeURIComponent(goods_sn) +
					'&goods_name=' + encodeURIComponent(goods_name) +
					'&ids=' + encodeURIComponent(ids) +
					'&dynamic_attrs=' + encodeURIComponent(dynamic_attrs) +
					'&goods_qty=' + encodeURIComponent(goods_qty),
					updateWarehousingResponse, 'POST', 'JSON');
			}
		});
		
		$("span[id^='span_attr_']").css('cursor','pointer');
		$("span[id^='span_attr_']").mouseover(function(){
			$(this).css('color','red');
		});
		$("span[id^='span_attr_']").mouseout(function(){
			$(this).css('color','black');
		});	
		$("span[id^='span_attr_']").click(function(){
			var warehousing_item_id=$(this).attr('id');
			warehousing_item_id=warehousing_item_id.substr('span_attr_'.length,warehousing_item_id.length-'span_attr_'.length);			

			$(this).hide();
			$("#set_attr_"+warehousing_item_id).show();
		});
		
	});
	
	function batchWarehousing()
	{
		var file_name=$("#file_batch_warehousing").val();
		var file_ext_name=file_name.substr(file_name.length-3,3);
		
		if(file_ext_name!='txt')
		{
			alert('{$lang.erp_warehousing_only_text_file}');
			return false;
		}
		else{
			return true;
		}
	}
	
</script>
{/if}
{/if}


{if $warehousing_info.available_act.approve eq 1}

<!-- start approve remark -->

<div class=" modal fade" tabindex="-1" role="dialog" aria-hidden="true"  id="approve_remark">
	<div class="modal-dialog modal-xs">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">審核備註</h4>
			</div>
			<div class="modal-body ">
				<table class="table jambo_table table-striped">
					<tr>
						<td width="60">{$lang.erp_approve_remark}</td>
						<td>
							<textarea class="form-control" rows="8" cols="55" id="textarea_approve_remark">{$warehousing_info.approve_remark}</textarea>
						</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer ">
				<input type="button" id="img_submit_approve" class="btn btn-success" value="確定" />
			</div>
		</div>
	</div>
</div>

<!-- end approve remark -->

<script type=text/javascript>

	function withdrawal_to_edit(warehousing_id)
	{
		function withdrawalToEditResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.document.location="erp_warehousing_manage.php?act=list";
			}
		}
		if(confirm('{$lang.erp_warehousing_sure_to_withdrawal_to_edit}'))
		{	
			Ajax.call('erp_warehousing.php?act=withdrawal_to_edit', 'warehousing_id=' + warehousing_id, withdrawalToEditResponse, 'POST', 'JSON');
		}			
	}	
	

	
	$(document).ready(function(){
			$("#img_close_approve_remark").click(function(){
				$('#approve_remark').modal('hide');
			});
	});
	
	var approving = false;
	function approve_warehousing(warehousing_id,act)
	{
		function approveWarehousingResponse(res)
		{
			if (res.error != 0)
			{
				alert(res.message);
			}
			else
			{
				window.document.location = "erp_warehousing_manage.php?act=list";
			}
			approving = false;
		}
		
		if (act == 'pass')
		{
			$("#img_submit_approve").bind('click', function() {
				var approve_remark = $("#textarea_approve_remark").val();
				if(confirm('{$lang.erp_warehousing_sure_to_post_approve}'))
				{
					if (approving)
					{
						alert('已經提交審核，請耐心等候...');
						return;
					}
					approving = true;
					Ajax.call('erp_warehousing.php?act=approve_pass',
						'warehousing_id=' + encodeURIComponent(warehousing_id) +
						'&approve_remark=' + encodeURIComponent(approve_remark),
						approveWarehousingResponse, 'POST', 'JSON');
				}
				else
				{
					$('#approve_remark').modal('hide');
					$(this).unbind('click');			
				}					
			});

			$('#approve_remark').modal('show');
		}
		else if (act == 'reject')
		{
			$("#img_submit_approve").bind('click', function() {
				var approve_remark = $("#textarea_approve_remark").val();
				if(confirm('{$lang.erp_warehousing_sure_to_post_approve}'))
				{
					if (approving)
					{
						alert('已經提交審核，請耐心等候...');
						return;
					}
					approving = true;
					Ajax.call('erp_warehousing.php?act=approve_reject',
						'warehousing_id=' + encodeURIComponent(warehousing_id) +
						'&approve_remark=' + encodeURIComponent(approve_remark),
						approveWarehousingResponse, 'POST', 'JSON');
				}
				else
				{
					$('#approve_remark').modal('hide');
					$(this).unbind('click');			
				}					
			});
			$('#approve_remark').modal('show');
		}
	}
	
	function one_key_approve(warehousing_id)
	{
		function approveWarehousingResponse(res)
		{
			if (res.error != 0)
			{
				alert(res.message);
			}
			else
			{
				window.document.location = "erp_warehousing_manage.php?act=list";
			}
			approving = false;
		}
		
		if (approving)
		{
			alert('已經提交審核，請耐心等候...');
			return;
		}
		approving = true;
		Ajax.call('erp_warehousing.php?act=approve_pass', 'warehousing_id='+warehousing_id+'&approve_remark=%E4%B8%80%E9%8D%B5%E5%AF%A9%E6%A0%B8', approveWarehousingResponse, 'POST', 'JSON');
	}
</script>		
{/if}

<!-- start warehousing info -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

<input class="btn btn-success form-btn" style="float: right;" data-toggle="modal" data-target="#popup_import_data_history_modal" type="button" id="import_data" name="import_data" value="點貨數據記錄">


<table class="table jambo_table table-striped">
	<thead>
		<tr>
			<th>{$lang.erp_warehousing_sn}</th>	
			<th width="15%">{$lang.erp_warehousing_warehouse}</th>
			<!-- <th>{$lang.erp_warehousing_admin}</th> -->
			<th>操作員</th>
			<th width="15%">{$lang.erp_warehousing_warehousing_style}</th>	
			<th width="10%">{$lang.erp_warehousing_order}</th>	
			<th width="10%">{$lang.erp_warehousing_from}</th>
			<th width="10%">{$lang.erp_warehousing_date}</th>
			{if $act neq 'view'}
			<th width="15%">{$lang.erp_operation}</th>
			{/if}
		</tr>
	</thead>
  
 	<tr>
		<td >{$warehousing_info.warehousing_sn}</td>
		<td >
			<span id="span_warehouse">{$warehousing_info.warehouse_info.name}</span>
			{if $warehouse_list}
			<select class="form-control" name="select_warehouse" id="select_warehouse" style="display:none;">
				<option value="0" >{$lang.erp_warehousing_select_warehouse}</option>
				{foreach from=$warehouse_list item=warehouse_info}
					<option value="{$warehouse_info.warehouse_id}" {if $warehouse_info.warehouse_id eq $warehousing_info.warehouse_id}selected="selected"{/if}>{$warehouse_info.name}</option>
				{/foreach}
			</select>
			{/if}
		</td>
		<!-- <td >{$warehousing_info.admin_name}</td> -->
		<td >
			<span id="span_operator">{if $warehousing_info.operator}{$warehousing_info.operator}{else}{$lang.erp_NULL}{/if}</span>
			{if $act eq 'edit'}
			<select class="form-control" name="operator" style="display: none;">
				<option value="">{$lang.select_please}</option>
				{foreach from=$salesperson_list item=salesperson}
				<option{if $salesperson eq $warehousing_info.operator} selected="selected"{/if}>{$salesperson}</option>
				{/foreach}
			</select>
			{/if}
		</td>
		<td >
			<span id="span_warehousing_style">{$warehousing_info.warehousing_style_info.warehousing_style}</span>
			{if $warehousing_style_list}
			<select class="form-control" name="select_warehousing_style" id="select_warehousing_style" style="display:none;">
				{foreach from=$warehousing_style_list item=warehousing_style_info}
					<option value="{$warehousing_style_info.warehousing_style_id}" {if $warehousing_style_info.warehousing_style_id eq $warehousing_info.warehousing_style_id}selected="selected"{/if}>{$warehousing_style_info.warehousing_style}</option>
				{/foreach}
			</select>
			{/if}			
			
		</td>
		<td >
			
			<span id="span_order">
				{if $warehousing_info.order_info.order_sn}
					{$warehousing_info.order_info.order_sn}
				{elseif $warehousing_info.order_info.repair_sn}
					<a href='repair_orders.php?act=list&ro_sn={$warehousing_info.order_info.repair_sn}'>{$warehousing_info.order_info.repair_sn}</a>
				{else}
					{if $order_info}
						{$lang.erp_warehousing_choose_order}
					{else}
						&nbsp;
					{/if}
				{/if}
			</span>
			
			{if $order_info}
			<select class="form-control" name="select_order" id="select_order" style="display:none;">
				<option value="">{$lang.erp_warehousing_choose_order}</option>
				{foreach from=$order_info item=order_info}
					<option value="{$order_info.order_id}" {if $order_info.order_id eq $warehousing_info.order_id}selected="selected"{/if}>{$order_info.order_sn}</option>
				{/foreach}
			</select>
			{/if}		
		</td>
		<td >
			<span id="span_warehousing_from">
				{if $warehousing_info.warehousing_from}
					{$warehousing_info.warehousing_from}
				{else}
					{$lang.erp_warehousing_input_warehousing_from}
				{/if}
			</span>
			{if $supplier_list}
				<select class="form-control" id="input_warehousing_from" style="display:none">
					{foreach from=$supplier_list item=s}
						<option value="{$s.name}" {if $warehousing_info.warehousing_from==$s.name}selected{/if}>{$s.name}</option>
					{/foreach}
				</select>
			{else}
				<input id="input_warehousing_from" class="form-control" size="10" maxlength="10" style="display:none;" value="{$warehousing_info.warehousing_from}"/>
			{/if}
		</td>
		<td >{$warehousing_info.warehousing_date}</td>
		{if $act neq 'view'}
		<td >
			
			{if $warehousing_info.available_act.edit eq 1}
				<a href="javascript:edit_warehousing()">{$lang.erp_operation_edit}</a>
			{/if}
			{if $warehousing_info.available_act.delete eq 1}
				<a href="javascript:delete_warehousing({$warehousing_info.warehousing_id})">{$lang.erp_operation_delete}</a>
			{/if}
	
			{if $warehousing_info.available_act.post_to_approve eq 1}
				<a href="javascript:post_warehousing({$warehousing_info.warehousing_id})">{$lang.erp_operation_post_to_approve}</a>
			{/if}				
			{if $warehousing_info.available_act.approve eq 1}
				<a href="javascript: approve_warehousing({$warehousing_info.warehousing_id},'pass')">{$lang.erp_operation_approve_pass}</a>
				<a href="javascript: approve_warehousing({$warehousing_info.warehousing_id},'reject')">{$lang.erp_operation_approve_reject}</a>
				<a href="javascript:withdrawal_to_edit({$warehousing_info.warehousing_id})">{$lang.erp_operation_withdrawal}</a>
				<a href="javascript: one_key_approve({$warehousing_info.warehousing_id})">一鍵審核</a>
			{/if}
		</td>
		{/if}
 	</tr>

</table>
</div>
<!-- end warehousing info -->

<br/>

{if $act eq 'edit'}
{if $warehousing_info.available_act.edit eq 1}
{if $warehousing_info.warehousing_style_id neq 1}
<div class="col-md-12">
	<table class="table jambo_table table-striped">
	
		<tr>
			<td>
			<table class="table jambo_table table-striped">
			<tr>
				<td>
					<span style="margin-left:5px;margin-right:5px;">{$lang.erp_warehousing_input_goods_sn}</span>
				</td>
				<td>
					<input class="form-control" size="30" maxlength="30" id="input_goods_sn" value="" />
					<ul id="goods_sn_tips"></ul>
				</td>
				<td>
					<span style="margin-left:5px;margin-right:5px;">{$lang.erp_warehousing_input_goods_name}</span>
				</td>
				<td>
					<input class="form-control" size="60" maxlength="30" id="input_goods_name" value="" style="width: 400px;" />
					<ul id="goods_name_tips"></ul>
				</td>			
				
				<td>
					<span id="attr_box">
						
					</span>
				</td>
				
				<td>
					<span style="margin-left:10px;margin-right:5px;">{$lang.erp_warehousing_input_qty}</span>
				</td>
				<td>
					<input class="form-control" id="input_qty" value="" size="5" maxlength="5" />
				</td>
				<td>
					<span style="margin-left:10px;"><input type="button" id="update_warehousing" style="cursor:pointer;" class="btn btn-default" value="確定" /></span>
				</td>
			</tr>
			</table>				
			</td>

		</tr>
	</table>		
</div>
{/if}
{/if}
{/if}

<!-- start warehousing item info -->
 <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table jambo_table table-striped">
	<thead>
		<tr>
			<th width="5%">{$lang.erp_warehousing_item_id}</th>	
			<th width="10%">{$lang.erp_warehousing_item_goods_img}</th>
			<th>{$lang.erp_goods_list_goods_name}</th>
			<th width="10%">{$lang.erp_warehousing_item_goods_sn}</th>
			<th width="10%">{$lang.erp_warehousing_item_goods_attr}</th>	
			<th width="10%">{$lang.erp_warehousing_item_expected_qty}</th>
			<th width="10%">{$lang.erp_warehousing_item_received_qty}</th>
			{if $price_visible eq 'true'}
				<th width="10%">{$lang.erp_warehousing_item_warehousing_price}</th>
			{/if}
			{if $act neq 'view' and $act neq 'approve'}
				<th width="10%">{$lang.erp_operation}</th>
			{/if}
		</tr>
  	</thead>
	{foreach from=$warehousing_item_info key=key item=warehousing_item_info}
 	<tr id="tr_{$warehousing_item_info.goods_info.goods_barcode}">
		<td >{$key}</td>
		<td >
			<img  {if $warehousing_item_info.goods_details.goods_thumb}id="goods_img_{$warehousing_item_info.warehousing_item_id}"{/if} width="100" height="100" src="{if $warehousing_item_info.goods_details.goods_thumb}{$warehousing_item_info.goods_details.goods_thumb}{else}./images/no_img.gif{/if}">
		</td>
		<td >{$warehousing_item_info.goods_details.goods_name}</td>
		<td >{$warehousing_item_info.goods_details.goods_sn}</td>
		<td >
			
			{if $warehousing_item_info.selected_attr}
			<table>
				{foreach from=$warehousing_item_info.selected_attr item=attr}
					<tr>
						<td align="left" valign="top" style="padding-left:10px;" width="30%">{$attr.attr_name}：</td>
						<td align="left" >
						{if $attr.is_dynamic}
							<form action="erp_warehousing.php" method="post">
							<span id="span_attr_{$warehousing_item_info.warehousing_item_id}_{$attr.attr_id}">{$attr.attr_value}</span>	
							<div style="display:none;" id="set_attr_{$warehousing_item_info.warehousing_item_id}_{$attr.attr_id}">	
							<input type="hidden" name="act" value="update_attr">
							<input type="hidden" name="warehousing_id" value="{$warehousing_info.warehousing_id}">
							<input type="hidden" name="warehousing_item_id" value="{$warehousing_item_info.warehousing_item_id}">
							<input type="text" class="form-control"  name="input_attr_{$attr.attr_id}" value="" size="8" >
							{if $attr.attrs}
							<select class="form-control" name="select_attr_{$attr.attr_id}" style="position:relative;top:1px;">
								{foreach from=$attr.attrs item=s_attr}
									<option value="{$s_attr.goods_attr_id}" {if $s_attr.selected eq 1}selected="selected"{/if}>{$s_attr.attr_value}</option>
								{/foreach}
							</select>
							<input type="image" src="images/yes.gif" onclick="return true;">
							{/if}
							</div>
							</form>
							
						{else}
							{$attr.attr_value}
						{/if}
						</td>
					</tr>
				{/foreach}
			</table>
			{else}
				$$	
			{/if}	
			
		</td>
		<td >{$warehousing_item_info.expected_qty}</td>
		<td >
			<span id="span_received_qty_{$warehousing_item_info.warehousing_item_id}">{$warehousing_item_info.received_qty}</span>
			<input size=5 maxlength="5" style="display:none;" id="input_received_qty_{$warehousing_item_info.warehousing_item_id}" value="{$warehousing_item_info.received_qty}" />
		</td>
		
		{if $price_visible eq 'true'}
		<td >
			<span id="span_warehousing_price_{$warehousing_item_info.warehousing_item_id}">{$warehousing_item_info.price}</span>
			<input size="8" maxlength="8" style="display:none;" id="input_warehousing_price_{$warehousing_item_info.warehousing_item_id}" value="{$warehousing_item_info.price}" />
		</td>		
		{/if}
		
		{if $act neq 'view' and $act neq 'approve'}
		<td >
			
			{if $warehousing_info.available_act.edit eq 1}
				<a href="javascript: edit_warehousing_item({$warehousing_item_info.warehousing_item_id})">{$lang.erp_operation_edit}</a>
			{/if}
			{if $warehousing_info.available_act.delete eq 1}
				<a href="javascript:delete_warehousing_item({$warehousing_item_info.warehousing_item_id})">{$lang.erp_operation_delete}</a>
			{/if}				
		</td>
		{/if}
 	</tr>
	{/foreach}
</table>
</div>
<!-- end warehousing item info -->
</div>

<div class="modal fade" role="dialog" id="popup_import_data_history_modal">
		<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">匯入記錄</h4>
			</div>
			<div class="modal-body">
				<form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
					<div class="form-group">
						<div class="x_content">
							<table class="table table-striped">
							<thead>
							<tr>
							<th>#</th>
							<th>PO單號</th>
							<th>入貨單號</th>
							<th>入貨員工</th>
							<th>Log</th>
							<th>時間</th>
							</tr>
							</thead>
							<tbody>

							{foreach from=$cross_check_history item=log}
							<tr>
							<th scope="row">{$log.cross_check_id}</th>
							<td>{$log.order_sn}</td>
							<td>{$log.warehousing_sn}</td>
							<td> <span class="avatar"><img width=50px src="../{$log.avatar}" title="{$log.user_name}" ></span></td>
							<td>{$log.log}</td>
							<td>{$log.add_time}</td>
							</tr>
							{/foreach}
							</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
		</div>
		</div>
	</div>
{include file="pagefooter.htm"}

