{if $full_page}
{include file="pageheader.htm"}

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="searchForm" action="javascript:getList()" style="margin:0px" class="form-inline">
  	<img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    {$lang.erp_supplier_group}&nbsp;
  	<select class="form-control" name="group_id" id="group_id">
  		<option value="0">{$lang.all_record}</option>
  		{foreach from=$group_list item=group}
  			<option {if $group_id eq $group.group_id}selected="selected"{/if} value="{$group.group_id}">{$group.group_name}</option>
  		{/foreach}
  	</select>&nbsp;&nbsp;
    {$lang.erp_supplier_admin}&nbsp;
  	<select class="form-control" name="admin_id" id="admin_id">
  		<option value="0">{$lang.select_please}</option>
  		{foreach from=$admin_list item=admin}
  			<option {if $admin_id eq $admin.admin_id}selected="selected"{/if} value="{$admin.admin_id}">{$admin.user_name}</option>
  		{/foreach}
  	</select>&nbsp;&nbsp;
  	{$lang.search_keyword}&nbsp;
  	<input class="form-control" size="10" type="text" id="keyword" name="keyword" size="15" value="{$keyword}" />&nbsp;&nbsp;
    <input type="submit" value="{$lang.button_search}" class="btn btn-success form-btn" />
  </form>
</div>

<!-- start supplier list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<table class="table table-striped table-bordered bulk_action ">
  <thead>
  <tr>
    <th width="50">{$lang.erp_supplier_id}</th>
    <!-- <th width="50">{$lang.erp_supplier_code}</th> -->
    <th width="180">{$lang.erp_supplier_name}</th>
    <th width="80">地區<!-- #BeginComment -->{$lang.erp_supplier_address}<!-- #EndComment --></th>
    <th width="80">主聯繫人<!-- #BeginComment -->{$lang.erp_supplier_contact}<!-- #EndComment --></th>
    <th width="80">付款時間</th>
    <th width="80">入賬公司</th>
    <th width="50">{$lang.erp_supplier_tel}</th>
    <th width="120">電郵</th>
    <!-- #BeginComment --><th width="100">其它聯絡人電郵</th><!-- #EndComment -->
    <th width="80">付款方式<!-- #BeginComment -->{$lang.erp_supplier_fax}<!-- #EndComment --></th>
    <th width="50">{$lang.erp_supplier_bank_name}</th>
    <th width="100">{$lang.erp_supplier_bank_account}</th>
    <th width="120">{$lang.erp_supplier_bank_contact}</th>
    <th width="50">{$lang.erp_supplier_group_name}</th>
    <th width="50">{$lang.erp_supplier_goods_count}</th>
    <th width="50">{$lang.erp_supplier_order_count}</th>
    <th width="50">{$lang.erp_is_valid}</th>
    <th width="80">{$lang.erp_operation}</th>
  </tr>
  </thead>
  {foreach from=$supplier_info item=supplier}
  <tr id="tr_{$supplier.supplier_id}">
    <td align="center">{$supplier.supplier_id}</td>
    <!-- <td align="center">{$supplier.code}</td> -->
    <td>{$supplier.name}</td>
    <td>{$supplier.address}</td>
    <td>{$supplier.contact}</td>
    <td>{$supplier.converted_payment_term}</td>
    <td>{$supplier.corresponding_company}</td>
    <td>{$supplier.tel}</td>
    <td>{$supplier.email}</td>
    <!-- #BeginComment --><td>{$supplier.other_email}</td><!-- #EndComment -->
    <td>{$supplier.fax}</td>
    <td>{$supplier.bank_name}</td>
    <td>{$supplier.bank_account}</td>
    <td>{$supplier.bank_contact}</td>
    <td align="center">{$supplier.supplier_group_name}</td>
    <td align="center">{$supplier.goods_count}</td>
    <td align="center">{$supplier.order_count}</td>
    <td align="center"><img src="images/{if $supplier.is_valid eq 1}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'change_is_valid', {$supplier.supplier_id})" /></td>
    <td align="center">
      <a href="erp_supplier.php?act=edit&amp;id={$supplier.supplier_id}">{$lang.erp_operation_edit}</a>
      <a href="javascript:;" onclick="listTable.remove({$supplier.supplier_id}, '{$lang.erp_sure_to_delete}')">{$lang.erp_operation_delete}</a>
    </td>
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
  {/foreach}
</table>
<table id="page-table" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td align="right" nowrap="true">
      {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>
</div>
<!-- end supplier list -->

<script language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
  
  function getList()
  {
    var frm =  document.forms['searchForm'];
    listTable.filter['group_id'] = frm.elements['group_id'].value;
    listTable.filter['admin_id'] = frm.elements['admin_id'].value;
    listTable.filter['keyword'] = frm.elements['keyword'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
  }
  
{/literal}
</script>

{include file="pagefooter.htm"}
{/if}