{include file="pageheader.htm"}

<link href="styles/erp_order.css" rel="stylesheet" type="text/css" />


{insert_scripts files="../js/jquery.blockUI.2.23.js"}


{include file="erp_account_payable_search.htm"}

<style type="text/css">
	.current_page_style
	{
		color:red;
		font-weight:bold;
	}
	
</style>

<script language="JavaScript">
	$(document).ready(function(){
		$("span[id^='order_sn_']").css('cursor','pointer');
		$("span[id^='order_sn_']").mouseover(function(){
			$(this).css('color','red');
		});
		$("span[id^='order_sn_']").mouseout(function(){
			$(this).css('color','black');
		});	
		$("span[id^='order_sn_']").click(function(){
			var this_id=$(this).attr('id');
			var order_id=this_id.substr('order_sn_'.length,this_id.length-'order_sn_'.length);
			var open_url='erp_order_manage.php?act=view_order&order_id='+order_id;
			window.open(open_url,'_blank');	
		});	

		$("span[id^='supplier_']").css('cursor','pointer');
		$("span[id^='supplier_']").mouseover(function(){
			$(this).css('color','red');
		});
		$("span[id^='supplier_']").mouseout(function(){
			$(this).css('color','black');
		});	
		$("span[id^='supplier_']").click(function(){
			var this_id=$(this).attr('id');
			var sub_str=this_id.substr('supplier_'.length,this_id.length-'supplier_'.length);
			var pos_underline=sub_str.search('_');
			var supplier_code=sub_str.substr(pos_underline+1,sub_str.length-pos_underline-1);
			var open_url='erp_supplier.php?act=list&supplier_code='+supplier_code;

			window.open(open_url,'_blank');	
		});			
				
	});
	
</script>

 <!-- start payable list -->
 <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action">
  <tr>
    <th width="5%">{$lang.erp_payable_order_id}</th>
    <th width="8%">{$lang.erp_payable_order_sn}</th>
 	<th>{$lang.erp_payable_order_description}</th>
	<th>{$lang.erp_payable_order_agency}</th>
	<th width="10%">{$lang.erp_payable_order_supplier}</th>
	<th width="10%">{$lang.erp_payable_order_date}</th>
	<th width="10%">{$lang.erp_payable_order_amount}</th>
	<th width="10%">{$lang.erp_payable_total_payable_amount}</th>
	<th width="10%">{$lang.erp_payable_total_paid_amount}</th>
	<th width="10%">{$lang.erp_payable_payable}</th>
	<th width="10%">{$lang.erp_operation}</th>
  </tr>
  {foreach from=$payables_list item=payable}
  <tr>
    <td>{$payable.order_id}</td>
	<td align="center"><span id="order_sn_{$payable.order_info.order_id}">{$payable.order_info.order_sn}</span></td>
	<td>{$payable.order_info.description}</td>
	<td>{$payable.agency_name}</td>
	<td><span id="supplier_{$payable.order_info.order_id}_{$payable.order_info.supplier_code}">{$payable.order_info.supplier_name}</span></td>
	<td align="center">{$payable.order_info.create_date}</td>
	<td align="center">{$payable.order_info.order_amount}</td>
	<td align="center">{$payable.total_payable_amount}</td>
	<td align="center">{$payable.total_paid_amount}</td>
	<td align="center"><span style="{if $payable.payable gt 0}color:red;font-weight:bold;{else}color:blue;font-weight:bold;{/if}">{$payable.payable}</span></td>
	<td align="center">
		<a href="erp_finance_manage.php?act=view_payable&order_id={$payable.order_info.order_id}">{$lang.erp_operation_view}</a>
		<!--{if $act eq 'edit' and $payable.payable gt 0}<a href="erp_finance_manage.php?act=pay&order_id={$payable.order_info.order_id}">{$lang.erp_payable_operation_pay}</a>{/if}-->
	</td>
  </tr> 
  {foreachelse}
  <tr><td class="no-records" colspan="11">{$lang.no_records}</td></tr>
  {/foreach}
   <tr><td colspan="11" align="right">{$pager}</td></tr> 
</table>
</div>
<!-- end payable list -->


{include file="pagefooter.htm"}

