{include file="pageheader.htm"}


{insert_scripts files="../js/jquery.blockUI.2.23.js"}


<style type="text/css">
	.current_page_style
	{
		color:red;
		font-weight:bold;
	}
</style>

<script type="text/javascript">
	
	
</script>

<!-- start stock transfer list -->
{if $stock_list}
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action">
  <thead>
  	<tr>
  		<th>貨品編號</th>
  		<th>貨號</th>
  		<th>貨品名稱</th>
  		<th>流水帳紀錄庫存</th>
  		<th>流水帳計算所得庫存</th>
  		<th>貨品庫存<br>goods_attr</th>
  		<th>貨品庫存<br>goods_attr_stock</th>
  	</tr>
  </thead>
  <tbody>
  {foreach from=$stock_list item=s}
  	<tr>
  		{foreach from=$s item=ss key=kk}
  		<td>
  			{if $kk=="goods_id"}<a href='?act=detail&goods_id={$ss}'>{/if}
  			{$ss}
  			{if $kk=="goods_id"}</a>{/if}
  		</td>
  		{/foreach}
  	</tr>
  {foreachelse}
  	<tr><td>No record</td></tr>
  {/foreach}
  </tbody>
</table>
</div>
{/if}

{if $erp_list}
<p>說明:此列表顯示相同貨品、{if $different_order_sn}<b>不</b>{else}相{/if}同訂單、相同出入貨數量、執行時間相距少於 <b>{$time_interval}</b> 秒的「出入貨流水帳」紀錄。</p>
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

<table class="table table-striped table-bordered bulk_action">
  <thead>
  	<tr>
  		<th>流水帳號</th>
  		<th>出入貨數量</th>
  		<th>執行時間</th>
  		<th>執行時間相距(秒)</th>
  		<th>流水帳庫存</th>
  		<th>流水帳相關訂單</th>
  	</tr>
  </thead>
  <tbody>
  {foreach from=$erp_list item=s}
  	<tr>
  		<td><a href="erp_stock_record.php?act=W_D_record&s_s=a&w_d_s_id=0&w_id=0&s_id=0&b_id=0&s_date={$s.date_from}&e_date={$s.date_to}&goods_sn={$s.goods_sn}&goods_name=&act=list&from_abnormal_goods_id={$s.goods_id}">{$s.stock_id}<br>{$s.bsid}</a></td>
  		<td>
  			{$s.qty}
  		</td>
  		<td>{$s.act_time}<br>{$s.bacttime}</td>
  		<td>{$s.time_diff}</td>
  		<td>{$s.stock}</td>
  		<td><a href="order.php?act=list&order_sn={$s.order_sn}" target="_blank">{$s.order_sn}</a></td>
  	</tr>
  {foreachelse}
  	<tr><td>No record</td></tr>
  {/foreach}
  </tbody>
</table>
</div>
{/if}

{if $error_stock_list}
<p>說明:此列表顯示錯誤的流水帳號、流水帳紀錄庫存跟實際流水帳紀錄庫存不同的「出入貨流水帳」紀錄。</p>
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

<table class="table table-striped table-bordered bulk_action">
  <thead>
  	<tr>
  		<th>流水帳號(上一個流水帳號)</th>
      <th>貨倉</th>
  		<th>貨品編號</th>
  		<th>貨品名稱</th>
      <th>上一個流水帳紀錄庫存</th>
      <th>出入貨數量</th>
      <th>上一個流水帳紀錄庫存 + 出入貨數量</th>
      <th>流水帳紀錄庫存</th>
  		<th>流水帳計算所得庫存</th>
  	</tr>
  </thead>
  <tbody>
  {foreach from=$error_stock_list item=e_s}
  	<tr>
  		<td><a href="erp_stock_record.php?act=W_D_record&s_s=a&w_d_s_id=0&w_id=0&s_id=0&b_id=0&s_date={$e_s.date_from}&e_date={$e_s.date_to}&goods_sn={$e_s.goods_sn}&goods_name=&act=list&from_abnormal_goods_id={$e_s.goods_id}">{$e_s.stock_id}</a>({$e_s.b_id })</td>
  		<td>{$e_s.warehouse_name}</td>
      <td>
  			{$e_s.goods_id}
  		</td>
  		<td>{$e_s.goods_name}</td>
  		<td>{$e_s.prev_stock}</td>
      <td>{$e_s.qty}</td>
      <td style="color:blue;">{$e_s.sum_qty}</td>
      <td style="color:red;">{$e_s.stock}</td>
      <td {if $e_s.sum_qty eq $e_s.sum_stock}style="color:blue;"{else}style="color:red;"{/if}>{$e_s.sum_stock}</td>
  	</tr>
  {foreachelse}
  	<tr><td>No record</td></tr>
  {/foreach}
  </tbody>
</table>
</div>
{/if}
<!-- end stock record list -->
<!-- end stock record list -->

{include file="pagefooter.htm"}

