


<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="javascript:getList()" name="searchForm" class="form-inline">
	<img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
	<div>
    <!-- 订单状态 -->
    <select class="form-control" name="o_s">
    	<option value="0">{$lang.erp_order_search_order_status}</option>
		{foreach from=$order_status item=order_status}
			<option {if $o_s eq $order_status.status_no}selected="selected"{/if} value="{$order_status.status_no}">{$order_status.status_style}</option>
		{/foreach}
	</select>

    <!-- 供应商 -->
    <select class="form-control" name="s_id" id="s_name">
    	<option value="0">{$lang.erp_order_search_supplier}</option>
	</select>
	
    <!-- 采购员 -->
    <select class="form-control" name="p_id">
    	<option value="0">{$lang.erp_order_search_purchaser}</option>
		{foreach from=$purchaser_list item=purchaser key=key}
			<option {if $p_id eq $key}selected="selected"{/if} value="{$key}">{$purchaser}</option>
		{/foreach}
	</select>
    
    <!-- 類別 -->
    <select class="form-control" name="t_id">
    	<option value="">{$lang.erp_order_search_type}</option>
			<option {if $t_id eq 0 && $t_id neq ''}selected="selected"{/if} value="0">正常採購</option>
			<option {if $t_id eq 1}selected="selected"{/if} value="1">代理送貨</option>
			<option {if $t_id eq 2}selected="selected"{/if} value="2">寄賣</option>
			<option {if $t_id eq 3}selected="selected"{/if} value="3">RMA更換</option>
	</select>	
	</div>
	<div>
    <!-- 订单起始期 -->
    {$lang.erp_order_search_start_date} <input data-type='date' class="form-control" type="text" name="s_date" size="15" value="{$s_date}"/>
	
	<!-- 入仓结束期 -->
    {$lang.erp_order_search_end_date} <input data-type='date' class="form-control" type="text" name="e_date" size="15" value="{$e_date}" />

	<!-- 定单号 -->
    {$lang.erp_order_search_order_sn} <input  class="form-control" type="text" name="order_sn" size="15" value="{$order_sn}"  />

    {$lang.erp_order_search_good_keyword} <input  class="form-control" type="text" name="good_key" size="20" value="{$good_key}"  />
	
	<input type="submit" value="{$lang.button_search}" class="btn btn-success form-btn" />
	</div>
  </form>
</div>

<script>

	var suppliers_list = [];
	suppliers_list.push({
	    id: 0,
	    text: "{$lang.erp_order_search_supplier}",
	    html: "<span>{$lang.erp_order_search_supplier}</span>",

	});
	{foreach from=$supplier_list item=supplier}        
	suppliers_list.push({
	      id: {$supplier.supplier_id},
	      text: "{$supplier.name}",
	      html: "<span>{$supplier.name}</span>",
	
	  }) 
	{/foreach}
	$("#s_name").select2({
	    width: 'resolve',
	    matcher: modelMatcher,
	    allowClear: false,
	    placeholder: '{$lang.erp_order_search_supplier}',
	    data: suppliers_list,
	    escapeMarkup: function(markup) {
	        return markup;
	    },
	    templateResult: function(data) {
	        return data.html;
	    },
	});

</script>