<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style>

.popup_block {
    text-align: center;
    display: inline;
    padding: 4px;
}

.stocktake_dropdown_menu li a {
    font-size: 13px;
    padding: 7px 20px;
    line-height: 1.928571;
}

.order_column_tr {
    background-color: #2f75b5;
    color:white;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #828181;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}

</style>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="erp_stocktake.php?act=list" style="margin:0px">
        
      </form>
    </div>
    <div class="list-div" id="listDiv" style="margin-top: 5px;">
    {/if}
    <br>

    <div class="x_content">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">門市->西九(總倉)</a>
            </li>
            <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">西九(總倉)->門市</a>
            </li>
            <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">東九(Wilson倉)->門市</a>
            </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                <p>
                    <form class="form-inline form_order_goods_transfer_1" name="form_order_goods_transfer_1" id="form_order_goods_transfer_1"  action="erp_shop_pickup_tranfer.php?act=list" style="margin:0px">
                        <input type="hidden" name="act" value="post_transfer_list_create" />
                        <input type="hidden" name="to_warehouse_id" value="{$main_warehouse_id}" />
                        <input type="hidden" name="from_warehouse_id" value="{$shop_warehouse_id}" />
                        <input type="hidden" name="reason_type" value="{$reason_type_order_out_of_stock}" />
                        <table id="order_goods_transfer_1" class="table table-striped table-bordered bulk_action">
                        <thead>
                        
                        <th data-sort=0 data-id="goods_id">產品編號</th>
                        <th data-sort=0 data-id="order_sn_html">訂單編號</th>
                        <th data-sort=0 data-id="shipping_name">配送方式</th>
                        <th data-sort=0 data-id="goods_thumb">產品</th>
                        <th data-sort=0 data-id="goods_sn">產品貨號</th>
                        <th data-sort=0 data-id="goods_name">產品名稱</th>
                        <th data-sort=0 data-id="goods_number">數量</th>
                        <th data-sort=0 data-id="transfer_qty_html">需調貨</th>
                        
                        </thead>
                        </table>
                    </form>
                    <div id="step_action_bottom" >
                    <input style="    margin-top: 19px;" class="btn btn-success form-btn transfer_submit" type="button" id="transfer_submit" name="transfer_submit" data-transfer-form-id = "form_order_goods_transfer_1"  value="提交" />
                    </div>
                </p>
                </div>
                
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                <p>
                    <form class="form-inline form_order_goods_transfer_2" name="form_order_goods_transfer_2" id="form_order_goods_transfer_2"  action="erp_shop_pickup_tranfer.php?act=list" style="margin:0px">
                        <input type="hidden" name="act" value="post_transfer_list_create" />
                        <input type="hidden" name="from_warehouse_id" value="{$main_warehouse_id}" />
                        <input type="hidden" name="to_warehouse_id" value="{$shop_warehouse_id}" />
                        <input type="hidden" name="reason_type" value="{$reason_type_store_pickup}" />
                        <table id="order_goods_transfer_2" class="table table-striped table-bordered bulk_action">
                        <thead>
                        
                        <th data-sort=0 data-id="goods_id">產品編號</th>
                        <th data-sort=0 data-id="order_sn_html">訂單編號</th>
                        <th data-sort=0 data-id="shipping_name">配送方式</th>
                        <th data-sort=0 data-id="goods_thumb">產品</th>
                        <th data-sort=0 data-id="goods_sn">產品貨號</th>
                        <th data-sort=0 data-id="goods_name">產品名稱</th>
                        <th data-sort=0 data-id="goods_number">數量</th>
                        <th data-sort=0 data-id="transfer_qty_html">需調貨</th>
                        
                        </thead>
                        </table>
                    </form>
                    <div id="step_action_bottom" >
                    <input style="    margin-top: 19px;" class="btn btn-success form-btn transfer_submit" type="button" id="transfer_submit" name="transfer_submit"  data-transfer-form-id = "form_order_goods_transfer_2"   value="提交" />
                    </div>
                </p>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                <p>
                    <form class="form-inline form_order_goods_transfer_3" name="form_order_goods_transfer_3" id="form_order_goods_transfer_3"  action="erp_shop_pickup_tranfer.php?act=list" style="margin:0px">
                        <input type="hidden" name="act" value="post_transfer_list_create" />
                        <input type="hidden" name="from_warehouse_id" value="{$wilson_warehouse_id}" />
                        <input type="hidden" name="to_warehouse_id" value="{$shop_warehouse_id}" />
                        <input type="hidden" name="reason_type" value="{$reason_type_store_pickup}" />
                        <table id="order_goods_transfer_3" class="table table-striped table-bordered bulk_action">
                        <thead>
                        
                        <th data-sort=0 data-id="goods_id">產品編號</th>
                        <th data-sort=0 data-id="order_sn_html">訂單編號</th>
                        <th data-sort=0 data-id="shipping_name">配送方式</th>
                        <th data-sort=0 data-id="goods_thumb">產品</th>
                        <th data-sort=0 data-id="goods_sn">產品貨號</th>
                        <th data-sort=0 data-id="goods_name">產品名稱</th>
                        <th data-sort=0 data-id="goods_number">數量</th>
                        <th data-sort=0 data-id="transfer_qty_html">需調貨</th>
                        
                        </thead>
                        </table>
                    </form>
                    <div id="step_action_bottom" >
                    <input style="    margin-top: 19px;" class="btn btn-success form-btn transfer_submit" type="button" id="transfer_submit" name="transfer_submit"  data-transfer-form-id = "form_order_goods_transfer_3"  value="提交" />
                    </div>
                </p>
                </div>
            </div>
        </div>
    </div>

    {if $full_page}
    </div>
</div>


<div class="modal fade" role="dialog" id="popup_goods_restock_confirm_modal">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">建立調貨單</h4>
        </div>
        <div class="modal-body">
           
                <div class="x_panel">
                  <div class="x_title">
                    <h2>請檢查以下調貨產品正確</h2>
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="x_content">
                    <table id="order_goods_restock_confirm" class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th data-sort=0 data-id="goods_id">編號</th>
                          <th data-sort=0 data-id="order_id">訂單編號</th>
                          <th data-sort=0 data-id="goods_thumb">產品</th>
                          <th data-sort=0 data-id="goods_sn">產品貨號</th>
                          <th data-sort=0 data-id="goods_name">產品名稱</th>
                          <th data-sort=0 data-id="goods_name">門市倉存</th>
                          <th data-sort=0 data-id="goods_name">補貨件數</th>
                        </tr>
                      </thead>
                      <tbody id="order_goods_restock_confirm_body">
                      </tbody>
                    </table>

                  </div>
               

                    
                
                    <input style="float:right;margin-top: 0px;" class="btn btn-success form-btn transfer_confirm_submit" type="button" id="transfer_confirm_submit" name="transfer_confirm_submit" value="建立調貨單" />
                    <div class="col-md-3 col-sm-3 col-xs-12"  style="float:right">
                     <span style="display: inline-block;" class="control-label">操作人 :</span> 
                     <span style="display: inline-block;"> 
                      <select class="form-control" name="operator" id="operator">
                      {foreach from=$opeator_options item=opt}
                      <option value="{$opt.value}">{$opt.name}</option>
                      {/foreach}
                      </select></span>
                    </div>
                
                    </label>
                </div>
           
        </div>
    </div>
    </div>
</div>

{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
   // 开始检查订单
}

var total_records1 = 0;
var total_records2 = 0;
var total_records3 = 0;
var shop_warehouse_id = {$shop_warehouse_id};
yohoTable.table_id = "order_goods_transfer_1";

yohoTable.drawCallback = function(setting,api) {
    $(".form_order_goods_transfer_1 .dataTables_length").hide();
    $(".form_order_goods_transfer_1 .dataTables_paginate").hide();
    show_order_transfer_tatal();
};

var $table = yoho_dataTable();


var orderGoodsTransfer2 = {
    query: 'order_goods_transfer_2',
    table_id: "order_goods_transfer_2",
};

orderGoodsTransfer2.drawCallback = function(setting,api) {
  
    $("#form_order_goods_transfer_2 .dataTables_length").hide();
    $("#form_order_goods_transfer_2 .dataTables_paginate").hide();
    show_order_transfer_tatal();
};

var orderGoodsTransfer3 = {
    query: 'order_goods_transfer_3',
    table_id: "order_goods_transfer_3",
};
orderGoodsTransfer3.drawCallback = function(setting,api) {
  
  $("#form_order_goods_transfer_3 .dataTables_length").hide();
  $("#form_order_goods_transfer_3 .dataTables_paginate").hide();
  show_order_transfer_tatal();
  
};

function show_order_transfer_tatal() {
    $("#form_order_goods_transfer_3 .dataTables_info").html('共 '+  total_records3  +' 項');
    $("#form_order_goods_transfer_2 .dataTables_info").html('共 '+  total_records2  +' 項');
    $("#form_order_goods_transfer_1 .dataTables_info").html('共 '+  total_records1  +' 項');
}

yohoTables.push(orderGoodsTransfer2);
$table2 = yoho_dataTable(1);



yohoTables.push(orderGoodsTransfer3);
$table2 = yoho_dataTable(2);

$(document).on('change','form input:checkbox',function(){

});
var restock_order_data = {};
$(".transfer_submit").click(function(){
    // get selected ids
//var formData=new FormData(document.getElementById('order_goods_transfer')); 
//console.log(formData);
//console.log($(this).data('transfer-form-id'));

    var transfer_form_id = $(this).data('transfer-form-id');
    if(confirm("確定執行?")){
        $.ajax({
           url: 'erp_shop_to_warehouse_transfer.php',
           type: 'post',
           cache: false,
          // data: {
         //  'act': 'post_transfer_list_create',
            data: $("#"+transfer_form_id).serialize(),
        //   'test_data': formData,
           //'operator': $('#operator').val(),
         //  'shop_id':shop_warehouse_id
       // },
        dataType: 'json',
        success: function(result) {
           if (result.error == 0) {
                window.location = "erp_warehouse_transfer_create.php?act=list&transfer_id=" + result.content;
           } else {
               alert(result.message);
           }
            $(".bulk_confirm_action").css('visibility', 'hidden');
        },
        error: function(xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
        }
        }); 
    }
    else{
        return false;
    }
        
});

$("#order_goods_transfer_1").DataTable().on('xhr.dt',function (e, settings, json, xhr) {
    total_records1 = json.recordsTotal;
    $(".dataTables_info").html('');
    console.log('total_records1',total_records1);
});

$("#order_goods_transfer_2").DataTable().on('xhr.dt',function (e, settings, json, xhr) {
    total_records2 = json.recordsTotal;
    $(".dataTables_info").html('');
    console.log('total_records2',total_records2);
});

$("#order_goods_transfer_3").DataTable().on('xhr.dt',function (e, settings, json, xhr) {
    total_records3 = json.recordsTotal;
    $(".dataTables_info").html('');
    console.log('total_records3',total_records3);
});

$("#cross_check_search").click(function(){
    var $filter = {};
    // $filter.status = $("#status").val();
    $filter.start_date = $("#start_date").val();
    $filter.end_date = $("#end_date").val();
    $filter.period = $("#period").val();
    $table.search($filter);
    return;
});

$("#period").change(function(){
    var $filter = {};
    $filter.period = $(this).val();
    $table.search($filter);
});

//-->
</script>
{/literal}

{/if}