<style>
.form_text {
    padding-top: 7px;
}

.comment_date{
    position: relative;
    float: right;
    top: -14px;
}

.comment_date2{
    position: relative;
   
        -webkit-font-smoothing: antialiased;
    font-style: italic;
    font-size: .9375em;
    line-height: 1.3;
    color: #aab6aa;
}

.excerpt {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    height: auto;
    
}

.rma_note_user_profile {
display: inline-block;
    width: 70px;
    text-align: center;
    position: relative;
    vertical-align: top;
}

.rma_note_content {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
   
}

</style>
<div id="wizard" class="form_wizard wizard_horizontal">
<ul class="wizard_steps anchor">
<li>
  <a href="erp_rma_check.php?act=list&rma_id={$rma_id}" {if $step >= 1} class="selected" {else} class="disabled" {/if} isdone="1" rel="1">
    <span class="step_no"> 1</span>
    <span class="step_descr">產品檢查/調貨<br>
    </span>
  </a>
</li>
<li>
  <a href="erp_rma_notify.php?act=list&rma_id={$rma_id}" {if $step >= 2} class="selected" {else} class="disabled" {/if} isdone="0" rel="2">
    <span class="step_no">2</span>
    <span class="step_descr">通知供應商回收<br>
    </span>
  </a>
</li>
<li>
  <a href="erp_rma_awaiting.php?act=list&rma_id={$rma_id}" {if $step >=  3} class="selected" {else} class="disabled" {/if} isdone="0" rel="2">
    <span class="step_no">3</span>
    <span class="step_descr">等待供應商回收<br>
    </span>
  </a>
</li>
<li>
  <a href="erp_rma_repairing.php?act=list&rma_id={$rma_id}" {if $step >=  4} class="selected" {else} class="disabled" {/if} isdone="0" rel="3">
    <span class="step_no">4</span>
    <span class="step_descr">等待維修中<br>
    </span>
  </a>
</li>
<li>
  <a href="erp_rma_repaired.php?act=list&rma_id={$rma_id}" {if $step >= 5} class="selected" {else} class="disabled" {/if}  class="disabled" isdone="0" rel="4">
    <span class="step_no">5</span>
    <span class="step_descr">維修完成待處理<br>
    </span>
  </a>
</li>
<li>
  <a href="erp_rma_finished.php?act=list&rma_id={$rma_id}" {if $step >= 6} class="selected" {else} class="disabled" {/if}  isdone="0" rel="5">
    <span class="step_no">6</span>
    <span class="step_descr">完成<br>
    </span>
  </a>
</li>
</ul>
</div>