{include file="pageheader.htm"}

<link href="styles/ERP.css" rel="stylesheet" type="text/css" />



 <!-- start goods list -->
<div class=" x_panel">
	<div id="outside_container">
		<div id="inner_container">
			<form name="add_supplier_group"  id="add_supplier_group"  action="erp_supplier_group.php"  onsubmit="javascript:return checkFrom(this);" method="post">
				<table>
					<tr>
						<td width="150"><span class="tb_lable">{$lang.erp_supplier_group_name}：</span></td>
						<td><input name="group_name" id="group_name" type="text" value="{$supplier_group.group_name}" size="30" /></td>
						<td><span style="color:red;font-weight:normal;">{$lang.erp_required_item}</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">{$lang.erp_admin}：</span></td>
						<td>
							{foreach from=$admin_list item=admin}
								<input type="checkbox" name="admins[]" value="{$admin.user_id}" {if $admin.selected}checked="checked"{/if}>{$admin.user_name}
							{/foreach}
						</td>
						<td><span>&nbsp;</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">{$lang.erp_is_valid}：</span></td>
						<td>
							<select id="is_valid" name="is_valid" >
									<option value='0' {if $supplier_group.is_valid eq 0}selected="selected"{/if} >{$lang.no}</option>
									<option value='1' {if $supplier_group.is_valid eq 1}selected="selected"{/if}>{$lang.yes}</option>
							</select>
						</td>
						<td><span>&nbsp;</span></td>
					</tr>					
					<tr>
						<td  colspan="3" align="center">
							<input type="submit" class="btn" value="确定" >
						</td>
					</tr>																									
				</table>
				<input type="hidden" name="group_id" id="group_id" value="{$supplier_group.group_id}">
				<input type="hidden" name="act" value="{$act}">
			</form>
		</div>
	</div>
</div>
<!-- end goods list -->

{literal}
<script language="JavaScript">

    function checkFrom()
	{
		var group_name=$("#group_name").attr('value');
		
		if(group_name=='')
		{
			alert('请输入供应商分类名');
			return false;
		}
		return true;
	}   
</script>
{/literal}
{include file="pagefooter.htm"}

