
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js"}
<style>
._action>a {
    margin-right: 3px;
}

#batchHandler {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 70px;
    background: #34495e;
    z-index: 100;
    font-size: 16px;
    color: white;
    padding: 15px;
}
</style>
<link href="styles/erp_order.css" rel="stylesheet" type="text/css" />
<div class=" x_panel">
{include file="erp_order_search.htm"}

<!-- start order list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
	<table id="#" class="table table-striped table-bordered bulk_action ">
		<thead>
			<tr class="headings">
				{if ($manage_cost || $is_accountant)}
                <th data-sort="0" data-id="order_id" data-value="checkbox" data-noicheck="1"><input type="checkbox" class="flat" name="select_all"></th>
				{/if}
				<th data-sort="0"  data-id="order_id" data-value="ex_goods_thumb" data-type="image" data-key="order_id">最貴產品</th>
				<th data-sort="1" data-id="order_sn" data-url="erp_order_manage.php?act=view_order&amp;order_id={order_id}" data-class="td_order_sn">{$lang.erp_order_sn}</th>
				<th data-sort="0" data-id="description" >{$lang.erp_order_description}</th>
				<th data-sort="0" data-id="type" >{$lang.erp_order_type}</th>
				<th data-sort="0" data-id="supplier_name" >{$lang.erp_order_supplier}</th>
				<th data-sort="0" data-id="operator" >{$lang.erp_order_purchaser}</th>
				<th data-sort="1" data-id="create_date" >{$lang.erp_order_date}</th>
				<th data-sort="1" data-id="expected_delivery_time" data-value="expected_delivery_date" data-type="date" data-edit="1">預計送貨日期</th>
				<th data-sort="1" data-id="delivery_date">送貨日期</th>
				<th data-sort="0" data-id="order_status">{$lang.erp_order_status}</th>
				{if ($manage_cost || $is_accountant)}
				<th data-sort="0" data-id="converted_payment_term">付款時間</th>
				<th data-sort="0" data-id="payment_date">付款截止時間</th>
				<th data-sort="0" data-value="shipping_cost_formatted" data-id="shipping_cost">運費</th>
				<th data-sort="0" data-value="order_amount_formatted" data-id="order_amount">貨物金額</th>
				<th data-sort="0" data-value="due_amount_formatted" data-id="due_amount">應付金額</th>
				{/if}
				<th data-sort="0" class="actionsCol" data-id="_action">{$lang.erp_operation}</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<div class=" modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="email_dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">傳送收據</h4>
				</div>
				<div class="modal-body">
					<form id="email_form" onsubmit="return send_email(this)" enctype="multipart/form-data" method="POST">
						<input type="hidden" name="email_order_sn" id="email_order_sn">
						<input type="hidden" name="email_multiple_order" id="email_multiple_order">
						<span style="font-size: 18px;">採購訂單: </span><span style="font-size: 18px;" id="curr_sn"></span>
						<input type="button" class="btn btn-md btn-default" onclick="retrieve_orders()" style="float:right" value="合併發送"><br>
						<label for="email_addr">電郵地址: </label><span id="merge_list" class="red" style="float:right;"></span>
						<br><input class="form-control" placeholder="以「,」分隔多個電郵" type="text" name="email_addr" id="email_addr"><br>
						<label for="email_recipient">收件人: </label><br><input class="form-control" placeholder="以「,」分隔多個收件人" type="text" name="email_recipient" id="email_recipient"><br>
						<label for="email_memo">備註: </label><br><textarea class="form-control" form="email_form" name="email_memo" id="email_memo"></textarea><br>
						<label for="email_file">上傳檔案: </label><input class="form-control" type="file" name="email_file" id="email_file" accept="image/*,.pdf" onchange="img_preview(this.files[0])"><br>
						<div id="file_preview" style="border:1px solid lightgray;width:315px;height:315px"></div><br>
						<input type="submit" class="btn btn-primary" name="email_submit" value="傳送">
						<input type="reset" class="btn btn-primary" name="email_reset" onclick="this.form.reset();document.getElementById('email_multiple_order').value='';document.getElementById('merge_list').innerHTML='';document.getElementById('file_preview').innerHTML='';" value="重設">
						<input type="reset" class="btn btn-danger" id="abandon_email_btn" onclick="abandon_email();document.getElementById('email_multiple_order').value='';document.getElementById('merge_list').innerHTML='';document.getElementById('file_preview').innerHTML='';" value="取消">
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class=" modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="payment_multiple_dialog">
		<div class="modal-dialog modal-xs">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">選擇要合併之訂單</h4>
				</div>
				<div class="modal-body">
					<div id="multiple_order_list" style="border:1px solid lightgray;height:225px;overflow:auto"></div><br>
					<p style="text-align: center;">
						<input type="button" class="btn btn-primary" id="confirm_multiple" onclick="confirm_multiple()" value="確認">
						<input type="button" class="btn btn-primary" id="cancel_multiple" onclick="cancel_multiple()" value="取消">
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class=" modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="payment_receipt_dialog">
		<div class="modal-dialog modal-xs">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">付款證明: <span id="ret_curr_sn"></span></h4>
				</div>
				<div class="modal-body">
					<div id="file_retrieve" style="border:1px solid lightgray;width:360px;height:360px"></div><br>
					<p style="text-align: center;">
						<input type="button" class="btn btn-primary" id="confirm_receipt" onclick="close_receipt()" value="確認">
						<input type="button" class="btn btn-primary" id="remove_receipt" onclick="remove_receipt()" value="移除">
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class=" modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="email_status_dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="email_status"></h4>
				</div>
				<div class="modal-body">
					<p style="text-align: center;"><input type="button" class="btn btn-primary" id="confirm_email_status" onclick="close_email_status()" style="display:none" value="確認"></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end order list -->
<div id="batchHandler"></div>
{include file="pagefooter.htm"}
<script language="JavaScript">
	{if ($manage_cost || $is_accountant)}yohoTable.lengthMenu = [50, 100, 150, 200, 250, 500, 1000, 1500, 2000];{/if}
	yohoTable.rowCallback = function($row, $order, $dataIndex){
		$($row).attr('id', "tr_"+$order.order_id);
		$($row).find("[name='order_check']").attr('data-currency', $order.currency_code);
		$($row).addClass('is_revising');
		if( $order.revise_id > 0)$($row).addClass('is_revising');
		else $($row).removeClass('is_revising');
		if( $order.fully_paid > 0)$($row).find('.order_sn').addClass('green');
		if($order.can_warehousing > 0){
			$($row).addClass('can_warehousing_row');
			$($row).removeClass('is_revising');
			//$($row).removeClass('green');
		} else {
			//$($row).removeClass('can_warehousing_row');
		}
		var $operator = $order.operator || $order.purchaser;
		$($row).find('.operator').html($operator);
		//<br>{$order.approve_remark|escape:quotes}
		$status = '';
		if ($order.order_status == 1)     $status = "{$lang.erp_order_status_inputing}";
		else if ($order.order_status == 2) $status = "{$lang.erp_order_status_rating}";
		else if ($order.order_status == 3) $status = "{$lang.erp_order_status_approving}";
		else if ($order.order_status == 4) $status = "<span class='blue strong'>{$lang.erp_order_status_approve_pass}</span>";
		else if ($order.order_status == 5) $status = "<span class='red strong'>{$lang.erp_order_status_approve_reject}</span";
		$($row).find('.order_status').html($status);
	}
	yohoTable.drawCallback = function() {
		$("#batchHandler").hide().empty();
	};
	$table = yoho_dataTable();
	function getList()
	{
		$filter = [];
		var frm =  document.forms['searchForm'];
		$filter['o_s'] = frm.elements['o_s'].value;
		$filter['s_id'] = frm.elements['s_id'].value;
		$filter['p_id'] = frm.elements['p_id'].value;
		$filter['t_id'] = frm.elements['t_id'].value;
		$filter['s_date'] = frm.elements['s_date'].value;
		$filter['e_date'] = frm.elements['e_date'].value;
		$filter['order_sn'] = frm.elements['order_sn'].value;
		$filter['good_key'] = frm.elements['good_key'].value;
		$table.search($filter);
	}

	function post_to_approve(order_id)
	{
		function postToApproveResponse(res)
		{
			alert(res.message);
			if (res.error == 0)
			{
				$table.draw();
			}
		}
		if(confirm('{$lang.erp_order_sure_to_post_to_approve}'))
		{
			Ajax.call('erp_order.php?act=post_to_approve', 'order_id='+order_id, postToApproveResponse, 'POST', 'JSON');
		}
	}
	
	function withdrawal_to_edit(order_id)
	{
		function withdrawalToEditResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else
			{
				$table.draw();
			}
		}
		if(confirm('{$lang.erp_order_sure_to_withdrawal_to_edit}'))
		{	
			Ajax.call('erp_order.php?act=withdrawal_to_edit', 'order_id=' + order_id, withdrawalToEditResponse, 'POST', 'JSON');
		}			
	}
	
	function withdrawal_to_rate(order_id)
	{
		function withdrawalToRateResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else
			{
				$table.draw();
			}
		}
		if(confirm('{$lang.erp_order_sure_to_withdrawal_to_rate}'))
		{
			Ajax.call('erp_order.php?act=withdrawal_to_rate', 'order_id=' + order_id, withdrawalToRateResponse, 'POST', 'JSON');
		}
	}		
	
	function post_to_rate(order_id)
	{
		function postToRateResponse(res)
		{
			alert(res.message);
			if (res.error == 0)
			{
				$table.draw();
			}
		}
		if(confirm('{$lang.erp_order_sure_to_post_order}'))
		{	
			Ajax.call('erp_order.php?act=post_to_rate', 'order_id=' + order_id, postToRateResponse, 'POST', 'JSON');
		}
	}
	
	function delete_order(order_id)
	{
		function deleteOrderResponse(res)
		{
			alert(res.message);
			if ((res.error == 4) || (res.error == 0))
			{
				$table.draw();
			}
		}
		if(confirm('{$lang.erp_order_sure_to_delete_order}'))
		{
			Ajax.call('erp_order.php?act=delete_order', 'order_id=' + order_id, deleteOrderResponse, 'POST', 'JSON');
		}
	}
	
	function one_key_confirm(order_id)
	{
		function approveOrderResponse(res)
		{
			alert(res.message);
			if (res.error == 0)
			{
				$table.draw();
			}
		}

		Ajax.call('erp_order.php?act=to_confirm', 'order_id='+order_id+'&approve_remark=%E4%B8%80%E9%8D%B5%E5%AF%A9%E6%A0%B8', approveOrderResponse, 'POST', 'JSON');
	}
	
	function one_key_approve(order_id)
	{
		function approveOrderResponse(res)
		{
			alert(res.message);
			if (res.error == 0)
			{
				$table.draw();
			}
		}

		Ajax.call('erp_order.php?act=approve_pass', 'order_id='+order_id+'&approve_remark=%E4%B8%80%E9%8D%B5%E5%AF%A9%E6%A0%B8', approveOrderResponse, 'POST', 'JSON');
		//Ajax.call('erp_order.php?act=to_confirm', 'order_id='+order_id+'&approve_remark=%E4%B8%80%E9%8D%B5%E5%AF%A9%E6%A0%B8', approveOrderResponse, 'POST', 'JSON');
	}
	
	function unapprove(order_id, warehoused_warning)
	{
		function unapproveResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else
			{
				$table.draw();
			}
		}
		if (warehoused_warning)
		{
			alert('********************\n此採購單已' + (warehoused_warning == 1 ? '入貨' : '付款') + '，無法反審核此訂單\n********************')
		}
		else if(confirm('您確定要反審核此訂單嗎？'))
		{
			if (!warehoused_warning || confirm('********************\n此採購單已入貨，您確定要反審核此訂單嗎？\n********************'))
			{
				Ajax.call('erp_order.php?act=unapprove', 'order_id=' + order_id, unapproveResponse, 'POST', 'JSON');
			}
		}
	}
	
	function completeOrderPayment(order_id)
	{
		function completeOrderPaymentResponse(result)
		{
			try
			{
				alert(result.message);
				if (!result.error)
				{
					$table.draw();
				}
			}
			catch (e) { }
		}
		try
		{
			Ajax.call('purchase_payments.php?is_ajax=1&act=complete&order_id=' + order_id, '', completeOrderPaymentResponse, 'GET', 'JSON');
		}
		catch (e) { }
	}
	
    function create_warehousing_by_order(order_id)
    {
    	window.location = './erp_warehousing_manage.php?act=create&warehousing_style_id=1&order_id='+order_id;
    }

	function create_warehousing(order_id)
	{
		function createWarehousingResponse(result)
		{
			if (!result.error)
			{
				var warehousing_id = result.warehousing_id;
				
				function changeWarehousingOrderResponse(res) {
					if (!res.error)
					{
						window.location = './erp_warehousing_manage.php?act=edit&id='+warehousing_id;
					}
					else
					{
						alert(res.message);
					}
				}
				
				Ajax.call('erp_warehousing.php?act=change_order', 'warehousing_id='+warehousing_id+'&order_id='+order_id, changeWarehousingOrderResponse, 'POST', 'JSON');
			}
			else
			{
				alert(result.message);
			}
		}
		
		Ajax.call('erp_warehousing.php?act=add_warehousing', '', createWarehousingResponse, 'POST', 'JSON');
	}
	
	function upload_receipt(order_id){
		Ajax.call('erp_order_manage.php?act=check_email_priv','',function(data){
			if(data.msg == '-1'){
				alert(data.message);
			}else{
				Ajax.call('erp_order_manage.php?act=edit_email&order_id='+order_id+'&req=retrieve','',retrieve_email_info, 'GET','JSON');
			}
		}, 'GET','JSON');
	}
	function retrieve_email_info(data){
		document.getElementById('abandon_email_btn').click();
		close_receipt();
		$("#payment_multiple_dialog").modal('hide');
		$("#email_status_dialog").modal('hide');
		$("#email_dialog").modal('show');
		document.getElementById('email_addr').value = data['email'];
		document.getElementById('email_recipient').value = data['contact'];
		document.getElementById('email_order_sn').value = data['order_sn'];
		document.getElementById('curr_sn').innerHTML = data['order_sn'];
	}
	function retrieve_payment_receipt(order_id){
		Ajax.call('erp_order_manage.php?act=check_email_priv','',function(data){
			if(data.msg == '-1'){
				alert(data.message);
			}else{
				document.getElementById('file_retrieve').innerHTML = "";
				$("#email_status_dialog").modal('hide');
				$("#payment_receipt_dialog").modal('show');
				Ajax.call('erp_order_manage.php?act=retrieve_receipt&order_id='+order_id,'',display_receipt, 'GET','JSON');
			}
		}, 'GET','JSON');
	}
	function send_email(){
		var emptyFields = [];
		if(document.getElementById('email_order_sn').value == ""){
			alert('請重新整理頁面');
			return false;
		}
		if(document.getElementById('email_addr').value == ""){
			alert('請填寫電郵地址');
			return false;
		}
		if(document.getElementById('email_file').value == ""){
			alert('請上傳檔案');
			return false;
		}
		$("#email_dialog").modal('hide');
		$("#email_status_dialog").modal('show');
		document.getElementById('email_status').innerHTML = "郵件傳送中，請等待。。。";
		var fd = new FormData(document.getElementById('email_form'));
		var xhr = new XMLHttpRequest();
		xhr.open('POST', 'erp_order_manage.php?act=edit_email&req=send', true);
		xhr.onreadystatechange = function () {
			if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
				verify_status(JSON.parse(xhr.responseText));
			}
		};
		xhr.send(fd);
		return false;
	}
	function retrieve_orders(){
		Ajax.call('erp_order_manage.php?act=retrieve_orders&order_sn='+document.getElementById('curr_sn').innerText,'',select_multiple_order, 'GET','JSON');
	}
	function select_multiple_order(data){
		$("#payment_multiple_dialog").modal('show');
		document.getElementById('multiple_order_list').innerHTML = "";
		var checked = document.getElementById('email_multiple_order').value.replace(/'/g, "").split(',');
		var div = document.createElement("div");
		if(data.orders.length > 0){
			data.orders.map(function(x){
				var el = document.createElement("input");
				el.type = "checkbox";
				el.value = x;
				el.name = x;
				el.className = "multi_order";
				if(checked.indexOf(x) != -1)
					el.checked = "checked";
				var lab = document.createElement("label");
				lab.htmlFor = x;
				lab.innerText = x;
				var br = document.createElement("br");
				div.appendChild(el);
				div.appendChild(lab);
				div.appendChild(br)
			});
		}else{
			div.className = "centerElem";
			div.innerHTML = "<p style='text-align:center'>無可合併之訂單</p>";
		}
		document.getElementById('multiple_order_list').appendChild(div);
	}
	function confirm_multiple(){
		var checks = document.querySelectorAll('input[type=checkbox]:checked');
		var res = [];
		var msg = "";
		for(var i = 0; i < checks.length; i++){
			res.push(checks[i].value);
		}
		if(res.length > 0){
			msg = "*已合併其他訂單";
			document.getElementById('email_multiple_order').value = "'" + res.join("','") + "'";
		}else{
			document.getElementById('email_multiple_order').value = "";
		}
		document.getElementById('merge_list').innerText = msg;
		$("#payment_multiple_dialog").modal('hide');
	}
	function cancel_multiple(){
		$("#payment_multiple_dialog").modal('hide');
	}
	function verify_status(data){
		var msg = "";
		switch(data.msg){
			case '-1': msg = "您沒有進行此操作的權限！"; break;
			case '0': msg = "已發送電郵"; break;
			case '1': msg = "無法發送電郵"; break;
			case '2': msg = "無法儲存檔案(" + data.debug + ")"; break;
			case '3': msg = "未上傳檔案(" + data.debug + ")"; break;
			case '4': msg = "未填資料"; break;
			case '5': msg = "已更新紀錄"; break;
			default: msg = "錯誤"; console.log(data.msg);break;
		}
		document.getElementById('email_status').innerHTML = msg;
		document.getElementById('confirm_email_status').style.display = !!document.documentMode ? 'inline-block' : 'unset';
	}
	function abandon_email(){
		$("#email_dialog").modal('hide');
		$("#payment_multiple_dialog").modal('hide');
		return false;
	}
	function close_email_status(){
		document.getElementById('email_status').innerHTML='';
		document.getElementById('confirm_email_status').style.display = 'none';
		$("#email_status_dialog").modal('hide');
		location.reload();
	}
	function close_receipt(){
		document.getElementById('file_retrieve').innerHTML="";
		$("#payment_receipt_dialog").modal('hide');
	}
	function remove_receipt(order_sn){
		$("#email_status_dialog").modal('show');
		Ajax.call('erp_order_manage.php?act=remove_receipt&order_sn='+document.getElementById('ret_curr_sn').innerText,'',verify_status, 'GET','JSON');
	}
	function drawPreview(target,src,type){
		var maxW = parseInt(document.getElementById(target).style['width']),
			maxH = parseInt(document.getElementById(target).style['height']);
		document.getElementById(target).innerHTML = "";
		if(type == 'pdf'){
			if(!!document.documentMode){
				var div=document.createElement("div");
				div.className = "centerElem";
				div.innerHTML = "<p style='text-align:center'>This Browser Does Not Support PDF Files Preview</p>";
				document.getElementById(target).appendChild(div);
			}else{
				var iframe = document.createElement('iframe');
				iframe.width = maxW;
				iframe.height = maxH;
				iframe.src = src;
				document.getElementById(target).appendChild(iframe);
			}
		} else if(type == 'image'){
			var img = new Image;
			img.onload = function() {
				var canvas=document.createElement("canvas");
				var ctx=canvas.getContext("2d");
				var iw=img.width;
				var ih=img.height;
				var scale=Math.min((maxW/iw),(maxH/ih));
				var iwScaled=iw*scale;
				var ihScaled=ih*scale;
				canvas.width=iwScaled;
				canvas.height=ihScaled;
				ctx.drawImage(img,0,0,iwScaled,ihScaled);
				var thumb=new Image();
				thumb.src=canvas.toDataURL();
				thumb.className = 'centerElem';
				document.getElementById(target).appendChild(thumb);
			}
			img.src = src;
		}
	}
	function img_preview(e){
		document.getElementById('file_preview').innerHTML = "";
		if(e){
			if(e.type.match(/application\/pdf/)){
				drawPreview('file_preview',URL.createObjectURL(e),'pdf');
			}else if(e.type.match(/image\//)){
				drawPreview('file_preview',URL.createObjectURL(e),'image');
			}else{
				document.getElementById('file_preview').innerHTML = '<div class="centerElem"><p style="text-align:center">不支援的檔案格式</p></div>';
			}
		}else{
			document.getElementById('file_preview').innerHTML = '<div class="centerElem"><p style="text-align:center">請選擇檔案</p></div>';
		}
	}
	function display_receipt(data){
		document.getElementById('ret_curr_sn').innerHTML = data.order_sn;
		if(data.error != 0){
			drawPreview('file_retrieve',data.src,data.type);
		}else{
			document.getElementById('file_retrieve').innerHTML = "<div class='centerElem'><p style='text-align:center'>找不到收據檔案</p></div>";
		}
	}
	function revise(order_id) {
		location.href = 'erp_order_revise.php?act=add&order_id=' + order_id
	}
{/literal}

$(document).on('ifChanged', 'input[name=select_all]', function (e) {
	$('input[name=order_check]').iCheck($('input[name=select_all]:checked').length > 0 ? 'check' : 'uncheck');
})

$(document).on('ifChanged', 'input[name=order_check]', function (e) {
	var sum = 0;
	var same_supplier = true;
	var init_supplier = 0;
    var order_ids = [];
    var pay_order_ids = [];
	var order_currencies = [];
    $.each($("input[name=order_check]:checked"), function (index, select) {
		var order_id = $(select).data('id');
		var currency = $(select).data('currency');
		if (init_supplier == 0) {
			init_supplier = $(select).data('sid');
		}
		if (parseInt($(select).val()) > 0) {
            pay_order_ids.push(order_id)
		}
		same_supplier = same_supplier && init_supplier == $(select).data('sid');
        if (order_ids.indexOf(order_id) == -1) {
            order_ids.push(order_id)
        }
		if (order_currencies.indexOf(currency) == -1) {
            order_currencies.push(currency)
        }
		sum += parseFloat($(select).val())
    })
    $("#batchHandler").hide();
    if (order_ids.length > 0) {
		var html = "<div class='col-md-10'>總金額: $" + sum.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + "</div>" +
					"<div class='col-md-2'>" +
						(same_supplier && pay_order_ids.length > 0 && (order_currencies.indexOf('HKD') == 0 && order_currencies.length == 1) ? "<button type='button' id='batchPay' class='btn btn-success' data-ids='" + pay_order_ids.sort((a,b)=>a-b).join(",") + "'>批量付款</button>" : "") +
					"</div>";
        $("#batchHandler").html(html);
        $("#batchHandler").show();
    }
})
$(document).on('click', '#batchPay', function () {
	if ($('#batchPay').data('ids') != '') {
		location.href = 'purchase_payments.php?act=batch_add&order_ids=' + $('#batchPay').data('ids')
	}
})
</script>


