<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style>

.popup_block {
    text-align: center;
    display: inline;
    padding: 4px;
}

.stocktake_dropdown_menu li a {
    font-size: 13px;
    padding: 7px 20px;
    line-height: 1.928571;
}
</style>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="erp_stocktake.php?act=list" style="margin:0px">
        類型: <select class="form-control" name="type" id="type">
            {foreach from=$type_options  key=id item=type}
                <option value="{$id}" "{if $id == 1} selected {/if}" >{$type}</option>
            {/foreach}
        </select> 
        狀態: <select class="form-control" name="status" id="status">
            <option value="-1" selected>全部</option>
            {foreach from=$status_options  key=id item=status}
                <option value="{$id}" >{$status}</option>
            {/foreach}
        </select>
        標題:
        <input class="form-control" name="title" type="text" id="title" size="15" value='{$filter.title}' /> 
        <input class="btn btn-success form-btn" type="button" id="stocktake_search" name="stocktake_search" value="{$lang.query}" />
        <div style="float:right">
            <input style="display:none" class="btn btn-success" id="create_stocktake" type="button" value="建立盤點" />
            <div class="dropdown navbar-right">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                建立盤點
                <span class="caret"></span>
              </button>
              <ul class="stocktake_dropdown_menu dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="erp_stocktake_create.php?act=list">搜尋產品</a></li>
                <li><a href="erp_stocktake_create_by_import.php?act=list">匯入盤點數據</a></li>
              </ul>
            </div>
        </div>
      </form>
    </div>

    <div class="list-div" id="listDiv" style="margin-top: 50px;">
    {/if}
 <input style="display:inline-block;visibility:hidden;" type="button" data-change-type="0" class="bulk_confirm_action btn btn-warning" value="封存">
 <input style="display:inline-block;visibility:hidden;" type="button" data-change-type="2" class="bulk_confirm_action btn btn-danger" value="刪除">
   
    <table id="stocktake" class="table table-striped table-bordered bulk_action">
    <thead>
    <th data-id="stocktake_id" data-key="stocktake_id">盤點編號
        <input type="checkbox" id="check-all" class="flat">
    </th>
    <th data-id="create_date">建立日期</th>
    <th data-sort=0 data-id="warehouse" >倉</th>
    <th data-sort=0 data-id="avatar" >負責人</th>
    <th data-sort=0 data-url="erp_stocktake_process.php?act=list&amp;stocktake_id={stocktake_id}" data-id="title">盤點標題</th>
    <th data-sort=0 data-id="stocktake_progress">盤點進度</th>
    <th data-sort=0 data-id="review_progress">覆核進度</th>
    <th data-sort=0 data-id="status">狀態</th>
    <th data-sort=0 data-id="actions">操作</th>
    </thead>
    </table>
    {if $full_page}
    </div>
</div>

{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
   // 开始检查订单
    popupBlock.init();
}

var $table = yoho_dataTable();

$(document).on('change','form input:checkbox',function(){
    console.log('11');
});

$(document).on('ifChanged', 'input:checkbox' ,function () {
    var checkCount = $(".bulk_action input[name='table_records']:checked").length;
    if (checkCount > 0) {
        $(".bulk_confirm_action").css('visibility', 'visible');
    } else {
        $(".bulk_confirm_action").css('visibility', 'hidden');
    }
});

$("#stocktake_search").click(function(){
    var $filter = {};
    $filter.status = $("#status").val();
    $filter.type = $("#type").val();
    $filter.title = $("#title").val();
    $table.search($filter);
    $(".bulk_confirm_action").css('visibility', 'hidden');
    return;
});

$(".bulk_confirm_action").click(function(){
    var selected_stocktake_ids = $table.getSelectValue();
    if (selected_stocktake_ids.length == 0){
        alert('請選擇產品');
        return false;
    }

    var change_type = $(this).data('change-type');
    if(confirm("確定執行?")){
        // save
        $.ajax({
           url: 'erp_stocktake.php',
           type: 'post',
           cache: false,
           data: {
           'act': 'post_bulk_stocktake_type_change',
           'selected_stocktake_ids': selected_stocktake_ids,
           'change_type': change_type,
        },
        dataType: 'json',
        success: function(result) {
           if (result.error == 0) {
              var $filter = {};
              $filter.status = $("#status").val();
              $filter.page = 1;
              $table.search($filter);
           } else {
               alert(result.message);
           }
            $(".bulk_confirm_action").css('visibility', 'hidden');
        },
        error: function(xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
        }
        }); 
    }
    else{
        return false;
    }
});

$(document).on('click','.confirm_action',function(){
    var stocktake_id = $(this).data('stocktake-id');
    var change_type = $(this).data('change-type');
    if (change_type == 0) {
        var confirm_word = '確定執行封存?';
    } else {
        var confirm_word = '確定執行刪除?';
    }
    if(confirm(confirm_word)){
        // save
        $.ajax({
           url: 'erp_stocktake.php',
           type: 'post',
           cache: false,
           data: {
           'act': 'post_stocktake_type_change',
           'stocktake_id': stocktake_id,
           'change_type': change_type,
        },
        dataType: 'json',
        success: function(result) {
            if (result.error == 0) {
                $table.draw();
            } else {
                alert(result.message);
            }
        },
        error: function(xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
        }
        }); 
    }
    else{
        return false;
    }
});

var popupBlock = {};


popupBlock.init = function (){
  // Setup popup div
    var $popup = $('<div class="popup_block"></div>');
    // var $popup_title = $('<div style="padding: 4px;"></div>');
    // $popup.append($popup_title);
    //var $test = $('<div>aaa</div>')
   // $popup.append($test);
    
    var $popup_select_by_search_block = $('<div class="popup_block"></div>');
    $popup.append($popup_select_by_search_block);

    var $popup_select_by_search_btn = $('<input class="btn btn-success" id="popup_select_by_search" type="button" name="popup_select_by_search" value="產品搜尋" onclick="return false;" />');
    $popup_select_by_search_block.append($popup_select_by_search_btn);

    //var $popup_select_by_search = $('<div class="popup_block"> </div> | <div class="popup_block"> <input id="popup_import_by_data"  type="button" class="btn btn-success" name="popup_import_by_data" size="15"  value="直接數據匯入" onclick="return false;" /> </div>');
    //$popup.append($popup_select_by_search);

    //var $inner = $('<div style="padding: 4px;"></div>');
    //$popup.append($inner);

    // Display the popup and backdrop with fade in animation
    // $popup.appendTo('body').fadeIn('fast');
    // $backdrop.appendTo('body').fadeIn('fast');
    //$popup.appendTo('body');
    //$backdrop.appendTo('body');

    $("#popup_select_by_search").click(function(){
       console.log('popup_select_by_search');
       var url="erp_stocktake_create.php?act=list";
       window.location=url;
    });

    $("#popup_import_by_data").click(function(){
       console.log('popup_import_by_data');
       var url="erp_stocktake_create_by_import.php?act=list";
       window.location=url;
    });

    // $("#create_stocktake").click(function(){
    //     $popup2 = modal.create('請選擇盤點方式', $popup);
    //     modal.show($popup2);
    // });
};

//-->
</script>
{/literal}

{/if}