{include file="pageheader.htm"}
<style>
#goods_sn_tips{width:200px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_sn_tips li{line-height:20px; list-style:none;}

#goods_name_tips{width:400px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_name_tips li{line-height:20px; list-style:none;padding: 5px;}

#goods_barcode_tips{width:200px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_barcode_tips li{line-height:20px; list-style:none;padding: 5px;}

#error_message {
    color:red;
}

#popup_goods_name {
	padding-top: 5px;
	font-size: 22px;
}

</style>
<link href="styles/erp_warehousing.css" rel="stylesheet" type="text/css" />
<div class=" x_panel">

<!-- start warehousing info -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<input class="btn btn-success form-btn" style="float: right;" data-toggle="modal" data-target="#popup_import_data_modal" type="button" id="import_data" name="import_data" value="匯入點貨數據">

<div class="x_content" style="display: block;">
<table class="table jambo_table table-striped">
	<thead>
		<tr>
			<th>{$lang.erp_warehousing_sn}</th>	
			<th width="15%">{$lang.erp_warehousing_warehouse}</th>
			<!-- <th>{$lang.erp_warehousing_admin}</th> -->
			<th>操作員</th>
			<th width="15%">{$lang.erp_warehousing_warehousing_style}</th>	
			<th width="10%">{$lang.erp_warehousing_order}</th>	
			<th width="10%">{$lang.erp_warehousing_from}</th>
			<th width="10%">{$lang.erp_warehousing_date}</th>
			{if $act neq 'view'}
			<th width="15%">{$lang.erp_operation}</th>
			{/if}
		</tr>
	</thead>
 	<tr>
		<td >{$warehousing_info.warehousing_sn}</td>
		<td >
			<span id="span_warehouse">{$warehousing_info.warehouse_info.name}</span>
			{if $warehouse_list}
			<select class="form-control" name="select_warehouse" id="select_warehouse" style="display:block;">
				<option value="0" >{$lang.erp_warehousing_select_warehouse}</option>
				{foreach from=$warehouse_list item=warehouse_info}
					<option value="{$warehouse_info.warehouse_id}" {if $warehouse_info.warehouse_id eq $warehousing_info.warehouse_id}selected="selected"{/if}>{$warehouse_info.name}</option>
				{/foreach}
			</select>
			{/if}
		</td>
		<td >
			{if $act eq 'create'}
			<select class="form-control" id="operator" name="operator" style="display: block;">
				<option value="">{$lang.select_please}</option>
				{foreach from=$salesperson_list item=salesperson}
				<option{if $salesperson eq $warehousing_info.operator} selected="selected"{/if}>{$salesperson}</option>
				{/foreach}
			</select>
			{/if}
		</td>
		<td >
			{if $warehousing_style_list}
			<select class="form-control" name="select_warehousing_style" id="select_warehousing_style" style="display:block;">
				<option value="0">---請選擇入貨類型---</option>
				{foreach from=$warehousing_style_list item=warehousing_style_info}
					<option value="{$warehousing_style_info.warehousing_style_id}" {if $warehousing_style_info.warehousing_style_id eq $warehousing_info.warehousing_style_id}selected="selected"{/if}>{$warehousing_style_info.warehousing_style}</option>
				{/foreach}
			</select>
			{/if}
		</td>
		<td >
			{if $order_info}
			<select class="form-control" name="select_order" id="select_order" style="display:block;">
				<option value="">{$lang.erp_warehousing_choose_order}</option>
				{foreach from=$order_info item=order_info}
					<option value="{$order_info.order_id}" {if $order_info.order_id eq $warehousing_info.order_id}selected="selected"{/if}>{$order_info.order_sn}</option>
				{/foreach}
			</select>
			{/if}		
		</td>
		<td >
			{if $supplier_list}
				<select class="form-control" id="input_warehousing_from" style="display:block">
					{foreach from=$supplier_list item=s}
						<option value="{$s.name}" {if $warehousing_info.warehousing_from==$s.name}selected{/if}>{$s.name}</option>
					{/foreach}
				</select>
			{else}
				<input placeholder="{$lang.erp_warehousing_input_warehousing_from}" id="input_warehousing_from" class="form-control" size="10" maxlength="10" style="display:block;" value="{$warehousing_info.warehousing_from}"/>
			{/if}
		</td>
		<td style="padding-top: 16px;">{$warehousing_info.warehousing_date}<input type="hidden" id="warehousing_date" value="{$warehousing_info.warehousing_date}"  ></td>
		{if $act neq 'view'}
		<td >
			{if $warehousing_info.available_act.approve eq 1}
			<a class="btn btn btn-sm btn-primary" href="javascript:post_warehousing('one_click_finish')">一鍵審核</a>
			{else}
			<a href="javascript:post_warehousing('submit')">提交審核</a>
			{/if}
		</td>
		{/if}
 	</tr>
</table>
</div>
</div>
<!-- end warehousing info -->

<br/>

{if $act eq 'create'}
{if $warehousing_info.available_act.edit eq 1}
{if $warehousing_info.warehousing_style_id neq 1}
<div class="col-md-12">
<div class="x_content" style="display: block;">
	<table class="table jambo_table table-striped">
		<tr>
			<td>
			<table class="table jambo_table table-striped">
			<tr>
				<td>
					<span style="margin-left:5px;margin-right:5px;">{$lang.erp_warehousing_input_goods_sn}</span>
				</td>
				<td>
					<input class="form-control" size="30" maxlength="30" id="input_goods_sn" value="" />
					<ul id="goods_sn_tips"></ul>
				</td>
				<td>
					<span style="margin-left:5px;margin-right:5px;">{$lang.erp_warehousing_input_goods_name}</span>
				</td>
				<td>
					<input class="form-control" size="60" maxlength="30" id="input_goods_name" value="" style="width: 400px;" />
					<ul id="goods_name_tips"></ul>
				</td>			
				<td>
					<span id="attr_box">	
					</span>
				</td>
				
				<td>
					<span style="margin-left:10px;margin-right:5px;">{$lang.erp_warehousing_input_qty}</span>
				</td>
				<td>
					<input class="form-control" id="input_qty" value="" size="5" maxlength="5" />
				</td>
				<td>
					<span style="margin-left:10px;"><input type="button" id="update_warehousing" style="cursor:pointer;" class="btn btn-default" value="確定" /></span>
				</td>
			</tr>
			</table>				
			</td>

		</tr>
	</table>		
</div>
</div>
{/if}
{/if}
{/if}

<!-- start warehousing item info -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<div id="notice_message" class="form-div" style="display:none">
	<div id="success_message"></div>
	<div id="error_message"></div>
</div>
<div class="x_content" style="display: block;">
<table class="table jambo_table table-striped warehouse_goods_table">
	<thead>
		<tr>
			<th width="5%">{$lang.erp_warehousing_item_id}</th>	
			<th width="10%">{$lang.erp_warehousing_item_goods_img}</th>
			<th>{$lang.erp_goods_list_goods_name}</th>
			<th width="10%">{$lang.erp_warehousing_item_goods_sn}</th>
			<th width="10%">{$lang.erp_warehousing_item_goods_attr}</th>	
			<th width="10%">{$lang.erp_warehousing_item_expected_qty}</th>
			<th width="10%">{$lang.erp_warehousing_item_received_qty}</th>
			
			{if $price_visible eq 'true'}
				<th width="10%">{$lang.erp_warehousing_item_warehousing_price}</th>
			{/if}
			
			{if $act neq 'view' and $act neq 'approve'}
				<th width="10%">{$lang.erp_operation}</th>
			{/if}
		</tr>
  	</thead>
	{foreach from=$warehousing_item_info key=key item=warehousing_item_info}
 	<tr id="tr_{$warehousing_item_info.goods_details.goods_id}">
		<td >{$key}</td>
		<td >
			<img  {if $warehousing_item_info.goods_details.goods_thumb}id="goods_img_{$warehousing_item_info.warehousing_item_id}"{/if} width="100" height="100" src="{if $warehousing_item_info.goods_details.goods_thumb}{$warehousing_item_info.goods_details.goods_thumb}{else}./images/no_img.gif{/if}">
		</td>
		<td >{$warehousing_item_info.goods_details.goods_name}</td>
		<td >{$warehousing_item_info.goods_details.goods_sn}</td>
		<td >
			
			{if $warehousing_item_info.selected_attr}
			<table>
				{foreach from=$warehousing_item_info.selected_attr item=attr}
					<tr>
						<td align="left" valign="top" style="padding-left:10px;" width="30%">{$attr.attr_name}：</td>
						<td align="left" >
						{if $attr.is_dynamic}
							<form action="erp_warehousing.php" method="post">
							<span id="span_attr_{$warehousing_item_info.warehousing_item_id}_{$attr.attr_id}">{$attr.attr_value}</span>	
							<div style="display:none;" id="set_attr_{$warehousing_item_info.warehousing_item_id}_{$attr.attr_id}">	
							<input type="hidden" name="act" value="update_attr">
							<input type="hidden" name="warehousing_id" value="{$warehousing_info.warehousing_id}">
							<input type="hidden" name="warehousing_item_id" value="{$warehousing_item_info.warehousing_item_id}">
							<input type="text" class="form-control"  name="input_attr_{$attr.attr_id}" value="" size="8" >
							{if $attr.attrs}
							<select class="form-control" name="select_attr_{$attr.attr_id}" style="position:relative;top:1px;">
								{foreach from=$attr.attrs item=s_attr}
									<option value="{$s_attr.goods_attr_id}" {if $s_attr.selected eq 1}selected="selected"{/if}>{$s_attr.attr_value}</option>
								{/foreach}
							</select>
							<input type="image" src="images/yes.gif" onclick="return true;">
							{/if}
							</div>
							</form>
							
						{else}
							{$attr.attr_value}
						{/if}
						</td>
					</tr>
				{/foreach}
			</table>
			{else}
				$$	
			{/if}	
			
		</td>
		<td id="span_expected_qty_{$warehousing_item_info.goods_id}" >{$warehousing_item_info.expected_qty}</td>
		<td >
			<span id="span_received_qty_{$warehousing_item_info.goods_id}">0</span>
			<input size=5 maxlength="5" style="display:none;" class="input_received_qty" name="input_received_qty_{$warehousing_item_info.goods_id}" id="input_received_qty_{$warehousing_item_info.goods_id}" value="0" />
		</td>
		
		{if $price_visible eq 'true'}
		<td >
			<span id="span_warehousing_price_{$warehousing_item_info.goods_id}">{$warehousing_item_info.price}</span>
			<input size="8" maxlength="8" style="display:none;" id="input_warehousing_price_{$warehousing_item_info.warehousing_item_id}" value="{$warehousing_item_info.price}" />
		</td>		
		{/if}
		
		{if $act neq 'view' and $act neq 'approve'}
		<td >
			{if $warehousing_info.available_act.edit eq 1}
				<a href="javascript: edit_warehousing_item({$warehousing_item_info.goods_id})">{$lang.erp_operation_edit}</a>
			{/if}
			{if $warehousing_info.available_act.delete eq 1}
				<a href="javascript:delete_warehousing_item({$warehousing_item_info.goods_id})">{$lang.erp_operation_delete}</a>
			{/if}
			{if $warehousing_item_info.goods_details.basic_info_need_to_update}
			<input class="btn btn-warn bg-orange form-btn input_lwh" type="button" class="" data-goods-id="{$warehousing_item_info.goods_id}" id="input_lwh_{$warehousing_item_info.goods_id}" value="填補產品資料!">
			{/if}
		</td>
		{/if}
 	</tr>
	{/foreach}
</table>
</div>
</div>
<!-- end warehousing item info -->
</div>

<div class="modal fade" role="dialog" id="popup_import_data_modal">
	<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">匯入</h4>
		</div>
		<div class="modal-body">
			<form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">點貨資料 :
					</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
							<textarea class="form-control col-md-7 col-xs-12" id="stocktake_data" rows="20" cols="54" placeholder=""></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
					</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input class=" btn btn-success" type="button" id="submit_import_data" name="submit_import_data" value="確定" placeholder="">
					</div>
				</div>
			</form>

		</div>
	</div>
	</div>
</div>

<div class="modal fade" role="dialog" id="popup_input_goods_info_modal">
		<div class="modal-dialog modal-s">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">輸入長闊高+重量</h4>
			</div>
			<div class="modal-body">
				<form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
					<div class="col-md-12 col-sm-12 col-xs-12 nopadding" style="padding-bottom: 10px">
							<div class="col-md-3">
								<div style="width:40px" id="popup_goods_image" ></div>
							</div>
							<div class="col-md-9">
									<div id="popup_goods_name"></div>
								</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 nopadding" style="padding-bottom: 10px">
						<div class="col-md-4"><div class="input-group">
								<div class="input-group-addon">長</div>
								<input type="text" class="form-control" id="popup_goods_length"  name="popup_goods_length" value="0.000" size="20">
								<div class="input-group-addon">CM</div>
						</div></div>
						<div class="col-md-4"><div class="input-group">
							<div class="input-group-addon">闊</div>
							<input type="text" class="form-control" id="popup_goods_width" name="popup_goods_width" value="0.000" size="20">
							<div class="input-group-addon">CM</div>
						</div></div>
						<div class="col-md-4"><div class="input-group">
							<div class="input-group-addon">高</div>
							<input type="text" class="form-control" id="popup_goods_height" name="popup_goods_height" value="0.000" size="20">
							<div class="input-group-addon">CM</div>
						</div></div>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12 nopadding" style="padding-bottom: 10px">
						<div class="col-md-4"><div class="input-group">
								<div class="input-group-addon">重量</div>
								<input type="text" class="form-control" id="popup_goods_weight" name="popup_goods_weight" value="0.000" size="20">
								<div class="input-group-addon">KG</div>
						</div></div>
					</div>
					<input type="hidden"  id="popup_goods_id" name="popup_goods_id" value=""/>
					<div class="form-group">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input class=" btn btn-success" type="button" id="submit_goods_data" name="submit_goods_data" value="儲存" placeholder="">
						</div>
					</div>
				</form>
	
			</div>
		</div>
		</div>
	</div>

{if $act eq 'create'}
<script type=text/javascript>
	$(document).on("click",".input_lwh",function() {
		// get goods info
		$.ajax({
			url: 'erp_warehousing_manage.php',
			type: 'post',
			cache: false,
			data: {
			'act': 'post_get_goods_info',
			'goods_id' : $(this).data('goods-id'),
		},
		dataType: 'json',
		success: function(result) {
			if (result.error == 0) {
				var goods_data = result.content;
				$("#popup_goods_image").html('<img width=100px src="../'+ goods_data.goods_thumb +'" >');
				$("#popup_goods_name").html(goods_data.goods_name);
				$("#popup_goods_length").val(goods_data.goods_length);
				$("#popup_goods_width").val(goods_data.goods_width);
				$("#popup_goods_height").val(goods_data.goods_height);
				$("#popup_goods_weight").val(goods_data.goods_weight);
				$("#popup_goods_id").val(goods_data.goods_id);
				$('#popup_input_goods_info_modal').modal('toggle');
			} else {
				alert(result.message);
			}
		},
		error: function(xhr) {
			alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
			console.log(xhr);
		}
		});


		
	});

	$(document).on("click","#submit_goods_data",function() {
		$.ajax({
			url: 'erp_warehousing_manage.php',
			type: 'post',
			cache: false,
			data: {
			'act': 'post_save_goods_info',
			'goods_id' : $("#popup_goods_id").val(),
			'goods_length' : $("#popup_goods_length").val(),
			'goods_width' : $("#popup_goods_width").val(),
			'goods_height' : $("#popup_goods_height").val(),
			'goods_weight' : $("#popup_goods_weight").val(),
		},
		dataType: 'json',
		success: function(result) {
			if (result.error == 0) {
				$('#popup_input_goods_info_modal').modal('toggle');
			} else {
				alert(result.message);
			}
		},
		error: function(xhr) {
			alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
			console.log(xhr);
		}
		});

	});

	$(document).on("click","#submit_import_data",function() {
        
//		var warehouse_id = $('#warehouse_id').val();
		var stocktake_data = $("#stocktake_data").val();

		if (stocktake_data == '') {
			alert('請輸入產品貨號');
			return false;
		}

		var passed = 1;
		var operator = {$operator};
		var erp_order_id = {$order_id};
		// check stocktake sku 
		$.ajax({
		url: 'erp_warehousing_manage.php',
		type: 'post',
		cache: false,
		data: {
			'act': 'post_po_stock_in_import_data',
			'stocktake_data' : stocktake_data,
			'erp_order_id' : {$order_id}
		},
		dataType: 'json',
		success: function (result) {
			if (result['error'] == 0){
				var res_data = result.content;
				if (res_data.error != '') {
					$('#notice_message').show();
					$('#success_message').html('');
					$('#error_message').html('');

					if (res_data.error != '' && res_data.error != null) {
						passed = 0;
						$('#error_message').append(res_data.error + '<br>');
					}
				}

				var stocktake = res_data.stocktake;
				$('#error_message').append('<span style="color:green">匯入 [' + '{$order_sn}' + '] ' +  res_data.import_time +'</span> <br>');
				$.each(stocktake,function(key, goods){

					$('#span_received_qty_'+ goods.goods_id).html(goods.stock);
					$('#input_received_qty_'+ goods.goods_id).val(goods.stock);
					var expected_qty = $('#span_expected_qty_'+ goods.goods_id).html();
					if (expected_qty == goods.stock) {
						$("#tr_"+goods.goods_id).css('background-color','#00994c');
						$("#tr_"+goods.goods_id).css('color','Black');
						$("#tr_"+goods.goods_id+" a").css('color','Black');
						$('#error_message').append('<span style="color:green">產品數量正確[' + goods.goods_sn + '] 應收數量:'+ expected_qty +', 實收數量:'+ goods.stock +' </span><br>');
					} else {
						if (typeof expected_qty == 'undefined') {
							// not found in the goods list
							$('#error_message').append('<span style="color:red">在PO訂單找不到產品[' + goods.goods_sn + ']</span><br>');
							passed = 0;
						} else {
							$('#error_message').append('<span style="color:red">產品數量不正確[' + goods.goods_sn + '] 應收數量:'+ expected_qty +', 實收數量:'+ goods.stock +' </span><br>');
							passed = 0;
							$("#tr_"+goods.goods_id).css('background-color','#FF9999');
							$("#tr_"+goods.goods_id).css('color','Black');
							$("#tr_"+goods.goods_id+" a").css('color','Black');
						}
					}
				});
				
				var log = $('#error_message').html();

				// log record
				$.ajax({
					url: 'erp_warehousing_manage.php',
					type: 'post',
					cache: false,
					data: {
					'act': 'post_erp_order_cross_check_history',
					'erp_order_id' : erp_order_id,
					'passed' : passed,
					'operator' : operator,
					'log' : log,
				},
				dataType: 'json',
				success: function(result) {
					if (result.error == 0) {
					} else {
						alert(result.message);
					}
				},
				error: function(xhr) {
					alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
					console.log(xhr);
				}
				});

				

				$('#popup_import_data_modal').modal('toggle');
			}else{
				
			}
		},
		error: function (xhr) {
			alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
			console.log(xhr);
		}
		});
    });

	function set_goods_sn(sn)
	{
		$("#input_goods_sn").val(sn);
	}

	function hide_goods_sn_tips()
	{
		$("#goods_sn_tips").hide();	
	}

	function set_goods_name(name)
	{
		$("#input_goods_name").val(name);
	}

	function hide_goods_name_tips()
	{
		$("#goods_name_tips").hide();	
	}

	function post_warehousing(act_step)
	{
		function postWarehousingResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.document.location="erp_warehousing_manage.php?act=list";
			}
		}

		var warehousing_from = $("#input_warehousing_from").val();
		if(warehousing_from == ''){
			alert('請輸入交貨人');
			$("#input_warehousing_from").css("border-color","#ff2d2d");
			return false;
		}

		var select_warehousing_style = $("#select_warehousing_style").val();
		if (select_warehousing_style == 0) {
			alert('請選擇入貨類型');
			$("#select_warehousing_style").css("border-color","#ff2d2d");
			return false;
		}

		var confirm_wording = '';
		if (act_step == 'one_click_finish') {
			confirm_wording = '您確定要提交入貨單並直接完成審核？';
		}else{
			confirm_wording = '您確定要提交入貨單審核？';
		}

		if(confirm(confirm_wording))
		{
			// save
	        $.ajax({
	            url: 'erp_warehousing.php',
	            type: 'post',
	            cache: false,
	            data: {
	            'act': 'post_warehousing_create',
				'act_step': act_step,
				'order_id': {$order_id},
	            'select_warehouse': $("#select_warehouse").val(),
	            'operator': $("#operator").val(),
	            'select_warehousing_style': $("#select_warehousing_style").val(),
				'select_order': $("#select_order").val(),
				'input_warehousing_from': $("#input_warehousing_from").val(),
				'warehousing_date': $("#warehousing_date").val(),
				'input_received_qty' : $(".input_received_qty").serializeArray(),
	        },
	        dataType: 'json',
	        success: function(result) {
	            if (result.error == 0) {
					if (act_step == 'one_click_finish') {
						var warehousing_id = result.warehousing_id;
						var approve_remark = encodeURIComponent('一鍵審核');
						//console.log('warehousing_id',warehousing_id);
						function approveWarehousingResponse(res)
						{
							if (res.error != 0) {
								alert(res.message);
							} else {
								window.document.location = "erp_warehousing_manage.php?act=list";
							}
							approving = false;
						}

						Ajax.call('erp_warehousing.php?act=approve_pass', 'warehousing_id='+warehousing_id+'&approve_remark='+approve_remark, approveWarehousingResponse, 'POST', 'JSON');

						// update cross check log
						//order_id and warehousing_id
						$.ajax({
							url: 'erp_warehousing_manage.php',
							type: 'post',
							cache: false,
							data: {
							'act': 'post_update_erp_order_cross_check_history',
							'erp_order_id' : {$order_id},
							'warehousing_id' : warehousing_id,
						},
						dataType: 'json',
						success: function(result) {
							if (result.error == 0) {
							} else {
								alert(result.message);
							}
						},
						error: function(xhr) {
							alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
							console.log(xhr);
						}
						});

					}else{
						window.document.location = "erp_warehousing_manage.php?act=list";
					}
	            } else {
	                alert(result.message);
	            }
	        },
	        error: function(xhr) {
	            alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
	            console.log(xhr);
	        }
	        });
		}
	}

	function edit_warehousing_item(goods_id)
	{
		$("#span_received_qty_"+goods_id).hide();
		$("#input_received_qty_"+goods_id).show().focus();
	}
	
	function delete_warehousing_item(goods_id)
	{
		if(confirm('{$lang.erp_warehousing_sure_to_delete_warehousing_item}'))
		{	
			$('#tr_'+goods_id).remove();
		}		
	}	

	$(document).ready(function(){
		
		//edit_warehousing()

		//更改收货仓库
		$("#span_warehouse").css('cursor','pointer');
		$("#span_warehouse").mouseover(function(){
			$(this).css('color','red');
		});
		$("#span_warehouse").mouseout(function(){
			$(this).css('color','black');
		});	
		$("#span_warehouse").click(function(){
			$(this).hide();
			$("#select_warehouse").show().focus();
		});
		
		//更改入库类型
		$("#span_warehousing_style").css('cursor','pointer');
		$("#span_warehousing_style").mouseover(function(){
			$(this).css('color','red');
		});
		$("#span_warehousing_style").mouseout(function(){
			$(this).css('color','black');
		});	
		$("#span_warehousing_style").click(function(){
			$(this).hide();
			$("#select_warehousing_style").show().focus();
		});
		$("#select_warehousing_style").change(function(){
			var warehousing_style_id=$(this).val();
			var order_id = {$order_id};
			window.document.location="erp_warehousing_manage.php?act=create&warehousing_style_id="+warehousing_style_id+'&order_id='+order_id;
		});			
					
		//更改关联订单
		$("#span_order").css('cursor','pointer');
		$("#span_order").mouseover(function(){
			$(this).css('color','red');
		});
		$("#span_order").mouseout(function(){
			$(this).css('color','black');
		});	
		$("#span_order").click(function(){
			$(this).hide();
			$("#select_order").show().focus();
		});

		$("#select_order").change(function(){
			var order_id=$(this).val();
			var warehousing_style_id = $('#select_warehousing_style').val();

			if(order_id!='')
			{
				window.document.location="erp_warehousing_manage.php?act=create&order_id="+order_id + (warehousing_style_id != '' ? '&warehousing_style_id=' + warehousing_style_id : '');
			}
		});

		//更改交货人
		$("#span_warehousing_from").css('cursor','pointer');
		$("#span_warehousing_from").mouseover(function(){
			$(this).css('color','red');
		});
		$("#span_warehousing_from").mouseout(function(){
			$(this).css('color','black');
		});	
		$("#span_warehousing_from").click(function(){
			$(this).hide();
			$("#input_warehousing_from").show().focus();
		});

		$("#input_warehousing_from").blur(function(){
			if ($(this).val() != ''){
				$(this).css('border-color','#ccc');
			}
		});

		// Change operator
		$('#span_operator').mouseover(function() {
			$(this).css('color','red');
		}).mouseout(function() {
			$(this).css('color','black');
		}).css({
			'cursor': 'pointer'
		}).click(function() {
			$(this).hide();
			$('select[name="operator"]').show();
		});
		
		//更改实收数量
		$(document).on("mouseover","span[id^='span_received_qty_']",function() {
   			$(this).css('color','red');
		});

		$(document).on("mouseout","span[id^='span_received_qty_']",function() {
   			$(this).css('color','black');
		});

		$(document).on("click","span[id^='span_received_qty_']",function() {
			var warehousing_item_id=$(this).attr('id');
			warehousing_item_id=warehousing_item_id.substr('span_received_qty_'.length,warehousing_item_id.length-'span_received_qty_'.length);			

			$(this).hide();
			$("#input_received_qty_"+warehousing_item_id).show().focus();
		});

		$(document).on("change","input[id^='input_received_qty_']",function() {
			var goods_id=$(this).attr('id');
			goods_id=goods_id.substr('input_received_qty_'.length,goods_id.length-'input_received_qty_'.length);
			var received_qty=$(this).val();
			if(isNaN(received_qty))
			{
				alert('{$lang.erp_not_a_number}');
			}
			$("#span_received_qty_"+goods_id).text(received_qty);
			$("#input_received_qty_"+goods_id).hide();
			$("#span_received_qty_"+goods_id).show();
		});

		$(document).on("blur","input[id^='input_received_qty_']",function() {
			var goods_id=$(this).attr('id');
			goods_id=goods_id.substr('input_received_qty_'.length,goods_id.length-'input_received_qty_'.length);			
			$("#span_received_qty_"+goods_id).show();
			$(this).hide();
		});

		$("#input_goods_sn").focus();
		
		var current_goods_sn='';
		
		var current_goods_name='';	
		
		$("#input_goods_sn").blur(function(){
			var goods_sn=$(this).val();
	
			function checkGoodsSnResponse(res)
			{
				if(res.error!=0)
				{
					//alert(res.message);
					$("#input_goods_sn").focus();
					$("#input_goods_sn").val('');
				}
				else{
					$("#attr_box").html(res.attr_info);
					$("#input_qty").focus();
				}
			}			
			if(goods_sn!='')
			{
				$.ajax({
					url: 'erp_warehousing.php?act=check_goods_sn',
					type: 'post',
					cache: false,
					data: {
					'goods_sn': encodeURIComponent(goods_sn),
				},
				dataType: 'json',
				success: checkGoodsSnResponse,
				error: function(xhr) {
					alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
					console.log(xhr);
				}
				});	

			}
		});

		$("#input_goods_name").blur(function(){
			
			var goods_name=$(this).val();
	
			function checkGoodsNameResponse(res)
			{
				if(res.error!=0)
				{
					//alert(res.message);
					$("#input_goods_name").focus();
					$("#input_goods_name").val('');
				}
				else{
					$("#attr_box").html(res.attr_info);
					$("#input_qty").focus();
				}
			}			
			if(goods_name!='')
			{
				
				Ajax.call('erp_warehousing.php?act=check_goods_name',
					'goods_name=' + encodeURIComponent(goods_name),
					checkGoodsNameResponse, 'POST', 'JSON');

				// $.ajax({
				// 	url: 'erp_warehousing.php?act=check_goods_name',
				// 	type: 'post',
				// 	cache: false,
				// 	data: {
				// 	'goods_name': encodeURIComponent(goods_name),
				// },
				// dataType: 'json',
				// success: checkGoodsNameResponse,
				// error: function(xhr) {
				// 	alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
				// 	console.log(xhr);
				// }
				// });
			}
		});
		
		$("#input_goods_sn").keyup(function(){
			var goods_sn=$(this).val();

			function goodsSNTipsResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);	
				}
				else{	
					//显示货号提示
					if(res.num>0)
					{
						$("#goods_sn_tips").empty().append(res.content);
							
						var offset=$("#input_goods_sn").position();
						var offset_top=offset.top;
						var offset_left=offset.left;
	
						var ua = navigator.userAgent.toLowerCase();
							
						if(ua.match(/firefox/))
						{
							offset_top=offset_top+9;
							//offset_left=offset_left;							
						}
						else{
							offset_top=offset_top+10;
							offset_left=offset_left;							
						}
							
						$("#goods_sn_tips").css('left',offset_left);
						//$("#goods_sn_tips").css('top',offset_top);
						$("#goods_sn_tips").show();	
					}
					else{
						$("#goods_sn_tips").hide();	
					}					
				}
			}

			if(goods_sn!=current_goods_sn)
			{
				current_goods_sn=goods_sn;
				if(goods_sn!='')
				{
					$.ajax({
						url: 'erp_warehousing.php?act=goods_sn_tips',
						type: 'post',
						cache: false,
						data: {
						'goods_sn': encodeURIComponent(goods_sn),
					},
					dataType: 'json',
					success: goodsSNTipsResponse,
					error: function(xhr) {
						alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
						console.log(xhr);
					}
					});

					// Ajax.call('erp_warehousing.php?act=goods_sn_tips',
					// 	'goods_sn=' + encodeURIComponent(goods_sn),
					// 	goodsSNTipsResponse, 'POST', 'JSON');
				}
			}				
		});

		$("#input_goods_name").keyup(function(){
			
			var goods_name=$(this).val();

			function goodsNameTipsResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);	
				}
				else{	
					//显示货号提示
					if(res.num>0)
					{
						$("#goods_name_tips").empty().append(res.content);
							
						var offset=$("#input_goods_name").position();
						var offset_top=offset.top;
						var offset_left=offset.left;
	
						var ua = navigator.userAgent.toLowerCase();
							
						if(ua.match(/firefox/))
						{
							offset_top=offset_top+9;
							offset_left=offset_left;							
						}
						else{
							offset_top=offset_top+10;
							offset_left=offset_left;							
						}
							
						$("#goods_name_tips").css('left',offset_left);
						//$("#goods_name_tips").css('top',offset_top);
						$("#goods_name_tips").show();	
					}
					else{
						$("#goods_name_tips").hide();	
					}					
				}
			}

			if(goods_name!=current_goods_name)
			{
				current_goods_name=goods_name;
				if(goods_name!='')
				{
					$.ajax({
						url: 'erp_warehousing.php?act=goods_name_tips',
						type: 'post',
						cache: false,
						data: {
						'goods_name': encodeURIComponent(goods_name),
					},
					dataType: 'json',
					success: goodsNameTipsResponse,
					error: function(xhr) {
						alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
						console.log(xhr);
					}
					});
				}	
			}				
		});

		$("#input_qty").keyup(function(){
			var input_qty=$(this).val();
			var last_char=input_qty.substr(input_qty.length-1,1);
			if(isNaN(last_char))
			{
				$(this).val(input_qty.substr(0,input_qty.length-1));
			}
		});	
			
		var current_table_row_id = 0;

		$("#update_warehousing").click(function(){
			
			var goods_sn=$("#input_goods_sn").val();
			
			var goods_name=$("#input_goods_name").val();
			
			var goods_qty=$("#input_qty").val();
			
			//var warehousing_id='{$warehousing_info.warehousing_id}';
			
			var ids='';
			
			$("select[id^='select_attr_']").each(function(index){
				var value=$($("select[id^='select_attr_']")[index]).val();
				
				ids=ids+value+',';
			});
							
			var dynamic_attrs='';
			
			$("input[id^='dynamic_attr_']").each(function(index){
				
				var attr_id=$($("input[id^='dynamic_attr_']")[index]).attr('id');
				
				attr_id=attr_id.substr('dynamic_attr_'.length,attr_id.length-'dynamic_attr_'.length);
				
				var value=$($("input[id^='dynamic_attr_']")[index]).val();
				
				dynamic_attrs=dynamic_attrs+attr_id+'|'+value+',';
			});	
			
			function updateWarehousingResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
					$("#input_goods_sn").val('').focus();
					$("#attr_box").html('');
				}
				else
				{
					if ($("#input_received_qty_"+res.item.goods_id).length == 0) {
						var goods_html = '<tr id="tr_'+ res.item.goods_details.goods_id+'">';
						goods_html += '<td >'+ current_table_row_id +'</td>';
						goods_html += '<td ><img '+ (res.item.goods_details.goods_thumb != ''? 'id="goods_img_'+ res.item.goods_details.goods_id : '') + '" width="100" height="100" src="' + (res.item.goods_details.goods_thumb != ''? res.item.goods_details.goods_thumb : './images/no_img.gif')+'"></td>';
						goods_html += '<td >' + res.item.goods_details.goods_name + '</td>';
						goods_html += '<td >' + res.item.goods_details.goods_sn + '</td>';
						goods_html += '<td >$$</td>';
						goods_html += '<td >0</td>';
						goods_html += '<td >';
						goods_html += '<span style="cursor:pointer" id="span_received_qty_'+ res.item.goods_details.goods_id +'">'+ res.item.goods_details.goods_qty +'</span>';
						goods_html += '<input size=5 maxlength="5" style="display:none;" class="input_received_qty" name="input_received_qty_' + res.item.goods_details.goods_id + '" id="input_received_qty_'+ res.item.goods_details.goods_id + '" value="'+ res.item.goods_details.goods_qty +'" />';
						goods_html += '</td>';
						{if $price_visible eq 'true'}
							goods_html += '<td >';
							goods_html += '<span id="span_warehousing_price_' +  res.item.goods_details.goods_id + '">0.00</span>';
							goods_html += '<input size="8" maxlength="8" style="display:none;" id="input_warehousing_price_'+ res.item.goods_details.goods_id +'" value="0.00" />';
							goods_html += '</td>';
						{/if}
						goods_html += '<td >';
						goods_html += '<a href="javascript: edit_warehousing_item(' + res.item.goods_details.goods_id  + ')">{$lang.erp_operation_edit}</a>';	
						goods_html += '<a href="javascript: delete_warehousing_item(' + res.item.goods_details.goods_id  + ')">{$lang.erp_operation_delete}</a>';	
						goods_html += '</td>';	
						goods_html += '</tr>';	
						
						$(".warehouse_goods_table").append(goods_html);
						current_table_row_id++;
					} else {
						var total_goods_qty = parseInt($("#input_received_qty_"+res.item.goods_id).val()) + parseInt(res.item.goods_details.goods_qty);
						$("#input_received_qty_"+res.item.goods_id).val(total_goods_qty);
						$("#span_received_qty_"+res.item.goods_id).html(total_goods_qty);
					}
				}
			}
			
			if(goods_sn=='' && goods_name=='')
			{
				alert('{$lang.erp_warehousing_goods_sn_or_goods_name_or_goods_barcode_required}');	
				$("#input_goods_sn").focus();
			}
			else{
					$.ajax({
						url: 'erp_warehousing.php?act=search_goods_warehousing',
						type: 'post',
						cache: false,
						data: {
						'goods_sn': encodeURIComponent(goods_sn),
						'goods_name': encodeURIComponent(goods_name),
						'goods_qty': encodeURIComponent(goods_qty)
					},
					dataType: 'json',
					success: updateWarehousingResponse,
					error: function(xhr) {
						alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
						console.log(xhr);
					}
					});
			}
		});
		
		$("span[id^='span_attr_']").css('cursor','pointer');
		$("span[id^='span_attr_']").mouseover(function(){
			$(this).css('color','red');
		});
		$("span[id^='span_attr_']").mouseout(function(){
			$(this).css('color','black');
		});	
		$("span[id^='span_attr_']").click(function(){
			var warehousing_item_id=$(this).attr('id');
			warehousing_item_id=warehousing_item_id.substr('span_attr_'.length,warehousing_item_id.length-'span_attr_'.length);			

			$(this).hide();
			$("#set_attr_"+warehousing_item_id).show();
		});
	});
</script>
{/if}


{include file="pagefooter.htm"}

