{include file="pageheader.htm"}

<link href="styles/erp_order.css" rel="stylesheet" type="text/css" />


{insert_scripts files="../js/jquery.blockUI.2.23.js"}

{include file="erp_receivable_search.htm"}

<style type="text/css">
	.current_page_style
	{
		color:red;
		font-weight:bold;
	}
	
</style>

<script language="JavaScript">
	$(document).ready(function(){
		$("span[id^='order_sn_']").css('cursor','pointer');
		$("span[id^='order_sn_']").mouseover(function(){
			$(this).css('color','red');
		});
		$("span[id^='order_sn_']").mouseout(function(){
			$(this).css('color','black');
		});	
		$("span[id^='order_sn_']").click(function(){
			var this_id=$(this).attr('id');
			var order_id=this_id.substr('order_sn_'.length,this_id.length-'order_sn_'.length);
			var open_url='order.php?act=info&order_id='+order_id;
			window.open(open_url,'_blank');	
		});	
		
				
	});
	
</script>

 <!-- start receivable list -->
 <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action">
  <tr>
    <th width="5%">{$lang.erp_receivable_order_id}</th>
    <th width="15%">{$lang.erp_receivable_order_sn}</th>
	<th width="10%">{$lang.erp_receivable_agency}</th>
	<th>{$lang.erp_receivable_order_username}</th>
	<th width="15%">{$lang.erp_receivable_order_shipping_date}</th>
	<th width="10%">{$lang.erp_receivable_order_amount}</th>
	<th width="10%">{$lang.erp_receivable_total_receivable_amount}</th>
	<th width="10%">{$lang.erp_receivable_total_gathered_amount}</th>
	<th width="10%">{$lang.erp_receivable_receivable}</th>
	<th width="10%">{$lang.erp_operation}</th>
  </tr>
  {foreach from=$receivable_list item=receivable}
  <tr>
    <td align="center">{$receivable.order_id}</td>
	<td align="center"><span id="order_sn_{$receivable.order_id}">{$receivable.order_sn}</span></td>
	<td align="center">{$receivable.agency_name}</td>
	<td align="center">{$receivable.username}</td>
	<td align="center">{$receivable.shipping_date}</td>
	<td align="center">{$receivable.total_amount}</td>
	<td align="center">{$receivable.receivable_amount}</td>
	<td align="center">{$receivable.gathered_amount}</td>
	<td align="center"><span style="{if $receivable.receivable gt 0}color:red;font-weight:bold;{else}color:blue;font-weight:bold;{/if}">{$receivable.receivable}</span></td>
	<td align="center">
		<a href="erp_finance_manage.php?act=view_receivable&order_id={$receivable.order_id}">{$lang.erp_operation_view}</a>
		<!--{if $act eq 'edit' and $receivable.receivable gt 0}<a href="erp_finance_manage.php?act=pay&order_id={$receivable.order_info.order_id}">{$lang.erp_receivable_operation_pay}</a>{/if}-->
	</td>
  </tr> 
  {foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
   <tr><td colspan="10" align="right">{$pager}</td></tr> 
</table>
</div>
<!-- end receivable list -->


{include file="pagefooter.htm"}

