{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style type="text/css">

.editable_text {
   text-decoration-line: underline;
   text-decoration-style: solid; 
    cursor: pointer;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #828181;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}

#error_message {
    color:red;
}

</style>

<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{include file="erp_warehouse_transfer_progress_bar.htm"}
{include file="erp_warehouse_transfer_info.htm"}



<div class="x_panel">
<div class="x_title">
    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
        <div class="form-group" style="display:none">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">運輸成本 : <span class="required"></span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="form-control" name="transport_cost" type="text" id="transport_cost" size="15" value="{$transfer_info.transport_cost}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">備註 : <span class="required"></span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea class="form-control col-md-7 col-xs-12" id="sender_remark" rows="2" cols="54" placeholder="填寫備註">{$transfer_info.sender_remark}</textarea>
                <input class="form-control  btn btn-success transport_info_update" style="width: auto;" type="button" id="transport_info_update" value="儲存">
            </div>
        </div>
    </form>
<div class="clearfix"></div>
</div>
<div class="form-div" style="height:50px;">
<div style="float:left;">
  <form class="form-inline" method="post"  action="erp_warehouse_transfer_create.php" name="searchForm">
    <div>
     <div id="notice_message" class="form-div" style="display:none;padding: 10px 0px;">
         <div id="success_message"></div>
         <div id="error_message"></div>
    </div>
    </div>
    <div id="notice_message" class="form-div" >
        <div id="success_message"></div>
        <div id="error_message"></div>
    </div>
  </form>
</div>
</div>

<!-- start stock check list -->

<div class="list-div" id="listDiv">
{/if}
<table id="stocktake" class="table table-striped table-bordered">
  <thead>
    <th data-id="item_id">序號</th>
    <th data-id="warehouse_from_name">貨倉</th>
    <th data-id="image">圖片</th>
    <th data-id="goods_sn">{$lang.erp_stock_check_goods_sn}</th>
    <th data-id="goods_name">{$lang.erp_stock_check_goods_name}</th>
    <th width="120px" data-id="requested_qty">要求調貨數量</th>
    <th width="120px" data-id="transfer_qty">出貨數量</th>
  </thead>
</table>

{if $full_page}

</div>


</div>

<style>



</style>

<div id="step_action_bottom" >
{if $transfer_info.auto_created == 0}
<input style="margin-top: 19px;" class="btn btn-danger form-btn next_step" type="button" id="transfer_cancel" name="transfer_cancel" value="取消調貨" />
{/if}
 <input style="    margin-top: 19px;" class="btn btn-success form-btn next_step" type="button" id="next_step" name="next_step" value="運輸已收件" />
</div>

{include file="pagefooter.htm"}


<!-- end stock check list -->
<script language="javascript">	

var $table = yoho_dataTable();
transfer_id = {$transfer_id};

function transport_info_update(){
    $.ajax({
        url: 'erp_warehouse_transfer_transport.php',
        type: 'post',
        cache: false,
        data: {
            'act': 'post_transport_info_update',
            'transfer_id' : transfer_id,
            'transport_cost' : $("#transport_cost").val(),
            'sender_remark' : $("#sender_remark").val()
        },
        dataType: 'json',
        success: function (result) {
         $('#notice_message').show();
         $('#success_message').html('');
         $('#error_message').html('');

         if (result['error'] == 0){
            // redirect
            // var url="erp_warehouse_transfer_packing.php?act=list&transfer_id=" + transfer_id;
            // window.location=url;
         }else{
            if (result.message != '') {
                $('#error_message').html(result.message);
            }
         }
        },
        error: function (xhr) {
         alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
         console.log(xhr);
        }
    });
}

$("#transport_info_update").click(function(){
    transport_info_update();
});

$('#transfer_cancel').click(function(){
    if (confirm("確定取消調倉?")) {
        $.ajax({
            url: 'erp_warehouse_transfer_transport.php',
            type: 'post',
            cache: false,
            data: {
                'act': 'post_transfer_cancel',
                'transfer_id' : transfer_id,
            },
            dataType: 'json',
            success: function (result) {
             $('#notice_message').show();
             $('#success_message').html('');
             $('#error_message').html('');
             if (result['error'] == 0 || force_submit == 1){
                var url="erp_warehouse_transfer_cancelled.php?act=list&transfer_id=" + transfer_id;
                window.location=url;
             }else{
                if (result.message != '') {
                    $('#error_message').html(result.message);
                }
             }
            },
            error: function (xhr) {
             alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
             console.log(xhr);
            }
        });
    }

});


$('#next_step').click(function(){
    console.log('next step');

    // check
    if (confirm("確定運輸已收件?")) {


        transport_info_update();

        $.ajax({
            url: 'erp_warehouse_transfer_transport.php',
            type: 'post',
            cache: false,
            data: {
                'act': 'post_transport_accepted',
                'transfer_id' : transfer_id,
            },
            dataType: 'json',
            success: function (result) {
             $('#notice_message').show();
             $('#success_message').html('');
             $('#error_message').html('');
             if (result['error'] == 0 || force_submit == 1){
                // redirect
                var url="erp_warehouse_transfer_transferring.php?act=list&transfer_id=" + transfer_id;
                window.location=url;
             }else{
                if (result.message != '') {
                    $('#error_message').html(result.message);
                }
             }
            },
            error: function (xhr) {
             alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
             console.log(xhr);
            }
        });

    }

    // if (confirm("確定出貨?")) {
    //     // check stock if it is enough
    //     $.ajax({
    //         url: 'erp_warehouse_transfer_packing.php',
    //         type: 'post',
    //         cache: false,
    //         data: {
    //             'act': 'post_transfer_qty_check',
    //             'transfer_id' : transfer_id,
    //         },
    //         dataType: 'json',
    //         success: function (result) {
    //          $('#notice_message').show();
    //          $('#success_message').html('');
    //          $('#error_message').html('');
    // 
    //          if (result['error'] == 0){
    //             // redirect
    //             var url="erp_warehouse_transfer_packing.php?act=list&transfer_id=" + transfer_id;
    //             window.location=url;
    //          }else{
    //             if (result.message != '') {
    //                 $('#error_message').html(result.message);
    //             }
    // 
    //             var $filter = {};
    //             $filter.transfer_id = transfer_id;
    //             $filter.page = 1;
    //             $table.search($filter);
    //          }
    //         },
    //         error: function (xhr) {
    //          alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
    //          console.log(xhr);
    //         }
    //     });
    // }
});

(function($){
 $.fn.focusTextToEnd = function(){
        this.focus();
        var $thisVal = this.val();
        this.val('').val($thisVal);
        return this;
    }
})(jQuery);

$(document).on("click",".transfer_qty_text",function(){
    var item_id = $(this).data('item-id');
    var $transfer_qty_text = $(this);
    var $transfer_qty_input = $(this).next(".transfer_qty_input");

    function transfer_qty_update()
    {
        // check qty is number
        if (!$.isNumeric($transfer_qty_input.val())) {
            console.log('請輸入數字');
            return false;
        }else{
            var temp_qty = Math.round($transfer_qty_input.val());
            $transfer_qty_input.val(temp_qty);
        }

        $.ajax({
            url: 'erp_warehouse_transfer_create.php',
            type: 'post',
            cache: false,
            data: {
                'act': 'post_transfer_qty_update',
                'transfer_id' : transfer_id,
                'item_id' : item_id,
                'transfer_qty' : $transfer_qty_input.val(),
            },
            dataType: 'json',
            success: function (result) {
                $('#notice_message').show();
                $('#success_message').html('');
                $('#error_message').html('');
                if (result['error'] == 0){
                    if ($transfer_qty_input.val() != $transfer_qty_text.data('requested-qty')) {
                        $transfer_qty_text.addClass('red');
                    }else{
                        $transfer_qty_text.removeClass('red');
                    }

                    $transfer_qty_text.show();
                    $transfer_qty_text.html($transfer_qty_input.val());
                    $transfer_qty_input.hide();
                }else{
                    if (result.message != '') {
                        $('#error_message').html(result.message);
                    }
                }
            },
            error: function (xhr) {
             alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
             console.log(xhr);
            }
        });
    }

    // change qty edit mode
    $(this).hide();
    $transfer_qty_input.show()
    $transfer_qty_input.focusTextToEnd();
    $transfer_qty_input.blur(function(){
        transfer_qty_update();
    }).keyup(function(event) {
        if (event.keyCode === 13) {
            transfer_qty_update();
        }
    });
});

$(document).on("click",".delete-transfer-item",function() {
    if (confirm("確定删除")) {
        var item_id = $(this).data('item-id');
        $.ajax({
            url: 'erp_warehouse_transfer_create.php',
            type: 'post',
            cache: false,
            data: {
             'act': 'post_transfer_item_delete',
             'item_id' : item_id,
             'transfer_id' : transfer_id,
            },
            dataType: 'json',
            success: function (result) {
             $('#notice_message').show();
             $('#success_message').html('');
             $('#error_message').html('');

             if (result['error'] == 0){
                 var $filter = {};
                 $filter.transfer_id = transfer_id;
                 //	listTable.filter.act = 'query_goods';
                 $filter.page = 1;
                 $table.search($filter);
             }else{
                 console.log('result',result);
                 if (result.message != '') {
                     $('#error_message').html(result.message);
                 }
             }
            },
            error: function (xhr) {
             alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
             console.log(xhr);
            }
        });
    }
});


$("#search_goods").click(function(){
    //console.log($('#b_id').val());
    var warehouse_from = $('#warehouse_from').val();
    var goods_sn = $('#goods_sn').val();
    var goods_qty = $('#goods_qty').val();

    if (warehouse_from <= 0) {
        alert('請選擇貨倉');
        return false;
    }

    if (goods_sn == 0) {
        alert('請選擇產品');
        return false;
    }
   
    // check stocktake sku 
    $.ajax({
      url: 'erp_warehouse_transfer_create.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_search_product_by_sku',
        'warehouse_id' : warehouse_from,
        'goods_sn' : goods_sn,
        'goods_qty' : goods_qty,
        'transfer_id' : transfer_id,
      },
      dataType: 'json',
      success: function (result) {
        $('#notice_message').show();
        $('#success_message').html('');
        $('#error_message').html('');

        if (result['error'] == 0){
            var $filter = {};
            $filter.transfer_id = transfer_id;
            //	listTable.filter.act = 'query_goods';
            $filter.page = 1;
            $table.search($filter);
        }else{
            console.log('result',result);
            if (result.message != '') {
                $('#error_message').html(result.message);
            }
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
 });

</script>
{/if}
