{include file="pageheader.htm"}
<link href="styles/erp_order.css" rel="stylesheet" type="text/css" />
<style>
{if $act eq 'add' || $act eq 'edit'}
span[id^=input_] {
    cursor: pointer;
}
{/if}
</style>

<div class="x_panel">
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
        <table class="table jambo_table table-striped">
            <thead>
                <tr>
                    <th>{$lang.erp_order_sn}</th>
                    <th>操作員</th>
                    <th>收貨貨倉</th>
                    <th>{$lang.erp_order_description}</th>
                    <th>{$lang.erp_order_type}</th>
                    <th>{$lang.erp_order_supplier}</th>
                    <th>{$lang.erp_order_date}</th>
                    <th>預計送貨日期</th>
                    <th>貨幣</th>
                    <th>修訂狀態</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{$order_info.order_sn}</td>
                    <td>
                        <span id="span_operator">{if $order_info.operator}{$order_info.operator}{else}{$lang.erp_NULL}{/if}</span>
                    </td>
                    <td id="order_warehouse">
                        <span id="span_warehouse_name">{if $order_info.warehouse_name}{$order_info.warehouse_name}{else}{$lang.erp_NULL}{/if}</span>
                    </td>
        
                    <td>
                        <span id="span_order_description">{if $order_info.description}{$order_info.description}{else}{$lang.erp_NULL}{/if}</span>
                    </td>
                    <td id="order_type">
                        <span id="span_type_name">{if $order_info.type_name}{$order_info.type_name}{else}{$lang.erp_NULL}{/if}</span>
                    </td>
                    <td id="order_supplier">
                        <span {if $supplier_info} id="span_supplier_name"{/if}>{if $order_info.supplier_name}{$order_info.supplier_name}{else}{$lang.erp_NULL}{/if}</span>
                    </td>
                    <td>{$order_info.create_date}</td>
                    <td>
                        <span id="edit_expected_date" data-id="{$order_info.order_id}">{$order_info.expected_delivery_date|default:N/A}</span>
                    </td>
                    <td>
                        <span id="span_currency_code" class="red">{if $order_info.currency_code}{$order_info.currency_code}{else}HKD{/if}</span>
                    </td>
                    <td>
                        {if $revise_status eq 0}建立修訂中{/if}
                        {if $revise_status eq 1}已提交修訂{/if}
                        {if $revise_status eq 2}已完成修訂{/if}
                        {if $revise_status eq 3}已拒絕修訂{/if}
                    </td>
                    <td>
                        {if $act eq 'approve'}
                        <a href="javascript:change_status({$order_info.revise_id}, 0)">退回</a>
                        <a href="javascript:change_status({$order_info.revise_id}, 2)">審核</a>
                        <a href="javascript:change_status({$order_info.revise_id}, 3)">拒絕審核</a>
                        {elseif $act eq 'add' || $act eq 'edit'}
                        <a href="javascript:revise_order(0)">儲存修訂</a>
                        <a href="javascript:revise_order(1)">提交審核</a>
                        {/if}
                    </td>
                </tr>
            </tbody>
        </table>
        {if $act eq 'approve' || $act eq 'view' || $act eq 'history'}
        <div class="x_panel">
        {foreach from=$order_item_info key=key item=order_item}
            {if $order_item.revise.order_qty neq $order_item.order_qty || $order_item.revise.price neq $order_item.original_price || $order_item.revise.shipping_price neq $order_item.original_shipping_price}
            <div class="row">
                <div class="col-md-4">
                    <b>{$order_item.goods_details.goods_name}</b>
                </div>
                {if $order_item.revise.order_qty eq 0}
                <div class="col-md-8 red"><b>刪除產品</b></div>
                {else}
                {if $order_item.revise.order_qty neq $order_item.order_qty}
                <div class="col-md-2">
                    數量 <b>{$order_item.order_qty}</b> -> <b class="red">{$order_item.revise.order_qty}</b><br>
                </div>
                {/if}
                {if $order_item.revise.price neq $order_item.original_price}
                <div class="col-md-3">
                    單價 <b>{$order_item.original_price}</b> -> <b class="red">{$order_item.revise.price}</b><br>
                </div>
                {/if}
                {if $order_item.revise.shipping_price neq $order_item.original_shipping_price}
                <div class="col-md-3">
                    運費 <b>{$order_item.original_shipping_price}</b> -> <b class="red">{$order_item.revise.shipping_price}</b><br>
                </div>
                {/if}
                {/if}
            </div>
            {/if}
        {/foreach}
        </div>
        {/if}
        <table class="table jambo_table table-striped">
            <thead>
                <tr>
                    <th>{$lang.erp_order_item_id}</th>
                    <th>{$lang.erp_order_item_goods_img}</th>
                    <th>{$lang.erp_order_item_goods_sn}</th>
                    <th>{$lang.erp_order_item_goods_name}</th>
                    {if $manage_cost or $is_self_po}
                    <th>售價</th>
                    <th>成本價</th>
                    {/if}
                    <th>已入貨數量</th>
                    <th>{$lang.erp_order_item_order_qty}</th>
                    <th>{$lang.erp_order_item_order_price}</th>
                    <th>{$lang.erp_order_item_order_amount}</th>
                    <th>運費</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$order_item_info key=key item=order_item}	
                <tr id="tr_order_item_{$order_item.order_item_id}">
                    <td>{$order_item.order_item_id}</td>
                    <td>
                        <img  {if $order_item.goods_details.goods_thumb}id="goods_img_{$order_item.order_item_id}"{/if} width="70" height="70" src="{if $order_item.goods_details.goods_thumb}{$order_item.goods_details.goods_thumb}{else}./images/no_img.gif{/if}">
                    </td>
                    <td>
                        <span id="span_goods_sn_{$order_item.order_item_id}">
                            {if $order_item.goods_details}
                                <a href="goods.php?act=list&amp;keyword={$order_item.goods_details.goods_sn}">{$order_item.goods_details.goods_sn}</a>
                            {else}	
                                {$lang.erp_order_input_goods_sn}
                            {/if}	
                        </span>
                    </td>
                    <td>
                        <span id="span_goods_name_{$order_item.order_item_id}">{$order_item.goods_details.goods_name}</span>
                    </td>
                    {if $manage_cost or $is_self_po}
                    <td>
                        <span>{$order_item.goods_details.shop_price}</span>
                    </td>
                    <td>
                        <span>{$order_item.goods_details.cost}</span>
                    </td>
                    {/if}
                    <td>
                        <span>{$order_item.warehousing_qty}</span>
                        <input type="hidden" name="input_warehousing_qty_{$order_item.order_item_id}" value="{$order_item.warehousing_qty}">
                    </td>
                    <td>
                        <span id="input_order_qty_{$order_item.order_item_id}"{if $order_item.revise}{if $order_item.revise.order_qty neq $order_item.order_qty} class="red"{/if}>{$order_item.revise.order_qty}{else}>{$order_item.order_qty}{/if}</span>
                        <input type="hidden" name="input_order_qty_{$order_item.order_item_id}_old" value="{$order_item.order_qty}">
                        <input style="display: none" class="form-control" type="number" name="input_order_qty_{$order_item.order_item_id}_new" value="{if $order_item.revise}{$order_item.revise.order_qty}{else}{$order_item.order_qty}{/if}" min="0" step="1">		
                    </td>
                    <td>
                        <span id="input_price_{$order_item.order_item_id}"{if $order_item.revise}{if $order_item.revise.price neq $order_item.original_price} class="red"{/if}>{$order_item.revise.price}{else}>{$order_item.original_price}{/if}</span>
                        <input type="hidden" name="input_price_{$order_item.order_item_id}_old" value="{$order_item.original_price}">
                        <input style="display: none" class="form-control" type="number" name="input_price_{$order_item.order_item_id}_new" value="{if $order_item.revise}{$order_item.revise.price}{else}{$order_item.original_price}{/if}" min="0" step="0.01">
                    </td>
                    <td>
                        <span id="amount_{$order_item.order_item_id}">{$order_item.original_amount}</span>
                    </td>
                    <td>
                        <span id="input_shipping_{$order_item.order_item_id}"{if $order_item.revise}{if $order_item.revise.shipping_price neq $order_item.original_shipping_price} class="red"{/if}>{$order_item.revise.shipping_price}{else}>{$order_item.original_shipping_price}{/if}</span>
                        <input type="hidden" name="input_shipping_{$order_item.order_item_id}_old" value="{$order_item.original_shipping_price}">
                        <input style="display: none" class="form-control" type="number" name="input_shipping_{$order_item.order_item_id}_new" value="{if $order_item.revise}{$order_item.revise.shipping_price}{else}{$order_item.original_shipping_price}{/if}" min="0" step="0.01">
                    </td>
                </tr>
                {foreachelse}
                <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
                {/foreach}
            </tbody>
        </table>
        <div class="col-md-12">
            <div class=" pull-right">
                {$lang.erp_order_sum_total}
                <span id="span_total_order_qty">{if $order_info.order_qty}{$order_info.order_qty}{else}0{/if}</span>
                {$lang.erp_order_qty_unit}，
                <span class="red">{if $order_info.currency_code}{$order_info.currency_code}{else}HKD{/if}</span>
                <span id="span_total_order_amount">{if $manage_cost or $is_self_po}{$order_info.original_order_amount}{else}0{/if}</span>
                {$lang.erp_order_amount_unit}
            </div>
        </div>
    </div>
</div>

<script>
    calculate_info(1);
    function change_status(revise_id, status) {
        $.ajax({
            url: 'erp_order_revise.php',
            dataType: 'json',
            data: {
                act: 'change_status',
                revise_id: revise_id,
                status: status,
            },
            success: function (res) {
                if (res.error == '1') {
                    alert(res.message)
                } else {
                    alert(res.content);
                    location.reload();
                }
            }
        })
    }
    function calculate_info(init) {
        var error = false;
        $.each($('span[id^=input_]'), function (i, elem) {
            var id = $(elem).attr('id');
            var val = $('input[name=' + id + '_new]').val();
            if (parseFloat(val) < 0) {
                alert('數值不能少於0');
                error = true;
                return false;
            }
            if (parseFloat(val) != parseFloat($('input[name=' + id + '_old]').val())) {
                if (id.indexOf('order_qty') !== -1 && parseInt(val) < parseInt($('input[name=' + id.replace('order_qty', 'warehousing_qty') + ']').val()) && init != 1) {
                    if (!confirm('是否確認新的定購數量少於已入貨數量?')) {
                        error = true;
                        return false;
                    }
                }
                if (id.indexOf('order_qty') == -1) {
                    val = parseFloat(val).toFixed(2);
                    $('input[name=' + id + '_new]').val(val);
                }
                $(elem).addClass('red');
                $(elem).text($('input[name=' + id + '_old]').val() + " -> " + val);
            } else {
                $(elem).removeClass('red');
                $(elem).text($('input[name=' + id + '_old]').val());
            }
            $(elem).show();
        })
        if (!error) {
            var info = get_all_info();
            for (var item_id in info.amount) {
                $("span#amount_" + item_id).text(info.amount[item_id])
            }
            $("#span_total_order_qty").text(info.qty)
            $("#span_total_order_amount").text(info.total)
            $('input[name^=input_]').hide();
        }
    }
    function revise_order(submit) {
        var info = get_all_info();
        if (info.change) {
            var data = {
                act: 'update',
                submit: submit,
                items: info.item,
                order_id: {$order_info.order_id},
                {if $order_info.revise_id && $order_info.revise_id neq -1}revise_id: {$order_info.revise_id},{/if}
            }

            if (confirm('是否提交修訂')) {
                $.ajax({
                    url: 'erp_order_revise.php',
                    dataType: 'json',
                    data: data,
                    success: function (res) {
                        if (res.error == '1') {
                            alert(res.message)
                        } else {
                            alert(res.content);
                            location.href = 'erp_order_manage.php?act=order_list';
                        }
                    }
                })
            }
        } else {
            alert('未有作出修訂')
        }
    }
    function get_all_info() {
        var info = {
            item: {},
            amount: {},
        };
        var total = 0;
        var total_qty = 0;
        var any_change = false;
        $.each($('span[id^=amount_]'), function (i, elem) {
            var id = $(elem).attr('id');
            var item_id = id.split('_')[1];
            var old_price = parseFloat($('input[name=' + id.replace('amount_', 'input_price_') + '_old]').val());
            var old_ship = parseFloat($('input[name=' + id.replace('amount_', 'input_shipping_') + '_old]').val());
            var old_qty = parseInt($('input[name=' + id.replace('amount_', 'input_order_qty_') + '_old]').val());
            var price = parseFloat($('input[name=' + id.replace('amount_', 'input_price_') + '_new]').val());
            var ship = parseFloat($('input[name=' + id.replace('amount_', 'input_shipping_') + '_new]').val());
            var qty = parseInt($('input[name=' + id.replace('amount_', 'input_order_qty_') + '_new]').val());
            var change = false;
            
            if (old_price != price || old_ship != ship || old_qty != qty) {
                change = true;
            }
            any_change |= change;
            if (qty >= 0) {
                info.item[item_id] = {
                    price: price,
                    ship: ship,
                    qty: qty,
                    change: change ? 1 : 0,
                }
                info.amount[item_id] = price * qty;
                total += price * qty + ship;
                total_qty += qty;
            }
        })
        info.total = total;
        info.qty = total_qty;
        info.change = any_change ? 1 : 0;
        return info;
    }
    {if $act eq 'add' || $act eq 'edit'}
    $(document).on('click', 'span[id^=input_]', function (e) {
        var id = $(e.target).attr('id');
        $(e.target).hide();
        $('input[name=' + id + '_new]').show().focus();
    })
    {/if}
    $(document).on('blur', 'input[name^=input_]', function (e) {
        calculate_info()
    })
</script>
{include file="pagefooter.htm"}