{if $full_page}
{include file="pageheader.htm"}
{/if}
{insert_scripts files="../js/utils.js,listtable.js"}

<style>
.goods_no {
	font-weight: bold;
	text-decoration: underline;
}
.goods_no a {
	color: #2755ff !important;
	cursor: pointer;
}
</style>

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
	<table class="table table-striped table-bordered bulk_action">
		<tr>
			<th width="5%">
				<a href="javascript:listTable.sort('sa_id'); ">{$lang.erp_sales_agent_id}</a>{$sort_sa_id}
			</th>
			<th>
				<a href="javascript:listTable.sort('name'); ">{$lang.erp_sales_agent}</a>{$sort_name}
			</th>
			<th>
				<a href="javascript:listTable.sort('goods'); ">合作商品(款)</a>{$sort_name}
			</th>
			<th width="10%">
				<a href="javascript:listTable.sort('active'); ">{$lang.erp_is_valid}</a>{$sort_active}
			</th>
			<th width="10%">
				{$lang.erp_operation}
			</th>
		</tr>
		{foreach from=$sales_agent_list key=key item=sales_agent}
		<tr>
			<td align="center">{$sales_agent.sa_id}</td>
			<td>{$sales_agent.name}</td>
			<td class="goods_no"><a href="erp_sales_agent.php?act=good_list&id={$sales_agent.sa_id}">{$sales_agent.goods}</a></td>
			<td align="center"><span id="is_valid_{$sales_agent.sa_id}" style="cursor:pointer;color:{if $sales_agent.active eq 1}red;{else}black;{/if}">{if $sales_agent.active}{$lang.erp_yes}{else}{$lang.erp_no}{/if}</span></td>
			<td align="center">
				<a href="erp_sales_agent.php?act=edit&id={$sales_agent.sa_id}">{$lang.erp_operation_edit}</a>
				<!--<a href="javascript:;" onclick="javascript:remove({$sales_agent.sa_id})">{$lang.erp_operation_delete}</a>-->
			</td>
		</tr>
		{foreachelse}
		<tr><td class="no-records" colspan="5">{$lang.no_records}</td></tr>
		{/foreach}
		<tr><td colspan="4" align="right">{$pager}</td></tr>
	</table>
</div>

<script type="text/javascript" language="JavaScript">

	listTable.recordCount = {$record_count};
	listTable.pageCount = {$page_count};
	{foreach from=$filter item=item key=key}
	listTable.filter.{$key} = '{$item}';
	{/foreach}
	{literal}
	$(document).ready(function () {

		//设置是否有效
		$("span[id^='is_valid_']").click(function () {
			var $select_item = $(this);
			var sales_agent_id = $select_item.attr('id');
			sales_agent_id = sales_agent_id.substr('is_valid_'.length, sales_agent_id.length - 'is_valid_'.length);

			function changeIsValidResponse(res)
			{
				if (res.error == 0 && res.is_valid == 1)
				{
					$select_item.css('color', 'red');
					$select_item.text('{$lang.erp_yes}');
				} else if (res.error == 0 && res.is_valid === 0)
				{
					$select_item.css('color', 'black');
					$select_item.text('{$lang.erp_no}');
				} else {

					alert(res.message);
				}
			}

			Ajax.call('erp_sales_agent.php?act=change_is_valid', 'sales_agent_id=' + sales_agent_id, changeIsValidResponse, 'POST', 'JSON');
		});


	});
	{/literal}
</script>

{if $full_page}
{include file="pagefooter.htm"}
{/if}
