	{foreach from=$goods_name item=goodsName name=wrap}
	<li><a href="javascript:;" onmouseover="set_goods_name('{$goodsName|escape|escape:quotes}')" onclick="hide_goods_name_tips();">{$goodsName}</a></li>
	{/foreach}