{include file="pageheader.htm"}

<link href="styles/ERP.css" rel="stylesheet" type="text/css" />



<!-- start bank account info -->
<div class=" x_panel">
	<div id="outside_container">
		<div id="inner_container">
			<form action="erp_bank_account.php"  onsubmit="javascript:return checkBankAccount(this);" method="post">
				<table>
					<tr>
						<td width="30%"><span class="tb_lable">{$lang.erp_bank_account_name}：</span></td>
						<td><input name="account_name" id="account_name" type="text" value="{$bank_account.account_name}" style="display:block;" /></td>
						<td><span style="color:red;font-weight:normal;">{$lang.erp_required_item}</span></td>
					</tr>
					<tr>
						<td width="30%"><span class="tb_lable">{$lang.erp_bank_account_no}：</span></td>
						<td><input name="account_no"  id="account_no" type="text" value="{$bank_account.account_no}" size="30" /></td>
						<td><span style="color:red;font-weight:normal;">{$lang.erp_required_item}</span></td>
					</tr>
					
					<tr>
						<td width="30%"><span class="tb_lable">{$lang.erp_bank_account_agency}：</span></td>
						<td>
							<select id="agency_id" name="agency_id" >
									<option value='0' {if $bank_account.agency_id eq 0}selected="selected"{/if}>{$lang.erp_bank_account_select_agency}</option>
									{foreach from=$agency_list item=agency}
										<option value='{$agency.agency_id}' {if $bank_account.agency_id eq $agency.agency_id}selected="selected"{/if}>{$agency.agency_name}</option>
									{/foreach}
							</select>							
						</td>
						<td>&nbsp;</td>
					</tr>					
					
					<tr>
						<td width="30%"><span class="tb_lable">{$lang.erp_is_valid}：</span></td>
						<td>
							<select id="is_valid" name="is_valid" >
									<option value='0' {if $bank_account.is_valid eq 0}selected="selected"{/if} >{$lang.no}</option>
									<option value='1' {if $bank_account.is_valid eq 1}selected="selected"{/if}>{$lang.yes}</option>
							</select>							
						</td>
						<td>&nbsp;</td>
					</tr>					
					<tr><td  colspan="3" align="center"><input type="submit" class="btn" value="确定" ></td></tr>																									
				</table>
				<input id="account_id" name="account_id" type="hidden" value="{$bank_account.account_id}">
				<input type="hidden" name="act" value="{$act}">				
			</form>
		</div>
	</div>
</div>
<!-- end  bank account info -->

{literal}
<script language="JavaScript">
   
    function checkBankAccount()
	{
		var account_name=$("#account_name").attr('value');
		var account_no=$("#account_no").attr('value');
		
		if(account_name=="")
		{
			alert('{$lang.erp_bank_account_name_required}');
			return false;
		}		
		if(account_no=="")
		{
			alert('{$lang.erp_bank_account_no_required}');
			return false;
		}
		return true;
	}   
</script>
{/literal}
{include file="pagefooter.htm"}

