{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<style>

.calendar {
  z-index: 5000;
}

#success_message {
  color :green;
}

#error_message {
  color :red;
}

.highline {
  color:red;
}

.form_text_label {
    padding-top: 7px;
}

</style>

<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>


<div id="wizard" class="form_wizard wizard_horizontal">
<ul class="wizard_steps anchor">
<li>
  <a href="#step-1" class="selected" isdone="1" rel="1">
    <span class="step_no">1</span>
    <span class="step_descr">選擇盤點產品<br>
    </span>
  </a>
</li>
<li>
  <a href="#step-3" class="selected" isdone="0" rel="3">
    <span class="step_no">2</span>
    <span class="step_descr">盤點<br>
    </span>
  </a>
</li>
<li>
  <a href="#step-3" class="selected" isdone="0" rel="3">
    <span class="step_no">3</span>
    <span class="step_descr">盤點覆核<br>
    </span>
  </a>
</li>
<li>
  <a href="#step-4" class="selected" isdone="0" rel="4">
    <span class="step_no">4</span>
    <span class="step_descr">盤點完成<br>
    </span>
  </a>
</li>
</ul>
</div>


<div class=" x_panel">
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="form-group">
        <label class=" control-label col-md-2 col-sm-2 col-xs-12" for="first-name">盤點標題 :
        </label>
        <div class="form_text_label col-md-6 col-sm-6 col-xs-12">
          {$stocktake.title}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">盤點負責人 : 
        </label>
        <div  class="form_text_label col-md-6 col-sm-6 col-xs-12">
            {$stocktake_person_list[$stocktake.stocktake_person]}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">覆核負責人 : 
        </label>
        <div class="form_text_label col-md-6 col-sm-6 col-xs-12">
            {$stocktake_person_list[$stocktake.review_person]} 
        </div>
    </div>

</form>
</div>


<div id="notice_message" class="form-div" style="display:none">
  <div id="success_message"></div>
  <div id="error_message"></div>
</div>
<div class=" x_panel">
<!-- start stock check list -->
<div class="list-div" id="listDiv">
{/if}
<table id="stocktake" class="table table-striped table-bordered">
  <thead>
    <th data-sort=0 data-id = "warehouse_name">倉庫</th>
    <th data-sort=0 data-id = "goods_sn">產品編號</th>
    <th data-sort=0 data-id = "goods_name">{$lang.erp_stock_check_goods_name}</th>
    <th data-sort=0 data-id = "local_pick_up_stock">門店自取(未取貨)</th>
    <th data-sort=0 data-id = "stocktake_start_time">盤點開始時間</th>
    <th data-sort=0 data-id = "stocktake_end_time">盤點結束時間</th>
    <th data-sort=0 data-id = "stock_html">盤點數目</th>
    <th data-sort=0 data-id = "changed_stock">盤點期間庫存變動</th>
    <th data-sort=0 data-id = "end_stock_html">當時庫存</th>
    <th data-sort=0 data-id = "adjust_stock" >需更改庫存差</th>
  </thead>
</table>
{if $full_page}
</div>
</div>
{include file="pagefooter.htm"}
<!-- end stock check list -->

<script>
var $table = yoho_dataTable();
var stocktake_id = {$stocktake_id};

$("#update_stocktake_basic_info").click(function(){
    if ($("#title").val() == '') {
        alert('請選擇標題');
        return false;
    }

    if ($("#stocktake_person").val() == '') {
        alert('請選擇盤點負責人');
        return false;
    }

    // save
    $.ajax({
      url: 'erp_stocktake_process.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_stocktake_basic_info',
        'title': $("#title").val(),
        'stocktake_person': $("#stocktake_person").val(),
        'stocktake_id': stocktake_id,
      },
      dataType: 'json',
      success: function (result) {
        console.log('result',result);
        if (result.error == 0) {
            alert('更新成功');
        } else {
            alert(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});
</script>

<script language="javascript">	
  
</script>


{/if}
