
<div class=" x_panel">
    <div class="x_title">
        <h2>RMA資訊</h2>
        <div class="clearfix"></div>
    </div>
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

    <div class="col-md-6 col-sm-6 col-xs-12">

        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">RMA編號 : <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text">
                {$rma_basic_info.rma_id} ({$rma_basic_info.create_time})
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">貨號 : <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text">
                {$rma_basic_info.goods_sn} <a target="_blank" href="erp_stock_inquiry.php?act=list&goods_sn={$rma_basic_info.goods_sn}&supplier_id=0">查詢貨存</a>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">維修產品 : <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text">
                {$rma_basic_info.goods_name}
            </div>
        </div>
  
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">產品數量 : <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text">
             {$rma_basic_info.qty}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">產品跟進人 : <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text goods-admin">
             {$rma_basic_info.goods_admin}
            </div>
        </div>  

         <div class="form-group">
             <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">維修原因 : <span class="required"></span>
             </label>
             <div class="col-md-8 col-sm-8 col-xs-12 form_text">
                {$rma_basic_info.reason}
             </div>
         </div> 
    </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">類型 : <span class="required"></span>
                </label>
                <div class="col-md-8 col-sm-8 col-xs-12 form_text green">
                    {$rma_basic_info.channel_name}
                </div>
            </div>
        </div>

    {if $channel == 1}
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">訂單 : <span class="required"></span>
                </label>
                <div class="col-md-8 col-sm-8 col-xs-12 form_text green">
                    {$rma_basic_info.order_sn}
                </div>
            </div>
        </div>
    {/if}

    {if $channel == 0}
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">維修單 : <span class="required"></span>
                </label>
                <div class="col-md-8 col-sm-8 col-xs-12 form_text green">
                    {$rma_basic_info.repair_sn}
                    <input type="hidden" value="{$rma_basic_info.repair_id}" id="repair_id" name="repair_id"/>
                </div>
            </div>
        </div>
        <div  class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">已收維修費 : <span class="required"></span>
                </label>
                <div class="col-md-8 col-sm-8 col-xs-12 form_text">
                    ${$rma_basic_info.repair_fee}
                </div>
            </div>
        </div>
        <div  class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name"> 顧客聯絡: <span class="required"></span>
                </label>
                <div class="col-md-8 col-sm-8 col-xs-12 form_text">
                   {$rma_basic_info.contact_phone}
                </div>
            </div>
        </div>
    {/if}
    <div  class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name"> 開單員工: <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text">
               {$rma_basic_info.operator}
            </div>
        </div>
    </div>
<div  class="col-md-6 col-sm-6 col-xs-12">
    {if $rma_basic_info.repair_transfer_id}
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name"> 送去倉: <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text">
              調貨單號 <a class="link green" target="_blank" href="erp_warehouse_transfer_create.php?act=list&transfer_id={$rma_basic_info.repair_transfer_id}">{$rma_basic_info.repair_transfer_sn}</a>
            </div>
        </div>
        {if $rma_basic_info.repaired_transfer_id}
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name"> 送回門市: <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text">
              調貨單號 <a class="link green" target="_blank" href="erp_warehouse_transfer_create.php?act=list&transfer_id={$rma_basic_info.repaired_transfer_id}">{$rma_basic_info.repaired_transfer_sn}</a>
            </div>
        </div>
        {/if}
    {/if}
</div>
   
 <div class="col-md-12 col-sm-12 col-xs-12">

{if 0}
 <div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">客戶跟進備註 : <span class="required"></span>
     </label>
     <div class="col-md-6 col-sm-6 col-xs-12">
        <textarea class="form-control col-md-7 col-xs-12" id="follow_up_remark" rows="5" cols="54" placeholder="">{$rma_basic_info.remark2}</textarea>
        <input class=" btn btn-success " id="follow_up_remark_submit" type="button" value="儲存">
        <span id="follow_up_remark_success" class="green"></span>
     </div>
 </div>
{/if}
{if $step > 1 && $rma_basic_info.replace_with_new == 1}
<div class="form-group">
    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> <span class="required"></span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        *註備:先給客人一個全新的,有問題的產品再之後維修.<br>
        <div class="red">{$rma_basic_info.pickup_status}</div>
    </div>
</div>
{/if}
 </div>

</form>
</div>

<script>
$('#follow_up_remark_submit').click(function(){
    $.ajax({
    url: 'erp_rma_common.php',
    type: 'post',
    cache: false,
    data: {
        'act': 'post_rma_follow_up_remark_submit',
        'follow_up_remark': $('#follow_up_remark').val(),
        'repair_id' : $('#repair_id').val(),
    },
    dataType: 'json',
    success: function (result) {
      console.log('result',result);
    
      if (result['error'] == 0) {
        $('#follow_up_remark_success').html('儲存成功');
      } else {
        alert(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });
});


</script>

