{include file="pageheader.htm"}


{insert_scripts files="../js/jquery.blockUI.2.23.js"}

{include file="erp_stock_check_search.htm"}

<style type="text/css">
	.current_page_style
	{
		color:red;
		font-weight:bold;
	}
	
</style>

<!-- start stock check list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action">
  <tr>
    <th width="5%">{$lang.erp_stock_check_id}</th>
 	<th>{$lang.erp_stock_check_goods_sn}</th>
	<th>{$lang.erp_stock_check_goods_name}</th>
	<th>{$lang.erp_stock_check_warehouse_name}</th>
	<th>{$lang.erp_stock_check_begin_qty}</th>
	<th>{$lang.erp_stock_check_warehousing_qty}</th>
	<th>{$lang.erp_stock_check_delivery_qty}</th>
	<th>{$lang.erp_stock_check_end_qty}</th>
	{if $smarty.session.manage_cost}
	<th>平均成本</th>
	{/if}
  <tr>
  {foreach from=$stock_check_info item=stock_check key=key}
  <tr>
    <td align="center">{$stock_check.id}</td>
	<td align="center">{$stock_check.goods_info.goods_sn}</td>	
	<td align="center">{$stock_check.goods_info.goods_name}</td>
	<td align="center">{$stock_check.warehouse_info.name}</td>
	<td align="center">{$stock_check.begin_qty}</td>	
	<td align="center">{$stock_check.warehousing_qty}</td>	
	<td align="center">{$stock_check.delivery_qty}</td>	
	<td align="center">{$stock_check.end_qty}</td>
	{if $smarty.session.manage_cost}
	<td align="center">{$stock_check.cp_price}</td>
	{/if}	
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="11">{$lang.no_records}</td></tr>
  {/foreach}
   <tr><td colspan="12" align="right">{$pager}</td></tr> 
</table>
</div>
<!-- end stock check list -->

{include file="pagefooter.htm"}

