
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="erp_finance_manage.php" name="searchForm">
    <input type="hidden" name="act" value="{$act}" />
	<img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
	
    <!-- 帐户名称 -->
    {$lang.erp_bank_account_name} <input size="10" type="text" name="account_name" size="15" value="{$account_name}" />
	
	<!-- 帐户帐号 -->
    {$lang.erp_bank_account_no} <input size="10" type="text" name="account_no" size="15" value="{$account_no}"  />
	
    <input type="submit" value="{$lang.button_search}" class="btn btn-primary" />
  </form>
</div>