{include file="pageheader.htm"}



<!-- start warehouse list -->
 <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action">
  <tr>
    <th  width="5%">{$lang.erp_delivery_style_id}</th>
	<th>{$lang.erp_delivery_style}</th>
	<th width="10%">{$lang.erp_is_valid}</th>	
	<th width="10%">{$lang.erp_operation}</th>
  </tr>
  {foreach from=$delivery_style key=key item=delivery_style}
	<tr>
		<td align="center">{$delivery_style.delivery_style_id}</td>
		<td>{$delivery_style.delivery_style}</td>
		<td align="center"><span id="is_valid_{$delivery_style.delivery_style_id}" style="cursor:pointer;color:{if $delivery_style.is_valid eq 1}red;{else}black;{/if}">{if $delivery_style.is_valid}{$lang.erp_yes}{else}{$lang.erp_no}{/if}</span></td>
		<td align="center">
			{if $key neq 0}
			<a href="javascript:delete_it({$delivery_style.delivery_style_id})">{$lang.erp_operation_delete}</a>
			{/if}
		</td>
	</tr>
  {foreachelse}
  <tr><td class="no-records" colspan="5">{$lang.no_records}</td></tr>
  {/foreach}
</table>
</div>
<!-- end warehouse list -->

{literal}
<script language="JavaScript">
	
	function delete_it(delivery_style_id)
	{
		function deletedeliveryStyleResponse(res)
		{
			if(res.error==3)
			{
				alert(res.message);
				window.document.location='erp_warehouse_manage.php?act=delivery_style';
			}
			else if(res.error==0){
				window.document.location='erp_warehouse_manage.php?act=delivery_style';
			}
			else{
				alert(res.message);
			}
		}
	
		if(confirm('{$lang.erp_sure_to_delete}')){
			Ajax.call('erp_delivery_style.php?act=delete_delivery_style', 'delivery_style_id=' + delivery_style_id, deletedeliveryStyleResponse, 'POST', 'JSON');
		}		
	}

   $(document).ready(function(){
   		
		//设置是否有效
   		$("span[id^='is_valid_']").click(function(){
			var $select_item=$(this);
			var delivery_style_id=$select_item.attr('id');
			delivery_style_id=delivery_style_id.substr('is_valid_'.length,delivery_style_id.length-'is_valid_'.length);
			
			function changeIsValidResponse(res)
			{
				if(res.error==0 && res.is_valid==1)
				{
					$select_item.css('color','red');
					$select_item.text('{$lang.erp_yes}');
					//alert(res.message);
				}
				else if(res.error==0 && res.is_valid===0)
				{
					$select_item.css('color','black');
					$select_item.text('{$lang.erp_no}');
					//alert(res.message);
				}
				else{
					
					alert(res.message);
				}
			}
			
			Ajax.call('erp_delivery_style.php?act=change_is_valid', 'delivery_style_id=' + delivery_style_id, changeIsValidResponse, 'POST', 'JSON');
		});
		
		
   });   
</script>
{/literal}
{include file="pagefooter.htm"}

