{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style>
.calendar {
  z-index: 5000;
}

#success_message {
  color :green;
}

#error_message {
  color :red;
}

.highline {
  color:red;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #34495e;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}
</style>

<div id="wizard" class="form_wizard wizard_horizontal">
<ul class="wizard_steps anchor">
<li>
  <a href="#step-1" class="selected" isdone="1" rel="1">
    <span class="step_no">1</span>
    <span class="step_descr">產品檢查<br>
    </span>
  </a>
</li>
<li>
  <a href="#step-3" class="selected" isdone="0" rel="2">
    <span class="step_no">2</span>
    <span class="step_descr">通知/等待 供應商回收<br>
    </span>
  </a>
</li>
<li>
  <a href="#step-3" class="disabled" isdone="0" rel="3">
    <span class="step_no">3</span>
    <span class="step_descr">等待供應商維修<br>
    </span>
  </a>
</li>
<li>
  <a href="#step-4" class="disabled" isdone="0" rel="4">
    <span class="step_no">4</span>
    <span class="step_descr">維修完成待處理<br>
    </span>
  </a>
</li>
<li>
  <a href="#step-4" class="disabled" isdone="0" rel="5">
    <span class="step_no">5</span>
    <span class="step_descr">完成及可出貨<br>
    </span>
  </a>
</li>
</ul>
</div>

<div class=" x_panel">
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">盤點標題 : <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type="text" id="title" name="title" required="required" class="form-control col-md-7 col-xs-12" value="{$stocktake.title}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">盤點負責人 :  <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control" name="stocktake_person" id="stocktake_person">
           	{foreach from=$stocktake_person_option item=opt}
           	    <option {if $opt.value == $stocktake.stocktake_person} selected {/if} value="{$opt.value}">{$opt.name}</option>
           	{/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class=" btn btn-success" type="button" id="update_stocktake_basic_info" value="儲存" class="button" />
        </div>
    </div>
</form>
</div>

<div class=" x_panel">
    狀態
    <select name="status" id="status">
    <option value="-1" selected="selected" >全部</option>
   	{foreach from=$goods_status_options key=id item=opt}
   	    <option value="{$id}">{$opt}</option>
    {/foreach}
    </select>
    
    <div style="margin-left:50px;display:inline">
	步驟 1 <input id="stocktake_print" type="button" class="btn btn-success" value="列印盤點單" /> 
    步驟 2 <input id="popup_import_data_modal_button" type="button" value="導入盤點資料" class="btn btn-success" data-toggle="modal" data-target="#popup_import_data_modal" />
    </div>
  
    <div id="notice_message" class="form-div" style="display:none">
        <div id="success_message"></div>
        <div id="error_message"></div>
    </div>

<!-- start stock check list -->
    <div class="list-div" id="listDiv">
    {/if}
    <table id="stocktake" class="table table-striped table-bordered">
    <thead>
    <th data-id = "warehouse_name">倉庫</th>
    <th data-id = "goods_sn">{$lang.erp_stock_check_goods_sn}</th>
    <th data-id = "goods_name">{$lang.erp_stock_check_goods_name}</th>
    <th data-id = "local_pick_up_stock">門店自取(未取貨)</th>
    <th data-id = "stocktake_start_time">盤點開始時間</th>
    <th data-id = "stocktake_end_time">盤點結束時間</th>
    <th data-id = "changed_stock">盤點期間庫存變動</th>
    <th data-id = "stock_html">盤點數目</th>
    <th data-id = "end_stock_html">庫存</th>
    <th data-id = "status_name">狀態</th>
    </thead>
    </table>

    {if $full_page}
    </div>
</div>

<div id="step_action_bottom" >
 <input style="margin-top: 19px;" class="btn btn-success form-btn submit_review" type="button" id="submit_review" name="submit_review" value="提交覆核" />
</div>

<!-- end stock check list -->
{include file="pagefooter.htm"}

<div class="modal fade" role="dialog" id="popup_import_data_modal">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">匯入盤點資料</h4>
        </div>
        <div class="modal-body">
            <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

            <div class="form-group">
             <label class="control-label col-md-3 col-sm-3 col-xs-12" for="stocktake_start_end_time">盤點開始與結束時間 : <span class="required">*</span>
             </label>
             <div class="col-md-6 col-sm-6 col-xs-12">
                  <fieldset>
                    <div class="control-group">
                      <div class="controls">
                        <div class="input-prepend input-group">
                          <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                          <input readonly data-type="daterangetime" type="text" name="stocktake_start_end_time" id="stocktake_start_end_time" class="form-control" value="01/01/2016 - 01/25/2016">
                        </div>
                      </div>
                    </div>
                  </fieldset>
             </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">盤點資料 : <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control col-md-7 col-xs-12" id="popup_import_data" rows="20" cols="54" placeholder=""></textarea>
                </div>
            </div>   
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class=" btn btn-success" type="button" id="submit_import_data" name="submit_import_data" value="匯入" placeholder="">
                </div>
            </div>
            </form>
            <div id="notice_message" class="form-div" style="display:none">
                <div id="success_message"></div>
                <div id="error_message"></div>
            </div>
        </div>
    </div>
    </div>
</div>

<script>

var $table = yoho_dataTable();
var stocktake_id = {$stocktake_id};
var $popup2 = '';
$("#import_stocktake_popup").click(function(){
    $popup2 = modal.create('匯入盤點資料', $("#popup_template"));
    modal.show($popup2);
});

$("#status").change(function(){
    var $filter = {};
    $filter.status = $("#status").val();
    $filter.page = 1;
    $filter.stocktake_id = stocktake_id;
    $table.search($filter);
    return;
});

$("#stocktake_print").click(function(){
    window.open('erp_stocktake_process.php?act=print&stocktake_id=' + stocktake_id + '&status=' + $("#status").val());
});

$("#update_stocktake_basic_info").click(function(){
    if ($("#title").val() == '') {
        alert('請選擇標題');
        return false;
    }

    if ($("#stocktake_person").val() == '') {
        alert('請選擇盤點負責人');
        return false;
    }

    // save
    $.ajax({
      url: 'erp_stocktake_process.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_stocktake_basic_info',
        'title': $("#title").val(),
        'stocktake_person': $("#stocktake_person").val(),
        'stocktake_id': stocktake_id,
      },
      dataType: 'json',
      success: function (result) {
        if (result.error == 0) {
            alert('更新成功');
        } else {
            alert(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});


$(document).on("click","#submit_import_data",function() {
    var popup_import_data = $("#popup_import_data").val();
    var popup_import_start_time = $('#stocktake_start_end_time').data('daterangepicker').startDate.format('YYYY-MM-DD HH:mm:ss');
    var popup_import_end_time = $('#stocktake_start_end_time').data('daterangepicker').endDate.format('YYYY-MM-DD HH:mm:ss');
    
    var stocktake_id = {$stocktake_id};
    if (popup_import_start_time == '') {
       alert('請輸入盤點開始時間');
       return;
    }

    if (popup_import_end_time == '') {
       alert('請輸入盤點結束時間');
       return;
    }

    if (popup_import_data == '') {
       alert('請輸入盤點資料');
       return;
    }
    
    $.ajax({
      url: 'erp_stocktake_process.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_import_stocktake_data',
        'stocktake_data': popup_import_data,
        'stocktake_start_time': popup_import_start_time,
        'stocktake_end_time': popup_import_end_time,
        'stocktake_id': stocktake_id,
      },
      dataType: 'json',
      success: function (result) {
        if (result.error == 0) {
            // listing refresh
            // show message
            $('#notice_message').show();
            $('#success_message').html('');
            $('#error_message').html('');
            
            if (result.content.success_message != '') {
                $('#success_message').html(result.content.success_message);
            }

            if (result.content.error_message != '') {
                $('#error_message').html(result.content.error_message);
            }
            
            var $filter = {};
            $filter.status = $("#status").val();
            $filter.page = 1;
            $filter.stocktake_id = stocktake_id;
            $table.search($filter);

            $('#popup_import_data_modal').modal('toggle');
        } else {
            // show error
        }

      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });

});

$(".submit_review").click(function(){
    if (confirm('確定提交覆核?')) {
        var stocktake_id = {$stocktake_id};
        $.ajax({
          url: 'erp_stocktake_process.php',
          type: 'post',
          cache: false,
          data: {
            'act': 'post_submit_review_request',
            'stocktake_id': stocktake_id,
          },
          dataType: 'json',
          success: function (result) {
            if (result.error == 0) {
                // redirect 
                var url="erp_stocktake_review.php?act=list&stocktake_id=" + stocktake_id;
                window.location=url;	
            }else{
                $('#notice_message').show();
                $('#success_message').html('');
                $('#error_message').html(result.message); 
            }
          },
          error: function (xhr) {
            $confirmBtn.prop('disabled', false);
            alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
            console.log(xhr);
          }
        });
    }
    else{
        return false;
    }
});

</script>
{/if}
