{include file="pageheader.htm"}
<script src="js/jquery.jeditable.min.js"></script>
<script src="js/jquery.jeditable.datepicker.min.js"></script>
<link href="styles/erp_order.css" rel="stylesheet" type="text/css" />
<style>
#goods_sn_tips{width:200px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_sn_tips li{line-height:20px; list-style:none;}

#goods_name_tips{width:400px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_name_tips li{line-height:20px; list-style:none;padding: 5px;}

#goods_barcode_tips{width:200px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_barcode_tips li{line-height:20px; list-style:none;padding: 5px;}
</style>
<div class="x_panel">
{if $act eq 'edit'}
{if $delivery_info.available_act.edit eq 1}
<script type=text/javascript>
	
	function edit_delivery()
	{
		$("#select_warehouse").show();
		$("#span_warehouse").hide();		
		$("#select_delivery_style").show();
		$("#span_delivery_style").hide();	
		$("#span_delivery_to").hide();
		$("#input_delivery_to").show();							
	}


	function post_delivery(delivery_id)
	{
		function postDeliveryResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.document.location="erp_delivery_manage.php?act=list";
			}				
		}
		if(confirm('{$lang.erp_delivery_sure_to_post_delivery}'))
		{	
			Ajax.call('erp_delivery.php?act=post_delivery', 'delivery_id='+delivery_id, postDeliveryResponse, 'POST', 'JSON');
		}
	}	
		
	function delete_delivery(delivery_id)
	{
		function deletedeliveryResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.document.location="erp_delivery_manage.php?act=list";;
			}			
		}
		if(confirm('{$lang.erp_delivery_sure_to_delete_delivery}'))
		{	
			Ajax.call('erp_delivery.php?act=delete_delivery', 'delivery_id='+delivery_id, deletedeliveryResponse, 'POST', 'JSON');
		}			
	}
	
	function edit_delivery_item(delivery_item_id)
	{
		$("#span_delivered_qty_"+delivery_item_id).hide();
		$("#input_delivered_qty_"+delivery_item_id).show().focus();
	}
	
	function delete_delivery_item(delivery_item_id)
	{
		var delivery_id='{$delivery_info.delivery_id}';
		
		function deletedeliveryItemResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.document.location="erp_delivery_manage.php?act=edit&id="+delivery_id;
			}			
		}
		
		if(confirm('{$lang.erp_delivery_sure_to_delete_delivery_item}'))
		{	
			Ajax.call('erp_delivery.php?act=delete_delivery_item', 'delivery_id='+delivery_id+'&delivery_item_id='+delivery_item_id, deletedeliveryItemResponse, 'POST', 'JSON');
		}		
	}

	function set_goods_sn(sn)
	{
		$("#input_goods_sn").val(sn);
	}
	
	function hide_goods_sn_tips()
	{
		$("#goods_sn_tips").hide();	
	}
	
	function set_goods_name(name)
	{
		$("#input_goods_name").val(name);
	}
	
	function hide_goods_name_tips()
	{
		$("#goods_name_tips").hide();	
	}	
	
	$(document).ready(function(){
		
		$("#span_warehouse").css('cursor','pointer');
		$("#span_warehouse").mouseover(function(){
			$(this).css('color','red');
		});
		$("#span_warehouse").mouseout(function(){
			$(this).css('color','black');
		});	
		$("#span_warehouse").click(function(){
			$(this).hide();
			$("#select_warehouse").show().focus();
		});
		$("#select_warehouse").change(function(){
			var warehouse_id=$(this).val();
			var delivery_id='{$delivery_info.delivery_id}';
			
			if(warehouse_id==0)
			{
				return;
			}
			
			function changeWarehouseResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
				}
				else{
					window.document.location="erp_delivery_manage.php?act=edit&id="+delivery_id;
				}
			}

			Ajax.call('erp_delivery.php?act=change_warehouse', 'delivery_id='+delivery_id+'&warehouse_id='+warehouse_id, changeWarehouseResponse, 'POST', 'JSON');

		});		
		
		$("#span_delivery_style").css('cursor','pointer');
		$("#span_delivery_style").mouseover(function(){
			$(this).css('color','red');
		});
		$("#span_delivery_style").mouseout(function(){
			$(this).css('color','black');
		});	
		$("#span_delivery_style").click(function(){
			$(this).hide();
			$("#select_delivery_style").show().focus();
		});
		$("#select_delivery_style").change(function(){
			var delivery_style_id=$(this).val();
			var delivery_id='{$delivery_info.delivery_id}';
			
			function changedeliveryStyleResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
				}
				else{
					window.document.location="erp_delivery_manage.php?act=edit&id="+delivery_id;
				}
			}

			Ajax.call('erp_delivery.php?act=change_delivery_style', 'delivery_id='+delivery_id+'&delivery_style_id='+delivery_style_id, changedeliveryStyleResponse, 'POST', 'JSON');
	
		});			
					
		$("#span_order").css('cursor','pointer');
		$("#span_order").mouseover(function(){
			$(this).css('color','red');
		});
		$("#span_order").mouseout(function(){
			$(this).css('color','black');
		});	
		$("#span_order").click(function(){
			$(this).hide();
			$("#select_order").show().focus();
		});
		$("#select_order").change(function(){
			var order_id=$(this).val();
			var delivery_id='{$delivery_info.delivery_id}';
			
			function changeOrderResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
				}
				else{
					window.document.location="erp_delivery_manage.php?act=edit&id="+delivery_id;
				}
			}
			if(order_id!='')
			{
				Ajax.call('erp_delivery.php?act=change_order', 'delivery_id='+delivery_id+'&order_id='+order_id, changeOrderResponse, 'POST', 'JSON');
			}
		});

		$("#span_delivery_to").css('cursor','pointer');
		$("#span_delivery_to").mouseover(function(){
			$(this).css('color','red');
		});
		$("#span_delivery_to").mouseout(function(){
			$(this).css('color','black');
		});	
		$("#span_delivery_to").click(function(){
			$(this).hide();
			$("#input_delivery_to").show().focus();
		});	
		$("#input_delivery_to").change(function(){
			var delivery_to=$(this).val();
			var delivery_id='{$delivery_info.delivery_id}';
			
			function changedeliveryToResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
				}
				else{
					window.document.location="erp_delivery_manage.php?act=edit&id="+delivery_id;
				}
			}
			
			if(delivery_to=='')
			{
				alert('{$lang.erp_delivery_delivery_to_required}');
			}
			else{
				Ajax.call('erp_delivery.php?act=change_delivery_to', 'delivery_id='+delivery_id+'&delivery_to='+delivery_to, changedeliveryToResponse, 'POST', 'JSON');
			}
		});
		$("#input_delivery_to").blur(function(){
				$("#span_delivery_to").show();
				$("#input_delivery_to").hide();				
		});
		
		$("span[id^='span_delivered_qty_']").css('cursor','pointer');
		$("span[id^='span_delivered_qty_']").mouseover(function(){
			$(this).css('color','red');
		});
		$("span[id^='span_delivered_qty_']").mouseout(function(){
			$(this).css('color','black');
		});	
		$("span[id^='span_delivered_qty_']").click(function(){
			var delivery_item_id=$(this).attr('id');
			delivery_item_id=delivery_item_id.substr('span_delivered_qty_'.length,delivery_item_id.length-'span_delivered_qty_'.length);			
			
			$(this).hide();
			$("#input_delivered_qty_"+delivery_item_id).show().focus();
		});	
		
		$("input[id^='input_delivered_qty_']").change(function(){
			var delivery_item_id=$(this).attr('id');
			delivery_item_id=delivery_item_id.substr('input_delivered_qty_'.length,delivery_item_id.length-'input_delivered_qty_'.length);
			
			var delivery_id='{$delivery_info.delivery_id}';
			var delivered_qty=$(this).val();
			
			function changeDeliveredQtyResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
					
					$("#span_delivered_qty_"+delivery_item_id).show();	
					$("#input_delivered_qty_"+delivery_item_id).val($("#span_delivered_qty_"+delivery_item_id).text()).hide();					
				}
				else{
					$("#span_delivered_qty_"+delivery_item_id).text(delivered_qty);
					$("#input_delivered_qty_"+delivery_item_id).hide();
					$("#span_delivered_qty_"+delivery_item_id).show();
				}
			}
			
			if(isNaN(delivered_qty))
			{
				alert('{$lang.erp_not_a_number}');
			}
			else{
				Ajax.call('erp_delivery.php?act=change_delivered_qty', 'delivery_id='+delivery_id+'&delivery_item_id='+delivery_item_id+"&delivered_qty="+delivered_qty, changeDeliveredQtyResponse, 'POST', 'JSON');
			}
		});
		$("input[id^='input_delivered_qty_']").blur(function(){
			var delivery_item_id=$(this).attr('id');
			delivery_item_id=delivery_item_id.substr('input_delivered_qty_'.length,delivery_item_id.length-'input_delivered_qty_'.length);			
			$("#span_delivered_qty_"+delivery_item_id).show();
			
			$(this).hide();
		});
		
		$("#input_goods_sn").focus();
		
		var current_goods_sn='';
		
		var current_goods_name='';
		
		$("#input_goods_sn").blur(function(){
			var goods_sn=$(this).val();
	
			function checkGoodsSnResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
					$("#input_goods_sn").focus();
					$("#input_goods_sn").val('');
				}
				else{
					$("#attr_box").html(res.attr_info);
					$("#input_qty").focus();
				}
			}
			if(goods_sn!='')
			{
				Ajax.call('erp_delivery.php?act=check_goods_sn', 'goods_sn='+goods_sn, checkGoodsSnResponse, 'POST', 'JSON');
			}
		});
		
		$("#input_goods_name").blur(function(){
			var goods_name=$(this).val();
	
			function checkGoodsNameResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
					$("#input_goods_name").focus();
					$("#input_goods_name").val('');
				}
				else{
					$("#attr_box").html(res.attr_info);
					$("#input_qty").focus();
				}
			}
			if(goods_name!='')
			{
				Ajax.call('erp_delivery.php?act=check_goods_name', 'goods_name='+goods_name, checkGoodsNameResponse, 'POST', 'JSON');
			}
		});		
		
		$("#input_goods_sn").keyup(function(){
			
			var goods_sn=$(this).val();

			function goodsSNTipsResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);	
				}
				else{	
					//显示货号提示
					if(res.num>0)
					{
						$("#goods_sn_tips").empty().append(res.content);
							
						var offset=$("#input_goods_sn").offset();
						var offset_top=offset.top;
						var offset_left=offset.left;
	
						var ua = navigator.userAgent.toLowerCase();
							
						if(ua.match(/firefox/))
						{
							offset_top=offset_top+9;
							offset_left=offset_left;							
						}
						else{
							offset_top=offset_top+10;
							offset_left=offset_left;							
						}
							
						$("#goods_sn_tips").css('left',offset_left);
						$("#goods_sn_tips").css('top',offset_top);
						$("#goods_sn_tips").show();	
					}
					else{
						$("#goods_sn_tips").hide();	
					}					
				}
			}

			if(goods_sn!=current_goods_sn)
			{
				current_goods_sn=goods_sn;
				if(goods_sn!='')
				{
					Ajax.call('erp_delivery.php?act=goods_sn_tips', "goods_sn="+goods_sn, goodsSNTipsResponse, 'POST', 'JSON');
				}	
			}				
		});		

		$("#input_goods_name").keyup(function(){
			
			var goods_name=$(this).val();

			function goodsNameTipsResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);	
				}
				else{	
					//显示货号提示
					if(res.num>0)
					{
						$("#goods_name_tips").empty().append(res.content);
							
						var offset=$("#input_goods_name").offset();
						var offset_top=offset.top;
						var offset_left=offset.left;
	
						var ua = navigator.userAgent.toLowerCase();
							
						if(ua.match(/firefox/))
						{
							offset_top=offset_top+9;
							offset_left=offset_left;							
						}
						else{
							offset_top=offset_top+10;
							offset_left=offset_left;							
						}
							
						$("#goods_name_tips").css('left',offset_left);
						$("#goods_name_tips").css('top',offset_top);
						$("#goods_name_tips").show();	
					}
					else{
						$("#goods_name_tips").hide();	
					}					
				}
			}

			if(goods_name!=current_goods_name)
			{
				current_goods_name=goods_name;
				if(goods_name!='')
				{
					Ajax.call('erp_delivery.php?act=goods_name_tips', "goods_name="+goods_name, goodsNameTipsResponse, 'POST', 'JSON');
				}	
			}				
		});	
		
		$("#input_qty").keyup(function(){
			var input_qty=$(this).val();
			var last_char=input_qty.substr(input_qty.length-1,1);
			if(isNaN(last_char))
			{
				$(this).val(input_qty.substr(0,input_qty.length-1));
			}
		});
		
		$("#update_delivery").click(function(){
			
			var goods_sn=$("#input_goods_sn").val();
			
			var goods_name=$("#input_goods_name").val();
			
			var goods_qty=$("#input_qty").val();
			
			var delivery_id='{$delivery_info.delivery_id}';
			
			var ids='';
			
			$("select[id^='select_attr_']").each(function(index){
				
				var value=$($("select[id^='select_attr_']")[index]).val();
				
				ids=ids+value+',';
			});
			
			function updatedeliveryResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
					$("#attr_box").html('');
				}
				else{
					window.document.location="erp_delivery_manage.php?act=edit&id="+delivery_id;
				}
			}
			if(goods_sn=='' && goods_name=='')
			{
				alert('{$lang.erp_delivery_goods_sn_or_goods_name_or_goods_barcode_required}');	
			}
			else{
				Ajax.call('erp_delivery.php?act=update_delivery', 'delivery_id='+delivery_id+'&goods_sn='+goods_sn+'&goods_name='+goods_name+'&ids='+ids+'&goods_qty='+goods_qty, updatedeliveryResponse, 'POST', 'JSON');
			}			
		});
		
	});

</script>
{/if}
{/if}


{if $delivery_info.available_act.approve eq 1}

<!-- start approve remark -->

<div class="approve_remark" id="approve_remark">
<div class="approve_remark_head">
	<table class="table jambo_table">
		<tr>
			<td>
				<img src="./images/approve_remark.gif" />
			</td>
			<td align="right">
				<span><img style="cursor:pointer;" id="img_close_approve_remark" src="./images/close_erp.gif" /></span>
			</td>
		</tr>
	</table>
</div>

<div class="approve_remark_box">
<table   class="table jambo_table">
	 <tr>
    	<td width="60">{$lang.erp_approve_remark}</td>	
		<td>
			<textarea rows="8" cols="55" id="textarea_approve_remark">{$delivery_info.approve_remark}</textarea>
		</td>
	</tr>	
</table>
</div>
<div class="div_submit_approve">
	<img style="cursor:pointer;" id="img_submit_approve" src="./images/submit.gif" />
</div>	
</div>
 
<!-- end approve remark -->

<script type=text/javascript>

$(document).ready(function(){
		$("#img_close_approve_remark").click(function(){
			$.unblockUI();
		});
});

var approving = false;
function approve_delivery(delivery_id,act)
{
	function approvedeliveryResponse(res)
	{
		if(res.error!=0)
		{
			alert(res.message);
		}
		else
		{
			window.document.location="erp_delivery_manage.php?act=list";
		}
		approving = false;
	}
	
	if(act=='pass')
	{
		$("#img_submit_approve").bind('click',function(){
		var approve_remark=$("#textarea_approve_remark").val();
		if(confirm('{$lang.erp_delivery_sure_to_post_approve}'))
		{
			if (approving)
			{
				alert('已經提交審核，請耐心等候...');
				return;
			}
			approving = true;
			Ajax.call('erp_delivery.php?act=approve_pass', 'delivery_id='+delivery_id+'&approve_remark='+approve_remark, approvedeliveryResponse, 'POST', 'JSON');
		}
		else{
			$.unblockUI();
			$(this).unbind('click');			
		}					
		});

		$.blockUI({
	   	message: $('#approve_remark'), css: { 
	    top:  ($(window).height()-200) /2 + 'px', 
	    left: ($(window).width()-500) /2 + 'px'
	   }
	});	
	}
	else if(act=='reject')
	{
		$("#img_submit_approve").bind('click',function(){
		var approve_remark=$("#textarea_approve_remark").val();
		if(confirm('{$lang.erp_delivery_sure_to_post_approve}'))
		{
			if (approving)
			{
				alert('已經提交審核，請耐心等候...');
				return;
			}
			approving = true;
			Ajax.call('erp_delivery.php?act=approve_reject', 'delivery_id='+delivery_id+'&approve_remark='+approve_remark, approvedeliveryResponse, 'POST', 'JSON');
		}
		else{
			$.unblockUI();
			$(this).unbind('click');			
		}					
		});
		$.blockUI({
	   	message: $('#approve_remark'), css: { 
	    top:  ($(window).height()-200) /2 + 'px', 
	    left: ($(window).width()-500) /2 + 'px'
	   	}			
		});
	}
}

function one_key_approve(delivery_id)
{
	function approvedeliveryResponse(res)
	{
		if(res.error!=0)
		{
			alert(res.message);
		}
		else
		{
			window.document.location="erp_delivery_manage.php?act=list";
		}
		approving = false;
	}
	
	if (approving)
	{
		alert('已經提交審核，請耐心等候...');
		return;
	}
	approving = true;
	Ajax.call('erp_delivery.php?act=approve_pass', 'delivery_id='+delivery_id+'&approve_remark=%E4%B8%80%E9%8D%B5%E5%AF%A9%E6%A0%B8', approvedeliveryResponse, 'POST', 'JSON');
}
	
</script>		
{/if}

<!-- start delivery info -->
 <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table jambo_table">
	<thead>
		<tr>
			<th>{$lang.erp_delivery_sn}</th>	
			<th width="15%">{$lang.erp_delivery_warehouse}</th>
			<th>{$lang.erp_delivery_admin}</th>		
			<th width="15%">{$lang.erp_delivery_delivery_style}</th>	
			<th width="10%">{$lang.erp_delivery_order}</th>	
			<th width="10%">{$lang.erp_delivery_to}</th>
			<th width="10%">{$lang.erp_delivery_date}</th>
			{if $act neq 'view'}
			<th width="15%">{$lang.erp_operation}</th>
			{/if}
		</tr>
	</thead>
 	<tr>
		<td>{$delivery_info.delivery_sn}</td>
		<td>
			<span id="span_warehouse">{$delivery_info.warehouse_info.name}</span>
			{if $warehouse_list}
			<select class="form-control" name="select_warehouse" id="select_warehouse" style="display:none;">
				<option value="0" >{$lang.erp_delivery_select_warehouse}</option>
				{foreach from=$warehouse_list item=warehouse_info}
					<option value="{$warehouse_info.warehouse_id}" {if $warehouse_info.warehouse_id eq $delivery_info.warehouse_id}selected="selected"{/if}>{$warehouse_info.name}</option>
				{/foreach}
			</select>
			{/if}
		</td>
		<td>{$delivery_info.admin_name}</td>
		<td>
			<span id="span_delivery_style">{$delivery_info.delivery_style_info.delivery_style}</span>
			{if $delivery_style_list}
			<select class="form-control" name="select_delivery_style" id="select_delivery_style" style="display:none;">
				{if $delivery_info.delivery_style_id eq 1}<option value="">請選擇...</option>{/if}
				{foreach from=$delivery_style_list item=delivery_style_info}
					<option value="{$delivery_style_info.delivery_style_id}" {if $delivery_style_info.delivery_style_id eq $delivery_info.delivery_style_id}selected="selected"{/if}>{$delivery_style_info.delivery_style}</option>
				{/foreach}
			</select>
			{/if}			
			
		</td>
		<td>
			
			<span id="span_order">
				{if $delivery_info.order_info.order_sn}
					{$delivery_info.order_info.order_sn}
				{else}
					{if $order_info}
						{$lang.erp_delivery_choose_order}
					{else}
						&nbsp;
					{/if}
				{/if}
			</span>
			
			{if $order_info}
			<select class="form-control" name="select_order" id="select_order" style="display:none;">
				<option value="">{$lang.erp_delivery_choose_order}</option>
				{foreach from=$order_info item=order_info}
					<option value="{$order_info.order_id}" {if $order_info.order_id eq $delivery_info.order_id}selected="selected"{/if}>{$order_info.order_sn}</option>
				{/foreach}
			</select>
			{/if}		
		</td>
		<td>
			<span id="span_delivery_to">
				{if $delivery_info.delivery_to}
					{$delivery_info.delivery_to}
				{else}
					{$lang.erp_delivery_input_delivery_to}
				{/if}
			</span>
			<input class="form-control" id="input_delivery_to" size="10" maxlength="50" style="display:none;" value="{$delivery_info.delivery_to}"/>
		</td>
		<td>{$delivery_info.delivery_date}</td>
		{if $act neq 'view'}
		<td>
			
			{if $delivery_info.available_act.edit eq 1}
				<a href="javascript:edit_delivery()">{$lang.erp_operation_edit}</a>
			{/if}
			{if $delivery_info.available_act.delete eq 1}
				<a href="javascript:delete_delivery({$delivery_info.delivery_id})">{$lang.erp_operation_delete}</a>
			{/if}
	
			{if $delivery_info.available_act.post_to_approve eq 1}
				<a href="javascript:post_delivery({$delivery_info.delivery_id})">{$lang.erp_operation_post_to_approve}</a>
			{/if}				
			{if $delivery_info.available_act.approve eq 1}
				<a href="javascript: approve_delivery({$delivery_info.delivery_id},'pass')">{$lang.erp_operation_approve_pass}</a>
				<a href="javascript: approve_delivery({$delivery_info.delivery_id},'reject')">{$lang.erp_operation_approve_reject}</a>
				<a href="javascript: one_key_approve({$delivery_info.delivery_id})">一鍵審核</a>
			{/if}
		</td>
		{/if}
 	</tr>

</table>
</div>
<!-- end delivery info -->

<br/>


{if $act eq 'edit'}
{if $delivery_info.available_act.edit eq 1}
{if $delivery_info.delivery_style_id neq 1}
<div class="col-md-12">
<div class="col-md-12 form-inline">
	<label>{$lang.erp_delivery_input_goods_sn}</label>
	<input class="form-control" size="30" maxlength="30" id="input_goods_sn" value="" />
	<ul id="goods_sn_tips"></ul>
	<label>{$lang.erp_delivery_input_goods_name}</label>
	<input size="30" maxlength="30" id="input_goods_name" value="" class="form-control" />
	<ul id="goods_name_tips"></ul>
	<label>{$lang.erp_delivery_input_qty}</label>
	<input id="input_qty" value="" size="5" maxlength="5" class="form-control" />
	<input type="button"  id="update_delivery" class="btn btn-primary" value="確定"/>
</div>
{/if}
{/if}
{/if}

<!-- start delivery item info -->
 <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table jambo_table">
	<thead>
		<tr>
			<th>{$lang.erp_delivery_item_id}</th>	
			<th width="10%">{$lang.erp_delivery_item_goods_img}</th>
			<th width="10%">{$lang.erp_delivery_item_goods_sn}</th>
			<th>{$lang.erp_delivery_item_goods_stock}</th>	
			<th>{$lang.erp_delivery_item_expected_qty}</th>
			<th>{$lang.erp_delivery_item_delivered_qty}</th>
			
			{if $price_visible eq 'true'}
				<th>{$lang.erp_delivery_item_delivery_price}</th>
			{/if}
			
			{if $act neq 'view' and $act neq 'approve'}
				<th width="10%">{$lang.erp_operation}</th>
			{/if}
		</tr>
  	</thead>
	{foreach from=$delivery_item_info key=key item=delivery_item}
 	<tr id="tr_{$delivery_item.goods_details.goods_sn}">
		<td>{$key}</td>
		<td>
			<img {if $delivery_item.goods_details.goods_thumb}id="goods_img_{$delivery_item.delivery_item_id}"{/if} width="70" height="70" src="{if $delivery_item.goods_details.goods_thumb}{$delivery_item.goods_details.goods_thumb}{else}./images/no_img.gif{/if}">
		</td>
		<td>{$delivery_item.goods_details.goods_sn}</td>
		<td>{$delivery_item.stock}</td>
		<td>{$delivery_item.expected_qty}</td>
		<td>
			<span id="span_delivered_qty_{$delivery_item.delivery_item_id}">{$delivery_item.delivered_qty}</span>
			<input class="form-control" size=5 maxlength="5" style="display:none;" id="input_delivered_qty_{$delivery_item.delivery_item_id}" value="{$delivery_item.delivered_qty}" />
		</td>
		
		{if $price_visible eq 'true'}
		<td>
			<span id="span_delivery_price_{$delivery_item.delivery_item_id}">{$delivery_item.price}</span>
			<input class="form-control" size="8" maxlength="8" style="display:none;" id="input_delivery_price_{$delivery_item.delivery_item_id}" value="{$delivery_item.price}" />
		</td>		
		{/if}
		
		{if $act neq 'view' and $act neq 'approve'}
		<td>
			
			{if $delivery_info.available_act.edit eq 1}
				<a href="javascript: edit_delivery_item({$delivery_item.delivery_item_id})">{$lang.erp_operation_edit}</a>
			{/if}
			{if $delivery_info.available_act.delete eq 1}
				<a href="javascript:delete_delivery_item({$delivery_item.delivery_item_id})">{$lang.erp_operation_delete}</a>
			{/if}				
		</td>
		{/if}
 	</tr>
	{/foreach}
</table>
</div>
<!-- end delivery item info -->
</div>


{include file="pagefooter.htm"}

