{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style type="text/css">

.editable_text {
   text-decoration-line: underline;
   text-decoration-style: solid; 
    cursor: pointer;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #828181;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}

#error_message {
    color:red;
}

</style>

<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{include file="erp_warehouse_transfer_progress_bar.htm"}
{include file="erp_warehouse_transfer_info.htm"}



<div class="x_panel">
<div class="x_title">
    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
        
    </form>
<div class="clearfix"></div>
</div>
<div class="form-div" style="height:0px;">
<div style="float:left;">
  <form class="form-inline" method="post"  action="erp_warehouse_transfer_create.php" name="searchForm">
    <div>
    <div id="notice_message" class="form-div" style="display:none;padding: 10px 0px;">
         <div id="success_message"></div>
         <div id="error_message"></div>
    </div>
    </div>
    <div id="notice_message" class="form-div" >
        <div id="success_message"></div>
        <div id="error_message"></div>
    </div>
  </form>
</div>
</div>

<!-- start stock check list -->

<div class="list-div" id="listDiv">
{/if}
<table id="stocktake" class="table table-striped table-bordered">
  <thead>
    <th data-id="item_id">序號</th>
    <th data-id="warehouse_from_name">貨倉</th>
    <th data-id="image">圖片</th>
    <th data-id="goods_sn">{$lang.erp_stock_check_goods_sn}</th>
    <th data-id="goods_name">{$lang.erp_stock_check_goods_name}</th>
    <th data-id="sellable_qty_html">可銷售庫存</th>
    <th width="120px" data-id="physical_qty_html">實際庫存</th>  
    <th width="120px" data-id="requested_qty">要求調貨數量</th>
  </thead>
</table>

{if $full_page}

</div>


</div>

<style>



</style>

<div id="step_action_bottom" >
    {if $transfer_info.auto_created == 0}
    <input style="margin-top: 19px;" class="btn btn-danger form-btn next_step" type="button" id="transfer_cancel" name="transfer_cancel" value="取消調貨" />
    {/if}
    <input style="margin-top: 19px;" class="btn btn-success form-btn next_step" type="button" id="next_step" name="next_step" value="開始處理" />
</div>

{include file="pagefooter.htm"}

<div class="modal fade" role="dialog" id="popup_import_data_modal">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">導入產品</h4>
        </div>
        <div class="modal-body">
            <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">資料 : <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control col-md-7 col-xs-12" id="import_data" rows="20" cols="54" placeholder="貨號,數量"></textarea>
                </div>
            </div>   
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class=" btn btn-success" type="button" id="submit_import_data" name="submit_import_data" value="確定" placeholder="">
                </div>
            </div>
            </form>
            
        </div>
    </div>
    </div>
</div>

<!-- end stock check list -->
<script language="javascript">	

var $table = yoho_dataTable();
transfer_id = {$transfer_id};

var force_submit = 0
$(document).on('click','#transfer_confirm_force',function(){
    console.log('force');
    force_submit = 1;
    $('#next_step').trigger('click');
});


$('#transfer_cancel').click(function(){
    if (confirm("確定取消調倉?")) {
        $.ajax({
            url: 'erp_warehouse_transfer_packing.php',
            type: 'post',
            cache: false,
            data: {
                'act': 'post_transfer_cancel',
                'transfer_id' : transfer_id,
            },
            dataType: 'json',
            success: function (result) {
             $('#notice_message').show();
             $('#success_message').html('');
             $('#error_message').html('');
             if (result['error'] == 0 || force_submit == 1){
                var url="erp_warehouse_transfer_cancelled.php?act=list&transfer_id=" + transfer_id;
                window.location=url;
             }else{
                if (result.message != '') {
                    $('#error_message').html(result.message);
                }
                // var $filter = {};
                // $filter.transfer_id = transfer_id;
                // $filter.page = 1;
                // $table.search($filter);
             }
            },
            error: function (xhr) {
             alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
             console.log(xhr);
            }
        });
    }
});

$('#next_step').click(function(){

    // check
    if (confirm("確定開始處理調貨?")) {
        $.ajax({
            url: 'erp_warehouse_transfer_review.php',
            type: 'post',
            cache: false,
            data: {
                'act': 'post_transfer_approve',
                'transfer_id' : transfer_id,
            },
            dataType: 'json',
            success: function (result) {
             $('#notice_message').show();
             $('#success_message').html('');
             $('#error_message').html('');
             if (result['error'] == 0){
                // redirect
                var url="erp_warehouse_transfer_packing.php?act=list&transfer_id=" + transfer_id;
                window.location=url;
             }else{
               
             }
            },
            error: function (xhr) {
             alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
             console.log(xhr);
            }
        });
    }
});

(function($){
 $.fn.focusTextToEnd = function(){
        this.focus();
        var $thisVal = this.val();
        this.val('').val($thisVal);
        return this;
    }
})(jQuery);

</script>
{/if}
