{include file="pageheader.htm"}

<!--
<link href="styles/ERP.css" rel="stylesheet" type="text/css" />
-->
<style>
.pointer {
	cursor: pointer;
}

table#goods_result thead tr th, table#added_result thead tr th {
	text-align: center;
}

table#goods_result tbody tr td, table#added_result tbody tr td {
	vertical-align: middle;
	text-align: center;
}

table#goods_result tbody tr td img.thumb, table#added_result tbody tr td img.thumb {
	width: 50px;
}

table#goods_result tbody tr td.col-add-item span.add-item, table#added_result tbody tr td.col-del-item span.del-item {
	padding: 14px;
}

table#goods_result tbody tr td.col-add-item span.add-item {
	color: #4caf50;
}

table#added_result tbody tr td.col-del-item span.del-item {
	color: red;
}

table#added_result tbody tr td.item-id  {
	display: none;
}

</style>

<div class=" x_panel">
	<div id="inner_container">
		<form class="form-horizontal" action="erp_sales_agent.php" name="add_sale_agent" method="post">
			<div class="form-group">
				<div class="col-xs-0 col-sm-0 col-md-0 col-lg-1"></div>
				<div id="extrainfo-table" class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
					<div class="form-group">
						<label class="control-label col-sm-2" for="sale_agent_name">{$lang.sale_agent_name}<span style="color:red;font-weight:normal;">*</span>：</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="sale_agent_name" placeholder="輸入{$lang.sale_agent_name}" name="sale_agent_name" value="{$sale_agent.name}">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="active">{$lang.erp_is_valid}：</label>
						<div class="col-sm-10">
							<select class="form-control" id="active" name="active">
								<option value='1'{if $sale_agent.active eq '1'} selected="selected"{/if}>{$lang.yes}</option>
								<option value='0'{if $sale_agent.active eq '0'} selected="selected"{/if} >{$lang.no}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="active">結算方式：</label>
						<div class="col-sm-10">
							<select class="form-control" id="pay_type" name="pay_type">
								<option value='0' {if $sale_agent.pay_type eq 0}selected="selected"{/if}>月結</option>
								<option value='1' {if $sale_agent.pay_type eq 1}selected="selected"{/if} >預付</option>
							</select>
						</div>
					</div>
					<!-- rate -->
					<div class="form-group">
						<label class="control-label col-sm-2" for="sale_agent_name">手續費：</label>
						<div id="group_rate" class="col-sm-10">
						<!-- If have sa rate -->
							{foreach from=$rates item=rate}
								<div class="form-inline">
									<div class="form-group">
									<input type="number" class="form-control" name="sa_rate[]" value="{$rate.sa_rate}" min="0" max="100" step="0.1" maxlength="3">%
									<input name="rate_id[]" value="{$rate.sa_rate_id}" type="hidden">
									<label class="checkbox-inline"><input type="checkbox" name="check" value="1"{if $rate.is_default eq 1} checked{/if}>預設</label>
									<input type="hidden" name="is_default[]" value="{if $rate.is_default eq 1}1{else}0{/if}">
									<select class="form-control" id="rate_active" name="rate_active[]">
										<option value='1'{if $rate.active eq 1} selected="selected"{/if}>生效</option>
										<option value='0'{if $rate.active eq 0} selected="selected"{/if}>無效</option>
									</select>
									</div>
								</div>
							{/foreach}
							<div class="form-inline">
								<div class="form-group">
									<input type="number" class="form-control" name="sa_rate[]" value="" min="0" max="100" step="0.1" maxlength="3">%
									<input name="rate_id[]" value="" type="hidden">
									<label class="checkbox-inline"><input type="checkbox" name="check" value="1">預設</label>
									<input type="hidden" name="is_default[]" value="0">
									<select class="form-control" id="rate_active" name="rate_active[]">
										<option value='1'>生效</option>
										<option value='0'>無效</option>
									</select>
								</div>
							</div>
						<!-- End rate -->
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2"></label>
							<div class="col-sm-10">
								<a style="display: inline-block;" href="javascript:;" onclick="addExtraInfo(this)"><span class="glyphicon glyphicon-plus pointer" style="margin: 10px 10px 10px 150px;"></span></a>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">選擇商品：</label>
						<div class="col-sm-10">
							<div class="well well-sm">
								<div class="form-group">
									<label for="search_goods">搜尋商品</label>
									<div class="input-group">
										<input class="form-control input-lg" id="search_goods" placeholder="輸入關鍵字 (條碼/編號/名稱)" type="text">
										<div class="input-group-btn">
											<button id="search_submit" class="btn btn-default input-lg" type="submit" title="搜尋">
												<i class="glyphicon glyphicon-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="well well-sm" style="max-height: 400px; overflow-y: scroll;">
								<table class="table table-striped table-responsive" id="goods_result">
									<thead>
										<tr>
											<th>編號</th>
											<th>條碼</th>
											<th>圖片</th>
											<th>名稱</th>
											<th>價格</th>
											<th>新增至{$sale_agent.name}</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td colspan="6" style="text-align: center; font-weight: bold;">請輸入關鍵字並按搜尋。</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">已選擇商品：</label>
						<div class="col-sm-10">
							<div class="well well-sm" style="max-height: 400px; overflow-y: scroll;">
								<table class="table table-striped table-responsive" id="added_result">
									<thead>
										<tr>
											<th>條碼</th>
											<th>圖片</th>
											<th>名稱</th>
											<th>價格</th>
											<th>代理價格</th>
											<th>從{$sale_agent.name}刪除</th>
										</tr>
									</thead>
									<tbody>
										{if $count_goods == 0}
										<tr>
											<td colspan="6" style="text-align: center; font-weight: bold;">請選擇商品。</td>
										</tr>
										{else}
										{foreach from=$goods_list item=good}
										<tr data-item-id='{$good.goods_id}'>
											<td class='item-id'><input type='hidden' name='item-id[]' value='{$good.goods_id}'></td>
											<td class='item-sn'>{$good.goods_sn}</td>
											<td class='item-thumb'><img src='../{$good.goods_thumb}' alt='{$good.goods_name}' class='thumb' /></td>
											<td class='item-name'>{$good.goods_name}</td>
											<td class='item-price'>{$good.shop_price}</td>
											<td class='item-ag-price'><input type='number' name='item-ag-price[]' min='1' max='999999' value='{$good.sa_price}''></td>
											<td class='col-del-item'><span class='del-item glyphicon glyphicon-remove pointer'></span></td>
										</tr>
										{/foreach}
										{/if}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2"></label>
						<div class="col-sm-10">
							<input type="hidden" name="act" value="{$form_action}" />
							<input class="btn btn-primary btn-md" type="button" id="confirm" value="提交">			
						</div>
					</div>
				</div>
				<div class="col-xs-0 col-sm-0 col-md-0 col-lg-2"></div>
			</div>


			<input id="sale_agent_id" name="sale_agent_id" type="hidden" value="{$sa_id}">
			<input type="hidden" name="act" value="{$form_action}">
		</form>
	</div>
</div>

{literal}
<script language="JavaScript">
	var added_item = [];

	{if $count_goods > 0}
	$('input[name="item-id[]"]').each(function(index) {
		added_item.push($(this).val());
	});
	deleteItem();
	{/if}

	$('#search_submit').click(function(e){
		e.preventDefault();
		var search_key = $.trim($(this).parent().siblings("input").val());
		$.ajax({
        url: 'erp_sales_agent.php',
        type: 'POST',
        dataType: 'JSON',
        data:{
            act: 'ajax_search_goods',
            keyword: search_key
        },
        success: function(res){
			var print_result = "";
			var gd_list = res.content;
            if(res.error == 0 && $.isArray(gd_list)) {
				//alert("Y");
				$.each(gd_list, function(k, v) {
					print_result += "<tr data-item-id='" + v.goods_id + "'>" + 
									"<td class='item-id'>" + v.goods_id + "</td>" + 
									"<td class='item-sn'>" + v.goods_sn + "</td>" + 
									"<td class='item-thumb'><img src='../" + v.goods_thumb + "' alt='" + v.goods_name + "' class='thumb' /></td>" + 
									"<td class='item-name'>" + v.goods_name + "</td>" + 
									"<td class='item-price'>" + v.shop_price + "</td>" + 
									"<td class='col-add-item'>" + "<span class='add-item glyphicon glyphicon-plus pointer'></span>" + "</td>" + 
									"</tr>";
				});
            } else {
				//alert("N");
				print_result = "<tr><td colspan='6' style='text-align: center; font-weight: bold;'>未找到相關商品，請嘗試其他關鍵字。</td></tr>";
			}
			$("#goods_result tbody").html(print_result);
			clickItem();
        }
    	});
	});

	function clickItem(){
		$('.add-item').off("click");
		$('.add-item').click(function(e){
			var sel_item = $(this).parent().parent();
			var sel_item_id = sel_item.attr('data-item-id');
			if ($.inArray(sel_item_id, added_item) >= 0){
				alert("商品已存在");
			} else {
				var print_result = "<tr data-item-id='" + sel_item_id + "'>" + 
								"<td class='item-id'><input type='hidden' name='item-id[]' value='" + sel_item_id + "'></td>" + 
								"<td class='item-sn'>" + sel_item.find('.item-sn').html() + "</td>" + 
								"<td class='item-thumb'>" + sel_item.find('.item-thumb').html() + "</td>" + 
								"<td class='item-name'>" + sel_item.find('.item-name').html() + "</td>" + 
								"<td class='item-price'>" + sel_item.find('.item-price').html() + "</td>" + 
								"<td class='item-ag-price'><input type='number' name='item-ag-price[]' min='1' max='999999'></td>" + 
								"<td class='col-del-item'>" + "<span class='del-item glyphicon glyphicon-remove pointer'></span>" + "</td>" + 
								"</tr>";
				sel_item.detach();
				if (added_item.length == 0){
					$("#added_result tbody").html(print_result);
				} else {
					$(print_result).appendTo("#added_result tbody");
				}
				added_item.push(sel_item_id);
				console.log(added_item);
				deleteItem();
			}
		})
	}

	function deleteItem(){
		$('.del-item').off("click");
		$('.del-item').click(function(e){
			var sel_item = $(this).parent().parent();
			var sel_item_id = sel_item.attr('data-item-id');
			console.log($.inArray(sel_item_id, added_item));
			var pos = $.inArray(sel_item_id, added_item)
			if (pos >= 0){
				added_item.splice($.inArray(sel_item_id, added_item), 1);
				sel_item.detach();
			}
			console.log(added_item);
		})
	}
	
	$('input[type="checkbox"]' ).bind( "change", function(e) {
		$('input[name="' + this.name + '"]').not(this).attr("checked", false);
		var target = $(this).parent().next('input[type=hidden]').val();
		if(this.checked)
		{
			target = 1;
				$('input[name="' + this.name + '"]').not(this).parent().next('input[type=hidden]').val(0);
		}
		else
		{
			target = 0;
		}
		$(this).parent().next('input[type=hidden]').val(target);
	});
	

	$('#confirm').click(function (e){
		e.preventDefault();
//		var delivery_style = $("#delivery_style").attr('value');
//
//		if (delivery_style == '')
//		{
//			alert('{$lang.erp_delivery_style_required}');
//			return false;
//		}
		if ($.trim($('#sale_agent_name').val()) == ""){
			alert('請輸入代理銷售名稱');
			return false;
		}
		var arr_rate = [];
		var got_rate = false;
		$('input[name="sa_rate[]"').each(function() {
			var rate = $.trim($(this).val());
			console.log(rate);
			if(rate !="" && $.isNumeric(rate) && rate >=0){
				got_rate = true;
			} else {
				$(this).val('');
			}
			arr_rate.push(got_rate);
		});
		if (!got_rate){
			alert('請輸入至少一個手續費');
			return false;
		}
		var got_default = false;
		var default_match_rate = false;

		$('input[name="is_default[]"]').each(function(index) {
			if ($(this).val()) {
				got_default = true;
				if (arr_rate[index]){
					default_match_rate = true;
				}
           }
		});
		if (!got_default){
			alert('請選擇一個預設手續費');
			return false;
		}
		if (!default_match_rate){
			alert('未輸入預設手續費');
			return false;
		}

		var correct_ag_price = true;
		$('input[name="item-ag-price[]"]').each(function(index) {
			var ag_price = $.trim($(this).val());
			if (ag_price == "" || !$.isNumeric(ag_price)) {
				correct_ag_price = false;
				return false;
           }
		});

		if (!correct_ag_price){
			alert('未輸入代理價格 / 價錢輸入錯誤');
			return false;
		}

		document.forms['add_sale_agent'].submit();
	});

	/**
	 * 新增一个自訂欄位
	 */
	function addExtraInfo(e)
	{
		if ($('input[name="sa_rate[]"]').length <= 4){
			var new_rate_row = "<div class='form-inline'>" + 
								"<div class='form-group'>" + 
								"<input type='number' class='form-control' name='sa_rate[]' value='' min='0' max='100' step='0.1' maxlength='3'>% " + 
								"<input name='rate_id[]' value='' type='hidden'>" + 
								"<label class='checkbox-inline'><input type='checkbox' name='check' value='1'>預設</label> " + 
								"<input type='hidden' name='is_default[]' value='0'>" + 
								"<select class='form-control' id='rate_active' name='rate_active[]'>" +
								"<option value='0'>無效</option>" +
								"<option value='1'>生效</option>" +
								"</select>" +
								"</div></div>";

			$("#group_rate").append(new_rate_row);
		}


		$('input[type="checkbox"]' ).bind( "change", function(e) {
			$('input[name="' + this.name + '"]').not(this).attr("checked", false);
			var target = $(this).parent().find('input[type=hidden]').val();
			if(this.checked)
			{
					target = 1;
					$('input[name="' + this.name + '"]').not(this).parent().find('input[type=hidden]').val(0);
			}
			else
			{
					target = 0;
			}
			$(this).parent().find('input[type=hidden]').val(target);
		});
	}
	/**
	* 删除自訂欄位
	*/
	function removeExtraInfo(obj)
	{

		var row = rowindex(obj.parentNode.parentNode);
		var tbl = document.getElementById('extrainfo-table');
		tbl.deleteRow(row);
	}

</script>
{/literal}
{include file="pagefooter.htm"}

