{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style type="text/css">

.editable_text {
   text-decoration-line: underline;
   text-decoration-style: solid; 
    cursor: pointer;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #828181;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}

#error_message {
    color:red;
}

</style>

<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{include file="erp_warehouse_transfer_progress_bar.htm"}
{include file="erp_warehouse_transfer_info.htm"}



<div class="x_panel">

<div class="form-div" style="height:0px;">
<div style="float:left;">
  <form class="form-inline" method="post"  action="erp_warehouse_transfer_create.php" name="searchForm">
    <div>
     <div id="notice_message" class="form-div" style="display:none;padding: 10px 0px;">
         <div id="success_message"></div>
         <div id="error_message"></div>
    </div>
    </div>
    <div id="notice_message" class="form-div" >
        <div id="success_message"></div>
        <div id="error_message"></div>
    </div>
  </form>
</div>
</div>

<!-- start stock check list -->

<div class="list-div" id="listDiv">
{/if}
<table id="stocktake" class="table table-striped table-bordered">
  <thead>
    <th data-id="item_id">序號</th>
    <th data-id="warehouse_from_name">出貨倉</th>
    <th data-id="image">圖片</th>
    <th data-id="goods_sn">{$lang.erp_stock_check_goods_sn}</th>
    <th data-id="goods_name">{$lang.erp_stock_check_goods_name}</th>
    <th width="120px" data-id="requested_qty">要求調貨數量</th>
    <th width="120px" data-id="transfer_qty">出貨數量</th>
    <th width="120px" data-id="received_html">實收數量</th>
  </thead>
</table>

{if $full_page}

</div>


</div>

<style>



</style>
<div id="step_action_bottom" >
{if $transfer_info.auto_created == 0}

{/if}
 <input style="    margin-top: 19px;" class="btn btn-success form-btn next_step" type="button" id="next_step" name="next_step" value="確定入貨" />
</div>

{include file="pagefooter.htm"}

<!-- end stock check list -->
<script language="javascript">	

var $table = yoho_dataTable();
transfer_id = {$transfer_id};

$("#transport_info_update").click(function(){
    $.ajax({
        url: 'erp_warehouse_transfer_transferring.php',
        type: 'post',
        cache: false,
        data: {
            'act': 'post_receiver_remark_update',
            'receiver_remark':$('#receiver_remark').val(),
            'transfer_id' : transfer_id,
            'admin_to' :$('#admin_to').val()
        },
        dataType: 'json',
        success: function (result) {
            alert("儲存成功");
        },
        error: function (xhr) {
         alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
         console.log(xhr);
        }
    });
});

$("#next_step").click(function(){
    // check
    if ($('#admin_to').val() == '') {
        alert('請選擇收貨人');
        return false;
    }

    if (confirm("確定入貨?")) {
        $.ajax({
            url: 'erp_warehouse_transfer_stock_in.php',
            type: 'post',
            cache: false,
            data: {
                'act': 'post_transfer_stock_in',
                'transfer_id' : transfer_id,
            },
            dataType: 'json',
            success: function (result) {
             $('#notice_message').show();
             $('#success_message').html('');
             $('#error_message').html('');
             if (result['error'] == 0){
                // redirect
                var url="erp_warehouse_transfer_finished.php?act=list&transfer_id=" + transfer_id;
                window.location=url;
             }else{
                if (result.message != '') {
                    $('#error_message').html(result.message);
                }
             }
            },
            error: function (xhr) {
             alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
             console.log(xhr);
            }
        });
    }
});


(function($){
 $.fn.focusTextToEnd = function(){
        this.focus();
        var $thisVal = this.val();
        this.val('').val($thisVal);
        return this;
    }
})(jQuery);

$(document).on("click",".received_qty_text",function(){
    var item_id = $(this).data('item-id');
    var $received_qty_text = $(this);
    var $received_qty_input = $(this).next(".received_qty_input");

    function received_qty_update()
    {
        // check qty is number
        if (!$.isNumeric($received_qty_input.val())) {
            console.log('請輸入數字');
            return false;
        }else{
            var temp_qty = Math.round($received_qty_input.val());
            $received_qty_input.val(temp_qty);
        }

        $.ajax({
            url: 'erp_warehouse_transfer_transferring.php',
            type: 'post',
            cache: false,
            data: {
                'act': 'post_received_qty_update',
                'transfer_id' : transfer_id,
                'item_id' : item_id,
                'received_qty' : $received_qty_input.val(),
            },
            dataType: 'json',
            success: function (result) {
                $('#notice_message').show();
                $('#success_message').html('');
                $('#error_message').html('');
                if (result['error'] == 0){
                    if ($received_qty_input.val() != $received_qty_text.data('transfer-qty')) {
                        $received_qty_text.addClass('red');
                    }else{
                        $received_qty_text.removeClass('red');
                    }

                    $received_qty_text.show();
                    $received_qty_text.html($received_qty_input.val());
                    $received_qty_input.hide();
                }else{
                    if (result.message != '') {
                        $('#error_message').html(result.message);
                    }
                }
            },
            error: function (xhr) {
             alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
             console.log(xhr);
            }
        });
    }

    // change qty edit mode
    $(this).hide();
    $received_qty_input.show()
    $received_qty_input.focusTextToEnd();
    $received_qty_input.blur(function(){
        received_qty_update();
    }).keyup(function(event) {
        if (event.keyCode === 13) {
            transfer_qty_update();
        }
    });
});

</script>
{/if}
