{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style type="text/css">
    .current_page_style
    {
    color:red;
    font-weight:bold;
    }
    
.action_button {
    color: #666 !important;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none !important;
    /* display: block; */
    padding: 4px 5px;
    border: 1px solid #278296;
    border-right: 2px solid #278296;
    border-bottom: 2px solid #278296;
    width: 56px;
    background-color: #ddeef2;
}

.action_button.archive {
    background-color: #bbdde5;
}

.error_message {
    color:red;
}

</style>

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<div id="wizard" class="form_wizard wizard_horizontal">
<ul class="wizard_steps anchor">
<li>
  <a href="#step-1" class="selected" isdone="1" rel="1">
    <span class="step_no">1</span>
    <span class="step_descr">匯入盤點資料<br>
    </span>
  </a>
</li>

<li>
  <a href="#step-3" class="disabled" isdone="0" rel="3">
    <span class="step_no">2</span>
    <span class="step_descr">遞交覆核<br>
    </span>
  </a>
</li>
<li>
  <a href="#step-3" class="disabled" isdone="0" rel="3">
    <span class="step_no">3</span>
    <span class="step_descr">盤點覆核<br>
    </span>
  </a>
</li>
<li>
  <a href="#step-4" class="disabled" isdone="0" rel="4">
    <span class="step_no">4</span>
    <span class="step_descr">盤點完成<br>
    </span>
  </a>
</li>
</ul>
</div>

<div class=" x_panel">
    <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">請輸入盤點標題 : <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" id="title" name="title" required="required" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">盤點負責人 :  <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="stocktake_person" id="stocktake_person">
                {foreach from=$stocktake_person_option item=opt}
                 <option value="{$opt.value}">{$opt.name}</option>
                {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">盤點貨倉 :  <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="warehouse_id" id="warehouse_id">
                <option value="0" {if $warehouse_id eq 0}selected="selected"{/if}>{$lang.erp_stock_check_select_warehouse}</option>
                {foreach from=$warehouse_list item=warehouse}
                <option value="{$warehouse.warehouse_id}" {if $warehouse.warehouse_id eq 1}selected="selected"{/if}>{$warehouse.name}</option>
                {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
         <label class="control-label col-md-2 col-sm-2 col-xs-12" for="stocktake_start_end_time">盤點開始與結束時間 : <span class="required">*</span>
         </label>
         <div class="col-md-6 col-sm-6 col-xs-12">
              <fieldset>
                <div class="control-group">
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                      <input readonly data-type="daterangetime" type="text" name="stocktake_start_end_time" id="stocktake_start_end_time" class="form-control" value="01/01/2016 - 01/25/2016">
                    </div>
                  </div>
                </div>
              </fieldset>
         </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">盤點資料 : <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea class="form-control col-md-7 col-xs-12" id="stocktake_data" rows="20" cols="54" placeholder=""></textarea>
            </div>
        </div>   
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input class=" btn btn-success" type="button" id="submit_import_data" name="submit_import_data" value="匯入" placeholder="">
            </div>
        </div>
    </form>
    <div class='error_message'></div>
</div>

<!-- start stock check list -->

<div class="list-div" id="listDiv">
{/if}


{if $full_page}

</div>

<!-- end stock check list -->
<script language="javascript">	
$("#submit_import_data").click(function(){
    var stocktake_data = $("#stocktake_data").val();
    var warehouse_id = $("#warehouse_id").val();
    var title = $("#title").val();
    var stocktake_person = $("#stocktake_person").val();
    var stocktake_start_time = $('#stocktake_start_end_time').data('daterangepicker').startDate.format('YYYY-MM-DD HH:mm:ss');
    var stocktake_end_time = $('#stocktake_start_end_time').data('daterangepicker').endDate.format('YYYY-MM-DD HH:mm:ss');
    
    if (title == '') {
        alert('請輸入盤點標題');
        return false;
    }

    if (stocktake_person == '') {
        alert('請選擇盤點負責人');
        return false;
    }

    if (warehouse_id == '') {
        alert('請選擇盤點貨倉');
        return false;
    }

    if (stocktake_start_time == '') {
        alert('請輸入盤點開始時間');
        return false;
    }

    if (stocktake_end_time == '') {
        alert('請輸入盤點結束時間');
        return false;
    }

    if (stocktake_data == '') {
        alert('請輸入盤點資料');
    }

    if (confirm('確定匯入?')) {
        $.ajax({
         url: 'erp_stocktake_create_by_import.php',
         type: 'post',
         cache: false,
         data: {
           'act': 'post_stocktake_create',
           'stocktake_data': stocktake_data,
           'stocktake_end_time': stocktake_end_time,
           'stocktake_start_time': stocktake_start_time,
           'warehouse_id': warehouse_id,
           'stocktake_person' : stocktake_person,
           'title': title,
         },
         dataType: 'json',
         success: function (result) {
            console.log('result',result);
            if (result['error'] == 0){
                var url="erp_stocktake_process.php?act=list&stocktake_id=" + result.content;
                window.location=url;
            }else{
                $(".error_message").html(result.message);
            }
         },
         error: function (xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
         }
        });
    } else {
        return false;
    }
});
</script>

{include file="pagefooter.htm"}
{/if}
