{include file="pageheader.htm"}

<link href="styles/ERP.css" rel="stylesheet" type="text/css" />



<div class=" x_panel">
	<div id="outside_container">
		<div id="inner_container">
			<form name="add_warehousing_style"  id="add_warehousing_style"  action="erp_warehousing_style.php"  onsubmit="javascript:return addWareHousingStyle(this);" method="post">
				<table>
					<tr>
						<td width="30%"><span class="tb_lable">{$lang.erp_warehousing_style}：</span></td>
						<td><input name="warehousing_style" id="warehousing_style" type="text" value="{$warehousing_style_info.warehousing_style}" /></td>
						<td><span style="color:red;font-weight:normal;">{$lang.erp_required_item}</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">{$lang.erp_is_valid}：</span></td>
						<td>
							<select id="is_valid" name="is_valid" >
									<option value='0' {if $warehousing_style_info.is_valid eq 0}selected="selected"{/if} >{$lang.no}</option>
									<option value='1' {if $warehousing_style_info.is_valid eq 1}selected="selected"{/if}>{$lang.yes}</option>
							</select>
						</td>
						<td><span>&nbsp;</span></td>
					</tr>					
					<tr>
						<td  colspan="3" align="center">
						<input type="submit" class="btn" value="确定" >
						</td>
					</tr>																									
				</table>
				<input id="warehousing_style_id" name="warehousing_style_id" type="hidden" value="{$warehousing_style_info.warehousing_style_id}">
				<input type="hidden" name="act" value="{$act}">	
			</form>
		</div>
	</div>
</div>

{literal}
<script language="JavaScript">

    function addWareHousingStyle()
	{
		var warehousing_style=$("#warehousing_style").attr('value');

		if(warehousing_style=='')
		{
			alert('{$lang.erp_warehousing_style_required}');
			return false;
		}		
		return true;
	}   
	
</script>
{/literal}
{include file="pagefooter.htm"}

