{include file="pageheader.htm"}

<link href="styles/erp_warehousing.css" rel="stylesheet" type="text/css" />

{insert_scripts files="../js/jquery.blockUI.2.70.js"}
<div class=" x_panel">
{include file="erp_stock_record_search.htm"}

<style type="text/css">
	.current_page_style
	{
		color:red;
		font-weight:bold;
	}
</style>


<!-- start stock record list -->
 <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action ">
  <tr>
    <th width="50">{$lang.erp_stock_record_id}</th>
    <th width="60">{$lang.erp_stock_record_goods_img}</th>	
	<th width="120">{$lang.erp_stock_record_goods_sn}</th>
 	<th>{$lang.erp_stock_record_goods_name}</th>
	<th width="80">{$lang.erp_stock_record_warehouse_name}</th>
	<th width="100">{$lang.erp_stock_record_w_d_style}</th>
	<th width="100">{$lang.erp_stock_record_w_d_sn}</th>
	<th width="120">{$lang.erp_stock_record_order_sn}</th>
	<th width="100">{$lang.erp_stock_record_w_d_name}</th>
	<th>{$lang.erp_stock_record_date}</th>
	<th width="50">{$lang.erp_stock_record_w_d_qty}</th>
	<th width="50">{$lang.erp_stock_record_stock}</th>
  </tr>
  {foreach from=$stock_record key=key item=stock_record}
 	<tr>
 		<td align="center">{$stock_record.stock_id}</td>
		<td align="center"><img width="50" height="50" src="{if $stock_record.goods_info.goods_img}{$stock_record.goods_info.goods_img}{else}images/no_img.gif{/if}" /></td>
		<td align="center">{$stock_record.goods_info.goods_sn}</td>
		<td align="center">{$stock_record.goods_info.goods_name}</td>
		<td align="center">{$stock_record.warehouse_name}</td>
		<td align="center">{$stock_record.w_d_style}</td>
		<td align="center">
			<a href="{if $stock_record.stock_style eq 'w'}erp_warehousing_manage.php?act=list&amp;warehousing_sn={$stock_record.w_d_sn}{elseif $stock_record.stock_style eq 'tr'}erp_warehouse_transfer_create.php?act=list&amp;transfer_id={$stock_record.transfer_id}{else}erp_delivery_manage.php?act=list&amp;delivery_sn={$stock_record.w_d_sn}{/if}">
				{$stock_record.w_d_sn}
			</a>
		</td>
		<td align="center">
			<a href="{if $stock_record.stock_style eq 'w' and $stock_record.w_d_style_id == '1'}erp_order_manage.php?act=order_list&amp;order_sn={$stock_record.order_sn}{else}order.php?act=list&amp;order_sn={$stock_record.order_sn}{/if}">
				{$stock_record.order_sn}
			</a>
		</td>
		
		<td align="center">{$stock_record.w_d_name}</td>
		<td align="center">{$stock_record.act_date}</td>
		<td align="center"><span style="font-weight:bold;color:{if $stock_record.qty lt 0}red;{else}blue;{/if}">{$stock_record.qty}</span></td>
 		<td align="center"><a href="erp_stock_inquiry.php?act=list&goods_sn={$stock_record.goods_info.goods_sn}&goods_name=" title="詳細庫存">{$stock_record.stock}</a></td>
	</tr>
  {foreachelse}
  <tr><td class="no-records" colspan="15">{$lang.no_records}</td></tr>
  {/foreach}
  <tr><td colspan="15" align="right">{$pager}</td></tr> 
</table>
</div>
<!-- end stock record list -->
</div>
{include file="pagefooter.htm"}

