
<div class="form-div" style="overflow:hidden;height:25px;">
<div style="float:left;">
  <form action="erp_goods_barcode.php" name="searchForm">
    <input type="hidden" name="act" value="list" />
	<img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
	
    <!-- 货号 -->
    {$lang.erp_barcode_goods_sn} <input type="text" name="goods_sn" id="goods_sn" size="10" value="{$goods_sn}" />

    <!-- 名称 -->
    {$lang.erp_barcode_goods_name} <input type="text" name="goods_name" id="goods_name"  size="15" value="{$goods_name}" />	

    <!-- 条码 -->
    {$lang.erp_barcode_goods_barcode} <input type="text" name="goods_barcode" id="goods_barcode"  size="15" value="{$goods_barcode}" />		

    <input type="submit" value="{$lang.button_search}" class="btn btn-primary" />
  </form>
</div>

<div style="float:right;">
	<img id="print_barcode" src="images/print.gif" />
</div>

<div style="float:right; margin-right:10px;">
	<img id="export_barcode" src="images/export.gif" />
</div>
</div>

<script language="javascript">	
$(document).ready(function(){
	
	$("#print_barcode").css('cursor','hand');
	
	$("#print_barcode").click(function(){
		
		var goods_sn=$("#goods_sn").attr('value');
		var goods_name=$("#goods_name").attr('value');
		var goods_barcode=$("#goods_barcode").attr('value');
		
		var url="erp_goods_barcode.php?act=print&goods_sn="+goods_sn+"&goods_name="+goods_name+"&goods_barcode="+goods_barcode+"&page={$page}";
		window.open(url);	
	});
	
	$("#export_barcode").css('cursor','hand');
	
	$("#export_barcode").click(function(){
		
		var goods_sn=$("#goods_sn").attr('value');
		var goods_name=$("#goods_name").attr('value');
		var goods_barcode=$("#goods_barcode").attr('value');	
		
		var url="erp_goods_barcode.php?act=export&goods_sn="+goods_sn+"&goods_name="+goods_name+"&goods_barcode="+goods_barcode+"&page={$page}";
		
		Ajax.call(url, '' , exportBarcodeResponse, 'POST', 'JSON');
		
		function exportBarcodeResponse(res)
		{			
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.location=res.url;	
			}
		}
	});	
	
});
</script>