


<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<div class="form-div" style="overflow:hidden;height:25px;">
<div style="float:left;">
  <form action="erp_stock_check.php" name="searchForm">
    <input type="hidden" name="act" value="list" />
	<img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />

	<!-- 仓库 -->
	{$lang.erp_stock_check_warehouse_name}
	<select name="warehouse_id" id="warehouse_id">
		<option value="0" {if $warehouse_id eq 0}selected="selected"{/if}>{$lang.erp_stock_check_select_warehouse}</option>
		{foreach from=$warehouse_list item=warehouse}
			<option value="{$warehouse.warehouse_id}" {if $warehouse_id eq $warehouse.warehouse_id}selected="selected"{/if}>{$warehouse.name}</option>
		{/foreach}
	</select>

	<!-- 供货商 -->
	<select name="s_id" id="s_id">
	    <option value="0" {if $supplier_id eq 0}selected="selected"{/if} >{$lang.erp_stock_record_search_supplier}</option>
		{foreach from=$supplier_list item=supplier}
			<option value="{$supplier.supplier_id}" {if $supplier_id eq $supplier.supplier_id}selected="selected"{/if}>--{$supplier.name}</option>
		{/foreach}
	</select>
		
	<!-- 品牌 -->
	<select name="b_id" id="b_id">
		<option value="0" {if $brand_id eq 0}selected="selected"{/if} >{$lang.erp_stock_record_search_brand}</option>
		{foreach from=$brand_list item=brand}
			<option value="{$brand.brand_id}" {if $brand_id eq $brand.brand_id}selected="selected"{/if}>--{$brand.brand_name}</option>
		{/foreach}
	</select>
	
	<!-- 货号 -->
	{$lang.erp_stock_check_goods_sn}<input type="text" size="10" name="goods_sn" id="goods_sn"  value="{$goods_sn}" />

	<!-- 产品名称 -->
	{$lang.erp_stock_check_goods_name}<input type="text" size="12" name="goods_name" id="goods_name" value="{$goods_name}" />	
	
    <!-- 起始日期 -->
    {$lang.erp_stock_check_search_start_date} <input size="10" type="text" name="s_date" id="s_date" size="15" value="{$start_date}" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" />
	
	<!-- 结束日期 -->
	{$lang.erp_stock_check_search_end_date} <input size="10" type="text" name="e_date" id="e_date" size="15" value="{$end_date}" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" />
	
    <input type="submit" value="{$lang.button_search}" class="btn btn-primary" />
  </form>
</div>

<div style="float:right;">
	<img id="print_stock_check" src="images/print.gif" />
</div>

<div style="float:right; margin-right:10px;">
	<img id="export_stock_check" src="images/export.gif" />
</div>
</div>

<script language="javascript">	
$(document).ready(function(){
	
	$("#print_stock_check").css('cursor','hand');
	
	$("#print_stock_check").click(function(){
		
		var start_date=$("#s_date").attr('value');
		var end_date=$("#e_date").attr('value');
		var warehouse_id=$("#warehouse_id").attr('value');
		var goods_sn=$("#goods_sn").attr('value');
		var goods_name=$("#goods_name").attr('value');
		var supplier_id=$("#s_id").attr('value');
		var brand_id=$("#b_id").attr('value');				
		
		var url="erp_stock_check.php?act=print&s_date="+start_date+"&e_date="+end_date+"&warehouse_id="+warehouse_id+"&goods_sn="+goods_sn+"&goods_name="+goods_name+"&s_id="+supplier_id+"&b_id="+brand_id+"&page={$page}";
		
		window.open(url);	
	});
	
	$("#export_stock_check").css('cursor','hand');
	$("#export_stock_check").click(function(){
		
		var start_date=$("#s_date").attr('value');
		var end_date=$("#e_date").attr('value');
		var warehouse_id=$("#warehouse_id").attr('value');
		var goods_sn=$("#goods_sn").attr('value');
		var goods_name=$("#goods_name").attr('value');
		var supplier_id=$("#s_id").attr('value');
		var brand_id=$("#b_id").attr('value');	
		
		var url="erp_stock_check.php?act=export&s_date="+start_date+"&e_date="+end_date+"&warehouse_id="+warehouse_id+"&goods_sn="+goods_sn+"&goods_name="+goods_name+"&s_id="+supplier_id+"&b_id="+brand_id+"&page={$page}";

		Ajax.call(url, '' , exportStockResponse, 'POST', 'JSON');
		
		function exportStockResponse(res)
		{			
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.location=res.url;	
			}
		}
	});	
	
});
</script>