{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style>
.calendar {
  z-index: 5000;
}

#success_message {
  color :green;
}

#error_message {
  color :red;
}

.highline {
  color:red;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #34495e;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}
</style>

{include file="erp_rma_progress_bar.htm"}
{include file="erp_rma_goods_info.htm"}

<div class=" x_panel">
<div class="x_title">
    <h2>操作</h2>
    <div class="clearfix"></div>
</div>
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">負責部門 : <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12 form_text">
            Warehouse Team
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">跟進人 :  <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control" style="width: 80%; display: inline-block;" name="user_id" id="user_id">
            {foreach from=$person_in_charge_option item=opt}
                <option {if $opt.value == $rma_basic_info.person_in_charge} selected {/if} value="{$opt.value}">{$opt.name}</option>
            {/foreach}
            </select>
            <input class=" btn btn-success" type="button" id="save_user_btn" value="儲存" class="button" />
            <div class="green" id="save_user_success"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 供應商: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12 form_text">
            {$rma_basic_info.supplier_name}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 操作: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="checkbox">
                <input type="checkbox" class="flat" id="supplier_picked" style="position: absolute; opacity: 0;"> 確定供應商已經取貨
            </label>
        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required"></span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <textarea class="form-control col-md-7 col-xs-12" id="note" rows="2" cols="54" placeholder="填寫備註"></textarea>
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_content">
                <input class=" btn btn-success" type="button" id="continue_btn" value="下一步" class="button" />
                <div id="error_msg" class="red"></div>
            </div>
        </div>
    </div>
        
</form>
</div>

{include file="erp_rma_log.htm"}

{include file="erp_rma_back_previous.htm"}

<!-- end stock check list -->
{include file="pagefooter.htm"}

<script>
var $table = yoho_dataTable();
var rma_id = {$rma_id};
var $popup2 = '';
console.log('rma_id',rma_id);

$('#continue_btn').click(function(){
    var user_id = $("#user_id").val();
    var supplier_picked = $('#supplier_picked').is(':checked');
    var note = $("#note").val();
    console.log('user_id',user_id);
    console.log('supplier_picked',supplier_picked);
    console.log('note',note);

    if (user_id == '') {
        alert('請選擇跟進人');
        return false;
    } else if (supplier_picked == false) {
        alert('要確定供應商已經取貨,才可進下一步');
        return false;
    }

    $.ajax({
      url: 'erp_rma_awaiting.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_rma_awaiting_submit',
        'user_id': user_id,
        'supplier_picked': supplier_picked,
        'note' : note,
        'rma_id' : rma_id
      },
      dataType: 'json',
      success: function (result) {
        if (result['error'] == 0) {
            var url="erp_rma_repairing.php?act=list&rma_id=" + rma_id ;
            window.location=url;
        } else {
            $('#error_msg').html(result.message);
            //alert(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});

</script>
{/if}
