{include file="pageheader.htm"}

{include file="erp_bank_account_details_search.htm"}



<style type="text/css">
	.current_page_style
	{
		color:red;
		font-weight:bold;
	}
</style>

<!-- start bank account info -->
<div class="list-div">
<table class="table table-striped table-bordered bulk_action">
  <tr>
	<th>{$lang.erp_bank_account_name}</th>
	<th>{$lang.erp_bank_account_no}</th>
	<th width="20%">{$lang.erp_bank_account_balance}</th>
	<th width="18%">{$lang.erp_operation}</th>
  </tr>
  <tr>
		<td>{$bank_account_info.account_name}</td>
		<td >{$bank_account_info.account_no}</td>
		<td align="center"><span style="{if $bank_account_info.account_balance gt 0}color:blue;font-weight:bold;{else}color:red;font-weight:bold;{/if}">{$bank_account_info.account_balance}</span></td>
		<td align="center">
			<a target="_blank" href="erp_finance_manage.php?act=print_bank_details&account_id={$bank_account_info.account_id}&start_date={$start_date}&end_date={$end_date}">{$lang.erp_operation_print}</a>
		</td>
	</tr>
</table>
</div>
<!-- end bank account info -->
<br />
<!-- start bank account details -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action">
  <tr>
    <th  width="5%">{$lang.erp_bank_account_details_id}</th>
	<th>{$lang.erp_bank_account_details_income_expenses}</th>
	<th>{$lang.erp_bank_account_balance}</th>
	<th>{$lang.erp_bank_account_details_payment_gathering}</th>
	<th>{$lang.erp_bank_account_details_order}</th>
	<th width="10%">{$lang.erp_bank_account_details_date}</th>
	<th width="20%">{$lang.erp_bank_account_details_remark}</th>
  </tr>
{foreach from=$bank_details key=key item=bank_details}
	<tr>
		<td align="center">{$key}</td>
		<td align="center"><span style="{if $bank_details.income_expenses gt 0}color:blue;font-weight:bold;{else}color:red;font-weight:bold;{/if}">{$bank_details.income_expenses}</span></td>
		<td align="center"><span style="{if $bank_details.balance gt 0}color:blue;font-weight:bold;{else}color:red;font-weight:bold;{/if}">{$bank_details.balance}</span></td>
		<td align="center">
			{if $bank_details.payment_gathering_info.style eq 'payment'}
				{$bank_details.payment_gathering_info.payment_sn}
			{else}
				{$bank_details.payment_gathering_info.gathering_sn}
			{/if}
		</td>
		<td align="center">{$bank_details.order_sn}</td>
		<td align="center">{$bank_details.record_date}</td>	
		<td align="center">{$bank_details.remark}</td>	
	</tr>
{foreachelse}
<tr><td class="no-records" colspan="7">{$lang.no_records}</td></tr>
{/foreach}
<tr><td colspan="7" align="right">{$pager}</td></tr> 
</table>
</div>
<!-- end bank account details -->

{include file="pagefooter.htm"}

