<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>



<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style>

.popup_block {
    text-align: center;
    display: inline;
    padding: 4px;
}

.stocktake_dropdown_menu li a {
    font-size: 13px;
    padding: 7px 20px;
    line-height: 1.928571;
}

.filter_block {
    display: inline-block;
}

</style>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="erp_warehouse_transfer.php?act=list" style="margin:0px">
        <div class="filter_block">
        類型:<br> <select class="form-control" name="type" id="type">
            <option value="-1" selected>全部</option>
            {foreach from=$type_options  key=id item=type}
                <option value="{$id}" {if $id ==1} selected {/if} >{$type}</option>
            {/foreach}
        </select>
        </div>
        <div class="filter_block">
        狀態:<br><select class="form-control" name="status" id="status">
            <option value="-1" selected>全部</option>
            {foreach from=$status_options  key=id item=status}
                <option value="{$id}" >{$status}</option>
            {/foreach}
        </select>
        </div>
        <div class="filter_block">
        調貨原因: <br><select class="form-control" name="reason_type" id="reason_type">
         <option value="-1" selected>全部</option>
         {foreach from=$reason_type_options  key=id item=type}
             <option value="{$id}" >{$type}</option>
         {/foreach}
        </select>
        </div>

        <div class="filter_block">
        開單員工: <br><select class="form-control" name="operator_id" id="operator_id">
         <option value="-1" selected>全部</option>
         {foreach from=$operator_options  key=id item=user}
             <option value="{$user.value}" >{$user.name}</option>
         {/foreach}
        </select>
        </div>
        <div class="filter_block">
        出貨倉: <br><select class="form-control" name="warehouse_from" id="warehouse_from">
         <option value="-1" selected>全部</option>
         {foreach from=$warehouse_list_options  key=id item=warehouse}
             <option value="{$warehouse.warehouse_id}" >{$warehouse.name}</option>
         {/foreach}
        </select>
        </div>
         <div class="filter_block">
        收貨倉: <br><select class="form-control" name="warehouse_to" id="warehouse_to">
         <option value="-1">全部</option>
         {foreach from=$warehouse_list_options  key=id item=warehouse}
             <option value="{$warehouse.warehouse_id}" { if $filter.warehouse_to == $warehouse.warehouse_id } selected {/if} >{$warehouse.name}</option>
         {/foreach}
        </select>
        </div>
        <div class="filter_block">
        貨號:<br>
        <input class="form-control" name="transfer_sn" type="text" id="goods_sn" size="15" value='{$filter.goods_sn}' /> 
        </div>
        <div class="filter_block">
        編號:<br>
        <input class="form-control" name="transfer_sn" type="text" id="transfer_sn" size="15" value='{$filter.transfer_sn}' /> 
        </div>

        <div class="filter_block">
         <input class="btn btn-success form-btn" type="button" id="transfer_search" name="transfer_search" value="{$lang.query}" />
        </div>


        
      </form>
    </div>
        <div style="float:right">
            <input class="btn btn-success  form-btn" type="button" id="create_transfer" value="建立調貨單" />
        </div>
    <div class="list-div" id="listDiv">
        
     <input style="display:inline-block;visibility:hidden;" type="button" data-change-type="0" class="bulk_confirm_action btn btn-warning" value="封存">
     <input style="display:inline-block;visibility:hidden;" type="button" data-change-type="2" class="bulk_confirm_action btn btn-danger" value="刪除">
        <table id="stocktake" class="table table-striped table-bordered bulk_action">
        <thead>
        <th data-id="transfer_id" data-key="transfer_id">序號
        </th>
        <th data-id="transfer_sn">編號
        </th>
        <th data-id="operator_avatar" >開單員工
        </th>
        <th width=100px data-sort=0 data-id="create_time">建立日期</th>
        <th width=150px data-id="reason_type">原因</th>
        <th width=100px data-id="warehouse_from_name">出貨貨倉</th>
        <th width=100px data-id="warehouse_to_name">收貨貨倉</th>
        <th data-id="admin_from_avatar">出貨員工</th>
        <th data-id="admin_to_avatar">收貨員工</th>
        <th width=100px data-sort=0 data-id="transfer_time">出貨日期</th>
        <th width=100px data-sort=0 data-id="delivered_time">收貨日期</th>
        <th data-sort=0 data-id="status">狀態</th>
        <th width=100px data-sort=0 data-id="follow_up_remark_1">跟進備註</th>
        <th data-sort=0 data-id="actions">操作</th>
        </thead>
        </table>
    </div>

<div class="modal fade" role="dialog" id="popup_follow_up_remark_modal">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">跟進備註</h4>
        </div>
        <div class="modal-body">
            <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">備註 : <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control col-md-7 col-xs-12" id="popup_follow_up_remark_data" rows="20" cols="54" placeholder=""></textarea>
                </div>
            </div>   
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class=" btn btn-success" type="button" id="submit_follow_up_remark_data" name="submit_follow_up_remark_data" value="確定" placeholder="">
                </div>
            </div>
            </form>
            <div id="notice_message" class="form-div" style="display:none">
                <div id="success_message"></div>
                <div id="error_message"></div>
            </div>
        </div>
    </div>
    </div>
</div>


{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
   // 开始检查订单
    //popupBlock.init();
}

yohoTable.drawCallback = function(setting,api) {
    // inital order goods
    $(".tr_finished_block").closest('tr').css('background','rgba(0, 128, 0, 0.16)');

    $(".tr_is_not_correct_block").closest('tr').css('background','#ff9800ad');
};


var $table = yoho_dataTable();

var current_rma_id = 0;

// $("#import_stocktake_popup").click(function(){
//     $popup2 = modal.create('匯入盤點資料', $("#popup_template"));
//     modal.show($popup2);
// });

$("#create_transfer").click(function(){
    $.ajax({
    url: 'erp_warehouse_transfer.php',
    type: 'post',
    cache: false,
    data: {
        'act': 'post_warehouse_transfer_create'
    },
    dataType: 'json',
    success: function (result) {
    if (result['error'] == 0) {
        window.location.href = "erp_warehouse_transfer_create.php?act=list&transfer_id="+result.content;
    } else {
        alert(result.message);
    }
    },
    error: function (xhr) {
    alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
    console.log(xhr);
    }
    });

});

$(document).on('click','.confirm_action',function(){
    var transfer_id = $(this).data('transfer-id');
    var change_type = $(this).data('change-type');
    if (change_type == 0) {
        var confirm_word = '確定執行封存?';
    } else {
        var confirm_word = '確定執行刪除?';
    }
    if(confirm(confirm_word)){
        // save
        $.ajax({
           url: 'erp_warehouse_transfer.php',
           type: 'post',
           cache: false,
           data: {
           'act': 'post_transfer_type_change',
           'transfer_id': transfer_id,
           'change_type': change_type,
        },
        dataType: 'json',
        success: function(result) {
            if (result.error == 0) {
                $table.draw();
            } else {
                alert(result.message);
            }
        },
        error: function(xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
        }
        }); 
    }
    else{
        return false;
    }
});


$("#transfer_search").click(function(){
    var $filter = {};
    $filter.status = $("#status").val();
   // $filter.type = $("#type").val();
    $filter.transfer_sn = $("#transfer_sn").val();
    $filter.goods_sn = $("#goods_sn").val();
    $filter.reason_type = $("#reason_type").val();
    $filter.warehouse_from = $("#warehouse_from").val();
    $filter.warehouse_to = $("#warehouse_to").val();
    $filter.operator_id = $("#operator_id").val();
    $filter.type = $("#type").val();
    $table.search($filter);
    $(".bulk_confirm_action").css('visibility', 'hidden');
    return;
});

$("#submit_follow_up_remark_data").click(function(){
    var popup_follow_up_remark_data = $('#popup_follow_up_remark_data').val();

    $.ajax({
    url: 'erp_warehouse_transfer.php',
    type: 'post',
    cache: false,
    data: {
        'act': 'post_warehouse_transfer_follow_up_remark_submit',
        'follow_up_remark': popup_follow_up_remark_data,
        'transfer_id' : current_transfer_id,
    },
    dataType: 'json',
    success: function (result) {
      if (result['error'] == 0) {
        var $filter = {};
        $filter.status = $("#status").val();
        $filter.page = 1;
        $table.search($filter);
        $('#popup_follow_up_remark_modal').modal('toggle');
      } else {
        alert(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });
});

$(document).on('click','.follow_up_remark',function(){
    current_transfer_id = $(this).data('transfer-id');
    console.log('current_transfer_id',current_transfer_id);
    $('#popup_follow_up_remark_data').val('');
    console.log('aaaaa',$(this).html());
    if ($(this).html() != '請輸入') {
        $('#popup_follow_up_remark_data').val($(this).html());
    }
});

//-->
</script>
{/literal}

