{include file="pageheader.htm"}


{insert_scripts files="../js/jquery.blockUI.2.23.js"}

{include file="erp_stock_transfer_search.htm"}

<style type="text/css">
	.current_page_style
	{
		color:red;
		font-weight:bold;
	}
</style>

<script type="text/javascript">
	
	function add_transfer()
	{
		function addStockTransferResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.document.location='erp_stock_transfer_manage.php?act=edit&transfer_id='+res.transfer_id;
			}			
		}
		
		Ajax.call('erp_stock_transfer.php?act=add_transfer', '', addStockTransferResponse, 'POST', 'JSON');
	}

	function delete_transfer(transfer_id)
	{
		function deleteTransferResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.document.location="erp_stock_transfer_manage.php?act=list";;
			}			
		}
		if(confirm('{$lang.erp_stock_transfer_sure_to_delete}'))
		{	
			Ajax.call('erp_stock_transfer.php?act=delete_transfer', 'transfer_id='+transfer_id, deleteTransferResponse, 'POST', 'JSON');
		}			
	}
	
	function post_transfer(transfer_id)
	{
		function postTransferResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.document.location="erp_stock_transfer_manage.php?act=list";
			}				
		}
		if(confirm('{$lang.erp_stock_transfer_sure_to_post}'))
		{	
			Ajax.call('erp_stock_transfer.php?act=post_transfer', 'transfer_id='+transfer_id, postTransferResponse, 'POST', 'JSON');
		}
	}	
	
	function withdrawal_transfer(transfer_id)
	{
		function withdrawalTransferResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.document.location="erp_stock_transfer_manage.php?act=list";
			}				
		}
		if(confirm('{$lang.erp_stock_transfer_sure_to_withdrawal}'))
		{	
			Ajax.call('erp_stock_transfer.php?act=withdrawal_to_edit', 'transfer_id='+transfer_id, withdrawalTransferResponse, 'POST', 'JSON');
		}
	}		
</script>

<!-- start stock transfer list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action">
  <tr>
    <th  width="5%">{$lang.erp_stock_transfer_id}</th>
    <th>{$lang.erp_stock_transfer_warehouse_from}</th>
	<th>{$lang.erp_stock_transfer_agency_from}</th>
	<th>{$lang.erp_stock_transfer_warehouse_to}</th>
	<th>{$lang.erp_stock_transfer_agency_to}</th>
 	<th>{$lang.erp_stock_transfer_admin_from}</th>	
	<th>{$lang.erp_stock_transfer_admin_to}</th>	
	<th>{$lang.erp_stock_transfer_transfer_qty}</th>
	<th>{$lang.erp_stock_transfer_create_time}</th>
	<th>{$lang.erp_stock_transfer_transfer_time}</th>
	<th>{$lang.erp_stock_transfer_status}</th>
	<th width="18%">{$lang.erp_operation}</th>	
  </tr>
  {foreach from=$stock_transfer_list key=key item=transfer}
 	<tr>
 		<td align="center">{$transfer.transfer_id}</td>
		<td align="center">{$transfer.warehouse_from_name}</td>
		<td align="center">{$transfer.agency_from}</td>
		<td align="center">{$transfer.warehouse_to_name}</td>
		<td align="center">{$transfer.agency_to}</td>
		<td align="center">{$transfer.admin_from_name}</td>
		<td align="center">{$transfer.admin_to_name}</td>
		<td align="center">{$transfer.transfer_qty}</td>
		<td align="center">{$transfer.create_time}</td>
		<td align="center">{$transfer.transfer_time}</td>
		<td align="center">
			{if $transfer.status eq 1}{$lang.erp_stock_transfer_status_inputing}{/if}
			{if $transfer.status eq 2}{$lang.erp_stock_transfer_status_await_recieve}{/if}
			{if $transfer.status eq 3}<span style="color:blue;">{$lang.erp_stock_transfer_status_approve_pass}</span>{/if}
			{if $transfer.status eq 4}<span style="color:red;">{$lang.erp_stock_transfer_status_approve_reject}</span>{/if}
		</td>
 		<td align="center">
	 		{if $transfer.available_act.view eq 1}<a href="erp_stock_transfer_manage.php?act=view&transfer_id={$transfer.transfer_id}">{$lang.erp_operation_view}</a>{/if}
			{if $transfer.available_act.edit eq 1 && $transfer.admin_from eq $admin_id}<a href="erp_stock_transfer_manage.php?act=edit&transfer_id={$transfer.transfer_id}">{$lang.erp_operation_edit}</a>{/if}
			{if $transfer.available_act.delete eq 1 && $transfer.admin_from eq $admin_id}<a href="javascript:delete_transfer({$transfer.transfer_id})">{$lang.erp_operation_delete}</a>{/if}
			{if $transfer.available_act.post eq 1 && $transfer.admin_from eq $admin_id}<a href="javascript:post_transfer({$transfer.transfer_id})">{$lang.erp_operation_post_transfer}</a>{/if}
			{if $transfer.available_act.confirm eq 1 && $transfer.admin_from neq $admin_id}
			<a href="erp_stock_transfer_manage.php?act=confirm_transfer&transfer_id={$transfer.transfer_id}">{$lang.erp_operation_confirm_transfer}</a>
			<a href="javascript:withdrawal_transfer({$transfer.transfer_id})">{$lang.erp_operation_withdrawal_transfer}</a>
			{/if}
			{if $transfer.available_act.view eq 1 && $transfer.status eq 3}
				<a target="_blank" href="erp_stock_transfer_manage.php?act=print&transfer_id={$transfer.transfer_id}">{$lang.erp_operation_print}</a>
			{/if}		
 		</td>
	</tr>
  {foreachelse}
  <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
  {/foreach}
  <tr><td colspan="12" align="right">{$pager}</td></tr> 
</table>
</div>
<!-- end stock record list -->

{include file="pagefooter.htm"}

