{include file="pageheader.htm"}



<!-- start warehouse list -->
 <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action">
  <tr>
    <th  width="5%">{$lang.erp_warehouse_id}</th>
    <th width="10%">{$lang.erp_warehouse_name}</th>	
	<th width="10%">{$lang.erp_warehouse_agency}</th>	
	<th>{$lang.erp_warehouse_description}</th>
	<th width="8%">{$lang.erp_warehouse_warehousing_number}</th>
	<th width="8%">{$lang.erp_warehouse_delivery_number}</th>
	<th width="8%">{$lang.erp_warehouse_is_on_sale}</th>
	<th width="8%">{$lang.erp_is_valid}</th>	
	<th width="10%">{$lang.erp_operation}</th>
  </tr>
  {foreach from=$warehouse_list key=key item=warehouse_info}
  <tr>
  	<td align="center">{$warehouse_info.warehouse_id}</td>
	<td>{$warehouse_info.name}</td>
	<td>{$warehouse_info.agency_name}</td>
	<td>
		<span id="span_description_{$warehouse_info.warehouse_id}">{$warehouse_info.description}</span>
	</td>  
	<td align="center">{$warehouse_info.warehousing_number}</td>  	
	<td align="center">{$warehouse_info.delivery_number}</td>  	
	<td align="center"><span id="is_on_sale_{$warehouse_info.warehouse_id}" style="cursor:pointer;color:{if $warehouse_info.is_on_sale eq 1}red;{else}black;{/if}">{if $warehouse_info.is_on_sale eq 1}{$lang.erp_yes}{else}{$lang.erp_no}{/if}</span></td>
	<td align="center"><span id="is_valid_{$warehouse_info.warehouse_id}" style="cursor:pointer;color:{if $warehouse_info.is_valid eq 1}red;{else}black;{/if}">{if $warehouse_info.is_valid eq 1}{$lang.erp_yes}{else}{$lang.erp_no}{/if}</span></td>  
	<td align="center">
		
		<a href="erp_warehouse.php?act=edit&id={$warehouse_info.warehouse_id}">{$lang.erp_operation_edit}</a>
		{if $warehouse_info.warehouse_id neq 1}
		&nbsp;&nbsp;
		<a href="javascript:;" onclick="javascript:remove({$warehouse_info.warehouse_id})">{$lang.erp_operation_delete}</a>
		{/if}
	</td>    
  </tr>  
  {foreachelse}
  <tr><td class="no-records" colspan="9">{$lang.no_records}</td></tr>
  {/foreach}
  <tr><td colspan="9" align="right">{$pager}</td></tr>  
</table>
</div>
<!-- end warehouse list -->

{literal}
<script language="JavaScript">
	
	function remove(warehouse_id)
	{
		function deleteWarehouseResponse(res)
		{
			if(res.error>0)
			{
				alert(res.message);
			}
			else{
				document.location='{$url}';
			}
		}
	
		if(confirm('{$lang.erp_sure_to_delete}')){
			Ajax.call('erp_warehouse.php?act=remove', 'warehouse_id=' + warehouse_id, deleteWarehouseResponse, 'POST', 'JSON');
		}		
	}
	
	
   $(document).ready(function(){
   		
		//设置是否有效
   		$("span[id^='is_valid_']").click(function(){
			var $select_item=$(this);
			var warehouse_id=$select_item.attr('id');
			warehouse_id=warehouse_id.substr('is_valid_'.length,warehouse_id.length-'is_valid_'.length);
			
			function changeIsValidResponse(res)
			{
				if(res.error==0 && res.is_valid==1)
				{
					$select_item.css('color','red');
					$select_item.text('{$lang.erp_yes}');
					//alert(res.message);
				}
				else if(res.error==0 && res.is_valid===0)
				{
					$select_item.css('color','black');
					$select_item.text('{$lang.erp_no}');
					//alert(res.message);
				}
				else{
					
					alert(res.message);
				}
			}
			
			Ajax.call('erp_warehouse.php?act=change_is_valid', 'warehouse_id=' + warehouse_id, changeIsValidResponse, 'POST', 'JSON');
		});	
		
  		$("span[id^='is_on_sale_']").click(function(){
			var $select_item=$(this);
			var warehouse_id=$select_item.attr('id');
			warehouse_id=warehouse_id.substr('is_on_sale_'.length,warehouse_id.length-'is_on_sale_'.length);
			
			function changeIsOnSaleResponse(res)
			{
				if(res.error==0 && res.is_on_sale==1)
				{
					$select_item.css('color','red');
					$select_item.text('{$lang.erp_yes}');
				}
				else if(res.error==0 && res.is_on_sale===0)
				{
					$select_item.css('color','black');
					$select_item.text('{$lang.erp_no}');
				}
				else{
					
					alert(res.message);
				}
			}
			
			Ajax.call('erp_warehouse.php?act=change_is_on_sale', 'warehouse_id=' + warehouse_id, changeIsOnSaleResponse, 'POST', 'JSON');
		});				
   });   
</script>
{/literal}
{include file="pagefooter.htm"}

