{if $full_page}
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}

{insert_scripts files="../js/utils.js,listtable.js"}

<!--link href="styles/ERP.css" rel="stylesheet" type="text/css" /-->
<link href="styles/erp_warehousing.css" rel="stylesheet" type="text/css" />
{insert_scripts files="../js/jquery.blockUI.2.70.js"}
<div class=" x_panel">
{include file="erp_warehousing_search.htm"}

<script type="text/javascript">
	
	function view_approve_remark(warehousing_id)
	{
		$.blockUI({ 
			message: $('#approve_remark_'+warehousing_id),
			css: { 
				top:  ($(window).height()-320) /2 + 'px', 
				left: ($(window).width()-520) /2 + 'px',
				width: '520px'
			}
		});	
	}
	
	$(document).ready(function() {
		$(document).on('click', "img[id^='img_close_approve_remark_']", function() {
			$.unblockUI();
		});
		$(document).on('click', "img[id^='img_submit_approve_']", function() {
			$.unblockUI();
		});
	});
</script>

<!-- start warehousing list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

{foreach from=$warehousing_list item=warehousing}
{if $warehousing.status eq 3 or $warehousing.status eq 3}

<div class="approve_remark" id="approve_remark_{$warehousing.warehousing_id}">
<div class="approve_remark_head">
	<table cellpadding="0" cellspacing="0" border='0'>
		<tr>
			<td>
				<img src="./images/approve_remark.gif" />
			</td>
			<td align="right">
				<span><img style="cursor:pointer;" id="img_close_approve_remark_{$warehousing.warehousing_id}" src="./images/close_erp.gif" /></span>
			</td>
		</tr>
	</table>
</div>

<div class="approve_remark_box">
<table  cellpadding="5" cellspacing="0" border='0'>
	 <tr>
    	<td width="60">{$lang.erp_approve_remark}</td>	
		<td>
			<textarea rows="8" cols="55" disabled="true" id="textarea_approve_remark_{$warehousing.warehousing_id}">{$warehousing.approve_remark}</textarea>
		</td>
	</tr>	
</table>
</div>
<div class="div_submit_approve">
	<img id="img_submit_approve_{$warehousing.warehousing_id}" src="./images/submit.gif" />
</div>	
</div>

{/if}
{/foreach}

<table id="#" class="table table-striped table-bordered bulk_action ">
	<tr>
		<th width="5%">{$lang.erp_warehousing_id}</th>
		<th>{$lang.erp_warehousing_sn}</th>	
		<th>{$lang.erp_warehousing_warehouse}</th>
		<!-- #BeginComment --><th>{$lang.erp_warehousing_agency}</th><!-- #EndComment -->
		<th>{$lang.erp_warehousing_admin}</th>		
		<th>{$lang.erp_warehousing_warehousing_style}</th>	
		<th>{$lang.erp_warehousing_order}</th>	
		<th>{$lang.erp_warehousing_from}</th>
		<th>{$lang.erp_warehousing_date}</th>
		<th>{$lang.erp_warehousing_status}</th>
		<th width="15%">{$lang.erp_operation}</th>
	</tr>
	{foreach from=$warehousing_list key=key item=warehousing}
	<tr>
		<td align="center">{$warehousing.warehousing_id}</td>
		<td align="center" {if $warehousing.expected_qty gt 0 && $warehousing.received_qty lt $warehousing.expected_qty}style="color:red;"{/if}>{$warehousing.warehousing_sn}</td>
		<td align="center">{$warehousing.warehouse_info.name}</td>
		<!-- #BeginComment --><td align="center">{$warehousing.agency_name}</td><!-- #EndComment -->
		<td align="center">{if $warehousing.operator}{$warehousing.operator}{else}{$warehousing.admin_name}{/if}</td>
		<td align="center">{$warehousing.warehousing_style_info.warehousing_style}</td>
		<td align="center">
		{if $warehousing.order_info.repair_sn}
		<a href="repair_orders.php?act=list&ro_sn={$warehousing.order_info.repair_sn}">{$warehousing.order_info.repair_sn}</a>
		{else}
		<a href="{if $warehousing.warehousing_style_id == '1'}erp_order_manage.php?act=view_order&amp;order_id={$warehousing.order_id}{else}order.php?act=info&amp;order_id={$warehousing.order_id}{/if}">{$warehousing.order_info.order_sn}</a>
		{/if}</td>
		<td align="center">{$warehousing.warehousing_from}</td>
		<td align="center">{$warehousing.warehousing_date}</td>
		
		<td align="center">
			{if $warehousing.status eq 1}{$lang.erp_warehousing_status_inputing}{/if}
			{if $warehousing.status eq 2}{$lang.erp_warehousing_status_approving}{/if}
			{if $warehousing.status eq 3}<span style="color:blue;">{$lang.erp_warehousing_status_approve_pass}</span>{/if}
			{if $warehousing.status eq 4}<span style="color:red;">{$lang.erp_warehousing_status_approve_reject}</span>{/if}
		</td>
		<td align="center">
			{if $warehousing.available_act.view eq 1}
			<a href="erp_warehousing_manage.php?act=view&amp;id={$warehousing.warehousing_id}">{$lang.erp_operation_view}</a>
			{if $warehousing.status eq 3 or $warehousing.status eq 4 }
			<a href="javascript:view_approve_remark({$warehousing.warehousing_id})">{$lang.erp_warehousing_operation_approve_remark}</a>
			{/if}
			{if $warehousing.status eq 3}
			<a target="_blank" href="erp_warehousing_manage.php?act=print&amp;id={$warehousing.warehousing_id}">{$lang.erp_operation_print}</a>
			{/if}
			{/if}
			
			{if $warehousing.available_act.edit eq 1}
			<a href="erp_warehousing_manage.php?act=edit&id={$warehousing.warehousing_id}">{$lang.erp_operation_edit}</a>
			{/if}
			{if $warehousing.available_act.delete eq 1}
			<a href="javascript:delete_warehousing({$warehousing.warehousing_id})">{$lang.erp_operation_delete}</a>
			{/if}
			
			{if $warehousing.available_act.post_to_approve eq 1}
			<a href="javascript:post_warehousing({$warehousing.warehousing_id})">{$lang.erp_operation_post_to_approve}</a>
			{/if}				
			
			{if $warehousing.available_act.approve eq 1}
			<a href="erp_warehousing_manage.php?act=approve&amp;id={$warehousing.warehousing_id}">{$lang.erp_operation_approve}</a>
			<a href="javascript:withdrawal_to_edit({$warehousing.warehousing_id})">{$lang.erp_operation_withdrawal}</a>
			{/if}
		</td>
	</tr>
	{foreachelse}
	<tr><td class="no-records" colspan="11">{$lang.no_records}</td></tr>
	{/foreach}
</table>
<table id="page-table" cellspacing="0">
	<tr>
		<td>&nbsp;</td>
		<td align="right" nowrap="true">
			{include file="page.htm"}
		</td>
	</tr>
</table>
{if $full_page}
</div>
</div>
<!-- end warehousing list -->

<script language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}

	function getList()
	{
		var frm = document.forms['searchForm'];
		listTable.filter['w_id'] = frm.elements['w_id'].value;
		listTable.filter['w_s_id'] = frm.elements['w_s_id'].value;
		listTable.filter['w_s'] = frm.elements['w_s'].value;
		listTable.filter['s_date'] = frm.elements['s_date'].value;
		listTable.filter['e_date'] = frm.elements['e_date'].value;
		listTable.filter['warehousing_sn'] = frm.elements['warehousing_sn'].value;
		listTable.filter['w_f'] = frm.elements['w_f'].value;
		listTable.filter['page'] = 1;
		listTable.loadList();
	}
	
	function add_warehousing()
	{
		function addWarehousingResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else
			{
				window.document.location='./erp_warehousing_manage.php?act=edit&id='+res.warehousing_id;
			}			
		}
		
		Ajax.call('erp_warehousing.php?act=add_warehousing', '', addWarehousingResponse, 'POST', 'JSON');
	}
	
	function withdrawal_to_edit(warehousing_id)
	{
		function withdrawalToEditResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else
			{
				listTable.loadList();
			}
		}
		if(confirm('{$lang.erp_warehousing_sure_to_withdrawal_to_edit}'))
		{
			Ajax.call('erp_warehousing.php?act=withdrawal_to_edit', 'warehousing_id=' + warehousing_id, withdrawalToEditResponse, 'POST', 'JSON');
		}
	}
	
	function post_warehousing(warehousing_id)
	{
		function postWarehousingResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else
			{
				listTable.loadList();
			}				
		}
		if(confirm('{$lang.erp_warehousing_sure_to_post_warehousing}'))
		{	
			Ajax.call('erp_warehousing.php?act=post_warehousing', 'warehousing_id='+warehousing_id, postWarehousingResponse, 'POST', 'JSON');
		}
	}
	
	function approve_warehousing(warehousing_id)
	{
		function approveWarehousingResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else
			{
				listTable.loadList();
			}
		}
		
		Ajax.call('erp_warehousing.php?act=approve_pass', 'warehousing_id='+warehousing_id, approveWarehousingResponse, 'POST', 'JSON');
	}
	
	function delete_warehousing(warehousing_id)
	{
		function deleteWarehousingResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else
			{
				listTable.loadList();
			}			
		}
		if(confirm('{$lang.erp_warehousing_sure_to_delete_warehousing}'))
		{	
			Ajax.call('erp_warehousing.php?act=delete_warehousing', 'warehousing_id='+warehousing_id, deleteWarehousingResponse, 'POST', 'JSON');
		}
	}

{/literal}
</script>

{include file="pagefooter.htm"}
{/if}