
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="erp_finance_manage.php" name="searchForm">
    <input type="hidden" name="act" value="view_bank_details" />
	 <input type="hidden" name="account_id" value="{$bank_account_info.account_id}" />
	<img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />

    <!-- 起始日期 -->
    {$lang.erp_bank_account_details_start_date} <input size="10" type="text" name="start_date" size="15" value="{$start_date}" />
	
	{$lang.erp_bank_account_details_end_date} <input size="10" type="text" name="end_date" size="15" value="{$end_date}"  />
	
    <input type="submit" value="{$lang.button_search}" class="btn btn-primary" />
  </form>
</div>