<table  cellpadding="5" cellspacing="0" border='0' id="tb_goods_attr">
	
	{foreach from=$goods_attr item=attrs name=wrap}
	
	 <tr>
    	<td width="60">{$attrs.0.attr_name}：</td>	
		<td>
			{foreach from=$attrs item=attr}
				<span style="padding:5px;">{$attr.attr_value}<input style="cursor:hand;" type="radio" {if $attr.selected eq 1}checked="checked"{/if} id="goods_attr_{$attr.goods_attr_id}" name="{$attrs.0.attr_name}" value="{$attr.goods_attr_id}"></span>
			{/foreach}
		</td>
	</tr>
	
	{/foreach}
		
</table>
