{include file="pageheader.htm"}

<link href="styles/erp_warehousing.css" rel="stylesheet" type="text/css" />

{insert_scripts files="../js/jquery.blockUI.2.70.js"}
{insert_scripts files="../js/utils.js,listtable.js"}

<style type="text/css">
	.current_page_style
	{
		color:red;
	}
	.goods_header {
		border-bottom: 1px solid #e3e3e3;
		float: left;
		width: 100%;
		padding: 5px;
		box-sizing: border-box;
		margin-bottom: 10px;
	}
</style>
<script type="text/javascript">
	var warehouse_options = [{'name':'RMA轉倉至'}];
	{foreach from=$warehouse_options item=w}
		warehouse_options.push({'name':'{$w.name}{if $w.is_on_sale}(可出售){/if}','value':'{$w.warehouse_id}'});
	{/foreach}
	var supplier_options = [{'name':'出貨至供應商維修'}];
	{foreach from=$supplier_options item=s}
		supplier_options.push({'name':'{$s.name}','value':'{$s.supplier_id}'});
	{/foreach}
</script>
<div class=" x_panel">
	{foreach from=$productInfo item=p}
		{foreach from=$p.stock key=pswid item=psqty}
			{if $pswid eq $warehouseInfo.warehouse_id}
				<div class="goods_header">
					<img width="50" height="50" src="{if $p.goods_info.goods_img}{$p.goods_info.goods_img}{else}images/no_img.gif{/if}" style="float:left;padding-right:1em"/>
					<h4>
						{foreach from=$productInfo item=p}
							{$p.goods_info.stock_id}{$p.goods_info.goods_name}<br>(barcode: {$p.goods_info.goods_sn})
							{assign var=goods_id value=$p.goods_info.goods_id}
						{/foreach}
					</h4>
					<div style="text-align:right">{if $warehouseInfo.description}倉庫說明:{$warehouseInfo.description}{/if}</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
					<table class="table table-striped jambo_table">
						{foreach from=$stockRecordsByTypes item=i}{/foreach}
						<thead>
							<tr>
								<th align="center">本貨倉庫存</th>
								<th align="center">庫存細項總計</th>
								<th>操作</th>
							</tr>
						</thead>
						<tr>
							<td align="center" style="padding:.5em">
								{$warehouseInfo.name}:{$psqty} (<b>{if !$warehouseInfo.is_on_sale}不{/if}可銷售庫存:{$actualSellable}</b>)
							</td>
							<td>
								<div style="overflow-y: scroll;height:8em;">
								<table class="table table-striped">
									{foreach name=loop3 from=$stockRecordsByTypes item=i }
										<tr><td>{$i.w_d_style}</td><td>{$i.sum_qty}</td></tr>
									{/foreach}
									</table>
								</div>
							</td>
							<td align="center" ><input data-toggle="modal" data-target="#popup_warehouse_transfer_modal" class="btn btn-success form-btn" type="button" id="warehouse_transfer" name="warehouse_transfer" value="轉倉">
							</td>
						</tr>
					</table>
				</div>
			{/if}
		{/foreach}
	{/foreach}

<div class="modal fade" role="dialog" id="popup_warehouse_transfer_modal">
    <div class="modal-dialog modal-s">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">轉倉</h4>
        </div>
        <div class="modal-body">
            <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
				<div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">由 : <span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12" style="margin-top: 5px;">
                       {$warehouseInfo.name}
						<input type="hidden" name="warehouse_from" id="warehouse_from" value="{$warehouseInfo.warehouse_id}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">轉倉至 : <span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <select class="form-control" style="display: inline-block;" name="warehouse_to" id="warehouse_to">
                        <option value="">---請選擇---</option>
						{foreach from=$warehouse_options item=opt}
                            <option value="{$opt.warehouse_id}">{$opt.name}</option>
                        {/foreach}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">數量 : <span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input class="form-control" name="warehouse_transfer_qty" type="text" id="warehouse_transfer_qty" size="15" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">備註 :
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <textarea class="form-control col-md-7 col-xs-12" id="transfer_remark" rows="5" cols="54" placeholder=""></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input class=" btn btn-success" type="button" id="submit_warehouse_transfer" name="submit_warehouse_transfer" value="確定" placeholder="">
						<span id="warehouse_transfer_error_message" class="red"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

<script>

$("#submit_warehouse_transfer").click(function(){
    var warehouse_from = $('#warehouse_from').val();
    var warehouse_to = $('#warehouse_to').val();
    var warehouse_transfer_qty = $('#warehouse_transfer_qty').val();
	var transfer_remark = $('#transfer_remark').val();
	if (warehouse_to == '') {
        $('#warehouse_transfer_error_message').html('請選擇轉貨倉');
        return false;
    }

    if (warehouse_transfer_qty == '') {
        $('#warehouse_transfer_error_message').html('請填寫數量');
        return false;
    } else {
		if(!warehouse_transfer_qty || (/^\d+$/.test(warehouse_transfer_qty)==false) || parseInt(warehouse_transfer_qty)<=0){
			$('#warehouse_transfer_error_message').html('轉倉數量錯誤');
			return false;
		}
	}

    $.ajax({
    url: 'erp_stock_inquiry.php',
    type: 'post',
    cache: false,
    data: {
        'act': 'warehouse_transfer_proceed',
        'warehouse_from': warehouse_from,
        'warehouse_to': warehouse_to,
		'warehouse_transfer_qty': warehouse_transfer_qty,
        'goods_id': {$goods_id},
		'remark': transfer_remark,
    },
    dataType: 'json',
    success: function (result) {
	  if (result['error'] == 0) {
       	window.location=window.location;
      } else {
        $('#warehouse_transfer_error_message').html(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });
});

</script>

<!-- start stock record list -->

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
	<table id="#" class="table table-striped jambo_table table-bordered bulk_action ">
	<thead>
	<tr>
		<th colspan="8">
			<h4 class="stock-warehouse-detail">
				<b>出入貨流水帳</b>
			</h4>
		</th>
	</tr>
	</thead>
	<tr>
		<th>貨倉</th><th>出入貨類型</th><th>出入貨單號</th><th>關聯訂單號</th><th>提/交貨人</th><th>日期</th><th>數量</th><th>存貨</th>
	</tr>
	{foreach from=$stockRecords item=r}
	<tr class="{if $r.warehouse_id neq $warehouseInfo.warehouse_id}stock-warehouse-detail{/if}">
		<td>{$r.warehouse_name}</td>
		<td>{$r.w_d_style}</td>
		<td><a href="
		{if $r.transfer_id > 0}
			erp_stock_transfer_manage.php?act=view&transfer_id={$r.transfer_id}
		{else}
			{if $r.stock_style eq 'w'}erp_warehousing_manage.php?act=list&amp;warehousing_sn={else}erp_delivery_manage.php?act=list&amp;delivery_sn={/if}{$r.w_d_sn}
		{/if}">{$r.w_d_sn}</a></td>
		<td>{if !$r.transfer_id > 0}<a href="{if $r.stock_style eq 'w' and $r.w_d_style_id == '1'}erp_order_manage.php?act=order_list&amp;order_sn={$r.order_sn}{else}{if $r.repair_id >0}
				repair_orders.php?act=list&ro_sn={$r.order_sn}
			{else}order.php?act=list&amp;order_sn={$r.order_sn}{/if}{/if}">
				{$r.order_sn}
			</a>{/if}</td>
		<td align="center">{$r.w_d_name}{if $r.transfer_remark != ''}({$r.transfer_remark}){/if}</td>
		<td align="center">{$r.act_date}</td>
		<td align="center"><span style=";color:{if $r.qty lt 0}red;{else}blue;{/if}">{$r.qty}</span></td>
 		<td align="center">{$r.stock} - {$stockop}</td>
		</tr>
	{foreachelse}
		<tr><td class="no-records" colspan="8">{$lang.no_records}</td></tr>
	{/foreach}
	<tr><td colspan="8" align="right">{$pagerA}</td></tr>
	</table>
</div>
<br>
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
	<table id="#" class="table table-striped jambo_table table-bordered bulk_action ">
	<thead>
	<tr>
		<th colspan="8">
			<h4 class="stock-warehouse-detail"><b>維修單</b>(未完成處理)</h4>
		</th>
	</tr>
	</thead>
	<tr>
		<th>維修號</th><th>開單日期</th><th>開單員工</th><th>開單備註</th><th>跟進人</th><th>跟進備註</th><th>取貨日期</th><th>狀態</th>
	</tr>
	
		{foreach from=$repairOrders item=order}
		<tr>
			<td><a href="repair_orders.php?act=list&ro_sn={$order.repair_sn}">{$order.repair_sn}</a></td>
			<td>{$order.add_time}</td>
			<td>{$order.operator}</td>
			<td>{$order.remark}</td>
			<td>{$order.operator2}</td>
			<td>{$order.remark2}</td>
			<td>{$order.pickup_time}</td>
			<td>{$repairOrderStatus[$order.status]}</td>
		</tr>
		{foreachelse}
			<tr><td class="no-records" colspan="8">{$lang.no_records}</td></tr>
		{/foreach}	

	</table>
</div>
<!-- end stock record list -->
<script language="JavaScript">
	function transfer_to_warehouse(id,res){
		console.log('transfer_to_warehouse');
		if(res.error!=0)
			return;
		var amount=prompt(res.pname+'\n'+'由 '+res.fwname+' 轉至 '+res.twname+'\n\n'+'請輸入轉倉數量:');
		if(!amount || (/^\d+$/.test(amount)==false) || parseInt(amount)<=0){
			alert('轉倉數量錯誤');
		}else{
			Ajax.call('erp_stock_inquiry.php?is_ajax=1', '&act=transfer_to_warehouse_proceed&fwid='+res.fwid+'&twid='+res.twid+'&pid='+res.pid+'&qty='+amount, cb, "POST", "JSON");
		}
	}
	function rma_to_warehouse(id,res){
		if(res.error!=0)
			return;
		var amount=prompt(res.pname+'\n'+'由 '+res.fwname+' 轉至 '+res.twname+'\n\n'+'請輸入轉倉數量:');
		if(!amount || (/^\d+$/.test(amount)==false) || parseInt(amount)<=0){
			alert('轉倉數量錯誤');
		}else{
			Ajax.call('erp_stock_inquiry.php?is_ajax=1', '&act=rma_to_warehouse_proceed&fwid='+res.fwid+'&twid='+res.twid+'&pid='+res.pid+'&qty='+amount, cb, "POST", "JSON");
		}
	}
	function rma_to_supplier(id,res){
		if(res.error!=0)
			return;
		var amount=prompt('送修至 '+res.sname+'\n\n'+('{if $warehouseInfo.is_on_sale}alert{/if}')+'請輸入送修數量:');
		if(!amount || (/^\d+$/.test(amount)==false) || parseInt(amount)<=0){
			alert('數量錯誤');
		}else{
			Ajax.call('erp_stock_inquiry.php?is_ajax=1', '&act=rma_to_supplier_proceed&wid={$warehouseInfo.warehouse_id}&supplier_id='+res.supplier_id+'&pid='+res.pid+'&qty='+amount, cb, "POST", "JSON");
		}
	}

	function cb(res){
		if(res.error!=0){
			alert(res.message);
		}else{
			alert('RMA操作處理成功');
			window.location=window.location;
		}
	}
</script>
</div>
{include file="pagefooter.htm"}
