



<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="javascript:getList()" name="searchForm" class="form-inline">
    <input type="hidden" name="act" value="list" />
	<img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
	
    <!-- 发货仓库 -->
    <select class="form-control" name="w_id">
    	<option value="0">{$lang.erp_delivery_warehouse}</option>
		{foreach from=$warehouse_list item=warehouse_info}
			<option {if $w_id eq $warehouse_info.warehouse_id}selected="selected"{/if} value="{$warehouse_info.warehouse_id}">--{$warehouse_info.name}</option>
		{/foreach}
	</select>

    <!-- 出库类型 -->
    <select class="form-control" name="d_s_id">
    	<option value="0">{$lang.erp_delivery_delivery_style}</option>
		{foreach from=$delivery_style_list item=delivery_style}
			<option {if $d_s_id eq $delivery_style.delivery_style_id}selected="selected"{/if} value="{$delivery_style.delivery_style_id}">--{$delivery_style.delivery_style}</option>
		{/foreach}
	</select>

    <!-- 出库单状态-->
    <select class="form-control" name="d_s">
    	<option value="0">{$lang.erp_delivery_status}</option>
		{foreach from=$delivery_status item=delivery_status}
			<option {if $d_s eq $delivery_status.status_no}selected="selected"{/if} value="{$delivery_status.status_no}">--{$delivery_status.status_style}</option>
		{/foreach}
	</select>

    <!-- 出仓起始期 -->
    {$lang.erp_delivery_start_date} <input class="form-control" size="10" type="text" name="s_date" size="15" value="{$s_date}" data-type="date" />
	
	<!-- 出仓结束期 -->
    {$lang.erp_delivery_end_date} <input class="form-control" size="10" type="text" name="e_date" size="15" value="{$e_date}" data-type="date" />

	<!-- 出库单号 -->
    {$lang.erp_delivery_sn} <input class="form-control" size="10" type="text" name="delivery_sn" size="15" value="{$sn}" />

    <!-- 交货人 -->
    {$lang.erp_delivery_to} <input class="form-control" size="10" type="text" name="d_t" size="15" value="{$d_t}" />
	
    <input type="submit" value="{$lang.button_search}" class="btn btn-success form-btn" />
  </form>
</div>