{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style>
.calendar {
  z-index: 5000;
}

#success_message {
  color :green;
}

#error_message {
  color :red;
}

.highline {
  color:red;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #34495e;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}
</style>

{include file="erp_rma_progress_bar.htm"}

{include file="erp_rma_goods_info.htm"}

<div class=" x_panel">
<div class="x_title">
    <h2>操作</h2>
    <div class="clearfix"></div>
</div>
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">負責部門 : <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12 form_text">
            Product Team
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">產品跟進人 :  <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control" style="width: 80%; display: inline-block;" name="user_id" id="user_id">
            {foreach from=$person_in_charge_option item=opt}
                <option {if $opt.value == $rma_basic_info.person_in_charge} selected {/if} value="{$opt.value}">{$opt.name}</option>
            {/foreach}
            </select>
            <input class=" btn btn-success" data-goods-admin = "true" type="button" id="save_user_btn" value="儲存" class="button" />
            <div class="green" id="save_user_success"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">供應商 :  <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
        <select class="form-control" name="supplier_id" id="supplier_id">
            <option value="-1">請選擇供應商</option>
            {foreach from=$suppliers_option item=opt}
            <option {if $opt.value == 53} selected {/if} value="{$opt.supplier_id}">{$opt.name}</option>
            {/foreach}
        </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 操作: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="checkbox">
                <input type="checkbox" id="notified" class="flat" style="position: absolute; opacity: 0;"> 已經通知供應商回收
            </label>
        </div>
    </div>
    <div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required"></span>
     </label>
     <div class="col-md-6 col-sm-6 col-xs-12">
         <textarea class="form-control col-md-7 col-xs-12" id="note" rows="2" cols="54" placeholder="填寫備註"></textarea>
     </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_content">
              <input class=" btn btn-success" type="button" id="continue_btn" value="下一步" class="button" />
            </div>
        </div>
    </div>
</form>
</div>

{include file="erp_rma_special_handle.htm"}

{include file="erp_rma_log.htm"}



<!-- end stock check list -->
{include file="pagefooter.htm"}

<script>
var $table = yoho_dataTable();
var rma_id = {$rma_id};
var $popup2 = '';
console.log('rma_id',rma_id);

$('#continue_btn_special').click(function(){
    var user_id = $("#user_id_special").val();
    var special_case_4 = $('#special_case_4').is(':checked');
    var note = $("#note_special").val();
  
    if (user_id == '') {
        alert('請選擇跟進人');
        return false;
    }

    if (special_case_4 == '') {
        alert('請選擇特別處理');
        return false;
    }

    $.ajax({
    url: 'erp_rma_notify.php',
    type: 'post',
    cache: false,
    data: {
      'act': 'post_rma_notify_special_submit',
      'user_id': user_id,
      'special_case_4': special_case_4,
      'note' : note,
      'rma_id' : rma_id
    },
    dataType: 'json',
    success: function (result) {
      if (result['error'] == 0) {
          var url="erp_rma_finished.php?act=list&rma_id=" + rma_id ;
          window.location=url;
      } else {
          $('#error_msg').html(result.message);
          //alert(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });
});


$('#continue_btn').click(function(){
    var user_id = $("#user_id").val();
    var notified = $('#notified').is(':checked');
    var supplier_id = $("#supplier_id").val();
    var note = $("#note").val();
    console.log('user_id',user_id);
    console.log('notified',notified);
    console.log('supplier_id',supplier_id);
    console.log('note',note);
 
    if ($('#notified').is(':checked')) {
        console.log('yes');
    }else{
        console.log('no');
    }

    if (user_id == '') {
        alert('請選擇跟進人');
        return false;
    } else if (supplier_id == -1) {
        alert('請選擇供應商');
        return false;
    } else if (notified == false) {
        alert('請先按下通知供應商回收,才可進下一步');
        return false;
    }

    $.ajax({
      url: 'erp_rma_notify.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_rma_notify_submit',
        'user_id': user_id,
        'notified': notified,
        'supplier_id': supplier_id,
        'note' : note,
        'rma_id' : rma_id
      },
      dataType: 'json',
      success: function (result) {
        if (result['error'] == 0) {
            var url="erp_rma_awaiting.php?act=list&rma_id=" + rma_id ;
            window.location=url;
        } else {
            alert(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});

</script>
{/if}
