


<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<div class="form-div" style="overflow:hidden;clear:both;width:99%;">
	  <form action="erp_stock_transfer_manage.php" name="searchForm" id="stock_transfer_search">
	    <input type="hidden" name="act" value="list" />
		<img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
				
		<!-- 发货仓库 -->
	    <select name="w_f" id="w_f">
	    	<option value="0" {if $warehouse_from eq 0}selected="selected"{/if} >{$lang.erp_stock_transfer_search_warehouse_from}</option>
			{foreach from=$warehouse_list item=warehouse_info}
				<option value="{$warehouse_info.warehouse_id}" {if $warehouse_from eq $warehouse_info.warehouse_id}selected="selected"{/if}>--{$warehouse_info.name}</option>
			{/foreach}
		</select>

		<!-- 收货仓库 -->
	    <select name="w_t" id="w_t">
	    	<option value="0" {if $warehouse_to eq 0}selected="selected"{/if} >{$lang.erp_stock_transfer_search_warehouse_to}</option>
			{foreach from=$warehouse_list item=warehouse_info}
				<option value="{$warehouse_info.warehouse_id}" {if $warehouse_to eq $warehouse_info.warehouse_id}selected="selected"{/if}>--{$warehouse_info.name}</option>
			{/foreach}
		</select>
	
		<!-- 发货仓管 -->
	    <select name="a_f" id="a_f">
	    	<option value="0" {if $admin_from eq 0}selected="selected"{/if} >{$lang.erp_stock_transfer_search_admin_from}</option>
			{foreach from=$admin_list item=admin}
				<option value="{$admin.user_id}" {if $admin_from eq $admin.user_id}selected="selected"{/if}>--{$admin.user_name}</option>
			{/foreach}
		</select>	

		<!-- 收货仓管 -->
	    <select name="a_t" id="a_t">
	    	<option value="0" {if $admin_to eq 0}selected="selected"{/if} >{$lang.erp_stock_transfer_search_admin_to}</option>
			{foreach from=$admin_list item=admin}
				<option value="{$admin.user_id}" {if $admin_to eq $admin.user_id}selected="selected"{/if}>--{$admin.user_name}</option>
			{/foreach}
		</select>	

		<!-- 状态 -->
	    <select name="status" id="status">
	    	<option value="0" {if $status eq 0}selected="selected"{/if} >{$lang.erp_stock_transfer_search_status}</option>
			{foreach from=$transfer_status_list item=transfer_status}
				<option value="{$transfer_status.status_no}" {if $status eq $transfer_status.status_no}selected="selected"{/if}>--{$transfer_status.status_style}</option>
			{/foreach}
		</select>	
	
	    <!-- 起始期 -->
	    {$lang.erp_stock_transfer_create_time} <input size="10" type="text" name="s_date" size="15" id="s_date" value="{$start_date}" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" />
		<!-- 结束期 -->
	    -<input size="10" type="text" name="e_date" size="15" id="e_date" value="{$end_date}" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" />
	
		<!-- 产品货号 -->
	    {$lang.erp_stock_transfer_search_goods_sn} <input size="10" type="text" name="goods_sn" size="15" id="goods_sn" value="{$goods_sn}" />
		
		<!-- 产品名称 -->
	    {$lang.erp_stock_transfer_search_goods_name} <input size="15" type="text" name="goods_name" size="15" id="goods_name" value="{$goods_name}" />
				
		<input type="hidden" name="act" value="list" />
	    <input type="submit" value="{$lang.button_search}" class="btn btn-primary" />
	  </form>
</div>

<script language="javascript">	
$(document).ready(function(){
	
	$("#print_w_d_record").css('cursor','pointer');
	$("#print_w_d_record").click(function(){
		
		var goods_sn=$("#goods_sn").attr('value');
		var s_date=$("#s_date").attr('value');
		var e_date=$("#e_date").attr('value');
		var w_id=$("#w_id").attr('value');
		var w_d_s_id=$("#select_w_d_s").attr('value');
		var s_s=$("#select_s_s").attr('value');
	
		var url="erp_stock_transfer.php?act=print&goods_sn="+goods_sn+"&s_date="+s_date+"&e_date="+e_date+"&w_id="+w_id+"&w_d_s_id="+w_d_s_id+"&s_s="+s_s;
		
		window.open(url);	
	});
	
	$("#export_w_d_record").css('cursor','pointer');
	$("#export_w_d_record").click(function(){


		var goods_sn=$("#goods_sn").attr('value');
		var s_date=$("#s_date").attr('value');
		var e_date=$("#e_date").attr('value');
		var w_id=$("#w_id").attr('value');
		var w_d_s_id=$("#select_w_d_s").attr('value');
		var s_s=$("#select_s_s").attr('value');
	
		var url="erp_stock_transfer.php?act=export&goods_sn="+goods_sn+"&s_date="+s_date+"&e_date="+e_date+"&w_id="+w_id+"&w_d_s_id="+w_d_s_id+"&s_s="+s_s;
		
		Ajax.call(url, '' , exportStockRecordResponse, 'POST', 'JSON');
		
		function exportStockRecordResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				//alert(res.url);
				window.location=res.url;	
			}
		}
	});	
	
});

</script>

