{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style type="text/css">
    .current_page_style
    {
    color:red;
    font-weight:bold;
    }
    
.action_button {
    color: #666 !important;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none !important;
    /* display: block; */
    padding: 4px 5px;
    border: 1px solid #278296;
    border-right: 2px solid #278296;
    border-bottom: 2px solid #278296;
    width: 56px;
    background-color: #ddeef2;
}

.action_button.archive {
    background-color: #bbdde5;
}

.multiselect {
    width: 120px;
    display: inline-block;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
    position: absolute;
    background-color: white;
    overflow: auto;
    width: auto;
    height: 400px;
    z-index: 1000;
    padding: 10px;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  /* background-color: #1e90ff; */
}


.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: grey;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: rgb(26, 188, 156);;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #34495e;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}

#error_message {
    color:red;
}

</style>

<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<div id="wizard" class="form_wizard wizard_horizontal">
<ul class="wizard_steps anchor">
<li>
  <a href="#step-1" class="selected" isdone="1" rel="1">
    <span class="step_no">1</span>
    <span class="step_descr">選擇盤點產品<br>
    </span>
  </a>
</li>
<li>
  <a href="#step-3" class="disabled" isdone="0" rel="3">
    <span class="step_no">2</span>
    <span class="step_descr">盤點<br>
    </span>
  </a>
</li>
<li>
  <a href="#step-3" class="disabled" isdone="0" rel="3">
    <span class="step_no">3</span>
    <span class="step_descr">盤點覆核<br>
    </span>
  </a>
</li>
<li>
  <a href="#step-4" class="disabled" isdone="0" rel="4">
    <span class="step_no">4</span>
    <span class="step_descr">盤點完成<br>
    </span>
  </a>
</li>
</ul>
</div>

<div class=" x_panel">
    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">請輸入盤點標題 : <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" id="title" name="title" required="required" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">盤點負責人 :  <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="stocktake_person" id="stocktake_person">
                {foreach from=$stocktake_person_option item=opt}
                 <option value="{$opt.value}">{$opt.name}</option>
                {/foreach}
                </select>
            </div>
        </div>
    </form>
</div>

<div class=" x_panel">

<div class="form-div" style="height:50px;">
<div style="float:left;">
  <form class="form-inline" method="post" action="javascript:searchGoods()" action="erp_stockcheck.php" name="searchForm">
    <div>
    請選擇盤點產品: <input class="form-control" type="hidden" name="act" value="list" placeholder="iris" />
    <select class="form-control" name="warehouse_id" id="warehouse_id">
    <option value="0" {if $warehouse_id eq 0}selected="selected"{/if}>{$lang.erp_stock_check_select_warehouse}</option>
    {foreach from=$warehouse_list item=warehouse}
    <option value="{$warehouse.warehouse_id}" {if $warehouse.warehouse_id eq 1}selected="selected"{/if}>{$warehouse.name}</option>
    {/foreach}
    </select>

    

    <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()">
            <select class="form-control">
            <option>{$lang.erp_stock_record_search_brand}</option>
            </select>
          <div class="overSelect"></div>
        </div>
        <div id="checkboxes">
        <input type="text" id="filter_brands_search" class="form-control" placeholder="Search">
        <div class="ln_solid"></div>
        {foreach from=$brand_list item=brand}
            <label for="brand_{$brand.brand_id}" class="checkbox-container brands"> <span class="brand_name"> {$brand.brand_name} </span>
                <input style="" type="checkbox" class="" value="{$brand.brand_id}" name ="brand_id" id="brand_{$brand.brand_id}" />
                <span class="checkmark"></span> 
            </label>
        {/foreach}
        </div>
      </div>
      <select name="cat_id"  id="cat_id" class="select2_group form-control"><option value="0">所有分類</option>{$cat_list}</select>
    
        <select class="form-control" name="period" id="period">
          <option value="0" >請選擇日期</option>
          {foreach from=$period_options key = key_value item=period}
            <option value="{$key_value}">{$period}</option>
          {/foreach}
        </select>

        <select id="is_on_sale"  name="is_on_sale" class="form-control">
          <option value="" selected="selected">全部</option>
          <option value="1" >上架</option>
          <option value="0">下架</option>
        </select>

        <input class="flat" type="checkbox" name="in_stock" id="in_stock" value="1"/> <label for="in_stock">有貨</label>


   
    <input class="form-control  btn btn-success" style="margin: 0px" type="button" id="search_goods" value="{$lang.button_search}" class="button" />

    &nbsp;&nbsp;<input class="form-control btn btn-success" style="margin: 0px" type="button" id="search_goods_sku_popup" value="貨號匯入" data-toggle="modal" data-target="#popup_import_data_modal" />
    </div>
  </form>
</div>
  
</div>

<!-- start stock check list -->

<div class="list-div" id="listDiv">
{/if}
<table id="stocktake" class="table table-striped table-bordered">
  <thead>
    <th data-id="warehouse_name">貨倉</th>
    <th data-id="goods_id">產品編號</th>
    <th data-id="goods_sn">{$lang.erp_stock_check_goods_sn}</th>
    <th data-id="goods_name">{$lang.erp_stock_check_goods_name}</th>
    <th data-id="goods_qty">庫存</th>
    <th data-id="last_stocktake_date">上次盤點日期</th>
  </thead>
</table>

<input type="hidden" id="all_goods_ids" name="all_goods_ids" value= "{$total_goods_ids}"/>
<input type="hidden" id="all_goods_sns" name="all_goods_sns" value= "{$total_goods_sns}"/>
<input type="hidden" id="warehouse_id" name="warehouse_id" value= "{$warehouse_id}"/>

{if $full_page}

</div>


</div>

<style>



</style>

<div id="step_action_bottom" >
 <input style="    margin-top: 19px;" class="btn btn-success form-btn next_step" type="button" id="next_step" name="next_step" value="下一步" />
</div>

{include file="pagefooter.htm"}

<div class="modal fade" role="dialog" id="popup_import_data_modal">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">搜尋產品</h4>
        </div>
        <div class="modal-body">
            <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">貨號 : <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control col-md-7 col-xs-12" id="sku_data" rows="20" cols="54" placeholder=""></textarea>
                </div>
            </div>   
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class=" btn btn-success" type="button" id="search_import_data" name="search_import_data" value="搜尋" placeholder="">
                </div>
            </div>
            </form>
            <div id="notice_message" class="form-div" style="display:none">
                <div id="success_message"></div>
                <div id="error_message"></div>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- end stock check list -->
<script language="javascript">	
yohoTable.deferLoading = "0";
yohoTable.dataSet = {};
var $table = yoho_dataTable();

var all_goods_ids = '';
$("#stocktake").DataTable().on('xhr.dt',function (e, settings, json, xhr) {
    if(json.extraData != null){
        all_goods_ids = json.extraData.total_goods_ids;
        all_goods_sns = json.extraData.total_goods_sns;
    }
});;

var expanded = false;
function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}

$("#filter_brands_search").keyup(function(){ 
    var $filter_brands_search = $("#filter_brands_search");
    var $filter_brands_keyword = $filter_brands_search.val().toUpperCase();

    $(".checkbox-container.brands").each(function(){
        var brand_name = $(this).find('.brand_name').html();
        if (brand_name.toUpperCase().indexOf($filter_brands_keyword) > -1) {
            $(this).show();
        } else {
            $(this).hide();
        }
    });
});

$(window).click(function() {
  if($('#checkboxes').is(":visible")) {
    expanded = false;
    $('#checkboxes').hide();
  }
});

$(".selectBox").click(function(event){
  event.stopPropagation();
});

$("#checkboxes").click(function(event){
  event.stopPropagation();
});

$(".next_step").click(function(){
    var warehouse_id = $("#warehouse_id").val();
    var title = $("#title").val();
    var stocktake_person = $("#stocktake_person").val();
    
    if (title == '') {
        alert('請輸入盤點標題');
        return false;
    }

    if (stocktake_person == '') {
        alert('請選擇盤點負責人');
        return false;
    }

    if (warehouse_id == '') {
        alert('請選擇盤點貨倉');
        return false;
    }

    if (all_goods_ids != '') {
        $.ajax({
          url: 'erp_stocktake_create.php',
          type: 'post',
          cache: false,
          data: {
            'act': 'post_stocktake_create',
            'all_goods_ids': all_goods_ids,
            'all_goods_sns': all_goods_sns,
            'warehouse_id': warehouse_id,
            'stocktake_person' : stocktake_person,
            'title': title,
          },
          dataType: 'json',
          success: function (result) {
            if (result['error'] == 0){
                var url="erp_stocktake_process.php?act=list&stocktake_id=" + result.content;
                window.location=url;
            }else{
                alert(result.message);
            }
          },
          error: function (xhr) {
            alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
            console.log(xhr);
          }
        });
    }
});

$("#search_goods").click(function(){
    //console.log($('#b_id').val());
    var brand_ids = $('#b_id').val();
    var warehouse_id = $('#warehouse_id').val();
    var period = $('#period').val();
    var is_on_sale = $('#is_on_sale').val();
    var in_stock = $('#in_stock').attr("checked") ? 1 : 0;
    var cat_id = $('#cat_id').val();
    var brand_checkbox_values = [];

    $('input[name="brand_id"]:checked').map(function() {
        brand_checkbox_values.push($(this).val());
    });

    if (warehouse_id == 0) {
        alert('請選擇貨倉');
        return false;
    }	

    if (period == 0 && $(brand_checkbox_values).size() == 0 && cat_id == 0){
        alert('請選擇品牌/分類');
        return false;
    }

    // if ($(brand_checkbox_values).size() == 0) {
    //     alert('請選擇品牌');
    //     return false;
    // }

    var $filter = {};
    $filter.brand_ids = brand_checkbox_values;
    $filter.warehouse_id = warehouse_id;
    $filter.period = period;
    $filter.is_on_sale = is_on_sale;
    $filter.in_stock = in_stock;
    $filter.cat_id = cat_id;
    $filter.act = 'query';
     //	listTable.filter.act = 'query_goods';
    $filter.page = 1;
    $table.search($filter);

    // build goods all ids
    var all_goods_ids = [];
    $('input[name="brand_id"]:checked').map(function() {
        brand_checkbox_values.push($(this).val());
    });
 });

$("#search_import_data").click(function(){
    var warehouse_id = $('#warehouse_id').val();
    var sku_data = $("#sku_data").val();

    if (warehouse_id == 0) {
        alert('請選擇貨倉');
        return false;
    }	

    if (sku_data == '') {
        alert('請輸入產品貨號');
        return false;
    }

    // check stocktake sku 
    $.ajax({
      url: 'erp_stocktake_create.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_search_product_by_sku_check_exist',
        'sku_data' : sku_data
      },
      dataType: 'json',
      success: function (result) {
        if (result['error'] == 0){
            var $filter = {};
            $filter.sku_data = sku_data;
            $filter.warehouse_id = warehouse_id;
            $filter.act = 'query_by_sku';
            //	listTable.filter.act = 'query_goods';
            $filter.page = 1;
            $table.search($filter);
       
            $('#popup_import_data_modal').modal('toggle');
        }else{
            $('#notice_message').show();
            $('#success_message').html('');
            $('#error_message').html('');

            if (result.message != '') {
                $('#error_message').html(result.message);
            }
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
 });

</script>
{/if}
