{include file="pageheader.htm"}

<link href="styles/ERP.css" rel="stylesheet" type="text/css" />



 <!-- start supplier group list -->
 <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action">
  <tr>
    <th width="5%">{$lang.erp_id}</th>
    <th>{$lang.erp_supplier_group_name}</th>
	<th width="8%">{$lang.erp_supplier_group_suppliers_count}</th>
	<th width="8%">{$lang.erp_is_valid}</th>
	<th width="8%">{$lang.erp_operation}</th>
  <tr>
  {foreach from=$supplier_groups item=group}
  <tr id="tr_{$group.group_id}">
    <td align="center">{$group.group_id}</td>
	<td align="center">
		{$group.group_name}
	</td>
	<td align="center">
		{$group.count}
	</td>	
	<td align="center" >
		<span id="is_valid_{$group.group_id}" style="cursor:pointer; color:{if $group.is_valid eq 1}red;{else}black;{/if}">
				{if $group.is_valid eq 1}{$lang.erp_yes}{else}{$lang.erp_no}{/if}
		</span>
	</td>
	<td align="center"  >
		<a href="erp_supplier_group.php?act=edit&id={$group.group_id}">{$lang.erp_operation_edit}</a>
		<a href="javascript:;" onclick="remove({$group.group_id})">{$lang.erp_operation_delete}</a>
    </td>				
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="5">{$lang.no_records}</td></tr>
  {/foreach}
   <tr><td colspan="5" align="right">{$pager}</td></tr>   
</table>
</div>
<!-- end supplier group list -->

{literal}
<script language="JavaScript">

	function remove(group_id)
	{
		if(confirm('{$lang.erp_supplier_group_sure_to_delete}'))
		{
			Ajax.call('erp_supplier_group.php?act=remove', 'group_id=' + group_id, deleteSupplierGroup, 'POST', 'JSON');	
		}

		function deleteSupplierGroup(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.location='{$url}';
			}
		}				
	}	
	
   $(document).ready(function(){
	
   		$("span[id^='is_valid_']").click(function(){
			var group_id=$(this).attr('id');
			
			group_id=group_id.substr('is_valid_'.length,group_id.length-'is_valid_'.length);
			
			function changeIsValidResponse(res)
			{
				if(res.error==0 && res.is_valid==1)
				{
					$("#is_valid_"+group_id).css('color','red');
					$("#is_valid_"+group_id).text('{$lang.erp_yes}');
				}
				else if(res.error==0 && res.is_valid===0)
				{
					$("#is_valid_"+group_id).css('color','black');
					$("#is_valid_"+group_id).text('{$lang.erp_no}');
				}
				else{
					alert(res.message);
				}
			}
			
			Ajax.call('erp_supplier_group.php?act=change_is_valid', 'group_id=' + group_id, changeIsValidResponse, 'POST', 'JSON');
		});
   });   
</script>
{/literal}
{include file="pagefooter.htm"}

