{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style type="text/css">

.editable_text {
   text-decoration-line: underline;
   text-decoration-style: solid; 
    cursor: pointer;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #34495e;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}

#error_message {
    color:red;
}

#submit_adjust_warehouse_from_admin_confirm_block, #submit_adjust_warehouse_to_admin_confirm_block {
    display: inline-block;
    vertical-align: top;
}

</style>

<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{include file="erp_warehouse_transfer_progress_bar.htm"}
{include file="erp_warehouse_transfer_info.htm"}



<div class="x_panel">
<div class="x_title">

<div class="clearfix"></div>
</div>
<div class="form-div" style="height:50px;">
<div style="float:left;">
  <form class="form-inline" method="post"  action="erp_warehouse_transfer_create.php" name="searchForm">
    <div>
     <div id="notice_message" class="form-div" style="display:none;padding: 10px 0px;">
         <div id="success_message"></div>
         <div id="error_message"></div>
    </div>
    </div>
    <div id="notice_message" class="form-div" >
        <div id="success_message"></div>
        <div id="error_message"></div>
    </div>
  </form>
</div>
</div>

<!-- start stock check list -->

<div class="list-div" id="listDiv">
{/if}
<table id="stocktake" class="table table-striped table-bordered">
  <thead>
    <th data-id="item_id">序號</th>
    <th data-id="warehouse_from_name">貨倉</th>
    <th data-id="image">圖片</th>
    <th data-id="goods_sn">{$lang.erp_stock_check_goods_sn}</th>
    <th data-id="goods_name">{$lang.erp_stock_check_goods_name}</th>
    <th width="120px" data-id="requested_qty">要求調貨數量</th>
    <th width="120px" data-id="transfer_qty">出貨數量</th>
    <th width="120px" data-id="received_html">實收數量</th>
    <th width="120px" data-id="stock_check">查詢</th>
    <th width="120px" data-id="stock_action_html">操作</th>
    <th width="200px" data-id="stock_adjust_history_html">修改記錄</th>
  </thead>
</table>

{if $full_page}

</div>


</div>

<style>



</style>


{include file="pagefooter.htm"}

    <div class="modal fade" role="dialog" id="popup_adjust_warehouse_stock_view_modal">
        <div class="modal-dialog modal-s">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">調貨庫存調整</h4>
            </div>
            <div class="modal-body">
                <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                    <div class="form-group">
                            <label style="padding-top: 0px;" class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">產品名稱 :
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                               <span id="adjust_goods_name_view" ></span>
                            </div>
                        </div>
                    <div class="form-group">
                        <label style="padding-top: 0px;" class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">貨倉 : <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <span id="adjust_warehouse_name_view" ></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="padding-top: 0px;" class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">數量 : <span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <span id="adjust_goods_qty_view" ></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="padding-top: 0px;" class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">原因備註 :
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <span id="adjust_remark_view" ></span>
                        </div>
                    </div>   
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                        </label>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                            <div id="submit_adjust_warehouse_from_admin_confirm_block">
                            </div>
                            <div id="submit_adjust_warehouse_to_admin_confirm_block">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="adjust_goods_id_view" name="adjust_goods_id_view" />
                </form>
                <div class="green" id="adjust_stock_finish_text" style="text-align: center">
                    
                </div>
                <div>

                        <div id="submit_adjust_warehouse_delete_block" style="text-align: right">
                            
                        </div>

                        
                </div>
                <div id="adjust_warehouse_stock_notice_message" class="form-div" style="display:none">
                    <div id="adjust_warehouse_stock_success_message"></div>
                    <div id="adjust_warehouse_stock_error_message" class="red"></div>
                </div>
            </div>
            
        </div>
        </div>
    </div>

    <div class="modal fade" role="dialog" id="popup_adjust_warehouse_stock_create_modal">
        <div class="modal-dialog modal-s">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">調貨庫存調整</h4>
            </div>
            <div class="modal-body">
                <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                    <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">產品名稱 :
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                               <span id="adjust_goods_name" ></span>
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">貨倉 : <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <select class="form-control" style="width: 80%; display: inline-block;" name="adjust_warehouse_id" id="adjust_warehouse_id">
                                    <option value="" selected>請選舉</option>
                            {foreach from=$adjust_warehouse_list_options item=opt}
                                <option value="{$opt.id}">{$opt.name}</option>
                            {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">加減 : <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <select class="form-control" style="width: 80%; display: inline-block;" name="adjust_operator" id="adjust_operator">
                                    <option value="" selected>請選舉</option>
                                    <option value="+" >+</option>
                                    <option value="-" >-</option>
                                </select>
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">數量 : <span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <input class="form-control" name="adjust_goods_qty" type="text" id="adjust_goods_qty" size="15" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">原因備註 :
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <textarea class="form-control col-md-7 col-xs-12" id="adjust_remark" rows="5" cols="54" placeholder=""></textarea>
                        </div>
                    </div>   
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class=" btn btn-success" type="button" id="submit_adjust_warehouse_stock" name="submit_adjust_warehouse_stock" value="確定" placeholder="">
                        </div>
                    </div>
                    <input type="hidden" id="adjust_goods_id" name="adjust_goods_id" />
                </form>
                <div id="adjust_warehouse_stock_notice_message" class="form-div" style="display:none">
                    <div id="adjust_warehouse_stock_success_message"></div>
                    <div id="adjust_warehouse_stock_error_message" class="red"></div>
                </div>
            </div>
        </div>
        </div>
    </div>

<!-- end stock check list -->
<script language="javascript">	

var $table = yoho_dataTable();
transfer_id = {$transfer_id};

$(document).on("click",".adjust_warehouse_stock",function() {
    var goods_name = $(this).closest("tr").find(".goods_name").html();
    var goods_id = $(this).data('goods-id');
    $("#adjust_goods_name").html(goods_name);
    $("#adjust_goods_id").val(goods_id);
});


$(document).on("click",".adjust_warehouse_stock_delete",function() {
    var adjustment_id = $(this).data('adjust-id');
    $.ajax({
      url: 'erp_warehouse_transfer_finished.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_adjust_warehouse_stock_delete',
        'adjustment_id': adjustment_id
      },
      dataType: 'json',
      success: function (result) {
        if (result.error == 0) {

            var $filter = {};
            $filter.page = 1;
            $filter.transfer_id = transfer_id;
            $table.search($filter);

            $('#popup_adjust_warehouse_stock_view_modal').modal('toggle');

        } else {
            // show error
           
        }

      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });

});




$(document).on("click",".adjust_warehouse_admin_confirm",function() {
    var adjustment_id = $(this).data('adjust-id');
    $(this).prop('disabled', true);

    $.ajax({
      url: 'erp_warehouse_transfer_finished.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_adjust_warehouse_admin_confirm',
        'adjustment_id': adjustment_id,
        'adjust_warehouse_side':$(this).data('warehouse-side'),
      },
      dataType: 'json',
      success: function (result) {
        if (result.error == 0) {
            updateAdjustStockView(adjustment_id,false);

        } else {
            // show error
            //$('#popup_adjust_warehouse_stock_create_modal').modal('toggle');
            console.log('error result',result);
            $("#adjust_warehouse_stock_notice_message").show();
            $("#adjust_warehouse_stock_error_message").html(result.message);
        }

      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });


});


function updateAdjustStockView(adjustment_id,popup = true) {
    $.ajax({
      url: 'erp_warehouse_transfer_finished.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_adjust_transfer_warehouse_stock_view',
        'adjustment_id':  adjustment_id,
      },
      dataType: 'json',
      success: function (result) {
        if (result.error == 0) {
            $('#adjust_warehouse_stock_error_message').html('');
            $('#adjust_stock_finish_text').html('');

          
            var data = result.content;
            $('#adjust_goods_name_view').html(data.goods_name);
            $('#adjust_warehouse_name_view').html(data.warehouse_name);
            $('#adjust_goods_qty_view').html(data.qty);
            $('#adjust_remark_view').html(data.adjust_remark);
            $('#submit_adjust_warehouse_from_admin_confirm_block').html(data.admin_from_confirm_html);
            $('#submit_adjust_warehouse_to_admin_confirm_block').html(data.admin_to_confirm_html);
            $('#adjust_stock_finish_text').html(data.finish_ref_no_path);
            $('#submit_adjust_warehouse_delete_block').html(data.delete_button_html);

            var $filter = {};
         
            $filter.page = 1;
            $filter.transfer_id = transfer_id;
            $table.search($filter);
            console.log('aaaaaaa');
            if (popup) {
                $('#popup_adjust_warehouse_stock_view_modal').modal('toggle');
            }
        } else {
            // show error
           // $("#adjust_warehouse_stock_error_message").html(result.message);
        }

      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
}

$(document).on("click",".view_adjust_warehouse_stock",function() {
    console.log('view_adjust_warehouse_stock');
    //console.log( $(this).data('adjust-id') );
    updateAdjustStockView($(this).data('adjust-id') ,true);
});


$(document).on("click","#submit_adjust_warehouse_stock",function() {
    if ($("#adjust_warehouse_id").val() == ''){
        alert('請選擇貨倉');
        return false;
    }

    if ($("#adjust_operator").val() == ''){
        alert('請選擇加減操作');
        return false;
    }

    if ($("#adjust_goods_qty").val() == ''){
        alert('請選擇數量');
        return false;
    }

    $.ajax({
      url: 'erp_warehouse_transfer_finished.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_adjust_transfer_warehouse_stock',
        'adjust_warehouse_id': $("#adjust_warehouse_id").val(),
        'adjust_goods_id': $("#adjust_goods_id").val(),
        'adjust_operator': $("#adjust_operator").val(),
        'adjust_goods_qty': $("#adjust_goods_qty").val(),
        'adjust_remark': $("#adjust_remark").val(),
        'adjust_transfer_id': transfer_id,
      },
      dataType: 'json',
      success: function (result) {
        if (result.error == 0) {
            $("#adjust_warehouse_id").val('');
            $("#adjust_operator").val('');
            $("#adjust_goods_qty").val('');
            $("#adjust_remark").val('');

            
            var $filter = {};
         
            $filter.page = 1;
            $filter.transfer_id = transfer_id;
            $table.search($filter);
            $('#popup_adjust_warehouse_stock_create_modal').modal('toggle');

        } else {
            // show error
            $('#popup_adjust_warehouse_stock_create_modal').modal('toggle');
        }

      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });



});




$(document).on("click","#submit_import_data",function() {
    var import_data = $("#import_data").val();

    // if (import_data == '') {
    //    alert('請輸入資料');
    //    return;
    // }
    
    $.ajax({
      url: 'erp_warehouse_transfer_packing.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_import_data_cross_check',
        'import_data': import_data,
        'transfer_id': transfer_id,
      },
      dataType: 'json',
      success: function (result) {
        if (result.error == 0) {
            // listing refresh
            // show message
            $('#notice_message').show();
            $('#success_message').html('');
            $('#error_message').html('');
            
            if (result.content.success_message != '') {
                $('#success_message').html(result.content.success_message);
            }

            if (result.content.error_message != '') {
                $('#error_message').html(result.content.error_message);
            }
            
            var $filter = {};
         
            $filter.page = 1;
            $filter.transfer_id = transfer_id;
            $table.search($filter);
            $('#popup_import_data_modal').modal('toggle');

        } else {
            // show error
            $('#popup_import_data_modal').modal('toggle');
        }

      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });

});

$("#admin_from").change(function(){
    $.ajax({
        url: 'erp_warehouse_transfer_packing.php',
        type: 'post',
        cache: false,
        data: {
            'act': 'post_admin_from_update',
            'transfer_id' : transfer_id,
            'admin_from' : $("#admin_from").val()
        },
        dataType: 'json',
        success: function (result) {
         $('#notice_message').show();
         $('#success_message').html('');
         $('#error_message').html('');

         if (result['error'] == 0){
            // redirect
            // var url="erp_warehouse_transfer_packing.php?act=list&transfer_id=" + transfer_id;
            // window.location=url;
         }else{
            if (result.message != '') {
                $('#error_message').html(result.message);
            }

            var $filter = {};
            $filter.transfer_id = transfer_id;
            $filter.page = 1;
            $table.search($filter);
         }
        },
        error: function (xhr) {
         alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
         console.log(xhr);
        }
    });
});


var force_submit = 0
$(document).on('click','#transfer_confirm_force',function(){
    console.log('force');
    force_submit = 1;
    $('#next_step').trigger('click');
});

$('#next_step').click(function(){
    console.log('next step');

    // check
    if (confirm("確定出貨?")) {
        $.ajax({
            url: 'erp_warehouse_transfer_packing.php',
            type: 'post',
            cache: false,
            data: {
                'act': 'post_transfer_confirm_check',
                'transfer_id' : transfer_id,
            },
            dataType: 'json',
            success: function (result) {
             $('#notice_message').show();
             $('#success_message').html('');
             $('#error_message').html('');
             if (result['error'] == 0 || force_submit == 1){
                $.ajax({
                    url: 'erp_warehouse_transfer_packing.php',
                    type: 'post',
                    cache: false,
                    data: {
                        'act': 'post_transfer_confirm',
                        'transfer_id' : transfer_id,
                    },
                    dataType: 'json',
                    success: function (result) {

                        console.log('result111',result);
                        $('#notice_message').show();
                        $('#success_message').html('');
                        $('#error_message').html('');
                        if (result['error'] == 0){
                            var url="erp_warehouse_transfer_transport.php?act=list&transfer_id=" + transfer_id;
                            window.location=url;
                        }else{
                            if (result.message != '') {
                                $('#error_message').html(result.message);
                            }
                        }
                    },
                    error: function (xhr) {
                        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
                        console.log(xhr);
                    }
                });
               
             }else{
                if (result.message != '') {
                    $('#error_message').html(result.message);
                }
                // var $filter = {};
                // $filter.transfer_id = transfer_id;
                // $filter.page = 1;
                // $table.search($filter);
             }
            },
            error: function (xhr) {
             alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
             console.log(xhr);
            }
        });

    }

    // if (confirm("確定出貨?")) {
    //     // check stock if it is enough
    //     $.ajax({
    //         url: 'erp_warehouse_transfer_packing.php',
    //         type: 'post',
    //         cache: false,
    //         data: {
    //             'act': 'post_transfer_qty_check',
    //             'transfer_id' : transfer_id,
    //         },
    //         dataType: 'json',
    //         success: function (result) {
    //          $('#notice_message').show();
    //          $('#success_message').html('');
    //          $('#error_message').html('');
    // 
    //          if (result['error'] == 0){
    //             // redirect
    //             var url="erp_warehouse_transfer_packing.php?act=list&transfer_id=" + transfer_id;
    //             window.location=url;
    //          }else{
    //             if (result.message != '') {
    //                 $('#error_message').html(result.message);
    //             }
    // 
    //             var $filter = {};
    //             $filter.transfer_id = transfer_id;
    //             $filter.page = 1;
    //             $table.search($filter);
    //          }
    //         },
    //         error: function (xhr) {
    //          alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
    //          console.log(xhr);
    //         }
    //     });
    // }
});

(function($){
 $.fn.focusTextToEnd = function(){
        this.focus();
        var $thisVal = this.val();
        this.val('').val($thisVal);
        return this;
    }
})(jQuery);

$(document).on("click",".transfer_qty_text",function(){
    var item_id = $(this).data('item-id');
    var $transfer_qty_text = $(this);
    var $transfer_qty_input = $(this).next(".transfer_qty_input");

    function transfer_qty_update()
    {
        // check qty is number
        if (!$.isNumeric($transfer_qty_input.val())) {
            console.log('請輸入數字');
            return false;
        }else{
            var temp_qty = Math.round($transfer_qty_input.val());
            $transfer_qty_input.val(temp_qty);
        }

        $.ajax({
            url: 'erp_warehouse_transfer_create.php',
            type: 'post',
            cache: false,
            data: {
                'act': 'post_transfer_qty_update',
                'transfer_id' : transfer_id,
                'item_id' : item_id,
                'transfer_qty' : $transfer_qty_input.val(),
            },
            dataType: 'json',
            success: function (result) {
                $('#notice_message').show();
                $('#success_message').html('');
                $('#error_message').html('');
                if (result['error'] == 0){
                    if ($transfer_qty_input.val() != $transfer_qty_text.data('requested-qty')) {
                        $transfer_qty_text.addClass('red');
                    }else{
                        $transfer_qty_text.removeClass('red');
                    }

                    $transfer_qty_text.show();
                    $transfer_qty_text.html($transfer_qty_input.val());
                    $transfer_qty_input.hide();
                }else{
                    if (result.message != '') {
                        $('#error_message').html(result.message);
                    }
                }
            },
            error: function (xhr) {
             alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
             console.log(xhr);
            }
        });
    }

    // change qty edit mode
    $(this).hide();
    $transfer_qty_input.show()
    $transfer_qty_input.focusTextToEnd();
    $transfer_qty_input.blur(function(){
        transfer_qty_update();
    }).keyup(function(event) {
        if (event.keyCode === 13) {
            transfer_qty_update();
        }
    });
});

$(document).on("click",".delete-transfer-item",function() {
    if (confirm("確定删除")) {
        var item_id = $(this).data('item-id');
        $.ajax({
            url: 'erp_warehouse_transfer_create.php',
            type: 'post',
            cache: false,
            data: {
             'act': 'post_transfer_item_delete',
             'item_id' : item_id,
             'transfer_id' : transfer_id,
            },
            dataType: 'json',
            success: function (result) {
             $('#notice_message').show();
             $('#success_message').html('');
             $('#error_message').html('');

             if (result['error'] == 0){
                 var $filter = {};
                 $filter.transfer_id = transfer_id;
                 //	listTable.filter.act = 'query_goods';
                 $filter.page = 1;
                 $table.search($filter);
             }else{
                 console.log('result',result);
                 if (result.message != '') {
                     $('#error_message').html(result.message);
                 }
             }
            },
            error: function (xhr) {
             alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
             console.log(xhr);
            }
        });
    }
});


$("#search_goods").click(function(){
    //console.log($('#b_id').val());
    var warehouse_from = $('#warehouse_from').val();
    var goods_sn = $('#goods_sn').val();
    var goods_qty = $('#goods_qty').val();

    if (warehouse_from <= 0) {
        alert('請選擇貨倉');
        return false;
    }

    if (goods_sn == 0) {
        alert('請選擇產品');
        return false;
    }
   
    // check stocktake sku 
    $.ajax({
      url: 'erp_warehouse_transfer_create.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_search_product_by_sku',
        'warehouse_id' : warehouse_from,
        'goods_sn' : goods_sn,
        'goods_qty' : goods_qty,
        'transfer_id' : transfer_id,
      },
      dataType: 'json',
      success: function (result) {
        $('#notice_message').show();
        $('#success_message').html('');
        $('#error_message').html('');

        if (result['error'] == 0){
            var $filter = {};
            $filter.transfer_id = transfer_id;
            //	listTable.filter.act = 'query_goods';
            $filter.page = 1;
            $table.search($filter);
        }else{
            console.log('result',result);
            if (result.message != '') {
                $('#error_message').html(result.message);
            }
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
 });

</script>
{/if}
