<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style>

.popup_block {
    text-align: center;
    display: inline;
    padding: 4px;
}

.stocktake_dropdown_menu li a {
    font-size: 13px;
    padding: 7px 20px;
    line-height: 1.928571;
}

.filter_block {
    display: inline-block;
}

.picked_up_label{
    padding:7px 13px !important;
}

.picked_up_label_undo{
    background: #FD495C !important;
    color:white !important;
    position: relative;
    top: -15px;
    left: -12px;
}

.pickup_label_group {
    display: inline-block;
}

.picked_up_label_undo {
    cursor: pointer;
}

.dn_download {
    border: 0;
}

</style>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="erp_order_wholesale_delivery.php?act=list" style="margin:0px">
        <div class="filter_block">
        狀態:<br><select class="form-control" name="status" id="status">
            <option value="-1" selected>全部</option>
            {foreach from=$status_options  key=id item=status}
                <option value="{$id}" >{$status}</option>
            {/foreach}
        </select>
        </div>
      
        <div class="filter_block">
            訂單編號:<br>
        <input class="form-control" name="order_sn" type="text" id="order_sn" size="15" value='' /> 
        </div>

        <div class="filter_block">
         <input class="btn btn-success form-btn" type="button" id="transfer_search" name="transfer_search" value="{$lang.query}" />
        </div>
      </form>
    </div>

    <div class="list-div" id="listDiv">
        
     <input style="display:inline-block;visibility:hidden;" type="button" data-change-type="0" class="bulk_confirm_action btn btn-warning" value="封存">
     <input style="display:inline-block;visibility:hidden;" type="button" data-change-type="2" class="bulk_confirm_action btn btn-danger" value="刪除">
        <table id="stocktake" class="table table-striped table-bordered bulk_action">
        <thead>
        <th data-id="delivery_id" data-key="delivery_id">編號
        </th>
        <th width=100px data-sort=0 data-id="order_date_html">出貨日期</th>
        <th data-id="order_sn">訂單編號
        </th>
        <th data-id="delivery_sn">物流單編號
        </th>
        <th data-id="salesperson">開單負責人
        </th>
        
        <th data-sort=0 data-id="status_html">狀態</th>
        <th width=100px data-sort=0 data-id="follow_up_remark_1">跟進備註</th>
        <th data-sort=0 data-id="action_html">操作</th>
        </thead>
        </table>
    </div>

<div class="modal fade" role="dialog" id="popup_follow_up_remark_modal">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">跟進備註</h4>
        </div>
        <div class="modal-body">
            <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">備註 : <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control col-md-7 col-xs-12" id="popup_follow_up_remark_data" rows="20" cols="54" placeholder=""></textarea>
                </div>
            </div>   
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class=" btn btn-success" type="button" id="submit_follow_up_remark_data" name="submit_follow_up_remark_data" value="確定" placeholder="">
                </div>
            </div>
            </form>
            <div id="notice_message" class="form-div" style="display:none">
                <div id="success_message"></div>
                <div id="error_message"></div>
            </div>
        </div>
    </div>
    </div>
</div>


{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
   // 开始检查订单
    //popupBlock.init();
}

yohoTable.drawCallback = function(setting,api) {
    // inital order goods
    $(".tr_finished_block").closest('tr').css('background','rgba(0, 128, 0, 0.16)');
};


var $table = yoho_dataTable();

var current_rma_id = 0;

$(document).on('click','.confirm_action',function(){
    var transfer_id = $(this).data('transfer-id');
    var change_type = $(this).data('change-type');
    if (change_type == 0) {
        var confirm_word = '確定執行封存?';
    } else {
        var confirm_word = '確定執行刪除?';
    }
    if(confirm(confirm_word)){
        // save
        $.ajax({
           url: 'erp_warehouse_transfer.php',
           type: 'post',
           cache: false,
           data: {
           'act': 'post_transfer_type_change',
           'transfer_id': transfer_id,
           'change_type': change_type,
        },
        dataType: 'json',
        success: function(result) {
            if (result.error == 0) {
                $table.draw();
            } else {
                alert(result.message);
            }
        },
        error: function(xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
        }
        }); 
    }
    else{
        return false;
    }
});

$(document).on('click','.dn_download',function(){
    console.log('.......');

    console.log('dn_download', $(this).data('delivery-id') );
    var delivery_id = $(this).data('delivery-id');
    // if($('select[name=wsid]').val() != '' && $('select[name=template]').val() != '' && $('#ws_print_oid').val()){
            window.open('wholesale_invoice.php?act=dn_export&delivery_id='+delivery_id);
            modal.hide($popup);
    // }
});

$(document).on('click','.dn_packed,.picked_up_label_undo,.dn_collected',function(){
    console.log('dn_packed', $(this).data('delivery-id') );
    var delivery_id = $(this).data('delivery-id');
    var delivery_status = $(this).data('delivery-status');

    $.ajax({
    url: 'erp_order_wholesale_delivery.php',
    type: 'post',
    cache: false,
    data: {
        'act': 'dn_picked_confirm',
        'delivery_status': delivery_status,
        'delivery_id' : delivery_id,
    },
    dataType: 'json',
    success: function (result) {
      if (result['error'] == 0) {
        var $filter = {};
        $filter.status = $("#status").val();
        //$filter.page = 1;
        $table.search($filter);
        //$('#popup_follow_up_remark_modal').modal('toggle');
      } else {
        alert(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });


});

// $(document).on('click','.dn_collected',function(){
//     console.log('dn_collected', $(this).data('delivery-id') );
//     var delivery_id = $(this).data('delivery-id');
// });

$("#transfer_search").click(function(){
    var $filter = {};
    $filter.status = $("#status").val();
    $filter.order_sn = $("#order_sn").val();
    $table.search($filter);
    $(".bulk_confirm_action").css('visibility', 'hidden');
    return;
});

$("#submit_follow_up_remark_data").click(function(){
    var popup_follow_up_remark_data = $('#popup_follow_up_remark_data').val();

    $.ajax({
    url: 'erp_order_wholesale_delivery.php',
    type: 'post',
    cache: false,
    data: {
        'act': 'post_order_wholesale_delivery_follow_up_remark_submit',
        'follow_up_remark': popup_follow_up_remark_data,
        'delivery_id' : current_delivery_id,
    },
    dataType: 'json',
    success: function (result) {
      if (result['error'] == 0) {
        var $filter = {};
        $filter.status = $("#status").val();
        $filter.order_sn = $("#order_sn").val();
        
        $filter.page = 1;
        $table.search($filter);
        $('#popup_follow_up_remark_modal').modal('toggle');
      } else {
        alert(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });
});

$(document).on('click','.follow_up_remark',function(){
    current_delivery_id = $(this).data('delivery-id');
    console.log('current_delivery_id',current_delivery_id);
    $('#popup_follow_up_remark_data').val('');
    console.log('aaaaa',$(this).html());
    if ($(this).html() != '請輸入') {
        $('#popup_follow_up_remark_data').val($(this).html());
    }
});

//-->
</script>
{/literal}

