{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}

<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <form class="form-inline" action="javascript:searchRevise()">
            <select class="form-control" name="s_id">
                <option value="0">{$lang.erp_order_search_supplier}</option>
                {foreach from=$supplier_list item=supplier_info}
                    <option {if $s_id eq $supplier_info.supplier_id}selected="selected"{/if} value="{$supplier_info.supplier_id}">{$supplier_info.name}</option>
                {/foreach}
            </select>
            <select class="form-control" name="p_id">
                <option value="0">{$lang.erp_order_search_purchaser}</option>
                {foreach from=$purchaser_list item=purchaser key=key}
                    <option {if $p_id eq $key}selected="selected"{/if} value="{$key}">{$purchaser}</option>
                {/foreach}
            </select>
            <select class="form-control" name="t_id">
                <option value="">{$lang.erp_order_search_type}</option>
                <option {if $t_id eq 0 && $t_id neq ''}selected="selected"{/if} value="0">正常採購</option>
                <option {if $t_id eq 1}selected="selected"{/if} value="1">代理送貨</option>
                <option {if $t_id eq 2}selected="selected"{/if} value="2">寄賣</option>
                <option {if $t_id eq 3}selected="selected"{/if} value="3">RMA更換</option>
            </select>
            
            {$lang.erp_order_search_order_sn} <input  class="form-control" type="text" name="erp_order_sn" size="15" value="{$order_sn}" />

            <input class="btn btn-info" type="submit" value="{$lang.query}">
            <br>
            <div class="input-group" style="margin-bottom: 0">
                <span class="input-group-addon">申請日期</span>
                <input data-type='date' class="form-control" type="text" name="start_date" style="width: 120px" value=""/>
                <span class="input-group-addon">至</span>
                <input data-type='date' class="form-control" type="text" name="end_date" style="width: 120px" value="" />
            </div>
            <select class="form-control" name="status">
                <option value="-1">所有狀態</option>
                {foreach from=$lang.po_revise_status key=key item=item}
                <option value="{$key}">{$item}</option>
                {/foreach}
            </select>
        </form>
    </div>
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <table id="revise" class="table table-striped table-bordered dataTable no-footer">
            <thead>
                <th data-id="revise_id">修訂編號</th>
                <th data-id="order_sn">訂單</th>
                <th data-id="create_at">申請日期</th>
                <th data-id="create_by" data-value="create_admin">申請人</th>
                <th data-id="status">狀態</th>
                <th data-id="approve_at">批核日期</th>
                <th data-id="approve_by" data-value="approve_admin">批核人</th>
                <th data-id="_action">{$lang.handler}</th>
            </thead>
        </table>
    </div>
</div>

{include file="pagefooter.htm"}
<script>
    var $table = yoho_dataTable()

    function searchRevise() {
        $filter = [];
        $filter['s_id'] = $("select[name=s_id]").val()
        $filter['p_id'] = $("select[name=p_id]").val()
        $filter['t_id'] = $("select[name=t_id]").val()
        $filter['order_sn'] = $("input[name=erp_order_sn]").val()
        $filter['start_date'] = $("input[name=start_date]").val()
        $filter['end_date'] = $("input[name=end_date]").val()
        $filter['status'] = $("select[name=status]").val()
        $("#revise").data('dt_params', $filter);
        $("#revise").DataTable().draw()
    }
</script>