<div class=" x_panel" style="display:none">
<div class="x_title">
    <h2>填寫備註</h2>
    <div class="clearfix"></div>
</div>
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 備註: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea class="form-control col-md-7 col-xs-12" rows="2" cols="54" id="save_note_text" placeholder="填寫備註"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class=" btn btn-success" id="save_note_btn" type="button" value="儲存"/>
        </div>
    </div>
</form>
</div>

<div class="x_panel">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_title">
            <h2>操作記錄</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" id="action_comment_log" style="overflow-y:scroll; height:400px; width:95%">
            <ul class="list-unstyled timeline">
                {foreach from=$action_log item=group}
                <li>
                    <div class="block">
                        <div class="tags">
                            <a href="" class="tag">
                                <span>{$group[0].step} {$group[0].step_name}</span>
                            </a>
                        </div>
                        <div class="block_content">
                            <h2 class="title">
                                <a style="color: #1abb9c;">{$group[0].step_name}</a>
                            </h2>
                            {foreach from=$group item=log}
                          
                            <div class="excerpt">
                            <div class="rma_note_user_profile" >{$log.avatar}</div>
                            <div class="rma_note_content"><span class="comment_date2">{$log.create_time}</span><br>{$log.note}</a></div>
                            </div>
                            {/foreach}
                        </div>
                    </div>
                </li>
                {/foreach}

            </ul>
        </div>
    </div>
</div>
<div class=" x_panel">
    <div class="x_title">
        <h2>維修出入庫存記錄</h2>
        <div class="clearfix"></div>
    </div>
    <table id="rma_log" class="table table-striped table-bordered bulk_action">
    <thead>
    <th data-id="warehouse_name">貨倉</th>
    <th data-id="w_d_style">出入貨類型</th>
    <th data-sort=0 data-id="order_sn">計單號</th>
    <th data-sort=0 data-id="w_d_sn">出入貨單號</th>
    <th data-sort=0 data-id="w_d_name">提/交貨人</th>
    <th data-sort=0 data-id="act_date">	日期</th>
    <th data-sort=0 data-id="qty">數量</th>
    <th data-sort=0 data-id="stock">存貨</th>
    </thead>
    </table>
</div>
<script>

$("#action_comment_log").scrollTop($("#action_comment_log")[0].scrollHeight);

$('#save_note_btn').click(function(){
    //var repair_type = $(this).data('repair-type');
    //var user_id = $("#user_id").val();
    //var replace_with_new = $("#replace_with_new").val();
    //var note = $("#save_note_text").val();

    if ($("#save_note_text").val() != '') {
        $.ajax({
          url: 'erp_rma_check.php',
          type: 'post',
          cache: false,
          data: {
            'act': 'post_rma_save_note',
            'note' : $("#save_note_text").val(),
            'rma_id' : rma_id
          },
          dataType: 'json',
          success: function (result) {
            if (result['error'] == 0){
                var url="erp_rma_check.php?act=list&rma_id=" + rma_id ;
                window.location=url;
                return ;
            }else{
                alert(result.message);
            }
          },
          error: function (xhr) {
            alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
            console.log(xhr);
          }
        });
    } else {
        alert('請輸入備註');
    }

});


$('#save_user_btn').click(function(){
    //var repair_type = $(this).data('repair-type');
    //var user_id = $("#user_id").val();
    //var replace_with_new = $("#replace_with_new").val();
    //var note = $("#save_note_text").val();

    var $save_user_btn = $(this);

    if ($("#user_id").val() != '') {
        $.ajax({
          url: 'erp_rma_common.php',
          type: 'post',
          cache: false,
          data: {
            'act': 'post_rma_save_user',
            'user_id' : $("#user_id").val(),
            'rma_id' : rma_id
          },
          dataType: 'json',
          success: function (result) {
            if (result['error'] == 0){
                $('#save_user_success').html('儲存成功');
                if (typeof($save_user_btn.data('goods-admin')) != 'undefined') {
                    if ($save_user_btn.data('goods-admin') == true) {
                        var old_goods_admin = $('.goods-admin').html();
                        $('.goods-admin').html($("#user_id").find(":selected").text());
                        $('.goods-admin').addClass('green');
                        $('#save_user_success').html('儲存成功 (產品跟進人:'+ old_goods_admin +' > '+ $("#user_id").find(":selected").text() +')');
                    }
                }

                //var url="erp_rma_check.php?act=list&rma_id=" + rma_id ;
                //window.location=url;
                return ;
            }else{
                alert(result.message);
            }
          },
          error: function (xhr) {
            alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
            console.log(xhr);
          }
        });
    } else {
        alert('請選擇跟進人');
    }

});


</script>
