<div class=" x_panel">

<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="x_title">
        <h2>特別處理</h2>
        <div class="clearfix"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">負責部門 : <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12 form_text">
            {if $rma_basic_info.status == 1} Product Team {else} Sale Team {/if}
        </div>
    </div>
<div class="form-group">
 <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">跟進人 :  <span class="required">*</span>
 </label>
 <div class="col-md-6 col-sm-6 col-xs-12">
     <select class="form-control" name="user_id_special" id="user_id_special">
     {foreach from=$person_in_charge_option item=opt}
         <option {if $opt.value == $rma_basic_info.person_in_charge} selected {/if} value="{$opt.value}">{$opt.name}</option>
     {/foreach}
     </select>
 </div>
 </div>
    {if $channel == 0 && $rma_basic_info.status == 3}
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="checkbox">
                <input type="checkbox" id="special_case_3" class="flat" style="position: absolute; opacity: 0;">
                先給客人一個全新的,有問題的產品再之後維修.
            </label>
        </div>
    </div>
    {/if}
    {if $channel == 0 && $rma_basic_info.status == 4}
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="checkbox">
                <input type="checkbox" id="special_case_1" class="flat" style="position: absolute; opacity: 0;">
                無法維修,給顧客退款
            </label>
        </div>
    </div>
    {/if}
    {if $rma_basic_info.status == 4}
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="checkbox">
                <input type="checkbox" id="special_case_2" class="flat" style="position: absolute; opacity: 0;">
                無法維修,產品額外處理
            </label>
        </div>
    </div>
    {/if}

    {if $rma_basic_info.status == 1}
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> <span class="required"></span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="checkbox">
                <input type="checkbox" id="special_case_4" class="flat" style="position: absolute; opacity: 0;">
                直接報廢
            </label>
            <textarea class="form-control col-md-7 col-xs-12" style="margin-top: 5px;" id="note_special" rows="2" cols="54" placeholder="填寫備註"></textarea>
        </div>
    </div>
    {/if}

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_content">
              <input class=" btn btn-success" type="button" id="continue_btn_special" value="確定">
                <div class="red" id="error_msg"></div>
            </div>
        </div>
    </div>
</form>
</div>
