{include file="pageheader.htm"}


{insert_scripts files="../js/jquery.blockUI.2.23.js"}

{include file="erp_barcode_inquiry_search.htm"}

<style type="text/css">
	.current_page_style
	{
		color:red;
		font-weight:bold;
	}
	
	.tb_size
	{
		margin:0px auto;
		width:100%;
		border-top:none;
		border-left:none;
		border-bottom:none;
		border-right:none;		
	}	
	
	.tb_size td
	{
		margin:0px auto;
		border-bottom:1px solid #EEF8F9;
		border-right:1px solid #EEF8F9;
		
		border-top:none;
		border-left:none;	
	}	
	
</style>

<!-- start barcode list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action">
  <tr>
    <th width="5%">{$lang.erp_barcode_goods_id}</th>
    <th width="100">{$lang.erp_barcode_goods_img}</th>
	<th width="20%">{$lang.erp_barcode_goods_sn}</th>
	<th width="20%">{$lang.erp_barcode_goods_name}</th>
	<th>{$lang.erp_barcode_attr_and_barcode}</th>
  </tr>
  {foreach from=$goods_list key=goods_id item=goods}
  <tr>
  	<td align="center">{$goods.goods_info.goods_id}</td>
	<td align="center"><img width="100" height="100" src="{if $goods.goods_info.goods_img}{$goods.goods_info.goods_img}{else}images/no_img.gif{/if}" /></td>
	<td align="center">{$goods.goods_info.goods_sn}</td>  
	<td>{$goods.goods_info.goods_name}</td>    
	<td align="center">
		<table class="tb_size" cellspacing="0" height="100" width="100%">
			{if $goods.goods_info.no_attr}
				<tr>
					<td width="50%" style="border-bottom:none;">
						$$
					</td>
					<td style="border-bottom:none;">
						<span id="span_barcode_{$goods_id}" rel="{$goods_id}">
							{if $goods.goods_info.barcode}
								{$goods.goods_info.barcode}
							{else}
								EMPTY
							{/if}
						</span>
						<input id="input_barcode_{$goods_id}" rel="{$goods_id}" type="text" value="{$goods.goods_info.barcode}" style="display:none;">
					</td>
				</tr>	
			{else}
				{foreach from=$goods.attr item=barcode name=wrap1 }
					<tr>
						<td width="50%" {if $smarty.foreach.wrap1.last}style="border-bottom:none;"{/if}>
								{foreach from=$barcode.attr item=attr_item}
									{$attr_item.attr_value}
								{/foreach}
						</td>
						<td {if $smarty.foreach.wrap1.last}style="border-bottom:none;"{/if}>
							<span id="span_barcode_{$goods_id}_{$barcode.attr_id_no_dynamic}" rel="{$goods_id}_{$barcode.attr_id_no_dynamic}">
								{if $barcode.barcode}
									{$barcode.barcode}
								{else}
									EMPTY
								{/if}								
							</span>
							<input id="input_barcode_{$goods_id}_{$barcode.attr_id_no_dynamic}" rel="{$goods_id}_{$barcode.attr_id_no_dynamic}" type="text" value="{$barcode.barcode}" style="display:none;">
						</td>
					</tr>
				{/foreach}
			{/if}
		</table>
	</td> 
  </tr> 
  {foreachelse}
  <tr><td class="no-records" colspan="5">{$lang.no_records}</td></tr>
 {/foreach}
  <tr><td colspan="5" align="right">{$pager}</td></tr> 
</table>
</div>
<!-- end barcode list -->

{if allow_edit}
<script language="JavaScript">
 	$(document).ready(function(){
		
		$("span[id^='span_barcode_']").css('cursor','pointer');
		
		$("span[id^='span_barcode_']").mouseover(function(){
			$(this).css('color','red');
		});
		$("span[id^='span_barcode_']").mouseout(function(){
			$(this).css('color','black');
		});	
		$("span[id^='span_barcode_']").click(function(){
			var obj_id=$(this).attr('rel');
			$(this).hide();
			$("#input_barcode_"+obj_id).show().focus();
		});
		
		$("input[id^='input_barcode_']").blur(function(){
			
			var obj_id=$(this).attr('rel');
			$("#span_barcode_"+obj_id).show();
			$("#input_barcode_"+obj_id).hide();	
					
		});
		
		$("input[id^='input_barcode_']").change(function(){
			
			var obj_id=$(this).attr('rel');
			var barcode=$(this).attr('value');
			
			if(barcode=='')
			{
				alert('请输入条码');
				return;
			}
			
			function setBarcodeResponse(res)
			{
				if(res.error>0)
				{
					alert(res.message);
				}
				else{
					if(barcode=='')
					{
						barcode='EMPTY';
					}
					$("#span_barcode_"+obj_id).html(barcode).show();
					$("#input_barcode_"+obj_id).hide();
				}
			}
			
			Ajax.call('erp_goods_barcode.php?act=set_barcode', 'obj_id='+obj_id+'&barcode='+barcode, setBarcodeResponse, 'POST', 'JSON');
		});		
	});
</script>
{/if}

{include file="pagefooter.htm"}

