{include file="pageheader.htm"}



 <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action">
  <tr>
    <th  width="5%">{$lang.erp_warehousing_style_id}</th>
	<th>{$lang.erp_warehousing_style}</th>
	<th width="10%">{$lang.erp_is_valid}</th>	
	<th width="10%">{$lang.erp_operation}</th>
  </tr>
  {foreach from=$warehousing_style_list key=key item=warehousing_style}
	<tr>
		<td align="center">{$warehousing_style.warehousing_style_id}</td>
		<td>{$warehousing_style.warehousing_style}</td>
		<td align="center"><span id="is_valid_{$warehousing_style.warehousing_style_id}" style="cursor:pointer;color:{if $warehousing_style.is_valid eq 1}red;{else}black;{/if}">{if $warehousing_style.is_valid}{$lang.erp_yes}{else}{$lang.erp_no}{/if}</span></td>
		<td align="center">
			{if $warehousing_style.warehousing_style_id gt 3}
			<a href="erp_warehousing_style.php?act=edit&id={$warehousing_style.warehousing_style_id}">{$lang.erp_operation_edit}</a>
			<a href="javascript:;" onclick="javascript:remove({$warehousing_style.warehousing_style_id})">{$lang.erp_operation_delete}</a>
			{else}
			--
			{/if}
		</td>
	</tr>
  {foreachelse}
  <tr><td class="no-records" colspan="5">{$lang.no_records}</td></tr>
  {/foreach}
  <tr><td colspan="4" align="right">{$pager}</td></tr>  
</table>
</div>


{literal}
<script language="JavaScript">
	
	function remove(warehousing_style_id)
	{
		function removeWarehousingStyleResponse(res)
		{
			if(res.error==3)
			{
				alert(res.message);
				document.location='{$url}';
			}
			else if(res.error==0){
				document.location='{$url}';
			}
			else{
				alert(res.message);
			}
		}
	
		if(confirm('{$lang.erp_sure_to_delete}')){
			Ajax.call('erp_warehousing_style.php?act=remove', 'warehousing_style_id=' + warehousing_style_id, removeWarehousingStyleResponse, 'POST', 'JSON');
		}		
	}

   $(document).ready(function(){
   		
		//设置是否有效
   		$("span[id^='is_valid_']").click(function(){
			var $select_item=$(this);
			var warehousing_style_id=$select_item.attr('id');
			warehousing_style_id=warehousing_style_id.substr('is_valid_'.length,warehousing_style_id.length-'is_valid_'.length);
			
			function changeIsValidResponse(res)
			{
				if(res.error==0 && res.is_valid==1)
				{
					$select_item.css('color','red');
					$select_item.text('{$lang.erp_yes}');
					//alert(res.message);
				}
				else if(res.error==0 && res.is_valid===0)
				{
					$select_item.css('color','black');
					$select_item.text('{$lang.erp_no}');
					//alert(res.message);
				}
				else{
					
					alert(res.message);
				}
			}
			
			Ajax.call('erp_warehousing_style.php?act=change_is_valid', 'warehousing_style_id=' + warehousing_style_id, changeIsValidResponse, 'POST', 'JSON');
		});
		
		
   });   
</script>
{/literal}
{include file="pagefooter.htm"}

