{include file="pageheader.htm"}

<link href="styles/ERP.css" rel="stylesheet" type="text/css" />


<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>



<script type="text/javascript">

	function set_goods_sn(sn)
	{
		$("#input_goods_sn").attr('value',sn);
	}
	
	function hide_goods_sn_tips()
	{
		$("#goods_sn_tips").hide();	
	}

	$(document).ready(function(){		
		
		var current_goods_sn='';

		$("#input_goods_sn").blur(function(){
			var goods_sn=$(this).attr('value');
	
			function checkGoodsSnResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);
					$("#input_goods_sn").focus();
					$("#input_goods_sn").attr('value','');
				}
				else{
					$("#attr_box").html(res.attr_info);
					$("#input_qty").focus();
				}
			}
			if(goods_sn!='')
			{
				Ajax.call('erp_stock_daily.php?act=check_goods_sn', 'goods_sn='+goods_sn, checkGoodsSnResponse, 'POST', 'JSON');
			}
		});

		$("#input_goods_sn").keyup(function(){
			
			var goods_sn=$(this).attr('value');

			function goodsSNTipsResponse(res)
			{
				if(res.error!=0)
				{
					alert(res.message);	
				}
				else{	
					//显示货号提示
					if(res.num>0)
					{
						$("#goods_sn_tips").empty().append(res.content);
							
						var offset=$("#input_goods_sn").offset();
						var offset_top=offset.top;
						var offset_left=offset.left;
	
						var ua = navigator.userAgent.toLowerCase();
							
						if(ua.match(/firefox/))
						{
							offset_top=offset_top+9;
							offset_left=offset_left;							
						}
						else{
							offset_top=offset_top+10;
							offset_left=offset_left;							
						}
							
						$("#goods_sn_tips").css('left',offset_left);
						$("#goods_sn_tips").css('top',offset_top);
						$("#goods_sn_tips").show();	
					}
					else{
						$("#goods_sn_tips").hide();	
					}					
				}
			}

			if(goods_sn!=current_goods_sn)
			{
				current_goods_sn=goods_sn;
				if(goods_sn!='')
				{
					Ajax.call('erp_stock_daily.php?act=goods_sn_tips', "goods_sn="+goods_sn, goodsSNTipsResponse, 'POST', 'JSON');
				}	
			}				
		});	
	});
	
	function stock_daily()
	{
		var goods_sn=$("#input_goods_sn").attr('value');
		var warehouse_id=$("#warehouse_id").attr('value');
		
		var ids='';
			
		$("select[id^='select_attr_']").each(function(index){
				
			var value=$($("select[id^='select_attr_']")[index]).attr('value');
				
			ids=ids+value+',';
		});
		
		var start_date=$("#start_date").attr('value');
		var end_date=$("#end_date").attr('value');
		
		if(warehouse_id==0)
		{
			alert('{$lang.erp_stock_daily_warehouse_required}');
			return;			
		}
		
		if(goods_sn=='')
		{
			alert('{$lang.erp_stock_daily_goods_sn_required}');
			return;
		}
		
		window.location='erp_stock_daily.php?act=list&warehouse_id='+warehouse_id+'&goods_sn='+goods_sn+'&ids='+ids+'&start_date='+start_date+'&end_date='+end_date;
	}
	
</script>

<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="javascript:;" method="post" id="selectForm" name="selectForm">

	{$lang.erp_stock_daily_warehouse}：
	<select name="warehouse_id" id="warehouse_id">
		<option value="0">{$lang.erp_stock_daily_select_warehouse}</option>
		{foreach from=$warehouse_list item=warehouse}
			<option value="{$warehouse.warehouse_id}" {if $warehouse_id eq $warehouse.warehouse_id}selected="selected"{/if}>{$warehouse.name}</option>
		{/foreach}
	</select>   
	
	{$lang.erp_stock_daily_goods_sn}：<input size="15" maxlength="30" id="input_goods_sn" value="{$goods_sn}"  />
	<span id="attr_box"></span>
	
	{$lang.erp_stock_daily_start_date}&nbsp;&nbsp;
    <input name="start_date" id="start_date" value="{$start_date}" style="width:80px;" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" />
    {$lang.erp_stock_daily_end_date}&nbsp;&nbsp;
    <input name="end_date" id="end_date" value="{$end_date}" style="width:80px;" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" />
    <input type="submit" name="submit" value="{$lang.erp_btn_ok}" class="btn btn-primary" onclick="javascript:stock_daily();" />
  </form>
</div>
<div class="tab-div">
    <!-- tab body -->
    <div id="tabbody-div">
        <table width="100%" id="general-table">
          <tr>
          	<td align="center">
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
              codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
              width="900" height="420" id="FCColumn2" align="middle">
              <PARAM NAME="FlashVars" value="&dataXML={$stock_data}">
              <PARAM NAME=movie VALUE="images/charts/line.swf?chartWidth=650&chartHeight=400">
              <param NAME="quality" VALUE="high">
              <param NAME="bgcolor" VALUE="#FFFFFF">
              <param NAME="wmode" VALUE="opaque">
              <embed src="images/charts/line.swf?chartWidth=900&chartHeight=400" FlashVars="&dataXML={$stock_data}" quality="high" bgcolor="#FFFFFF"  width="900" height="400" name="FCColumn2" wmode="opaque" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
            </object>
          </td>
		  </tr>
        </table>
    </div>
</div>

<ul id="goods_sn_tips"></ul>



{include file="pagefooter.htm"}