<link href="styles/stock_inquiry.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/x/js/stock_inqury.js"></script>
<style>
.form_text {
    padding-top: 7px;
}

.comment_date{
    position: relative;
    float: right;
    top: -14px;
}

.comment_date2{
    position: relative;
    -webkit-font-smoothing: antialiased;
    font-style: italic;
    font-size: .9375em;
    line-height: 1.3;
    color: #aab6aa;
}

.link {
    text-decoration: underline;
}

.link {
    text-decoration: underline;
}

.link:hover {
    text-decoration: underline;
}

.link:visited {
   color: #1ABB9C;
}

</style>
<div id="wizard" class="form_wizard wizard_horizontal">
<ul class="wizard_steps anchor">
<li>
  <a href="erp_warehouse_transfer_create.php?act=list&transfer_id={$transfer_id}" {if $step >= 1} class="selected" {else} class="disabled" {/if} isdone="1" rel="1">
    <span class="step_no"> 1</span>
    <span class="step_descr">調貨產品<br>
    </span>
  </a>
</li>
<li >
  <a href="erp_warehouse_transfer_review.php?act=list&transfer_id={$transfer_id}" {if $step >= 2} class="selected" {else} class="disabled" {/if} isdone="0" rel="2">
    <span class="step_no">2</span>
    <span class="step_descr">等待處理調貨單<br>
    </span>
  </a>
</li>
<li>
  <a href="erp_warehouse_transfer_packing.php?act=list&transfer_id={$transfer_id}" {if $step >= 3} class="selected" {else} class="disabled" {/if} isdone="0" rel="3">
    <span class="step_no">3</span>
    <span class="step_descr">執貨處理中<br>
    </span>
  </a>
</li>
<li>
  <a href="erp_warehouse_transfer_transport.php?act=list&transfer_id={$transfer_id}" {if $step >= 4} class="selected" {else} class="disabled" {/if} isdone="0" rel="4">
    <span class="step_no">4</span>
    <span class="step_descr">等待運輸收件<br>
    </span>
  </a>
</li>
<li>
  <a href="erp_warehouse_transfer_transport.php?act=list&transfer_id={$transfer_id}" {if $step >= 5} class="selected" {else} class="disabled" {/if} isdone="0" rel="5">
    <span class="step_no">5</span>
    <span class="step_descr">運輸中<br>
    </span>
  </a>
</li>
<li>
  <a href="erp_warehouse_transfer_transport.php?act=list&transfer_id={$transfer_id}" {if $step >= 6} class="selected" {else} class="disabled" {/if} isdone="0" rel="5">
    <span class="step_no">6</span>
    <span class="step_descr">入貨處理<br>
    </span>
  </a>
</li>
<li>
  <a href="erp_warehouse_transfer_transfer.php?act=list&transfer_id={$transfer_id}" {if $step >= 7} class="selected" {else} class="disabled" {/if} isdone="0" rel="6">
    <span class="step_no">7</span>
    <span class="step_descr">調倉完成<br>
    </span>
  </a>
</li>
</ul>
</div>