<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style>

.popup_block {
    text-align: center;
    display: inline;
    padding: 4px;
}

.stocktake_dropdown_menu li a {
    font-size: 13px;
    padding: 7px 20px;
    line-height: 1.928571;
}

.order_column_tr {
    background-color: #2f75b5;
    color:white;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #828181;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}

.filter_block {
    display: inline-block;
}

</style>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="erp_shop_pickup_transfer_history.php?act=list" style="margin:0px">
        <div class="filter_block">
        調貨分類:<br>
        <select class="form-control" name="reason_type" id="reason_type">
        <option value="-1" selected>全部</option>
        {foreach from=$reason_type_options_filtered  key=id item=type}
            <option value="{$id}" >{$type}</option>
        {/foreach}
        </select>
        </div>
        <div class="filter_block">
        訂單編號:<br>
        <input class="form-control" name="order_sn" type="text" id="order_sn" size="15" value='{$filter.transfer_sn}' /> 
        </div>
        <div class="filter_block">
        產品貨號:<br>
        <input class="form-control" name="goods_sn" type="text" id="goods_sn" size="15" value='{$filter.goods_sn}' /> 
        </div>

        <div class="filter_block">
         <input class="btn btn-success form-btn" type="button" id="transfer_search" name="transfer_search" value="{$lang.query}" />
        </div>
      </form>
    </div>
    <div class="list-div" id="listDiv" style="margin-top: 5px;">
    {/if}
    <br>

      <form class="form-inline" name="order_goods_transfer" id="order_goods_transfer"  action="erp_shop_pickup_tranfer.php?act=list" style="margin:0px">
    
        <input type="hidden" name="act" value="post_transfer_list_create" />
        <input type="hidden" name="main_warehouse_id" value="{$main_warehouse_id}" />
        <input type="hidden" name="shop_warehouse_id" value="{$shop_warehouse_id}" />
        <table id="order_goods_restock" class="table table-striped table-bordered bulk_action">
        <thead>
        
        <th data-sort=0 data-id="transfer_id_html">調貨編號
            
        </th>
        <th data-sort=0 data-id="order_date_html">訂單日期</th>
        <th data-sort=0 data-id="order_sn_html">訂單編號</th>
        <th data-sort=0 data-id="shipping_name">配送方式</th>
        <th data-sort=0 data-id="reason_type_name">調貨原因</th>
        <th data-sort=0 data-id="warehouse_from_name">出貨貨倉</th>
        <th data-sort=0 data-id="warehouse_from_to">收貨貨倉</th>
        <th data-sort=0 data-id="goods_thumb">產品</th>
        <th data-sort=0 data-id="goods_sn">產品貨號</th>
        <th data-sort=0 data-id="goods_name">產品名稱</th>
        
        <th data-sort=0 data-id="transfer_qty">調貨數量</th>
        <th data-sort=0 data-id="status_html">調貨狀態</th>
        </thead>
        </table>

</form>
    {if $full_page}
    </div>
</div>

{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
   // 开始检查订单
}

var total_records = 0;
var shop_warehouse_id = {$shop_warehouse_id};
yohoTable.table_id = "order_goods_restock";

yohoTable.drawCallback = function(setting,api) {
   
};

var $table = yoho_dataTable();

var yohoTableConfirm = {
    query: 'suggestion_query&suggest_type={$key}&status={$key2}',
    table_id: "order_goods_restock_confirm",
    lengthMenu: [50, 100, 150],
};

//yohoTables.push(yohoTableConfirm);
//yoho_dataTable(1);
$(document).on('change','form input:checkbox',function(){

});

$("#transfer_search").click(function(){
    var $filter = {};
    $filter.order_sn = $("#order_sn").val();
    $filter.goods_sn = $("#goods_sn").val();
    $filter.reason_type = $("#reason_type").val();
    $table.search($filter);
    
    return;
});


//-->
</script>
{/literal}

{/if}