{include file="pageheader.htm"}

<link href="styles/ERP.css" rel="stylesheet" type="text/css" />



<div class=" x_panel">
	<div id="outside_container">
		<div id="inner_container">
			<form name="add_warehouse"  id="add_warehouse"  action="erp_warehouse.php"  onsubmit="javascript:return addWarehouse(this);" method="post">
				<table>
					<tr>
						<td width="20%"><span class="tb_lable">{$lang.erp_warehouse_name}：</span></td>
						<td><input name="name" id="name" type="text" value="{$warehouse_info.name}" {if $warehouse_info.warehouse_id eq 1}disabled="disabled"{/if} style="display:block;"/></td>
						<td><span style="color:red;font-weight:normal;">{$lang.erp_required_item}</span></td>
					</tr>
					<tr>
						<td width="20%"><span class="tb_lable">{$lang.erp_warehouse_description}：</span></td>
						<td><input name="description"  id="description" type="text" value="{$warehouse_info.description}" size="40" /></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><span class="tb_lable">{$lang.erp_admin}：</span></td>
						<td>
							{foreach from=$admin_list item=admin}
								<input type="checkbox" name="admins[]" value="{$admin.user_id}" {if $admin.selected}checked="checked"{/if}>{$admin.user_name}
							{/foreach}
						</td>
						<td><span>&nbsp;</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">{$lang.erp_warehouse_agency}：</span></td>
						<td>
							<select name="agency_id">
								<option value="0">{$lang.erp_warehouse_select_agency}</option>
								{foreach from=$agency_list item=agency}
									<option value="{$agency.agency_id}" {if $agency.selected}selected="selected"{/if}>{$agency.agency_name}</option>
								{/foreach}
							</select>
						</td>
						<td><span>&nbsp;</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">{$lang.erp_warehouse_is_on_sale}：</span></td>
						<td>
							<select id="is_on_sale" name="is_on_sale" >
									<option value='0' {if $warehouse_info.is_on_sale eq 0}selected="selected"{/if} >{$lang.no}</option>
									<option value='1' {if $warehouse_info.is_on_sale eq 1}selected="selected"{/if}>{$lang.yes}</option>
							</select>
							<br />
							<span style="font-weight:normal;">{$lang.erp_warehouse_is_on_sale_tips}</span>
						</td>
						<td><span>&nbsp;</span></td>
					</tr>										
					<tr>
						<td><span class="tb_lable">{$lang.erp_is_valid}：</span></td>
						<td>
							<select id="is_valid" name="is_valid" >
									<option value='0' {if $warehouse_info.is_valid eq 0}selected="selected"{/if} >{$lang.no}</option>
									<option value='1' {if $warehouse_info.is_valid eq 1}selected="selected"{/if}>{$lang.yes}</option>
							</select>
						</td>
						<td><span>&nbsp;</span></td>
					</tr>										
					
					<tr>
						<td  colspan="3" align="center">
						<input type="submit" class="btn" value="确定" >
						</td>
					</tr>																								
				</table>
				<input id="warehouse_id" name="warehouse_id" type="hidden" value="{$warehouse_info.warehouse_id}">
				<input type="hidden" name="act" value="{$act}">	
			</form>
		</div>
	</div>
</div>

{literal}
<script language="JavaScript">
   
    function addWarehouse()
	{
		//var name=$("#name").attr('value');
		var name = $("#name").val();

		if(name=='')
		{
			alert('{$lang.erp_warehouse_name_required}');
			return false;
		}		
		return true;
	}   
	
</script>
{/literal}
{include file="pagefooter.htm"}

