{include file="pageheader.htm"}

<!--
<link href="styles/ERP.css" rel="stylesheet" type="text/css" />
-->
<style>
.pointer {
	cursor: pointer;
}

table#goods_result thead tr th, table#added_result thead tr th {
	text-align: center;
}

table#goods_result tbody tr td, table#added_result tbody tr td {
	vertical-align: middle;
	text-align: center;
}

table#goods_result tbody tr td img.thumb, table#added_result tbody tr td img.thumb {
	width: 50px;
}

table#goods_result tbody tr td.col-add-item span.add-item, table#added_result tbody tr td.col-del-item span.del-item {
	padding: 14px;
}

table#goods_result tbody tr td.col-add-item span.add-item {
	color: #4caf50;
}

table#added_result tbody tr td.col-del-item span.del-item {
	color: red;
}

table#added_result tbody tr td.item-id  {
	display: none;
}

div.item-group div.list-title, div.form-group div.list-text  {
	font-size: 14px;
}

div.item-group div.list-title  {
	font-weight: bold;
}

div.item-group div.list-text  {
	
}

div.item-group {
	padding: 10px 5px;
}

</style>

<div class=" x_panel">
	<div id="inner_container">
		<div class="form-group">
			<div class="col-xs-0 col-sm-0 col-md-0 col-lg-1"></div>
			<div id="extrainfo-table" class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
				<div class="form-group item-group">
					<div class="col-sm-2 list-title">{$lang.sale_agent_name}：</div>
					<div class="col-sm-10 list-text">
						{$sale_agent.name}
					</div>
				</div>
				<div class="form-group item-group">
					<div class="col-sm-2 list-title">{$lang.erp_is_valid}：</div>
					<div class="col-sm-10 list-text">
						{if $sale_agent.active eq 0}
						無效
						{else if $sale_agent.active eq 1}
						生效
						{/if}
					</div>
				</div>
				<div class="form-group item-group">
					<div class="col-sm-2 list-title">結算方式：</div>
					<div class="col-sm-10 list-text">
						{if $sale_agent.pay_type eq 0}
						月結
						{else if $sale_agent.pay_type eq 1}
						預付
						{/if}
					</div>
				</div>
				<div class="form-group item-group">
					<div class="col-sm-2 list-title">自動選取手續費：</div>
					<div class="col-sm-10 list-text">
						{$sa_rate}
					</div>
				</div>
				<div class="form-group item-group">
					<div class="col-sm-12 list-title">已選擇商品：</div>
					<div class="col-sm-12">
						<div class="well well-sm" style="max-height: 800px; overflow-y: scroll;">
							<table class="table table-striped table-responsive" id="added_result">
								<thead>
									<tr>
										<th>條碼</th>
										<th>圖片</th>
										<th>名稱</th>
										<th>價格</th>
										<th>代理價格</th>
										<th>最後更新時間</th>
									</tr>
								</thead>
								<tbody>
									{if $count_goods == 0}
									<tr>
										<td colspan="6" style="text-align: center; font-weight: bold;"> - 未有商品 - </td>
									</tr>
									{else}
									{foreach from=$goods_list item=good}
									<tr data-item-id='{$good.goods_id}'>
										<td class='item-id'><input type='hidden' name='item-id[]' value='{$good.goods_id}'></td>
										<td class='item-sn'>{$good.goods_sn}</td>
										<td class='item-thumb'><img src='../{$good.goods_thumb}' alt='{$good.goods_name}' class='thumb' /></td>
										<td class='item-name'>{$good.goods_name}</td>
										<td class='item-price'>{$good.shop_price}</td>
										<td class='item-ag-price' style="font-weight: bold;">{$good.sa_price}</td>
										<td class='item-ag-price'>{$good.updated_at}</td>
									</tr>
									{/foreach}
									{/if}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-0 col-sm-0 col-md-0 col-lg-2"></div>
		</div>
	</div>
</div>

{literal}
<script language="JavaScript">

</script>
{/literal}
{include file="pagefooter.htm"}

