
<div class=" x_panel">
    <div class="x_title">
        <h2>調倉資訊</h2>
        {if $step >= 3}
        <ul class=" navbar-right ">               
        <a target="_blank" href="erp_stock_transfer_manage.php?act=print&amp;transfer_id={$transfer_info.transfer_id}" class="form-control  btn btn-success" style="margin-bottom: 0px;" id="print_transfer_notice">列印調貨單</a>
        </ul>
        {/if}
        <div class="clearfix"></div>
    </div>
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">調倉編號 : <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text">
                {$transfer_info.transfer_sn}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">狀態 : <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text green">
               {$transfer_info.status_name}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">出貨貨倉 : <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text green">
                {$transfer_info.warehouse_from_name}
            </div>
        </div>

       {if $step >= 3}

       <div class="form-group">
           <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">出貨人 : <span class="required"></span>
           </label>
           <div class="col-md-8 col-sm-8 col-xs-12 form_text ">
               {$transfer_info.admin_from_name}
           </div>
       </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">出貨核對 : <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text ">
                {$transfer_info.cross_check_status}
            </div>
        </div>
         {if $step > 3}
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">出貨備註 : <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text ">
                {$transfer_info.sender_remark}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">出貨日期 : <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text ">
                {$transfer_info.transfer_time}
            </div>
        </div>
        <div class="form-group" style="display:none" >
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">運輸成本 : <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text ">
                ${$transfer_info.transport_cost}
            </div>
        </div>
        {/if}
        {/if}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">開單員工 : <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text ">
                {$transfer_info.operator.user_name}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">調倉原因 : <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text ">
                {$transfer_info.reason_type_name}
            </div>
        </div>
       <div class="form-group">
           <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">收貨貨倉 : <span class="required"></span>
           </label>
           <div class="col-md-8 col-sm-8 col-xs-12 form_text green">
               {$transfer_info.warehouse_to_name}
           </div>
       </div>   
      {if $step > 4}
       <div class="form-group">
           <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">收貨人 : <span class="required"></span>
           </label>
           <div class="col-md-8 col-sm-8 col-xs-12 form_text ">
               {$transfer_info.admin_to_name}
           </div>
       </div>
       <div class="form-group">
           <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">收貨備註 : <span class="required"></span>
           </label>
           <div class="col-md-8 col-sm-8 col-xs-12 form_text ">
               {$transfer_info.receiver_remark}
           </div>
       </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">收貨日期 : <span class="required"></span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 form_text ">
                {$transfer_info.delivered_time}
            </div>
        </div>

        {/if}
        {if $transfer_info.rma_list_count > 0}

            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">RMA編號 : <span class="required"></span>
                </label>
                <div class="col-md-8 col-sm-8 col-xs-12 form_text ">
                    {foreach from=$transfer_info.rma_list item=opt}
                    <a class="link green" target="_blank" href="erp_rma_check.php?act=list&rma_id={$opt.rma_id}">{$opt.rma_id}</a>
                    &nbsp;
                    {/foreach}
                </div>
            </div>
        
        {/if}
    </div>
</form>
</div>

<script>
$('#follow_up_remark_submit').click(function(){
    $.ajax({
    url: 'erp_rma_common.php',
    type: 'post',
    cache: false,
    data: {
        'act': 'post_rma_follow_up_remark_submit',
        'follow_up_remark': $('#follow_up_remark').val(),
        'repair_id' : $('#repair_id').val(),
    },
    dataType: 'json',
    success: function (result) {
      console.log('result',result);
    
      if (result['error'] == 0) {
        $('#follow_up_remark_success').html('儲存成功');
      } else {
        alert(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });
});


</script>

