{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style>
.calendar {
  z-index: 5000;
}

#success_message {
  color :green;
}

#error_message {
  color :red;
}

.highline {
  color:red;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #34495e;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}



</style>

{include file="erp_rma_progress_bar.htm"}
{include file="erp_rma_goods_info.htm"}
{include file="erp_rma_log.htm"}


{if $rma_basic_info['repaired_transfer_id'] == 0}
{include file="erp_rma_back_previous.htm"}
{/if}

<!-- end stock check list -->
{include file="pagefooter.htm"}

<script>
var $table = yoho_dataTable();
var rma_id = {$rma_id};
var $popup2 = '';
console.log('rma_id',rma_id);

</script>
{/if}
