


<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="erp_finance_manage.php" name="searchForm">
    <input type="hidden" name="act" value="gathering_list" />
	<img src="images/icon_search.gif" width="26" height="22" bgathering="0" alt="SEARCH" />
	
    <!-- 收款单状态 -->
    <select name="status">
    	<option value="0">{$lang.erp_gathering_status}</option>
		{foreach from=$gathering_status item=gathering_status}
			<option value="{$gathering_status.status_no}" {if $gathering_status.status_no eq $status}selected="selected"{/if}>--{$gathering_status.status_style}</option>
		{/foreach}
	</select>

	<!-- 收款单号 -->
    {$lang.erp_gathering_search_gathering_sn} <input size="10" type="text" name="gathering_sn" size="15" value="{$gathering_sn}" />	

	<!-- 订单号 -->
    {$lang.erp_gathering_search_order_sn} <input size="10" type="text" name="bill_sn" size="15" value="{$bill_sn}" />		

    <!-- 起始期 -->
    {$lang.erp_gathering_search_start_date} <input size="10" type="text" name="start_date" size="15" value="{$start_date}" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" />
	
	<!-- 结束期 -->
    {$lang.erp_gathering_search_end_date} <input size="10" type="text" name="end_date" size="15" value="{$end_date}" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" />

    <input type="submit" value="{$lang.button_search}" class="btn btn-primary" />
  </form>
</div>