<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style>

.popup_block {
    text-align: center;
    display: inline;
    padding: 4px;
}

.stocktake_dropdown_menu li a {
    font-size: 13px;
    padding: 7px 20px;
    line-height: 1.928571;
}

.rma_filter {
    display: inline-block;
    margin-right: 3px;
}

.person_in_charge_notify {
    float: right;
    margin-bottom: 10px;
    position: relative;
}

.person_in_charge_notify .badge {
    position: absolute;
    top: -10px;
    left: 28px;
}

.bg-red {
    background: #FD495C !important;
}

.avatar {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}

</style>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="erp_rma.php?act=list" style="margin:0px">
        <div class="form-div rma_filter">
        類型:<br> <select class="form-control" name="type" id="type">
            {foreach from=$type_options  key=id item=type}
                <option value="{$id}" "{if $id == 1} selected {/if}" >{$type}</option>
            {/foreach}
        </select>
        </div>
        <div class="form-div rma_filter">
        維修類型: <br> <select class="form-control" name="channel" id="channel">
            <option value="-1" selected>全部</option>
            {foreach from=$channel_options  key=id item=channel}
                <option value="{$id}">{$channel}</option>
            {/foreach}
        </select>
        </div>
        <div class="form-div rma_filter">
        負責部門:<br> <select class="form-control" name="department" id="department">
            <option value="-1" selected>全部</option>
            {foreach from=$department_options  key=id item=status}
                <option value="{$id}" >{$status}</option>
            {/foreach}
        </select>
        </div>
        <div class="form-div rma_filter">
        跟進人:<br> <select class="form-control" name="person_in_charge" id="person_in_charge">
            <option value="-1" selected>全部</option>
            {foreach from=$operator_options  key=id item=operator}
                <option value="{$operator.value}" >{$operator.name}</option>
            {/foreach}
        </select>
        </div>
        <div class="form-div rma_filter">
        狀態:<br> <select class="form-control" name="status" id="status">
            <option value="-1" selected>全部</option>
            {foreach from=$status_options  key=id item=status}
                <option value="{$id}" >{$status}</option>
            {/foreach}
        </select>
        </div>
        <div class="form-div rma_filter">
        RMA編號:<br> <input class="form-control" name="rma_id" type="text" id="rma_id" size="7" value='{$filter.rma_id}' /> 
        </div>
        <div class="form-div rma_filter">
        貨號:<br> <input class="form-control" name="goods_sn" type="text" id="goods_sn" size="12" value='{$filter.goods_sn}' /> 
        </div>
        <div class="form-div rma_filter">
        產品名稱:<br>
        <input class="form-control" name="goods_name" type="text" id="goods_name" size="12" value='{$filter.goods_name}' /> 
        </div>
        <div class="form-div rma_filter">
        維修單號:<br>
        <input class="form-control" name="repair_sn" type="text" id="repair_sn" size="12" value='{$filter.repair_sn}' /> 
        </div>
        <input class="btn btn-success form-btn" type="button" id="rma_search" name="rma_search" value="{$lang.query}" />
        <div style="float:right">
            <input style="display:none" class="btn btn-success" id="create_stocktake" type="button" value="建立盤點">
            <div class="dropdown navbar-right">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                建立維修單
                <span class="caret"></span>
            </button>
            <ul class="stocktake_dropdown_menu dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#" data-toggle="modal" data-target="#popup_create_bad_goods_rma_modal">壞貨產品</a></li>
            </ul>
            </div>
        </div>
        <div style="padding-top:10px">
            <label class="checkbox">
                <input type="checkbox" id="show_repair_order" class=" show_repair_order" style=""> 顯示維修單
            </label>
            <label class="checkbox">
                <input type="checkbox" id="show_repair_order_not_pick" class="" /> 客人未取貨
            </label>
        </div>
      </form>
    </div>
<div class="person_in_charge_notify">
    {foreach from=$issue_count_list item=issue_count }
    <div class="avatar issue-count-avatar" data-user-id="{$issue_count.user_id}"  data-source="avatar">
        <img title="{$issue_count.user_name}" src="/{if $issue_count.avatar == ''}uploads/avatars/default_60x60.png{else}{$issue_count.avatar}{/if}">
        <div class="badge {if $issue_count.issue_total <= 50 } bg-green {else}  {if $issue_count.issue_total <= 100 } bg-orange {else}  bg-red {/if} {/if}">{$issue_count.issue_total}</div>
    </div>
    {/foreach}
</div>
<div class="list-div" id="listDiv" style="margin-top: 0px;">
 <input style="display:inline-block;visibility:hidden;" type="button" data-change-type="0" class="bulk_confirm_action btn btn-warning" value="封存">
 <input style="display:inline-block;visibility:hidden;" type="button" data-change-type="2" class="bulk_confirm_action btn btn-danger" value="刪除">
    <table id="stocktake" class="table table-striped table-bordered bulk_action">
    <thead>
    <th data-id="rma_id" data-key="stocktake_id">RMA編號
    </th>
    <th width=100px data-id="create_date">建立日期</th>
    <th data-id="repair_sn">維修單</th>
    <th data-id="repair_fee" data-type="price">已收維修費</th>
    <th data-id="contact_name">顧客</th>
    <th data-id="contact_phone">顧客聯絡</th>
    <th data-id="operator">開單員工</th>
    <th width=150px data-id="reason">原因</th>
    <th data-sort=0 data-id="image">圖片</th>
    <th data-sort=0 data-url="goods.php?act=list&keyword={goods_sn}" data-id="goods_sn">產品</th>
    <th data-sort=0 data-id="goods_name">產品名稱</th>
    <th data-sort=0 data-id="qty">數量</th>
    <th data-sort=0 data-id="avatar">跟進人</th>
    <th data-sort=0 data-id="status">狀態</th>
    <th width=100px data-sort=0 data-id="remark2">跟進備註</th>
    <th width=100px data-sort=0 data-id="pickup_status">客人取貨日期</th>
    <th  width=100px  data-sort=0 data-id="actions">操作</th>
    </thead>
    </table>
    {if $full_page}
    </div>
</div>

<div class="modal fade" role="dialog" id="popup_create_bad_goods_rma_modal">
    <div class="modal-dialog modal-s">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">壞貨維修</h4>
        </div>
        <div class="modal-body">
            <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">開單員工 : <span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <select class="form-control" style="width: 80%; display: inline-block;" name="bad_goods_repair_operator_id" id="bad_goods_repair_operator_id">
                        {foreach from=$operator_options item=opt}
                            <option value="{$opt.value}">{$opt.name}</option>
                        {/foreach}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">產品貨號 : <span class="required">*</span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <input class="form-control" name="bad_goods_repair_goods_sn" type="text" id="bad_goods_repair_goods_sn" size="15" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">原因備註 :
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <textarea class="form-control col-md-7 col-xs-12" id="bad_goods_repair_remark_data" rows="5" cols="54" placeholder=""></textarea>
                    </div>
                </div>   
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input class=" btn btn-success" type="button" id="submit_bad_goods_repair_data" name="submit_bad_goods_repair_data" value="建立" placeholder="">
                    </div>
                </div>
            </form>
            <div id="bad_goods_repair_notice_message" class="form-div" style="display:none">
                <div id="bad_goods_repair_success_message"></div>
                <div id="bad_goods_repair_error_message" class="red"></div>
            </div>
        </div>
    </div>
    </div>
</div>


<div class="modal fade" role="dialog" id="popup_follow_up_remark_modal">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">顧客跟進備註</h4>
        </div>
        <div class="modal-body">
            <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">備註 : <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control col-md-7 col-xs-12" id="popup_follow_up_remark_data" rows="20" cols="54" placeholder=""></textarea>
                </div>
            </div>   
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class=" btn btn-success" type="button" id="submit_follow_up_remark_data" name="submit_import_data" value="確定" placeholder="">
                </div>
            </div>
            </form>
            <div id="notice_message" class="form-div" style="display:none">
                <div id="success_message"></div>
                <div id="error_message"></div>
            </div>
        </div>
    </div>
    </div>
</div>

{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
   // 开始检查订单
    popupBlock.init();
}

var $table = yoho_dataTable();

var current_rma_id = 0;

// $("#import_stocktake_popup").click(function(){
//     $popup2 = modal.create('匯入盤點資料', $("#popup_template"));
//     modal.show($popup2);
// });

$("#submit_bad_goods_repair_data").click(function(){
    var bad_goods_repair_operator_id = $('#bad_goods_repair_operator_id').val();
    var bad_goods_repair_goods_sn = $('#bad_goods_repair_goods_sn').val();
    var bad_goods_repair_remark_data = $('#bad_goods_repair_remark_data').val();

    if (bad_goods_repair_operator_id == '') {
        alert('請選擇閞單員工');
        return false;
    }

    if (bad_goods_repair_goods_sn == '') {
        alert('請選擇產品貨號');
        return false;
    }

    $.ajax({
    url: 'erp_rma.php',
    type: 'post',
    cache: false,
    data: {
        'act': 'post_rma_bad_goods_repair_submit',
        'bad_goods_repair_operator_id': bad_goods_repair_operator_id,
        'bad_goods_repair_goods_sn': bad_goods_repair_goods_sn,
        'bad_goods_repair_remark_data': bad_goods_repair_remark_data,
    },
    dataType: 'json',
    success: function (result) {
      if (result['error'] == 0) {
        window.location = "erp_rma_check.php?act=list&rma_id=" + result.content;
      } else {
        $("#bad_goods_repair_notice_message").show();
        $("#bad_goods_repair_error_message").html(result.message);
        //alert(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });
});

$("#submit_follow_up_remark_data").click(function(){
    var popup_follow_up_remark_data = $('#popup_follow_up_remark_data').val();

    $.ajax({
    url: 'erp_rma_common.php',
    type: 'post',
    cache: false,
    data: {
        'act': 'post_rma_follow_up_remark_submit',
        'follow_up_remark': popup_follow_up_remark_data,
        'rma_id' : current_rma_id,
    },
    dataType: 'json',
    success: function (result) {
      if (result['error'] == 0) {
        var $filter = {};
        $filter.status = $("#status").val();
        $filter.page = 1;
        $table.search($filter);
        $('#popup_follow_up_remark_modal').modal('toggle');
      } else {
        alert(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });
});

$(document).on('click','.follow_up_remark',function(){
    current_rma_id = $(this).data('rma-id');
    $('#popup_follow_up_remark_data').val('');
    if ($(this).html() != '請輸入') {
        $('#popup_follow_up_remark_data').val($(this).html());
    }
});

$(document).on('click','.confirm-pickup',function(){
    var rma_id = $(this).data('rma-id');
    $.ajax({
       url: 'erp_rma.php',
       type: 'post',
       cache: false,
       data: {
       'act': 'post_confirm_pickup',
       'rma_id': rma_id,
    },
    dataType: 'json',
    success: function(result) {
        if (result.error == 0) {
            var $filter = {};
            $filter.status = $("#status").val();
            $filter.page = 1;
            $table.search($filter);
        } else {
            alert(result.message);
        }
        //$(".bulk_confirm_action").css('visibility', 'hidden');
    },
    error: function(xhr) {
       alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
       console.log(xhr);
    }
    }); 

});
// 
// $(document).on('ifChanged', 'input:checkbox' ,function () {
//     var checkCount = $(".bulk_action input[name='table_records']:checked").length;
//     if (checkCount > 0) {
//         $(".bulk_confirm_action").css('visibility', 'visible');
//     } else {
//         $(".bulk_confirm_action").css('visibility', 'hidden');
//     }
// });

$("#rma_search").click(function(){
    var $filter = {};
    $filter.status = $("#status").val();
    $filter.type = $("#type").val();
    $filter.repair_sn = $("#repair_sn").val();
    $filter.department = $("#department").val();
    $filter.channel = $("#channel").val();
    $filter.person_in_charge = $("#person_in_charge").val();
    $filter.goods_sn = $("#goods_sn").val();
    $filter.goods_name = $("#goods_name").val();
    $filter.rma_id = $("#rma_id").val();
    $table.search($filter);
    $(".bulk_confirm_action").css('visibility', 'hidden');
    return;
});


$("#show_repair_order").click(function(){
    var $filter = {};
    $filter.status = $("#status").val();
    $filter.type = $("#type").val();
    $filter.repair_sn = $("#repair_sn").val();
    $filter.show_repair_order = $("#show_repair_order").is(':checked');
    $filter.show_repair_order_not_pick = $("#show_repair_order_not_pick").is(':checked');
    $table.search($filter);
    return;
});

$("#show_repair_order_not_pick").click(function(){
    var $filter = {};
    $filter.status = $("#status").val();
    $filter.type = $("#type").val();
    $filter.repair_sn = $("#repair_sn").val();
    $filter.show_repair_order = $('#show_repair_order').is(':checked');
    $filter.show_repair_order_not_pick = $("#show_repair_order_not_pick").is(':checked');
    $table.search($filter);
    return;
});

$(".bulk_confirm_action").click(function(){
    var selected_stocktake_ids = $table.getSelectValue();
    if (selected_stocktake_ids.length == 0){
        alert('請選擇產品');
        return false;
    }

    var change_type = $(this).data('change-type');
    if(confirm("確定執行?")){
        // save
        $.ajax({
           url: 'erp_stocktake.php',
           type: 'post',
           cache: false,
           data: {
           'act': 'post_bulk_stocktake_type_change',
           'selected_stocktake_ids': selected_stocktake_ids,
           'change_type': change_type,
        },
        dataType: 'json',
        success: function(result) {
           if (result.error == 0) {
              var $filter = {};
              $filter.status = $("#status").val();
              $filter.page = 1;
              $table.search($filter);
           } else {
               alert(result.message);
           }
            $(".bulk_confirm_action").css('visibility', 'hidden');
        },
        error: function(xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
        }
        }); 
    }
    else{
        return false;
    }
});



$(document).on('click','.confirm_action',function(){
    var rma_id = $(this).data('rma-id');
    var change_type = $(this).data('change-type');

    if (change_type == 0) {
        var confirm_word = '確定執行封存?';
    } else if (change_type == 1) {
        var confirm_word = '確定返回未封存?';
    }

    if(confirm(confirm_word)){
        // save
        $.ajax({
           url: 'erp_rma.php',
           type: 'post',
           cache: false,
           data: {
           'act': 'post_rma_type_change',
           'rma_id': rma_id,
           'change_type': change_type,
        },
        dataType: 'json',
        success: function(result) {
            if (result.error == 0) {
               $table.draw(false);
            } else {
                alert(result.message);
            }
        },
        error: function(xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
        }
        }); 
    }
    else{
        return false;
    }
});


$(document).on('click','.issue-count-avatar',function(){

    console.log('issue-count-avatar');

    var user_id = $(this).data('user-id');
    // reset filter
    $("#type").val(1);
    $("#channel").val(-1);
    $("#department").val(-1);
    $("#person_in_charge").val(user_id);
    $("#status").val(-1);


    var $filter = {};
    $filter.person_in_charge = user_id;
    $filter.page = 1;
    $table.search($filter);

    return false;

    var rma_id = $(this).data('rma-id');
    var change_type = $(this).data('change-type');

    if (change_type == 0) {
        var confirm_word = '確定執行封存?';
    } else if (change_type == 1) {
        var confirm_word = '確定返回未封存?';
    }

    if(confirm(confirm_word)){
        // save
        $.ajax({
           url: 'erp_rma.php',
           type: 'post',
           cache: false,
           data: {
           'act': 'post_rma_type_change',
           'rma_id': rma_id,
           'change_type': change_type,
        },
        dataType: 'json',
        success: function(result) {
            if (result.error == 0) {
                $table.draw();
            } else {
                alert(result.message);
            }
        },
        error: function(xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
        }
        }); 
    }
    else{
        return false;
    }
});

var popupBlock = {};


popupBlock.init = function (){
  // Setup popup div
    var $popup = $('<div class="popup_block"></div>');
    // var $popup_title = $('<div style="padding: 4px;"></div>');
    // $popup.append($popup_title);
    //var $test = $('<div>aaa</div>')
   // $popup.append($test);
    
    var $popup_select_by_search_block = $('<div class="popup_block"></div>');
    $popup.append($popup_select_by_search_block);

    var $popup_select_by_search_btn = $('<input class="btn btn-success" id="popup_select_by_search" type="button" name="popup_select_by_search" value="產品搜尋" onclick="return false;" />');
    $popup_select_by_search_block.append($popup_select_by_search_btn);

};

//-->
</script>
{/literal}

{/if}