


<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="erp_finance_manage.php" name="searchForm">
    <input type="hidden" name="act" value="payment_list" />
	<img src="images/icon_search.gif" width="26" height="22" bpayment="0" alt="SEARCH" />
	
    <!-- 付款单状态 -->
    <select name="status">
    	<option value="0">{$lang.erp_payment_status}</option>
		{foreach from=$payment_status item=payment_status}
			<option value="{$payment_status.status_no}" {if $payment_status.status_no eq $status}selected="selected"{/if}>--{$payment_status.status_style}</option>
		{/foreach}
	</select>
	
	<!-- 付款单号 -->
    {$lang.erp_payment_search_payment_sn} <input size="10" type="text" name="payment_sn" size="15" value="{$payment_sn}" />	
	
	<!-- 订单号 -->
    {$lang.erp_payment_search_bill_sn} <input size="10" type="text" name="bill_sn" size="15" value="{$bill_sn}" />		
	
    <!--收款人 -->
	{$lang.erp_payment_search_pay_to} <input size="10" type="text" name="pay_to" size="15" value="{$pay_to}" />

    <!-- 起始日期 -->
    {$lang.erp_payment_search_start_date} <input size="10" type="text" name="start_date" size="15" value="{$start_date}" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" />
	
	<!-- 结束日期 -->
    {$lang.erp_payment_search_end_date} <input size="10" type="text" name="end_date" size="15" value="{$end_date}" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" />
	
    <input type="submit" value="{$lang.button_search}" class="btn btn-primary" />
  </form>
</div>