
<div class="form-div col-md-12">
<div style="float:left;">
  <form action="erp_stock_inquiry.php" name="searchForm" class="form-inline">
    <input type="hidden" name="act" value="list" />
	<img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
	
    <!-- 仓库 -
    <select name="warehouse_id" id="warehouse_id">
    	<option value="0">{$lang.erp_stock_search_warehouse}</option>
		{foreach from=$warehouse_list item=warehouse_info}
			<option {if $warehouse_id eq $warehouse_info.warehouse_id}selected="selected"{/if} value="{$warehouse_info.warehouse_id}">--{$warehouse_info.name}</option>
		{/foreach}
	</select-->
	
    <!-- 货号 -->
    {$lang.erp_stock_search_goods_sn} <input class="form-control" type="text" name="goods_sn" id="goods_sn" size="10" value="{$goods_sn}" />

    <!-- 名称 -->
    {$lang.erp_stock_search_goods_name} <input class="form-control" type="text" name="goods_name" id="goods_name"  size="15" value="{$goods_name}" />	
	
    <!-- 供货商 -->
	<select class="form-control" name="supplier_id" id="supplier_id">
		<option value="0" {if $supplier_id eq 0}selected="selected"{/if} >{$lang.erp_stock_record_search_supplier}</option>
		{foreach from=$supplier_list item=supplier}
			<option value="{$supplier.supplier_id}" {if $supplier_id eq $supplier.supplier_id}selected="selected"{/if}>{$supplier.name}</option>
		{/foreach}
	</select>
    <input type="submit" value="{$lang.button_search}" class="form-btn btn btn-success" />
  </form>
</div>

<!--div style="float:right;">
	<img id="print_stock_inquiry" src="images/print.gif" />
</div>

<div style="float:right; margin-right:10px;">
	<img id="export_stock_inquiry" src="images/export.gif" />
</div-->
</div>

<script language="javascript">	
$(document).ready(function(){
	
	$("#print_stock_inquiry").css('cursor','hand');
	
	$("#print_stock_inquiry").click(function(){
		
		var warehouse_id=$("#warehouse_id").attr('value');
		var goods_sn=$("#goods_sn").attr('value');
		var goods_name=$("#goods_name").attr('value');
		var supplier_id=$("#supplier_id").val();
		
		var url="erp_stock_inquiry.php?act=print&warehouse_id="+warehouse_id+"&goods_sn="+goods_sn+"&goods_name="+goods_name+"&supplier_id="+supplier_id+"&page={$page}";
		window.open(url);	
	});
	
	$("#export_stock_inquiry").css('cursor','hand');
	
	$("#export_stock_inquiry").click(function(){
		
		var warehouse_id=$("#warehouse_id").attr('value');
		var goods_sn=$("#goods_sn").attr('value');
		var goods_name=$("#goods_name").attr('value');		
		
		var url="erp_stock_inquiry.php?act=export&warehouse_id="+warehouse_id+"&goods_sn="+goods_sn+"&goods_name="+goods_name+"&page={$page}";
		
		Ajax.call(url, '' , exportStockResponse, 'POST', 'JSON');
		
		function exportStockResponse(res)
		{			
			if(res.error!=0)
			{
				alert(res.message);
			}
			else{
				window.location=res.url;	
			}
		}
	});	
	
});
</script>