{include file="pageheader.htm"}


{insert_scripts files="../js/jquery.blockUI.2.23.js"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
{include file="erp_stock_inquiry_search.htm"}
<script type="text/javascript">
	var warehouse_options = [{'name':'RMA轉倉至'}];
	var supplier_options = [{'name':'RMA送修至'}];
	{foreach from=$warehouse_list item=w}
		warehouse_options.push({'name':'{$w.name}{if $w.is_on_sale}(可出售){/if}','value':'{$w.warehouse_id}'});
	{/foreach}
</script>
<style type="text/css">
	.current_page_style
	{
		color:red;
		font-weight:bold;
	}
	.tb_warehouse
	{
		margin:0px auto;
		width:100%;
		border:none;
	}
	.tb_warehouse td
	{
		border-right:1px solid #EEF8F9;
		border-bottom:1px solid #EEF8F9;
		margin:0px auto;
		text-align:center;
	}	
	
	.tb_size
	{
		margin:0px auto;
		width:100%;
		border-top:none;
		border-left:none;
		border-bottom:none;
		border-right:none;		
	}	
	
	.tb_size td
	{
		margin:0px auto;
		border-bottom:1px solid #EEF8F9;
		border-right:1px solid #EEF8F9;
		
		border-top:none;
		border-left:none;	
	}	
	.tb_warehouse_last_row td
	{
		border-bottom:none;
	}	
	.tb_size_last_row td
	{
		border-bottom:none;
	}
	
</style>

<!-- start stock list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action ">
	<thead>
	<tr>
		<th width="5%" rowspan=2>{$lang.erp_stock_goods_id}</th>
		<th width="100" rowspan=2>{$lang.erp_stock_goods_img}</th>
		<th rowspan=2>{$lang.erp_stock_goods_sn}</th>
		
		<th width="30%" rowspan=2>{$lang.erp_stock_goods_name}</th>
		<th width="5%" rowspan=2>可銷售庫存</th>
		{foreach from=$warehouse_list name=wl item=w}{/foreach}
		<th width="15%" colspan="{$smarty.foreach.wl.total}">{$lang.erp_stock_warehouse_attr_qty}</th>
	</tr>
		
	<tr>
		{foreach from=$warehouse_list item=w}
			<th><a href="?act=list&order_by={$w.warehouse_id}">{$w.name}</a></th>
		{/foreach}
	</tr>
  </thead>
  {foreach from=$stock_info key=key item=stock_info}
  <tr>
  	<td align="center">{$stock_info.goods_info.goods_id}</td>
	<td align="center"><img width="50" height="50" src="{if $stock_info.goods_info.goods_img}{$stock_info.goods_info.goods_img}{else}images/no_img.gif{/if}" /></td>
	<td align="center">{$stock_info.goods_info.goods_sn}</td>  
	<td align="center">{$stock_info.goods_info.goods_name}</td>
	<td align="center"><b><a href="erp_stock_record.php?act=list&goods_sn={$stock_info.goods_info.goods_sn}">{$stock_info.sellableSum}</a></b></td>
	{foreach from=$warehouse_list key=wrap_wid item=wrap_w}
		<td align="center"><a href="?act=warehouse_stock_detail&wid={$wrap_w.warehouse_id}&pid={$stock_info.goods_info.goods_id}&attrid={$stock_info.goods_info.attr_id}" {if $stock_info.stock[$wrap_w.warehouse_id]==0}style="color:#ccc"{/if}>{$stock_info.stock[$wrap_w.warehouse_id]}</a></td>
	{/foreach}
	<!--
	{foreach from=$warehouse_list key=wrap_wid item=wrap_w}
		$wrap_w.warehouse_id

		{assign var=found value=0}
		{foreach name=wrap1 from=$stock_info.warehouse key=item_wid item=item_w}
			{if $wrap_w.warehouse_id eq $item_w.warehouse_info.warehouse_id}
				{assign var=found value=1}
				<td align="center">{$item_w.attr[0].qty}</td>
			{/if}
		{/foreach}
		{if $found==0}
			<td>N/A</td>
		{/if}
	{/foreach}
	<!--td align="center">
		<table class="tb_warehouse" cellspacing="0" height="100">
			{foreach name=wrap1 from=$stock_info.warehouse key=warehouse_id item=warehouse}
				<tr {if $smarty.foreach.wrap1.iteration eq $smarty.foreach.wrap1.total}class="tb_warehouse_last_row"{/if}>
					<td width="120">{$warehouse.warehouse_info.warehouse_name}<br>{if $warehouse.warehouse_info.agency_name}({$warehouse.warehouse_info.agency_name}){/if}</td>
					<td style="border-right:none;">
						<table class="tb_size" cellspacing="0" height="100" width="100%">
							{foreach name=wrap2 from=$warehouse.attr key=key item=attr}
								<tr {if $smarty.foreach.wrap2.iteration eq $smarty.foreach.wrap2.total}class="tb_size_last_row"{/if}>
									<td style="border-right:none;" width="100">
										{$attr.qty} {if $warehouse.warehouse_info.is_on_sale neq 1 && $attr.qty>0}<br><span onclick="listTable.dropdown(this, 'rma_to_warehouse', 'fw:{$warehouse.warehouse_info.warehouse_id}_p:{$stock_info.goods_info.goods_id}', warehouse_options,rma_to_warehouse)">RMA轉倉</span>
										<a href="#">發貨維修</a> <a href="#">調回庫存(可出售)</a> <select><option>RMA轉倉:</option>
										{foreach name=wrap3 from=$warehouse_list  item=wo}{if $warehouse.warehouse_info.warehouse_id neq $wo.warehouse_id}<option>{$wo.name}</option>{/if}{/foreach}
										</select>{/if}
									</td>
								</tr>
							{/foreach}
						</table>
					</td>
				</tr>
			{/foreach}
		</table>
	</td--> 
  </tr> 
  {foreachelse}
  <tr><td class="no-records" colspan="5">{$lang.no_records}</td></tr>
 {/foreach}
  <tr><td colspan="7" align="right">{$pager}</td></tr> 
</table>
</div>
</div>
<!-- end stock list -->

{literal}
<script language="JavaScript">
	function rma_to_warehouse(id,res){
		var amount=prompt('請輸入轉倉數量:\nasdsad');
		if(!amount || (/^\d+$/.test(amount)==false) || parseInt(amount)<=0){
			alert('轉倉數量錯誤');
		}else{
			Ajax.call('erp_stock_inquiry.php?is_ajax=1', '&act=rma_to_warehouse_proceed&fwid='+res.fwid+'&twid='+res.twid+'&pid='+res.pid+'&qty='+amount, cb, "POST", "JSON");
		}
	}

	function cb(res){
		if(res.error!=0){
			alert(res.message);
		}else{
			window.location=window.location;
		}
	}

</script>
{/literal}
{include file="pagefooter.htm"}

