<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style>

.popup_block {
    text-align: center;
    display: inline;
    padding: 4px;
}

.stocktake_dropdown_menu li a {
    font-size: 13px;
    padding: 7px 20px;
    line-height: 1.928571;
}

.order_column_tr {
    background-color: #2f75b5;
    color:white;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #828181;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}

</style>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="erp_stocktake.php?act=list" style="margin:0px">
        日期:   <select class="form-control" name="period" id="period">
                <option value="0" selected >今日</option>
                <option value="1" >昨日</option>
                <option value="7">近7日</option>
                </select>
        開始日期:
        <input name="start_date" type="text" id="start_date" size="15" class="form-control" value="" data-type="date">
        結束日期&nbsp;
        <input name="end_date" type="text" id="end_date" size="15" value="" class="form-control" data-type="date">
        <input class="btn btn-success form-btn" type="button" id="cross_check_search" name="cross_check_search" value="{$lang.query}" />
      </form>
    </div>
    <div class="list-div" id="listDiv" style="margin-top: 50px;">
    {/if}
    <br>
    <table id="order_goods_restock" class="table table-striped table-bordered bulk_action">
    <thead>
    
    <th data-sort=0 data-id="goods_id" data-key="goods_id">產品編號
        <input type="checkbox" id="check-all" class="flat">
    </th>
    <th data-sort=0 data-id="goods_thumb">產品</th>
    <th data-sort=0 data-id="goods_sn_html">產品貨號</th>
    <th data-sort=0 data-id="goods_name">產品名稱</th>
    <th data-sort=0 data-id="sold_goods_total">賣出</th>
    <th data-sort=0 data-id="forecast_goods_sale_7day_html">預測門市7日銷量</th>
    {foreach from=$sellable_warehouse_info item=warehouse}
    <th data-sort=0 data-id="goods_sellable_total_{$warehouse.warehouse_id}_html">{$warehouse.name}</th>
    {/foreach}
    <th data-sort=0 data-id="goods_restocked_html">已補貨數量</th>
    <th data-sort=0 data-id="need_restore_html">需補貨</th>
    
    </thead>
    </table>
    {if $full_page}
    </div>
</div>
<div id="step_action_bottom" >
 <input style="    margin-top: 19px;" class="btn btn-success form-btn transfer_submit" type="button" id="transfer_submit" name="transfer_submit" value="提交" />
</div>

<div class="modal fade" role="dialog" id="popup_goods_restock_confirm_modal">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">建立調貨單</h4>
        </div>
        <div class="modal-body">
           
                <div class="x_panel">
                  <div class="x_title">
                    <h2>請檢查以下調貨產品正確</h2>
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="x_content">
                    <table id="order_goods_restock_confirm" class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th data-sort=0 data-id="goods_thumb">編號</th>
                          <th data-sort=0 data-id="goods_thumb">產品</th>
                          <th data-sort=0 data-id="goods_sn_html">產品貨號</th>
                          <th data-sort=0 data-id="goods_name">產品名稱</th>
                          <th data-sort=0 data-id="goods_name">門市倉存</th>
                          <th data-sort=0 data-id="goods_name">補貨件數</th>
                        </tr>
                      </thead>
                      <tbody id="order_goods_restock_confirm_body">
                      </tbody>
                    </table>

                  </div>
               

                    
                
                    <input style="float:right;margin-top: 0px;" class="btn btn-success form-btn transfer_confirm_submit" type="button" id="transfer_confirm_submit" name="transfer_confirm_submit" value="建立調貨單" />
                    <div class="col-md-3 col-sm-3 col-xs-12"  style="float:right">
                     <span style="display: inline-block;" class="control-label">操作人 :</span> 
                     <span style="display: inline-block;"> 
                      <select class="form-control" name="operator" id="operator">
                      {foreach from=$opeator_options item=opt}
                      <option value="{$opt.value}">{$opt.name}</option>
                      {/foreach}
                      </select></span>
                    </div>
                
                    </label>
                </div>
           
        </div>
    </div>
    </div>
</div>

{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
   // 开始检查订单
}

var total_records = 0;
var shop_warehouse_id = {$shop_warehouse_id};
yohoTable.table_id = "order_goods_restock";

yohoTable.drawCallback = function(setting,api) {
    $(".shop_block").closest('td').css('background','#bdd7ee');
    $(".tr_alert_block").closest('tr').css('background','#eebdbdd1');

    $(".dataTables_length").hide();
    $(".dataTables_paginate").hide();
    $(".dataTables_info").html('共 '+  total_records  +' 項');
};

var $table = yoho_dataTable();


var yohoTableConfirm = {
    query: 'suggestion_query&suggest_type={$key}&status={$key2}',
    table_id: "order_goods_restock_confirm",
    lengthMenu: [50, 100, 150],
};

//yohoTables.push(yohoTableConfirm);
//yoho_dataTable(1);
$(document).on('change','form input:checkbox',function(){

});
var restock_order_data = {};
$("#transfer_submit").click(function(){
    // get selected ids
    var selected_restock_ids = $table.getSelectValue();
    if (selected_restock_ids.length == 0){
        alert('請選擇產品');
        return false;
    }

    $('#order_goods_restock_confirm_body').html('');
    $('#popup_goods_restock_confirm_modal').modal('toggle');
    var restock_count = 1;
    restock_order_data = {};
    $.each(selected_restock_ids,function(key,value){
        var goods_id = value;
        var goods_sn = $("#goods_sn_" + goods_id).html();
        var goods_thumb = $("#goods_thumb_" + goods_id).html();
        var goods_name = $("#goods_name_" + goods_id).html();
        var shop_qty = $("#warehouse_qty_" + shop_warehouse_id + '_' + goods_id).html();
        var need_restore = $("#need_restore_" + goods_id).val();
        // append to table

        if (need_restore > 0) {
            var row_html = '<tr><th scope="row">'+restock_count+'</th><td>'+ goods_id +'</td><td>'+ goods_thumb +'</td><td>'+ goods_sn +'</td><td>'+ goods_name +'</td><td>'+ shop_qty +'</td><td>'+ need_restore +'</td></tr>';
            $("#order_goods_restock_confirm_body").append(row_html);
            restock_order_data[goods_id] = need_restore;
            restock_count++;
        }
    });

    // $.ajax({
    //    url: 'erp_shop_restore.php',
    //    type: 'post',
    //    cache: false,
    //    data: {
    //    'act': 'post_erp_shop_restore_confirm_list',
    //    'selected_stocktake_ids': selected_stocktake_ids
    // },
    // dataType: 'json',
    // success: function(result) {
    //    // if (result.error == 0) {
    //    //    var $filter = {};
    //    //    $filter.status = $("#status").val();
    //    //    $filter.page = 1;
    //    //    $table.search($filter);
    //    // } else {
    //    //     alert(result.message);
    //    // }
    //    //  $(".bulk_confirm_action").css('visibility', 'hidden');
    // },
    // error: function(xhr) {
    //    alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
    //    console.log(xhr);
    // }
    // }); 

    return false;

    
});

$("#transfer_confirm_submit").click(function(){
    if (Object.keys(restock_order_data).length > 0) {
        // send request
        if(confirm("確定執行?")){
            $.ajax({
               url: 'erp_shop_restore.php',
               type: 'post',
               cache: false,
               data: {
               'act': 'post_transfer_list_create',
               'restock_order_data': restock_order_data,
               'operator': $('#operator').val(),
               'shop_id':shop_warehouse_id
            },
            dataType: 'json',
            success: function(result) {
               if (result.error == 0) {
                    window.location = "erp_warehouse_transfer_create.php?act=list&transfer_id=" + result.content;
               } else {
                   alert(result.message);
               }
                $(".bulk_confirm_action").css('visibility', 'hidden');
            },
            error: function(xhr) {
               alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
               console.log(xhr);
            }
            }); 
        }
        else{
            return false;
        }
    } else {
        alert('沒有調貨產品');
    }
   
});

$("#order_goods_restock").DataTable().on('xhr.dt',function (e, settings, json, xhr) {
    total_records = json.recordsTotal;
    $(".dataTables_info").html('');
});

$("#cross_check_search").click(function(){
    var $filter = {};
    // $filter.status = $("#status").val();
    $filter.start_date = $("#start_date").val();
    $filter.end_date = $("#end_date").val();
    $filter.period = $("#period").val();
    $table.search($filter);
    return;
});

$("#period").change(function(){
    var $filter = {};
    $filter.period = $(this).val();
    $table.search($filter);
});

//-->
</script>
{/literal}

{/if}