
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="erp_finance_manage.php" name="searchForm">
    <input type="hidden" name="act" value="account_payable" />
	<img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
	
	<!-- 订单号 -->
    {$lang.erp_order_search_order_sn} <input size="10" type="text" name="order_sn" size="15" value="{$order_sn}" />
	
	{$lang.erp_payable_search_supplier_name} <input size="10" type="text" name="supplier_name" size="15" value="{$supplier_name}" />
	
    <input type="submit" value="{$lang.button_search}" class="btn btn-primary" />
  </form>
</div>