{if $full_page}
{include file="pageheader.htm"}

{insert_scripts files="../js/utils.js,listtable.js"}

<link href="styles/erp_delivery.css" rel="stylesheet" type="text/css" />


{insert_scripts files="../js/jquery.blockUI.2.70.js"}
<div class=" x_panel">
{include file="erp_delivery_search.htm"}

<style type="text/css">
	.current_page_style
	{
		color:red;
		font-weight:bold;
	}
	
</style>

<script type="text/javascript">
	window.view_approve_remark = function(delivery_id)
	{
		$.blockUI({ 
			message: $('#approve_remark_'+delivery_id),
			css: { 
				top:  ($(window).height()-320) /2 + 'px', 
				left: ($(window).width()-520) /2 + 'px',
				width: '520px'
			}
		});
	}
	
	$(document).ready(function() {
		$(document).on('click', "img[id^='img_close_approve_remark_']", function() {
			$.unblockUI();
		});
		$(document).on('click', "img[id^='img_submit_approve_']", function() {
			$.unblockUI();
		});
	});
</script>

<!-- start delivery list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

{foreach from=$delivery_list item=delivery_info_item}
{if $delivery_info_item.status eq 3 or $delivery_info_item.status eq 4}

<div class="approve_remark" id="approve_remark_{$delivery_info_item.delivery_id}">
<div class="approve_remark_head">
	<table class="table table-striped table-bordered bulk_action ">
		<tr>
			<td>
				<img src="./images/approve_remark.gif" />
			</td>
			<td align="right">
				<span><img style="cursor:pointer;" id="img_close_approve_remark_{$delivery_info_item.delivery_id}" src="./images/close_erp.gif" /></span>
			</td>
		</tr>
	</table>
</div>

<div class="approve_remark_box">
<table  cellpadding="5" cellspacing="0" border='0'>
	 <tr>
    	<td width="60">{$lang.erp_approve_remark}</td>	
		<td>
			<textarea rows="8" cols="55" disabled="true" id="textarea_approve_remark_{$delivery_info_item.delivery_id}">{$delivery_info_item.approve_remark}</textarea>
		</td>
	</tr>	
</table>
</div>
<div class="div_submit_approve">
	<img style="cursor:pointer;" id="img_submit_approve_{$delivery_info_item.delivery_id}" src="./images/submit.gif" />
</div>	
</div>

{/if}
{/foreach}

<table id="#" class="table table-striped table-bordered bulk_action ">
	<tr>
		<th width="5%">{$lang.erp_delivery_id}</th>
		<th>{$lang.erp_delivery_sn}</th>	
		<th>{$lang.erp_delivery_warehouse}</th>
		<th>{$lang.erp_delivery_admin}</th>		
		<th>{$lang.erp_delivery_delivery_style}</th>	
		<th>{$lang.erp_delivery_order}</th>	
		<th>{$lang.erp_delivery_to}</th>
		<th>{$lang.erp_delivery_date}</th>
		<th>{$lang.erp_delivery_status}</th>
		<th width="15%">{$lang.erp_operation}</th>
	</tr>
	{foreach from=$delivery_list key=key item=delivery_info_item}
	<tr>
		<td align="center">{$delivery_info_item.delivery_id}</td>
		<td align="center">{$delivery_info_item.delivery_sn}</td>
		<td align="center">{$delivery_info_item.warehouse_info.name}</td>
		<td align="center">{$delivery_info_item.admin_name}</td>
		<td align="center">{$delivery_info_item.delivery_style_info.delivery_style}</td>
		<td align="center"><a href="order.php?act=info&amp;order_id={$delivery_info_item.order_info.order_id}">{$delivery_info_item.order_info.order_sn}</a></td>
		<td align="center">{$delivery_info_item.delivery_to}</td>
		<td align="center">{$delivery_info_item.delivery_date}</td>
		<td align="center">
			{if $delivery_info_item.status eq 1}{$lang.erp_delivery_status_inputing}{/if}
			{if $delivery_info_item.status eq 2}{$lang.erp_delivery_status_approving}{/if}
			{if $delivery_info_item.status eq 3}<span style="color:blue;">{$lang.erp_delivery_status_approve_pass}</span>{/if}
			{if $delivery_info_item.status eq 4}<span style="color:red;">{$lang.erp_delivery_status_approve_reject}</span>{/if}
		</td>
		<td align="center">
			{if $delivery_info_item.available_act.view eq 1}
			<a href="erp_delivery_manage.php?act=view&id={$delivery_info_item.delivery_id}">{$lang.erp_operation_view}</a>
			{if $delivery_info_item.status eq 3 or $delivery_info_item.status eq 3 }
			<a href="javascript:view_approve_remark({$delivery_info_item.delivery_id})">{$lang.erp_delivery_operation_approve_remark}</a>
			{/if}
			{if $delivery_info_item.status eq 3}
			<a target="_blank" href="erp_delivery_manage.php?act=print&id={$delivery_info_item.delivery_id}">{$lang.erp_operation_print}</a>
			{/if}
			{/if}
			
			{if $delivery_info_item.available_act.edit eq 1}
			<a href="erp_delivery_manage.php?act=edit&id={$delivery_info_item.delivery_id}">{$lang.erp_operation_edit}</a>
			{/if}
			{if $delivery_info_item.available_act.delete eq 1}
			<a href="javascript:delete_delivery({$delivery_info_item.delivery_id})">{$lang.erp_operation_delete}</a>
			{/if}
			{if $delivery_info_item.available_act.post_to_approve eq 1}
			<a href="javascript:post_delivery({$delivery_info_item.delivery_id})">{$lang.erp_operation_post_to_approve}</a>
			{/if}				
			
			{if $delivery_info_item.available_act.approve eq 1}
			<a href="erp_delivery_manage.php?act=approve&id={$delivery_info_item.delivery_id}">{$lang.erp_operation_approve}</a>
			<a href="javascript:withdrawal_to_edit({$delivery_info_item.delivery_id})">{$lang.erp_operation_withdrawal}</a>
			{/if}
		</td>
	</tr>
	{foreachelse}
	<tr><td class="no-records" colspan="11">{$lang.no_records}</td></tr>
	{/foreach}
</table>
<table id="page-table" cellspacing="0">
	<tr>
		<td>&nbsp;</td>
		<td align="right" nowrap="true">
			{include file="page.htm"}
		</td>
	</tr>
</table>
{if $full_page}
</div>
</div>
<!-- end delivery list -->

<script language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}

	function getList()
	{
		var frm = document.forms['searchForm'];
		listTable.filter['w_id'] = frm.elements['w_id'].value;
		listTable.filter['d_s_id'] = frm.elements['d_s_id'].value;
		listTable.filter['d_s'] = frm.elements['d_s'].value;
		listTable.filter['s_date'] = frm.elements['s_date'].value;
		listTable.filter['e_date'] = frm.elements['e_date'].value;
		listTable.filter['delivery_sn'] = frm.elements['delivery_sn'].value;
		listTable.filter['d_t'] = frm.elements['d_t'].value;
		listTable.filter['page'] = 1;
		listTable.loadList();
	}
	
	function add_delivery()
	{
		function addDeliveryResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else
			{
				window.document.location='erp_delivery_manage.php?act=edit&id='+res.delivery_id;
			}			
		}
		
		Ajax.call('erp_delivery.php?act=add_delivery&manual_add=true', '', addDeliveryResponse, 'POST', 'JSON');
	}
	
	function withdrawal_to_edit(delivery_id)
	{
		function withdrawalToEditResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else
			{
				listTable.loadList();
			}
		}
		if(confirm('{$lang.erp_warehousing_sure_to_withdrawal_to_edit}'))
		{	
			Ajax.call('erp_delivery.php?act=withdrawal_to_edit', 'delivery_id=' + delivery_id, withdrawalToEditResponse, 'POST', 'JSON');
		}			
	}	

	function post_delivery(delivery_id)
	{
		function postDeliveryResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else
			{
				listTable.loadList();
			}				
		}
		if(confirm('{$lang.erp_delivery_sure_to_post_delivery}'))
		{
			Ajax.call('erp_delivery.php?act=post_delivery', 'delivery_id='+delivery_id, postDeliveryResponse, 'POST', 'JSON');
		}
	}
	
	function delete_delivery(delivery_id)
	{
		function deletedeliveryResponse(res)
		{
			if(res.error!=0)
			{
				alert(res.message);
			}
			else
			{
				listTable.loadList();
			}			
		}
		if(confirm('{$lang.erp_delivery_sure_to_delete_delivery}'))
		{	
			Ajax.call('erp_delivery.php?act=delete_delivery', 'delivery_id='+delivery_id, deletedeliveryResponse, 'POST', 'JSON');
		}			
	}

{/literal}
</script>

{include file="pagefooter.htm"}
{/if}