{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style>
    .calendar {
    z-index: 5000;
    }

    #success_message {
    color: green;
    }

    #error_message {
    color: red;
    }

    .highline {
    color: red;
    }

    #step_action_bottom{
        width:100%;
        height:70px;
        background-color: #34495e;
        position:fixed;
        bottom:0;
        right:0;
        text-align: right;
        padding-right: 30px;
        z-index: 100;
    }

    .form_text_label {
        padding-top: 7px;
    }

</style>


<div id="wizard" class="form_wizard wizard_horizontal">
<ul class="wizard_steps anchor">
<li>
  <a href="#step-1" class="selected" isdone="1" rel="1">
    <span class="step_no">1</span>
    <span class="step_descr">選擇盤點產品<br>
    </span>
  </a>
</li>
<li>
  <a href="#step-3" class="selected" isdone="0" rel="3">
    <span class="step_no">2</span>
    <span class="step_descr">盤點<br>
    </span>
  </a>
</li>
<li>
  <a href="#step-3" class="selected" isdone="0" rel="3">
    <span class="step_no">3</span>
    <span class="step_descr">盤點覆核<br>
    </span>
  </a>
</li>
<li>
  <a href="#step-4" class="disabled" isdone="0" rel="4">
    <span class="step_no">4</span>
    <span class="step_descr">盤點完成<br>
    </span>
  </a>
</li>
</ul>
</div>

{if $erp_warehouse_approve == true}

<div class=" x_panel">
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">盤點標題 : <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type="text" id="title" name="title" required="required" class="form-control col-md-7 col-xs-12" value="{$stocktake.title}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">盤點負責人 :  <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control" name="stocktake_person" id="stocktake_person">
           	{foreach from=$stocktake_person_option item=opt}
           	    <option {if $opt.value == $stocktake.stocktake_person} selected {/if} value="{$opt.value}">{$opt.name}</option>
           	{/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class=" btn btn-success" type="button" id="update_stocktake_basic_info" value="儲存" class="button" />
        </div>
    </div>
</form>
</div>

<div class=" x_panel">
狀態
<select name="status" id="status">
<option value="-1" {if $filter.status eq -1}selected="selected"{/if}>全部</option>
{foreach from=$goods_status_options key=id item=opt}
 <option {if $filter.status == $id} selected {/if} value="{$id}">{$opt}</option>
{/foreach}
</select><br><br>
<input type="button" data-change-status="4" class="bulk_confirm_action btn btn-danger" value="重新盤點">
<input type="button" data-change-status="2" class="bulk_confirm_action btn btn-warning" value="重置">

<div id="notice_message" class="form-div" style="display:none">
    <div id="success_message"></div>
    <div id="error_message"></div>
</div>

<!-- start stock check list -->
<div class="list-div" id="listDiv">
    <table id="stocktake" class="table table-striped table-bordered bulk_action">
        <thead>
        <th width="110" data-id="goods_stocktake_item_id" data-class="td_order_sn" data-key="goods_stocktake_item_id">
          <input type="checkbox" id="check-all" class="flat">
        </th>
        <th data-sort=0 data-id = "warehouse_name">倉庫</th>
        <th data-sort=0 data-id = "goods_sn">產品編號</th>
        <th data-sort=0 data-id = "goods_name">{$lang.erp_stock_check_goods_name}</th>
        <th data-sort=0 data-id = "local_pick_up_stock">門店自取(未取貨)</th>
        <th data-sort=0 data-id = "stocktake_start_time">盤點開始時間</th>
        <th data-sort=0 data-id = "stocktake_end_time">盤點結束時間</th>
        <th data-sort=0 data-id = "stock_html">盤點數目</th>
        <th data-sort=0 data-id = "changed_stock">盤點期間庫存變動</th>
        <th data-sort=0 data-id = "end_stock_html">當時庫存</th>
        <th data-sort=0 data-id = "need_to_adjust_html" >需更改庫存差</th>
        <th data-sort=0 data-id = "review_action_html">動作</th>
        </thead>
    </table>
</div>
</div>

<div id="step_action_bottom" >
 <input style="margin-top: 19px;" class="btn btn-success form-btn finish_review" type="button" id="finish_review" name="finish_review" value="提交覆核" />
</div>

{else}
<div class=" x_panel">

<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="form-group">
        <label class=" control-label col-md-2 col-sm-2 col-xs-12" for="first-name">盤點標題 :
        </label>
        <div class="form_text_label col-md-6 col-sm-6 col-xs-12">
          {$stocktake.title}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">盤點負責人 : 
        </label>
        <div class="form_text_label col-md-6 col-sm-6 col-xs-12">
           {$stocktake_person_list[$stocktake.stocktake_person]}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">狀態: 
        </label>
        <div  class="form_text_label col-md-6 col-sm-6 col-xs-12">
            {$stocktake_status_options[$stocktake.status]}
        </div>
    </div>
</form>

</dvi>

<div class="list-div" id="listDiv">
    <table id="stocktake" class="table table-striped table-bordered bulk_action">
        <thead>
        <th data-sort=0 data-id = "warehouse_name">倉庫</th>
        <th data-sort=0 data-id = "goods_sn">產品編號</th>
        <th data-sort=0 data-id = "goods_name">{$lang.erp_stock_check_goods_name}</th>
        <th data-sort=0 data-id = "stocktake_start_time">盤點開始時間</th>
        <th data-sort=0 data-id = "stocktake_end_time">盤點結束時間</th>
        <th data-sort=0 data-id = "stock">盤點數目</th>
        </thead>
    </table>
</div>

{/if}

<!-- end stock check list -->
{include file="pagefooter.htm"}
<!-- end stock check list -->

<script>

    var $table = yoho_dataTable();
    var stocktake_id = {$stocktake_id};

    $(".bulk_confirm_action").click(function(){
        var selected_goods_ids = $table.getSelectValue();
        if (selected_goods_ids.length == 0){
            alert('請選擇產品');
            return false;
        }

        var warehouse_id = $(this).attr('data-warehouse');
        var change_status = $(this).data('change-status');

        if(confirm("確定執行?")){
            // save
            $.ajax({
               url: 'erp_stocktake_review.php',
               type: 'post',
               cache: false,
               data: {
               'act': 'post_bulk_stocktake_goods_status_change',
               'goods_ids': selected_goods_ids,
               'stocktake_id': stocktake_id,
               'change_status': change_status,
            },
            dataType: 'json',
            success: function(result) {
               if (result.error == 0) {
                  // var $filter = {};
                  // $filter.status = $("#status").val();
                  // $filter.page = 1;
                  // $filter.stocktake_id = stocktake_id;
                  $table.draw(false);
               } else {
                   alert(result.message);
               }
            },
            error: function(xhr) {
               alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
               console.log(xhr);
            }
            }); 
        }
        else{
            return false;
        }
    });

    $("#status").change(function(){
        $filter = {};
        $filter.status = $("#status").val();
        $filter.page = 1;
        $filter.stocktake_id = stocktake_id;
        $table.search($filter);
        return;
    });

    $("#update_stocktake_basic_info").click(function() {
        if ($("#title").val() == '') {
            alert('請選擇標題');
            return false;
        }

        if ($("#stocktake_person").val() == '') {
            alert('請選擇盤點負責人');
            return false;
        }

        // save
        $.ajax({
            url: 'erp_stocktake_process.php',
            type: 'post',
            cache: false,
            data: {
            'act': 'post_stocktake_basic_info',
            'title': $("#title").val(),
            'stocktake_person': $("#stocktake_person").val(),
            //'review_person': $("#review_person").val(),
            'stocktake_id': stocktake_id,
        },
        dataType: 'json',
        success: function(result) {
            if (result.error == 0) {
                alert('更新成功');
            } else {
                alert(result.message);
            }
        },
        error: function(xhr) {
            alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
            console.log(xhr);
        }
        });
    });

    $(document).on("click",".reset_stocktake_review",function() {
        //var goods_id = $(this).attr('data-goods');
        //var warehouse_id = $(this).attr('data-warehouse');
        var item_id = $(this).attr('data-item-id');
        var change_status = $(this).attr('data-status');

        if(confirm("確定執行?")){
            // save
            $.ajax({
                url: 'erp_stocktake_review.php',
                type: 'post',
                cache: false,
                data: {
                'act': 'post_stocktake_goods_status_change',
                'item_id': item_id,
                'change_status': change_status,
                'stocktake_id': stocktake_id,
            },
            dataType: 'json',
            success: function(result) {
                if (result.error == 0) {
                   $table.draw(false);
                } else {
                   alert(result.message);
                }
            },
            error: function(xhr) {
               alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
               console.log(xhr);
            }
            }); 
        }
        else{
            return false;
        }

    });

    $(document).on("click",".confirm_adjust_stock",function() {
        // confirm box
        var goods_id = $(this).attr('data-goods');
        var adjust_stock = $("#"+goods_id + '_adjust_stock').val();
        //var review_person = $("#review_person").val(); 
        var warehouse_id = $(this).attr('data-warehouse');

        if(confirm("已確定庫存差?")){ 
            // save
            $.ajax({
                url: 'erp_stocktake_review.php',
                type: 'post',
                cache: false,
                data: {
                'act': 'post_confirm_adjust_stock',
                'adjust_stock': adjust_stock,
                //'review_person': review_person,
                'goods_id': goods_id,
                'stocktake_id': stocktake_id,
                'warehouse_id': warehouse_id,
            },
            dataType: 'json',
            success: function(result) {
                if (result.error == 0) {   
                   $table.draw(false);
                } else {
                   alert(result.message);
                }
            },
            error: function(xhr) {
               alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
               console.log(xhr);
            }
            });
        }
        else{
            return false;
        }
    });

    $(".finish_review").click(function() {
        if(confirm("已確提交?")){
            $.ajax({
                url: 'erp_stocktake_review.php',
                type: 'post',
                cache: false,
                data: {
                'act': 'post_submit_review_finished',
                'stocktake_id': stocktake_id,
            },
            dataType: 'json',
            success: function(result) {
                if (result.error == 0) {
                    // redirect 
                    if (result.content == 4) {
                        var url = "erp_stocktake_finished.php?act=list&stocktake_id=" + stocktake_id;
                        window.location = url;
                    } else if (result.content == 0){
                        var url = "erp_stocktake_process.php?act=list&stocktake_id=" + stocktake_id;
                        window.location = url;
                    }
                } else {
                    $('#notice_message').show();
                    $('#success_message').hide();
                    $('#error_message').show();
                    $('#error_message').html(result.message);
                }
            },
            error: function(xhr) {
                alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
                    console.log(xhr);
                }
            });
        }
    });
</script>
{/if}