{include file="pageheader.htm"}



{include file="erp_bank_account_search.htm"}

<!-- start bank account list -->
 <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action">
  <tr>
    <th  width="5%">{$lang.erp_bank_account_id}</th>
	<th>{$lang.erp_bank_account_name}</th>
	<th>{$lang.erp_bank_account_no}</th>
	<th>{$lang.erp_bank_account_agency}</th>
	<th width="20%">{$lang.erp_bank_account_balance}</th>
	<th width="15%">{$lang.erp_operation}</th>
  </tr>
  {foreach from=$account_list key=key item=account}
	<tr>
		<td align="center">{$account.account_id}</td>
		<td>{$account.account_name}</td>
		<td >{$account.account_no}</td>
		<td >{$account.agency_name}</td>
		<td align="center"><span style="{if $account.account_balance gt 0}color:blue;font-weight:bold;{else}color:red;font-weight:bold;{/if}">{$account.account_balance}</span></td>
		<td align="center">
			<a href="erp_finance_manage.php?act=view_bank_details&account_id={$account.account_id}">{$lang.erp_operation_view}</a>
		</td>
	</tr>
  {foreachelse}
  <tr><td class="no-records" colspan="6">{$lang.no_records}</td></tr>
  {/foreach}
  <tr><td colspan="6" align="right">{$pager}</td></tr> 
</table>
</div>
<!-- end bank account list -->

{literal}
<script language="JavaScript">
	
	function delete_it(account_id)
	{
		function deleteBankAccountResponse(res)
		{
			if(res.error==3)
			{
				alert(res.message);
				window.document.location.reload();
			}
			else if(res.error==0){
				window.document.location.reload();
			}
			else{
				alert(res.message);
			}
		}
	
		if(confirm('{$lang.erp_sure_to_delete}')){
			Ajax.call('erp_bank_account.php?act=delete_bank_account', 'account_id=' + account_id, deleteBankAccountResponse, 'POST', 'JSON');
		}		
	}

   $(document).ready(function(){
   		
		//设置是否有效
   		$("span[id^='is_valid_']").click(function(){
			var $select_item=$(this);
			var account_id=$select_item.attr('id');
			account_id=account_id.substr('is_valid_'.length,account_id.length-'is_valid_'.length);
			
			function changeIsValidResponse(res)
			{
				if(res.error==0 && res.is_valid==1)
				{
					$select_item.css('color','red');
					$select_item.text('{$lang.erp_yes}');
					//alert(res.message);
				}
				else if(res.error==0 && res.is_valid===0)
				{
					$select_item.css('color','black');
					$select_item.text('{$lang.erp_no}');
					//alert(res.message);
				}
				else{
					
					alert(res.message);
				}
			}
			
			Ajax.call('erp_bank_account.php?act=change_is_valid', 'account_id=' + account_id, changeIsValidResponse, 'POST', 'JSON');
		});
		
		
   });   
</script>
{/literal}
{include file="pagefooter.htm"}

