{include file="pageheader.htm"}

<style type="text/css">
.tb_lable {
	white-space: nowrap;
}
</style>



 <!-- start goods list -->
<div class=" x_panel">
	<div id="outside_container">
		<div id="inner_container">
			<form name="add_supplier"  id="add_supplier"  action="erp_supplier.php"  onsubmit="javascript:return addSupplier(this);" method="post">
				<table class="table table-bordered">
					<tr>
						<td width="120"><span class="tb_lable">{$lang.erp_supplier_code}：</span></td>
						<td><input class="form-control"name="supplier_code"  id="supplier_code" type="text" value="{if $act eq 'insert'}{$supplier_code}{else}{$supplier_info.code}{/if}" style="display:block;" disabled="disabled" /></td>
						<td><span>&nbsp;</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">{$lang.erp_supplier_name}：</span></td>
						<td><input class="form-control"name="supplier_name" id="supplier_name" type="text" value="{$supplier_info.name}" size="60" /></td>
						<td><span style="color:red;font-weight:normal;white-space:nowrap;">{$lang.erp_required_item}</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">地區<!-- #BeginComment -->{$lang.erp_supplier_address}<!-- #EndComment -->：</span></td>
						<td><input class="form-control"name="supplier_address" id="supplier_address" type="text" value="{$supplier_info.address}" size="60" /></td>
						<td><span>&nbsp;</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">主聯繫人<!-- #BeginComment -->{$lang.erp_supplier_contact}<!-- #EndComment -->：</span></td>
						<td><input class="form-control"name="supplier_contact" id="supplier_contact" type="text" value="{$supplier_info.contact}" size="60" /></td>
						<td><span>&nbsp;</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">{$lang.erp_supplier_tel}：</span></td>
						<td><input class="form-control"name="supplier_tel" id="supplier_tel" type="text" value="{$supplier_info.tel}" size="60" /></td>
						<td><span>&nbsp;</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">電郵：</span></td>
						<td><input class="form-control"name="supplier_email" id="supplier_email" type="text" value="{$supplier_info.email}" size="60" /></td>
						<td><span>&nbsp;</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">其它聯絡人電郵：</span></td>
						<td><input class="form-control"name="supplier_other_email" id="supplier_other_email" type="text" value="{$supplier_info.other_email}" size="60" /></td>
						<td><span>&nbsp;</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">付款方式<!-- #BeginComment -->{$lang.erp_supplier_fax}<!-- #EndComment -->：</span></td>
						<td><input class="form-control"name="supplier_fax" id="supplier_fax" type="text" value="{$supplier_info.fax}" size="60" /></td>
						<td><span>&nbsp;</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">付款時間：</span></td>
						<td>
							<select class="form-control" id="supplier_payment_term" name="supplier_payment_term">
								<option value="" {if !$supplier_info.payment_term}selected{/if}>---</option>
								{foreach from=$payment_term_list key=key item=term}
									<option value="{$key}" {if $supplier_info.payment_term eq $key}selected{/if}>{$term}</option>
								{/foreach}
							</select>
						</td>
						<td><span>&nbsp;</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">入賬公司：</span></td>
						<td>
							<select class="form-control" id="supplier_corresponding_company" name="supplier_corresponding_company">
								<option value="" {if !$supplier_info.corresponding_company_id}selected{/if}>---</option>
								{foreach from=$corresponding_company_list item=term}
									<option value="{$term.corresponding_company_id}" {if $supplier_info.corresponding_company_id eq $term.corresponding_company_id}selected{/if}>{$term.company_name}</option>
								{/foreach}
							</select>
						</td>
						<td><span>&nbsp;</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">{$lang.erp_supplier_bank_name}：</span></td>
						<td><input class="form-control"name="supplier_bank_name" id="supplier_bank_name" type="text" value="{$supplier_info.bank_name}" size="60" /></td>
						<td><span>&nbsp;</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">{$lang.erp_supplier_bank_account}：</span></td>
						<td><input class="form-control"name="supplier_bank_account" id="supplier_bank_account" type="text" value="{$supplier_info.bank_account}" size="60" /></td>
						<td><span>&nbsp;</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">{$lang.erp_supplier_bank_contact}：</span></td>
						<td><input class="form-control"name="supplier_bank_contact" id="supplier_bank_contact" type="text" value="{$supplier_info.bank_contact}" size="60" /></td>
						<td><span>&nbsp;</span></td>
					</tr>
					<tr>
						<td><span class="tb_lable">{$lang.erp_supplier_group_name}：</span></td>
						<td>
							{if $group_list}
							<select name="supplier_group_id" id="supplier_group_id">
								{foreach from=$group_list item=group}
									<option value='{$group.group_id}' {if $group.group_id eq $supplier_info.supplier_group_id}selected='selected'{/if}>{$group.group_name}</option>
								{/foreach}
							</select>
							{/if}	
						</td>
						<td><span>&nbsp;</span></td>
					</tr>	
					
					<tr>
						<td><span class="tb_lable">{$lang.erp_admin}：</span></td>
						<td>
							{foreach from=$admin_list item=admin}
								<label>
									<input class="flat" type="checkbox" name="admins[]" value="{$admin.user_id}" {if $admin.selected or $admin.user_name eq 'admin'}checked="checked"{/if}>
									&nbsp;{$admin.user_name}
								</label>
							{/foreach}
						</td>
						<td><span>&nbsp;</span></td>
					</tr>									
					<tr>
						<td><span class="tb_lable">次要{$lang.erp_admin}：</span></td>
						<td>
							{foreach from=$secondary_admin_list item=admin}
								<label>
									<input class="flat" type="checkbox" name="secondary_admins[]" value="{$admin.user_id}" {if $admin.selected}checked="checked"{/if}>
									&nbsp;{$admin.user_name}
								</label>
							{/foreach}
							<br>
							<div>將有以下權限: 產品成本觀察, 開採購訂單, 列印採購訂單.(供應商報告,KPI輔助及工作清單 將不納入計算)</div>
						</td>
						<td><span>&nbsp;</span></td>
					</tr>									
					<tr>
						<td><span class="tb_lable">{$lang.erp_is_valid}：</span></td>
						<td>
							<select id="is_valid" name="is_valid" >
									<option value='0' {if $supplier_info.is_valid eq 0}selected="selected"{/if} >{$lang.no}</option>
									<option value='1' {if $supplier_info.is_valid eq 1}selected="selected"{/if}>{$lang.yes}</option>
							</select>
						</td>
						<td><span>&nbsp;</span></td>
					</tr>				
					<tr>
						<td  colspan="3" align="center">
						<input type="submit" class="form-btn btn btn-success" value="確定" >
						</td>
					</tr>																									
				</table>
				<input id="supplier_id" name="supplier_id" type="hidden" value="{$supplier_info.supplier_id}">
				<input type="hidden" name="act" value="{$act}">
			</form>
		</div>
	</div>
</div>
<!-- end goods list -->

<script type="text/javascript">
    function addSupplier()
	{
		var supplier_name = $("#supplier_name").val();

		if(!supplier_name)
		{
			alert('請輸入供應商名稱');
			return false;
		}
		return true;		
	}
	
	// Enforce admin access
	$('input[type="checkbox"][name="admins[]"][value="1"]').on('change', function(e) {
		if (!$(this).is(':checked'))
		{
			$(this).prop('checked', true);
		}
    });
</script>

{include file="pagefooter.htm"}