{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style type="text/css">
    .current_page_style
    {
    color:red;
    font-weight:bold;
    }
    
.action_button {
    color: #666 !important;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none !important;
    /* display: block; */
    padding: 4px 5px;
    border: 1px solid #278296;
    border-right: 2px solid #278296;
    border-bottom: 2px solid #278296;
    width: 56px;
    background-color: #ddeef2;
}

.action_button.archive {
    background-color: #bbdde5;
}

.multiselect {
    width: 120px;
    display: inline-block;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
    position: absolute;
    background-color: white;
    overflow: auto;
    width: auto;
    height: 400px;
    z-index: 1000;
    padding: 10px;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  /* background-color: #1e90ff; */
}


.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: grey;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: rgb(26, 188, 156);;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #828181;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}

#error_message {
    color:red;
}

</style>

<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{include file="erp_warehouse_transfer_progress_bar.htm"}

<div class=" x_panel">
    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">調貨原因 :  <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="reason_type" id="reason_type"  {if $transfer_info.auto_created == 1} disabled {/if} >
                {foreach from=$reason_type_options  key=id item=opt}
                <option {if $id eq $transfer_info.reason_type} selected {/if} value="{$id}">{$opt}</option>
                {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">出貨貨倉 : <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="warehouse_from" id="warehouse_from" {if $transfer_info.auto_created == 1} disabled {/if}>
                <option value="-1">請選擇</option>
                {foreach from=$warehouse_list item=opt}
                 <option {if $opt.warehouse_id eq $transfer_info.warehouse_from} selected {/if} value="{$opt.warehouse_id}">{$opt.name}</option>
                {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">收貨貨倉 :  <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="warehouse_to" id="warehouse_to" {if $transfer_info.auto_created == 1} disabled {/if}>
                <option value="-1">請選擇</option>
                {foreach from=$warehouse_list item=opt}
                <option {if $opt.warehouse_id eq $transfer_info.warehouse_to} selected {/if}  value="{$opt.warehouse_id}">{$opt.name}</option>
                {/foreach}
                </select>
            </div>
        </div>

    </form>
</div>

<div class="x_panel">
<div class="x_title">
<h2>請輸入調貨產品</h2>
<div class="clearfix"></div>
</div>
<div class="form-div" style="height:50px;">
<div style="float:left;">
  <form class="form-inline" method="post"  action="erp_warehouse_transfer_create.php" name="searchForm">
    <div>
    貨號：<input class="form-control" type="input" id="goods_sn" name="goods_sn" value="" placeholder="" />
    數量：<input class="form-control" type="input" id="goods_qty" name="goods_qty" value="" placeholder="" />
    <input class="form-control  btn btn-success" type="button" id="search_goods" value="確定" class="button" />
     <div id="notice_message" class="form-div" style="display:none;padding: 10px 0px;">
         <div id="success_message"></div>
         <div id="error_message"></div>
     </div>
    </div>
  </form>
</div>
</div>

<!-- start stock check list -->

<div class="list-div" id="listDiv">
{/if}
<table id="stocktake" class="table table-striped table-bordered">
  <thead>
    <th data-id="item_id">序號</th>
    <th data-id="warehouse_from_name">貨倉</th>
    <th data-id="image">圖片</th>
    <th data-id="goods_sn">{$lang.erp_stock_check_goods_sn}</th>
    <th data-id="goods_name">{$lang.erp_stock_check_goods_name}</th>
    <th width="120px" data-id="requested_qty_html">調貨數量</th>
    <th data-id="sellable_qty_html">銷售庫存</th>
    <th data-id="actions">操作</th>
  </thead>
</table>

{if $full_page}

</div>


</div>

<style>



</style>

<div id="step_action_bottom" >
 <input style="    margin-top: 19px;" class="btn btn-success form-btn next_step" type="button" id="next_step" name="next_step" value="提交" />
</div>

{include file="pagefooter.htm"}

<div class="modal fade" role="dialog" id="popup_import_data_modal">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">搜尋產品</h4>
        </div>
        <div class="modal-body">
            <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">貨號 : <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control col-md-7 col-xs-12" id="sku_data" rows="20" cols="54" placeholder=""></textarea>
                </div>
            </div>   
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class=" btn btn-success" type="button" id="search_import_data" name="search_import_data" value="搜尋" placeholder="">
                </div>
            </div>
            </form>
            <div id="notice_message" class="form-div" style="display:none">
                <div id="success_message"></div>
                <div id="error_message"></div>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- end stock check list -->
<script language="javascript">	

var $table = yoho_dataTable();
transfer_id = {$transfer_id};

var all_goods_ids = '';
$("#stocktake").DataTable().on('xhr.dt',function (e, settings, json, xhr) {
    if(json.extraData != null){
        all_goods_ids = json.extraData.total_goods_ids;
        all_goods_sns = json.extraData.total_goods_sns;
    }
});;

$('#next_step').click(function(){
    // checking
    if ($("#warehouse_from").val() == -1) {
        alert('請選擇出貨貨倉');
        return false;
    }

    if ($("#warehouse_to").val() == -1) {
        alert('請選擇收貨貨倉');
        return false;
    }

    // if ($("#warehouse_from").val() == $("#warehouse_to").val()) {
    //     alert('請選擇不同的出貨倉與入貨倉');
    //     return false;
    // }

    if (confirm("確定提交?")) {
        // check stock if it is enough
        $.ajax({
            url: 'erp_warehouse_transfer_create.php',
            type: 'post',
            cache: false,
            data: {
                'act': 'post_transfer_qty_check',
                'transfer_id' : transfer_id,
                'warehouse_from' : $("#warehouse_from").val(),
                'warehouse_to' : $("#warehouse_to").val(),
                'reason_type' : $("#reason_type").val(),
            },
            dataType: 'json',
            success: function (result) {
             $('#notice_message').show();
             $('#success_message').html('');
             $('#error_message').html('');

             if (result['error'] == 0){
                // redirect
                var url="erp_warehouse_transfer_packing.php?act=list&transfer_id=" + transfer_id;
                window.location=url;
             }else{
                if (result.message != '') {
                    $('#error_message').html(result.message);
                }

                var $filter = {};
                $filter.transfer_id = transfer_id;
                $filter.page = 1;
                $table.search($filter);
             }
            },
            error: function (xhr) {
             alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
             console.log(xhr);
            }
        });
    }
});

$('#reason_type').change(function(){

    // reset warehouse id
    //$("#warehouse_from").val('-1');
    //$("#warehouse_to").val('-1');
    $.ajax({
        url: 'erp_warehouse_transfer_create.php',
        type: 'post',
        cache: false,
        data: {
            'act': 'post_transfer_info_change_reason_type',
            'transfer_id' : transfer_id,
            'reason_type' : $("#reason_type").val(),
        },
        dataType: 'json',
        success: function (result) {
         $('#notice_message').show();
         $('#success_message').html('');
         $('#error_message').html('');

         if (result['error'] == 0){

            window.location.href = "erp_warehouse_transfer_create.php?act=list&transfer_id="+transfer_id;

             // var $filter = {};
             // $filter.transfer_id = transfer_id;
             // //	listTable.filter.act = 'query_goods';
             // $filter.page = 1;
             // $table.search($filter);
         }else{
             console.log('result',result);
             if (result.message != '') {
                 $('#error_message').html(result.message);
             }
         }
        },
        error: function (xhr) {
         alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
         console.log(xhr);
        }
    });
});

$('#warehouse_from,#warehouse_to').change(function(){
    $.ajax({
        url: 'erp_warehouse_transfer_create.php',
        type: 'post',
        cache: false,
        data: {
            'act': 'post_transfer_info_change',
            'transfer_id' : transfer_id,
            'warehouse_from' : $("#warehouse_from").val(),
            'warehouse_to' : $("#warehouse_to").val(),
            'reason_type' : $("#reason_type").val(),
        },
        dataType: 'json',
        success: function (result) {
         $('#notice_message').show();
         $('#success_message').html('');
         $('#error_message').html('');

         if (result['error'] == 0){
             var $filter = {};
             $filter.transfer_id = transfer_id;
             //	listTable.filter.act = 'query_goods';
             $filter.page = 1;
             $table.search($filter);
         }else{
             console.log('result',result);
             if (result.message != '') {
                 $('#error_message').html(result.message);
             }
         }
        },
        error: function (xhr) {
         alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
         console.log(xhr);
        }
    });
});


(function($){
 $.fn.focusTextToEnd = function(){
        this.focus();
        var $thisVal = this.val();
        this.val('').val($thisVal);
        return this;
    }
})(jQuery);

$(document).on("click",".requested_qty_text",function(){
    var item_id = $(this).data('item-id');
    var $requested_qty_text = $(this);
    var $requested_qty_input = $(this).next(".requested_qty_input");

    function transfer_qty_update()
    {
        // check qty is number
        if (!$.isNumeric($requested_qty_input.val())) {
            console.log('請輸入數字');
            return false;
        }else{
            var temp_qty = Math.round($requested_qty_input.val());
            $requested_qty_input.val(temp_qty);
        }

        $.ajax({
            url: 'erp_warehouse_transfer_create.php',
            type: 'post',
            cache: false,
            data: {
                'act': 'post_requested_qty_update',
                'transfer_id' : transfer_id,
                'item_id' : item_id,
                'requested_qty' : $requested_qty_input.val(),
            },
            dataType: 'json',
            success: function (result) {
                $('#notice_message').show();
                $('#success_message').html('');
                $('#error_message').html('');
                if (result['error'] == 0){
                    if ($requested_qty_input.val() > $requested_qty_text.data('sellable-qty')) {
                        $requested_qty_text.addClass('red');
                    }else{
                        $requested_qty_text.removeClass('red');
                    }

                    $requested_qty_text.show();
                    $requested_qty_text.html($requested_qty_input.val());
                    $requested_qty_input.hide();
                }else{
                    if (result.message != '') {
                        $('#error_message').html(result.message);
                    }
                }
            },
            error: function (xhr) {
             alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
             console.log(xhr);
            }
        });
    }

    // change qty edit mode
    $(this).hide();
    $requested_qty_input.show()
    $requested_qty_input.focusTextToEnd();
    $requested_qty_input.blur(function(){
        transfer_qty_update();
    }).keyup(function(event) {
        if (event.keyCode === 13) {
            transfer_qty_update();
        }
    });
});

$(document).on("click",".delete-transfer-item",function() {
    if (confirm("確定删除")) {
        var item_id = $(this).data('item-id');
        $.ajax({
            url: 'erp_warehouse_transfer_create.php',
            type: 'post',
            cache: false,
            data: {
             'act': 'post_transfer_item_delete',
             'item_id' : item_id,
             'transfer_id' : transfer_id,
            },
            dataType: 'json',
            success: function (result) {
             $('#notice_message').show();
             $('#success_message').html('');
             $('#error_message').html('');

             if (result['error'] == 0){
                 var $filter = {};
                 $filter.transfer_id = transfer_id;
                 //	listTable.filter.act = 'query_goods';
                 $filter.page = 1;
                 $table.search($filter);
             }else{
                 console.log('result',result);
                 if (result.message != '') {
                     $('#error_message').html(result.message);
                 }
             }
            },
            error: function (xhr) {
             alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
             console.log(xhr);
            }
        });
    }
});


$("#search_goods").click(function(){
    //console.log($('#b_id').val());
    var warehouse_from = $('#warehouse_from').val();
    var goods_sn = $('#goods_sn').val();
    var goods_qty = $('#goods_qty').val();

    if (warehouse_from <= 0) {
        alert('請選擇貨倉');
        return false;
    }

    if (goods_sn == 0) {
        alert('請選擇產品');
        return false;
    }
   
    // check stocktake sku 
    $.ajax({
      url: 'erp_warehouse_transfer_create.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_search_product_by_sku',
        'warehouse_id' : warehouse_from,
        'goods_sn' : goods_sn,
        'goods_qty' : goods_qty,
        'transfer_id' : transfer_id,
      },
      dataType: 'json',
      success: function (result) {
        $('#notice_message').show();
        $('#success_message').html('');
        $('#error_message').html('');

        if (result['error'] == 0){
            var $filter = {};
            $filter.transfer_id = transfer_id;
            //	listTable.filter.act = 'query_goods';
            $filter.page = 1;
            $table.search($filter);
        }else{
            console.log('result',result);
            if (result.message != '') {
                $('#error_message').html(result.message);
            }
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
 });

</script>
{/if}
