<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{insert_scripts files="../js/utils.js,listtable.js"}
<style>
td.sp_total {
    position: relative;
}
.sp_total:hover> .sp_detail {
    display: block;
}
.sp_detail {
    display: none;
    position: absolute;
    border: 1px solid #eee;
    z-index: 100;
    width: 30%;
    margin: auto;
    left: 0;
    right: 0;
    background: white;
    padding: 10px;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.list-table{
  display: none;
}
.list-table.active{
  display: block;
}
</style>
<div class=" x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
  {$lang.start_date}&nbsp;
    <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    {$lang.end_date}&nbsp;
    <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    <input type="submit" id="submit" name="submit" value="{$lang.query}" class="btn btn-primary" />
    {insert name=daterange_group}
  </form>
</div>
<ul class="nav nav-tabs bar_tabs" role="tablist">
  <li role="presentation" class="active"><a href="#total_amount" id="total_amount-tab" role="tab" data-toggle="tab" aria-expanded="true">銷售總額</a>
  </li>
  <li role="presentation" class=""><a href="#goods_rank" role="tab" id="goods_rank-tab" data-toggle="tab" aria-expanded="false">產品排行</a>
  </li>
</ul>
<form method="POST" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive tab-content" id="listDiv">
{/if}
  <!-- 銷售總額 Table -->
  <div role="tabpanel" id="total_amount" class="tab-pane fade active in" aria-labelledby="total_amount-tab">
    <div style="text-align:right;padding: 5px;">*此報表包含所有展場內已確認, 已付款, 不論是否出貨的訂單</div>
    <table class="table table table-striped jambo_table" >
      <thead>
        <tr>
          <th>日期</th>
          <th>銷售總額</th>
          {foreach from=$salesperson_name item=s_name}
          <th>{$s_name}</th>
          {/foreach}
        </tr>
      </thead>
    {foreach from=$data item=list}
      <tr>
        <td>{$list.date}</td>
        <td>{$list.order_total}</td>
        {foreach from=$list.salesperson key=spname item=row}
        <td class="sp_total">
          {$row.order_total_foramt}
          <div class="sp_detail">
              {foreach from=$row.pay key=pay_id item=pay}
                  <div>{$pay.pay_name}: {$pay.order_total}</div>
              {/foreach}
          </div>
        </td>
        {/foreach}
      </tr>
    {/foreach}
    </table>
  </div>
  <!-- 產品排行 Table -->
  <div role="tabpanel" id="goods_rank" class="tab-pane fade" aria-labelledby="goods_rank-tab">
    <div style="text-align:right;padding: 5px;">*此報表包含所有展場內已確認, 已付款, 不是速遞的產品排行</div>
    <table class="table table table-striped jambo_table" >
      <thead>
        <tr>
          <th>銷售數</th>
          <th>產品名稱</th>
          <th>產品序號</th>
          <th>銷售總額</th>
        </tr>
      </thead>
    {foreach from=$goods_data item=goods}
      <tr align="center">
        <td>{$goods.sell_number}</td>
        <td>{$goods.goods_name}</td>
        <td>{$goods.goods_sn}</td>
        <td>{$goods.goods_total}</td>
      </tr>
    {foreachelse}
      <tr><td colspan="4" class="no-records" align="center" >{$lang.no_records}</td></tr>
    {/foreach}
    </table>
  </div>
{if $full_page}
</div>
</form>
</div>
<script type="Text/Javascript" language="JavaScript">
//listTable.recordCount = {$record_count};
//listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  getDownUrl();
}

function getList()
{
    var frm =  document.forms['TimeInterval'];
    listTable.filter['start_date'] = frm.elements['start_date'].value;
    listTable.filter['end_date'] = frm.elements['end_date'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById('first_tab').click();
    getDownUrl();
}

function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
  for (var i = 0; i < aTags.length; i++)
  { 
    if (aTags[i].href.indexOf('download') >= 0)
    {
      if (listTable.filter['start_date'] == "")
      {
        var frm =  document.forms['TimeInterval'];
        listTable.filter['start_date'] = frm.elements['start_date'].value;
        listTable.filter['end_date'] = frm.elements['end_date'].value;
      }
     // aTags[i].href = "sale_payment.php?act=download&start_date=" + listTable.filter['start_date'] + "&end_date=" + listTable.filter['end_date']+"&is_ex_pos="+listTable.filter['is_ex_pos'];
    }
  }
}

function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("list-table");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}
