<!-- $Id: favourable_info.htm 14361 2008-04-07 09:26:17Z zhuwenyuan $ -->
{include file="pageheader.htm"}
{insert_scripts files="validator.js,../js/transport_jquery.js,i18n.js"}
<div class=" x_panel">
<form class="form-horizontal form-label-left" method="post" action="favourable.php" name="theForm" enctype="multipart/form-data" onSubmit="return validate()" class="">
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_redeem_name}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <input class="form-control" name="act_name" type="text" id="act_name" value="{$favourable.act_name}" size="40" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_redeem_tag}</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input class="form-control" name="act_tag" type="text" id="act_tag" value="{$favourable.act_tag}" size="40" />
      <span class="form-helper">
        <div class="promotion-tag">
          <div class="tag-box" style="background-color: #00ACEE;">換購：+$9元換購Jabra</div>
        </div>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_start_time} </label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <div class="controls">
        <div class="input-prepend input-group">
          <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
          <input data-type='date' class="form-control" name="start_time" type="text" id="start_time" value="{$favourable.start_time}"/>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_end_time}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <div class="controls">
        <div class="input-prepend input-group">
          <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
          <input data-type='date' class="form-control" name="end_time" type="text" id="end_time" value="{$favourable.end_time}"/>
        </div>
      </div>
    </div>
  </div>
  {foreach from=$user_rank_list item=user_rank}
    <input type="hidden" name="user_rank[]" value="{$user_rank.rank_id}">
  {/foreach}
  <!--div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_user_rank}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      {foreach from=$user_rank_list item=user_rank}
      <label><input class="flat" type="checkbox" name="user_rank[]" value="{$user_rank.rank_id}" {if $user_rank.checked}checked="true"{/if} />{$user_rank.rank_name}</label>
      {/foreach}
    </div>
  </div-->
  <!--div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">適用會員</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <div class="form-inline">
        <select class="form-control" onchange="searchUser(this);" id="user_select">
          <option value="">{$lang.select_please}</option>
          <option value="goods">曾購買此產品(產品ID)</option>
          <option value="birthday">生日月份</option>
          <option value="rank">會員積分(大於)</option>
        </select>
        <div class="input-group no-margin">
          <select class="form-control" name="birthday_month" style="display:none;">
            <option value="">{$lang.select_please}</option>
            <option value="1">一月</option>
            <option value="2">二月</option>
            <option value="3">三月</option>
            <option value="4">四月</option>
            <option value="5">五月</option>
            <option value="6">六月</option>
            <option value="7">七月</option>
            <option value="8">八月</option>
            <option value="9">九月</option>
            <option value="10">十月</option>
            <option value="11">十一月</option>
            <option value="12">十二月</option>
          </select>
          <input class="form-control" name="goods_user" type="text" size="20" style="display:none;"/>
          <input class="form-control" name="rank_user" type="text" size="20" style="display:none;"/>
          <span class="input-group-btn">
            <input class="btn btn-default" type="button" id="search_user_btn" onclick="addUser();" value="添加" style="display:none;"/>
          </span>
        </div>
      </div>
      <input style="margin-top: 5px;" class="form-control" name="users_list" type="text" value="{$favourable.users_list|escape}" size="40" />
    </div>
  </div-->

  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_act_range}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <!--select class="form-control input-medium" disabled>
        <option selected="selected">{$lang.far_goods}</option>
      </select-->
      <input type="hidden" name="act_range" value="3">
      <div id="range-div">
        {foreach from=$act_range_ext item=item}
        <input name="act_range_ext[]" type="checkbox" value="{$item.id}" checked="checked" /> {$item.name} 
        {/foreach}
      </div>
    </div>
  </div>

  <div class="form-group" id="range_search">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_search_and_add}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <div class="form-inline">
        <div class="input-group no-margin">
          <input class="form-control" name="keyword" type="text" id="keyword">
          <span class="input-group-btn">
            <input name="search" type="button" id="search" value="{$lang.button_search}" class="btn btn-success" onclick="searchItem()" />
          </span>
        </div>
        <div class="input-group no-margin">
          <select class="form-control" name="result" id="result"></select>
          <span class="input-group-btn">
            <input type="button" name="add_range" value="+" class="btn btn-success" onclick="addRange()" />
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_min_quantity}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <input class="form-control" name="min_quantity" type="text" id="min_quantity" value="{$favourable.min_quantity}">
      <span class="form-helper">{$lang.notice_min_quantity}</span>
    </div>
  </div>

  <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">可以換購數量</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        <div class="form-inline">
          <input type="hidden" name="act_type" value="0">
          <input type="hidden" name="act_kind" value="2">
          <input class="form-control" name="act_type_ext" type="text" id="act_type_ext" value="{$favourable.act_type_ext}" size="10" />
        </div>
        <span class="form-helper" id="NoticeActType">請輸入允許買家換購最大數量，數量為0表示不限數量</span>
      </div>
  </div>
  
  <div class="form-group" id="gift_list">
    <!-- #BeginComment -->
     <label class="control-label col-md-3 col-sm-3 col-xs-12"><a href="javascript:showNotice('NoticeActType');" title="{$lang.form_notice}">
        <img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.label_act_type}</div>
    <!-- #EndComment -->
    <label class="control-label col-md-3 col-sm-3 col-xs-12">換購品列表</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <div class="form-inline">
        <div class="input-group no-margin">
          <input class="form-control" name="keyword1" type="text" id="keyword1" />
          <span class="input-group-btn">
            <input name="search1" type="button" id="search1" value="{$lang.button_search}" class="btn btn-success" onclick="searchItem1()" />
          </span>
        </div>
        <div class="input-group no-margin">
          <select class="form-control" name="result1" id="result1"></select>
          <span class="input-group-btn">
            <input name="add_gift" type="button" class="btn btn-success" id="add_gift" onclick="addGift()" value="+" />
          </span>
        </div>
      </div>
      <br>
      <div id="gift-div">
        <table id="gift-table" class="table table-striped table-bordered">
        {if $favourable.gift}
          <tr align="center">
            <th>
              <strong>{$lang.js_languages.redeem}</strong>
            </th>
            <th>
              <strong>{$lang.js_languages.price}</strong>
            </th>
            <th>
              <strong>{$lang.js_languages.redeem_price}</strong>
            </th>
          </tr>
          {foreach from=$favourable.gift item=goods key=key}
          <tr>
            <td>
              <label><input type="checkbox" name="gift_id[{$key}]" value="{$goods.id}" checked="checked" />{$goods.name}</label>
            </td>
            <td>
              <label>{$goods.shop_price}</label>
            </td>
            <td>
              <input class="form-control gift_price" name="gift_price[{$key}]" type="text" value="{$goods.price}" size="10" style="text-align:right;{if $goods.price > $goods.shop_price}border: 1px solid red;{/if}" onchange="checkGiftPrice(this, {$goods.shop_price})"/>
              <input class="form-control" name="gift_name[{$key}]" type="hidden" value="{$goods.name}" />
            </td>
          </tr>
          {/foreach}
        {/if}
        </table>
      </div>
      <div class="form-inline">
        <div>
          <input type="checkbox" name="bulk_price_check" id="bulk_price_check" {if $favourable.bulk_price > 0}checked="checked"{/if}>
          或者加
          <input class="form-control" name="bulk_price" id="bulk_price" type="text" {if $favourable.bulk_price > 0}value="{$favourable.bulk_price}"{/if}>
          元換購上述任意一種商品
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="ln_solid"></div>
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <input type="submit" class="btn btn-primary" value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="id" value="{$favourable.act_id}" />
    </div>
  </div>
</form>
</div>

{literal}
<script language="JavaScript">

var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};

<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
    use_bulk_price();
}
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required('act_name', act_name_not_null);
    validator.isNumber('min_amount', min_amount_not_number, true);
    validator.isNumber('max_amount', max_amount_not_number, true);
    validator.isNumber('act_type_ext', act_type_ext_not_number, true);
    validator.islt('start_time', 'end_time', start_lt_end);
    if (document.forms['theForm'].elements['max_amount'].value > 0)
    {
      validator.gt('max_amount', 'min_amount', amount_invalid);
    }

    return validator.passed();
}

function searchItem()
{
  var filter = new Object;
  filter.keyword  = document.forms['theForm'].elements['keyword'].value.replace('&', '').replace('#', '');
  filter.act_range = document.forms['theForm'].elements['act_range'].value;
  if (filter.act_range == 0)
  {
    alert(all_need_not_search);
    return;
  }

  Ajax.call('favourable.php?is_ajax=1&act=search', filter, searchResponse, 'GET', 'JSON');
}

function searchResponse(result)
{
  if (result.error == '1' && result.message != '')
  {
    alert(result.message);
	return;
  }

  var sel = document.forms['theForm'].elements['result'];

  sel.length = 0;

  /* 创建 options */
  var goods = result.content;
  if (goods)
  {
    for (i = 0; i < goods.length; i++)
    {
      var opt = document.createElement("OPTION");
      opt.value = goods[i].id;
      opt.text  = goods[i].name;
      sel.options.add(opt);
    }
  }

  return;
}

function addRange()
{
  var selRange = document.forms['theForm'].elements['act_range'];
  if (selRange.value == 0)
  {
    alert(all_need_not_search);
    return;
  }
  var selResult = document.getElementById('result');
  if (selResult.value == 0)
  {
    alert(pls_search);
    return;
  }
  var selRange_id = selRange.value;
  var id = selResult.options[selResult.selectedIndex].value;
  var name = selResult.options[selResult.selectedIndex].text;

  // 检查是否已经存在
  var exists = false;
  var eles = document.forms['theForm'].elements;
  for (var i = 0; i < eles.length; i++)
  {
    if (eles[i].type=="checkbox" && eles[i].name.substr(0, 13) == 'act_range_ext')
    {
      if (eles[i].value == id)
      {
        exists = true;
        alert(range_exists);
        break;
      }
    }
  }

  if (!exists)
  {

    $.ajax({
      url: 'favourable.php',
      type: 'get',
      data: {
        'act': 'search_range',
        'act_id': {$favourable.act_id},
        'act_kind': 2,
        'act_range': selRange_id,
        'act_range_ext': id

      },
      dataType: 'json',
      success: function (result) {
        if(result.length > 0){
          alert("此產品已有其他相關優惠 (優惠ID: "+result[0].act_id+")");
          return;
        }
        else{
          // 创建checkbox
          var html = '<input name="act_range_ext[]" type="checkbox" value="' + id + '" checked="checked" />' + name + '<br />';
          document.getElementById('range-div').innerHTML += html;
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });  
  }
}

/**
 * 搜索赠品
 */
function searchItem1()
{
  if (document.forms['theForm'].elements['act_type'].value == 1)
  {
    alert(price_need_not_search);
    return;
  }
  var filter = new Object;
  filter.keyword  = document.forms['theForm'].elements['keyword1'].value.replace('&', '').replace('#', '');
  filter.act_range = 3;
  Ajax.call('favourable.php?is_ajax=1&act=search', filter, searchResponse1, 'GET', 'JSON');
}

function searchResponse1(result)
{
  if (result.error == '1' && result.message != '')
  {
    alert(result.message);
	return;
  }

  var sel = document.forms['theForm'].elements['result1'];

  sel.length = 0;

  /* 创建 options */
  var goods = result.content;
  if (goods)
  {
    for (i = 0; i < goods.length; i++)
    {
      var opt = document.createElement("OPTION");
      opt.value = goods[i].id;
      opt.text  = goods[i].name;
      opt.setAttribute('data-shop-price', goods[i].shop_price);
      sel.options.add(opt);
    }
  }

  return;
}

function addGift()
{
  var selType = document.forms['theForm'].elements['act_type'];
  if (selType.value == 1)
  {
    alert(price_need_not_search);
    return;
  }
  //var selResult = document.getElementById('result1');
  var selResult = $("#result1");
  var selOption = selResult.find(':selected')

  var id = selOption.val();
  var name = selOption.text();
  var shop_price = selOption.attr('data-shop-price');

  if (id == 0 || id == undefined)
  {
    alert(pls_search);
    return;
  }
 
  // 检查是否已经存在
  var exists = false;
  var eles = document.forms['theForm'].elements;
  for (var i = 0; i < eles.length; i++)
  {
    if (eles[i].type=="checkbox" && eles[i].name.substr(0, 7) == 'gift_id')
    {
      if (eles[i].value == id)
      {
        exists = true;
        alert(range_exists);
        break;
      }
    }
  }

  // 创建checkbox
  if (!exists)
  {
    var table = document.getElementById('gift-table');
    var gift_price = 1;


    if (table.rows.length == 0)
    {
        var row = table.insertRow(-1);
        var cell = row.insertCell(-1);
        cell.align = 'center';
        cell.innerHTML = '<strong>' + gift + '</strong>';
        var cell = row.insertCell(-1);
        cell.align = 'center';
        cell.innerHTML = '<strong>' + price + '</strong>';
        var cell = row.insertCell(-1);
        cell.align = 'center';
        cell.innerHTML = '<strong>' + redeem_price + '</strong>';
    }
    var row = table.insertRow(-1);
    var cell = row.insertCell(-1);
    cell.innerHTML = '<label><input name="gift_id[]" type="checkbox" value="' + id + '" checked="checked" />' + name + '</label>';
    var cell = row.insertCell(-1);
    cell.innerHTML = '<label>' + shop_price + '</label>';
    var cell = row.insertCell(-1);
    cell.align = 'right';
    cell.innerHTML = '<input class="form-control gift_price" name="gift_price[]" type="text" value="'+gift_price+'" size="10" style="text-align:right"  onchange="checkGiftPrice(this, ' + shop_price + ')"/>' +
                     '<input class="form-control" name="gift_name[]" type="hidden" value="' + name + '" />';
  }
}

function searchUser(sel)
{
  var value = sel.value;
  if(value=="goods"){
    $('input[name="goods_user"]').show();
    $('select[name="birthday_month"]').hide();
    $('input[name="rank_user"]').hide();
    $("#search_user_btn").show();
  } else if(value=="birthday") {
    $('input[name="goods_user"]').hide();
    $('select[name="birthday_month"]').show();
    $('input[name="rank_user"]').hide();
    $("#search_user_btn").show();
  } else if(value=="rank") {
    $('input[name="goods_user"]').hide();
    $('select[name="birthday_month"]').hide();
    $('input[name="rank_user"]').show();
    $("#search_user_btn").show();
  } else {
    $('input[name="goods_user"]').hide();
    $('select[name="birthday_month"]').hide();
    $('input[name="rank_user"]').hide();
    $("#search_user_btn").show();
  }
}

function addUser(){
  var sel = $("#user_select").val();
  var value = "";
  var users_list = $('input[name="users_list"]').val();
  if(sel=="goods"){
    value = $('input[name="goods_user"]').val();
  } else if(sel=="birthday") {
    value = $('select[name="birthday_month"]').val();
  } else if(sel=="rank") {
    value = $('input[name="rank_user"]').val();
  }

  if(value.length > 0){
    $.ajax({
      url: 'favourable.php',
      type: 'get',
      data: {
        'act': 'search_user',
        'type': sel,
        'value': value,
        'users_list': users_list

      },
      dataType: 'json',
      success: function (result) {
        $('input[name="users_list"]').val(result);
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });
  }
}

function checkGiftPrice(giftPrice, shopPrice){

  var price = giftPrice.value;

  if(!$.isNumeric(price)){
    alert('換購品價格必須為數字');
  }
  
  if(price <= 0){
    alert('換購品價格必須大於0');
    giftPrice.value = 1;
  }

  if(price > shopPrice){
    giftPrice.style = "border: 1px solid red;text-align:right";
  }
  else{
    giftPrice.style = "border: unset;text-align:right";
  }
  
}

$("input[name='bulk_price_check']").change(function(){
  use_bulk_price();
});

function use_bulk_price(){
  var use = $("#bulk_price_check").prop('checked');
  if(use){
    $("#act_type_ext").prop("disabled", true);
    $(".gift_price").prop("disabled", true);
    $("#bulk_price").prop("disabled", false);
  }
  else{
    $("#act_type_ext").prop("disabled", false);
    $(".gift_price").prop("disabled", false);
    $("#bulk_price").prop("disabled", true);
  }
}

//-->
</script>
{/literal}
{include file="pagefooter.htm"}
