<!-- $Id: favourable_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->


{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}

<style>

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

</style>

<div class="x_panel row">
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form action="" name="searchForm" class="form-inline">
      <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
      {$lang.include_goods} <input placeholder="{$lang.include_goods_hint}" class="form-control" type="text" name="include_goods" size="30" value="{$smarty.request.include_goods}"/>
      <input name="is_going" class="flat" type="checkbox" id="is_going" value="1" {if $smarty.request.is_going}checked{/if}/>
      {$lang.act_is_going}
      <input name="act" type="hidden" value="{$act}" />
      <input type="submit" value="{$lang.button_search}" class="btn btn-primary" />

      {if $abnormal_favourable_count gt 0 }
      <span class="abnormal_favourable red" style="font-weight: bold; vertical-align: -webkit-baseline-middle;">
        <i class="fa fa-exclamation-circle fa-2x" style="color: #faad14;"></i><span style="display: inline-block;vertical-align: super;text-decoration: underline;cursor: pointer;" class="abnormal_favourable_count">換購價高於產品價格({$abnormal_favourable_count})</span>
      </span>
      {/if}
    </form>
  </div>

  <form method="post" action="favourable.php" name="listForm" onsubmit="return confirm(batch_drop_confirm);">
  <!-- start favourable list -->
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table id="favourable" class="table table-striped table-bordered bulk_action ">
      <thead>
        <tr class="headings">
          <th data-id="act_id" data-key="act_id">
            <input type="checkbox" id="check-all" class="flat">{$lang.record_id}
          </th>
          <th data-id="act_name" style='text-align: center;'>{$lang.act_name}</th>
          <th data-id="act_tag" style='text-align: center;'>{$lang.act_tag}</th>
          <th data-id="start_time" style='text-align: center;'>{$lang.start_time}</th>
          <th data-id="end_time" style='text-align: center;'>{$lang.end_time}</th>
          <th data-id="status" style='text-align: center;'>開/關</th>
          <th data-id="sort_order" data-edit="true" style='text-align: center;'>{$lang.sort_order}</th>
          <th class="actionsCol" data-id="_action" style='text-align: center;'>{$lang.handler}</th>
        </tr>
      </thead>
      <tbody>
        {foreach from=$favourable_list key=key item=favourable}
		    <tr data-event-id='{$favourable.act_id}'>
		    	<td style='text-align: center;'>{$favourable.act_id}</td>
		    	<td style='text-align: center;' {if $favourable.price_abnormal}class="red"{/if}>{$favourable.act_name}</td>
		    	<td style='text-align: center;'>{$favourable.act_tag}</td>
		    	<td style='text-align: center;' {if $favourable.is_not_on_going}class="red"{/if} data-toggle="tooltip" title="{$event.txt_process}">{$favourable.start_time}</td>
		    	<td style='text-align: center;' {if $favourable.is_not_on_going}class="red"{/if} data-toggle="tooltip" title="{$event.txt_process}">{$favourable.end_time}</td>
		    	<td style='text-align: center;'>
		    		<label class="switch">
		    			<input class='favourable-toggle' type="checkbox"{if $favourable.status eq 1} checked{/if}>
		    			<span class="slider round"></span>
            </label>
          </td>
          <td style='text-align: center;'>{$favourable.sort_order}</td>
		    	<td style='text-align: center;'>
		    		<a href="favourable.php?act=edit&id={$favourable.act_id}" class="fa fa-edit btn btn-primary btn-sm" role="button">{$lang.erp_operation_edit}</a>
		    		<a href="favourable.php?act=remove&id={$favourable.act_id}" class="fa fa-trash btn btn-danger btn-sm delete-btn" role="button">刪除</a>
		    	</td>
		    </tr>
		    {/foreach}
      </tbody>
    </table>
  </div>
  <div class="form-div col-md-5 col-sm-5 col-xs-5">
    <input type="submit" name="drop" id="btnSubmit" value="{$lang.drop}" class="btn btn-primary" disabled="true" />
    <input type="hidden" name="act" value="batch" /></td>
  </div>
  <!-- end favourable list -->
  </form>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
<!--
  /*
  yohoTable.query = '{$query_action}';
  yohoTable.rowCallback = function( row, data, dataIndex ) {
    if(data.price_abnormal) {
      $(row).find('.act_name').addClass('red');
    } else {
      $(row).find('.act_name').removeClass('red');
    }
  };

  var $table = yoho_dataTable();

  onload = function()
  {
    document.forms['searchForm'].elements['include_goods'].focus();

    startCheckOrder();
  }

  /**
   * 搜索团购活动
   */
  /*
  function searchActivity()
  {
    $filter = [];
    //var keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    //$filter['keyword'] = keyword;
    var include_goods = Utils.trim(document.forms['searchForm'].elements['include_goods'].value);
    $filter['include_goods'] = include_goods;
    if (document.forms['searchForm'].elements['is_going'].checked)
    {
      $filter['is_going'] = 1;
    }
    else
    {
      $filter['is_going'] = 0;
    }
    $table.search($filter);
  }

  

*/
//-->

$('.abnormal_favourable').click(function(){
      //$filter = [];
      //$filter['price_abnormal'] = 1;
      //
      //$table.search($filter);

      window.location.href = "?act={$act}&price_abnormal=1";
    });

$(document).ready(function() {
	$('.favourable-toggle').change(function(){
		var new_val = this.checked;
		var $event_row = $(this).closest('tr');
		var event_id = $event_row.attr('data-event-id');
		$.ajax({
        url: 'favourable.php',
        type: 'POST',
        dataType: 'JSON',
        data:{
            act: 'ajax_update_status',
            id: event_id,
            status: new_val
        },
        success: function(res){
			  var return_status = res.content;
            if(res.error == 0 && return_status.status != '' && return_status.on_off != '') {
				var status = return_status.status;
				var on_off = return_status.on_off;
				if (status == 1){
					alert('已開啟活動');
				} else if (status == 2) {
					alert('活動將會開始');
				} else {
					alert('已關閉活動');
				}
				if (on_off == 1){
					$event_row.children('td.event-signal').children('div.circle').attr('data-original-title','活動進行中').attr('class','circle circle-green');
				} else if (on_off == 2) {
					$event_row.children('td.event-signal').children('div.circle').attr('data-original-title','活動將會開始').attr('class','circle circle-yellow');
				} else {
					$event_row.children('td.event-signal').children('div.circle').attr('data-original-title','活動停止').attr('class','circle circle-red');
				}
            } else {
				alert('伺服器回應錯誤，請重新整理網頁。');
				return false;
			}
		},

		error:function(XMLHttpRequest, textStatus){
            console.log(XMLHttpRequest);  //XMLHttpRequest.responseText    XMLHttpRequest.status   XMLHttpRequest.readyState
            console.log(textStatus);
			alert('對不起,您沒有執行此項操作的權限! ');
        }

    	});
    });
    

	$('.delete-btn').click(function(){
		var event_name = $(this).closest('tr').children('td.event-name').text();
		return confirm("確定要刪除優惠活動 " + event_name + " 及此活動商品設定?");
	});

});

</script>

