<!-- $Id: favourable_info.htm 14361 2008-04-07 09:26:17Z zhuwenyuan $ -->
{include file="pageheader.htm"}
{insert_scripts files="validator.js,../js/transport_jquery.js,i18n.js"}
<div class=" x_panel">
<form class="form-horizontal form-label-left" method="post" action="favourable.php" name="theForm" enctype="multipart/form-data" onSubmit="return validate()" class="">
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_act_name}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <input class="form-control" name="act_name" type="text" id="act_name" value="{$favourable.act_name}" size="40" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_act_tag}</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input class="form-control" name="act_tag" type="text" id="act_tag" value="{$favourable.act_tag}" size="40" />
      <span class="form-helper">
        <div class="promotion-tag">
          <div class="tag-box" style="background-color: #FD495C;">送：買1送1</div>
        </div>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_start_time} </label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <div class="controls">
        <div class="input-prepend input-group">
          <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
          <input data-type='date' class="form-control" name="start_time" type="text" id="start_time" value="{$favourable.start_time}"/>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_end_time}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <div class="controls">
        <div class="input-prepend input-group">
          <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
          <input data-type='date' class="form-control" name="end_time" type="text" id="end_time" value="{$favourable.end_time}"/>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_user_rank}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      {foreach from=$user_rank_list item=user_rank}
      <label><input class="flat" type="checkbox" name="user_rank[]" value="{$user_rank.rank_id}" {if $user_rank.checked}checked="true"{/if} />{$user_rank.rank_name}</label>
      {/foreach}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">適用會員</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <div class="form-inline">
        <select class="form-control" onchange="searchUser(this);" id="user_select">
          <option value="">{$lang.select_please}</option>
          <option value="goods">曾購買此產品(產品ID)</option>
          <option value="birthday">生日月份</option>
          <option value="rank">會員積分(大於)</option>
        </select>
        <div class="input-group no-margin">
          <select class="form-control" name="birthday_month" style="display:none;">
            <option value="">{$lang.select_please}</option>
            <option value="1">一月</option>
            <option value="2">二月</option>
            <option value="3">三月</option>
            <option value="4">四月</option>
            <option value="5">五月</option>
            <option value="6">六月</option>
            <option value="7">七月</option>
            <option value="8">八月</option>
            <option value="9">九月</option>
            <option value="10">十月</option>
            <option value="11">十一月</option>
            <option value="12">十二月</option>
          </select>
          <input class="form-control" name="goods_user" type="text" size="20" style="display:none;"/>
          <input class="form-control" name="rank_user" type="text" size="20" style="display:none;"/>
          <span class="input-group-btn">
            <input class="btn btn-default" type="button" id="search_user_btn" onclick="addUser();" value="添加" style="display:none;"/>
          </span>
        </div>
      </div>
      <input style="margin-top: 5px;" class="form-control" name="users_list" type="text" value="{$favourable.users_list|escape}" size="40" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_act_range}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <select class="form-control" name="act_range" id="act_range" onchange="changeRange()">
        <option value="0" selected="selected" {if $favourable.act_range eq 0}selected="selected"{/if}>{$lang.far_all}</option>
        <option value="1" {if $favourable.act_range eq 1}selected="selected"{/if}>{$lang.far_category}</option>
        <option value="2" {if $favourable.act_range eq 2}selected="selected"{/if}>{$lang.far_brand}</option>
        <option value="3" {if $favourable.act_range eq 3}selected="selected"{/if}>{$lang.far_goods}</option>
      </select>
      <div id="range-div">
        {foreach from=$act_range_ext item=item}
        <input name="act_range_ext[]" type="checkbox" value="{$item.id}" checked="checked" /> {$item.name} 
        {/foreach}
      </div>
    </div>
  </div>

  <div class="form-group" id="range_search"{if $favourable.act_range eq 0} style="display:none"{/if}>
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_search_and_add}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <div class="form-inline">
        <div class="input-group no-margin">
          <input class="form-control" name="keyword" type="text" id="keyword">
          <span class="input-group-btn">
            <input name="search" type="button" id="search" value="{$lang.button_search}" class="btn btn-success" onclick="searchItem()" />
          </span>
        </div>
        <div class="input-group no-margin">
          <select class="form-control" name="result" id="result"></select>
          <span class="input-group-btn">
            <input type="button" name="add_range" value="+" class="btn btn-success" onclick="addRange()" />
          </span>
        </div>
      </div>
    </div>
  </div>


  <div class="form-group">
      <!-- #BeginComment -->
       <label class="control-label col-md-3 col-sm-3 col-xs-12"><a href="javascript:showNotice('NoticeActType');" title="{$lang.form_notice}">
          <img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.label_act_type}
      <!-- #EndComment -->
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_act_type}</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        <div class="form-inline">
          <select class="form-control" name="act_type" id="act_type" onchange="changeType()">
          <option value="0" {if $favourable.act_type eq 0}selected="selected"{/if}>{$lang.fat_goods}</option>
          <option value="1" {if $favourable.act_type eq 1}selected="selected"{/if}>{$lang.fat_price}</option>
          <option value="2" {if $favourable.act_type eq 2}selected="selected"{/if}>{$lang.fat_discount}</option>
          </select>
          <input class="form-control" name="act_type_ext" type="text" id="act_type_ext" value="{$favourable.act_type_ext}" size="10" />
        </div>
        <span class="form-helper" id="NoticeActType">{$lang.notice_act_type}</span>
        <span class="form-helper" id="NoticeActType">請輸入允許買家選擇贈品（特惠品）的最大數量，數量為0表示不限數量</span>
      </div>
  </div>
  
  <div class="form-group" id="act_kind_list">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">贈品（特惠品）分類：</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <select class="form-control" name="act_kind" id="act_kind" onchange="changeKind()">
        <option value="1" {if $favourable.act_kind eq 1}selected="selected"{/if}>贈品</option>
        <option value="2" {if $favourable.act_kind eq 2}selected="selected"{/if}>換購</option>
        <!--option value="3" {if $favourable.act_kind eq 3}selected="selected"{/if}>滿額送</option-->
      </select>
    </div>
  </div>

  <div class="form-group" id="min_amount_div" {if $favourable.act_kind neq 3} style="display:none"{/if}>
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_min_amount}</label>
    <div class="col-md-6 col-sm-9 col-xs-12"><input class="form-control" name="min_amount" type="text" id="min_amount" value="{$favourable.min_amount}"></div>
  </div>
  <div class="form-group" id="max_amount_div" {if $favourable.act_kind neq 3} style="display:none"{/if}>
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_max_amount}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <input class="form-control" name="max_amount" type="text" id="max_amount" value="{$favourable.max_amount}">
      <span class="form-helper">{$lang.notice_max_amount}</span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_min_quantity}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <input class="form-control" name="min_quantity" type="text" id="min_quantity" value="{$favourable.min_quantity}">
      <span class="form-helper">{$lang.notice_min_quantity}</span>
    </div>
  </div>
  
  <div class="form-group" id="gift_list">
    <!-- #BeginComment -->
     <label class="control-label col-md-3 col-sm-3 col-xs-12"><a href="javascript:showNotice('NoticeActType');" title="{$lang.form_notice}">
        <img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.label_act_type}</div>
    <!-- #EndComment -->
    <label class="control-label col-md-3 col-sm-3 col-xs-12">贈品（特惠品）列表</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <!--div class="form-inline">
        <select class="form-control" name="act_type" id="act_type" onchange="changeType(this.value)">
        <option value="0" {if $favourable.act_type eq 0}selected="selected"{/if}>{$lang.fat_goods}</option>
        <option value="1" {if $favourable.act_type eq 1}selected="selected"{/if}>{$lang.fat_price}</option>
        <option value="2" {if $favourable.act_type eq 2}selected="selected"{/if}>{$lang.fat_discount}</option>
        </select>
        <input class="form-control" name="act_type_ext" type="text" id="act_type_ext" value="{$favourable.act_type_ext}" size="10" />
      </div>
      <span class="form-helper" id="NoticeActType">{$lang.notice_act_type}</span>
      <span class="form-helper" id="NoticeActType">請輸入允許買家選擇贈品（特惠品）的最大數量，數量為0表示不限數量</span-->
      <div id="gift-div">
        <table id="gift-table" class="table table-striped table-bordered">
        {if $favourable.gift}
          <tr align="center">
            <th>
              <strong>{$lang.js_languages.gift}</strong>
            </th>
            <th>
              <strong>{$lang.js_languages.price}</strong>
            </th>
          </tr>
          {foreach from=$favourable.gift item=goods key=key}
          <tr>
            <td>
              <label><input type="checkbox" name="gift_id[{$key}]" value="{$goods.id}" checked="checked" />{$goods.name}</label>
            </td>
            <td>
              <input class="form-control gift_price" name="gift_price[{$key}]" type="text" value="{$goods.price}" size="10" style="text-align:right" onchange="checkGiftPrice(this)"/>
              <input class="form-control" name="gift_name[{$key}]" type="hidden" value="{$goods.name}" />
            </td>
          </tr>
          {/foreach}
        {/if}
        </table>
      </div>
    </div>
  </div>
  <div class="form-group"id="type_search"{if $favourable.act_type neq 0} style="display:none"{/if}>
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_search_and_add_gift}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <div class="form-inline">
        <div class="input-group no-margin">
          <input class="form-control" name="keyword1" type="text" id="keyword1" />
          <span class="input-group-btn">
            <input name="search1" type="button" id="search1" value="{$lang.button_search}" class="btn btn-success" onclick="searchItem1()" />
          </span>
        </div>
        <div class="input-group no-margin">
          <select class="form-control" name="result1" id="result1"></select>
          <span class="input-group-btn">
            <input name="add_gift" type="button" class="btn btn-success" id="add_gift" onclick="addGift()" value="+" />
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="ln_solid"></div>
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <input type="submit" class="btn btn-primary" value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="id" value="{$favourable.act_id}" />
    </div>
  </div>
</form>
</div>

{literal}
<script language="JavaScript">

var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};

<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
//    changeRange(document.forms['theForm'].elements['act_range'].value);
//    changeType(document.forms['theForm'].elements['act_type'].value);
}
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required('act_name', act_name_not_null);
    validator.isNumber('min_amount', min_amount_not_number, true);
    validator.isNumber('max_amount', max_amount_not_number, true);
    validator.isNumber('act_type_ext', act_type_ext_not_number, true);
    validator.islt('start_time', 'end_time', start_lt_end);
    if (document.forms['theForm'].elements['max_amount'].value > 0)
    {
      validator.gt('max_amount', 'min_amount', amount_invalid);
    }

    return validator.passed();
}

function searchItem()
{
  var filter = new Object;
  filter.keyword  = document.forms['theForm'].elements['keyword'].value;
  filter.act_range = document.forms['theForm'].elements['act_range'].value;
  if (filter.act_range == 0)
  {
    alert(all_need_not_search);
    return;
  }

  Ajax.call('favourable.php?is_ajax=1&act=search', filter, searchResponse, 'GET', 'JSON');
}

function searchResponse(result)
{
  if (result.error == '1' && result.message != '')
  {
    alert(result.message);
	return;
  }

  var sel = document.forms['theForm'].elements['result'];

  sel.length = 0;

  /* 创建 options */
  var goods = result.content;
  if (goods)
  {
    for (i = 0; i < goods.length; i++)
    {
      var opt = document.createElement("OPTION");
      opt.value = goods[i].id;
      opt.text  = goods[i].name;
      sel.options.add(opt);
    }
  }

  return;
}

/**
 * 改变优惠范围
 * @param int rangeId
 */
function changeRange()
{
  var rangeId = $("#act_range").val();

  document.getElementById('range-div').innerHTML = '';
  document.getElementById('result').length = 0;
  var row = document.getElementById('range_search');
  if (rangeId <= 0)
  {
    row.style.display = 'none';
  }
  else
  {
    row.style.display = '';
  }

  if(rangeId!=3){
    if($("#act_type").val() == "0"){
      $("#act_type").val("1");
    }
    document.getElementById("act_type").options[0].disabled = true;
  }
  else{
    document.getElementById("act_type").options[0].disabled = false;
  }

  changeType();

}

function addRange()
{
  var selRange = document.forms['theForm'].elements['act_range'];
  if (selRange.value == 0)
  {
    alert(all_need_not_search);
    return;
  }
  var selResult = document.getElementById('result');
  if (selResult.value == 0)
  {
    alert(pls_search);
    return;
  }
  var selRange_id = selRange.value;
  var id = selResult.options[selResult.selectedIndex].value;
  var name = selResult.options[selResult.selectedIndex].text;

  // 检查是否已经存在
  var exists = false;
  var eles = document.forms['theForm'].elements;
  for (var i = 0; i < eles.length; i++)
  {
    if (eles[i].type=="checkbox" && eles[i].name.substr(0, 13) == 'act_range_ext')
    {
      if (eles[i].value == id)
      {
        exists = true;
        alert(range_exists);
        break;
      }
    }
  }

  if (!exists)
  {

    $.ajax({
      url: 'favourable.php',
      type: 'get',
      data: {
        'act': 'search_range',
        'act_id': {$favourable.act_id},
        'act_range': selRange_id,
        'act_range_ext': id

      },
      dataType: 'json',
      success: function (result) {
        console.log(result);
        if(result.length > 0){
          alert("此產品已有其他相關優惠");
          return;
        }
        else{
          // 创建checkbox
          var html = '<input name="act_range_ext[]" type="checkbox" value="' + id + '" checked="checked" />' + name + '<br />';
          document.getElementById('range-div').innerHTML += html;
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });  
  }
}

/**
 * 搜索赠品
 */
function searchItem1()
{
  if (document.forms['theForm'].elements['act_type'].value == 1)
  {
    alert(price_need_not_search);
    return;
  }
  var filter = new Object;
  filter.keyword  = document.forms['theForm'].elements['keyword1'].value;
  filter.act_range = 3;
  Ajax.call('favourable.php?is_ajax=1&act=search', filter, searchResponse1, 'GET', 'JSON');
}

function searchResponse1(result)
{
  if (result.error == '1' && result.message != '')
  {
    alert(result.message);
	return;
  }

  var sel = document.forms['theForm'].elements['result1'];

  sel.length = 0;

  /* 创建 options */
  var goods = result.content;
  if (goods)
  {
    for (i = 0; i < goods.length; i++)
    {
      var opt = document.createElement("OPTION");
      opt.value = goods[i].id;
      opt.text  = goods[i].name;
      sel.options.add(opt);
    }
  }

  return;
}

function addGift()
{
  var selType = document.forms['theForm'].elements['act_type'];
  if (selType.value == 1)
  {
    alert(price_need_not_search);
    return;
  }
  var selResult = document.getElementById('result1');
  if (selResult.value == 0)
  {
    alert(pls_search);
    return;
  }
  var id = selResult.options[selResult.selectedIndex].value;
  var name = selResult.options[selResult.selectedIndex].text;

  // 检查是否已经存在
  var exists = false;
  var eles = document.forms['theForm'].elements;
  for (var i = 0; i < eles.length; i++)
  {
    if (eles[i].type=="checkbox" && eles[i].name.substr(0, 7) == 'gift_id')
    {
      if (eles[i].value == id)
      {
        exists = true;
        alert(range_exists);
        break;
      }
    }
  }

  // 创建checkbox
  if (!exists)
  {
    var act_kind = document.getElementById('act_kind').value;
    var table = document.getElementById('gift-table');

    if(act_kind == 1 || act_kind == 3){
      gift_price = 0;
    }
    else{
      gift_price = 1;
    }

    if (table.rows.length == 0)
    {
        var row = table.insertRow(-1);
        var cell = row.insertCell(-1);
        cell.align = 'center';
        cell.innerHTML = '<strong>' + gift + '</strong>';
        var cell = row.insertCell(-1);
        cell.align = 'center';
        cell.innerHTML = '<strong>' + price + '</strong>';
    }
    var row = table.insertRow(-1);
    var cell = row.insertCell(-1);
    cell.innerHTML = '<input name="gift_id[]" type="checkbox" value="' + id + '" checked="checked" />' + name;
    var cell = row.insertCell(-1);
    cell.align = 'right';
    cell.innerHTML = '<input class="form-control gift_price" name="gift_price[]" type="text" value="'+gift_price+'" size="10" style="text-align:right"  onchange="checkGiftPrice(this)"/>' +
                     '<input class="form-control" name="gift_name[]" type="hidden" value="' + name + '" />';
  }
}

function changeType()
{
  var typeId = $("#act_type").val();

  document.getElementById('gift-div').innerHTML = '<table id="gift-table"></table>';
  document.getElementById('result1').length = 0;
  var row1 = document.getElementById('act_kind_list');
  var row2 = document.getElementById('gift_list');
  var row3 = document.getElementById('type_search');
  var row4 = document.getElementById('min_amount_div');
  var row5 = document.getElementById('max_amount_div');

  if (typeId <= 0)
  {
    row1.style.display = '';
    row2.style.display = '';
    row3.style.display = '';

    changeKind();
  }
  else
  {
    row1.style.display = 'none';
    row2.style.display = 'none';
    row3.style.display = 'none';

    row4.style.display = '';
    row5.style.display = '';
  }


}

function changeKind()
{
  var kindId = $("#act_kind").val();

  var row1 = document.getElementById('min_amount_div');
  var row2 = document.getElementById('max_amount_div');
  if (kindId == 3)
  {
    row1.style.display = '';
    row2.style.display = '';
  }
  else
  {
    row1.style.display = 'none';
    row2.style.display = 'none';
  }

  if(kindId == 1 || kindId == 3){
    $(".gift_price").val(0);
  }
  else{
    $(".gift_price").val(1);
  }
}

function searchUser(sel)
{
  var value = sel.value;
  if(value=="goods"){
    $('input[name="goods_user"]').show();
    $('select[name="birthday_month"]').hide();
    $('input[name="rank_user"]').hide();
    $("#search_user_btn").show();
  } else if(value=="birthday") {
    $('input[name="goods_user"]').hide();
    $('select[name="birthday_month"]').show();
    $('input[name="rank_user"]').hide();
    $("#search_user_btn").show();
  } else if(value=="rank") {
    $('input[name="goods_user"]').hide();
    $('select[name="birthday_month"]').hide();
    $('input[name="rank_user"]').show();
    $("#search_user_btn").show();
  } else {
    $('input[name="goods_user"]').hide();
    $('select[name="birthday_month"]').hide();
    $('input[name="rank_user"]').hide();
    $("#search_user_btn").show();
  }
}

function addUser(){
  var sel = $("#user_select").val();
  var value = "";
  var users_list = $('input[name="users_list"]').val();
  if(sel=="goods"){
    value = $('input[name="goods_user"]').val();
  } else if(sel=="birthday") {
    value = $('select[name="birthday_month"]').val();
  } else if(sel=="rank") {
    value = $('input[name="rank_user"]').val();
  }

  if(value.length > 0){
    $.ajax({
      url: 'favourable.php',
      type: 'get',
      data: {
        'act': 'search_user',
        'type': sel,
        'value': value,
        'users_list': users_list

      },
      dataType: 'json',
      success: function (result) {
        $('input[name="users_list"]').val(result);
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });
  }
}

function checkGiftPrice(giftPrice){

  var price = giftPrice.value;
  var act_kind = document.getElementById('act_kind').value;

  if(!$.isNumeric(price)){
    alert('贈品（特惠品）價格必須為數字');
  }
  if(act_kind == 1 || act_kind == 3){
    if(price != 0){
      alert('當優惠方式為贈品或滿額送時，贈品（特惠品）價格必須0');
      giftPrice.value = 0;
    }
  }
  else{
    if(price <= 0){
      alert('當優惠方式為換購時，贈品（特惠品）價格必須大於0');
      giftPrice.value = 1;
    }
  }
}

//-->
</script>
{/literal}
{include file="pagefooter.htm"}
