<!-- $Id: file_priv.html 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="validator.js"}
<!-- start shipping area list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

<table class="table table-striped table-bordered bulk_action" id='list-table'>
  <tr>
    <th>{$lang.item}</th>
    <th>{$lang.read}</th>
    <th>{$lang.write}</th>
    <th>{$lang.modify}</th>
  </tr>
  {foreach from=$list item=item key=key}
  <tr>
    <td width="250px">{$item.item}</td>
    <td>{if $item.r > 0}<img src="images/yes.gif" width="14" height="14" alt="YES" />{else}<img src="images/no.gif" width="14" height="14" alt="NO" />{if $item.err_msg.w}&nbsp;<a href="javascript:showNotice('r_{$key}');" title="{$lang.detail}">[{$lang.detail}]</a><br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="r_{$key}">{foreach from=$item.err_msg.r item=msg}{$msg}{$lang.unread}<br />{/foreach}</span>{/if}{/if}</td>
    <td>{if $item.w > 0}<img src="images/yes.gif" width="14" height="14" alt="YES" />{else}<img src="images/no.gif" width="14" height="14" alt="NO" />{if $item.err_msg.w}&nbsp;<a href="javascript:showNotice('w_{$key}');" title="{$lang.detail}">[{$lang.detail}]</a><br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="w_{$key}">{foreach from=$item.err_msg.w item=msg}{$msg}{$lang.unwrite}<br />{/foreach}</span>{/if}{/if}</td>
    <td>{if $item.m > 0}<img src="images/yes.gif" width="14" height="14" alt="YES" />{else}<img src="images/no.gif" width="14" height="14" alt="NO" />{if $item.err_msg.m}&nbsp;<a href="javascript:showNotice('m_{$key}');" title="{$lang.detail}">[{$lang.detail}]</a><br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="m_{$key}">{foreach from=$item.err_msg.m item=msg}{$msg}{$lang.unmodify}<br />{/foreach}</span>{/if}{/if}</td>
  </tr>
  {/foreach}
  {if $tpl_msg}
  <tr>
    <td colspan="4"><img src="images/no.gif" width="14" height="14" alt="NO" /><span style="color:red">{$tpl_msg}</span>{$lang.unrename}</td>
  </tr>
  {/if}
</table>

</div>

{literal}
<script language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}

{include file="pagefooter.htm"}
