<!-- $Id: article_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,validator.js"}

<!-- {if $step eq 1} -->
  <div class="infobox"><br/>
    <h4 class="marginbot normal">
       {$lang.filecheck_tips_step1}
    </h4><br/>
    <p class="margintop">
        <input type="submit" onclick="location.href='filecheck.php?step=2'" value="{$lang.filecheck_start}" name="submit" class="btn"/>
    </p>
  </div>
<!--{/if}-->

<!-- {if $step eq 2} -->
  <div class="infobox"><br/>
    <h4 class="infotitle1">
      {$lang.filecheck_verifying}
    </h4>
    <p class="margintop">
       <img src="./images/ajax_loader.gif" class="marginbot" />
    </p>
    <a class="lightlink" href="filecheck.php?step=3">{$lang.jump_info}</a>
    <script type="text/JavaScript">setTimeout("window.location.replace('filecheck.php?step=3');", 2000);</script>
  </div>
<!--{/if}-->

<!-- {if $step eq 3} -->
  <div class=" x_panel">
  <div style="padding:10px;font-weight:bold">{$lang.tips}</div>
    <ul id="tipslis">
      {$lang.filecheck_tips}
      </ul>
  </div>

  <div class=" x_panel">
  <table class="tb tb2" >
      <tr><th colspan="15">{$lang.filecheck_completed}</th></tr>
      <tr><td colspan="4">
        <div class="lightfont filenum left">
          <!-- {foreach from=$result key=files item=nums} -->
           {$files} ：{$nums}&nbsp;&nbsp;&nbsp;
          <!-- {/foreach} -->
        </div>
      </td></tr>

  <!-- {if $dirlog } -->
    <tr><th>{$lang.filename}</th><th>{$lang.filesize}</th><th>{$lang.filemtime}</th><th>{$lang.filecheck_status}</th></tr>
    <!-- {foreach from=$dirlog key=dir item=status} -->
        <tr><td colspan="4">
            <div class="left">
              <a class="ofolder" onclick="display('{$status.marker}',this)" href="#dir">{$dir}/</a>
            </div>
            <!-- {foreach from=$status key=type item=nums} -->
                <!-- {if $type eq 'modify'} -->
                    <div class="lightfont filenum left">{$lang.filecheck_modify}: {$nums}   </div>
                <!--{/if}-->
                <!-- {if $type eq 'del'} -->
                    <div class="lightfont filenum left">{$lang.filecheck_delete}: {$nums}   </div>
                <!--{/if}-->
                <!-- {if $type eq 'add'} -->
                    <div class="lightfont filenum left">{$lang.filecheck_unknown}: {$nums}   </div>
                <!--{/if}-->
            <!-- {/foreach} -->
        </td></tr>
        <tbody id="{$status.marker}">
           <!-- {foreach from=$filelist key=dirs item=files} -->
              <!-- {if $dirs == $dir}-->
                 <!-- {foreach from=$files item=file} -->
                    <tr><td>   <em class="bold files">{$file.file}</em></td><td>{$file.size}</td><td>{$file.filemtime}</td><td>{$file.status}</td></tr>
                 <!-- {/foreach} -->
              <!--{/if}-->
          <!-- {/foreach} -->
        </tbody>
    <!-- {/foreach} -->
  <!--{/if}-->

  </table>
  </div>
<!--{/if}-->

<script language="JavaScript">
{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
function display(id,cls)
{
  var dir = document.getElementById(id);
  dir.style.display = (dir.style.display == 'none') ? '' : 'none';
  cls.className = (cls.className == 'ofolder') ? 'cfolder' : 'ofolder';
}
</script>
{include file="pagefooter.htm"}