{include file="pageheader.htm"}
<form action="flashdeal.php" method="post" name="form" class="tab-content form-horizontal form-label-left">
<div class=" x_panel">
  {if $act neq 'add'}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">編號</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <label class="control-label">{$flashdeal.flashdeal_id}</label>
    </div>
  </div>
  {/if}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">產品</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <div class="form-inline">
        <div class="input-group no-margin">
          <input class="form-control" id="goods_search_txt" type="text" placeholder="輸入產品名稱或貨號" size="32" />
          <div class="input-group-btn">
            <input id="goods_search_btn" type="button" value=" 搜尋 " class="btn btn-success" />
          </div>
        </div>
        <select class="form-control" id="goods_search_select"></select>
        <input type="hidden" name="goods_id" value="">
      </div>
      <span id="selected_goods">
        {if $act eq 'add'}
        <span class="glyphicon glyphicon-remove red"> 未選擇產品</span>
        {else}
        <span class="glyphicon glyphicon-ok green"> <a href="/goods.php?id={$flashdeal.goods_id}">{$flashdeal.goods_name|escape}</a></span>
        {/if}
      </span>
      {else}
      <label class="control-label"><a href="/goods.php?id={$flashdeal.goods_id}">{$flashdeal.goods_name|escape}</a></label>
      {/if}
    </div>
  </div>
  {if $act eq 'info'}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">市場價錢</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <label class="control-label">{$flashdeal.market_price_formatted}</label>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">本店售價</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <label class="control-label">{$flashdeal.shop_price_formatted}</label>
    </div>
  </div>
  {/if}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">閃購特價</label>
    <div class="col-md-3 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <input required class="form-control" name="deal_price" type="text" value="{$flashdeal.deal_price|default:0.00}" size="40" />
      {else}
      <label class="control-label">{$flashdeal.deal_price_formatted}</label>
      {/if}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">閃購數量</label>
    <div class="col-md-3 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <input class="form-control" name="deal_quantity" type="number" value="{$flashdeal.deal_quantity|default:0}" size="40" />
      {else}
      <label class="control-label">{$flashdeal.deal_quantity}</label>
      {/if}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">閃購日期</label>
    <div class="col-md-3 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <div class="controls">
        <div class="input-prepend input-group">
          <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar-alt"></i></span>
          <input class="form-control" data-type="datetime" name="deal_date" type="text" id="deal_date" size="22" value='{$flashdeal.deal_date_formatted}'/>
        </div>
      </div>
      {else}
      <label class="control-label">{$flashdeal.deal_date_formatted}</label>
      {/if}
    </div>
  </div>
  <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.sort_order}</label>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <input class="form-control" type="number" name='sort_order' {if $flashdeal.sort_order}value='{$flashdeal.sort_order}'{else} value="50"{/if} size="15" />
        </div>
      </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">開售前顯示資料</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
        <input name="detail_visible" type="hidden" value="0">
        <div class="checkbox">
          <label>
            <input name="detail_visible" class="flat" type="checkbox" value="1"{if $flashdeal.detail_visible} checked="checked"{/if} />
          </label>
        </div>
      {else}
        <label class="control-label"><span class="glyphicon {if $flashdeal.detail_visible}glyphicon-ok green{else}glyphicon-remove red{/if}"></span></label>
      {/if}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">信用卡/PAYPAL限定</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
        <input name="is_online_pay" type="hidden" value="0">
        <div class="checkbox">
          <label>
            <input name="is_online_pay" class="flat" type="checkbox" value="1"{if $flashdeal.is_online_pay} checked="checked"{/if} />
          </label>
        </div>
      {else}
        <label class="control-label"><span class="glyphicon {if $flashdeal.is_online_pay}glyphicon-ok green{else}glyphicon-remove red{/if}"></span></label>
      {/if}
    </div>
  </div>
  {if $act eq 'add' or $act eq 'edit'}
  <div class="form-group">
    <div class="ln_solid"></div>
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <input type="hidden"  name="flashdeal_id" value="{$flashdeal.flashdeal_id}" />
      <input type="hidden"  name="act" value="{if $act eq 'add'}insert{else}update{/if}" />
      <input type="submit" class="btn btn-primary" name="Submit" value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset" value="{$lang.button_reset}" />
    </div>
  </div>
  {/if}
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}

$(function () {

  $('#goods_search_btn').click(function () {
    var $txt = $('#goods_search_txt');
    var $sel = $('#goods_search_select');

    if (!$txt.val())
    {
      alert('請輸入產品名稱或貨號以進行搜尋');
      return;
    }

    $sel.empty();
    $sel.prop('disabled', true);
    $sel.append('<option value="">搜尋中...</option>');

    $.ajax({
      url: 'goods.php',
      type: 'get',
      data: {
        'act': 'get_goods_list',
        'JSON': JSON.stringify({
          'keyword': $txt.val()
        })
      },
      dataType: 'json',
      success: function (result) {
        var goods_list = result.content;
        $sel.empty();
        $sel.prop('disabled', false);
        $sel.append('<option value="">請選擇產品</option>');
        $.each(goods_list, function (i, goods) {
          $opt = $('<option>');
          $opt.text(goods.text + ' [$' + goods.data + ']');
          $opt.val(goods.value);
          $opt.data('name', goods.text);
          $sel.append($opt);
        });
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });
  });

  $('#goods_search_txt').keypress(function (event){
    if (event.which == 13)
    {
      $('#goods_search_btn').trigger('click');
      //Prevent the form from submitting
      event.preventDefault();
    }
  });

  $('#goods_search_select').change(function (event){
    var $sel = $(this);
    if ($sel.val())
    {
      $('input[name="goods_id"]').val($sel.val());
      $('#selected_goods span').attr('class', 'glyphicon glyphicon-ok green');
      var $a = $('<a>')
      $a.attr('target', '_blank');
      $a.attr('href', '/goods.php?id=' + $sel.val());
      $a.text($sel.find('option:selected').data('name'));
      $('#selected_goods span').empty().append($a);
    }
  });

});

{/literal}
//-->
</script>
{include file="pagefooter.htm"}