{include file="pageheader.htm"}

<!--
<link href="styles/ERP.css" rel="stylesheet" type="text/css" />
-->
<style>
.pointer {
	cursor: pointer;
}

.txt-red {
	color: red;
}

.txt-green {
	color: green;
}

.shadow-red {
	-webkit-box-shadow: 0 0 2px 1px red;
	-moz-box-shadow: 0 0 2px 1px red;
	box-shadow: 0 0 2px 1px red;
}

table#goods_result thead tr th, table#added_result thead tr th {
	text-align: center;
	font-size: 15px;
}

table#goods_result tbody tr td, table#added_result tbody tr td {
	vertical-align: middle;
	text-align: center;
}

table#goods_result tbody tr td img.thumb, table#added_result tbody tr td img.thumb {
	width: 50px;
}

table#goods_result tbody tr td.col-add-item span.add-item, table#added_result tbody tr td.col-del-item span.del-item {
	padding: 14px;
}

table#goods_result tbody tr td.col-add-item span.add-item {
	color: #4caf50;
}

table#added_result tbody tr td.col-del-item span.del-item {
	color: red;
}

table#added_result tbody tr td.item-id  {
	//display: none;
}

 /* Customize the label (the container) */
.container-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin: 2px 4px 2px 0;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-checkbox.goods-row {
  margin: 0;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container-checkbox.goods-row input {
  position: relative;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #c2c2c2;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.item-deal-price input[type='number'], .item-deal-quantity input[type='number'], .item-sort-order input[type='number']{
	text-align: right;
	font-size: 16px;
	width: 85px;
}

.mass-good select, .mass-good .input-group {
	width: auto !important;
	display: inline-block;
	vertical-align: middle;
}

.mass-good input {
	width: 90px !important;
}

.mass-good .input-group, .div-insert-one .input-group {
	margin-bottom: 0px;
}

.mass-good .input-group .input-group-btn {
	display: inline-block;
}

.div-insert-one select, .div-insert-one .input-group {
	width: auto !important;
	vertical-align: middle;
}

.div-insert-one #search_goods {
	width: 210px;
}

.div-insert-one #mass_good_no {
	
}

.div-insert-one #count_goods {
	color: red;
}

.div-insert-mass-cat select, .div-insert-mass-cat button {
	vertical-align: middle;
}

.div-insert-mass-cat button {
	margin: 0;
}

th.active-order {
	font-weight: bold;
	text-decoration: underline;
}

</style>

<div class=" x_panel">
	<div id="inner_container">
		<form class="form-horizontal" action="flashdeal_event.php" name="edit_event" method="post">
			<div class="form-group">
				<div class="col-xs-0 col-sm-0 col-md-0 col-lg-1"></div>
				<div id="extrainfo-table" class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
					<div class="form-group">
						<label class="control-label col-sm-2" for="name">閃購活動名稱：</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name" placeholder="輸入閃購活動名稱" name="name" value="{$event.name}">
						</div>
					</div>
					{if $advanced_admin}
					<div class="form-group">
						<label class="control-label col-sm-2" for="status">活動開關：</label>
						<div class="col-sm-10">
							<select class="form-control" id="status" name="status">
								<option value='1' class='txt-green'{if $event.status eq '1'} selected="selected"{/if}>正常運作</option>
								<option value='0' class='txt-red'{if $event.status eq '0'} selected="selected"{/if}>停止</option>
							</select>
						</div>
					</div>
					{/if}
					<div class="form-group">
						<label class="control-label col-sm-2" for="start_date">開始時間：</label>
						<div class="col-sm-10">
							<div class="controls">
								<div class="input-prepend input-group">
									<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar-alt"></i></span>
									<input class="form-control" data-type="datetime" name="start_date" type="text" id="start_date" size="22" value='{$event.start_date}'/>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="end_date">結束時間：</label>
						<div class="col-sm-10">
							<div class="controls">
								<div class="input-prepend input-group">
									<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar-alt"></i></span>
									<input class="form-control" data-type="datetime" name="end_date" type="text" id="end_date" size="22" value='{$event.end_date}' readonly/>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">目標會員計劃：</label>
						<div class="col-sm-10" style="padding-top: 5px;">
							{if !empty($user_rank_list)}
							{foreach from=$user_rank_list item=user_rank}
							<label class="container-checkbox">{$user_rank.rank_name}
								<input type="checkbox" name="user_rank[]" id="user_rank_{$user_rank.rank_id}" value="{$user_rank.rank_id}"{if in_array($user_rank.rank_id, $event.user_rank)} checked{/if}>
								<span class="checkmark"></span>
							</label>
							{/foreach}
							{else}
							<div style='margin-top: 3px;'>未找到任何會員計劃</div>
							{/if}
						</div>
					</div>
					<!--
					<div class="form-group">
						<label class="control-label col-sm-2" for="detail_visible">開售前顯示商品資料：</label>
						<div class="col-sm-10">
							<select class="form-control" id="detail_visible" name="detail_visible">
								<option value='1'{if $event.detail_visible eq '1'} selected="selected"{/if}>{$lang.yes}</option>
								<option value='0'{if $event.detail_visible eq '0'} selected="selected"{/if} >{$lang.no}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="is_online_pay">信用卡/PAYPAL限定：</label>
						<div class="col-sm-10">
							<select class="form-control" id="is_online_pay" name="is_online_pay">
								<option value='1'{if $event.is_online_pay eq '1'} selected="selected"{/if}>{$lang.yes}</option>
								<option value='0'{if $event.is_online_pay eq '0'} selected="selected"{/if}>{$lang.no}</option>
							</select>
						</div>
					</div>
					-->
					<div class="form-group">
						<label class="control-label col-sm-2" for="supplier">按庫存批量加入商品：</label>
						<div class="col-sm-10 mass-good">
							<select class="form-control" id="mass_supplier" name="mass_supplier" style="width: auto;">
								<!--
								<option value='-1'>-- 所有供應商 --</option>
								-->
								{if !empty($suppliers)}
								{foreach from=$suppliers item=supplier}
								<option value='{$supplier.supplier_id}'>{$supplier.name}</option>
								{/foreach}
								{else}
								<option value='-1'>-- 未能取得任何供應商 --</option>
								{/if}
							</select>
							產品庫存量頭
							<div class="input-group">
								<input class="form-control" style="width: auto;" type='number' id='mass_good_no' min='1' max='200' value='1'>
								<div class="input-group-btn">
								  	<button id="btn_mass_add" class="btn btn-primary" type="button">
										<i class="glyphicon glyphicon-plus"></i>
								  	</button>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">加入種類中所有商品：</label>
						<div class="col-sm-10 form-inline div-insert-mass-cat">
							<select name="mass_cat" id="mass_cat" class="form-control">
								<option value="-1">-- 請選擇分類 --</option>
							</select>
							<select name="mass_brand" id="mass_brand" class="form-control">
								<option value="-1">-- 請選擇品牌 --</option>
							</select>
							<button id="btn_mass_cat_add" class="btn btn-primary" type="button">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">逐款加入商品：</label>
						<div class="col-sm-10 form-inline div-insert-one">
							<select name="cat" id="cat" class="form-control">
								<option value="-1">-- 所有分類 --</option>
								{$cats}
							</select>
							<select name="brand" id="brand" class="form-control">
								<option value="-1">-- 所有品牌 --</option>
								{html_options options=$brands}
							</select>
							<div class="input-group">
								<input class="form-control" id="search_goods" placeholder="輸入關鍵字 (條碼/編號/名稱)" type="text">
								<div class="input-group-btn">
									<button id="search_submit" class="btn btn-primary" type="button" title="搜尋">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</div>
							</div>
							<div class="input-group" style="display: block;">
								<select name="single_good" id="single_good" class="form-control">
									<option value="-1">-- 請選擇商品 --</option>
								</select>
								<div class="input-group-btn">
								  	<button id="btn_single_add" class="btn btn-primary" type="button">
										<i class="glyphicon glyphicon-plus"></i>
								  	</button>
								</div>
							</div>
							<div id="count_goods"></div>
						</div>
					</div>
					<div id="mass_setting" class="form-group" style="display: none;">
						<label class="control-label col-sm-2">批量設定：</label>
						<div id='mass_btn_group' class=" col-sm-10">
							<button type="button" id='mass_percent' class="fa fa-tags btn btn-primary btn-sm">折扣</button>
							<button type="button" id='mass_deduct' class="fa fa-tags btn btn-primary btn-sm">減價</button>
							<button type="button" id='mass_cost_markup' class="fa fa-tags btn btn-primary btn-sm">按成本價加百分比</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12" style="font-weight: bold; text-align: center; font-size: 16px;">
							已選商品 (<span id="live_count">0</span>)
						</div>
					</div>
				</div>
				<div class="col-xs-0 col-sm-0 col-md-0 col-lg-2"></div>
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<span style="color: red;">*修改產品設定後，請緊記按 "提交" 儲存。 **儲存產品變更前，請勿將產品清單重新排序。</span>
					<div class="well well-sm" style="max-height: 900px; overflow-y: scroll;">
						<table class="table table-striped table-responsive" id="added_result">
							<thead>
								<tr>
									<th style='width: 60px;'>
										<label class="container-checkbox goods-row">
											<input type="checkbox" id="check_all" value="all">
											<span class="checkmark" style="top: -15px;"></span>
										</label>
									</th>
									<th class="active-order">名稱</th>
									<th>庫存</th>
									<th>平均成本</th>
									<th{if $list_order eq 'shop_price'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=edit&id={$event_id}&order=shop_price&sort={if $list_order eq 'shop_price'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">價格{if $list_order eq 'shop_price'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
									</th>
									<th{if $list_order eq 'deal_price'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=edit&id={$event_id}&order=deal_price&sort={if $list_order eq 'deal_price'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">閃購價{if $list_order eq 'deal_price'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
									</th>
									<th{if $list_order eq 'deal_quantity'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=edit&id={$event_id}&order=deal_quantity&sort={if $list_order eq 'deal_quantity'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">閃購數量{if $list_order eq 'deal_quantity'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
									</th>
									{if $form_action eq update}
									<th{if $list_order eq 'no_good_sellable'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=edit&id={$event_id}&order=no_good_sellable&sort={if $list_order eq 'no_good_sellable'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">剩餘數量{if $list_order eq 'no_good_sellable'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
									</th>
									<th{if $list_order eq 'no_good_sold'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=edit&id={$event_id}&order=no_good_sold&sort={if $list_order eq 'no_good_sold'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">售出數量{if $list_order eq 'no_good_sold'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
									</th>
									{/if}
									<th{if $list_order eq 'sort_order'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=edit&id={$event_id}&order=sort_order&sort={if $list_order eq 'sort_order'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">排序{if $list_order eq 'sort_order'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
									</th>
									{if $form_action eq update}
									<th{if $list_order eq 'notify_count'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=edit&id={$event_id}&order=notify_count&sort={if $list_order eq 'notify_count'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">通知人數{if $list_order eq 'notify_count'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
									</th>
									{/if}
									<th style="font-size: 13px;">開售前顯示<br>商品資料</th>
									<th style="font-size: 13px;">信用卡/<br>PAYPAL限定</th>
									<th style="font-size: 13px;">PayMe限定</th>
									<th style="font-size: 13px;">支付寶限定</th>
									<!--
									<th style="font-size: 13px;">PayMe/<br>Alipay限定</th>
									-->
									<th>刪除</th>
								</tr>
							</thead>
							<tbody>
								{if $count_goods == 0}
								<tr>
									<td colspan="16" style="text-align: center; font-weight: bold;">請選擇商品。</td>
								</tr>
								{else}
								{foreach from=$event_goods item=good}
								<tr data-item-id='{$good.goods_id}'>
									<td class='item-id'>
										<label class="container-checkbox goods-row">
											<input type="checkbox" class="check-items" id="check_{$good.goods_id}" value="{$good.goods_id}">
											<span class="checkmark"></span>
										</label>
										<input type='hidden' name='item-id[]' value='{$good.goods_id}'>
										<input type='hidden' name='item-fd-id[]' value='{$good.flashdeal_id}'>
									</td>
									<td class='item-name'><a href="goods.php?act=edit&id={$good.goods_id}" target="_blank">{$good.goods_name}</a></td>
									<td class='item-stock{if $good.stock <= 0} txt-red{/if}'>{$good.stock}</td>
									<td>{$good.cost}</td>
									<td class='item-price'>{$good.shop_price}</td>
									<td class='item-deal-price'>
										<input type='number' id='cost_{$good.goods_id}' class='item-cost' style='display: none;' value='{$good.cost}' disabled>
										<input type='number' id='deal_price_{$good.goods_id}' class='deal-price {if $good.deal_price >= $good.shop_price}shadow-red{/if}' name='deal-price[]' min='1' max='999999' value='{$good.deal_price}'">
									</td>
									<td class='item-deal-quantity'>
										<input type='number' class='deal-quantity' name='deal-quantity[]' min='1' max='9999' value='{$good.deal_quantity}'>
									</td>
									{if $form_action eq update}
									<td class='item-deal-quantity-sellable bold'>
										{$good.no_good_sellable}
									</td>
									<td class='item-deal-quantity-sold bold'>
										{$good.no_good_sold}
									</td>
									{/if}
									<td class='item-sort-order'>
										<input type='number' class='sort-order' name='sort-order[]' min='0' max='100' value='{$good.sort_order}'>
									</td>
									{if $form_action eq update}
									<td class='item-notify-count'>
										{$good.notify_count}
									</td>
									{/if}
									<td class='item-visible'>
										<select class="form-control good-visible" name="good-visible[]">
											<option value='1'{if $good.detail_visible eq '1'} selected="selected"{/if}>{$lang.yes}</option>
											<option value='0'{if $good.detail_visible eq '0'} selected="selected"{/if} >{$lang.no}</option>
										</select>
									</td>
									<td class='item-online-pay'>
										<select class="form-control good-online-pay" name="good-online-pay[]">
											<option value='1'{if $good.is_online_pay eq '1'} selected="selected"{/if}>{$lang.yes}</option>
											<option value='0'{if $good.is_online_pay eq '0'} selected="selected"{/if} >{$lang.no}</option>
										</select>
									</td>
									<td class='item-payme'>
										<select class="form-control good-payme" name="good-payme[]">
											<option value='1'{if $good.payme_only eq '1'} selected="selected"{/if}>{$lang.yes}</option>
											<option value='0'{if $good.payme_only eq '0'} selected="selected"{/if} >{$lang.no}</option>
										</select>
									</td>
									<td class='item-alipay'>
										<select class="form-control good-alipay" name="good-alipay[]">
											<option value='1'{if $good.alipay_only eq '1'} selected="selected"{/if}>{$lang.yes}</option>
											<option value='0'{if $good.alipay_only eq '0'} selected="selected"{/if} >{$lang.no}</option>
										</select>
									</td>
									<!--
									<td class='item-mobile-pay'>
										<select class="form-control good-mobile-pay" name="good-mobile-pay[]">
											<option value='1'{if $good.is_mobile_pay eq '1'} selected="selected"{/if}>{$lang.yes}</option>
											<option value='0'{if $good.is_mobile_pay eq '0'} selected="selected"{/if} >{$lang.no}</option>
										</select>
									</td>
									-->
									<td class='col-del-item'><span class='del-item glyphicon glyphicon-remove pointer'></span></td>
								</tr>
								{/foreach}
								{/if}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-0 col-sm-0 col-md-0 col-lg-1"></div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
					<div style="margin: auto; display: table;">
						<input class="btn btn-success btn-md" type="button" id="confirm" value="提交">		
						<a class="btn btn-danger" href="flashdeal_event.php?act=list">取消</a>	
					</div>
				</div>
				<div class="col-xs-0 col-sm-0 col-md-0 col-lg-2"></div>
			</div>
			<input id="event_id" name="event_id" type="hidden" value="{$event_id}">
			<input type="hidden" name="act" value="{$form_action}">
		</form>
	</div>
</div>

{literal}
<script language="JavaScript">
	var added_item = [];

	{if $count_goods > 0}
	$('input[name="item-id[]"]').each(function(index) {
		added_item.push($(this).val());
		$('#live_count').html(added_item.length);
	});
	deleteItem();
	checkItems();
	priceQuantityCheck();
	{/if}

	$('#btn_mass_add').click(function(e){
		e.preventDefault();
		var supplier_id = $(this).closest('.input-group').siblings('select#mass_supplier').val();
		var mass_no = $(this).parent().siblings('input#mass_good_no').val();
		if (mass_no > 0){

		} else {
			alert('請重新選擇數量');
			return false;
		}
		$.ajax({
        url: 'flashdeal_event.php',
        type: 'POST',
        dataType: 'JSON',
        data:{
            act: 'ajax_get_top_stock',
            supplier_id: supplier_id,
			no: mass_no,
			exclude: added_item
        },
        success: function(res){
			if (res.error != 0 || res.content == 'false'){
				alert("未找到商品");
				return false;
			} else {
				if(!$.isArray(res.content)) {
					alert("未找到商品");
					return false;
				}
				addItem(res.content);
			}
        },
        complete:function(XMLHttpRequest,textStatus){
            if(textStatus=='timeout'){
                alert("伺服器未有回應，請再嘗試");
    　　　　}
        },
        error:function(){
            alert("請重新選擇供應商");
        }
    	});
	});

	function addItem(arr_item){
		var print_result = "";
		var out_of_stock = new Array();
		var existed = new Array();
		var no_items_before = added_item.length;
		$.each(arr_item, function(k, v) {
			if ($.inArray(v.goods_id, added_item) >= 0){
				existed.push(v.goods_name);
			} else {
				//if (v.stock > 0){
					print_result += "<tr data-item-id='" + v.goods_id + "'>" + 
									"<td class='item-id'>" + 
									"<label class='container-checkbox goods-row'>" +
										"<input type='checkbox' class='check-items' id='check_" + v.goods_id + "' value='" + v.goods_id + "'>" +
										"<span class='checkmark'></span>" +
									"</label>" +
									"<input type='hidden' name='item-id[]' value='" + v.goods_id + "'>" + 
									"<input type='hidden' name='item-fd-id[]' value='-1'>" +
									"</td>" + 
									"<td class='item-name'><a href='goods.php?act=edit&id=" + v.goods_id + "' target='_blank'>" + v.goods_name + "</a></td>" + 
									"<td class='item-stock" + ((v.stock <= 0)?" txt-red":"") + "'>" + v.stock + "</td>" + 
									"<td>" + (v.cost == '-' ? v.cost : Math.round(v.cost*100)/100)  + "</td>" + 
									"<td class='item-price'>" + Math.round(v.shop_price*100)/100 + "</td>" + 
									"<td class='item-deal-price'>" +
										"<input type='number' id='cost_" + v.goods_id + "' class='item-cost' style='display: none;' value='" + v.cost + "' disabled>" +
										"<input type='number' id='deal_price_" + v.goods_id + "' class='deal-price' name='deal-price[]' min='1' max='999999' value='" + Math.round(v.shop_price*100)/100 + "'>" +
									"</td>" + 
									"<td class='item-deal-quantity'><input type='number' class='deal-quantity' name='deal-quantity[]' min='1' max='9999' value='1'></td>" +
									{if $form_action eq update}
									"<td class='item-deal-quantity-sellable bold'>-</td>" +
									"<td class='item-deal-quantity-sold bold'>-</td>" +
									{/if}
									"<td class='item-sort-order'><input type='number' class='sort-order' name='sort-order[]' min='0' max='100' value='50'></td>" +
									{if $form_action eq update}
									"<td class='item-notify-count'>-</td>" +
									{/if}
									"<td class='item-visible'>" + 
										"<select class='form-control good-visible' name='good-visible[]'>" + 
											"<option value='1'>{$lang.yes}</option>" + 
											"<option value='0'>{$lang.no}</option>" + 
										"</select>" + 
									"</td>" + 
									"<td class='item-online-pay'>" + 
										"<select class='form-control good-online-pay' name='good-online-pay[]'>" + 
											"<option value='1'>{$lang.yes}</option>" + 
											"<option value='0' selected='selected'>{$lang.no}</option>" + 
										"</select>" + 
									"</td>" + 
									"<td class='item-payme-only'>" + 
										"<select class='form-control good-payme' name='good-payme[]'>" + 
											"<option value='1'>{$lang.yes}</option>" + 
											"<option value='0' selected='selected'>{$lang.no}</option>" + 
										"</select>" + 
									"</td>" + 
									"<td class='item-alipay-only'>" + 
										"<select class='form-control good-alipay' name='good-alipay[]'>" + 
											"<option value='1'>{$lang.yes}</option>" + 
											"<option value='0' selected='selected'>{$lang.no}</option>" + 
										"</select>" + 
									"</td>" + 
									/*
									"<td class='item-mobile-pay'>" + 
										"<select class='form-control good-mobile-pay' name='good-mobile-pay[]'>" + 
											"<option value='1'>{$lang.yes}</option>" + 
											"<option value='0' selected='selected'>{$lang.no}</option>" + 
										"</select>" + 
									"</td>" + 
									*/
									"<td class='col-del-item'>" + "<span class='del-item glyphicon glyphicon-remove pointer'></span>" + "</td>" + 
									"</tr>";
					added_item.push(v.goods_id);
					$('#live_count').html(added_item.length);
				//} else {
					//out_of_stock.push(v.goods_name);
				//}
			}
		});
		//if (out_of_stock.length > 0){
		//	str_out_of_stock = out_of_stock.join(" , ");
		//	alert('以下商品庫存不足: ' + str_out_of_stock);
		//}
		if (existed.length > 0){
			str_existed = existed.join(" , ");
			alert('以下商品已存在: ' + str_existed);
		}
		if(no_items_before == 0){
			$("#added_result tbody").html(print_result);
		} else {
			$("#added_result tbody").prepend(print_result);
		}
		deleteItem();
		checkItems();
		priceQuantityCheck();
	}

	$('#btn_single_add').click(function(e){
		e.preventDefault();
		var selected_good = $(this).parent().siblings('select#single_good');
		var selected_good_id = selected_good.val();
			console.log(selected_good_id);
		if (selected_good_id < 0){
			alert('請重新選擇商品');
			return false;
		} else {
			var selected_good_stock = selected_good.find(':selected').attr("data-stock");
			var selected_good_price = selected_good.find(':selected').attr("data-price");
			var selected_good_cost = selected_good.find(':selected').attr("data-cost");
			var selected_good_name = selected_good.find(':selected').attr("data-name");

			//if (selected_good_stock < 1){
			//	alert('庫存不足 - ' + selected_good_name + '(' + selected_good_id + ') 的庫存為' + selected_good_stock);
			//	return false;
			//} else {
				var arr_item = new Array();
				arr_item[0] = [];
				arr_item[0]['goods_id'] = selected_good_id;
				arr_item[0]['goods_name'] = selected_good_name;
				arr_item[0]['stock'] = selected_good_stock;
				arr_item[0]['shop_price'] = selected_good_price;
				arr_item[0]['cost'] = selected_good_cost;

				addItem(arr_item);
			//}

		}
	});

	$('#btn_mass_cat_add').click(function(e){
		e.preventDefault();
		var cat_id = $(this).siblings('select#mass_cat').val();
		var brand_id = $(this).siblings('select#mass_brand').val();
		if (cat_id == -1 && brand_id == -1){
			alert('請選擇 分類 或 品牌');
			return false;
		}
		$.ajax({
		url: 'flashdeal_event.php',
		type: 'POST',
		dataType: 'JSON',
		data:{
			act: 'ajax_get_goods_by_cat',
			cat_id: cat_id,
			brand_id: brand_id,
			search_key: ''
		},
		success: function(res){
			if($.isArray(res.content) && res.content.length > 0) {
				addItem(res.content);
				} else {
					alert('找不到商品');
				}
		}
		});
	});

	$('#search_submit').click(function(e){
		e.preventDefault();

		var cat_id = $(this).closest('.input-group').siblings('select#cat').val();
		var brand_id = $(this).closest('.input-group').siblings('select#brand').val();
		var search_key = $.trim($(this).parent().siblings('input#search_goods').val());
		if (search_key.length > 0){
			
		} else {
			alert('請輸入關鍵字');
			return false;
		}
		$.ajax({
        url: 'flashdeal_event.php',
        type: 'POST',
        dataType: 'JSON',
        data:{
            act: 'ajax_get_goods_by_keyword',
            cat_id: cat_id,
            brand_id: brand_id,
            search_key: search_key
        },
        success: function(res){
				var print_result = "";
				if($.isArray(res.content)) {
					if (res.content.length != 1){
						print_result += "<option value='-1'>-- 請選擇商品 --</option>";
					}
					$.each(res.content, function(k, v) {
						print_result += "<option value='" + v.goods_id + "' data-stock='" + v.stock + "' data-price='" + v.shop_price + "' data-cost='" + v.cost + "' data-name='" + v.goods_name + "'>" + v.goods_id + " - " + v.goods_name + "</option>";
					});
				}
				$("#single_good").html(print_result);
				if (res.content.length == 0){
					$("#count_goods").html("找不到商品");
				} else {
					$("#count_goods").html("找到" + res.content.length + "個商品");
				}
        }
    	});
	});

	function clickItem(){
		$('.add-item').off("click");
		$('.add-item').click(function(e){
			var sel_item = $(this).parent().parent();
			var sel_item_id = sel_item.attr('data-item-id');
			if ($.inArray(sel_item_id, added_item) >= 0){
				alert("商品已存在");
			} else {
				var print_result = "<tr data-item-id='" + sel_item_id + "'>" + 
								"<td class='item-id'><input type='hidden' name='item-id[]' value='" + sel_item_id + "'></td>" + 
								"<td class='item-sn'>" + sel_item.find('.item-sn').html() + "</td>" + 
								"<td class='item-thumb'>" + sel_item.find('.item-thumb').html() + "</td>" + 
								"<td class='item-name'>" + sel_item.find('.item-name').html() + "</td>" + 
								"<td class='item-price'>" + sel_item.find('.item-price').html() + "</td>" + 
								"<td class='item-ag-price'><input type='number' name='item-ag-price[]' min='1' max='999999'></td>" + 
								"<td class='col-del-item'>" + "<span class='del-item glyphicon glyphicon-remove pointer'></span>" + "</td>" + 
								"</tr>";
				sel_item.detach();
				if (added_item.length == 0){
					$("#added_result tbody").html(print_result);
				} else {
					$(print_result).appendTo("#added_result tbody");
				}
				added_item.push(sel_item_id);
				$('#live_count').html(added_item.length);
				console.log(added_item);
				deleteItem();
			}
		})
	}

	function massAdjustPrice(act){
		switch(act) {
			case 'mass_percent':
				var prompt_text = "折扣 - 請輸入折扣(以0-1表示) 例如：輸入0.9 -> 9折 -> , 輸入0.85 -> 85折";
				var input_mass_val = promptBox('mass_price', act, prompt_text);
				break;
			case 'mass_deduct':
				var prompt_text = "減價 - 請輸入減價金額";
				var input_mass_val = promptBox('mass_price', act, prompt_text);
				break;
			case 'mass_cost_markup':
				var prompt_text = "按成本價加百分比 - 請輸入要增加的百分比數字(0-100) 例如：輸入5 -> 成本價X(1.05)";
				var input_mass_val = promptBox('mass_price', act, prompt_text);
				break;
			default:
				return false;
			}
			if (!input_mass_val){
				alert('請輸入正確數字');
			} else {
				scanPrice(act, input_mass_val)
			}
	}

	function scanPrice(act, adj_val){
		$('input.check-items:checked').each(function() {
			var price_field = $(this).closest('td').siblings('td.item-deal-price').find('input.deal-price');
			adj_val = Number(adj_val);
			switch(act) {
				case 'mass_percent':
					var price = parseFloat(price_field.val());
					console.log(price + ' =>');
					var new_price = Math.ceil(price * adj_val);
					break;
				case 'mass_deduct':
					var price = parseFloat(price_field.val());
					console.log(price + ' =>');
					var new_price = Math.ceil(price - adj_val);
					break;
				case 'mass_cost_markup':
					var cost = parseFloat(price_field.siblings('input.item-cost').val());
					console.log(cost + ' =>');
					var new_price = Math.ceil(cost * ((100 + adj_val) / 100));
					break;
				default:
					return false;
				}
			console.log(new_price);
			price_field.val(new_price);
		});
		
	}

	function priceQuantityCheck(){
		$('input.deal-price').off('change');
		//$('input.deal-quantity').off('change');

		$('input.deal-price').change(function() {
			var price = parseFloat($(this).closest('td').siblings('td.item-price').html());
			var fd_price = parseFloat($(this).val());
			console.log(price+" - "+fd_price);
			if (price <= fd_price){
				alert('閃購價多於或等如現價');
				if (!$(this).hasClass('shadow-red')){
					$(this).addClass('shadow-red');
				}
			} else {
				if ($(this).hasClass('shadow-red')){
					$(this).removeClass('shadow-red');
				}
			}
			//$('input.deal-price').off('change');
			//$('.add-item').off("click");
		});

		/*
		$('input.deal-quantity').change(function() {
			var stock = parseFloat($(this).closest('td').siblings('td.item-stock').html());
			var fd_quantity = parseFloat($(this).val());
			console.log(stock+" - "+fd_quantity);
			if (stock < fd_quantity){
				alert('閃購數量多於庫存');
				if (!$(this).hasClass('shadow-red')){
					$(this).addClass('shadow-red');
				}
			} else {
				if ($(this).hasClass('shadow-red')){
					$(this).removeClass('shadow-red');
				}
			}
			//$('input.deal-price').off('change');
			//$('.add-item').off("click");
		});
		*/
	}

	$('input#check_all:checkbox').click(function (e){
		$('input.check-items:checkbox').prop('checked', this.checked);
		countCheckShowMassPriceRow();

	});

	function checkItems(){
		$('input.check-items:checkbox').off("click");
		$('input.check-items:checkbox').click(function (e){
			$('input#check_all:checkbox').prop('checked', false);
			countCheckShowMassPriceRow();
		});
	}

	function promptBox(act, method, text){
		if (!act){
			return false;
		} else if (act == 'mass_price'){
			var default_val = '0';
		}
		var input_val = prompt(text, "0");
		if (act == 'mass_price'){
			if (!isNaN(input_val) && input_val != '' ) {
				return input_val;
			} else {
				return false;
			}
		}
	}

	function deleteItem(){
		$('.del-item').off("click");
		$('.del-item').click(function(e){
			var sel_item = $(this).parent().parent();
			var sel_item_id = sel_item.attr('data-item-id');
			var pos = $.inArray(sel_item_id, added_item)
			if (pos >= 0){
				added_item.splice($.inArray(sel_item_id, added_item), 1);
				sel_item.detach();
			}
			$('#live_count').html(added_item.length);
			console.log(added_item);
		})
	}
	/*
	$('input[type="checkbox"]' ).bind( "change", function(e) {
		$('input[name="' + this.name + '"]').not(this).attr("checked", false);
		var target = $(this).parent().next('input[type=hidden]').val();
		if(this.checked)
		{
			target = 1;
				$('input[name="' + this.name + '"]').not(this).parent().next('input[type=hidden]').val(0);
		}
		else
		{
			target = 0;
		}
		$(this).parent().next('input[type=hidden]').val(target);
	});
	*/

	$('input#start_date').focusout(function() {
		var start_date = $(this).val();
		var arr_start_date = start_date.split(" ");

		if (arr_start_date.length > 1){
			var date = arr_start_date[0];
			var end_date_time = date + " 23:59";
			$('input#end_date').val(end_date_time);
		}
	});

	$('#mass_setting #mass_btn_group button:button').click(function (e){
		var mass_action = $(this).attr('id');
		if (mass_action != ''){
			massAdjustPrice(mass_action);
		} else {
			return false;
		}
	});

	function countCheckShowMassPriceRow(){
			var arr_goods = new Array();
		$('input.check-items:checkbox').each(function () {
			if (this.checked){
				var good_id = ($(this).val());
				if (good_id){
					arr_goods.push(good_id);
				}
			}
		});
		console.log (arr_goods);
		if (arr_goods.length > 1){
			$('#mass_setting').show();
		} else {
			$('#mass_setting').hide();
		}
	}
	
	$('#confirm').click(function (e){
		e.preventDefault();
//		var delivery_style = $("#delivery_style").attr('value');
//
//		if (delivery_style == '')
//		{
//			alert('{$lang.erp_delivery_style_required}');
//			return false;
//		}
		if ($.trim($('#name').val()) == ""){
			alert('請輸入閃購活動名稱');
			return false;
		}

		var user_rank_checked = false;
		$("input[name='user_rank[]']:checked").each(function(){
			user_rank_checked = true;
		});
		if (!user_rank_checked){
			alert('請至少選擇一項會員計劃');
			return false;
		}
		var start_date = new Date($('#start_date').val());
		var end_date = new Date($('#end_date').val());

		if (start_date.getTime() > end_date.getTime() || start_date.getTime() === end_date.getTime()){
			alert('活動開始時間必須早於結束時間');
			return false;
		}

		document.forms['edit_event'].submit();
	});

	/**
	 * 新增一个自訂欄位
	 */
	function addExtraInfo(e)
	{
		if ($('input[name="sa_rate[]"]').length <= 4){
			var new_rate_row = "<div class='form-inline'>" + 
								"<div class='form-group'>" + 
								"<input type='number' class='form-control' name='sa_rate[]' value='' min='0' max='100' step='0.1' maxlength='3'>% " + 
								"<input name='rate_id[]' value='' type='hidden'>" + 
								"<label class='checkbox-inline'><input type='checkbox' name='check' value='1'>預設</label> " + 
								"<input type='hidden' name='is_default[]' value='0'>" + 
								"<select class='form-control' id='rate_active' name='rate_active[]'>" +
								"<option value='0'>無效</option>" +
								"<option value='1'>生效</option>" +
								"</select>" +
								"</div></div>";

			$("#group_rate").append(new_rate_row);
		}


		$('input[type="checkbox"]' ).bind( "change", function(e) {
			$('input[name="' + this.name + '"]').not(this).attr("checked", false);
			var target = $(this).parent().find('input[type=hidden]').val();
			if(this.checked)
			{
					target = 1;
					$('input[name="' + this.name + '"]').not(this).parent().find('input[type=hidden]').val(0);
			}
			else
			{
					target = 0;
			}
			$(this).parent().find('input[type=hidden]').val(target);
		});
	}
	/**
	* 删除自訂欄位
	*/
	function removeExtraInfo(obj)
	{

		var row = rowindex(obj.parentNode.parentNode);
		var tbl = document.getElementById('extrainfo-table');
		tbl.deleteRow(row);
	}

	var cat_list1 = [];
	var cat_list2 = [];

	cat_list1.push({
		id: -1,
		text: "-- 請選擇分類 --",
		html: "<span>-- 請選擇分類 --</span>",

	});

	cat_list2.push({
		id: -1,
		text: "-- 所有分類 --",
		html: "<span>-- 所有分類 --</span>",

	});

	{foreach from=$cats item=cat}        
		cat_list1.push({
		  id: {$cat.cat_id},
		  text: "{$cat.cat_name}",
		  html: "<span>{$cat.cat_name_by_level}</span>",
	
		  });
		  
		cat_list2.push({
		  id: {$cat.cat_id},
		  text: "{$cat.cat_name}",
		  html: "<span>{$cat.cat_name_by_level}</span>",
	
	  	});
	{/foreach}

	$("#mass_cat").select2({
		width: 'resolve',
		matcher: modelMatcher,
		allowClear: false,
		data: cat_list1,
		escapeMarkup: function(markup) {
			return markup;
		},
		templateResult: function(data) {
			return data.html;
		},
	});

	$("#cat").select2({
		width: 'resolve',
		matcher: modelMatcher,
		allowClear: false,
		data: cat_list1,
		escapeMarkup: function(markup) {
			return markup;
		},
		templateResult: function(data) {
			return data.html;
		},
	});

	var brand_list1 = [];
	var brand_list2 = [];

	brand_list1.push({
		id: -1,
		text: "-- 請選擇品牌 --",
		html: "<span>-- 請選擇品牌 --</span>",

	});

	brand_list2.push({
		id: -1,
		text: "-- 所有品牌 --",
		html: "<span>-- 所有品牌 --</span>",

	});

	{foreach from=$brands key=brand_id item=brand_name}        
		brand_list1.push({
		  id: {$brand_id},
		  text: "{$brand_name}",
		  html: "<span>{$brand_name}</span>",
		});
		  
		brand_list2.push({
		  id: {$brand_id},
		  text: "{$brand_name}",
		  html: "<span>{$brand_name}</span>",
	  	});
	{/foreach}

	$("#mass_brand").select2({
		width: 'resolve',
		matcher: modelMatcher,
		allowClear: false,
		data: brand_list1,
		escapeMarkup: function(markup) {
			return markup;
		},
		templateResult: function(data) {
			return data.html;
		},
	});

	$("#brand").select2({
		width: 'resolve',
		matcher: modelMatcher,
		allowClear: false,
		data: brand_list2,
		escapeMarkup: function(markup) {
			return markup;
		},
		templateResult: function(data) {
			return data.html;
		},
	});

</script>
{/literal}
{include file="pagefooter.htm"}

