
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js"}
<div class=" x_panel">
  <div clas="col-md-12 col-sm-12 col-xs-12">
    <form action="javascript:searchFlashdeals()"  method="post" id="selectForm" name="selectForm" class="form-inline">
      {$lang.start_date}&nbsp;&nbsp;
      <input class="form-control" name="start_date" value="{$start_date}" data-type="datetime"/>
      <select class="form-control" name="search_type">
        <option value="0">- 類別 -</option>
        <option value="gn" {if $search_type eq 'gn'}selected{/if}>產品名稱</option>
        <option value="fid" {if $search_type eq 'fid'}selected{/if}>Flashdeal編號</option>
        <option value="gid" {if $search_type eq 'gid'}selected{/if}>產品編號</option>
      </select>
      <input class="form-control" name="search_str" value='{$search_str}'>
      <input name="sort_by" id='sort_by' type='hidden' value='{$filter.sort_by}'>
      <input name="sort_order" id='sort_order' type='hidden' value='{$filter.sort_order}'>
      <input type="submit" name="submit_sort" value="{$lang.query}" class="form-btn btn btn-success" />
    </form>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12" id="listDiv">
    <table class="table table-striped table-bordered bulk_action" id="#">
      <thead>
        <tr class="headings">
          <th data-id="flashdeal_id" data-key="flashdeal_id">{$lang.record_id}</th>
          <th data-id="deal_date" data-value="deal_date_formatted" data-edit="true" data-type="datetime">日期</th>
          <th data-id="goods_id" data-value="goods_thumb" data-type="image">產品圖片</th>
          <th data-id="goods_name" data-url="/goods.php?id={goods_id}&fid={flashdeal_id}">產品名稱</th>
          <th data-id="market_price" data-value="market_price_formatted">市場價錢</th>
          <th data-id="shop_price" data-value="shop_price_formatted">本店售價</th>
          <th data-id="deal_price" data-edit="true" data-type="price" data-value="deal_price_formatted">閃購特價</th>
          <th data-id="deal_quantity" data-edit="true">閃購數量</th>
          <th data-id="remaining_qty">剩餘數量</th>
          <th data-id="is_online_pay" data-edit="true" data-type="toggle">信用卡/PAYPAL限定</th>
          <th data-id="detail_visible" data-edit="true" data-type="toggle">顯示資料</th>
          <th data-id="sold_count">售出數量</th>
          <th data-id="notify_count">通知人數</th>
          <th data-id="sort_order" data-edit="true" >{$lang.sort_order}</th>
          <th class="actionsCol" data-id="_action">{$lang.handler}</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
var $table = yoho_dataTable();
function searchFlashdeals()
{
	$filter = [];
	$filter['search_type'] = $("select[name='search_type']").val();
	$filter['start_date'] = $("input[name='start_date']").val();
	$filter['search_str'] = $("input[name='search_str']").val();

	$table.search($filter);
}

</script>



