{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{insert_scripts files="../js/utils.js,listtable.js"}

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
  <th><a href="javascript:listTable.sort('notify_id'); ">{$lang.record_id}</a>{$sort_notify_id}</th>
  <th><a href="javascript:listTable.sort('flashdeal_id'); ">閃購編號</a>{$sort_flashdeal_id}</th>
  <th><a href="javascript:listTable.sort('email'); ">電郵地址</a>{$sort_email}</th>
  <th><a href="javascript:listTable.sort('user_id'); ">會員</a>{$sort_user_id}</th>
  <th><a href="javascript:listTable.sort('enter_time'); ">登記時間</a>{$sort_enter_time}</th>
</tr>
{foreach from=$list item=notify}
<tr>
  <td align="center">{$notify.notify_id}</td>
  <td align="center"><a href="flashdeal.php?act=edit&amp;id={$notify.flashdeal_id}">{$notify.flashdeal_id}</a></td>
  <td align="center">{$notify.email}</td>
  <td align="center">{if $notify.user_id}<a href="users.php?act=list&amp;keywords={$notify.user_name}">{$notify.display_name}</a>{else}N/A{/if}</td>
  <td align="center">{$notify.enter_date}</td>
</tr>
{foreachelse}
  <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
{/foreach}
</table>
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>

<script type="text/javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
listTable.query = 'query_notify';
</script>


{include file="pagefooter.htm"}
{/if}