{include file="pageheader.htm"}

<!--
<link href="styles/ERP.css" rel="stylesheet" type="text/css" />
-->
<style>
.pointer {
	cursor: pointer;
}

.txt-red {
	color: red;
}

.txt-green {
	color: green;
}

.shadow-red {
	-webkit-box-shadow: 0 0 2px 1px red;
	-moz-box-shadow: 0 0 2px 1px red;
	box-shadow: 0 0 2px 1px red;
}

.bold {
	font-weight: bold;
}

table#goods_result thead tr th, table#added_result thead tr th {
	text-align: center;
	font-size: 15px;
}

table#goods_result tbody tr td, table#added_result tbody tr td {
	vertical-align: middle;
	text-align: center;
}

table#goods_result tbody tr td img.thumb, table#added_result tbody tr td img.thumb {
	width: 50px;
}

table#goods_result tbody tr td.col-add-item span.add-item, table#added_result tbody tr td.col-del-item span.del-item {
	padding: 14px;
}

table#goods_result tbody tr td.col-add-item span.add-item {
	color: #4caf50;
}

table#added_result tbody tr td.col-del-item span.del-item {
	color: red;
}

table#added_result tbody tr td.item-id  {
	//display: none;
}

 /* Customize the label (the container) */
.container-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin: 2px 4px 2px 0;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-checkbox.goods-row {
  margin: 0;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container-checkbox.goods-row input {
  position: relative;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #c2c2c2;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.item-deal-price input[type='number'], .item-deal-quantity input[type='number'], .item-sort-order input[type='number']{
	text-align: right;
	font-size: 16px;
	width: 90px;
}

.mass-good select, .mass-good .input-group {
	width: auto !important;
	display: inline-block;
	vertical-align: middle;
}

.mass-good input {
	width: 90px !important;
}

.mass-good .input-group, .div-insert-one .input-group {
	margin-bottom: 0px;
}

.div-insert-one select, .div-insert-one .input-group {
	width: auto !important;
	vertical-align: middle;
}

.div-insert-one #search_goods {
	width: 210px;
}

.div-insert-one #mass_good_no {
	
}

.div-insert-one #count_goods {
	color: red;
}

.item-action .btn {
	margin: 2px 0;
	padding: 3px 6px;
}

.item-action {
	width: 115px;
}

th.active-order {
	font-weight: bold;
	text-decoration: underline;
}

div.div-res-search div.div-text-input {
    margin-bottom: 0px;
}

div.div-res-search div.div-text-input input#search_ins_goods {
    width: 400px;
}

div.div-res-search button#ins_reset_search {
    vertical-align: middle;
	margin-bottom: 0;
}
</style>

<div class=" x_panel">
	<div id="inner_container">
		<form class="form-horizontal" action="flashdeal_event.php" name="edit_event" method="post">
			<div class="form-group">
				<div class="col-xs-0 col-sm-0 col-md-0 col-lg-1"></div>
				<div id="extrainfo-table" class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
					<div class="form-group">
						<label class="control-label col-sm-2" for="name">閃購活動名稱：</label>
						<div class="col-sm-10">
							<h5>{$event.name}</h5>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="status">活動開關：</label>
						<div class="col-sm-10">
							<h5>
								{if $event.status eq '1'}
								正常運作
								{else}
								停止
								{/if}
							</h5>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="start_date">開始時間：</label>
						<div class="col-sm-10">
							<h5>{$event.start_date}</h5>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="end_date">結束時間：</label>
						<div class="col-sm-10">
							<h5>{$event.end_date}</h5>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">目標會員計劃：</label>
						<div class="col-sm-10">
							<h5>
							{foreach from=$user_rank_list item=user_rank}
							{if in_array($user_rank.rank_id, $event.user_rank)}
								<div style="display: inline-block; margin-right: 10px;">{$user_rank.rank_name}</div>
							{/if}
							{/foreach}
							</h5>
						</div>
					</div>
					<!--
					<div class="form-group">
						<label class="control-label col-sm-2" for="detail_visible">開售前顯示商品資料：</label>
						<div class="col-sm-10">
								<h5>
									{if $event.detail_visible eq '1'}
									{$lang.yes}
									{else}
									{$lang.no}
									{/if}
								</h5>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="is_online_pay">信用卡/PAYPAL限定：</label>
						<div class="col-sm-10">
								<h5>
									{if $event.is_online_pay eq '1'}
									{$lang.yes}
									{else}
									{$lang.no}
									{/if}
								</h5>
						</div>
					</div>
					-->
				</div>
				<div class="col-xs-0 col-sm-0 col-md-0 col-lg-2"></div>
			</div>
			<div class="well">
				<div class="form-inline div-res-search">
					<span>搜尋已加入產品:</span>
					<select name="search_cat" id="search_cat" class="form-control">
						<option value="-1">-- 請選擇分類 --</option>
						{$cats}
					</select>
					<select name="search_brand" id="search_brand" class="form-control">
						<option value="-1">-- 請選擇品牌 --</option>
						{html_options options=$brands}
					</select>
					<div class="input-group div-text-input">
						<input class="form-control" id="search_ins_goods" placeholder="輸入關鍵字 (條碼/ID(可用逗號[,]分隔多個ID)/名稱)" type="text">
						<div class="input-group-btn">
							<button id="ins_product_search" class="btn btn-primary" type="button" title="搜尋">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
					<button id="ins_reset_search" class="btn btn-primary" type="button" title="重設搜尋">
						<i class="glyphicon glyphicon-repeat"></i> 清除搜尋條件
					</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12" style="font-weight: bold; text-align: center; font-size: 16px;">
					{if $search_key || $search_cat || $search_brand}
					商品搜尋結果 ({$count_goods})
					{else}
					已選商品 ({$count_goods})
					{/if}
					
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="well well-sm" style="max-height: 900px; overflow-y: scroll;">
						<table class="table table-striped table-responsive" id="added_result">
							<thead>
								<tr>
									<th>閃購ID</th>
									<th>商品ID</th>
									<th>名稱</th>
									<th>庫存</th>
									<th{if $list_order eq 'cost'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=info&id={$event_id}&order=cost&sort={if $list_order eq 'cost'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">平均成本{if $list_order eq 'cost'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
									</th>
									<th{if $list_order eq 'shop_price'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=info&id={$event_id}&order=shop_price&sort={if $list_order eq 'shop_price'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">價格{if $list_order eq 'shop_price'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
									</th>
									<th{if $list_order eq 'deal_price'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=info&id={$event_id}&order=deal_price&sort={if $list_order eq 'deal_price'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">閃購價{if $list_order eq 'deal_price'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
									</th>
									<th{if $list_order eq 'deal_quantity'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=info&id={$event_id}&order=deal_quantity&sort={if $list_order eq 'deal_quantity'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">閃購數量{if $list_order eq 'deal_quantity'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
									</th>
									<th{if $list_order eq 'no_good_sellable'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=info&id={$event_id}&order=no_good_sellable&sort={if $list_order eq 'no_good_sellable'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">剩餘數量{if $list_order eq 'no_good_sellable'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
									</th>
									<th{if $list_order eq 'no_good_sold'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=info&id={$event_id}&order=no_good_sold&sort={if $list_order eq 'no_good_sold'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">售出數量{if $list_order eq 'no_good_sold'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
									</th>
									<th{if $list_order eq 'sort_order'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=info&id={$event_id}&order=sort_order&sort={if $list_order eq 'sort_order'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">排序{if $list_order eq 'sort_order'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
									</th>
									<th{if $list_order eq 'notify_count'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=info&id={$event_id}&order=notify_count&sort={if $list_order eq 'notify_count'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">通知人數{if $list_order eq 'notify_count'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
									</th>
									<th style="font-size: 13px;">開售前顯示<br>商品資料</th>
									<th style="font-size: 13px;">信用卡/<br>PAYPAL限定</th>
									<th style="font-size: 13px;">PayMe限定</th>
									<th style="font-size: 13px;">支付寶限定</th>
									<!--
									<th style="font-size: 13px;">PayMe/<br>Alipay限定</th>
									-->
									<th></th>
								</tr>
							</thead>
							<tbody>
								{if $count_goods == 0}
								<tr>
									<td colspan="16" style="text-align: center; font-weight: bold;">未選擇商品。</td>
								</tr>
								{else}
								{foreach from=$event_goods item=good}
								<tr data-item-id='{$good.goods_id}'>
									<td class='item-fd-id'>{$good.flashdeal_id}</td>
									<td class='item-id'>{$good.goods_id}</td>
									<td class='item-name'>
										{$good.goods_name}
									</td>
									<td class='item-stock{if $good.stock <= 0} txt-red{/if}'>{$good.stock}</td>
									<td class='item-cost'>{$good.cost}</td>
									<td class='item-price'>{$good.shop_price}</td>
									<td class='item-deal-price bold'>
										<input type='number' id='cost_{$good.goods_id}' style='display: none;' value='{$good.cost}' disabled>
										<input type='number' id='deal_price_{$good.goods_id}' style='display: none;' class='deal-price' name='deal-price[]' min='1' max='999999' value='{$good.deal_price}'>
										<span{if $good.deal_price >= $good.shop_price} class='txt-red'{/if}>{$good.deal_price}</span>
									</td>
									<td class='item-deal-quantity bold'>
										<input type='number' style='display: none;' class='deal-quantity' name='deal-quantity[]' min='1' max='9999' value='{$good.deal_quantity}'>
										{$good.deal_quantity}
									</td>
									<td class='item-deal-quantity-sellable bold'>
										{$good.no_good_sellable}
									</td>
									<td class='item-deal-quantity-sold bold'>
										{$good.no_good_sold}
									</td>
									<td class='item-sort-order'>
										<input type='number' style='display: none;' class='sort-order' name='sort-order[]' min='0' max='100' value='{$good.sort_order}'>
										{$good.sort_order}
									</td>
									<td class='item-notify-count'>
										{$good.notify_count}
									</td>
									<td class='item-visible'>
										{if $good.detail_visible eq '1'}
										{$lang.yes}
										{else}
										{$lang.no}
										{/if}
									</td>
									<td class='item-online-pay'>
										{if $good.is_online_pay eq '1'}
										{$lang.yes}
										{else}
										{$lang.no}
										{/if}
									</td>
									<td class='item-online-pay'>
										{if $good.payme_only eq '1'}
										{$lang.yes}
										{else}
										{$lang.no}
										{/if}
									</td>
									<td class='item-online-pay'>
										{if $good.alipay_only eq '1'}
										{$lang.yes}
										{else}
										{$lang.no}
										{/if}
									</td>
									<!--
									<td class='item-mobile-pay'>
										{if $good.is_mobile_pay eq '1'}
										{$lang.yes}
										{else}
										{$lang.no}
										{/if}
									</td>
									-->
									<td class='item-action'>
										<div>
											<a href="../product/{$good.goods_id}" class="btn btn-info btn-sm" target="_blank" title="查看銷售頁">
												<span class="glyphicon glyphicon-shopping-cart"></span>
											</a>
											<a href="goods.php?act=edit&id={$good.goods_id}" target="_blank" class="btn btn-info btn-sm" title="編輯商品">
												<span class="glyphicon glyphicon-edit"></span>
											</a>
										</div>
										<div>
											<a href="order.php?act=list&flashdeal_id={$good.flashdeal_id}" target="_blank" class="btn btn-info btn-sm" title="查看訂單">
												<span class="glyphicon glyphicon-list-alt"></span>
											</a>
											<a href="flashdeal.php?act=list_notify&flashdeal_id={$good.flashdeal_id}" target="_blank" class="btn btn-info btn-sm" title="查看通知">
												<span class="glyphicon glyphicon-comment"></span>
											</a>
										</div>
									</td>
								</tr>
								{/foreach}
								{/if}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-0 col-sm-0 col-md-0 col-lg-1"></div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
					<div style="margin: auto; display: table;">		
						<a class="btn btn-danger" href="flashdeal_event.php?act=list">返回</a>	
					</div>
				</div>
				<div class="col-xs-0 col-sm-0 col-md-0 col-lg-2"></div>
			</div>
			<input id="event_id" name="event_id" type="hidden" value="{$event_id}">
			<input type="hidden" name="act" value="{$form_action}">
		</form>
	</div>
</div>

{literal}
<script language="JavaScript">
	var added_item = [];

	const ins_id = {$event_id};
	const search_key = '{if $search_key}{$search_key}{else}{/if}';
	const search_cat = '{if $search_cat}{$search_cat}{else}{/if}';
	const search_brand = '{if $search_brand}{$search_brand}{else}{/if}';

	if (search_key){
		$('div.div-res-search div.div-text-input input#search_ins_goods').val(search_key);
	}
	if (search_cat){
		$('div.div-res-search select#search_cat').val(search_cat);
	}
	if (search_brand){
		$('div.div-res-search select#search_brand').val(search_brand);
	}

	{if $count_goods > 0}
	$('input[name="item-id[]"]').each(function(index) {
		added_item.push($(this).val());
	});
	deleteItem();
	priceQuantityCheck();
	{/if}

	$('#btn_mass_add').click(function(e){
		e.preventDefault();
		var supplier_id = $(this).closest('.input-group').siblings('select#mass_supplier').val();
		var mass_no = $(this).parent().siblings('input#mass_good_no').val();
		if (mass_no > 0){

		} else {
			alert('請重新選擇數量');
			return false;
		}
		$.ajax({
        url: 'flashdeal_event.php',
        type: 'POST',
        dataType: 'JSON',
        data:{
            act: 'ajax_get_top_stock',
            supplier_id: supplier_id,
            no: mass_no
        },
        success: function(res){
			if (res.error != 0 || res.content == 'false'){
				alert("未找到商品");
				return false;
			} else {
				if(!$.isArray(res.content)) {
					alert("未找到商品");
					return false;
				}
				addItem(res.content);
				/*
				var print_result = "";
				var out_of_stock = new Array();
				var existed = new Array();
					$.each(res.content, function(k, v) {
						if ($.inArray(v.goods_id, added_item) >= 0){
							existed.push(v.goods_name);
						} else {
							if (v.stock > 0){
								print_result += "<tr data-item-id='" + v.goods_id + "'>" + 
												"<td class='item-id'>" + 
												"<label class='container-checkbox goods-row'>" +
													"<input type='checkbox' class='check-items' id='check_" + v.goods_id + "' value='" + v.goods_id + "'>" +
													"<span class='checkmark'></span>" +
												"</label>" +
												"<input type='hidden' name='item-id[]' value='" + v.goods_id + "'>" + 
												"</td>" + 
												"<td class='item-name'>" + v.goods_name + "</td>" + 
												"<td class='item-stock'>" + v.stock + "</td>" + 
												"<td class='item-price'>" + v.shop_price + "</td>" + 
												"<td class='item-deal-price'>" +
													"<input type='number' id='cost_" + v.goods_id + "' style='display: none;' value='" + v.cost + "' disabled>" +
													"<input type='number' id='deal_price_" + v.goods_id + "' class='deal-price' name='deal-price[]' min='1' max='999999' value='{$good.deal_price}'>" +
												"</td>" + 
												"<td class='item-deal-quantity'><input type='number' class='deal-quantity' name='deal-quantity[]' min='1' max='9999' value='1'></td>" +
												"<td class='col-del-item'>" + "<span class='del-item glyphicon glyphicon-remove pointer'></span>" + "</td>" + 
												"</tr>";
								added_item.push(v.goods_id);
							} else {
								out_of_stock.push(v.goods_name);
							}
						}
					});
					if (out_of_stock.length > 0){
						str_out_of_stock = out_of_stock.join(" , ");
						alert('以下商品庫存不足: ' + str_out_of_stock);
					}
					if (existed.length > 0){
						str_existed = existed.join(" , ");
						alert('以下商品已存在: ' + str_existed);
					}
				$("#added_result tbody").prepend(print_result);
				deleteItem();
				//clickItem();
				*/
			}
        }
    	});
	});

	function addItem(arr_item){
		var print_result = "";
		var out_of_stock = new Array();
		var existed = new Array();
		var no_items_before = added_item.length;
		$.each(arr_item, function(k, v) {
			if ($.inArray(v.goods_id, added_item) >= 0){
				existed.push(v.goods_name);
			} else {
				if (v.stock > 0){
					print_result += "<tr data-item-id='" + v.goods_id + "'>" + 
									"<td class='item-id'>" + 
									"<label class='container-checkbox goods-row'>" +
										"<input type='checkbox' class='check-items' id='check_" + v.goods_id + "' value='" + v.goods_id + "'>" +
										"<span class='checkmark'></span>" +
									"</label>" +
									"<input type='hidden' name='item-id[]' value='" + v.goods_id + "'>" + 
									"</td>" + 
									"<td class='item-name'>" + v.goods_name + "</td>" + 
									"<td class='item-stock'>" + v.stock + "</td>" + 
									"<td class='item-price'>" + v.shop_price + "</td>" + 
									"<td class='item-deal-price'>" +
										"<input type='number' id='cost_" + v.goods_id + "' style='display: none;' value='" + v.cost + "' disabled>" +
										"<input type='number' id='deal_price_" + v.goods_id + "' class='deal-price' name='deal-price[]' min='1' max='999999' value='" + v.shop_price + "'>" +
									"</td>" + 
									"<td class='item-deal-quantity'><input type='number' class='deal-quantity' name='deal-quantity[]' min='1' max='9999' value='1'></td>" +
									"<td class='item-sort-order'><input type='number' class='sort-order' name='sort-order[]' min='0' max='100' value='50'></td>" +
									"<td class='col-del-item'>" + "<span class='del-item glyphicon glyphicon-remove pointer'></span>" + "</td>" + 
									"</tr>";
					added_item.push(v.goods_id);
				} else {
					out_of_stock.push(v.goods_name);
				}
			}
		});
		if (out_of_stock.length > 0){
			str_out_of_stock = out_of_stock.join(" , ");
			alert('以下商品庫存不足: ' + str_out_of_stock);
		}
		if (existed.length > 0){
			str_existed = existed.join(" , ");
			alert('以下商品已存在: ' + str_existed);
		}
		if(no_items_before == 0){
			$("#added_result tbody").html(print_result);
		} else {
			$("#added_result tbody").prepend(print_result);
		}
		deleteItem();
		priceQuantityCheck();
	}

	$('#btn_single_add').click(function(e){
		e.preventDefault();
		var selected_good = $(this).parent().siblings('select#single_good');
		var selected_good_id = selected_good.val();
			console.log(selected_good_id);
		if (selected_good_id < 0){
			alert('請重新選擇商品');
			return false;
		} else {
			var selected_good_stock = selected_good.find(':selected').attr("data-stock");
			var selected_good_price = selected_good.find(':selected').attr("data-price");
			var selected_good_cost = selected_good.find(':selected').attr("data-cost");
			var selected_good_name = selected_good.find(':selected').attr("data-name");

			if (selected_good_stock < 1){
				alert('庫存不足 - ' + selected_good_name + '(' + selected_good_id + ') 的庫存為' + selected_good_stock);
				return false;
			} else {
				var arr_item = new Array();
				arr_item[0] = [];
				arr_item[0]['goods_id'] = selected_good_id;
				arr_item[0]['goods_name'] = selected_good_name;
				arr_item[0]['stock'] = selected_good_stock;
				arr_item[0]['shop_price'] = selected_good_price;
				arr_item[0]['cost'] = selected_good_cost;

				addItem(arr_item);
			}

		}
	});

	$('#search_submit').click(function(e){
		e.preventDefault();

		var cat_id = $(this).closest('.input-group').siblings('select#cat').val();
		var brand_id = $(this).closest('.input-group').siblings('select#brand').val();
		var search_key = $.trim($(this).parent().siblings('input#search_goods').val());
		if (search_key.length > 0){
			
		} else {
			alert('請輸入關鍵字');
			return false;
		}
		$.ajax({
        url: 'flashdeal_event.php',
        type: 'POST',
        dataType: 'JSON',
        data:{
            act: 'ajax_get_goods_by_keyword',
            cat_id: cat_id,
            brand_id: brand_id,
            search_key: search_key
        },
        success: function(res){
				var print_result = "";
				if($.isArray(res.content)) {
					print_result += "<option value='-1'>-- 請選擇商品 --</option>";
					$.each(res.content, function(k, v) {
						print_result += "<option value='" + v.goods_id + "' data-stock='" + v.stock + "' data-price='" + v.shop_price + "' data-cost='" + v.cost + "' data-name='" + v.goods_name + "'>" + v.goods_id + " - " + v.goods_name + "</option>";
					});
				}
				$("#single_good").html(print_result);
				if (res.content.length == 0){
					$("#count_goods").html("找不到商品");
				} else {
					$("#count_goods").html("找到" + res.content.length + "個商品");
				}
        }
    	});
	});

	$("#ins_product_search").click(function(){
		var $filter = {};
		var search_key = $.trim($(this).parent().siblings('input#search_ins_goods').val());
		var cat = $(this).closest('.div-text-input').siblings('select#search_cat').val();
		var brand = $(this).closest('.div-text-input').siblings('select#search_brand').val();
		console.log($filter);
		var to_url = "flashdeal_event.php?act=info&id={$event_id}";
		var search = false;
		if (search_key){
			to_url += "&search-key=" + search_key;
			search = true;
		}
		if (cat > 0){
			to_url += "&search-cat=" + cat;
			search = true;
		}
		if (brand > 0){
			to_url += "&search-brand=" + brand;
			search = true;
		}
		window.location.href = to_url;
	});

	$("#ins_reset_search").click(function(){
		var to_url = "flashdeal_event.php?act=info&id={$event_id}";
		window.location.href = to_url;
	});

	function clickItem(){
		$('.add-item').off("click");
		$('.add-item').click(function(e){
			var sel_item = $(this).parent().parent();
			var sel_item_id = sel_item.attr('data-item-id');
			if ($.inArray(sel_item_id, added_item) >= 0){
				alert("商品已存在");
			} else {
				var print_result = "<tr data-item-id='" + sel_item_id + "'>" + 
								"<td class='item-id'><input type='hidden' name='item-id[]' value='" + sel_item_id + "'></td>" + 
								"<td class='item-sn'>" + sel_item.find('.item-sn').html() + "</td>" + 
								"<td class='item-thumb'>" + sel_item.find('.item-thumb').html() + "</td>" + 
								"<td class='item-name'>" + sel_item.find('.item-name').html() + "</td>" + 
								"<td class='item-price'>" + sel_item.find('.item-price').html() + "</td>" + 
								"<td class='item-ag-price'><input type='number' name='item-ag-price[]' min='1' max='999999'></td>" + 
								"<td class='col-del-item'>" + "<span class='del-item glyphicon glyphicon-remove pointer'></span>" + "</td>" + 
								"</tr>";
				sel_item.detach();
				if (added_item.length == 0){
					$("#added_result tbody").html(print_result);
				} else {
					$(print_result).appendTo("#added_result tbody");
				}
				added_item.push(sel_item_id);
				console.log(added_item);
				deleteItem();
			}
		})
	}

	function massAdjustPrice(act){
		switch(act) {
			case 'mass_percent':
				var prompt_text = "折扣 - 請輸入折扣(以0-1表示) 例如：9折 -> 0.9, 85折 -> 0.85";
				var input_mass_val = promptBox('mass_price', act, prompt_text);
				break;
			case 'mass_deduct':
				var prompt_text = "減價 - 請輸入減價金額";
				var input_mass_val = promptBox('mass_price', act, prompt_text);
				break;
			case 'mass_cost_markup':
				var prompt_text = "按成本價加百分比 - 請輸入百分比(0-100)(%) 例如：5% -> 成本價X(1.05)";
				var input_mass_val = promptBox('mass_price', act, prompt_text);
				break;
			default:
				return false;
			}
			if (!input_mass_val){
				alert('請輸入正確數字');
			} else {
				scanPrice(act, input_mass_val)
			}
	}

	function scanPrice(act, adj_val){
		$('input.check-items:checked').each(function() {
			var price_field = $(this).closest('td').siblings('td.item-deal-price').find('input.deal-price');
			switch(act) {
				case 'mass_percent':
					var price = parseFloat(price_field.val());
					console.log(price);
					var new_price = Math.ceil(price * adj_val);
					break;
				case 'mass_deduct':
					var price = parseFloat(price_field.val());
					console.log(price);
					var new_price = Math.ceil(price - adj_val);
					break;
				case 'mass_cost_markup':
					var cost = parseFloat($(this).closest('td').siblings('.item-price').html());
					console.log(cost);
					var new_price = Math.ceil(cost * ((100 + adj_val) / 100));
					break;
				default:
					return false;
				}
			console.log(' / ');
			console.log(new_price);
			price_field.val(new_price);
		});
		
	}

	function priceQuantityCheck(){
		$('input.deal-price').off('change');
		$('input.deal-quantity').off('change');

		$('input.deal-price').change(function() {
			var price = parseFloat($(this).closest('td').siblings('td.item-price').html());
			var fd_price = parseFloat($(this).val());
			console.log(price+" - "+fd_price);
			if (price <= fd_price){
				alert('閃購價多於或等如現價');
				if (!$(this).hasClass('shadow-red')){
					$(this).addClass('shadow-red');
				}
			} else {
				if ($(this).hasClass('shadow-red')){
					$(this).removeClass('shadow-red');
				}
			}
			//$('input.deal-price').off('change');
			//$('.add-item').off("click");
		});

		$('input.deal-quantity').change(function() {
			var stock = parseFloat($(this).closest('td').siblings('td.item-stock').html());
			var fd_quantity = parseFloat($(this).val());
			console.log(stock+" - "+fd_quantity);
			if (stock < fd_quantity){
				alert('閃購數量多於庫存');
				if (!$(this).hasClass('shadow-red')){
					$(this).addClass('shadow-red');
				}
			} else {
				if ($(this).hasClass('shadow-red')){
					$(this).removeClass('shadow-red');
				}
			}
			//$('input.deal-price').off('change');
			//$('.add-item').off("click");
		});
	}


	function promptBox(act, method, text){
		if (!act){
			return false;
		} else if (act == 'mass_price'){
			var default_val = '0';
		}
		var input_val = prompt(text, "0");
		if (act == 'mass_price'){
			input_val = Number(input_val.trim());
			if (Number.isInteger(input_val)) {
				return input_val;
			} else {
				return false;
			}
		}
	}

	function deleteItem(){
		$('.del-item').off("click");
		$('.del-item').click(function(e){
			var sel_item = $(this).parent().parent();
			var sel_item_id = sel_item.attr('data-item-id');
			var pos = $.inArray(sel_item_id, added_item)
			if (pos >= 0){
				added_item.splice($.inArray(sel_item_id, added_item), 1);
				sel_item.detach();
			}
			console.log(added_item);
		})
	}
	/*
	$('input[type="checkbox"]' ).bind( "change", function(e) {
		$('input[name="' + this.name + '"]').not(this).attr("checked", false);
		var target = $(this).parent().next('input[type=hidden]').val();
		if(this.checked)
		{
			target = 1;
				$('input[name="' + this.name + '"]').not(this).parent().next('input[type=hidden]').val(0);
		}
		else
		{
			target = 0;
		}
		$(this).parent().next('input[type=hidden]').val(target);
	});
	*/

	$('#mass_setting #mass_btn_group button:button').click(function (e){
		var mass_action = $(this).attr('id');
		if (mass_action != ''){
			massAdjustPrice(mass_action);
		} else {
			return false;
		}
	});

	$('input#check_all:checkbox').click(function (e){
		$('input.check-items:checkbox').prop('checked', this.checked);
		countCheckShowMassPriceRow();

	});

	$('input.check-items:checkbox').click(function (e){
		$('input#check_all:checkbox').prop('checked', false);
		countCheckShowMassPriceRow();
	});

	function countCheckShowMassPriceRow(){
			var arr_goods = new Array();
		$('input.check-items:checkbox').each(function () {
			if (this.checked){
				var good_id = ($(this).val());
				if (good_id){
					arr_goods.push(good_id);
				}
			}
		});
		console.log (arr_goods);
		if (arr_goods.length > 1){
			$('#mass_setting').show();
		} else {
			$('#mass_setting').hide();
		}
	}
	
	$('#confirm').click(function (e){
		e.preventDefault();
//		var delivery_style = $("#delivery_style").attr('value');
//
//		if (delivery_style == '')
//		{
//			alert('{$lang.erp_delivery_style_required}');
//			return false;
//		}
		if ($.trim($('#name').val()) == ""){
			alert('請輸入閃購活動名稱');
			return false;
		}

		var start_date = new Date($('#start_date').val());
		var end_date = new Date($('#end_date').val());

		if (start_date.getTime() > end_date.getTime() || start_date.getTime() === end_date.getTime()){
			alert('活動開始時間必須早於結束時間');
			return false;
		}

		document.forms['edit_event'].submit();
	});

	/**
	 * 新增一个自訂欄位
	 */
	function addExtraInfo(e)
	{
		if ($('input[name="sa_rate[]"]').length <= 4){
			var new_rate_row = "<div class='form-inline'>" + 
								"<div class='form-group'>" + 
								"<input type='number' class='form-control' name='sa_rate[]' value='' min='0' max='100' step='0.1' maxlength='3'>% " + 
								"<input name='rate_id[]' value='' type='hidden'>" + 
								"<label class='checkbox-inline'><input type='checkbox' name='check' value='1'>預設</label> " + 
								"<input type='hidden' name='is_default[]' value='0'>" + 
								"<select class='form-control' id='rate_active' name='rate_active[]'>" +
								"<option value='0'>無效</option>" +
								"<option value='1'>生效</option>" +
								"</select>" +
								"</div></div>";

			$("#group_rate").append(new_rate_row);
		}


		$('input[type="checkbox"]' ).bind( "change", function(e) {
			$('input[name="' + this.name + '"]').not(this).attr("checked", false);
			var target = $(this).parent().find('input[type=hidden]').val();
			if(this.checked)
			{
					target = 1;
					$('input[name="' + this.name + '"]').not(this).parent().find('input[type=hidden]').val(0);
			}
			else
			{
					target = 0;
			}
			$(this).parent().find('input[type=hidden]').val(target);
		});
	}
	/**
	* 删除自訂欄位
	*/
	function removeExtraInfo(obj)
	{

		var row = rowindex(obj.parentNode.parentNode);
		var tbl = document.getElementById('extrainfo-table');
		tbl.deleteRow(row);
	}

</script>
{/literal}
{include file="pagefooter.htm"}

