{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<style>
.goods_no {
	font-weight: bold;
	text-decoration: underline;
}
.goods_no a {
	color: #2755ff !important;
	cursor: pointer;
}

tr th {
	font-size: 15px;
}

tr td.event-processing{
	color: green;
}

tr td.event-coming{
	color: orange;
}

tr td.event-end{
	color: red;
}

tr td div.circle{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

tr td div.circle-red{
    background-color: #db0000;
	border: 1px solid #a22929;
}

tr td div.circle-green{
    background-color: green;
	border: 1px solid #267126;
}

tr td div.circle-yellow{
    background-color: #ffcf00;
	border: 1px solid #c4a314;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

</style>

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
	<table class="table table-striped table-bordered bulk_action">
		<tr>
			<th style="width: 60px; text-align: center;"></th>
			<th style="width: 5%; text-align: center;">
				<a href="javascript:listTable.sort('fd_event_id');">{$lang.erp_sales_agent_id}</a>
			</th>
			<th>
				<a href="javascript:listTable.sort('name');">閃購活動名稱</a>
			</th>
			<th style="width: 130px; text-align: center;">
				<a>活動商品(款)</a>
			</th>
			<th style="width: 180px;">
				<a href="javascript:listTable.sort('start_date');">開始時間</a>
			</th>
			<th style="width: 180px;">
				<a href="javascript:listTable.sort('end_date');">結束時間</a>
			</th>
			<th style="width: 10%; text-align: center;">
				<a href="javascript:listTable.sort('status');">開/關</a>
			</th>
			<th style="width: 10%; text-align: center;">
				{$lang.erp_operation}
			</th>
		</tr>
		{foreach from=$events key=key item=event}
		<tr data-event-id='{$event.fd_event_id}'>
			<td style='text-align: center;' class="event-signal"><div class='circle{if $event.on_off == 1} circle-green{else}{if $event.on_off == 2} circle-yellow{else} circle-red{/if}{/if}' data-toggle="tooltip" title="{if $event.on_off == 1}活動進行中{else}{if $event.on_off == 2}活動將會開始{else}活動停止{/if}{/if}" style='margin: auto;'></div></td>
			<td style='text-align: center;'>{$event.fd_event_id}</td>
			<td class="event-name">{$event.name}</td>
			<td class="goods_no" style='text-align: center;'>
				<a href="flashdeal_event.php?act=info&id={$event.fd_event_id}">{$event.no_of_goods}</a>
				{if $event.price_abnormal_num > 0}<br><a href="flashdeal_event.php?act=edit&id={$event.fd_event_id}" style="color: red !important;">高於產品價({$event.price_abnormal_num})</a>{/if}
			</td>
			<td class="{$event.class_date}" data-toggle="tooltip" title="{$event.txt_process}">{$event.start_date}</td>
			<td class="{$event.class_date}" data-toggle="tooltip" title="{$event.txt_process}">{$event.end_date}</td>
			<td style='text-align: center;'>
				<label class="switch">
					<input class='event-toggle' type="checkbox"{if $event.status eq 1} checked{/if}>
					<span class="slider round"></span>
				</label></td>
			<td style='text-align: center;'>
				<a href="flashdeal_event.php?act=edit&id={$event.fd_event_id}" class="fa fa-edit btn btn-primary btn-sm" role="button">{$lang.erp_operation_edit}</a>
				<a href="flashdeal_event.php?act=remove&id={$event.fd_event_id}" class="fa fa-trash btn btn-danger btn-sm delete-btn" role="button">刪除</a>
				<!--<a href="javascript:;" onclick="javascript:remove({$sales_agent.sa_id})">{$lang.erp_operation_delete}</a>-->
			</td>
		</tr>
		{foreachelse}
		<tr><td class="no-records" colspan="8" style="text-align: center;">{$lang.no_records}</td></tr>
		{/foreach}
		<tr><td colspan="8" align="right">{$pager}</td></tr>
	</table>
</div>

<script>
$(document).ready(function() {
	$('.event-toggle').change(function(){
		var _this = $(this);
		var new_val = _this.is(':checked');
		var $event_row = _this.closest('tr');
		var event_id = $event_row.attr('data-event-id');
		$.ajax({
			url: 'flashdeal_event.php',
			type: 'POST',
			dataType: 'JSON',
			data:{
				act: 'ajax_update_status',
				id: event_id,
				status: new_val
			},
			success: function(res){
				var return_status = res.content;
				if(res.error == 0 && return_status.status != '' && return_status.on_off != '') {
					var status = return_status.status;
					var on_off = return_status.on_off;
					if (status == 1){
						alert('已開啟活動');
					} else {
						alert('已關閉活動');
					}
					if (on_off == 1){
						$event_row.children('td.event-signal').children('div.circle').attr('data-original-title','活動進行中').attr('class','circle circle-green');
					} else if (on_off == 2) {
						$event_row.children('td.event-signal').children('div.circle').attr('data-original-title','活動將會開始').attr('class','circle circle-yellow');
					} else {
						$event_row.children('td.event-signal').children('div.circle').attr('data-original-title','活動停止').attr('class','circle circle-red');
					}
				} else {
					alert('伺服器回應錯誤，請重新整理網頁。');
					return false;
				}
			},

			error:function(XMLHttpRequest, textStatus){
				console.log(XMLHttpRequest);  //XMLHttpRequest.responseText    XMLHttpRequest.status   XMLHttpRequest.readyState
				console.log(textStatus);
				alert('對不起,您沒有執行此項操作的權限! ');
				if (new_val){
					_this.prop('checked', false);
				} else {
					_this.prop('checked', true);
				}
			}
    	});
    });

	$('.delete-btn').click(function(){
		var event_name = $(this).closest('tr').children('td.event-name').text();
		return confirm("確定要刪除閃購活動 " + event_name + " 及此活動商品設定?");
	})

});
</script>

{include file="pagefooter.htm"}
