<!-- $Id: flow_stats.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<!-- morris.js -->
<script src="js/raphael.min.js"></script>
<script src="js/morris.min.js"></script>
<!-- Chart -->
<script src="js/Chart.min.js"></script>
<script src="js/Chart.bundle.min.js"></script>
<script src="js/Chart.PieceLabel.min.js"></script>
<div class=" x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="" method="post" id="selectForm" name="selectForm" class="form-inline">
    {$lang.start_date}&nbsp;&nbsp;
    <input name="start_date" type="text" value="{$start_date}" data-type="date" class="form-control" />
    {$lang.end_date}&nbsp;&nbsp;
    <input name="end_date" type="text" value="{$end_date}" data-type="date" class="form-control" />
    <input type="submit" id="submit" name="submit" value="{$lang.access_query}" class="btn btn-success form-btn" />
    {insert name=daterange_group}
  </form>
    <form action="" method="post" id="selectForm" name="selectForm" class="form-inline">
    <!--{$lang.select_year_month}&nbsp;&nbsp;-->
    <!--{foreach from=$start_date_arr item=start_date key=k}-->
    {if $k > 0}
    <!--&nbsp;+&nbsp;-->
    {/if}
    <!--input name="year_month[]" value="{$start_date}" data-type="month" class="form-control" /-->
    <!--{/foreach}--><input type="hidden" name="is_multi" value="1" />
    <!--<input type="submit" name="submit" value="{$lang.access_query}" class="btn btn-success form-btn" />-->
  </form>
</div>
<div class="tab-div  col-md-12 col-sm-12 col-xs-12">
    <!-- tab bar -->
    <ul class="nav nav-tabs bar_tabs" role="tablist">
      <li role="presentation" class="active"><a href="#general-div" id="general-tab" role="tab" data-toggle="tab" aria-expanded="true">{$lang.tab_general}</a>
      </li>
      <li role="presentation" class=""><a href="#area-div" role="tab" id="area-tab" data-toggle="tab" aria-expanded="false">{$lang.tab_area}</a>
      </li>
      <li role="presentation" class=""><a href="#from-div" role="tab" id="from-tab" data-toggle="tab" aria-expanded="false">{$lang.tab_from}</a>
      </li>
    </ul>
    <!-- tab body -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="general-div" aria-labelledby="general-tab">
        <!-- 综合流量 -->
        <div id="graph_line" style="width:100%; height:300px;"></div>
      </div>
        <!-- 地区分布 -->
      <div role="tabpanel" class="tab-pane fade" id="area-div" aria-labelledby="area-tab">
        <!--{if $is_multi eq "0"}-->
        <div class="col-md-12"><canvas id="areaPieChart" height="100"></canvas></div>
        <!--{else}-->
        <div id="areaBarChart" style="width:100%; height:300px;"></div>
        <!--{/if}-->
      </div>
      <div role="tabpanel" class="tab-pane fade" id="from-div" aria-labelledby="from-tab">
        <!-- 来源网站 -->
          <!--{if $is_multi eq "0"}-->
          <div class="col-md-12"><canvas id="fromPieChart" height="100"></canvas></div>
          <!--{else}-->
                 <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
             codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
             width="465" height="320" align="middle">
                <PARAM NAME="FlashVars" value="&dataXML={$from_data}">
                <PARAM NAME=movie VALUE="images/charts/ScrollColumn2D.swf?chartWidth=650&chartHeight=400">
                <param name=quality value="high">
                <param name=bgcolor value="#FFFFFF">
                <param name="wmode" value="opaque" />
                <embed src="images/charts/ScrollColumn2D.swf?chartWidth=650&chartHeight=400" FlashVars="&dataXML={$from_data}" quality="high" bgcolor="#FFFFFF"  width="650" height="400" align="middle" wmode="opaque"
             type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                </embed>
                </object>
          <!--{/if}-->
      </div>
    </div>
</div>

</div>
{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
//-->

var $general_data = $.parseJSON('{$general_data|json_encode}');
var $area_data = $.parseJSON('{$area_data|json_encode}');
var $from_data = $.parseJSON('{$from_data|json_encode}');

if($('#graph_line').length > 0) {
  Morris.Line({
    element: 'graph_line',
    xkey: 'date',
    ykeys: ['value'],
    labels: ['Value'],
    hideHover: 'auto',
    lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
    data: $general_data,
    resize: true
  });
}

if($('#areaPieChart').length > 0) {
  var ctx = document.getElementById("areaPieChart");
  var data = $area_data;
  var pieChart = new Chart(ctx, {
    data: data,
    type: 'pie',
    options: {
      pieceLabel: {
        render: 'percentage',
        fontColor: '#73879C',
        position: 'outside',
        fontSize: 14
      }
    }
  });
}
if($('#fromPieChart').length > 0) {
  var ctx2 = document.getElementById("fromPieChart");
  var data2 = $from_data;
  var pieChart2 = new Chart(ctx2, {
    data: data2,
    type: 'pie',
    options: {
      pieceLabel: {
        render: 'percentage',
        fontColor: '#73879C',
        position: 'outside',
        fontSize: 14
      }
    }
  });
}


</script>