<div class="block"><div>載入中...</div></div>
{include file="pageheader.htm"}
<div class="x_panel">
    <div class="form-inline">
        <input type="text" class="form-control" name="order" placeholder="訂單" value="{$order}">
        <input type="text" class="form-control" name="txn" placeholder="交易編號" value="{$txn}">
        <input type="button" class="btn btn-info" value="{$lang.query}" id="query_risk">
        <div style="width: 400px; position: absolute; right: 10px; top: 10px; z-index: 3000; background: #cccccc66;">
            <div class="col-md-12 toggle_risk_cat">高風險分類<span class="fa fa-plus pull-right"></span></div>
            <div class="col-md-12 risk_cat_detail">
                <table class="table table-border" style="font-size: 13px; margin-bottom: 0;">
                    {foreach from=$risk_cats item=name key=key}
                    {if $key % 4 eq 0}<tr {if $key % 8 eq 0}style="background: white;"{/if}>{/if}
                        <td style="padding: 4px; text-align: center;">{$name}</td>
                    {if $key % 4 eq 3}</tr>{/if}
                    {/foreach}
                </table>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-12 table-container" id="result"></div>
</div>
{include file="pagefooter.htm"}
<style>
.block {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #00000066;
}
.block div {
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
}
.score {
    font-size: 80px;
    text-align: center;
}
.no_result {
    font-size: 20px;
    text-align: center;
}
.score_desc, .txn_desc {
    font-size: 16px;
    text-align: right;
    padding-top: 10px;
    margin-bottom: 5px;
}
.table-container {
  display: table;
}
.table-container .table-row {
  height: 100%;
  display: table-row;
}
.table-container .table-row .table-col {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.detail_item h4 {
    padding-top: 5px;
}
span.orange {
    color: #ffa026;
}
.toggle_risk_cat {
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    padding: 10px;
}
.risk_cat_detail {
    display: none;
    padding-bottom: 10px;
}
</style>
<script>
    $(document).on("click", ".searchorder", function(e){
        $("input[name=order]").val($(e.target).val());
        $("button.close").click();
        $("#query_risk").click();
    })
$("#query_risk").click(function(e) {
    $(".block").show();
    $.ajax({
        url: 'fraud_control.php',
        data: {
            order: $("input[name=order]").val(),
            txn: $("input[name=txn]").val(),
            act: 'query'
        },
        dataType: 'json',
        success: function(res) {
            $(".block").hide();
            if (res.error == 1) {
                alert(res.message);
            } else {
                if (typeof res.content.orders !== 'undefined') {
                    if (res.content.orders == null) {}
                    else if (res.content.orders.length > 0) {
                        var html = res.content.orders.reduce((p,c)=>p += "<input class='btn btn-default searchorder' type='button' value='" + c.order_sn + "'>", "");
                        $popup = modal.create("請選擇訂單", html)
                        modal.show($popup)
                    } else {
                        alert("找不到訂單")
                    }
                } else if (typeof res.content.risk !== 'undefined') {
                    var risk = res.content.risk;
                    var overall_risk = risk.overall_risk;
                    overall_risk = overall_risk > 100 ? 100 : overall_risk < 0 ? 0 : overall_risk;
                    var overall_risk_span = "<span class='" + (overall_risk < 40 ? 'green' : overall_risk < 70 ? 'orange' : 'red') + "'>" + overall_risk + "</span>";
                    var html = "<div class='row table-row' style='min-height: 150px;'><div class='col-md-3 table-col'><div class='score'>" + overall_risk_span + "</div></div><div class='col-md-9 table-col'>";
                    var footer = "<div class='row table-row'><div class='col-md-3 table-col'><div class='score_desc'>風險系數</div></div><div class='col-md-9 table-col'>";
                    if (typeof risk.detail !== 'undefined') {
                        risk.detail.map(function (v, i) {
                            if (typeof v.Payment === 'undefined' && typeof v.Order === 'undefined' && typeof v.User === 'undefined') {
                                html += "<div class='col-md-3'><div class='no_result' style='border-left: 1px solid #ccc'>沒有詳細資料</div></div>";
                            } else {
                                html += "<div class='col-md-3 detail_item' style='border-left: 1px solid #ccc'>";
                                if (typeof v.Payment !== 'undefined') {
                                    html += "<div class='col-md-12'><h4>支付方式</h4></div>";
                                    for (var item in v.Payment) {
                                        html += "<div class='col-md-8'>" + item + "</div><div class='col-md-4' style='text-align: right'>" + v.Payment[item] + "</div>"
                                    }
                                }
                                if (typeof v.Order !== 'undefined') {
                                    html += "<div class='col-md-12'><h4>訂單</h4></div>";
                                    for (var item in v.Order) {
                                        html += "<div class='col-md-8'>" + item + "</div><div class='col-md-4' style='text-align: right'>" + v.Order[item] + "</div>"
                                    }
                                }
                                if (typeof v.User !== 'undefined') {
                                    html += "<div class='col-md-12'><h4>用戶</h4></div>";
                                    for (var item in v.User) {
                                        html += "<div class='col-md-8'>" + item + "</div><div class='col-md-4' style='text-align: right'>" + v.User[item] + "</div>"
                                    }
                                }
                                html += "</div>";
                            }
                            if (risk.paid == '1') {
                                footer += "<div class='col-md-3'><p class='txn_desc'>" + (typeof v.txn_id === "undefined" ? "" : "<a href='" + v.url + "' target='_blank' title='查看交易'>") + "第 " + (i + 1) + " 次支付 (" + (typeof v.success === "undefined" ? "未有記錄" : (v.success == "1" ? "<span class='green'>成功</span>" : "<span class='red'>失敗</span>")) + ")" + (typeof v.txn_id === "undefined" ? "" : "</a>") + "</p></div>";
                            } else {
                                footer += "<div class='col-md-3'><p class='txn_desc'>尚未付款</p></div>";
                            }
                        })
                    } else {
                        html += "<div class='col-md-3' style='border-left: 1px solid #ccc'><div class='no_result'>沒有詳細資料</div></div>";
                    }
                    html += "</div></div>";
                    footer += "</div>";
                    $("#result").html(html + footer)
                }
            }
            console.log(res)
        }
    })
})
$("#query_risk").click();
$(".toggle_risk_cat").click(function(){
    $(".risk_cat_detail").toggle();
    $(".toggle_risk_cat span").toggleClass("fa-minus fa-plus");
})
</script>