<!-- $Id: brand_list.htm 15898 2009-05-04 07:25:41Z liuhui $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
<form method="post" action="" name="listForm">
<!-- start brand list -->

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
  <table class="table table-striped table-bordered" id="brand">
    <thead>
      <tr class="headings">
        <th data-id="alert_id" data-key="alert_id">ID</th>
        <th data-id="content" >內容</th>
        <th data-id="end_time" data-value="end_time_format">結束時間</th>
        <th class="actionsCol" data-id="_action">{$lang.handler}</th>
      </tr>
    </thead>
    
    <tbody>
    </tbody>
  </table>
</div>
<!-- end brand list -->
</div>
</form>
{include file="pagefooter.htm"}
<script type="text/javascript" language="javascript">
  <!--
  var $table = yoho_dataTable();
  {literal}
  onload = function()
  {
      // 开始检查订单
      startCheckOrder();
  }
  {/literal}
  //-->
</script>