{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
{insert_scripts files="jquery.easypiechart.min.js"}
{include file="includes/datatables_header.htm"}
<style>
.team, .person {
    float: left;
    width: 100%;
    padding: 10px;
    padding: 10px;
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
    border-top: 1px solid #d7d7d7;
}
a[disabled] {
    pointer-events: none;
    opacity: 0.5;
}
.first-loading {
    position: fixed;
    width: 300px;
    height: 100px;
    border: 1px solid #e7e7e7;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    padding: 30px;
    font-size: 16px;
    background: white;
}
a.assign-btn {
    border: 1px solid #d7d7d7;
    padding: 6px;
    font-size: 12px;
    border-radius: 3px;
}
table.child-list {
    float: left;
    width: 100%;
    margin-top: 10px;
    line-height: 50px;
}
table.child-list>tbody>tr>td {
    line-height: 50px;
}
.progress {
    margin: 0px 30px;
}
.count {
    font-size: 28px !important;
}
.target-small{
    font-size: 60%;
 }
</style>
<div class=" x_panel">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div style="float: right;">本頁的<strong class="red">現時</strong>數據將每天第一次進入此頁面時更新</div>
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            {foreach from=$title_list item=title key=key name=title_ul}
                <li role="presentation" {if $smarty.foreach.title_ul.first} class="active" {/if}>
                    <a href="#{$key}_div" id="{$key}" role="tab" data-toggle="tab" aria-expanded="true">
                        {$title.role_name}
                    </a>
                </li>
            {/foreach}
        </ul>
        <div id="myTabContent" class="tab-content">
            {foreach from=$title_list item=title key=key name=title_ul}
                <div role="tabpanel" class="tab-pane fade {if $smarty.foreach.title_ul.first}active in{/if}" id="{$key}_div" aria-labelledby="{$key}">
                    <form class="form-inline" method="post" name="{$key}_form" enctype="multipart/form-data" id="goal_{$key}_form" onSubmit="event.preventDefault(); ajaxForm(this);">
                        <input type="hidden" name="team_code" value="{$key}" />
                        <input type="hidden" name="act" value="list" />
                        <div class="form-group" id="date">
                            <select class="form-control" data-noajax="1" name="year">
                                <option value="">{$lang.select_please}</option>
                                {foreach from=$year item=y}
                                <option value="{$y}" {if $now_year eq $y}selected="selected"{/if}>{$y}年</option>
                                {/foreach}
                            </select>
                            <select class="form-control" data-all="all" name="month">
                                <option value="">{$lang.select_please}</option>
                                {foreach from=$month key=m item=m_label}
                                <option value="{$m}" {if $now_month eq $m}selected="selected"{/if}>{$m_label}</option>
                                {/foreach}
                            </select>
                            <input type="submit" value=" 確定 " class="btn btn-success form-btn">
                            {if $key eq 'marketing'}<small>讀取Google/Facebook 需時較久, 請稍候</small>{/if}
                            {if $key neq 'product'}
                            <a href="goal_setting.php?act=upload&team={$key}&year={$now_year}&month={$now_month}" class="btn btn-default">上傳資料</a>
                            {/if}
                        </div>
                    </form>
                    <div id="{$key}_content">

                    </div>
                </div>
            {/foreach}
        </div>
    </div>
</div>
<div class="first-loading" style="display:none;">
    首次讀取數據需時, 請稍候
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="javascript">
$(document).ready(function(){
    $form = $('.tab-pane.active').find('form');
    $('.first-loading').show();
    $form.trigger('submit');
});
$('ul#myTab a[disabled]').on("click", function() {
    return false;
});
function ajaxForm($form) {
    $form_data = $($form).serializeArray().reduce(function(obj, item) {
        obj[item.name] = item.value;
        return obj;
    }, {});
    $id = $form_data['team_code']+'_content';
    $('ul#myTab a').attr("disabled", "disabled");
    $.ajax({
        url: 'goal_setting.php',
        data: $form_data,
        success: function (result) {
            $('ul#myTab a').removeAttr("disabled");
            $('.first-loading').hide();
            $('#'+$id).html(result);
        }
    }).done(function(){
        init_EasyPieChart();

    });


}
function ajaxRemove($goal_id, $this) {
    NProgress.start();
    $.ajax({
        url: 'goal_setting.php',
        data: {
            'act': 'remove',
            'id': $goal_id
        },
        success: function (result) {
            ajaxForm($('.tab-pane.active').find('form'));
        }
    });


}
</script>