{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
{include file="includes/datatables_header.htm"}
<style>
    .reference-box {
        margin-top: 10px;
    }
    option:disabled {
        color: #d3d3d3;
    }
    #team, #date, #target, #admin, #role, #extra_list {
        display: none;
    }
</style>
<div class=" x_panel">
    <form class="form-horizontal form-label-left" method="post" name="theForm" enctype="multipart/form-data" id="goal_form">
        <input type="hidden" name="act" value="create" />
        <input type="hidden" name="parent_id" value="{$parent.goal_id}" />
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group initial ajax-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">目標分類</label>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <select class="form-control" data-all="all" name="goal_type">
                        <option value="">{$lang.select_please}</option>
                        {foreach from=$list key=c_value item=c_label}
                        <option value="{$c_value}">{$c_label}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group ajax-group" id="team">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">目標部門</label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <select class="form-control" onchange="" name="team_code">
                        <option value="">{$lang.select_please}</option>
                        {foreach from=$team_list key=t_value item=t_label}
                        <option value="{$t_value}">{$t_label.role_name}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 role" id="role">
                        <label class="control-label col-md-3 ">系統角色</label>
                        <div class="col-md-6">
                            <select class="form-control" onchange="" name="role_id">
                                <option value="">{$lang.select_please}</option>
                                <!-- Ajax result -->
                            </select>
                        </div>
                </div>
            </div>
            <div class="form-group ajax-group" id="admin">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">負責人</label>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <select class="form-control" data-all="all" name="admin_id">
                        <option value="">{$lang.select_please}</option>
                    </select>
                </div>
            </div>
            <div class="form-group ajax-group" id="date">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">目標日期</label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <select class="form-control" data-noajax="1" name="year" onChange="clearMonth();">
                        <option value="">{$lang.select_please}</option>
                        {foreach from=$year item=y}
                        <option value="{$y}">{$y}年</option>
                        {/foreach}
                    </select>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <select class="form-control" data-all="all" name="month">
                        <option value="">{$lang.select_please}</option>
                        <option value="1">一月</option>
                        <option value="2">二月</option>
                        <option value="3">三月</option>
                        <option value="4">四月</option>
                        <option value="5">五月</option>
                        <option value="6">六月</option>
                        <option value="7">七月</option>
                        <option value="8">八月</option>
                        <option value="9">九月</option>
                        <option value="10">十月</option>
                        <option value="11">十一月</option>
                        <option value="12">十二月</option>
                        <option value="Q1">Q1</option>
                        <option value="Q2">Q2</option>
                        <option value="Q3">Q3</option>
                        <option value="Q4">Q4</option>
                    </select>
                </div>
            </div>
            <div class="form-group ajax-group" id="target">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">目標</label>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <select class="form-control" data-all="all" name="data_key" onChange="clearLevel2(this);">
                        <option value="">{$lang.select_please}</option>
                    </select>
                    <select style="margin-top: 5px;" id="extra_list" class="form-control ajax-group" data-all="all" name="extra_id">
                    </select>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <input name="data_value" class="form-control">
                </div>
                <div class="col-md-6 col-sm-8 reference-box col-md-offset-3 col-sm-offset-3">
                    <table align="center" class="table jambo_table table-bordered ">
                        <thead>
                            <tr>
                                <th style="text-align: center;">上年同期</th>
                                <th style="text-align: center;">上月/上季</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td nowrap="nowrap" id="last_year"></td>
                                <td nowrap="nowrap" id="last_month"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group" id="submit-group">
                <div class="ln_solid"></div>
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <input type="submit" class="btn btn-primary" value="{$lang.button_submit}" />
                    <input type="reset" class="btn btn-primary" value="{$lang.button_reset}" />
                </div>
            </div>
        </div>
    </form>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="javascript">
    var team_array = '{$team_list|json_encode}';

    $('input[name="data_value"]').on('change', function(){
        if($(this).val().length>0) {
            $('input[type="submit"]').attr('disabled', false);
        } else {
            $('input[type="submit"]').attr('disabled', true);
        }
    });
    $('select').on('change', function(){
        var $name = $(this).attr('name'),
            $value = $(this).val(),
            $extra = {};
        if($(this).data('noajax') == 1) return;
        if($(this).data('all') ) {
            $extra = $('#goal_form').serializeArray().reduce(function(obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});
        }
        $(this).closest('.ajax-group').nextAll('.ajax-group').hide();
        $(this).closest('.ajax-group').nextAll('.ajax-group').find(':input').not(':button, :submit, :reset')
        .val('').prop('selectedIndex',0);
        $.ajax({
            url: 'goal_setting.php',
            type: 'get',
            cache: false,
            data: {
                'act': 'get_create_step',
                'name': $name,
                'value': $value,
                'extra': $extra
            },
            dataType: 'json',
            success: function (result) {
                if (result.error) {
                    alert(result.message);
                } else {
                    if(result.content.next) {
                        $next = result.content.next;
                        if(result.content.data) {
                            $data = result.content.data;
                            $select = $('#'+$next).find('select');
                            $select.empty();
                            $count = Object.keys($data).length;
                            if($count != 1)$select.append('<option value="">{$lang.select_please}</option>');
                            $.each($data, function( index, value ) {
                                $select.append('<option value='+index+'>'+value+'</option>');
                            });
                            if($count == 1)$select.trigger('change');
                        }
                        $('#'+$next).show();
                    }
                    if(result.content.show) {
                        $show = result.content.show;
                        $.each($show, function( key, value ) {
                            $('#'+key).html('');
                            $('#'+key).html(value);
                        });
                    }

                }
            }
        });
    });

    function clearMonth() {
        $('[name=month]').val('').prop('selectedIndex',0);
        $('[name=month]').closest('.ajax-group').nextAll('.ajax-group').hide();
        $('[name=month]').closest('.ajax-group').nextAll('.ajax-group').find(':input').not(':button, :submit, :reset')
        .val('').prop('selectedIndex',0);
    }
    function clearLevel2($this) {
        var $val = $($this).val();
        var $type = $val.split('_');
        if($type[0] == 'category') {
            $('#extra_list').show();
        } else {
            $('#extra_list').hide();
        }
    }
</script>