<!-- $Id: goods_trash.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,../js/transport_jquery.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
  <!-- 商品搜索 -->
  {include file="goods_search.htm"}
  <!-- 商品列表 -->
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table id="goods" class="table table-striped table-bordered bulk_action">
      <thead>
        <tr class="headings">
          <th data-id="goods_id" data-key="goods_id">
            <input type="checkbox" id="check-all" class="flat">{$lang.record_id}
          </th>
          <th data-id="goods_name">{$lang.goods_name}</th>
          <th data-id="goods_sn">{$lang.goods_sn}</th>
          <th data-id="shop_price">{$lang.shop_price}</th>
          <!--th class="actionsCol" data-id="_action" data-sort="0">{$lang.handler}</th-->
        </tr>
      </thead>
      <tbody>
      <!-- Ajax -->
      </tbody>
    </table>
  </div>
  <!-- end goods list -->
  <div class="form-div col-md-5 col-sm-5 col-xs-5">
    <form class="form-inline" method="post" action="" name="listForm" onsubmit="return confirmSubmit(this)">
      <input type="hidden" name="act" value="batch" />
      <select class="form-control" name="type" id="selAction">
        <option value="">{$lang.select_please}</option>
        <option value="restore">{$lang.restore}</option>
        <option value="drop">{$lang.remove}</option>
      </select>
      <select name="target_cat" style="display:none" onchange="checkIsLeaf(this)"><option value="0">{$lang.select_please}</caption>{$cat_list}</select>
      <input type="submit" value="{$lang.button_submit}" id="btnSubmit" name="btnSubmit" class="form-btn btn btn-success" />
    </form>
  </div>
</div>
{include file="pagefooter.htm"}
<script language="JavaScript">
  $filter['list_type'] = 'trash';
  $('#goods').data('dt_params', $filter);
  var $goodsTable = yoho_dataTable();
  {literal}
  onload = function()
  {
    startCheckOrder(); // 开始检查订单
    document.forms['listForm'].reset();
  }

  function confirmSubmit(frm, ext)
  {
    $(frm).append('<input type="hidden" name="id" value="'+$goodsTable.getSelectValue()+'" />');
    if (frm.elements['type'].value == 'restore')
    {
      {/literal}
      return confirm("{$lang.restore_goods_confirm}");
      {literal}
    }
    else if (frm.elements['type'].value == 'drop')
    {
      {/literal}
      return confirm("{$lang.batch_drop_confirm}");
      {literal}
    }
    else if (frm.elements['type'].value == '')
    {
        return false;
    }
    else
    {
        return true;
    }
  }

  function changeAction()
  {
      var frm = document.forms['listForm'];

      if (!document.getElementById('btnSubmit').disabled &&
          confirmSubmit(frm, false))
      {
          frm.submit();
      }
  }
  {/literal}
</script>
