<!-- $Id: goods_export.htm 17107 2010-04-15 03:29:13Z liuhui $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,selectzone.js,validator.js"}
<div class="x_panel form-horizontal ">
    <form action="goods_export.php" method="post" name="searchForm" onsubmit="return queryGoods(this)">
        <div class="form-inline" >
            <strong>{$lang.custom_goods_search}</strong>
            <!-- 分类 -->
            <select name="cat_id"><option value="0">{$lang.custom_goods_cat}</option>{$cat_list}</select>
            <!-- 品牌 -->
            <select name="brand_id"><option value="0">{$lang.custom_goods_brand}</option>{html_options options=$brand_list}</select>
            <!-- 关键字 -->
            {$lang.custom_keyword} <input type="text" name="keyword" class="form-control"style="margin-top: -5px;"/>
            <!-- 搜索 -->
            <input type="submit" name="search_submit" id="search_submit" value="{$lang.export_condition_search}" class="btn btn-primary form-btn" style="margin-top: 0px;" />
        </div>
        <div class="col-md-12" >
            {include file="library/yoho_corporate_price_list.htm"}
        </div>
        <div class="form-group col-md-12">
            <div class="col-md-6 col-sm-6 col-xs-6 sz_left">
                {$lang.all_goods}
                <div class="col-xs-12 btn-group">
                    <input type="button" value=">" onclick="addGoods()" id="addGoods1" class="btn btn-default col-md-6 col-sm-6" />
                    <input type="button" value=">>" onclick="addGoods(1)" id="addAllGoods" class="btn btn-default col-md-6 col-sm-6" />
                </div>
                <select class="form-control" name="src_goods_lists" id="src_goods_lists" multiple="true">
                    {foreach from=$preselected_goods_list item=goods}
                    <option value="{$goods.goods_id}">{$goods.goods_name}</option>
                    {/foreach}
                </select>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 sz_right">
                {$lang.send_bouns_goods}
                <div class="col-xs-12 btn-group">
                    <input type="button" onclick="dropGoods()" value="<" id="delGoods" class="btn btn-default col-md-6 col-sm-6" />
                    <input type="button" onclick="dropGoods(1)" value="<<" id="delAllGoods" class="btn btn-default col-md-6 col-sm-6" />
                </div>
                <select class="form-control" name="dst_goods_lists" id="dst_goods_lists" multiple="true" size="20" >
                </select>
            </div>
        </div>
    </form>
    <div class="form-group">
        <strong>{$lang.export_format}</strong>
        <!-- 导出的数据格式 -->
        <select name="data_format" id="data_format">{html_options options=$data_format}</select>
        <div id="export_format" style="margin-top: 10px;"></div>
    </div>
</div>

<div id="ecshop_form" style="display:none">
    <form action="goods_export.php" method="post" name="theForm" onsubmit="return formValidate0()">
    <table width="100%" >
      <tr>
        <td class="label">{$lang.select_charset}</td>
        <td>
            <select name="charset" >
              <option value="UTF8">UTF8</option>
              <option value="UTF16">UTF16</option>
              <option value="BIG5">BIG5</option>
              <option value="GB2312">GB2312</option>
              <option value="GBK">GBK</option>
            </select>
        </td>
      </tr>
      <tr>
        <td>
            <input name="cat_id" type="hidden" value="" />
            <input name="brand_id" type="hidden" value="" />
            <input name="keyword" type="hidden" value="" />
            <input name="goods_ids" type="hidden" value="" />
            <input type="hidden" name="act" value="act_export_ecshop">
        </td>
        <td>
        <input name="submit" type="submit" id="submit" value="{$lang.button_submit}" class="btn btn-primary" />
        </td>
      </tr>
    </table>
    </form>
</div>
<div id="taobao_form" style="display:none">
<form action="goods_export.php" method="post" name="theForm1" onsubmit="return formValidate1()">
    <table width="100%" >
      <tr>
        <td class="label"><a href="javascript:showNotice('noticeGoodsClass');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.goods_class}</td>
        <td><input type="text" name="goods_class" value="0" /><br />
          <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeGoodsClass">{$lang.notice_goods_class}</span></tr>
      <tr>
      <tr>
        <td ></tr>
      <tr>
      <tr>
        <td class="label">{$lang.post_express}</td>
        <td><input type="text" name="post_express" value="0" /></tr>
      <tr>
      <tr>
        <td class="label">{$lang.express}</td>
        <td><input type="text" name="express" value="0" /></tr>
      <tr>
      <tr>
        <td class="label">{$lang.ems}</td>
        <td><input type="text" name="ems" value="0" /></tr>
      <tr>
      <tr>
        <td>&nbsp;    <input name="cat_id" type="hidden" value="" />
    <input name="brand_id" type="hidden" value="" />
    <input name="keyword" type="hidden" value="" />
    <input name="goods_ids" type="hidden" value="" /><input type="hidden" name="act" value="act_export_taobao"></td>
        <td><input name="submit" type="submit" id="submit" value="{$lang.button_submit}" class="btn btn-primary" /></td>
      </tr>
    </table>
    </form>
</div>
<div id="taobao V4.3_form" style="display:none">
<form action="goods_export.php" method="post" name="theForm1" onsubmit="return formValidate1()">
    <table width="100%" >
      <tr>
        <td class="label"><a href="javascript:showNotice('noticeGoodsClass');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.goods_class}</td>
        <td><input type="text" name="goods_class" value="0" /><br />
          <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeGoodsClass">{$lang.notice_goods_class}</span></tr>
      <tr>
      <tr>
        <td ></tr>
      <tr>
      <tr>
        <td class="label">{$lang.post_express}</td>
        <td><input type="text" name="post_express" value="0" /></tr>
      <tr>
      <tr>
        <td class="label">{$lang.express}</td>
        <td><input type="text" name="express" value="0" /></tr>
      <tr>
      <tr>
        <td class="label">{$lang.ems}</td>
        <td><input type="text" name="ems" value="0" /></tr>
      <tr>
      <tr>
        <td>&nbsp;    <input name="cat_id" type="hidden" value="" />
    <input name="brand_id" type="hidden" value="" />
    <input name="keyword" type="hidden" value="" />
    <input name="goods_ids" type="hidden" value="" /><input type="hidden" name="act" value="act_export_taobao V4.3"></td>
        <td><input name="submit" type="submit" id="submit" value="{$lang.button_submit}" class="btn btn-primary" /></td>
      </tr>
    </table>
    </form>
</div>
<div id="paipai_form" style="display:none">
    <form action="goods_export.php" method="post"  name="theForm2" onsubmit="return formValidate2()" class="tab-content form-horizontal form-label-left">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.post_express} </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="post_express" value="0" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.express} </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="express" value="0" />
            </div>
        </div>
        <div class="form-group">
            <div class="ln_solid"></div>
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <input name="cat_id" type="hidden" value="" />
                <input name="brand_id" type="hidden" value="" />
                <input name="keyword" type="hidden" value="" />
                <input name="goods_ids" type="hidden" value="" />
                <input type="hidden" name="act" value="act_export_paipai">
                <input name="submit" type="submit" id="submit" value="{$lang.button_submit}" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<div id="paipai4_form" style="display:none">
    <form action="goods_export.php" method="post"  name="theForm5" onsubmit="return formValidate5()" class="tab-content form-horizontal form-label-left">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.post_express} </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="post_express" value="0" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.express} </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="express" value="0" />
            </div>
        </div>
        <div class="form-group">
            <div class="ln_solid"></div>
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <input name="cat_id" type="hidden" value="" />
                <input name="brand_id" type="hidden" value="" />
                <input name="keyword" type="hidden" value="" />
                <input name="goods_ids" type="hidden" value="" />
                <input type="hidden" name="act" value="act_export_paipai4">
                <input name="submit" type="submit" id="submit" value="{$lang.button_submit}" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<div id="custom_form" style="display:none">
<form action="goods_export.php" method="post" name="theForm4" onsubmit="return formValidate4()" class="tab-content form-horizontal form-label-left">
    <table width="100%">
        <tr>
            <td>
                <div class="main-div" style="background-color: white;">
                    <table>
                        <tr>
                            <td width="45%" style="padding: 10px 0;">
                                <strong>{$lang.custom_goods_list}</strong>
                                <span style="margin-left:20px;">
                                    <select name="goods_type" id="goods_type">
                                        <option value="0">{$lang.custom_goods_type}</option>{$goods_type_list}
                                    </select>
                                </span>
                            </td>
                            <td rowspan="2" width="10%" style="text-align:center;">
                                <p><input type="button" value=">>" id="addAllItem" onClick="addGoodTypes(1)" class="btn btn-primary" /></p>
                                <p><input type="button" value=">" id="addItem" onClick="addGoodTypes()" class="btn btn-primary" /></p>
                                <p><input type="button" value="<" id="delItem" onClick="dropGoodTypes()" class="btn btn-primary" /></p>
                                <p><input type="button" value="<<" id="delAllItem" onClick="dropGoodTypes(1)"class="btn btn-primary" /></p>
                            </td>
                            <td width="45%"><strong>{$lang.custom_export_list}</strong></td>
                            <td rowspan="2" width="10%" style="text-align:center;padding: 10px;">
                                <p><input type="button" value="{$lang.custom_up}" id="mvUp" class="btn btn-primary" /></p>
                                <p><input type="button" value="{$lang.custom_down}" id="mvDown" class="btn btn-primary" /></p>
                            </td>
                        </tr>
                        <tr>
                            <td><select name="src_goods_fields" id="src_goods_fields" size="14" style="width:100%; height: 400px;" multiple="true">{html_options options=$goods_fields}
                                </select></td>
                            <td><select name="dst_goods_fields" id="dst_goods_fields" size="14" style="width:100%; height: 400px;" multiple="true">
                                </select></td>
                        </tr>
                        <tr>
                            <td class="label">
                                {$lang.select_charset}
                                <select name="charset_custom" style="margin: 10px;">
                                    <option value="UTF8">UTF8</option>
                                    <option value="UTF16">UTF16</option>
                                    <option value="BIG5">BIG5</option>
                                    <option value="GB2312">GB2312</option>
                                    <option value="GBK">GBK</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input name="cat_id" type="hidden" value="" />
                                <input name="brand_id" type="hidden" value="" />
                                <input name="keyword" type="hidden" value="" />
                                <input name="goods_ids" type="hidden" value="" />
                                <input type="hidden" name="act" value="act_export_custom" id="custom_act">
                                <input type="hidden" name="custom_goods_export" value="">
                                <input name="submit" type="submit" id="submit" value="{$lang.button_submit}" class="btn btn-primary" />
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</form>
</div>
<div id="stocktake_form" style="display:none">
<form action="goods_export.php" method="post"  name="theForm7" onsubmit="return formValidate7()">
  <table width="100%" >
    <tr>
      <td>&nbsp;    <input name="cat_id" type="hidden" value="" />
  <input name="brand_id" type="hidden" value="" />
  <input name="keyword" type="hidden" value="" />
  <input name="goods_ids" type="hidden" value="" /><input type="hidden" name="act" value="act_export_stocktake"></td>
      <td><input name="submit" type="submit" id="submit" value="{$lang.button_submit}" class="btn btn-primary" /></td>
    </tr>
  </table>
</form>
</div>
<div id="label_form" style="display:none">
<form action="goods_export.php" method="post"  name="theForm6" onsubmit="return formValidate6()">
  <table width="100%" >
    <tr>
      <td>&nbsp;    <input name="cat_id" type="hidden" value="" />
  <input name="brand_id" type="hidden" value="" />
  <input name="keyword" type="hidden" value="" />
  <input name="goods_ids" type="hidden" value="" /><input type="hidden" name="act" value="export_label"></td>
      <td><input name="submit" type="submit" id="submit" value="{$lang.button_submit}" class="btn btn-primary" /></td>
    </tr>
  </table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
<script language="JavaScript">

    var elements = document.forms['searchForm'].elements;
    var sz = new SelectZone(1, elements['src_goods_lists'], elements['dst_goods_lists'], '');
    var elements2 = document.forms['theForm4'].elements;
    var sz2 = new SelectZone(1, elements2['src_goods_fields'], elements2['dst_goods_fields'], '');
    function queryGoods(obj) {
        var filters = new Object;
        filters.cat_id = obj.cat_id.value;
        filters.brand_id = obj.brand_id.value;
        filters.keyword = obj.keyword.value;

        Ajax.call('goods_export.php?is_ajax=1&act=get_goods_list', filters, queryGoodsResponse, 'POST', 'JSON');
        return false;
    }

    function queryGoodsResponse(result) {
        if (result.error > 0) {
            alert(result.message);
            return;
        }
        Utils.$('src_goods_lists').innerHTML = '';
        for (var i = 0, l = result.content.length; i < l; ++i) {
            var new_opt = document.createElement('OPTION');
            new_opt.value = result.content[i].goods_id;
            new_opt.innerHTML = result.content[i].goods_name;
            Utils.$('src_goods_lists').appendChild(new_opt);
        }
    }
    function addGoods($all) {
        var leftSelect = elements['src_goods_lists'];
        var rightSelect = elements['dst_goods_lists'];
        var length = leftSelect.options.length;
        if ($all) {
            $('#src_goods_lists option').prop('selected', true);
        }
        for (var i = 0; i < length; i++) {
            if (leftSelect.selectedIndex != -1) {
                var option = leftSelect.options[leftSelect.selectedIndex];
                $(option).attr('data-crp_type', $('input[name="crp_price"]:checked').val());
                if($('input[name="crp_price"]:checked').val() == 1) {
                    $(option).attr('data-srp_percentage', $('input[name="srp_percentage"]').val());
                }
                $(option).html($(option).text()+" - "+$('input[name="crp_price"]:checked').attr('label'));
                rightSelect.append(option);
            }
        }
    }

    function dropGoods($all) {
        var leftSelect = elements['src_goods_lists'];
        var rightSelect = elements['dst_goods_lists'];
        var length = rightSelect.options.length;
        if ($all) {
            $('#dst_goods_lists option').prop('selected', true);
        }
        for (var i = 0; i < length; i++) {
            if (rightSelect.selectedIndex != -1) {
                var option = rightSelect.options[rightSelect.selectedIndex];
                str = $(option).text();
                strFine =str.substring(str.lastIndexOf(' - '));
                $(option).text($(option).text().replace(strFine, ''));
                $(option).removeAttr("data-srp_percentage");
                $(option).removeAttr("data-crp_type");
                leftSelect.append(option);
            }
        }
    }
    function addGoodTypes($all) {
        var leftSelect = elements2['src_goods_fields'];
        var rightSelect = elements2['dst_goods_fields'];
        var length = leftSelect.options.length;
        if ($all) {
            $('#src_goods_fields option').prop('selected', true);
        }
        for (var i = 0; i < length; i++) {
            if (leftSelect.selectedIndex != -1) {
                var option = leftSelect.options[leftSelect.selectedIndex];
                rightSelect.append(option);
            }
        }
    }

    function dropGoodTypes($all) {
        var leftSelect = elements2['src_goods_fields'];
        var rightSelect = elements2['dst_goods_fields'];
        var length = rightSelect.options.length;
        if ($all) {
            $('#dst_goods_fields option').prop('selected', true);
        }
        for (var i = 0; i < length; i++) {
            if (rightSelect.selectedIndex != -1) {
                var option = rightSelect.options[rightSelect.selectedIndex];
                leftSelect.append(option);
            }
        }
    }
    if (Utils.$('mvUp'))
    {
        Utils.$('mvUp').onclick = function ()
        {
            sz2.moveItem('up');
        }
    }
    if (Utils.$('mvDown'))
    {
        Utils.$('mvDown').onclick = function ()
        {
            sz2.moveItem('down');
        }
    }
    /**
     * 上一次操作的对象
     */
    window.last_form = new Object;
    /**
     * 初始化导出格式
     */
    function init_data_format ()
    {
        var _format = Utils.$('data_format');
        show_data_format(_format.value);
        _format.onchange = function ()
        {
            show_data_format(this.value);
        }
    }

    /**
     * 显示要导出的格式页面
     *
     * @param page string 页面
     *
     * @return void
     */
    function show_data_format (page)
    {
        if (page == 'custom_xls')
        {
            page = 'custom';
            Utils.$('custom_act').value = 'act_export_custom_xls';
        }
        else if (page == 'custom')
        {
            page = 'custom';
            Utils.$('custom_act').value = 'act_export_custom';
        }
        try
        {
            window.last_form.style.display = 'none';
        }
        catch (e)
        {
        }
        var _page = Utils.$(page+'_form');
        _page.style.display = '';
        Utils.$('export_format').appendChild(_page);
        window.last_form = _page;
    }
    if (Browser.isIE)
    {
        window.attachEvent("onload", init_data_format);
    }
    else
    {
        window.addEventListener("load", init_data_format, false);
    }
var elements;
    onload = function()
    {
        // 开始检查订单
        startCheckOrder();
    }

    function formValidate0()
    {
        var src_obj = document.forms['searchForm'];
        var dst_obj = document.forms['theForm'];
        copy_search_result(src_obj, dst_obj);
        return true;
    }
    /**
     * 检查输入是否完整
     */
    function formValidate2()
    {
        var elements = document.forms['theForm2'].elements;
        var msg = '';

        if (parseFloat(elements['post_express'].value) <= 0)
        {
            msg += post_express_not_null + '\n';
        }
        if (parseFloat(elements['express'].value) <= 0)
        {
            msg += express_not_null + '\n';
        }
        if (msg.length > 0)
        {
            alert(msg);
            return false;
        }
        else
        {
            var src_obj = document.forms['searchForm'];
            var dst_obj = document.forms['theForm2'];
            copy_search_result(src_obj, dst_obj);
            return true;
        }
    }

    /**
     * 检查输入是否完整
     */
    function formValidate1()
    {
        var elements = document.forms['theForm1'].elements;
        var msg = '';

        if (parseFloat(elements['post_express'].value) <= 0)
        {
            msg += post_express_not_null + '\n';
        }
        if (parseFloat(elements['express'].value) <= 0)
        {
            msg += express_not_null + '\n';
        }
        if (parseFloat(elements['ems'].value) <= 0)
        {
            msg += ems_not_null + '\n';
        }
        if (msg.length > 0)
        {
            alert(msg);
            return false;
        }
        else
        {
            var src_obj = document.forms['searchForm'];
            var dst_obj = document.forms['theForm1'];
            copy_search_result(src_obj, dst_obj);
            return true;
        }
    }

    /* 检查输入是否完整 */
    function formValidate4 ()
    {
        var elements = document.forms['theForm4'].elements;
        var msg = '';
        if (elements['dst_goods_fields'].options.length <= 0)
        {
            msg += custom_goods_field_not_null + '\n';
        }
        if (msg.length > 0)
        {
            alert(msg);
            return false;
        }
        else
        {
            elements['custom_goods_export'].value = '';
            for (var i=0,l=elements['dst_goods_fields'].options.length; i<l; i++)
            {
                var separator = (i==0)?'':',';
                elements['custom_goods_export'].value += separator + elements['dst_goods_fields'].options[i].value;
            }
            var src_obj = document.forms['searchForm'];
            var dst_obj = document.forms['theForm4'];
            copy_search_result(src_obj, dst_obj);
            return true;
        }
    }

    /**
     * 检查输入是否完整
     */
    function formValidate5()
    {
        var elements = document.forms['theForm5'].elements;
        var msg = '';

        if (parseFloat(elements['post_express'].value) <= 0)
        {
            msg += post_express_not_null + '\n';
        }
        if (parseFloat(elements['express'].value) <= 0)
        {
            msg += express_not_null + '\n';
        }
        if (msg.length > 0)
        {
            alert(msg);
            return false;
        }
        else
        {
            var src_obj = document.forms['searchForm'];
            var dst_obj = document.forms['theForm5'];
            copy_search_result(src_obj, dst_obj);
            return true;
        }
    }
    
    /* 检查输入是否完整 */
    function formValidate6 ()
    {
        var elements = document.forms['theForm6'].elements;
        var src_obj = document.forms['searchForm'];
        var dst_obj = document.forms['theForm6'];
        copy_search_result(src_obj, dst_obj);
        return true;
    }
    
    /* 检查输入是否完整 */
    function formValidate7 ()
    {
        var elements = document.forms['theForm7'].elements;
        var src_obj = document.forms['searchForm'];
        var dst_obj = document.forms['theForm7'];
        copy_search_result(src_obj, dst_obj);
        return true;
    }

    function copy_search_result(src_obj, dst_obj)
    {
        dst_obj.cat_id.value = src_obj.cat_id.value;
        dst_obj.brand_id.value = src_obj.brand_id.value;
        dst_obj.keyword.value = src_obj.keyword.value;
        dst_obj.goods_ids.value = '';
        if(document.getElementById("crp_type"))dst_obj.removeChild(document.getElementById("crp_type"));
        var input1 = document.createElement("input");
        input1.setAttribute("type", "hidden");
        input1.setAttribute("name", "crp_type");
        input1.setAttribute("id", "crp_type");
        dst_obj.appendChild(input1);
        var elements = document.forms['searchForm'].elements;
        var goods_lists = elements['dst_goods_lists'];
        var crp_type = {};
        var rp_pre   = [];
        for (var i=0,l=goods_lists.options.length; i<l; i++)
        {
            var separator = (i==0)?'':',';
            dst_obj.goods_ids.value += separator + goods_lists.options[i].value;
            crp_type[goods_lists.options[i].value] = {
                'crp_type': $(goods_lists.options[i]).attr('data-crp_type'),
                'srp_percentage': $(goods_lists.options[i]).attr('data-srp_percentage') || 0};
        }
        dst_obj.crp_type.value = JSON.stringify(crp_type);
    }

    /**
     * 绑定商品类型控件事件
     */
    if(Utils.$('goods_type'))
    {
        Utils.$('goods_type').onchange = function ()
        {
            Ajax.call('goods_export.php?is_ajax=1&act=get_goods_fields&cat_id='+this.value, '' , goodsFieldsResponse , 'POST', 'JSON');
        }
    }

    function goodsFieldsResponse (result)
    {
        if (result.error > 0)
        {
            alert(result.message);
            return;
        }
        Utils.$('src_goods_fields').innerHTML = '';
        for (var key in result.content)
        {
            if (typeof (result.content[key]) == 'string')
            {
                var new_opt = document.createElement('OPTION');
                new_opt.value = key;
                new_opt.innerHTML = result.content[key];
                Utils.$('src_goods_fields').appendChild(new_opt);
            }
        }
    }
</script>
{/literal}
{include file="pagefooter.htm"}
