
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<div class=" x_panel">
    <div class="row">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" {if $selected_status eq 1}class="active"{/if}>
                <a href="commission.php?act=report&amp;tab=1" >重點產品</a>
            </li>
            {if $priv_commission_statistics eq 1}
            <li role="presentation" {if $selected_status eq 2}class="active"{/if}>
            <a href="commission.php?act=report&amp;tab=2" >佣金統計</a>
            {/if}
        </li>
        </ul>
    </div>
    {if $selected_status eq 2}
        {include file="sale_commission.htm"}
    {else}
        <div class="form-div col-md-12 col-sm-12 col-xs-12">
            <form name="TimeInterval"  action="javascript:getImportantGoodsList()" class="form-inline">
                {$lang.start_date}&nbsp;
                <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="month" autocomplete="off"/>&nbsp;&nbsp;
                {$lang.end_date}&nbsp;
                <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="month" autocomplete="off"/>&nbsp;&nbsp;
                <input type="submit" id="submit" name="submit" value="{$lang.query}" class="btn btn-success form-btn" />
                {insert name=daterange_group}
                <a class="btn btn-primary form-btn export-to-excel" href="commission.php?act=download&amp;obj=importantGoods&amp;start_date={$start_date}&amp;end_date={$end_date}">轉成Excel</a>
            </form>
        </div>
        <div class="row">
            <ul id="timeTab" class="nav nav-tabs bar_tabs" role="tablist">
                {if !$date_range}
                    <li role="presentation" {if $selected_time eq $tab_end_date || empty($selected_time)}class="active"{/if}>
                        <a href="commission.php?act=report&amp;tab=1&amp;time={$tab_end_date}" >{$tab_end_date}</a>
                    </li>
                    <li role="presentation" {if $selected_time eq $tab_start_date}class="active"{/if}>
                        <a href="commission.php?act=report&amp;tab=1&amp;time={$tab_start_date}" >{$tab_start_date}</a>
                    </li>
                {/if}
                {foreach from=$date_range item=date name=time}
                    <li role="presentation" {if $selected_time eq $date }class="active"{/if}>
                        <a href="commission.php?act=report&amp;tab=1&amp;time={$date}&amp;start_date={$start_date}&amp;end_date={$end_date}&amp;date_range={$date_range_str}" >{$date}</a>
                    </li>
                {/foreach}
            </ul>
        </div>
        <!-- 重點產品銷售列表 -->
        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
            <table id="goods_important" class="table table-bordered table-striped  bulk_action "><!--  add if need :text-nowrap -->
                <thead>
                    {if $total_salesperson neq 0}
                        <tr>    
                            <td colspan="5"></th>
                            <td colspan="{$total_salesperson}">實際銷量</th>
                        </tr>
                    {/if}
                    <tr class="headings">
                        <th data-id="goods_id" data-key="goods_id">
                            產品ID
                        </th>
                        <th data-id="goods_name" data-class="td_goods_name" style="width:30%">產品名稱</th>
                        <th data-id="estimated_sales" {if $priv_estimated_sales_manage eq 1} data-value="estimated_sales_underline" data-edit="1" {/if}>預計銷量</th>
                        <th data-id="commission" data-value="commission_formatted">每件佣金</th>
                        <th data-id="estimated_total_commission" data-value="estimated_total_commission_formatted">預計總佣金</th>
                        {foreach from=$salesperson item=sales}
                            {foreach from=$sales item=value}
                                <th data-id="{$value}" data-sort=0>{$value}</th>
                            {/foreach}
                        {/foreach}
                    </tr>
                </thead>
                <tbody>
                <!-- Ajax -->
                </tbody>
            </table>
    {/if}
    

</div>
{if $selected_status neq 2}
{include file="pagefooter.htm"}
{/if}
<script language="JavaScript">
    {if $selected_status eq 1}
    yohoTable.deferLoading = "{$record_count}";
    yohoTable.dataSet = {$important_goods|json_encode};
    var $table = yoho_dataTable();
    {/if}
    var $filter = [];
    function getImportantGoodsList()
    {
        var frm =  document.forms['TimeInterval'];
        var start_date = frm.elements['start_date'].value;
        var end_date = frm.elements['end_date'].value;
        var date_range = dateRange(start_date,end_date).reverse();
        var date_range_len = date_range.length;
        var html = "";
        for(var i=0; i<date_range_len; i++) {
            date = date_range[i];
            if(i==0) {
                html += '<li role="presentation" class="active">' +
                        '<a href="commission.php?act=report&amp;tab=1&amp;time='+date+'">'+date+'</a>' +
                    '</li>';
            } else {
                html += '<li role="presentation">' +
                            '<a href="commission.php?act=report&amp;tab=1&amp;time='+date+'&amp;start_date='+start_date+'&amp;end_date='+end_date+'&amp;date_range='+date_range+'">'+date+'</a>' +
                        '</li>';
            }
            
        }     
        $('.export-to-excel').attr("href","commission.php?act=download&obj=importantGoods&start_date="+start_date+"&end_date="+end_date);
        $('#timeTab').html(html);    
        $filter['end_date'] = end_date;
        // Set dynamic parameters for the data table
        

        // Redraw data table, causes data to be reloaded
        // $('#goods_important').DataTable().ajax.reload();
        $('#goods_important').DataTable().destroy();
        $('#goods_important').empty();
        $.ajax({
            url: 'commission.php?act=query&tab=1&end_date='+end_date,
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (res) {
                var data = res.data;
                var salesperson = res.extraData;
                var salesperson_len = salesperson.length;
                html = '';
                if (salesperson_len!=0) {
                    html = '<tr><td colspan="5"></th><td colspan="'+salesperson_len+'">實際銷量</th></tr>';
                }
                $('#goods_important').html(
                    '<thead>'+
                        html +
                        '<tr class="headings">'+
                            '<th data-id="goods_id" data-key="goods_id">產品ID</th>'+
                            '<th data-id="goods_name" data-class="td_goods_name" style="width:30%">產品名稱</th>'+
                            '<th data-id="estimated_sales" {if $priv_estimated_sales_manage eq 1} data-value="estimated_sales_underline" data-edit="1" {/if}>預計銷量</th>'+
                            '<th data-id="commission" data-value="commission_formatted">每件佣金</th>'+
                            '<th data-id="estimated_total_commission" data-value="estimated_total_commission_formatted">預計總佣金</th>'+
                        '</tr>'+
                    '</thead>'
                );
                for (var i =0; i<salesperson_len; i++) {
                    $('.headings').append('<th data-id="' + salesperson[i] + '" data-sort=0>' + salesperson[i] + '</th>');
                }
                yohoTable.dataSet = data;
                $('#goods_important').data('dt_params', $filter);
                yoho_dataTable();
            }
        })
        $('#start_date').val(start_date.substring(0,7));
        $('#end_date').val(end_date.substring(0,7));
        
    }
    function dateRange(startDate, endDate) {
        var start      = startDate.split('-');
        var end        = endDate.split('-');
        var startYear  = parseInt(start[0]);
        var endYear    = parseInt(end[0]);
        var dates      = [];
        var dates_zh      = [];
        for(var i = startYear; i <= endYear; i++) {
            var endMonth = i != endYear ? 11 : parseInt(end[1]) - 1;
            var startMon = i === startYear ? parseInt(start[1])-1 : 0;
            for(var j = startMon; j <= endMonth; j = j > 12 ? j % 12 || 11 : j+1) {
                var month = j+1;
                var displayMonth = month < 10 ? '0'+month : month;
                dates.push([i, displayMonth].join('-'));
            }
        }
        return dates;
    }
</script>

