
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form action="javascript:getList()" name="searchForm" class="form-inline">
      <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
      &nbsp;搜尋產品 <input type="text" name="keyword" id="keyword" class="form-control" size="30" placeholder="產品名稱或貨號">
      <input class="form-btn btn btn-success" type="submit" value="{$lang.button_search}" />
    </form>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table class="table table-striped table-bordered" id="goods_cost_log">
      <thead>
        <tr class="headings">
          <th data-key="log_id" data-id="log_id">{$lang.record_id}</th>
          <th data-id="goods_thumb" data-type="image">產品圖片</th>
          <th data-id="goods_name">產品名稱</th>
          <th data-id="goods_sn">Barcode</th>
          <th data-id="old_cost">原成本價</th>
          <th data-id="new_cost">新成本價</th>
          <th data-id="update_type_text">更新類型</th>
          <th data-id="update_date">更新時間</th>
          <th data-id="admin_name">操作員</th>
          <th data-id="warehousing_sn">關聯入貨單</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
{literal}
<!--
yohoTable.rowCallback = function( row, data, dataIndex ) {

  var $goods_name = data.goods_name;
  var $goods_sn   = data.goods_sn;
  $goods_sn_url = $('<a>',{
    href: 'goods.php?act=list&amp;keyword='+data.goods_sn,
    text: $goods_sn
  });
  $(row).find('.goods_sn').html($goods_sn_url);
  if(data.goods_id != 0) {
    $goods_name_url = $('<a>',{
      href: '/goods.php?id='+data.goods_id,
      target: '_blank',
      text: $goods_name
    });
    $(row).find('.goods_name').html($goods_name_url);
  } else {
    $(row).find('.goods_name').html($goods_name);
  }
  if(data.warehousing_id > 0) {
    $warehousing_sn_url = $('<a>',{
      href: 'erp_warehousing_manage.php?act=list&amp;warehousing_sn='+data.warehousing_sn,
      text: data.warehousing_sn
    });
    $(row).find('.warehousing_sn').html($warehousing_sn_url);
  } else {
    $(row).find('.warehousing_sn').html('N/A');
  }
}
var $table = yoho_dataTable();
function getList()
{
  $filter = [];
  $filter['keyword'] = document.forms['searchForm'].elements['keyword'].value;

  // Set dynamic parameters for the data table
  $('#goods_cost_log').data('dt_params', $filter);

  // Redraw data table, causes data to be reloaded
  $('#goods_cost_log').DataTable().draw();
}

//-->
</script>
{/literal}
