{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
  <!-- 產品佣金搜索 -->
  {include file="goods_commission_search.htm"}
  <!-- 產品佣金列表 -->
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table id="commission" class="table table-bordered table-striped  bulk_action "><!--  add if need :text-nowrap -->
      <thead>
        <tr class="headings">
          <th data-id="goods_id" data-key="goods_id">
              {$lang.record_id}
          </th>
          <th data-id="goods_name" data-class="td_goods_name" style="width:30%">名稱</th>
          <th data-id="is_important_str">重點產品</th>
          <th data-id="time">時間</th>
          <th data-id="goods_stock" data-url="erp_stock_inquiry.php?act=list&amp;goods_sn={goods_sn}" >庫存</th>
          <th data-id="shop_price" data-value="shop_price_formatted" data-type="price" >價格</th>
          <th data-id="commission" {if $priv_product_commission_update eq 1} data-value="commission_underline" data-edit="1" {/if}>佣金</th>
        </tr>
      </thead>
      <tbody>
      <!-- Ajax -->
      </tbody>
    </table>
  </div>
</div>
{include file="pagefooter.htm"}
<script language="JavaScript">
  yohoTable.deferLoading = "{$record_count}";
  yohoTable.dataSet = {$commission_list|json_encode};
  var $table = yoho_dataTable();
</script>