<!-- $Id: goods_type_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,validator.js"}

<div class=" x_panel">
  <form action="" method="post" name="theForm" onsubmit="return validate();">
    <table cellspacing="1" cellpadding="3" width="100%">
      <tr>
        <td class="label">{$lang.goods_type_name}:</td>
        <td><input type="text" name="cat_name" value="{$goods_type.cat_name|escape}" size="40" />
        {$lang.require_field}</td>
      </tr>
      <tr style="display:none">
        <td class="label">{$lang.goods_type_status}:</td>
        <td>{html_radios name="enabled" options=$lang.arr_goods_status checked=$goods_type.enabled}</td>
      </tr>
      <tr>
        <td class="label"><a href="javascript:showNotice('noticeAttrGroups');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a> {$lang.attr_groups}:</td>
        <td>
          <textarea name="attr_group" rows="5" cols="40">{$goods_type.attr_group|escape}</textarea><br />
          <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeAttrGroups">{$lang.notice_attr_groups}</span>
        </td>
      </tr>
      <tr align="center">
        <td colspan="2">
          <input type="hidden" name="cat_id" value="{$goods_type.cat_id}" />
          <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
          <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
          <input type="hidden" name="act" value="{$form_act}" />
        </td>
      </tr>
    </table>
  </form>
</div>

<script type="text/javascript">
<!--
{literal}
onload = function() {
  document.forms['theForm'].elements['cat_name'].focus();
  startCheckOrder();
}

function validate()
{
  var validator = new Validator('theForm');
  validator.required('cat_name', type_name_empty);

  return validator.passed();
}
{/literal}  
//-->
</script>

{include file="pagefooter.htm"}
