{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}

<style>
.type_stat {
    margin-bottom: 30px;
}
.type_stat .row {
    display: flex;
    align-items: center;
}
.type_stat .col-md-6, .type_stat .col-md-3 {
    text-align: center;
}
.type_stat .col-md-2 div.head {
    font-weight: bold
}
.type_stat .col-md-4, #brand-div .col-md-12, #cat-div .col-md-12, #all_cat-div .col-md-12 {
    text-align: right;
}
th.brand_sort, th.cat_sort {
    cursor: pointer;
}
div.stat_sum {
    display: inline-block;
    text-align: center;
    width: 100px;
}
</style>

<div class=" x_panel">
    <div class="tab-div col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active"><a href="#full-div" id="full-tab" role="tab" data-toggle="tab" aria-expanded="true">產品表現</a></li>
            <li role="presentation"><a href="#brand-div" id="brand-tab" role="tab" data-toggle="tab" aria-expanded="true">品牌表現</a></li>
            <li role="presentation"><a href="#cat-div" id="cat-tab" role="tab" data-toggle="tab" aria-expanded="true">分類表現</a></li>
            <li role="presentation"><a href="#all_cat-div" id="cat-tab" role="tab" data-toggle="tab" aria-expanded="true">所有分類表現</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="full-div" aria-labelledby="full-tab">
                <table class="table table-striped table-bordered bulk_action">
                    <thead>
                        <tr>
                            <th data-id="ranking" data-sort="0" width="50">排名</th>
                            <th data-id="goods_name" data-sort="0" width="350">產品名稱</th>
                            <th data-id="stock" data-sort="0" width="50">庫存</th>
                            <th data-id="{$sort_by}_7" data-value="perf_{$sort_by}_7to7" width="150">7日表現</th>
                            <th data-id="sales_7" data-value="perf_sales_7to7" width="150">7日轉換</th>
                            <th data-id="{$sort_by}_30" data-value="perf_{$sort_by}_30to30" width="150">30日表現</th>
                            <th data-id="sales_30" data-value="perf_sales_30to30" width="150">30日轉換</th>
                            <th data-id="{$sort_by}_lifetime" data-value="perf_{$sort_by}_lifetime" width="100">Lifetime表現</th>
                            <th data-id="sales_lifetime" data-value="perf_sales_lifetime" width="100">Lifetime轉換</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="brand-div" aria-labelledby="brand-tab"></div>
            <div role="tabpanel" class="tab-pane fade" id="cat-div" aria-labelledby="cat-tab"></div>
            <div role="tabpanel" class="tab-pane fade" id="all_cat-div" aria-labelledby="all_cat-tab"></div>
        </div>
    </div>
</div>

{include file="pagefooter.htm"}
<script>
    drawType('brand');
    drawType('cat');
    drawType('all_cat');
    $(document).on('click', 'th.brand_sort', function(e) {
        drawType('brand', $(e.target).data('key'));
    })
    $(document).on('click', 'th.cat_sort', function(e) {
        drawType('cat', $(e.target).data('key'));
    })
    $(document).on('click', 'th.all_cat_sort', function(e) {
        drawType('all_cat', $(e.target).data('key'));
    })
    $table = yoho_dataTable();

    function drawType(type, sort)
    {
        sort = typeof sort === "undefined" ? "{$sort_by}_7" : sort;
        $.ajax({
            url: 'goods_statistics.php',
            dataType: 'json',
            data: {
                act: 'query_' + type,
                index: '{$index}',
                sort_by: sort
            },
            success: function(res) {
                var data = res.content;
                $("#" + type + "-div").html("<div class='row'><div class='col-md-12 red'><h4>* 只顯示表現最好之20%產品 (最多" + (type != 'cat' ? 10 : 50) + "件)</h4></div></div>");
                data.map(function (src) {
                    $container = $("<div class='type_stat'></div>");
                    $container.append("<div class='row'>" +
                                            "<div class='col-md-6 col-lg-8'><h3>" + src[type + "_name"] + "</h3></div>" +
                                            "<div class='col-md-3 col-lg-2' title='Avg: " + src.avg.{$sort_by}_7 + " / " + src.avg.{$sort_by}_30 + "'><div class='head'>表現</div>" + src.perf_total_{$sort_by}_7to7 + " / " + src.perf_total_{$sort_by}_30to30 + "</div>" +
                                            "<div class='col-md-3 col-lg-2' title='Avg: " + src.avg.sales_7 + " / " + src.avg.sales_30 + "'><div class='head'>轉換</div>" + src.perf_total_sales_7to7 + " / " + src.perf_total_sales_30to30 + "</div>" +
                                    "</div>");
                    $table = $("<table class='table table-striped table-bordered bulk_action dataTable'>" +
                                    "<thead>" +
                                        "<tr>" +
                                            "<th>排名</th>" +
                                            "<th width='650'>產品名稱</th>" +
                                            "<th width='50'>庫存</th>" +
                                            "<th class='" + type + "_sort' data-key='{$sort_by}_7' width='200'>7日表現</th>" +
                                            "<th class='" + type + "_sort' data-key='sales_7' width='200'>7日轉換</th>" +
                                            "<th class='" + type + "_sort' data-key='{$sort_by}_30' width='200'>30日表現</th>" +
                                            "<th class='" + type + "_sort' data-key='sales_30' width='200'>30日轉換</th>" +
                                            "<th class='" + type + "_sort' data-key='{$sort_by}_lifetime' width='150'>Lifetime表現</th>" +
                                            "<th class='" + type + "_sort' data-key='sales_lifetime' width='150'>Lifetime轉換</th>" +
                                        "</tr>" +
                                    "</thead>" +
                                "</table>");
                    src.detail.map(function(goods, i) {
                        $tr = $("<tr>" +
                                    "<td>" + (i + 1) + "</td>" +
                                    "<td>" + goods.goods_name + "</td>" +
                                    "<td>" + goods.stock + "</td>" +
                                    "<td>" + goods.perf_{$sort_by}_7to7 + "</td>" +
                                    "<td>" + goods.perf_sales_7to7 + "</td>" +
                                    "<td>" + goods.perf_{$sort_by}_30to30 + "</td>" +
                                    "<td>" + goods.perf_sales_30to30 + "</td>" +
                                    "<td>" + goods.perf_{$sort_by}_lifetime + "</td>" +
                                    "<td>" + goods.perf_sales_lifetime + "</td>" +
                                "</tr>");
                        var col = 0;
                        var title = "";
                        if (parseFloat(src.avg.{$sort_by}_7) > parseInt(goods.{$sort_by}_7) && sort ==  "{$sort_by}_7") {
                            title = '7日表現低於平均 (' + src.avg.{$sort_by}_7 + ')';
                            col = 3;
                        } else if (parseFloat(src.avg.sales_7) > parseInt(goods.sales_7) && sort ==  "sales_7") {
                            title = '7日轉換低於平均 (' + src.avg.sales_7 + ')';
                            col = 4;
                        } else if (parseFloat(src.avg.{$sort_by}_30) > parseInt(goods.{$sort_by}_30) && sort ==  "{$sort_by}_30") {
                            title = '30日表現低於平均 (' + src.avg.{$sort_by}_30 + ')';
                            col = 5;
                        } else if (parseFloat(src.avg.sales_30) > parseInt(goods.sales_30) && sort ==  "sales_30") {
                            title = '30日轉換低於平均 (' + src.avg.sales_30 + ')';
                            col = 6;
                        }
                        if (title != '') {
                            $tr.find('td:nth-child(2)').attr('title', title);
                        }
                        if (col != 0) {
                            $tr.find('td:nth-child(2), td:nth-child(' + col + ')').addClass('red');
                        }
                        $table.append($tr)
                    })
                    $table.find('th[data-key=' + sort + ']').addClass('sorting_desc')
                    $container.append($table)
                    $("#" + type + "-div").append($container)
                })
            }
        })
    }
</script>