{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}

<style>
    #error_block{
      border: 1px solid #CC0000; 
      color:red; 
      font-size: 14px; 
      line-height: 1.3;
      padding: 5px;
      /* width: 100%; */
      display: none;
    }
   
    #success_block{
       border: 1px solid green; 
       color:green; 
       font-size: 14px; 
       line-height: 1.3;
       padding: 5px;
       /* width: 100%; */
       display: none;
    }
</style>

<div id="form-div" class=" x_panel">
    <div> 匯入產品尺寸資料(Excel)
      <form action="" id="goods_shipping_dimension_file_upload_form" method="post" enctype="multipart/form-data" class="form-inline">
        <div class='section' style="padding:10px">
          <div style="text-align:right">
            <a class="action_button btn btn-primary" href="goods_shipping_dimension_import.php?act=download_category_shipping_dimension_template">下載Excel 模板(類別下所有產品)</a>
            <a class="action_button btn btn-primary" href="goods_shipping_dimension_import.php?act=download_goods_shipping_dimension_template">下載Excel 模板(個別產品)</a>
            <a class="action_button btn btn-primary" href="goods_shipping_dimension_import.php?act=download_goods_with_incomplete_shipping_dimension">下載尺寸未齊全產品清單</a>
          </div>
          <input name="import_excel" id="import_excel" class="file form-control" type="file" accept=".xls,.xlsx"><br/>
          <label>
            更新類別預設尺寸
            <input name="update_cat_default" id="update_cat_default" class="form-control" type="checkbox" />
          </label><br>
          <div class="ln_solid"></div>
          <p><input id="upload" class="submit btn btn-primary" type="button" value="上傳"></p>
        </div>
      </form>
  </div>                           
</div>
<div id="error_block" class=" x_panel"></div>
<div id="success_block" class=" x_panel"></div>

{include file="pagefooter.htm"}

<script type="Text/Javascript" language="JavaScript">

{literal}
$('#upload').click(function(){
    $('#success_block').hide();
    $('#error_block').hide();
  
    var formData = new FormData();
    formData.append('import_excel', $('#import_excel')[0].files[0]);
    formData.append("act", 'upload');
    formData.append("update_cat_default", $('#update_cat_default').prop('checked'));

    $.ajax({
        url : 'goods_shipping_dimension_import.php',
        type : 'POST',
        dataType: 'JSON',
        data : formData,
        processData: false,  // tell jQuery not to process the data
        contentType: false,  // tell jQuery not to set contentType
        success : function(data) {
           if (data.error == 1) {
              $('#success_block').hide();
              $('#error_block').show();
              $('#error_block').html(data.message);
           } else {        
              $('#error_block').hide();
              $('#success_block').show();
              $('#success_block').html(data.message);
           }
        }
    });
});
//-->
</script>
