{include file="pageheader.htm"}
{insert_scripts files="i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
<!-- validator -->
<script src="js/yaireo.validator.js"></script>
<form action="{$form_redirect}" method="post" name="theForm" enctype="multipart/form-data"
      class="form-horizontal form-label-left">
    <div class=" x_panel">
        {foreach from=$member_list key=key item=member}
            {if $member.rank_id != 2 && $member.program_name == ''}
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{if $member.program_name }{$member.program_name}{else}{$member.rank_name}{/if}價</label>
                <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" name="member_price[{$member.rank_id}]" value="{$member.user_price}" size="20">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <input type="number" class="form-control" name="max_amount[{$member.rank_id}]" value="{$member.max_amount}" size="5">
                            <div class="input-group-addon">件</div>
                        </div>
                    </div>
                    <span class="form-helper">此優惠可購買的數量上限(0為不限制)</span>
                </div>
            </div>
            {/if}
        {/foreach}
        <div class="form-group">
            <div class="ln_solid"></div>
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <input type="hidden" name="act" value="{$form_action}"/>
                <input type="hidden" name="id" value="{$id}"/>
                <input type="submit" value="{$lang.button_submit}" class="btn btn-primary"/>
                <input type="reset" value="{$lang.button_reset}" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</form>
{include file="pagefooter.htm"}
