<!-- $Id: goods_search.htm 16790 2009-11-10 08:56:15Z wangleisvn $ -->
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="javascript:searchGoods()" name="searchForm" class="form-inline">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    {if $smarty.get.act neq "trash"}
    <!-- 分类 -->
    <select class="form-control" name="cat_id" id="cat_name"><option value="0">{$lang.goods_cat}</option></select>
    <!-- 品牌 -->
    <select class="form-control" name="brand_id" id="brand_name"><option value="0">{$lang.goods_brand}</option></select>
    <!-- 推荐 -->
    <select name="intro_type" class="form-control"><option value="0">{$lang.intro_type}</option>{html_options options=$intro_list selected=$smarty.get.intro_type}</select>
    {if $suppliers_list_name}
    <!-- 供货商 -->
    <select class="form-control" name="suppliers_id" id="suppliers_name"><option value="0">所有供應商</option></select>
    {/if}
    <!-- 上架 -->
    <select name="is_on_sale" class="form-control">
      <option value=""{if $is_on_sale eq ''} selected="selected"{/if}>{$lang.intro_type}</option>
      <option value="1"{if $is_on_sale eq '1'} selected="selected"{/if}>{$lang.on_sale}</option>
      <option value="0"{if $is_on_sale eq '0'} selected="selected"{/if}>{$lang.not_on_sale}</option>
    </select>
    <!-- 保養條款 -->
    <select name="warranty_template_id" class="form-control">
      <option value="-1">所有保養條款</option>
      {foreach from=$warranty_templates item=warranty_template}
      <option value="{$warranty_template.template_id}">{$warranty_template.template_name}</option>
      {/foreach}
      <option value="0">自定義</option>
    </select>
    <!-- warehouse -->
    <select name="goods_warehouse" class="form-control">
      <option value="">所有貨倉產品</option>
        {foreach from=$goods_warehouse_list item=warehouse}
        <option value="{$warehouse.code}">{$warehouse.name}</option>
        {/foreach}
    </select>
    {/if}
    <!-- 关键字 -->
    <!--{$lang.keyword} <input type="text" class="form-control" name="keyword" size="15" value="{$keyword}" />-->
    {$lang.include_goods} <input placeholder="{$lang.include_goods_hint}" class="form-control" type="text" name="include_goods" size="30" value="{$search_parm.include_goods}"/>
    <!-- price.com.hk integration -->
    <!--顯示 price <input type="checkbox" name="show_pricecomhk" class="form-control flat" value="1"{if $show_pricecomhk} checked="checked"{/if}>-->
    <!--呆壞貨 <input type="checkbox" name="show_slowsoldgoods" class="form-control flat" value="1"{if $show_slowsoldgoods} checked="checked"{/if}>-->
    <input type="submit" value="{$lang.button_search}" class="form-btn btn btn-success" />
    <!-- vip價格異常 -->
    {if $vip_abnormal_count gt 0 }
    <span class="vip_abnormal red" style="font-weight: bold; vertical-align: -webkit-baseline-middle;">
      <i class="fa fa-exclamation-circle fa-2x" style="color: #faad14;"></i><span style="display: inline-block;vertical-align: super;text-decoration: underline;cursor: pointer;" class="vip_abnormal_count">VIP價格異常({$vip_abnormal_count})</span>
    </span>
    {/if}
  </form>
</div>

<script language="JavaScript">
    var $filter = [];

    function searchGoods()
    {
      $filter = [];
      {/literal}
      {if $smarty.get.act neq "trash"}
      $filter['cat_id'] = document.forms['searchForm'].elements['cat_id'].value;
      $filter['brand_id'] = document.forms['searchForm'].elements['brand_id'].value;
      $filter['intro_type'] = document.forms['searchForm'].elements['intro_type'].value;
      {if $suppliers_list_name}
      $filter['suppliers_id'] = document.forms['searchForm'].elements['suppliers_id'].value;
      {/if}
      $filter['is_on_sale'] = document.forms['searchForm'].elements['is_on_sale'].value;
      $filter['warranty_template_id'] = document.forms['searchForm'].elements['warranty_template_id'].value;
      $filter['goods_warehouse'] = document.forms['searchForm'].elements['goods_warehouse'].value;
      {else}
      $filter['list_type'] = 'trash';
      {/if}
      {literal}
      $filter['vip_abnormal'] = 0;
      //$filter['keyword'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
      $filter['include_goods'] = Utils.trim(document.forms['searchForm'].elements['include_goods'].value);
      //$filter['show_pricecomhk'] = document.forms['searchForm'].elements['show_pricecomhk'].checked ? 1 : 0;
      //$filter['show_slowsoldgoods'] = document.forms['searchForm'].elements['show_slowsoldgoods'].checked ? 1 : 0;

      // Set dynamic parameters for the data table
      $('#goods').data('dt_params', $filter);

      // Redraw data table, causes data to be reloaded
      $('#goods').DataTable().draw();
      }
      $('.vip_abnormal').click(function(){
        $filter['vip_abnormal'] = 1;
        // Set dynamic parameters for the data table
        $('#goods').data('dt_params', $filter);

        // Redraw data table, causes data to be reloaded
        $('#goods').DataTable().draw();
      });

      

      var cat_list = [];

      cat_list.push({
          id: 0,
          text: "{$lang.goods_cat}",
          html: "<span>{$lang.goods_cat}</span>",
      
      });

      {foreach from=$cat_list item=cat}        
        cat_list.push({
            id: {$cat.cat_id},
            text: "{$cat.cat_name}",
            html: "<span>{$cat.cat_name_by_level}</span>",
        
        }) 
      {/foreach}
      
      $("#cat_name").select2({
          width: 'resolve',
          matcher: modelMatcher,
          allowClear: false,
          placeholder: '所有分類',
          data: cat_list,
          escapeMarkup: function(markup) {
              return markup;
          },
          templateResult: function(data) {
              return data.html;
          },
      });

      var brand_list = [];

      brand_list.push({
          id: 0,
          text: "{$lang.goods_brand}",
          html: "<span>{$lang.goods_brand}</span>",
      
      });

      {foreach from=$brand_list key=brand_id item=brand_name}        
        brand_list.push({
            id: {$brand_id},
            text: "{$brand_name}",
            html: "<span>{$brand_name}</span>",
        
        }) 
      {/foreach}

      $("#brand_name").select2({
          width: 'resolve',
          matcher: modelMatcher,
          allowClear: false,
          placeholder: '所有品牌',
          data: brand_list,
          escapeMarkup: function(markup) {
              return markup;
          },
          templateResult: function(data) {
              return data.html;
          },
      });

      var suppliers_list = [];

      suppliers_list.push({
          id: 0,
          text: "所有供應商",
          html: "<span>所有供應商</span>",
      
      });

      {foreach from=$suppliers_list_name item=supplier}        
      suppliers_list.push({
            id: {$supplier.supplier_id},
            text: "{$supplier.name}",
            html: "<span>{$supplier.name}</span>",
        
        }) 
      {/foreach}

      $("#suppliers_name").select2({
          width: 'resolve',
          matcher: modelMatcher,
          allowClear: false,
          placeholder: '所有品牌',
          data: suppliers_list,
          escapeMarkup: function(markup) {
              return markup;
          },
          templateResult: function(data) {
              return data.html;
          },
      });

</script>

{literal}

{/literal}