<!-- $Id: goods_list.htm 17126 2010-04-23 10:30:26Z liuhui $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<style>
td.td_goods_name {
  width: 400px;
}
</style>
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
  <!-- 商品搜索 -->
  {include file="goods_search.htm"}
  <!-- 商品列表 -->
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table id="goods" class="table table-striped table-bordered bulk_action "><!--  add if need :text-nowrap -->
      <thead>
        <tr class="headings">
          <th data-id="goods_id" data-key="goods_id">
            <input type="checkbox" id="check-all" class="flat">{$lang.record_id}
          </th>
          <th data-id="goods_name" data-class="td_goods_name" style="width:30%" data-edit="true">{$lang.goods_name}</th>
          <th data-id="vip_price" data-type="price" data-edit="true">VIP價</th>
          <th data-id="market_price" data-type="price" data-edit="true">市價</th>
          <th data-id="pricecomhk_avg_price" data-hidden="true">Price均價</th>
          <th data-id="shop_price" data-type="price" data-edit="true">{$lang.shop_price}</th>
          {if $smarty.session.manage_cost || $self_supplier}
          <th data-id="cost"{if !$smarty.session.manage_cost}data-sort="0" {else}data-edit="true" data-type="price"{/if}>成本</th>
          <th data-id="sales" data-sort="1">銷量</th>
          {/if} {if $smarty.session.manage_cost}
          <th data-id="commission" data-edit="true">佣金</th>
          {/if}
          <th data-id="warn_number" data-edit="true">庫警</th>
          <th data-id="goods_sn" data-edit="true">{$lang.goods_sn}</th>
          <th data-id="is_on_sale" data-type="toggle" data-edit="true">{$lang.is_on_sale}</th>
          <th data-id="is_pre_sale" data-type="toggle" data-edit="true">預售</th>
          <th data-id="pre_sale_date" data-type="date" data-edit="true">到貨日期</th>
          <th data-id="display_discount" data-type="toggle" data-edit="true">顯示折扣</th>
          <th data-id="pre_sale_days" data-edit="true">訂貨</th>
          <!--th data-id="is_purchasing" data-edit="true">代購</th-->
          <th data-id="is_hidden" data-type="toggle" data-edit="true">隱藏</th>
          {if $smarty.session.manage_cost}
          <th data-id="is_new" data-type="toggle" data-edit="true">{$lang.is_new}</th>
          <!--th data-id="is_hot" data-type="toggle" data-edit="true">{$lang.is_hot}</th-->
          <!--th data-id="is_best" data-type="toggle" data-edit="true">{$lang.is_best}</th-->
          <!--th data-id="is_best_sellers" data-type="toggle">{$lang.is_best_sellers}</th-->
          
          <th data-id="sales_adjust" data-type="integer" data-edit="true">調整</th>
          {/if}
          <th data-id="soldoutdays" data-hidden="true">呆壞貨</th>
          <th data-id="goods_number" data-url="erp_stock_inquiry.php?act=list&amp;goods_sn={goods_sn}" >實際庫存</th>
          <th data-id="sort_order" data-edit="false">{$lang.sort_order}</th>
          <!--th data-id="is_yahoo" data-type="toggle">Yahoo</th-->
          <!--th data-id="is_hktv" data-type="toggle">HKTV</th-->
          <th class="actionsCol" data-id="_action" width="150" data-sort="0">{$lang.handler}</th>
          <!--th colspan="2">代理銷售</th-->
          <!--th class="column-title no-link last">{$lang.handler}</th-->
          <!--th class="bulk-actions" colspan="auto" >
            <a class="antoo" style="color:#73879C; font-weight:500;">已選擇 (
              <span class="action-cnt"> </span> )
              <i class="fa fa-chevron-down"></i>
            </a>
          </th-->
        </tr>
      </thead>
      <tbody>
      <!-- Ajax -->
      </tbody>
    </table>
    <!-- end goods list -->
  </div>
  <!-- Start Multi function -->
  <div class="form-div col-md-5 col-sm-5 col-xs-5">
    <form class="form-inline" method="post" action="" name="listForm" onsubmit="return confirmSubmit(this)">
      <input class="form-control" type="hidden" name="act" value="batch" />
      <select class="form-control" name="type" id="selAction" onchange="changeAction()">
        <option value="">{$lang.select_please}</option>
        {if in_array('batch_on_sale', $session_action_list) || in_array('all', $session_action_list) || $session_manage_cost}<option value="on_sale">{$lang.on_sale}</option>{/if}
        {if in_array('batch_not_on_sale', $session_action_list) || in_array('all', $session_action_list) || $session_manage_cost}<option value="not_on_sale">{$lang.not_on_sale}</option>{/if}
        {if in_array('batch_shipping_fee', $session_action_list) || in_array('all', $session_action_list) || $session_manage_cost}<option value="shipping_fee">{$lang.shipping_fee}</option>{/if}
        {if in_array('batch_warranty', $session_action_list) || in_array('all', $session_action_list) || $session_manage_cost}<option value="warranty">{$lang.warranty}</option>{/if}
        {if in_array('batch_suppliers', $session_action_list) || in_array('all', $session_action_list) || $session_manage_cost}<option value="suppliers">{$lang.suppliers}</option>{/if}
        {if in_array('batch_brand', $session_action_list) || in_array('all', $session_action_list) || $session_manage_cost}<option value="brand">{$lang.brand}</option>{/if}
        {if in_array('batch_move_to', $session_action_list) || in_array('all', $session_action_list) || $session_manage_cost}<option value="move_to">{$lang.move_to}</option>{/if}
        {if in_array('batch_trash', $session_action_list) || in_array('all', $session_action_list) || $session_manage_cost}<option value="trash">{$lang.trash}</option>{/if}
        {if in_array('goods_export', $session_action_list) || in_array('all', $session_action_list)}<option value="export">{$lang.14_goods_export}</option>{/if}
        {if in_array('goods_batch', $session_action_list) || in_array('all', $session_action_list)}<option value="edit">{$lang.15_batch_edit}</option>{/if}
        {if in_array('batch_sort_order', $session_action_list) || in_array('all', $session_action_list) || $session_manage_cost}<option value="batch_sort_order">修改排序</option>{/if}
        {if in_array('batch_id_list', $session_action_list) || in_array('all', $session_action_list) || $session_manage_cost}<option value="id_list">生成產品ID列表</option>{/if}
        {if in_array('batch_add_tag', $session_action_list) || in_array('all', $session_action_list) || $session_manage_cost}<option value="add_tag">新增Tag</option>{/if}
      </select>
      <select class="form-control" name="target_cat" style="display:none">
        <option value="0">{$lang.select_please}</option>{$cat_list}
      </select>
      <input class="form-control"type="text" name="tags" placeholder="多個Tag時請用,分格" style="display:none" />
      <input class="form-control" type="text" name="sort_order" placeholder="" style="display:none" />
      {if $suppliers_list > 0}
      <!--二级主菜单：转移供货商-->
      <select class="form-control" name="suppliers_id" style="display:none">
        <option value="-1">{$lang.select_please}</option>
        <option value="0">{$lang.lab_to_shopex}</option>
        {foreach name=sln from=$suppliers_list item=sl}
        <option value="{$sl.suppliers_id}">{$sl.suppliers_name}</option>
        {/foreach}
      </select>
      <!--end!-->
      {/if}

      {if $code neq 'real_goods'}
      
      <input class="form-control"type="text" name="shipping_fee_change" style="display:none" />
      <select class="form-control" name="suppliers_change" style="display:none">
        <option value="-1">{$lang.select_please}</option>
        {foreach name=sln from=$suppliers_list_name item=sl}
        <option value="{$sl.supplier_id}">{$sl.name}</option>
        {/foreach}
      </select>

      <select class="form-control" name="brand_change" style="display:none">
        <option value="-1">{$lang.select_please}</option>
        {html_options options=$brand_list}
        <option value="-1">沒有品牌</option>
      </select>

      <select class="form-control" name="warranty_change" style="display:none">
        <option value="-1">{$lang.select_please}</option>
        {foreach name=sln from=$warranty_templates item=sl}
        <option value="{$sl.template_id}">{$sl.template_name}</option>
        {/foreach}
      </select>
      <input class="form-control" type="hidden" name="extension_code" value="{$code}" /> {/if}
      <input type="submit" value="{$lang.button_submit}" id="btnSubmit" name="btnSubmit" class="form-btn btn btn-success" />
    </form>
  </div>
</div>
{include file="pagefooter.htm"}

<script>
yohoTable.rowCallback = function( row, data, dataIndex ) {
  if(data.proddb_id == 0) {
    $(row).addClass("no_anyspecs_row");
  } else {
    $(row).removeClass("no_anyspecs_row");
  }

  if(data.is_promote != 0) {
    $(row).find('.goods_name').addClass('red');
  } else {
    $(row).find('.goods_name').removeClass('red');
  }
  if(data.pre_sale_date != '2013-00-00') {
    $(row).find('.pre_sale_date').addClass('strong blue');
  } else {
    $(row).find('.pre_sale_date').removeClass('strong blue');
  }
};
var $goodsTable = yoho_dataTable();
  /**
   * @param: bool ext 其他条件：用于转移分类
   */
  function confirmSubmit(frm, ext)
  {
    $(frm).append('<input type="hidden" name="id" value="'+$goodsTable.getSelectValue()+'" />');
      if (frm.elements['type'].value == 'trash')
      {
          return confirm(batch_trash_confirm);
      }
      else if (frm.elements['type'].value == 'not_on_sale')
      {
          return confirm(batch_no_on_sale);
      }
      else if (frm.elements['type'].value == 'add_tag')
      {
          ext = (ext == undefined) ? true : ext;
          return ext && frm.elements['tags'].value != '';
      }
      else if (frm.elements['type'].value == 'batch_sort_order')
      {
          ext = (ext == undefined) ? true : ext;
          return ext && frm.elements['sort_order'].value != '';
      }
      else if (frm.elements['type'].value == 'move_to')
      {
          ext = (ext == undefined) ? true : ext;
          return ext && frm.elements['target_cat'].value != 0;
      }
      else if (frm.elements['type'].value == 'shipping_fee')
      {
          ext = (ext == undefined) ? true : ext;
          return ext && frm.elements['shipping_fee_change'].value != '';
      }
      else if (frm.elements['type'].value == 'warranty')
      {
          ext = (ext == undefined) ? true : ext;
          return ext && frm.elements['warranty_change'].value != 0;
      }
      
      else if (frm.elements['type'].value == '')
      {
          return false;
      }
      else
      {
          return true;
      }
  }

  function changeAction()
  {
      var frm = document.forms['listForm'];

      // 切换分类列表的显示
      frm.elements['target_cat'].style.display = frm.elements['type'].value == 'move_to' ? '' : 'none';
			frm.elements['tags'].style.display = frm.elements['type'].value == 'add_tag' ? '' : 'none';
      frm.elements['sort_order'].style.display = frm.elements['type'].value == 'batch_sort_order' ? '' : 'none';
      frm.elements['suppliers_change'].style.display = frm.elements['type'].value == 'suppliers' ? '' : 'none';
      frm.elements['brand_change'].style.display = frm.elements['type'].value == 'brand' ? '' : 'none';
      frm.elements['shipping_fee_change'].style.display = frm.elements['type'].value == 'shipping_fee' ? '' : 'none';
      frm.elements['warranty_change'].style.display = frm.elements['type'].value == 'warranty' ? '' : 'none';
}
</script>
</body>
</html>