
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
<!-- 商品搜索 -->
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="javascript:searchGoods()" name="searchForm" class="form-inline">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    <!-- 关键字 -->
    {$lang.keyword} <input class="form-control" type="text" name="keyword" size="15" value="{$keyword}" />
    <input type="submit" value="{$lang.button_search}" class="form-btn btn btn-success" />
  </form>
</div>
<!-- 商品列表 -->
  <!-- start goods list -->
  <form class="form-inline" method="post" action="" name="listForm">
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive bulk_action">
    <table class="table table-striped table-bordered" id="goods_attr_by_cat">
      <thead>
        <tr class="headings">
          <th data-id="goods_name" data-key="goods_id">{$lang.goods_name}</th>
          {foreach from=$attr_list item=attr}
          <th>{$attr.attr_name}</th>
          {/foreach}
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <!-- start goods list -->
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <input type="hidden" value="submit_cat_goods" name="act" />
    <input type="submit" value="{$lang.button_submit}"class="form-btn btn btn-success" />
  </div>
</form>
</div>
<!-- end goods list -->
{literal}
{include file="pagefooter.htm"}
<script language="JavaScript">

    var $filter =[];
    yohoTable.url = 'attribute.php';
    yohoTable.rowCallback = function ($row, data, dataIndex) {
      {foreach from=$attr_list item=attr}
      {assign var=attr_id value = $attr.attr_id}
      var $attr_id = "{$attr_id}";
      var $selected = data.goods_attr[$attr_id];
      var $goods_id = data.goods_id;
        $td = $('<td>');
        $select = '<select class="form-control" id="goods_attr_'+$attr_id+'_'+$goods_id+'" name="goods_attr['+$attr_id+']['+$goods_id+']">'+
          '<option value="">{$lang.select_please}</option>'+
          '{html_options options=$attr.attr_values selected='+$selected+'}'+
          '<option value="attr_remove">{$lang.remove}</option>'+
        '</select>';
        $td.append($select);
        $($row).append($td);
        $($row).find('#goods_attr_'+$attr_id+'_'+$goods_id).val($selected).change();
      {/foreach}
    }
    $filter['type'] = 'goods_attr_by_cat';
    // Set dynamic parameters for the data table
    $('#goods_attr_by_cat').data('dt_params', $filter);
    var $table = yoho_dataTable();
    function searchGoods()
    {
      $filter['keyword'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
      $table.search($filter);
    }

</script>
{/literal}

