<!-- $Id: goods_batch_edit.htm 16992 2010-01-19 08:45:49Z wangleisvn $ -->
{include file="pageheader.htm"}

<style>

.info {
    padding: 10px;
    width: 45%;
    display: inline-block;
    vertical-align:top;
}

.product-brief {
    width: 45%;
    vertical-align:top;
    align:left;
}

.product-box{
    border: 1px solid #000;
    margin-bottom: 2%;
}

</style>

<ul style="margin: 0pt; padding: 0pt; list-style-type: none; color: rgb(204, 0, 0);">
<li style="border: 1px solid rgb(204, 0, 0); padding: 10px; background: rgb(255, 255, 204) none repeat scroll 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; margin-bottom: 5px;">{$lang.notice_edit}</li>
</ul>
<div style="background-color: #F4FAFB;"></div>
<div class="list-div x_panel">
<form action="goods_batch.php?act=update" method="post" name="theForm" class="tab-content form-horizontal form-label-left">
  <div role="tabpanel" class="tab-pane fade active in" id="general-table" align="center">
  {if $edit_method eq "each"}
  {foreach from=$goods_list item=goods}
  <div class="container product-box">
    <div class="info">
        <div class="form-group">
          <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.goods_sn}</label>
          <div class="control-label col-md-5 col-sm-3 col-xs-12" style="text-align: left;">
              {$goods.goods_sn}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.goods_name}</label>
          <div class="control-label col-md-5 col-sm-3 col-xs-12" style="text-align: left;">
              {$goods.goods_name}
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.market_price}</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="market_price[{$goods.goods_id}]" id="market_price[{$goods.goods_id}]" class="form-control col-md-6 col-xs-6" type="text" value="{$goods.market_price}" size="8" style="text-align:right"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.shop_price}</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="shop_price[{$goods.goods_id}]" id="shop_price[{$goods.goods_id}]" class="form-control col-md-6 col-xs-6" type="text" value="{$goods.shop_price}" size="8" style="text-align:right"/>
            </div>
          </div>
          {foreach from=$rank_list item=rank}
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">{$rank.rank_name}</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="member_price[{$goods.goods_id}][{$rank.rank_id}]" id="member_price[{$goods.goods_id}][{$rank.rank_id}]" class="form-control col-md-6 col-xs-6" type="text" value="{$member_price_list[$goods.goods_id][$rank.rank_id]|default:-1}" size="8" style="text-align:right"/>
            </div>
          </div>
          {/foreach}
          <div class="form-group">
              <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.integral}</label>
              <div class="col-md-5 col-sm-6 col-xs-12">
                <input name="integral[{$goods.goods_id}]" id="integral[{$goods.goods_id}]" class="form-control col-md-6 col-xs-6" type="text" value="{$goods.integral}" size="8" style="text-align:right"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.give_integral}</label>
              <div class="col-md-5 col-sm-6 col-xs-12">
                <input name="give_integral[{$goods.goods_id}]" id="give_integral[{$goods.goods_id}]" class="form-control col-md-6 col-xs-6" type="text" value="{$goods.give_integral}" size="8" style="text-align:right"/>
              </div>
            </div>

    </div>
    <div class="info">
        
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.commission}</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="commission[{$goods.goods_id}]" id="commission[{$goods.goods_id}]" class="form-control col-md-6 col-xs-6" type="text" value="{$goods.commission}" size="8" style="text-align:right"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">另收運費</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="shipping_price[{$goods.goods_id}]" id="shipping_price[{$goods.goods_id}]" class="form-control col-md-6 col-xs-6" type="text" value="{$goods.shipping_price}" size="8" style="text-align:right"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">產品重量</label>
            <div class="col-md-5 col-sm-6 col-xs-12" style="text-align: left;">
                <div class="input-group">
                  <input name="goods_weight[{$goods.goods_id}]" id="goods_weight[{$goods.goods_id}]" class="form-control col-md-6 col-xs-6" type="text" value="{$goods.goods_weight}" size="8" style="text-align:right"/>
                  <div class="input-group-addon">千克</div>
                </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.warn_number}</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="warn_number[{$goods.goods_id}]" id="warn_number[{$goods.goods_id}]" class="form-control col-md-6 col-xs-6" type="text" value="{$goods.warn_number}" size="8" style="text-align:right"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">訂貨日數</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="pre_sale_days[{$goods.goods_id}]" id="pre_sale_days[{$goods.goods_id}]" class="form-control col-md-6 col-xs-6" type="text" value="{$goods.pre_sale_days}" size="8" style="text-align:right"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.brand}</label>
            <div class="col-md-6 col-sm-6 col-xs-12" style="text-align: left;">
                <select class="form-control" name="brand_id[{$goods.goods_id}]">
                  <option value="0" {if $goods.brand_id eq 0}selected{/if}>{$lang.select_please}</option>
                  {html_options options=$brand_list selected=$goods.brand_id}
                </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">供應商</label>
            <div class="col-md-6 col-sm-6 col-xs-12" style="text-align: left;">
                <div class="supplier_list" style="padding-right: 8px; line-height: 18px; max-height: 150px; overflow-y: scroll; text-align: left;">
                {foreach from=$goods.suppliers_list_name item=supplier}
                <input type="checkbox" name="supplier[{$goods.goods_id}][]" value="{$supplier.supplier_id}" {if $supplier.selected eq 1}checked{/if}>{$supplier.name}<br>
                {/foreach}
            </div>
          </div>
    </div>
    
    
    
    </div>

  </div>
  {/foreach}
  {else}
  <div class="container product-box">
    <div class="info">
        <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.goods_name}</label>
            <div class="control-label col-md-5 col-sm-3 col-xs-12" style="text-align: left;">
              {foreach from=$goods_list item=goods}{$goods.goods_name}<br>{/foreach}
            </div>
          </div>
    </div>
    <div class="info">&nbsp;</div>
      
    <div class="info">
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.market_price}</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="market_price" id="market_price" class="form-control col-md-6 col-xs-6" type="text" value="" size="8" style="text-align:right"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.shop_price}</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="shop_price" id="shop_price" class="form-control col-md-6 col-xs-6" type="text" value="" size="8" style="text-align:right"/>
            </div>
          </div>
          {foreach from=$rank_list item=rank}
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">{$rank.rank_name}</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="member_price[{$rank.rank_id}]" id="member_price[{$rank.rank_id}]" class="form-control col-md-6 col-xs-6" type="text" value="" size="8" style="text-align:right"/>
            </div>
          </div>
          {/foreach}
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.integral}</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="integral" id="integral" class="form-control col-md-6 col-xs-6" type="text" value="" size="8" style="text-align:right"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.give_integral}</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="give_integral" id="give_integral" class="form-control col-md-6 col-xs-6" type="text" value="" size="8" style="text-align:right"/>
            </div>
          </div>
    </div>
    <div class="info">
        <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.commission}</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="commission" id="commission" class="form-control col-md-6 col-xs-6" type="text" value="" size="8" style="text-align:right"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">另收運費</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="shipping_price" id="shipping_price" class="form-control col-md-6 col-xs-6" type="text" value="" size="8" style="text-align:right"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">產品重量</label>
            <div class="col-md-5 col-sm-6 col-xs-12" style="text-align: left;">
              <div class="input-group">
                <input name="goods_weight" id="goods_weight" class="form-control col-md-6 col-xs-6" type="text" value="" size="8" style="text-align:right"/>
                <div class="input-group-addon">千克</div>
              </div>
              <input type="hidden" name="weight_unit" value="1" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.warn_number}</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="warn_number" id="warn_number" class="form-control col-md-6 col-xs-6" type="text" value="" size="8" style="text-align:right"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">訂貨日數</label>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <input name="pre_sale_days" id="pre_sale_days" class="form-control col-md-6 col-xs-6" type="text" value="" size="8" style="text-align:right"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">{$lang.brand}</label>
            <div class="col-md-5 col-sm-6 col-xs-12" style="text-align: left;">
              <select class="form-control" name="brand_id">
                <option value="0" selected>{$lang.select_please}</option>
                {html_options options=$brand_list}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-5 col-sm-3 col-xs-12">供應商</label>
            <div class="col-md-5 col-sm-6 col-xs-12" style="text-align: left;">
              <script type="text/javascript">
                function showSupplierList()
                {
                    $('.update_supplier_btn').hide();
                    $('input[name="update_supplier"]').val('1');
                    $('.supplier_list').show();
                }
              </script>
              <input type="button" class="btn btn-default update_supplier_btn" value="更改供應商" onclick="javascript:showSupplierList();">
              <div class="supplier_list" style="display: none; padding-right: 8px; line-height: 18px; max-height: 150px; overflow-y: scroll; text-align: left;">
                {foreach from=$suppliers_list_name item=supplier}
                <input type="checkbox" name="supplier[]" value="{$supplier.supplier_id}">{$supplier.name}<br>
                {/foreach}
              </div>
            </div>
    </div>
    
    
    
    </div>

    </div>
    {/if}
    <div class="container" align="center">
      <input type="hidden" name="edit_method" value="{$edit_method}" />
      {foreach from=$goods_list item=goods}
      <input type="hidden" name="goods_id[]" value="{$goods.goods_id}" />
      {/foreach}
      {foreach from=$rank_list item=rank}
      <input type="hidden" name="rank_id[]" value="{$rank.rank_id}" />
      {/foreach}
      <input type="submit" name="submit" value="{$lang.button_submit}" class="btn btn-primary" />
      <input type="reset" name="reset" value="{$lang.button_reset}" class="btn btn-primary" />
    </div>
  </div>
</form>
</div>
{include file="pagefooter.htm"}
