<!-- $Id: comment_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{insert_scripts files="popupdialog.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form action="javascript:searchComment()" class="form-inline" name="theForm">
      選擇查看類型:&nbsp;&nbsp;
      <select class="form-control" name="mode">
        <option value="normal">正常</option>
        <option value="deleted">已封存</option>
      </select>&nbsp;&nbsp;
      <input type="submit" value="{$lang.button_submit}" class="form-btn btn btn-success" />
    </form>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive bulk_action">
  <!-- start comment list -->
  <table class="table table-striped table-bordered" id="goods_book">
    <thead>
      <tr class="headings">
        <th data-id="id" data-key="id">
          <input type="checkbox" id="check-all" class="flat">預售ID
        </th>
        <th data-id="add_time">日期</th>
        <th data-id="goods_name">產品名稱</th>
        <th data-id="pre_name">稱呼</th>
        <th data-id="language">語言</th>
        <th data-id="pre_im" data-value="pre_value">聯繫方式</th>
        <th data-id="operator" data-edit="true" data-type="select" data-options="operator_options">操作員</th>
        <th data-id="content2" data-edit="true">到貨通知</th>
        <th data-id="content3" data-edit="true">備註</th>
        <th class="actionsCol" data-id="_action" data-sort="0">操作</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </div>
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form class="form-inline" method="POST" action="goods_book.php?act=batch_drop" name="listForm" onsubmit="return $table.confirmBatch(this)">
      <script type="text/javascript">
        var operator_options = {$salespeople_json};
      </script>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- <select name="sel_action">
          <option value="remove">{$lang.drop_select}请选择</option>
          <option value="allow">{$lang.allow}允许</option>
          <option value="deny">{$lang.forbid}禁止</option>
        </select> -->
        <input type="hidden" name="act" value="batch" />
        <input type="submit" name="drop" id="btnSubmit" value="{$lang.button_submit}" class="form-btn btn btn-success" /></div>
      </div>
    </form>
  </div>
</div>
<!-- end comment list -->
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
<!--
yohoTable.rowCallback = function( row, data, dataIndex ) {
  $pre_im_html = data.pre_im+"："+data.pre_value;
  if(data.pre_im == 'Email' || data.pre_im == 'email') {
      $pre_im_html += "<br>"+'<a href="javascript:void(0);" class="send_email_reply_btn" data-id="'+data.id+'">發送回覆電郵</a>';
    }
  $(row).find('.pre_im').html($pre_im_html);
};
var $table = yoho_dataTable();

  function confirm_bath()
  {
    var action = document.forms['listForm'].elements['sel_action'].value;

    return confirm(cfm[action]);
  }
  
  function searchComment()
  {
    $filter = [];
    $filter.mode = document.forms['theForm'].elements['mode'].value;
    $('#goods_book').data('dt_params', $filter);
    $('#goods_book').DataTable().draw();
  }
  $('body').on('click', '.send_email_reply_btn', function () {
    var dai_id = $(this).data('id');

    var dialog = new PopupDialog({
      popupCss: {
        'width': '300px',
        'height': '200px'
      },
      closeBtnCss: {
        'display': 'none'
      }
    });

    var email_reply_options = [
      {name: '產品已到貨', value: 'available'}
    ];

    dialog.show();

    var $container = $('<div></div>').css({'padding': '8px', 'text-align': 'center'});
    $container.append('<h2>發送回覆電郵</h2>');
    var $choices = $('<div></div>').css({'display': 'inline-block', 'text-align': 'left'});
    $.each(email_reply_options, function (i, opt) {
      var $label = $('<label></label>').css('display', 'block');
      $label.append('<input type="radio" name="reply_mode" value="' + opt.value + '">');
      $label.append(document.createTextNode(opt.name));
      $choices.append($label);
    });
    $container.append($choices);
    $container.append('<br><br>');
    var $btn = $('<input type="button" value="發送回覆電郵" class="btn btn-primary">');
    $btn.css('margin-right', '8px');
    $container.append($btn);
    var $cancel = $('<a href="javascript:void(0);">取消</a>');
    $container.append($cancel);
    dialog.$popup.append($container);

    $btn.click(function () {
      var reply_mode = dialog.$popup.find('input[name="reply_mode"]:checked').val();
      if (!reply_mode)
      {
        alert('請先選擇回覆電郵模版');
        return;
      }
      var old_txt = $btn.val();
      $btn.val('發送中...');
      $btn.prop('disabled', true);
      $.ajax({
        url: 'goods_book.php',
        type: 'post',
        data: {
          act: 'email_reply',
          id: dai_id,
          val: reply_mode
        },
        dataType: 'json',
        complete: function () {
          $btn.val(old_txt);
          $btn.prop('disabled', false);
        },
        success: function (result) {
          alert(result.message);
          if (!result.error)
          {
            dialog.hide();
          }
        },
        error: function (xhr) {
          alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
          console.log(xhr);
        }
      });
    });
    $cancel.click(function () {
      dialog.hide();
    });
  });
//-->
</script>