{include file="pageheader.htm"}
<div class="list-div">
<form action="goods_export.php?act=act_export_label" method="post" name="theForm">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <th scope="col">產品名稱</th>
    <th scope="col">產品貨號</th>
    <th scope="col">數量</th>
  </tr>
  {foreach from=$goods_list item=goods}
  <tr align="center">
    <td class="first-cell" scope="row">{$goods.goods_name}</td>
    <td class="first-cell" scope="row">{$goods.goods_sn}</td>
    <td>
      <input name="number[{$goods.goods_id}]" type="text" value="1" size="8" />
    </td>
  </tr>
  {/foreach}
  <tr align="center">
    <td colspan="3" scope="row">
      <input type="submit" name="submit" value="{$lang.button_submit}" class="btn btn-primary" />
      <input type="reset" name="reset" value="{$lang.button_reset}" class="btn btn-primary" />
      {foreach from=$goods_list item=goods}
      <input type="hidden" name="goods_id[]" value="{$goods.goods_id}" />
      {/foreach}
    </td>
  </tr>
</table>
</form>
</div>
{include file="pagefooter.htm"}