<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form action="javascript:searchGoodsCommission()" name="searchForm" class="form-inline">
        <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
        <!-- 分类 -->
        <select name="cat_id" class="select2_group form-control"><option value="-1">-- 請選擇分類 --</option>{$cats}</select>
        <!-- 品牌 -->
        <select name="brand_id" class="form-control">
        <option value="-1">-- 請選擇品牌 --</option>
        {html_options options=$brands}
        <option value="-1">沒有品牌</option>
        </select>
        <input placeholder="輸入關鍵字（條碼/產品ID(可用逗號,分隔多個ID)/名稱)" size="45" class="form-control" type="text" name="keyword" value="{$keyword}"/>
        <input class="is-important" type="checkbox" value="1">
        <span class="control-label">重點產品</span>
        <label class="control-label bold">時間</label>
        <input class="form-control" data-type="month" name="time" type="text" size="22" autocomplete="off"/>
        <input type="submit" value="{$lang.button_search}" class="form-btn btn btn-success" />
    </form>
</div>

<script language="JavaScript">
    var $filter = [];

    function searchGoodsCommission()
    {

        $filter['cat_id'] = document.forms['searchForm'].elements['cat_id'].value;
        $filter['brand_id'] = document.forms['searchForm'].elements['brand_id'].value;
        $filter['keyword'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
        $filter['time'] = document.forms['searchForm'].elements['time'].value;
        var is_important_box =  $('input.is-important');
        var is_important = '0';
        if(is_important_box.prop("checked") == true) {
            is_important = '1';
        } 
        $filter['is_important'] = is_important;
        // Set dynamic parameters for the data table
        $('#commission').data('dt_params', $filter);

        // Redraw data table, causes data to be reloaded
        $('#commission').DataTable().draw();
    }
</script>