<!-- $Id: goods_batch_edit.htm 16992 2010-01-19 08:45:49Z wangleisvn $ -->
{include file="pageheader.htm"}

{insert_scripts files="i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
<div style="background-color: #F4FAFB;"></div>
<div class="list-div">
<form action="goods_batch.php?act=update_desc" method="post" name="theForm">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <th scope="col" colspan="102">{$lang.goods_name}</th>
  </tr>
  <tr align="center">
    <td colspan="102">
      {foreach from=$goods_list item=goods}{$goods.goods_name}, {/foreach}
    </td>
  </tr>
  <tr>
    <th>產品簡單描述：</th>
    <td><textarea name="goods_brief" cols="40" rows="4"></textarea></td>
  </tr>
  <tr>
    <th>保養條款：</th>
    <td>
      <select name="warranty_template_id" style="margin: 4px 0;">
        {foreach from=$warranty_templates item=warranty_template}
        <option value="{$warranty_template.template_id}">{$warranty_template.template_name}</option>
        {/foreach}
        <option value="0"selected="selected">自定義</option>
      </select>
      <div id="warranty_input_box">
        <textarea name="seller_note" cols="40" rows="4"></textarea>
      </div>
    </td>
  </tr>
  <tr>
    <th>安裝條款：</th>
    <td>
      <select name="shipping_template_id" style="margin: 4px 0;">
        {foreach from=$shipping_templates item=shipping_template}
        <option value="{$shipping_template.template_id}">{$shipping_template.template_name}</option>
        {/foreach}
        <option value="0"selected="selected">自定義</option>
      </select>
      <div id="shipping_input_box">
        <textarea name="shipping_note" cols="40" rows="4"></textarea>
      </div>
    </td>
  </tr>
  <tr>
    <th>詳細描述：</th>
    <td><textarea name="goods_desc" id="goods_desc" class="tinymce">{$goods.goods_desc|escape}</textarea></td>
  </tr>
  <tr>
    <th>購物保障：</th>
    <td><textarea name="guarantee" id="guarantee" class="tinymce">{$goods.guarantee|escape}</textarea></td>
  </tr>
  <tr>
    <th>包裝內容：</th>
    <td><textarea name="inthebox" id="inthebox" class="tinymce">{$goods.inthebox|escape}</textarea></td>
  </tr>
  <tr align="center">
    <td colspan="22" scope="row">
      <input type="submit" name="submit" value="{$lang.button_submit}" class="btn btn-primary" />
      <input type="reset" name="reset" value="{$lang.button_reset}" class="btn btn-primary" />
      <input type="hidden" name="edit_method" value="{$edit_method}" />
      {foreach from=$goods_list item=goods}
      <input type="hidden" name="goods_id[]" value="{$goods.goods_id}" />
      {/foreach}
      {foreach from=$rank_list item=rank}
      <input type="hidden" name="rank_id[]" value="{$rank.rank_id}" />
      {/foreach}    </td>
  </tr>
</table>
</form>
</div>

<script>
  // 保養條款模版
  $(function () {
    if ($('select[name="warranty_template_id"]').val() == 0)
    {
      //$('#warranty_input_box').show();
      $('textarea[name="seller_note"]').prop('readonly', false);
    }
    else
    {
      //$('#warranty_input_box').hide();
      $('textarea[name="seller_note"]').prop('readonly', true);
    }
  });

  $('select[name="warranty_template_id"]').change(function () {
    var $sel = $(this);
    var template_id = $sel.val();
    
    if (template_id == 0)
    {
      //$('#warranty_input_box').show();
      $('textarea[name="seller_note"]').prop('readonly', false);
      return;
    }
    //$('#warranty_input_box').hide();
    $('textarea[name="seller_note"]').prop('readonly', true);
    
    var $loading_opt = $('<option value="' + template_id + '">載入中...</option>');
    $sel.prepend($loading_opt);
    $loading_opt.prop('selected', true);
    $sel.prop('disabled', true);
    
    $.ajax({
      url: 'warranty_templates.php',
      type: 'get',
      data: {
        'act': 'get_warranty_template',
        'id': template_id
      },
      dataType: 'json',
      complete: function () {
        $sel.prop('disabled', false);
        $loading_opt.remove();
        $sel.val(template_id);
      },
      success: function (result) {
        console.log(result);
        
        if (!result.data) return;
        
        // Switch to default language first
        var $langSel = $('select.edit-language-select');
        if ($langSel)
        {
          if ($langSel.val() != YOHO.admin.i18n.default_lang)
          {
            $langSel.val(YOHO.admin.i18n.default_lang).trigger('change');
          }
        }
        
        // Import 保養條款
        $('textarea[name="seller_note"]').val(result.data.template_content);
        
        // Import localized versions
        $.each(YOHO.admin.i18n.langs, function (i, lang) {
          // If localized version available...
          if ((typeof result.localized_versions === 'object') && result.localized_versions.hasOwnProperty(lang))
          {
            if (!window.localizedVersions.hasOwnProperty(lang))
            {
              window.localizedVersions[lang] = {};
            }
            // Import 保養條款
            window.localizedVersions[lang].seller_note = result.localized_versions[lang].template_content;
          }
          // If localized version NOT available...
          else
          {
            if (window.localizedVersions.hasOwnProperty(lang))
            {
              // Clear out existing localized data
              if (window.localizedVersions[lang].hasOwnProperty('seller_note'))
              {
                window.localizedVersions[lang].goods_brief = '';
              }
            }
          }
        });
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });
  });
  $(function () {
    if ($('select[name="shipping_template_id"]').val() == 0)
    {
      $('textarea[name="shipping_note"]').prop('readonly', false);
    }
    else
    {
      $('textarea[name="shipping_note"]').prop('readonly', true);
    }
  });

  $('select[name="shipping_template_id"]').change(function () {
    var $sel = $(this);
    var template_id = $sel.val();
    if (template_id == 0)
    {
      $('textarea[name="shipping_note"]').prop('readonly', false);
      return;
    }
    $('textarea[name="shipping_note"]').prop('readonly', true);

    var $loading_opt = $('<option value="' + template_id + '">載入中...</option>');
    $sel.prepend($loading_opt);
    $loading_opt.prop('selected', true);
    $sel.prop('disabled', true);

    $.ajax({
      url: 'shipping_templates.php',
      type: 'get',
      data: {
        'act': 'get_shipping_template',
        'id': template_id
      },
      dataType: 'json',
      complete: function () {
        $sel.prop('disabled', false);
        $loading_opt.remove();
        $sel.val(template_id);
      },
      success: function (result) {
        console.log(result);

        if (!result.data) return;

        // Switch to default language first
        var $langSel = $('select.edit-language-select');
        if ($langSel)
        {
          if ($langSel.val() != YOHO.admin.i18n.default_lang)
          {
            $langSel.val(YOHO.admin.i18n.default_lang).trigger('change');
          }
        }

        // Import 保養條款
        $('textarea[name="shipping_note"]').val(result.data.template_content);

        // Import localized versions
        $.each(YOHO.admin.i18n.langs, function (i, lang) {
          // If localized version available...
          if ((typeof result.localized_versions === 'object') && result.localized_versions.hasOwnProperty(lang))
          {
            if (!window.localizedVersions.hasOwnProperty(lang))
            {
              window.localizedVersions[lang] = {};
            }
            // Import 保養條款
            window.localizedVersions[lang].shipping_note = result.localized_versions[lang].template_content;
          }
          // If localized version NOT available...
          else
          {
            if (window.localizedVersions.hasOwnProperty(lang))
            {
              // Clear out existing localized data
              if (window.localizedVersions[lang].hasOwnProperty('shipping_note'))
              {
                window.localizedVersions[lang].goods_brief = '';
              }
            }
          }
        });
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });
  });
  // Multiple language support
  var localizableFields = ['goods_brief','seller_note','shipping_note','goods_desc','guarantee','inthebox'];
  var localizedVersions = {};
  var localizableFieldsMapping = {};
</script>
{include file="pagefooter.htm"}