<!-- $Id: goods_info.htm 17126 2010-04-23 10:30:26Z liuhui $ -->
{include file="pageheader.htm"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
{insert_scripts files="../yohohk/js/fix-orientation-0.0.2.min.js"}
{insert_scripts files="../js/utils.js,selectzone.js,colorselector.js"}
{insert_scripts files="../yohohk/js/jquery.cropit.js"}
{insert_scripts files="../yohohk/js/cropit.howang.js"}
<link href="../yohohk/css/jquery.cropit.css" rel="stylesheet" type="text/css" />
{insert_scripts files="goodsgallery.js?d=201805171"}
{insert_scripts files="i18n.js?d=201805171"}
{insert_scripts files="../yohohk/js/chosen.jquery.min.js"}
<link href="../yohohk/css/chosen.min.css" rel="stylesheet" type="text/css" />
<!-- start goods form -->
<div class=" x_panel">
    <!-- tab bar -->
    <div class="" role="tabpanel" data-example-id="togglable-tabs">
      <ul class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation" class="active" id="general-tab"><a href="#general-table"role="tab" data-toggle="tab" aria-expanded="true">基本資料</a></li>
        <li class="" id="detail-tab"><a href="#detail-table"role="tab" data-toggle="tab" aria-expanded="true">{$lang.tab_detail}</a></li>
        <li class="" id="guarantee-tab"><a href="#guarantee-table"role="tab" data-toggle="tab" aria-expanded="true">{$lang.tab_guarantee}</a></li>
        <li class="" id="inthebox-tab"><a href="#inthebox-table"role="tab" data-toggle="tab" aria-expanded="true">包裝內容</a></li>
        <li class="" id="preorder-tab"><a href="#preorder-table"role="tab" data-toggle="tab" aria-expanded="true">送貨資訊</a></li>
        <li class="" id="mix-tab"><a href="#mix-table"role="tab" data-toggle="tab" aria-expanded="true">其它資料</a></li>
        {if $goods_type_list}<li class="" id="properties-tab"><a href="#properties-table"role="tab" data-toggle="tab" aria-expanded="true">{$lang.tab_properties}</a></li>{/if}
        <li class="" id="gallery-tab"><a href="#gallery-table"role="tab" data-toggle="tab" aria-expanded="true">{$lang.tab_gallery}</a></li>
        <li class="" id="linkgoods-tab"><a href="#linkgoods-table"role="tab" data-toggle="tab" aria-expanded="true">{$lang.tab_linkgoods}</a></li>
        {if $code eq ''}<li class="" id="groupgoods-tab"><a href="#groupgoods-table"role="tab" data-toggle="tab" aria-expanded="true">{$lang.tab_groupgoods}</a></li>{/if}
        <li class="" id="article-tab"><a href="#article-table"role="tab" data-toggle="tab" aria-expanded="true">{$lang.tab_article}</a></li>
        <li class="" id="extrainfo-tab"><a href="#extrainfo-table"role="tab" data-toggle="tab" aria-expanded="true">自訂欄位</a></li>
      </ul>
    </div>
      <!-- tab body -->
    <form enctype="multipart/form-data" action="goods.php" method="post" name="theForm" onsubmit="return validate();" class="tab-content form-horizontal form-label-left" >
      <!-- 最大文件限制 -->
      <input type="hidden" name="MAX_FILE_SIZE" value="2097152" />
      <!-- 通用信息 -->
      <div role="tabpanel" class="tab-pane fade active in" id="general-table" align="center">
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">名稱 <span class="required">*</span></label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input aria-describedby="goodsCreateDate" required="required" class="form-control col-md-6 col-xs-6" type="text" name="goods_name" value="{$goods.goods_name|escape}" style="color:{$goods_name_color};" size="80" />
            {if !$is_copy}
            <span id="goodsCreateDate" class="form-helper">
              {$lang.lab_create_date} {$goods.add_time}
            </span>
            {/if}
          </div>
          <!--div class="col-md-1 col-sm-1 col-xs-1">
            <input type="hidden" id="goods_name_color" name="goods_name_color" value="{$goods_name_color}" />
            <select class="form-control"name="goods_name_style"  class="form-control col-md-6 col-xs-6">
              <option value="">{$lang.select_font}</option>
              {html_options options=$lang.font_styles selected=$goods_name_style}
            </select>
          </div-->
        </div>
        <div class="form-group">
          <input type="hidden" class="form-control cur_lang" name="cur_lang" >
          <label class="control-label col-md-3 col-sm-3 col-xs-12">永久鏈結</label>
          <div class="col-md-6 col-sm-6 col-xs-12" id="perma_link"></div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">分類 <span class="required">*</span></label>
          <div class="col-md-2 col-sm-6 col-xs-12">
            <div>
              <select class="form-control" name="cat_id" id="cat_name" onchange="hideCatDiv();changeAttrCat();changeGoodsSize(this);" aria-valuemax=""><option value={$goods.cat_id} selected id="cat_name_selected">{$goods.cat_name}</option></select>
              
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lab_other_cat}</label>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="input-group">
              {foreach from=$goods.other_cat item=cat_id}
              <select class="form-control"name="other_cat[]"><option value="0">{$lang.select_please}</option>{$other_cat_list.$cat_id}</select>
              {/foreach}
              <span class="input-group-btn">
                <input style="float: left;"type="button" value="{$lang.add}" onclick="addOtherCat(this.parentNode)" class="btn btn-primary" />
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">品牌</label>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="input-group">
              <!-- <select class="form-control"name="brand_id" onchange="hideBrandDiv()" ><option value="0">
                {$lang.select_please}
                {html_options options=$brand_list selected=$goods.brand_id}
              </select> -->
              <select class="form-control" name="brand_id" id="brand_name" onchange="hideBrandDiv()" aria-valuemax=""><option value={$goods.brand_id} selected id="brand_name_selected">{$goods.brand_name}</option></select>
              <span class="input-group-btn">
                <span id="brand_add" style="display:none;">
                <input class="form-control text" size="15" name="addedBrandName" />
                <a href="javascript:void(0)" onclick="addBrand()" class="special btn btn-primary" >{$lang.button_submit}</a>
                <a href="javascript:void(0)" onclick="return goBrandPage()" title="{$lang.brand_manage}" class="special btn btn-primary" >{$lang.brand_manage}</a>
                <a href="javascript:void(0)" onclick="hideBrandDiv()" title="{$lang.hide}" class="special btn btn-primary" ><<</a>
                </span>
                <a href="javascript:void(0)" title="{$lang.rapid_add_brand}" onclick="rapidBrandAdd()" class="special btn btn-primary" >{$lang.rapid_add_brand}</a>
              </span>
            </div>
          </div>
        </div>
        {if $suppliers_list_name}
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">供應商</label>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <select class="form-control"name="supplier[]" multiple="multiple" data-placeholder="選擇供應商...">
                {foreach from=$suppliers_list_name item=supplier}
                <option value="{$supplier.supplier_id}" {if $supplier.selected eq 1}selected="selected"{/if}>{$supplier.name}</option>
                {/foreach}
              </select>
              {foreach from=$missing_supplier_ids item=supplier_id}
              <input type="hidden" name="supplier[]" value="{$supplier_id}">
              <input type="hidden" name="missing_supplier[]" value="{$supplier_id}">
              {/foreach}
              <script>
                $('select[name="supplier[]"]').chosen();
              </script>
          </div>
        </div>
        {else}
        <div class="form-group" style="display: none;">
          <div>
            {foreach from=$missing_supplier_ids item=supplier_id}
            <input type="hidden" name="supplier[]" value="{$supplier_id}">
            <input type="hidden" name="missing_supplier[]" value="{$supplier_id}">
            {/foreach}
          </div>
        </div>
        {/if}
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">售價</label>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control col-md-6 col-xs-6" name="shop_price" value="{$goods.shop_price}" size="20" onblur="priceSetted()"/>
              <span class="input-group-btn" style="display: none;"><input type="button" class="btn btn-primary" value="{$lang.compute_by_mp}" onclick="marketPriceSetted()" />
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lab_market_price}</label>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control col-md-6 col-xs-6" name="market_price" value="{$goods.market_price}" size="20" />
              <span class="input-group-btn" style="display: none;">
                <input type="button" class="btn btn-primary" value="{$lang.integral_market_price}" onclick="integral_market_price()" />
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">
            贈送積分
          </label>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <input aria-describedby="giveIntegral" type="text" class="form-control col-md-1 col-xs-1" name="give_integral" value="{$goods.give_integral}" size="20" />
            <span class="form-helper" id="giveIntegral">{$lang.notice_give_integral}</span></div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">
            {$lang.lab_promote_price}
          </label>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="input-group">
              <div class="input-group-addon"><input class="input-group-text" type="checkbox" id="is_promote" name="is_promote" value="1" {if $goods.is_promote}checked="checked"{/if} onclick="handlePromote(this.checked);" /></div>
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control has-feedback-left" id="promote_1" name="promote_price" value="{$goods.promote_price}" size="20" />
            </div>
            <div class="controls">
              <div class="input-prepend input-group">
                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar-alt"></i></span>
                <input type="text" name="promote_date" data-type='daterangetime' id="promote_date" class="form-control" value="{$goods.promote_start_date} to {$goods.promote_end_date}" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group goods_info">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">主圖</label>
          <div class="col-md-3 col-sm-6 col-xs-12 main_img">
              <input type="text" class="isUploadImg" name="isUploadImg" size="20" hidden/>
              <div class="change_img" hidden><i class="fa fa-undo" style="background: #1296db; color: #fff;padding: 5px;border-radius: 15px;"></i></div>
              <div class="delete_img" hidden><i class="fa fa-trash-alt" style="background: #fff2e2; color: #ff990d;padding: 5px;border-radius: 15px;"></i></div>
            <div class="cropit" data-origin="{$goods.goods_img}" data-name="goods_img" data-width="400" data-height="400"></div>
            <div class="input-group">
              <div class="input-group-addon">或</div>
              <input type="text" class="form-control col-md-6 col-xs-6" size="40" value="{$lang.lab_picture_url}" style="color:#aaa;" onfocus="if (this.value == '{$lang.lab_picture_url}'){this.value='http://';this.style.color='#000';}" name="goods_img_url"/>
            </div>
            <div class="add_img">+</div>
          </div>
        </div>
        {if $code eq ''}
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">重量</label>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="input-group">
              <input type="text" class="form-control col-md-6 col-xs-6" name="goods_weight" value="{$goods.goods_weight}" size="20" />
              <div class="input-group-addon">KG</div>
            </div>
            <input type="hidden" name="weight_unit" value="1" />
          </div>
        </div>
        {/if}
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">尺寸</label>
          <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
            <div class="col-md-4"><div class="input-group">
              <div class="input-group-addon">長</div>
              <input type="text" class="form-control" name="goods_length" value="{$goods.goods_length}" size="20" />
              <div class="input-group-addon">CM</div>
            </div></div>
            <div class="col-md-4"><div class="input-group">
              <div class="input-group-addon">闊</div>
              <input type="text" class="form-control" name="goods_width" value="{$goods.goods_width}" size="20" />
              <div class="input-group-addon">CM</div>
            </div></div>
            <div class="col-md-4"><div class="input-group">
              <div class="input-group-addon">高</div>
              <input type="text" class="form-control" name="goods_height" value="{$goods.goods_height}" size="20" />
              <div class="input-group-addon">CM</div>
            </div></div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12"> 另收運費</label>
          <div class="col-md-3 col-sm-6 col-xs-12"><input type="text" class="form-control col-md-6 col-xs-6" name="shipping_price" value="{$goods.shipping_price}" size="20" />
          <span class="form-helper"  id="shippingPrice">此處填寫費用金額(e.g. 100), 輸入0則按正常運費計算</span></div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lab_is_free_shipping}</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" class="flat"  name="is_shipping" value="1" {if $goods.is_shipping}checked="checked"{/if} > {$lang.free_shipping}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">是否顯示折扣</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" class="flat" name="display_discount" value="1" {if $goods.display_discount}checked="checked"{/if} > 打勾表示此產品於產品頁及分類頁顯示現金優惠及市價優惠。
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">關鍵詞</label>
          <div class="col-md-5 col-sm-5 col-xs-12">
            <input type="text" class="form-control" name="keywords" value="{$goods.keywords|escape}" size="80" />
            <div class="form-helper">{$lang.notice_keywords}</div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lab_goods_brief}</label>
          <div class="col-md-6 col-sm-6 col-xs-12"><textarea class="form-control" name="goods_brief" cols="80" rows="4">{$goods.goods_brief|escape}</textarea></div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">保養條款</label>
          <div class="col-md-5 col-sm-5 col-xs-12">
            <select class="form-control template_select "name="warranty_template_id">
              {foreach from=$warranty_templates item=warranty_template}
              <option value="{$warranty_template.template_id}"{if $goods.warranty_template_id eq $warranty_template.template_id} selected="selected"{/if}>{$warranty_template.template_name}</option>
              {/foreach}
              <option value="0"{if $goods.warranty_template_id eq 0} selected="selected"{/if}>自定義</option>
            </select>
            <div id="warranty_input_box">
              <textarea class="form-control" name="seller_note" cols="80" rows="4">{$goods.seller_note|escape}</textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">安裝條款</label>
          <div class="col-md-5 col-sm-5 col-xs-12">
            <select class="form-control template_select"name="shipping_template_id">
              {foreach from=$shipping_templates item=shipping_template}
              <option value="{$shipping_template.template_id}"{if $goods.shipping_template_id eq $shipping_template.template_id} selected="selected"{/if}>{$shipping_template.template_name}</option>
              {/foreach}
              <option value="0"{if $goods.shipping_template_id eq 0} selected="selected"{/if}>自定義</option>
            </select>
            <div id="shipping_input_box">
              <textarea name="shipping_note" class="form-control" cols="80" rows="4">{$goods.shipping_note|escape}</textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">官方網頁</label>
          <div class="col-md-4 col-sm-4 col-xs-12"><input type="text" class="form-control col-md-6 col-xs-6" name="official_website" value="{$goods.official_website|escape}" size="40" placeholder="請輸入完整網址 (如 http://www.yohohongkong.com)" /></div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">開箱及評測</label>
          <div class="col-md-4 col-sm-4 col-xs-12"><input type="text" class="form-control col-md-6 col-xs-6" name="unboxing_page" value="{$goods.unboxing_page|escape}" size="40" placeholder="請輸入完整網址 (如 http://www.yohohongkong.com)" /></div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">原產地</label>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <select class="form-control"name="country_of_origin">
              <option value=""{if $goods.country_of_origin eq ''} selected="selected"{/if}>{$lang.select_please}</option>
              <option{if $goods.country_of_origin eq '日本'} selected="selected"{/if}>日本</option>
              <option{if $goods.country_of_origin eq '美國'} selected="selected"{/if}>美國</option>
              <option{if $goods.country_of_origin eq '韓國'} selected="selected"{/if}>韓國</option>
              <option{if $goods.country_of_origin eq '歐洲'} selected="selected"{/if}>歐洲</option>
              <option{if $goods.country_of_origin eq '德國'} selected="selected"{/if}>德國</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">變壓器編號</label>
          <div class="col-md-3 col-sm-6 col-xs-12"><input type="text" class="form-control col-md-6 col-xs-6" name="require_goods_id" value="{if $goods.require_goods_id}{$goods.require_goods_id}{/if}" size="10" /></div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Price.com 編號</label>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="input-group">
              <input type="text" class="form-control col-md-6 col-xs-6" name="pricecomhk_id" value="{$goods.pricecomhk_id}" size="10" />
              <div class="input-group-addon"><input name="pricecomhk_water" class="flat" type="checkbox" value="1" {if $goods.pricecomhk_water}checked{/if}> 水貨</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Hktvmall 編號</label>
          <div class="col-md-3 col-sm-6 col-xs-12"><input type="text" class="form-control col-md-6 col-xs-6" name="hktvmall_id" value="{$goods.hktvmall_id}" size="10" /></div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">豐澤 編號</label>
          <div class="col-md-3 col-sm-6 col-xs-12"><input type="text" class="form-control col-md-6 col-xs-6" name="fortress_id" value="{$goods.fortress_id}" size="10" /></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="strategy_name">策略</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="col-md-3" style="padding: 8px 0;">
                    <input class="flat" type="checkbox" id="exclude" {if $good.price_strategy neq -1}checked{/if}>
                    進行自動定價
                    <input type="hidden" name="strategy_select" value="{if $batch || $good.price_strategy neq -1}1{else}0{/if}" >
                </div>
                <table class="table table-striped table-bordered bulk_action strategy_select_table" {if $good.price_strategy eq -1}style="display: none"{/if}>
                    <tr>
                        <th width="40"></th>
                        <th width="200">策略名稱</th>
                        {if $session_manage_cost}
                        <th>設置</th>
                        {/if}
                    </tr>
                    {foreach from=$list item=strategy}
                    <tr>
                        <td><input class="flat" type="radio" name="price_strategy" value="{$strategy.strategy_id}" {if $good.price_strategy eq $strategy.strategy_id}checked{/if}></td>
                        <td>{$strategy.strategy_name}</td>
                        {if $session_manage_cost}
                        <td>{$strategy.formatted_config}</td>
                        {/if}
                    </tr>
                    {/foreach}
                </table>
            </div>
        </div>
      </div>
      <!-- 详细描述 -->
      <div role="tabpanel" class="tab-pane fade" id="detail-table">
        <div class="form-group">
          <div><textarea name="goods_desc" id="goods_desc" class="tinymce">{$goods.goods_desc|escape}</textarea></div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">從產品資料庫載入</label>
          <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="proddb_search_row col">
              <div class="input-group">
                <input type="text" class="form-control col-md-6 col-xs-6 proddb_input" size="20" placeholder="在產品資料庫中搜尋產品">
                <span class="input-group-btn">
                  <input type="button" class=" btn btn-primary proddb_search_btn" value="搜尋產品">
                </span>
              </div>
            </div>
            <div class="proddb_result_row col">
              <div class="input-group">
                <select class="form-control proddb_search_result">
                {if $goods.proddb_id}
                <option value="{$goods.proddb_id}" selected="selected">{$goods.proddb_name|escape}</option>
                {/if}
                </select>
                <span class="input-group-btn">
                  <input type="hidden" name="proddb_import" value="0">
                  <input type="button" class=" btn btn-primary proddb_import_btn" value="載入產品">
                  <input type="button" class=" btn btn-primary proddb_edit_btn" value="編輯產品">
                </span>
              </div>
            </div>
            <label class="proddb_sync_row">
              <input type="checkbox" class="proddb_sync_box flat" name="proddb_id" value="{$goods.proddb_id|default:0}"{if $goods.proddb_id} checked="checked"{/if}> 以後自動同步產品描述
            </label>
          </div>
        </div>
      </div>

      <!-- 重要提示 -->
      <div role="tabpanel" class="tab-pane fade" id="guarantee-table">
        <div class="form-group">
          <div class="col-md-12 col-sm-12 col-xs-12"><textarea name="guarantee" id="guarantee" class="tinymce">{$goods.guarantee|escape}</textarea></div>
        </div>
      </div>

      <!-- 包裝內容 -->
      <div role="tabpanel" class="tab-pane fade" id="inthebox-table">
        <div class="form-group">
          <div class="col-md-12 col-sm-12 col-xs-12"><textarea name="inthebox" id="inthebox" class="tinymce">{$goods.inthebox|escape}</textarea></div>
        </div>
      </div>

      <!-- 送貨資訊 -->
      <div role="tabpanel" class="tab-pane fade" id="preorder-table">
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">到貨日期</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" type="text" name="pre_sale_date" data-type="date" value="{$goods.pre_sale_date}" size="20" />
            <span class="form-helper"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">訂貨天數</label>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="input-group">
              <input type="number" class="form-control col-md-6 col-xs-6" name="pre_sale_days" value="{$goods.old_pre_sale_days}" size="20">
              <div class="input-group-addon">天</div>
            </div>
            <span class="form-helper"></span>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-6">
            <select class="form-control" name="pre_sale_string">
              <option value="0" {if $goods.pre_sale_string eq 0 }selected{/if}>出貨</option>
              <option value="1" {if $goods.pre_sale_string eq 1 }selected{/if}>派送</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">最遲付款時間</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="input-group">
              <input class="form-control" type="number" name="pre_sale_time" value="{$goods.pre_sale_time}" min="0" max="24" />
              <div class="input-group-addon">點前</div>
            </div>
            <span class="form-helper">*24小時制</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">訂貨資訊</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="control-label col-xs-12" style="text-align:left;" id="delivery_text">{$goods.delivery_text}</label>
          </div>
        </div>
      </div>

      <!-- 其他信息 -->
      <div role="tabpanel" class="tab-pane fade" id="mix-table" align="center">
        {if $cfg.use_storage}
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lab_goods_number}</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" type="text" name="goods_number" disabled value="{$goods.goods_number}" size="20" />
            <span class="form-helper" id="noticeStorage">{$lang.notice_storage}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lab_warn_number}</label>
          <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control" type="text" name="warn_number" value="{$goods.warn_number}" size="20" /></div>
        </div>
        {/if}

        <div class="form-group" id="is_fls_warehouse">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" id="is_fls_warehouse">FLS倉</label>
          <div class="col-md-6 col-sm-6 col-xs-12" id="is_fls_warehouse">
            <div class=" checkbox">
              <label>
                <input class="flat" type="checkbox" name="is_fls_warehouse" value="1" {if $goods.is_fls_warehouse}checked="checked"{/if} /> 打勾表示貨品會寄放在FLS倉。
              </label>
            </div>
          </div>
        </div>


        <!-- 加入推薦 推介、新品、熱銷隱藏 -->
        <div class="form-group" hidden>
          <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lab_intro}</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class=" checkbox">
              <label>
                <input class="flat" type="checkbox" name="is_best" value="1" {if $goods.is_best}checked="checked"{/if} />{$lang.is_best}
                <input class="flat" type="checkbox" name="is_new" value="1" {if $goods.is_new}checked="checked"{/if} />{$lang.is_new}
                <input class="flat" type="checkbox" name="is_hot" value="1" {if $goods.is_hot}checked="checked"{/if} />{$lang.is_hot}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group" id="alone_sale_1">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" id="alone_sale_2">{$lang.lab_is_on_sale}</label>
          <div class="col-md-6 col-sm-6 col-xs-12" id="alone_sale_3">
            <div class=" checkbox">
              <label>
                <input class="flat" type="checkbox" name="is_on_sale" value="1" {if $goods.is_on_sale}checked="checked"{/if} /> {$lang.on_sale_desc}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lab_is_alone_sale}</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class=" checkbox">
              <label><input class="flat" type="checkbox" name="is_alone_sale" value="1" {if $goods.is_alone_sale}checked="checked"{/if} /> {$lang.alone_sale}</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">
            {$lang.lab_goods_sn}
          </label>
          <div class="col-md-3 col-sm-6 col-xs-12"><input type="text" class="form-control" name="goods_sn" value="{$goods.goods_sn|escape}" onblur="checkGoodsSn(this.value,'{$goods.goods_id}')" />
            <span class="form-helper" id="noticeGoodsSN">{$lang.notice_goods_sn}</span>
          </div>
        </div>
        {if $user_rank_list}
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">
            {$lang.lab_user_price}
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            {foreach from=$user_rank_list item=user_rank}
              {if $user_rank.special_rank eq 0}
              <div class="input-group">
                <div class="input-group-addon">{$user_rank.rank_name}<span id="nrank_{$user_rank.rank_id}"></span></div>
                <input class="form-control" type="text" id="rank_{$user_rank.rank_id}" name="user_price[]" value="{$member_price_list[$user_rank.rank_id]}" onkeyup="if(parseInt(this.value)<-1){this.value='';};set_price_note({$user_rank.rank_id})" size="8" style="width:90%" />
                <div class="checkbox">
                  <label>
                    <input class="vip_price_box" type="checkbox" data-rank-id="{$user_rank.rank_id}" id="vip_price_box_{$user_rank.rank_id}" value="1"/> 無
                  </label>
                </div>
                <input type="hidden" name="user_rank[]" value="{$user_rank.rank_id}" />
              </div>
              {/if}
            {/foreach}
            <br />
            <span class="form-helper" id="noticeUserPrice">{$lang.notice_user_price}</span>
          </div>
        </div>
        {/if}
        <!--商品优惠价格-->
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lab_volume_price}</label>
          <div class="col-md-6 col-sm-6 col-xs-12 dynamic_fields" data-name="volume_price">
            {foreach from=$volume_price_list item=volume_price name="volume_price_tab"}
            <div id="volume_price_{$smarty.foreach.volume_price_tab.iteration}">
              <div class=" col-md-6 col-sm-6 col-xs-12 nopadding">
                <div class="input-group">
                  <div class="input-group-addon">{$lang.volume_number}</div><input class="form-control" type="text" name="volume_number[]" size="8" value="{$volume_price.number}"/>
                </div>
              </div>
              <div class=" col-md-6 col-sm-6 col-xs-12 nopadding">
                <div class="input-group">
                  <div class="input-group-addon">{$lang.volume_price}</div><input class="form-control" type="text" name="volume_price[]" size="8" value="{$volume_price.price}"/>
                  <div class="input-group-btn">
                    {if $smarty.foreach.volume_price_tab.iteration eq 1}
                    <button class="btn btn-success" type="button" onclick="education_fields(this);">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    {else}
                    <button class="btn btn-danger" type="button" onclick="remove_education_fields(this, {$smarty.foreach.volume_price_tab.iteration});">
                      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                    {/if}
                  </div>
                </div>
              </div>
            </div>
            {/foreach}
            <div class="education_fields">
            </div>
            <div class="clear"></div>
            <span class="form-helper" id="volumePrice">{$lang.notice_volume_price}</span>
          </div>
        </div>
        <!--商品优惠价格 end -->
        {if $smarty.session.manage_cost}
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12"> 銷售佣金</label>
          <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control" type="text" name="commission" value="{$goods.commission|default:1%}" size="20" />
          <span class="form-helper"  id="salesCommission">售出該商品時銷售人員所穫得的佣金,可輸入百份比(e.g. 1%)或直接輸入金額(e.g. 10)</span></div>
        </div>
        {/if}
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lab_rank_integral}</label>
          <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control" type="text" name="rank_integral" value="{$goods.rank_integral}" size="20" />
          <span class="form-helper"  id="rankIntegral">{$lang.notice_rank_integral}</span></div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lab_integral}</label>
          <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control" type="text" name="integral" value="{$goods.integral}" size="20" onblur="parseint_integral()";/>
            <span class="form-helper" id="noticPoints">{$lang.notice_integral}</span>
          </div>
        </div>
        <div class="form-group" id="auto_thumb_1">
          <label class="control-label col-md-3 col-sm-3 col-xs-12"> {$lang.lab_thumb}</label>
          <div class="col-md-3 col-sm-3 col-xs-12" id="auto_thumb_3">
            <input type="file" class="form-control" name="goods_thumb" size="35" />
            <div class="input-group">
              <div class="input-group-addon">或</div>
              <input type="text" class="form-control col-md-6 col-xs-6"  size="40" value="{$lang.lab_thumb_url}" style="color:#aaa;" onfocus="if (this.value == '{$lang.lab_thumb_url}'){this.value='http://';this.style.color='#000';}" name="goods_thumb_url"/>
            </div>
            {if $gd > 0}
            <div class="checkbox">
              <label>
                <input class="flat" type="checkbox" id="auto_thumb" name="auto_thumb" checked="checked" value="1" onclick="handleAutoThumb()"/>{$lang.auto_thumb}
              </label>
            </div>
            {/if}
          </div>
        </div>
      </div>

      <!-- 属性与规格 -->
      <div role="tabpanel" class="tab-pane fade" id="properties-table" align="center">
        {if $goods_type_list}
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lab_goods_type}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <select class="form-control" name="goods_type" disabled="disabled" onchange="getAttrList({$goods.goods_id})">
                <option value="0">{$lang.sel_goods_type}</option>
                {$goods_type_list}
              </select>
              <input name="goods_type_input" type="hidden" onchange="" >
            <span class="form-helper"  id="noticeGoodsType">{$lang.notice_goods_type}</span></div>
        </div>
        <div class="form-group">
          <div id="tbody-goodsAttr" style="padding:0">{$goods_attr_html}</div>
        </div>
        <div style="display:none;">
          <div class="col-md-6 col-sm-6 col-xs-12">&nbsp;</div>
          <div align="left" >提示有库存的产品，不能更改产品类型。有库存的属性，不能删除。</div>
        </div>
      {/if}
      </div>

      <!-- 商品相册 -->
      <div role="tabpanel" class="tab-pane fade" id="gallery-table" align="center" data-thumb-width="{$thumb_width}" data-thumb-height="{$thumb_height}">
        <!-- 图片列表 -->
        <div class="form-group">
          <div class="col-md-12 col-sm-12 col-xs-12" id="galleryList">
            {foreach from=$img_list item=img key=i}
            <div id="gallery_{$img.img_id}" style="float:left; text-align:center; border: 1px solid #DADADA; margin: 4px; padding:2px;">
              <a href="javascript:;" onclick="if (confirm('{$lang.drop_img_confirm}')) dropImg('{$img.img_id}')">[-]</a><br />
              <a href="goods.php?act=show_image&img_url={$img.img_url}" target="_blank">
              <img src="../{if $img.thumb_url}{$img.thumb_url}{else}{$img.img_url}{/if}" {if $thumb_width neq 0}width="{$thumb_width}"{/if} {if $thumb_height neq 0}height="{$thumb_height}"{/if} border="0" />
              </a><br />
              <input class="form-control"type="text" value="{$img.img_desc|escape}" size="15" name="old_img_desc[{$img.img_id}]" />
              <input class="form-control" type="text" value="{$img.sort_order}" size="3" style="text-align: center;" name="old_img_sort[{$img.img_id}]" />
            </div>
            {/foreach}
          </div>
        </div>
        <div class="form-group"><div class="col-md-6 col-sm-6 col-xs-12">&nbsp;</div></div>
        <!-- 上传图片 -->
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <!-- Uploader will be loaded by goodsgallery.js -->
          </div>
        </div>
        <!-- #BeginComment -->
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <a href="javascript:;" onclick="addImg(this)">[+]</a>
            {$lang.img_desc} <input type="text" name="img_desc[]" size="20" />
            {$lang.img_url} <input type="file" name="img_url[]" />
            <input type="text" size="40" value="{$lang.img_file}" style="color:#aaa;" onfocus="if (this.value == '{$lang.img_file}'){this.value='http://';this.style.color='#000';}" name="img_file[]"/>
          </div>
        </div>
        <!-- #EndComment -->
      </div>

      <!-- 关联商品 -->
      <div role="tabpanel" class="tab-pane fade" id="linkgoods-table" align="center">
        <!-- 商品搜索 -->
        <div class="form-inline">
          <div class="form-group">
            <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
            <select class="form-control" name="cat_id1" id="cat_name1"><option value="0">{$lang.all_category}</option></select>
            <select class="form-control" name="brand_id1" id="brand_name1"><option value="0">{$lang.all_brand}</option></select>
            <div class="input-group no-margin">
              <input class="form-control" type="text" name="keyword1" />
              <div class="input-group-btn">
                <input type="button" value="{$lang.button_search}"  class="btn btn-success"
                  onclick="searchGoods(sz1, 'cat_id1','brand_id1','keyword1')" />
              </div>
            </div>
            <div class="input-group">
              <input class="flat" name="is_single" type="radio" value="1" checked="checked" />{$lang.single}
              <input class="flat" name="is_single" type="radio" value="0" />{$lang.double}
            </div>
          </div>
        </div>
        <!-- 商品列表 -->
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-64 sz_left">
            {$lang.all_goods}
            <div class="col-xs-12 btn-group">
              <input type="button" value=">" onclick="sz1.addItem(false, 'add_link_goods', goodsId, this.form.elements['is_single'][0].checked)" class="btn btn-default col-md-6 col-sm-6" />
              <input type="button" value=">>" onclick="sz1.addItem(true, 'add_link_goods', goodsId, this.form.elements['is_single'][0].checked)" class="btn btn-default col-md-6 col-sm-6" />
            </div>
            <select class="form-control" name="source_select1" size="20"  ondblclick="sz1.addItem(false, 'add_link_goods', goodsId, this.form.elements['is_single'][0].checked)" multiple="true">
            </select>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 sz_right">
            {$lang.link_goods}
            <div class="col-xs-12 btn-group">
              <input type="button" value="<" onclick="sz1.dropItem(false, 'drop_link_goods', goodsId, elements['is_single'][0].checked)" class="btn btn-default col-md-6 col-sm-6" />
              <input type="button" value="<<" onclick="sz1.dropItem(true, 'drop_link_goods', goodsId, elements['is_single'][0].checked)" class="btn btn-default col-md-6 col-sm-6" />
            </div>
            <select class="form-control" name="target_select1" size="20"  multiple ondblclick="sz1.dropItem(false, 'drop_link_goods', goodsId, elements['is_single'][0].checked)">
              {foreach from=$link_goods_list item=link_goods}
              <option value="{$link_goods.goods_id}">{$link_goods.goods_name}</option>
              {/foreach}
            </select>
          </div>
        </div>
      </div>
      <!-- 配件 -->
      <div role="tabpanel" class="tab-pane fade" id="groupgoods-table" align="center">
        <!-- 商品搜索 -->
        <div class="form-inline">
          <div class="form-group">
            <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
            <select class="form-control" name="cat_id2" id="cat_name2"><option value="0">{$lang.all_category}</select>
            <select class="form-control" name="brand_id2" id="brand_name2"><option value="0">{$lang.all_brand}</select>
            <div class="input-group no-margin">
              <input class="form-control" type="text" name="keyword2" />
              <div class="input-group-btn">
                <input type="button" value="{$lang.button_search}"  class="btn btn-success"
                  onclick="searchGoods(sz2, 'cat_id2', 'brand_id2', 'keyword2')" />
              </div>
            </div>
          </div>
        </div>
        <!-- 商品列表 -->
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-64 sz_left">
            {$lang.all_goods}
            <div class="col-xs-12 btn-group">
              <input type="button" value=">" onclick="sz2.addItem(false, 'add_group_goods', goodsId, this.form.elements['price2'].value)" class="btn btn-default col-md-12 col-sm-12" />
            </div>
            <input type="hidden" name="price2" type="text" size="6" />
            <select class="form-control" name="source_select2" size="20" style="width:100%" onchange="sz2.priceObj.value = this.options[this.selectedIndex].id" ondblclick="sz2.addItem(false, 'add_group_goods', goodsId, this.form.elements['price2'].value)">
            </select>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 sz_right">
            {$lang.link_goods}
            <div class="col-xs-12 btn-group">
              <input type="button" value="<" onclick="sz2.dropItem(false, 'drop_group_goods', goodsId, elements['is_single'][0].checked)" class="btn btn-default col-md-6 col-sm-6" />
              <input type="button" value="<<" onclick="sz2.dropItem(true, 'drop_group_goods', goodsId, elements['is_single'][0].checked)" class="btn btn-default col-md-6 col-sm-6" />
            </div>
            <select class="form-control" name="target_select2" size="20" multiple ondblclick="sz2.dropItem(false, 'drop_group_goods', goodsId, elements['is_single'][0].checked)">
              {foreach from=$group_goods_list item=group_goods}
              <option value="{$group_goods.goods_id}">{$group_goods.goods_name}</option>
              {/foreach}
            </select>
          </div>
        </div>
      </div>

      <!-- 关联文章 -->
      <div role="tabpanel" class="tab-pane fade" id="article-table" align="center">
        <!-- 文章搜索 -->
        <div class="form-inline">
          <div class="form-group">
            <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />{$lang.article_title}
            <div class="input-group no-margin">
              <input class="form-control"  type="text" name="article_title" />
              <div class="input-group-btn">
                <input type="button" class="btn btn-success" value="{$lang.button_search}" onclick="searchArticle()" class="btn btn-primary" />
              </div>
            </div>
          </div>
        </div>
        <!-- 文章列表 -->
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-64 sz_left">
            {$lang.all_goods}
            <div class="col-xs-12 btn-group">
              <input type="button" value=">" onclick="sz3.addItem(false, 'add_goods_article', goodsId, this.form.elements['price2'].value)" class="btn btn-default col-md-6 col-sm-6" />
              <input type="button" value=">>" onclick="sz3.addItem(true, 'add_goods_article', goodsId, this.form.elements['price2'].value)" class="btn btn-default col-md-6 col-sm-6" />
            </div>
            <input type="hidden" name="price2" type="text" size="6" />
            <select class="form-control" name="source_select3" size="20"  multiple ondblclick="sz3.addItem(false, 'add_goods_article', goodsId, this.form.elements['price2'].value)">
            </select>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 sz_right">
            {$lang.link_goods}
            <div class="col-xs-12 btn-group">
              <input type="button" value="<" onclick="sz3.dropItem(false, 'drop_goods_article', goodsId, elements['is_single'][0].checked)" class="btn btn-default col-md-6 col-sm-6" />
              <input type="button" value="<<" onclick="sz3.dropItem(true, 'drop_goods_article', goodsId, elements['is_single'][0].checked)" class="btn btn-default col-md-6 col-sm-6" />
            </div>
            <select class="form-control" name="target_select3" size="20" multiple ondblclick="sz3.dropItem(false, 'drop_goods_article', goodsId, elements['is_single'][0].checked)">
              {foreach from=$goods_article_list item=goods_article}
              <option value="{$goods_article.article_id}">{$goods_article.title}</option>
              {/foreach}
            </select>
          </div>
        </div>
      </div>

      <!-- 自訂欄位 -->
      <div role="tabpanel" class="tab-pane fade" id="extrainfo-table">
        <div class="form-group">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">自訂欄位</label>
            <div class="col-md-6 col-sm-9 col-xs-12 dynamic_fields" data-name="extra_info">
              {if !$extra_info_list}
              <div id="extra_info_0">
                <div class=" col-md-6 col-sm-6 col-xs-12 nopadding">
                  <div class="input-group">
                    <div class="input-group-addon">欄位名稱</div><input class="form-control" type="text" name="extra_info_name[]" size="20" maxlength="20" value="" />
                  </div>
                </div>
                <div class=" col-md-6 col-sm-6 col-xs-12 nopadding">
                  <div class="input-group">
                    <div class="input-group-addon">欄位內容</div><input class="form-control" type="text" name="extra_info_value[]" size="30" maxlength="255" value="" />
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                  <div class=" col-md-8 col-sm-8 col-xs-8 nopadding">
                    <div class="input-group">
                      <div class="input-group-addon">欄位鏈結</div><input class="form-control" type="text" name="extra_info_url[]" size="40" maxlength="255" value="" />
                    </div>
                  </div>
                  <div class=" col-md-4 col-sm-4 col-xs-4 nopadding">
                    <div class="input-group">
                      <select class="form-control" name="extra_info_url_newtab[]"><option value="0">普通鏈結</option><option value="1">開新分頁</option></select>
                      <div class="input-group-btn">
                        <button class="btn btn-success" type="button" onclick="education_fields(this);">
                          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {/if}
              {foreach from=$extra_info_list item=info name="extra_info_list_tab"}
              <div {if $info.info_name eq '官方網頁'} style="display: none;"{/if} id="extra_info_{$smarty.foreach.extra_info_list_tab.iteration}">
                <div class=" col-md-6 col-sm-6 col-xs-12 nopadding">
                  <div class="input-group">
                    <div class="input-group-addon">欄位名稱</div><input class="form-control" type="text" name="extra_info_name[]" size="20" maxlength="20" value="{$info.info_name}" />
                  </div>
                </div>
                <div class=" col-md-6 col-sm-6 col-xs-12 nopadding">
                  <div class="input-group">
                    <div class="input-group-addon">欄位內容</div><input class="form-control" type="text" name="extra_info_value[]" size="30" maxlength="255" value="{$info.info_value}" />
                  </div>
                </div>
                <div class=" col-md-12 col-sm-12 col-xs-12 nopadding">
                  <div class=" col-md-8 col-sm-8 col-xs-8 nopadding">
                    <div class="input-group">
                      <div class="input-group-addon">欄位鏈結</div><input class="form-control" type="text" name="extra_info_url[]" size="40" maxlength="255" value="{$info.info_url}" />
                    </div>
                  </div>
                  <div class=" col-md-4 col-sm-4 col-xs-4 nopadding">
                    <div class="input-group">
                      <select class="form-control" name="extra_info_url_newtab[]"><option value="0">普通鏈結</option><option value="1">開新分頁</option></select>
                      <div class="input-group-btn">
                        {if $smarty.foreach.extra_info_list_tab.iteration eq 1}
                        <button class="btn btn-success" type="button" onclick="education_fields(this);">
                          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        {else}
                        <button class="btn btn-danger" type="button" onclick="remove_education_fields(this, {$smarty.foreach.extra_info_list_tab.iteration});">
                          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                        {/if}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {/foreach}
              <div class="education_fields">
              </div>
              <div class="clear"></div>
              <span class="form-helper" id="volumePrice">自訂欄位會顯示在產品頁「最低價格」和「已售出」之間。注欄位名稱是數據庫中的主鍵值，不能重複！</span>
            </div>
          </div>
          <!-- 推廣鏈結 -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">推廣鏈結</label>
            <div class="col-md-6 col-sm-9 col-xs-12 dynamic_fields" data-name="promo_links">
              {if !$promo_links_list}
              <div id="promo_links_0">
                <div class=" col-md-6 col-sm-6 col-xs-12 nopadding">
                  <div class="input-group">
                    <div class="input-group-addon">鏈結文字</div><input class="form-control" type="text" name="promo_link_title[]" size="20" maxlength="20" value="" />
                  </div>
                </div>
                <div class=" col-md-6 col-sm-6 col-xs-12 nopadding">
                  <div class="input-group">
                    <div class="input-group-addon">圖片網址</div><input class="form-control" type="text" name="promo_link_img[]" size="30" maxlength="255" value="" />
                  </div>
                </div>
                <div class=" col-md-12 col-sm-12 col-xs-12 nopadding">
                  <div class="input-group">
                    <div class="input-group-addon">詳細描述</div><input class="form-control" type="text" name="promo_link_desc[]" size="30" maxlength="255" value="" />
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                  <div class=" col-md-8 col-sm-8 col-xs-8 nopadding">
                    <div class="input-group">
                      <div class="input-group-addon">鏈結網址</div><input class="form-control" type="text" name="promo_link_url[]" size="40" maxlength="255" value="" />
                    </div>
                  </div>
                  <div class=" col-md-4 col-sm-4 col-xs-4 nopadding">
                    <div class="input-group">
                      <select class="form-control" name="promo_link_url_newtab[]"><option value="0">普通鏈結</option><option value="1">開新分頁</option></select>
                      <div class="input-group-btn">
                        <button class="btn btn-success" type="button" onclick="education_fields(this);">
                          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {/if}
              {foreach from=$promo_links_list item=promo name="promo_links_tab"}
              <div id="promo_links_{$smarty.foreach.promo_links_tab.iteration}">
                <div class=" col-md-6 col-sm-6 col-xs-12 nopadding">
                  <div class="input-group">
                    <div class="input-group-addon">鏈結文字</div><input class="form-control" type="text" name="promo_link_title[]" size="20" maxlength="20" value="{$promo.link_title}" />
                  </div>
                </div>
                <div class=" col-md-6 col-sm-6 col-xs-12 nopadding">
                  <div class="input-group">
                    <div class="input-group-addon">圖片網址</div><input class="form-control" type="text" name="promo_link_img[]" size="30" maxlength="255" value="{$promo.link_img}" />
                  </div>
                </div>
                <div class=" col-md-12 col-sm-12 col-xs-12 nopadding">
                  <div class="input-group">
                    <div class="input-group-addon">詳細描述</div><input class="form-control" type="text" name="promo_link_desc[]" size="30" maxlength="255" value="{$promo.link_desc}" />
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                  <div class=" col-md-8 col-sm-8 col-xs-8 nopadding">
                    <div class="input-group">
                      <div class="input-group-addon">鏈結網址</div><input class="form-control" type="text" name="promo_link_url[]" size="40" maxlength="255" value="{$promo.link_url}" />
                    </div>
                  </div>
                  <div class=" col-md-4 col-sm-4 col-xs-4 nopadding">
                    <div class="input-group">
                      <select class="form-control" name="promo_link_newtab[]"><option value="0">普通鏈結</option><option value="1"{if $promo.link_newtab} selected="selected"{/if}>開新分頁</option></select>
                      <div class="input-group-btn">
                        {if $smarty.foreach.promo_links_tab.iteration eq 1}
                        <button class="btn btn-success" type="button" onclick="education_fields(this);">
                          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        {else}
                        <button class="btn btn-danger" type="button" onclick="remove_education_fields(this, {$smarty.foreach.promo_links_tab.iteration});">
                          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                        {/if}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {/foreach}
              <div class="education_fields">
              </div>
              <div class="clear"></div>
              <span class="form-helper" id="">推廣鏈結會顯示在產品頁資訊欄之後。注鏈結文字是數據庫中的主鍵值，不能重複！</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="ln_solid"></div>
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
          <input type="hidden" name="goods_id" value="{$goods.goods_id}" />
          {if $code neq ''}
          <input type="hidden" name="extension_code" value="{$code}" />
          {/if}
          <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
          <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
          <input type="hidden" name="act" value="{$form_act}" />
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end goods form -->
{insert_scripts files="validator.js"}

<script language="JavaScript">
  var goodsId = '{$goods.goods_id}';
  var elements = document.forms['theForm'].elements;
  var sz1 = new SelectZone(1, elements['source_select1'], elements['target_select1']);
  var sz2 = new SelectZone(2, elements['source_select2'], elements['target_select2'], elements['price2']);
  var sz3 = new SelectZone(1, elements['source_select3'], elements['target_select3']);
  var marketPriceRate = {$cfg.market_price_rate|default:1};
  var integralPercent = {$cfg.integral_percent|default:0};

  {literal}
  onload = function()
  {
      handlePromote(document.forms['theForm'].elements['is_promote'].checked);
      if (document.forms['theForm'].elements['auto_thumb'])
      {
        handleAutoThumb();
        $('#auto_thumb').trigger('ifChanged');
      }
      changeAttrCat();
      // 检查新订单
      startCheckOrder();
      {/literal}
      {foreach from=$user_rank_list item=item}
      if(!$("#rank_"+{$item.rank_id}).val()){
        $("#vip_price_box_"+{$item.rank_id}).attr("checked",true);
        $("#rank_"+{$item.rank_id}).attr("readonly",true);
      }
      set_price_note({$item.rank_id});
      {/foreach}
      {literal}
      document.forms['theForm'].reset();
  }
  $('.vip_price_box').click(function(){
    var rank_id = $(this).data("rank-id");
    if ($(this).attr('checked')=="checked") {
      $("#rank_"+rank_id).attr("readonly",false);
      $(this).attr("checked",false);
    } else {
      $("#rank_"+rank_id).val("");
      $("#rank_"+rank_id).attr("readonly",true);
      $(this).attr("checked",true);
    }
  });
  function validate()
  {
      var validator = new Validator('theForm');
      validator.required('goods_name', goods_name_not_null);
      $form = $("form[name='theForm']");
      if ($form.find('select[name="cat_id"]').val() == 0)
      {
          validator.addErrorMsg(goods_cat_not_null);
      }

      checkVolumeData("1",validator);

      validator.required('shop_price', shop_price_not_null);
      validator.isNumber('shop_price', shop_price_not_number, true);
      validator.isNumber('market_price', market_price_not_number, false);
      if ($form.find('checkbox[name="is_promote"]').attr('checked'))
      {
          validator.required('promote_start_date', promote_start_not_null);
          validator.required('promote_end_date', promote_end_not_null);
          validator.islt('promote_start_date', 'promote_end_date', promote_not_lt);
      }

      if ($form.find('input[name="goods_number"]') != undefined)
      {
          validator.isInt('goods_number', goods_number_not_int, false);
          //validator.isInt('warn_number', warn_number_not_int, false);
      }

      {if $form_act eq 'insert'}
      if (!$("input[name=perma_link]").data('pass')) {
        alert("設先設定永久鏈結")
        return false;
      } else if ($("input[name=perma_link_raw]").val() == "") {
        alert("設先重新整理")
        return false;
      }
      {/if}
      validator.required('goods_weight', '產品重量不能為空。');
      if ($form.find('input[name="goods_weight"]').val() != '')
      {
        if ((parseFloat($form.find('input[name="goods_weight"]').val()) || 0) <= 0)
        {
          validator.addErrorMsg('產品重量不能為零。');
        }
      }

      return validator.passed();
  }

  /**
   * 切换商品类型
   */
  function getAttrList(goodsId)
  {
      var selGoodsType = document.forms['theForm'].elements['goods_type'];
      if (selGoodsType != undefined)
      {
          var goodsType = selGoodsType.options[selGoodsType.selectedIndex].value;

          Ajax.call('goods.php?is_ajax=1&act=get_attr', 'goods_id=' + goodsId + "&goods_type=" + goodsType, setAttrList, "GET", "JSON");
      }
  }

  function setAttrList(result, text_result)
  {
    document.getElementById('tbody-goodsAttr').innerHTML = result.content;
  }

  /**
   * 按比例计算价格
   * @param   string  inputName   输入框名称
   * @param   float   rate        比例
   * @param   string  priceName   价格输入框名称（如果没有，取shop_price）
   */
  function computePrice(inputName, rate, priceName)
  {
      var shopPrice = priceName == undefined ? document.forms['theForm'].elements['shop_price'].value : document.forms['theForm'].elements[priceName].value;
      shopPrice = Utils.trim(shopPrice) != '' ? parseFloat(shopPrice)* rate : 0;
      if(inputName == 'integral')
      {
          shopPrice = parseInt(shopPrice);
      }
      shopPrice += "";

      n = shopPrice.lastIndexOf(".");
      if (n > -1)
      {
          shopPrice = shopPrice.substr(0, n + 3);
      }

      if (document.forms['theForm'].elements[inputName] != undefined)
      {
          document.forms['theForm'].elements[inputName].value = shopPrice;
      }
      else
      {
          document.getElementById(inputName).value = shopPrice;
      }
  }

  /**
   * 设置了一个商品价格，改变市场价格、积分以及会员价格
   */
  function priceSetted()
  {
    // computePrice('market_price', marketPriceRate);
    computePrice('integral', integralPercent / 100);
    {/literal}
    {foreach from=$user_rank_list item=item}
    set_price_note({$item.rank_id});
    {/foreach}
    {literal}
  }

  /**
   * 设置会员价格注释
   */
  function set_price_note(rank_id)
  {
    var shop_price = parseFloat(document.forms['theForm'].elements['shop_price'].value);

    var rank = new Array();
    {/literal}
    {foreach from=$user_rank_list item=item}
    rank[{$item.rank_id}] = {$item.discount|default:100};
    {/foreach}
    {literal}
    if (shop_price >0 && rank[rank_id] && document.getElementById('rank_' + rank_id) && parseInt(document.getElementById('rank_' + rank_id).value) == -1)
    {
      var price = parseInt(shop_price * rank[rank_id] + 0.5) / 100;
      if (document.getElementById('nrank_' + rank_id))
      {
        document.getElementById('nrank_' + rank_id).innerHTML = '(' + price + ')';
      }
    }
    else
    {
      if (document.getElementById('nrank_' + rank_id))
      {
        document.getElementById('nrank_' + rank_id).innerHTML = '';
      }
    }
  }

  /**
   * 根据市场价格，计算并改变商店价格、积分以及会员价格
   */
  function marketPriceSetted()
  {
    computePrice('shop_price', 1/marketPriceRate, 'market_price');
    computePrice('integral', integralPercent / 100);
    {/literal}
    {foreach from=$user_rank_list item=item}
    set_price_note({$item.rank_id});
    {/foreach}
    {literal}
  }

  /**
   * 新增一个规格
   */
  function addSpec(obj)
  {
      var src   = obj.parentNode.parentNode;
      var idx   = rowindex(src);
      var tbl   = document.getElementById('attrTable');
      var row   = tbl.insertRow(idx + 1);
      var cell1 = row.insertCell(-1);
      var cell2 = row.insertCell(-1);
      var regx  = /<a([^>]+)<\/a>/i;

      cell1.className = 'label';
      cell1.innerHTML = src.childNodes[0].innerHTML.replace(/(.*)(addSpec)(.*)(\[)(\+)/i, "$1removeSpec$3$4-");
      cell2.innerHTML = src.childNodes[1].innerHTML.replace(/readOnly([^\s|>]*)/i, '');
  }

  /**
   * 删除规格值
   */
  function removeSpec(obj)
  {
      var row = rowindex(obj.parentNode.parentNode);
      var tbl = document.getElementById('attrTable');

      tbl.deleteRow(row);
  }

  /**
   * 处理规格
   */
  function handleSpec()
  {
      var elementCount = document.forms['theForm'].elements.length;
      for (var i = 0; i < elementCount; i++)
      {
          var element = document.forms['theForm'].elements[i];
          if (element.id.substr(0, 5) == 'spec_')
          {
              var optCount = element.options.length;
              var value = new Array(optCount);
              for (var j = 0; j < optCount; j++)
              {
                  value[j] = element.options[j].value;
              }

              var hiddenSpec = document.getElementById('hidden_' + element.id);
              hiddenSpec.value = value.join(String.fromCharCode(13)); // 用回车键隔开每个规格
          }
      }
      return true;
  }

  function handlePromote(checked)
  {
    document.forms['theForm'].elements['promote_price'].disabled = !checked;
    document.forms['theForm'].elements['promote_date'].disabled = !checked;
  }

  function handleAutoThumb()
  {
    $('#auto_thumb').on('ifChanged', function(event){
      document.forms['theForm'].elements['goods_thumb_url'].disabled = event.target.checked;
      if(!event.target.checked) $("input[name='goods_thumb']").show();
      else $("input[name='goods_thumb']").hide();
    });
  }

  /**
   * 快速添加品牌
   */
  function rapidBrandAdd(conObj)
  {
      var brand_div = document.getElementById("brand_add");

      if(brand_div.style.display != '')
      {
          var brand =document.forms['theForm'].elements['addedBrandName'];
          brand.value = '';
          brand_div.style.display = '';
      }
  }

  function hideBrandDiv()
  { 
      var brand_add_div = document.getElementById("brand_add");
      if(brand_add_div.style.display != 'none')
      {
          brand_add_div.style.display = 'none';
      }
  }

  function goBrandPage()
  {
      if(confirm(go_brand_page))
      {
          window.location.href='brand.php?act=add';
      }
      else
      {
          return;
      }
  }

  function rapidCatAdd()
  {
      var cat_div = document.getElementById("category_add");

      if(cat_div.style.display != '')
      {
          var cat =document.forms['theForm'].elements['addedCategoryName'];
          cat.value = '';
          cat_div.style.display = '';
      }
  }

  function addBrand()
  {
      var brand = document.forms['theForm'].elements['addedBrandName'];
      if(brand.value.replace(/^\s+|\s+$/g, '') == '')
      {
          alert(brand_cat_not_null);
          return;
      }

      var params = 'brand=' + brand.value;
      Ajax.call('brand.php?is_ajax=1&act=add_brand', params, addBrandResponse, 'GET', 'JSON');
  }

  function addBrandResponse(result)
  {
      if (result.error == '1' && result.message != '')
      {
          alert(result.message);
          return;
      }

      var brand_div = document.getElementById("brand_add");
      brand_div.style.display = 'none';

      var response = result.content;

      var selCat = document.forms['theForm'].elements['brand_id'];
      var opt = document.createElement("OPTION");
      opt.value = response.id;
      opt.selected = true;
      opt.text = response.brand;

      if (Browser.isIE)
      {
          selCat.add(opt);
      }
      else
      {
          selCat.appendChild(opt);
      }

      return;
  }

  function addCategory()
  {
      var parent_id = document.forms['theForm'].elements['cat_id'];
      var cat = document.forms['theForm'].elements['addedCategoryName'];
      if(cat.value.replace(/^\s+|\s+$/g, '') == '')
      {
          alert(category_cat_not_null);
          return;
      }

      var params = 'parent_id=' + parent_id.value;
      params += '&cat=' + cat.value;
      Ajax.call('category.php?is_ajax=1&act=add_category', params, addCatResponse, 'GET', 'JSON');
  }

  function hideCatDiv()
  {
      var category_add_div = document.getElementById("category_add");
      if(category_add_div.style.display != null)
      {
          category_add_div.style.display = 'none';
      }
  }

  function changeAttrCat()
  {
    var cat_id = document.getElementsByName("cat_id")[0].value;
    var selAttrType = document.forms['theForm'].elements['goods_type'];
    var goods_type_input = document.forms['theForm'].elements['goods_type_input'];
    selAttrType.value = cat_id;
    goods_type_input.value = cat_id;
    selAttrType.onchange();
  }

  function addCatResponse(result)
  {
      if (result.error == '1' && result.message != '')
      {
          alert(result.message);
          return;
      }

      var category_add_div = document.getElementById("category_add");
      category_add_div.style.display = 'none';

      var response = result.content;

      var selCat = document.forms['theForm'].elements['cat_id'];
      var opt = document.createElement("OPTION");
      opt.value = response.id;
      opt.selected = true;
      opt.innerHTML = response.cat;

      //获取子分类的空格数
      var str = selCat.options[selCat.selectedIndex].text;
      var temp = str.replace(/^\s+/g, '');
      var lengOfSpace = str.length - temp.length;
      if(response.parent_id != 0)
      {
          lengOfSpace += 4;
      }
      for (i = 0; i < lengOfSpace; i++)
      {
          opt.innerHTML = '&nbsp;' + opt.innerHTML;
      }

      for (i = 0; i < selCat.length; i++)
      {
          if(selCat.options[i].value == response.parent_id)
          {
              if(i == selCat.length)
              {
                  if (Browser.isIE)
                  {
                      selCat.add(opt);
                  }
                  else
                  {
                      selCat.appendChild(opt);
                  }
              }
              else
              {
                  selCat.insertBefore(opt, selCat.options[i + 1]);
              }
              //opt.selected = true;
              break;
          }

      }

      return;
  }

    function goCatPage()
    {
        if(confirm(go_category_page))
        {
            window.location.href='category.php?act=add';
        }
        else
        {
            return;
        }
    }


  /**
   * 删除快速分类
   */
  function removeCat()
  {
      if(!document.forms['theForm'].elements['parent_cat'] || !document.forms['theForm'].elements['new_cat_name'])
      {
          return;
      }

      var cat_select = document.forms['theForm'].elements['parent_cat'];
      var cat = document.forms['theForm'].elements['new_cat_name'];

      cat.parentNode.removeChild(cat);
      cat_select.parentNode.removeChild(cat_select);
  }

  /**
   * 删除快速品牌
   */
  function removeBrand()
  {
      if (!document.forms['theForm'].elements['new_brand_name'])
      {
          return;
      }

      var brand = document.theForm.new_brand_name;
      brand.parentNode.removeChild(brand);
  }

  /**
   * 添加扩展分类
   */
  function addOtherCat(conObj)
  {
      var sel = document.createElement("SELECT");
      var selCat = document.forms['theForm'].elements['cat_id'];

      for (i = 0; i < selCat.length; i++)
      {
          var opt = document.createElement("OPTION");
          opt.text = selCat.options[i].text;
          opt.value = selCat.options[i].value;
          if (Browser.isIE)
          {
              sel.add(opt);
          }
          else
          {
              sel.appendChild(opt);
          }
      }
      conObj.appendChild(sel);
      sel.name = "other_cat[]";
      sel.onChange = function() {checkIsLeaf(this);};
  }

  /* 关联商品函数 */
  function searchGoods(szObject, catId, brandId, keyword)
  {
      var filters = new Object;

      filters.cat_id = elements[catId].value;
      filters.brand_id = elements[brandId].value;
      filters.keyword = Utils.trim(elements[keyword].value);
      filters.exclude = document.forms['theForm'].elements['goods_id'].value;

      szObject.loadOptions('get_goods_list', filters);
  }

  /**
   * 关联文章函数
   */
  function searchArticle()
  {
    var filters = new Object;

    filters.title = Utils.trim(elements['article_title'].value);

    sz3.loadOptions('get_article_list', filters);
  }

  /**
   * 新增一个图片
   */
  function addImg(obj)
  {
      var src  = obj.parentNode.parentNode;
      var idx  = rowindex(src);
      var tbl  = document.getElementById('gallery-table');
      var row  = tbl.insertRow(idx + 1);
      var cell = row.insertCell(-1);
      cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addImg)(.*)(\[)(\+)/i, "$1removeImg$3$4-");
  }

  /**
   * 删除图片上传
   */
  function removeImg(obj)
  {
      var row = rowindex(obj.parentNode.parentNode);
      var tbl = document.getElementById('gallery-table');

      tbl.deleteRow(row);
  }

  /**
   * 删除图片
   */
  function dropImg(imgId)
  {
    Ajax.call('goods.php?is_ajax=1&act=drop_image', "img_id="+imgId, dropImgResponse, "GET", "JSON");
  }

  function dropImgResponse(result)
  {
      if (result.error == 0)
      {
          document.getElementById('gallery_' + result.content).style.display = 'none';
      }
  }

  /**
   * 将市场价格取整
   */
  function integral_market_price()
  {
    document.forms['theForm'].elements['market_price'].value = parseInt(document.forms['theForm'].elements['market_price'].value);
  }

   /**
   * 将积分购买额度取整
   */
  function parseint_integral()
  {
    document.forms['theForm'].elements['integral'].value = parseInt(document.forms['theForm'].elements['integral'].value);
  }


  /**
  * 检查货号是否存在
  */
  function checkGoodsSn(goods_sn, goods_id)
  {
    if (goods_sn == '')
    {
        document.getElementById('goods_sn_notice').innerHTML = "";
        return;
    }

    var callback = function(res)
    {
      if (res.error > 0)
      {
        document.getElementById('goods_sn_notice').innerHTML = res.message;
        document.getElementById('goods_sn_notice').style.color = "red";
      }
      else
      {
        document.getElementById('goods_sn_notice').innerHTML = "";
      }
    }
    Ajax.call('goods.php?is_ajax=1&act=check_goods_sn', "goods_sn=" + goods_sn + "&goods_id=" + goods_id, callback, "GET", "JSON");
  }

  /**
   * 校验优惠数据是否正确
   */
  function checkVolumeData(isSubmit,validator)
  {
    var volumeNum = document.getElementsByName("volume_number[]");
    var volumePri = document.getElementsByName("volume_price[]");
    var numErrNum = 0;
    var priErrNum = 0;

    for (i = 0 ; i < volumePri.length ; i ++)
    {
      if ((isSubmit != 1 || volumeNum.length > 1) && numErrNum <= 0 && volumeNum.item(i).value == "")
      {
        validator.addErrorMsg(volume_num_not_null);
        numErrNum++;
      }

      if (numErrNum <= 0 && Utils.trim(volumeNum.item(i).value) != "" && ! Utils.isNumber(Utils.trim(volumeNum.item(i).value)))
      {
        validator.addErrorMsg(volume_num_not_number);
        numErrNum++;
      }

      if ((isSubmit != 1 || volumePri.length > 1) && priErrNum <= 0 && volumePri.item(i).value == "")
      {
        validator.addErrorMsg(volume_price_not_null);
        priErrNum++;
      }

      if (priErrNum <= 0 && Utils.trim(volumePri.item(i).value) != "" && ! Utils.isNumber(Utils.trim(volumePri.item(i).value)))
      {
        validator.addErrorMsg(volume_price_not_number);
        priErrNum++;
      }
    }
  }

  /**
   * 新增一个自訂欄位
   */
  function addExtraInfo(obj)
  {
      var src  = obj.parentNode.parentNode;
      var idx  = rowindex(src);
      var tbl  = document.getElementById('extrainfo-table');
      var row  = tbl.insertRow(idx + 1);
      var cell = row.insertCell(-1);
      cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addExtraInfo)(.*)(\[)(\+)/i, "$1removeExtraInfo$3$4-");
  }

  /**
   * 删除自訂欄位
   */
  function removeExtraInfo(obj)
  {
      var row = rowindex(obj.parentNode.parentNode);
      var tbl = document.getElementById('extrainfo-table');

      tbl.deleteRow(row);
  }
  
  // 如果產品關鍵詞未填或興中重名稱相同，自動從產品名稱抄過去
  (function () {
    var goods_name_on_focus = '';
    $('input[name="goods_name"]').focus(function () {
      goods_name_on_focus = $(this).val();
    }).blur(function () {
      var $keywords = $('input[name="keywords"]');
      if (!$keywords.val() || $keywords.val() == goods_name_on_focus)
      {
        $keywords.val($(this).val());
      }
    });
  })();
  
  // 保養條款模版
  $(function () {
    if ($('select[name="warranty_template_id"]').val() == 0)
    {
      //$('#warranty_input_box').show();
      $('textarea[name="seller_note"]').prop('readonly', false);
    }
    else
    {
      //$('#warranty_input_box').hide();
      $('textarea[name="seller_note"]').prop('readonly', true);
    }
    if ($('select[name="shipping_template_id"]').val() == 0)
    {
      $('textarea[name="shipping_note"]').prop('readonly', false);
    }
    else
    {
      $('textarea[name="shipping_note"]').prop('readonly', true);
    }
  });
  
  $('select[name="warranty_template_id"]').change(function () {
    var $sel = $(this);
    var template_id = $sel.val();
    
    if (template_id == 0)
    {
      //$('#warranty_input_box').show();
      $('textarea[name="seller_note"]').prop('readonly', false);
      return;
    }
    //$('#warranty_input_box').hide();
    $('textarea[name="seller_note"]').prop('readonly', true);

    var $loading_opt = $('<option value="' + template_id + '">載入中...</option>');
    $sel.prepend($loading_opt);
    $loading_opt.prop('selected', true);
    $sel.prop('disabled', true);
    
    $.ajax({
      url: 'warranty_templates.php',
      type: 'get',
      data: {
        'act': 'get_warranty_template',
        'id': template_id
      },
      dataType: 'json',
      complete: function () {
        $sel.prop('disabled', false);
        $loading_opt.remove();
        $sel.val(template_id);
      },
      success: function (result) {
        
        if (!result.data) return;
        
        // Switch to default language first
        var $langSel = $('select.edit-language-select');
        if ($langSel)
        {
          if ($langSel.val() != YOHO.admin.i18n.default_lang)
          {
            $langSel.val(YOHO.admin.i18n.default_lang).trigger('change');
          }
        }
        
        // Import 保養條款
        $('textarea[name="seller_note"]').val(result.data.template_content);
        
        // Import localized versions
        $.each(YOHO.admin.i18n.langs, function (i, lang) {
          // If localized version available...
          if ((typeof result.localized_versions === 'object') && result.localized_versions.hasOwnProperty(lang))
          {
            if (!window.localizedVersions.hasOwnProperty(lang))
            {
              window.localizedVersions[lang] = {};
            }
            // Import 保養條款
            window.localizedVersions[lang].seller_note = result.localized_versions[lang].template_content;
          }
          // If localized version NOT available...
          else
          {
            if (window.localizedVersions.hasOwnProperty(lang))
            {
              // Clear out existing localized data
              if (window.localizedVersions[lang].hasOwnProperty('seller_note'))
              {
                window.localizedVersions[lang].goods_brief = '';
              }
            }
          }
        });
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });
  });

  $('select[name="shipping_template_id"]').change(function () {
    var $sel = $(this);
    var template_id = $sel.val();

    if (template_id == 0)
    {
      $('textarea[name="shipping_note"]').prop('readonly', false);
      return;
    }
    $('textarea[name="shipping_note"]').prop('readonly', true);

    var $loading_opt = $('<option value="' + template_id + '">載入中...</option>');
    $sel.prepend($loading_opt);
    $loading_opt.prop('selected', true);
    $sel.prop('disabled', true);

    $.ajax({
      url: 'shipping_templates.php',
      type: 'get',
      data: {
        'act': 'get_shipping_template',
        'id': template_id
      },
      dataType: 'json',
      complete: function () {
        $sel.prop('disabled', false);
        $loading_opt.remove();
        $sel.val(template_id);
      },
      success: function (result) {
        if (!result.data) return;

        // Switch to default language first
        var $langSel = $('select.edit-language-select');
        if ($langSel)
        {
          if ($langSel.val() != YOHO.admin.i18n.default_lang)
          {
            $langSel.val(YOHO.admin.i18n.default_lang).trigger('change');
          }
        }

        // Import 安裝條款
        $('textarea[name="shipping_note"]').val(result.data.template_content);
        // Import localized versions
        $.each(YOHO.admin.i18n.langs, function (i, lang) {
          // If localized version available...
          if ((typeof result.localized_versions === 'object') && result.localized_versions.hasOwnProperty(lang))
          {
            if (!window.localizedVersions.hasOwnProperty(lang))
            {
              window.localizedVersions[lang] = {};
            }
            // Import 安裝條款
            window.localizedVersions[lang].shipping_note = result.localized_versions[lang].template_content;
          }
          // If localized version NOT available...
          else
          {
            if (window.localizedVersions.hasOwnProperty(lang))
            {
              // Clear out existing localized data
              if (window.localizedVersions[lang].hasOwnProperty('shipping_note'))
              {
                window.localizedVersions[lang].goods_brief = '';
              }
            }
          }
        });
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });
  });

  // 產品資料庫整合
  if (!$('.proddb_sync_box').val() || $('.proddb_sync_box').val() == 0)
  {
    $('.proddb_result_row').css('display', 'none'); // hide first, show after search
    $('.proddb_sync_row').css('display', 'none'); // hide first, show after import
  }
  
  $('.proddb_search_btn').click(function () {
    var $txt = $('.proddb_input');
    var $sel = $('.proddb_search_result');
    
    if (!$txt.val())
    {
      alert('請輸入產品ID或產品名稱以進行搜尋');
      return;
    }
    
    $('.proddb_result_row').css('display', 'block');
    $('.proddb_import_btn').css('display', 'none'); // hide first, show after ajax
    $('.proddb_edit_btn').css('display', 'none'); // hide first, show after ajax
    
    $sel.empty();
    $sel.prop('disabled', true);
    $sel.append('<option value="">搜尋中...</option>');
    
    $.ajax({
      url: 'goods.php',
      type: 'get',
      data: {
        'act': 'search_proddb',
        'keyword': $txt.val()
      },
      dataType: 'json',
      success: function (result) {
        $sel.empty();
        $sel.prop('disabled', false);
        $sel.append('<option value="">請選擇產品</option>');
        $.each(result, function (i, prod) {
          $opt = $('<option>');
          $opt.text(prod.product_name);
          $opt.val(prod.product_id);
          $sel.append($opt);
        });
        $('.proddb_import_btn').css('display', 'inline-block');
        $('.proddb_edit_btn').css('display', 'inline-block');
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });
  });
  
  $('.proddb_input').keypress(function (event){
    if (event.which == 13)
    {
      $('.proddb_search_btn').trigger('click');
      //Prevent the form from submitting
      event.preventDefault();
    }
  });

  //main image icon click
  $('body').on('click', '.change_img', function(event){
      $(this).closest('.main_img').find('input[type="file"]').click();
  });

  $('body').on('click', '.delete_img', function(event){
      $('.isUploadImg').val('0');
      $('.cropit-image-preview.cropit-image-loaded').css('background-image', 'none');
      $('.main_img .add_img').show();
      $('.main_img .change_img').hide();
      $('.main_img .delete_img').hide();
      $('.cropit-image-input').val('');
  });
  //auto pricing checkbox click
  $(document).on("ifChanged", "#exclude", function (e) {
    if ($(e.target).prop("checked")) {
        $(".strategy_select_table").show();
        $("input[name=strategy_select]").val("1")
    } else {
        $(".strategy_select_table").hide();
        $("input[name=strategy_select]").val("0")
    }
})
  
  $('.proddb_import_btn').click(function () {
    var $btn = $(this);
    var $sel = $('.proddb_search_result');
    
    if (!$sel.val()) return;
    var product_id = parseInt($sel.val());
    
    $sel.prop('disabled', true);
    $btn.prop('disabled', true).val('載入中...');
    
    $.ajax({
      url: 'goods.php',
      type: 'get',
      data: {
        'act': 'import_proddb',
        'product_id': product_id
      },
      dataType: 'json',
      complete: function () {
        $sel.prop('disabled', false);
        $btn.prop('disabled', false).val('載入產品');
      },
      success: function (result) {
        
        // Switch to default language first
        var $langSel = $('select.edit-language-select');
        if ($langSel)
        {
          if ($langSel.val() != YOHO.admin.i18n.default_lang)
          {
            $langSel.val(YOHO.admin.i18n.default_lang).trigger('change');
          }
        }
        
        // Import 產品簡介
        $('textarea[name="goods_brief"]').val(result.product.product_brief);
        
        // Import 詳細描述
        $('textarea[name="goods_desc"]').val(result.product.product_desc);
        if (window.tinymce)
				{
					$.each(tinymce.editors, function (i, editor) {
					  if ($(editor.targetElm).attr('name') == 'goods_desc'){
							editor.load();
              $('iframe#tinymce_ifr').highlight(1500);
            }
					});
				}
        // Import localized versions
        $.each(YOHO.admin.i18n.langs, function (i, lang) {
          // If localized version available...
          if ((typeof result.localized_versions === 'object') && result.localized_versions.hasOwnProperty(lang))
          {
            if (!window.localizedVersions.hasOwnProperty(lang))
            {
              window.localizedVersions[lang] = {};
            }
            // Import 產品簡介
            window.localizedVersions[lang].goods_brief = result.localized_versions[lang].product_brief;
            // Import 詳細描述
            window.localizedVersions[lang].goods_desc = result.localized_versions[lang].product_desc;
          }
          // If localized version NOT available...
          else
          {
            if (window.localizedVersions.hasOwnProperty(lang))
            {
              // Clear out existing localized data
              if (window.localizedVersions[lang].hasOwnProperty('goods_brief'))
              {
                window.localizedVersions[lang].goods_brief = '';
              }
              if (window.localizedVersions[lang].hasOwnProperty('goods_desc'))
              {
                window.localizedVersions[lang].goods_desc = '';
              }
            }
          }
        });
        
        // Set import flag
        $('input[name="proddb_import"]').val('1');
        
        // Show sync checkbox
        $('.proddb_sync_row').css('display', 'block');
        $('.proddb_sync_box').val(''+product_id);
        $('.proddb_sync_box').prop('checked', true);
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });
  });

  $('.proddb_edit_btn').click(function () {
    var $sel = $('.proddb_search_result');
    
    if (!$sel.val()) return;
    var product_id = parseInt($sel.val());
    
    window.open('https://www.anyspecs.com/product/edit/' + product_id, '_blank');
  });

  $('#preorder-table input').change(function(){
    updatePreorderTable();
  });
  $('#preorder-table select').change(function(){
    updatePreorderTable();
  });
  $('#preorder-table input').on('dp.change', function(e){ updatePreorderTable(); })
  function updatePreorderTable() {
    $.ajax({
      url: 'goods.php',
      type: 'post',
      data: {
        'act': 'preorder_text_update',
        'pre_sale_date': $('input[name="pre_sale_date"]').val(),
        'pre_sale_days': $('input[name="pre_sale_days"]').val(),
        'pre_sale_time': $('input[name="pre_sale_time"]').val(),
        'pre_sale_string': $('select[name="pre_sale_string"]').val()
      },
      dataType: 'json',
      success: function (result) {
        $('#delivery_text').html(result.content.delivery_text);
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。('+xhr.status+')');
      }
    });
  }
  function changeGoodsSize($e) {
    var $data = $($e).find( "option:selected" ).data();
    var $h = $data.h;
    var $w = $data.w;
    var $l = $data.l;
    if($h != 0 && $w != 0 && $l != 0) {
      $('input[name="goods_length"]').val($l);
      $('input[name="goods_width"]').val($w);
      $('input[name="goods_height"]').val($h);
    }
  }
  function price_validate(){
    var market_price = parseInt($('input[name="market_price"]').val());
    var shop_price = parseInt($('input[name="shop_price"]').val());
    if (market_price < shop_price) {
      $('input[name="shop_price"]').val("");
      $('input[name="shop_price"]').focus();
      alert("售價不能大於市場售價！");
    }
  }

  // Multiple language support
  var localizableFields = {$localizable_fields|json_encode};
  var localizedVersions = {$localized_versions|json_encode};
  var localizableFieldsMapping = {};
  $(function() {
  {if $form_act eq 'insert'}
    $("#perma_link").permaLink_append({
      priv: '{if $edit_perma_link}1{else}0{/if}',
      table: 'goods',
      url: '/product/{id}-',
      ref: 'goods_name'
    });
  {else}
    $("#perma_link").permaLink_append({
      priv: '{if $edit_perma_link}1{else}0{/if}',
      table: 'goods',
      id: '{$goods.goods_id}',
      origin: {$localized_versions|json_encode},
      init: '{$goods.perma_link}',
      url: '/product/{$goods.goods_id}-'
    });
  {/if}

  var cat_list = [];
  var cat_list_search = [];

  cat_list_search.push({
    id: 0,
    text: "{$lang.all_category}",
    html: "<span>{$lang.all_category}</span>",
  });

  {foreach from=$cat_list item=cat}        
    cat_list.push({
        id: {$cat.cat_id},
        text: "{$cat.cat_name}",
        html: "<span>{$cat.cat_name_by_level}</span>",
  
    });

    cat_list_search.push({
        id: {$cat.cat_id},
        text: "{$cat.cat_name}",
        html: "<span>{$cat.cat_name_by_level}</span>",
  
    });
  {/foreach}

  $("#cat_name").select2({
      width: 'resolve',
      matcher: modelMatcher,
      allowClear: false,
      placeholder: '所有分類',
      data: cat_list,
      escapeMarkup: function(markup) {
          return markup;
      },
      templateResult: function(data) {
          return data.html;
      },
  });

  $("#cat_name1").select2({
      width: 'resolve',
      matcher: modelMatcher,
      allowClear: false,
      placeholder: '所有分類',
      data: cat_list_search,
      escapeMarkup: function(markup) {
          return markup;
      },
      templateResult: function(data) {
          return data.html;
      },
  });

  $("#cat_name2").select2({
      width: 'resolve',
      matcher: modelMatcher,
      allowClear: false,
      placeholder: '所有分類',
      data: cat_list_search,
      escapeMarkup: function(markup) {
          return markup;
      },
      templateResult: function(data) {
          return data.html;
      },
  });


  var brand_list = [];
  var brand_list_search = [];

  brand_list_search.push({
    id: 0,
    text: "{$lang.all_brand}",
    html: "<span>{$lang.all_brand}</span>",
  });

  {foreach from=$brand_list key=brand_id item=brand_name}        
    brand_list.push({
        id: {$brand_id},
        text: "{$brand_name}",
        html: "<span>{$brand_name}</span>",
  
    });
    
    brand_list_search.push({
        id: {$brand_id},
        text: "{$brand_name}",
        html: "<span>{$brand_name}</span>",
  
    })
  {/foreach}

  $("#brand_name").select2({
      width: 'resolve',
      matcher: modelMatcher,
      allowClear: false,
      placeholder: '所有品牌',
      data: brand_list,
      escapeMarkup: function(markup) {
          return markup;
      },
      templateResult: function(data) {
          return data.html;
      },
  });

  $("#brand_name1").select2({
      width: 'resolve',
      matcher: modelMatcher,
      allowClear: false,
      placeholder: '所有品牌',
      data: brand_list_search,
      escapeMarkup: function(markup) {
          return markup;
      },
      templateResult: function(data) {
          return data.html;
      },
  });

  $("#brand_name2").select2({
      width: 'resolve',
      matcher: modelMatcher,
      allowClear: false,
      placeholder: '所有品牌',
      data: brand_list_search,
      escapeMarkup: function(markup) {
          return markup;
      },
      templateResult: function(data) {
          return data.html;
      },
  });
      // $("#brand_name").val({$goods.brand_id}).trigger("change");

  

  $('input[name="market_price"]').blur(function(){
    price_validate();
  });
  $('input[name="shop_price"]').blur(function(){
    if($('input[name="market_price"]').val()!=0) price_validate();
  });
  if ($('.cropit.goods_info').data("origin")) {
    $('.main_img .add_img').hide();
    $('.main_img .change_img').show();
    $('.main_img .delete_img').show();
  }
})
  {/literal}
</script>
{include file="pagefooter.htm"}
