

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
  <!-- 商品搜索 -->
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form action="javascript:searchGoods()" name="searchForm" class="form-inline">
      <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
      <!-- 关键字 -->
      {$lang.keyword} <input class="form-control" type="text" name="keyword" size="15" value="{$keyword}" />
      <input type="submit" value="{$lang.button_search}" class="form-btn btn btn-success" />
    </form>
  </div>
  <!-- 商品列表 -->

  <!-- start goods list -->
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive bulk_action">
    <table class="table table-striped table-bordered" id="goods_attr_by_attr">
      <thead>
        <tr class="headings">
          <th data-id="goods_id" data-key="goods_id"><input type="checkbox" id="check-all" class="flat">{$lang.record_id}</th>
          <th data-id="goods_name">{$lang.goods_name}</th>
          <th data-id="attr_value">{$lang.old_attr_value}</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form class="form-inline" method="post" action="" name="listForm">
      屬性選項：<span style="color:black;padding-right:10px;">{$attribute.attr_name}</span>
      屬性選值：<select class="form-control" name="attr_value">
        {html_options options=$attr_values}
        <option value="attr_remove">{$lang.remove}</option>
      </select>
      <input type="hidden" value="submit_attr_goods" name="act" />
      <input type="button" value="{$lang.button_submit}" class="form-btn btn btn-success" onclick="javascript:confirmAddAttr()" />
    </form>
  </div>
</div>
<!-- end goods list -->
{literal}
{include file="pagefooter.htm"}

<script language="JavaScript">
    var $filter =[];
    $filter['type'] = 'goods_attr_by_attr';
    // Set dynamic parameters for the data table
    $('#goods_attr_by_attr').data('dt_params', $filter);
    yohoTable.url = 'attribute.php';
    var $table = yoho_dataTable();

    function searchGoods()
    {
      $filter['keyword'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
      // Set dynamic parameters for the data table
      $('#goods_attr_by_attr').data('dt_params', $filter);

      // Redraw data table, causes data to be reloaded
      $('#goods_attr_by_attr').DataTable().draw();
    }
    function confirmAddAttr()
    {
      var index = document.forms['listForm'].elements['attr_value'].selectedIndex;
      var value = document.forms['listForm'].elements['attr_value'][index].label;

      var res = confirm(
        '屬性：{$attribute.attr_name}\n'+
        '屬性選值：'+value+
        '\n確認為勾選商品新增此屬性選值？'
      );
      if (res == true) {
        $(document.forms['listForm']).append('<input type="hidden" name="goods_ids" value="'+$table.getSelectValue()+'" />');
         document.forms['listForm'].submit();
      }
    }
</script>
{/literal}
