{if $full_page}
{include file="pageheader.htm"}

{insert_scripts files="../js/utils.js,listtable.js"}

<script type="text/javascript">
  var operator_options = {$operators|json_encode};
  var status_options = [
    {name:'未處理',value:'pending'},
    {name:'處理中',value:'processing'},
    {name:'已完成',value:'finished'},
    {name:'不處理',value:'rejected'}
  ];
</script>
<div class=" x_panel">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
  <th><a href="javascript:listTable.sort('feedback_id'); ">{$lang.record_id}</a>{$sort_feedback_id}</th>
  <th><a href="javascript:listTable.sort('goods_name'); ">產品</a>{$sort_goods_name}</th>
  <th><a href="javascript:listTable.sort('goods_sn'); ">產品貨號</a>{$sort_goods_sn}</th>
  <th><a href="javascript:listTable.sort('add_time'); ">日期</a>{$sort_add_time}</th>
  <th><a href="javascript:listTable.sort('user_name'); ">會員</a>{$sort_user_name}</th>
  <th><a href="javascript:listTable.sort('content'); ">內容</a>{$sort_content}</th>
  <th><a href="javascript:listTable.sort('status'); ">狀態</a>{$sort_status}</th>
  <th><a href="javascript:listTable.sort('operator'); ">跟進人</a>{$sort_operator}</th>
  <th><a href="javascript:listTable.sort('remark'); ">備註</a>{$sort_remark}</th>
  <th>{$lang.handler}</th>
</tr>
{foreach from=$list item=feedback}
<tr>
  <td align="center" nowrap="nowrap">{$feedback.feedback_id}</td>
  <td align="center" nowrap="nowrap"><a href="../goods.php?id={$feedback.goods_id}" alt="{$feedback.goods_name}"><img src="../{$feedback.goods_thumb}" width="50" height="50" class="goods_thumb" data-title="{$feedback.goods_name}"></a></td>
  <td align="center" nowrap="nowrap">
    <a href="goods.php?act=list&amp;keyword={$feedback.goods_sn}">{$feedback.goods_sn}</a>
  </td>
  <td align="center">{$feedback.add_date}</td>
  <td align="center" nowrap="nowrap"><a href="users.php?act=list&amp;keywords={$feedback.user_name|escape}">{$feedback.user_name|escape}</a></td>
  <td align="left">{$feedback.content|escape|nl2br}</td>
  <td align="center" nowrap="nowrap"><span onclick="listTable.dropdown(this, 'edit_status', {$feedback.feedback_id}, status_options)">{$feedback.status_text|default:N/A}</span></td>
  <td align="center" nowrap="nowrap"><span onclick="listTable.dropdown(this, 'edit_operator', {$feedback.feedback_id}, operator_options)">{$feedback.operator|default:N/A}</span></td>
  <td align="center"><span onclick="listTable.edit(this, 'edit_remark', {$feedback.feedback_id})">{$feedback.remark|default:N/A}</span></td>
  <td align="center">
    <a href="javascript:;" onclick="listTable.remove({$feedback.feedback_id}, '{$lang.drop_confirm}', 'remove_problem');"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
  </td>
</tr>
{foreachelse}
  <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
{/foreach}
</table>
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>
</div>
<script type="text/javascript" language="JavaScript">
listTable.query = 'query_problem';
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

$(function () {
  var $mouse_follower = null;
  $('.list-div').on('mouseenter', 'img.goods_thumb', function(e) {
    if ($mouse_follower != null)
    {
      $mouse_follower.remove();
    }
    $mouse_follower = $('<div></div>');
    $mouse_follower.css({
      'position': 'absolute',
      'display': 'block',
      'background-color': 'white',
      'border': '1px solid #ccc',
      '-webkit-box-shadow': '1px 1px 2px 0px rgba(0,0,0,0.5)',
      '-moz-box-shadow': '1px 1px 2px 0px rgba(0,0,0,0.5)',
      'box-shadow': '1px 1px 2px 0px rgba(0,0,0,0.5)',
      'padding': '4px 8px',
      'left': e.pageX + 10,
      'top': e.pageY + 10
    }).text($(this).data('title')).appendTo('body');
  }).on('mousemove', 'img.goods_thumb', function(e) {
      $mouse_follower.css({
        'left': e.pageX + 10,
        'top': e.pageY + 10
      });
  }).on('mouseleave', 'img.goods_thumb', function() {
      $mouse_follower.remove();
      $mouse_follower = null;
  });
});
</script>

{include file="pagefooter.htm"}
{/if}