<!-- $Id: comment_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{insert_scripts files="popupdialog.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form action="javascript:searchComment()" name="theForm" class="form-inline">
      選擇查看類型:&nbsp;&nbsp;
      <select class="form-control" name="mode">
        <option value="normal">正常</option>
        <option value="deleted">已封存</option>
      </select>&nbsp;&nbsp;
      <input type="submit" value="{$lang.button_submit}" class="form-btn btn btn-success" />
    </form>
  </div>
<!-- start comment list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive bulk_action">
<table class="table table-striped table-bordered" id="goods_dai">
  <thead>
    <tr class="headings">
      <th data-id="id" data-key="id">
        <input type="checkbox" id="check-all" class="flat">缺貨ID
      </th>
      <th data-id="add_time">日期</th>
      <th data-id="goods_name">產品名稱</th>
      <th data-id="pre_name">稱呼</th>
      <th data-id="language">語言</th>
      <th data-id="pre_im" data-value="pre_value">聯繫方式</th>
      <th data-id="operator" data-edit="true" data-type="select" data-options="operator1_options">首次操作員</th>
      <th data-id="content" data-edit="true" data-type="select" data-options="content_options">首次回覆</th>
      <th data-id="operator2" data-edit="true" data-type="select" data-options="operator2_options">到貨操作員</th>
      <th data-id="content2" data-edit="true" data-type="select" data-options="content2_options">到貨通知</th>
      <th data-id="content3" data-edit="true">備註</th>
      <th class="actionsCol" data-id="_action" data-sort="0">操作</th>
    </tr>
  <!--{foreach from=$comment_list item=comment}
  <tr>
    <td><input value="{$comment.id}" name="checkboxes[]" type="checkbox">{$comment.id}</td>
		<td>{$comment.add_time}</td>
		<td><a href="/goods.php?id={$comment.goods_id}" target="_blank"{if $comment.goods_number} style="color: green; font-weight: bold;"{/if}>{$comment.goods_name}</a></td>
		<td>
			{$comment.pre_name}
			{if $comment.language and $comment.language neq $default_language}
			<br>
			語言: {$language_list[$comment.language]}
			{/if}
		</td>
		<td>
			{$comment.pre_im_name}：{$comment.pre_value}
			{if $comment.pre_im eq 'email'}
      <br>
      <a href="javascript:void(0);" class="send_email_reply_btn" data-id="{$comment.id}">發送回覆電郵</a>
      {/if}
		</td>
		<td align="center" nowrap="nowrap">
		  <span onclick="javascript:listTable.dropdown(this, 'edit_operator', {$comment.id}, operator1_options)">{$comment.operator|escape:html}</span>
		</td>
		<td align="center" nowrap="nowrap">
		  <span onclick="javascript:listTable.dropdown(this, 'edit_content', {$comment.id}, content_options)">{$comment.content|escape:html}</span>
		</td>
		<td align="center" nowrap="nowrap">
		  <span onclick="javascript:listTable.dropdown(this, 'edit_operator2', {$comment.id}, operator2_options)">{$comment.operator2|escape:html}</span>
		</td>
		<td align="center" nowrap="nowrap">
		  <span onclick="javascript:listTable.dropdown(this, 'edit_content2', {$comment.id}, content2_options)">{$comment.content2|escape:html}</span>
		</td>
		<td align="center">
		  <span onclick="javascript:listTable.edit(this, 'edit_content3', {$comment.id})">{$comment.content3|escape:html}</span>
		</td>
		<td align="center">
		  <span style="white-space: nowrap;">
			{if $comment.is_deleted}
			<a href="javascript:void(0)" onclick="listTable.remove({$comment.id}, '您確認要還原這條記錄嗎?', 'recover')">還原</a>
			{else}
			<a href="javascript:void(0)" onclick="listTable.remove({$comment.id}, '您確認要封存這條記錄嗎?')">封存</a>
			{/if}
		  </span>
		</td>
  </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}-->
  </thead>
  <tbody>
  </tbody>
</table>

</div>
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form method="POST" action="goods_dai.php?act=batch_drop" name="listForm" onsubmit="return $table.confirmBatch(this)">
    <input type="hidden" name="act" value="batch" />
          <input type="submit" name="drop" id="btnSubmit" value="{$lang.button_submit}" class="form-btn btn btn-success"/>
    </form>
  </div>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript">
	var operator1_options = {$salespeople_firstop_json};
  var operator2_options = {$salespeople_recop_json};
	var content_options = {$content_json};
	var content2_options = {$content2_json};
</script>
<script type="text/javascript" language="JavaScript">
<!--
  yohoTable.rowCallback = function( row, data, dataIndex ) {
    $pre_im_html = data.pre_im_name+"："+data.pre_value;
    if(data.pre_im == 'email') {
      $pre_im_html += "<br>"+'<a href="javascript:void(0);" class="send_email_reply_btn" data-id="'+data.id+'">發送回覆電郵</a>';
    }
    $(row).find('.pre_im').html($pre_im_html);

    $goods_name_href = $('<a>',{
      href: '/goods.php?id='+data.goods_id,
      target: '_blank',
      text: data.goods_name
    });
    if(data.goods_number > 0) {
      $goods_name_href.addClass('green');
    } else {
      $goods_name_href.removeClass('green');
    }
    $(row).find('.goods_name').html($goods_name_href);
  };
  var $table = yoho_dataTable();
	function searchComment()
	{
		$filter = [];
    $filter.mode = document.forms['theForm'].elements['mode'].value;
    $('#goods_dai').data('dt_params', $filter);
    $('#goods_dai').DataTable().draw();
	}

  $('body').on('click', '.send_email_reply_btn', function () {
    var dai_id = $(this).data('id');

    var dialog = new PopupDialog({
      popupCss: {
        'width': '300px',
        'height': '200px'
      },
      closeBtnCss: {
        'display': 'none'
      }
    });

    var email_reply_options = [
      {name: '收到您的產品缺貨登記', value: 'received'},
			{name: '通知客人網上訂貨', value: 'preorder'},
      {name: '產品有現貨', value: 'available'}
    ];

    dialog.show();

    var $container = $('<div></div>').css({'padding': '8px', 'text-align': 'center'});
    $container.append('<h2>發送回覆電郵</h2>');
    var $choices = $('<div></div>').css({'display': 'inline-block', 'text-align': 'left'});
    $.each(email_reply_options, function (i, opt) {
      var $label = $('<label></label>').css('display', 'block');
      $label.append('<input type="radio" name="reply_mode" value="' + opt.value + '">');
      $label.append(document.createTextNode(opt.name));
      $choices.append($label);
    });
    $container.append($choices);
    $container.append('<br><br>');
    var $btn = $('<input type="button" value="發送回覆電郵" class="btn btn-primary">');
    $btn.css('margin-right', '8px');
    $container.append($btn);
    var $cancel = $('<a href="javascript:void(0);">取消</a>');
    $container.append($cancel);
    dialog.$popup.append($container);

    $btn.click(function () {
      var reply_mode = dialog.$popup.find('input[name="reply_mode"]:checked').val();
      if (!reply_mode)
      {
        alert('請先選擇回覆電郵模版');
        return;
      }
      var old_txt = $btn.val();
      $btn.val('發送中...');
      $btn.prop('disabled', true);
      $.ajax({
        url: 'goods_dai.php',
        type: 'post',
        data: {
          act: 'email_reply',
          id: dai_id,
          val: reply_mode
        },
        dataType: 'json',
        complete: function () {
          $btn.val(old_txt);
          $btn.prop('disabled', false);
        },
        success: function (result) {
          alert(result.message);
          if (!result.error)
          {
            dialog.hide();
          }
        },
        error: function (xhr) {
          alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
          console.log(xhr);
        }
      });
    });
    $cancel.click(function () {
      dialog.hide();
    });
  });
//-->
</script>