<!-- $Id: goods_type.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<form method="post" action="" name="listForm">
<!-- start goods type list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

<table width="100%" cellpadding="3" cellspacing="1" id="listTable">
  <tr>
    <th>{$lang.goods_type_name}</th>
    <th>{$lang.attr_groups}</th>
    <th>{$lang.attribute_number}</th>
    <th>{$lang.goods_type_status}</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$goods_type_arr item=goods_type}
  <tr>
    <td class="first-cell"><span onclick="javascript:listTable.edit(this, 'edit_type_name', {$goods_type.cat_id})">{$goods_type.cat_name}</span></td>
    <td>{$goods_type.attr_group}</td>
    <td align="right">{$goods_type.attr_count}</td>
    <td align="center"><img src="images/{if $goods_type.enabled}yes{else}no{/if}.gif" ></td>
    <td align="center">
      <a href="attribute.php?act=list&goods_type={$goods_type.cat_id}" title="{$lang.attribute}">{$lang.attribute}</a> |
      <a href="goods_type.php?act=edit&cat_id={$goods_type.cat_id}" title="{$lang.edit}">{$lang.edit}</a> |
      <a href="javascript:;" onclick="listTable.remove({$goods_type.cat_id}, '{$lang.remove_confirm}')" title="{$lang.remove}">{$lang.remove}</a>
    </td>
  </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
    <tr>
      <td align="right" nowrap="true" colspan="6">
      {include file="page.htm"}
      </td>
    </tr>
  </table>

{if $full_page}
</div>
<!-- end goods type list -->
</form>

<script type="text/javascript" language="JavaScript">
<!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
 
  {literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }

//-->
</script>
{/literal}

{include file="pagefooter.htm"}
{/if}
