{include file="pageheader.htm"}

<!--
<link href="styles/ERP.css" rel="stylesheet" type="text/css" />
-->
<style>
.pointer {
	cursor: pointer;
}

.txt-red {
	color: red;
}
.bold {
    font-weight: bold;
}
.txt-green {
	color: green;
}

table#added_result tbody tr td.col-del-item span.del-item {
	color: red;
}

.div-insert-one select, .div-insert-one .input-group {
	width: auto !important;
	vertical-align: middle;
}

.div-insert-one #search_goods {
	width: 210px;
}

.div-insert-one #mass_good_no {
	
}

.div-insert-one #count_goods {
	color: red;
}

.div-insert-mass-cat select, .div-insert-mass-cat button {
	vertical-align: middle;
}

.div-insert-mass-cat button {
	margin: 0;
}

th.active-order {
	font-weight: bold;
	text-decoration: underline;
}

#clear_all_items {
    cursor: pointer;
    background: #ff9900;
    color: #fff;
    padding: 3px;
    margin-left: 5px;
}

</style>

<div class=" x_panel">
	<div id="inner_container">
		<form class="form-horizontal" action="commission.php" name="add_commission" method="post">
			<div class="form-group">
				<div id="extrainfo-table" class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                    <div class="form-group ">                        
                        <label class="control-label bold" style="padding-left: 10px">時間</label>
                        <!-- <span class="col-sm-4"> -->
                            <input class="form-control" style="display: inline-block; width:18%" data-type="month" name="time" type="text" size="22" autocomplete="off"/>
                        <!-- </span> -->
                    </div>
                    <div class="form-group">                        
                        <label class="control-label bold" style="padding-left: 10px">商品範圍</label>
                    </div>
					<div class="form-group">
						<div class="col-sm-10 form-inline div-insert-mass-cat">
							<select name="mass_cat" id="mass_cat" class="form-control">
								<option value="-1">-- 請選擇分類 --</option>
								{$cats}
							</select>
							<select name="mass_brand" id="mass_brand" class="form-control">
								<option value="-1">-- 請選擇品牌 --</option>
								{html_options options=$brands}
                            </select>
                            <label class="control-label bold" style="padding-top: 0px;">銷售佣金</label>
                            <input class="form-control commission-rate" type="text" value="1%">
                            <input class="is-important" type="checkbox" value="1">
                            <span class="control-label" style="padding-top: 0px;">重點產品</span>
							<button id="btn_mass_cat_add" class="btn btn-primary" type="button">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
						</div>
                    </div>
                    <div class="form-group">
                            <label class="control-label bold" style="padding: 0px 0px 0px 427px; margin-bottom: 20px;"> 售出該商品時銷售人員所獲得的佣金，可輸入百分比(e.g. 1%)或直接輸入可獲得金額(e.g. 10)</label>
                    </div>
					<div class="form-group">
						<div class="col-sm-12 form-inline div-insert-one">
							<div class="input-group" style="margin-bottom: 0px">
								<input class="form-control" id="search_goods" placeholder="輸入關鍵字 (條碼/編號/名稱)" type="text">
								<div class="input-group-btn">
									<button id="search_submit" class="btn btn-primary" type="button" title="搜尋">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</div>
							</div>
                            <select name="single_good" id="single_good" class="form-control">
                                <option value="-1">-- 請選擇商品 --</option>
                            </select>
                            <label class="control-label bold" style="padding-top: 0px;">銷售佣金</label>
                            <input class="form-control commission-rate" type="text" value="1%">
                            <input class="is-important" type="checkbox" value="1">
                            <span class="control-label" style="padding-top: 0px;">重點產品</span>
    
                            <button id="btn_single_add" class="btn btn-primary" type="button">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                            <div>
                                <span id="count_goods" style="display: inline-block; width: 100px; "></span>
                                <label class="control-label bold" style="padding: 0px 0px 0px 360px; margin-bottom: 20px;"> 售出該商品時銷售人員所獲得的佣金，可輸入百分比(e.g. 1%)或直接輸入可獲得金額(e.g. 10)</label>
                            </div>
                
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12" style="font-weight: bold; text-align: center; font-size: 16px;">
                            已選商品 (<span id="live_count">0</span>)<span id="clear_all_items" style="display: none">清空列表</span>
						</div>
					</div>
				</div>
				<div class="col-xs-0 col-sm-0 col-md-0 col-lg-2"></div>
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="well well-sm" style="max-height: 900px; overflow-y: scroll;">
						<table class="table table-striped table-responsive" id="added_result">
							<thead>
								<tr>
                                    <th>編號</th>
									<th>名稱</th>
									<th>重點產品</th>
                                    <th>月份</th>
                                    <th>庫存</th>
									<th>平均成本</th>
									<th{if $list_order eq 'shop_price'} class="active-order"{/if}>
									<a href="flashdeal_event.php?act=edit&id={$event_id}&order=shop_price&sort={if $list_order eq 'shop_price'}{if $list_sort eq 'DESC'}ASC{else}DESC{/if}{else}DESC{/if}">價格{if $list_order eq 'shop_price'}{if $list_sort eq 'DESC'}&#10507;{else}&#10506;{/if}{else}&#10507;{/if}</a>
                                    </th>
                                    <th>佣金</th>
									<th>刪除</th>
								</tr>
							</thead>
							<tbody>
								{if $count_goods == 0}
								<tr>
									<td colspan="16" style="text-align: center; font-weight: bold;">請選擇商品。</td>
								</tr>
								{else}
								{foreach from=$event_goods item=good}
								<tr data-item-id='{$good.goods_id}'>
									<td class='item-id'>
										<label class="container-checkbox goods-row">
											<input type="checkbox" class="check-items" id="check_{$good.goods_id}" value="{$good.goods_id}">
											<span class="checkmark"></span>
										</label>
										<input type='hidden' name='item-id[]' value='{$good.goods_id}'>
									</td>
									<td class='item-name'><a href="goods.php?act=edit&id={$good.goods_id}" target="_blank">{$good.goods_name}</a></td>
									<td class='item-stock{if $good.stock <= 0} txt-red{/if}'>{$good.stock}</td>
									<td>{$good.cost}</td>
									<td class='item-price'>{$good.shop_price}</td>
									<td class='item-sort-order'>
										<input type='number' class='sort-order' name='sort-order[]' min='0' max='100' value='{$good.sort_order}'>
									</td>
									<td class='col-del-item'><span class='del-item glyphicon glyphicon-remove pointer'></span></td>
								</tr>
								{/foreach}
								{/if}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-0 col-sm-0 col-md-0 col-lg-1"></div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
					<div style="margin: auto; display: table;">
						<input class="btn btn-success btn-md" type="button" id="confirm" value="提交">		
						<a class="btn btn-danger" href="flashdeal_event.php?act=list">取消</a>	
					</div>
				</div>
				<div class="col-xs-0 col-sm-0 col-md-0 col-lg-2"></div>
			</div>
			<input type="hidden" name="act" value="{$form_action}">
		</form>
	</div>
</div>

{literal}
<script language="JavaScript">
        var added_item = [];
    
        {if $count_goods > 0}
        $('input[name="item-id[]"]').each(function(index) {
            added_item.push($(this).val());
            $('#live_count').html(added_item.length);
        });
        deleteItem();
        {/if}
    
        function addItem(arr_item, commission_rate, is_important, time) {
            if (time=="") {
                alert("請選擇時間！")
                return;
            }
            var print_result = "";
            var out_of_stock = new Array();
            var commission_set = new Array();
            var existed = new Array();
            var no_items_before = added_item.length;
            // var time_arr = time.split("-");
            // var time_str = time_arr[0] + "年" + time_arr[1] + "月";
            var is_important_text = "否";
            if (is_important =='1') {
                is_important_text = "是";
            }
            var arr_item_len = arr_item.length;
            $.each(arr_item, function(k, v) {
                $.ajax({
                url: 'commission.php',
                type: 'POST',
                dataType: 'JSON',
                data:{
                    act: 'ajax_goods_commission_exist',
                    goods_id: v.goods_id,
                    time: time,
                },
                success: function(res){
                    arr_item_len--;
                    if(res.content.length > 0) {
                        commission_set.push(v.goods_name);
                    } else {
                        if ($.inArray(v.goods_id, added_item) >= 0){
                            existed.push(v.goods_name);
                        } else {
                            print_result += "<tr data-item-id='" + v.goods_id + "'>" + 
                                            "<td class='item-goods-id'>" + v.goods_id + 
                                                    "<input type='hidden' name='goods-id[]' value='" + v.goods_id + "'>" + 
                                            "</td>" + 
                                            "<td class='item-name'><a href='goods.php?act=edit&id=" + v.goods_id + "' target='_blank'>" + v.goods_name + "</a></td>" + 
                                            "<td class='item-isimportant'>" + is_important_text + 
                                                    "<input type='hidden' name='is-important[]' value='"+is_important+"'>" +
                                            "</td>" + 
                                            "<td class='item-time'>" + ""+time+"" +
                                                "<input type='hidden' name='time[]' value='"+time+"'>" +
                                            "</td>" + 
                                            "<td class='item-stock" + ((v.stock <= 0)?" txt-red":"") + "'>" + v.stock + "</td>" + 
                                            "<td>" + Math.round(v.cost*100)/100 + "</td>" + 
                                            "<td class='item-price'>" + Math.round(v.shop_price*100)/100 + "</td>" + 
                                            "<td class='item-commission-rate'><input name='commission-rate[]' value='"+commission_rate+"'></td>" +
                                            "<td class='col-del-item'>" + "<span class='del-item glyphicon glyphicon-remove pointer'></span>" + "</td>" + 
                                            "</tr>";
                            added_item.push(v.goods_id);
                            $('#live_count').html(added_item.length);
                        }
                    }
                    if (!arr_item_len) {
                        if (commission_set.length > 0){
                            str_set = commission_set.join(" ,\n ");
                            alert('以下商品已設置'+time+'佣金:\n' + str_set);
                        }
                        if (existed.length > 0){
                            str_existed = existed.join(" ,\n ");
                            alert('以下商品已存在:\n ' + str_existed);
                        }
                        if(no_items_before == 0){
                            $("#added_result tbody").html(print_result);
                        } else {
                            $("#added_result tbody").prepend(print_result);
                        }
                        deleteItem();
                    }
                }
                });
            });
        }
    
        $('#btn_single_add').click(function(e){
            e.preventDefault();
            var selected_good = $(this).siblings('select#single_good');
            var selected_good_id = selected_good.val();
            var commission_rate =  $(this).siblings('input.commission-rate').val();
            var time =  $('input[name="time"]').val(); 
            var is_important_box =  $(this).siblings('input.is-important');
            var is_important = '0';
            if(is_important_box.prop("checked") == true) {
                is_important = '1';
            } 
            if (selected_good_id < 0){
                alert('請重新選擇商品');
                return false;
            } else {
                var selected_good_stock = selected_good.find(':selected').attr("data-stock");
                var selected_good_price = selected_good.find(':selected').attr("data-price");
                var selected_good_cost = selected_good.find(':selected').attr("data-cost");
                var selected_good_name = selected_good.find(':selected').attr("data-name");
                var arr_item = new Array();
                arr_item[0] = [];
                arr_item[0]['goods_id'] = selected_good_id;
                arr_item[0]['goods_name'] = selected_good_name;
                arr_item[0]['stock'] = selected_good_stock;
                arr_item[0]['shop_price'] = selected_good_price;
                arr_item[0]['cost'] = selected_good_cost;
                addItem(arr_item,commission_rate,is_important,time);

            }
        });
    
        $('#btn_mass_cat_add').click(function(e){
            e.preventDefault();
            var cat_id = $(this).siblings('select#mass_cat').val();
            var brand_id = $(this).siblings('select#mass_brand').val();
            var commission_rate =  $(this).siblings('input.commission-rate').val();
            var time =  $('input[name="time"]').val(); 
            var is_important_box =  $(this).siblings('input.is-important');
            var is_important = '0';
            if(is_important_box.prop("checked") == true) {
                is_important = '1';
            } 
            if (cat_id == -1 && brand_id == -1){
                alert('請選擇 分類 或 品牌');
                return false;
            }
            $.ajax({
            url: 'commission.php',
            type: 'POST',
            dataType: 'JSON',
            data:{
                act: 'ajax_get_goods_by_cat',
                cat_id: cat_id,
                brand_id: brand_id,
                search_key: ''
            },
            success: function(res){
                if($.isArray(res.content) && res.content.length > 0) {
                    addItem(res.content,commission_rate,is_important,time);
                    } else {
                        alert('找不到商品');
                    }
            }
            });
        });
    
        $('#search_submit').click(function(e){
            e.preventDefault();
    
            var cat_id = $(this).closest('.input-group').siblings('select#cat').val();
            var brand_id = $(this).closest('.input-group').siblings('select#brand').val();
            var search_key = $.trim($(this).parent().siblings('input#search_goods').val());
            if (search_key.length > 0){
                
            } else {
                alert('請輸入關鍵字');
                return false;
            }
            $.ajax({
            url: 'commission.php',
            type: 'POST',
            dataType: 'JSON',
            data:{
                act: 'ajax_get_goods_by_keyword',
                cat_id: cat_id,
                brand_id: brand_id,
                search_key: search_key
            },
            success: function(res){
                    var print_result = "";
                    if($.isArray(res.content)) {
                        if (res.content.length != 1){
                            print_result += "<option value='-1'>-- 請選擇商品 --</option>";
                        }
                        $.each(res.content, function(k, v) {
                            print_result += "<option value='" + v.goods_id + "' data-stock='" + v.stock + "' data-price='" + v.shop_price + "' data-cost='" + v.cost + "' data-name='" + v.goods_name + "'>" + v.goods_id + " - " + v.goods_name + "</option>";
                        });
                    }
                    $("#single_good").html(print_result);
                    if (res.content.length == 0){
                        $("#count_goods").html("找不到商品");
                    } else {
                        $("#count_goods").html("找到" + res.content.length + "個商品");
                    }
            }
            });
        });
    
        function deleteItem() {
            $('#clear_all_items').show();
            $('.del-item').off("click");
            $('.del-item').click(function (e) {
                var sel_item = $(this).parent().parent();
                var sel_item_id = sel_item.attr('data-item-id');
                var pos = $.inArray(sel_item_id, added_item)
                if (pos >= 0) {
                    added_item.splice($.inArray(sel_item_id, added_item), 1);
                    sel_item.detach();
                }
                $('#live_count').html(added_item.length);
                if (added_item.length == 0) {
                    $('#clear_all_items').hide();
                }
            })
        }

        $('#clear_all_items').click(function (e) {
            e.preventDefault();
            added_item = []
            $('#added_result tbody').empty();
            $('#live_count').html(added_item.length);
            $(this).hide();
        });

        $('#confirm').click(function (e) {
            e.preventDefault();
            if (added_item.length == 0) {
                alert("請選擇商品!");
                return;
            }
            document.forms['add_commission'].submit();
        });
    
    
    </script>
{/literal}
{include file="pagefooter.htm"}

