<!-- $Id: guest_stats.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}

<script type="text/javascript" src="../js/calendar.php?lang="></script>
<script src="js/Chart.min.js"></script>
<script src="js/Chart.bundle.min.js"></script>
<script src="js/Chart.PieceLabel.min.js"></script>
<div class=" x_panel">
<div class="row">
  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
    <li role="presentation" {if $selected eq 'normal' or !$selected}class="active"{/if}>
      <a href="#normal-table" role="tab" data-toggle="tab" aria-expanded="true">基本客戶報告</a>
    </li>
    <li  role="presentation" {if $selected eq 'pc'}class="active"{/if}>
      <a id='pc_li' href="#pc-table" role="tab" data-toggle="tab" aria-expanded="true">Purchase Cycle(購物周期)</a>
    </li>
    <li  role="presentation" {if $selected eq 'cs'}class="active"{/if}>
      <a id='cs_li' href="#cs-table" role="tab" data-toggle="tab" aria-expanded="true">Customer Segment</a>
    </li>
    <li  role="presentation" {if $selected eq 'active'}class="active"{/if}>
      <a id='active_li' href="#active-table" role="tab" data-toggle="tab" aria-expanded="true">活躍會員</a>
    </li>
  </ul>
</div>
<div class="tab-content" >
    <div role="tabpanel" class="tab-pane fade {if $selected eq 'normal' or !$selected}active{/if} in" id="normal-table">
      <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <form method="GET" action="guest_stats.php?act=list" class="form-inline">
          <b tips="設定訂單出貨的時間範圍">訂單出貨： </b>
          {insert name=daterange_group start_date=order_start_date end_date=order_end_date start=$order_start_date end=$order_end_date input=1}
          <br>
          <b tips="設定會員註冊的時間範圍">會員註冊： </b>
          {insert name=daterange_group start_date=reg_start_date end_date=reg_end_date start=$reg_start_date end=$reg_end_date input=1}
          <input name="submit" type="submit" class="btn btn-success from-btn" value="查詢">
        </form>
      </div>
      <div class="list-div">
        <table class="table table-striped table-bordered bulk_action">
          <tr>
            <th colspan="6" align="left" style="padding-left:10px;">{$lang.member_data}</th>
          </tr>
          <tr align="center">
            <td colspan="2">{$lang.member_count}</td>
            <td colspan="2">{$lang.member_login_number}</td>
            <td colspan="2">{$lang.member_online_register}</td>
          </tr>
          <tr align="center">
            <td colspan="2">{$user_num}</td>
            <td colspan="2">{$logined_user}</td>
            <td colspan="2">{$new_data.online_register_user}
              <b tips='<div style="text-align:left">註:<br>算法:<br>網上註冊會員=會員創建時間=第一張單建立時間(已扣減批發會員)</div>'>[註]</b>)</td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr align="center">
            <td colspan="1">{$lang.member_info_filled_number}</td>
            <td colspan="1">{$new_data.sex[0].sex|default:女} / {$new_data.sex[1].sex|default:男}</td>
            <td colspan="2">{$lang.member_email_filled_number}</td>
            <td colspan="2">{$lang.member_email_verified_number}</td>
          </tr>
          <tr align="center">
            <td colspan="1">{$info_completed_user}</td>
            <td colspan="1">{$new_data.sex[0].num|default:0} / {$new_data.sex[1].num|default:0}</td>
            <td colspan="2">{$email_completed_user}</td>
            <td colspan="2">{$validated_user}</td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr align='center'>
            <td colspan="2">{$language_list_string}</td>
            <td colspan="2">{$lang.wholesale_member_count}</td>
            <td colspan="2">{$lang.member_from_sales_agency}</td>
          </tr>
          <tr align='center'>
            <td colspan="2">{$language_distribution_string}</td>
            <td colspan="2">{$wholesale_user_num}</td>
            <td colspan="2">{$sales_agency_introduce_member}</td>
          </tr>
        </table>
      </div>
      <br>
      <hr>
      <div id="step1">
        <div style="color:#777;text-align:right">*購物總額 = goods_amount + tax + shipping_fee + insure_fee + pay_fee + pack_fee + card_fee</div>
        <div style="color:#777;text-align:right">*括號內數字為已扣減 $0 訂單及換貨訂單(部份換貨訂單並非 $0)</div>
        <div style="text-align:right"><b>*格式： 所有訂單 / 扣除換貨及$0訂單 / 扣除換貨、$0及批發訂單</b></div>
        <div class="list-div">
          <table class="table table-striped table-bordered bulk_action">
            <tr>
            <th colspan="5" align="left" style="padding-left:10px;">
            {$lang.percent_buy_member}<span style="font:12px;color:#777;">{$lang.buy_member_formula}</span>
            </th>
            </tr>
            <tr align="center">
              <td tips="已扣除$0訂單及維修單">{$lang.order_member_count}</td>
              <td>{$lang.member_order_count}</td>
              <td tips="=有訂單會員數/會員總數">{$lang.percent_buy_member}</td>
              <td tips="金額/訂單數">{$lang.member_basket_value}</td>
            </tr>
            <tr align="center">
              <td>{$have_order_usernum}</td>
              <td>{$user_order_turnover} / {$user_order_turnover2} / {$user_order_turnover3}</td>
              <td>{$user_ratio}%</td>
              <td>{$ave_basket_value} / {$ave_basket_value2} / {$ave_basket_value3}</td>
            </tr>
          </table>
        </div>
        <br>
        <div class="list-div">
          <table class="table table-striped table-bordered bulk_action">
            <tr>
            <th colspan="5" align="left" style="padding-left:10px;">
            {$lang.order_turnover_peruser}<span style="font:12px;color:#777;">{$lang.member_order_amount}
            {$lang.member_buy_amount}</span>
            </th>
            </tr>
            <tr align="center">
              <td>{$lang.member_sum}</td>
              <td tips="訂單數/會員數">{$lang.average_member_order}</td>
              <td tips="金額/會員數">{$lang.member_order_sum}</td>
            </tr>
            <tr align="center">
              <td>{$user_all_turnover} / {$user_all_turnover2} / {$user_all_turnover3}</td>
              <td>{$ave_user_ordernum} / {$ave_user_ordernum2} / {$ave_user_ordernum3}</td>
              <td>{$ave_user_turnover} / {$ave_user_turnover2} / {$ave_user_turnover3}</td>
            </tr>
          </table>
        </div>
        <br>
        <div class="list-div">
          <table class="table table-striped table-bordered bulk_action">
            <tr>
            <th colspan="5" align="left" style="padding-left:10px;">
            {$lang.ordered_order_turnover_peruser}<span style="font:12px;color:#777;">{$lang.ordered_member_order_amount}
            {$lang.ordered_member_buy_amount}</span>
            </th>
            </tr>
            <tr align="center">
              <td>{$lang.member_sum}</td>
              <td tips="訂單數/會員數">{$lang.ordered_average_member_order}</td>
              <td tips="金額/會員數">{$lang.ordered_member_order_sum}</td>
            </tr>
            <tr align="center">
              <td>{$user_all_turnover} / {$user_all_turnover2} / {$user_all_turnover3}</td>
              <td>{$ordered_ave_user_ordernum} / {$ordered_ave_user_ordernum2} / {$ordered_ave_user_ordernum3}</td>
              <td>{$ordered_ave_user_turnover} / {$ordered_ave_user_turnover2} / {$ordered_ave_user_turnover3}</td>
            </tr>
          </table>
        </div>
        <br>
        <div class="list-div">
          <table class="table table-striped table-bordered bulk_action">
            <tr><th colspan="5" align="left" style="padding-left:10px;">
            {$lang.order_turnover_percus}<span style="font:12px;color:#777;">{$lang.guest_all_ordercount}</span>
            <span style="font:12px;color:#777;float:right">不包括展場註冊的匿名會員</span>
            </th>
            </tr>
            <tr align="center">
              <td>{$lang.guest_member_orderamount}</td>
              <td>{$lang.guest_member_ordercount}</td>
              <td>{$lang.guest_order_sum}</td>
            </tr>
            <tr align="center">
              <td>{$guest_all_turnover}</td>
              <td>{$guest_order_num}</td>
              <td>{$guest_order_amount}</td>
            </tr>
          </table>
        </div>
        <hr>
        <div class="list-div">
          <table class="table table-striped table-bordered bulk_action">
            <tr><th colspan="10" align="left" style="padding-left:10px;">
                basket value<span style="font:12px;color:#777;">(已扣減 $0 訂單及換貨訂單(部份換貨訂單並非 $0))</span>
            </th>
            </tr>
            <tr align="center">
              <td>所有</td>
              <td>扣除批發及代理銷售</td>
              <td>批發</td>
              <td>代理銷售</td>
              <td>門市</td>
              <td>門市(扣除批發及代理銷售)</td>
              <td>網站</td>
              <td>手機版</td>
            </tr>
            <tr align="center">
              {foreach from=$new_data.user_all_order item=arr}
                <td>{$arr.basket}</td>
              {/foreach}
            </tr>
          </table>
        </div>
      </div>
      <br>
      <div class="list-div" id="step4">
        <table class="table table-striped table-bordered bulk_action">
          <tr><th colspan="10" align="left" style="padding-left:10px;">
              門市註冊會員(已扣除批發會員)
          </th>
          </tr>
          <tr align="center">
            <td tips="所有於門市註冊的會員">所有會員</td>
            <td tips="所有於門市註冊而又曾登入網站的會員">曾登入</td>
            <td tips="所有於門市註冊而又有回購的會員">有回購</td>
            <td tips="所有於門市註冊、曾登入及有回購的會員">曾登入有回購</td>
          </tr>
          <tr align="center">
            <td>{$new_data.off_reg_log_new}</td>
            <td>{$new_data.off_to_on_new}</td>
            <td>{$new_data.off_to_on_buy_new}</td>
            <td>{$new_data.off_to_on_buy_log_new}</td>
          </tr>
        </table>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade {if $selected eq 'pc'}active{/if} in" id="pc-table">
      <div class="list-div" id="step2">
        <div class="row tile_count">
          <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fas fa-user"></i> 未曾消費用戶數</span>
            <div class="count red">{$pc_count.zero}</div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fas fa-user"></i> 未曾回購用戶數<small>(訂單數只有1)</small></span>
            <div class="count blue">{$pc_count.one}{if $pc_count.sa_one > 0}<small>包含代理銷售: {$pc_count.sa_one}</small>{/if}</div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fas fa-user"></i> 曾回購用戶數</span>
            <div class="count green">{$pc_count.two_more}{if $pc_count.sa_two_more > 0}<small>包含代理銷售: {$pc_count.sa_two_more}</small>{/if}</div>
          </div>
          <span style="float: right;text-align:right;font:12px;color:#777;">*總數: {$pc_count.total}(不計算批發會員)(統計方式為每位會員的<span class="red">已付款訂單數相加</span>, 不論是否已出貨)</span>
        </div>
        <hr>
        <div class="list-div col-md-12" style="border-bottom: 1px solid #e7e7e7;margin-bottom: 15px;">
          <h3 class="blue col-md-12" style="margin-bottom: 25px;">未曾回購用戶數: </h3>
          <div class="col-md-6">
            <table class="table table-striped table-bordered bulk_action">
              <tr><th colspan="10" align="left" style="padding-left:10px;">
                <span style="font:12px;color:#777;">總數: {$pc_one_month.total}(不計算批發會員)<br>(統計方式為只有1張已付款訂單的會員的<span class="red">訂單付款時間和今天的相差天數</span>, 不論是否已出貨)</span>
              </th>
              </tr>
              <tr align="center">
                {foreach from=$pc_one_month.data item=row}
                  <td>{$row.label}</td>
                {/foreach}
              </tr>
              <tr align="center">
                {foreach from=$pc_one_month.data item=row}
                  <td><a href="{$row.href}">{$row.value}</a></td>
                {/foreach}
              </tr>
            </table>
          </div>
          <div class="col-md-6"><canvas data-type="pie" id="pc_one_month" height="70"></canvas>
            <div id="pc_one_month_json" style="display: none;">
              {$pc_one_month.source|json_encode}
            </div>
          </div>
        </div>
        <hr>
        <div class="list-div col-md-12" style="border-bottom: 1px solid #e7e7e7;margin-bottom: 15px;">
          <h3 class="green col-md-12" style="margin-bottom: 25px;">曾回購用戶 - 購物相隔天數: <small>(註冊日到首次購物相隔天數)</small></h3>
          <div class="col-md-6">
            <table class="table table-striped table-bordered bulk_action">
              <tr><th colspan="10" align="left" style="padding-left:10px;">
                <span style="font:12px;color:#777;">總數: {$pc_2_reg.total}(只計算線上訂單)<br>(統計方式為<span class="red">首張已付款線上訂單(online/mobile)付款時間和註冊時間之間的相差天數</span>, 不論是否已出貨)</span>
              </th>
              </tr>
              <tr align="center">
                {foreach from=$pc_2_reg.data item=row}
                  <td>{$row.label}</td>
                {/foreach}
              </tr>
              <tr align="center">
                {foreach from=$pc_2_reg.data item=row}
                  <td><a href="{$row.href}">{$row.value}</a></td>
                {/foreach}
              </tr>
            </table>
          </div>
          <div class="col-md-6">
            <canvas data-type="pie" id="pc_2_reg" height="70"></canvas>
            <div id="pc_2_reg_json" style="display: none;">
              {$pc_2_reg.source|json_encode}
            </div>
          </div>
        </div>
        <h3 class="green col-md-12" style="margin-bottom: 25px;">曾回購用戶 - 平均購買間隔: </h3>
        <div class="list-div col-md-6">
          <div class="col-md-12">
            <canvas data-type="pie" id="pc_2_avg" height="70"></canvas>
            <div id="pc_2_avg_json" style="display: none;">
              {$pc_2_avg.source|json_encode}
            </div>
          </div>
          <table class="table table-striped table-bordered bulk_action">
            <tr><th colspan="10" align="left" style="padding-left:10px;">
              <span class="blue">活躍用戶: 過去365天內曾有購買記錄</span><span style="font:12px;color:#777;">總數: {$pc_2_avg.total}(不計算批發會員)<br>(統計方式為<span class="red">首張已付款訂單付款時間和最後已付款訂單付款時間 / 購買次數間隔 </span>, 不論是否已出貨)</span>
            </th>
            </tr>
            <tr align="center">
              {foreach from=$pc_2_avg.data item=row}
                <td>{$row.label}</td>
              {/foreach}
            </tr>
            <tr align="center">
              {foreach from=$pc_2_avg.data item=row}
                <td><a href="{$row.href}">{$row.value}</a></td>
              {/foreach}
            </tr>
            </table>
        </div>
        <div class="list-div col-md-6">
          <div class="col-md-12"><canvas data-type="pie" id="pc_2_inactive_avg" height="70"></canvas>
            <div id="pc_2_inactive_avg_json" style="display: none;">
              {$pc_2_inactive_avg.source|json_encode}
            </div>
          </div>
          <table class="table table-striped table-bordered bulk_action">
            <tr><th colspan="10" align="left" style="padding-left:10px;">
              <span class="blue">非活躍用戶: 過去365天內沒有購買記錄</span><span style="font:12px;color:#777;">總數: {$pc_2_inactive_avg.total}(不計算批發會員)<br>(統計方式為<span class="red">首張已付款訂單付款時間和最後已付款訂單付款時間 / 購買次數間隔 </span>, 不論是否已出貨)</span>
            </th>
            </tr>
            <tr align="center">
              {foreach from=$pc_2_inactive_avg.data item=row}
                <td>{$row.label}</td>
              {/foreach}
            </tr>
            <tr align="center">
              {foreach from=$pc_2_inactive_avg.data item=row}
                <td><a href="{$row.href}">{$row.value}</a></td>
              {/foreach}
            </tr>
            </table>
        </div>
        <!--table class="table table-striped table-bordered bulk_action">
          <tr><th colspan="6" align="left" style="padding-left:10px;">
              purchase cycle(日)<span style="font:12px;color:#777;float:right">括號為以半日為基準</span>
          </th>
          </tr>
          <tr align="center">
            <td tips="有多於一張訂單">有回購</td>
            <td tips="同一日有多於一張訂單">同日回購</td>
            <td tips="只有一張訂單">無回購</td>
            <td tips="有兩張或以上訂單">>1次</td>
            <td tips="有三張或以上訂單">>2次</td>
            <td tips="加權平均值">Weighted([=2次]+[>2次])</td>
          </tr>
          <tr align="center">
            <td>{$new_data.rebuy[1]} / ({$new_data.rebuy[2]})</td>
            <td>{$new_data.rebuy_day}</td>
            <td>{$new_data.norebuy}</td>
            <td>{$new_data.purchase_cycle[1].cycle} / ({$new_data.purchase_cycle[2].cycle})</td>
            <td>{$new_data.purchase_cycle[3].cycle} / ({$new_data.purchase_cycle[4].cycle})</td>
            <td>{$new_data.dev_1d_avg} / ({$new_data.dev_12h_avg})</td>
          </tr>
        </table-->
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade {if $selected eq 'cs'}active{/if} in" id="cs-table">
      <div id="step3">
        <div class="list-div">
          <table class="table table-striped table-bordered bulk_action">
            <tr><th colspan="10" align="left" style="padding-left:10px;">
              customer segment(客人總消費力)<span style="font:12px;color:#777;">總數: {$new_data.aggr_cus_seg_total}(不計算批發會員)(統計方式為每位會員的已付款訂單的<span class="red">產品總額相加</span>, 不論是否已出貨)</span>
            </th>
            </tr>
            <tr align="center">
              {foreach from=$new_data.aggr_cus_seg item=row}
                <td>{$row.seg}</td>
              {/foreach}
            </tr>
            <tr align="center">
              {foreach from=$new_data.aggr_cus_seg item=row}
                <td><a href="{$row.href}">{$row.count}</a></td>
              {/foreach}
            </tr>
            </table>
        </div>
        <hr>
        <div class="list-div">
          <table class="table table-striped table-bordered bulk_action">
            <tr><th colspan="10" align="left" style="padding-left:10px;">
              customer segment(客人平均消費力)<span style="font:12px;color:#777;">總數: {$new_data.aggr_cus_seg_avg_total}(不計算批發會員)(統計方式為每位會員的已付款訂單的<span class="red">訂單總額平均值</span>, 不論是否已出貨)</span>
            </th>
            </tr>
            <tr align="center">
              {foreach from=$new_data.aggr_cus_seg_avg item=row}
                <td>{$row.seg}</td>
              {/foreach}
            </tr>
            <tr align="center">
              {foreach from=$new_data.aggr_cus_seg_avg item=row}
                <td><a href="{$row.href}">{$row.count}</a></td>
              {/foreach}
            </tr>
            </table>
        </div>
        <hr>
        {if $new_data.final_order_cus_seg[4][1]}
        <div style="text-align:right"><b>*匿名訂單有shipping_time = 0</b></div>
        {/if}
        <div style="text-align:right"><b>*會員訂單已扣減wholesale</b></div>
        <div class="list-div">
          <table class="table table-striped table-bordered bulk_action">
            <tr><th colspan="10" align="left" style="padding-left:10px;">
              customer segment<span style="font:12px;color:#777;">(平均每單)</span><span style="float:right;font:12px;color:#777;">括號為匿名會員之訂單(不包括展場)</span>
            </th>
            </tr>
            <tr align="center">
              {foreach from=$new_data.final_order_cus_seg key=seg item=row}
                <td>{$seg}</td>
              {/foreach}
            </tr>
            <tr align="center">
              {foreach from=$new_data.final_order_cus_seg key=seg item=row}
                <td>{$row[0]|default:0} / ({$row[1]|default:0})</td>
              {/foreach}
            </tr>
          </table>
        </div>
      </div>
      <hr>
    </div>
    <div role="tabpanel" class="tab-pane fade {if $selected eq 'active'}active{/if} in" id="active-table">
      <div id="step5">
        <div class="row tile_count">
          <div class="col-md-6 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fas fa-user"></i> 非活躍會員 - <small>365天內沒有登入過和過去365天沒有已付款訂單</small></span>
            <div class="count red"><a href="/x/users.php?act=list&guest_stats_type=13">{$inactive_list.inactive}</a></div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fas fa-user"></i> 活躍會員 - <small>365天內曾經登入過或過去365天有已付款訂單</small></span>
            <div class="count green"><a href="/x/users.php?act=list&guest_stats_type=11">{$active_list.active}</a></div>
          </div>
          <span style="float: right;text-align:right;font:12px;color:#777;">*總數: {$a_in_total}(不計算批發會員)</span>
        </div>
        <hr>
        <div class="row tile_count">
        <h3 class="green col-md-12" style="margin-bottom: 25px;">活躍會員</h3>
          <div class="col-md-6 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fas fa-user"></i> 活躍會員 - <small>10天內登入過但過去10天內沒有已付款訂單</small></span>
            <div class="count blue"><a href="/x/users.php?act=list&guest_stats_type=12">{$active_list.active_last_10}</a></div>
          </div>
        </div>
        <hr>
        <div class="row tile_count">
          <h3 class="red col-md-12" style="margin-bottom: 25px;">非活躍會員</h3>
          <div class="col-md-6 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fas fa-user"></i> 有強大購買力的非活躍會員 - <small>客人平均消費力$1500以上，但超過365天未登錄或購買</small></span>
            <div class="count "><a href="/x/users.php?act=list&guest_stats_type=15">{$inactive_list.inactive_strong_purchase}</a></div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fas fa-user"></i> 非活躍會員 - <small>超過365天未登錄，只有1次瀏覽記錄，沒有消費過</small></span>
            <div class="count "><a href="/x/users.php?act=list&guest_stats_type=14">{$inactive_list.inactive_one_visit}</a></div>
          </div>
        </div>
        <hr>
        <div class="row tile_count">
          <h3 class="purple col-md-12" style="margin-bottom: 25px;">非線上會員 <small>沒有登入記錄及非批發會員</small></h3>
          <div class="col-md-6 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fas fa-user"></i> 180天內曾經消費會員數</span>
            <div class="count "><a href="/x/users.php?act=list&guest_stats_type=16">{$offline_list.offline_purchase_winthin}</a></div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fas fa-user"></i> 180天內未曾消費會員數</span>
            <div class="count "><a href="/x/users.php?act=list&guest_stats_type=17">{$offline_list.offline_purchase_over}</a></div>
          </div>
          <span style="float: right;text-align:right;font:12px;color:#777;">*總數: {$offline_list.total}({$offline_list.offline_total})</span>
        </div>
      </div>
      <hr>
    </div>
  </div>

<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
var options = {
	maintainAspectRatio: false,
	spanGaps: false,
	elements: {
		line: {
			tension: 0.000001
		}
	},
	scales: {
		yAxes: [{
			stacked: true
		}]
	},
	plugins: {
		filler: {
			propagate: false
		},
		'samples-filler-analyser': {
			target: 'chart-analyser'
		}
	}
};
onload = function()
{
    startCheckOrder();
}
$('td,b').hover(function(e){
  if($(this).attr('tips')){
    $(this).append( "<div style='display:inline-block;position:absolute;background:#fff;border:1px solid grey;margin-top:2em;margin-left:-2em;padding:1em'>"+$(this).attr('tips')+"</div>" );
  }
},function(e){
  if($(this).find('div'))
    $(this).find('div').remove();
});

{if !$smarty.request.step}
$('#step1').load('guest_stats.php?act=list&order_start_date={$order_start_date}&order_end_date={$order_end_date}&reg_start_date={$reg_start_date}&reg_end_date={$reg_end_date}&step=1 #step1');
$('#step4').load('guest_stats.php?act=list&order_start_date={$order_start_date}&order_end_date={$order_end_date}&reg_start_date={$reg_start_date}&reg_end_date={$reg_end_date}&step=4 #step4');
{/if}
$pc_load = false;
$('#pc_li').click(function(){
  if(!$pc_load) {
    $('#step2').load('guest_stats.php?act=list&order_start_date={$order_start_date}&order_end_date={$order_end_date}&reg_start_date={$reg_start_date}&reg_end_date={$reg_end_date}&step=2 #step2', function() {
      $.each($('#step2 canvas[data-type="pie"]'), function( key, value ){
        var id = $(value).attr('id');
        var data = $('#'+id+'_json').html();
        if(data.length > 0) {
          var data = $.parseJSON(data);
          var ctx = document.getElementById(id);
          var pieChart = new Chart(ctx, {
            data: data,
            type: 'pie',
            options: {
              legend: {
                position: 'right',
                labels: {
                  generateLabels: function(chart) {
                    var data = chart.data;
                    if (data.labels.length && data.datasets.length) {
                      return data.labels.map(function(label, i) {
                        var meta = chart.getDatasetMeta(0);
                        var ds = data.datasets[0];
                        var arc = meta.data[i];
                        var custom = arc && arc.custom || {};
                        var getValueAtIndexOrDefault = Chart.helpers.getValueAtIndexOrDefault;
                        var arcOpts = chart.options.elements.arc;
                        var fill = custom.backgroundColor ? custom.backgroundColor : getValueAtIndexOrDefault(ds.backgroundColor, i, arcOpts.backgroundColor);
                        var stroke = custom.borderColor ? custom.borderColor : getValueAtIndexOrDefault(ds.borderColor, i, arcOpts.borderColor);
                        var bw = custom.borderWidth ? custom.borderWidth : getValueAtIndexOrDefault(ds.borderWidth, i, arcOpts.borderWidth);
                        // We get the value of the current label
                        var value = chart.config.data.datasets[arc._datasetIndex].data[arc._index];
                        return {
                            // Instead of `text: label,`
                            // We add the value to the string
                            text: label + " : " + value,
                            fillStyle: fill,
                            strokeStyle: stroke,
                            lineWidth: bw,
                            hidden: isNaN(ds.data[i]) || meta.data[i].hidden,
                            index: i
                        };
                      });
                    } else {
                      return [];
                    }
                  }
                }
              },
              pieceLabel: {
                render: 'percentage',
                fontColor: '#FFF',
                position: 'border',
                fontSize: 13,
              }
            }
          });
      }
    });
    });
    $pc_load = true;
    
  }
});
$cs_load = false;
$('#cs_li').click(function(){
  if(!$cs_load) {
    $('#step3').load('guest_stats.php?act=list&order_start_date={$order_start_date}&order_end_date={$order_end_date}&reg_start_date={$reg_start_date}&reg_end_date={$reg_end_date}&step=3 #step3');
    $cs_load = true;
  }
});
$active_load = false;
$('#active_li').click(function(){
  if(!$active_load) {
    $('#step5').load('guest_stats.php?act=list&order_start_date={$order_start_date}&order_end_date={$order_end_date}&reg_start_date={$reg_start_date}&reg_end_date={$reg_end_date}&step=5 #step5');
    $active_load = true;
  }
});
{/literal}
//-->
</script>
{include file="pagefooter.htm"}
