{if $full_page}
{include file="pageheader.htm"}
{/if}
<div class=" x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form class="form-inline">
        <input type="hidden" name="act" id="act" value="list">
        <label for="year">顯示年份</label>
        <select class="form-control" name="year">
            <option {if !$year}selected{/if}>所有</option>
            {foreach from=$years item=item}
            <option {if $year eq $item}selected{/if}>{$item}</option>
            {/foreach}
        </select>
        <input type="submit" class="form-btn btn btn-success">
        {if $can_update}<input class="form-btn btn btn-success" type="submit" onclick="document.getElementById('act').value = 'update'" value="更新本年假期">{/if}
    </form>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table class="table table-striped table-bordered bulk_action">
        <thead><tr><th>年份</th><th>日期</th><th>假期</th></tr></thead>
        {foreach from=$holidays item=item key=key}
            {foreach from=$item item=i}
            <tr><td>{$key}</td><td>{$i.date}</td><td>{$i.info}</td></tr>
            {/foreach}
        {/foreach}
    </table>
</div>
</div>
{if $full_page}
{include file="pagefooter.htm"}
{/if}