
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js"}
<div class=" x_panel">
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

  <table class="table table-striped table-bordered bulk_action" id="#">
    <thead>
      <tr class="headings">
        <th data-id="rec_id" data-key="rec_id">{$lang.record_id}</th>
        <th data-id="title">標題</th>
        <th data-id="main_img" width="650" data-sort="0">預覽</th>
        <th data-id="start_time" data-value="start_date">開始時間</th>
        <th data-id="end_time" data-value="end_date">結束時間</th>
        <th data-id="sort_order">排序</th>
        <th data-id="clicks">點擊次數</th>
        <th class="actionsCol" data-id="_action">{$lang.handler}</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
  yohoTable.rowCallback = function (row, carousel, dataIndex) {
    $img = carousel['main_img'];
    $bg_img = carousel['bg_img'];
    $url = carousel['url'];
    $title = carousel['title'];
    $html = '<div style="background: url('+$bg_img+') repeat 0 0; text-align: center;">'+
      '<a target="_blank" href="'+$url+'" title="'+$title+'" rel="noreferrer">'+
            '<img src="'+$img+'" width="650">'+
          '</a>'+
      '</div>';
    $(row).find('.main_img').html($html);
  };
  var $table = yoho_dataTable();
</script>



