{include file="pageheader.htm"}

{insert_scripts files="../yohohk/js/fix-orientation-0.0.2.min.js"}
{insert_scripts files="../yohohk/js/jquery.cropit.js"}
{insert_scripts files="../yohohk/js/cropit.howang.js"}
<link href="../yohohk/css/jquery.cropit.css" rel="stylesheet" type="text/css" />
<form action="homepage_carousel.php" method="post" name="form" enctype="multipart/form-data" class="tab-content form-horizontal form-label-left">
<div class=" x_panel">
  {if $act neq 'add'}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">編號</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <label class="control-label">{$carousel.rec_id}</label>
    </div>
  </div>
  {/if}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">標題</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <input required name="title" type="text" class="form-control" value="{$carousel.title|escape}" size="40" />
      {else}
      <label class="control-label">{$carousel.title|escape}</label>
      {/if}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">鏈結網址</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <input required name="url" type="text" class="form-control" value="{$carousel.url|escape}" size="40" placeholder="例子： http://www.yohohongkong.com/" />
      {else}
      <label class="control-label">{$carousel.url|escape}</label>
      {/if}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">主圖</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <div class="cropit" data-origin="{$carousel.main_img}" data-name="main_img" data-width="800" data-height="360"></div>
      <!-- #BeginComment -->
      <input name="main_img" type="file" class="form-control" size="40" /><br>
      <!-- #EndComment -->
      <span class="form-helper">主圖尺寸是 800x360，如果上傳尺寸不符，系統會自動將圖片縮放至 800x360</span>
      {else}
      <img src="{$carousel.main_img|escape}">
      {/if}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">背景圖</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <input name="bg_img" type="file" class="form-control" size="40" /><br>
      <span class="form-helper">背景圖尺寸是 1x1，如果上傳尺寸不符，系統會自動將圖片縮放至 1x1</span>
      {else}
      <img src="{$carousel.bg_img|escape}" width="20" height="20">
      {/if}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">地區限定</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <select class="form-control" id="area_select">
        <option value="">請選擇...</option>
        {foreach from=$country_list item=continent key=continent_code}
        <optgroup label="{$continent.name}">
          {foreach from=$continent.countries item=country_name key=country_code}
          <option value="{$country_code}" data-name="{$country_name}">{$country_code} - {$country_name}</option>
          {/foreach}
        </optgroup>
        {/foreach}
      </select>
      
      {/if}
      <div id="selected_areas" style="line-height: 14px;">
        {foreach from=$carousel.area item=area}
        <div class="area_row">
          {if $act eq 'add' or $act eq 'edit'}
          <input type="hidden" name="area[]" value="{$area}">
          <img class="remove_area_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;
          {/if}
          {$area} - {$country_names[$area]}
        </div>
        {foreachelse}
        <span class="no_area_selected">沒有限定地區</span>
        {/foreach}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">禁止地區</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <select class="form-control" id="area_exclude_select">
        <option value="">請選擇...</option>
        {foreach from=$country_list item=continent key=continent_code}
        <optgroup label="{$continent.name}">
          {foreach from=$continent.countries item=country_name key=country_code}
          <option value="{$country_code}" data-name="{$country_name}">{$country_code} - {$country_name}</option>
          {/foreach}
        </optgroup>
        {/foreach}
      </select>
      
      {/if}
      <div id="selected_excluded_areas" style="line-height: 14px;">
        {foreach from=$carousel.area_exclude item=area}
        <div class="area_row">
          {if $act eq 'add' or $act eq 'edit'}
          <input type="hidden" name="area_exclude[]" value="{$area}">
          <img class="remove_area_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;
          {/if}
          {$area} - {$country_names[$area]}
        </div>
        {foreachelse}
        <span class="no_area_selected">沒有禁止地區</span>
        {/foreach}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">語言限定</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <select class="form-control" id="language_select">
        <option value="">請選擇...</option>
        {foreach from=$language_list item=language_name key=language_code}
        <option value="{$language_code}" data-name="{$language_name}">{$language_code} - {$language_name}</option>
        {/foreach}
      </select>
      
      {/if}
      <div id="selected_languages" style="line-height: 14px;">
        {foreach from=$carousel.language item=language}
        <div class="language_row">
          {if $act eq 'add' or $act eq 'edit'}
          <input type="hidden" name="language[]" value="{$language}">
          <img class="remove_language_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;
          {/if}
          {$language} - {$language_list[$language]}
        </div>
        {foreachelse}
        <span class="no_language_selected">沒有限定語言</span>
        {/foreach}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">禁止語言</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <select class="form-control" id="language_exclude_select">
        <option value="">請選擇...</option>
        {foreach from=$language_list item=language_name key=language_code}
        <option value="{$language_code}" data-name="{$language_name}">{$language_code} - {$language_name}</option>
        {/foreach}
      </select>
      
      {/if}
      <div id="selected_excluded_languages" style="line-height: 14px;">
        {foreach from=$carousel.language_exclude item=language}
        <div class="language_row">
          {if $act eq 'add' or $act eq 'edit'}
          <input type="hidden" name="language_exclude[]" value="{$language}">
          <img class="remove_language_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;
          {/if}
          {$language} - {$language_list[$language]}
        </div>
        {foreachelse}
        <span class="no_language_selected">沒有禁止語言</span>
        {/foreach}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">開始時間</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <div class="controls">
        <div class="input-prepend input-group">
          <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar-alt"></i></span>
          <input name="start_date" type="text" data-type="datetime" class="form-control" id="start_date" size="22" value='{$carousel.start_date}' />
        </div>
      </div>
      {else}
      {$carousel.start_date}
      {/if}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">結束時間</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <div class="controls">
        <div class="input-prepend input-group">
          <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar-alt"></i></span>
          <input name="end_date" type="text" data-type="datetime" class="form-control" id="end_date" size="22" value='{$carousel.end_date}' />
        </div>
      </div>
      {else}
      {$carousel.end_date}
      {/if}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">排序</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $act eq 'add' or $act eq 'edit'}
      <input name="sort_order" type="text" class="form-control" value="{$carousel.sort_order}" size="40" />
      <span class="form-helper">由小至大排序：數字越小越前，越大越後</span>
      {else}
      {$carousel.sort_order}
      {/if}
    </div>
  </div>
  {if $act eq 'add' or $act eq 'edit'}
  <div class="form-group">
    <div class="ln_solid"></div>
      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <input type="hidden"  name="rec_id" value="{$carousel.rec_id}" />
      <input type="hidden"  name="act"       value="{if $act eq 'add'}insert{else}update{/if}" />
      <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
    </div>
  </div>
  {/if}
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

//********************
// Area Selector
//********************
$('#area_select,#area_exclude_select').change(function (event){
  var $sel = $(this);
  if ($sel.val())
  {
    var area_code = $sel.val();
    var area_name = $.trim($sel.find('option:selected').data('name'));
    
    var $parent = $sel.is('#area_select') ? $('#selected_areas') : $('#selected_excluded_areas');
    
    // if area already selected...
    if ($parent.find('input[name="area[]"][value="' + area_code + '"]').length > 0)
    {
      // nothing to do...
    }
    else
    {
      // if no area selected...
      if ($parent.find('.no_area_selected').length > 0)
      {
        // remove the no area selected prompt first
        $parent.find('.no_area_selected').remove();
      }
      
      // add area row
      var $area_row = $('<div class="area_row">' +
        '<input type="hidden" name="' + ($sel.is('#area_select') ? 'area' : 'area_exclude') + '[]" value="' + area_code + '">' +
        '<img class="remove_area_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;' +
        area_code + ' - ' + area_name +
      '</div>');
      $parent.append($area_row);
    }
  }
});

$('#selected_areas,#selected_excluded_areas').on('click', '.area_row .remove_area_row', function () {
  var $parent = $(this).closest('#selected_areas,#selected_excluded_areas');
  $(this).closest('.area_row').remove();
  if ($parent.find('.area_row').length == 0)
  {
    $parent.append('<span class="no_area_selected">沒有' + ($parent.is('#selected_areas') ? '限定' : '禁止')  + '地區</span>');
  }
});

//********************
// Language Selector
//********************
$('#language_select,#language_exclude_select').change(function (event){
  var $sel = $(this);
  if ($sel.val())
  {
    var language_code = $sel.val();
    var language_name = $.trim($sel.find('option:selected').data('name'));
    
    var $parent = $sel.is('#language_select') ? $('#selected_languages') : $('#selected_excluded_languages');
    
    // if language already selected...
    if ($parent.find('input[name="language[]"][value="' + language_code + '"]').length > 0)
    {
      // nothing to do...
    }
    else
    {
      // if no language selected...
      if ($parent.find('.no_language_selected').length > 0)
      {
        // remove the no language selected prompt first
        $parent.find('.no_language_selected').remove();
      }
      
      // add language row
      var $language_row = $('<div class="language_row">' +
        '<input type="hidden" name="' + ($sel.is('#language_select') ? 'language' : 'language_exclude') + '[]" value="' + language_code + '">' +
        '<img class="remove_language_row" style="vertical-align: middle;" src="images/icon_drop.gif">&nbsp;&nbsp;' +
        language_code + ' - ' + language_name +
      '</div>');
      $parent.append($language_row);
    }
  }
});

$('#selected_languages,#selected_excluded_languages').on('click', '.language_row .remove_language_row', function () {
  var $parent = $(this).closest('#selected_languages,#selected_excluded_languages');
  $(this).closest('.language_row').remove();
  if ($parent.find('.language_row').length == 0)
  {
    $parent.append('<span class="no_language_selected">沒有' + ($parent.is('#selected_languages') ? '限定' : '禁止')  + '語言</span>');
  }
});

{/literal}
//-->
</script>
{include file="pagefooter.htm"}