<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
  <div class="form-div">
    <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
    
        <div style="text-align:right">
    </div>
    </form>
  </div>

  <div class="list-div x_panel" id="listDiv">
    <div class="x_title">
    <h2>舊產品圖片處理</h2>
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="erp_stocktake.php?act=list" style="margin:0px">
        產品建立日期: <select class="form-control" name="date_period" id="date_period">
        {foreach from=$date_options  key=id item=date}
            <option value="{$date}" >{$id}</option>
        {/foreach}
        </select>
        狀態: <select class="form-control" name="status" id="status">
            <option value="-1" selected>全部</option>
            {foreach from=$status_options  key=id item=status}
                <option value="{status}" >{$id}</option>
            {/foreach}
        </select>
        <input class="btn btn-success form-btn" type="button" id="goods_search" name="goods_search" value="{$lang.query}" />
        <div style="float:right">
           <span >已完成(<span id="finish_count">-</span>/<span id="total_count">-</span>)</span> 處理個數:<input class="form-control" name="limit_count" type="text" id="limit_count" size="1" value='200' /> 
            <button class="btn btn-success" type="button" id="start_compression" >開始壓縮處理</button>
        </div>
      </form>
    </div>
 </select> 
    <ul class="nav navbar-right panel_toolbox">
    <li></li>
    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
    </ul>

    <div class="clearfix"></div>
    </div>

    <table id="image_table" class="table table-striped table-bordered bulk_action">
      <thead>
        <tr>
        <th data-id="goods_id" >產品編號</th>
        <th data-id="goods_create_date" data-sort="0">建立日期</th>
        <th data-id="goods_name" data-sort="0">產品名稱</th>
        <th data-id="image_type" data-sort="0">圖片類型</th>
        <th data-id="image" data-sort="0">圖片</th>
        <th data-id="image_url" data-sort="0">圖片</th>

        <th data-id="original_size" data-sort="0">原圖大小</th>
        <th data-id="final_size" data-sort="0">壓縮後大小</th>
        <th data-id="save" data-sort="0">壓縮%</th>
        <th data-id="start_time" data-sort="0">開始時間</th>
        <th data-id="finish_time" data-sort="0">結束時間</th>
        <th data-id="status" data-sort="0" >狀態</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

var $table = yoho_dataTable();
var limit_count = 0;
var current_count = 0;
var finished_count = 0;
$("#goods_search").click(function(){
    var $filter = {};
    $filter.date_period = $("#date_period option:selected").val();
    $table.search($filter);
    // $(".bulk_confirm_action").css('visibility', 'hidden');
    $('#start_compression').prop('disabled', false);
    return;
});

$("#image_table").DataTable().on('xhr.dt',function (e, settings, json, xhr) {
    if(json.extraData.finished_count != null){
        $("#finish_count").html(json.extraData.finished_count);
        $("#total_count").html(json.recordsFiltered);
        finished_count = json.extraData.finished_count;
    }
});

$('#start_compression').prop('disabled', true);

function send_image_compression_request() {
    $('#start_compression').prop('disabled', true);
    $("#start_compression").html('處理中...');
    $.ajax({
       url: 'image_compression_product.php',
       type: 'post',
       cache: false,
       data: {
       'act': 'post_image_compression_process',
       'date_period': $("#date_period option:selected").val(),
       'batch_count': 1
    },
    dataType: 'json',
    success: function(result) {
        if (result.error == 0) {
            current_count++; 
            finished_count++
            console.log('current_count',current_count);
            console.log('finished_count',finished_count);
            $("#finish_count").html(finished_count);
           
            if (current_count<limit_count) {

                setTimeout(send_image_compression_request(), 5000);
              
            } else {
                current_count = 0;
                var $filter = {};
                $filter.date_period = $("#date_period option:selected").val();
                $table.search($filter);
                $('#start_compression').prop('disabled', false);
                $("#start_compression").html('開始壓縮處理');
            }
        } else {
            alert(result.message);
        }
    },
    timeout: 3600000,
    error: function(xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        $('#start_compression').prop('disabled', false);
        console.log(xhr);
    }
    });
} 

$("#start_compression").click(function(){
    if(confirm("確定執行?"))
    {
        //$('#start_compression').prop('disabled', true);
        // save
        limit_count = $("#limit_count").val();
        send_image_compression_request();
        //$('#start_compression').prop('disabled', false);
    }
    else
    {
        return false;
    }
});

</script>