<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
  <div class="form-div">
    <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
    
        <div style="text-align:right">
    </div>
    </form>
  </div>

  <div class="list-div x_panel" id="listDiv">
    <div class="x_title">
    <h2>Tiny使用量報告</h2>

    <ul class="nav navbar-right panel_toolbox">
    <li>首500免費,限制使用次數為{$cfg_tiny_limit}</li>
    <li></li>
    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
    </ul>

    <div class="clearfix"></div>
    </div>

    <table class="table table-striped table-bordered bulk_action ">
      <thead>
        <tr>
        <th data-id="tiny_usage_id" data-key="order_id">編號</th>
        <th data-id="year" data-sort="0">年份</th>
        <th data-id="month" data-sort="0">月份</th>
        <th data-id="used_total" data-sort="0" >使用次數</th>
        <th data-id="api_key" data-sort="0">API Key</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

var $table = yoho_dataTable();

</script>