{include file="pageheader.htm"}


<div class=" x_panel">
    <div class="col-md-12">
        <input type='button' class="btn btn-default" value='{$lang.add}' id='add_report'>
        <input type='button' class="btn btn-default" value='過去3個月' id='3_month_report'>
    </div>
    <div class="main-div col-md-12" style="display: flex;flex-wrap: wrap;">
        <div id='{$year}_{$month}' class='report_div col-md-3 col-xs-12'>
            <div id='report_content'>
                <table class='sheet table' cellspacing='0'>
                    <tr>
                        <th colspan="3" class="form-inline">
                            <h3>
                                <select class="" name="expense_year" type="text" id="expense_year">
                                    {foreach from=$all_year item=this_year}
                                    <option value='{$this_year}' {if $this_year eq $year}selected{/if}>{$this_year}</option>
                                    {/foreach}
                                </select> 年
                                <select class="" name="expense_month" type="text" id="expense_month">
                                    {foreach from=$all_month item=this_month}
                                    <option value='{$this_month}' {if $this_month eq $month}selected{/if}>{$this_month}</option>
                                    {/foreach}
                                </select> 月
                            </h3>
                        </th>
                    </tr>
                    {foreach from=$tree item=sec}
                        <tr class="section">
                            <td colspan="3"><b>{$sec.name}</b></td>
                        </tr>
                        {foreach from=$sec.tree item=branch}
                            <tr class='parent'>
                                <td><b>{$branch.name}</b></td>
                            </tr>
                            {if $branch.child}
                                {foreach from=$branch.child item=child}
                                <tr class='child'>
                                    <td>{$child.name}</td>
                                    <td></td>
                                    <td>{$child.formatted_expense}</td>
                                </tr>
                                {/foreach}
                            {/if}
                            <tr class='child subtotal'>
                                <td><b>Subtotal</b></td>
                                <td></td>
                                <td><b>{$branch.formatted_expense}</b></td>
                            </tr>
                        {/foreach}
                        {if $sec.tree}
                        <tr class='child total'>
                            <td></td>
                            <td><b>Total</b></td>
                            <td><b>{$sec.total}</b></td>
                        </tr>
                        {/if}
                    {foreachelse}
                    <tr class='child'>
                        <td colspan='5'>{$lang.no_records}</td>
                    </tr>
                    {/foreach}
                </table>
            </div>
        </div>
    </div>
</div>

<style>
table.sheet {
    /*width: 300px;*/
}
.child td {
    text-align: right;
    font-size: 14px;
}
.child td:first-child {
    padding-left: 20px;
    text-align: left;
}
.section td {
    font-size: 18px;
    border-bottom: 1px solid black;
    padding-top: 10px;
}
.parent td {
    font-size: 16px;
}
.subtotal td {
    color: #f80;
    padding-bottom: 5px;
    font-size:16px;
}
tr.total:nth-last-child(2) td {
    padding-bottom: 30px;
}
.net td {
    padding-top: 10px;
    border-top: 3px solid black;
    font-size:18px;
}
.total td:nth-child(n+2) {
    color: #4c4;
    border-top: 1px solid grey;
    padding: 10px 0;
    font-size: 18px;
}
.report_div {
    padding: 10px;
    border-left: 3px solid #c1c1c1;
    border-radius: 5px;
    background: white;
    box-sizing: border-box;
    margin-bottom: 5px;
}
</style>

<script>
var all_year = {$all_year|json_encode};
var all_month = {$all_month|json_encode};
$(function(){
    $(document).on('change','select[name=expense_year], select[name=expense_month]', function(e){
        var year = $(e.target).parent('h3').find('#expense_year').val();
        var month = $(e.target).parent('h3').find('#expense_month').val();
        var new_id = year + '_' + month;
        if($('#' + new_id).length > 0) {
            alert('已選擇此月份');
        } else {
            $($(e.target).parents('div.report_div')).attr('id', new_id);
            $('#' + new_id).load('income_statement.php?act={$smarty.request.act}&year=' + year + '&month=' + month + ' #report_content');
        }
    })
    $('#add_report').click(function(){
        $('.main-div').append(genReportBase());
    })
    $('#3_month_report').click(function(){
        $('.report_div').remove();
        var d = new Date();
        d = new Date(d.getFullYear(), d.getMonth(), 1); // In case 30/3 -> 28/2
        while($('.report_div').length < 3) {
            $html = $(genReportBase());
            $('.main-div').append($html);
            var t_month = d.getMonth() + 1;
            var t_year = d.getFullYear();
            $html.find('select[name=expense_month]').val(t_month);
            $html.find('select[name=expense_year]').val(t_year).change();
            d.setMonth(d.getMonth() - 1);
        }
    })
})
function genReportBase(){
    return "<div id='new_report' class='report_div col-md-3 col-xs-12'>" +
                    "<div id='report_content'><table class='sheet table' cellspacing='0'><tr><th class='form-inline'><h3>" +
                        "<select class='' name='expense_year' type='text' id='expense_year'>" +
                            all_year.reduce((p,c)=>p+='<option value=' + c + '>' + c + '</option>', '') +
                        "</select> 年" +
                        "<select class='' name='expense_month' type='text' id='expense_month'>" +
                            all_month.reduce((p,c)=>p+='<option value=' + c + '>' + c + '</option>', '') +
                        "</select> 月</h3></th><tr></table>" +
                    "</div>" +
                "</div>";
}
</script>
{include file="pagefooter.htm"}