<!-- $Id: start.htm 17110 2010-04-15 07:47:51Z sxc_shop $ -->
{include file="pageheader.htm"}
<!-- morris.js -->
<script src="js/raphael.min.js"></script>
<script src="js/morris.min.js"></script>
<!-- Chart.js -->
<script src="js/Chart.min.js"></script>
{if $unfinished_taskes}
<div class=" x_panel">
  <div class="x_title">
    <h2>工作清單</h2>
    <ul class="nav navbar-right panel_toolbox" style="min-width: 30px;">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
      <li><a class="close-link"><i class="fa fa-times"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content table-responsive">
    <table class="table table-striped table-bordered jambo_table" id="#">
      <thead><tr>
        <th>負責人</th>
        <th>工作標題</th>
        <th>工作內容</th>
        <th>指派時間</th>
      </tr></thead>
      {foreach from=$unfinished_taskes item=task name=untask key=taskKey}
      {if $taskKey < 5}
      <tr align="center">
        <td align="left"><img src="{if !empty($task.avatar)}{$task.avatar}{else}{insert name=avatar_url size=s id=$task.pic_user_id}{/if}" style="width: 40px; height: 40px; vertical-align: middle;" title="{$task.pic}"></td>
        <td class="first-cell" align="left">{$task.title|truncate:60:"..."}</td>
        <td align="left">{$task.message|truncate:70:"..."}</td>
        <td>{$task.send_date}</td>
      </tr>
      {/if}
      {/foreach}
      <tr>
        <td colspan="4" align="right"><a href="tasklist.php?act=list">查看所有工作 &gt;&gt;</a></td>
      </tr>
    </table>
  </div>
</div>
{/if}
<div class=" x_panel">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tab_content1" id="order" role="tab" data-toggle="tab" aria-expanded="true">訂單統計</a>
      </li>
      <li role="presentation" class=""><a href="#tab_content2" role="tab" id="products" data-toggle="tab" aria-expanded="false">產品統計</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="order">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats"><a href="order.php?act=list&composite_status={$status.await_ship}">
            <div class="icon"><i class="icon icon-goods"></i>
            </div>
            <div class="count goods_blue" id="await_ship">0</div>

            <h3>{$lang.await_ship}</h3>
            <p>*包括代理銷售的待出貨訂單 </p>
          </a></div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats"><a href="order.php?act=list&composite_status={$status.await_ship}&all_in_stock=1">
            <div class="icon"><i class="icon icon-delivery"></i>
            </div>
            <div class="count delivery_blue" id="ready_ship">0</div>

            <h3>可出貨</h3>
            <p>*包括代理銷售的可出貨訂單 </p>
          </a></div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats"><a href="order.php?act=list&composite_status={$status.await_ship}&need_purchase=1">
            <div class="icon"><i class="icon icon-order"></i>
            </div>
            <div class="count order_red" id="need_purchase">0</div>
            <h3>需訂貨</h3>
            <p>*包括代理銷售的需訂貨訂單 </p>
          </a></div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats"><a href="{$today_paid_url}">
            <div class="icon"><i class="icon icon-pay"></i>
            </div>
            <div class="count pay_yellow" id="today_paid_order_count">0</div>
            <h3>當日門店已付款訂單數</h3>
            <p>*不包括批發訂單及代理銷售及展場訂單 </p>
          </a></div>
        </div>
        <div class="animated col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <canvas id="today_paid_payment" height="100"></canvas>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="products">
        <div class="animated col-lg-9 col-md-8 col-sm-12 col-xs-12">
          <table class="" style="width:100%">
            <tr>
              <th style="width:37%;">
                <h3>今日Top 5 產品</h3>
              </th>
            </tr>
            <tr>
              <td>
                <canvas id="top_goods"height="300" width="400"></canvas>
              </td>
              <td>
                <table class="tile_info">
                  <tr>
                    <td>
                      <p><i class="fa fa-square goods_blue"></i><span id="goods_1"></span> </p>
                    </td>
                    <td id="goods_num_1">0</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square delivery_blue"></i><span id="goods_2"></span> </p>
                    </td>
                    <td id="goods_num_2">0</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square pay_yellow"></i><span id="goods_3"></span> </p>
                    </td>
                    <td id="goods_num_3">0</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square order_red"></i><span id="goods_4"></span> </p>
                    </td>
                    <td id="goods_num_4">0</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square goods_gary"></i><span id="goods_5"></span> </p>
                    </td>
                    <td id="goods_num_5">0</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
          <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="tile-stats"><a href="goods.php?act=list&amp;proddb_not_linked=1">
            <div class="icon"><i class="icon icon-quantity"></i>
            </div>
            <div class="count order_red" id="proddb_not_linked">0</div>
            <h3>未連結產品資料庫產品數</h3>
            <p></p>
          </a></div>
        </div>
        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="tile-stats"><a href="goods.php?act=list&amp;no_barcode=1">
            <div class="icon"><i class="icon icon-barcode"></i>
            </div>
            <div class="count goods_blue" id="no_barcode">0</div>
            <h3>未入條碼產品數</h3>
            <p></p>
          </a></div>
        </div>
        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tile-stats"><a href="goods.php?act=list&amp;no_lwh=1">
              <div class="icon"> <i class="fas fa-ruler"></i>
              </div>
              <div class="count pay_yellow" id="no_lwh">0</div>
              <h3>未入長闊高產品數</h3>
              <p></p>
            </a></div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<script>
  var result = {};
  $.ajax({
      url: "index.php?act=ajax_index_chart",
      dataType: 'json',
      success: function(res){
        if(res.error == 0) {
          result = res;
          order_ajax();
          products_ajax();
        }
      }
  });
  $( window ).on('load', function() {

    $('[data-toggle="tab"]').click(function(e) {
      e.preventDefault()
      $id = $(e.target).attr('id');
      eval($id+'_ajax()');
    });
  });

  function order_ajax(){
    var ctx = document.getElementById("today_paid_payment");
    /*$.ajax({
      url: "index.php?act=ajax_index_chart",
      dataType: 'json',
      success: function(result){
        if(result.error == 0) {*/
          $today_paid_order = result.today_paid_order;
          $today_shipped_order = result.today_shipped_order;
          $total_order_num = $today_paid_order.order_count;
          $paid_data = [];
          $shipped_data = [];
          $payment_label = [];
          $payment_list = [];
          $('#ready_ship').animateNumber({ number: result.order.ready_ship });
          $('#await_ship').animateNumber({ number: result.order.await_ship });
          $('#need_purchase').animateNumber({ number: result.order.need_purchase });
          $('#today_paid_order_count').animateNumber({ number: $total_order_num });
          $.each($today_paid_order.amount_by_payment, function($payment, $amount) {
            if($payment == 'franzpay') {
                return true;
            }
            $payment_list.push($payment);
            $payment_label.push($today_paid_order.payment_label[$payment]);
            $paid_data.push($amount);
          });
          $.each($today_shipped_order.amount_by_payment, function($payment, $amount) {
            if($payment == 'franzpay') {
                return true;
            }
            $shipped_data.push($amount);
          });

          var mybarChart = new Chart(ctx, {
            type: 'bar',
            data: {
              labels: $payment_label,
              datasets: [{
                label: '今日付款金額',
                backgroundColor: "#1DCAD3",
                data: $paid_data
              },
              {
                label: '今日出貨金額',
                backgroundColor: "#0082CA",
                data: $shipped_data
              }]
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });
          ctx.onclick = function(evt){
            var activePoint = mybarChart.getElementAtEvent(evt);
            if(activePoint.length > 0) {
              var datasetIndex = activePoint[0]._datasetIndex;
              var index = activePoint[0]._index;

            }
            // var url = ... make link with data from activePoint
            //window.location = 'https://www.google.by/search?q=chart+js+events&oq=chart+js+events'
          };
      /*  }
    }});*/
  };
  function products_ajax(){
    var ctx = document.getElementById("top_goods");
    /*$.ajax({
      url: "index.php?act=ajax_goods_chart",
      dataType: 'json',
      success: function(result){
        if(result.error == 0) {*/
          $goods_data = result.goods_data;
          $('#no_barcode').animateNumber({ number: $goods_data.no_barcode });
          $('#proddb_not_linked').animateNumber({ number: $goods_data.proddb_not_linked });
          $('#no_lwh').animateNumber({ number: $goods_data.no_lwh });
          $goods_label = [];
          $goods_data  = [];
          $.each(result.top_goods, function($key, $goods) {
            $key = $key +1;
            $goods_label.push($goods.goods_name);
            $("#goods_"+$key).html($goods.goods_name);
            $goods_data.push($goods.total_goods_number);
            $("#goods_num_"+$key).animateNumber({ number: $goods.total_goods_number });
          });
          var chart_doughnut_settings = {
            type: 'doughnut',
            tooltipFillColor: "rgba(51, 51, 51, 0.55)",
            data: {
              labels: $goods_label,
              datasets: [{
                data: $goods_data,
                backgroundColor: [
                  "#0082CA",
                  "#1DCAD3",
                  "#C2D500",
                  "#FD495C",
                  "#9A999A"
                ],
                hoverBackgroundColor: [
                  "#0082CA",
                  "#1DCAD3",
                  "#C2D500",
                  "#FD495C",
                  "#9A999A"
                ]
              }]
            },
            options: {
              legend: false,
              responsive: false
            }
          }
			    var chart_doughnut = new Chart(ctx, chart_doughnut_settings);
        /*}
    }});*/
  };
  function salesagent_ajax(){};
</script>
{include file="pagefooter.htm"}
</body>
</html>
