{if $full_page}
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,listtable.js,../js/transport_jquery.js,../js/region.js"}
<div id="list" class=" x_panel">
{/if}
<style>
.pointer {
    cursor: pointer;
}

.tab_goods {
    //width: 85%;
    margin: auto;
}

.tab_goods .form-group label.checkbox-inline {
    padding-left: 0px;
}

.tab_goods .form-group label.checkbox-inline * {
    vertical-align: middle;
    margin-top: 0;
}

.sel_type{
    font-size: 12px;
    width: 135px;
}

.sel_lift{
    font-size: 12px;
    width: 138px;
}

.text-search-group{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.text-search-group label,.text-search-group input,.text-search-group select {
    vertical-align: middle;
}

a.disabled {
    cursor: not-allowed;
}

.div-add-goods select, .div-add-goods .input-group {
    width: auto !important;
    vertical-align: middle;
}

.div-add-goods #search_goods {
    width: 360px;
}

.div-goods-price #price_percent {
    width: 140px;
}

.div-add-goods .input-group {
    margin-bottom: 0px;
}

table#data tbody tr td span.delete span.del-item {
	padding: 14px;
    color: red;
}

div.div-res-search select, div.div-res-search div.div-text-input {
    vertical-align: middle;
}

div.div-res-search div.div-text-input {
    margin-bottom: 0px;
}

div.div-res-search div.div-text-input input#search_ins_goods{
    width: 400px;
}

div.div-total-product button#delete_all {
    padding: 3px 22px;
}

div.div-total-product span#total_no_product {
    font-weight: bold;
    font-size: 16px;
}

div.div-total-product * {
    vertical-align: middle;;
}

div.div-add-goods div.div-goods-search {
    vertical-align: top;
}

div.div-add-goods div.div-price-percent {
    display: inline-block;
}

div.div-add-goods div.div-price-percent-sub {
    display: block;
}

</style>

<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <!--
        <form name="TimeInterval"  action="javascript:getList(this)" class="form-inline">
            <input class="btn btn-success form-btn" type="button" id="cross_check_search" name="cross_check_search" value="{$lang.query}" />
        </form>
    -->
    <!--
    <div class="row">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" {if $selected_status eq info}class="active"{/if}>
                <a href="insurance.php?act=ins_edit&amp;tab=info&amp;id={$id}">{$lang.ins_basic_info}</a>
            </li>
            <li role="presentation" {if $selected_status eq goods}class="active"{/if}>
                <a href="insurance.php?act=ins_edit&amp;tab=goods&amp;id={$id}">{$lang.ins_product_fee}</a>
            </li>
        </ul>
    </div>
    -->
    {if $selected_status eq 'info'}
    <form id='edit_ins_info_form' type='POST' action='insurance.php'>
        <div class="modal-body form-horizontal form-label-left">
            <div id="alert_text" class='red'></div>
            <input name='act' value='ins_info_edit' type='hidden'>
            <input name='id' value='{$ins_info.insurance_id}' type='hidden'>
            <div class="form-group">
                <label for="id" class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.insurance_id}:</label>
                <div class="col-md-4 col-sm-4 col-xs-12" style="padding-top: 8px;">
                    {$ins_info.insurance_id}
                </div>
            </div>
            <div id="name_group" class="form-group">
                <label for="name" class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.insurance_name}:</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="text" class="form-control" id="name" name="name" placeholder="{$lang.enter_insurance_name}" value="{$ins_info.name}">
                </div>
            </div>
            <div id="name_en_group" class="form-group">
                <label for="name_en" class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.insurance_name}({$lang.en}):</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="text" class="form-control" id="name_en" name="name_en" placeholder="{$lang.enter_insurance_name}({$lang.en})" value="{$ins_info.name_en}">
                </div>
            </div>
            <div id="code_group" class="form-group">
                <label for="code" class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.insurance_code}:</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="text" class="form-control" id="code" name="code" placeholder="{$lang.enter_insurance_code}" value="{$ins_info.code}">
                </div>
            </div>
            <div id="duration_group" class="form-group">
                <label for="duration_options[]" class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.insurance_duration}:</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!--
                    <label class="checkbox-inline" style="padding-left: 0px;"><input type="checkbox" id="duration_options_12" name="duration_options[]" value="12"{if $insurance_duration.12 eq 1} checked{/if}>12{$lang.no_month}</label>
                    <label class="checkbox-inline" style="padding-left: 0px;"><input type="checkbox" id="duration_options_24" name="duration_options[]" value="24"{if $insurance_duration.24 eq 1} checked{/if}>24{$lang.no_month}</label>
                    <label class="checkbox-inline" style="padding-left: 0px;"><input type="checkbox" id="duration_options_36" name="duration_options[]" value="36"{if $insurance_duration.36 eq 1} checked{/if}>36{$lang.no_month}</label>
                    <label class="checkbox-inline" style="padding-left: 0px;"><input type="checkbox" id="duration_options_48" name="duration_options[]" value="48"{if $insurance_duration.48 eq 1} checked{/if}>48{$lang.no_month}</label>
                    -->
                    {foreach from=$ins_info.duration_options key=key item=duration}
                    {if $key neq '0'}, {/if}{$duration}{$lang.no_month}
                    {/foreach}
                </div>
            </div>
            <div class="form-group" style="display: none;">
                <label for="status" class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.on_sale}:</label>
                <div class="col-md-4 col-sm-4 col-xs-12" style="padding: 0px 10px;">
                    <select id="status" name="status">
                        <option value="1"{if $ins_info.status eq 1} selected{/if}>{$lang.on_sale}</option>
                        <option value="0"{if $ins_info.status eq 0} selected{/if}>{$lang.not_for_sale}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="submit" value="{$lang.edit}" class="btn btn-primary" id="editBtn">
                </div>
            </div>
        </div>
    </form>
    {elseif $selected_status eq 'goods'}
    <div class="tab_goods form-horizontal">
        <input id='act' name='act' value='ins_info_edit' type='hidden'>
        <input id='id' name='id' value='{$ins_info.insurance_id}' type='hidden'>
        <div class="form-group">
        <label class="control-label col-sm-2">{$lang.insurance_name}:</label>
        <div class="col-sm-10" style="padding-top: 8px;">
            {$ins_info.name}
        </div>
        </div>
        <div class="form-group">
        <label class="control-label col-sm-2">{$lang.insurance_duration}:</label>
        <div class="col-sm-10">
            {foreach from=$ins_info.duration_options key=key item=duration}
            <!--
            <label class="checkbox-inline" style="padding-left: 0px;"><input type="checkbox" id="duration_options_{$duration}" name="duration_options[]" value="{$duration}"><span>{$ins_info.name}{$duration}{$lang.no_month}</span></label>
            -->
            <label class="control-label col-sm-2" style="text-align: left; width: auto; padding-left: 0; padding-right: 10px;"><span>{$duration}{$lang.no_month}{$ins_info.name}</span></label>
            {/foreach}
        </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">{$lang.add_product}:</label>
            <div class="col-sm-10 form-inline div-add-goods">
                <div class="input-group div-goods-search">
                    <input class="form-control" id="search_goods" placeholder="輸入關鍵字 (條碼/ID(可用逗號[,]分隔多個ID)/名稱)" type="text">
                    <div class="input-group-btn">
                        <button id="product_search_submit" class="btn btn-primary" type="button" title="搜尋">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
                <div class="div-price-percent">
                    {foreach from=$ins_info.duration_options key=key item=duration}
                    <div class="div-price-percent-sub">
                        <label class="">{$duration}{$lang.ins_months_fee_perent}:</label>
                        <input class="form-control price_percent" id="price_percent_{$duration}" style="width: 155px;"  data-duration="{$duration}" placeholder="請輸入百分比(%)" type="number" min="0" max="99" step="0.1">%
                    </div>
                    {/foreach}
                    <span>* {$lang.ins_fee} = {$lang.ins_fee_perent} &#10005; {$lang.product_price}</span>
                </div>
                <div class="input-group div-goods-select" style="display: block;">
                    <select name="sel_good" id="sel_good" class="form-control">
                        <option value="-1">-- 請選擇產品 --</option>
                    </select>
                    <div class="input-group-btn">
                        <button id="btn_product_add" class="btn btn-primary" type="button" title="加入產品">
                        <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </div>
                </div>
                <div id="count_goods"></div>
            </div>
        </div>
        <div class="well">
            <div class="form-inline div-res-search">
                <span>{$lang.search_added_product}:</span>
                <select name="search_cat" id="search_cat" class="form-control">
                    <option value="-1">-- 請選擇分類 --</option>
                </select>
                <select name="search_brand" id="search_brand" class="form-control">
                    <option value="-1">-- 請選擇品牌 --</option>
                </select>
                <div class="input-group div-text-input">
                    <input class="form-control" id="search_ins_goods" placeholder="輸入關鍵字 (條碼/ID(可用逗號[,]分隔多個ID)/名稱)" type="text">
                    <div class="input-group-btn">
                        <button id="ins_product_search" class="btn btn-primary" type="button" title="搜尋">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-total-product" style="margin-bottom: 10px; text-align: center;">
            <span style="font-size: 14px;">{$ins_info.name} - {$lang.total_no_product}: </span>
            <span id="total_no_product"> -- </span>
            <br>
            <button type="button" id="delete_all" class="btn btn-danger btn-sm">{$lang.delete_all_product}</button>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
            <table id="data" class="table table-bordered table-striped bulk_action">
                <thead>
                    <tr class="headings">
                        <th data-id="insurance_goods_id" data-key="insurance_goods_id" data-sort="1" data-orderby="DESC" style="width: 0px;">ID</th>
                        <th data-id="goods_id" data-edit="false" data-sort="1">{$lang.product_id}</th>
                        <th data-id="goods_name" data-edit="false" data-sort="1">{$lang.product_name}</th>
                        <!--
                        <th data-id="duration" data-edit="false" data-sort="1">{$lang.insurance_product}</th>
                        -->
                        <th data-id="stock" data-edit="false" data-sort="1">{$lang.stock}</th>
                        <th data-id="cost" data-edit="false" data-sort="1">{$lang.product_cost}</th>
                        <th data-id="shop_price" data-edit="false" data-sort="1">{$lang.price}</th>
                        {foreach from=$ins_info.duration_options key=key item=duration}
                        <th data-id="duration_{$duration}" data-edit="true" data-sort="0" width="130px">{$duration}{$lang.ins_months_fee_perent}(%)</th>
                        {/foreach}
                        <!--
                        <th data-id="price" data-edit="true" data-sort="1">{$lang.ins_fee}</th>
                        -->
                        <th data-id="delete" data-edit="false" data-sort="0">{$lang.erp_operation_delete}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    {else}
    
    {/if}

    {include file="pagefooter.htm"}
    {if $full_page}

</div>

<script>
const ins_id = {$ins_info.insurance_id};

yohoTable.query = "query&data-type=ins-list";
yohoTable.table_id = "data";
var $table = yoho_dataTable();
getNoItem();

$("#ins_product_search").click(function(){
    var $filter = {};
    var search_key = $.trim($(this).parent().siblings('input#search_ins_goods').val());
    $filter.search_key = search_key;
    $filter.cat = $(this).closest('.div-text-input').siblings('select#search_cat').val();
    $filter.brand = $(this).closest('.div-text-input').siblings('select#search_brand').val();
    $table.search($filter);
});

$('#product_search_submit').click(function(e){
    e.preventDefault();
    var search_key = $.trim($(this).parent().siblings('input#search_goods').val());
    if (search_key.length <= 0){
        alert('{$lang.enter_keyword}');
        return false;
    }
    $.ajax({
    url: 'insurance.php',
    type: 'POST',
    dataType: 'JSON',
    data:{
        act: 'ajax_get_goods_by_keyword',
        search_key: search_key
    },
    success: function(res){
        if (!res.content){
            alert('未能找到任何產品');
            $("#count_goods").html("找不到商品");
            $("#sel_good").html('<option value="-1">-- 請選擇商品 --</option>');
            return false;
        }
        var print_result = "";
        if($.isArray(res.content)) {
            print_result += "<option value='-1'>選擇下列所有產品</option>";
            $.each(res.content, function(k, v) {
                print_result += "<option value='" + v.goods_id + "' data-name='" + v.goods_name + "'>" + v.goods_id + " - " + v.goods_name + "</option>";
            });
        }
        $("#sel_good").html(print_result);
        $("#count_goods").html("找到" + res.content.length + "個商品");
    }
    });
});

$('#btn_product_add').click(function(e){
        e.preventDefault();
        /*
        var arr_duration = new Array();
        $("input[name='duration_options[]']:checked").each(function (index, obj) {
            arr_duration.push(obj.value);
        });
        */
        var arr_duration_percent = new Array;
        $("input.price_percent").each(function (index, obj) {
            var percent = parseFloat($(obj).val());
            if (percent > 0) {
                console.log($(obj).val());
                console.log($(obj).data('duration'));
                arr_duration_percent.push({duration: $(obj).data('duration'), percent: percent});
            //arr_duration.push(obj.value);
            }
        });

        if (arr_duration_percent.length <= 0){
            alert('{$lang.please_fil_insurance_duration_percent}');
            return false;
        }

        /*
        var price_percent = Number($(this).closest('.div-goods-select').siblings('#price_percent').val());
        if (!$.isNumeric(price_percent) || price_percent <= 0){
            alert('{$lang.enter_price_percent}');
            return false;
        }
        */
		var selected_good = $(this).parent().siblings('select#sel_good');
        var selected_good_id = selected_good.val();
        console.log('selected_good_id: ' + selected_good_id);
    
        var arr_goods =  new Array();

        var selected = true;

        if (selected_good_id > 0){
            arr_goods.push(selected_good_id);
        } else if (selected_good_id <= 0) {
            var goods_result = selected_good.children('option');
            if (goods_result.length > 1){
                goods_result.each(function (index, obj) {
                    if (obj.value > 0){
                        arr_goods.push(obj.value);
                    }
                });
            } else {
                selected = false;
            }
        } else {
            selected = false;
        }

        console.log('goods.length: ' + arr_goods.length);
        console.log('goods[0]: ' + arr_goods[0]);

        if (arr_goods.length <= 0 || arr_goods[0] == -1 || !selected){
            alert('{$lang.reselect_product}');
            return false;
        }

        addItem(arr_goods, arr_duration_percent);
	});

$('#btn_create_ins').click(function(){
    var $text = "{$lang.please_fill_insurance_name_select_insurance_duration}";
    $("#alert_text").html($text);
    $('#createBtn').prop('value', '{$lang.create}'); 
    $('#createBtn').prop('disabled', false);
    $('#create_ins_form').modal('show');
});

$('#editBtn').click(function(event){
    event.preventDefault();
    var missing = false;
    var ins_name = $.trim($(this).closest(".form-group").siblings("#name_group").find("#name").val());
    var ins_name_en = $.trim($(this).closest(".form-group").siblings("#name_en_group").find("#name_en").val());
    var ins_code = $.trim($(this).closest(".form-group").siblings("#code_group").find("#code").val());
    //var ins_no_duration = $('input[name="duration_options[]"]:checked').length;
    var txt_alert = "";
    if (!ins_code){
        missing = true;
        txt_alert = "{$lang.please_fill_insurance_code}";
    }
    if (!ins_name_en){
        missing = true;
        txt_alert = "{$lang.please_fill_insurance_name}({$lang.en})";
    }
    if (!ins_name){
        missing = true;
        txt_alert = "{$lang.please_fill_insurance_name}";
    }
    if (missing){
        pop_alert(txt_alert);
        return false;
    } else {
        $(this).prop('disabled', true);
        $("#edit_ins_info_form").submit();
        $(this).prop('value', '{$lang.please_wait}'); 
    }
});

function getNoItem(e){
    $.ajax({
        url: 'insurance.php?act=insNoItem',
        type: 'post',
        cache: false,
        data: {
            'id': ins_id
        },
        dataType: 'json',
        success: function (result) {
            if (result['error'] == 0) {
                if (result['content']){
                    $('span#total_no_product').html(result['content']);
                } else {
                    $('span#total_no_product').html(' -- ');
                }
            } else {
                alert(result.message);
                //alert(result.message);
            }
        },
        error: function (xhr) {
            alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
            console.log(xhr);
        }
    });
}

function addItem(arr_item, arr_duration_percent, ){
    if (arr_item.length > 0 && arr_duration_percent.length > 0){
        $.ajax({
            url: 'insurance.php?act=insAddItem',
            type: 'post',
            cache: false,
            data: {
                'id': ins_id,
                'items': arr_item, 
                'duration_percent': arr_duration_percent
            },
            dataType: 'json',
            success: function (result) {
                if (result['error'] == 0) {
                    console.log(Object.keys(result['content']['existed']).length);
                    if (Object.keys(result['content']['existed']).length){
                        console.log(result['content']['existed']);
                        var msg = "以下產品已經存在: \n\n";
                        Object.keys(result['content']['existed']).forEach(function(key) {
                            msg += " - " + key + "個月: \n";
                            Object.keys(result['content']['existed'][key]).forEach(function(index) {
                                if (index > 0){
                                    msg += ", ";
                                }
                                msg += result['content']['existed'][key][index];
                            });
                            msg += "\n\n";
                        });
                        alert(msg);
                    }
                    $('button#ins_product_search').trigger('click');
                    getNoItem();
                } else {
                    alert(result.message);
                    //alert(result.message);
                }
            },
            error: function (xhr) {
                alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
                console.log(xhr);
            }
        });
    } else {
        return false;
    }

    //deleteItem();
    //checkItems();
    //priceQuantityCheck();
}

function deleteItem(e){
    var good_id = e.getAttribute('data-good-id');
    //var duration = e.getAttribute('data-duration');
    var sel_item_row = $(e).closest('tr');
    var confirm_delete = confirm("確定要{$lang.erp_operation_delete}?");
    if (confirm_delete == true) {
        $.ajax({
            url: 'insurance.php?act=insDeleteItem',
            type: 'post',
            cache: false,
            data: {
                'id': ins_id,
                'good_id': good_id
                //'duration': duration
            },
            dataType: 'json',
            success: function (result) {
                if (result['error'] == 0) {
                    if (result['content'] == 'true'){
                        sel_item_row.detach();
                        getNoItem();
                        //$('button#ins_product_search').trigger('click');
                    } else {
                        alert('未能刪除，請再試一次');
                    }
                } else {
                    alert(result.message);
                    //alert(result.message);
                }
            },
            error: function (xhr) {
                alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
                console.log(xhr);
            }
        });
    }
}

$('#delete_all').click(function(){
    var confirm_delete = confirm("確定要{$lang.delete_all_product}?");
    if (confirm_delete == true) {
        $.ajax({
            url: 'insurance.php?act=insDeleteAllItem',
            type: 'post',
            cache: false,
            data: {
                'id': ins_id
            },
            dataType: 'json',
            success: function (result) {
                if (result['error'] == 0) {
                    if (result['content'] == 'true'){
                        alert('已刪除所有產品');
                        $('button#ins_product_search').trigger('click');
                        getNoItem();
                    } else {
                        alert('未能刪除所有產品，請檢查產品');
                    }
                } else {
                    alert(result.message);
                    //alert(result.message);
                }
            },
            error: function (xhr) {
                alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
                console.log(xhr);
            }
        });
    }
})

function pop_alert(msg){
    mag = $.trim(msg);
    if (!msg){msg = "Alert"}
    alert(msg);
}

function gotoPage(page){
    $.ajax({
        url: 'order_address.php?act={$act}&ajax=1&page='+page+"&page_size="+$("#page_size").val(),
        success:function(res){
            $('#list').html(res)
        }
    })
}

function sel_change($this){
    $.ajax({
      url: 'insurance.php?act=ajaxEdit',
      type: 'post',
      cache: false,
      data: {
        'value': $this.value,
        'id': $this.getAttribute('data-key'),
        'col': $this.getAttribute('data-source'),
        'mkey' : 'insurance_id',
        'action' : 'list'
      },
      dataType: 'json',
      success: function (result) {
        if (result['error'] == 0) {
            
        } else {
            alert(result.message);
            //alert(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
}

var cat_list = [];

cat_list.push({
    id: 0,
    text: "-- 請選擇分類 --",
    html: "<span>-- 請選擇分類 --</span>",

});
{foreach from=$cats item=cat}        
  cat_list.push({
      id: {$cat.cat_id},
      text: "{$cat.cat_name}",
      html: "<span>{$cat.cat_name_by_level}</span>",
  
  }) 
{/foreach}

$("#search_cat").select2({
    width: 'resolve',
    matcher: modelMatcher,
    allowClear: false,
    placeholder: '-- 請選擇分類 --',
    data: cat_list,
    escapeMarkup: function(markup) {
        return markup;
    },
    templateResult: function(data) {
        return data.html;
    },
});

var brand_list = [];

brand_list.push({
    id: 0,
    text: "-- 請選擇品牌 --",
    html: "<span>-- 請選擇品牌 --</span>",

});

{foreach from=$brands key=brand_id item=brand_name}        
  brand_list.push({
      id: {$brand_id},
      text: "{$brand_name}",
      html: "<span>{$brand_name}</span>",
  
  }) 
{/foreach}
$("#search_brand").select2({
    width: 'resolve',
    matcher: modelMatcher,
    allowClear: false,
    placeholder: '-- 請選擇品牌 --',
    data: brand_list,
    escapeMarkup: function(markup) {
        return markup;
    },
    templateResult: function(data) {
        return data.html;
    },
});

</script>

{/if}