{if $full_page}
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,listtable.js,../js/transport_jquery.js,../js/region.js"}
<div id="list" class=" x_panel">
{/if}
<style>
.sel_type{
    font-size: 12px;
    width: 135px;
}

.sel_lift{
    font-size: 12px;
    width: 138px;
}

.text-search-group{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.text-search-group label,.text-search-group input,.text-search-group select {
    vertical-align: middle;
}

a.disabled {
    cursor: not-allowed !important;
}
</style>

<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <!--
        <form name="TimeInterval"  action="javascript:getList(this)" class="form-inline">
            <input class="btn btn-success form-btn" type="button" id="cross_check_search" name="cross_check_search" value="{$lang.query}" />
        </form>
    -->
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
        <div style="text-align: right;"><button type="button" id="btn_create_ins" class="btn btn-primary btn-sm">{$lang.create_insurance}</button></div>
        <table id="data" class="table table-bordered table-striped  bulk_action">
            <thead>
                <tr class="headings">
                    <th data-id="insurance_id" data-key="insurance_id" data-sort="1" data-orderby="ASC" style="width: 50px;">{$lang.insurance_id}</th>
                    <th data-id="name" data-edit="false" data-sort="1">{$lang.insurance_name}</th>
                    <th data-id="code" data-edit="false" data-sort="0">{$lang.insurance_code}</th>
                    <th data-id="duration" data-edit="false" data-sort="0">{$lang.insurance_duration}</th>
                    <th data-id="count_goods" data-edit="false" data-sort="0">{$lang.good_count}</th>
                    <th data-id="count_bought" data-edit="false" data-sort="0">{$lang.bought_count}</th>
                    <th data-id="count_claimed" data-edit="false" data-sort="0">{$lang.claimed_count}</th>
                    <!--
                    <th data-id="status" data-edit="true" data-type="toggle" data-sort="0" style="width: 40px;">{$lang.on_sale}</th>
                    -->
                    <th data-id="action" data-edit="false" data-sort="0" style="width: 200px;">{$lang.action}</th>
                </tr>
            </thead>
        </table>
    </div>

    {include file="pagefooter.htm"}
    {if $full_page}

</div>

<form id='create_ins_form' type='POST' action='insurance.php' class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">{$lang.create_insurance}</h3>
            </div>
            <div class="modal-body form-horizontal form-label-left">
                <div id="alert_text" class='red'></div>
                <input name='act' value='add_ins' type='hidden'>
                <div id="id_group" class="form-group">
                    <label for="name" class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.new_insurance}:</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <select name='insurance_id' id="insurance_id">
                            <!--
                            <option value="-1">{$lang.new_insurance}</option>
                            -->
                            {foreach from=$ins_list key=key item=ins}
                            <option value="{$ins.insurance_id}" data-code="{$ins.code}" data-name-en="{$ins.name_en}">{$ins.name}</option>
                            {/foreach}
                        </select> 
                    </div>
                </div>
                <div id="name_group" class="form-group">
                    <label for="name" class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.insurance_name}:</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" id="name" name="name" placeholder="{$lang.enter_insurance_name}" readonly>
                    </div>
                </div>
                <div id="name_en_group" class="form-group">
                    <label for="name_en" class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.insurance_name}({$lang.en}):</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" id="name_en" name="name_en" placeholder="{$lang.enter_insurance_name}({$lang.en})" readonly>
                    </div>
                </div>
                <div id="code_group" class="form-group">
                    <label for="name" class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.insurance_code}:</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" id="code" name="code" placeholder="{$lang.enter_insurance_code}" readonly>
                    </div>
                </div>
                <div id="duration_group" class="form-group">
                    <label for="duration_options" class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.insurance_duration}:</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <select id="duration_options" name="duration_options">
                            <option value="1">1{$lang.no_month}</option>
                            <option value="3">3{$lang.no_month}</option>
                            <option value="6">6{$lang.no_month}</option>
                            <option value="12">12{$lang.no_month}</option>
                            <option value="24">24{$lang.no_month}</option>
                            <option value="36">36{$lang.no_month}</option>
                            <option value="48">48{$lang.no_month}</option>
                        </select>
                        <!--
                        <label class="checkbox-inline"><input type="checkbox" id="duration_options_12" name="duration_options[]" value="12">12{$lang.no_month}</label>
                        <label class="checkbox-inline"><input type="checkbox" id="duration_options_24" name="duration_options[]" value="24">24{$lang.no_month}</label>
                        <label class="checkbox-inline"><input type="checkbox" id="duration_options_36" name="duration_options[]" value="36">36{$lang.no_month}</label>
                        <label class="checkbox-inline"><input type="checkbox" id="duration_options_48" name="duration_options[]" value="48">48{$lang.no_month}</label>
                        -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="{$lang.create}" class="btn btn-default" id="createBtn">
            </div>
        </div>
    </div>
</form>

<script>

yohoTable.query = "query&data-type=list";
yohoTable.table_id = "data";
var $table = yoho_dataTable();

$('#insurance_id').change(function() {
    var id = $(this).val();
    var input_name = $(this).closest('div#id_group').siblings('div#name_group').find('input#name');
    var input_name_en = $(this).closest('div#id_group').siblings('div#name_en_group').find('input#name_en');
    var input_code = $(this).closest('div#id_group').siblings('div#code_group').find('input#code');
    if (id == '-1'){
        input_name.val('');
        //input_name.attr('readonly', false);
        //input_name_en.val('');
        //input_name_en.attr('readonly', false);
        input_code.val('');
        //input_code.attr('readonly', false);
    } else {
        input_name.val($(this).find('option:selected').text());
        //input_name.attr('readonly', true);
        input_name_en.val($(this).find('option:selected').data('name-en'));
        //input_name_en.attr('readonly', true);
        input_code.val($(this).find('option:selected').data('code'));
        //input_code.attr('readonly', true);
    }
});

$("#cross_check_search").click(function(){
    var $filter = {};
    $filter.start_date = $("#start_date").val();
    $filter.end_date = $("#end_date").val();
    {if $page_type == 'pickup'}
    $filter.non_pickup = false;
    $filter.pickup_only = true;
    {else}
    $filter.non_pickup = $('#non_pickup').prop("checked");
    {/if}
    $filter.non_verify = $('#non_verify').prop("checked");
    $filter.verify = $('#verify').prop("checked");
    $filter.no_city = $('#no_city').prop("checked");
    $filter.unknown_city = $('#unknown_city').prop("checked");
    $filter.search_type_cat = $("#search_type_cat").val();
    $filter.keyword_cat = $("#keyword_cat").val();
    if ($filter.keyword_cat != -1){
        $filter.keyword_text_1 = $("#keyword_text_1").val();
        $filter.keyword_text_2 = $("#keyword_text_2").val();
        $filter.keyword_operator = $("#keyword_operator").val();
    }
    if ($filter.no_city == true && $filter.unknown_city == true){
        alert("不能同時選擇 只顯示欠缺城鎮地址 及 只顯示無法識別城鎮地址");
    } else if ($filter.verify == true && $filter.non_verify == true){
        alert("不能同時選擇 只顯示已確認地址 及 只顯示未確認地址");
    } else {
        $table.search($filter);
    }
    return;
});

$('#btn_create_ins').click(function(){
    var $text = "{$lang.please_fill_insurance_name_select_insurance_one_duration}";
    $("#alert_text").html($text);
    $('#createBtn').prop('value', '{$lang.create}'); 
    //$('#createBtn').prop('disabled', false);
    var sel_ins = $('form#create_ins_form').find('select#insurance_id');
    var input_name = $(sel_ins).closest('div#id_group').siblings('div#name_group').find('input#name');
    var input_name_en = $(sel_ins).closest('div#id_group').siblings('div#name_en_group').find('input#name_en');
    var input_code = $(sel_ins).closest('div#id_group').siblings('div#code_group').find('input#code');
    input_name.val($(sel_ins).find('option:selected').text());
    input_name_en.val($(sel_ins).find('option:selected').data('name-en'));
    input_code.val($(sel_ins).find('option:selected').data('code'));
    $('#create_ins_form').modal('show');
});

$('#createBtn').click(function(event){
    event.preventDefault();
    var missing = false;
    var ins_id = $.trim($(this).closest(".modal-footer").siblings(".modal-body").find("#insurance_id").val());
    var ins_name = $.trim($(this).closest(".modal-footer").siblings(".modal-body").find("#name").val());
    var ins_name_en = $.trim($(this).closest(".modal-footer").siblings(".modal-body").find("#name_en").val());
    var ins_code = $.trim($(this).closest(".modal-footer").siblings(".modal-body").find("#code").val());
    //var ins_no_duration = $('input[name="duration_options[]"]:checked').length;
    var txt_alert = "";
    if (!ins_name){
        missing = true;
        txt_alert = "{$lang.please_fill_insurance_name}";
    } else if (!ins_name_en && ins_id < 0){
        missing = true;
        txt_alert = "{$lang.please_fill_insurance_name}({$lang.en})";
    } else if (!ins_code){
        missing = true;
        txt_alert = "{$lang.please_fill_insurance_code}";
    } //else if (ins_no_duration != 1){
        //missing = true;
        //txt_alert = "{$lang.please_select_insurance_one_duration}";
    //}
    if (missing){
        pop_alert(txt_alert);
        return false;
    } else {
        $(this).prop('disabled', true);
        $("#create_ins_form").submit();
        $(this).prop('value', '{$lang.please_wait}'); 
    }
});

function pop_alert(msg){
    mag = $.trim(msg);
    if (!msg){msg = "Alert"}
    alert(msg);
}

function gotoPage(page){
    $.ajax({
        url: 'order_address.php?act={$act}&ajax=1&page='+page+"&page_size="+$("#page_size").val(),
        success:function(res){
            $('#list').html(res)
        }
    })
}

function sel_change($this){
    $.ajax({
      url: 'insurance.php?act=ajaxEdit',
      type: 'post',
      cache: false,
      data: {
        'value': $this.value,
        'id': $this.getAttribute('data-key'),
        'col': $this.getAttribute('data-source'),
        'mkey' : 'insurance_id',
        'action' : 'list'
      },
      dataType: 'json',
      success: function (result) {
        if (result['error'] == 0) {
            
        } else {
            alert(result.message);
            //alert(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
}




</script>
{/if}