{if $full_page}
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,listtable.js,../js/transport_jquery.js,../js/region.js"}
<div id="list" class=" x_panel">
{/if}
<style>
.sel_type{
    font-size: 12px;
    width: 135px;
}

.sel_lift{
    font-size: 12px;
    width: 138px;
}

.text-search-group{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.text-search-group label,.text-search-group input,.text-search-group select {
    vertical-align: middle;
}

a.disabled {
    cursor: not-allowed !important;
}
</style>

<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <!--
        <form name="TimeInterval"  action="javascript:getList(this)" class="form-inline">
            <input class="btn btn-success form-btn" type="button" id="cross_check_search" name="cross_check_search" value="{$lang.query}" />
        </form>
    -->
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
        <table id="data" class="table table-bordered table-striped  bulk_action">
            <thead>
                <tr class="headings">
                    <th data-id="claim_id" data-key="claim_id" data-sort="1" data-orderby="DESC" style="width: 50px;">賠償編號</th>
                    <th data-id="order_sn" data-edit="false" data-sort="1">訂單編號</th>
                    <th data-id="goods_name" data-edit="false" data-sort="0">{$lang.insurance_name}</th>
                    <th data-id="duration" data-edit="false" data-sort="1">{$lang.insurance_duration}(月)</th>
                    <th data-id="goods_price" data-edit="false" data-sort="1">購買價格</th>
                    <th data-id="claim_amount" data-edit="false" data-sort="1">賠償價格</th>
                    <th data-id="claim_datetime" data-edit="false" data-sort="1">賠償時間</th>
                    <!--
                    <th data-id="status" data-edit="true" data-type="toggle" data-sort="0" style="width: 40px;">{$lang.on_sale}</th>
                    <th data-id="action" data-edit="false" data-sort="0" style="width: 200px;">{$lang.action}</th>
                    -->
                </tr>
            </thead>
        </table>
    </div>

    {include file="pagefooter.htm"}
    {if $full_page}

</div>


<script>

yohoTable.query = "query&data-type=claim-list";
yohoTable.table_id = "data";
var $table = yoho_dataTable();



function pop_alert(msg){
    mag = $.trim(msg);
    if (!msg){msg = "Alert"}
    alert(msg);
}

function gotoPage(page){
    $.ajax({
        url: 'order_address.php?act={$act}&ajax=1&page='+page+"&page_size="+$("#page_size").val(),
        success:function(res){
            $('#list').html(res)
        }
    })
}


</script>
{/if}