{if $full_page}
<!-- $Id: integrates_modify.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div style="border: 1px solid #CC0000;background-color:#FFFFCE;color:#CE0000;padding:4px;" >{$lang.modify_notice}</div>

<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="javascript:searchUser()" name="searchForm">
  <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
  <select name="flag">
  {html_options options=$flags selected=$default_flag}
  </select>
  <input type="submit" value="{$lang.button_search}" class="btn btn-primary" />
  </form>
</div>

<form method="POST" action="integrate.php" name="listForm">
<!-- start users list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<!--用户列表部分-->
<table id="#" class="table table-striped table-bordered bulk_action ">
  <tr>
    <th>{$lang.user_name}</th>
    <th>{$lang.email}</th>
    <th>{$lang.reg_date}</th>
    <th>{$lang.handler}</th>
  <tr>
  {foreach from=$list item=user}
  <tr>
    <td>{$user.user_name}</td>
    <td>{$user.email}</td>
    <td align="center">{$user.reg_date}</td>
    <td align="center">
    <input type="radio" name="opt[{$user.user_id}]" value="2" {if $user.flag eq 2}checked="checked"{/if} />{$lang.short_rename}&nbsp;<input type="text"  name="alias[{$user.user_id}]" value="{$user.alias}" size="16" />
    <input type="radio" name="opt[{$user.user_id}]" value="3" {if $user.flag eq 3}checked="checked"{/if} />{$lang.short_delete}
    <input type="radio" name="opt[{$user.user_id}]" value="4" {if $user.flag eq 4}checked="checked"{/if} />{$lang.short_ignore}
    </td>
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
  <tr>
      <td colspan="3">
      </td>
      <td align="right" nowrap="true" colspan="8">
      {include file="page.htm"}
      </td>
  </tr>
</table>

{if $full_page}
</div>
<!-- end users list -->
<div style="width:100%;text-align:center;padding:10px;">
<input type="hidden" name="act" value="act_modify" />
<input type="submit" value="{$lang.submit_modify}"  class="btn btn-primary" />
<input type="button" value="{$lang.button_confirm_next}" onclick="location.href='integrate.php?act=sync'" class="btn btn-primary" />
</div>
</form>
<script type="text/javascript" language="JavaScript">
<!--
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
var user_domain = "{$domain}";

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

/**
 * 搜索用户
 */
function searchUser()
{
    listTable.filter['flag'] = document.forms['searchForm'].elements['flag'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}