{include file="pageheader.htm"}
<style>
.flow {
    padding-top: 8px;
    text-align: center;
}
</style>
<div class="x_panel">
    語言：<select id="switch_lang">
        {foreach from=$available_languages key=curr_lang_key item=curr_lang_name}
        <option value="{$curr_lang_key}">{$curr_lang_name}</option>
        {/foreach}
    </select>
    <form class="form-horizontal" id="ivr_container" action="ivr.php" method="POST"></form>
</div>
{include file="pagefooter.htm"}

<script>
const updateValue = (object, origin_keys, value) => {
    const obj = object;
    const keys = origin_keys;
    var rec = false;
    var ans = false;
    if (keys.length == 2) {
        if (keys[1] == 'rec' || keys[1] == 'namerec') {
            rec = true;
        } else if (keys[1] == 'red' || keys[1] == 'name') {
            ans = true;
        }
    }
    if (keys.length == 1 || (keys.length == 2 && rec)) {
        if ((keys[0] == 'red' || keys[0] == 'name' || keys[0] == 'ans') && keys.length == 1) {
            ans = true;
        }
        if (rec) {
            obj[keys[0]][keys[1]] = value;
        } else if (ans) {
            obj[keys[0]] = value;
        } else {
            obj[keys[0]].ans = value;
        }
    } else if (keys[0] in obj) {
        updateValue(obj[keys.splice(0, 1)[0]], keys, value);
    }
}

const deleteValue = (object, origin_keys, value) => {
    const obj = object
    const keys = origin_keys;
    if (keys.length == 1) {
        delete obj[keys[0]];
        var menu = [];
        var new_obj = {};
        for (var key in obj) {
            menu.push(obj[key]);
        }
        menu.map((v, i) => new_obj[i] = v);
        return new_obj;
    } else if (keys[0] in obj) {
        object[keys[0]] = JSON.parse(JSON.stringify(deleteValue(obj[keys.splice(0, 1)[0]], keys)));
        return object;
    }
}

var language_titles = {
    "OUTOFSERVICE": "非辦公時間",
    "END": "結束通話",
    "PRESS": "請按",
    "BACK": "返回上一頁<br>(按<span class='label label-info'>*</span>)",
    "GREET": "歡迎",
    "INVALID": "輸入錯誤",
    "MENU": "目錄",
    "PROMOTE": "推廣",
    "REDIRECT": "轉駁",
    "REDIRECTFAIL": "冇人接聽",
    "REPEAT": "重複<br>(按<span class='label label-info'>0</span>)",
    "RESPOND": "未有輸入",
}
var ivr_language_enabled = "{$ivr_language_enabled}".split(",");
var ivr_language = {$ivr_language};
var available_languages = $.parseJSON('{$available_languages|json_encode}');
var response_by_language = {};
var language_values = {};

$(document).on("change", "#switch_lang", function (e) {
    saveMenu();
    drawTable($(e.target).val());
})
$(document).on("change", ".ivr_input", function (e) {
    saveMenu();
})
$(document).on("change", ".menu_red_input", function (e) {
    var name = $(e.target).prop("name");
    var value = $(e.target).prop("checked") ? 1 : 0;
    var splitted = name.split("_");
    splitted.splice(0, 1);
    for (var lang in response_by_language) {
        updateValue(response_by_language[lang], [...splitted], value);
    }
})

$(document).on("click", "input[name=ivr_submit]", function () {
    saveMenu();
    encodeIVRLanguage();
    $("input[name=ivr_language]").val(JSON.stringify(ivr_language));
    $("input[name=ivr_language_enabled]").val(ivr_language_enabled.join(","));
    $(".ivr_input").prop("disabled", true);
    $("#ivr_container").submit();
})
decodeIVRLanguage();
drawTable("1");

function drawTable (lang) {
    $("#ivr_container").empty();
    $table = $('<table class="table table-striped table-bordered"><tr><th>啟用</th><td><input class="lang_enable" type="checkbox" name="enabled_' + lang + '" value="1"' + (ivr_language_enabled.indexOf(lang) !== -1 ? ' checked' : '') + (lang == "1" ? ' disabled' : '') + '></td></tr>');
    language_values = {}
    for (var key in response_by_language[lang]) {
        if (key != "MENU") {
            $table.append("<tr><th class='col-md-1'>" + language_titles[key] + "</th><td class='col-md-11'>" +
                    "<div class='input-group'>" +
                        "<input type='text' class='ivr_input form-control' name='" + lang + "_" + key + "' value=''>" +
                        "<span class='input-group-addon' style='border-left: none;'>錄音</span>" +
                        "<div class='input-group-btn'>" +
                            "<button type='button' class='btn btn-sm btn-primary addRecord' data-step='" + lang + "_" + key + "' title='上傳' style='margin-right: 1px;'><i class='fa fa-upload'></i></button>" +
                            (typeof response_by_language[lang][key].rec === "undefined" || response_by_language[lang][key].rec == "" ? "" : "<button type='button' class='btn btn-sm btn-warning playRecord' title='播放' style='margin-right: 1px;'><i class='fa fa-play'></i><audio src='/ajax/voice_recording/" + response_by_language[lang][key].rec + "'></audio></button><button type='button' class='btn btn-sm btn-danger removeRecord' title='移除' data-step='" + response_by_language[lang][key].rec + "' style='margin-right: 1px;'><i class='fa fa-minus'></i></button>") +
                        "</div>" +
                    "</div>" +
                    "<input class='ivr_input menu_rec_input' name='" + lang + "_" + key + "_rec' type='hidden' value='" + (typeof response_by_language[lang][key].rec === "undefined" || response_by_language[lang][key].rec == "" ? "" : response_by_language[lang][key].rec) + "'>" +
                "</td></tr>");
            language_values[lang + "_" + key] = response_by_language[lang][key].ans;
        } else {
            $table.append("<tr>" +
                            "<th class='col-md-1'>" +
                                language_titles[key] +
                                "<br><button type='button' class='btn btn-sm btn-info addCategory'><i class='fa fa-plus'></i> 分類</button>" +
                                "<br><button type='button' class='btn btn-sm btn-success addQuestion'><i class='fa fa-plus'></i> 問題</button>" +
                            "</th>" +
                            "<td class='col-md-11'>" +
                                drawMenu(response_by_language[lang][key], lang) +
                            "</td></tr>");
        }
    }
    for (var key in language_titles) {
        if (Object.keys(response_by_language[lang]).indexOf(key) == -1) {
            response_by_language[lang][key] = "";
            $table.append("<tr><th class='col-md-1'>" + language_titles[key] + "</th><td class='col-md-11'><input type='text' class='ivr_input form-control' name='" + lang + "_" + key + "' value=''></td></tr>");
        }
    }
    $table.append("<tr><th class='col-md-1'></th><td class='col-md-11'>" +
                    "<input type='hidden' value='' name='ivr_language'>" +
                    "<input type='hidden' value='' name='ivr_language_enabled'>" +
                    "<input type='hidden' value='update' name='act'>" +
                    "<input type='button' class='btn btn-primary' value='提交' name='ivr_submit'>" +
                "</td></tr>");
    for (var name in language_values) {
        $table.find("input[name=" + name + "]").val(language_values[name])
    }
    $table.appendTo("#ivr_container");
    turn_on_icheck();
}

function decodeMenu (menu, init_lang) {
    var result = {};
    var lang = init_lang;
    for (var step in menu) {
        result[step] = {};
        if (typeof menu[step].name[lang] === "undefined") {
            lang = 1;
        }
        result[step].name = menu[step].name[lang];
        if (typeof menu[step].namerec !== "undefined" && typeof menu[step].namerec[init_lang] !== "undefined") {
            result[step].namerec = menu[step].namerec[init_lang];
        }
        if (typeof menu[step].menu !== "undefined") {
            result[step].menu = decodeMenu(menu[step].menu, init_lang);
        }
        if (typeof menu[step].ans !== "undefined") {
            result[step].ans = init_lang == lang && typeof menu[step].ans[lang] !== "undefined" ? menu[step].ans[lang] : "";
        }
        if (typeof menu[step].red !== "undefined") {
            result[step].red = menu[step].red;
        }
        if (typeof menu[step].rec !== "undefined") {
            result[step].rec = init_lang == lang && typeof menu[step].rec[lang] !== "undefined" ? menu[step].rec[lang] : "";
        }
    }
    return result;
}

function encodeMenu (menu, lang, result) {
    if (typeof result === "undefined") {
        result = {};
    }
    for (var step in menu) {
        if (typeof result[step] === "undefined") {
            result[step] = {};
        }
        if (typeof result[step].name === "undefined") {
            result[step].name = {};
        }
        if (typeof result[step].name[1] === "undefined" || menu[step].name != "") {
            result[step].name[lang] = menu[step].name;
        }
        if (typeof menu[step].namerec !== "undefined") {
            if (menu[step].namerec !== "") {
                if (typeof result[step].namerec === "undefined") {
                    result[step].namerec = {};
                }
                result[step].namerec[lang] = menu[step].namerec;
            } else if (menu[step].namerec === "") {
                if (typeof result[step].namerec !== "undefined") {
                    if (typeof result[step].namerec[lang] !== "undefined") {
                        delete result[step].namerec[lang];
                    }
                    if (Object.keys(result[step].namerec).length == 0) {
                        delete result[step].namerec;
                    }
                }
            }
        }
        if (typeof menu[step].menu !== "undefined") {
            result[step].menu = encodeMenu(menu[step].menu, lang, result[step].menu);
        }
        if (typeof menu[step].ans !== "undefined") {
            if (typeof result[step].ans === "undefined") {
                result[step].ans = {};
            }
            if (typeof result[step].ans[1] === "undefined" || (menu[step].ans != "")) {
                result[step].ans[lang] = menu[step].ans.split("\n").filter(v=>v!="").join("\n").replace(/\n/g, " ");
            }
        }
        if (typeof menu[step].red !== "undefined") {
            result[step].red = menu[step].red;
        }
        if (typeof menu[step].rec !== "undefined") {
            if (menu[step].rec !== "") {
                if (typeof result[step].rec === "undefined") {
                    result[step].rec = {};
                }
                result[step].rec[lang] = menu[step].rec;
            } else if (menu[step].rec === "") {
                if (typeof result[step].rec !== "undefined") {
                    if (typeof result[step].rec[lang] !== "undefined") {
                        delete result[step].rec[lang];
                    }
                    if (Object.keys(result[step].rec).length == 0) {
                        delete result[step].rec;
                    }
                }
            }
        }
    }
    return result;
}

function decodeIVRLanguage () {
    for (var key in ivr_language) {
        if (key != "MENU") {
            for (var lang in available_languages) {
                if (typeof response_by_language[lang] === "undefined") {
                    response_by_language[lang] = {};
                }
                if (typeof response_by_language[lang][key] === "undefined") {
                    response_by_language[lang][key] = {};
                }
                response_by_language[lang][key].ans = typeof ivr_language[key][lang] === "undefined" ? "" : ivr_language[key][lang];
                response_by_language[lang][key].rec = typeof ivr_language[key].rec === "undefined" || typeof ivr_language[key].rec[lang] === "undefined" ? "" : ivr_language[key].rec[lang];
            }
        } else {
            for (var lang in available_languages) {
                if (typeof response_by_language[lang] === "undefined") {
                    response_by_language[lang] = {};
                }
                response_by_language[lang][key] = decodeMenu(ivr_language[key], lang);
            }
        }
    }
}
function encodeIVRLanguage () {
    var new_ivr_language = {};
    for (var lang in response_by_language) {
        for (var key in response_by_language[lang]) {
            if (typeof new_ivr_language[key] === "undefined") {
                new_ivr_language[key] = {};
            }
            if (key != "MENU" && typeof response_by_language[lang][key] !== "undefined") {
                if (typeof response_by_language[lang][key].ans !== "undefined" && response_by_language[lang][key].ans != "") {
                    new_ivr_language[key][lang] = response_by_language[lang][key].ans;
                }
                if (typeof response_by_language[lang][key].rec !== "undefined" && response_by_language[lang][key].rec != "") {
                    if (typeof new_ivr_language[key].rec === "undefined") {
                        new_ivr_language[key].rec = {};
                    }
                    new_ivr_language[key].rec[lang] = response_by_language[lang][key].rec;
                }
            } else {
                new_ivr_language[key] = encodeMenu(response_by_language[lang][key], lang, new_ivr_language[key])
            }
        }
    }
    ivr_language = JSON.parse(JSON.stringify(new_ivr_language));
}

function saveMenu () {
    $(".ivr_input").each(function() {
        var name = $(this).prop("name");
        var value = $(this).val();
        var splitted = name.split("_");
        var lang = splitted[0];
        if ($(this).hasClass("menu_red_input")) {
            value = $(this).prop("checked") ? 1 : 0;
        }
        updateValue(response_by_language[lang], splitted.filter((v, i)=>i>0), value);
    });
    var lang = $(".lang_enable").prop("name").replace("enabled_","");
    if ($(".lang_enable").prop("checked") && ivr_language_enabled.indexOf(lang) === -1) {
        ivr_language_enabled.push(lang);
    } else if (!$(".lang_enable").prop("checked") && ivr_language_enabled.indexOf(lang) !== -1) {
        ivr_language_enabled.splice(ivr_language_enabled.indexOf(lang), 1);
    }
    $(".lang_enable").val();
    encodeIVRLanguage();
}

function drawMenu (menu, lang, prev_step) {
    var html = "";
    if (typeof prev_step !== "undefined") {
        prev_step += "_menu_";
    } else {
        prev_step = "_";
    }
    for (var step in menu) {
        var tab_width = ((prev_step.match(/menu_/g) || []).length) * 30;
        html += "<div class='row menu_row'>" +
            "<div class='col-md-3'>" +
                "<div class='col-md-4'>" +
                    "<span class='ivr_edit' for='" + lang + "_MENU" + prev_step + step + "_name' style='margin-left: " + tab_width + "px'>" +
                        "按<span class='label label-info'>" + (parseInt(step) + 1) + "</span>" +
                    "</span>" +
                "</div>" +
                "<div class='col-md-8'>" +
                    "<div class='col-md-12'>" +
                        "<input type='text' class='ivr_input form-control menu_name_input' name='" + lang + "_MENU" + prev_step + step + "_name' value=''>" +
                    "</div>" +
                    "<div class='col-md-12'>" +
                        "<div class='btn-group' role='group'>" +
                            "<button type='button' class='btn btn-sm btn-default' style='padding: 2px 10px; pointer-events: none;'>錄音</button>" +
                            "<button type='button' class='btn btn-sm btn-primary addRecord' data-name='1' data-step='" + lang + "_MENU" + prev_step + step + "_namerec' title='上傳' style='margin-right: 1px;'><i class='fa fa-upload'></i></button>" +
                            (typeof menu[step].namerec === "undefined" || menu[step].namerec == "" ? "" : "<button type='button' class='btn btn-sm btn-warning playRecord' title='播放' style='margin-right: 1px;'><i class='fa fa-play'></i><audio src='/ajax/voice_recording/" + menu[step].namerec + "'></audio></button><button type='button' class='btn btn-sm btn-danger removeRecord' title='移除' data-step='" + menu[step].namerec + "' style='margin-right: 1px;'><i class='fa fa-minus'></i></button>") +
                        "</div>" +
                        "<input class='ivr_input menu_rec_input' name='" + lang + "_MENU" + prev_step + step + "_namerec' type='hidden' value='" + (typeof menu[step].namerec === "undefined" || menu[step].namerec == "" ? "" : menu[step].namerec) + "'>" +
                    "</div>" +
                "</div>" +
            "</div>";
        language_values[lang + "_MENU" + prev_step + step + "_name"] = menu[step].name;
        if (typeof menu[step].menu !== "undefined") {
            html += "<div class='col-md-7'><div class='empty_line'></div></div>" +
                    "<div class='col-md-2'>" +
                        "<div class='btn-group' role='group'>" +
                            "<button type='button' class='btn btn-sm btn-success addQuestion' data-step='" + step + "'><i class='fa fa-plus'></i> 問題</button>" +
                            "<button type='button' class='btn btn-sm btn-danger removeCategory' data-step='MENU" + prev_step + step + "'><i class='fa fa-minus'></i> 分類</button>" +
                        "</div>" +
                    "</div></div>" + drawMenu(menu[step].menu, lang, prev_step + step);
        }
        if (typeof menu[step].ans !== "undefined") {
            html += "<div class='col-md-7'>" +
                        "<div class='col-md-12'>" +
                            "<textarea class='ivr_input form-control menu_ans_input' name='" + lang + "_MENU" + prev_step + step + "_ans'>" + menu[step].ans.split("\n").filter(v=>v!="").join("\n").replace(/\n/g, " ") + "</textarea>" +
                        "</div>" +
                        "<div class='col-md-10'>" +
                            "<div class='btn-group' role='group'>" +
                                "<button type='button' class='btn btn-sm btn-default' style='padding: 2px 10px; pointer-events: none;'>錄音</button>" +
                                "<button type='button' class='btn btn-sm btn-primary addRecord' data-step='" + lang + "_MENU" + prev_step + step + "' title='上傳'><i class='fa fa-upload'></i></button>" +
                                (typeof menu[step].rec === "undefined" || menu[step].rec == "" ? "" : "<button type='button' class='btn btn-sm btn-warning playRecord' title='播放'><i class='fa fa-play'></i><audio src='/ajax/voice_recording/" + menu[step].rec + "'></audio></button><button type='button' class='btn btn-sm btn-danger removeRecord' title='移除' data-step='" + menu[step].rec + "'><i class='fa fa-minus'></i></button>") +
                            "</div>" +
                            "<input class='ivr_input menu_rec_input' name='" + lang + "_MENU" + prev_step + step + "_rec' type='hidden' value='" + (typeof menu[step].rec === "undefined" || menu[step].rec == "" ? "" : menu[step].rec)+ "'>" +
                        "</div>" +
                        "<div class='col-md-2'>" +
                            "<span class='redirect'>轉駁<input type='checkbox' class='ivr_input menu_red_input' name='" + lang + "_MENU" + prev_step + step + "_red' value='1'" + (typeof menu[step].red === "undefined" || menu[step].red == "0" ? "" : " checked") + "></span>" +
                        "</div>" +
                    "</div>" +
                    "<div class='col-md-2'>" +
                        "<button type='button' class='btn btn-sm btn-danger removeQuestion' data-step='MENU" + prev_step + step + "'><i class='fa fa-minus'></i> 問題</button>";
        }
        html += "</div></div>";
    }
    return html;
}

function addCategory() {
    var key = Object.keys(response_by_language[1].MENU).length;
    if (key > 8) {
        alert("最多只可有9個項目");
    } else {
        $div = $(
            "<div>" +
                "<div class='form-group'>分類名稱<input type='text' class='form-control' name='name'></div>" +
                "<div class='form-group'><input class='btn btn-info' value='確認' type='button'></div>" +
            "</div>"
        );
        $popup = modal.create("新增分類", $div, false, "md");
        $name = $div.find("input[name=name]");
        $btn = $div.find("input[type=button]")
        $btn.click(function() {
            var name = $name.val();
            if (name != "") {
                for (var lang in response_by_language) {
                    response_by_language[lang].MENU[key] = {
                        name: name,
                        menu: {},
                    }
                }
                encodeIVRLanguage();
                drawTable($("#switch_lang").val());
                modal.hide($popup);
            } else {
                alert("請填寫分類名稱")
            }
        });
        modal.show($popup);
    }
}

function addQuestion(step) {
    var category = typeof step === "undefined" ? "主目錄" : response_by_language[1].MENU[step].name;
    var key = typeof step === "undefined" ? Object.keys(response_by_language[1].MENU).length : Object.keys(response_by_language[1].MENU[step].menu).length;
    if (key > 8) {
        alert("最多只可有9個項目");
    } else {
        $div = $(
            "<div>" +
                "<div class='form-group'>分類<h4>" + category + "</h4></div>" +
                "<div class='form-group'>問題<input type='text' class='form-control' name='question'></div>" +
                "<div class='form-group'>答案<textarea class='form-control' name='ans'></textarea></div>" +
                "<div class='form-group'>轉駁 <input class='flat' type='checkbox' name='red' value='1'></div>" +
                "<div class='form-group'><input class='btn btn-info' value='確認' type='button'></div>" +
            "</div>"
        );
        $popup = modal.create("新增問題", $div, false, "md");
        $question = $div.find("input[name=question]");
        $ans = $div.find("textarea[name=ans]");
        $red = $div.find("input[name=red]");
        $btn = $div.find("input[type=button]")
        $btn.click(function() {
            var name = $question.val();
            var ans = $ans.val();
            var red = $red.prop('checked') ? 1 : 0;
            if (name != "") {
                for (var lang in response_by_language) {
                    if (typeof step === "undefined") {
                        response_by_language[lang].MENU[key] = {
                            name: name,
                            ans: lang != 1 ? '' : ans,
                            red: red,
                        }
                    } else {
                        response_by_language[lang].MENU[step].menu[key] = {
                            name: name,
                            ans: lang != 1 ? '' : ans,
                            red: red,
                        }
                    }
                }
                encodeIVRLanguage();
                drawTable($("#switch_lang").val());
                modal.hide($popup);
            } else {
                alert("請填寫問題及答案")
            }
        });
        modal.show($popup);
        turn_on_icheck();
    }
}

function addRecord(step, name) {
    $div = $(
        "<div>" +
            "<div class='form-group'>上傳錄音 (.mp3/.wav)<br>" +
                "<form action='ivr.php' method='post' enctype='multipart/form-data'>" +
                    "<input class='form-control' name='file' type='file' accept='audio/mpeg,audio/wav'>" +
                    "<input type='hidden' name='name' value='" + step + (name ? "" : "_rec") +  "'>" +
                    "<input type='hidden' name='act' value='upload'>" +
                "</form>" +
            "</div>" +
            "<div class='form-group'>" +
                "<audio controls></audio>" +
            "</div>" +
            "<div class='form-group'><input class='btn btn-info' value='確認' type='button'></div>" +
        "</div>"
    );
    var reader = new FileReader();
    $popup = modal.create("錄音管理", $div, false, "md");
    $file = $div.find("input[type=file]");
    $form = $div.find("form");
    $audio = $div.find("audio").get(0);
    $btn = $div.find("input[type=button]")
    $file.on('change', function(e){
        if ($(e.target).get(0).files.length != 0) {
            reader.addEventListener("load", function () {
                $audio.src = reader.result;
            }, false);
            reader.readAsDataURL($(e.target).get(0).files[0])
        } else {
            $audio.src = "";
        }
    })
    $btn.click(function() {
        if ($audio.src != '') {
            $form.submit();
        } else {
            alert("FAIL")
        }
    });
    modal.show($popup);
}
$(document).on("click", "button.addCategory", function () {
    addCategory();
})

$(document).on("click", "button.addQuestion", function (e) {
    $target = $(e.target).is("button") ? $(e.target) : $(e.target).parents("button");
    addQuestion($target.data("step"));
})

$(document).on("click", "button.removeQuestion, button.removeCategory", function (e) {
    $target = $(e.target).is("button") ? $(e.target) : $(e.target).parents("button");
    if (confirm('確認移除?')) {
        for (var lang in response_by_language) {
            response_by_language[lang] = deleteValue(response_by_language[lang], $target.data("step").split("_"));
        }
        encodeIVRLanguage();
        drawTable($("#switch_lang").val());
    }
})

$(document).on("click", "button.playRecord", function (e) {
    $target = $(e.target).is("button") ? $(e.target) : $(e.target).parents("button");
    $target.find('audio').get(0).play();
    $target.find('audio').unbind("ended");
    $target.find('audio').on("ended", function(evt) {
        $(evt.target).parents("button").trigger("click");
    })
    $target.toggleClass("playRecord pauseRecord");
    $target.find('i.fa').toggleClass("fa-play fa-pause");
})

$(document).on("click", "button.pauseRecord", function (e) {
    $target = $(e.target).is("button") ? $(e.target) : $(e.target).parents("button");
    $target.find('audio').get(0).pause();
    $target.toggleClass("playRecord pauseRecord");
    $target.find('i.fa').toggleClass("fa-play fa-pause");
})

$(document).on("click", "button.addRecord", function (e) {
    $target = $(e.target).is("button") ? $(e.target) : $(e.target).parents("button");
    addRecord($target.data("step"), $target.data("name"));
})

$(document).on("click", "button.removeRecord", function (e) {
    if (!confirm("確定移除此錄音?")) {
        return false;
    }
    $target = $(e.target).is("button") ? $(e.target) : $(e.target).parents("button");
    var step = $target.data("step");
    $.ajax({
        url: 'ivr.php',
        data: {
            act: 'remove',
            name: step
        },
        success: function () {
            $("input[name=" + step.split(".")[0] + "]").val("");
            saveMenu();
            $("input[name=ivr_submit]").click();
        }
    })
})
</script>

<style>
td .label.label-info {
    vertical-align: text-top;
    margin-right: 10px;
}
.empty_line {
    width: 100%;
    height: 34px;
}
.menu_row {
    min-height: 34px;
    line-height: 34px;
    font-size: 16px;
    border-bottom: 1px solid grey;
    margin: auto;
    width: 98%;
    padding: 10px 0;
}
.menu_name_input {
    display: inline-block;
}
.menu_ans_input {
    display: inline-block;
    float: left;
    margin-right: 10px;
    resize: vertical;
}
.redirect {
    font-size: 14px;
    line-height: 0;
}
</style>