{include file="pageheader.htm"}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/Chart.PieceLabel.min.js"></script>
<!-- <script src="js/Chart.min.js"></script> -->
<!-- Facebook SDK Init -->
<script>
  var is_fb_loaded = false;
  window.fbAsyncInit=function(){FB.init({appId:"2026095777606738",autoLogAppEvents:!0,xfbml:!0,version:"v3.0"}),/*FB.AppEvents.logPageView(),*/is_fb_loaded = true},function(e,n,t){var o,s=e.getElementsByTagName(n)[0];e.getElementById(t)||(o=e.createElement(n),o.id=t,o.src="https://connect.facebook.net/en_US/sdk.js",s.parentNode.insertBefore(o,s))}(document,"script","facebook-jssdk");
</script>

<style>
.section{
    background-color: white;
    padding-bottom: 20px;
}
td, th{
  text-align: center
}
.section h2{
    margin: 20px;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.ga-res, .fb-res{
    padding-left: 30px;
    padding-right: 30px;
}
.dataTable{
  border: 1px solid #ddd;
  border-radius: 5px;
  float: left;
  margin-bottom: 30px;
}
.xChart{
  padding-left: 30px;
  float:left;
}
.Chartjs{
  /* float: left; */
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  padding: 3px;
}
.Chartjs h3{
  text-align: center;
}
.Chartjs-figure{
  width:450px;
  height:300px
}
.ga_auth_success{
  display: none;
}
.fb_auth_success{
  display: none;
}
.tips{
  max-width: 400px;
  z-index: 1000;
  color: #73879C;
  line-break: auto;
  display:table-cell;
  margin-left:1em;
}
.table_tips div.tips{
  display: table;
}
.tipsSpan{
  font-size: 12px;
  margin-left: 10px;
}
th {
  background: #00416b;
  color: #fff;
}
.btn-tips {
  float: right;
}
.column {
  padding-left: 30px;
}
#pre_sale_days_sold {
  border-left: 1px solid #AAA;
}
#pre_sale_days_overall, #delivery_overall, #picker, #packer {
  padding-top: 44px;
}
</style>
<body>
<div class=" x_panel">
<div id="ga-login" class='pull-right'>
    <b>Google Analytics Login: </b><section class='ga' id="auth-button"></section>
</div>
</div>
<div id="ga-query" style='float:right;margin-right:30px' class="ga_auth_success">
    <b tips="Google Analytics用(未啟用)">GA統計時間： </b>
    <label for="ga_start_date" style="margin-left:10px;">由</label>
    <input name="ga_start_date" id="ga_start_date" value="" readonly data-type="date"  class="form-control">
    <label for="ga_end_date" style="margin-left:10px;">至</label>
    <input name="ga_end_date" id="ga_end_date" value="" readonly data-type="date"  class="form-control">
    <input name="ga_submit" type="button" class="btn btn-primary" value="查詢" readonly>
</div>
<section id="view-selector"></section>
{if !$market}
<div class="x_panel">
  <div class="x_title">
    <h2>Sales Team</h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="row x_content">
      <div class="col-md-4 column" id='pos_email'></div>
  </div>
</div>
<div class="x_panel">
    <div class="x_title">
      <h2>Tech Team</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row x_content">
      <div class='ga-res'>
          <section class="login_remind_ga" id="tech_remind_ga">Please Login Google Analytics First</section>
      </div>
      <div class='ga-res ga_auth_success ga_tech_res col-md-5' id="ga_server">
        <table class="dashTable table jambo_table table-striped table-bordered bulk_action" id="view"><tr><th></th><th tips="截至昨日之流量">本月</th><th>上月</th><th>上年同月</th></tr></table>
      </div>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
      <h2>Product Team</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row x_content">
      <div class='col-12 col-md-3 column' id='pre_sale_days_all'></div>
      <div class='col-12 col-md-6 column' id='pre_sale_days_sold'></div>
      <div class='col-12 col-md-3 column' id='pre_sale_days_overall'></div>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
      <h2>Accounting Team</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row x_content">
      <div class='col-md-4 column' id='refund'></div>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
      <h2>Warehouse Team</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row x_content">
      <div class='col-md-4 column' id='delivery'></div>
      <div class='col-md-3' id='delivery_overall'></div>
      <div class='col-md-2' id='picker'></div>
      <div class='col-md-2' id='packer'></div>
    </div>
    <div class="row x_content">
      <div class='col-md-4 column' id='warehousing'></div>
      <div class='col-md-3 column' id='serial_number'></div>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
      <h2>Customer Service Team</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row x_content">
      <div class='col-md-6 column' id='aircall'></div>
    </div>
</div>
{/if}
{if $market}
<div class="section list-div">
    <h2>Marketing Team</h2>
    <div class='ga-res'>
        <section id="timeline"></section>
        <section class="login_remind_ga" id="market_remind">Please Login Google Analytics First</section>
    </div>
    <div class='ga-res ga_auth_success ga_market_res' id="ga_user_channel">
      <h3>流量來源比例 - 工作階段 (Google Analytics)</h3>
      <div class="row">
        <div class="col-md-4">
          <div class="Chartjs">
            <h3>本月</h3>
            <canvas id="this-month-container" width='450' height='300'></canvas>
          </div>
        </div>
        <div class="col-md-4">
          <div class="Chartjs">
            <h3>上月</h3>
            <canvas id="last-month-container" width='450' height='300'></canvas>
          </div>
        </div>
        <div class="col-md-4">
          <div class="Chartjs">
            <h3>本月</h3>
            <canvas id="last-year-container" width='450' height='300'></canvas>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>流量來源增長 - 工作階段 (每日) (Google Analytics)</h3>
          <table class="dashTable table jambo_table table-striped table-bordered bulk_action" id="channel_traffics" style="width:1300px;"></table>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-5">
          <h3>Google Analytics Cost Per Conversion By User Channel</h3>
          <table class="dashTable table jambo_table table-striped table-bordered bulk_action" id="channel_conversions"><tr><th></th><th tips="截至昨日之成本 ÷ 轉換數">本月</th><th>上月</th><th>上年同月</th></tr></table>
        </div>
        <div class="col-md-7">
          <h3>內容營銷 - Promotions相關文章 (每日) (Google Analytics)</h3>
          <section class="login_remind_ga" id="market_remind_promo_ga"></section>
          <table style="display:none" class="dashTable table jambo_table table-striped table-bordered bulk_action" id="promotions_pageviews"><tr><th></th><th tips="截至昨日之數據">本月</th><th>上月</th><th>上年同月</th></tr></table>
          <h3>內容營銷 - iPretty / 3CBook / HomeTech (每日) (Google Analytics)</h3>
          <section class="login_remind_ga" id="market_remind_refer_ga"></section>
          <table style="display:none" class="dashTable table jambo_table table-striped table-bordered bulk_action" id="refers_pageviews"></table>
        </div>
      </div>
    </div>
    <hr>
    <br>
    <div class='fb-res'>
        <section class="login_remind_fb" id="market_remind_fb">Getting Facebook API</section>
    </div>
    <div class="fb-res fb_auth_success fb_market_res" style="width:600px">
      <h3>社交網絡營銷 - (每日) (Facebook Pixel)</h3>
      <table class="dashTable table jambo_table table-striped table-bordered bulk_action" id="page"><tr><th></th><th tips="截至現在之數據，但未包含今日新出的post">本月</th><th>上月</th><th>上年同月</th></tr></table>      
    </div>
    <br>
</div>
{/if}
{include file="pagefooter.htm"}
</body>
<script language="JavaScript">
onload = function()
{
    // 开始检查订单
  startCheckOrder();
}

//ga
(function(w,d,s,g,js,fjs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
  js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
}(window,document,'script'));
var timeE = setInterval(checkFB,1000);
var ga_channel_filter = 'ga:channelGrouping!=(Other)';
var ga_channel_sort = '-ga:sessions';
var fb_access_token = "{$fb_access_token}";
var ga_market_data = {
  channels:{
    thisMonth: {},
    lastMonth: {},
    lastYear: {},
    keys: [],
    metrics: ['工作階段','新使用者','單次工作階段頁數','電子商務轉換率']
  },
  pageviews:{
    thisMonth: {},
    lastMonth: {},
    lastYear: {},
    keys: ['Page Views','Unique Page Views','Page Values','Sessions'],
    tips: {
      'Page Views':'瀏覽次數 ÷ 日數',
      'Unique Page Views':'唯一瀏覽次數 ÷ 日數',
      'Page Values':'(收益 ÷ 唯一瀏覽次數) ÷ 日數',
      'Sessions':'工作階段 ÷ 日數'
    }
  }
};
var ga_market_data_temp = {
  conversions:{
    thisMonth: {},
    lastMonth: {},
    lastYear: {},
    keys: []
  }
};
var fb_market_data = {
  thisMonth: {},
  lastMonth: {},
  lastYear: {},
  keys: ['post_engagement'],
  ok: [],
  tips:{
    'posts_impressions_unique':'<div style="text-align:center">Total Impression<br>÷<br>Total Post<br>(Any Post In That Month)</div>',
    'posts_impressions_organic_unique':'<div style="text-align:center">Total Organic Impression<br>÷<br>Total Post<br>(Any Post In That Month)</div>',
    'posts_impressions_paid_unique':'<div style="text-align:center">Total Paid Impression<br>÷<br>Total Paid Post<br>(Any Paid Post In That Month)</div>',
    'page_posts_impressions_unique':'<div style="text-align:center">Total Impression<br>÷<br>Total Post<br>(Any Post In Page)</div>',
    'page_posts_impressions_organic_unique':'<div style="text-align:center">Total Organic Impression<br>÷<br>Total Post<br>(Any Post In Page)</div>',
    'page_posts_impressions_paid_unique':'<div style="text-align:center">Total Paid Impression<br>÷<br>Total Paid Post<br>(Any Paid Post In Page)</div>',
  }
};
var ga_tech_data = {
  thisMonth: {},
  lastMonth: {},
  lastYear: {},
  keys: ['Avg. Server Response Time','Avg. Page Load Time']
};
var pieColorPick = ['#00cc99', '#FF6600', '#3399FF', '#009966', '#CC3399', '#FFCC33', '#6699CC', '#CC3366']
var no_fb_error = true;

// Chart Plugin
Chart.defaults.pieLabels=Chart.helpers.clone(Chart.defaults.pie);var helpers=Chart.helpers,defaults=Chart.defaults;
Chart.controllers.pieLabels=Chart.controllers.pie.extend({updateElement:function(h,d,l){var a=this.chart,e=a.chartArea,g=a.options,m=g.animation,n=g.elements.arc,p=(e.left+e.right)/2,q=(e.top+e.bottom)/2,r=g.rotation,t=g.rotation;e=this.getDataset();var u=l&&m.animateRotate?0:h.hidden?0:this.calculateCircumference(e.data[d])*(g.circumference/(2*Math.PI)),f=h.custom||{},k=helpers.getValueAtIndexOrDefault;helpers.extend(h,{_datasetIndex:this.index,_index:d,_model:{x:p+a.offsetX,y:q+a.offsetY,startAngle:r,
endAngle:t,circumference:u,outerRadius:l&&m.animateScale?0:this.outerRadius,innerRadius:l&&m.animateScale?0:this.innerRadius,label:k(e.label,d,a.data.labels[d])},draw:function(){var c=this._chart.ctx,b=this._view,a=b.startAngle,e=b.endAngle,d=this._chart.config.options,f=this.tooltipPosition(),g=b.circumference/d.circumference*100;c.beginPath();c.arc(b.x,b.y,b.outerRadius,a,e);c.arc(b.x,b.y,b.innerRadius,e,a,!0);c.closePath();c.strokeStyle=b.borderColor;c.lineWidth=b.borderWidth;c.fillStyle=b.backgroundColor;
c.fill();c.lineJoin="bevel";b.borderWidth&&c.stroke();.15<b.circumference&&(c.beginPath(),c.font=helpers.fontString(d.defaultFontSize,d.defaultFontStyle,d.defaultFontFamily),c.fillStyle="#fff",c.textBaseline="top",c.textAlign="center",a=.5*(f.x-b.x),b=.5*(f.y-b.y),g.toFixed(0)>4?c.fillText(g.toFixed(0)+"%",f.x+a,f.y+b):0)}});a=h._model;a.backgroundColor=f.backgroundColor?f.backgroundColor:k(e.backgroundColor,d,n.backgroundColor);a.hoverBackgroundColor=f.hoverBackgroundColor?f.hoverBackgroundColor:k(e.hoverBackgroundColor,
d,n.hoverBackgroundColor);a.borderWidth=f.borderWidth?f.borderWidth:k(e.borderWidth,d,n.borderWidth);a.borderColor=f.borderColor?f.borderColor:k(e.borderColor,d,n.borderColor);l&&m.animateRotate||(a.startAngle=0===d?g.rotation:this.getMeta().data[d-1]._model.endAngle,a.endAngle=a.startAngle+a.circumference);h.pivot()}});

gapi.analytics.ready(function() {

  // Step 3: Authorize the user.

  var ga_access_token = {if $access_token} '{$access_token}' {else} '478328127783-4kue1g15kfihfl0ga5g1472s6hdi7vof.apps.googleusercontent.com'{/if};

  gapi.analytics.auth.authorize({
    container: 'auth-button',
    {if !$access_token}
    clientid: ga_access_token,
    {else}
    serverAuth: {
      'access_token': ga_access_token
    }
    {/if}
  });

  // Step 4: Create the view selector.

  var viewSelector = new gapi.analytics.ViewSelector({
    container: 'view-selector'
  });
  {if $access_token}
  queryStart(viewSelector);
  {/if}
  gapi.analytics.auth.on('signIn', function(response) {
    queryStart(viewSelector,'user');
  });

  viewSelector.on('change', function(ids) {
    var newIds = {
      query: {
        ids: "ga:77620237"
      }
    }
    {if $market}
    queryMarketGA("ga:77620237",'thisMonth',moment().startOf('month').format('YYYY-MM-DD'),moment().format('DD') != '01' ? 'yesterday' : 'today');
    queryMarketGA3("ga:77620237",'thisMonth',moment().startOf('month').format('YYYY-MM-DD'),moment().format('DD') != '01' ? 'yesterday' : 'today');
    {if $page}
    queryMarketFB('thisMonth',moment().startOf('month').format('YYYY-MM-DD'),moment().format('DD') != '01' ? moment().format('YYYY-MM-DD') : moment().add(1,'days').format('YYYY-MM-DD'));
    {else}
    FB.api('/545608568812565','GET',
      {
        'access_token': fb_access_token,
        'fields': 'access_token',
      }, function (response) {
        if (!response.error) {
          fb_access_token = response.access_token;
          queryMarketFB2('thisMonth',moment().startOf('month').format('YYYY-MM-DD'),moment().format('DD') != '01' ? moment().format('YYYY-MM-DD') : moment().add(1,'days').format('YYYY-MM-DD'));
        } else {
          no_fb_error = false;
        }
      }
    )
    {/if}
    {/if}
    queryTechGA("ga:77620237",'thisMonth',moment().startOf('month').format('YYYY-MM-DD'),moment().format('DD') != '01' ? 'yesterday' : 'today');
  });
  function queryStart(viewSelector){
    viewSelector.execute();
    $('#view-selector').hide();
    $('.login_remind_ga').html("Retrieving Data From Google ...");
    if(arguments[1] == 'user'){
      $('<input class="btn btn-sm btn-info" type="button" onclick="gapi_logout(this)" value="Signout">').appendTo('#auth-button');
    }else{
      $('#ga-login').hide();
    }
  }
  function queryMarketGA(ids,curr,start,end){
    query({
      'ids': ids,
      'dimensions': 'ga:channelGrouping',
      'metrics': 'ga:sessions,ga:newUsers,ga:pageviewsPerSession,ga:transactionsPerSession',
      'start-date': start,
      'end-date': end,
      'filters': ga_channel_filter,
      'sort': ga_channel_sort,
    }).then(function(response) {
      response.rows.map((v)=>(ga_market_data['channels'][curr][v[0].split(" ").join("_")] = [parseInt(v[1]),parseInt(v[2]), parseFloat(parseFloat(v[3]).toFixed(2)), parseFloat(parseFloat(v[4]).toFixed(2)),0]/*,parseFloat(parseFloat(v[2]).toFixed(2))]*/, curr == 'thisMonth' ? ga_market_data['channels']['keys'].push(v[0]) : true));
      queryMarketGA2("ga:77620237",curr,start,end);
      switch(curr){
        case 'thisMonth': queryMarketGA(ids,'lastMonth',moment().subtract(1, 'months').startOf('month').format('YYYY-MM-DD'),moment().subtract(1, 'months').endOf('month').format('YYYY-MM-DD')); break;
        case 'lastMonth': queryMarketGA(ids,'lastYear',moment().subtract(1, 'years').startOf('month').format('YYYY-MM-DD'),moment().subtract(1, 'years').endOf('month').format('YYYY-MM-DD')); break;
      }
    });
  }
  function queryMarketGA2(ids,curr,start,end){
    query({
      'ids': ids,
      'dimensions': 'ga:source,ga:medium,ga:adDistributionNetwork',
      'metrics': 'ga:transactions,ga:adCost',
      'start-date': start,
      'end-date': end,
    }).then(function(response) {
      response.rows.map(function(v){
        var type = "";
        if(v[0]=='(direct)' && (v[1] == '(not set)' || v[1] == '(none)')){
          ga_market_data_temp['conversions'][curr]['Direct'] = [parseInt(v[3]), parseFloat(parseFloat(v[4]).toFixed(2))];
        }else if(v[1] == 'organic'){
          ga_market_data_temp['conversions'][curr]['Organic_Search'] = [parseInt(v[3]), parseFloat(parseFloat(v[4]).toFixed(2))];
        }else if(v[1].match('^(social|social-network|social-media|sm|social network|social media)$') != null){
          ga_market_data_temp['conversions'][curr]['Social'] = [parseInt(v[3]), parseFloat(parseFloat(v[4]).toFixed(2))];
        }else if(v[1] == 'email'){
          ga_market_data_temp['conversions'][curr]['Email'] = [parseInt(v[3]), parseFloat(parseFloat(v[4]).toFixed(2))];
        }else if(v[1] == 'affiliate'){
          ga_market_data_temp['conversions'][curr]['Affiliates'] = [parseInt(v[3]), parseFloat(parseFloat(v[4]).toFixed(2))];
        }else if(v[1] == 'referral'){
          ga_market_data_temp['conversions'][curr]['Referral'] = [parseInt(v[3]), parseFloat(parseFloat(v[4]).toFixed(2))];
        }else if(v[1].match('^(cpc|ppc|paidsearch)$') != null && v[2] != 'Content'){
          ga_market_data_temp['conversions'][curr]['Paid_Search'] = [parseInt(v[3]), parseFloat(parseFloat(v[4]).toFixed(2))];
        }else if(v[1].match('^(display|cpm|banner)$') != null || v[2] == 'Content'){
          ga_market_data_temp['conversions'][curr]['Display'] = [parseInt(v[3]), parseFloat(parseFloat(v[4]).toFixed(2))];
        }
      })
      for(var k in ga_market_data_temp['conversions'][curr]){
        ga_market_data['channels'][curr][k][4] = Math.round(ga_market_data_temp['conversions'][curr][k][1] / (ga_market_data_temp['conversions'][curr][k][0] > 0 ? ga_market_data_temp['conversions'][curr][k][0] : 1)) || 0;
      }
      if(curr == 'lastYear')marketDataHandlingGA();
    });
  }
  function queryMarketGA3(ids,curr,start,end){
    query({
      'ids': ids,
      //'dimensions': 'ga:pagePath',
      'metrics': 'ga:pageviews,ga:uniquePageviews,ga:pageValue,ga:sessions',
      'start-date': start,
      'end-date': end,
      'filters': "ga:pagePath=@/promotion",
    }).then(function(response) {
      response.rows.map((v)=>ga_market_data['pageviews'][curr]['promotions'] = v);
      switch(curr){
        case 'thisMonth': queryMarketGA3(ids,'lastMonth',moment().subtract(1, 'months').startOf('month').format('YYYY-MM-DD'),moment().subtract(1, 'months').endOf('month').format('YYYY-MM-DD')); break;
        case 'lastMonth': queryMarketGA3(ids,'lastYear',moment().subtract(1, 'years').startOf('month').format('YYYY-MM-DD'),moment().subtract(1, 'years').endOf('month').format('YYYY-MM-DD')); break;
        case 'lastYear': queryMarketGA4("ga:77620237",'thisMonth',moment().startOf('month').format('YYYY-MM-DD'),moment().format('DD') != '01' ? 'yesterday' : 'today');break;
      }
    });
  }
  function retrieveAttr(target,regex){
    return target.match(regex)[0];
  }
  function queryMarketGA4(ids,curr,start,end){
    var regex = "(3cbook|ipretty|hometech)";
    query({
      'ids': ids,
      'dimensions': 'ga:fullReferrer',
      'metrics': 'ga:pageviews,ga:uniquePageviews,ga:pageValue,ga:sessions',
      'start-date': start,
      'end-date': end,
      'filters': "ga:fullReferrer=~" + regex,
    }).then(function(response) {
      ga_market_data['pageviews'][curr]['refer'] = [];
      response.rows.map((v)=>(
        typeof ga_market_data['pageviews'][curr]['refer'][retrieveAttr(v[0],regex)] === "undefined"
          ? ga_market_data['pageviews'][curr]['refer'][retrieveAttr(v[0],regex)] = [0,0,0,0]
          : true,
        ga_market_data['pageviews'][curr]['refer'][retrieveAttr(v[0],regex)][0] += parseInt(v[1]),
        ga_market_data['pageviews'][curr]['refer'][retrieveAttr(v[0],regex)][1] += parseInt(v[2]),
        ga_market_data['pageviews'][curr]['refer'][retrieveAttr(v[0],regex)][2] += parseFloat(v[3]) * parseInt(v[2]),
        ga_market_data['pageviews'][curr]['refer'][retrieveAttr(v[0],regex)][3] += parseInt(v[4])
      ));
      for(var r in ga_market_data['pageviews'][curr]['refer']){
        ga_market_data['pageviews'][curr]['refer'][r][2] /= ga_market_data['pageviews'][curr]['refer'][r][1];
      }
      switch(curr){
        case 'thisMonth': queryMarketGA4(ids,'lastMonth',moment().subtract(1, 'months').startOf('month').format('YYYY-MM-DD'),moment().subtract(1, 'months').endOf('month').format('YYYY-MM-DD')); break;
        case 'lastMonth': queryMarketGA4(ids,'lastYear',moment().subtract(1, 'years').startOf('month').format('YYYY-MM-DD'),moment().subtract(1, 'years').endOf('month').format('YYYY-MM-DD')); break;
        case 'lastYear': marketDataHandlingGA2();break;
      }
    });
  }
  function queryTechGA(ids,curr,start,end){
    query({
      'ids': ids,
      'metrics': 'ga:avgServerResponseTime,ga:avgPageLoadTime',
      'start-date': start,
      'end-date': end,
    }).then(function(response) {
      response.rows[0].map((v,i)=>ga_tech_data[curr][ga_tech_data['keys'][i].split(" ").join("_")] = parseFloat(parseFloat(v).toFixed(2)));
      switch(curr){
        case 'thisMonth': queryTechGA(ids,'lastMonth',moment().subtract(1, 'months').startOf('month').format('YYYY-MM-DD'),moment().subtract(1, 'months').endOf('month').format('YYYY-MM-DD')); break;
        case 'lastMonth': queryTechGA(ids,'lastYear',moment().subtract(1, 'years').startOf('month').format('YYYY-MM-DD'),moment().subtract(1, 'years').endOf('month').format('YYYY-MM-DD')); break;
        case 'lastYear': techDataHandling();break;
      }
    });
  }
  function queryMarketFB(curr,start,end){
    FB.api('/545608568812565/insights/page_posts_impressions_unique,page_posts_impressions_organic_unique,page_posts_impressions_paid_unique/day','GET',
      {
        "since": start,
        "until": end,
        "access_token": fb_access_token,
      }, function(r) {
        r.data.map((v)=>(fb_market_data[curr][v.name] = v.values.reduce((p,c)=>p+c.value,0),curr == 'thisMonth' ? fb_market_data.keys.push(v.name) : true))
        FB.api('/545608568812565/posts?fields=id&limit=100','GET',
          {
            "since": start,
            "until": end,
            "access_token": fb_access_token,
          }, function(response) {
            fb_market_data['ok'].push(curr);
            if(response && !response.error){
              fb_market_data[curr]['post_ids'] = [];
              fb_market_data[curr]['posts'] = [];
              fb_market_data[curr]['post_engagement'] = 0;
              fb_market_data[curr]['post_count'] = response.data.reduce((p,c)=>p + 1, 0)
              fb_market_data[curr]['post_count_paid'] = fb_market_data[curr]['post_count'];
              response.data.map((v)=>fb_market_data[curr]['post_ids'].push(v.id));
              fb_market_data[curr]['post_ids'].map((v)=>FB.api(v+"/insights/post_clicks_by_type",'GET',{"access_token": fb_access_token,},function(res){
                fb_market_data[curr]['posts'][v] = res.data[0].values[0].value;
                if(typeof res.data[0].values[0].value['link clicks'] !== 'undefined')
                  fb_market_data[curr]['post_engagement'] += parseInt(res.data[0].values[0].value['link clicks']);
              }))
              switch(curr){
                case 'thisMonth': setTimeout(function(){queryMarketFB('lastMonth',moment().subtract(1, 'months').startOf('month').format('YYYY-MM-DD'),moment().startOf('month').format('YYYY-MM-DD'))},500); break;
                case 'lastMonth': setTimeout(function(){queryMarketFB('lastYear',moment().subtract(1, 'years').startOf('month').format('YYYY-MM-DD'),moment().subtract(1, 'years').endOf('month').add(1,'days').format('YYYY-MM-DD'))},500); break;
                case 'lastYear': timeE = setInterval(function(){marketDataHandlingFB()},1000);break;
              }
            } else {
              alert('Something Went Wrong Retrieving posts data of ' + curr);
            }
          }
        );
      });
  }
  function queryMarketFB2(curr,start,end){
    if (no_fb_error) {
      FB.api('/545608568812565/posts?fields=id&limit=100','GET',
        {
          "since": start,
          "until": end,
          "access_token": fb_access_token,
        }, function(response) {
          fb_market_data['ok'].push(curr);
          if(response && !response.error){
            fb_market_data[curr]['post_ids'] = [];
            fb_market_data[curr]['posts'] = [];
            fb_market_data[curr]['post_engagement'] = 0;
            fb_market_data[curr]['post_count_paid'] = 0;
            fb_market_data[curr]['posts_impressions_unique'] = 0;
            fb_market_data[curr]['posts_impressions_organic_unique'] = 0;
            fb_market_data[curr]['posts_impressions_paid_unique'] = 0;
            fb_market_data[curr]['post_count'] = response.data.reduce((p,c)=>p + 1, 0)
            response.data.map((v)=>fb_market_data[curr]['post_ids'].push(v.id));
            fb_market_data[curr]['post_ids'].map((v,i)=>no_fb_error ? FB.api(v+"/insights/?metric=post_clicks_by_type,post_impressions_paid_unique,post_impressions_organic_unique,post_impressions_unique",'GET',{"access_token": fb_access_token,},function(res){
              if (res.error) {
                no_fb_error = false;
              } else {
                fb_market_data.keys.push('posts_impressions_unique','posts_impressions_organic_unique','posts_impressions_paid_unique');
                fb_market_data[curr]['posts'][v] = res.data[0].values[0].value;
                if(typeof res.data[0].values[0].value['link clicks'] !== 'undefined')
                  fb_market_data[curr]['post_engagement'] += parseInt(res.data[0].values[0].value['link clicks']);
                if(typeof res.data[1].values[0].value !== 'undefined' && res.data[1].values[0].value > 0){
                  fb_market_data[curr]['post_count_paid']++;
                  fb_market_data[curr]['posts_impressions_paid_unique'] += parseInt(res.data[1].values[0].value);
                }
                if(typeof res.data[2].values[0].value !== 'undefined'){
                  fb_market_data[curr]['posts_impressions_organic_unique'] += parseInt(res.data[2].values[0].value);
                }
                if(typeof res.data[3].values[0].value !== 'undefined'){
                  fb_market_data[curr]['posts_impressions_unique'] += parseInt(res.data[3].values[0].value);
                }
              }
            }):true)
            switch(curr){
              case 'thisMonth': setTimeout(function(){queryMarketFB2('lastMonth',moment().subtract(1, 'months').startOf('month').format('YYYY-MM-DD'),moment().startOf('month').format('YYYY-MM-DD'))},500); break;
              case 'lastMonth': setTimeout(function(){queryMarketFB2('lastYear',moment().subtract(1, 'years').startOf('month').format('YYYY-MM-DD'),moment().subtract(1, 'years').endOf('month').add(1,'days').format('YYYY-MM-DD'))},500); break;
              case 'lastYear': timeE = setInterval(function(){marketDataHandlingFB()},1000);break;
            }
          } else {
            no_fb_error = false;
            if (response.error.code == 190) {
              $('.login_remind_fb').html('Facebook session expired');
              alert('Facebook 工作階段已過期，請至商店設置更新權杖');
            } else {
              alert(response.error.message);
            }
          }
        }
      );
    }
  }
  function queryBestClickFB(curr){
    FB.api(fb_market_data[curr]['best_click'] + '/?fields=type,permalink_url,message','GET',
      {
        "access_token": fb_access_token,
      }, function(r) {
        $('#page tr:nth-child(2) td:nth-child('+ (curr == "thisMonth" ? 2 : curr == "lastMonth" ? 3 : 4) +') a').click(function(){
          $div = $("<div class='embed-responsive'></div>");
          $popup = modal.create('最高點擊', $('<p><span style="float:left"><b>Type:</b> ' + r.type + '</span><span style="float:right"><b>Clicks:</b> ' + fb_market_data[curr]['posts'][fb_market_data[curr]["best_click"]]["link clicks"] + '</span></p><div style="clear:both"><hr><iframe src="https://www.facebook.com/plugins/post.php?width=auto&height=500&show_text=false&appId=2026095777606738&href=' + encodeURIComponent(r.permalink_url) + '" style="width:100%;height:600px" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>'), false, 'md');
          modal.show($popup);
        });
        curr == 'thisMonth'
          ? queryBestClickFB('lastMonth')
          : curr == 'lastMonth'
            ? queryBestClickFB('lastYear')
            : true;
      }
    );
  }
  function marketDataHandlingExtGA(curr,k){
    var t = "";
    if(ga_market_data_temp['conversions'][curr][k]){
      if(ga_market_data_temp['conversions'][curr][k][0] == 0 && ga_market_data_temp['conversions'][curr][k][1] > 0){
        t = "<b>僅有支出</b><br>' style='color:red;";
      }else if(ga_market_data_temp['conversions'][curr][k][0] > 0){
        t = "<b>轉換數: " + ga_market_data_temp['conversions'][curr][k][0] + "</b><br>' style='";
      }
    }
    return t;
  }
  function marketDataHandlingGA(){
    var chartData = [
      {datasets: [{data: [], backgroundColor: pieColorPick}], labels: ga_market_data['channels']['keys']},
      {datasets: [{data: [], backgroundColor: pieColorPick}], labels: ga_market_data['channels']['keys']},
      {datasets: [{data: [], backgroundColor: pieColorPick}], labels: ga_market_data['channels']['keys']}
    ];
    var table = '<tr><th rowspan="2"></th>' + ga_market_data.channels.metrics.reduce((p,c)=>p + '<th colspan="3">' + c + '</th>','') + '</tr><tr>' + '<th tips="截至昨日之流量 ÷ 日數">本月</th><th>上月</th><th>上年同月</th>'.repeat(ga_market_data.channels.metrics.length) + '</tr>';
    for(var k in ga_market_data['channels']['thisMonth']){
      table += '<tr><th>' + k.replace("_", " ") + '</th>' + ga_market_data.channels.metrics.reduce((p,c,i)=>p + '<td id="' + k + '_thisMonth_' + i + '"></td><td id="' + k + '_lastMonth_' + i + '"></td><td id="' + k + '_lastYear_' + i + '"></td>','') + '</tr>'
    }
    $(table).appendTo('#channel_traffics')
    for(var k in ga_market_data['channels']['thisMonth']){
      ga_market_data['channels']['thisMonth'][k].map(function(v,i){
        if(typeof v === 'number'){
          if(i < 4){
            var avg = [
              i < 2 ? Math.round(ga_market_data['channels']['thisMonth'][k][i] / parseInt(moment().subtract(1, 'days').format("DD"))) : ga_market_data['channels']['thisMonth'][k][i],
              i < 2 ? Math.round(ga_market_data['channels']['lastMonth'][k][i] / moment().subtract(1, 'months').daysInMonth()) : ga_market_data['channels']['lastMonth'][k][i],
              i < 2 ? Math.round(ga_market_data['channels']['lastYear'][k][i] / moment().subtract(1, 'years').daysInMonth()) : ga_market_data['channels']['lastYear'][k][i]
            ];
            $('#' + k + '_thisMonth_' + i).html(avg[0] + (i == 3 ? "%" : ""));
            $('#' + k + '_lastMonth_' + i).html(avg[1] + (i == 3 ? "%" : "") + " " + (avg[0] > avg[1] ? "<span style='color:green'>\u25B2</span>" : avg[0] < avg[1] ? "<span style='color:red'>\u25BC</span>" : "<b> --</b>"));
            $('#' + k + '_lastYear_' + i).html(avg[2] + (i == 3 ? "%" : "") + " " + (avg[0] > avg[2] ? "<span style='color:green'>\u25B2</span>" : avg[0] < avg[2] ? "<span style='color:red'>\u25BC</span>" : "<b> --</b>"));
            //$("<tr><th>" + k.replace("_", " ") + "</th><td>" + avg[0] + (i == 3 ? "%" : "") + "</td><td><span tips='上月之數據' class='tipsSpan'>" + avg[1] + (i == 3 ? "%" : "") + " " + (avg[0] > avg[1] ? "<span style='color:green'>\u25B2</span>" : avg[0] < avg[1] ? "<span style='color:red'>\u25BC</span>" : "<b> --</b>") + "</td><td><span tips='上年之數據' class='tipsSpan'>" + avg[2] + (i == 3 ? "%" : "") + " " + (avg[0] > avg[2] ? "<span style='color:green'>\u25B2</span>" : avg[0] < avg[2] ? "<span style='color:red'>\u25BC</span>" : "<b> --</b>") + "</span></td></tr>").appendTo('#channel_traffics');
            if(i == 0){
              chartData[0].datasets[0].data.push(ga_market_data['channels']['thisMonth'][k][i]);
              chartData[1].datasets[0].data.push(ga_market_data['channels']['lastMonth'][k][i]);
              chartData[2].datasets[0].data.push(ga_market_data['channels']['lastYear'][k][i]);
            }
          } else {
            var num = [
              ga_market_data['channels']['thisMonth'][k][i],
              ga_market_data['channels']['lastMonth'][k][i],
              ga_market_data['channels']['lastYear'][k][i]
            ];
            $("<tr><th>" + k.replace("_", " ") + "</th><td tips='" + marketDataHandlingExtGA('thisMonth',k) + "'>" + num[0] + "</td><td><span tips='" + marketDataHandlingExtGA('lastMonth',k) + "'> " + num[1] + " " + (num[0] > num[1] ? "<span style='color:red'>\u25B2</span>" : num[0] < num[1] ? "<span style='color:green'>\u25BC</span>" : "<b> --</b>") + "</td><td><span tips='" + marketDataHandlingExtGA('lastYear',k) + "'> " + num[2] + " " + (num[0] > num[2] ? "<span style='color:red'>\u25B2</span>" : num[0] < num[2] ? "<span style='color:green'>\u25BC</span>" : "<b> --</b>") + "</span></td></tr>").appendTo('#channel_conversions');
          }
        }
      });
    }
    new Chart(document.getElementById('this-month-container').getContext('2d'),{type: 'pieLabels', data: chartData[0]});
    new Chart(document.getElementById('last-month-container').getContext('2d'),{type: 'pieLabels', data: chartData[1]});
    new Chart(document.getElementById('last-year-container').getContext('2d'),{type: 'pieLabels', data: chartData[2]});
    $('.ga_market_res').show();
    $("#market_remind").hide();
  }
  function checkUndefined(obj){
    return typeof obj !== "undefined";
  }
  function marketDataHandlingGA2(){
    for(var k in ga_market_data['pageviews']['thisMonth']){
      if(k == 'promotions'){
        var data = [
          ga_market_data['pageviews']['thisMonth'][k].map((v,i)=>i != 2 ? Math.round(v / parseInt(moment().subtract(1, 'days').format("DD"))) : parseFloat((v / parseInt(moment().subtract(1, 'days').format("DD"))).toFixed(2))),
          ga_market_data['pageviews']['lastMonth'][k].map((v,i)=>i != 2 ? Math.round(v / moment().subtract(1, 'months').daysInMonth()) : parseFloat((v / moment().subtract(1, 'months').daysInMonth()).toFixed(2))),
          ga_market_data['pageviews']['lastYear'][k].map((v,i)=>i != 2 ? Math.round(v / moment().subtract(1, 'years').daysInMonth()) : parseFloat((v / moment().subtract(1, 'years').daysInMonth()).toFixed(2))),
        ];
        ga_market_data['pageviews']['keys'].map((v,i)=>(
          $("<tr><th tips='" + ga_market_data['pageviews']['tips'][v] + "'>" + v + "</th><td>" + (i == 2 ? "$" : "") + data[0][i] + "</td><td>" + (i == 2 ? "$" : "") + data[1][i] + " " + (data[0][i] > data[1][i] ? "<span style='color:green'>\u25B2</span>" : data[0][i] < data[1][i] ? "<span style='color:red'>\u25BC</span>" : "<b> --</b>") + "</td><td>" + (i == 2 ? "$" : "") + data[2][i] + " " + (data[0][i] > data[2][i] ? "<span style='color:green'>\u25B2</span>" : data[0][i] < data[2][i] ? "<span style='color:red'>\u25BC</span>" : "<b> --</b>") + "</td></tr>").appendTo('#promotions_pageviews'))
        )
        $('#market_remind_promo_ga').hide();
        $('#promotions_pageviews tr:nth-child(2),#promotions_pageviews tr:nth-child(3)').hide();
        $('#promotions_pageviews').show();
      }else if(k == 'refer'){
        var web = [];
        for(var r in ga_market_data['pageviews']['thisMonth'][k]){
          web.push(r)
        }
        $('<tr><th rowspan="2"></th><th colspan="3">' + web.join('</th><th colspan="3">') + '</th></tr><tr>' + '<th tips="截至昨日之數據" style="font-weight: normal">本月</th><th style="font-weight: normal">上月</th><th style="font-weight: normal">上年同月</th>'.repeat(web.length - 1) + '<th tips="截至昨日之數據" style="font-weight: normal">本月</th><th style="font-weight: normal">上月</th><th style="font-weight: normal">上年同月</th></tr>').appendTo('#refers_pageviews');
        ga_market_data['pageviews']['keys'].map((v,i)=>
          $("<tr><th tips='" + ga_market_data['pageviews']['tips'][v] + "'>" + v + "</th>" + web.reduce((p,c,ii)=>p + "<td id='" + v.split(" ").join("_") + "_" + c + "_thisMonth'><td id='" + v.split(" ").join("_") + "_" + c + "_lastMonth'><td id='" + v.split(" ").join("_") + "_" + c + "_lastYear'>","")).appendTo('#refers_pageviews')
        );
        //$('#refers_pageviews tr:nth-child(n+2) td:nth-child(4), #refers_pageviews tr:nth-child(n+2) th:nth-child(4), #refers_pageviews tr:nth-child(n+2) td:nth-child(7), #refers_pageviews tr:nth-child(n+2) th:nth-child(7), #refers_pageviews tr:first th:nth-child(2), #refers_pageviews tr:first th:nth-child(3)').css('border-right','1px solid grey')
        web.map(function (val){
          var data = [
            checkUndefined(ga_market_data['pageviews']['thisMonth'][k][val]) ? ga_market_data['pageviews']['thisMonth'][k][val].map((v,i)=>i != 2 ? Math.round(v / parseInt(moment().subtract(1, 'days').format("DD"))) : parseFloat((v / parseInt(moment().subtract(1, 'days').format("DD"))).toFixed(2))) : [0,0,0,0],
            checkUndefined(ga_market_data['pageviews']['lastMonth'][k][val]) ? ga_market_data['pageviews']['lastMonth'][k][val].map((v,i)=>i != 2 ? Math.round(v / moment().subtract(1, 'months').daysInMonth()) : parseFloat((v / moment().subtract(1, 'months').daysInMonth()).toFixed(2))) : [0,0,0,0],
            checkUndefined(ga_market_data['pageviews']['lastYear'][k][val]) ? ga_market_data['pageviews']['lastYear'][k][val].map((v,i)=>i != 2 ? Math.round(v / moment().subtract(1, 'years').daysInMonth()) : parseFloat((v / moment().subtract(1, 'years').daysInMonth()).toFixed(2))) : [0,0,0,0]
          ];
          ga_market_data['pageviews']['keys'].map(function(v,i){
            //$("<tr><th tips='" + ga_market_data['pageviews']['tips'][v] + "'>" + v + "</th><td>" + (i == 2 ? "$" : "") + data[0][i] + "</td><td><span tips='上月之數據' class='tipsSpan'>" + (i == 2 ? "$" : "") + data[1][i] + " " + (data[0][i] > data[1][i] ? "<span style='color:green'>\u25B2</span>" : data[0][i] < data[1][i] ? "<span style='color:red'>\u25BC</span>" : "<b> --</b>") + "</td><td><span tips='上年之數據' class='tipsSpan'>" + (i == 2 ? "$" : "") + data[2][i] + " " + (data[0][i] > data[2][i] ? "<span style='color:green'>\u25B2</span>" : data[0][i] < data[2][i] ? "<span style='color:red'>\u25BC</span>" : "<b> --</b>") + "</span></td></tr>").appendTo('#refers_pageviews')
            $('#' + v.split(" ").join("_") + '_' + val + '_thisMonth').html((i == 2 ? "$" : "") + data[0][i]);
            $('#' + v.split(" ").join("_") + '_' + val + '_lastMonth').html((i == 2 ? "$" : "") + data[1][i] + " " + (data[0][i] > data[1][i] ? "<span style='color:green'>\u25B2</span>" : data[0][i] < data[1][i] ? "<span style='color:red'>\u25BC</span>" : "<b> --</b>"));
            $('#' + v.split(" ").join("_") + '_' + val + '_lastYear').html((i == 2 ? "$" : "") + data[2][i] + " " + (data[0][i] > data[2][i] ? "<span style='color:green'>\u25B2</span>" : data[0][i] < data[2][i] ? "<span style='color:red'>\u25BC</span>" : "<b> --</b>"));
          });
          $('#market_remind_refer_ga').hide();
          $('#refers_pageviews tr:nth-child(3),#refers_pageviews tr:nth-child(4)').hide();
          $('#refers_pageviews').show();
        })
      }
    }
  }
  function techDataHandling(){
    for(var k in ga_tech_data['thisMonth']){
      if(typeof ga_tech_data['thisMonth'][k] === 'number'){
        $("<tr><th>" + k.split("_").join(" ") + "</th><td>" + ga_tech_data['thisMonth'][k] + "</td><td>" + ga_tech_data['lastMonth'][k] + " " + (ga_tech_data['thisMonth'][k] > ga_tech_data['lastMonth'][k] ? "<span style='color:red'>\u25B2</span>" : ga_tech_data['thisMonth'][k] < ga_tech_data['lastMonth'][k] ? "<span style='color:green'>\u25BC</span>" : "<b> --</b>") + "</td><td>" + ga_tech_data['lastYear'][k] + " " + (ga_tech_data['thisMonth'][k] > ga_tech_data['lastYear'][k] ? "<span style='color:red'>\u25B2</span>" : ga_tech_data['thisMonth'][k] < ga_tech_data['lastYear'][k] ? "<span style='color:green'>\u25BC</span>" : "<b> --</b>") + "</td></tr>").appendTo('#view');
      }
    }
    $('.ga_tech_res').show();
    $("#tech_remind_ga").hide();
  }
  function marketDataHandlingFB(){
    if(fb_market_data['ok'].length == 3){
      clearInterval(timeE);
      for(var k in fb_market_data){
        if(k != "keys"){
          var best = "", count = 0;
          for(var id in fb_market_data[k].posts){
            if(fb_market_data[k].posts[id]['link clicks']){
              if(fb_market_data[k].posts[id]['link clicks'] > count){
                count = fb_market_data[k].posts[id]['link clicks'];
                best = id;
              }
            }
          }
          fb_market_data[k]['best_click'] = best;
        }
      }    
      var avgVal = {};
      fb_market_data.keys.map((v)=>avgVal[v] = /paid/g.test(v) 
        ? [
          fb_market_data['thisMonth']['post_count_paid'] > 0 ? Math.round(fb_market_data['thisMonth'][v] / fb_market_data['thisMonth']['post_count_paid']) : 0,
          fb_market_data['lastMonth']['post_count_paid'] > 0 ? Math.round(fb_market_data['lastMonth'][v] / fb_market_data['lastMonth']['post_count_paid']) : 0,
          fb_market_data['lastYear']['post_count_paid'] > 0 ? Math.round(fb_market_data['lastYear'][v] / fb_market_data['lastYear']['post_count_paid']) : 0
        ]
        : [
          fb_market_data['thisMonth']['post_count'] > 0 ? Math.round(fb_market_data['thisMonth'][v] / fb_market_data['thisMonth']['post_count']) : 0,
          fb_market_data['lastMonth']['post_count'] > 0 ? Math.round(fb_market_data['lastMonth'][v] / fb_market_data['lastMonth']['post_count']) : 0,
          fb_market_data['lastYear']['post_count'] > 0 ? Math.round(fb_market_data['lastYear'][v] / fb_market_data['lastYear']['post_count']) : 0
        ]
      );
      for(var k in avgVal){
        $("<tr><th tips='" + (fb_market_data.tips[k] || "") + "'>Avg. " + k.split('_').map((v,i,l)=>l[i]=l[i]=="unique"?"":v.charAt(0).toUpperCase() + v.slice(1)).join(" ") + "</th><td>" + (k == 'post_engagement' ? "<a style='cursor: pointer;' title='前往帖文'>" : "") + avgVal[k][0] + (k == 'post_engagement' ? "</a>" : "") + "</td><td>" + (k == 'post_engagement' ? "<a style='cursor: pointer;' title='前往帖文'>" : "") + avgVal[k][1] + (k == 'post_engagement' ? "</a>" : "") + " " + (avgVal[k][0] > avgVal[k][1] ? "<span style='color:green'>\u25B2</span>" : avgVal[k][0] < avgVal[k][1] ? "<span style='color:red'>\u25BC</span>" : "<b> --</b>") + "</td><td>" + (k == 'post_engagement' ? "<a style='cursor: pointer;' title='前往帖文'>" : "") + avgVal[k][2] + (k == 'post_engagement' ? "</a>" : "") + " " + (avgVal[k][0] > avgVal[k][2] ? "<span style='color:green'>\u25B2</span>" : avgVal[k][0] < avgVal[k][2] ? "<span style='color:red'>\u25BC</span>" : "<b> --</b>") + "</td></tr>").appendTo('#page');
      }
      $('#page tr:first th:nth-child(2)').attr('tips',"<div style='text-align:center'>Total Post / Paid Post<br>" + fb_market_data['thisMonth']['post_count'] + " / " + fb_market_data['thisMonth']['post_count_paid'] + "<br>"+$('#page tr:first th:nth-child(2)').attr('tips') + "</div>");
      $('#page tr:first th:nth-child(3)').attr('tips',"<div style='text-align:center'>Total Post / Paid Post<br>" + fb_market_data['lastMonth']['post_count'] + " / " + fb_market_data['lastMonth']['post_count_paid'] + "</div>");
      $('#page tr:first th:nth-child(4)').attr('tips',"<div style='text-align:center'>Total Post / Paid Post<br>" + fb_market_data['lastYear']['post_count'] + " / " + fb_market_data['lastYear']['post_count_paid'] + "</div>");
      queryBestClickFB('thisMonth');
      $('.fb_market_res').show();
      $("#market_remind_fb").hide();
    }
  }
  function query(params) {
    return new Promise(function(resolve, reject) {
      var data = new gapi.analytics.report.Data({query: params});
      data.once('success', function(response) { resolve(response); })
          .once('error', function(response) { reject(response); })
          .execute();
    });
  }
});

$(document).on('mouseenter','td,b,span,th',function(e){
  if($('.tips:not(:hover)').length > 0) {
    $('.tips').remove();
  }
  if($(this).attr('tips')){
    $(this).append( "<div class='tips' style='position:absolute;background:#fff;border:1px solid grey;padding:1em;'>"+$(this).attr('tips')+"</div>" );
  }
}).on('mouseleave','td,b,span,th',function(e){
  var $elem = $(this);
  setTimeout(function(){
    if($('.tips:hover').length == 0) {
      $elem.find('div').remove();
    }
  }, 500)
})
function gapi_logout(elem){
  gapi.auth2.getAuthInstance().disconnect();
  $(elem).remove();
  location.reload();
}
function checkFB(){
  if(is_fb_loaded == true){
    $('.login_remind_fb').html('Retrieving Data From Facebook ...');
    clearInterval(timeE);
  }
}
{if !$market}
function ajaxRetrieve(div){
  var div_arr = typeof div === "undefined" ? ['pos_email','refund','pre_sale_days_all','pre_sale_days_sold','delivery', 'aircall'] : div.split('-');
  div_arr.map(function(v) {
    $('#' + v).find("input").get().map((v)=>$("input[name=" + $(v).attr('name') + "]").val($(v).val()))
    var url = $('#' + v).find("input").get().reduce((p,c)=>p += "&" + $(c).attr('name') + "=" + $(c).val(), "");
    $('#' + v).load(document.location.pathname + '?act=ajax&div_id=' + v + url)
  });
}
function showRemark(elem, size){
  typeof size === 'undefined' ? size = 'lg' : size;
  $popup = modal.create("已訂產品", $($(elem).data('tips')), false, size);
  modal.show($popup)
}
$(function(){
  ajaxRetrieve();
})
{/if}
</script>