{if $form}
<form class="form-inline" action="{$form.action}">
    {$form.html}
</form>
{/if}
{if $chart}
<div class="Chartjs">
    <canvas id="chart_canvas" width='450' height='300'></canvas>
</div>
<script>
var c = document.getElementById("chart_canvas");
var data = $.parseJSON('{$chart|json_encode}');
var ctx = c.getContext("2d");
ctx.textAlign="center";
ctx.fillText("{$lang.no_records}",c.width / 2, c.height / 2);

if (data.datasets[0].data.length > 0) {
var barChart = new Chart(c, {
    data: data,
    type: 'pie',
    options: {
        title: {
            display: true,
            text: '門市註冊人數(扣除SA會員)'
        },
        pieceLabel: {
            render: 'percentage',
            fontColor: '#73879C',
            position: 'outside',
            fontSize: 14
        }
    }
});
}
</script>
{elseif $tableArr}
{foreach from=$tableArr item=table}
<div {if $table.id}id="{$table.id}"{/if}>
<h3>
    {$table.title}
    {if $table.table_remark}
    {foreach from=$table.table_remark item=tips key=show}
    <span style="color: #333;background-color: #fff;border:1px solid  #ccc;padding: 5px 10px;line-height: 1.5;border-radius: 3px;font-size: 12px;" tips="{$tips}" class="table_tips">{$show}</span>
    {/foreach}
    {/if}
    {foreach from=$table.button item=item}
    <input class="btn btn-sm btn-info" type="button" name="{$item.name}" value="{$item.text}" onclick='{if $item.func}{$item.func}{/if}' style="float:right; padding-left: 10px">
    {/foreach}
</h3>
<div>
    <table class="dataTable table jambo_table table-striped table-bordered bulk_action">
        {if $table.head}
        <thead>
            <tr>
                {foreach from=$table.head item=th}
                <th>{$th}</th>
                {/foreach}
            </tr>
        </thead>
        {/if}
        <tbody>
            {foreach from=$table.data item=item key=key}
            <tr>
                {if !$table.no_th}<th>{if $key neq '0'}{$key}{/if}</th>{/if}
                {foreach from=$item item=col}
                <td>{$col}</td>
                {/foreach}
            </tr>
            {/foreach}
            {if !$table.data}
            <tr>
                <td colspan="10">{$lang.no_records}</td>
            </tr>
            {/if}
        </tbody>
    </table>
</div>
</div>
{/foreach}
{/if}
{if $form}
<script>
init_daterangepicker();
</script>
{/if}
{if $script}
<script>
{$script}
</script>
{/if}