<!-- $Id: language_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{include file="pageheader.htm"}

<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="searchForm" action="edit_languages.php" method="post">
    語言：
    <select name="lang">
      {foreach from=$languages item=lang_name}
      <option{if $lang_name eq $language} selected="selected"{/if}>{$lang_name}</option>
      {/foreach}
    </select>
    &nbsp;&nbsp;&nbsp;
    語言包：
    <select name="lang_file">{html_options options=$lang_arr selected=$lang_file}</select>
    &nbsp;&nbsp;&nbsp;
    {$lang.enter_keywords}：<input type="text" name="keyword" size="30" />
    <input type="submit" value="{$lang.button_search}" class="btn btn-primary" /> <input type="hidden" name="act" value="list" />
  </form>
</div>
<div>
<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
  {if $file_attr}
  <li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;" >{$file_attr}</li>
  {/if}
</ul>
</div>

<form method="post" action="edit_languages.php">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table width="100%" cellspacing="1" cellpadding="2" id="list-table">
{if $language_arr}
  <tr>
    <th>{$lang.item_name}</th>
    <th>{$lang.item_value}</th>
  </tr>
 {foreach from=$language_arr item=list}
  <tr>
    <td width="30%" align="left" class="first-cell">
    {$list.item_id}<input type="hidden" name="item_id[]" value="{$list.item_id}" />
    </td>
    <td width="70%">
      <input type="text" name="item_content[]" value="{$list.item_content|escape:html}" size="60" />
    </td>
  </tr>
  <tr style="display:none">
    <td width="30%" align="left" class="first-cell">&nbsp;</td>
    <td width="70%">
      <input type="hidden" name="item[]" value="{$list.item|escape:html}" size="60"/>
    </td>
  </tr>
  {/foreach}
  <tr>
    <td colspan="2">
      <div align="center">
        <input type="hidden" name="act" value="edit" />
        <input type="hidden" name="lang" value="{$language}" />
        <input type="hidden" name="lang_file" value="{$lang_file}" />
        <!-- #BeginComment -->
        <input type="hidden" name="file_path" value="{$file_path}" />
        <!-- #EndComment -->
        <input type="hidden" name="keyword" value="{$keyword}" />
        <input type="submit" value="{$lang.edit_button}" class="btn btn-primary" />
&nbsp;&nbsp;&nbsp;
        <input type="reset" value="{$lang.reset_button}" class="btn btn-primary" />
      </div></td>
    </tr>
  <tr>
    <td colspan="2"><strong>{$lang.notice_edit}</strong></td>
    </tr>
  {/if}

</table>
</div>
</form>

<script type="text/javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
    document.forms['searchForm'].elements['keyword'].focus();
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}