<!-- $Id: sitemap.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class=" x_panel">
<p style="padding: 0 10px">{$lang.license_notice}</p>
</div>
{if $is_download eq 1}
<div class=" x_panel">
<table width="100%">
<form method="POST" action="license.php?act=download" name="theForm">
<tr>
    <td class="label">{$lang.label_certificate_download}</td>
    <td></td>
</tr>
<tr>
    <td class="label">{$lang.label_license_key}</td>
    <td>{$certificate_id}</td>
</tr>
<tr>
    <td></td>
    <td><input type="submit" value="{$lang.download_license}" class="btn btn-primary" /></td>
</tr>
</form>
</table>
</div>
{/if}
<div class=" x_panel">
<table width="100%">
<form method="POST" action="license.php" enctype="multipart/form-data" name="theForm">
<tr>
    <td class="label">{$lang.label_certificate_reset}</td>
    <td></td>
</tr>
<tr>
    <td class="label">{$lang.label_select_license}</td>
    <td><input type="file" name="license" size="50"></td>
</tr>
<tr>
    <td></td>
    <td><input type="submit" value="{$lang.upload_license}" class="btn btn-primary" /><input type="reset" value="{$lang.button_reset}" class="btn btn-primary" /></td>
</tr>
<input type="hidden" name="act" value="upload">
</form>
</table>
</div>

<div class=" x_panel">
<table width="100%">
<form method="POST" action="license.php?act=del" name="theForm" onsubmit="return del_check();">
<tr>
    <td class="label">{$lang.label_delete_license}</td>
    <td></td>
</tr>
<tr>
    <td colspan="2">{$lang.delete_license_notice}</td>
</tr>
<tr>
    <td></td>
    <td><input type="submit" value="{$lang.drop}" class="btn btn-primary" /></td>
</tr>
</form>
</table>
</div>
{literal}
<script type="text/javascript" language="JavaScript">
<!--
onload = function()
{

}

function del_check()
{
  if (confirm(del_confirm))
  {
    return true;
  }
  else
  {
    return false;
  }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}