{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js,i18n.js"}
<div class=" x_panel">
<form method="post" action="" name="listForm">
<!-- start logistics list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

<table id="#" class="table table-striped table-bordered bulk_action ">
  <tr>
    <th>{$lang.logistics_name}</th>
    <th>{$lang.logistics_desc}</th>
    <th>{$lang.logistics_url}</th>
    <th>{$lang.enabled}</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$logistics_list item=list}
  <tr>
    <td class="first-cell">
        {$list.logistics_name|escape:html}
    </td>
    <td align="right">{$list.logistics_desc}</td>
    <td align="right"><a href="{$list.logistics_url}" target="_blank">{$list.logistics_name}</a></td>
    <td align="center"><img src="images/{if $list.enabled}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_enabled', '{$list.logistics_id}')" /></td>
    <td align="center">
				<a href="logistics.php?act=edit&id={$list.logistics_id}">{$lang.erp_operation_edit}</a>
    </td>
  </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="5">{$lang.no_logistics}</td></tr>
  {/foreach}

</table>

{if $full_page}
</div>
<!-- end logistics list -->
</form>
</div>
<script type="text/javascript" language="JavaScript">

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}
  onload = function()
  {
    startCheckOrder();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
