<!-- $Id: payment_edit.htm 14401 2008-04-15 02:41:32Z zhuwenyuan $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,validator.js,i18n.js"}

<form action="logistics.php?act=submit_logistics" method="post"  enctype="multipart/form-data"  >
<div class=" x_panel">
<table class="table table-striped jambo_table" cellspacing="1" cellpadding="3" width="100%" id="extrainfo-table">
  <tr>
    <td>物流名稱</td>
    <td><input name="logistics_name" type="text" class="form-control" value="{$logistics.logistics_name|escape}" size="40" /></td>
  </tr>
  <tr>
    <td>物流Code</td>
    <td><input name="logistics_code" type="text" class="form-control" value="{$logistics.logistics_code|escape}" size="20" />
        TrackingMore API物流參考:
        <select name="trackingmorelist" onchange="get_trackingmore_carrier(this);">
          <option value="-1">{$lang.select_please}</option>
          {foreach from=$carrierList.data item=carrier key=c_key}
          <option value="{$c_key}">{$carrier.name}</option>
          {/foreach}
        </select>
        <br><span style="color:#777">**如果輸入remark 將不於前台顯示此物流出貨狀態</span>
    </td>
  </tr>
  <tr class="trackingmore_info" style="display:none;">
    <td>物流公司logo</td>
    <td>
      <img class="trakcingmore_picture" src="" />
    </td>
  </tr>
  <tr class="trackingmore_info" style="display:none;">
    <td>物流公司Code</td>
    <td>
      <div class="trakcingmore_code"> </div>
    </td>
  </tr>
  <tr class="trackingmore_info" style="display:none;">
    <td>物流公司電話</td>
    <td>
      <div class="trakcingmore_phone" > </div>
    </td>
  </tr>
  <tr class="trackingmore_info" style="display:none;">
    <td>物流公司網址</td>
    <td>
      <div class="trakcingmore_homepage"> </div>
    </td>
  </tr>
  <tr class="trackingmore_info" style="display:none;">
    <td>物流公司類型</td>
    <td>
      <div class="trakcingmore_type" > </div>
    </td>
  </tr>
  <tr>
    <td>物流網址</td>
    <td><input name="logistics_url" type="text" class="form-control" value="{$logistics.logistics_url|escape}" size="40" /></td>
  </tr>
  <tr>
    <td>物流簡介</td>
    <td><textarea class="form-control" name="logistics_desc" cols="60" rows="8">{$logistics.logistics_desc|escape}</textarea></td>
  </tr>
  <tr>
    <td>物流LOGO</td>
    <td>
      輸入網址<input type="text" class="form-control" name="logistics_logo_url" size="50"/>
      <br>或<input class="form-control" style="margin: 5px;"type="file" name="logistics_logo" size="35" />
      <br />
      {if $logistics.logistics_logo}
      <img src="{$logistics.logistics_logo}" border="0" style=" padding-top: 5px;" />
      {/if}
    </td>
  </tr>
  <tr>
    <td>物流單範例</td>
    <td><input name="invoice_template"type="text" class="form-control" value="{$logistics.invoice_template}" ></input>
        <br><span style="color:#777">**系統將依據此範例的首2字及長度去檢測物流單號</span>
    </td>
  </tr>
  <tr>
    <td>{$lang.enabled}</td>
    <td><input type="checkbox" name="enabled" style="margin-left: 0px;" {if $logistics.enabled}checked="checked"{/if} value="1"></td>
  </tr>

  <tr align="center">
    <td colspan="2" id ="btn-td">
      <input type="hidden"  name="logistics_id"        value="{$logistics.logistics_id}" />
      <input type="hidden" name="action" value="{$action}" />
      <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
    </td>
  </tr>
</table>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
var getParam = new URLSearchParams(window.location.search);
var code = getParam.get('code');
var init = getParam.has('init');

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

// Multiple language support
var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};
var localizableFieldsMapping = {};
var carrier_list = {$carrierList.data|json_encode};
function get_trackingmore_carrier($this){
  var $value = $this.value;
  if($value >= 0){
    $(".trackingmore_info").show();
    var $info = carrier_list[$value];
      $(".trakcingmore_picture").attr("src",$info.picture);
      $("input[name='logistics_logo_url']").val($info.picture);
      $(".trakcingmore_code").html($info.code);
      $("input[name='logistics_code']").val($info.code);
      $(".trakcingmore_phone").html($info.phone);
      $(".trakcingmore_homepage").html($info.homepage);
      $("input[name='logistics_url']").val($info.homepage);
      $(".trakcingmore_type").html($info.type);
  } else {
    $(".trackingmore_info").hide();
  }
  console.log(carrier_list[$value]);
  
}

</script>
{include file="pagefooter.htm"}
