<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<div class=" x_panel row">
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
    物流單{$lang.start_date}&nbsp;
    <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    物流單{$lang.end_date}&nbsp;
    <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    <input type="submit" id="submit" name="submit" value="{$lang.query}" class="btn btn-success form-btn" />
    {insert name=daterange_group}
  </form>
  <div style="color: red;text-align:right">注意： 此報表由2017年12月2日開始為準</span></div>
</div>
<form method="POST" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
  <table class="table table-striped table-bordered bulk_action">
     <tr>
      <th>物流名稱</th>
      <th>成功簽收平均天數</th>
      <th>狀態: 查詢中</th>
      <th>狀態: 查詢不到</th>
      <th>狀態: 運輸途中</th>
      <th>狀態: 到達待取</th>
      <th>狀態: 成功簽收</th>
      <th>狀態: 投遞失敗</th>
      <th>狀態: 可能異常</th>
      <th>狀態: 運輸過久</th>
    </tr>
  {foreach from=$data item=list name=foo}
    <tr align="center">
      <td align="left">{$list.logistics_name}</td>
      <td align="right">{$list.delivered.avg_days} 天</td>
      <td align="right"><a href="order.php?act=delivery_list&t_status=pending&l_id={$list.logistics_id}&country={$list.country_id}">{$list.pending.count}</a></td>
      <td align="right"><a href="order.php?act=delivery_list&t_status=notfound&l_id={$list.logistics_id}&country={$list.country_id}">{$list.notfound.count}</a></td>
      <td align="right"><a href="order.php?act=delivery_list&t_status=transit&l_id={$list.logistics_id}&country={$list.country_id}">{$list.transit.count}</a></td>
      <td align="right"><a href="order.php?act=delivery_list&t_status=pickup&l_id={$list.logistics_id}&country={$list.country_id}">{$list.pickup.count}</a></td>
      <td align="right"><a href="order.php?act=delivery_list&t_status=delivered&l_id={$list.logistics_id}&country={$list.country_id}">{$list.delivered.count}</a></td>
      <td align="right"><a href="order.php?act=delivery_list&t_status=undelivered&l_id={$list.logistics_id}&country={$list.country_id}">{$list.undelivered.count}</a></td>
      <td align="right"><a href="order.php?act=delivery_list&t_status=exception&l_id={$list.logistics_id}&country={$list.country_id}">{$list.exception.count}</a></td>
      <td align="right"><a href="order.php?act=delivery_list&t_status=expired&l_id={$list.logistics_id}&country={$list.country_id}">{$list.expired.count}</a></td>
    </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
{if $full_page}
</div>
</form>
</div>
<script type="Text/Javascript" language="JavaScript">

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

function getList()
{

    var frm =  document.forms['TimeInterval'];
    listTable.filter['start_date'] = frm.elements['start_date'].value;
    listTable.filter['end_date'] = frm.elements['end_date'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}
