{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
<style>
.calendar {
  z-index: 5000;
}

#success_message {
  color :green;
}

#error_message {
  color :red;
}

.highline {
  color:red;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #34495e;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}
</style>

<div class=" x_panel">
<div class="x_title">
    <h2>修改抽獎活動</h2>
    <div class="clearfix"></div>
</div>
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 活動名稱: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" name="event_name" type="text" id="event_name" size="15" value='{$lucky_draw_event_info.event_name}' /> 
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 開始時間: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" data-type="date" name="start_date" type="text" id="start_date" size="15" value='{$lucky_draw_event_info.start_date}' /> 
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 結束時間: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" data-type="date" name="end_date" type="text" id="end_date" size="15" value='{$lucky_draw_event_info.end_date}' /> 
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 購買金額: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
         <input class="form-control" name="purchase_amount" type="text" id="purchase_amount" size="15" value='{$lucky_draw_event_info.purchase_amount}' /> 
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 抽獎牌編號: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea name="lucky_draw_license" id="lucky_draw_license" class="form-control ">{$lucky_draw_event_info.lucky_draw_license}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 抽獎推廣URL: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input name="share_link_1" id="share_link_1" class="form-control " value='{$lucky_draw_event_info.share_link_1}' />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 友褔同享介紹URL: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input name="share_link_2" id="share_link_2" class="form-control " value='{$lucky_draw_event_info.share_link_2}'  />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 免費禮物 Coupon: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input name="coupon_code" id="coupon_code" class="form-control " value='{$lucky_draw_event_info.coupon_code}'  />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 是否暫停抽獎?: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
           <div class="radio">
               <label class="" style="padding-left:0">
               <input type="radio" {if $lucky_draw_event_info.hold_draw_status == 1} checked {/if} class="flat" value="true" id="hold_draw_status" name="hold_draw_status" style="position: absolute; opacity: 0;"> 是
               </label>
               <label class="">
               <input type="radio" {if $lucky_draw_event_info.hold_draw_status == 0} checked {/if} class="flat" value="false" id="hold_draw_status" name="hold_draw_status" style="position: absolute; opacity: 0;"> 否
               </label>
           </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 狀態: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
           <div class="radio">
               <label class="" style="padding-left:0">
               <input type="radio" {if $lucky_draw_event_info.status == 1} checked {/if} class="flat" value="true" id="status" name="status" style="position: absolute; opacity: 0;"> Enabled
               </label>
               <label class="">
               <input type="radio" {if $lucky_draw_event_info.status == 0} checked {/if} class="flat" value="false" id="status" name="status" style="position: absolute; opacity: 0;"> Disabled
               </label>
           </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 顯示在導航選單: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
           <div class="radio">
               <label class="" style="padding-left:0">
               <input type="radio" {if $lucky_draw_event_info.show_on_menu == 1} checked {/if} class="flat" value="true" id="show_on_menu" name="show_on_menu" style="position: absolute; opacity: 0;"> 是
               </label>
               <label class="">
               <input type="radio" {if $lucky_draw_event_info.show_on_menu == 0} checked {/if} class="flat" value="false" id="show_on_menu" name="show_on_menu" style="position: absolute; opacity: 0;"> 否
               </label>
           </div>
        </div>
    </div>
    <div class="form-group">
        <div class="ln_solid"></div>
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="hidden" id="gift_id" value="{$gift_id}" />
            <input class=" btn btn-success save_submit" type="button" value="儲存"/>
            <span id="error_msg" class="red"></span>
        </div>
    </div>
</form>
</div>

<div class=" x_panel">
<div class="x_title">
    <h2>VIP抽獎</h2>
    <div class="clearfix"></div>
</div>
<form id="demo-vip-ticket" data-parsley-validate="" class="form-horizontal form-label-left" >
    <div class="form-group"  style="display:none" >
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 每個VIP只給一次
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class=" btn btn-success add_ticket_vip_submit"type="button" value="給所有VIP一個抽獎機會"/>
            <span id="success_msg_vip" class="green"></span><span id="error_msg_vip" class="red"></span>
        </div>
    </div>
    <div class="form-group"   >
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 給指定顧客抽獎機會: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" name="user_id" placeholder="會員電話號碼 +852-xxxxxxxx" type="text" id="user_id" size="15" value='+852-' style="display:inline-block;width:70%" /> 
            <input class=" btn btn-success add_ticket_user_submit" type="button" value="確定" style="display:inline-block" />
            <div><a target="_blank" href="users.php?act=list">會員列表</a></div><div id="success_msg_user" class="green"></div><div id="error_msg_user" class="red"></div>
        </div>
    </div>
</form>
</div>


<div class="col-md-12 col-sm-12 col-xs-12">
<div class="x_panel">
  <div class="x_content" style="display: block;">
    <div class="" role="tabpanel" data-example-id="togglable-tabs">
      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">抽獎簡介版面</a>
        </li>
        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">抽獎遊戲版面</a>
        </li>
        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">抽獎完成版面</a>
        </li>
        <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">T&C</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
              <form id="intro-form" action="lucky_draw_edit.php" method="post" name="intro-form" enctype="multipart/form-data" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                <label class="col-md-12 col-sm-12 col-xs-12">電腦版：</label>
                <div class="col-md-12 col-sm-12 col-xs-12"><textarea name="lucky_draw_intro" id="lucky_draw_intro" class="form-control tinymce">{$lucky_draw_event_info.intro|escape}</textarea></div>
              </div>
              <div class="form-group">
                <label class="col-md-12 col-sm-12 col-xs-12">手機版： (如果留空，手機上會顯示電腦版本)</label>
                <div class="col-md-12 col-sm-12 col-xs-12"><textarea name="lucky_draw_intro_mobile" id="lucky_draw_intro_mobile" class="form-control tinymce">{$lucky_draw_event_info.intro_mobile|escape}</textarea></div>
              </div>
                  <div class="form-group">
                      <div class="ln_solid"></div>
                  
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="hidden" name="lucky_draw_id" value="{$lucky_draw_id}" />
                          <input type="hidden" name="act" value="post_save_lucky_draw_intro_submit" />
                          <input class=" btn btn-success intro_submit" type="submit" value="儲存"/>
                          <span id="error_msg" class="red"></span>
                      </div>
                  </div>
              </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
              <form id="intro-form" action="lucky_draw_edit.php" method="post" name="intro-form" enctype="multipart/form-data" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                  <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">背景圖(750 x 1115 px):</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="file" class="form-control" id="luckydraw_background_image" name="luckydraw_background_image" size="35">
                      <div><img width="50px" src="../{$lucky_draw_event_info.game_image}"></div>
                    </div>
                  </div>
              
                  <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">背景圖手機(610 x 1115 px):</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="file" class="form-control" id="luckydraw_background_image_mobile" name="luckydraw_background_image_mobile" size="35">
                      <div><img width="50px" src="../{$lucky_draw_event_info.game_image_mobile}"></div>
                    </div>
                  </div>

                  <div class="form-group">
                      <div class="ln_solid"></div>
                      <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <input class=" btn btn-success save_lucky_draw_image_submit" type="button" value="儲存">
                          <span id="error_msg" class="red"></span>
                      </div>
                  </div>
              </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
              <form id="intro-form" action="lucky_draw_edit.php" method="post" name="finished-form" enctype="multipart/form-data" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                <label class="col-md-12 col-sm-12 col-xs-12">電腦版：</label>
                <div class="col-md-12 col-sm-12 col-xs-12"><textarea name="lucky_draw_finished" id="lucky_draw_finished" class="form-control tinymce">{$lucky_draw_event_info.finished|escape}</textarea></div>
              </div>
              <div class="form-group">
                <label class="col-md-12 col-sm-12 col-xs-12">手機版： (如果留空，手機上會顯示電腦版本)</label>
                <div class="col-md-12 col-sm-12 col-xs-12"><textarea name="lucky_draw_finished_mobile" id="lucky_draw_finished_mobile" class="form-control tinymce">{$lucky_draw_event_info.finished_mobile|escape}</textarea></div>
              </div>
                  <div class="form-group">
                      <div class="ln_solid"></div>
                  
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="hidden" name="lucky_draw_id" value="{$lucky_draw_id}" />
                          <input type="hidden" name="act" value="post_save_lucky_draw_finished_submit" />
                          <input class=" btn btn-success finished_submit" type="submit" value="儲存"/>
                          <span id="error_msg" class="red"></span>
                      </div>
                  </div>
              </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
              <form id="intro-form" action="lucky_draw_edit.php" method="post" name="tnc-form" enctype="multipart/form-data" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                <label class="col-md-12 col-sm-12 col-xs-12">T&C：</label>
                <div class="col-md-12 col-sm-12 col-xs-12"><textarea name="lucky_draw_tnc" id="lucky_draw_tnc" class="form-control tinymce">{$lucky_draw_event_info.tnc|escape}</textarea></div>
              </div>
              
                  <div class="form-group">
                      <div class="ln_solid"></div>
                  
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="hidden" name="lucky_draw_id" value="{$lucky_draw_id}" />
                          <input type="hidden" name="act" value="post_save_lucky_draw_tnc_submit" />
                          <input class=" btn btn-success tnc_submit" type="submit" value="儲存"/>
                          <span id="error_msg" class="red"></span>
                      </div>
                  </div>
              </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- end stock check list -->
{include file="pagefooter.htm"}
<script>
var $table = yoho_dataTable();
var $popup2 = '';
var lucky_draw_id = {$lucky_draw_id};

$('.save_lucky_draw_image_submit').click(function(){
    data = new FormData();
    data.append( 'file', $('#luckydraw_background_image')[0].files[0] );
    data.append( 'file2', $('#luckydraw_background_image_mobile')[0].files[0] );
    data.append( 'lucky_draw_id', lucky_draw_id );
    data.append( 'act', 'post_save_lucky_draw_image_submit' );

    $.ajax({
      url: 'lucky_draw_edit.php',
      type: 'post',
      cache: false,
      data: data,
      dataType: 'json',
      contentType: false,
      processData: false,
      enctype: 'multipart/form-data',
      success: function (result) {
      if (result['error'] == 0){
            var url="lucky_draw_edit.php?&lucky_draw_id=" + lucky_draw_id ;
            window.location=url;
        }else{
            //alert(result.message);
            $("#error_msg").html(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});

$('.intro_submit').click(function(){
    var lucky_draw_intro = $('#lucky_draw_intro').val();
    //console.log('lucky_draw_intro',lucky_draw_intro);
    return;
});

$('.save_submit').click(function(){
    var event_name = $('#event_name').val();
    var status = ($('#status').is(':checked'))? 1:0;
    var start_date =  $('#start_date').val();
    var end_date =  $('#end_date').val();
    var purchase_amount =  $('#purchase_amount').val();
    var show_on_menu = ($('#show_on_menu').is(':checked'))? 1:0;
    var lucky_draw_license =  $('#lucky_draw_license').val();
    var hold_draw_status = ($('#hold_draw_status').is(':checked'))? 1:0;
    var share_link_1 =  $('#share_link_1').val();
    var share_link_2 =  $('#share_link_2').val();
    var coupon_code =  $('#coupon_code').val();
    // console.log('lucky_draw_license',lucky_draw_license);
    // return;

    if (event_name == ''){
        alert('請輸入活動名稱');
        return false;
    }
    
    if (start_date == ''){
        alert('請輸入開始時間');
        return false;
    }
    
    if (end_date == ''){
        alert('請輸入結束時間');
        return false;
    }

    $.ajax({
      url: 'lucky_draw_edit.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_save_lucky_draw_submit',
        'event_name': event_name,
        'status': status,
        'start_date': start_date,
        'end_date' : end_date,
        'purchase_amount' : purchase_amount,
        'show_on_menu' : show_on_menu,
        'lucky_draw_license' : lucky_draw_license,
        'share_link_1' : share_link_1,
        'share_link_2' : share_link_2,
        'lucky_draw_id': lucky_draw_id,
        'hold_draw_status': hold_draw_status,
        'coupon_code': coupon_code,
      },
      dataType: 'json',
      success: function (result) {
        if (result['error'] == 0){
            var url="lucky_draw_edit.php?&lucky_draw_id=" + lucky_draw_id ;
            window.location=url;
        }else{
            //alert(result.message);
            $("#error_msg").html(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});

$('.add_ticket_vip_submit').click(function(){
    $.ajax({
      url: 'lucky_draw_edit.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_add_ticket_for_vip_submit',
        'lucky_draw_id': lucky_draw_id
      },
      dataType: 'json',
      success: function (result) {
        if (result['error'] == 0){
            $("#success_msg_vip").html('產生了'+result.content+'個抽獎機會'); 
        }else{
            //alert(result.message);
            $("#error_msg_vip").html(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});

$('#user_id').keypress(function(e){
    if(e.keyCode == 13)
    {
        e.preventDefault();
        $('.add_ticket_user_submit').trigger( "click" );
    }
});

$('.add_ticket_user_submit').click(function(){

    var user_id = $('#user_id').val();
    if (user_id == '') {
        alert('請輸入會員電話號碼');
        return false;
    }
    
    $("#error_msg_user").html('');
    $("#success_msg_user").html('');

    $.ajax({
      url: 'lucky_draw_edit.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_add_ticket_for_user_submit',
        'user_id' : $('#user_id').val(),
        'lucky_draw_id': lucky_draw_id
      },
      dataType: 'json',
      success: function (result) {
        if (result['error'] == 0){
            $("#success_msg_user").html('這會員共有'+result.content+'個抽獎機會可使用'); 
        }else{
            //alert(result.message);
            $("#error_msg_user").html(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});

</script>
{/if}
