{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style>
.calendar {
  z-index: 5000;
}

#success_message {
  color :green;
}

#error_message {
  color :red;
}

.highline {
  color:red;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #34495e;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}
</style>

<div class=" x_panel">
<div class="x_title">
    <h2>{if $act=='edit'}修改{else}新增{/if}獎品(績分)</h2>
    <div class="clearfix"></div>
</div>
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 獎品名稱: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="hidden" name="gift_type" id="gift_type" value="0" />
            <input class="form-control" name="point_title" type="text" id="point_title" size="15" value='{$gift_info.title}' /> 
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 績分: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" name="point_value" {if $act=='edit'} disabled {/if} type="text" id="point_value" size="15" value='{$gift_info.points}' /> 
        </div>
    </div>
    {if $act=='edit'}
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 獎品剩餘數量: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
           <input class="form-control" name="remain_qty" disabled type="text" id="remain_qty" size="15" value='{$gift_info.qty}' /> 
        </div>
    </div>
    {/if}
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 調整獎品數量(加/減): <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" name="point_qty" type="text" id="point_qty" size="15" value='' placeholder="100 or -100"/> 
        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2 col-sm-2 col-xs-12">顯示:</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="checkbox">
        <input type="checkbox" id="must_show" name="must_show" class="flat"  {if $gift_info.must_show == 1} checked {/if}> 一定會出現在抽獎格.
        </label>
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 圖片: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="file" class="form-control" id="product_image" name="product_image" size="35">
        </div>
        <div>{if $gift_info.image != ''}<img width=50px src="../{$gift_info.image}" />{/if}</div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 圖片(著燈): <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="file" class="form-control" id="product_image2" name="product_image2" size="35">
        </div>
        <div>{if $gift_info.image != ''}<img width=50px src="../{$gift_info.image2}" />{/if}</div>
    </div>
    <div class="form-group">
        <div class="ln_solid"></div>
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="hidden" id="gift_id" value="{$gift_id}" />
            <input class=" btn btn-success gift_point_submit" type="button" value="儲存"/>
            <input class=" btn btn-danger gift_point_delete" type="button" value="删除"/>
            <span id="error_msg" class="red"></span>
        </div>
    </div>
</form>
</div>

<!-- end stock check list -->
{include file="pagefooter.htm"}
<script>
var $table = yoho_dataTable();
var $popup2 = '';
var lucky_draw_id = {$lucky_draw_id};
$('.gift_point_submit').click(function(){
    var gift_type = $('#gift_type').val();
    var point_title = $('#point_title').val();
    var point_value = $('#point_value').val();
    var point_qty = $('#point_qty').val();
    var gift_id = $('#gift_id').val();
    var product_image = $('#product_image')[0].files[0];
    var must_show = $('#must_show').is(':checked')? 1: 0;

    // if (typeof product_image == 'undefined'){
    //     alert('請上傳獎品圖片');
    //     return false;
    // }
  
    if (gift_type == ''){
        alert('請選擇獎品種類');
        return false;
    }
 
    if (point_title == ''){
        alert('請輸入獎品名稱');
        return false;
    }

    if (point_value == ''){
        alert('請輸入績分');
        return false;
    }
    
    {if $act!='edit'}
        if (point_qty == ''){
            alert('請輸入數量');
            return false;
        }
    {/if}

    data = new FormData();
    data.append( 'file', $('#product_image')[0].files[0] );
    data.append( 'file2', $('#product_image2')[0].files[0] );
    data.append( 'point_qty', point_qty );
    data.append( 'lucky_draw_id', lucky_draw_id );
    data.append( 'point_value', point_value );
    data.append( 'point_title', point_title );
    data.append( 'act', 'post_gift_create_point_submit' );
    data.append( 'gift_id', gift_id );
    data.append( 'must_show', must_show );
    // 
    // console.log('data',data);
    // return false;


    $.ajax({
      url: 'lucky_draw_gift_point.php',
      type: 'post',
      cache: false,
      data: data,
      dataType: 'json',
      contentType: false,
      processData: false,
      success: function (result) {
        if (result['error'] == 0){
            var url="lucky_draw_manage.php?act=list&lucky_draw_id=" + lucky_draw_id ;
            window.location=url;
        }else{
            //alert(result.message);
            $("#error_msg").html(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});


$('.gift_point_delete').click(function(){
    if (confirm('確定刪除?')) {
        var gift_id = $('#gift_id').val();
        $.ajax({
          url: 'lucky_draw_gift_point.php',
          type: 'post',
          cache: false,
          data: {
            'act': 'post_gift_delete_submit',
            'gift_id': gift_id
          },
          dataType: 'json',
          success: function (result) {
            if (result['error'] == 0){
                var url="lucky_draw_manage.php?act=list&lucky_draw_id=" + lucky_draw_id ;
                window.location=url;
            }else{
                //alert(result.message);
                $("#error_msg").html(result.message);
            }
          },
          error: function (xhr) {
            alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
            console.log(xhr);
          }
        });
    }
});

</script>
{/if}
