{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
<style>
.calendar {
  z-index: 5000;
}

#success_message {
  color :green;
}

#error_message {
  color :red;
}

.highline {
  color:red;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #34495e;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}
</style>

<div class=" x_panel">
<div class="x_title">
    <h2>新增抽獎活動</h2>
    <div class="clearfix"></div>
</div>
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 活動名稱: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" name="event_name" type="text" id="event_name" size="15" value='{$lucky_draw_event_info.event_name}' /> 
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 開始時間: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" data-type="date" name="start_date" type="text" id="start_date" size="15" value='{$lucky_draw_event_info.start_date}' /> 
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 結束時間: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" data-type="date" name="end_date" type="text" id="end_date" size="15" value='{$lucky_draw_event_info.end_date}' /> 
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"> 購買金額: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
         <input class="form-control" name="purchase_amount" type="text" id="purchase_amount" size="15" value='{$lucky_draw_event_info.purchase_amount}' /> 
        </div>
    </div>
    <div class="form-group">
        <div class="ln_solid"></div>
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="hidden" id="gift_id" value="{$gift_id}" />
            <input class=" btn btn-success save_submit" type="button" value="儲存"/>
            <span id="error_msg" class="red"></span>
        </div>
    </div>
</form>
</div>

<!-- end stock check list -->
{include file="pagefooter.htm"}
<script>
var $table = yoho_dataTable();
var $popup2 = '';

$('.save_submit').click(function(){
    var event_name = $('#event_name').val();
    var start_date =  $('#start_date').val();
    var end_date =  $('#end_date').val();
    var purchase_amount =  $('#purchase_amount').val();
    
    if (event_name == ''){
        alert('請輸入活動名稱');
        return false;
    }
    
    if (start_date == ''){
        alert('請輸入開始時間');
        return false;
    }
    
    if (end_date == ''){
        alert('請輸入結束時間');
        return false;
    }

    $.ajax({
      url: 'lucky_draw_create.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_create_lucky_draw_submit',
        'event_name': event_name,
        'start_date': start_date,
        'end_date' : end_date,
        'purchase_amount' : purchase_amount,
      },
      dataType: 'json',
      success: function (result) {
        if (result['error'] == 0){
            var url="lucky_draw.php?act=list";
            window.location=url;
        }else{
            //alert(result.message);
            $("#error_msg").html(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});

</script>
{/if}
