{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style>
.calendar {
  z-index: 5000;
}

#success_message {
  color :green;
}

#error_message {
  color :red;
}

.highline {
  color:red;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #34495e;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}
</style>

<div class=" x_panel">
<div class="x_title">
    <h2>{if $act=='edit'}修改{else}新增{/if}獎品(優惠券)</h2>
    <div class="clearfix"></div>
</div>
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
<div class="form-group">
  <label class="control-label col-md-2 col-sm-2 col-xs-12">獎品名稱:</label>
  <div class="col-md-6 col-sm-9 col-xs-12">
    <input class="form-control" id="coupon_title" name="coupon_title" type="text" value="{$gift_info.title|escape}" size="40" />
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-2 col-sm-2 col-xs-12">優惠券號碼:</label>
  <div class="col-md-6 col-sm-9 col-xs-12">
    <input class="form-control" id="coupon_code" {if $act=='edit'}disabled{/if} name="coupon_code" type="text" size="40" value="{$gift_info.coupon_code|escape}" /><a href="coupon.php?act=list" target="_blank">查閱優惠券</a>
  </div>
</div>
{if $act=='edit'}
<div class="form-group">
  <label class="control-label col-md-2 col-sm-2 col-xs-12">獎品剩餘數量:</label>
  <div class="col-md-6 col-sm-9 col-xs-12">
    <input id="remain_qty" name="remain_qty" class="form-control" type="text" disabled value="{$gift_info.qty|escape}" size="40"  />
  </div>
</div>
{/if}
<div class="form-group">
  <label class="control-label col-md-2 col-sm-2 col-xs-12">調整獎品數量(加/減):</label>
  <div class="col-md-6 col-sm-9 col-xs-12">
    <input id="coupon_qty" name="coupon_qty" placeholder="100 or -100" class="form-control" type="text" value="" size="40"  />
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-2 col-sm-2 col-xs-12">顯示:</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <label class="checkbox">
    <input type="checkbox" id="must_show" name="must_show" class="flat"  {if $gift_info.must_show == 1} checked {/if}> 一定會出現在抽獎格.
    </label>
  </div>
</div>
{if $act=='edit'}
<div class="form-group">
  <label class="control-label col-md-2 col-sm-2 col-xs-12">產品連結:</label>
  <div class="col-md-6 col-sm-9 col-xs-12">
    <input id="share_link" name="share_link" placeholder="" class="form-control" type="text" value="{$gift_info.share_link}" size="40"  />
  </div>
</div>
{/if}
<div class="form-group">
  <label class="control-label col-md-2 col-sm-2 col-xs-12"> 圖片:</label>
  <div class="col-md-6 col-sm-9 col-xs-12">
      <input type="file" class="form-control" id="product_image" name="product_image" size="35">
        <div>{if $gift_info.image != ''}<img width=50px src="../{$gift_info.image}" />{/if}</div>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-2 col-sm-2 col-xs-12"> 圖片(著燈):</label>
  <div class="col-md-6 col-sm-9 col-xs-12">
      <input type="file" class="form-control" id="product_image2" name="product_image2" size="35">
        <div>{if $gift_info.image != ''}<img width=50px src="../{$gift_info.image2}" />{/if}</div>
  </div>
</div>

<div class="form-group">
  <div class="ln_solid"></div>
    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="hidden" id="gift_id" value="{$gift_id}" />
    <input type="button" id="gift_coupon_submit" class="btn btn btn-success" name="Submit"       value="{$lang.button_submit}" />
    <input class=" btn btn-danger gift_point_delete" type="button" value="删除"/>
    <span id="error_msg" class="red"></span>
  </div>
</div>
</form>
</div>

<!-- end stock check list -->
{include file="pagefooter.htm"}
<script>
var $table = yoho_dataTable();
var $popup2 = '';
var lucky_draw_id = {$lucky_draw_id};

$('#gift_coupon_submit').click(function(){
    var coupon_title = $('#coupon_title').val();
    var coupon_code = $('#coupon_code').val();
    var coupon_qty = $('#coupon_qty').val();
    var gift_id = $('#gift_id').val();
    var must_show = $('#must_show').is(':checked')? 1: 0;
    var share_link = $('#share_link').val();

    if (coupon_title == ''){
        alert('請輸入獎品名稱');
        return false;
    }
 
    if (coupon_code == ''){
        alert('請輸入優惠券號碼');
        return false;
    }
    
    {if $act!='edit'}
    if (coupon_qty == ''){
        alert('請輸入數量');
        return false;
    }
    {/if}

    data = new FormData();
    data.append( 'file', $('#product_image')[0].files[0] );
    data.append( 'file2', $('#product_image2')[0].files[0] );
    data.append( 'coupon_qty', coupon_qty );
    data.append( 'lucky_draw_id', lucky_draw_id );
    data.append( 'coupon_code', coupon_code );
    data.append( 'coupon_title', coupon_title );
    data.append( 'act', 'post_gift_create_coupon_submit' );
    data.append( 'gift_id', gift_id );
    data.append( 'must_show', must_show );
    data.append( 'share_link', share_link );

    $.ajax({
      url: 'lucky_draw_gift_coupon.php',
      type: 'post',
      cache: false,
      data: data,
      dataType: 'json',
      contentType: false,
      processData: false,
      success: function (result) {
      if (result['error'] == 0){
            var url="lucky_draw_manage.php?act=list&lucky_draw_id=" + lucky_draw_id ;
            window.location=url;
        }else{
            //alert(result.message);
            $("#error_msg").html(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});

$('.gift_point_delete').click(function(){
    if (confirm('確定刪除?')) {
        var gift_id = $('#gift_id').val();
        $.ajax({
          url: 'lucky_draw_gift_coupon.php',
          type: 'post',
          cache: false,
          data: {
            'act': 'post_gift_delete_submit',
            'gift_id': gift_id
          },
          dataType: 'json',
          success: function (result) {
            if (result['error'] == 0){
                var url="lucky_draw_manage.php?act=list&lucky_draw_id=" + lucky_draw_id ;
                window.location=url;
            }else{
                //alert(result.message);
                $("#error_msg").html(result.message);
            }
          },
          error: function (xhr) {
            alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
            console.log(xhr);
          }
        });
    }
});
</script>
{/if}
