<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style>

.popup_block {
    text-align: center;
    display: inline;
    padding: 4px;
}

.stocktake_dropdown_menu li a {
    font-size: 13px;
    padding: 7px 20px;
    line-height: 1.928571;
}
</style>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
    <div class="list-div" id="listDiv" >
        <table id="stocktake" class="table table-striped table-bordered bulk_action">
        <thead>
        <th data-id="lucky_draw_id" data-key="lucky_draw_id">編號
        </th>
        <th width=100px data-id="event_name">活動名稱</th>
        <th data-id="start_date">開始時間</th>
        <th data-id="end_date">結束時間</th>
        <th data-id="status">狀態</th>
        <th data-sort=0 data-id="actions">操作</th>
        </thead>
        </table>
    </div>
</div>
{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
   // 开始检查订单
    popupBlock.init();
}

var $table = yoho_dataTable();

var current_rma_id = 0;

// $("#import_stocktake_popup").click(function(){
//     $popup2 = modal.create('匯入盤點資料', $("#popup_template"));
//     modal.show($popup2);
// });

$("#submit_follow_up_remark_data").click(function(){
    var popup_follow_up_remark_data = $('#popup_follow_up_remark_data').val();

    $.ajax({
    url: 'erp_rma_common.php',
    type: 'post',
    cache: false,
    data: {
        'act': 'post_rma_follow_up_remark_submit',
        'follow_up_remark': popup_follow_up_remark_data,
        'rma_id' : current_rma_id,
    },
    dataType: 'json',
    success: function (result) {
      if (result['error'] == 0) {
        var $filter = {};
        $filter.status = $("#status").val();
        $filter.page = 1;
        $table.search($filter);
        $('#popup_follow_up_remark_modal').modal('toggle');
      } else {
        alert(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });
});

$(document).on('click','.follow_up_remark',function(){
    current_rma_id = $(this).data('rma-id');
    $('#popup_follow_up_remark_data').val('');
    if ($(this).html() != '請輸入') {
        $('#popup_follow_up_remark_data').val($(this).html());
    }
});

$(document).on('click','.confirm-pickup',function(){
    var rma_id = $(this).data('rma-id');
    $.ajax({
       url: 'erp_rma.php',
       type: 'post',
       cache: false,
       data: {
       'act': 'post_confirm_pickup',
       'rma_id': rma_id,
    },
    dataType: 'json',
    success: function(result) {
        if (result.error == 0) {
            var $filter = {};
            $filter.status = $("#status").val();
            $filter.page = 1;
            $table.search($filter);
        } else {
            alert(result.message);
        }
        //$(".bulk_confirm_action").css('visibility', 'hidden');
    },
    error: function(xhr) {
       alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
       console.log(xhr);
    }
    }); 

});
// 
// $(document).on('ifChanged', 'input:checkbox' ,function () {
//     var checkCount = $(".bulk_action input[name='table_records']:checked").length;
//     if (checkCount > 0) {
//         $(".bulk_confirm_action").css('visibility', 'visible');
//     } else {
//         $(".bulk_confirm_action").css('visibility', 'hidden');
//     }
// });

$("#rma_search").click(function(){
    var $filter = {};
    $filter.status = $("#status").val();
    $filter.type = $("#type").val();
    $filter.repair_sn = $("#repair_sn").val();
    $filter.department = $("#department").val();
    $table.search($filter);
    $(".bulk_confirm_action").css('visibility', 'hidden');
    return;
});


$("#show_repair_order").click(function(){
    var $filter = {};
    $filter.status = $("#status").val();
    $filter.type = $("#type").val();
    $filter.repair_sn = $("#repair_sn").val();
    $filter.show_repair_order = $("#show_repair_order").is(':checked');
    $filter.show_repair_order_not_pick = $("#show_repair_order_not_pick").is(':checked');
    $table.search($filter);
    return;
});

$("#show_repair_order_not_pick").click(function(){
    var $filter = {};
    $filter.status = $("#status").val();
    $filter.type = $("#type").val();
    $filter.repair_sn = $("#repair_sn").val();
    $filter.show_repair_order = $('#show_repair_order').is(':checked');
    $filter.show_repair_order_not_pick = $("#show_repair_order_not_pick").is(':checked');
    $table.search($filter);
    return;
});

$(".bulk_confirm_action").click(function(){
    var selected_stocktake_ids = $table.getSelectValue();
    if (selected_stocktake_ids.length == 0){
        alert('請選擇產品');
        return false;
    }

    var change_type = $(this).data('change-type');
    if(confirm("確定執行?")){
        // save
        $.ajax({
           url: 'erp_stocktake.php',
           type: 'post',
           cache: false,
           data: {
           'act': 'post_bulk_stocktake_type_change',
           'selected_stocktake_ids': selected_stocktake_ids,
           'change_type': change_type,
        },
        dataType: 'json',
        success: function(result) {
           if (result.error == 0) {
              var $filter = {};
              $filter.status = $("#status").val();
              $filter.page = 1;
              $table.search($filter);
           } else {
               alert(result.message);
           }
            $(".bulk_confirm_action").css('visibility', 'hidden');
        },
        error: function(xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
        }
        }); 
    }
    else{
        return false;
    }
});

$(document).on('click','.confirm_action',function(){
    var rma_id = $(this).data('rma-id');
    var change_type = $(this).data('change-type');
    if (change_type == 0) {
        var confirm_word = '確定執行封存?';
    } else {
        var confirm_word = '確定執行刪除?';
    }
    if(confirm(confirm_word)){
        // save
        $.ajax({
           url: 'erp_rma.php',
           type: 'post',
           cache: false,
           data: {
           'act': 'post_rma_type_change',
           'rma_id': rma_id,
           'change_type': change_type,
        },
        dataType: 'json',
        success: function(result) {
            if (result.error == 0) {
                $table.draw();
            } else {
                alert(result.message);
            }
        },
        error: function(xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
        }
        }); 
    }
    else{
        return false;
    }
});

var popupBlock = {};


popupBlock.init = function (){
  // Setup popup div
    var $popup = $('<div class="popup_block"></div>');
    // var $popup_title = $('<div style="padding: 4px;"></div>');
    // $popup.append($popup_title);
    //var $test = $('<div>aaa</div>')
   // $popup.append($test);
    
    var $popup_select_by_search_block = $('<div class="popup_block"></div>');
    $popup.append($popup_select_by_search_block);

    var $popup_select_by_search_btn = $('<input class="btn btn-success" id="popup_select_by_search" type="button" name="popup_select_by_search" value="產品搜尋" onclick="return false;" />');
    $popup_select_by_search_block.append($popup_select_by_search_btn);

};

//-->
</script>
{/literal}

