{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style>
.calendar {
  z-index: 5000;
}

#success_message {
  color :green;
}

#error_message {
  color :red;
}

.highline {
  color:red;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #34495e;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}
</style>

<div class=" x_panel">
<div class="x_title">
    <h2>{if $act=='edit'}修改{else}新增{/if}免費獎品</h2>
    <div class="clearfix"></div>
</div>
<form id="lucky-draw-from" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">獎品名稱:</label>
  <div class="col-md-6 col-sm-9 col-xs-12">
    <input class="form-control" id="product_title" name="product_title" type="text" value="{$gift_info.title}" size="40" />
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">產品號碼(ID):</label>
  <div class="col-md-6 col-sm-9 col-xs-12">
    <input class="form-control" placeholder="" {if $act=='edit'} disabled {/if}  id="product_code" name="product_code" type="text" size="40" value="{$gift_info.goods_id}" /><a href="goods.php?act=list" target="_blank">查閱產品</a>
  </div>
</div>
{if $act=='edit'}
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">獎品剩餘數量:</label>
  <div class="col-md-6 col-sm-9 col-xs-12">
    <input id="remain_qty" name="remain_qty" class="form-control" type="text" disabled value="{$gift_info.qty}" size="40" />
  </div>
</div>
{/if}
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">調整獎品數量(加/減):</label>
  <div class="col-md-6 col-sm-9 col-xs-12">
    <input id="product_qty" name="product_qty" class="form-control" type="text" value="" placeholder="100 or -100" size="40" />
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">顯示:</label>
  <div class="col-md-6 col-sm-9 col-xs-12">
    <label class="checkbox">
    <input type="checkbox" id="must_show" name="must_show" class="flat"  {if $gift_info.must_show == 1} checked {/if}> 一定會出現在抽獎格.
    </label>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">圖片:</label>
  <div class="col-md-6 col-sm-9 col-xs-12">
    <input type="file" class="form-control" id="product_image" name="product_image" size="35">
    <div>{if $gift_info.image != ''}<img width=50px src="../{$gift_info.image}" />{/if}</div>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">圖片(著燈):</label>
  <div class="col-md-6 col-sm-9 col-xs-12">
    <input type="file" class="form-control" id="product_image2" name="product_image2" size="35">
    <div>{if $gift_info.image2 != ''}<img width=50px src="../{$gift_info.image2}" />{/if}</div>
  </div>
</div>
<div class="form-group">
  <div class="ln_solid"></div>
  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
    <input type="hidden" id="gift_id" value="{$gift_id}" />
    <input type="button" id="gift_product_submit" class="btn btn btn-success" name="Submit" value="{$lang.button_submit}" />
     <input class=" btn btn-danger gift_point_delete" type="button" value="删除"/>
    <span id="error_msg" class="red"></span>
  </div>
</div>
</form>
</div>

<!-- end stock check list -->
{include file="pagefooter.htm"}
<script>
var $table = yoho_dataTable();
var $popup2 = '';
var lucky_draw_id = {$lucky_draw_id};

$('#gift_product_submit').click(function(){
    var product_title = $('#product_title').val();
    var product_code = $('#product_code').val();
    var product_qty = $('#product_qty').val();
    var gift_id = $('#gift_id').val();
    var product_image = $('#product_image')[0].files[0];
    var must_show = $('#must_show').is(':checked')? 1: 0;

    if (product_title == ''){
        alert('請輸入獎品名稱');
        return false;
    }
 
    if (product_code == ''){
        alert('請輸入產品號碼');
        return false;
    }
    
    {if $act!='edit'}
        if (product_qty == ''){
            alert('請輸入數量');
            return false;
        }
    {/if}
    
    data = new FormData();
    data.append( 'file', $('#product_image')[0].files[0] );
    data.append( 'file2', $('#product_image2')[0].files[0] );
    data.append( 'product_qty', product_qty );
    data.append( 'lucky_draw_id', lucky_draw_id );
    data.append( 'product_code', product_code );
    data.append( 'product_title', product_title );
    data.append( 'act', 'post_gift_create_product_submit' );
    data.append( 'gift_id', gift_id );
    data.append( 'must_show', must_show );
    
    $.ajax({
      url: 'lucky_draw_gift_product.php',
      type: 'post',
      cache: false,
      data: data,
      dataType: 'json',
      contentType: false,
      processData: false,
      enctype: 'multipart/form-data',
      success: function (result) {
      if (result['error'] == 0){
            var url="lucky_draw_manage.php?act=list&lucky_draw_id=" + lucky_draw_id ;
            window.location=url;
        }else{
            //alert(result.message);
            $("#error_msg").html(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});

$('.gift_point_delete').click(function(){
    if (confirm('確定刪除?')) {
        var gift_id = $('#gift_id').val();
        $.ajax({
          url: 'lucky_draw_gift_coupon.php',
          type: 'post',
          cache: false,
          data: {
            'act': 'post_gift_delete_submit',
            'gift_id': gift_id
          },
          dataType: 'json',
          success: function (result) {
            if (result['error'] == 0){
                var url="lucky_draw_manage.php?act=list&lucky_draw_id=" + lucky_draw_id ;
                window.location=url;
            }else{
                //alert(result.message);
                $("#error_msg").html(result.message);
            }
          },
          error: function (xhr) {
            alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
            console.log(xhr);
          }
        });
    }
});
</script>
{/if}
