{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style>
.calendar {
  z-index: 5000;
}

#success_message {
  color :green;
}

#error_message {
  color :red;
}

.highline {
  color:red;
}

#step_action_bottom{
    width:100%;
    height:70px;
    background-color: #34495e;
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding-right: 30px;
    z-index: 100;
}

.lucky-draw-gift-chart{
    text-align: center;
}
.chart-gift{
    display: inline-block;
    padding:10px;
    position: relative;
    padding-bottom: 47px;
}

.chart-gift-title {
    display: inline-block;
    width:50px;
}

.chart-gift-level-detail {
    display: inline-block;
    width:200px;
}

.chart-gift-block {
    display: inline-block;
    width:1000px;
    border-bottom: 1px solid;

}

.chart-gift-won-count {
    position: absolute;
    right: -5px;
    top: 2px;
}

.chart-gift-remain-count {
    position: absolute;

}

</style>
<div class=" x_panel">
    <div style="float:right">
        <input style="display:none" class="btn btn-success" id="create_stocktake" type="button" value="建立盤點" />
        <div class="dropdown navbar-right">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            新增抽獎獎品
            <span class="caret"></span>
          </button>
          <ul class="stocktake_dropdown_menu dropdown-menu" aria-labelledby="dropdownMenu1" style="font-size: 14px;">
            <li><a href="lucky_draw_gift_point.php?act=list&lucky_draw_id={$lucky_draw_id}">積分</a></li>
            <li><a href="lucky_draw_gift_coupon.php?act=list&lucky_draw_id={$lucky_draw_id}">優惠券</a></li>
            <li><a href="lucky_draw_gift_product.php?act=list&lucky_draw_id={$lucky_draw_id}">免費禮物</a></li>
          </ul>
        </div>
    </div>

    <div class="x_title">
        <h2>獎品列表</h2>
        <div class="clearfix"></div>
    </div>
    <table id="gift_list" class="table table-striped table-bordered bulk_action">
    <thead>
    <th data-id="gift_id">編號</th>
    <th data-id="type">種類</th>
    <th data-sort=0 data-id="edit_link">獎品名稱</th>
    <th data-sort=0 data-id="image">獎品圖片</th>
    <th data-sort=0 data-id="qty">剩餘獎品數量</th>
    <th data-sort=0 data-id="won">己中獎數量</th>
    <th data-order="1" data-orderby="ASC" data-id="probability">中獎機率</th>
    <th data-sort=0 data-id="select_level">中獎Level</th>
    <th data-sort=0 data-id="actions">操作</th>
    
    </thead>
    </table>
</div>
<div class=" x_panel" style="display:block">
<div class="x_title">
    <h2>中獎分配</h2>
    <div class="clearfix"></div>
</div>
<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
禮物種類:{$all_gifts_chart_data.gift_amount} 款可抽獎<br>
禮物總數:{$all_gifts_chart_data.gift_qty_total} 份可抽獎
<div class="lucky-draw-gift-chart">
{foreach from=$all_gifts_chart_data.level_group key=level_index item=level}
    <div class="chart-level">
        <div class="chart-gift-title">Level {$level_index}</div>
        <div class="chart-gift-block">
            {foreach from=$level.gifts key=gift_index item=gift}
                <div class="chart-gift">
                    <div class="chart-gift-won-count"><span class="badge bg-orange">{$gift.won}</span></div>
                    <img width="80px" src="../{$gift.image}" title="{$gift.title}" />
                    <div class="chart-gift-remain-count">
                        <div style="width: 80px;">
                          <p style="margin: 0 0 0px;">{$gift.qty}/{$gift.gift_total}</p>
                          <div class="">
                            <div class="progress progress_sm" style="width: 100%;">
                             {$gift.gift_remain_percentage_html}
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            {/foreach}
        </div>
        <div class="chart-gift-level-detail">機率: {$level.rate}%<br>預計中獎數:{$level.predict_won_total}<br>現時中獎數:{$level.won_total} </div>
    </div>
{/foreach}
</div>
</form>
</div>

<!-- end stock check list -->
{include file="pagefooter.htm"}

<script>
var $table = yoho_dataTable();
var lucky_draw_id = {$lucky_draw_id};
var $popup2 = '';
$(document).on('change','.select_level',function(){
    var gift_id = $(this).data('gift-id');
    var gift_level = $(this).val();

    $.ajax({
      url: 'lucky_draw_manage.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'post_change_gift_level_submit',
        'gift_id': gift_id,
        'gift_level': gift_level,
      },
      dataType: 'json',
      success: function (result) {

        console.log('result',result);

        if (result['error'] == 0){
            var $filter = {};     
            $table.draw();
        }else{
            //alert(result.message);
            $("#error_msg").html(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});

</script>
{/if}
