<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style>

.popup_block {
    text-align: center;
    display: inline;
    padding: 4px;
}

.stocktake_dropdown_menu li a {
    font-size: 13px;
    padding: 7px 20px;
    line-height: 1.928571;
}
</style>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="lucky_draw_detail.php?act=list" style="margin:0px">
        <!-- 類型: <select class="form-control" name="type" id="type">
            {foreach from=$type_options  key=id item=type}
                <option value="{$id}" "{if $id == 1} selected {/if}" >{$type}</option>
            {/foreach}
        </select>  -->
        <input type="hidden" name="lucky_draw_id" value="{$lucky_draw_id}">
        獎品類型: <select class="form-control" name="type" id="type">
            <option value="" selected>全部</option>
            {foreach from=$type_options  key=id item=type}
                <option value="{$id}">{$type}</option>
            {/foreach}
        </select>
        狀態: <select class="form-control" name="opened" id="opened">
            {foreach from=$open_options  key=id item=open}
                <option value="{$id}" {if $id == 1}selected{/if}>{$open}</option>
            {/foreach}
        </select>
        顧客電話:
        <input class="form-control" name="user_name" type="text" id="user_name" size="15" value='{$filter.user_name}' /> 
        <input class="btn btn-success form-btn" type="button" id="lucky_draw_search" name="lucky_draw_search" value="{$lang.query}" />
        <div style="padding-top:10px;padding-bottom: 10px">            
            <label class="checkbox">
                <input type="checkbox" id="show_not_notify" class="show_not_notify" style=""> 顯示未通知免費禮物領取
            </label>
            <label class="checkbox" style="display:none">
                <input type="checkbox" id="show_not_pick" class="" /> 客人未取貨
            </label>
        </div>
      </form>
    </div>

<div class="list-div" id="listDiv" style="margin-top: 50px;">
 <input style="display:inline-block;" type="button" data-change-type="0" class="bulk_confirm_action_notify btn btn-warning " value="發通知電郵">
 <input style="display:inline-block;" type="button" data-change-type="0" class="bulk_confirm_open_order btn btn-info " value="免費禮物開單">
    <table id="ticket" class="table table-striped table-bordered bulk_action">
    <thead>
    <th data-id="ticket_id" data-key="ticket_id">抽獎編號
        <input type="checkbox" id="check-all" class="flat">
    </th>
    <th width=100px data-id="add_date">建立日期</th>
    <th width=100px data-id="opened_time">抽獎日期</th>
    <th data-id="type">類型</th>
    <th data-id="name">顧客</th>
    <th data-id="user_name">聯絡</th>
    <th data-sort=0 data-id="image">圖片</th>
    <th width=150px data-id="title">獎品</th>
    <th width=100px data-sort=0 data-id="gift_data">資料</th>
    <th data-sort=0 data-id="status">狀態</th>
    <th width=100px data-sort=0 data-id="notified">通知得獎</th>
    <th width=100px data-sort=0 data-id="follow_up_remark">跟進備註</th>
    <th width=100px data-sort=0 data-id="notified_status">通知客人取貨</th>
    <th width=100px data-sort=0 data-id="pickup_status">客人取貨日期</th>
    <th width=100px data-sort=0 data-id="remark">來源</th>
    </thead>
    </table>
    {if $full_page}
    </div>
</div>

<div class="modal fade" role="dialog" id="popup_follow_up_remark_modal">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">顧客跟進備註</h4>
        </div>
        <div class="modal-body">
            <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">備註 : <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control col-md-7 col-xs-12" id="popup_follow_up_remark_data" rows="20" cols="54" placeholder=""></textarea>
                </div>
            </div>   
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class=" btn btn-success" type="button" id="submit_follow_up_remark_data" name="submit_import_data" value="確定" placeholder="">
                </div>
            </div>
            </form>
            <div id="notice_message" class="form-div" style="display:none">
                <div id="success_message"></div>
                <div id="error_message"></div>
            </div>
        </div>
    </div>
    </div>
</div>


{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
   // 开始检查订单
    popupBlock.init();
}

var $table = yoho_dataTable();

var current_ticket_id = 0;

// $("#import_stocktake_popup").click(function(){
//     $popup2 = modal.create('匯入盤點資料', $("#popup_template"));
//     modal.show($popup2);
// });



$("#submit_follow_up_remark_data").click(function(){
    var popup_follow_up_remark_data = $('#popup_follow_up_remark_data').val();

    $.ajax({
    url: 'lucky_draw_detail.php',
    type: 'post',
    cache: false,
    data: {
        'act': 'post_ticket_follow_up_remark_submit',
        'follow_up_remark': popup_follow_up_remark_data,
        'ticket_id' : current_ticket_id,
    },
    dataType: 'json',
    success: function (result) {
      if (result['error'] == 0) {
        var $filter = {};
        $filter.status = $("#status").val();
        $filter.page = 1;
        $table.search($filter);
        $('#popup_follow_up_remark_modal').modal('toggle');
      } else {
        alert(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });
});

$(document).on('click','.follow_up_remark_content',function(){
    current_ticket_id = $(this).data('ticket-id');
    $('#popup_follow_up_remark_data').val('');
    if ($(this).html() != '請輸入') {
        $('#popup_follow_up_remark_data').val($(this).html());
    }
});

$(document).on('click','.confirm-pickup',function(){
    var ticket_id = $(this).data('ticket-id');
    $.ajax({
       url: 'lucky_draw_detail.php',
       type: 'post',
       cache: false,
       data: {
       'act': 'post_confirm_pickup',
       'ticket_id': ticket_id,
    },
    dataType: 'json',
    success: function(result) {
        if (result.error == 0) {
            var $filter = {};
            // $filter.status = $("#status").val();
            $filter.page = 1;
            $table.search($filter);
        } else {
            alert(result.message);
        }
        //$(".bulk_confirm_action").css('visibility', 'hidden');
    },
    error: function(xhr) {
       alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
       console.log(xhr);
    }
    }); 

});
// 
// $(document).on('ifChanged', 'input:checkbox' ,function () {
//     var checkCount = $(".bulk_action input[name='table_records']:checked").length;
//     if (checkCount > 0) {
//         $(".bulk_confirm_action").css('visibility', 'visible');
//     } else {
//         $(".bulk_confirm_action").css('visibility', 'hidden');
//     }
// });

$("#lucky_draw_search").click(function(){

    console.log('lucky_draw_search');

    var $filter = {};
    $filter.type = $("#type").val();
    $filter.user_name = $("#user_name").val();
    $filter.opened = $("#opened").val();
    $table.search($filter);
    //$(".bulk_confirm_action_notify").css('visibility', 'hidden');
    return;
});

$("#show_not_notify").click(function(){
    var $filter = {};
    $filter.type = $("#type").val();
    $filter.user_name = $("#user_name").val();
    $filter.opened = $("#opened").val();
    $filter.show_not_notify = $("#show_not_notify").is(':checked') == true? 1:0;
    $filter.show_not_pick = $("#show_not_pick").is(':checked')  == true? 1:0;
    $table.search($filter);
    return;
});

$("#show_not_pick").click(function(){
    var $filter = {};
    $filter.type = $("#type").val();
    $filter.user_name = $("#user_name").val();
    $filter.opened = $("#opened").val();
    $filter.show_not_notify = $("#show_not_notify").is(':checked') == true? 1:0;
    $filter.show_not_pick = $("#show_not_pick").is(':checked')  == true? 1:0;
    $table.search($filter);
    return;
});

$(".bulk_confirm_action_notify, .bulk_confirm_open_order").prop('disabled', true);

$(document).on('ifChanged', 'input:checkbox' ,function () {

    var checkCount = $(".bulk_action input[name='table_records']:checked").length;

    if (checkCount > 0) {
        $(".bulk_confirm_action_notify, .bulk_confirm_open_order").prop('disabled', false);
    } else {
        $(".bulk_confirm_action_notify, .bulk_confirm_open_order").prop('disabled', true);
    }
});

$(".bulk_confirm_action_notify").click(function(){
    var selected_ticket_ids = $table.getSelectValue();
    if (selected_ticket_ids.length == 0){
        alert('請選擇項目');
        return false;
    }

    if(confirm("確定執行?")){
        // save
        $.ajax({
           url: 'lucky_draw_detail.php',
           type: 'post',
           cache: false,
           data: {
           'act': 'post_bulk_ticket_free_gift_notify',
           'selected_ticket_ids': selected_ticket_ids
        },
        dataType: 'json',
        success: function(result) {
           if (result.error == 0) {
              alert("總數: " + result.content.total + "\n已發送: " + result.content.sent);
              $table.draw();
           } else {
               alert(result.message);
           }
           $(".bulk_confirm_action_notify, .bulk_confirm_open_order").prop('disabled', true);
        },
        error: function(xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
        }
        }); 
    }
    else{
        return false;
    }
});

$(".bulk_confirm_open_order").click(function(){
    var selected_ticket_ids = $table.getSelectValue();
    if (selected_ticket_ids.length == 0){
        alert('請選擇項目');
        return false;
    }

    if(confirm("確定執行?")){
        // save
        $.ajax({
           url: 'lucky_draw_detail.php',
           type: 'post',
           cache: false,
           data: {
           'act': 'post_bulk_ticket_free_gift_create_order',
           'selected_ticket_ids': selected_ticket_ids
        },
        dataType: 'json',
        success: function(result) {
            alert("總數: " + result.content.total + "\n已開單: " + result.content.proccessed);
            $(".bulk_confirm_action_notify, .bulk_confirm_open_order").prop('disabled', true);
            $table.draw();
        },
        error: function(xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
        }
        });
    }
    else{
        return false;
    }
})

var popupBlock = {};


popupBlock.init = function (){
  // Setup popup div
    var $popup = $('<div class="popup_block"></div>');
    // var $popup_title = $('<div style="padding: 4px;"></div>');
    // $popup.append($popup_title);
    //var $test = $('<div>aaa</div>')
   // $popup.append($test);
    
    var $popup_select_by_search_block = $('<div class="popup_block"></div>');
    $popup.append($popup_select_by_search_block);

    var $popup_select_by_search_btn = $('<input class="btn btn-success" id="popup_select_by_search" type="button" name="popup_select_by_search" value="產品搜尋" onclick="return false;" />');
    $popup_select_by_search_block.append($popup_select_by_search_btn);
};

//-->
</script>
{/literal}

{/if}