{include file="pageheader.htm"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
{insert_scripts files="i18n.js"}
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<form action="magazine_list.php" method="post">
<table cellspacing="1" cellpadding="3">
<tr>
	<td width="15%">{$lang.magazine_name}</td><td><input type="text" name="magazine_name" value="{$magazine_name}" size="40" /></td>
</tr>
<tr>
	<td>{$lang.magazine_content}</td><td><textarea name="magazine_content" id="tinymce" class="tinymce">{$magazine_content|escape}</textarea></td>
</tr>
<tr align="center">
  <td colspan="2">
	<input type="hidden" name="step" value="2" />
	<input type="hidden" name="id" value="{$id}" />
	<input type="hidden" name="act" value="{$act}" />
    <input type="submit" class="btn btn-primary"  name="Submit"       value="{$lang.button_submit}" />
  </td>
</tr>
</table>
</form>
</div>
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
//-->
</script>
{include file="pagefooter.htm"}