{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
    <th>{$lang.magazine_name}</th>
    <th width="20%">{$lang.magazine_last_update}</th>
    <th width="20%">{$lang.magazine_last_send}</th>
    <th width="20%">{$lang.magazine_addtolist}</th>
    <th width="12%">{$lang.handler}</th>
</tr>
{foreach from=$magazinedb item=val}
<tr>
    <td>{$val.template_subject}</td>
    <td align="center">{$val.last_modify}</td>
    <td align="center">{$val.last_send}</td>
    <td align="center">
    <form action="magazine_list.php" method="post" name="hidform">
        <input type="hidden" name="id" value="{$val.template_id}" />
        <input type="hidden" name="act" value="addtolist" />
        <select name="pri"><option value='0'>{$lang.pri.0}</option><option value='1'>{$lang.pri.1}</option></select>
        <select name="send_rank">
          {html_options options=$send_rank}
        </select>
        <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
    </form>
    </td>
    <td align="center"><a href="magazine_list.php?act=edit&id={$val.template_id}">{$lang.magazine_edit}</a> <a href="magazine_list.php?act=del&id={$val.template_id}" onclick="return confirm('{$lang.ck_del}');">{$lang.magazine_del}</a></td>
</tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
{/foreach}
</table>
<form method="post" action="" name="listForm">
<table cellpadding="4" cellspacing="0">
  <tr>
    <td align="right">{include file="page.htm"}</td>
  </tr>
</table>
{if $full_page}
</div>
</form>



<script type="text/javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}