{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
  <th>{$lang.record_id}</th>
  <th width="200">收件人</th>
  <th width="120">主題</th>
  <th>內容</th>
  <th width="40">HTML</th>
  <th width="120">發送時間</th>
  <th>{$lang.handler}</th>
</tr>
{foreach from=$list item=log}
<tr>
  <td align="center"><a href="mail_sent_log.php?act=view&id={$log.sent_id}">{$log.sent_id}</a></td>
  <td align="left">{if $log.to_name}{$log.to_name}<br />&lt;{$log.to_email}&gt;{else}{$log.to_email}{/if}</td>
  <td align="left">{$log.subject}</td>
  <td align="left">{$log.content_display}</td>
  <td align="center"><img src="images/{if $log.is_html}yes{else}no{/if}.gif" /></td>
  <td align="center">{$log.sent_date}</td>
  <td>
    <a href="mail_sent_log.php?act=resend&id={$log.sent_id}" onclick="javascript:return confirm('您確定要重新發送這封郵件？');">重新發送</a>
    <a href="javascript:void(0)" onclick="javascript:sendToMe({$log.sent_id})">取得副本</a>
  </td>
</tr>
{foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
{/foreach}
</table>
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>

<script type="text/javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

function sendToMe(sent_id)
{
  var email = prompt('輸入要收取副本的電郵地址：','howang@yohohongkong.com');
  
  window.location = 'mail_sent_log.php?act=sendtome&id=' + sent_id + '&email=' + encodeURIComponent(email);
}
</script>


{include file="pagefooter.htm"}
{/if}