{include file="pageheader.htm"}
<!-- jQuery Smart Wizard -->
<style>
div#email_list {
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    border: 1px solid #e3e3e3;
}

.order-row .addr-row .verify {
    color: #218d21;
}

.order-row .addr-row .edit {
    color: #db0303;
}

.order-row .addr-row .refresh {
    color: #004dc0;
}

.order-row .addr-row .red {
    color:red;
}

.order-row .addr-row .glyphicon {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
</style>
<script src="js/jquery.smartWizard.js"></script>
{if $error_list}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <div class='section'>
        {foreach from=$undo_list item=sn}
            {$sn}{if $error_list[$sn]} - {$error_list[$sn]} {/if}<br>
        {/foreach}
    </div>
</div>
{/if}
<div class="x_panel">
    <div class="x_title">
        <h4>{$logistics_name} - {$mass_key}</h4>
        <div class="clearfix"></div>
        {if $is_fls_order_delivery == 1}
        <form style="float: right;top:-36px; position: relative;"  id="mass_delivery" action="" type="POST" target="_blank">
            <input name='act' value='mass_delivery' type='hidden'>
            <input name='mass_key' value='{$mass_key}' type='hidden'>
            <input id="export_fls" type="hidden" name="export_fls" value="1"/>
            <input  id="export_fls_excel" class="btn btn-success" type="submit" value="FLS EXCEL 下載">
            <a target="_blank" href="../fls?mass_key={$mass_key}&fp_token={$fls_token}" id="fls_link" class="btn btn-success" value="">FLS 列印POS單</a>
        </form>
        {/if}

        {if $logistics == 'wilson'}
        <form style="float: right;top:-36px; position: relative;"  id="mass_delivery" action="" type="POST" target="_blank">
            <input name='act' value='mass_delivery' type='hidden'>
            <input name='mass_key' value='{$mass_key}' type='hidden'>
            <input id="export_wilson" type="hidden" name="export_wilson" value="1"/>
            <input id="export_wilson_excel" class="btn btn-success" type="submit" value="Wilson EXCEL 下載">
            <a target="_blank" href="../wilson?mass_key={$mass_key}&wilson_token={$wilson_token}" id="wilson_link" class="btn btn-success" value="">Wilson 列印POS單</a>
            <a target="_blank" href="../wilson-dn?mass_key={$mass_key}&wilson_token={$wilson_token}" id="wilson_link" class="btn btn-success" value="">Wilson 列印送貨單</a>
        </form>
        {/if}
    </div>
    <div class="x_content" id="step-div">
        <!-- Smart Wizard -->
        <div id="wizard" class="form_wizard wizard_horizontal">
            <ul class="wizard_steps" id="wizard_steps">
                <li>
                    <a href="#" class="{if $process >= 1}selected{else}disabled{/if}">
                    <span class="step_no">1</span>
                    <span class="step_descr">
                        出貨
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="{if $process >= 2}selected{else}disabled{/if}">
                    <span class="step_no">2</span>
                    <span class="step_descr">
                        匯出出貨資料
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="{if $process >= 3}selected{else}disabled{/if}">
                    <span class="step_no">3</span>
                    <span class="step_descr">
                        匯入速遞商Excel
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="{if $process >= 5}selected{else}disabled{/if}">
                    <span class="step_no">4</span>
                    <span class="step_descr">
                        列印POS單
                    </span>
                    </a>
                </li>
            </ul>
            <div id="shipped_list" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <h4 style="text-align: center;">已出貨之訂單號</h4>
                <table class="table table-bordered jambo_table">
                    <thead>
                        <tr>
                            <th>訂單號{if $enable_addr_edit && $process == 2} - 地址資料{/if}</th>
                            <th>狀態</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$order_sn_array item=order}
                        <tr>
                            <td id="order_row_{$order.order_id}" class="order-row">
                                <div>{$order.order_sn}</div>
                                {if $enable_addr_edit && $order.addr_info.order_address_id > 0 && $process == 2}
                                <div id="addr_row_{$order.addr_info.order_address_id}" class="addr-row">
                                    <div class="addr_full"><span>{$order.addr_info.address}</span></div>
                                    <div class="addr_cat" style="display: inline-block">
                                    {if $order.addr_info.administrative_area == ''}<span class="red">未選擇地區{if $logistics == '4px'}(省){/if}</span>{else}<span>地區{if $logistics == '4px'}(省){/if}:{$order.addr_info.administrative_area}</span>{/if}
                                    | {if $order.addr_info.locality == ''}<span class="red">未選擇地方/市鎮{if $logistics == '4px'}(市){/if}</span>{else}<span>地方{if $logistics == '4px'}(市){/if}:{$order.addr_info.locality}</span>{/if}
                                    {if FALSE}
                                        | {if $order.addr_info.type_id == 0}<span>未選擇地址類型</span>{else}<span>類型:{$order.addr_info.type_name}</span>{/if}
                                        | {if $order.addr_info.lift == 0}<span>未選擇有否升降機</span>{else}<span>{$arr_lift_txt[$order.addr_info.lift]}</span>{/if}
                                    {/if}
                                    {if $logistics == '4px'}
                                        | {if $order.addr_info.id_doc == ''}<span class="red">未輸入身分證</span>{else}<span>中國身分證:{$order.addr_info.id_doc}</span>{/if}
                                    {/if}
                                    {if $logistics != '4px' && $order.addr_info.verify eq '1'} | <span class="verify">&#10004;地址已檢查</span>{/if}
                                    </div>
                                    <div style="display: inline-block">
                                    <a href="#" data-toggle="tooltip" class="refresh_addr" title="重新顯示地址"><i class="glyphicon glyphicon-refresh refresh"></i></a>
                                    <a href="order.php?act=edit&order_id={$order.order_id}&step=consignee&stage=edit_ship_addr_tpye&addr_id={$order.addr_info.order_address_id}" class="edit_addr" data-toggle="tooltip" title="修改地址資料" target="_blank">
                                        <i class="glyphicon glyphicon-pencil edit"></i>
                                    </a>
                                    </div>
                                </div>
                                {/if}
                            </td>
                            <td style="vertical-align: middle;">{$order.process_string}</td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <div id="step-2" style="{if $process neq 2}display:none;{/if}">
                    <form id="download_xls" style="text-align:center;">
                        <input type="hidden" name="mass_key" value="{$mass_key}" />
                        <input type="hidden" name="act" value="mass_delivery" />
                        <input type="hidden" name="logistics" value="{$logistics}" />
                        {if $logistics eq 'eflocker'}
                        <input type="hidden" name="uploadEflocker" value="1" />
                        <input class="btn btn-primary" type="submit" value="上傳資料至順便智能櫃" onClick="upload_locker(this, event)">
                        {elseif $logistics eq 'wilson'}
                        {else}
                        <input type="hidden" name="export" value="1" />
                        <input id="download" class="btn btn-primary" type="submit" value="下載Excal" onClick="reload(this)">
                        {/if}
                    </form>
                </div>
                <div id="step-3" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="{if $process neq 3 &&  $process neq 4}display:none;{/if}">
                    {if 1 || $logistics neq '4px'}
                    <form method="post" id="insert_form" enctype="multipart/form-data">
                        {if $logistics eq 'other'}
                        請選擇物流公司:
                        <select class="form-control" name="logistics_id" title="物流">
                            <option value="-1">- 請選擇物流 -</option>
                            {foreach from=$logistics_list item=logistics}
                                <option value="{$logistics.logistics_id}" {if $delivery_order.logistics_id eq $logistics.logistics_id}selected="selected"{/if}>{$logistics.logistics_name}</option>
                            {/foreach}
                        </select>
                        <span class="red">請使用剛剛下載的檔案於A欄填寫物流單號.</span>
                        {/if}
                        {if $logistics eq 'dpex' || $logistics eq '4px' || $logistics eq 'fedex'}
                        <span class="red">
                            {if $logistics eq 'dpex'} 
                            如需輸入物流單號, 請使用剛剛下載的檔案於AJ欄(第36欄)填寫
                            {elseif $logistics eq 'fedex'}
                            如需輸入物流單號, 請使用剛剛下載的檔案於AJ欄(第36欄)填寫
                            {elseif $logistics eq '4px'}
                            如需輸入物流單號, 請使用剛剛下載的檔案於A欄(第1欄)填寫
                            {/if}
                        </span>
                        {/if}
                        <div class='section' style="padding:10px">
                            <input name='mass_key' class="file" value='{$mass_key}' type='hidden'>
                            <input name='act' class="file" value='mass_delivery' type='hidden'>
                            <input name='import' class="file" value='1' type='hidden'>
                            <input name="import_excel" class="file form-control" type="file" accept=".xls,.xlsx,.csv"><br>
                            <input type="hidden" name="logistics" value="{$logistics}" />
                        </div>
                        <p style="text-align:center"><input id="upload" class="btn btn-primary" type="submit" value="上傳"></p>
                    </form>
                    {else}
                    <p style="text-align:center">檔案已下載</p>
                    {/if}
                    <div class="email" style="text-align:center;display:none;">
                        <span class="red">請確定以下的物流單號, 然後按確定</span>
                        <div id="email_list"></div>
                        <div><input id="email" data-mass="{$mass_key}" class="btn btn-primary mass_email" type="button" value="確定"></div>
                    </div>
                </div>
                {if $logistics neq 'wilson'}
                <div id="step-4" style="{if $process < 5 }display:none;{/if}text-align:center">
                    <form id="mass_delivery" action="" type="POST" target="_blank">
                        <input name='act' value='mass_delivery' type='hidden'>
                        <input name='mass_key' value='{$mass_key}' type='hidden'>
                        <input id='custom_action' type='hidden' value='1' name="print">
                        <input id="print" class="btn btn-primary" type="submit" value="列印POS單">
                    </form>
                </div>
                {/if}
            </div>
        </div>
        <!-- End SmartWizard Content -->
    </div>
</div>
{include file="pagefooter.htm"}
<script>
$.fn.serializefiles = function() {
    var obj = $(this);
    /* ADD FILE TO PARAM AJAX */
    var formData = new FormData();
    $.each($(obj).find("input[type='file']"), function(i, tag) {
        $.each($(tag)[0].files, function(i, file) {
            formData.append(tag.name, file);
        });
    });
    var params = $(obj).serializeArray();
    $.each(params, function (i, val) {
        formData.append(val.name, val.value);
    });
    return formData;
};
var $step = {$process};
if($step >= 4) $step = $step - 1;
if($step >= 5) $step = 4;
var can_send_mail_list = [];
$('#step-'+$step).show();

{if $enable_addr_edit && $process == 2}
var timer = false;
{/if}

function reload($this){

    var from = $this.closest('form');
    $(from).submit();
    setTimeout("$('#step-div').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #wizard');", 5000);
}

function upload_locker($this, e) {
    var $data;
    e.preventDefault();
    $form = $($this).closest('form');
    $data = {
        act: 'mass_delivery',
        uploadEflocker: 1,
        logistics: "{$logistics}",
        mass_key: "{$mass_key}"
    };

    $.ajax({
        url: 'order.php',
        type: 'POST',
        dataType: 'JSON',
        data:$data,
        success: function(res){
            $('#wizard_steps').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #wizard_steps');
            console.log(res);
            $('#shipped_list').hide();
            $('#step-2').hide();
            $('#step-3').show();
            $('#upload').hide();
            $('input[name="import_excel"').hide();
            if(res.status == 1) {
                $html = '';
                can_send_mail_list = [];
                $.each(res.finish_list, function (order_sn, order) {
                    $html += '<div>訂單: '+order_sn+' - 物流單號: '+ order.invoice_no;
                    can_send_mail_list.push(order.order_id);
                });
                //console.log($html);
                $('#email_list').html($html);
                $('.email').show();
                $div = $('<div id="success_list"></div>');
                $title = '<h4 style="text-align: center;">失敗列表 <small class="red">請手動選擇其實物流方式</small></h4>';
                $s_table = $('<table id="success_table" class="table table-bordered jambo_table"></table>');
                $th = $('<thead><tr><th>訂單號</th><th style="text-align: center;">錯誤訊息</th></tr></thead>');
                $tbody = $('<tbody></tbody>');
                $.each(res.fail_list, function (order_sn, order) {
                    $html =$('<tr><td><a href="order.php?act=info&order_id='+order.order_id+'" target="_blank">'+order_sn+'</a></td><td>'+order.desc+'</td></tr>');
                    $tbody.append($html);
                    console.log($html);
                });
                $s_table.append($th).append($tbody);
                $div.append($title).append($s_table);
                $('.email').append($div);
            }
        }
    });
}

{if $enable_addr_edit && $process == 2}
function reload_addr($row){
    var str_addr_id = $row.attr('id').split("_");
    var logistic = "{$logistics}";
    if (logistic != ""){
        if (str_addr_id[2].length > 0){
            var addr_id = str_addr_id[2];
            //console.log("start to refresh address - " +  str_addr_id[2]);

            $.ajax({
                url: 'order.php',
                type: 'POST',
                dataType: 'JSON',
                data:{
                    act: 'get_mass_delivery_address_attribute',
                    addr_id: addr_id,
                    logistic: logistic
                },
                success: function(res){
                    //$('#email').val('已發送');
                    //$('#step-div').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #wizard');
                    if(res.error == 0) {
                        var admin_area = '';
                        var locality = '';
                        var type = '';
                        var lift = '';
                        var verify = '';
                        var full_address = '';
                        var id_doc = '';
                        if (res.content.administrative_area == ""){
                            admin_area = "<span class='red'>未選擇地區{if $logistics == '4px'}(省){/if}</span>";
                        } else {
                            admin_area = "<span>地區{if $logistics == '4px'}(省){/if}:" + res.content.administrative_area + "</span>";
                        }
                        if (res.content.locality == ""){
                            locality = "<span class='red'>未選擇地方{if $logistics == '4px'}(市){/if}</span>";
                        } else {
                            locality = "<span>地方{if $logistics == '4px'}(市){/if}:" + res.content.locality + "</span>";
                        }
                        {if FALSE}
                        if (res.content.type_id == 0){
                            type = "<span>未選擇地址類型</span>";
                        } else {
                            type = "<span>類型:" + res.content.type_name + "</span>";
                        }
                        if (res.content.lift == 0){
                            lift = "<span>未選擇有否升降機</span>";
                        } else {
                            lift = "<span>" + res.content.lift + "</span>";
                        }
                        {/if}
                        {if $logistics != '4px'}
                        if (res.content.verify == 1){
                            verify = " | <span class='verify'>&#10004;地址已檢查</span>";
                        }
                        {/if}
                        if (res.content.address == ""){
                            full_address = "<span class='red'>未輸入地址</span>";
                        } else {
                            full_address = "<span>" + res.content.address + "</span>";
                        }
                        if (res.content.id_doc == ""){
                            id_doc = "<span class='red'>未輸入身分證</span>";
                        } else {
                            id_doc = "<span>中國身分證:" + res.content.id_doc + "</span>";
                        }

                        $row.find('.addr_full').html(full_address);
                        $row.find('.addr_cat').html(admin_area + " | " + locality{if $logistics == '4px'} + " | " + id_doc{/if}{if $logistics != '4px'} + verify{/if});

                        //$('#sn_box').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #sn_select');
                        //$('#r_sn_box').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #r_sn_select');
                    } else {
                        console.log('error: ' + res.error);
                    }
                }
            });
        } else {
            console.log('invalid address id: ' + str_addr_id[2]);
        }
    } else {
        console.log('logistic not found');
    }

}

function refresh_all_addr(){
    $(".addr-row").each(function(index) {
        reload_addr($(this));
    });
}

function start_auto_refresh(){
    //console.log('start auto refresh');
    addr_refresh = setInterval(function(){
        refresh_all_addr();
    }, 10000);
    timer = true;
}

function stop_auto_refresh(){
    //console.log('stop auto refresh');
    try {
        clearInterval(addr_refresh);
        timer = false;
    } catch(error){
        console.log(error);
    }
}

$('.refresh_addr').click(function(event) {
    event.preventDefault();
    $addr_row = $(this).closest('.addr-row');
    reload_addr($addr_row);
});

$('.edit_addr').click(function(event) {
    if (!timer){
        start_auto_refresh();
    }
});

$('#download').click(function(){
    if (timer){
        stop_auto_refresh();
    }
});

{/if}

$('body').on('click', '#email', function(){

    $('#email').prop('disabled',true);
    var mass_key = $(this).data('mass');
    $(this).val('發送中');
    setTimeout("$('#step-div').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #wizard');", 3000);
    $.ajax({
        url: 'order.php',
        type: 'POST',
        dataType: 'JSON',
        data:{
            act: 'mass_delivery',
            send_mass_mail: 1,
            id_list: can_send_mail_list,
            mass_key: mass_key
        },
        success: function(res){

            $('#email').val('已發送');
            $('#step-div').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #wizard');
            if(res.status == 1) {
                //$('#sn_box').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #sn_select');
                //$('#r_sn_box').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #r_sn_select');
            }
        }
    });
});
if( $('select[name="logistics_id"]').length > 0) {
	$('#upload').prop('disabled',true);
	$('select[name="logistics_id"]').on('change', function(){
		if($(this).val() != -1)  $('#upload').prop('disabled',false);
		else $('#upload').prop('disabled',true);
	});
}
$('body').on('click', '#upload', function(){
    $('#upload').prop('disabled', true);
    $("#import_text").html('上傳中');
    $.ajax({
        url: 'order.php',
        type: 'POST',
        dataType: 'JSON',
        processData: false,
        contentType: false,
        data: $('#insert_form').serializefiles(),
        success: function(res){
            $('#upload').prop('disabled', false);
            $('#upload').val('重新上傳');
            if(res.status == 1) {
                $html = '';
                can_send_mail_list = [];
                $.each(res.finish_list, function (order_sn, order) {
                    $html += '<div>訂單: '+order_sn+' - 物流單號: '+ order.invoice_no;
                    can_send_mail_list.push(order.order_id);
                });
                //console.log($html);
                $('#email_list').html($html);
                $('.email').show();
            } else {
                $("#import_text").html(res.error);
            }
        }
    })
});
</script>