<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/x" class="site_title">
      <span>{$lang.cp_home}
      {if $is_beta}
        <small style="color:#ff8f66;">Beta</small>{/if}
      </span>
    </a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="{if empty($admin.avatar)}{insert name=avatar_url size=s id=$admin_id}{else}../{$admin.avatar}{/if}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>你好,</span>
      <h2>{$admin_name}</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->
  <br />
  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <input name="search_menu" id="search_menu" type="text" placeholder="搜尋目錄" class="form-control"/>
    <div class="menu_section">
      <ul class="nav side-menu ">
        {foreach from=$menus item=menu key=k} {if $menu.action}
        <li>
          <a href="{$menu.action}">{$menu.label}</a>
        </li>
        {else}
        <li key="{$k}" name="menu">
          <a>
            {$menu.label}
            <span class="fas fa-chevron-down"></span>
          </a>
          {if $menu.children}
          <ul class="nav child_menu">
            {foreach from=$menu.children item=child}
            <li>
              <a href="{$child.action}">{$child.label}</a>
            </li>
            {/foreach}
          </ul>
          {/if}
        </li>
        {/if} {/foreach}
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="{$lang.preview}" href="../" target="_blank">
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="POS" href="/pos.php"  target="_blank">
      <i class="fab fa-product-hunt" aria-hidden="true"></i>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="{$lang.refresh}" href="javascript:window.location.reload()">
      <!--window.top.frames['main-frame'].document.location.reload();-->
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="{$lang.signout}" href="privilege.php?act=logout">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>