{include file="pageheader.htm"}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="jumbotron">
      <h3>
        {if $msg_type==0}
        <i class="fa fa-exclamation-circle blue"></i>
        {elseif $msg_type eq 1}
        <i class="fa fa-exclamation-triangle yellow"></i>
        {else}
        <i class="fa fa-question-circle green"></i>
        {/if}
        {$msg_detail}
      </h3>
      {if $auto_redirect}<p  id="redirectionMsg">{$lang.auto_redirection}</p>{/if}
        {foreach from=$links item=link}
        <a href="{$link.href}" {if $link.target}target="{$link.target}"{/if} class="btn btn-primary">{$link.text}</a>
        {/foreach}
    </div>
  </div>
</div>

{include file="pagefooter.htm"}
{if $auto_redirect}
<script language="JavaScript">
  var defaultUrl = "{$default_url}";
  init_auto_redirect(defaultUrl, 3);
</script>
{/if}