<!-- $Id: start.htm 17110 2010-04-15 07:47:51Z sxc_shop $ -->
{include file="pageheader.htm"}
<div class=" x_panel mkt_method">
  
    <ul class="mkt-list-content clearfix">
        <li class="mkt-item">
            <a href="favourable.php?act=list_gift" class="mkt-entry">
                <div class="mkt-logo"><img src="img/mkt-icon/icon_gift.png" alt="贈品"></div>
                <div class="mkt-name"><span class="mkt-name-content">贈品</span></div>
                <div class="mkt-desc">買A贈B/買A贈B和C</div>
            </a>
        </li>
        <li class="mkt-item">
            <a href="favourable.php?act=list_redeem" class="mkt-entry">
                <div class="mkt-logo"><img src="img/mkt-icon/icon_redeem.png" alt="換購"></div>
                <div class="mkt-name"><span class="mkt-name-content">換購</span></div>
                <div class="mkt-desc">加N元可以換購指定商品</div>
            </a>
        </li>
        <li class="mkt-item">
            <a href="package.php?act=list" class="mkt-entry">
                <div class="mkt-logo"><img src="img/mkt-icon/icon_package.png" alt="套裝優惠"></div>
                <div class="mkt-name"><span class="mkt-name-content">套裝優惠</span></div>
                <div class="mkt-desc">創建商品套裝讓客戶購買</div>
            </a>
        </li>
        <li class="mkt-item">
            <a href="topic.php?act=list" class="mkt-entry">
                <div class="mkt-logo"><img src="img/mkt-icon/icon_topic.png" alt="優惠資訊"></div>
                <div class="mkt-name"><span class="mkt-name-content">優惠資訊</span></div>
                <div class="mkt-desc">分享最新優惠資訊給用戶</div>
            </a>
        </li>
        <li class="mkt-item">
            <a href="coupon.php?act=list" class="mkt-entry">
                <div class="mkt-logo"><img src="img/mkt-icon/icon_coupon.png" alt="優惠券"></div>
                <div class="mkt-name"><span class="mkt-name-content">優惠券</span></div>
                <div class="mkt-desc">向客戶發放優惠券，精準轉化</div>
            </a>
        </li>
        <li class="mkt-item">
            <a href="flashdeal_event.php?act=list" class="mkt-entry">
                <div class="mkt-logo"><img src="img/mkt-icon/icon_flashdeal.png" alt="閃購"></div>
                <div class="mkt-name"><span class="mkt-name-content">閃購</span></div>
                <div class="mkt-desc">閃購引導顧客更多消費</div>
            </a>
        </li>
        <li class="mkt-item">
            <a href="lucky_draw.php?act=list" class="mkt-entry">
                <div class="mkt-logo"><img src="img/mkt-icon/icon_wheel.png" alt="抽獎管理"></div>
                <div class="mkt-name"><span class="mkt-name-content">抽獎管理</span></div>
                <div class="mkt-desc">常見的轉盤式抽獎玩法</div>
            </a>
        </li>
    </ul>

</div>
{include file="pagefooter.htm"}
</body>
</html>
