<!-- $Id: start.htm 17110 2010-04-15 07:47:51Z sxc_shop $ -->
{include file="pageheader.htm"}
<div class=" x_panel mkt_method">
  

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a href="favourable.php?act=list_gift">
    <div class="mkt-option">
      <div class="mkt-option-left">
          <img src="/data/afficheimg/topic/3_icon.png" width="30" height="30" alt="贈品">
      </div>
      <div class="mkt-option-right">
        <div class="mkt-option-detail">
          贈品
        </div>
        <p>買A贈B/買A贈B和C</p>
      </div>
    </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a href="favourable.php?act=list_redeem">
    <div class="mkt-option">
      <div class="mkt-option-left">
          <img src="/data/afficheimg/topic/3_icon.png" width="30" height="30" alt="換購">
      </div>
      <div class="mkt-option-right">
        <div class="mkt-option-detail">
            換購
        </div>
        <p>加N元可以換購指定商品</p>
      </div>
    </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a href="package.php?act=list">
    <div class="mkt-option">
      <div class="mkt-option-left">
          <img src="/data/afficheimg/topic/3_icon.png" width="30" height="30" alt="套裝優惠">
      </div>
      <div class="mkt-option-right">
        <div class="mkt-option-detail">
            套裝優惠
        </div>
        <p>創建商品套裝讓客戶購買</p>
      </div>
    </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a href="topic.php?act=list">
    <div class="mkt-option">
      <div class="mkt-option-left">
          <img src="/data/afficheimg/topic/3_icon.png" width="30" height="30" alt="著數優惠">
      </div>
      <div class="mkt-option-right">
        <div class="mkt-option-detail">
            著數優惠
        </div>
        <p>分享最新優惠資訊給用戶</p>
      </div>
    </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a href="coupon.php?act=list">
    <div class="mkt-option">
      <div class="mkt-option-left">
          <img src="/data/afficheimg/topic/3_icon.png" width="30" height="30" alt="優惠券">
      </div>
      <div class="mkt-option-right">
        <div class="mkt-option-detail">
            優惠券
        </div>
        <p>向客戶發放優惠券，精準轉化</p>
      </div>
    </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a href="flashdeal.php?act=list">
    <div class="mkt-option">
      <div class="mkt-option-left">
          <img src="/data/afficheimg/topic/3_icon.png" width="30" height="30" alt="閃購">
      </div>
      <div class="mkt-option-right">
        <div class="mkt-option-detail">
            閃購
        </div>
        <p>閃購引導顧客更多消費</p>
      </div>
    </div>
    </a>
  </div>


</div>
  


</div>
{include file="pagefooter.htm"}
</body>
</html>
