{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}

<div class="x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <form class="form-inline" action="javascript:search()">
            狀態
            <select name="status">
                <option value="-1">全部</option>
                {foreach from=$lang.offline_payment_status key=key item=value}
                <option value="{$key}">{$value}</option>
                {/foreach}
            </select>&emsp;
            付款方式
            <select name="pay_id">
                <option value="-1">全部</option>
                {foreach from=$pay_list key=pay_id item=name}
                <option value="{$pay_id}">{$name}</option>
                {/foreach}
            </select>&emsp;
            訂單 <input type="text" name="payment_order_sn" class="form-control">&emsp;
            付款金額 <input type="text" name="payment_order_amount" class="form-control" size="10">&emsp;
            <input type="submit" class="btn btn-info" value="{$lang.button_search}">
        </form>
    </div>
    <table class="table table-striped table-bordered bulk_action" id="op_table">
        <thead>
            <tr>
                <th data-id="op_id" data-key="op_id">編號</th>
                <th data-id="order_sn">訂單</th>
                <th data-id="pay_id" data-value="payment_name">付款方式</th>
                <th data-id="order_amount" data-sort="0">未付款金額</th>
                <th data-id="account_name" data-sort="0">入帳戶口</th>
                <th data-id="status">狀態</th>
                <th data-id="upload_time">上傳時間</th>
                <th class="actionsCol" data-id="_action" width="150" data-sort="0">{$lang.handler}</th>
            </tr>
        </thead>
    </table>
</div>

{include file="pagefooter.htm"}
<script>
var $table = yoho_dataTable();

function search() {
    $filter = [];
    if ($("select[name=status]").val() != -1) {
        $filter['status'] = $("select[name=status]").val();
    }
    if ($("select[name=pay_id]").val() != -1) {
        $filter['pay_id'] = $("select[name=pay_id]").val();
    }
    if ($("input[name=payment_order_sn]").val() != "") {
        $filter['order_sn'] = $("input[name=payment_order_sn]").val();
    }
    if ($("input[name=payment_order_amount]").val() != "") {
        $filter['order_amount'] = $("input[name=payment_order_amount]").val();
    }
    $("#op_table").data('dt_params', $filter);
    $("#op_table").DataTable().draw()
}
</script>