{include file="pageheader.htm"}
<style>
.embed_img img {
    transition: 200ms;
}
.embed_img[data-x="1"] img {
    max-width: 500px;
}
.embed_img[data-x="2"] img {
    max-width: 600px;
}
.embed_img[data-x="3"] img {
    max-width: 700px;
}
.embed_img[data-r="0"] img {
    transform: rotateZ(0deg)
}
.embed_img[data-r="1"] img {
    transform: rotateZ(90deg)
}
.embed_img[data-r="2"] img {
    transform: rotateZ(180deg)
}
.embed_img[data-r="3"] img {
    transform: rotateZ(270deg)
}
a.download {
    cursor: pointer;
}
#verify_div .row {
    margin-top: 10px;
}
.embed_file + .embed_file {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid;
}
</style>
<div class="x_panel">
    <div class="tab-content form-horizontal form-label-left">
        <form id="update_info_form">
            <input name="op_id" value="{$record.op_id}" type="hidden">
            <input name="act" value="update" type="hidden">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">訂單</label></div>
                <div class="col-md-3 col-sm-6 col-xs-12"><a href='order.php?act=info&order_id={$record.order_id}' target="_blank">{$record.order_sn}</a></div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">付款方式</label></div>
                <div class="col-md-3 col-sm-6 col-xs-12">{$record.payment_name}</div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">未付金額</label></div>
                <div class="col-md-3 col-sm-6 col-xs-12">{$order_amount}</div>
            </div>
            {if $banks}
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">入帳戶口</label></div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    {if $record.status < 3}
                    <select name="pay_account">
                        <option value="-1">-- 請選擇 --</option>
                        {foreach from=$banks item=bank key=key}
                        <option value="{$key}" {if $record.pay_account eq $key}selected{/if}>{$bank.name}</option>
                        {/foreach}
                    </select>
                    {elseif $record.pay_account neq -1}
                    {foreach from=$banks item=bank key=key}
                    {if $record.pay_account eq $key}{$bank.name}{/if}
                    {/foreach}
                    {else}
                    N/A
                    {/if}
                </div>
            </div>
            {/if}
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">狀態</label></div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    {if $record.status < 3}
                    <select name="status">
                        {foreach from=$lang.offline_payment_status key=key item=value}
                        {if $key neq 3}
                        <option value="{$key}" {if $record.status eq $key}selected{/if}>{$value}</option>
                        {/if}
                        {/foreach}
                    </select>
                    {else}
                    {$record.formatted_status}
                    {/if}
                </div>
            </div>
            {if $record.upload_time}
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">上傳時間</label></div>
                <div class="col-md-3 col-sm-6 col-xs-12">{$record.upload_time}</div>
            </div>
            {/if}
            {if $record.status neq 0}
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">證明</label></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {if $img_data}
                    {foreach from=$img_data item=src key=key}
                    <div class="embed_file embed_img" data-x='1' data-r='0'>
                        <img src='{$src}'>
                    </div>
                    {/foreach}
                    {/if}
                    {if $pdf_data}
                    {foreach from=$pdf_data item=src}
                    <embed src="{$src}" width="800" height="500">
                    {/foreach}
                    {/if}
                    {if $file_data}
                    {foreach from=$file_data item=data}
                    <a class="download" href="{$data.dataUri}" download>點擊下載</a> ({$data.size}kb)
                    {/foreach}
                    {/if}
                    {if !$img_data && !$pdf_data && !$file_data}
                    找不到檔案
                    {/if}
                </div>
            </div>
            {/if}
            {if $record.status < 3}
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">操作</label></div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <input class="btn btn-danger" type="button" value="修改" id="update">
                    {if $record.status eq 1}
                    <input class="btn btn-success" type="button" value="驗證" id="verify">
                    {/if}
                </div>
            </div>
            {/if}
            {if $ref}
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">其他紀錄</label></div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <table class="table table-striped table-bordered bulk_action">
                        <tr>
                            <th>編號</th>
                            <th>狀態</th>
                            <th>查詢編號</th>
                        </tr>
                        {foreach from=$ref item=rec}
                        <tr>
                            <td><a href='offline_payment.php?act=verify&id={$rec.op_id}'>{$rec.op_id}</a></td>
                            <td>{$lang.offline_payment_status[$rec.status]}</td>
                            <td>{if $rec.ticket_id}{$rec.ticket_id}{else}N/A{/if}</td>
                        </tr>
                        {/foreach}
                    </table>
                </div>
            </div>
            {/if}
        </form>
    </div>
</div>
{include file="pagefooter.htm"}

<script>
var tickets = [];
$(document).on("click", "#update", function() {
    if ($("select[name=status]").val() == "1" && $("select[name=pay_account]").val() == "-1") {
        alert("必需選擇入帳戶口");
    } else {
        $("#update_info_form").submit();
    }
})
$(document).on("click", "#verify", function() {
    var data = {
        act: 'get_tickets',
        amount: '{$order_amount}',
        pay_id: 3//'{$record.pay_id}',
    };
    {if $banks}
    {foreach from=$banks item=bank key=key}
    {if $record.pay_account eq $key}
    data.account_id = '{$bank.account_id}';
    {/if}
    {/foreach}
    {/if}
    $.ajax({
        url: 'offline_payment.php',
        dataType: 'json',
        data: data,
        success: function(res) {
            $div = $("<div id='verify_div'>" +
                        {if $banks}
                        "<div class='row'>" +
                            "<div class='col-md-3'>收款帳戶</div>" +
                            "<div class='col-md-9'>" +
                                {foreach from=$banks item=bank key=key}
                                {if $record.pay_account eq $key}
                                '<input name="account_id" type="hidden" value="{$bank.account_id}"><span class="red">{$bank.account_name} *</span>' +
                                {/if}
                                {/foreach}
                            "</div>" +
                        "</div>" +
                        {/if}
                        "<div class='row'>" +
                            "<div class='col-md-3'>金額</div>" +
                            "<div class='col-md-9'>{$order_amount}</div>" +
                        "</div>" +
                        "<div class='row'>" +
                            "<div class='col-md-3'>查詢ID</div>" +
                            "<div class='col-md-9'><input name='ticket_id' type='number' class='form-control'></div>" +
                        "</div>" +
                        "<div class='row'>" +
                            "<div class='col-md-3'>沒有查詢ID</div>" +
                            "<div class='col-md-9'><input name='no_ticket' type='checkbox' class='flat'></div>" +
                        "</div>" +
                    "</div>");
            $input = $div.find("input[name=ticket_id]");
            $checkbox = $div.find("input[name=no_ticket]");
            $button = $("<input type='button' style='margin-top: 10px' class='btn btn-danger' value='確定付款'>");
            var table = "<table class='table table-striped table-bordered bulk_action' style='display:none; margin-top:20px;'><tr><th>查詢ID</th><th>金額</th><th>日期</th></tr>";
            var valid_tickets = [];
            if (res.content != "no_match_found" && res.content != "multiple_labels" && Object.keys(res.content) > 0) {
                for (var ticket_id in res.content) {
                    table += "<tr><td>" + ticket_id + "</td><td>" + res.content[ticket_id].amount + "</td><td>" + res.content[ticket_id].date + "</td></tr>";
                    valid_tickets.push(ticket_id)
                }
            } else {
                table += "<tr><td colspan='10'>{$lang.no_records}</td></tr>";
            }
            table += "</table>";

            $checkbox.on('ifChanged', function() {
                $input.prop("disabled", $checkbox.prop("checked") ? true : false)
            })
            $button.click(function() {
                var data = {
                    act: 'update',
                    op_id: {$record.op_id},
                    status: 3,
                    amount: '{$order_amount}'
                };
                if (!$checkbox.prop("checked") && $input.val() == "") {
                    alert("請填寫查詢ID");
                } else if ($checkbox.prop("checked") && valid_tickets.length > 0) {
                    alert("請先處理以下查詢ID: " + valid_tickets.join(", "));
                } else if (!$checkbox.prop("checked") && $input.val() != "" && valid_tickets.indexOf($input.val()) === -1 && valid_tickets.length > 0) {
                    alert("請填寫正確的查詢ID");
                } else {
                    if (!$checkbox.prop("checked")) {
                        data["ticket_id"] = $input.val();
                    }
                    if ($("input[name=account_id]").length > 0) {
                        data["account_id"] = $("input[name=account_id]").val();
                    }
                    if (!$checkbox.prop("checked") && data["ticket_id"] != "" && valid_tickets.length == 0) {
                        if(confirm("請確認這是正確的查詢ID: " + data["ticket_id"])) {
                            window.location = "offline_payment.php?" + Object.keys(data).map(function(key) {return encodeURIComponent(key) + '=' + encodeURIComponent(data[key]);}).join('&')
                        }
                    } else {
                        window.location = "offline_payment.php?" + Object.keys(data).map(function(key) {return encodeURIComponent(key) + '=' + encodeURIComponent(data[key]);}).join('&')
                    }
                }
            })
            $div.append(table);
            $div.append($button);
            $popup = modal.create('確定付款', $div, '* 如需更改收款帳戶，必需先更改現時選擇的入帳戶口', 'md');
            modal.show($popup);
            turn_on_icheck();
        }
    })
})

$(document).on('mouseover', '.embed_file.embed_img', function (e) {
    $target = $(e.target).hasClass("embed_img") ? $(e.target) : $(e.target).parents(".embed_img");
    if ($target.children("div.edit_img").length == 0) {
        $div = $(
            "<div class='edit_img btn-group' role='group'>" +
                "<button type='button' class='btn btn-default img_enlarge'><i class='fa fa-search-plus'></i></button>" +
                "<button type='button' class='btn btn-default img_shrink'><i class='fa fa-search-minus'></i></button>" +
                "<button type='button' class='btn btn-default img_anticlockwise'><i class='fa fa-undo'></i></button>" +
                "<button type='button' class='btn btn-default img_clockwise'><i class='fa fa-redo'></i></button>" +
            "</div>"
        );
        $div.css({
            position: 'absolute',
            top: '20px',
            left: '30px',
        })
        $img_enlarge = $div.find("button.img_enlarge");
        $img_shrink = $div.find("button.img_shrink");
        $img_anticlockwise = $div.find("button.img_anticlockwise");
        $img_clockwise = $div.find("button.img_clockwise");
        $img_enlarge.click(function(){
            if (parseInt($target.attr("data-x")) < 3) {
                $target.attr("data-x", parseInt($target.attr("data-x")) + 1);
            }
        })
        $img_shrink.click(function(){
            if (parseInt($target.attr("data-x")) > 1) {
                $target.attr("data-x", parseInt($target.attr("data-x")) - 1);
            }
        })
        $img_anticlockwise.click(function(){
            $target.attr("data-r", (parseInt($target.attr("data-r")) + 3) % 4);
        })
        $img_clockwise.click(function(){
            $target.attr("data-r", (parseInt($target.attr("data-r")) + 1) % 4);
        })
        $target.append($div);
    }
})
</script>