<!-- $Id: optimize.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<!-- start form -->
<div class="form-div col-md-12 col-sm-12 col-xs-12">
<form method="post" action="database.php" name="theForm">
{$lang.chip_count}:{$num}
<input type="submit" value="{$lang.start_optimize}" class="btn btn-primary" />
<input type= "hidden" name= "num" value = "{$num}">
<input type= "hidden" name="act" value = "run_optimize">
</form>
</div>
<!-- end form -->
<!-- start list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table cellspacing='1' cellpadding='3' id='listTable'>
  <tr>
    <th>{$lang.table}</th>
    <th>{$lang.type}</th>
    <th>{$lang.rec_num}</th>
    <th>{$lang.rec_size}</th>
    <th>{$lang.rec_chip}</th>
    <th>{$lang.charset}</th>
    <th>{$lang.status}</th>
  </tr>
  {foreach from=$list  item=item}
    <tr>
      <td class="first-cell">{$item.table}</td>
      <td align ="left">{$item.type}</td>
      <td align ="right">{$item.rec_num}</td>
      <td align ="right">{$item.rec_size}</td>
      <td align ="right">{$item.rec_chip}</td>
      <td align ="left">{$item.charset}</td>
      <td align ="left">{$item.status}</td>
    </tr>
  {/foreach}
</table>
</div>
<!-- end  list -->
{literal}
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}