<style>
.goods_list_body div, .goods_list_head div {
    padding: 3px 5px;
    text-align: center;
}
.goods_list_body div a, .goods_list_head div a {
    text-decoration: underline;
}
.goods_list_body>.goods-col {
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
    padding: 2px 0px;
    border-top: 1px solid #ededed;
}
</style>
<div class=" x_panel">
    <div class="x_content">
        <section class="content invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12 invoice-header">
            <h1>
                <i class="icon icon-order-info"></i> 訂單信息
                {$order.status}
                <small class="pull-right">{$order.formated_add_time}</small>
            </h1>      </div>
            <!-- /.col -->
        </div>
        <!-- info row  -->
        <div class="row invoice-info">
            <!-- .col 基本資料&備註 -->
            <div class="col-md-6 col-lg-6 invoice-col">
            <!-- 基本資料 -->
            <div class="x_panel shadow">
                <h4>
                {$lang.base_info}
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a></li>
                    <li><a target="_blank" href="javascript:$('#info_search_form input[name=order_sn]').val({$order.order_sn});loadInfo();"><i class="fa fa-search-minus"></i></a></li>
                </ul>
                </h4>
                <div class="x_content">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width:20%">{$lang.label_order_sn}</th>
                                <td colspan="3">{$order.order_sn}{if $order.extension_code eq "group_buy"}<a href="group_buy.php?act=edit&id={$order.extension_id}">{$lang.group_buy}</a>{elseif $order.extension_code eq "exchange_goods"}<a href="exchange_goods.php?act=edit&id={$order.extension_id}">{$lang.exchange_goods}</a>{/if} [訂單ID： {$order.order_id}]</td>
                            </tr>
                            <tr>
                                <th>{$lang.label_user_name}</th>
                                <td colspan="3">{if $order.user_id > 0}<a href="javascript:$('#info_search_form input[name=user_name]').val('{$order.user_name}');loadInfo();">{$order.user_name}</a>{else}{$order.user_name|default:$lang.anonymous}{/if}</td>
                            </tr>
                            <tr>
                                <th>{$lang.label_payment}</th>
                                <td colspan="3">{if $order.pay_id > 0}{$order.origin_pay_name}{else}{$lang.require_field}{/if} ({$lang.action_note}: <span class="cellEdit_text" data-mkey="order_id" data-source="pay_note" data-key="{$order.order_id}">{if $order.pay_note}{$order.pay_note}{else}N/A{/if}</span>)</td>
                            </tr>
                            <tr>
                                <th>{$lang.label_shipping}</th>
                                <td colspan="3">{if $exist_real_goods}{if $order.shipping_id > 0}{$order.shipping_name}{else}{$lang.require_field}{/if}{if $order.insure_fee > 0}（{$lang.label_insure_fee}{$order.formated_insure_fee}）{/if}{/if}</td>
                            </tr>
                            <tr>
                                <th>{$lang.label_invoice_no}</th>
                                <td colspan="3">{if $order.shipping_id>0 and $order.shipping_status>0}<span>{if $order.invoice_no}{$order.invoice_no}{else}N/A{/if}</span>{/if}<div class="tracking_info"></div>
                            </tr>
                            {if $order.is_wholesale}
                            <tr class="blue">
                                <th style="width:30%">批發單 Invoice #:</th>
                                <td colspan="3">{$order.type_sn}</td>
                            </tr>
                            {/if}
                            <tr>
                                <th>{$lang.from_order}</th>
                                <td>
                                {$order.platform_display}
                                {if $order.platform neq ''} | {/if}
                                {$order.referer}
                                {foreach from=$goods_list item=goods}{if $goods.flashdeal_id}{assign var=is_flashdeal value=1}{/if}{/foreach}
                                {if $is_flashdeal}(閃購){/if}
                                </td>
                                <th>銷售人員：</th>
                                <td>{$order.salesperson}</td>
                            </tr>
                            <tr>
                                <th>{$lang.label_shipping_time}</th>
                                <td colspan="3">{$order.shipping_time}{if isset($order.shipping_operator)} | {$order.shipping_operator}{/if}</td>
                            </tr>
                            <tr>
                                <th>出貨人員：</th>
                                <td colspan="3">
                                {if $order.picker_and_packer}
                                    {$order.picker_and_packer}
                                {else}
                                    N/A | N/A
                                {/if}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 備註 -->
            <div class="x_panel shadow">
                <h4>
                {$lang.other_info}
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                    </li>
                </ul>
                </h4>
                <div class="x_content">
                <table class="table">
                    <tbody>
                    <tr>
                        <th style="width:20%">產品序號：</th>
                        <td>{$order.serial_numbers|nl2br}</td>
                    </tr>
                    <tr>
                        <th>訂貨備註：</th>
                        <td>{$order.data_order_remarks|nl2br}</td>
                    </tr>
                    <tr>
                        <th>{$lang.label_postscript}</th>
                        <td>{$order.data_postscript|nl2br}</td>
                    </tr>
                    <tr>
                        <th>{$lang.label_to_buyer}</th>
                        <td>{$order.to_buyer|nl2br}</td>
                    </tr>
                    <!-- {if $order.is_sa} -->
                    <tr>
                        <th class="bg-sa">代理銷售：</th>
                        <td class="bg-sa">{$order.sa_name|nl2br}</span> - <strong>代理訂單號：</strong>[{$order.sa_sn|nl2br}]</td>
                    </tr>
                    <!-- {/if}-->
                    </tbody>
                </table>
                </div>
            </div>
            </div>
            <!-- .col 帳單資料 -->
            <div class="col-md-12 col-lg-6 invoice-col">
                <div class="x_panel shadow">
                    <h4>
                    {$lang.fee_info}
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                        </li>
                    </ul>
                    </h4>
                    <div class="x_content">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th style="width:50%">{$lang.label_goods_amount}</th>
                            <td>{$order.formated_goods_amount}</td>
                        </tr>
                        <tr>
                            <th><span class="glyphicon glyphicon-minus red" aria-hidden="true"></span> {$lang.label_discount}</th>
                            <td>{$order.formated_discount}</td>
                        </tr>
                        <tr>
                            <th><span class="glyphicon glyphicon-minus red" aria-hidden="true"></span> 使用優惠券：</th>
                            <td>{$order.formated_coupon}{if $order.coupon_list} ({foreach from=$order.coupon_list item=coupon name=foo}<a href="coupon.php?act=info&amp;id={$coupon.coupon_id}" style="text-decoration: none;">{$coupon.coupon_code}</a>{if !$smarty.foreach.foo.last},{/if}{/foreach}){/if}</td>
                        </tr>
                        <tr class="underline">
                            <th><span class="glyphicon glyphicon-minus red" aria-hidden="true"></span> {$lang.label_integral}</th>
                            <td>{$order.formated_integral_money}</td>
                        </tr>
                        <tr class="blue">
                            <th>{$lang.label_order_amount}</th>
                            <td><strong>{$order.formated_total_fee}</strong></td>
                        </tr>
                        <tr>
                            <th>{if $order.pay_fee >= 0}<span class="glyphicon glyphicon-plus green" aria-hidden="true"></span> {$lang.label_pay_fee}{else}<span class="glyphicon glyphicon-minus red" aria-hidden="true"></span> 支付折扣：{/if}</th>
                            <td>{if $order.pay_fee >= 0}{$order.formated_pay_fee}{else}{$order.formated_pay_discount}{/if}</td>
                        </tr>
                        <tr>
                            <th><span class="glyphicon glyphicon-plus green" aria-hidden="true"></span> {$lang.label_shipping_fee}</th>
                            <td>{$order.formated_shipping_fee}{if $order.shipping_fod} (運費到付){/if} </td>
                        </tr>
                        <tr class="red underline">
                            <th><span class="glyphicon glyphicon-minus red" aria-hidden="true"></span> {$lang.label_money_paid}</th>
                            <td>{$order.formated_money_paid}</td>
                        </tr>
                        {if $order.order_amount >= 0}
                        <tr class="red">
                            <th>{$lang.label_money_dues}</th>
                            <td>
                            <strong>{$order.formated_order_amount}{if $order.payment_amount} ({$order.payment_amount}){/if}</strong>
                            </td>
                        </tr>
                        {else}
                        <tr class="green">
                            <th>{$lang.label_money_refund}</th>
                            <td>
                            <strong>{$order.formated_money_refund}</strong>
                            </td>
                        </tr>
                        {/if}
                        {if $order.money_refund_due > 0}
                        <tr class="dark">
                            <th>未申請退款：</th>
                            <td>
                            {$order.formated_money_refund_due}
                            <input name="refund" class="btn btn-default btn-xs" type="button" value="{$lang.refund}" onclick="location.href='order.php?act=process&func=load_refund&anonymous={if $order.user_id <= 0}1{else}0{/if}&order_id={$order.order_id}&refund_amount={$order.money_refund_due}'" />
                            {if $order.extension_code eq "group_buy"}<br />{$lang.notice_gb_order_amount}{/if}
                            </td>
                        </tr>
                        {/if}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 invoice-col">
                <!-- 收貨 -->
                <div class="x_panel shadow">
                    <h4>
                    {$lang.consignee_info}
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                        </li>
                    </ul>
                    </h4>
                    <table class="table x_content">
                    <tr>
                        <th width="30%">{$lang.label_consignee}</th>
                        <td>{$order.consignee|escape}</td>
                    </tr>
                    <tr>
                        <th>{$lang.label_email}</th>
                        <td>{$order.email}</td>
                    </tr>
                    <tr>
                        <th>{$lang.label_address}</th>
                        <td>
                        [{$order.region}] {$order.address|escape}
                        {if $order.zipcode}&nbsp;[{$lang.label_zipcode} {$order.zipcode|escape}]{/if}
                        </td>
                    </tr>
                    <tr>
                        <th>{$lang.label_tel}</th>
                        <td>{$order.tel|escape}</td>
                    </tr>
                    </table>
                </div>
            </div>
            <!-- /.col 訂單狀態&收貨 -->
            <!-- /.col 帳單資料 -->
        </div>
        <!-- /.row -->
        <div class="ln_solid"></div>
        <!-- /.row -->
        </section>
    </div>
    <!-- Table row Goods info -->
    <div class="x_panel border-radius shadow goods_table">
        <div class="goods_list_head">
            <div class="normal-header {if $order.is_sa}col-md-10 col-xs-10{else}col-md-12 col-xs-12{/if}">
            <div style="text-align:left;"class="col-md-5 col-xs-5">
                {$lang.goods_name} 
            </div>
            <div class="col-md-3 col-xs-3">
                {$lang.goods_price}
            </div>
            <div class="col-md-1 col-xs-1">
                {$lang.goods_number}
            </div>
            <div class="col-md-1 col-xs-1">
                出貨數量
            </div>
            <div class="col-md-2 col-xs-2">
                {$lang.subtotal}
            </div>
            </div>
            {if $order.is_sa}
            <div class="sa-header col-md-2">
            <div class="col-md-6">
                手續費
            </div>
            <div class="col-md-6">
                實價
            </div>
            </div>
            {/if}
        </div>
        <div class="goods_list_body">
            {foreach from=$goods_list item=goods}
            <div class="goods-col">
            <div class="normal-body {if $order.is_sa}col-md-10 col-xs-10{else}col-md-12 col-xs-12{/if}{if $goods.cant_delivery} bg-red{/if}">
                <div style="text-align:left;" class="col-md-5 col-xs-5">
                {if $goods.goods_id gt 0 && $goods.extension_code neq 'package_buy'}
                {$goods.goods_name}
                {if $goods.brand_name}{/if}
                {if $goods.is_gift}{if $goods.goods_price > 0}{$lang.remark_favourable}{else}{$lang.remark_gift}{/if}{/if}
                {if $goods.parent_id > 0}{$lang.remark_fittings}{/if}
                {elseif $goods.goods_id gt 0 && $goods.extension_code eq 'package_buy'}
                <a href="javascript:void(0)" onclick="setSuitShow({$goods.goods_id})">{$goods.goods_name}<span class="red">{$lang.remark_package}</span></a>
                <div id="suit_{$goods.goods_id}" style="display:none">
                    {foreach from=$goods.package_goods_list item=package_goods_list}
                        <a href="../goods.php?id={$package_goods_list.goods_id}" target="_blank">{$package_goods_list.goods_name}</a><br />
                    {/foreach}
                </div>
                {/if}
                {if $goods.replaced_qty gt 0}<span class="red"> (已換貨{$goods.replaced_qty}次)</span>{/if}
                {if $goods.repair_sn}<span class="red"> (維修單{$goods.repair_sn})</span>{/if}
                </div>
                <div class="col-md-3 col-xs-3">
                {$goods.formated_goods_price} {if $goods.is_vip_price}<span  class="red"> (VIP價錢)</span>{/if}
                </div>
                <div class="col-md-1 col-xs-1">
                {$goods.goods_number}
                </div>
                <div class="col-md-1 col-xs-1">
                {$goods.delivery_qty}
                </div>
                <div class="col-md-2 col-xs-1">
                {$goods.formated_subtotal}
                </div>
            </div>
            {if $order.is_sa}
            <div class="sa-body bg-sa col-md-2">
                <div class="col-md-6">
                {$goods.sa_rate} %
                </div>
                <div class="col-md-6">
                {$goods.formated_sa_subtotal}
                </div>
            </div>
            {/if}
            </div>
            {/foreach}
        </div>
        <div class="goods_list_footer">
            <div class="col-md-7 col-xs-7">
            &nbsp;
            {if $order.total_weight}
                <strong>{$lang.label_total_weight}</strong> {$order.total_weight}
            {/if}
            </div>
            <div class="col-md-5 col-xs-5 no-padding">
            <div style="text-align: {if $order.is_sa}right{else}center{/if};" class="normal-footer no-padding {if $order.is_sa}col-md-6 col-xs-6{else}col-md-12 col-xs-12{/if}">
                <div style="padding: 6px 0px !important;font-size: 16px;font-weight: 600;" class="col-md-6 col-xs-6 no-padding">
                <strong>{$lang.label_total}</strong>
                </div>
                <div style="border-top: 3px solid #ededed;padding: 6px 0px !important;font-size: 16px;font-weight: 600;" class="col-md-6  col-xs-6 no-padding">
                {$order.formated_goods_amount}
                </div>
            </div>
            {if $order.is_sa}
            <div style="border-top: 3px solid #ededed;" class="sa-footer col-md-6 col-xs-6 no-padding">
                <strong>{$formated_sa_total}</strong>
            </div>
            {/if}
            </div>
        </div>
        </div>
        <!-- /.col -->
    <div class="panel panel-dark shadow ">
    <h4 class="panel-heading">
        {$lang.action_info}
    </h4>
    <div class="panel-body">
        <div class="form-group">
            <table class="table table-dark-font">
                <thead>
                    <tr>
                        <th>{$lang.action_user}</th>
                        <th>{$lang.action_time}</th>
                        <th>{$lang.order_status}</th>
                        <th>{$lang.pay_status}</th>
                        <th>{$lang.shipping_status}</th>
                        <th>{$lang.action_note}</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$action_list item=action}
                    <tr>
                        <td nowrap="nowrap"><div>{$action.action_user}</div></td>
                        <td nowrap="nowrap"><div>{$action.action_time}</div></td>
                        <td nowrap="nowrap"><div>{$action.order_status}</div></td>
                        <td nowrap="nowrap"><div>{$action.pay_status}</div></td>
                        <td nowrap="nowrap"><div>{$action.shipping_status}</div></td>
                        <td style="word-break:break-all;">{$action.action_note|nl2br}</td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div id="confirm_quick_ship" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">一鍵出貨</h4>
                </div>
                <div class="modal-body">
                    <strong class="red">**注意: 此功能會將訂單: {$order.order_sn} 所有可出貨產品出貨！<br></strong>
                    {if $cant_delivery}
                    <div style="color:red;">以下產品只會被部分出貨/不會被出貨<br>
                        {foreach from=$cant_delivery item=goods}
                        {$goods}
                        {/foreach}
                    </div>
                    {/if}
                    <div class="col-sm-12 form-group"><strong>{$lang.label_shipping} {if $order.shipping_id > 0}{$order.shipping_name}{else}{$lang.require_field}{/if}</strong></div>
                    <div class="col-sm-12 form-inline">
                        {$lang.label_invoice_no}
                        <input class="form-control" name="invoice_no" type="text" value="{$delivery_order.invoice_no}">
                        <select class="form-control" name="logistics_id" id="logistics_id">
                            <option value="-1">{$lang.select_please}</option>
                            {foreach from=$logistics_list item=logistics}
                            <option value="{$logistics.logistics_id}">{$logistics.logistics_name}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <input name="quick_ship" type="submit" value="{$lang.op_quick_ship}" class="btn btn-primary" onclick="check_selected_logistics(this)"/>
                    <input type="button" value="{$lang.op_cancel}" data-dismiss="modal" class="btn btn-danger"/>
                </div>
            </div>
        </div>
    </div>
</div>