<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style>

.popup_block {
    text-align: center;
    display: inline;
    padding: 4px;
}

.stocktake_dropdown_menu li a {
    font-size: 13px;
    padding: 7px 20px;
    line-height: 1.928571;
}

.order_column_tr {
    background-color: #2f75b5;
    color:white;
}

.link_text {
    color:white;
}

.tip_block{
    position: absolute;
    left: 60px;
    top: 20px;
    width: 250px;
    /* height: 50px; */
    border: 1px solid;
    background: #ffffa6;
    display: none;
    z-index: 1;
    vertical-align: middle;
    text-align: left;
    line-height: 28px;
    padding-left: 5px;
}

.order-status-label.red{
    background: #5cb85c;;
}

.icon-ship-hover{
    display: none !important;
}

.order_sn_block {
    position: relative;
}

.order_progress_tbl {
    display: inline-block;
    width:100%;
}
.tile_count {
    margin:0px;
}

.tile_count .tile_stats_count .count {
    font-size: 23px;
    line-height: 30px;
}
.tile_count .tile_stats_count {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.scroll_block {
    overflow-y: scroll;
    height: 796px;
}

.order_list_block {
    width:65%;
    display: inline-block;
}

.partially_shipped_row td {
  background-color: #F6C8CA !important;
}

table.table-bordered.dataTable td.table_td_action {
  max-width: 300px;
  min-width: 40px;
}
span.all_status {
  font-size: 18px;
}
@media (min-width: 700px) {
span.consignee {
  font-size: 14px;
  float: left;
  text-align: left;
  line-height: 20px;
  font-weight: 300;
}
}
span.consignee i {
  width: 14px;
}
td.td_consignee {
  width: 600px;
}
td.td_all_status {
    min-width: 115px;
}
td.td_order_sn {
    min-width: 135px;
}

.logistic_block {
  cursor: pointer;
}

.fa-star.enable {
  font-size: 20px;
  color:#f0ad4e;
  cursor: pointer;
}

.fa-star.disable {
  font-size: 20px;
  color:grey;
  cursor: pointer;
}

.tile-stats h3 {
  font-size: 14pt;
  padding: 10px 0 6px;
  padding-right: 35px;
  height: 50px;
}

@media only screen and (min-height: 850px) {
  .tile-stats {
    min-height: 80px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-height: 770px) and (max-height: 849px) {
  .tile-stats {
    min-height: 70px;
    margin-bottom: 6px;
  }

  .right_col .breadcrumb {
    margin-bottom: 10px;
  }

}

@media only screen and (max-height: 769px) {
  .tile-stats {
    min-height: 65px;
    margin-bottom: 4px;
    padding-bottom: 3px;
  }

  .tile-stats h3 {
    font-size: 13pt;
  }

  .right_col .breadcrumb {
    margin-bottom: 10px;
  }
}


.tile-stats .count {
  font-size: 34px;
  position: absolute;
  right: 10px;
  padding-bottom: 20px;
  top: -3px;
}

.tile-stats p {
  margin-top: 2px;
  font-size: 12px;
}

.address-label {
  padding: 1px 3px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  color: white;
  font-size: 12px;
  margin: 0 1px;
}

.address-label.label-red {
  background-color: #c9302c;
  border-color: #ac2925;
}

.address-label.label-green {
  background-color: #449d44;
  border-color: #398439;
}

.address-label.label-green-red {
  background-color: #449d44;
  border-color: #c9302c;
}

.address-label.label-blue {
  background-color: #286090;
  border-color: #204d74;
}

.address-label.label-orange {
  background-color: #ec971f;
  border-color: #d58512;
}

.address-label.label-gray {
  color: #333 !important;
  background-color: #e6e6e6;
  border-color: #adadad;
}

</style>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" ">
    <div style="width:35%" >
        <div class=" top_tiles">
                <div class="animated flipInY  col-sm-6  logistic_block" data-logistic-type="star" data-shipping-id="0" >
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                    <div id="count_star_0" class="count">{$ship_detail[star][0][size]}</div>
                    <h3>已標記跟進</h3>
                    <p id="cut_off_star_0" >截單時間:-</p>
                  </div>
                </div>
                <div class="animated flipInY  col-sm-6  logistic_block" data-logistic-type="express_hk" data-shipping-id="3" >
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                    <div id="count_express_hk_3" class="count">{$ship_detail[express_hk][3][size]}</div>
                    <h3>速遞</h3>
                    <p>截單時間:{$ship_detail[express_hk][3][cut_off_time]}</p>
                  </div>
                </div>
                <div class="animated flipInY  col-sm-6  logistic_block" data-logistic-type="express_hk" data-shipping-id="9" >
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-comments-o"></i></div>
                    <div id="count_express_hk_9" class="count">{$ship_detail[express_hk][9][size]}</div>
                    <h3>便利店 - 順豐</h3>
                    <p>截單時間:{$ship_detail[express_hk][9][cut_off_time]}</p>
                  </div>
                </div>
                <div class="animated flipInY  col-sm-6 logistic_block" data-logistic-type="locker" data-shipping-id="8" >
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
                    <div  id="count_locker_8" class="count">{$ship_detail[locker][8][size]}</div>
                    <h3>智能櫃 - 順便智能櫃</h3>
                    <p>截單時間:{$ship_detail[locker][8][cut_off_time]}</p>
                  </div>
                </div>
                <div class="animated flipInY  col-sm-6  logistic_block" data-logistic-type="locker" data-shipping-id="11">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div id="count_locker_11" class="count">{$ship_detail[locker][11][size]}</div>
                    <h3>智能櫃 - 派寶箱</h3>
                    <p>截單時間:{$ship_detail[locker][11][cut_off_time]}</p>
                  </div>
                </div>
                <div class="animated flipInY  col-sm-6 logistic_block" data-logistic-type="locker" data-shipping-id="12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
                    <div id="count_locker_12" class="count">{$ship_detail[locker][12][size]}</div>
                    <h3>智能櫃 - Lockerlife</h3>
                    <p>截單時間:{$ship_detail[locker][12][cut_off_time]}</p>
                </div>
                </div>
                <div class="animated flipInY  col-sm-6 logistic_block" data-logistic-type="locker" data-shipping-id="13">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div id="count_locker_13" class="count">{$ship_detail[locker][13][size]}</div>
                    <h3>智能櫃 - 中通智能櫃</h3>
                    <p>截單時間:{$ship_detail[locker][13][cut_off_time]}</p>
                </div>
                </div>
                <div class="animated flipInY  col-sm-6 logistic_block" data-logistic-type="express_hk" data-shipping-id="10">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div id="count_express_hk_10" class="count">{$ship_detail[express_hk][10][size]}</div>
                    <h3>順豐服務中心</h3>
                    <p>截單時間:{$ship_detail[express_hk][10][cut_off_time]}</p>
                </div> 
                </div>
                <div class="animated flipInY  col-sm-6  logistic_block" data-logistic-type="express_hk" data-shipping-id="15">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div id="count_express_hk_15" class="count">{$ship_detail[express_hk][15][size]}</div>
                    <h3>郵局 - 中通</h3>
                    <p>截單時間:{$ship_detail[express_hk][15][cut_off_time]}</p>
                </div>
                </div>
                <div class="animated flipInY  col-sm-6  logistic_block" data-logistic-type="express_hk" data-shipping-id="16">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div id="count_express_hk_16" class="count">{$ship_detail[express_hk][16][size]}</div>
                    <h3>自取點 - 中通</h3>
                    <p>截單時間:{$ship_detail[express_hk][16][cut_off_time]}</p>
                </div>
                </div>
                <div class="animated flipInY  col-sm-6 logistic_block" data-logistic-type="express_oversea" data-shipping-id="0">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div id="count_express_oversea_0" class="count">{$ship_detail[express_oversea][0][size]}</div>
                    <h3>海外</h3>
                    <p>截單時間:{$ship_detail[express_oversea][0][cut_off_time]}</p>
                </div>
                </div>
                <div class="animated flipInY  col-sm-6 logistic_block" data-logistic-type="express_cn" data-shipping-id="3">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div id="count_express_cn_3" class="count">{$ship_detail[express_cn][3][size]}</div>
                    <h3>中國</h3>
                    <p>截單時間:{$ship_detail[express_cn][3][cut_off_time]}</p>
                </div>
                </div>

                <div class="animated flipInY  col-sm-6  logistic_block" data-logistic-type="fls" data-shipping-id="0">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div id="count_fls_0" class="count">{$ship_detail[fls][0][size]}</div>
                    <h3>FLS</h3>
                    <p>截單時間:{$ship_detail[fls][0][cut_off_time]}</p>
                </div>
                </div>
                <div class="animated flipInY  col-sm-6  logistic_block" data-logistic-type="wilson" data-shipping-id="0">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div id="count_wilson_0" class="count">{$ship_detail[wilson][0][size]}</div>
                    <h3>Wilson</h3>
                    <p>截單時間:{$ship_detail[wilson][0][cut_off_time]}</p>
                </div>
                </div>
                <div class="animated flipInY  col-sm-6  logistic_block" data-logistic-type="hold" data-shipping-id="0">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div id="count_hold_0" class="count">{$ship_detail[hold][0][size]}</div>
                    <h3>暫緩出貨</h3>
                    <p>截單時間:-</p>
                </div>
                </div>
        </div>
    </div>

    <div class="order_list_block">
        <div class=" col-xs-12 scroll_block">
            <div class=" x_panel">
                <div class="x_title">
                    <h2></h2>
                    <div style="" >
                        <form action="javascript:searchOrder('search_form')" name="searchForm" class="form-inline">
                            <input placeholder="訂單編號" class="form-control" name="order_sn" type="text" id="order_sn" size="15" value="">
                            <input style="display:none;" placeholder="產品ID(可用逗號,分隔多個ID)" size="25" class="form-control" type="text" name="includes_goods" value="">
                            <input type="submit" value=" 搜尋 " class="btn btn-success form-btn">
                            <input class="flat" type="checkbox" name="display_order_goods" id="display_order_goods" value="1"{if $display_order_goods} checked="checked"{/if} onclick="searchOrder()"/> <label for="display_order_goods">顯示產品</label>
    
                        </form>  
                    </div> 
                    <div class="clearfix"></div>
                </div>
                <div class="list-div order_progress_tbl" id="listDiv" style="margin-top: 00px;">
                    <form method="post" action="order.php?act=operate" name="listForm" onsubmit="return check()">
                    <table id="order" class="table table-bordered table-striped  bulk_action "><!--  add if need :text-nowrap -->
                        <thead>
                          <tr class="headings">
                            <th data-sort="0" width=80 data-id="star_status" data-key="order_id">標記<i class="fa fa-star-o"></i></th>
                            <th data-sort="0" data-id="ex_goods_thumb" data-type="image" data-key="order_id">最貴產品</th>
                            <th width="110" data-id="order_sn" data-url="order.php?act=info&amp;order_id={order_id}" data-class="td_order_sn">
                              <input type="checkbox" id="check-all" class="flat">{$lang.order_sn}
                              
                            </th>
                            <th data-id="add_time" data-value="short_order_time" data-order="1">{$lang.order_time}</th>
                            <th data-id="consignee" data-value="consignee_info"data-sort="0" data-class="td_consignee">{$lang.consignee}</th>
                            <th data-id="order_total" data-value="formated_order_total">{$lang.total_fee}</th>
                            <th data-id="all_status" data-sort="0" data-class="td_all_status">{$lang.all_status}</th>
                           
                          </tr>
                        </thead>
                        <tbody>
                        <!-- Ajax -->
                        </tbody>
                      </table>


                      <div class="col-md-12 col-sm-12 col-xs-12">
                          <!-- #BeginComment -->
                        <input name="print" type="submit" id="btnSubmit4" value="{$lang.print_order}" class="btn btn-primary" onclick="this.form.target = '_blank'" />
                        <input name="purchase" type="submit" id="btnSubmit5" value="{$lang.create_purchase_order}生成采购订单" class="btn btn-primary" onclick="this.form.target = '_self'" />
                        <!-- #EndComment -->
                        <!--input name="b2_export" type="submit" id="btnSubmit6" value="輸出B2托運單" class="btn btn-primary" onclick="this.form.target = '_self'" /-->
                        <input name="order_export" type="submit" id="btnSubmit8" value="輸出訂單發貨單號" class="btn btn-primary" onclick="this.form.target = '_self'" />
                        <input name="mass_delivery" type="button" id="btnSubmit7" value="大量投寄" class="btn btn-primary"/>
                        <input name="batch" type="hidden" value="1" />
                        <input name="order_id" type="hidden" value="" />
                      </div>
                    </form>
                    <form id='mass_form' type='POST' action='order.php' class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <h3 class="modal-title">大量投寄</h3>
                            </div>
                            <div class="modal-body form-horizontal form-label-left">
                              <div id="alert_text" class='red'></div>
                              <input name='act' value='mass_delivery' type='hidden'>
                              <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">物流公司</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <select class="form-control" name="logistics">
                                    {if $selected_status != 111}
                                    <option value="sfplus">順豐到家</option>
                                    <option value="tqb">宅急便B2(Web)</option>
                                    <option value="sf">順豐</option>
                                    <option value="storepicking">門店自取</option>
                                    <option value="lockerlife">Lockerlife</option>
                                    <option value="pakpobox">pakpobox</option>
                                    <option value="eflocker">順便智能櫃</option>
                                    <option value="ztopickup">中通</option>
                                    <option value="dpex">DPEX</option>
                                    <option value="fedex">Fedex</option>
                                    <option disabled="disabled">----------</option>
                                    <option value="wilson">Wilson</option>
                                    <option value="other">其他</option>
                                    {else}
                                    <option value="wilson">Wilson</option>
                                    {/if}
                                  </select>
                                </div>
                              </div>
                              <input name='init' value='1' type='hidden'>
                              <input name='total' value='' type='hidden'>
                              <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">銷售人員</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <select class="form-control" name='salesperson' id='batchSalesperson'>
                                    <option value=''>{$lang.select_please}</option>
                                    {foreach from=$salesperson_list item=salesperson}
                                    <option value={$salesperson}>{$salesperson}</option>
                                    {/foreach}
                                  </select>
                                </div>
                              </div>
                              {if $selected_status == 109}
                              <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                      <input class="flat" type="checkbox" name="is_fls" id="is_fls" value="1" checked="checked" onclick="searchOrder()"/> <label for="is_fls">FLS代出</label>
                                </div>
                              </div>
                              {/if}
                              <div class="cleanfix"></div>
                            </div>
                            <div class="modal-footer">
                              <input type="submit" value="批量出貨" class="btn btn-default" id="batchBtn" />
                              <input name='order_sn' value='' type='hidden'>
                            </div>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="popup_remark_modal">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">訂單跟進備註</h4>
        </div>
        <div class="modal-body">
            <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">備註 : <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control col-md-7 col-xs-12" id="popup_remark_data" rows="20" cols="54" placeholder=""></textarea>
                </div>
            </div>   
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class=" btn btn-success" type="button" id="submit_remark_data" name="submit_import_data" value="確定" placeholder="">
                </div>
            </div>
            </form>
            <div id="notice_message" class="form-div" style="display:none">
                <div id="success_message"></div>
                <div id="error_message"></div>
            </div>
        </div>
    </div>
    </div>
</div>

{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
   // 开始检查订单
   $(window).height();
   console.log($(window).height());
   $(".scroll_block").css('height',$(window).height()-200);
}

yohoTable.rowCallback = function($row, $order, dataIndex) {
  if($order.po_sn_list) {
    $div = '<p class="red">代理送貨已出PO<br>'+ $order.po_sn_list +'</p>';
    $($row).find('.order_sn').closest('td').append($div);

  }
  if($order.reship_order) {
    $($row).find('.td_all_status').addClass('bg-red');
  }
  if($order.fully_paid == 1) {
    $($row).find('.order_sn').addClass('green');
  } else $($row).find('.order_sn').removeClass('green');
  if($order.user_id > 0) {
    $p = $('<a>'+$order.buyer+'</a><br>');
    $p.attr('href', "users.php?act=list&keywords="+$order.buyer);
  } else {
    $p = $order.buyer+'<br>';
  }
  $($row).find('.order_sn').attr('id', 'order_'+dataIndex);
  $($row).find('.ex_goods_thumb>img').attr('id', 'img_'+dataIndex);
  $($row).find('.order_total').closest('td').append('<br>'+$order.pay_name);
  if($order.risky)$($row).find('.order_total').closest('td').append('<br><b class="red">可疑交易</b>');
  $($row).find('.add_time').prepend($p);
  $($row).attr('id', $order.order_id);
}
var $filter = [];

yohoTable.lengthMenu = [25, 50, 100, 150, 200, 250];
yohoTable.drawCallback = function(setting,api) {
    if($filter.display_order_goods == 1) {
    $('#order').DataTable().column(0).visible(false);
    $data = api.rows( {page:'current'} ).data();
    $.each($data, function($k, $order){
      $tr = $("#"+$order.order_id);
      $colspan = $tr.children('td').length;
      $html = '<tr>'+
        '<td colspan="'+$colspan+'" style="border-bottom: solid 1px #BBDDE5;">'+
          '<table class="table ">'+
            '<tr>'+
              '<td scope="col"><div align="center"><strong>{$lang.goods_name}</strong></div></td>'+
              '<td scope="col"><div align="center"><strong>{$lang.goods_sn}</strong></div></td>'+
              '<td scope="col"><div align="center"><strong>{$lang.goods_price}</strong></div></td>'+
              '{if $smarty.session.manage_cost}'+
              '<td scope="col"><div align="center"><strong>每件成本</strong></div></td>'+
              '{/if}'+
              '<td scope="col"><div align="center"><strong>{$lang.goods_number}</strong></div></td>'+
              '<td scope="col"><div align="center"><strong>{$lang.storage}</strong></div></td>'+
              '<td scope="col"><div align="center"><strong>出貨數量</strong></div></td>'+
              '<td scope="col"><div align="center"><strong>{$lang.subtotal}</strong></div></td>'+
            '</tr>';
        $.each($order.goods_list, function($k, $goods){
        $html += '<tr>'+
          '<td>'+
            '<img src="'+$goods.goods_thumb+'" style="width: 32px; height: 32px; vertical-align: middle;" class="order_goods_thumb" />'+
              '<a href="../goods.php?id='+$goods.goods_id+'" target="_blank">'+$goods.goods_name+'</a>'+
          '</td>'+
          '<td>'+$goods.goods_sn+'</td>'+
          '<td><div align="right">'+$goods.formated_goods_price+'</div></td>'+
          '{if $smarty.session.manage_cost}'+
          '<td><div align="right">'+$goods.formated_cost+'</div></td>'+
          '{/if}'+
          '<td><div align="right">'+$goods.goods_number+'</div></td>'+
          '<td><div align="right">'+$goods.storage+'</div></td>'+
          '<td><div align="right">'+$goods.send_number+'</div></td>'+
          '<td><div align="right">'+$goods.formated_subtotal+'</div></td>'+
        '</tr>';
        });
        $html += '</table>'+
        '</td>'+
      '</tr>';
      $tr.after($html);
    });
  } else {
    $('#order').DataTable().column(0).visible(true);
  }
    
  bind_order_event();
  
};

// yohoTable.table_id = "order_progress_1";
var $table = yoho_dataTable();

// var yohoTable2 = {
//     query: 'query_delay',
//     table_id: "order_progress_2",
//     lengthMenu: [50, 100, 150],
// };

// yohoTables.push(yohoTable2);
// $table2 = yoho_dataTable(1);

// $(document).on('mouseout','.order_sn_block',function(){
//     $(this).find(".tip_block").hide();
//     $(this).parents('tr').removeClass('stopFlicker');
// });

// $(document).on('mouseover','.order_sn_block',function(){
//     $(this).find(".tip_block").show();
//     $(this).parents('tr').addClass('stopFlicker');
// });

// $(document).on('ifChanged', 'input:checkbox' ,function () {
//     var checkCount = $(".bulk_action input[name='table_records']:checked").length;
//     if (checkCount > 0) {
//         $(".bulk_confirm_action").css('visibility', 'visible');
//     } else {
//         $(".bulk_confirm_action").css('visibility', 'hidden');
//     }
// });

$('#btnSubmit7').click(function(){
    var $sn_list = check(1);
    $sn_list = $sn_list.split(',');
    var $sn_total = $sn_list.length;
    var $text = "你確定要將此"+$sn_total+"張訂單出貨? 將會直接扣除可出貨庫存並出貨";
    $("#alert_text").html($text);
    $("#mass_form input[name=order_sn]").val($sn_list);
    $("#mass_form input[name=total]").val($sn_total);
    $('#batchBtn').prop('disabled', true);
    // $("#mass_form").show();
    $('#mass_form').modal('show');
});
$('#batchBtn').click(function(){
    this.disabled=true;
    $("#mass_form").submit();
});
$('#batchSalesperson').on('change', function() {

    if(this.value == '') $('#batchBtn').prop('disabled', true);
    else $('#batchBtn').prop('disabled', false);
});

$(document).on('click','.logistic_block',function(){
    var logistic_type = $(this).data('logistic-type');
    var shipping_id = $(this).data('shipping-id');
 
    $filter.logistic_type = logistic_type;
    $filter.shipping_id = shipping_id;

    searchOrder('logistic');

    $(".tile-stats").css('background',"white");

    $(this).find(".tile-stats").css('background',"#1dcad3");
    
    //$table.search($filter);
});

var current_progress_id = 0;

$(document).ready(function(){
    //$('#menu_toggle').trigger('click');
})

$(document).on('change','#delay_ship_status',function(){
    var $filter = {};
    $filter.ship_status = $(this).val();
   // $table2.search($filter);
});

$(document).on('change','#remain_ship_status',function(){
    var $filter = {};
    $filter.ship_status = $(this).val();
    $table.search($filter);
});

$(document).on('click',".fa-star", function(){
    var $this_target = $(this);
    var tag_status = $(this).data('tag-status');

    $.ajax({
      url: 'order_ship.php',
      type: 'post',
      cache: false,
      data: {
          'act': 'update_order_tag_id',
          'tag_id': $(this).data('tag-id'),
          'order_id': $(this).data('order-id'),
          'tag_status': $(this).data('tag-status'),
      },
      dataType: 'json',
      success: function (result) {
        if (result['error'] == 0) {
            if (tag_status == 1) {
              $this_target.data('tag-status',0);
              $this_target.removeClass('disable').removeClass('far').removeClass('fas');
              $this_target.addClass('enable').addClass('fas');
            } else {
              $this_target.data('tag-status',1);
              $this_target.removeClass('enable').removeClass('far').removeClass('fas');;
              $this_target.addClass('disable').addClass('far');
            }

            // update taged count
            update_order_ship_summary();
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });

});

function update_order_ship_summary()
{
  $.ajax({
      url: 'order_ship.php',
      type: 'post',
      cache: false,
      data: {
          'act': 'update_order_ship_summary'
      },
      dataType: 'json',
      success: function (result) {
        if (result['error'] == 0) {
          var summary = result.content;
          $.each(summary,function(logistic_key,items){
            $.each(items,function(shipping_id,shipping_detail){           
                $("#count_"+logistic_key+'_'+shipping_id).html(shipping_detail.size);
            });
          });
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
}


function check()
{
    var snArray = new Array();
    var eles = document.forms['listForm'].elements;
    eles['order_id'].value = $table.getSelectValue();
    return eles['order_id'].value;
}

function explode(){
    update_order_ship_summary();
}

//getDashboardHtml();
setInterval(explode, 60000);

    /**
     * 显示订单商品及缩图
     */
    var show_goods_layer = 'order_goods_layer';
    var goods_hash_table = new Object;
    var timer = new Object;

    /**
     * 绑定订单号事件
     *
     * @return void
     */
    function bind_order_event()
    {
        var order_seq = 0;
        while(true)
        {
            var order_sn = Utils.$('order_'+order_seq);
            var order_img = Utils.$('img_'+order_seq);
            if (order_sn)
            {
                order_sn.onmouseover = function(e)
                {
                    try
                    {
                        window.clearTimeout(timer);
                    }
                    catch(e)
                    {
                    }
                    var order_id = $(this).closest('tr').attr('id');
                    show_order_goods(e, order_id, show_goods_layer);
                }
                order_sn.onmouseout = function(e)
                {
                    hide_order_goods(show_goods_layer)
                }
            }
            else
            {
                break;
            }
            if (order_img)
            {
                order_img.onmouseover = function(e)
                {
                    try
                    {
                        window.clearTimeout(timer);
                    }
                    catch(e)
                    {
                    }
                    var order_id = $(this).closest('tr').attr('id');
                    show_order_goods(e, order_id, show_goods_layer);
                }
                order_img.onmouseout = function(e)
                {
                    hide_order_goods(show_goods_layer)
                }
            }
            order_seq++;
        }
    }

    /**
     * 建立订单商品显示层
     *
     * @return void
     */
    function create_goods_layer(id)
    {
        if (!Utils.$(id))
        {
            var n_div = document.createElement('DIV');
            n_div.id = id;
            n_div.className = 'order-goods';
            document.body.appendChild(n_div);
            Utils.$(id).onmouseover = function()
            {
                window.clearTimeout(window.timer);
            }
            Utils.$(id).onmouseout = function()
            {
                hide_order_goods(id);
            }
        }
        else
        {
            Utils.$(id).style.display = '';
        }
    }

    /**
     * 显示订单商品数据
     *
     * @return void
     */
    function show_order_goods(e, order_id, layer_id)
    {
        create_goods_layer(layer_id);
        $layer_id = Utils.$(layer_id);
        $layer_id.style.position = 'absolute';
        $layer_id.style.top = (Utils.y(e) + 12) + 'px';
        $layer_id.style.left = (Utils.x(e) + 12) + 'px';
        if (typeof(goods_hash_table[order_id]) == 'object')
        {
            response_goods_info(goods_hash_table[order_id]);
        }
        else
        {
            $layer_id.innerHTML = loading;
            Ajax.call('order.php?is_ajax=1&act=get_goods_info&order_id='+order_id, '', response_goods_info , 'POST', 'JSON');
        }
    }

    /**
     * 隐藏订单商品
     *
     * @return void
     */
    function hide_order_goods(layer_id)
    {
        $layer_id = Utils.$(layer_id);
        window.timer = window.setTimeout('$layer_id.style.display = "none"', 500);
    }

    /**
     * 处理订单商品的Callback
     *
     * @return void
     */
    function response_goods_info(result)
    {
        if (result.error > 0)
        {
            alert(result.message);
            hide_order_goods(show_goods_layer);
            return;
        }
        if (typeof(goods_hash_table[result.content[0].order_id]) == 'undefined')
        {
            goods_hash_table[result.content[0].order_id] = result;
        }
        Utils.$(show_goods_layer).innerHTML = result.content[0].str;
    }

    function reset_order_search_filter() {
        $filter['search_form'] = false;
        $filter['order_sn'] = '';
    }

    var $filter = [];
    function searchOrder(type = '')
    {
        if (type != '') {
            reset_order_search_filter();
        }
        
        if (type == 'logistic') {
            $filter['search_form'] = 0;
            $("#order_sn").val('');
        } else if (type == 'search_form') {
            $filter['search_form'] = 1;
            $filter['order_sn'] = Utils.trim(document.forms['searchForm'].elements['order_sn'].value);
            $filter['logistic_type'] = 'search_form';
            $filter['shipping_id'] = 0;
            if ($filter['order_sn'] == '') {
                return false;
            }
        }

        $filter['display_order_goods'] = $('#display_order_goods').attr("checked") ? 1 : 0;
        
        $table.search($filter);
    }

//-->
</script>
{/literal}

