<!-- $Id: order_stats.htm 16420 2009-07-02 06:56:57Z liubo $ -->
{include file="pageheader.htm"}
<!-- Chart -->
<script src="js/Chart.min.js"></script>
<script src="js/Chart.bundle.min.js"></script>
<script src="js/Chart.PieceLabel.min.js"></script>
<div class="x_panel">
  <strong>{$lang.overall_sum}</strong>:&nbsp;&nbsp;{$total_turnover}&nbsp;&nbsp;&nbsp;
  <strong>{$lang.overall_choose}</strong>:&nbsp;&nbsp;{$click_count}&nbsp;&nbsp;&nbsp;
  <strong>{$lang.kilo_buy_amount}</strong>:&nbsp;&nbsp;{$click_ordernum}&nbsp;&nbsp;&nbsp;
  <strong>{$lang.kilo_buy_sum}</strong>:&nbsp;&nbsp;{$click_turnover}
</div>
<div class="x_panel form-div col-md-12 col-sm-12 col-xs-12">
  <form action="" method="post" id="selectForm" name="selectForm" class="form-inline">
    {$lang.start_date}&nbsp;&nbsp;
    <input name="start_date" value="{$start_date}" class="form-control" type="text" data-type="date" />
    {$lang.end_date}&nbsp;&nbsp;
    <input name="end_date" value="{$end_date}" class="form-control" type="text" data-type="date" />
    <input type="submit" name="submit" id="submit" value="{$lang.query}" class="btn btn-success form-btn" />
    {insert name=daterange_group}
  </form>
  <form action="" method="post" id="selectForm" name="selectForm" class="form-inline">
    {$lang.select_year_month}&nbsp;&nbsp;
    <!--{foreach from=$start_date_arr item=start_date key=k}-->
    {if $k > 0}
      &nbsp;+&nbsp;
    {/if}
    <input name="year_month[]" value="{$start_date}" class="form-control" type="text" data-type="month" />
    <!--{/foreach}--><input type="hidden" name="is_multi" value="1" />
    <input type="submit" name="submit" value="{$lang.query}" class="btn btn-success form-btn" />
  </form>
  <div style="text-align:right">*此報表不包括批發訂單及代理銷售</div>
  <div style="text-align:right">*VIP訂單統計以2017年9月12日開始為準</div>
</div>
<div class=" x_panel">
  <div class="row">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
      <li role="presentation" {if $selected eq 'normal' or !$selected}class="active"{/if}>
        <a href="#normal-table" role="tab" data-toggle="tab" aria-expanded="true">所有訂單概況</a>
      </li>
      <li  role="presentation" {if $selected eq 'cn'}class="active"{/if}>
        <a id='cn_li' href="#cn-table" role="tab" data-toggle="tab" aria-expanded="true">非香港訂單概況</a>
      </li>
    </ul>
  </div>
  <div class="tab-content" >
    <div role="tabpanel" class="tab-pane fade {if $selected eq 'normal' or !$selected}active{/if} in" id="normal-table">
      <!-- 訂單概況 -->
      <div class="col-md-6 col-sm-6 col-xs-12 ">
        <div class=" x_panel">
          <div class="x_title">
            <h2>{$lang.order_circs}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
          {if $is_multi eq '0'}
            <div class="col-md-12"><canvas data-type="pie" id="order" height="150"></canvas></div>
          {else}
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553520%00"
              codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
              width="565" height="420" id="FCColumn2" align="middle">
              <PARAM NAME="FlashVars" value="&dataXML={$order_general_xml}">
              <PARAM NAME=movie VALUE="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%">
              <param NAME="quality" VALUE="high">
              <param NAME="bgcolor" VALUE="#FFFFFF">
              <param name="wmode" value="opaque" />
              <embed src="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%" FlashVars="&dataXML={$order_general_xml}" quality="high" bgcolor="#FFFFFF"  width="90%" height="200%" name="FCColumn2" wmode="opaque" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
            </object>
          {/if}
          </div>
        </div>
      </div>
      <!-- End 訂單概況 -->
      <!-- 配送方式 -->
      <div class="col-md-6 col-sm-6 col-xs-12 ">
        <div class=" x_panel">
          <div class="x_title">
              <h2>{$lang.shipping_method}</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
            {if $is_multi eq '0'}
              <div class="col-md-12"><canvas data-type="pie" id="ship" height="150"></canvas></div>
              <div class="col-md-12">{$ship}
                <table class="table table-striped table-bordered">
                  {foreach from=$dataset_group.ship.labels key=sk item=s}
                  <tr><td>{$s}</td><td>$ {$dataset_group.ship[data2][$sk]}</td></tr>
                  {/foreach}
                </table>
              </div>
            {else}
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553520%00"
                codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
                width="565" height="420" id="FCColumn2" align="middle">
                <PARAM NAME="FlashVars" value="&dataXML={$ship_xml}">
                <PARAM NAME=movie VALUE="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%">
                <param NAME="quality" VALUE="high">
                <param NAME="bgcolor" VALUE="#FFFFFF">
                <param name="wmode" value="opaque" />
                <embed src="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%" FlashVars="&dataXML={$ship_xml}" quality="high" bgcolor="#FFFFFF"  width="90%" height="200%" name="FCColumn2" wmode="opaque" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
              </object>
            {/if}
            </div>
          </div>
        </div>
      <!-- End 配送方式 -->
      <!-- 地區分佈 -->
      <div class="col-md-6 col-sm-6 col-xs-12 ">
        <div class=" x_panel">
          <div class="x_title">
            <h2>{$lang.country_distribution}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
          {if $is_multi eq '0'}
            <div class="col-md-12"><canvas data-type="pie" id="country" height="150"></canvas></div>
          {else}
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553520%00"
              codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
              width="565" height="420" id="FCColumn2" align="middle">
              <PARAM NAME="FlashVars" value="&dataXML={$country_xml}">
              <PARAM NAME=movie VALUE="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%">
              <param NAME="quality" VALUE="high">
              <param NAME="bgcolor" VALUE="#FFFFFF">
              <param name="wmode" value="opaque" />
              <embed src="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%" FlashVars="&dataXML={$country_xml}" quality="high" bgcolor="#FFFFFF"  width="90%" height="200%" name="FCColumn2" wmode="opaque" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
            </object>
          {/if}
          </div>
        </div>
      </div>
      <!-- End 地區分佈 -->
      <!-- 支付方式 -->
      <div class="col-md-6 col-sm-6 col-xs-12 ">
        <div class=" x_panel">
          <div class="x_title">
            <h2>{$lang.pay_method}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            {if $is_multi eq '0'}
            <div class="col-md-12"><canvas data-type="pie" id="pay" height="150"></canvas></div>
            {else}
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553520%00" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
              width="565" height="420" id="FCColumn2" align="middle">
              <PARAM NAME="FlashVars" value="&dataXML={$pay_xml}">
              <PARAM NAME=movie VALUE="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%">
              <param NAME="quality" VALUE="high">
              <param NAME="bgcolor" VALUE="#FFFFFF">
              <param name="wmode" value="opaque" />
              <embed src="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%" FlashVars="&dataXML={$pay_xml}" quality="high" bgcolor="#FFFFFF"  width="90%" height="200%" name="FCColumn2" wmode="opaque" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
            </object>
            {/if}
          </div>
        </div>
      </div>
      <!-- End 支付方式 -->
      <!-- 訂單來源 -->
      <div class="col-md-6 col-sm-6 col-xs-12 ">
        <div class=" x_panel">
          <div class="x_title">
            <h2>{$lang.source_distribution}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
          {if $is_multi eq '0'}
            <div class="col-md-12"><canvas data-type="pie" id="source" height="150"></canvas></div>
          {else}
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553520%00" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
              width="565" height="420" id="FCColumn2" align="middle">
              <PARAM NAME="FlashVars" value="&dataXML={$source_xml}">
              <PARAM NAME=movie VALUE="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%">
              <param NAME="quality" VALUE="high">
              <param NAME="bgcolor" VALUE="#FFFFFF">
              <param name="wmode" value="opaque" />
              <embed src="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%" FlashVars="&dataXML={$source_xml}" quality="high" bgcolor="#FFFFFF"  width="90%" height="200%" name="FCColumn2" wmode="opaque" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
            </object>
          {/if}
          </div>
        </div>
      </div>
      <!-- End 訂單來源 -->
      <!-- 落單設備 -->
      <div class="col-md-6 col-sm-6 col-xs-12 ">
        <div class=" x_panel">
          <div class="x_title">
            <h2>{$lang.device_distribution}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
          {if $is_multi eq '0'}
            <div class="col-md-12"><canvas data-type="pie" id="device" height="150"></canvas></div>
          {else}
          {/if}
          </div>
        </div>
      </div>
      <!-- End 落單設備 -->
      <!-- VIP訂單 -->
      <div class="col-md-6 col-sm-6 col-xs-12 ">
        <div class=" x_panel">
          <div class="x_title">
            <h2>{$lang.vip_distribution}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
          {if $is_multi eq '0'}
            <div class="col-md-12"><canvas data-type="pie" id="vip" height="150"></canvas></div>
          {else}
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553520%00" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
              width="565" height="420" id="FCColumn2" align="middle">
              <PARAM NAME="FlashVars" value="&dataXML={$vip_xml}">
              <PARAM NAME=movie VALUE="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%">
              <param NAME="quality" VALUE="high">
              <param NAME="bgcolor" VALUE="#FFFFFF">
              <param name="wmode" value="opaque" />
              <embed src="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%" FlashVars="&dataXML={$vip_xml}" quality="high" bgcolor="#FFFFFF"  width="90%" height="200%" name="FCColumn2" wmode="opaque" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
            </object>
          {/if}
          </div>
        </div>
      </div>
      <!-- End VIP訂單 -->
      <!-- 送貨途徑 -->
      <div class="col-md-6 col-sm-6 col-xs-12 ">
        <div class=" x_panel">
          <div class="x_title">
            <h2>{$lang.delivery_distribution}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
          {if $is_multi eq '0'}
            <div class="col-md-12"><canvas data-type="pie" id="delivery" height="150"></canvas></div>
          {else}
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553520%00" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
              width="565" height="420" id="FCColumn2" align="middle">
              <PARAM NAME="FlashVars" value="&dataXML={$delivery_xml}">
              <PARAM NAME=movie VALUE="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%">
              <param NAME="quality" VALUE="high">
              <param NAME="bgcolor" VALUE="#FFFFFF">
              <param name="wmode" value="opaque" />
              <embed src="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%" FlashVars="&dataXML={$delivery_xml}" quality="high" bgcolor="#FFFFFF"  width="90%" height="200%" name="FCColumn2" wmode="opaque" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
            </object>
          {/if}
          </div>
        </div>
      </div>
      <!-- End 送貨途徑 -->
      <!-- 送貨途徑(包括SA) -->
      <div class="col-md-6 col-sm-6 col-xs-12 ">
        <div class=" x_panel">
          <div class="x_title">
            <h2>{$lang.delivery2_distribution}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
          {if $is_multi eq '0'}
            <div class="col-md-12"><canvas data-type="pie" id="delivery2" height="150"></canvas></div>
          {else}
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553520%00" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
              width="565" height="420" id="FCColumn2" align="middle">
              <PARAM NAME="FlashVars" value="&dataXML={$delivery2_xml}">
              <PARAM NAME=movie VALUE="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%">
              <param NAME="quality" VALUE="high">
              <param NAME="bgcolor" VALUE="#FFFFFF">
              <param name="wmode" value="opaque" />
              <embed src="images/charts/MSColumn3D.swf?chartWidth=33%&chartHeight=20%" FlashVars="&dataXML={$delivery2_xml}" quality="high" bgcolor="#FFFFFF"  width="90%" height="200%" name="FCColumn2" wmode="opaque" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
            </object>
          {/if}
          </div>
        </div>
      </div>
      <!-- End 送貨途徑(包括SA) -->
    </div>
    <div role="tabpanel" class="tab-pane fade {if $selected eq 'cn' or !$selected}active{/if} in" id="cn-table">
      <div class="row x_title">
        <div class="col-md-6">
          <h3>非香港用戶營業額</h3>
        </div>
      </div>
      <div class="row tile_count">
        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fas fa-dollar-sign"></i>線下(POS)中國用戶營業額</span>
          <div class="count blue">{$cn_offline_total}</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fas fa-dollar-sign"></i>線上(ONLINE)中國用戶營業額</span>
          <div class="count green">{$cn_online_total}</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fas fa-dollar-sign"></i> 海外(POS & ONLINE)用戶營業額</span>
          <div class="count purple">{$overseas_total}</div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
          <div class="row">
            <div class="col-md-6">
              <canvas id="chart_bar" class="demo-placeholder"></canvas>
            </div>
            <div class="col-md-6">
              <canvas id="chart_cn" class="demo-placeholder"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{include file="pagefooter.htm"}
{$echoRes}
<script language="JavaScript">
{foreach from = $dataset_group key = key item = item}
  var {$key} = '{$item|json_encode}';
{/foreach}
onload = function()
{
    // 开始检查订单
  startCheckOrder();
}
var options = {
	maintainAspectRatio: false,
	spanGaps: false,
	elements: {
		line: {
			tension: 0.000001
		}
	},
	scales: {
		yAxes: [{
			stacked: true
		}]
	},
	plugins: {
		filler: {
			propagate: false
		},
		'samples-filler-analyser': {
			target: 'chart-analyser'
		}
	}
};
var cn = $.parseJSON('{$cn_data|json_encode}');
var cn_chart = new Chart('chart_cn', {
	type: 'line',
	data: $.parseJSON('{$cn_data|json_encode}'),
	options: options
});
var chart_bar_non_hk = new Chart('chart_bar', {
	type: 'bar',
	data: $.parseJSON('{$non_hk_bar_data|json_encode}'),
	options: {
		responsive: true,
		maintainAspectRatio: false,
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: true
				}
			}]
		}
	}
});


$('#cn_li').click(function(){
	$('#chart_cn').height('');
	$('#chart_bar').height('');
});


$.each($('canvas[data-type="pie"]'), function( key, value ){
  var id = $(value).attr('id');
  if(eval(id).length > 0) {
    var data = $.parseJSON(eval(id));
    var ctx = document.getElementById(id);
    var pieChart = new Chart(ctx, {
      data: data,
      type: 'pie',
      options: {
        legend: {
          position: 'right',
          labels: {
            generateLabels: function(chart) {
              var data = chart.data;
              if (data.labels.length && data.datasets.length) {
                return data.labels.map(function(label, i) {
                  var meta = chart.getDatasetMeta(0);
                  var ds = data.datasets[0];
                  var arc = meta.data[i];
                  var custom = arc && arc.custom || {};
                  var getValueAtIndexOrDefault = Chart.helpers.getValueAtIndexOrDefault;
                  var arcOpts = chart.options.elements.arc;
                  var fill = custom.backgroundColor ? custom.backgroundColor : getValueAtIndexOrDefault(ds.backgroundColor, i, arcOpts.backgroundColor);
                  var stroke = custom.borderColor ? custom.borderColor : getValueAtIndexOrDefault(ds.borderColor, i, arcOpts.borderColor);
                  var bw = custom.borderWidth ? custom.borderWidth : getValueAtIndexOrDefault(ds.borderWidth, i, arcOpts.borderWidth);
                  // We get the value of the current label
                  var value = chart.config.data.datasets[arc._datasetIndex].data[arc._index];
                  return {
                      // Instead of `text: label,`
                      // We add the value to the string
                      text: label + " : " + value,
                      fillStyle: fill,
                      strokeStyle: stroke,
                      lineWidth: bw,
                      hidden: isNaN(ds.data[i]) || meta.data[i].hidden,
                      index: i
                  };
                });
              } else {
                return [];
              }
            }
          }
        },
        pieceLabel: {
          render: 'percentage',
          fontColor: '#FFF',
          position: 'border',
          fontSize: 13,
          
        }
      }
    });
  }
});
</script>
