<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style>

.border_red {
    border-color: #FD495C;
}

#search_error_text {
    padding-top: 5px;
}

</style>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="erp_stocktake.php?act=list" style="margin:0px">
        訂單號:
        <input class="form-control" name="order_sn" id="order_sn" type="text" size="15" value='' />  
        輸入產品序號:
        <input class="form-control" name="new_serial_number" type="text" id="new_serial_number" size="15" value='{$filter.title}' /> 
        <input class="btn btn-success form-btn" type="button" id="save_serial_number" name="save_serial_number" value="儲存" />
        <input class="btn btn-success form-btn" type="button" id="reset_input" name="reset_input" value="清除" />
        <div id="search_error_text" class="red" style="display:none"></div>
      </form>
    </div>
 </div>
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="order_goods_sn.php?act=list" style="margin:0px">
       
      </form>
    </div>
    <div class="x_title">
      <h2>訂單序號資料<span id="order_sn_title"></span></h2>
      <div class="clearfix"></div>
    </div>
    <div class="list-div" id="listDiv">
    {/if}
    <table id="goods_sn_table" class="table table-striped table-bordered ">
    <thead>
    <th data-sort=0 data-id="id">編號</th>
    <th data-sort=0 data-id="goods_sn">產品序號</th>
    <th data-sort=0 data-id="actions">操作</th>
    </thead>
    </table>
    {if $full_page}
    </div>
</div>

{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
    $('.nav-sm').removeClass('nav-sm').addClass('nav-md');
    $("#order_sn").focus();
}

var $table = yoho_dataTable();
$("#stocktake_search").click(function(){
    var $filter = {};
    $filter.order_sn = $("#order_sn").val();
    $table.search($filter);
    return;
});

$(document).on('click',".delete_confirm_action",function(){
    if(confirm("確定執行?")){
        $(this).closest('tr').remove();
        remove_serial_number('delete');
    }
    else{
        return false;
    }
});

$(document).on('click','#save_serial_number',function(){
    save_order_serial_number();
});

$(document).on('click','#reset_input',function(){
    
    $("#new_serial_number").val('');
    $("#order_sn").val('').focus();
});


$("#new_serial_number").keypress(function(e) {
    if(e.which == 13) {
        event.preventDefault();
        save_order_serial_number();
    }
});

$("#order_sn").keypress(function(e) {
    if(e.which == 13) {
        event.preventDefault();
        $("#new_serial_number").focus();
    }
});

var order_sn = '';

function save_order_serial_number()
{
    order_sn = $("#order_sn").val();
    var new_serial_number = $("#new_serial_number").val();

    if (order_sn == '') {
        $("#search_error_text").html('請輸入訂單號').show();
        $("#order_sn").addClass('border_red').focus();
        return false;
    }

    // if (new_serial_number == '') {
    //     $("#search_error_text").html('請輸入產品序號').show();
    //     $("#new_serial_number").addClass('border_red').focus();
    //     return false;
    // }

    // if (new_serial_number == '') {
    //     var $filter = {};
    //     $filter.order_sn = $("#order_sn").val();
    //     $table.search($filter);
    //     $("#order_sn").removeClass("border_red").focus().val('');
    //     return false;
    // }

    // save
    $.ajax({
        url: 'order_goods_sn.php',
        type: 'post',
        cache: false,
        data: {
        'act': 'post_add_order_goods_serial_numbers',
        'order_sn': order_sn,
        'new_serial_number': new_serial_number
    },
    dataType: 'json',
    success: function(result) {
        if (result.error == 0) {
            $("#search_error_text").hide();
            $("#order_sn").removeClass("border_red").focus().val('');
            $("#new_serial_number").removeClass('border_red').val('');
            $("#order_sn_title").html('(<a href="order.php?act=info&order_sn='+ order_sn +'">'+order_sn+')');
            var $filter = {};
            $filter.order_sn = order_sn;
            $table.search($filter);
        } else {
            show_error_message(result.message);
            $("#order_sn").val('').addClass('border_red').focus();
            $("#new_serial_number").removeClass('border_red');
        }
    },
    error: function(xhr) {
       alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
       console.log(xhr);
    }
    }); 

}

function show_error_message(text)
{ 
    $("#search_error_text").html(text);
    $("#search_error_text").show();
}

function remove_serial_number()
{
    // get all serial numbers
    var serial_numbers_ar = [];
    $(".order_goods_sn").each(function(){
        serial_numbers_ar.push($(this).data('order-goods-sn'));
    });

    // save
    $.ajax({
        url: 'order_goods_sn.php',
        type: 'post',
        cache: false,
        data: {
        'act': 'post_save_order_goods_serial_numbers',
        'order_sn': order_sn,
        'serial_numbers': serial_numbers_ar
    },
    dataType: 'json',
    success: function(result) {
        if (result.error == 0) {
            $table.draw();
            $("#order_sn").focus();
        } else {
            alert(result.message);
        }
    },
    error: function(xhr) {
       alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
       console.log(xhr);
    }
    }); 
}

//-->
</script>
{/literal}

{/if}