<!-- $Id -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,../js/transport_jquery.js,validator.js"}
<div class=" x_panel">
{if $step eq "consignee"}
{insert_scripts files="../js/region.js"}
{/if}
<script type="text/ecmascript">
function display(id) {
 var obj = document.getElementById(id);
 if(obj.style.visibility) {
  obj.style.visibility = obj.style.visibility == 'visible' ? 'hidden' : 'visible';
  document.getElementById('user_useridname').checked=false;
  document.getElementById('user_useridname_none').checked=true;
 } else {
  obj.style.display = obj.style.display == '' ? 'none' : '';
  document.getElementById('user_useridname').checked=true;

 }
}
</script>
<style>
a.re_sel_locker {
    margin-left: 10px;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
}
div#selected_locker {
    display: inline-block;
}
input.lockerCode {
    margin-right: 5px;
}
div#locker>div {
    float: left;
    width: 100%;
    margin: 5px 0;
}
div#locker {
    width: 100%;
    border: 1px solid #d7d7d7;
    padding: 10px;
    box-sizing: border-box;
}
.locked_time {
    display: none;
}
.locker_info {
    margin-top: 5px;
}
.hidden {
  display: none;
}
</style>
{if $step eq "user"}
<form class="form-inline" name="theForm" action="order.php?act=step_post&step={$step}&order_id={$order_id}&step_act={$step_act}" method="post" onsubmit="return checkUser()">
<div class="main-div" style="padding: 15px">
  <label><input type="radio" name="anonymous" value="1" checked /> {$lang.anonymous}</label><br />
  <label><input type="radio" name="anonymous" value="0" id="user_useridname" /> {$lang.by_useridname}</label>

  <input name="keyword" class="form-control" type="text" value="" />
  <input type="button" class="btn btn-primary" name="search" value="{$lang.button_search}" onclick="searchUser();" />
  <select class="form-control" name="user"></select>
  <p>{$lang.notice_user}</p>
</div>
<div style="text-align:center">
  <p>
    <input name="submit" type="submit" class="btn btn-primary" value="{$lang.button_next}" />
    <input type="button" value="{$lang.button_cancel}" class="btn btn-primary" onclick="location.href='order.php?act=process&func=cancel_order&order_id={$order_id}&step_act={$step_act}'" />
  </p>
</div>
</form>


<!-- Edit goods -->
{elseif $step eq "goods"}
<div style='height:5px'></div>
<div class="list-div" style="width:990px;margin:0 auto;">
<form class="form-inline" name="goodsForm" action="order.php?act=step_post&step=add_goods&order_id={$order_id}&step_act={$step_act}" method="post" onsubmit="return addToOrder()">
<p>
	&nbsp; {$lang.button_search}：<font color=#888>（貨品/貨號/條號）</font>
  <input class="form-control" type="text" name="keyword" value="" size="30" style1="width:500px" />
  <input class="btn btn-success form-btn" type="button" name="search" value="&nbsp; {$lang.button_search} &nbsp;" onclick="searchGoods();" />
  <select class="form-control" name="goodslist" onchange="getGoodsInfo(this.value)"></select>
</p>
<div class="list-div">
<table id="#" class="table table-striped table-bordered bulk_action ">
  <tr>
    <th width="20%">{$lang.goods_name}</th>
    <td id="goods_name">&nbsp;</td>
  </tr>
  <tr style="display:none;">
    <th>{$lang.goods_sn}</th>
    <td id="goods_sn">&nbsp;</td>
  </tr>
  <tr>
    <th>{$lang.category}</th>
    <td id="goods_cat">&nbsp;</td>
  </tr>
  <tr>
    <th>{$lang.brand}</th>
    <td id="goods_brand">&nbsp;</td>
  </tr>
  <tr>
    <th>{$lang.goods_price}</th>
    <td id="add_price">&nbsp;</td>
  </tr>
  <tr style="display:none;">
    <th>{$lang.goods_attr}<input type="hidden" name="spec_count" value="0" /></th>
    <td id="goods_attr">&nbsp;</td>
  </tr>
  <tr>
    <th>{$lang.goods_number}</th>
    <td><input name="add_number" class="form-control" type="text" value="1" size="10"></td>
  </tr>
  <tr>
  {if $order.order_type == 'sa'}
  <tr>
    <th>代理銷售手續費</th>
    <td>
      <select class="form-control" name="sa_rate">
        {foreach from=$sa_rates item=rate }
        <option value="{$rate.sa_rate_id}" {if rate.is_default}selected="selected"{/if}>{$rate.sa_rate}%</option>
        {/foreach}
      </select>
    </td>
  </tr>
  <tr>
  {/if}
    <td colspan="2" align="center"><input name="add_goods" class="btn btn-primary" type="submit" value="{$lang.add_to_order}" /></td>
  </tr>
</table>
</div>
</form>

<div style='height:15px'></div>
<!-- 货品明细 -->
<form class="form-inline" name="theForm" action="order.php?act=step_post&step=edit_goods&order_id={$order_id}&step_act={$step_act}" method="post" onsubmit="return check_goods_number()" >
<div class="list-div" style="width:990px;margin:0 auto;">
<table class="table">
  <tr>
    <th scope="col">{$lang.goods_name}</th>
    <!-- <th scope="col">{$lang.goods_sn}</th> -->
    <th scope="col">{$lang.goods_price}</th>
    <th scope="col">{$lang.goods_number}</th>
    <!-- <th scope="col">{$lang.goods_attr}</th> -->
    <th scope="col">{$lang.subtotal}</th>
    {if $order.order_type == 'sa'}
    <th scope="col">手續費</th>
    {/if}
    <th scope="col">{$lang.handler}</th>
  </tr>
  {foreach from=$goods_list item=goods name="goods"}
  <tr>
    <td>
    {if $goods.goods_id gt 0 && $goods.extension_code neq 'package_buy'}
    <a href="#" onclick="getGoodsInfo({$goods.goods_id});">{$goods.goods_name}</a>{if $goods.delivery_qty}<span style="color:#999;margin-left: 5px;">(已出貨: {$goods.delivery_qty})</span> {/if}{if $goods.is_package gt 0}<span style="color:#999;margin-left: 5px;">(套裝優惠)</span> {/if}
    {elseif $goods.goods_id gt 0 && $goods.extension_code eq 'package_buy'}
    {$goods.goods_name}
    {/if}
    <input name="rec_id[]" type="hidden" value="{$goods.rec_id}" />
    </td>
    <!-- <td>{$goods.goods_sn}</td> -->
    <td><input name="goods_price[]" class="form-control" type="text" style="text-align:right"   {if ($goods.goods_number eq $goods.delivery_qty && $goods.goods_number > 0) || $goods.is_package gt 0} readonly="readonly" {/if} value="{$goods.goods_price}" size="10" /></td>
    <td><input name="goods_number[]" class="form-control" type="text" style="text-align:right"  {if ($goods.goods_number eq $goods.delivery_qty && $goods.goods_number > 0) || $goods.is_package gt 0} readonly="readonly" {/if} value="{$goods.goods_number}" size="6" /></td>
    <!-- <td><textarea name="goods_attr[]" cols="30" rows="{$goods.rows}">{$goods.goods_attr}</textarea></td> -->
    <td align="right">{$goods.subtotal}</td>
    {if $order.order_type == 'sa' && $goods.sa_rate}
    <td align="right">{$goods.sa_rate}%</td>
    {/if}
    <td>
      {if !$goods.goods_number eq $goods.delivery_qty && $smarty.foreach.goods.total gt 1} 
      <a href="javascript:confirm_redirect(confirm_drop, 'order.php?act=process&func=drop_order_goods&rec_id={$goods.rec_id}&step_act={$step_act}&order_id={$order_id}')">{$lang.drop}</a>
      {elseif !$goods.goods_number eq $goods.delivery_qty && $smarty.foreach.goods.total eq 1}
      <span class="red">退款請到上一頁</span>
      {/if}
    </td>
  </tr>
  {/foreach}
  <tr>
    <td colspan="2"><span class="require-field">{*$lang.price_note*}</span></td>
    <td align="right"><strong>{$lang.label_total}</strong></td>
    <td align="right">{$goods_amount}</td>
    <td {if $order.order_type == 'sa'} colspan="2"{/if}>{if $smarty.foreach.goods.total > 0}<input class="btn btn-success pull-right" id="edit_goods" name="edit_goods" type="submit" value="{$lang.update_goods}"/>{/if}
    <input name="goods_count" type="hidden" value="{$smarty.foreach.goods.total}" /></td>
  </tr>
</table>
</div>
</form>
<!--div align="center">
  <p>
    <input name="{if $step_act eq 'add'}next{else}finish{/if}" type="submit" class="btn btn-primary" value="{if $step_act eq 'add'}&nbsp; （3）更新收货人信息 &nbsp;{else}{$lang.button_submit}{/if}" />
  </p>
</div-->
</form>


<!-- 货品折扣 -->
<div style='height:15px'></div>
<div class="list-div" style="width:990px;margin:0 auto;">
<form class="form-inline" name="theForm" action="order.php?act=step_post&step={$step}&order_id={$order_id}&step_act={$step_act}" method="post" >
<div class="list-div">
<table class="">
  <tr>
    <th>{$lang.label_integral}</th>
    <th>{if $order.user_id > 0 && $available_pay_points >0}
     <input name="integral" class="form-control" type="text" value="{$order.integral}" size="10">
  {/if} {$lang.available_integral}{$available_pay_points|default:0}</th>
  <th>{if $order.order_amount >= 0} {$lang.label_money_dues} {else} {$lang.label_money_refund} {/if}</th>
    <th>{$order.formated_order_amount}</th>
  </tr>
</table>
</div>
  <p align="center">
  <!--   {if $step_act eq "add"}<input type="button" value="{$lang.button_prev}订单" class="btn btn-primary" onclick="history.back()" />{/if} -->
    <input name="finish" type="submit" class="btn btn-primary" value="{$lang.button_finish}" />
    {if !$smarty.session.edited_goods}<input type="button" value="{$lang.button_cancel}" class="btn btn-primary" onclick="location.href='order.php?act=process&func=cancel_order&order_id={$order_id}&step_act={$step_act}'" />{/if}
  </p>
</form>
</div>
<!-- 快速购物完毕 -->


{elseif $step eq "consignee"}
{insert_scripts files="../js/transport_jquery.js,../js/region.js"}
<script type="text/javascript">
region.isAdmin=true;
</script>
<form class="form-inline" name="theForm" action="order.php?act=step_post&step={$step}&order_id={$order_id}&step_act={$step_act}" method="post" onsubmit="return checkConsignee()">
<input type="hidden" name="shipping_type" value="{$order.shipping_type}">
<div class="list-div">
<div style="margin-bottom: 5px;" class="col-xs-12">
{if $order.shipping_type eq 'pickuppoint'}
<div class="col-xs-12" id="locker">
  <div><label class="form-label"style="width: 150px;">{$lang.label_consignee}</label><input name="locker_consignee" class="form-control" type="text" value="{$order.consignee}" /></div>
  <div><label class="form-label"style="width: 150px;">{$lang.label_email}</label><input name="locker_email" class="form-control" type="text" value="{$order.email}" size="40" /></div>
  <div><label class="form-label"style="width: 150px;">{$lang.label_tel}</label><input name="locker_tel" class="form-control" type="text" value="{$order.tel}" /></div>
  <div><label class="form-label"style="width: 150px;">{$lang.label_mobile}</label><input name="locker_mobile" class="form-control" type="text" value="{$order.mobile}" /></div>
    <div><label class="form-label"style="width: 150px;">選擇的地址:</label><div id="selected_locker">{$order.address}</div><a class="re_sel_locker">重新選擇</a></div>
    <div class="locker_method cle_float" id="locker_m" style="display:none;">
      <select class="form-control" name="locker_area" disabled="disabled">
        <option value="0">{_ checkout_address_please_select --請選擇--}</option>
      </select>
      <select class="form-control" name="locker_region" disabled="disabled">
        <option value="0">{_ checkout_address_please_select --請選擇--}</option>
      </select>
      <input type="hidden" name="allotRouter" value="">
      <input type="hidden" name="allotRouterCode" value="">
      <div class="locker_info">
        <table id="locker_table" class="table table-striped table-bordered bulk_action "></table>
      </div>
    </div>
  </div>
</div>
{else}
<table id="normal_address" class="table table-striped table-bordered bulk_action " {if $order.shipping_id eq '8'} style="display:none;" {/if} >
  {if $order.shipping_status >=0}
  {if $address_list}
  <tr class="{if $order.shipping_status > 0}hidden{/if}">
    <th align="left">{$lang.address_list}</th>
    <td>
      {if $order.shipping_status < 1}
      <select class="form-control" onchange="loadAddress(this.value)"><option value="0" selected>{$lang.select_please}</option>
      {foreach from=$address_list item=address}<option value="{$address.address_id}" {if $smarty.get.address_id eq $address.address_id}selected{/if}>{$address.consignee|escape} {$address.email} {$address.address|escape} {$address.tel|escape}</option>{/foreach}
      </select>
      {else}
      <input type="hidden" value="{$smarty.get.address_id}">
      {/if}
    </td>
  </tr>
  {/if}
  <tr class="{if $order.shipping_status > 0}hidden{/if}">
    <th width="150" align="left">{$lang.label_consignee}</th>
    <td>
      {if $order.shipping_status < 1}
      <input name="consignee" class="form-control" type="text" value="{$order.consignee}" />
      {$lang.require_field}
      {else}
      <input type="hidden" name="consignee" value="{$order.consignee}">
      {/if}
    </td>
  </tr>
  {if $exist_real_goods}
  <tr class="{if $order.shipping_status > 0}hidden{/if}">
    <th align="left">{$lang.label_area}</th>
    <td>
      {if $order.shipping_status < 1}
      <select class="form-control" name="country" id="selCountries" onChange="region.changed(this, 1, 'selProvinces')">
        <option value="0" selected="true">{$lang.select_please}</option>
        {foreach from=$country_list item=country}
        <option value="{$country.region_id}" {if $order.country eq $country.region_id}selected{/if}>{$country.region_name}</option>
        {/foreach}
      </select>
      {else}
      <input type="hidden" name="country" id="selCountries" value="{$order.country}">
      {/if}
      {if $order.shipping_status < 1}
      <select class="form-control" name="province" id="selProvinces" onChange="region.changed(this, 2, 'selCities')">
        <option value="0">{$lang.select_please}</option>
        {foreach from=$province_list item=province}
        <option value="{$province.region_id}" {if $order.province eq $province.region_id}selected{/if}>{$province.region_name}</option>
        {/foreach}
      </select>
      {else}
      <input type="hidden" name="province" id="selProvinces" value="{$order.province}">
      {/if}
      {if $order.shipping_status < 1}
      <select class="form-control" name="city" id="selCities" onchange="region.changed(this, 3, 'selDistricts')">
        <option value="0">{$lang.select_please}</option>
        <!-- {foreach from=$city_list item=city} -->
        <option value="{$city.region_id}" {if $order.city eq $city.region_id}selected{/if}>{$city.region_name}</option>
        <!-- {/foreach} -->
      </select>
      {else}
      <input type="hidden" name="city" id="selCities" value="{$order.city}">
      {/if}
      {if $order.shipping_status < 1}
      <select class="form-control" name="district" id="selDistricts">
        <option value="0">{$lang.select_please}</option>
        <!-- {foreach from=$district_list item=district} -->
        <option value="{$district.region_id}" {if $order.district eq $district.region_id}selected{/if}>{$district.region_name}</option>
        <!-- {/foreach} -->
      </select>
      {$lang.require_field}
      {else}
      <input type="hidden" name="district" id="selDistricts" value="{$order.district}">
      {/if}
    </td>
  </tr>
  {/if}
  <tr class="{if $order.shipping_status > 0}hidden{/if}">
    <th align="left">{$lang.label_email}</th>
    <td>
      {if $order.shipping_status < 1}
      <input name="email" class="form-control" type="text" value="{$order.email}" size="40" />
      {$lang.require_field}
      {else}
      <input type="hidden" name="email" id="selDistricts" value="{$order.email}">
      {/if}
    </td>
  </tr>
  {/if}
  {if $exist_real_goods}
  <tr id="old_address" style="display:none;">
    <th align="left">舊地址:</th>
    <td>{$order.address}<input name="old_address" value="{$order.address}" type="hidden"/><input name="need_update_address" value="0" type="hidden"/></td>
  </tr>
  <tr>
    <th align="left">{$lang.label_address}</th>
    <td><span id ="format_address">{$order.address}</span>
    {$lang.require_field}</td>
  </tr>
  <tr>
    <th align="left">地址資訊1：</th>
    <td>
      大廈: <input name="sign_building" class="form-control" type="text" value="{$order.sign_building}" size="20" onchange="updateAddressFormat()" />
      樓層: <input name="floor" class="form-control" type="text" value="{$order.floor}" size="20" onchange="updateAddressFormat()" />
      室: <input name="room" class="form-control" type="text" value="{$order.room}" size="20" onchange="updateAddressFormat()" />
    </td>
  </tr>
  <tr>
    <th align="left">地址資訊2：</th>
    <td>
      屋苑: <input name="phase" class="form-control" type="text" value="{$order.phase}" size="20" onchange="updateAddressFormat()" />
      座數: <input name="block" class="form-control" type="text" value="{$order.block}" size="20" onchange="updateAddressFormat()" />
    </td>
  </tr>
  <tr>
    <th align="left">地址資訊3：</th>
    <td>
      街道: <input name="street_name" class="form-control" type="text" value="{$order.street_name}" size="20" onchange="updateAddressFormat()" />
      街號: <input name="street_num" class="form-control" type="text" value="{$order.street_num}" size="20" onchange="updateAddressFormat()" />
    </td>
  </tr>
  <tr>
    <th align="left">地址資訊4：</th>
    <td>
      地區{if $order.country == '3436'}(省){/if}: <input name="administrative_area" class="form-control" type="text" value="{$order.administrative_area}" size="20" onchange="updateAddressFormat()" />
      地方/市鎮{if $order.country == '3436'}(市){/if}: <input name="locality" class="form-control" type="text" value="{$order.locality}" size="20" onchange="updateAddressFormat()" />
    </td>
  </tr>
  <tr>
    <th align="left">地址資訊5：</th>
    <td>
        <select name="dest_type" class="form-control">
            {foreach from=$addr_type key="key" item="val"}
            <option value="{$val.type_id}"{if $val.type_id eq $order.dest_type} selected{/if}>{$val.type_name}</option>
            {/foreach}
          </select>
        <select name="lift" class="form-control">
          {foreach from=$lift_type key="key" item="val"}
          <option value="{$key}"{if $key eq $order.lift} selected{/if}>{$val}</option>
          {/foreach}
        </select>
    </td>
  </tr>
  <tr>
    <th align="left">{$lang.label_zipcode}</th>
    <td><input name="zipcode" class="form-control" type="text" value="{$order.zipcode}" /></td>
  </tr>
  {/if}
  <tr class="{if $order.shipping_status > 0}hidden{/if}">
    <th align="left">{$lang.label_tel}</th>
    <td>
      {if $order.shipping_status < 1}
      <input name="tel" class="form-control" type="text" value="{$order.tel}" />
      {$lang.require_field}
      {else}
      <input type="hidden" name="tel" value="{$order.tel}">
      {/if}
    </td>
  </tr>
  <tr class="{if $order.shipping_status > 0}hidden{/if}">
    <th align="left">{$lang.label_mobile}</th>
    <td>
      {if $order.shipping_status < 1}
      <input name="mobile" class="form-control" type="text" value="{$order.mobile}" />
      {else}
      <input type="hidden" name="mobile" value="{$order.mobile}">
      {/if}
    </td>
  </tr>
  <tr class="{if $order.country != '3436'}hidden{/if}">
    <th align="left">{$lang.label_id_doc}</th>
    <td>
      {if $order.country == '3436'}
      <input name="id_doc" class="form-control" type="text" value="{$order.id_doc}" maxlength="18" />
      {else}
      <input type="hidden" name="id_doc" value="{$order.id_doc}">
      {/if}
    </td>
  </tr>
  {if $exist_real_goods}
  <tr style="display: none;"> <!-- howang: hide 標誌性建築 -->
    <th align="left">{$lang.label_sign_building}</th>
    <td></td>
  </tr>
  <tr style="display: none;"> <!-- howang: hide 最佳送貨時間 -->
    <th align="left">{$lang.label_best_time}</th>
    <td>
      {if $order.shipping_status < 1}
      <input name="best_time" class="form-control" type="text" value="{$order.best_time}" size="40" />
      {else}
      <input type="hidden" name="best_time" value="{$order.best_time}">
      {/if}
    </td>
  </tr>
  {/if}
</table>
{/if}
</div>

<div align="center">
  <p>
    {if $step_act eq "add"}{if $step_act eq "add"}<input type="button" value="{$lang.button_prev}" class="btn btn-primary" onclick="history.back()" />{/if}{/if}
    <input name="{if $step_act eq 'add'}next{else}finish{/if}" type="submit" class="btn btn-primary" value="{if $step_act eq 'add'}{$lang.button_next}{else}{$lang.button_submit}{/if}" />
    <input type="button" value="{$lang.button_cancel}" class="btn btn-primary" onclick="location.href='order.php?act=process&func=cancel_order&order_id={$order_id}&step_act={$step_act}'" />
  </p>
</div>
</form>

{elseif $step eq "shipping"}
<form class="form-inline" name="theForm" action="order.php?act=step_post&step={$step}&order_id={$order_id}&step_act={$step_act}" method="post" onsubmit="return checkShipping()">
<div class="list-div">
<table id="#" class="table table-striped table-bordered bulk_action ">
  <tr>
    <th width="5%">&nbsp;</th>
    <th width="25%">{$lang.name}</th>
    <th>{$lang.desc}</th>
    <th width="15%">{$lang.shipping_fee}</th>
    <th width="15%">{$lang.free_money}</th>
  <th width="15%">{$lang.insure}</th>
  </tr>
  {foreach from=$shipping_list item=shipping}
  <tr>
    <td><input name="shipping" type="radio" value="{$shipping.shipping_id}" {if $order.shipping_id eq $shipping.shipping_id}checked{/if} onclick="" /></td>
    <td>{$shipping.shipping_name}</td>
    <td>{$shipping.shipping_desc}</td>
    <td><div align="right">{$shipping.format_shipping_fee}</div></td>
    <td><div align="right">{$shipping.free_money}</div></td>
  <td><div align="right">{$shipping.insure}</div></td>
  </tr>
  {/foreach}
</table>
</div>

<p align="right"><input name="insure" type="checkbox" value="1" {if $order.insure_fee > 0}checked{/if} />
{$lang.want_insure}</p>

  <p align="center">
    {if $step_act eq "add"}<input type="button" value="{$lang.button_prev}" class="btn btn-primary" onclick="history.back()" />{/if}
    <input name="{if $step_act eq 'add'}next{else}finish{/if}" type="submit" class="btn btn-primary" value="{if $step_act eq 'add'}{$lang.button_next}{else}{$lang.button_submit}{/if}" />
    <input type="button" value="{$lang.button_cancel}" class="btn btn-primary" onclick="location.href='order.php?act=process&func=cancel_order&order_id={$order_id}&step_act={$step_act}'" />
  </p>
</form>

{elseif $step eq "payment"}
<form class="form-inline" name="theForm" action="order.php?act=step_post&step={$step}&order_id={$order_id}&step_act={$step_act}" method="post" onsubmit="return checkPayment()">
<div class="list-div">
<table id="#" class="table table-striped table-bordered bulk_action ">
  <tr>
    <th width="5%">&nbsp;</th>
    <th width="20%">{$lang.name}</th>
    <th>{$lang.desc}</th>
    <th width="15%">{$lang.pay_fee}</th>
  </tr>
  {foreach from=$payment_list item=payment}
  <tr>
    <td><input type="radio" name="payment" value="{$payment.pay_id}" {if $order.pay_id eq $payment.pay_id}checked{/if} /></td>
    <td>{$payment.origin_pay_name}</td>
    <td>{$payment.pay_desc}</td>
    <td align="right">{$payment.pay_fee}</td>
  </tr>
  {/foreach}
</table>
</div>
  <p align="center">
    {if $step_act eq "add"}<input type="button" value="{$lang.button_prev}" class="btn btn-primary" onclick="history.back()" />{/if}
    <input name="{if $step_act eq 'add'}next{else}finish{/if}" type="submit" class="btn btn-primary" value="{if $step_act eq 'add'}{$lang.button_next}{else}{$lang.button_submit}{/if}" />
    <input type="button" value="{$lang.button_cancel}" class="btn btn-primary" onclick="location.href='order.php?act=process&func=cancel_order&order_id={$order_id}&step_act={$step_act}'" />
  </p>
</form>

{elseif $step eq "other"}
<form class="form-inline" name="theForm" action="order.php?act=step_post&step={$step}&order_id={$order_id}&step_act={$step_act}" method="post">
<div class="list-div">
{if $exist_real_goods and ($pack_list or $card_list)}
<table id="#" class="table table-striped table-bordered bulk_action ">
  {if $pack_list}
  <tr>
    <th colspan="4" scope="col">{$lang.select_pack}</th>
    </tr>
  <tr>
    <td width="5%" scope="col">&nbsp;</td>
    <td width="35%" scope="col"><div align="center"><strong>{$lang.name}</strong></div></td>
    <td width="22%" scope="col"><div align="center"><strong>{$lang.pack_fee}</strong></div></td>
    <td width="22%" scope="col"><div align="center"><strong>{$lang.free_money}</strong></div></td>
    </tr>
  <tr>
    <td><input type="radio" name="pack" value="0" {if $order.pack_id eq 0}checked{/if} /></td>
    <td>{$lang.no_pack}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
  {foreach from=$pack_list item=pack}
  <tr>
    <td><input type="radio" name="pack" value="{$pack.pack_id}" {if $order.pack_id eq $pack.pack_id}checked{/if} /></td>
    <td>{$pack.pack_name}</td>
    <td><div align="right">{$pack.format_pack_fee}</div></td>
    <td><div align="right">{$pack.format_free_money}</div></td>
    </tr>
  {/foreach}
  {/if}
  {if $card_list}
  <tr>
    <th colspan="4" scope="col">{$lang.select_card}</th>
    </tr>
  <tr>
    <td scope="col">&nbsp;</td>
    <td scope="col"><div align="center"><strong>{$lang.name}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.card_fee}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.free_money}</strong></div></td>
    </tr>
  <tr>
    <td><input type="radio" name="card" value="0" {if $order.card_id eq 0}checked{/if} /></td>
    <td>{$lang.no_card}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
  {foreach from=$card_list item=card}
  <tr>
    <td><input type="radio" name="card" value="{$card.card_id}" {if $order.card_id eq $card.card_id}checked{/if} /></td>
    <td>{$card.card_name}</td>
    <td><div align="right">{$card.format_card_fee}</div></td>
    <td><div align="right">{$card.format_free_money}</div></td>
    </tr>
  {/foreach}
  {/if}
</table>
{/if}
</div><br />
<div class="list-div">
<table id="#" class="table table-striped table-bordered bulk_action ">
  {if $exist_real_goods}
  {if $card_list}
  <tr>
    <th>{$lang.label_card_message}</th>
    <td><textarea name="card_message" cols="60" rows="3">{$order.card_message}</textarea></td>
  </tr>
  {/if}
  <tr style="display: none;"> <!-- howang: hide 發票類型 -->
    <th>{$lang.label_inv_type}</th>
    <td><input name="inv_type" class="form-control" type="text" id="inv_type" value="{$order.inv_type}" size="40" /></td>
  </tr>
  <tr style="display: none;"> <!-- howang: hide 發票抬頭 -->
    <th>{$lang.label_inv_payee}</th>
    <td><input name="inv_payee" value="{$order.inv_payee}" size="40" text="text" /></td>
  </tr>
  <tr style="display: none;"> <!-- howang: hide 發票內容 -->
    <th>{$lang.label_inv_content}</th>
    <td><input name="inv_content" value="{$order.inv_content}" size="40" text="text" /></td>
  </tr>
  {/if}
  <tr>
    <th>產品序號：</th>
    <td><textarea name="serial_numbers" cols="60" rows="3">{$order.serial_numbers}</textarea></td>
  </tr>
  <tr>
    <th>{$lang.label_postscript}</th>
    <td><textarea name="postscript" cols="60" rows="3">{$order.postscript}</textarea></td>
  </tr>
  <tr>
    <th>訂貨備註：</th>
    <td><textarea name="order_remarks" cols="60" rows="3" readonly="readonly">{$order.order_remarks}</textarea></td>
  </tr>
  <tr style="display: none;"> <!-- howang: hide 缺貨處理 -->
    <th>{$lang.label_how_oos}</th>
    <td><input name="how_oos" class="form-control" type="text" value="{$order.how_oos}" size="40" /></td>
  </tr>
  <tr>
    <th>{$lang.label_to_buyer}</th>
    <td><textarea name="to_buyer" cols="60" rows="3">{$order.to_buyer}</textarea></td>
  </tr>
  <!-- { if $order.is_sa} -->
  <tr>
    <th>代理訂單號：</th>
    <td><input name="type_sn" class="form-control" type="text" value="{$order.type_sn}" size="40" />({$order.sa_name})</td>
  </tr>
   <input name="is_sa" type="hidden" value=true />
  <!-- {/if}-->
</table>
</div>
  <p align="center">
    {if $step_act eq "add"}<input type="button" value="{$lang.button_prev}" class="btn btn-primary" onclick="history.back()" />{/if}
    <input name="{if $step_act eq 'add'}next{else}finish{/if}" type="submit" class="btn btn-primary" value="{if $step_act eq 'add'}{$lang.button_next}{else}{$lang.button_submit}{/if}" />
    <input type="button" value="{$lang.button_cancel}" class="btn btn-primary" onclick="location.href='order.php?act=process&func=cancel_order&order_id={$order_id}&step_act={$step_act}'" />
  </p>
</form>

{elseif $step eq "money"}
<form class="form-inline" name="theForm" action="order.php?act=step_post&step={$step}&order_id={$order_id}&step_act={$step_act}" method="post">
<div class="list-div">
<table id="#" class="table table-striped table-bordered bulk_action ">
  <tr>
    <th width="120">{$lang.label_goods_amount}</th>
    <td>{$order.formated_goods_amount}</td>
  </tr>
  <tr style="display: none;"><!-- howang: hide 發票稅額 -->
    <th>{$lang.label_tax}</th>
    <td><input name="tax" class="form-control" type="text" id="tax" value="{$order.tax}" size="15" /></td>
  </tr>
  <tr style="display: none;"><!-- howang: hide 保價費用 -->
    <th>{$lang.label_insure_fee}</th>
    <td>{if $exist_real_goods}<input name="insure_fee" class="form-control" type="text" value="{$order.insure_fee}" size="15">{else}0{/if}</td>
  </tr>
  <tr style="display: none;"><!-- howang: hide 包裝費用 -->
    <th>{$lang.label_pack_fee}</th>
    <td>{if $exist_real_goods}<input name="pack_fee" class="form-control" type="text" value="{$order.pack_fee}" size="15">{else}0{/if}</td>
  </tr>
  <tr style="display: none;"><!-- howang: hide 賀卡費用 -->
    <th>{$lang.label_card_fee}</th>
    <td>{if $exist_real_goods}
      <input name="card_fee" class="form-control" type="text" value="{$order.card_fee}" size="15">
      {else}0{/if}</td>
  </tr>
  <tr>
    <th>{$lang.label_discount}</th>
    <td>
      <input name="discount" class="form-control" type="text" id="discount" value="{$order.discount}" size="15" onchange="javascript:updateOrderPrice()"/>
      <span>如：扣10蚊輸入10</span>
    </td>
  </tr>
  <th>使用優惠券：</th><!-- Anthony: hide 優惠券 -->
  <td>
    <input name="bonus_id" type="hidden" value="0">
    <input  readonly="true" style="background: #e3e3e3;" id="coupon_codes" name="coupon_codes" class="form-control" type="text"{if $order.coupon_list} value="{foreach from=$order.coupon_list item=coupon name=foo}{$coupon.coupon_code}{if !$smarty.foreach.foo.last},{/if}{/foreach}"{/if} size="15" onchange="resizeCouponField()">
    <input name="old_coupon_codes" type="hidden" value="{foreach from=$order.coupon_list item=coupon name=foo}{$coupon.coupon_code}{if !$smarty.foreach.foo.last},{/if}{/foreach}">
    <script type="text/javascript">
      function resizeCouponField()
      {
        var couponField = document.getElementById('coupon_codes');
        couponField.size = couponField.value.length > 13 ? couponField.value.length + 2 : 15;
      }
      resizeCouponField();
      function addCouponCode(sel)
      {
        var code = sel.options[sel.selectedIndex].value.toUpperCase();
        sel.selectedIndex = 0;
        if (!code) return;
        var couponField = document.getElementById('coupon_codes');
        var coupons = couponField.value.toUpperCase().split(',');
        var couponIdx = coupons.indexOf(code);
        if (couponIdx == -1)
        {
          couponField.value += (couponField.value.length > 0 ? ',' : '') + code;
          resizeCouponField();
        }
        else
        {
          var start = 0 + couponIdx;
          for (i = 0; i < couponIdx; i++) start += coupons[i].length;
          couponField.setSelectionRange(start, start + code.length);
        }
      }
    </script>
    <!-- select onchange="javascript:addCouponCode(this)">
      <option value="">{$lang.select_please}</option>
      {foreach from=$available_coupons item=coupon}
      <option value="{$coupon.coupon_code}">{$coupon.coupon_name}</option>
      {/foreach}
    </select -->
  </td>
  <tr>
    <th>{$lang.label_integral}</th><!-- Anthony: hide 積分 readonly="true" style="background: #e3e3e3;" -->
    <td>
      {if $order.user_id > 0}<input name="integral" class="form-control" type="text" value="{$order.integral}" size="15" onchange="javascript:updateOrderPrice()">{/if}
      {$lang.available_integral}{$available_pay_points|default:0}
    </td>
  </tr>
  <tr>
    <!-- #BeginComment -->
    <!-- 紅包 is not used -->
    <th>{$lang.label_bonus}</th>
    <td>
      <select class="form-control" name="bonus_id">
        <option value="0" {if $order.bonus_id eq 0}selected{/if}>{$lang.select_please}</option>

          {foreach from=$available_bonus item=bonus}

        <option value="{$bonus.bonus_id}" {if $order.bonus_id eq $bonus.bonus_id}selected{/if} money="{$bonus.type_money}">{$bonus.type_name} - {$bonus.type_money}</option>

          {/foreach}

      </select>
    </td>
    <!-- #EndComment -->
  </tr>
  <tr>
    <th>{$lang.label_order_amount}</th>
    <td id="money_total_fee">{$order.formated_total_fee}</td>
  </tr>
  <tr><!-- Anthony: hide 支付折扣 -->
    <th>{if $order.pay_fee > 0}{$lang.label_pay_fee}{else}{$lang.label_pay_discount}{/if}</th>
    <td><input name="pay_fee" class="form-control" type="text" value="{$order.pay_fee}" size="15" readonly="true" style="background: #e3e3e3;"></td>
  </tr>
  <tr>
    <th>{$lang.label_money_paid}</th>
    <td>{$order.formated_money_paid} </td>
  </tr>
  <tr>
    <th>{$lang.label_shipping_fee}</th>
    <td>{if $exist_real_goods}<input name="shipping_fee" class="form-control" type="text" value="{$order.shipping_fee}" size="15" onchange="javascript:updateOrderPrice()">{else}0{/if}</td>
  </tr>
  <tr style="display: none;"><!-- howang: hide 使用餘額 -->
    <th>{$lang.label_surplus}</th>
    <td>
      {if $order.user_id >0}<input name="surplus" class="form-control" type="text" value="{$order.surplus}" size="15">{/if}
      {$lang.available_surplus}{$available_user_money|default:0}
    </td>
  </tr>
  <tr>
    <th id="money_order_amount_label">{if $order.order_amount >= 0} {$lang.label_money_dues} {else} {$lang.label_money_refund} {/if}</th>
    <td id="money_order_amount">{$order.formated_order_amount}</td>
  </tr>
</table>
</div>
  <p align="center">
    {if $step_act eq "add"}<input type="button" value="{$lang.button_prev}" class="btn btn-primary" onclick="history.back()" />{/if}
    <input name="finish" type="submit" class="btn btn-primary" value="{$lang.button_finish}" />
    <input type="button" value="{$lang.button_cancel}" class="btn btn-primary" onclick="location.href='order.php?act=process&func=cancel_order&order_id={$order_id}&step_act={$step_act}'" />
  </p>
</form>

{elseif $step eq "invoice"}
<form class="form-inline" name="theForm" action="order.php?act=step_post&step={$step}&order_id={$order_id}&step_act={$step_act}" method="post" onsubmit="return checkShipping()">
<div class="list-div">
<table id="#" class="table table-striped table-bordered bulk_action ">
  <tr>
    <th width="5%">&nbsp;</th>
    <th width="25%">{$lang.name}</th>
    <th>{$lang.desc}</th>
    </tr>
  {foreach from=$shipping_list item=shipping}
  <tr>
    <td><input name="shipping" type="radio" value="{$shipping.shipping_id}" {if $order.shipping_id eq $shipping.shipping_id}checked{/if} onclick="" /></td>
    <td>{$shipping.shipping_name}</td>
    <td>{$shipping.shipping_desc}</td>
    </tr>
  {/foreach}
  <tr>
    <td colspan="3"><strong>{$lang.shipping_note}</strong></td>
    </tr>
  <tr>
    <td colspan="3"><a href="javascript:showNotice('noticeinvoiceno');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a><strong>{$lang.label_invoice_no}</strong><input readonly="readonly" name="invoice_no" class="form-control" type="text" value="{$order.invoice_no}" size="30"/><br/><span class="notice-span" id="noticeinvoiceno" style="display:block;">{$lang.invoice_no_mall}</span></td>
  </tr>
</table>
</div>

  <p align="center">
    {if $step_act eq "add"}<input type="button" value="{$lang.button_prev}" class="btn btn-primary" onclick="history.back()" />{/if}
    <input name="{if $step_act eq 'add'}next{else}finish{/if}" type="submit" class="btn btn-primary" value="{if $step_act eq 'add'}{$lang.button_next}{else}{$lang.button_submit}{/if}" />
    <input type="button" value="{$lang.button_cancel}" class="btn btn-primary" onclick="location.href='order.php?act=process&func=cancel_order&order_id={$order_id}&step_act={$step_act}'" />
  </p>
</form>
{/if}
</div>
<script language="JavaScript">
  var step = '{$step}';
  var orderId = {$order_id};
  var act = '{$smarty.get.act}';
  var edited_goods = {$smarty.session.edited_goods|default:0} ? true : false;

  /* alert admin if goods edited */
  if(edited_goods)
  {
    window.onbeforeunload = function(e){
      return false;
    }
  }
  $('input[name=finish]').click(function(){
    window.onbeforeunload = function(e){}
  })

{literal}
  function checkUser()
  {
    var eles = document.forms['theForm'].elements;

    /* 如果搜索会员，检查是否找到 */
    if (document.getElementById('user_useridname').checked && eles['user'].options.length == 0)
    {
      alert(pls_search_user);
      return false;
    }
    return true;
  }

  function checkGoods()
  {
    var eles = document.forms['theForm'].elements;

    if (eles['goods_count'].value <= 0)
    {
      alert(pls_search_goods);
      return false;
    }
    return true;
  }

  function checkConsignee()
  {
    var eles = document.forms['theForm'].elements;

    {if $order.shipping_type neq 'pickuppoint'}
    if (eles['country'].value <= 0)
    {
      alert(pls_select_area);
      return false;
    }
    {/if}
    // YOHO: only need to select country
    // if (eles['province'].options.length > 1 && eles['province'].value <= 0)
    // {
    //   alert(pls_select_area);
    //   return false;
    // }
    // if (eles['city'].options.length > 1 && eles['city'].value <= 0)
    // {
    //   alert(pls_select_area);
    //   return false;
    // }
    // if (eles['district'].options.length > 1 && eles['district'].value <= 0)
    // {
    //   alert(pls_select_area);
    //   return false;
    // }
    return true;
  }

  function checkShipping()
  {
    if (!radioChecked('shipping'))
    {
      alert(pls_select_shipping);
      return false;
    }
    return true;
  }

  function checkPayment()
  {
    if (!radioChecked('payment'))
    {
      alert(pls_select_payment);
      return false;
    }
    return true;
  }

  /**
   * 返回某 radio 是否被选中一个
   * @param string radioName
   */
  function radioChecked(radioName)
  {
    var eles = document.forms['theForm'].elements;

    for (var i = 0; i < eles.length; i++)
    {
      if (eles[i].name == radioName && eles[i].checked)
      {
        return true;
      }
    }
    return false;
  }

  /**
   * 按用户编号或用户名搜索用户
   */
  function searchUser()
  {
    var eles = document.forms['theForm'].elements;

    /* 填充列表 */
    var idName = Utils.trim(eles['keyword'].value);
    if (idName != '')
    {
      Ajax.call('order.php?act=search_users&id_name=' + idName, '', searchUserResponse, 'GET', 'JSON');
    }
  }

  function searchUserResponse(result)
  {
    if (result.message.length > 0)
    {
      alert(result.message);
    }

    if (result.error == 0)
    {
      var eles = document.forms['theForm'].elements;

      /* 清除列表 */
      var selLen = eles['user'].options.length;
      for (var i = selLen - 1; i >= 0; i--)
      {
        eles['user'].options[i] = null;
      }
      var arr = result.userlist;
      var userCnt = arr.length;

      for (var i = 0; i < userCnt; i++)
      {
        var opt = document.createElement('OPTION');
        opt.value = arr[i].user_id;
        opt.text = arr[i].user_name;
        eles['user'].options.add(opt);
      }
    }
  }

  /**
   * 按商品编号或商品名称或商品货号搜索商品
   */
  function searchGoods()
  {
    var eles = document.forms['goodsForm'].elements;

    /* 填充列表 */
    var keyword = Utils.trim(eles['keyword'].value);
    if (keyword != '')
    {
      Ajax.call('order.php?act=search_goods&keyword=' + keyword, '', searchGoodsResponse, 'GET', 'JSON');
    }
  }

  function searchGoodsResponse(result)
  {
    if (result.message.length > 0)
    {
      alert(result.message);
    }

    if (result.error == 0)
    {
      var eles = document.forms['goodsForm'].elements;

      /* 清除列表 */
      var selLen = eles['goodslist'].options.length;
      for (var i = selLen - 1; i >= 0; i--)
      {
        eles['goodslist'].options[i] = null;
      }

      var arr = result.goodslist;
      var goodsCnt = arr.length;
      if (goodsCnt > 0)
      {
        for (var i = 0; i < goodsCnt; i++)
        {
          var opt = document.createElement('OPTION');
          opt.value = arr[i].goods_id;
          opt.text = arr[i].name;
          eles['goodslist'].options.add(opt);
        }
        getGoodsInfo(arr[0].goods_id);
      }
      else
      {
        getGoodsInfo(0);
      }
    }
  }

  /**
   * 取得某商品信息
   * @param int goodsId 商品id
   */
  function getGoodsInfo(goodsId)
  {
    if (goodsId > 0)
    {
      Ajax.call('order.php?act=json&func=get_goods_info', 'goods_id=' + goodsId, getGoodsInfoResponse, 'get', 'json');
    }
    else
    {
      document.getElementById('goods_name').innerHTML = '';
      document.getElementById('goods_sn').innerHTML = '';
      document.getElementById('goods_cat').innerHTML = '';
      document.getElementById('goods_brand').innerHTML = '';
      document.getElementById('add_price').innerHTML = '';
      document.getElementById('goods_attr').innerHTML = '';
    }
  }
  function getGoodsInfoResponse(result)
  {
    var eles = document.forms['goodsForm'].elements;

    // 显示商品名称、货号、分类、品牌
    document.getElementById('goods_name').innerHTML = result.goods_name;
    document.getElementById('goods_sn').innerHTML = result.goods_sn;
    document.getElementById('goods_cat').innerHTML = result.cat_name;
    document.getElementById('goods_brand').innerHTML = result.brand_name;

    // 显示价格：包括市场价、本店价（促销价）、会员价
    var priceHtml = '<input type="radio" name="add_price" value="' + result.market_price + '" />市场价 [' + result.market_price + ']<br />' +
      '<input type="radio" name="add_price" value="' + result.goods_price + '" checked />本店价 [' + result.goods_price + ']<br />';
    for (var i = 0; i < result.user_price.length; i++)
    {
      if(result.user_price[i].user_rank == {$user_rank}){
        priceHtml += '<input type="radio" name="add_price" value="' + result.user_price[i].user_price + '" />' + result.user_price[i].rank_name + ' [' + result.user_price[i].user_price + ']<br />';
      }
    }
    priceHtml += '<input type="radio" name="add_price" value="user_input" />' + input_price + '<input class="form-control" type="text" name="input_price" value="" /><br />';
    document.getElementById('add_price').innerHTML = priceHtml;

    // 显示属性
    var specCnt = 0; // 规格的数量
    var attrHtml = '';
    var attrType = '';
    var attrTypeArray = '';
    var attrCnt = result.attr_list.length;
    for (i = 0; i < attrCnt; i++)
    {
      var valueCnt = result.attr_list[i].length;

      // 规格
      //if (valueCnt > 1)
      //{
        attrHtml += result.attr_list[i][0].attr_name + ': ';
        for (var j = 0; j < valueCnt; j++)
        {
          switch (result.attr_list[i][j].attr_type)
          {
            case '0' :
            case '1' :
              attrType = 'radio';
              attrTypeArray = '';
            break;

            case '2' :
              attrType = 'checkbox';
              attrTypeArray = '[]';
            break;
          }
          attrHtml += '<input type="' + attrType + '" name="spec_' + specCnt + attrTypeArray + '" value="' + result.attr_list[i][j].goods_attr_id + '"';
          if (j == 0)
          {
            attrHtml += ' checked';
          }
          attrHtml += ' />' + result.attr_list[i][j].attr_value;
          if (result.attr_list[i][j].attr_price > 0)
          {
            attrHtml += ' [+' + result.attr_list[i][j].attr_price + ']';
          }
          else if (result.attr_list[i][j].attr_price < 0)
          {
            attrHtml += ' [-' + Math.abs(result.attr_list[i][j].attr_price) + ']';
          }
        }
        attrHtml += '<br />';
        specCnt++;
      //}
      // 属性
      //else
      //{
        //attrHtml += result.attr_list[i][0].attr_name + ': ' + result.attr_list[i][0].attr_value + '<br />';
      //}
    }
    eles['spec_count'].value = specCnt;
    document.getElementById('goods_attr').innerHTML = attrHtml;
  }

  /**
   * 把商品加入订单
   */
  function addToOrder()
  {
    var eles = document.forms['goodsForm'].elements;

    // 检查是否选择了商品
    if (eles['goodslist'].options.length <= 0)
    {
      alert(pls_search_goods);
      return false;
    }
    return true;
  }
  
  /**
   * Update Price AJAX
   */
  function updateOrderPrice()
  {
    var shipping_fee = document.getElementsByName("shipping_fee")[0].value;
    var pay_fee      = document.getElementsByName("pay_fee")[0].value;
    var discount     = document.getElementsByName("discount")[0].value;
    var coupon_code  = document.getElementsByName("coupon_codes")[0].value;
    var integral     = document.getElementsByName("integral")[0].value;

    Ajax.call('order.php?act=update_price&shipping_fee=' + shipping_fee +
    '&pay_fee=' + pay_fee +
    '&order_id={$order_id}' +
    '&discount=' + discount +
    '&coupon_code=' + coupon_code +
    '&integral=' + integral,
    '', updateValue, 'GET', 'JSON');
    
  }
  
  function updateValue(result)
  {
    if (result.message.length > 0)
    {
      alert(result.message);
    }

    if (result.error == 0)
    {
      document.getElementsByName("pay_fee")[0].value = result.pay_fee;
      document.getElementById("money_total_fee").innerHTML = result.total_amount;
      document.getElementById("money_order_amount").innerHTML = result.order_amount_format;
      if(result.order_amount < 0)
      {
        document.getElementById("money_order_amount_label").innerHTML = '{$lang.label_money_refund}';
      } else {
        document.getElementById("money_order_amount_label").innerHTML = '{$lang.label_money_dues}';
      }
      document.getElementsByName("discount")[0].value = result.discount;
      document.getElementsByName("integral")[0].value = result.integral;
    } else {
      document.getElementsByName("shipping_fee")[0].value = document.getElementsByName("shipping_fee")[0].defaultValue;
      document.getElementsByName("discount")[0].value = document.getElementsByName("discount")[0].defaultValue;
      document.getElementsByName("integral")[0].value = document.getElementsByName("integral")[0].defaultValue;
      window.location.reload();
    }
  }

  /**
   * 载入收货地址
   * @param int addressId 收货地址id
   */
  function loadAddress(addressId)
  {
{/literal}
    location.href += 'order.php?act={$smarty.get.act}&order_id={$smarty.get.order_id}&step={$smarty.get.step}&address_id=' + addressId;
{literal}
  }

  function updateAddressFormat(){
    var country = document.getElementById("selCountries").value;
    var sign_building = document.getElementsByName("sign_building")[0].value;
    var floor = document.getElementsByName("floor")[0].value;
    var room = document.getElementsByName("room")[0].value;
    var phase = document.getElementsByName("phase")[0].value;
    var block = document.getElementsByName("block")[0].value;
    var street_name = document.getElementsByName("street_name")[0].value;
    var street_num = document.getElementsByName("street_num")[0].value;
    var locality = document.getElementsByName("locality")[0].value;
    var administrative_area = document.getElementsByName("administrative_area")[0].value;
    document.getElementsByName("need_update_address")[0].value = '1';
    Ajax.call('../ajax/address.php?act=get_format_address&country=' + country +
    '&sign_building=' + sign_building +
    '&floor=' + floor +
    '&room=' + room +
    '&phase=' + phase +
    '&block=' + block +
    '&street_name=' + street_name +
    '&street_num=' + street_num +
    '&locality=' + locality +
    '&administrative_area=' + administrative_area,
    '', updateAddress, 'GET', 'JSON');
  }
  function updateAddress(result)
  {
    if (result.message.length > 0)
    {
      alert(result.message);
    }

    if (result.error == 0)
    {
      var new_address = result.address;
      document.getElementById("format_address").innerHTML = new_address.address;
      document.getElementById("old_address").style.display = "table-row";
    }
  }

  function check_goods_number(){

    var check = true;
    $('input[name^="goods_number"]').each(function() {
        if($(this).val() < 1){
          alert('數量不能少於1');
          check = false;
        }
    });

    return check;
  }

  function changeAddressType(){
    $address_id = '{$order.address_id}';
    $shipping_type = '{$order.shipping_type}';
    $shipping_id = '{$order.shipping_id}';
    $country = '{$order.country}';
    if($shipping_type == 'pickuppoint') {
      $('#normal_address').hide();
      $('#locker_m').hide();
      $('a.re_sel_locker').hide();
      $("select[name='locker_area']").prop('disabled', true);
      $("select[name='locker_region']").prop('disabled', true);
      $("select[name='locker_area']").empty().append('<option value="0">--請選擇--</option>');
      $("select[name='locker_region']").empty().append('<option value="0">--請選擇--</option>');
      $('#locker_table').html('');
      $('#locker').fadeIn();
      $.ajax({
        type: 'post',
        url: '/ajax/address.php',
        data: {'act': 'getList','shipping_type': $shipping_type,'user_id': '{$order.user_id}', 'shipping_id': $shipping_id, 'country': $country},
        dataType: 'json',
        success: function(data) {
          $('.locker_method_loading').fadeOut();
          lock_list = data.list;
          $.each(data.list, function($key, $value) {
            $("select[name='locker_area']").append($("<option></option>").attr("value", $key).text($key));
          });
          $("select[name='locker_area']").prop('disabled', false);

          $locker = data.locker;
          if($locker !== null && Object.keys($locker).length > 0) {
            $("select[name='locker_area']").val($locker.city);
            $("select[name='locker_area']").trigger('change');
            $("select[name='locker_region']").val($locker.district);
            $("select[name='locker_region']").trigger('change');
            if(!$("input[name=lockerCode][value='" + $locker.edCode + "']").is(':disabled')) {
              $("input[name=lockerCode][value='" + $locker.edCode + "']").attr('checked', 'checked');
              $('#selected_locker').html($locker.twRegionName);
              $('input[name="allotRouter"]').val($locker.allotRouter);
              $('#locker_m').fadeIn();
            } else {
              $('#locker_m').fadeIn();
            }
            if($locker.arCode) {
              $('input[name="allotRouterCode"]').val($locker.arCode);
            }
          } else {
            $('#locker_m').fadeIn();
          }
        }
      });
    } else {
      $('#normal_address').show();
      $('#locker').hide();
    }
  }
  $('body').on('change', 'input[name="lockerCode"]', function(){
			$('#selected_locker').html('');
			$('input[name="allotRouter"]').val($(this).data('ar'));
			$('input[name="allotRouterCode"]').val('');
			$('.locked_time').hide();
			$(this).closest('tr').find('.locked_time').show();
			if($(this).data('hot') == 1) {
				var dialog = null;
				$content = $('<div>');
				$ar = $(this).data('ar');
				$area = $("select[name='locker_area']").val();
				$region =$("select[name='locker_region']").val();
				$list = lock_list[$area][$region][$ar];
				$select = $("<select name='ar_select' class='form-control'></select>");
				$select.empty();
				$.each($list, function($key, $value) {
					if($value.isHot == 0) {
						$select.append($("<option></option>").attr("value", $value.edCode).text($value.twThrowaddress));
					}
				});
				$content.append($select);
				var cancelBtn = modal.createButton('Cancel', 'btn-default', true);
				var okBtn = modal.createButton('OK', 'btn-primary', true);
				var btns = $('<div>');
				cancelBtn.appendTo(btns);
				okBtn.appendTo(btns);

				var ok_action = function() {
					//$("#locker select, #locker input").prop('disabled', false);
					$("input[name='allotRouterCode']").val($("select[name='ar_select']").val());
					$("html, body").animate({ scrollTop: ($('.checkout_step.payment').offset().top - $('.navbar-fixed-top').height() - 5) }, 300);
				};
				var cancel_action = function() {
					$('.locked_time').hide();
					$('input[name="lockerCode"]').prop('checked', false);
					//$("#locker select, #locker input").prop('disabled', false);
					$('#payment_method').fadeOut();
				};
				okBtn.click(ok_action);
				cancelBtn.click(cancel_action);

				var $modal = modal.create('為確保訂單能順利送達，請選擇一個後備智能櫃', $content, btns);
				modal.show($modal);
				//return modal;
			}
			$('#selected_locker').html($(this).parent().text());
			if($('#shipping_method li').length > 0)$('.checkout_step.goods_list').removeClass('disabled');
			else $('.checkout_step.goods_list').addClass('disabled');
		});

		$('body').on('change', "select[name='locker_area']", function () {
			$this = $(this);
			$("select[name='locker_region']").empty().append('<option value="0">--請選擇--' + '</option>');
			$("select[name='locker_region']").prop('disabled', true);
			if($this.val() == 0 ) {
				var table = $('#locker_table');
				table.html('');
				return;
			}
			$region_list = lock_list[$this.val()];
			$.each($region_list, function($key, $value) {
				$("select[name='locker_region']").append($("<option></option>").attr("value", $key).text($key));
			});
			$("select[name='locker_region']").prop('disabled', false);
		});

		$('body').on('change', "select[name='locker_region']", function () {
			$this = $(this);
			var table = $('#locker_table');
			table.html('');
			if($this.val() == 0 || $this.val() == null)return;
			$chose_list = lock_list[$('select[name="locker_area"]').val()][$this.val()];
			$lockers = [];
			$.each($chose_list, function($k, $v) {
				$.each($v, function($key, $value) {
					var row = $('<tr>');
					$row_html = '<div class="locker_label"><label><input data-hot="'+$value.isHot+'" data-ar="'+$value.allotRouter+'" type="radio" name="lockerCode" class="lockerCode" value="'+$value.edCode+'">'+$value.twThrowaddress+'</label>';
					if($value.isHot == 1) {
						$row_html += '<br><span class="isHot red">'+'此櫃為熱門選擇或需要等候較長時間'+'</span>';
					}
					$row_html += '</div>';
					$time_html = '';
					if($value.workday) $time_html  += '星期一至星期五' +' : '+ $value.workday + '</br>';
					if($value.saturday) $time_html += '星期六' +' : '+ $value.saturday + '</br>';
					if($value.sunday) $time_html   += '星期日' +' : '+ $value.sunday + '</br>';
					if($value.holiday) $time_html  += '公眾假期' +' : '+ $value.holiday + '</br>';
					var td3 = $('<div class="locked_time">').append($time_html);
					var td1 = $('<td>').html($row_html);

					if($value.isBlackList == 1) {
						td1.find('input[name="lockerCode"]').attr('disabled', 'disabled');
						td1.find('.locker_label').append('<br><span class="isFull green">'+'此櫃暫時無法選取'+'</span>');
					}
					td1.find('.locker_label').append(td3);
					row.append(td1);
					table.append(row);
				});
			});
			//$("#locker_m").append(table);
		});
    {if $order.shipping_type eq 'pickuppoint'}
    changeAddressType($('input[value=locker][name="address_type"]'));
    {/if}
</script>
{/literal}

{include file="pagefooter.htm"}
