
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style type="text/css">
.partially_shipped_row td {
  background-color: #F6C8CA !important;
}
table.table-bordered.dataTable td.table_td_action {
  max-width: 300px;
  min-width: 40px;
}
span.all_status {
  font-size: 18px;
}
@media (min-width: 700px) {
span.consignee {
  font-size: 14px;
  float: left;
  text-align: left;
  line-height: 20px;
  font-weight: 300;
}
}
span.consignee i {
  width: 14px;
}
td.td_consignee {
  width: 600px;
}
td.td_all_status {
    min-width: 115px;
}
td.td_order_sn {
    min-width: 135px;
}
</style>
<div class=" x_panel">
  {if !$is_wholesale && !$replacement && !$wholesale_receivable}
  <div class="row">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
    {foreach from=$status_list item=status key=key_status}
      {if $key_status neq 2}
      <li role="presentation" {if $selected_status eq $key_status && !$need_purchase}class="active"{/if}>
        <a href="order.php?act=list&amp;composite_status={$key_status}{if $all_in_stock}&all_in_stock=1{/if}" >{$status}</a>
      </li>
      {/if}
    {/foreach}
        <li role="presentation" {if $selected_status eq 109}class="active"{/if}>
            <a href="order.php?act=list&amp;composite_status=109" >待出貨(FLS)</a>
        </li>
        <li role="presentation" {if $selected_status eq 111}class="active"{/if}>
          <a href="order.php?act=list&amp;composite_status=111" >待出貨(Wilson)</a>
      </li>
      <li role="presentation" {if $selected_status eq 101 && $need_purchase}class="active"{/if}>
        <a href="order.php?act=list&amp;composite_status=101&need_purchase=1" >需訂貨</a>
      </li>
      <li role="presentation" {if $selected_status eq 301}class="active"{/if}>
        <a href="order.php?act=list&amp;composite_status=301" >管理員取消</a>
      </li>
      <li role="presentation" {if $selected_status eq 302}class="active"{/if}>
        <a href="order.php?act=list&amp;composite_status=302" >用户取消</a>
      </li>
    </ul>
  </div>
  {/if}
  <!-- 订单搜索 -->
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form action="javascript:searchOrder()" name="searchForm" class="form-inline">
      <input placeholder="{$lang.order_sn}" class="form-control" name="order_sn" type="text" id="order_sn" size="15" value="{$order_sn}">
      {if $is_wholesale || $replacement}
      <select class="form-control" name="status" id="status" title="{$lang.all_status}">
        <option value="-1" selected="selected"> -{$lang.all_status} -</option>
        {html_options options=$status_list selected=$selected_status}
      </select>
      {/if}
      {if $is_wholesale}
      <select class="form-control" name="user_id">
        <option>- 所有批發客戶 -</option>
        {foreach from=$users item=caption key=val}
        <option value="{$val}">{$caption}</option>
        {/foreach}
      </select>
      {/if}
      {if $selected_status == 101 || $selected_status == 103 || $selected_status == 108 || $selected_status == 104  || $selected_status == 105  || $selected_status == 106 }
      <select class="form-control" name="all_in_stock" title="齊貨">
        <option value="0">- 全部 -</option>
        <option value="1" {if $all_in_stock} selected{/if}>齊貨</option>
        <option value="2" {if $need_purchase} selected{/if}>需訂貨</option>
      </select>
        {/if}
      <select class="form-control" name="salesperson" id="salesperson" title="銷售人員">
        <option value="">- 銷售人員 -</option>
        {foreach from=$salesperson_list item=salesperson}
        <option>{$salesperson}</option>
        {/foreach}
      </select>
      <input placeholder="產品ID(可用逗號,分隔多個ID)" size="25" class="form-control" type="text" name="includes_goods" value="{$includes_goods}"/>
      <input placeholder="產品序號/代理訂單號" class="form-control" type="text" name="serial_numbers" value="{$serial_numbers}" />
    <select class="form-control" name="sa_id" title="代理銷售">
      <option value="-1">- 代理銷售 -</option>
      {foreach from=$salesagent_list item=salesagent}
      <option value="{$salesagent.sa_id}">{$salesagent.name}</option>
      {/foreach}
    </select>
    <select class="form-control" name="logistics_id" title="物流">
      <option value="-1">- 物流 -</option>
      {foreach from=$logistics_list item=logistics}
      <option value="{$logistics.logistics_id}" {if $delivery_order.logistics_id eq $logistics.logistics_id}selected="selected"{/if}>{$logistics.logistics_name}</option>
      {/foreach}
    </select>
    <input placeholder="物流單號" class="form-control" type="text" name="invoice_no" value="{$invoice_no}" />
      {if $is_wholesale}
      <label for="is_wholesale">
        <input class="flat" type="checkbox" name="is_wholesale" id="is_wholesale" value="1" {if $is_wholesale} checked="checked"{/if} /> 只顯示批發單
      </label>
      {/if}
      {if !$is_wholesale && !$wholesale_receivable}
      <select class="form-control" name="display_sales_order" title="只顯示代理銷售">
        <option value="0">- 包括代理銷售 -</option>
        <option value="1">只顯示代理銷售</option>
        <option value="2">不顯示代理銷售</option>
      </select>
      {/if}
      {if $selected_status eq 108}
      <select class="form-control" name="shipping_id" title="">
        <option value="0">- 所有智能櫃 -</option>
        <option value="8">順便智能櫃</option>
        <option value="11">派寶箱</option>
        <option value="12">Lockerlife</option>
      </select>
      {/if}
      {if $selected_status == 107}
      <select class="form-control" name="display_store_pickup_filter" id="display_store_pickup_filter" title="">
          <option value="0">- 取貨分類 -</option>
          <option value="1">未Pack貨</option>
          <option value="2">已Pack貨(未通知取件)</option>
          <option value="3">未取貨(已通知取件)</option>
          <option value="4">未取貨</option>
      </select>
      
      <!-- <input class="flat" type="checkbox" name="display_order_not_pickup" id="display_order_not_pickup" value="1"{if $display_order_not_pickup} checked="checked"{/if} onclick="searchOrder()"/> <label for="display_order_not_pickup">顯示未取貨</label>
      <input class="flat" type="checkbox" name="display_order_not_packed" id="display_order_not_packed" value="1"{if $display_order_not_packed} checked="checked"{/if} onclick="searchOrder()"/> <label for="display_order_not_packed">顯示未Pack貨</label>
       -->
      {/if}
      <input type="submit" value="{$lang.button_search}" class="btn btn-success form-btn" />
     
      <input class="flat" type="checkbox" name="display_order_goods" id="display_order_goods" value="1"{if $display_order_goods} checked="checked"{/if} onclick="searchOrder()"/> <label for="display_order_goods">顯示產品</label>
     
      {if $is_wholesale}
      <div class="form-helper">*只有全單齊貨的批發單, 方會自動完成出貨及收貨確認</div>
      {/if}
    </form>
  </div>
  <!-- End 订单搜索 -->
<script type="text/javascript">
    var salesperson_options = {$salesperson_options|json_encode};
</script>

<!-- 订单列表 -->
<form method="post" action="order.php?act=operate" name="listForm" onsubmit="return check()">
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table id="order" class="table table-bordered table-striped  bulk_action "><!--  add if need :text-nowrap -->
      <thead>
        <tr class="headings">
          <th data-sort="0" data-id="ex_goods_thumb" data-type="image" data-key="order_id">最貴產品</th>
          <th width="110" data-id="order_sn" data-url="order.php?act=info&amp;order_id={order_id}" data-class="td_order_sn">
            <input type="checkbox" id="check-all" class="flat">{$lang.order_sn}
          </th>
          <th data-id="add_time" data-value="short_order_time" data-order="1">{$lang.order_time}</th>
          <th data-id="consignee" data-value="consignee_info"data-sort="0" data-class="td_consignee">{$lang.consignee}</th>
          <th data-id="order_total" data-value="formated_order_total">{$lang.total_fee}</th>
          {if $smarty.session.manage_cost}
          {if $wholesale_receivable}<th data-id="money_paid">應付金額</th>{/if}
          <th data-id="cp_price"  data-edit="1">成本</th>
          {/if}
          <th data-id="salesperson" data-value="salesperson_info">銷售人員</th>
          <th data-id="all_status" data-sort="0" data-class="td_all_status">{$lang.all_status}</th>
          <th class="actionsCol" data-id="_action">{$lang.handler}</th>
        </tr>
      </thead>
      <tbody>
      <!-- Ajax -->
      </tbody>
    </table>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <input name="confirm" type="submit" id="btnSubmit" value="{$lang.op_confirm}" class="btn btn-primary" onclick="this.form.target = '_self'" />
    <!-- #BeginComment -->
    <input name="invalid" type="submit" id="btnSubmit1" value="{$lang.op_invalid}" class="btn btn-primary" onclick="this.form.target = '_self'" />
    <!-- #EndComment -->
    <input name="cancel" type="submit" id="btnSubmit2" value="{$lang.op_cancel}" class="btn btn-primary" onclick="this.form.target = '_self'" />
    <input name="remove" type="submit" id="btnSubmit3" value="{$lang.remove}" class="btn btn-primary" onclick="this.form.target = '_self'" />
    <!-- #BeginComment -->
    <input name="print" type="submit" id="btnSubmit4" value="{$lang.print_order}" class="btn btn-primary" onclick="this.form.target = '_blank'" />
    <input name="purchase" type="submit" id="btnSubmit5" value="{$lang.create_purchase_order}生成采购订单" class="btn btn-primary" onclick="this.form.target = '_self'" />
    <!-- #EndComment -->
    <!--input name="b2_export" type="submit" id="btnSubmit6" value="輸出B2托運單" class="btn btn-primary" onclick="this.form.target = '_self'" /-->
    <input name="order_export" type="submit" id="btnSubmit8" value="輸出訂單發貨單號" class="btn btn-primary" onclick="this.form.target = '_self'" />
    <input name="mass_delivery" type="button" id="btnSubmit7" value="大量投寄" class="btn btn-primary" />  
    {if $selected_status eq 107}
    <input name="mass_print" type="submit" id="btnSubmit9" value="列印執貨單" class="btn btn-primary" onclick="this.form.target = '_self'"/>
    {/if}
    <input name="batch" type="hidden" value="1" />
    <input name="order_id" type="hidden" value="" />

  </div>
</form>
<form id='mass_form' type='POST' action='order.php' class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">大量投寄</h3>
      </div>
      <div class="modal-body form-horizontal form-label-left">
        <div id="alert_text" class='red'></div>
        <input name='act' value='mass_delivery' type='hidden'>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">物流公司</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control" name="logistics">
              {if $selected_status != 111}
              <option value="sfplus">順豐到家</option>
              <option value="tqb">宅急便B2(Web)</option>
              <option value="sf">順豐</option>
              <option value="storepicking">門店自取</option>
              <option value="lockerlife">Lockerlife</option>
              <option value="pakpobox">pakpobox</option>
              <option value="eflocker">順便智能櫃</option>
              <option value="ztopickup">中通</option>
              <option value="dpex">DPEX</option>
              <option value="fedex">Fedex</option>
              <option value="4px">四方集運</option>
              <option disabled="disabled">----------</option>
              <option value="wilson">Wilson</option>
              <option value="other">其他</option>
              {else}
              <option value="wilson">Wilson</option>
              {/if}
            </select>
          </div>
        </div>
        <input name='init' value='1' type='hidden'>
        <input name='total' value='' type='hidden'>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">銷售人員</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control" name='salesperson' id='batchSalesperson'>
              <option value=''>{$lang.select_please}</option>
              {foreach from=$salesperson_list item=salesperson}
              <option value={$salesperson}>{$salesperson}</option>
              {/foreach}
            </select>
          </div>
        </div>
        {if $selected_status == 109}
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
          <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="flat" type="checkbox" name="is_fls" id="is_fls" value="1" checked="checked" onclick="searchOrder()"/> <label for="is_fls">FLS代出</label>
          </div>
        </div>
        {/if}
        <div class="cleanfix"></div>
      </div>
      <div class="modal-footer">
        <input type="submit" value="批量出貨" class="btn btn-default" id="batchBtn" />
        <input name='order_sn' value='' type='hidden'>
      </div>
    </div>
  </div>
</form>
</div>
{include file="pagefooter.htm"}
<script language="JavaScript">
var $filter = [];
var order_post = '{$order_query|json_encode}';
if(order_post.length > 0 && order_post != 'null') {
  $filter = $.parseJSON(order_post);
  $('#order').data('dt_params',$filter);
}
yohoTable.rowCallback = function($row, $order, dataIndex) {
  
  if($order.po_sn_list) {
    $div = '<p class="red">代理送貨已出PO<br>'+ $order.po_sn_list +'</p>';
    $($row).find('.order_sn').closest('td').append($div);

  }
  if($order.reship_order) {
    $($row).find('.td_all_status').addClass('bg-red');
  }
  if($order.fully_paid == 1) {
    $($row).find('.order_sn').addClass('green');
  } else $($row).find('.order_sn').removeClass('green');
  if($order.user_id > 0) {
    $p = $('<a>'+$order.buyer+'</a><br>');
    $p.attr('href', "users.php?act=list&keywords="+$order.buyer);
  } else {
    $p = $order.buyer+'<br>';
  }
  $($row).find('.order_sn').attr('id', 'order_'+dataIndex);
  $($row).find('.ex_goods_thumb>img').attr('id', 'img_'+dataIndex);
  $($row).find('.order_total').closest('td').append('<br>'+$order.pay_name);
  if($order.risky)$($row).find('.order_total').closest('td').append('<br><b class="red">可疑交易</b>');
  $($row).find('.add_time').prepend($p);
  $($row).attr('id', $order.order_id);
}
yohoTable.drawCallback = function($setting, api) {
  if($filter.display_order_goods == 1) {
    $('#order').DataTable().column(0).visible(false);
    $data = api.rows( {page:'current'} ).data();
    $.each($data, function($k, $order){
      $tr = $("#"+$order.order_id);
      $colspan = $tr.children('td').length;
      $html = '<tr>'+
        '<td colspan="'+$colspan+'" style="border-bottom: solid 1px #BBDDE5;">'+
          '<table class="table ">'+
            '<tr>'+
              '<td scope="col"><div align="center"><strong>{$lang.goods_name}</strong></div></td>'+
              '<td scope="col"><div align="center"><strong>{$lang.goods_sn}</strong></div></td>'+
              '<td scope="col"><div align="center"><strong>{$lang.goods_price}</strong></div></td>'+
              '{if $smarty.session.manage_cost}'+
              '<td scope="col"><div align="center"><strong>每件成本</strong></div></td>'+
              '{/if}'+
              '<td scope="col"><div align="center"><strong>{$lang.goods_number}</strong></div></td>'+
              '<td scope="col"><div align="center"><strong>{$lang.storage}</strong></div></td>'+
              '<td scope="col"><div align="center"><strong>出貨數量</strong></div></td>'+
              '<td scope="col"><div align="center"><strong>{$lang.subtotal}</strong></div></td>'+
            '</tr>';
        $.each($order.goods_list, function($k, $goods){
        $html += '<tr>'+
          '<td>'+
            '<img src="'+$goods.goods_thumb+'" style="width: 32px; height: 32px; vertical-align: middle;" class="order_goods_thumb" />'+
              '<a href="../goods.php?id='+$goods.goods_id+'" target="_blank">'+$goods.goods_name+'</a>'+
          '</td>'+
          '<td>'+$goods.goods_sn+'</td>'+
          '<td><div align="right">'+$goods.formated_goods_price+'</div></td>'+
          '{if $smarty.session.manage_cost}'+
          '<td><div align="right">'+$goods.formated_cost+'</div></td>'+
          '{/if}'+
          '<td><div align="right">'+$goods.goods_number+'</div></td>'+
          '<td><div align="right">'+$goods.storage+'</div></td>'+
          '<td><div align="right">'+$goods.send_number+'</div></td>'+
          '<td><div align="right">'+$goods.formated_subtotal+'</div></td>'+
        '</tr>';
        });
        $html += '</table>'+
        '</td>'+
      '</tr>';
      $tr.after($html);
    });
  } else {
    $('#order').DataTable().column(0).visible(true);
  }

  bind_order_event();
};
yohoTable.deferLoading = "{$record_count}";
yohoTable.dataSet = {$order_list|json_encode};
var $table = yoho_dataTable();
function sad(e){
    var state = $(e).data('state');
    if(state == 1){
      $(e).prop('indeterminate', true);
      $(e).val(2);
    }else if(state == 2){
      $(e).prop('indeterminate', false);
      $(e).prop('checked', false);
    }else{
      $(e).prop('checked', true);
      $(e).val(1);
    }
    state = (state + 1) % 3
    $(e).data('state', state);
    $(e).val(state);
  };
{literal}
    $('#btnSubmit7').click(function(){
      var $sn_list = check(1);
      $sn_list = $sn_list.split(',');
      var $sn_total = $sn_list.length;
      var $text = "你確定要將此"+$sn_total+"張訂單出貨? 將會直接扣除可出貨庫存並出貨";
      $("#alert_text").html($text);
      $("#mass_form input[name=order_sn]").val($sn_list);
      $("#mass_form input[name=total]").val($sn_total);
      $('#batchBtn').prop('disabled', true);
     // $("#mass_form").show();
      $('#mass_form').modal('show');
    });
    $('#batchBtn').click(function(){
      this.disabled=true;
      $("#mass_form").submit();
    });
    $('#batchSalesperson').on('change', function() {

      if(this.value == '') $('#batchBtn').prop('disabled', true);
      else $('#batchBtn').prop('disabled', false);
    });

    /**
     * 搜索订单
     */
    function searchOrder()
    {
      //$filter = [];
      $filter['order_sn'] = Utils.trim(document.forms['searchForm'].elements['order_sn'].value);
      //listTable.filter['consignee'] = Utils.trim(document.forms['searchForm'].elements['consignee'].value);
      $filter['invoice_no'] = document.forms['searchForm'].elements['invoice_no'].value;
      if(document.forms['searchForm'].elements['status']) {
        $filter['composite_status'] = document.forms['searchForm'].elements['status'].value;
      }
      $filter['salesperson'] = document.forms['searchForm'].elements['salesperson'].value;
      $filter['logistics_id'] = document.forms['searchForm'].elements['logistics_id'].value;
      $filter['sa_id'] = document.forms['searchForm'].elements['sa_id'].value;
      if(document.forms['searchForm'].elements['user_id'])
        $filter['user_id'] = document.forms['searchForm'].elements['user_id'].value;
      $filter['includes_goods'] = document.forms['searchForm'].elements['includes_goods'].value;
      $filter['is_wholesale'] = (document.forms['searchForm'].elements['is_wholesale'] && document.forms['searchForm'].elements['is_wholesale'].checked)?1:0;
      $filter['serial_numbers'] = document.forms['searchForm'].elements['serial_numbers'].value;
      $filter['display_order_goods'] = $('#display_order_goods').attr("checked") ? 1 : 0;
      $filter['display_order_not_pickup'] = $('#display_order_not_pickup').attr("checked") ? 1 : 0;
      $filter['display_order_not_packed'] = $('#display_order_not_packed').attr("checked") ? 1 : 0;
      $filter['display_sales_order'] = $('select[name="display_sales_order"]').val();
      $filter['display_store_pickup_filter'] = $('#display_store_pickup_filter').val();
      $filter['shipping_id'] = $('select[name="shipping_id"]').val();
      $ais_value = $('select[name="all_in_stock"]').val();
      if($ais_value == 1) {
        $filter['all_in_stock'] = 1;
        $filter['need_purchase'] = 0;
      } else if($ais_value == 2) {
        $filter['need_purchase'] = 1;
        $filter['all_in_stock'] = 0;
      } else {
        $filter['need_purchase'] = 0;
        $filter['all_in_stock'] = 0;
      }
      $table.search($filter);
    }

    function check()
    {
      var snArray = new Array();
      var eles = document.forms['listForm'].elements;
      eles['order_id'].value = $table.getSelectValue();
      return eles['order_id'].value;
    }
    /**
     * 显示订单商品及缩图
     */
    var show_goods_layer = 'order_goods_layer';
    var goods_hash_table = new Object;
    var timer = new Object;

    /**
     * 绑定订单号事件
     *
     * @return void
     */
    function bind_order_event()
    {
        var order_seq = 0;
        while(true)
        {
            var order_sn = Utils.$('order_'+order_seq);
            var order_img = Utils.$('img_'+order_seq);
            if (order_sn)
            {
                order_sn.onmouseover = function(e)
                {
                    try
                    {
                        window.clearTimeout(timer);
                    }
                    catch(e)
                    {
                    }
                    var order_id = $(this).closest('tr').attr('id');
                    show_order_goods(e, order_id, show_goods_layer);
                }
                order_sn.onmouseout = function(e)
                {
                    hide_order_goods(show_goods_layer)
                }
            }
            else
            {
                break;
            }
            if (order_img)
            {
                order_img.onmouseover = function(e)
                {
                    try
                    {
                        window.clearTimeout(timer);
                    }
                    catch(e)
                    {
                    }
                    var order_id = $(this).closest('tr').attr('id');
                    show_order_goods(e, order_id, show_goods_layer);
                }
                order_img.onmouseout = function(e)
                {
                    hide_order_goods(show_goods_layer)
                }
            }
            order_seq++;
        }
    }

    /**
     * 建立订单商品显示层
     *
     * @return void
     */
    function create_goods_layer(id)
    {
        if (!Utils.$(id))
        {
            var n_div = document.createElement('DIV');
            n_div.id = id;
            n_div.className = 'order-goods';
            document.body.appendChild(n_div);
            Utils.$(id).onmouseover = function()
            {
                window.clearTimeout(window.timer);
            }
            Utils.$(id).onmouseout = function()
            {
                hide_order_goods(id);
            }
        }
        else
        {
            Utils.$(id).style.display = '';
        }
    }

    /**
     * 显示订单商品数据
     *
     * @return void
     */
    function show_order_goods(e, order_id, layer_id)
    {
        create_goods_layer(layer_id);
        $layer_id = Utils.$(layer_id);
        $layer_id.style.position = 'absolute';
        $layer_id.style.top = (Utils.y(e) + 12) + 'px';
        $layer_id.style.left = (Utils.x(e) + 12) + 'px';
        if (typeof(goods_hash_table[order_id]) == 'object')
        {
            response_goods_info(goods_hash_table[order_id]);
        }
        else
        {
            $layer_id.innerHTML = loading;
            Ajax.call('order.php?is_ajax=1&act=get_goods_info&order_id='+order_id, '', response_goods_info , 'POST', 'JSON');
        }
    }

    /**
     * 隐藏订单商品
     *
     * @return void
     */
    function hide_order_goods(layer_id)
    {
        $layer_id = Utils.$(layer_id);
        window.timer = window.setTimeout('$layer_id.style.display = "none"', 500);
    }

    /**
     * 处理订单商品的Callback
     *
     * @return void
     */
    function response_goods_info(result)
    {
        if (result.error > 0)
        {
            alert(result.message);
            hide_order_goods(show_goods_layer);
            return;
        }
        if (typeof(goods_hash_table[result.content[0].order_id]) == 'undefined')
        {
            goods_hash_table[result.content[0].order_id] = result;
        }
        Utils.$(show_goods_layer).innerHTML = result.content[0].str;
    }
    
    function completeOrderPayment(order_id)
    {
      try
      {
        Ajax.call('wholesale_payments.php?is_ajax=1&act=complete&order_id=' + order_id, '', completeOrderPaymentResponse, 'GET', 'JSON');
      }
      catch (e) { }
    }
    
    function completeOrderPaymentResponse(result)
    {
      try
      {
        alert(result.message);
        if (!result.error)
        {
          // reload the list
          $table.draw();
        }
      }
      catch (e) { }
    }
    
    function addRemarkPopup(order_id)
    {
      var $_table = this.$table;
      var $inner = $('<div class="table-responsive"></div>');
      
      var $table = $('<table class="table"></table>');
      $inner.append($table);
      
      var $addRow = $('<tr></tr>');
      $table.append($addRow);
      
      // Dropdown box for quick remarks
      var $dropdownHeadingCell = $('<th>新增備註</th>');
      $addRow.append($dropdownHeadingCell);
      var $dropdown = $('<select class="form-control">' +
      '<option value="">請選擇...</option>' +
      '<option>已致電客人跟進付款</option>' +
      '<option>已電郵客人跟進付款</option>' +
      '<option>已向供應商訂貨</option>' +
      '<option value="custom">其他...</option>' +
      '</select>');
      var $remarkCell = $('<td></td>');
      $addRow.append($remarkCell);
      $remarkCell.append($dropdown);
      var $textfield = null;
      $dropdown.change(function () {
        var remark = $(this).val();
        if (!remark) return;
        if (remark == 'custom')
        {
          $textfield = $('<input class="form-control" type="text" style="width: ' + $dropdown.width() + 'px;">');
          $textfield.insertAfter($dropdown);
          $dropdown.hide();
          $textfield.focus();
        }
      });
      
      var $operatorHeadingCell = $('<th>操作員</th>');
      $addRow.append($operatorHeadingCell);
      var $operator = $('<select class="form-control"></select>');
      $.each(salesperson_options, function (i, salesperson) {
        $operator.append($('<option></option>').attr('value', salesperson.value).text(salesperson.name));
      });
      $operator.val(window.localStorage ? window.localStorage.getItem('operator') : '');
      var $operatorCell = $('<td></td>');
      $addRow.append($operatorCell);
      $operatorCell.append($operator);
      $operator.change(function () {
        if (window.localStorage)
        {
          window.localStorage.setItem('operator', $(this).val());
        }
      });
      
      var $addBtn = $('<input type="button" value="儲存備註" class="btn btn-primary">');
      var $addBtnCell = $('<td></td>');
      $addRow.append($addBtnCell);
      $addBtnCell.append($addBtn);
      $addBtn.click(function () {
        var remark = $dropdown.val();
        if (remark == 'custom')
        {
          remark = $textfield.val();
        }
        if (!remark)
        {
          alert('儲存備註前請先填寫備註');
          return;
        }
        var operator = $operator.val();
        if (!operator)
        {
          alert('儲存備註前請先填寫操作員');
          return;
        }
        //window.location = 'order.php?act=operate_post&order_id=' + order_id + '&operation=after_service&action_note=' + encodeURIComponent(remark) + '&operator=' + encodeURIComponent(operator) + '&back_to_referer=1';
        $addBtn.prop('disabled', true);
        $.ajax({
          url: 'order.php',
          type: 'get',
          cache: false,
          data: {
            'act': 'operate_post',
            'order_id': order_id,
            'operation': 'after_service',
            'action_note': remark,
            'operator': operator,
            'back_to_referer': 1
          },
          dataType: 'text',
          success: function (result) {
            // Close the popup
            modal.hide($popup);
            // Reload the list
            $_table.draw(false);
          },
          error: function (xhr) {
            $addBtn.prop('disabled', false);
            alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
            console.log(xhr);
          }
        });
      });
      
      $.ajax({
        url: 'order.php',
        type: 'get',
        cache: false,
        data: {
          'act': 'get_order_actions',
          'order_id': order_id
        },
        dataType: 'json',
        success: function (result) {
          if (result.error)
          {
            alert(result.message);
          }
          else
          {
            var $listDiv = $('<div style="max-height: 300px;" class="table-responsive"></div>');
            var $actionTable = $('<table class="table table-striped text-nowrap"></table>');
            $actionTable.append('<tr><th>操作員：</th><th>操作時間</th><th>訂單狀態</th><th>付款狀態</th><th>出貨狀態</th><th>備註</th></tr>');
            $.each(result.content, function (i, action) {
              $actionTable.append('<tr>'+
                '<td>' + action.action_user + '</td>' +
                '<td>' + action.log_time_formatted + '</td>' +
                '<td>' + action.order_status_formatted + '</td>' +
                '<td>' + action.pay_status_formatted + '</td>' +
                '<td>' + action.shipping_status_formatted + '</td>' +
                '<td style="white-space: pre-wrap;word-break: break-all;">' + action.action_note + '</td>' +
              '</tr>');
            });
            $listDiv.append($actionTable);
            $inner.append($listDiv);
            var height = $inner.height() + 8; // add padding
            /*$popup.css({
              'margin-top': '-' + (height / 2) + 'px',
              'height': height + 'px'
            });*/
          }
        },
        error: function (xhr) {
          alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
          console.log(xhr);
        }
      });
      
      $popup = modal.create('訂單備註', $inner);
      modal.show($popup);
    }
    
    function order_goods_thumb_follower()
    {
      var $mouse_follower = null;
      $('.list-div').on('mouseenter', 'img.order_goods_thumb', function(e) {
        var $img = $(this).clone().css({'width': '160px', 'height': '160px'});
        if ($mouse_follower != null)
        {
          $mouse_follower.remove();
        }
        $mouse_follower = $('<div></div>');
        $mouse_follower.css({
          'position': 'absolute',
          'display': 'block',
          'background-color': 'white',
          'border': '1px solid #BBDDE5',
          'left': e.pageX + 10,
          'top': e.pageY + 10
        }).empty().append($img).appendTo('body');
      }).on('mousemove', 'img.order_goods_thumb', function(e) {
          $mouse_follower.css({
            'left': e.pageX + 10,
            'top': e.pageY + 10
          });
      }).on('mouseleave', 'img.order_goods_thumb', function() {
          $mouse_follower.remove();
          $mouse_follower = null;
      });
    }
</script>
{/literal}

