{if $full_page}
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,listtable.js,../js/transport_jquery.js,../js/region.js"}
<div id="list" class=" x_panel">
{/if}
<style>
.sel_type{
    font-size: 12px;
    width: 135px;
}

.sel_lift{
    font-size: 12px;
    width: 138px;
}

.text-search-group{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.text-search-group label,.text-search-group input,.text-search-group select {
    vertical-align: middle;
}
</style>
<div class="btn-group btn-group-justified">
    <a href="order_address.php?act=list" class="btn btn-primary{if $page_type == 'edit'} active{/if}">速遞地址列表</a>
    <a href="order_address.php?act=list&type=pickup" class="btn btn-primary{if $page_type == 'pickup'} active{/if}">自取地址列表</a>
    <a href="order_address.php?act=list&type=time" class="btn btn-primary{if $page_type == 'time'} active{/if}">停留時間</a>
    <a href="order_address.php?act=list&type=building" class="btn btn-primary{if $page_type == 'building'} active{/if}">大廈</a>
    <a href="order_address.php?act=list&type=google_place" class="btn btn-primary{if $page_type == 'google_place'} active{/if}">Google地點</a>
</div> 
<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form name="TimeInterval"  action="javascript:getList(this)" class="form-inline">
        <label for="start_date" style="font-weight: normal;">{$lang.start_date}</label>&nbsp;
        <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
        <label for="end_date" style="font-weight: normal;">{$lang.end_date}</label>&nbsp;
        <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
        <select class="form-control" name="search_type_cat" id="search_type_cat">
            <option value="-1">- 全部地址類型 -</option>
            <option value="1">住宅</option>
            <option value="2">工商</option>
            <option value="3">其他</option>
        </select>&nbsp;&nbsp;
        {if $page_type != 'pickup'}
        <label for="non_pickup" style="font-weight: normal; cursor: pointer;">只顯示速遞地址</label>&nbsp;
        <input type="checkbox" name="non_pickup" id="non_pickup" class="form-control flat filter-check" {if $non_pickup} checked="checked"{/if} />&nbsp;
        {/if}
        <label for="verify" style="font-weight: normal; cursor: pointer;">只顯示已確認地址</label>&nbsp;
        <input type="checkbox" name="verify" id="verify" class="form-control flat filter-check" {if $non_verify} checked="checked"{/if} />&nbsp;
        <label for="non_verify" style="font-weight: normal; cursor: pointer;">只顯示未確認地址</label>&nbsp;
        <input type="checkbox" name="non_verify" id="non_verify" class="form-control flat filter-check" {if $non_verify} checked="checked"{/if} />&nbsp;
        <label for="no_city" style="font-weight: normal; cursor: pointer;">只顯示欠缺城鎮地址</label>&nbsp;
        <input type="checkbox" name="no_city" id="no_city" class="form-control flat filter-check" {if $no_city} checked="checked"{/if} />&nbsp;
        <label for="unknown_city" style="font-weight: normal; cursor: pointer;">只顯示無法識別城鎮地址</label>&nbsp;
        <input type="checkbox" name="unknown_city" id="unknown_city" class="form-control flat filter-check" {if $unknown_city} checked="checked"{/if} />&nbsp;
        <input class="btn btn-success form-btn" type="button" id="cross_check_search" name="cross_check_search" value="{$lang.query}" />
        <br>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" onclick="$('input[name=start_date]').val('{$7_date_before}');$('input[name=end_date]').val('{$date_today}');$('input#cross_check_search').trigger('click');">近7日</button>
            <button type="button" class="btn btn-success" onclick="$('input[name=start_date]').val('{$30_date_before}');$('input[name=end_date]').val('{$date_today}');$('input#cross_check_search').trigger('click');">近30日</button>
        </div>
        {insert name=daterange_group submit=cross_check_search}
        <div class="text-search-group">
            <label for="keyword_cat" style="font-weight: normal;">關鍵字: </label>&nbsp;
            <select class="form-control" name="keyword_operator" id="keyword_cat">
                <option value="-1">- 不使用關鍵字搜尋 -</option>
                <option value="locality">地方/市鎮</option>
                <option value="phase">屋苑</option>
                <option value="sign_building">大廈</option>
            </select>&nbsp;&nbsp;
            <input name="keyword_text_1" type="text" id="keyword_text_1" size="12" value="" placeholder="關鍵字1"  class="form-control" />&nbsp;&nbsp;
            <select class="form-control" name="keyword_operator" id="keyword_operator">
                <option value="OR">或</option>
                <option value="AND">及</option>
            </select>&nbsp;&nbsp;
            <input name="keyword_text_2" type="text" id="keyword_text_2" size="12" value="" placeholder="關鍵字2(可留空)" class="form-control" />&nbsp;&nbsp;
        </div>
    </form>

    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
        <table id="data" class="table table-bordered table-striped  bulk_action">
            <thead>
                <tr class="headings">
                    <th data-id="order_address_id" data-key="order_address_id" data-sort="1" style="width: 0px;"><input type="checkbox" id="check-all" class="flat">ID</th>
                    <th data-id="address" data-edit="{if $page_type != 'pickup'}true{else}false{/if}" data-sort="0">原始地址</th>
                    <th data-id="administrative_area" data-edit="true" data-sort="1">地區</th>
                    <th data-id="locality" data-edit="true" data-sort="1">地方/市鎮</th>
                    <th data-id="street_name" data-edit="true" data-sort="0">街道</th>
                    <th data-id="street_num" data-edit="true" data-sort="0">街號</th>
                    <th data-id="phase" data-edit="true" data-sort="0">屋苑</th>
                    {if $page_type != 'pickup'}
                    <th data-id="block" data-edit="true" data-sort="0">座數</th>
                    {/if}
                    <th data-id="sign_building" data-edit="true" data-sort="1">大廈</th>
                    {if $page_type != 'pickup'}
                    <th data-id="floor" data-edit="true" data-sort="0">樓層</th>
                    <th data-id="room" data-edit="true" data-sort="0">室</th>
                    {/if}
                    <th data-id="type_select" data-edit="false" data-sort="0">{$lang.address_type}</th>
                    <th data-id="lift_select" data-edit="false" data-sort="0">{$lang.address_type_lift}</th>
                    <th data-id="verify" data-edit="true" data-type="toggle" data-empty="" data-sort="1" style="display: none;">已確認</th>
                </tr>
            </thead>
        </table>
        {if $page_type != 'pickup'}
        <button type="button" id="addr_merge" class="btn btn-danger" style="vertical-align: middle; margin: 2px 8px;">合併同一用户相同地址</button>
        {/if}
    </div>

<!--
    <div class="list-div">
        <table id="#" class="table table-striped table-bordered bulk_action ">
            <tr>
                <th>原始地址</th>
                <th>地區</th>
                <th>地方/市鎮</th>
                <th>街道</th>
                <th>街號</th>
                <th>屋苑</th>
                <th>大廈</th>
                <th>座數</th>
                <th>樓層</th>
                <th>室</th>
                {if $act eq "edit_list"}
                <th>{$lang.handler}</th>
                {else}
                <th style="width:70px">耗時</th>
                {/if}
            </tr>
            {foreach from=$addr_list item=address}
            <tr>
                <td align="center">{$address.address}</td>
                <td align="center">{$address.administrative_area}</td>
                <td align="center">{$address.locality}</td>
                <td align="center">{$address.street_name}</td>
                <td align="center">{$address.street_num}</td>
                <td align="center">{$address.phase}</td>
                <td align="center">{$address.sign_building}</td>
                <td align="center">{$address.block}</td>
                <td align="center">{$address.floor}</td>
                <td align="center">{$address.room}</td>
                {if $act eq "edit_list"}
                <td align="center">
                    <a href="order_address.php?act=edit&address_id={$address.order_address_id}" title="{$lang.edit}">
                        <img src="images/icon_edit.gif" width="16" height="16" border="0" />
                    </a>
                </td>
                {else}
                <td align="center">{$address.staying_time}秒</td>
                {/if}
            </tr>
            {/foreach}
        </table>
        <table id="page-table" cellspacing="0">
            <tr>
                <td align="right" nowrap="true">
                    <div id="turn-page">
                        {$lang.total_records} <span id="totalRecords">{$record_count}</span>
                        {$lang.total_pages} <span id="totalPages">{$page_count}</span>
                        {$lang.page_current} <span id="pageCurrent">{$page}</span>
                        {$lang.page_size} <input type='text' size='3' id='page_size' value="{$page_size}" onchange="gotoPage(1)"/>
                        <span id="page-link">
                            <a href="javascript:gotoPage(1)">{$lang.page_first}</a>
                            {if $prev_page}<a href="javascript:gotoPage({$prev_page})">{$lang.page_prev}</a>{/if}
                            {if $next_page}<a href="javascript:gotoPage({$next_page})">{$lang.page_next}</a>{/if}
                            <a href="javascript:gotoPage({$page_count})">{$lang.page_last}</a>
                            <select id="gotoPage" onchange="gotoPage(this.value)">
                                {create_pages count=$page_count page=$page}
                            </select>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
-->


{include file="pagefooter.htm"}
{if $full_page}
</div>
<script>

yohoTable.query = "query&data-type=list";
yohoTable.table_id = "data";
var $table = yoho_dataTable();

$("#cross_check_search").click(function(){
    var $filter = {};
    $filter.start_date = $("#start_date").val();
    $filter.end_date = $("#end_date").val();
    {if $page_type == 'pickup'}
    $filter.non_pickup = false;
    $filter.pickup_only = true;
    {else}
    $filter.non_pickup = $('#non_pickup').prop("checked");
    {/if}
    $filter.non_verify = $('#non_verify').prop("checked");
    $filter.verify = $('#verify').prop("checked");
    $filter.no_city = $('#no_city').prop("checked");
    $filter.unknown_city = $('#unknown_city').prop("checked");
    $filter.search_type_cat = $("#search_type_cat").val();
    $filter.keyword_cat = $("#keyword_cat").val();
    if ($filter.keyword_cat != -1){
        $filter.keyword_text_1 = $("#keyword_text_1").val();
        $filter.keyword_text_2 = $("#keyword_text_2").val();
        $filter.keyword_operator = $("#keyword_operator").val();
    }
    if ($filter.no_city == true && $filter.unknown_city == true){
        alert("不能同時選擇 只顯示欠缺城鎮地址 及 只顯示無法識別城鎮地址");
    } else if ($filter.verify == true && $filter.non_verify == true){
        alert("不能同時選擇 只顯示已確認地址 及 只顯示未確認地址");
    } else {
        $table.search($filter);
    }
    return;
});


$("#addr_merge").click(function(){
    var addr_check = [];
    $("input[name='table_records']").each(function(){
        if ($(this).prop("checked")){
            addr_check.push($(this).val())
        }
    });
    if(addr_check.length > 1){
        if (confirm('確定合併剔選的 ' + addr_check.length + ' 個地址? ID: ' + addr_check)) {
            $.ajax({
                url: 'order_address.php?act=ajaxAddressMerge',
                type: 'post',
                cache: false,
                data: {
                    'id': addr_check
                },
                dataType: 'json',
                success: function (result) {
                    if (result.error == 0) {
                        if (result.content == ""){
                            $('input#cross_check_search').trigger('click');
                        } else {
                            alert(result.content);
                        }
                    } else {
                        $('#error_msg').html(result.message);
                        //alert(result.message);
                    }
                },
                error: function (xhr) {
                    alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
                    console.log(xhr);
                }
            });
        } else {
            return false;
        }
    } else {
        alert('請先剔選2個或更多地址');
    }
});

function gotoPage(page){
    $.ajax({
        url: 'order_address.php?act={$act}&ajax=1&page='+page+"&page_size="+$("#page_size").val(),
        success:function(res){
            $('#list').html(res)
        }
    })
}

function sel_change($this){
    $.ajax({
      url: 'order_address.php?act=ajaxEdit',
      type: 'post',
      cache: false,
      data: {
        'value': $this.value,
        'id': $this.getAttribute('data-key'),
        'col': $this.getAttribute('data-source'),
        'mkey' : 'order_address_id',
        'action' : 'list'
      },
      dataType: 'json',
      success: function (result) {
        if (result['error'] == 0) {
            
        } else {
            $('#error_msg').html(result.message);
            //alert(result.message);
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
}




</script>
{/if}