<!-- $Id -->
{include file="pageheader.htm"}

<form name="theForm" method="post" action="refund_requests.php">
<div class="x_panel">
<table class="table">
  <tr>
    <th>{$lang.label_refund_amount}</th>
    <td>{$formated_refund_amount}</td>
  </tr>
  <tr>
    <th width="120">{$lang.label_handle_refund}</th>
    <td>
      <input class="refund" name="refund_amount" type="hidden" style="width: 280px;" value="0" readonly/>
      <input class="refund" name="integral_amount" type="hidden" style="width: 280px;" value="0" readonly/>
      <input class="flat" type="radio" name="method" id="refund_amount" data-amount="{$fixed_refund.money|default:0}">退還款項: {$fixed_refund.money|default:0} 
      <input class="flat" type="radio" name="method" id="integral_amount" data-amount="{$fixed_refund.point|default:0}">退還積分: {$fixed_refund.point|default:0}
    </td>
  </tr>
  <tr>
    <th>{$lang.label_refund_note}</th>
    <td><textarea class="form-control" name="requester_remark" cols="60" rows="3" id="refund_note">{$refund_note}</textarea></td>
  </tr>
  <tr>
    <th>退款資料：</td>
    <td>
      <table>
      {if $txns}        
        <tr>
          <td></td>
          <td>交易編號</td>
          <td>金額</td>
        </tr>
        {foreach from=$txns item=txn}
        <tr>
          <td><input class="flat" type="checkbox" name="transaction[]" value="{$txn.txn_id} ({$txn.txn_amount})" checked></td>
          <td>{$txn.txn_id}</td>
          <td>{$txn.txn_amount}</td>
        </tr>
        {/foreach}
      {else}
        <tr>
          <td style="width:100px">銀行</td>
          <td style="width:150px">戶口</td>
          <td style="width:150px">持有人</td>
        </tr>
        <tr>
          <td><input class="form-control" name="bank" type="text" style="width: 95%;" value=""><input name="offline" type="hidden" value="1"></td>
          <td><input class="form-control" name="bank_ac" type="text" style="width: 95%;" value=""></td>
          <td><input class="form-control" name="bank_user" type="text" style="width: 95%;" value=""></td>
        </tr>
        <tr>
          <td colspan="2"><input class="flat" type="checkbox" name="later" value="1">銀行資料後補</td>
        </tr>
      {/if}
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div align="center">
        <input type="submit" name="submit" value="{$lang.button_submit}" class="btn btn-primary" />
        <input type="hidden" name="order_id" value="{$order_id}" />
        <input type="hidden" name="user_id" value="{$order_info.user_id}" />
        <input type="hidden" name="requester_id" value="{$requester_id}" />
        <input type="hidden" name="reason" value="edit_order" />
        <input type="hidden" name="act" value="insert" />
        </div></td>
  </tr>
</table>
</div>
</form>
<script language="JavaScript">
$(function(){
  $('input[name=later]').on('ifChanged', function(e){
    var disable = false;
    if($(e.target).prop('checked'))
      disable = true;
    $('input[name^=bank]').prop('disabled', disable)
  })
  $('input[name=method]').on('ifChanged', function(e){
    $('input[class=refund]').val(0);
    $('input[name='+$(e.target).prop('id')+']').val($(e.target).data('amount'));
  })
  $('#refund_amount').prop('checked',true).change().trigger('ifChanged');
  $('input[name^=transaction]:last').prop('checked',true);
  $('form').submit(function(){
    $('input[name=submit]').prop('disabled', true)
    if($('input[name^=transaction]').length > 0){
      if(!$('input[name^=transaction]:checked').val()){
        alert("請選擇交易編號")
        $('input[name=submit]').prop('disabled', false)
        return false;
      }
    }
  })
})
</script>
{include file="pagefooter.htm"}