{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<style>
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tabcontent.active{
    display:block
}
div.tab button:hover {
    background-color: #ddd;
}
div.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
</style>
<div class=" x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form class="form-inline">
        <input type="hidden" name="act" value="report">
        {$lang.start_date}&nbsp;
        <input class="form-control" name="start_date" type="text" id="start_date" size="15" value='{$start_date}' data-type="date" />
        {$lang.end_date}&nbsp;
        <input class="form-control" name="end_date" type="text" id="end_date" size="15" value='{$end_date}' data-type="date" />
        <select name="sorting" id="sorting">
            <option value=""></option>
            <option value="new" {if $sorting eq "new"}selected{/if}>由新至舊</option>
            <option value="old" {if $sorting eq "old"}selected{/if}>由舊至新</option>
        </select>
        <input type="submit" id="submit" class="btn btn-primary" value="提交">
        {insert name=daterange_group}
    </form>
</div>
<!--
<ul id="adminTab" class="nav nav-tabs bar_tabs" role="tablist">
    <li {if 0} class="active" {/if} >
        <a onclick="javascript:getList(this)" data-list_type="time" style="cursor: pointer;">停留時間</a>
        <a onclick="javascript:getList(this)" data-list_type="sign" style="cursor: pointer;">大廈</a>
        <a onclick="javascript:getList(this)" data-list_type="google" style="cursor: pointer;">Google地點</a>
        <a onclick="javascript:getList(this)" data-list_type="local" style="cursor: pointer;">欠缺地方/市鎮</a>
        <a onclick="javascript:getList(this)" data-list_type="local2" style="cursor: pointer;">無法識別地方/市鎮</a>
    </li>
</ul>
-->
<div class="tab row">
    <button class="tablinks active" onclick="openTable(event,'time')">停留時間</button>
    <button class="tablinks" onclick="openTable(event,'sign')">大廈</button>
    <button class="tablinks" onclick="openTable(event,'google')">Google地點</button>
    <button class="tablinks" onclick="openTable(event,'local')">欠缺地方/市鎮</button>
    <button class="tablinks" onclick="openTable(event,'local2')">無法識別地方/市鎮</button>
</div>
<div class="ajax tabcontent row active" id="time"></div>
<div class="ajax tabcontent row" id="sign"></div>
<div class="ajax tabcontent row" id="google"></div>
<div class="ajax tabcontent row" id="local"></div>
<div class="ajax tabcontent row" id="local2"></div>
</div>
{include file="pagefooter.htm"}
<script>
$(function(){
    $('div.ajax').get().map((v)=>(
        $.ajax({
            url: 'order_address.php?act=query&tab='+$(v).attr('id')+($('#start_date').val()!=""?"&start_date="+$('#start_date').val():"")+($('#end_date').val()!=""?"&end_date="+$('#end_date').val():"")+($('#sorting').val()!=""?"&sorting="+$('#sorting').val():""),
            success:function(res){
                $(res).appendTo('#'+$(v).attr('id'))
            }
        })
    ))
})

function openTable(evt, tableName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tableName).style.display = "block";
    evt.currentTarget.className += " active";
}

</script>