
{include file="pageheader.htm"}
<style>
.section{
    border: 2px solid #278296;
    margin: 10px;
}
select + select{
    margin-left: 10px;
}
#txt_addr_info{
    cursor: pointer;
    text-decoration: underline;
    font-size: 15px;
}
</style>
<div class=" x_panel">
{if $undo_list}
<div style="width:100%;float:left;color:red;" class='list-div'>
    <h4 style="text-align: center;">處理失敗之訂單號: </h4>
    <div class='section'>
        {foreach from=$undo_list item=sn}
            {$sn}{if $error_list[$sn]} - {$error_list[$sn]} {/if}<br>
        {/foreach}
    </div>
</div>
{/if}
<div class='list-div col-sm-3' id="left_menu">
    <h4 style="text-align: center;">已出貨之訂單號</h4>
    <div class='section' id="sn_box">
        <div id="sn_select">
            {foreach from=$order_sn_array item=order}
            <input type="checkbox" value="{$order.order_sn}" checked disabled><label>{$order.order_sn} - {$order.process_string}</label><br>
            {/foreach}
        </div>
    </div>
    <p style="text-align: center;">
        <input id="export" class="btn btn-primary" type="button" value="滙出訂單資料"><br>
        <input id="import" class="btn btn-primary" type="button" value="上傳物流資料及發送電郵"><br>
        {if $process >= $MK_MAIL }<input id="re_send" class="btn btn-primary" type="button" value="重新發送出貨電郵"><br>{/if}
        {if $process >= $MK_MAIL }<input id="re_print" class="btn btn-primary" type="button" value="列印POS單">{/if}
        {if $is_fls_order_delivery == 1}
        <form style="text-align: center;" id="fls_mass_delivery" action="" type="POST" target="_blank">
            <input name='act' value='mass_delivery' type='hidden'>
            <input name='mass_key' value='{$mass_key}' type='hidden'>
            <input id="export_fls" type="hidden" name="export_fls" value="1"/>
            <input id="export_fls_excel" class="btn btn-success" type="submit" value="FLS EXCEL 下載">
            <a target="_blank" href="../fls?mass_key={$mass_key}&fp_token={$fls_token}" id="fls_link" class="btn btn-success" value="">FLS 列印POS單</a>
        </form>
        {/if}
    </p>
    <form id="mass_delivery" action="" type="POST" target="_blank">
        <input name='act' value='mass_delivery' type='hidden'>
        <input name='mass_key' value='{$mass_key}' type='hidden'>
        <input id='custom_action' type='hidden' value='1'>
    </form>
</div>
<div style="display:none" class='list-div col-sm-8' id="extra_detail_insert">
    <h4 style="text-align: center;">輸入補充資料</h4>
    <div class='section'>
        <h3 style="margin-bottom:5px;text-align:center">訂單： <span id="extra_order_sn"></span></h3>
        <table class="table jambo_table table-striped" style="float:left;width:50%" id="order_detail"></table>
        <form id="order_info_form" class="form-inline"style="float:left;width:50%">
            <table class="table jambo_table table-striped">
                <thead><tr><th colspan="2">收件地址<input class="form-control" name='mass_key' value='{$mass_key}' type='hidden'></th></tr></thead>
                <tr><td colspan="2" style="height:22px;text-align:center;" id="detail_addr"></td></tr>
                <thead><tr><th colspan="2" colspan="2">裝件箱</th></tr></thead>
                <tr><td colspan="2" style="height:22px;text-align:center;" id="detail_box"></td></tr>
                <thead><tr><th width="50%">重量(KG)</th><th>貨物價值(HKD)</th></tr></thead>
                <tr><td style="height:22px;text-align:center;" id="detail_weight"><input  class="form-control" name="weight" id="weight" type="text" value="3"></td>
                    <td style="height:22px;text-align:center;" id="detail_price"><input  class="form-control" name="price" id="price" type="text" value="2000"></td>
                </tr>
                <thead><tr><th colspan="2">備註(選搷)</th></tr></thead>
                <tr><td colspan="2" style="height:100px;text-align:center" id="detail_remark"></td></tr>
            </table>
        </form>
        <div style="clear:both"></div>
    </div>
    <div><p id="extra_button" style="text-align:center;margin:10px"></p></div>
    <div style="clear:both"></div>
</div>
<div style="display:none" class='list-div col-sm-5' id="excel_import">
    <h4 style="text-align: center;">匯入速遞商Excel</h4>
    <form method="post" id="insert_form" enctype="multipart/form-data">
        <div style="padding:10px; display:none;">
            物流
            <select name="logistics_id">
                <option value="-1">{$lang.select_please}</option>
                {foreach from=$logistics_list item=logistics}
                <option value="{$logistics.logistics_id}" {if $delivery_order.logistics_id eq $logistics.logistics_id}selected="selected"{/if}>{$logistics.logistics_name}</option>
                {/foreach}
            </select>
        </div>
        <div class='section' style="padding:10px">
            <input name='mass_key' class="file" value='{$mass_key}' type='hidden'>
            <input name='act' class="file" value='mass_delivery' type='hidden'>
            <input name='import' class="file" value='1' type='hidden'>
            <input name="import_excel" class="file form-control" type="file" accept=".xls,.xlsx"><br>
        </div>
        <div id="import_text" style="padding: 10px;"></div>
        <div class="mass_email" style="display:none;padding: 10px;"><span style="color:red;">請確定以上的物流單號, 然後寄出出貨通知電郵</span></div>
        <p style="text-align:center"><input id="upload" class="btn btn-primary" type="submit" value="上傳"><input id="email" data-mass="{$mass_key}" style="display:none;" class="btn btn-default mass_email" type="button" value="發送出貨電郵"><input id="print" class="btn btn-primary" type="button" style="display:none;" value="列印POS單"></p> 
    </form>
</div>
<div style="display:none" class='list-div col-sm-5' id="re_send_mail">
    <h4 style="text-align: center;">重新發送出貨電郵</h4>
    <form method="post" id="re_send_form">
         <div class='section' id="r_sn_box">
            <div id="r_sn_select">
                {foreach from=$order_sn_array item=order}
                    {if $order.process >= $MK_MAIL }<input type="checkbox" name="send_id[]" value="{$order.order_id}" checked><label>{$order.order_sn}</label><br>{/if}
                {/foreach}
            </div>
        </div>
        <p style="text-align: center;">
            <input id="send" data-mass="{$mass_key}" class="btn btn-primary" type="button" value="重新發送">
        </p>
    </form>
</div>
<div style="clear:both"></div>
</div>
<script language="JavaScript">
var order_sn = [
    {foreach from=$order_sn_array item=order}
    '{$order.order_sn}',
    {/foreach}
];
var extra_detail = {}, reach_end = false;
order_sn.map((v)=>(
    extra_detail[v] = {
        area: -1,
        district: -1,
        location: -1,
        box_type: 5,
        box_no: 1,
        remark: '',
        weight: '',
        price: '2000',
    }
))
var box = [
    {foreach from=$box item=item}
    '{$item}',
    {/foreach}
], addr_area = [
    {foreach from=$area item=item}
    '{$item}',
    {/foreach}
], addr_district = [
    {foreach from=$district item=area}
    [
        {foreach from=$area item=item}
        '{$item}',
        {/foreach}
    ],
    {/foreach}
], addr_location = [
    {foreach from=$location item=area}
    [
        {foreach from=$area item=district}
        [
            {foreach from=$district item=item}
            '{$item}',
            {/foreach}
        ],
        {/foreach}
    ],
    {/foreach}
];

var can_send_mail_list = [];
(function($) {
    $.fn.serializefiles = function() {
        var obj = $(this);
        /* ADD FILE TO PARAM AJAX */
        var formData = new FormData();
        $.each($(obj).find("input[type='file']"), function(i, tag) {
            $.each($(tag)[0].files, function(i, file) {
                formData.append(tag.name, file);
            });
        });
        var params = $(obj).serializeArray();
        $.each(params, function (i, val) {
            formData.append(val.name, val.value);
        });
        return formData;
    };
    $('#upload').click(function(){
        $('#upload').prop('disabled', true);
        $("#import_text").html('上傳中');
        $.ajax({
            url: 'order.php',
            type: 'POST',
            dataType: 'JSON',
            processData: false,
            contentType: false,
            data: $('#insert_form').serializefiles(),
            success: function(res){
                $('#upload').prop('disabled', false);
                $('#upload').val('重新上傳');
                if(res.status == 1) {
                    $html = '';
                    can_send_mail_list = [];
                    $.each(res.finish_list, function (order_sn, order) {
                        $html += '<div>訂單: '+order_sn+' - 物流單號: '+ order.invoice_no;
                        can_send_mail_list.push(order.order_id);
                    });
                    $("#import_text").html($html);
                    $('.mass_email').show();
                    $('#sn_box').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #sn_select');
                    $('#print,.file').prop('disabled',false);
                    $('#re_print').prop('disabled',false);
                    if($('#email').val() != '已發送')$('#email').prop('disabled',false);
                } else {
                    $("#import_text").html(res.error);
                }
            }
        })
    });
    send_mail();
})(jQuery);
function checkExtraFill(action = 0){
    saveCurrentFill();
    var filled = true;
    for(var order in extra_detail){
        filled = extra_detail[order].area >= 0 && extra_detail[order].district >= 0 && extra_detail[order].location >= 0 && extra_detail[order].box_type >= 0 && extra_detail[order].box_no >= 0 && filled;
    }
    if (filled){
        if (action == 1){
            for(var order in extra_detail){
                if (extra_detail[order].is_addr_amended || extra_detail[order].address_verify == 0){
                    var new_cat = extra_detail[order].address_type;
                    if (new_cat == -1){new_cat = 0;}
                    var new_lift = extra_detail[order].address_lift_type;
                    if (new_lift == -1){new_lift = 0;}

                    addr_info_array = [new_cat, new_lift];
                    verify = 0;
                    if (new_cat > 0 && new_lift > 0){
                        verify = 1;
                    }
                    $.ajax({
                        url: 'order.php',
                        type: 'POST',
                        dataType: 'JSON',
                        data:{
                            act: 'update_address_info',
                            order_sn: order,
                            addr_arr: addr_info_array,
                            addr_verify: verify
                        },
                        success: function(res){
                            
                        }
                    })
                }
            }
        }
        $("#download_excel").show();
    } else {
        ($("#download_excel").hide(),arguments[0] == 1 ? alert('請填寫所有必要欄位') : true);
    }
    if(arguments[0] == 2) return filled;
}
function saveCurrentFill(){
    extra_detail[$('#extra_order_sn').text()].area = parseInt($('#area').val());
    extra_detail[$('#extra_order_sn').text()].district = parseInt($('#area').val()) != -1 ? parseInt($('#district').val()) : -1;
    extra_detail[$('#extra_order_sn').text()].location = parseInt($('#area').val()) != -1 && parseInt($('#district').val()) != -1 ? parseInt($('#location').val()) : -1;
    extra_detail[$('#extra_order_sn').text()].box_type = parseInt($('#box_type').val());
    extra_detail[$('#extra_order_sn').text()].box_no = parseInt($('#box_no').val());
    extra_detail[$('#extra_order_sn').text()].remark = $('#remark').val();
    extra_detail[$('#extra_order_sn').text()].weight = $('#weight').val();
    extra_detail[$('#extra_order_sn').text()].price = $('#price').val();
    extra_detail[$('#extra_order_sn').text()].address_type = $('#address_type').val();
    extra_detail[$('#extra_order_sn').text()].address_lift_type = $('#address_lift_type').val();
    extra_detail[$('#extra_order_sn').text()].address_verify = $('#address_verify').val();
    extra_detail[$('#extra_order_sn').text()].is_business = $('option:selected', '#address_type').attr('data-type')-1;
    if ($('#address_type').val() != $('#originalCat').val() || $('#address_lift_type').val() != $('#originalLift').val()){
        extra_detail[$('#extra_order_sn').text()].is_addr_amended = true;
    } else {
        extra_detail[$('#extra_order_sn').text()].is_addr_amended = false;
    }
    //extra_detail[$('#extra_order_sn').text()].is_business = ($('#is_business').is(":checked")) ? 1 : 0;
}
function downloadExcel(){
    var from = $('#download_xls');
    $('<input>').attr({
        type: 'hidden',
        name: 'act',
        value: 'mass_delivery'
    }).appendTo('#download_xls');
    $('<input>').attr({
        type: 'hidden',
        name: 'export',
        value: 1
    }).appendTo('#download_xls');
    $('<input>').attr({
        type: 'hidden',
        name: 'mass_key',
        value: '{$mass_key}'
    }).appendTo('#download_xls');
     $('<input>').attr({
         type: 'hidden',
         name: 'extra',
         value: JSON.stringify(extra_detail)
     }).appendTo('#download_xls');
    from.submit();
    $('#print,.file,#upload,#re_print').prop('disabled',false)
    $('select[name=logistics_id]').prop('disabled',false)
    $('#excel_import').show();
    $('#extra_detail_insert').hide();
    setTimeout("$('#sn_box').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #sn_select');", 5000);
}
function generateExcel(){
    if(checkExtraFill(2)){
        $('input,textarea,select').prop('disabled',true)
        for(var order_sn in extra_detail){
            extra_detail[order_sn].location = addr_location[extra_detail[order_sn].area][extra_detail[order_sn].district][extra_detail[order_sn].location];
            extra_detail[order_sn].district = addr_district[extra_detail[order_sn].area][extra_detail[order_sn].district];
            extra_detail[order_sn].area = addr_area[extra_detail[order_sn].area];
            extra_detail[order_sn].box_type = box[extra_detail[order_sn].box_type];
        }
        $('#extra_button').after('<hr><p style="text-align:center"><input class="btn btn-primary" type="button" id="download_link" onclick="downloadExcel()" value="下載Excel"></p>');
        downloadExcel();
    }
}
function nextOrder(id){
    $('input.button').prop('disabled',true);
    var mass_key = '{$mass_key}';
    if(id < order_sn.length && id >= 0){
        if(id == order_sn.length - 1)
            reach_end = true;
        if(arguments[1] != 1){
            saveCurrentFill();
        }
        $('#detail_addr').html("<select  class='form-control' id='area'>" + addr_area.reduce((p,c,i)=>p+="<option value='"+i+"'>"+c+"</option>","<option value='-1' selected>收件地區</option>","")+"</select><select class='form-control' id='district'><option value='-1' selected>收件區域</option></select><select class='form-control' id='location'><option value='-1' selected>收件範圍</option></select>");
        $('#detail_box').html("<select  class='form-control' id='box_type' style='margin-right:10px'>" + box.reduce((p,c,i)=>p+="<option value='"+i+"'>"+c+"</option>","<option value='-1' selected>箱的大小</option>","")+"</select>x<input class='form-control' type='number' min='1' step='1' placeholder='數量' id='box_no' style='width:60px;margin:0 10px'>個");
        $('#area').val(extra_detail[order_sn[id]].area >= 0 ? extra_detail[order_sn[id]].area : '-1').change();
        $('#district').val(extra_detail[order_sn[id]].district >= 0 ? extra_detail[order_sn[id]].district : '-1').change();
        $('#location').val(extra_detail[order_sn[id]].location >= 0 ? extra_detail[order_sn[id]].location : '-1');
        $('#box_type').val(extra_detail[order_sn[id]].box_type >= 0 ? extra_detail[order_sn[id]].box_type : '-1');
        $('#box_no').val(extra_detail[order_sn[id]].box_no > 0 ? extra_detail[order_sn[id]].box_no : '1');
        $('#remark').val(extra_detail[order_sn[id]].remark != '' ? extra_detail[order_sn[id]].remark : '');
        //$('#weight').val(extra_detail[order_sn[id]].weight != '' ? extra_detail[order_sn[id]].weight : '3');
        $('#price').val(extra_detail[order_sn[id]].price != '' ? extra_detail[order_sn[id]].price : '2000');
        $.ajax({
            url: 'order.php',
            type: 'POST',
            dataType: 'JSON',
            data:{
                act: 'mass_delivery',
                ajax: 1,
                order_sn: order_sn[id],
                mass_key: mass_key
            },
            success: function(res){
                var address_types_html = "<select id='address_type' name='address_type' class='form-control' style='width: auto; display: inline-block;'>" + "<option value='-1'>--選擇地址類型--</option>";
                var cat_index = 0;
                res.address_types.forEach(function(item, index, array){
                    if (cat_index != 0 && cat_index != item.type_cat){
                        address_types_html += "</optgroup>";
                    }
                    if (cat_index != item.type_cat){
                        address_types_html += "<optgroup label='" + res.address_types_groups[item.type_cat] + "'>";
                    }
                    address_types_html += "<option value='" + item.type_id + "' data-type='" + item.type_cat +"'>" + item.type_name + "</option>";
                    if (cat_index != item.type_cat){
                        cat_index = item.type_cat;
                    }
                });
                //address_types_html += "<optgroup label='其他'><option value='99'>其他</option></optgroup>";
                address_types_html += "</select>";
                
                var lift_types_html = "<select id='address_lift_type' name='address_lift_type' class='form-control' style='width: auto; display: inline-block;'>" +
                                    "<option value='0'>--是否設有升降機--</option>" +
                                    "<option value='1'>設有升降機</option>" +
                                    "<option id='sel_lift_option_3' value='3'>設有升降機(不到達地面)</option>" +
                                    "<option value='2'>沒有升降機</option>" +
                                    "</select>";

                var html = "<thead><tr><th colspan='2'>地址</th></tr></thead>" +
                            "<tr><td colspan='2'>" + res.address;
                if (res.order.address_verify == 1 || res.order.verify_history == 1){
                    html += "<div id='sel_addr_info'style='display: none;'>" + address_types_html + lift_types_html + "</div>";
                    html += "<div id='txt_addr_info'></div>";
                } else {
                    html += "<div id='sel_addr_info'>" + address_types_html + lift_types_html + "</div>";
                    html += "<div id='txt_addr_info' style='display: none;'></div>";
                }
                html += "</td></tr><input type='hidden' id='originalCat' value='" + res.order.address_cat + "'>" + 
                            "<input type='hidden' id='originalLift' value='" + res.order.address_lift + "'>" + 
                            "<input type='hidden' id='address_verify' value='" + res.order.address_verify + "'>" + 
                            //"<input type='checkbox' value='1' name='is_business' id='is_business'>工商地址 <span style='color:red;'>" + 
                            "*工商地址收貨日期會延後一天</span></td></tr>" +
                            "<thead><tr><th>產品</th><th>數量</th></tr></thead>" +
                            res.goods.reduce((p,c)=>p += "<tr><td>" + c.goods_name + "</td><td style='text-align:center'>" + c.qty + "</td></tr>", "") +
                            "<thead><tr><th colspan='2'>客戶備註</th></tr></thead>" +
                            "<tr><td colspan='2' style='height:100px;'>" + res.remarks + "</td></tr>";
                $('#order_detail').html(html);
                $('#extra_order_sn').html(order_sn[id]);
                var order_area = res.order_area;
                if (typeof res.order_area !== 'undefined' && !$.isEmptyObject(order_area)) {
                    var $area     = res.order_area.area;
                    var $district = res.order_area.district;
                    var $location = res.order_area.location;
                    if($('#area').find('option[value="'+$area+'"]').length > 0) {
                        $('#area').val($area).trigger('change'); 
                    }
                    if($('#district').find('option[value="'+$district+'"]').length > 0) {
                        $('#district').val($district).trigger('change');
                    }

                    if($('#location').find('option[value="'+$location+'"]').length > 0) {
                        $('#location').val($location).trigger('change');
                    }

                }
                $('#remark').val(res.default_remarks);
                $('#extra_button').html((id > 0 ? '<input class="btn btn-primary" type="button" onclick="nextOrder(' + (id - 1) + ')" value="上張訂單">' : "") + (id + 1 < order_sn.length ? '<input class="btn btn-primary" type="button" onclick="nextOrder(' + (id + 1) + ')" value="下張訂單">' : '') + (reach_end ? '<input class="btn btn-primary" onclick="checkExtraFill(1)" type="button" value="提交">' : '') + '<form id="download_xls" action="order.php" type="POST" method="POST" target="_blank" enctype="multipart/form-data" style="float:right;"><input id="download_excel" class="btn btn-primary" type="button" style="float:right" value="建立Excel" onclick="generateExcel()"></form><div style="color: red;text-align: right;padding-top: 5px;">**如上傳到SF+ 失敗, 請檢查客人手機是否為香港號碼</div>');
                if (extra_detail[order_sn[id]].address_type){
                    $('#address_type').val(extra_detail[order_sn[id]].address_type);
                } else if (res.order.address_cat > 0){
                    $('#address_type').val(res.order.address_cat);
                }
                $("#txt_addr_info").html($("#txt_addr_info").text() + $("#address_type option:selected").text());
                if (extra_detail[order_sn[id]].address_lift_type){
                    $('#address_lift_type').val(extra_detail[order_sn[id]].address_lift_type);
                } else if (res.order.address_lift > 0){
                    $('#address_lift_type').val(res.order.address_lift);
                }
                $("#txt_addr_info").html($("#txt_addr_info").text() + " - " + $("#address_lift_type option:selected").text()  + " &#10004;已檢查");
                var total_weight = 0;
                res.goods.forEach(function(good, index, array){
                    if (good.goods_weight != "" && good.goods_weight > 0){
                        total_weight += (good.goods_weight*good.qty);
                    }
                });
                $('#weight').val(extra_detail[order_sn[id]].weight != '' ? extra_detail[order_sn[id]].weight : total_weight);
                checkExtraFill();
                $("#txt_addr_info").click( function() {
                        $("#txt_addr_info").hide();
                        $("#sel_addr_info").show();
                });
            }
        });
    }
}
function send_mail(){

    $('#email').click(function(){

        $('#email').prop('disabled',true);
        var mass_key = $(this).data('mass');
        $(this).val('發送中');
        setTimeout("$('#print').prop('disabled',false); $('#print').show();", 3000);
        $.ajax({
            url: 'order.php',
            type: 'POST',
            dataType: 'JSON',
            data:{
                act: 'mass_delivery',
                send_mass_mail: 1,
                id_list: can_send_mail_list,
                mass_key: mass_key
            },
            success: function(res){

                $('#email').val('已發送');
                $('#print').prop('disabled',false);
                $('#print').show();
                if(res.status == 1) {
                    $('#sn_box').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #sn_select');
                    $('#r_sn_box').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #r_sn_select');
                }
            }
        });
    });

    $('#send').click(function(){
        $('#send').prop('disabled',true);
        var mass_key = $(this).data('mass');
        can_send_mail_list = [];
        $("input[name='send_id[]']").each( function () {
            if($(this).is(':checked'))can_send_mail_list.push($(this).val());
        });
        if(can_send_mail_list.length > 0){
            $(this).val('發送中');
            $.ajax({
            url: 'order.php',
            type: 'POST',
            dataType: 'JSON',
            data:{
                act: 'mass_delivery',
                send_mass_mail: 1,
                id_list: can_send_mail_list,
                mass_key: mass_key
            },
            success: function(res){

                if(res.status == 1) {
                    $('#send').val('重新發送');
                    $('#send').prop('disabled',false);
                    $('#sn_box').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #sn_select');
                    $('#r_sn_box').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #r_sn_select');
                }
            }
        });
        } else {
            alert('請選擇要發送電郵的訂單!');
        }
    });

    $('#re_send').click(function(){
        $('#re_send_mail').show();
        $('#re_send_mail input').prop('disabled',false);
    });
}
$(function(){
    $('#export').click(function(){
        $('#custom_action').attr('name','export');
        $('#extra_detail_insert').show();
        $("<select id='area'>" + addr_area.reduce((p,c,i)=>p+="<option value='"+i+"'>"+c+"</option>","<option value='-1' selected>收件地區</option>","")+"</select><select id='district'><option value='-1' selected>收件區域</option></select><select id='location'><option value='-1' selected>收件範圍</option></select>").appendTo('#detail_addr');
        $("<select id='box_type' style='margin-right:10px'>" + box.reduce((p,c,i)=>p+="<option value='"+i+"'>"+c+"</option>","<option value='-1' selected>箱的大小</option>","")+"</select>x<input type='number' min='1' step='1' placeholder='數量' id='box_no' style='width:60px;margin:0 10px'>個").appendTo('#detail_box');
        $("<textarea id='remark' style='width:95%;height:95%;resize:none;'></textarea>").appendTo('#detail_remark');
        nextOrder(0,1)
        $(document).on('change','#area',function(){
            if($('#area').val() != '-1'){
                $('#district').html("<option value='-1'>收件區域</option>"+addr_district[$('#area').val()].reduce((p,c,i)=>p+="<option value='"+i+"'>"+c+"</option>",""));
                $('#location').html("<option value='-1' selected>收件範圍</option>");                
            }else{
                $('#district').html("<option value='-1' selected>收件區域</option>");
                $('#location').html("<option value='-1' selected>收件範圍</option>");
            }
        })
        $(document).on('change','#district',function(){
            if($('#area').val() != '-1' && $('#district').val() != -1)
                $('#location').html("<option value='-1'>收件範圍</option>"+addr_location[$('#area').val()][$('#district').val()].reduce((p,c,i)=>p+="<option value='"+i+"'>"+c+"</option>",""));
            else
                $('#location').html("<option value='-1' selected>收件範圍</option>")
        })
    });
    $('#import').click(function(){
        $('#excel_import').show();
        $("#extra_detail_insert").hide();
        $('#export').prop('disabled',true)
    });
    $('#print').click(function(){
        $('#mass_delivery input').prop('disabled',false);
        $('#custom_action').attr('name','print');
        $('#mass_delivery').submit();
        setTimeout("$('#sn_box').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #sn_select');", 5000);
    });
    $('#re_print').click(function(){
        $('#mass_delivery input').prop('disabled',false);
        $('#custom_action').attr('name','print');
        $('#mass_delivery').submit();
        setTimeout("$('#sn_box').load('order.php?act=mass_delivery&mass_key={$mass_key}&list=1' + ' #sn_select');", 5000);
    });
    $('#order_info_form,#insert_form').submit(function(e){
        e.preventDefault();
        })

    {if !$process}
    alert('系統已處理所有訂單或沒有任何可處理之訂單');
    location.href = 'order.php?act=list';
    {/if}

})
{literal}
{/literal}
</script>
{include file="pagefooter.htm"}