<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    {if $tab eq "time"}<span style="float:right;color:red;margin:10px">* 平均耗時 {$staying_time}</span>{/if}
    <table id="#" class="table table-striped table-bordered bulk_action ">
        {if $tab eq "time" || $tab eq "local" || $tab eq "local2"}
        <tr>
            <th>原始地址</th>
            <th>地區</th>
            <th>地方/市鎮</th>
            <th>街道</th>
            <th>街號</th>
            <th>屋苑</th>
            <th>大廈</th>
            <th>座數</th>
            <th>樓層</th>
            <th>室</th>
            <th>Google</th>
            <th>Zipcode</th>
            {if $tab eq "time"}
            <th style="width:70px;">耗時</th>
            {/if}
        </tr>
        {foreach from=$addr_list item=address}
        <tr>
            <td align="center">{$address.address}</td>
            <td align="center">{$address.administrative_area}</td>
            <td align="center">{$address.locality}</td>
            <td align="center">{$address.street_name}</td>
            <td align="center">{$address.street_num}</td>
            <td align="center">{$address.phase}</td>
            <td align="center">{$address.sign_building}</td>
            <td align="center">{$address.block}</td>
            <td align="center">{$address.floor}</td>
            <td align="center">{$address.room}</td>
            <td align="center">{$address.google_place}</td>
            <td align="center">{$address.zipcode}</td>
            {if $tab eq "time"}
            <td align="center">{$address.staying_time}秒</td>
            {/if}
        </tr>
        {foreachelse}
        <tr><td colspan='100' align="center">{$lang.no_records}</td></tr>
        {/foreach}
        {elseif $tab eq "sign"}
        <tr>
            <th>大廈</th>
            <th>次數</th>
        </tr>
        {foreach from=$addr_list item=address}
        <tr>
            <td align="center">{$address.sign_building}</td>
            <td align="center">{$address.count}</td>
        </tr>
        {foreachelse}
        <tr><td colspan='100' align="center">{$lang.no_records}</td></tr>
        {/foreach}
        {elseif $tab eq "google"}
        <tr>
            <th>Google</th>
            <th>次數</th>
        </tr>
        {foreach from=$addr_list item=address}
        <tr>
            <td align="center">{$address.google_place}</td>
            <td align="center">{$address.count}</td>
        </tr>
        {foreachelse}
        <tr><td colspan='100' align="center">{$lang.no_records}</td></tr>
        {/foreach}
        {/if}
    </table>

<table id="page-table" cellspacing="0">
    <tr>
        <td align="right" nowrap="true">
            <div id="turn-page" class="form-inline">
                {$lang.total_records} <span id="totalRecords">{$record_count}</span>
                {$lang.total_pages} <span id="totalPages">{$page_count}</span>
                {$lang.page_current} <span id="pageCurrent">{$page}</span>
                {$lang.page_size} <input type='text' class="form-control" size='3' id='{$tab}_page_size' value="{$page_size}" onchange="gotoPage('{$tab}',1)"/>
                <span id="page-link">
                    <a href="javascript:gotoPage('{$tab}',1)">{$lang.page_first}</a>
                    {if $prev_page}<a href="javascript:gotoPage('{$tab}',{$prev_page})">{$lang.page_prev}</a>{/if}
                    {if $next_page}<a href="javascript:gotoPage('{$tab}',{$next_page})">{$lang.page_next}</a>{/if}
                    <a href="javascript:gotoPage('{$tab}',{$page_count})">{$lang.page_last}</a>
                    <select class="form-control" id="gotoPage" onchange="gotoPage('{$tab}',this.value)">
                        {create_pages count=$page_count page=$page}
                    </select>
                </span>
            </div>
        </td>
    </tr>
</table>
</div>
<script>
function gotoPage(tab,page){
    $.ajax({
        url: 'order_address.php?act=query&tab='+tab+'&page='+page+"&page_size="+$("#"+tab+"_page_size").val()+($('#start_date').val()!=""?"&start_date="+$('#start_date').val():"")+($('#end_date').val()!=""?"&end_date="+$('#end_date').val():"")+($('#sorting').val()!=""?"&sorting="+$('#sorting').val():""),
        success:function(res){
            $('#'+tab).html(res)
        }
    })
}
</script>