{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js,i18n.js"}
{include file="includes/datatables_header.htm"}
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<table class="table table-striped table-bordered bulk_action" id="mass_delivery">
  <thead>
    <tr>
      <!--th>編號</th-->
      <th data-id="order_sn" data-sort="0">訂單</th>
      <th data-id="process" data-value="process_string">狀態</th>
      <th data-id="logistics" data-value="logistics_name">物流方式</th>
      <th data-id="_action">{$lang.handler}</th>
    </tr>
  </thead>
</table>
{if $full_page}
</div>
<script type="Text/Javascript" language="JavaScript">
<!--
var $MK_FINISH = {$MK_FINISH};
{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
function del_confirm($mass_key, $process, $min_process) {

    
    if($process == $min_process && $process == $MK_FINISH) {
      $txt = '此次大量投寄所有訂單已完成, 確認刪除此次記錄?';
    } else if ($process == $min_process && $process != $MK_FINISH) {
      $txt = '此次大量投寄未完成, 確認刪除此次記錄?';
    } else if ($process != $min_process && $process == $MK_FINISH) {
      $txt = '此次大量投寄包含未完成記錄, 確認刪除此次記錄?';
    } else if ($process != $min_process && $process != $MK_FINISH) {
      $txt = '此次大量投寄未完成, 確認刪除此次記錄?';
    } else {
      $txt = '此次大量投寄未完成, 確認刪除此次記錄?';
    }
    var $confirm = confirm($txt)
    if ($confirm==true) {
        $.ajax({
            url: 'order.php',
            type: 'POST',
            data:{
                act: 'mass_delivery',
                mass_key: $mass_key,
                remove: 1
            },
            dataType: 'json',
            success: function(res){
              window.location.reload();
            }
        });
    } else {
    }
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}
<script>
yohoTable.query = "mass_delivery&mass_list_query";
var $table = yoho_dataTable();

$(document).on('change', '.change-mass-logistic-method', function(){
    var mass_key = $(this).data('mass-key');
    var logistic_method = $(this).val();

    if (logistic_method !='') {
        $.ajax({
         url: 'order.php',
         type: 'POST',
         data:{
            act: 'change_mass_logistic_method',
            mass_key: mass_key,
            logistic_method: logistic_method
         },
         dataType: 'json',
         success: function(res){
            if (res.content == true) {
                alert('Updated');
            }
         }
        });
    }
});
</script>
{/if}
