<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
{insert_scripts files="../js/utils.js,listtable.js"}
{insert_scripts files="../yohohk/js/jquery.min.js"}
<style>
    #error_block{
      border: 1px solid #CC0000; 
      color:red; 
      font-size: 14px; 
      line-height: 1.3;
      padding: 5px;
      /* width: 100%; */
      display: none;
    }
   
    #success_block{
       border: 1px solid green; 
       color:green; 
       font-size: 14px; 
       line-height: 1.3;
       padding: 5px;
       /* width: 100%; */
       display: none;
    }

</style>
<div class="form-div  x_panel">
  <div> 匯入訂單的出貨人資料(Excel)
      <form action="" id="import_picker_packer_form" method="post" enctype="multipart/form-data" class="form-inline">
        <div class='section' style="padding:10px">
          <div style="text-align:right">
            <a class="action_button btn btn-primary" href="order_picker_packer_import.php?act=download_template">下載Excel 模板</a>
          </div>
          <input name="import_excel" id="import_excel" class="file form-control" type="file" accept=".xls,.xlsx"><br>
          <div class="ln_solid"></div>
          <p><input id="upload" class="submit btn btn-primary" type="button" value="上傳"></p>
        </div>
      </form>
  </div>
</div>
<div id="error_block" class=" x_panel"></div>
<div id="success_block" class=" x_panel"></div>

<div class="list-div" id="listDiv">
{/if}

{if $full_page}
</div>

<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  //getDownUrl();
}
$('#upload').click(function(){
  
    var formData = new FormData();
    formData.append('import_excel', $('#import_excel')[0].files[0]);
    formData.append("act", 'upload');

    $.ajax({
        url : 'order_picker_packer_import.php',
        type : 'POST',
        dataType: 'JSON',
        data : formData,
        processData: false,  // tell jQuery not to process the data
        contentType: false,  // tell jQuery not to set contentType
        success : function(data) {
           if (data.error == 1) {
              $('#success_block').hide();
              $('#error_block').show();
              $('#error_block').html(data.message);
           } else {        
              $('#error_block').hide();
              $('#success_block').show();
              $('#success_block').html(data.message);
           }
        }
    });
});

function getList()
{
    var frm =  document.forms['TimeInterval'];
    listTable.filter['start_date'] = frm.elements['start_date'].value;
    listTable.filter['end_date'] = frm.elements['end_date'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
    getDownUrl();
}

function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
  for (var i = 0; i < aTags.length; i++)
  {
    if (aTags[i].href.indexOf('download') >= 0)
    {
      if (listTable.filter['start_date'] == "")
      {
        var frm =  document.forms['TimeInterval'];
        listTable.filter['start_date'] = frm.elements['start_date'].value;
        listTable.filter['end_date'] = frm.elements['end_date'].value;
      }
      aTags[i].href = "employee_evaluation.php?act=download&start_date=" + listTable.filter['start_date'] + "&end_date=" + listTable.filter['end_date'];
    }
  }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}
