<!-- $Id: order_info.htm 15544 2009-01-09 01:54:28Z zblikai $ -->

{include file="pageheader.htm"}
{insert_scripts files="topbar.js,../js/utils.js,selectzone.js,../js/common.js"}

<form action="order.php?act=operate_post" method="post" name="theForm">
<div class="list-div  x_panel">
<table class="table jambo_table table-bordered">
  <thead>
  <tr>
    <th colspan="4">{$lang.base_info}</th>
  </tr>
  </thead>
  <tr>
    <td width="18%"><div align="right"><strong>{$lang.label_order_sn}</strong></div></td>
   <td width="34%">{$order.order_sn}{if $order.extension_code eq "group_buy"}<a href="group_buy.php?act=edit&id={$order.extension_id}">{$lang.group_buy}</a>{elseif $order.extension_code eq "exchange_goods"}<a href="exchange_goods.php?act=edit&id={$order.extension_id}">{$lang.exchange_goods}</a>{/if}
    <td><div align="right"><strong>{$lang.label_order_time}</strong></div></td>
    <td>{$order.formated_add_time}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_user_name}</strong></div></td>
    <td>{$order.user_name|default:$lang.anonymous}</td>
    <td><div align="right"><strong>{$lang.label_how_oos}</strong></div></td>
    <td>{$order.how_oos}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_shipping}</strong></div></td>
    <td>{if $exist_real_goods}{if $order.shipping_id > 0}{$order.shipping_name}{else}{$lang.require_field}{/if} {if $order.insure_fee > 0}（{$lang.label_insure_fee}{$order.formated_insure_fee}）{/if}{/if}</td>
    <td><div align="right"><strong>{$lang.label_shipping_fee}</strong></div></td>
    <td>{$order.shipping_fee} {if $order.shipping_fod} 運費到付 {/if}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_insure_yn}</strong></div></td>
    <td>{if $insure_yn}{$lang.yes}{else}{$lang.no}{/if}</td>
    <td><div align="right"><strong>{$lang.label_insure_fee}</strong></div></td>
    <td>{$order.insure_fee|default:0.00}</td>
  </tr>
<!--	{if $exist_real_goods}
  <tr>
    <td><div align="right"><strong>{$lang.label_invoice_no}</strong></div></td>
    <td colspan="3"><input name="delivery[invoice_no]" type="text" id="invoice_no" value="" size="20"/><input name="delivery_hidden" type="hidden" value="{$exist_real_goods}" /></td>
  </tr>
	{/if}-->
  <thead>
    <tr>
      <th colspan="4">{$lang.consignee_info}</th>
    </tr>
  </thead>
  <tr>
    <td><div align="right"><strong>{$lang.label_consignee}</strong></div></td>
    <td>{$order.consignee|escape}</td>
    <td><div align="right"><strong>{$lang.label_email}</strong></div></td>
    <td>{$order.email}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_address}</strong></div></td>
    <td>[{$order.region}] {$order.address|escape}</td>
    <td><div align="right"><strong>{$lang.label_zipcode}</strong></div></td>
    <td>{$order.zipcode|escape}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_tel}</strong></div></td>
    <td>{$order.tel}</td>
    <td><div align="right"><strong>{$lang.label_mobile}</strong></div></td>
    <td>{$order.mobile|escape}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_sign_building}</strong></div></td>
    <td>{$order.sign_building|escape}</td>
    <td><div align="right"><strong>{$lang.label_best_time}</strong></div></td>
    <td>{$order.best_time|escape}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>產品序號：</strong></div></td>
    <td colspan="3">{$order.serial_numbers|nl2br}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_postscript}</strong></div></td>
    <td colspan="3">{$order.postscript|nl2br}</td>
  </tr>
</table>
<table class="table jambo_table table-bordered">
  <thead>
    <tr>
      <th colspan="9" scope="col">{$lang.goods_info}</th>
    </tr>
  </thead>
  <tr>
    <td scope="col"><div align="center"><strong>{$lang.goods_name_brand}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.goods_sn}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.goods_attr}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.storage}</strong></div></td>
	<td scope="col"><div align="center"><strong>{$lang.delivery_qty}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.goods_number}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.goods_delivery}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.goods_delivery_curr}</strong></div></td>
  </tr>
  {foreach from=$goods_list item=goods}
    <!--礼包-->
    {if $goods.goods_id gt 0 && $goods.extension_code eq 'package_buy'}
      <tr>
        <td>{$goods.goods_name}<span class="red">{$lang.remark_package}</span></td>
        <td>{$goods.goods_sn}</td>
        <td>&nbsp;<!--货品货号--></td>
        <td>&nbsp;<!--属性--></td>
        <td><div align="right"></div></td>
        <td><div align="right">{$goods.goods_number}</div></td>
        <td><div align="right"></div></td>
        <td><div align="right"></div></td>
      </tr>
      {foreach from=$goods.package_goods_list item=package}
      <tr>
        <td>--&nbsp;<a href="../goods.php?id={$package.goods_id}" target="_blank">{$package.goods_name}</a></td>
        <td>{$package.goods_sn}</td>
        <td>{$package.goods_attr_str}</td>
        <td><div align="right">{$package.storage}</div></td>
        <td><div align="right">{$package.order_send_number}</div></td>
        <td><div align="right">{$package.sended}</div></td>
        <td><div align="right"><input class="form-control" name="send_number[{$goods.rec_id}][{$package.g_p}]" type="text" id="send_number_{$goods.rec_id}_{$package.g_p}" value="{$package.send}" size="10" maxlength="11" {$package.readonly}/></div></td>
      </tr>
      {/foreach}

    {else}
    <tr>
      <td>
      {if $goods.goods_id gt 0 && $goods.extension_code neq 'package_buy'}
      {if $goods.is_insurance eq 1}
      [{$lang.insurance_service}]{$goods.goods_name} {if $goods.brand_name}[ {$goods.brand_name} ]{/if}
      {if $goods.insurance_of_name} [{$lang.insurance_of}: {$goods.insurance_of_name} ({$goods.insurance_of_sn})]{/if}
      {else}
      <a href="../goods.php?id={$goods.goods_id}" target="_blank">{$goods.goods_name} {if $goods.brand_name}[ {$goods.brand_name} ]{/if}
      {/if}
      {if $goods.extension_code eq 'package'}{$lang.remark_pack}{/if}
      {if $goods.is_gift}{if $goods.goods_price > 0}{$lang.remark_favourable}{else}{$lang.remark_gift}{/if}{/if}
      {if $goods.parent_id > 0}{$lang.remark_fittings}{/if}</a>
      {/if}
      </td>
      <td>{$goods.goods_sn}</td>
      <td>{$goods.goods_attr|nl2br}</td>
      <td><div align="right">{$goods.storage}</div></td>
	  <td><div align="right">{$goods.delivery_qty}</div></td>
      <td><div align="right">{$goods.goods_number}</div></td>
      <td><div align="right">{$goods.sended}</div></td>
      <td><div align="right"><input class="form-control" name="send_number[{$goods.rec_id}]" type="text" id="send_number_{$goods.rec_id}" value="{$goods.send}" size="10" maxlength="11" {$goods.readonly}/></div></td>
    </tr>
    {/if}
  {/foreach}
</table>

<table id="#" class="table table-striped table-bordered bulk_action ">
  <thead>
    <tr>
      <th colspan="6">{$lang.action_info}</th>
    </tr>
  </thead>
  <tr>
    <td><div align="right"><strong>{$lang.label_action_note}</strong></div></td>
  <td colspan="5"><textarea class="form-control" name="action_note" cols="80" rows="3">{$action_note}</textarea></td>
  </tr>
  <tr>
    <td colspan="6" align="center">
        <input name="delivery_confirmed" type="submit" value="{$lang.op_confirm}{$lang.op_split}" class="btn btn-primary"/>&nbsp;&nbsp;
        <input type="button" value="{$lang.cancel}" class="btn btn-danger" onclick="location.href='order.php?act=info&order_id={$order_id}'" />

        <input name="order_id" type="hidden" value="{$order.order_id}">
        <input name="delivery[order_sn]" type="hidden" value="{$order.order_sn}">
        <input name="delivery[add_time]" type="hidden" value="{$order.order_time}">
        <input name="delivery[user_id]" type="hidden" value="{$order.user_id}">
        <input name="delivery[how_oos]" type="hidden" value="{$order.how_oos}">
        <input name="delivery[shipping_id]" type="hidden" value="{$order.shipping_id}">
        <input name="delivery[shipping_fee]" type="hidden" value="{$order.shipping_fee}">

        <input name="delivery[consignee]" type="hidden" value="{$order.consignee}">
        <input name="delivery[address]" type="hidden" value="{$order.address}">
        <input name="delivery[country]" type="hidden" value="{$order.country}">
        <input name="delivery[province]" type="hidden" value="{$order.province}">
        <input name="delivery[city]" type="hidden" value="{$order.city}">
        <input name="delivery[district]" type="hidden" value="{$order.district}">
        <input name="delivery[sign_building]" type="hidden" value="{$order.sign_building}">
        <input name="delivery[email]" type="hidden" value="{$order.email}">
        <input name="delivery[zipcode]" type="hidden" value="{$order.zipcode}">
        <input name="delivery[tel]" type="hidden" value="{$order.tel}">
        <input name="delivery[mobile]" type="hidden" value="{$order.mobile}">
        <input name="delivery[best_time]" type="hidden" value="{$order.best_time}">
        <input name="delivery[postscript]" type="hidden" value="{$order.postscript}">
        <input name="delivery[serial_numbers]" type="hidden" value="{$order.serial_numbers}">

        <input name="delivery[how_oos]" type="hidden" value="{$order.how_oos}">
        <input name="delivery[insure_fee]" type="hidden" value="{$order.insure_fee}">
        <input name="delivery[shipping_fee]" type="hidden" value="{$order.shipping_fee}">
        <input name="delivery[agency_id]" type="hidden" value="{$order.agency_id}">
        <input name="delivery[shipping_name]" type="hidden" value="{$order.shipping_name}">
        <input name="operation" type="hidden" value="{$operation}">
    </td>
    </tr>
</table>
</div>
</form>
{literal}
<script language="JavaScript">
{/literal}
  var oldAgencyId = {$order.agency_id|default:0};
{literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }

</script>
{/literal}

{include file="pagefooter.htm"}