{include file="pageheader.htm"}
{insert_scripts files="../yohohk/js/jquery.min.js,../js/transport_jquery.js,../js/region.js"}

<script type="text/javascript">
region.isAdmin=true;
</script>
{foreach from=$addr_list item=address}
<form id="addr_form">
<input name="act" type="hidden" value="update" />
<input name="address_id" type="hidden" value="{$address.order_address_id}" />
<div class="list-div">
<table id="#" class="table table-striped table-bordered bulk_action ">
    <tr>
        <th align="left">{$lang.label_address}</th>
        <td><span id ="format_address">{$address.address}</span></td>
    </tr>
    <tr>
        <th align="left">地址資訊1：</th>
        <td>
            樓層: <input name="floor" type="text" value="{$address.floor}" size="20" />
            室: <input name="room" type="text" value="{$address.room}" size="20" />
        </td>
    </tr>
    <tr>
        <th align="left">地址資訊2：</th>
        <td>
            屋苑: <input name="phase" type="text" value="{$address.phase}" size="20" />
            大廈: <input name="sign_building" type="text" value="{$address.sign_building}" size="40" />
            座數: <input name="block" type="text" value="{$address.block}" size="20" />
        </td>
    </tr>
    <tr>
        <th align="left">地址資訊3：</th>
        <td>
            街道: <input name="street_name" type="text" value="{$address.street_name}" size="20" />
            街號: <input name="street_num" type="text" value="{$address.street_num}" size="20" />
        </td>
    </tr>
    <tr>
        <th align="left">地址資訊4：</th>
        <td>
            地方/市鎮: <input name="locality" type="text" value="{$address.locality}" size="20" />
            地區: <input name="administrative_area" type="text" value="{$address.administrative_area}" size="20" />
        </td>
    </tr>
</table>
</div>
<div align="center">
  <p>
    <input name="finish" type="submit" class="btn btn-primary" value="{$lang.button_submit}" />
    <input type="button" value="{$lang.button_cancel}" class="btn btn-primary" onclick="location.href='order_address.php?act=list'" />
  </p>
</div>
</form>
{/foreach}
<script>
$(function(){
    $("#addr_form").on("submit",function(e){
        if(['Kowloon','九龍','New Territories','新界','Hong Kong Island','香港島'].indexOf($("input[name=administrative_area]").val()) < 0){
            e.preventDefault();
            alert("地區不正確");
        }else if(!confirm("一經確認將無法再次修改"))
            e.preventDefault();
    })
})
</script>
{include file="pagefooter.htm"}