<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style>

.popup_block {
    text-align: center;
    display: inline;
    padding: 4px;
}

.stocktake_dropdown_menu li a {
    font-size: 13px;
    padding: 7px 20px;
    line-height: 1.928571;
}

.order_column_tr {
    background-color: #2f75b5;
    color:white;
}

.link_text {
    color:white;
}

.tip_block{
    position: absolute;
    left: 80px;
    top: 20px;
    width: 250px;
    height: 50px;
    border: 1px solid;
    background: #ffff86c7;
    display: none;
    z-index: 1;
    vertical-align: middle;
    text-align: left;
    line-height: 50px;
    padding-left: 5px;
}

.order-status-label.red{
    background: #5cb85c;;
}

.icon-ship-hover{
    display: none !important;
}

.order_sn_block {
    position: relative;
}

.order_progress_tbl {
    display: inline-block;
    width:100%;
}
.tile_count {
    margin:0px;
}

.tile_count .tile_stats_count .count {
    font-size: 23px;
    line-height: 30px;
}
.tile_count .tile_stats_count {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
</style>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" ">
    <div class="form-div col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 12px;height: 80px;" >
      <form class="form-inline" name="TimeInterval"  action="erp_stocktake.php?act=list" style="margin:0px;position:absolute;">
        日期:<select class="form-control" name="period" id="period">
                <option value="30" selected >近30日</option>
                <option value="60" >近60日</option>
                <option value="90" >近90日</option>
                </select>
        開始日期:
        <input name="start_date" type="text" id="start_date" size="15" class="form-control" value="" data-type="date">
        結束日期&nbsp;
        <input name="end_date" type="text" id="end_date" size="15" value="" class="form-control" data-type="date">
        <input class="btn btn-success form-btn" type="button" id="cross_check_search" name="cross_check_search" value="{$lang.query}" />
        {insert name=daterange_group submit=cross_check_search}
      </form>
        <div class="row tile_count" style="float: right; width:200px;">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count dashboard_order_progress" style="width: 200px;" >
        </div>
        </div>
        
    </div>
    <div class=" x_panel">
        <div class="x_title">
            <h2>訂單出貨記錄</h2>
            <div class="clearfix"></div>
        </div>
        <div class="list-div order_progress_tbl " id="listDiv" style="margin-top: 00px;">
            <table id="order_progress_1" class="table table-striped table-bordered bulk_action">
            <thead>
            <th data-id="order_sn_link" data-key="order_id">訂單編號</th>
            <th width="90" data-sort=0 data-id="estimated_ship_time_display">預計出貨時間</th>
      
            <th width="90" data-sort=0 data-id="ship_status">訂單狀態</th>
            <th data-sort=0 data-id="shipping_logistics_name">送件物流方式</th>
            <th data-sort=0 data-id="cross_check">核對狀態</th>
            <th data-sort=0 data-id="collected">收件狀態</th>
            <th data-sort=0 data-id="send_on_time">按時送出</th>
            <th data-sort=0 data-id="delay_time" data-order="1" >延遲</th>
            <th data-sort=0 data-id="remark">備註</th>
            </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="popup_remark_modal">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">訂單跟進備註</h4>
        </div>
        <div class="modal-body">
            <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">備註 : <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control col-md-7 col-xs-12" id="popup_remark_data" rows="20" cols="54" placeholder=""></textarea>
                </div>
            </div>   
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class=" btn btn-success" type="button" id="submit_remark_data" name="submit_import_data" value="確定" placeholder="">
                </div>
            </div>
            </form>
            <div id="notice_message" class="form-div" style="display:none">
                <div id="success_message"></div>
                <div id="error_message"></div>
            </div>
        </div>
    </div>
    </div>
</div>

{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
   // 开始检查订单
   
}

yohoTable.drawCallback = function(setting,api) {
    // inital order goods
    $(".correct_block").closest('td').css('background','#bce4d1');
    $(".na_block").closest('td').css('background','#525252');
    
    $(".correct_block_100").closest('td').css('background','#57bb8a');
    $(".correct_block_100").closest('td').css('color','white');
    $(".correct_block_75").closest('td').css('background','#abddc5');
    
    $(".correct_block_50").closest('td').css('background','#e5f5ed');
    
    $(".correct_block_25").closest('td').css('background','#ea4b4b');
    $(".correct_block_25").closest('td').css('color','white');

    $(".correct_block_0").closest('td').css('background','#ff2d2d');
    $(".correct_block_0").closest('td').css('color','white');

    var remaining_time = 0;
    // $('#goods_list_special').html(goods_list_html);
    $(".goods_remaining_time_block").each(function(){
        console.log($(this).data('remaining-time'));
        remaining_time = $(this).data('remaining-time');
        if (remaining_time <= 3600 * 0.5) {
            var target_tr = $(this).closest('tr');
            target_tr.css('color','red');
            target_tr.css('background','#f9cfcf');
            target_tr.find('.order_sn_block a').css('color','red');
            target_tr.find('.order-status-label').css('background','red');
            //$(this).closest('tr').css('color','white');

            $(function(){
                setInterval(flicker,1000);//迴圈閃爍，間隔1秒
            })
            function flicker(){//閃爍函數
                console.log(111);
                target_tr.fadeOut(1000).fadeIn(1000);
            }
        } else if (remaining_time <= 3600 * 1) {
            var target_tr = $(this).closest('tr');
            target_tr.css('color','#f18d00');
            target_tr.css('background','#f0ad4e7a');
            target_tr.find('.order_sn_block a').css('color','#f18d00');
            target_tr.find('.order-status-label').css('background','#f18d00');
            //$(this).closest('tr').css('color','white');

            $(function(){
                setInterval(flicker,1000);//迴圈閃爍，間隔1秒
            })
            function flicker(){//閃爍函數
                console.log(111);
                target_tr.fadeOut(1000).fadeIn(1000);
            }
        }
    });
};

yohoTable.table_id = "order_progress_1";
yohoTable.query = 'query_history';
var $table = yoho_dataTable();

$(document).on('mouseout','.order_sn_block',function(){
    $(this).find(".tip_block").hide();
});

$(document).on('mouseover','.order_sn_block',function(){
    $(this).find(".tip_block").show();
});

$(document).on('ifChanged', 'input:checkbox' ,function () {
    var checkCount = $(".bulk_action input[name='table_records']:checked").length;
    if (checkCount > 0) {
        $(".bulk_confirm_action").css('visibility', 'visible');
    } else {
        $(".bulk_confirm_action").css('visibility', 'hidden');
    }
});

$("#cross_check_search").click(function(){
    var $filter = {};
    // $filter.status = $("#status").val();
    $filter.start_date = $("#start_date").val();
    $filter.end_date = $("#end_date").val();
    $table.search($filter);
    return;
});

$("#period").change(function(){
    var $filter = {};
    $filter.period = $(this).val();
    $table.search($filter);
    getDashboardHtml();
});

var current_progress_id = 0;

$("#submit_remark_data").click(function(){
    var popup_remark_data = $('#popup_remark_data').val();
    console.log('popup_remark_data',popup_remark_data);
    $.ajax({
    url: 'order_progress_report.php',
    type: 'post',
    cache: false,
    data: {
        'act': 'post_process_remark_submit',
        'remark': popup_remark_data,
        'progress_id' : current_progress_id,
    },
    dataType: 'json',
    success: function (result) {
      if (result['error'] == 0) {
        var $filter = {};
        $filter.status = $("#status").val();
        $filter.page = 1;
        $table.search($filter);
        $('#popup_remark_modal').modal('toggle');
      } else {
        alert(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });
});

$(document).on('click','.follow_up_remark',function(){
    current_progress_id = $(this).data('progress-id');
    console.log('current_progress_id',current_progress_id);
    $('#popup_remark_data').val('');
    if ($(this).html() != '請輸入') {
        $('#popup_remark_data').val($(this).html());
    }
});

$(document).ready(function(){
    $('#menu_toggle').trigger('click');
})


function getDashboardHtml()
{
    $.ajax({
    url: 'order_progress_report.php',
    type: 'post',
    cache: false,
    data: {
        'act': 'get_progress_dashboard',
        'period': $("#period").val()
    },
    dataType: 'json',
    success: function (result) {
      if (result['error'] == 0) {
        $('.dashboard_order_progress').html(result.content); 
    
      } else {
        alert(result.message);
      }
    },
    error: function (xhr) {
      alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
      console.log(xhr);
    }
    });
}


function explode(){
    // console.log("Boom!");
    var $filter = {};
    $table.draw();
    getDashboardHtml();

}

getDashboardHtml();

setInterval(explode, 60000);

//-->
</script>
{/literal}

