{if !$crm}
<!-- $Id -->
{include file="pageheader.htm"}
{/if}
<div class=" x_panel">
<form name="theForm" method="get" action="order.php" onsubmit="return {if $crm}orderOperation('pay'){else}check(){/if}" class="tab-content form-horizontal form-label-left">
{if $crm}
<input name="crm" value="1" type="hidden">
<input name="order_sn" value="{$order_sn}" type="hidden">
{/if}
<div class="list-div">
  {if $show_operator}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">操作員</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" name="operator">
        <option value="">{$lang.select_please}</option>
        {foreach from=$salesperson_list item=salesperson}
        <option{if $salesperson eq $operator} selected="selected"{/if}>{$salesperson}</option>
        {/foreach}
      </select>
    </div>
  </div>
  {/if}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_action_note}</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><textarea class="form-control" name="action_note" cols="60" rows="3">{$action_note}</textarea>
    {if $require_note}{$lang.require_field}{/if}</div>
  </div>
  {if $show_cancel_note}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_cancel_note}</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><textarea class="form-control" name="cancel_note" cols="60" rows="3" id="cancel_note">{$cancel_note}</textarea>
      {$lang.require_field}{$lang.notice_cancel_note}</div>
  </div>
  {/if}
  {if $show_invoice_no}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_invoice_no}</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control" name="invoice_no" type="text" size="30" /></div>
  </div>
  {/if}
  {if $show_refund}
  <!-- we don't use ecshop refund flow, so default to 3 (not handle) and hide this section -->
  <div class="form-group" style="display: none;">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_handle_refund}</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><p>{if !$anonymous}<label><input  type="radio" class="flat" name="refund" value="1" />{$lang.return_user_money}</label><br>{/if}
      <label><input type="radio" class="flat" name="refund" value="2" />{$lang.create_user_account}</label><br>
      <label><input name="refund"  type="radio" class="flat" value="3" checked="checked" />
      {$lang.not_handle}</label><br>
    </p></div>
  </div>
  <div class="form-group" style="display: none;">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.label_refund_note}</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><textarea  class="form-control" name="refund_note" cols="60" rows="3" id="refund_note">{$refund_note}</textarea></div>
  </div>
  {/if}
  {if $show_actg_pay}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">收款金額</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input name="pay_amount" type="text" class="form-control" value="{$max_pay_amount}">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">收款帳戶</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><p>{foreach from=$actg_payment_methods item=method}
      <label><input type="radio" class="flat" name="actg_payment_method" value="{$method.payment_method_id}" /> {$method.payment_type_name} - {$method.account_name}</label><br>
      {/foreach}
    </p></div>
  </div>
  {/if}
  <div class="form-group">
    <div class="ln_solid"></div>
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <input type="submit" name="submit" value="{$lang.button_submit}" class="btn btn-primary" />
      {if !$crm}<input type="button" name="back" value="{$lang.back}" class="btn btn-primary" onclick="history.back()" />{/if}
      <input type="hidden" name="order_id" value="{$order_id}" />
      <input type="hidden" name="operation" value="{$operation}" />
      <input type="hidden" name="act" value="{if $batch}batch_operate_post{else}operate_post{/if}" />
    </div>
  </div>
</div>
</form>
</div>
<script language="JavaScript">
  var require_note = '{$require_note}';
  var show_refund  = '{$show_refund}';
  var show_cancel = '{$show_cancel_note}';
  var show_actg_pay = '{$show_actg_pay}';
  var show_operator = '{$show_operator}';
{literal}
  function check()
  {
    if (require_note && document.forms['theForm'].elements['action_note'].value == '')
    {
      alert(pls_input_note);
      return false;
    }
    if (show_cancel && document.forms['theForm'].elements['cancel_note'].value == '')
    {
      alert(pls_input_cancel);
      return false;
    }
    if (show_refund)
    {
      var selected = false;
      for (var i = 0; i < document.forms['theForm'].elements.length; i++)
      {
        ele = document.forms['theForm'].elements[i];
        if (ele.tagName == 'INPUT' && ele.name == 'refund' && ele.checked)
        {
          selected = true;
          break;
        }
      }
      if (!selected)
      {
        alert(pls_select_refund);
        return false;
      }
    }
    if (show_actg_pay)
    {
      var selected = false;
      for (var i = 0; i < document.forms['theForm'].elements.length; i++)
      {
        ele = document.forms['theForm'].elements[i];
        if (ele.tagName == 'INPUT' && ele.name == 'actg_payment_method' && ele.checked)
        {
          selected = true;
          break;
        }
      }
      if (!selected)
      {
        alert('請選擇收款帳戶');
        return false;
      }
    }
    if (show_operator && document.forms['theForm'].elements['operator'].value == '')
    {
      alert('請您填寫操作員！');
      return false;
    }
    return true;
  }
{/literal}
</script>
{if !$crm}
{include file="pagefooter.htm"}
{/if}