<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
  <div class="form-div">
    <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
    {$lang.start_date}&nbsp;
      <input name="start_date" type="text" id="start_date" size="15" class="form-control" value='{$start_date}' data-type="date" />
      {$lang.end_date}&nbsp;
      <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="date" />
      <input type="submit" name="submit" value="{$lang.query}" class="btn btn-success form-btn" />
        <div style="text-align:right">
    *<b>只顯示已出貨訂單(不包括門市購買)</b>
    </div>
    </form>
  </div>

  <div class="list-div" id="listDiv">
    <table class="table table-striped table-bordered bulk_action ">
      <thead>
        <tr>
          <th data-id="shipping_time" data-key="order_id">出貨日期</th>
          <th data-id="order_sn" data-url="order.php?act=info&amp;order_id={order_id}">訂單編號</th>
          <th data-id="packer_user_ids" data-value="picker_packer">出貨人員</th>
          <th data-id="order_status" data-value="all_status" data-sort="0">訂單狀態</th>
        </tr>
      </thead>
    {foreach from=$order_list item=list}
      <tr align="center">
        <td align="left">{$list.shipping_time}</td>
        <td align="center"><a href="order.php?act=info&amp;order_id={$list.order_id}">{$list.order_sn}</a></td>
        <td align="left">{if $list.picker_packer}{$list.picker_packer}{else}N/A | N/A{/if}</td>
        <td align="left">{$lang.os[$list.order_status]},{$lang.ps[$list.pay_status]},{$lang.ss[$list.shipping_status]}</td>
      </tr>
    {foreachelse}
      <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
    {/foreach}
    </table>
  </div>
</div>
{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

var $table = yoho_dataTable();
function getList()
{
  $filter = [];
  var frm =  document.forms['TimeInterval'];
  $filter['start_date'] = frm.elements['start_date'].value;
  $filter['end_date'] = frm.elements['end_date'].value;
  $table.search($filter);
}
</script>