<!-- $Id: order_info.htm 17060 2010-03-25 03:44:42Z liuhui $ -->

{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,selectzone.js,../js/common.js"}
<!-- Jeditable -->
<link href="styles/stock_inquiry.css" rel="stylesheet" type="text/css">
<script src="js/jquery.jeditable.min.js"></script>
<script src="js/jquery.jeditable.charcounter.min.js"></script>
<script src="js/jquery.jeditable.checkbox.js"></script>
<script src="js/jquery.jeditable.datepicker.min.js"></script>
<script src="js/jquery.jeditable.autogrow.min.js"></script>
<script src="js/jquery.jeditable.masked.min.js"></script>
<script src="js/jquery.jeditable.time.min.js"></script>
{insert_scripts files="../yohohk/js/jquery.cropit.js"}
{insert_scripts files="../yohohk/js/cropit.howang.js"}
<link href="../yohohk/css/jquery.cropit.css" rel="stylesheet" type="text/css" />
<style>
  .tracking_info{
    display: none;
    
    text-align: center;
    /*padding: 5px;*/
    /* border: 1px solid #e7e7e7; */  
    /* Position the tooltip */
    /* position: absolute; */
    z-index: 50;
  }
  .tracking_info table td{
    padding: 5px;
  }

  .delivery_info_container {
    position: relative;
    cursor: pointer;
    /*text-decoration: underline;*/
  }

 .delivery_info_block_outsite {
   position: absolute;
   top:  15px;
   left: 135px;
   width: 600px;
   /* background-color: white;
   background: #f6f6f7; */
   text-align: center;
   /* padding:5px; */
   /* border: 1px solid #e7e7e7; */
   position: absolute;
   z-index: 20;
 }

  .delivery_info_block {
    background-color: white;
    background: #f6f6f7;
    text-align: center;
     border: 1px solid #e7e7e7;
    padding:5px;
    /* position: absolute;
    top:  15px;
    left: 135px;
    width: 600px;
    background-color: white;
    background: #f6f6f7;
    text-align: center;
    padding:5px;
    border: 1px solid #e7e7e7;
    position: absolute; */
    position: relative;
    z-index: 30;
  }

  .delivery_info_block .table {
    width: 100%;
  }

  .table_header_title {
      text-align:left;
      font-weight:600;
      padding-left: 5px;
  }

  .goods_info {
      margin-bottom:10px;
  }
  .goods_list_body div, .goods_list_head div {
    padding: 3px 5px;
    text-align: center;
  }
  .goods_list_body div a, .goods_list_head div a {
        text-decoration: underline;
  }
  .sa-body.bg-sa.col-md-2 {
    border: 2px solid white;
    border-bottom: 0;
    border-radius: 5px;
    border-top: 0;
  }
  .normal-body.bg-red {
    border: 2px solid white;
    border-radius: 5px;
  }
  .goods_list_body>.goods-col {
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
    padding: 2px 0px;
    border-top: 1px solid #ededed;
  }
  .sa-footer {
    text-align: center;
    padding: 6px 0px !important;
    font-size: 16px;
    color: #A1412B !important;
  }
  .goods_table {
    overflow: auto;
  }
  .goods_list_body, .goods_list_head, .goods_list_footer {
    min-width: 1000px;
  }

  .picked_up_label{
    padding:7px 13px !important;
  }

  .picked_up_label_undo{
     background: #FD495C !important;
     color:white !important;
    position: relative;
    top: -15px;
    left: -12px;
  }

  .pickup_label_group {
        display: inline-block;
   }

.address-label {
  padding: 1px 3px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  color: white;
  font-size: 12px;
  margin: 0 1px;
}

.address-label.label-red {
  background-color: #c9302c;
  border-color: #ac2925;
}

.address-label.label-green {
  background-color: #449d44;
  border-color: #398439;
}

.address-label.label-green-red {
  background-color: #449d44;
  border-color: #c9302c;
}

.address-label.label-blue {
  background-color: #286090;
  border-color: #204d74;
}

.address-label.label-orange {
  background-color: #ec971f;
  border-color: #d58512;
}

.address-label.label-gray {
  color: #333 !important;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.claim-times {
  color: red;
  cursor: pointer;
}

</style>
{if $user}
<!--div class=" x_panel">
  <div class="x_title">
    <h2> {$lang.buyer_info} </h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
      <li><a class="close-link"><i class="fa fa-close"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="table table-striped">
    <caption><strong> {$lang.buyer_info} </strong></caption>
    <tr>
      <td> {$lang.email} </td>
      <td> <a href="mailto:{$user.email}">{$user.email}</a> </td>
    </tr>
    <tr>
      <td> {$lang.user_money} </td>
      <td> {$user.formated_user_money} </td>
    </tr>
    <tr>
      <td> {$lang.pay_points} </td>
      <td> {$user.pay_points} </td>
    </tr>
    <tr>
      <td> {$lang.rank_points} </td>
      <td> {$user.rank_points} </td>
    </tr>
    <tr>
      <td> {$lang.rank_name} </td>
      <td> {$user.rank_name} </td>
    </tr>
    <tr>
      <td> {$lang.bonus_count} </td>
      <td> {$user.bonus_count} </td>
    </tr>
  </table>

  {foreach from=$address_list item=address}
  <table class="table table-striped">
    <caption><strong> {$lang.consignee} : {$address.consignee|escape} </strong></caption>
    <tr>
      <td> {$lang.email} </td>
      <td> <a href="mailto:{$address.email}">{$address.email}</a> </td>
    </tr>
    <tr>
      <td> {$lang.address} </td>
      <td> {$address.address|escape} </td>
    </tr>
    <tr>
      <td> {$lang.zipcode} </td>
      <td> {$address.zipcode|escape} </td>
    </tr>
    <tr>
      <td> {$lang.tel} </td>
      <td> {$address.tel|escape} </td>
    </tr>
    <tr>
      <td> {$lang.mobile} </td>
      <td> {$address.mobile|escape} </td>
    </tr>
  </table>
  {/foreach}
  </div>

</div-->
{/if}

<form class="form-horizontal" action="order.php?act=operate" method="post" name="theForm" onsubmit="return checkOperator();">
<div class=" x_panel">
  <div class="x_title">	<input name="prev" type="button" class="btn btn-default" onClick="location.href='order.php?act=info&order_id={$prev_id}';" value="{$lang.prev}" {if !$prev_id}disabled{/if} />
    <input name="next" type="button" class="btn btn-default" onClick="location.href='order.php?act=info&order_id={$next_id}';" value="{$lang.next}" {if !$next_id}disabled{/if} />
    <input type="button" onclick="window.open('order.php?act=info&order_id={$order.order_id}&print=1')" class="btn btn-default" value="{$lang.print_order}" />
    <input type="button" onclick="window.open('/order_print.php?act=info&order_id={$order.order_id}&print=1')" class="btn btn-default" value="列印POS單" />
    <!--input type="button" onclick="window.open('order.php?act=info&order_id={$order.order_id}&print=receipt&force_generate=1')" class="btn btn-default" value="生成POS PDF" /-->
    <!--input type="button" onclick="window.open('/order_print.php?act=info&order_id={$order.order_id}&print=receipt_market&force_generate=1')" class="btn btn-default" value="生成POS 市價PDF" /-->
    <input type="button" onclick="window.open('/order_print.php?act=info&order_id={$order.order_id}&print=market_price')" class="btn btn-default" value="列印POS市價單" />
    <input type="button" onclick="window.open('/order_print.php?act=info&order_id={$order.order_id}&print=shipping_tqb')" class="btn btn-default" value="列印宅急便速遞單" />
    <input type="button" onclick="window.open('/order_print.php?act=info&order_id={$order.order_id}&print=shipping_sf')" class="btn btn-default" value="列印順豐速遞單" />
    {if $order.order_type eq 'ws'}<input type="button" id="print_ws_inv" class="btn btn-default" value="下載批發訂單收據" />{/if}
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
  <section class="content invoice">
    <!-- title row -->
    <div class="row">
      <div class="col-xs-12 invoice-header">
        <h1>
          <i class="icon icon-order-info"></i> 訂單資料
          {$order.status}
          {$order.status_top}
        </h1>      </div>
      <!-- /.col -->
    </div>
    <!-- info row  -->
    <div class="row invoice-info">
      <!-- .col 基本資料&備註 -->
      <div class="col-md-6 col-lg-4 col-xs-12 invoice-col">
        <!-- 基本資料 -->
        <div class="x_panel shadow">
          <h4>
            {$lang.base_info}
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
              </li>
            </ul>
          </h4>
          <div class="x_content">
            <table class="table">
              <tbody>
                <tr>
                  <th style="width:20%">{$lang.label_order_sn}</th>
                  <td>{$order.order_sn}{if $order.extension_code eq "group_buy"}<a href="group_buy.php?act=edit&id={$order.extension_id}">{$lang.group_buy}</a>{elseif $order.extension_code eq "exchange_goods"}<a href="exchange_goods.php?act=edit&id={$order.extension_id}">{$lang.exchange_goods}</a>{/if} [訂單ID： {$order.order_id}]</td>
                </tr>
                <tr>
                  <th>{$lang.label_user_name}</th>
                  <td>{if $order.user_id > 0}<a href="users.php?act=list&amp;keywords={$order.user_name}">{$order.user_name}</a>{else}{$order.user_name|default:$lang.anonymous}{/if}</td>
                </tr>
                <tr>
                  <th>{$lang.label_payment}</th>
                  <td>{if $order.pay_id > 0}{$order.origin_pay_name}{else}{$lang.require_field}{/if} ({$lang.action_note}: <span class="cellEdit_text" data-mkey="order_id" data-source="pay_note" data-key="{$order.order_id}">{if $order.pay_note}{$order.pay_note}{else}N/A{/if}</span>) <a href="order.php?act=edit&order_id={$order.order_id}&step=payment" class="btn-xs  btn-default btn">{$lang.edit}</a></td>
                </tr>
                <tr>
                  <th>{$lang.label_shipping}</th>
                  <td>{if $exist_real_goods}{if $order.shipping_id > 0}{$order.shipping_name}{else}{$lang.require_field}{/if} <a href="order.php?act=edit&order_id={$order.order_id}&step=shipping" class="btn-xs  btn-default btn">{$lang.edit}</a>&nbsp;&nbsp;<input type="button" onclick="window.open('order.php?act=info&order_id={$order.order_id}&shipping_print=1')" class="btn btn-xs btn-primary" value="{$lang.print_shipping}"> {if $order.insure_fee > 0}（{$lang.label_insure_fee}{$order.formated_insure_fee}）{/if}{/if}</td>
                </tr>
                <tr>
                  <th>{$lang.label_invoice_no}</th>
                  <td>{if $order.shipping_id>0 and $order.shipping_status>0}<span>{if $order.invoice_no}{$order.invoice_no}{else}N/A{/if}</span>{/if}<div class="tracking_info 333 x_panel"></div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        <!-- 備註 -->
        <div class="x_panel shadow">
          <h4>
            {$lang.other_info}
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
              </li>
            </ul>
            <a href="order.php?act=edit&order_id={$order.order_id}&step=other" class="btn-xs btn-default btn pull-right">{$lang.edit}</a>
          </h4>
          <div class="x_content">
            <table class="table">
              <tbody>
                <tr>
                  <th style="width:20%">產品序號：</th>
                  <td>{$order.serial_numbers|nl2br}</td>
                </tr>
                <tr>
                  <th>訂貨備註：</th>
                  <td>{$order.data_order_remarks|nl2br}</td>
                </tr>
                <tr>
                  <th>{$lang.label_postscript}</th>
                  <td>{$order.data_postscript|nl2br}</td>
                </tr>
                <tr>
                  <th>{$lang.label_to_buyer}</th>
                  <td id="order_to_buyer_remark" >{$order.to_buyer|nl2br}</td>
                </tr>
                <!-- {if $order.is_sa} -->
                <tr>
                  <th class="bg-sa">代理銷售：</th>
                  <td class="bg-sa">{$order.sa_name|nl2br}</span> - <strong>代理訂單號：</strong>[{$order.sa_sn|nl2br}]</td>
                </tr>
                <!-- {/if}-->
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /.col 基本資料&備註 -->
      <!-- .col 訂單狀態&收貨 -->
      <div class="col-md-6 col-lg-4 col-xs-12 invoice-col">
        <!-- 訂單狀態 -->
        <div class="x_panel shadow">
          <h4>
            訂單狀態
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
              </li>
            </ul>
          </h4>
          <div class="x_content">
            <table class="table">
              <tbody>
                <tr>
                  <th width="30%">{$lang.label_order_status}</th>
                  <td>{$order.status}</td>
                </tr>
                <tr>
                  <th>{$lang.label_order_time}</th>
                  <td>{$order.formated_add_time}</td>
                </tr>
                {if $order.formated_pay_time && $order.pay_status eq 2}
                <tr>
                  <th>{$lang.label_pay_time}</th>
                  <td>{$order.formated_pay_time}</td>
                </tr>
                {/if}
                <tr>
                  <th>{$lang.from_order}</th>
                  <td>
                    {$order.platform_display}
                    {if $order.platform neq ''} | {/if}
                    {$order.referer}
                    {foreach from=$goods_list item=goods}{if $goods.flashdeal_id}{assign var=is_flashdeal value=1}{/if}{/foreach}
                    {if $is_flashdeal}(閃購){/if}
                  </td>
                </tr>
                <tr>
                  <th>銷售人員：</th>
                  <td>{$order.salesperson}</td>
                </tr>
                <tr>
                  <th>{$lang.label_shipping_time}</th>
                  <td>{$order.shipping_time}{if isset($order.shipping_operator)} | {$order.shipping_operator}{/if}</td>
                </tr>
                <tr>
                  <th>出貨人員：</th>
                  <td >
                    {if $order.picker_and_packer}
                      {$order.picker_and_packer}
                    {else}
                      N/A | N/A
                    {/if}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- 收貨 -->
        <div class="x_panel shadow">
          <h4>
            {$lang.consignee_info}
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
              </li>
            </ul>
            <a href="order.php?act=edit&order_id={$order.order_id}&step=consignee" class="btn-xs btn-default btn pull-right">{$lang.edit}</a>
          </h4>
          <table class="table x_content">
            <tr>
              <th width="30%">{$lang.label_consignee}</th>
              <td>{$order.consignee|escape}</td>
            </tr>
            <tr>
              <th>{$lang.label_email}</th>
              <td>{$order.email}</td>
            </tr>
            <tr>
              <th>{$lang.label_address}</th>
              <td>
                [{$order.region}] {$order.address|escape}
                {if $order.zipcode}&nbsp;[{$lang.label_zipcode} {$order.zipcode|escape}]{/if}
                {if $order.addr_lift != "" || $order.addr_type != ""}
                <div>
                <span class="address-label {$order.class_addr_type}">{$order.addr_type}</span>
                <span class="address-label {$order.class_addr_lift}">{$order.addr_lift}</span>
                </div>
                {/if}
              </td>
            </tr>
            <tr>
              <th>{$lang.label_tel}</th>
              <td>{$order.tel|escape}</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- /.col 訂單狀態&收貨 -->
      <!-- .col 帳單資料 -->
      <div class="col-md-12 col-lg-4 col-xs-12 invoice-col">
        <div class="x_panel shadow">
          <h4>
            {$lang.fee_info}
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
              </li>
            </ul>
            <a href="order.php?act=edit&order_id={$order.order_id}&step=money" class="btn-xs btn-default btn pull-right">{$lang.edit}</a>
          </h4>
          <div class="x_content">
            <table class="table">
              <tbody>
                <tr>
                  <th style="width:50%">{$lang.label_goods_amount}</th>
                  <td>{$order.formated_goods_amount}</td>
                </tr>
                <tr>
                  <th><span class="glyphicon glyphicon-minus red" aria-hidden="true"></span> {$lang.label_discount}</th>
                  <td>{$order.formated_discount}</td>
                </tr>
                <tr>
                  <th><span class="glyphicon glyphicon-minus red" aria-hidden="true"></span> 使用優惠券：</th>
                  <td>{$order.formated_coupon}{if $order.coupon_list} ({foreach from=$order.coupon_list item=coupon name=foo}<a href="coupon.php?act=info&amp;id={$coupon.coupon_id}" style="text-decoration: none;">{$coupon.coupon_code}</a>{if !$smarty.foreach.foo.last},{/if}{/foreach}){/if}</td>
                </tr>
                <tr class="underline">
                  <th><span class="glyphicon glyphicon-minus red" aria-hidden="true"></span> {$lang.label_integral}</th>
                  <td>{$order.formated_integral_money}</td>
                </tr>
                <tr class="blue">
                  <th>{$lang.label_order_amount}</th>
                  <td><strong>{$order.formated_total_fee}</strong></td>
                </tr>
                <tr>
                  <th>{if $order.pay_fee >= 0}<span class="glyphicon glyphicon-plus green" aria-hidden="true"></span> {$lang.label_pay_fee}{else}<span class="glyphicon glyphicon-minus red" aria-hidden="true"></span> 支付折扣：{/if}</th>
                  <td>{if $order.pay_fee >= 0}{$order.formated_pay_fee}{else}{$order.formated_pay_discount}{/if}</td>
                </tr>
                <tr>
                  <th><span class="glyphicon glyphicon-plus green" aria-hidden="true"></span> {$lang.label_shipping_fee}</th>
                  <td>{$order.formated_shipping_fee}{if $order.shipping_fod} (運費到付){/if} </td>
                </tr>
                {if $order.cn_ship_tax > 0}
                <tr>
                  <th><span class="glyphicon glyphicon-plus green" aria-hidden="true"></span> {$lang.label_cn_ship_tax}</th>
                  <td>{$order.formated_cn_ship_tax}</td>
                </tr>
                {/if}
                <tr class="red underline">
                  <th><span class="glyphicon glyphicon-minus red" aria-hidden="true"></span> {$lang.label_money_paid}</th>
                  <td>{$order.formated_money_paid}</td>
                </tr>
                {if ($order.order_amount >= 0 && $order.order_type neq 'ws') || ($order.order_type eq 'ws' && $order.order_amount >= $order.actg_paid_amount && $order.money_refund eq 0)}
                <tr class="red">
                  <th>{$lang.label_money_dues}</th>
                  <td>
                    <strong>
                      {if $order.order_type eq 'ws' && $order.actg_paid_amount gt 0}
                      {$order.formated_money_due}
                      {else}
                      {$order.formated_order_amount}{if $order.payment_amount} ({$order.payment_amount}){/if}
                      {/if}
                    </strong>
                  </td>
                </tr>
                {else}
                <tr class="green">
                  <th>{$lang.label_money_refund}</th>
                  <td>
                    <strong>{$order.formated_money_refund}</strong>
                  </td>
                </tr>
                {/if}
                {if $order.money_refund_due > 0}
                <tr class="dark">
                  <th>未申請退款：</th>
                  <td>
                    {$order.formated_money_refund_due}
                    <input name="refund" class="btn btn-default btn-xs" type="button" value="{$lang.refund}" onclick="location.href='order.php?act=process&func=load_refund&anonymous={if $order.user_id <= 0}1{else}0{/if}&order_id={$order.order_id}&refund_amount={$order.money_refund_due}'" />
                    {if $order.extension_code eq "group_buy"}<br />{$lang.notice_gb_order_amount}{/if}
                  </td>
                </tr>
                {/if}
                {if $smarty.session.manage_cost}
                <tr class="admin_tr underline">
                  <th><span class="glyphicon glyphicon-minus red" aria-hidden="true"></span> 產品成本：</th>
                  <td>
                    {$order.formated_cost}
                  </td>
                </tr>
                <tr class="admin_tr blue">
                  <th>訂單利潤：</th>
                  <td>
                    <strong>{$order.formated_profit}</strong>
                  </td>
                </tr>
                {/if}
              </tbody>
            </table>
          </div>
        </div>
        {if $order.is_wholesale}
        <div class="x_panel shadow">
          <h4>
            批發單資料
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
              </li>
            </ul>
          </h4>
          <div class="x_content">
            <table class="table">
              <tbody>
                <tr class="blue">
                  <th style="width:30%">Invoice#:</th>
                  <td>{$order.type_sn}</td>
                </tr>
                <tr class="">
                  <th style="width:30%">批發公司:</th>
                  <td>
                    <span id="wholesale_company_list_lable"></span>
                    <select class="form-control" name="wholesale_company_list" id="wholesale_company_list" onchange="javascript:saveWholesaleCompany();">
                      <option value="">請選擇</option>
                      {foreach from=$wholesale_company_list key=company_id item=company}
                      <option value="{$company_id}"  {if $order.ws_company_id == $company_id} selected {/if} >{$company} </option>
                      {/foreach}
                    </select>
                  </td>
                </tr>
                <tr class="">
                  <th style="width:30%">批發客戶:</th>
                  <td>
                    <span id="wholesale_customer_list_lable"></span>
                    <select class="form-control" name="wholesale_customer_list" id="wholesale_customer_list" onchange="javascript:saveWholesaleCustomer();">
                      <option value="">請選擇</option>
                      {foreach from=$wholesale_customers_list key=company_id item=customer}
                      <option value= "{$customer.wsid}" {if $order.ws_customer_id == $customer.wsid} selected {/if} >{$customer.company}</option>
                      {/foreach}
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        {/if}


      </div>

      <!-- /.col 帳單資料 -->
    </div>
    <!-- /.row -->
    <div class="ln_solid"></div>
    <!-- /.row -->
  </section>
  <!-- Table row Goods info -->
    <div class="x_panel border-radius shadow goods_table">
      <div class="goods_list_head">
        <div class="normal-header {if $order.is_sa}col-md-10 col-xs-10{else}col-md-12 col-xs-12{/if}">
          <div style="text-align:left;"class="col-md-4 col-xs-4">
            {$lang.goods_name_brand} <a href="order.php?act=edit&order_id={$order.order_id}&step=goods" style="margin-bottom:0px;" class="pull-right btn-xs btn-default btn">{$lang.edit}</a>
          </div>
          <div class="col-md-1 col-xs-1">
            {$lang.goods_sn}
          </div>
          <div class="col-md-2 col-xs-2">
            {$lang.goods_price}{if $smarty.session.manage_cost} - (成本價){/if}
          </div>
          <div class="col-md-1 col-xs-1">
            {$lang.goods_number}
          </div>
          <div class="col-md-1 col-xs-1">
            總{$lang.storage}
          </div>
          <div class="col-md-1 col-xs-1">
            出貨數量
          </div>
          <div class="col-md-2 col-xs-2">
            {$lang.subtotal}
          </div>
        </div>
        {if $order.is_sa}
        <div class="sa-header col-md-2">
          <div class="col-md-6">
            手續費
          </div>
          <div class="col-md-6">
            實價
          </div>
        </div>
        {/if}
      </div>
      <div class="goods_list_body">
        {foreach from=$goods_list item=goods}
        <div class="goods-col">
          <div class="normal-body {if $order.is_sa}col-md-10 col-xs-10{else}col-md-12 col-xs-12{/if}{if $goods.cant_delivery} bg-red{/if}">
            <div style="text-align:left;" class="col-md-4 col-xs-4">
              {if $goods.goods_id gt 0 && $goods.extension_code neq 'package_buy'}
              {if $goods.is_insurance eq 0}<a href="../goods.php?id={$goods.goods_id}" target="_blank" class="strong">{else}<span class="strong">{/if}{$goods.goods_name}{if $goods.is_insurance eq 0}</a>{else}</span>{/if}
              {if $goods.brand_name}[ {$goods.brand_name} ] {if $goods.extension_code eq 'package'}<span class="red">{$lang.remark_pack}</span>{/if}{/if}
              {if $goods.is_gift}{if $goods.goods_price > 0}{$lang.remark_favourable}{else}{$lang.remark_gift}{/if}{/if}
              {if $goods.parent_id > 0}{$lang.remark_fittings}{/if}
              {elseif $goods.goods_id gt 0 && $goods.extension_code eq 'package_buy'}
              <a href="javascript:void(0)" onclick="setSuitShow({$goods.goods_id})">{$goods.goods_name}<span class="red">{$lang.remark_package}</span></a>
              <div id="suit_{$goods.goods_id}" style="display:none">
                  {foreach from=$goods.package_goods_list item=package_goods_list}
                    <a href="../goods.php?id={$package_goods_list.goods_id}" target="_blank">{$package_goods_list.goods_name}</a><br />
                  {/foreach}
              </div>
              {/if}
              {if $goods.replaced_qty gt 0}<span class="red"> (已換貨{$goods.replaced_qty}次)</span>{/if}
              {if $goods.repair_sn}<span class="red"> (維修單{$goods.repair_sn})</span>{/if}
              {if $goods.status_transfer}{$goods.status_transfer}{/if}
            </div>
            <div class="col-md-1 col-xs-1">
              <a href="goods.php?act=list&amp;keyword={$goods.goods_sn}">{$goods.goods_sn}</a>
            </div>
            <div class="col-md-2 col-xs-2">
              {$goods.formated_goods_price} {if $goods.rank_name}<span  class="red"> ({$goods.rank_name}價)</span>{/if}{if $smarty.session.manage_cost} - ({$goods.formated_cost}){/if}
            </div>
            <div class="col-md-1 col-xs-1">
              {$goods.goods_number}
            </div>
            <div class="col-md-1 col-xs-1">
              <a class="stock_breakdown" data-gid="{$goods.goods_id}" href="erp_stock_inquiry.php?act=list&goods_sn={$goods.goods_sn}&goods_name=">{$goods.storage}</a>
            </div>
            <div class="col-md-1 col-xs-1">
              {$goods.delivery_qty}
            </div>
            <div class="col-md-2 col-xs-1">
              {$goods.formated_subtotal}
              {if ($goods.is_insurance eq 1 && $goods.insurance_of > 0)}
              {if $goods.ins_claim_left > 0}
              <div>
                <button type="button" class="btn-ins-claim btn btn-info btn-xs" data-rec-id="{$goods.rec_id}" data-order-id="{$goods.order_id}" data-duration="{$goods.ins_duration}" data-claim-max="{$goods.ins_claim_max}">索賠</button>
              </div>
              {/if}
              <div class="claim-times" data-rec-id="{$goods.rec_id}" data-order-id="{$goods.order_id}" data-claim-max="{$goods.ins_claim_max}">{$lang.claim_record}({$goods.ins_claim_times})</div>
              {/if}
            </div>
          </div>
          {if $order.is_sa}
          <div class="sa-body bg-sa col-md-2">
            <div class="col-md-6">
              {$goods.sa_rate} %
            </div>
            <div class="col-md-6">
              {$goods.formated_sa_subtotal}
            </div>
          </div>
          {/if}
        </div>
        {/foreach}
      </div>
      <div class="goods_list_footer">
        <div class="col-md-7 col-xs-7">
          &nbsp;
          {if $order.total_weight}
            <strong>{$lang.label_total_weight}</strong> {$order.total_weight}
          {/if}
        </div>
        <div class="col-md-5 col-xs-5 no-padding">
          <div style="text-align: {if $order.is_sa}right{else}center{/if};" class="normal-footer no-padding {if $order.is_sa}col-md-6 col-xs-6{else}col-md-12 col-xs-12{/if}">
            <div style="padding: 6px 0px !important;font-size: 16px;font-weight: 600;" class="col-md-6 col-xs-6 no-padding">
              <strong>{$lang.label_total}</strong>
            </div>
            <div style="border-top: 3px solid #ededed;padding: 6px 0px !important;font-size: 16px;font-weight: 600;" class="col-md-6  col-xs-6 no-padding">
              {$order.formated_goods_amount}
            </div>
          </div>
          {if $order.is_sa}
          <div style="border-top: 3px solid #ededed;" class="sa-footer col-md-6 col-xs-6 no-padding">
            <strong>{$formated_sa_total}</strong>
          </div>
          {/if}
        </div>
      </div>
    </div>
    <!-- /.col -->
<div class="panel panel-dark shadow ">
  <h4 class="panel-heading">
      {$lang.action_info}
  </h4>
  <div class="panel-body">
    <div class="form-group">
      <label class="col-md-2 col-sm-2 col-xs-12">{$lang.label_action_note}</label>
      <div class="col-md-8 col-sm-8 col-xs-12"><textarea class="form-control" name="action_note" cols="80" rows="3"></textarea></div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
      <label class="col-md-2 col-sm-2 col-xs-12">{$lang.label_operable_act}</label>
      <div class="col-md-8 col-sm-8 col-xs-12 form-inline">
        {if $operable_list.confirm}
        <input name="confirm" type="submit" value="{$lang.op_confirm}" class="btn btn-round btn-primary " />
        {/if} {if $operable_list.pay && (!$order.is_online_pay || $order_pay)}
        <input name="pay" type="submit" value="{$lang.op_pay}" class="btn btn-round btn-primary" />
        {/if} {if $operable_list.unpay && $order_unpay && !$order.is_wholesale}
        <input name="unpay" type="submit" class="btn btn-round btn-primary" value="{$lang.op_unpay}" />
        {/if} {if $operable_list.wholesale_pay}
        <input name="wholesale_pay" type="button" value="批發訂單付款" class="btn btn-round btn-primary" onclick="javascript:window.location = 'wholesale_payments.php?act=add&order_id={$order.order_id}';" />
        {/if}

        {if $operable_list.prepare}
        <input name="prepare" type="submit" value="{$lang.op_prepare}" class="btn btn-round btn-primary" />
        {/if} {if $operable_list.split}
        <input name="ship" type="submit" value="{$lang.op_split}" class="btn btn-round btn-info" />
        {/if} {if $operable_list.quick_ship}
        <input name="pop_quick_ship" type="button" value="{$lang.op_quick_ship}" class="btn btn-round btn-info" onClick="popup_quick_ship()"/>
        {/if} {if $operable_list.unship}
        <input name="unship" type="submit" value="{$lang.op_unship}" class="btn btn-round btn-danger" />
        {/if} {if $operable_list.receive}
        <input name="receive" type="submit" value="{$lang.op_receive}" class="btn btn-round btn-primary" />
        {/if} {if $operable_list.to_delivery}
        <input name="to_delivery" type="submit" value="{$lang.op_to_delivery}" class="btn btn-round btn-primary"/>
        <input name="order_sn" type="hidden" value="{$order.order_sn}" />
        {/if}

        {if $operable_list.cancel && $order_cancel}
        <input name="cancel" type="submit" value="{$lang.op_cancel}" class="btn btn-round btn-danger" />
        {/if} {if $operable_list.invalid && $order_refund}
        <input name="invalid" type="submit" value="{$lang.op_invalid}" class="btn btn-round btn-cancel" />
        {/if} {if $operable_list.customer_service && $order_after_service}
        <input name="compensate" type="submit" value="{$lang.op_compensate}" class="btn btn-round btn-money" />
        {/if} {if $operable_list.finish_order}
        <input name="finish_order" type="submit" value="{$lang.op_finish_order}" class="btn btn-round btn-primary"  onClick="return window.confirm('{$lang.js_languages.manual_finish_order_confirm}');"/>
        <!-- #BeginComment -->
        {/if} {if $operable_list.return}
        <input name="return" type="submit" value="{$lang.op_return}" class="btn btn-round btn-primary" />
        <!-- #EndComment -->
        {/if}

        <input name="after_service" type="submit" value="{$lang.op_after_service}" class="btn btn-round btn-dark" />{if $operable_list.remove && $order_remove}
        <input name="remove" type="submit" value="{$lang.remove}" class="btn btn-round btn-primary" onClick="return window.confirm('{$lang.js_languages.remove_confirm}');" />
        {/if}
        {if $operable_list.hold_order && !$order.is_hold}
        <input name="hold_order" type="submit" value="{$lang.op_hold_order}" class="btn btn-round btn-danger" />
        {/if} {if $operable_list.unhold_order && $order.is_hold && $order_unhold}
        <input name="unhold_order" type="submit" value="{$lang.op_unhold_order}" class="btn btn-round btn-danger" />
        {/if}
        {if $order.extension_code eq "group_buy"}{$lang.notice_gb_ship}{/if}
        {if $agency_list}
        <input name="assign" type="submit" value="{$lang.op_assign}" class="btn btn-round btn-primary" onclick="return assignTo(document.forms['theForm'].elements['agency_id'].value)" />
        <select class="form-control" name="agency_id"><option value="0">{$lang.select_please}</option>
        {foreach from=$agency_list item=agency}
        <option value="{$agency.agency_id}" {if $agency.agency_id eq $order.agency_id}selected{/if}>{$agency.agency_name}</option>
        {/foreach}
        </select>
        {/if}
        <input name="order_id" type="hidden" value="{$order.order_id}">
        <strong>操作員：</strong>
        <select class="form-control" name="operator" onchange="javascript:saveOperatorToLocalStorage();">
          <option value="">{$lang.select_please}</option>
          {foreach from=$salesperson_list item=salesperson}
          <option>{$salesperson}</option>
          {/foreach}
        </select>
      </div>
    </div>
    <div class="ln_solid"></div>
    <div id="order_action_form" class="form-group">
      <table id="order_actions" class="table table-dark-font">
        <thead>
        <tr>
          <th>{$lang.action_user}</th>
          <th>{$lang.action_time}</th>
          <th>{$lang.order_status}</th>
          <th>{$lang.pay_status}</th>
          <th>{$lang.shipping_status}</th>
          <th>{$lang.action_note}</th>
        </tr>
        </thead>
        <tbody>
        {foreach from=$action_list item=action}
        <tr>
          <td nowrap="nowrap"><div>{$action.action_user}</div></td>
          <td nowrap="nowrap"><div>{$action.action_time}</div></td>
          <td nowrap="nowrap"><div>{$action.order_status}</div></td>
          <td nowrap="nowrap"><div>{$action.pay_status}</div></td>
          <td nowrap="nowrap"><div>{$action.shipping_status}</div></td>
          <td style="word-break:break-all;">{$action.action_note|nl2br}</td>
        </tr>
        {/foreach}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="confirm_quick_ship" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">一鍵出貨</h4>
      </div>
      <div class="modal-body">
        <strong class="red">**注意: 此功能會將訂單: {$order.order_sn} 所有可出貨產品出貨！<br></strong>
        {if $cant_delivery}
        <div style="color:red;">以下產品只會被部分出貨/不會被出貨<br>
        {foreach from=$cant_delivery item=goods}
          {$goods}
        {/foreach}
        </div>
        {/if}
        <div class="col-sm-12 form-group"><strong>{$lang.label_shipping} {if $order.shipping_id > 0}{$order.shipping_name}{else}{$lang.require_field}{/if}</strong></div>
        <div class="col-sm-12 form-inline">
          {$lang.label_invoice_no}
          <input class="form-control" name="invoice_no" type="text" value="{$delivery_order.invoice_no}">
          <select class="form-control" name="logistics_id" id="logistics_id">
          <option value="-1">{$lang.select_please}</option>
          {foreach from=$logistics_list item=logistics}
            {if $wilson_logistics_id != $logistics.logistics_id}
              <option value="{$logistics.logistics_id}">{$logistics.logistics_name}</option>
            {/if}
          {/foreach}
        </select>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <input name="quick_ship" type="submit" value="{$lang.op_quick_ship}" class="btn btn-primary" onclick="check_selected_logistics(this)"/>
        <input type="button" value="{$lang.op_cancel}" data-dismiss="modal" class="btn btn-danger"/>
      </div>
    </div>
  </div>
</div>


<script language="JavaScript">
  var oldAgencyId = {$order.agency_id|default:0};
  var logistics_list = {$logistics_list|json_encode};
  var ajaxObj = null;

  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
    loadOperatorFromLocalStorage();
    //display_tracking();
    tracking_auto_select();
    display_delivery_info.init();
    display_delivery_info.onClickLocalPickupConfirm();
  }

  var display_delivery_info = {};

  display_delivery_info.init = function(){
    $(".display_delivery_info").mouseover(function(){
        var $target = $(this);
        if ( $(".delivery_info_block_outsite:visible").length > 0) {
          return;
        }
        $('.delivery_info_block_outsite').hide();
        if (typeof unloadAllCrossCheckListener == 'function')
        {
          unloadAllCrossCheckListener();
        }
        if (ajaxObj && ajaxObj.promise) {
          ajaxObj.abort();
        }
        $(".delivery_info_block_outsite").find(".delivery_info_block").find(".order_goods_cross_check").html('');
        $target.next('.delivery_info_block_outsite').show();
        display_delivery_info.display_delivery_goods($target);
        display_delivery_info.onClickOrderGoodsCrossCheckInit($target);
        display_delivery_info.display_delivery_tracking($target);
    });
    //.mouseout(function() {
    //    var did = $(this).data('did');
    //    var $target = $(this);
    //    $target.next('.delivery_info_block_outsite').fadeOut('fast');
    //});

    $('.delivery_info_block_outsite').mouseover(function(e){
      $(this).stop().animate({opacity:'100'})
      $(this).show();

      $('.close_delivery_info_panel_button').on('click', function(e){
        $(".order_goods_cross_check:visible").css('border-color', '');
        $(this).closest('.delivery_info_block_outsite').hide();
      });
    });

    //$(document).click(function(event) {
    //    if (!$(event.target).closest(".delivery_info_block_outsite").length) {
    //        $('.delivery_info_block_outsite').hide();
    //    }
    //});

  }

  display_delivery_info.display_delivery_goods = function($target){
    var oid = $target.data('oid'),
        did = $target.data('did'),
        added_date = $target.data('added-date'),
        header_title = '<div class="table_header_title x_title"><b>出貨產品資訊</b> '+ added_date +'<button type="button" class="close close_delivery_info_panel_button pull-right">&times;</button></div>',
        $delivery_block_goods = $target.next('.delivery_info_block_outsite').find(".delivery_info_block").find('.goods_info');

    $.ajax({
      url: 'order.php',
      type: 'get',
      cache: false,
      data: {
        'act': 'get_delivery_goods_info',
        'delivery_id': did
      },
      dataType: 'json',
      success: function (result) {
        if (result.error)
        {
          alert(result.message);
        }
        else
        {
          var data = result.content;
         // var $actionBlock = $('<div class="x_content"></div>');
         // $actionBlock.append($actionTable);
          var $actionTable = $('<table class="table table-striped"></table>');
          $actionTable.append('<thead><tr><td width=250>產品名稱 [ 品牌 ]</td><td>條碼</td><td>屬性</td><td>出貨數量</td></tr></thead>');         
          var $length = data !== null ? Object.keys(data).length : 0;
          
          if ($length > 0) {
            $(data).each(function(index,good){
                $actionTable.append('<tr> <td><a href="../goods.php?id=' + good.goods_sn + '" target="_blank">'+ good.goods_name +'</td><td>' +  good.goods_sn + '</td><td>' + good.goods_attr + '</td><td>' + good.send_number +'</td></tr>');
            });
          }else{
            $actionTable.append('<tr>'+
              '<td colspan="4">未有相關資訊</td>' +
            '</tr>');
          }

          $delivery_block_goods.html(header_title);
          $delivery_block_goods.append($actionTable);     
 
        }
      }
    });
  }

  $(document).on("change",".staff_operator",function() {
      var ticked = $('#notified_customer_pickup').prop("checked");
      var staff_operator = $(".staff_operator").val();
      var did = $(this).data('did');
      if (staff_operator <= 0) {
          return false;
      }

      $("#notified_success").hide();
      if (ticked) {
          // chanaged to notified
          $.ajax({
            url: 'order.php',
            type: 'get',
            cache: false,
            data: {
              'act': 'local_pickup_notified',
              'delivery_id': did,
              'notified': true,
              'order_id': {$order.order_id},
              'operator': staff_operator 
            },
            dataType: 'json',
            success: function (result) {
              if (result.content != false) {
                  $("#staff_operator").hide();
                  $("#notified_success").show();

                  if (typeof result.content.to_buyer_remark != 'undefined') {
                      $('#order_to_buyer_remark').html(result.content.to_buyer_remark.replace(/\n/g,"<br>"));
                      $('#order_to_buyer_remark').addClass('green');
                  }

                  $('#order_action_form').load('order.php?act=info&order_id={$order.order_id} #order_actions');
              }else{
                  alert('發生錯誤');
              }
            }
          });
      }
  });

  $(document).on("click",".notified_cancel_btn",function() {
    var ticked = $('#notified_customer_pickup').prop("checked");
    var staff_operator = $(".staff_operator").val();
    var did = $(this).data('did');

    $("#notified_success").hide();
    if (!ticked) {
        // chanaged to notified
        $.ajax({
          url: 'order.php',
          type: 'get',
          cache: false,
          data: {
            'act': 'local_pickup_notified',
            'delivery_id': did,
            'notified': false,
            'order_id': {$order.order_id},
          },
          dataType: 'json',
          success: function (result) {
            if (result.content != false) {
                $("#notified_success").show();
                $("#notified_cancel").hide();
                //$('#order_action_form').load('order.php?act=info&order_id={$order.order_id} #order_actions');
            }else{
                alert('發生錯誤');
            }
          }
        });
    }
  });

  $(document).on("ifChanged",".notified_customer_pickup",function() {
      $("#notified_success").hide();
      if ($(this).prop("checked")) {
          $("#staff_operator").show();
      }else {
          $("#staff_operator").hide();
          $("#notified_cancel").show();
      }
  });

  $('.claim-times').click(function(){
    var rec_id = $(this).data('rec-id');
    var order_id = $(this).data('order-id');
    var claim_max = $(this).data('claim-max');
    $('#dialog_claim_record .modal-content .modal-body').html('');

    $.ajax({
    url: 'insurance.php',
    type: 'POST',
    dataType: 'JSON',
    data:{
        act: 'ajax_get_claim_record',
        rec_id: rec_id,
        order_id: order_id
    },
    success: function(res){
        var print_result = '';
        if (!res.content || res.error || res.content.length == 0){
          print_result = "<div style='text-align: center; font-weight: bolder;'>未能找到任何紀錄</div>";
        } else {
          var i = 1;
          $.each(res.content, function(k, v) {
            print_result += "<div style='font-size: 16px;'><div style='font-weight: bold;'>索賠紀錄" + i + ": </div><div>發票正本: </div>" +
                            "<div><a href='../" + v.receipt_img + "' target='_blank'><img src='../" + v.receipt_img + "' alt='發票正本' style='width: 320px; border-width: 1px;border-color: #ccc;border-style: dashed;'></a></div>" +
                            "<div>{$lang.claim_amount}: " + v.claim_amount + " {$lang.max_claim}: " + claim_max + "</div>" +
                            "<div>{$lang.claim_time}: " + v.claim_datetime + " {$lang.claim_approve}: " + v.approve_by + "</div></div>" +
                            "<hr>";
            i++;
          });
          if (print_result == ''){print_result = "<div style='text-align: center; font-weight: bolder;'>未能找到任何紀錄</div>";}
        }
        $('#dialog_claim_record .modal-content .modal-body').html(print_result);
    }
    });

    $('#dialog_claim_record').modal('show');
  });

  $('.goods_table .goods_list_body .btn-ins-claim').click(function(){
    var $this = $(this);
    var $text = "";
    var $rec_id = $(this).data('rec-id');
    var $order_id = $(this).data('order-id');
    var $duration = $(this).data('duration');
    var $claim_max = $(this).data('claim-max');

    if (!$rec_id){
      console.log("Can't get rec_id");
      return false;
    }
    if (!$order_id){
      console.log("Can't get order_id");
      return false;
    }
    if (!$duration){
      console.log("Can't get duration");
      return false;
    }
    if (!$claim_max){
      console.log("Can't get claim_max");
      return false;
    }

    if ($rec_id && $order_id && $duration && $claim_max){
      $("#dialog_claim_ins_form #claim_ins_rec_id").val($rec_id);
      $("#dialog_claim_ins_form #claim_ins_order_id").val($order_id);
      $("#dialog_claim_ins_form #claim_ins_duration").val($duration);
      $("#dialog_claim_ins_form #claim_ins_claim_max").val($claim_max);
      $("#dialog_claim_ins_form #max_claim_amount").html($claim_max);
    }

    $("#claim_amount").val('');
    $("#dialog_claim_ins_form .goods_info .cropit-image-input").val('');
    //$("#alert_text").html($text);
    //$('#createBtn').prop('value', '{$lang.create}'); 
    //$('#createBtn').prop('disabled', false);
    $('#dialog_claim_ins_form').modal('show');
  });

  display_delivery_info.onClickLocalPickupConfirm = function (){
    $(document).on("click",".local-pickup-confirm,.picked_up_label_undo",function() {
        $(this).closest('.delivery_info_block_outsite').css('height','auto');
        //$(this).closest('.delivery_info_block_outsite').css('background-color','red');
        //$(".local-pickup-confirm").click(function(){
        var delivery_id = $(this).data('delivery-id');
        var delivery_status = $(this).data('delivery-status');
        var pickup_operator = $(this).closest(".confirm_local_pickup_block").find(".pickup_operator").val();
        var pack_operator = $(this).closest(".confirm_local_pickup_block").find(".pack_operator").val();
        var $pickup_error_message = $(this).closest(".table_header_title").find(".pickup_error_message");
        var operator = '';

        if (delivery_status == 4) {
            if (pack_operator == '') {
                $pickup_error_message.html('請選擇Pack貨員');
                return false;
            }else {
                $pickup_error_message.html('');
                operator = pack_operator;
            }
            $(this).prop('disabled', true);
        }

        if (delivery_status == 3) {
            if (pickup_operator == '') {
                $pickup_error_message.html('請選擇取貨員');
                return false;
            }else {
                $pickup_error_message.html('');
                operator = pickup_operator;
            }
        }

        var target = $(this);
        $.ajax({
          url: 'order.php',
          type: 'get',
          cache: false,
          data: {
            'act': 'local_pickup_confirm',
            'delivery_id': delivery_id,
            'delivery_status': delivery_status,
            'operator': operator,
            'order_id': {$order.order_id}
          },
          dataType: 'json',
          success: function (result) {
            if (result.content != false) {
                if (delivery_status == 3) {
                    $(".confirm_local_pickup_block").html(' ' +  display_delivery_info.packed_without_undo_label + ' ' + display_delivery_info.picked_up_label);
                    if (typeof result.content.to_buyer_remark != 'undefined') {
                        $('#order_to_buyer_remark').html(result.content.to_buyer_remark.replace(/\n/g,"<br>"));
                        $('#order_to_buyer_remark').addClass('green');
                    }
                } else if (delivery_status == 4) {
                    $(".confirm_local_pickup_block").html(' ' + display_delivery_info.packed_lable + ' ' + display_delivery_info.select_operators  + display_delivery_info.confirm_pickup_btn);
                    if (typeof result.content.to_buyer_remark != 'undefined') {
                        $('#order_to_buyer_remark').html(result.content.to_buyer_remark.replace(/\n/g,"<br>"));
                        $('#order_to_buyer_remark').addClass('green');
                    }
                } else if (delivery_status == 0) {
                    $(".confirm_local_pickup_block").html( ' ' + display_delivery_info.select_operators_pack  + display_delivery_info.confirm_packed_btn  + display_delivery_info.select_operators  + display_delivery_info.confirm_pickup_btn);
                }
                $('#order_action_form').load('order.php?act=info&order_id={$order.order_id} #order_actions');
              //  turn_on_icheck();
            }else{
                alert('發生錯誤');
            }
          }
        });
    });
  }

  display_delivery_info.display_delivery_tracking = function($target){
      var oid = $target.data('oid'),
          did = $target.data('did'),
          tid = $target.data('tid'),
          added_date = $target.data('added-date'),
          delivery_method = $target.data('delivery-method'),
          shipping_id = $target.data('shipping-id'),
          $delivery_block_tracking = $target.next(".delivery_info_block_outsite").find(".delivery_info_block").find('.tracking_info') ;

      // if (shipping_id == 2 || shipping_id ==5) {
      //     if (typeof $target.closest('.delivery_info_container').find('.tracking_info_header').html() != 'undefined') {
      //         return false;
      //     }
      // }

      $delivery_block_tracking.html("請稍候....");
      $delivery_block_tracking.css('display', 'block');

      display_delivery_info.picked_up_label = '<div class="pickup_label_group"><div class="order-status-label light-green picked_up_label" title="已收貨">已取貨</div><span class="badge picked_up_label_undo"  data-delivery-id="'+ did +'" data-delivery-status="4" title="取消已取貨"><i class="fas fa-times"></i></span></div>';
      display_delivery_info.unpick_up_lable = '<div class="order-status-label light-green picked_up_label" title="未取貨">未取貨</div>';
      
      display_delivery_info.packed_lable = '<div class="pickup_label_group"><div class="order-status-label light-green picked_up_label" title="已Pack貨">已Pack貨</div><span class="badge picked_up_label_undo"  data-delivery-id="'+ did +'" data-delivery-status="0" title="取消已Pack貨"><i class="fas fa-times"></i></span></div>';
      display_delivery_info.packed_without_undo_label = '<div class="pickup_label_group"><div class="order-status-label light-green picked_up_label" title="已Pack貨">已Pack貨</div></div>';

      display_delivery_info.confirm_packed_btn = '<span ><input type="button" style="margin-bottom:7px;" class="btn btn  btn-dark local-pickup-confirm" data-delivery-status="4" data-delivery-id="'+ did +'" value="已Pack貨" ></span>';
      display_delivery_info.select_operators_pack = '<select class="form-control pack_operator" name="pack_operator" id="pack_operator" style=" padding-top: 7px;width: 150px;display: inline-block;">';
      display_delivery_info.select_operators_pack += '<option value="">請選擇Pack貨員</option>';
      {foreach from=$salesperson_list_operator item=salesperson}
      display_delivery_info.select_operators_pack += '<option>{$salesperson}</option>';
      {/foreach}

      display_delivery_info.select_operators_pack += '</select>';

      display_delivery_info.select_operators_staff = '<select class="form-control staff_operator" data-did="'+ did +'" name="staff_operator" id="staff_operator" style=" padding-top: 7px;width: 150px;display:none;">';
      display_delivery_info.select_operators_staff += '<option value="">請選擇職員</option>';
      {foreach from=$salesperson_list_operator item=salesperson}
      display_delivery_info.select_operators_staff += '<option>{$salesperson}</option>';
      {/foreach}

      display_delivery_info.select_operators += '</select>';

      
      display_delivery_info.confirm_pickup_btn = '<span ><input type="button" style="margin-bottom:7px;" class="btn btn  btn-dark local-pickup-confirm" data-delivery-status="3" data-delivery-id="'+ did +'" value="取貨確認" ></span>';
      display_delivery_info.cancel_picked_up = '<input type="button" class="btn btn-xs btn-danger local-pickup-confirm" data-delivery-status="4" data-delivery-id="'+ did +'" value="取消已取貨">';
      
      display_delivery_info.select_operators = '<select class="form-control pickup_operator" name="pickup_operator" id="pickup_operator" style=" padding-top: 7px;width: 150px;display: inline-block;">';
      display_delivery_info.select_operators += '<option value="">請選擇取貨員</option>';
      {foreach from=$salesperson_list_operator item=salesperson}
      display_delivery_info.select_operators += '<option>{$salesperson}</option>';
      {/foreach}
      display_delivery_info.select_operators += '</select>';

      //var obj = $("#example").text('this\n has\n newlines');
      display_delivery_info.picked_up_remark = '<span ><textarea  id="pickup_to_buyer" name="pickup_to_buyer" cols="60" rows="3"></textarea></span>';
      
      $.ajax({
        url: 'order.php',
        type: 'get',
        cache: false,
        data: {
          'act': 'check_invoice',
          'order_id': oid,
          'invoice': tid,
          'delivery_id': did
        },
        dataType: 'json',
        success: function (result) {
          if (result.error)
          {
            alert(result.message);
          }
          else 
          {
              var data = result.content;
              var confirm_pickup_html = '<span class="confirm_local_pickup_block">';
              if (data.delivery_status == '3') {
                  confirm_pickup_html += ' ' + display_delivery_info.packed_without_undo_label + ' '  + display_delivery_info.picked_up_label ;
              } else if (data.delivery_status == '4') {
                  confirm_pickup_html += ' ' + display_delivery_info.packed_lable + ' ' + display_delivery_info.select_operators  + display_delivery_info.confirm_pickup_btn;
              } else {
                  confirm_pickup_html += ' ' + display_delivery_info.select_operators_pack  + display_delivery_info.confirm_packed_btn  + display_delivery_info.select_operators  + display_delivery_info.confirm_pickup_btn;
                  //confirm_pickup_html += ' ' + display_delivery_info.select_operators + '<br>' + display_delivery_info.confirm_packed_btn  + display_delivery_info.select_operators  + display_delivery_info.confirm_pickup_btn;
              }
              
              confirm_pickup_html += '</span><div class="pickup_error_message" id="pickup_error_message" style="color: #FD495C;"></div>';
              confirm_pickup_html += '<div> ' + '<br>' + ' <input size="20" class="flat notified_customer_pickup" data-did="' + did + '" type="checkbox" name="notified_customer_pickup" id="notified_customer_pickup" value="1" '+  (data.pickup_notified == true?  'checked="checked"' :'') + '/> <label for="notified_customer_pickup">已通知客人取貨</label> <div id="notified_cancel" style="color:#1ABB9C;display:none" ><input type="button" id="notified_cancel_btn" data-did="' + did + '" class="btn btn-xs btn-danger notified_cancel_btn " value="取消已通知"></div> <span id="notified_success" style="color:#1ABB9C;display:none" >儲存成功</span> ' + display_delivery_info.select_operators_staff  + ' </div>';

              var $html ='<div class="table_header_title x_title tracking_info_header "  >'+ delivery_method ;
                  $html += ((shipping_id != '2' && shipping_id != '5') ? " (物流狀態: "+data.status+" 物流號碼: "+tid+")<br/>" : '' ) + ( data.logistics_name == '門店自取' ? confirm_pickup_html : '') + "</div>";

              var $actionTable = $('<table class="table table-striped"></table>');
              $actionTable.append('<thead><tr><th>時間</th><th>訂單狀態</th><th>地點</th></tr></thead>');
              var trackinfo = data.trackinfo;
              var $length = trackinfo !== null ? Object.keys(trackinfo).length : 0;
              if($length > 0){
                  $.each(trackinfo, function (i, ti) {
                  $actionTable.append('<tr>'+
                  '<td>' + ti.Date + '</td>' +
                  '<td>' + ti.StatusDescription + '</td>' +
                  '<td>' + ti.Details + '</td>' +
                  '</tr>');
                  });
              } else {
                  $actionTable.append('<tr>'+
                  '<td colspan="3">未有相關資訊</td>' +
                  '</tr>');
              }
              $delivery_block_tracking.html($html);
              $delivery_block_tracking.append($actionTable);
              $delivery_block_tracking.css('display', 'block');
              turn_on_icheck();    
          }
        }
      });
  }

  display_delivery_info.onClickOrderGoodsCrossCheckInit = function($target) {
    if ($target.data('delivery-method') != "門店自取") {
      return;
    }
    var oid = $target.data('oid'),
        did = $target.data('did'),
        tid = $target.data('tid'),
        osn = $target.data('osn'),
        $delivery_block_cross_check = $target.next(".delivery_info_block_outsite").find(".delivery_info_block").find(".order_goods_cross_check");
        $delivery_block_cross_check.html('checking.....');
        $delivery_block_cross_check.css('display', 'block');

    ajaxObj = $.ajax({
        url: 'order.php',
        type: 'get',
        cache: false,
        data: {
          'act': 'get_order_goods_cross_check_table',
          'order_id': oid,
          'order_sn': osn,
          'invoice': tid,
          'delivery_id': did
        },
        dataType: 'json',
        success: function (result) {
           if (result.error)
          {
            alert(result.message);
          }
          else 
          {
            var content = result.content;
            $delivery_block_cross_check.html(content);
            order_sn = osn;
            delivery_id = did;
            transaction_id = tid;
            load_delivery_order_goods(osn, did);
            $(document).off('click','#reset_input');
            $(document).on('click','#reset_input',function(){
              clear_all_goods_data();
              load_delivery_order_goods(osn, did);
            });
          }
        }
    });

  }

  /**
   * 把订单指派给某办事处
   * @param int agencyId
   */
  function assignTo(agencyId)
  {
    if (agencyId == 0)
    {
      alert(pls_select_agency);
      return false;
    }
    if (oldAgencyId != 0 && agencyId == oldAgencyId)
    {
      alert(pls_select_other_agency);
      return false;
    }
    return true;
  }
  var tokenLock=false;
  function getOperatorSelect()
  {
    var selects = document.getElementsByTagName('select');
    for (var i = 0; i < selects.length; i++)
    {
      if (selects[i].name == 'operator')
      {
        return selects[i];
      }
    }
    return null;
  }
  function checkOperator()
  {
    if(tokenLock!=false)
      return false;
    else
      tokenLock=true;

    var sel_operator = getOperatorSelect();

    if (!sel_operator || sel_operator.value == '')
    {
      alert('必須填寫操作員');
      tokenLock=false;
      return false;
    }
    $("#confirm_quick_ship").hide();
    $("#please_wait").show();
    return true;
  }
  function loadOperatorFromLocalStorage()
  {
    if (window.localStorage)
    {
      var operator = window.localStorage.getItem('operator');
      if (operator)
      {
        var sel_operator = getOperatorSelect();
        if (sel_operator)
        {
          sel_operator.value = operator;
        }
      }
    }
  }
  function saveOperatorToLocalStorage()
  {
    if (window.localStorage)
    {
      var sel_operator = getOperatorSelect();
      if (sel_operator)
      {
        window.localStorage.setItem('operator', sel_operator.value);
      }
    }
  }


  function saveWholesaleCompany()
  {
    var order_id ={$order.order_id};

    $.ajax({
      url: 'order.php',
      dataType: 'json',
      data: {
        act: 'update_order_wholesale_company',
        order_id: order_id,
        ws_company_id: $("#wholesale_company_list").val()
      },
      success: function(res) {
          displayWholesaleCompany();
      }
    })    
  }

  function displayWholesaleCompany()
  {
    var wholesale_company_name_selected = $("#wholesale_company_list option:selected").text();
    if(wholesale_company_name_selected == '請選擇') {
      wholesale_company_name_selected = 'N/A';
    }
    $("#wholesale_company_list_lable").html(wholesale_company_name_selected);
    $("#wholesale_company_list").hide();
    $("#wholesale_company_list_lable").show();
  }

  displayWholesaleCompany();

  $(document).on("click","#wholesale_company_list_lable",function() {
    $("#wholesale_company_list").show();
    $("#wholesale_company_list_lable").hide();
  });
    
  function saveWholesaleCustomer()
  {
    //var sel_operator = getOperatorSelect();
    var order_id ={$order.order_id};

    $.ajax({
      url: 'order.php',
      dataType: 'json',
      data: {
        act: 'update_order_wholesale_customer',
        order_id: order_id,
        ws_customer_id: $("#wholesale_customer_list").val()
      },
      success: function(res) {
        displayWholesaleCustomer();
      }
    })    
  }

  function displayWholesaleCustomer()
  {
    var wholesale_customer_name_selected = $("#wholesale_customer_list option:selected").text();
    if(wholesale_customer_name_selected == '請選擇') {
      wholesale_customer_name_selected = 'N/A';
    }
    $("#wholesale_customer_list_lable").html(wholesale_customer_name_selected);
    $("#wholesale_customer_list").hide();
    $("#wholesale_customer_list_lable").show();
  }

  displayWholesaleCustomer();

  $(document).on("click","#wholesale_customer_list_lable",function() {
    $("#wholesale_customer_list").show();
    $("#wholesale_customer_list_lable").hide();
  });

  function popup_quick_ship(){
    var order_type = "{$order.order_type}";
    var shipping_id = {$order.shipping_id};
    // Hardcode function: Auto selected logistics by order_type/shipping_id
    if((shipping_id == 2 || shipping_id == 5) && $('#logistics_id').find('option[value="7"]').length > 0){//門市購買, 門店自取
      $('#logistics_id').val(7); //門店自取
    } else if (shipping_id == 6 && $('#logistics_id').find('option[value="6"]').length > 0) { //聯邦快遞
      $('#logistics_id').val(6); //FedEx
    } else if (order_type == 'sa' && $('#logistics_id').find('option[value="8"]').length > 0) { //代理單
      $('#logistics_id').val(8); //代理送貨
    }
    $("#confirm_quick_ship").modal('show');
  }

  function check_selected_logistics() {
    var $value = $( "#logistics_id option:selected" ).val();
    if($value > 0){
      tokenLock=false;
      return true;
    } else {
      alert('必須選擇物流公司');
      tokenLock=true;
      return false;
    }
  }

  function tracking_auto_select(){
    //setup before functions
    var typingTimer;                //timer identifier
    var doneTypingInterval = 500;  //time in ms, 0.5 second for example
    var $input = $('input[name=invoice_no]');

    //on keyup, start the countdown
    $input.on('keyup', function () {
      clearTimeout(typingTimer);
      typingTimer = setTimeout(checkinvoice, doneTypingInterval);
    });

    //on keydown, clear the countdown
    $input.on('keydown', function () {
      clearTimeout(typingTimer);
    });

    //user is "finished typing," do something
    var checkinvoice = function () {
      var value = $input.val();
      if(value.length > 2){
        var $first = value.substring(0, 2);
        var $input_length = value.length;
        var sel_logistics = logistics_list.find(function(logistics){
          return (logistics.template_length == $input_length && logistics.first_word == $first)
        });
        if(sel_logistics){
          $('#logistics_id').val(sel_logistics.logistics_id);
        }
      }
    }
  }

  $(document).on('click', '.pack_operator,.pickup_operator', function(e) {
    var outsite_height =  $(this).closest('.delivery_info_block_outsite').outerHeight(true);
    //if (outsite_height != 700) {
        $(this).closest('.delivery_info_block_outsite').css('height','700px');
        //$(this).closest('.delivery_info_block_outsite').css('background-color','red');
    //}
  });

  $(document).on('change', '.pack_operator,.pickup_operator', function(e) {
    $(this).closest('.delivery_info_block_outsite').css('height','auto');
    //$(this).closest('.delivery_info_block_outsite').css('background-color','red');
    //e.stopPropagation();
    //return false;
  });

  $(document).on('keyup keypress', 'form input[type="text"]', function(e) {
    if(e.which == 13) {
      e.preventDefault();
      return false;
    }
  });
  $(document).on('click', '#print_ws_inv', function(){
    var ws_customer_id = $("#wholesale_customer_list").val();
    if (ws_customer_id == "") {
      alert('請先選擇批發客戶')
    } else {
    $.ajax({
      url: 'wholesale_invoice.php',
      dataType: 'json',
      data: {
        act: 'list',
        json: 1
      }, success: function(res){
        $t_dropdown = $('<select name="template" class="form-control"></select>');
        $t_dropdown.append('<option value="-1">{$lang.select_please}</option>');
        res.content.t_list.map((v,i)=>$t_dropdown.append('<option value="'+i+'">'+v+'</option>'));
        $form = $('<form><input id="ws_print_oid" type="hidden" name="order_id" value="{$order.order_id}"></form>');
        $confirm_ws = $('<input type="button" class="btn btn-default" value="確認">');
        $create_ws = $('<input type="button" class="btn btn-success" {if $order.ar_txn_id}disabled value="已建立會計紀錄"{else}value="建立會計紀錄"{/if}>');
        $formGp1 = $('<div class="form-group"><label class="control-label">模板</label></div>');
        $formGp1.append($t_dropdown);
        $form.append($formGp1);
        $form.append($confirm_ws);
        $form.append($create_ws);

        $popup = modal.create('選擇收據模版', $form);
        modal.show($popup);
        turn_on_icheck();
        $confirm_ws.click(function(){
          if($('select[name=template]').val() != '-1' && $('#ws_print_oid').val()){
            window.open('wholesale_invoice.php?act=print&wsid='+ws_customer_id+'&template='+$('select[name=template]').val()+'&order_id='+$('#ws_print_oid').val());
            modal.hide($popup);
          }
        })
        $create_ws.click(function(){
          if (confirm('一經確認將不能更改本訂單')) {
            $.ajax({
              url: 'wholesale_invoice.php',
              dataType: 'json',
              data: {
                act: 'create_ar',
                wsid: ws_customer_id,
                order_id: {$order.order_id}
              },
              success: function(res) {
                if (res.error == '0') {
                  alert('建立成功')
                } else {
                  alert(res.message)
                }
              }
            })
          }
        })
      }
    })
    }
  })
  $(function() {
    if ($("#risk_level").length != 0) {
    var order_sn = $("#risk_level").data("sn");

    $.ajax({
      url: 'fraud_control.php',
      dataType: 'json',
      data: {
        act: 'query',
        order: order_sn
      },
      success: function(res) {
        var overall_risk = res.content.risk.overall_risk;
        $("#risk_level").addClass(overall_risk < 40 ? 'green' : overall_risk < 70 ? 'orange' : 'red');
        $("#risk_level").text("信用卡盜用風險: " + (overall_risk < 40 ? '低' : overall_risk < 70 ? '中' : '高'));
        $("#risk_level").prop('title', "信用卡盜用風險系數 " + overall_risk);
      }
    })
    }
  })
</script>

{include file="pagefooter.htm"}

</div>
</form>
<div id='dialog_claim_ins_form'  class="modal" tabindex="-1" role="dialog">
  <form id='claim_ins_form' type='POST' method="post" action='order.php?act=add_claim' onsubmit="return claim_ins(event);">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span style="font-size: 24px; font-weight: bold; vertical-align: middle;">{$lang.insurance_claim}</span>
            <button type="button" class="btn btn-default btn-ins-claim" data-toggle="modal" data-target="#myModal" style="vertical-align: middle; padding: 1px 10px;">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {$lang.claim_flow}
            </button>
        </div>
        <div class="modal-body form-horizontal form-label-left">
          <div id="alert_text" class='red'></div>
          <input name='act' value='add_claim' type='hidden'>
          <input id="claim_ins_rec_id" name='rec_id' value='' type='hidden'>
          <input id="claim_ins_order_id" name='order_id' value='' type='hidden'>
          <input id="claim_ins_duration" name='duration' value='' type='hidden'>
          <input id="claim_ins_claim_max" name='claim_max' value='' type='hidden'>

          <div id="claim_amount_group" class="form-group">
              <label for="claim_amount" class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 14px;">{$lang.claim_amount}:</label>
              <div class="col-md-4 col-sm-4 col-xs-12">
                  <input type="number" class="form-control" id="claim_amount" name="claim_amount" placeholder="{$lang.enter_insurance_name}" step="1">
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12" style="padding: 6px;">
                <div style="font-size: 14px;">{$lang.max_claim}: <span id="max_claim_amount"></span></div>
              </div>
          </div>

          <div class="well goods_info" style="">
            <div style="text-align: center;">{$lang.upload_receipt_img}</div>
            <div class="main_img">
              <input type="text" class="isUploadImg" name="isUploadImg" size="20" hidden/>
              <div class="change_img" hidden><i class="fa fa-undo" style="background: #1296db; color: #fff;padding: 5px;border-radius: 15px;"></i></div>
              <div class="delete_img" hidden><i class="fa fa-trash-alt" style="background: #fff2e2; color: #ff990d;padding: 5px;border-radius: 15px;"></i></div>
              <div class="cropit" data-origin="" data-name="goods_img" data-width="500" data-height="400" style="float: none; width: 500px; margin-left: auto; margin-right: auto;"></div>
              <div class="add_img" style="top: 150px; left: 250px;">+</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <input type="submit" value="{$lang.submit_claim}" class="btn btn-default" id="claimBtn">
        </div>
      </div>
    </div>
  </form>
</div>

<div id='dialog_claim_record'  class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span style="font-size: 24px; font-weight: bold; vertical-align: middle;">{$lang.claim_record}</span>
            <button type="button" class="btn btn-default btn-ins-claim" data-toggle="modal" data-target="#myModal" style="vertical-align: middle; padding: 1px 10px;">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {$lang.claim_flow}
            </button>
        </div>
        <div class="modal-body form-horizontal form-label-left">

        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
          <div class="row" style="text-align: center;">
              <div class="col-sm-4" style="font-weight: bold;">
                <div style="background-color: #00acee; padding: 10px; color: white; font-size: 14px;">第一步</div>
                <div><svg style="width: 100px; height: 100px; padding: 20px 20px 10px;"><use xlink:href="/yohohk/img/yoho_svg.svg#warranty_extend"></use></svg></div>
                <div style="color: #242424; font-size: 13px; padding: 20px 25px;">審核客戶維修發票是否為原廠生產商或其授權維修中心發出</div>
              </div>
              <div class="col-sm-4" style="font-weight: bold;">
                <div style="background-color: #00acee; padding: 10px; color: white; font-size: 14px;">第二步</div>
                <div><svg style="width: 100px; height: 100px; padding: 20px 20px 10px;"><use xlink:href="/yohohk/img/yoho_svg.svg#receipt"></use></svg></div>
                <div style="color: #242424; font-size: 13px; padding: 20px 25px;">核實是否已過產品延長保養期(有效期 = 產品本身原廠保養期 + 購買的延長保養期)</div>
              </div>
              <div class="col-sm-4" style="font-weight: bold;">
                <div style="background-color: #00acee; padding: 10px; color: white; font-size: 14px;">第三步</div>
                <div><svg style="width: 100px; height: 100px; padding: 20px 20px 10px;"><use xlink:href="/yohohk/img/yoho_svg.svg#dollar_cycle"></use></svg></div>
                <div style="color: #242424; font-size: 13px; padding: 20px 25px;">如 維修發票沒問題 及 在有效保養期內，可在後台找到相應訂單，點擊賠付按鈕輸入賠付金額後，現場賠付現金</div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>

<script>

$('body').on('click', '.change_img', function(event){
      $(this).closest('.main_img').find('input[type="file"]').click();
  });

  $('body').on('click', '.delete_img', function(event){
      $('.isUploadImg').val('0');
      $('.cropit-image-preview.cropit-image-loaded').css('background-image', 'none');
      $('.main_img .add_img').show();
      $('.main_img .change_img').hide();
      $('.main_img .delete_img').hide();
      $('.cropit-image-input').val('');
  });

  function claim_ins(e){

    var rec_id = $("#claim_ins_rec_id").val();
    var order_id = $("#claim_ins_order_id").val();
    var duration = $("#claim_ins_duration").val();
    var claim_max = parseInt($("#claim_ins_claim_max").val());

    var claim_amount = parseInt($("#claim_amount").val());

    if (!claim_amount || claim_amount <= 0 || claim_amount > claim_max){
      alert('請輸入正確索賠金額');
      return false;
    } 

    if($("#dialog_claim_ins_form .goods_info .cropit-image-input").val() == ''){
        alert('請選擇發票正本圖像');
        return false;
     }

    //return true;
    //$("#claim_ins_form").submit();

    /*
    var missing = false;
    var ins_id = $.trim($(this).closest(".modal-footer").siblings(".modal-body").find("#insurance_id").val());
    var ins_name = $.trim($(this).closest(".modal-footer").siblings(".modal-body").find("#name").val());
    var ins_name_en = $.trim($(this).closest(".modal-footer").siblings(".modal-body").find("#name_en").val());
    var ins_code = $.trim($(this).closest(".modal-footer").siblings(".modal-body").find("#code").val());
    var ins_no_duration = $('input[name="duration_options[]"]:checked').length;
    var txt_alert = "";
    if (!ins_name){
        missing = true;
        txt_alert = "{$lang.please_fill_insurance_name}";
    } else if (!ins_name_en && ins_id < 0){
        missing = true;
        txt_alert = "{$lang.please_fill_insurance_name}({$lang.en})";
    } else if (!ins_code){
        missing = true;
        txt_alert = "{$lang.please_fill_insurance_code}";
    } else if (ins_no_duration != 1){
        missing = true;
        txt_alert = "{$lang.please_select_insurance_one_duration}";
    }
    if (missing){
        pop_alert(txt_alert);
        return false;
    } else {
        $(this).prop('disabled', true);
        $("#claim_ins_form").submit();
        $(this).prop('value', '{$lang.please_wait}'); 
    }
    */
};

  $(function() {
  if ($('.cropit.goods_info').data("origin")) {
    $('.main_img .add_img').hide();
    $('.main_img .change_img').show();
    $('.main_img .delete_img').show();
  }
})
</script>

<!-- #BeginComment -->
        <!-- Backup with all fields available -->
        <pre style="margin: 0 4px;">
          {$lang.label_goods_amount}<strong>{$order.formated_goods_amount}</strong>
        - 　　　{$lang.label_discount}<strong>{$order.formated_discount}</strong>
        + 　{$lang.label_tax}<strong>{$order.formated_tax}</strong>
        + 　{$lang.label_shipping_fee}<strong>{$order.formated_shipping_fee}</strong>{if $order.shipping_fod} (運費到付){/if}
        + 　{$lang.label_insure_fee}<strong>{$order.formated_insure_fee}</strong>
        {if $order.pay_fee >= 0}+ 　{$lang.label_pay_fee}<strong>{$order.formated_pay_fee}{else}- 　支付折扣：<strong>{$order.formated_pay_discount}{/if}</strong>
        + 　{$lang.label_pack_fee}<strong>{$order.formated_pack_fee}</strong>
        + 　{$lang.label_card_fee}<strong>{$order.formated_card_fee}</strong>
        = {$lang.label_order_amount}<strong>{$order.formated_total_fee}</strong>
        - 　{$lang.label_surplus}<strong>{$order.formated_surplus}</strong>
        - 　{$lang.label_bonus}<strong>{$order.formated_bonus}</strong>
        - 使用優惠券：<strong>{$order.formated_coupon}</strong>{if $order.coupon_list} ({foreach from=$order.coupon_list item=coupon name=foo}<a href="coupon.php?act=info&amp;id={$coupon.coupon_id}" style="text-decoration: none;">{$coupon.coupon_code}</a>{if !$smarty.foreach.foo.last},{/if}{/foreach}){/if}
        - 　{$lang.label_integral}<strong>{$order.formated_integral_money}</strong>
        <font color="#cc0000">- {$lang.label_money_paid}<strong>{$order.formated_money_paid}</strong>
        = {if $order.order_amount >= 0}{$lang.label_money_dues}<strong>{$order.formated_order_amount}</strong>{else}{$lang.label_money_refund}<strong>{$order.formated_money_refund}</strong>{/if}</font>
                </pre>
<!-- #EndComment -->

{insert_scripts files="stock_inqury.js"}