<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style>

.popup_block {
    text-align: center;
    display: inline;
    padding: 4px;
}

.stocktake_dropdown_menu li a {
    font-size: 13px;
    padding: 7px 20px;
    line-height: 1.928571;
}

.order_cross_check_block {
    width:280px;
    height:108px; 
    background-color:white;margin:10px; 
    display: inline-block;
    position: relative;
}

.order_cross_check_block.success {
    border: 1px solid green ;
}

.order_cross_check_block.danger {
    border: 1px solid rgb(217, 83, 79) ;
}

.order_cross_check_block.default {
    border: 1px solid black ;
}

.order_cross_check_info {
    width:170px;
    height:100px; 
    background-color:white; 
    display: inline-block;
    position: absolute;
    padding: 5px;
}

.delivery_info_block {
    left: -50px;
    width: 413px;
    top: 83px;
    position: absolute;
    z-index: 1;
    display: none;
}

.view_cross_check_history {
    cursor: pointer;
}

.cross_check_error_history .success {
    color:green;
}

.cross_check_error_history .error {
    color:red;
}

.cross_check_error_history .menual_input {
    color:green;
}

.cross_check_error_history .new_sn_input {
    color:green;
}

.cross_check_error_history .fix_goods_qty {
    color:green;
}

.cross_check_error_history .remove_wrong_goods {
    color:green;
}

.cross_check_error_history .special_handle {
    color:green;
}

.cross_check_error_history .all_correct {
    color:green;
}

.cross_check_error_history .goods_sn_input {
    color:green;
}

.cross_check_error_history .order_sn_input {
    color:green;
}
</style>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="order_goods_cross_check_report_detail.php?act=list" style="margin:0px" method="get">
        核對:   <select class="form-control" name="passed" id="passed">
                <option value="-1" {if $passed == -1} selected {/if}>全部</option>
                <option value="1" {if $passed == 1} selected {/if} >全部正確</option>
                <option value="0" {if $passed == 0} selected {/if}>不正確</option>
                <option value="" {if $passed == ''} selected {/if}>未核對</option>
                </select>
        攬收:   <select class="form-control" name="status" id="status">
                <option value="-1" {if $status == -1} selected {/if}>全部</option>
                <option value="1" {if $status == 1} selected {/if} >已收件</option>
                <option value="0" {if $status == 0} selected {/if}>待收件</option>
                </select>
        物流公司:<select class="form-control" name="logistics_id" id="logistics_id">
                <option value="-1" {if $logistics_id  == -1} selected {/if}>全部</option>
                {foreach from=$logistic_method item=logistic}
                <option value="{$logistic.logistics_id}" {if $logistics_id == $logistic.logistics_id} selected {/if}>{$logistic.logistics_name}</option>
                {/foreach}
                </select>        
        日期:
        <input name="date" type="text" id="date" size="15" class="form-control" value="{$date}" data-type="date">
        訂單&nbsp;
        <input name="order_sn" type="text" id="order_sn" size="15" value="{$order_sn}" class="form-control">
        
        
        <input class="btn btn-success form-btn" type="submit" id="cross_check_search" name="cross_check_search" value="{$lang.query}" />
      </form>
    </div>
    <div class="list-div" id="listDiv" style="margin-top: 50px;">
    {/if}
    <br>

    {foreach from=$order_result item=order}
    <div class="order_cross_check_block  { if $order.passed == '1'} success  {/if}  { if $order.passed === '0'} danger  {/if} { if $order.passed == ''} default  {/if} "  >
        <div style="width:100px;height:100px; display: inline-block;">
        <img src="../{$order.goods_thumb}" width="100px" />
        </div>
        <div class="order_cross_check_info" style="">
              訂單:<a style="text-decoration:underline;" target="_blank" href="order.php?act=info&order_id={$order.order_id}">{$order.order_sn}</a> <br>
              物流:<a style="text-decoration:underline;" target="_blank" href="order.php?act=delivery_info&delivery_id={$order.delivery_id}">{$order.delivery_id}</a><br>
              核對人:{$order.user_name} <br>
              出現錯誤: { if $order.error == 1}是{else}否{/if} <br>
              { if $order.passed == '1'} <span class="label label-success view_cross_check_history" data-order-sn="{$order.order_sn}" data-delivery-id="{$order.delivery_id}" >全部正確</span> {/if} 
              { if $order.passed === '0'}<span class="label label-danger view_cross_check_history" data-order-sn="{$order.order_sn}" data-delivery-id="{$order.delivery_id}">不正確</span>  {/if}
              { if $order.passed == ''}<span class="label label-default view_cross_check_history" data-order-sn="{$order.order_sn}" data-delivery-id="{$order.delivery_id}">未核對</span>  {/if}
              
              { if $order.status == '5' || $order.status == '3'}<span class="label label-success">已收件</span>{else}<span class="label label-default">待收件</span>{/if}<br>

        </div>
            <div class="delivery_info_block delivery_info_block_{$order.delivery_id}">
                
            </div>
    </div>
    {/foreach}

    {if $full_page}
    </div>
</div>

{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
   // 开始检查订单
   // popupBlock.init();
}

//var $table = yoho_dataTable();

function getCrossCheckDetailByDeliveryId(delivery_id,order_sn) {
    $.ajax({
       url: 'order_goods_cross_check_report_detail.php',
       type: 'post',
       cache: false,
       data: {
       'act': 'get_cross_check_detail_by_delivery_id',
       'delivery_id': delivery_id,
       'order_sn': order_sn
    },
    dataType: 'json',
    success: function(result) {
       console.log('result',result);

       $(".delivery_info_block_"+delivery_id).html( result.content.goods_html);

    },
    error: function(xhr) {
       alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
       console.log(xhr);
    }
    }); 

}

$('.view_cross_check_history').hover(function(){
    var delivery_id = $(this).data('delivery-id');
    var order_sn = $(this).data('order-sn');
    getCrossCheckDetailByDeliveryId(delivery_id,order_sn);
    $('.delivery_info_block_'+delivery_id).show();
});

$( ".view_cross_check_history" ).mouseout(function() {
    var delivery_id = $(this).data('delivery-id');
    $('.delivery_info_block_'+delivery_id).hide();
});

$(".delivery_info_block").mouseover(function(){
    $(this).show();
});

$( ".delivery_info_block" ).mouseout(function() {
     $(this).hide();
});

$(document).on('change','form input:checkbox',function(){
    console.log('11');
});

$(document).on('ifChanged', 'input:checkbox' ,function () {
    var checkCount = $(".bulk_action input[name='table_records']:checked").length;
    if (checkCount > 0) {
        $(".bulk_confirm_action").css('visibility', 'visible');
    } else {
        $(".bulk_confirm_action").css('visibility', 'hidden');
    }
});

$("#cross_check_search").click(function(){

    console.log('ppppppppppppppppp');

    // var $filter = {};
    // $filter.status = $("#status").val();
    // $filter.passed = $("#passed").val();
    // $filter.date = $("#date").val();
    // $filter.order_sn = $("#order_sn").val();
    // $table.search($filter);

});

$("#period").change(function(){
    var $filter = {};
    $filter.period = $(this).val();
    $table.search($filter);
});

//-->
</script>
{/literal}

{/if}