{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
{include file="includes/datatables_header.htm"}

<style type="text/css">
  .partially_shipped_row td {
    background-color: #F6C8CA !important;
  }
  table.table-bordered.dataTable td.table_td_action {
    max-width: 300px;
    min-width: 40px;
  }
  span.all_status {
    font-size: 18px;
  }
  @media (min-width: 700px) {
  span.consignee {
    font-size: 14px;
    float: left;
    text-align: left;
    line-height: 20px;
    font-weight: 300;
  }
  }
  span.consignee i {
    width: 14px;
  }
  td.td_consignee {
    width: 600px;
  }
  td.td_all_status {
      min-width: 115px;
  }
  td.td_order_sn {
      min-width: 135px;
  }
  </style>

<div class=" x_panel">

<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="javascript:searchOrder()" name="searchForm" class="form-inline">
    <input placeholder="{$lang.order_sn}" class="form-control" name="order_sn" type="text" id="order_sn" size="15" value="{$order_sn}">
    <select class="form-control" name="rank_program" id="rank_program" title="rank_program">
      <option value="">- {$lang.order_program} -</option>
      {foreach from=$rank_program_list item=rank_program}
      <option value="{$rank_program.p_id}">{$rank_program.p_name}</option>
      {/foreach}
    </select>
    <select class="form-control" name="pay_status" id="pay_status" title="pay_status">
      <option value="payed">{$lang.payed}</option>
      <option value="paying">{$lang.paying}</option>
      <option value="unpayed">{$lang.unpayed}</option>
      <option value="all">{$lang.cs.-1}</option>
    </select>
    <input type="submit" value="{$lang.button_search}" class="btn btn-success form-btn" />
  </form>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
  <table id="order" class="table table-bordered table-striped  bulk_action ">
    <thead>
      <tr class="headings">
        <th data-sort="0" data-id="ex_goods_thumb" data-type="image" data-key="order_id">{$lang.order_most_exp}</th>
        <th width="110" data-id="order_sn" data-url="order.php?act=info&amp;order_id={order_id}" data-class="td_order_sn">
          {$lang.order_sn}
        </th>
        <th data-id="add_time" data-value="short_order_time" data-order="1">{$lang.order_time}</th>
        <th data-id="program" data-value="program" data-sort="1" data-class="td_program">{$lang.order_program}</th>
        <th data-id="consignee" data-value="consignee_info" data-sort="0" data-class="td_consignee">{$lang.consignee}</th>
        <th data-id="order_total" data-value="formated_order_total">{$lang.total_fee}</th>
        {if $smarty.session.manage_cost}
        {if $wholesale_receivable}<th data-id="money_paid">應付金額</th>{/if}
        <th data-id="cp_price">成本</th>
        {/if}
        <th data-id="salesperson" data-value="salesperson_info">銷售人員</th>
        <th data-id="all_status" data-sort="0" data-class="td_all_status">{$lang.all_status}</th>
        <th class="actionsCol" data-id="action" data-sort="0">{$lang.handler}</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>
</div>

{include file="pagefooter.htm"}

<script type="text/javascript">
  var salesperson_options = {$salesperson_options|json_encode};

  var $filter = [];
  var order_post = '{$order_query|json_encode}';
  if(order_post.length > 0 && order_post != 'null') {
    $filter = $.parseJSON(order_post);
    $('#order').data('dt_params',$filter);
}

  yohoTable.rowCallback = function(row, order, dataIndex) {
    if(order.po_sn_list) {
      div = '<p class="red">代理送貨已出PO<br>'+ order.po_sn_list +'</p>';
      $(row).find('.order_sn').closest('td').append(div);

    }
    if(order.reship_order) {
      $(row).find('.td_all_status').addClass('bg-red');
    }
    if(order.fully_paid == 1) {
      $(row).find('.order_sn').addClass('green');
    } else $(row).find('.order_sn').removeClass('green');
    if(order.user_id > 0) {
      p = $('<a>'+order.buyer+'</a><br>');
      p.attr('href', "users.php?act=list&keywords="+order.buyer);
    } else {
      p = order.buyer+'<br>';
    }
    $(row).find('.order_sn').attr('id', 'order_'+dataIndex);
    $(row).find('.ex_goods_thumb>img').attr('id', 'img_'+dataIndex);
    $(row).find('.order_total').closest('td').append('<br>'+order.pay_name);
    if(order.risky)$(row).find('.order_total').closest('td').append('<br><b class="red">可疑交易</b>');
    $(row).find('.add_time').prepend(p);
    $(row).attr('id', order.order_id);
  }
  yohoTable.drawCallback = function(setting, api) {
    $('#order').DataTable().column(0).visible(true);
    bind_order_event();
  };
  yohoTable.deferLoading = "{$record_count}";
  yohoTable.dataSet = {$order_list|json_encode};
  var $table = yoho_dataTable();
  function sad(e){
    var state = $(e).data('state');
    if(state == 1){
      $(e).prop('indeterminate', true);
      $(e).val(2);
    }else if(state == 2){
      $(e).prop('indeterminate', false);
      $(e).prop('checked', false);
    }else{
      $(e).prop('checked', true);
      $(e).val(1);
    }
    state = (state + 1) % 3
    $(e).data('state', state);
    $(e).val(state);
  };
  {literal}
  $('#btnSubmit7').click(function(){
    var $sn_list = check(1);
    $sn_list = $sn_list.split(',');
    var $sn_total = $sn_list.length;
    var $text = "你確定要將此"+$sn_total+"張訂單出貨? 將會直接扣除可出貨庫存並出貨";
    $("#alert_text").html($text);
    $("#mass_form input[name=order_sn]").val($sn_list);
    $("#mass_form input[name=total]").val($sn_total);
    $('#batchBtn').prop('disabled', true);
  // $("#mass_form").show();
    $('#mass_form').modal('show');
  });
  $('#batchBtn').click(function(){
    this.disabled=true;
    $("#mass_form").submit();
  });
  $('#batchSalesperson').on('change', function() {

    if(this.value == '') $('#batchBtn').prop('disabled', true);
    else $('#batchBtn').prop('disabled', false);
  });

  function check()
  {
    var snArray = new Array();
    var eles = document.forms['listForm'].elements;
    eles['order_id'].value = $table.getSelectValue();
    return eles['order_id'].value;
  }


  var show_goods_layer = 'order_goods_layer';
  var goods_hash_table = new Object;
  var timer = new Object;

  function bind_order_event()
  {
    var order_seq = 0;
    while(true)
    {
      var order_sn = Utils.$('order_'+order_seq);
      var order_img = Utils.$('img_'+order_seq);
      if (order_sn)
      {
        order_sn.onmouseover = function(e)
        {
            try
            {
                window.clearTimeout(timer);
            }
            catch(e)
            {
            }
            var order_id = $(this).closest('tr').attr('id');
            show_order_goods(e, order_id, show_goods_layer);
        }
        order_sn.onmouseout = function(e)
        {
            hide_order_goods(show_goods_layer)
        }
      }
      else
      {
          break;
      }
      if (order_img)
      {
        order_img.onmouseover = function(e)
        {
            try
            {
                window.clearTimeout(timer);
            }
            catch(e)
            {
            }
            var order_id = $(this).closest('tr').attr('id');
            show_order_goods(e, order_id, show_goods_layer);
        }
        order_img.onmouseout = function(e)
        {
            hide_order_goods(show_goods_layer)
        }
      }
      order_seq++;
    }
  }

  function create_goods_layer(id)
  {
      if (!Utils.$(id))
      {
          var n_div = document.createElement('DIV');
          n_div.id = id;
          n_div.className = 'order-goods';
          document.body.appendChild(n_div);
          Utils.$(id).onmouseover = function()
          {
              window.clearTimeout(window.timer);
          }
          Utils.$(id).onmouseout = function()
          {
              hide_order_goods(id);
          }
      }
      else
      {
          Utils.$(id).style.display = '';
      }
  }

  /**
   * 显示订单商品数据
   *
   * @return void
   */
  function show_order_goods(e, order_id, layer_id)
  {
      create_goods_layer(layer_id);
      $layer_id = Utils.$(layer_id);
      $layer_id.style.position = 'absolute';
      $layer_id.style.top = (Utils.y(e) + 12) + 'px';
      $layer_id.style.left = (Utils.x(e) + 12) + 'px';
      if (typeof(goods_hash_table[order_id]) == 'object')
      {
          response_goods_info(goods_hash_table[order_id]);
      }
      else
      {
          $layer_id.innerHTML = loading;
          Ajax.call('order.php?is_ajax=1&act=get_goods_info&order_id='+order_id, '', response_goods_info , 'POST', 'JSON');
      }
  }

  /**
   * 隐藏订单商品
   *
   * @return void
   */
  function hide_order_goods(layer_id)
  {
      $layer_id = Utils.$(layer_id);
      window.timer = window.setTimeout('$layer_id.style.display = "none"', 500);
  }

  /**
   * 处理订单商品的Callback
   *
   * @return void
   */
  function response_goods_info(result)
  {
      if (result.error > 0)
      {
          alert(result.message);
          hide_order_goods(show_goods_layer);
          return;
      }
      if (typeof(goods_hash_table[result.content[0].order_id]) == 'undefined')
      {
          goods_hash_table[result.content[0].order_id] = result;
      }
      Utils.$(show_goods_layer).innerHTML = result.content[0].str;
  }
  
  function completeOrderPayment(order_id)
  {
    try
    {
      Ajax.call('wholesale_payments.php?is_ajax=1&act=complete&order_id=' + order_id, '', completeOrderPaymentResponse, 'GET', 'JSON');
    }
    catch (e) { }
  }
  
  function completeOrderPaymentResponse(result)
  {
    try
    {
      alert(result.message);
      if (!result.error)
      {
        // reload the list
        $table.draw();
      }
    }
    catch (e) { }
  }
  
  function addRemarkPopup(order_id)
  {
    var $_table = this.$table;
    var $inner = $('<div class="table-responsive"></div>');
    
    var $table = $('<table class="table"></table>');
    $inner.append($table);
    
    var $addRow = $('<tr></tr>');
    $table.append($addRow);
    
    // Dropdown box for quick remarks
    var $dropdownHeadingCell = $('<th>新增備註</th>');
    $addRow.append($dropdownHeadingCell);
    var $dropdown = $('<select class="form-control">' +
    '<option value="">請選擇...</option>' +
    '<option>已致電客人跟進付款</option>' +
    '<option>已電郵客人跟進付款</option>' +
    '<option>已向供應商訂貨</option>' +
    '<option value="custom">其他...</option>' +
    '</select>');
    var $remarkCell = $('<td></td>');
    $addRow.append($remarkCell);
    $remarkCell.append($dropdown);
    var $textfield = null;
    $dropdown.change(function () {
      var remark = $(this).val();
      if (!remark) return;
      if (remark == 'custom')
      {
        $textfield = $('<input class="form-control" type="text" style="width: ' + $dropdown.width() + 'px;">');
        $textfield.insertAfter($dropdown);
        $dropdown.hide();
        $textfield.focus();
      }
    });
    
    var $operatorHeadingCell = $('<th>操作員</th>');
    $addRow.append($operatorHeadingCell);
    var $operator = $('<select class="form-control"></select>');
    $.each(salesperson_options, function (i, salesperson) {
      $operator.append($('<option></option>').attr('value', salesperson.value).text(salesperson.name));
    });
    $operator.val(window.localStorage ? window.localStorage.getItem('operator') : '');
    var $operatorCell = $('<td></td>');
    $addRow.append($operatorCell);
    $operatorCell.append($operator);
    $operator.change(function () {
      if (window.localStorage)
      {
        window.localStorage.setItem('operator', $(this).val());
      }
    });
    
    var $addBtn = $('<input type="button" value="儲存備註" class="btn btn-primary">');
    var $addBtnCell = $('<td></td>');
    $addRow.append($addBtnCell);
    $addBtnCell.append($addBtn);
    $addBtn.click(function () {
      var remark = $dropdown.val();
      if (remark == 'custom')
      {
        remark = $textfield.val();
      }
      if (!remark)
      {
        alert('儲存備註前請先填寫備註');
        return;
      }
      var operator = $operator.val();
      if (!operator)
      {
        alert('儲存備註前請先填寫操作員');
        return;
      }
      $addBtn.prop('disabled', true);
      $.ajax({
        url: 'order.php',
        type: 'get',
        cache: false,
        data: {
          'act': 'operate_post',
          'order_id': order_id,
          'operation': 'after_service',
          'action_note': remark,
          'operator': operator,
          'back_to_referer': 1
        },
        dataType: 'text',
        success: function (result) {
          modal.hide($popup);
          $_table.draw(false);
        },
        error: function (xhr) {
          $addBtn.prop('disabled', false);
          alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
          console.log(xhr);
        }
      });
    });
    
    $.ajax({
      url: 'order.php',
      type: 'get',
      cache: false,
      data: {
        'act': 'get_order_actions',
        'order_id': order_id
      },
      dataType: 'json',
      success: function (result) {
        if (result.error)
        {
          alert(result.message);
        }
        else
        {
          var $listDiv = $('<div style="max-height: 300px;" class="table-responsive"></div>');
          var $actionTable = $('<table class="table table-striped text-nowrap"></table>');
          $actionTable.append('<tr><th>操作員：</th><th>操作時間</th><th>訂單狀態</th><th>付款狀態</th><th>出貨狀態</th><th>備註</th></tr>');
          $.each(result.content, function (i, action) {
            $actionTable.append('<tr>'+
              '<td>' + action.action_user + '</td>' +
              '<td>' + action.log_time_formatted + '</td>' +
              '<td>' + action.order_status_formatted + '</td>' +
              '<td>' + action.pay_status_formatted + '</td>' +
              '<td>' + action.shipping_status_formatted + '</td>' +
              '<td style="white-space: pre-wrap;word-break: break-all;">' + action.action_note + '</td>' +
            '</tr>');
          });
          $listDiv.append($actionTable);
          $inner.append($listDiv);
          var height = $inner.height() + 8;
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
    
    $popup = modal.create('訂單備註', $inner);
    modal.show($popup);
  }
  
  function order_goods_thumb_follower()
  {
    var $mouse_follower = null;
    $('.list-div').on('mouseenter', 'img.order_goods_thumb', function(e) {
      var $img = $(this).clone().css({'width': '160px', 'height': '160px'});
      if ($mouse_follower != null)
      {
        $mouse_follower.remove();
      }
      $mouse_follower = $('<div></div>');
      $mouse_follower.css({
        'position': 'absolute',
        'display': 'block',
        'background-color': 'white',
        'border': '1px solid #BBDDE5',
        'left': e.pageX + 10,
        'top': e.pageY + 10
      }).empty().append($img).appendTo('body');
    }).on('mousemove', 'img.order_goods_thumb', function(e) {
        $mouse_follower.css({
          'left': e.pageX + 10,
          'top': e.pageY + 10
        });
    }).on('mouseleave', 'img.order_goods_thumb', function() {
        $mouse_follower.remove();
        $mouse_follower = null;
    });
  }

  function searchOrder()
    {
        var $filter = {};
        $filter['order_sn'] = Utils.trim(document.forms['searchForm'].elements['order_sn'].value);
        var rank_program_id = Utils.trim(document.forms['searchForm'].elements['rank_program'].value);
        if (rank_program_id){
          $filter['rank_program'] = Utils.trim(document.forms['searchForm'].elements['rank_program'].value);
        }
        $filter['pay_status'] = Utils.trim(document.forms['searchForm'].elements['pay_status'].value);
        $filter['page'] = 1;

        $('#order').data('dt_params', $filter);

        $('#order').DataTable().draw();
    }

</script>