{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<style type="text/css">
    .current_page_style
    {
    color:red;
    font-weight:bold;
    }
    
.action_button {
    color: #666 !important;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none !important;
    /* display: block; */
    padding: 4px 5px;
    border: 1px solid #278296;
    border-right: 2px solid #278296;
    border-bottom: 2px solid #278296;
    width: 56px;
    background-color: #ddeef2;
}

.action_button.archive {
    background-color: #bbdde5;
}

.error_message {
    color:red;
}

.success_message {
    color:green;
}

</style>

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>


<div class=" x_panel">
<div class="x_title">
  <h2>匯入訂單速遞已收件</h2>
  <div class="clearfix"></div>
</div>
    <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
        <div class="form-group" style="display:none">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="operator">操作員 :  <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="operator" id="operator">
                {foreach from=$operators item=opt}
                 <option value="{$opt.value}">{$opt.name}</option>
                {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="logistic_id">速遞公司 :  <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="logistic_id" id="logistic_id">
                <option value="0">請選擇...</option>
                {foreach from=$logistics item=logistic}
                <option value="{$logistic.logistics_id}">{$logistic.logistics_name}</option>
                {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="tracking_data">物流追蹤號 : <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea class="form-control col-md-7 col-xs-12" id="tracking_data" name="tracking_data" rows="20" cols="54" placeholder=""></textarea>
            </div>
        </div>   
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input class=" btn btn-success" type="button" id="submit_import_data" name="submit_import_data" value="匯入" placeholder="">
            </div>
        </div>
    </form>
    <div class='success_message message'></div>
    <div class='error_message message'></div>
</div>

<!-- start stock check list -->

<div class="list-div" id="listDiv">
{/if}


{if $full_page}

</div>

<!-- end stock check list -->
<script language="javascript">	
$("#submit_import_data").click(function(){
   // var operator = $("#operator").val();
    var logistic_id = $("#logistic_id").val();
    var tracking_data = $("#tracking_data").val();
    
    // if (operator == '') {
    //     alert('請選擇操作員');
    //     return false;
    // }

    if (logistic_id == '') {
        alert('請選擇速遞公司');
        return false;
    }

    if (tracking_data == '') {
        alert('請輸入物流追蹤號資料');
        return false;
    }

    if (confirm('確定匯入?')) {
        $.ajax({
         url: 'order_express_collected_import.php',
         type: 'post',
         cache: false,
         data: {
           'act': 'post_order_express_collected_import',
          // 'operator': operator,
           'logistic_id': logistic_id,
           'tracking_data': tracking_data
         },
         dataType: 'json',
         success: function (result) {
            console.log('result',result);
            $(".message").hide();
            if (result['error'] == 0){
                var delivery_ids = result.content.delivery_ids
                console.log('delivery_ids',delivery_ids);
                
                // send emails to customers
                console.log('aaaaa',delivery_ids.length);
                if (delivery_ids.length > 0) {
                    $.ajax({
                     url: 'order_express_collected_import.php',
                     type: 'post',
                     cache: false,
                     data: {
                       'act': 'post_order_express_collected_send_email',
                       'delivery_ids': delivery_ids
                     },
                     dataType: 'json',
                     success: function (result) {
                        console.log('result',result);
                        $(".message").hide();
                        if (result['error'] == 0){
                            // send emails to customers
                            $(".success_message").show();
                            $(".success_message").append('<br>成功發送'+ result.content+'項電郵');    
                        } else {
                            $(".error_message").show();
                            $(".error_message").append('發送電郵失敗<br>'+result.message);
                        }
                     },
                     error: function (xhr) {
                       alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
                       console.log(xhr);
                     }
                    });
                }
                

                $(".success_message").show();
                $(".success_message").html('成功匯入'+ result.content.import_count +'項記錄');    
            } else {
                $(".error_message").show();
                $(".error_message").html('匯入失敗<br>'+result.message);
            }
         },
         error: function (xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
         }
        });
    } else {
        return false;
    }
});
</script>

{include file="pagefooter.htm"}
{/if}
