<table class="table jambo_table table-bordered " style="background:white">
<thead>
  <tr>
    <th scope="col"><div align="center"><strong>{$lang.goods_name_brand}</strong></div></th>
    <th scope="col"><div align="center"><strong>{$lang.goods_sn}</strong></div></th>
    <th scope="col"><div align="center"><strong>{$lang.goods_price}</strong></div></th>
    {if $smarty.session.manage_cost}
    <th scope="col"><div align="center"><strong>每件成本</strong></div></th>
    {/if}
    <th scope="col"><div align="center"><strong>{$lang.goods_number}</strong></div></th>
    <!-- #BeginComment -->
    <th scope="col"><div align="center"><strong>{$lang.goods_attr}</strong></div></th>
    <!-- #EndComment -->
    <th scope="col"><div align="center"><strong>{$lang.storage}</strong></div></th>

    <th scope="col"><div align="center"><strong>{$lang.subtotal}</strong></div></th>
  </tr>
</thead>
  {foreach from=$goods_list item=goods}
  <tr>
    {if $goods.goods_id gt 0 && $goods.extension_code neq 'package_buy'}
    <td><img style="width:50px; height:50px;" src="{$goods.goods_thumb}" />{if $goods.is_insurance eq 0}<a style="margin-left:15px;" href="../goods.php?id={$goods.goods_id}" target="_blank">{else}<span style="margin-left:15px;">{/if}{$goods.goods_name} {if $goods.brand_name}[ {$goods.brand_name} ]{/if}
    {if $goods.is_gift}{if $goods.goods_price > 0}{$lang.remark_favourable}{else}{$lang.remark_gift}{/if}{/if}
    {if $goods.parent_id > 0}{$lang.remark_fittings}{/if}{if $goods.is_insurance eq 0}</a>{else}</span>{/if}</td>
    {else}
    <td>{$goods.goods_name}{$lang.remark_package}</td>
    {/if}
    <td>{$goods.goods_sn}</td>
    <td><div align="right">{$goods.formated_goods_price}</div></td>
    {if $smarty.session.manage_cost}
    <td><div align="right">{$goods.formated_cost}</div></td>
    {/if}
    <td><div align="right">{$goods.goods_number}</div></td>
    <!-- #BeginComment -->
    <td>{$goods.goods_attr|nl2br}</td>
    <!-- #EndComment -->
    <td><div align="right">{$goods.storage}</div></td>
    <td><div align="right">{$goods.formated_subtotal}</div></td>
  </tr>
  {/foreach}
</table>
