{if $full_page}

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<style>
    td {
        color: #fff;
        font-weight: 300;
    }
    td a:link, td a:visited{
        color: #fff;
    }
    .danger1 td{
        background: #333;
    }
    .danger2 td{
        background: rgba(231,76,60,.88);
    }
    .danger3 td{
        background: rgba(243,156,18,.88);
    }
    .danger4 td{
        background: rgba(38,185,154,.88);
    }
</style>
{/if}
<div class="list-div x_panel row">
    <table class="table table-striped table-bordered bulk_action">
        <thead>
            <tr>
                <th>編號</th>
                <th>訂單</th>
                <th>交易編號</th>
                <th>支付途徑</th>
                <th>風險程度</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$list item=row}
            <tr class="danger{$row.status}">
                <td style="text-align: center">{$row.ofid}</td>
                <td style="text-align: center"><a href="order.php?act=info&order_id={$row.order_id}">{$row.order_sn}</a></td>
                <td style="text-align: center">{if $row.txn_url}<a target="_blank" href="{$row.txn_url}">{$row.txn}</a>{else}{$row.txn}{/if}</td>
                <td style="text-align: center">{$row.pay_method}</td>
                <td style="text-align: center">{$row.risk_status}</td>
            </tr>
            {foreachelse}
            <tr>
                <td style="text-align: center" colspan="10">{$lang.no_records}</td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>
{include file="pagefooter.htm"}