<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style>

.popup_block {
    text-align: center;
    display: inline;
    padding: 4px;
}

.stocktake_dropdown_menu li a {
    font-size: 13px;
    padding: 7px 20px;
    line-height: 1.928571;
}

.order_column_tr {
    background-color: #2f75b5;
    color:white;
}

.link_text {
    color:white;
}

</style>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="erp_stocktake.php?act=list" style="margin:0px">
        日期:   <select class="form-control" name="period" id="period">
                <option value="30" selected >近30日</option>
                <option value="60" selected >近60日</option>
                <option value="90" >近90日</option>
                </select>
        開始日期:
        <input name="start_date" type="text" id="start_date" size="15" class="form-control" value="" data-type="date">
        結束日期&nbsp;
        <input name="end_date" type="text" id="end_date" size="15" value="" class="form-control" data-type="date">
        <input class="btn btn-success form-btn" type="button" id="cross_check_search" name="cross_check_search" value="{$lang.query}" />
        {insert name=daterange_group submit=cross_check_search}
      </form>
    </div>
    <div class="list-div" id="listDiv" style="margin-top: 50px;">
    {/if}
    <br>
    <table id="order_goods_cross_check" class="table table-striped table-bordered bulk_action">
    <thead>
    <th data-id="shipping_date">出貨日期</th>
    <th data-sort=0 data-id="progress_rate_html">核對進度</th>
    <th data-sort=0 data-id="total_finished_html">核對已完成</th>
    <th data-sort=0 data-id="total_order">核對訂單總數</th>
    <th data-sort=0 data-id="total_unfinished">核對未完成</th>
    <th data-sort=0 data-id="all_orders_total" class="order_column_tr" >全部訂單</th>
    {foreach from=$logistics_method item=logistic}
    <th data-sort=0 data-id="logistic_progress_{$logistic.logistics_id}" class="order_column_tr">{$logistic.logistics_name}</th>
    {/foreach}
    </thead>
    </table>
    {if $full_page}
    </div>
</div>

{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
   // 开始检查订单
    popupBlock.init();
}

yohoTable.drawCallback = function(setting,api) {
    // inital order goods
    $(".correct_block").closest('td').css('background','#bce4d1');
    $(".na_block").closest('td').css('background','#525252');
    
    $(".correct_block_100").closest('td').css('background','#57bb8a');
    $(".correct_block_100").closest('td').css('color','white');
    $(".correct_block_75").closest('td').css('background','#abddc5');
    
    $(".correct_block_50").closest('td').css('background','#e5f5ed');
    
    $(".correct_block_25").closest('td').css('background','#ea4b4b');
    $(".correct_block_25").closest('td').css('color','white');

    $(".correct_block_0").closest('td').css('background','#ff2d2d');
    $(".correct_block_0").closest('td').css('color','white');

   // $('#goods_list_special').html(goods_list_html);
    
};

var $table = yoho_dataTable();

$(document).on('change','form input:checkbox',function(){
    console.log('11');
});

$(document).on('ifChanged', 'input:checkbox' ,function () {
    var checkCount = $(".bulk_action input[name='table_records']:checked").length;
    if (checkCount > 0) {
        $(".bulk_confirm_action").css('visibility', 'visible');
    } else {
        $(".bulk_confirm_action").css('visibility', 'hidden');
    }
});

$("#cross_check_search").click(function(){
    var $filter = {};
    // $filter.status = $("#status").val();
    $filter.start_date = $("#start_date").val();
    $filter.end_date = $("#end_date").val();
    $table.search($filter);
    return;
});

$("#period").change(function(){
    var $filter = {};
    $filter.period = $(this).val();
    $table.search($filter);
});

$(".bulk_confirm_action").click(function(){
    var selected_stocktake_ids = $table.getSelectValue();
    if (selected_stocktake_ids.length == 0){
        alert('請選擇產品');
        return false;
    }

    var change_type = $(this).data('change-type');
    if(confirm("確定執行?")){
        // save
        $.ajax({
           url: 'erp_stocktake.php',
           type: 'post',
           cache: false,
           data: {
           'act': 'post_bulk_stocktake_type_change',
           'selected_stocktake_ids': selected_stocktake_ids,
           'change_type': change_type,
        },
        dataType: 'json',
        success: function(result) {
           if (result.error == 0) {
              var $filter = {};
              $filter.status = $("#status").val();
              $filter.page = 1;
              $table.search($filter);
           } else {
               alert(result.message);
           }
            $(".bulk_confirm_action").css('visibility', 'hidden');
        },
        error: function(xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
        }
        }); 
    }
    else{
        return false;
    }
});

$(document).on('click','.confirm_action',function(){
    var stocktake_id = $(this).data('stocktake-id');
    var change_type = $(this).data('change-type');
    if (change_type == 0) {
        var confirm_word = '確定執行封存?';
    } else {
        var confirm_word = '確定執行刪除?';
    }
    if(confirm(confirm_word)){
        // save
        $.ajax({
           url: 'erp_stocktake.php',
           type: 'post',
           cache: false,
           data: {
           'act': 'post_stocktake_type_change',
           'stocktake_id': stocktake_id,
           'change_type': change_type,
        },
        dataType: 'json',
        success: function(result) {
            if (result.error == 0) {
                $table.draw();
            } else {
                alert(result.message);
            }
        },
        error: function(xhr) {
           alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
           console.log(xhr);
        }
        }); 
    }
    else{
        return false;
    }
});

var popupBlock = {};


popupBlock.init = function (){
  // Setup popup div
    var $popup = $('<div class="popup_block"></div>');
    // var $popup_title = $('<div style="padding: 4px;"></div>');
    // $popup.append($popup_title);
    //var $test = $('<div>aaa</div>')
   // $popup.append($test);
    
    var $popup_select_by_search_block = $('<div class="popup_block"></div>');
    $popup.append($popup_select_by_search_block);

    var $popup_select_by_search_btn = $('<input class="btn btn-success" id="popup_select_by_search" type="button" name="popup_select_by_search" value="產品搜尋" onclick="return false;" />');
    $popup_select_by_search_block.append($popup_select_by_search_btn);

    //var $popup_select_by_search = $('<div class="popup_block"> </div> | <div class="popup_block"> <input id="popup_import_by_data"  type="button" class="btn btn-success" name="popup_import_by_data" size="15"  value="直接數據匯入" onclick="return false;" /> </div>');
    //$popup.append($popup_select_by_search);

    //var $inner = $('<div style="padding: 4px;"></div>');
    //$popup.append($inner);

    // Display the popup and backdrop with fade in animation
    // $popup.appendTo('body').fadeIn('fast');
    // $backdrop.appendTo('body').fadeIn('fast');
    //$popup.appendTo('body');
    //$backdrop.appendTo('body');

    $("#popup_select_by_search").click(function(){
       console.log('popup_select_by_search');
       var url="erp_stocktake_create.php?act=list";
       window.location=url;
    });

    $("#popup_import_by_data").click(function(){
       console.log('popup_import_by_data');
       var url="erp_stocktake_create_by_import.php?act=list";
       window.location=url;
    });

    // $("#create_stocktake").click(function(){
    //     $popup2 = modal.create('請選擇盤點方式', $popup);
    //     modal.show($popup2);
    // });
};

//-->
</script>
{/literal}

{/if}