<link href="css/order_goods_cross_check.css" rel="stylesheet" type="text/css">
<div class=" x_panel">
<audio id="audio_alert">
  <source src="sound/beep.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<div class="col-md-12 col-sm-12 col-xs-12 cross-check-message-container">
</div>
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="erp_stocktake.php?act=list" style="margin:0px">
            <input name="order_sn" id="order_sn" type="text" size="18" {if $order_id}value="{$order_id}"{/if} hidden/>
            <div class="form-group">
                <label class="control-label" for="goods_sn">產品核對請掃描 Barcode : </label>
                <input class="form-control" name="goods_sn" type="text" id="goods_sn" size="18" value='' />
            </div>
            <div class="form-group">
                <input class="btn btn-success form-btn" type="button" id="goods_input_manual" name="goods_input_manual" value="手動輸入" data-toggle="modal" />
                <input class="btn btn-warm form-btn" type="button" id="reset_input" name="reset_input" value="重置" />
                <div id="search_error_text" class="red" style="display:none"></div>
            </div>
      </form>
    </div>
 </div>
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="order_goods_sn.php?act=list" style="margin:0px">
      </form>
    </div>
    <div class="x_title">
        <h2>訂單產品資料<span id="order_sn_title"></span>
            <span id="order_all_pass" class="green"></span>      
        </h2>
        <div class="clearfix"></div>
        <span id="order_wrong_goods" class="red"> 
            <input class="btn btn-danger form-btn" type="button" style="display:none" id="remove_wrong_goods_confirm" name="remove_wrong_goods_confirm" value="確定已移除不屬於訂單的產品">
        </span>
        <span id="order_wrong_goods" class="red" style="display: inline-block;">
            <input class="btn btn-warning form-btn" data-toggle="modal" type="button" style="display:none" id="special_handle" name="special_handle" value="特別處理">
        </span>
        <div class="clearfix"></div>
    </div>
    <div class="list-div" id="listDiv">
    <table id="goods_sn_table" class="table table-striped table-bordered ">
    <thead>
    <th data-sort=0 data-id="goods_sn">產品貨號</th>
    <th data-sort=0 data-id="send_number">出貨數量</th>
    <th data-sort=0 data-id="stocktake_number_html">點數量</th>
    </thead>
    </table>

    </div>
</div>
記錄:<br>
<span class="cross_check_error_history red"></span>

<div class="modal fade" role="dialog" id="popup_goods_qty_manual_modal">
    <div class="modal-dialog modal-s">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">手動輸入</h4>
        </div>
        <div class="modal-body">
            <form id="form-goods-qty-manual" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">貨號 : <span class="required">*</span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <input class="form-control" name="goods_sn_manual" type="text" id="goods_sn_manual" size="15" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">數量 : <span class="required">*</span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <input class="form-control" name="goods_qty_manual" type="text" id="goods_qty_manual" size="15" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input class=" btn btn-success" type="button" id="submit_goods_qty_manual" name="submit_goods_qty_manual" value="確定" placeholder="">   
                    </div>
                </div>
            </form>
            <div id="bad_goods_repair_notice_message" class="form-div" style="display:none">
                <div id="bad_goods_repair_success_message"></div>
                <div id="bad_goods_repair_error_message" class="red"></div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="popup_cross_check_special_handle_modal">
    <div class="modal-dialog modal-s">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">特別處理</h4>
        </div>
        <div class="modal-body">
            <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">選擇"<span id="goods_sn_special"></span>"該對應產品 : <span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12" id="goods_list_special">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">數量 : <span class="required">*</span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <input class="form-control" name="goods_qty_special" type="text" id="goods_qty_special" size="15" value="1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input class=" btn btn-success" type="button" id="submit_special_handle" name="submit_special_handle" value="確定" placeholder="">
                        {if $role_id != 14 and $role_id != 13 }
                        <input class="form-control" name="auth_code_special" type="password" id="auth_code_special" placeholder="輸入授權碼" value="" style="width: 100px; display: inline-block;">
                        {/if}
                    </div>
                </div>
            </form>
            <div id="bad_goods_repair_notice_message" class="form-div" style="display:none">
                <div id="bad_goods_repair_success_message"></div>
                <div id="bad_goods_repair_error_message" class="red"></div>
            </div>
        </div>
    </div>
    </div>
</div>
{insert_scripts files="../x/js/order_goods_cross_check.js"}
<script defer>
  var operator = "{$operator}";
  var role_id = "{$role_id}";
</script>
