<!-- $Id: order_query.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php"></script>
<div class=" x_panel">
<form action="order.php?act=list" method="post" enctype="multipart/form-data" name="searchForm" class="form-inline">
  <table class="table table-striped table-bordered">
    <tr>
      <td><div align="right"><strong>{$lang.label_order_sn}</strong></div></td>
      <td colspan="3"><input name="order_sn" type="text" class="form-control"  id="order_sn" size="30"></td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_email}</strong></div></td>
      <td colspan="3"><input name="email" type="text" class="form-control"  id="email" size="40"></td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_user_name}</strong></div></td>
      <td><input name="user_name" type="text" class="form-control"  id="user_name" size="20"></td>
      <td><div align="right"><strong>{$lang.label_consignee}</strong></div></td>
      <td><input name="consignee" type="text" class="form-control"  id="consignee" size="20"></td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_address}</strong></div></td>
      <td><input name="address" type="text" class="form-control"  id="address" size="20"></td>
      <td><div align="right"><strong>{$lang.label_zipcode}</strong></div></td>
      <td><input name="zipcode" type="text" class="form-control"  id="zipcode" size="20"></td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_tel}</strong></div></td>
      <td><input name="tel" type="text" class="form-control"  id="tel" size="20"></td>
      <td><div align="right"><strong>{$lang.label_mobile}</strong></div></td>
      <td><input name="mobile" type="text" class="form-control"  id="mobile" size="20"></td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_area}</strong></div></td>
      <td colspan="3"><select class="form-control"  name="country" id="selCountries" onchange="region.changed(this, 1, 'selProvinces')">
          <option value="0">{$lang.select_please}</option>
          {foreach from=$country_list item=country}
          <option value="{$country.region_id}">{$country.region_name}</option>
          {/foreach}
      </select>
        <select class="form-control"  name="province" id="selProvinces" onchange="region.changed(this, 2, 'selCities')">
          <option value="0">{$lang.select_please}</option>
        </select>
        <select class="form-control"  name="city" id="selCities" onchange="region.changed(this, 3, 'selDistricts')">
          <option value="0">{$lang.select_please}</option>
        </select>
        <select class="form-control"  name="district" id="selDistricts">
          <option value="0">{$lang.select_please}</option>
        </select></td>
      </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_shipping}</strong></div></td>
      <td><select class="form-control"  name="shipping_id" id="select4">
        <option value="0">{$lang.select_please}</option>
        {foreach from=$shipping_list item=shipping}
        <option value="{$shipping.shipping_id}">{$shipping.shipping_name}</option>
        {/foreach}
            </select></td>
      <td><div align="right"><strong>{$lang.label_payment}</strong></div></td>
      <td><select class="form-control"  name="pay_id" id="select5">
        <option value="0">{$lang.select_please}</option>
        {foreach from=$pay_list item=pay}
        <option value="{$pay.pay_id}">{$pay.pay_name}</option>
        {/foreach}
            </select>
        <input name="total_fee" type="text" class="form-control"  id="total_fee" size="20" placeholder="支付金額">
      </td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_time}</strong></div></td>
      <td>
      <input type="text" class="form-control"  name="start_time" maxlength="60" size="20"  id="start_time_id" data-type="datetime" />
      ~
      <input type="text" class="form-control"  name="end_time" maxlength="60" size="20" data-type="datetime" id="end_time_id" />
      </td>
	<td><div align="right"><strong>代理銷售</strong></div></td>
    <td><select class="form-control" name="salesagent" id="salesagentsel">
      <option value="0" selected="selected">{$lang.select_please}</option>
	 <option value="-1" >不顯示代理銷售訂單</option>
	 <option value="-2" >只顯示代理銷售訂單</option>
      {foreach from=$salesagents item=salesagent key=sa_id}
	 <option value="{$sa_id}">{$salesagent}</option>
	 {/foreach}
    </select></td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_order_status}</strong></div></td>
      <td colspan="3">
        <select class="form-control" name="order_status" id="select9">
          <option value="-1">{$lang.select_please}</option>
          {html_options options=$os_list selected=-1}
        </select>
        <strong>{$lang.label_pay_status}</strong>        <select class="form-control" name="pay_status" id="select11">
          <option value="-1">{$lang.select_please}</option>
          {html_options options=$ps_list selected=-1}
        </select>
        <strong>{$lang.label_shipping_status}</strong>        <select class="form-control" name="shipping_status" id="select10">
          <option value="-1">{$lang.select_please}</option>
          {html_options options=$ss_list selected=-1}
        </select></td>
    </tr>
    <tr>
      <td><div align="right"><strong>FLS :</strong></div></td>
      <td colspan="3">
        <input class="flat" type="checkbox" name="is_fls" id="is_fls" value="1" /> <label for="is_fls"> 已出貨單</label>
      </td>
    </tr>
    <tr>
      <td><div align="right"><strong>POS使用折扣訂單:</strong></div></td>
      <td colspan="3">
        <input class="flat" type="checkbox" name="have_discount" id="have_discount" value="1" /> <label for="is_discount"> 使用折扣訂單</label>
      </td>
    </tr>
    <tr>
      <td colspan="4"><div align="center">
        <input name="query" type="submit" class="btn btn-primary" id="query" value="{$lang.button_search}" />
        <input name="reset" type="reset" class="btn btn-primary" value='{$lang.button_reset}' />
      </div></td>
      </tr>
  </table>
</form>
</div>
{insert_scripts files="../js/transport_jquery.js,../js/region.js"}
{literal}
<script language="JavaScript">
region.isAdmin = true;
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
</script>
{/literal}
{include file="pagefooter.htm"}
