<!-- $Id: order_templates.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
<form action="order.php" method="post">
<div class=" x_panel">
    <table width="100%">
     <tr><td><textarea name="file_content" id="tinymce" class="tinymce">{$file_content|escape}</textarea></td></tr>
    </table>
    <div class="button-div ">
    <input type="hidden" name="act" value="{$act}" />
    <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
  </div>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
{/literal}
//-->
</script>

{include file="pagefooter.htm"}