<!-- $Id: pack_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class=" x_panel">
<form method="post" action="pack.php" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">{$lang.pack_name}</td>
    <td><input type="text" name="pack_name" maxlength="60" size = "30" value="{$pack.pack_name|escape}" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label"><a href="javascript:showNotice('notice_packfee');" title="{$lang.form_notice}">
        <img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.pack_fee}</td>
    <td><input type="text" name="pack_fee" maxlength="60" size="30" value="{$pack.pack_fee}" />{$lang.require_field}
    <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice_packfee">{$lang.notice_packfee}</span>
    </td>
  </tr>
  <tr>
    <td class="label"><a href="javascript:showNotice('notice_freemoney');" title="{$lang.form_notice}">
        <img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.free_money}</td>
    <td><input type="text" name="free_money" maxlength="60" size="30" value="{$pack.free_money}" />{$lang.require_field}
    <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice_freemoney">{$lang.notice_freemoney}</span>
    </td>
  </tr>
  <tr>
    <td class="label">{if $pack.pack_img neq ""}<a href="javascript:showNotice('warn_packimg');" title="{$lang.form_notice}">
        <img src="images/warning_small.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{/if}{$lang.pack_img}</td>
    <td><input type="file" name="pack_img"  size="45">{if $pack.pack_img neq ""}<input type="button" value="{$lang.drop_pack_img}" onclick="if (confirm('{$lang.confirm_pack_img}'))location.href='pack.php?act=drop_pack_img&id={$pack.pack_id}'">{/if}
    <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="warn_packimg">{$lang.warn_packimg}</span>
    </td>
  </tr>
  <tr>
    <td class="label">{$lang.pack_desc}</td>
    <td><textarea  name="pack_desc" cols="60" rows="4">{$pack.pack_desc|escape}</textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" class="btn btn-primary" value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary" value="{$lang.button_reset}" />
        <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="id" value="{$pack.pack_id}" />
        <input type="hidden" name="old_packname" value="{$pack.pack_name}" />
        <input type="hidden" name="old_packimg" value="{$pack.pack_img}">
    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['pack_name'].focus();
/**
 * 检查表单输入的数据
 */
function validate()
{
  validator = new Validator("theForm");
  validator.required("pack_name",  no_packname);
  validator.isNumber("pack_fee",   packfee_un_num, 1);
  validator.isNumber("free_money", packmoney_un_num, 1);
  return validator.passed();
}

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}