{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,validator.js,selectzone.js,../js/transport_jquery.js,i18n.js"}

<div class=" x_panel">
<form class="form-horizontal form-label-left" method="post" action="package.php" name="theForm" enctype="multipart/form-data" onSubmit="return validate()" class="">
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.package_name}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <input class="form-control" name="package_name" type="text" id="package_name" value="{$package.package_name}" size="40" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.package_tag}</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input class="form-control" name="package_tag" type="text" id="package_tag" value="{$package.package_tag}" size="40" />
      <span class="form-helper">
        <div class="promotion-tag">
          <div class="tag-box" style="background-color: #00acee;">組合：買3件減1000元</div>
        </div>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.start_time} </label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <div class="controls">
        <div class="input-prepend input-group">
          <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
          <input data-type='date' class="form-control" name="start_time" type="text" id="start_time" value="{$package.start_time}"/>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.end_time}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <div class="controls">
        <div class="input-prepend input-group">
          <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
          <input data-type='date' class="form-control" name="end_time" type="text" id="end_time" value="{$package.end_time}"/>
        </div>
      </div>
    </div>
  </div>
  <!--div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.package_price}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <div class="controls">
        <div class="input-prepend input-group">
          <input class="form-control" name="package_price" type="text" id="package_price" value="{$package.package_price}" size="40" />
          <span class="form-helper">{$lang.notice_package_price}</span>
        </div>
      </div>
    </div>
  </div-->
  <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.desc}</label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        <div class="controls">
          <div class="input-prepend input-group">
            <textarea name="desc" cols="60" rows="4">{$package.act_desc}</textarea>
          </div>
        </div>
      </div>
    </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.search_goods}</label>
    <div class="col-md-2 col-sm-9 col-xs-12">
      <select class="form-control" id="cat_id" name="cat_id">
        <option value="0">{$lang.all_category}</option>
        {$cat_list}
      </select>
    </div>
    <div class="col-md-2 col-sm-9 col-xs-12">
      <select class="form-control" id="brand_id" name="brand_id">
        <option value="0">{$lang.all_brand}</option>
        {html_options options=$brand_list}
      </select>
    </div>
    <div class="col-md-1 col-sm-9 col-xs-12">
      <input class="form-control" name="keyword" type="text" id="keyword" size="40" />
    </div>
    <div class="col-md-1 col-sm-9 col-xs-12">
      <input type="button" value="{$lang.button_search}" onclick="javascript:searchGoods();" class="btn btn-primary" />
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.all_goods}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <div class="form-inline">
        <select name="source_select" size="15" style="width:100%" onchange="this.form.elements['number'].value = 1" ondblclick="sz.addItem(false, 'add_package_goods', this.form.elements['id'].value, this.form.elements['number'].value)">
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
      <div class="col-md-6 col-sm-9 col-xs-12">
        <div class="form-inline" style="text-align: center">
          <p>
          {$lang.goods_number} : <input name="number" type="text" size="6" value="1" /> &nbsp;&nbsp;
          價格 : <input name="price" type="text" size="6" value="1" /> &nbsp;&nbsp;
          禮包價格 : <input id="total_price" type="text" size="6" value="{$package.total_price}" disabled /> &nbsp;&nbsp;
          <input type="button" value="加入";" onclick="sz.addItem(false, 'add_package_goods', this.form.elements['id'].value, this.form.elements['number'].value, this.form.elements['price'].value)" class="btn btn-primary" /> &nbsp;&nbsp;
          <input type="button" value="刪除" onclick="sz.dropItem(false, 'drop_package_goods', this.form.elements['id'].value)" class="btn btn-primary" /> &nbsp;&nbsp;
          <input type="button" value="清空套裝裝品" onclick="sz.dropItem(true, 'drop_package_goods', this.form.elements['id'].value)" class="btn btn-primary" /></p>
        </div>
      </div>
    </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.package_goods}</label>
    <div class="col-md-6 col-sm-9 col-xs-12">
      <div class="form-inline">
          <select name="target_select" size="15" style="width:100%" multiple ondblclick="sz.dropItem(false, 'drop_package_goods', this.form.elements['id'].value)">
            {foreach from=$package_goods_list item=package_goods}
            <option value="{$package_goods.g_p}" {if $package_goods.highlight}style="background: red;"{/if}>{$package_goods.goods_name}</option>
            {/foreach}
          </select>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="ln_solid"></div>
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <input type="submit" class="btn btn-primary" value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="id" value="{$package.id}" />
    </div>
  </div>
</form>
</div>

<script language="JavaScript">
    var localizableFields = {$localizable_fields|json_encode};
    var localizedVersions = {$localized_versions|json_encode};
    var localizableFieldsMapping = {'act_name': 'package_name', 'act_tag': 'package_tag', 'act_desc': 'desc'};
    <!--
    {literal}
    document.forms['theForm'].elements['package_name'].focus();
    var elements = document.forms['theForm'].elements;
    var sz = new SelectZone(2, elements['source_select'], elements['target_select'], elements['number']);
    onload = function()
    {
        // 开始检查订单
        startCheckOrder();
    }
    
    /**
     * 检查表单输入的数据
     */
    function validate()
    {
        validator = new Validator("theForm");
        validator.required("package_name",  no_name);
        //validator.isNullOption("goods_id", no_goods_id);
        validator.isTime("start_time", invalid_starttime, true);
        validator.isTime("end_time", invalid_endtime, true);
        validator.gt("end_time", "start_time", invalid_gt);
        validator.isNumber("package_price", invalid_package_price, true);
    
        if (document.forms['theForm'].elements['act'] == "insert")
        {
            validator.required("password", no_password);
        }
    
        return validator.passed();
    }
    
    function searchGoods()
    {
        var filter = new Object;
        filter.keyword    = document.forms['theForm'].elements['keyword'].value;
        filter.cat_id     = document.forms['theForm'].elements['cat_id'].value;
        filter.brand_id   = document.forms['theForm'].elements['brand_id'].value;
    
        Ajax.call('package.php?is_ajax=1&act=search_goods', filter, searchGoodsResponse, 'GET', 'JSON')
    }
    
    function searchGoodsResponse(result)
    {
      var frm = document.forms['theForm'];
      var sel = frm.elements['source_select'];
    
      if (result.error == 0)
      {
        /* 清除 options */
        sel.length = 0;
    
        /* 创建 options */
        var goods = result.content;
        if (goods)
        {
            for (i = 0; i < goods.length; i++)
            {
                /* 货品 options */
                if (goods[i].products.length > 0)
                {
                  for (var j = 0; goods[i].products[j]; j++)
                  {
                    var opt = document.createElement("OPTION");
                    opt.value = goods[i].value + '_' + goods[i].products[j].product_id;
                    opt.text  = goods[i].text + '[' + goods[i].products[j].goods_attr_str + ']';
                    sel.options.add(opt);
                  }
                }
                else
                {
                  var opt = document.createElement("OPTION");
                  opt.value = goods[i].value;
                  opt.text  = goods[i].text+" (原價: "+goods[i].data+")";
                  sel.options.add(opt);
                }
            }
        }
        else
        {
            var opt = document.createElement("OPTION");
            opt.value = 0;
            opt.text  = search_is_null;
            sel.options.add(opt);
        }
      }
    
      if (result.message.length > 0)
      {
        alert(result.message);
      }
    }
    
    /* 关联商品函数 */
    //function searchGoods_list(szObject, catId, brandId, keyword)
    //{
    //  var filters = new Object;
    //
    //  filters.cat_id = elements[catId].value;
    //  filters.brand_id = elements[brandId].value;
    //  filters.keyword = Utils.trim(elements[keyword].value);
    //
    //  szObject.loadOptions('get_goods_list', filters);
    //}
    //-->
    {/literal}
    </script>
{include file="pagefooter.htm"}
