
<!-- /page content -->
        <div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- FastClick -->
	<script src="js/fastclick.js"></script>
	<!-- NProgress -->
	<script src="js/nprogress.js"></script>
	<!-- jQuery custom content scroller -->
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<!-- PNotify -->
	<script src="js/pnotify.js"></script>
	<script src="js/pnotify.buttons.js"></script>
	<script src="js/pnotify.nonblock.js"></script>
  <!-- iCheck -->
  <script src="js/icheck.min.js"></script>
  <!-- Custom Theme Scripts -->
  <script src="js/gentelella.js?d=201805171"></script>
  <script>
    {if $topmsg}
      var $msg = '<a href="{$topmsg.url}">{$topmsg.text}</a>';
      init_PNotify($msg);
    {/if}
  </script>
  <!-- footer content -->
  <footer id="footer">
    <div class="pull-right">
      {$query_info}{$memory_info}
      <!--span><br /> {$online_user}</span-->
      <br /> &copy; {$smarty.getdate.year} 友和 YOHO, 保留所有權利
    </div>
    <div class="clearfix"></div>
  </footer>
  <!-- /footer content -->