<!-- $Id: payment_list.htm 15541 2009-01-08 10:29:01Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js,i18n.js"}
<div class=" x_panel">
<!-- start payment list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<table class="table table-striped table-bordered bulk_action" id="#">
  <thead><tr>
    <th>{$lang.payment_name}</th>
    <th>{$lang.payment_display_name}</th>
    <th width="40%">{$lang.payment_desc}</th>
    <th>{$lang.is_pos}</th>
    <th>{$lang.payment_platform}</th>
    <th>{$lang.is_online_pay}</th>
    <th>{$lang.version}</th>
    <th>{$lang.payment_author}</th>
    <th>{$lang.short_pay_fee}</th>
    <th>{$lang.sort_order}</th>
    <th width="100">{$lang.handler}</th>
  </tr>
  </thead>
  {foreach from=$modules item=module}
  {if $module.code neq "tenpayc2c"}
  <tr>
    <td class="first-cell" valign="top">
      {if $module.install == 1}
        <span onclick="listTable.edit(this, 'edit_name', '{$module.code}'); return false;">{$module.name}</span>
      {else}
        {$module.name}
      {/if}
    </td>
    <td valign="top">
      {if $module.install == 1}
        <span onclick="listTable.edit(this, 'edit_display_name', '{$module.code}'); return false;">{$module.display_name}</span>
      {else}
        {$module.display_name}
      {/if}
    </td>
    <td>{$module.desc|nl2br}</td>
    <td>{if $module.install == 1}<img src="images/{if $module.is_pos}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_is_pos', '{$module.code}')" />{/if}</td>
    <td>
      {if $module.is_online}
      <!-- img src="images/yes.gif"/ -->
      {foreach from=$module.platform item=platform}
        <div>{$platform}</div>
      {/foreach}
      {if $module.install == 0}
      ---
      {/if}
      {else}
      <img src="images/no.gif"/>
      {/if}
    </td>
    <td>{if $module.install == 1}<img src="images/{if $module.is_online_pay}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_is_online_pay', '{$module.code}')" />{/if}</td>
    <td valign="top">{$module.version}</td>
    <td valign="top"><a href="{$module.website}">{$module.author}</a></td>
    <td valign="top" align="right">
      {if $module.is_cod}{$lang.decide_by_ship}
      {else}
        {if $module.install == 1}
          <span onclick="listTable.edit(this, 'edit_pay_fee', '{$module.code}'); return false;">{$module.pay_fee}</span>
        {else}
          {$module.pay_fee}
        {/if}
      {/if}
    </td>
    <td align="right" valign="top"> {if $module.install == 1} <span onclick="listTable.edit(this, 'edit_order', '{$module.code}'); return false;">{$module.pay_order}</span> {else} &nbsp; {/if} </td>
    <td valign="top">
      {if $module.install == "1"}
      {if $module.code eq "tenpay"}
        <a href="javascript:confirm_redirect(lang_removeconfirm, 'payment.php?act=uninstall&code={$module.code}')">{$lang.uninstall}{$lang.tenpay}</a>
        <a href="payment.php?act=edit&code={$module.code}">{$lang.edit}</a><br />
          {if $tenpayc2c.install eq "1"}<a href="javascript:confirm_redirect(lang_removeconfirm, 'payment.php?act=uninstall&code=tenpayc2c')">{$lang.uninstall}{$lang.tenpayc2c}</a>
          <a href="payment.php?act=edit&code=tenpayc2c">{$lang.edit}</a>
          {else}
          <a href="payment.php?act=install&code=tenpayc2c">{$lang.install}{$lang.tenpayc2c}</a>
          {/if}
        {else}
          <a href="javascript:confirm_redirect(lang_removeconfirm, 'payment.php?act=uninstall&code={$module.code}')">{$lang.uninstall}</a>
          <a href="payment.php?act=edit&code={$module.code}">{$lang.edit}</a>
        {/if}

      {else}
          {if $module.code eq "tenpay"}
          <a href="payment.php?act=install&code={$module.code}">{$lang.install}{$lang.tenpay} </a><br />
               {if $tenpayc2c.install eq "1"}
            <a href="javascript:confirm_redirect(lang_removeconfirm, 'payment.php?act=uninstall&code=tenpayc2c')">{$lang.uninstall}{$lang.tenpayc2c}</a>
        <a href="payment.php?act=edit&code=tenpayc2c">{$lang.edit}</a>

              {else}
              <a href="payment.php?act=install&code=tenpayc2c">{$lang.install}{$lang.tenpayc2c}</a>
              {/if}

           {else}
           <a href="payment.php?act=install&code={$module.code}">{$lang.install}</a>
           {/if}

      {/if}
    </td>
  </tr>{/if}
  {/foreach}
</table>
{if $full_page}
</div>
</div>
<!-- end payment list -->
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}
{/if}
