<!-- $Id: payment_edit.htm 14401 2008-04-15 02:41:32Z zhuwenyuan $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,validator.js,i18n.js"}
<form action="payment.php?act=submit_payment" method="post"  enctype="multipart/form-data" class="form-inline" >
<div class=" x_panel">
<table class="table table-striped table-bordered"id="extrainfo-table">
  <tr>
    <td>{$lang.payment_name}</td>
    <td><input name="pay_name" type="text" class="form-control" value="{$pay.pay_name|escape}" size="40" /></td>
  </tr>
  <tr>
    <td>{$lang.payment_display_name}</td>
    <td><input name="display_name" type="text" class="form-control" value="{$pay.display_name|escape}" size="40" /></td>
  </tr>
  <tr>
    <td>{$lang.payment_desc}</td>
    <td><textarea class="form-control" name="pay_desc" cols="60" rows="8">{$pay.pay_desc|escape}</textarea></td>
  </tr>
  <tr>
    <td>支付LOGO</td>
    <td>
      <input class="form-control" type="file" name="payment_logo" size="35" />
      <br />
      請上傳svg 檔
      <br />
      {if $pay.payment_logo}
      <img src="{$pay.payment_logo}" border="0" style=" padding-top: 5px;" width="50" height="50"/>
      {/if}
    </td>
  </tr>
  <!-- Payment Rules -->
  <tr>
    <td>支付方式規則</td>
    <!-- If have payment rules -->
    {foreach from=$pay.rules item=rule}
    <td>
      <a href="javascript:;" onclick="removeExtraInfoRule(this, {$rule.pay_rule_id})" style="float:left;width:3%;">[-]</a>
      <div style="float:left;padding-right:5px;">
        規則
      </div>
      <div style="float: left;width: 100%;">
        <select  class="form-control"name="parent_type[]" style="" onchange="ruletypechange(this)">
          <option value="0" {if $type.type eq $rule.rule_type }selected="selected"{/if}>{$lang.select_please}</option>
          {foreach from=$rule_types item=type}
          <option value="{$type.type}" {if $type.type eq $rule.rule_type }selected="selected"{/if}>{$type.name}</option>
          {/foreach}
        </select>
        <select name="parent_equiv[]" class="form-control rule_equivalent_select">
          {foreach from=$rule_equivalent item=equiv}
            <option value="{$equiv.equiv}" {if $equiv.equiv == $rule.rule_equivalent} selected="selected"{/if} {if $rule.rule_type == 'country' AND $equiv.equiv !='eq' AND $equiv.equiv !='neq'}style="display:none;"{/if}>{$equiv.name}</option>
          {/foreach}
        </select>
        <div style="display: initial;" class="rule_value">
          {if $rule.rule_type == 'country'}
          <select name="parent_value[]" class="form-control rule_value_input" style="width: 150px;" >
            {foreach from=$available_countries item=country}
              <option value="{$country.id}" {if $country.id == $rule.rule_value} selected="selected"{/if}>{$country.name}</option>
            {/foreach}
          </select>
          {else}
          <input name="parent_value[]" style="width: 150px;" value="{$rule.rule_value}" class="rule_value_input form-control">
          {/if}
        </div>
        <input name="parent_id[]" type="hidden" value={$rule.pay_rule_id}>
      </div>
      {foreach from=$rule.child item=child key=key}
      <div style="float: left;width: 100%;">
        <select   class="form-control"name="child_{$key}_type[]" style="" onchange="ruletypechange(this)">
          <option value="0" {if $type.type eq $child.rule_type }selected="selected"{/if}>{$lang.select_please}</option>
          {foreach from=$rule_types item=type}
          <option value="{$type.type}" {if $type.type eq $child.rule_type }selected="selected"{/if}>{$type.name}</option>
          {/foreach}
        </select>
        <select name="child_{$key}_equiv[]" class="rule_equivalent_select form-control">
          {foreach from=$rule_equivalent item=equiv}
            <option value="{$equiv.equiv}" {if $equiv.equiv == $child.rule_equivalent} selected="selected"{/if} {if $child.rule_type == 'country' AND $equiv.equiv !='eq' AND $equiv.equiv !='neq'}style="display:none;"{/if}>{$equiv.name}</option>
          {/foreach}
        </select>
        <div style="display: initial;" class="rule_value">
          {if $child.rule_type == 'country'}
          <select name="child_{$key}_value[]" class="rule_value_input form-control" style="width: 150px;" >
            {foreach from=$available_countries item=country}
              <option value="{$country.id}" {if $country.id == $child.rule_value} selected="selected"{/if}>{$country.name}</option>
            {/foreach}
          </select>
          {else}
          <input name="child_{$key}_value[]" style="width: 150px;" value="{$child.rule_value}" class="form-control rule_value_input">
          {/if}
        </div>
        <input name="child_{$key}_rule_id[]" type="hidden" value={$child.pay_rule_id}>
      </div>
      {/foreach}
    </td>
  </tr>
  <tr><td></td>
    {/foreach}
    <td>
      <a href="javascript:;" onclick="addExtraInfoRule(this)"  style="float:left;width:3%;">[+]</a>
      <div style="float:left;padding-right:5px;">
        規則
      </div>
      <div style="float: left;width: 100%;">
        <select   class="form-control"name="parent_type[]" style=""onchange="ruletypechange(this)">
          <option value="0">{$lang.select_please}</option>
          {foreach from=$rule_types item=type}
          <option value="{$type.type}">{$type.name}</option>
          {/foreach}
        </select>
        <select name="parent_equiv[]" class="form-control rule_equivalent_select">
          {foreach from=$rule_equivalent item=equiv}
            <option value="{$equiv.equiv}">{$equiv.name}</option>
          {/foreach}
        </select>
        <div style="display: initial;" class="rule_value">
          <input name="parent_value[]" style="width: 150px;" value="" class="form-control rule_value_input">
        </div>
        <input name="parent_id[]" type="hidden" value="0">
      </div>
      <div style="float: left;width: 100%;">
        <select class="form-control" name="child_0_type[]"  style=""onchange="ruletypechange(this)">
          <option value="0">{$lang.select_please}</option>
          {foreach from=$rule_types item=type}
          <option value="{$type.type}">{$type.name}</option>
          {/foreach}
        </select>
        <select name="child_0_equiv[]" class="form-control rule_equivalent_select">
          {foreach from=$rule_equivalent item=equiv}
            <option value="{$equiv.equiv}">{$equiv.name}</option>
          {/foreach}
        </select>
        <div style="display: initial;" class="rule_value">
          <input name="child_0_value[]" style="width: 150px;" value="" class="form-control rule_value_input">
        </div>
        <input name="child_0_rule_id[]" type="hidden" value="0">
      </div>
      <div style="float: left;width: 100%;">
        <select class="form-control" name="child_1_type[]"  style=""onchange="ruletypechange(this)">
          <option value="0">{$lang.select_please}</option>
          {foreach from=$rule_types item=type}
          <option value="{$type.type}">{$type.name}</option>
          {/foreach}
        </select>
        <select name="child_1_equiv[]" class="form-control rule_equivalent_select">
          {foreach from=$rule_equivalent item=equiv}
            <option value="{$equiv.equiv}">{$equiv.name}</option>
          {/foreach}
        </select>
        <div style="display: initial;" class="rule_value">
          <input name="child_1_value[]" style="width: 150px;" value="" class="form-control rule_value_input">
        </div>
        <input name="child_1_rule_id[]" type="hidden" value="0">
      </div>
    </td>
  </tr>
  {foreach from=$pay.banks item=bank key=key}
  <tr class="banks">
	<td>
		銀行戶口 {$key}
	</td>
  <td>
    <input class='banking' name="bank{$key}" type='text' value="{$bank[0]}">
    <input class='banking' name="ac{$key}" type='text' value="{$bank[1]}"></td>
  </tr>
  {/foreach}
  <tr id='newAC'>
	  <td></td>
	  <td><a href="javascript:;" onclick="addExtraBankAccount()">[新增銀行戶口]</a></td>
  </tr>
  {if $pay.conf_tutorial}
  <tr>
    <td>
      付款頁教學
    </td>
    <td>
      <textarea class="form-control" name="conf_tutorial" cols="80" rows="5">{$pay.conf_tutorial}</textarea>
    </td>
  </tr>
  {/if}
  {foreach from=$pay.pay_config item=config key=key}
  <tr>
    <td>
      {if $config.desc}
      <a href="javascript:showNotice('notice{$config.name}');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>
      {/if}
      {$config.label}
    </td>
    <td>
      <!-- {if $config.type == "text"} -->
      <input name="cfg_value[]" type="{$config.type}" class="form-control" value="{$config.value}" size="40" />
      <!-- {elseif $config.type == "textarea"} -->
      <textarea class="form-control" name="cfg_value[]" cols="80" rows="5">{$config.value}</textarea>
      <!-- {elseif $config.type == "select"} -->
      <select class="form-control"name="cfg_value[]">{html_options options=$config.range selected=$config.value}</select>
      <!-- {/if} -->
      <input name="cfg_name[]" type="hidden" value="{$config.name}" />
      <input name="cfg_type[]" type="hidden" value="{$config.type}" />
      <input name="cfg_lang[]" type="hidden" value="{$config.lang}" />
      {if $config.desc}
      <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice{$config.name}">{$config.desc}</span>
      {/if}
      <!--the tenpay code -->
      {if $key eq "0"}
      {if $smarty.get.code eq "tenpay"}<input align=""type="button" value="{$lang.ctenpay}" onclick="javascript:window.open('{$lang.ctenpay_url}')"/>
      {elseif $smarty.get.code eq "tenpayc2c"} <input align=""type="button" value="{$lang.ctenpay}" onclick="javascript:window.open('{$lang.ctenpayc2c_url}')"/>
      {/if}

      {/if}
      <!--the tenpay code -->
    </td>
  </tr>
  {/foreach}
  <tr>
    <td>{$lang.pay_fee}</td>
    <td>{if $pay.is_cod }<input name="pay_fee" type="hidden" value="{$pay.pay_fee|default:0}" />{$lang.decide_by_ship}
        {else}<input name="pay_fee" type="text" class="form-control" value="{$pay.pay_fee|default:0}" />{/if}
    </td>

  </tr>
  <tr>
    <td>{$lang.payment_is_cod}</td>
    <td>{if $pay.is_cod == "1"}{$lang.yes}{else}{$lang.no}{/if}</td>
  </tr>
  <tr style="display:none">
    <td>{$lang.payment_is_online}</td>
    <td>{if $pay.is_online == "1"}{$lang.yes}{else}{$lang.no}{/if}</td>
  </tr>
  <!-- Platform -->
  {if $pay.is_online}
  <tr>
    <td>{$lang.payment_platform}</td>
    <td>
      <input type="checkbox" name="platform[]" style="margin-left: 0px;" {if $pay.platform.web}checked="checked"{/if} value="web">{$lang.web}</input>
      <input type="checkbox" name="platform[]" style="margin-left: 0px;" {if $pay.platform.mobile}checked="checked"{/if} value="mobile">{$lang.mobile}</input>
    </td>
  </tr>
  {/if}
  <!-- POS -->
  <tr>
    <td>{$lang.payment_is_pos}</td>
    <td><input type="checkbox" name="is_pos" style="margin-left: 0px;" {if $pay.is_pos}checked="checked"{/if} value="1"></td>
  </tr>
  <!-- Online Payment -->
  <tr>
    <td>{$lang.payment_is_online_pay}</td>
    <td>{if $pay.is_online_pay == "1"}{$lang.yes}{else}{$lang.no}{/if}</td>
  </tr>
  <!-- Is dubug mode -->
  <tr>
    <td>Debug Mode</td>
    <td><input type="checkbox" name="is_debug_mode" style="margin-left: 0px;" {if $pay.is_debug_mode}checked="checked"{/if} value="1"></td>
  </tr>
  <!-- Payment Methods -->
  <tr>
    <td>連結帳戶</td>
    <!-- If have payment mothod -->
    {foreach from=$account_payment_methods item=payment}
    <td>
      <a href="javascript:;" onclick="removeExtraInfoPaymentId (this, {$payment.payment_method_id})" style="float:left;width:3%;">[-]</a>
      <div style="float:left;width:7%;">
        帳戶名稱
      </div>
      <div style="float:left;width:90%;">
        <select   class="form-control"name="account_id[]" style="width: 280px;">
          <option value="0">{$lang.select_please}</option>
          {foreach from=$accounts item=acc}
          <option value="{$acc.account_id}"  {if $acc.account_id eq $payment.account_id} selected="selected"{/if}>{$acc.account_name}</option>
          {/foreach}
        </select>
      </div>
      <div style="float:left;width:3%;">&nbsp</div>
      <div style="float:left;width:7%;">帳戶支付貨幣</div>
      <div style="float:left;width:90%;">
        <select   class="form-control"name="type_id[]" style="width: 280px;">
          <option value="0">{$lang.select_please}</option>
          {foreach from=$payment_types item=type name=foo}
          <option name="payment_type_id" value="{$type.payment_type_id}"{if $type.payment_type_id eq $payment.payment_type_id} selected="selected"{/if}>{$type.payment_type_name}</option>
          {/foreach}
        </select>
      </div>
    </td>
  </tr>
  <tr><td></td>
    {/foreach}
    <td>
      <a href="javascript:;" onclick="addExtraInfoPaymentId(this)"  style="float:left;width:3%;">[+]</a>
      <div style="float:left;width:7%;">
        帳戶名稱
      </div>
      <div style="float:left;width:90%;">
        <select   class="form-control"name="account_id[]" style="width: 280px;">
          <option value="0">{$lang.select_please}</option>
          {foreach from=$accounts item=acc}
          <option value="{$acc.account_id}">{$acc.account_name}</option>
          {/foreach}
        </select>
      </div>
      <div style="float:left;width:3%;">&nbsp</div>
      <div style="float:left;width:7%;">帳戶支付貨幣</div>
      <div style="float:left;width:90%;">
        <select   class="form-control"name="type_id[]" style="width: 280px;">
          <option value="0">{$lang.select_please}</option>
          {foreach from=$payment_types item=type name=foo}
          <option name="payment_type_id" value="{$type.payment_type_id}">{$type.payment_type_name}</option>
          {/foreach}
        </select>
      </div>
    </td>
  </tr>
  <tr align="center">
    <td colspan="2" id ="btn-td">
      <input type="hidden"  name="pay_id"        value="{$pay.pay_id}" />
      <input type="hidden"  name="pay_code"      value="{$pay.pay_code}" />
      <input type="hidden"  name="is_cod"        value="{$pay.is_cod}" />
      <input type="hidden"  name="is_online"     value="{$pay.is_online}" />
      <input type="hidden" name="action" value="{$action}" />
      <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
    </td>
  </tr>
</table>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
var getParam = new URLSearchParams(window.location.search);
var code = getParam.get('code');
var init = getParam.has('init');

onload = function()
{
    // 开始检查订单
    startCheckOrder();
    if(!init){
      Ajax.call('/ajax/bank_accounts.php?act=init&code=' + code,'',function(){
        location.replace(location + '&init=true');
      },'GET');
    }
    if(getParam.get('act') == 'install' || localizableFields.indexOf('bank1') == -1){
      $('#newAC').remove();
    }
}

// Multiple language support
var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};
var localizableFieldsMapping = {};

/**
 * 新增銀行戶口
 */
function addExtraBankAccount(){
  Ajax.call('/ajax/bank_accounts.php?act=update&code=' + code,'',function(){
    location.reload();
  },'GET');
}
/**
 * 新增一个自訂欄位
 */
function addExtraInfoPaymentId(obj)
{
    var src  = obj.parentNode.parentNode;
    var idx  = rowindex(src);
    var tbl  = document.getElementById('extrainfo-table');
    var row  = tbl.insertRow(idx + 1);
    var indexCell = row.insertCell(-1);
    indexCell.innerHTML = "";
    var cell = row.insertCell(-1);
    cell.innerHTML = src.cells[1].innerHTML.replace(/(.*)(addExtraInfoPaymentId)(.*)(\[)(\+)/i, "$1removeExtraInfoPaymentId$3$4-");
}

/**
 * 删除自訂欄位
 */
function removeExtraInfoPaymentId(obj, payment_method_id)
{

    var row = rowindex(obj.parentNode.parentNode);
    var tbl = document.getElementById('extrainfo-table');
    if(payment_method_id){

			var confirm = window.confirm("你確定刪除帳戶連結?")
			if(confirm == true){
				var td = document.getElementById('btn-td');
	      var input = document.createElement("input");
	      input.type  = "hidden";
	      input.name  = "removeId[]";
	      input.value = payment_method_id;
	      td.appendChild(input);
				tbl.deleteRow(row);
			}
    } else{
			tbl.deleteRow(row);
		}
}
/**
 * 新增一个自訂欄位
 */
function addExtraInfoRule(obj)
{
    var src  = obj.parentNode.parentNode;
    var idx  = rowindex(src);
    var tbl  = document.getElementById('extrainfo-table');
    var row  = tbl.insertRow(idx + 1);
    var indexCell = row.insertCell(-1);
    indexCell.innerHTML = "";
    var cell = row.insertCell(-1);
    cell.innerHTML = src.cells[1].innerHTML.replace(/(.*)(addExtraInfoRule)(.*)(\[)(\+)/i, "$1removeExtraInfoRule$3$4-");
}
/**
 * 删除自訂欄位
 */
function removeExtraInfoRule(obj, rule_id)
{

    var row = rowindex(obj.parentNode.parentNode);
    var tbl = document.getElementById('extrainfo-table');
    if(rule_id){

			var confirm = window.confirm("你確定刪除此規則?")
			if(confirm == true){
				var td = document.getElementById('btn-td');
	      var input = document.createElement("input");
	      input.type  = "hidden";
	      input.name  = "removeRuleId[]";
	      input.value = rule_id;
	      td.appendChild(input);
				tbl.deleteRow(row);
			}
    } else{
			tbl.deleteRow(row);
		}
}
function ruletypechange(sel)
{
  var value = sel.value;
  
  // find selected pernet(td>div>select)
  var pernet = sel.parentElement;
  
  // remove input
  var input = pernet.querySelector(".rule_value_input");
  var name = input.getAttribute("name");
  
  // if type is country, input change to country list select.
  if(value == 'country')
  {
    
    var div = pernet.querySelector(".rule_value");
    
    // get country list
    var country_list = {$available_countries|json_encode};
    
    input.remove();
    
    // create a country select
    var html = '<select   class="form-control"name="'+name+'" class="rule_value_input" style="width: 150px;" >';
    //html += '<option value="0">{$lang.select_please}</option>';
    country_list.forEach(function (country) {
      html += '<option value="'+country.id+'">'+country.name+'</option>';
    });
    html += '</select>';
    
    div.innerHTML = html;
    
    //hidden <, >, <=, >=
    var select = pernet.querySelector(".rule_equivalent_select");
    for (var i = 0; i < select.options.length; i++) {
      var opt = select.options[i];
      if(opt.value != 'eq' && opt.value != 'neq'){
        opt.style.display = 'none';
      }
      select.value = 'eq';
    }
  } else {
    // else: use normal input text
    var div = pernet.querySelector(".rule_value");
    div.innerHTML = '<input name="'+name+'" style="width: 150px;" class="rule_value_input">';
    var select = pernet.querySelector(".rule_equivalent_select");
    for (var i = 0; i < select.options.length; i++) {
      var opt = select.options[i];
      opt.style.display = 'block';
    }
  }
}
</script>
{include file="pagefooter.htm"}
