<!-- $Id: payment_rule_edit.htm 14401 2017-05-31 10:17 Anthony $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,validator.js,i18n.js"}
<form action="payment.php?act=sumbit_rule" method="post">
<div class=" x_panel">
<table cellspacing="1" cellpadding="3" width="100%" id="extrainfo-table">
  <!-- Payment name -->
  <tr>
    <td class="label">{$lang.payment_name}</td>
    <td>
      <select name="pay_id" style="width: 280px;">
        {foreach from=$pay_list item=pay}
        <option value="{$pay.pay_id}" {if $pay.pay_id eq $rule.pay_id }selected="selected"{/if}>{$pay.pay_name}</option>
        {/foreach}
      </select>
    </td>
  </tr>
  <!-- Parent rule type -->
  <tr>
    <td class="label">{$lang.rule_type}</td>
    <td>
      <select name="parent_type" style="width: 280px;" onchange="ruletypechange(this, true)">
        <option value="0">{$lang.select_please}</option>
        {foreach from=$rule_types item=type}
        <option value="{$type.type}" {if $type.type eq $rule.rule_type }selected="selected"{/if}>{$type.name}</option>
        {/foreach}
      </select>
    </td>
  </tr>
  <!-- Parent rule detail -->
  <tr>
    <td class="label">{$lang.rule_detail}</td>
    <td>
      <div style="float:left;width:75px;" class="parent_equiv" >
        <select name="parent_equiv" class="parent_equiv_select">
        {foreach from=$rule_equivalent item=equiv}
          <option value="{$equiv.equiv}" {if $equiv.equiv == $rule.rule_equivalent} selected="selected"{/if} {if $rule.rule_type == 'country' AND $equiv.equiv !='eq' AND $equiv.equiv !='neq'}style="display:none;"{/if}>{$equiv.name}</option>
        {/foreach}
        </select>
      </div>
      <div class="parent_value" >
        {if $rule.rule_type == 'country'}
        <select name="parent_value" class="parent_value_input" style="width: 205px;" >
          {foreach from=$available_countries item=country}
            <option value="{$country.id}" {if $country.id == $rule.rule_value} selected="selected"{/if}>{$country.name}</option>
          {/foreach}
        </select>
        {else}
        <input name="parent_value" style="width: 150px;" value="{$rule.rule_value}" class="parent_value_input">
        {/if}
      </div>
    </td>
  </tr>
  <!-- Start sub Rules -->
  <!-- Show sub rules -->
  <tr>
    <td class="label">{$lang.sub_rule}</td>
    <!-- If have sub rules -->
    {foreach from=$child_list item=child}
    <td>
      <a href="javascript:;" onclick="removeExtraInfoRule(this, {$child.pay_rule_id})" style="float:left;width:3%;">[-]</a>
      <div style="float:left;width:7%;">
        {$lang.rule_type}
      </div>
      <div style="float:left;width:90%;">
        <select name="rule_type[]" style="width: 280px;" onchange="ruletypechange(this)">
          <!--option value="0">{$lang.select_please}</option-->
          {foreach from=$rule_types item=type}
          <option value="{$type.type}" {if $type.type eq $child.rule_type }selected="selected"{/if}>{$type.name}</option>
          {/foreach}
        </select>
      </div>
      <div style="float:left;width:3%;">&nbsp</div>
      <div style="float:left;width:7%;">{$lang.rule_detail}</div>
      <div style="float:left;width:75px;" class="rule_equivalent" >
        <select name="rule_equivalent[]" class="rule_equivalent_select">
          {foreach from=$rule_equivalent item=equiv}
            <option value="{$equiv.equiv}" {if $equiv.equiv == $child.rule_equivalent} selected="selected"{/if} {if $child.rule_type == 'country' AND $equiv.equiv !='eq' AND $equiv.equiv !='neq'}style="display:none;"{/if}>{$equiv.name}</option>
          {/foreach}
        </select>
      </div>
      <div style="float:left;width:70%;" class="rule_value" >
        {if $child.rule_type == 'country'}
        <select name="rule_value[]" class="rule_value_input" style="width: 150px;" >
          {foreach from=$available_countries item=country}
            <option value="{$country.id}" {if $country.id == $child.rule_value} selected="selected"{/if}>{$country.name}</option>
          {/foreach}
        </select>&nbsp顯示
        {else}
        <input name="rule_value[]" style="width: 150px;" value="{$child.rule_value}" class="rule_value_input">&nbsp顯示
        {/if}
      </div>
      <input name="child_id[]" type="hidden" value={$child.pay_rule_id}>
    </td>
  </tr>
  <!-- Create sub rules -->
  <tr><td class="label"></td>
    {/foreach}
    <td>
      <a href="javascript:;" onclick="addExtraInfoRule(this)"  style="float:left;width:3%;">[+]</a>
      <div style="float:left;width:7%;">
        {$lang.rule_type}
      </div>
      <div style="float:left;width:90%;">
        <select name="rule_type[]" style="width: 280px;" onchange="ruletypechange(this)">
          <option value="0">{$lang.select_please}</option>
          {foreach from=$rule_types item=type}
          <option value="{$type.type}">{$type.name}</option>
          {/foreach}
        </select>
      </div>
      <div style="float:left;width:3%;">&nbsp</div>
      <div style="float:left;width:7%;">{$lang.rule_detail}</div>
      <div style="float:left;width:75px;" class="rule_equivalent" >
        <select name="rule_equivalent[]" class="rule_equivalent_select">
          {foreach from=$rule_equivalent item=equiv}
            <option value="{$equiv.equiv}" {if $equiv == $rule.rule_equivalent} selected="selected"{/if}>{$equiv.name}</option>
          {/foreach}
        </select>
      </div>
      <div style="float:left;width:70%;" class="rule_value" >
        <input name="rule_value[]" style="width: 150px;" value="{$rule.value}" class="rule_value_input">&nbsp顯示
      </div>
      <input name="pay_rule_id[]" type="hidden" value=0>
    </td>
  </tr>
  <!-- End sub Rules -->
  <tr align="center">
    <td colspan="2" id ="btn-td">
      <input type="hidden"  name="pay_rule_id"        value="{$rule.pay_rule_id}" />
      <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
    </td>
  </tr>
</table>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

// Multiple language support
var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};
var localizableFieldsMapping = {};

/**
 * 新增一个自訂欄位
 */
function addExtraInfoRule(obj)
{
    var src  = obj.parentNode.parentNode;
    var idx  = rowindex(src);
    var tbl  = document.getElementById('extrainfo-table');
    var row  = tbl.insertRow(idx + 1);
    var indexCell = row.insertCell(-1);
    indexCell.innerHTML = "";
    var cell = row.insertCell(-1);
    cell.innerHTML = src.cells[1].innerHTML.replace(/(.*)(addExtraInfoRule)(.*)(\[)(\+)/i, "$1removeExtraInfoRule$3$4-");
    var div = row.querySelector(".rule_value");
    div.innerHTML = '<input name="rule_value[]" style="width: 150px;" class="rule_value_input">&nbsp顯示';
}
/**
 * 删除自訂欄位
 */
function removeExtraInfoRule(obj, rule_id)
{

    var row = rowindex(obj.parentNode.parentNode);
    var tbl = document.getElementById('extrainfo-table');
    if(rule_id){

			var confirm = window.confirm("你確定刪除此規則?")
			if(confirm == true){
				var td = document.getElementById('btn-td');
	      var input = document.createElement("input");
	      input.type  = "hidden";
	      input.name  = "removeRuleId[]";
	      input.value = rule_id;
	      td.appendChild(input);
				tbl.deleteRow(row);
			}
    } else{
			tbl.deleteRow(row);
		}
}
function ruletypechange(sel, is_parent)
{
  var value = sel.value;
  
  // Parent input
  if(is_parent){
    var div = document.querySelector(".parent_value");
    var input = document.querySelector(".parent_value_input");
    var select = document.querySelector(".parent_equiv_select");
    var input_name = 'parent_value';
    var input_class = 'parent_value_input';
    
  // Child input
  } else {
    // find selected pernet(td>div>select)
    var sel_parent = sel.parentElement;
    var pernet = sel_parent.parentElement;
    var div = pernet.querySelector(".rule_value");
    var input = pernet.querySelector(".rule_value_input");
    var select = pernet.querySelector(".rule_equivalent_select");
    var input_name = 'rule_value[]';
    var input_class = 'rule_value_input';
  }
  
  // if type is country, input change to country list select.
  if(value == 'country')
  {
    // get country list
    var country_list = {$available_countries|json_encode};
    // remove input
    input.remove();
    // create a country select
    var html = '<select name="'+input_name+'" class="'+input_class+'" style="width: 150px;" >';
    html += '<option value="0">{$lang.select_please}</option>';
    country_list.forEach(function (country) {
      html += '<option value="'+country.id+'">'+country.name+'</option>';
    });
    html += '</select>';
    if(!is_parent) html += '&nbsp顯示';
    div.innerHTML = html;
    //hidden <, >, <=, >=
    for (var i = 0; i < select.options.length; i++) {
      var opt = select.options[i];
      if(opt.value != 'eq' && opt.value != 'neq'){
        opt.style.display = 'none';
      }
      select.value = 'eq';
    }
  } else {
    // else: use normal input text
    html = '<input name="'+input_name+'" style="width: 150px;" class="'+input_class+'">';
    if(!is_parent) html += '&nbsp顯示';
    div.innerHTML = html;
    for (var i = 0; i < select.options.length; i++) {
      var opt = select.options[i];
      opt.style.display = 'block';
    }
  }
}
</script>
{include file="pagefooter.htm"}
