<!-- $Id: payment_rule_list.htm 15541 2017-05-31 Anthony $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<!-- start payment_rule list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<table class="table table-striped table-bordered bulk_action" id="#">
  <tr>
    <th>{$lang.rule_detail}</th>
    <th>{$lang.payment_name}</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$rule_list item=rule}
  <tr>
    <td align="center" valign="top">
      <div>{$rule.format_rule_type} {$rule.format_rule_equivalent}  {$rule.value}</div>
      {foreach from=$rule.child item=child}
        <div>{$child.format_rule_type} {$child.format_rule_equivalent}  {$child.value}</div>
      {/foreach}
    </td>
    <td align="left" valign="top"> {$lang.not_display}<span style="font-weight: 600;">{$rule.pay_name}</span></td>
    <td align="center" valign="top">
      <!--a href="payment.php?act=edit_rule&rule_id={$rule.pay_rule_id}">{$lang.edit}</a-->
      <a href="payment.php?act=remove_rule&rule_id={$rule.pay_rule_id}">{$lang.remove}</a>
    </td>
  </tr>
  {/foreach}
  
</table>
{if $full_page}
</div>
</div>
<!-- end payment_rule list -->
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}
{/if}
