{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,selectzone.js,../js/common.js"}
{include file="includes/datatables_header.htm"}
<style>
    .child {
        max-width: 100%;
    }

    tr.child > td.child > ul > li {
        word-break: break-all;
    }
</style>
<div class="x_panel">
    <div class="form-div">
        <form action="javascript:searchTxn()" class="form-inline">
            <div class="input-group form-group" style="width: 300px;">
                <input class="form-control" type="text" name="start_date" data-type="date" placeholder="開始日期">
                <span class="input-group-addon">至</span>
                <input class="form-control" type="text" name="end_date" data-type="date" placeholder="結束日期">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="out_trade_no" placeholder="訂單編號 / 支付單號">
            </div>
            <input type="submit" class="btn btn-info form-group">
        </form>
    </div>
    <br/>
    <table class="table table-bordered bulk_action" id="payme_activity_log">
        <colgroup>
        </colgroup>
        <thead>
            <tr>
                <th data-id="payme_activity_log_id" data-sort="0" data-priority="0">編號</th>
                <th data-id="datetime" data-sort="0" data-priority="0">日期</th>
                <th data-id="out_trade_code" data-sort="0" data-priority="0">支付單號</th>
                <th data-id="route"data-sort="0" data-priority="0">路徑</th>
                <th data-id="request_header" data-sort="0">Request Header</th>
                <th data-id="request_signature" data-sort="0">Request Signature</th>
                <th data-id="request_raw_text" data-sort="0">Request Raw Text</th>
                <th data-id="response_header" data-sort="0">Response Header</th>
                <th data-id="response_signature" data-sort="0">Response Signature</th>
                <th data-id="response_raw_text" data-sort="0" data-priority="0">Response Raw Text</th>
            </tr>
        </thead>
    </table>
</div>
{include file="pagefooter.htm"}
<script>
yohoTable.query = 'query';
yohoTable.rowCallback = function($row, $txn, $index) {
    // $($row).addClass($txn.class)
}
var $table = yoho_dataTable();

function searchTxn() {
    $filter = [];
    $filter.start_date = $("input[name=start_date]").val();
    $filter.end_date = $("input[name=end_date]").val();
    $filter.out_trade_no = $("input[name=out_trade_no]").val().length > 0 ? $("input[name=out_trade_no]").val() : '';
    $('#payme_activity_log').data('dt_params', $filter);
    $('#payme_activity_log').DataTable().draw();
}
</script>