
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form method="post" action="javascript:getList()" name="theForm" class="form-inline">
    搜尋產品&nbsp;&nbsp;
    <input type="text" class="form-control" name="keyword" value="{$keyword}" size="30" placeholder="輸入產品名稱或貨號">&nbsp;&nbsp;
    <input type="submit" value="{$lang.button_submit}" class="form-btn btn btn-primary" />
    </form>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table id="#" class="table table-striped table-bordered bulk_action ">
      <thead>
        <tr class="headings">
          <th data-id="goods_thumb" data-key="goods_id" data-type="image">產品圖片</th>
          <th data-id="goods_name" data-url="../goods.php?id={goods_id}">產品名稱</th>
          <th data-id="goods_sn" data-url="goods.php?act=list&amp;keyword={goods_sn}">產品貨號</th>
          <th data-id="order_qty">訂購數量</th>
          <th data-id="expected_delivery_date">預計送貨日期</th>
          <th data-id="expected_delivery_days">估計日數</th>
          <th data-id="order_sn" data-url="erp_order_manage.php?act=view_order&amp;order_id={order_id}">相關採購單</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
<!--
  var $table = yoho_dataTable();
  {literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }

  function getList()
  {
    /*
    listTable.filter.keyword = document.forms['theForm'].elements['keyword'].value;
    listTable.filter.page = 1;
    listTable.loadList();*/
  }
  {/literal}
//-->
</script>
