{include file="pageheader.htm"}

<div class="x_panel">
    <div class="form-div">
        <form class='form-inline'>
            <div class='form-group col-md-8'>
                <label class="col-md-3" for="start_time">開始時間</label>
                <input type="text" class="col-md-9 form-control" name="start_time" data-type="datetime" value="{$config.start_time}">
            </div>
            <div class='form-group col-md-8'>
                <label class="col-md-3" for="end_time">結束時間</label>
                <input type="text" class="col-md-9 form-control" name="end_time" data-type="datetime" value="{$config.end_time}">
            </div>
            <div class='form-group col-md-8'>
                <label class="col-md-3">優惠券</label>
                <div class="col-md-9">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>出現次數</th>
                                <th>優惠券</th>
                                <th>上限</th>
                            </tr>
                        </thead>
                        <tbody>
                                {foreach from=$config.coupons key=count item=coupon}
                            <tr>
                                <td><span style="padding: 0 50px">{$count}</p></td>
                                <td><input type="text" class="form-control" name="coupon_id[]" value="{$coupon.coupon_id}"></td>
                                <td><input type="text" class="form-control" name="coupon_limit[]" value="{$coupon.limit}"></td>
                            </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class='form-group col-md-8'>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <input type="hidden" type="hidden" value="update" name="act">
                    <input type="submit" class="btn btn-info">
                </div>
            </div>
        </form>
    </div>
</div>

{include file="pagefooter.htm"}