<!-- $Id: plugins.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<!-- start integrate plugins list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action" id="#">
  <tr>
    <th>{$lang.plugin_name}</th>
    <th>{$lang.plugin_version}</th>
    <th>{$lang.plugin_desc}</th>
    <th>{$lang.plugin_author}</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$modules item=module}
  <tr>
    <td class="first-cell" valign="top" nowrap="true">{$module.name}</td>
    <td valign="top" nowrap="true">{$module.version}</td>
    <td valign="top">{$module.desc}</td>
    <td valign="top" nowrap="true"><a href="{$module.website}">{$module.author}</a></td>
    <td align="center" valign="top" nowrap="true">
      {if $module.setup eq 1}
      <a href="javascript:confirm_redirect('{$lang.uninstall_confirm}', 'plugins.php?act=uninstall&code={$module.code}')">{$lang.uninstall}</a>
      <a href="plugins.php?act=upgrade&code={$module.code}">{$lang.upgrade}</a>
      {elseif $module.setup eq 0}
      <a href="javascript:confirm_redirect('{$lang.uninstall_confirm}', 'plugins.php?act=uninstall&code={$module.code}')" >{$lang.uninstall}</a>
      {else}
      <a href="plugins.php?act=install&code={$module.code}">{$lang.install}</a>
      {/if}
    </td>
  </tr>
  {/foreach}
</table>
</div>
<!-- end integrate plugins list -->
{literal}
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}