<!-- $Id: privilege_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

<table class="table table-striped table-bordered bulk_action jambo_table" id='list-table'>
  <thead>
    <tr>
      <th data-id="user_id" data-value="user_name" data-key="user_id">{$lang.user_name}</th>
      <th data-id="email">{$lang.email}</th>
      <th data-id="add_time">{$lang.join_time}</th>
      <th data-id="role_name">{$lang.role_describe}</th>
      <th data-id="last_login">{$lang.last_time}</th>
      <th data-id="is_disable" data-type="toggle">已停用</th>
      <th class="actionsCol" data-id="_action">{$lang.handler}</th>
    </tr>
  </thead>
</table>

</div>
</div>
<script type="text/javascript" language="JavaScript">
  {literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
  yohoTable.paging = false;
  var $table = yoho_dataTable();
</script>