<!-- $Id: privilege_allot.htm 16970 2010-01-08 08:52:36Z liuhui $ -->
{include file="pageheader.htm"}


<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="" class="form-inline" id="theForm">
    選擇目錄:&nbsp;&nbsp;
    <select class="form-control" name="cat" id="cat">
    {foreach from=$list_menus item=menu key=key}
      {if $key neq "admin_home"}
        <option value="{$key}" {if $cat eq $key}selected{/if}>{$lang.$key}</option>
      {/if}
    {/foreach}
    </select>&nbsp;&nbsp;
    <input type="hidden" name="id" value="{$user_id}" />
    <input type="hidden" name="user" value="{$user_name}" />
  </form>
</div>

<form method="POST" action="privilege.php" name="theFrom">
<div class="list-div  x_panel">

<table class="table table-striped jambo_table" id="list-table">
{foreach from=$list_menus item=menu key=key}
  {if $key neq "admin_home"}
    <tr class="category cat_{$key}" style="text-align: center;">
      <td colspan="2">
        <label>{$lang[$key]}</label>
      </td>
    </tr>
    {if $priv_arr[$key]}
    <tr class="category cat_{$key}">
      <td width="18%">通用權限</td>
      <td>
      {foreach from=$priv_arr[$key] item=privs key=k}
        {foreach from=$privs item=priv key=k}
        {if $k}
        <div style="width:200px;float:left;margin-right:10px;">
        <label for="{$priv.action_code}" class="action_item" tipsdata="{$lang[$priv.action_code_alt]}">
          <input type="checkbox" name="action_code[]" value="{$priv.action_code}" id="{$priv.action_code}"  {if $priv.cando eq 1} checked="true" {/if} onclick="checkrelevance('{$priv.relevance}', '{$priv.action_code}')" title="{$list.relevance}"/>
          {$lang[$priv.action_code]} {if $lang[$priv.action_code_alt]}<img src='images/notice.gif'/>{/if}
        </label>
        </div>
        {/if}
        {/foreach}
      {/foreach}
      </td>
    </tr>
    {/if}
    {foreach from=$menu.children item=item key=k}
    {assign var=menu_priv value=$priv_arr.$k}
    <tr class="category cat_{$key}">
      <td width="18%" valign="top" class="first-cell">
        {if $menu_priv.priv_menu}
          {foreach from=$menu_priv.priv_menu item=priv}
          <div style="width:200px;float:left;margin-right:10px;">
          <label for="{$priv.action_code}" class="action_item" tipsdata="{$lang[$priv.action_code_alt]}">
            <input type="checkbox" name="action_code[]" value="{$priv.action_code}" id="{$priv.action_code}"  {if $priv.cando eq 1} checked="true" {/if} onclick="check('{$menu_priv.priv_list}',this);"/>
            {$lang[$priv.action_code]} {if $lang[$priv.action_code_alt]}<img src='images/notice.gif'/>{/if}
          </label>
          </div>
          {/foreach}
        {/if}
      </td>
      <td>
      {if $menu_priv.priv}
        {foreach from=$menu_priv.priv item=priv}
        <div style="width:200px;float:left;margin-right:10px;">
        <label for="{$priv.action_code}" class="action_item" tipsdata="{$lang[$priv.action_code_alt]}">
          <input type="checkbox" name="action_code[]" value="{$priv.action_code}" id="{$priv.action_code}"  {if $priv.cando eq 1} checked="true" {/if} onclick="checkrelevance('{$priv.relevance}', '{$priv.action_code}')" title="{$priv.relevance}"/>
          {$lang[$priv.action_code]} {if $lang[$priv.action_code_alt]}<img src='images/notice.gif'/>{/if}
        </label>
        </div>
        {/foreach}
      {/if}
      </td>
    </tr>
    {/foreach}
  {/if}
{/foreach}
<!-- 未分類的 -->
  {assign var=menu_priv value=$priv_arr.unclassified}
  <tr class="category cat_unclassified ">
    <td width="18%" valign="top" class="first-cell">
      {if $menu_priv.priv_list}
      <input name="chkGroup" type="checkbox" value="checkbox" onclick="check('{$menu_priv.priv_list}',this);" >
      {/if}
      {$lang.unclassified}
    </td>
    <td>
    {if $menu_priv.priv}
      {foreach from=$menu_priv.priv item=priv}
      {if $priv.remarks neq "hidden"}
        <div style="width:200px;float:left;margin-right:10px;">
          <label for="{$priv.action_code}" class="action_item" tipsdata="{$lang[$priv.action_code_alt]}"><input type="checkbox" name="action_code[]" value="{$priv.action_code}" id="{$priv.action_code}"  {if $priv.cando eq 1} checked="true" {/if} onclick="checkrelevance('{$priv.relevance}', '{$priv.action_code}')" title="{$priv.relevance}"/>
            {$lang[$priv.action_code]} {if $lang[$priv.action_code_alt]}<img src='images/notice.gif'/>{/if}
          </label>
        </div>
      {else}
        <div style="width:200px;float:left;">
          <label for="{$priv.action_code}" class="action_item" tipsdata="{$lang[$priv.action_code_alt]}"><input type="checkbox" name="action_code[]" value="{$priv.action_code}" id="{$priv.action_code}"  {if $priv.cando eq 1} checked="true" {/if} onclick="checkrelevance('{$priv.relevance}', '{$priv.action_code}')" title="{$priv.relevance}"/>
            {$lang[$priv.action_code]} {if $lang[$priv.action_code_alt]}<img src='images/notice.gif'/>{/if}
          </label>
        </div>
      {/if}
      {/foreach}
    {/if}
    </td>
  </tr>
  <tr>
    <td align="center" colspan="2" >
      <input type="submit"   name="Submit"   value="{$lang.button_save}" class="btn btn-primary" />
      <input type="hidden"   name="id"    value="{$user_id}" />
      <input type="hidden"   name="act"   value="{$form_act}" />
    </td>
  </tr>
</table>
</div>
</form>

{literal}
<script language="javascript">

$(document).ready(function() {
  $(".category").hide();
  $(".category.cat_01_richang").show();
});

$("#cat").change(function(){
	var select_cat = $(this).find(":selected").val();
	change_cat(select_cat)
});

function change_cat(cat){
  $(".category").hide();
  $(".category.cat_"+cat).show();
}


function checkAll(frm, checkbox)
{
  for (i = 0; i < frm.elements.length; i++)
  {
    if (frm.elements[i].name == 'action_code[]' || frm.elements[i].name == 'chkGroup')
    {
      frm.elements[i].checked = checkbox.checked;
    }
  }
}

function checkAllInCat(cat, obj){
  var checked = obj.checked;
  if(checked){
    $("." + cat + " input[type=checkbox]").prop("checked", true);
  }
  else{
    $("." + cat + " input[type=checkbox]").prop("checked", false);
  }
}

function check(list, obj)
{
  var frm = obj.form;

    for (i = 0; i < frm.elements.length; i++)
    {
      if (frm.elements[i].name == "action_code[]")
      {
          var regx = new RegExp(frm.elements[i].value + "(?!_)", "i");

          if (list.search(regx) > -1) frm.elements[i].checked = obj.checked;
      }
    }
}
$('.action_item').on('mouseover',function(e){
  if($(this).attr('tipsdata'))
    $(this).append( "<div style='display:inline-block;position:absolute;background:#fff;border:1px solid grey;margin-top:2em;margin-left:-2em;padding:1em'>"+$(this).attr('tipsdata')+"</div>" );
});
$('.action_item').on('mouseout',function(e){
  if($(this).find('div'))
    $(this).find('div').remove();
});
function checkrelevance(relevance, priv_list)
{
  if(document.getElementById(priv_list).checked && relevance != '')
  {
    document.getElementById(relevance).checked=true;
  }
  else
  {
    var ts=document.getElementsByTagName("input");

    for (var i=0; i<ts.length;i++)
    {
      var text=ts[i].getAttribute("title");

      if( text == priv_list) 
      {
        document.getElementById(ts[i].value).checked = false;
      }
    }
  }
}

</script>
{/literal}
{include file="pagefooter.htm"}
