{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
  <th>產品ID</th>
  <th>產品名稱</th>
  <th>連結產品</th>
  <th>銷量</th>
</tr>
{foreach from=$list item=item}
<tr>
  <td align="center" width="4%"><a href="goods.php?act=list&amp;keyword={$item.goods_sn}">{$item.goods_id}</a></td>
  <td align="left" width="41%">{$item.goods_name}</td>
  <td align="left" width="41%">
    {if count($item.possible_products) > 1}
    <span onclick="listTable.dropdown(this, 'edit_proddb_id', {$item.goods_id}, {$item.possible_products|json_encode|escape})">N/A</span>
    {else}
    找不到相似產品
    {/if}
  </td>
  <td align="center" width="4%">{$item.sales}</td>
</tr>
{foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
{/foreach}
</table>
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>

<script type="text/javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

</script>

{include file="pagefooter.htm"}
{/if}
