{include file="pageheader.htm"}
{insert_scripts files="i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
<div class="x_panel">
    <div class="tab-content form-horizontal form-label-left">
        <form method="post">
            <input type="hidden" name="act" value="{$action}">
            <input type="hidden" name="organization_id" value="{$organization_id}">
            <input type="hidden" name="program_id" value="{$record.program_id}">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">{$lang.organization_name}</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <input class="form-control" type='text' name="organization_name" value="{$record.organization_name}"required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">{$lang.organization_domain}</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="input-group">
                        <div class="input-group-addon">@</div>
                        <input class="form-control" type='text' name="organization_domain" value="{$record.organization_domain}" required="required">
                    </div>
                    <span class="form-helper"  id="">用於驗證電郵域名</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">{$lang.organization_email}</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <input class="form-control" type="text" value="{$record.organization_email}" name="organization_email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">{$lang.organization_info}</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <textarea class="form-control" type="" value="{$record.organization_info}" name="organization_info">{$record.organization_info}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">{$lang.organization_type}</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <select name='organization_type'>
                        {foreach from=$organization_type item=item key=key}
                        <option value="{$key}" {if $record.organization_type eq $key}selected{/if}>{$item}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-3"></div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <button type="submit" class="btn btn-success">{$lang.button_submit}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="pagefooter.htm"}
<script>
// Multiple language support
var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};
var localizableFieldsMapping = {};
</script>