{include file="pageheader.htm"}
{insert_scripts files="i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
<div class="x_panel">
    <div class="tab-content form-horizontal form-label-left">
        <form method="post">
            <input type="hidden" name="act" value="{$action}">
            <input type="hidden" name="pricing_profile_id" value="{$pricing_profile_id}">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">{$lang.profile_name}</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <input class="form-control" type='text' name="profile_name" value="{$record.profile_name}"required="required">
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">複製價格方案</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <select class="form-control" name="old_pricing_profile_id">
                        <option value="0">請選擇-現有價格方案</option>
                        {foreach from=$profiles item=profile key=or_key }
                            <option value="{$profile.pricing_profile_id}">{$profile.profile_name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-3"></div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <button type="submit" class="btn btn-success">{$lang.button_submit}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="pagefooter.htm"}
<script>
// Multiple language support
var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};
var localizableFieldsMapping = {};
</script>