{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
    <div id="validate_list" class="col-md-12">
        <table class="table table-striped table-bordered bulk_action">
            <thead>
                <tr>
                    <th data-id="organization_id" data-key="organization_id">編號</th>
                    <th data-id="organization_name">{$lang.organization_name}</th>
                    <th data-id="organization_domain">{$lang.organization_domain}</th>
                    <th data-id="organization_type" data-value="type_string">{$lang.organization_type}</th>
                    <th class="actionsCol" data-id="_action" width="150" data-sort="0">{$lang.handler}</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{include file="pagefooter.htm"}
<script>
yohoTable.query = 'query_o';
var $table = yoho_dataTable();
</script>