{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
<link href="css/switchery.min.css" rel="stylesheet">
<script src="js/switchery.min.js"></script>

<style>
.confirm_delete_action .fa-trash {
    font-size: 24px;
    margin-left: 23px;
    /* margin-top: -2px; */
    /* padding-top: 5px; */
    top: 5px;
    position: relative;
}

.editable {
    text-decoration: underline;
}

.fa-exclamation-circle {
    color:red;
}  
</style>

<div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">價格方案</a>
    </li>
    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">產品搜尋</a>
    </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
            <div class=" x_panel">
                <div id="validate_list" class="col-md-12">
                    <table id="search_pricing_profile" class="table table-striped table-bordered bulk_action">
                        <thead>
                            <tr>
                                <th data-id="pricing_profile_id" data-key="organization_id">編號</th>
                                <th data-id="profile_name">Porfile 名稱</th>
                                <th data-id="goods_total">產品件數</th>
                                <th class="actionsCol" data-id="_action" width="150" data-sort="0">{$lang.handler}</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>    

            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                    <div class="x_panel">
                            <div class="x_title">
                            <h2>產品搜尋<small style="display: inline-block;">
                                <span  class="span-pricing-profile-name editable" style="cursor:pointer;font-size:20px"  data-pricing-profile-id="{$pricing_profile_id}" >{$record.profile_name}</span>
                                <input class="form-control input-pricing-profile-name" style="display: none;" type='text' id="input_profile_name"  name="input_profile_name" value="{$record.profile_name}"required="required"></small>
                            </h2>
                            
                            <br>
                            
                            <div class="clearfix"></div>
                            <input type="hidden" name="act" value="{$action}">
                            <input type="hidden" id="pricing_profile_id" name="pricing_profile_id" value="{$pricing_profile_id}"> 
                            <input type="hidden" id="user_rank_id" name="user_rank_id" value="{$record.user_rank_id}">        
                            </div>
                        
                            <div class="col-md-12">
                                <form class="form-horizontal form-label-left">
                                    <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.erp_warehousing_input_goods_sn}</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input class="form-control" size="30" maxlength="30" id="input_goods_sn" value="" />
                                            <ul id="goods_sn_tips"></ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">產品名稱：</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input class="form-control" size="30" maxlength="30" id="input_goods_name" value=""  />
                                            <ul id="goods_name_tips"></ul>
                                        </div>
                                    </div>                
                                    
                                    <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                        <span style="margin-left:10px;"><input type="button" id="search_pricing_profile_item" style="cursor:pointer;" class="btn btn-success" value="搜尋" /></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class=" x_panel">
                            <div id="validate_list" class="col-md-12">
                                <table id="search_products" class="table table-striped table-bordered bulk_action">
                                    <thead>
                                        <tr>
                                            <th data-sort=0  data-id="pricing_profile_items_id" data-key="price_id">序號</th>
                                            <th data-sort=0 data-id="goods_thumb">圖片</th>
                                            <th data-sort=0 data-id="goods_name">產品名稱</th>
                                            <th data-sort=0 data-id="goods_sn_html"  data-order="1" >貨號</th>
                                            <th data-sort=0 data-id="vip_price">VIP價</th>
                                            <th data-sort=0 data-id="market_price">市價</th>
                                            <th data-sort=0 data-id="shop_price" data-type="price">價格</th>
                                            <th data-sort=0 data-id="profile_name">價格方案</th>
                                            <th data-sort=0 data-id="user_price_html">特殊會員價格</th>
                                            <th class="actionsCol" data-id="action_html" width="150" data-sort="0">{$lang.handler}</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
            </div>


      
    </div>
</div>        

{include file="pagefooter.htm"}
<script>
yohoTable.table_id= "search_pricing_profile",
yohoTable.query = 'query_pricing_profile';
var $table = yoho_dataTable();


var yohoTable2 = {
    query: 'query_pricing_profile_products',
    table_id: "search_products",
    lengthMenu: [50, 100, 150],
};

yohoTable2.drawCallback = function(setting,api) {
  
    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

    elems.forEach(function(html) {
        var switchery = new Switchery(html);
    });
};

yohoTables.push(yohoTable2);
$table2 = yoho_dataTable(1);


$("#search_pricing_profile_item").click(function(){
    console.log('.....');
    var $filter = {};
    $filter.page = 1;
    $filter.action = 'action';
    $filter.goods_sn = $("#input_goods_sn").val();
    $filter.goods_name = $("#input_goods_name").val();
    $table2.search($filter);
});

$('#input_goods_name,#input_goods_sn').keypress(function (e) {
    if (e.which == '13') {
        $("#search_pricing_profile_item").trigger("click");
    }
});


$(document).on("click","span[id^='span_user_price_']",function(){
    // var warehousing_item_id=$(this).attr('id');
    // warehousing_item_id=warehousing_item_id.substr('span_received_qty_'.length,warehousing_item_id.length-'span_received_qty_'.length);			
    var price_id = $(this).data('price-id');
    $(this).hide();
    $("#input_user_price_"+price_id).show().select();
});

$(document).on("mouseover","span[id^='span_user_price_']",function(){
   // $(this).css('color','red');
});

$(document).on("mouseout","span[id^='span_user_price_']",function(){
   // $(this).css('color','black');
});

$(document).on("change","input[id^='input_user_price_']",function(){
    var price_id = $(this).data('price-id');
    var pricing_profile_id = $(this).data('pricing-profile-id');  
    var update_price =$(this).val();
    var goods_id =  $(this).data('goods-id');
    
    function changeUserPriceResponse(res)
    {
        var data = res.content; 
        if(data.success != 1)
        {
            alert(res.message);
            $("#span_user_price_"+price_id).show();	
            $("#input_user_price_"+price_id).val($("#span_received_qty_"+price_id).text()).hide();
        }
        else
        {
            $("#span_user_price_"+price_id).text(data.user_price);
            $("#input_user_price_"+price_id).hide();
            $("#span_user_price_"+price_id).show();
            $("#span_user_price_"+price_id).css('color','green');
        }
    }
    
    if(isNaN(update_price))
    {
        alert('{$lang.erp_not_a_number}');
    }
    else
    {
        Ajax.call('user_rank_program.php?act=update_user_price', 'goods_id=' + goods_id +'&pricing_profile_id=' + pricing_profile_id +'&user_price_id='+price_id+'&update_price='+update_price, changeUserPriceResponse, 'POST', 'JSON');
    }
});

$(document).on("blur","input[id^='input_user_price_']",function(){
    var price_id = $(this).data('price-id');
    $("#input_user_price_"+price_id).hide();
    $("#span_user_price_"+price_id).show();
});

$(document).on("click",".confirm_delete_action", function(){
    var price_id = $(this).data('price-id');
    var goods_id = $(this).data('goods-id');
    var pricing_profile_id = $(this).data('pricing-profile-id');
     // save
     $.ajax({
      url: 'user_rank_program.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'delete_user_price',
        'pricing_profile_id':  pricing_profile_id,
        'goods_id':  goods_id,
      },
      dataType: 'json',
      success: function (result) {
        $table2.draw();
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});

$(document).on("click",".confirm_delete_action_profile", function(){
    var pricing_profile_id = $(this).data('pricing-profile-id');
     // save
    $.ajax({
      url: 'user_rank_program.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'delete_pricing_profile',
        'pricing_profile_id': pricing_profile_id,
      },
      dataType: 'json',
      success: function (result) {
        if (result.error) {
            alert(result.message);    
        } else {
            $table.draw();
        }
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});

$(document).on("click",".js-switch", function(){
    var price_id = $(this).data('price-id');
    var pricing_profile_id =$(this).data('pricing-profile-id');
    var update_price =$("#input_user_price_"+price_id).val();
    var goods_id =  $(this).data('goods-id');
    var active = $(this).is(':checked')? 1 : 0;
    $.ajax({
        url: 'user_rank_program.php?act=update_pricing_profile_item_status',
        type: 'post',
        cache: false,
        data: {
        'pricing_profile_id': pricing_profile_id,
        'update_price': update_price,
        'goods_id': goods_id,
        'action': goods_id,
        'active': active,
    },
    dataType: 'json',
    success: function(result){

    },
    error: function(xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
    }
    });

});


</script>