{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
<link href="css/switchery.min.css" rel="stylesheet">
<script src="js/switchery.min.js"></script>

<style>
#goods_sn_tips{width:200px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_sn_tips li{line-height:20px; list-style:none;}

#goods_name_tips{width:400px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_name_tips li{line-height:20px; list-style:none;padding: 5px;}

#goods_barcode_tips{width:200px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_barcode_tips li{line-height:20px; list-style:none;padding: 5px;}

#error_message {
    color:red;
}

#popup_goods_name {
    padding-top: 5px;
    font-size: 22px;
}

.fa-trash {
    font-size: 24px;
    margin-left: 23px;
    /* margin-top: -2px; */
    /* padding-top: 5px; */
    top: 5px;
    position: relative;
}

.editable {
    text-decoration: underline;
}

.x_title h2 {
    float: none;
    padding-bottom:10px;
}

.fa-exclamation-circle {
    color:red;
}

</style>
<div class="x_panel">
    <div class="x_title">
    <h2>價格方案:<small style="display: inline-block;">
        <span  class="span-pricing-profile-name editable" style="cursor:pointer;font-size:20px"  data-pricing-profile-id="{$pricing_profile_id}" >{$record.profile_name}</span>
        <input class="form-control input-pricing-profile-name" style="display: none;" type='text' id="input_profile_name"  name="input_profile_name" value="{$record.profile_name}"required="required"></small>
    </h2>
    <h2>特殊會員計劃:
        <small style="display: inline-block;">
            {foreach name=sln from=$rank_programms item=rank_programm}
            <span class="span-user-program-name " style="font-size:20px"  >{$rank_programm.program_name}</span> | 
            {/foreach}
        </small>
    </h2>
    <br>
   
    <div class="clearfix"></div>
    <input type="hidden" name="act" value="{$action}">
    <input type="hidden" id="pricing_profile_id" name="pricing_profile_id" value="{$pricing_profile_id}"> 
    <input type="hidden" id="user_rank_id" name="user_rank_id" value="{$record.user_rank_id}">        
    </div>

    <div class="col-md-12">
        <form class="form-horizontal form-label-left">
            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.erp_warehousing_input_goods_sn}</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input class="form-control" size="30" maxlength="30" id="input_goods_sn" value="" />
                    <ul id="goods_sn_tips"></ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.erp_warehousing_input_goods_name}</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input class="form-control" size="30" maxlength="30" id="input_goods_name" value=""  />
                    <ul id="goods_name_tips"></ul>
                </div>
            </div>                
            <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-6 col-sm-3 col-xs-12">特殊價格：</label>
                <div class="col-md-6 col-sm-9 col-xs-12">
                    <input class="form-control" id="input_price" value="" size="10" maxlength="10" />
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                <span style="margin-left:10px;"><input type="button" id="update_pricing_profile" style="cursor:pointer;" class="btn btn-success" value="新增" /></span>
            </div>
        </form>
    </div>
</div>

<div class="x_panel">
    <table class="table table-striped table-bordered bulk_action">
        <thead>
            <tr>
                <th data-id="pricing_profile_items_id" data-key="price_id"  data-order="1">序號</th>
                <th data-sort=0 data-id="goods_thumb">圖片</th>
                <th data-sort=0 data-id="goods_name">產品名稱</th>
                <th data-sort=0 data-id="goods_sn_html">貨號</th>
                <th data-sort=0 data-id="vip_price">VIP價</th>
                <th data-sort=0 data-id="market_price">市價</th>
                <th data-sort=0 data-id="shop_price" data-type="price">價格</th>
                <th data-sort=0 data-id="user_price_html">特殊會員價格</th>
                <th data-sort=0 data-id="sold">已售出</th>
                <th class="actionsCol" data-id="action_html" width="150" data-sort="0">{$lang.handler}</th>
            </tr>
        </thead>
    </table>
</div>
{include file="pagefooter.htm"}

<script>
inserted_goods_id = 0;
yohoTable.query = 'query_pricing_profile_items';
yohoTable.drawCallback = function(setting,api) {
    $(".goods_id_"+inserted_goods_id).closest('tr').css('background','#bcf2f5');

    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

    elems.forEach(function(html) {
        var switchery = new Switchery(html);
    });
};

$(".span-pricing-profile-name").click(function(){
    $(this).hide();
    $(".input-pricing-profile-name").show().focus();
    var $thisVal =  $(".input-pricing-profile-name").val();
    $(".input-pricing-profile-name").val('').val($thisVal);
});

$(".input-pricing-profile-name").blur(function(){
   $(this).hide();
   $(".span-pricing-profile-name").show();
});

$(".input-pricing-profile-name").change(function(){
    $.ajax({
        url: 'user_rank_program.php?act=update_pricing_profile_name',
        type: 'post',
        cache: false,
        data: {
        'profile_name': $("#input_profile_name").val(),
        'pricing_profile_id': $("#pricing_profile_id").val(),
    },
    dataType: 'json',
    success: function (result) {
        $(".span-pricing-profile-name").html($("#input_profile_name").val());
        $(".input-pricing-profile-name").hide();
        $(".span-pricing-profile-name").show();
    },
    error: function(xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
    }
    });
});

var $table = yoho_dataTable();
</script>

<script>
// Multiple language support
var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};
var localizableFieldsMapping = {};
var current_goods_name='';

function set_goods_name(name)
{
    $("#input_goods_name").val(name);
}

function hide_goods_name_tips()
{
    $("#goods_name_tips").hide();
    var goods_name=$("#input_goods_name").val();
    function checkGoodsNameResponse(res)
    {
        if(res.error!=0)
        {
            //alert(res.message);
            $("#input_goods_name").focus();
            $("#input_goods_name").val('');
        }
        else{
            $("#attr_box").html(res.attr_info);
            $("#input_price").val('').focus();
        }
    }

    if(goods_name!='')
    {
        Ajax.call('erp_warehousing.php?act=check_goods_name',
            'goods_name=' + encodeURIComponent(goods_name),
            checkGoodsNameResponse, 'POST', 'JSON');
    }
}

$("#input_goods_name").blur(function(){
	
});

$("#input_goods_name").keyup(function(){
			
    var goods_name=$(this).val();

    function goodsNameTipsResponse(res)
    {
        if(res.error!=0)
        {
            alert(res.message);	
        }
        else
        {
            //显示货号提示
            if(res.num>0)
            {
                $("#goods_name_tips").empty().append(res.content);
                    
                var offset=$("#input_goods_name").position();
                var offset_top=offset.top;
                var offset_left=offset.left;

                var ua = navigator.userAgent.toLowerCase();
                    
                if(ua.match(/firefox/))
                {
                    offset_top=offset_top+9;
                    offset_left=offset_left;							
                }
                else{
                    offset_top=offset_top+10;
                    offset_left=offset_left;							
                }
                    
                $("#goods_name_tips").css('left',offset_left);
                //$("#goods_name_tips").css('top',offset_top);
                $("#goods_name_tips").show();	
            }
            else
            {
                $("#goods_name_tips").hide();	
            }					
        }
    }

    if(goods_name!=current_goods_name)
    {
        current_goods_name=goods_name;
        if(goods_name!='')
        {
            $.ajax({
                url: 'erp_warehousing.php?act=goods_name_tips',
                type: 'post',
                cache: false,
                data: {
                'goods_name': encodeURIComponent(goods_name),
            },
            dataType: 'json',
            success: goodsNameTipsResponse,
            error: function(xhr) {
                alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
                console.log(xhr);
            }
            });
        }	
    }				
});


$("#update_pricing_profile").click(function(){
    var goods_sn=$("#input_goods_sn").val();
    var goods_name=$("#input_goods_name").val();
    var pricing_profile_id = $("#pricing_profile_id").val();
    var user_rank_id = $("#user_rank_id").val();
    var goods_price = $("#input_price").val();
    var ids='';

    function updateSearchGoodsResponse(res)
    {
        if(res.error!=0)
        {
            alert(res.message);
            $("#input_goods_sn").val('').focus();
            //$("#attr_box").html('');
        }
        else
        {
            inserted_goods_id = res.content;
            $table.draw();

            $("#input_goods_name").val('');
            $("#input_price").val('');
            $("#input_goods_sn").val('').focus();
            return;
        }
    }

    if(goods_sn=='' && goods_name=='')
    {
        alert('{$lang.erp_warehousing_goods_sn_or_goods_name_or_goods_barcode_required}');	
        $("#input_goods_sn").focus();
    } 
    else if (goods_price == '')
    {
        alert('請輸入特殊會員價格');	
        $("#input_price").focus();
    }
    else
    {

        if(isNaN(goods_price))
        {
            alert('{$lang.erp_not_a_number}');
            return false;
        }

        $.ajax({
            url: 'user_rank_program.php?act=search_and_insert_goods',
            type: 'post',
            cache: false,
            data: {
            'goods_sn': encodeURIComponent(goods_sn),
            'goods_name': encodeURIComponent(goods_name),
            'pricing_profile_id': pricing_profile_id,
            'goods_price': goods_price,
            'user_rank_id': user_rank_id
        },
        dataType: 'json',
        success: updateSearchGoodsResponse,
        error: function(xhr) {
            alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
            console.log(xhr);
        }
        });
    }
});

$(document).on("click","span[id^='span_user_price_']",function(){
    // var warehousing_item_id=$(this).attr('id');
    // warehousing_item_id=warehousing_item_id.substr('span_received_qty_'.length,warehousing_item_id.length-'span_received_qty_'.length);			
    var price_id = $(this).data('price-id');
    $(this).hide();
    $("#input_user_price_"+price_id).show().select();
});

$(document).on("mouseover","span[id^='span_user_price_']",function(){
   // $(this).css('color','red');
});

$(document).on("mouseout","span[id^='span_user_price_']",function(){
   // $(this).css('color','black');
});

$(document).on("change","input[id^='input_user_price_']",function(){
    var price_id = $(this).data('price-id');
    var pricing_profile_id = $("#pricing_profile_id").val();
    var update_price =$(this).val();
    var goods_id =  $(this).data('goods-id');
    
    function changeUserPriceResponse(res)
    {
        var data = res.content; 
        if(data.success != 1)
        {
            alert(res.message);
            $("#span_user_price_"+price_id).show();	
            $("#input_user_price_"+price_id).val($("#span_received_qty_"+price_id).text()).hide();
        }
        else
        {
            $("#span_user_price_"+price_id).text(data.user_price);
            $("#input_user_price_"+price_id).hide();
            $("#span_user_price_"+price_id).show();
            $("#span_user_price_"+price_id).css('color','green');
        }
    }
    
    if(isNaN(update_price))
    {
        alert('{$lang.erp_not_a_number}');
    }
    else
    {
        Ajax.call('user_rank_program.php?act=update_user_price', 'goods_id=' + goods_id +'&pricing_profile_id=' + pricing_profile_id +'&user_price_id='+price_id+'&update_price='+update_price, changeUserPriceResponse, 'POST', 'JSON');
    }
});

$(document).on("blur","input[id^='input_user_price_']",function(){
    var price_id = $(this).data('price-id');
    $("#input_user_price_"+price_id).hide();
    $("#span_user_price_"+price_id).show();
});

$(document).on("click",".confirm_delete_action", function(){
    var price_id = $(this).data('price-id');
    var goods_id = $(this).data('goods-id');
     // save
     $.ajax({
      url: 'user_rank_program.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'delete_user_price',
        'pricing_profile_id':  $("#pricing_profile_id").val(),
        'goods_id':  goods_id,
      },
      dataType: 'json',
      success: function (result) {
        $table.draw();
      },
      error: function (xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
});

$(document).on("click",".js-switch", function(){
    var price_id = $(this).data('price-id');
    var pricing_profile_id = $("#pricing_profile_id").val();
    var update_price =$("#input_user_price_"+price_id).val();
    var goods_id =  $(this).data('goods-id');
    var active = $(this).is(':checked')? 1 : 0;
    $.ajax({
        url: 'user_rank_program.php?act=update_pricing_profile_item_status',
        type: 'post',
        cache: false,
        data: {
        'pricing_profile_id': pricing_profile_id,
        'update_price': update_price,
        'goods_id': goods_id,
        'action': goods_id,
        'active': active,
    },
    dataType: 'json',
    success: function(result){

    },
    error: function(xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
    }
    });

});



// var clickCheckbox = document.querySelector('.js-check-click')
//   , clickButton = document.querySelector('.js-check-click-button');

// clickButton.addEventListener('click', function() {
//   alert(clickCheckbox.checked);
// });

// $(document).on("change",".js-check-change", function(){
//     console.log('aaa');
// });

</script>