{include file="pageheader.htm"}

{insert_scripts files="actg.js"}
<link href="css/select2.min.css" rel="stylesheet" type="text/css" />

<form action="purchase_payments.php" method="post" name="form" class="tab-content form-horizontal form-label-left">
<div class=" x_panel">
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">訂單</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      訂單號：　<a href="erp_order_manage.php?act=view_order&amp;order_id={$order.order_id}">{$order.order_sn}</a><br>
      日期：　　{$order.create_time_formatted}<br>
      總金額：　{$order_total_str}<br>
      已付金額：{$paid_str}<br>
      <span class="cn red">減付金額：<span id="reduce_amount">HK$0.00</span><br></span>
      應付金額：{$due_str}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">操作員</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" name="operator" style="width: 280px;">
        <option value="">{$lang.select_please}</option>
        {foreach from=$salesperson_list item=salesperson}
        {if $salesperson eq $admin_name}<option selected="selected" value="{$admin_id}">{$salesperson}</option>{/if}
        {/foreach}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">帳戶</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="select2 types" name="actg_type_id" style="width: 100%"><option></option></select>
      <!-- <select class="form-control" name="account_id" style="width: 280px;">
        <option value="0">{$lang.select_please}</option>
        {foreach from=$accounts item=acc}
        <option value="{$acc.account_id}">{$acc.account_name} - {$acc.currency_name}</option>
        {/foreach}
      </select> -->
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">原幣金額</label>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <input class="form-control" id="amount" name="amount" type="text" style="width: 280px;" value="{$due}" />
    </div>
    <div class="control-label col-md-1 col-sm-1 col-xs-12" style="text-align:right;">
      <label for="exchanged_amount">HKD金額</label>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
      <input class="form-control" id="exchanged_amount" name="exchanged_amount" type="text" style="width: 200px;" value="{$due}" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Credit Note</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="hidden" id="cn_id" name="cn_id" value="0">
      使用Credit note支付 <input type="button" class="form-btn btn-sm btn btn-default cn" value="重新整理">
      <div class="list-div cn" id="cn_container" style="width:280px"></div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">全數付款</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="hidden" name="fully_paid" value="0">
      <input class="flat" type="checkbox" name="fully_paid" value="1" checked="checked">
      我確認這個訂單已全數付款
      <br>
      <span class="form-helper">如仍有尾數未付，請取消勾選這項</span>
    </div>
  </div>
  <!-- <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">付款方式</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {foreach from=$payment_types item=type name=foo}
      <label>
        <input class="flat" type="radio" name="payment_type_id" value="{$type.payment_type_id}"{if $smarty.foreach.foo.first} checked="checked"{/if}>
        {$type.payment_type_name}
      </label>
      {/foreach}
    </div>
  </div> -->
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">即時交易</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="hidden" name="completed" value="0">
      <input type="hidden" name="due" value="{$due}">
      <input class="flat" type="checkbox" name="completed" value="1" checked="checked">
      <br>
      <span class="form-helper">一般交易即時完成，支票/期票等可以取消勾選這項</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">銀行時間</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input name="bank_date" type="text" data-type="date" id="bank_date" size="22" value="" />
    </div>
  </div>
  <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">會計月份</label>
      <div class="col-md-9 col-sm-9 col-xs-12">
          <div class="col-md-3 col-sm-3 col-xs-3 input-group" style="float:inherit;padding-right:inherit;">
              <input name="expense_year" id="expense_year" class="form-control col-6" type='number' step="1" min="2000" max="3000"> <div class="input-group-addon">年</div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 input-group" style="float:inherit;padding-right:inherit;">
              <input name="expense_month" id="expense_month" class="form-control col-6" type='number' step="1" min="1" max="12"> <div class="input-group-addon">月</div>
          </div>
      </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">備注</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <textarea class="form-control" name="remark"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="ln_solid"></div>
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <input type="hidden"  name="order_id"  value="{$order_id}" />
      <input type="hidden"  name="act"       value="insert" />
      <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
    </div>
  </div>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
var due = parseFloat("{$due}");
var currencies = JSON.parse('{$currencies}');
var paid_cn_value = 0;

$(function () {
  YOHO.actg.sanitizeAmountInput($('input[name="amount"]'));
  $('#expense_year').val((new Date()).getFullYear());
  $('#expense_month').val((new Date()).getMonth()+1);
  $(document).on('change','.cn_check',function(e){
    var t_due = due, t_red = [], red = [];
    $('.cn_check').prop('disabled',false);
    $('.cn_check').get().map(function(v){
      $(v).prop('checked') ? t_red.push($(v).val()) : true
    });
    t_red.map(function(v){
      if(t_due > 0){
        t_due -= parseFloat($('#am_' + v).text().replace('HK$',''))
        red.push(v)
      }
    })
    if(t_due <= 0){
      t_due = 0;
      $('.cn_check:not(#ch_' + red.join(',#ch_') + ')').prop({
        'checked': false,
        'disabled': true
      })
    }
    t_due = t_due > 0 ? t_due : 0;
    paid_cn_value = due - t_due;
    $('#due_amount').text('HK$' + t_due.toFixed(2));
    $('#amount').val(t_due.toFixed(2));
    $('#reduce_amount').text('HK$' + (due - t_due).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
    $('#cn_id').val(red.join(','));

    // Manually trigger change
    $("#amount").trigger("change");
  });
  $(document).on("click", 'input[name="Submit"]', function(event){
    event.preventDefault(); // halt submit action
    if (!checkPaymentAmount()) {
      let amount = parseFloat($("#amount").val());
      let total_payment_amount = amount + paid_cn_value;
      let symbol = '';
      if (total_payment_amount >= due) {
        symbol = ' 與應付金額相符 ';
      }
      if (total_payment_amount < due) {
        symbol = ' 少於應付金額 ';
      }

      alert('支付金額 ($' + amount + ' + ' + '$' +paid_cn_value + ') ' + symbol + "\n請再次確認本訂單是否經已全數付款");
    }
    $('form[name="form"]').submit();

  });
  $(document).on("change","[name='actg_type_id']", function(){
    updateAmount();
  });
  $(document).on("change", "#amount", function(){
    updateAmount();
  });
  $(document).on("change", "#exchanged_amount", function(){
    $("#exchanged_amount").val(parseFloat($("#exchanged_amount").val()).toFixed(2));
  });
  $(document).on("change","#check_all",function(e){
     $('.cn_check').prop('checked',$('#check_all').prop('checked')).change();
  })
  $('.btn.cn').click(function() {
    $.ajax({
      url: 'purchase_payments.php',
      dataType: 'JSON',
      data: {
        act: 'credit',
        supplier_id: '{$order.supplier_id}'
      },
      success: function(res){
        $('.cn').show();
        $('#reduce_amount').html('HK$0.00');
        $('#amount').val(due);
        if(!res.error){
          var table = '<table class="table "id="cn_table"><tr><th><input id="check_all" type="checkbox"></th><th>編號</th><th>剩餘金額</th></tr>';
          res.content.length > 0
            ? res.content.map((v)=>table += '<tr><td><input class="cn_check" type="checkbox" value="' + v.cn_id + '" id="ch_'+ v.cn_id + '"></td><td>' + v.cn_sn + '</td><td id="am_'+ v.cn_id + '">HK$' + parseFloat(v.curr_amount).toFixed(2) + '</td></tr>')
            : table += '<tr><td colspan="3">沒有供應商之Credit Note</td></tr>';
          $('#cn_container').html(table + '</table>')
        }
      }
    })
  })
  $('.btn.cn').click();
});
$(function(){
  $('select.select2.types').select2({
      width: 'resolve',
      matcher: modelMatcher,
      placeholder: '{$lang.select_please}',
      allowClear: true,
      data: [
          {foreach from=$accounts item=type}
          {
            id: {$type.actg_type_id},
            text: '{$type.actg_type_code} - {$type.actg_type_name}',
            html: '<span class="parent">{$type.actg_type_code} - {$type.actg_type_name}</span>',
            currency: '{$type.currency_code}',
          },
          {/foreach}
      ],
      escapeMarkup: function(markup) {
          return markup;
      },
      templateResult: function(data) {
          return data.html;
      },
  })
})
function modelMatcher(e,t){if(t.parentText=t.parentText||"",""===$.trim(e.term))return t;if(t.children&&t.children.length>0){for(var r=$.extend(!0,{},t),n=t.children.length-1;n>=0;n--){var l=t.children[n];l.parentText+=t.parentText+" "+t.text,null==modelMatcher(e,l)&&r.children.splice(n,1)}return r.children.length>0?r:modelMatcher(e,r)}var a=(t.parentText+" "+t.text+(t.parent," "+t.parent)).toUpperCase(),h=e.term.toUpperCase();return a.indexOf(h)>-1?t:null}
function updateAmount()
{
  var exchange_rate = $.grep(currencies, function(e){
    return e.currency_code == ($("[name='actg_type_id']").select2('data')[0].currency);
  })[0];
  var payment_amount = $("#amount").val();
  var currency_rate = (typeof exchange_rate == "undefined") ? 1 : exchange_rate.currency_rate;
  var exchanged_amount = parseFloat(payment_amount) * parseFloat(currency_rate);
  $("#exchanged_amount").val(exchanged_amount.toFixed(2));
  $("#amount").val(parseFloat(payment_amount).toFixed(2));
}
function checkPaymentAmount()
{
  let amount = parseFloat($("#amount").val());
  let total_payment_amount = amount + paid_cn_value;
  let fully_paid_checkbox = $('[name="fully_paid"]');

  if (total_payment_amount > due && !(fully_paid_checkbox.is(':checked'))) {
    return false;
  }
  if (total_payment_amount < due && fully_paid_checkbox.is(':checked')) {
    return false;
  }
  if (total_payment_amount >= due && fully_paid_checkbox.is(':checked')) {
    return true;
  }
  if (total_payment_amount < due && !(fully_paid_checkbox.is(':checked'))) {
    return true;
  }
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}
{insert_scripts files="select2/select2.min.js"}