
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{insert_scripts files="../js/utils.js"}
<div class=" x_panel">

<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH">
    {$lang.start_date}&nbsp;
    <input class="form-control" data-type="date" name="start_date" type="text" id="start_date" size="15" value='{$start_date}'/>&nbsp;&nbsp;
    {$lang.end_date}&nbsp;
    <input class="form-control" data-type="date" name="end_date" type="text" id="end_date" size="15" value='{$end_date}'/>&nbsp;&nbsp;
    訂單號&nbsp;
    <input class="form-control" name="order_sn" type="text" id="order_sn" size="15" value="{$order_sn}">&nbsp;&nbsp;
    帳戶&nbsp;
    <select class="form-control" name="account">
      <option value="0">- 所有賬戶 -</option>
      {foreach from=$accounts item=account}
      <option value="{$account.account_id}"{if $account.account_id eq $filter.account} selected="selected"{/if}>{$account.account_name}</option>
      {/foreach}
    </select>&nbsp;&nbsp;
    付款方式&nbsp;
    <select class="form-control" name="payment_type">
      <option value="0">- 所有方式 -</option>
      {foreach from=$payment_types item=type}
      <option value="{$type.payment_type_id}"{if $type.payment_type_id eq $filter.payment_type} selected="selected"{/if}>{$type.payment_type_name}</option>
      {/foreach}
    </select>&nbsp;&nbsp;
    <input type="submit" name="submit" value="{$lang.query}" class="form-btn btn btn-success" />
  </form>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

<table class="table table-striped table-bordered bulk_action" id="#">
  <thead>
    <tr>
      <th data-id="purchase_payment_id" data-key="purchase_payment_id">{$lang.record_id}</th>
      <th data-id="add_date" data-value="add_date_formatted">加入日期</th>
      <th data-id="complete_date">完成日期</th>
      <th data-id="order_sn" data-url="erp_order_manage.php?act=view_order&amp;order_id={order_id}">訂單</th>
      <th data-id="amount" data-value="amount_formatted">金額</th>
      <th data-id="payment_type_name">付款方式</th>
      <th data-id="account_name">帳戶</th>
      <th data-id="operator">操作員</th>
      <th data-id="remark">備注</th>
      <th class="actionsCol" data-id="_action">操作</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

</div>

{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">

$table = yoho_dataTable();
function getList()
{
  $filter=[];
  var frm =  document.forms['TimeInterval'];
  $filter['start_date'] = frm.elements['start_date'].value;
  $filter['end_date'] = frm.elements['end_date'].value;
  $filter['order_sn'] = frm.elements['order_sn'].value;
  $filter['account'] = frm.elements['account'].value;
  $filter['payment_type'] = frm.elements['payment_type'].value;
  $table.search($filter);
}

function completeTransaction(txn_id)
{
  try
  {
    if (confirm('您確定要完成交易？'))
    {
      Ajax.call('accounting_report.php?is_ajax=1&act=complete_txn&txn_id=' + txn_id, '', ajaxResponse, 'GET', 'JSON');
    }
  }
  catch (e) { }
}

function deletePurchasePayment(purchase_payment_id)
{
  try
    {
      if (confirm('您確定要刪除此項交易？'))
      {
        Ajax.call('purchase_payments.php?is_ajax=1&act=delete&purchase_payment_id=' + purchase_payment_id, '', ajaxResponse, 'GET', 'JSON');
      }
    }
    catch (e) { }
}

function ajaxResponse(result)
{
  try
  {
    alert(result.message);
    if (!result.error)
    {
      // reload the list
      getList();
    }
  }
  catch (e) { }
}

</script>

