{include file="pageheader.htm"}

{insert_scripts files="actg.js"}
<link href="css/select2.min.css" rel="stylesheet" type="text/css" />

<form action="purchase_payments.php" method="post" name="form" class="tab-content form-horizontal form-label-left">
<div class=" x_panel">
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">訂單</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      訂單號：　{$order_sns}<br>
      總金額：　{$order_total_str}<br>
      已付金額：{$paid_str}<br>
      應付金額：{$due_str}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">操作員</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" name="operator" style="width: 280px;">
        <option value="">{$lang.select_please}</option>
        {foreach from=$salesperson_list item=salesperson}
        {if $salesperson eq $admin_name}<option selected="selected" value="{$admin_id}">{$salesperson}</option>{/if}
        {/foreach}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">帳戶</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="select2 types" name="actg_type_id" style="width: 100%"><option></option></select>
      <!-- <select class="form-control" name="account_id" style="width: 280px;">
        <option value="0">{$lang.select_please}</option>
        {foreach from=$accounts item=acc}
        <option value="{$acc.account_id}">{$acc.account_name} - {$acc.currency_name}</option>
        {/foreach}
      </select> -->
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">金額</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input class="form-control" id="amount" name="amount" type="text" style="width: 280px;" value="{$due}" readonly />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">全數付款</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="hidden" name="fully_paid" value="0">
      <input class="flat" type="checkbox" name="fully_paid" value="1" checked="checked">
      我確認這個訂單已全數付款
      <br>
      <span class="form-helper">如仍有尾數未付，請取消勾選這項</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">付款方式</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {foreach from=$payment_types item=type name=foo}
      <label>
        <input class="flat" type="radio" name="payment_type_id" value="{$type.payment_type_id}"{if $smarty.foreach.foo.first} checked="checked"{/if}>
        {$type.payment_type_name}
      </label>
      {/foreach}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">即時交易</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="hidden" name="completed" value="0">
      <input type="hidden" name="due" value="{$due}">
      <input class="flat" type="checkbox" name="completed" value="1" checked="checked">
      <br>
      <span class="form-helper">一般交易即時完成，支票/期票等可以取消勾選這項</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">銀行時間</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input name="bank_date" type="text" data-type="date" id="bank_date" size="22" value="" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">會計月份</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-inline">
        <select class="form-control" name="expense_year" type="text" id="expense_year">
          <option value="0"></option>
        </select> 年
        <select class="form-control" name="expense_month" type="text" id="expense_month">
          <option value="0"></option>
        </select> 月
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">備注</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <textarea class="form-control" name="remark"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="ln_solid"></div>
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <input type="hidden"  name="order_ids"  value="{$order_ids}" />
      <input type="hidden"  name="act"       value="batch_insert" />
      <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
    </div>
  </div>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
var due = parseFloat("{$due}");
$(function () {
  YOHO.actg.sanitizeAmountInput($('input[name="amount"]'));
  for(var i = (new Date()).getFullYear(); i >= 2017; i--)
    $('#expense_year').append('<option value="'+i+'">'+i+'</option>')
  for(var i = 1; i <= 12; i++)
    $('#expense_month').append('<option value="'+i+'">'+i+'</option>')
  $('#expense_year').val((new Date()).getFullYear());
  $('#expense_month').val((new Date()).getMonth()+1);
});

$('form[name=form]').submit(function(e) {
    if ($('input[name=fully_paid]:checked').length == 0) {
        alert("所有訂單必須全數付款");
        e.preventDefault();
    }
    if ($('select[name=account_id]').val() == '0') {
        alert("請選擇帳戶");
        e.preventDefault();
    }
})
$(function(){
  $('select.select2.types').select2({
      width: 'resolve',
      matcher: modelMatcher,
      placeholder: '{$lang.select_please}',
      allowClear: true,
      data: [
          {foreach from=$accounts item=type}
          {
            id: {$type.actg_type_id},
            text: '{$type.actg_type_code} - {$type.actg_type_name}',
            html: '<span class="parent">{$type.actg_type_code} - {$type.actg_type_name}</span>',
          },
          {/foreach}
      ],
      escapeMarkup: function(markup) {
          return markup;
      },
      templateResult: function(data) {
          return data.html;
      },
  })
})
function modelMatcher(e,t){if(t.parentText=t.parentText||"",""===$.trim(e.term))return t;if(t.children&&t.children.length>0){for(var r=$.extend(!0,{},t),n=t.children.length-1;n>=0;n--){var l=t.children[n];l.parentText+=t.parentText+" "+t.text,null==modelMatcher(e,l)&&r.children.splice(n,1)}return r.children.length>0?r:modelMatcher(e,r)}var a=(t.parentText+" "+t.text+(t.parent," "+t.parent)).toUpperCase(),h=e.term.toUpperCase();return a.indexOf(h)>-1?t:null}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}
{insert_scripts files="select2/select2.min.js"}