{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}

<div class="alert alert-danger alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
  </button>
  本頁只用作<strong>強制退回</strong>一般退款手續無法退回經微信支付/WeChat Pay支付的款項之用<br/>
  使用本頁時請確認本訂單的狀態是<strong>已退款</strong>, 但顧客仍未收到退款
</div>
{if !empty($error_msg)}
<div class="alert alert-danger alert-dismissible fade in" role="alert" id="error message">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
  </button>
  {$error_msg} 
</div>
{/if}
<div class=" x_panel">
  <div class="x_title">
    <h2>
      微信支付強制退款
    </h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <!-- payment list -->
    <form action="qfwechatpay_force_refund.php" method="post" name="form" class="tab-content form-horizontal form-label-left">
      <input name='order_id' value="{$order_id}" hidden>
      <input name='act' value="init_refund" hidden>
      <div class="form-div col-md-12 col-sm-12 col-xs-12 table-responsive">
          <div class="form-div">
              <h5 class="pull-left">支付交易列表</h5>
              <a href="qfwechatpay_force_refund.php?act=sync&order_id={$order_id}" class="btn btn-round btn-primary pull-right">更新支付狀態</a>
          </div>
          <table class="table table-striped table-bordered" id="wechat_force_refund_requests">
              <colgroup>
                  <col style="width: 20%">
                  <col style="width: 20%">
                  <col style="width: 13%">
                  <col style="width: 13%">
                  <col style="width: 24%">
              </colgroup>
              <thead>
                  <tr class="headings">
                      <th data-id="transaction_sn" data-key="transaction_sn" data-sort="0">微信支付交易 ID</th>
                      <th data-id="out_trade_no" data-key="out_trade_no" data-sort="0">支付 ID</th>
                      <th data-id="gateway_transaction_amount" data-key="gateway_transaction_amount" data-sort="0">交易額</th>
                      <th data-id="outstanding_amount" data-key="outstanding_amount" data-sort="0">未退款餘額</th>
                      <th data-id="action" data-key="action" data-sort="0">退款額(不可超出其對應交易餘額, 0 即本交易不做退款)</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
      </div>
      <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <button type="submit" class="btn btn-danger">退款</button>
      </div>
    </form>
  </div>

  <div class="x_content">
    <div class="form-div col-md-12 col-sm-12 col-xs-12 table-responsive">
      <div class="form-div">
          <h5 class="pull-left">退款申請摘要</h5>
      </div>
      <table class="table table-striped table-bordered">
          <colgroup>
          </colgroup>
          <thead>
              <tr class="headings">
                  <th>退款申請款項總額</th>
                  <th>已處理款項總額</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>HKD {$total_refund_request_amount}</td>
                  <td>HKD {$total_processed_refund_request_amount}</td>
              </tr>
          </tbody>
      </table>
      <div class="form-div">
          <h5 class="pull-left">微信支付退款紀錄</h5>
      </div>
      <table class="table table-striped table-bordered">
          <colgroup>
            <col style="width: 25%">
            <col style="width: 25%">
            <col style="width: 25%">
            <col style="width: 25%">
          </colgroup>
          <thead>
              <tr class="headings">
                <th>交易日期</th>
                <th>微信支付交易 ID</th>
                <th>退額交易 ID</th>
                <th>退款額</th>
              </tr>
          </thead>
          <tbody>
              {foreach from=$wechat_pay_refund_records item=wechat_pay_refund_record}
                <tr>
                  <td>{$wechat_pay_refund_record.gateway_request_datetime}</td>
                  <td>{$wechat_pay_refund_record.gateway_transaction_sn}</td>
                  <td>{$wechat_pay_refund_record.out_trade_no}</td>
                  <td>HKD {$wechat_pay_refund_record.gateway_transaction_amount}</td>
                </tr>
              {/foreach}
          </tbody>
      </table>
    </div>
  </div>
{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">
    yohoTable.deferLoading = "1";
    yohoTable.dataSet = {$transaction_summary|json_encode};
    yohoTable.paging = false;
    yohoTable.table_id = 'wechat_force_refund_requests';
    var $table = yoho_dataTable();
</script>
