{if $full_page}
{include file="pageheader.htm"}
{/if}
<!-- <script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script> -->
<!--  -->
{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<form method="post" action="" name="listForm" onsubmit="return confirmSubmit(this)">
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

    <table class="table table-striped table-bordered bulk_action" id="#">
      <tr>
        <th><a href="javascript:listTable.sort('quotation_id'); ">{$lang.record_id}</a>{$sort_quotation_id}</th>
        <th><a href="javascript:listTable.sort('created_at'); ">{$lang.created_at}</a>{$sort_created_at}</th>
        <th><a href="javascript:listTable.sort('quotation_sn'); ">{$lang.quotation_sn}</a>{$sort_quotation_sn}</th>
        <th><a href="javascript:listTable.sort('company_name'); ">{$lang.company_name}</a>{$sort_company_name}</th>
        <th><a href="javascript:listTable.sort('contact_name'); ">{$lang.contact_name}</a>{$sort_contact_name}</th>
        <th><a href="javascript:listTable.sort('contact_email'); ">{$lang.contact_email}</a>{$sort_contact_email}</th>
        <th><a href="javascript:listTable.sort('contact_tel'); ">{$lang.contact_tel}</a>{$sort_contact_tel}</th>
        <th><a href="javascript:listTable.sort('quotation_fee'); ">{$lang.quotation_fee}</a>{$sort_quotation_fee}</th>
        <th>{$lang.handler}</th>
      </tr>
      {foreach from=$list item=quotation}
      <tr>
        <td align="center">{$quotation.quotation_id}</td>
        <td align="center">{$quotation.created_at_formatted}</td>
        <td align="center">{$quotation.quotation_sn}</td>
        <td align="center">{$quotation.company_name}</td>
        <td align="center">{$quotation.contact_name}</td>
        <td align="center">{$quotation.contact_email}</td>
        <td align="center">{$quotation.contact_tel}</td>
        <td align="center">{$quotation.quotation_price_formatted}</td>
        <td align="center">
          <a href="quotation.php?act=info&id={$quotation.quotation_id}"  title="{$lang.view}"><img src="images/icon_view.gif" width="16" height="16" border="0" /></a>
          <a href="quotation.php?act=view_pdf&sn={$quotation.quotation_sn}"  title="檢視PDF" target="_blank"><img src="images/icon_output.gif" width="16" height="16" border="0" /></a>
        </td>

      </tr>
      {foreachelse}
      <tr>
        <td class="no-records" colspan="12">{$lang.no_records}</td>
      </tr>
      {/foreach}
    </table>
    <!-- page -->
    <table id="page-table" cellspacing="0">
      <tr>
        <td align="right" nowrap="true">{include file="page.htm"}</td>
      </tr>
    </table>
  </div>
</form>
{if $full_page}
</div>
<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  {foreach from = $filter item = item key = key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}
  onload = function()
  {
  startCheckOrder(); // 开始检查订单
  document.forms['listForm'].reset();
  }
  /**
   * @param: bool
   */
  function confirmSubmit(frm, ext)
  {
    if (frm.elements['type'].value == 'drop')
    {
      return confirm('{$lang.drop_confirm}');
    }
    else if (frm.elements['type'].value == 'export')
    {
      return confirm('{$lang.export_confirm}');
    }
    else if (frm.elements['type'].value == '')
    {
      return false;
    }
    else
    {
      return true;
    }
  }
  function changeAction()
  {
    var frm = document.forms['listForm'];
    if (!document.getElementById('btnSubmit').disabled &&
      confirmSubmit(frm, false))
    {
      frm.submit();
    }
  }
  {/literal}
</script>


{include file="pagefooter.htm"}
{/if}
