{include file="pageheader.htm"}
{insert_scripts files="topbar.js,../js/utils.js,listtable.js,selectzone.js,../js/common.js"}

<div class="list-div" style="margin-bottom: 5px">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td width="50%" valign="top" style="background-color: transparent;">
        <table class="table table-striped table-bordered bulk_action">
          <tr>
            <th colspan="4">{$lang.consignee_info}</th>
          </tr>
          <tr>
            <td nowrap="nowrap"><div align="right"><strong>公司名稱：</strong></div></td>
            <td>
              {$quotation.company_name|escape}
            </td>
            <td nowrap="nowrap"><div align="right"><strong>{$lang.label_consignee}</strong></div></td>
            <td>{$quotation.contact_name|escape}</td>
          </tr>
          <tr>
            <td nowrap="nowrap"><div align="right"><strong>{$lang.label_tel}</strong></div></td>
            <td>{$quotation.contact_tel|escape}</td>
            <td nowrap="nowrap"><div align="right"><strong>{$lang.label_email}</strong></div></td>
            <td>{$quotation.contact_email}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<div class="list-div" style="margin-bottom: 5px">
  <table class="table table-striped table-bordered bulk_action">
    <tr>
      <th colspan="{if $smarty.session.manage_cost}9{else}8{/if}" scope="col">{$lang.goods_info}</th>
    </tr>
    <tr>
      <td scope="col"><div align="center"><strong>{$lang.goods_name_brand}</strong></div></td>
      <td scope="col"><div align="center"><strong>{$lang.goods_sn}</strong></div></td>
      <td scope="col"><div align="center"><strong>{$lang.goods_price}</strong></div></td>
      <td scope="col"><div align="center"><strong>成本價</strong></div></td>
      <td scope="col"><div align="center"><strong>{$lang.goods_number}</strong></div></td>
      <td scope="col"><div align="center"><strong>{$lang.subtotal}</strong></div></td>
    </tr>
    {foreach from=$goods_list item=goods}
    <tr>
      <td>
        {if $goods.goods_id gt 0 && $goods.extension_code neq 'package_buy'}
        <a href="../goods.php?id={$goods.goods_id}" target="_blank"><img src="/{$goods.goods_thumb}" width="50px;"/>{$goods.goods_name}</a>
        {if $goods.brand_name}[ {$goods.brand_name} ]{/if}
        {if $goods.is_gift}{if $goods.goods_price > 0}{$lang.remark_favourable}{else}{$lang.remark_gift}{/if}{/if}
        {if $goods.parent_id > 0}{$lang.remark_fittings}{/if}
        {elseif $goods.goods_id gt 0 && $goods.extension_code eq 'package_buy'}
        <a href="javascript:void(0)" onclick="setSuitShow({$goods.goods_id})">{$goods.goods_name}<span style="color:#FF0000;">{$lang.remark_package}</span></a>
        <div id="suit_{$goods.goods_id}" style="display:none">
          {foreach from=$goods.package_goods_list item=package_goods_list}
          <a href="../goods.php?id={$package_goods_list.goods_id}" target="_blank">{$package_goods_list.goods_name}</a><br />
          {/foreach}
        </div>
        {/if}
        {if $goods.replaced_qty gt 0}<span style="color: red;"> (已換貨{$goods.replaced_qty}次)</span>{/if}
      </td>
      <td><a href="goods.php?act=list&amp;keyword={$goods.goods_sn}">{$goods.goods_sn}</a></td>
      <td><div align="right">{$goods.formated_goods_price}</div></td>
      <td><div align="right">{$goods.formated_cost}</div></td>
      <td><div align="right">{$goods.goods_number}</div></td>
      <td><div align="right">{$goods.formated_subtotal}</div></td>
    </tr>
    {/foreach}
    <tr>
      <td></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div align="right"><strong>{$lang.label_total}</strong></div></td>
      <td><div align="right">{$quotation.quotation_fee_formatted}</div></td>
    </tr>
  </table>
</div>
{include file="pagefooter.htm"}
