{if !$crm}
{include file="pageheader.htm"}
{/if}
{if $type }
<div class="alert alert-danger alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
  </button>
  {if $type eq 'whole_order_refund'}
    一經申請，訂單狀態將更新為待退款，訂單會無法出貨或取消。請勿使用本功能作一般退款！
  {elseif $type eq 'compensate'}
  售後為客人提供積分補償，不能作退款之用。
  {elseif $type eq 'edit_order'}
  手動進行退款申請
  {/if}
</div>
{/if}
<form action="refund_requests.php" method="post" name="form" class="tab-content form-horizontal form-label-left">
{if $crm}<input name="crm" value="1" type="hidden">{/if}
<div class=" x_panel">
  <div class="x_title">
    <h2>
      申請{if $type eq 'whole_order_refund'}全單取消{elseif $type eq 'compensate'}積分補償{else}退款{/if}
    </h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">申請人</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
 
        <select class="form-control"name="requester_id">
          <option value="">{$lang.select_please}</option>
          {foreach from=$salesperson_list item=salesperson}
          <option {if $crm}value="{$salesperson.user_id}" {if $salesperson.user_id eq $smarty.session.admin_id}selected{/if}{else}data-id="{$salesperson.user_id}" value="{$salesperson.user_id}"{/if}>{$salesperson.sales_name}</option>
          {/foreach}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">會員電話號碼</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input name="user_id" type="hidden" value="{$order_info.user_id}" />
        <input name="user_name" type="text" class="form-control" placeholder="例子： 61068885" value="{$order_info.user_name}" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">訂單號</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input name="order_id" type="hidden" value="{$order_id}" />
        <input name="order_sn" type="text" class="form-control" placeholder="例子： 2014082534838" value="{$order_sn}" />
      </div>
    </div>
    {if $type eq 'compensate'}
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">補償積分</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input name="integral_amount" type="text" class="form-control" value="0" />
        <input name="reason" type="hidden" value="compensate" />
      </div>
    </div>
    <input type='hidden' name='accounting' value='{$smarty.request.accounting}'>
    {else}
    {if $type eq 'whole_order_refund'}
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">退款方式</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input class="refund" class="form-control" name="refund_amount" type="hidden" value="0" readonly/>
        <input class="refund" class="form-control" name="integral_amount" type="hidden" value="0" readonly/>
        <div class="radio">
          <input class="flat" type="radio" name="method" id="refund_amount" data-amount="{$fixed_refund.money|default:0}"> 退還款項: {$fixed_refund.money|default:0}
          {if $order_type neq 'ws'}
          <input class="flat" type="radio" name="method" id="integral_amount" data-amount="{$fixed_refund.point|default:0}"> 退還積分: {$fixed_refund.point|default:0}
          {/if}
        </div>
      </div>
    </div>
    {else}
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">退還金額</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input name="refund_amount" class="form-control" type="number" value="0" min="0" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">退還積分</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input name="integral_amount" class="form-control" type="number" value="0" min="0" />
      </div>
    </div>
    <input type='hidden' name='accounting' value='{$smarty.request.accounting}'>
    {/if}
    {/if}
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">備注</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <textarea class="form-control" name="requester_remark"></textarea><br>
        {if $type eq 'whole_order_refund'}<input type="hidden" name="reason" value="whole_order_refund">{/if}
      </div>
    </div>
    {if $type eq 'edit_order' || $type eq 'whole_order_refund'}
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">退款資料</label>
      <div class="col-md-{if $crm}9{else}6{/if} col-sm-6 col-xs-12">
        <table >
        {if $txns}
          <div class="form-group">
            <div class="col-md-1 col-sm-1 col-xs-12"></div>
            <div class="col-md-6 col-sm-6 col-xs-12">交易編號</div>
            <div class="col-md-5 col-sm-5 col-xs-12">金額</div>
          </div>
          {foreach from=$txns item=txn key=key}
          <div class="form-group">
            <div class="col-md-1 col-sm-1 col-xs-12"><input type="checkbox" class="flat" name="transaction[]" value="{$txn.txn_id} ({$txn.txn_amount})" checked></div>
            <div class="col-md-6 col-sm-6 col-xs-12">{$txn.txn_id}</div>
            <div class="col-md-5 col-sm-5 col-xs-12">{$txn.txn_amount}</div>
          </div>
          {/foreach}
        {else}
          <div class="form-group">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class=" input-group">
                <div class="input-group-addon">銀行</div><input name="bank" type="text" class="form-control" value=""><input name="offline" type="hidden" value="1">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class=" input-group">
                <div class="input-group-addon">戶口</div><input name="bank_ac" type="text" class="form-control" value="">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class=" input-group">
                <div class="input-group-addon">持有人</div><input name="bank_user" type="text" class="form-control" value="">
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <input type="checkbox" class="flat" name="later" value="1"> 銀行資料後補</div>
            </div>
            {if $req > 0 && $type neq 'compensate'}
            <div class="form-helper red">
              * 此訂單含 <a target='_blank' href='refund_requests.php?act=list&order_sn={$order_sn}'>{$req}</a> 個尚未處理之退款申請
            </div>
            {/if}
          </div>
        {/if}
        </table>
      </div>
    </div>
    {/if}
    <div class="form-group">
      <div class="ln_solid"></div>
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <input type="hidden"  name="act"       value="insert" />
        <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
        <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
      </div>
    </div>
  </div>
</table>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
    loadOperatorFromLocalStorage();
}

function getOperatorSelect()
{
  var selects = document.getElementsByTagName('select');
  for (var i = 0; i < selects.length; i++)
  {
    if (selects[i].name == 'requester_id')
    {
      return selects[i];
    }
  }
  return null;
}
function checkOperator()
{
  var sel_operator = getOperatorSelect();
  
  if (!sel_operator || sel_operator.value == '')
  {
    alert('必須填寫申請人');
    return false;
  }
  return true;
}
function loadOperatorFromLocalStorage()
{
  if (window.localStorage)
  {
    var operator = window.localStorage.getItem('operator');
    if (operator)
    {
      var sel_operator = getOperatorSelect();
      if (sel_operator)
      {
        var requester_id = $(sel_operator).find("option:contains(" + operator + ")").val();
        if (requester_id) {
          sel_operator.value = requester_id;
        } else {
          sel_operator.value = $(sel_operator).find("option:contains({$admin_name})").val();
        }
      }
    }
  }
}
function saveOperatorToLocalStorage()
{
  $('input[name=requester_id]').val($('select[name=requester]').find(':selected').data('id'))
  if (window.localStorage)
  {
    var sel_operator = getOperatorSelect();
    if (sel_operator)
    {
      window.localStorage.setItem('operator', sel_operator.value);
    }
  }
}
{/literal}
//-->
var req = parseInt({$req});
$(function(){
  {if !$compensate}
  if(req > 0){
    alert("此訂單有 " + req + " 個尚未處理之退款申請，請完成所有退款再作申請");
    $('form .x_panel input,textarea,select').prop('disabled', true)
  }
  {/if}
  $(document).on('ifChanged', 'input[name=later]', function(e){
    var disable = false;
    if($(e.target).prop('checked'))
      disable = true;
    $('input[name^=bank]').prop('disabled', disable)
  })
  $(document).on('ifChanged', 'input[name=method]', function(e){
    $('input[class=refund]').val(0);
    $('input[name='+$(e.target).prop('id')+']').val($(e.target).data('amount'));
  })
  $('#refund_amount').prop('checked',true).change().trigger('ifChanged');
  $('input[name^=transaction]:last').prop('checked',true);
  $(document).on('change', 'input[name=whole_order_refund]', function(){
    $('input[name=reason]').val($('input[name=whole_order_refund]').prop('checked') ? 'whole_order_refund' : '');
  })
  $(document).on('submit','form', function(e){
    {if $fixed_refund.money eq 0 && $type neq 'compensate'}
    if(confirm('系統顯示此訂單可退款金額為0，你是否仍要繼續？')){
    {/if}
      $('input[name=Submit]').prop('disabled', true)
      if($('input[name^=transaction]').length > 0){
        if(!$('input[name^=transaction]:checked').val()){
          alert("請選擇交易編號")
          $('input[name=Submit]').prop('disabled', false)
          return false;
        }
      }
    {if $fixed_refund.money eq 0 && $type neq 'compensate'}
    }else{
      e.preventDefault();
    }
    {/if}
  })
})
{if $type neq 'whole_order_refund' && $type neq 'compensate' && $type neq 'edit_order'}
$(function(){
  $('form[name=form] input, form[name=form] select, form[name=form] textarea').prop('disabled', true);
  var html = "<div>種類<label class='radio-inline'><input name='type_refund' type='radio' value='refund'>退款</label><label class='radio-inline'><input name='type_refund' type='radio' value='compensate'>積分補償</label></div><br>訂單號<input class='form-control' type='text' name='select_order'><br><input name='done' class='btn btn-primary' type='button' value='確認'></div>";
  $popup = modal.create("訂單退款 / 積分補償", $(html), false, "sm");
  modal.show($popup);
  $(document).on('click', 'input[name=done]', function(){
    if($('input[name=select_order]').val().trim() != '' && $('input[name=type_refund]:checked').val()){
      location.href = "refund_requests.php?act=add&accounting=1&order_sn=" + $('input[name=select_order]').val() + "&" + $('input[name=type_refund]:checked').val() + "=1"
    }else{
      alert("請輸入申請種類及訂單號");
    }
  })
})
{/if}
</script>
{if !$crm}
{include file="pagefooter.htm"}
{/if}