{include file="pageheader.htm"}

<div class="row x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form action="refund_requests.php" method="post" name="form" class="form-inline">
        月份
        <select class="form-control" name="expense_year" id="expense_year">
            <option value="0">年份</option>
        </select>
        <select class="form-control" name="expense_month" id="expense_month">
            <option value="0">月份</option>            
        </select>
        <input type="hidden" name="act" value="month_report">
        <input type="submit" class="btn btn-primary" value="{$lang.query}">
    </form>
</div>
<div class="list-div row">
    <div class="col-md-4">
    <h3>總覽</h3>
    <table class="table table-striped table-bordered bulk_action">
        <thead>
            <tr>
                <th>帳戶</th>
                <th>金額</th>
            </tr>
        </thead>
        {foreach from=$list item=row}
        <tr>
            <td align="center"><a class="account" data-div="#{$row.account_id}" href="javascript:void(0)">{$row.account_name}</a></td>
            <td align="center">${$row.total_amount}</td>
        </tr>
        {foreachelse}
        <tr>
            <td align="center" colspan="2">{$lang.no_records}</td>
        </tr>
        {/foreach}
    </table>
    </div>
</div>
<br>
<hr>
{foreach from=$list item=row key=key}
{if $key % 3 eq 0}
<div class="list-div row">
{/if}
<div class="col-md-4" id="{$row.account_id}">
<p><b>{$row.account_name}</b></p>
<table class="table table-striped table-bordered bulk_action">
    <thead>
        <tr>
            <th>編號</th>
            <th>金額</th>
            <th>備注</th>
        </tr>
    </thead>
    {foreach from=$row.txns item=rec}
    <tr>
        <td align="center">{$rec.txn_id}</td>
        <td align="center">${$rec.amount}</td>
        <td align="center">{$rec.remark}</td>
    </tr>
    {/foreach}
</table>
</div>
{if $key % 3 eq 0}
</div>
{/if}
{/foreach}
</div>
{include file="pagefooter.htm"}
<script>
var year = {$expense_year|default:0}, month = {$expense_month|default:0};
$(function() {
    for(var i = (new Date()).getFullYear(); i >= 2017; i--)
        $('#expense_year').append('<option value="'+i+'">'+i+'</option>')
    for(var i = 1; i <= 12; i++)
        $('#expense_month').append('<option value="'+i+'">'+i+'</option>')
    $('#expense_year').val(year ? year : (new Date()).getFullYear());
    $('#expense_month').val(month ? month : (new Date()).getMonth()+1);
    $('.account').click(function(e){
        $($(e.target).data('div')).css({borderColor: 'red'});
        $('html,body').animate({scrollTop: $($(e.target).data('div')).offset().top}, 'slow');
        setTimeout(function(){
            $($(e.target).data('div')).css({borderColor: '#BBDDE5'})
        } , 2000)
    })
})
</script>
<style>
.list-div {
    transition: 1s;
}
</style>