
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form name="searchForm" action="javascript:searchRefunds()" method="post" name="form" class="form-inline">
        訂單編號
        <input class="form-control" type="text" name="order_sn" value="{$order_sn}">
        <input type="hidden" name="act" value="order_list">
        <input type="submit" class="btn btn-success" value="{$lang.query}">
    </form>
</div>

<table class="table table-striped table-bordered bulk_action" id="#">
    <thead>
        <tr class="headings">
            <th data-key="order_id" data-id="order_sn">相關訂單</th>
            <th data-id="request_time" data-value="request_date">申請日期</th>
            <th data-id="pay_name">退款方式</th>
            <th data-id="request_remark" data-sort="0">最新備注</th>
            <th data-id="refund_amount" data-value="refund_amount_formatted">總退款金額</th>
            <th data-id="integral_amount">總退還積分</th>
            <th class="actionsCol" data-id="_action">{$lang.handler}</th>
        </tr>
    </thead>
</table>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
yohoTable.query = 'query_order_list';
yohoTable.rowCallback = function($row, $data, $dataIndex) {
    $($row).find('.request_remark').html($data.request_remark.f);
    // highlight
   if($data.money_paid != $data.refund_amount) {
     $($row).addClass('danger');
   }
}
var $table = yoho_dataTable();
var modified = false;
var compensate = 0;
var $modal = {};
function retrieveRequest(order_sn, user_id){
    $.ajax({
        url: "refund_requests.php",
        dataType: 'json',
        data:{
            act: 'process_refund',
            order_sn:  order_sn
        },
        success: function(result){

            title = "<h2 style='text-align: center;'>訂單退款 - " + order_sn + "</h2>";
            content = '';
            var res = result.content;
            content += res.wait.length > 0 ? "<div class='refund_tab' id='tab_ref'><span style='font-size: 18px;'><b>退款處理</b></span><hr><span><span id='ref_count'>" + res.wait.length + "</span> 個未處理之退款申請</span></div>" : "";
            content += res.comp.length > 0 ? "<div class='refund_tab' id='tab_comp'><span style='font-size: 18px;'><b>積分補償</b></span><hr><span><span id='comp_count'>" + res.comp.length + "</span> 個未處理之積分補償</span></div>" : "";

            if(res.wait.length > 0){
                // List request not done
                content += "<div class='refund tab_content'><h3>未處理的退款申請</h3><div class='list-div'><table class='table  table-striped table-bordered'><tr class='row'><th style='display: none'><input id='check_all' type='checkbox'></th><th>申請人</th><th>申請日期</th><th>退款金額</th><th>退還積分</th><th>申請備注</th><th>類別</th><th>操怍</th></tr>"
                content = res.wait.reduce((p,c)=>p += "<tr class='row " + ((c.order_amount != c.refund_amount) ? 'danger' : '') + "'><td style='display: none' align='center'><input class='rr_check' type='checkbox' data-rid='" + c.rec_id + "' data-sn='" + c.order_sn + "' data-ra='" + c.refund_amount + "' data-ia='"+ c.integral_amount + "' data-uid='" + c.user_id + "'></td><td align='center'>" + c.requester + "</td><td align='center'>" + c.request_date + "</td><td align='center'><a href='javascript:void(0)' onclick='edit(this,\"edit_refund_amount\"," + c.rec_id + ")' data-val='" + c.refund_amount + "'>" + c.refund_amount_formatted + "</a></td><td align='center'><a href='javascript:void(0)' onclick='edit(this,\"edit_integral_amount\"," + c.rec_id + ")' data-val='" + c.integral_amount + "'>" + c.integral_amount + "</a></td><td align='center'><a href='javascript:void(0)' " +  (c.status != 2 ? "onclick='edit_remark(this)'" : '') + "   data-oid='" + c.order_id + "' data-id='" + c.rec_id + "' data-r='" + c.req_rem.r + "' data-t='" + (c.req_rem.t ? c.req_rem.t : '') + "' data-b='" + (c.req_rem.b ? c.req_rem.b : '') + "' data-a='" + (c.req_rem.a ? c.req_rem.a : '') + "' data-u='" + (c.req_rem.u ? c.req_rem.u : '') + "' data-rt='" + c.refund_type + "' data-i='" + c.integral_amount + "'>" + (c.req_rem.f ? c.req_rem.f : "N/A") + "</a></td><td align='center'>" + (c.refund_type == 3 ? "<span style='color:red'>" + c.type_text + "</span>" : c.type_text) + "</td><td align='center'><input class='btn btn-default reject' type='button' value='拒絕申請' data-rid='" + c.rec_id + "' data-oid='" + res.self_id + "'></td></tr>", content)
                content += "</table></div><br><div style='margin: 0 auto; text-align: center;'>" + ( (res.allow_refund) ? (!res.is_whole_refund || (res.is_whole_refund && res.allow_whole_order_refund) ? "<input id='confirm_amount' type='button' class='btn btn-primary' value='下一步' data-oid='" + res.self_id + "'>" : "<span style='color: red'> * 本訂單已出貨，無法進行全單退款</span>") : "<span style='color: red'> * 本訂單無法進行退款</span>") + "</div>"
                // Total refund amount
                content += "<div style='padding: 10px; border: 1px solid grey; width: 50%; margin: 0 auto;' class='operate'><table class='table table-striped table-bordered'><tr><td>總退款金額:</td><td><input type='number' class='form-control' id='tra' readonly style='border: none'></span></td></tr><tr><td>總退還積分:</td><td><input type='number' class='form-control' id='tia' readonly style='border: none'></span></td></tr>"
                // Set operator
                content += res.operator.reduce((p,c,i)=>p+="<option value='"+c.value+"'"+(c.value == res.self_id ? " selected" : "")+">"+c.name+"</option>","<tr class='operate'><th>跟進人</th><td><select class='form-control'  name='operator'>") + "</select></td></tr>";
                // Set payment method
                content += "<tr class='operate operate_refund'><td>退款方式</td><td><select class='form-control'  name='payment_method_id'>" + res.payment_methods.reduce((p,c,i)=>p += "<option value='"+c.payment_method_id + "'" + (c.is_default ? ' selected' : '') + ">" + c.payment_type_name + " - " + c.account_name + "</option>","") + "</select></td></tr>";
                // Remark
                content += "<tr class='operate'><th>備注</th><td><textarea name='operator_remark' style='width: 100%; height: 60px; resize: vertival;'></textarea></td></tr>";
                content += (res.is_refund_by_api === true) ? "<tr><td>退款途徑</td><td><select class='form-control' name='refund_thorough_method' style='display: table-row;'><option value='api' selected>直接退款(預設)</option>" + ( (res.is_refund_by_api_allow_manual_override === true) ? "<option value='manual'>平台手動退款</option>" : '') + "</select></td></tr>" : '';
                // Set order to refunded if refund type = 2
                content += res.allow_whole_order_refund && res.is_whole_refund ? "<tr class='operate operate_refund'><td></td><td><input name='whole_order_refund' type='hidden' value='1'> * 完成退款後將訂單設為「<span style='color:red'>已退款</span>」狀態</td></tr>" : "";
                content += "</table>" +  ( res.is_refund_by_api == 1 ? "<p class='api_refund_message_container' style='color:red;text-align:center'>*系統會即時直接進行退款,無需在相關平台進行手動退款</p>" : "" ) +  "<br><p style='text-align:center'><input id='cancel_amount' type='button' class='btn btn-primary' value='上一步'><input id='confirm_refund' class='btn btn-danger operate' type='button' value='退款'></p></div></div>";
            }

            if(res.comp.length > 0){
                // List cs compensate request
                compensate = res.comp.length;
                content += "<div class='compensate tab_content'><h3>未處理的積分補償</h3><div class='list-div'><table class='table  table-striped table-bordered'><tr><th>申請人</th><th>補償積分</th><th>申請日期</th><th>申請備注</th><th>操怍</th></tr>";
                content = res.comp.reduce((p,c)=>p += "<tr><td align='center'>" + c.requester + "</td><td align='center'>" + c.request_date + "</td><td align='center'><a href='javascript:void(0)' onclick='edit(this,\"edit_integral_amount\"," + c.rec_id + ")' data-val='" + c.integral_amount + "'>" + c.integral_amount + "</a></td><td align='center'><a href='javascript:void(0)' onclick='edit_remark(this)' data-oid='" + c.order_id + "' data-id='" + c.rec_id + "' data-r='" + c.req_rem.r + "' data-t='" + (c.req_rem.t ? c.req_rem.t : '') + "' data-b='" + (c.req_rem.b ? c.req_rem.b : '') + "' data-a='" + (c.req_rem.a ? c.req_rem.a : '') + "' data-u='" + (c.req_rem.u ? c.req_rem.u : '') + "' data-rt='" + c.refund_type + "' data-i='" + c.integral_amount + "'>" + (c.req_rem.f ? c.req_rem.f : "N/A") + "</a></td><td align='center'><input class='btn btn-danger reject reject_comp' type='button' value='拒絕' data-rid='" + c.rec_id + "' data-oid='" + res.self_id + "'><input class='btn btn-default approve' type='button' value='批准' data-rid='" + c.rec_id + "' data-oid='" + res.self_id + "' data-uid='" + c.user_id + "' data-ia='"+ c.integral_amount + "' data-sn='" + c.order_sn + "'></td></tr>",content);
                content += "</table></div><br></div>";
            }
            
            if(res.action.length > 0){
                // List order actions
                content += "<br><hr><h3>訂單紀錄</h3><div class='list-div'><table class='table  table-striped table-bordered'><tr><th>操作時間</th><th>訂單狀態</th><th>付款狀態</th><th>發貨狀態</th><th>操作者</th><th>備註</th></tr>";
                content = res.action.reduce((p,c,i)=>p+="<tr><td align='center'>" + c.action_time + "</td><td align='center'>" + c.order_status + "</td><td align='center'>" + c.pay_status + "</td><td align='center'>" + c.shipping_status + "</td><td align='center'>" + c.action_user + "</td><td align='center'>" + c.action_note + "</td></tr>", content);
                content += "</table></div>";
            }
            if(res.done && res.done.length > 0){
                // List finished request
                content += "<br><hr><h3>已處理之退款申請</h3><div class='list-div'><table class='table  table-striped table-bordered'><tr><th>編號</th><th>退款金額</th><th>退還積分</th><th>狀態</th><th>完成日期</th><th>跟進人</th><th>跟進備注</th></tr>"
                content = res.done.reduce((p,c,i)=>p+="<tr><td align='center'>" + c.rec_id + "</td><td align='center'>" + c.refund_amount_formatted + "</td><td align='center'>" + c.integral_amount + "</td><td align='center'>" + c.status_text + "</td><td align='center'>" + c.update_date + "</td><td align='center'>" + c.operator + "</td><td align='center'>" + (c.operator_remark ? c.operator_remark : "N/A") + "</td></tr>", content)
                content += "</table></div>"
            }
            /*
            $popup.append(content);
            $close = $('<p></p>');
            $close.css({
                'position': 'fixed',
                'top': 0,
                'text-align': 'right',
                'width': '95%'
            })
            $close.append("<input id='close' class='btn btn-primary' type='button' value='關閉'>");
            $popup.append($close);
            $('#close').click(function () {
                closePopup($popup, $backdrop);
                if(modified){
                    location.reload();
                }
            });*/
            $modal = modal.create(title, content);
            modal.show($modal);
            $('#check_all').prop('checked',true).change();
            $('.operate, #cancel_amount').hide();
            if(res.wait.length > 0){
                $('.compensate').hide();
                $('#tab_ref').addClass('active');
            }else if(res.comp.length > 0){
                $('#tab_comp').addClass('active');
            }
        }
    })
}

$(function(){
    $(document).on("change","#check_all",function(e){
        $('.rr_check:not(.lock)').prop('checked',$('#check_all').prop('checked')).change();
    })
    $(document).on('change','.rr_check',function(e){
        var tra = 0, tia = 0;
        $('.rr_check').get().map(function(v){
            $(v).prop('checked') ?(
                tra += Number($(v).data('ra')),
                tia += Number($(v).data('ia'))
            ) : true;
        })
        $('#tra').val(tra);
        $('#tia').val(tia);
    })
    $(document).on('click','#confirm_amount',function(e){
        if(parseFloat($('#tra').val()) <= 0 && parseInt($('#tia').val()) <= 0){
            alert("請選擇欲處理之退款申請")
        }else{
            $('.rr_check, #check_all, #confirm_amount, .reject:not(.reject_comp)').prop('disabled', true);
            // $('.rr_check:checked').get().map(function(v){
            //     $.ajax({
            //         url: 'refund_requests.php',
            //         method: 'post',
            //         data: {
            //             act: 'edit_status',
            //             id: $(v).data('rid'),
            //             oid: $(e.target).data('oid'),
            //             val: 2,
            //         }
            //     })
            // })
            $('#cancel_amount, #confirm_amount').toggle();
            $('.operate').fadeIn('fast')
            parseFloat($('#tra').val()) <= 0 ? $('.operate_refund').hide() : $('.operate_refund').fadeIn('fast');
        }
    })
    $(document).on('click','#cancel_amount',function(e){
        $('.rr_check, #check_all, #tra, #tia, #confirm_amount, .reject:not(.reject_comp)').prop('disabled', false);
        $('#cancel_amount, #confirm_amount').toggle();
        $('.operate').fadeOut('fast');
    })
    $(document).on('click','.reject',function(e){
        $.ajax({
            url: 'refund_requests.php',
            method: 'post',
            dataType: 'json',
            data: {
                act: 'edit_status',
                id: $(e.target).data('rid'),
                oid: $(e.target).data('oid'),
                val: 4
            },
            success: function(res){
                if(res.error){
                    alert('處理 #' + $(v).data('rid') + ' 失敗: ' + res.message)
                }else{
                    modified = true;
                    $($(e.target).parents('tr')).find('td:first .rr_check').addClass('lock');
                    $($(e.target).parents('tr')).find('td:first .rr_check').prop('checked', false).change();
                    $(e.target).parents('tr').click(function(){return false});
                    $(e.target).parents('tr').children('td').css('background','lightgrey')
                    $(e.target).parents('td').html('已拒絕');
                    $('#ref_count').text($('.rr_check:checked').length);
                    if($(e.target).hasClass("reject_comp")){
                        compensate--;
                        $('#comp_count').text(compensate);
                    }
                    if(parseFloat($('#tra').val()) <= 0 && parseInt($('#tia').val()) <= 0){
                        $('.compensate').fadeIn('fast');
                        $('.refund').fadeOut('fast');
                        $('#tab_comp').addClass('active');
                        $('#tab_ref').removeClass('active');
                        if(compensate == 0){
                            modal.hide($modal);
                            $table.draw();
                        }
                    }else if(!parseFloat($('#tra').val()) && !parseInt($('#tia').val())){
                        if(compensate == 0){
                            $('#close').click();
                        }
                    }
                }
            }
        })
    })
    $(document).on('click','#confirm_refund',function(e){
        var proceed = true;
        if(!$('select[name=operator]').val()){
            alert('請選擇跟進人');
            proceed = false;
        }
        let refund_route = $('select[name=refund_thorough_method] option:selected').val();
        var requests = $('.rr_check:checked').get();
        var handle_refund = function (index) {
            var v = requests[index];
            if(parseFloat($(v).data('ra')) > 0){
                $.ajax({
                    url: 'refund_requests.php',
                    dataType: 'json',
                    method: 'post',
                    data: {
                        act: 'order_refund',
                        rec_id: $(v).data('rid'),
                        oid: $('select[name=operator]').val(),
                        payment_method_id: $('select[name=payment_method_id]').val(),
                        whole_order_refund: $('input[name=whole_order_refund]').val(),
                        operator_remark: $('textarea[name=operator_remark]').val(),
                        refund_route: refund_route,
                    },
                    success: function(res){
                        if(res.error){
                            alert('處理 #' + $(v).data('rid') + ' 失敗: ' + res.message)
                            proceed = false;
                        }else{
                            modified = true;
                            $($(v).parents('tr')).find('td:first .rr_check').addClass('lock');
                            $($(v).parents('tr')).find('td:first .rr_check').prop('checked', false).change();
                            $(v).parents('tr').click(function(){return false});
                            $(v).parents('tr').children('td').css('background','lightgrey')
                            $($(v).parents('tr')).find('td:last').html('已完成');
                            $('#ref_count').text($('.rr_check:checked').length);
                        }
                        if(proceed && index < requests.length - 1){
                            handle_refund(index + 1);
                        }else if(proceed && index == requests.length - 1){
                            if(compensate == 0){
                                modal.hide($modal);
                                $table.draw();
                            }else{
                                $('.compensate').fadeIn('fast');
                                $('.refund').fadeOut('fast');
                                $('#tab_comp').addClass('active');
                                $('#tab_ref').removeClass('active');
                            }
                        }
                    }
                })
            }else if(parseInt($(v).data('ia')) > 0){
                $.ajax({
                    url: 'account_log.php',
                    method: 'post',
                    dataType: 'json',
                    data: {
                        act: 'insert',
                        ajax: 1,
                        refund_id: $(v).data('rid'),
                        user_id: $(v).data('uid'),
                        add_sub_pay_points: 1,
                        pay_points: $(v).data('ia'),
                        change_desc: '訂單 ' + $(v).data('sn') + ' 退款',
                    },
                    success: function(res){
                        $.ajax({
                            url: 'refund_requests.php',
                            dataType: 'json',
                            method: 'post',
                            data: {
                                act: 'order_refund',
                                rec_id: $(v).data('rid'),
                                oid: $('select[name=operator]').val(),
                                operator_remark: $('textarea[name=operator_remark]').val()
                            },
                            success: function(res){
                                if(res.error){
                                    alert('處理 #' + $(v).data('rid') + ' 失敗: ' + res.message)
                                    proceed = false;
                                }else{
                                    modified = true;
                                    $($(v).parents('tr')).find('td:first .rr_check').addClass('lock');
                                    $($(v).parents('tr')).find('td:first .rr_check').prop('checked', false).change();
                                    $(v).parents('tr').click(function(){return false});
                                    $(v).parents('tr').children('td').css('background','lightgrey')
                                    $($(v).parents('tr')).find('td:last').html('已完成');
                                    $('#ref_count').text($('.rr_check:checked').length);
                                }
                                if(proceed && index < requests.length - 1){
                                    handle_refund(index + 1);
                                }else if(proceed && index == requests.length - 1){
                                    if(compensate == 0){
                                        modal.hide($modal);
                                        $table.draw();
                                    }else{
                                        $('.compensate').fadeIn('fast');
                                        $('.refund').fadeOut('fast');
                                        $('#tab_comp').addClass('active');
                                        $('#tab_ref').removeClass('active');
                                    }
                                }
                            }
                        })
                    }
                })
            }
        }
        if(requests.length > 0 && proceed){
            $('#confirm_refund').prop('disabled', true);
            handle_refund(0);
        }else{
            $('#confirm_refund').prop('disabled', false);
        }
    })
    $(document).on('click','.approve',function(e){
        $.ajax({
            url: 'account_log.php',
            method: 'post',
            dataType: 'json',
            data: {
                act: 'insert',
                ajax: 1,
                refund_id: $(e.target).data('rid'),
                user_id: $(e.target).data('uid'),
                add_sub_pay_points: 1,
                pay_points: $(e.target).data('ia'),
                change_desc: '訂單 ' + $(e.target).data('sn') + ' 積分補償',
            },
            success: function(res){
                $.ajax({
                    url: 'refund_requests.php',
                    dataType: 'json',
                    method: 'post',
                    data: {
                        act: 'edit_status',
                        id: $(e.target).data('rid'),
                        oid: $(e.target).data('oid'),
                        val: 3,
                        log: '[系統備註] 完成積分補償 #' + $(e.target).data('rid')
                    },
                    success: function(res){
                        if(res.error){
                            alert('申請編號' + $(e.target).data('rid') + ':' + res.message)
                            proceed = false;
                        }else{
                            modified = true;
                            $(e.target).parents('tr').click(function(){return false});
                            $(e.target).parents('tr').children('td').css('background','lightgrey')
                            $($(e.target).parents('tr')).find('td:last').html('已完成');
                            compensate--;
                            $('#comp_count').text(compensate);
                            if(compensate == 0){
                                modal.hide($modal);
                                $table.draw();
                            }
                        }
                    }
                })
            }
        })
    });
    $(document).on('change', 'select[name=refund_thorough_method]', function (e) {
        let currentValue = $('select[name=refund_thorough_method] option:selected').val();
        let messageContainer = $('.api_refund_message_container');
        let message = '';

        if (currentValue == 'api') {
            message = '*系統會即時直接進行退款,無需在相關平台進行手動退款';
        }
        if (currentValue == 'manual') {
            message = '*請確認已經在相關平台完成手動退款方可繼續退款手續';
        }
        messageContainer.animate({opacity:0}).queue(function(){
               $(this).text(message).dequeue();
            }).animate({opacity:1});
    });

})

function gotoPage(page,sort_by,sort_order){
    if(!sort_by){
        sort_by = '{$filter.sort_by}';
    }
    if(!sort_order){
        sort_order = '{$filter.sort_order}';
    }
    $("#listDiv").load('refund_requests.php?act=order_list&page='+page+"&page_size="+$("#page_size").val()+"&sort_by="+sort_by+"&sort_order="+sort_order+" #listDiv")
}

function edit(elem, act, rec_id){
    var val = $(elem).data('val');
    var act_type = {
        "edit_refund_amount": "金額",
        "edit_integral_amount": "積分",
    }
    var edit_pane = "<table style='width: 100%;'><tr><td>原" + act_type[act] + "</td><td><input type='number' class='form-control' value='" + val + "' readonly></td></tr>";
    edit_pane += "<tr><td>新" + act_type[act] + "</td><td><input id='edit_value' type='number' class='form-control' value='" + val + "'></td></tr>";
    edit_pane += "<tr><td colspan='2'><input id='edit_confirm' type='button' class='btn btn-primary' value='確認'></td></tr></table>";
    $popup = modal.create("修改退還" + act_type[act], $(edit_pane), false, "sm");
    modal.show($popup);
    $('#edit_confirm').click(function(){
        var new_val = $('#edit_value').val();
        if((isNaN(new_val) && new_val != val) || (new_val >= 0 && parseFloat(new_val) != parseFloat(val))){
            $.ajax({
                url: 'refund_requests.php',
                method: 'post',
                dataType: 'json',
                data: {
                    act: act,
                    id: rec_id,
                    val: new_val
                },
                success: function(res){
                    if(res.error){
                        alert(res.message)
                    }else{
                        var success_value = act == "edit_refund_amount" ? res.content.toFixed(2) : res.content;
                        $(elem).data('val', success_value);
                        $(elem).html((act == "edit_refund_amount" ? "HK$ " : "") + success_value);
                        if(act == "edit_refund_amount" || act == "edit_integral_amount")
                            $('input[data-rid=' + rec_id + '].rr_check').data(act == "edit_refund_amount" ? "ra" : "ia", success_value);
                        $('.rr_check').change();
                        modal.hide($popup);
                    }
                }
            })
        }else{
            alert("請輸入新值");
        }
    });
}

function edit_remark(elem){
    var refund_type = $(elem).data('rt');
    var remark = $(elem).data('r');
    var txn = $(elem).data('t');
    var bank = $(elem).data('b');
    var ac = $(elem).data('a');
    var user = $(elem).data('u');
    var oid = $(elem).data('oid');
    var id = $(elem).data('id');
    var integral_amount = parseInt($(elem).data('i'));
    $.ajax({
        url: 'refund_requests.php',
        dataType: 'json',
        data: {
            act: 'get_pay_log',
            order_id: oid
        },
        success: function(res) {
            var remark_panel = '<table class="table table-striped table-bordered"><tr><td>備注</td><td><textarea class="form-control" name="requester_remark">' + remark + '</textarea><br></td></tr>';
            txn = txn == "銀行資料後補" ? '' : txn;
            if((refund_type == 0 || refund_type == 2 || refund_type == 3) && integral_amount == 0) {
                remark_panel += '<tr><td>退款資料</td><td><table class="table table-condensed">';
                if(bank != '' || ac != '' || user != '' || txn == ''){
                    remark_panel += '<tr><td style="width:100px">銀行</td><td style="width:150px">戶口</td><td style="width:150px">持有人</td></tr><tr><td><input name="bank" type="text" class="form-control" value="' + bank + '"><input name="offline" type="hidden" value="1"></td><td><input name="bank_ac" type="text" class="form-control" value="' + ac + '"></td><td><input class="form-control" name="bank_user" type="text" value="' + user + '"></td></tr><tr><td colspan="2"><input class="flat" type="checkbox" name="later" value="1">銀行資料後補</td></tr>';
                } else {
                    var pay_log = res.content;
                    remark_panel += pay_log.reduce(function(p,c){
                        var v = c.txn_id + ' (' + c.txn_amount + ')';
                        return p + '<tr><td><input class="flat" type="checkbox" name="transaction[]" value="' + v + '"' + (txn.split('###').indexOf(v) !== -1 ? ' checked' : '') + '></td><td>' + c.txn_id + '</td><td>' + c.txn_amount + '</td></tr>'
                    }, '')
                }
                remark_panel += '</table></td></tr>';
            }
            remark_panel += "<tr><td colspan='2' align='center'><input class='btn btn-primary' type='button' value='修改' name='edit_remark'></td></tr></table>";
            $popup = modal.create("修改申請備注", $(remark_panel), false, "md");
            modal.show($popup);

            if(bank == '' && ac == '' && user == '') $('input[name=later]').trigger("click");
            turn_on_icheck();

            $('input[name=edit_remark]').click(function(e){
                if($('input[name^=transaction]').length > 0 && $('input[name^=transaction]:checked').length == 0){
                    alert("請選擇交易編號")
                }else{
                    $.ajax({
                        url: 'refund_requests.php',
                        method: 'post',
                        dataType: 'json',
                        data: {
                            act: 'edit_requester_remark',
                            id: id,
                            bank: $('input[name=bank]').val(),
                            bank_ac: $('input[name=bank_ac]').val(),
                            bank_user: $('input[name=bank_user]').val(),
                            later: $('input[name=later]').prop('checked') ? 1 : 0,
                            requester_remark: $('textarea[name=requester_remark]').val(),
                            transaction: $('input[name^=transaction]:checked').get().map((v)=>$(v).val()).join('###'),
                            offline: (txn == '' && ($('input[name=bank]').val() != '' || $('input[name=bank_ac]').val() != '' || $('input[name=bank_user]').val() != '')) ? 1 : 0
                        },
                        success: function(res) {
                            if(res.error){
                                alert(res.message)
                            }else{
                                modal.hide($popup);
                                $(elem).data('a', res.content.a)
                                $(elem).data('b', res.content.b)
                                $(elem).data('r', res.content.r)
                                $(elem).data('t', res.content.t)
                                $(elem).data('u', res.content.u)
                                $(elem).text(res.content.f)
                            }
                        }
                    })
                }
            })
            $('input[name=later]').change();
        }
    })
}
$(document).on('ifChanged click', 'input[name=later]', function(e){
  $('td > input[type=text]').prop('disabled', $(e.target).prop('checked'))
})
function searchRefunds(){
    $filter = [];
    $filter['order_sn'] = document.forms['searchForm'].elements['order_sn'].value;
    $table.search($filter);
}
</script>
<style>
.list-div a:link{
    text-decoration: none;
}
.refund_tab{
    background: #BBDDE5;
    vertical-align: bottom;
    width: 200px;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 10px 5px 10px;
    opacity: 0.4;
    margin-bottom: -1px;
}
.refund_tab.active{
    opacity: 1;
}
.refund_tab + .refund_tab{
    margin-left: 5px;
}
.tab_content{
    border: 3px solid #BBDDE5;
    padding: 10px;
    border-radius: 5px;
}
hr {
    margin-top: 0px;
    margin-bottom: 0px;
}
#edit_confirm, #edit_cancel {
    margin-top: 5px;
}
</style>
