{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<style>
  .rr {
    cursor: pointer;
  }
</style>
<script type="text/javascript">
  var operator_options = {$operators|json_encode};
  var status_options = [
    {name:'未處理',value:'pending'},
    {name:'處理中',value:'processing'},
    {name:'已完成',value:'finished'},
    {name:'不處理',value:'rejected'}
  ];
</script>
<div class=" x_panel">
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form action="javascript:search()" method="post" name="searchForm" class="form-inline">
      訂單編號
      <input class="form-control" type="text" name="order_sn" value="{$order_sn}">
      備注
      <input class="form-control" type="text" name="remark" value="{$remark}">
      <input type="submit" class="form-btn btn btn-success" value="{$lang.query}">
    </form>
  </div>
  <div class="form-div col-md-12 col-sm-12 col-xs-12 table-responsive">
  <table class="table table-striped table-bordered" id="refund_requests">
    <thead>
      <tr class="headings">
        <th data-id="rec_id" data-key="rec_id">{$lang.record_id}</th>
        <th data-id="request_time" data-value="request_date">申請日期</th>
        <th data-id="requester">申請人</th>
        <th data-id="user_name" data-url="users.php?act=list&user_id={user_id}">會員</th>
        <th data-id="order_sn" data-url="order.php?act=list&order_sn={order_sn}">相關訂單</th>
        <th data-id="pay_name">支付方式</th>
        <th data-id="refund_payment_method_name">退款方式</th>
        <th data-id="refund_amount" data-value="refund_amount_formatted">退款金額</th>
        <th data-id="integral_amount">積分</th>
        <th data-id="req_rem" data-sort="0">備注</th>
        <th data-id="type_text" data-sort="0">退款原因</th>
        <th data-id="status_text" data-sort="0">狀態</th>
        <th data-id="update_time" data-sort="0" data-value="update_date">完成日期</th>
        <th data-id="operator">跟進人</th>
        <th data-id="operator_remark"{if $is_operator} data-edit="true"{/if}>跟進人備注</th>
      </tr>
    </thead>

  </table>
  </div>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
yohoTable.rowCallback = function($row, $data, $dataIndex) {
  $req_rem_td = $($row).find('.req_rem');
  if ($data.status == 1) {
    //$($row).addClass('blue');
    $html = '<span class="rr" data-id="'+$data.rec_id+'" data-oid="'+$data.order_id+'" data-r="'+$data.req_rem.r+'" data-t="'+$data.req_rem.t+'" data-b="'+$data.req_rem.b+'" data-a="'+$data.req_rem.a+'" data-u="'+$data.req_rem.u+'" data-rt="'+$data.refund_type+'" data-i="'+$data.integral_amount+'">'+$data.req_rem.f+'</span>';
  } else {
    $html = $data.req_rem.f;
  }
  $req_rem_td.html($html);
  if($data.status == 1)$req_rem_td = $($row).find('.status_text').addClass('label label-info');
  else if ($data.status == 2)$req_rem_td = $($row).find('.status_text').addClass('label label-danger');
  else if ($data.status == 3)$req_rem_td = $($row).find('.status_text').addClass('label label-primary');
  else if ($data.status == 4)$req_rem_td = $($row).find('.status_text').addClass('label label-default');

  // highlight
   if($data.order_amount != $data.refund_amount) {
     $($row).addClass('danger');
   }
}
var $table = yoho_dataTable();

function search() {
  $filter =[];
  $filter['remark'] = Utils.trim(document.forms['searchForm'].elements['remark'].value);
  $filter['order_sn'] = Utils.trim(document.forms['searchForm'].elements['order_sn'].value);
  // Set dynamic parameters for the data table
  $('#refund_requests').data('dt_params', $filter);

  // Redraw data table, causes data to be reloaded
  $table.draw();
}
$(function(){
  $(document).on('click', '.rr', function(e){
    var refund_type = $(e.target).data('rt');
    var remark = $(e.target).data('r');
    var txn = $(e.target).data('t') != 'undefined' ? $(e.target).data('t') : '銀行資料後補';
    var bank = $(e.target).data('b') != 'undefined' ? $(e.target).data('b') : '';
    var ac = $(e.target).data('a') != 'undefined' ? $(e.target).data('a') : '';
    var user = $(e.target).data('u') != 'undefined' ? $(e.target).data('u') : '';
    var oid = $(e.target).data('oid');
    var id = $(e.target).data('id');
    var integral_amount = parseInt($(e.target).data('i'));
    $.ajax({
      url: 'refund_requests.php',
      dataType: 'json',
      data: {
        act: 'get_pay_log',
        order_id: oid
      },
      success: function(res) {
        var remark_panel = '<table class="table table-striped table-bordered"><tr><td>備注</td><td><textarea class="form-control" name="requester_remark">' + remark + '</textarea><br></td></tr>';
        txn = txn == "銀行資料後補" ? '' : txn;
        if((refund_type == 0 || refund_type == 2 || refund_type == 3) && integral_amount == 0) {
          remark_panel += '<tr><td>退款資料</td><td><table class="table table-condensed">';
          if(bank != '' || ac != '' || user != '' || txn == ''){
            remark_panel += '<tr><td style="width:100px">銀行</td><td style="width:150px">戶口</td><td style="width:150px">持有人</td></tr><tr><td><input class="form-control" name="bank" type="text" style="width: 95%;" value="' + bank + '"><input name="offline" type="hidden" value="1"></td><td><input class="form-control" name="bank_ac" type="text" style="width: 95%;" value="' + ac + '"></td><td><input class="form-control" name="bank_user" type="text" style="width: 95%;" value="' + user + '"></td></tr><tr><td colspan="2"><input class="flat" type="checkbox" name="later" value="1"> 銀行資料後補</td></tr>';
          } else {
            var pay_log = res.content;
            remark_panel += pay_log.reduce(function(p,c){
              var v = c.txn_id + ' (' + c.txn_amount + ')';
              return p + '<tr><td><input class="flat" type="checkbox" name="transaction[]" value="' + v + '"' + (txn.split('###').indexOf(v) !== -1 ? ' checked' : '') + '></td><td>' + c.txn_id + '</td><td>' + c.txn_amount + '</td></tr>'
            }, '')
          }
          remark_panel += '</table></td></tr>';
        }
        remark_panel += "<tr><td colspan='2' align='center'><input class='btn btn-primary'type='button' value='修改' name='edit_remark'></td></tr></table>";
        $popup = modal.create('修改申請備注', $(remark_panel), true, 'md');
        modal.show($popup);
        if(bank == '' && ac == '' && user == '') $('input[name=later]').trigger("click");
        turn_on_icheck();

        $('input[name=edit_remark]').click(function(e){
          if($('input[name^=transaction]').length > 0 && $('input[name^=transaction]:checked').length == 0){
            alert("請選擇交易編號")
          }else{
            $.ajax({
              url: 'refund_requests.php',
              method: 'post',
              data: {
                act: 'edit_requester_remark',
                id: id,
                bank: $('input[name=bank]').val(),
                bank_ac: $('input[name=bank_ac]').val(),
                bank_user: $('input[name=bank_user]').val(),
                later: $('input[name=later]').prop('checked') ? 1 : 0,
                requester_remark: $('textarea[name=requester_remark]').val(),
                transaction: $('input[name^=transaction]:checked').get().map((v)=>$(v).val()).join('###'),
                offline: (txn == '' && ($('input[name=bank]').val() != '' || $('input[name=bank_ac]').val() != '' || $('input[name=bank_user]').val() != '')) ? 1 : 0
              },
              success: function(res) {
                if(res.error){
                  alert(res.message)
                }else{
                  $table.draw();
                  modal.hide($popup);
                }
              }
            })
          }
        })
      }
    })
  })
})
$(document).on('ifChanged click', 'input[name=later]', function(e){
  $('td > input[type=text]').prop('disabled', $(e.target).prop('checked'))
})
</script>