<!-- $Id: repay_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <table width="98%">
    <tr>
      <td colspan="2">{$repay.user_name}&nbsp;&nbsp;&lt;{$repay.email}&gt;</td>
    </tr>
    <tr>
      <td>{$lang.amount}:{$repay.amount}&nbsp;&nbsp;&lt;{$lang.user_money}:{$repay.user_money}&gt;</td><td align="right">{$repay.apply_time}</td>
    </tr>
    <tr>
      <td colspan="2"><hr color="#dadada" size="1"></td>
    </tr>
    <tr>
      <td colspan="2">{$repay.method}</td>
    </tr>

  </table>
  {if $repay.is_repayed}
  <ul>
    <li>{$repay.action_user}{$lang.from}{$repay.action_time}{$lang.reply}:<p>{$repay.action_note}</p></li>
  </ul>
  {/if}
</div>

<div class=" x_panel">
<form method="post" action="repay.php?act=action" name="theForm"  onsubmit="return validate()">
<table border="0" width="98%">
  <tbody>
  <tr>

    <td>{$lang.action_note}:</td>
    <td rowspan="2"><textarea name="action_note" cols="50" rows="2" wrap="VIRTUAL" id="msg_content">{$repay.action_note}</textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  {if $repay.is_repayed eq 1}
  <tr>
    <td>&nbsp;</td><td>{$lang.had_reply_content}</td>
  </tr>
  {/if}
  {if $repay.is_repayed eq 2}
  <tr>
    <td>&nbsp;</td><td>{$lang.have_reply_content}</td>
  </tr>
  {/if}
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="hidden" name="id" value="{$repay.rec_id}">
      {if $repay.is_repayed}
      <input name="modify" value="{$lang.button_modify}" type="submit" class="btn btn-primary">
      {else}
      <input type="hidden" name="amount" value="{$repay.user_amount}">
      <input type="hidden" name="user_id" value="{$repay.user_id}">
      <input name="dispose" value="{$lang.button_dipose}" type="submit" class="btn btn-primary">&nbsp;&nbsp;&nbsp;<input name="skip" value="{$lang.button_skip}" type="submit" class="btn btn-primary">
      {/if}
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
 </tbody>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['action_note'].focus();
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("action_note",  no_action_note);
    return validator.passed();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}