{include file="pageheader.htm"} {insert_scripts files="../js/utils.js"} {include file="includes/datatables_header.htm"}
<script type="text/javascript">
    var operator_options = {$operators|json_encode};

    var status_options = {$statusoptions|json_encode};

</script>
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <form action="javascript:searchOrder()" name="theForm" class="form-inline">
            選擇查看類型:&nbsp;&nbsp;
            <select class="form-control" name="mode">
                <option value="normal">正常</option>
                <option value="deleted">已封存</option>
            </select>&nbsp;&nbsp;
            <input class="form-control" name="ro_sn" type="text" id="ro_sn" size="15" value="{$ro_sn}">
            <input type="submit" value="{$lang.button_submit}" class="btn btn-success form-btn"/>
        </form>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
        <table class="table table-striped table-bordered bulk_action" id="#">
            <thead>
                <tr class="headings">
                    <th data-id="repair_id" data-key="repair_id">
                        {$lang.record_id}</th>
                    <th data-id="repair_sn">
                        維修號</th>
                    <th data-id="add_time" data-value="add_date">
                        開單日期</th>
                    <th data-id="order_sn">
                        相關訂單</th>
                    <th data-id="goods_thumb" data-url="../goods.php?id={goods_id}" data-type="image" data-sort="0">
                        維修產品</th>
                    <th data-id="goods_sn" data-url="goods.php?act=list&amp;keyword={goods_sn}">
                        產品貨號</th>
                    <th data-id="sum_qty" data-sort="0" data-url="erp_stock_inquiry.php?act=list&goods_sn={goods_sn}">於暫存倉庫存</th>
                    <th data-id="repair_fee" data-value="repair_fee_formatted" data-edit="1" data-type="price">
                        已收維修費</th>
                    <th data-id="contact_phone">
                        顧客聯絡</th>
                    <th data-id="operator">
                        開單員工</th>
                    <th data-id="remark" width="150">
                        開單備註</th>
                    <th data-id="operator2" data-edit="1" data-type="select" data-options="operator_options">
                        跟進人</th>
                    <th data-id="remark2" data-edit="1" width="100">
                        跟進備註</th>
                    <th data-id="pickup_time" data-value="pickup_date" data-edit="1" data-type="date">
                        取貨日期</th>
                    <th data-id="repair_order_status" data-edit="1" data-type="select" data-options="status_options">
                        狀態</th>
                    <th class="actionsCol" data-id="_action">{$lang.handler}</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
var status = {$statuslist|json_encode};
var status_list = status.split(',');
yohoTable.rowCallback = function ($row, $data, $dataIndex) {
  //console.log(status)
  $($row).find('.repair_order_status').html(status_list[$data.repair_order_status]);
  if($data.repair_order_status == 0)$($row).find('.repair_order_status').addClass('label label-primary');
  else if ($data.repair_order_status == 1)$($row).find('.repair_order_status').addClass('label label-primary');
  else if ($data.repair_order_status == 2)$($row).find('.repair_order_status').addClass('label label-danger');
  else if ($data.repair_order_status == 3)$($row).find('.repair_order_status').addClass('label label-warning');
  else if ($data.repair_order_status == 4)$($row).find('.repair_order_status').addClass('label label-success');
}
var $table = yoho_dataTable();
function newRepairOrder()
{
  window.open('/pos_repair.php');
}

function searchOrder()
{
  $filter = [];
  $filter.mode = document.forms['theForm'].elements['mode'].value;
  $filter.ro_sn = document.forms['theForm'].elements['ro_sn'].value;
  $table.search($filter);
}

$(function () {
  var $mouse_follower = null;
  var updateMouseFollowerPosition = function (e) {
    $mouse_follower.css({
      'left': (e.pageX + 10 + $mouse_follower.outerWidth() > $(window).width()) ? e.pageX - $mouse_follower.outerWidth() - 5 : e.pageX + 10,
      'top': (e.pageY + 10 + $mouse_follower.outerHeight() > $(window).height()) ? e.pageY - $mouse_follower.outerHeight() : e.pageY + 10
    });
  };
  $('.list-div').on('mouseenter', 'img.goods_thumb,img.action_icon', function(e) {
    if ($mouse_follower != null)
    {
      $mouse_follower.remove();
    }
    $mouse_follower = $('<div></div>');
    $mouse_follower.css({
      'position': 'absolute',
      'display': 'block',
      'background-color': 'white',
      'border': '1px solid #ccc',
      '-webkit-box-shadow': '1px 1px 2px 0px rgba(0,0,0,0.5)',
      '-moz-box-shadow': '1px 1px 2px 0px rgba(0,0,0,0.5)',
      'box-shadow': '1px 1px 2px 0px rgba(0,0,0,0.5)',
      'padding': '4px 8px'
    }).text($(this).data('title')).appendTo('body');
    if ($(this).hasClass('action_icon'))
    {
      $mouse_follower.css({'white-space': 'nowrap'});
    }
    updateMouseFollowerPosition(e);
  }).on('mousemove', 'img.goods_thumb,img.action_icon', function(e) {
    updateMouseFollowerPosition(e);
  }).on('mouseleave', 'img.goods_thumb,img.action_icon', function() {
    $mouse_follower.remove();
    $mouse_follower = null;
  });
});

function cellArchive($this) {
	// Create Delete confirm Modal
	var $delModal = "<div class='modal fade bs-example-modal-sm' id='dt-delModal' tabindex='-1' role='dialog' aria-hidden='true'>" +
		"<div class='modal-dialog modal-sm'>" +
		"<div class='modal-content'>" +
		"<div class='modal-header'>" +
		"<button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>×</span>" +
		"</button>" +
		"<h4 class='modal-title red' id='myModalLabel2'>封存</h4>" +
		"</div>" +
		"<div class='modal-body'>" +
		"<p>你確定要封存該項目?</p>" +
		"</div>" +
		"<div class='modal-footer'>" +
		"<button type='button' class='btn btn-default' data-dismiss='modal'>取消</button>" +
		"<button type='button' class='btn btn-primary' id='remove' >封存</button>" +
		"</div>" +
		"</div>" +
		"</div>" +
		"</div>";
	if ($('body').find('#dt-delModal').length == 0) {
		$('body').append($delModal);
		$('#dt-delModal #remove').click(function () {
			$('#dt-delModal').modal('hide');
			// ajax goto $url
			$.ajax({
				url: $(this).data('url'),
				type: 'POST',
				error: function (xhr) {
					alert('Ajax request 發生錯誤');
				},
				success: function (result) {
					//result = jQuery.parseJSON(jsondata);
					if (result.error > 0) {
						alert(result.message);
					} else {
						$table = $('body').find('table.dataTable ');
						if ($table.length > 0) {
							if($table.dataTable().length > 0) {
								$table.DataTable().draw(false);
							} else {
								location.reload();
							}
						}
						else window.location.href = result.content;
					}
				}
			});
			// window.location.href = $url;
		});
	}
	$('#dt-delModal #remove').data('url', $($this).data('url'))
	$('#dt-delModal').modal('show');
}

</script>