{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
<link href="styles/review.css" rel="stylesheet" type="text/css" /> 
<div class=" x_panel">
    <div class='row'>
            {foreach from=$items key=id item=name}
            <div class="col-md-3" style='width: 20%; padding: 10px;'>
                <div class="tile-stats">
                    <div class="count">
                        <div class='name'>{$name}</div>
                        <div class="count">
                            {$avg[$id]|default:-}
                            <span style="color: #72869B; font-size: 16px"> / 10</span>
                        </div>
                    </div>
                </div>
            </div>
            {/foreach}
            {if $admin_avg}
            <div class="col-md-1" style='width: 10%; margin-top: 30px;'>
                <button class="btn btn-default" type='button' id="showAdmin"><i class="fa fa-chevron-down"></i></button>
            </div>
            {/if}
            <div class="col-md-3" style='margin-top: 25px;'>
                <form>
                    <input type="hidden" name="act" value="list">
                    <select name='year'></select> 年
                    <select name='month'></select> 月
                    <button class="btn btn-info" type='submit' id="submit">查詢</button>
                </form>
            </div>
    </div>
    <div class='row' style='display: none' id="admin_stats">
        {foreach from=$admin_avg item=item}
        <div class="col-md-3">
            <div class="admin_stats">
                <p style="margin-top: 10px">
                    <img title="{$item.user_name}" class="task_avatar" src="{if $item.avatar}/{$item.avatar}{else}/uploads/avatars/default_60x60.png{/if}" width="40">
                    <span style="margin: 5px 0 0 0;">{$item.user_name}</span>
                </p>
                {foreach from=$items key=id item=name}
                <p {if $id eq 'score1'}style="margin: 5px 0 0 0;"{/if}>{$name}: {$item[$id]} / 10</p>
                {/foreach}
            </div>
        </div>
        {/foreach}
    </div>
    <table class="table table-striped table-bordered" id="reviews">
        <thead>
            <tr>
                <th data-id='review_id'>編號</th>
                <th data-id='user_id' data-value="user_name" data-sort="0">會員</th>
                <th data-id='complete' data-value="format_complete">提交日期</th>
                <th data-id='admin_id' data-value="avatar">負責人</th>
                <th data-id='score1' data-sort="0">服務態度</th>
                <th data-id='score2' data-sort="0">解決問題</th>
                <th data-id='comment' data-sort="0" style="width: 40%">其他意見</th>
            </tr>
    </table>
</div>

{include file="pagefooter.htm"}
<script>
    yohoTable.lengthMenu = [200, 250, 300];
    var $table = yoho_dataTable();
    $(document).on("click", "#showAdmin", function(e) {
        $('#admin_stats').toggle();
        $(this).find('.fa-chevron-up,.fa-chevron-down').toggleClass('fa-chevron-up fa-chevron-down');
    })
    $select_year = $("select[name=year]");
    $select_month = $("select[name=month]");
    for(var i = (new Date()).getFullYear(); i >= {$min_year}; i--) {
        $select_year.prepend('<option value="'+i+'">'+i+'</option>')
    }
    for(var i = 1; i <= 12; i++) {
        $select_month.append('<option value="'+i+'">'+i+'</option>')
    }
    $select_year.prepend('<option value="0">所有</option>')
    $select_month.prepend('<option value="0">所有</option>')
    $select_year.val({$smarty.request.year|default:0});
    $select_month.val({$smarty.request.month|default:0});
</script>