<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<script src="js/Chart.min.js"></script>
<script src="js/Chart.PieceLabel.min.js"></script>
<style>

.person_in_charge_notify {
    float: right;
    margin-bottom: 0px;
    position: relative;
    margin-right: 10px;
    margin-top: 5px;
}

.person_in_charge_notify .badge {
    position: absolute;
    top: -10px;
    left: 28px;
}

.bg-red {
    background: #FD495C !important;
}

.avatar {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}

</style>
<div class=" x_panel">
  <div class="form-div">
    <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
        <div style="text-align:right">
    </div>
    </form>
  </div>

  <div class="list-div x_panel" id="listDiv">
    <div class="x_title">
    <h2>RMA報告</h2>
   
     <div class="person_in_charge_notify">
         {foreach from=$issue_count_list item=issue_count}
         <div class="avatar issue-count-avatar" data-user-id="{$issue_count.user_id}"  data-source="avatar">
             <a target="_blank" href="erp_rma.php?act=list&person_in_charge={$issue_count.user_id}">
                 <img title="{$issue_count.user_name}" src="/{if $issue_count.avatar == ''}uploads/avatars/default_60x60.png{else}{$issue_count.avatar}{/if}">
             </a>
             <div class="badge {if $issue_count.issue_total <= 50 } bg-green {else}  {if $issue_count.issue_total <= 100 } bg-orange {else}  bg-red {/if} {/if}">{$issue_count.issue_total}</div>
         </div>
         {/foreach}
     </div> 
    <div class="clearfix"></div>
    </div>

    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fas fa-wrench"></i> RMA (本月新建立)</span>
            <div class="count">{$data.rma_count_new}</div>
            <span class="count_bottom">-</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fas fa-wrench"></i> RMA (本月已完成)</span>
            <div class="count">{$data.rma_count_solved}</div>
            <span class="count_bottom">-</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fas fa-wrench"></i> RMA (累積未解決)</span>
            <div class="count green">{$data.rma_count_unsolved_accumulate}</div>
            <span class="count_bottom">-</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fas fa-wrench"></i> RMA (最近30日新建立)</span>
            <div class="count">{$data.rma_count_new_30days_ago}</div>
            <span class="count_bottom"><i class="{if $data.rma_count_new_compare_last_30days >= 0} red {else} green {/if}">  {if $data.rma_count_new_compare_last_30days == 0} {else} {if $data.rma_count_new_compare_last_30days > 0} <i class="fas fa-arrow-up"></i> {else} <i class="fas fa-arrow-down"></i> {/if}{/if} {$data.rma_count_new_compare_last_30days}% </i> 相較於過去30日 </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fas fa-wrench"></i> RMA (最近30日已完成)</span>
            <div class="count">{$data.rma_count_solved_30days_ago}</div>
            <span class="count_bottom"><i class="{if $data.rma_count_solved_compare_last_30days >= 0} green {else} red {/if}"> {if $data.rma_count_solved_compare_last_30days == 0} {else} {if $data.rma_count_solved_compare_last_30days > 0} <i class="fas fa-arrow-up"></i> {else} <i class="fas fa-arrow-down"></i> {/if}{/if}{$data.rma_count_solved_compare_last_30days}% </i> 相較於過去30日</span>
        </div>

       

<canvas id="myChart" width="600" height="200"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');

var montly_label = [];
{foreach from=$monthly_data.new item=chart_data}
    montly_label.push('{$chart_data.label}');
{/foreach}

var montly_rma_count_create = [];
{foreach from=$monthly_data.new item=chart_data}
    montly_rma_count_create.push('{$chart_data.data}');
{/foreach}

var montly_rma_count_solved = [];
{foreach from=$monthly_data.finished item=chart_data}
    montly_rma_count_solved.push('{$chart_data.data}');
{/foreach}

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: montly_label,
        datasets: [{
            label: '# of RMA (New)',
            fill: false,
            data: montly_rma_count_create,
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        },{
            label: '# of RMA (Solved)',
            fill: false,
            data: montly_rma_count_solved,
            borderColor: [
                'rgba(63, 191, 63, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options : {
			spanGaps: false,
			elements: {
				line: {
					tension: 0.000001
				}
			},
			plugins: {
				filler: {
					propagate: false
				}
			},
			scales: {
				xAxes: [{
					ticks: {
						autoSkip: false,
						maxRotation: 0
					}
				}],
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
    		}
		}
});
</script>

    </div>
  </div>
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>RMA 十大維修產品 (90日內)</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Rank</th>
              <th>圖片</th>
              <th>貨號</th>
              <th>名稱</th>
              <th>跟進人</th>
              <th width="100px">維修次數</th>
            </tr>
          </thead>
          <tbody>
            {foreach from=$goods_top key=index item=goods}
            <tr>
              <th scope="row">{$goods.rank}</th>

              <td><a target="_blank" href="../goods.php?id={$goods.goods_id}"><img width=50px; src="../{$goods.goods_img}" /></a></td>
              <td><a target="_blank" href="goods.php?act=list&keyword={$goods.goods_sn}">{$goods.goods_sn}</a></td>
              <td>{$goods.goods_name}</td>
              <td> 
                <div class="avatar issue-count-avatar" data-user-id="57" data-source="avatar">
                    <img title="{$goods.goods_admin_name}" src="../{$goods.goods_admin_avatar}">
                </div>
              </td>
              <td>{$goods.repair_count}</td>
            </tr>
            {/foreach}
          </tbody>
        </table>

      </div>
    </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>RMA狀態比較</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <canvas id="rmaStatusChart" width="500" height="500"></canvas>
   
        <script>
        var ctx2 = document.getElementById("rmaStatusChart").getContext('2d');

        var status_label = [];
        {foreach from=$rma_status_data item=chart_data}
            status_label.push('{$chart_data.label}');
        {/foreach}
        
        var status_count = [];
        {foreach from=$rma_status_data item=chart_data}
            status_count.push('{$chart_data.status_count}');
        {/foreach}
        
        var montly_rma_count_solved = [];
        {foreach from=$monthly_data.finished item=chart_data}
            montly_rma_count_solved.push('{$chart_data.data}');
        {/foreach}

        var myChart = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: montly_label,
                datasets: [{
                    label: '# of RMA (New)',
                    fill: false,
                    data: status_count,
                    backgroundColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                }],
                labels: status_label
            },
            options : {
        			responsive:false,
                    legend: {
                      position: 'left',
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                var dataset = data.datasets[tooltipItem.datasetIndex];
                                console.log('tooltipItem',tooltipItem);
                                console.log('data',data);
                                console.log('dataset',dataset);
                                var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                                return parseFloat(previousValue) + parseFloat(currentValue);
                                });
                                console.log('total',total);
                                var currentValue = dataset.data[tooltipItem.index];
                                var percentage = Math.floor(((currentValue/total) * 100)+0.5);
                                var currentLabel = data.labels[tooltipItem.index];
                                return currentLabel + currentValue + ' (' + percentage + "%)";
                            }
                        }
                    }
        		}
        });
        </script>
      </div>
    </div>
    </div>

</div>
{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

var $table = yoho_dataTable();

</script>