<!-- $Id: role_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

<table class="table table-striped table-bordered bulk_action" id='list-table'>
  <thead>
  <tr>
    <th data-id="role_id" data-value="role_name" data-key="role_id" data-sort="0">{$lang.user_name}</th>
    <th data-id="role_describe" data-sort="0">{$lang.role_describe}</th>
    <th class="actionsCol" data-id="_action">{$lang.handler}</th>
  </tr>
</thead>
  <!-- {foreach from=$admin_list item=list}
  <tr>
    <td class="first-cell" >{$list.role_name}</td>
    <td class="first-cell" >{$list.role_describe}</td>
    <td align="center">
      <a href="role.php?act=edit&id={$list.role_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16"></a>&nbsp;&nbsp;
      <a href="javascript:;" onclick="listTable.remove({$list.role_id}, '{$lang.drop_confirm}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16"></a></td>
  </tr>
  {/foreach} -->
</table>
</div>
<script type="text/javascript" language="JavaScript">
  {literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
  yohoTable.paging = false;
  var $table = yoho_dataTable();
</script>
