<!-- $Id: role_info.htm 14216 2010-01-08 02:27:21Z liuhui $ -->
{include file="pageheader.htm"}

<form method="POST" action="role.php" name="theFrom">
<div class="list-div  x_panel">
<table class="table table-striped jambo_table">
  <tr>
    <td>{$lang.user_name}</td>
    <td>
      <input type="text" name="user_name" maxlength="60" value="{$user.role_name|escape}" size="34"/>{$lang.require_field}</td>
  </tr>
  <tr>
    <td>{$lang.role_describe}</td>
    <td>
    <textarea name="role_describe" cols="31" rows="6">{$user.role_describe|escape}</textarea>
{$lang.require_field}</td>
  </tr>
  <tr>
    <td>團隊(用於設定KPI Dashboard)</td>
    <td>
      <select class="form-control" onchange="" name="team_code">
        <option value="">{$lang.select_please}</option>
        {foreach from=$team_list key=t_value item=t_label}
        <option value="{$t_value}" {if $user.team_code eq $t_value} selected="selected" {/if}>{$t_label.role_name}</option>
        {/foreach}
      </select>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
    <input type="checkbox" id="is_autocreate_salesperson" name="is_autocreate_salesperson" value="1" {if $user.is_autocreate_salesperson==1} checked {/if}><label for="is_autocreate_salesperson"><b>啟用銷售員帳戶 </b></label><br><font style="color:grey">* 選擇此角色的新管理員, 系統會同時<b>自動建立銷售員帳戶</b><br>* 當管理員角色變更時, 銷售員帳戶也會相應被<b>啟用/停用</b><br>* 當取消此選項時, 所有此角色的銷售員帳戶也會相應被<b>停用</b><br>* 如需<b>停用個別銷售員帳戶</b>, 請直接編輯銷售員並更改「角色」</td>
  </tr>
  <tr><td>搜尋角色權限選項</td><td><input type="text" class="keywordFilter"/><br><font style="color:grey">* 只按關鍵字搜尋名稱及提示</font></td></tr>
    <tr style="text-align: center;">
      <td colspan="2">
        <select name="cat" id="cat" style="width: 10%">
        {foreach from=$list_menus item=menu key=key}
          {if $key neq "admin_home"}
            <option value="{$key}" {if $cat eq $key}selected{/if}>{$lang.$key}</option>
          {/if}
        {/foreach}
        </select>
      </td>
    </tr>
    {foreach from=$list_menus item=menu key=key}
    {if $key neq "admin_home"}
      {if $priv_arr[$key]}
      <tr class="category cat_{$key}" style="border-top: 1px solid #ddd;">
        <td width="18%" style="border-right: 1px solid #ddd;">通用權限</td>
        <td style="padding-left: 5px;">
        {foreach from=$priv_arr[$key] item=privs key=k}
          {foreach from=$privs item=priv key=k}
          {if $k}
          <div style="width:200px;float:left;margin-right:10px;">
          <label for="{$priv.action_code}" class="action_item" tipsdata="{$lang[$priv.action_code_alt]}">
            <input type="checkbox" name="action_code[]" value="{$priv.action_code}" id="{$priv.action_code}"  {if $priv.cando eq 1} checked="true" {/if} onclick="checkrelevance('{$priv.relevance}', '{$priv.action_code}')" title="{$list.relevance}"/>
            {$lang[$priv.action_code]} {if $priv.remarks eq "menu"}({$lang.memu_show}){/if} {if $lang[$priv.action_code_alt]}<img src='images/notice.gif'/>{/if}
          </label>
          </div>
          {/if}
          {/foreach}
        {/foreach}
        </td>
      </tr>
      {/if}
      {foreach from=$menu.children item=item key=k}
      {assign var=menu_priv value=$priv_arr.$k}
      <tr class="category cat_{$key}" style="border-top: 1px solid #ddd;">
        <td width="18%" valign="top" class="first-cell" style="border-right: 1px solid #ddd;">
          {if $menu_priv.priv_menu}
            {foreach from=$menu_priv.priv_menu item=priv}
            <div style="width:200px;float:left;margin-right:10px;">
            <label for="{$priv.action_code}" class="action_item" tipsdata="{$lang[$priv.action_code_alt]}">
              <input type="checkbox" name="action_code[]" value="{$priv.action_code}" id="{$priv.action_code}"  {if $priv.cando eq 1} checked="true" {/if} onclick="check('{$menu_priv.priv_list}',this);"/>
              {$lang[$priv.action_code]} {if $lang[$priv.action_code_alt]}<img src='images/notice.gif'/>{/if}
            </label>
            </div>
            {/foreach}
          {/if}
        </td>
        <td style="padding-left: 5px;">
        {if $menu_priv.priv}
          {foreach from=$menu_priv.priv item=priv}
          <div style="width:200px;float:left;margin-right:10px;">
          <label for="{$priv.action_code}" class="action_item" tipsdata="{$lang[$priv.action_code_alt]}">
            <input type="checkbox" name="action_code[]" value="{$priv.action_code}" id="{$priv.action_code}"  {if $priv.cando eq 1} checked="true" {/if} onclick="checkrelevance('{$priv.relevance}', '{$priv.action_code}')" title="{$priv.relevance}"/>
            {$lang[$priv.action_code]} {if $priv.remarks eq "menu"}({$lang.memu_show}){/if} {if $lang[$priv.action_code_alt]}<img src='images/notice.gif'/>{/if}
          </label>
          </div>
          {/foreach}
        {/if}
        </td>
      </tr>
      {/foreach}
    {/if}
  {/foreach}
  <tr>
    <td align="center" colspan="2" >
      <input type="submit"   name="Submit"   value="{$lang.button_save}" class="btn btn-primary" />&nbsp;&nbsp;&nbsp;
      <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
      <input type="hidden"   name="id"    value="{$user_id}" />
      <input type="hidden"   name="act"   value="{$form_act}" />
    </td>
  </tr>
</table>
</div>
</form>

{literal}
<script language="javascript">
function checkAll(frm, checkbox)
{
  for (i = 0; i < frm.elements.length; i++)
  {
    if (frm.elements[i].name == 'action_code[]' || frm.elements[i].name == 'chkGroup')
    {
      frm.elements[i].checked = checkbox.checked;
    }
  }
}

function check(list, obj)
{
  var frm = obj.form;

    for (i = 0; i < frm.elements.length; i++)
    {
      if (frm.elements[i].name == "action_code[]")
      {
          var regx = new RegExp(frm.elements[i].value + "(?!_)", "i");

          if (list.search(regx) > -1) {frm.elements[i].checked = obj.checked;}
      }
    }
}



$('.keywordFilter').on('keyup',function(){
  var keyword = $(this).val().toLowerCase();
  if(keyword=='') 
    $('.disableOnFilter').show();
  else
    $('.disableOnFilter').hide();
  $('.action_item').each(function(e,obj){
    if(keyword=='') {
      $(obj).show();
    }else{
      if(($(obj).attr('tipsdata') && $(obj).attr('tipsdata').toLowerCase().match(keyword,'i')) || $(obj).text().toLowerCase().match(keyword,'i')){
        $(obj).show();
      }else{
        $(obj).hide();
      }
    }
  });
});

$('.action_item').on('mouseover',function(e){
  if($(this).attr('tipsdata'))
    $(this).append( "<div style='display:inline-block;position:absolute;background:#fff;border:1px solid grey;margin-top:2em;margin-left:-2em;padding:1em'>"+$(this).attr('tipsdata')+"</div>" );
});
$('.action_item').on('mouseout',function(e){
  if($(this).find('div'))
    $(this).find('div').remove();
});

function checkrelevance(relevance, priv_list)
{
  if(document.getElementById(priv_list).checked && relevance != '')
  {
    document.getElementById(relevance).checked=true;
  }
  else
  {
    var ts=document.getElementsByTagName("input");
    
    for (var i=0; i<ts.length;i++)
    {
      var text=ts[i].getAttribute("title");

      if( text == priv_list) 
      {
        document.getElementById(ts[i].value).checked = false;
      }
    }
  }
}

$(document).ready(function() {
  $(".category").hide();
  $(".category.cat_01_richang").show();
});

$("#cat").change(function(){
	var select_cat = $(this).find(":selected").val();
	change_cat(select_cat)
});

function change_cat(cat){
  $(".category").hide();
  $(".category.cat_"+cat).show();
}

</script>
{/literal}
{include file="pagefooter.htm"}
