<!-- $Id: category_list.htm 17019 2010-01-29 10:10:34Z liuhui $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{insert_scripts files="popupdialog.js"}
<link href="../yohohk/css/jquery.cropit.css" rel="stylesheet" type="text/css" />
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
<form method="post" action="" name="listForm">

</form>
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered" id="category">
  <thead>
    <tr class="headings">
      <th data-id="rsp_id" data-key="rsp_id">{$lang.rsp_id}</th>
      <th data-id="rsp_sn">{$lang.rsp_sn}</th>
      <th data-id="order_sn" data-url="order.php?act=info&amp;order_id={order_id}">{$lang.order_sn}</th>
      <th data-id="consignee" data-edit="true">{$lang.consignee}</th>
      <th data-id="tel" data-edit="true">{$lang.tel}</th>
      <th data-id="address" data-edit="true">{$lang.address}</th>
      <th data-id="create_from" data-value="create_from_text">{$lang.create_from}</th>
      <th data-id="remark" data-sort="0"data-edit="true">{$lang.remark}</th>
      <th data-id="status"  data-order="1" data-orderby="asc" data-value="status_text">{$lang.status}</th>
      <th class="actionsCol" data-id="_action" data-sort="0">{$lang.handler}</th>
    </tr>
  </thead>
  <tbody>
  </tbody>

</table>
</div>

{include file="pagefooter.htm"}
<script language="JavaScript">
yohoTable.rowCallback = function (row, data, dataIndex) {
    if(data.status == 1) {
        $(row).find('.status').addClass('label label-info');
    } else if (data.status == 2) {
        $(row).find('.status').addClass('label label-primary');
    } else if (data.status == 3) {
        $(row).find('.status').addClass('label label-success');
    } else{
        $(row).find('.status').addClass('label label-default');
    }

};
var $table = yoho_dataTable();
<!--
{literal}

{/literal}
//-->
</script>

