{include file="pageheader.htm"}
<!-- jQuery Smart Wizard -->
<style>
div.form-box{
    text-align: center;
}
</style>
<script src="js/jquery.smartWizard.js"></script>
{if $error_list}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <div class='section'>
        {foreach from=$undo_list item=sn}
            {$sn}{if $error_list[$sn]} - {$error_list[$sn]} {/if}<br>
        {/foreach}
    </div>
</div>
{/if}
<div class="x_panel">
    <div class="x_title">
        <h4>{$ur_here}</h4>
        <div class="clearfix"></div>
    </div>
    <div class="x_content" id="step-div">
        <!-- Smart Wizard -->
        <div id="wizard" class="form_wizard wizard_horizontal">
            <ul class="wizard_steps" id="wizard_steps">
                <li>
                    <a href="#" class="{if $status >= 1}selected{else}disabled{/if}">
                    <span class="step_no">1</span>
                    <span class="step_descr">
                        {$status_text[1]}
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="{if $status >= 2}selected{else}disabled{/if}">
                    <span class="step_no">2</span>
                    <span class="step_descr">
                        {$status_text[2]}
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="{if $status >= 3}selected{else}disabled{/if}">
                    <span class="step_no">3</span>
                    <span class="step_descr">
                        {$status_text[3]}
                    </span>
                    </a>
                </li>
            </ul>
            <div id="rsp_info" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 form-horizontal">
                <table class="table table-border table-striped">
                    <tbody>
                        <tr>
                            <td><label class="control-label">{$lang.create_at}</label></td>
                            <td><label class="control-label">{$rsp.create_date_format}</label></td>
                            <td><label class="control-label">{$lang.create_from}</label></td>
                            <td><label class="control-label">{$rsp.create_from_text}</label></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">{$lang.order_sn}</label></td>
                            <td colspan="3"><label class="control-label">{$rsp.order_sn}</label></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">{$lang.consignee}</label></td>
                            <td><label class="control-label">{$rsp.consignee}</label></td>
                            <td><label class="control-label">{$lang.tel}</label></td>
                            <td><label class="control-label">{$rsp.tel}</label></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">{$lang.address}</label></td>
                            <td colspan="3"><label class="control-label">{$rsp.address}</label></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">{$lang.buy_total}</label></td>
                            <td colspan="3">
                                <!--{foreach from=$rsp.buy_total item=buy key=cat_id}-->
                                <div class="input-group">
                                    <label class="control-label">{$cat_list[$cat_id]} {$buy} 件</label>
                                </div>
                                <!--{/foreach}-->
                            </td>
                        </tr>
                        {if $status >= 2}
                        <tr>
                            <td><label class="control-label">{$lang.collection_total}</label></td>
                            <td {if $status < 3}colspan="3"{/if}>
                                <!--{foreach from=$rsp.collection_total item=cc key=cat_id}-->
                                <div class="input-group">
                                    <label class="control-label">{$cat_list[$cat_id]} {$cc} 件</label>
                                </div>
                                <!--{/foreach}-->
                            </td>
                            {if $status >= 3}
                            <td><label class="control-label">{$lang.real_collection_total}</label></td>
                            <td>
                                <!--{foreach from=$rsp.real_collection_total item=cc key=cat_id}-->
                                <div class="input-group">
                                    <label class="control-label">{$cat_list[$cat_id]} {$cc} 件</label>
                                </div>
                                <!--{/foreach}-->
                            </td>
                            {/if}
                        </tr>
                        <tr>
                            <td><label class="control-label">{$lang.collection_name}</label></td>
                            <td><label class="control-label">{$rsp.collection_name}</label></td>
                            <td><label class="control-label">{$lang.call_from}</label></td>
                            <td><label class="control-label">{$rsp.call_from_text}</label></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">{$lang.appointed_collection_date}</label></td>
                            <td {if $status < 3}colspan="3"{/if}><label class="control-label">{$rsp.appointed_collection_date_format}</label></td>
                            {if $status >= 3}
                            <td><label class="control-label">{$lang.collection_date}</label></td>
                            <td><label class="control-label">{$rsp.collection_date}</label></td>
                            {/if}
                        </tr>
                        {/if}
                        <tr>
                            <td><label class="control-label">{$lang.remark}</label></td>
                            <td colspan="3"><label class="control-label">{$rsp.remark}</label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="x_panel" id="step-1" style="{if $status neq 1}display:none;{/if}">
    <div class="x_title">
        <h4>Step 1</h4>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form method="post" id="rsp_step_1" enctype="multipart/form-data" class="tab-content form-horizontal form-label-left">
            <div class="form-box col-md-6 col-xs-12">
                <label class="col-md-12 col-sm-12 col-xs-12">{$lang.collection_total}</label>
                <!--{foreach from=$cat_list item=cat key=cat_id}-->
                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$cat}</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group">
                            <input type="number" class="form-control col-md-6 col-xs-6" name="nr_cat[{$cat_id}]" value="{$rsp.collection_total[$cat_id]}" />
                            <div class="input-group-addon">件</div>
                        </div>
                    </div>
                </div>
                <!--{/foreach}-->
                <div class="clearfix"></div>
            </div>
            <div class="form-box col-md-6 col-xs-12 form-group">
                <label class="col-md-12 col-sm-12 col-xs-12">{$lang.collection_info}</label>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.collection_name} <span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" required class="form-control col-md-6 col-xs-6" name="collection_name" value="歐綠保"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.call_from}</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select type="text" class="form-control col-md-6 col-xs-6" name="call_from">
                            <!--{foreach from=$from_option item=label key=v}-->
                            <option value="{$v}">{$label}</option>
                            <!--{/foreach}-->
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.appointed_collection_date} <span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12"><input required data-type='date' type="text" class="form-control col-md-6 col-xs-6" name="appointed_collection_date"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.remark}</label>
                    <div class="col-md-6 col-sm-6 col-xs-12"><textarea class="form-control col-md-6 col-xs-6" name="remark"></textarea></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <div class="ln_solid"></div>
                <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-4">
                    <input type="hidden" name="rsp_id" value="{$rsp.rsp_id}" />
                    <input type="submit" value="已通知" class="btn btn-primary" />
                    <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
                    <input type="hidden" name="status" value="{$status}" />
                    <input type="hidden" name="act" value="step" />
                    <a href="rsp_record.php?act=cancel&id={$rsp.rsp_id}" class="btn btn-danger" >放棄服務</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="x_panel" id="step-2" style="{if $status neq 2}display:none;{/if}">
    <div class="x_title">
        <h4>Step 2</h4>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form method="post" id="rsp_step_2" enctype="multipart/form-data" class="tab-content form-horizontal form-label-left">
            <!--{foreach from=$cat_list item=cat key=cat_id}-->
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.real_collection_total} - {$cat}</label>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="input-group">
                        <input type="number" class="form-control col-md-6 col-xs-6" name="nr_cat[{$cat_id}]" max="{$rsp.collection_total[$cat_id]}" value="{$rsp.collection_total[$cat_id]}" />
                        <div class="input-group-addon">/{$rsp.collection_total[$cat_id]} 件</div>
                    </div>
                </div>
            </div>
            <!--{/foreach}-->
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.collection_date} <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12"><input required data-type='date' value="{$today}" type="text" class="form-control col-md-6 col-xs-6" name="collection_date"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.remark}</label>
                <div class="col-md-6 col-sm-6 col-xs-12"><textarea class="form-control col-md-6 col-xs-6" name="remark">{$rsp.remark}</textarea></div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <div class="ln_solid"></div>
                <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-4">
                    <input type="hidden" name="rsp_id" value="{$rsp.rsp_id}" />
                    <input type="submit" value="已收集" class="btn btn-primary" />
                    <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
                    <input type="hidden" name="status" value="{$status}" />
                    <input type="hidden" name="act" value="step" />
                    <a href="rsp_record.php?act=cancel&id={$rsp.rsp_id}" class="btn btn-danger" >放棄服務</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End SmartWizard Content -->
{include file="pagefooter.htm"}
<script>
$.fn.serializefiles = function() {
    var obj = $(this);
    /* ADD FILE TO PARAM AJAX */
    var formData = new FormData();
    $.each($(obj).find("input[type='file']"), function(i, tag) {
        $.each($(tag)[0].files, function(i, file) {
            formData.append(tag.name, file);
        });
    });
    var params = $(obj).serializeArray();
    $.each(params, function (i, val) {
        formData.append(val.name, val.value);
    });
    return formData;
};
var $step = {$status};
if($step >= 4) $step = $step - 1;
if($step >= 5) $step = 4;
var can_send_mail_list = [];
$('#step-'+$step).show();
</script>