<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<style>
    .finish_hide{
        margin-top: 5px;
    }
    div#list_info {
        box-sizing: border-box;
        padding: 10px;
        color: red;
    }
    #import_table .id, #import_table .country_code, #import_table .zip_code, #import_table .price{
        width: 5%;
        float: left;
    }
    #import_table .consignee, #import_table .phone, #import_table .sa_number {
        width: 10%;
        float: left;
    }
     #import_table .email {
        float: left;
        width: 15%;
     }
    #import_table .address {
        width: 20%;
        float: left;
    }
    #import_table .goods {
        width: 15%;
        float: left;
    }
    div#import_table {
        display: flow-root;
    }
    .loading{
        background: rgba(0, 0, 0, 0.26);
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        display: none;
    }
    .loading>div {
        width: 200px;
        padding: 10px;
        background: #EEF8F9;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 15px;
        text-align: center;
        margin: auto;
        position: absolute;
        border: 1px solid red;
    }
    .list_header>div {
        float: left;
        line-height: 24px;
        white-space: nowrap;
        text-align: center;
        border: 1px solid #eeeeee;
        border-bottom: 0px;
        border-top: 0px;
        min-width: 40px;
        box-sizing: border-box;
        padding: 5px 10px;
        background: rgba(52, 73, 94, 0.94);
        color: white;
    }
    .list_header, div#list_content, .order_row {
        min-width: 800px;
        float: left;
        width: 100%;
    }
    .list_header {
        width: calc(100% - 17px);
    }
    div#list_content{
        overflow-y: scroll;
        max-height: 601px;
        margin-bottom: 10px;
    }
    .list_header>div:first-child, .order_row>div:first-child {
        border-left: 0px;
    }
    .list_header>div:last-child, .order_row>div:last-child {
        border-right: 0px;
    }
    .list_header:after {
        content: "";
        width: 17px;
        height: 24px;
        position: absolute;
    }
    .order_row {
        display: flex;
        flex-direction: row;
    }
    .order_row:last-child {
        border-bottom: 1px solid #eeeeee;
    }
    .order_row>div{
        display: table-cell;
        border: 1px solid #eeeeee;
        border-bottom: 0px;
        min-width: 40px;
        box-sizing: border-box;
        padding: 5px;
        word-break: break-all;
        min-height: 50px;
    }
    .error {
        display:none;
    }
    .finish_show{
        display: none;
    }

</style>

{insert_scripts files="../js/utils.js"}
<div class=" x_panel">
    <form method="post" id="sa_batch_upload" name="sa_batch_upload" enctype="multipart/form-data" class="form-horizontal sa_batch_step_1 finish_hide">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <div class="form-inline ">
                銷售人員:
                <select class="form-control" name="salesperson" id="salesperson">
                    <!-- {foreach from=$salespeople item=salesperson} -->
                    <option>{$salesperson.sales_name}</option>
                    <!-- {/foreach} -->
                </select>
                代理銷售：
                <select class="form-control" id="sa_select" name="sa_select">
                    <option value="-1">{$lang.select_please}</option>
                    <!-- {foreach from=$sales_agents item=sales_agent name=foo} -->
                    <option value="{$sales_agent.sa_id}" {if $sales_agent.sa_id eq 3}selected="selected"{/if}>{$sales_agent.name}</option> <!-- sa_id = 3 : Asia Miles Hard code-->
                    <!-- {/foreach} -->
                </select>
                代理訂單號前述: <input class="form-control" name="sa_header" type="text" value="ASIA MILES ICLP "/>
            </div>
        </div>
        <div class="section form-group col-md-3 col-sm-3 col-xs-12">
            <input class="form-control" name='act' class="file" value='am_upload' type='hidden'>
            <input name='import' class="file" value='1' type='hidden'>
            <input class="form-control" name="import_excel" class="file" type="file" accept=".xls,.xlsx">
        </div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-6">
                <input id="upload" class="btn btn-primary" type="button" value="上傳">
            </div>
        </div>
    </div>
    </form>
    <div id="list_info" class="list-div">
        <span style="color:red;">請檢查下列訂單資料有否錯誤，錯誤訂單將不會進行操作</span></br>
        <span>＊＊<span style="color:green;">綠色</span>電話代表新用戶, <span style="color:blue;">藍色</span>代表現有用戶</span>
    </div>
    <div id='import_table' class="list-div" style="display:none;">
        <div class="list_header">
            <div class="id">編號(Excel)</div>
            <div class="consignee">收貨人名稱</div>
            <div class="phone">電話</div>
            <div class="country_code">國家</div>
            <div class="zip_code">郵遞區號</div>
            <div class="address">地址</div>
            <div class="email">電郵</div>
            <div class="goods">產品</div>
            <div class="price">價錢</div>
            <div class="sa_number">代理訂單號</div>
        </div>
        <div class="list_content" id="list_content">
        </div>
        <div class="finish_hide form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-6">
                <input id="batch_create" class="btn btn-primary" type="button" value="批量生成訂單">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="finish_show">
        <form id="download_xls" action="sa_batch_order.php" type="POST" method="POST" target="_blank" enctype="multipart/form-data">
            <p style="text-align:center"><input id="download_record" class="btn btn-primary" type="button" value="下載成功訂單記錄"></p>
            <input name='act' class="file" value='download_record' type='hidden'>
        </form>
    </div>
    <div class="loading">
        <div>批量生成訂單中...請稍等數分鐘</div>
    </div>
</div>
{literal}
<script language="JavaScript">
var prepare_list = [];
var finish_list  = [];
var fail_listed  = [];
(function($) {
    $.fn.serializefiles = function() {
        var obj = $(this);
        /* ADD FILE TO PARAM AJAX */
        var formData = new FormData();
        $.each($(obj).find("input[type='file']"), function(i, tag) {
            $.each($(tag)[0].files, function(i, file) {
                formData.append(tag.name, file);
            });
        });
        var params = $(obj).serializeArray();
        $.each(params, function (i, val) {
            formData.append(val.name, val.value);
        });
        return formData;
    };
    $('#upload').click(function(){
        // TODO: Asia Miles Only
        if($( "#sa_select option:selected" ).val() != 3) {
            alert('此功能暫時只開放Asia Miles');
        } else {
            $('#upload').prop('disabled', true);
            $.ajax({
                url: 'sa_batch_order.php',
                type: 'POST',
                dataType: 'JSON',
                processData: false,
                contentType: false,
                data: $('#sa_batch_upload').serializefiles(),
                success: function(res){
                    $('#upload').prop('disabled', false);
                    $('#list_content').html('');
                    if(res.status == 1) {
                        $.each(res.format_data, function (key, order) {

                            // row
                            var order_row = document.createElement("div");
                            order_row.className = "order_row";

                            // id
                            var div = document.createElement("div");
                            div.innerHTML = parseInt(key) + 2;// excel start by 2
                            div.className = 'id';
                            div.setAttribute("id", "eid");
                            order_row.append(div);
                            var is_error = false;
                            $.each(order, function (o_key, value) {

                                if(o_key == 'goods') {
                                    var goods = '';
                                    $.each(value, function (goods_id, goods_info) {
                                        goods += goods_info['goods_name']+" x "+goods_info['qty']+'('+goods_info['commission rate']+'%)';
                                        var div = document.createElement("div");
                                        div.innerHTML = goods;
                                        div.className = o_key;
                                        order_row.append(div);
                                        // Price
                                        var div = document.createElement("div");
                                        div.innerHTML = goods_info['Price'];
                                        div.className = 'price';
                                        order_row.append(div);

                                    });
                                } else if (o_key == 'not_show') {

                                }  else if (o_key == 'error') {
                                    order_row.className = "order_row error_row bg-sa";
                                    is_error = true;
                                } else {
                                    var div = document.createElement("div");
                                    div.innerHTML = value;
                                    div.className = o_key;
                                    order_row.append(div);
                                }
                            });
                            (is_error) ? $('#list_content').prepend(order_row) : $('#list_content').append(order_row);
                        });
                        $('.order_row.error_row').sort(function (a, b) {
                            var contentA =parseInt($(a).children('#eid').html());
                            var contentB =parseInt($(b).children('#eid').html());
                            return (contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0;
                        }).prependTo($('#list_content'));
                        $('#import_table').show();
                        prepare_list = res.format_data;
                    } else {
                        alert(res.error);
                    }
                }
            })
        }
    });
    $('#batch_create').click(function(){
        $('#batch_create').prop('disabled', true);
        $('body input, body button').prop('disabled', true);
        //$('.loading').show();
        $.ajax({
            url: 'sa_batch_order.php?act=batch_create_order',
            type: 'POST',
            dataType: 'JSON',
            data: {
                'prepare_list': JSON.stringify(prepare_list),
                'sa_id': $( "#sa_select option:selected" ).val(),
                'salesperson': $( "#salesperson option:selected" ).val()
            },
            success: function(res){
                $('.loading').hide();
                if(res.status == 1) {
                    $('.finish_hide').hide();
                    $('#list_content').html('');
                    var failed_list = res.failed_list;
                    if(failed_list) {
                        $.each(res.failed_list, function (key, order) {
                            // row
                            var order_row = document.createElement("div");
                            order_row.className = "order_row error_row";

                            // id
                            var div = document.createElement("div");

                            div.innerHTML = parseInt(key) + 2;// excel start by 2
                            div.innerHTML += '('+order.error+')';
                            div.className = 'id';
                            order_row.append(div);

                            $.each(order, function (o_key, value) {
                                if(o_key == 'goods') {
                                    var goods = '';
                                    $.each(value, function (goods_id, goods_info) {
                                        goods += goods_info['goods_name']+" x "+goods_info['qty']+'('+goods_info['commission rate']+'%)';
                                        var div = document.createElement("div");
                                        div.innerHTML = goods;
                                        div.className = o_key;
                                        order_row.append(div);
                                        // Price
                                        var div = document.createElement("div");
                                        div.innerHTML = goods_info['Price'];
                                        div.className = 'price';
                                        order_row.append(div);
                                    });
                                } else if (o_key == 'not_show' || o_key == 'error') {

                                } else {
                                    var div = document.createElement("div");
                                    div.innerHTML = value;
                                    div.className = o_key;
                                    order_row.append(div);
                                }
                            });
                            $('#list_content').append(order_row);
                        });
                        $('.list_header').css('width', '100%');
                        $('#list_info').html('失敗列表');
                    } else {
                        $('#list_info').hide();
                        $('#import_table').hide();
                    }
                    $('.finish_show').show();

                    finish_list = res.success_order;
                    $('#download_xls input').prop('disabled', false);
                    $('#download_record').click(function(){
                        var from = $('#download_xls');
                        $('<input>').attr({
                            type: 'hidden',
                            name: 'extra',
                            value: JSON.stringify(finish_list)
                        }).appendTo('#download_xls');
                        $('<input>').attr({
                            type: 'hidden',
                            name: 'sa_id',
                            value: $( "#sa_select option:selected" ).val()
                        }).appendTo('#download_xls');
                        from.submit();
                    });
                    $('#download_record').trigger('click');
                } else {
                    alert(res.error);
                    $('#list_info').html(res.error);
                    $('body input, body button').prop('disabled', false);
                }
            }
        }); // $.ajax
    });
})(jQuery);
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}