{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<div class=" x_panel">
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
  {$lang.start_date}&nbsp;
    <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    {$lang.end_date}&nbsp;
    <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    銷售人員&nbsp;
    <input class="form-control" name="salesperson" type="text" id="salesperson" size="15" value='{$salesperson}'>&nbsp;&nbsp;
    <input type="submit" name="submit" value="{$lang.query}" class="btn btn-success form-btn" />
  </form>
</div>
<form method="POST" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
  <table class="table table-striped table-bordered bulk_action">
     <tr>
      <th>銷售人員</th>
      <th>訂單編號</th>
      <th>訂單日期</th>
      <th>產品名稱</th>
      <th>產品售價</th>
      <th>售出數量</th>
      <th>產品佣金</th>
      <th>佣金</th>
      <th>按比例扣除支付折扣</th>
      <th>可得佣金</th>
    </tr>
  {foreach from=$commission_list item=list}
    <tr align="center">
      <td>{$list.salesperson}</td>
      <td><a href="order.php?act=info&order_id={$list.order_id}">{$list.order_sn}</a></td>
      <td>{$list.order_date}</td>
      <td align="left"><a href="/goods.php?id={$list.goods_id}">{$list.goods_name}</a></td>
      <td align="right">{$list.goods_price}</td>
      <td align="right">{$list.goods_number}</td>
      <td align="right">{$list.goods_commission}</td>
      <td align="right">{$list.original_commission_formatted}</td>
      <td align="right">{$list.pay_discount_formatted}</td>
      <td align="right">{$list.commission_amount_formatted}</td>
    </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
  <table id="page-table" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
  </table>
{if $full_page}
</div>
</form>
</div>
<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
listTable.query = 'query_detail';
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  getDownUrl();
}

function getList()
{
    var frm =  document.forms['TimeInterval'];
    listTable.filter['start_date'] = frm.elements['start_date'].value;
    listTable.filter['end_date'] = frm.elements['end_date'].value;
    listTable.filter['salesperson'] = frm.elements['salesperson'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
    getDownUrl();
}

function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
  for (var i = 0; i < aTags.length; i++)
  { 
    if (aTags[i].href.indexOf('download') >= 0)
    {
      if (listTable.filter['start_date'] == "")
      {
        var frm =  document.forms['TimeInterval'];
        listTable.filter['start_date'] = frm.elements['start_date'].value;
        listTable.filter['end_date'] = frm.elements['end_date'].value;
      }
      aTags[i].href = "sale_commission.php?act=download_detail&start_date=" + listTable.filter['start_date'] + "&end_date=" + listTable.filter['end_date'] + "&salesperson=" + listTable.filter['salesperson'];
    }
  }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}