<!-- $Id: favourable_info.htm 14361 2008-04-07 09:26:17Z zhuwenyuan $ -->
{include file="pageheader.htm"}
{insert_scripts files="validator.js,../js/transport_jquery.js,i18n.js"}
<div class=" x_panel">
<form class="form-horizontal form-label-left" method="post" action="" name="theForm" enctype="multipart/form-data" onSubmit="return validate()" class="">
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.operation_date}</label>
    <div class="col-md-2 col-sm-9 col-xs-12">
      <input class="form-control" type="text" value="{$operation_date}" size="40" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.shop}</label>
    <div class="col-md-2 col-sm-6 col-xs-12">
        <select class="form-control col-md-2 col-sm-6 col-xs-12" name="shop_id" >
            {foreach from=$shop_list item=shop}
              <option value="{$shop.id}" >{$shop.name}</option>
            {/foreach}
        </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.operation_type}</label>
    <div class="col-md-2 col-sm-6 col-xs-12">
        <select class="form-control col-md-2 col-sm-6 col-xs-12" name="operation_type" onchange="changeOperationType(this);">
          <option value="income">{$lang.operation_type_income}</option>
          <option value="expenses">{$lang.operation_type_expenses}</option>
        </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.operation_reason}</label>
    <div class="col-md-2 col-sm-6 col-xs-12">
        <select class="form-control col-md-2 col-sm-6 col-xs-12" name="operation_reason" id="operation_reason" onchange="changeOperationReason(this);" >
          <option value="0">{$lang.select_please}</option>
          <option value="operation_reason_other">{$lang.operation_reason_other}</option>
        </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" id="operation_remarks_text">{$lang.operation_remarks}</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input class="form-control" name="operation_desc" id="operation_remarks" size="40" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.operation_account}</label>
    <div class="col-md-2 col-sm-6 col-xs-12">
        <select class="form-control col-md-2 col-sm-6 col-xs-12" name="operation_account" >
          <option value="C1">{$lang.c1}</option>
          <option value="C2">{$lang.c2}</option>
          <option value="D">{$lang.d}</option>
        </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.operation_operater}</label>
    <div class="col-md-2 col-sm-6 col-xs-12">
        <select class="form-control col-md-2 col-sm-6 col-xs-12" name="user_id">
          <option value="0">{$lang.select_please}</option>
          {foreach from=$salesperson_list key=user_id item=salesperson}
            <option value="{$user_id}" >{$salesperson}</option>
          {/foreach}
        </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.operation_amount}</label>
    <div class="col-md-2 col-sm-6 col-xs-12">
        <input class="form-control" name="operation_amount" id="operation_amount" type="text"  value="{$favourable.act_tag}" size="40" />
    </div>
  </div>

  <div class="form-group">
    <div class="ln_solid"></div>
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <input type="submit" class="btn btn-primary" value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="balance_operation_submit" />
      <input type="hidden" name="id" value="{$favourable.act_id}" />
    </div>
  </div>
</form>
</div>

{literal}
<script language="JavaScript">

function changeOperationReason($e)
{
  var $reason = $($e).find("option:selected").val();
  var operation_remarks_text = "{$lang.operation_remarks}";
  var operation_desc_name = "operation_desc";
  if($reason == "operation_reason_bank"){
    operation_remarks_text = "{$lang.bank_name}";
    operation_desc_name = "bank_name";
  }
  else if($reason == "operation_reason_supplier"){
    operation_remarks_text = "{$lang.supplier_name}";
    operation_desc_name = "supplier_name";
  }

  $("#operation_remarks_text").text(operation_remarks_text);
  $("#operation_remarks").attr("name", operation_desc_name);

}

function changeOperationType($e)
{
  var $type = $($e).find("option:selected").val();
  var opt = "";
  if($type == "income"){
    opt += '<option value="0">{$lang.select_please}</option>';
    opt += '<option value="operation_reason_other">{$lang.operation_reason_other}</option>';
  }
  else{
    opt += '<option value="0">{$lang.select_please}</option>';
    opt += '<option value="operation_reason_bank">{$lang.operation_reason_bank}</option>';
    opt += '<option value="operation_reason_expenses">{$lang.operation_reason_expenses}</option>';
    opt += '<option value="operation_reason_supplier">{$lang.operation_reason_supplier}</option>';
    opt += '<option value="operation_reason_other">{$lang.operation_reason_other}</option>';
  }
  $("#operation_reason").html(opt);
}

</script>
{/literal}
{include file="pagefooter.htm"}
