<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<div class="x_panel">
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
  {$lang.start_date}&nbsp;
    <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    {$lang.end_date}&nbsp;
    <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    訂單類型&nbsp;
    <label><input name="order_type" type="radio" value="0"{if $order_type eq 0} checked="checked"{/if}>普通訂單</label>&nbsp;&nbsp;
    <label><input name="order_type" type="radio" value="5"{if $order_type eq 5} checked="checked"{/if}>展場訂單</label>&nbsp;&nbsp;
    <label><input name="order_type" type="radio" value="1"{if $order_type eq 1} checked="checked"{/if}>批發訂單</label>&nbsp;&nbsp;
    <label><input name="order_type" type="radio" value="2"{if $order_type eq 2} checked="checked"{/if}>借貨訂單</label>&nbsp;&nbsp;
    <label><input name="order_type" type="radio" value="3" id="order_type_sa" {if $order_type eq 3} checked="checked"{/if}>代理銷售訂單</label>&nbsp;&nbsp;
    <input type="submit" id="submit" name="submit" value="{$lang.query}" class="btn btn-primary" />
    {insert name=daterange_group}
  </form>
</div>
<form method="POST" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
  <table class="table table-striped table-bordered bulk_action">
     <tr>
      <th>銷售人員</th>
      <th>訂單總數</th>
      <th>訂單總額</th>
      {if $display_sa_th}
      <th style="width: 200px;">實際訂單總數(扣除手續費)</th>
      {/if}
      <th>成本總額</th>
      <th>盈利總額</th>
      {if $display_sa_th}
      <th style="width: 200px;">實際盈利總額(扣除手續費)</th>
      {/if}
      <th>盈利率</th>
      {if $display_sa_th}
      <th style="width: 150px;">實際盈利率(扣除手續費)</th>
      {/if}
    </tr>
  {foreach from=$profit_list item=list}
    <tr align="center">
      <td>{if $list.salesperson neq 'Total'}<a href="sale_profit.php?act=detail&start_date={$start_date}&end_date={$end_date}&salesperson={$list.salesperson}&order_type={$order_type}">{if $list.salesperson neq ''}{$list.salesperson}{else}無{/if}</a>{else}總數{/if}</td>
      <td align="right">{$list.orders}</td>
      <td align="right">{$list.volume}</td>
      {if $list.display_sa }
      <td align="right" style="color: blue;">{$list.sales_agent_price_format}</td>
      {/if}
      <td align="right">{$list.cost}</td>
      <td align="right">{$list.profit}</td>
      {if $list.display_sa }
      <td align="right" style="color: blue;">{$list.sales_agent_price_profit_format}</td>
      {/if}
      <td align="right">{$list.profit_margin}</td>
      {if $list.display_sa }
      <td align="right" style="color: blue;">{$list.sales_agent_price_margin_format}</td>
      {/if}
    </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
  <table id="page-table" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
  </table>
{if $full_page}
</div>
</form>
</div>
<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  getDownUrl();
}

function getList()
{
    var frm =  document.forms['TimeInterval'];
    listTable.filter['start_date'] = frm.elements['start_date'].value;
    listTable.filter['end_date'] = frm.elements['end_date'].value;
    listTable.filter['order_type'] = frm.elements['order_type'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
    getDownUrl();
}

function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
  for (var i = 0; i < aTags.length; i++)
  { 
    if (aTags[i].href.indexOf('download') >= 0)
    {
      if (listTable.filter['start_date'] == "")
      {
        var frm =  document.forms['TimeInterval'];
        listTable.filter['start_date'] = frm.elements['start_date'].value;
        listTable.filter['end_date'] = frm.elements['end_date'].value;
        listTable.filter['order_type'] = frm.elements['order_type'].value;
      }
      aTags[i].href = "sale_profit.php?act=download&start_date=" + listTable.filter['start_date'] + "&end_date=" + listTable.filter['end_date'] + "&order_type=" + listTable.filter['order_type'];
    }
  }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}
