<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<div class="x_panel">
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
  {$lang.start_date}&nbsp;
    <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    {$lang.end_date}&nbsp;
    <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    訂單類型&nbsp;
    <label><input name="order_type" type="radio" value="4"{if $order_type eq 4} checked="checked"{/if}>所有訂單</label>&nbsp;&nbsp;
    <label><input name="order_type" type="radio" value="0"{if $order_type eq 0} checked="checked"{/if}>門市訂單</label>&nbsp;&nbsp;
    <label><input name="order_type" type="radio" value="5"{if $order_type eq 5} checked="checked"{/if}>展場訂單</label>&nbsp;&nbsp;
    <label><input name="order_type" type="radio" value="1"{if $order_type eq 1} checked="checked"{/if}>批發訂單</label>&nbsp;&nbsp;<!-- 
    <label><input name="order_type" type="radio" value="2"{if $order_type eq 2} checked="checked"{/if}>借貨訂單</label>&nbsp;&nbsp; -->
    <label><input name="order_type" type="radio" value="3" id="order_type_sa" {if $order_type eq 3} checked="checked"{/if}>代理銷售訂單</label>&nbsp;&nbsp;
    <input type="submit" id="submit" name="submit" value="{$lang.query}" class="btn btn-primary" />
    {insert name=daterange_group}
    <label><input type="checkbox" name="deprecatedflow" value="Y" {if $deprecated } checked="checked"{/if}/> 使用舊計算方法(多於一個供應商會重複計算)</label>
  </form>
  <div style="text-align:right">*此報表之批發訂單包含已出貨但未付款訂單</div>
  <!--div style="color: red;text-align:right">注意：以上盈利並未扣除折扣及優惠券共 <span id="total_discount_span">{$total_discount}</span></div-->
</div>
<form method="POST" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
  <table class="table table-striped table-bordered bulk_action">
     <tr>
      <th>供應商</th>
      <th>即時存貨總數</th>
      {if $display == 4}
      <th>平均存貨成本</th>
      <th>Turnover</th>
      {/if}
      <th>即時存貨成本(FIFO)</th>
      <th>平均存貨成本(呆壞貨)</th>
      <th>銷售總數</th>
      <th>銷售成本</th>
      {if $display != 4}
      <th>銷售總額</th>
      {/if}
      {if $display == 3 || $display == 4}
      <th style="width: 200px;">實際銷售總額(扣除手續費&扣除折扣及優惠券)</th>
      {/if}
      {if $display != 4}
      <th>盈利總額</th>
      {/if}
      {if $display == 3 || $display == 4}
      <th style="width: 200px;">實際盈利總額(扣除手續費&扣除折扣及優惠券)</th>
      {/if}
      {if $display != 4}
      <th>盈利率</th>
      {/if}
      {if $display == 3 || $display == 4}
      <th style="width: 150px;">實際盈利率(扣除手續費&扣除折扣及優惠券)</th>
      {/if}
    </tr>
  {foreach from=$data item=list name=foo}
    <tr align="center">
      <td align="left"><a href="goods.php?act=list&amp;suppliers_id={$list.id}">{$list.name}</a></td>
      <td align="right">{$list.total_fifo_qty}</td>
      {if $display == 4}
      <td align="right">{$list.avg_stock_cost_formated}</td>
      <td align="right">{$list.turnover}</td>
      {/if}
      <td align="right">{$list.total_fifo_cost_formated}</td>
      <td align="right">{$list.total_dead_cost_formated}</td>
      <td align="right">{$list.total_sold_qty}</td>
      <td align="right">{$list.total_cost_formated}</td>
      {if $list.display != 4 }
      <td align="right">{$list.total_revenue_formated}</td>
      {/if}
      {if $list.display == 3 || $list.display == 4 }
      <td align="right" {if $list.total_sa_revenue_formated neq $list.total_revenue_formated } style="color: blue;" {/if}>{$list.total_sa_revenue_formated}</td>
      {/if}
      {if $list.display != 4 }
      <td align="right">{$list.total_profit_formated}</td>
      {/if}
      {if $list.display == 3 || $list.display == 4 }
      <td align="right"  {if $list.total_sa_profit_formated neq $list.total_profit_formated } style="color: blue;" {/if}>{$list.total_sa_profit_formated}</td>
      {/if}
      {if $list.display != 4 }
      <td align="right">{$list.profit_margin_formated}</td>
      {/if}
      {if $list.display == 3 || $list.display == 4 }
      <td align="right"  {if $list.sa_profit_margin_formated neq $list.profit_margin_formated } style="color: blue;" {/if}>{$list.sa_profit_margin_formated}</td>
      {/if}
    </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
  <div style="display: none;" id="total_discount_div">{$total_discount}</div>
  {if !$full_page}
  <img src="images/empty.gif" style="display: none;" onload="updateTotalDiscount();this.parentNode.removeChild(this);" alt="Hack to run script in content loaded with innerHTML">
  {/if}
{if $full_page}
</div>
</form>
</div>
<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  getDownUrl();
}

function getList()
{

    var frm =  document.forms['TimeInterval'];
    listTable.filter['start_date'] = frm.elements['start_date'].value;
    listTable.filter['end_date'] = frm.elements['end_date'].value;
    listTable.filter['order_type'] = frm.elements['order_type'].value;
    listTable.filter['page'] = 1;
    listTable.filter['deprecatedflow'] = (frm.elements['deprecatedflow'].checked?'Y':'N');
    listTable.loadList();
    getDownUrl();
}

function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
  var deprecated = document.forms['TimeInterval'].elements['deprecatedflow'].checked ? 'Y' : 'N';
  for (var i = 0; i < aTags.length; i++)
  { 
    if (aTags[i].href.indexOf('download') >= 0 && aTags[i].href.indexOf('period') < 0)
    {
      if (listTable.filter['start_date'] == "")
      {
        var frm =  document.forms['TimeInterval'];
        listTable.filter['start_date'] = frm.elements['start_date'].value;
        listTable.filter['end_date'] = frm.elements['end_date'].value;
      }
      aTags[i].href = "sale_supplier.php?act=download&start_date=" + listTable.filter['start_date'] + "&end_date=" + listTable.filter['end_date'] + "&order_type=" + listTable.filter['order_type'] + '&deprecatedflow=' + deprecated;
    }
    if (aTags[i].href.indexOf('six_months') >= 0 || aTags[i].href.indexOf('period=6') > 0)
    {
      aTags[i].href = "sale_supplier.php?act=download&period=6&order_type=" + listTable.filter['order_type'] + '&deprecatedflow=' + deprecated;
    }
    if (aTags[i].href.indexOf('twelve_months') >= 0 || aTags[i].href.indexOf('period=12') > 0)
    {
      aTags[i].href = "sale_supplier.php?act=download&period=12&order_type=" + listTable.filter['order_type'] + '&deprecatedflow=' + deprecated;
    }
  }
}

function updateTotalDiscount()
{
  try {
    document.getElementById('total_discount_span').innerHTML = document.getElementById('total_discount_div').innerHTML;
  } catch (e) { }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}
