<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
{insert_scripts files="../js/utils.js,listtable.js"}

<style>
    .report-table{
      font-size: 18px;
      width: 100%;
      margin-top: 10px;
    }

    .report-table th, .report-table td{
      margin: 5px;
      padding: 5px;
      width: 15%;
      text-align: center;
    }
    
    .report-table .income{
      color: green;
    }

    .report-table .expenses{
      color: red;
    }

    .report-table .transfer{
      color: orangered;
    }

    .change_operation_amount{
      display: none;
    }
    
    </style>
    

<div class=" x_panel">
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <div style="font-size:18px;">
      <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
        {$lang.shop}&nbsp;
        <select class="form-control" name="shop">
        {foreach from=$shop_list item=shop}
          <option value="{$shop.id}" >{$shop.name}</option>
        {/foreach}
        </select>&nbsp;&nbsp;
        {$lang.report_date}&nbsp;
        <input name="report_date" class="form-control" data-type="date" type="text" id="report_date" size="15" value='{$report_date}' />&nbsp;&nbsp;
        <input type="submit" id="submit" name="submit" value="{$lang.query}" class="btn btn-success form-btn" />
      </form>
    </div>
  </div>
{/if}

  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table class="report-table">
      <thead>
        <tr>
          <th style="text-align: left;">{$lang.shop_open_cash_balance}</th>
          <th>{$lang.c1_cash}</th>
          <th>{$lang.c2_cash}</th>
          <th>{$lang.d_down_payment}</th>
          <th>{$lang.operator}</th>
          <th>{$lang.total}</th>
        </tr>
      </thead>
      <tbody>
        <tr style="border-bottom: 1px solid #000;">
          <td></td>
          <td>{$report_data.shop_open_cash_balance_c1}</td>
          <td>{$report_data.shop_open_cash_balance_c2}</td>
          <td>{$report_data.shop_open_cash_balance_d}</td>
          <td></td>
          <td>{$report_data.shop_open_cash_total}</td>
        </tr>

        <tr>
          <td colspan="6" style="text-align: left;" class="income">{$lang.income}</td>
        </tr>
        <tr>
          <td style="text-align: left;">{$lang.cash_shipped}</td>
          <td class="income">{$report_data.cash_shipped_c1}</td>
          <td class="income"></td>
          <td class="income"></td>
          <td></td>
          <td>{$report_data.cash_shipped_total}</td>
        </tr>
        <tr>
          <td style="text-align: left;">{$lang.cash_unshipped}</td>
          <td class="income"></td>
          <td class="income"></td>
          <td class="income">{$report_data.cash_unshipped_d}</td>
          <td></td>
          <td>{$report_data.cash_unshipped_total}</td>
        </tr>
        {foreach from=$report_data.operation_account_income item=operation}
        <tr>
          <td style="text-align: left;">{$operation.operation_desc}</td>
          <td class="income">
            {if $operation.operation_account == "C1"}
              {if $can_edit}
                <span id="operation_amount_{$operation.id}" onclick="callChangeBox({$operation.id});">{$operation.operation_amount}</span>
                <input type="text" id="change_operation_amount_{$operation.id}" size="12" value="{$operation.operation_amount}" class="form-control" style="display: none;" onblur="blurChangeBox({$operation.id});" onchange="updateOperationAmount({$operation.id});">
              {else}
                {$operation.operation_amount}
              {/if}
            {/if}
          </td>
          <td class="income">
            {if $operation.operation_account == "C2"}
              {if $can_edit}
                <span id="operation_amount_{$operation.id}" onclick="callChangeBox({$operation.id});">{$operation.operation_amount}</span>
                <input type="text" id="change_operation_amount_{$operation.id}" size="12" value="{$operation.operation_amount}" class="form-control" style="display: none;" onblur="blurChangeBox({$operation.id});" onchange="updateOperationAmount({$operation.id});">
              {else}
                {$operation.operation_amount}
              {/if}
            {/if}
          </td>
          <td class="income">
            {if $operation.operation_account == "D"}
              {if $can_edit}
                <span id="operation_amount_{$operation.id}" onclick="callChangeBox({$operation.id});">{$operation.operation_amount}</span>
                <input type="text" id="change_operation_amount_{$operation.id}" size="12" value="{$operation.operation_amount}" class="form-control" style="display: none;" onblur="blurChangeBox({$operation.id});" onchange="updateOperationAmount({$operation.id});">
              {else}
                {$operation.operation_amount}
              {/if}
            {/if}
          </td>
          <td>{$salesperson_list[$operation.user_id]}</td>
          <td></td>
        </tr>
        {/foreach}

        <tr>
          <td colspan="6"></td>
        </tr>
        <tr>
          <td colspan="6"></td>
        </tr>
          
        <tr>
          <td colspan="6" style="text-align: left;" class="expenses">{$lang.expenses}</td>
        </tr>
        <tr>
          <td style="text-align: left;">{$lang.cash_refund}</td>
          <td class="expenses">{$report_data.refund_amount_c1}</td>
          <td class="expenses"></td>
          <td class="expenses">{$report_data.refund_amount_d}</td>
          <td></td>
          <td></td>
        </tr>
        {foreach from=$report_data.operation_account_expenses item=operation}
        <tr>
          <td style="text-align: left;">
            {$operation.operation_desc}{if $operation.bank_name} ({$operation.bank_name}){/if}{if $operation.supplier_name} ({$operation.supplier_name}){/if}
          </td>
          <td class="expenses">
            {if $operation.operation_account == "C1"}
              {if $can_edit}
                <span id="operation_amount_{$operation.id}" onclick="callChangeBox({$operation.id});">{$operation.operation_amount}</span>
                <input type="text" id="change_operation_amount_{$operation.id}" size="12" value="{$operation.operation_amount}" class="form-control" style="display: none;" onblur="blurChangeBox({$operation.id});" onchange="updateOperationAmount({$operation.id});">
              {else}
                {$operation.operation_amount}
              {/if}
            {/if}
          </td>
          <td class="expenses">
            {if $operation.operation_account == "C2"}
              {if $can_edit}
                <span id="operation_amount_{$operation.id}" onclick="callChangeBox({$operation.id});">{$operation.operation_amount}</span>
                <input type="text" id="change_operation_amount_{$operation.id}" size="12" value="{$operation.operation_amount}" class="form-control" style="display: none;" onblur="blurChangeBox({$operation.id});" onchange="updateOperationAmount({$operation.id});">
              {else}
                {$operation.operation_amount}
              {/if}
            {/if}
          </td>
          <td class="expenses">
            {if $operation.operation_account == "D"}
              {if $can_edit}
                <span id="operation_amount_{$operation.id}" onclick="callChangeBox({$operation.id});">{$operation.operation_amount}</span>
                <input type="text" id="change_operation_amount_{$operation.id}" size="12" value="{$operation.operation_amount}" class="form-control" style="display: none;" onblur="blurChangeBox({$operation.id});" onchange="updateOperationAmount({$operation.id});">
              {else}
                {$operation.operation_amount}
              {/if}
            {/if}
          </td>
          <td>{$salesperson_list[$operation.user_id]}</td>
          <td></td>
        </tr>
        {/foreach}

        <tr>
          <td colspan="6"></td>
        </tr>
        <tr>
          <td colspan="6"></td>
        </tr>

        <tr>
          <td colspan="6" style="text-align: left;" class="transfer">{$lang.transfer}</td>
        </tr>
        <tr>
          <td style="text-align: left;">{$lang.today_ship_not_today_paid_total}</td>
          <td class="income">{$report_data.today_ship_not_today_paid_c1}</td>
          <td></td>
          <td class="expenses">{$report_data.today_ship_not_today_paid_d}</td>
          <td></td>
          <td>{$report_data.today_ship_not_today_paid_total}</td>
        </tr>

        <tr style="border-top: 1px solid #000;border-bottom: 1px solid #000;">
          <th style="text-align: left;">{$lang.shop_close_cash_balance}</th>
          <td>{$report_data.shop_close_cash_balance_c1}</td>
          <td>{$report_data.shop_close_cash_balance_c2}</td>
          <td>{$report_data.shop_close_cash_balance_d}</td>
          <td></td>
          <td>{$report_data.shop_close_cash_balance_total}</td>
        </tr>
      </tbody>
    </table>

    <form action="?act=balance_review" class="form-inline" method="post" onsubmit="return confirm_submit();">
      <br>
      {$lang.reviewer}&nbsp;
      {if $reviewer}
        {$salesperson_list[$reviewer]}
      {else}
      <select class="form-control" name="reviewer_id" id="reviewer_id">
      <option value="0">{$lang.select_please}</option>
      {foreach from=$salesperson_list key=user_id item=salesperson}
        <option value="{$user_id}">{$salesperson}</option>
      {/foreach}
      </select>&nbsp;&nbsp;
      <input type="hidden" name="shop" value="{$shop_id}"/>
      <input type="hidden" name="report_date" value="{$report_date}"/>
      <input type="submit" id="submit" name="submit" value="{$lang.confirm_review}" class="btn btn-success form-btn" />
      {/if}
    </form>

  </div>

{if $full_page}
  {include file="pagefooter.htm"}
  <script type="Text/Javascript" language="JavaScript">

  {literal}
  <!--
    onload = function()
  {
    getList();
  }

  function getList()
  {
      var frm =  document.forms['TimeInterval'];
      listTable.filter['shop'] = frm.elements['shop'].value;
      listTable.filter['report_date'] = frm.elements['report_date'].value;
      listTable.loadList();
  }

  function callChangeBox($operation_id){
		$("#operation_amount_"+$operation_id).hide();
    $("#change_operation_amount_"+$operation_id).show();
    $("#change_operation_amount_"+$operation_id).focus();
	}

  function blurChangeBox($operation_id){
    $("#change_operation_amount_"+$operation_id).hide();
    $("#operation_amount_"+$operation_id).show();
  }

  function updateOperationAmount($operation_id){
    var operation_amount=$("#change_operation_amount_"+$operation_id).val();

    function changeAmountResponse(res)
		{
			if(res.error!=0)
			{	
				alert(res.message);
      }
			else
			{
				getList();
			}
		}

    if(operation_amount!='')
		{
			Ajax.call('sale_cash_check.php?act=change_operation_amount',
				'operation_id=' + encodeURIComponent($operation_id) +
				'&operation_amount=' + encodeURIComponent(operation_amount),
				changeAmountResponse, 'POST', 'JSON');
		}

  }

  function confirm_submit(){
    var reviewer_id = $("#reviewer_id option:selected").val();
    if(reviewer_id == 0){
      alert("{$lang.pls_select_reviewer}");
      return false;
    }

    return confirm('{$lang.confirm_submit}');
  }

  </script>
  {/literal}

{/if}


