<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<div class=" x_panel">
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <div style="font-size:18px;">今日{$lang.date}:&nbsp;{$today_date}</div>
      <div style="text-align:right">
      *此報表不包括批發訂單及代理銷售及展場訂單<br>
      *此報表只顯示POS銷售人員的銷售記錄<br>
      *當日現金(已出貨) - 只計算當日付款及當日出貨的訂單
      </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table class="table table-striped jambo_table">
      <thead>
        <tr>
          <th>員工名稱</th>
          <th>POS訂單數目</th>
          <th>當日現金(已出貨)</th>
          <th>當日現金(未出貨)</th>
          <th>EPS(已出貨)</th>
          <th>Visa / MasterCard(已出貨)</th>
          <th> 銀聯卡(已出貨)</th>
          <th> 美國運通卡(已出貨)</th>
          <th>微信支付 / 支付寶(已出貨)</th>
        </tr>
      </thead>
    {foreach from=$salesman_list item=list}
      <tr>
        <td>{$list.sales_name|default:N/A}</td>
        <td><a href="order.php?act=list&amp;pay_start_time={$start_time}&amp;pay_end_time={$end_time}&amp;salesperson={$list.sales_name}">{$list.order_count}</a></td>
        <td>{$list.cash}</td>
        <td><a href="{$uncompleted_sales_total_url}&amp;pay_start_time={$start_time}&amp;pay_end_time={$end_time}&amp;salesperson={$list.sales_name}">{$list.cash_unshipped}</a></td>
        <td>{$list.eps}</td>
        <td>{$list.visamaster}</td>
        <td>{$list.unionpay}</td>
        <td>{$list.americanexpress}</td>
        <td>{$list.qfpay}</td>
      </tr>
    {foreachelse}
      <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
    {/foreach}
    {if $salesman_list|@count != 0}
    <tfoot>
      <tr>
        <td><b>總數:</b></td>
        <td><b>{$sales_total_data.order_count}</b></td>
        <td><b>{$sales_total_data.cash}</b></td>
        <td><b>{$sales_total_data.cash_unshipped}</b></td>
        <td><b>{$sales_total_data.eps}</b></td>
        <td><b>{$sales_total_data.visamaster}</b></td>
        <td><b>{$sales_total_data.unionpay}</b></td>
        <td><b>{$sales_total_data.americanexpress}</b></td>
        <td><b>{$sales_total_data.qfpay}</b></td>
      </tr>
    </tfoot>
    {/if}
    </table>
    <table class="table table-striped jambo_table" id="#">
      <thead>
        <tr>
          <th colspan="4" class="group-title">
            訂金袋 - 現金支付
            <span style="text-align: right;float: right;">*此報表不包括批發訂單及代理銷售及展場訂單及退款及退款申請訂單</span>
          </th>
        </tr>
      </thead>
      <tr>
        <td width="20%"><a href="{$uncompleted_sales_total_url}">未出貨或部份出貨訂單總額</a></td>
        <td width="30%"><strong>{$uncompleted_sales_total}</strong></td>
        <td width="20%"><a href="{$today_ship_not_today_paid_total_url}">當日出貨但非當日訂單總額</a></td>
        <td width="30%"><strong>{$today_ship_not_today_paid_total}</strong></td>
      </tr>
      <tfooter>
        <tr>
          <td colspan="2" align="center"><a href="{$yesterday_shiped_order_url}">昨天現金支付出貨單</a></td>
          <td colspan="2" align="center"><a href="order.php?act=list&amp;ship_start_time={$start_time}&amp;ship_end_time={$end_time}&amp;shipping_status=1,4&amp;shipping_ids=2,5">當日門店自取出貨單</a></td>
        </tr>
      </tfooter>
    </table>
  </div>
  <div class="col-md-12">
  <!-- start today order statistics -->
  <div class="list-div">
  <table class="table table-striped jambo_table" id="#">
    <thead>
    <tr>
      <th colspan="4" class="group-title">
        <div style="line-height: 24px;">
          <span style="text-align: left;float: left;">當日門店帳目 - 今日付款</span>
          <span style="text-align: right;float: right;">*此報表不包括批發訂單及代理銷售及展場訂單</span>
        </div>
      </th>
    </tr>
    </thead>
    <tr>
      <td width="20%">
        <a href="{$today_paid_order.order_list_url}">
          已付款訂單數目
        </a>
      </td>
      <td width="30%"><strong>{$today_paid_order.order_count}</strong></td>
      <td width="20%">總共訂單金額</td>
      <td width="30%"><strong>{$today_paid_order.total_amount}</strong></td>
    </tr>
    <tr>
      <td>
        <a href="{$today_paid_order.order_list_url}&pay_id=3">現金</a>
        付款總額
      </td>
      <td><strong>{$today_paid_order.amount_by_payment.cash}</strong></td>
      <td>
        <a href="{$today_paid_order.order_list_url}&pay_id=2">EPS</a>
        付款總額
      </td>
      <td><strong>{$today_paid_order.amount_by_payment.eps}</strong></td>
    </tr>
    <tr>
      <td>
        <a href="{$today_paid_order.order_list_url}&pay_id=5">ATM轉帳</a>
        /
        <a href="{$today_paid_order.order_list_url}&pay_id=9">網上銀行轉帳</a>
        付款總額
      </td>
      <td><strong>{$today_paid_order.amount_by_payment.bank}</strong></td>
      <td>
        <a href="{$today_paid_order.order_list_url}&pay_id=17">PayPal</a>
        付款總額
      </td>
      <td><strong>{$today_paid_order.amount_by_payment.paypal}</strong></td>
    </tr>
    <tr>
      <td>
        <a href="{$today_paid_order.order_list_url}&pay_id=10">銀聯卡</a>
        付款總額
      </td>
      <td><strong>{$today_paid_order.amount_by_payment.unionpay}</strong></td>
      <td>
        <a href="{$today_paid_order.order_list_url}&pay_id=12">Visa / MasterCard</a>
        付款總額
      </td>
      <td><strong>{$today_paid_order.amount_by_payment.visamaster}</strong></td>
    </tr>
    <tr>
      <td>
        <a href="{$today_paid_order.order_list_url}&pay_id=13">美國運通卡</a>
        付款總額
      </td>
      <td><strong>{$today_paid_order.amount_by_payment.americanexpress}</strong></td>
      <td>
        <a href="{$today_paid_order.order_list_url}&pay_id=14">支付寶</a>
        付款總額
      </td>
      <td><strong>{$today_paid_order.amount_by_payment.alipay}</strong></td>
    </tr>
    <tr>
      <td>
        <a href="{$today_paid_order.order_list_url}&pay_id=15">信用卡(Stripe)</a>
        付款總額
      </td>
      <td><strong>{$today_paid_order.amount_by_payment.stripe}</strong></td>
      <td>
        <a href="{$today_paid_order.order_list_url}&pay_id=16">信用卡(Braintree)</a>
        付款總額
      </td>
      <td><strong>{$today_paid_order.amount_by_payment.braintree}</strong></td>
    </tr>
    <tr>
      <td>
        <a href="{$today_paid_order.order_list_url}&pay_id=22">微信支付 / 支付寶</a>
        付款總額
      </td>
      <td><strong>{$today_paid_order.amount_by_payment.qfpay}</strong></td>
      <td></td><td></td>
    </tr>
  </table>
  </div>
  <br />
  <div class="list-div">
  <table class="table table-striped jambo_table" id="#">
    <thead>
    <tr>
      <th colspan="4" class="group-title">
        <div style="line-height: 24px;">
          <span style="text-align: left;float: left;">當日門店帳目 - 今日出貨</span>
          <span style="text-align: right;float: right;">*此報表不包括批發訂單及代理銷售及展場訂單</span>
        </div>
      </th>
    </tr>
    </thead>
    <tr>
      <td width="20%">
        <a href="{$today_shipped_order.order_list_url}">
          已出貨訂單數目
        </a>
      </td>
      <td width="30%"><strong>{$today_shipped_order.order_count}</strong></td>
      <td width="20%">總共訂單金額</td>
      <td width="30%"><strong>{$today_shipped_order.total_amount}</strong></td>
    </tr>
    <tr>
      <td>
        <a href="{$today_shipped_order.order_list_url}&pay_id=3">現金</a>
        付款總額
      </td>
      <td><strong>{$today_shipped_order.amount_by_payment.cash}</strong></td>
      <td>
        <a href="{$today_shipped_order.order_list_url}&pay_id=2">EPS</a>
        付款總額
      </td>
      <td><strong>{$today_shipped_order.amount_by_payment.eps}</strong></td>
    </tr>
    <tr>
      <td>
        <a href="{$today_shipped_order.order_list_url}&pay_id=5">ATM轉帳</a>
        /
        <a href="{$today_shipped_order.order_list_url}&pay_id=9">網上銀行轉帳</a>
        付款總額
      </td>
      <td><strong>{$today_shipped_order.amount_by_payment.bank}</strong></td>
      <td>
        <a href="{$today_shipped_order.order_list_url}&pay_id=17">PayPal</a>
        付款總額
      </td>
      <td><strong>{$today_shipped_order.amount_by_payment.paypal}</strong></td>
    </tr>
    <tr>
      <td>
        <a href="{$today_shipped_order.order_list_url}&pay_id=10">銀聯卡</a>
        付款總額
      </td>
      <td><strong>{$today_shipped_order.amount_by_payment.unionpay}</strong></td>
      <td>
        <a href="{$today_shipped_order.order_list_url}&pay_id=12">Visa / MasterCard</a>
        付款總額
      </td>
      <td><strong>{$today_shipped_order.amount_by_payment.visamaster}</strong></td>
    </tr>
    <tr>
      <td>
        <a href="{$today_shipped_order.order_list_url}&pay_id=13">美國運通卡</a>
        付款總額
      </td>
      <td><strong>{$today_shipped_order.amount_by_payment.americanexpress}</strong></td>
      <td>
        <a href="{$today_shipped_order.order_list_url}&pay_id=14">支付寶</a>
        付款總額
      </td>
      <td><strong>{$today_shipped_order.amount_by_payment.alipay}</strong></td>
    </tr>
    <tr>
      <td>
        <a href="{$today_shipped_order.order_list_url}&pay_id=15">信用卡(Stripe)</a>
        付款總額
      </td>
      <td><strong>{$today_shipped_order.amount_by_payment.stripe}</strong></td>
      <td>
        <a href="{$today_shipped_order.order_list_url}&pay_id=16">信用卡(Braintree)</a>
        付款總額
      </td>
      <td><strong>{$today_shipped_order.amount_by_payment.braintree}</strong></td>
    </tr>
    <tr>
      <td>
        <a href="{$today_shipped_order.order_list_url}&pay_id=22">微信支付 / 支付寶</a>
        付款總額
      </td>
      <td><strong>{$today_shipped_order.amount_by_payment.qfpay}</strong></td>
      <td></td><td></td>
    </tr>
  </table>
  </div>
  <!-- end today order statistics -->
  <table class="table table-striped jambo_table" id="#">
    <thead>
      <tr>
        <th colspan="4" class="group-title">當日門店帳目 - 現金訂貨</th>
      </tr>
    </thead>
    <tr>
      <td width="20%"><a href="{$cash_preorder.today_amount_order_list_url}">今日門店現金訂貨總額</a></td>
      <td width="30%"><strong>{$cash_preorder.today_amount}</strong></td>
      <td width="20%"><a href="{$cash_preorder.total_amount_order_list_url}">現金訂貨總額</a></td>
      <td width="30%"><strong>{$cash_preorder.total_amount}</strong></td>
    </tr>
  </table>
  </div>
</div>
{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">
{if $erp_delivery_pending_approve > 0}
  init_PNotify('<a href="erp_delivery_manage.php?act=list&d_s=2">有'+{$erp_delivery_pending_approve}+'張主管審核中出貨訂單數</a>');
{/if}
{literal}
<!--

</script>
{/literal}


