<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class="x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
  {$lang.start_date}&nbsp;
    <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    {$lang.end_date}&nbsp;
    <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    <input name="is_ex_pos" type="checkbox" id="is_ex_pos" value='1' {if $filter.is_ex_pos}checked="checked"{/if} />展場POS訂單&nbsp;&nbsp;
    <input type="submit" id="submit" name="submit" value="{$lang.query}" class="btn btn-primary" />
    {insert name=daterange_group}
  </form>
  <div style="text-align:right" id="exclude_text">*此報表不包括批發訂單及代理銷售{if !$filter.is_ex_pos}及展場訂單{/if}</div>
</div>
<form method="POST" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
  <table class="table table-striped table-bordered bulk_action">
     <tr>
      <th>日期</th>
      <th>訂單總數</th>
      <th>銷售總額</th>
      <th>現金</th>
      <th>EPS</th>
      <th>銀行轉帳</th>
      <th>Paypal</th>
      <th>支付寶</th>
      <th>銀聯卡</th>
      <th>Visa / MasterCard</th>
      <th>美國運通卡</th>
      <th>信用卡(Stripe)</th>
      <th>信用卡(Braintree)</th>
    </tr>
  {foreach from=$payment_list item=list}
    <tr align="center">
      <td>{$list.date}</td>
      <td align="right">{$list.order_count}</td>
      <td align="right"><a href="{$list.order_list_url}">{$list.total_amount_formated}</a></td>
      <td align="right"><a href="{$list.order_list_url}&amp;pay_id=3">{$list.amount_by_payment_formated.cash}</a></td>
      <td align="right"><a href="{$list.order_list_url}&amp;pay_id=2">{$list.amount_by_payment_formated.eps}</a></td>
      <td align="right"><a href="{$list.order_list_url}&amp;pay_ids=5,9,18,19">{$list.amount_by_payment_formated.bank}</a></td>
      <td align="right"><a href="{$list.order_list_url}&amp;pay_ids=7,17">{$list.amount_by_payment_formated.paypal}</a></td>
      <td align="right"><a href="{$list.order_list_url}&amp;pay_id=14">{$list.amount_by_payment_formated.alipay}</a></td>
      <td align="right"><a href="{$list.order_list_url}&amp;pay_id=10">{$list.amount_by_payment_formated.unionpay}</a></td>
      <td align="right"><a href="{$list.order_list_url}&amp;pay_id=12">{$list.amount_by_payment_formated.visamaster}</a></td>
      <td align="right"><a href="{$list.order_list_url}&amp;pay_id=13">{$list.amount_by_payment_formated.americanexpress}</a></td>
      <td align="right"><a href="{$list.order_list_url}&amp;pay_id=15">{$list.amount_by_payment_formated.stripe}</a></td>
      <td align="right"><a href="{$list.order_list_url}&amp;pay_id=16">{$list.amount_by_payment_formated.braintree}</a></td>
    </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
  <table id="page-table" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
  </table>
{if $full_page}
</div>
</form>
</div>
<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  getDownUrl();
}

function getList()
{
    var frm =  document.forms['TimeInterval'];
    listTable.filter['start_date'] = frm.elements['start_date'].value;
    listTable.filter['end_date'] = frm.elements['end_date'].value;
    listTable.filter['is_ex_pos'] = frm.elements['is_ex_pos'].checked?1:0;
    listTable.filter['page'] = 1;
    listTable.loadList();
    if(listTable.filter['is_ex_pos']) document.getElementById("exclude_text").innerHTML = "*此報表不包括批發訂單及代理銷售";
    else document.getElementById("exclude_text").innerHTML = "*此報表不包括批發訂單及代理銷售及展場訂單"; 
    getDownUrl();
}

function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
  for (var i = 0; i < aTags.length; i++)
  { 
    if (aTags[i].href.indexOf('download') >= 0)
    {
      if (listTable.filter['start_date'] == "")
      {
        var frm =  document.forms['TimeInterval'];
        listTable.filter['start_date'] = frm.elements['start_date'].value;
        listTable.filter['end_date'] = frm.elements['end_date'].value;
        listTable.filter['is_ex_pos'] = frm.elements['is_ex_pos'].checked?1:0;
      }
      aTags[i].href = "sale_payment.php?act=download&start_date=" + listTable.filter['start_date'] + "&end_date=" + listTable.filter['end_date']+"&is_ex_pos="+listTable.filter['is_ex_pos'];
    }
  }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}
