<!-- $Id: sale_general.htm 16869 2009-12-10 10:31:14Z liuhui $ -->
{include file="pageheader.htm"}
<!-- Chart -->
<script src="js/Chart.min.js"></script>
<script src="js/Chart.bundle.min.js"></script>
<script src="js/Chart.PieceLabel.min.js"></script>
<style>
  div.chartGraph {
    width: 50%;
    height: 300px;
    float: left;
  }
</style>
<div class="row x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="sale_general.php?act=list" method="post" class="form-inline">
  <strong>{$lang.year_status}</strong>
  <input name="year_beginYear" value="{$start_time}" class="form-control" data-type="year" />
  -
  <input name="year_endYear" value="{$end_time}" class="form-control" type="text" data-type="year" />
  <input type="submit" name="query_by_year" value="{$lang.query}" class="btn btn-primary" />
  <br />
  <strong>{$lang.month_status}</strong>
  <input name="month_begin" value="{$start_time}" class="form-control" type="text" data-type="month" />
  -
  <input name="month_end" value="{$end_time}" class="form-control" type="text" data-type="month" />
  <input type="submit" id="query_by_month" name="query_by_month" value="{$lang.query}" class="btn btn-primary" />
  {insert name=daterange_group submit=query_by_month start_date=month_begin end_date=month_end}
  </form>
  <div style="text-align:right">*本報表以2014年7月開始為準</div>
</div>

<div class="tab-div col-md-12 col-sm-12 col-xs-12">
  <ul class="nav nav-tabs bar_tabs" role="tablist">
    <li role="presentation" class="active"><a href="#all_order" id="all_tab" role="tab" data-toggle="tab" aria-expanded="true">所有訂單</a>
    </li>
    <li role="presentation" class=""><a href="#sa_shipped" role="tab" id="shipped_tab" data-toggle="tab" aria-expanded="false">代理銷售訂單(已出貨)</a>
    </li>
    <li role="presentation" class=""><a href="#sa_waiting" role="tab" id="waiting_tab" data-toggle="tab" aria-expanded="false">代理銷售訂單(待出貨)</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="all_order" aria-labelledby="all_tab">
      <h3>{$lang.order_status}</h3>
      <div class="col-md-6"><canvas id="all_order_count" height="150"></canvas></div>
      <div class="col-md-6"><canvas id="non_b2b2c_count" height="150"></canvas></div>
      <h3>{$lang.turnover_status}</h3>
      <div class="col-md-6"><canvas id="all_order_amount" height="150"></canvas></div>
      <div class="col-md-6"><canvas id="non_b2b2c_amount" height="150"></canvas></div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="sa_shipped" aria-labelledby="shipped_tab">
      <h3>{$lang.order_status}</h3>
      <div class="col-md-6"><canvas id="b2b2c_count" height="150"></canvas></div>
      <div class="col-md-6"><canvas id="b2b2c_count_agent" height="150"></canvas></div>
      <h3>{$lang.turnover_status}</h3>
      <div class="col-md-6"><canvas id="b2b2c_amount" height="150"></canvas></div>
      <div class="col-md-6"><canvas id="b2b2c_amount_agent" height="150"></canvas></div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="sa_waiting" aria-labelledby="waiting_tab">
      <h3>{$lang.order_status}</h3>
      <div class="col-md-6"><canvas id="b2b2c_count_await" height="150"></canvas></div>
      <div class="col-md-6"><canvas id="b2b2c_count_agent_await" height="150"></canvas></div>
      <h3>{$lang.turnover_status}</h3>
      <div class="col-md-6"><canvas id="b2b2c_amount_await" height="150"></canvas></div>
      <div class="col-md-6"><canvas id="b2b2c_amount_agent_await" height="150"></canvas></div>
    </div>
  </div>
</div>
</div>
<script language="JavaScript">
<!--
{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
var all_canvas = document.getElementsByTagName('canvas');
for(var i = 0; i < all_canvas.length; i++){
  var c = all_canvas[i];
  var ctx = c.getContext("2d");
  ctx.textAlign="center";
  ctx.fillText("{$lang.no_records}",c.width / 2, c.height / 2);
}
{foreach from=$barCharts item=chart key=name}
var data = $.parseJSON('{$chart.data|json_encode}');
var ctx = document.getElementById("{$name}");
if(data.datasets[0].data.length > 0){
  var barChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {
      title: {
        display: true,
        text: '{$chart.title}'
      },
      legend: {
        display: {if $chart.legend}true{else}false{/if},
        position: 'right'
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            callback: function(value, index, values) {
              if (Math.floor(value) === value) {
                  return value;
              }
            }
          }
        }],
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: '{$chart.label}'
          }
        }]
      }
    }
  });
}
{/foreach}
{/literal}
-->
</script>
{include file="pagefooter.htm"}