<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
  {$lang.start_date}&nbsp;
    <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    {$lang.end_date}&nbsp;
    <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    銷售人員&nbsp;
    <input name="salesperson" type="text" id="salesperson" size="15" value='{$salesperson}'>&nbsp;&nbsp;
    訂單類型&nbsp;
    <label><input name="order_type" type="radio" value="0"{if $order_type eq 0} checked="checked"{/if}>普通訂單</label>&nbsp;&nbsp;
    <label><input name="order_type" type="radio" value="1"{if $order_type eq 1} checked="checked"{/if}>批發訂單</label>&nbsp;&nbsp;
    <label><input name="order_type" type="radio" value="2"{if $order_type eq 2} checked="checked"{/if}>借貨訂單</label>&nbsp;&nbsp;
    <label><input name="order_type" type="radio" value="3" id="order_type_sa" {if $order_type eq 3} checked="checked"{/if}>代理銷售訂單</label>&nbsp;&nbsp;
    <input type="submit" name="submit" value="{$lang.query}" class="btn btn-primary" />
  </form>
</div>
<form method="POST" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
  <table class="table table-striped table-bordered bulk_action">
     <tr>
      <th>銷售人員</th>
      <th>訂單編號</th>
      <th>訂單日期</th>
      <th>訂單金額</th>
      {if $display_sa_th}
      <th style="width: 200px;">實際訂單總數(扣除手續費)</th>
      {/if}
      <th>訂單成本</th>
      <th>訂單盈利</th>
      {if $display_sa_th}
      <th style="width: 200px;">實際盈利總額(扣除手續費)</th>
      {/if}
      <th>盈利率</th>
      {if $display_sa_th}
      <th style="width: 150px;">實際盈利率(扣除手續費)</th>
      {/if}
    </tr>
  {foreach from=$profit_list item=list}
    <tr align="center">
      <td>{$list.salesperson}</td>
      <td><a href="order.php?act=info&order_id={$list.order_id}">{$list.order_sn}</a></td>
      <td>{$list.order_date}</td>
      <td align="right">{$list.total_amount}</td>
      {if $list.display_sa }
      <td align="right" style="color: blue;">{$list.sales_agent_price_format}</td>
      {/if}
      <td align="right">{$list.cp_price}</td>
      <td align="right">{$list.profit}</td>
      {if $list.display_sa }
      <td align="right" style="color: blue;">{$list.sales_agent_price_profit_format}</td>
      {/if}
      <td align="right">{$list.profit_margin}</td>
      {if $list.display_sa }
      <td align="right" style="color: blue;">{$list.sales_agent_price_margin_format}</td>
      {/if}
    </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
  <table id="page-table" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
  </table>
{if $full_page}
</div>
</form>

<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
listTable.query = 'query_detail';
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  getDownUrl();
}

function getList()
{
    var frm =  document.forms['TimeInterval'];
    listTable.filter['start_date'] = frm.elements['start_date'].value;
    listTable.filter['end_date'] = frm.elements['end_date'].value;
    listTable.filter['salesperson'] = frm.elements['salesperson'].value;
    listTable.filter['order_type'] = frm.elements['order_type'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
    getDownUrl();
}

function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
  for (var i = 0; i < aTags.length; i++)
  { 
    if (aTags[i].href.indexOf('download') >= 0)
    {
      if (listTable.filter['start_date'] == "")
      {
        var frm =  document.forms['TimeInterval'];
        listTable.filter['start_date'] = frm.elements['start_date'].value;
        listTable.filter['end_date'] = frm.elements['end_date'].value;
        listTable.filter['salesperson'] = frm.elements['salesperson'].value;
        listTable.filter['order_type'] = frm.elements['order_type'].value;
      }
      aTags[i].href = "sale_profit.php?act=download_detail&start_date=" + listTable.filter['start_date'] + "&end_date=" + listTable.filter['end_date'] + "&salesperson=" + listTable.filter['salesperson'] + "&order_type=" + listTable.filter['order_type'];
    }
  }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}
