{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<div class=" x_panel">
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
  {$lang.start_date}&nbsp;
    <input name="start_date" class="form-control" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    {$lang.end_date}&nbsp;
    <input name="end_date" class="form-control" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    <select class="form-control" name="have_discount" id="have_discount">
      <option value="1"{if $have_discount} selected="selected"{/if}>有折扣的訂單</option>
      <option value="0"{if !$have_discount} selected="selected"{/if}>全部訂單</option>
    </select>
    <input type="submit" name="submit" value="{$lang.query}" class="btn btn-success form-btn" />
  </form>
</div>
<form method="POST" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
  <table class="table table-striped table-bordered bulk_action">
     <thead><tr>
      <th>訂單編號<br>下單時間<br>銷售人員</th>
      <th>產品名稱</th>
      <th>產品售價</th>
      <th>售出數量</th>
      <th>產品佣金</th>
      <th width="70">佣金</th>
      <th width="70">扣除支付折扣</th>
      <th width="70">可得佣金</th>
      <th width="70">訂單佣金</th>
      <th width="70">訂單折扣</th>
      <th>修正佣金</th>
      <th width="70">修正後</th>
    </tr></thead>
  {foreach from=$commission_list item=list}
    <tr align="center">
      <td>
        <a href="order.php?act=info&order_id={$list.order_id}">{$list.order_sn}</a><br>
        {$list.order_date}<br>
        {$list.salesperson}
      </td>
      <td align="left">
        {foreach from=$list.goods item=goods}
        <a href="/goods.php?id={$goods.goods_id}">{$goods.goods_name}</a><br>
        {/foreach}
      </td>
      <td align="right">
        {foreach from=$list.goods item=goods}
        {$goods.goods_price}<br>
        {/foreach}
      </td>
      <td align="right">
        {foreach from=$list.goods item=goods}
        {$goods.goods_number}<br>
        {/foreach}
      </td>
      <td align="right">
        {foreach from=$list.goods item=goods}
        {$goods.goods_commission}<br>
        {/foreach}
      </td>
      <td align="right">
        {foreach from=$list.goods item=goods}
        {$goods.original_commission_formatted}<br>
        {/foreach}
      </td>
      <td align="right">
        {foreach from=$list.goods item=goods}
        {$goods.pay_discount_formatted}<br>
        {/foreach}
      </td>
      <td align="right">
        {foreach from=$list.goods item=goods}
        {$goods.commission_amount_formatted}<br>
        {/foreach}
      </td>
      <td align="right">{$list.order_commission_formatted}</td>
      <td align="right">{$list.discount_formatted}</td>
      <td align="center">
        {if $list.commission_adjust eq 0}<span onclick="autoAdjust(this, '{$list.auto_adjust_amount}')" style="cursor: pointer;">自動修正</span><br>{/if}
        <span onclick="listTable.edit(this, 'edit_commission_adjust', {$list.order_id})">{$list.commission_adjust}</span>
      </td>
      <td align="right">{$list.adjusted_commission_formatted}</td>
    </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
  <table id="page-table" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
  </table>
{if $full_page}
</div>
</form>
</div>
<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
listTable.query = 'query_adjust';
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  auto_adjust_btn();
}

function getList()
{
    var frm =  document.forms['TimeInterval'];
    listTable.filter['start_date'] = frm.elements['start_date'].value;
    listTable.filter['end_date'] = frm.elements['end_date'].value;
    listTable.filter['have_discount'] = frm.elements['have_discount'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
}

function autoAdjust(aaBtn, amount)
{
  var br = aaBtn.nextElementSibling;
  var editSpan = aaBtn.nextElementSibling.nextElementSibling;
  editSpan.click();
  var editInput = editSpan.getElementsByTagName('input')[0];
  editInput.style.width = '';
  editInput.size = amount.length;
  editInput.value = amount;
  br.parentNode.removeChild(br);
  aaBtn.parentNode.removeChild(aaBtn);
}

function auto_adjust_btn(){
  var aTags = document.getElementsByTagName('A');
  for (var i = 0; i < aTags.length; i++)
  { 
    if (aTags[i].href.indexOf('auto_adjust_order') >= 0)
    {
      
      aTags[i].onclick = function() { 
        $text = "此功能會將以下"+listTable.filter.record_count+"張訂單佣金全部自動修正";
        var r = confirm($text);
        if (r == true) {
            var frm =  document.forms['TimeInterval'];
            listTable.filter['start_date'] = frm.elements['start_date'].value;
            listTable.filter['end_date'] = frm.elements['end_date'].value;
            listTable.filter['have_discount'] = frm.elements['have_discount'].value;
            $.ajax({
              url: 'sale_commission.php',
              type: 'get',
              cache: false,
              data: {
                'act': 'auto_udpate_commission_adjust',
                'start_date': listTable.filter.start_date,
                'end_date': listTable.filter.end_date,
                'have_discount': listTable.filter.have_discount,
                'salesperson': listTable.filter.salesperson
              },
              dataType: 'json',
              success: function (result) {
                if (result.error)
                {
                  alert(result.message);
                }
                else if(result.content.status && result.content.status == 1)
                {
                  location.reload();
                }
              },
              error: function (xhr) {
                alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
                console.log(xhr);
              }
            });
        } else {
            
        }
      };
    }
  }
}

//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}