{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form  action="search_log.php" method="post" style="margin:0px">
    {$lang.start_date}&nbsp;{html_select_date field_order="YMD" prefix="start_date" time=$start_date start_year="-10" end_year="+1" display_days=true month_format="%m"}&nbsp;&nbsp;
    {$lang.end_date}&nbsp;{html_select_date field_order="YMD" prefix="end_date" time=$end_date start_year="-10" end_year="+1" display_days=true month_format="%m"}&nbsp;&nbsp;
    <input type="hidden" name="act" value="list" />
    <input type="submit" name="submit" value="{$lang.query}" class="btn btn-primary" />
  </form>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
<th>{$lang.keywords}</th><th width="25%">{$lang.date}</th><th width="20%">{$lang.hits}</th>
</tr>
{foreach from=$logdb item=val}
<tr>
  <td>{$val.keyword}</td><td align="center">{$val.date}</td><td align="center">{$val.count}</td>
</tr>
{/foreach}
</table>
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>
<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
//-->
</script>
{include file="pagefooter.htm"}
{/if}