<!-- $Id: searchengine_stats.htm 16420 2009-07-02 06:56:57Z liubo $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="" method="post" id="selectForm">
     <div id="group">
       {$lang.start_date}&nbsp;&nbsp;
       <input name="start_date" value="{$start_date}" style="width:80px;" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" />
       {$lang.end_date}&nbsp;&nbsp;
       <input name="end_date" value="{$end_date}" style="width:80px;" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" /> 
       <br>{$lang.result_filter}&nbsp;
        {foreach from=$searchengines item=val key=sename}
        <label><input type="checkbox" value="{$sename}" name="filter[]" {if $val}checked{/if}>{$sename}</label>
        {/foreach}
        <input type="submit" name="submit" value="{$lang.query}" class="btn btn-primary" />
  </form>
</div>

<div class="tab-div">
    <!-- tab bar -->
    <div id="tabbar-div">
      <p>
        <span class="tab-front" id="general-tab">{$lang.tab_keywords}</span>
      </p>
    </div>
    <!-- tab body -->
    <div id="tabbody-div">
        <!-- 关键字 -->
        <table width="90%" id="general-table">
          <tr><td align="center">
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
              codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
              width="565" height="420" id="FCColumn2" align="middle">
              <PARAM NAME="FlashVars" value="&dataXML={$general_data}">
              <PARAM NAME=movie VALUE="images/charts/ScrollColumn2D.swf?chartWidth=650&chartHeight=400">
              <param NAME="quality" VALUE="high">
              <param NAME="bgcolor" VALUE="#FFFFFF">
              <param NAME="wmode" VALUE="opaque">
              <embed src="images/charts/ScrollColumn2D.swf?chartWidth=650&chartHeight=400" FlashVars="&dataXML={$general_data}" quality="high" bgcolor="#FFFFFF"  width="650" height="400" name="FCColumn2" wmode="opaque" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
            </object>
          </td></tr>
        </table>
    </div>
</div>

{insert_scripts files="tab.js"}

{literal}
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}