{include file="pageheader.htm"}
<div class=" x_panel">
	<div class="step3">{$lang.shop_basic_third}</div>
	<div class="shortcut">
		<ul>
		  <li><a href="../" target="_blank">{$lang.preview}</a></li>
		  <li><a href="goods.php?act=add" target="main-frame">{$lang.add_good}</a></li>
		  <li><a href="category.php?act=add" target="main-frame">{$lang.add_category}</a></li>
		  <li><a href="goods_type.php?act=manage" target="main-frame">{$lang.add_type}</a></li>
		  <li><a href="favourable.php?act=add" target="main-frame">{$lang.add_favourable}</a></li>
		  <li><a href="shop_config.php?act=list_edit" target="main-frame">{$lang.shop_config}</a></li>
		  <li><a href="template.php?act=list" target="main-frame">{$lang.select_template}</a></li>
		  <li><a href="privilege.php?act=add" target="main-frame">{$lang.admin_add}</a></li>
		  <li><a href="./index.php?act=main" target="main-frame">{$lang.shop_back_in}</a></li>
		</ul>
	</div>
</div>
{include file="pagefooter.htm"}
