<!-- $Id: shipping_list.htm 17043 2010-02-26 10:40:02Z sxc_shop $ -->
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
<style>
</style>
<div class=" x_panel">
<!-- start payment list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<table class="table table-striped table-bordered bulk_action" id="#">
  <thead>
    <tr>
      <th data-id="shipping_name" data-key="shipping_id" data-edit="1" data-sort="0">{$lang.shipping_name}</th>
      <th data-id="shipping_desc" data-edit="1" data-sort="0">{$lang.shipping_desc}</th>
      <th data-id="shipping_type_id" data-value="shipping_type_name" data-sort="0" data-edit="1" data-type="select" data-options="type_options">配送類型</th>
      <th data-id="insure" data-sort="0">{$lang.insure}</th>
      <!--th support_cod nowrap="true">{$lang.support_cod}</th-->
      <th data-id="is_pos" data-sort="0" data-edit="1" data-type="toggle">{$lang.is_pos}</th>
      <th data-id="support_fod" data-sort="0" data-edit="1" data-type="toggle">{$lang.support_cod}</th>
      <th data-id="sort_order" data-value="sort_order" data-edit="1" data-sort="0">{$lang.sort_order}</th>
      <th data-id="version" data-sort="0">{$lang.shipping_version}</th>
      <th data-id="author" data-sort="0">{$lang.shipping_author}</th>
      <th data-id="_handle" data-sort="0" >{$lang.handler}</th>
    </tr>
  </thead>
</table>
</div>
  <div class='modal fade bs-example-modal-lg' id='edit_logo_dialog'>
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title"  id="logo_code"></h4>
        </div>
        <div class="modal-body ">
          <form id="logo_edit_form" class="form-inline" enctype="multipart/form-data" onsubmit="return update_logo(this)" method="POST">
            <input type='hidden' id='current_code'>
            <input class="form-control" type="file" name="logo_file" id="logo_file" accept="image/*" onchange="img_preview(this.files[0])">
            <div id="logo_container" class="col-md-12"></div><br>
            <p style="text-align: center;">
              <input type="submit" class="btn btn-primary" value="更新">
              <input type="reset" class="btn btn-primary" onclick="close_logo()" value="關閉">
            </p>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end payment list -->
</div>
{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
var type_options = {$type_options|json_encode};
yohoTable.paging = false;
var $table = yoho_dataTable();

{/literal}
//-->
function logo_edit(code){
  Ajax.call('shipping.php?act=shipping_priv','',function(data){
    if(data.error == 0){
      document.getElementById('current_code').value = code;
      document.getElementById('logo_edit_form').reset();
      document.getElementById('logo_container').innerHTML = "";
      Ajax.call('shipping.php?act=logo_edit&req=retrieve&code='+code,'',function(data){
       $('#edit_logo_dialog').modal('show');
        if(data.error == 0){
          alert("找不到檔案");
          location.reload();
        }else if(data.error == 1){
          document.getElementById('logo_container').innerHTML = '<div class=""><p style="text-align:center">請選擇檔案</p></div>';
        }else if(data.src){
          drawPreview('logo_container',data.src);
        }
        document.getElementById('logo_code').innerHTML = data.name;
      }, 'GET','JSON')
    }else{
      alert(data.message);
    }
  },'GET','JSON')
}
function update_logo(){
  if(document.getElementById('logo_file').value == ""){
    alert('請上傳檔案');
    return false;
  }
  var fd = new FormData(document.getElementById('logo_edit_form'));
  var xhr = new XMLHttpRequest();
  xhr.open('POST', 'shipping.php?act=logo_edit&req=update&code='+document.getElementById('current_code').value, true);
  xhr.onreadystatechange = function () {
    if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
      var data = JSON.parse(xhr.responseText);
      if(data.error){
        alert('無法上傳檔案');
      }else if(data.success == 1){
        alert('已更新Logo');
        location.reload();
      }
    }
  }
  xhr.send(fd);
  return false;
}
function close_logo(){
  document.getElementById('logo_edit_form').reset();
  document.getElementById('logo_container').innerHTML = "";
  $('#edit_logo_dialog').modal('hide');
}
function img_preview(e){
  document.getElementById('logo_container').innerHTML = "";
  if(e){
    if(e.type.match(/image\//)){
      drawPreview('logo_container',URL.createObjectURL(e));
    }else{
      document.getElementById('logo_container').innerHTML = '<div class=""><p style="text-align:center">不支援的檔案格式</p></div>';
    }
  }
}
function close_type(){
	document.getElementById('type_edit_form').reset();
	document.getElementById('type_container').innerHTML = "";
	$('#edit_type_dialog').modal('hide');
}
function drawPreview(target,src){
	console.log(target,src)
  var maxW = parseInt(document.getElementById(target).style['width']),
      maxH = parseInt(document.getElementById(target).style['height']);
  document.getElementById(target).innerHTML = "";
  var img = new Image;
  img.onload = function() {
    var canvas=document.createElement("canvas");
    var ctx=canvas.getContext("2d");
    var iw=img.width;
    var ih=img.height;
    var scale=Math.min((maxW/iw),(maxH/ih));
    var iwScaled=iw*scale;
    var ihScaled=ih*scale;
    canvas.width=iwScaled;
    canvas.height=ihScaled;
    ctx.drawImage(img,0,0,iwScaled,ihScaled);
    var thumb=new Image();
    thumb.src=canvas.toDataURL();
    thumb.className = '';
    thumb.style.position = 'absolute';
    document.getElementById(target).appendChild(thumb);
  }
  img.src = src;
}
</script>
