
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

<form id="form_template" action="javascript:saveTemplate()" method="post">
<div id="tabbody-div">
    <table width="90%" id="general-table" align="center">
    <tr>
    <td style='text-align:right'><b>安裝條款名稱</b></td>
    <td><input type="text" name="template_name" id="template_name" style="margin-left: 20px;" value="{$data.template_name|escape}"></td>
    </tr>
    <tr>
    <td style='text-align:right'><b>安裝條款內容</b></td>
    <td><textarea name="template_content" id="template_content" cols="40" rows="10" class="tinymce" style="margin-left: 20px;">{$data.template_content|escape}</textarea></td>
    </tr>
    </table>
</div>
<div class="button-div">
    <input type="hidden" name="template_id" id="template_id" value="{$data.template_id}" class="btn btn-primary">
    <input type="submit" value=" 確定 " class="btn btn-primary">
    <input type="reset" value=" 重置 " class="btn btn-primary">
    {if $data.template_id eq ""}<span style="margin-left:10px;color:red">**請確保已同時輸入英文版本</span>{/if}
</div>
</form>

</div>
<script type="Text/Javascript" language="JavaScript">
// Multiple language support
var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode} || JSON.parse(JSON.stringify([{en_us:{template_content:""}}]));
var localizableFieldsMapping = {'template_content': 'template_content'};
console.log($('input[name="localized_versions"]').val())
function saveTemplate(){
    var localized_json = $('input[name="localized_versions"]').val();
    if($('#template_name').val() == "" || $('#template_content').val() == ""){
        alert("Missing Inputs");
    }else{
        if($('#template_id').val() == ""){
            var con = confirm("已同時輸入英文版本?");
            if(con == true){
                Ajax.call('shipping_templates.php?act=update','&template_id=' + encodeURIComponent($('#template_id').val()) + '&template_name=' + encodeURIComponent($('#template_name').val()) + "&template_content=" + encodeURIComponent($('#template_content').val()) + "&localized_versions=" + encodeURIComponent(localized_json), saveTemplateResponse, "POST", "JSON");
            }
        } else {
            Ajax.call('shipping_templates.php?act=update','&template_id=' + encodeURIComponent($('#template_id').val()) + '&template_name=' + encodeURIComponent($('#template_name').val()) + "&template_content=" + encodeURIComponent($('#template_content').val()) + "&localized_versions=" + encodeURIComponent(localized_json), saveTemplateResponse, "POST", "JSON");
        }
    }
}
function saveTemplateResponse(result)
{
  if (result.success == 1)
  {
      alert(result.message);
      window.location.replace("shipping_templates.php?act=list");
  } else {
      alert(result.message);
      window.location.reload(window.location.href);
  }
}
</script>
{include file="pagefooter.htm"}
