{include file="pageheader.htm"}
{insert_scripts files="i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
{insert_scripts files="../yohohk/js/jquery.cropit.js"}
{insert_scripts files="../yohohk/js/cropit.howang.js"}
<link href="../yohohk/css/jquery.cropit.css" rel="stylesheet" type="text/css" />
<div class="x_panel">
    <form method="post"  action="shipping_type.php" enctype="multipart/form-data" class="tab-content form-horizontal form-label-left">
        <div role="tabpanel" class="tab-pane fade active in" id="general-table">
            <input type="hidden" name="act" value="update">
            <input type="hidden" name="shipping_type_id" value="{$record.shipping_type_id}">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">類型名稱</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <input class="form-control" type='text' name="shipping_type_name" value="{$record.shipping_type_name}"
                           required="required">
                </div>
            </div>
            {if !$record.shipping_type_code}
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">Code</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <input class="form-control" type='text' name="shipping_type_code" value="{$record.shipping_type_code}"
                           required="required">
                </div>
            </div>
            {/if}
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">簡介</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <input class="form-control" type='text' name="shipping_type_desc" value="{$record.shipping_type_desc}"
                           required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">類型圖示</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <input class="form-control" type="file" value="{$record.shipping_type_icon}"
                           name="shipping_type_icon">
                    {if $record.shipping_type_icon}<img src="{$record.shipping_type_icon}" width="50" height="50">{/if}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="ln_solid"></div>
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-success">{$lang.button_submit}</button>
            </div>
        </div>
    </form>
</div>
{include file="pagefooter.htm"}
<script>
	// Multiple language support
	var localizableFields = {$localizable_fields|json_encode};
	var localizedVersions = {$localized_versions|json_encode};
	var organizations = {$organizations|json_encode};
	var localizableFieldsMapping = {};
</script>