{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
<div class=" x_panel">
    <div id="validate_list" class="col-md-12">
        <span class="red">新增類型需要聯絡系統人員</span>
        <table class="table table-striped table-bordered bulk_action">
            <thead>
            <tr>
                <th data-id="shipping_type_id" data-key="shipping_type_id">編號</th>
                <th data-id="shipping_type_name">類型名稱</th>
                <th data-id="shipping_type_desc">類型簡介</th>
                <th data-id="shipping_type_icon" data-type='toggle'>有否ICON</th>
                <th data-id="enabled" data-type='toggle'>有效</th>
                <th class="actionsCol" data-id="_action" width="150" data-sort="0">{$lang.handler}</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
{include file="pagefooter.htm"}
<script>
	var $validateTable = yoho_dataTable();
</script>