{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
  <table class="table table-striped table-bordered" id="shipping_templates">
  <thead>
    <tr class="headings">
      <th data-id="template_id" data-key="template_id">{$lang.record_id}</th>
      <th data-id="template_name" data-edit="true">安裝條款名稱</th>
      <th data-id="template_content">安裝條款內容</th>
      <th data-id="goods_count">產品數</th>
      <th class="actionsCol" data-id="_action" data-sort="0">{$lang.handler}</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
var $table = yoho_dataTable();
function add_shipping_template()
{
  var template_name = prompt('請輸入新安裝條款模版的名稱：');
  if (template_name === null) return;
  if (!template_name)
  {
    alert('錯誤：安裝條款模版名稱不能留空');
    return;
  }

	Ajax.call('shipping_templates.php?act=add_shipping_template', 'template_name=' + encodeURIComponent(template_name), function (res)
	{
		if (res.error != 0)
		{
			alert(res.message);
		}
		else
    {
      // Redraw data table, causes data to be reloaded
        $('#shipping_templates').DataTable().draw();
		}
	}, 'POST', 'JSON');
}
</script>
