<!-- $Id: shipping_area_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js,i18n.js"}
<div class=" x_panel">
<!-- start shipping area list -->
<form method="post" action="shipping_area.php" name="listForm" onsubmit="return confirm('{$lang.remove_confirm}')">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

<table class="table table-striped table-bordered bulk_action" cellspacing='1' cellpadding='3' id='listTable'>
  <thead>
  <tr>
    <th><input type="checkbox" onclick="listTable.selectAll(this, 'areas')" />{$lang.record_id}</th>
    <th>{$lang.shipping_area_name}</th>
    <th>{$lang.shipping_area_regions}</th>
    <th>配送方式描述</th>
    <th>{$lang.handler}</th>
  </tr>
  </thead>
  {foreach from=$areas item=area}
  <tr>
    <td>
      <input type="checkbox" name="areas[]" value="{$area.shipping_area_id}" />{$area.shipping_area_id}
    </td>
    <td class="first-cell">
      <span onclick="listTable.edit(this, 'edit_area', '{$area.shipping_area_id}'); return false;">{$area.shipping_area_name|escape}</span>
    </td>
    <td>{$area.shipping_area_regions}</td>
    <td><span onclick="listTable.edit(this, 'edit_area_shipping_desc', '{$area.shipping_area_id}'); return false;">{$area.shipping_desc|escape|default:N/A}</span></td>
    <td align="center">
      <a href="shipping_area.php?act=edit&id={$area.shipping_area_id}">{$lang.edit}</a> | <a href="javascript:;" onclick="listTable.remove({$area.shipping_area_id}, '{$lang.remove_confirm}', 'remove_area')">{$lang.remove}</a>
    </td>
  </tr>
  {/foreach}

  <tr>
    <td colspan="5" align="center">
      <input type="hidden" name="act" value="multi_remove" />
      <input type="hidden" name="shipping" value="{$smarty.get.shipping}" />
      <input type="submit" value="{$lang.delete_selected}" id="btnSubmit" class="btn btn-primary" />
    </td>
  </tr>
</table>

{if $full_page}
</div>
</form>
<!-- end shipping area list -->
</div>
<script language="JavaScript">
<!--
listTable.filter.shipping = '{$shipping_id}';

onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

//-->
</script>
{include file="pagefooter.htm"}
{/if}