       <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
          {$var.name}:
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          {if $var.type eq "password"}
          <input class="form-control" name="value[{$var.id}]" type="password" value="{$var.value}" size="40" />

          {elseif $var.type eq "textarea"}
          <textarea class="form-control" name="value[{$var.id}]" cols="40" rows="5">{$var.value}</textarea>

          {elseif $var.type eq "select"}
          {foreach from=$var.store_options key=k item=opt}
          <label for="value_{$var.id}_{$k}"><input type="radio" name="value[{$var.id}]" id="value_{$var.id}_{$k}" value="{$opt}"
            {if $var.value eq $opt}checked="true"{/if}
            {if $var.code eq 'rewrite'}
              onclick="return ReWriterConfirm(this);"
            {/if}
            {if $var.code eq 'smtp_ssl' and $opt eq 1}
              onclick="return confirm('{$lang.smtp_ssl_confirm}');"
            {/if}
            {if $var.code eq 'enable_gzip' and $opt eq 1}
              onclick="return confirm('{$lang.gzip_confirm}');"
            {/if}
            {if $var.code eq 'retain_original_img' and $opt eq 0}
              onclick="return confirm('{$lang.retain_original_confirm}');"
            {/if}
          />{$var.display_options[$k]}</label>
          {/foreach}

          {elseif $var.type eq "options"}
          <select class="form-control" name="value[{$var.id}]" id="value_{$var.id}_{$key}">
            {html_options options=$lang.cfg_range[$var.code] selected=$var.value}
          </select>

          {elseif $var.type eq "file"}
          <input class="form-control" name="{$var.code}" type="file" size="40" />
          {if ($var.code eq "shop_logo" or $var.code eq "no_picture" or $var.code eq "watermark" or $var.code eq "shop_slagon" or $var.code eq "wap_logo") and $var.value}
            <a href="?act=del&code={$var.code}"><img src="images/no.gif" alt="Delete" border="0" /></a> <img src="images/yes.gif" border="0" onmouseover="showImg('{$var.code}_layer', 'show')" onmouseout="showImg('{$var.code}_layer', 'hide')" />
            <div id="{$var.code}_layer" style="position:absolute; width:100px; height:100px; z-index:1; visibility:hidden" border="1">
              <img src="{$var.value}" border="0" />
            </div>
          {else}
            {if $var.value neq ""}
            <img src="images/yes.gif" alt="yes" />
            {else}
            <img src="images/no.gif" alt="no" />
            {/if}
          {/if}
          {elseif $var.type eq "manual"}

            {if $var.code eq "shop_country"}
              <select class="form-control" name="value[{$var.id}]" id="selCountries" onchange="region.changed(this, 1, 'selProvinces')">
                <option value=''>{$lang.select_please}</option>
                {foreach from=$countries item=region}
                  <option value="{$region.region_id}" {if $region.region_id eq $cfg.shop_country}selected{/if}>{$region.region_name}</option>
                {/foreach}
              </select>
                  {elseif $var.code eq "shop_province"}
              <select class="form-control" name="value[{$var.id}]" id="selProvinces" onchange="region.changed(this, 2, 'selCities')">
                <option value=''>{$lang.select_please}</option>
                {foreach from=$provinces item=region}
                  <option value="{$region.region_id}" {if $region.region_id eq $cfg.shop_province}selected{/if}>{$region.region_name}</option>
                {/foreach}
              </select>
            {elseif $var.code eq "shop_city"}
              <select class="form-control" name="value[{$var.id}]" id="selCities">
                <option value=''>{$lang.select_please}</option>
                {foreach from=$cities item=region}
                  <option value="{$region.region_id}" {if $region.region_id eq $cfg.shop_city}selected{/if}>{$region.region_name}</option>
                {/foreach}
              </select>
            {elseif $var.code eq "lang"}
                  <select class="form-control" name="value[{$var.id}]">
                  {html_options values=$lang_list output=$lang_list selected=$var.value}
                  </select>
            {elseif $var.code eq "invoice_type"}
            <table class="table">
              <tr>
                <th scope="col">{$lang.invoice_type}</th>
                <th scope="col">{$lang.invoice_rate}</th>
              </tr>
              <tr>
                <td><input class="form-control" name="invoice_type[]" type="text" value="{$cfg.invoice_type.type[0]}" /></td>
                <td><input class="form-control" name="invoice_rate[]" type="text" value="{$cfg.invoice_type.rate[0]}" /></td>
              </tr>
              <tr>
                <td><input class="form-control" name="invoice_type[]" type="text" value="{$cfg.invoice_type.type[1]}" /></td>
                <td><input class="form-control" name="invoice_rate[]" type="text" value="{$cfg.invoice_type.rate[1]}" /></td>
              </tr>
              <tr>
                <td><input class="form-control" name="invoice_type[]" type="text" value="{$cfg.invoice_type.type[2]}" /></td>
                <td><input class="form-control" name="invoice_rate[]" type="text" value="{$cfg.invoice_type.rate[2]}" /></td>
              </tr>
            </table>
            {/if}
          {else}
          <input class="form-control" name="value[{$var.id}]" type="{$var.type}" value="{$var.value}" size="40" />{if $var.url eq 1}{$lang.sms_url}{/if}
          {/if}
          {if $var.desc}
          <br />
          <span class="form-helper" >{$var.desc|nl2br}</span>
          {/if}
        </div>
      </div>
