{include file="pageheader.htm"}


{insert_scripts files="actg.js"}

<form action="shop_expenses.php" method="post" name="form">
<div class=" x_panel">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <th width="30%"></th>
    <th width="70%"></th>
  </tr>
  <tr>
    <td class="label">操作員</td>
    <td>
      <select name="operator" style="width: 280px;">
        <option value="">{$lang.select_please}</option>
        {foreach from=$salesperson_list item=salesperson}
        {if $salesperson eq $admin_name}<option selected="selected" value="{$admin_id}">{$salesperson}</option>{/if}
        {/foreach}
      </select>
    </td>
  </tr>
  <tr>
    <td class="label">類型</td>
    <td>
      <select name="expense_type_id" style="width: 280px;">
        <option value="">{$lang.select_please}</option>
        {foreach from=$expense_types item=type}
        <option value="{$type.expense_type_id}">{$type.expense_type_name}</option>
        {/foreach}
      </select>
    </td>
  </tr>
  <tr id="deposit_accounts" style="display: none;">
    <td class="label">存款帳戶</td>
    <td>
      {foreach from=$deposit_accounts item=account name=foo}
      <label><input type="radio" name="deposit_account" value="{$account.account_id}">{$account.account_name}</label>
      {if !$smarty.foreach.foo.last}<br>{/if}
      {/foreach}
    </td>
  </tr>
  <tr id="desc_row">
    <td class="label">項目</td>
    <td>
      <input name="expense_desc" type="text" style="width: 280px;" />
    </td>
  </tr>
  <tr>
    <td class="label">金額</td>
    <td>
      <input name="amount" type="text" style="width: 280px;" placeholder="輸入港幣金額" />
    </td>
  </tr>
  <tr>
    <td class="label">會計月份</td>
    <td>
      <select name="expense_year" type="text" id="expense_year">
        <option value="0"></option>
      </select> 年
      <select name="expense_month" type="text" id="expense_month">
        <option value="0"></option>
      </select> 月
    </td>
  </tr>
  <tr>
    <td class="label">備注</td>
    <td>
      <textarea name="remark" style="width: 280px;"></textarea>
    </td>
  </tr>
  <tr align="center">
    <td colspan="2">
      <input type="hidden"  name="act"       value="insert" />
      <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
    </td>
  </tr>
</table>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}

$(function () {
  
  YOHO.actg.sanitizeAmountInput($('input[name="amount"]'));
  
  $('select[name="expense_type_id"]').change(function() {
    if ($(this).val() == 2) // 存款到銀行
    {
      $('tr#deposit_accounts').show();
      $('tr#desc_row').hide();
    }
    else
    {
      $('tr#deposit_accounts').hide();
      $('tr#desc_row').show();
    }
  });
  
  $('form[name="form"]').submit(function () {
    if ($('select[name="expense_type_id"]').val() == 2) // 存款到銀行
    {
      var account_name = $('input[name="deposit_account"]:checked').closest('label').text();
      $('input[name="expense_desc"]').val(account_name);
    }
  });

  for(var i = (new Date()).getFullYear(); i >= 2017; i--)
    $('#expense_year').append('<option value="'+i+'">'+i+'</option>')
  for(var i = 1; i <= 12; i++)
    $('#expense_month').append('<option value="'+i+'">'+i+'</option>')
  $('#expense_year').val((new Date()).getFullYear());
  $('#expense_month').val((new Date()).getMonth()+1);
});

{/literal}
//-->
</script>
{include file="pagefooter.htm"}