<!-- $Id: shopinfo_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<!-- start cat list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

<table class="table table-striped table-bordered bulk_action" id='list-table'>
  <tr>
    <th>{$lang.id}</th>
    <th>{$lang.title}</th>
    <th>{$lang.add_time}</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$list item=item}
  <tr>
    <td align="center" width="40px">{$item.article_id}</td>
    <td  class="first-cell"><span onclick="javascript:listTable.edit(this, 'edit_title', {$item.article_id})">{$item.title|escape:html}</span></td>
    <td align="center">{$item.add_time}</td>
    <td align="center">
      <a href="shopinfo.php?act=edit&id={$item.article_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16"></a>&nbsp;&nbsp;
     <a href="javascript:;" onclick="listTable.remove({$item.article_id}, '{$lang.drop_confirm}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16"></a>
    </td>
   </tr>
  {/foreach}
</table>

{if $full_page}
</div>
<!-- end cat list -->
<script language="JavaScript">
{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
{/literal}
</script>
{include file="pagefooter.htm"}
{/if}