{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
    {insert_scripts files="../js/utils.js,listtable.js"}
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
            {$lang.start_date}&nbsp;
            <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="month" autocomplete="off"/>&nbsp;&nbsp;
            {$lang.end_date}&nbsp;
            <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="month" autocomplete="off" />&nbsp;&nbsp;
            <input type="submit" id="submit" name="submit" value="{$lang.query}" class="btn btn-success form-btn" />
            {insert name=daterange_group}
        </form>
    </div>
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <ul id="timeTab" class="nav nav-tabs bar_tabs" role="tablist">
            {if !$date_range}
                <li role="presentation" {if $selected_time eq $tab_end_date || empty($selected_time)}class="active"{/if}>
                    <a href="commission.php?act=shop_commission&amp;time={$tab_end_date}" >{$tab_end_date}</a>
                </li>
                <li role="presentation" {if $selected_time eq $tab_start_date}class="active"{/if}>
                    <a href="commission.php?act=shop_commission&amp;time={$tab_start_date}" >{$tab_start_date}</a>
                </li>
            {/if}
            {foreach from=$date_range item=date name=time}
                <li role="presentation" {if $selected_time eq $date }class="active"{/if}>
                    <a href="commission.php?act=shop_commission&amp;time={$date}&amp;start_date={$start_date}&amp;end_date={$end_date}&amp;date_range={$date_range_str}" >{$date}</a>
                </li>
            {/foreach}
        </ul>
    </div>
{/if}
    <form method="POST" action="" name="listForm">
        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
            <div class="form-div col-md-12 col-sm-12 col-xs-12">
                <span>Sales Team 人數:</span> <span>{$total_salesperson}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>門市銷售額目標:HK$</span> <span class="shop_target" {if $priv_shop_target_manage eq 1} style="display:inline-block; cursor: pointer;text-decoration: underline" {/if}>{if $shop_target}{$shop_target}{else}0{/if}</span><span class="meet_target">{if $meet_target neq 1}<span class="red">(未達到)</span>{else}<span class="green">(已達到)</span>{/if}</span>
                <input class="form-control" type="text" name="shop_target_time" value="{$shop_target_time}" style="display: none"/>
            </div>
            <div class="form-div col-md-12 col-sm-12 col-xs-12">
                <span>Manager Grade Sales</span> <span>{$manager_grade_sales}%</span>
            </div>
            <table class="table table-striped table-bordered bulk_action">
                <tr>
                    <th></th>
                    <th>Sales Executives</th>
                    <th>職位</th>
                    <th>銷售額</th>
                    <th>未計比重佣金</th>
                    <th>比重</th>
                    <th>計比重後佣金</th>
                </tr>
                {foreach from=$sales_data item=list name=sale}
                    <tr align="center">
                        {if $smarty.foreach.sale.iteration eq 1}<td align="left" rowspan="{$smarty.foreach.sale.total}">門市</td>{/if}
                        <td align="right">{$list.salesperson}</td>
                        <td align="right">{$list.position}</td>
                        <td align="right">{$list.volume_formatted}</td>
                        <td align="right">{$list.commission_formatted}</td>
                        <td align="right">100%</td>
                        <td align="right">{$list.commission_formatted}</td>
                    </tr>
                {/foreach}
                {foreach from=$wholesale_data item=list}
                    <tr align="center">
                        <td align="left">其他平台(批發)</td>
                        <td align="right"></td>
                        <td align="right"></td>
                        <td align="right">{$list.volume_formatted}</td>
                        <td align="right">{$list.commission_formatted}</td>
                        <td align="right">80%</td>
                        <td align="right">{$list.weight_commission_formatted}</td>
                    </tr>
                {/foreach}
                {foreach from=$pickup_data item=list}
                    <tr align="center">
                        <td align="left">網上下單門店自取</td>
                        <td align="right"></td>
                        <td align="right"></td>
                        <td align="right">{$list.volume_formatted}</td>
                        <td align="right">{$list.commission_formatted}</td>
                        <td align="right">80%</td>
                        <td align="right">{$list.weight_commission_formatted}</td>
                    </tr>
                {/foreach}
                {foreach from=$esd item=list}
                    <tr align="center">
                        <td align="left">其它平台(ESD)</td>
                        <td align="right"></td>
                        <td align="right"></td>
                        <td align="right">{$list.volume_formatted}</td>
                        <td align="right">{$list.commission_formatted}</td>
                        <td align="right">80%</td>
                        <td align="right">{$list.weight_commission_formatted}</td>
                    </tr>
                {/foreach}
                {foreach from=$online_except_pickup item=list}
                    <tr align="center">
                        <td align="left">網上(扣除門店自取)</td>
                        <td align="right"></td>
                        <td align="right"></td>
                        <td align="right">{$list.volume_formatted}</td>
                        <td align="right">{$list.commission_formatted}</td>
                        <td align="right">10%</td>
                        <td align="right">{$list.weight_commission_formatted}</td>
                    </tr>
                {/foreach}
                {foreach from=$other_sa item=list}
                    <tr align="center">
                        <td align="left">其它平台(AsiaMiles,Price,Yahoo, Habittzz, the club)</td>
                        <td align="right"></td>
                        <td align="right"></td>
                        <td align="right">{$list.volume_formatted}</td>
                        <td align="right">{$list.commission_formatted}</td>
                        <td align="right">10%</td>
                        <td align="right">{$list.weight_commission_formatted}</td>
                    </tr>
                {/foreach}
                <tr align="center">
                        <td align="left">佣金總金額</td>
                        <td align="right"></td>
                        <td align="right"></td>
                        <td align="right" style="font-weight:bold">{$total_volumn}</td>
                        <td align="right" style="font-weight:bold">{$total_commission}</td>
                        <td align="right"></td>
                        <td align="right" style="font-weight:bold">{$total_weight_commission}</td>
                    </tr>
            </table>
{if $full_page}
        </div>
    </form>
</div>
{include file="pagefooter.htm"}
{/if}
<script language="JavaScript">
    function getList()
    {
        var frm =  document.forms['TimeInterval'];
        
        var start_date = frm.elements['start_date'].value;
        var end_date = frm.elements['end_date'].value;
        var date_range = dateRange(start_date,end_date).reverse();
        var date_range_len = date_range.length;
        var html = "";
        for(var i=0; i<date_range_len; i++) {
            date = date_range[i];
            if(i==0) {
                html += '<li role="presentation" class="active">' +
                        '<a href="commission.php?act=shop_commission&amp;time='+date+'">'+date+'</a>' +
                    '</li>';
            } else {
                html += '<li role="presentation">' +
                            '<a href="commission.php?act=shop_commission&amp;time='+date+'&amp;start_date='+start_date+'&amp;end_date='+end_date+'&amp;date_range='+date_range+'">'+date+'</a>' +
                        '</li>';
            }
            
        }      
        listTable.filter['obj'] = 'shop_commission';
        listTable.filter['start_date'] = start_date;
        listTable.filter['end_date'] = end_date;
        $('#timeTab').html(html);   
        listTable.loadList();
        $('#start_date').val(start_date.substring(0,7));
        $('#end_date').val(end_date.substring(0,7));
    }
    function dateRange(startDate, endDate) {
        var start      = startDate.split('-');
        var end        = endDate.split('-');
        var startYear  = parseInt(start[0]);
        var endYear    = parseInt(end[0]);
        var dates      = [];
        var dates_zh      = [];
        for(var i = startYear; i <= endYear; i++) {
            var endMonth = i != endYear ? 11 : parseInt(end[1]) - 1;
            var startMon = i === startYear ? parseInt(start[1])-1 : 0;
            for(var j = startMon; j <= endMonth; j = j > 12 ? j % 12 || 11 : j+1) {
                var month = j+1;
                var displayMonth = month < 10 ? '0'+month : month;
                dates.push([i, displayMonth].join('-'));
            }
        }
        return dates;
    }
    {if $priv_shop_target_manage eq 1}
    $('.shop_target').click(function(){
        if($(this).find('input').length != 0) return;
        var total_sales_volumn = {if $total_sales_volumn} {$total_sales_volumn} {else} 0 {/if};
        var old_shop_target =  $(this).html();
        var input = '<input class="" type="text" name="shop_target"  value="'+ old_shop_target +'"/>';  
        $(this).html(input);
        $('input[name="shop_target"]').focus();
        $('input[name="shop_target"]').blur(function(){
        var shop_target_time = $('input[name="shop_target_time"]').val();
        var shop_target = $(this).val();
        if(shop_target.trim() ==""){
            alert("請輸入門市目標!");
            return;
        }
        $.ajax({
          url: 'commission.php',
          type: 'post',
          cache: false,
          data: {
            'act': 'update_shop_target',
            'shop_target_time': shop_target_time,
            'shop_target': shop_target,
          },
          dataType: 'text',
          success: function (result) {
            $('.shop_target').html(shop_target);
            if( parseFloat(total_sales_volumn) >= parseFloat(shop_target)) {
                $('.meet_target').html("<span class='green'>(已達到)</span>");
                
            } else {
                $('.meet_target').html("<span class='red'>(未達到)</span>");
            }
          },
          error: function (xhr) {
            alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
            console.log(xhr);   
          }
        });
    });
    });
    {/if}

</script>

