<!-- $Id: shop_config.htm 16865 2009-12-10 06:05:32Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,../js/region.js,i18n.js"}
<div class="tab-div  x_panel">
  <!-- tab bar       <span class="{if $smarty.foreach.bar_group.iteration eq 1}tab-front{else}tab-back{/if}" id="{$group.code}-tab">{$group.name}</span> -->
  <div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul class="nav nav-tabs bar_tabs" role="tablist">
      {foreach from=$group_list item=group name="bar_group"}
      <li role="{if $smarty.foreach.bar_group.iteration eq 1}presentation{else}tab{/if}" class="{if $smarty.foreach.bar_group.iteration eq 1}active{/if}" id="{$group.code}-tab"><a href="#{$group.code}-table"role="tab" data-toggle="tab" aria-expanded="true">{$group.name}</a></li>

      {/foreach}
    </ul>
  </div>
  <!-- tab body -->
  <div id="tabbody-div">
    <form enctype="multipart/form-data" name="theForm" action="?act=post" method="post" class="tab-content form-horizontal form-label-left">
    {foreach from=$group_list item=group name="body_group"}
    <div role="tabpanel" class="tab-pane {if $smarty.foreach.body_group.iteration eq 1}fade active in{/if}" id="{$group.code}-table">
      {foreach from=$group.vars item=var key=key}
      {include file="shop_config_form.htm"}
      {/foreach}
    </div>
    {/foreach}

    <div class="button-div">
      <input name="submit" type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
      <input name="reset" type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
    </div>
    </form>
  </div>
</div>
{insert_scripts files="validator.js"}
{literal}
<script language="JavaScript">
region.isAdmin = true;
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
var ReWriteSelected = null;
var ReWriteRadiobox = document.getElementsByName("value[209]");

for (var i=0; i<ReWriteRadiobox.length; i++)
{
  if (ReWriteRadiobox[i].checked)
  {
    ReWriteSelected = ReWriteRadiobox[i];
  }
}

function ReWriterConfirm(sender)
{
  if (sender == ReWriteSelected) return true;
  var res = true;
  if (sender != ReWriteRadiobox[0]) {
    var res = confirm('{$rewrite_confirm}');
  }

  if (res==false)
  {
      ReWriteSelected.checked = true;
  }
  else
  {
    ReWriteSelected = sender;
  }
  return res;
}
</script>
{/literal}
{include file="pagefooter.htm"}
<script>
// Multiple language support
var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};
var localizableFieldsMapping = {};
</script>