<!-- $Id: shophelp_article_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div col-md-12 col-sm-12 col-xs-12">
  {$lang.cat}：{$cat}
</div>
<!-- start article list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

<table cellspacing='1' cellpadding='3' id='listTable'>
  <tr>
    <th>{$lang.title}</th>
    <th>{$lang.article_type}</th>
    <th>{$lang.add_time}</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$list  item=item}
    <tr>
      <td class="first-cell"><span onclick="javascript:listTable.edit(this,'edit_title', {$item.article_id})">{$item.title}</span></td>
      <td align="center">{ if $item.article_type eq 0}{$lang.common}{else}{$lang.top}{/if}</td>
      <td align="center">{$item.add_time}</td>
      <td align ="center"><a href="shophelp.php?act=edit&id={$item.article_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16"></a>&nbsp;&nbsp;
      <a href="javascript:;" onclick="listTable.remove({$item.article_id}, '{$lang.js_languages.remove_confirm}', 'remove_art')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16"></a>
      </td>
    </tr>
  {/foreach}
</table>

{if $full_page}
</div>

<script type="Text/Javascript" language="JavaScript">
  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

    {literal}
    onload = function()
    {
        // 开始检查订单
        startCheckOrder();
    }
    {/literal}
</script>
{include file="pagefooter.htm"}
{/if}