<!-- $Id: shophelp_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
<form method="post" action="shophelp.php" name="theForm"  onsubmit="return validate()">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
<table >
  <tr>
    <td width="80px" >{$lang.title}</td>
    <td><input type="text" name="title" size ="50" maxlength="60" value="{$article.title|escape}" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td >{$lang.cat}</td>
    <td>
    {$cat_list}
    {$lang.require_field}
    </td>
  </tr>
  <tr>
    <td>{$lang.article_type}</td>
    <td>
      <input type="radio" name="article_type" value="0" {if $article.article_type == 0}checked="true"{/if}>{$lang.common}
      <input type="radio" name="article_type" value="1" {if $article.article_type == 1}checked="true"{/if}>{$lang.top}

    {$lang.require_field}
    </td>
  </tr>
</table>
</div>

<div class=" x_panel">
<table >
  <tr>
    <td  colspan ="2" align ="center" >
     <textarea name="content" id="tinymce" class="tinymce">{$article.content|escape}</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center"><br />
      <input type="submit" class="btn btn-primary" value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="old_title" value="{$article.title}" />
      <input type="hidden" name="id" value="{$article.article_id}" />
    </td>
  </tr>
</table>
</div>
</form>
{insert_scripts files="../js/utils.js,validator.js"}
<script language="JavaScript">
<!--
{literal}
document.forms['theForm'].elements['title'].focus();
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("title",  no_title);
    validator.isNullOption('cat_id',no_cat)
    return validator.passed();
}
//-->
{/literal}
</script>
{include file="pagefooter.htm"}