{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
  <th><a href="javascript:listTable.sort('expense_id'); ">{$lang.record_id}</a>{$sort_expense_id}</th>
  <th><a href="javascript:listTable.sort('expense_date'); ">日期</a>{$sort_expense_date}</th>
  <th><a href="javascript:listTable.sort('expense_type_id'); ">類型</a>{$sort_expense_type_id}</th>
  <th><a href="javascript:listTable.sort('expense_desc'); ">項目</a>{$sort_expense_desc}</th>
  <th><a href="javascript:listTable.sort('amount'); ">金額</a>{$sort_amount}</th>
  <th><a href="javascript:listTable.sort('operator'); ">操作員</a>{$sort_operator}</th>
  <th><a href="javascript:listTable.sort('remark'); ">備注</a>{$sort_remark}</th>
</tr>
{foreach from=$list item=exp}
<tr>
  <td align="center">{$exp.expense_id}</td>
  <td align="center">{$exp.expense_date_formatted}</td>
  <td align="center">{$exp.expense_type_name}</td>
  <td align="center">{$exp.expense_desc}</td>
  <td align="center">{$exp.amount_formatted}</td>
  <td align="center">{$exp.operator}</td>
  <td align="center">{$exp.remark|default:N/A}</td>
</tr>
{foreachelse}
  <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
{/foreach}
</table>
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>

<script type="text/javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
</script>


{include file="pagefooter.htm"}
{/if}