<!-- $Id: shopinfo_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
<form method="post" action="shopinfo.php" name="theForm"  onsubmit="return validate()">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
{$lang.title}&nbsp;:&nbsp;
<input type="text" name="title" size ="50" maxlength="60" value="{$article.title|escape}" />{$lang.require_field}
</div>
<div class=" x_panel">
<table >
  <tr>
    <td  colspan ="2" align ="center" >
     <textarea name="content" id="tinymce" class="tinymce">{$article.content|escape}</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center"><br />
      <input type="submit" class="btn btn-primary" value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="old_title" value="{$article.title}" />
      <input type="hidden" name="id" value="{$article.article_id}" />
    </td>
  </tr>
</table>
</div>
</form>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['title'].focus();

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("title", no_title);
    return validator.passed();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}