{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
    {insert_scripts files="../js/utils.js,listtable.js"}
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
            {$lang.start_date}&nbsp;
            <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="month" autocomplete="off"/>&nbsp;&nbsp;
            {$lang.end_date}&nbsp;
            <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="month" autocomplete="off"/>&nbsp;&nbsp;
            <input type="submit" id="submit" name="submit" value="{$lang.query}" class="btn btn-success form-btn" />
            {insert name=daterange_group}
            <a class="btn btn-primary form-btn export-to-excel" href="commission.php?act=download&amp;obj=shopSalary&amp;start_date={$start_date}&amp;end_date={$end_date}">轉成Excel</a>
        </form>
    </div>
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <ul id="timeTab" class="nav nav-tabs bar_tabs" role="tablist">
            {if !$date_range}
                <li role="presentation" {if $selected_time eq $tab_end_date || empty($selected_time)}class="active"{/if}>
                    <a href="commission.php?act=shop_salary&amp;time={$tab_end_date}" >{$tab_end_date}</a>
                </li>
                <li role="presentation" {if $selected_time eq $tab_start_date}class="active"{/if}>
                    <a href="commission.php?act=shop_salary&amp;time={$tab_start_date}" >{$tab_start_date}</a>
                </li>
            {/if}
            {foreach from=$date_range item=date name=time}
                <li role="presentation" {if $selected_time eq $date }class="active"{/if}>
                    <a href="commission.php?act=shop_salary&amp;time={$date}&amp;start_date={$start_date}&amp;end_date={$end_date}&amp;date_range={$date_range_str}" >{$date}</a>
                </li>
            {/foreach}
        </ul>
    </div>
{/if}
    <form method="POST" action="" name="listForm">
        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
            <table class="table table-striped table-bordered bulk_action">
                <tr>
                    <th>Sales Executives</th>
                    <th>職位</th>
                    <th>入職日期</th>
                    <th>年資(月)</th>
                    <th>職位分數</th>
                    <th>年資分數</th>
                    <th>總分數</th>
                    <th data-toggle="tooltip" title="(非門市計比重後佣金之和+門市計比重後所有人佣金之和*0.7）*(個人分數/總分數)">公佣<i class="fa fa-question-circle"></i></th>
                    <th data-toggle="tooltip" title="個人計比重后佣金*0.3">私佣<i class="fa fa-question-circle"></i></th>
                    <th data-toggle="tooltip" title="1.員工評價中平均評分到9.0或以上才有評分獎2.計算公式=（公佣+私佣)*0.1(四捨五入)">評分獎<i class="fa fa-question-circle"></i></th>
                    <th data-toggle="tooltip" title="重點產品的個人實際銷量*每件佣金">重點產品獎<i class="fa fa-question-circle"></i></th>
                </tr>
                {foreach from=$sales_salary item=list name=sale}
                    <tr align="center">
                        <td align="right">{$list.salesperson}</td>
                        <td align="right">{$list.position}</td>
                        <td align="right">{$list.joined_date}</td>
                        <td align="right">{$list.month_points}</td>
                        <td align="right">{$list.position_points}</td>
                        <td align="right">{$list.month_points}</td>
                        <td align="right">{$list.private_pontis}</td>
                        <td align="right">{$list.public_commission_format}</td>
                        <td align="right">{$list.private_commission_format}</td>
                        <td align="right">{$list.review_award_format}</td>
                        <td align="right">{$list.important_goods_award_format}</td>

                    </tr>
                {/foreach}
            </table>
{if $full_page}
        </div>
    </form>
</div>
{include file="pagefooter.htm"}
{/if}

<script language="JavaScript">
    function getList()
    {
        var frm =  document.forms['TimeInterval'];
        
        var start_date = frm.elements['start_date'].value;
        var end_date = frm.elements['end_date'].value;
        var date_range = dateRange(start_date,end_date).reverse();
        var date_range_len = date_range.length;
        var html = "";
        for(var i=0; i<date_range_len; i++) {
            date = date_range[i];
            if(i==0) {
                html += '<li role="presentation" class="active">' +
                        '<a href="commission.php?act=shop_salary&amp;time='+date+'">'+date+'</a>' +
                    '</li>';
            } else {
                html += '<li role="presentation">' +
                            '<a href="commission.php?act=shop_salary&amp;time='+date+'&amp;start_date='+start_date+'&amp;end_date='+end_date+'&amp;date_range='+date_range+'">'+date+'</a>' +
                        '</li>';
            }
            
        }      
        listTable.filter['obj'] = 'shop_salary';
        listTable.filter['start_date'] = start_date;
        listTable.filter['end_date'] = end_date;
        $('.export-to-excel').attr("href","commission.php?act=download&obj=shopSalary&start_date="+start_date+"&end_date="+end_date);
        $('#timeTab').html(html);    
        listTable.loadList();
        $('#start_date').val(start_date.substring(0,7));
        $('#end_date').val(end_date.substring(0,7));
    }
    function dateRange(startDate, endDate) {
        var start      = startDate.split('-');
        var end        = endDate.split('-');
        var startYear  = parseInt(start[0]);
        var endYear    = parseInt(end[0]);
        var dates      = [];
        var dates_zh      = [];
        for(var i = startYear; i <= endYear; i++) {
            var endMonth = i != endYear ? 11 : parseInt(end[1]) - 1;
            var startMon = i === startYear ? parseInt(start[1])-1 : 0;
            for(var j = startMon; j <= endMonth; j = j > 12 ? j % 12 || 11 : j+1) {
                var month = j+1;
                var displayMonth = month < 10 ? '0'+month : month;
                dates.push([i, displayMonth].join('-'));
            }
        }
        return dates;
    }

</script>

