<!-- $Id: sitemap.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<form method="POST" action="" name="theForm">
<div class=" x_panel">
<p style="padding: 0 10px">{$lang.sitemaps_note}</p>
</div>
<div class=" x_panel">
<table width="100%">
<tr>
    <td class="label">{$lang.homepage_changefreq}</td>
    <td><select name="homepage_priority">
  {html_options values=$arr_changefreq output=$arr_changefreq  selected=$config.homepage_priority}
  </select><select name="homepage_changefreq">
  {html_options options=$lang.priority selected=$config.homepage_changefreq}
  </select></td>
</tr>
<tr>
    <td class="label">{$lang.category_changefreq}</td>
    <td><select name="category_priority">
  {html_options values=$arr_changefreq output=$arr_changefreq selected=$config.category_priority}
  </select><select name="category_changefreq">
  {html_options options=$lang.priority selected=$config.category_changefreq}
  </select></td>
</tr>
<tr>
    <td class="label">{$lang.content_changefreq}</td>
    <td><select name="content_priority">
  {html_options values=$arr_changefreq output=$arr_changefreq selected=$config.content_priority}
  </select><select name="content_changefreq">
  {html_options options=$lang.priority selected=$config.content_changefreq}
  </select></td>
</tr>
<tr>
    <td></td>
    <td><input type="submit" value="{$lang.button_submit}" class="btn btn-primary" /><input type="reset" value="{$lang.button_reset}" class="btn btn-primary" /></td>
</tr>
</table>
</div>
</form>
{literal}
<script type="text/javascript" language="JavaScript">
<!--
onload = function()
{
    document.forms['theForm'].elements['homepage_changefreq'].focus();
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}