<!-- $Id: sms_charge_ui.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class="main-div" id="sms-charge">
<form method="POST" action="{$sms_charge.charge_url}" name="sms-charge-form" onsubmit="return validate();">
<table >
  <tr>
    <td colspan="2"><input type="hidden" name="login_info" maxlength="60" size="20" value="{$sms_charge.login_info}" /></td>
  </tr>
  <tr>
    <td colspan="2"><input type="hidden" name="return_url" maxlength="20" size="20" value="{$sms_charge.return_url}" /></td>
  </tr>
  <tr>
    <td class="label">{$lang.charge}:</td>
    <td><input type="text" name="money" maxlength="60" size="40" value="" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <input type="submit" name="submit" value="{$lang.button_submit}" class="btn btn-primary" />
      <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
    </td>
  </tr>
</table>
</form>
</div>
{literal}
<script type="text/javascript" language="JavaScript">
<!--
function  validate() {
  var f = document['sms-charge-form'],
  money = f.money.value;

  var reEmpty = /^\s*$/,
      reMoneyFormat = /^[\d.]+$/,
      errorStr = '';

  if (reEmpty.test(money)) {
    errorStr += money_empty_error + "\n";
  } else if (!reMoneyFormat.test(money)) {
    errorStr += money_format_error + "\n";
  }

  if (errorStr === '') {
    return true;
  } else {
    alert(errorStr);
    return false;
  }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}