<!-- $Id: sms_register_ui.htm 16697 2009-09-24 03:57:47Z liuhui $ -->
{include file="pageheader.htm"}

<div id="main-div">
<div class=" x_panel">
<!--<form name="sms-register-form" action="sms.php?act=register" method="POST" onsubmit="return validate_register();">-->
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <th colspan="2">{$lang.error_tips}</th>
  </tr>
  <!--<tr>
    <td class="label">{$lang.email}:</td>
    <td><input type="text" name="email" maxlength="60" size="20" value="{$sms_site_info.email}" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">{$lang.password}:</td>
    <td><input type="password" name="password" maxlength="20" size="20" value="" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">{$lang.domain}:</td>
    <td><input type="text" name="domain" maxlength="60" size="40" value="{$sms_site_info.domain}" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">{$lang.phone}:</td>
    <td><input type="text" name="phone" maxlength="60" size="20" value="" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <input type="submit" name="submit" value="{$lang.button_submit}" class="btn btn-primary" />
      <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
    </td>
  </tr>-->
</table>
<!--</form>-->
</div>
<!--<div class=" x_panel">
<form name="sms-enable-form" action="sms.php?act=enable" method="POST" onsubmit="return validate_enable();">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <th colspan="2">{$lang.enable_old}</th>
  </tr>
  <tr>
    <td class="label">{$lang.email}:</td>
    <td><input type="text" name="email" maxlength="60" size="20" value="{$sms_site_info.email}" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">{$lang.password}:</td>
    <td><input type="password" name="password" maxlength="20" size="20" value="" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <input type="submit" name="submit" value="{$lang.button_submit}" class="btn btn-primary" />
      <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
    </td>
  </tr>
</table>
</form>
</div>-->
</div>

<!--<script type="text/javascript" language="JavaScript">
<!--
{literal}
function validate(formName) {
  var f = document[formName],
      email = f.email.value,
      password = f.password.value;

  var reEmpty = /^\s*$/,
      reEmailFormat = /^[^@]+@.+$/,
      errorStr = '';

  if (reEmpty.test(email)) {
    errorStr += username_empty_error + "\n";
  }

  if (!reEmailFormat.test(email)) {
    errorStr += username_format_error + "\n";
  }

  if (reEmpty.test(password)) {
    errorStr +=  password_empty_error + "\n";
  }

  return errorStr;
}

function validate_register() {
  var errorStr = validate("sms-register-form"),
    domain = document["sms-register-form"].domain.value,
    reEmpty = /^\s*$/,
    reDomainFormat = /^(?:[^.]+\.)*\w+\/?$/;

  if (reEmpty.test(domain)) {
    errorStr += domain_empty_error + "\n";
  }
  if (!reDomainFormat.test(domain)) {
    errorStr += domain_format_error + "\n";
  }

  if (errorStr === '') {
    return true;
  } else {
    alert(errorStr);
    return false;
  }
}

function validate_enable() {
  var errorStr = validate("sms-enable-form");

  if (errorStr === '') {
    return true;
  } else {
    alert(errorStr);
    return false;
  }
}
{/literal}
//-->
-->
{include file="pagefooter.htm"}