<!-- $Id: snatch_view.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="list-div">
    <table class="table table-striped table-bordered bulk_action">
      <tr>
        <th colspan="8"><strong>{$info.snatch_name} </strong></th>
      </tr>
      <tr>
        <td><strong>{$lang.start_time}: </strong></td><td colspan="3">{$info.start_time}</td>
        <td><strong>{$lang.end_time}: </strong></td><td colspan="3">{$info.end_time}</td>
      </tr>
      {if $result}
      <tr>
        <td align="left"><strong>{$lang.bid_user}: </strong></td><td>{$result.user_name}</td>
        <td><strong>{$lang.email}: </strong></td><td>{$result.email}</td>
        <td><strong>{$lang.bid_time}: </strong></td><td>{$result.bid_time}</td>
        <td><strong>{$lang.min_union_price}: </strong></td><td>{$result.bid_price}</td>
      </tr>
      {/if}
    </table>
</div>

<form method="post" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

<table id="#" class="table table-striped table-bordered bulk_action ">
    <tr>
      <th><a href="javascript:listTable.sort('log_id');">{$lang.record_id}</a>{$sort_snatch_id}</th>
      <th><a href="javascript:listTable.sort('user_name');">{$lang.bid_user}</a>{$sort_user_name}</th>
      <th><a href="javascript:listTable.sort('bid_time');">{$lang.bid_time}</a>{$sort_bid_time}</th>
      <th><a href="javascript:listTable.sort('bid_price');">{$lang.bid_price}</a>{$sort_bid_price}</th>
    </tr>
    {foreach from=$bid_list item=bid}
    <tr>
      <td align="center">{$bid.log_id}</td>
      <td class="first-cell">{$bid.user_name}</td>
      <td align="right">{$bid.bid_time}</td>
      <td align="right">{$bid.bid_price}</td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
    <tr>
      <td align="right" nowrap="true" colspan="8">{include file="page.htm"}</td>
    </tr>
</table>

{if $full_page}
</div>
</form>

<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  listTable.query = "query_bid";

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
    startCheckOrder();  // 开始检查订单
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}