{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js,../yohohk/js/jquery.min.js"}

{$action_link.href}
<!-- start goods list -->
<div class=" x_panel">
  <div id="outside_container">
    <div id="inner_container">
      <form name="sp_edit"  id="sp_edit"  action="salesperson.php" method="post"  enctype="multipart/form-data">
      <table cellspacing="1" cellpadding="3" width="100%">
      {foreach from=$spDetail key=key item=item}
        <tr>
          <td class="label">{$item.title}</td>
          <td>
          {if $item.type=='textarea'}
            <textarea name="{$key}">{$item.value}</textarea>
          {elseif $item.type=='role'}
            <select name="{$key}">
              {foreach from=$item.options item=optionItem}
                <option value="{$optionItem}" {if $optionItem==$item.value}selected{/if}>{$optionItem}</option>
              {/foreach}
            </select>
          {elseif $item.type=='file'}
            {if $item.value!=''}
            <img src="{$item.value}"/><br>
            {/if}
            <input type="{$item.type}" accept="image/*" name="{$key}" maxlength="60" />
          {else}
            <input type="{$item.type}" name="{$key}" maxlength="60"  {if $item.type=='checkbox'} value="1" {if $item.value>0}checked{/if}{else}value="{$item.value}"{/if}/>
          {/if}
          </td>
        </tr>
      {/foreach}
      </table>
      <input type="hidden" name="act" value="{$act}">
      <input type="hidden" name="sales_id" value="{$spId}">
      <input type="submit" value="Submit"/>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" language="JavaScript">
</script>
{include file="pagefooter.htm"}