{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
To Add sales person, please goto ADmin User.
<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
  <th><a href="javascript:listTable.sort('sales_id'); ">{$lang.record_id}</a>{$sort_sales_id}</th>
  <th colspan="2"><a href="javascript:listTable.sort('display_name'); ">Name</a>{$sort_user_name}</th>
  <th>Display Name</th>
  <th>Role</th>
  <th>{$lang.handler}</th>
</tr>
{foreach from=$spList item=item}
<tr {if $item.admin_id<=0 && $item.available==0} style="color:grey;text-decoration:line-through" {/if}>
  <td align="center">{$item.sales_id}</td>
  <td align="center" width="100">{if $item.avatar==''}<span class="fa fa-user"></span>{else}<img src="{$item.avatar}" width="70"/>{/if}</td>
  <td align="center"><a href="privilege.php?act=edit&id={$item.admin_id}">{$item.display_name}</a></td>
  <td align="center">{$item.display_name}</td>
  <td align="center">{$item.role}</td>
  <td align="center">
  {if $item.available==1}
    <a href="?act=deactivate&sales_id={$item.sales_id}"><span class="fa fa-ban"></span>Deactivate</a>
  {elseif $item.available==0}
    {if $item.admin_id>0}
      <a href="?act=activate&sales_id={$item.sales_id}"><span class="fa fa-check"></span>Activate</a>
    {else}
      Archived
    {/if}
  {/if}
  </td>
</tr>
{foreachelse}
  <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
{/foreach}
</table>
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>

<script type="text/javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
</script>


{include file="pagefooter.htm"}
{/if}