{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,validator.js"}
{include file="includes/datatables_header.htm"}
<link href="css/select2.min.css" rel="stylesheet" type="text/css" />
<style type="text/css">
 /* Action Rows */
  .sql-report-action-row {
      display: inline-block;
      width: 100%;
  }

 /* Action Buttons */
  .action-button {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 8px 16px;
    font-size: 16px;
    color: white !important;
    text-decoration: none;
    text-align: center;
    background: #00ACEE;
    border: 0;
    border-bottom: 2px solid #188FB5;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #188FB5;
    box-shadow: inset 0 -2px #188FB5;
    border-radius: 4px;
  }
  .action-button:hover {
    text-decoration: none;
    color: white;
    background-color: #0087BB;
    border-bottom-color: #006D97;
    -webkit-box-shadow: inset 0 -2px #006D97;
    box-shadow: inset 0 -2px #006D97;
  }
  .action-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* Action Block */
  .sql-report-action-block {
    display: block;
    margin: 8px;
    padding: 8px;
    border: 1px #ccc solid;
    background-color: white;
    color: black;
  }
  .sql-report-block h3 {
    margin: 4px 0;
    padding-bottom: 4px;
    border-bottom: 1px #ccc solid;
  }
  .sql-report-block label {
    display: inline-block;
    margin-bottom: 2px;
  }

    table.table.table-bordered tr.groupOdd {
    background: #f5f5f5;
    }
    table.table.table-bordered tr.groupEven {
        background: #ffffff;
    }
    .form-div .form-group input.form-control {
        margin-top: -8px;
    }
    .select2-results {
        color: black;
    }
    .select2-container--default .select2-results>.select2-results__options {
        max-height: 400px;
    }
    .select2-container--default .select2-results .parent {
        font-weight: bold;
    }
    .select2-container--default .select2-results .child {
        padding-left: 10px;
    }
</style>

<div class=" x_panel">
    <div class="sql-report-action-block customer-purchase-report-block">
        <h3>{$lang.customer_purchase_report_block_heading}</h3>
        <br/>
        <div class="sql-report-action-row">
            <h4>{$lang.customer_purchase_report_block_screening_details}</h4>
            <form action="#" name="customerPurchaseForm" class="form-inline">
                <label>
                    {$lang.report_days} <br/>
                    <select class="form-control" name="dateRange">
                        <option value="30">{$lang.30_days_ago}</option>
                        <option value="60">{$lang.60_days_ago}</option>
                        <option value="90">{$lang.90_days_ago}</option>
                    </select>
                </label>
                <label>
                    {$lang.start_date} <br/>
                    <input class="form-control" size="10" type="text" name="start_date" size="15" value="" data-type="date" />
                </label>
                <label>
	                {$lang.end_date} <br/>
                    <input class="form-control" size="10" type="text" name="end_date" size="15" value="" data-type="date" />
                </label>
                <label>
                    {$lang.gender}<br/>
                    <select class="form-control" name="gender">
                        <option value="" selected>---</option>
                        <option value="0">{$lang.gender_unknown}</option>
                        <option value="1">{$lang.male}</option>
                        <option value="2">{$lang.female}</option>
                    </select>
                </label>
                <label>
                    {$lang.goods_id_list}<br/>
                    <input class="form-control" name="productId" type="text" placeholder="{$lang.goods_id_list_placeholder}">
                </label>
                <label>
                    {$lang.category}<br/>
                    <select class="form-control" name="category">
                        <option value="" selected>---</option>
                        {$cat_list}
                    </select>
                </label>
                <label>
                    {$lang.brand}<br/>
                    <select class="form-control" name="brand">
                        <option value="" selected>---</option>
                        {html_options options=$brand_list}
                    </select>
                </label>
                <label>
                    {$lang.user_email_registered}<br/>
                    <select class="form-control" name="includeEmail">
                        <option value="all" selected>{$lang.all}</option>
                        <option value="yes">{$lang.yes}</option>
                        <option value="no">{$lang.no}</option>
                    </select>
                </label>
                <label>
                    {$lang.detailed_report}<br/>
                    <input class="form-control" type="checkbox" name="detail_query" />
                </label>
            </form>
        </div>
        <div class="sql-report-action-row">
            <a href="javascript:void(0);" class="action-button pull-right">{$lang.export_data}</a>
        </div>
        <p></p>
        <div class="sql-report-action-row">
            <h4>{$lang.query_status_list_heading}</h4>
            <table id="customer-report-queue-table" class="table table-striped table-bordered">
                <colgroup>
                    <col style="width: 25%">
                    <col style="width: 25%">
                    <col style="width: 25%">
                    <col style="width: 25%">
                </colgroup>
                <thead>
                    <tr class="headings">
                        <th data-id="query_date" data-value="formatted_query_date" data-sort='0'>{$lang.query_date}</th>
                        <th data-id="query_type" data-value="type" data-sort='0'>{$lang.query_type}</th>
                        <th data-id="query_status" data-value="status" data-sort='0'>{$lang.query_status}</th>
                        <th data-id="query_report_download" data-value="download" data-sort='0'>{$lang.query_report_download}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="sql-report-action-block accounting-records-export-block">
        <h3>會計 - 匯出會計紀錄</h3>
        <br/>
        <div class="sql-report-action-row">
            <form action="#" class="form-inline" name="accountingEntryReportForm">
                <div class="input-group" style="width: 300px;">
                    <input class="form-control" type="text" name="start_date" data-type="date" placeholder="開始日期">
                    <span class="input-group-addon">至</span>
                    <input class="form-control" type="text" name="end_date" data-type="date" placeholder="結束日期">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="search" placeholder="備註">
                </div>
                <select name="created_by">
                    <option value="-1">- 所有操作員 -</option>
                    <option value="0">系統生成</option>
                    {foreach from=$system_user key=id item=name}
                    <option value="{$id}">{$name}</option>
                    {/foreach}
                    {foreach from=$operators item=operator}
                    <option value="{$operator.user_id}">{$operator.user_name}</option>
                    {/foreach}
                </select>
                <select name="status">
                    <option value="">- 所有狀態 -</option>
                    {foreach from=$lang.account_posting_status key=key item=status}
                    <option value="{$key}">{$status}</option>
                    {/foreach}
                </select>
                <div class="form-group">
                    <input type="checkbox" class="flat" name="reversed">
                    <label>Reverse Transactions</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" class="flat" name="specific">
                    <label>單一帳戶</label>
                </div>
                <br>
                <select name="actg_type_id" id="account_types" style="width: 300px"><option></option></select>
                <select name="supplier_id" id="suppliers" style="width: 300px"><option></option></select>
                <select name="wsid" id="wholesales" style="width: 300px"><option></option></select>
                <select name="sa_id" id="salesagent" style="width: 300px"><option></option></select>
            </form>
        </div>
        <div class="sql-report-action-row">
            <a href="javascript:void(0);" class="action-button pull-right">{$lang.export_data}</a>
        </div>
        <p></p>
        <div class="sql-report-action-row">
            <h4>{$lang.query_status_list_heading}</h4>
            <table id="accounting-export-queue-table" class="table table-striped table-bordered">
                <colgroup>
                    <col style="width: 25%">
                    <col style="width: 25%">
                    <col style="width: 25%">
                    <col style="width: 25%">
                </colgroup>
                <thead>
                    <tr class="headings">
                        <th data-id="query_date" data-value="formatted_query_date" data-sort='0'>{$lang.query_date}</th>
                        <th data-id="query_type" data-value="type" data-sort='0'>{$lang.query_type}</th>
                        <th data-id="query_status" data-value="status" data-sort='0'>{$lang.query_status}</th>
                        <th data-id="query_report_download" data-value="download" data-sort='0'>{$lang.query_report_download}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="sql-report-action-block user-list-export-block">
        <h3>匯出會員列表</h3>
        <br/>
        <div class="sql-report-action-row">
            <form name="user-list-report-form" class="form-inline">
                <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
                &nbsp;會員等級 &nbsp;<select class="form-control" name="user_rank"><option value="0">{$lang.all_option}</option>{html_options options=$user_ranks }</select>
                &nbsp;會員積分大於 &nbsp;<input class="form-control" type="text" name="pay_points_gt" size="8" />&nbsp;會員積分小於&nbsp;<input class="form-control" type="text" name="pay_points_lt" size="10" />
                &nbsp;會員名稱 &nbsp;<input class="form-control" type="text" name="keyword" value="" />
                &nbsp;曾購買產品ID &nbsp;<input class="form-control" type="text" name="bought_goods" value="" placeholder="可用逗號(,)分隔多個ID" />
                &nbsp;有填Email &nbsp;<input class="flat" type="checkbox" name="have_email" id="have_email" value="1" />
            </form>
        </div>
        <div class="sql-report-action-row">
            <a href="javascript:void(0);" class="action-button pull-right">{$lang.export_data}</a>
        </div>
        <p></p>
        <div class="sql-report-action-row">
            <h4>{$lang.query_status_list_heading}</h4>
            <table id="user-list-export-queue-table" class="table table-striped table-bordered">
                <colgroup>
                    <col style="width: 25%">
                    <col style="width: 25%">
                    <col style="width: 25%">
                    <col style="width: 25%">
                </colgroup>
                <thead>
                    <tr class="headings">
                        <th data-id="query_date" data-value="formatted_query_date" data-sort='0'>{$lang.query_date}</th>
                        <th data-id="query_type" data-value="type" data-sort='0'>{$lang.query_type}</th>
                        <th data-id="query_status" data-value="status" data-sort='0'>{$lang.query_status}</th>
                        <th data-id="query_report_download" data-value="download" data-sort='0'>{$lang.query_report_download}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{include file="pagefooter.htm"}

<script type="text/javascript" language="JavaScript">
var $modal = {};
function showCustomerReportFileNameInputForm(){
    title = customer_purchase_report_filenmae_form_heading;
    initialFilename = moment().format("YYYYMMDDHHmm") + "-customer_report.xlsx";
    content = '<div><form name="customer-report-filename-form">\
        <div class="sql-report-action-row">\
        <label style="width:100%;">' + report_filename + '<br/><input class="form-control" type="text" name="filename" value="' + initialFilename +'"></label>\
        </div>\
        <div class="sql-report-action-row">\
        <a href="javascript:void(0);" class="action-button pull-right">' + initialize_data_export + '</a>\
        </div>\
        </form></div>';
    $modal = modal.create(title, content);
    modal.show($modal);
};

function submitCustomerReportForm(){
    filterFormData = $('form[name="customerPurchaseForm"]').serializeArray();
    filenameFormData = $('form[name="customer-report-filename-form"]').serializeArray();

    queryFormData = $.merge(filterFormData, filenameFormData);
    queryData = {};

    queryFormData.map(function(object){
        queryData[object.name] = object.value;
    });

    // Submit the request
    $.ajax({
        url: "sql_reports.php",
        method: 'POST',
        dataType: 'json',
        data: {
            act: 'customer_report',
            query: queryData
        },
        success:function(res){
            alert(res.message);
        }
    });

    $modal.modal('hide');
};

function showAccountingRecordFileNameInputForm(){
    title = customer_purchase_report_filenmae_form_heading;
    initialFilename = moment().format("YYYYMMDDHHmm") + "-accounting_entry_report.xlsx";
    content = '<div><form name="accounting-records-filename-form">\
        <div class="sql-report-action-row">\
        <label style="width:100%;">' + report_filename + '<br/><input class="form-control" type="text" name="filename" value="' + initialFilename +'"></label>\
        </div>\
        <div class="sql-report-action-row">\
        <a href="javascript:void(0);" class="action-button pull-right">' + initialize_data_export + '</a>\
        </div>\
        </form></div>';
    $modal = modal.create(title, content);
    modal.show($modal);
};

function submitAccountingEntryReportForm(){
    filterFormData = $('form[name="accountingEntryReportForm"]').serializeArray();
    filenameFormData = $('form[name="accounting-records-filename-form"]').serializeArray();

    queryFormData = $.merge(filterFormData, filenameFormData);
    queryData = {};

    queryFormData.map(function(object){
        queryData[object.name] = object.value;
    });

    // Submit the request
    $.ajax({
        url: "sql_reports.php",
        method: 'POST',
        dataType: 'json',
        data: {
            act: 'accounting_entry_report',
            query: queryData
        },
        success:function(res){
            alert(res.message);
        }
    });

    $modal.modal('hide');
};

function validateCustomerPurchaseReportForm(){
    validator = new Validator("customerPurchaseForm");
    form = $('[name="customerPurchaseForm"]');
    if (form.find('[name="start_date"]').val()) {
        validator.required('end_date', no_end_date);
    }
    if (form.find('[name="end_date"]').val()) {
        validator.required('start_date', no_start_date);
    }
    if (form.find('[name="start_date"]').val() || form.find('[name="end_date"]').val()) {
        validator.islt('start_date', 'end_date', incorrect_date_range_order);
    }
    return validator.passed();
}

function showUserRecordFileNameInputForm() {
    title = customer_purchase_report_filenmae_form_heading;
    initialFilename = moment().format("YYYYMMDDHHmm") + "-user_list_report.xlsx";
    content = '<div><form name="user-list-filename-form">\
        <div class="sql-report-action-row">\
        <label style="width:100%;">' + report_filename + '<br/><input class="form-control" type="text" name="filename" value="' + initialFilename +'"></label>\
        </div>\
        <div class="sql-report-action-row">\
        <a href="javascript:void(0);" class="action-button pull-right">' + initialize_data_export + '</a>\
        </div>\
        </form></div>';
    $modal = modal.create(title, content);
    modal.show($modal);
}

function submitUserListReportForm(){
    filterFormData = $('form[name="user-list-report-form"]').serializeArray();
    filenameFormData = $('form[name="user-list-filename-form"]').serializeArray();

    queryFormData = $.merge(filterFormData, filenameFormData);
    queryData = {};

    queryFormData.map(function(object){
        queryData[object.name] = object.value;
    });

    // Submit the request
    $.ajax({
        url: "sql_reports.php",
        method: 'POST',
        dataType: 'json',
        data: {
            act: 'user_list_report',
            query: queryData
        },
        success:function(res){
            alert(res.message);
        }
    });

    $modal.modal('hide');
};

yohoTable.table_id = "customer-report-queue-table";
yohoTable.query = "query_queue&type=customer_purchase";
$table = yoho_dataTable();

setInterval(function() {
    $table.draw();
}, 5000);

// Add subsequent tables
$table_entry = [
    {
        table_id: "accounting-export-queue-table",
        query: "query_queue&type=accounting_entry"
    },
    {
        table_id: "user-list-export-queue-table",
        query: "query_queue&type=user_list"
    }
];

$.each($table_entry, function(index, entry){
    yohoTables.push(entry);
});

$temp_table = [];
for (var i = 1; i < yohoTables.length; i++) {
    $temp_table[i] = yoho_dataTable(i);
    setInterval(function(i) {
        $temp_table[i].draw();
    }.bind(undefined, i), 5000);
}

$(function(){
    $(document).on('click', '.customer-purchase-report-block .action-button', function(e){
        if (validateCustomerPurchaseReportForm()) {
            showCustomerReportFileNameInputForm();
        }
    })
    .on('click', 'form[name="customer-report-filename-form"] .action-button', function(e){
        submitCustomerReportForm();
    });

    $(document).on('click', '.accounting-records-export-block .action-button', function(e){
        showAccountingRecordFileNameInputForm();
    })
    .on('click', 'form[name="accounting-records-filename-form"] .action-button', function(e){
        submitAccountingEntryReportForm();
    });

    $(document).on('click', '.user-list-export-block .action-button', function(e){
        showUserRecordFileNameInputForm();
    })
    .on('click', 'form[name="user-list-filename-form"] .action-button', function(e){
        submitUserListReportForm();
    });

    $("#account_types").select2({
        width: 'resolve',
        matcher: modelMatcher,
        allowClear: true,
        placeholder: '所有帳戶',
        data: [
            {foreach from=$txn_types item=type}
                {foreach from=$type.children item=child}
                {
                    id: {$child.actg_type_id},
                    text: "{$child.actg_type_code} - {$child.actg_type_name}",
                    html: "<span class='parent'>{$child.actg_type_code} - {$child.actg_type_name}</span>",
                },
                {if $child.children}
                    {foreach from=$child.children item=grandchild}
                    {
                        id: {$grandchild.actg_type_id},
                        text: "{$grandchild.actg_type_code} - {$grandchild.actg_type_name}",
                        html: "<span class='child'>{$grandchild.actg_type_code} - {$grandchild.actg_type_name}</span>",
                        parent: "{$child.actg_type_code} - {$child.actg_type_name}"
                    },
                    {/foreach}
                {/if}
                {/foreach}
            {/foreach}
        ],
        escapeMarkup: function(markup) {
            return markup;
        },
        templateResult: function(data) {
            return data.html;
        },
    });
    $("#suppliers").select2({
        width: 'resolve',
        matcher: modelMatcher,
        allowClear: true,
        placeholder: '所有供應商',
        data: [
            {foreach from=$suppliers item=supplier}
                {
                    id: {$supplier.supplier_id},
                    text: "{$supplier.code} - {$supplier.name}",
                    html: "<span class='parent'>{$supplier.code} - {$supplier.name}</span>",
                },
            {/foreach}
        ],
        escapeMarkup: function(markup) {
            return markup;
        },
        templateResult: function(data) {
            return data.html;
        },
    });
    $("#wholesales").select2({
        width: 'resolve',
        matcher: modelMatcher,
        allowClear: true,
        placeholder: '所有批發客戶',
        data: [
            {foreach from=$wholesales item=wholesale}
                {
                    id: {$wholesale.wsid},
                    text: "{$wholesale.company}",
                    html: "<span class='parent'>{$wholesale.company}</span>",
                },
            {/foreach}
        ],
        escapeMarkup: function(markup) {
            return markup;
        },
        templateResult: function(data) {
            return data.html;
        },
    });
    $("#salesagent").select2({
        width: 'resolve',
        matcher: modelMatcher,
        allowClear: true,
        placeholder: '所有代理銷售',
        data: [
            {foreach from=$salesagents item=salesagent}
                {
                    id: {$salesagent.sa_id},
                    text: "{$salesagent.name}",
                    html: "<span class='parent'>{$salesagent.name}</span>",
                },
            {/foreach}
        ],
        escapeMarkup: function(markup) {
            return markup;
        },
        templateResult: function(data) {
            return data.html;
        },
    });
});

// For select2 searching with optgroup
function modelMatcher(e,t){if(t.parentText=t.parentText||"",""===$.trim(e.term))return t;if(t.children&&t.children.length>0){for(var r=$.extend(!0,{},t),n=t.children.length-1;n>=0;n--){var l=t.children[n];l.parentText+=t.parentText+" "+t.text,null==modelMatcher(e,l)&&r.children.splice(n,1)}return r.children.length>0?r:modelMatcher(e,r)}var a=(t.parentText+" "+t.text+(t.parent," "+t.parent)).toUpperCase(),h=e.term.toUpperCase();return a.indexOf(h)>-1?t:null}
</script>
{insert_scripts files="select2/select2.min.js"}
