<!-- $Id: agency_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="validator.js,../js/transport_jquery.js,../js/region.js"}
<div class=" x_panel form-horizontal form-label-left">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">申請編號</label>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <label class="control-label">{$staff_purchase.purchase_id}</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">申請員工</label>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <label class="control-label">{$staff_purchase.applicant_admin_name}</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">申請時間</label>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <label class="control-label">{$staff_purchase.create_date_format}</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">狀態</label>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <label class="control-label {if $staff_purchase.status eq 0 }blue{elseif $staff_purchase.status eq 1 }green{elseif $staff_purchase.status eq 2 }red{/if}">
                {$staff_purchase.status_string}
            </label>
            {if $approve}<!--a href="staff_purchase.php?act=to_approve&fail=1&id=3" class="btn btn-danger" >拒絕</a-->{/if}
        </div>
    </div>
    {if $staff_purchase.apply_admin_name}
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">審核人</label>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <label class="control-label">{$staff_purchase.apply_admin_name}</label>
        </div>
    </div>
    {/if}
    {if $staff_purchase.remark}
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">備註</label>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <label class="control-label">{$staff_purchase.remark}</label>
        </div>
    </div>
    {/if}
    {if $staff_purchase.status eq 0 || $staff_purchase.status eq 2}
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">申請產品</label>
        <div class="col-md-8 col-sm-8 col-xs-12">
            {foreach from=$staff_purchase.goods item=goods}
            <label class="control-label"><a target="_blank" href="/x/goods.php?act=list&keyword={$goods.goods_sn}">{$goods.goods_name}</a></label></br>
            {/foreach}
        </div>
    </div>
    {/if}
    {if $staff_purchase.status eq 1}
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">申請結果</label>
        <div class="col-md-8 col-sm-8 col-xs-12">
            {foreach from=$staff_purchase.goods item=goods}
            <label class="control-label"><a target="_blank" href="/x/goods.php?act=list&keyword={$goods.goods_sn}">{$goods.goods_name}</a> - ${$goods.price}</label></br>
            {/foreach}
        </div>
    </div>
    {/if}
    {if $approve}
    <!-- approve form -->
    <form  method="post" name="theForm">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">審核</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <table class="table table-striped table-bordered" id="brand">
                    <thead>
                        <tr class="headings">
                            <th>產品名稱</th>
                            <th>當前售價</th>
                            <th>審核</th>
                            <th>審核價</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$staff_purchase.goods item=goods}
                        <tr>
                            <td>{$goods.goods_name}</td>
                            <td>{$goods.selling_price}</td>
                            <td id="approve_info">
                                <input data-goods="{$goods.goods_id}" name="purchase_goods[{$goods.goods_id}]" type="hidden" value="{$goods.purchase_goods_id}"/>
                                <div class="col-md-12 form-inline">
                                    <input data-goods="{$goods.goods_id}" class="flat update_price" name="crp_price[{$goods.goods_id}]" type="radio" value="1" label="市價折扣"/>
                                    市價折扣 (<input data-goods="{$goods.goods_id}" style="width: 60px;text-align: center;" width="10" class="form-control update_price" type="text" name="srp_percentage[{$goods.goods_id}]" value="10"/>% OFF)
                                    <input data-goods="{$goods.goods_id}" class="flat update_price" name="crp_price[{$goods.goods_id}]" type="radio" value="2"  label="大批量"/> 大批量
                                    <input data-goods="{$goods.goods_id}" class="flat update_price" name="crp_price[{$goods.goods_id}]" type="radio" value="3"  label="小批量"/> 小批量
                                    <input data-goods="{$goods.goods_id}" class="flat update_price" name="crp_price[{$goods.goods_id}]" type="radio" value="4"  label="當前售價"/> 當前售價
                                </div>
                            </td>
                            <td id="final_price_{$goods.goods_id}"></td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">備註</label>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <textarea class="form-control" name="remark"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="ln_solid"></div>
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
            <input type="hidden" name="purchase_id" value="{$staff_purchase.purchase_id}" />
            <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
            <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
            <input type="hidden" name="act" value="to_approve" />
        </div>
    </form>
    {/if}
</div>
{include file="pagefooter.htm"}
<script>
    $('input.update_price').change(function(){
        $goods_id = $(this).data('goods');
        if($('input[name="crp_price['+$goods_id+']"]:checked').length > 0) {
            $type = $('input[name="crp_price['+$goods_id+']"]:checked').val();
            $per = $(this).val();
            // call ajax
            getApprovePrice($type, $goods_id, $per);
        }
    });
    $('input.update_price').on('ifClicked', function (event) {
        $this = $(event.target);
        $type = $this.val();
        $goods_id = $this.data('goods');
        $per = $('input[name="srp_percentage['+$goods_id+']"]').val();
        getApprovePrice($type, $goods_id, $per);
    });

    function getApprovePrice($type, $goods_id, $per) {
        $.ajax({
			url: "staff_purchase.php",
			type: 'POST',
			data: {
				goods_id: $goods_id,
				type: $type,
				per: $per,
                act: 'get_approve_price'
			},
			error: function (xhr) {
				alert('Ajax request 發生錯誤');
			},
			success: function (jsondata) {
				result = jQuery.parseJSON(jsondata);
				if (result.error > 0) {
					alert(result.message);
				} else {
					$("#final_price_"+ $goods_id).html(result.content.price);
				}
			}
        });
    }

</script>