<!-- $Id: brand_list.htm 15898 2009-05-04 07:25:41Z liuhui $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
<form method="post" action="" name="listForm">
<!-- start list -->

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
  <table class="table table-striped table-bordered" id="brand">
    <thead>
      <tr class="headings">
        <th data-id="purchase_id" data-key="brand_id">申請編號</th>
        <th data-id="applicant_admin" data-value="applicant_admin_name">申請員工</th>
        <th data-id="create_at" data-value="create_date_format">申請時間</th>
        <th data-id="status" data-value="status_string">狀態</th>
        <th data-id="apply_admin" data-value="apply_admin_name">審核人</th>
        <th class="actionsCol" data-id="_action">{$lang.handler}</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<!-- end list -->
</div>
</form>
{include file="pagefooter.htm"}
<script type="text/javascript" language="javascript">
  var $table = yoho_dataTable();
</script>