{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,selectzone.js"}
<form method="post" name="theForm"class="  form-horizontal form-label-left x_panel"  onsubmit="return validate(this);">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <div class="form-inline">
            <div class="form-group">
                <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
                <select class="form-control" name="cat_id1">
                    <option value="0">{$lang.all_category}{$cat_list}
                </select>
                <select class="form-control" name="brand_id1">
                    <option value="0">{$lang.all_brand}{html_options options=$brand_list}
                </select>
                <div class="input-group no-margin">
                    <input class="form-control" type="text" name="keyword1" />
                    <div class="input-group-btn">
                        <input type="button" value="{$lang.button_search}" class="btn btn-success" onclick="searchGoods(sz1, 'cat_id1','brand_id1','keyword1')" />
                    </div>
                </div>
            </div>
        </div>
        <!-- 商品列表 -->
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-64 sz_left">
                <div class="col-xs-12 btn-group">
                    <input type="button" value=">" onclick="addItem();"
                        class="btn btn-default col-md-12 col-sm-12" />
                    <!--input type="button" value=">>" onclick="addItem(1);"
                        class="btn btn-default col-md-6 col-sm-6" /-->
                </div>
                <label class="col-md-3 col-sm-3 col-xs-12" >搜尋產品:</label>
                <select class="form-control" id="source_select" name="source_select" size="20" multiple="true">
                </select>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 sz_right">
                <div class="col-xs-12 btn-group">
                    <input type="button" value="<" onclick="dropItem();"
                        class="btn btn-default col-md-6 col-sm-6" />
                    <input type="button" value="<<" onclick="dropItem(1);"
                        class="btn btn-default col-md-6 col-sm-6" />
                </div>
                <label class="col-md-3 col-sm-3 col-xs-12">申請產品:</label>
                <select class="form-control" id="target_select" name="target_select[]" size="20" multiple>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="ln_solid"></div>
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
            <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
            <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
            <input type="hidden" name="act" value="apply" />
        </div>
      </div>
    </div>
</form>
{include file="pagefooter.htm"}
<script>
var elements = document.forms['theForm'].elements;
var sz1 = new SelectZone(1, elements['source_select'], elements['target_select[]']);
function searchGoods(szObject, catId, brandId, keyword)
{
    var filters = new Object;

    filters.cat_id = elements[catId].value;
    filters.brand_id = elements[brandId].value;
    filters.keyword = Utils.trim(elements[keyword].value);

    szObject.loadOptions('get_goods_list', filters);
}
function addItem($all) {
    var leftSelect = elements['source_select'];
    var rightSelect = elements['target_select[]'];
    var length = leftSelect.options.length;
    if ($all) {
        $('#source_select option').prop('selected', true);
    }
    for (var i = 0; i < length; i++) {
        if (leftSelect.selectedIndex != -1) {
            var option = leftSelect.options[leftSelect.selectedIndex];
            rightSelect.append(option);
        }
    }
}

function dropItem($all) {
    var leftSelect = elements['source_select'];
    var rightSelect = elements['target_select[]'];
    var length = rightSelect.options.length;
    if ($all) {
        $('#target_select option').prop('selected', true);
    }
    for (var i = 0; i < length; i++) {
        if (rightSelect.selectedIndex != -1) {
            var option = rightSelect.options[rightSelect.selectedIndex];
            leftSelect.append(option);
        }
    }
}
function validate()
{
    $('#target_select option').prop('selected', true);
    document.forms['theForm'].submit();
}
</script>