<!-- $Id: start.htm 17110 2010-04-15 07:47:51Z sxc_shop $ -->
{include file="pageheader.htm"}
<!-- directory install start -->
<ul id="lilist" style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
  {foreach from=$warning_arr item=warning}
  <li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;" >{$warning}</li>
  {/foreach}
</ul>
<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
</ul>
<!-- directory install end -->
<!-- start personal message -->
{if $admin_msg}
<div class="list-div" style="border: 1px solid #CC0000">
  <table class="table table-striped table-bordered bulk_action" id="#">
    <tr>
      <th>{$lang.pm_title}</th>
      <th>{$lang.pm_username}</th>
      <th>{$lang.pm_time}</th>
    </tr>
    {foreach from=$admin_msg item=msg}
      <tr align="center">
        <td align="left"><a href="message.php?act=view&id={$msg.message_id}">{$msg.title|truncate:60:"..."}</a></td>
        <td>{$msg.user_name}</td>
        <td>{$msg.send_date}</td>
      </tr>
    {/foreach}
  </table>
  </div>
<br />
{/if}
<!-- end personal message -->
<!-- start task list -->
{if $unfinished_taskes}
<div class="list-div" style="border: 1px solid #CC0000">
  <table class="table table-striped table-bordered bulk_action" id="#">
    <tr>
      <th width="40">負責人</th>
      <th>工作標題</th>
      <th>工作內容</th>
      <th width="140">指派時間</th>
    </tr>
    {foreach from=$unfinished_taskes item=task}
    <tr align="center">
      <td align="left"><img src="{if !empty($task.avatar)}{$task.avatar}{else}{insert name=avatar_url size=s id=$task.pic_user_id}{/if}" style="width: 40px; height: 40px; vertical-align: middle;" title="{$task.pic}"></td>
      <td class="first-cell" align="left">{$task.title|truncate:60:"..."}</td>
      <td align="left">{$task.message|truncate:70:"..."}</td>
      <td>{$task.send_date}</td>
    </tr>
    {/foreach}
    <tr>
      <td colspan="4" align="right"><a href="tasklist.php">查看所有工作 &gt;&gt;</a></td>
    </tr>
  </table>
  </div>
<br />
{/if}
<!-- end task list -->
<!-- start order statistics -->
<div class="list-div">
<table class="table table-striped table-bordered bulk_action" id="#">
  <tr>
    <th colspan="4" class="group-title">{$lang.order_stat}</th>
  </tr>
  <tr>
    <td width="20%"><a href="order.php?act=list&composite_status={$status.await_ship}">{$lang.await_ship}</a></td>
    <td width="30%">
      <strong style="color: red">{$order.await_ship}</strong>
      (<a href="order.php?act=list&composite_status={$status.await_ship}&all_in_stock=1">可出貨</a>: <strong style="color: red">{$order.ready_ship}</strong>)
      (<a href="order.php?act=list&composite_status={$status.await_ship}&need_purchase=1">需訂貨</a>: <strong style="color: red">{$order.need_purchase}</strong>)
      <!-- #BeginComment -->(<a href="order.php?act=list&composite_status={$status.await_ship}&partially_in_stock=1">部份齊貨</a>: <strong style="color: red">{$order.partially_in_stock}</strong>)<!-- #EndComment -->
    </td>
    <td width="20%"><a href="order.php?act=list&composite_status={$status.unconfirmed}">{$lang.unconfirmed}</a></td>
    <td width="30%"><strong>{$order.unconfirmed}</strong></td>
  </tr>
  <tr>
    <td><a href="order.php?act=list&composite_status={$status.await_pay}">{$lang.await_pay}</a></td>
    <td><strong>{$order.await_pay}</strong></td>
    <td><a href="order.php?act=list&composite_status={$status.finished}">{$lang.finished}</a></td>
    <td><strong>{$order.finished}</strong></td>
  </tr>
  <!-- #BeginComment -->
  <tr>
    <td><a href="goods_booking.php?act=list_all">{$lang.new_booking}</a></td>
    <td><strong>{$booking_goods}</strong></td>
    <td><a href="user_account.php?act=list&process_type=1&is_paid=0">{$lang.new_reimburse}</a></td>
    <td><strong>{$new_repay}</strong></td>
  </tr>
  <!-- #EndComment -->
  <tr>
    <td><a href="order.php?act=list&composite_status={$status.finished}&stock_incorrect=1">出貨數量和購買數量不一致訂單數:</a></td>
    <td><strong>{$order.stock_incorrect}</strong></td>
    <td><a href="erp_delivery_manage.php?act=list&d_s=2">主管審核中出貨訂單數:</a></td>
    <td><strong>{$order.erp_delivery_pending_approve}</strong></td>
  </tr>
</table>
</div>
<!-- end order statistics -->
<br />
<!-- start goods statistics -->
<div class="list-div">
<table class="table table-striped table-bordered bulk_action" id="#">
  <tr>
    <!-- #BeginComment -->
    <th colspan="4" class="group-title">{$lang.goods_stat}</th>
    <!-- #EndComment -->
    <th colspan="4" class="group-title">產品統計</th>
  </tr>
  <tr>
    <td width="20%">{$lang.goods_count}</td>
    <td width="30%"><strong>{$goods.total}</strong></td>
    <td width="20%">&nbsp;</td>
    <td width="30%"><strong>&nbsp;</strong></td>
  </tr>
  <tr>
    <td><a href="goods.php?act=list&amp;preorder_warning=1">自動轉訂貨產品數:</a></td>
    <td><strong>{$goods.warn_preorder}</strong></td>
    <td><a href="goods.php?act=list&amp;stock_warning=1">{$lang.warn_goods}</a></td>
    <td><strong style="color: red">{$goods.warn}</strong></td>
  </tr>
  <tr>
    <td><a href="goods.php?act=list&amp;no_desc=1">無詳情警告產品數:</a></td>
    <td><strong style="color: red">{$goods.num_of_no_desc}</strong></td>
    <td><a href="goods.php?act=list&amp;no_brief=1">無簡介警告產品數:</a></td>
    <td><strong style="color: red">{$goods.num_of_no_brief}</strong></td>
  </tr>
  <tr>
    <td><a href="goods_feedback.php?act=list_problem">未處理產品問題回報:</a></td>
    <td><strong style="color: red">{$goods.feedback_problem}</strong></td>
    <td><a href="goods_feedback.php?act=list_price_suggestion">未處理產品售價提議:</a></td>
    <td><strong style="color: red">{$goods.feedback_price}</strong></td>
  </tr>
  <tr>
    <td><a href="goods.php?act=list&amp;proddb_not_linked=1">未連結產品資料庫產品數:</a></td>
    <td><strong style="color: red">{$goods.proddb_not_linked}</strong></td>
    <td><a href="goods.php?act=list&amp;no_barcode=1">未入條碼產品數:</a></td>
    <td><strong style="color: red">{$goods.no_barcode}</strong></td>
  </tr>
  <tr>
    <td><a href="goods.php?act=list&amp;intro_type=is_new">{$lang.new_goods}</a></td>
    <td><strong>{$goods.new}</strong></td>
    <td><a href="goods.php?act=list&amp;intro_type=is_best">{$lang.recommed_goods}</a></td>
    <td><strong>{$goods.best}</strong></td>
  </tr>
  <tr>
    <td><a href="goods.php?act=list&amp;intro_type=is_hot">{$lang.hot_goods}</a></td>
    <td><strong>{$goods.hot}</strong></td>
    <td><a href="goods.php?act=list&amp;intro_type=is_promote">{$lang.sales_count}</a></td>
    <td><strong>{$goods.promote}</strong></td>
  </tr>
</table>
</div>
<!-- #BeginComment -->
<br />
<!-- Virtual Card -->
<div class="list-div">
<table class="table table-striped table-bordered bulk_action" id="#">
  <tr>
    <th colspan="4" class="group-title">{$lang.virtual_card_stat}</th>
  </tr>
  <tr>
    <td width="20%">{$lang.goods_count}</td>
    <td width="30%"><strong>{$virtual_card.total}</strong></td>
    <td width="20%"><a href="goods.php?act=list&amp;stock_warning=1&amp;extension_code=virtual_card">{$lang.warn_goods}</a></td>
    <td width="30%"><strong style="color: red">{$virtual_card.warn}</strong></td>
  </tr>
  <tr>
    <td><a href="goods.php?act=list&amp;intro_type=is_new&amp;extension_code=virtual_card">{$lang.new_goods}</a></td>
    <td><strong>{$virtual_card.new}</strong></td>
    <td><a href="goods.php?act=list&amp;intro_type=is_best&amp;extension_code=virtual_card">{$lang.recommed_goods}</a></td>
    <td><strong>{$virtual_card.best}</strong></td>
  </tr>
  <tr>
    <td><a href="goods.php?act=list&amp;intro_type=is_hot&amp;extension_code=virtual_card">{$lang.hot_goods}</a></td>
    <td><strong>{$virtual_card.hot}</strong></td>
    <td><a href="goods.php?act=list&amp;intro_type=is_promote&amp;extension_code=virtual_card">{$lang.sales_count}</a></td>
    <td><strong>{$virtual_card.promote}</strong></td>
  </tr>
</table>
</div>
<!-- #EndComment -->
<!-- end goods statistics -->
<br />
<!-- start today order statistics -->
<div class="list-div">
<table class="table table-striped table-bordered bulk_action" id="#">
  <tr>
    <th colspan="4" class="group-title">
      <div style="line-height: 24px;">
        <span style="text-align: left;float: left;">當日門店帳目 - 今日付款</span>
        <span style="text-align: right;float: right;">*此報表不包括批發訂單及代理銷售及展場訂單</span>
      </div>
    </th>
  </tr>
  <tr>
    <td width="20%">
      <a href="{$today_paid_order.order_list_url}">
        已付款訂單數目
      </a>
    </td>
    <td width="30%"><strong>{$today_paid_order.order_count}</strong></td>
    <td width="20%">總共訂單金額</td>
    <td width="30%"><strong>{$today_paid_order.total_amount}</strong></td>
  </tr>
  <tr>
    <td>
      <a href="{$today_paid_order.order_list_url}&pay_id=3">現金</a>
      付款總額
    </td>
    <td><strong>{$today_paid_order.amount_by_payment.cash}</strong></td>
    <td>
      <a href="{$today_paid_order.order_list_url}&pay_id=2">EPS</a>
      付款總額
    </td>
    <td><strong>{$today_paid_order.amount_by_payment.eps}</strong></td>
  </tr>
  <tr>
    <td>
      <a href="{$today_paid_order.order_list_url}&pay_id=5">ATM轉帳</a>
      /
      <a href="{$today_paid_order.order_list_url}&pay_id=9">網上銀行轉帳</a>
      付款總額
    </td>
    <td><strong>{$today_paid_order.amount_by_payment.bank}</strong></td>
    <td>
      <a href="{$today_paid_order.order_list_url}&pay_id=17">PayPal</a>
      付款總額
    </td>
    <td><strong>{$today_paid_order.amount_by_payment.paypal}</strong></td>
  </tr>
  <tr>
    <td>
      <a href="{$today_paid_order.order_list_url}&pay_id=10">銀聯卡</a>
      付款總額
    </td>
    <td><strong>{$today_paid_order.amount_by_payment.unionpay}</strong></td>
    <td>
      <a href="{$today_paid_order.order_list_url}&pay_id=12">Visa / MasterCard</a>
      付款總額
    </td>
    <td><strong>{$today_paid_order.amount_by_payment.visamaster}</strong></td>
  </tr>
  <tr>
    <td>
      <a href="{$today_paid_order.order_list_url}&pay_id=13">美國運通卡</a>
      付款總額
    </td>
    <td><strong>{$today_paid_order.amount_by_payment.americanexpress}</strong></td>
    <td>
      <a href="{$today_paid_order.order_list_url}&pay_id=14">支付寶</a>
      付款總額
    </td>
    <td><strong>{$today_paid_order.amount_by_payment.alipay}</strong></td>
  </tr>
  <tr>
    <td>
      <a href="{$today_paid_order.order_list_url}&pay_id=15">信用卡(Stripe)</a>
      付款總額
    </td>
    <td><strong>{$today_paid_order.amount_by_payment.stripe}</strong></td>
    <td>
      <a href="{$today_paid_order.order_list_url}&pay_id=16">信用卡(Braintree)</a>
      付款總額
    </td>
    <td><strong>{$today_paid_order.amount_by_payment.braintree}</strong></td>

  </tr>
</table>
</div>
<br />
<div class="list-div">
<table class="table table-striped table-bordered bulk_action" id="#">
  <tr>
    <th colspan="4" class="group-title">
      <div style="line-height: 24px;">
        <span style="text-align: left;float: left;">當日門店帳目 - 今日出貨</span>
        <span style="text-align: right;float: right;">*此報表不包括批發訂單及代理銷售及展場訂單</span>
      </div>
    </th>
  </tr>
  <tr>
    <td width="20%">
      <a href="{$today_shipped_order.order_list_url}">
        已出貨訂單數目
      </a>
    </td>
    <td width="30%"><strong>{$today_shipped_order.order_count}</strong></td>
    <td width="20%">總共訂單金額</td>
    <td width="30%"><strong>{$today_shipped_order.total_amount}</strong></td>
  </tr>
  <tr>
    <td>
      <a href="{$today_shipped_order.order_list_url}&pay_id=3">現金</a>
      付款總額
    </td>
    <td><strong>{$today_shipped_order.amount_by_payment.cash}</strong></td>
    <td>
      <a href="{$today_shipped_order.order_list_url}&pay_id=2">EPS</a>
      付款總額
    </td>
    <td><strong>{$today_shipped_order.amount_by_payment.eps}</strong></td>
  </tr>
  <tr>
    <td>
      <a href="{$today_shipped_order.order_list_url}&pay_id=5">ATM轉帳</a>
      /
      <a href="{$today_shipped_order.order_list_url}&pay_id=9">網上銀行轉帳</a>
      付款總額
    </td>
    <td><strong>{$today_shipped_order.amount_by_payment.bank}</strong></td>
    <td>
      <a href="{$today_shipped_order.order_list_url}&pay_id=17">PayPal</a>
      付款總額
    </td>
    <td><strong>{$today_shipped_order.amount_by_payment.paypal}</strong></td>
  </tr>
  <tr>
    <td>
      <a href="{$today_shipped_order.order_list_url}&pay_id=10">銀聯卡</a>
      付款總額
    </td>
    <td><strong>{$today_shipped_order.amount_by_payment.unionpay}</strong></td>
    <td>
      <a href="{$today_shipped_order.order_list_url}&pay_id=12">Visa / MasterCard</a>
      付款總額
    </td>
    <td><strong>{$today_shipped_order.amount_by_payment.visamaster}</strong></td>
  </tr>
  <tr>
    <td>
      <a href="{$today_shipped_order.order_list_url}&pay_id=13">美國運通卡</a>
      付款總額
    </td>
    <td><strong>{$today_shipped_order.amount_by_payment.americanexpress}</strong></td>
    <td>
      <a href="{$today_shipped_order.order_list_url}&pay_id=14">支付寶</a>
      付款總額
    </td>
    <td><strong>{$today_shipped_order.amount_by_payment.alipay}</strong></td>
  </tr>
  <tr>
    <td>
      <a href="{$today_shipped_order.order_list_url}&pay_id=15">信用卡(Stripe)</a>
      付款總額
    </td>
    <td><strong>{$today_shipped_order.amount_by_payment.stripe}</strong></td>
    <td>
      <a href="{$today_shipped_order.order_list_url}&pay_id=16">信用卡(Braintree)</a>
      付款總額
    </td>
    <td><strong>{$today_shipped_order.amount_by_payment.braintree}</strong></td>

  </tr>
</table>
</div>
<!-- end today order statistics -->
<br />
<div class="list-div">
<table class="table table-striped table-bordered bulk_action" id="#">
  <tr>
    <th colspan="4" class="group-title">當日門店帳目 - 現金訂貨</th>
  </tr>
  <tr>
    <td width="20%"><a href="{$cash_preorder.today_amount_order_list_url}">今日門店現金訂貨總額</a></td>
    <td width="30%"><strong>{$cash_preorder.today_amount}</strong></td>
    <td width="20%"><a href="{$cash_preorder.total_amount_order_list_url}">現金訂貨總額</a></td>
    <td width="30%"><strong>{$cash_preorder.total_amount}</strong></td>
  </tr>
</table>
</div>
<br />
<!-- #BeginComment -->
<!-- start access statistics -->
<div class="list-div">
<table class="table table-striped table-bordered bulk_action" id="#">
  <tr>
    <th colspan="4" class="group-title">{$lang.acess_stat}</th>
  </tr>
  <tr>
    <td width="20%">{$lang.acess_today}</td>
    <td width="30%"><strong>{$today_visit}</strong></td>
    <td width="20%">{$lang.online_users}</td>
    <td width="30%"><strong>{$online_users}</strong></td>
  </tr>
  <tr>
    <td><a href="user_msg.php?act=list_all">{$lang.new_feedback}</a></td>
    <td><strong>{$feedback_number}</strong></td>
    <td><a href="comment_manage.php?act=list">{$lang.new_comments}</a></td>
    <td><strong>{$comment_number}</strong></td>
  </tr>
</table>
</div>
<!-- end access statistics -->
<br />
<!-- start system information -->
<div class="list-div">
<table class="table table-striped table-bordered bulk_action" id="#">
  <tr>
    <th colspan="4" class="group-title">{$lang.system_info}</th>
  </tr>
  <tr>
    <td width="20%">{$lang.os}</td>
    <td width="30%">{$sys_info.os} ({$sys_info.ip})</td>
    <td width="20%">{$lang.web_server}</td>
    <td width="30%">{$sys_info.web_server}</td>
  </tr>
  <tr>
    <td>{$lang.php_version}</td>
    <td>{$sys_info.php_ver}</td>
    <td>{$lang.mysql_version}</td>
    <td>{$sys_info.mysql_ver}</td>
  </tr>
  <tr>
    <td>{$lang.safe_mode}</td>
    <td>{$sys_info.safe_mode}</td>
    <td>{$lang.safe_mode_gid}</td>
    <td>{$sys_info.safe_mode_gid}</td>
  </tr>
  <tr>
    <td>{$lang.socket}</td>
    <td>{$sys_info.socket}</td>
    <td>{$lang.timezone}</td>
    <td>{$sys_info.timezone}</td>
  </tr>
  <tr>
    <td>{$lang.gd_version}</td>
    <td>{$sys_info.gd}</td>
    <td>{$lang.zlib}</td>
    <td>{$sys_info.zlib}</td>
  </tr>
  <tr>
    <td>{$lang.ip_version}</td>
    <td>{$sys_info.ip_version}</td>
    <td>{$lang.max_filesize}</td>
    <td>{$sys_info.max_filesize}</td>
  </tr>
  <tr>
    <td>{$lang.ecs_version}</td>
    <td>{$ecs_version} RELEASE {$ecs_release}</td>
    <td>{$lang.install_date}</td>
    <td>{$install_date}</td>
  </tr>
  <tr>
    <td>{$lang.ec_charset}</td>
    <td>{$ecs_charset}</td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>
<!-- #EndComment -->
{literal}
{insert_scripts files="../js/utils.js"}
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
  /* 检查订单 */
  startCheckOrder();
}

//-->
</script>
{/literal}
{include file="pagefooter.htm"}
