<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
    <!-- 分类 -->
    <select name="cat_id"><option value="0">-- 所有分類</option>{$cat_list}</select>
    &nbsp;&nbsp;
    <input type="submit" name="submit" value="{$lang.query}" class="btn btn-primary" />
  </form>
</div>
<form method="POST" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
  <table class="table table-striped table-bordered bulk_action">
     <tr>
      <th>產品</th>
      <th>存貨</th>
      <th>成本</th>
      <th>總成本</th>
    </tr>
  {foreach from=$cost_list item=list}
    <tr align="center">
      <td><a href="/goods.php?id={$list.goods_id}">{$list.goods_name}</a></td>
      <td align="right">{$list.goods_number}</td>
      <td align="right">{$list.cost}</td>
      <td align="right">{$list.total_cost}</td>
    </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
  <table id="page-table" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
  </table>
{if $full_page}
</div>
</form>

<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
listTable.query = 'query_detail';
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  getDownUrl();
}

function getList()
{
    var frm =  document.forms['TimeInterval'];
    listTable.filter['cat_id'] = frm.elements['cat_id'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
    getDownUrl();
}

function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
  for (var i = 0; i < aTags.length; i++)
  { 
    if (aTags[i].href.indexOf('download') >= 0)
    {
      if (listTable.filter['cat_id'] == "")
      {
        var frm =  document.forms['TimeInterval'];
        listTable.filter['cat_id'] = frm.elements['cat_id'].value;
      }
      aTags[i].href = "stock_cost.php?act=download_detail&cat_id=" + listTable.filter['cat_id'];
    }
  }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}