{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{/if}
<style>
    .list-div table{
        width: 30%;
        float:left;
        margin: 1%
    }
    td, th{
        text-align: center
    }
    th{
        vertical-align: middle !important;
    }
    .hover{
        background: rgba(38, 185, 154, 0.07);
        border-top: 1px solid rgba(38, 185, 154, 0.11);
        border-bottom: 1px solid rgba(38, 185, 154, 0.11)
    }
</style>
<div class="x_panel">
<form name="TimeInterval"  action="" method="POST" class="form-inline">
    <input name="act" type="hidden" value="list"/>
    <input name="type" id="type" type="hidden" value="0"/>
    {$lang.start_date}&nbsp;
    <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    <!--{$lang.end_date}&nbsp;
    <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="date" />&nbsp;&nbsp;-->
    <input id="cat_check" type="checkbox" onchange="check()" {if $display_cat}checked{/if} />&nbsp;分類成本&nbsp;&nbsp;
    <input id="brand_check" type="checkbox" onchange="check()" {if $display_brand}checked{/if} />&nbsp;品牌成本&nbsp;&nbsp;
    <input id="supp_check" type="checkbox" onchange="check()" {if $display_supp}checked{/if} />&nbsp;供應商成本&nbsp;&nbsp;
    <input name="submit" id="submit" type="submit" value="查詢" class="btn btn-primary"/>
    {insert name=daterange_group}
</form>
<div class="tab-div col-md-12 col-sm-12 col-xs-12">
    <ul class="nav nav-tabs bar_tabs" role="tablist">
        {if $display_cat}<li role="presentation" class="active"><a href="#cat_log" role="tab" id="cat_tab" data-toggle="tab" aria-expanded="true">分類成本</a>
        </li>{/if}
        {if $display_brand}<li role="presentation" class="{if !$display_cat}active{/if}"><a href="#brand_log" role="tab" id="brand_tab" data-toggle="tab" aria-expanded="false">品牌成本</a>
        </li>{/if}
        {if $display_supp}<li role="presentation" class="{if !$display_cat && !$display_brand}active{/if}"><a href="#supp_log" role="tab" id="supp_tab" data-toggle="tab" aria-expanded="false">供應商成本</a>
        </li>{/if}
    </ul>
    <div class="tab-content">
        {if $display_cat}
        <div role="tabpanel" class="tab-pane fade active in" id="cat_log" aria-labelledby="cat_tab">
            <div class="col-md-8">
                <table class="table table-striped jambo_table">
                    <tr><th colspan="5">分類成本</th></tr>
                    {if ($cat_list|json_encode) eq '[]'}
                    <tr><td colspan="5">沒有紀錄</td></tr>
                    {else}
                    <tr>
                        <th rowspan="2">分類</th>
                        <th rowspan="2">存貨成本(Avg.)</th>
                        <th colspan="3">呆壞貨成本</th>
                    </tr>
                    <tr>
                        <th>30天</th>
                        <th>60天</th>
                        <th>90天</th>
                    </tr>
                    <tr>
                        <td>所有分類</td>
                        <td>{$cat_list.total}</td>
                        <td>{$cat_list.total_dead_30}</td>
                        <td>{$cat_list.total_dead_60}</td>
                        <td>{$cat_list.total_dead_90}</td>
                    </tr>
                    {foreach from=$cat_list item=cat key=key}
                    {if $key neq 'total' && $key neq 'total_dead_30' && $key neq 'total_dead_60' && $key neq 'total_dead_90'}
                    <tr>
                        <td>{$cat.name}</td>
                        <td>{$cat.cost}</td>
                        <td>{$cat.dead_cost_30}</td>
                        <td>{$cat.dead_cost_60}</td>
                        <td>{$cat.dead_cost_90}</td>
                    </tr>
                    {/if}
                    {/foreach}
                    {/if}
                </table>
            </div>
        </div>
        {/if}
        {if $display_brand}
        <div role="tabpanel" class="tab-pane fade {if !$display_cat}active in{/if}" id="brand_log" aria-labelledby="brand_tab">
            <div class="col-md-8">
                <table class="table table-striped jambo_table">
                    <tr><th colspan="5">品牌成本</th></tr>
                    {if ($brand_list|json_encode) eq '[]'}
                    <tr><td colspan="5">沒有紀錄</td></tr>
                    {else}
                    <tr>
                        <th rowspan="2">品牌</th>
                        <th rowspan="2">存貨成本(Avg.)</th>
                        <th colspan="3">呆壞貨成本</th>
                    </tr>
                    <tr>
                        <th>30天</th>
                        <th>60天</th>
                        <th>90天</th>
                    </tr>
                    <tr>
                        <td>所有品牌</td>
                        <td>{$brand_list.total}</td>
                        <td>{$brand_list.total_dead_30}</td>
                        <td>{$brand_list.total_dead_60}</td>
                        <td>{$brand_list.total_dead_90}</td>
                    </tr>
                    {foreach from=$brand_list item=brand key=key}
                    {if $key neq 'total' && $key neq 'total_dead_30' && $key neq 'total_dead_60' && $key neq 'total_dead_90'}
                    <tr>
                        <td>{$brand.name}</td>
                        <td>{$brand.cost}</td>
                        <td>{$brand.dead_cost_30}</td>
                        <td>{$brand.dead_cost_60}</td>
                        <td>{$brand.dead_cost_90}</td>
                    </tr>
                    {/if}
                    {/foreach}
                    {/if}
                </table>
            </div>
        </div>
        {/if}
        {if $display_supp}
        <div role="tabpanel" class="tab-pane fade {if !$display_cat && !$display_brand}active in{/if}" id="supp_log" aria-labelledby="supp_tab">
            <div class="col-md-8">
                <table class="table table-striped jambo_table">
                    <tr><th colspan="5">供應商成本</th></tr>
                    {if ($supp_list|json_encode) eq '[]'}
                    <tr><td colspan="5">沒有紀錄</td></tr>
                    {else}
                    <tr>
                        <th rowspan="2">供應商</th>
                        <th rowspan="2">存貨成本(FIFO)</th>
                        <th colspan="3">呆壞貨成本</th>
                    </tr>
                    <tr>
                        <th>30天</th>
                        <th>60天</th>
                        <th>90天</th>
                    </tr>
                    <tr>
                        <td>所有供應商</td>
                        <td>{$supp_list.total}</td>
                        <td>{$supp_list.total_dead_30}</td>
                        <td>{$supp_list.total_dead_60}</td>
                        <td>{$supp_list.total_dead_90}</td>
                    </tr>
                    {foreach from=$supp_list item=supp key=key}
                    {if $key neq 'total' && $key neq 'total_dead_30' && $key neq 'total_dead_60' && $key neq 'total_dead_90'}
                    <tr>
                        <td>{$supp.name}</td>
                        <td>{$supp.cost}</td>
                        <td>{$supp.dead_cost_30}</td>
                        <td>{$supp.dead_cost_60}</td>
                        <td>{$supp.dead_cost_90}</td>
                    </tr>
                    {/if}
                    {/foreach}
                    {/if}
                </table>
            </div>
        </div>
        {/if}
    </div>
</div>
</div>
{if $full_page}
<script type="Text/Javascript" language="JavaScript">
    {literal}
    onload = function()
    {
      // 开始检查订单
      startCheckOrder();
    }
    function check(){
        var type = 0;
        if(document.getElementById('cat_check').checked)
            type += 1;
        if(document.getElementById('brand_check').checked)
            type += 2;
        if(document.getElementById('supp_check').checked)
            type += 4;
        document.getElementById('type').value = type;
    }
    $('td').mouseover(function(){
        $(this).parents('table').find('td:nth-child(' + ($(this).index() + 1)+'), tr:nth-child(2) th:nth-child(' + ($(this).index() > 2 ? 3 : $(this).index() + 1)+' ), tr:nth-child(3) th:nth-child(' + ($(this).index() - 1)+' )').toggleClass('hover');
        $(this).parents('tr').toggleClass('hover');
    }).mouseout(function(){
        $(this).parents('table').find('td:nth-child(' + ($(this).index() + 1)+'), tr:nth-child(2) th:nth-child(' + ($(this).index() > 2 ? 3 : $(this).index() + 1)+' ), tr:nth-child(3) th:nth-child(' + ($(this).index() - 1)+' )').toggleClass('hover');
        $(this).parents('tr').toggleClass('hover');
    })
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}
