<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style>

.border_red {
    border-color: #FD495C;
}

#search_error_text {
    padding: 5px;
}

#order_all_pass {
    color: #1ABB9C !important;
}

#goods_sn_special {
    color:green;
}

.cross_check_error_history .success {
    color:green;
}

.cross_check_error_history .error {
    color:red;
}

.cross_check_error_history .menual_input {
    color:green;
}

.cross_check_error_history .new_sn_input {
    color:green;
}

.cross_check_error_history .fix_goods_qty {
    color:green;
}

.cross_check_error_history .remove_wrong_goods {
    color:green;
}

.cross_check_error_history .special_handle {
    color:green;
}

.cross_check_error_history .all_correct {
    color:green;
}

.cross_check_error_history .goods_sn_input {
    color:green;
}

.cross_check_error_history .transfer_sn_input {
    color:green;
}


</style>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<audio id="audio_alert">
  <source src="sound/beep.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="erp_stocktake.php?act=list" style="margin:0px">
        調貨單編號:
        <input class="form-control" name="transfer_sn" id="transfer_sn" type="text" size="15" value='' />
       
        輸入產品貨號:
        <input class="form-control" name="goods_sn" type="text" id="goods_sn" size="15" value='' /> 

        <input class="btn btn-success form-btn" type="button" id="goods_input_manual" name="goods_input_manual" value="手動輸入" data-toggle="modal" />
        <input class="btn btn-warm form-btn" type="button" id="reset_input" name="reset_input" value="重置" />
        <div id="search_error_text" class="red" style="display:none"></div>
      </form>
    </div>
 </div>
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
      <form class="form-inline" name="TimeInterval"  action="order_goods_sn.php?act=list" style="margin:0px">
      </form>
    </div>
    <div class="x_title">
        <h2>訂單產品資料<span id="transfer_sn_title"></span>
            <span id="order_all_pass" class="green"></span>      
        </h2>
        <div class="clearfix"></div>
        <span id="order_wrong_goods" class="red"> 
            <input class="btn btn-danger form-btn" type="button" style="display:none" id="remove_wrong_goods_confirm" name="remove_wrong_goods_confirm" value="確定已移除不屬於訂單的產品">
        </span>
        <span id="order_wrong_goods" class="red" style="display: inline-block;">
            <input class="btn btn-warning form-btn" data-toggle="modal" type="button" style="display:none" id="special_handle" name="special_handle" value="特別處理">
        </span>
        <div class="clearfix"></div>
    </div>
    <div class="list-div" id="listDiv">
    <table id="goods_sn_table" class="table table-striped table-bordered ">
    <thead>
    <th data-sort=0 data-id="goods_sn">產品貨號</th>
    <th data-sort=0 data-id="requested_qty_html">出貨數量</th>
    <th data-sort=0 data-id="stocktake_number_html">點數量</th>
    <th data-sort=0 data-id="change_requested_qty_html">操作</th>
    </thead>
    </table>

    </div>
</div>
記錄:<br>
<span class="cross_check_error_history red"></span>



<div class="modal fade" role="dialog" id="popup_goods_qty_manual_modal">
    <div class="modal-dialog modal-s">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">手動輸入</h4>
        </div>
        <div class="modal-body">
            <form id="form-goods-qty-manual" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">貨號 : <span class="required">*</span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <input class="form-control" name="goods_sn_manual" type="text" id="goods_sn_manual" size="15" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">數量 : <span class="required">*</span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <input class="form-control" name="goods_qty_manual" type="text" id="goods_qty_manual" size="15" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input class=" btn btn-success" type="button" id="submit_goods_qty_manual" name="submit_goods_qty_manual" value="確定" placeholder="">   
                    </div>
                </div>
            </form>
            <div id="bad_goods_repair_notice_message" class="form-div" style="display:none">
                <div id="bad_goods_repair_success_message"></div>
                <div id="bad_goods_repair_error_message" class="red"></div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="popup_cross_check_special_handle_modal">
    <div class="modal-dialog modal-s">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">特別處理</h4>
        </div>
        <div class="modal-body">
            <form id="form-stocktake" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">選擇"<span id="goods_sn_special"></span>"該對應產品 : <span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12" id="goods_list_special">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">數量 : <span class="required">*</span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <input class="form-control" name="goods_qty_special" type="text" id="goods_qty_special" size="15" value="1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input class=" btn btn-success" type="button" id="submit_special_handle" name="submit_special_handle" value="確定" placeholder="">   
                        {if $role_id != 14 and $role_id != 13 }
                        <input class="form-control" name="auth_code_special" type="password" id="auth_code_special" placeholder="輸入授權碼" value="" style="width: 100px; display: inline-block;">
                        {/if}
                    </div>
                </div>
            </form>
            <div id="bad_goods_repair_notice_message" class="form-div" style="display:none">
                <div id="bad_goods_repair_success_message"></div>
                <div id="bad_goods_repair_error_message" class="red"></div>
            </div>
        </div>
    </div>
    </div>
</div>

{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{literal}
<!--
onload = function()
{
    $('.nav-sm').removeClass('nav-sm').addClass('nav-md');
    $("#transfer_sn").focus();
}

var start_corss_check = 0;
var order_goods = {};
var stocktake_order_goods = {};
var goods_all_pass_saved = 0;
var goods_all_pass = 0;
var transfer_sn = '';
var transfer_id = '';
var goods_not_found = 0;
var goods_data = [];
var goods_list_html = '';
var auth_code_1 = '0313';  //steven
var auth_code_2 = '0818';  // nelson
var operator = {$operator};
var add_history_log = [];
var delivery_orders_list_html = '';

yohoTable.deferLoading = "0";
yohoTable.dataSet = {$task_list|json_encode};

yohoTable.rowCallback = function(row, data, dataIndex) {
    // inital order goods
    order_goods[data.goods_sn] = data.requested_qty;
    goods_data.push(data);
    goods_list_html += data.goods_list_html_for_special;


};

yohoTable.drawCallback = function(setting,api) {
    // inital order goods
    $data = api.rows( {page:'current'} ).data();
    //console.log('data',$data);
    //  console.log('table',$table);
    // if ($data.length == 0) {
    //     if (start_corss_check == 1) {
    //         alert('請檢查訂單已出貨');
    //     }
    // }

   // console.log('goods_list_special',goods_list_html);

    // if ($('#goods_list_special').html() != '') {
    //     $('#goods_list_special').html('');
    // }

    $('#goods_list_special').html(goods_list_html);
    
};

var $table = yoho_dataTable();
$("#goods_sn_table").DataTable().on('xhr.dt',function (e, settings, json, xhr) {
    if (json.extraData != null) {
        //console.log('json.extraData',json.extraData);
        //console.log('json.extraData.transfer_id',json.extraData.transfer_id);
        transfer_id = json.extraData.transfer_id;
        
        if (json.extraData.transfer_id == '') {
            if ($('#transfer_sn').val() != '') {
                alert('請檢查調貨單號是否正確');
            }
            clear_all_goods_data();
            transfer_sn_error();
            return false;
        }

        // check passed already
        is_passed = json.extraData.is_passed;
        //console.log('is_passed',is_passed);
        if (is_passed == 1) {
            if (confirm("這訂單之前已經核對過,進行再一次核對嗎?")) {
                var text = '開始核對,單號['+ transfer_sn +']';
                add_history(text,10);
                $("#goods_sn").val('');
                $("#goods_sn").focus(); 
            } else {
                window.location.href = "order_goods_cross_check.php?act=list";
                // $("#goods_sn").val('');
                // $("#goods_sn").focus();
                // clear_all_goods_data();
                // transfer_sn_error();
                return false;
            }
        } else {
            var text = '開始核對,單號['+ transfer_sn +']';
            add_history(text,10);
            $("#goods_sn").val('');
            $("#goods_sn").focus();
        }
    }
});

// $("#stocktake_search").click(function(){
//     var $filter = {};
//     $filter.transfer_sn = $("#transfer_sn").val();
//     $table.search($filter);
//     return;
// });

// $(document).on('click',".delete_confirm_action",function(){
//     if(confirm("確定執行?")){
//         $(this).closest('tr').remove();
//         remove_serial_number('delete');
//     }
//     else{
//         return false;
//     }
// });

$(document).on('click','#reset_input',function(){

    // refrash page
    window.location.href = "stock_transfer_cross_check.php?act=list";
    return false;
    // $("#goods_sn").val('');
    // $("#transfer_sn").val('').focus();
    // clear_all_goods_data();
    // var $filter = {};
    // $table.search($filter);
});

$(document).on('click','#remove_wrong_goods_confirm',function(){
    var text = '確定,已移除不屬於訂單的產品';
    add_history(text,6);
    confirm_special_handle();
   // setTimeout(function() { 
         order_goods_check_all_pass();
    //}, 100);
});

$(document).on('click','#submit_goods_qty_manual',function(){
    var transfer_sn = $('#transfer_sn').val();
    var goods_sn_manual = $('#goods_sn_manual').val();
    var goods_qty_manual = $('#goods_qty_manual').val();

    if (transfer_sn == '') {
        alert('請輸入訂單號');
        return false;
    }

    if (goods_sn_manual == '') {
        alert('請輸入產品貨號');
        return false;
    }

    if (goods_qty_manual == '') {
        alert('請輸入產品數量');
        return false;
    }

    var text = '手動輸入 貨號['+goods_sn_manual+'],數量['+goods_qty_manual + ']';
    add_history(text,3);

    order_goods_cross_check(goods_sn_manual,goods_qty_manual,false);

    $('#popup_goods_qty_manual_modal').modal('toggle');
    $("#goods_sn").val('').focus();
});

function confirm_special_handle() {
    goods_not_found = 0;
    //order_goods_check_all_pass();
    $("#remove_wrong_goods_confirm").hide();
    $("#special_handle").hide();
}

$(document).on('click','#submit_special_handle',function(){
    var goods_sn_special =$('input[name=goods_sn_special]:checked').val();
    var goods_qty_special = $('#goods_qty_special').val();
    var auth_code_special = $('#auth_code_special').val();

    if (goods_sn_special == '') {
        alert('請選擇產品');
        return false;
    }

    if (goods_qty_special == '') {
        alert('請輸入產品數量');
        return false;
    }

    {if $role_id != 14 and $role_id != 13 }

    if (auth_code_special == '') {
        alert('請輸入授權碼');
        return false;
    }

    if (auth_code_1 != auth_code_special && auth_code_2 != auth_code_special) {
        alert('授權碼不正確');
        return false;
    }

    {/if}

    var auth_operator = '';
    if (auth_code_special == auth_code_1) {
        auth_operator = 'Steven';
    } else if (auth_code_special == auth_code_2) {
        auth_operator = 'Nelson';
    } 

    auth_operator = '';
    if (auth_operator == '') {
        auth_operator = 'N/A';
    }

    var text = '特別處理,貨號['+ goods_sn +'] -> ['+ goods_sn_special +'],數量['+goods_qty_special + '], 授權['+ auth_operator +']';
    add_history(text,7);

    goods_not_found = 0;
    order_goods_cross_check(goods_sn_special, goods_qty_special,false);
    confirm_special_handle();
    $('#popup_cross_check_special_handle_modal').modal('toggle');
    $("#goods_sn").val('').focus();
});

$("#special_handle").on('click',function(){
    $('#popup_cross_check_special_handle_modal').modal('toggle');
    
    $('#auth_code_special').val('');
    $('#goods_qty_special').val(1);
    // setTimeout( goods_sn_manual_focus , 500);
    // $('#goods_sn_manual').val('').focus();
    // $('#goods_qty_manual').val('')
});

$("#goods_input_manual").on('click',function(){
    $('#popup_goods_qty_manual_modal').modal('toggle');
    
    setTimeout( goods_sn_manual_focus , 500);
    $('#goods_sn_manual').val('').focus();
    $('#goods_qty_manual').val('')
});

function goods_sn_manual_focus() {
     $('#goods_sn_manual').focus();
}

$("#goods_sn_manual").keypress(function(e) {
   // console.log('keypress');
  //  console.log('keypress_e_which',e.which);
    if(e.which == 13) {
       // console.log('keypress 13');
        event.preventDefault();
        $("#goods_qty_manual").focus();
    }
});

// $("#goods_qty_confirm").on('click',function(){
//     console.log($("#goods_qty").val());
//     if ($("#transfer_sn").val() == '') {
//         alert('請輸入訂單號');
//         return false;
//     }
// 
//     if ($("#goods_sn").val() == '') {
//         alert('請輸入產品貨號');
//         return false;
//     }
// 
//     if ($("#goods_qty").val() == '') {
//         alert('請輸入產品數量');
//         return false;
//     }
// 
//     var goods_sn = $("#goods_sn").val();
//     var goods_qty = $("#goods_qty").val();
//     order_goods_cross_check(goods_sn,goods_qty);
//     //$("#transfer_sn").val('').focus();
// });

$("#goods_sn").keypress(function(e) {
    if(e.which == 13) {
        event.preventDefault();
        // check stocktake goods
        goods_sn = $("#goods_sn").val();

        if (goods_sn == '') {
            alert('請輸入貨號');
            return false;
        }

       // console.log('goods_sn',goods_sn);
        $("#goods_sn").val('').focus();

       // console.log('goods_sn',goods_sn);
        $('#goods_sn_special').html(goods_sn);

        if (goods_all_pass == 1 || goods_all_pass_saved == 1) {
            // check if order sn
            $.ajax({
                url: 'stock_transfer_cross_check.php',
                type: 'post',
                cache: false,
                data: {
                'act': 'is_transfer_sn',
                'transfer_sn': goods_sn,
            },
            dataType: 'json',
            success: function(result) {
                if (result.error == 0) {
                  //  console.log(result);
                    // if all pass then go to next order
                    if (result.content == true) {

                        // save history log
                        var historyLog = getHistoryLog();
                        if (historyLog != '') {
                            saveCrossCheckLog(historyLog);
                        }
                        
                        if (goods_all_pass == 0) {
                            alert('訂單還未全部正確,請先處理好問題,然後再處理下一張訂單');
                            return false;
                        }

                        $("#transfer_sn").val(goods_sn).focus();
                        clear_all_goods_data();
                        var e = $.Event("keypress");
                        e.keyCode = 13;
                        e.which = 13;
                        $("#transfer_sn").trigger(e);
                    } else {
                        order_goods_cross_check(goods_sn);
                    }
                }
            },
            error: function(xhr) {
               alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
               console.log(xhr);
            }
            });
        } else {
            order_goods_cross_check(goods_sn);
        }
    }
});

$(document).on('click','.revised_qty_button',function(){
    goods_sn = $(this).data('goods-sn');
  //  console.log('goods_sn',goods_sn);
    var text = '修正數量,貨號['+goods_sn+'],數量['+stocktake_order_goods[goods_sn] + ' -> '+ order_goods[goods_sn] +']';
    
    stocktake_order_goods[goods_sn] = order_goods[goods_sn];
    $('.stocktake-'+goods_sn).html(order_goods[goods_sn]);
    $('.stocktake-'+goods_sn).closest('tr').css('background','green');
    $('.stocktake-'+goods_sn).closest('tr').css('color','white');
    $("#goods_sn").val('').focus();

    add_history(text,5);
    //setTimeout(function() { 
         order_goods_check_all_pass();
    //}, 100);
});

$(document).on('click','.change_goods_requested_qty',function(){
    goods_sn = $(this).data('goods-sn');
    console.log('goods_sn',goods_sn);
     if (typeof stocktake_order_goods[goods_sn] == 'undefined') {
         stocktake_order_goods[goods_sn] = 0;
     }
    order_goods[goods_sn] = stocktake_order_goods[goods_sn];
    
   

    $('.requested-qty-'+goods_sn).html(stocktake_order_goods[goods_sn]);
    $('.stocktake-'+goods_sn).closest('tr').css('background','green');
    $('.stocktake-'+goods_sn).closest('tr').css('color','white');
    $("#goods_sn").val('').focus();

});


$("#transfer_sn").keypress(function(e) {
    console.log('transfer_sn_start..................................');
    if(e.which == 13) {
        //  console.log('keypress 13');
        event.preventDefault();
        start_corss_check = 1;
        $("#goods_sn").val('');
        $("#goods_sn").focus();
        transfer_sn = $("#transfer_sn").val();
     
        //return true;

        clear_all_goods_data();
        load_transfer_order_goods(transfer_sn);
        $("#transfer_sn_title").html('(<a target="_blank" href="order.php?act=info&transfer_sn='+ transfer_sn +'">'+transfer_sn+')');
    }
});


function load_transfer_order_goods(transfer_sn)
{
    var $filter = {};
    $filter.transfer_sn = transfer_sn;
    //$filter.transfer_id = transfer_id;
    $table.search($filter);
}

// function show_error_message(text)
// { 
//     $("#search_error_text").html(text);
//     $("#search_error_text").show();
// }

function order_goods_check_all_pass() {
    
    goods_all_pass = 1;
    $.each( order_goods, function( key, value ) {
      //  console.log( key + ": " + value );
        if (stocktake_order_goods[key] != value) {
            goods_all_pass = 0;
            return false;
        }
    });

    if (goods_all_pass == 1 && goods_not_found == 1) {
        alert_with_sound('訂單還未正確,請把不屬於訂單的產品移除');
        goods_all_pass = 0;
        return false;
    }

    if (goods_not_found == 1) {
        goods_all_pass = 0;
        return false;
    }

    if (goods_all_pass == 1) {
        goods_all_pass_saved = 1;
        // update data base all pass 1
        $("#order_all_pass").html('全部正確');
        var text = '全部正確';
        add_history(text,8);
        var historyLog = getHistoryLog();
        saveCrossCheckLog(historyLog);

        // update stock out qty
        updateOrderTransferStockOutQty();



    } else {
        if (goods_all_pass_saved == 1) {
            // update data base all pass 0
        }
    }


    $("#goods_sn").val('').focus();

   // console.log('goods_all_pass',goods_all_pass);
   // console.log('goods_all_pass_saved',goods_all_pass_saved);
}

function updateOrderTransferStockOutQty() {
    $.ajax({
        url: 'stock_transfer_cross_check.php',
        type: 'post',
        cache: false,
        data: {
        'act': 'update_order_transfer_stock_out_qty',
        'transfer_sn': transfer_sn,
        'transfer_id': transfer_id,
        'stocktake_order_goods': stocktake_order_goods,
    },
    dataType: 'json',
    success: function(result) {
        if (result.error == 0) {
            
        }
    },
    error: function(xhr) {
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
    }
    });
}

function clear_all_goods_data() {
    stocktake_order_goods = {};
    order_goods = {};
    goods_all_pass_saved = 0;
    goods_all_pass = 0;
    goods_list_html = '';
    add_history_log = [];
    delivery_orders_list_html = '';
    transfer_id = 0;

   
    $('#order_all_pass').html('');
    $('.cross_check_error_history').html('');
    $("#transfer_sn_title").html('');
    $("#remove_wrong_goods_confirm").hide();
    $("#special_handle").hide();
}

function alert_with_sound(error_text) {
    alert(error_text);
    playAudioAlert();
}

function alert_error(error_text) { 
    
    add_history(error_text,2);
    saveCrossCheckErrorLog();
    //$( ".cross_check_error_history" ).prepend(error_text + '<br>');
    alert(error_text);
    $("#order_all_pass").html('');
    goods_all_pass = 0;

    playAudioAlert();
    // log data base
    var historyLog = getHistoryLog();
    saveCrossCheckLog(historyLog);
}

function add_history(text,type,save_log = false) {
    if (type == 1) { // success
        text = '<div class="success">' + text + '</div>'
    } else if (type == 2) { // error
        text = '<div class="error">' + text + '</div>'
    } else if (type == 3) { // menual_input
        text = '<div class="menual_input">' + text + '</div>'
    } else if (type == 4) { // new_sn_input
        text = '<div class="new_sn_input">' + text + '</div>'
    } else if (type == 5) { // fix_goods_qty
        text = '<div class="fix_goods_qty">' + text + '</div>'
    } else if (type == 6) { // remove_wrong_goods
        text = '<div class="remove_wrong_goods">' + text + '</div>'
    } else if (type == 7) { // special_handle
        text = '<div class="special_handle">' + text + '</div>'
    } else if (type == 8) { // all correct
        text = '<div class="all_correct">' + text + '</div>'
    } else if (type == 9) { // goods_sn_input
        text = '<div class="goods_sn_input">' + text + '</div>'
    } else if (type == 10) { // transfer_sn_input
        text = '<div class="transfer_sn_input">' + text + '</div>'
    } else {
        text = '<div >' + text + '</div>'
    }

    $( ".cross_check_error_history" ).prepend(text);
    if (type != 4) {
        add_history_log.push(text);
    }

    // log data base
    if (save_log == true) {
        saveCrossCheckLog(text);
    }
}

function saveCrossCheckErrorLog() {
    $.ajax({
        url: 'stock_transfer_cross_check.php',
        type: 'post',
        cache: false,
        data: {
        'act': 'save_cross_check_error',
        'transfer_sn': transfer_sn,
        'transfer_id': transfer_id,
        'error': 1,
    },
    dataType: 'json',
    success: function(result) {
        if (result.error == 0) {
           // console.log(result);
            // if all pass then go to next order
            if (result.content == true) {
                
            }
        }
    },
    error: function(xhr) {
       alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
       console.log(xhr);
    }
    });
}

function getHistoryLog() {
    var text = '';
    $.each( add_history_log, function( key, value ) {
     // console.log( key + ": " + value );
        text = text + value;
    });
    
    // clear log 
    add_history_log = [];

    return text;
}

function saveCrossCheckLog(text) {
    console.log('saveCrossCheckLog......',text);
    $.ajax({
        url: 'stock_transfer_cross_check.php',
        type: 'post',
        cache: false,
        data: {
        'act': 'save_cross_check_error_history',
        'transfer_sn': transfer_sn,
        'transfer_type': 0,
        'transfer_id': transfer_id,
        'passed': goods_all_pass,
        'operator': operator,
        //'log': $( ".cross_check_error_history" ).html(),
        'log' : text,
    },
    dataType: 'json',
    success: function(result) {
        if (result.error == 0) {
           // console.log(result);
            // if all pass then go to next order
            if (result.content == true) {
                
            }
        }
    },
    error: function(xhr) {
       alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
       console.log(xhr);
    }
    });
}

function order_goods_cross_check(goods_sn, qty=1, add_goods_input_history=true) {
    // 1. Check if it belongs to this order.
    if (typeof order_goods[goods_sn] == 'undefined') {
        var error_text = '錯誤,找不到產品('+ goods_sn +')';

        // add goods button 
        $("#remove_wrong_goods_confirm").show();
        $("#special_handle").show();
        goods_not_found = 1;
        alert_error(error_text);

        if (goods_not_found == 1) {
            order_goods_check_all_pass();
        }

        // log data base
        return false;
    }

    if (add_goods_input_history == true) {
        var text = '輸入產品貨號,貨號['+goods_sn+']';
        add_history(text,9);
    }
    
    // 2. check if the stock over
    if (typeof stocktake_order_goods[goods_sn] == 'undefined') {
        stocktake_order_goods[goods_sn] = 0;
    }

    if (parseInt(stocktake_order_goods[goods_sn]) + parseInt(qty) <= parseInt(order_goods[goods_sn])) {
        stocktake_order_goods[goods_sn] = parseInt(stocktake_order_goods[goods_sn]) + parseInt(qty) ;
        $('.stocktake-'+goods_sn).html(stocktake_order_goods[goods_sn]);

        if (stocktake_order_goods[goods_sn] == order_goods[goods_sn]) {
            $('.stocktake-'+goods_sn).closest('tr').css('background','green');
            $('.stocktake-'+goods_sn).closest('tr').css('color','white');
        }
    } else {
        stocktake_order_goods[goods_sn] = parseInt(stocktake_order_goods[goods_sn]) + parseInt(qty) ;
        var revised_button = '<input class="btn btn-success form-btn revised_qty_button" data-goods-sn="'+ goods_sn +'" type="button" id="revised_qty_button" name="revised_qty_button" value="數量已修正">';
        $('.stocktake-'+goods_sn).html(stocktake_order_goods[goods_sn] + ' ' +revised_button);
        $('.stocktake-'+goods_sn).closest('tr').css('background','red');
        $('.stocktake-'+goods_sn).closest('tr').css('color','white');
        
        var error_text = '錯誤,產品數量已經足夠,請檢查產品數量是否正確'+ '('+ goods_sn +')';
        alert_error(error_text);
        // log data base
    }

    // check if all is pass
    //setTimeout(function() { 
        order_goods_check_all_pass();
    //}, 100);
}

function transfer_sn_error() {
    $("#transfer_sn").val('').focus();
}



$("#top-right").hide();


var x = document.getElementById("audio_alert"); 

function playAudioAlert() { 
    x.play();
} 

function pauseAudioAlert() { 
    x.pause(); 
} 

//-->
</script>
{/literal}

