{if $full_page}
{include file="pageheader.htm"}

{insert_scripts files="../js/utils.js,listtable.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<div class=" x_panel">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
  <th><a href="javascript:listTable.sort('suggest_id'); ">{$lang.record_id}</a>{$sort_suggest_id}</th>
  <th><a href="javascript:listTable.sort('goods_id'); ">產品圖片</a>{$sort_goods_id}</th>
  <th><a href="javascript:listTable.sort('goods_name'); ">產品名稱</a>{$sort_goods_name}</th>
  <th><a href="javascript:listTable.sort('goods_sn'); ">產品貨號</a>{$sort_goods_sn}</th>
  <th><a href="javascript:listTable.sort('shop_price'); ">價格</a>{$sort_shop_price}</th>
  <th><a href="javascript:listTable.sort('cost'); ">成本</a>{$sort_cost}</th>
  <th><a href="javascript:listTable.sort('suggested_price'); ">建議特價</a>{$sort_suggested_price}</th>
  <th><a href="javascript:listTable.sort('start_time'); ">特價開始日</a>{$sort_start_time}</th>
  <th><a href="javascript:listTable.sort('end_time'); ">特價結束日</a>{$sort_end_time}</th>
  <th>{$lang.handler}</th>
</tr>
{foreach from=$list item=row}
<tr>
  <td align="center" nowrap="nowrap">{$row.suggest_id}</td>
  <td align="center" nowrap="nowrap"><a href="../goods.php?id={$row.goods_id}" alt="{$row.goods_name|escape}"><img src="../{$row.goods_thumb}" width="50" height="50" class="goods_thumb" data-title="{$row.goods_name}"></a></td>
  <td align="left" nowrap="nowrap">
    <a href="../goods.php?id={$row.goods_id}" alt="{$row.goods_name|escape}">{$row.goods_name|escape}</a>
  </td>
  <td align="left" nowrap="nowrap">
    <a href="goods.php?act=list&amp;keyword={$row.goods_sn}">{$row.goods_sn}</a>
  </td>
  <td align="center">{$row.shop_price_formatted}</td>
  <td align="center">{$row.cost_formatted}</td>
  <td align="center"><span onclick="listTable.edit(this, 'edit_suggested_price', {$row.suggest_id})">{$row.suggested_price_formatted}</span></td>
  <td align="center"><span onclick="listTable.edit(this, 'edit_start_time', {$row.suggest_id});showCalendar(this.firstChild, '%Y-%m-%d', false, false, this.firstChild)">{$row.promote_start_date}</span></td>
  <td align="center"><span onclick="listTable.edit(this, 'edit_end_time', {$row.suggest_id});showCalendar(this.firstChild, '%Y-%m-%d', false, false, this.firstChild)">{$row.promote_end_date}</span></td>
  <td align="center">
    <a href="javascript:;" onclick="accept_suggestion({$row.suggest_id})">接受</a>
    <a href="javascript:;" onclick="ignore_suggestion({$row.suggest_id})">忽略</a>
  </td>
</tr>
{foreachelse}
  <tr><td class="no-records" colspan="9">{$lang.no_records}</td></tr>
{/foreach}
</table>
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="left">
      <a href="javascript:;" class="accept-all-btn">接受全部</a>
      <a href="javascript:;" class="ignore-all-btn">忽略全部</a>
    </td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>
</div>
<script type="text/javascript" language="JavaScript">
listTable.query = 'query_problem';
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

function accept_suggestion(suggest_id)
{
  Ajax.call(listTable.url, 'act=accept_suggestion&id=' + suggest_id + listTable.compileFilter(), listTable.listCallback, "GET", "JSON");
}
function ignore_suggestion(suggest_id)
{
  Ajax.call(listTable.url, 'act=ignore_suggestion&id=' + suggest_id + listTable.compileFilter(), listTable.listCallback, "GET", "JSON");
}

$(function () {
  var $mouse_follower = null;
  $('.list-div').on('mouseenter', 'img.goods_thumb', function(e) {
    if ($mouse_follower != null)
    {
      $mouse_follower.remove();
    }
    $mouse_follower = $('<div></div>');
    $mouse_follower.css({
      'position': 'absolute',
      'display': 'block',
      'background-color': 'white',
      'border': '1px solid #ccc',
      '-webkit-box-shadow': '1px 1px 2px 0px rgba(0,0,0,0.5)',
      '-moz-box-shadow': '1px 1px 2px 0px rgba(0,0,0,0.5)',
      'box-shadow': '1px 1px 2px 0px rgba(0,0,0,0.5)',
      'padding': '4px 8px',
      'left': e.pageX + 10,
      'top': e.pageY + 10
    }).text($(this).data('title')).appendTo('body');
  }).on('mousemove', 'img.goods_thumb', function(e) {
      $mouse_follower.css({
        'left': e.pageX + 10,
        'top': e.pageY + 10
      });
  }).on('mouseleave', 'img.goods_thumb', function() {
      $mouse_follower.remove();
      $mouse_follower = null;
  });
  
  $('.accept-all-btn').click(function() {
    $.ajax({
      url: window.location.href,
      type: 'post',
      data: {
        act: 'accept_all_suggestions'
      },
      dataType: 'json',
      success: function (result) {
        alert('接受全部特價建議成功！');
        window.location.reload();
      },
      error: function (xhr) {
        alert('接受全部特價建議失敗！');
        console.log(xhr);
      }
    });
  });
  $('.ignore-all-btn').click(function() {
    $.ajax({
      url: window.location.href,
      type: 'post',
      data: {
        act: 'ignore_all_suggestions'
      },
      dataType: 'json',
      success: function (result) {
        alert('忽略全部特價建議成功！');
        window.location.reload();
      },
      error: function (xhr) {
        alert('忽略全部特價建議失敗！');
        console.log(xhr);
      }
    });
  });
});
</script>

{include file="pagefooter.htm"}
{/if}