<!-- $Id: goods_search.htm 16790 2009-11-10 08:56:15Z wangleisvn $ -->
<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form action="javascript:searchSupplierStock()" name="searchForm" class="form-inline">
      <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />

      <!-- 分类 -->
      <select class="form-control" name="cat_id" id="cat_name"><option value="0">{$lang.goods_cat}</option></select>
      <!-- 品牌 -->
      <select class="form-control" name="brand_id" id="brand_name"><option value="0">{$lang.goods_brand}</option></select>
      <!-- 推荐 -->
      <select name="intro_type" class="form-control"><option value="0">{$lang.intro_type}</option>{html_options options=$intro_list selected=$smarty.get.intro_type}</select>
      {if $suppliers_list_name}
      <!-- 供货商 -->
      <select class="form-control" name="suppliers_id" id="suppliers_name" style="width:250px"><option value="0">所有供應商</option></select>
      {/if}
      {$lang.include_goods} <input placeholder="{$lang.include_goods_hint}" class="form-control" type="text" name="include_goods" size="21" value="{$search_parm.include_goods}"/>
      {$lang.start_date}&nbsp;
      <input name="start_date" type="text" id="start_date" size="10" value='{$start_date}' class="form-control" data-type="date" autocomplete="off"/>&nbsp;&nbsp;
      {$lang.end_date}&nbsp;
      <input name="end_date" type="text" id="end_date" size="10" value='{$end_date}' class="form-control" data-type="date" autocomplete="off"/>&nbsp;&nbsp;
      <input type="submit" value="{$lang.button_search}" class="form-btn btn btn-success" />
    </form>
  </div>
  
  <script language="JavaScript">
      var $filter = [];
  
      function searchSupplierStock()
      {
        $filter = [];
        {/literal}
        $filter['cat_id'] = document.forms['searchForm'].elements['cat_id'].value;
        $filter['brand_id'] = document.forms['searchForm'].elements['brand_id'].value;
        $filter['intro_type'] = document.forms['searchForm'].elements['intro_type'].value;
        $filter['start_date'] = document.forms['searchForm'].elements['start_date'].value;
        $filter['end_date'] = document.forms['searchForm'].elements['end_date'].value;
        {if $suppliers_list_name}
        $filter['suppliers_id'] = document.forms['searchForm'].elements['suppliers_id'].value;
        {/if}
       
        {literal}
      
        $filter['include_goods'] = Utils.trim(document.forms['searchForm'].elements['include_goods'].value);
        // Set dynamic parameters for the data table
        $('#supplier_stock_list').data('dt_params', $filter);
  
        // Redraw data table, causes data to be reloaded
        $('#supplier_stock_list').DataTable().draw();
    }

  
        var cat_list = [];
  
        cat_list.push({
            id: 0,
            text: "{$lang.goods_cat}",
            html: "<span>{$lang.goods_cat}</span>",
        
        });
  
        {foreach from=$cat_list item=cat}        
          cat_list.push({
              id: {$cat.cat_id},
              text: "{$cat.cat_name}",
              html: "<span>{$cat.cat_name_by_level}</span>",
          
          }) 
        {/foreach}
        
        $("#cat_name").select2({
            width: 'resolve',
            matcher: modelMatcher,
            allowClear: false,
            placeholder: '所有分類',
            data: cat_list,
            escapeMarkup: function(markup) {
                return markup;
            },
            templateResult: function(data) {
                return data.html;
            },
        });
  
        var brand_list = [];
  
        brand_list.push({
            id: 0,
            text: "{$lang.goods_brand}",
            html: "<span>{$lang.goods_brand}</span>",
        
        });
  
        {foreach from=$brand_list key=brand_id item=brand_name}        
          brand_list.push({
              id: {$brand_id},
              text: "{$brand_name}",
              html: "<span>{$brand_name}</span>",
          
          }) 
        {/foreach}
  
        $("#brand_name").select2({
            width: 'resolve',
            matcher: modelMatcher,
            allowClear: false,
            placeholder: '所有品牌',
            data: brand_list,
            escapeMarkup: function(markup) {
                return markup;
            },
            templateResult: function(data) {
                return data.html;
            },
        });
  
        var suppliers_list = [];
  
        suppliers_list.push({
            id: 0,
            text: "所有供應商",
            html: "<span>所有供應商</span>",
        
        });
  
        {foreach from=$suppliers_list_name item=supplier}        
        suppliers_list.push({
              id: {$supplier.supplier_id},
              text: "{$supplier.name}",
              html: "<span>{$supplier.name}</span>",
          
          }) 
        {/foreach}
  
        $("#suppliers_name").select2({
            width: 'resolve',
            matcher: modelMatcher,
            allowClear: false,
            placeholder: '所有品牌',
            data: suppliers_list,
            escapeMarkup: function(markup) {
                return markup;
            },
            templateResult: function(data) {
                return data.html;
            },
        });
  
  </script>
  
  {literal}
  
  {/literal}