<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class="x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form name="TimeInterval"  action="javascript:getList(this)" class="form-inline">
        {$lang.start_date}&nbsp;
        <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
        {$lang.end_date}&nbsp;
        <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
        <input type="hidden" name="admin_id" value="{$admin_id}" />
        <input type="submit" id="submit" name="submit" value="{$lang.query}" class="btn btn-primary" />
        {insert name=daterange_group}
    </form>
    <div style="text-align:right">*此報表之批發訂單包含已出貨但未付款訂單</div>
    <!--div style="color: red;text-align:right">注意：以上盈利並未扣除折扣及優惠券之金額</div-->
</div>
<form method="POST" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<ul id="adminTab" class="nav nav-tabs bar_tabs" role="tablist">
    {foreach from=$admin_list item=admin key=id }
        <li {if $admin_id eq $id} class="active" {/if} >
            <a onclick="javascript:getList(this)" data-admin_id="{$id}">
                {$admin}
            </a>
        </li>
    {/foreach}
</ul>
    <table class="table table-striped table-bordered bulk_action">
        <tr>
            <th>供應商</th>
            <th style="width: 200px;">銷售總額</th>
            <th>實際盈利總額</th>
            <th>平均存貨成本</th>
            <th>Turnover</th>
            <th>平均存貨成本(呆壞貨)</th>
            <th>呆壞貨存貨成本比率</th>
            <th>即時存貨總數</th>
            <!-- <th>即時存貨成本(FIFO)</th> -->
        </tr>
        {foreach from=$data item=list name=foo}
        <tr align="center">
            <td align="left"><a href="goods.php?act=list&amp;suppliers_id={$list.id}">{$list.name}</a></td>
            <td align="right">{$list.total_sa_revenue_formated}</td>
            <td align="right">{$list.total_sa_profit_formated}</td>
            <td align="right">{$list.avg_stock_cost_formated}</td>
            <td align="right">{$list.turnover}</td>
            <td align="right">{$list.total_dead_cost_formated}</td>
            <td align="right">{$list.total_dead_cost_rate_formated}</td>
            <td align="right">{$list.total_fifo_qty}</td>
            <!-- <td align="right">{$list.total_fifo_cost_formated}</td> -->
            <!--<td align="right">{$list.total_sa_profit_formated}</td>-->
        </tr>
        {foreachelse}
        <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
        {/foreach}
    </table>
    <div style="display: none;" id="total_discount_div">{$total_discount}</div>
    {if !$full_page}
    <img src="images/empty.gif" style="display: none;" onload="updateTotalDiscount();this.parentNode.removeChild(this);" alt="Hack to run script in content loaded with innerHTML">
    {/if}
    {if $full_page}
</div>
</form>
</div>
<script type="Text/Javascript" language="JavaScript">
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

function getList($this)
{
    var frm =  document.forms['TimeInterval'];
    $admin_id = $($this).data('admin_id') || $('#adminTab li.active>a').data('admin_id');
    listTable.filter['start_date'] = frm.elements['start_date'].value;
    listTable.filter['end_date'] = frm.elements['end_date'].value;
    listTable.filter['admin_id'] = $admin_id;
    listTable.loadList();
}

function updateTotalDiscount()
{
  try {
    document.getElementById('total_discount_span').innerHTML = document.getElementById('total_discount_div').innerHTML;
  } catch (e) { }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}