<!-- $Id: article_list.htm 16783 2009-11-09 09:59:06Z liuhui $ -->
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
    {insert_scripts files="../js/utils.js,i18n.js"}
    <div class="x_panel">
        <div class="form-div col-md-12 col-sm-12 col-xs-12">
            <form action="javascript:searchArticle()" name="searchForm" class="form-inline">
                <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH"/>
                <select class="form-control" name="cat_id">
                    <option value="0">{$lang.all_cat}</option>
                    {$cat_select}
                </select>
                問題標題 <input class="form-control" type="text" name="keyword" id="keyword"/>
                <input type="submit" value="{$lang.button_search}" class="btn btn-success form-btn"/>
            </form>
        </div>
        <div class="tab-div col-md-12 col-sm-12 col-xs-12">
            <div class="tab-content">
            
                    <table id="page" class="table table-bordered table-striped bulk_action ">
                        <thead>
                        <tr>
                            <th data-id='article_id' data-key='article_id'>{$lang.article_id}</th>
                            <th data-id='title'>問題標題</th>
                            <th data-id='cat_id' data-value="cat_name" data-order="1">分類</th>
                            <!--th data-id='article_type' data-type="toggle">置頂</th-->
                            <th data-id='click_count'>{$lang.click_count}</th>
                            <!--th data-id='is_open' data-type="toggle">{$lang.is_open}</th>
                            <!th data-id='add_time' data-value='date'>{$lang.add_time}</th-->
                            <th data-id="_action">{$lang.handler}</th>
                        </tr>
                        </thead>
                    </table>
            </div>
        </div>
    </div>
    <form method="POST" action="article.php?act=batch_remove" name="listForm">
        <div>
            <input type="hidden" name="act" value="batch"/>
            <select name="type" id="selAction" onchange="changeAction()">
                <option value="">{$lang.select_please}</option>
                <option value="button_remove">{$lang.button_remove}</option>
                <option value="button_hide">{$lang.button_hide}</option>
                <option value="button_show">{$lang.button_show}</option>
                <option value="move_to">{$lang.move_to}</option>
            </select>
            <select name="target_cat" style="display:none">
                <option value="0">{$lang.select_please}</option>
                {$cat_select}
            </select>

            <input type="submit" value="{$lang.button_submit}" id="btnSubmit" name="btnSubmit" class="btn btn-primary"
                   disabled="true"/>
        </div>
    </form>
</div>
<!-- end cat list -->
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">

    var $table = yoho_dataTable();


    /**
     * @param: bool ext 其他条件：用于转移分类
     */
    function confirmSubmit(frm, ext) {
        if (frm.elements['type'].value == 'button_remove') {
            return confirm(drop_confirm);
        }
        else if (frm.elements['type'].value == 'not_on_sale') {
            return confirm(batch_no_on_sale);
        }
        else if (frm.elements['type'].value == 'move_to') {
            ext = (ext == undefined) ? true : ext;
            return ext && frm.elements['target_cat'].value != 0;
        }
        else if (frm.elements['type'].value == '') {
            return false;
        }
        else {
            return true;
        }
    }

    function changeAction() {

        var frm = document.forms['listForm'];

        // 切换分类列表的显示
        frm.elements['target_cat'].style.display = frm.elements['type'].value == 'move_to' ? '' : 'none';

        if (!document.getElementById('btnSubmit').disabled &&
            confirmSubmit(frm, false)) {
            frm.submit();
        }
    }

    /* 搜索文章 */
    function searchArticle() {
	    var $filter = {};
        $filter.keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
        $filter.cat_id = parseInt(document.forms['searchForm'].elements['cat_id'].value);
	    $table.search($filter);
    }

    {/literal}
</script>
