<!-- $Id: goods_list.htm 17126 2010-04-23 10:30:26Z liuhui $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<style>
td.td_goods_name {
  width: 400px;
}
</style>
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
  <!-- 商品搜索 -->
  {include file="supplier_stock_search.htm"}
  <!-- 商品列表 -->
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table id="supplier_stock_list" class="table table-striped table-bordered bulk_action "><!--  add if need :text-nowrap -->
      <thead>
        <tr class="headings">
          <th data-id="goods_id" data-key="goods_id">{$lang.record_id}</th>
          <th data-id="goods_name" data-class="td_goods_name" style="width:30%">產品名稱</th>
          <th data-id="sales" data-sort="1">銷量</th>
          <th data-id="goods_number" data-url="erp_stock_inquiry.php?act=list&amp;goods_sn={goods_sn}" >實際庫存</th>
        </tr>
      </thead>
      <tbody>
      <!-- Ajax -->
      </tbody>
    </table>
    <!-- end goods list -->
  </div>
</div>
{include file="pagefooter.htm"}

<script>
yohoTable.deferLoading = "{$record_count}";
yohoTable.dataSet = {$supplier_stock_list|json_encode};
var $table = yoho_dataTable();
</script>
</body>
</html>