<!-- $Id: tag_edit.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
{insert_scripts files="validator.js,../js/transport_jquery.js"}
<div class=" x_panel">
<form method="post" action="tag_manage.php" name="theForm" onSubmit="return validate()" class="form-horizontal form-label-left">
<div class=" x_panel">
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.tag_words}</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input class="form-control" name="tag_words" type="text" id="tag_words" value="{$tag.tag_words}" maxlength="60" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.tag_type}</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" name="tag_type" id="tag_type" Onchange="changeType()">
        {html_options options=$type_list selected=$tag.tag_type}
      </select>
    </div>
  </div>

  <!-- Goods  -->
  <div class="form-group goods">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.name_search}</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="input-group">
        <input class="form-control" name="keyword" type="text" id="keyword">
        <span class="input-group-btn"><input name="search" type="button" id="search" value="{$lang.button_search}" class="btn btn-success" onclick="searchGoods()" /></span>
      </div>
    </div>
  </div>
  <div class="form-group goods">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.goods_name}</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" name="goods_id" id="goods_id">
        <option value="{$tag.goods_id}" selected="selected">{$tag.goods_name}</option>
      </select>
    </div>
  </div>

  <!-- Brands -->
  <div class="form-group brands">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.brands}</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" name="brand_id">
        <option value="0">{$lang.select_please}{html_options options=$brand_list selected=$tag.brand_id}</select>
    </div>
  </div>

  <!-- Cat -->
  <div class="form-group cats">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.cats}</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" name="cat_id">
        <option value="0">{$lang.select_please}</option>
          {$cat_list}
        </select>
    </div>
  </div>

  <div class="form-group">
    <div class="ln_solid"></div>
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <input type="submit" class="form-btn btn btn-primary" value="{$lang.button_submit}" />
      <input type="reset" class="form-btn btn btn-primary" value="{$lang.button_reset}" />
      <input type="hidden" name="id" value="{$tag.tag_id}" />
      <input type="hidden" name="act" value="{$insert_or_update}" />
    </div>
  </div>
</div>
</form>
</div>

{literal}
<script language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
    changeType();
}

// Multiple language support
var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};
var localizableFieldsMapping = {};

/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required('tag_words', tag_name_not_empty);
    return validator.passed();
}

function searchGoods()
{
  var filter = new Object;
  filter.keyword  = document.forms['theForm'].elements['keyword'].value;

  Ajax.call('tag_manage.php?is_ajax=1&act=search_goods', filter, searchGoodsResponse, 'GET', 'JSON');
}

function searchGoodsResponse(result)
{
  if (result.error == '1' && result.message != '')
  {
    alert(result.message);
	return;
  }

  var sel = document.forms['theForm'].elements['goods_id'];

  sel.length = 0;

  /* 创建 options */
  var goods = result.content;
  if (goods)
  {
    for (i = 0; i < goods.length; i++)
    {
      var opt = document.createElement("OPTION");
      opt.value = goods[i].goods_id;
      opt.text  = goods[i].goods_name;
      sel.options.add(opt);
    }
  }

  return;
}

function changeType()
{
  var type   = document.forms['theForm'].elements['tag_type'].value;
  var goods  = document.getElementsByClassName("goods");
  var brands = document.getElementsByClassName("brands");
  var cats   = document.getElementsByClassName("cats");

  // Goods type
  if(type == 1){
    for(i = 0; i < goods.length; i++) {
            goods[i].style.display = "block";
    }
  }  else {
    for(i = 0; i < goods.length; i++) {
            goods[i].style.display = "none";
    }
  }

  // Brands type
  if(type == 2){
    for(i = 0; i < brands.length; i++) {
            brands[i].style.display = "block";
    }
  }  else {
    for(i = 0; i < brands.length; i++) {
            brands[i].style.display = "none";
    }
  }

  // Cat type
  if(type == 3){
    for(i = 0; i < cats.length; i++) {
            cats[i].style.display = "block";
    }
  }  else {
    for(i = 0; i < cats.length; i++) {
            cats[i].style.display = "none";
    }
  }

}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
