<!-- $Id: tag_edit.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="validator.js,../js/transport_jquery.js"}
<div class=" x_panel">
<form method="post" action="tag_manage.php" name="theForm" class="form-horizontal form-label-left" >
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.tag_words}</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" name="tag_words" id="tag_words" onfocus="this.oldvalue = this.value;" Onchange="changeWordSel(this);this.oldvalue = this.value;">
      {html_options options=$tag_words_list}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.new_tag_words}</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input class="form-control" name="new_tag_words" type="text"/>
    </div>
  </div>
  <div class="form-group">
    <div class="ln_solid"></div>
      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <input type="submit" class="btn btn-primary" value="{$lang.button_submit}" />
        <input type="reset" class="btn btn-primary" value="{$lang.button_reset}" />
        <input type="hidden" name="act" value="update_tag_words" />
      </div>
  </div>
</form>
</div>

{literal}
<script language="JavaScript">

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
function changeWordSel(element)
{
  var old_v = element.oldvalue;
  var new_v = document.forms['theForm'].elements['tag_words'].value;
  var input_value = document.forms['theForm'].elements['new_tag_words'].value;
  if(input_value == '' || input_value == old_v)
  {
    document.forms['theForm'].elements['new_tag_words'].value = new_v;
  }

}

</script>
{/literal}
{include file="pagefooter.htm"}
