<!-- $Id: tag_manage.htm 14216 2008-03-10 02:27:21Z testyang $ -->


{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
<link href="css/select2.min.css" rel="stylesheet" type="text/css" />
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form action="javascript:searchTag()" name="searchForm" class="form-inline">
      <span>標籤分類</span>
      <select class="form-control" name="is_show" id="is_show">
          <option value="-1" selected="selected">{$lang.select_please}</option>
          {html_options options=$type_list}
      </select>
      <span>標籤名稱</span>
      <!-- <select class="form-control" name="tag_words" id="tag_words">
          <option value="0" selected="selected">{$lang.select_please}</option>
          {html_options options=$tag_words_list}
      </select> -->
      <select class="form-control" name="tag_words" id="tag_words">
        <option value="0" selected="selected">{$lang.select_please}</option>
      </select>
      <input type="submit" value="{$lang.button_search}" class="form-btn btn btn-success"/><hr>
    </form>
  </div>
<!-- start tag list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive ">

<table class="table table-striped table-bordered bulk_action" id="tag">
  <thead>
      <tr class="headings">
      <th data-id="tag_id" data-key="tag_id">
        <input type="checkbox" id="check-all" class="flat">{$lang.record_id}
      </th>
      <th data-id="tag_words">{$lang.tag_words}</th>
      <!--th><a href="javascript:listTable.sort('user_name'); ">{$lang.user_id}</a>{$sort_user_name}</th-->
      <th data-id="goods_name">{$lang.goods_id}</th>
      <th data-id="brand_name">{$lang.brand}</th>
      <th data-id="cat_name">{$lang.cat}</th>
      <th class="actionsCol" data-id="_action" data-sort="0">{$lang.handler}</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
<!-- end tag list -->
  <div class="form-div col-md-5 col-sm-5 col-xs-5">
      <input type="button" class="form-btn btn btn-success" id="btnSubmit" value="{$lang.drop_tags}" />
  </div>
</div>
{include file="pagefooter.htm"}
{insert_scripts files="select2/select2.min.js"}
<script type="text/javascript" language="JavaScript">
  var $tagTable = yoho_dataTable();
  {literal}
  function searchTag()
  {
    $filter = [];
      // listTable.filter['keyword'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    $filter['is_show'] = document.forms['searchForm'].elements['is_show'].value;
    $filter['tag_words'] = document.forms['searchForm'].elements['tag_words'].value;
    // Set dynamic parameters for the data table
    $('#tag').data('dt_params', $filter);

    // Redraw data table, causes data to be reloaded
    $('#tag').DataTable().draw();
  }

  $('#btnSubmit').click(function(){
    var checkboxes = [];
    $.each($('input[name=table_records]:checked'), function () {
      checkboxes.push($(this).val())
    })
    if (confirm('確定移除所選的標籤?')) {
      $.ajax({
        url: 'tag_manage.php',
        type: 'POST',
        dataType: 'json',
        data: {
          act: 'batch_drop',
          checkboxes: checkboxes
        },
        success: function (res) {
          if (res.error == '1') {
            alert(res.message)
          } else {
            alert(res.content);
            $('#tag').DataTable().draw();
          }
        }
      })
    }
  })

  var tag_list = [];
  {/literal}
  {foreach from=$tag_words_list item=tag_name}        
    tag_list.push({
      id: "{$tag_name}",
      text: "{$tag_name}",
      html: "<span>{$tag_name}</span>",
  
    }) 

  {/foreach}
  {literal}
  $("#tag_words").select2({
      width: 'resolve',
      matcher: modelMatcher,
      allowClear: true,
      placeholder: '請選擇',
      data: tag_list,
      escapeMarkup: function(markup) {
          return markup;
      },
      templateResult: function(data) {
          return data.html;
      },
  });
  // For select2 searching with optgroup
  function modelMatcher(e,t){if(t.parentText=t.parentText||"",""===$.trim(e.term))return t;if(t.children&&t.children.length>0){for(var r=$.extend(!0,{},t),n=t.children.length-1;n>=0;n--){var l=t.children[n];l.parentText+=t.parentText+" "+t.text,null==modelMatcher(e,l)&&r.children.splice(n,1)}return r.children.length>0?r:modelMatcher(e,r)}var a=(t.parentText+" "+t.text+(t.parent," "+t.parent)).toUpperCase(),h=e.term.toUpperCase();return a.indexOf(h)>-1?t:null}
  {/literal}
</script>

