<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<style>
    .finish_hide{
        margin-top: 5px;
    }
    div#list_info {
        box-sizing: border-box;
        padding: 10px;
        color: red;
    }
    #import_table .id, #import_table .country_code, #import_table .zip_code, #import_table .price{
        width: 5%;
        float: left;
    }
    #import_table .consignee, #import_table .phone, #import_table .sa_number {
        width: 10%;
        float: left;
    }
    #import_table .email {
        float: left;
        width: 15%;
    }
    #import_table .address {
        width: 20%;
        float: left;
    }
    #import_table .goods {
        width: 15%;
        float: left;
    }
    div#import_table {
        display: flow-root;
    }
    .loading{
        background: rgba(0, 0, 0, 0.26);
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        display: none;
    }
    .loading>div {
        width: 200px;
        padding: 10px;
        background: #EEF8F9;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 15px;
        text-align: center;
        margin: auto;
        position: absolute;
        border: 1px solid red;
    }
    .list_header>div {
        float: left;
        line-height: 24px;
        white-space: nowrap;
        text-align: center;
        border: 1px solid #eeeeee;
        border-bottom: 0px;
        border-top: 0px;
        min-width: 40px;
        box-sizing: border-box;
        padding: 5px 10px;
        background: rgba(52, 73, 94, 0.94);
        color: white;
    }
    .list_header, div#list_content, .order_row {
        min-width: 800px;
        float: left;
        width: 100%;
    }
    .list_header {
        width: calc(100% - 17px);
    }
    div#list_content{
        overflow-y: scroll;
        max-height: 601px;
        margin-bottom: 10px;
    }
    .list_header>div:first-child, .order_row>div:first-child {
        border-left: 0px;
    }
    .list_header>div:last-child, .order_row>div:last-child {
        border-right: 0px;
    }
    .list_header:after {
        content: "";
        width: 17px;
        height: 24px;
        position: absolute;
    }
    .order_row {
        display: flex;
        flex-direction: row;
    }
    .order_row:last-child {
        border-bottom: 1px solid #eeeeee;
    }
    .order_row>div{
        display: table-cell;
        border: 1px solid #eeeeee;
        border-bottom: 0px;
        min-width: 40px;
        box-sizing: border-box;
        padding: 5px;
        word-break: break-all;
        min-height: 50px;
    }
    .error {
        display:none;
    }
    .finish_show{
        display: none;
    }

</style>

{insert_scripts files="../js/utils.js"}
<div class=" x_panel">
    <form method="POST" role="form" class="form-horizontal form-label-left" id="upload_excel" enctype="multipart/form-data" >
        <legend>上傳目標資料</legend>
    
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">月份</label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <select class="form-control" data-noajax="1" name="year">
                    <option value="">{$lang.select_please}</option>
                    {foreach from=$year item=y}
                    <option value="{$y}"{if $data.year eq $y} selected{/if}>{$y}年</option>
                    {/foreach}
                </select>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <select class="form-control" data-all="all" name="month">
                    <option value="">{$lang.select_please}</option>
                    {foreach from=$month key=v item=m}
                    <option value="{$v}"{if $data.month eq $v} selected{/if}>{$m}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">部門</label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <select class="form-control" name="team_code" onChange="getExcelTemplate(this)">
                    <option data-href="" value="">{$lang.select_please}</option>
                    {foreach from=$team_list key=t_value item=t_label}
                    <option data-href="{$t_label.file}" value="{$t_value}" {if $data.team eq $t_value} selected {/if}>{$t_label.role_name}</option>
                    {/foreach}
                </select>

            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <a download style="display: none;" class="btn btn-default" href="" target="_blank" id="download_template"><i class="fa fa-download"></i> 下載範例</a>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">上傳</label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <input class="form-control" name="import_excel" class="file" type="file" accept=".xls,.xlsx">
            </div>
        </div>
        <div class="form-group">
            <div class="ln_solid"></div>
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" id="upload"/>
                <input type="hidden" name="act" value="import" />
            </div>
        </div>
    </form>
</div>
{literal}
<script language="JavaScript">
    $('select[name="team_code"]').trigger('change');
    function getExcelTemplate($this) {
        $href = $($this).find('option:selected').data('href');
        if($href) {
            $('#download_template').attr('href', $href);
            $('#download_template').show();
        } else {
            $('#download_template').hide();
        }
    }
</script>
{/literal}
{include file="pagefooter.htm"}