<!-- $Id: message_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
{include file="includes/datatables_header.htm"}
<script src="js/readmore.min.js"></script>
<style type="text/css">
.task_message {
    word-break: break-all;
    word-wrap: break-word;
    margin: 5px 0;
    /* width:300px !important; */
}
.contact_avatar_block {
    position: absolute;
    top: 2px;
    right: -4px;
}

.contact_avatar_item {
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.contact_avatar_item img {
    border: 1px #ddeef2 solid;
    border-radius: 50%;
}

.action_button {
    color: #666 !important;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none !important;
    /* display: block; */
    padding: 4px 5px;
    border: 1px solid #278296;
    border-right: 2px solid #278296;
    border-bottom: 2px solid #278296;
    width: 56px;
    background-color: #ddeef2;
}

.action_button.archive {
    background-color: #bbdde5;
}

.task_message_layer {
    width: 100%;
    z-index: 1;
    background: rgba(0,0,0,0) linear-gradient(to bottom,rgba(250,249,249,0) 0px,#fff 100%) repeat scroll 0 0;
    position: absolute;
    content: "";
    border: 0px red solid;
    height: inherit;
    cursor: pointer;
}

.task_message {
    position: relative;
}

.action_button_tag.read {
    width:60px;
    height:22px;
    border-radius: 16px;
    color: #666 !important;
    font-size: 10px;
    font-weight: 400;
    text-decoration: none !important;
    /* display: block; */
    padding: 0 5px;
    margin-top: 2px;
    border: 1px solid #278296;
    /*border-right: 2px solid #278296;
    border-bottom: 2px solid #278296;*/
    background-color: white;
    text-align: center;
}

.action_button_tag.read.more {
  display: none;
}

</style>
<div class=" x_panel">
  <div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form method="post" action="javascript:searchMessage()" name="theForm" class="form-inline col-md-7">
      {$lang.select_msg_type}:&nbsp;&nbsp;
      <select class="form-control" name="msg_type">
        {html_options options=$lang.message_type selected=$msg_type}
      </select>&nbsp;&nbsp;
      跟進人:&nbsp;&nbsp;
      <select class="form-control" name="pic">
        {foreach from=$salespeople item=opt}
        <option value="{$opt.value}">{$opt.name}</option>
        {/foreach}
      </select>&nbsp;&nbsp;
      狀態:&nbsp;&nbsp;
      <select class="form-control" name="status">
        <option>所有</option>
        {foreach from=$statuslist item=txt key=val}
        <option value="{$val}">{$txt}</option>
        {/foreach}
      </select>&nbsp;&nbsp;
      <!-- 優先: -->
      <!-- <input class="flat" type="checkbox" value="Low" checked name="priority[]" id="priority-1"/> <label for="priority-1">Backlog</label>
      <input class="flat" type="checkbox" value="Normal" checked  name="priority[]" id="priority-2"/> <label for="priority-2">Normal</label>
      <input class="flat" type="checkbox" value="High" checked name="priority[]" id="priority-3"/> <label for="priority-3">Highest</label> --> 
     
      <input type="submit" value="{$lang.button_submit}" class="form-btn btn btn-success"/>
    </form>
    <div class=" col-md-5 ">
     {foreach from=$contacts item=contact}
        <div class="contact_avatar_item pull-right">
        <a href="tasklist.php?act=send&amp;pic_user_id={$contact.receiver_id}" title="{$lang.send_msg}">
          <img src="{if empty($contact.avatar)}{insert name=avatar_url size=s id=$contact.receiver_id}{else}../{$contact.avatar}{/if}" style="width: 35px; height: 35px; vertical-align: middle;">         
          {$contact.pic}
        </a>
        </div>
     {/foreach}
    </div>
  </div>


<!-- start admin_task_list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
  <table class="table table-striped table-bordered" id="task">
    <thead>
      <tr class="headings">
        <th data-id="pic" data-key="task_id">負責人</th>
        <th data-id="title">{$lang.title}</th>
        <th data-id="message"style="min-width: 500px;">{$lang.message}</th>
        <th data-id="priority" data-value="priority_text">優先次序</th>
        <th data-id="dead_time">Dealine</th>
        <th data-id="estimated_time" data-value="estimated_time_text">預計時間</th>
        <th data-id="sender_name">指派人</th>
        <th data-id="status" data-value="status_text" style="min-width: 95px;">{$lang.status}</th>
        <th class="actionsCol" data-id="_action" style="min-width: 220px;" data-sort="0">{$lang.handler}</th>
      </tr>
    </thead>
    <tbody>
    </tbody>

  </table>
</div>
{include file="pagefooter.htm"}

<script type="text/javascript">
  var pic_options = {$salespeople|json_encode};
  var status_options = {$status_opts|json_encode};
  var priority_options = {$priority_opts|json_encode};
  var estimated_time_options = {$time_opts|json_encode};
</script>

<script type="text/javascript" language="JavaScript">
<!--
  yohoTable.deferLoading = "{$record_count}";
  yohoTable.dataSet = {$task_list|json_encode};
  yohoTable.drawCallback = function(setting) {
    initReadmore();
  };
  yohoTable.rowCallback = function(row, data, dataIndex){
    //$message = $(row).find('.message');
    //$div = $('<div class="task_message">');
    //$message.wrap($div);
    if(data.avatar == '' || data.avatar == null) {
      $avatar = '{insert name=avatar_url size=s id='+data.pic_user_id+'}';
    } else {
      $avatar = data.avatar;
      $(row).find('.pic').html('');
    }
    if(data.sender_avatar == '' || data.sender_avatar == null) {
      $sender_avatar = '{insert name=avatar_url size=s id='+data.sender_id+'}';
    } else {
      $sender_avatar = data.sender_avatar;
      $(row).find('.sender_name').html('');
    }
    $(row).find('.pic').prepend('<img title="'+data.pic+'" class="task_avatar" src="'+$avatar+'" width="40"><br>');
    $(row).find('.sender_name').prepend('<img title="'+data.sender_name+'" class="task_avatar" src="'+$sender_avatar+'" width="40"><br>');
    if(data.isunread) {
      $(row).find('.title').append('<span class="label label-success pull-right">New</span>');
    }
    //<span class="label label-success pull-right">Coming Soon</span>
  }
  var $table = yoho_dataTable();

  {literal}
  onload = function()
  {
    // 开始检查订单
    //initReadmore();
 
    // $(document).on("click",".task_message_layer",function() {
    //     $(this).closest('.task_message_td').find('.action_button_tag').trigger('click');
    // });

  }

  /* init readmore js */
  function initReadmore()
  {
    $('.message').readmore({
      speed: 50,
      collapsedHeight:70,
      lessLink: '<i class="fa fa-chevron-up"></i>',
      moreLink: '<i class="fa fa-chevron-down"></i>',
      afterToggle: function(trigger, element, expanded) {
        if(! expanded) { // The "Close" link was clicked
          //$(element).closest('.message').find('.task_message_layer').show();
          $('html, body').animate( { scrollTop: element.offset().top }, {duration: 100 } );
        }else{
          //$(element).closest('.message').find('.task_message_layer').hide();
        }
      }
    });
  }

  /**
   * 查询留言
   */
  function searchMessage()
  {
    var filter = [];
    var priority=[];
    var pElement=document.getElementsByName("priority[]");
    for(var i=0;i<pElement.length;i++)
      if(pElement[i].checked)
        priority.push(pElement[i].value);

    filter.msg_type = document.forms['theForm'].elements['msg_type'].value;
    filter.pic = document.forms['theForm'].elements['pic'].value;
    filter.status = document.forms['theForm'].elements['status'].value;
    filter.page = 1;
    filter.priority = priority;
    // Set dynamic parameters for the data table
    $('#task').data('dt_params', filter);
    // Redraw data table, causes data to be reloaded
    $('#task').DataTable().draw();


  }

  function oneClickFinish(task_id)
  {
    $.ajax({
      url: 'tasklist.php',
      type: 'post',
      cache: false,
      data: {
        'act': 'quick_insertlog',
        'id': task_id,
      },
      dataType: 'text',
      success: function (result) {
        // Reload the list
        console.log(result);
        //location.reload();
        $table.draw();
      },
      error: function (xhr) {
        $confirmBtn.prop('disabled', false);
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
  }

  function oneClickArchive(task_id)
  {
    $.ajax({
      url: 'tasklist.php',
      type: 'get',
      cache: false,
      data: {
        'act': 'remove',
        'id': task_id,
      },
      dataType: 'text',
      success: function (result) {
        // Reload the list
        //location.reload();
        $table.draw();
      },
      error: function (xhr) {
        $confirmBtn.prop('disabled', false);
        alert('伺服器繁忙，請稍後再試。(' + xhr.status + ')');
        console.log(xhr);
      }
    });
  }


  {/literal}
//-->
</script>