<!-- $Id: message_view.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="validator.js"}
<div class=" x_panel">
<table width="100%">
  <tr>
    <td>
    {$lang.sender_id}: {$task_arr.user_name}&nbsp;&nbsp;|&nbsp;&nbsp;{$lang.receiver_id}: {$task_arr.receiver_user_name}&nbsp;&nbsp;|&nbsp;&nbsp; {$lang.send_date}: {$task_arr.send_date}&nbsp;&nbsp;| &nbsp;&nbsp;{$lang.read_date}: {$task_arr.read_date}&nbsp;&nbsp;|&nbsp;&nbsp;{$lang.title}: {$task_arr.title}</td>
  </tr>
   <tr>
    <td> <hr /></td>
  </tr>
  <tr>
    <td><p>{$task_arr.message} </p></td>
  </tr>
  <tr>
    <td align="right">
      {if $task_arr.sender_id eq $smarty.session.admin_id}
      | <a href="tasklist.php?act=edit&id={$task_arr.task_id}">{$lang.edit}</a> | <input type="hidden" name="id" value="{$task_arr.task_id}">
      {/if}
    </td>
  </tr>
</table>
</div>

<div class=" x_panel">
  <div class="x_title"><h3>新增工作紀錄</h3></div>
  <form action="tasklist.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
    <table class="table table-striped table-bordered">
      <tr>
        <td>作者:</td>
        <td>{$smarty.session.admin_name}</td>
      </tr>
      <tr>
        <td>最新狀態:</td>
        <td>
        {if $canUpdateStatus eq true}
          {foreach from=$availableStatus key=key item=item}
            <input type="radio" class="flat" name="status" id="status-{$key}" value="{$key}" {if $task_arr.status eq $key} checked {/if} /> <label for="status-{$key}">{$item}</label>
          {/foreach}
        {else}
            不適用
            <input type="hidden" name="status" value="{$task_arr.status}" />
        {/if}
        
        </td>
      </tr>
      <tr>
        <td>備註:</td>
        <td>
          <textarea class="form-control" name="content" cols="40" rows="5"></textarea>
        </td>
      </tr>
      <tr>
        <td>說明:</td>
        <td style="color:grey">
          如要加入訂單連結,只需在訂單編號前加上「#」, 例如「#201704211330」<br>
          如要加入採購單連結,只需在採購單編號前加上「#PO」, 例如「#PO12345」<br>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="hidden" name="id" value="{$task_arr.task_id}" />
          <input type="hidden" name="act" value="insertlog"/>
          <input type="submit" value="提交" class="btn btn-primary">
        </td>
      </tr>
    </table>
  </form>
</div>
<div class=" x_panel" id="listDiv">
  <div class="x_title"><h3>工作紀錄一覽</h3></div>
  <div class="dashboard-widget-content">
    <ul class="list-unstyled timeline widget">
    {foreach from=$task_arr.log key=key item=item}
    <li>
      <div class="block">
          <div class="block_content">
              <h2 class="title">
                {$task_arr.statusList[$item.new_status]}
              </h2>
              <div class="byline">
                {$item.user_name} - <span>{$item.created_at}</span> 
              </div>
              <p class="excerpt">{$item.content|html|nl2br}
              </p>
          </div>
      </div>
    </li>
    {/foreach}
    </ul>
  </div>
</div>



<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
function validate()
{
    validator = new Validator("theForm");
    validator.required("content","必須填寫備註 (設為「已處理」及「封存」除外)");
    validator.required("status","請選擇工作狀態");
    return validator.passed();
}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
{/literal}
//-->
</script>

{include file="pagefooter.htm"}