<!-- $Id: message_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{insert_scripts files="validator.js"}
<style type="text/css">

.task_item{
    /* width: 20%; */
    display: inline-block;
    margin-right:5px;
    margin-bottom: 5px;
    color: #666 !important;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none !important;
    /* display: block; */
    padding: 5px;
    border: 1px solid #278296;
    border-right: 2px solid #278296;
    border-bottom: 2px solid #278296;
    width: auto;
    background-color: #ddeef2;
    cursor:pointer;
}

</style>

<div class=" x_panel">
<form class="form-horizontal form-label-left" action="tasklist.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
  {if $form_act eq "insert"}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">指派人<span class="required">*</span></label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $smarty.session.manage_cost || count($same_account_sales) <= 1}
      <input class="form-control" required="required" type="text" disabled="disabled" name="sender_name" value="{$smarty.session.admin_name}">
      {else}
      <select required="required" name="sender_name" >
      {foreach from=$same_account_sales item=salesperson}
      <option value="{$salesperson}">{$salesperson}</option>
      {/foreach}
      </select>
      {/if}
    </div>
  </div>
  {/if}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">負責人<span class="required">*</span></label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" required="required" name="pic" >
      <option value="">請選擇...</option>
      {foreach from=$salespeople item=salesperson}
      <option value="{$salesperson.user_id}"  {if $salesperson.user_name eq $task.pic || $salesperson.user_id eq $task.pic_user_id } selected="selected"{/if}>{$salesperson.user_name}</option>
      {/foreach}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">載入預設工作模版</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="task_template_block">
          {foreach from=$task_templates_used item=task_template_used}
            <div class="task_item" data-template-id="{$task_template_used.template_id}">{$task_template_used.title}</div>
          {foreachelse}
            你過去沒有使用工作模版記錄
          {/foreach}
        <br>
        <div style="margin-top:10px;">
        <select class="form-control" name="task_template_list" >
        <option value="">或從以下清單中選擇...</option>
        {foreach from=$task_templates item=task_template}
        <option value="{$task_template.template_id}">{$task_template.title}</option>
        {/foreach}
        </select>
        <input type="hidden" name="task_template_id" value="0"/>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">優先次序</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" name="priority" >
      {foreach from=$priority_options key=val item=str}
      <option value="{$val}"{if $val eq $task.priority} selected="selected"{/if}>{$str}</option>
      {/foreach}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Deadline</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="controls">
        <div class="input-prepend input-group">
          <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
          <input type="text" name="dead_date" data-type='date' id="dead_date" class="form-control" value="{$task.dead_date}" />
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">預計時間</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" name="estimated_time" >
      <option value="0">請選擇...</option>
      {foreach from=$estimated_time_options key=val item=str}
      <option value="{$val}"{if $val eq $task.estimated_time} selected="selected"{/if}>{$str}</option>
      {/foreach}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.title}<span class="required">*</span></label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input class="form-control" required="required" type="text" name="title" maxlength="50" value="{$task.title}" size="40" />
   </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.message}<span class="required">*</span></label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <textarea class="form-control" required="required" name="message" cols="55" rows="8">{$task.message}</textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">說明</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      如要加入訂單連結,只需在訂單編號前加上「#」, 例如「#201704211330」<br>
      如要加入採購單連結,只需在採購單編號前加上「#PO」, 例如「#PO12345」<br>
    </div>
  </div>
  <div class="form-group">
    <div class="ln_solid"></div>
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <input type="hidden" name="act" value="{$form_act}" />
      <input type="hidden" name="id" value="{$task.task_id}" />
      <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
      <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
    </div>
  </div>
</form>
</div>
<script language="JavaScript">
<!--
{literal}
document.forms['theForm'].elements['title'].focus();
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("pic",        pic_empty);
    validator.required("title",      title_empty);
    validator.required("message",    message_empty);
    return validator.passed();
}

onload = function()
{
    // 开始检查订单
    startCheckOrder();
    task_template.init();
}

var task_template = {};
task_template.init = function(){
  $('.task_item').click(function(e){
      var $target = $(this);
      var template_id = $target.data('template-id');
      task_template.auto_fill(template_id);
  });

  $("[name='task_template_list']").change(function(e){
      var template_id = $(this).val();
      task_template.auto_fill(template_id);
  });
};

task_template.auto_fill = function(template_id){
  /* get task template information */
  $.ajax({
    url: 'tasklist.php',
    type: 'get',
    cache: false,
    data: {
      'act': 'get_template_info',
      'template_id': template_id
    },
    dataType: 'json',
    success: function (result) {
      if (result.error)
      {
        alert(result.message);
      }
      else
      {
        var data = result.content;
        console.log(data);
        if (data.priority != '' && data.priority != null){
          $("[name='priority']").val(data.priority);
        }

        if (data.estimated_time != '' && data.estimated_time != null){
          $("[name='estimated_time']").val(data.estimated_time);
        }
        
        if (data.title != '' && data.title != null){
          $("[name='title']").val(data.title);
        }

        if (data.message != '' && data.message != null){
          $("[name='message']").val(data.message);
        }
      
        $("[name='task_template_id']").val(template_id);

      }
    }
  });
  
}

//-->
{/literal}
</script>
{include file="pagefooter.htm"}