{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
    <form class="form-horizontal form-label-left" method="post" name="theForm" enctype="multipart/form-data"
          id="goal_form">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group ajax-group" id="team">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">部門</label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <select class="form-control" onchange="" name="team_code">
                        <option value="">{$lang.select_please}</option>
                        {foreach from=$team_list key=t_value item=t_label}
                        <option value="{$t_value}">{$t_label.role_name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group" id="column" style="display: none;">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">自訂欄位</label>
                <div class="col-md-6 col-sm-9 col-xs-12 dynamic_fields" data-name="team_column" id="team_column">
                    {if !$team_column_list}
                    <div id="team_column_0">
                        <div class=" col-md-6 col-sm-6 col-xs-12 nopadding">
                            <div class="input-group">
                                <div class="input-group-addon">名稱</div>
                                <input class="form-control" type="text" name="column_name[]" value=""/>
                            </div>
                        </div>
                        <div class=" col-md-3 col-sm-3 col-xs-12 nopadding">
                            <div class="input-group">
                                <div class="input-group-addon">比重</div>
                                <input class="form-control" type="number" step="0.1" min="0" max="10"
                                       name="column_rate[]" size="30" maxlength="255" value=""/>
                                <div class="input-group-btn">
                                    <button class="btn btn-success" type="button" onclick="education_fields(this);">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-12 col-sm-12 col-xs-12 nopadding">
                            <div class="input-group col-md-3 col-sm-3">
                                <div class="input-group-addon">反向目標</div>
                                <select class="form-control" name="column_reverse[]" >
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
                            </div>
                            <span class="form-helper">當設定的目標少於當月的數值時為達標時, 請選是</span>
                        </div>
                    </div>
                    {/if}
                    {foreach from=$team_column_list item=info name="team_column_list_tab"}
                    <div id="team_column_{$smarty.foreach.team_column_list_tab.iteration}">
                        <div class=" col-md-6 col-sm-6 col-xs-12 nopadding">
                            <div class="input-group">
                                <div class="input-group-addon">名稱</div>
                                <input class="form-control" type="text" name="column_name[]"
                                       value="{$info.column_name}"/>
                            </div>
                        </div>
                        <div class=" col-md-3 col-sm-3 col-xs-12 nopadding">
                            <div class="input-group">
                                <div class="input-group-addon">比重</div>
                                <input class="form-control" type="number" step="0.1" min="0" max="10"
                                       name="column_rate[]" size="30" maxlength="255" value="{$info.column_rate}"/>
                                <div class="input-group-btn">
                                    {if $smarty.foreach.team_column_list_tab.iteration eq 1}
                                    <button class="btn btn-success" type="button" onclick="education_fields(this);">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                    {else}
                                    <button class="btn btn-danger" type="button"
                                            onclick="remove_education_fields(this, {$smarty.foreach.team_column_list_tab.iteration});">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                    </button>
                                    {/if}
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-12 col-sm-12 col-xs-12 nopadding">
                            <div class="input-group col-md-3 col-sm-3">
                                <div class="input-group-addon">反向目標</div>
                                <select class="form-control" name="column_reverse[]" >
                                    <option value="0" {if $info.is_reverse eq 0}selected{/if}>否</option>
                                    <option value="1" {if $info.is_reverse eq 1}selected{/if}>是</option>
                                </select>
                            </div>
                            <span class="form-helper">當設定的目標少於當月的數值時為達標時, 請選是</span>
                        </div>
                        <div class="clear"></div>
                        <div class="ln_solid"></div>
                    </div>
                    {/foreach}
                    <div class="education_fields">
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="form-group" id="submit-group">
                <div class="ln_solid"></div>
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <input type="hidden" class="btn btn-primary" name="act" value="update_columns"/>
                    <input type="submit" class="btn btn-primary" value="{$lang.button_submit}"/>
                    <input type="reset" class="btn btn-primary" value="{$lang.button_reset}"/>
                </div>
            </div>
        </div>
    </form>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="javascript">
    var team_array = '{$team_list|json_encode}';
    $('select[name=team_code]').on('change', function () {
        var $value = $(this).val();
        $.ajax({
            url: 'team_kpi.php',
            type: 'get',
            cache: false,
            data: {
                'act': 'get_team_columns',
                'team_code': $value
            },
            success: function (result) {
                $('#column').html($(result).find('#column').html());
                $('#column').show();
            }
        });
    });
</script>