{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
    <form class="form-horizontal form-label-left" method="post" name="theForm" enctype="multipart/form-data" id="goal_form">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group" id="date">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">日期</label>
                <div class="col-md-1 col-sm-3 col-xs-12">
                    <select class="form-control" data-noajax="1" name="year" onChange="clearMonth();">
                        <option value="">{$lang.select_please}</option>
                        {foreach from=$year item=y}
                        <option value="{$y}">{$y}年</option>
                        {/foreach}
                    </select>
                </div>
                <div class="col-md-1 col-sm-3 col-xs-12">
                    <select class="form-control" data-all="all" name="month">
                        <option value="">{$lang.select_please}</option>
                        <option value="1">一月</option>
                        <option value="2">二月</option>
                        <option value="3">三月</option>
                        <option value="4">四月</option>
                        <option value="5">五月</option>
                        <option value="6">六月</option>
                        <option value="7">七月</option>
                        <option value="8">八月</option>
                        <option value="9">九月</option>
                        <option value="10">十月</option>
                        <option value="11">十一月</option>
                        <option value="12">十二月</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="team_kpi" style="display: none;">
                {foreach from=$team_column_list item=column}
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$column.column_name}</label>
                    {if $type eq 'target'}
                    <div class=" col-md-2 col-sm-3 col-xs-12 nopadding">
                        <div class="input-group">
                            <div class="input-group-addon">目標</div>
                            <input class="form-control" type="text" name="kpi[{$column.column_id}][target]" size="20" maxlength="20" value="{$column.column_target}" />
                            <input class="form-control" type="hidden" name="kpi[{$column.column_id}][value]" size="30" maxlength="255" value="{$column.column_value}" />
                        </div>
                    </div>
                    {else}
                    <div class=" col-md-2 col-sm-3 col-xs-12 nopadding">
                        <div class="input-group">
                            <div class="input-group-addon">目標</div>
                            <input class="form-control" type="text" name="kpi[{$column.column_id}][target]" readonly size="20" maxlength="20" value="{$column.column_target}" />
                        </div>
                    </div>
                    <div class=" col-md-2 col-sm-3 col-xs-12 nopadding">
                        <div class="input-group">
                            <div class="input-group-addon">數值</div>
                            <input class="form-control" type="text" name="kpi[{$column.column_id}][value]" size="30" maxlength="255" value="{$column.column_value}" />
                        </div>
                    </div>
                    {/if}
                </div>
                {/foreach}
            </div>
            <div class="form-group" id="submit-group">
                <div class="ln_solid"></div>
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <input type="hidden" class="btn btn-primary" name="team" value="{$team}" />
                    <input type="hidden" class="btn btn-primary" name="type" value="{$type}" />
                    <input type="hidden" class="btn btn-primary" name="act" value="create_kpi" />
                    <input type="submit" class="btn btn-primary" value="{$lang.button_submit}" />
                    <input type="reset" class="btn btn-primary" value="{$lang.button_reset}" />
                </div>
            </div>
        </div>
    </form>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="javascript">
    $(function() {
        $('[name=year]').val('{$smarty.request.year}').trigger('change');
        $('[name=month]').val('{$smarty.request.month}').trigger('change');
    });
    function clearMonth() {
        $('[name=month]').val('').prop('selectedIndex',0);
        $('#team_kpi').hide();
    }
    $('select[name=month]').on('change', function(){
        $('#team_kpi').hide();
        if(!$('select[name=month]').val()) return;
        $.ajax({
            url: 'team_kpi.php',
            type: 'get',
            cache: false,
            data: {
                'act': 'ajaxAdd',
                'type': '{$type}',
                'team': '{$team}',
                'year': $('select[name=year]').val(),
                'month': $('select[name=month]').val()
            },
            success: function (result) {
                $('#team_kpi').html($(result).find('#team_kpi').html());
                $('#team_kpi').show();
            }
        });
    });
</script>