<div class="nav_menu">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-9 form-group top_search">
        <form action="order.php" name="grobalSearch" class="input-group">
          <select class="form-control" id="grobal_select_type">
            <option value="order">訂單</option>
            <option value="users">會員</option>
            <option value="goods">產品</option>
          </select>
          <input name="order_sn" type="text" size="15" class="form-control" placeholder="輸入訂單號" value="{$order_sn}">
          <!--input style="display:none;" name="keywords" type="text" id="user_keywords" size="15" value="" class="form-control" placeholder="輸入會員">
          <input style="display:none;" name="keyword" type="text" id="goods_keyword" size="15" value="" class="form-control" placeholder="輸入產品關鍵字"-->
          <input name="act" value="list" type="hidden">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">搜尋</button>
          </span>
        </form>
    </div>
    <ul id="top-right"class="nav navbar-nav navbar-right">
      <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <img src="{if empty($admin.avatar)}{insert name=avatar_url size=s id=$admin_id}{else}../{$admin.avatar}{/if}" alt="">{$admin_name}
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
          <li>
            <a href="privilege.php?act=modif"> {$lang.profile}</a>
          </li>
          <li>
            <a href="privilege.php?act=logout" target="_top">
              <i class="fa fa-sign-out pull-right"></i>{$lang.signout}</a>
          </li>
        </ul>
      </li>
      <li role="presentation" class="dropdown">
        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-envelope topbar_task"></i>
          <span class="badge bg-green" id="unfinished_taskes_count">{$unfinished_taskes_count}</span>
        </a>
        <ul id="unfinished_taskes" class="dropdown-menu list-unstyled msg_list" role="menu">
          {foreach from=$unfinished_taskes item=unread_task}
          <li id="ut-{$unread_task.task_id}">
            <a href="tasklist.php?act=view&id={$unread_task.task_id}">
              <span class="image"><img src="{if !empty($unread_task.avatar)}{$unread_task.avatar}{else}{insert name=avatar_url size=s id=$unread_task.pic_user_id}{/if}"  alt="Profile Image" /></span>
              <span>
                <span>{$unread_task.sender_name}</span>
                <span class="time">{$unread_task.send_date}</span>
              </span>
              <span class="message">
                {$unread_task.message|truncate:70:"..."}
              </span>
            </a>
          </li>
          {/foreach}
          <li>
            <div class="text-center">
              <a href="tasklist.php?act=list">
                <strong>查看所有工作</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </li>
        </ul>
      </li>
      {if $admin.role_id eq 0 or $admin.role_id eq 4 or $admin.role_id eq 3}
      <li class="">
        <a href="index.php?act=clear_cache">
          {$lang.clear_cache}
        </a>
      </li>
      {/if}
      <li class="">
        <a href="../" target="_blank">
          {$lang.preview}
        </a>
      </li>
      <li class="">
        <a href="../pos.php?mode=wholesale" target="_blank">
          批發
        </a>
      </li>
      <li class="">
        <a href="../pos.php?mode=sales-agent" target="_blank">
          代理銷售
        </a>
      </li>
      <li class="">
        <a href="../pos_new.php" target="_blank">
          POS系統
        </a>
      </li>
      <!--li class="">
        <a href="staff_purchase.php?act=list">
          員工價申請
        </a>
      </li-->
      <li class="">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          導航欄
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
          {foreach from=$nav_list item=item key=key}
          <li>
            <a href="{$key}">{$item}</a>
          </li>
          {/foreach}
        </ul>
      </li>
    </ul>
  </nav>
</div>