<!-- $Id: topic_edit.htm 16992 2010-01-19 08:45:49Z wangleisvn $ -->
{include file="pageheader.htm"}

{insert_scripts files="../js/utils.js,selectzone.js"}

{insert_scripts files="../yohohk/js/fix-orientation-0.0.2.min.js"}

{insert_scripts files="../yohohk/js/jquery.cropit.js"}
{insert_scripts files="../yohohk/js/cropit.howang.js"}
<link href="../yohohk/css/jquery.cropit.css" rel="stylesheet" type="text/css" />
<link href="css/multiselect.css" rel="stylesheet" type="text/css" />

{insert_scripts files="i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
<div class=" x_panel">
{if $warning}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
  </button>
  {$warning}
</div>
{/if}
<!-- start goods form -->

  <!-- tab bar -->
  <div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul class="nav nav-tabs bar_tabs" role="tablist">
      <li role="presentation" class="active" id="general-tab"><a href="#general-table"role="tab" data-toggle="tab" aria-expanded="true">{$lang.tab_general}</a></li>
      <li class="" id="goods-tab"><a href="#goods-table"role="tab" data-toggle="tab" aria-expanded="true">{$lang.tab_goods}</a></li>
      <li class="" id="desc-tab"><a href="#desc-table"role="tab" data-toggle="tab" aria-expanded="true">{$lang.tab_desc}</a></li>
    </ul>
  </div>
  <!-- tab body -->
  <form class="tab-content form-horizontal form-label-left"  action="topic.php" method="post" name="theForm" enctype="multipart/form-data">
    <!-- 通用信息 -->
    <div role="tabpanel" class="tab-pane fade active in" id="general-table" align="center">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.topic_title}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control"name="title" type="text" value="{$topic.title}" size="40" /></div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.topic_tag}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input class="form-control"name="tag" type="text" value="{$topic.tag}" size="40" placeholder="{$lang.topic_tag_remarks}"/>
          <span class="form-helper">
            <div class="promotion-tag">
              <div class="tag-box" style="background-color: #00acee;">優惠資訊：送$100超市禮券</div>
            </div>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">永久鏈結</label>
        <div class="col-md-6 col-sm-6 col-xs-12" id="perma_link"></div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lable_topic_keywords}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><textarea class="form-control" name="keywords" id="keywords" cols="40" rows="3">{$topic.keywords}</textarea></div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lable_topic_description}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><textarea class="form-control" name="description" id="description" cols="40" rows="5">{$topic.description}</textarea></div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">分類</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="dropdown pull-left">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownTypeList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              類別
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownTypeList">
              {foreach from=$topic_cat_list item=topic_cat}
              <li>
                <label class="multiselect">
                    {$topic_cat.topic_cat_name}
                    <input type="checkbox" name="topic_cats" value="{$topic_cat.topic_cat_id}" data-select="{if $topic_cat.selected}1{else}0{/if}" data-callback="updateCatIds()">
                    <span class="checkmark {if $topic_cat.selected}selected{/if}">
                      {if $topic_cat.selected}
                      <i class='fa fa-check'></i>
                      {/if}
                    </span>
                </label>
              </li>
              {/foreach}
            </ul>
          </div>
          <input type="hidden" name="topic_cat_id" value="{$topic.topic_cat_id}">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">重新導向</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control"name="redirection" type="text" value="{$topic.redirection}" size="40" /></div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lable_topic_type}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select class="form-control"  name="topic_type" id="topic_type" onchange="showMedia(this.value)">
            <option value='0'>{$lang.top_img}</option>
            <option value='1'>{$lang.top_flash}</option>
            <option value='2'>{$lang.top_html}</option>
          </select>
        </div>
      </div>
      <div id="content_01" class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
          {$lang.lable_upload}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input class="form-control" type='file' name='topic_img' id='topic_img' size='35' />
          <div style="margin-top: 5px;" class="input-group">
            <div class="input-group-addon">或</div>
            <input type="text"placeholder="{$lang.lable_from_web}" class="form-control col-md-6 col-xs-6" size="40" value="{$lang.lab_thumb_url}" style="color:#aaa;" onfocus="if (this.value == '{$lang.lab_thumb_url}'){this.value='http://';this.style.color='#000';}" name="goods_thumb_url"/>
          </div>
          <div class="form-helper" id="title_upload">{$width_height}
          </div>
        </div>
      </div>

      <div id="edit_img" class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">&nbsp;</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input class="form-control"type="text" name="img_url" id="img_url" value="{$topic.topic_img}" size="35" readonly="readonly"/>
        </div>
      </div>

      <div id="content_23" class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lable_content}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><textarea class="form-control" name="htmls" id="htmls" cols="50" rows="7">{$topic.htmls}</textarea></div>
      </div>

      <!-- title_pic is not used, so we hide it -->
      <div class="form-group" style="display: none;">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lable_title_upload}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control"type='file' name='title_pic' id='title_pic' size='35' />
        <span class="form-helper" id="title_pic_upload">{$title_width_height}</span></div>
      </div>
      <div class="form-group" style="display: none;">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lable_from_web}</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control"type="text" name="title_url" id="title_url" value="" size="35" /></div>
      </div>
      <div class="form-group" id="edit_title_img" style="display: none;">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">&nbsp;</label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control"type="text" name="title_img_url" id="title_img_url" value="{$topic.title_pic}" size="35" readonly="readonly"/></div>
      </div>
      <!-- end title_pic hiding -->
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">上傳列表圖示</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!--div class="cropit" data-origin='{if $topic.topic_id}/data/afficheimg/topic/{$topic.topic_id}.png{/if}' data-name="theme_pic" data-width="325" data-height="215"></div-->
          <input class="form-control"type='file' name='theme_pic' id='title_pic' size='35' />
          <!-- #BeginComment -->
          <input class="form-control"type='file' name='theme_pic' id='title_pic' size='35' />
          <!-- #EndComment -->
          <span class="form-helper">系統會自動將圖片縮放至325x215</span>
        </div>
      </div>
      
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">上傳產品頁圖示</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="cropit" data-origin='{if $topic.topic_id && $topic.has_theme_icon}/data/afficheimg/topic/{$topic.topic_id}_icon.png{/if}' data-name="theme_icon" data-width="32" data-height="32"></div>
          <span class="form-helper">系統會自動將圖片縮放至32x32</span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.lable_base_style}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="input-group colorpicker-group">
            <input type="text" class="form-control" name="base_style" id="base_style" value="{$topic.base_style||default:#fff}" size="20"/>
            <span class="input-group-addon"><i></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.cycle}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="controls">
            <div class="input-prepend input-group">
              <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i> 開始日期</span>
              <input type="text" name="start_time" data-type='date' id="start_time" class="form-control" value="{$topic.start_time}" />
            </div>
            <div class="input-prepend input-group">
              <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i> 完結日期</span>
              <input type="text" name="end_time" data-type='date' id="end_time" class="form-control" value="{$topic.end_time}" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 相關產品 -->
    <div role="tabpanel" class="tab-pane fade" id="goods-table" align="center">
      <div class="form-inline">
        <div class="form-group">
          <label class="control-label">{$lang.topic_class}</label>
          <select class="form-control" name="topic_class_list" id="topic_class_list" onchange="showTargetList()">
          </select>
          <input class="form-control" name="new_cat_name" type="text" id="new_cat_name" />
          <input name="create_class_btn" type="button" id="create_class_btn" value="{$lang.add}" class="form-btn btn btn-success" onclick="addClass()" />
          <input name="delete_class_btn" type="button" id="delete_class_btn" value="{$lang.remove}" class="form-btn btn btn-success" onclick="deleteClass()" />
        </div>
      <!--/div>
      <div class="form-inline"-->
        <div class="form-group">
          <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
          <select class="form-control" name="cat_id2">
            <option value="0">{$lang.all_category}</option>
            {$cat_list}
          </select>
          <select class="form-control" name="brand_id2">
            <option value="0">{$lang.all_brand}</option>
            {html_options options=$brand_list}
          </select>
          <input class="form-control" type="text" name="keyword2"/>
          <input name="button" type="button" class="form-btn btn btn-success" onclick="searchGoods('cat_id2', 'brand_id2', 'keyword2')" value="{$lang.button_search}" />
        </div>
      </div>
      <!-- 商品列表 -->
      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-64 sz_left">
          {$lang.all_goods}
          <div class="col-xs-12 btn-group">
            <input name="button" type="button" class="btn btn-default col-md-6 col-sm-6" onclick="addItem(document.getElementById('source_select'))" value="&gt;" />
            <input name="button" type="button" class="btn btn-default col-md-6 col-sm-6" onclick="addAllItem(document.getElementById('source_select'))" value="&gt;&gt;" />
          </div>
          <select class="form-control"  name="source_select" id="source_select" size="20" style="width:100%;height:300px;"  ondblclick="addItem(this)">
          </select>
        </div>
        {$lang.selected_goods}
        <div class="col-md-6 col-sm-6 col-xs-6 sz_right">
          <div class="col-xs-12 btn-group">
            <input name="button" type="button" class="btn btn-default col-md-6 col-sm-6" onclick="removeItem(document.getElementById('target_select'))" value="&lt;" />
            <input name="button" type="button" class="btn btn-default col-md-6 col-sm-6" value="&lt;&lt;" onclick="removeItem(document.getElementById('target_select'), true)" />
          </div>
          <select class="form-control"  name="target_select" id="target_select" size="20" style="width:100%;height:300px" multiple="multiple">
          </select>
          
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" class="flat" name="show_top_50" id="show_top_50" value="1" {if $topic.show_top_50}checked="checked"{/if} > 按產品排名顯示50件
              </label>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="desc-table" align="center">
      <div class="form-group">
        <label class="col-md-12 col-sm-12 col-xs-12">電腦版：</label>
        <div class="col-md-12 col-sm-12 col-xs-12"><textarea name="topic_intro" id="topic_intro" class="form-control tinymce">{$topic.intro|escape}</textarea></div>
      </div>
      <div class="form-group">
        <label class="col-md-12 col-sm-12 col-xs-12">手機版： (如果留空，手機上會顯示電腦版本)</label>
        <div class="col-md-12 col-sm-12 col-xs-12"><textarea name="topic_intro_mobile" id="topic_intro_mobile" class="form-control tinymce">{$topic.intro_mobile|escape}</textarea></div>
      </div>
    </div>
    <!--div role="tabpanel" class="tab-pane fade" id="advanced-table">
        <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.template_file}</div>
        <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control"name="topic_template_file" type="text" id="topic_template_file" value="{$topic.template}" size="40" />
        <span class="notice-span"  id="noticeTemplateFile">{$lang.notice_template_file}</span></div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.style_sheet}</div>
        <div class="col-md-6 col-sm-6 col-xs-12"><textarea name="topic_css" id="topic_css" cols="40" rows="5">{$topic.css}</textarea>
          <span class="notice-span"  id="noticeCss">{$lang.notice_css}</span>
          <div> <a href="javascript:chanageSize(3,'topic_css');">[+]</a> <a href="javascript:chanageSize(-3,'topic_css');">[-]</a> </div></div>
      </div>
    </div-->
    <div class="form-group">
      <div class="ln_solid"></div>
      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <input name="topic_data" type="hidden" id="topic_data" value='' />
        <input name="act" type="hidden" id="act" value='{$act}' />
        <input name="topic_id" type="hidden" id="topic_id" value='{$topic.topic_id}' />
        <input type="submit" name="Submit" value="{$lang.button_submit}" class="btn btn-primary" onclick="return checkForm()"/>
        <input type="reset" name="Reset" value="{$lang.button_reset}" class="btn btn-primary"/>
      </div>
    </div>
  </form>


</div>
{insert_scripts files="validator.js"}
<script type="Text/Javascript" language="JavaScript">
<!--
var data = {$topic.data};
var defaultClass = "{$lang.default_class}";
var myTopic = Object();
var status_code = "{$topic.topic_type}"; // 初始页面参数

onload = function()
{
  
  // 开始检查订单
  startCheckOrder();
  var classList = document.getElementById("topic_class_list");

  // 初始化表单项
  initialize_form(status_code);

  if (!data)
  {
    classList.innerHTML = "";
    myTopic['default'] = new Array();
    var newOpt    = document.createElement("OPTION");
    newOpt.value  = -1;
    newOpt.text   = defaultClass;
    classList.options.add(newOpt);
    return;
  }

  var counter = 0;
  for (var k in data)
  {
    if(typeof(myTopic[k]) != "function")
    {
      myTopic[k] = data[k];
      var newOpt    = document.createElement("OPTION");
      newOpt.value  = k == "default" ? -1 : counter;
      newOpt.text   = k == "default" ? defaultClass : k;
      classList.options.add(newOpt);
      counter++;
    }
  }
  showTargetList();
}

/**
 * 初始化表单项目
 */
function initialize_form(status_code)
{
  var nt = navigator_type();
  var display_yes =  'block';
  status_code = parseInt(status_code);
  status_code = status_code ? status_code : 0;
  document.getElementById('topic_type').options[status_code].selected = true;

  switch (status_code)
  {
    case 0 :
      document.getElementById('content_01').style.display = display_yes;
      document.getElementById('content_23').style.display = 'none';
			document.getElementById('title_upload').innerHTML = '{$width_height}';
			document.getElementById('edit_img').style.display = display_yes;
    break;
		
    case 1 :
      document.getElementById('content_01').style.display = display_yes;
      document.getElementById('content_23').style.display = 'none';
			document.getElementById('title_upload').innerHTML = '{$lang.tips_upload_notice}';
			document.getElementById('edit_img').style.display = display_yes;
    break;
		
    case 2 :
      document.getElementById('content_01').style.display = 'none';
      document.getElementById('content_23').style.display = display_yes;
			document.getElementById('edit_img').style.display = 'none';
    break;
  }

	{if $isadd eq 'isadd'}
	document.getElementById('edit_img').style.display = 'none';
	document.getElementById('edit_title_img').style.display = 'none';
	{/if}

  return true;
}

/**
 * 类型表单项切换
 */
function showMedia(code)
{
  var obj = document.getElementById('topic_type');

  initialize_form(code);
}

function checkForm()
{
  var validator = new Validator('theForm');
  validator.required('title', topic_name_empty);
  validator.required('start_time', start_time_empty);
  validator.required('end_time', end_time_empty);
  validator.islt('start_time', 'end_time', start_lt_end);

  document.getElementById("topic_data").value = JSON.stringify(myTopic);

  {if $act eq 'insert'}
  if (!$("input[name=perma_link]").data('pass')) {
    alert("設先設定永久鏈結")
    return false;
  } else if ($("input[name=perma_link_raw]").val() == "") {
    alert("設先重新整理")
    return false;
  }
  {/if}

  return validator.passed();
}

function chanageSize(num, id)
{
  var obj = document.getElementById(id);
  if (obj.tagName == "TEXTAREA")
  {
    var tmp = parseInt(obj.rows);
    tmp += num;
    if (tmp <= 0) return;
    obj.rows = tmp;
  }
}

function searchGoods(catId, brandId, keyword)
{
  var elements = document.forms['theForm'].elements;
  var filters = new Object;
  filters.cat_id = elements[catId].value;
  filters.brand_id = elements[brandId].value;
  filters.keyword = Utils.trim(elements[keyword].value);
  filters.is_on_sale = 1;
  Ajax.call("topic.php?act=get_goods_list", filters, function(result)
  {
    clearOptions("source_select");
    var obj = document.getElementById("source_select");
    for (var i=0; i < result.content.length; i++)
    {
      var opt   = document.createElement("OPTION");
      opt.value = result.content[i].value;
      opt.text  = result.content[i].text;
      opt.id    = result.content[i].data;
      obj.options.add(opt);
    }
  }, "GET", "JSON");
}

function clearOptions(id)
{
  var obj = document.getElementById(id);
  while(obj.options.length>0)
  {
    obj.remove(0);
  }
}

function addAllItem(sender)
{
  if(sender.options.length == 0) return false;
  for (var i = 0; i < sender.options.length; i++)
  {
    var opt = sender.options[i];
    addItem(null, opt.value, opt.text);
  }
}

function addItem(sender, value, text)
{
  var target_select = document.getElementById("target_select");
  var sortList = document.getElementById("topic_class_list");
  var newOpt   = document.createElement("OPTION");
  if (sender != null)
  {
    if(sender.options.length == 0) return false;
    var option = sender.options[sender.selectedIndex];
    newOpt.value = option.value;
    newOpt.text  = option.text;
  }
  else
  {
    newOpt.value = value;
    newOpt.text  = text;
  }
  if (targetItemExist(newOpt)) return false;
  if (target_select.length>=50)
  {
    alert(item_upper_limit);
  }
  target_select.options.add(newOpt);
  var key = sortList.options[sortList.selectedIndex].value == "-1" ? "default" : sortList.options[sortList.selectedIndex].text;
  
  if(!myTopic[key])
  {
    myTopic[key] = new Array();
  }
  myTopic[key].push(newOpt.text + "|" + newOpt.value);
}

// 商品是否存在
function targetItemExist(opt)
{
  var options = document.getElementById("target_select").options;
  for ( var i = 0; i < options.length; i++)
  {
    if(options[i].text == opt.text && options[i].value == opt.value)
    {
      return true;
    }
  }
  return false;
}

function addClass()
{
  var obj = document.getElementById("topic_class_list");
  var newClassName = document.getElementById("new_cat_name");
  var regExp = /^[a-zA-Z0-9]+$/;
  if (newClassName.value == ""){
    alert(sort_name_empty);
    return;
  }
  for(var i=0;i < obj.options.length; i++)
  {
    if(obj.options[i].text == newClassName.value)
    {
      alert(sort_name_exist);
      newClassName.focus();
      return;
    }
  }
  var className = document.getElementById("new_cat_name").value;
  document.getElementById("new_cat_name").value = "";
  var newOpt    = document.createElement("OPTION");
  newOpt.value  = obj.options.length;
  newOpt.text   = className;
  obj.options.add(newOpt);
  newOpt.selected = true;
  if ( obj.options[0].value == "-1")
  {
    if (myTopic["default"].length > 0)
      alert(move_item_confirm.replace("className",className));
    myTopic[className] = myTopic["default"];
    delete myTopic["default"];
    obj.remove(0);
  }
  else
  {
    myTopic[className] = new Array();
    clearOptions("target_select");
  }
}

function deleteClass()
{
  var classList = document.getElementById("topic_class_list");
  if (classList.value != "-1")
  {
    delete myTopic[classList.options[classList.selectedIndex].text];
    classList.remove(classList.selectedIndex);
    clearOptions("target_select");
  }
  if (classList.options.length < 1)
  {
    var newOpt    = document.createElement("OPTION");
    newOpt.value  = "-1";
    newOpt.text   = defaultClass;
    classList.options.add(newOpt);
    myTopic["default"] = new Array();
  }
}

function showTargetList()
{
  clearOptions("target_select");
  var obj = document.getElementById("topic_class_list");
  var index = obj.options[obj.selectedIndex].text;
  if (index == defaultClass)
  {
    index = "default";
  }
  var options = myTopic[index];
  
  for ( var i = 0; i < options.length; i++)
  {
    var newOpt    = document.createElement("OPTION");
    var arr = options[i].split('|');
    newOpt.value  = arr[1];
    newOpt.text   = arr[0];
    document.getElementById("target_select").options.add(newOpt);
  }
}

function removeItem(sender,isAll)
{
  var classList = document.getElementById("topic_class_list");
  var key = 'default';
  if (classList.value != "-1")
  {
    key = classList.options[classList.selectedIndex].text;
  }
  var arr = myTopic[key];
  if (!isAll)
  {
    var goodsName = sender.options[sender.selectedIndex].text;
    for (var j = 0; j < arr.length; j++)
    {
      if (arr[j].indexOf(goodsName) >= 0)
      {
          myTopic[key].splice(j,1);
      }
    }

    for (var i = 0; i < sender.options.length;)
    {
      if (sender.options[i].selected) {
        sender.remove(i);
        myTopic[key].splice(i, 0);
      }
      else
      {
        i++;
      }
    }
  }
  else
  {
    myTopic[key] = new Array();
    sender.innerHTML = "";
  }
}

/**
 * 判断当前浏览器类型
 */
function navigator_type()
{
  var type_name = '';

  if (navigator.userAgent.indexOf('MSIE') != -1)
  {
    type_name = 'IE'; // IE
  }
  else if(navigator.userAgent.indexOf('Firefox') != -1)
  {
    type_name = 'FF'; // FF
  }
  else if(navigator.userAgent.indexOf('Opera') != -1)
  {
    type_name = 'Opera'; // Opera
  }
  else if(navigator.userAgent.indexOf('Safari') != -1)
  {
    type_name = 'Safari'; // Safari
  }
  else if(navigator.userAgent.indexOf('Chrome') != -1)
  {
    type_name = 'Chrome'; // Chrome
  }

  return type_name;
}

// Multiple language support
var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};
var localizableFieldsMapping = {'intro': 'topic_intro', 'intro_mobile': 'topic_intro_mobile'};
$(function() {
  {if $act eq 'insert'}
    $("#perma_link").permaLink({
      table: 'topic',
      url: '/promotion/{id}-',
    });
  {else}
    $("#perma_link").permaLink({
      priv: '{if $edit_perma_link}1{else}0{/if}',
      table: 'topic',
      id: '{$topic.topic_id}',
      origin: {$localized_versions|json_encode},
      init: '{$topic.perma_link}',
      url: '/promotion/{$topic.topic_id}-',
    });
  {/if}
})
//-->

function updateCatIds () {
  var selected = [];
  $("input[name=topic_cats]").get().filter((v)=>$(v).data("select") == 1).map((v)=>selected.push($(v).val()));
  $("input[name=topic_cat_id]").val(selected.join(","))
}
</script>
{insert_scripts files="multiselect.js"}
{include file="pagefooter.htm"}
