<!-- $Id: topic_list.htm 14441 2008-04-18 03:09:11Z zhuwenyuan $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js,i18n.js"}
<form method="POST" action="" name="listForm">
<!-- start topic list -->
<div class=" x_panel">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

  <table id="#" class="table table-striped table-bordered bulk_action ">
    <tr>
      <th width="50"><a href="javascript:listTable.sort('topic_cat_id'); ">{$lang.record_id}</a>{$sort_topic_cat_id}</th>
      <th width=""><a href="javascript:listTable.sort('topic_cat_name'); ">分類名稱</a>{$sort_topic_cat_name}</th>
      <th width="180">{$lang.handler}</th>
    </tr>
    {foreach from=$topic_cat_list item=topic_cat}
    <tr>
      <td>{$topic_cat.topic_cat_id}</td>
      <td>{if $topic_cat.topic_cat_id gt 0}<span onclick="listTable.edit(this, 'edit_topic_cat_name', {$topic_cat.topic_cat_id})">{/if}{$topic_cat.topic_cat_name}{if $topic_cat.topic_cat_id gt 0}</span>{/if}</td>
      <td align="center">
        <a href="{$topic_cat.url}" title="{$lang.view}" target="_blank">{$lang.view}</a>
        {if $topic_cat.topic_cat_id gt 0}<a href="javascript:;" title="{$lang.drop}" onclick="listTable.remove({$topic_cat.topic_cat_id}, '你確定要刪除此分類嗎？', 'delete_cat');">{$lang.drop}</a>{/if}
      </td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="3">{$lang.no_records}</td></tr>
    {/foreach}
  </table>

  <table cellpadding="4" cellspacing="0">
    <tr>
      <td>&nbsp;</td>
      <td align="right">{include file="page.htm"}</td>
    </tr>
  </table>

{if $full_page}
</div>
<!-- end topic list -->
</form>
</div>
<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  listTable.query = 'query_cat';
  
  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  
  function getList()
  {
      listTable.filter['page'] = 1;
      listTable.loadList();
  }
  
  function create_topic_cat()
  {
    var topic_cat_name = prompt('請輸入新分類的名稱：');
    if (topic_cat_name === null) return;
    if (!topic_cat_name)
    {
      alert('錯誤：分類名稱不能留空');
      return;
    }
    
    function createTopicResponse(res)
		{
			if (res.error != 0)
			{
				alert(res.message);
			}
			else
      {
        getList();
			}
		}
    
		Ajax.call('topic.php?act=add_cat', 'topic_cat_name=' + topic_cat_name, createTopicResponse, 'POST', 'JSON');
  }
  
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}