<!-- $Id: topic_list.htm 14441 2008-04-18 03:09:11Z zhuwenyuan $ -->


{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,i18n.js"}
<div class=" x_panel">
<form method="POST" action="" name="listForm" onSubmit="$table.confirmBatch(this)">
<!-- start topic list -->
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <img src="images/empty.gif" style="display: none;" onload="window.topic_cat_list = {$topic_cat_list|json_encode|escape};this.parentNode.removeChild(this);" alt="Hack to run script in content loaded with innerHTML">
    <table id="#" class="table table-striped table-bordered bulk_action ">
      <thead>
        <tr class="headings">
          <th data-id="topic_id" data-key="topic_id">
            <input type="checkbox" id="check-all" class="flat">{$lang.record_id}</th>
          <th data-id="title" data-edit="true">{$lang.topic_title}</th>
          <th data-id="topic_cat_name">分類</th>
          <th data-id="start_time">{$lang.start_time}</th>
          <th data-id="end_time">{$lang.end_time}</th>
          <th class="actionsCol" data-id="_action"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <input type="submit" name="drop" id="btnSubmit" value="{$lang.drop}" class="btn btn-primary" />
    <input type="hidden" name="act" value="batch" />
  </div>
<!-- end topic list -->
</form>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
  
  var $table = yoho_dataTable();

</script>
