{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}

<div class="x_panel">
    <div class="x_title">
        <form class="form-inline">
            狀態：
            <input type="hidden" name="act" value="update_config">
            <input class="flat" type="radio" name="config" value="0"> 未開始
            <input class="flat" type="radio" name="config" value="1"> 進行中
            <input class="flat" type="radio" name="config" value="2"> 暫停
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            暫停通知：<input type="text" class="form-control" name="notice" value="{$notice}">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Coupon：<input type="text" class="form-control" name="promise" value="{$promise}">
            Coupon資料：<textarea class="form-control" name="detail">{$detail}</textarea>
            <input type="submit" class="btn btn-info" value="確定">
        </form>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
        <table class="table table-striped table-bordered bulk_action" id="#">
        <thead>
            <tr>
            <th data-id="treasure_id">編號</th>
            <th data-id="path">URL</th>
            <th data-id="open_time" data-value="opened" data-type="toggle">已開啟</th>
            <th data-id="coupon_id" data-value="coupon_code">優惠券號碼</th>
            <th data-id="start_time" data-value="start_date">開始時間</th>
            <th data-id="end_time" data-value="end_date">結束時間</th>
            </tr>
        </thead>
        </table>
    </div>
</div>

{include file="pagefooter.htm"}
<script>
    $("input[name=config][value={$status}]").prop("checked", true)
    yohoTable.lengthMenu = [200, 250, 500];
    $table = yoho_dataTable();
</script>