{include file="pageheader.htm"}

<div class="x_panel">
    <form method="POST" enctype="multipart/form-data">
        <label for="range">活動日期</label> <input class="form-control" type="text" id="range" name="range">
        <label for="import_excel">Excel</label> <input class="form-control" type="file" name="import_excel">
        <input type="hidden" name="act" value="upload">
        <input class="btn btn-success" type="submit" value="提交">
    </form>
</div>
{include file="pagefooter.htm"}
<script>
$('#range').daterangepicker({
    "timePicker": true,
    "timePickerSeconds": true,
    "timePicker24Hour": true,
    "locale": {
        "format": 'YYYY-MM-DD HH:mm:ss',
        "separator": " 至 ",
    }
}, function(start, end, label) {
  console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
});
</script>
