{include file="pageheader.htm"}
<div class="x_panel">
    <form class="form-inline" method="POST">
        <select name="search_type" class="form-control">
            <option value="any">隨機</option>
            <option value="cat_id">分類</option>
            <option value="brand_id">品牌</option>
            <option value="goods_name">產品名稱</option>
        </select>
        <input type="number" name="max" class="form-control" max="1000" placeholder="數量">
        <select name="search_value" class="form-control" id="cat_id">
            <option value="0">所有分類</option>{$cat_list}
        </select>
        <select name="search_value" class="form-control" id="brand_id">
            <option value="0">所有品牌</option>
            {html_options options=$brand_list}
            <option value="-1">沒有品牌</option>
        </select>
        <input type="text" name="search_value" class="form-control" id="goods_name">
        <input type="hidden" name="act" value="gen_goods_link">
        <input class="btn btn-info" type="submit" value="提交">
    </form>
    {if $goods_ids}
    <table class="table">
        <tr>
            <th>{$count}條紀錄</th>
        </tr>
        {foreach from=$goods_ids item=item}
        <tr>
            <td>/product/{$item}</td>
        </tr>
        {/foreach}
    </table>
    {/if}
</div>

{include file="pagefooter.htm"}
<script>
    $("[name=search_value]").prop("disabled", true).hide()
    $(document).on("change", "select[name=search_type]", function() {
        $("[name=search_value]").prop("disabled", true).hide()
        if($("select[name=search_type]").val() != "") {
            $("#" + $("select[name=search_type]").val()).prop("disabled", false).show();
        }
    })
</script>