{if $full_page}
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{/if}

<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1243_RC11/embed_loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="../js/utils.js"></script>

<style>
    table.trends{
        float: left;
        width: {$csssegment}%;
        text-align: center
    }
    .clear{
        clear: both;
    } 
    div.tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }
    div.tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 8px 16px;
        transition: 0.3s;
    }
    .tabcontent.active{
        display:block
    }
    div.tab button:hover {
        background-color: #ddd;
    }
    div.tab button.active {
        background-color: #ccc;
    }
    button.tablinks.year{
        background-color: #af5;
    }
    button.tablinks.year:hover{
        background-color: #8f0;
    }
    button.tablinks.year_n{
        background-color: #f66;
    }
    button.tablinks.year_n:hover{
        background-color: #f44;
    }
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    button.tablinks + button.tablinks,button.tablinks2 + button.tablinks2{
        border-left: 1px solid #ccc;
    }
    .tabTh{
        cursor: pointer;
    }
    .list-div{
        width: 98%
    }
    
    .ga_div th{
        line-height: unset;
        background: unset;
        white-space: unset;
    }

    .td_order{
        width: 400px;
    }

    .td_keyword{
        width: 700px;
    }

    .td_searchcount{
        width: 400px;
    }

    .ga-table td{
        background: inherit;
    }

</style>
<div style="display: none" id='view-selector'></div>
{if $res}
<div class="tab">
    <button id="x_t" class="tablinks2 active" onclick="openTabbar(event,'x')">Backend</button>
    <button id="ga_t" class="tablinks2" onclick="openTabbar(event,'ga')">Google Analysis</button>
</div>
<div id="ga_tb" class="tab tab2" style="display:none">
    <button class="tablinks" onclick="openTab(event,'ga')">GA 搜尋字詞</button>
    <button id="ga-keys" style="display:none" class="tablinks" onclick="openTab(event,'ga_keys')">GA 搜尋字詞趨勢</button>
</div>
{/if}
<div id="x_tb" class="tab tab2">
    {if $res}
    <button class="tablinks active" onclick="openTab(event,'brand')">品牌</button>
    <button class="tablinks" onclick="openTab(event,'cat')">分類</button>
    {/if}
    <button class="tablinks year{if !$byyears}_n{/if}" onclick="location.href = document.location.pathname + '?act=list&page={$page}&byyears={$nbyyears}&geo={$geo}{if $keys}{$url_keys}{/if}'">{if !$byyears}不{/if}按年比較</button>
    <button class="tablinks year{if !$geo}_n{/if}" onclick="location.href = document.location.pathname + '?act=list&page={$page}&byyears={$byyears}&geo={$ngeo}{if $keys}{$url_keys}{/if}'">{if !$geo}全球{else}香港{/if}</button>
    <div style="float:right">
        {if $prev_page neq -1}<button onclick="location.href = document.location.pathname + '?act=list&page={$prev_page}&byyears={$byyears}&geo={$geo}{if $keys}{$url_keys}{/if}'">上一頁</button>{/if}
        {if $next_page neq -1}<button onclick="location.href = document.location.pathname + '?act=list&page={$next_page}&byyears={$byyears}&geo={$geo}{if $keys}{$url_keys}{/if}'">下一頁</button>{/if}
    </div>
</div>
<br>
{if $res}
<div class="list-div tabcontent active" id="brand_div">
    {foreach from=$res item=row key=i}
    <table class="trends">
        <tr><th>{$row.name} (存貨: {$row.stock})</th></tr>
        <tr><td><script type="text/javascript">trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[
            {if !$byyears}
            {"keyword":"{$row.name}","geo":"{if $geo}HK{/if}","time":"{$lastday} {$today}"}
            {else}
            {"keyword":"{$row.name}","geo":"{if $geo}HK{/if}","time":"{$lastday3} {$today}"},{"keyword":"{$row.name}","geo":"{if $geo}HK{/if}","time":"{$lastday2} {$lastday3}"},{"keyword":"{$row.name}","geo":"{if $geo}HK{/if}","time":"{$lastday} {$lastday2}"}
            {/if}
            ],"category":0,"property":""}, {"exploreQuery":"date={$lastday} {$today}&q={$row.urlencode}","guestPath":"https://trends.google.com:443/trends/embed/"}); </script></td></tr>
    </table>
    {if $i % $segment eq 3}
    <div class="clear"><br></div>    
    {/if}
    {foreachelse}
    <table><tr><td class="no-records" colspan="11">{$lang.no_records}</td></tr></table>
    {/foreach}
    <div class="clear"></div>
</div>
<div class="list-div tabcontent" id="cat_div">
    {foreach from=$res2 item=row key=i}
    <table class="trends">
        <tr><th colspan="2">{$row.name} (存貨: {$row.stock})</th></tr>
        <tr><th class='tabTh' onclick="$('#time_{$row.id}').show();$('#query_{$row.id}').hide();">趨勢變化</th><th class='tabTh' onclick="$('#time_{$row.id}').hide();$('#query_{$row.id}').show();">相關搜尋</th></tr>
        <tr id="time_{$row.id}"><td colspan="2"><script type="text/javascript">trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[
            {if !$byyears}
            {"keyword":"{$row.name}","geo":"{if $geo}HK{/if}","time":"{$lastday} {$today}"}
            {else}
            {"keyword":"{$row.name}","geo":"{if $geo}HK{/if}","time":"{$lastday3} {$today}"},{"keyword":"{$row.name}","geo":"{if $geo}HK{/if}","time":"{$lastday2} {$lastday3}"},{"keyword":"{$row.name}","geo":"{if $geo}HK{/if}","time":"{$lastday} {$lastday2}"}
            {/if}
        ],"category":0,"property":""}, {"exploreQuery":"{$lastday} {$today}&q={$row.urlencode}","guestPath":"https://trends.google.com:443/trends/embed/"}); </script></td></tr>
        <tr style="display:none" id="query_{$row.id}"><td colspan="2"><script type="text/javascript">trends.embed.renderExploreWidget("RELATED_QUERIES", {"comparisonItem":[{"keyword":"{$row.name}","geo":"{if $geo}HK{/if}","time":"{$lastday} {$today}"}],"category":0,"property":""}, {"exploreQuery":"{$lastday} {$today}&q={$row.urlencode}","guestPath":"https://trends.google.com:443/trends/embed/"}); </script></td></tr>
    </table>
    {if $i % $segment eq 3}
    <div class="clear"><br></div>    
    {/if}
    {foreachelse}
    <table><tr><td class="no-records" colspan="11">{$lang.no_records}</td></tr></table>
    {/foreach}
    <div class="clear"></div>
</div>
{else}
<div class="list-div tabcontent active" id="keys_div">
    {foreach from=$keys item=row key=i}
    <table class="trends">
        <tr><th>{$row}</th></tr>
        <tr><td><script type="text/javascript">trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[
            {if !$byyears}
            {"keyword":"{$row}","geo":"{if $geo}HK{/if}","time":"{$lastday} {$today}"}
            {else}
            {"keyword":"{$row}","geo":"{if $geo}HK{/if}","time":"{$lastday3} {$today}"},{"keyword":"{$row}","geo":"{if $geo}HK{/if}","time":"{$lastday2} {$lastday3}"},{"keyword":"{$row}","geo":"{if $geo}HK{/if}","time":"{$lastday} {$lastday2}"}
            {/if}
            ],"category":0,"property":""}, {"exploreQuery":"date={$lastday} {$today}&q={$row}","guestPath":"https://trends.google.com:443/trends/embed/"}); </script></td></tr>
    </table>
    {if $i % $segment eq 3}
    <div class="clear"><br></div>    
    {/if}
    {foreachelse}
    <table><tr><td class="no-records" colspan="11">{$lang.no_records}</td></tr></table>
    {/foreach}
    <div class="clear"></div>
</div>
{/if}
<div class="list-div tabcontent col-md-12 col-sm-12 col-xs-12 table-responsive" id="ga_div">
    <div id="ga-msg" style="margin: 30px;">Retriving data from Google Analytics...</div>
</div>
<div class="list-div tabcontent" id="ga_keys_div">
</div>
<script>
(function(w,d,s,g,js,fjs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
  js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
}(window,document,'script'));

var ga_result = {
    'last1Year':[{}],
    'last2Year':[{}],
    'last3Year':[{}],
};
gapi.analytics.ready(function() {
    var ga_access_token = "{$access_token}";
    gapi.analytics.auth.authorize({
        container: 'auth-button',
        serverAuth: {
        'access_token': ga_access_token
        }
    });
    var viewSelector = new gapi.analytics.ViewSelector({
        container: 'view-selector'
    });

    setTimeout(function(){queryGA("ga:77620237",'last1Year',moment().add(-1, 'years').format('YYYY-MM-DD'),moment().add(-1, 'days').format('YYYY-MM-DD'))}, 6000);
    function queryGA(ids,curr,start,end){
        query({
            'ids': ids,
            'dimensions': 'ga:searchKeyword',
            'metrics': 'ga:searchUniques',
            'start-date': start,
            'end-date': end,
            'sort': '-ga:searchUniques',
            'include-empty-rows': false,
        }).then(function(response) {
            response.rows.map(function(v){
                var name = v[0].split('?')[0].toLowerCase().replace(/\+/g,' ')
                typeof ga_result[curr][0][name] !== 'undefined' 
                    ? ga_result[curr][0][name] += parseInt(v[1])
                    : ga_result[curr][0][name] = parseInt(v[1])
            });
            var sorts = [];
            for(var keyword in ga_result[curr][0]){
                sorts.push([keyword,ga_result[curr][0][keyword]])
            }
            var res = sorts.sort((a,b)=>b[1]-a[1]), table = "<table id='order' class='table table-bordered table-striped bulk_action ga-table trends'><tr><th colspan='3'>"+start.replace(/-/g,'/')+" - "+end.replace(/-/g,'/')+"</th></tr><tr><th data-id='order' data-value='order_info' data-sort='0' data-class='td_order' class='td_order'>排名</th><th data-id='keyword' data-value='keyword_info' data-sort='0' data-class='td_keyword' class='td_keyword'>關鍵字</th><th data-id='searchcount' data-value='searchcount_info' data-sort='0' data-class='td_searchcount' class='td_searchcount'>搜尋總數</th</tr>";
            res.map((v,i)=>i < 25 ? table+="<tr class='odd'><td>"+(i+1)+"</td><td>"+v[0]+"</td><td>"+v[1]+"</td></tr>" : true)
            ga_result[curr].push(table+"</table>")
            switch(curr){
                case 'last1Year':queryGA("ga:77620237",'last2Year',moment().add(-2, 'years').format('YYYY-MM-DD'),moment().add(-1, 'days').add(-1, 'years').format('YYYY-MM-DD'));sendAjax(res.filter((v,i)=>i < 25).map((v)=>v[0]));break;
                case 'last2Year':queryGA("ga:77620237",'last3Year',moment().add(-3, 'years').format('YYYY-MM-DD'),moment().add(-1, 'days').add(-2, 'years').format('YYYY-MM-DD'));break;
                case 'last3Year':handleData();break;      
            }
        });
    }
    function sendAjax(res){
        var keys = res.map((v)=>'keys[]='+v).join('&');
        $('#ga_keys_div').append("<iframe style='border:0;width:100%;height:950px;' src='" + document.location.pathname + "?act=list&"+keys+"'>")
    }
    function handleData(){
        for(var key in ga_result){
            $('#ga_div').append(ga_result[key][1])
        }
        $('#ga_div').append("<div class='clear'></div>");
        $('#ga-msg').hide();
        $('#ga-keys').show();
    }
    function query(params) {
        return new Promise(function(resolve, reject) {
        var data = new gapi.analytics.report.Data({query: params});
        data.once('success', function(response) { resolve(response); })
            .once('error', function(response) { reject(response); })
            .execute();
        });
    }
});
function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    console.log(tabName + "_div");
    document.getElementById(tabName + "_div").style.display = "block";
    evt.currentTarget.className += " active";
}
function openTabbar(evt, tabbarName){
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tab2");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks2");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabbarName + "_tb").style.display = "block";
    evt.currentTarget.className += " active";
    $('#' + tabbarName + '_tb .tablinks')[0].click();
}
</script>

{if $full_page}
{include file="pagefooter.htm"}
{/if}