{include file="pageheader.htm"}
<style>
table#balance {
    color: black;
    width: 50%;
}
table#balance thead th, table#balance tfoot th {
    padding: 5px;
    font-size: 16px;
    text-align: center;
}
table#balance tr td {
    padding: 3px;
    font-size: 14px;
}
table#balance, table#balance thead, table#balance tfoot {
    border: 2px solid;
    text-align: center;
}
table#balance tr td:nth-child(n+1), table#balance tr th:nth-child(n+1) {
    border-left: 2px solid;
}
table#balance tbody tr td {
    display: none;
    background: #adadad;
}
table#balance tbody tr.level_2 td {
    background: #d6d6d6;
}
table#balance tbody tr.source td {
    display: table-cell;
    background: white;
}
table#balance tbody tr td:nth-child(2) {
    text-align: left;
    font-weight: 800;
}
table#balance tbody tr.level_2:not(.source) td:nth-child(2) {
    padding-left: 10%;
    font-weight: 600;
}
table#balance tbody tr.source td:nth-child(2) {
    padding-left: 20%;
    font-weight: 400;
}
</style>
<div class=" x_panel">
    <form action="#" class="form-inline" name="trialBalanceWithRange">
        <div class="input-group" style="width: 300px;">
            <input class="form-control" type="text" name="start_date" data-type="date" placeholder="開始日期" {if $start_date}value="{$start_date}"{/if}>
            <span class="input-group-addon">至</span>
            <input class="form-control" type="text" name="end_date" data-type="date" placeholder="結束日期" {if $end_date}value="{$end_date}"{/if}>
        </div>
        <input type="submit" class="btn btn-info">
        <input name="act" value="list" hidden>
    </form>
    <table id="balance">
        <thead>
            <tr>
                <th data-id="actg_type_code" data-value="actg_type_code">Code</th>
                <th data-id="actg_type_id" data-value="actg_type_name">Account</th>
                <th data-id="exchanged_amount" data-value="debit">Debit</th>
                <th data-id="exchanged_amount" data-value="credit">Credit</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$balance item=type}
            <tr class="{if $type.source}source{/if} level_{$type.level}">
                <td>{$type.actg_type_code}</td>
                <td>{$type.actg_type_name}</td>
                <td data-s="{$type.source_debit}" data-a="{$type.debit}">{if $type.source_debit}{$type.source_debit}{else}{$type.debit|default}{/if}</td>
                <td data-s="{$type.source_credit}" data-a="{$type.credit}">{if $type.source_credit}{$type.source_credit}{else}{$type.credit|default}{/if}</td>
            </tr>
            {foreach from=$type.children item=child}
            <tr class="{if $child.source}source{/if} level_{$child.level}">
                <td>{$child.actg_type_code}</td>
                <td>{$child.actg_type_name}</td>
                <td data-s="{$child.source_debit}" data-a="{$child.debit}">{if $child.source_debit}{$child.source_debit}{else}{$child.debit|default}{/if}</td>
                <td data-s="{$child.source_credit}" data-a="{$child.credit}">{if $child.source_credit}{$child.source_credit}{else}{$child.credit|default}{/if}</td>
            </tr>
            {foreach from=$child.children item=grand}
            <tr class="{if $grand.source}source{/if} level_{$grand.level}">
                <td>{$grand.actg_type_code}</td>
                <td>{$grand.actg_type_name}</td>
                <td data-s="{$grand.source_debit}" data-a="{$grand.debit}">{if $grand.source_debit}{$grand.source_debit}{else}{$grand.debit|default}{/if}</td>
                <td data-s="{$grand.source_credit}" data-a="{$grand.credit}">{if $grand.source_credit}{$grand.source_credit}{else}{$grand.credit|default}{/if}</td>
            </tr>
            {/foreach}
            {/foreach}
            {/foreach}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <th>Total</th>
                <td id="debit_total"></td>
                <td id="credit_total"></td>
            </tr>
        </tfoot>
    </table>
</div>
<script>
function updateTotal() {
    let debit = 0;
    let credit = 0;
    $.each($('tbody tr td:nth-last-child(2):visible'), function(i, elem) {
        if ($(elem).text() != "") {
            debit += parseFloat($(elem).text())
        }
    })
    $.each($('tbody tr td:nth-last-child(1):visible'), function(i, elem) {
        if ($(elem).text() != "") {
            credit += parseFloat($(elem).text())
        }
    })
    $("#debit_total").text(debit.toFixed(2))
    $("#credit_total").text(credit.toFixed(2))
}
function toggleParent() {
    $("tbody tr:not(.source) td").toggle();
}
($(function(){
    updateTotal();
    toggleParent();
}))
</script>
{include file="pagefooter.htm"}