<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="javascript:getList()" class="form-inline" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    {$lang.start_date}&nbsp;
    <input name="from_date" type="text" id="from_date" size="15" value='{$from_date}' data-type="date" class="form-control" />&nbsp;&nbsp;
    將會在&nbsp;
    <input type="text" name="days" id="days" value="{$days}" size="5" style="text-align: center;">
    天內生日的會員&nbsp;&nbsp;
    <input type="submit" value="{$lang.button_search}" class="btn btn-primary" />
  </form>
</div>

<form method="POST" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
  <table class="table table-striped table-bordered bulk_action">
     <tr>
      <th><a href="javascript:listTable.sort('user_name'); ">會員</a>{$sort_user_name}</th>
      <th><a href="javascript:listTable.sort('birthday'); ">生日日期</a>{$sort_birthday}</th>
      <th><a href="javascript:listTable.sort('days_to_birthday'); ">距離生日天數</a>{$sort_days_to_birthday}</th>
      <th>Wish List</th>
    </tr>
  {foreach from=$users_list item=list}
    <tr align="center">
      
      <td><a href="users.php?act=list&amp;keywords={$list.user_name}" title="{$list.user_name}">{$list.display_name}</a></td>
      <td>{$list.birthday}</td>
      <td>{$list.days_to_birthday}</a></td>
      <td>
        {foreach from=$list.wish_list item=goods name=foo}
        {if !$smarty.foreach.foo.first},{/if}
        <a href="/goods.php?id={$goods.goods_id}">{$goods.goods_name}</a>
        {foreachelse}
        N/A
        {/foreach}
      </td>
    </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
  <table id="page-table" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
  </table>
{if $full_page}
</div>
</form>
</div>
<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  getDownUrl();
}

function getList()
{
  listTable.filter['from_date'] = document.forms['searchForm'].elements['from_date'].value;
  listTable.filter['days'] = document.forms['searchForm'].elements['days'].value;
  listTable.filter['page'] = 1;
  listTable.loadList();
  getDownUrl();
}

function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
  for (var i = 0; i < aTags.length; i++)
  { 
    if (aTags[i].href.indexOf('download') >= 0)
    {
      listTable.filter['from_date'] = document.forms['searchForm'].elements['from_date'].value;
      listTable.filter['days'] = document.forms['searchForm'].elements['days'].value;
      aTags[i].href = "upcoming_birthdays.php?act=download&from_date=" + encodeURIComponent(listTable.filter['from_date']) + "&days=" + encodeURIComponent(listTable.filter['days']);
    }
  }
}

//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}