{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
    <div class="form-div col-md-12 col-sm-12 col-xs-12">
        <form action="javascript:filterProgram()">
            <label>特殊會員計劃</label>
            <select name="program_id">
                <option value="">{$lang.select_please}</option>
                {foreach from=$validate_ranks item=program}
                <option value="{$program.program_id}">{$program.program_name}</option>
                {/foreach}
            </select>
            <button type="submit" class="btn btn-primary">{$lang.button_submit}</button>
        </form>
    </div>
    <div class="col-md-12">
        <table id="validate_list" class="table table-striped table-bordered bulk_action">
            <thead>
                <tr>
                    <th data-id="rec_id" data-key="rec_id">編號</th>
                    <th data-id="user_name">用戶</th>
                    <th data-id="verify_mail">申請電郵</th>
                    <th data-id="program_name">申請計劃</th>
                    <th data-id="rank_name">特殊等級</th>
                    <th data-id="create_at">申請日期</th>
                    <th data-id="verified" data-type="toggle">已驗證</th>
                    <th data-id="formatted_stage">申請狀態</th>
                    <th class="actionsCol" data-id="_action" width="150" data-sort="0">{$lang.handler}</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{include file="pagefooter.htm"}
<script>
var $validateTable = yoho_dataTable();
function filterProgram() {
    $filter = [];
    $filter["program_id"] = $("select[name=program_id]").val();
    $('#validate_list').data('dt_params', $filter);
    $('#validate_list').DataTable().draw();
}
</script>