{include file="pageheader.htm"}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<div class="x_panel">
    <div class="tab-content form-horizontal form-label-left">
        <form>
            <input name="act" type="hidden" value="update">
            <input name="rec_id" type="hidden" value="{$record.rec_id}">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">用戶</label></div>
                <div class="col-md-3 col-sm-6 col-xs-12">{$record.user_name}</div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">申請計劃</label></div>
                <div class="col-md-3 col-sm-6 col-xs-12">{$record.program_name}</div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">申請等級</label></div>
                <div class="col-md-3 col-sm-6 col-xs-12">{$record.rank_name}</div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">申請日期</label></div>
                <div class="col-md-3 col-sm-6 col-xs-12">{$record.create_at}</div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">證明文件</label></div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div id="image_container"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">有效日期</label></div>
                <div class="col-md-3 col-sm-6 col-xs-12">{if $action eq 'view'}{$record.foramtted_expiry}{else}<input
                        class="form-control" name="expiry" type="text" data-type="date" value="{$record.expiry}">{/if}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">校院/公司</label>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <select class="form-control" name="organization_id" {if $record.unique_id}disabled{/if}>
                        <option value="0">{$lang.select_please}</option>
                        {foreach from=$selected_organization_list item=organization key=key}
                            <option value="{$organization.organization_id}" {if $organization.organization_id eq $record.organization_id}selected{/if}>{$organization.organization_name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group" id="feedback">
                {if $action neq 'approve'}
                    <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">證件ID</label></div>
                    <div class="col-md-3 col-sm-6 col-xs-12">{$record.unique_id}</div>
                {else}
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">證件ID</label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control col-md-6 col-xs-6" name="unique_id"
                                   value="{$record.unique_id}" size="10" data-pid="{$record.program_id}"
                                   data-uid="{$record.user_id}" aria-describedby="verifyStatus" {if $record.unique_id}disabled{/if}>
                            <span class="input-group-btn">
                            <input type="button" class="btn btn-info" value="驗證" id="verify">
                        </span>
                        </div>
                        <span id="verifyStatus" class="help-block"></span>
                    </div>
                {/if}
            </div>
            <div class="form-group">
                {if $action neq 'approve'}
                    <div class="col-md-3 col-sm-3 col-xs-12"><label class="pull-right">狀態</label></div>
                    <div class="col-md-3 col-sm-6 col-xs-12">{$lang.formatted_apllication_status[$record.stage]}</div>
                {else}
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">操作</label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <select name="stage">
                            {foreach from=$lang.apllication_status item=item key=key}
                                <option value="{$key}" {if $key eq $record.stage}selected{/if}>{$item}</option>
                            {/foreach}
                        </select>
                    </div>
                {/if}
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12"></div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    {if $action neq 'view'}
                        <input type="submit" class="btn btn-primary" value="{$lang.button_submit}">
                    {/if}
                    <input id="cancel" type="button" class="btn btn-danger"
                           value="{if $action neq 'view'}{$lang.cancel}{else}返回{/if}">
                </div>
            </div>
        </form>
    </div>
</div>
{include file="pagefooter.htm"}
<script>
	var a = "";
	$(function () {
		var cipherText = "{$record.file|default:no_file_exist}";
		var cryptKey = CryptoJS.enc.Hex.parse("{$record.key}");
		if (cipherText != "no_file_exist") {
			var dataUri = CryptoJS.AES.decrypt({
				ciphertext: CryptoJS.enc.Base64.parse(cipherText)
			}, cryptKey, {
				iv: CryptoJS.enc.Hex.parse("{$record.proof}"),
				mode: CryptoJS.mode.CBC,
				padding: CryptoJS.pad.Pkcs7
			}).toString(CryptoJS.enc.Utf8)
			$("#image_container").append("<img id='decodedImage' src='" + dataUri + "'>");
		}
	})
	$(document).on("input", "input[name=unique_id]", function () {
		$("#feedback").removeClass("has-error");
		$("#verifyStatus").html("")
	})
	$(document).on("click", "#verify", function () {
		if($("select[name=organization_id]").val() == 0) {
			alert('請選擇校院/公司');
			return;
		}
		if ($("input[name=unique_id]").val() != "" && $("select[name=organization_id]").val() > 0) {
			$.ajax({
				url: 'user_rank_validate.php',
				dataType: 'json',
				data: {
					act: 'verify',
					id: $("input[name=unique_id]").val(),
					uid: $("input[name=unique_id]").data('uid'),
					pid: $("input[name=unique_id]").data('pid'),
					oid: $("select[name=organization_id]").val(),
				},
				success: function (res) {
					if (res.error == 1) {
						if (!$("#feedback").hasClass("has-error")) {
							$("#feedback").addClass("has-error");
						}
						$("#verifyStatus").html("已存在此ID")
					} else {
						$("input[name=unique_id], #verify").prop("disabled", true);
						$("select[name=organization_id], #verify").prop("disabled", true);
						$("#feedback").addClass("has-success").removeClass("has-error");
						$("#verifyStatus").html("已成功驗證")
					}
				}
			})
		}
	});
	$(document).on("click", "#cancel", function () {
		location.href = "user_rank_validate.php?act=list";
	})
</script>
<style>
    #decodedImage {
        max-width: 250px;
        max-height: 250px;
    }

    #decodedImage:hover {
        max-width: 100%;
        max-height: 100%;
    }
</style>