<!-- $Id: user_rank.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

{include file="includes/datatables_header.htm"}
<div class=" x_panel">
    <!-- start ads list -->
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table cellspacing='1' id="list-table" class="table table-striped table-bordered bulk_action">
      <thead>
        <tr>
          <th data-id="rank_name"  data-key="rank_id">{$lang.rank_name}</th>
          <th data-id="min_points" >{$lang.integral_min}</th>
          <th data-id="max_points" >{$lang.integral_max}</th>
          <th data-id="discount" >{$lang.discount}(%)</th>
          <th data-id="special_rank" data-type="toggle">{$lang.special_rank}</th>
          <!--th>{$lang.show_price_short}</th-->
          <th class="actionsCol" data-id="_action" width="150" data-sort="0">{$lang.handler}</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
{include file="pagefooter.htm"}
<script>
yohoTable.rowCallback = function( row, data, dataIndex ) {
  if(data.special_rank == 1) {
    $(row).find("span[data-source=max_points]").removeClass("cellEdit_text");
    $(row).find("span[data-source=min_points]").removeClass("cellEdit_text");
  }
};
var $rankTable = yoho_dataTable();
</script>