<!-- $Id: user_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->
{include file="pageheader.htm"}
<div class=" x_panel">
<form method="post" action="users.php" name="theForm" onsubmit="return validate()" class="tab-content form-horizontal form-label-left">
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.username}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {if $form_action eq "update"}
      {$user.user_name}
      <input type="hidden" name="username" value="{$user.user_name}" />
      [<a href="javascript:;" onclick="javascript:edit_user_name()"> 編輯 </a>]
      {else}
      <input type="text" class="form-control"  name="username" maxlength="60" value="{if $is_wholesale}+852-{else}{$user.user_name}{/if}" />
      {/if}
    </div>
  </div>
  {if $form_action eq "update"}
  <!-- <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.user_money}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12">{$user.formated_user_money} <a href="account_log.php?act=list&user_id={$user.user_id}&account_type=user_money">[ {$lang.view_detail_account} ]</a> </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.frozen_money}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12">{$user.formated_frozen_money} <a href="account_log.php?act=list&user_id={$user.user_id}&account_type=frozen_money">[ {$lang.view_detail_account} ]</a> </div>
  </div> -->
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.rank_points}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12">{$user.rank_points} <a href="account_log.php?act=list&user_id={$user.user_id}&account_type=rank_points">[ {$lang.view_detail_account} ]</a> <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeRankPoints">{$lang.notice_rank_points}</span></div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.pay_points}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12">{$user.pay_points} <a href="account_log.php?act=list&user_id={$user.user_id}&account_type=pay_points">[ {$lang.view_detail_account} ]</a> <br />
        <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticePayPoints">{$lang.notice_pay_points}</span></div>
  </div>
  {/if}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.email}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" require class="form-control" require name="email" maxlength="60" size="40" value="{$user.email}" /></div>
  </div>
  {if $form_action eq "insert"}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.password}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control" require type="password" name="password" maxlength="20" size="20" {if $is_wholesale}value="yohohonngkong"{/if} /></div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.confirm_password}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control" require type="password" name="confirm_password" maxlength="20" size="20" {if $is_wholesale}value="yohohonngkong"{/if} /></div>
  </div>
  {elseif  $form_action eq "update"}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.newpass}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control" require type="password" name="password" maxlength="20" size="20" /></div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.confirm_password}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control" require type="password" name="confirm_password" maxlength="20" size="20" /></div>
  </div>
  {/if}
  <div class="form-group" style="display:none;">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.user_rank}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="form-control" name="user_rank">
        <option value="0">{$lang.not_special_rank}</option>
        {html_options options=$special_ranks selected=$user.user_rank}
      </select>
    </div>
  </div>
  <div class="form-group" {if !$wholesale_user_manage}style="display:none;"{/if}>
    <label class="control-label col-md-3 col-sm-3 col-xs-12">批發會員:</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="checkbox" name="is_wholesale" class="flat" id="is_wholesale" value="1" {if $user.is_wholesale eq true || $is_wholesale} checked {/if} /></label>
    </div>
  </div>
  {if !$is_wholesale}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.gender}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
    {foreach from=$lang.sex item=s_radio}
    <input class="flat" name="sex" type="radio" value="{$s_radio}" {if $user.sex eq s_radio}checked="checked"{/if}/>{$s_radio}
    {/foreach}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.birthday}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><input class="form-control" type="text" value="{$user.birthday}" name="birthday" data-type="date"></div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.credit_line}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><input name="credit_line" type="text" class="form-control"  id="credit_line" value="{$user.credit_line}" size="10" /></div>
  </div>
  {foreach from=$extend_info_list item=field}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$field.reg_field_name}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
    <input name="extend_field{$field.id}" type="text" class="form-control"  size="40" class="inputBg" value="{$field.content}"/>
    </div>
  </div>
  {/foreach}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.is_fraud}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><input name="is_fraud" type="checkbox" class="flat"  id="is_fraud" value="1" {if $user.is_fraud}checked{/if} /></div>
  </div>
  {if $user.parent_id}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.parent_user}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12"><a href="users.php?act=edit&id={$user.parent_id}">{$user.parent_username}</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="users.php?act=remove_parent&id={$user.user_id}">{$lang.parent_remove}</a></div>
  </div>
  {/if}
  {/if}
  {if $affiliate.on eq 1 && $affdb}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">{$lang.affiliate_user}:</label>
    <div class="col-md-6 col-sm-6 col-xs-12">[<a href="users.php?act=aff_list&auid={$user.user_id}">{$lang.show_affiliate_users}</a>][<a href="affiliate_ck.php?act=list&auid={$user.user_id}">{$lang.show_affiliate_orders}</a>]</div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
    <table border="0" cellspacing="1" style="background: #dddddd; width:30%;">
      <tr>
        <td bgcolor="#ffffff">{$lang.affiliate_lever}</td>
        {foreach from=$affdb key=level item=val0}
        <td bgcolor="#ffffff">{$level}</td>
        {/foreach}
        </tr>
        <tr>
        <td bgcolor="#ffffff">{$lang.affiliate_num}</td>
        {foreach from=$affdb item=val}
        <td bgcolor="#ffffff">{$val.num}</td>
        {/foreach}
      </tr>
    </table>
    </div>
  </div>
  {/if}
  <div class="form-group">
    <div class="ln_solid"></div>
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      {if $is_wholesale}
      <input type="hidden" name="return_ws" value="1" />
      {/if}
      <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
      <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="id" value="{$user.user_id}" />    </div>
  </div>


</form>
</div>

{insert_scripts files="../js/utils.js,validator.js"}

<script language="JavaScript">
<!--

if (document.forms['theForm'].elements['act'].value == "insert")
{
  document.forms['theForm'].elements['username'].focus();
}
else
{
  document.forms['theForm'].elements['email'].focus();
}

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.isEmail("email", invalid_email, true);

    if (document.forms['theForm'].elements['act'].value == "insert")
    {
        validator.required("username",  no_username);
        validator.required("password", no_password);
        validator.required("confirm_password", no_confirm_password);
        validator.eqaul("password", "confirm_password", password_not_same);

        var password_value = document.forms['theForm'].elements['password'].value;
        if (password_value.length < 6)
        {
          validator.addErrorMsg(less_password);
        }
        if (/ /.test(password_value) == true)
        {
          validator.addErrorMsg(passwd_balnk);
        }
    }
    else if (document.forms['theForm'].elements['act'].value == "update")
    {
        var newpass = document.forms['theForm'].elements['password'];
        var confirm_password = document.forms['theForm'].elements['confirm_password'];
        if(newpass.value.length > 0 || confirm_password.value.length)
        {
          if(newpass.value.length >= 6 || confirm_password.value.length >= 6)
          {
            validator.eqaul("password", "confirm_password", password_not_same);
          }
          else
          {
            validator.addErrorMsg(password_len_err);
          }
        }
    }

    return validator.passed();
}

$(function () {
  // Setup AJAX loader
  $(document).ajaxStart(function () {
    showLoader();
  });
  $(document).ajaxStop(function () {
    hideLoader();
  });
});

function edit_user_name()
{
  var old_name = {$user.user_name|json_encode};
  var new_name = prompt('請輸入新會員名稱', old_name);
  if (new_name === null || new_name == old_name) return;
  
  $.ajax({
    'url': 'users.php',
    'type': 'post',
    'data': {
      'act': 'edit_user_name',
      'old_name': old_name,
      'new_name': new_name
    },
    'dataType': 'json',
    success: function (result) {
      alert(result.message);
      if (!result.error)
      {
        window.location.reload();
      }
    }
  });
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
