<!-- $Id: user_rank_info.htm 15053 2008-10-25 03:07:46Z testyang $ -->
{include file="pageheader.htm"}

<div class=" x_panel">
<form action="user_rank.php" method="post" name="theForm" onsubmit="return validate()" style="width: 400px;">
  <div class="form-group">
    <label>{$lang.rank_name}: <span class='red'>{$lang.require_field}</label>
    <input class="form-control" type="text" name="rank_name" value="{$rank.rank_name}" maxlength="20" />
  </div>
  <div class="form-group">
    <label>{$lang.integral_min}:  </label>
    <input class="form-control" type="text" name="min_points" value="{$rank.min_points}" size="10" maxlength="20" />
  </div>
  <div class="form-group">
    <label>{$lang.integral_max}: </label>
    <input class="form-control" type="text" name="max_points" value="{$rank.max_points}" size="10" maxlength="20" />
  </div>
  <!--tr>
    <label>
    <input type="checkbox" name="show_price" value="1" {if $rank.show_price eq 1} checked="true"{/if} /> {$lang.show_price}
  </div-->
  <div class="form-group">
    <label>{$lang.special_rank} <a href="javascript:showNotice('notice_special');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a></label>
    <br>
    <input class="flat" type="checkbox" name="special_rank" value="1" />
    <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice_special">{$lang.notice_special}</span>
  </div>
  <div class="form-group" style="display:none;">
    <label>{$lang.discount}: <a href="javascript:showNotice('notice_discount');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a><span class='red'>{$lang.require_field}</span></label>
    <input class="form-control" type="text" name="discount" value="{$rank.discount}" size="10" maxlength="20" />
    <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice_discount">{$lang.notice_discount}</span>
  </div>
  <div class="form-group">
    <input type="hidden" name="act" value="{$form_action}" />
    <input type="hidden" name="id" value="{$rank.rank_id}" />
    <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
    <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
  </div>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['rank_name'].focus();

onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

/**
 * 检查表单输入的数据
 */
function validate()
{
    if (!document.forms['theForm'].elements['special_rank'].checked)
    {
        if (Utils.trim(document.forms['theForm'].elements['min_points'].value) == '' ||
            !Utils.isInt(document.forms['theForm'].elements['min_points'].value))
        {
            alert(integral_min_invalid);
            return false;
        }

        if (Utils.trim(document.forms['theForm'].elements['max_points'].value) == '' ||
            !Utils.isInt(document.forms['theForm'].elements['max_points'].value))
        {
            alert(integral_max_invalid);
            return false;
        }

        if (!document.forms['theForm'].elements['special_rank'].checked &&
            (parseInt(document.forms['theForm'].elements['max_points'].value) <=
            parseInt(document.forms['theForm'].elements['min_points'].value)))
        {
            alert(integral_max_small);
            return false;
        }
        if (parseInt(document.forms['theForm'].elements['discount'].value) < 1 ||
          parseInt(document.forms['theForm'].elements['discount'].value) > 100)
        {
          alert(discount_invalid);
          return false;
        }
    }

    validator = new Validator("theForm");
    validator.required('rank_name', rank_name_empty);
    validator.isInt('discount', discount_invalid, true);
    return validator.passed();
}

function doSpecial()
{
  if(document.forms['theForm'].elements['special_rank'].checked)
  {
      document.forms['theForm'].elements['max_points'].disabled = "true";
      document.forms['theForm'].elements['min_points'].disabled = "true";
  }
  else
  {
      document.forms['theForm'].elements['max_points'].disabled = "";
      document.forms['theForm'].elements['min_points'].disabled = "";
  }
}
$(document).on("ifChanged", "form[name=theForm] input[name=special_rank][type=checkbox]", function(e) {
  if ($(e.target).prop("checked")) {
    $("form[name=theForm] input[name=max_points]").prop("disabled", true);
    $("form[name=theForm] input[name=min_points]").prop("disabled", true);
  } else {
    $("form[name=theForm] input[name=max_points]").prop("disabled", false);
    $("form[name=theForm] input[name=min_points]").prop("disabled", false);
  }
})
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
