<!-- $Id: user_address_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class="list-div">
  <table class="table table-striped table-bordered bulk_action">
     <tr>
      <th>{$lang.consignee}</th>
      <th>{$lang.address}</th>
      <th>{$lang.link}</th>
      <th>{$lang.other}</th>
    </tr>
  {foreach from=$address key=Key item=val}
    <tr>
      <td>{$val.consignee|escape}</td>
      <td>{$val.country_name}&nbsp;&nbsp;{$val.province_name}&nbsp;&nbsp;{$val.city_name}&nbsp;&nbsp;{$val.district_name}<br />
      {$val.address|escape}{if $val.zipcode}[{$val.zipcode|escape}]{/if}</td>
      <td>{$lang.tel}：{$val.tel}<br />{$lang.mobile}：{$val.mobile}<br/>email: {$val.email}</td>
      <td>{$lang.best_time}:{$val.best_time|escape}<br/>{$lang.sign_building}:{$val.sign_building|escape}</td>
    </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="4">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
</div>
{include file="pagefooter.htm"}