{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="i18n.js"}
<div class=" x_panel">
    <div id="validate_list" class="col-md-12">
        {if $wrong_alert_str != ''}
        <span style="color:red">有產品價格高於VIP價/正常售價:</span> {$wrong_alert_str}
        {/if}
        <table class="table table-striped table-bordered bulk_action">
            <thead>
                <tr>
                    <th data-id="program_id" data-key="program_id">編號</th>
                    <th data-id="program_name">計劃名稱</th>
                    <th data-id="default_expiry">有效日期</th>
                    <th data-id="status">狀態</th>
                    <th data-id="verify_type_name">驗證方式</th>
                    <th data-id="profile_name">價格方案</th>
                    <th data-id="total_goods_qty">產品數量</th>
                    <th data-id="joined_count">已加入人數</th>
                    <th class="actionsCol" data-id="_action" width="150" data-sort="0">{$lang.handler}</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{include file="pagefooter.htm"}
<script>
var $validateTable = yoho_dataTable();
</script>