{include file="pageheader.htm"}
{insert_scripts files="i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
{insert_scripts files="../yohohk/js/jquery.cropit.js"}
{insert_scripts files="../yohohk/js/cropit.howang.js"}
<link href="../yohohk/css/jquery.cropit.css" rel="stylesheet" type="text/css" />

<style>
#unverify_block,#verify_block, #extra_info_block {
    display:none;
    padding-top: 50px;
}

.need_extra_info {
    cursor: pointer;
    padding-top: 20px;
}

</style>
<div class="x_panel">
    <!-- tab bar -->
    <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active" id="general-tab"><a href="#general-table"role="tab" data-toggle="tab" aria-expanded="true">基本資料</a></li>

            {if $add != 1}
            <li class="" id="banner-tab"><a href="#banner-table"role="tab" data-toggle="tab" aria-expanded="true">產品頁橫額設計</a></li>
            <li class="" id="register-tab"><a href="#register-table"role="tab" data-toggle="tab" aria-expanded="true">計劃申請頁設計</a></li>
            <li class="" id="organization-tab"><a href="#organization-table"role="tab" data-toggle="tab" aria-expanded="true">符合資格驗證</a></li>
            {/if}
        </ul>
    </div>
    <!-- tab body -->
    <form method="post" enctype="multipart/form-data" class="tab-content form-horizontal form-label-left">
        <div role="tabpanel" class="tab-pane fade active in" id="general-table">
            <input type="hidden" name="act" value="update">
            <input type="hidden" name="program_id" value="{$record.program_id}">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">計劃名稱</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <input class="form-control" type='text' name="program_name" value="{$record.program_name}"
                           required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">計劃路徑名</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <input class="form-control" type='text' name="program_code" value="{$record.program_code}"
                           {if $record.program_code}readonly{/if} required="required" onkeyup="changeSpecialCode(this);">
                    <span class="form-helper" id="">只能為英數及橫線(-), 此處填寫將作為計劃頁路徑e.g.: https://www.yohohongkong.com/programs/<span class="ProgramCode">{if $record.program_code}{$record.program_code}{else}{計劃路徑名}{/if}</span> 為此計劃產品頁</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">價格方案</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <select class="form-control" name="pricing_profile_id">
                        <option value="">{$lang.select_please}</option>
                        {foreach from=$pricing_profile item=profile}
                            <option value="{$profile.pricing_profile_id}"
                                    {if $profile.pricing_profile_id eq $record.pricing_profile_id}selected{/if}>{$profile.profile_name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <!-- <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">會員等級</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <select class="form-control" name="rank_id">
                        <option value="">{$lang.select_please}</option>
                        {foreach from=$valid_ranks item=rank}
                            <option value="{$rank.rank_id}"
                                    {if $rank.rank_id eq $record.rank_id}selected{/if}>{$rank.rank_name}</option>
                        {/foreach}
                    </select>
                </div>
            </div> -->
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">預設有效日期</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <input class="form-control" type="text" data-type="date" value="{$record.default_expiry}"
                           name="default_expiry">
                           <input class="flat" type="checkbox" name="expiry_update" value="1">同時更新現有會員的有效日期
                </div>

            </div>
            <!-- <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">計劃狀態</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <select class="form-control" name='status'>
                        {foreach from=$lang.rank_program_status item=item key=key}
                            <option value="{$key}" {if $record.status eq $key}selected{/if}>{$item}</option>
                        {/foreach}
                    </select>
                </div>
            </div> -->

            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">顯示在會員導航選單</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="radio">
                        <label class="" style="padding-left:0">
                        <input type="radio" {if $record.show_on_menu == 1} checked {/if} class="flat" value="1" id="show_on_menu" name="show_on_menu" style="position: absolute; opacity: 0;"> 是(公開顯示)
                        </label>
                        <label class="">
                        <input type="radio" {if $record.show_on_menu == 0} checked {/if} class="flat" value="0" id="show_on_menu" name="show_on_menu" style="position: absolute; opacity: 0;"> 否 (隱藏顯示)
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">狀態</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="radio">
                        <label class="" style="padding-left:0">
                        <input type="radio" {if $record.status == 1 || $add == 1 } checked {/if} class="flat" value="1" id="status" name="status" style="position: absolute; opacity: 0;"> 啟用
                        </label>
                        <label class="">
                        <input type="radio" {if $record.status == 2} checked {/if} class="flat" value="2" id="status" name="status" style="position: absolute; opacity: 0;"> 停止
                        </label>
                    </div>
                </div>
            </div>

            

            <!-- <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">需要身份驗證</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <input class="flat" type="checkbox" name="validate" value="1"
                           {if $record.validate eq 1 || !$record}checked{/if}>
                </div>
            </div> -->
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <span class="pull-right">主題顏色</span>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="input-group colorpicker-group">
                        <input class="form-control" type="text" data-type="color" value="{$record.theme_color}"
                               name="theme_color">
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="banner-table">
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input class="form-control tinymce" type='text'
                           name="banner" value="{$record.banner|escape}" />
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="register-table">
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <textarea class="form-control tinymce" type='text'
                              name="description">{$record.description|escape}</textarea>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="organization-table">
            <div class="form-group">

                <label class="col-xs-3">
                    <input id="need_verify_1" name="need_verify" class="need_verify" type="radio" value="1"  {if $record.need_verify eq 1} checked="checked"{/if} > 需要驗證
                </label>

                <label class="col-xs-3">
                    <input id="need_verify_0" name="need_verify" class="need_verify" type="radio" value="0"  {if $record.need_verify eq '0'} checked="checked"{/if}> 不需要驗證
                </label>

                <div id="verify_block">
                    <label class="col-xs-12">
                        <input style="display: none;" id="verifiy_type_email" name="verifiy_type" type="radio" value="1"{if $record.verifiy_type eq 1 || !$record}checked="checked"{/if} onchange="changeVerifiyType();" required="required"> 使用電郵驗證
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12 dynamic_fields verifiy_type_content" data-name="organization_list" data-verifiy_type="1" style="display:none;">
                        <span class="form-helper" id="">**如果沒有填寫符合資格校院/公司, 將不會發出驗證電郵, 所有申請需要手工驗證</span>
                        {if !$selected_organization_list}
                            <div id="organization_list_0">
                                <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                    <div class=" col-md-4 col-sm-4 col-xs-4 nopadding">
                                        <select class="form-control" name="organization_type[]">
                                            <option value="-1">{$lang.select_please}</option>
                                            {foreach from=$organization_type item=type name="organization_type" key=t_key}
                                                <option value="{$t_key}">{$type}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                    <div class=" col-md-4 col-sm-4 col-xs-4 nopadding">
                                        <select class="form-control" name="organization_ids[]">
                                        </select>
                                    </div>
                                    <div class=" col-md-4 col-sm-4 col-xs-4 nopadding">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button class="btn btn-success" type="button"
                                                        onclick="education_fields(this);">
                                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {/if}
                        {foreach from=$selected_organization_list item=info name="organization_list_tab"}
                            <div id="organization_list_{$smarty.foreach.organization_list_tab.iteration}">
                                <div id="organization_list_0">
                                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                        <div class=" col-md-4 col-sm-4 col-xs-4 nopadding">
                                            <select class="form-control" name="organization_type[]">
                                                <option value="-1">{$lang.select_please}</option>
                                                {foreach from=$organization_type item=type name="organization_type" key=t_key}
                                                    <option value="{$t_key}"
                                                            {if $info.organization_type eq $t_key}selected{/if}>{$type}</option>
                                                {/foreach}
                                            </select>
                                        </div>
                                        <div class=" col-md-4 col-sm-4 col-xs-4 nopadding">
                                            <select class="form-control" name="organization_ids[]">
                                                {foreach from=$organizations[$info.organization_type] item=or key=or_key name=name}
                                                    <option value="{$or.organization_id}"
                                                            {if $info.organization_id eq $or.organization_id}selected{/if}>{$or.organization_name}</option>
                                                {/foreach}
                                            </select>
                                        </div>
                                        <div class=" col-md-4 col-sm-4 col-xs-4 nopadding">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    {if $smarty.foreach.organization_list_tab.iteration eq 1}
                                                        <button class="btn btn-success" type="button"
                                                                onclick="education_fields(this);">
                                                            <span class="glyphicon glyphicon-plus"
                                                                aria-hidden="true"></span>
                                                        </button>
                                                    {else}
                                                        <button class="btn btn-danger" type="button"
                                                                onclick="remove_education_fields(this, {$smarty.foreach.organization_list_tab.iteration});">
                                                            <span class="glyphicon glyphicon-minus"
                                                                aria-hidden="true"></span>
                                                        </button>
                                                    {/if}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {/foreach}
                        <div class="education_fields">
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <textarea class="form-control tinymce" type='text'
                                        name="email_banner">{$record.email_banner|escape}</textarea>
                            </div>
                        </div>
                        <div class="need_extra_info"> 需要額外資料 + </div>
                    </div>
                   
                </div>

                <div id="unverify_block">
                    <label class="col-xs-12">
                        <input style="display: none;" id="verifiy_type_link"  name="verifiy_type" type="radio" value="2"{if $record.verifiy_type eq 2 or $record.verifiy_type eq 3}checked="checked"{/if} onchange="changeVerifiyType();" required="required"> 使用特殊連結
                    </label>
                </div>

                <!-- special_event -->
                <div class="form-inline col-md-12 col-xs-12 verifiy_type_content" data-verifiy_type="2" style="display:none;">
                    <input class="form-control col-md-3 col-sm-6" type='text' name="special_code" value="{$record.special_code}" placeholder="Code"
                            {if $record.special_code}readonly{/if} onkeyup="changeSpecialCode(this);"><br>
                    <span class="form-helper" id="" style="margin: 5px 0;">Code, 只能為英數 連結為計劃頁加?special={Code}:</span>
                    <div class="blue" style="marge-top: 10px;"><br>特殊連結: <a target="_blank" class="code_url" href="">https://www.yohohongkong.com/programs/<span class="ProgramCode">{if $record.program_code}{$record.program_code}{else}{計劃路徑名}{/if}</span>?special=<span class="SpecialCode">{if $record.special_code}{$record.special_code}{else}{Code}{/if}</span></a></div>
                    <div class="need_extra_info"> 需要額外資料 + </div>
                </div>

                <div id="extra_info_block">
                    <label class="col-xs-12">
                        <input id="foreign_id_req"  name="foreign_id_req" type="checkbox" value="Y" {if $record.verifiy_type eq 3}checked="checked"{/if}> 需要用戶輸入外部ID
                    </label>
                    <label class="col-xs-12">
                        <input id="require_proof" name="require_proof" type="checkbox" value="1" {if $record.require_proof}checked="checked"{/if}> 需要用戶提交證明
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="ln_solid"></div>
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-success">{$lang.button_submit}</button>
            </div>
        </div>
    </form>
</div>
{include file="pagefooter.htm"}
<script>
	// Multiple language support
	var localizableFields = {$localizable_fields|json_encode};
	var localizedVersions = {$localized_versions|json_encode};
	var organizations = {$organizations|json_encode};
    var localizableFieldsMapping = {};
    var add = '{$add}';
	$('body').on('change', 'select[name="organization_type[]"]', function () {
		$list = organizations[$(this).val()];
		var parent = $(this).closest('.dynamic_fields');
		var name = $(parent).data('name');
		var $el = $(this).closest("[id*='" + name + "_']").find('select[name="organization_ids[]"]');
		$el.empty();
		$.each($list, function (key, value) {
			$organization_id = value.organization_id;
			$organization_name = value.organization_name;
			$el.append($("<option></option>").attr("value", $organization_id).text($organization_name));
		});
		var $button = $(parent).find("[id*='" + name + "_']").find('button');

	});
	$(".education_fields").bind("append", function (e) {
		if ($(e.target).hasClass('education_fields')) $(e.target.lastElementChild).find('select[name="organization_ids[]"]').empty();
	});
	$('form').submit(function (e) {
		if ($("input[name=program_name]").val() == "") {
			alert("請填寫計劃名稱");
			e.preventDefault();
        }
        
        if ($("input[name=default_expiry]").val() == "") {
			alert("請填寫預設有效日期");
			e.preventDefault();
        }

        if (add == 0) {
            if ($('input[name="need_verify"]:checked').val() == undefined) {
                $(".nav.nav-tabs.bar_tabs li").removeClass("active");
                $("li#organization-tab").addClass("active");
                $(".tab-pane.fade").removeClass("active").removeClass("in");
                $("#organization-table").addClass("active in");
                alert("請選擇是否需要驗證");
                e.preventDefault();
                return false;
            }

            if($('input[name="verifiy_type"]:checked').val() == 2 && $('input[name="special_code"]').val() == '') {
                $(".nav.nav-tabs.bar_tabs li").removeClass("active");
                $("li#organization-tab").addClass("active");
                $(".tab-pane.fade").removeClass("active").removeClass("in");
                $("#organization-table").addClass("active in");

                alert("請輸入特殊連結Code");
                e.preventDefault();
            }
        }
        
	});
    changeVerifiyType();

    function changeVerifiyType(){
        var $value = $('input[name="verifiy_type"]:checked').val();
        if($value > 0) {
            $(".verifiy_type_content").hide();
            $(".verifiy_type_content[data-verifiy_type='" + $value +"']").show();
        }
        $('.code_url').attr('href',$('.code_url').text());
    }
    
    function changeNeedVerify() {
        console.log('changeNeedVerify');
        var $value = $('input[name="need_verify"]:checked').val();
        console.log($value);
        console.log('need_verify_1',$("#need_verify_1").val());
        console.log('need_verify_0',$("#need_verify_0").val());
        $("#need_verify_"+ $value).trigger('click');
    }

    function changeSpecialCode($this) {
        $text = $('input[name="special_code"]').val();
        $pvalue = $('input[name="program_code"]').val();
        if($pvalue == '')$pvalue = '{計劃路徑名}';
        if($($this).val() == '')$text = '{Code}';
        $('.SpecialCode').text($text);
        $('.ProgramCode').text($pvalue);
        $('.code_url').attr('href',$('.code_url').text());
    }


    $(document).on('click','.need_verify',function(){
        console.log('click need verify');
        if ($(this).is(':checked')) { 
            var need_verify = $(this).val();
            if (need_verify == true) {
                $("#unverify_block").hide();
                $("#verify_block").show();
                $("#verifiy_type_email").trigger('click');
            } else {
                $("#verify_block").hide();
                $("#unverify_block").show();
                $("#verifiy_type_link").trigger('click');
                if ($('input[name="special_code"]').val() == '') {
                    let r = Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 6);
                    //console.log("random", r);
                    $('input[name="special_code"]').val(r); 
                    $('input[name="special_code"]').focus().trigger('onkeyup');
                }
            }

            // check if checked
            if ($('#require_proof').prop('checked') || $('#foreign_id_req').prop('checked')) {
                $("#extra_info_block").hide();
            } else {
                $("#extra_info_block").hide();
            }
        }
    });

    $(".need_extra_info").click(function(){    
        if ($("#extra_info_block").is(":visible")) {
            $("#extra_info_block").hide();
        } else {
            $("#extra_info_block").show();
        }
    });

    function changeTab(tab) {
        if (tab != '') {
            $(".nav.nav-tabs.bar_tabs li").removeClass("active");
            $("#"+tab+"-tab").addClass("active");
            $(".tab-pane.fade").removeClass("active").removeClass("in");
            $("#"+tab+"-table").addClass("active in");
        }
        console.log('tab',tab);
    }
    changeTab('{$tab}');
    changeNeedVerify();
</script>