
<!-- $Id: users_list.htm 17053 2010-03-15 06:50:26Z sxc_shop $ -->
{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js"}
<div class=" x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="javascript:searchUser()" name="searchForm" class="form-inline">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    &nbsp;{$lang.label_rank_name} <select class="form-control" name="user_rank"><option value="0">{$lang.all_option}</option>{html_options options=$user_ranks }</select>
    &nbsp;{$lang.label_pay_points_gt}&nbsp;<input class="form-control" type="text" name="pay_points_gt" size="8" />&nbsp;{$lang.label_pay_points_lt}&nbsp;<input type="text" name="pay_points_lt" size="10" />
    &nbsp;{$lang.label_user_name} &nbsp;<input class="form-control" type="text" name="keyword" value="{$keywords}" />
    &nbsp;曾購買產品ID &nbsp;<input class="form-control" type="text" name="bought_goods" value="{$bought_goods}" placeholder="可用逗號(,)分隔多個ID" />
    &nbsp;有填Email &nbsp;<input class="flat" type="checkbox" name="have_email" id="have_email" value="1"{if $have_email} checked="checked"{/if} />
    <input type="submit" value="{$lang.button_search}" class="btn form-btn btn-success"/>
  </form>
</div>

<form method="POST" action="" name="listForm" onsubmit="return confirm_bath()">

<!-- start users list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
<!--用户列表部分-->
<table id="#" class="table table-striped table-bordered bulk_action ">
  <thead>
    <tr class="headings">
      <th data-id="user_id" data-key="user_id">
        <!--input type="checkbox"  id="check-all" class="flat"-->
        {$lang.record_id}
      </th>
      <th data-id="user_name">{$lang.username}</th>
      <th data-id="user_rank" data-sort="0">{$lang.user_rank}</th>
      <th data-id="email" width="225">{$lang.email}</th>
      <th data-id="is_validated" data-type="toggle">{$lang.is_validated}</th>
      <th data-id="info_completed" data-type="toggle">已填資料</th>
      <!-- #BeginComment -->
      <th data-id="user_money">{$lang.user_money}</th>
      <th data-id="frozen_money">{$lang.frozen_money}</th>
      <!-- #EndComment -->
      <th data-id="rank_points">{$lang.rank_points}</th>
      <th data-id="pay_points">{$lang.pay_points}</th>
      <th data-id="reg_time">{$lang.reg_date}</th>
      <th data-id="last_login">最後登入</th>
      <th data-id="visit_count">瀏覽次數</th>
      <!--th data-id="language">語言</th-->
      <th class="actionsCol" data-id="_action" width="125">{$lang.handler}</th>
    </tr>
  </thead>
  <tbody>
  <!-- Ajax -->
  </tbody>
</table>
</div>
<!-- end users list -->
</form>
</div>
{include file="pagefooter.htm"}
<script type="text/javascript" language="JavaScript">
<!--

{literal}
onload = function()
{
    document.forms['searchForm'].elements['keyword'].focus();
    getDownUrl();
}
$table = yoho_dataTable();
/**
 * 搜索用户
 */
 $filter = [];
function searchUser()
{
    $filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    $filter['rank'] = document.forms['searchForm'].elements['user_rank'].value;
    $filter['pay_points_gt'] = Utils.trim(document.forms['searchForm'].elements['pay_points_gt'].value);
    $filter['pay_points_lt'] = Utils.trim(document.forms['searchForm'].elements['pay_points_lt'].value);
    $filter['bought_goods'] = Utils.trim(document.forms['searchForm'].elements['bought_goods'].value);
    $filter['have_email'] = $('#have_email').attr("checked") ? 1 : 0;
    $table.search($filter);
    getDownUrl();
}

function confirm_bath()
{
  userItems = document.getElementsByName('checkboxes[]');

  cfm = '{$lang.list_remove_confirm}';

  for (i=0; userItems[i]; i++)
  {
    if (userItems[i].checked && userItems[i].notice == 1)
    {
      cfm = '{$lang.list_still_accounts}' + '{$lang.list_remove_confirm}';
      break;
    }
  }

  return confirm(cfm);
}

function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
  for (var i = 0; i < aTags.length; i++)
  { 
    if (aTags[i].href.indexOf('downloadcsv') >= 0)
    {
      $filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
      $filter['rank'] = document.forms['searchForm'].elements['user_rank'].value;
      $filter['pay_points_gt'] = Utils.trim(document.forms['searchForm'].elements['pay_points_gt'].value);
      $filter['pay_points_lt'] = Utils.trim(document.forms['searchForm'].elements['pay_points_lt'].value);
      $filter['bought_goods'] = Utils.trim(document.forms['searchForm'].elements['bought_goods'].value);
      $filter['have_email'] = $('#have_email').attr("checked") ? 1 : 0;
      
      aTags[i].href = "users.php?act=downloadcsv" +
      "&keywords=" + encodeURIComponent($filter['keywords']) + 
      "&rank=" + encodeURIComponent($filter['rank']) + 
      "&pay_points_gt=" + encodeURIComponent($filter['pay_points_gt']) + 
      "&pay_points_lt=" + encodeURIComponent($filter['pay_points_lt']) + 
      "&bought_goods=" + encodeURIComponent($filter['bought_goods']) +
      "&have_email=" + encodeURIComponent($filter['have_email']);
    }
    if (aTags[i].href.indexOf('downloadxlsx') >= 0)
    {
      $filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
      $filter['rank'] = document.forms['searchForm'].elements['user_rank'].value;
      $filter['pay_points_gt'] = Utils.trim(document.forms['searchForm'].elements['pay_points_gt'].value);
      $filter['pay_points_lt'] = Utils.trim(document.forms['searchForm'].elements['pay_points_lt'].value);
      $filter['bought_goods'] = Utils.trim(document.forms['searchForm'].elements['bought_goods'].value);
      $filter['have_email'] = $('#have_email').attr("checked") ? 1 : 0;
      $filter['cst'] = '{$cst}';
      $filter['csta'] = '{$csta}';
      $filter['range'] = '{$range}';
      $filter['guest_stats_type'] = '{$guest_stats_type}';
      
      aTags[i].href = "users.php?act=downloadxlsx" +
      "&keywords=" + encodeURIComponent($filter['keywords']) + 
      "&rank=" + encodeURIComponent($filter['rank']) + 
      "&pay_points_gt=" + encodeURIComponent($filter['pay_points_gt']) + 
      "&pay_points_lt=" + encodeURIComponent($filter['pay_points_lt']) + 
      "&bought_goods=" + encodeURIComponent($filter['bought_goods']) +
      "&have_email=" + encodeURIComponent($filter['have_email']) +
      "&cst=" + encodeURIComponent($filter['cst']) +
      "&csta=" + encodeURIComponent($filter['csta']) +
      "&guest_stats_type=" + encodeURIComponent($filter['guest_stats_type']) +
      "&range=" + encodeURIComponent($filter['range']);
    }
  }
}

//-->
</script>
{/literal}