<!-- $Id: visit_sold.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>

<style>
  .ga-res, .ga-all-res{
    display: none;
  }
  #tP.ga-all-res,#tUP.ga-all-res,#tV.ga-all-res{
    width: 40%;
    margin-left:1%;
    margin-right:1%;
    float: left;
  }
  .ga-all-res table{
    text-align: center;
  }
  .ga-msg,.ga-all-msg{
    text-align: center;
  }
  #ga-all-msg{
    clear: both;
    height: 50px;
    background-color: white;
    padding-top: 40px;
  }
  div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  .tabcontent.active{
    display:block
  }
  div.tab button:hover {
    background-color: #ddd;
  }
  div.tab button.active {
    background-color: #ccc;
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
</style>
<!--<form method="POST">
    <b tips="設定時間範圍">時間範圍： </b>
    <label for="start_date" style="margin-left:10px;">由</label>
    <input id="start_date" name="start_date" value="{$start_date}" style="width:80px;" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);">
    <label for="end_date" style="margin-left:10px;">至</label>
    <input id="end_date" name="end_date" value="{$end_date}" style="width:80px;" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);">
    <input type="submit" name="submit2" class="btn btn-primary" value="查詢">
    <input type="submit" name="submit3" value="過去7日" onclick="$('#start_date').val(moment().subtract(7, 'days').format('YYYY-MM-DD'));$('#end_date').val(moment().subtract(1, 'days').format('YYYY-MM-DD'));$(this).submit()" class="btn btn-primary" />
</form>
<br>-->
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <div>
    <div id="ga-login" style='float:right'>
        <b>Google Analytics Login: </b><section class='ga' id="auth-button"></section>
        <section id="view-selector"></section>
    </div>
  </div>
  <br>
  <form id="TimeInterval" name="TimeInterval" action="visit_sold.php?act=list" method="post" style="margin:0px">
    {$lang.goods_cat}
    <select name="cat_id">
      <option value="0">{$lang.select_please}</option>{$cat_list}
    </select>
    {$lang.goods_brand}
    <select name="brand_id">
      <option value="0">{$lang.select_please}</caption>
      {html_options options=$brand_list selected=$brand_id}
    </select>
    {$lang.show_num}
    <input name="show_num" type="text" size="8" value="{$show_num}" />
    <input type="hidden" name="order_type" value="{$order_type}" />
    <input type="hidden" name="order_by" id="order_by" value="0" />
    <input type="submit" name="submit" id="query" value="{$lang.query}" class="btn btn-primary" />
  </form>
  <br>
</div>
<div class="list-div">
  <div class="tab">
    <button class="tablinks active" onclick="openTable(event,'on_sale')">銷售中</button>
    <button class="tablinks" onclick="openTable(event,'old')">已停產</button>
  </div>
  <div id="on_sale_div" class="tabcontent active">
    <table class="table table-striped table-bordered bulk_action">
      <tr>
        <!--<th rowspan="2">{$lang.order_by}</th>-->
        <th rowspan="2" style="width:40%">{$lang.goods_name}</th>
        <th rowspan="2"><a href="javascript:void(0)" onclick="$('#order_by').val(0);$('#query').click()">{$lang.fav_exponential}</a></th>
        <th rowspan="2"><a href="javascript:void(0)" onclick="$('#order_by').val(1);$('#query').click()">{$lang.buy_times}</a></th>
        <th rowspan="2"><a href="javascript:void(0)" onclick="$('#order_by').val(2);$('#query').click()">{$lang.visit_buy}</a></th>
        <th class="ga-res" {if $old}colspan="3"{/if}>7日</th>
        <th class="ga-res" {if $old}colspan="3"{/if}>30日</th>
        <th class="ga-res" {if $old}colspan="3"{/if}>Lifetime</th>
        <td class="ga-msg" id="ga-msg" rowspan="100">Please Login Google Analytics First</td>
      </tr>
      <tr>
        {if $old}<th style="width:90px;" class="ga-res">瀏覽次數</th>{/if}
        <th {if $old}style="width:90px;"{else}style="width:150px;"{/if} class="ga-res">工作階段</th>
        {if $old}<th style="width:90px;" class="ga-res">價值</th>{/if}
        {if $old}<th style="width:90px;" class="ga-res">瀏覽次數</th>{/if}
        <th {if $old}style="width:90px;"{else}style="width:150px;"{/if} class="ga-res">工作階段</th>
        {if $old}<th style="width:90px;" class="ga-res">價值</th>{/if}
        {if $old}<th style="width:90px;" class="ga-res">瀏覽次數</th>{/if}
        <th {if $old}style="width:90px;"{else}style="width:150px;"{/if} class="ga-res">工作階段</th>
        {if $old}<th style="width:90px;" class="ga-res">價值</th>{/if}
      </tr>
    {foreach from=$click_sold_info.on_sale key=Key item=list}
      <tr align="right">
        <!--<td align="center">{$Key+1}</td>-->
        <td align="left"><a href="../goods.php?id={$list.goods_id}" target="_blank">{$list.goods_name}</a></td>
        <td>{$list.click_count}</td>
        <td>{$list.sold_times}</td>
        <td>{$list.scale}</td>
        {if $old}<td class="ga-res" id="{$list.goods_id}_7d_p"></td>{/if}
        <td class="ga-res" id="{$list.goods_id}_7d_up"></td>
        {if $old}<td class="ga-res" id="{$list.goods_id}_7d_v"></td>{/if}
        {if $old}<td class="ga-res" id="{$list.goods_id}_30d_p"></td>{/if}
        <td class="ga-res" id="{$list.goods_id}_30d_up"></td>
        {if $old}<td class="ga-res" id="{$list.goods_id}_30d_v"></td>{/if}
        {if $old}<td class="ga-res" id="{$list.goods_id}_lt_p"></td>{/if}
        <td class="ga-res" id="{$list.goods_id}_lt_up"></td>
        {if $old}<td class="ga-res" id="{$list.goods_id}_lt_v"></td>{/if}
      </tr>
    {foreachelse}
      <tr><td class="no-records" colspan="20">{$lang.no_records}</td></tr>
    {/foreach}
    </table>
  </div>
  <br>
  <div id="old_div" class="tabcontent">
    <table class="table table-striped table-bordered bulk_action">
      <tr>
        <!--<th rowspan="2">{$lang.order_by}</th>-->
        <th rowspan="2" style="width:40%">{$lang.goods_name}</th>
        <th rowspan="2"><a href="javascript:void(0)" onclick="$('#order_by').val(0);$('#query').click()">{$lang.fav_exponential}</a></th>
        <th rowspan="2"><a href="javascript:void(0)" onclick="$('#order_by').val(1);$('#query').click()">{$lang.buy_times}</a></th>
        <th rowspan="2"><a href="javascript:void(0)" onclick="$('#order_by').val(2);$('#query').click()">{$lang.visit_buy}</a></th>
        <th class="ga-res" {if $old}colspan="3"{/if}>7日</th>
        <th class="ga-res" {if $old}colspan="3"{/if}>30日</th>
        <th class="ga-res" {if $old}colspan="3"{/if}>Lifetime</th>
        <td class="ga-msg" id="ga-msg" rowspan="100">Please Login Google Analytics First</td>
      </tr>
      <tr>
        {if $old}<th style="width:90px;" class="ga-res">瀏覽次數</th>{/if}
        <th {if $old}style="width:90px;"{else}style="width:150px;"{/if} class="ga-res">工作階段</th>
        {if $old}<th style="width:90px;" class="ga-res">價值</th>{/if}
        {if $old}<th style="width:90px;" class="ga-res">瀏覽次數</th>{/if}
        <th {if $old}style="width:90px;"{else}style="width:150px;"{/if} class="ga-res">工作階段</th>
        {if $old}<th style="width:90px;" class="ga-res">價值</th>{/if}
        {if $old}<th style="width:90px;" class="ga-res">瀏覽次數</th>{/if}
        <th {if $old}style="width:90px;"{else}style="width:150px;"{/if} class="ga-res">工作階段</th>
        {if $old}<th style="width:90px;" class="ga-res">價值</th>{/if}
      </tr>
    {foreach from=$click_sold_info.old key=Key item=list}
      <tr align="right">
        <!--<td align="center">{$Key+1}</td>-->
        <td align="left"><a href="../goods.php?id={$list.goods_id}" target="_blank">{$list.goods_name}</a></td>
        <td>{$list.click_count}</td>
        <td>{$list.sold_times}</td>
        <td>{$list.scale}</td>
        {if $old}<td class="ga-res" id="{$list.goods_id}_7d_p"></td>{/if}
        <td class="ga-res" id="{$list.goods_id}_7d_up"></td>
        {if $old}<td class="ga-res" id="{$list.goods_id}_7d_v"></td>{/if}
        {if $old}<td class="ga-res" id="{$list.goods_id}_30d_p"></td>{/if}
        <td class="ga-res" id="{$list.goods_id}_30d_up"></td>
        {if $old}<td class="ga-res" id="{$list.goods_id}_30d_v"></td>{/if}
        {if $old}<td class="ga-res" id="{$list.goods_id}_lt_p"></td>{/if}
        <td class="ga-res" id="{$list.goods_id}_lt_up"></td>
        {if $old}<td class="ga-res" id="{$list.goods_id}_lt_v"></td>{/if}
      </tr>
    {foreachelse}
      <tr><td class="no-records" colspan="20">{$lang.no_records}</td></tr>
    {/foreach}
    </table>
  </div>
  <br><hr><br>
  <div class='ga-res'>
    <div class="form-div ga-all-res">
      顯示數量
      <input type="number" id="filter_num" value="10" size="8">
      <!-- <input type="button" id="filter_num_submit" value="查詢" class="btn btn-primary"> -->
    </div>
    {if $old}<div class="ga-all-res" id='tP'><h3>最高瀏覽次數</h3></div>{/if}
    <div class="ga-all-res" id='tUP'><h3>最高工作階段</h3></div>
    {if $old}<div class="ga-all-res" id='tV'><h3>最高價值</h3></div>{/if}
    <div style='clear:both'></div>
    <div class="ga-all-msg" id="ga-all-msg">Please Login Google Analytics First</td>
  </div>
</div>

<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
{/literal}
//-->

(function(w,d,s,g,js,fjs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
  js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
}(window,document,'script'));
var old = {$old};
var products = [
  {foreach from=$click_sold_info.on_sale key=Key item=list}
  '{$list.goods_id}',
  {/foreach}
  {foreach from=$click_sold_info.old key=Key item=list}
  '{$list.goods_id}',
  {/foreach}
];
var gaResult = {
  all:{},
  all_sort:{
    views: [],
    uviews: [],
    values: [],
  },
  lifetime:{},
  this7day:{},
  last7day:{},
  this30day:{},
  last30day:{},
}

gapi.analytics.ready(function() {

  // Step 3: Authorize the user.

  var ga_access_token = {if $access_token} '{$access_token}' {else} '478328127783-4kue1g15kfihfl0ga5g1472s6hdi7vof.apps.googleusercontent.com'{/if};
  
  gapi.analytics.auth.authorize({
    container: 'auth-button',
    {if !$access_token}
    clientid: ga_access_token,
    {else}
    serverAuth: {
      'access_token': ga_access_token
    }
    {/if}
  });
  var viewSelector = new gapi.analytics.ViewSelector({
    container: 'view-selector'
  });
  {if $access_token}
  viewSelector.execute();
  $('#ga-login').hide();
  $('#view-selector').hide();
  {/if}
  gapi.analytics.auth.on('signIn', function(response) {
    viewSelector.execute();
    $('<button onclick="gapi_logout(this)">Signout</button>').appendTo('#auth-button');
    $('#view-selector').hide();
  });
  viewSelector.on('change', function(ids) {
    var newIds = {
      query: {
        ids: "ga:77620237"
      }
    }
    $('.ga-msg').html('Retrieving Data From Google ...');
    queryLinksGA("ga:77620237","this7day",moment().subtract(7, 'days').format('YYYY-MM-DD'),moment().subtract(1, 'days').format('YYYY-MM-DD'),products,0)
  });
  function matchLink(link,src){
    var match = "";
    src.map((v)=>link.indexOf('/product/'+v+'-')!=-1 ? match = v : true);
    return match;
  }
  function retrieveId(link){
    return link.match(/\/product\/\d+-/g)[0].split('/product/')[1].replace('-','')
  }
  function queryAllGA(ids,page,max){
    page = page || 0;
    max = max || 10000;
    page == 0 ? $('#ga-all-msg').html('Retrieving Data From Google ... ') : true;
    query({
      'ids': ids,
      'dimensions': 'ga:pagePath',
      'metrics': 'ga:pageviews,ga:uniquePageviews,ga:pageValue',
      'start-date': '2013-01-01',
      'end-date': moment().subtract(1, 'days').format('YYYY-MM-DD'),
      'filters': 'ga:pagePath=~\/product\/\\d+-',
      'start-index': page * max + 1,
      'max-results': max,
      'include-empty-rows': false,
    }).then(function(response) {
      if(response.rows){
         response.rows.map((v,i)=>(
          typeof gaResult['all'][retrieveId(v[0])] === "undefined" ? gaResult['all'][retrieveId(v[0])] = [0,0,0] : true,
          gaResult['all'][retrieveId(v[0])][0] += parseInt(v[1]),
          gaResult['all'][retrieveId(v[0])][1] += parseInt(v[2]),
          gaResult['all'][retrieveId(v[0])][2] += parseFloat(v[3]) * parseInt(v[2])
        ));
        if(response.totalResults > (page + 1) * max){
          $('#ga-all-msg').html('Retrieving Data From Google ... (' + Math.round((page + 1) * max / response.totalResults * 100) + '%)')
          queryAllGA(ids,page+1)
        }else{
          $('#ga-all-msg').html('Processing Data ...');
          dataHandlingAll();
        }
      }
    });
    function dataHandlingAll(){
      var view = [], uview = [], value = [];
      for(var k in gaResult.all){
        view.push([k, gaResult.all[k]])
        uview.push([k, gaResult.all[k]])
        if(gaResult.all[k][0] > 1000)
          value.push([k, gaResult.all[k]])
      }
      view.sort((a,b)=>b[1][0]-a[1][0])
      uview.sort((a,b)=>b[1][1]-a[1][1])
      value.sort((a,b)=>b[1][2]/b[1][1]-a[1][2]/a[1][1])

      view.map((v,i)=>i<100?gaResult.all_sort.views[i]=[v[0],v[1],[]]:true)
      uview.map((v,i)=>i<100?gaResult.all_sort.uviews[i]=[v[0],v[1],[]]:true)
      value.map((v,i)=>i<100?gaResult.all_sort.values[i]=[v[0],v[1],[]]:true)

      var wait = 0;
      for(var i = 0; i < 100; i++){
        $.ajax({
          url: 'visit_sold.php',
          data: {
            act: 'ajax',
            ids: [view[i][0],uview[i][0],value[i][0]].join(","),
            index: i
          },
          dataType: 'json',
          success:function(res){
            gaResult.all_sort.views[res.index][2] = [res[view[res.index][0]]['goods_name'],res[view[res.index][0]]['click_count'],res[view[res.index][0]]['sold_times'],res[view[res.index][0]]['scale']];
            gaResult.all_sort.uviews[res.index][2] = [res[uview[res.index][0]]['goods_name'],res[uview[res.index][0]]['click_count'],res[uview[res.index][0]]['sold_times'],res[uview[res.index][0]]['scale']];
            gaResult.all_sort.values[res.index][2] = [res[value[res.index][0]]['goods_name'],res[value[res.index][0]]['click_count'],res[value[res.index][0]]['sold_times'],res[value[res.index][0]]['scale']];
            // gaResult.all_sort.views.push(view[res.index].concat([res[view[res.index][0]]['goods_name'],res[view[res.index][0]]['click_count'],res[view[res.index][0]]['sold_times'],res[view[res.index][0]]['scale']]))
            // gaResult.all_sort.uviews.push(uview[res.index].concat(res[uview[res.index][0]]['goods_name'],res[uview[res.index][0]]['click_count'],res[uview[res.index][0]]['sold_times'],res[uview[res.index][0]]['scale']))
            // gaResult.all_sort.values.push(value[res.index].concat(res[value[res.index][0]]['goods_name'],res[value[res.index][0]]['click_count'],res[value[res.index][0]]['sold_times'],res[value[res.index][0]]['scale']))
            wait++;
          }
        })
        // gaResult.all_sort.views.push(view[i])
        // gaResult.all_sort.uviews.push(uview[i])
        // gaResult.all_sort.values.push(value[i])
      }
      var timeEvent = setInterval(function(){
        if(wait == 100){
          $('#ga-all-msg').hide()
          $('.ga-all-res').show()
          var tstart = old
            ? '<table><tr><th>排名</th><th>產品ID</th><th>瀏覽次數 / 工作階段 / 價值</th></tr>'
            : '<table><tr><th>排名</th><th>產品ID</th><th>工作階段</th></tr>',
            tend = '</table>';
          var tP = tstart + gaResult.all_sort.views.reduce((p,c,i)=>p + "<tr><td>" + (i + 1) + "</td><td " + tipsGAProduct(c) + "</td><td>" + c[1][0] + " / " + c[1][1] + " / " + Math.round(c[1][2] * 1 / c[1][1]) + "</td></tr>","") + tend;
          var tUP = tstart + gaResult.all_sort.uviews.reduce((p,c,i)=>p + (old
            ? "<tr><td>" + (i + 1) + "</td><td " + tipsGAProduct(c) + "</td><td>" + c[1][0] + " / " + c[1][1] + " / " + Math.round(c[1][2] * 1 / c[1][1]) + "</td></tr>"
            : "<tr><td>" + (i + 1) + "</td><td " + tipsGAProduct(c) + "</td><td>" + c[1][1] + "</td></tr>"),"") + tend;
          var tV = tstart + gaResult.all_sort.values.reduce((p,c,i)=>p + "<tr><td>" + (i + 1) + "</td><td " + tipsGAProduct(c) + "</td><td>" + c[1][0] + " / " + c[1][1] + " / " + Math.round(c[1][2] * 1 / c[1][1]) + "</td></tr>","") + tend;
          gaResult.all_sort.uviews.map((v,i)=>$('a[href$=id\\=' + v[0]).after('<span style="float:right"><b>Rank. ' + (i + 1) + '</b></span>'))
          if(old)$(tP).appendTo('#tP')
          $(tUP).appendTo('#tUP')
          if(old)$(tV).appendTo('#tV')
          if($('#filter_num').val() > 0 && $('#filter_num').val() <= 100){
            $('#tP table tr:nth-child(n + ' + (parseInt($('#filter_num').val()) + 2) + '), #tUP table tr:nth-child(n + ' + (parseInt($('#filter_num').val()) + 2) + '), #tV table tr:nth-child(n + ' + (parseInt($('#filter_num').val()) + 2) + ')').hide();
          }
          clearInterval(timeEvent);
        }
      },500)
    }
  }
  function tipsGAProduct(data){
    return data[2][0] != ""
      ? "tips='<p>" + data[2][0] + "</p><p><b>人氣指數 / 購買次數 / 瀏覽轉換率</b></p></p>" + data[2][1] + " / " + data[2][2] + " / " + data[2][3] + "</p>'><a href='../goods.php?id=" + data[0] + "' target='_blank'>" + data[2][0] + "</a>"
      : "tips='<b>查無此產品</b>'>" + data[0]
  }
  function countCount(links,t){
    var c = 0;
    if(links.join('|').length > 116){
      c = countCount(links.slice(0, links.indexOf(links[Math.round((links.length - 1) / 2)])),c) + countCount(links.slice(links.indexOf(links[Math.round((links.length - 1) / 2)]), links.length),c)
    }else{
      c = 1;
    }
    return c;
  }
  var count = 5,coCount = 0, allLinks = [];
  function queryLinksGA(ids,curr,start,end,links,init){
    if(links.length > 0){
      if(links.join('|').length > 116){
        if(init == 0){
          count = countCount(links,0) * 5;
          allLinks = JSON.parse(JSON.stringify(links));
        }
        queryLinksGA(ids,curr,start,end,links.slice(0, links.indexOf(links[Math.round((links.length - 1) / 2)])))
        queryLinksGA(ids,curr,start,end,links.slice(links.indexOf(links[Math.round((links.length - 1) / 2)]), links.length))
      }else{
        links.map((v)=>gaResult[curr][v]=[0,0,0]);
        query({
          'ids': ids,
          'dimensions': 'ga:pagePath',
          'metrics': 'ga:pageviews,ga:uniquePageviews,ga:pageValue',
          'start-date': start,
          'end-date': end,
          'filters': 'ga:pagePath=~\/product\/(' + links.join('|') + ')-',
        }).then(function(response) {
          if(response.rows)
            response.rows.map((v)=>(
              gaResult[curr][matchLink(v[0],links)][0] += parseInt(v[1]),
              gaResult[curr][matchLink(v[0],links)][1] += parseInt(v[2]),
              gaResult[curr][matchLink(v[0],links)][2] += parseFloat(v[3]) * parseInt(v[2])
            ));
          coCount++;
          switch(curr){
            case 'this7day':queryLinksGA(ids,'last7day',moment().subtract(14, 'days').format('YYYY-MM-DD'),moment().subtract(8, 'days').format('YYYY-MM-DD'),links);break;
            case 'last7day':queryLinksGA(ids,'this30day',moment().subtract(30, 'days').format('YYYY-MM-DD'),moment().subtract(1, 'days').format('YYYY-MM-DD'),links);break;
            case 'this30day':queryLinksGA(ids,'last30day',moment().subtract(60, 'days').format('YYYY-MM-DD'),moment().subtract(31, 'days').format('YYYY-MM-DD'),links);break;
            case 'last30day':queryLinksGA(ids,'lifetime','2013-01-01',moment().subtract(1, 'days').format('YYYY-MM-DD'),links);break;
            case 'lifetime':count == coCount ? (queryAllGA("ga:77620237"),dataHandling(allLinks)) : true;break;
          }
        });
      }
    }
    function compareValue(a,b,pref){
      pref = pref || 0;
      var color = ['',''];
      color = pref == 0
        ? ['green','red']
        : ['red','green']
      return "<span tips='<b>Previous Period:</b><br>" + b + "' style='margin-left:15px;width:65px;display:inline-block;color:" + (a > b ? color[0] + "'>\u25B2" : a < b ? color[1] + "'>\u25BC" : "'><b> -- </b>") + "<span style='display:inline-block;width:50px;'>" + (a != b ? b > 0 ? "(" + ((a - b) / b * 100).toFixed(1) + "%)" : "(--%)" : "(--)") + '</span></span>'

    }
    function validValue(a,b){
      return b > 0 ? Math.round(a / b) : 0;
    }
    function dataHandling(){
      for(var k in gaResult.this7day){
        $('#'+ k + '_7d_p').append(gaResult.this7day[k][0] + compareValue(gaResult.this7day[k][0],gaResult.last7day[k][0]))
        $('#'+ k + '_7d_up').append(gaResult.this7day[k][1] + compareValue(gaResult.this7day[k][1],gaResult.last7day[k][1]))
        $('#'+ k + '_7d_v').append(validValue(gaResult.this7day[k][2],gaResult.this7day[k][1]) + compareValue(validValue(gaResult.this7day[k][2],gaResult.this7day[k][1]),validValue(gaResult.last7day[k][2],gaResult.last7day[k][1])))
        $('#'+ k + '_30d_p').append(gaResult.this30day[k][0] + compareValue(gaResult.this30day[k][0],gaResult.last30day[k][0]))
        $('#'+ k + '_30d_up').append(gaResult.this30day[k][1] + compareValue(gaResult.this30day[k][1],gaResult.last30day[k][1]))
        $('#'+ k + '_30d_v').append(validValue(gaResult.this30day[k][2],gaResult.this30day[k][1]) + compareValue(validValue(gaResult.this30day[k][2],gaResult.this30day[k][1]),validValue(gaResult.last30day[k][2],gaResult.last30day[k][1])))
        $('#'+ k + '_lt_p').append(gaResult.lifetime[k][0])
        $('#'+ k + '_lt_up').append(gaResult.lifetime[k][1])
        $('#'+ k + '_lt_v').append(validValue(gaResult.lifetime[k][2],gaResult.lifetime[k][1]))
      }
      $('.ga-res').show();
      $('.ga-msg').hide();
    }
  }
  function query(params) {
    return new Promise(function(resolve, reject) {
      var data = new gapi.analytics.report.Data({query: params});
      data.once('success', function(response) { resolve(response); })
          .once('error', function(response) { reject(response); })
          .execute();
    });
  }
})
$(document).on('mouseenter','td,b,span,th',function(e){
  if($(this).attr('tips')){
    $(this).append( "<div class='tips' style='display:inline-block;position:absolute;background:#fff;border:1px solid grey;margin-top:2em;margin-left:-10em;padding:1em'>"+$(this).attr('tips')+"</div>" );
  }
})
$(document).on('mouseleave','td,b,span,th',function(e){
  if($(this).find('div'))
    $(this).find('div').remove();
})
$('#filter_num').on('keyup mouseup',function(){
  if($('#filter_num').val() != ""){
    var fil_num = parseInt($('#filter_num').val());
    if(fil_num > 0 && fil_num <= 100){
      $('#tP table tr, #tUP table tr, #tV table tr').show();
      $('#tP table tr:nth-child(n+' + (fil_num + 2) + '),#tUP table tr:nth-child(n+' + (fil_num + 2) + '),#tV table tr:nth-child(n+' + (fil_num + 2) + ')').hide();
    }
  }
})
function openTable(evt, tableName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tableName + "_div").style.display = "block";
    evt.currentTarget.className += " active";
}
function gapi_logout(elem){
  gapi.auth2.getAuthInstance().disconnect();
  $(elem).remove();
  location.reload();
}
</script>
{include file="pagefooter.htm"}
