<!-- $Id: visit_sold.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>


<div class="list-div">

{foreach from=$top_visit_sold_goods item=cat key=cat_id}
  <div>
    <div>{$cat.cat_name} - 平均價錢: ${$cat.avg_goods_price}</div>
    <table class="table table-striped table-bordered bulk_action">
      <tr>
        <!--<th rowspan="2">{$lang.order_by}</th>-->
        <th colspan="2" style="width:40%">{$lang.goods_name}</th>
        <th>pageview</th>
        <th>瀏覽轉換率</th>
      </tr>
    {foreach from=$cat.goods key=Key item=list}
      <tr align="right">
        <!--<td align="center">{$Key+1}</td>-->
        <td colspan="2" align="left"><a href="../goods.php?id={$list.goods_id}" target="_blank">{$list.goods_name}</a>{if $list.is_match}<span style="color:red;">(高於平均價錢)</span>{/if}</td>
        <td>{$list.pageview}</td>
        <td>{$list.new_rate}</td>
      </tr>
    {/foreach}
    </table>
  </div>
{/foreach}

<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
{/literal}
//-->

{include file="pagefooter.htm"}
