<!-- $Id: vote_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<div class=" x_panel">
<form action="vote.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<table width="100%" id="general-table">
  <tr>
    <td class="label">{$lang.vote_name}</td>
    <td>
      <input type='text' name='vote_name' value='{$vote_arr.vote_name}' size='40' />
    </td>
  </tr>
  <tr>
    <td class="label">{$lang.begin_date}</td>
    <td>
      <input name="start_time" type="text" id="start_time" size="22" value='{$vote_arr.start_time}' data-type="date" class="form-control" />
    </td>
  </tr>
  <tr>
    <td class="label">{$lang.end_date}</td>
    <td>
      <input name="end_time" type="text" id="end_time" size="22" value='{$vote_arr.end_time}' data-type="date" class="form-control" />
    </td>
  </tr>
  <tr>
    <td class="label">{$lang.can_multi}</td>
    <td>
      <input type="radio" name="can_multi" value="0"{if $vote_arr.can_multi eq 0} checked="true" {/if}/>{$lang.is_multi}
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="can_multi" value="1"{if $vote_arr.can_multi eq 1} checked="true" {/if}/>{$lang.no_multi}
    </td>
  </tr>
  <tr>
    <td class="label">&nbsp;</td>
    <td>
      <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
      <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
    </td>
  </tr>
</table>
    <input type="hidden" name="act" value="{$form_act}" />
    <input type="hidden" name="id" value="{$vote_arr.vote_id}" />
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
<script>
var date_error = '{$lang.date_error}';
</script>
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['vote_name'].focus();
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("vote_name",      vote_name_empty);
    if(document.getElementById('start_time').value > document.getElementById('end_time').value)
    {
      alert(date_error);
      return false;
    }
    return validator.passed();
}

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}