<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->

{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<div class="x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
    <form name="TimeInterval"  action="javascript:getList(this)" class="form-inline">
        {$lang.start_date}&nbsp;
        <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
        {$lang.end_date}&nbsp;
        <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
        <div class="btn-group">
          <button type="button" class="btn btn-primary" onclick="$('input[name=start_date]').val('{$7_date_before}');$('input[name=end_date]').val('{$date_today}');$('input#cross_check_search').trigger('click');">近7日</button>
          <button type="button" class="btn btn-success" onclick="$('input[name=start_date]').val('{$30_date_before}');$('input[name=end_date]').val('{$date_today}');$('input#cross_check_search').trigger('click');">近30日</button>
        </div>
        {insert name=daterange_group submit=cross_check_search}<br>
        供應商&nbsp;
        <select class="form-control" name="suppliers_id" id="suppliers_id">
            <option value="-1">{$lang.select_please}</option>
            {foreach from=$supplier_list name=sln item=sl}
            <option value="{$sl.supplier_id}">{$sl.supplier_name}</option>
            {/foreach}
        </select>&nbsp;
        <input type="text" id="search_text" name="search_text" value="">&nbsp;
        <select class="form-control" name="search_text_type" id="search_text_type">
            <option value="goods_id">貨品編號ID</option>
            <option value="goods_sn">貨品條碼SN</option>
            <option value="goods_name">貨品名稱</option>
        </select>&nbsp;&nbsp;
        <label for="on_sale_only" style="font-weight: normal; cursor: pointer;">只顯示上架貨品</label>&nbsp;
        <input type="checkbox" name="on_sale_only" id="on_sale_only" class="form-control flat" value="1"{if $on_sale_only} checked="checked"{/if} />&nbsp;
        <!--
        <input type="hidden" name="wh_id" value="{$wh_id}" />
        -->

        <input class="btn btn-success form-btn" type="button" id="cross_check_search" name="cross_check_search" value="{$lang.query}" />
        <!--
        <input type="submit" id="submit" name="submit" value="{$lang.query}" class="btn btn-primary" />
        -->
        <input type="hidden" id="curr_wh_id" name="curr_wh_id" value="{$wh_id}">
    </form>
    <!--<div style="text-align:right">*此報表之批發訂單包含已出貨但未付款訂單</div>
    <div style="color: red;text-align:right">注意：以上盈利並未扣除折扣及優惠券之金額</div>-->
</div>
<form method="POST" action="" name="listForm">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

<ul id="adminTab" class="nav nav-tabs bar_tabs" role="tablist">
    {foreach from=$warehouse_list item=house key=id }
        <li {if $wh_id eq $id} class="active" {/if} >
            <a onclick="javascript:getList(this)" data-wh_id="{$id}" style="cursor: pointer;">
                {$house}
            </a>
        </li>
    {/foreach}
</ul>

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
    <table id="data" class="table table-bordered table-striped  bulk_action ">
      <thead>
        <tr class="headings">
          <th data-id="name" data-sort="1" data-key="id" data-url="goods.php?keyword={id}&act=list">貨品</th>
          <th data-id="total_sa_revenue_formated" data-sort="1" data-class="td_consignee">銷售總額</th>
          <th data-id="total_sa_profit_formated" data-sort="1">實際盈利總額</th>
          <th data-id="avg_stock_cost_formated" data-sort="1">平均存貨成本</th>
          <th data-id="turnover" data-sort="1">Turnover</th>
          <!--
          <th data-id="turnover_day" data-sort="1">Turnover(日)</th>
          <th data-id="inf_turnover" data-sort="1">Inventory Turnover(次)</th>
          <th data-id="inf_turnover_day" data-sort="1">Inventory Turnover(日)</th>
          -->
          <th data-id="total_volume_formated" data-sort="1">平均存貨體積(m&#179;)</th>
          <th data-id="total_fifo_qty" data-sort="1">現時存貨總數</th>
        </tr>
      </thead>
    </table>
  </div>

<div style="display: none;" id="total_discount_div">{$total_discount}</div>
{if !$full_page}
<img src="images/empty.gif" style="display: none;" onload="updateTotalDiscount();this.parentNode.removeChild(this);" alt="Hack to run script in content loaded with innerHTML">
{/if}
{if $full_page}

</div>
</form>
</div>
{include file="pagefooter.htm"}
<script type="Text/Javascript" language="JavaScript">

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

yohoTable.start_date = $("#start_date").val();
yohoTable.end_date = $("#end_date").val();
yohoTable.table_id = "data";
{if ($manage_cost || $is_accountant)}yohoTable.lengthMenu = [50, 100, 150, 200, 250, 500, 1000, 1500, 2000];{/if}
var $table = yoho_dataTable();

$("#cross_check_search").click(function(){
    var $filter = {};
    $filter.wh_id = $("#curr_wh_id").val();
    $filter.supplier = $("#suppliers_id").val();
    $filter.start_date = $("#start_date").val();
    $filter.end_date = $("#end_date").val();
    $filter.search_text_type = $("#search_text_type").val();
    $filter.search_text = $("#search_text").val();
    $table.search($filter);
    return;
});

function getList($this)
{
    var $filter = {};
    var frm =  document.forms['TimeInterval'];
    $wh_id = $($this).data('wh_id') || $('#adminTab li.active>a').data('wh_id');
    $filter.start_date = frm.elements['start_date'].value;
    $filter.end_date = frm.elements['end_date'].value;
    $filter.search_text_type = frm.elements["search_text_type"].value;
    $filter.search_text = frm.elements["search_text"].value;
    $filter.supplier = frm.elements["suppliers_id"].value;
    $filter.wh_id = $wh_id;
    if (frm.elements['on_sale_only'].checked == true) {
        $filter.on_sale_only = 1;
    } else {
        $filter.on_sale_only = 0;
    }
    $table.search($filter);
    //listTable.loadList();
    $("#curr_wh_id").val($wh_id);
    $('#adminTab').children('li').removeClass('active');
    $($this).closest("li").addClass('active') ;

}

function updateTotalDiscount()
{
  try {
    document.getElementById('total_discount_span').innerHTML = document.getElementById('total_discount_div').innerHTML;
  } catch (e) { }
}
//-->
</script>
{/literal}
{/if}