{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
<div class=" x_panel">
    <div class="x_title">
        <h2>
        微信支付強制退款
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        請在下表輸入訂單號以搜尋並開始微信支付強制退款
        <div class="form-div col-md-12 col-sm-12 col-xs-12 form-group">
            <form action="erp_wechatpay_force_refund.php" method="POST" class="form-inline">
                <input name="act" value="query" hidden />
                <label>訂單號: </label>
                <input class="form-control" name='transaction_sn'/>
                <button type="submit" class="btn form-btn btn-primary">查詢</button>
            </form>
        </div>
    </div>
</div>
{include file="pagefooter.htm"}