{if !$crm}
{include file="pageheader.htm"}
{/if}

{insert_scripts files="actg.js"}

<form action="wholesale_payments.php" method="post" name="form">
<div class=" x_panel">
<table class="table table-bordered form-inline">
  <tr>
    <td>訂單</td>
    <td>
      訂單號：　<a href="order.php?act=info&amp;order_id={$order.order_id}">{$order.order_sn}</a> <b>({$order.type_sn})</b><br>
      日期：　　{$order.formated_add_time}<br>
      會員：　　<a href="users.php?act=list&amp;keywords={$order.mobile}">{$order.mobile}</a><br>
      {if $order.consignee}客戶名稱：{$order.consignee}<br>{/if}
      總金額：　{$order_total_str}<br>
      已付金額：{$paid_str}<br>
      應付金額：{$due_str}
    </td>
  </tr>
  <tr>
    <td>操作員</td>
    <td>
      <select class="form-control" name="operator">
        <option value="">{$lang.select_please}</option>
        {foreach from=$salesperson_list item=salesperson}
        {if $salesperson eq $admin_name}<option selected="selected" value="{$admin_id}">{$salesperson}</option>{/if}
        {/foreach}
      </select>
    </td>
  </tr>
  <tr>
    <td>帳戶</td>
    <td>
      <select class="form-control" name="account_id">
        <option value="0">{$lang.select_please}</option>
        {foreach from=$accounts item=acc}
        <option value="{$acc.account_id}" data-currency-code="{$acc.currency_code}">{$acc.account_name} - {$acc.currency_name}</option>
        {/foreach}
      </select>
    </td>
  </tr>
  <tr>
    <td>金額</td>
    <td>
      <input class="form-control" name="amount" style="margin-right:3rem;" type="text" value="{$due}" onkeyup="check_full_paid()" />
      <label for="exchanged_amount">HKD 金額</label>
      <input class="form-control" name="exchanged_amount" type="text" value="{$due}" onkeyup="check_full_paid()"/>
    </td>
  </tr>
  <tr>
    <td>全數付款</td>
    <td>
      <input type="hidden" name="fully_paid" value="0">
      <input type="checkbox" name="fully_paid" value="1" checked="checked">
      我確認這個訂單已全數付款
      <br>
      <span class="notice-span">如仍有尾數未收取，請取消勾選這項</span>
    </td>
  </tr>
  <tr>
    <td>付款方式</td>
    <td>
      {foreach from=$payment_types item=type name=foo}
      <label>
        <input type="radio" name="payment_type_id" value="{$type.payment_type_id}"{if $smarty.foreach.foo.first} checked="checked"{/if}>
        {$type.payment_type_name}
      </label>
      {/foreach}
    </td>
  </tr>
  <tr>
    <td>即時交易</td>
    <td>
      <input type="hidden" name="completed" value="0">
      <input type="checkbox" name="completed" value="1" checked="checked">
      <br>
      <span class="notice-span">一般交易即時完成，支票/期票等可以取消勾選這項</span>
    </td>
  </tr>
  <tr>
    <td>備注</td>
    <td>
      <textarea class="form-control" name="remark" cols="50" rows="5"></textarea>
    </td>
  </tr>
  <tr align="center">
    <td colspan="2">
      {if $crm}
      <input type="hidden"  name="crm"  value="1" />
      <input type="hidden"  name="order_sn"  value="{$order.order_sn}" />
      {/if}
      <input type="hidden"  name="order_id"  value="{$order_id}" />
      <input type="hidden"  name="act"       value="insert" />
      <input type="hidden"  name="type_sn"   value="{$order.type_sn}" />
      <input type="submit" class="btn btn-primary" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="btn btn-primary"  name="Reset"        value="{$lang.button_reset}" />
    </td>
  </tr>
</table>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
var currencies = JSON.parse('{$currencies}');

check_full_paid();
$(function () {
  YOHO.actg.sanitizeAmountInput($('input[name="amount"]'));
});

$(document).ready(function(){
  $(document).on("change","[name='account_id']", function(){
    updateAmount();
    check_full_paid();
  });
  $(document).on("change", "[name='amount']", function(){
    updateAmount();
    check_full_paid();
  });
  $(document).on("change", "[name='exchanged_amount']", function(){
    $("[name='exchanged_amount']").val(parseFloat($("[name='exchanged_amount']").val()).toFixed(2));
    check_full_paid();
  });
});

function updateAmount()
{
  var currency_code = $("[name='account_id']").find(':selected').attr('data-currency-code');
    var exchange_rate = $.grep(currencies, function(e){
      return e.currency_code == currency_code;
    })[0];
    var transaction_amount = $("[name='amount']").val();
    var currency_rate = (typeof exchange_rate == "undefined") ? 1 : exchange_rate.currency_rate;
    var exchanged_amount = parseFloat(transaction_amount) * parseFloat(currency_rate);
    $("[name='exchanged_amount']").val(exchanged_amount.toFixed(2));
    $("[name='amount']").val(parseFloat(transaction_amount).toFixed(2));
}

function check_full_paid() {
  var value = parseFloat($('input[name="exchanged_amount"]').val());
  var due   = parseFloat("{$due}");
  if(value>=due) {
    $('input[name="fully_paid"]').prop('checked', true);
  } else {
    $('input[name="fully_paid"]').prop('checked', false);
  }
  //if()
};

{/literal}
//-->
</script>
{if !$crm}
{include file="pagefooter.htm"}
{/if}