<!-- $Id: wholesale_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="javascript:searchActivity()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    {$lang.goods_name} <input type="text" name="keyword" size="30" />
    <input type="submit" value="{$lang.button_search}" class="btn btn-primary" />
  </form>
</div>

<form method="post" action="wholesale.php" name="listForm" onsubmit="return confirm(batch_drop_confirm);">
<!-- start wholesale list -->
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}

  <table id="#" class="table table-striped table-bordered bulk_action ">
    <tr>
      <th>
        <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox" />
        <a href="javascript:listTable.sort('act_id'); ">{$lang.record_id}</a>{$sort_act_id}</th>
      <th><a href="javascript:listTable.sort('goods_name'); ">{$lang.goods_name}</a>{$sort_goods_name}</th>
      <th>{$lang.rank_name}</th>
      <th><a href="javascript:listTable.sort('enabled'); ">{$lang.enabled}</a>{$sort_enabled}</th>
      <th>{$lang.handler}</th>
    </tr>

    {foreach from=$wholesale_list item=wholesale}
    <tr>
      <td><input value="{$wholesale.act_id}" name="checkboxes[]" type="checkbox">{$wholesale.act_id}</td>
      <td>{$wholesale.goods_name|escape:html}</td>
      <td>{$wholesale.rank_names}</td>
      <td align="center"><img src="images/{if $wholesale.enabled}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_enabled', {$wholesale.act_id})" /></td>
      <td align="center">
        <a href="wholesale.php?act=edit&amp;id={$wholesale.act_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
        <a href="javascript:;" onclick="listTable.remove({$wholesale.act_id},'{$lang.drop_confirm}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>      </td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
  </table>

  <table cellpadding="4" cellspacing="0">
    <tr>
      <td><input type="submit" name="drop" id="btnSubmit" value="{$lang.drop}" class="btn btn-primary" disabled="true" />
      <input type="hidden" name="act" value="batch" /></td>
      <td align="right">{include file="page.htm"}</td>
    </tr>
  </table>

{if $full_page}
</div>
<!-- end wholesale list -->
</form>

<script type="text/javascript" language="JavaScript">
<!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
    document.forms['searchForm'].elements['keyword'].focus();

    startCheckOrder();
  }

  /**
   * 搜索团购活动
   */
  function searchActivity()
  {

    var keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter['keyword'] = keyword;
    listTable.filter['page'] = 1;
    listTable.loadList("wholesale_list");
  }
  {/literal}
//-->
</script>

{include file="pagefooter.htm"}
{/if}