<!-- $Id: wholesale_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{include file="pageheader.htm"}
{if $smarty.request.act eq 'list'}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="list-div x_panel">
    <table class="table table-striped jambo_table">
        <thead>
            <tr>
                <th>編號</th>
                <th>公司名稱</th>
                <th>聯絡人</th>
                <th>聯絡電話</th>
                <th>聯繫地址</th>
                <th>會員帳號</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$list item=row}
            <tr>
                <td>{$row.wsid}</td>
                <td><span onclick="listTable.edit(this, 'edit_company', {$row.wsid})">{$row.company}</span></td>
                <td><span onclick="listTable.edit(this, 'edit_name', {$row.wsid})">{$row.name|default:N/A}</span></td>
                <td><span onclick="listTable.edit(this, 'edit_phone', {$row.wsid})">{$row.phone|default:N/A}</span></td>
                <td><span onclick="listTable.edit(this, 'edit_address', {$row.wsid})">{$row.address|default:N/A}</span></td>
                <td>
                    {foreach from=$row.users item=user}
                    <div>
                        <a href='users.php?act=list&keywords={$user.user_name}'>{$user.user_name}</a>
                        <button type="button" class="btn btn-sm btn-danger removeUser" data-wsid="{$row.wsid}" data-uid="{$user.user_id}">移除</button>
                    </div>
                    {/foreach}
                    <div>
                        <button type="button" class="btn btn-sm btn-info addUser" data-wsid="{$row.wsid}">新增</button>
                    </div>
                </td>
            </tr>
            {foreachelse}
            <tr>
                <td colspan="6">{$lang.no_records}</td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>
<script>
$(".addUser").click(function(e){
    var wsid = $(e.target).data('wsid');
    var title = "連結批發會員";
    $div = $("<div>" +
                "<div class='input-group'>" +
                    "<span class='input-group-addon'>會員電話</span>" +
                    "<input class='form-control' name='wholesale_user_name' placeholder=''>" +
                    "<span class='input-group-btn'>" +
                        "<button class='btn btn-info search' type='button'>搜尋</button>" +
                    "</span>" +
                "</div>" +
                "<br>" +
            "</div>");
    var searchUser = function() {
        var user = $div.find('input[name=wholesale_user_name]').val();
        if (user != "") {
            $.ajax({
                url: 'wholesale_invoice.php',
                dataType: 'json',
                data: {
                    act: 'search_user',
                    user: user,
                    wsid: wsid,
                },
                success: function(res) {
                    var users = res.content.users;
                    $div.find('form').remove();
                    $form = $("<form><input name='act' value='bind_user' type='hidden'><input name='wsid' value='" + wsid + "' type='hidden'></form>");
                    $table = $("<table class='table'></table>");
                    if (users.length > 0) {
                        users.map((v)=>{
                            $table.append(
                                "<tr>" +
                                    "<td><input class='flat' name='user_id' type='radio' value='" + v.user_id + "' required></td>" +
                                    "<td><a href='users.php?act=list&keywords=" + v.user_name + "'>" + v.user_name + "</a></td>" +
                                "</tr>"
                            );
                        })
                        $table.append("<tr><td colspan='2'><input class='btn btn-success' type='submit'></td></tr>");
                    } else {
                        $table.append("<tr><td colspan='2'>{$lang.no_records}</td></tr>");
                    }
                    $table.appendTo($form);
                    $form.appendTo($div);
                    turn_on_icheck();
                }
            })
        }
    }
    $div.find('button.search').click(function() {searchUser();})
    $div.find('input[name=wholesale_user_name]').blur(function() {searchUser();})
    $popup = modal.create(title, $div, false, "sm");
    modal.show($popup);
})
$(".removeUser").click(function(e){
    var wsid = $(e.target).data('wsid');
    var uid = $(e.target).data('uid');
    if (wsid != "" && uid != "") {
        location.href = "wholesale_invoice.php?act=unbind_user&wsid=" + wsid + "&user_id=" + uid
    }
})
</script>
{elseif $smarty.request.act eq 'add'}
<div class="main-div x_panel">
    <form method="post" action="wholesale_invoice.php?act=insert" class="tab-content form-horizontal form-label-left">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">公司名稱</label>
            <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" class="form-control" name="company" size="60" required></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">聯絡人</label>
            <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" class="form-control" name="name" size="60"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">聯絡電話</label>
            <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" class="form-control" name="phone" size="60"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">聯繫地址</label>
            <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" class="form-control" name="address" size="60"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">會員電話</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class='input-group'>
                    <input class='form-control' name='wholesale_user_name' placeholder=''>
                    <span class='input-group-btn'>
                        <button class='btn btn-info search' type='button'>搜尋</button>
                    </span>
                </div>
                <div id='user_search'></div>
                <div id='user_list'></div>
            </div>
        </div>
        <div class="form-group">
            <div class="ln_solid"></div>
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
                <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<script>
$("form").keypress(function(e) {
    if (e.which == 13) {
        e.preventDefault();
    }
})
.submit(function(e){
    if($("input[name=company]").val() == ""){
        e.preventDefault();
    }
    $("#user_search").remove();
    $("input[name=wholesale_user_name]").prop('disabled', true)
})
var searchUser = function() {
    var user = $('input[name=wholesale_user_name]').val();
    if (user != "") {
        $.ajax({
            url: 'wholesale_invoice.php',
            dataType: 'json',
            data: {
                act: 'search_user',
                user: user,
            },
            success: function(res) {
                var users = res.content.users;
                $('#user_search').empty();
                $table = $("<table class='table'></table>");
                if (users.length > 0) {
                    users.map((v)=>{
                        $table.append(
                            "<tr>" +
                                "<td><input class='flat' name='user_id' type='radio' value='" + v.user_id + "' data-name='" + v.user_name + "'></td>" +
                                "<td><a href='users.php?act=list&keywords=" + v.user_name + "'>" + v.user_name + "</a></td>" +
                            "</tr>"
                        );
                    })
                    $table.append("<tr><td colspan='2'><input class='btn btn-success' type='button' value='新增'></td></tr>");
                } else {
                    $table.append("<tr><td colspan='2'>{$lang.no_records}</td></tr>");
                }
                $table.appendTo('#user_search');
                $table.find('input.btn-success').click(function(){
                    $sel = $('input[name=user_id]:checked');
                    if ($sel.length > 0 && $("input[name^=user_list][value=" + $sel.val() + "]").length == 0) {
                        $div = $(
                            "<div style='display: inline-block; width: 150px'>" +
                                "<input type='checkbox' name='user_list[]' value='" + $sel.val() + "' checked> " + $sel.data('name') +
                            "</div>"
                        )
                        $div.appendTo("#user_list");
                    }
                })
                turn_on_icheck();
            }
        })
    }
}
$('button.search').click(function() {searchUser();})
$('input[name=wholesale_user_name]').blur(function() {searchUser();})
</script>
{/if}
{include file="pagefooter.htm"}