{include file="pageheader.htm"}
{include file="includes/datatables_header.htm"}

<div class="x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form name="TimeInterval"  action="javascript:getList()" class="form-inline">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH">
    {$lang.start_date}&nbsp;
    <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    {$lang.end_date}&nbsp;
    <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' class="form-control" data-type="date" />&nbsp;&nbsp;
    訂單號&nbsp;
    <input name="ws_order_sn" type="text" id="order_sn" size="15" value="{$order_sn}" class="form-control">&nbsp;&nbsp;
    批發客戶&nbsp;
    <select name="user_id">
      <option>- 所有客戶 -</option>
      {foreach from=$users item=caption key=val}
      <option value="{$val}"{if $val eq $filter.user_id} selected="selected"{/if}>{$caption}</option>
      {/foreach}
    </select>&nbsp;&nbsp;
    帳戶&nbsp;
    <select name="account">
      <option value="0">- 所有賬戶 -</option>
      {foreach from=$accounts item=account}
      <option value="{$account.account_id}"{if $account.account_id eq $filter.account} selected="selected"{/if}>{$account.account_name}</option>
      {/foreach}
    </select>&nbsp;&nbsp;
    付款方式&nbsp;
    <select name="payment_type">
      <option value="0">- 所有方式 -</option>
      {foreach from=$payment_types item=type}
      <option value="{$type.payment_type_id}"{if $type.payment_type_id eq $filter.payment_type} selected="selected"{/if}>{$type.payment_type_name}</option>
      {/foreach}
    </select>&nbsp;&nbsp;
    <input type="submit" name="submit" value="{$lang.query}" class="btn btn-primary" />
  </form>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">

  <table class="table table-striped table-bordered bulk_action" id="payment_list">
    <thead>
      <tr>
        <th data-id="wholesale_payment_id">{$lang.record_id}</th>
        <th data-id="add_date" data-value="add_date_formatted">加入日期</th>
        <th data-id="complete_date" data-value="complete_date_formatted">完成日期</th>
        <th data-id="order_sn">訂單</th>
        <th data-id="order_amount" data-value="order_amount_formatted">訂單總金額</th>
        <th data-id="amount" data-value="amount_formatted">付款金額</th>
        <th data-id="payment_type_id" data-value="payment_type_name">付款方式</th>
        <th data-id="account_id" data-value="account_name">帳戶</th>
        <th data-id="operator">操作員</th>
        <th data-id="remark">備注</th>
      </tr>
    </thead>
  </table>
</div>
</div>

<script type="text/javascript" language="JavaScript">
function completeTransaction(txn_id)
{
  try
  {
    if (confirm('您確定要完成交易？'))
    {
      Ajax.call('accounting_report.php?is_ajax=1&act=complete_txn&txn_id=' + txn_id, '', completeTransactionResponse, 'GET', 'JSON');
    }
  }
  catch (e) { }
}

function completeTransactionResponse(result)
{
  try
  {
    alert(result.message);
    if (!result.error)
    {
      // reload the list
      getList();
    }
  }
  catch (e) { }
}
</script>

{include file="pagefooter.htm"}
<script>
  $table = yoho_dataTable();
  function getList() {
    $filter = [];
    $filter['start_date'] = $("input[name=start_date]").val();
    $filter['end_date'] = $("input[name=end_date]").val();
    $filter['order_sn'] = $("input[name=ws_order_sn]").val();
    $filter['account'] = $("select[name=account]").val();
    $filter['user_id'] = $("select[name=user_id]").val();
    $filter['payment_type'] = $("select[name=payment_type]").val();
    $("#payment_list").data('dt_params', $filter);
    $("#payment_list").DataTable().draw()
  }
</script>