{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class=" x_panel">
<div class="form-div col-md-12 col-sm-12 col-xs-12">
  <form action="javascript:getList()" class="form-inline" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    &nbsp;搜尋產品 <input class="form-control" type="text" name="keyword" id="keyword" size="20" placeholder="產品名稱或貨號">
    &nbsp;搜尋會員 <input class="form-control" type="text" name="user" id="user" size="20" placeholder="手提電話號碼或電郵地址">
    <input class="form-btn btn btn-success" type="submit" value="{$lang.button_search}" />
  </form>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
{/if}
<table class="table table-striped table-bordered bulk_action" id="#">
<tr>
  <th width="40">產品圖片</th>
  <th><a href="javascript:listTable.sort('goods_name'); ">產品名稱</a>{$sort_goods_name}</th>
  <th><a href="javascript:listTable.sort('goods_sn'); ">Barcode</a>{$sort_goods_sn}</th>
  <th><a href="javascript:listTable.sort('user_name'); ">會員名稱</a>{$sort_user_name}</th>
  <th><a href="javascript:listTable.sort('add_time'); ">加入時間</a>{$sort_add_time}</th>
  <th><a href="javascript:listTable.sort('total_added'); ">願望總數</a>{$sort_total_added}</th>
</tr>
{foreach from=$list item=row}
<tr>
  <td align="center"><img src="/{$row.goods_thumb}" width="40" height="40"></td>
  <td align="left"><a href="/goods.php?id={$row.goods_id}" target="_blank">{$row.goods_name}</a></td>
  <td align="center"><a href="goods.php?act=list&amp;keyword={$row.goods_sn|escape:url}">{$row.goods_sn}</a></td>
  <td align="center"><a href="users.php?act=list&amp;keywords={$row.user_name}" title="{$row.user_name}">{$row.display_name}</a></td>
  <td align="center">{$row.add_date}</td>
  <td align="center">{$row.total_added}</td>
</tr>
{foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
{/foreach}
</table>
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>
</div>
<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

function getList()
{
  listTable.filter['keyword'] = document.forms['searchForm'].elements['keyword'].value;
  listTable.filter['user'] = document.forms['searchForm'].elements['user'].value;
  listTable.filter['page'] = 1;
  listTable.loadList();
}

//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}