{include file="pageheader.htm"}

<div class="x_panel">
    <form action="write_off.php" class="form-inline" method="post">
        開始時間: <input class="form-control" name="start_time" type="text" data-type="date" value="{$start_time}">
        結束時間: <input class="form-control" name="end_time" type="text" data-type="date" value="{$end_time}">
        <input class="btn btn-info" id="submit" type="submit">
        {insert name=daterange_group start_date=start_time end_date=end_time}
    </form>
    <ul class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#inventory" id="inventory_tab" role="tab" data-toggle="tab" aria-expanded="true">盤點調整</a>
        </li>
        <li role="presentation">
            <a href="#depreciation" id="depreciation_tab" role="tab" data-toggle="tab" aria-expanded="true">折舊報廢</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="inventory" aria-labelledby="inventory_tab">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>編號</th>
                        <th>產品名稱</th>
                        <th>數量</th>
                        <th>金額</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$inventory item=goods}
                    <tr>
                        <td>{$goods.goods_id}</td>
                        <td>{$goods.goods_name}</td>
                        <td>{$goods.qty}</td>
                        <td>{$goods.cost}</td>
                    </tr>
                    {foreachelse}
                    <tr>
                        <td colspan="4">{$lang.no_records}</td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
            <div>
                <a class="btn btn-default" href="/x/write_off.php?act=inventory_adjust_report_export">匯出報告</a>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="depreciation" aria-labelledby="depreciation_tab">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>編號</th>
                        <th>產品名稱</th>
                        <th>數量</th>
                        <th>金額</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$depreciation item=goods}
                    <tr>
                        <td>{$goods.goods_id}</td>
                        <td>{$goods.goods_name}</td>
                        <td>{$goods.qty}</td>
                        <td>{$goods.cost}</td>
                    </tr>
                    {foreachelse}
                    <tr>
                        <td colspan="4">{$lang.no_records}</td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
            <div>
                <a class="btn btn-default" href="/x/write_off.php?act=depreciation_report_export">匯出報告</a>
            </div>
        </div>
    </div>
</div>
{include file="pagefooter.htm"}