
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js"}
{include file="includes/datatables_header.htm"}
{insert_scripts files="../js/utils.js"}
<style>
    .top_btn>.btn>span.badge {
        position: absolute;
        top: -10px;
        color: white;
        padding: 3px 6px;
    }
    .top_btn>.btn {
        position: relative;
    }
</style>
<div class=" x_panel">
<form action="javascript:searchGoods()" name="searchForm" class="form-inline">
  產品關鍵字/Yahoo SKU <input class="form-control" name="search" type="text">
  <input class="form-btn btn btn-success" type="submit" value="{$lang.query}">
</form>
<form method="post" action="" name="listForm" onsubmit="return confirmSubmit(this)">
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="listDiv">
        <table class="table table-striped table-bordered bulk_action" id="#">
            <thead>
            <tr class="headings">
                <th data-id="yahoo_id" data-key="yahoo_id">
                    <input type="checkbox" id="check-all" class="flat">{$lang.record_id}
                </th>
                <th data-id="created_at" data-value="created_at_formatted">{$lang.created_at}</th>
                <th data-id="goods_id" data-value="goods_thumb" data-type="image">產品圖片</th>
                <th data-id="goods_name">{$lang.goods_name}</th>
                <th data-id="yahoo_sku" data-edit="true">Yahoo SKU</th>
                <th data-id="market_price" data-value="market_price_formatted">{$lang.market_price}</th>
                <th data-id="yahoo_price" data-value="yahoo_price_formatted">{$lang.yahoo_price}</th>
                <th data-id="goods_price" data-value="goods_price_formatted">友和售價</th>
                <th data-id="yahoo_quantity">{$lang.yahoo_quantity}</th>
                <th data-id="is_stock" data-type="toggle">庫存</th>
                <th data-id="is_sale" data-type="toggle">上架</th>
                <th data-id="yahoo_brand_id" data-edit="true">{$lang.yahoo_brand_id}</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
  <div class="form-inline">
    <input type="hidden" name="act" value="batch" />
    <select class="form-control" name="type" id="selAction" onchange="changeAction()">
      <option value="">{$lang.select_please}</option>
      <option value="drop">移除</option>
      <option value="export">匯出到CSV</option>
    </select>
    <input type="submit" value="{$lang.button_submit}" id="btnSubmit" name="btnSubmit" class="form-btn btn btn-primary"/>
  </div>
  {include file="pagefooter.htm"}
  <script type="text/javascript" language="JavaScript">
  var $table= yoho_dataTable();
  {literal}
  onload = function()
  {
    startCheckOrder(); // 开始检查订单
    document.forms['listForm'].reset();
  }
  /**
  * @param: bool
  */
  function confirmSubmit(frm, ext)
  {
    $(frm).append('<input type="hidden" name="id" value="'+$table.getSelectValue()+'" />');
    if (frm.elements['type'].value == 'drop')
    {
      return confirm('{$lang.drop_confirm}');
    }
    else if (frm.elements['type'].value == 'export')
    {
      return confirm('{$lang.export_confirm}');
    }
    else if (frm.elements['type'].value == '')
    {
      return false;
    }
    else
    {
      return true;
    }
  }
  function changeAction()
  {
    var frm = document.forms['listForm'];
    if (!document.getElementById('btnSubmit').disabled &&
    confirmSubmit(frm, false))
    {
      frm.submit();
    }
  }
  function searchGoods()
  {
    $filter = [];
    $filter['search'] = document.forms['searchForm'].elements['search'].value;
    $table.search($filter);
  }
  $(".btn[href^=\"yahoo_store.php?act=export\"]").click(
	  function(e) {
		  // e.preventDefault();
		  //open download link in new page
		  // window.open( $(this).attr("href") );
		  //redirect current page to success page
		  setTimeout('window.location.reload();', 3000);

		  window.focus();
	  }
  );
  {/literal}
  </script>