{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,selectzone.js,validator.js"}
<form action="yahoo_store.php" method="post" name="theForm" class="form-horizontal">
  <div class=" x_panel">
    <div id="brands-goods-table">
      <!-- Yahoo 分類 ID -->
      <div class="form-inline">
        <div class="form-group">
          Yahoo 分類 ID:
          <input class="form-control" type="text" name="b_id" size="30" />
          Yahoo 換領地址編號:
          <input class="form-control" type="text" name="address_id" size="30" value="{$address_id}"/>
        </div>
        <!-- 商品搜索 -->
        <div class="form-group">
          <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
          <!-- 分类 -->
          <select class="form-control" name="cat_id"><option value="0">{$lang.all_category}</caption>{$goods_cat_list}</select>
          <!-- 品牌 -->
          <select class="form-control" name="brand_id"><option value="0">{$lang.all_brand}</caption>{html_options options=$brand_list}</select>
          <!-- 关键字 -->
          <input class="form-control" type="text" name="keyword" size="30" />
          <input type="button" value="{$lang.button_search}" onclick="searchGoods()" class="form-btn btn btn-success" />
        </div>
      </div>
      <!-- 商品列表 -->
      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-64 sz_left">
          {$lang.all_goods}
          <div class="col-xs-12 btn-group">
            <input type="button" value="&gt;" onclick="addGoods()" class="btn btn-default col-md-12 col-sm-12" />
          </div>
          <select class="form-control" name="source_select" id="source_select" size="20" ondblclick="addGoods()" multiple="true">
          </select>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 sz_right">
          {$lang.link_goods}
          <div class="col-xs-12 btn-group">
            <input type="button" value="&lt;" onclick="dropGoods()" class="btn btn-default col-md-12 col-sm-12" />
          </div>
          <select class="form-control" name="target_select[]" id="target_select" multiple="true" size="20" ondblclick="dropGoods()">
          </select>
        </div>
      </div>
      <div class="button-div form-group">
        <div class="ln_solid"></div>
          <div class="col-md-7 col-sm-7 col-xs-12 col-md-offset-5">
          <input type="hidden" name="act" value="{$form_action}" />
          <input type="button" id="frmBtn" value="{$lang.button_submit}" class="btn btn-primary" onclick="addAll()" />
        </div>
      </div>
    </div>
  </div>
</form>

<script language="JavaScript">

var elements  = document.forms['theForm'].elements;
var sz        = new SelectZone(1, elements['source_select'], elements['target_select[]'], '');

function searchGoods()
{
    var filters   = new Object;

    filters.cat_id = elements['cat_id'].value;
    filters.brand_id = elements['brand_id'].value;
    filters.keyword = Utils.trim(elements['keyword'].value);
    filters.is_on_sale = 1;

    sz.loadOptions('get_goods_list', filters);
}

function addGoods()
{
    var leftSelect = elements['source_select'];
    var rightSelect = elements['target_select'];
    var length = leftSelect.options.length;
    for (var i = 0; i < length ; i++) {
        if (leftSelect.selectedIndex != -1) {
            var option = leftSelect.options[leftSelect.selectedIndex];
            rightSelect.append(option);
        }
    }
}

function dropGoods()
{
    var leftSelect = elements['source_select'];
    var rightSelect = elements['target_select'];
    var length = rightSelect.options.length;
    for (var i = 0; i < length; i++) {
        if (rightSelect.selectedIndex != -1) {
            var option = rightSelect.options[rightSelect.selectedIndex];
            leftSelect.append(option);
        }
    }
}

function addAll() {
  $('#target_select  option').prop('selected', true);
  document.forms['theForm'].submit();
}


</script>
{include file="pagefooter.htm"}
