/*
** 我的NALA管理页面样式
*/

body {background-color:#f8f8f8; }
.hidden, .hide { display:none; }
.gray888, .gray888 a { color:#888; }
.gray111 a{ background:url(http://img.nala.com.cn/b2c/images/buy_more.jpg) no-repeat 0 0; width:68px; height:25px; line-height:25px; display:inline-block; color:#111; text-align:center; }
.gray111 a:hover { color:#FF7D8E; }
.gray111 a.J_exBtn { background:none; width:auto; }

/*页面位置*/
.my_nala_tip { height: 30px; line-height: 30px; }
.my_nala_tip li { display:inline; margin-right: 4px; color: #666666; }

/*左侧slidebar*/
.slidebar {float: left; width: 182px; padding-bottom: 50px;}
.slidebar .slide_item { +zoom: 1; border:1px solid #e7e7e7; margin-bottom: 10px; background-color:#fff; }
.slidebar .root_node { border-bottom: solid 1px #e7e7e7; padding: 14px 0 14px 14px; }
.slidebar .item ul { padding-left: 26px; border-bottom: solid 1px #e7e7e7; }
.slidebar .item .node { padding:10px 0 10px 10px; }

.slidebar .node_name { background: url(http://img.nala.com.cn/b2c/images/inala_tip_bj_0.jpg) no-repeat -9999px 0; display: inline-block; padding: 1px 27px 1px 31px; height: 25px; margin-right: 3px; vertical-align: middle; line-height:25px;}
.slidebar .ico_new_name { background-position:0 -1px; }
.slidebar .ico_new_name:hover{ background-position: 0 -510px; }
.slidebar .node_name_top { background-position:0 -1035px; }
.slidebar .icon_refund { background-position:0 -275px; }
.slidebar .icon_refund:hover { background-position:0 -784px; }
.slidebar .icon_discount_coupon { background-position: 0 -103px; }
.slidebar .icon_discount_coupon:hover { background-position: 0 -612px; }
.slidebar .icon_number { background-position:0 -135px; }
.slidebar .icon_number:hover { background-position: 0 -645px; }
.slidebar .icon_account_balance { background-position:0 -172px; }
.slidebar .icon_account_balance:hover { background-position: 0 -681px; }
.slidebar .icon_consult { background-position:0 -205px; }
.slidebar .icon_consult:hover { background-position:0 -714px; }
.slidebar .icon_appraise { background-position:0 -240px; }
.slidebar .icon_appraise:hover { background-position:0 -749px; }
.slidebar .icon_integral { background-position:0 -33px; }
.slidebar .icon_integral:hover { background-position: 0 -542px; }
.slidebar .icon_coupon { background-position:0 -68px; }
.slidebar .icon_coupon:hover { background-position: 0 -577px; }
.slidebar .icon_security_settings { background-position:0 -447px; }
.slidebar .icon_security_settings:hover { background-position:0 -956px; }
.slidebar .icon_nami { background-position:0 -482px; }
.slidebar .icon_nami:hover { background-position:0 -991px; }
.slidebar .icon_edit_pwd { background-position:0 -412px; }
.slidebar .icon_edit_pwd:hover { background-position:0 -921px; }
.slidebar .icon_edit_address { background-position:0 -379px; }
.slidebar .icon_edit_address:hover { background-position:0 -888px; }
.slidebar .icon_email { background-position:0 -1077px; }
.slidebar .icon_email:hover { background-position:0 -1055px; }
.slidebar .icon_collect { background-position:0 -310px; }
.slidebar .icon_collect:hover { background-position:0 -819px; }
.slidebar .icon_person_document { background-position:0 -344px; }
.slidebar .icon_person_document:hover { background-position:0 -854px; }
.slidebar .ico_newicon_nami_horn { background-position: 0 -1018px; margin-top: 5px; padding: 0; width: 25px; }
.slidebar .corner { display:none;}


/*我的NALA首页*/
.inala_box_r { border: 1px solid #E7E7E7; margin-bottom:10px; }

/*我的NALA首页 欢迎您*/
.inala_welcome { height:60px; background:#f5f5f5; border-bottom:1px solid #e4e4e4; border-top:2px solid #111; padding-left:10px;}
.inala_welcome h3 { font-size:14px; font-weight:bold; }
.inala_welcome h3 a { font-weight:normal; font-size:12px; margin-left:40px; }
.inala_welcome .login_tip { margin-top:5px; font-size:12px; color:#999; }
.inala_welcome .welcome_left { padding-top:10px; width:400px; float:left; }
.inala_welcome .welcome_right a { display:block; float:right; height:40px; line-height:40px; margin-top:10px; width:350px; padding: 0 15px; }


/*我的NALA首页 右侧my_nala_vip_dj*/
.my_nala_centre { float: right; width: 813px; overflow:hidden; background-color: #FFFFFF; }
.my_nala_centre .welcome_info { background: url(http://img.nala.com.cn/b2c/images/gonggao.png) 14px 16px no-repeat; position:relative; padding:12px; padding-left:30px; height:18px; }
.my_nala_centre .my_nala_vip { padding:20px; }
.my_nala_vip h3 { font-size: 14px; font-weight:bold; }
.my_nala_vip h3 a { margin-left:20px; font-size:12px; font-weight:normal; }
.my_nala_vip .login_tip { color:#999; margin:10px 0; }
.my_nala_vip .member_info { width:100%; margin-top:5px; }
.my_nala_vip .member_info td { padding:6px 0; vertical-align:top; }
.my_nala_vip .member_info td.tit { width:60px; }
.my_nala_vip .member_info td.txt span { margin-right:40px; }
.my_nala_vip .member_info td.txt span i { color:#c03; }
.my_nala_vip .member_info td.txt .member_name { height:55px; }
.my_nala_vip .member_info td.txt .member_num { width:340px; padding-left:14px; }
.my_nala_vip .member_info td.txt .member_num .member_num_total, .member_num_tongji dt { background: url(http://img.nala.com.cn/b2c/images/my_nala_vip_dj.png) 0 1px no-repeat; }
.my_nala_vip .member_info td.txt .member_num .member_num_total { width:158px; padding:1px; border: 1px solid #e4e4e4; height:12px; overflow:hidden; }
.my_nala_vip .member_info td.txt .member_num .member_num_now { background:#e22b05; color:#fff; font-family:"宋体"; line-height:12px; height:12px; text-align:center; }
.my_nala_vip .member_info td.txt .member_num_tongji { position:relative; margin-top:6px; padding-top:5px; }
.my_nala_vip .member_info td.txt .member_num_tongji dt { background-position:0 -14px; height:6px; width:6px; overflow:hidden; position:absolute; top:0; left:50px; }
.my_nala_vip .member_info td.txt .member_num_tongji dd { border:1px solid #f0e5ba; background:#ffffe9; padding:5px; text-align:center; }
.my_nala_vip .member_info td.txt .member_num_tongji dd i { color:#c03; margin:0 3px; }
.my_nala_vip .member_info td.txt .member_sm { color:#999; padding-bottom:20px; padding-top:10px; }
.my_nala_vip .member_info td.txt .member_sm a { margin-left:30px; }
.my_nala_centre .trade_tji { padding:10px 10px 10px 120px;background-color: #f8f8f8; margin: 0 20px 40px;}
.my_nala_centre .trade_tji li { float:left; padding:0 30px; }
.my_nala_centre .trade_tji li a i { color:#c03; }

/*首页：今日团购，疯狂热卖  tab框*/
.tuansection{margin: 0 20px; padding-bottom: 20px;}
.tuansection ul.title { height: 34px; border-bottom: 1px solid #e4e4e4; }
.tuansection ul.title li { height: 32px; line-height:32px; float: left; border: 1px solid #e4e4e4; margin-right: 3px; display: block; padding: 0 35px; background:#F8F8F8; cursor:pointer; position:relative; top:1px; }
.tuansection ul.title li.on { border-bottom: 1px solid #fff; background:#fff; }
.tuansection .condv { padding: 15px 0 10px 8px; border: 1px solid #e4e4e4; border-top:none;}
.tuansection .condv li {float: left; margin:0 8px; _display:inline; }
.tuansection .condv .today_tuan li { width:237px;}

/*我的NALA首页  今日团购 */
.today_tuan_pro { width:237px; height:221px; background:url(http://img.nala.com.cn/b2c/images/inala_tuan_bj.png) no-repeat 0 0; padding-top:50px; }
.today_tuan_pro h3 { font-size:18px; font-weight:bold; margin-left:25px; }
.today_tuan_pro h3 a { color:#d4062e; }
.today_tuan_pro h4 { font-size:14px; color:#999; font-weight:bold; margin-left:25px; }
.today_tuan_pro .pro_inf { padding-top:15px; margin-left:10px; }
.today_tuan_pro .pro_inf_left { width:110px; float:left; }
.today_tuan_pro .pro_inf_left span { margin-left:20px; display:block; width:53px; height:43px; padding-top:10px; text-align:center; font-size:22px; font-weight:bold; background:url(http://img.nala.com.cn/b2c/images/inala_tuan_zhe_bj.png) no-repeat 0 0; color:#fff; line-height:18px; }
.today_tuan_pro .pro_inf_left strong { font-size:24px; color:#d4062e; font-weight:bold; margin-left:10px; }
.today_tuan_pro .pro_inf_left a { display:block; width:106px; height:32px; background:url(http://img.nala.com.cn/b2c/images/inala_tuan_button_bj.png) 0 0; line-height:32px; text-indent:15px; font-weight:bold; font-size:16px; color:#333; }
.today_tuan_pro .pro_pic { float:left; }



/*我的NALA右侧*/
.my_nala_main .my_nala_detail { float: right; width: 770px; border:1px solid #e7e7e7; padding: 20px; min-height:780px; _height:780px; background-color:#fff; }
.my_nala_detail h1 { font-size: 14px; font-weight: bold; line-height: 25px; height: 25px; }
.my_nala_detail .detail_r { padding:20px 15px; }
.my_nala_detail .detail_r h2 { height:20px; margin-bottom:5px; font-size:12px; font-weight:bold; }
.my_nala_detail .detail_r h2 a { font-weight:normal; }
.my_nala_detail .detail_r h3 { height:20px; margin-bottom:5px; font-size:12px; border-bottom:1px solid #e7e7e7 }
.my_nala_detail table.admin_table { width:100%; margin-bottom:50px; }
.my_nala_detail table.admin_table th { text-align:center; font-weight:normal; }
.my_nala_detail table.admin_table th, .my_nala_detail table.admin_table td { padding:14px 10px 5px; }
.my_nala_detail table.admin_table td.tc { text-align:center; }
.my_nala_detail table.admin_table td .address_a { display:none; }
.my_nala_detail table.admin_table td .address_ok_ico, .update_ok_ico { background: url(http://img.nala.com.cn/b2c/images/icon_true_01.png) no-repeat 0 0; width:15px; height:15px; display:inline-block; }
.update_ok_ico { width:auto; padding-left:20px; line-height:16px; }
/*收货地址*/
.form_box ul { padding: 8px 0 0 20px; }
.form_box li { padding:10px 0; }
.form_box li span { margin-right:20px; font-family:"宋体"; }
.form_box li em { color:#f00; }
.form_box li a { margin-left:10px; color:#c03; }
.form_box li input { background: url(http://img.nala.com.cn/b2c/images/login_input_bj.png) repeat-x 0 0; border: 1px solid #adadad; height: 28px; width: 168px; padding:0 3px; line-height:28px; overflow:hidden; }
.form_box li input.long { width:300px; }
.form_box li input.short { width:50px; text-align:center; margin-right:14px; }
.form_box li input.radio { width:20px; background:none; border:none; }
.my_nala_detail input.button { background: url(http://img.nala.com.cn/b2c/images/login_button_bj.png) repeat-x 0 -5px; width: 100px; height: 34px; font-size: 12px; font-weight: bold; color: #fff; margin-top:10px; border: none; cursor:pointer; overflow:hidden; }
.my_nala_detail .my_point .Td_1 span { margin-right: 5px; margin-left: 5px; color: #D4062E; font-weight: bold; }
.my_nala_detail .My_collect #collectform .all_dispose a { margin-right: 10px; margin-left: 10px; }
.my_nala_detail .My_collect p { padding:0 10px; }
.my_nala_detail .My_collect p.Collect_time { color:#888; }
.my_nala_detail .My_collect p input { cursor:pointer; margin-top:18px; background: url(http://img.nala.com.cn/b2c/images/login_button_bj.png) repeat-x 0 -10px; text-align:center; color:#fff; border:none; height:27px; line-height:27px; width:100px; }
.my_nala_detail .My_collect p.delete_btn { height:16px; margin-top:5px; }
.my_nala_detail .My_collect p.delete_btn a { display:none; }
.my_nala_detail .my_coupons .Td_4 a { margin-left: 10px; }
.my_nala_detail .My_account p { margin-left: 13px; margin-top: 5px; margin-bottom: 5px; }
.my_nala_detail .My_account span { font-size: 12px; font-weight: bold; color: #D4062E; }
#zhye_pagelist { padding-right:10px; text-align:right; }
#zhye_pagelist span { margin-left:5px; color:#333; font-weight:normal; }
#zhye_pagelist a { margin-left:5px; }
#collectform .Pad { margin-right: auto; margin-left: auto; margin-top: 5px; margin-bottom: 5px; font-size: 12px; font-weight: normal; border: 1px solid #F1F1F1; padding-bottom: 10px; width: 97%; }
#collectform .Pad p { width: 750px; margin-top: 10px; margin-left: 10px; }
#collectform .Pad ul { margin-left: 10px; margin-bottom: 10px; }
#collectform .Pad li { list-style-type: disc; margin-left: 30px; line-height: 20px; }
#collectform .Pad span { margin-left: 10px; font-weight: bold; font-size: 12px; }
#collectform .Copy_ads { padding-left: 15px; }
.Copy_ads li { line-height: 30px; }
.Copy_ads .Input_li input { width: 400px; height: 26px; font-size: 12px; background: url(http://img.nala.com.cn/b2c/images/input_bj.png) repeat-x left center; line-height: 26px; border: 1px solid #adadad; padding-left: 6px; }
.Copy_ads .Input_li img { position: relative; left: 5px; }
.Copy_ads .Copy_ads_box { margin-top: 10px; margin-bottom: 10px; }
.Copy_ads .Copy_ads_box li { margin-right: 10px; display:inline; line-height: 30px; height: 30px; }
#collectform .Mail { font-size: 12px; margin: 10px; margin-right:5px; }
#collectform .Mail table td { border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; }
.Mail table input { width: 300px; height: 18px; padding-top: 3px; font-size: 12px; }
.Mail table textarea { height: 112px; width: 526px; font-size: 12px; border: 1px solid #adadad; }
.Under_main_box { width: 1007px; margin-top: 10px; margin-right: auto; margin-left: auto; }
.Under_main_box ul { margin-left: 20px; }
.Under_main_box li { float: left; margin-right: 20px; margin-left: 20px; }
.my_nala_detail .My_collect_right #collectform table { margin-top: 5px; }
.my_nala_detail .My_collect_right #collectform .Copy_ads .Input_li button { background: url(http://img.nala.com.cn/b2c/images/login_button_bj.png) repeat-x left top; height: 28px; border: none; font-size: 12px; font-weight: bold; color: #FFFFFF; line-height: 28px; margin-left: 15px; width: 80px; }
.my_nala_detail .My_collect_right #collectform .Mail input { background: url(http://img.nala.com.cn/b2c/images/input_bj.png) repeat-x left top; height: 26px; padding-left: 6px; border: 1px solid #adadad; line-height: 26px; }
.my_nala_detail .My_collect_right #collectform .Mail button { background: url(http://img.nala.com.cn/b2c/images/login_button_bj.png) repeat-x left top; height: 28px; border: none; font-size: 12px; font-weight: bold; color: #fff; line-height: 28px; width: 80px; }
.User_information select { margin-right: 5px; font-size: 12px; }
.Basic_information h3 { border-bottom:1px solid #E4E4E4; padding-left: 15px; font-size: 12px; font-weight:normal; }
.Basic_information ul { margin-top: 10px; margin-bottom: 10px; margin-left: 30px; }
.Basic_information li { font-size: 12px; line-height: 50px; height: 50px; }
.Basic_information #Input_text { width: 150px; background: url(http://img.nala.com.cn/b2c/images/input_bj.png) repeat-x left center; height: 26px; border: 1px solid #adadad; line-height: 26px; }
.Basic_information img { position: relative; left: 20px; bottom: 1px; }
.Basic_information input { padding:3px }
.Select_information { margin-left: 30px; margin-top: 25px; margin-bottom: 15px; margin-right: 30px; text-align: left; }
.Select_information h3 { font-size: 12px; font-weight: bold; border: 2px solid #E4E4E4; padding-left: 15px; }
.Select_information ul { margin-top: 10px; margin-bottom: 10px; margin-left: 30px; }
.Select_information li { font-size: 12px; line-height: 50px; height: 50px; }
.Select_information img { margin-left: 65px; margin-top: 5px; }
.my_nala_detail #userform .User_information .Basic_information button { background: url(http://img.nala.com.cn/b2c/images/login_button_bj.png) repeat-x left top; font-size: 12px; line-height: 28px; font-weight: bold; color: #fff; height: 28px; border: none; margin-left: 10px; width: 100px; }
.my_nala_detail #userform .User_information .Select_information button { background: url(http://img.nala.com.cn/b2c/images/login_button_bj.png) repeat-x left top; height: 28px; font-size: 12px; line-height: 28px; font-weight: bold; color: #fff; width: 100px; border: none; }
.my_nala_detail #change_pswform .Change_psw { position:relative; }
.my_nala_detail #change_pswform .Change_psw .popupbox_password_changed { width:315px; top:50%; left:50%; margin-top:-100px; margin-left:-150px; }
.my_nala_detail #change_pswform .Change_psw .change_success { position:absolute; top:50px; left:270px; padding:10px 30px; border:10px solid #666; text-indent:20px; color: #1d8900; font-size: 12px; background:#fff url(http://img.nala.com.cn/b2c/images/true_pic.png) no-repeat 30px center; }
.my_nala_detail #change_pswform .Change_psw table { margin-top: 5px; }
.my_nala_detail #change_pswform .Change_psw .Text_input { line-height: 26px; background: url(http://img.nala.com.cn/b2c/images/input_bj.png) repeat-x left center; height: 26px; border: 1px solid #adadad; width: 200px; margin-left: 10px; }
.Change_psw button {display: block; float: left; width: 90px; height: 30px; line-height: 30px; padding: 0 10px; font-size: 14px; border-radius: 3px 3px 5px 5px; overflow: hidden; color: #fff; font-weight: bold; text-align: center; background:url(http://img.nala.com.cn/b2c/2013/images/btn_bg.png) -5px -14px no-repeat; border: none; margin-left: 110px; }
.Change_psw button:hover{background-position: -5px -59px;}
.my_nala_detail .comments_explain { margin-top: 40px; margin-bottom: 75px; }
.my_nala_detail .comments_explain h4 { margin-left: 30px; }
.my_nala_detail .comments_explain ul { margin-left: 30px; }
.my_nala_detail .comments_explain a { color: #d4062e; }
.my_nala_centre .something_interesting { margin-top: 10px; }
.my_nala_centre .something_interesting ul { margin-left: 20px; }
.my_nala_centre .something_interesting li { width: 130px; text-align: center; float: left; }
.my_nala_centre .something_interesting b { font-weight: normal; }
.my_nala_centre .something_interesting em { font-size: 12px; font-weight: bold; color: #D4062E; }
/*评论表单css*/
.sectionbox div.content { padding:10px; border:1px solid #e7e7e7; overflow:hidden; _background:url(http://img.nala.com.cn/b2c/images/sectionbox_content_bg.png) left top repeat-y; }
.sectionbox div.content p { padding:0 5px; }
.my_nala_detail .publish_comments { height: 60px; width: 720px; margin-top: 13px; margin-left: 18px; }
.my_nala_detail .publish_comments h4 { font-size: 12px; font-weight: bold; }
.my_nala_detail .publish_comments p { line-height: 15px; margin-top: 5px; }
.my_nala_detail .comments_point { margin-left: 20px; margin-top: 30px; padding-left:25px; background: url(http://img.nala.com.cn/b2c/images/comment-star-bg.png) 10px 4px no-repeat; }
.my_nala_detail .star_rating_con { width:200px; height:34px; margin-top:8px; padding:8px 12px; border:1px solid #bbb; float:left; }
.my_nala_detail .star_rating_info { float:left; height:50px; color:#666; line-height:50px; margin-top:8px; margin-left:20px; }
.my_nala_detail .comment_word { margin-left: 20px; margin-top: 25px; padding-left:25px; background: url(http://img.nala.com.cn/b2c/images/comment-star-bg.png) 10px 4px no-repeat; }
.my_nala_detail .comment_word_con { }
.my_nala_detail .comment_word_con .comment_word_con_textarea { float:left; margin:0; padding:0; }
#wrapper .my_nala_detail .comment_word_con .comment_word_con_textarea textarea { width:420px; height:90px; float:left; margin-top:5px; border:1px solid #bbb; overflow:auto; *margin-left:-20px;}
.my_nala_detail .comment_word_con .comment_word_con_info { float:left; width:270px; color:#666; padding-left: 15px; }
.my_nala_detail .red { color:#d4062e; }
.my_nala_detail .comment_word input.submit { width:81px; height:38px; margin-top:20px; margin-bottom:60px; position:relative; padding-bottom:2px; color:#fff; font-size:14px; border:none; background:url(http://img.nala.com.cn/b2c/images/comment_submit_bg.png) left top no-repeat; cursor:pointer; outline:none; }
.my_nala_detail .publish_comments_success { padding-left:90px; background:url(http://img.nala.com.cn/b2c/images/icon_checkmark.png) 45px 0 no-repeat; }
.my_nala_detail .publish_comments_success h3 { margin:20px 0 15px 0; padding:0; }
.nala_list .admin_sidebar_box .account .second_list em { float: right; margin-right: 10px; }
.nala_list .admin_sidebar_box .account .second_list em a { color:#999; }
.nala_list .admin_sidebar_box .account .second_list em a:hover { color:#333; text-decoration: none; }
.my_nala_detail #change_pswform .change_success p { margin:20px; font-size:14px; font-weight:bold; }
.my_nala_detail .My_collect #collectform .td a { margin-left: 20px; }
.my_nala_detail #userform .User_information .Basic_information em { margin-left: 30px; color: #666666; }
.my_nala_detail .product_comments a.review { color: #d4062e; }
.my_nala_detail .my_point #orderform input { width: 200px; line-height: 26px; height: 26px; background: url(http://img.nala.com.cn/b2c/images/input_bj.png) repeat-x left center; border: 1px solid #adadad; padding-left: 6px; }
.my_nala_detail .my_point #orderform button { width: 80px; margin-right: 20px; margin-left: 5px; }
.my_nala_detail .my_point #orderform .pay_button { background: url(http://img.nala.com.cn/b2c/images/login_button_bj.png) repeat-x left top; color: #fff; line-height: 20px; height: 20px; border: none; width: 70px; font-size: 12px; margin-left: 5px; margin-right: 5px; }
.my_nala_detail .my_point #orderform .order_number span { margin-right: 15px; color: #666666; }
.my_nala_detail .my_point #orderform .order_number em { color: #d4062e; font-weight: bold; }
.refund { float: right; width: 812px; background-color: #fff; }
.refund h3 { font-size: 12px; font-weight: bold; color: #333333; margin-top: 5px; margin-bottom: 10px; padding-left: 10px; }
.refund .my_refund { border: 1px solid #e4e4e4; padding-bottom: 6px; }
.refund .my_refund table td { border: 1px solid #e4e4e4; }
#refoundform .refund .refund_application { border: 1px solid #e4e4e4; margin-top: 13px; padding-bottom: 10px; }
#refoundform .refund .refund_application h3 { height: 34px; line-height: 34px; border-bottom: 1px solid #e4e4e4; }
#refoundform .refund .refund_application span { float: right; font-weight: normal; _margin-top: 5px; }
#refoundform .refund .refund_application h3 img { margin-right: 5px; margin-left: 5px; }
#refoundform .refund .refund_application .refund_inf { margin-bottom: 10px; background-color: #FFFFFF; }
#refoundform .refund .refund_application .refund_inf .inf_tip { width: 100px; float: left; text-align: right; height: 28px; line-height: 28px; }
#refoundform .refund .refund_application .refund_inf .write_inf { width: 500px; float: left; margin-left: 10px; *margin-left: 0px;}
#refoundform .refund .refund_application .refund_inf .write_inf .text_input { background: url(http://img.nala.com.cn/b2c/images/input_bj.png) repeat-x left center; height: 26px; width: 168px; border: 1px solid #adadad; line-height: 26px; }
#refoundform .refund .refund_application .refund_inf .write_inf .write_text button, #refoundform .refund .refund_application .refund_inf .write_inf button { background: url(http://img.nala.com.cn/b2c/images/ok_button_bj.png) repeat-x left top; height: 28px; line-height: 28px; border: none; width: 68px; color: #fff; margin-left: 5px; }
#refoundform .refund .refund_application .refund_inf .write_inf .write_text em { color: #ff6600; margin-left: 12px; }
#refoundform .refund .refund_application .refund_inf .write_inf .refund_product { margin-top: 5px; border: 1px solid #e4e4e4; background-color: #f8f8f8; width: 424px; padding-bottom: 10px; }
#refoundform .refund .refund_application .refund_inf .write_inf .refund_product h4 { margin-top: 10px; margin-left: 15px; margin-bottom: 5px; }
#refoundform .refund .refund_application .refund_inf .write_inf .refund_product ul { margin-left: 35px; }
#refoundform .refund .refund_application .refund_inf .write_inf .refund_product em { margin-left: 10px; }
#refoundform .refund .refund_application .refund_inf .write_inf span { float: none; margin-left: 37px; }
#refoundform .refund .refund_application .refund_inf .write_inf strong { color: #FF0000; font-weight: normal; }
#refoundform .refund .refund_application .refund_inf .write_inf li { line-height: 25px; height: 25px; }
#refoundform .refund .refund_application .refund_inf .write_inf .account_tip { width: 203px; height: 30px; line-height: 30px; text-align: center; background-color: #F8F8F8; border: 1px solid #e4e4e4; margin-left: 25px; }
#refoundform .refund .refund_application .refund_inf .write_inf .text_money { background: url(http://img.nala.com.cn/b2c/images/input_bj.png) repeat-x left center; height: 26px; width: 78px; border: 1px solid #adadad; line-height: 26px; padding-left: 6px; }
#refoundform .refund .refund_application .refund_inf .write_inf .refund_reason { width: 424px; height: 126px; background: url(http://img.nala.com.cn/b2c/images/input_bj.png) repeat-x left top; border: 1px solid #adadad; overflow:auto; }
#refoundform .refund .refund_application .refund_inf .write_inf .text_proof { width: 340px; line-height: 26px; background: url(http://img.nala.com.cn/b2c/images/input_bj.png) repeat-x left center; height: 26px; border: 1px solid #adadad; }
#refoundform .refund .refund_application .refund_inf .write_inf button { }
#refoundform .refund .refund_application .refund_inf .write_inf p { margin-top: 5px; margin-bottom: 5px; }
#refoundform .refund .refund_application .refund_inf .write_inf .more_again { margin-left: 10px; background: url(http://img.nala.com.cn/b2c/images/icon_increase.png) no-repeat left center; padding-left: 17px; }
#refoundform .refund .refund_submit { font-size: 14px; font-weight: bold; color: #fff; background: url(http://img.nala.com.cn/b2c/images/login_button_bj.png) repeat-x left top; height: 39px; width: 170px; border: none; line-height: 39px; margin-left: 110px; }
#refoundform .refund .refund_application .refund_success h4 { color: #1d8900; font-size: 18px; font-weight: bold; background: url(http://img.nala.com.cn/b2c/images/true_pic.png) no-repeat left center; padding-left: 35px; line-height: 30px; height: 30px; margin-left: 70px; margin-top: 20px; }
#refoundform .refund .refund_application .refund_success a { margin-right: 20px; }
#refoundform .refund .refund_application .refund_success p { margin-left: 105px; line-height: 30px; }
/*商品评论页面*/
.star_rating, .star_rating a:hover, .star_rating a:active, .star_rating a:focus, .star_rating .current_rating { background: url(http://img.nala.com.cn/b2c/images/pingfen_star_bg.png) left -1000px repeat-x; }
.star_rating { position: relative; width: 200px; height: 33px; overflow: hidden; list-style: none; margin: 0; padding: 0; background-position: left top; }
.star_rating li { display: inline; padding:0; }
.star_rating a, .star_rating .current_rating { position: absolute; top: 0; left: 0; text-indent: -1000em; height: 33px; line-height: 33px; outline: none; overflow: hidden; border: none; }
.star_rating a:hover, .star_rating a:active, .star_rating a:focus { background-position: left bottom; }
.star_rating a.one_star { width: 20%; z-index: 6; }
.star_rating a.two_stars { width: 40%; z-index: 5; }
.star_rating a.three_stars { width: 60%; z-index: 4; }
.star_rating a.four_stars { width: 80%; z-index: 3; }
.star_rating a.five_stars { width: 100%; z-index: 2; }
.star_rating .current_rating { z-index: 1; background-position: left center; }



.my_nala_detail .choose { margin-left:45px; margin-top:25px; }
.my_nala_detail .choose h4 span { color:#666; }
.my_nala_detail .choose ul { margin-top:15px; }
.my_nala_detail .choose li { float:left; margin-right:15px; }
.my_nala_detail .choose li label { margin-left:5px; cursor:pointer; }
.my_nala_detail .choose li label:hover { text-decoration:none; color:#d4062e; cursor:pointer; }
/* 20120924@R*/
.my_coupons { color:#505050; }
.my_coupons .pl8 { padding-left:8px; }
.my_coupons .best_product { border:1px solid #e4e4e4; border-bottom:1px solid #bbb; }
.my_coupons .best_product .all_tip { height:42px; overflow:hidden; border-bottom:1px solid #bbb; padding:7px 18px 0 0; }
.my_coupons .best_product .all_tip h3 { display:none; }
.my_coupons .best_product .all_tip ul { width:400px; overflow:hidden; float:left; margin-left:-1px; height:42px; }
.my_coupons .best_product .all_tip li { float:left; padding:0 18px; height:42px; cursor:pointer; }
.my_coupons .best_product .all_tip li.current { height:42px; border:none; }
.my_coupons .best_product .all_tip li a { display:block; float:left; text-align:center; background:#fff url(http://img.nala.com.cn/b2c/images/new0801/tit_bg_01.png) no-repeat center 43px; color:#888; height:42px; font:normal 14px/32px "Microsoft Yahei", simsun; }
.my_coupons .best_product .all_tip li.current a { background:#fff url(http://img.nala.com.cn/b2c/images/new0801/tit_bg_01.png) no-repeat center bottom; color:#111; -webkit-transition: background 0.3s ease-out; -moz-transition: background 0.3s ease-out; -o-transition: background 0.3s ease-out; transition: background 0.3s ease-out; text-decoration:none; }
.my_coupons .best_product .all_tip li a:hover, .best_product .all_tip li a:active { background:#fff url(http://img.nala.com.cn/b2c/images/new0801/tit_bg_01.png) no-repeat center bottom; color:#111; -webkit-transition: background 0.3s ease-out; -moz-transition: background 0.3s ease-out; -o-transition: background 0.3s ease-out; transition: background 0.3s ease-out; text-decoration:none; }
.my_coupons .best_product .all_tip .current a:link, .best_product .all_tip .current a:visited, .best_product .all_tip .current a:hover, .best_product .all_tip .current a:active { background:#fff url(http://img.nala.com.cn/b2c/images/new0801/tit_bg_01.png) no-repeat center bottom; color:#111; -webkit-transition: background 0.3s ease-out; -moz-transition: background 0.3s ease-out; -o-transition: background 0.3s ease-out; transition: background 0.3s ease-out; text-decoration:none; }
.my_coupons .best_product .all_tip .tit_more { float:right; color:#888; padding-left:23px; background:#fff url(http://img.nala.com.cn/b2c/images/new0801/bg_admin08.png) no-repeat 0 1px; font: normal 12px/18px "Microsoft Yahei", simsun; margin-top:5px; }
.my_coupons .best_product .list_product { width:100% }
.my_coupons .best_product table td { }
.c_tb01 td { padding:10px 8px; font: normal 12px/18px "Microsoft Yahei", simsun; height:60px; }
.c_tb01 table { margin-top:0px; }
#J_couponTips { position:absolute; z-index:29; width:190px; padding:15px; background:#fff; border:1px solid #e8e8e8; border-right:1px solid #fff; box-shadow:0 2px 2px #eee; }
#J_couponTips .ctips { padding-left:20px; font: normal 14px/21px "Microsoft Yahei", simsun; background:#fff url(http://img.nala.com.cn/b2c/images/new0801/bg_admin01.png) no-repeat 0 3px; }
#J_couponTips .ctipf { padding-left:20px; font: normal 14px/21px "Microsoft Yahei", simsun; background:#fff url(http://img.nala.com.cn/b2c/images/new0801/bg_admin03.png) no-repeat 0 3px; }
.my_coupons .c_num { font-size:14px; color:#424242; }
.my_coupons input.J_couponCode { border:1px solid #fff; width:216px; }
.my_coupons .tb1_hd td { background:#fff url(http://img.nala.com.cn/b2c/images/new0801/bg_admin04.png) repeat-x 0 0; height:34px; padding-top:6px; }
.my_coupons .tb1_hd td span { color:#505050; }
.my_coupons i.J_couTips { display:inline-block; width:15px; height:15px; background:#fff url(http://img.nala.com.cn/b2c/images/new0801/bg_admin02.png) no-repeat 0 0; cursor:pointer; }
.my_coupons .J_tipsCon { display: none; position:absolute; padding:10px; font:normal 12px/18px "Microsoft Yahei", simsun; border:1px solid #ccc; background:#f8f8f8; white-space:nowrap; }
.cou_list { width:100%; padding:10px 0; border-top:1px solid #e4e4e4; margin-top:20px; }
.cou_list .cou_tit { height:21px; margin:0 0 16px; width:750px; }
.cou_list .cou_tit .h301 { display:block; font:normal 14px/21px "Microsoft Yahei", simsun; float:left; color:#111; padding-left:20px; }
.cou_list .cou_con ul { width:750px; float:left; padding-left:20px; }
.cou_list .cou_con ul li { display:block; width:140px; padding:5px; float:left; text-align:center; }
.cou_list .cou_con li a img { width:130px; height:130px; display:block; margin:10px auto; }
.cou_list .cou_con li a span { display:block; margin:10px auto; }
.cou_list .cou_con li a span.pname { display:block; margin:10px auto; color:#999; }
.cou_list .cou_con li a:hover span.pname { display:block; margin:10px auto; color:#333; text-decoration:none; }
.cou_list .cou_con li a:hover { text-decoration:none; }
.cou_list .cou_tit .cou_tags { display:block; float:right; }
.cou_list .cou_tit .cou_tags a { display:inline-block; padding:0 6px; }
.cou_help { padding:10px; border:1px solid #e4e4e4; margin:15px 0; font:normal 12px/18px "Microsoft Yahei", simsun; }
.cou_help .help_tit { height:21px; padding:7px 0; border-bottom:1px solid #e4e4e4; }
.cou_help .help_tit .h301 { font:normal 14px/21px "Microsoft Yahei", simsun; float:left; margin-right:15px; color:#424242; padding-left:8px; }
.cou_help .help_tit a { float:left; margin-top:3px; }
.cou_help .help_con dl { display:block; }
.cou_help .help_con dl dt { display:block; margin:10px 8px; color:#424242; }
.cou_help .help_con dl dd { text-indent:18px; color:#888; }
.trade_sort { margin:10px 0 0 0; padding:5px 0 19px 20px; border-bottom:1px solid #e4e4e4; font:normal 12px/18px "Microsoft Yahei", simsun; }
.trade_sort ul li { display:block; float:left; margin:5px 20px 0 0; }
.trade_tb01 { font-family:"Microsoft Yahei", simsun; margin-top:15px; }
.trade_tb01 th { background:#f8f8f8; padding:8px 10px; vertical-align:top; color:#424242; font-weight: normal; border-top:1px solid #ccc; }
.trade_tb01 .mt5 { margin-top:5px; }
.trade_tb01 td { background:#fff; padding:8px 10px; vertical-align:top; }
.trade_tb01 td.gray111 { line-height:40px; }
.trade_tb01 td.td_p01 { padding:0; }
.trade_tb01 th .em_price { font: bold normal 18px/22px "Microsoft Yahei", simsun; }
.trade_tb01 th .em01 { font: normal 16px/22px "Microsoft Yahei", simsun; }
.trade_tb01 th .em02 { font: normal 16px/22px "Microsoft Yahei", simsun; color:#3faa06; }
.trade_tb01 th em { display:inline-block; }
.trade_tb01 .tb1_hd td { background:#fff url(http://img.nala.com.cn/b2c/images/new0801/bg_admin04.png) repeat-x; height:24px; }
.trade_tb01 dl { width:436px; padding:10px; background:#fff; }
.trade_tb01 dl:hover { background:#fee6e6; color:#b60b06; }
.trade_tb01 dl:hover a:link, .trade_tb01 dl:hover a:visited { color:#b60b06; }
.trade_tb01 dl dd.trade_rebuy { display:none; line-height: 40px; }
.trade_tb01 dl:hover dd.trade_rebuy { display:block; color:#424242; }
.trade_tb01 dl dd.trade_rebuy a:link, .trade_tb01 dl dd.trade_rebuy a:visited { color: #424242; display: inline-block; font: 12px/25px "Microsoft Yahei", simsun; height: 25px; text-align: center; width: 68px; }
.trade_tb01 dl dd.trade_rebuy a:hover, .trade_tb01 dl dd.trade_rebuy a:active { background:url(http://img.nala.com.cn/b2c/images/buy_more.jpg) no-repeat 0 0; color:#111; text-decoration:none; }
.trade_tb01 dl dt, .trade_tb01 dl dd { float:left; }
.trade_tb01 dl .trade_img { width:40px; height:40px; }
.trade_tb01 dl .trade_img img { width:40px; height:40px; }
.trade_tb01 dl .trade_title { width:226px; display:table; }
.trade_tb01 dl .trade_title a { display: table-cell; height: 40px; padding:0 20px 0 10px; vertical-align: middle; *position:relative; *top:50%;}
.trade_tb01 dl .trade_price { width:100px; line-height:40px; }
.trade_tb01 .plf30 { position:relative; left:-40px; }
.trade_ex { display:inline-block; padding-left:20px; background:#fff url(http://img.nala.com.cn/b2c/images/new0801/bg_admin05.png) no-repeat 0 1px; font:normal 12px/18px "Microsoft Yahei", simsun; padding-right:14px; }
/*.trade_tb01 a.btn_confirm { width:68px; display:inline-block; margin-left:8px; background:url(http://img.nala.com.cn/b2c/images/new0801/bg_admin07.png) repeat-x; line-height:23px; border:1px solid #e4e4e4; text-align:center; }
.trade_tb01 a.btn_confirm:hover, .trade_tb01 a.btn_confirm:active { background:url(http://img.nala.com.cn/b2c/images/new0801/bg_admin10.png) repeat-x; text-decoration:none; }*/
.trade_tb01 a.btn_confirm { width:66px; display:inline-block; margin-left:8px; background:url(http://img.nala.com.cn/b2c/images/bg_admin07_01.jpg) repeat-x 0 0; line-height:23px; text-align:center; color:#fff; text-decoration:none; height:23px; }
.trade_tb01 a.btn_confirm:hover, .trade_tb01 a.btn_confirm:active { text-decoration:none; background-position:0 bottom; }
.trade_tb01 .btn_time { background: url(http://img.nala.com.cn/b2c/images/new0801/bg_admin06.png) no-repeat scroll 195px 8px #FEE5E6; cursor: pointer; display: block; line-height: 25px; margin-top: 10px; padding: 0 20px 0 15px; position: relative; text-align: left; width: 180px; }
.trade_tb01 .btn_time_arrow { width:7px; height:4px; overflow: hidden; position:absolute; top:-4px; right:20px; background:#fff url(http://img.nala.com.cn/b2c/images/new0801/bg_admin09.png) no-repeat 0 0; }
.trade_mod .my_point { border:1px solid #e4e4e4; border-bottom:1px solid #bbb; background-color:#fff; }
.trade_mod .h301 { padding:16px 0 0 18px; color:#111; font-size:14px; }
.my_nala_centre .relate_goods { border:1px solid #e4e4e4; border-top: none; }
.my_nala_centre .pagenav { padding:10px; border-top:1px solid #e4e4e4; }
.pl12 { padding-left:12px; color:#505050; }
.trade_mod { position:relative; }
.trade_mod form { display:inline-block; *display:inline;
}
.trade_mod .ex_box { position:absolute; border:1px solid #d3d3d3; border-right: none; right:0; width:520px; padding:15px; background:#f8f8f8; overflow:hidden; display:none; z-index:69; }
.ex_box .exh3 { font: bold 14px/21px "Microsoft Yahei", simsun; color:#424242; }
.ex_box .ex_tit { padding:10px 15px; color:#888; }
.ex_box .ex_tit em { color:#424242; }
.ex_box .ex_info li { display:block; font:normal 12px/18px "Microsoft Yahei", simsun; height:18px; padding:6px 0 6px 15px; }
.ex_box .ex_info .current { background:url(http://img.nala.com.cn/b2c/images/new0801/bg_admin11.png) no-repeat 0 7px; color:#b60b06 }
.ex_box .ex_info li span, .ex_box .ex_tit span { display:inline-block; padding-right:15px; width:135px; }
.ex_box .ex_close { width:26px; height:25px; display:block; position:absolute; top:10px; right:10px; cursor:pointer; background:url(http://img.nala.com.cn/b2c/images/new0801/bg_admin12.png) no-repeat 0 0; }


/*评价详情相关开始*/
.my_nala_main .nala_list { float: left; width: 181px;background-color:#fff; }
.admin_sidebar_box { border:1px solid #e7e7e7; border-top:none; padding-bottom:10px; }
.admin_sidebar_box .content .productsrow { height:290px; padding-left:4px; }
.admin_sidebar_box .content .productsrow li { float:none; }
/*评价详情相关结束*/
.my_nala_main .nala_main { float: right; width: 788px; }
.my_nala_main h2.my_center_cart { display:none; width:168px; padding-left:34px; height:29px; overflow:hidden; background:url(http://img.nala.com.cn/b2c/images/my_center_cart.png) no-repeat 0 0; margin-bottom:6px; }
.my_nala_main h2.my_center_cart a { display:block; width:100%; height:100%; font-size:12px; line-height:29px; *line-height:32px;}
.my_nala_main h3.my_nala { height: 52px; background:url(http://img.nala.com.cn/b2c/images/my_nala_h3_bg_01.jpg) no-repeat 0 0 #fff; padding-top:20px; border:1px solid #e7e7e7; border-bottom:none; }
.my_nala_main h3.my_nala a { display:block; padding-top:34px; height:0px; overflow:hidden; }
/*评价详情相关开始*/
.my_nala_main .nala_list .account { padding:0 20px 15px; }
.my_nala_main .nala_list .noline { border: none; }
.my_nala_main .nala_list .account li { border-bottom:1px solid #e7e7e7; height: 32px; line-height:32px; color:#c4c4c4; position:relative; }
.my_nala_main .nala_list .account .first_list { font-size: 12px; font-weight: bold; color:#000; padding-left:4px; }
.my_nala_main .nala_list .account .second_list { margin-left: 15px; list-style-type: disc; list-style-position: inside; }
.my_nala_main .nala_list .account .fenge_li { margin:0; border-bottom:1px dashed #e7e7e7; padding-left:15px; padding-bottom:10px; }
.my_nala_main .nala_list .account ul li.current a { color: #d4062e; font-weight: bold; }
.my_nala_main .nala_list .account ul li .tip_3jiao { display:none; }
.my_nala_main .nala_list .account ul li.current .tip_3jiao { display:block; width:30px; height: 35px; background:url(http://img.nala.com.cn/b2c/images/my_nala_3jiao.png) no-repeat 0 0; position:absolute; top:0; right:-34px; }
/*评价详情相关结束