/*品牌页面样式*/
#productarea { padding:10px 0 50px; }
#productarea .topbanner { padding-top:0px; }
/* 当前位置 */
#breadcrumb { height:35px; line-height:35px; text-align:right; overflow:hidden; }
#breadcrumb ul { float:left; }
#breadcrumb ul li { float:left; }
#breadcrumb ul li a { float:left; display:block; margin:0 4px; }
#breadcrumb div.info { float:right; text-align:right; }
#breadcrumb div.info span { margin:0 5px; color:#d4062e; font-size:12px; }
.sidebar { width:181px; float:left; overflow:hidden; clear:both; }
.maincon { width:813px; float:right; overflow:hidden; position:relative; }
.maincon .bannerarea { padding-bottom:10px; overflow:hidden; }

/*品牌优惠*/
.InfoBar{height:36px; text-align: left; color:#666;}
.InfoBar .InfoT{color:#ff6678;font-weight:bold;font-size:16px;padding-right:14px}
.InfoBar .InfoP a{padding:0 5px;color:#333;text-decoration:underline}
.InfoBar .InfoP a:hover{color:#ff6678}
.InfoBar .cutDown{float:right}
.InfoBar .cutDown .J_timerBox{color:#ff6678;font-size:18px;}
.InfoBar .cutDown strong{padding-left:5px}

/* 侧边栏 分类 */
.sidebar .brand { padding:10px; border:1px solid #e7e7e7; border-bottom:none; }
.sidebar .brand .brand_ico { max-width:170px; margin:0 auto; display: block; padding:10px 0; }
.sidebar .brand .band_property { border-top:solid 1px #E6E6E6; width:156px; margin:0 auto; padding-top:10px; line-height:20px; }
.productsubcats { padding-bottom:10px; border:1px solid #e7e7e7; }
.productsubcats ul { margin-top:0; }
.productsubcats li { margin:0 12px 0 50px; line-height:30px; }
.productsubcats li.allcats { margin:0; padding:0; background-color:#f8f8f8; }
.productsubcats li.allcats a { display:block; color:#333; font-weight:bold; padding:0 10px; }
.productsubcats li a { display:block; text-decoration:none; font-family:"Microsoft Yahei", simsun; }
.productsubcats li a:hover em { color:#d4062e; font-weight:normal; }
.productsubcats li a.current { color:#d4062e; font-weight:bold; }
.productsubcats li a.current em { font-weight:normal; }
.productsubcats li em { color:#999; font-size:10px; }
.productsubcats li.firstlevel { margin-left:14px; padding-left:10px; /*background:url(http://img.nala.com.cn/b2c/images/icon_all_product_list_symbol.png) left center no-repeat;*/ border-top:8px solid #fff; }
.productsubcats li.secondlevel { margin-left:15px; padding-left:10px; /*background:url(http://img.nala.com.cn/b2c/images/icon_all_product_list_symbol.png) left center no-repeat;*/ }
.productsubcats li.secondlevel.no_border { border-bottom:none; }
.productsubcats li.current { padding-left:0; background:none; padding-left:14px; background:url(http://img.nala.com.cn/b2c/images/icon_all_product_list_symbol_bottom.png) left center no-repeat; }
.productsubcats li.current a { color:#d4062e; font-weight:bold; }
.productsubcats li.noline { border-bottom:none; }
/* 侧边栏 销量排行 */
.salerank { margin-top:10px; border:1px solid #e7e7e7; }
.salerank h4 { font-weight:bold; padding:4px 10px; background:url(http://img.nala.com.cn/b2c/images/h2_bj.png) left bottom repeat-x; }
.salerank ul { padding:10px; overflow:hidden; }
.salerank li { color:#d4062e; font-size:12px; line-height:18px; padding:4px 0; border-bottom:1px dashed #ccc;/* list-style:inside decimal;*/ white-space:nowrap; overflow:hidden; }
.salerank li span.number { color:#d4062e; padding-right:5px; }
.salerank li.first { height:60px; position:relative; white-space:normal; overflow:hidden; }
.salerank li.first a { width:105px; height:32px; line-height:16px; position:absolute; top:5px; right:0; overflow:hidden; }
.salerank li.first span.number { position:absolute; top:1px; left:0; }
.salerank li.first .hot { width:105px; height:18px; position:absolute; top:40px; right:0; overflow:hidden; }
.salerank li.first .imgdv { width:57px; height:57px; position:absolute; top:5px; left:0; display:block; margin:auto 8px 4px 12px; padding:0; line-height:normal; background-color:#fff; }
.salerank li.first .imgdv a { width:55px; height:55px; display:block; position:relative; top:0; border:1px solid #ececec; }
.salerank li.first .imgdv a:hover { border:1px solid #ccc; }
.salerank li.first .imgdv a img { position:relative; }
.salerank li.solidline { border-bottom:1px solid #e7e7e7; }
.salerank li.noline { border:none; }
/* 侧边栏 最近浏览过的商品 */
.recentlook { margin-top:10px; border:1px solid #e7e7e7; }
.recentlook p { color:#999; padding:10px; text-align:center; }
.recentlook h4 { font-weight:bold; padding:4px 10px; background:url(http://img.nala.com.cn/b2c/images/h2_bj.png) left bottom repeat-x; }
.recentlook h4 span { margin-left:50px; font-size:12px; font-weight:normal; }
.recentlook ul { padding:5px 10px; }
.recentlook ul li { padding:4px 0 4px 12px; color:#ccc; height:17px; list-style:none; background:url(http://img.nala.com.cn/b2c/images/li_disc_bg.png) 0 9px no-repeat; overflow:hidden; }
/* 右侧 产品列表框头-排序 */
.sort { height:30px; border-top:1px solid #d7d7d7; margin-top:0; background-color:#f1f1f1; }
.sort ul { float:left; margin-left:16px; _margin-left:10px; }
.sort li { float:left; margin:8px 10px auto auto; padding-right:10px; line-height:14px; border-right:1px solid #b0b0b0; }
.sort li a.current, .sort li span.current { color:#D4062E; font-weight:bold; }
.sort li.noline { margin-right:0; }
.sort form { height:18px; float:left; margin-left:10px; margin-top:6px; *margin-top:4px;
line-height:18px; vertical-align:middle; }
.sort form input { margin-right:3px; }
.sort .noline { border:none; }
/* 右侧 产品列表框 主体*/
.productlist { margin:10px; background-color:#fff; }
.productlist li { width:170px; height:276px; position:relative; float:left; margin:0 25px 15px 0; overflow:hidden; }
.maincon .productlist li a.productitem span.productimg img { border:none; }
/** 推荐列表 **/
.recommend_list { background:url(http://img.nala.com.cn/images/level/esteelauder_bg.jpg) repeat-y scroll 0 270px transparent; padding-bottom: 20px; width: 788px; overflow:hidden; }

/* 侧边栏 分类 */
.productsubcats { padding-bottom:10px; border:1px solid #e7e7e7; }
.productsubcats ul { margin-top:0; }
.productsubcats li { margin:0 12px 0 50px; line-height:30px; border-bottom:1px solid #e7e7e7; }
.productsubcats li.allcats { margin:0; padding:0; background-color:#f1f1f1; }
.productsubcats li.allcats a { display:block; color:#333; font-weight:bold; padding:0 10px; }
.productsubcats li a { display:block; text-decoration:none; }
.productsubcats li a:hover em { color:#d4062e; font-weight:normal; }
.productsubcats li a.current { color:#d4062e; font-weight:bold; }
.productsubcats li a.current em { font-weight:normal; }
.productsubcats li em { color:#999; font-size:10px; }
.productsubcats li.firstlevel { margin-left:14px; padding-left:10px; background:url(http://img.nala.com.cn/b2c/images/icon_all_product_list_symbol.png) left center no-repeat; }
.productsubcats li.secondlevel { margin-left:35px; padding-left:10px; background:url(http://img.nala.com.cn/b2c/images/icon_all_product_list_symbol.png) left center no-repeat; }
.productsubcats li.current { padding-left:0; background:none; padding-left:14px; background:url(http://img.nala.com.cn/b2c/images/icon_all_product_list_symbol_bottom.png) left center no-repeat; }
.productsubcats li.current a { color:#d4062e; font-weight:bold; }
.productsubcats li.noline { border-bottom:none; }

/* 侧边栏 销量排行 */
.salerank { margin-top:10px; border:1px solid #e7e7e7; }
.salerank h4 { font-weight:bold; padding:4px 10px; background:url(http://img.nala.com.cn/b2c/images/h2_bj.png) left bottom repeat-x; }
.salerank ul { padding:10px; overflow:hidden; }
.salerank li { color:#d4062e; font-size:12px; line-height:18px; padding:4px 0; border-bottom:1px dashed #ccc;/* list-style:inside decimal;*/ white-space:nowrap; overflow:hidden; }
.salerank li span.number { color:#d4062e; padding-right:5px; }
.salerank li.first { height:60px; position:relative; white-space:normal; overflow:hidden; }
.salerank li.first a { width:105px; height:32px; line-height:16px; position:absolute; top:5px; right:0; overflow:hidden; }
.salerank li.first span.number { position:absolute; top:1px; left:0; }
.salerank li.first .hot { width:105px; height:18px; position:absolute; top:40px; right:0; overflow:hidden; }
.salerank li.first .imgdv { width:57px; height:57px; position:absolute; top:5px; left:0; display:block; margin:auto 8px 4px 12px; padding:0; line-height:normal; background-color:#fff; }
.salerank li.first .imgdv a { width:55px; height:55px; display:block; position:relative; top:0; border:1px solid #ececec; }
.salerank li.first .imgdv a:hover { border:1px solid #ccc; }
.salerank li.first .imgdv a img { position:relative; }
.salerank li.solidline { border-bottom:1px solid #e7e7e7; }
.salerank li.noline { border:none; }
/* 侧边栏 最近浏览过的商品 */
.recentlook { margin-top:10px; border:1px solid #e7e7e7; }
.recentlook p { color:#999; padding:10px; text-align:center; }
.recentlook h4 { font-weight:bold; padding:4px 10px; background:url(http://img.nala.com.cn/b2c/images/h2_bj.png) left bottom repeat-x; }
.recentlook h4 span { margin-left:50px; font-size:12px; font-weight:normal; }
.recentlook ul { padding:5px 10px; }
.recentlook ul li { padding:4px 0 4px 12px; color:#ccc; height:17px; list-style:none; background:url(http://img.nala.com.cn/b2c/images/li_disc_bg.png) 0 9px no-repeat; overflow:hidden; }
/* ------------------------------ 产品详细页样式开始 ------------------------------ */

/* 侧边栏品牌小档案样式开始 */
.brandbasic { border:1px solid #e7e7e7; }
.brandbasic h3 { height:27px; line-height:27px; font-size:12px; font-weight:bold; padding-left:12px; background:url(http://img.nala.com.cn/b2c/images/h2_bj.png) #f1f1f1 left bottom repeat-x; }
.brandbasic span.logo { display:block; margin:10px 0 0 12px; }
.brandbasic span.logo img { border:1px solid #e7e7e7; }
.brandbasic ul.brandinfo { margin:10px 0 10px 12px; text-align:left; }
.brandbasic ul.brandinfo li { line-height:18px; line-height:18px; padding:2px 0; }
.brandbasic ul.brandinfo span { margin-left:5px; }
.brandbasic ul.brandinfo .red { color:#d4062e; font-size:12px; font-weight:bold; }
.brandbasic ul.producttoplist { padding:8px 15px; }
.brandbasic ul.producttoplist li { width:170px; height:276px; position:relative; overflow:hidden; border-bottom:1px solid #e7e7e7; }

a.viewbrandproducts { width:123px; height:28px; float:left; display:block; margin:0 0 15px 35px; _margin-left:20px; line-height:28px; border:1px solid #e7e7e7; text-indent:13px; background:url(http://img.nala.com.cn/b2c/images/icon_pagenum_red_right.png) no-repeat 105px center; }
a.viewbrandproducts:hover { color:#fff; border:1px solid #d4062e; text-decoration:none; background:#d4062e url(http://img.nala.com.cn/b2c/images/icon_pagenum_white.png) no-repeat 105px center; }
a.viewbutton { height:23px; float:left; display:block; line-height:23px; padding:0 12px 0 12px; border:1px solid #e7e7e7; text-decoration:none; cursor:pointer; }
a.viewbutton:hover { text-decoration:none; cursor:pointer; }
a.viewbutton span.bg { width:15px; height:23px; display:block; float:left; background:url(http://img.nala.com.cn/b2c/images/icon_pagenum_red_right.png) right center no-repeat; }

/* 导航链接部分样式开始 */
.simplepagenav { text-align:center; }
.simplepagenav a { color:#333; padding:4px 8px; text-align:center; border:1px solid #e7e7e7; background-color:#fff; text-decoration:none; }
.simplepagenav a.previous { padding:4px 12px; background:url(http://img.nala.com.cn/b2c/images/icon_pagenum_red_left.png) #fff 10px center no-repeat; }
.simplepagenav a.previous:hover { color:#fff; background:url(http://img.nala.com.cn/b2c/images/icon_pagenum_white_left.png) #d4062e 10px center no-repeat; }
.simplepagenav a.previousdisabled { padding:4px 12px; color:#333; text-align:center; border:1px solid #e7e7e7; text-decoration:none; background:url(http://img.nala.com.cn/b2c/images/icon_pagenum_gray_left.png) #fff center center no-repeat; cursor:default; }
.simplepagenav a.next { padding-left:12px; padding-right:24px; background:url(http://img.nala.com.cn/b2c/images/icon_pagenum_red_right.png) #fff 60px center no-repeat; }
.simplepagenav a.next:hover { color:#fff; border:1px solid #d4062e; background-image:url(http://img.nala.com.cn/b2c/images/icon_pagenum_white.png); background-color:#d4062e; }
.simplepagenav a.nextdisabled { padding-left:12px; padding-right:24px; background:url(http://img.nala.com.cn/b2c/images/icon_pagenum_gray_right.png) #fff 60px center no-repeat; cursor:default; }
.simplepagenav span.info { color:#999; margin-right:15px; }

.sort li a.price_desc, .sort li a.price_asc, .sort li a.price_normal { display:inline-block; padding-right:15px; }
.sort li a.price_desc { background:url(http://img.nala.com.cn/b2c/images/price0517.png) no-repeat 27px -40px; }
.sort li a.price_asc { background:url(http://img.nala.com.cn/b2c/images/price0517.png) no-repeat 27px -18px; }
.sort li a.price_normal { background:url(http://img.nala.com.cn/b2c/images/price0517.png) no-repeat 27px 4px; }

/* CSS Document */
/*一级栏目页*/
#list_new .homebanner img { border:1px solid #e4e4e4; }
#list_new .homebanner { height: 237px; overflow: hidden; position: relative; width: 788px; }
#list_new .homebanner .slides_container { display: block; height: 237px; width: 788px; }
#list_new .homebanner ul.pagination { bottom: 10px; display: none; position: absolute; right: 5px; z-index: 11; }
#list_new .homebanner ul.pagination li { float: left; list-style: none; }
#list_new .homebanner ul.pagination li a { background-color: #000000; border-radius: 11px 11px 11px 11px; color: #AAAAAA; display: block; float: left; height: 18px; line-height: 18px; margin-right: 5px; text-align: center; text-decoration: none; width: 18px; }
#list_new .homebanner ul.pagination li.current a { background-color: #CC0033; color: #FFFFFF; }
#list_new .list_f { width:766px; height:100px; padding:10px 0 0 20px; border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; border-bottom:1px solid #bbb; display:none; }
#list_new .list_f .left_zhe {display:none; }
#list_new .list_f .list_right { margin-top:5px; }
#list_new .list_f .list_right li { float:left; width:150px; height:40px; line-height:40px; }
#list_new .list_f .list_right .top { border-bottom:1px dotted #e4e4e4; }
#list_new .list_f .list_right li a { display:block; width:120px; height:40px; background:url(http://img.nala.com.cn/b2c/images/list_bj.png) no-repeat; text-decoration:none; text-indent:30px; }
#list_new .list_f .list_right li a:hover { background:url(http://img.nala.com.cn/b2c/images/list_bj.png) no-repeat; }
#list_new .list_f .list_right li a.a1 { background-position:0px 8px; }
#list_new .list_f .list_right li a.a1:hover { background-position:-236px 8px; }
#list_new .list_f .list_right li a.a2 { background-position:-480px 8px; }
#list_new .list_f .list_right li a.a2:hover { background-position:-728px 8px; }
#list_new .list_f .list_right li a.a3 { background-position:0 -63px; }
#list_new .list_f .list_right li a.a3:hover { background-position:-236px -63px; }
#list_new .list_f .list_right li a.a4 { background-position:-480px -63px; }
#list_new .list_f .list_right li a.a4:hover { background-position:-728px -63px; }
#list_new .list_f .list_right li a.a5 { background-position:0 -139px; }
#list_new .list_f .list_right li a.a5:hover { background-position:-236px -139px; }
#list_new .list_f .list_right li a.a6 { background-position:-480px -139px; }
#list_new .list_f .list_right li a.a6:hover { background-position:-728px -139px; }
#list_new .list_f .list_right li a.a7 { background-position:0 -214px; }
#list_new .list_f .list_right li a.a7:hover { background-position:-236px -214px; }
#list_new .list_f .list_right li a.a8 { background-position:-480px -214px; }
#list_new .list_f .list_right li a.a8:hover { background-position:-728px -214px; }
#list_new .list_f .list_right li a.a9 { background-position:0 -292px; }
#list_new .list_f .list_right li a.a9:hover { background-position:-236px -292px; }
#list_new .list_f .list_right li a.a10 { background-position:-480px -294px; }
#list_new .list_f .list_right li a.a10:hover { background-position:-728px -294px; }
#list_new .product_list { background:#f7f7f7; padding:6px 0 0 0; }
#list_new .product_list h2 { height:25px; line-height:25px; margin-top:5px; background:none;/* url(http://img.nala.com.cn/images/skin/skin_title.jpg) no-repeat scroll right top transparent;*/ }
#list_new .product_list h2 span.more { display:inline-block; width:40px; background:none/* url(http://img.nala.com.cn/images/skin/skin_tab.jpg)  no-repeat scroll right top transparent*/; float: right; font-size: 12px; margin-right: 10px; }
#list_new .product_list h2 span.floor { display:block; height:25px; line-height:25px; text-indent:45px; font-size:16px; font-weight:normal; font-family:"微软雅黑"; background:url(/b2c/images/new0801/bg_list01.png) no-repeat; }
#list_new .product_list li { float:left; margin-left:20px; _margin-left:10px; }
#list_new .product_list li a { display:block; width:160px; padding:10px 5px 35px; text-align:center; margin:5px 0 5px 0; cursor:pointer; position:relative; }
#list_new .product_list li a img { border:1px solid #e1e1e1; }
#list_new .product_list li a:hover { background:#f6f6f6 url(/b2c/images/new0801/bg_list02.png) no-repeat center bottom; text-decoration:none; }
#list_new .product_list li p.name { width:160px; overflow:hidden; height:40px; line-height:20px; text-align:left; }
#list_new .product_list li p span.nala_price { color:#d4062e; font-weight:bold; display:block; min-width:70px; float:left; height:25px; line-height:25px; margin-top:10px; text-align:left; }
#list_new .product_list li p span.nala_price strong { font-size:18px; }
#list_new .product_list li p span.old_price { display:none; color:#333; font-weight:bold; float:right; height:25px; padding-top:3px; line-height:20px; margin-top:10px; min-width:70px; }
#list_new .product_list li p span.old_price strong { font-weight:normal; text-decoration:line-through; }
#list_new .product_list li span.buy { display:none; width:104px; height:27px; text-align:center; line-height:27px; background: url(http://img.nala.com.cn/b2c/images/list_bj.png) no-repeat 0 -576px; color:#fff; font-size:14px; margin:5px 0 0 27px; _margin:5px 0 0 0px; }
#list_new .product_list h2 span.floor1 { background-position:0 -12px; }
#list_new .product_list h2 span.floor2 { background-position:0 -50px; }
#list_new .product_list h2 span.floor3 { background-position:0 -88px; }
#list_new .product_list h2 span.floor4 { background-position:0 -126px; }
#list_new .product_list h2 span.floor5 { background-position:0 -164px; }
#list_new .product_list h2 span.floor6 { background-position:0 -202px; }
#list_new .product_list h2 span.floor7 { background-position:0 -240px; }
#list_new .product_list h2 span.floor8 { background-position:0 -278px; }
#list_new .product_list h2 span.floor9 { background-position:0 -316px; }
/*二级栏目页*/
#list_new .list_banner img { border:1px solid #e4e4e4; }
#list_new .product_t { margin-top:10px; }
#list_new .product_t table td { border:1px solid #e4e4e4; }
#list_new .product_t table { border-collapse:collapse; }
.productlist a.productitem { display:block; cursor:pointer; position:relative; }
.productlist a.productitem .nalaprice .stockout_lbl { background-color:#F6F6F6; float: right; font-weight: normal; padding: 0px 4px; margin: 4px 6px 0px 0px; }
.product_list li a { position:relative; }

/* 购物车弹出窗口样式开始 */
.cartdialog{width: 300px;}
.cartdialog p{margin: 10px 0;}
.cartdialog p span{margin: 0 4px; font-weight: bold; color: #c03;}
.cartdialog .toother{margin-left: 15px;}

/* 底部活动列表 */
.act_content { width:992px; margin:auto; padding:10px 8px 20px 10px; }
.act_content .list_title { color:#434343; font-size:22px; font-weight:normal; border-bottom:1px solid #bbb; }
.act_content li { float: left;  height: 160px;  padding: 8px 8px 0 0;  width: 325px;}
.act_content li.last { padding-right:0; }