@charset "utf-8";
.clear_float{ clear:both; overflow:hidden; zoom:1; }
.header_top{ width:1007px; margin:0 auto; }
.header_top .logo{ float:left;}
.header_top .title{ float:left; font-size:23px; font-weight:900; height:73px; line-height:66px; }
/*.header_top .links{ width:auto; }
.header_top .links li{ float:left; }
.header_top .links li.item1{ line-height:24px; padding-right:0; }*/
.main_content{ width:1007px; margin:0 auto; }
.main_content .process{ height: 38px; position:relative; }
.main_content .process ul{ height:39px; position:absolute; right:0; }
.main_content .process ul li{ float:left; width:162px; height:37px; line-height:37px; border:solid 1px #E4E4E4; margin-left:12px; font-weight:700; color:#989898; text-align:center; }
.global_bg{ background:url(http://img.nala.com.cn/b2c/images/forgot_password_bg.gif) no-repeat; }
.main_content .process ul li span{ background-position:0 -21px; height:20px; line-height:20px; width:22px; display:inline-block; color:#FFF; font-weight:700; }
.main_content .process ul li.current{ color:#000; border-bottom-color:#FFF; }
.main_content .process ul li.current span{ background-position:0 0; }
.main_content .process ul li span.compatible{ display:inline-block; height:37px; width:0; overflow:hidden; vertical-align:middle; }/*为兼容ie6垂直居中的设置*/
.main_content .process_content{ border:solid 1px #E4E4E4; }
.main_content .process_content .forget_type{ float:left; width:256px; position:relative; background-color:#FBFBFB; height:382px; }/*此处不应设置固定高度，但内部绝对定位元素以脱离当前文件流，无法自适应高度*/
.main_content .process_content .forget_type ul{ position:absolute; width:257px; top:50px; }
.main_content .process_content .forget_type li{ position:relative; height:58px; cursor:pointer; +margin-bottom:-3px;/*ie6/7 li纵向排列下边的3px边距的bug*/ }
.main_content .process_content .forget_type li .item_wrap{ position:absolute; height:57px; border-style:solid; border-color:#FBFBFB #E4E4E4; border-width:0 1px 1px 0; width:216px; padding:0 20px; }
.main_content .process_content .forget_type li .type_item{ position:absolute; height:57px; line-height:57px; border-bottom:solid 1px #E4E4E4; z-index:99; color:#8E8E8E; width:216px; }
.main_content .process_content .forget_type li .type_item span{ background-position:-27px -33px; width:33px; height:30px; line-height:22px; display:inline-block; padding:0 5px; color:#FFF; font-weight:700; margin-right:8px; }
.main_content .process_content .forget_type li.hover .item_wrap{ border-color:#E4E4E4; background:url(http://img.nala.com.cn/b2c/images/forgot_type_hover.jpg) repeat-x; border-top-width:1px; top:-1px; }
.main_content .process_content .forget_type li.hover .type_item{ color:#000; border-bottom-width:0; }
.main_content .process_content .forget_type li.hover .type_item span{ background-position:-27px 0;}
.main_content .process_content .forget_type li.current .item_wrap{ border-color:#E4E4E4 #FFF; border-top-width:1px; top:-1px; background-color:#FFF; }
.main_content .process_content .forget_type li.current .type_item{ color:#000; border-bottom-width:0; }
.main_content .process_content .forget_type li.current .type_item span{ background-position:-27px 0;}
.main_content .process_content .forget_type li .type_item span.question{ background-position:0 -42px; width:11px; height:22px; margin:0 15px; }
.main_content .process_content .forget_type li .type_item span.compatible{ display:inline-block; height:59px; width:0; overflow:hidden; padding:0; margin:0px; vertical-align:middle; }/*为兼容ie6垂直居中的设置*/

.main_content .process_content .forget_detial{ float:left; width: 748px; border-left:solid 1px #E4E4E4; height:382px; }
.main_content .process_content .forget_detial .panel{ position:relative; height:100%; }
.main_content .process_content .forget_detial .common_text{ height:26px; line-height:26px; width:190px; border:solid 1px #C6C6C6; }
.main_content .process_content .forget_detial .common_short_text{ width:94px; }
.main_content .process_content .forget_detial .common_btn{ display:inline-block; height:25px; padding:9px 22px 0; background-color:#CC052C; color:#FFF; text-decoration:none; border:solid 1px #BF0626; }
.main_content .process_content .forget_detial .gray_btn{ background-color:#999; border-color:#898989; }
.main_content .process_content .forget_detial .panel .content{ position:absolute; left:50%; top:50%;  }
.main_content .process_content .forget_detial .panel .content .btn_bar{ text-align:center; padding:16px 0; width: 300px; }
.main_content .process_content .forget_detial .panel .content .line{ padding:5px 0; }
.main_content .process_content .forget_detial .panel .content .msg{ color:#D10032; padding:6px 0 6px 20px; }
.main_content .process_content .forget_detial .panel .content .ico{ height:16px; display:inline-block; line-height:16px; vertical-align:middle; padding-left:20px; margin-left: 8px; }
.main_content .process_content .forget_detial .panel .content .line label.error{ height:16px; line-height:16px; display:inline-block; vertical-align:middle; padding-left:20px; background:url(http://img.nala.com.cn/b2c/images/error_bg.png) no-repeat; margin-left:6px; }/* jquery validate*/
.main_content .process_content .forget_detial .panel .content .check{ background:url(http://img.nala.com.cn/b2c/images/success_bg.png) no-repeat !important; }
.main_content .process_content .forget_detial .panel .content .uncheck{ background:url(http://img.nala.com.cn/b2c/images/error_bg.png) no-repeat; }
.main_content .process_content .forget_detial .panel .type1{ width:300px; margin:-100px 0 0 -150px; }
.main_content .process_content .forget_detial .panel .type2{ width:480px; margin: -100px 0 0 -240px; }
.main_content .process_content .forget_detial .panel .type3{ margin-top:-100px; }
.main_content .process_content .forget_detial .panel .type2 .explain{ width: 342px; float:right; line-height:26px; padding-top:10px; }
.main_content .process_content .forget_detial .panel .type2 .explain a{ font-weight:700; color:#CC0056; }
.main_content .process_content .forget_detial .panel .content .suggest{ border-top:dashed 1px #D5D5D5; padding:10px 20px; }
.main_content .process_content .forget_detial .panel .content .suggest dt,.main_content .process_content .forget_detial .panel .content .suggest dd{ padding:4px 0; }
.main_content .process_content .forget_detial .panel .content .common_gray_btn{ display:inline-block; height:23px; padding:5px 22px 0; background:url(http://img.nala.com.cn/b2c//images/forgot_type_hover.jpg) left -3px repeat-x; color:#000; text-decoration:none; border:solid 1px #E3E3E3; margin:0 auto; }
.center{ text-align:center; }
.valign{ vertical-align:middle; }
.gray{ color:#9B9B9B !important; }