html{_background:url(about:blank);}
body{ background-color:#fff; color:#333; overflow-x: hidden;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,
button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{ font:12px/1.5 Microsoft YaHei,Tahoma,Helvetica,Arial,simsun}
address,cite,dfn,em,var,i{font-style:normal;}
ul,ol{list-style:none;}
fieldset,img{border:0;}
h1{font-size:18px;}
h2{font-size:14px; font-weight:bold;}
h3{font-size:14px; font-weight:400;}
h4,h5{font-size:12px; font-weight:400;}
input,textarea,button,select{font-size:12px; outline:none; resize:none; color:#333;}
button{cursor: pointer;}
table{border-collapse:collapse;border-spacing:0;}
.clear {clear:both; height:0; font-size:0; line-height:0; overflow:hidden;}
.cle:after, .clearfix:after, .clear_f:after, .cle_float:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.cle, .clearfix, .clear_f, .cle_float{zoom:1}
.fl {float:left;}
.fr {float:right;}

a{text-decoration:none; color:#333; -webkit-transition: color .2s;-moz-transition: color .2s;-o-transition: color .2s; -ms-transition: color .2s;transition: color .2s;}
a:hover{text-decoration:underline; color: #ff7d8e;}
a:focus{outline:none;}
::selection {background:#ff7d8e; color:#fff;} 

.fs14{ font-size:14px;}
.red, a.red, a.red:hover{color: #c03;}
.pink, a.pink, a.pink:hover{color: #ff7d8e;}
.gray999, .gray,a.gray,a.gray:hover{color: #999;}
.green{color: #2b9b2d;}
.linedot{background:#fff url(http://img.nala.com.cn/b2c/2013/images/linedot.png) 0 bottom repeat-x;}

#content, #wrapper{ width:1008px; margin:10px auto;}

/*全站图标*/
.ico,.addcart,.my_login{background:url(http://img.nala.com.cn/b2c/2013/images/ico.png?0408) 0 -9999px no-repeat;}
.ok_ico, .warn_ico{background-position: 0 -65px; font-size: 24px; color: #00b000; font-weight: 400; padding-left: 38px;}
.warn_ico{background-position: 0 -119px; color: #f50; font-size: 16px;}
a.addcart {width:16px; height:16px; position:absolute; top:166px; right:13px; text-indent:-9999px; background-position:0 -175px; outline:none; overflow:hidden;}
a.addcart:hover {background-position:0 -202px; }

/*头部*/
#header{ width:100%; background:url(http://img.nala.com.cn/b2c/images/new1221/bg55.png) center 0 repeat-x;_background-image:url(http://img.nala.com.cn/b2c/images/new1221/bg56.png)}

/*头部登录信息、客服热线*/
#header .hd_bar{ padding:1px 0 2px 200px; width:808px; height:27px; line-height: 27px; color:#fff; margin:0 auto; } 
.hd_bar .hd_lbar{ float:left;}
.hd_bar .hd_lbar .hd_my{padding-right:15px;}
.hd_bar .hd_rbar{ float: right; padding-right: 3px; width: 205px;}
.hd_bar a{ display: inline-block; height: 25px; line-height: 25px; color:#fff; padding:1px 9px; background-color: #2f3241; +vertical-align: -1px;}
.hd_bar a:hover{background-color: #595e71; color:#fff; text-decoration: none;}
.hd_bar a.my_login{background-position: 5px -232px; margin-left:4px; padding-left:17px;}
.hd_bar a.msg_num,.hd_bar a.msg_num:hover{ background:#efefef; color:#333; border-radius:3px; font-weight:bold; margin: 4px 0; height: 16px; line-height: 16px; padding: 1px 5px;}
.hd_bar .index_ico{background-position: 5px -257px; padding-left: 20px; float: left; margin-right: 10px; margin-left: -5px;}

/* logo */
.hd_global { width:826px; height: 61px; margin:0 auto; position:relative; z-index: 20; padding-left:182px; }
.hd_global .cata_index{ width:180px; position:absolute; background:#cd0d22; left:0; top:-30px; border:1px solid #f22b44; box-shadow:0 0 2px #666; border-top: none; z-index:121;}
.hd_global .cata_index h1 { padding:27px 13px 23px; }
.hd_global .cata_index h1 a { display:block; width:153px; height:40px; background:url(http://nala.lis.cn/b2c/2013/images/bg12.png) no-repeat 0 0; text-indent:-88em; overflow:hidden; }

/* 导航栏 */
.hd_global .nav_bar {padding-top:14px; }
.hd_global .nav_box{ width:610px; height:32px; float:left;}
.hd_global .nav_box ul li.current a,.hd_global .nav_box a:hover{color: #c03;}

/*主导航栏*/
.hd_global .nav_cata{ float:left;}
.hd_global .nav_cata li{float: left; padding:3px 18px 7px;}
.hd_global .nav_cata li a {font-size: 14px; }
.hd_global .nav_cata li.hassub a,.hd_global .last_more a.more_btn{padding-right:15px; background:url(http://img.nala.com.cn/b2c/images/new1221/bg54.png) no-repeat right -20px;}
.hd_global .nav_cata li.hassub a.current{background-position: right 10px;color:#c03;} 

/*附属导航栏*/
.hd_global .nav_mod{ float:right;}
.hd_global .nav_mod li{ float:left; padding: 6px 12px; background:url(http://img.nala.com.cn/b2c/images/new1221/bg06.png) no-repeat right 8px; }
.hd_global .nav_mod li.noborder { background:none; }
.hd_global .nav_mod li.last_more{ background:none;position:relative;}
.hd_global .nav_mod li.last_more a.more_btn{ padding-right: 10px; background-position: right -23px;}
.hd_global .nav_mod li.last_more .more_border{ width:58px; position:absolute; top:26px; right:0px; height:1px; display:none; overflow:hidden; z-index:61; background-position: 2px bottom; background-repeat: no-repeat;}

/*更多附属导航栏*/
.hd_global .nav_mod li.hover{ position:relative; border:1px solid #e0e2ee;background:#fff;padding:5px 11px;}
.hd_global .nav_mod li.hover .more_border{display: block;}
.hd_global .nav_mod .last_more_links{display:none; position:absolute; z-index:58; right:-1px; top:26px; width: 80px; border:1px solid #e0e2ee; overflow-x: hidden;}
.hd_global .nav_mod li.hover .last_more_links{ display:block; }
.hd_global .last_more_links li{ background:none; padding:0; margin:0; float:none;}
.hd_global .last_more_links li a{display:block; height:32px; line-height: 32px;text-align:center} 
.hd_global .last_more_links li a.noborder{background-position: 0 -9999px; }
.hd_global .last_more_links li a:hover{ background:#e0e2ee; color:#333; text-decoration:none;}

/*搜索栏*/
.hd_global .search_box { width:198px; height:31px; background:url(http://img.nala.com.cn/b2c/images/new1221/bg59.png) no-repeat 0 0; float:right; padding-left:7px;}
.hd_global .search_box input { border:none; background: none; }
.hd_global .search_box .sea_input { width:163px; margin-top:5px; height:22px; float:left; color:#999;outline:none; }
.hd_global .search_box .sea_btn { width:33px; height:29px; float:left; margin-top:1px; cursor:pointer; }

/*主导航护肤，彩妆 下拉数据*/
.hd_global .subnav{ position:relative; z-index:900; }
.hd_global .J_subView { display:none; width:592px; border:1px solid #e0e2ee; border-top: none; position:absolute; z-index:206; padding:20px 0; left:0;top:4px;background:#fff url(http://img.nala.com.cn/b2c/2013/images/nav2_bg.png) repeat-x -16px 0px; box-shadow: 0px 2px 1px rgba(100, 100, 100, 0.3); }
.hd_global .J_subView h3 { width:100%; font:normal 14px/14px "Microsoft Yahei", simsun; color:#ff7d8e; height: 40px; font-weight:bold; }
.hd_global .J_subView h3 a { padding:15px 12px 5px 21px; display:inline-block; *display:inline;
zoom:1; }
.hd_global .J_subView h3 a{ color:#ff7d8e; }
.hd_global .J_subView dl { display: block; float: left; overflow: hidden; width: 592px; padding: 5px 0 6px; }
.hd_global .J_subView dl dt { float: left; font-size: 14px; line-height: 22px; width: 47px; padding-left:9px; }
.hd_global .J_subView dl dt a { color:#999; cursor:default; }
.hd_global .J_subView dl dt a:hover { text-decoration:none; }
.hd_global .J_subView dl a { display:inline-block; *display:inline;
zoom:1; white-space:nowrap; padding:0 12px; }
.hd_global .J_subView dd a { display:inline-block; *display:inline;
zoom:1; white-space:nowrap; padding:0 12px 0 7px; background:url(http://img.nala.com.cn/b2c/images/new1221/bg06.png) no-repeat scroll right 5px transparent; height: 23px; line-height: 23px; color:#666; }
.hd_global .J_subView dd a.last { background:none; }
.hd_global .J_subView dd a:hover { color:#ff7d8e; }
.hd_global .J_arrowBtn { display:none; width:13px; height:16px; background:url(http://img.nala.com.cn/b2c/images/new1221/bg25.png) no-repeat; overflow:hidden; position:absolute; z-index:131; left:169px; }
.hd_global .J_subView dl dd{ float:left; width:490px;}
.hd_global .J_subView .pin{ border-top:1px dashed #e0e2ee; height:2px; overflow:hidden; margin:0 20px; width:550px;}



/*页尾*/
#footer{background: url(http://img.nala.com.cn/b2c/2013/images/ft_bg.png) repeat-x 0 0;}
#footer .ft_main{width: 1008px; margin: 0 auto;}
#footer .ft_txt{ height:256px; background:url(http://img.nala.com.cn/b2c/images/new1221/bg02.png) no-repeat 0 bottom; text-align:center; padding-top: 5px;}
#footer .ft_txt p.logos {margin-top: 10px;}
#footer .ft_txt .logos a {margin: 0 5px;}
#footer .ft_txt .logos img{vertical-align: middle;display: inline-block; *display:inline; zoom:1;}
#footer .ft_txt p{ padding:5px 0; color:#666;}
#footer .ft_txt address{ color:#999;}
#footer .ft_txt .ft_phone{ font-size:14px;}
#footer .ft_txt .ft_phone em{ color:#333; font-weight:bold;}
#footer .ft_txt .ft_contact span{ display:inline-block; *display:inline; zoom:1; vertical-align:middle; padding:0 15px 0 30px; }
#footer .ft_txt .ft_contact img{display:inline-block; *display:inline; zoom:1; vertical-align:middle; }
#footer .img_links{ background:url(http://img.nala.com.cn/b2c/images/new1221/bg04_01.png) no-repeat center 30px; padding:30px 0; height:106px;}
#footer .ft_nav{ height:21px; padding:30px 0 14px; text-align:center;}
#footer .ft_nav a{ display: inline-block; *display:inline; zoom:1; padding:0 17px; background:url(http://img.nala.com.cn/b2c/images/new1221/bg06.png) no-repeat 0 center;}
#footer .ft_nav a.noborder{ background: none;}
#footer .ft_cata{ padding:22px 0 35px 60px;;}
#footer .ft_cata dl{ display:block; float:left;}
#footer .ft_cata dl.cata01{ width:305px;} 
#footer .ft_cata dt{ display:block; float:left; width:100%; font:bold 16px/24px "Microsoft Yahei", simsun; color:#ff7d8e; padding:5px 0 10px;}
#footer .ft_cata dd{ display:block; float:left; width:140px;}
#footer .ft_cata dd a{ display:block; font:normal 12px/18px; padding:4px 0;} 


/* 回到顶部  */
.back2top{ width:84px; height: 68px; overflow: hidden; position:fixed; _position:absolute; bottom:10px; right:33px; z-index:900; }
.back2top a{display:block; background:url(http://img.nala.com.cn/b2c/2013/images/back2top_bg.png) no-repeat 0 0;}
.back2top a.zixun{ height:28px; text-align: center; font-size: 14px; padding-top: 40px; }
.back2top a.zixun:hover{background-position:-85px 0; text-decoration: none;}
.back2top a.back2btn{ height:49px; background-position: 0 -68px;}
.back2top a.back2btn:hover{ background-position:-85px -68px;}

/* 右侧悬浮工具栏  */
.tb_box{ width:82px; border:1px solid #d9dbe9; position:absolute; top:140px; right:33px; z-index:9800; }
.tb_box .fn_bg, .tb_box .cart_imgs{ background:#fff url(http://img.nala.com.cn/b2c/2013/images/toolbar_bg.png?0314) -9999px 0 no-repeat; }
.tb_box ul{ position:relative; z-index:420;}
.tb_box li{ display:block; width:82px; }
.tb_box li a{display:block; height:47px; text-indent:-888em; overflow:hidden; }
.tb_box .tb01{ background-position:0 0;}
.tb_box .tb01:hover{ background-position:-83px 0; }
.tb_box .current .tb01, .tb_box .current .tb01:hover{ background-position:-166px 0; }
.tb_box .tb02{ background-position:0 -47px; }
.tb_box .tb02:hover{ background-position:-83px -47px; }
.tb_box .current .tb02, .tb_box .current .tb02:hover{ background-position:-166px -47px; }
.tb_box .tb03{ background-position:0 -94px; }
.tb_box .tb03:hover{ background-position:-83px -94px; }
.tb_box .current .tb03, .tb_box .current .tb03:hover{ background-position:-166px -94px; }
.tb_box .tb04{ background-position:0 -141px; font-family: Arial; font-weight: bold; text-indent: 0; padding: 17px 13px 0 43px; text-align: center; width: 26px; height: 30px;color:#fff; }
.tb_box .tb04:hover{background-position:-83px -141px; text-decoration:none; }
.tb_box .current .tb04, .tb_box .current .tb04:hover{background-position:-166px -141px; }

.tb_box .cart_imgs { text-align:center; height: 227px; overflow: hidden; background-position: 0 -188px; padding:5px 0;}
.tb_box .cart_imgs img{ width:66px; height:66px; border-radius:3px; display:block; margin:2px auto;}
.tb_box .cart_imgs .empty_tip{padding-top: 50px;}
.tb_box .cart_imgs .empty_tip a{text-decoration: underline; color: #666; text-indent: 0; height: 18px;}
.tb_box .cart_imgs .empty_tip a:hover{color: #ff7d8e;}
.tb_box .cart_imgs .empty_tip .empty_txt{background-position: -249px 0;height: 25px; display: block; margin:20px 0 0 5px;}
.tb_box .cart_imgs .empty_bg{background-position: -249px -25px; height: 46px; display: block; margin:20px 0 0 5px;}
.tb_box .cart_imgs .cart_more{ cursor: pointer; text-align:center; display:block; padding:0; color:#d4d6e5;}

/*toolbar 飞出框*/
.tb_box .panels_box{position: absolute; display:none; right:83px; top:-1px; z-index:410;}
.tb_box .panels{width: 230px; height:500px; position:relative; overflow:hidden;}
.tb_box .panel{ display:none; position:absolute; border:1px solid #d9dbe9; z-index:411; width:209px;right:-211px; top:0; background:#fff; box-shadow: 0px 0px 5px rgba(100, 100, 100, 0.3); }
.tb_box .panel_tit{ font-size: 14px; font-weight: bold; padding:10px 21px;background:url(http://img.nala.com.cn/b2c/images/new1221/bg61.png) no-repeat 0 0;}
.tb_box .tb_close{ width:50px; height:41px; position:absolute; top:0; right:0; cursor:pointer;}

.tb_box .panel_con { position:relative; height:380px; overflow:hidden;}
.tb_box .panel_con .panel_box{ width:9999px; position:absolute;}
.tb_box .panel_con .panel_box .h_panel{ float:left; width: 209px;}
.tb_box .panel_con .tips_01{ width:211px; z-index:99; text-align: center; padding:8px 0; position:absolute; bottom:5px; }
.tb_box .panel_con .tips_01 a { display:inline-block; width:14px; height:14px; outline:none; overflow:hidden; text-indent:60px; margin:0 4px; background-color:#e8e8e8; }
.tb_box .panel_con .tips_01 a:hover { text-decoration:none; }
.tb_box .panel_con .tips_01 a.current { background-color:#ff919e; }

.tb_box .panel_con dl{ display:block; padding:8px 16px; height:40px; overflow:hidden;   background:#fff url(http://img.nala.com.cn/b2c/images/new1221/bg66.png) no-repeat center bottom;}
.tb_box .panel_con dt{ float: left; width:40px; }
.tb_box .panel_con dt img{ width:40px; height:40px;}
.tb_box .panel_con dd{ float: right; width:130px; color:#666; padding-top: 2px;}

/*toolbar 品牌*/
.tb_box .panel01 .panel_con dl{width:202px; padding:8px 6px;}
.tb_box .panel01 .panel_con dt{width:80px;}
.tb_box .panel01 .panel_con dt img{ width:80px;}
.tb_box .panel01 .panel_con dd{width:112px;}

/*toolbar 购物车*/
.tb_box .panel03 .panel_con{ height:400px;}
.tb_box .panel03 .panel_con dd{position: relative;}
.tb_box .panel03 .panel_con dd p.p_name{height: 18px; overflow: hidden;}
.tb_box .panel03 .del_btn{ position:absolute; right:5px; bottom:0px; color:#999}
.tb_box .panel03 .cart_border{ width:214px; height:8px; overflow:hidden;background:url(http://img.nala.com.cn/b2c/images/new1221/bg62.png) no-repeat 0 -78px;}
.tb_box .panel03 .cart_box{text-align: center;}
.tb_box .panel03 .cart_box .btn2{margin: 10px 0;}
.tb_box .panel03 .cart_box .cart_btn{display: inline-block; background-color: #ec0733; color: #fff; padding: 4px 14px; border-radius: 3px;margin: 10px 0; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
.tb_box .panel03 .cart_box .cart_btn:hover{background-color: #f60936; text-decoration: none;}
.tb_box .panel03 .cart_num{ padding:10px 18px 0;font-size: 14px;}
.tb_box .panel03 .cart_num span.red{font-weight: bold;}
.tb_box .panel03 .cart_num1{ float:left;}
.tb_box .panel03 .cart_num2{ float: right;}
.tb_box .panel03 .tips_01{ padding:12px 0 15px;background:#f8f8f8; margin-top:-1px; position: relative;}
.tb_box .panel03 .tips_01 a{background:none; width: 100%; margin: 0; text-indent: 0; text-align: center; height: 16px; }
.tb_box .panel03 .tips_01 a:hover{text-decoration: underline;}

.tb_box .empty_mod{padding:90px 0; }
.tb_box .empty_mod p{font-size: 14px; color:#999; text-align: center;}
.tb_box .empty_mod p a{text-decoration: underline; color: #666; margin-right: 4px;}
.tb_box .empty_mod p a:hover{color: #ff7d8e;}
.tb_box .empty_mod .empty_img{ width:162px; height:170px;background:url(http://img.nala.com.cn/b2c/2013/images/toolbar_cart_empty.png) no-repeat 0 0; margin: 0 auto 15px;}


/*商品图片右上角信息图标*/
i.icon_tags { display:block; position:absolute; z-index:18; width:67px; height:21px; background:url(http://img.nala.com.cn/images/list/list_icon3.png) -9999px 0 no-repeat; text-indent:-999em; overflow:hidden; right:10px; top:16px; color:#fff; box-shadow:0 1px 3px #ccc;}
i.icon_tag01 { background-position: 0 0; }
i.icon_tag02 { background-position: 0 -25px; }
i.icon_tag03 { background-position: 0 -50px; width:45px; height:21px; text-indent:0; text-align:center; padding-right:22px; }
i.icon_tag04 { background-position: 0 -75px; }
i.icon_tag05 { background-position: 0 -100px; }
i.icon_tag06 { background-position: 0 -125px; width:30px; height:21px; text-indent:0; text-align:center; padding-left:37px; letter-spacing:-2px; }
i.icon_tag07 { background-position: 0 -150px; }
i.icon_tag08 { background-position: 0 -175px; }
i.icon_tag09 { background-position: 0 -200px; }
i.icon_tag10 { background-position: 0 -225px; }
i.icon_tag11 { background-position: 0 -250px; }
i.icon_tag010 { background-position: 0 -225px; }
i.icon_tag011 { background-position: 0 -250px; }

/*商品列表单个模块*/
a.productitem {display:inline-block; padding:10px; cursor:pointer; text-decoration:none;position:relative; overflow:hidden;}
a.productitem:hover { background-color:#f6f6f6; text-decoration:none;}
a.productitem span.productname {width:145px; height:38px; line-height:19px; display:block; overflow:hidden;}
a.productitem span.description {width:145px; display:block; color:#999;  white-space:nowrap; overflow:hidden;}
a.productitem:hover span.productname{color:#d4062e;}
a.productitem span.productimg img {width:150px; height:150px; display:block;  background:#fff url(http://img.nala.com.cn/images/imgloading.gif) center center no-repeat; border:1px solid #e7e7e7; cursor:pointer; overflow:hidden;}
a.productitem span.nalaprice {color:#d4062e;}
a.productitem span.nalaprice b {font-size:18px;}
a.productitem span.nalaprice span.promotion {color:#333; font-size:12px; font-weight:normal;}
a.productitem span.xszk {padding-left:45px; background:url(http://img.nala.com.cn/images/product_xszk_bg.png) left center no-repeat;}
a.productitem span.discount {width:43px; height:36px; position:absolute; top:12px; right:5px; color:#fff; padding:3px 0 0 1px; line-height:13px; text-align:center; vertical-align:middle; background:url(http://img.nala.com.cn/images/product_discount_bg.png) top left no-repeat;}
a.productitem span.discount strong {display:block; line-height:14px; font-weight:bold;}
a.productitem span.tgjg {padding-left:60px; background:url(http://img.nala.com.cn/images/tuan_price_pic.png) left center no-repeat;}
a.productitem span.specialinfo {width:32px; height:32px; position:absolute; top:12px; right:12px; color:#fff; line-height:32px; text-align:center; background:url(http://img.nala.com.cn/images/product_special_info_bg.png) center center no-repeat;}
a.productitem span.sales {color:#d4062e;}
a.productitem span.price {display:none; color:#999; font-weight:normal;}
a.productitem span.price .line {text-decoration:line-through;}
a.productitem span.salerow {color:#999;}
/*商品列表缺货*/
.soldout_mod a.productitem span.nalaprice {color:#6f6f6f;}
.soldout_mod a.addcart{display:none;} 
.soldout_mod span.soldout_txt{color:#d5261b; position: absolute; top: 166px; right: 13px;}


/*全站按钮*/
.btn{display: inline-block; width: 136px; height: 44px; line-height: 42px; overflow: hidden; color: #fff; font-size: 16px; font-weight: bold; text-align: center; background:url(http://img.nala.com.cn/b2c/2013/images/btn_bg.png) 0 0 no-repeat; }
.btn:hover{background-position: 0 -45px; text-decoration: none; color: #fff;}

.btn2{ width: auto; height: 30px; line-height: 30px; padding: 0 10px; font-size: 14px; background-position: -5px -14px; border-radius: 3px 3px 5px 5px;}
.btn2:hover{background-position: -5px -59px;}
.graybtn, .offbtn{display: inline-block; height: 31px; line-height: 31px; border: 1px solid #d9dbe9; border-radius: 2px;background:url(http://img.nala.com.cn/b2c/2013/images/gray_btn.png) 0 0 repeat-x; padding: 0 20px; font-size: 14px;}
.offbtn, .offbtn:hover{background-position: 0 -33px; color: #333; text-decoration: none; border: none; font-weight: bold;}


/* 弹窗样式 */
.aui_loading {padding:20px 0 0; background:url(http://img.nala.com.cn/b2c/2013/images/loading.gif) center 0 no-repeat; text-align:center; overflow:hidden; color:#bbb;}
.aui_inner {background:#fff url(http://img.nala.com.cn/b2c/2013/images/dialog_bg.png) right 0 repeat-y; box-shadow: 1px 1px 3px rgba(100, 100, 100, 0.3); border-radius: 2px; border:3px solid #eee\9;}
.aui_main {vertical-align: top; }
.aui_titleBar { position:relative;}
.aui_titleBar .aui_title{font-size: 14px; font-weight: bold; padding: 8px 10px;}
.aui_close{background-position:0 0; top:8px; right:8px; position:absolute;text-indent: -9999px;width:24px; height:24px; overflow:hidden; border-radius: 15px;}
.aui_close:hover{ background-position:0 -24px;}
.aui_buttons { background-color:#F6F6F6; border-top:1px solid #eee;padding:6px 10px;text-align:right; }
.aui_dialog button { margin-left:15px; padding: 6px 8px; cursor: pointer; display: inline-block; text-align: center; line-height: 1; *padding:4px 6px; *height:2em; letter-spacing:2px; color: #999; border: solid 1px #ddd; border-radius: 3px; background: #efefef;}
.aui_dialog button.highlight{ color: #FFF; border: solid 1px #20bc54; background: #3c6;box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.3);}

/*警告弹窗*/
.dg_warn{width: 250px;}
.dg_warn h4{margin-bottom: 20px;}
.dg_warn .tocheck{text-align: center;}

/* 购物车弹出窗口样式开始 */
.dg_addcart{width: 300px;}
.dg_addcart p{margin: 10px 0;}
.dg_addcart p span{margin: 0 4px; font-weight: bold; color: #c03;}
.dg_addcart .tocheck{padding-top: 10px;}
.dg_addcart .tocheck a{display: block; float: left;}
.dg_addcart .tocheck .toother{margin: 14px 0 0 26px;}

/*登录弹窗*/
.login_dialog{width: 400px; padding: 0 20px;}
.login_dialog li{padding-bottom: 10px; font-size: 14px;}
.login_dialog li span{display: inline-block; width: 70px; text-align: right; padding-right: 8px;}
.login_dialog li input.text{width: 200px; padding:8px; height: 16px; overflow: hidden; border: 1px solid #eee; border-top-color: #ccc; font-size: 14px; margin-right: 10px; box-shadow: 0px 1px 3px rgba(200, 200, 200, 0.3) inset; }
.login_dialog li a.gray{font-size: 12px;}
.login_dialog li a.btn{margin: 10px 20px 0 78px;}
.login_dialog .other{ border-top: 1px solid #eee; padding-top: 5px; margin-top: 10px;}
.login_dialog .other p{margin-bottom: 10px;}
.login_dialog .other a{ display:inline-block; width:82px; height: 27px; background: url(http://img.nala.com.cn/b2c/images/bg-oauth3.png) 0 -9999px no-repeat; margin-right:10px; }
.login_dialog .other a.sina{ background-position: 0 -185px;}
.login_dialog .other a.sina:hover{ background-position: 0 -148px; }
.login_dialog .other a.qq{ background-position: 0 -111px; }
.login_dialog .other a.qq:hover{ background-position: 0 -74px; }
.login_dialog .other a.taobao{ background-position: 0 -259px ; }
.login_dialog .other a.taobao:hover{ background-position: 0 -222px; }
.login_dialog .other a.baidu{ background-position: 0 -407px ; }
.login_dialog .other a.baidu:hover{ background-position: 0 -370px; }

/*搜索结果自动补全样式*/
.ac_results {border: 1px solid #e0e2ee; margin-left: -7px; background-color: #fff; z-index: 9900; overflow-x: hidden;}
.ac_results li {padding: 5px 8px;cursor: default; background-color: #fff; color: #666;}
.ac_results li.ac_over {background-color: #e0e2ee;}

/*分页*/
.pagenav {padding: 10px 0; font-size:14px; text-align:right;}
.pagenav a{margin-left:4px; padding:4px 10px; font-size:14px; border:1px solid #eee; background-color:#f4f4f4; border-radius: 2px;}
.pagenav a:hover{color:#fff; border-color:#f9596e; text-decoration:none; background-color:#ff7d8e; }
.pagenav span.currentStep{padding:4px 8px; margin-left:3px; font-weight: bold;}
.pagenav span.step{color:#999; margin:0 5px;}

