body{background-color: #fff;}
.Register_Area {margin-top:20px; color:#999; padding:10px 20px 15px 20px; border:1px solid #e7e7e7; border-top:2px solid #333;}
.Register_Area h3 {color:#999; font-size:12px; padding-bottom:15px;}
.Register_Area ul {width:900px; margin-left:20px;}
.Register_Area li {height:30px; padding:10px 20px;}
.Register_Area li.current {background-color:#f6f6f6; }
.Register_Area li div {float:left; font-size:14px;}
.Register_Area li div.col1 {width:80px; color:#111;}
.Register_Area li div.col2 {width:585x; text-align:left; position:relative;}
.Register_Area li div.col2 input {float:left; margin-right:20px;}
.Register_Area li div.col2 input.error {border:1px solid #ff6600;}
.Register_Area li div.col2 label {display:none; position:absolute; left:263px; top:0; width:350px; height:28px; color:#333; border:1px solid #ff8080; padding:0 5px 0 28px; line-height:28px; background:url(http://img.nala.com.cn/b2c/images/error_bg.png) #fff2f2 6px 6px no-repeat; z-index:100;}
.Register_Area li div.col2 span.info {display:none; position:absolute; left:263px; top:0; width:350px; height:28px; color:#333; padding:0 5px 0 28px; line-height:28px; border:1px solid #42b3ff; background:url(http://img.nala.com.cn/b2c/images/message_bg.png) #e5f5ff 6px 6px no-repeat; z-index:98;}
.Register_Area li div.col2 span.errorinfo {color:#ff6600; display:none;}
.Register_Area li div.col2 span.successinfo {display:none; position:absolute; left:263px; top:0; width:350px; height:28px; color:#333; padding:0 5px 0 28px; line-height:28px; text-indent:-1000px; background:url(http://img.nala.com.cn/b2c/images/success_bg.png) 6px 6px no-repeat; z-index:99;}
.Register_Area li input.text {width:252px; height:30px; line-height:30px; font-size:14px; padding-left:6px; border:1px solid #adadad; background:url(http://img.nala.com.cn/b2c/images/input_global_bg.png) left top no-repeat;}
.Register_Area li input.submit {width:197px; height:37px; color:#fff; font-size:14px; padding-bottom:2px; border:none; background:url(http://img.nala.com.cn/b2c/images/register_button_bg.png) left center no-repeat; cursor:pointer;}
.Register_Area li .agreement {width:700px; height:100px; padding:5px 10px; overflow-y:auto; border:1px solid #e6e6e6;}

/*注册成功页css*/
.Find_psw_main .Success{height: 30px;line-height: 30px;margin: 35px 0 15px 35px;padding-left: 45px;color: #007900;font-size: 14px;font-weight: bold;border: none;background: url(http://img.nala.com.cn/b2c/images/icon_checkmark.png) left center no-repeat;}
.register_success{font-family: "Microsoft YaHei";width: 1007px;margin-top: 10px;padding-bottom: 30px;margin-right: auto;margin-left: auto;border-top-width: 2px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-top-color: #333333;border-right-color: #e7e7e7;border-bottom-color: #e7e7e7;border-left-color: #e7e7e7;}
.register_success h2{background:#f1f1f1 url(http://img.nala.com.cn/b2c/images/true_pic.png) no-repeat left center;height: 30px;line-height: 30px;padding-left: 35px;margin: 30px; margin-bottom:15px;font-weight: bold;color: #1d8900;font-size: 16px;}
.register_success p{margin-top: 10px;margin-left: 65px;}
.register_success p span{color:#D4062E;margin-right: 10px;margin-left: 10px; font-weight:bold;}
.register_success p a{margin-left:10px; font-weight:bold; text-decoration:underline;}
.error_bj{background-color: #f6f6f6;height: 100@;width: 100%;margin: 0px;padding: 0px;}
.error_tip{height: 596px;width: 794px;background-image: url(http://img.nala.com.cn/b2c/images/error_404_bj.png);background-repeat: no-repeat;background-position: left center;margin-top: 70px;margin-right: auto;margin-left: auto;position: relative;border: 2px solid #b7b7b7;}
.error_tip a{display: block;height: 74px;width: 87px;position: absolute;top: 415px;left: 267px;text-indent: -9999px;outline: 0px;}

/*登录页*/
.Login_main{width: 1007px;margin: 23px auto 50px;}
.Login_propaganda{height: 340px;width: 400px;margin-bottom: 50px;float: left;}
.Login_box{float: right;width: 422px;margin-top: 0px;}
.Login_box h2{font-size: 12px;color: #FFFFFF;background-color: #333333;font-weight: bold;line-height: 32px;height: 30px;padding-left: 12px;}
.Login_main .Login_box h2 a{color: #FFFFFF;}
.Login_main .Login_box h2 a:hover{color: #FFFFFF;text-decoration: underline;}
.Login_box h2 span{float: right;margin-right: 14px;font-size: 12px;font-weight: normal;}
.Login_box h3{margin-top: 8px;line-height: 24px;height: 24px;width: 369px;border: 1px solid #ff807d;margin-right: 10px;margin-left: 10px;background-color: #fff2f1;background: url(http://img.nala.com.cn/b2c/images/login_tip-bj.png);background-repeat: no-repeat;background-position: 6px center;padding-left: 30px;}
.Login_inf{margin-top: 15px;margin-right: 38px;margin-left: 34px;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #e7e7e7;padding-bottom: 20px;}
.Login_inf li{margin-bottom: 10px;}
.Login_inf .Login_text{background: url(http://img.nala.com.cn/b2c/images/login_input_bj.png) no-repeat 0 0;font-size: 16px;padding-left: 6px;font-weight: bold;height: 28px;width: 168px;border: 1px solid #adadad;padding-top: 4px;margin-left: 15px;}
.Login_inf em{color: #333333;margin-left: 16px;margin-top: 3px;}
.Login_main .Login_box .Login_inf em a{color: #333333;}
.Login_main .Login_box .Login_inf em a:hover{color: #D4062E;text-decoration: none;}
.Login_inf .Login_check{margin-left: 63px;}
.Login_inf #Login_submit{height: 39px;width: 168px;background: url(http://img.nala.com.cn/b2c/images/login_button_bj.png);background-repeat: repeat-x;background-position: left center;font-weight: bold;color: #FFFFFF;font-size: 16px;margin-left: 63px;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;cursor: pointer;}
.Other_login{margin-right: 38px;margin-left: 34px;margin-top: 10px;}
.Other_login h4{margin-left: 63px;margin-top: 21px;margin-bottom: 10px;}
.Other_login ul{margin-left: 63px;margin-right: 0px;}
.Other_login li{width: 150px;height: 25px;margin-bottom: 5px;}

/*忘记密码页*/
.Find_psw_main{width: 1007px;margin: 10px auto;border:1px solid #e7e7e7; border-top:2px solid #333;padding-bottom: 15px;}
.Find_psw_main h2{margin-top: 14px;margin-left: 21px;font-size: 14px;font-weight: bold;color: #333;}
.Find_psw_main h2 span{color: #999;font-size: 12px;margin-left: 20px;font-weight: normal;}
.Find_psw_main ul{margin-top: 40px;margin-left: 80px;}
.Find_psw_main li{line-height: 45px;height: 45px;}
.Find_psw_main .Text_input{height: 26px;width: 258px;background: url(http://img.nala.com.cn/b2c/images/find_input_bj.png) repeat-x left center;border: 1px solid #adadad;line-height: 26px;}
.Find_psw_main .Button_submit{height: 39px;width: 82px;background: url(http://img.nala.com.cn/b2c/images/login_button_bj.png) repeat-x left center;borde: none;font-size: 14px;font-weight: bold;color: #fff;margin-top: 10px;margin-left: 60px;cursor: pointer;}
.Find_psw_main .Tip_success{color: #007900;font-size: 14px;font-weight: bold;background: url(http://img.nala.com.cn/b2c/images/true_pic.png) no-repeat left center;padding-left: 35px;}
.Find_psw_main li a{color: #333;margin-left: 35px;}
.Find_psw_main a:hover{color: #D4062E;text-decoration: none;}

#emailError {display:none; float:left; margin-left:10px; color:#ff0000; padding-left:20px; background:url(http://img.nala.com.cn/b2c/images/error_bg.png) left center no-repeat;}
#noUser {float:left; margin-left:10px; color:#ff0000; padding-left:20px; background:url(http://img.nala.com.cn/b2c/images/error_bg.png) left center no-repeat;}
#noUser a {margin-left:15px;}

/*新的 安全设置 */
.tab_hd ul li a,.bd_fl ul li a,.bd_fl ul li.hover,.send_email_box .send_btn{background:url(http://img.nala.com.cn/b2c/images/anquan_bg.png) -9999px 0 no-repeat;}

.anquan_main{width:1007px;}
.anquan_main .tab_hd{border-bottom:1px solid #e4e4e4; height:38px; }
.anquan_main .tab_hd h2{float:left; font-weight:bold; margin-top:16px;}
.tab_hd ul{float:right; position:relative; top:1px; height:38px;}
.tab_hd ul li{float:left; width:163px; overflow:hidden; margin-right:12px; _margin-right:6px;border:1px solid #e4e4e4;height:26px;padding-top:10px; text-align:center;}
.tab_hd ul li.current{ border-bottom-color:#fff;}
.tab_hd ul li a{display:inline-block; margin:0 auto; padding-left:30px; height:19px; overflow:hidden; line-height:19px;}
.tab_hd ul li a.no1{background-position:0 -80px;}
.tab_hd ul li a.no2{background-position:0 -100px;}
.tab_hd ul li a.no3{background-position:0 -120px;}
.tab_hd ul li a.no4{background-position:0 -140px;}
.tab_hd ul li.current a.no1{background-position:0 0;}
.tab_hd ul li.current a.no2{background-position:0 -20px;}
.tab_hd ul li.current a.no3{background-position:0 -40px;}
.tab_hd ul li.current a.no4{background-position:0 -60px;}

.anquan_main .tab_bd{border:1px solid #e4e4e4; border-top:none;}
.anquan_main .tab_bd .bd_fl{float:left; background:#fafafa; border-right:1px solid #e4e4e4; width:255px; height:300px; padding:50px 0 80px 0;}
.anquan_main .tab_bd .bd_fr{float:right;width:620px; padding:60px 100px 50px 0; }
.anquan_main .tab_bd .bd_fr2{padding:60px 80px 100px 40px;}
.bd_fl ul li{width:255px; overflow:hidden; height:46px;padding-top:12px;}
.bd_fl ul li.current{width:256px; background-color:#fff;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4; margin-top:-1px;}
.bd_fl ul li.hover{background-position:0 -584px; background-repeat:repeat-x;}
.bd_fl ul li a{display:block; margin:0 auto;padding-left:55px; width:160px; height:45px; overflow:hidden; line-height:29px;border-bottom:1px solid #e4e4e4; color:#999;}
.bd_fl ul li.current a{border-bottom:none; color:#000;}
.bd_fl ul li a:hover{color:#c03;}
.bd_fl ul li a.no1{background-position:0 -391px;}
.bd_fl ul li a.no2{background-position:0 -456px;}
.bd_fl ul li a.no3{background-position:0 -525px;}
.bd_fl ul li a.no4{padding-left:0; text-align:center; width:215px;}
.bd_fl ul li.current a.no1{background-position:0 -191px;}
.bd_fl ul li.current a.no2{background-position:0 -256px;}
.bd_fl ul li.current a.no3{background-position:0 -325px;}

.bd_fr_box{display:none;}
.g_show{display:block;}

.anquan_form li{ text-align:center; padding:15px 0;}
.anquan_form li.tx_fl{text-align:left; padding-left:280px;}
.anquan_form li.tx_fl2{text-align:left; padding-left:180px;}
.anquan_form li.tx_fl2 input.g_submit{margin-left:64px;}
.anquan_form li.error_li{display:none;}
.anquan_form li.error_li i{color:#c03; margin-left:10px;}
.anquan_form li input.text{font-size: 16px;padding-left: 6px;font-weight: bold;height: 28px;width: 200px;padding-top: 4px;margin-left: 15px; line-height:28px;}
.anquan_form li input.text_short{width:80px;}
.anquan_form li input.g_submit{margin-left:40px;}
.anquan_form li input.g_submit_long{width:180px; margin-left:122px;}
.bind_mb_form li input.g_submit_long{width:180px; margin-left:80px;}
.anquan_form li input.g_false{background:#999;}
.anquan_form li em.error{background:url(http://img.nala.com.cn/b2c/images/error_bg.png) no-repeat 0 8px; margin-left:10px; padding:8px; padding-left:20px; height:0; overflow:hidden; display:none;}
.anquan_form li em.ok{background:url(http://img.nala.com.cn/b2c/images/icon_true_01.png) no-repeat 0 8px; margin-right:10px; padding:8px; height:0; overflow:hidden;}
.anquan_form li em.ok2{ display:none; margin-left:10px;}
#anquan_error_info{ display:none; border-top:1px dotted #ddd; padding:14px 0 0 130px; width:400px;  margin-top:20px; margin-left:80px;}
#anquan_error_info p{line-height:26px;}

.send_email_box{border-top:1px dotted #ddd; padding:14px 0 0 130px; width:400px;  margin-top:20px; margin-left:80px;}
.send_email_box .send_btn{width:130px; height:26px; border:1px solid #eee; line-height:22px;background-position:0 -600px; background-repeat:repeat-x; cursor:pointer; margin:10px 0 0 50px;}

.send_email_box_bind{width:630px; margin:20px auto; padding-left:40px; text-align:center; }
.send_email_box_bind .send_btn{margin-left:0;}
.send_email_box_bind p span{margin-left:8px;position:relative; top:6px;}
.send_email_box_bind p span a{margin-left:8px; font-weight:bold;}
.send_email_box_bind #send_cishu{ padding:0;}

.nala_tip_dog{background:url(http://img.nala.com.cn/b2c/images/nala_tip_bg_dog.png) 0 0 no-repeat; padding:20px 0 40px 130px; margin-left:100px;}
.nala_tip_dog p{line-height:26px;}
.nala_tip_dog p a{font-weight:bold; margin:0 5px;}

/*忘记密码第2步*/
#send_cishu{display:none; padding-left:60px; margin-top:8px;}
#send_cishu i{color:#c03; margin:0 3px;}
/*忘记密码第3步*/
#anquan_suc_info{display:none;width:270px; margin:40px auto 100px; }
#anquan_suc_info .ok,.bind_suc_info .ok{background:url(http://img.nala.com.cn/b2c/images/icon_checkmark.png) 50px 5px no-repeat; padding:10px 0 20px 90px; font-weight:bold; height:20px; }

.bind_suc_info{width:570px; margin:40px auto 100px; }
.bind_suc_info .ok{ height:20px; }
.bind_suc_info p{padding-left:88px;}

/*更换邮箱*/
.edit_email_form{float:left;width:430px; padding:20px 0;}
.edit_email_form_fl{border-right:1px dotted #ddd;}
.edit_email_form li{text-align:center; padding-bottom:20px;}
.edit_email_form li input.g_submit{width:120px;}













