{if $arr.input}
<div class='input-group' style="width: 450px;">
    {if $arr.title}
    <span class='input-group-addon alert-info'>{$arr.title}</span>
    {/if}
    <span class='input-group-addon'>由</span>
    <input name='{$start_date}' type='text' class='form-control' placeholder='{$lang.start_date}' data-type='date' value='{$arr.start}'>
    <span class='input-group-addon'>至</span>
    <input name='{$end_date}' type='text' class='form-control' placeholder='{$lang.end_date}' data-type='date' value='{$arr.end}'>
    {foreach from=$arr.extra_input item=input}
    <input class="{$input.class}" type="{$input.type}" name="{$input.name}" value="{$input.value}" style="{$input.style}">
    {/foreach}
    <span class='input-group-btn'>
        {if $submit}
        <button id="{$submit}" class="btn btn-info" type="button" {if $arr.submit_func}onclick="{$arr.submit_func}"{/if}>查詢</button>
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='padding: 0 5px;'>
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" onclick='$("input[name={$start_date}]").val("{$last_month_start}");$("input[name={$end_date}]").val("{$last_month_end}");$("button#{$submit}").trigger("click");return false;'>上月</a></li>
            <li><a href="#" onclick='$("input[name={$start_date}]").val("{$last_quarter.start_date}");$("input[name={$end_date}]").val("{$last_quarter.end_date}");$("button#{$submit}").trigger("click");return false;'>上季</a></li>
            <li><a href="#" onclick='$("input[name={$start_date}]").val("{$last_year.start_date}");$("input[name={$end_date}]").val("{$last_year.end_date}");$("button#{$submit}").trigger("click");return false;'>上年</a></li>
        </ul>
        {else}
        <button type='button' class='btn btn-info' onclick='$("input[name={$start_date}]").val("{$last_month_start}");$("input[name={$end_date}]").val("{$last_month_end}");{if $submit}$("button#{$submit}").trigger("click");{/if}'>上月</button>
        <button type='button' class='btn btn-warning' onclick='$("input[name={$start_date}]").val("{$last_quarter.start_date}");$("input[name={$end_date}]").val("{$last_quarter.end_date}");{if $submit}$("button#{$submit}").trigger("click");{/if}'>上季</button>
        <button type='button' class='btn btn-danger' onclick='$("input[name={$start_date}]").val("{$last_year.start_date}");$("input[name={$end_date}]").val("{$last_year.end_date}");{if $submit}$("button#{$submit}").trigger("click");{/if}'>上年</button>
        {/if}
    </span>
</div>
{else}
<div class='btn-group' role='group'>
    <button type='button' class='btn btn-info' onclick='$("input[name={$start_date}]").val("{$last_month_start}");$("input[name={$end_date}]").val("{$last_month_end}");$("input#{$submit}").trigger("click");'>上月</button>
    <button type='button' class='btn btn-warning' onclick='$("input[name={$start_date}]").val("{$last_quarter.start_date}");$("input[name={$end_date}]").val("{$last_quarter.end_date}");$("input#{$submit}").trigger("click");'>上季</button>
    <button type='button' class='btn btn-danger' onclick='$("input[name={$start_date}]").val("{$last_year.start_date}");$("input[name={$end_date}]").val("{$last_year.end_date}");$("input#{$submit}").trigger("click");'>上年</button>
</div>
{/if}