<div class="col-md-12 form-inline" style="margin: 10px 0 0 0;">
    <input class="flat" name="crp_price" type="radio" value="1" checked="checked" label="市價折扣"/>
    市價折扣 (<input style="width: 60px;text-align: center;" width="10" class="form-control" type="number" name="srp_percentage" value="10"/>% OFF)
    <input class="flat" name="crp_price" type="radio" value="2"  label="大批量"/> 大批量
    <input class="flat" name="crp_price" type="radio" value="3"  label="小批量"/> 小批量
</div>