{include file="pageheader.htm"}
{insert_scripts files="i18n.js"}
{insert_scripts files="../includes/tinymce/js/tinymce/tinymce.min.js"}
<!-- validator -->
<script src="js/yaireo.validator.js"></script>
<form action="{$form_redirect}" method="post" name="theForm" enctype="multipart/form-data" class="form-horizontal form-label-left">
    <div class=" x_panel">
        {foreach from=$form key=input_name item=input}
        <div class="form-group">
            {if $input.type neq 'hidden'}<label class="control-label col-md-3 col-sm-3 col-xs-12">{$input.label}{if $input.required} <span class="required">*</span>{/if}</label>{/if}
            <div class="col-md-6 col-sm-6 col-xs-12">
            {if $input.type eq 'checkbox'}
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="{$input.className}" name="{$input_name}" value="{$input.checkbox_value}"
                    {if $input.value eq $input.checkbox_value}checked="checked"{/if}
                    {if $input.events}{foreach from=$input.events key=event_name item=event}{$event_name}="{$event}" {/foreach} {/if}
                    {if $input.datas}{foreach from=$input.datas key=data_name item=data_value}data-{$data_name}="{$data_value}" {/foreach} {/if}/>
                        {$input.checkbox_label}
                  </label>
                </div>
            {elseif $input.type eq 'radio'}
                <div class="radio input-group">
                  <input class="{$input.className}" name="{$input_name}" type="radio" value="1" {if $input.value eq 1}checked="checked"{/if}
                  {if $input.events}{foreach from=$input.events key=event_name item=event}{$event_name}="{$event}" {/foreach} {/if}
                  />{$lang.yes}
                  <input class="{$input.className}" name="{$input_name}" type="radio" value="0" {if $input.value eq 0}checked="checked"{/if}
                  {if $input.events}{foreach from=$input.events key=event_name item=event}{$event_name}="{$event}" {/foreach} {/if}
                  />{$lang.no}
                </div>
            {elseif $input.type eq 'select'}
                <select class="{$input.className}" name="{$input_name}"
                {if $input.events}{foreach from=$input.events key=event_name item=event}{$event_name}="{$event}" {/foreach} {/if}
                {if $input.datas}{foreach from=$input.datas key=data_name item=data_value}data-{$data_name}="{$data_value}" {/foreach} {/if}
                >
                    <option value="-1">{$lang.select_please}</option>
                    {foreach from=$input.options key=option_value item=option_label}
                    <option value="{$option_value}"  {if $input.value eq $option_value}selected="selected"{/if}>{$option_label}</option>
                    {/foreach}
                </select>
            {elseif $input.type eq 'file'}
                <input type="file" class="{$input.className}" name="{$input_name}" size="35"
                {if $input.datas}{foreach from=$input.datas key=data_name item=data_value}data-{$data_name}="{$data_value}" {/foreach} {/if}
                {if $input.events}{foreach from=$input.events key=event_name item=event}{$event_name}="{$event}" {/foreach} {/if}/>
            {elseif $input.type eq 'daterange'}
                <div class="controls">
                  <div class="input-prepend input-group">
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar-alt"></i></span>
                    <input type="text" name="{$input_name}" data-type='daterange' id="{$input_name}" class="{$input.className}" value="{$input.value}" />
                  </div>
                </div>
            {elseif $input.type eq 'date'}
                <div class="controls">
                  <div class="input-prepend input-group">
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                    <input type="text" name="{$input_name}" data-type='date' id="{$input_name}" class="{$input.className}" value="{$input.value}" />
                  </div>
                </div>
            {elseif $input.type eq 'datetime'}
                <div class="controls">
                  <div class="input-prepend input-group">
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar-alt"></i></span>
                    <input type="text" name="{$input_name}" data-type='datetime' id="{$input_name}" class="{$input.className}" value="{$input.value}" />
                  </div>
                </div>
            {elseif $input.type eq 'textarea'}
                <textarea class="{$input.className}" {if $input.required} required="required"{/if} type='{$input.type}' name="{$input_name}" cols="80" rows="4"
                {if $input.datas}{foreach from=$input.datas key=data_name item=data_value}data-{$data_name}="{$data_value}" {/foreach} {/if}
                {if $input.events}{foreach from=$input.events key=event_name item=event}{$event_name}="{$event}" {/foreach} {/if} />{$input.value}</textarea>
            {elseif $input.type eq 'editor' ||  $input.type eq 'tinymce'}
                <textarea class="{$input.className} tinymce" id="{$input_name}" {if $input.required} required="required"{/if} type='{$input.type}' name="{$input_name}" cols="80" rows="4"
                {if $input.datas}{foreach from=$input.datas key=data_name item=data_value}data-{$data_name}="{$data_value}" {/foreach} {/if}
                {if $input.events}{foreach from=$input.events key=event_name item=event}{$event_name}="{$event}" {/foreach} {/if} />{$input.value}</textarea>
            {elseif $input.type eq 'perma_link'}
              <div id="perma_link"></div>
            {else}
                <input class="{$input.className}" {if $input.required} required="required"{/if} type='{$input.type}' name="{$input_name}" value='{$input.value}'
                {if $input.datas}{foreach from=$input.datas key=data_name item=data_value}data-{$data_name}="{$data_value}" {/foreach} {/if}
                {if $input.events}{foreach from=$input.events key=event_name item=event}{$event_name}="{$event}" {/foreach} {/if} />
            {/if}
                <span class="form-helper">{$input.notice}</span>
            </div>
        </div>
        {/foreach}
        <div class="form-group">
            <div class="ln_solid"></div>
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
            <input type="hidden" name="act" value="{$form_action}" />
            <input type="hidden" name="id" value="{$id}" />
            <input type="submit" value="{$lang.button_submit}" class="btn btn-primary" />
            <input type="reset" value="{$lang.button_reset}" class="btn btn-primary" />
            </div>
        </div>
  </div>
</form>
{include file="pagefooter.htm"}
<script language="JavaScript">
// Multiple language support
var localizableFields = {$localizable_fields|json_encode};
var localizedVersions = {$localized_versions|json_encode};

$(function() {
{foreach from=$form key=input_name item=input}
{if $input_name eq 'perma_link'}
  {if $form_action eq 'insert'}
    $("#perma_link").permaLink({
      table: '{$table_name}',
      url: '/{$input.url}/{id}-',
      ref: '{$input.ref}',
    });
    $("form[name=theForm]").submit(function(e) {
      if (!$("input[name=perma_link]").data('pass')) {
        alert("設先設定永久鏈結")
        return false;
      } else if ($("input[name=perma_link_raw]").val() == "") {
        alert("設先重新整理")
        return false;
      }
    })
  {else}
    $("#perma_link").permaLink({
      priv: '{if $edit_perma_link}1{else}0{/if}',
      table: '{$table_name}',
      id: '{$id}',
      origin: {$localized_versions|json_encode},
      init: '{$input.value}',
      url: '/{$input.url}/{$id}-',
    });
  {/if}
{/if}
{/foreach}
var brand_desc = $('textarea[name="brand_desc"]').val();
var brand_name =  $("input[name='brand_name']").val()
  if(!brand_desc) {
    $("input[name='brand_name']").keyup(function(){
      brand_name = $(this).val();
      brand_desc = "購買 " + brand_name + "  - " + brand_name + "香港代理零售經銷" ;
      $('textarea[name="brand_desc"]').val(brand_desc);
    });
  }
  $(".form-control.edit-language-select").change(function(e) {
      var lang = $(e.target).val();
      brand_name =  $("input[name='brand_name']").val()     
      if(lang == "en_us" && (!localizedVersions["en_us"] ? !localizedVersions["en_us"] : !localizedVersions["en_us"]["brand_desc"])) {
        brand_desc = "Shop " + brand_name + "  - " + brand_name + " hk distributor reseller" ;
        $('textarea[name="brand_desc"]').val(brand_desc);
      }     
    });
})
</script>
{if $jsFile}
{insert_scripts files=$jsFile}
{/if}