.instruction-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.instruction-container > .item {
    width: 33%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.instruction-container > .item.-center{
    justify-content: center;
}

.instruction-container > .item.-right{
justify-content: flex-end;
}

.ui-tooltip {
    padding: 10px 15px 0px;
}

.ui-tooltip, .ui-tooltip .arrow:after{
    border: none;
    border-radius: 5px;
    box-shadow:0px 0px 12px -2px rgba(20%,20%,40%,0.5);
    width: 30%;
}

.split-layout {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.split-layout__item {
    flex: 1;
    padding: 0.5rem 1rem 0;
}

.split-layout__item > img {
    display: block;
    margin: auto;
    padding-top: 1rem;
    position: relative;
    bottom: 0;
    max-height: 120px;
}

.split-layout__divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 1rem;
}

.split-layout__label {
    padding: 1em;
    color: rgba(0, 0, 0, .3);
}

.split-layout__rule {
    flex: 1;
    border-style: solid;
    border-color: rgba(0, 0, 0, .15);
    border-width: 1.5px 0 0 0;
}

span.step {
    background: #767676;
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6rem;
    margin-right: 5px;
    text-align: center;
    width: 1.6rem; 
}

span.step.-popover {
    background: #cfcfcf;
}

.payme-error-container, .payme-expiry-message {
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.payme-error-container {
    display: none;
}

.payme-error-message {
    padding: 1rem;
}

.bg-danger {
    background-color: #f2dede;
}

@media screen and (max-width: 1279px){
    .ui-tooltip.ui-widget.ui-widget-content{
      width:30rem;
      z-index:1000;
    }
}

@media screen and (min-width: 30em) {
    .split-layout__divider {
    flex-direction: column;
    }

    .split-layout__rule {
        border-width: 0 1.5px 0 0;
    }

    .split-layout {
        flex-direction: row;
        align-items: stretch;
    }

    .split-layout__item {
        padding: 1rem, 1rem, 0px;
    }
}

@media screen and (min-width: 768px) {
    .payme-logo-container {
        position: absolute;
    }

    .payme-error-container {
        width: 50%;
    }
}
