
fieldset {
	margin: 0;
	padding: 5px 5px;
}

legend {
	background-image: url(../images/bullet_green.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	padding-right: 5px;
}
legend a {
	border: none!important;
	text-decoration: none;
	cursor: pointer;
}

.fieldset_off {
	border-bottom: none;
	border-right: none;
}
.fieldset_off legend {
	background-image: url(../images/bullet_orange.gif);
}
.fieldset_off div {
	display: none;
}

.button1 {
	padding-bottom: 2px;
	border: 0pt none;
	cursor: pointer;
	font-weight: bold;
	height: 21px;
	width: 90px;
}

.source_desc {
	clear: left;
	float: left;
	width: 200px;
}

.source_url {
	float: left;
	width: 250px;
	height: 24px;
}
.source_url input, .source_url select {
	font-size: 95%;
	width: 240px;
	padding: 0 0 0 1px;
}

a.source_accept {
	display: block;
	float: left;
	padding-left: 18px;
	color: #888888!important;
	background-image: url(../images/accept.gif);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 90%;
	letter-spacing: -1px;
	border: none!important;
}
a.source_accept:hover {
	color: #333333!important;
}

#img_area_form {
	margin: 5px 0px;
	padding: 0;
	border: 0;
}

#form_container {
	white-space: nowrap;
	overflow: auto;
	height: 88px;
	border-top: solid 1px #bfc1c5;
}

#form_container input, #form_container select {
	border: 1px solid black;
	font-size: 10px;
	margin: 0;
	padding: 0 0 0 1px;
}

.img_area {
	display: block;
	vertical-align: middle;
	line-height: 20px;
	height: 20px;
}

.img_id {
	font-weight: bold;
	width: 25px;
	padding: 0px 3px;
	text-align: right;
	border: none!important;
	background: none;
}
.img_active {
	border: none!important;
}
.img_coords {
	width: 80px;
}
.img_href {
	width: 500px;
}
.img_alt {
	width: 82px;
}
.img_target {
	width: 82px;
}

#pic_container {
	position: relative;
	width: 100%;
	height: 300px;
	border: solid 0px #efefef;
	overflow: auto;
}

#pic_container .imgmap_label {
	font: bold 10px Arial;
	color: #100;
	padding: 1px 2px;
}

#status_container {
	font-weight: bold!important;
	font-size: 90%;
	color: #e95949;
	width: 100%;
}

#button_container img {
	margin: 0 1px;
	cursor: pointer;
}

#fieldset_html {
	text-align: left;
}

#html_container {
	border: 1px solid black;
	margin: 5px 0;
	padding: 1px 0 0 1px;
	height: 100px;
	width: 100%;
}
