.payme-error-container {
    width: 100%;
    margin: auto;
    padding: 1rem;
    display: none;
}

.payme-error-message {
    padding: 1rem;
}

.bg-danger {
    background-color: #f2dede;
}

.payme-payment-btn {
    border:none;
    border-radius: 100px;
    padding: 0.75rem;
    background-color: #db0011;
}

.payme-payment-btn:active {
    padding: 0.75rem;
    background-color: #bc1211;
}

.payme-payment-btn > .payme-payment-btn-image {
    width: 50%;
}

@media screen and (min-width: 768px) {
    .payme-error-container {
        width: 50%;
    }
}
