.cle_float:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.cle_float {
	ZOOM: 1
}
.aui_loading {
	MARGIN: 60px auto; WIDTH: 16px; DISPLAY: block; BACKGROUND: url(../images/loading.gif) no-repeat 0px 0px; HEIGHT: 16px
}
.aui_header {
	FONT: 12px/1.11 "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti
}
.aui_footer BUTTON {
	FONT: 12px/1.11 "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti
}
.aui_inner {
	TEXT-ALIGN: left; BACKGROUND: #fff; FONT-SIZE: 12px
}
.aui_main {
	MIN-WIDTH: 9em
}
.aui_nw {
	WIDTH: 10px; HEIGHT: 10px
}
.aui_ne {
	WIDTH: 10px; HEIGHT: 10px
}
.aui_sw {
	WIDTH: 10px; HEIGHT: 10px
}
.aui_se {
	WIDTH: 10px; HEIGHT: 10px
}
.aui_nw {
	FILTER: Alpha(opacity=80); BACKGROUND: #ccc; opacity: 0.8
}
.aui_n {
	FILTER: Alpha(opacity=80); BACKGROUND: #ccc; opacity: 0.8
}
.aui_ne {
	FILTER: Alpha(opacity=80); BACKGROUND: #ccc; opacity: 0.8
}
.aui_w {
	FILTER: Alpha(opacity=80); BACKGROUND: #ccc; opacity: 0.8
}
.aui_e {
	FILTER: Alpha(opacity=80); BACKGROUND: #ccc; opacity: 0.8
}
.aui_sw {
	FILTER: Alpha(opacity=80); BACKGROUND: #ccc; opacity: 0.8
}
.aui_s {
	FILTER: Alpha(opacity=80); BACKGROUND: #ccc; opacity: 0.8
}
.aui_se {
	FILTER: Alpha(opacity=80); BACKGROUND: #ccc; opacity: 0.8
}
.aui_titleWrap {
	POSITION: relative; HEIGHT: 100%
}
.aui_title {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 10px; PADDING-RIGHT: 28px; HEIGHT: 20px; COLOR: #000; FONT-SIZE: 14px; FONT-WEIGHT: 800; PADDING-TOP: 0px
}
.aui_drag .aui_titleWrap {
	box-shadow: none
}
.aui_close {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 15px; BACKGROUND: url(../images/closebutton_bg1.png) no-repeat 0px 0px; HEIGHT: 15px; TOP: 8px; RIGHT: 8px
}
.aui_content {
	COLOR: #666
}
.aui_focus .aui_content {
	COLOR: #000
}
.aui_buttons {
	BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #f6f6f6; BORDER-TOP: #ebebeb 1px solid
}
.dialog {
	TOP: -900px
}
.dialog_tab {
	BORDER-BOTTOM: #b7b7b7 1px solid; MARGIN-TOP: -15px
}
.dialog_tab LI {
	POSITION: relative; PADDING-RIGHT: 1px; FLOAT: left; HEIGHT: 30px; TOP: 1px
}
.dialog_tab LI A {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 29px; BACKGROUND-COLOR: #f1f1f1; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 25px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 25px; DISPLAY: block; FLOAT: left; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.dialog_tab LI.current {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.dialog_tab LI.current A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #b7b7b7 1px solid; BACKGROUND-COLOR: #fff; HEIGHT: 30px; BORDER-TOP: #b7b7b7 1px solid; BORDER-RIGHT: #b7b7b7 1px solid
}
.Login_con {
	BORDER-BOTTOM: #e7e7e7 1px solid; PADDING-BOTTOM: 20px; MARGIN-TOP: 15px
}
.Login_con UL {
	PADDING-LEFT: 50px; PADDING-TOP: 10px
}
.Login_con LI {
	TEXT-ALIGN: left; MARGIN-BOTTOM: 10px
}
.Login_con .Login_text {
	BORDER-BOTTOM: #adadad 1px solid; BORDER-LEFT: #adadad 1px solid; PADDING-LEFT: 6px; WIDTH: 188px; BACKGROUND: url(../images/input_global_bg.png) no-repeat 0px 0px; HEIGHT: 28px; MARGIN-LEFT: 15px; FONT-SIZE: 16px; BORDER-TOP: #adadad 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #adadad 1px solid; PADDING-TOP: 4px
}
.Login_con EM {
	MARGIN-TOP: 3px; COLOR: #333333; MARGIN-LEFT: 16px
}
.Login_con #Login_submit {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: 168px; BORDER-TOP-STYLE: none; BACKGROUND: url(../images/login_button_bj.png) repeat-x left center; HEIGHT: 39px; COLOR: #ffffff; MARGIN-LEFT: 63px; FONT-SIZE: 16px; BORDER-LEFT-STYLE: none; CURSOR: pointer; FONT-WEIGHT: bold
}
.Login_con .Login_check {
	MARGIN-LEFT: 63px
}
.a_reg_tip {
	POSITION: relative; FLOAT: right; TOP: -35px; RIGHT: 0px
}
.Other_login_on H4 {
	MARGIN-TOP: 11px; MARGIN-BOTTOM: 10px
}
.Other_login_on UL {
	PADDING-LEFT: 36px; PADDING-TOP: 5px
}
.Other_login_on LI {
	BORDER-LEFT: #ddd 1px solid; PADDING-LEFT: 30px; FLOAT: left; HEIGHT: 25px
}
.Other_login_on LI.li_fl {
	BORDER-LEFT: medium none; PADDING-LEFT: 16px; PADDING-RIGHT: 30px
}
.Reg_Area {
	BORDER-BOTTOM: #e7e7e7 1px solid; PADDING-BOTTOM: 20px; MARGIN-TOP: 15px; DISPLAY: none; COLOR: #999
}
.Reg_Area LI {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 30px; PADDING-TOP: 10px
}
.Reg_Area LI.current {
	BACKGROUND-COLOR: #f6f6f6
}
.Reg_Area LI DIV {
	FLOAT: left
}
.Reg_Area LI DIV.col1 {
	WIDTH: 65px; COLOR: #111; PADDING-TOP: 8px
}
.Reg_Area LI DIV.col2 {
	POSITION: relative; TEXT-ALIGN: left
}
.Reg_Area LI DIV.col2 INPUT {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.Reg_Area LI DIV.col2 INPUT.error {
	BORDER-BOTTOM: #ff6600 1px solid; BORDER-LEFT: #ff6600 1px solid; BORDER-TOP: #ff6600 1px solid; BORDER-RIGHT: #ff6600 1px solid
}
.Reg_Area LI DIV.col2 LABEL {
	Z-INDEX: 100; BORDER-BOTTOM: #ff8080 1px solid; POSITION: absolute; BORDER-LEFT: #ff8080 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; PADDING-LEFT: 28px; WIDTH: 270px; PADDING-RIGHT: 5px; DISPLAY: none; BACKGROUND: url(../images/error_bg.png) #fff2f2 no-repeat 6px 6px; HEIGHT: 28px; COLOR: #333; BORDER-TOP: #ff8080 1px solid; TOP: 0px; BORDER-RIGHT: #ff8080 1px solid; PADDING-TOP: 0px; LEFT: 223px
}
.Reg_Area LI DIV.col2 SPAN.info {
	Z-INDEX: 98; BORDER-BOTTOM: #42b3ff 1px solid; POSITION: absolute; BORDER-LEFT: #42b3ff 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; PADDING-LEFT: 28px; WIDTH: 270px; PADDING-RIGHT: 5px; DISPLAY: none; BACKGROUND: url(../images/message_bg.png) #e5f5ff no-repeat 6px 6px; HEIGHT: 28px; COLOR: #333; BORDER-TOP: #42b3ff 1px solid; TOP: 0px; BORDER-RIGHT: #42b3ff 1px solid; PADDING-TOP: 0px; LEFT: 223px
}
.Reg_Area LI DIV.col2 SPAN.errorinfo {
	DISPLAY: none; COLOR: #ff6600
}
.Reg_Area LI DIV.col2 SPAN.successinfo {
	Z-INDEX: 99; POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; TEXT-INDENT: -1000px; PADDING-LEFT: 28px; WIDTH: 270px; PADDING-RIGHT: 5px; DISPLAY: none; BACKGROUND: url(../images/success_bg.png) no-repeat 6px 6px; HEIGHT: 28px; COLOR: #333; TOP: 0px; PADDING-TOP: 0px; LEFT: 223px
}
.Reg_Area LI INPUT.text {
	BORDER-BOTTOM: #adadad 1px solid; BORDER-LEFT: #adadad 1px solid; LINE-HEIGHT: 30px; PADDING-LEFT: 6px; WIDTH: 202px; BACKGROUND: url(../images/input_global_bg.png) no-repeat left top; HEIGHT: 30px; FONT-SIZE: 14px; BORDER-TOP: #adadad 1px solid; BORDER-RIGHT: #adadad 1px solid
}
.Reg_Area LI INPUT.submit {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 2px; WIDTH: 197px; BACKGROUND: url(../images/register_button_bg.png) no-repeat left center; HEIGHT: 37px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.Reg_Area .agreement {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; PADDING-BOTTOM: 5px; OVERFLOW-Y: auto; MARGIN-TOP: 14px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 100px; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; PADDING-TOP: 5px
}
.dialog_say {
	FONT-SIZE: 12px
}
.dialog_say_box {
	MARGIN-TOP: -14px; WIDTH: 360px; PADDING-RIGHT: 16px; FLOAT: left; BORDER-RIGHT: #ccc 1px dashed
}
.dialog_say_box H1 {
	LINE-HEIGHT: 30px; PADDING-LEFT: 116px; BACKGROUND: url(../images/hi_nala_say.png) no-repeat 0px 0px; HEIGHT: 30px; FONT-SIZE: 12px; OVERFLOW: hidden
}
.dialog_say_box H1 A {
	FLOAT: right; COLOR: #c03
}
.dialog_say_box .say_text {
	WIDTH: 100%; COLOR: #888
}
.dialog_say_box .say_text TEXTAREA {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 348px; PADDING-RIGHT: 5px; HEIGHT: 130px; COLOR: #888; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 5px
}
.dialog_say_box .say_email {
	MARGIN-TOP: 10px
}
.dialog_say_box .say_email INPUT {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; WIDTH: 352px; PADDING-RIGHT: 3px; COLOR: #888; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
.dialog_say_box .say_btn {
	TEXT-ALIGN: right; MARGIN-TOP: 10px
}
.dialog_say_box .say_btn INPUT {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 20px; WIDTH: 108px; BACKGROUND: url(../images/login_button_bj.png) repeat-x 0px -3px; HEIGHT: 36px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: medium none
}
.dialog_say_other {
	PADDING-LEFT: 8px; WIDTH: 210px; FLOAT: left; COLOR: #666; MARGIN-RIGHT: -20px
}
.dialog_say_other P {
	BORDER-BOTTOM: #efefef 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 8px; BACKGROUND: url(../images/li_disc_bg.png) no-repeat 0px 5px
}
.dialog_say_other P B {
	COLOR: #333
}
