
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
}
*{ font-size:12px;}
a{ text-decoration:none; color:#999}
img{border:0;}
.itop{ background-color:#FFF; color:#333; height:62px; margin:0px auto; width:980px;}
	.itop_left{ width:186px; margin-left:0; height:60px; float:left;}
	.itop_right{ margin-right:1px;height:60px;width:790px; float:right;}
	.logo_text{ font-size:12px; color: #693; text-align:center; font-weight:bold;}
	.Description{ height:26px; line-height:26px; color:#666; text-align:left; border-bottom:#CCC solid 1px;}
	.login{ height:34px; line-height:34px; text-align:right; padding-right:80px;}
	.login a{ color:#666; text-decoration:none;}


.ibanner{ background-color:#693; height:56px; width:100%; margin:0px auto;}
 .daohang{color:#fff;  margin:0px auto; width:980px; }
 .daohang ul{ margin-left:0; float:left; margin-top:14px;}
 .daohang ul li{ width:110px; margin-left:2px; float:left ; list-style:none;text-align:center; font-size:10px; color: #9C6}
 .daohang ul li a{ color:#FFF; font-size:14px; font-weight:bold; text-decoration:none;}
 .daohang ul li a:hover{ color: #0C6}
 
.isearch{ margin:0px auto; width:980px; height:40px; border:solid #CCC 1px; margin-top:4px; background:url(images/searchtextb.jpg) no-repeat left center; }
  .isearchleft{ float:left; width:658px; line-height:40px; text-indent:40px; color: #666;}
  .isearchright{ float:right; width:306px;height:40px;line-height:40px; background:url(images/searchxian.jpg) no-repeat left center; text-indent:14px;}
  .searchf1{ width:187px; border:#CCC solid 1px;  }
  .searchanniu{}
  
.imain{ background-color:#FFF;  margin:0px auto; width:980px; margin-top:6px; height:874px; }
.mleft{ float:left; margin-left:0; width:200PX;}

.zhengpin{ height:70px; border:#CCC solid 1px; width:200px;}
.im_xilie{ border:#CCC solid 1px; width:200px;margin-top:6px;}
 .im_xilie_title{ height:34px; line-height:34px; width:198px; background-color:#E9EBEE; margin:1px 1px 1px 1px; text-align:center; font-size:14px;}
 .im_xilie_bai{ background-color:#F4F4F4; margin:0px 1px 1px 1px; }
 .im_xunhuan{ height:24px; line-height:24px; padding-left:4px; border-bottom:#E9EBEE solid 1px; border-top:#fff solid 1px;}
 .im_xunhuan a{ color:#333; text-decoration:none;}
 .im_xunhuan a:hover{ color: #393; text-decoration:underline} 
 .mright{ float:right; margin-left:1px;}
   .mrleft{float:left; margin-left:1px; width:510px; height:392px;}
   .mrright{float:right; margin-left:0; width:256px; height:392px;}
     .inews{ height:164px; border:#f4f4f4 solid 1px; width:252px; margin-left:1px;}
	 .news_list{width:245px; height:25px; line-height:25px; text-indent:20px; border-bottom:#f4f4f4 dashed 1px; background:url(images/arico1.jpg) no-repeat; } 
	 .news_list a{ text-decoration:none; color:#999}
	 .news_list a:hover{ color:#093}
	 .news_title{text-align:center; font-size:14px;border-bottom:#f4f4f4 double 1px; height:30px; line-height:34px;}
   .iflash{ margin-left:4px;}
   .new_order{ width:506px; height:74px; background:url(images/xiaoshoujilu.jpg) no-repeat left; margin-left:4px;}
   .new_order_ar{ margin-top:3px; line-height:23px; height:23px; padding-left:48px;}
   .new_order_ar a{ color:#666;text-decoration:none;}
   .new_order_ar a:hover{ color: #0C6}
   
.mright2{ float:right; margin-left:1px; width:766px; height:468px; background:url(images/cuxiaolist.jpg) no-repeat center; margin-top:4px;}
.mr2title{ height:36px; line-height:38px; padding-left:35px; font-size:14px; color:#fff; }
.mr2title span{ font-weight:bolder;font-size:14px;}
.mr2list{float:left;width:766px; margin-left:1px;}
.mr2list ul{padding:0px; margin-left:1px; margin-top:4px;}
.mr2list ul li{ float:left; margin-left:3px; height:210px; width:184px; list-style:none; margin-top:0; padding:0px; 
}

.mrprice{text-align:right; margin-top:2px; padding-right:10px;}
.mrprice span{ color:#F00; font-size:16px;}
.mr2pic {text-align:center; margin-top:10px; }
.mr2pic img{border:0}
.mr2name{text-align:center; margin-top:4px; line-height:22px; padding-left:6px; }
.mr2name a{ text-decoration:none;}
.mr2name a:hover{ text-decoration: underline}



.imainar{ background-color:#FFF;  margin:0px auto; width:980px; margin-top:1px;height:220px; }

.imainar ul{float:left;width:980px; margin-left:0; padding:0; margin-top:0;}
.imainar ul li{ width:243px; float:left; margin-right:2px;list-style:none; }

.art{ background:url(images/index_ar1.gif) no-repeat; height:25px; line-height:25px; width:243px; padding-top:6px; text-align:center; font-weight:bolder; color:#393; font-size:12px;}
.arb{background:url(images/index_ar22.jpg) repeat-y; height:180px; width:243px;}
.arblist{ height:26px; line-height:26px; width:230px; text-indent:22px; background:url(images/arico1.jpg) no-repeat; margin-left:8px;}
.arblist a, .arbmore a{ color: #390; text-decoration:none}
.arblist a:hover,.arbmore  a:hover{ color:#363}
.arbmore{ text-align:right; padding-right:20px;height:26px; line-height:26px; }
.arf{background:url(images/index_ar3.gif) no-repeat; height:8px; width:243px;}

.arbpinglun{width:230px; padding-left:10px; margin-top:1px; overflow:hidden; height:60px;}
.arbpinglun a{color: #390}
.arbpinglun p { padding:2px 2px 2px 2px; margin-top:1px; line-height:16px; text-indent:24px; color:#999;overflow:hidden}





.imain2{ background-color:#FFF;  margin:0px auto; width:980px; margin-top:6px;height:830px; }
.imain2left{ float:left; margin-left:0; width:200PX;}
.imain2right{ float:right; margin-left:1px; width:766px;}

.hotgoods_title{background:url(images/left_hotph1.gif); text-indent:-9999px ; height:52px;}
.hotgoods_body{background:url(images/left_hotph2.gif); height: auto;}
.hotgoods_foot{background:url(images/left_hotph3.gif) no-repeat; height:8px;}
.hotgoods_list{background:url(images/ph_numbg.gif) no-repeat top; height:758px;}
.pro1{ margin:0px 4px 0px 4px; height:108px; width:192px; overflow:hidden;}
.pro1l{ float:left; width:70px; margin-left:0; margin-top:11px;}
.pro1r{ float:right; width:110px; margin-left:0; margin-top:11px;}
.shuxing{ background:url(images/remen.gif) no-repeat center left; height:16px; margin-top:6px;}
.pro1lname{ margin-top:4px; line-height:18px;}
.jiage{ font-size:18px; font-weight:bold; color:#fe4700;}
.jingpint{ height:35px; background:url(images/index_elitea.gif) no-repeat ;}



.newt{ height:35px; background:url(images/index_new01.gif) no-repeat; line-height:35px; padding-left:30px; font-size:14px; font-weight:900; color: #393;}
.newb{ height:203px; background:url(images/index_jingpin02.gif) repeat-y; width:766px;}


.jingpint{ height:35px; background:url(images/index_jingpin1.gif) no-repeat; line-height:35px; padding-left:30px; font-size:14px; font-weight:900; color: #393; margin-top:6px;}
.jingpinb{ height:406px; background:url(images/index_jingpin02.gif) repeat-y; width:766px; overflow:hidden;}
.jingpinf{ height:5px; background:url(images/index_jingpin03.gif) no-repeat;}
.jingpint span{ float:right; font-weight:100; padding-right:18px;}
.jingpint span a{color: #393; text-decoration:none}
.jingpint span a:hover{ color:#3C3}
.jingpinblist{ padding-left:3px;}
.jingpinblist ul{ float:left; padding:0px; width:766px; margin:0 0 0 -1px;}
.jingpinblist ul li{ float:left; list-style:none; width:142px; margin-left:6px; height:192px; border:#f4f4f4 solid 1px; margin-top:6px; padding:0;}

.jp_jiage{ font-weight:bolder; font-size:16px; height:34px; line-height:34px; text-align:center; color: #F00}
.tjico{ background:url(images/elite_bgico.gif) no-repeat;}
.newico{ background:url(images/xinico.gif) no-repeat;}
.jp_name{ text-align:center; line-height:14px; color:#393; padding:3px;}
.jp_name a{ color: #09C; text-decoration:none}
.jp_name a:hover{ color: #393;}
.jp_img { border:0; text-align:center}
.jp_img img{border:0}

.shangpinad{ text-align:center; height:120px; width:766px; margin: 4px 0 0 0}
.shangpinad img{border:0}



.imain4{ background-color:#FFF;  margin:0px auto; width:980px;height:398px;  }
.imain4l{ float:left; margin-left:0; width:200PX;margin-top:6px; }
.imain4kefu{ background:url(images/left_kf.gif) center no-repeat; height:232px;}


.imain4r{float:right; margin-left:1px; width:766px; height:390px;margin-top:6px;}
.guanyuT{ background:url(images/guanyu01.gif) center no-repeat; height:35px; line-height:35px;text-indent:30px; font-size:14px; font-weight:900;color: #393; }
.guanyuB{ background: url(images/index_jingpin02.gif) repeat-y center; height:150px;text-indent:14px; padding-left:14px; padding-right:10px; line-height:22px;}
.guanyuF{ background:url(images/guanyu03.gif) top no-repeat; height:32px;}
.shengmingt{background: url(images/index_jingpin02.gif) repeat-y center; height:14px; line-height:14px; margin-top:0;text-indent:30px; font-size:14px; font-weight:900;color: #393;}
.shengmingb{background: url(images/index_jingpin02.gif) repeat-y center; height:166px;text-indent:14px;}
.shengmingf{height:5px; background:url(images/index_jingpin03.gif) no-repeat;}


.shengmingbr{ width:254px; float:right; border-left: #CCC  dashed 1px; height:160px;}

#nli_con {
	height: 140px;
	width: 236px;
	overflow: hidden;
	margin-left:4px; margin-right:4px; padding-top:2px;
}
.fahuo{line-height:22px; width:236px; border-bottom:#f4f4f4  dashed 1px;}
.fahuo span{ color:#F60}
.fahuoT{ font-size:14px; color:#393; font-weight:bold;line-height:22px; width:236px; border-bottom:#f4f4f4 solid 1px; margin-left:2px;}

.shengmingTitle{ font-size:14px; color:#393; font-weight:bold;line-height:22px; }
.shengmingjs{padding-left:10px; padding-right:10px; line-height:24px;}
.shengmingbl{ width:510px; margin-left:0; float:left; }

.imain5{ margin:0px auto; width:980px;background: url(images/bottom_kfinfo.gif) center no-repeat; height:225px;}
.kefuinfo{ }

.imain6 { background-color:#688F18; height:25px;margin:0px auto; width:100%; margin-top:10px;}
.foot{text-align:center;margin:0px auto; width:980px;margin-top:10px; padding-bottom:10px;}
.foottext{ height:26px; line-height:26px; margin-top:6px;}
.chengnuo{ margin:12px;}
.yinhang{ margin-top:12px;}
.yinhang img { padding-left:10px;}

.botinfo{ width:766px; margin-left:0; height:197px;}
.botinfo ul{ margin-left:0px; padding:0; float:left; margin-top:54px;}
.botinfo ul li{ width:121px; float:left; list-style:none; padding-left:48px;}
.botinfoar{ text-indent:14px; height:22px; line-height:22px; background:url(images/arico2.jpg) no-repeat left;}
.botinfoTa{ background:url(images/botinfo_tita.gif) center no-repeat; height:46px; width:121px;}
.botinfoTb{ background:url(images/botinfo_titb.gif) center no-repeat; height:46px; width:121px;}
.botinfoTc{ background:url(images/botinfo_titc.gif) center no-repeat; height:46px; width:121px;}
.botinfoTd{ background:url(images/botinfo_titd.gif) center no-repeat; height:46px; width:121px;}
.link{ margin-top:4px; text-align:left; height:22px; line-height:12px; text-indent:22px; color:#333;}
.link a{ color: #999; text-decoration:none;}
.yincang{ cursor:pointer;text-indent:-9999px;display:block;}
.kefuad{ margin-top:4px;}

.fenlei{ width:200px; background:#f6f6f6; }
.fenlei ul{margin-left:1px; width:200px; padding-left:3px;}
.fenlei ul li{ width:61px; float:left; list-style:none; margin-left:1px;padding-left:4px;line-height:22px; height:22px;}
.fenlei ul li a{ width:61px; float:left; list-style:none; margin-left:1px;padding-left:4px;background:url(/images/aricofenlei2.jpg) no-repeat;line-height:22px; height:22px;}
.fenlei ul li a:hover{ width:61px;float:left; list-style:none; margin-left:1px;padding-left:4px; background:url(/images/aricofenlei.jpg) no-repeat;line-height:22px; height:22px;}
