.current_page_style{color:red;font-weight:bold;}
#outside_container{width:100%;border:none;overflow:hidden;text-align:center;padding:10px;background-color:#F4FAFB;}
#inner_container{width:70%;border:1px solid #DDD;overflow:hidden;text-align:left;background-color:#DDEEF2;margin:0 auto;}
#inner_container table tr td{padding:6px;font-weight:bold;background-color:#FFF;}
.tb_lable{padding-left:20px;}
.btn{background:url(../images/btn_bg.gif) no-repeat center;width:76px;height:21px;overflow:hidden;border:none;}

#goods_sn_tips{width:200px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_sn_tips li{line-height:20px; list-style:none;}

#goods_name_tips{width:400px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_name_tips li{line-height:20px; list-style:none;}

#goods_barcode_tips{width:200px;border:1px solid #DDD;background-color:#FFF;padding:2px 5px;position:absolute;z-index:100;display:none;}
#goods_barcode_tips li{line-height:20px; list-style:none;}
