
#warehousing_header{
	width:100%;
	overflow:hidden;
	border:1px solid #FFF;
}
#warehousing_title{
	width:100%;
	font-size:25px;
	text-align:center;
}
#warehousing_info{
	width:100%;
	font-size:14px;
	margin-top:5px;
}
#warehousing_info table{
	width:100%;
	border-left:1px solid #777;
	border-top:1px solid #777;
}

#warehousing_info table th{
	border-color:#777;
	border-right:1px solid #777;
	border-bottom:1px solid #777;
	font-size:14px;
	font-weight:bold;
	padding:6px;
}

#warehousing_info table td{
	text-align:center;
	border-right:1px solid #777;
	border-bottom:1px solid #777;
	font-size:14px;
	font-weight:normal;		
	
}

#warehousing_list{
	width:100%;
}
#warehousing_list table{
	width:100%;
	border-left:1px solid #777;
	border-top:1px solid #777;
}
#warehousing_list table th{
	border-color:#777;
	border-right:1px solid #777;
	border-bottom:1px solid #777;
	font-size:14px;
	font-weight:bold;
	padding:6px;
}
#warehousing_list table td{
	border-right:1px solid #777;
	border-bottom:1px solid #777;
	font-size:14px;
	font-weight:normal;	
}


#warehousing_signature{
	width:100%;
}
#warehousing_signature table{
	width:100%;
}
#warehousing_signature table td{
	text-align:center;
}
