
/*
审核备注
*/

	.approve_remark{
		background-color:#FFF;
		width:500px;
		padding:10px;
		display:none;
	}
	.approve_remark_head{
		width:500px;
	}
	.approve_remark_head table{
		width:500px;
	}	

	.div_submit_approve{
		width:500px;
		text-align:right;
		margin-top:5px;
		cursor:hand;
	}
	.approve_remark_box{
		width:478px;
		position:relative;
		padding:10px;
		margin:0px;
		border:1px solid #DDEEF2;
		overflow:hidden;
	}
	
	.approve_remark_box table{
		width:478px;
		
	}
	.approve_remark_box table td{

	}
	
/*
付款单信息
*/

	.gathering_info{
		background-color:#FFF;
		width:500px;
		padding:10px;
		display:none;
	}
	.gathering_info_head{
		width:500px;
	}
	.gathering_info_head table{
		width:500px;
	}	

	.div_submit_gathering_info{
		width:500px;
		text-align:right;
		margin-top:5px;
		cursor:hand;
	}
	.gathering_info_box{
		width:478px;
		position:relative;
		padding:10px;
		margin:0px;
		border:1px solid #DDEEF2;
		overflow:hidden;
	}
	
	.gathering_info_box table{
		width:478px;
		
	}
	.gathering_info_box table td{

	}