
#stock_check_date{
	text-align:right;
}
#stock_check{
	width:100%;
}
#stock_check a{
	color:#555;
}
.current_page_style{
	font-weight:bold;
}
#stock_check table{
	width:100%;
	border-left:1px solid #AAA;
	border-top:1px solid #AAA;
}
#stock_check table th{
	border-right:1px solid #AAA;
	border-bottom:1px solid #AAA;
	font-size:13px;
	font-weight:normal;
	padding:6px;
}
#stock_check table td{
	border-right:1px solid #AAA;
	border-bottom:1px solid #AAA;
	font-size:13px;
	font-weight:normal;	
}
