
#w_d_record_list{
	width:100%;
	font-size:12px;
}
#w_d_record_list a{
	color:#555;
}
.current_page_style{
	font-weight:bold;
}
#w_d_record_list table{
	width:100%;
	border-left:1px solid #777;
	border-top:1px solid #777;
}
#w_d_record_list  th{
	border-color:#777;
	border-right:1px solid #777;
	border-bottom:1px solid #777;
	font-size:13px;
	font-weight:bold;
	padding:6px;
	font-weight:normal;
	
}
#w_d_record_list  td{
	border-right:1px solid #777;
	border-bottom:1px solid #777;
	font-size:13px;
	font-weight:normal;	
}

