/*
订单头
*/

#order_header{
	width:100%;
	overflow:hidden;
	border:1px solid #FFF;
}
#order_title{
	width:100%;
	font-size:25px;
	text-align:center;
}
#order_info{
	width:100%;
	font-size:14px;
	margin-top:5px;
}
#order_info table{
	width:100%;
}
#order_info table td{
	text-align:center;
}

#order_list{
	width:100%;
}
#order_list table{
	width:100%;
	border-left:1px solid #AAA;
	border-top:1px solid #AAA;
}
#order_list table th{
	border-right:1px solid #AAA;
	border-bottom:1px solid #AAA;
	font-size:14px;
	font-weight:normal;
	padding:6px;
}
#order_list table td{
	border-right:1px solid #AAA;
	border-bottom:1px solid #AAA;
	font-size:14px;
	font-weight:normal;	
}

#order_signature{
	width:100%;
}
#order_signature table{
	width:100%;
}
#order_signature table td{
	text-align:center;
}


