
#delivery_header{
	width:100%;
	overflow:hidden;
	border:1px solid #FFF;
}
#delivery_title{
	width:100%;
	font-size:25px;
	text-align:center;
}

#delivery_info{
	width:100%;
}

#delivery_info table{
	width:100%;
	border:1px solid #777;
}

#delivery_info table td{
	border:none;
	border-left:1px solid #777;
	border-top:1px solid #777;
}

#delivery_info table th{
	border-left:1px solid #777;
	font-size:14px;
}

#delivery_item_info{
	width:100%;
}

#delivery_item_info table{
	width:100%;
	border:1px solid #777;
}

#delivery_item_info table td{
	border:none;
	border-left:1px solid #777;
	border-top:1px solid #777;
}

#delivery_item_info table th{
	border-left:1px solid #777;
	font-size:14px;
}

#delivery_signature{
	width:100%;
}

#delivery_signature table{
	width:100%;
}

#delivery_signature table td{
	text-align:center;
}
