#stock_inquiry{
	width:100%;
}
#stock_inquiry a{
	color:#555;
}
.current_page_style{
	font-weight:bold;
}
#stock_inquiry table{
	width:100%;
	border-left:1px solid #AAA;
	border-top:1px solid #AAA;
}
#stock_inquiry table th{
	border-right:1px solid #AAA;
	border-bottom:1px solid #AAA;
	font-size:13px;
	font-weight:normal;
	padding:6px;
}
#stock_inquiry table td{
	border-right:1px solid #AAA;
	border-bottom:1px solid #AAA;
	font-size:13px;
	font-weight:normal;	
}
