#bank_account_info{
	width:100%;
}
#bank_account_info table{
	width:100%;
	border:1px solid #AAA;
}
#bank_account_info table th{
	border-left:1px solid #AAA;
	font-size:14px;
}
#bank_account_info table td{
	border-left:1px solid #AAA;
	border-top:1px solid #AAA;
}

#bank_account_details{
	width:100%;
}
#bank_account_details table{
	width:100%;
	border:1px solid #AAA;
}
#bank_account_details table th{
	border-left:1px solid #AAA;
	font-size:14px;
}
#bank_account_details table td{
	border-left:1px solid #AAA;
	border-top:1px solid #AAA;
}

#bank_account_info_header{
	width:100%;
	overflow:hidden;
	border:1px solid #FFF;
}
#bank_account_info_title{
	width:100%;
	font-size:25px;
	text-align:center;
}
