
/*
订单要求部分
*/
	.order_specs{
		background-color:#FFF;
		width:600px;
		padding:10px;
		display:none;
	}
	.order_specs_head{
		width:600px;
	}
	.order_specs_head table{
		width:600px;
	}	

	.div_submit_specs{
		width:600px;
		text-align:right;
		margin-top:10px;
	}
	.order_specs_box{
		width:578px;
		position:relative;
		padding:10px;
		margin:0px;
		border:1px solid #DDEEF2;
		overflow:hidden;
	}
	
	.order_specs_box table{
		width:578px;
		
	}
	.order_specs_box table td{

	}
	.order_sum_total{
		background-color:#FFF;
		width:98%;
		padding:10px;
		text-align:right;		
	}
	.size_div{
		margin-top:5px;
		margin-bottom:5px;
		border-bottom: 1px solid #FFF;
		
	}	
	.qty_div{
		margin-top:7px;
		margin-bottom:7px;
		border-bottom: 1px solid #FFF;
		
	}
	.price_div{
		margin-top:5px;
		margin-bottom:5px;
		border-bottom: 1px solid #FFF;
		
	}	
/*
表格
*/
	.td_last_row{
		border-right:1px solid #DDEEF2;
	}	
	.th_last_row{
		border-right:1px solid #DDEEF2;
	}	
	
/*
审核备注
*/

	.approve_remark{
		background-color:#FFF;
		width:500px;
		padding:10px;
		display:none;
	}
	.approve_remark_head{
		width:500px;
	}
	.approve_remark_head table{
		width:500px;
	}	

	.div_submit_approve{
		width:500px;
		text-align:right;
		margin-top:5px;
		cursor:hand;
	}
	.approve_remark_box{
		width:478px;
		position:relative;
		padding:10px;
		margin:0px;
		border:1px solid #DDEEF2;
		overflow:hidden;
	}
	
	.approve_remark_box table{
		width:478px;
		
	}
	.approve_remark_box table td{

	}
	
/*
产品属性选择
*/

	.goods_attr{
		background-color:#FFF;
		width:500px;
		padding:10px;
		display:none;
	}
	.goods_attr_head{
		width:500px;
	}
	.goods_attr_head table{
		width:500px;
	}	

	.goods_attr_box{
		width:478px;
		position:relative;
		padding:10px;
		margin:0px;
		border:1px solid #DDEEF2;
		overflow:hidden;
	}
	
	.div_submit_goods_attr{
		text-align:right;
		margin-top:10px;
	}
	
	.goods_attr_box table{
		width:478px;
	}
	.goods_attr_box td{
		padding:5px;
	}