#goods_barcode{
	width:100%;
}
#goods_barcode a{
	color:#555;
}
.current_page_style{
	font-weight:bold;
}
#goods_barcode table{
	width:100%;
	border-left:1px solid #AAA;
	border-top:1px solid #AAA;
}
#goods_barcode table th{
	border-right:1px solid #AAA;
	border-bottom:1px solid #AAA;
	font-size:13px;
	font-weight:normal;
	padding:6px;
}
#goods_barcode table td{
	border-right:1px solid #AAA;
	border-bottom:1px solid #AAA;
	font-size:13px;
	font-weight:normal;	
}
