.rating, .rating-score {
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
}
.rating-score {
    text-align: center;
    width: 50px;
    font-size: 14px;
}
.rating-stars {
    width: 165px;
    display: inline-block;
    white-space: nowrap;
    font-size: 0;
    vertical-align: middle;
}
.rating-stars span {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url('/images/rating-stars.png') no-repeat;
    background-position: -2px -18px;
}
.rating-stars span.active, .rating-stars span.active ~ span {
    background-position: -2px -2px;
}
span.score {
    margin-right: 2px;
}
.tile-stats .count div.name {
    color: #9A999A;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 16pt;
    display: inline-block;
}
.tile-stats .count div.count {
    color: #0082CA;
    display: inline-block;
}
.admin_stats {
    text-align: center;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}
.admin_stats p:not(:first-child):not(:last-child) {
    margin-bottom: 0px;
}