div.stock_breakdown {
    position: absolute;
    background: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.stock_breakdown:not(.active) {
    display: none;
}

div.stock_breakdown table tr > th:first-child {
    width: 300px;
}

div.stock_breakdown table tr > td:not(:first-child) {
    text-align: center;
}

div.stock_breakdown table tr > th:not(:first-child) {
    min-width: 60px;
}

div.stock_breakdown table tr > th:nth-child(2), div.stock_breakdown table tr > td:nth-child(2) {
    background: #c3ffb9;
}
