<style type="text/css">
<!--
@page {
  margin: 0.5cm;
}
.style2 {font-size: 12px}
.style3 {font-size: 10px}
-->
</style>
{literal}
<style type="text/css">
body,td { font-size:13px; }
</style>
{/literal}
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="80" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
        <td width="44%">{$order.order_time}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><span class="style2">{$order.pay_name}</span></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="45%">&nbsp;</td>
        <td><span class="style2">{$order.shipping_name}</span></td>
        <td width="11%"><div align="right">{$order.order_sn}</div></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="100%" height="10"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
</table>
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="315" valign="top"><table width="100%" border="0" style="border-collapse:collapse;border-color:#000;">
      <!-- {foreach from=$goods_list item=goods key=key} -->
      <!-- {if $goods.extension_code neq 'package'} -->
      <tr>
        <td width="900">{$goods.goods_name}
          <!-- 商品名称 -->
          <br><span class="style3">{if $goods.template_content}{$goods.template_content}{else}{$goods.seller_note}{/if}<br>
      </span></td>
        <td width="90" align="right"><div align="center"><span class="style3">&nbsp;{$goods.goods_number}
              <!-- 商品数量 -->
        </span></div></td>
        <td width="100" align="right"><div align="right"><span class="style3">{$goods.goods_sn}&nbsp;
              <!-- 商品SN -->
        </span></div></td>
        <td width="100" align="right"><div align="right"><span class="style3">{$goods.formated_goods_price}&nbsp;
              <!-- 商品单价 -->
        </span></div></td>
        <td width="100" align="right"><div align="right"><span class="style3">{$goods.formated_subtotal}&nbsp;
              <!-- 商品金额小计 -->
        </span></div></td>
      <td width="5" align="right">&nbsp;</td>
      </tr>
      <!-- {/if} -->
      <!-- {/foreach} -->
      <!-- {foreach from=$packages item=package} -->
      <tr>
          <td width="900">{$package.package_name}<br></td>
          <td width="90" align="right"><div align="center"><span class="style3">&nbsp;{$package.qty}</span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">&nbsp;</span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">{$package.formated_base_price}&nbsp;</span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">{$package.formated_total_price}&nbsp;</span></div></td>
      </tr>
      <!-- {foreach from=$package.items item=goods} -->
      <tr>
        <td width="900" style="padding-left: 20px">{$goods.goods_name}
          <!-- 商品名称 -->
          <br><span class="style3">{if $goods.template_content}{$goods.template_content}{else}{$goods.seller_note}{/if}</span><br>
        </td>
          <td width="90" align="right"><div align="center"><span class="style3">&nbsp;{$goods.qty}
                <!-- 商品数量 -->
          </span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">{$goods.goods_sn}&nbsp;
                <!-- 商品SN -->
          </span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">&nbsp;
                <!-- 商品单价 -->
          </span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">&nbsp;
                <!-- 商品金额小计 -->
          </span></div></td>
        <td width="5" align="right">&nbsp;</td>
      </tr>
      <!-- {/foreach} -->
      <!-- {/foreach} -->
    </table>    <span class="style3"> {$order.data_postscript} {$order.data_order_remarks} </span><br>    </td>
  </tr>
</table>
<table width="100%" border="0">
    <tr align="right">
        <td><p class="style3">{if $order.discount gt 0}{$lang.label_discount} : - {$order.formated_discount}{/if}<br>
<!-- 如果使用了积分支付, 减去已使用的积分 -->
{if $order.integral_money neq '0.00'}{$lang.label_integral} : - {$order.formated_integral_money}{/if}<br>
<!-- 如果使用了红包支付, 减去已使用的红包 -->
 Total : {$lang.label_order_amount}{$order.formated_order_amount}</p>        </td>
    <td width="5">&nbsp;</td>
    </tr>
</table>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="10">&nbsp;</td>
  </tr>
</table>
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td rowspan="2">&nbsp;</td>
    <td width="130" height="20"><span class="style3">{if $order.user_name}{$order.user_name}{else}{$lang.anonymous}{/if}
        <!-- 购货人姓名 -->
    </span></td>
    <td width="50" height="20"><span class="style3">{if $order.user_id}{$order.zhanghu}{/if}</span></td>
  </tr>
  <tr>
    <td width="130" height="20"><span class="style3">{if $order.user_id}{$order.huodejifen}{/if}</span></td>
    <td width="50" height="20"><span class="style3"> {if $order.user_id}{$order.xiaofeijifen}{/if}</span></td>
  </tr>
</table>
<p>&nbsp;</p>
