<style type="text/css">
<!--
@page {
  margin: 0.5cm;
}
body {margin-top: 0;}
body,td {font-size: 13px;}
.style2 {font-size: 12px;}
.style3 {font-size: 10px;-webkit-transform:scale(0.83);-moz-transform: scale(1);}
-->
</style>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="80" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
        <td width="39%">{$order.order_time}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><span class="style2">{$order.salesperson} {$test_order}</span></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><span class="style2">{$order.pay_name} {$test_order}</span></td>
        <td><div align="right">{$order.barcode_invoice_id}</div></td>
      </tr>
      <tr>
        <td width="45%">&nbsp;</td>
        <td><span class="style2">{$order.shipping_name} {$test_order}</span></td>
        <td width="11%"><div align="right">{$order.order_sn}</div></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="100%" height="10"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
</table>
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="315" valign="top"><table width="100%" border="0" style="border-collapse:collapse;border-color:#000;">
      <!-- {foreach from=$goods_list item=goods key=key} -->
      <!-- {if $goods.extension_code neq 'package'} -->
      <tr>
        <td width="900">{if $goods.is_insurance eq 1}[保險服務]{/if}{$goods.goods_name} {if $goods.is_insurance eq 1}[受保產品條碼: {$goods.insurance_of_sn}]{/if}
          <!-- 商品名称 -->
          <br>          {if !$order.is_purchase_order}<span class="style3">{if $goods.template_content}{$goods.template_content}{else}{$goods.seller_note}{/if}{/if}          <br>
      </span></td>
        <td width="90" align="right"><div align="center"><span class="style3">&nbsp;{$goods.goods_number}
              <!-- 商品单价 -->
        </span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">{$goods.goods_sn}&nbsp;
                <!-- 商品SN -->
          </span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">{$goods.formated_market_price}&nbsp;
                <!-- 商品单价 -->
          </span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">{$goods.formated_market_subtotal}&nbsp;
                <!-- 商品金额小计 -->
          </span></div></td>
        <td width="5" align="right">&nbsp;</td>
        </tr>
      <!-- {/if} -->
      <!-- {/foreach} -->
      <!-- {foreach from=$packages item=package} -->
      <tr>
        <td width="900">{$package.package_name}
          <!-- 商品名称 -->
        </td>
        <td width="90" align="right"><div align="center"><span class="style3">&nbsp;{$package.qty}
              <!-- 商品数量 -->
        </span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">&nbsp;
                <!-- 商品SN -->
          </span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">{$package.formated_base_price}&nbsp;
                <!-- 商品单价 -->
          </span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">{$package.formated_total_price}&nbsp;
                <!-- 商品金额小计 -->
          </span></div></td>
        <td width="5" align="right">&nbsp;</td>
      </tr>
      <!-- {foreach from=$package.items item=goods} -->
      <tr>
        <td width="900" style="padding-left: 20px">{$goods.goods_name}
          <!-- 商品名称 -->
          <br>          {if !$order.is_purchase_order}<span class="style3">{if $goods.template_content}{$goods.template_content}{else}{$goods.seller_note}{/if}</span>         <br>{/if}
      </td>
        <td width="90" align="right"><div align="center"><span class="style3">&nbsp;{$goods.qty}
              <!-- 商品数量 -->
        </span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">{$goods.goods_sn}&nbsp;
                <!-- 商品SN -->
          </span></div></td>
          <!-- <td width="100" align="right"><div align="right"><span class="style3">&nbsp;
                <!-- 商品单价 -->
          </span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">&nbsp;
                <!-- 商品金额小计 -->
          </span></div></td>
        <td width="5" align="right">&nbsp;</td>-->
      </tr>
      <!-- {/foreach} -->
      <!-- {/foreach} -->
    </table>    {if !$order.is_purchase_order}<span class="style3"> {$order.serial_numbers} {$order.postscript} </span>{/if}<br>
    {if $order.is_purchase_order}<span style="font-size: 60px;position: relative;left: 25%;opacity: 0.4;top:6cm;">**執貨單**</span>{/if}
    </td>
  </tr>
</table>
<table width="100%" border="0">
    <tr>
    <td width="900">&nbsp;</td>
    <td width="120" align="right"><p class="style3">
<br>
<br>
<br>
{$lang.label_order_amount} :
    </p></td>
    <td width="180" align="right"><p class="style3">
<br>
<br>
<br>
{$order.formated_order_market_amount}
    </p></td>
    <td width="5">&nbsp;</td>
    </tr>
</table>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="10">&nbsp;</td>
  </tr>
</table>
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td rowspan="2">&nbsp;</td>
    <td width="130" height="20"><span class="style3">{if $order.user_name}{$order.user_name}{else}{$lang.anonymous}{/if}
        <!-- 购货人姓名 -->
    </span></td>
    <td width="50" height="20"><span class="style3">{if $order.user_id}{$order.zhanghu}{/if}</span></td>
  </tr>
  <tr>
    <td width="130" height="20"><span class="style3">{if $order.user_id}{$order.huodejifen}{/if}</span></td>
    <td width="50" height="20"><span class="style3"> {if $order.user_id}{$order.xiaofeijifen}{/if}</span></td>
  </tr>
</table>
<p>&nbsp;</p>
