<style type="text/css">
<!--
body {margin-top: 0;}
body,td {font-size: 13px;}
.style2 {font-size: 12px;}
.style3 {font-size: 10px;-webkit-transform:scale(0.83);-moz-transform: scale(1);}

.dn_header_1 {
  font-size: 48px;
}

.dn_header_2 {
  font-size: 20px;
}

.dn_title_1 {
  font-size: 16px;
  padding-right:5px;
}

.dn_border_box_td {
  border: 1px solid;
  font-size: 20x;
  text-align: left;
  padding:5px;
}

.dn_border_bottom {
  border-bottom:1px solid;
}
-->
</style>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="80" valign="top">
    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="39%"><span class="dn_header_1">送貨單</span></td>
        <td></td>
        <td width="25%" align="right">{$order.barcode_delivery_sn}</td>
      </tr>
     
      <tr>
        <td width="39%"><span class="dn_header_2">Yoho Hong Kong Limited</span></td>
        <td><div align="right" class="dn_title_1"></div></td>
        <td class=" " align="right">{$order.delivery_sn} (Wilson)</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><div align="right" class="dn_title_1">日期</div></td>
        <td class="dn_border_box_td" align="right">{$order.order_time}</td>
      </tr>
      <tr>
        <td>6A, Union Building 112 How Ming Street</td>
        <td><div align="right" class="dn_title_1">訂單</div></td>
        <td class="dn_border_box_td" align="right">{$order.order_sn}</td>
      </tr>
      <tr>
        <td>Kwun Tong, Kowloon, Hong Kong</td>
        <td><div align="right" class="dn_title_1">姓名</div></td>
        <td><div class="dn_border_box_td ">{$order.consignee}</div></td>
      </tr>
      <tr>
        <td width="45%">Tele       : 852 - 53357570</td>
        <td><div align="right" class="dn_title_1">電話</div></td>
        <td><div class="dn_border_box_td " >{$order.dn_mobile}</div></td>
      </tr>
      <tr>
        <td width="45%">Fax        : 852 - 30113130</td>
        <td><div align="right" class="dn_title_1">地址</div></td>
        <td ><div class="dn_border_box_td">{$order.address}</div></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="100%" height="10"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
</table>
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="315" valign="top">
      <!-- {if (strpos($order.postscript, '訂貨') !== false || strpos($order.order_remarks, '訂貨') !== false) && $order.shipping_status == SS_UNSHIPPED} -->
      <div style="font-size: 48px;">訂貨</div>
      <!-- {/if} -->
      <table width="100%" border="1" style="border-collapse:collapse;border-color:#000;">
        <tr>
            <td width="100" align="right"><div align="center"><span class="style3">產品SN</span></div></td>
            <td width="900">產品名稱
          
            </td>
            <td width="90" align="right"><div align="center"><span class="style3">&nbsp;產品数量</span></div></td>
        </tr>

        <!-- {foreach from=$goods_list item=goods key=key} -->
        <tr>
          <td width="100" align="right"><div align="center"><span class="style3">{$goods.goods_sn}&nbsp;
                <!-- 商品SN -->
          </span></div></td>
          <td width="900">{$goods.goods_name}
            <!-- 商品名称 -->
            <br>          {if !$order.is_purchase_order}<span class="style3">{if $goods.template_content}{$goods.template_content}{else}{$goods.seller_note}{/if}{/if}          <br>
          </span></td>
          <td width="90" align="right"><div align="center"><span class="style3">&nbsp;{$goods.goods_number}
              <!-- 商品数量 -->
          </span></div></td>
        </tr>
        <!-- {/foreach} -->
      </table>
       {if !$order.is_purchase_order}<span class="style3"> {$order.serial_numbers} {$order.data_postscript} {$order.data_order_remarks} </span><br>{/if}
    </td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="10">&nbsp;</td>
  </tr>
</table>
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td rowspan="2">&nbsp;</td>
    <td width="50" height="20"><span class="style3">簽收
        <!-- 购货人姓名 -->
    </span></td>
    <td width="150" height="20"><div class="dn_border_bottom">&nbsp;&nbsp;</div></td>
  </tr>

</table>
<p>&nbsp;</p>
