<style type="text/css">
<!--
body {margin-top: 0;}
body,td {font-size: 13px;}
.style2 {font-size: 12px;}
.style3 {font-size: 10px;-webkit-transform:scale(0.83);-moz-transform: scale(1);}
-->
</style>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="80" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
        <td width="44%">{$repair_order.add_time_formatted}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><span class="style2">{$repair_order.operator}</span></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><span class="style2">－－－</span></td>
        <td><div align="right">&nbsp;</div></td>
      </tr>
      <tr>
        <td width="45%">&nbsp;</td>
        <td><span class="style2">－－－</span></td>
        <td width="11%"><div align="right">{$repair_order.repair_sn}</div></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="100%" height="10"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
</table>
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="315" valign="top">
      <div style="font-size: 48px;">維修</div>
      <table width="100%" border="0" style="border-collapse:collapse;border-color:#000;">
        <!-- {foreach from=$goods_list item=goods key=key} -->
        <tr>
          <td width="900">{$goods.goods_name}</td>
          <td width="90" align="right"><div align="center"><span class="style3">&nbsp;1</span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">{$goods.goods_sn}</span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">&nbsp;</span></div></td>
          <td width="100" align="right"><div align="right"><span class="style3">&nbsp;</span></div></td>
          <td width="5" align="right">&nbsp;</td>
        </tr>
        <!-- {/foreach} -->
      </table>
      <span class="style3"> {$repair_order.remark} </span><br>
    </td>
  </tr>
</table>
<table width="100%" border="0">
    <tr>
    <td width="900" align="left" height="54" valign="bottom" class="style3">&nbsp;</td>
    <td width="120" align="right" height="54" valign="bottom" class="style3">
{if $repair_order.repair_fee gt 0}已收維修費 :{else}未收維修費{/if}
    </td>
    <td width="180" align="right" height="54" valign="bottom"  class="style3">
{if $repair_order.repair_fee gt 0}{$repair_order.repair_fee_formatted}{/if}
    </td>
    <td width="5">&nbsp;</td>
    </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="10">&nbsp;</td>
  </tr>
</table>
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td rowspan="2">&nbsp;</td>
    <td width="130" height="20"><span class="style3">{$repair_order.contact_phone}</span></td>
    <td width="50" height="20"><span class="style3">{if $order.user_id}{$order.zhanghu}{/if}</span></td>
  </tr>
  <tr>
    <td width="130" height="20"><span class="style3">{if $order.user_id}{$order.huodejifen}{/if}</span></td>
    <td width="50" height="20"><span class="style3"> {if $order.user_id}{$order.xiaofeijifen}{/if}</span></td>
  </tr>
</table>
<p>&nbsp;</p>
