::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
div.dropdown {
    display: inline-block;
}
div.dropdown > button.dropdown-toggle {
    padding: 3px 15px;
}
label.multiselect {
    margin-bottom: 0px;
}
.multiselect {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 12px 0px 12px 35px;
    font-size: 14px;
    user-select: none;
}
.multiselect input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 12px;
    left: 10px;
    height: 20px;
    width: 20px;
    background-color: #d7dcde;
    border-radius: 3px;
}
.checkmark.selected {
    background-color: #26b99a;
}
.checkmark.intermediate {
    background-color: #fd495c;
}
.checkmark i {
    position: relative;
    color: white;
    font-size: 13px;
}
.checkmark.intermediate i {
    padding-top: 4px;
    padding-left: 5px;
}
.checkmark.selected i {
    padding-top: 4px;
    padding-left: 3px;
}
.dropdown-menu-scroll {
    width: 200px;
    max-height: 360px;
    overflow-y: auto;
}
.dropdown-menu:not(.bootstrap-datetimepicker-widget) li:hover {
    background: #f0f0f0;
}
button.btn.dropdown-toggle {
    margin-bottom: 0;
}
#info_frame th, #crm_container td {
    vertical-align: middle;
}
.x_title {
    margin-bottom: 0;
}
.x_panel{
    padding: 0;
}
#platform_content {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
#crm_container > div:not(#offline_search_bar) {
    height: 100%;
}
#platform_nav img {
    width: 40px;
    margin-left: 2px;
}
#platform_nav.mail_list_column{
    border: none;
}
#platform_nav {
    max-width: 80px;
}
#information {
    width: calc(41% - 80px);
}
.toggleWidth#platform_content {
    width: 25%;
}
.toggleWidth#information {
    width: calc(75% - 80px);
}
.info_tab {
    text-align: center;
    border-bottom: 3px solid #ddd;
    padding: 10px 30px;
    color: #515356  !important;
}
.info_tab.active {
    border-bottom: 3px solid #666;
}
.info_tab + .info_tab {
    margin-left: 5px;
}
.info_tab_container {
    margin-bottom: 10px;
    display: flex;
}
#platform_nav .mail_list {
    padding: 10px 0px 10px 10px;
    border-bottom: none;
    border-radius: 5px;
}
#platform_nav a.active .mail_list {
    background: #c0c0c0cc
}
#platform_nav .mail_list .left {
    width: 30%;
    max-width: 50px;
}
#platform_nav .mail_list .right {
    width: 60%;
    height: 40px;
}
#platform_nav .mail_list .right h3 {
    line-height: 40px;
}
#platform_nav {
    padding-right: 5px;
}
#info_search_form {
    position: relative;
    top: 0;
}
#information, #chatra_nav, #chatra_display .panel-body, #aircall_nav_list, #aircall_display, #offline_search_result, #dashboard_result, #dashboard_stat, #twilio_nav_list, #twilio_display {
    overflow-x: hidden;
    overflow-y: scroll;
}
#chatra_display .panel {
    height: 100%;
    color: black;
}
#chatra_display .panel-footer {
    height: 120px;
}
.ml_div {
    color: black;
    padding: 10px 5px;
    border-bottom: 1px solid lightgrey;
    background: #eee;
    cursor: pointer;
}
.ml_div.unread {
    background: white;
}
.ml_priority, .ml_type, .ml_status {
    text-align: center;
    display: inline;
}
.ml_priority {
    width: 25px;
}
.ml_type {
    width: 62px;
}
.ml_status {
    width: 55px;
}
.unread .row {
    font-weight: 700;    
}
.ml_subject {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ml_user, span.from_mail, span.from_user {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ml_mail {
    padding-left: 12px;
}
.ml_date {
    text-align: end;
}
#inbox_container > [class*="col-"], #email_body {
    overflow-x: hidden;
    overflow-y: scroll;
}
#email_body {
    padding-top: 10px;
}
a.a_dl {
    display: inline-block;
}
.hideQuote {
    color: #777777 !important;
}
#email_display {
    color: black
}
#email_display img {
    max-width: 300px !important;
    height: auto !important;
}
#email_display table.MsoNormalTable img, a.email_attachment:hover img {
    max-width: unset !important;
}
#attachment_container {
    margin-top: 30px;
    padding: 0 10px;
}
.email_attachment + .email_attachment {
    float: left;
    margin-right: 20px;
}
#email_display #attachment_container a.email_attachment img, #chatra_display a.email_attachment img {
    max-width: 100% !important;
    height: auto !important;
}
a.email_attachment {
    position: relative;
    width: 150px;
    height: 110px;
    margin-top: 20px;
    color: black !important;
    background: #f3f3f3;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: 0.3s;
    text-decoration: none !important;
    overflow: hidden;
}
a.email_attachment div {
    padding: 0 10px;
    transition: 0.3s;
}
a.chatra_attachment {
    margin: 10px;
}
div.a_title {
    height: 25px;
    background: #6d6d6d;
    font-size: 14px;
    line-height: 1.9;
    color: white;
    display: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.f_dl {
    font-weight: 500;
    font-size: 16px;   
}
div.f_dl span {
    font-size: 10px;
    font-weight: 300;
}
div.a_name {
    width: 150px;    
    height: 110px;
    text-align: center;
}
div.a_name div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    word-break: break-all;
}
a.email_attachment:hover {
    background: #c0c0c0;
}
a.email_attachment:hover div.a_name {
    height: 80px;
}
a.email_attachment:hover div.a_title, a.email_attachment:hover div.f_dl, a.email_attachment div.f_name {
    display: block;
}
a.email_attachment:hover div.f_name, a.email_attachment div.f_dl, #chatra_ticket_info, #chatra_user_info {
    display: none;
}
div.f_ext div {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0px;
    right: -60px;
    z-index: 3;
    border: 40px solid #3333334d;
    border-left: 40px solid transparent;
    border-top: 40px solid transparent;
}
i.f_icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 4;
    text-shadow: 1px 1px white;
}
i.f_icon.fa-file-excel {
    color: #247d4d;
}
i.f_icon.fa-file-powerpoint {
    color: #d64d29;
}
i.f_icon.fa-file-word {
    color: #2f5ea2;
}
i.f_icon.fa-file-pdf {
    color: #f24236;
}
i.f_icon.fa-file-image {
    color: #8156f8;
}
.from_user {
    font-weight: bold;
}
.user_icon_img {
    float: left;
    width: 30px;
    height: 30px;
    margin: 4px 8px;
}
.user_icon_img img {
    height: 30px !important;
    width: 30px !important;
}
.user_icon {
    float: left;
    width: 30px;
    height: 30px;
    margin: 4px 8px;
    border-radius: 2px;
    text-align: center;
    border: 1px solid #c0c0c0;
    background-color: #ddd;
}
.user_icon i {
    font-size: 20px;
    position: relative;
    line-height: 30px;
    color: #777;
}
.thread_item {
    border-top: 1px solid lightgrey;
    padding: 10px
}
.thread_item:not(.active) {
    background: #eee;
    cursor: pointer;
}
.crm_list {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-bottom: 3px;
}
.from_admin_user::before {
    content: " -- 由 ";
    padding-left: 10px;
}
.from_admin_user::after {
    content: " 發送 "
}
.from_admin_user {
    color: #8c8c8c;
    font-style: italic;
}
#chatra_nav, #aircall_nav, #twilio_nav {
    padding: 0px;
}
.chatra_nav_item, .aircall_nav_item, .twilio_nav_item {
    padding: 10px 5px;
    border-bottom: 1px solid #c0c0c0;
    cursor: pointer;
    color: black;
    background: #eee;
}
.chatra_icon {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
}
.chatra_icon i {
    font-size: 20px;
    line-height: 2;
    color: #fff;
}
.chatra_nav_item.chatra_nav_new {
    background: white;
}
.chatra_nav_item.active, .chatra_nav_item.chatra_nav_new.active, .aircall_nav_item.active, .twilio_nav_item.active {
    background: #fdfce0;
}
#chatra_nav_load {
    cursor: pointer;
    text-align: center;
    padding: 10px 5px;
    font-size: 16px;
}
#chatra_nav_load_icon {
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: inline;
}
.chatra_message + .chatra_message {
    margin-top: 5px;
}
.chatra_message, .chatra_message_agent {
    margin-left: 0px;
    margin-right: 0px;
}
.chatra_message_content {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #daf9f9;
    border-radius: 5px;
}
.chatra_message_agent .chatra_message_content {
    background: #dcf8c6;
}
.chatra_message_temp .chatra_message_content {
    background: #ffd383;
}
.chatra_message_wait .chatra_message_content {
    background: #d8d8d8;
}
.chatra_message_body .col-md-10 {
    word-wrap: break-word;
    word-break: break-word;
}
.chatra_date_divide, .aircall_date_divide, .twilio_date_divide {
    margin: 10px;
}
.spinner {
    display: none !important;
}
.aircall_record + .aircall_record, .twilio_record + .twilio_record {
    margin-top: 10px;
}
.aircall_record_detail, .twilio_record_detail {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
}
.aircall_extra_info, .twilio_extra_info {
    border-top: 1px solid #aaa;
    margin-top: 10px;
}
.aircall_extra_info div, .twilio_extra_info div {
    padding-top: 10px;
}
.aircall_status, .twilio_status {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 10px 5px;
}
.aircall_answer, .twilio_answer {
    background: #1ABB9C;
}
.aircall_miss, .twilio_miss {
    background: #FD495C;
}
.twilio_queue {
    background: #3498DB;
}
.aircall_handle_miss, .twilio_handle_miss {
    padding: 1px 2px;
    margin-left: 5px;
}
.aircall_handle_phone, .twilio_handle_phone {
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
}
.crm_notice_container {
    width: 300px;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    z-index: 3000;
    float: right;
    color: white;
    font-size: 14px;
    margin-right: 30px;
}
.crm_notice_container, .crm_notice_container * {
    transition: all 0.5s ease;
}
.crm_notice_header {
    font-size: 18px;
    cursor: pointer;
}
.crm_notice_body {
    min-height: 70px;
    margin-top: 5px;
    max-height: 600px;
    overflow-y: auto;
}
.crm_notice_display {
    opacity: 0;
}
.crm_notice_container:hover .crm_notice_display {
    opacity: 1;
}
#offline_search_bar {
    position: absolute;
    box-shadow: 2px 2px 2px 0 #0000004a, 2px -2px 2px 0 #0000004a;
    z-index: 1000;
    background: #e1eaff;
    width: 550px;
    right: 2px;
    border-radius: 3px;
    opacity: 0;
    display: none;
    top: -25px;
    right: 15px
}
#offline_search_bar .input-group {
    margin: 5px;
    margin-left: 25px;
}
#offline_search_bar .input-group-btn .btn {
    margin-right: 0;
}
#offline_search_result {
    background: #dddddd;
    max-height: 600px;
}
#dashboard_search {
    text-align: center;
}
img.dashboard_platform {
    width: 20px;
}
#dashboard_result {
    text-align: center;
}
.dashboard_result_header {
    text-align: center;
    font-size: 16px;
    border-bottom: 3px solid #5c5c5c;
    margin: unset;
}
#dashboard_result .row {
    margin: 0;
    padding: 7px 0;
    border-bottom: 1px solid #c0c0c0;
    color: black;
}
#dashboard_result .row span.label {
    line-height: 20px;
}
#dashboard_result .row .col-md-6 {
    overflow: hidden;
    text-overflow: ellipsis;
}
#dashboard_stat {
    display: none;
}
.dashboard_data {
    margin: 6px 0;
}
div.dashboard_chart {
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}
span.btn-inline {
    cursor: pointer;
    line-height: 20px;
    padding: 4px 8px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}
.attachment_showcase img {
    max-width: 100%;
}
#twilio_call_init {
    background: grey;
}
#twilio_call_await {
    background: #ff9a03;
    animation: blinking 0.5s infinite;
}
#twilio_call_connect {
    background: #3eb330;
}
#twilio_call_disconnect {
    background: #ff0000;
}
.twilio_call_button {
    position: fixed;
    top: 50%;
    right: 5px;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.twilio_call_button.incoming {
    animation: incoming 0.5s infinite;
}
.twilio_call_button:not(#twilio_call_await):hover {
    opacity: 1;
}
@keyframes blinking {
    50% {opacity: 1;}
}
@keyframes unblink {
    0% {opacity: 1;}
}
@keyframes incoming {
    20%, 60% {transform: rotateZ(-10deg);}
    50% {opacity: 1;}
    40%, 80% {transform: rotateZ(10deg);}
}
