div.dropdown > button.dropdown-toggle {
    padding: 3px 15px;
}
label.multiselect {
    margin-bottom: 0px;
}
.multiselect {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 12px 0px 12px 35px;
    font-size: 14px;
    user-select: none;
}
.multiselect input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 12px;
    left: 10px;
    height: 20px;
    width: 20px;
    background-color: #d7dcde;
    border-radius: 3px;
}
.checkmark.selected {
    background-color: #26b99a;
}
.checkmark.intermediate {
    background-color: #fd495c;
}
.checkmark i {
    position: relative;
    color: white;
    font-size: 13px;
}
.checkmark.intermediate i {
    padding-top: 4px;
    padding-left: 5px;
}
.checkmark.selected i {
    padding-top: 4px;
    padding-left: 3px;
}
.dropdown-menu {
    min-width: 200px;
    max-height: 350px;
    overflow-y: auto;
    box-shadow: 3px 3px 5px #b7b5b5;
}
.dropdown .dropdown-menu li:hover {
    background: #f0f0f0;
}
button.btn.dropdown-toggle {
    margin-bottom: 0;
}
.multiselect-search-container {
    position: fixed;
    z-index: 500;
}
.multiselect-search-container + li, li.no_result {
    margin-top: 37px;
}
li.no_result {
    display: none;
}