.border_red {
    border-color: #FD495C;
}

#search_error_text {
    padding: 5px;
}

#order_all_pass {
    color: #1ABB9C !important;
}

#goods_sn_special {
    color:green;
}

.cross_check_error_history {
    text-align: left !important;
}

.cross_check_error_history .success {
    color:green;
}

.cross_check_error_history .error {
    color:red;
}

.cross_check_error_history .menual_input {
    color:green;
}

.cross_check_error_history .new_sn_input {
    color:green;
}

.cross_check_error_history .fix_goods_qty {
    color:green;
}

.cross_check_error_history .remove_wrong_goods {
    color:green;
}

.cross_check_error_history .special_handle {
    color:green;
}

.cross_check_error_history .all_correct {
    color:green;
}

.cross_check_error_history .goods_sn_input {
    color:green;
}

.cross_check_error_history .order_sn_input {
    color:green;
}

#select_delivery_order_block {
    display: none;
    padding:5px 0px;
}

.reset-cross-check-btn {
    margin-left: 1rem;
}

.modal-backdrop{
    display: none;
}
