.hot_sale_title{padding:6px 0; font-weight:bold}
.hot_sale{padding:10px;border-top:solid 1px #E7E7E7}
.hot_sale li{height:24px;line-height:24px;width:170px;overflow:hidden}
.hot_sale li a{background:url(../images/corner_mark.gif) -2px -58px no-repeat;padding-left:12px}
.hot_sale li a:hover{background-position:-2px -83px}


.brand{padding:10px;border-bottom:solid 1px #E7E7E7} 
.arc a{background:url(../images/corner_mark.gif) -2px -58px no-repeat;padding-left:12px}
.arc a:hover{background-position:-2px -83px}

.brand .brand_ico{max-width:170px}
.brand .band_property{border-top:solid 1px #E6E6E6;width:156px;margin:0 auto;padding-top:10px;line-height:20px}
.right_part{width:200px;border:solid 1px #E6E6E6}
.brand_ds{padding:10px;} 

.brand_ds span{ line-height:22px; text-indent:20px;}
a.viewbrandproducts{background:url("../images/icon_pagenum_white.png") no-repeat scroll 95px center #D4062E;display:block;height:22px;line-height:22px;margin:10px auto;text-indent:13px;width:110px;float:none;color:#FFF;}
a.viewbrandproducts:hover{background:url("../images/icon_pagenum_red_right.png") no-repeat 95px center;border:1px
solid #E7E7E7;border:1px solid #D4062E;text-decoration:none;color:#F00}


.maijia_say {margin-top:6px;}
.maijia_say h3 {background-position: 0px -56px;}
#maijia_say {width: 200px; height: 230px; overflow: hidden; position: relative;}
#maijia_say ul {background: rgb(255, 254, 243); margin-top: -230px;}
#maijia_say li {padding: 15px 5px 0px 5px; height: 215px; overflow: hidden;}
#maijia_say li .item {height: 82px; overflow: hidden;}
#maijia_say li .item a.fl {border: 1px solid rgb(228, 228, 228); width: 65px; height: 65px; overflow: hidden; margin-right: 12px; display: block;}
#maijia_say li .item a.fl:hover {border: 1px solid rgb(204, 204, 204);}
#maijia_say li .item a.fl img {width: 65px; height: 65px;}
#maijia_say li .item h2 {font-size: 12px; margin-bottom: 4px;}
.maijia_say dl.content {padding-top: 8px; position: relative;}
.maijia_say dl.content dt {background-position: 0px -97px; left: 35px; top: 1px; width: 9px; height: 9px; overflow: hidden; margin-bottom: -2px; display: block; position: absolute;}
.maijia_say dl.content dd {background: rgb(255, 255, 255); padding: 5px 5px 5px 5px; border: 1px solid rgb(255, 241, 150); line-height: 20px;}
.maijia_say dl.content dd h5 {color: rgb(153, 153, 153);}
.maijia_say dl.content dd h5 span.icon_ping {background-position: -5px -114px; width: 18px; height: 19px; text-indent: 9999px; overflow: hidden; margin-left: 4px; display: inline-block;}
.maijia_say dl.content dd p {height: 56px; color: rgb(0, 0, 0); overflow: hidden; margin-bottom: 6px;}
.maijia_say dl.content dd em {color: rgb(153, 153, 153);}
.maijia_say .cle_float {background: rgb(255, 254, 243); padding: 5px 15px;}
.toppart_r .box_r h3 {height: 0px; overflow: hidden; padding-top: 27px;}
.toppart_r .box2 {border: 1px solid rgb(228, 228, 228); margin-top: 10px;}
.toppart_r .box2 img {display: block;}
.toppart_r .noborder {border: currentColor;}
.toppart_r .box_r_pic {padding: 5px; width: 195px; overflow: hidden;}
.toppart_r .box_r {border: 1px solid rgb(228, 228, 228);}
.toppart_r .box_r h3 {height: 0px; overflow: hidden; padding-top: 27px;}