/* 所有分類頁面 all-cate*/
.All_list{width: 1007px;margin: 10px auto 40px;position:relative;}
.All_list .All_list_left{width: 224px;position:absolute;top:0;left:0; z-index:10;}
.All_list .All_list_left li{padding-bottom:15px;}
.All_list_left a{background: url(../images/all-cate-bg.png) no-repeat 0 -9999px;width: 164px; height: 50px; display:block; font-size: 14px;font-weight: bold; padding-left:60px; line-height:50px; overflow:hidden;}
.All_list_left a:hover{text-decoration:none;}
.All_list_left a.list_class_a{background-position:0 0;}
.All_list_left a.list_class_a:hover,.All_list_left a.Class_current{background-position:0 -149px; color:#fff;}
.All_list_left a.list_brand_a{background-position:0 -49px;}
.All_list_left a.list_brand_a:hover,.All_list_left a.Brand_current{background-position:0 -199px; color:#fff;}
.All_list_left a.List_use_a{background-position:0 -98px;}
.All_list_left a.List_use_a:hover,.All_list_left a.Use_current{background-position:0 -249px; color:#fff;}

.All_list_right{width: 788px;_height:300px; min-height:400px; margin-left:217px;border: 1px solid #E4E4E4;}
.list_class_box{border-bottom:1px dashed #E4E4E4;margin-right: 25px;margin-left: 21px;padding-bottom: 15px;}
.Noline{border:none;}
.list_class_box_left{height: 17px;width: 100px;float: left;font-size: 14px;font-weight: bold;margin-top: 30px;padding-left: 52px;}
.list_class_box_right{float: left;margin-top: 25px;font-size: 14px;width: 530px;margin-left:25px;}
.list_class_box_right li{float: left;width: 130px;text-align: left;line-height: 28px;}
.list_brand_box .Category{margin-right: 25px;margin-left: 21px;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #E4E4E4;font-size: 14px;}
.list_brand_box .Category li{float: left;}
.list_brand_box .Category a{display: block;height: 30px;line-height: 30px;padding-right: 10px;padding-left: 10px;float:left;}
.list_brand_box .Category a:hover{font-weight: bold;color: #D4062E;background: url(../images/icon_nav_a_shang_bj.png) no-repeat center bottom;}
.list_brand_box a.current{font-weight: bold;color: #D4062E;background: url(../images/icon_nav_a_shang_bj.png) no-repeat center bottom;}
.list_brand_box .Brand_list{margin-right: 25px;margin-left: 21px;margin-top: 5px;padding-bottom: 5px;border-bottom:1px dashed #E4E4E4;}
.All_list_right .list_brand_box .Noline{border: none;}
.list_use_box{margin-top: 15px;margin-left: 104px;margin-right: 50px;margin-bottom: 15px;font-size: 14px;}
.list_use_box li{float: left;width: 100px;line-height: 28px;}

/*按品牌查看*/
.viewbybrand {margin:0 25px 0 21px; padding-bottom:20px;}
.viewbybrand .category {width:734px; height:34px; float:left; border-bottom:1px solid #e7e7e7;}
.viewbybrand .category li {height:30px; float:left; line-height:30px;}
.viewbybrand .category li a {display:block; margin-top:5px; padding-left:10px; padding-right:10px; background-image:none; outline:none;}
.viewbybrand .category li a:hover {background:url(../images/icon_nav_a_shang_bj.png) center bottom no-repeat;}
.viewbybrand .category li a.current {color:#d4062e; font-weight:bold; background:url(../images/icon_nav_a_shang_bj.png) center bottom no-repeat;}

.viewbybrand .brandlist {clear:both; margin-top:0; padding-bottom:4px; background:url(../images/brand_list_section_bg.png) bottom center no-repeat;}
.viewbybrand .brandlist_con {display:none;}
.viewbybrand .brandlist_left {width:65px; height:30px; float:left; line-height:30px; text-align:center; font-weight:bold;}
.viewbybrand .brandlist_right a {width:65px; height:37px; display:block; color:#333; line-height:37px; background:url(../images/icon_nav_xiaji.png) 45px center no-repeat;}
.viewbybrand .brandlist_right a:hover {color:#d4062d; text-decoration:underline;}
.viewbybrand .brandlist_mid {width:670px; float:left; margin-top:5px; overflow:hidden;}
.viewbybrand .brandlist_mid li {width:165px; height:20px; float:left; line-height:20px; margin:0px; margin-right:2px; overflow:hidden;}
.viewbybrand .brandlist_right {width:60px; height:37px; float:left; line-height:37px; text-align:center;}

