/*購物車，訂單流程頁面CSS表*/

/*購物車表格樣式*/
.My_cart{padding-bottom: 10px;margin-top: 15px;border:1px solid #E4E4E4; border-top:2px solid #333;}
.My_cart h2{font-size: 12px;padding-left: 30px;line-height: 30px;height: 30px;color: #666;}
.My_cart h2 a{margin:0 4px; color:#c03;}
.My_cart table{margin-top: 10px;border-bottom: 1px solid #E4E4E4;}
.My_cart table .lineItems td{border-bottom: 1px dashed #E4E4E4; padding-bottom:5px;}
.My_cart table .lineItems td span.minus{background:url(../images/zengjian_button_bj.png) -12px 0 no-repeat; width:11px; height:11px; display:inline-block; overflow:hidden; cursor:pointer;position:relative; top:2px;*top:0;}
.My_cart table .lineItems td span.plus{background-position:0 0; }

.My_cart table td.cart_show{text-align:center;}
.My_cart table td em{background:url(../images/cart_icon.png) -9999px 0 no-repeat;height:25px; width:34px; overflow:hidden; line-height:0; display:block; margin:0 auto;}
.My_cart table td em.tuan_icon{ background-position: 0 0;}
.My_cart table td em.xianshi_icon{ background-position: 0 -41px;}
.My_cart table input.qty{width: 24px; height:12px; line-height:12px; padding:4px 0; vertical-align:middle; overflow:hidden;text-align:center;margin-left:2px;}
.My_cart .collect_line{position:relative}
.My_cart .collect_line .collect_ok{display:none; position:absolute; right: 24px; top: 2px;width: 15px; height: 15px;background:url(../images/icon_true_01.png) 0 0 no-repeat;}

.My_cart .My_cart_total{width: 957px;margin-top: 15px;margin-left: 25px;text-align: right;font-size: 12px;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #E4E4E4;padding-bottom: 10px;}
.My_cart .My_cart_total ul{margin-right: 10px;}
.My_cart .My_cart_total li{float: right;margin-right: 20px;}
.My_cart .My_cart_total span{color: #F10F5C;font-size: 12px;font-weight: bold;}

.My_cart .Pay{margin: 10px 0 15px 25px;}
.My_cart .Pay p{background: url(../images/icon_all_delete.png) no-repeat left center;width: 80px;font-size: 12px;padding-left: 15px;margin-left: 30px;float: left;}
.My_cart .Pay a:hover{color: #c03;text-decoration: none;}
.My_cart .Pay li{float: right;margin-right: 15px;line-height: 33px;height: 33px;}
.My_cart .Pay li .Continue_buy{margin-right:20px; float:left; font-size:14px; background: url(../images/goon_buy_btn.jpg) no-repeat 0 11px; padding-left:22px;}
.My_cart .Pay .Pay_submit{height: 39px;width: 117px;font-size: 14px;line-height: 39px;color: #fff;background: url(../images/pay_button_bj.png) no-repeat left center;border: none;cursor: pointer;}

/*頁面推廣的產品列表 如：最近瀏覽，我的收藏，50元特惠*/
.cartsection{margin: 10px auto 0;border: 1px solid #e7e7e7;position: relative;}
.cartsection h3{height: 33px;line-height: 33px;font-size: 14px;padding-left: 13px;border-bottom: 2px solid #333;font-weight: bold; background:#fafafa;}
.cartsection ul.title{position: absolute;top: 4px;height: 27px;z-index: 100;}
.cartsection ul.title li{height: 28px;line-height: 28px;float: left;border: 1px solid #e7e7e7;margin-right: 3px;display: block;padding: 0 25px;border-bottom: none;background:#fff;}
.cartsection ul.title li.on{height: 28px;border: 1px solid #333;border-bottom: 2px solid #fff;}
.cartsection ul.title li: hover{height: 28px;border: 1px solid #333;border-bottom: 2px solid #fff;}
.cartsection .condv{padding: 15px 0 15px 15px;}

.cartsection .productsrow {display:none;}
.cartsection .productsrow li{height:286px;}
.cartsection .productsrow a.addcart{width:86px; height:24px; position:absolute; top:250px; left:10px; text-indent:-9999px; background:url(../images/addcart_button_bg24.png) no-repeat 0 0; outline:none;}
.cartsection .productsrow a.addcart:hover{background:url(../images/addcart_button_bg24.png) no-repeat 0 0;}
.cartsection .productsrow a.productitem span.price{text-decoration:line-through;color:#999;font-size12px; display:inline;padding-left:8px;}
.cartsection .productsrow a.productitem{height:266px;}

/*加5元，10元...列表*/
.jia_ul .productsrow a.productitem span.salerow{display:none;}
.jia_ul ul.title li i{font-style:normal;color:#c03; padding:0 3px;}
.jia_ul .productsrow a.addcart{top:230px;}
.jia_ul .productsrow a.productitem{height:246px;}

/*訂單頁面 checkout */
.Order_information{margin: 10px auto 0;border: 1px solid #E4E4E4;}

.Order_information h2{font-size: 14px;font-weight: bold;padding-left: 20px;border-bottom: 2px solid #333;line-height: 30px;height: 30px;}
.Order_information .User_name{padding:20px 0 0 30px;}
.User_name h3{font-size: 12px;font-weight: bold; height:20px;}
.User_name h3 span{margin-left: 13px; font-weight:normal;}
.User_name h3 p{float: right;padding-right: 20px;font-weight:normal;}
.User_name h3 p a{margin-left: 3px;font-weight: 800;}
.User_name ul{padding:5px 0 12px 20px;}
.User_name li{line-height: 25px;}
.User_name li i{color:#c03; font-style:normal; margin:0 4px;}
.User_name input{margin-right: 5px;}
.User_name span{color: #999999;}
.User_name strong{color: #f60;margin-left: 10px; }

.User_name .New_ads{border: 1px solid #E4E4E4;background-color: #F6F6F6;margin:10px 20px 0;}
.User_name .New_ads input{width: 100px;padding:3px;}
.User_name .New_ads input.saveconfirmbutton,#loginbox-link{background:url(../images/login_button_bj.png) repeat-x left top; width:70px; height:30px; line-height:20px; border:none; color:#FFF; font-size:14px; font-weight:bold; cursor:pointer;}
#loginbox-link{height:20px; width:64px; line-height:20px; font-weight:normal; font-size:12px;}

.User_name .New_ads li{height: 40px;line-height: 40px;}
.User_name .New_ads li.intro{height: 20px;margin-top: -5px;margin-bottom: 5px;line-height: 20px;}
.User_name .Choose_way_box{height: 35px;width: 550px;border: 1px solid #E4E4E4;background-color: #F6F6F6;margin: 5px 0 10px 30px;}

/*商品清單*/
.Product_information{margin: 10px 0;}
.Product_information h3{font-size: 13px;font-weight: bold;margin-left: 30px;}
.Product_information h3 span{font-weight: normal;padding-left:800px;}
.Product_information h3 a{text-decoration: underline;}

.Product_information table{margin-top: 10px;}
.Product_information table tr td{border-bottom:1px solid #E4E4E4;}

.Information_bigbox{margin-top: 5px;font-size: 12px;}
.Bigbox_left{width: 700px;float: left; overflow:hidden;}
.Bigbox_right{float: right;width: 240px;text-align: right;margin-right: 13px; margin-top:110px;}

.Bigbox_left ul{margin-left: 50px;}
.Bigbox_left li{line-height: 25px;}
.Bigbox_left li.Li_pic{padding-top: 5px;}
.Bigbox_left a.slink{margin-top: 5px;background: url(../images/icon_increase.png) left center no-repeat;padding: 2px 0 2px 20px;}
.Bigbox_left a.slink_on{background: url(../images/icon_reduce.png) left center no-repeat;}

.Bigbox_left_explain{height: 94px;width: 380px;background-color: #F6F6F6;border: 1px solid #E4E4E4;}
.Bigbox_left_explain textarea{height: 60px;width: 250px;font-size: 12px;}
.Bigbox_left_explain ul{margin-top: 20px;margin-left: 15px;}
.Bigbox_left_explain li{float: left;}

.Bigbox_left_coupons{height: 45px;width: 380px;background-color: #F6F6F6;border: 1px solid #E4E4E4;float: left;}
.Bigbox_left_coupons ul{margin-left: 20px;margin-top: 10px;}
.Bigbox_left_coupons li{float: left;margin-right: 10px;}

.Bigbox_left_box p{height: 20px;width: 150px;float: left;padding-left: 20px;line-height: 20px;margin-top: 10px;margin-left: 10px;font-size: 12px;color: #5BA600;font-weight: bold;}
.Bigbox_left_box p.success{background: url(../images/icon_true_01.png) left center no-repeat;}
.Bigbox_left_box p.error{color: #ff6600;background: url(../images/error_bg.png) left center no-repeat;}

.Bigbox_right li{line-height: 25px;}
.Bigbox_right .Li_total{font-size: 12px;font-weight: bold;color: #F10F5C; margin-bottom:10px;}

.Sure_submit{background: url(../images/login_button_bj.png) repeat-x left center;border: none;line-height: 39px;height: 39px;width: 150px;font-size: 14px;font-weight: bold;color: #fff;cursor: pointer;}

/*付款頁面 選擇銀行*/
.Success{border: 1px solid #E4E4E4; margin-top:10px;}
.Success .Success_tip{width: 350px;border: none;margin: 43px 0 10px 50px;background: url(../images/true_pic.png) no-repeat left center;}
.Success .Success_tip p{background: url(../images/icon_true_02.png) no-repeat left center;height: 32px;line-height: 32px;font-size: 18px;font-weight: bold;color: #1d8900;padding-left: 35px;}
.Success_order_inf{margin-left: 100px;height: 20px;}
.Success_order_inf li{float: left;margin-right: 20px;}
.Success_order_inf span{color: #F10F5C;font-weight: bold;font-size: 14px;}
.Success_bank{height: 108px;width: 820px; margin:0 auto;background-color: #f6f6f6;border: 1px solid #E7E7E7;}
.Bank_choose{margin-top: 8px;margin-right: 11px;margin-bottom: 8px;margin-left: 11px;background-color: #FFFFFF;width: 798px;height: 82px;padding-top: 10px;}
.Bank_choose h2{font-size: 12px;padding-left: 25px;}
.Bank_choose .Bank h3{font-size:12px;}
.Success_bank .Bank_choose ul{margin-left: 30px;margin-top: 10px;}
#payform .Success .Success_bank .Bank_choose input{float: left;}
.Bank_choose li{width: 153px;float: left;height: 40px;line-height: 40px;}
#payform .Success .Success_bank .Bank_choose .gongshang{background: url(../images/bank.png) no-repeat -4px -363px;height: 30px;width: 123px;display: block;float:left;margin-left: 10px;}
.Bank_choose li input{margin-top: 10px;}
.Zhaoshang_bank{background: url(../images/icon_icbc_bank.png) no-repeat right center;}
.Bank_choose .Other_bank{text-align: center;background: url(../images/icon_bank_choose.png) no-repeat center bottom;}
.Success .Pay{height: 33px;width: 107px;margin-top: 20px;margin-left: 450px;}
.Success .Go_pay{margin: 20px auto; text-align:center;}
.Success .Go_pay input.button{background: url(../images/login_button_bj.png) repeat-x left top;height: 39px;width: 100px;font-size: 14px;font-weight: bold;color: #fff;line-height: 39px;border: none;cursor:pointer;}
.Success_pay_tip{width: 820px;margin-left: 90px;margin-top: 20px;margin-bottom: 15px;}
.Success_pay_tip li{line-height: 25px;list-style-type: disc;padding-left: 15px;list-style:none;background:url(../images/li_disc_bg.png) 0 8px no-repeat;}
.Success_pay_tip li a{margin-right: 15px; color:#c03;}
.Success_pay_tip strong{font-weight: normal;}
.More_bank_bj{height:100%;width:100%;position:absolute;top:0;left:0;background-color:#333;filter:alpha(opacity=40);-moz-opacity:0.4;opacity:0.4;z-index:1000;display:none;}
.More_bank{background-color: #FFFFFF;border: 10px solid #E4E4E4;width: 725px;z-index:1001;position:fixed;top:50%;left:50%;margin-left:-370px;margin-top:-180px;display:none;padding-bottom:15px;}
.More_bank2{display:block;width:760px;height:auto;position:relative;top:auto;left:auto;margin:10px 0 0 88px;}
.More_bank h2{margin: 10px 20px 0;border-bottom:1px solid #E4E4E4;font-weight: bold;}
.More_bank h2 span{margin-left: 480px;}
.More_bank .Bank{margin-top: 10px;margin-right: 20px;margin-left: 30px;padding-bottom: 10px;margin-bottom: 5px;}
.More_bank h3{font-size:12px;}
.More_bank h3 span{color: #999999;}
.More_bank .Bank ul{margin-top: 10px;float:left;}
.More_bank .Bank li{width: 153px;float: left;height: 30px;line-height: 30px;margin-right: 10px; margin-bottom:15px;}
.More_bank input{margin-top: 8px;}
.Bank_01,.Bank_02{background: url(../images/icon_icbc_bank.png) no-repeat right center;}
.More_bank .Platform{margin: 10px 20px 0 30px;padding-bottom: 10px;}
.Platform ul{margin-top: 10px; float:left;}
.Platform li{float: left;width: 153px;height: 32px;list-style-type: none;margin-right: 10px;}
.Platform_01,.Platform_02{background: url(../images/bank_06.png) no-repeat right center;}
.More_bank .Sure{width: 56px;margin-left: 325px;}

#payform .More_bank .Sure button, #payform .More_bank .Sure input.button{width: 70px;background: url(../images/login_button_bj.png) repeat-x left top;height: 39px;font-size: 14px;line-height: 39px;font-weight: bold;color: #fff;border: none;}
#payform .More_bank .Bank input,#payform .More_bank .Platform input{float: left;}
#payform .More_bank .Bank li a,#payform .More_bank .Platform li a{height: 30px;width: 123px;display: block;float:left;margin-left: 10px;background: url(../images/bank.png) no-repeat 9999px 0;}
#payform .More_bank .Bank .gongshang{background-position: -4px -363px;}
/*#payform .More_bank .Bank .nongye{background-position: -4px -2px;}*/
#payform .More_bank .Bank .nongye{background:url("../images/bank_nh1.png") no-repeat 0 0;}
#payform .More_bank .Bank .jianshe{background-position: -4px -74px;}
#payform .More_bank .Bank .guangda{background-position: -4px -110px;}
#payform .More_bank .Bank .zhongxin{background-position: -4px -182px;}
#payform .More_bank .Bank .xingye{background-position: -4px -147px;}
#payform .More_bank .Platform .zhifubao{background: url(../images/bank_06.png) no-repeat left center;}
#payform .More_bank .Platform .yidong{background: url(../images/bank_07.png) no-repeat left center;}
#payform .More_bank .Platform .wyzx{background: url(../images/bank_wyzx.jpg)  no-repeat 0 0;}
#payform .More_bank .Bank .zhongguo{background-position: -4px -38px;}
#payform .More_bank .Bank .zhaoshang{background-position: -4px -218px;}
#payform .More_bank .Bank .minsheng{background-position: -4px -257px;}
#payform .More_bank .Bank .jiaotong{background-position: -4px -291px;}
#payform .More_bank .Bank .guangfa{background-position: -4px -324px;}
#payform .More_bank .Bank .youzheng{background-position: -4px -399px;}

/*點擊去付款後彈出的窗口樣式*/
#payment_action_button_dv{width: 400px;height: auto;position: absolute;top: 450px;left: 50%;margin-left: -235px;}
#payment_action_button_dv .subdv{position: relative;margin: 0 auto;padding-top: 25px;text-align: center;}
#payment_action_button_dv .subdv .dv1{width: 15px;height: 15px;position: absolute;top: 5px;right: 5px;}
#payment_action_button_dv .subdv .dv2{text-align: left;}
#payment_action_button_dv .subdv .dv2 h3{background: url(../images/tip_bj.png) left top no-repeat;height: 22px;line-height: 22px;text-indent: 30px;margin-left: 55px;font-size: 14px;font-weight: bold;}
#payment_action_button_dv .subdv .dv2 ul{margin-left: 55px;margin-top: 10px;}
#payment_action_button_dv .subdv .dv2 li.info{height: 25px;line-height: 25px;}
#payment_action_button_dv .subdv .dv2 p{background: url(../images/icon_left.png) left center no-repeat;text-indent: 20px;margin: 25px auto 20px 65px;}
#payment_action_button_dv input.commonbutton{background: url(../images/login_button_bj.png) repeat-x scroll left top transparent;border-style: none;color: #fff;cursor: pointer;font-size: 14px;font-weight: bold;height: 37px;line-height: 37px;padding-bottom: 2px;width: 100px;cursor: pointer;}

/*訂單詳情頁面*/
.Detail_inf{width: 1007px;margin-top: 20px;margin-right: auto;margin-left: auto;text-align: left;background-color: #fffef1;border: 1px solid #E4E4E4;}
.Detail_inf h2{font-size:18px; padding:16px 0 0 20px; color:#000;}
.Detail_inf_shang{margin-right: 20px;margin-left: 20px;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #E4E4E4;padding-left: 10px;margin-top: 10px;height: 50px;}
.Detail_inf_shang li{float: left;line-height: 50px;margin-right: 30px;font-size: 14px;font-weight: bold;}
.Detail_inf_shang span{color: #009933;}
.Detail_inf_shang em{color: #DF0B53;}
.Detail_inf_shang img{margin-top: 10px;}
.Detail_inf .Detail_inf_shang button, .Detail_inf .Detail_inf_shang input.button, .Order_information .Product_information .Information_bigbox .Bigbox_right button, .Order_information .Product_information .Information_bigbox .Bigbox_right input.button{font-size: 14px;line-height: 33px;font-weight: bold;color: #FFFFFF;background: url(../images/login_button_bj.png) repeat-x left top;height: 33px;width: 107px;border: none;margin-top: 5px;cursor: pointer;}
.Detail_inf .Word{height: 50px;padding-left: 10px;margin-right: 20px;margin-left: 20px;}
.Detail_inf .Word p{width: 610px;margin-top: 10px;}

.Order_steps{width: 1007px;height: 100px;margin-top: 10px;margin-right: auto;margin-left: auto;text-align: left;margin-bottom: 5px;}
.Order_steps .steps_pic{margin-top: 30px;margin-left: 40px;height: 13px;}
.Order_steps .steps_pic li{margin: 0 5px;width: 144px;float: left;height: 13px;}
.Order_steps .steps_pic .pic_01{width: 144px;background: url(../images/order_tip_01.png) no-repeat left center;}
.Order_steps .steps_pic .pic_02{background: url(../images/order_tip_07.png) no-repeat left center;}
.Order_steps .steps_pic .pic_03{background: url(../images/order_tip_01.png) no-repeat left center;}
.Order_steps .steps_pic .pic_04{width: 13px;background: url(../images/order_tip_02_hui.png) no-repeat left center;}
.Order_steps .steps_pic .pic_05{width: 13px;background: url(../images/order_tip_02_red.png) no-repeat left center;}
.Order_steps .steps_word{margin-top: 5px;}
.Order_steps .steps_word ul{margin-left: 13px;}
.Order_steps .steps_word li{float: left;width: 70px;text-align: center;}
.Order_steps .steps_word .word_04{margin-left: 80px;}
.Order_steps .steps_word li em{color: #999;line-height: 15px;}
.Order_steps .steps_word .word_01{}
.Order_steps .steps_word .word_02{margin-left: 80px;_margin-left: 75px;}
.Order_steps .steps_word .word_03{margin-left: 85px;}

/*找人代付的鏈接 複製模塊*/
.daifu_title{margin-top:30px; margin-bottom:-10px;}
.daifu_title h1{font-size:16px;font-weight:bold; float:left; }
.daifu_title h1 i{color:#c03; font-style:normal; margin:0 4px;}
.daifu_title span{color:#999; margin-left:20px; line-height:26px;}
.daifu_tiaoyue{padding:10px 30px;}
.daifu_tiaoyue input{float:left; margin-right:4px;  position:relative; top:3px;*top:0px;}
.daifu_tiaoyue p{margin-top:12px; color:#999;}

.trade_link_div{padding:10px 0 20px 0; margin:8px 150px;}
.trade_link_div input{padding:6px 10px; width:500px; height:16px; border:1px solid #ccc;}
.trade_link_div button{width:130px; height:30px; margin-left:-10px;background:#c03; border:none; color:#fff;}
.daifu_ddh{margin:0; padding:10px 20px; margin-top:10px; border:1px solid #ddd; background:#f4f4f4;}

/*訂單跟蹤 表格框*/
table.trade_track{width:600px; margin-top:10px;}
table.trade_track th,table.trade_track td{padding:17px 0 5px 30px; border:1px solid #cacaca;}
table.trade_track th{background:#e9e9e9;}
table.trade_track td{background:#fbfbfb;}

#header .kefu_t{ width:245px; float:left; height:50px; margin-left:10px;}
#header .kefu_t li{ float:left; margin-top:27px;}
#header .kefu_t li span{ font-size:16px; font-weight:bold;}
#header .kefu_t .li_img{ margin-left:10px;}























