/* ------------------------------ 產品列表頁開始 ------------------------------ */
#productarea {padding-bottom:50px;}
#productarea .topbanner {padding-top:10px;}

/* 當前位置 */
#breadcrumb {height:35px; line-height:35px; text-align:right; overflow:hidden;}
#breadcrumb ul {float:left;}
#breadcrumb ul li {float:left;}
#breadcrumb ul li a {float:left; display:block; margin:0 4px;}
#breadcrumb div.info {float:right; text-align:right;}
#breadcrumb div.info span {margin:0 5px; color:#d4062e; font-size:12px;}

.sidebar {width:204px; float:left; overflow:hidden; clear:both;}
.maincon {width:788px; float:right; overflow:hidden; position:relative;}
.maincon .bannerarea {padding-bottom:10px;overflow:hidden; }

/* 側邊欄 分類 */
.productsubcats {padding-bottom:10px; border:1px solid #e7e7e7;}
.productsubcats ul {margin-top:0;}
.productsubcats li {margin:0 12px 0 50px; line-height:30px; border-bottom:1px solid #e7e7e7;}
.productsubcats li.allcats {margin:0; padding:0; background-color:#f1f1f1;}
.productsubcats li.allcats a {display:block; color:#333; font-weight:bold; padding:0 10px;}
.productsubcats li a{display:block; text-decoration:none;}
.productsubcats li a:hover em{color:#d4062e; font-weight:normal;}
.productsubcats li a.current{color:#d4062e; font-weight:bold;}
.productsubcats li a.current em{font-weight:normal;}
.productsubcats li em{color:#999; font-size:10px;}

.productsubcats li.firstlevel {margin-left:14px; padding-left:10px; background:url(../images/icon_all_product_list_symbol.png) left center no-repeat;}
.productsubcats li.secondlevel {margin-left:35px; padding-left:10px; background:url(../images/icon_all_product_list_symbol.png) left center no-repeat;}
.productsubcats li.current{padding-left:0; background:none; padding-left:14px; background:url(../images/icon_all_product_list_symbol_bottom.png) left center no-repeat;}
.productsubcats li.current a{color:#d4062e; font-weight:bold;}
.productsubcats li.noline {border-bottom:none;}

/* 側邊欄 銷量排行 */
.salerank {margin-top:10px; border:1px solid #e7e7e7;}
.salerank h4 {font-weight:bold; padding:4px 10px; background:url(../images/h2_bj.png) left bottom repeat-x;}
.salerank ul { padding:10px; overflow:hidden;}
.salerank li {color:#d4062e; font-size:12px; line-height:18px; padding:4px 0; border-bottom:1px dashed #ccc;/* list-style:inside decimal;*/ white-space:nowrap; overflow:hidden;}
.salerank li span.number {color:#d4062e; padding-right:5px;}

.salerank li.first {height:60px; position:relative; white-space:normal; overflow:hidden;}
.salerank li.first a {width:105px; height:32px; line-height:16px; position:absolute; top:5px; right:0; overflow:hidden;}
.salerank li.first span.number {position:absolute; top:1px; left:0;}
.salerank li.first .hot {width:105px; height:18px; position:absolute; top:40px; right:0; overflow:hidden;}
.salerank li.first .imgdv {width:57px; height:57px; position:absolute; top:5px; left:0; display:block; margin:auto 8px 4px 12px; padding:0; line-height:normal; background-color:#fff;}
.salerank li.first .imgdv a {width:55px; height:55px; display:block; position:relative; top:0; border:1px solid #ececec;}
.salerank li.first .imgdv a:hover {border:1px solid #ccc;}
.salerank li.first .imgdv a img {position:relative;}
.salerank li.solidline {border-bottom:1px solid #e7e7e7;}
.salerank li.noline {border:none;}

/* 側邊欄 最近瀏覽過的商品 */
.recentlook {margin-top:10px; border:1px solid #e7e7e7;}
.recentlook p {color:#999; padding:10px; text-align:center;}
.recentlook h4 {font-weight:bold; padding:4px 10px; background:url(../images/h2_bj.png) left bottom repeat-x;}
.recentlook h4 span {margin-left:50px; font-size:12px; font-weight:normal;}
.recentlook ul {padding:5px 10px; }
.recentlook ul li {padding:4px 0 4px 12px; color:#ccc; height:17px; list-style:none;background:url(../images/li_disc_bg.png) 0 9px no-repeat; overflow:hidden;}

/* 右側 功效價格等的篩選區域 */
#screening {padding:10px 10px 0; border:1px solid #e7e7e7;}
#screening .sitem{margin-bottom:8px; padding-bottom:5px; border-bottom:1px solid #e7e7e7; zoom:1;}
#screening .sitem h4{height:22px; float:left; margin-left:5px; line-height:22px;}
#screening .sitem .sitemcon {width:660px; height:22px; float:left; overflow:hidden;}
#screening .sitem ul{float:left; border:1px solid #fff;}
#screening .sitem ul.part{width:660px;}
#screening .sitem ul li {height:22px; line-height:22px; float:left; padding-bottom:4px; overflow:hidden;}
#screening .sitem ul li span.current{float:left; display:block; padding:0 10px; border-right:1px solid #e7e7e7; white-space:nowrap;color:#d4062e; font-weight:bold;}
#screening .sitem ul li a{float:left; display:block;padding:0 10px; height:22px; line-height:22px; border-right:1px solid #e7e7e7; white-space:nowrap;}
#screening .sitem ul li a:hover{background:#efefef;text-decoration:none;}

#screening .sitem a.more_brand{float:left; padding-left:20px; background:url(../images/icon_more_down.png) no-repeat 10px 8px;}
#screening .sitem a.top_brand{float:left; padding-left:20px; background:url(../images/icon_top_up.png) no-repeat 10px 8px;}
#screening .sitem form.searchbyprice{float:left; margin-left:10px;}
#screening .sitem form.searchbyprice input{width:33px; height:16px; border:1px solid #c8c1ba;}
#screening .sitem form.searchbyprice button{width:20px; height:20px; margin-left:5px; border:none; text-indent:-9999px; outline:none; background:url(../images/icon_search_small.png) no-repeat;}
#screening .noline{border-bottom:none; padding-bottom:0;}

/* 右側 產品列表框頭-排序 */
.sort {height:30px; border-top:1px solid #d7d7d7; margin-top:10px; background-color:#f1f1f1;}
.sort ul {float:left; margin-left:16px; _margin-left:10px;}
.sort li {float:left; margin:8px 10px auto auto; padding-right:10px; line-height:14px; border-right:1px solid #b0b0b0;}
.sort li a.current, .sort li span.current {color:#D4062E; font-weight:bold;}
.sort li.noline {margin-right:0;}
.sort form{height:18px; float:left; margin-left:10px; margin-top:6px; *margin-top:4px; line-height:18px; vertical-align:middle;}
.sort form input{margin-right:3px;}
.sort .noline {border:none;}

/* 右側 產品列表框 主體*/
.productlist {margin:10px; background-color:#fff;}
.productlist li {width:170px; height:276px; position:relative; float:left; margin:0 15px 15px 0; overflow:hidden;}
.productlist li:hover {background-color:#f6f6f6;}
.maincon .productlist li a.productitem span.productimg img{border:none;}

/* ------------------------------ 產品詳細頁樣式開始 ------------------------------ */

/* 側邊欄品牌小檔案樣式開始 */
.brandbasic {border:1px solid #e7e7e7;}
.brandbasic h3{height:27px; line-height:27px; font-size:12px; font-weight:bold; padding-left:12px; background:url(../images/h2_bj.png) #f1f1f1 left bottom repeat-x;}
.brandbasic span.logo{display:block; margin:10px 0 0 12px;}
.brandbasic span.logo img {border:1px solid #e7e7e7;}
.brandbasic ul.brandinfo {margin:10px 0 10px 12px; text-align:left;}
.brandbasic ul.brandinfo li {line-height:18px; line-height:18px; padding:2px 0;}
.brandbasic ul.brandinfo span {margin-left:5px;}
.brandbasic ul.brandinfo .red {color:#d4062e; font-size:12px; font-weight:bold;}
.brandbasic ul.producttoplist{padding:8px 15px;}
.brandbasic ul.producttoplist li {width:170px; height:276px; position:relative; overflow:hidden; border-bottom:1px solid #e7e7e7;}

a.viewbrandproducts{width:123px; height:28px; float:left; display:block; margin:0 0 15px 35px; _margin-left:20px; line-height:28px; border:1px solid #e7e7e7; text-indent:13px; background:url(../images/icon_pagenum_red_right.png) no-repeat 105px center;}
a.viewbrandproducts:hover{color:#fff; border:1px solid #d4062e; text-decoration:none; background:#d4062e url(../images/icon_pagenum_white.png) no-repeat 105px center;}

a.viewbutton {height:23px; float:left; display:block; line-height:23px; padding:0 12px 0 12px; border:1px solid #e7e7e7; text-decoration:none; cursor:pointer;}
a.viewbutton:hover {text-decoration:none; cursor:pointer;}
a.viewbutton span.bg {width:15px; height:23px; display:block; float:left; background:url(../images/icon_pagenum_red_right.png) right center no-repeat;}

/* 產品詳細信息框*/
.productdetail h1, .productdetail h2 {font-size:14px; font-weight:bold;  line-height:125%;}
.productdetail .imgarea {width:292px; float:left; margin-top:12px; z-index:190;position:relative;}
.productdetail .imgarea .socialbuttons {height:20px; line-height:20px; padding:10px 5px 5px 5px; overflow:hidden;position: relative;}
.productdetail .imgarea a.share {float:left; line-height:16px; outline:none; text-decoration:none;}
.productdetail .imgarea a.share span {width:18px; height:16px; display:block; float:left; background:url(../images/share_collect_bg.png) 0 0 no-repeat;}
.productdetail .imgarea a.share:hover span {background-position:0 -20px;}
.productdetail .imgarea a.collect {height:16px; display:block; float:left; line-height:16px; padding-left:18px; background:url(../images/share_collect_bg.png) -22px 0 no-repeat; outline:none; text-decoration:none;}
.productdetail .imgarea a.collect:hover {background-position:-22px -20px; outline:none;}
.productdetail .imgarea .collect_ok{display:none; position:absolute; right: 0; top: 10px;width: 15px; height: 15px;background:url(../images/icon_true_01.png) 0 0 no-repeat;}


.productdetail .infoarea .links {position:absolute; top:8px; right:8px;}
.productdetail .infoarea .links a {width:16px; height:16px; display:block; float:right; margin-left:8px;}
.productdetail .infoarea .links a.share {background:url(../images/share_collect_bg.png) 0 0 no-repeat; text-indent:-9999px;}
.productdetail .infoarea .links a.share:hover {background-position:0 -20px;}
.productdetail .infoarea .links a.collect {background:url(../images/share_collect_bg.png) -22px 0 no-repeat; text-indent:-9999px;}
.productdetail .infoarea .links a.collect:hover {background-position:-22px -20px;}

.productdetail .productdetailimg {width:290px; height:290px; position:relative; text-align:center; z-index:191; border:1px solid #e7e7e7; }
.productdetail .productdetailimg img {float:left;}

.productdetail .thumbnails {width:270px; padding-left:22px; height:58px; margin-top:6px; overflow:hidden;position:relative; }
.productdetail .thumbnails a.prev,.productdetail .thumbnails a.next {width:22px; height:58px; position:absolute;  top:0; display:block; text-indent:-9999px; outline:none; background:url(../images/product_detail_nav_bg.png) 0 0 no-repeat;}
.productdetail .thumbnails a.prev{left:0;}
.productdetail .thumbnails a.prev:hover {background-position:0 -58px;}
.productdetail .thumbnails a.next {background-position:-22px 0; right:0;}
.productdetail .thumbnails a.next:hover {background-position:-22px -58px;}
.productdetail .thumbnails .slides_container {width:248px; height:58px; position:relative; float:left; overflow:hidden;}
.productdetail .thumbnails .slides_container ul {float:left;}
.productdetail .thumbnails .slides_container li {width:58px; height:58px; float:left; padding:0 2px;}
.productdetail .thumbnails .slides_container li a {width:56px; height:56px; display:block; float:left; border:1px solid #e7e7e7; text-align:center; overflow:hidden; outline:none;}
.productdetail .thumbnails .slides_container li a:hover,.productdetail .thumbnails .slides_container li a.zoomThumbActive {border-color:#ccc;}


.productdetail ul.productinfo {margin:0 10px; _border-top:1px solid #fff;}
.productdetail ul.productinfo li {float:left; margin-right:30px; overflow:hidden;}
.productdetail ul.productinfo li p {white-space:nowrap;}
.productdetail ul.productinfo li.col1 {width:320px;}
.productdetail ul.productinfo li.col2 {width:225px;}
.productdetail ul.productinfo li.col3 {padding:0;}

.productdetail .producttabs {width:100%; position:relative;}
.productdetail .producttabs {height:31px; margin-top:10px;}
.productdetail .producttabs .fix {width:200px; height:1px; position:absolute; top:30px; right:0; background-color:#b7b7b7; z-index:-1; font-size:1px; overflow:hidden;}
.productdetail .producttabs ul{}
.productdetail .producttabs li {height:30px; float:left; padding-right:1px; border-bottom:1px solid #b7b7b7;}
.productdetail .producttabs li:hover {border:none; border-bottom:1px solid #fff;}

.productdetail .producttabs li a {display:block; float:left; padding:0 25px; border:1px solid #e7e7e7; border-bottom:none; line-height:29px; text-align:center; background-color:#f1f1f1; outline:none; text-decoration:none; outline:none;}
.productdetail .producttabs li a:hover {height:30px; border:1px solid #b7b7b7; border-bottom:none; background-color:#fff; text-decoration:none; outline:none;}

.productdetail .producttabs li.current {border:none; border-bottom:1px solid #fff;}
.productdetail .producttabs li.current a {height:30px; border:1px solid #b7b7b7; border-bottom:none; background-color:#fff;}

.productdetail .infoarea {width:460px; float:right; margin-top:5px; position:relative;}
.productdetail .infoarea .top {}
.productdetail .infoarea ul {width:430px;}
.productdetail .infoarea li {padding:3px 0; *padding:2px 0; clear:both;}
.productdetail .infoarea li.pricerow {line-height:normal;}
.productdetail .infoarea li.pricerow div.lcol {margin-top:10px;}
.productdetail .infoarea li div.lcol {width:65px; display:block; float:left;}
.productdetail .infoarea li div.rcol {width:365px; display:block; float:right; }
.productdetail .infoarea li div.rcol .nalaprice b {color:#d4062e; font-size:24px; font-weight:bold;}
.productdetail .infoarea li .mak_price{text-decoration:line-through;}
.productdetail .infoarea li span.vip {color:#ff6600;}
.productdetail .infoarea li input.text {width:60px; height:20px; line-height:20px;}
.productdetail .infoarea li.specli {padding-bottom:5px;}
.productdetail .infoarea li.specli a {height:18px; float:left; display:block; color:#333; line-height:18px; margin-right:5px; margin-bottom:2px; padding:0 10px 0 8px; border:1px solid #c8c1ba; text-decoration:none;}
.productdetail .infoarea li.specli a.current {border:1px solid #f10f5c; background:url(../images/product_specification_checked_bg.png) right bottom no-repeat; text-decoration:none;}
.productdetail .infoarea li ul {width:auto; margin:0; padding:0;}
.productdetail .infoarea li li {width:auto; margin:0; padding:0;}
.productdetail .infoarea .overlaydv {width:460px; height:292px; position:absolute; top:0; left:0; background-color:#fff; display:none; z-index:10;}

.productdetail .infoarea .vip_price_li{ position:relative; height:20px;}
.productdetail .infoarea .vip_price_li .vip_b{margin-right:8px; +margin-bottom:3px;_margin-bottom:0;}
.productdetail .infoarea .vip_price_li .svip_b{margin-right:8px; margin-left:25px;}
.productdetail .infoarea .vip_price_li .vip_price{color:#c03;}
.productdetail .infoarea .vip_price_li .svip_price{color:#c93;}


.productdetail .infoarea #vip_tip{ position:absolute; right:-20px; top:0; z-index:20;}
.productdetail .infoarea #vip_tip h4{color:#f60; text-decoration:underline; text-align:right;}
.productdetail .infoarea #vip_tip .vip_info{width:220px; overflow:hidden; border:2px solid #333;border-radius: 5px;box-shadow:1px 1px 5px #666; background:#fff; padding:6px; display:none;}
.productdetail .infoarea #vip_tip .vip_info h5{font-weight:bold; color:#c03;}
.productdetail .infoarea #vip_tip .vip_info h5.svipt{ color:#c93; padding-top:5px;}
.productdetail .infoarea #vip_tip .vip_info p{color:#666;padding-left:6px;}
.productdetail .infoarea #vip_tip .vip_info .vip_info_foot{padding-top:10px; text-align:right;}
.productdetail .infoarea #vip_tip .vip_info .vip_info_foot a{color:#c03;}

.productdetail .infoarea #promotion1{ position:absolute; right:15px; top:90px; z-index:10;}
.productdetail .infoarea #promotion1 h4{color:#f60; text-decoration:underline; text-align:right;}
.productdetail .infoarea #promotion1 .vip_info{width:220px; overflow:hidden; border:2px solid #333;border-radius: 5px;box-shadow:1px 1px 5px #666; background:#fff; padding:6px; display:none;}
.productdetail .infoarea #promotion1 .vip_info h5{font-weight:bold; color:#c03;}
.productdetail .infoarea #promotion1 .vip_info h5.svipt{ color:#c93; padding-top:5px;}
.productdetail .infoarea #promotion1 .vip_info p{color:#666;padding-left:6px;}


.productdetail .zuhe_box{margin-top:10px;background:#f1f1f1; }
.productdetail .package {padding:10px;border: 1px solid #E7E7E7;}
.productdetail .package .title {width:565px; margin-left:5px; text-align:right;}
.productdetail .package .title h3 {float:left; font-size:12px; font-weight:bold; padding-bottom:5px;}
.productdetail .package .title label {cursor:pointer;}
.productdetail .package ul {margin-left:5px;}
.productdetail .package li.productinfo {width:571px; float:left; background:url(../images/package_bg.png) top left no-repeat;}
.productdetail .package li.productinfo li {width:114px; float:left; padding:12px 7px;}
.productdetail .package li.productinfo li input {margin:0; padding:0; *margin-left:-4px;}
.productdetail .package li.productinfo li .imgdv {}
.productdetail .package li.productinfo li .imgdv a {margin:0 auto; display:block; border:1px solid #fff; height:80px; width:80px;}
.productdetail .package li.productinfo li .imgdv a:hover {border:1px solid #b7b7b7;}
.productdetail .package li.productinfo li .imgdv a.selected {border:1px solid #b7b7b7;}
.productdetail .package li.productinfo li .pricedv {padding-top:3px; text-align:left;}
.productdetail .package li.productinfo li .pricedv span.sp {padding:1px 2px;font-size:11px;}
.productdetail .package li.productinfo li .producttitle {height:30px; line-height:15px; padding-top:3px; overflow:hidden;}
.productdetail .package li.productinfo li .productname {height:30px; line-height:15px; padding-top:3px; overflow:hidden;}

.productdetail .package li.productinfo li.plus {width:15px; padding:10px 0;}
.productdetail .package li.productinfo li.plus .imgdv {width:15px; height:105px; background:url(../images/package_plus_bg.png) center center no-repeat; border:none;}
.productdetail .package li.priceinfo {float:left; width:150px; padding-left:20px; text-align:left;}
.productdetail .package li.priceinfo p {line-height:180%; padding:5px 0;}

/* add to cart button */
input.addcart_button {width:147px; height:37px; padding:0 0 2px 20px; color:#fff; font-size:14px; border:none; line-height:37px; background:url(../images/addcart_button_bg.png) left top no-repeat; cursor:pointer; outline:none;}
input.addcart_button_disabled {width:145px; height:38px; color:#fff; font-size:14px; font-weight:bold; border:none; line-height:38px; background:url(../images/addcart_button_disabled_bg.png) left top no-repeat; cursor:default; outline:none;}
input.addcart_button_smaller {width:123px; height:31px; padding-bottom:2px; color:#fff; font-size:12px; padding-left:22px; border:none; line-height:30px; background:url(../images/addcart_button_smaller_bg.png) left top no-repeat; cursor:pointer; outline:none;}
input.package_addcart_button {width:157px; height:31px; padding-bottom:2px; padding-left:20px; color:#fff; font-size:12px; border:none; line-height:30px; background:url(../images/package_addcart_button_bg.png) left top no-repeat; cursor:pointer; outline:none;}
input.quehuo_btn{width:147px; height:0; padding:37px 0 0;border:none;background:url(../images/quehuo_btn.png) left top no-repeat; cursor:pointer; outline:none;}

input.addtocart_product_button {width:105px; height:38px; padding-bottom:2px; color:#fff; font-size:14px; border:none; line-height:38px; background:url(../images/addtocart_button_bg.png) left top no-repeat; cursor:pointer; outline:none;}
input.addcollect_button {width:68px; height:34px; color:#000; font-size:14px; border:1px solid #e4e4e4; line-height:34px; background: url(../images/detail_shouc_button_bj.png) left top no-repeat; cursor:pointer; outline:none; text-indent:15px;}
span.collect_success{ background: url(../images/icon_true_01.png) no-repeat 0 0; margin:12px 50px 0 0;; text-indent:20px; display:block; float:right}
img.loading_img{ margin:12px 90px 0 0;; text-indent:20px; float:right}



.sectionbox {margin-top:10px;}
.sectionbox h4, .sectionbox h4.title {height:28px; line-height:28px; padding:0 15px; font-weight:bold; border:1px solid #e7e7e7; background-color:#f1f1f1;}
.sectionbox h4.title span{margin-left:5px; font-weight:normal;}
.sectionbox div.content {padding:10px; _padding:0; border:1px solid #e7e7e7; overflow:hidden; _background:url(../images/sectionbox_content_bg.png) left top repeat-y;}
.sectionbox div.content p {padding:0 5px; _padding:0;}
/* 以上兩個屬性有李洋在20111107日修改，修改原因：新版團購詳情頁左側寬度受圖片影響，在IE6中顯示錯亂 */

ul.productsrow {_border:1px solid #fff;}
ul.productsrow li {width:170px; height:276px; position:relative; float:left; margin:0 9px; overflow:hidden;}

/* 產品詳細信息頁面頭部結束 */



/* 成交記錄區塊樣式開始 */
#cjjl {}
#cjjl .contact {height:33px; line-height:33px; padding:5px 0 5px 20px;}
#cjjl table {margin:5px 0 10px 0;}
#cjjl table th {height:30px; line-height:30px; padding-left:15px; text-align:center; white-space:nowrap; background-color:#f1f1f1;}
#cjjl table th span {margin:0;}
#cjjl table th.col1 {width:90px; text-align:left;}
#cjjl table th.col2 {width:270px;}
#cjjl table th.col3 {width:70px; text-align:left;}
#cjjl table th.col4 {width:60px;}
#cjjl table th.col4 span {margin:0;}
#cjjl table th.col5 {width:145px; text-align:left;}
#cjjl table th.col6 {text-align:left;}
#cjjl table td {height:35px; padding:10px 0 10px 15px; border-bottom:1px solid #e7e7e7; vertical-align:middle;}

#pjxq,#syxd {margin:0 20px 0 0; padding:5px 0 5px 0;}
#pjxq ul.topul {height:60px;}
#pjxq ul.topul li {height:60px; float:left; padding:0 15px; background:url(../images/pjxq_li_bg.png) right center no-repeat;}
#pjxq ul.topul li.first {color:#d4062e; font-size:14px; padding-left:15px; text-align:center;}
#pjxq ul.topul li.first span {display:block; margin-top:5px; font-size:28px; line-height:100%;}
#pjxq ul.topul li.last {padding-right:0; background:none;}
#pjxq ul.topul li.last span {margin:2px 0; display:block;}
#pjxq ul.topul li .statubar {width:137px; height:11px; margin:0 10px 0 8px; border:1px solid #e7e7e7; font-size:1px; overflow:hidden;}
#pjxq ul.topul li .statubar .progress {height:11px; background-color:#d4062e; font-size:1px; overflow:hidden;}
#pjxq ul.topul li p {width:210px; padding-bottom:2px;}
#pjxq ul.topul li input.wypj{width:110px; height:31px; color:#fff; padding:0 0 2px 25px; line-height:31px; background:url(../images/wypj_bg.png) top left no-repeat; cursor:pointer; border:none; outline:none;}

#pjxqdv {margin-top:15px; padding-top:15px; border-top:1px solid #f1f1f1;}
.pjxq_list table {}
.pjxq_list table td.col1 {width:86px; text-align:center; vertical-align:top;}
.pjxq_list table td.col1 .icon {width:50px; height:50px; margin:0 auto; padding:2px; border:1px solid #ccc;}
.pjxq_list table td.col2 {width:16px; background:url(../images/pjxq_td_bg.png) right top no-repeat;}
.pjxq_list table td.col3 {padding:10px 20px; border:1px solid #e7e7e7; border-left:none; background-color:#f6f6f6;}
.pjxq_list table td.col3 .item {position:relative;}
.pjxq_list table td.col3 .item p {color:#333;}
.pjxq_list table td.col3 .item p em {color:#999; margin-right:8px;}
.pjxq_list table td.col3 .item p span.date {float:right;}
/* 成交記錄區塊樣式結束 */

#syxd .syxd_tit{ margin-bottom:20px;}
#syxd .syxd_tit span{margin:0 5px;}
#syxd .syxd_tit i{color:#c03;margin:0 5px;}
#syxd .syxd_tit a{color:#c03;}
.syxd_list table td.col2{background-image:url(../images/syxd_td_bg.png); width:15px;}
.syxd_list table td.col3{border-color:#cfc3a8; background-color:#fefaf1;}
.syxd_list table td.col3 .item .date{position:absolute; top:0; right:0;color:#999;}
.syxd_list table td.col3 .item p{margin-bottom:6px;}
.syxd_list table td.col3 .item p img{margin-right:10px; border:1px solid #eee; height:90px;}
/* ------------------------------ 產品列表頁及詳細頁樣式結束 ------------------------------ */

/*產品保障和售後服務*/
#bzxzitem .content h5,#shfwitem .content h5{font-size:14px;font-weight:bold;color:#d4062e;text-align:left;line-height:30px;height: 30px;margin:0 15px 10px 15px;border-bottom:1px solid #d4062e;}
#bzxzitem .content h6,#shfwitem .content h6{font-size:14px;font-weight:bold;margin:10px 0 0 15px;}
#bzxzitem .content p,#shfwitem .content p{line-height:20px;margin:5px 15px;}
#bzxzitem .content ol{margin:5px 15px;}
#bzxzitem .content ul,#shfwitem .content ul{margin-left:40px;}
#bzxzitem .content li{line-height:25px;}
#shfwitem .content li{list-style-type:decimal;list-style-position:outside;line-height:25px;}
#shfwitem .content ul.service_tip li{margin-left:15px;list-style-position: inside;list-style-type: disc;}
#shfwitem .content table td{border:1px solid #e4e4e4;}
#productdetail .infoarea .rcol .point_bj{width:55px;height:11px;background:url(../images/one_star_hui.png) repeat-x left center;position:relative;float:left;margin:3px 5px auto auto;}
#productdetail .infoarea .rcol .point_red{height:11px;background:url(../images/one_star_yellow.png) repeat-x left center;position:absolute;top:0;left:0;}

/* 導航鏈接部分樣式開始 */
.simplepagenav {text-align:center;}
.simplepagenav a {color:#333; padding:4px 8px; text-align:center; border:1px solid #e7e7e7; background-color:#fff; text-decoration:none;}
.simplepagenav a.previous {padding:4px 12px; background:url(../images/icon_pagenum_red_left.png) #fff 10px center no-repeat;}
.simplepagenav a.previous:hover {color:#fff; background:url(../images/icon_pagenum_white_left.png) #d4062e 10px center no-repeat;}
.simplepagenav a.previousdisabled {padding:4px 12px; color:#333; text-align:center; border:1px solid #e7e7e7; text-decoration:none; background:url(../images/icon_pagenum_gray_left.png) #fff center center no-repeat; cursor:default;}
.simplepagenav a.next {padding-left:12px; padding-right:24px; background:url(../images/icon_pagenum_red_right.png) #fff 60px center no-repeat;}
.simplepagenav a.next:hover{color:#fff; border:1px solid #d4062e; background-image:url(../images/icon_pagenum_white.png); background-color:#d4062e;}
.simplepagenav a.nextdisabled {padding-left:12px; padding-right:24px; background:url(../images/icon_pagenum_gray_right.png) #fff 60px center no-repeat; cursor:default;}
.simplepagenav span.info{color:#999; margin-right:15px;}

/*產品詳情頁的正品保證TAB */
#detail_service{ width:786px; height:600px; border:1px solid #e9e9e9;}
#detail_service .list{ height:85px; background:url(../images/detail_service/top_bj.png) repeat-x 0 0;}
#detail_service .list li{ float:left;}
#detail_service .list li a{ display:block; height:80px; text-indent:-9999px; overflow:hidden; outline:none;}
#detail_service .list li.current a{ border-right:1px solid #e9e9e9;}
#detail_service .list li a.list_a1{width:152px; background:url(../images/detail_service/1_bj.png)  no-repeat 0 0;}
#detail_service .list li.current a.list_a1{width:151px; background:url(../images/detail_service/1_01_bj.png)  no-repeat 0 0;}
#detail_service .list li a.list_a2{width:145px; background:url(../images/detail_service/2_bj.png)  no-repeat 0 0;}
#detail_service .list li.current a.list_a2{width:144px; background:url(../images/detail_service/2_01_bj.png)  no-repeat 0 0;}
#detail_service .list li a.list_a3{width:158px; background:url(../images/detail_service/3_bj.png)  no-repeat 0 0;}
#detail_service .list li.current a.list_a3{width:157px; background:url(../images/detail_service/3_01_bj.png)  no-repeat 0 0;}
#detail_service .list li a.list_a4{width:150px; background:url(../images/detail_service/4_bj.png)  no-repeat 0 0;}
#detail_service .list li.current a.list_a4{width:149px; background:url(../images/detail_service/4_01_bj.png)  no-repeat 0 0;}
#detail_service .list li a.list_a5{width:154px; background:url(../images/detail_service/5_bj.png)  no-repeat 0 0;}
#detail_service .list li.current a.list_a5{width:153px; background:url(../images/detail_service/5_01_bj.png)  no-repeat 0 0;}
#service_inf{ width:710px; margin:0 auto;}
#service_inf p{ color:#666; font-size:14px; border-bottom:1px solid #e9e9e9; line-height:25px; margin-top:15px; padding-bottom:5px;} 
#service_inf p span{ font-weight:bold; color:#d4062e; font-size:18px;}
#service_inf .service_pic{ display:none;}
