@charset "utf-8";
.clear_f { clear:both; overflow:hidden; zoom:1; }
.grey { color:#999999; }
.darkgray { color:#666666; }
.breadcrumb { line-height:35px; }
.breadcrumb li { float:left; }
.breadcrumb li a { margin:0 3px; }
.product_detail { border-top:solid 1px #E9E9E9; padding:20px 6px 10px 15px; }
.product_detail .left_part { float:left; width:770px; }
.product_detail .right_part { float:right; width:190px; border:solid 1px #E6E6E6; }
.product_detail .left_part .product_info { float:right; width:462px; }
.product_detail .left_part .product_info .xszk_ico{ }
.product_detail .left_part .product_title { margin-bottom:14px; }
.product_detail .left_part .product_info li { line-height:26px; }
.product_detail .left_part .product_info .price_info .nalaprice del{color:#999999;}
.product_detail .left_part .img_part { float:left; }
.product_detail .left_part .img_part .product_img { height: 236px; position: relative; text-align: center; width: 236px; z-index: 191; margin-bottom:16px; }
.product_detail .left_part .img_part .corner_mark{display:block; width:64px; height:64px; position:absolute; background:url(../images/corner_mark.png) no-repeat; z-index:1110; left:0px; cursor: pointer;}
.product_detail .left_part .labl { display:inline-block; width:60px; }
.product_detail .left_part .limit_discount { display:inline-block; width:67px; height:16px; background-position:left -26px; margin-right:6px; vertical-align:middle; }
.product_detail .left_part .price { font-size:14px; font-weight:bold; vertical-align:middle; }
.product_detail .left_part .price_val { font-size:20px; margin:0 8px; }
.remain_time { float:right; vertical-align:middle; }
.background { background:url(../images/detial_bg.gif) no-repeat; }
.product_detail .left_part .product_info .vip_price{ font-weight:bold; margin-right:30px; }
.product_detail .left_part .product_info .vip_price em{ font-size:18px; }
.product_detail .left_part .product_info .member .vip_price{ color:#CC0033; }
.product_detail .left_part .product_info .vip_ico { display:inline-block; height:11px; width:23px; overflow:hidden; vertical-align:middle; margin-right:6px; }
.product_detail .left_part .product_info ._vip { background-position:0 0; }
.product_detail .left_part .product_info ._svip { background-position:0 -13px; }
.product_detail .left_part .product_info .member ._vip { background-position:-25px 0; }
.product_detail .left_part .product_info .member ._svip { background-position:-25px -13px; }
.product_detail .left_part .product_info .vvip { background-position:0 0; }
.product_detail .left_part .product_info .vsvip { background-position:0 -13px; }
.product_detail .left_part .product_info .member .vvip { background-position:-25px 0; }
.product_detail .left_part .product_info .member .vsvip { background-position:-25px -13px; }
.margin_l_30 { margin-left:30px; }
.product_detail .left_part .product_info .vip_tip { float:right; position:relative; }
.product_detail .left_part .product_info .vip_tip h4 { text-align: right; text-decoration: underline; }
.product_detail .left_part .product_info .vip_tip .vip_info { position:absolute; background-color: #FFFFFF; border: 2px solid #333333; border-radius: 5px 5px 5px 5px; box-shadow: 1px 1px 5px #666666; overflow: hidden; padding:
 6px; width: 220px; }
.product_detail .left_part .product_info .vip_tip .vip_info h5 { color:#CC0033; }
.product_detail .left_part .product_info .vip_tip .vip_info_foot { padding-top: 10px; text-align: right; }
.ie6_valign { display:inline-block; height:26px; }
.product_detail .product_info .bye_property { border-top: dashed 1px #DFDFDF; margin-top:6px; padding-top:10px; }

.product_detail .product_info .bye_property .specification_queue { width:390px; float:left; margin-left: 3px; +margin-left:0px; }
.product_detail .product_info .bye_property .specification { background:url(../images/corner_mark.gif) no-repeat; display:inline-block; height:18px; line-height:18px; padding:0 16px 0 3px; margin-right:2px; }
.product_detail .product_info .bye_property .invalid { border:solid 1px #CDCDCD; background-position:right -16px; }
.product_detail .product_info .bye_property .normal { border:solid 1px #F21660; background-position:right 6px; }
.product_detail .product_info .bye_property .bye_count { width:70px; height:18px; line-height:18px; border:solid 1px #E6E6E6; vertical-align:middle; }
.product_detail .product_info .bye_property .remark_ico { display:inline-block; height:14px; width:10px; background-position:-6px -48px; vertical-align:middle; margin-right:3px; }
.product_detail .product_info .bye_property .rcol { width:398px; float:right; position:relative; }
input.addcart_button { background:
 url("../images//addcart_button_bg.png") no-repeat scroll left top transparent; border: none; color: #FFFFFF; cursor: pointer; font-size: 14px; height: 37px; line-height: 37px; outline: none; padding:
 0 0 2px 20px; width: 147px; }
input.addcollect_button { background: url("../images/detail_shouc_button_bj.png") no-repeat scroll left top transparent; border: 1px solid #E4E4E4; color:
 #000000; cursor: pointer; font-size: 14px; height: 37px; line-height: 37px; outline: none; text-indent: 15px; width: 68px; }
input.addtocart_product_button { background: url("../images/addtocart_button_bg.png") no-repeat scroll left top transparent; border: none; color: #FFFFFF; cursor:
 pointer; font-size: 14px; height: 38px; line-height: 38px; outline: none; padding-bottom: 2px; width: 105px; }
.product_detail .product_info .bye_property .select_type{ position:absolute; width:460px; border:solid 1px #BE0902; top:-1px; background-color:#FFF; z-index:9; }
.product_detail .product_info .bye_property .select_type .st_header{ height:27px; line-height:27px; background-color:#FFF7F8; border-bottom:solid 1px #EEEAE9; padding:0 10px; }
.product_detail .product_info .bye_property .select_type .st_header .close_btn{ float:right; cursor:pointer; color:#BD0C02; font-weight:700; }
.product_detail .product_info .bye_property .select_type .property{ padding:10px; }
.product_detail .product_info .bye_property .select_type .property .specification_queue{ width:380px; }
.product_detail .product_info .bye_property .select_type .property .labl{ width:50px; }
.product_detail .product_info .bye_property .select_type .property .btn_container{ height:30px; padding-top:6px; }
.product_detail .product_info .bye_property .select_type .property .btn_container .confirm_btn{ display:block; width:62px; height:26px; margin-left:52px; text-align:center; background-color:#B52429; border:solid 1px #F2F6F7; color:#FFF; cursor:pointer; display:none; }
.product_detail .product_info .bye_property .select_type .property .btn_container .confirm_btn:hover{ color:#FFF; text-decoration:none; }
.popupbox { position:static; }
.popupbox_addcart { top: -175px; }
.product_detail .product_info .bye_property .rcol .remark_queue { margin-top:26px; }
.product_detail .product_info .bye_property .rcol .remark_queue li { background:url("../images/corner_mark.gif") 0px -35px no-repeat; padding-left:16px; line-height:20px; height:20px; }
.popupbox_addcart .popupbox_t { background-color:#FFF; clear:both; overflow:hidden; position: static; border:none; }
.popupbox_addcart .popupbox_con { padding-top:6px; background-position:25px 6px; }
.popupbox_addcart .addcart_recommend { padding:0px 10px 6px; border-top:dashed 1px #999999; height:172px; }
.popupbox_addcart .addcart_recommend li { float:left; width:90px; margin:0 5px; text-align:center; }
.popupbox_addcart .addcart_recommend li img { border:solid 1px #E9E9E9; margin-bottom:2px; }
.popupbox_addcart .addcart_recommend .product_property { line-height:16px; }
.popupbox_addcart .addcart_recommend .product_property dt { text-align:left; overflow:hidden; }
.product_detail .left_part .thumbnails { height: 58px; margin-top: 6px; overflow: hidden; padding-left: 22px; position: relative; width: 270px; }
.product_detail .left_part .thumbnails .slides_container { float: left; height: 58px; overflow: hidden; position: relative; width: 248px; }
.product_detail .left_part .thumbnails .slides_container ul { float: left; }
.product_detail .left_part .thumbnails .slides_container li { float: left; height: 58px; padding: 0 2px; width: 58px; }
.product_detail .left_part .thumbnails .slides_container li a:hover, .product_detail .left_part .thumbnails .slides_container li a.zoomThumbActive { border-color: #CCCCCC; }
.product_detail .left_part .thumbnails .slides_container li a { border: 1px solid #E7E7E7; display:
 block; float: left; height: 56px; outline: medium none; overflow: hidden; text-align: center; width: 56px; }
.product_detail .left_part .thumbnails a.prev, .product_detail .left_part .thumbnails a.next { background: url("../images/product_detail_nav_bg.png") no-repeat scroll 0 0 transparent; display: block; height: 58px; outline:
 medium none; position: absolute; text-indent: -9999px; top: 0; width: 22px; }
.product_detail .left_part .thumbnails a.prev { left: 0; }
.product_detail .left_part .thumbnails a.prev:hover { background-position: 0 -58px; }
.product_detail .left_part .thumbnails a.next { background-position: -22px 0; right: 0; }
.product_detail .left_part .thumbnails a.next:hover { background-position:
 -22px -58px; }
.product_detail .left_part .grade { padding: 26px 0 0 10px; }
.product_detail .left_part .grade span.lbl { display:inline-block; width:51px; text-align:right; }
.product_detail .left_part .grade .point_bj { background:
 url("../images/images/one_star_hui.png") repeat-x scroll left center transparent; float: left; height: 11px; margin: 3px 5px auto auto; position: relative; width: 55px; }
.product_detail .left_part .grade .point_red { background: url("../images/one_star_yellow.png") repeat-x scroll left center transparent; height: 11px; left: 0; position:
 absolute; top: 0; }
.product_detail .left_part .socialbuttons { height:
 20px; line-height: 20px; overflow: hidden; padding: 8px 5px 5px 18px; }
.product_detail .left_part .socialbuttons span.bds_more{padding-top:4px; }
.product_detail .left_part .socialbuttons a.share { float: left; display:block; text-align:right; line-height: 16px; width:56px; outline: none; text-decoration: none; }
.product_detail .right_part .brand { padding:10px; border-bottom:solid 1px #E7E7E7; }
.product_detail .right_part .brand .brand_ico { max-width:170px; }
.product_detail .right_part .brand .band_property { border-top:solid 1px #E6E6E6; width:156px; margin:0 auto; padding-top:10px; line-height:20px; }
.product_detail .right_part .hot_sale { padding:10px; }
.product_detail .right_part .hot_sale li { height:24px; line-height:24px; width:170px; overflow:hidden; }
.product_detail .right_part .hot_sale li a { background:url("../images/corner_mark.gif") -2px -58px no-repeat; padding-left:12px; }
.product_detail .right_part .hot_sale li a:hover { background-position:-2px -83px; }
.product_detail .right_part .hot_sale_title { padding:10px 0; }
a.viewbrandproducts { background: url("../images/icon_pagenum_red_right.png") no-repeat 105px center; border: 1px solid #E7E7E7; display: block; height:
 28px; line-height: 28px; margin: 20px auto; text-indent: 13px; width: 123px; float: none; }
a.viewbrandproducts:hover { background: url("../images/icon_pagenum_white.png") no-repeat scroll 105px center #D4062E; border: 1px solid #D4062E; color:
 #FFFFFF; text-decoration: none; }
.package{ border:solid 1px #E7E7E7; }
.package .tabs_header{ background: url("../images/tabs_bg.jpg") repeat-x 0 0; width:100%; height:32px; border-bottom:1px solid #E6E6E6; }
.package .tabs_header li{ float:left; width:110px; text-align:center; height:32px; line-height:34px; position:relative; color:#6A6A6A; cursor:pointer; }
.package .tabs_header li.current{ color:#D73B6A; }
.package .package_container .panel{ position:relative; }
.package .tabs_header li .corner{ height:0; width:0; border:dashed 6px transparent; border-bottom:solid 6px #E6E6E6; position:absolute; left:46px; bottom:-1px; zoom:1; display:none; }
.package .tabs_header li .corner_in{ height:0; width:0; overflow:hidden; border:dashed 6px transparent; border-bottom:solid 6px #FFF; position:absolute; left:-6px; top:-5px; zoom:1; }
.package .tabs_header li.current .corner{ display:block; }
.cosmetics_bags { background:url(http://img.nala.com.cn/b2c/images/cosmetics_bags_bg.jpg) 0 bottom repeat-x; }
.cosmetics_bags .explain { border-right:solid 1px #E7E7E7; width:216px; position:relative; height:138px; padding:16px 20px; float:left; }
.cosmetics_bags .horn { background-position: -52px -45px; display: block; height: 21px; overflow: hidden; position: absolute; width: 11px; right:-11px; top:50%; margin-top:-16px; }
.cosmetics_bags .explain .explain_con { height:108px; overflow:hidden; padding-top:6px; line-height:22px; }
.cosmetics_bags .packageproducts { padding: 16px 22px; width: 544px; border-right: 1px solid #E6E6E6; position:relative; }
.cosmetics_bags .packageproducts .remark{ margin-bottom:12px; color:#666; }
.cosmetics_bags .packageproducts li { float:left; width:102px; text-align:center; }
.cosmetics_bags .packageproducts li .imgdv { display:block; width:100px; height:100px; border:solid 1px #E6E6E6; }
.cosmetics_bags .packageproducts li .imgdv:hover { border-color:#CCC; }
.cosmetics_bags .packageproducts li.plus { background: url("../images/package_plus_bg.gif") no-repeat center 2px; height: 19px; margin-top: 56px; width: 38px; }
.cosmetics_bags .packageproducts li.first_plus { background-position: center -19px; width:60px; }
.cosmetics_bags .packageproducts li .producttitle { max-height:50px; overflow:hidden; line-height:16px; margin-top:3px; }
.cosmetics_bags .packageproducts li .pricedv{ padding-top:2px; }
.cosmetics_bags .price_info { position:absolute; width:170px; line-height:26px; right:-196px; top:50%; margin-top:-46px; }
.cosmetics_bags .price_info .count { font-weight:700; margin-right:8px; }
.cosmetics_bags .price_info .price { font-size:14px; font-weight:700; }
.cosmetics_bags .price_info input.package_addcart_button { margin-top:8px; }
.product_info { width:1007px; margin-top:16px; }
.product_info .product_tabs { float:left; width:790px; overflow: hidden; }

.product_info .product_tabs .tabs_bar_wrap { position:relative; height: 43px; width: 790px; z-index:999; }
.product_info .product_tabs .tabs_bar { position:absolute; z-index:999; height: 40px; border-style: solid; border-color: #CDCDCD #CDCDCD #D7062E; border-width: 1px 1px 2px; }
.product_info .product_tabs .tabs_bar ul { width:788px; background:url(../images/tabs_bg.jpg) repeat-x; clear: both; zoom:1; height: 40px; }
.product_info .product_tabs .tabs_bar li { float:left; border-style:solid; border-width:0 1px; border-color:#FFF #E6E6E6 #FFF #FFF; width:98px; height:40px; line-height:40px; text-align:center; background:url(../images/tabs_bg.jpg) repeat-x; }
.product_info .product_tabs .tabs_bar li a { text-decoration:none; }
.product_info .product_tabs .tabs_bar li.hover { background-position:0 -42px; }
.product_info .product_tabs .tabs_bar li.current_select { background-position:0 -82px; }
.product_info .product_tabs .tabs_bar li.price_buy { text-align:right; width:110px; padding-right:76px; height:40px; line-height:40px; color:#CD1129; border:none; float: right; position: relative; }
.product_info .product_tabs .tabs_bar li.price_buy .price { font-size:18px; font-weight:bold; }
.product_info .product_tabs .tabs_bar li.price_buy a.buy_btn { display:block; position:absolute; height:42px; line-height:45px; width:69px; padding-left:9px; color:#FFF; font-size:14px; background:url(../images/buy_btn.jpg) left -45px no-repeat; top: -1px; right:-1px; text-align: center; text-decoration: none; }
.product_info .product_tabs .tabs_bar li.price_buy a.buy_btn:hover { background-position: 0 0; text-decoration: none; zoom:1; }
.product_info .product_tabs .tabs_bar li.price_buy .tuangou_btn { display:inline-block; height:26px; line-height:26px; width:62px; color:#FFF; border:outset 2px #C90529; text-align:center; background-color:#CF052B; margin-top:-5px; _margin-top:-3px; }
.product_info .right_planes { float:right; width:206px; zoom:1; }
.product_info .right_planes .plane { border:solid 1px #E6E6E6; margin-bottom:10px; zoom:1; }
.product_info .right_planes .header { height:30px; line-height:30px; width:186px; overflow:hidden; padding:0 10px; border-bottom:solid 1px #E6E6E6; background:url(../images/tabs_bg.jpg) repeat-x; }
.product_info .right_planes .bb_recommend .recommend_title { }
.product_info .right_planes .product_list { width:172px; margin:2px auto 0; border-bottom:solid 1px #E7E7E7; }
.product_info .right_planes .product_list li { position:relative; }
.product_info .right_planes .plane .plane_con { padding:10px; }
.product_info .right_planes .plane .sell_hot li { padding:10px 0 10px 16px; position:relative; border-bottom:solid 1px #E7E7E7; }
.product_info .right_planes .plane .product_img { display:block; height:55px; width:55px; border:solid 1px #ECECEC; }
.product_info .right_planes .plane .product_property { float:right; width:104px; }
.product_info .right_planes .plane .sell_hot .number { position:absolute; display:block; height:18px; width:18px; left:-6px; top:3px; text-align:right; font-size:18px; font-weight:bold; color:#D5022B; }
.product_info .right_planes .box_background { background:url("../images/index_bg.png") no-repeat; }
.product_info .right_planes .box_r { border: 1px solid #E4E4E4; position: relative; }
.product_info .right_planes .box_r h3 { height:27px; text-indent:-100px; overflow:hidden; background-position: -8px -28px; position:relative; }
.product_info .right_planes .box_r h3 .timer { position:absolute; display:block; right:0; top:0; height:27px; width:110px; background-position:-112px -28px; }
.product_info .right_planes .box_r .box_r_pic { overflow: hidden; padding:
 5px; width: 194px; }
.product_info .right_planes .box_r .hour { color:
 #D31728; font-size: 14px; font-weight: bold; height: 16px; left: 118px; position: absolute; text-align: center; top: 2px; width: 16px; }
.product_info .right_planes .box_r .minite { color: #D31728; font-size: 14px; font-weight:
 bold; height: 16px; left: 146px; position: absolute; text-align: center; top: 2px; width: 16px; }
.product_info .right_planes .box_r .second { color:
 #D31728; font-size: 14px; font-weight: bold; height: 16px; left: 174px; position: absolute; text-align: center; top: 2px; width: 16px; }
.product_info .right_planes .box_tuan { background-position: 0 -799px; border-top: medium none; overflow: hidden; padding: 40px 5px 5px 20px; width: 179px; position:relative; margin-bottom:10px; }
.product_info .right_planes .box_tuan .tuan_header { position:absolute; display:block; right:-1px; top:0; background-position:-110px -799px; width:126px; height:27px; }