.aui_loading { width:200px; height:40px;  margin:auto; text-indent:-999em; overflow:hidden; background:url(../images/icons/loading.gif) no-repeat center center; }


/* skin start */
.aui_header, .aui_footer button { font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; }
.aui_inner { background:#FFF;font-size:12px; text-align:left; }
.aui_main { min-width:9em; }
.aui_nw, .aui_ne, .aui_sw, .aui_se { width:10px; height:10px; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_e, .aui_sw, .aui_s, .aui_se { background:#ccc;filter:Alpha(opacity=80);opacity:0.8; }
.aui_titleBar { position:relative; height:100%; }
.aui_title { height:20px; line-height:20px; font-size:14px; padding:6px 28px 0 10px; background-color:#fff; font-weight:800; color:#000;}
.aui_close {top:8px; right:8px; position:absolute;text-indent: -9999px; background: url(../images/closebutton_bg1.png) 0 0 no-repeat; width:15px; height:15px; overflow:hidden; }
.aui_icon { vertical-align: middle; }
.aui_icon div { width:48px; height:48px; margin:10px 0 10px 10px; background-position: center center; background-repeat:no-repeat; }
.aui_content { color:#666; }
.aui_focus .aui_content { color:#000; }
.aui_buttons { background-color:#F6F6F6; border-top:1px solid #EBEBEB; border-bottom:1px solid #CCC;}
/* skin end */

.dialog_login_box{width:630px;}
.dialog_tab{border-bottom:1px solid #b7b7b7; }
.dialog_tab li {height:30px; float:left; padding-right:1px;position:relative; top:1px;}
.dialog_tab li a {display:block; float:left; padding:0 25px; border:1px solid #e7e7e7; border-bottom:none; line-height:29px; text-align:center; background-color:#f1f1f1; outline:none; text-decoration:none; outline:none;}
.dialog_tab li.current {border:none; border-bottom:1px solid #fff;}
.dialog_tab li.current a {height:30px; border:1px solid #b7b7b7; border-bottom:none; background-color:#fff;}

.Login_con{margin-top: 15px; padding-bottom:20px; border-bottom:1px solid #e7e7e7;}
.Login_con ul{ padding-left:50px; padding-top:10px;}
.Login_con li{margin-bottom: 10px; text-align:left;}
.Login_con .Login_text{background: url(../images/input_global_bg.png);background-repeat: no-repeat;background-position:0 0;font-size: 16px;padding-left: 6px;font-weight: bold;height: 28px;width: 188px;border: 1px solid #adadad;padding-top: 4px;margin-left: 15px;}
.Login_con em{color: #333333;margin-left: 16px;margin-top: 3px;}
.Login_con #Login_submit{height: 39px;width: 168px;background: url(../images/login_button_bj.png);background-repeat: repeat-x;background-position: left center;font-weight: bold;color: #FFFFFF;font-size: 16px;margin-left: 63px;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;cursor: pointer;}
.Login_con .Login_check {margin-left: 63px;}
.a_reg_tip{float:right; position:relative;top:-35px; right:0px;}

.Other_login_on h4{margin-top: 11px;margin-bottom: 10px;}
.Other_login_on ul{ padding-left: 36px; padding-top:5px;}
.Other_login_on li{ border-left:1px solid #ddd; padding-left:30px; float:left; height:25px;}
.Other_login_on li.li_fl{padding-right:30px;padding-left:16px; border-left:none;}

.Reg_Area {margin-top:15px; color:#999; padding-bottom:20px; border-bottom:1px solid #e7e7e7; display:none;}
.Reg_Area li {height:30px; padding:10px;}
.Reg_Area li.current {background-color:#f6f6f6; }
.Reg_Area li div {float:left;}
.Reg_Area li div.col1 {color:#111; width:65px; padding-top:8px;}
.Reg_Area li div.col2 {text-align:left; position:relative;}
.Reg_Area li div.col2 input {float:left; margin-right:10px;}
.Reg_Area li div.col2 input.error {border:1px solid #ff6600;}

.Reg_Area li div.col2 label {display:none; position:absolute; left:223px; top:0; width:270px; height:28px; color:#333; border:1px solid #ff8080; padding:0 5px 0 28px; line-height:28px; background:url(../images/error_bg.png) #fff2f2 6px 6px no-repeat; z-index:100;}
.Reg_Area li div.col2 span.info {display:none; position:absolute; left:223px; top:0; width:270px; height:28px; color:#333; padding:0 5px 0 28px; line-height:28px; border:1px solid #42b3ff; background:url(../images/message_bg.png) #e5f5ff 6px 6px no-repeat; z-index:98;}

.Reg_Area li div.col2 span.errorinfo {color:#ff6600; display:none;}
.Reg_Area li div.col2 span.successinfo {display:none; position:absolute; left:223px; top:0; width:270px; height:28px; color:#333; padding:0 5px 0 28px; line-height:28px; text-indent:-1000px; background:url(../images/success_bg.png) 6px 6px no-repeat; z-index:99;}


.Reg_Area li input.text {width:202px; height:30px; line-height:30px; font-size:14px; padding-left:6px; border:1px solid #adadad; background:url(../images/input_global_bg.png) left top no-repeat;}
.Reg_Area li input.submit {width:197px; height:37px; color:#fff; font-size:14px; padding-bottom:2px; border:none; background:url(../images/register_button_bg.png) left center no-repeat; cursor:pointer;}
.Reg_Area .agreement { margin-top:14px;height:100px; padding:5px 10px; overflow-y:auto; border:1px solid #e6e6e6;}

/* 在線咨詢彈窗樣式 */
.dialog_say{font-size: 12px; width:590px;}
.dialog_say_box{width: 360px; float: left; border-right: 1px dashed #ccc; padding-right: 16px;}
.dialog_say_box h1{background:url(../images/hi_nala_say.png) no-repeat 0 0; padding-left: 116px;font-size: 12px; height: 30px; line-height:30px; overflow: hidden;}
.dialog_say_box h1 a{float: right;color: #c03;}
.dialog_say_box .say_text{width: 100%; color: #888;}
.dialog_say_box .say_text textarea{width: 348px; height: 130px; padding: 5px; border:1px solid #ccc;color: #888;}
.dialog_say_box .say_email{ margin-top:10px;}
.dialog_say_box .say_email input{color: #888;border:1px solid #ccc; padding: 3px;width: 352px;}
.dialog_say_box .say_btn{margin-top:10px; text-align: right;}
.dialog_say_box .say_btn input{font-size: 14px; color: #fff; font-weight:bold; background: url(../images/login_button_bj.png) repeat-x 0 -3px; width: 108px; text-align: center; border:none; height: 36px; line-height: 20px; cursor: pointer;}
.dialog_say_other{float:left; width:210px; padding-left: 8px; margin-right: -20px; color: #666;}
.dialog_say_other p{margin-bottom:8px;background: url(../images/li_disc_bg.png) no-repeat 0 5px; padding-left: 10px; padding-bottom:4px; border-bottom: 1px solid #efefef;}
.dialog_say_other p b{color: #333;}

/*訂單跟蹤 表格框*/
.trade_track_tit{color:#000;}
.trade_track_tit span{ padding-left:40px;}
table.trade_track{width:600px; margin-top:10px;}
table.trade_track th,table.trade_track td{padding:17px 0 5px 30px; border:1px solid #cacaca;}
table.trade_track th{background:#e9e9e9;}
table.trade_track td{background:#fbfbfb;}
