/* 全局樣式*/
body { background:#fff;font: 12px/1.5 arial,tahoma; color:#333; text-align:left; }
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, form, input, textarea, 
button, fieldset, legend, ul, ol, li, dl, dt, dd, th, td, img,em,i {margin:0; padding:0;font-size:12px;}
img, fieldset{ border:none;}
button, input, img {vertical-align:middle;}
button {cursor:pointer;}
table {border-collapse:collapse; border-spacing:0;}
ul,ol,li{ list-style-type:none;}
address, cite, dfn, em, var, i {font-style:normal;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
h1 {font-size:16px;}
h2 {font-size:14px;}
h3 {font-size:14px;}
a{color:#000; text-decoration:none;}
a:hover{color:#c03; text-decoration:underline;}
a:focus{outline:none;} 

.fl {float:left;}
.fr {float:right;}
.clear {clear:both; height:0; font-size:0; line-height:0; overflow:hidden;}
.cle_float:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.cle_float{zoom:1}

.noline {border:none;}
.mgin_t10 {margin-top:10px;}
.red {color:#c03;}
.yellow {color:#f60;}
.green {color:#267901;}
.nalaprice {color:#c03; font-weight:bold;}
.nalaprice b {font-size:18px;}
.white {color:#fff;}
.bold {font-weight:bold;}
.logo .story,.logo .collect,input.text,.vip_b,span.vip,.header_top .specialinfo,.hotline .tel,.hotline .kefu h4,.mynala a.mynala_link,a.cart_rukou,a.cart_rukou span,.cart_bottom .fl a.fav,.pay_submit,.header_bottom .nav h2 a,.header_bottom .nav li a,.header_bottom .subnav,.subnav div.item1 a,.subnav div.item2 a,.popupnav a.allbrand,.propitem .category a,#header .search input.text,a.addcart,input.g_submit{background:url(../images/global_bg.png) -999px 0 no-repeat;}
input.text {border:1px solid #a7a6ab;padding-left:3px; background-position: 0 -284px; background-repeat: repeat-x;}
input.g_submit {border:none;width:84px; height:38px; line-height:33px; cursor:pointer; text-align:center; background-position: -27px -168px; color:#fff;}

input.loadingbutton {width:100px; height:25px; position:relative; font-size:14px; border:none; background:url(../images/loading_nala.gif) left top no-repeat; cursor:pointer; outline:none; text-indent:1000px;}
input.confirmbutton {width:64px; height:40px; line-height:40px; position:relative; padding-bottom:4px; color:#fff; font-size:14px; border:none; background:url(../images/confirm_button_bg.png) left top no-repeat; cursor:pointer; outline:none;}
input.signin {width:170px; height:37px; position:relative; padding-bottom:2px; color:#fff; font-size:14px; border:none; background:url(../images/signin_button_bg.png) left top no-repeat; cursor:pointer; outline:none;}

.vip_b{display:inline-block;width:23px; height:11px; overflow:hidden; background-position: 0 -103px; position:relative; top:2px; }
.svip_b{background-position:0 -119px;}
/* -------------------------------------------------------------------------------- */
#wrapper {width:1007px;  margin:0 auto;}
#header {width:1007px; margin:0 auto; }


/* 頭部樣式開始 */
#header .header_top {height:59px; padding:7px 0 12px 0;position:relative; z-index:200;}
.header_top .logo {width:193px; padding:6px 32px 0 0;float:left; position:relative; margin:1px 0 0 10px;}
.header_top .logo .story {display:block;width:16px; height:14px; overflow:hidden; position:absolute; top:23px; 
left:148px;background-position:0 -56px;}
.header_top .logo .collect {display:block;width:12px; height:12px;overflow:hidden; position:absolute; top:24px; 
left:170px;background-position:-23px -56px;}
.header_top .specialinfo {width:299px; float:left;display:block;height:40px; margin-top:10px; overflow:hidden;background-position:10px 0; padding-right:30px;}

.header_top .hotline {position:relative;z-index:99; height:50px; width:203px; float:left; padding:7px 0px 0 10px; border:1px solid #f2f2f2; background:#fbfbfb; }
.header_top .hotline .tel{background-position:-285px -55px; padding-left:17px;}
.header_top .hotline .tel em{font-size:16px;font-weight:bold; line-height:12px; overflow:hidden; height:16px;}
.header_top .hotline .bd{padding:6px 0 0 32px;}
.header_top .hotline .kefu{position: absolute;z-index:100;padding-top:10px; padding-bottom:6px; width: 88px;top:23px; right: 20px;cursor: pointer; text-align: center; }
.header_top .hotline .kefu h4{font-size: 12px; color: #000;padding-right:18px; height:14px;line-height:14px;  border-right:1px solid #fbfbfb;border-left:1px solid #ccc;background-position:-86px -89px;}
.header_top .hotline .kefu .kefu_box{height:0;overflow:hidden;display:none;width:76px;  border:1px solid #ccc; border-top:none;border-bottom:4px solid #111; background: #FBFBFB; padding:8px 5px 0;}
.header_top .hotline .kefu .kefu_box p{border-top: 1px dashed #ddd; padding: 5px 0; text-align: center;line-height: 18px;}
.header_top .hotline .kefu .kefu_box p em{color:#c03;}

.header_top .links {float:right; width:216px;}
.header_top .links li {padding-top:4px;}
.header_top .links li.item1{text-align:right; padding-right:8px; }
.header_top .links li.item1 .welcome {width:170px; float:left; white-space:nowrap; text-align:right;position:relative;}
.header_top .links li.item1 .welcome div{ display:inline; }
.header_top .links li.item1 .welcome span.vip{position:absolute; top:0px; right:-12px; display:block;width:13px; height:8px;background-position:0 -80px; overflow:hidden;  }
.header_top .links li.item1 .welcome span.svip{background-position:0 -88px;height:9px; width:16px;}
.header_top .links li.item1 .welcome span.vip a{display:block;width:100%; height:100%;}
.header_top .links li.item1 .logout {float:left; width:38px; white-space:nowrap; overflow:hidden; text-align:right;}

.header_top .links li.item2 {width:83px; height:24px; float:left; position:relative; margin-left:30px;_margin-left:5px; }

.header_top .links li.item2 .mynala {display:block; width:83px; height:22px;}
.header_top .links li.item2 .mynala a.mynala_link {display:block; width:73px; height:20px; line-height:20px; padding-left:8px; border:2px solid #fff; border-bottom:none; background-position:-205px -42px;}
.header_top .links li.item2 .mynala a.mynala_link_on  {border-color:#c03; background-position:-205px -62px;}
.header_top .links li.item2 .mynala span {margin:0 8px;}

.header_top .links li.item2 .mynala_popup {display:none; width:81px; border:2px solid #c03; border-top:none; background-color:#fff; z-index:88; position: absolute;}
.header_top .links li.item2 .mynala_popup a {padding-left:8px;}

.header_top .links li.item3 {float:left; padding-left: 4px; position: relative;z-index:200;}
.header_top .links li.item3 a.cart_rukou {display:block;position: relative;z-index:201;border:2px solid #fff;border-bottom:none; width:70px; height:22px; line-height:22px; padding-left:22px; background-color:#fff; background-position:-48px -77px;margin-bottom:-2px;}
.header_top .links li.item3 a.cart_rukou:hover{text-decoration:none;}
.header_top .links li.item3 a.cart_rukou span {color:#d4062e;padding-right: 12px; display: inline-block;background-position:-254px -41px;}
.header_top .links li.item3 a.cart_rukou_on{border:2px solid #c03; border-bottom:none;}
.header_top .links li.item3 a.cart_rukou_on span{background-position:-254px -61px;}
.header_top .links li.item3 .mycart_popup{position:absolute;z-index:200;right:0px;width:320px; min-height:60px; _height:60px; border: 2px solid #c03; background:#fff url(../images/imgloading.gif) no-repeat center center;padding: 2px 4px;display: none;}
.mycart_popup .mycart_box{background:#fff;}
.mycart_popup .mycart_box .list{width: 100%;}
.mycart_popup .mycart_box .list td{height: 56px;overflow:hidden; padding:3px 0;border-bottom: 1px dashed #ddd;}
.mycart_popup .mycart_box .list td.pic{width:58px;}
.mycart_popup .mycart_box .list td.pic img{width: 56px; height: 56px; border: 1px solid #ddd;}
.mycart_popup .mycart_box .list td.title{width:160px;padding: 3px;}
.mycart_popup .mycart_box .list td.other{text-align: right;color: #c03; padding-right: 3px;}
.mycart_popup .mycart_box .list td.other a{color: #999; text-decoration: underline;}
.mycart_popup .mycart_box .list td.other a:hover{color: #666;}
.mycart_popup .mycart_box .tip{border: 1px solid #ddd;background:#ffffcd; line-height:1.23; padding: 4px 8px; margin-top:-1px;}
.mycart_popup .mycart_box .tip a{color: #c03;}
.mycart_popup .mycart_box .tip .fr a{text-decoration: underline;}
.mycart_popup .mycart_box .cart_bottom{border-top:1px dashed #ddd; padding:5px 10px 0px; margin-top: 5px;}
.mycart_popup .mycart_box .cart_bottom .fl a.fav{background-position:-180px -113px;padding-left: 15px; height: 16px; display:inline-block;}
.mycart_popup .mycart_box .cart_bottom .fr {text-align: right;}
.mycart_popup .mycart_box .cart_bottom .fr em{color:#f00; margin: 0 2px;}
.mycart_popup .mycart_box .cart_bottom .fr p{margin-bottom: 6px;}
.mycart_popup .mycart_box .cart_bottom .fr p a{color: #c03;}
.mycart_popup .mycart_box .cart_bottom .fr .pay_submit{border: none; width:94px; padding-left:26px; height:30px; cursor:pointer; padding-bottom:4px;color: #fff; font-size: 14px;background-position: 0 -175px;}

.header_bottom .nav {height:35px; position:relative; padding-bottom:1px; background:#1d1d1d;}
.header_bottom .nav li {float:left; line-height:35px;}
.header_bottom .nav li a {display:block; float:left; color:#e7e7e7; font-size:14px; padding:0 28px;background-position: right -75px;}
.header_bottom .nav li.last a{background:none;}
.header_bottom .nav li.hover a,.header_bottom .nav li.fix a {background:none;}
.header_bottom .nav li.current a {color:#fff;background:#ca062c;}
.header_bottom .nav li a:hover {color:#fff;background:#505050; text-decoration:none}

.header_bottom .nav h2{position:absolute; top:0; right:0;width:133px; height:36px; overflow:hidden;}
.header_bottom .nav h2 a{display:block;background-position: -29px -247px; width:110px; height:35px; line-height:35px; padding-left:23px; color:#faedaf; font-size:14px; overflow:hidden; text-align:center; }
.header_bottom .nav h2 a:hover {color:#faedaf; background-position:-166px -247px; text-decoration:none;}


.header_bottom .subnav {height:37px; border:1px solid #e4e4e4; border-top:none; background-position: 0 -207px;background-repeat:repeat-x;overflow:hidden;}
.header_bottom .subnav div.itemdv {height:37px; float:left; line-height:37px;_line-height:39px; padding:0 18px; border-right:1px solid #e4e4e4; }
.header_bottom .subnav div.item1 a {width:50px; display:block; float:left; padding:0 18px 0 10px; text-align:center; background-position: -48px -43px;}
#header .subnav div.item1 #baoshi{background:url(../images/baoshi_bj2.png) no-repeat 0 11px;}
.header_bottom .subnav div.item2 a {display:block; float:left; padding-left:10px; background-position: -136px -44px;}
.header_bottom .subnav div.item3 {width:90px; padding-left:8px; padding-right:0;}
.header_bottom .subnav div.item4 {width:200px; border-right:none; overflow:hidden;}
.header_bottom .subnav div.item4 a {margin:0 3px;}

#header .popupnav .popupitem{float:left; width:90px; position:relative; z-index:201;}
#header .popupnav .popupitem .fix {width:76px; height:2px; display:none; position:absolute; top:33px; left:2px; background-color:#fff; z-index:101;}
#header .popupnav ul {float:left;}
#header .popupnav li {height:30px; float:left; line-height:30px;}
#header .popupnav ul.navbottom_ul {float:left;}
#header .popupnav ul.navbottom_ul li a {float:left; height:35px; padding-right:15px; padding-left:15px; display:block; line-height:35px; color:#333;}
#header .popupnav ul.navbottom_ul li a:hover {color:#fff; text-decoration:none; background-color:#d4062e;}
#header .popupnav a.allbrand {height:26px; float:left; position:relative; z-index:40; display:block; padding-left:10px; padding-right:18px; line-height:22px; *line-height:26px; color:#333;background-position: -208px -40px; border:2px solid #fbfbfb; border-top:2px solid #fbfbfb; border-bottom:none;margin-top:5px;}
#header .popupnav a.allbrand:hover {text-decoration:none;}
#header .popupnav a.brandactive {color:#d4062e; border:2px solid #333; border-bottom:none;}
#header .popupnav .point_brand{position:absolute; left:1px; top:34px; width:1px; height:1px; font-size:1px; background-color:#333; z-index:102;}

#header .popupnav .propitem {position:absolute; top:33px; left:0px; width:768px; float:left; display:none; background-color:#fff; border:2px solid #333; z-index:100; padding-bottom:10px;}
#header .popupnav .propitem .category {width:734px; height:34px; border-bottom:1px solid #e7e7e7; margin-left:11px;}
#header .popupnav .propitem .category a {display:block; margin-top:5px; padding-left:10px; padding-right:10px; outline:none;}
#header .popupnav .propitem .category a.current,#header .popupnav .propitem .category a:hover {color:#d4062e;background-position:-274px -102px;}
#header .popupnav .propitem .category a.current{ font-weight:bold; }
#header .popupnav .propitem .popupitem_con{display:none; width:720px; overflow:hidden; padding:0 20px;}
#header .popupnav .propitem .brandlist {clear:both;padding-bottom:4px; border-bottom:1px dashed #ddd;}
#header .popupnav .brandlist_left {width:30px; height:30px; float:left; line-height:30px;  text-align:center;font-weight:bold;}
#header .popupnav .brandlist_mid {width:680px; float:left;padding-left:10px; margin-top:5px; overflow:hidden;}
#header .popupnav .brandlist_mid ul {width:680px;}
#header .popupnav .brandlist_mid li {width:165px; height:20px; float:left; line-height:20px; margin:0px; margin-right:2px; overflow:hidden;}


#header .search {height:30px; float:right; padding:4px 5px 0 0;}
#header .search input.text {width:235px; height:22px; line-height:22px; float:left; color:#999; padding:2px 0 2px 25px; border:1px solid #adadad; background-position:0 -140px;}
#header .search input.focus {color:#333;}
#header .search input.submit {width:71px; height:28px; float:left; margin-left:1px; color:#fff; font-size:14px; border:1px solid #89031d; background-color:#d4062e; cursor:pointer;}

/* 購物車及其它主要頁面頭部css開始 */
#header .header_shopping_steps { height:80px;}
.header_shopping_steps .infoline {height:30px; line-height:30px; text-align:right;}

.header_shopping_steps .links {line-height:22px; width:auto;}
.header_shopping_steps .links ul {float:right;}
.header_shopping_steps .links li {float:left;}
.header_shopping_steps .links li.item1 {padding-right:15px;}
.header_shopping_steps .links li.item1 a{color:#c03;}


.header_shopping_steps .logo{float:left;width:180px;}
.header_shopping_steps .logo_title {float:left;padding-top:10px;}

/* 當前購物流程所在狀態 */
#header .header_shopping_tip {width:468px; float:right; padding-top:12px;}
#header .header_shopping_tip li {width:156px; float:left; padding-top:18px; text-align:center; background:url(../images/icon_cart_pic_bj_03.png) top center no-repeat;}
#header .header_shopping_tip .step1 {color:#d4062e; background:url(../images/icon_cart_pic_bj_01.png) top center no-repeat;}
#header .header_shopping_tip .step1_on {color:#e4062e; background:url(../images/icon_cart_pic_bj_04.png) no-repeat center top transparent;}
#header .header_shopping_tip .step2 {color:#d4062e; background:url(../images/icon_cart_pic_bj_01.png) top left no-repeat;}
#header .header_shopping_tip .step2_on {color:#e4062e; background:url(../images/icon_cart_pic_bj_04.png) no-repeat center top transparent;}
#header .header_shopping_tip .step3 {color:#d4062e; background:url(../images/icon_cart_pic_bj_01.png) top left no-repeat;}
#header .header_shopping_tip .step3_on {color:#d4062e; background:url(../images/icon_cart_pic_bj_02.png) top left no-repeat;}

/* 頁腳部分樣式開始 */
#footer {width:1007px; margin:10px auto 0; border-top:2px solid #333;}
#footer .service .service_first {width:179px; float:left;	margin-bottom:5px;}
#footer .service .service_first ul {margin-top:5px; padding-left:35px;}
#footer .service .service_sec {float:left; width:207px; padding-bottom:5px;}
#footer .service .service_sec ul {margin-top:5px; padding-left:35px;}
#footer .service h4 {height:30px; line-height:30px; padding-left:35px; border-bottom:1px solid #e4e4e4;}
#footer .service li {color:#ccc; list-style:inside disc; line-height:23px;}

#footer .servicetrait {width:1007px; margin-top:0; padding-top:20px; border-top:1px solid #333;}
#footer .servicetrait ul {margin-left:350px; border:1px solid #fff;}
#footer .servicetrait li {float:left; margin-left:13px;	padding-right:13px; border-right:1px dashed #f0f0f0;}
#footer .servicetrait .nobor {border:none;}

#footer .copyright {padding:10px 0 20px;  text-align:center;}
#footer .copyright p.copy { line-height:20px;}
#footer .copyright p.logos {margin-top:10px;}
#footer .copyright p.logos a {margin:0 5px;}
#footer .copyright p.logos span{top:17px; *top:16px; margin-right:8px;}

/* 全局彈出窗口樣式開始 */
.popupbox {position:absolute; left:0; bottom:0; display:none; z-index:300;}
.popupbox .popupbox_t {position:relative; border:10px solid #909090;}
.popupbox .popupbox_b {height:8px; font-size:1px; overflow:hidden; background:url(../images/popupbox_bottom_corner_bg.png) top center no-repeat;}

.popupbox .popupbox_con {padding:25px 25px 0 65px; background:url(../images/icon_checkmark.png) #fff 25px 22px no-repeat;}
.popupbox .popupbox_con_warning {padding-left:70px; background:url(../images/tip_bj.png) #fff 30px 25px no-repeat;}

.popupbox .headline {height:30px; position:relative; color:#fff; font-size:14px; font-weight:bold; padding-left:15px; line-height:30px; background-color:#111;}
.popupbox .headline a.close {top:8px;}
.popupbox .headline span.info {height:30px; color:#fff; font-size:12px; font-weight:normal; position:absolute; top:0; right:40px;}
.popupbox .headline span.info a {color:#fff;}
.popupbox .closelink1 {width:15px; height:15px; display:block; position:absolute; top:5px; right:5px; _top:15px; _right:15px; text-indent:-1000px; background:url(../images/closebutton_bg1.png) center center no-repeat;}
.popupbox .green {color:#007900; font-size:14px;}

.popupbox_addcart {width:345px; top:-165px; left:-100px;}
.popupbox_addcart .popupbox_con {height:120px;}

.popupbox_addcart_errormsg {width:335px; top:-165px; left:-100px;}
.popupbox_addcart_errormsg .popupbox_con {height:120px;}
.popupbox_addcart_errormsg .popupbox_con p {color:#ff6600; font-size:14px;}
.popupbox_addcart_errormsg .popupbox_con div {padding-left:55px; padding-top:20px;}

.popupbox_collect {width:250px; position:absolute; top:50%; left:50%; margin:-50px 0 0 -125px;}
.popupbox_collect .popupbox_con {height:50px;}

.popupbox_cart_signin {width:590px; display:none; position:absolute; top:50%; left:50%; margin:-100px 0 0 -300px;}
.popupbox_cart_signin .popupbox_con_cart_signin {width:520px; color:#111; padding:10px 25px 25px 25px; background-image:none; position:relative;}
.popupbox_cart_signin .popupbox_con_cart_signin table {border:none;}
.popupbox_cart_signin .popupbox_con_cart_signin a {color:#111;}
.popupbox_cart_signin .popupbox_con_cart_signin a.close {}
.popupbox_cart_signin .popupbox_con_cart_signin label {font-size:14px;}
.popupbox_cart_signin .popupbox_con_cart_signin ul {padding-left:15px; border-left:1px solid #e7e7e7;}
.popupbox_cart_signin .popupbox_con_cart_signin li {padding:2px 0;}
.popupbox_cart_signin .popupbox_con_cart_signin input.text {width:168px; height:26px; border:1px solid #adadad;}

/* 產品項樣式開始 */
ul.productsrow li {width:172px; height:276px;  float:left; margin:0 8px; overflow:hidden; position:relative;}
a.productitem {display:inline-block; padding:10px; cursor:pointer; text-decoration:none;position:relative; overflow:hidden;}
a.productitem:hover { background-color:#f6f6f6; text-decoration:none;}
a.productitem span.productname {width:145px; height:38px; line-height:19px; display:block; overflow:hidden;}
a.productitem span.description {width:145px; display:block; color:#999;  white-space:nowrap; overflow:hidden;}
a.productitem:hover span.productname{color:#d4062e;}
a.productitem span.productimg img {width:150px; height:150px; display:block;  background:#fff url(../images/imgloading.gif) center center no-repeat; border:1px solid #e7e7e7; cursor:pointer; overflow:hidden;}
a.productitem span.nalaprice {color:#d4062e;}
a.productitem span.nalaprice b {font-size:18px;}
a.productitem span.nalaprice span.promotion {color:#333; font-size:12px; font-weight:normal;}
a.productitem span.xszk {padding-left:45px; background:url(../images/product_xszk_bg.png) left center no-repeat;}
a.productitem span.discount {width:43px; height:36px; position:absolute; top:12px; right:5px; color:#fff; padding:3px 0 0 1px; line-height:13px; text-align:center; vertical-align:middle; background:url(../images/product_discount_bg.png) top left no-repeat;}
a.productitem span.discount strong {display:block; line-height:14px; font-weight:bold;}
a.productitem span.tgjg {padding-left:60px; background:url(../images/tuan_price_pic.png) left center no-repeat;}
a.productitem span.specialinfo {width:32px; height:32px; position:absolute; top:12px; right:12px; color:#fff; line-height:32px; text-align:center; background:url(../images/product_special_info_bg.png) center center no-repeat;}
a.productitem span.sales {color:#d4062e;}
a.productitem span.price {display:none; color:#999; font-weight:normal;}
a.productitem span.price .line {text-decoration:line-through;}
a.productitem span.salerow {color:#999;}

a.addcart {width:16px; height:16px; position:absolute; top:168px; right:13px; text-indent:-9999px; background-position:-283px -175px; outline:none; overflow:hidden;}
a.addcart:hover {background-position:-51px -80px; }

/* 分頁樣式 */
.pagenav {height:30px; margin:0 auto; line-height:30px; font-size:14px; text-align:right;}
.pagenav p{height:25px; float:right; color:#999; margin-right:5px; line-height:25px;}
.pagenav a {margin-left:3px; padding:5px 10px 6px 10px; color:#333; font-size:14px; text-align:center; border:1px solid #e7e7e7; background-color:#fff; text-decoration:none;}
.pagenav a:hover{color:#fff; border:1px solid #d4062e; text-decoration:none; background-color:#d4062e;}
.pagenav a.previous, .pagenav a.prevLink{padding:5px 12px 5px 24px; border:1px solid #d7d7d7; background:url(../images/icon_pagenum_red_left.png) #fff 10px center no-repeat;}
.pagenav a.previous:hover, .pagenav a.prevLink:hover{border:1px solid #d4062e; background-image:url(../images/icon_pagenum_white_left.png); background-color:#d4062e;}
.pagenav a.next, .pagenav a.nextLink {padding:5px 24px 5px 12px; background:url(../images/icon_pagenum_red_right.png) #fff 62px center no-repeat;}
.pagenav a.next:hover, .pagenav a.nextLink:hover{border:1px solid #d4062e; background-image:url(../images/icon_pagenum_white.png); background-color:#d4062e;}
.pagenav span{margin-left:3px;}
.pagenav span.current, .pagenav span.currentStep{margin:0 5px 0 8px; border:1px solid #fff; font-weight:bold; text-align:center;}
.pagenav span.info{color:#999; margin-right:15px;}

#main_back a{ background:url(../images/backtotop.png) no-repeat; cursor:pointer;}
#main_back #qq_sercive{ display:block; width:55px; height:37px; background-position: 0 0;}
#main_back #qq_sercive:hover{ background-position:-56px 0;}
#main_back #back2top{ display:block; width:55px; height:50px; background-position:0 -37px}
#main_back #back2top:hover{background-position:-56px -37px;}

/* 頁面內登錄框聯合登錄按鈕 */
.win_other_login .btns_wrap a{ display:block; width:82px; height: 27px; background: url(../images/bg-oauth.gif) no-repeat; float:left; margin:6px 26px 16px 0; }
.win_other_login .btns_wrap a.sina{ background-position: 0 -37px; }
.win_other_login .btns_wrap a.sina:hover{ background-position: 0 0; }
.win_other_login .btns_wrap a.qq{ background-position: 0 -111px; }
.win_other_login .btns_wrap a.qq:hover{ background-position: 0 -74px; }
.win_other_login .btns_wrap a.alipay{ background-position: 0 -185px ; }
.win_other_login .btns_wrap a.alipay:hover{ background-position: 0 -148px; }
.win_other_login .btns_wrap a.taobao{ background-position: 0 -259px ; }
.win_other_login .btns_wrap a.taobao:hover{ background-position: 0 -222px; }
.win_other_login .btns_wrap a.xunlei{ background-position: 0 -333px; margin-right:0; }
.win_other_login .btns_wrap a.xunlei:hover{ background-position: 0 -296px; }
.win_other_login .btns_wrap a.baidu{ background-position: 0 -407px ; }
.win_other_login .btns_wrap a.baidu:hover{ background-position: 0 -370px; }

