@charset "utf-8";
/* CSS Document */

/* 褰撳墠浣嶇疆 */
#breadcrumb {height:35px; line-height:35px; text-align:right; overflow:hidden;}
#breadcrumb ul {float:left;}
#breadcrumb ul li {float:left;}
#breadcrumb ul li a {float:left; display:block; margin:0 4px;}
#breadcrumb div.info {float:right; text-align:right;}
#breadcrumb div.info span {margin:0 5px; color:#d4062e; font-size:12px;}


.help_main{ width:1007px; margin:0 auto;}
.help_main .help_left_h{ width:207px; float:left; text-align:left; position:relative; padding-top:80px;}
.help_main .help_right_content{ width:728px; float:right; border:1px solid #e4e4e4; padding:20px 30px; text-align:left;}
.help_main .help_left_h h2{ position:absolute; top:0px; left:0px; width:216px; height:70px; line-height:70px; font-size:20px; text-indent:60px; background:url(../images/help.png); background-repeat:no-repeat; background-position:23px 20px;
 border:1px solid #e4e4e4; border-right:1px solid #fff;}
.help_main .help_left_h #h_box{ width:205px; border:1px solid #e4e4e4; border-top: none; padding-bottom:1px;}
#h_box h3{height:32px; line-height:32px; background:url(../images/h_bj_01.png) no-repeat 0 0; font-size:12px;padding-left:50px;border-top:1px solid #e4e4e4; margin-top:1px; font-weight:bold; cursor:pointer;}
#h_box h3.h3_all{ background-position: 0 -38px;}
#h_box h3 span{display:none; float:left; width:23px; height:17px; background:url(../images/help_h3_icon.png) no-repeat 0 0; padding-right:8px; position:relative; top:8px;}
#h_box ul{display:none;}
#h_box ul li{position:relative;height:32px; line-height:32px;}
#h_box a{ display:block;height:32px; text-indent:67px; border-top:1px solid #e4e4e4; background:#FFF;}
#h_box .noline{ border:none;}
#h_box a.current{ width:216px;height:34px; border-bottom:1px solid #e4e4e4; border-right:1px solid #fff; color:#d4062e; font-weight:bold;background:#fff; z-index:99; position:absolute; left:0;top:0;}
#h_box a:hover,#h_box a.current:hover{ background:#efefef; text-decoration:none;}
.help_main .help_left_h .common_question{ width:205px; border:1px solid #e4e4e4; margin-top:10px;}
.help_main .help_left_h .common_question h3{ height:32px; line-height:32px;padding-left:57px; background:url(../images/h_bj_03.png) no-repeat 0 0; border-bottom:1px solid #e4e4e4; font-size:12px; font-weight:bold;}
.help_main .help_left_h .common_question ul{ padding:10px 20px;}
.help_main .help_left_h .common_question li{ height:32px; line-height:32px; text-indent:12px; border-bottom:1px solid #e4e4e4; }
.help_main .help_left_h .tel { width:207px;}
.help_main .help_left_h .tel .tel_hot{ background:url(../images/tel_bj_help.png) no-repeat 0 0; height:30px; padding-top:18px; text-indent:60px;}
.help_main .help_left_h .tel p{ width:187px; height:58px; padding-left:20px; background:url(../images/tel_p_bj.png); background-repeat:repeat-x; background-position:0 0;}
.help_main .help_right_content .help_banner{ margin-bottom:10px;}
.help_main .help_right_content .help_choice{ margin:10px 0;}
.help_main .help_right_content .help_choice h3{ border-bottom:1px solid #e4e4e4; font-size:12px; font-weight:bold; background:url(../images/help_02.png); background-repeat:no-repeat;
background-position:0 0; height:20px; line-height:20px; text-indent:30px;}
.help_main .help_right_content .help_choice ul{ margin-left:40px;}
.help_main .help_right_content .help_choice li{ height:40px; line-height:40px; float:left; margin-right:55px;}

/*甯姪璇︽粲*/
.help_main .help_right{ width:788px; float:right; border:1px solid #e4e4e4; text-align:left;}
.help_main .help_right h3.help_title{ background:#f7f7f7; border-bottom:1px solid #e4e4e4; height:30px; line-height:30px; text-indent:30px; font-weight:bold;}
.help_main .help_left_h  h2.help_center{width:205px; height:70px; line-height:70px; font-size:20px; text-indent:60px; background:url(../images/help.png) no-repeat 23px 20px; border:1px solid #e4e4e4;}
.help_main .help_right .help_content{min-height:300px; _height:300px;}
#choice{ height:70px; width:400px; margin-top:20px; margin-left:30px; padding-bottom:20px;}
#choice p{ color:#999; margin-top:10px;}
#choice li{ float:left;}
#choice_yes,#choice_no{display:none;}
#choice_yes_btn{ width:78px; height:28px; background:url(../images/yes_bj.png); background-repeat:no-repeat; background-position:0 0; border:none; margin-top:15px; margin-right:30px;}
#choice_no_btn{ width:78px; height:28px; background:url(../images/no_bj.png); background-repeat:no-repeat; background-position:0 0; border:none; margin-top:15px;}

/*鍜ㄨ涓績*/
.help_main .help_left_h #h_box1{ width:205px; border:1px solid #e4e4e4; border-top: none; padding-bottom:1px;}
#h_box1 h3{height:32px; line-height:32px; background:url(../images/zi/h_bj_04.png) no-repeat 0 0; font-size:12px;padding-left:50px;border-top:1px solid #e4e4e4; cursor:pointer;}
#h_box1 h3.h3_all{ background-position: 0 -38px;}
#h_box1 h3 span{display:none; float:left; width:23px; height:17px; background:url(../images/zi/help_h3_icon.png) no-repeat 0 0; padding-right:8px; position:relative; top:8px;}
#h_box1 ul li{position:relative;height:32px; line-height:32px;}


#h_box1 ul li a{ display:block;height:32px; text-indent:67px; border-top:1px solid #e4e4e4; background:#FFF;}


#h_box1 .noline{ border:none;}
#h_box1 a.current{ width:216px;height:34px; border-bottom:1px solid #e4e4e4; border-right:1px solid #fff; color:#d4062e; font-weight:bold;background:#fff; z-index:99; position:absolute; left:0;top:0;}
#h_box1 a:hover,#h_box1 a.current:hover{ background:#efefef; text-decoration:none;}

#essay h3{ height:40px; line-height:40px; font-weight:bold;}
#essay li{ width:345px; height:30px; line-height:30px; text-align:center; float:left}

.starproducts{padding-top:0px; }
.starproducts h3 {position:relative; height:39px; overflow:hidden; border:1px solid #e4e4e4;background-color:#f6f6f6 ;background-position:0 -504px; }
.starproducts h3 span{position:absolute; top:12px; right:20px; font-size:12px;}
.starproducts h3 a.more{ display:block; background-position:28px -231px;color:#111; padding-right:15px;}
.starproducts div {width:727px; overflow:hidden;}
.starproducts ul.productsrow {padding:9px;}
.starproducts ul.productsrow li {width:172px; height:276px; float:left; _display:inline; margin:0 0px; overflow:hidden;}