

/* 導航下通欄廣告樣式*/
#activitybanner {height:51px; margin-bottom:10px; position:relative; display:block;}
#activitybanner .rightpart {width:168px; height:40px; position:absolute; top:5px; right:5px;}
#activitybanner .rightpart td {text-align:center; font-size:14px;}
#activitybanner .rightpart td.info {padding-top:2px; font-weight:bold;}

#wrapper {padding-top:10px; }
#home .toppart_l {width:760px; float:left;}
#home .toppart_r {width:237px; float:right;}
#home .toppart_r .box2,#home .hotarea .hotbrand_con td,#home .mainbox .lcon td,#home .mainbox .rcon li div.imgdv ,#maijia_say{background:url(../images/imgloading.gif) #fff center center no-repeat;}
.box_r h3,.toppart_r .latestnews li,.toppart_r .box_tuan,span.icon_ping,.maijia_say  dl.content dt,.hotarea .viewlink,.hotarea .hotbrand,.hotarea .hotcategory,.hotbrandtabs a,.hotcategory_con .itemrow,.hotcategory_con .itemlist li,.starproducts h3,a.more,div.hotrank,.mainbox .viewlink,.headline,.rcon li a.productname,.discounttitle,a.prev,a.next ,.hottypetabs_more a{background:url(../images/index_bg.png) -9999px 0 no-repeat;}

/* 焦點圖*/
#home .homebanner {width:758px; height:288px;overflow:hidden; position:relative;}
#home .homebanner .slides_container {width:758px; height:288px; display:none;}
#home .homebanner ul.pagination {position:absolute; right:5px; bottom:10px;z-index:11; display:none; }
#home .homebanner ul.pagination li{float:left; margin-right:5px;width:18px; height:18px;line-height:18px; text-align:center;  color:#aaa; background-color:#000;  border-radius:10px; cursor:pointer; position:relative; }
#home .homebanner ul.pagination li.current {color:#fff; background-color:#c03;}
#home .homebanner ul.pagination li span{position:absolute; top:0;left:6px; z-index:10;}
/* 熱門品牌*/
#home .hotarea {width:758px; margin-top:10px; padding-bottom:11px; position:relative; background-color:#f6f6f6;}
#home .hotarea .headline {height:30px; position:relative; line-height:30px; padding-top:7px; margin:0 15px; text-align:right;}
#home .hotarea .viewlink {color:#111; padding-right:15px; background-position:52px -232px;}
#home .hotarea .viewlink:hover {color:#d4062e;}
#home .hotarea .hotbrand {background-position:0 -407px;border-bottom:1px solid #e4e4e4;}
#home .hotarea .hotcategory {background-position:0 -448px;}
#home .hotarea .hotbrandtabs {height:27px; position:absolute; top:10px; right:74px;;}
#home .hotarea .hotbrandtabs a {width:44px; height:26px; line-height:22px; _line-height:24px; display:block; float:left;border:1px solid #f6f6f6;  border-bottom:1px solid #e4e4e4; background-position:right -838px;text-align:center;}
#home .hotarea .hotbrandtabs a.current {border:1px solid #e2e2e2; border-bottom:1px solid #fff; background-position:0 -187px;}
#home .hotarea .hotbrandtabs a.fix {background:none;}

#home .hotarea .hotbrand_con {text-align:center; padding-top:1px; overflow:hidden;}
#home .hotarea .hotbrand_con table {margin:0 auto; border-left:1px solid #e4e4e4; border-top:1px solid #e4e4e4;}
#home .hotarea .hotbrand_con td {width:103px; height:74px; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; }
#home .hotarea .hotbrand_con td a {display:block; padding-bottom:1px;}
#home .hotarea .hotbrand_con td a:hover {background-color:#333;}
#home .hotarea .hotbrand_con td.noitem {background:none; border:none;}
/* 熱門品類*/
#home .hotarea .hottype{background-position:0 -360px;border-bottom:1px solid #e4e4e4;}
#home .hotarea .hottypetabs{right:2px;}
#home .hotarea .hottypetabs a,#home .hotarea .hottypetabs a.current{width:54px;}
.hottypetabs_con{background:#fff; border:1px solid #e4e4e4; width:726px; margin:1px 15px 0; overflow:hidden;}
.hottypetabs_con td{padding:10px 0 10px 23px;width:112px; overflow:hidden; text-align:center;}
.hottypetabs_con td .pic a{display:block; width:100px; height:100px; padding:5px; border:1px solid #e4e4e4;overflow:hidden; }
.hottypetabs_con td .pic a:hover{border-color:#ccc;}
.hottypetabs_con td .pic img{width:100px; height:100px;}
.hottypetabs_con td p{height:32px; overflow:hidden; padding-top:5px; line-height:16px;}
.hottypetabs_con td.hottypetabs_more{padding:0; padding-left:19px; overflow:hidden; width:32px;}
.hottypetabs_con td.hottypetabs_more a{display:block; width:31px; height:169px; border-left:1px solid #e4e4e4;background-position:-138px -127px;}
.hottypetabs_con td.hottypetabs_more a:hover{background-position:-169px -127px;}
/* 熱門分類*/
#home .hotarea .hotcategory_con {width:705px; height:255px; overflow:hidden;margin:0 auto; padding:2px 11px 5px; border:1px solid #e4e4e4; background-color:#fff; }
#home .hotarea .hotcategory_con .itemrow {border-bottom:1px dotted #e4e4e4;  height:40px; overflow:hidden; padding:12px 0 12px 45px;}
#home .hotarea .hotcategory_con .hfbg {background-position:-215px -90px;}
#home .hotarea .hotcategory_con .czbg {background-position:-215px -142px;}
#home .hotarea .hotcategory_con .gxbg {background-position:-215px -194px;}
#home .hotarea .hotcategory_con .fzbg {background-position:-215px -246px;}
#home .hotarea .hotcategory_con .gjbg {background-position:-215px -304px;}
#home .hotarea .hotcategory_con .jgbg {background-position:-215px -359px;}
#home .hotarea .hotcategory_con .fzbg .itemlist,#home .hotarea .hotcategory_con .jgbg .itemlist{padding-top:10px;}

#home .hotarea .hotcategory_con .itemtitle {width:55px;  height:100%;float:left;}
#home .hotarea .hotcategory_con .itemtitle a {display:block; width:100%; height:100%; line-height:350%; text-align:center; background:#f2f2f2;}
#home .hotarea .hotcategory_con .itemtitle a:hover{background:#e8e8e8; text-decoration:none;}
#home .hotarea .hotcategory_con .itemlist {width:600px; float:right;}
#home .hotarea .hotcategory_con .itemlist ul{margin-top:-3px;}
#home .hotarea .hotcategory_con .itemlist li {float:left; text-align:left; padding:2px 0px; background-position:right -838px;}
#home .hotarea .hotcategory_con .itemlist li a {color:#111; display:block; float:left; white-space:nowrap; height:20px; line-height:20px; padding:0 10px;}
#home .hotarea .hotcategory_con .itemlist li a:hover {color:#c03; background-color:#efefef; text-decoration:none;}
#home .hotarea .hotcategory_con .itemlist li a.red {color:#c03;}
#home .hotarea .hotcategory_con .itemlist li.nobg {background-image:none;}

#home .hotarea .hotarea_r {width:237px; height:545px; float:right; position:relative;}
#home .hotarea .hotarea_r .bdv {position:absolute; right:0; bottom:0;}

/*右側 小框架*/
#home .toppart_r .box_r{border:1px solid #e4e4e4; }
.toppart_r .box_r h3{height:0; padding-top:27px; overflow:hidden; }
.toppart_r .box2 {margin-top:10px; border:1px solid #e4e4e4;}
.toppart_r .box2 img{ display:block;}
.toppart_r .noborder{border:none;}
.toppart_r .box_r_pic{padding:5px;width:225px; overflow:hidden;}
#home .toppart_r .box_tuan{border-top:none;background-position:0 -799px; padding:40px 5px 5px 20px; width:210px; overflow:hidden;}
/*右側 最新消息*/
.toppart_r .latestnews h3{background-position:0 0;}
.toppart_r .latestnews ul {padding:5px 0 5px 12px}
.toppart_r .latestnews li {height:22px; line-height:22px;background-position:-84px -83px;padding-left:15px; overflow:hidden;}
/*右側 每日秒殺*/
#home_ms_area{position:relative; margin-top:10px;}
#home_ms_area h3{background-position:0 -28px;}
#home_ms_area .hour{position:absolute;text-align:center;width:16px;height:16px;color:#d31728;font-size:14px;top:2px;font-weight:bold;left:136px;}
#home_ms_area .minite{position:absolute;text-align:center;width:16px;height:16px;color:#d31728;font-size:14px;top:2px;font-weight:bold;left:165px;}
#home_ms_area .second{position:absolute;text-align:center;width:16px;height:16px;color:#d31728;font-size:14px;top:2px;font-weight:bold;left:192px;}
/*右側 買家說*/
.maijia_say{margin-top:10px;}
.maijia_say h3{background-position:0 -56px;}
#maijia_say{height:230px; width:235px; overflow:hidden;position:relative;}
#maijia_say ul{background:#fffef3; margin-top:-230px;}
#maijia_say li{height:215px; overflow:hidden;padding:15px; padding-bottom:0;}
#maijia_say li .item{height:82px; overflow:hidden;}
#maijia_say li .item a.fl{display:block; width:75px; height:75px; margin-right:12px; border:1px solid #e4e4e4;overflow:hidden;}
#maijia_say li .item a.fl:hover{border:1px solid #ccc;}
#maijia_say li .item a.fl img{width:75px; height:75px; }
#maijia_say li .item h2{ font-size:12px; margin-bottom:4px;}

.maijia_say  dl.content{padding-top:8px; position:relative;}
.maijia_say  dl.content dt{background-position:0 -97px; position:absolute; top:1px; left:35px;margin-bottom:-2px; display:block; width:9px; height:9px; overflow:hidden;}
.maijia_say  dl.content dd{padding:8px; padding-top:5px; line-height:20px; background:#fff; border:1px solid #fff196;}
.maijia_say  dl.content dd h5{color:#999;}
.maijia_say  dl.content dd h5 span.icon_ping{background-position:0 -114px; *background-position:0 -116px;width:18px; height:19px; text-indent:9999px; display:inline-block; margin-left:4px; overflow:hidden;}
.maijia_say  dl.content dd p{height:56px; overflow:hidden; color:#000; margin-bottom:6px;}
.maijia_say  dl.content dd em{color:#999;}

.maijia_say .cle_float{background:#fffef3; padding:5px 15px;}

/*通欄 明星產品*/
#home .starproducts{padding-top:15px; }
#home .starproducts h3 {position:relative; height:39px; overflow:hidden; border:1px solid #e4e4e4;background-color:#f6f6f6 ;background-position:0 -504px; }
#home .starproducts h3 span{position:absolute; top:12px; right:20px; font-size:12px;}
#home .starproducts h3 a.more{ display:block; background-position:28px -231px;color:#111; padding-right:15px;}
#home .starproducts div {width:991px; border:8px solid #f3f3f3; overflow:hidden;}
#home .starproducts ul.productsrow {padding:9px;}
#home .starproducts ul.productsrow li {width:172px; height:276px; float:left; _display:inline; margin:0 11px; overflow:hidden;}

/*通欄 5F樓層*/
#home .mainbox {margin-top:15px; border-top:2px solid #333;}
#home .mainbox .headline {height:42px; position:relative; line-height:42px; padding:0 18px; text-align:right; border-bottom:1px solid #e4e4e4; background-color:#f6f6f6;}
#home .mainbox .headline div.hotrank {width:81px; height:30px; line-height:30px; position:absolute; top:13px; right:156px; _right:155px; color:#d4062d; text-align:center; background-position:-16px -149px;}
#home .mainbox .viewlink {color:#111; padding-right:15px; background-position:28px -233px;}
#home .mainbox .floor1 {background-position:18px -544px;}
#home .mainbox .floor2 {background-position:18px -587px;}
#home .mainbox .floor3 {background-position:18px -630px;}
#home .mainbox .floor4 {background-position:18px -673px;}
#home .mainbox .floor5 {background-position:18px -716px;}

#home .mainbox .lcon {width:765px; float:left;}
#home .mainbox .lcon table {border-left:1px solid #e4e4e4;}
#home .mainbox .lcon td {border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; }
#home .mainbox .lcon td.hover {border-bottom-color:#333;}
#home .mainbox .rcon {width:237px; float:right;}
#home .mainbox .rcon li {position:relative;}
#home .mainbox .rcon li a.productname {width:170px; height:38px; display:block; line-height:38px; padding:0 30px 0 35px; border:1px solid #e4e4e4; border-top:none; background-position:220px -150px;}
#home .mainbox .rcon li span.number {display:block; width:30px; height:38px; line-height:38px; position:absolute; top:0; left:0; text-align:center; color:#d4062e;}
#home .mainbox .rcon li div.imgdv {width:235px; height:145px; display:none; border:1px solid #e4e4e4; border-top:none; overflow:hidden;}

/* 底部50% OFF */
#home .mainbox .discounttitle {height:40px; line-height:40px; position:relative;  background-color:#f6f6f6; background-position:140px -758px;border-left:1px solid #e4e4e4;}
#home .mainbox .discounttitle div.off {width:122px; height:41px; position:absolute; top:0; left:0; background-color:#d4062e; color:#fff; font-size:18px; font-weight:bold; text-align:center;}
#home .sectionitems {padding:10px 0 40px;position:relative;}
#home .sectionitems .sectionitems_ul{padding-left:33px;}
#home .sectionitems .slides_container {width:940px;overflow:hidden;height:276px; position:relative;}
#home .sectionitems .slides_container ul {width:940px;display:block;height:276px; }
#home .sectionitems a.prev{width:33px; height:43px; display:block; position:absolute; left:0; top:100px; background-position:-20px -88px;outline:none; text-indent:-9999px;}
#home .sectionitems a.next {width:33px; height:43px; display:block; position:absolute; right:0; top:100px; background-position:-54px -88px;outline:none; outline:none; text-indent:-9999px;}
