@charset "utf-8";
/* CSS Document */
/*一級欄目頁*/
#list_new .homebanner img{ border:1px solid #e4e4e4;}
#list_new .homebanner {height: 237px; overflow: hidden; position: relative; width: 788px;}
#list_new .homebanner .slides_container { display: none; height: 237px; width: 788px;}
#list_new .homebanner ul.pagination { bottom: 10px; display: none; position: absolute; right: 5px; z-index: 11;}
#list_new .homebanner ul.pagination li { float: left; list-style: none;}
#list_new .homebanner ul.pagination li a { background-color: #000000; border-radius: 11px 11px 11px 11px; color: #AAAAAA; display: block; float: left; height: 18px; line-height: 18px; margin-right: 5px; text-align: center; text-decoration: none; width: 18px;}
#list_new .homebanner ul.pagination li.current a { background-color: #CC0033; color: #FFFFFF;}
#list_new .list_f{ width:788px; height:155px; background:url(../images/list_bj.png) no-repeat 0 -383px; margin-top:10px;}
#list_new .list_f .left_zhe{ height:90px; width:130px; float:left; margin-top:17px; margin-left:5px;}
#list_new .list_f .list_right{ width:610px; float:right; margin-right:15px; _margin-right:5px; margin-top:15px;}
#list_new .list_f .list_right li{ float:left; width:120px; height:40px; line-height:40px;}
#list_new .list_f .list_right .top{ border-bottom:1px dotted #e4e4e4;}
#list_new .list_f .list_right li a{ display:block; width:120px; height:40px; background:url(../images/list_bj.png) no-repeat; text-decoration:none; text-indent:30px;}
#list_new .list_f .list_right li a:hover{ background:url(../images/list_bj.png) no-repeat;}
#list_new .list_f .list_right li a.a1{ background-position:0px 8px;}
#list_new .list_f .list_right li a.a1:hover{ background-position:-236px 8px;}

#list_new .list_f .list_right li a.a2{ background-position:-480px 8px;}
#list_new .list_f .list_right li a.a2:hover{ background-position:-728px 8px;}

#list_new .list_f .list_right li a.a3{ background-position:0 -63px;}
#list_new .list_f .list_right li a.a3:hover{ background-position:-236px -63px;}

#list_new .list_f .list_right li a.a4{ background-position:-480px -63px;}
#list_new .list_f .list_right li a.a4:hover{ background-position:-728px -63px;}

#list_new .list_f .list_right li a.a5{ background-position:0 -139px;}
#list_new .list_f .list_right li a.a5:hover{ background-position:-236px -139px;}

#list_new .list_f .list_right li a.a6{ background-position:-480px -139px;}
#list_new .list_f .list_right li a.a6:hover{ background-position:-728px -139px;}

#list_new .list_f .list_right li a.a7{ background-position:0 -214px;}
#list_new .list_f .list_right li a.a7:hover{ background-position:-236px -214px;}

#list_new .list_f .list_right li a.a8{ background-position:-480px -214px;}
#list_new .list_f .list_right li a.a8:hover{ background-position:-728px -214px;}

#list_new .list_f .list_right li a.a9{ background-position:0 -292px;}
#list_new .list_f .list_right li a.a9:hover{ background-position:-236px -292px;}

#list_new .list_f .list_right li a.a10{ background-position:-480px -294px;}
#list_new .list_f .list_right li a.a10:hover{ background-position:-728px -294px;}

#list_new .product_list h2{ height:30px; line-height:30px; border:1px solid #e4e4e4;}
#list_new .product_list h2 span.more{ display:block; width:50px; height:30px; line-height:30px; float:right; background:url(../images/list_bj.png) no-repeat -165px -578px; font-size:12px;}
#list_new .product_list h2 span.floor{ display:block; width:160px; height:30px; line-height:30px; text-indent:55px; font-size:16px; font-weight:bold; font-family:"微軟雅黑"; background:url(../images/list_bj.png) no-repeat;}

#list_new .product_list li{ float:left; margin-left:20px; _margin-left:10px;}
#list_new .product_list li a{ display:block; width:160px; padding:10px 5px; text-align:center; margin:5px 0 10px 0; cursor:pointer;}
#list_new .product_list li a:hover{ background:#f6f6f6; text-decoration:none;}
#list_new .product_list li p.name{ width:160px; overflow:hidden; height:20px; line-height:20px;}
#list_new .product_list li p span.nala_price{ color:#d4062e; font-weight:bold; display:block; min-width:70px; float:left; height:25px; line-height:25px; margin-top:10px; margin-left:5px;}
#list_new .product_list li p span.nala_price strong{ font-size:21px;}
#list_new .product_list li p span.old_price{ color:#333; font-weight:bold; display:block; float:right; height:25px; padding-top:3px; line-height:20px; margin-top:10px; min-width:70px; }
#list_new .product_list li p span.old_price strong{ font-weight:normal; text-decoration:line-through;}
#list_new .product_list li span.buy{ display:block; width:104px; height:27px; text-align:center; line-height:27px; background: url(../images/list_bj.png) no-repeat 0 -576px; color:#fff; font-size:14px; margin:5px 0 0 27px; _margin:5px 0 0 0px;}

#list_new .product_list h2 span.floor1{ background-position:0 -538px;}
#list_new .product_list h2 span.floor2{ background-position:-160px -538px;}
#list_new .product_list h2 span.floor3{ background-position:-320px -538px;}
#list_new .product_list h2 span.floor4{ background-position:-480px -538px;}

/*二級欄目頁*/
#list_new .product_list h2 span.floor5{ background-position:-640px -538px; text-indent:20px;}
#list_new .list_banner img{ border:1px solid #e4e4e4;}
#list_new .product_t{ margin-top:10px;}
#list_new .product_t table td{ border:1px solid #e4e4e4;}
#list_new .product_t table{ border-collapse:collapse;}
