.not_found{ height:112px; width:744px; margin: 0 auto; background:url(/images/not_found_bg.jpg) right bottom no-repeat; padding: 80px 0 0px; }
.not_found p{ font:24px bold; }
.not_found p span{ color:red; }
.search_again_wrap{ width:744px; margin:0 auto; border-top:solid 1px #ECECEC; padding:20px 0; }
/*.search_again{ margin: 0 auto; }*/
.search_again td{ padding: 8px 0px; }
.pr_10{ padding-right:10px !important; }
.mr_10{ margin-right:10px; }
.search_explain li{ list-style: decimal inside; line-height:22px; }
.advise_txt{ font-size:15px; font-weight:bold; vertical-align:middle; }
.search_again .search {height:30px; padding:4px 5px 0 0;}
.search_again .search input.text {width:235px; height:22px; line-height:22px; float:left; color:#999; padding:2px 0 2px 25px; border:1px solid #adadad; background-position:0 -140px;}
.search_again .search input.focus {color:#333;}
.search_again .search input.submit {width:71px; height:28px; float:left; margin-left:1px; color:#fff; font-size:14px; border:1px solid #89031d; background-color:#d4062e; cursor:pointer;}
.recommend{ width:744px; margin: 0 auto; border-bottom:solid 1px #ECECEC; font-size:14px; padding-bottom: 3px; }