@charset "utf-8";
/* CSS Document */

/*訂單獨立頭部*/

#order_header{ width:1007px; margin:10px auto 0 auto;}
#order_header .logo{ float:left; width:340px; height:50px;}
#order_header .logo .logo_pic{ float:left;}
#order_header .logo .logo_title{ float:left; margin:10px 0 0 25px;}
#order_header .kefu_t{ width:245px; float:left; height:50px; margin-left:10px;}
#order_header .kefu_t li{ float:left; margin-top:27px;}
#order_header .kefu_t li span{ font-size:16px; font-weight:bold;}
#order_header .kefu_t .li_img{ margin-left:10px;}
#order_header .login_inf{ width:400px; float:right; margin-top:22px;}
#order_header .login_inf .links {float:right; width:400px;}
#order_header .login_inf .links li {padding-top:4px; float:left;}
#order_header .login_inf .links li.item1{text-align:right; padding-right:12px; padding-top:8px; }
#order_header .login_inf .links li.item1 .welcome {width:128px;padding-right:4px; float:left; white-space:nowrap; text-align:right;position:relative;}
#order_header .login_inf .links li.item1 .welcome span.vip{position:absolute; top:0px; right:-12px; display:block;width:13px; height:8px;background-position:0 -80px; overflow:hidden;  }
#order_header .login_inf .links li.item1 .welcome span.svip{background-position:0 -88px;height:9px; width:16px;}
#order_header .login_inf .links li.item1 .welcome span.vip a{display:block;width:100%; height:100%;}
#order_header .login_inf .links li.item1 .logout {float:left; width:44px; white-space:nowrap; overflow:hidden; text-align:right;}
#order_header .login_inf .links li.item2 {width:83px; height:24px; float:left; position:relative; margin-left:10px;_margin-left:5px; }
#order_header .login_inf .links li.item2 .mynala {display:block; width:83px; height:22px;}
#order_header .login_inf .links li.item2 .mynala a.mynala_link {display:block; width:73px; height:20px; line-height:20px; padding-left:8px; border:2px solid #fff; border-bottom:none; background-position:-205px -42px;}
#order_header .login_inf .links li.item2 .mynala a.mynala_link_on  {border-color:#c03; background-position:-205px -62px;}
#order_header .login_inf .links li.item2 .mynala span {margin:0 8px;}
#order_header .login_inf .links li.item2 .mynala_popup {display:none; width:81px; border:2px solid #c03; border-top:none; background-color:#fff; z-index:88; position: absolute;}
#order_header .login_inf .links li.item2 .mynala_popup a {padding-left:8px;}
#order_header .login_inf .links li.item3 {float:left; padding-left: 4px; position: relative;z-index:200;}
#order_header .login_inf .links li.item3 a.cart_rukou {display:block;position: relative;z-index:201;border:2px solid #fff;border-bottom:none; width:70px; height:22px; line-height:22px; padding-left:22px; background-color:#fff; background-position:-48px -77px;margin-bottom:-2px;}
#order_header .login_inf .links li.item3 a.cart_rukou:hover{text-decoration:none;}
#order_header .login_inf .links li.item3 a.cart_rukou span {color:#d4062e;padding-right: 12px; display: inline-block;background-position:-254px -41px;}
#order_header .login_inf .links li.item3 a.cart_rukou_on{border:2px solid #c03; border-bottom:none;}
#order_header .login_inf .links li.item3 a.cart_rukou_on span{background-position:-254px -61px;}
#order_header .login_inf .links li.item3 .mycart_popup{position:absolute;z-index:200;right:0px;width:320px; min-height:60px; _height:60px; border: 2px solid #c03; background:#fff url(../images/imgloading.gif) no-repeat center center;padding: 2px 4px;display: none;}
.mycart_popup .mycart_box{background:#fff;}

/*付款成功*/
#wrapper .order_main{ width:1007px; margin:10px auto;}
#wrapper .order_main .pay_inf_bj{ width:1007px; height:235px; background:#b00e1b url(../images/order_tip_big_bj.jpg) no-repeat 0 0; position:relative; margin-top:15px;}
#wrapper .order_main .pay_inf_bj .pay_inf{ width:630px; position:absolute; top:50px; left:315px;}
#wrapper .order_main .pay_inf_bj .pay_inf h3{ font-family:"微軟雅黑"; font-size:46px; font-weight:bold; color:#fff;}
#wrapper .order_main .pay_inf_bj .pay_inf h3 span{ font-size:40px; margin-left:15px;}
#wrapper .order_main .pay_inf_bj .pay_inf h3 span i{ font-size:12px; vertical-align:super;}
#wrapper .order_main .pay_inf_bj .pay_inf h3 span strong{ font-size:50px;}
#wrapper .order_main .pay_inf_bj .pay_inf h3 span sup{ font-size:14px; vertical-align:top; vertical-align:text-top!important;}
#wrapper .order_main .pay_inf_bj .pay_inf li{ font-family:"微軟雅黑"; font-size:14px; font-weight:bold; color:#fff;}
#wrapper .order_main .pay_inf_bj .pay_inf li span{ float:left;}
#wrapper .order_main .pay_inf_bj .pay_inf li a{ display:block; width:132px; height:29px; color:#333; font-size:12px; font-weight:bold; background:url(../images/order_button_bj.png) repeat-x 0 0; text-align:center; line-height:29px; float:left; border:1px solid #e5d4d6; margin:-7px 0 0 20px;}
#wrapper .order_main .pay_inf_bj .pay_inf li a:hover{ color:#d4062e; text-decoration:none;}
#wrapper .order_main .shuom{ margin:10px auto;}
#wrapper .order_main .shuom li{ float:left; margin-right:14px;}
#wrapper .order_main .shuom img{ border:1px solid #e7e7e7;}
#wrapper .order_main .other_buy,#wrapper .order_main .someone_like{ margin-top:10px; border:1px solid #e7e7e7; padding-bottom:10px;}
#wrapper .order_main .other_buy h3,#wrapper .order_main .someone_like h3{ font-size:12px; font-weight:bold; color:#333; height:30px; line-height:30px; background:url(../images/order_h_bj.png) repeat-x 0 0; text-indent:16px; border-bottom:1px solid #e7e7e7;}
#wrapper .order_main .other_buy .productlist ul,#wrapper .order_main .someone_like .productlist ul{ margin:10px 0 0 20px; background:#fff;}
#wrapper .order_main .other_buy .productlist li,#wrapper .order_main .someone_like .productlist li{ float:left; margin:0 10px;}
#wrapper .order_main .someone_like .like_tip{ height:35px; margin-top:10px;}
#wrapper .order_main .someone_like .like_tip li{ float:left;}
#wrapper .order_main .someone_like .like_tip li a{ display:block; width:250px; height:35px; line-height:35px; text-align:center; float:left; border-right:1px solid #e7e7e7; border-top:1px solid #e7e7e7;}
#wrapper .order_main .someone_like .like_tip li a:hover{ font-weight:bold; text-decoration:none;}
#wrapper .order_main .someone_like .like_tip li a.current{ font-weight:bold; text-decoration:none; color:#d40624; height:35px; width:250px; background:#fff; border-top:none}


/*訂單詳情*/
#wrapper .order_main .order_tip{ width:1007px; height:50px; background:url(../images/tip_b_bj.png) no-repeat; position:relative; font-size:20px; font-family:"微軟雅黑"; font-weight:bold;}
#wrapper .order_main .order_tip1{ background-position:0 0; border-right:1px solid #e7e7e7;}
#wrapper .order_main .order_tip2{ background-position:0 -50px; border-right:1px solid #e7e7e7;}
#wrapper .order_main .order_tip3{ background-position:0 -100px; border-right:1px solid #e7e7e7;}
#wrapper .order_main .order_tip4{ background-position:0 -150px; border-right:1px solid #e7e7e7;}
#wrapper .order_main .order_tip .ding1{ display:block; width:105px; height:50px; line-height:50px; text-align:center; position:absolute; top:0; left:110px;}
#wrapper .order_main .order_tip .ding2{ display:block; width:105px; height:50px; line-height:50px; text-align:center; position:absolute; top:0; left:335px;}
#wrapper .order_main .order_tip .ding3{ display:block; width:105px; height:50px; line-height:50px; text-align:center; position:absolute; top:0; left:580px;}
#wrapper .order_main .order_tip .ding4{ display:block; width:105px; height:50px; line-height:50px; text-align:center; position:absolute; top:0; left:855px;}
#wrapper .order_main .order_tip1 .ding1{ color:#fff;}
#wrapper .order_main .order_tip1 .ding2,#wrapper .order_main .order_tip1 .ding3,#wrapper .order_main .order_tip1 .ding4{ color:#555;}
#wrapper .order_main .order_tip2 .ding2{ color:#fff;}
#wrapper .order_main .order_tip2 .ding1,#wrapper .order_main .order_tip2 .ding3,#wrapper .order_main .order_tip2 .ding4{ color:#555;}
#wrapper .order_main .order_tip3 .ding3{ color:#fff;}
#wrapper .order_main .order_tip3 .ding2,#wrapper .order_main .order_tip3 .ding1,#wrapper .order_main .order_tip3 .ding4{ color:#555;}
#wrapper .order_main .order_tip4 .ding4{ color:#fff;}
#wrapper .order_main .order_tip4 .ding2,#wrapper .order_main .order_tip4 .ding3,#wrapper .order_main .order_tip4 .ding1{ color:#555;}

#wrapper .order_main .order_t{ height:89px; border:1px solid #e7e7e7; background:#fdfee6; margin-top:40px; position:relative;}
#wrapper .order_main .order_t p{ height:89px; line-height:89px; font-size:14px; font-weight:bold; color:#333; padding-left:30px;}
#wrapper .order_main .order_t p span{ color:#009933;}
#wrapper .order_main .order_t p a{ display:block; width:112px; height:37px; line-height:37px; background:url(../images/login_button_bj.png) repeat-x 0 0; text-align:center; float:right; margin:25px 40px 0 0; color:#fff;}
#wrapper .order_main .order_t span.sanjiao{ display:block; width:31px; height:11px; background:url(../images/order_sanjiao_bj.jpg) no-repeat 0 0; position:absolute;}
#wrapper .order_main .order_t span.sanjiao1{ top:-11px; left:120px;}
#wrapper .order_main .order_t span.sanjiao2{ top:-11px; left:340px;}
#wrapper .order_main .order_t span.sanjiao3{ top:-11px; left:595px;}
#wrapper .order_main .order_t span.sanjiao4{ top:-11px; left:865px;}
#wrapper .order_main .user_inf,#wrapper .order_main .order_list{ border:1px solid #e7e7e7; padding:20px; margin-top:10px;}
#wrapper .order_main .user_inf .inf_detail{ width:700px; float:left;}
#wrapper .order_main .user_inf .inf_detail .user_name h3{ font-size:12px; font-weight:bold; color:#333;}
#wrapper .order_main .user_inf .inf_detail .user_name ul{ margin:10px 20px;}
#wrapper .order_main .user_inf .inf_detail .user_name .wu_liu{ width:600px;}
#wrapper .order_main .user_inf .inf_detail .user_name .wu_liu table{ border-collapse:collapse; margin-top:10px;}
#wrapper .order_main .user_inf .inf_detail .user_name .wu_liu table td{border:1px solid #e7e7e7;}
#wrapper .order_main .user_inf .user_say{ width:200px; padding:10px; border-left:1px solid #e7e7e7; float:right;}
#wrapper .order_main .user_inf .user_say h3{ font-size:12px; font-weight:bold; color:#666;}
#wrapper .order_main .user_inf .user_say p{ font-size:12px; color:#666; margin-top:10px; line-height:20px;}
#wrapper .order_main .order_list h3{ font-size:12px; font-weight:bold; color:#333;}
#wrapper .order_main .order_list h3 span{ color:#d4062e; float:right; margin-right:15px; font-size:14px; font-weight:bold;}
#wrapper .order_main .order_list h3 span strong{ font-size:20px;}
#wrapper .order_main .order_list table{ margin-top:15px;}
#wrapper .order_main .order_list table td{ border-bottom:1px solid #e4e4e4;}
#wrapper .order_main .order_list .account{ width:320px; float:right; text-align:right; margin-top:15px;}
#wrapper .order_main .order_list .account li{ height:25px; line-height:25px; color:#666;}
#wrapper .order_main .order_list .account li span{ color:#d4062e;}
#wrapper .order_main .order_list .account li strong{ font-size:20px;}

/*購物流程步驟*/
#wrapper .cart_buytip{ width:1005px; border:1px solid #e4e4e4; border-bottom:none; height:30px; background:url(../images/cart_buy_tip_bj.png) repeat-x 0 0; margin-top:20px;}
#wrapper .cart_buytip li{ width:335px; height:30px; line-height:30px; text-align:center; float:left; background:url(../images/cart_buy_next.png) no-repeat right 0; font-family:"微軟雅黑"; font-size:16px; color:#999; position:relative;}
#wrapper .cart_buytip li.no_bj{ background:none;}
#wrapper .cart_buytip li.current .li_current{ width:315px; height:32px; line-height:32px; text-align:center; font-size:18px; color:#111; border:1px solid #e4e4e4; position:absolute; top:-2px; left:5px; background:#f9f9f9;}











