a.gary{color:#999;}
a.gary:hover{color:#111;}

.my_nala_banner{margin-top: 15px;}
.my_nala_tip{height: 30px;margin-top: 5px;line-height: 30px;}
.my_nala_tip li{display:inline;margin-right: 4px;color: #666666;}

.my_nala_main{text-align: left;margin-bottom: 30px;}

/*評價詳情相關開始*/
.my_nala_main .nala_list{float: left;width: 205px;}
.admin_sidebar_box{border:1px solid #e7e7e7; border-top:none; padding-bottom:10px;}
.admin_sidebar_box .content .productsrow{height:290px; padding-left:8px;}
.admin_sidebar_box .content .productsrow li{float:none;}
/*評價詳情相關結束*/
.my_nala_main .nala_main{float: right;width: 788px;}
.my_nala_main h2.my_center_cart{ display:none; width:168px; padding-left:34px; height:29px; overflow:hidden; background:url(../images/my_center_cart.png) no-repeat 0 0; margin-bottom:6px;}
.my_nala_main h2.my_center_cart a{display:block; width:100%; height:100%; font-size:12px; line-height:29px;*line-height:32px;}
.my_nala_main h3.my_nala{height: 52px;background:url(../images/my_nala_h3_bg.png)  no-repeat 0 0; padding-top:20px; border:1px solid #e7e7e7; border-bottom:none;}
.my_nala_main h3.my_nala a{display:block; padding-top:34px; height:0px; overflow:hidden;}
/*評價詳情相關開始*/
.my_nala_main .nala_list .account{padding:0 20px 15px;}
.my_nala_main .nala_list .noline{border: none;}
.my_nala_main .nala_list .account li{border-bottom:1px solid #e7e7e7;height: 32px; line-height:32px;color:#c4c4c4; position:relative;}
.my_nala_main .nala_list .account .first_list{font-size: 12px;font-weight: bold; color:#000; padding-left:4px;}
.my_nala_main .nala_list .account .second_list{margin-left: 15px;list-style-type: disc;list-style-position: inside;}
.my_nala_main .nala_list .account .fenge_li{margin:0;border-bottom:1px dashed #e7e7e7; padding-left:15px; padding-bottom:10px;}
.my_nala_main .nala_list .account ul li.current a{color: #d4062e;font-weight: bold;}
.my_nala_main .nala_list .account ul li .tip_3jiao{display:none;}
.my_nala_main .nala_list .account ul li.current .tip_3jiao{display:block;width:30px; height: 35px;background:url(../images/my_nala_3jiao.png)  no-repeat 0 0;position:absolute; top:0; right:-34px;}
/*評價詳情相關結束*/
a.close_tip{top:5px; right:5px; position:absolute;background: url(../images/closebutton_bg1.png) 0 0 no-repeat; width:15px; height:0; padding-top:15px; overflow:hidden; }
.inala_box_r{border: 1px solid #E7E7E7; margin-bottom:10px;}

/*我的NALA 首頁 右側my_nala_vip_dj*/
.my_nala_centre{float: right;width: 792px; overflow:hidden;}
.my_nala_centre .welcome_info{background: url(../images/gonggao.png) 14px 16px no-repeat; position:relative; padding:12px; padding-left:30px; height:18px;}

.my_nala_centre .my_nala_vip{padding:20px;}
.my_nala_vip h3{font-size: 14px; font-weight:bold;}
.my_nala_vip h3 a{margin-left:20px; font-size:12px; font-weight:normal;}
.my_nala_vip .login_tip{color:#999; margin:10px 0;}
.my_nala_vip .member_info{width:100%; margin-top:5px;}
.my_nala_vip .member_info td{padding:6px; vertical-align:top;}
.my_nala_vip .member_info td.tit{width:80px;}
.my_nala_vip .member_info td.txt span{margin-right:40px;}
.my_nala_vip .member_info td.txt span i{color:#c03;}
.my_nala_vip .member_info td.txt .member_name{height:55px;}
.my_nala_vip .member_info td.txt .member_num{width:340px; padding-left:14px;}
.my_nala_vip .member_info td.txt .member_num .member_num_total,.member_num_tongji dt{background: url(../images/my_nala_vip_dj.png) 0 1px no-repeat;}
.my_nala_vip .member_info td.txt .member_num .member_num_total{width:158px; padding:1px;border: 1px solid #e4e4e4; height:12px; overflow:hidden;}
.my_nala_vip .member_info td.txt .member_num .member_num_now{background:#e22b05; color:#fff; font-family:"細明體"; line-height:12px; height:12px; text-align:center;}
.my_nala_vip .member_info td.txt .member_num_tongji{position:relative; margin-top:6px; padding-top:5px;}
.my_nala_vip .member_info td.txt .member_num_tongji dt{ background-position:0 -14px; height:6px; width:6px; overflow:hidden; position:absolute; top:0; left:50px;}
.my_nala_vip .member_info td.txt .member_num_tongji dd{border:1px solid #f0e5ba; background:#ffffe9; padding:5px; text-align:center;}
.my_nala_vip .member_info td.txt .member_num_tongji dd i{color:#c03; margin:0 3px;}

.my_nala_vip .member_info td.txt .member_sm{color:#999; padding-bottom:20px; padding-top:10px;}
.my_nala_vip .member_info td.txt .member_sm a{margin-left:30px; }

.my_nala_centre .trade_tji{padding:10px; padding-left:120px;}
.my_nala_centre .trade_tji li{float:left; padding:0 30px;}
.my_nala_centre .trade_tji li a i{color:#c03;}

/*首頁：今日團購，瘋狂熱賣  tab框*/
.tuansection{}
.tuansection ul.title{height: 28px;border-bottom: 1px solid #e4e4e4;}
.tuansection ul.title li{height: 26px;line-height: 26px;float: left;border: 1px solid #e4e4e4;margin-right: 3px;display: block;padding: 0 35px;background:url(../images/header_subnav_bg.png) repeat-x 0 0; cursor:pointer; position:relative; top:1px;}
.tuansection ul.title li.on{border-bottom: 1px solid #fff;background:#fff;}
.tuansection .condv{padding: 12px 0 0 8px;border: 1px solid #e4e4e4; border-top:none; width:782px; overflow:hidden;}
.tuansection .condv ul{width:820px; padding-bottom:10px;}
.tuansection .condv .productsrow li{margin:0 10px;_display:inline;}

.tuansection .condv .today_tuan li{width:237px; margin:0 10px;}

/*我的NALA右側*/
.my_nala_main .my_nala_detail{float: right;width: 750px;border:1px solid #e7e7e7;padding: 20px;min-height:780px; _height:780px;}
.my_nala_detail h1{font-size: 14px;font-weight: bold;line-height: 25px;height: 25px; }
.my_nala_detail .detail_r{padding:20px 15px; }
.my_nala_detail .detail_r h2{height:20px; margin-bottom:5px; font-size:12px;font-weight:bold;}
.my_nala_detail .detail_r h2 a{font-weight:normal;}
.my_nala_detail .detail_r h3{height:20px; margin-bottom:5px; font-size:12px; border-bottom:1px solid #e7e7e7}
.my_nala_detail table.admin_table{width:100%; margin-bottom:50px;}
.my_nala_detail table.admin_table th{text-align:center; font-weight:normal;}
.my_nala_detail table.admin_table th,.my_nala_detail table.admin_table td{padding:14px 10px 5px;}
.my_nala_detail table.admin_table td.tc{text-align:center;}
.my_nala_detail table.admin_table td .address_a{display:none;}
.my_nala_detail table.admin_table td .address_ok_ico,.update_ok_ico{background: url(../images/icon_true_01.png) no-repeat 0 0; width:15px; height:15px; display:inline-block;}
.update_ok_ico{width:auto; padding-left:20px; line-height:16px;}

/*收貨地址*/
.form_box ul{padding: 8px 0 0 20px;}
.form_box li{padding:10px 0;}
.form_box li span{margin-right:20px; font-family:"細明體";}
.form_box li em{color:#f00;}
.form_box li a{margin-left:10px;color:#c03;}
.form_box li input{background: url(../images/login_input_bj.png) repeat-x 0 0;border: 1px solid #adadad; height: 28px; width: 168px; padding:0 3px; line-height:28px; overflow:hidden;}
.form_box li input.long{width:300px;}
.form_box li input.short{width:50px; text-align:center; margin-right:14px;}
.form_box li input.radio{width:20px; background:none; border:none;}
.my_nala_detail input.button{background: url(../images/login_button_bj.png) repeat-x 0 -5px;width: 100px;height: 34px;font-size: 12px;font-weight: bold;color: #fff;margin-top:10px;border: none;cursor:pointer; overflow:hidden;}


.my_nala_detail .my_point .Td_1 span{margin-right: 5px;margin-left: 5px;color: #D4062E;font-weight: bold;}
.my_nala_detail .My_collect #collectform .all_dispose a{margin-right: 10px;margin-left: 10px;}
.my_nala_detail .My_collect p{padding:0 10px;}
.my_nala_detail .My_collect p.Collect_time{color:#888;}
.my_nala_detail .My_collect p input{cursor:pointer; margin-top:18px;background: url(../images/login_button_bj.png) repeat-x 0 -10px; text-align:center; color:#fff; border:none; height:27px; line-height:27px; width:100px;}
.my_nala_detail .My_collect p.delete_btn{height:16px; margin-top:5px;}
.my_nala_detail .My_collect p.delete_btn a{display:none;}
.my_nala_detail .my_coupons .Td_4 a{margin-left: 10px;}
.my_nala_detail .My_account p{margin-left: 13px;margin-top: 5px;margin-bottom: 5px;}
.my_nala_detail .My_account span{font-size: 12px;font-weight: bold;color: #D4062E;}



#zhye_pagelist{padding-right:10px; text-align:right;}
#zhye_pagelist span{margin-left:5px; color:#333; font-weight:normal;}
#zhye_pagelist a{margin-left:5px;}
#collectform .Pad{margin-right: auto;margin-left: auto;margin-top: 5px;margin-bottom: 5px;font-size: 12px;font-weight: normal;border: 1px solid #F1F1F1;padding-bottom: 10px;width: 97%;}
#collectform .Pad p{width: 750px;margin-top: 10px;margin-left: 10px;}
#collectform .Pad ul{margin-left: 10px;margin-bottom: 10px;}
#collectform .Pad li{list-style-type: disc;margin-left: 30px;line-height: 20px;}
#collectform .Pad span{margin-left: 10px;font-weight: bold;font-size: 12px;}
#collectform .Copy_ads{padding-left: 15px;}
.Copy_ads li{line-height: 30px;}
.Copy_ads .Input_li input{width: 400px;height: 26px;font-size: 12px;background: url(../images/input_bj.png) repeat-x left center;line-height: 26px;border: 1px solid #adadad;padding-left: 6px;}
.Copy_ads .Input_li img{position: relative;left: 5px;}
.Copy_ads .Copy_ads_box{margin-top: 10px;margin-bottom: 10px;}
.Copy_ads .Copy_ads_box li{margin-right: 10px;display:inline;line-height: 30px;height: 30px;}
#collectform .Mail{font-size: 12px;margin: 10px;margin-right:5px;}
#collectform .Mail table td{border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;}
.Mail table input{width: 300px;height: 18px;padding-top: 3px;font-size: 12px;}
.Mail table textarea{height: 112px;width: 526px;font-size: 12px;border: 1px solid #adadad;}
.Under_main_box{width: 1007px;margin-top: 10px;margin-right: auto;margin-left: auto;}
.Under_main_box ul{margin-left: 20px;}
.Under_main_box li{float: left;margin-right: 20px;margin-left: 20px;}
.my_nala_detail .My_collect_right #collectform table{margin-top: 5px;}
.my_nala_detail .My_collect_right #collectform .Copy_ads .Input_li button{background: url(../images/login_button_bj.png) repeat-x left top;height: 28px;border: none;font-size: 12px;font-weight: bold;color: #FFFFFF;line-height: 28px;margin-left: 15px;width: 80px;}
.my_nala_detail .My_collect_right #collectform .Mail input{background: url(../images/input_bj.png) repeat-x left top;height: 26px;padding-left: 6px;border: 1px solid #adadad;line-height: 26px;}
.my_nala_detail .My_collect_right #collectform .Mail button{background: url(../images/login_button_bj.png) repeat-x left top;height: 28px;border: none;font-size: 12px;font-weight: bold;color: #fff;line-height: 28px;width: 80px;}

.User_information select{margin-right: 5px;font-size: 12px;}
.Basic_information h3{border-bottom:1px solid #E4E4E4;padding-left: 15px;font-size: 12px; font-weight:normal;}
.Basic_information ul{margin-top: 10px;margin-bottom: 10px;margin-left: 30px;}
.Basic_information li{font-size: 12px;line-height: 50px;height: 50px;}
.Basic_information #Input_text{width: 150px;background: url(../images/input_bj.png) repeat-x left center;height: 26px;border: 1px solid #adadad;line-height: 26px;}
.Basic_information img{position: relative;left: 20px;bottom: 1px;}
.Basic_information input{padding:3px}
.Select_information{margin-left: 30px;margin-top: 25px;margin-bottom: 15px;margin-right: 30px;text-align: left;}
.Select_information h3{font-size: 12px;font-weight: bold;border: 2px solid #E4E4E4;padding-left: 15px;}
.Select_information ul{margin-top: 10px;margin-bottom: 10px;margin-left: 30px;}
.Select_information li{font-size: 12px;line-height: 50px;height: 50px;}
.Select_information img{margin-left: 65px;margin-top: 5px;}
.my_nala_detail #userform .User_information .Basic_information button{background: url(../images/login_button_bj.png) repeat-x left top;font-size: 12px;line-height: 28px;font-weight: bold;color: #fff;height: 28px;border: none;margin-left: 10px;width: 100px;}
.my_nala_detail #userform .User_information .Select_information button{background: url(../images/login_button_bj.png) repeat-x left top;height: 28px;font-size: 12px;line-height: 28px;font-weight: bold;color: #fff;width: 100px;border: none;}
.my_nala_detail #change_pswform .Change_psw{position:relative;}
.my_nala_detail #change_pswform .Change_psw .popupbox_password_changed{width:315px; top:50%; left:50%; margin-top:-100px; margin-left:-150px;}
.my_nala_detail #change_pswform .Change_psw .change_success{position:absolute;top:50px;left:270px;padding:10px 30px;border:10px solid #666;text-indent:20px;color: #1d8900;font-size: 12px;background:#fff url(../images/true_pic.png) no-repeat 30px center;}
.my_nala_detail #change_pswform .Change_psw table{margin-top: 5px;}
.my_nala_detail #change_pswform .Change_psw .Text_input{line-height: 26px;background: url(../images/input_bj.png) repeat-x left center;height: 26px;border: 1px solid #adadad;width: 200px;margin-left: 10px;}
.my_nala_detail #change_pswform .Change_psw input.button, .my_nala_detail #change_pswform .Change_psw button{background: url(../images/login_button_bj.png) repeat-x left top;font-size: 12px;line-height: 28px;font-weight: bold;color: #fff;height: 28px;width: 100px;border: none;margin-right: 10px;margin-left: 10px;}
.my_nala_detail .comments_explain{margin-top: 40px;margin-bottom: 75px;}
.my_nala_detail .comments_explain h4{margin-left: 30px;}
.my_nala_detail .comments_explain ul{margin-left: 30px;}
.my_nala_detail .comments_explain a{color: #d4062e;}


.my_nala_centre .something_interesting{margin-top: 10px;}
.my_nala_centre .something_interesting ul{margin-left: 20px;}
.my_nala_centre .something_interesting li{width: 130px;text-align: center;float: left;}
.my_nala_centre .something_interesting b{font-weight: normal;}
.my_nala_centre .something_interesting em{font-size: 12px;font-weight: bold;color: #D4062E;}

/*評價表單css*/
.sectionbox div.content{padding:10px; border:1px solid #e7e7e7; overflow:hidden; _background:url(../images/sectionbox_content_bg.png) left top repeat-y;}
.sectionbox div.content p{padding:0 5px;}

.my_nala_detail .publish_comments{height: 60px;width: 720px;margin-top: 13px;margin-left: 18px;}
.my_nala_detail .publish_comments h4{font-size: 12px;font-weight: bold;}
.my_nala_detail .publish_comments p{line-height: 15px;margin-top: 5px;}
.my_nala_detail .comments_point{margin-left: 20px;margin-top: 30px;padding-left:25px;background: url(../images/comment-star-bg.png) 10px 4px no-repeat;}
.my_nala_detail .star_rating_con{width:200px;height:34px;margin-top:8px;padding:8px 12px;border:1px solid #bbb;float:left;}
.my_nala_detail .star_rating_info{float:left;height:50px;color:#666;line-height:50px;margin-top:8px;margin-left:20px;}
.my_nala_detail .comment_word{margin-left: 20px;margin-top: 25px;padding-left:25px;background: url(../images/comment-star-bg.png) 10px 4px no-repeat;}
.my_nala_detail .comment_word_con{}
.my_nala_detail .comment_word_con .comment_word_con_textarea{float:left;margin:0;padding:0;}
.my_nala_detail .comment_word_con .comment_word_con_textarea textarea{width:420px;height:90px;float:left;margin-top:5px;border:1px solid #bbb;overflow:auto;*margin-left:-20px;}
.my_nala_detail .comment_word_con .comment_word_con_info{float:left;width:270px;color:#666;padding-left: 15px;}
.my_nala_detail .red{color:#d4062e;}
.my_nala_detail .comment_word input.submit{width:81px;height:38px;margin-top:20px;margin-bottom:60px;position:relative;padding-bottom:2px;color:#fff;font-size:14px;border:none;background:url(../images/comment_submit_bg.png) left top no-repeat;cursor:pointer;outline:none;}
.my_nala_detail .publish_comments_success{padding-left:90px;background:url(../images/icon_checkmark.png) 45px 0 no-repeat;}
.my_nala_detail .publish_comments_success h3{margin:20px 0 15px 0;padding:0;}
.nala_list .admin_sidebar_box .account .second_list em{float: right;margin-right: 10px;}
.nala_list .admin_sidebar_box .account .second_list em a{color:#999;}
.nala_list .admin_sidebar_box .account .second_list em a:hover{color:#333;text-decoration: none;}

.my_nala_detail #change_pswform .change_success p{margin:20px;font-size:14px;font-weight:bold;}
.my_nala_detail .My_collect #collectform .td a{margin-left: 20px;}
.my_nala_detail #userform .User_information .Basic_information em{margin-left: 30px;color: #666666;}
.my_nala_detail .product_comments a.review{color: #d4062e;}
.my_nala_detail .my_point #orderform input{width: 200px;line-height: 26px;height: 26px;background: url(../images/input_bj.png) repeat-x left center;border: 1px solid #adadad;padding-left: 6px;}
.my_nala_detail .my_point #orderform button{width: 80px;margin-right: 20px;margin-left: 5px;}
.my_nala_detail .my_point #orderform .pay_button{background: url(../images/login_button_bj.png) repeat-x left top;color: #fff;line-height: 20px;height: 20px;border: none;width: 70px;font-size: 12px;margin-left: 5px;margin-right: 5px;}
.my_nala_detail .my_point #orderform .order_number span{margin-right: 15px;color: #666666;}
.my_nala_detail .my_point #orderform .order_number em{color: #d4062e;font-weight: bold;}
.refund{float: right;width: 792px;}
.refund h3{font-size: 12px;font-weight: bold;color: #333333;margin-top: 5px;margin-bottom: 10px;padding-left: 10px;}
.refund .my_refund{border: 1px solid #e4e4e4;padding-bottom: 6px;}
.refund .my_refund table td{border: 1px solid #e4e4e4;}
#refoundform .refund .refund_application{border: 1px solid #e4e4e4;margin-top: 13px;padding-bottom: 10px;}
#refoundform .refund .refund_application h3{height: 34px;line-height: 34px;border-bottom: 1px solid #e4e4e4;}
#refoundform .refund .refund_application span{float: right;font-weight: normal;_margin-top: 5px;}
#refoundform .refund .refund_application h3 img{margin-right: 5px;margin-left: 5px;}
#refoundform .refund .refund_application .refund_inf{margin-bottom: 10px;background-color: #FFFFFF;}
#refoundform .refund .refund_application .refund_inf .inf_tip{width: 100px;float: left;text-align: right;height: 28px;line-height: 28px;}
#refoundform .refund .refund_application .refund_inf .write_inf{width: 500px;float: left;margin-left: 10px;*margin-left: 0px;}
#refoundform .refund .refund_application .refund_inf .write_inf .text_input{background: url(../images/input_bj.png) repeat-x left center;height: 26px;width: 168px;border: 1px solid #adadad;line-height: 26px;}
#refoundform .refund .refund_application .refund_inf .write_inf .write_text button,
#refoundform .refund .refund_application .refund_inf .write_inf button{background: url(../images/ok_button_bj.png) repeat-x left top;height: 28px;line-height: 28px;border: none;width: 68px;color: #fff;margin-left: 5px;}
#refoundform .refund .refund_application .refund_inf .write_inf .write_text em{color: #ff6600;margin-left: 12px;}
#refoundform .refund .refund_application .refund_inf .write_inf .refund_product{margin-top: 5px;border: 1px solid #e4e4e4;background-color: #f8f8f8;width: 424px;padding-bottom: 10px;}
#refoundform .refund .refund_application .refund_inf .write_inf .refund_product h4{margin-top: 10px;margin-left: 15px;margin-bottom: 5px;}
#refoundform .refund .refund_application .refund_inf .write_inf .refund_product ul{margin-left: 35px;}
#refoundform .refund .refund_application .refund_inf .write_inf .refund_product em{margin-left: 10px;}
#refoundform .refund .refund_application .refund_inf .write_inf span{float: none;margin-left: 37px;}
#refoundform .refund .refund_application .refund_inf .write_inf strong{color: #FF0000;font-weight: normal;}
#refoundform .refund .refund_application .refund_inf .write_inf li{line-height: 25px;height: 25px;}
#refoundform .refund .refund_application .refund_inf .write_inf .account_tip{width: 203px;height: 30px;line-height: 30px;text-align: center;background-color: #F8F8F8;border: 1px solid #e4e4e4;margin-left: 25px;}
#refoundform .refund .refund_application .refund_inf .write_inf .text_money{background: url(../images/input_bj.png) repeat-x left center;height: 26px;width: 78px;border: 1px solid #adadad;line-height: 26px;padding-left: 6px;}
#refoundform .refund .refund_application .refund_inf .write_inf .refund_reason{width: 424px;height: 126px;background: url(../images/input_bj.png) repeat-x left top;border: 1px solid #adadad;overflow:auto;}
#refoundform .refund .refund_application .refund_inf .write_inf .text_proof{width: 340px;line-height: 26px;background: url(../images/input_bj.png) repeat-x left center;height: 26px;border: 1px solid #adadad;}
#refoundform .refund .refund_application .refund_inf .write_inf button{}
#refoundform .refund .refund_application .refund_inf .write_inf p{margin-top: 5px;margin-bottom: 5px;}
#refoundform .refund .refund_application .refund_inf .write_inf .more_again{margin-left: 10px;background: url(../images/icon_increase.png) no-repeat left center;padding-left: 17px;}
#refoundform .refund .refund_submit{font-size: 14px;font-weight: bold;color: #fff;background: url(../images/login_button_bj.png) repeat-x left top;height: 39px;width: 170px;border: none;line-height: 39px;margin-left: 110px;}
#refoundform .refund .refund_application .refund_success h4{color: #1d8900;font-size: 18px;font-weight: bold;background: url(../images/true_pic.png) no-repeat left center;padding-left: 35px;line-height: 30px;height: 30px;margin-left: 70px;margin-top: 20px;}
#refoundform .refund .refund_application .refund_success a{margin-right: 20px;}
#refoundform .refund .refund_application .refund_success p{margin-left: 105px;line-height: 30px;}

/*商品評價頁面*/
.star_rating,.star_rating a:hover,.star_rating a:active,.star_rating a:focus,.star_rating .current_rating{background: url(../images/pingfen_star_bg.png) left -1000px repeat-x;}
.star_rating{position: relative;width: 200px;height: 33px;overflow: hidden;list-style: none;margin: 0;padding: 0;background-position: left top;}
.star_rating li{display: inline; padding:0;}
.star_rating a,.star_rating .current_rating{position: absolute;top: 0;left: 0;text-indent: -1000em;height: 33px;line-height: 33px;outline: none;overflow: hidden;border: none;}
.star_rating a:hover,.star_rating a:active,.star_rating a:focus{background-position: left bottom;}
.star_rating a.one_star{width: 20%;z-index: 6;}
.star_rating a.two_stars{width: 40%;z-index: 5;}
.star_rating a.three_stars{width: 60%;z-index: 4;}
.star_rating a.four_stars{width: 80%;z-index: 3;}
.star_rating a.five_stars{width: 100%;z-index: 2;}
.star_rating .current_rating{z-index: 1;background-position: left center;}


/*我的NALA首頁  今日團購*//*李洋*/
.my_nala_main .my_nala_centre .tuansection .condv .today_tuan .today_tuan_pro{ width:237px; height:271px; background:url(../images/inala_tuan_bj.png) no-repeat 0 0; padding-top:50px;}
.my_nala_main .my_nala_centre .tuansection .condv .today_tuan .today_tuan_pro h3{ font-size:18px; font-weight:bold; margin-left:25px;}
.my_nala_main .my_nala_centre .tuansection .condv .today_tuan .today_tuan_pro h3 a{ color:#d4062e;}
.my_nala_main .my_nala_centre .tuansection .condv .today_tuan .today_tuan_pro h4{ font-size:14px; color:#999; font-weight:bold; margin-left:25px;}
.my_nala_main .my_nala_centre .tuansection .condv .today_tuan .today_tuan_pro .pro_inf{ padding-top:15px; margin-left:10px;}
.my_nala_main .my_nala_centre .tuansection .condv .today_tuan .today_tuan_pro .pro_inf_left{width:110px; float:left;}
.my_nala_main .my_nala_centre .tuansection .condv .today_tuan .today_tuan_pro .pro_inf_left span{ margin-left:20px; display:block; width:53px; height:43px; padding-top:10px; text-align:center; font-size:22px; font-weight:bold; background:url(../images/inala_tuan_zhe_bj.png) no-repeat 0 0; color:#fff; line-height:18px;}
.my_nala_main .my_nala_centre .tuansection .condv .today_tuan .today_tuan_pro .pro_inf_left strong{ font-size:24px; color:#d4062e; font-weight:bold; margin-left:10px;}
.my_nala_main .my_nala_centre .tuansection .condv .today_tuan .today_tuan_pro .pro_inf_left a{ display:block; width:106px; height:32px; background:url(../images/inala_tuan_button_bj.png) 0 0; line-height:32px; text-indent:15px; font-weight:bold; font-size:16px; color:#333;}
.my_nala_main .my_nala_centre .tuansection .condv .today_tuan .today_tuan_pro .pro_pic{ float:left;}

/*我的NALA首頁修改inala_news及inala_welcome*/
.my_nala_main .my_nala_centre .inala_news{ height:34px; line-height:34px; border:1px solid #e4e4e4; padding-left:35px; background:url(../images/news_tip.png) no-repeat 15px center;}
.my_nala_main .my_nala_centre .inala_welcome{ height:60px; background:#f5f5f5; border-bottom:1px solid #e4e4e4; border-top:2px solid #111; padding-left:10px;}
.my_nala_main .my_nala_centre .inala_welcome h3{ font-size:14px; font-weight:bold;}
.my_nala_main .my_nala_centre .inala_welcome h3 a{ font-weight:normal; font-size:12px; margin-left:40px;}
.my_nala_main .my_nala_centre .inala_welcome .login_tip{ margin-top:5px; font-size:12px; color:#999;}
.my_nala_main .my_nala_centre .inala_welcome .welcome_left{ padding-top:10px; width:400px; float:left;}
.my_nala_main .my_nala_centre .inala_welcome .welcome_right a{ display:block; float:right; height:40px; line-height:40px; margin-top:10px; width:350px; background:url(../images/next_vip_news_01.png) no-repeat 0 0; padding: 0 15px;}
.my_nala_main .my_nala_centre .inala_welcome .welcome_right a:hover{ display:block; float:right; height:60px; line-height:60px; margin-top:0px; width:350px; text-decoration:none; background: #ffffe9 url(../images/next_vip_news_02.png) no-repeat 0 1px; padding:0 15px;}

/*--左側slidebar--*/
.my_nala_main .slidebar{float: left;width: 205px;}
.my_nala_main .slidebar .slide_item{ border:1px solid #e7e7e7; margin-bottom: 10px; }
.my_nala_main .slidebar .slide_item li{ position: relative; }
.my_nala_main .slidebar .slide_item .item .node_icon{ display:inline-block; width:18px; height:18px; vertical-align:middle;; background:url(../images/inala_tip_bj.png) 0 -12px no-repeat; margin-right: 3px; }
.my_nala_main .slidebar .slide_item .item .node_name{ display:inline-block; padding: 1px 0; text-decoration: none; vertical-align: middle; }
.my_nala_main .slidebar .slide_item .item ul{ padding-left: 36px; border-bottom: solid 1px #e7e7e7; }
.my_nala_main .slidebar .slide_item .item .root_node{ border-bottom: solid 1px #e7e7e7; padding: 14px 0 14px 26px; }
.my_nala_main .slidebar .slide_item .item .node{ padding:10px; }
.my_nala_main .slidebar .slide_item .item .icon_expanded{ background-position: 0 -444px; }
.my_nala_main .slidebar .slide_item .item .icon_order_form{ background-position: 0 -12px; }
.my_nala_main .slidebar .slide_item .item .icon_integral{ background-position: 0 -50px; }
.my_nala_main .slidebar .slide_item .item .icon_coupon{ background-position: 0 -84px; }
.my_nala_main .slidebar .slide_item .item .icon_discount_coupon{background-position: 0 -121px; }
.my_nala_main .slidebar .slide_item .item .icon_number{ background-position: 0 -157px; }
.my_nala_main .slidebar .slide_item .item .icon_account_balance{ background-position: 0 -196px; }
.my_nala_main .slidebar .slide_item .item .icon_consult{ background-position: 0 -560px; }
.my_nala_main .slidebar .slide_item .item .icon_appraise{ background-position: 0 -228px; }
.my_nala_main .slidebar .slide_item .item .icon_refund{ background-position: 0 -266px; }
.my_nala_main .slidebar .slide_item .item .icon_collect{ background-position: 0 -299px; }
.my_nala_main .slidebar .slide_item .item .icon_person_document{ background-position: 0 -336px; }
.my_nala_main .slidebar .slide_item .item .icon_edit_address{ background-position: 0 -371px; }
.my_nala_main .slidebar .slide_item .item .icon_edit_pwd{ background-position: 0 -408px; }
.my_nala_main .slidebar .slide_item .item .icon_security_settings { background-position: 0 -516px; }
.my_nala_main .slidebar .slide_item .item .icon_nami{ background-position: 0 -606px; }
.my_nala_main .slidebar .slide_item .item .icon_nami_horn{ background-position: 0 -642px; margin-left:56px;}
.my_nala_main .slidebar .slide_item .item .corner{display:block;width:30px; height: 35px;background:url(../images/my_nala_3jiao.png)  no-repeat;position:absolute; top:50%; margin-top:-18px; right:-12px;}
/*--左側slidebar結束--*/

.my_nala_detail .choose{ margin-left:45px; margin-top:25px;}
.my_nala_detail .choose h4 span{color:#666;}
.my_nala_detail .choose ul{ margin-top:15px;}
.my_nala_detail .choose li{ float:left; margin-right:15px;}
.my_nala_detail .choose li label{ margin-left:5px; cursor:pointer;}
.my_nala_detail .choose li label:hover{ text-decoration:none; color:#d4062e; cursor:pointer;}





