@charset "utf-8";
/* CSS Document */

.zi_tip{ width:1007px; margin:0 auto;}
.zi_tip li{ float:left; height:30px; line-height:30px; margin-right:5px;}
.zi_tip li a{ margin-right:5px;}

.main_bj{ width:100%; margin:0 auto;}
.main_bj .main{ width:1007px; margin:0 auto; background:#fff;}
.main_bj .main .top_pro{ border:1px solid #e7e7e7;}
.main_bj .main .top_pro li{ width:170px; float:left; margin-left:25px; _margin-left:20px;}
.main_bj .main .top_pro li a{ display:block; width:150px; padding:10px; text-align:left; background:#fff;}
.main_bj .main .top_pro li a:hover{ background:#f6f6f6; text-decoration:none;}
.main_bj .main .top_pro li a img{margin-bottom:5px;}
.main_bj .main .top_pro li a p.name{ height:20px; width:150px; margin:0 auto; line-height:20px; overflow:hidden; color:#111;}
.main_bj .main .top_pro li a p.xiao{ color:#999;}
.main_bj .main .detail_box{ margin-top:10px;}



.main_bj .main .detail_box .detail_left{ width:640px; padding-bottom:25px; float:left;}
.main_bj .main .detail_box .detail_left .content{ border:1px solid #e4e4e4; padding-bottom:40px;}
.main_bj .main .detail_box .detail_left .comtent_bj{ padding:15px 0 0 0;; background:#f8f8f8;}
.main_bj .main .detail_box .detail_left .comtent_bj h2{ font-size:24px; font-family:"微軟雅黑"; font-weight:bold; color:#d4062e; padding-left:25px}
.main_bj .main .detail_box .detail_left .comtent_bj h4{ color:#666; padding-left:25px}
.main_bj .main .detail_box .detail_left .comtent_bj h2 a,.main_bj .main .detail_box .detail_left .comtent_bj h2 span.like{ display:block; padding:0 5px; margin:8px 5px 0 0; height:22px; float:right; font-size:14px; font-weight:normal; color:#111; border:1px solid #e7e7e7; text-indent:20px; background:#fff url(../images/like_bj.png) no-repeat 8px 6px;}
.main_bj .main .detail_box .detail_left .comtent_bj h2 a:hover{ text-decoration:none; color:#d4062e;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content{ padding:10px 25px; border-bottom:1px dotted #e4e4e4; border-top:1px dotted #e4e4e4; margin-top:10px;}
.main_bj .main .detail_box .detail_left .share{ margin:10px 0 0 25px;}


.main_bj .main .detail_box .detail_left .content_other{ border:1px solid #e4e4e4; margin-top:10px;}
.main_bj .main .detail_box .detail_left .about_this{ width:590px; margin:20px auto 10px auto;}
.main_bj .main .detail_box .detail_left .about_this h3{ font-size:14px; font-weight:bold;}
.main_bj .main .detail_box .detail_left .about_this h3 span{ color:#d4062e; font-size:16px;}
.main_bj .main .detail_box .detail_left .about_this .about_list{ width:100%; background:#f8f8f8; padding:10px 0; margin-top:15px; position:relative;}
.main_bj .main .detail_box .detail_left .about_this .about_list li{ width:255px; float:left; height:21px; line-height:21px; margin-left:20px; overflow:hidden; list-style: disc inside;}
.main_bj .main .detail_box .detail_left .about_this .about_list li a{ color:#666;}
.main_bj .main .detail_box .detail_left .about_this .about_list li a:hover{ color:#d4062e;}
.main_bj .main .detail_box .detail_left .about_this .about_list span{ display:block; width:18px; height:9px; background:url(../images/zi_tip_san.png) no-repeat 0 0; position:absolute; top:-9px; left:50px;}

.main_bj .main .detail_box .detail_right{ width:350px; float:right;}
.main_bj .main .detail_box .detail_right img{ border:1px solid #e4e4e4;}
.main_bj .main .detail_box .detail_right .hot_news{ width:348px; margin:10px 0; border:1px solid #e4e4e4; padding-bottom:10px;}
.main_bj .main .detail_box .detail_right .hot_news h3,.main_bj .main .detail_box .detail_right .most_pro h3{ height:35px; line-height:35px; text-indent:20px; font-weight:bold; background:#f8f8f8; }
.main_bj .main .detail_box .detail_right .hot_news ul{ width:310px; margin:10px auto;}
.main_bj .main .detail_box .detail_right .hot_news ul li{ width:140px; float:left; height:21px; line-height:21px; overflow:hidden; list-style:disc inside; margin-right:15px;}
.main_bj .main .detail_box .detail_right .most_pro{ margin-top:10px; border:1px solid #e4e4e4;}
.main_bj .main .detail_box .detail_right .most_pro h3{}

/*產品樣式*/
.main_bj .main .detail_box .detail_right .most_pro ul.productsrow li {width:172px; height:276px;  float:left; margin:0 1px; overflow:hidden; position:relative;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem {display:inline-block; padding:10px; cursor:pointer; text-decoration:none;position:relative; overflow:hidden;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem:hover { background-color:#f6f6f6; text-decoration:none;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem span.productname {width:145px; height:38px; line-height:19px; display:block; overflow:hidden;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem span.description {width:145px; display:block; color:#999;  white-space:nowrap; overflow:hidden;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem:hover span.productname{color:#d4062e;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem span.productimg img {width:150px; height:150px; display:block;  background:#fff url(../images/imgloading.gif) center center no-repeat; border:1px solid #e7e7e7; cursor:pointer; overflow:hidden;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem span.nalaprice {color:#d4062e;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem span.nalaprice b {font-size:18px;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem span.nalaprice span.promotion {color:#333; font-size:12px; font-weight:normal;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem span.xszk {padding-left:45px; background:url(../images/product_xszk_bg.png) left center no-repeat;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem span.discount {width:43px; height:36px; position:absolute; top:12px; right:5px; color:#fff; padding:3px 0 0 1px; line-height:13px; text-align:center; vertical-align:middle; background:url(../images/product_discount_bg.png) top left no-repeat;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem span.discount strong {display:block; line-height:14px; font-weight:bold;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem span.tgjg {padding-left:60px; background:url(../images/tuan_price_pic.png) left center no-repeat;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem span.specialinfo {width:32px; height:32px; position:absolute; top:12px; right:12px; color:#fff; line-height:32px; text-align:center; background:url(../images/product_special_info_bg.png) center center no-repeat;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem span.sales {color:#d4062e;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem span.price {display:none; color:#999; font-weight:normal;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem span.price .line {text-decoration:line-through;}
.main_bj .main .detail_box .detail_right .most_pro a.productitem span.salerow {color:#999;}
.main_bj .main .detail_box .detail_right .most_pro a.addcart {width:16px; height:16px; position:absolute; top:168px; right:13px; text-indent:-9999px; background-position:-283px -175px; outline:none; overflow:hidden;}
.main_bj .main .detail_box .detail_right .most_pro a.addcart:hover {background-position:-51px -80px; }


.main_bj .main .detail_box .detail_left .slides_control li{ width:110px; float:left; margin-right:20px;}
.main_bj .main .detail_box .detail_left .slides_control li img{ border:1px solid #e7e7e7; margin-bottom:5px;}
.main_bj .main .detail_box .detail_left .sectionitems { padding:20px 0 40px; position:relative;}
.main_bj .main .detail_box .detail_left .sectionitems .sectionitems_ul { padding-left:23px;}
.main_bj .main .detail_box .detail_left .sectionitems .slides_container p.name{ width:110px; height:34px; overflow:hidden;}
.main_bj .main .detail_box .detail_left .sectionitems .slides_container { width:520px; overflow:hidden; height:160px; position:relative; padding-left:20px;}
.main_bj .main .detail_box .detail_left .sectionitems .slides_container ul { width:590px; display:block; height:160px;}
.main_bj .main .detail_box .detail_left .sectionitems a.prev { width:33px; height:43px; display:block; position:absolute; left:0; top:70px; background: url(../images/scrollable_bgs.png) no-repeat 4px 0; outline:none; text-indent:-9999px;}
.main_bj .main .detail_box .detail_left .sectionitems a.next { width:33px; height:43px; display:block; position:absolute; right:0; top:70px; background:url(../images/scrollable_bgs.png) no-repeat -36px 0; outline:none; text-indent:-9999px;}


.main_bj .main .detail_box .detail_left .comtent_bj .news_content p{ font-size:14px; color:#424242; margin:5px 0; text-indent:24px;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content h5{ font-weight:bold; margin:10px 0; font-size:14px;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .news_product{ background:#fff; padding:10px 15px; width:560px;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .news_product .product{ border-bottom:1px dashed #e4e4e4; padding:5px 15px;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .news_product .product .pro_img{ width:158px; height:158px; border:1px solid #e4e4e4; float:left;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .news_product .product .pro_inf{ float:left; margin-left:10px;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .news_product .product .pro_inf h3{ font-weight:bold; margin-bottom:5px;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .news_product .product .pro_inf .line_a a{ margin-right:10px; color:#6e6e6e;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .news_product .product .pro_inf .line_a{ height:39px; line-height:39px; margin-top:5px; _margin-top:2px;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .news_product .product .pro_inf a.detail{ display:block; width:145px; height:39px; line-height:39px; font-size:14px; color:#fff; float:left; text-align:center; background:url(../images/login_button_bj.png) repeat-x 0 0;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .news_product .product .pro_inf a.detail:hover{ text-decoration:none;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .news_product .product .pro_inf .grade{ height:20px; width:270px;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .news_product .product .pro_inf .grade span.ping_tip{ display:block; color:#666; width:40px; height:11px; float:left;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .news_product .product .pro_inf .grade .fen_inf {float:left;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .news_product .product .pro_inf .grade .fen_inf .xing_bj{ width:55px; height:11px; background:url(../images/one_star_hui.png) repeat-x 0 0; float:left; margin-right:10px; margin-top:3px; position:relative;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .news_product .product .pro_inf .grade .fen_inf .xing_bj .xing{ height:11px; position:absolute; top:0; left:0; background:url(../images/one_star_yellow.png) repeat-x 0 0;}

.main_bj .main .detail_box .detail_left .comtent_bj .news_content .product_tip{ margin-bottom:20px;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .product_tip li{width:110px; float:left; margin-right:30px;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .product_tip img{ border:1px solid #e7e7e7; margin-bottom:5px;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content .product_tip span.name{ display:block; width:110px; height:34px; overflow:hidden;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content p a.thick{ font-weight:bold; color:#111;}
.main_bj .main .detail_box .detail_left .comtent_bj .news_content p a.thick:hover{ color:#d4062e;}