<!-- Datatables -->
<link href="css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="css/scroller.bootstrap.min.css" rel="stylesheet">
<!-- Datatables -->
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/dataTables.bootstrap.min.js"></script>
<script src="js/dataTables.buttons.min.js"></script>
<script src="js/buttons.bootstrap.min.js"></script>
<script src="js/buttons.flash.min.js"></script>
<script src="js/buttons.html5.min.js"></script>
<script src="js/buttons.print.min.js"></script>
<script src="js/dataTables.fixedHeader.min.js"></script>
<script src="js/dataTables.keyTable.min.js"></script>
<script src="js/dataTables.responsive.min.js"></script>
<script src="js/responsive.bootstrap.js"></script>
<script src="js/dataTables.scroller.min.js"></script>
<!-- Jeditable -->
<script src="js/jquery.jeditable.min.js"></script>
<script src="js/jquery.jeditable.charcounter.min.js"></script>
<script src="js/jquery.jeditable.checkbox.js"></script>
<script src="js/jquery.jeditable.datepicker.min.js"></script>
<script src="js/jquery.jeditable.autogrow.min.js"></script>
<script src="js/jquery.jeditable.masked.min.js"></script>
<script src="js/jquery.jeditable.time.min.js"></script>
<!-- treegrid(Treeview) -->
<link href="css/jquery.treegrid.css" rel="stylesheet">
<script src="js/jquery.treegrid.min.js"></script>
<script src="js/jquery.treegrid.bootstrap3.js"></script>

<!--
data:
data-key PRIMARY KEY
data-id  COLUMN NAME
data-sort CAN SORT
data-hidden DISPLAY
data-order ORDER
data-orderby [ASC, DESC]
data-type [toggle, date, integer, price, treeview, image, select]
data-edit CAN EDIT
data-url ADD <a></a>


yohoTable.query = 'query'; // $_REQUEST['act'] == 'query'
yohoTable.table_id = null;
yohoTable.url = null; // call php file (default : self .php)
yohoTable.paging = true;
yohoTable.rowCallback = function (row, data, dataIndex) {};
yohoTable.drawCallback = function (settings) {};

Call datatable function : var $table = yoho_dataTable();
$table.getSelectValue() : Get selected value
$table.confirmBatch()   : confirmBatchfunction -> call $_REQUEST['act'] == 'batch' and request id
$table.draw()           : reload table
$table.search($filter)  : filter table
-->